[2021-05-07 01:23] keqiaozhang opened #2898 "[BUG] SDW_SCP_STAT bread failed on CML SKU0983 SDW device when testing Runtime PM"
**Describe the bug**
CI detected this issue when testing Runtime PM on CML_SKU0983_SDW. The Device does not respond to commands during the clock stop phase.

**To Reproduce**
~/sof-test/test-case/check-runtime-pm-status.sh -l 15

**Reproduction Rate**
Hard to tell the reproduction rate, it's very low.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 3043605a
SOF Branch: main
SOF Commit

[2021-05-07 03:18] XiaoyunWu6666 commented on #2908
More detailed reproduction steps here

**Reproduction steps**
Step 1、
run TGLU_SKU0A32_SDCA.sh(attached in the end) ,or run 'cget ...' manually , and then run
`TPLG=sof-tgl-rt711-rt1316-rt714.tplg ~/sof-test/test-case/check-alsabat.sh -p hw:sofsoundwire,0 -c hw:Device,0`
[Failed]
Step 2、
run 'alsamixer',find item ' rt711 FU05', press up button once and press down button once [do not change any val

[2021-05-07 07:06] bardliao commented on #2544
@KaiChuan-Hsieh Is this issue solved? Can we close this issue?

[2021-05-07 07:08] bardliao commented on #2637
@plbossart Can we close this issue now?

[2021-05-07 07:18] keyonjie commented on #2824
Yes, let's close it, and file new multi-core issues if observed by CI after topology change https://github.com/thesofproject/sof/pull/4153 merged.

[2021-05-07 07:18] #2824 closed

[2021-05-07 07:30] KaiChuan-Hsieh commented on #2544
@bardliao yes, the issue is solved. Thanks for all of you kindly support.

[2021-05-07 07:30] #2544 closed

[2021-05-07 07:42] XiaoyunWu6666 commented on #2908
Actually when I use kernel & fw & tplg on April 26 [April 26 Daily Result link :http://sof-ci.sh.intel.com/#/result/planresultdetail/3550,check-alsabat-headset-playback run quite well on TGLU_SKU0A32_SDCA ] ,  signal overflow can be reproduced too (though not caused by 'cset').

**Reproduction**
1、Run 'amixer -c sofsoundwire cset name='rt711 FU05 Playback Volume' 55; TPLG=/lib/firmware/intel/sof-t

[2021-05-07 09:19] kv2019i commented on #2829
We did some testing with @padmashree9110 today and:
 - logs show that /sys/kernel/debug/dri/0/i915_display_info shows an audio capable monitor
 - drm:i915_audio_component_get_eld() traces show that towards ALSA, none of the monitors are reported to have audio
 - reloading the driver does not help
 - tested with upstream 5.11 kernel

So this would indeed point to some i915 side issue that we have n

[2021-05-07 10:11] plbossart commented on #2898
Fixed by https://github.com/thesofproject/linux/pull/2895
Well, at least the log is removed, we still don't know what causes the devices to go off the bus.

[2021-05-07 10:14] plbossart commented on #2637
humm, no, this is still open IMHO. We still have no explanation as to why we did a revert for max98373, and we haven't sent that patch upstream. We clearly need to figure this out. @bardliao @ryans-lee can you take a look?

[2021-05-07 10:56] plbossart commented on #2908
sorry @XiaoyunWu6666, I don't see how a cget could lead to a fail?
The mixer values have not been modified by a cget. There's got to be a different side effect or something, this doesn't seem right to me.

[2021-05-07 12:38] plbossart opened #2901 "intel/boards: issues reported by sparse"
[code]

[2021-05-07 19:56] plbossart commented on #2901
fixed by https://github.com/thesofproject/linux/pull/2903

[2021-05-07 19:56] #2901 closed

[2021-05-08 05:40] XiaoyunWu6666 commented on #2908
Situations before April 26 are not confirmed yet so I hide my comment yesterday.

However ,the fact that cget causes a fail is true.
In my understanding , the mixer values should have not been modified by a cget. But after I execute merely cget , alsabat test did change from pass to fail . This may look non-sense , just my random test behavior , but it did leads to different test results.

To repr

[2021-05-09 02:37] H-Park commented on #2748
I don't believe the script will work if your OS is not reporting a sound card. What are all your kernel parameters?

@tiwai Given 5.13 won't be out for about another month, and then longer still depending on what distribution people run, do you have any recommendations for what to do in the mean time? A github wiki guide? Have someone make a post on the official lenovo forum?

Lenovo [discontinued

[2021-05-09 18:49] juliusvonkohout opened #2906 "[BUG] Yoga slim 7i 15ITL05 Tiger lake only 2 of 5 speakers are working."
**Describe the bug**
The three bass speakers above the keyboard do work in windows but not Linux (Fedora 34) with SOF 1.6.1. The bottom speaker for mids and highs do work. The volume for the bass speakers is fixed to "00".

**To Reproduce**
Play sound under Windows and then under Linux. The bass Speaker in Linux is off. It is not possible to change the bass speaker mixer volume.

**Reproduction Ra

[2021-05-10 02:20] keyonjie commented on #2761
@lyakh can you close it and reopen if needed in future?

[2021-05-10 02:46] mengdonglin commented on #2851
@stakaz Please contact OEM to work with Realtek and amplifier vendor to fix this issue in Linux.

[2021-05-10 02:46] #2851 closed

[2021-05-10 02:50] mengdonglin commented on #2869
@lyakh will you help fix this issue?

[2021-05-10 03:03] keyonjie commented on #2906
@juliusvonkohout we support only 2 channels in hda-generic, can you ask support from the codec vendor?

[2021-05-10 03:07] aiChaoSONG commented on #2906
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6449153/sof-dyndbg.conf.txt)

Please rename the attached file to sof-dyndbg.conf, and put it to `/etc/modprobe.d`, reboot, get dmesg output and upload again.

[2021-05-10 03:26] brentlu opened #2907 "[FEATURE] Explicit clock control"
Some codecs need external clock (mclk or bclk) to be ready in prepare stage or some function may broken.

To support those codec, we need to implement explicit clock control so machine driver could enable/disable the clock via DAPM supply widget or set_bias_level callback.

This feature has been implemented on SST FW running on Chrome KBL platforms. Following are the mailthread:
https://mailman.al

[2021-05-10 03:27] brentlu commented on #2907
same request in sof
https://github.com/thesofproject/sof/issues/4156

[2021-05-10 08:58] libinyang commented on #2908
This bug is caused by FU05 volume set wrongly. After cget the FU05 volume, there is possibility the FU05 volume will be changed in next playback. It should be the codec issue. PR thesofproject/linux@ca5118c is related with FU0E and FU0F. Not sure whether there is relationship between them. I will debug on it.

[2021-05-10 09:33] XiaoyunWu6666 opened #2909 "[BUG] pcm_Read error occurs on TGLU_RVP_NOCODEC when check-capture-50rounds"
**Describe the bug**
Found on May 09 daily test [http://sof-ci.sh.intel.com/#/result/planresultdetail/3845](url)

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-capture.sh -d 1 -l 1 -r 50

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 9101539a
SOF Branch: main
SOF Commit: 47d223c09ff5
TPLG=sof-tgl-nocodec-ci.tplg
Device:TGLU_RVP_N

[2021-05-10 10:08] juliusvonkohout commented on #2906
It is stereo / 2.0 , but using multiple amplifiers and 5 Speakers. A lot of new Lenovo Laptops have that configuration.

[2021-05-10 10:14] juliusvonkohout commented on #2906
[dmesg.txt](https://github.com/thesofproject/linux/files/6451292/dmesg.txt)

[2021-05-10 15:18] plbossart commented on #2906
@juliusvonkohout please see some of the documentation at https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#disable-sof-on-pci-hdaudio-devices-to-test-audio-playback

As said above, SOF only generates 2 channels for HDaudio, so you are likely facing a codec driver issue. Please try to reproduce this issue with the legacy driver.

If this is confirmed, then you are

[2021-05-10 17:09] #2898 closed

[2021-05-10 18:07] juliusvonkohout commented on #2906
[dmesg_snd-intel-dspcfg-dsp_driver=1.txt](https://github.com/thesofproject/linux/files/6454038/dmesg_snd-intel-dspcfg-dsp_driver.1.txt)

So i guess it is the amplifier. Other Lenovo Laptops have kernel bugs regarding the amplifiers https://bugzilla.kernel.org/show_bug.cgi?id=205755 but there are some models which have solutions https://bugs.launchpad.net/ubuntu/+source/alsa-ucm-conf/+bug/1872108.

[2021-05-10 21:31] marc-hb commented on #2909
Can we find which commit introduced this?

[2021-05-11 02:29] keyonjie commented on #2909
Thanks for reporting @XiaoyunWu6666 .
@marc-hb This looks like a new issue observed by our CI about multi-core, that's why we need the topology change merged as early as possible.

[2021-05-11 02:35] marc-hb commented on #2909
Actually, that can't be right because:

Pretty sure you mean this one : https://github.com/thesofproject/sof/pull/4153

Based on all the above I'm transferring this from `thesofproject/linux` to `thesofproject/sof`

[2021-05-11 07:19] RanderWang commented on #2894
BE ID order is based on topology, not snd_soc_acpi_link_adr array. We reuse our topology, so we have to match snd_soc_acpi_link_adr  with topology. Adding a BE ID can decouple snd_soc_acpi_link_adr with topology on definition order

[2021-05-11 07:41] libinyang commented on #2908
At first, I thought this is a bug related regmap cache issue. After disable cache, the bug still can be reproduced. Another finding is the bug can **NOT** be reproduced on my rt711-rt1316-rt714 platform.

[2021-05-12 04:03] miltonhowe commented on #2748
Hallelujah. Finally, I have sound from the speakers in Ubuntu on my Ideapad s740. And I did it with minimal funny business and without having to compile or patch the kernel - see below.

I extend my thanks and gratitude to all who helped to make this happen, especially @ryanprescott and @tiwai but also anyone and everyone who did their part.

Ubuntu kernel package v5.13-rc1 was released two days a

[2021-05-12 13:30] #2875 closed

[2021-05-12 18:14] plbossart commented on #2908
@libinyang could there be an ALSA mixer setting issue and different configurations here? I would think your platform uses UCM for ALSA mixers, but it's not clear what the CI device does.

[2021-05-12 21:11] yongzhi1 opened #2922 "[BUG][JSL] Failed recording with headset when using Camera app"
ODM reported a regression on JSL platform with jsl-004-drop-stable based FW + latest kernel:

**Topology branch**
jsl-004-drop-stable

**Kernel branch**
https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.4

**What steps will reproduce the problem?**
1. sign in
2. Plug the 3.5mm headset in DUT
3. Open the camera App,and switching to video model
4. Recording by t

[2021-05-13 01:18] bardliao commented on #2908
I can reproduce it on my `TGLU_SKU0A32_SDCA` device. I will take a look, too.

[2021-05-13 06:03] gongjun-song opened #2924 "[BUG][TGL-H][SDW] Setup soundwire failed on the TGL-H platform"
Describe the bug:
It seems that the device is not found when reading 1308, and it fails when reading the register of 711.
dmesg error:
[code]
[code]
Acpi asl file:
acpi-hp.asl
[code]

To Reproduce:
speaker-test -t wav -c 2 -Dplughw:0,0
Output：
[code]

Reproduction Rate:
10/10

Platform:
TGL-H

Environment:
Kernel Branch: https://github.com/thesofproject/linux/ (topic/sof-dev)
Kernel Commit: 078b0e

[2021-05-13 06:29] bardliao commented on #2908
@plbossart @libinyang The issue is that regcache_sync() does nothing in rt711_sdca_dev_resume(). And the volume value will be restored to default when the codec is unattached. #2925 should fix it.

@XiaoyunWu6666 Could you test with #2925 ?

[2021-05-13 06:50] bardliao commented on #2637
@plbossart Somehow the `update_status` callback is never triggered when `status == SDW_SLAVE_UNATTACHED`. Therefore, `max98373->hw_init = false;` is never set and `max98373_io_init(slave)` is never called as `max98373->hw_init` = true.

[2021-05-13 06:55] XiaoyunWu6666 opened #2934 "[BUG][TGL]TGLU_RVP_HDA failed when aplaying using HDMI , dai_hw_param error on iDisp1 Pin"
**Describe the bug**

 Failed since internal daily test 3910 [May 12] , good in internal daily 3868[May 10]. (something wrong with May 11 daily test  so it is abandoned)
When aplaying on HDMI[hw:0,3],it failed.  Unable to install hw params

**To Reproduce**
aplay   -Dhw:0,3 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q
OR
TPLG=sof-hda-generic-4ch-kwd.tplg ~/sof-test/test-case/check-playback.sh -d 1

[2021-05-13 07:28] mengdonglin commented on #2433
Close as won't fix.

[2021-05-13 07:28] #2433 closed

[2021-05-13 07:56] marc-hb commented on #2433
Are we going to skip this test then?

[2021-05-13 08:40] libinyang commented on #2908
@plbossart I disabled the pulseaudio and remove the UCM, the bug still can't be reproduced on my platform.

@bardliao Thanks for root cause this issue. Your explanation makes sense. These 2 days, I was studying the regmap to find when the register 0x40400291/2 (the register controls FU05 volume) is set wrongly but failed. Then I found you have already found the root cause :). Thanks.

[2021-05-13 08:45] bardliao commented on #2637
Talked with @shumingfan . He said rt711-sdca's volume control registers will be reset in bus reset. I guess some registers of max98373 will be reset, too. That's why we need https://github.com/thesofproject/linux/commit/b298102f34de81ab5603eee8d48d185832199b25

[2021-05-13 13:52] plbossart commented on #2637
@bardliao we already mark the cache as dirty on resume, it's not necessary to mark it on suspend...

[2021-05-13 14:05] plbossart commented on #2924
@gongjun1 It seems that you have the same device twice in the ACPI table:

[code]

That's not supported and is actually a configuration that's not permitted by the SoundWire spec. The _ADR is supposed to be unique.

that suggests that the ACPI initrd override is not necessary. It's actually not an override but an ADDITION, and if you declare the same device twice bad things will happen.

Only add

[2021-05-13 14:52] gongjun-song commented on #2924
@plbossart Thanks for your response!

If I do not add 1308 codec information in the initrd, the error "slave not found" will appear!
error message:
[code]
Acpi asl file:
acpi-hp-rm1308.asl
[code]
Log files:
[dmesg_tgl_h_rm_1308.log](https://github.com/thesofproject/linux/files/6473186/dmesg_tgl_h_rm_1308.log)

[2021-05-13 15:14] plbossart commented on #2924
please share the existing DSDT, specifically the part with the SoundWire devices.

Also add information on what platform this is, we've supported TGL-H for a while now.

[2021-05-14 01:57] bardliao commented on #2637
Do we? I don't see `regcache_mark_dirty(max98373->regmap);` in [max98373_resume](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/max98373-sdw.c#L268). I see `regcache_mark_dirty(max98373->regmap);` in `max98373_io_init`, but `max98373_io_init` will not be triggered in a common suspend/resume case.

[2021-05-14 08:12] gongjun-song commented on #2924
@plbossart
What information do you want to know about platform? (for example: CPU model; BIOS version or motherboard RVP# type)

In addition, the dsdt table file has been added to the attachment.
dsdt file:
[dsdt.zip](https://github.com/thesofproject/linux/files/6477408/dsdt.zip)

[2021-05-14 11:13] lgirdwood commented on #2890
Agree ALSA/ASoC will keep sending new IPC but a simple flag is enough to say "FW is dead, lets not keep dumping the same IPC registers and FW stack trace to dmesg"

TBH, this is where we should be trying to recover FW and doing a D0 -> D3 -> D0 cycle.

[2021-05-14 14:04] yongzhi1 commented on #2922
Thanks @ranj063 and @kv2019i, close for the fix.

[2021-05-14 16:49] plbossart commented on #2637
sure it will, on resume the device will re-attach and the io_init routine will be called

https://github.com/thesofproject/linux/blob/0e1e5072818cfd37c80010d2889f629ccb74c7ca/sound/soc/codecs/max98373-sdw.c#L825

That said, the name of the fields is slightly different from other drivers and maybe the flow is different.

[code]

[2021-05-14 16:55] plbossart commented on #2924
@mengdonglin can you have someone local deal with this?

[2021-05-14 16:56] plbossart commented on #2890
some day we'll finally work on https://github.com/thesofproject/linux/issues/1675

[2021-05-14 20:42] plbossart commented on #2806
we've completely reworked the clock-stop mode so I will close this for now. Please reopen a new bug if this is seen again.

[2021-05-14 20:42] #2806 closed

[2021-05-14 20:47] plbossart commented on #2698
No information in 4 months, I suggest we close this bug which looks like a UCM configuration issue.

[2021-05-14 20:48] plbossart commented on #2689
closing, could not reproduce it in several months and we reworked the clock stop sequence.

[2021-05-14 20:48] #2689 closed

[2021-05-14 20:49] plbossart commented on #2632
I don't think this is still current, let's close.

[2021-05-14 20:49] #2632 closed

[2021-05-14 20:50] plbossart commented on #2621
closing since we've reworked the clock stop sequence and this wasn't noticed in 3 months.

[2021-05-14 20:50] #2621 closed

[2021-05-17 02:31] keqiaozhang commented on #2805
@sathya-nujella , Ranjani has provided a PR #2920, please help to verify it.

[2021-05-17 02:33] keqiaozhang commented on #2761
close this issue. @lyakh please reopen it if needed.

[2021-05-17 02:33] #2761 closed

[2021-05-17 02:44] keqiaozhang commented on #2908
@XiaoyunWu6666 , please test with #2925.

[2021-05-17 04:44] XiaoyunWu6666 commented on #2908
Okay will test it with #2925  soon

[2021-05-17 05:33] XiaoyunWu6666 commented on #2908
#2925 works quite well

tested on ubuntu@sh-tglu-sku0a32-sdca-01 for 100 times. all passed

[2021-05-17 06:26] lyakh commented on #2761
@plbossart @keyonjie @keqiaozhang sorry, missed the comments, thanks for closing

[2021-05-17 10:04] lyakh commented on #2869
@mengdonglin sorry for a delay #2927

[2021-05-18 05:50] XiaoyunWu6666 opened #2940 "[BUG] multiple-pipeline.sh fails on TGLU_RVP_HDA and ADLS_RVP_HDA"
**Describe the bug**
Looks similar to a closed issue. thesofproject/sof-test#672
Multiple-pipeline capture/ Multiple-pipeline playback failed and PID mismatch occured in daily tests. [ Please refer to internal daily test 4051 .

**To Reproduce**
Can be manually reproduced 100%.
try 'TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p' or 'TPLG=

[2021-05-18 07:03] sergiocaccamo commented on #2698
wops, I completely forgot to reply here.
I tried the above and the problem persists. I just learned to live with it, and bought usb-c headsets which works fine. I still cannot use the jack heaphones or the sony mentioned above. If you have other steps you want me to try I will be happy to assist.

[2021-05-18 07:46] bardliao commented on #2637
@plbossart Thanks to @keqiaozhang. He tested the issue with https://github.com/thesofproject/linux/pull/2928 and https://github.com/thesofproject/linux/commit/4cfdde737ede7ae550cf7d4ee0c415dde83a94d5 reverted. i.e. Without `regcache_mark_dirty(max98373->regmap);` in `max98373_suspend(struct device *dev)` The test result is good, speaker playback works with the kernel.

[2021-05-18 17:14] #2922 closed

[2021-05-18 18:26] sathya-nujella commented on #2805
Thank you. We will take PR #2920 to Chrome kernel.
As this issue is randomly happening, it may take some time to get the update if reproduced.

Please lower priority, as soon as the issue reports with the above mentioned PR, will update here.

[2021-05-19 06:45] mengdonglin commented on #2869
@lyakh Thank you very much!

[2021-05-19 07:27] kv2019i commented on #2934
Do we have FW logs in any existing bug?

[2021-05-19 08:45] libinyang commented on #2698
@sergiocaccamo Please check whether /usr/share/alsa/ucm2/ucm.conf exists or not. And clone https://github.com/thesofproject/sof-test. And go into the folder test-case/test-case/, and run ./verify-ucm-config.sh to see if the UCM is correct or not.

[2021-05-19 08:47] XiaoyunWu6666 opened #2930 "[BUG][CML]DSP panic when verify kernel boot log"
**Describe the bug**
when verify-kernel-boot-log ,DSP panic occured in internal daily test 4051.

**To Reproduce**
TPLG=sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/verify-kernel-boot-log.sh

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 6b7076ff
SOF Branch: main
SOF Commit:0a1029c2a296
TPLG=sof-cml-rt1011-rt5682.tplg
Platform:CML_HEL_RT5682
Report ID:4

[2021-05-19 08:51] XiaoyunWu6666 commented on #2930
Also happened on TGLU_VOLT_SDW in May 18 daily test

To Reproduce
TPLG=sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/verify-kernel-boot-log.sh

Reproduction Rate
100%

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: 6b7076f
SOF Branch: main
SOF Commit:0a1029c2a296
TPLG=sof-tgl-sdw-max98373-rt5682.tplg
Platform: TGLU_VOLT_SDW
Report ID:4051

Reminder:
If you wanna test on this issue

[2021-05-19 09:17] XiaoyunWu6666 commented on #2930
[code]

[2021-05-19 10:20] lgirdwood commented on #2890
@plbossart fwiw, I've asked @ujfalusi to look at this log fix and also the FW #1675 when he's waiting on his aux bus review comments.

[2021-05-19 10:47] kv2019i commented on #452
@ujfalusi got #1675 so passing this as well :)

[2021-05-19 14:40] XiaoyunWu6666 commented on #2934
hi kai , could you please check internal daily test result 4051 -check-playback-3rounds - TGLU_RVP_HDA . Or check sof-logger.txt I updated in the first comment

[2021-05-19 16:39] marc-hb commented on #2930
Another DSP panic at boot in https://sof-ci.01.org/softestpr/PR679/build693/devicetest/?model=CML_HEL_RT5682&testcase=verify-pcm-list

It looks different though.

[2021-05-19 18:04] #2930 closed

[2021-05-20 08:44] keyonjie commented on #2934
Hi @kv2019i looks like it fails at the driver side, so no any FW error in sof-logger, can you help to check this?

[2021-05-20 08:48] kv2019i commented on #2934
@keyonjie and @XiaoyunWu6666 this seems like a regression in 5.13-rc1. We pulled in the 5.13-rc1 on May 12 (with https://github.com/thesofproject/linux/pull/2918 ) and that brought 14000+ new commits to sof-dev. Apparently this regression was introduced then. Let me investigate.

[2021-05-20 09:48] kv2019i commented on #2934
Investigated the issue on the affected test device and dmesg shows this:
[ 3323.645868] sof-audio-pci-intel-tgl 0000:00:1f.3: filtered codec_mask = 0x1

The error is expected in this case if playback to HDMI/DP is attempted.

Once the module parameter override is removed ("snd_sof_intel_hda_common codec_mask=0x1), HDMI/DP playback works again.

[2021-05-20 09:56] sergiocaccamo commented on #2698
`/usr/share/alsa/ucm2/ucm.conf` exists.
the test gives:
**USB-C headset**
[code]
**jack 3.5 or nothing plugged in, gives the same**

[code]

[2021-05-20 10:08] sergiocaccamo commented on #2698
![break](https://user-images.githubusercontent.com/38214982/118960659-cf8da700-b963-11eb-826d-5596a432fd66.gif)
Here is a gif showing the problem happening. I say 'test' repeatedly. When I plug in the heaphones and try to use the laptop microphones nothing happens.

[2021-05-20 10:28] keyonjie commented on #2934
Nice quick fix! @marc-hb @aiChaoSONG @XiaoyunWu6666 can you help to change this on the TGLU RVPs in the CI pool, to survive tomorrow's daily?

[2021-05-20 15:18] marc-hb commented on #2934
Someone or something added the following 3 lines at the bottom of the stock Ubuntu `/etc/modprobe.d/alsa-base.conf` on `sh-tglu-rvp-hda-05`

[code]
There is no comment explaining who did this or why. @XiaoyunWu6666 , @keqiaozhang , @aiChaoSONG , @fredoh9 any idea?

I did not check other systems.

[2021-05-20 16:34] fredoh9 commented on #2934
Nice catch, looks someone used that device for development/test, didn't restore all touched.
I think this is the danger of sharing devices. We need to have simple way to restore default settings. (I don't have simple/easy way but someone touched restores back)

[2021-05-21 02:15] aiChaoSONG commented on #2934
This issue is confirmed to be wrong kernel parameters are used,  remove below contents from `/etc/modprobe.d/alsa-base.conf`, we are good.
[code]
close for issue resolved.

[2021-05-21 02:15] #2934 closed

[2021-05-21 05:21] XiaoyunWu6666 commented on #2908
@bardliao @libinyang  @plbossart
Already validated #2925  can fix this issue ,should we merge #2925 and close this issue?
Thanks

[2021-05-21 05:53] XiaoyunWu6666 commented on #2940
closed.
Please refer to https://github.com/thesofproject/linux/issues/2934

[2021-05-21 06:14] bardliao commented on #2908
@XiaoyunWu6666  @plbossart is off this week, let's wait for some more days. BTW, https://github.com/thesofproject/linux/pull/2928 is required, too

[2021-05-21 06:59] aiChaoSONG commented on #2924
The HW from the reporter is configured to HDA mode, rework is in progress from the reporter side.
@gongjun-song I will close this as invalid issue, if you have any issue after the HW rework, please file new issue, or contact me directly.

[2021-05-21 07:01] #2924 closed

[2021-05-21 07:01] gongjun-song commented on #2924
@aiChaoSONG Thanks, Chao

[2021-05-21 13:31] lyakh commented on #2869
@fredoh9 @mengdonglin can this be closed now?

[2021-05-21 21:55] fredoh9 commented on #2869
yes!

[2021-05-21 21:55] #2869 closed

[2021-05-23 09:43] akohta commented on #2485
I installed Linux Mint latest version and upgraded the kernel to 5.12. I confirmed the kernel messages same as Arch Linux.
The difference is the following messages appear only once.

kernel: arizona spi-WM510204:00: Failed to get mclk1: -2
kernel: arizona spi-WM510204:00: Failed to get mclk2: -2
kernel: LDO1: supplied by regulator-dummy

After that, additional modules such as gpio-arizona is loade

[2021-05-23 15:44] iammrallblue opened #2939 "Tiger lake-LP Smart Sound Technology Audio has no sound issue"
MODEL: LG GRAM 16 2021
Tiger lake-LP Smart Sound Technology Audio has no sound issue
Bluetooth and headphones are working without any issues.
However, the speaker is totally not functioning.

[2021-05-24 02:28] mengdonglin commented on #2828
@keqiaozhang will test the latest EHL BIOS

[2021-05-24 13:18] #2940 closed

[2021-05-24 15:54] plbossart commented on #2637
Ack @bardliao it looks like we didn't properly resume devices then, but only max98373 and rt711-sdca showed an issue.

[2021-05-24 16:02] plbossart commented on #2485
@akohta can you double-check if the Linux Mint kernel configuration has support for all the CONFIG_ listed above https://github.com/thesofproject/linux/issues/2485#issuecomment-818594303.

[2021-05-24 16:04] plbossart commented on #1675
@ujfalusi the Skylake driver implemented a recovery mechanism that was used on ApolloLake, but I am not sure if that part was ever upstreamed. @mwasko would you happen to recall?
IIRC there's a need to let applications know the card was restarted, I just don't recall what mechanism (uevent?) was used.

[2021-05-24 16:09] plbossart commented on #2939
@iammrallblue please take a look at https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms and try to provide a narrower description of the issue with the speakers. There's not much we can do with the 'totally not functioning' one-liner.

[2021-05-24 20:14] plbossart commented on #2637
@bardliao @keqiaozhang can you please take a look at the alternative PR https://github.com/thesofproject/linux/pull/2941
It'd like to see if this works on Volteer (max98373) and TGL-SDCA (rt711-sdca)

[2021-05-25 03:15] akohta commented on #2485
@plbossart , thank you for your reply. In my Linux Mint kernel configuration file, CONFIG_MFD_ARIZONA is set to built-in module as it is boolean type. The others are same. Arch Linux kernel configuration file is same too. Is built-in setting of CONFIG_MFD_ARIZONA cause this?

For your reference,  Linux Mint kernel configulation file is attached below.
[mint-kernel-config.txt](https://github.com/th

[2021-05-25 05:53] ujfalusi commented on #1675
@plbossart, what have worked for me in the past is to call snd_pcm_stop_xrun(struct snd_pcm_substream *substream) to escalate the event up to the application.

I need to take a look at the options, but instant detection of firmware crash can only be done if the crashed firmware would give us an interrupt/event that it crashed, which I don't think it is  going to do.
The only option is to set up a

[2021-05-25 06:45] libinyang commented on #2700
@ronohara Could you try @plbossart 's second suggestion like below? It should make the sof audio driver work on your platform.

[2021-05-25 07:28] libinyang commented on #2698
@sergiocaccamo It seems more like a pulseaudio issue. Could you please attached the pulseaudio log and alsa-info when the issue happens?

[2021-05-25 08:51] ronohara commented on #2700
@libinyang  I am  going for option  c)  ... the main stream kernel for 5.13 is already at the 'rc' stage, and the Ubuntu tweaks would be a pain to organise ...   I can wait.

[2021-05-25 12:01] mwasko commented on #1675
In Skylake driver we had implemented the FW recovery for specific releases for ApolloLake but I don't think it was upstream to Linux kernel. However the recovery itself was not done based on watchdog-like mechanism but on critical errors like IPC timeout or FW errors like memory issues during FW boot.

[2021-05-25 12:07] bardliao commented on #2637
It works on my TGL-SDCA.

[2021-05-25 12:08] ujfalusi commented on #1675
@mwasko, thanks for the details. IPC timeout is a good indication of firmware error with the additional watchdog (when it applies) we can also catch crashes which happen without much IPC traffic, like audio operation when we just receive the periodic elapsed events.

I'll keep these in mind.

[2021-05-25 12:56] kv2019i commented on #1675
@ujfalusi And to further complicate, SOF supports SNDRV_PCM_HW_PARAMS_NO_PERIOD_WAKEUP, so you might not get any regular IPCs nor period-elapsed IRQs. If a DSP stops in this configuration, you can detect this at XRUN, but it's not very straighforward -- some hw_ptr liveliness check could work, but needs to differentiate from application side errors. I believe starting with distinct FW failure even

[2021-05-25 15:44] ujfalusi commented on #1675
@kv2019i, IPC timout can be used to check NO_PERIOD_WAKEUP from a periodic timer (read position, status, hearthbeat, something small and trivial) but it would just defeat the whole purpose of NO_PERIOD_WAKEUP. I would leave this for now.
The other possibility would be to handle the underflow/overflow interrupts from the DAI HW directly in Linux. That would indicate FW issue (unless the firmware is

[2021-05-25 19:39] #2908 closed

[2021-05-26 05:01] libinyang commented on #2700
@ronohara OK. So let's wait for the 5.13 :)

[2021-05-27 06:03] XiaoyunWu6666 opened #2945 "[BUG] [SDW] RT5682 not recognized on TGLU_VOLT_SDW"
Describe the bug
Appeared on May 27 internal daily test , 4235
when check-suspend-resume-with-playback-25   on TGLU_VOLT_SDW , it failed

To Reproduce
TPLG=sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 15 -m playback

Reproduction Rate
100%

Model
TGLU_VOLT_SDW

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: 6dca03a2
SOF Branch: main
SOF Commi

[2021-05-27 06:09] XiaoyunWu6666 opened #2943 "[BUG] [SDW] IO error in rt700_jack_detect_handler on CML_RVP_SDW"
Describe the bug
Appeared on May 27 internal daily test , 4235 . in case check-suspend-resume-50
IO error in rt700_jack_detect_handler on  CML_RVP_SDW

To Reproduce
 TPLG=sof-cml-rt700-4ch.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50

Reproduction Rate
100%

Model
CML_RVP_SDW

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: 6dca03a2
SOF Branch: main
SOF Commit: d736888

Screensh

[2021-05-27 08:32] libinyang commented on #2700
set it to P3 as solution is ready in latest kernel.

[2021-05-27 13:50] plbossart commented on #2943
[dmesg.txt](https://github.com/thesofproject/linux/files/6554478/dmesg.txt)

[2021-05-27 14:20] plbossart commented on #2945
[dmesg.txt](https://github.com/thesofproject/linux/files/6554701/dmesg.txt)

[2021-05-27 14:23] plbossart commented on #2945
@XiaoyunWu6666 You are confusing two issues, I modified the title to focus on the rt5682 problem. Please file a separate issue for HDMI.

[2021-05-27 14:28] plbossart commented on #2945
I don't know what is going on on this platform, there was a prior fix from @shumingfan in 867f8d18df4f5 to read the ID register in a loop.
@XiaoyunWu6666 is this really 100% reproducible?

[2021-05-27 14:31] plbossart commented on #2943
@XiaoyunWu6666 is this really 100% reproducible? If yes, can you try reverting PR https://github.com/thesofproject/linux/pull/2941 to see if this makes the problem go away?

[2021-05-27 15:52] plbossart commented on #2943
@shumingfan @bardliao I wonder if there is a potential for a race condition. The set_jack callback is invoked from the machine driver level, and I wonder if we should have a pm_runtime_get_sync()/ pm_runtime_put_autosuspend() protection when we try to initialize the jack. The current test on hw_init is a bit flaky IMHO. I also wonder if we should set the jack to NULL when we suspend, as done for a

[2021-05-28 05:38] shumingfan commented on #2943
@plbossart I also think it is possible that the unexpected interrupt happened after the codec suspended.
@XiaoyunWu6666 Could you test with PR #2949 and turn on the debug log of the codec driver?
If the test result still fails, please share the kernel log.

[2021-05-28 06:15] libinyang opened #2950 "[BUG] [ADL][1.8-rc2] hw param error when playback/capture"
Describe the bug
Appeared on May 25 internal stable_v1_8_stress test , 4183
A lot of test cases related with playback/capture failed on ADLP_RVP_HDA

To Reproduce
TPLG=sof-hda-generic-4ch-kwd.tplg ~/sof-test/test-case/run-all-tests.sh

Reproduction Rate
5%

Model
ADLP_RVP_HDA

Environment
Kernel Tag: https://github.com/thesofproject/linux/commits/release-sof-1.8-20210524
Kernel Branch: release-v1.

[2021-05-28 06:16] libinyang commented on #2950
After disabling dynamic pipeline, the issue can't be reproduced. @ranj063

[2021-05-28 15:52] ranj063 commented on #2950
@libinyang what kernel, tplg are you using? AFAIK, i have not enabled dynamic pipelines for any ADL topology

[2021-05-28 16:07] ranj063 commented on #2950
can we get the logger output for this? looks like an IPC error during DAI config. also , please include kernel and fw hash when posting issues.

[2021-05-29 17:19] sergiocaccamo commented on #2698
@libinyang I hope I did it right :)

[code]
[alsa_info.txt](https://github.com/thesofproject/linux/files/6565069/alsa_info.txt)

[2021-05-30 09:53] ronohara commented on #2700
Since I was a bit bored this weekend, I just installed 5.13-rc3  ... dmesg shows the card - so this is promising

[   53.728571] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[   53.728582] snd_hda_intel 0000:00:1f.3: SoundWire enabled on CannonLake+ platform, using SOF driver
[   53.770562] input: ELAN2514:00 04F3:2C44 as /devices/pci0000:00/0000:00:15.0/i

[2021-05-31 01:37] XiaoyunWu6666 commented on #2943
@shumingfan @plbossart
I'll check it asap , thanks.

[2021-05-31 02:06] XiaoyunWu6666 commented on #2943
Tested with PR #2949  and the test result still failed.
The kernel log is as the attachment.
[dmesg.txt](https://github.com/thesofproject/linux/files/6567352/dmesg.txt)

[2021-05-31 02:10] libinyang commented on #2950
@ranj063 It's ADL HDA platform. So it's using sof-hda-generic-4ch-kwd.tplg which has enabled dynamic pipelines. Please check CI report 4183 for the test report.

[2021-05-31 02:19] XiaoyunWu6666 commented on #2945
Yes 100% reproducible. This  was reproduced by CI daily test since May 27. I also double-checked it manually.

[2021-05-31 02:23] shumingfan commented on #2943
@XiaoyunWu6666 Could you enable the debug log of the codec driver and share the kernel log again?

[2021-05-31 03:06] XiaoyunWu6666 commented on #2945
hi @plbossart  may you try 'TPLG=sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 15 -m playback' on ubuntu@sh-tglu-volt-sdw-03. This can reproduce the issue 100%.

[2021-05-31 03:54] XiaoyunWu6666 commented on #2943
@shumingfan  Sure
[dmesg_with_codeclog.txt](https://github.com/thesofproject/linux/files/6567647/dmesg_with_codeclog.txt)

[2021-05-31 04:00] XiaoyunWu6666 commented on #2945
I will check whether this can be reproduced on another TGLU_VOLT_SDW DUT and bisect if yes

[2021-05-31 05:42] XiaoyunWu6666 opened #2952 "[BUG][ADL]ADLS_RVP_HDA failed when aplaying using HDMI"
Describe the bug

Failed in  internal daily ADL test 4294
When aplaying on HDMI[hw:0,3],it failed. Unable to install hw params

To Reproduce
 aplay   -Dhw:0,3 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q

Reproduction Rate
100%

Environment
Start Time: 2021-05-31 02:32:49 UTC
End Time: 2021-05-31 04:29:39 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 0cc90aa5
SOF Branch: main
SOF Commit: 5d9d2dd

[2021-05-31 05:44] XiaoyunWu6666 commented on #2952
The log looks similar to closed issue #2934 , but configuration looks different.
Could someone help to rootcause this ? thanks.

[2021-05-31 05:46] keqiaozhang commented on #2795
Let's close this issue. @anlar , if needed, please create a new one.

[2021-05-31 05:46] #2795 closed

[2021-05-31 05:47] keqiaozhang commented on #2637
PR #2941 is merged, this issue can be closed.

[2021-05-31 05:47] #2637 closed

[2021-05-31 06:29] XiaoyunWu6666 commented on #2945
Bisect Result
============
[code]

[2021-05-31 06:38] XiaoyunWu6666 commented on #2952
synced with @libinyang .
This is a known issue . HDMI1 doesn't work on ADLS_RVP_HDA

[2021-05-31 08:15] bardliao commented on #2945
@oder-chiou With 1d150b78ffb9813fac99ef1455887dffecf2ae79 `rt5682_update_status(SDW_SLAVE_UNATTACHED)` and rt5682_io_init() will be called during suspend/resume cycle. But we will get `Device with ID register ffffff is not rt5682` in this process. Could you take a look?

[2021-05-31 09:24] shumingfan commented on #2943
@bardliao @plbossart I checked this log. The system is so quick going to suspend from the resume state when the issue happened.

**[  170.958907] rt700 sdw:1:025d:0700:00: in rt700_dev_resume jd enable**
[  170.958987] rt700 sdw:1:025d:0700:00: [rt700_sdw_write] 3501 <= 0003
[  170.959013] soundwire_intel soundwire_intel.link.1: Slave status change: 0x40
[  170.959079] rt700 sdw:1:025d:0700:00: [r

[2021-05-31 09:51] oder-chiou commented on #2945
Please help to test the attached patch for debuging further, and please provide the dmesg.txt again, thanks.

[0001-ASoC-rt5682-Add-loop-time-for-test.zip](https://github.com/thesofproject/linux/files/6569423/0001-ASoC-rt5682-Add-loop-time-for-test.zip)

[2021-05-31 10:51] kv2019i commented on #2952
This is probably i915 init failing (this should work with latest sof-dev).

[2021-05-31 11:00] kv2019i commented on #2939
No update in a week. It would seem this is another case of custom code needed to initialize the speaker amp and thus is a codec driver side issue. Not a DSP/SOF issue, so closing here. Bug is tracked e.g. here https://bugzilla.kernel.org/show_bug.cgi?id=212041

[2021-05-31 11:00] #2939 closed

[2021-05-31 11:03] kv2019i commented on #2829
Renamed title and assigned for myself for tracking. Discussing with i915 team, will close if we conclude it's an issue on i915 side (and/or add new data here if we get new hints pointing at SOF).

[2021-05-31 11:10] kv2019i commented on #2952
Issue seems to be i915 init. Please add following to module option to this system:
[code]

[2021-05-31 12:23] sathyap-chrome opened #2953 "Brya / Volteer : Soundwire: AMIC not working"
Intially, we saw on Brya Proto systems with SNDW card, AMIC is not working. There are no errors , but recording is blank.
When we cross checked with Volteer SNDW, we saw the same issue on latest build. We talked to @libinyang  and he suggested UCM change to suit the updated PCM.

VOLTEER:
With latest topology updated and UCM shared by @libinyang , AMIC recording is still blank.
This seems to be re

[2021-05-31 13:30] libinyang commented on #2698
@sergiocaccamo the pulseaudio log is not enough.

You can:
[code]
to catch the pulseaudio log into pulse.log.

[2021-05-31 23:12] callegar opened #2955 "[BUG] ESSX 8336 No local devices (speakers/headphones) on N4120 tablet (Chuwi Hi10X)"
**Describe the bug**

Cannot seem to be able to get sound working on the Chuwi Hi10X convertible/tablet. It looks like there are two versions of this tablet using the same Hi10X name. The problematic one uses a Celeron N4120 Gemini lake processor and related chipset.

Trying with manjaro linux that uses a quite recent kernel and alsa. Audio is not detected apart from the HDMI outputs.

Tried `opti

[2021-06-01 01:32] bardliao commented on #2943
It is weird. We have [pm_runtime_mark_last_busy(&slave->dev);](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/bus.c#L1676) in [sdw_handle_slave_alerts](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/bus.c#L1480). `rt700_dev_suspend` is supposed to triggered after 3 sec.

[2021-06-01 02:25] bardliao commented on #2943
@XiaoyunWu6666 Can you try below patch?
[code]

[2021-06-01 03:03] XiaoyunWu6666 commented on #2943
@bardliao  It still failed. (even faster...)
The dmesg log is as the following.
[dmesg_log.txt](https://github.com/thesofproject/linux/files/6573069/dmesg_log.txt)

[2021-06-01 04:03] keqiaozhang commented on #2952
@kv2019i  force prob i915 works, but dmesg is full of below error:
[code]

[2021-06-01 05:10] bardliao commented on #2943
@XiaoyunWu6666 Sorry, I meant test with https://github.com/thesofproject/linux/pull/2949 + my [patch](https://github.com/thesofproject/linux/issues/2943#issuecomment-851759415)

[2021-06-01 06:43] XiaoyunWu6666 commented on #2943
oh I misunderstood. Let me check it again :)

It failed again @bardliao

[2021-06-01 06:54] callegar commented on #2955
Moving to a 5.12 kernel, with `snd-intel-dspcfg dsp_driver=3` the firmware appears to load correctly. However, a topology file for idisp only seems to be loaded and the local devices remain missing.

The situation seems similar (to some extent) to the one described in https://askubuntu.com/questions/1330755/no-sound-on-gemini-lake-with-xubuntu, that also refers to geminilake.

[2021-06-01 07:08] kv2019i commented on #2955
@callegar wrote:

The DSP side on N4120 is supported on Linux (e.g. there are multiple Chromebooks with N4120). But for devices that have shipped with Windows, it all depends how the vendor has put the hw together, what codec, how it's hooked up, are there codec drivers in Linux for the hw, etc, etc.

So before that can be answered, more info is needed on the hw.

Can you do a NHLT dump and attach

[2021-06-01 11:06] callegar commented on #2955
Here is the file. Had to zip it otherwise github did not let me download it.
I see the word ALASKA in the file. There is this word in something that the kernel tries to load (failing) if I set snd-intel-dspcfg dsp_driver=2.

[nhlt.zip](https://github.com/thesofproject/linux/files/6575748/nhlt.zip)

[2021-06-01 14:16] kv2019i commented on #2955
So it seems there's a I2S codec connected, but NHLT doesn't reveal make or model. We support a few configuration for GLK upstream, you can see the list in:
linux/sound/soc/intel/common/soc-acpi-intel-glk-match.c

It would seem this is not a supported configuration, so some new development (by someone who has a device) is needed. At minimum, an entry is needed to soc-acpi-intel-glk-match.c, but mor

[2021-06-01 14:17] plbossart commented on #2955
ALASKA isn't linked to audio codecs.

I think we need to start with the basics assuming the DSP is not enabled and it's an HDaudio codec. I am not aware of any non-Chromebook devices with I2C/I2S and of any support on Windows for this kind of codecs.

@callegar You need to start with removing all options and checking how snd-hda-intel deals with the hardware. attach dmesg and alsa-info (separtely)

[2021-06-01 14:21] plbossart commented on #2700
@ronohara you cut the dmesg log and didn't add dynamic debug. Please copy this to /etc/modprobe.d/sof-dyndbg.conf and attach the entire dmesg log
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6576920/sof-dyndbg.conf.txt)

[2021-06-01 14:29] plbossart commented on #2953
@sathya-nujella what do you mean my 'AMIC'? headset capture? If yes that should be an RT5682 problem, no?

[2021-06-01 14:34] plbossart opened #2956 "[BYT][CHT"

[2021-06-01 14:36] #2956 closed

[2021-06-01 14:47] sathyap-chrome commented on #2953
@plbossart . Yes , its AMIC. I raised it since Settings provided by @libinyang didnt work and he agreed to take a look as its a regression. Also wanted to know if linux team is seeing same issue on latest builds on SNDW card of Volteer.
@yongzhi1 your thoughts ?

[2021-06-01 17:11] yongzhi1 commented on #2953
According to validation team, the amic recording works fine for WW11 TGL BKC, and from their RT5682 reg dump, the regression does not seem to be caused by the codec driver/mixer settings.

[2021-06-01 19:13] callegar commented on #2955
Here is the dmesg obtained after removing any modprobe option related to `snd-intel-dspcfg dsp_driver=...`.
[dmesg.txt](https://github.com/thesofproject/linux/files/6580080/dmesg.txt)

[2021-06-01 19:14] callegar commented on #2955
... And here I also have the alsa info
[alsa-info.txt](https://github.com/thesofproject/linux/files/6580087/alsa-info.txt)

[2021-06-02 02:45] shumingfan commented on #2943
@XiaoyunWu6666 Would you please check the node as below after the issue happened?
$ cat /sys/bus/soundwire/drivers/rt700/sdw:1:025d:0700:00/power/audosuspend_delay_ms
$ cat /sys/bus/soundwire/drivers/rt700/sdw:1:025d:0700:00/power/control
$ cat /sys/bus/soundwire/drivers/rt700/sdw:1:025d:0700:00/power/runtime_status

[2021-06-02 04:37] XiaoyunWu6666 commented on #2943
@shumingfan
[code]

[2021-06-02 07:32] ronohara commented on #2700
Ok ... too big to clutter up this bug, So saved dmesg on pastebin

https://pastebin.com/X5Chbjhb

alsa-info as well..

https://pastebin.com/gY3RwJ3i

[2021-06-02 08:03] callegar commented on #2955
@kv2019i:

before I switched to linux, I have collected the hardware info I could get from windows. Here I see a "hierarchy" of audio devices, springing from a 8086.3198 Intel SST audio subsystem. Local microphone and speakers appear to be attached via a 8086.0222 OED device (don't know what OED stands for) and 8086.AE34. Could any of them point at the actual CODEC?

I also have the windows partit

[2021-06-02 08:10] kv2019i commented on #2955
@plbossart It seems DSP is enabled and NHLT lists a I2S port programmed:
[    3.994142] snd_hda_intel 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if info 0x040100

@callegar You can look at this old bug https://bugzilla.kernel.org/show_bug.cgi?id=189261 to see typical steps to dig up information from Windows. DSDT dump with probably reveal details -- I'd guess it's a Realtek codec so A

[2021-06-02 08:52] keqiaozhang opened #2957 "[tgl][SDW] Headset jack in cannot record any signals"
**Describe the bug**
This issue happens on TGL-SDW Chromebook with RT5682+MAX98373 codec.  arecord can run on headset jack in without errors, but it captures nothing, all 0.  Interestingly, if you run aplay on headset jack out first then run arecord on headset jack in at the same time, headset jack in can capture the data form the headset jack out with or without the physical loopback.

**To Repro

[2021-06-02 08:53] keqiaozhang opened #2958 "[TGL][SDW] Headset jack in cannot record any signals"
**Describe the bug**
This issue happens on TGL-SDW Chromebook with RT5682+MAX98373 codec.  arecord can run on headset jack in without errors, but it captures nothing, all 0.  Interestingly, if you run aplay on headset jack out first then run arecord on headset jack in at the same time, headset jack in can capture the data form the headset jack out with or without the physical loopback.

**To Repro

[2021-06-02 08:55] keqiaozhang opened #2959 "[TGL][SDW] Headset jack in cannot record any signals"
**Describe the bug**
This issue happens on TGL-SDW Chromebook with RT5682+MAX98373 codec.  arecord can run on headset jack in without errors, but it captures nothing, all 0.  Interestingly, if you run aplay on headset jack out first then run arecord on headset jack in at the same time, headset jack in can capture the data form the headset jack out with or without the physical loopback.

**To Repro

[2021-06-02 08:56] keqiaozhang opened #2960 "[TGL][SDW] Headset jack in cannot record any signals"
**Describe the bug**
This issue happens on TGL-SDW Chromebook with RT5682+MAX98373 codec.  arecord can run on headset jack in without errors, but it captures nothing, all 0.  Interestingly, if you run aplay on headset jack out first then run arecord on headset jack in at the same time, headset jack in can capture the data form the headset jack out with or without the physical loopback.

**To Repro

[2021-06-02 09:01] keqiaozhang opened #2961 "[TGL][SDW] Headset jack in cannot record any signals"
**Describe the bug**
This issue happens on TGL-SDW Chromebook with RT5682+MAX98373 codec.  arecord can run on headset jack in without errors, but it captures nothing, all 0.  Interestingly, if you run aplay on headset jack out first then run arecord on headset jack in at the same time, headset jack in can capture the data form the headset jack out with or without the physical loopback.

**To Repro

[2021-06-02 09:04] libinyang commented on #2953
I did some debug and found it can only capture what is playback. This means it captured the loopback data. However, we didn't loopback the playback and capture.  So it should be either codec hw issue or register setting issue. I will co-debug with Realtek.

[2021-06-02 09:09] keqiaozhang commented on #2960
Github or network issue,  I only submitted this bug once, but got 4 copies. so close this one.

[2021-06-02 09:09] #2960 closed

[2021-06-02 09:10] keqiaozhang commented on #2959
Github or network issue,  I only submitted this bug once, but got 4 copies. so close this one.

[2021-06-02 09:10] #2959 closed

[2021-06-02 09:10] callegar commented on #2955
@kv2019i I'm not really able to read the dsdt dump file, but grepping for 10EC returns nothing.

[dsdt.dsl.txt](https://github.com/thesofproject/linux/files/6583284/dsdt.dsl.txt)

[2021-06-02 09:10] keqiaozhang commented on #2957
Github or network issue,  I only submitted this bug once, but got 4 copies. so close this one.

[2021-06-02 09:10] #2957 closed

[2021-06-02 09:10] keqiaozhang commented on #2958
Github or network issue,  I only submitted this bug once, but got 4 copies. so close this one.

[2021-06-02 09:12] callegar commented on #2955
@kv2019i incidentally, using `options snd-intel-dspcfg dsp_driver=3` shows in dmesg that a firmware is actually loaded and booted. Would that dmesg dump be useful too?

[2021-06-02 09:14] keqiaozhang commented on #2961
This issue is duplicated with https://github.com/thesofproject/linux/issues/2953

[2021-06-02 09:15] #2961 closed

[2021-06-02 09:36] callegar commented on #2955
Among the ACPI devices I find an ESSX8336. This is an Everst sound device, right? Can it be relevant?
I have also found this on github, but unclear to me if it should apply and how: https://github.com/yangxiaohua2009/GLK-ES8336
The repo owner seems to be the same person writing in the bugzilla.kernel.org thread (about audio on the Chuwi X10/X12 you have just pointed me at).

[2021-06-02 11:40] plbossart commented on #2955
@callegar ok, the information seems to align that there is an ES8336 device. I am really surprised this is supported on Windows, one of those never say never cases...

I took a look at https://github.com/yangxiaohua2009/GLK-ES8336 this seems to be rather experimental still. The code for the machine driver is copy/pasted from my machine driver for the Hifiberry Digi+ w/ wm8804 ;-)
We could add the

[2021-06-02 11:41] kv2019i commented on #2955
Ack, the audio codec seems to be ESSX8336 . So this seems to be a follow-up to Baytrail tablets using ES8316 -- these were handled by sound/soc/intel/boards/bytcht_es8316.c and codec driver in sound/soc/codecs/es8316.c .

[2021-06-02 11:42] kv2019i commented on #2955
Btw, @yangxiaohua2009 committed those changes yesterday, so maybe he's working on just now.

[2021-06-02 11:43] plbossart commented on #2700
@ronohara are you sure you enabled CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=m in your config? I know that Ubuntu forgot it in some versions, it's necessary if you want to see a card.

[2021-06-02 11:48] callegar commented on #2955
Looks like Chuwi likes that chipset given that there was an 8316 in the original X10.
Now my question is whether it may be worth giving a try to the code in yangxiaohua repo and if some particular care should be taken in case. What exactly should I expect from the code looking "rather experimental"?  Is there any risk of frying the hardware?
Do you think it may be worth contacting @yangxiaohua2009

[2021-06-02 12:09] plbossart commented on #2955
@callegar There's always a risk when enabling hardware, be it of frying your hardware or frying your ears. Always play from /dev/zero and never ever put a headphone over your ears until things are under control...

It's rather straightforward to add the glk matching table, the main issue is on the machine driver and what exactly is needed. The machine driver that @yangxiaohua2009 started from does

[2021-06-02 12:10] plbossart commented on #2955
@callegar can you paste the result of 'sudo dmidecode' somewhere, we also need a quirk to select the SOF driver. Thanks!

[2021-06-02 12:12] callegar commented on #2955
Here it is

[dmidecode.txt](https://github.com/thesofproject/linux/files/6584349/dmidecode.txt)

[2021-06-02 12:53] oder-chiou commented on #2953
Hi ,
Please verify the patch, if it is OK, i will upstream it, thanks.
[0001-ASoC-rt5682-Fix-the-fast-discharge-for-headset-unplu.zip](https://github.com/thesofproject/linux/files/6584648/0001-ASoC-rt5682-Fix-the-fast-discharge-for-headset-unplu.zip)

[2021-06-02 13:57] yongzhi1 commented on #2953
Thanks @oder-chiou , in the dump shared by our validation, we have 0010: d04a in the old working BKC though:
[voltter_working_amic_reg.txt](https://github.com/thesofproject/linux/files/6584938/voltter_working_amic_reg.txt)

With your patch tested on TGL volteer board, good news is that the amic recording can pick up sound from Mic now, the bad news is that when playback running simultaneously, the

[2021-06-02 13:59] plbossart commented on #2953
@yongzhi1 can you check the mixer settings in case you have a loopback from playback to capture happening in the headset codec?

[2021-06-02 14:21] yongzhi1 commented on #2953
Thanks @plbossart , the RT5682 UCM settings haven't been touched for a while:

https://chromium.googlesource.com/chromiumos/overlays/board-overlays/+/refs/heads/main/overlay-volteer/chromeos-base/chromeos-bsp-volteer/files/ucm-config/sof-soundwire/HiFi.conf#61

On top of above, dev numbers were updated to match current topology:
https://chromium-review.googlesource.com/c/chromiumos/overlays/board-

[2021-06-02 14:37] plbossart opened #2963 "[APL] Up2 recurring reboots"
Up2 boards seem to reboot a number of times before final reaching the UI. This was confirmed by @ranj063 and I see this behavior randomly with recent kernels.

This does not happen with the stock Ubuntu 5.3 kernel.

Using netconsole shows the last trace before rebooting is

[code]

[2021-06-02 14:38] mengdonglin commented on #2953
@plbossart @yongzhi1 @sathyap-chrome @oder-chiou Here is the investigation of @bardliao He found after reverting this rt5682 codec driver commit https://github.com/thesofproject/linux/commit/5a15cd7fce20b1fd4aece6a0240e2b58cd6a225d, AMIC can work except for the 1st recording after booting the device. So this issue seems to be a codec driver regression.

[2021-06-02 15:54] sathyap-chrome commented on #2953
@yongzhi1 can you try the revert. if its good, we can try to keep it for time being

[2021-06-02 16:52] yongzhi1 commented on #2953
With 5a15cd7 reverted, on Brya P1 board, I can still repro the same as described at https://github.com/thesofproject/linux/issues/2953#issuecomment-853050795

[2021-06-02 19:17] ranj063 commented on #2950
@libinyang I need more info on how to reproduce the issue mentioned here on a non-ADL HDA platform. I tried the hda-generic-4ch-kwd tplg on my up extreme and I cannot reproduce it

[2021-06-02 21:32] by-cx commented on #2700
Hello,

at first let me say that your work on this issue is awesome and it's great to see such a support of Linux in Intel's products.

I would like to ask for a little help though. I tried to follow information available in this issue and I think I am still missing something. This is my setup:

* HP Spectre x360 13-aw2002,
* I am on Fedora 34,
* I build kernel from sof-dev branch here https://git

[2021-06-03 01:48] keqiaozhang commented on #2953
@oder-chiou , I think there're 2 issues here:
1. headset jack in cannot record any signals
2. headset jack in will capture the data from headset jack out without the physical loopback.

I tried your patch on Volteer, it can fix the issue2, but issue1 still exists.

@yongzhi1, seems that I got the opposite result from you.

[2021-06-03 01:56] libinyang commented on #2953
@yongzhi1 Can you try different type headset? There are 2 type headset, one is Nokia type, the other is iphone type. The interest thing is without @oder-chiou patch, my headset was detected as iphone type, and with the patch, my headset will be detected as nokia type. Maybe there is still another bug in the driver.

[2021-06-03 03:07] libinyang commented on #2953
With 5a15cd7 reverted, I have a different result with @yongzhi1 . It works well here. And the headset is detected as iphone.

[2021-06-03 03:09] marian556 commented on #2700
Hi by-cx . I experienced the same problem. In alsa mixer you cen press m to enable speakers. But you cannot restart pulseaudio -k. Then you can use speakers in konsole with aplay -D hw:0,0 test.wav.  KDE / pulseaudio still cannot detect it.

[2021-06-03 03:11] marian556 commented on #2700
by-cx where did you get topology file? Can you give me exact link, please?

[2021-06-03 03:25] marian556 commented on #2700
@by-cx  what packages did you install from proposed repository or locally?
apt list --installed | grep "local]"

[2021-06-03 06:12] ronohara commented on #2700
@plbossart CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=m was not set. Ubuntu 5.12.1 leaves it out ...

I rebuilt from main source tree 5.13.0-rc4   ...with it set. Not sure what the name of the module ends up as .. but

loaded 'snd' modules are:   lsmod | grep snd

snd_soc_rt700          45056  0
snd_soc_rt711          45056  0
snd_soc_rt1308_sdw     32768  0
regmap_sdw             16384  3 snd_soc_rt

[2021-06-03 06:19] oder-chiou commented on #2953
@libinyang Please help to test the patch on your side, thanks.

[0001-ASoC-rt5682-Fix-the-fast-discharge-for-headset v2.zip](https://github.com/thesofproject/linux/files/6589354/0001-ASoC-rt5682-Fix-the-fast-discharge-for-headset.v2.zip)

[2021-06-03 10:27] by-cx commented on #2700
@marian556 I am on Fedora 34 which switched to PipeWire recently and it's completely unknown territory for me. The aplay command isn't working in my system. I can't see speakers in the aplay's list of outputs which is here:

https://gist.github.com/by-cx/1233c3b658e966ca891124c4ca69b6d5#file-aplay-l

There is a lot of mess from my USB headphones and docking station but at the end of the file there

[2021-06-03 12:43] lgirdwood commented on #2950
@libinyang can you try this with main HEAD as @keyonjie has fixed freeing on uncached aliases.
[code]
These are all uncached aliases.

[2021-06-03 12:57] keyonjie commented on #2950
yes, @libinyang worth to try it with main branch.

[2021-06-03 13:11] marian556 commented on #2700
@by-cx  Focus on enabling "MM" in alsamixer.  You should be able to get sound from speakers with aplay when you have green on Second column  on "MM" speakers in alsamixer.  It should be green as the first "headphones". You go to second column a press M. Then use aplay with an example wav file downloaded from internet.   Once you have this fixed , there is a problem with pulse audio , whenever you

[2021-06-03 13:41] libinyang commented on #2953
@oder-chiou It works on my platform. @yongzhi1 Can you have a try on this patch?

[2021-06-03 13:43] sathyap-chrome commented on #2953
@libinyang  / @oder-chiou  works for me too (tested on Volteer). But i see that recording is more noisier than when we revert the original commit. Do you observe the same ?

[2021-06-03 13:50] plbossart commented on #2700
@perexg does Fedora34 have all the latest UCM and SOF 1.7 firmware+topology? Wondering if @by-cx and @marian556 are missing an update or something? the error with UCM syntax seems to be on the userspace config. Thanks!

[2021-06-03 13:54] perexg commented on #2700
Fedora has 1.6.1 (working on 1.7 update right now), but @by-cx installed 1.7 manually (see the above comments).

[2021-06-03 13:55] sathyap-chrome commented on #2953
Here are some samples attached.
EXP1: Old kernel tip without the original commit.
EXP2: EXP1 + the commit in upstream ([5a15cd7](https://github.com/thesofproject/linux/commit/5a15cd7fce20b1fd4aece6a0240e2b58cd6a225d))
EXP3 : EXP2 + 0001-ASoC-rt5682-Fix-the-fast-discharge-for-headset v2.zip

TEST1 : plain AMIC record
TEST2 : backgroup playback and then amic record.

Sample recordings:
[amic_experim

[2021-06-03 14:59] yongzhi1 commented on #2953
With OMTP headset:

TEST1 : plain AMIC record - this pass
TEST2 : backgroup playback and then amic record. - this fail

Procedure used for TEST2:
1. Insert headset
2. Start playback with youtube
3. Launch Mic Note, click recording, and notice the green bar moving up and down along with the playback volume
4. Pause youtube playback and observe the Mic Note recording again.

[2021-06-03 15:57] by-cx commented on #2700
@plbossart I updated the firmware with help of the sof-bin repo to version 1.7. UCM is 1.2.4-5 version in Fedora.

[2021-06-03 16:20] kv2019i commented on #2963
FYI to @ujfalusi , are you seeing this?

[2021-06-03 16:30] michael-brade opened #2966 "[BUG] HP ZBook 15u G6, linux 5.10.42, sof v1.7: no hda codecs found, no matching ASoC machine driver found"
**Describe the bug**
I am trying to get sof to load and run on a HP ZBook 15u G6, mainly because the internal microphone doesn't work on a vanilla kernel. I compiled the kernel myself.

**To Reproduce**
I installed `alsa-ucm-conf`, the sof firmware by cloning the repository and running `./install.sh v1.7.x/v1.7`. v1.7 is said to work with linux 5.10.x. I blacklisted `snd_hda_intel` (not even compi

[2021-06-03 16:33] marian556 commented on #2700
headphones work out of the box for 5.13-rc2 kernel with aplay and via pulse/kde/youtube.
speakers work only with aplay only after enabling in alsamixer. speakers don't show up in kde audio systemtray tool.
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1921632

What should be the version of alsa-utils?

marian@HPSpectre:~/dev$ alsaucm listcards
ALSA lib parser.c:2365:(uc_mgr_scan_master_conf

[2021-06-03 16:35] ranj063 commented on #2963
I have 2 UP2's and I have this problem on both of them.

[2021-06-03 16:37] plbossart commented on #2963
I moved to Ubuntu 21.04 (was 19.10) and so far I haven't seen an issue with boot loops. I do see the screen tearing quite often but it's a different issue.

[2021-06-03 16:39] marian556 commented on #2700
marian@HPSpectre:~$ alsactl init
alsa-lib parser.c:2137:(parse_toplevel_config) Incompatible syntax 4 in /usr/share/alsa/ucm2/ucm.conf
alsa-lib main.c:1014:(snd_use_case_mgr_open) error: failed to import hw:0 use case configuration -22
Found hardware: "sof-soundwire" "Intel Tigerlake HDMI" "HDA:80862812,80860101,00100000 cfg-spk:2 cfg-amp:1 mic:dmic cfg-mics:2 hs:rt711 spk:rt1308" "" ""

[2021-06-03 16:45] marian556 commented on #2700
The previous error was when using  ucm2 from "git clone https://github.com/alsa-project/alsa-ucm-conf.git"
The following error is when using default ubuntu21.04/hirsute package alsa-ucm-conf 1.2.4-2ubuntu1
marian@HPSpectre:/usr/share/alsa$ alsactl init
alsa-lib utils.c:335:(uc_mgr_config_load) could not open configuration file /usr/share/alsa/ucm2//sof-soundwire/dmic.conf
alsa-lib parser.c:95:(uc_

[2021-06-03 16:51] kv2019i commented on #2952
The ACPI flood can be silenced with:
sudo echo disable >/sys/firmware/acpi/interrupts/gpe66

[2021-06-03 16:52] plbossart commented on #2966
@michael-brade your config is invalid if you have an HDaudio device

[code]

please look at the settings we use

https://github.com/thesofproject/kconfig/blob/master/sof-defconfig
https://github.com/thesofproject/kconfig/blob/master/hdaudio-codecs-defconfig
https://github.com/thesofproject/kconfig/blob/master/mach-driver-defconfig

[2021-06-03 17:04] aigilea commented on #2700
@marian556
Alsa 1.2.5 is required to work with the latest ucm config.
This commit is just before the new syntax was introduced, it may work.
https://github.com/alsa-project/alsa-ucm-conf/archive/548036b8ecc92d4e8e2070046551fb0b8acb7d96.zip

[2021-06-03 17:30] plbossart commented on #2943
@bardliao @shumingfan this is a nice bug...

[code]

We already state the mark_last_busy at the end of the interrupts handling, so adding one more in the codec driver will do nothing.

I think we need more traces to see what happens

[2021-06-03 17:41] marian556 commented on #2700
Yes , it works. Thanks agilea. You saved me. this version of alsa-ucm-conf just works. Latest does not.

[2021-06-03 18:37] michael-brade commented on #2966
@plbossart thanks for the answer! However, I had that setting enabled before and it didn't help. Now I compiled it into the kernel again but nothing changes. I also removed the blacklist items.

And if that is required, why are we supposed to even blacklist the `snd_hda_intel` and `snd_soc_skl` modules?

[2021-06-03 18:41] plbossart commented on #2966
There is no need for any blacklist if you use a recent kernel. We're removed everything that caused confusion. the snd-intel-dspcfg module takes care of autodetection of which driver to use.

[2021-06-03 18:42] plbossart commented on #2966
And it's not just about snd-hda-intel, you need to look at the other settings in https://github.com/thesofproject/kconfig/blob/master/hdaudio-codecs-defconfig

[2021-06-03 18:43] marian556 commented on #2700
@aigilea  . Is it a good idea to introduce changes into alsa-ucm-conf that are not backward compatible with older alsa-utils. It was not possible to maintain alsa-ucm-conf compatibility with alsa-utils 1.2.4 for some time. Could a new syntax could be introduced alongside the old one? How are you going to communicate incompatible changes to all distributions, such as https://bugs.launchpad.net/ubun

[2021-06-03 18:43] plbossart commented on #2966
https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms is the right starting point for you.

[2021-06-03 18:49] plbossart commented on #2700
@marian556 I have no idea what Ubuntu are doing and can't do their work. You have Hui Wang's contact, please work with him.

[2021-06-03 20:09] aigilea commented on #2700
@marian556
Backwards compatible is a wrong term here. You're trying to configure an old program (alsa-lib 1.2.4) with a "future" configuration (alsa-ucm-conf 1.2.5).
The _correct_ way to fix the issue you've run into is to use alsa-lib 1.2.5 with alsa-ucm-conf 1.2.5. Once they will make it to the package manager of your choice this issue will vanish.

I've used 5.11 kernel with the following patch

[2021-06-03 21:22] plbossart commented on #2943
Cannot reproduce this bug on my side, added a test PR #2967 to try to get more traces. I've run 120+ cycles of suspend-resume and counting, no error

@XiaoyunWu6666 please re-run this PR if you don't mind.

[2021-06-03 21:49] michael-brade commented on #2966
Thanks, I think I got successful. I went through the `kconfig` files (thanks for the hint!) but even though I had to enable a few more things, it didn't change anything. Now I simply enabled almost all the options and then the errors changed: it failed loading the firmware. (I will yet have to find out which option was missing in the first place.)

The reason for failing to load the firmware: if c

[2021-06-03 22:04] plbossart commented on #2966
Thanks for the update @michael-brade

yes indeed, we need to document that we can only support modules. The dependency is on request_firmware() getting access to the firmware files, and that doesn't work with a built-in compilation.

You should take a loot at the UCM files we provided for different machines, it's all in alsa-ucm-conf. Don't reinvent the wheel with custom mixer settings.

[2021-06-03 22:24] plbossart commented on #2943
Changing test devices, I can reproduce this bug. This is really nasty, we suspend immediately after a resume and have an interrupt *after* the end of the suspend without resuming.

[code]

[2021-06-03 23:06] plbossart commented on #2943
It turns out this is a case where we do a system_suspend immediately after a pm_runtime resume, and we get an interrupt *AFTER* the system suspend.

This is really interesting because we disable interrupts handling at the master level, but because of the parent-child hierarchy the child has to be suspended first, so there's a window where the child is system-suspended, but the parent isn't.

[code

[2021-06-03 23:15] by-cx commented on #2700
Incredible ... speakers, HDMI output and microphone input are working or at least I can hear speakers and see the others in the list of available options. I will test it thoroughly later and report if I find any issue. The final touch needed was the UCM version from @aigilea like in @marian556 's case.

Thank you very much guys. The notebook arrived two days ago and I didn't expect speakers workin

[2021-06-03 23:45] plbossart commented on #2700
Glad you have a solution @by-cx. We've worked hard to make things work out of the box, too bad you tested too early :-)

Please do report the issue with firmware 1.8-rc2 separately, that's precisely the intent of -rc candidates. We don't have a lot of devices and we rely on the community early adopters to let us know of issues.

[2021-06-04 00:57] plbossart commented on #2943
Updated PR #2967 with tentative fix to prevent the interrupt_callback from dealing with jack detection. Not completely happy about a custom solution when this can happen for other devices as well.

[2021-06-04 01:29] bardliao commented on #2943
I don't have a better solution, but if we disable the interrupt we will lose the wake up feature, right? For example, a product may want to wake up the system when the headset button is pressed.

[2021-06-04 03:05] XiaoyunWu6666 opened #2968 "[BUG]runtime_status remain active after aplaying on 0,0 Jack Out , on TGLU_VOLT_SDW"
**Describe the bug**
After aplaying on -Dhw:0,0 Jack Out ,the runtime_status remain 'active'
happenen in internal daily test[id 4370]
**To Reproduce**

[code]
**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 3b025d22
SOF Branch: main
SOF Commit: fcaede7a8710
Topology: sof-tgl-sdw-max98373-rt5682.tplg
 Platform: TGLU_VOLT_SDW

**Screenshots or console output**

[2021-06-04 05:15] XiaoyunWu6666 commented on #2952
This issue seems to appear in daily test 4379 , is it fixed ?

[2021-06-04 05:26] #2952 closed

[2021-06-04 05:35] shumingfan commented on #2943
Is it possible to remove the SET_SYSTEM_SLEEP_PM_OPS?

[2021-06-04 05:47] libinyang commented on #2953
I checked the record again today.
1. the noise is OK. Almost no noise with loopback record.
2. use headset playback & record, the record still can capture what is playback, with very low volume.

[2021-06-04 06:06] bardliao commented on #2953
If the volume is very low, it is very likely a headset issue. Could you test the same scenario on a real product (eg. your cell phone) with the same headset?

[2021-06-04 06:12] libinyang commented on #2950
This bug can't be reproduced on main branch. @mengdonglin should we close it or put it to P3?

[2021-06-04 06:20] sathyap-chrome commented on #2953
@libinyang  @bardliao can we confirm 0001-ASoC-rt5682-Fix-the-fast-discharge-for-headset v2.zip works and @oder-chiou can post upstream ?

[2021-06-04 06:20] keyonjie commented on #2950
So this is 1.8 RC2 issue, @libinyang if it is fixed with both latest stable-v1.8 and main branch, we should close it.

[2021-06-04 07:06] kv2019i commented on #2952
@XiaoyunWu6666 Ack, this should be fixed, the ACPI errors were not related to audio, but would be picked up by sof-test as an error in the test.

[2021-06-04 08:16] XiaoyunWu6666 commented on #2952
@kv2019i  Thanks so much.

[2021-06-04 08:56] giddie opened #2971 "Dell Inspiron 15 7590: digital microphone froze unexpectedly"
FYI, this is the same system as for: https://github.com/thesofproject/linux/issues/1917

Ever since the previous issue was resolved, I've been getting intermittent system freezes during video calls that I _suspected_ were related to the sof driver, but the system would freeze so hard that nothing was persisted to the log. Yesterday, during a video call where I was using the internal digital microp

[2021-06-04 08:59] libinyang commented on #2953
@bardliao You got it. It's the headset issue...
@sathyap-chrome The patch works well on my board now.

[2021-06-04 09:41] michael-brade commented on #2966
Yeah, I won't :) but alsa-ucm-conf is just alsa by itself - together with pulseaudio that works fine, even the microphone :+1:  Jack doesn't want to work and doesn't start or produces garbage. I'll postpone that for later, it's just too hard to set up :grimacing:

[2021-06-04 13:42] by-cx commented on #2700
@plbossart I started testing it in the right time :-) Thank you again, I will report the issue with 1.8-rc2 :+1:

[2021-06-04 13:58] plbossart commented on #2606
@bardliao while testing PR https://github.com/thesofproject/linux/pull/2967 I found the same error with the hw_reset bits not cleared.

[code]

[dmesg.txt](https://github.com/thesofproject/linux/files/6598977/dmesg.txt)

[2021-06-04 15:15] plbossart commented on #2971
Thanks for reporting this @giddie.

I must admit I've never seen this pattern. Adding @kv2019i and @juimonen since it looks related to controls.

[code]

Can you share the alsa-info again and clarify which firmware version you use? v1.7 is out.

[2021-06-04 15:20] giddie commented on #2971
I'm using 1.7 (ArchLinux)

[alsa-info.txt](https://github.com/thesofproject/linux/files/6599528/alsa-info.txt)

Many thanks for looking into it :)

[2021-06-04 16:13] plbossart commented on #2971
Thanks @giddie, I went through the reports and still don't see something similar.

The only advice I can give for now is to try and add more dynamic debug traces with e.g. this is /etc/modprobe.d/sof-dyndbg.conf. It's an excerpt of what we use in our validation, I realize it's going to be quite verbose but I don't have anything else to suggest really.

[code]

[2021-06-04 16:16] plbossart commented on #2966
@kv2019i just to check, you've tested Jack with HDaudio devices? I vaguely recall a change of period sizes to make Jack happy, but don't recall if this was for those devices.

[2021-06-04 16:20] kv2019i commented on #2966
Ack @plbossart , JACK (and PipeWire) is tested on HDA devices, so this should work. JACK doesn't use alsaucm, so you'll have to use "alsaucm" tool manually, or write some scripts. PipeWire covers this better.

[2021-06-04 20:47] plbossart opened #2973 "APL-nocodec: Up2 suspend-resume/IPC errors"
kernel:
3b025d226b7b (HEAD -> topic/sof-dev, sof/topic/sof-dev) ASoC: Intel: skl_hda_dsp_generic: Update Kconfig documentation

firmware:
d6e29ced2 (HEAD -> main, origin/main) Drivers: Intel: DMIC: Remove in_active parameter from dmic_stop()

[code]

[dmesg.txt](https://github.com/thesofproject/linux/files/6601156/dmesg.txt)

@ranj063 can you double check if I have all the relevant commits? I was

[2021-06-04 20:57] plbossart commented on #2973
This test seems to be fine if run after boot, but running

TPLG=/lib/firmware/intel/sof-tgpl/sof-apl-nocodec.tplg ~/sof-test/test-case/run-all-tests.sh -l1

does show the problem.

Some state seems to be established prior to suspend-resume leading to the IPC failure.

[2021-06-04 20:58] plbossart commented on #2943
I don't think so @shumingfan, we still need to cancel the workqueues if an interrupt happens just before the suspend.

[2021-06-04 22:08] fredoh9 commented on #2973
For me, I can't reproduce the problem, yet.

"version" : {
        "kernelBranch" : "topic/sof-dev",
        "kernelCommit" : "3b025d22",
        "sofBranch" : "main",
        "sofCommit" : "d6e29ced2430"
},
sof-test SHA1 = 02007805

I installed pulseaudio, pulseaudio is running.
[code]

[2021-06-04 23:18] ranj063 commented on #2963
also doesnt happen with 19.04 i boot without the HDMI monitor connected

[2021-06-04 23:41] plbossart commented on #2943
Updated PR in https://github.com/thesofproject/linux/pull/2975

Let's see what @XiaoyunWu6666 and @fredoh9 find in tests.

[2021-06-05 22:19] by-cx opened #2985 "[BUG] Sound on HP Spectre x360 aw2002 with Tiger Lake-H is not working on 1.8-rc2"
**Describe the bug**

When I was trying to get speakers on my notebook working I noticed that it's working with version 1.7 but not 1.8-rc2, both from sof-bin repository. I cannot see any audio output related to the integrated sound hardware with 1.8-rc2.

My notebook is: HP Spectre x360 aw2002
Which uses CPU i7-1165G7
Here is lspci:

[code]

**To Reproduce**

Working combination is:

* SOF 1.7
*

[2021-06-07 01:44] keqiaozhang commented on #2764
@juimonen, any updates on this issue?

[2021-06-07 04:03] XiaoyunWu6666 commented on #2945
@oder-chiou  tested on sh-tglu-volt-sdw-03 and dmesg log is shown as the following.
[dmesg.txt](https://github.com/thesofproject/linux/files/6605777/dmesg.txt)

[2021-06-07 06:53] bardliao commented on #2945
@XiaoyunWu6666 Could you test it with https://github.com/thesofproject/linux/pull/2977

[2021-06-07 06:59] GFdevelop commented on #2764
After the last updates on arch linux the output device it's ok and work well, but the input device work only with your topology as the previous comments.

[2021-06-07 07:00] juimonen commented on #2971
@giddie @plbossart I've also never seen this kind of log.... usually with 1 failed ipc the dsp goes to some really borked state. Now it seems that it is somehow alive but responding back with some bogus. Probably the log with ipc errosr is from system waking up/ streaming starting, because it is going through all possible outputs and trying to send control messages?

[2021-06-07 07:09] bardliao commented on #2968
@XiaoyunWu6666 Could you try https://github.com/thesofproject/linux/pull/2976?

[2021-06-07 08:10] giddie commented on #2971
Presumably that could be the cause of the hard system lockups I get occasionally during video calls? (Usually even sysrq doesn't respond when this happens.)

I've added this, and I'll report back if I manage to catch logs of this happening again. Thanks :+1:

[2021-06-07 09:11] XiaoyunWu6666 commented on #2968
@bardliao  it can fix the issue

[2021-06-07 09:45] XiaoyunWu6666 commented on #2945
it works well @bardliao

[2021-06-07 12:32] #2968 closed

[2021-06-07 13:15] plbossart commented on #2985
@thanks @by-cx for letting us know. I don't see anything wrong from the logs.

We'll look into this but can you confirm that you have 1.7 working? I see this in you alsa-info and I wonder if you did a manual install of 1.7?

alsa-sof-firmware-1.6.1-4.fc34.noarch

[2021-06-07 13:45] by-cx commented on #2985
@plbossart That's system package Fedora installs along the other things. I backuped its files and copied version 1.7 from sof-bin repo manually. 1.6.1 doesn't work on my notebook.

![image](https://user-images.githubusercontent.com/428000/121026643-9d26db00-c7a6-11eb-96ad-987b19f5a698.png)

I think the issue could relate to alsa-ucm-conf because the firmware is loaded, topology too and the only pr

[2021-06-07 13:57] plbossart commented on #2985
Thanks @by-cx.
Could you try this:

sof-tplg -> sof-tplg-v1.7
sof->sof-v1.8-rc2

I see that we modified the PCM indices and renamed the PCMs in the topology between 1.7 and 1.8 and I wonder if this impacts UCM.

[2021-06-07 14:12] plbossart commented on #2985
in theory UCM looks for the device number by name
https://github.com/alsa-project/alsa-ucm-conf/blob/a4cd64da90d01dc801b1887a7f835420512d0f17/ucm2/sof-soundwire/dmic.conf#L6

But if you have an earlier version of UCM that may not work. I see that in the initial version I used
+		CapturePCM "hw:${CardId},3"

A temporary fix on your device could be to edit /usr/share/alsa/ucm2/sof-soundwire/dmic.con

[2021-06-07 14:14] #2945 closed

[2021-06-07 20:35] plbossart commented on #2963
@fredoh9 @aiChaoSONG @keqiaozhang is there a way to connect the up2 devices used for CI to an HDMI monitor?

[2021-06-07 22:57] fredoh9 commented on #2963
For JF labs, we don't have much space for HDMI monitor. When HMDI display is required, I used to bring a cart with Monitor/Keyboard/Mouse, but hard to keep that setup long. It will block the traffic. If we have smaller HDMI monitor, we could keep them in a shelf.

[2021-06-07 23:00] fredoh9 commented on #2963
@marc-hb I know you are using APL UP2 for Zephyr, do you see this problem?

[2021-06-07 23:41] fredoh9 commented on #2963
I thought I don't have this problem with my UP2 with Fedora 34, but 100% reproducible to me also.

[2021-06-08 00:21] marc-hb commented on #2963
Never had any reboot issue with my UP2 - EDIT: HOWEVER I disabled  graphics with `systemctl`, booting only the console. This makes it much easier to see kernel logs.

[2021-06-08 03:20] iammrallblue commented on #2777
Is anyone found solutions for this issus? @NelsonJeppesen  Hey buddy, Did you solve this issue yet ??

[2021-06-08 03:42] NelsonJeppesen commented on #2777
Unfortunatly not. I opened a bug with linux kenel, but not much activity

https://bugzilla.kernel.org/show_bug.cgi?id=212041

[2021-06-08 05:20] XiaoyunWu6666 opened #2983 "[BUG][SDW]soc_component_read_no_lock error on tglh-0a5e-sdw"
**Describe the bug**
in daily test 4434 , verify-kernel-boot-log failed on TGLH-0A5E-SDW.
when creating new PCM HDMI , error occured

**To Reproduce**
 TPLG=sof-tgl-rt711-rt1308-rt715.tplg ~/sof-test/test-case/verify-kernel-boot-log.sh
**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: d07af131
SOF Branch: main
SOF Commit: d6e29ced2430
 Topology: sof-tgl-rt711-

[2021-06-08 07:19] XiaoyunWu6666 commented on #2943
Sorry to miss the comment. @plbossart

I just run the testcase[TPLG=sof-cml-rt700-4ch.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50] 4 times and 3  of them were 'PASS'! At least #2975 reduces the probability of this issue , compared to before.

However another error appeared once. Pity that I only got the console log of it and haven't reproduced it yet so far.
Put the log here and once I

[2021-06-08 07:27] #2054 closed

[2021-06-08 10:39] kv2019i commented on #2983
The "kernel: sof_sdw sof_sdw: hda_dsp_hdmi_build_controls: no PCM in topology for HDMI converter 7" prints are normal and will not cause errors. I'll remove "Display Audio" and replace with Soundwire tag. This seems to be a Soundwire specific issue.

[2021-06-08 11:45] plbossart commented on #2963
To see problems with Up2, you need to

a) keep pulseAudio
b) have a monitor connected

SOF CI does neither....

[2021-06-08 11:48] plbossart commented on #2777
@NelsonJeppesen since you posted this bug, others provided solutions to find the amplifier initialization if you have access to a working Windows setup, see https://github.com/ryanprescott/realtek-verb-tools/wiki/How-to-sniff-verbs-from-a-Windows-sound-driver

[2021-06-08 11:56] plbossart commented on #2943
@XiaoyunWu6666 this is a separate issue, I also saw the problem with MCP_CONTROL_HW_RST and added a reference in issue https://github.com/thesofproject/linux/issues/2606

The good thing is that we know exactly where this happens so we can start debugging. But like I said it's a different issue happening on resume while this IO error happens on suspend.

[2021-06-08 12:04] plbossart commented on #2606
This is interesting, @XiaoyunWu6666 reported a log where the problem happens on system resume in https://github.com/thesofproject/linux/issues/2943#issuecomment-856522731, while what I saw above was for pm_runtime_resume.

[2021-06-08 12:48] plbossart commented on #2983
@XiaoyunWu6666 can you check for a possible ACPI issue? I've seen this sort of errors when we have a bad ACPI config.

The error says
[code]

but the only rt1308 is this:
[code]

There is zero trace of any rt1308 activity on link 2 (sdw:2 prefix).

[2021-06-08 15:28] lgirdwood commented on #2985
kernel is probably the best place for UCM integration bugs.

[2021-06-08 16:45] NelsonJeppesen commented on #2777
I run NixOS, so it'll take a little bit of work to port that guide. But its on my todo list to be sure but I figure it's a solid weekend of work

But thank you for the link

[2021-06-08 17:45] marc-hb commented on #2963
We have tests both with and without pulseaudio, they're obviously distinct because Pulseaudio assumes exclusive ownership of the hardware and has been found interfering with the latter.

[2021-06-08 18:12] plbossart commented on #2963
I don't think that's true, the 'deploy' scripts remove pulseaudio on test devices. @fredoh9 can you confirm?

[2021-06-08 18:14] marc-hb commented on #2963
The distinct, pulseaudio test suite from @libinyang obviously installs pulseaudio before testing it. Disclaimer: I've never used it myself. EDIT, somewhat related: #2211

[2021-06-08 18:27] plbossart commented on #2963
I don't know what we are talking about here.
this is what I see on my test device:

[code]

[2021-06-08 19:47] plbossart commented on #2953
Can we close this now @sathyap-chrome @libinyang ?

@oder-chiou 's patch is upstream and in topic/sof-dev, not sure if anything else is needed now.

[2021-06-08 19:49] plbossart commented on #2950
@keqiaozhang @libinyang rather than playing with priorities, can we check if the code is both is stable-v1.8 and main branch as asked by @keyonjie

We need to close issues faster, thanks for your help.

[2021-06-08 20:16] plbossart commented on #2579
no update in 5+ months, closing

[2021-06-08 20:16] #2579 closed

[2021-06-08 21:20] kcgthb opened #2986 "soundwire sdw:2:25d:1308:0: Probe not complete, timed out"
HI!

I'm observing a regression on a Dell Precision 5750 running Debian 5.10.0-7-amd64.

Sound (output and mic) used to work just fine, but a recent update must have broken something, as no audio devices are detected anymore. Alsa config has not changed, firmware files are still in place (Debian package `firmware-sof-signed` 1.6.1-2), but suddenly, the device initialization fails to happen properl

[2021-06-08 21:51] fredoh9 commented on #2963
@marc-hb @plbossart you are both right.
YES, We are testing with pulseaudio enabled devices also but we have dedicated devices for that.
Yes, deploy script will remove pulseaudio.

[2021-06-08 22:58] plbossart commented on #2986
@kcgthb thanks for reporting this.

It's likely a kernel issue, would you know what the previous config was? They should have kept the older kernel in theory during the update so you might be able to boot into the old version?

Would you mind reporting what 'sudo dmidecode' lists for the SKU number (that's how we track Dell devices). I suspect you have one of 098F or 0990 since it looks like you h

[2021-06-08 23:05] plbossart commented on #2963
@fredoh9 can you clarify which devices use PulseAudio and where the results are posted. So far I only look at the CI results and the Intel daily tests. What am I missing?

[2021-06-08 23:48] kcgthb commented on #2986
@plbossart Thanks for your reply!

I've only used stock Debian kernels, so yes, I have the config that's provided in the package.
The diff between the last 2 versions is like this:
[code]

Yes. Now that's the very very weird thing: booting on an older kernel seems to produce the same result now, with the same device initialization failure... I haven't been very careful in noting the versions betwe

[2021-06-09 01:53] keqiaozhang commented on #2953
Confirmed that this issue cannot be reproduced in latest topic/sof-dev/https://github.com/thesofproject/linux/commit/c2e9167423d0ad2f4f2c09f4ed537f694c02e28e

[2021-06-09 01:53] #2953 closed

[2021-06-09 02:42] keqiaozhang commented on #2983
@plbossart , acpi table looks correct. there're 2 rt1308 codecs. one is one SWD1 and another one is on SWD2:
[code]
[code]

acpi table：[dsdt-dsl.txt](https://github.com/thesofproject/linux/files/6620732/dsdt-dsl.txt)

[2021-06-09 03:19] libinyang commented on #2963
@plbossart @ranj063 which UP2 model are you using, HDA, nocodec or PCM512x? I found UP2 HDA are using PCM1, 2, 3 for HDMI audio, which doesn't match the UCM setting.

[2021-06-09 05:06] libinyang commented on #2950
Both stable-v1.8 and main branch can't reproduce this bug now.

[2021-06-09 05:06] #2950 closed

[2021-06-09 06:40] fredoh9 commented on #2963
@plbossart Libin enabled `user_space_test`. Currently only one platform is being tested weekly, `CML_SKU0955_HDA_USER`. This has a dedicated device for user space test, pulseaudio is enabled. From testplanresult page, Plan Result List->search plans= `user_space_test`.

[2021-06-09 06:46] XiaoyunWu6666 commented on #2828
https://github.com/thesofproject/kconfig/pull/55 which  removes  PINCTRL for EHL is already merged . Will close this if daily test is good

[2021-06-09 08:29] carnil commented on #2986
For reference only, downstream kernel report for the issue: https://bugs.debian.org/989622

[2021-06-09 08:50] akohta commented on #2485
The sound device was enabled by the installation of Sound Open Firmware v1.8-rc2 downloaded the link below.
https://github.com/thesofproject/sof-bin
I'm using Arch linux, kernel 5.12.9 (official kernel).
After installation, Built-in Audio "Play HiFi quality Music" profile is appeared in configuration tab of pavucontrol.
It works, but keeps freezing (keep the sound like a beep) every few minutes. T

[2021-06-09 13:46] plbossart commented on #2983
@keqiaozhang @XiaoyunWu6666 I fundamentally don't understand what causes such a massive failure. We haven't changed any SoundWire code recently.

Is this a new device that wasn't tested before?
Or is this a regression and if yes what was the last time this device worked?

[2021-06-09 13:47] plbossart commented on #2983
Is this from the regular DSDT or does it come from the additional initrd override with acpi scripts?
I've seen conflicts between the two leading to this sort of issues before.

[2021-06-09 13:49] plbossart commented on #2963
@fredoh9 is this test in sof-test?
also why only one platform tested weekly? What prevents us from testing all platforms during a week-end?

[2021-06-09 14:09] plbossart commented on #2986
Thanks @kcgthb I am still in the dark on what happens. It seems you have a card so the configuration seems ok.

We will need more traces to figure this out, can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6624379/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the full dmesg log.

That would help us see more that the flow i

[2021-06-09 14:18] plbossart commented on #2485
@HoshiYamazaki thanks for the information

We have seen similar reports from @jwrdegoede and others that beeps are observed, see https://github.com/thesofproject/sof/issues/3868#issuecomment-850845612

it seems that enabling the firmware trace in the kernel with
options snd_sof sof_debug=1
in /etc/modprobe.d/alsa-base.conf

makes the problem less visible.

Alternatively you can disable SOF and use

[2021-06-09 15:18] kcgthb commented on #2986
Absolutely, yes. Please find the full dmesg at https://hastebin.com/raw/ceguvibone (EDIT: sorry initial links contained incomplete logs).

Thank you very much for looking into this!

[2021-06-09 15:39] kcgthb commented on #2986
Ok, and after waiting for a while, it looks like the devices end up being initialized after all (hence the updated log in my previous comment):
[code]

  So I'm not sure where the `IO transfer timed out` errors are coming from, could it be a power management issue?

[2021-06-09 16:10] fredoh9 commented on #2963
@plbossart Yes, all tests are in sof-test. This is first stage of testing with pulseaudio. To simplify setup issue, dedicated device is being used. If deploy script can handle more for user space related, we could share devices. I believe @libinyang is working on it also.

[2021-06-09 16:15] kcgthb commented on #2986
Well, I may have been a bit quick jumping to conclusion that the device was properly initialized. Although it seems to be detected, PulseAudio doesn't seem to be able to do much with it: See the output of a `systemctl --user start pulseaudio.service` at https://hastebin.com/raw/abazohoyam

[code]

[2021-06-09 16:21] plbossart commented on #2986
Thanks @kcgthb this helps.

It could be that the probe timeout is too small.

The sequence starts well

[code]

but then goes South
[code]

The timeout is 2s in drivers/soundwire/bus.h:

#define DEFAULT_PROBE_TIMEOUT       2000

This timeout was added to make sure that the modules are loaded and probed *BEFORE* we start calling into the codec driver. We need to have a number of variables that need

[2021-06-09 16:46] plbossart commented on #2983
Another hypothesis is a broken device.

I see from the last trace that there's no RT1308 device that reports as 'attached' on the link2.

Could you try to see what happens is the link mask is 0xb (0b1011) to disable the link2.

[code]

[2021-06-09 16:46] plbossart commented on #2983
@bardliao and @RanderWang can you help here? I don't have this device so can't test locally.

[2021-06-09 17:02] plbossart opened #2987 "[BUG][TGL] [NOCODEC] failed to enable target core: -2 for widget PCM5C"
Intel test 4457 TGLU_RVP_NOCODEC verify-kernel-boot-log

[code]
@XiaoyunWu6666 @keyonjie @ranj063 any idea what happened here?

[2021-06-09 17:52] ranj063 commented on #2987
no idea @plbossart . This is a ci-only topology. I'll punt this one to @keyonjie as he's the one who updated this topology.

[2021-06-09 19:20] plbossart commented on #2987
duplicate of https://github.com/thesofproject/sof/issues/4317, which already has a fix with https://github.com/thesofproject/sof/pull/4318

[2021-06-09 19:20] #2987 closed

[2021-06-09 19:26] kcgthb commented on #2986
So, I did just that, and wow, spot on: the device now comes up right away at boot, the timeout messages are gone.
The full dmesg with `sof-dyndbg.conf` and a timeout of 10s is at https://hastebin.com/raw/hukopofazi

Thank you!

[2021-06-09 19:34] plbossart commented on #2986
Cool, thanks @kcgthb for testing.

Can I bother you to try https://github.com/thesofproject/linux/commit/23f091b1072b165b982c4fdadde618e500e13c9d.patch (keeping the added timemout) and resend the dmesg log.

I'd like to see if 10s are actually necessary and size the timing changes more accurately.

[2021-06-09 19:46] plbossart commented on #2983
If it's not a hardware issue, here is the information I can find.

The last test that worked on this device is 4370
Start Time: 2021-06-03 21:21:46 UTC
Kernel Commit:
3b025d22
 storage:
3b025d22
SOF Branch: main
SOF Commit:
fcaede7a8710
 storage:
fcaede7a8710-1
sh-tglh-0a5e-sdw-01

The first test to fail, after 4 days with "NOT TESTED" is 4434

Start Time: 2021-06-07 21:21:21 UTC
End Time: 2021-06

[2021-06-09 21:23] kcgthb commented on #2986
Sure! I actually got a compilation error with the patch, using the default Debian compiler:
`gcc version 10.2.1 20210110 (Debian 10.2.1-6)`
[code]

[2021-06-09 22:30] kcgthb commented on #2986
I gave a try at the patch with:
[code]
instead of:
[code]
which compiled fine.

But I'm afraid the next boot sent the kernel in some sort of infinite loop, with the kernel spewing logs at a rate that made the machine unusable (see the timestamps):
[code]

Not sure if that was caused by the `name` -> `drv->name` change, since the looping message is `setting modalias` while the `name` change was in

[2021-06-10 02:29] XiaoyunWu6666 commented on #2983
FYI,  aplay using -Dhw:0,2 in all  following cases failed also. @bardliao @plbossart @RanderWang
Please check the original description for log details , thanks.

[2021-06-10 03:05] XiaoyunWu6666 commented on #2983
This device worked well on June 03 [internal daily 4370 ]
I will use the old recipe to check whether it can work or not

[2021-06-10 03:12] akohta commented on #2485
@plbossart  thanks for your reply.

The sound device is working fine for 2 hours. This module parameter is highly effective for my device.
It seems that this module parameter prevents the sound device from becoming idle while it is running.
Thank you so much for your help.

[2021-06-10 03:21] XiaoyunWu6666 commented on #2983
I use the old recipe but the error happens again . Will check with @keqiaozhang  whether it is a hardware issue this afternoon
[code]

[2021-06-10 06:24] bardliao commented on #2983
I tested it with below recipe and no issue on my TGLH-0A5E-SDW device
Kernel Branch: topic/sof-dev
Kernel Commit: d07af13
SOF: 20210607 daily
Topology: sof-tgl-rt711-rt1308-rt715.tplg

[2021-06-10 07:25] XiaoyunWu6666 commented on #2828
it is good in inner daily test 4487, close it

[2021-06-10 07:46] elorriaux commented on #1985
Hello,

I don't know if I should continue this thread or open another one. There is still a small glitch on my system, from time to time, without being able to identify the root cause, my speaker stops working. I've never been able to find a way to get back the sound when it happens, I just know that the mic is still working as people can still hear me during meetings.

The only way to get back th

[2021-06-10 08:32] XiaoyunWu6666 commented on #2983
hi @plbossart , I synced with @keqiaozhang @bardliao  that it was a hardware-related issue.[ Trying the old good recipes did not make the result different.]
Firstly we tried cold reboot , it didn’t work .Then, we tried set default BIOS and it worked well . Will keep tracking sh-tglh-0a5e-sdw-01’s status in following CI daily tests.

[2021-06-10 09:12] XiaoyunWu6666 opened #3043 "[BUG] sof-logger resisted pkill -TERM, using -KILL on BYT_MB_NOCODEC"
**Describe the bug**
'sudo pkill -TERM sof-logger'   failed  ,  so use 'pkill -KILL'  instead
found in inner daily test 4487 on BYT_MB_NOCODEC check-capture-10sec.

But cannot reproduced manually  , sof-logger can be pkilled normally via manual experiment.

**Log**
[dmesg]
[code]

[2021-06-10 11:25] plbossart commented on #2986
Sorry @kcgthb, I forgot that modalias was super verbose

Please try with https://github.com/thesofproject/linux/commit/9674883e67f9699d777bbed0fda47b4d3da2bd14.patch
we should now see one message for each device.

[2021-06-10 11:34] plbossart commented on #2828
let's keep this open until the BIOS issue is resolved.

[2021-06-10 11:39] plbossart commented on #1985
this should be added as a new issue @elorriaux

The fact that the speakers don't work but the mic does makes me think there is a codec configuration issue or something. When SOF fails it typically fails big. Also we reset the DSP and re-download the firmware on each suspend-resume or reboot, so requiring a power cycle looks like a problem on the amplifier side.

[2021-06-10 12:47] plbossart commented on #2986
Sorry wrong version, this should be https://github.com/thesofproject/linux/commit/f13a75b8c218d377aac63a769badaee4506b1a26.patch

[2021-06-10 13:59] plbossart commented on #2986
Results from the Intel tests:

[code]

2s timeout is plenty for this case.

[2021-06-10 16:05] plbossart commented on #2502
This is also a case where early bitclock enablement could help.

[2021-06-10 16:08] kcgthb commented on #2986
Thanks for the updated patch!

I was able to collect timing logs, and on my system, there are a couple probe timeouts that significantly increase the whole probing time:

[code]
The complete dmesg log is at https://hastebin.com/raw/ulidusocow
Please let me know if you'd like it with `sof-dyndbg.conf` as well.

Thanks!

[2021-06-10 16:28] kcgthb commented on #2986
Here's the full dmesg log with `dyndbg`:
https://hastebin.com/raw/ajiwidobif

[2021-06-10 16:38] plbossart commented on #2986
@kcgthb that's very helpful, very puzzling results indeed.

so if we take a single device we have

[code]

That's more than 10s between the kernel asking udev to load a module and the driver probe completing.

My results show 28ms :-)

I don't know what could possibly cause this sort of delays on a device that is well supported by other distributions, e.g. Ubuntu never reported this sort of proble

[2021-06-10 16:44] plbossart commented on #2778
@fredoh9 @marc-hb @kv2019i can this be closed?

[2021-06-10 16:47] plbossart commented on #2668
FYI, see the instructions in https://github.com/ryanprescott/realtek-verb-tools/wiki/How-to-sniff-verbs-from-a-Windows-sound-driver to get the sequences needed to enable the amplifier.

[2021-06-10 16:52] plbossart commented on #2573
@kv2019i is this still on your TODO list?

[2021-06-10 16:56] plbossart commented on #2577
@paulmenzel closing but I'll still take you up on your offer to buy me and @kv2019i a beverage.

[2021-06-10 16:56] #2577 closed

[2021-06-10 16:57] plbossart commented on #2556
@marc-hb do we still have an issue or did you fix this with your work on GitHub actions

[2021-06-10 17:05] gbuloz opened #2990 "No sound card detected on custom EHL board with ALC5660I codec on I2S0"
The sound is working under Windows 10, but no sound card detected under Linux (kernel 5.11.11 Fedora 33)
The ACPI of this board has been changed to use codec ID 10EC5660 instead of the original value INTC1027 (that works under Windows but is not supported under Linux). See attached dsdt.dsl file generated under Linux.
[dsdt.dsl.gz](https://github.com/thesofproject/linux/files/6633131/dsdt.dsl.gz)

[2021-06-10 17:15] marc-hb commented on #2556
I prototyped something in thesofproject/sof and it's been working great.
https://github.com/thesofproject/sof/blob/73df64444b752/.github/workflows/codestyle.yml#L38

It only needs a couple minor fixes and a way to re-use in this repo here without copy/paste/diverge. Afraid the latter would mean creating a new Github Action, something I've never done before.

I would like to keep this issue open as

[2021-06-10 17:29] plbossart commented on #2556
I'll close @marc-hb, you're the only one working on this and we don't need to track this as an issue. Thanks for your work btw, I promise that on a rainy day I'll finally try to understand the git clones :-)

[2021-06-10 17:29] kcgthb commented on #2986
Yep, and in that particular case, the audio device didn't show up, the 10s timeout was not enough. :(

On the next reboot, the overall time was shorter, and the device was properly initialized. So it looks like the delay is not exactly identical across reboots.

Looking at the whole boot log picture, there seems to be a 3s gap here where nothing is logged:
[code]

Not sure how relevant that could

[2021-06-10 17:34] marc-hb commented on #2778
@XiaoyunWu6666 I understand you haven't see this recently? If not please close.

It may have been fixed upstream.

[2021-06-10 17:36] plbossart commented on #2990
@gbuloz can you add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6633300/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf and attach the dmesg log (edit: need to reboot)

Can you also provide the results of "ls /sys/bus/pci/devices/0000\:00\:1f.3/", just to check if you have an elh_rt5660 device added by the SOF driver.

Thanks!

[2021-06-10 17:41] plbossart commented on #2551
Closing since there is both a kernel work-around and a BIOS update. Thanks @mrhpearson for following-up.

[2021-06-10 17:47] plbossart commented on #1838
It's unclear if this bug is current or not. I will close, if this is an error @sathyap-chrome @aiChaoSONG @keyonjie please reopen with a status.

[2021-06-10 17:47] #1838 closed

[2021-06-10 17:49] plbossart commented on #1727
No information in 16 months and no issue reported by the Chrome team, closing.

[2021-06-10 17:49] #1727 closed

[2021-06-10 17:51] plbossart commented on #2458
no one has reported this issue in a while, closing.

[2021-06-10 17:51] #2458 closed

[2021-06-10 17:53] plbossart commented on #2020
no update in 6+ months, closing.

[2021-06-10 17:53] #2020 closed

[2021-06-10 17:54] plbossart commented on #2103
@libinyang @mengdonglin @keyonjie in the absence of any update since May 2020, I will close this issue.

[2021-06-10 17:54] #2103 closed

[2021-06-10 17:55] #2131 closed

[2021-06-10 17:56] plbossart commented on #2180
no update since June 2020, closing.

[2021-06-10 17:56] #2180 closed

[2021-06-10 17:57] plbossart commented on #2249
no update since July 2020, closing.

[2021-06-10 17:57] #2249 closed

[2021-06-10 17:59] plbossart commented on #2748
Closing this issue since the fix is upstream. Again thanks @ryanprescott for your work!

[2021-06-10 17:59] #2748 closed

[2021-06-10 18:00] plbossart commented on #2334
@lyakh @kv2019i @marc-hb should we keep this open? I haven't seen much traffic on this.

[2021-06-10 18:01] plbossart commented on #2346
@libinyang @mengdonglin is this issue fixed? It's been 3 quarters already.

[2021-06-10 18:02] plbossart commented on #2401
duplicate, closing

[2021-06-10 18:02] #2401 closed

[2021-06-10 18:06] plbossart commented on #2700
I'll close this issue since it's fixed upstream. UCM issues due to topology changes in 1.8-rc2 are handled in https://github.com/thesofproject/linux/issues/2985

Thanks to @aigilea for submitting this bug and testing fixes, much appreciated.

[2021-06-10 18:06] #2700 closed

[2021-06-10 18:10] plbossart commented on #2375
Closing since it's not clear if the problem still exists.

[2021-06-10 18:10] #2375 closed

[2021-06-10 18:12] plbossart commented on #1069
@kv2019i it's been nearly a year, shall we keep this open?

[2021-06-10 18:13] kv2019i commented on #2778
Let's close this. Not reproduced with upstream -> https://github.com/thesofproject/linux/issues/2778#issuecomment-806358349

[2021-06-10 18:13] #2778 closed

[2021-06-10 18:15] plbossart commented on #2966
closing. @michael-brade if you see an issue with mixer configurations please file another issue.

[2021-06-10 18:15] #2966 closed

[2021-06-10 18:31] plbossart commented on #2528
This topic has not received any feedback, I'll add @kv2019i @marc-hb and @lgirdwood for comments (if you've worked on sof-logger or the trace you're 'it').

[2021-06-10 18:36] plbossart commented on #2496
@libinyang can you confirm that the UCM files use the RT715 and RT715-sdca mute controls? The SOF controls should not be used if the codec provides mute support. thanks!

[2021-06-10 19:11] plbossart commented on #2211
@libinyang can you work on this, with the use of topology 2.0 we'll need newer packages and we'll need all SOF developers to know what to install. This is a priority IMHO.

[2021-06-10 19:14] plbossart commented on #2096
Now that I re-read this, I don't think it's an enhancement but a bug with our implementation.
@lgirdwood FYI

[2021-06-10 19:16] plbossart commented on #2067
I think this enhancement is implemented now, should we close it @libinyang @kv2019i ?

[2021-06-10 19:17] plbossart commented on #1963
implemented for a while now, closing.

[2021-06-10 19:20] plbossart commented on #1632
isn't this implemented already at the firmware level by @lyakh 's changes?

I am not sure what the kernel could do anyways, it could change the debug level but for rate-limiting we have to filter at the source, i.e. within the firmware.

@mengdonglin can you comment?

[2021-06-10 19:21] plbossart commented on #887
@keyonjie isn't this implemented already?

[2021-06-10 19:24] plbossart commented on #846
@ranj063 can you clarify what remains to be done, I can't follow this 2-yr old thread. thanks!

[2021-06-10 19:26] plbossart commented on #724
ping @keyonjie, we need to either close issues or provide updates/status.

[2021-06-10 19:28] plbossart commented on #83
@lgirdwood this is almost 3 years old, can you revisit and clarify what is needed?

[2021-06-10 19:47] plbossart commented on #2907
duplicate of https://github.com/thesofproject/linux/issues/314

let's close this one, we will work on this when we have multi-client support. for short-term it's enough to support early bitclk enablement.

[2021-06-10 19:47] #2907 closed

[2021-06-10 19:49] plbossart commented on #1146
@keyonjie @ranj063 isn't this implemented with dynamic pipelines already? If yes there's no reason to keep this as an enhancement request. Please close unless I missed something.

[2021-06-10 19:52] plbossart commented on #139
let's close this, there are existing solutions and no real new development needed.

[2021-06-10 21:01] plbossart commented on #2676
Error seen again in https://sof-ci.01.org/linuxpr/PR2978/build5863/devicetest/?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-after-playback

This means PR #2749 does not fully solve the problem. Gah, it seems we see this error once per month.

[2021-06-10 21:04] marc-hb commented on #2943
FWIW this has been the most frequent failure in my (unrelated) Pull Requests over the last few days, I would say about 80-90% of the time. Fortunately the error message makes it very clear to identify, so it does not cost that much time.

[2021-06-11 01:40] keyonjie commented on #887
Don't think so, at least the ref_cnt for each DSP core not added. I submitted https://github.com/thesofproject/linux/pull/2850 and then @ranj063 took over of this.

I think @ranj063 haven't had chance to do this yet?

[2021-06-11 02:49] keyonjie commented on #724
looks the issue is not existed anymore, let me close it.

[2021-06-11 02:49] #724 closed

[2021-06-11 02:53] libinyang commented on #2990
@gbuloz The ACPI table seems OK now. Besides dmesg, please also attach the lspci -vvvv

[2021-06-11 02:56] keyonjie commented on #1296
@plbossart the issue is still there, maybe this can be covered by security check? @libinyang @RanderWang FYI.

[2021-06-11 03:05] keyonjie commented on #2805
@sathya-nujella please refer to IMR restoring feature implemented PRs which could be the solution of fixing this.

https://github.com/thesofproject/linux/pull/2989
https://github.com/thesofproject/sof/pull/4320

[2021-06-11 03:29] cujomalainey commented on #2805
@keyonjie what is IMR?

[2021-06-11 05:04] keyonjie commented on #2805
Isolated Memory Region, here it is a DDR memory block reserved for storing FW binary which is shared b/w ROM and CSME code.

[2021-06-11 06:53] keqiaozhang commented on #2855
@plbossart @kv2019i , this issue still exists in ADLP platform, HDMI audio only works on ADL-S platform.
Here is the dmesg log:
[code]
when playing on HDMI pipeline:
[code]

[2021-06-11 06:53] lyakh commented on #1632
"it wasn't me" (TM)? At least the version that has been merged eventually wasn't mine. But that's unrelated anyway?

I guess we could use `dev_dbg_ratelimited()`?

[2021-06-11 07:26] bardliao commented on #2606
I believe that it is a good thing that we added the "not cleared" error trace. So we can see some error that we may not notice before.

[2021-06-11 08:06] lgirdwood commented on #83
Can be closed.  No need to save context to IMR now.

[2021-06-11 08:06] #83 closed

[2021-06-11 08:09] lgirdwood commented on #2528
This will be changing with Zephyr so we will need to work out how filtering will work with Zephyr first.  Lets park this now, and once @marc-hb has completed the Zephyr trace work we can revisit (since this will require Zephyr tooling).

[2021-06-11 08:18] gbuloz commented on #2990
@libinyang : Thanks ! Here are the outputs :
[dmesg.log](https://github.com/thesofproject/linux/files/6636860/dmesg.log)
[lspcivvvv.log](https://github.com/thesofproject/linux/files/6636862/lspcivvvv.log)

Note : lspci returned this error :
[code]

[2021-06-11 08:55] gbuloz commented on #2990
@plbossart : I've added the .conf file and power-cycled
[code]
shutdown+power-cycle
[dmesg.log](https://github.com/thesofproject/linux/files/6637075/dmesg.log)
(edit : I see no debug message in dmesg output, however I have CONFIG_DYNAMIC_DEBUG=y and /sys/kernel/debug/dynamic_debug/control shows many =p so I should get some debug message)

[code]

@libinyang :
Here is the output of lspci -vvvv
[lsp

[2021-06-11 09:12] lgirdwood commented on #2096
This should never be bigger than PAGE_SIZE. @lyakh can you fix and validate this is less than PAGE_SIZE.

[2021-06-11 09:13] lgirdwood commented on #846
It's done and upstream.

[2021-06-11 09:13] #846 closed

[2021-06-11 09:17] lgirdwood commented on #1296
@keyonjie can someone paste the kernel oops. It could be a data abort, i.e. the physical bus does address does not exist (or as already mentioned owned by the DSP). Looks like @plbossart has the fix though.

[2021-06-11 09:48] keyonjie commented on #1296
@lgirdwood since the whole OS is panic when this happen, so you can't see any log anymore, hardware reboot is only thing you can do.

@plbossart will be really appreciate if you already have a fix, I can't do anything for it as the assignee of it at the moment.

[2021-06-11 11:01] lgirdwood commented on #1296
Fix is to make the BAR smaller on applicable platforms.

[2021-06-11 11:27] kv2019i commented on #2573
Yes @plbossart - it's a list long list but this still needs to be fixed.

[2021-06-11 12:02] lyakh commented on #2334
Presumably CI would catch the "error" keyword in the kernel log and complain. We don't seem to see this, so I don't mind closing this.

[2021-06-11 12:02] kv2019i commented on #2067
Ack, this is done, closing.

[2021-06-11 12:02] #2067 closed

[2021-06-11 12:05] kv2019i commented on #2855
@keqiaozhang Let's open a new bug, ADL-P has different i915 backend so it's a different story than ADL-S. ADL-S works

[2021-06-11 12:05] #2855 closed

[2021-06-11 12:06] kv2019i opened #2992 "[ADL] display audio is not supported on ADL-P platform since i915 driver is not ready in mainline kernel v5.13-rc"
Follow-up to https://github.com/thesofproject/linux/issues/2855

ADL-S is supported in sof-dev, ADL-P not yet.

[2021-06-11 12:44] plbossart commented on #2986
Results from @bardliao on the same device (https://github.com/thesofproject/linux/pull/2988#issuecomment-859225815)

[code]

Less than 18ms to load modules and probe all necessary drivers.

@kcgthb there's *something* in your setup that causes the delay, it's not a hardware or SOF issue.

[2021-06-11 13:11] plbossart commented on #2805
more precisely, it's an area of DDR that's reserved at boot time and not visible to the OS, typically used for firmware load and context save/restore.

[2021-06-11 13:45] plbossart commented on #2990
@gbuloz the results show that there is no machine device created, so no machine driver probed.

Without dynamic debug it's going to be hard to figure things out. Not sure if this is a configuration issue, maybe try using our setup in https://github.com/thesofproject/kconfig and run https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh to generate a .config. This may or may no

[2021-06-11 14:01] plbossart commented on #1296
No I don't have a fix. I asked what the size of the memory was and didn't get an answer.

https://github.com/thesofproject/linux/issues/1296#issuecomment-641534874

[2021-06-11 14:02] plbossart commented on #2334
let's close then. we can always reopen a bug if the issue is detected again.

[2021-06-11 14:02] #2334 closed

[2021-06-11 14:09] kv2019i commented on #1069
Tested with today's sof-dev (https://github.com/thesofproject/linux/commit/574402853ecaaddb2c3699641700fc3048a09cbb) in a Tiger Lake laptop and a USB-C docking station as the DP-MST hub and switching audio is immediate and with no errors.
The 3-5sec delay in audio sounds like an issue with DP receiver ramping up from standby and can be avoided by enabling CONFIG_SND_HDA_INTEL_HDMI_SILENT_STREAM=y

[2021-06-11 14:09] #1069 closed

[2021-06-11 15:24] kcgthb commented on #2986
Interesting!
I wonder what the differences are that could explain these hugely different timings.
Here's what I noted between @bardliao's setup and mine:

| | **@kcgthb**  | **@bardliao** |
| ---- | ---- | ---- |
| **SKU** | 0990 | 098F |
| **BIOS** | 1.7.2 03/04/2021 | 11.2.20 01/03/2020 |
| **distribution** | Debian 11.0 | Ubuntu 20.04 |
| **kernel** | 5.10.40 (+Debian patches) |  5.13.0-rc5+ (+

[2021-06-11 16:39] plbossart commented on #2986
@kcgthb we split sof-audio-pci in two in a recent kernel, I think 5.12, but there was no change in functionality, just moving the code around to solve compilation issues.

At this point I don't think there's a clear explanation, we'll probably have to test/bisect to root cause this.

I think we should first try a kernel update to see if this changes anything. We can provide you with a Debian packa

[2021-06-11 18:19] marc-hb commented on #2334
No, we don't do that anymore. Now we use `journalctl` and trust log levels / priorities (`-p`)

[2021-06-11 18:58] cujomalainey commented on #2805
Ah so it can't oom on resume excellent :D

[2021-06-11 19:43] plbossart commented on #2986
@kcgthb here's our daily test kernel debian packages if it helps. The source commit is 57440285

[soundwire-test.tar.gz](https://github.com/thesofproject/linux/files/6640667/soundwire-test.tar.gz)

This is provided without any support or warranty, all standard disclaimers apply. Use at your own risk.

[2021-06-11 20:26] plbossart commented on #2983
no longer an issue with Intel daily test 4532

[2021-06-11 20:26] #2983 closed

[2021-06-11 22:47] by-cx commented on #2985
@plbossart I finally got to test this issue again but in the mean time there was an update of alsa-conf-ucm package in Fedora and everything works just fine with it on 1.8-rc2. If you think that it's important somehow to check if the "CapturePCM" line works please let me know. Otherwise I think this ticket can be closed.

[2021-06-11 23:38] cujomalainey commented on #2805
Does this implement context resume/restore? Just thinking in terms of security implications and whether we should do a review internally before deploying this

[2021-06-12 00:01] kcgthb commented on #2986
Thanks! I'll give that a try.

[2021-06-12 01:02] kcgthb commented on #2986
Unfortunately, that kernel produced `cryptsetup` errors right from the start, and wasn't able to mount my laptop's partitions, so I can't test it.

I'll try patching my current 5.10 with `sof-dev`.

[2021-06-12 20:31] kotarou3 commented on #2986
Just chiming in since I also found an audio-related kernel regression with 5.10.0-7-amd64, but nothing to do with sof: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=989778

It's probably unrelated, since https://github.com/thesofproject/linux/issues/2986#issuecomment-859658326 mentions there's no problem on v5.13.0-rc5+, while I also encountered my issue on that version too.
But letting you kn

[2021-06-14 12:29] gbuloz commented on #2990
@plbossart : I've been able to get some debug and got "sof-audio-pci 0000:00:1f.3: error: cl_copy_fw: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
See dmesg :
[dmesg_3.log](https://github.com/thesofproject/linux/files/6648259/dmesg_3.log)

I still don't know why dynamic debug did not wotk for snd/sof modules but was working for other drivers. I'm wondering if the modules where running enough to produ

[2021-06-14 14:14] plbossart commented on #2985
let's close @by-cx, thanks for checking and glad you have a working system.

@lgirdwood @marc-hb can we make sure the 1.8 release has a mention that there is a change in topology for the HP Spectre x360 that requires the latest alsa-ucm-conf package to be used.

[2021-06-14 14:14] #2985 closed

[2021-06-14 14:17] plbossart commented on #2986
Thanks @kcgthb
Wondering if you have any sort of disk encryption possibly resulting in modules getting delayed while the authentication takes place.
I am not sure if you can just patch your system, we probably have thousands of additional patches on top of 5.10. You might as well try directly topic/sof-dev from our tree with the Debian config updated with 'make olddefconfig'. that's how I would do

[2021-06-14 15:03] plbossart commented on #2990
@gbuloz this error typically indicates that the firmware you used was not signed with the key that is known to the CSME (ME) engine. Can you please clarify which SOF firmware you used?

I am also not sure if the results make sense, the errors you see are logged with dev_err, so they would be seen by default. dynamic debug is only useful when we have dev_dbg() in the code.

Weird.

[2021-06-14 15:33] gbuloz commented on #2990
@plbrossart : I use only the standard packages from Fedora repos. Currently alsa-sof-firmware-1.6.1-4.fc33.noarch providing the firmware like this :
[code]

And I also don't understand why I did not get these dev_err message before I rebuild all modules under sound/ and install them under updates. I've built them with the same .config than the Fedora distribution, but out-of-tree.
I still also don

[2021-06-14 15:46] plbossart commented on #2990
@gbuloz could you try /usr/lib/firmware/intel/sof/sof-ehl.ri -> community/sof-ehl.ri

I don't know if this was released but that would be the alternate key that's typically used.

[2021-06-14 16:59] gbuloz commented on #2990
@plbrossart : unfortunately I have no community subdir, but only a public-signed/ and there's no file for EHL in it : sof-apl.ri  sof-cnl.ri  sof-icl.ri  sof-jsl.ri  sof-tgl-h.ri  sof-tgl.ri

Edit : I've tried with https://github.com/thesofproject/sof-bin/blob/main/v1.8.x/sof-v1.8-rc2/intel-signed/sof-ehl.ri but same result.
Edit : I need to blacklist pinctrl_elkhartlake on my platform to prevent

[2021-06-14 17:15] kcgthb commented on #2986
@plbossart I do use encryption indeed, with LUKS, but AFAIK, once the whole partition is unlocked, there shouldn't be any additional authentication, nor added delay in loading modules.

Today, booting the same kernel as last week (Debian's 5.10.40 with your [timing patch](https://github.com/thesofproject/linux/commit/f13a75b8c218d377aac63a769badaee4506b1a26.patch)), I got the following:
[code]
and

[2021-06-14 18:17] plbossart commented on #2986
@kcgthb sorry I am not following. Can you describe the sequence that works and the one that doesn't?

These routines that we traced are not tied to any sort of hardware state, they only deal with ACPI interfaces describing the hardware. But ACPI also has methods for power management that may get in the way. That's rather beyond my area of expertise :-)

[2021-06-14 18:36] kcgthb commented on #2986
That's exactly what I'm trying to figure :)

Last week, booting that same kernel produced "Probe not complete, timed out" messages. Today, it doesn't anymore. The only thing that happened in-between was booting Windows.

So yes, it's definitely puzzling. I'll try to reboot with the regular Debian kernels to see if I can reproduce the timeouts again.

[2021-06-15 02:59] libinyang commented on #2211
@plbossart The packages are ready in both storage server (based on the latest code) and in ubuntu launchpad (a stable version we have fully tested on our devices), and the documents are created in wiki. The dedicated wiki tells developers how to install the packages. Besides this, if we are using the deploy scripts in sof-sh, we can install the latest alsa-lib, alsa-ucm packages. And for the distr

[2021-06-15 03:01] libinyang commented on #2346
The bug is already fixed and we can close it now.

[2021-06-15 03:01] #2346 closed

[2021-06-15 05:40] libinyang commented on #2496
@plbossart Yes, rt715 and rt715-sdca has supported the new controls. The latest UCM will use codec controls if codec driver has merged the related patches, otherwise it will use PGA controls. So I think we can close this issue now.

[2021-06-15 12:32] libinyang commented on #2990
@gbuloz From the 2 log, the error is different. nopinctl met the signature error issue. Not sure which version key you should use. I upload 2 version of fw in the attachment. Please rename them and have a try.

[sof-ehl.zip](https://github.com/thesofproject/linux/files/6655544/sof-ehl.zip)

[2021-06-15 13:08] plbossart commented on #2211
what wiki @libinyang ? We need publicly available information.

[2021-06-15 13:08] #2496 closed

[2021-06-15 14:17] mengdonglin commented on #2211
@libinyang topology 2.0 is still under active development, so I suggest we update the document for topology 2.0 later. For other components,  I think you can submit document PR to https://github.com/thesofproject/sof-docs . After your PRs get merged, it will be public and visible in https://thesofproject.github.io/latest/index.html

[2021-06-15 14:29] mengdonglin commented on #1146
@RanderWang I think this is the driver behavior to work with converged FW. Right?

[2021-06-15 14:47] gbuloz commented on #2990
@libinyang : your debug firmware works much better than the prod one
[dmesg_prod.log](https://github.com/thesofproject/linux/files/6656461/dmesg_prod.log)
[dmesg_debug.log](https://github.com/thesofproject/linux/files/6656463/dmesg_debug.log)
With the debug one I now get :
[code]
I have currently no access to desktop to check if I have new input/output channels, but only have access to text consol

[2021-06-15 15:01] plbossart commented on #2990
@gbuloz yes, when you receive production devices the firmware is required to use production keys for authentication. It looks like you are in a gray area here.

I can see that the device '/sys/bus/pci/devices/0000:00:1f.3/ehl_rt5660' is created, which is good and expected. Somehow the card is not created though.

if you can't figure out how to enable dynamic debug, you can try a manual probe:

add

[2021-06-15 15:16] plbossart commented on #2943
Fixed by https://github.com/thesofproject/linux/pull/2978

[2021-06-15 15:16] #2943 closed

[2021-06-15 15:34] gbuloz commented on #2990
I've rebuilt all sound modules with pr_debug changed to pr_info and dev_dbg to dev_info and now I get this at boot time "ehl_rt5660 ehl_rt5660: ASoC: codec component i2c-10EC5660:00 not found for link SSP0-Codec"
See full dmesg :
[dmesg_debug_dbg.log](https://github.com/thesofproject/linux/files/6656873/dmesg_debug_dbg.log)

[2021-06-15 15:52] plbossart commented on #2990
@gbuloz can you check if the device exists

cat /sys/bus/acpi/devices/i2c-10EC5660:*/status

[2021-06-15 15:55] gbuloz commented on #2990
No it does not exist.
Even nothing with :  ls /sys/bus/acpi/devices/i*

[2021-06-15 16:01] plbossart commented on #2990
try

[code]

[2021-06-15 16:03] gbuloz commented on #2990
[code]

[2021-06-15 16:04] plbossart commented on #2990
ls -l /sys/bus/acpi/devices/*10EC5660:* then?

[2021-06-15 16:06] gbuloz commented on #2990
[code]

[2021-06-15 16:18] plbossart commented on #2990
ok, let's try to see if the components were registered:

cat /sys/kernel/debug/asoc/components

cat /sys/kernel/debug/asoc/dais

[2021-06-15 16:26] gbuloz commented on #2990
[code]

[2021-06-15 16:40] plbossart commented on #2990
ok, so something happens in the probe of the snd_soc_rt5660 driver, the required components were not registered with ASoC.

you'll have to instrument rt5660_i2c_probe() to see what happens.

[2021-06-15 16:51] plbossart commented on #2606
@bardliao see https://github.com/thesofproject/linux/pull/2999 to refine the error trace.

[2021-06-15 17:10] gbuloz commented on #2990
I've added several dev_info() into this function (including at first line where I also have a printk) but I get not output as if the probe was not run.
No message at boot time, nor with rmmod+insmod once booted.

[2021-06-15 18:44] plbossart commented on #2990
@gbuloz it's clearly a problem that's not due to SOF then...

Either the ACPI subsystem is unable to probe this device, or there is a conflict, or the BIOS is wrong.

You may also need to use i2cdetect to make sure that there's really an I2c device that matches the address listed in the BIOS.

[2021-06-15 20:54] marc-hb commented on #2211
Agreed but we  can start with only one version for now = only one recent and regularly updated ALSA version + same for pulseaudio and tested only on the latest Ubuntu version.

Note we already have documentation about building user space ALSA from source: https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#build-alsa-lib-and-alsa-utils

The very first documen

[2021-06-16 01:53] aiChaoSONG commented on #2211
@libinyang We need alsa-lib update now, because https://github.com/alsa-project/alsa-lib/pull/158 is needed.

[2021-06-16 01:54] RanderWang commented on #1146
sure, driver will disable everything unnecessary in FW.

[2021-06-16 02:03] ranj063 commented on #1146
@mengdonglin no this is a feature already available today in SOF.

[2021-06-16 02:03] #1146 closed

[2021-06-16 06:42] libinyang commented on #2990
@gbuloz
Based on the information:
[code]
The codec is located on i2c-1.

However on my CRB, the codec is located on i2c-5, addr: 0x1c

Could you run:
[code]
to check whether i2c-5 has device, and if i2c-5 0x1c shows a device, please run
[code]
and attach the output

[2021-06-16 08:53] gbuloz commented on #2990
Yes, it is really on i2c-1 and its device ID is correct (0x6338).
I've also tried to instantiate the I2C device with /sys/bus/i2c/devices/i2c-1/new_device but I got a device busy error but i2cdetect does not report UU at device address. But maybe this is normal for this device.
See probes and dump :
[i2c.log](https://github.com/thesofproject/linux/files/6661640/i2c.log)

[2021-06-16 12:45] giddie commented on #2971
I caught it in the act again. Here's a kernel log with the requested debug settings enabled. Is there anything else I can get you?

[code]

[2021-06-16 14:41] plbossart commented on #2211
and we also want to remove references to master/slave in topologies, which IIRC requires alsa-lib 1.2.5 or later.

[2021-06-16 15:40] plbossart commented on #2971
Thanks @giddie. You wouldn't have a longer version with the initial stages? I am not sure which IPC we are trying to deal with before hitting the issue.

@lgirdwood @juimonen does this ring a bell?

[2021-06-16 16:02] giddie commented on #2971
I'm attaching the full kernel log :)
[full-log.txt.gz](https://github.com/thesofproject/linux/files/6664295/full-log.txt.gz)

[2021-06-16 16:13] plbossart commented on #2971
so the error seems to happen after a PCM open/hw_params/trigger, then a ton of trace messages and then IPC pb.

[code]

[2021-06-16 19:44] plbossart commented on #2990
Are you sure the DSDT is correct? I see this:

[code]

Scope (_SB.PC00.I2C2) <<< is this the right controller?

[2021-06-16 20:24] plbossart commented on #2845
Closing for now, it's been two months since the initial results and no reproducibility.

[2021-06-16 20:24] #2845 closed

[2021-06-16 20:26] plbossart commented on #2963
I am going to close this: updating the platform to Ubuntu 21.04 solves this issue, this is not an SOF problem proper

[2021-06-16 20:26] #2963 closed

[2021-06-16 20:28] plbossart commented on #2745
Closing this issue since there are obviously issues with the BIOS, this isn't really something that we can improve at the SOF level

[2021-06-16 20:28] #2745 closed

[2021-06-16 20:30] plbossart commented on #2498
@lyakh if this isn't a known issue any longer please close. We can always reopen a new issue later.

[2021-06-16 20:34] plbossart commented on #1632
@mengdonglin last call. Without clarifications I will close this enhancement request.

[2021-06-16 20:34] plbossart commented on #887
@ranj063 can you please comment? what remains to be done here?

[2021-06-16 20:36] plbossart commented on #720
@lgirdwood what shall we do with this one, it's 2+ years old

[2021-06-16 20:36] plbossart commented on #697
we have a multi-configuration support for SSP, let's close this.

[2021-06-16 20:36] #697 closed

[2021-06-16 20:37] plbossart commented on #686
closing, no line of sight for this change.

[2021-06-16 20:37] #686 closed

[2021-06-16 20:38] plbossart commented on #551
@lgirdwood @ranj063 I don't think we have any plans for a re-try when an IPC fails. Shall we close this one?

[2021-06-16 20:40] plbossart commented on #537
closing, this duplicates part of the functionality needed described by https://github.com/thesofproject/linux/issues/452

[2021-06-16 20:40] #537 closed

[2021-06-16 20:41] plbossart commented on #1118
@kv2019i should we close this?

[2021-06-17 01:53] keyonjie commented on #2805
No real context resume/restore implement yet, the FW will reboot as fresh at the FW side, though those suspended streams will be resumed from the user space of the host side. This is not changed with my IMR restore PRs.

[2021-06-17 06:34] lyakh commented on #2498
Closing for a lack of recent activity or evidence

[2021-06-17 06:34] #2498 closed

[2021-06-17 07:51] gbuloz commented on #2990
Yes, I also suspected the DSDT.
However I was confident thanks to the multiple declarations of 10EC5660 for the following contexts :
(I2SB == Zero) + Scope (_SB.PC00.I2C0)
(I2SB == One)  + Scope (_SB.PC00.I2C1)
(I2SB == 0x02) + Scope (_SB.PC00.I2C2)
(I2SB == 0x03) + Scope (_SB.PC00.I2C3)
(I2SB == 0x04) + Scope (_SB.PC00.I2C4)
(I2SB == 0x05) + Scope (_SB.PC00.I2C5)
I also though this was to deal wi

[2021-06-17 08:28] libinyang commented on #2990
@gbuloz Yes, I also suspect that the hw topology changed but the ACPI didn't change correctly correspondingly.

Could you apply the below patch and see whether the acpi export the correct device id?

[code]

[2021-06-17 10:43] giddie commented on #2971
I forgot to reboot to clear this issue and got a hard lockup earlier today that I assume was related (no sysrq - had to hold power button). After reboot, the issue recurred within a few hours.

[full-log.txt.gz](https://github.com/thesofproject/linux/files/6669460/full-log.txt.gz)

[2021-06-17 12:59] gbuloz commented on #2990
@libinyang : see the dmesg with debug from i2c-core-base.c, but still no debug coming from rt5660.c.
[dmesg_i2cdbg.log](https://github.com/thesofproject/linux/files/6670306/dmesg_i2cdbg.log)
I see the i2c_new_client_device is called for 10EC5660:00 while still running from initramfs in which I have no snd* driver. I also see many "i2c client 0x1c matched".

[code]

[2021-06-18 09:06] libinyang commented on #2990
@gbuloz The i2c client is registered correctly and it matched its driver. But the rt5660 probe() is not called. This is so weird. I'm almost have no idea. Let's dump the what happens in dd. Could you apply the below patch:
[code]

[2021-06-18 09:30] libinyang commented on #2211
@plbossart As per @mengdonglin  's suggestion, I will submit a PR in https://github.com/thesofproject/sof-docs, which is public. And I will update the alsa-lib to 1.2.5 or later.

@marc-hb In this document, we will tell user how to get the pakcages, not how to build the packages.

[2021-06-18 12:19] #1118 closed

[2021-06-21 02:36] keqiaozhang commented on #2764
@GFdevelop , thanks for your confirmation, let's close this issue, if you have new request , please reopen it or create a new bug.

[2021-06-21 09:17] gbuloz commented on #2990
@libinyang : thanks very much for your active support. Here is the dmesg with your patch applied :
[dmesg_i2cdbg_2.log](https://github.com/thesofproject/linux/files/6685353/dmesg_i2cdbg_2.log)
Note : your patch seems for kernel 5.13 and I'm running 5.12.9 (latest for Fedora). So I add to apply the patch manually in function driver_probe_device() in which I don't have the line   dev->can_match = tr

[2021-06-21 12:14] elmkzgirxp commented on #2748
Hey guys, I was able to identify and remove the unnecessary coefs, and I'm left with the following:
[code]
I can confirm that both speakers are working perfectly on my Hackintosh. These should also work on Linux but someone should test it to verify.

Thanks to @ryanprescott for the initial coefs.

[2021-06-21 12:48] ryanprescott commented on #2748
No way! What's the process you used to identify the necessary coefficients,
if you don't mind sharing?

Thanks,
Ryan

On Mon, Jun 21, 2021 at 8:14 AM elmkzgirxp ***@***.***> wrote:

[2021-06-21 14:10] elmkzgirxp commented on #2748
A *lot* of trial and error. I mainly had help from the HDA specification to better understand the commands being applied.

First, I removed some duplicates and commands that are useless without a second additional command, i.e. a 0x5 verb is always followed by a 0x4 verb. Then I noticed `0x20 0x400 0x41` and `0x20 0x400 0x42` were unique so I figured these are used to tell which speaker to apply t

[2021-06-21 14:18] plbossart commented on #2748
475 verbs down to 14.... Impressive simplification @elmkzgirxp !
Do you or @ryanprescott want to provide an update to @tiwai as a fix to commit 26928ca1f06aab4361eb5adbe7ef3b5c82f13cf2

[2021-06-21 14:22] plbossart commented on #2990
@gbuloz this line puzzles me
[code]

can you add traces to the rt5660.c driver to see if the probe actually runs and completes successfully?

[2021-06-21 17:11] gbuloz commented on #2990
@plbossart : I already had debug in rt5660.c but only in rt5660_i2c_probe() (printk + dev_info + dev_err at first line of function). So I also added a printk to rt5660_probe().
The modules snd-soc-rt5660.ko has been rebuilt, copied under /lib/modules/5.12.9-200.fc33.x86_64/updates/, I ran depmod -a , then checked with modinfo snd-soc-rt5660 giving me "/lib/modules/5.12.9-200.fc33.x86_64/updates/sn

[2021-06-21 20:18] plbossart commented on #2990
@gbuloz maybe try a complete recompilation and install?

[2021-06-21 20:34] gbuloz commented on #2990
@plbossart : yes I think so; but before that it seems we enter i2c_device_probe() and have the "enter probe" message but we exit from the function before the "start probe" message that is not displayed for i2c-10EC5660:00, so I'm going to add some debug here tomorrow
[code]

[2021-06-21 21:37] marc-hb commented on #3043
Fix thesofproject/sof-test#711 is vaguely related.

[2021-06-22 02:30] XiaoyunWu6666 opened #3020 "[BUG][ADL]hw_params fails when aplaying HDMI1 on ADL"
**Describe the bug**
When running aplay on HDMI1 , dai_config error occured

**To Reproduce**
on ADLP_RVP_SDW, run aplay   -Dhw:0,5 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
on ADLP_RVP_HDA , run  aplay   -Dhw:0,3 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: b1c762a1
SOF Branch: main
SOF Commit: 86c9a037e

[2021-06-22 03:12] plbossart commented on #2606
Interesting results at last with http://sof-ci.sh.intel.com/#/result/planresultdetail/4778?model=CML_SKU0983_SDW&testcase=check-suspend-resume-50

[code]

So the HW_RST bit is never cleared, even though the control channel does work fine.

[2021-06-22 03:27] plbossart commented on #2606
@bardliao I have a possible explanation: this problem happens when the link is already pm_runtime suspended, so we are in clock-stop mode. But when we do a system suspend, we don't resume the link out of clock stop.

And when we do a system resume, we may be in a zombie state. It could very well be that we have to do a pm_runtime resume first, and do a full system suspend.

[2021-06-22 04:07] plbossart commented on #2606
See https://github.com/thesofproject/linux/pull/3006 as a tentative proposal.

[2021-06-22 04:44] elmkzgirxp commented on #2748
I still need to test it first on Linux in my free time. But if someone can test it for me, that would be great.

[2021-06-22 04:51] marc-hb commented on #139
Some references.

This problem is not specific to audio and there are security aspects:
http://lkml.iu.edu/hypermail/linux/kernel/1508.1/03428.html

Note not every device has the simple concept of "one rootfs".

ChromeOS had a generic workaround for a long time:
https://chromium-review.googlesource.com/q/system_running
... which has been NACKed upstream.

[2021-06-22 07:54] libinyang commented on #2990
@gbuloz Yes, please add more debug information in the i2c_device_probe() before each "goto" and "return". I never met such issue that i2c_device_probe() exits abnormally. From the message, it seems this is not a sof driver issue but more likely a BIOS/HW issue.

Although I don't think this is kernel config issue, but in case it is kernel config issue, please also try the attached kernel config at

[2021-06-22 08:26] gbuloz commented on #2990
@libinyang : Additional debug shows that we exit from i2c_device_probe due to i2c_acpi_get_irq(client) returning -EPROBE_DEFER

[2021-06-22 09:59] gbuloz commented on #2990
In i2c_acpi_get_irq(), acpi_dev_get_resources() returns 0 with irq = -ENOENT, so acpi_dev_gpio_irq_get() is called but returns  -EPROBE_DEFER.
This make me think this may be related to the pinctrl_elkhartlake driver I have to blacklist on my platform to prevent a kernel oops (https://bugzilla.redhat.com/show_bug.cgi?id=1948468) leading to a very long boot time (as said in my post 8 days ago).
But

[2021-06-22 11:31] bardliao commented on #2606
@plbossart The explanation makes sense and #3006 looks good to me. I started an internal test 4793 to see if we can reproduce the HW_RST bit never cleared issue.

[2021-06-22 13:27] gbuloz commented on #2990
For testing, I've removed the call to acpi_dev_gpio_irq_get() in i2c_acpi_get_irq() so that i2c_acpi_get_irq() returns -ENOENT for no interrupt (does audio requires interrupts ?). The i2c_device_probe() is now fully run and reaches the "start probe", and then rt5660_i2c_probe() is now run and without error.
See dmesg
[dmesg_i2cdbg_6.log](https://github.com/thesofproject/linux/files/6694467/dmesg_i

[2021-06-22 14:41] plbossart commented on #2990
@gbuloz Good progress.

you should see a card with aplay -l or arecord -l, and then you can use speaker-test -Dhw:X,Y -c2 -r48000 -fS16_LE
X and Y are card and device number respectively.

For PulseAudio to work you need a UCM file. I am not sure there's one upstream. @libinyang can you confirm?

For the pinctrl issue, we know from Intel sources that there is a fix available. You should contact yo

[2021-06-22 15:09] plbossart commented on #2606
@bardliao seems like my patch creates a timeout issue for RT711. I probably forgot to reset something.

[code]

[2021-06-22 15:16] gbuloz commented on #2990
@plbossart ; Yes I see a card ! :-)
[code]

I've currently removed the call to acpi_dev_gpio_irq_get(). Do you think an IRQ is required for sound or I can do some tests safely without with my patched kernel, while waiting for a BIOS fix ?

I also noticed that 3 boots out of 5 (always starting from a full power off / on) I get an error while loading sof. See this :
[dmesg_i2cdbg_6_errsof.log](https

[2021-06-22 15:40] plbossart commented on #2990
@gbuloz I would think the IRQ is needed for jack detection, but if you manually configure the codec with mixers you should be able to play/record sound. As usual with experimental software you have a risk of frying you hardware and your ears, so always play silence, never use a headset on you ears. All standard disclaimers apply, use at your own risk.

The authentication issue is not good news. it

[2021-06-22 15:46] gbuloz commented on #2990
@plbossart : OK I will fill a separate issue for sof
@plbossart , @libinyang : I would like to thank you for the support I got from you. I really appreciate.

[2021-06-22 20:20] plbossart commented on #2606
@bardliao @ranj063 I found the issue, my idea of resuming at the link level was flawed. The system suspend starts at the codec driver. Resuming at the link level resulted in an initialization of the devices and scheduling the jack detection workqueue, but the codec suspend was not called. Or rather it was already called before so all the regular suspend activity did not occur.

The right way to br

[2021-06-23 01:11] libinyang commented on #2990
@gbuloz Glad to hear that sof works now. Not sure the CSME issue's root cause. I think maybe you can use the latest thesofproject/linux kernel and use the kernel config I attached in https://github.com/thesofproject/linux/issues/2990#issuecomment-865687000. With this config, I disable the pinctl for EHL and you don't need to blacklist it.

@plbossart
We don't have UCM for this platform now. I will

[2021-06-23 07:00] keyonjie commented on #3043
I am seeing this today in my sof PR 4386 test also.

[2021-06-23 13:36] gbuloz commented on #2990
@libinyang : As we provide a customized Fedora Live image to our customers for evaluation, we prefer to use the standard Fedora kernel without any change/recompilation. However I've tried to rebuild the Fedora 5.12.9 kernel/modules/initrd with your .config and I as you said I have no pinctrl_elkhartlake, but i2c_acpi_get_irq() still calls acpi_dev_gpio_irq_get() that returns -EPROBE_DEFER.
So I'm

[2021-06-23 14:16] plbossart commented on #2990
@libinyang there is a very large difference between the kbl_rt5660.c and ehl_rt5660.c machine drivers: the kbl one has quite a few lines to deal with ACPI/GPIO handling. I have zero understanding of all this but this may be a hint of something missing. What I don't get though is how we managed to probe the codec driver in our internal tests. Not sure if the hardware is different or if we are doing

[2021-06-23 15:36] plbossart opened #3008 "Kernel oops on Helios Chromebook"
Kernel oops detected by Intel test 4819 on CML_HEL_RT5682

Test Case URL: https://github.com/thesofproject/sof-test/tree/master/test-case/check-kmod-load-unload.sh
cmd: TPLG=sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 25

[dmesg.log](https://github.com/thesofproject/linux/files/6703150/dmesg.log)

[code]

@sathya-nujella @naveen-manohar @cujomalainey @bzhg @bardlia

[2021-06-23 15:40] plbossart commented on #3008
This error happens while unloading snd_soc_rt5682_i2c

[code]

[code]

[2021-06-23 18:46] kv2019i commented on #3020
This has same rootcause as https://github.com/thesofproject/linux/issues/2992

[2021-06-23 19:09] plbossart commented on #3020
@kv2019i for complete idiots like me, what is the root cause? I am not sure I get how we can have a DAI_CONFIG issue, there's nothing hardware-specific about those configs or dependent on i915, is there?

[2021-06-24 03:18] libinyang commented on #2990
@plbossart Thanks. I understand the situation now. The ACPI pin information is OK on our board but maybe it's wrong on @gbuloz 's board.

@gbuloz acpi_dev_gpio_irq_get() failed may be caused by ACPI table wrong setting. I suggest asking BIOS team to check the ACPI table, especially the ACPI table about the GPIO pin setting.

[2021-06-24 07:30] shumingfan commented on #3008
@plbossart
[ 5994.688772] kernel: Hardware name: Google Helios/Helios, BIOS  01/21/2020
**[ 5994.688775] kernel: RIP: 0010:clk_unregister+0x189/0x240**
It seems the resource was released before when the snd_soc_rt5682_i2c unloads.

Could you enable devres_log to get more information before the script test?
[code]

[2021-06-24 08:31] libinyang commented on #2211
@plbossart @mengdonglin Our latest user space packages are stored on the internal storage server. So it seems I can't submit the doc of user space guide to sof-docs, otherwise it will expose our internal server location. Maybe we can create a new repo on thesofproject, which is dedicated for user space packages? What's your opinion?

[2021-06-24 09:38] gbuloz commented on #2990
I confirm the ACPI on my board is different from the intel one. For the audio, my board has a declaration for an interrupt on a GPIO that is on _SB.GPIO that is INTC1020 that is managed by the pinctrl_elkhartlake driver. So blacklisting this driver because it causes a crash makes the audio fail because the GPIO is not managed.
I'm going to check with my team if this GPIO is still required on our d

[2021-06-24 11:43] libinyang commented on #2990
@gbuloz So let's wait for the BIOS fix for the pinctl. Hopefully acpi_dev_gpio_irq_get() will work smoothly after pinctl bug if fixed.

[2021-06-24 16:17] kv2019i commented on #3020
@plbossart This is not at all so obvious indeed. But it's not a DAI config issue but kernel failure for hw_params. You can get the same result with any HDA platform by adding "options snd_sof_intel_hda_common codec_mask=0x1" and trying to play to one of the HDMI/DP PCMs.

The snd_hdac_ext_bus_get_link() call with fail in sof/intel/hda-dai.c:hda_link_hw_params() and -EINVAL is returned to user-spac

[2021-06-24 16:54] plbossart commented on #3008
good suggestion @shumingfan. We've only seen this issue once so it's unlikely to reproduce immediately.

@fredoh9 can we add this to sof-dyndbg.conf

options devres log=1

It seems we already have CONFIG_DEBUG_DEVRES=y

[2021-06-24 17:29] fredoh9 commented on #3008
Sure, i will add that and collect more logs

[2021-06-24 17:53] fredoh9 commented on #3008
Easy to reproduce with latest builds.
[code]
[cmdline.txt](https://github.com/thesofproject/linux/files/6711210/cmdline.txt)
[0624_hel_dmesg.log](https://github.com/thesofproject/linux/files/6711213/0624_hel_dmesg.log)

@plbossart do we want this devres log=1 for all SOF CI devices?

[2021-06-24 17:56] fredoh9 commented on #3008
wait... i thought I reproduced this, but it's NOT. Hum, devres log print in error level? Then I need to ignore all the errors from devres. Let me play with it more and update again.

[2021-06-24 18:33] plbossart commented on #3008
devres errors are fatal IMHO so should be show-stoppers, not filtered.

[2021-06-25 03:19] XiaoyunWu6666 opened #3011 "rtc_cmos rtc_cmos: Alarms can be up to one month in the future after waking from suspend"
**Description**
rtc_cmos rtc_cmos: Alarms can be up to one month in the future on CML_RVP_SDW  after waking from suspend
happened in inner daily test 4834 model=CML_RVP_SDW testcase=check-suspend-resume-50

[console log]
[code]
**Reproduction**
TPLG=sof-cml-rt700-4ch.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50

Reproduction rate unknown.
**Platform**
CML_RVP_SDW

[2021-06-25 03:47] XiaoyunWu6666 opened #3012 "[SoundWire] intel_resume: MCP_CONTROL_HW_RST not cleared at iteration (dev_err logs)"
**description**
sdw_cdns_clock_stop failed: MCP_CONTROL_HW_RST is not cleared when check-suspend-resume-50 on CML_SKU0983_SDW
happen in inner daily 4778 model=CML_SKU0983_SDW testcase=check-suspend-resume-50
[console log]
[code]
This is not a new issue, the dev_err logs above were added on purpose to help root-cause https://github.com/thesofproject/linux/issues/2606 which has occurred randomly for

[2021-06-25 07:28] shumingfan commented on #3008
@fredoh9 @plbossart
I checked 0624_hel_dmesg.log, but it doesn't have oops messages.
Could we change the devres message to dev_info level temporarily?

[code]
I suspect the release processes while unloading the snd_soc_rt5682_sdw module.
Although the oops messages happened while unloading the snd_soc_rt5682_i2c module, the snd_soc_rt5682_sdw module was done before.

[2021-06-25 19:33] plbossart commented on #3008
This could be rather verbose. @fredoh9 maybe we can enable devres dynamic debug by default, but only change the kernel parameter before doing the kmod-load-unload tests (using sysfs instead of the modprobe.d options).

Maybe @andy-shev knows why a dev_err() is used, it's been that way since the beginning but it doesn't seem like a error at all.

[2021-06-27 22:33] fredoh9 commented on #3012
Weekly stress test(test result 4894) found same problem with CML_RVP_SDW.
[code]
[dmesg_test_4894_cml.txt](https://github.com/thesofproject/linux/files/6722397/dmesg_test_4894_cml.txt)

[2021-06-28 02:48] keqiaozhang commented on #2829
@kv2019i , any updates from i915 side?

[2021-06-28 02:59] keqiaozhang commented on #3011
@XiaoyunWu6666 ,please set the RTC time form system time.

[2021-06-28 06:58] XiaoyunWu6666 commented on #3011
@keqiaozhang  already ' sudo hwclock --systohc' on that DUT .
Will track whether it reproduced in CI later . If not ,will close this issue . thanks

[2021-06-28 14:20] fredoh9 commented on #3008
Without changing anything, I couldn't reproduce the problem. Even sof ci also find once with above, no more report after that.
I tried same with above test, linux pr 2989 + sof pr 4386. I even tried with same build binaries with the test. No luck yet. I tried to test with -l 500 also.

I can submit a PR to enable devres log before starting kmod test, but we need to ignore "DEVRES*". When kernel oo

[2021-06-28 15:59] plbossart commented on #3008
I agree with @fredoh9 this can be a painful problem to solve.

@shumingfan @oder-chiou @bardliao I would bet the problem came from the fact that devm_ is used for the clock management inside the component .probe callback. This is in theory not very good. devm_ associates the resources to a device, so should be used in the I2C probe, not the component probe. I was looking at rt5682_probe and could

[2021-06-28 19:16] fredoh9 commented on #3008
To enable DEVRES for kmod test, https://github.com/thesofproject/sof-test/pull/719

[2021-06-28 22:28] plbossart opened #3015 "Alsamixer does not show Switch controls"
With the nocodec topologies, only the volume controls are shows, the switches are not visible.

![playback](https://user-images.githubusercontent.com/1149035/123711385-03e36580-d836-11eb-9d68-283c5be7fc65.png)
![capture](https://user-images.githubusercontent.com/1149035/123711387-047bfc00-d836-11eb-9965-99b3dc49e626.png)

[code]

This is not quite right, the 'm' shortcut to mute directly is not sh

[2021-06-29 02:41] XiaoyunWu6666 commented on #3020
It seems that the error still happens in inner daily -ADL tests but logs changed a bit:

 id :4930    model=ADLS_RVP_HDA&testcase=check-playback-3rounds
[demsg]
[code]

[2021-06-29 03:18] shumingfan commented on #3008
@plbossart Sometimes we encounter that the component probe came earlier than io_init, so the driver waits for SdW slave initialization.

I understand your point. That's why I think the DAI clk is released by snd_soc_rt5682_sdw.
But we don't have the DEVRES logs to confirm that.
I feel ok move DAI clock registration to the I2C probe and SdW io_init doesn't need DAI clock.

[2021-06-29 18:46] kv2019i commented on #2829
@keqiaozhang It seems the audio monitor detection problem is not seen with upstream i915 version. Waiting for @padmashree9110 to confirm which version worked (with legacy driver). We can evaluate whether this bug should be kept open, or a new opened as there is some problem with SOF driver.

[2021-06-30 04:45] marc-hb commented on #3011
@plbossart can you confirm that we have CONFIG RTC_SYSTOHC enabled always? That makes hwclock unnecessary. It's ON on my system.

Would we have any script messing with /etc/adjtime? I hope not...

[2021-06-30 08:50] andy-shev commented on #3008
Please, start using devres trace events instead.
Relevant change: https://git.kernel.org/pub/scm/linux/kernel/git/gregkh/driver-core.git/commit/?h=driver-core-next&id=09705dcb63d269000595284b5dd7f5c938d647b9

[2021-06-30 10:14] ronohara commented on #2700
I know this bug is closed, and after I just installed the Ubuntu kernel for 5.13  ... things look very good.

dmesg     https://pastebin.com/MyfJhckp
alsa-info  https://pastebin.com/bbhYAzcw

But despite alsa now loading the correct kernel module ... no sound.  I have checked alsamixer and the speakers were 'off' - but I toggled them On..

Certainly the Sound control panel items sees and plays wit

[2021-06-30 10:34] by-cx commented on #2700
@ronohara You need this kernel, SOF firmware 1.7 and the right combination of UCM and SOF topology. You are on alsa-lib 1.2.2 and everything started working for me out of the box when new SOF firmware and upgrade of alsa-lib to 1.2.5 arrived to my system.

I don't think there is alsa-lib 1.2.5 in Ubuntu yet so you can do what I did at the beginning. Here is new version of SOF firmware and topology

[2021-06-30 10:47] lgirdwood commented on #3020
@kv2019i sorry (another complete idiot here), it sounds like you are saying we are sending the wrong config to FW because the GFX driver is not ready or giving us a bad config ?

[2021-06-30 10:51] kv2019i commented on #3020
@lgirdwood No, no, this is not a DAI config issue. It's a kernel hw_params error. When i915 is not available, the codec driver is ASoC dummy and that cannot provide a HDA link, so hw_params fails.

Let me move this to kernel.

[2021-06-30 13:52] plbossart commented on #3011
yes, it's included in the build

[code]

[2021-06-30 13:55] plbossart commented on #3008
@andy-shev not easy, all the CI is based on the dmesg log, that's where we saw the kernel oops. Adding a trace mechanism and correlating it with an oops isn't something I know how to do. Pointers welcome.

[2021-06-30 14:16] andy-shev commented on #3008
There is a knob to print traces in dmesg in case of Oops (https://elixir.bootlin.com/linux/latest/source/kernel/trace/trace.c#L119). Also you may enable trace events in the kernel command line (https://www.kernel.org/doc/html/latest/trace/events.html#boot-option).

(A bit outdated, e.g. tracefs vs. debugfs) overview https://events.static.linuxfound.org/sites/events/files/slides/praesentation_0.pdf

[2021-06-30 21:39] marc-hb commented on #3011
I searched the source code to understand the error message. It happens that an invalid value is passed to `rtcwake`. More specifically, `Alarms can be up to one month in the future` is supposed to be printed when the user tries to schedule an alarm more than one month ahead but the RTC clock does not support months. See the full code and commit message there:

https://lore.kernel.org/patchwork/pat

[2021-06-30 22:20] marc-hb commented on #3011
I checked the logs and found something even more puzzling: this error message came at Jun 23 22:52:44, NOT at the time `rtcwake` was invoked but 5 seconds later when the system woke up!?

The message can only be printed by `cmos_set_alarm()`, @plbossart, others any idea what else could be trying to set RTC alarms?

I also compared  the logs between successful rtcwake and the failing one and found

[2021-07-01 01:22] XiaoyunWu6666 commented on #3020
Changed the title to discard misleading info
Also in recent daily tests. the dmesg log is as the following
[code]

[2021-07-01 17:15] plbossart commented on #3011
Interesting @marc-hb, could it be that *something* other that sof-test sets an alarm on resume?

Also wondering if the issue is this log only, what would happen if we ignore it?

[2021-07-01 17:24] plbossart commented on #3015
It's actually the same for SoundWire topologies, the switches implemented on capture are only shown with amixer, not alsamixer, e.g.:

[code]
![sof-tgl-rt715-rt711-rt1308-mono](https://user-images.githubusercontent.com/1149035/124165309-3aec8d80-da67-11eb-867f-b2ffb38d9e33.png)

@perexg any idea if we are doing something wrong with those 'Switch' controls defined in the SOF topology?

[2021-07-01 18:37] perexg commented on #3015
Could you check TLV ? `amixer -c 0 contents`

[2021-07-01 19:11] plbossart commented on #3015
Here are the values for my SoundWire device @perexg

[amixer_contents.txt](https://github.com/thesofproject/linux/files/6750307/amixer_contents.txt)

[2021-07-01 20:01] perexg commented on #3015
It seems that both volume and switch exists for the mentioned controls:

[code]

Could you also provide output from `amixer -c 0 scontents` ?

[2021-07-01 20:25] marc-hb commented on #3011
While this one looks spurious I'm reluctant to ignore time-related error messages considering how many time synchronizations issues and misconfigurations we had in the past and we still experience various TIMEOUTs, see links above.

In fact is this message really "spurious"? Some rogue script invoking rtcwake could explain some TIMEOUTs.

[2021-07-01 20:33] plbossart commented on #3015
here you go @perexg: [amixer_scontents.txt](https://github.com/thesofproject/linux/files/6750638/amixer_scontents.txt)

Yes the volume and switch are present but alsamixer doesn't show the mute with the usual "m" or "00" symbols.

[2021-07-01 21:21] plbossart commented on #3011
I don't disagree, but I don't see how to backtrace who requested the alarm. Could be literally *any* userspace script or application, no?

[2021-07-02 06:33] perexg commented on #3015
It's also fine:

[code]

The capture switches are controlled using *Space* or *;* and *'* keys for single channel. See *F1* help.

[2021-07-02 07:37] XiaoyunWu6666 opened #3025 "[BUG] RMMOD snd_sof_pci_intel_tgl takes too much time, causing check-sof-logger TIMEOUT/failure"
**Describe the bug**
when  remove modules , it may cause over 1 min to remove module snd_sof_pci_intel_tgl , thus leading to testcase TIMEOUT or failure . Sometimes the DUT even gets hang.
Check-sof-logger testcase is also affected by it (logs attached at the end)

For  TGLU_RVP_HDA, this happened since 4882 ,  but in daily 4849 it is good
For  ADLP_RVP_HDA and ADLP_RVP_SDW , this happened since 4

[2021-07-02 09:58] marc-hb commented on #3025
rmmod hangs when a device is in use. Every time I've seen rmmod hanging it was because of a leftover sof-logger reading the DMA `/sys/kernel/debug/sof/trace`. Reading the shared memory etrace is not a problem, does not cause any hang, maybe because it always completes quickly?

I just logged into `ssh ubuntu@sh-tglu-rvp-hda-03.sh.intel.com` and I found a hanging rmmod + this:
[code]

[2021-07-03 09:16] imjuzcy commented on #1877
I'm sorry for bumping this year old thread, but I just installed 20.04 LTS in the same laptop Inspiron 7590, with hybrid graphics. The previous comment by @kv2019i suggests that it should already be fixed, yet it still did not work out of the box.

By default snd-hda-intel is used, and I have Dummy Out put as speaker. With detect_dmic=0 I can get speakers, but no microphone of course.

By blacklis

[2021-07-05 02:03] marc-hb commented on #3025
Thank you the report, this is extremely useful info. So I strongly suspect that this is cause by lingering sof-logger instances which were just exposed by commit  https://github.com/thesofproject/sof-test/commit/6a8871fb849a7af60 ("check-sof-logger: reload drivers first") in PR https://github.com/thesofproject/sof-test/pull/710.

See tentative fix in https://github.com/thesofproject/sof-test/pull/

[2021-07-05 10:14] giddie commented on #2971
Is there anything more I can do to collect relevant data to help with this? It's tough having to rely on an external mic for video calls or else risk system lockups :(

I'm happy to compile debug builds etc...? But it's a bit of a waiting game when it comes to catching a failure where the logs actually make it to storage.

[2021-07-05 13:47] Vamshigopal opened #3026 "[BUG] ADL Wake from Soix not working using Intel clap-WoV"
Intel clap (Wov) from soix is not working seeing below error messages in dmesg.
sof-audio-pci-intel-tgl 0000:00:1f.3: error: ipc error for 0x60010000 size 20
sof-audio-pci-intel-tgl 0000:00:1f.3: error: pcm params failed for DETECT12.0
sof-audio-pci-intel-tgl 0000:00:1f.3: error: failed to set pcm params for widget DETECT12.0
sof-audio-pci-intel-tgl 0000:00:1f.3: ASoC: PRE_PMU: DETECT12.0 event fa

[2021-07-05 13:50] Vamshigopal commented on #3026
@libinyang @keyonjie @kv2019i @sathyap-chrome @keqiaozhang @yongzhi1 @sathya-nujella @jairaj-arava

[2021-07-06 01:11] jacksongoode opened #3027 "[BUG] X1 Carbon (6th/7th/8th) not registering all microphone inputs (4-channel mic)"
So I've exhausted the resources online but maybe someone knows some more info. This may be an alsa issue but I suspect it could be something happening with sof.

The microphone array on the X1 Carbon's from the 6th/7th/8th gen on have a 4 channel microphone array at the top. I recently reinstalled 20.04 (with kernel 5.8.0-45) and only the two microphones on the left side are registering. I've had

[2021-07-06 03:46] padmashree9110 commented on #2829
@kv2019i  As i mentioned in i915 JIRA it is generic kernel - 5.10.0-051000-generic. Any updates on this?

[2021-07-06 07:39] mengdonglin commented on #3027
@jacksongoode Can you please share the full dmesg output? So we can know which topology is loaded for SOF.

[2021-07-06 11:52] plbossart commented on #3027
@jacksongoode this is surprising, we are using the BIOS-provided information to know how many microphone channels are present. This hasn't changed in a long time.

Can you please add this file as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the dmesg logs. This will show us how many mics are detected and what topology is used.

[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/fil

[2021-07-06 12:06] plbossart commented on #2971
@giddie I don't think anyone has identified leads that could explain the problem. but since SOF version 1.8 is out maybe you can try and update and see what happens? Thanks!

[2021-07-06 12:12] plbossart commented on #1877
@ImjuzCY can you try to add this file as /etc/modprobe.d/sof-dyndgb.conf
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6769883/sof-dyndbg.conf.txt)
reboot and attach the dmesg logs (not paste).

It's very odd that you would have such a topology issue, this may point to an install problem or a topology/firmware that isn't backwards-compatible with kernel 5.10 - which isn't good

[2021-07-06 12:39] giddie commented on #2971
Thanks :+1: I appear to have been on SOF 1.8 since 26th June (that's the first boot after the package was updated), and I've had at least one hard freeze since then. But if I hit that condition where the rest of the system continues, I'll be sure to provide a fresh log :+1:

[2021-07-06 16:24] jacksongoode commented on #3027
@plbossart @mengdonglin Thanks for your quick responses! Excited to figure this issue out.

Here is the [dmesg log](https://github.com/thesofproject/linux/files/6771379/dmesg.txt). It looks like the mic inputs are being properly detected... Maybe there is something blocking them?

[2021-07-06 16:33] plbossart commented on #3027
@jacksongoode I see nothing wrong with the kernel:
[code]

I suspect a disconnect between this kernel and alsa-ucm-conf.

Can you attach the results of 'alsa-info' (or a link to the uploaded version on alsa-project)?

Also 'amixer -Dhw:0 info' would be a useful command to run, this is how we provide the information to PulseAudio/UCM (edit: or rather it lists the Components string that UCM uses).

[2021-07-06 16:42] jacksongoode commented on #3027
Here is the [alsa-info log](https://github.com/thesofproject/linux/files/6771457/alsa-info.txt).

From `amixer -Dhw:0 info`:
[code]

Finally, the version I've been using is 1.2.2-1ubuntu0.8, but I suspect this is not the root of the issue as I tried downgrading to the version used by the live instance of Ubuntu (where both mics **were** working) and there was no change.

[2021-07-06 16:52] plbossart commented on #3027
thanks @jacksongoode so there are two possibilities

a) somehow PulseAudio/UCM don't get the 'cfg-dmics:4' options. Can you apply this patch to /usr/share/alsa/ucm2/
[ucm.diff.txt](https://github.com/thesofproject/linux/files/6771522/ucm.diff.txt) and recheck? This removes a test and hard-codes the 4ch setup

b) somehow the topology doesn't report 4ch, this could be a setup issue. Let's look into

[2021-07-06 16:55] plbossart commented on #3027
there's also option c), where PulseAudio does a downmix from 4ch to 2ch and somehow uses the wrong downmix matrix. You would be able to see this with 'pulseaudio -vvv' (after disabling the autospawn that makes it hard to test manually).

[2021-07-06 17:32] jacksongoode commented on #3027
Both right side mics are still undetected after patching the HiFI.conf with the diff file.

[2021-07-06 17:38] plbossart commented on #3027
@jacksongoode can you clarify what you mean by 'undetected'? The logs above show that we do find the 4 channels, and PulseAudio also uses the 4ch information.

Maybe let's also double-check the hw: level record. Can you record a 20s wave file with:

arecord -Dhw:0,6 -c4 -r48000 -f S32_LE -d 20 test.wav

Try to speak close to each mic while hiding the others and check with audacity that you do have

[2021-07-06 17:48] jacksongoode commented on #3027
Yes, sorry I should clarify that I have been testing the inputs just with the levels detected from the Gnome settings sound panel. Running my finger over all four mics only shows that the left two are detected. Here is the waveform (running my finger over each mic, right to left.

![image](https://user-images.githubusercontent.com/54308792/124644955-b1163900-de47-11eb-97ea-67f928d0aa36.png)

[2021-07-06 18:01] plbossart commented on #3027
@jacksongoode so if you already see two channels literally muted, it points to an ALSA mixer issue.

if you have a working setup with the live USB, then with a terminal you can try to extract the working configuration

alsactl --file ~/test_asound.state store

save this file and try to use it from the regular setup

alsactl --file ~/test_asound.state restore

You can also try to see if there 's an

[2021-07-06 18:16] jacksongoode commented on #3027
@plbossart Just tried the restore, logged out, still the mics are "muted". There is no file /etc/asound.state in my system or in the live boot. Nothing in alsamixer seems to be muted from that end as well.

[2021-07-06 18:23] plbossart commented on #3027
@jacksongoode there's got to be a difference between live USB and regular setup, no?

from the USB live, try 'alsactl --file ~/test_asound.state_usb.txt store'  and 'alsactl --file ~/test_asound.state_ws.txt store' from your regular boot and attach the two files.

[2021-07-06 18:26] jacksongoode commented on #3027
[test_asound_current.state.txt](https://github.com/thesofproject/linux/files/6772052/test_asound_current.state.txt)
[test_asound_live.state.txt](https://github.com/thesofproject/linux/files/6772024/test_asound_live.state.txt)

Edit, here is their diff from a reboot:
[code]

[2021-07-06 18:52] plbossart commented on #3027
I am out of options here, nothing that I can think of.

@juimonen do you have any memories of what could cause 2 out of 4 channels to be muted?

[2021-07-06 18:55] jacksongoode commented on #3027
@plbossart Would you like me to get post the output of `pulseaudio -vvv` - though I'm not sure how to disable autospawn.

[2021-07-06 19:00] plbossart commented on #3027
if you can't get 4 channels of audio with arecord, then it's not a pulseaudio issue. Something causes those channels to be muted at a low-level. I just don't know what :-(

[2021-07-06 20:29] plbossart commented on #3015
Thanks for educating me @perexg, I didn't know Switches were handled differently on playback and capture.

[2021-07-06 20:29] #3015 closed

[2021-07-06 20:33] plbossart commented on #2986
@kcgthb closing for now since there's no update or information pointing to an SOF issue.

[2021-07-06 20:33] #2986 closed

[2021-07-06 20:50] ranj063 commented on #3026
@Vamshigopal from the logs it doesnt look like you are suspending to S0ix at all:

[  280.649279] sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx: 0x40010000: GLB_PM_MSG: CTX_SAVE
[  280.649375] usb 3-10: usb_dev_suspend+0x0/0x14 returned 0 after 566 usecs
[  280.649547] sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx succeeded: 0x40010000: GLB_PM_MSG: CTX_SAVE

You should never see this for S0ix. This

[2021-07-06 20:52] plbossart commented on #2698
@sergiocaccamo I just tested with a bog-standard Ubuntu 21.04 setup on a Dell device, I don't see any issues. I can select either the headset mic or local microphone from the settings panel.
This is likely the OEM image that creates problem, that's likely a Ubuntu issue not an SOF one proper.

let's close since there's no root cause or ability to reproduce.

[2021-07-06 20:52] #2698 closed

[2021-07-06 20:54] plbossart commented on #2606
let's close this issue, we haven't seen any problems except on CML_RVP so far, and we already track clock stop issues in https://github.com/thesofproject/linux/issues/3012

[2021-07-06 20:54] #2606 closed

[2021-07-07 04:30] sathyap-chrome commented on #3026
@ranj063 so you are saying DSP is entering D3 instead of D0i3 ? System wide S0ix is working fine.

should we set anything from userspace or any setting missed in kernel to be added to ensure DSP enter D0i3 ?

[2021-07-07 04:43] ranj063 commented on #3026
@sathyap-chrome can you please check if the target_state is getting set to S0ix here?
https://github.com/thesofproject/linux/blob/6bd3089a40a564ecb099f34ee31bf6093adbec24/sound/soc/sof/pm.c#L320

[2021-07-07 05:20] sathyap-chrome commented on #3026
yes. this is present

[2021-07-07 05:33] jairaj-arava commented on #3026
@ranj063 , I think we can find the DSP state transitions during S0IX with the logs just to make sure it's in D3 or D0I3?

[2021-07-07 06:58] marc-hb commented on #3025
thesofproject/sof-test#730 is merged, if this does not happen in the next few days we should close.

[2021-07-07 15:42] ranj063 commented on #3026
what does present mean? you mean the check is there or did you actually check that during suspend, the sdev->system_suspend_taget is actually set to SOF_SUSPEND_S0IX? The latter is what I am looking for

[2021-07-07 16:42] fredoh9 commented on #2676
Same error is found in weekly stress test. Test result 5068.
5068?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-after-playback-25

- Kernel Branch: topic/sof-dev
- Kernel Commit: 6bd3089a
- SOF Branch: main
- SOF Commit: a439ea93f64f

[2021-07-08 08:31] sathyap-chrome commented on #3026
thanks @ranj063  for pointer. the PR https://github.com/thesofproject/linux/pull/3033 fixes the soix entry.
Now we see right logs for entry and the we see different set of erros.

When we open wov stream and then try soix, there is early wake from DSP
- see attached logs:
[soix.txt](https://github.com/thesofproject/linux/files/6783689/soix.txt)

- Resume caused by IRQ 179, AudioDSP
-
But when wov

[2021-07-08 14:18] ranj063 commented on #3026
do you have trace enabled in the FW?

[2021-07-08 14:36] sathyap-chrome commented on #3026
Yes. trace was enabled . should i try without enabling traces ?

[2021-07-08 14:43] ranj063 commented on #3026
yes, please!

[2021-07-08 14:45] sathyap-chrome commented on #3026
thanks. had it enabled for debug purpose. will try asap

[2021-07-09 05:00] sathyap-chrome commented on #3026
@ranj063 thanks for quick suggestion.

Confirmed that with debug trace disabled and https://github.com/thesofproject/linux/pull/3033 wov is working.
we can close this issue. Can raise a new one on why debug trace is resulting in early wake.

[2021-07-09 05:21] sathyap-chrome opened #3034 "Early wake from DSP when running hotword pipeline with FW debug enabled"
When we open wov stream and then try soix, there is early wake from DSP

see attached logs:
https://github.com/thesofproject/linux/files/6783689/soix.txt

Resume caused by IRQ 179, AudioDSP

But when wov stream is closed, the soix entry and exit is fine.

In kernel config,i had enabled FW debug and other options for debug purpose: (everything under SOF_DEBUG)
+CONFIG_SND_SOC_SOF_DEBUG=y
+CONFIG_SN

[2021-07-09 05:21] sathyap-chrome commented on #3026
Raised https://github.com/thesofproject/linux/issues/3034 for the early wake with FW trace enabled

[2021-07-09 06:57] keqiaozhang commented on #3025
This issue is not seen in recent daily tests. let's close this bug.

[2021-07-09 06:57] #3025 closed

[2021-07-09 14:10] gbuloz commented on #2990
**@plbossart** : As said above, I need to use the debug SOF firmware from libinyang. The other firmwares (including the one from fedora repo) are failing and you told me "this error typically indicates that the firmware you used was not signed with the key that is known to the CSME (ME) engine". What do you think I should blame for this : the CPU mask (B0 samples), the BIOS ? I would like to use t

[2021-07-09 15:40] ranj063 commented on #3034
@sathyap-chrome thank you for reporting this. Im not sure if this is  kernel issue or a FW issue yet. In the driver, we set the flag to disable trace when entering D0i3 in S0ix. But maybe the FW is not acting on it. Need to check

[2021-07-09 15:42] ranj063 commented on #3026
FIxed by https://github.com/thesofproject/linux/pull/3033

[2021-07-09 15:42] #3026 closed

[2021-07-10 16:19] jacksongoode commented on #3027
Hmmm, darn. Well I will test out which updates are triggering this and see if I can reproduce it.

[2021-07-11 07:29] ronohara commented on #2700
@by-cx    I compiled and installed alsa-lib-1.2.5.1 and alsa-tools-2.1.5.1 from source - Ubuntu packages do not seem to be flowing yet.

And I installed the new SOF firmware and topology directly from guthib ... but no joy. Alsa is still working if I attach bluetooth speakers. On reboot it sees the soundwire care ... but 'test speakers' = silence.

dmesg.txt  https://pastebin.com/7PsJ9ihp
alsa-inf

[2021-07-12 01:22] mengdonglin commented on #2828
Waiting for official MR2 BIOS release with the fix for PINCTRL, ~ mid of October.

[2021-07-12 01:46] mengdonglin commented on #2992
@kv2019i Should we wait for kernel v5.14-rc1?

[2021-07-12 02:19] mengdonglin commented on #3020
display audio is not supported on ADL-P platform since i915 driver is not ready in mainline kernel v5.13 RC https://github.com/thesofproject/linux/issues/2992

[2021-07-12 02:42] XiaoyunWu6666 commented on #3020
now HDMI1 can be bypassed successfully in daily ADL tests .
Since this is a known issue and our workaround works , let's close it

[2021-07-12 02:44] #3020 closed

[2021-07-12 03:04] marc-hb commented on #2992
Much more details in #3020 duplicate if you are interested: test failures, root cause etc.

[2021-07-12 03:06] marc-hb commented on #3020
To be clear a workaround is not enough to close a bug. This is effectively a duplicate of #2992, which is a good reason to close it.

"wontfix" is another, possible closed state but I don't think it applies here.

(For completeness #2992 seems to be in the "blocked" state)

[2021-07-12 03:25] XiaoyunWu6666 commented on #3025
@marc-hb
hi marc , appreciated that your PR makes check-sof-logger testcase results in daily tests much better.
However ,I have no idea why check-sof-logger keeps failing on ADL
see inner daily-ADL 5215?model=ADLP_RVP_SDW&testcase=check-sof-logger
and
inner daily-ADL 5215?model=ADLP_RVP_HDA&testcase=check-sof-logger.
After removing modules and module probing , the check-sof-logger failed with read

[2021-07-12 05:24] marc-hb commented on #3025
`error: Unable to open version file /sys/kernel/debug/sof/fw_version: No such file or directory` means the firmware did not boot completely (or very, very, very slowly - there is already a long delay in the test).

That's not a problem with the logger. The job of the logger is to find issues: it just found one. This is a firmware boot issue which is unrelated to this bug #3025.

If it were a probl

[2021-07-12 15:08] plbossart commented on #2700
@ronohara if you installed the latest firmware 1.8, you also need the latest alsa-ucm-conf.

[2021-07-12 15:54] gbuloz commented on #2990
@plbossart @libinyang : blacklisting snd_hda_intel makes snd-sof-pci-intel-tgl run properly (messages sof-audio-pci-intel-tgl in dmesg) and snd_soc_ehl_rt5660 be loaded.
My Audio device is "00:1f.3 Multimedia audio controller: Intel Corporation Device **4b58** (rev 10)"
But both snd_hda_intel and snd-sof-pci-intel-tgl are matching this device ID which looks bad to me :
[code]
Should I report this

[2021-07-12 16:02] plbossart commented on #2990
@gbuloz it's not a bug it's a feature. We have multiple drivers for Intel platforms, and depending on whether the DSP is enabled or not we pick the relevant driver.

If you have a DSP enabled and have DMICs on your platform, the snd-intel-dspcfg driver will detect that the snd-hda-intel is not suitable and will abort the probe, letting snd-sof-pci-intel-tgl probe and continue.

[2021-07-12 16:11] gbuloz commented on #2990
@plbossart : so it seems something goes wrong in my case because just booting the Linux without workaround gives no sound card at all.

[2021-07-12 16:21] plbossart commented on #2990
@gbuloz try to remove all blacklisting but add "options snd-intel-dspcfg dsp_driver=3" in /etc/modprobe.d/alsa-base.conf
that will force the driver selection to SOF.
If this works, then the problem is the auto-detection of your platform.
if this doesn't work, then your install has a problem...

[2021-07-12 16:58] gbuloz commented on #2990
@plbossart : it works with the /etc/modprobe.d/alsa-base.conf
Does the auto-detection relies on some snd/sof modules in the initramfs ? I currently have none in initramfs, everything on rootfs

[2021-07-12 17:21] plbossart commented on #2990
@gbuloz can you check what PCI ID is used on your platform and if you have DMICs? Those would be the two cases where we auto-select SOF.

We may be missing an ID here

[code]

[2021-07-12 17:27] gbuloz commented on #2990
The PCI ID is 4B58 :-(
[code]

[2021-07-12 17:28] plbossart commented on #2990
Thanks @gbuloz, I'll add a fix for this later today. Clearly a miss on our side, but at least you have a work-around with the modprobe options.

[2021-07-12 17:33] gbuloz commented on #2990
@plbossart : yes it's good to have the workaround(s). Is the blacklist workaround (module_blacklist= on command line) as good as the modprobe.d file ?

One last question about the SOF firmware : as said above, I need to use the debug SOF firmware from libinyang. The other firmwares (including the one from fedora repo) are failing and you told me "this error typically indicates that the firmware yo

[2021-07-12 17:50] plbossart commented on #2990
@gbuloz You need to talk to your Intel hardware support, there seems to be a mismatch between silicon and CSME firmware. I have never seen anyone being required to use the Intel debug key for products, it's my understanding that this key is only used by Intel for internal validation. Clearly if you want to use 'standard firmware' you either need to modify the CSME keys to use the SOF community key

[2021-07-12 20:48] plbossart commented on #2990
@gbuloz patch can be found at https://github.com/thesofproject/linux/commit/fbebc2a929e891765c796049a7bf1dfd59c9b15f.patch and https://github.com/thesofproject/linux/pull/3040

This may not be enough if you don't have DMICs, in that case we would need to add an ACPI quirk to detect the RT5661 codec. I am not sure actually how the auto-detection works on our RVP, @libinyang can you look into this a

[2021-07-13 03:06] XiaoyunWu6666 commented on #3025
Thanks
daily_ADL 5215?model=ADLP_RVP_SDW&testcase=check-sof-logger
daily_ADL /5215?model=ADLP_RVP_SDW&testcase=check-playback-all-formats
I think something wrong with firmware boot so that the SOF sound card cannot be detected in 'check-playback-all-formats' case  , right? The second case was affected by the first one

[2021-07-13 03:18] XiaoyunWu6666 commented on #3025
@marc-hb Or maybe this is related to runtime status ?
I check  /sys/bus/pci/devices/0000\:00\:1f.3/power/runtime_status and found it took over 50 seconds to get suspended from active, is it as expected ?

[2021-07-13 06:16] marc-hb commented on #3025
It stays suspended for as long as no one tries to use it, so it depends. 50s suspend when nothing tries to use audio is perfectly fine. On the other hand, 50s to resume would be a very serious issue.

This only gives you the status at the moment you look at it, so I don't understand how can get the number 50s just from this file.

To see when the device suspends and resumes try:
[code]

[2021-07-13 06:25] marc-hb commented on #3011
Is this still happening, how often and on which branch?

[2021-07-13 06:46] ronohara commented on #2700
@plbossart  I had installed the latest alsa-ucm-conf

cd /root
git clone https://github.com/alsa-project/alsa-ucm-conf.git

BUT I got the link in /usr/share/alsa incorrect.
cd /usr/share/alsa
ls -la ucm2
lrwxrwxrwx 1 root root 28 Apr 16 12:12 ucm2 -> /root/dev/alsa-ucm-conf/ucm2

Corrected it with:
rm /usr/share/alsa/ucm2
ln -s /root/alsa-ucm-conf/ucm2 /usr/share/alsa/ucm2

Rebooted - and there is

[2021-07-13 08:42] XiaoyunWu6666 commented on #3011
not happened these days but add a command  to set RTC time from system time after DUT deployment ,  before they are reboot and tests start, see sof-sh PR above.

[2021-07-13 09:39] gbuloz commented on #2990
**@plbossart** : your patch works for me (kernel 5.12.13). I now have this line in dmesg :
sof-audio-pci-intel-tgl 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver

**@plbossart** : for the SOF firmware, as the Fedora package alsa-sof-firmware-1.6.1-4.fc33.noarch (latest update) provides an "intel-signed" version of sof-ehl.ri, but no "public-signed" version for this process

[2021-07-13 12:48] plbossart commented on #2700
@ronohara you probably need to test the basics with command-line playback from a terminal

alsaucm -c sof-soundwire set _verb HiFi set _enadev Speaker
speaker-test -Dhw:0,2 -c2 -r48000

alsaucm -c sof-soundwire set _verb HiFi set _enadev Mic
arecord -Dhw:0,4 -c2 -r48000

if you don't hear sound or don't see any activity on the record there is something wrong with your setup.

[2021-07-13 12:58] ronohara commented on #2700
@plbossart  Interesting .... speaker-test  works !!!  plenty of 'pink noise' and  left/right is distinct (I will worry about the Mic later)

speaker-test 1.2.5.1

Playback device is hw:0,2
Stream parameters are 48000Hz, S16_LE, 2 channels
Using 16 octaves of pink noise
Rate set to 48000Hz (requested 48000Hz)
Buffer size range from 96 to 16384
Period size range from 48 to 4096
Using max buffer size

[2021-07-13 12:59] plbossart commented on #2990
the community directory contains firmware signed with the community key:

sof-bin/v1.8.x/sof-v1.8/community$ ls -l sof-ehl.ri
lrwxrwxrwx 1 pbossart pbossart 10 Jul 13 07:56 sof-ehl.ri -> sof-tgl.ri

[2021-07-13 13:00] plbossart commented on #2700
@ronohara I guess it's a problem with the UCM2 setup then, or PulseAudio not getting the right config.

[2021-07-13 13:17] gbuloz commented on #2990
@plbossart : the Fedora package (v1.6.1-4 that is latest update in repo) has no "community" directory but a "public-signed", but there's no file/link in it for EHL. See soffiles.log
[soffiles.log](https://github.com/thesofproject/linux/files/6809097/soffiles.log)

[2021-07-13 13:30] plbossart commented on #2990
@gbuloz are you sure this is really the latest package? we're at 1.8 now. Also the changes in path will not work on open platforms, the PCI driver assumes the use of the community/ path.

[2021-07-13 14:16] gbuloz commented on #2990
You're right, there's a 1.8-1 package from Fedora 34 updates repo having a community/ directory. But it has not been ported back yet to Fedora 33 that is still at version 1.6.1-4 (Fedora 33 is still maintained and should get updates from Fedora 34)
[Edit] : with package 1.8-1, both firmwares intel-signed/sof-ehl.ri and community/sof-ehl.ri are failing to load (error: cl_copy_fw: timeout HDA_DSP_SR

[2021-07-14 01:21] XiaoyunWu6666 commented on #3011
inner daily 5261?model=CML_RVP_SDW&testcase=check-suspend-resume-50

It happened again in today's daily, and was the first reproduction after inner daily test 4834 model=CML_RVP_SDW testcase=check-suspend-resume-50.
So maybe this is an issue with low reproduction rate and actually 'hwclock --systohc' cannot save it , according to what we observe in daily testresults

DUT: jf-cml-rvp-sdw-3

![image

[2021-07-14 01:50] XiaoyunWu6666 commented on #3025
@marc-hb
after executing check-sof-logger , I got a 'fail' and then I tried 'cat /sys/bus/pci/devices/0000:00:1f.3/power/runtime_status' over and over again .
I got 'active' and then eventually got 'suspend' at the time which is actually 50 seconds after check-sof-logger failed. (You can see a 50 seconds' gap in the following picture)
![image](https://user-images.githubusercontent.com/79959904/125

[2021-07-14 03:51] XiaoyunWu6666 opened #3042 "[BUG]ADLP firmware boot delayed by i915 issue (failure in check-sof-logger)"
**description**
on ADLP_RVP_SDW and ADLP_RVP_HDA  check-sof-logger failed with logger.error showing "error: Unable to open version file /sys/kernel/debug/sof/fw_version: No such file or directory" which may indicate slow/incomplete firmware boot.

And this failure leads to two FAIL/TIMEOUT in following 2 testcases , eg.
when check-alsabat-headset-playback
[code]
when check playback all formats
[co

[2021-07-14 04:58] XiaoyunWu6666 commented on #3042
BTW ,  reloading driver in check-sof-logger.sh is for getting logs from BYT ,right? For those platforms which can provide wanted logs, we can skip driver reloading maybe .

[2021-07-14 05:07] XiaoyunWu6666 commented on #3025
#3042 open a new issue for tracking this

[2021-07-14 08:08] libinyang commented on #3042
This bug should be related to the i915 probe taking a long time.

[2021-07-14 08:31] XiaoyunWu6666 commented on #3042
@marc-hb  hi marc , let's discuss about it here .
Since check the non-stale logs as well as restarting the firmware is necessary , shall we give ADLP_RVP_SDW / ADLP_RVP_HDA more time  to complete the firmware boot?
These two platforms can reboot firmware successfully , they just need more time

[2021-07-14 15:05] lgirdwood commented on #3043
Transferring to kernel, process must be in a wait state or similar....

[2021-07-14 16:46] marc-hb commented on #3042
Thanks, I renamed this bug.

I'm just going to temporarily skip the check-sof-logger test on these systems, it will be more visible with less risk to forget to restore the test later.

[2021-07-14 20:56] plbossart opened #3045 "[SDW] TGLU_SKU0A3E: DSP boot failure in kmod-load-unload-25 tests"
Reported by Intel test 5281 on https://github.com/thesofproject/linux/pull/3044

https://sof-ci.sh.intel.com/#/result/planresultdetail/5281?model=TGLU_SKU0A3E_SDW&testcase=check-kmod-load-unload-25

[code]

[dmesg.txt](https://github.com/thesofproject/linux/files/6818900/dmesg.txt)

@bardliao @RanderWang @ranj063 have you seen this before?

[2021-07-14 23:11] marc-hb commented on #3011
I checked the log again and again the error appeared after the system woke up on time just fine as expected.

A possible next step could be to compare the BIOS versions with `jf-cml-rvp-sdw-2` on which this never seems to happen and where the same test has been running fine (I checked the logs)

[2021-07-14 23:39] ranj063 commented on #3045
This is not good. I thought we fixed the dump to not print after powering off but looks like we've missed something. @ujfalusi FYI

[2021-07-15 00:49] ranj063 commented on #3045
And this isnt related to CSE right? Its even before we copy the firmware when we try to power up the cores.

[2021-07-15 05:37] bardliao commented on #3045
I can't reproduce the issue even on the same device and same recipe.

[2021-07-15 13:35] plbossart commented on #3045
re-started the same test with 5299 to see if this was an isolated incident or platform issue.

[2021-07-15 14:34] gigago opened #3049 "sound does not work on bishop county laptop LAPBC710 / NUC M15"
Hi,

for some time I've been trying to get audio working on a bishop county laptop, distro Arch. Status: no PCM device loaded, maybe some working HDMI devices (couldn't test those yet). I'm looking for expert help now. Some steps taken:

- read up on comparable issues
- upgrade to kernel 5.13
- install sof firmware 1.8
- install alsa ucm
- add module debug parameters
- try different dsp_driver val

[2021-07-15 16:03] plbossart commented on #3049
@gigago I think the problem is that your hardware is based on SoundWire links/codecs but the kernel selects an HDAudio configuration. That cannot possibly work.

It's probably a similar issue to what happened on Ubuntu
[    3.062666] sof-audio-pci-intel-tgl 0000:00:1f.3: No SoundWire machine driver found

I'd bet a beer you don't have this option in your kernel configuration.
CONFIG_SND_SOC_INTEL_

[2021-07-15 16:05] plbossart commented on #3049
@gigago what is 'bishop county' anyways, the DMI information says it's an Intel platform?

[code]

[2021-07-15 16:15] plbossart commented on #3045
Retried locally on my device, no issue. Intel test 5299 passes as well, so it's a random boot failure that we want to track but that's unrelated to PR #3044

[2021-07-15 16:29] plbossart commented on #3049
I think my theory holds water, in the case of dsp_driver=1 you don't have any external HDaudio codec detected, only Display Audio devices which do use an HDaudio internal link. By using the SoundWire machine driver you should be in a better place.

[2021-07-15 17:20] gigago commented on #3049
I have a special fondness for specialty beers at room temperature, Pierre-Louis. :-) Output of zcat /proc/config.gz | grep SOUNDWIRE

CONFIG_REGMAP_SOUNDWIRE=m
CONFIG_REGMAP_SOUNDWIRE_MBQ=m
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=m
**CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=m**
CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE_LINK_BASELINE=m
CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE=m
CONFIG_SOUNDWIRE=m
CONFIG_SOUNDWIRE_CADENC

[2021-07-15 17:36] gigago commented on #3049
The Intel naming scheme is rather obscure indeed. AFAICS, the 'Bishop County' moniker can be abbreviated to 'BC', which can be found in the product name. I've seen it used in some of last year's product announcements. The platform is definitely Intel but it may be customized and marketed by OEMs.

[2021-07-15 17:56] plbossart commented on #3049
ok, so I guess the only problem is that because of the missing _ADR remap we can't find a supported configuration.

Can you try the two patches from https://github.com/thesofproject/linux/pull/3050 to see if that improves the solution.

if it doesn't then add the result of 'grep 25d /sys/bus/acpi/devices/*/adr' and dmesg info with this file added in /etc/modprobe.d/sof-dyndbg.conf
[sof-dyndbg.conf

[2021-07-15 18:51] marc-hb commented on #3042
In 5288?model=ADLP_RVP_HDA&testcase=check-sof-logger the same test passed! This was on 2021-07-15 02:10:50 UTC and `sh-adlp-rvp-hda-01.sh.intel.com` at  with SOF commit 0fa9f7d89202 and linux kernel commit 9b277b80

 In the 9 minutes older 5285?model=ADLP_RVP_HDA&testcase=check-sof-logger it failed as described above and `sh-adlp-rvp-hda-02.sh.intel.com` and on `sh-adlp-rvp-sdw-03` with the SAME S

[2021-07-15 18:56] plbossart commented on #3042
@marc-hb The only indication that the probe workqueue finished is this dynamic debug log:
[code]

[2021-07-15 19:31] marc-hb commented on #3042
Thanks @plbossart. I took a closer look at the logs on `sh-adlp-rvp-hda-02` and it does look indeed like an intermittent, display related issue. I'm copying two extracts from the logs below. The first one is from a successful firmware load, the second log is when the firmware failed to fully load and this happened only minutes later on the same system without any reboot in between.

Note there are

[2021-07-15 19:34] plbossart commented on #3042
any idea what this is @marc-hb ?

[code]

This seems to come even before the card is created?

[2021-07-15 20:54] gigago commented on #3049
SUCCESS

I patched dmi-quirks and sof_sdw, replacing the apparently undeclared RT711_JD2 with SOF_RT711_JD_SRC_JD2 so it would compile (not sure if this is actually the right driver). TGL LP sound driver has loaded, speaker works.

For completeness sake, here's the post patch alsa-info:
[alsainfo-k5.13.0-20210715-hoera.txt](https://github.com/thesofproject/linux/files/6826182/alsainfo-k5.13.0-2021

[2021-07-15 21:21] plbossart commented on #3049
Great @gigago, thanks for testing. The JD2 stuff is normal, it's a cleanup we did last week and it's not yet in the mainline. The two definitions are equivalent.

Do you mind removing the option snd_intel_dspcfg: dsp_driver=3, this should be unnecessary now?

The other things to test are
- the jack detection, if this doesn't work with JD2 try JD1.
- local mic support. that should work out of the b

[2021-07-15 21:26] gigago commented on #3049
Mic is registered and appears to be working. Headphone jack does not work, I'll try JD1 later.

Oh, ok. Driver keeps loading correctly without dsp_driver parameter.

[2021-07-15 22:02] gigago commented on #3049
Yes, the present solution is a pain to maintain and makes for some brittle code. Maybe it's possible to test in a more generic way, e.g. for certain combinations of specific hardware addresses and errors?

[2021-07-15 23:21] marc-hb commented on #3042
Not sure in this particular case but in general this is just `systemd` monitoring `/proc/asound/cards` for dependency tracking purposes: other services may require a soundcard - like pulseaudio for instance. Even when disabling pulseaudio `systemd` still keeps track.

Very easy to see it for yourself:
[code]

[2021-07-16 07:44] ujfalusi commented on #3045
@ranj063, we print on power up and if there were dumps prior a power off then we re-enable the dumps.
This is failure via `snd_sof_run_firmware()` in that path we force re-enable the dumps.

[2021-07-16 09:27] gigago commented on #3049
JD1 tested, jack detection works, headphones device (un)registered.

[2021-07-16 14:28] gigago commented on #3049
Yeah, seems like a lot of noodling. Let's hope a more generic way of testing for quirks surfaces. By the way, there's also an LAPBC510 out, mainly differentiated by having an i5 processor. I'd bet two beers that it's BIOS exhibits the exact same quirks as the LAPBC710.

[2021-07-16 14:59] plbossart commented on #3049
Yes, I am trying to get the list of all derivatives of the same design before sending this upstream

[2021-07-16 21:23] plbossart commented on #3049
indeed, confirmed that the two skews are identical audio-wise. I updated the patches and will submit upstream next week.

[2021-07-19 18:30] #3049 closed

[2021-07-20 02:45] keqiaozhang commented on #2829
@padmashree9110 , we are no likely to support this backport fix.

[2021-07-20 02:45] #2829 closed

[2021-07-20 02:50] mengdonglin commented on #2990
Lower the priority as the we will wait for the reporter  to update to production version of EHL silicon and BIOS (with latest CSME and pinctrl fix). @gbuloz Please contact your Intel HW contact as Pierre suggested.

[2021-07-20 02:51] keqiaozhang commented on #3011
@fredoh9, can you help to compare the BIOS version on these 2 devices?

[2021-07-20 12:50] gbuloz commented on #2990
**@mengdonglin** : do you know on which EHL platform the Fedora distribution has been tested for audio ? The SOF firmware provided by this distro does not work with CSME keys we have in our AMI BIOS. Also the distro is matching codec device ID 10EC5660 but not INTC1027, so as I understand this does not work even on the Intel CRB that is using INTC1027.
For the pinctrl fix, my company has both cont

[2021-07-20 14:18] kv2019i commented on #1877
@ImjuzCY In addition to providing the logs, could you also try with a 21.04 live image? Did you upgrade to 20.04LTS in place? Based on the dmesg, SOF should be chosen even without any blacklisting, so something's not quite right in the installation. Ubuntu still ships 1.6 SOF by default, did you first try with this? The errors are not about i915/hybrid, so this is potentially a new issue. Let's tr

[2021-07-20 20:44] fredoh9 commented on #3011
I will compare but `jf-cml-rvp-sdw-2` is out of ci for a long time. We should compare `jf-cml-rvp-sdw-1` vs `jf-cml-rvp-sdw-3`.
Do I need to look for RTC related settings?