[2019-03-19 21:23] plbossart commented on #720
@lgirdwood I agree with the two cases we have to handle:
1. host-initiated message w/ DSP reply
2. DSP-initiated notification (panic, watchdog, acoustic event, etc)
The use of _cb for callback is a bit weird, or we are abusing the traditional definition of 'callback'. People use a callback to get notified when an event occurred, so for host-initiated messages it's irrelevant and for DSP-initiated

[2019-03-19 21:24] plbossart commented on #716
Since I generally agree with me, myself and I and there was no objection, the code for Haswell, Skylake/Kabylake will not be shared upstream for now.

[2019-03-19 21:24] #716 closed

[2019-03-19 21:25] plbossart commented on #684
Is anyone assigned to look into this? @mengdonglin @wenqingfu this hasn't progressed in 2 weeks.

[2019-03-19 21:29] plbossart commented on #639
@mmaka1 @lgirdwood I will consider that the kernel code to be shared this week is the reference for now and that firmware changes that haven't been reconciled will be in the next upstream batch, which will likely require an ABI bump for those existing yet unreconciled features.

[2019-03-20 07:45] xun2z commented on #684
I tried it on my byt nocodec. Using the linux:95b2fab5, I see the hung whenever the 2nd time I run this command, the 1st is OK.

To get the dmesg, I just use this command. Basically, It works well in fulfilling our origin purpose

`aplay -Dhw:0,0 -f s24_le -r 48000 -c 2 /dev/zero; sleep 5 && sudo su -c "timeout 1 cp -rf /sys/kernel/debug/sof /tmp/"`

[code]

So I think we have 2 issues here

1. IP

[2019-03-20 07:46] mengdonglin opened #731 "Enable Intel GPU tool to dump audio info for WHL+ platforms"
The Intel gpu tool contains a program intel_audio_dump to dump audio register info. But it's not maintained after APL. We need to enable this tool to debug HDMI/DP audio issues on new platforms.

[2019-03-20 11:28] lgirdwood commented on #720
I think our intentions are the same with some different wording. The intention of the callback is to be notified when a DSP initiated IPC has been received by the host (and pre-processed/santized by the platform driver).

No issue with these names. These also map well to SPI and virtio.

[2019-03-20 11:34] lgirdwood commented on #639
@plbossart Ack, this will be something we will need to manage especially after upstream. See https://github.com/thesofproject/sof/issues/1142, this should give us some tooling to bisect and track changes.

[2019-03-20 16:34] lgirdwood commented on #684
@xun2z can you also switch on LOCK DEBUGGING with the kernel (use kconfig menuconfig) and wait for 2 minutes after the hang. This option should print out debug statements to the console if we are deadlocked with IRQs OFF.

[2019-03-20 16:35] lgirdwood commented on #731
@mengdonglin any links to the tool ? what license ?

[2019-03-20 17:13] wenqingfu commented on #679
close as low activity and new IPC discussion should be based on new implementation.

[2019-03-20 17:13] #679 closed

[2019-03-20 17:14] wenqingfu commented on #678
close as low activity and new IPC discussion should be based on new implementation.

[2019-03-20 17:14] #678 closed

[2019-03-20 17:14] wenqingfu commented on #677
close as low activity and new IPC discussion should be based on new implementation.

[2019-03-20 17:14] #677 closed

[2019-03-20 17:30] fredoh9 commented on #731
Can we use the GPU tool on APL? Is it open source too? I'd like to try to debug HDMI audio also. Please share more information.

[2019-03-20 23:20] wenqingfu commented on #46
from the last few days' regression report, I think it can conclude it's fixed. Thank you for following up with this bug, @juimonen

[2019-03-20 23:20] #46 closed

[2019-03-20 23:21] wenqingfu commented on #44
from the last few days' regression report, I think it can conclude it's fixed. Thank you for following up with this bug, @juimonen

[2019-03-20 23:21] #44 closed

[2019-03-21 04:49] libinyang opened #737 "HDMI playback resume has no sound"
This bug happens after resume from S3 when HDMI playback is running. It is obviously detected in 5.0 kernel. In 4.20 kernel, I didn't reproduce this bug. This bug is a general issue from the root cause. It should be reproduced on all platforms.
Reproduce step:
1. aplay -Dhw:0,n file.wav
2. call rtcwake to suspend/resume

Run several times of step 1 and step 2, and this bug will be reproduced.

No

[2019-03-21 04:54] libinyang commented on #737
This bug only can be reproduced after applying https://github.com/thesofproject/linux/pull/725
Without patch https://github.com/thesofproject/linux/pull/725, playback will be crashed after S3 and never arrive at this bug step.

[2019-03-21 05:34] xun2z commented on #684
I tried on the latest commit: ee46eceaf0cba56dafd6163ce6e56f62f3fe6b40. This issue is fixed by Ranjani's pr #708.
~~The corresponding commit number is 68bbdacf6c9e40289ceabb3a91695ae00514a8e1~~
reverted by 1238f6740cccf293674d37090ed17b17ca8b55dc. The actual fix is 95dea6e3add13044a599cf0d57efec4844deb6b5

This is fixed. So I think we can close this issue and reopen it when need.

~~Using the old

[2019-03-21 05:40] #684 closed

[2019-03-21 08:38] libinyang commented on #737
This bug is because of the contest.
When resume, audio will try to get the lock to power on i915 audio domain. But if i915's lock is occupied, it will sleep. This will cause the contest and make something (register reading and writing on HDMI) which should not happen at that monent happens at that time.

[2019-03-21 13:01] kv2019i commented on #597
I can reproduce this as well on my UP2. Patch seems to exist already in #707

[2019-03-21 14:16] plbossart commented on #639
@lgirdwood 90% of the differences in header files are due to
a) different licenses. It's not clear to me why plain BSD 3-clause isn't enough for all cases
b) doxygen in some cases. we need to be consistent here, either we accept doxygen on both sides or we don't on any side.
c) __packed vs attribute((packed)). Can't we pick one?

[2019-03-21 15:50] kv2019i commented on #655
@plbossart, @ranj063 Hmm, I was about to ack that I don't think this is an issue, but on a second thought, there may be an issue. The rx workqueue is not reentrant but the sysfs debug read can be run at the same time on another CPU. On x86 I think this will still work as integer read/writes are atomic and in worst case you'll read out less traces than there is available, but in general, I don't th

[2019-03-21 15:58] ranj063 commented on #655
@kv2019i we dont have a workqueue for rx messages anymore. Does that change anything?

[2019-03-21 16:24] ranj063 commented on #655
@kv2019i like we talked there's definitely a race here and we probably need a spinlock to avoid inconsistencies while reading trace debugfs

[2019-03-21 16:45] wenqingfu commented on #11
close as duplicate of #697

[2019-03-21 16:45] #11 closed

[2019-03-22 01:36] fredoh9 commented on #697
Interesting issue. I'm not quite sure what change in kernel driver is required at this moment, but I will review at full stacks, driver/topology files/firmware. I will come up with the solution.

[2019-03-22 05:43] libinyang commented on #737
Patch is ready: https://github.com/thesofproject/linux/pull/744

[2019-03-22 13:20] kv2019i commented on #358
Created a patch for this now, will send pull req later after a bit more reviews on the kernel style issues (it's been a while):
https://github.com/kv2019i/linux/tree/topic/issue358-fix

[2019-03-22 13:26] lgirdwood commented on #639
@plbossart we can reduce the text delta for a and c but I think there will be pushback for b upstream. Using GCC pre-processor reduces these differences to 0 for a and b.

[2019-03-22 15:10] lgirdwood commented on #655
@kv2019i @ranj063 @plbossart Let's be careful what we are locking as we don't want to block PCM/kcontrol IO on debugFS IO. e.g we may need a separate local lock rather than using a global lock.

[2019-03-22 15:22] plbossart commented on #639
@lgirdwood can we agree that we don't use doxygen for the uapi/ipc parts?

[2019-03-22 16:09] lgirdwood commented on #697
@fredoh9 ASoC topology supports this already but is likely untested. You will need too

**Driver**

1) Write a simple topology with one DAI that has 2 or more configs.
2) Make sure the alsatplg compiler adds both configs in the binary file.
3) make sure sound/soc/topology.c parses both DAI configs.
4) Make sure sound/soc/sof/topology.c parses both configs and send IPC for both configs.

**Firmware

[2019-03-23 01:49] fredoh9 commented on #697
@lgirdwood wow, thank you for detailed guideline. Will work on it.

[2019-03-24 12:34] libinyang commented on #136
@lgirdwood
I would like to. Where can I get the sof-docs and add the information to?

[2019-03-24 12:48] libinyang commented on #136
Now DPMST works very well with different DPMST modes, differnent DPMST hub on different platforms.
Here is the summary for the DPMST:

kernel: 41e4680a035ec574a170947b79a93c6db3a85749
SOF: 52f99da480fb4a9519715d870bc5f86d9392b95b
tplg: 52f99da480fb4a9519715d870bc5f86d9392b95b

Platforms: UP2, WHL are both OK
mode: DPMST, Daisy-chain mode are both OK
DPMST hub: club, StarTech are both OK (StarTech

[2019-03-24 14:51] plbossart commented on #136
@libinyang you clearly found a problem for S3 that needs to be fixed and that's really good progress. However, the feedback from Takashi is clearly that a different solution needs to be found. Are you working on an update? I'd rather merge an update or better yet get the solution through the weekly alsa-devel backport than take the existing patches as is and revert.

Also what topology did you use

[2019-03-24 17:56] plbossart commented on #715
@bardliao sorry I didn't see this earlier. The last {0} refers to the pin list for that GPIO controller:

From ACPI 6.1: PinList is a list of (zero-based) pin numbers on the ResourceSource that are described by this descriptor. For interrupt pin descriptors, only one pin is allowed. The bit field name _PIN is automatically created to refer to this portion of the resource descriptor.

Are you sure

[2019-03-24 17:58] plbossart commented on #669
@lyakh is this configuration with 4 streams functional on Up2? Thanks!

[2019-03-24 18:01] plbossart commented on #603
@xun2z is this issue still relevant? It's been 24 days without update.

[2019-03-24 18:04] plbossart commented on #466
@RanderWang @zhuyingjiang there's been no progress since December, can someone clarify if the issue still exists after all the HDaudio and IPC changes?

[2019-03-24 18:17] plbossart commented on #358
@kv2019i see my comments directly on your branch. Thanks!

[2019-03-24 18:18] plbossart commented on #138
No one looked into this and no one seems to be interested, so let's close and move on.

[2019-03-24 18:18] #138 closed

[2019-03-24 18:20] plbossart commented on #41
@bardliao are you working on this or do we need to ask @mengdonglin to assign someone else. This is a simple problem that should be fixed.

[2019-03-24 18:22] plbossart commented on #83
@lgirdwood I don't think the context-saving requirement is needed atm, should we close this issue?

[2019-03-24 18:25] plbossart commented on #87
@wenqingfu can we get someone assigned to this? We know our programming sequences don't fully follow recommended guidelines, let's fix those known opens, at least the opens 2, 5, 6 and keep watchdog/recovery and DAM resume capability aside.

[2019-03-24 18:26] plbossart commented on #137
@mengdonglin we should close this issue, most topics are fixed now or were closed.

[2019-03-24 18:28] plbossart commented on #118
@lyakh can you confirm you are working on this? there's been no update since Feb 14. I believe this is needed to help our firmware colleagues reproduce issues with the scripts.

[2019-03-24 18:30] plbossart commented on #234
@keyonjie this issue has not been updated since October 31, 2018, there is no description of the issue. Should it be closed or is this still open?

[2019-03-24 18:33] plbossart commented on #266
last call @mengdonglin I will close at the end of the week if there is no update.

[2019-03-24 18:35] plbossart commented on #382
@xiulipan can you provide the list of branches that are tracked by CI?

[2019-03-24 18:36] plbossart commented on #290
@emilchudzik @mengdonglin is this issue still relevant or can it be closed?

[2019-03-24 18:38] plbossart commented on #306
@ranj063 @keyonjie is this trace support across suspend-resume a planned activity or is this dropped? There's been no update since November 26.

[2019-03-24 18:40] plbossart commented on #486
@keyonjie is this fixed, something you are working on, or do you need @wenqingfu to assign someone?

[2019-03-24 18:41] plbossart commented on #537
@lgirdwood is this issue still current or can it be closed?

[2019-03-24 19:18] ranj063 commented on #306
@plbossart I think this issue has been tabled for far too long. Let me check with @keyonjie this week and maybe see if @mengdonglin can assign someone else if Keyon is busy with WoV.

[2019-03-25 01:01] libinyang commented on #136
@plbossart Yes, I'm working on it. I will check whether Takashi's solution is reasonable to implement. I will work on it today. I didn't give the updated patch last 2 days because I don't have environment at home to test to see if Takashi's suggestion is feasible.

tplg: 52f99da480fb4a9519715d870bc5f86d9392b95b

[2019-03-25 01:44] plbossart commented on #136
I was asking about the topology filename (HDMI alone or PCM512-hdmi?)

[2019-03-25 01:46] libinyang commented on #136
@plbossart

It is sof-apl-pcm512x.tplg.

[2019-03-25 02:59] keqiaozhang commented on #266
Confirmed that this issue is fixed on GLK.
@stevyan ,please help to check on APL and close it if you cannot reproduce it.

[2019-03-25 04:00] ranj063 opened #747 "Unload topology and load a new one at run time"
We need the means to tear down the pipelines in the currently loaded topology and load a new topology user space at runtime.

This possibly needs a new ALSA ioctl definition to load a new toplogy from userspace as well.

[2019-03-25 07:15] lyakh commented on #118
@plbossart @lgirdwood I'd like to have some more opinions on my proposal to implement this as a debugfs file in addition to @xiulipan's comment

[2019-03-25 08:05] emilchudzik commented on #290
Yes, we can close it.

[2019-03-25 08:05] #290 closed

[2019-03-25 08:09] RanderWang commented on #466
@plbossart   I tried latest code and still got panic. I will work on it this week.

[2019-03-25 08:11] RanderWang commented on #466
[   69.483386] Hardware name: Intel Corporation WhiskeyLake Client Platform/WhiskeyLake U DDR4 ERB, BIOS CNLSFWR1.R00.X188.B03.1902131435 02/13/2019
[   69.483873] RIP: 0010:soc_pcm_hw_free+0x17d/0x1b0 [snd_soc_core]
[   69.484095] Code: 48 8b 80 88 00 00 00 48 8b 80 80 00 00 00 48 85 c0 74 08 4c 89 e7 e8 82 48 d1 f4 83 c5 01 39 ab 38 06 00 00 77 c3 49 8b 45 18 <48> 8b 80 88 00 00 00 48 8b 80 80 0

[2019-03-25 08:37] xun2z commented on #603
@plbossart We still have this issue. Bard says he's trying to set a `ignore_pmdown_time` flag, which can shut down rt5682 immediately after playback. I'll look into it and help to check with Bard.

[2019-03-25 09:07] bardliao commented on #41
@plbossart Yes, I can do it.

[2019-03-25 09:24] kv2019i commented on #358
@plbossart Thanks Pierre for the review comments! I was actually planning to still polish a bit and send a proper PR, but you beat me to it.  :)

But yeah, I'll copy my reply to one of the core opens to here as well. I'll fix the rest and leave the patch in otherwise clean state.

On the snd_sof_dsp_read_poll_timeout() macro I added:

""Yes. This is a verbatim copy of include/linux/iopoll.h. It's

[2019-03-25 12:07] bardliao commented on #715
@plbossart No, I was told by BIOS team, it should be 0x108. But it didn't work yet.

[2019-03-25 13:05] xiulipan commented on #382
@plbossart
Now only **topic/sof-dev** is supported.
We are working on multiple branch support now and we are extend our storage server memory space.

[2019-03-25 13:51] plbossart commented on #118
@lyakh I don't see any problems with saving the IPC payload with an appropriate format and time stamping in a debugfs file. We already have too many logs in dmesg, and adding all the content in dmesg isn't scalable/usable.

[2019-03-25 13:55] plbossart commented on #358
@kv2019i i'd really like to keep this two-resolution method, otherwise we'll be changing the functionality and enter uncharted waters with a behavior that differs from what previous solutions used. If it ain't broke don't fix it applies here.

[2019-03-25 14:04] bardliao commented on #41
@plbossart @ranj063 I guess we can send jiffies to align the time stamps. But how do we handle the clock difference between kernel and firmware? e.g. 1000 on kernel and 19.2M on FW.

[2019-03-25 15:11] lyakh opened #751 "MinnowBoard: SOF fails to boot with latest 1.0 BIOS"
This might be a mis-configuration issue, but 2 days of debugging and multiple emails on https://mailman.alsa-project.org/pipermail/sound-open-firmware/2019-March/003204.html failed to fix the issue so far. Trying to boot current SOF firmware and the kernel on 2 MinnowBoard systems (Max with an attached codec card and Turbot with no card) with the latest 1.0 BIOS and ACPI scripts to enable the DSP,

[2019-03-25 15:15] lgirdwood commented on #118
@plbossart Mark had preference for this going via trace as ASCII hex data.

[2019-03-25 15:18] plbossart commented on #118
@lgirdwood i was indicating my preference for a solution that doesn't rely on dmesg - as described in the title. we could do the debugfs first and then add the integration in the Linux trace. The latter would also need to be done for the sof-logger DSP trace btw if we want to be consistent.

[2019-03-25 15:24] lgirdwood commented on #382
@xiulipan CI should not be cloning and building a clean kernel for every PR. Our CI should be using a pre-cloned and pre-built (using a golden config) so that every git update and build is incremental.

[2019-03-25 17:31] plbossart commented on #751
@lyakh to rule out SOF issues, please try with the SST driver and nocodec machine driver (use sst-defconfig and add nocodec machine driver). If it doesn't work it's your hardware and config that's broken. If it works then it's an issue on the SOF side.

[2019-03-25 19:00] plbossart commented on #747
@ranj063 are you asking for a means to only enable the pipelines when they are needed, or actually a way to take down an existing topology and load a new one? What is the use case or requirement for the latter case?

[2019-03-25 19:05] ranj063 commented on #747
@plbossart I suppose the first ask is to enable pipelines when needed and disable then when not needed.
But @lgirdwood also mentioned the need for take down the existing topology and load a new one. Liam, could you please clarify?

[2019-03-26 02:38] xiulipan commented on #382
@lgirdwood
For our own Jenkins CI. PR and Daily is done this way.
But for Travis, their test logic is to start an empty ENV every time. And we could not do anything on it.

[2019-03-26 09:53] RanderWang commented on #466
It is discussed by https://github.com/thesofproject/linux/pull/707.

[2019-03-26 12:39] bardliao commented on #41
@plbossart @ranj063 My idea is that save the value of jiffies when SOF_IPC_PM_CTX_SAVE ipc is sent and send the delta to FW in resume (trace init). The delta should be converted to match the timer clock frequency of FW.  The conversion formula is delta = delta * 1000 / HZ * <FW timer clock rate>; And I will need to get the <FW timer clock rate> via IPC.
Does it make sense?

[2019-03-26 12:50] kv2019i commented on #655
@ranj063 @plbossart @lgirdwood I've been reviewing the code paths from ipc.c to trace.c and elsewhere today and my conclusion is that we do not need a lock here. snd_sof_dev.host_offset is a 32bit value, so a simple load/store is atomic. Further sdev->host_offset is only written from the interrupt handler, so logic in trace.c seems solid. If the avail() function is preempted, we are checking for r

[2019-03-26 15:59] plbossart commented on #41
@bardliao I would do the opposite, provide the absolute time on resume. And it'd use the full ns value to avoid ms quantizations

[2019-03-26 16:24] ranj063 commented on #358
@plbossart the two-resolution was added only recently in January. And the main reason was suspend stress test failures. We have come a long way in terms of fixing the device hierarchy and the PM flow since then, I think it might be worthwhile to give @kv2019i's approach a try.

[2019-03-26 16:24] ranj063 commented on #358
@plbossart the two-resolution was added only recently in January. And the main reason was suspend stress test failures. We have come a long way in terms of fixing the device hierarchy and the PM flow since then, I think it might be worthwhile to give @kv2019i's approach a try.

[2019-03-26 17:43] stripes416 commented on #563
Now that I'm back from leave, I'll be picking this back up.

[2019-03-26 18:43] ranj063 commented on #655
@kv2019i will we not hit this case quite often when running the sof-logger?

[2019-03-27 08:35] lyakh commented on #751
@plbossart thanks, that was a good idea. Just tried it and sure enough it doesn't work either. I'm getting

I actually haven't used those SST drivers before, do they also need the same ACPI scripting as the SOF? (my guess: yes) Do they need any additional firmware? (guess: no) Anything else special?

[2019-03-27 09:34] singalsu opened #753 "Doing sof-eqctl EQ response set during playback causes next playback to fail"
The firmware currently does not support change of EQ configuration during streaming so it returns -EBUSY error if the configuration cannot be changed immediately. The change of response should happen with next playback start without errors.

It's not clear that this is a driver issue. While the switch capability is not yet implemented in EQ the choice what is done in this situation could be differ

[2019-03-27 09:37] singalsu commented on #753
@cujomalainey @juimonen @ranj063 I've now entered this issue that I briefly described in email.

[2019-03-27 09:51] bardliao commented on #41
@plbossart thanks, it makes more sense to send the absolute time on resume. Regarding to the quantization, I will send the full value of jiffies to FW, but its unit is ms. Actually, it depends on the value of HZ. And I will use clock_ms_to_ticks function to transfer value to ticks.
I will send RFC for discussion. :)

[2019-03-27 12:02] plbossart commented on #751
@lyakh do you actually run the acpi scripts w/ the startup.nsh step? If you boot directly without going to the EFI shell first it's not going to work. That's my only remaining idea before getting new hardware or sending it to someone else for checks

[2019-03-27 13:50] lyakh commented on #751
@plbossart yes, from the startup.nsh script. And yes, I see that script running, because also the kernel does find the ACPI device and tries to probe it, otherwise no probing is taking place at all. I don't think getting new hardware would help - I have 3 minnow boards here. Maybe it's my ubuntu that's somehow powering that down. I also tried your defconfig files and the exact "make defconfig && m

[2019-03-27 14:45] lyakh commented on #751
A comparison with @juimonen 's logs (thanks!) and a follow-up verification revealed, that BIOS 1.0 doesn't work with our software. A downgrade to 0.94 fixes the problem.

[2019-03-27 15:29] lyakh commented on #751
The next problem:

[2019-03-27 15:59] lyakh commented on #751
hm, this one got fixed by rebuilding the firmware... Looks like the build system doesn't always rebuild properly. One of the indications of that is that the .ldc is often left empty after a partial rebuild.

[2019-03-27 16:03] ranj063 commented on #751
@lyakh do you use the build scripts or build it manually?

[2019-03-27 16:34] kv2019i commented on #655
@ranj063 I believe not, as the firmware will be continuously sending traces. If one wakeup is missed, the next trace will wake up sof_wait_trace_avail.

[2019-03-27 16:38] lyakh commented on #751
@ranj063 if "make" counts as "manually" then yes, that's what I do :-)

[2019-03-27 16:40] ranj063 commented on #751
@lyakh can you please try the scripts/build-xtensa-all script. It should avoid the issues you're describing.

[2019-03-27 17:16] fredoh9 commented on #396
Testing with smart suspend flags, DPM_FLAG_SMART_SUSPEND and DPM_FLAG_LEAVE_SUSPENDED. But PM behavior is same as before. Looking at the implementations from other drivers.

[   76.382590] PM: suspend entry (deep)
[   76.382593] PM: Syncing filesystems ... done.
[   76.403068] sof-audio-pci 0000:00:0e.0: PM: sof_resume: entry
[   76.449950] sof-audio-pci 0000:00:0e.0: PM: sof_restore_pipelines: en

[2019-03-27 19:51] plbossart commented on #751
Ah interesting. It could be that we need to update the AudioSSDTUpdate.efi application due to some ABI change.

[2019-03-27 20:46] wenqingfu commented on #751
Who can do this? Anything we should do, or close this bug as known issue?

[2019-03-27 20:54] plbossart commented on #751
We should definitively try to update the code. I did this 2-3 years ago, it's just a matter of recompiling in theory.

[2019-03-27 23:14] wenqingfu commented on #751
sounds like you volunteered? :)  can I assign this to you? I have no idea where is the .efi file..

[2019-03-28 01:57] mengdonglin commented on #136
Close this issue based on https://github.com/thesofproject/linux/issues/136#issuecomment-475955568
We can track HDMI audio failure after S3 by https://github.com/thesofproject/linux/issues/737 and https://github.com/thesofproject/linux/issues/489

[2019-03-28 01:57] #136 closed

[2019-03-28 02:39] mengdonglin opened #755 "[UCM] Add reference UCM file for DP-MST audio"
This feature is to support SOF DP-MST audio integration with PulseAudio for Linux and Cras for ChromeOS, to allow users to set amixer settings automatically via ALSA UCM.

[2019-03-28 03:33] xun2z commented on #751
I think I can try this. I forked and recompiled pierre's [branch](https://github.com/plbossart/MinnowBoardMaxFirmware) to support 5682 on Minnowboard recently.
What we need to do is to follow some [compiling guide](https://firmware.intel.com/sites/default/files/minnowboard_max-rel_1_00-releasenotes.txt).

I've had the same issue weeks before and succeeded by downgrading to 0.97, sorry not see this

[2019-03-28 04:35] wenqingfu commented on #751
👍

[2019-03-28 05:50] zhuyingjiang commented on #466
@RanderWang I think this issue is not what #707 is discussing, #707 is about removing the modules the **same time** do playing. as the test step here is only "aplay -L", this is a bug unload the module when it is not playing.

[2019-03-28 06:11] bardliao commented on #41
@plbossart @ranj063 I have sent RFC on https://github.com/thesofproject/sof/pull/1194 and https://github.com/thesofproject/linux/pull/756. Could you give me come comments? Thanks.

[2019-03-28 07:00] bardliao commented on #396
@fredoh9 good to see someone follows up on this issue :) I think SMART_SUSPEND is needed but we also need something else. As I checked before, pci_target_state() is 4(PCI_D3cold) but pci_dev->current_state is 3 (PCI_D3hot) platform_pci_need_resume(pci_dev) is 1
The system will be waked up before suspend in such condition. So I think we can check and let pci_dev->current_state be 4 (PCI_D3cold) at

[2019-03-28 07:25] RanderWang commented on #466
please check the dmesg log. It is caused by removing modules when playing music

[2019-03-28 07:34] zhuyingjiang commented on #466
@markyang The test steps and the log seems are not accordingly, could you clarify?

[2019-03-28 07:41] lyakh commented on #751
@ranj063 that script just does a clean build every time by deleting any previous builds. I don't think we want to force that, we want to have functional incremental builds too.

[2019-03-28 09:20] stevyan commented on #266
**Summary**
Issue cannot be reproduced with daily build version after executed more than 800 times based on APL UP2 nocodec.

**Test Env**
sof master: 742f83ba
kernel sof-dev: 03670025
tplg: sof-apl-nocodec.tplg

[2019-03-28 13:04] plbossart commented on #358
@ranj063 the 2-step approach came from the cAVS driver and has been in use for a long time, if we have a working solution let's keep it. We have additional programming sequences to double-check to harden our code.

[2019-03-28 13:47] plbossart commented on #751
@xun2z if you take https://github.com/plbossart/MinnowBoardMaxFirmware, you need to change the build.sh, MinnowFirmwareSetup.sh and MinnowFirmware.patch to compile, add the .efi application and recompile it. It's not too hard but it's not simple either. The main problem I faced was issues with GCC in the past, this never worked on Ubuntu for some reason and the firmware folks use an ancient 4.2 ve

[2019-03-28 15:44] ranj063 commented on #358
@plbossart that sounds fair. Although I have to mention that the cavs driver added this logic exactly for the same reasons as us and I truly believe it is a bit of an overkill.

[2019-03-28 15:58] lgirdwood commented on #747
We need to be able to:
1) tear down selected existing pipelines at runtime.
2) construct new pipelines at runtime.
But in order to do this we will need some new ioctl() within ALSA to do 1 & 2 above and some userspace cmd line app. The cmd line app should be able to list current pipelines and allow deletion and insertion.

[2019-03-28 17:10] plbossart commented on #747
@lgirdwood are we only talking about 'front-end' pipelines here? if you we mucking with DAIs and dailinks then it's the entire card you'd have to change and take down.

[2019-03-28 17:16] cujomalainey commented on #753
Is there a case where we could change config in the middle of playback? I'm thinking for someone running tuning tools, this way they could make changes without having to constantly restart playback.

[2019-03-28 21:28] wenqingfu commented on #697
@fredoh9 #758 may close this ticket

[2019-03-28 22:32] ranj063 commented on #747
@plbossart @lgirdwood tearing down front end pipelines makes sense. After playing with the HWDEP interface for the past week, I think this could be a perfect candidate to do 2. in your comment above.

The hard part will be do only tear down the FE part. It is easy to tell this apart from topology but the FW pipeline as it exists today goes all the way from host to the dai.

[2019-03-29 01:36] xun2z commented on #751
@plbossart yes, I succeeded in compiling the 1.00 AudioSsdtUpdate(LPEX, RT5651...) yesterday. I meet with some compiling errors (on ubuntu 18.04 typically the inconsistency between build and link) and fixed by using ubuntu 16.04. I will test on device today and create a pr when it's done.

[2019-03-29 06:31] dragosht commented on #697
@wenqingfu Actually #758 simply acknowledges the presence of multiple configs but adds an additional check for the assigned default hardware configuration and chooses that one to be send to the firmware. I think it is more work involved with this issues than just that. And based on @lgirdwood 's notes above, all the hardware configs should eventually be sent to the firmware via IPC, but first the

[2019-03-29 08:52] xun2z commented on #751
I have done the [updates](https://github.com/xun2z/MinnowBoardMaxFirmware/commit/70e17d172febc4d29c96cf594744f8cc2f3cf352) for building bios v1.00. But the sad news is that I still cannot wake up the DSP using the newly compiled efi and asl files.

After some research I might find the [cause](https://firmware.intel.com/sites/default/files/Intel_WhitePaper_Using_IOMMU_for_DMA_Protection_in_UEFI.pdf

[2019-03-29 08:59] singalsu commented on #753
Yep that would be one case. Also if there's an audio server it likely also extends the playback to be continuous from ALSA point of view over successive music tracks.

[2019-03-29 11:55] wwittbrx opened #761 "Underruns while pausing/resuming HDMI playback on GLK"
### Description

Rapidly pausing and releasing playback over HDMI will cause underruns on GLK. What is interesting to me is that we don't see any errors in dmesg or sof-logger, only from aplay window. Please try to reproduce the issue and check if you can gather more meaningful logs.

### Recipe

**ChromeOS**
75.0.3746.0 (Platform 12000.0.0)

**Kernel**
https://github.com/thesofproject/linux/tree/

[2019-03-29 14:46] wenqingfu commented on #669
@juimonen would you be able to take this?

[2019-03-29 14:53] juimonen commented on #669
@wenqingfu sure I'll take a look

[2019-03-30 01:08] plbossart commented on #751
@xun2z if the problem already happens with 0.98 then it's a rather problematic bug. the MinnowBoard firmware team is based in China, please check with them. If the BIOS introduced a regression it needs to be fixed.

[2019-04-01 03:08] xiulipan commented on #761
@wwittbrx
If you see some xrun in the terminal, then it is some issue cased by ALSA.
Please reference from https://github.com/thesofproject/sof/issues/231 https://github.com/thesofproject/sof/issues/506
This is some ALSA warning and ALSA handling when some XRUN happen to the buffer that controlled by ALSA. This should be caused by user space memory to kernel space memory copy issue.

You can try t

[2019-04-01 04:41] sathyap-chrome opened #763 "System S3 failing on CML platform"
S/w Configuration : ww8.5 Alpha CML release

Issue description :  System S3 is failing due to DSP init failure. happens in less than 10 cycles.
Note that Soix is happening fine and tested for 500 cycles.

Log extract : (Full log attached)
[  387.978505] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x40010000 size 0x4c
[  387.978526] sof-audio-pci 0000:00:1f.3: error: status = 0x001d003c pa

[2019-04-01 05:11] ranj063 commented on #763
@sathyap-chrome can you please confirm this is a stress test issue. Does S3 entry/exit work if you only do it once?

[2019-04-01 05:18] sathyap-chrome commented on #763
I think it might work sometimes. as the issue happens after few iterations
but after 5 - 6 iterations

[2019-04-01 05:40] juimonen commented on #575
PR's are integrated to kernel and sof.

[2019-04-01 05:40] #575 closed

[2019-04-01 06:34] juimonen commented on #669
@plbossart with latest codes, I can reproduce this in up2 with nocodec but with 4th stream I get:
 src/drivers/dw/dma.c:1396	DWDMA failed to allocate IRQ, error -12
which is ENOMEM

[2019-04-01 06:40] juimonen commented on #669
@plbossart and now when looking at your log, is exactly the same as you get :)

[2019-04-01 07:00] zhuyingjiang commented on #669
Should this be a firmware issue? I see in the sof-logger.txt there is: `DWDMA failed to allocate IRQ`,
if open streams more than 3, the log will come out. and the 4th stream then will be stopped

[2019-04-01 07:02] juimonen commented on #669
@zhuyingjiang so we just run out of memory in firmware?

[2019-04-01 07:07] zhuyingjiang commented on #669
@juimonen  the `interrupt_register` failed, need to debug into to found what is the problem.

[2019-04-01 07:08] juimonen commented on #669
@zhuyingjiang I already did see above. It is rzalloc failing...

[2019-04-01 07:09] juimonen commented on #669
@zhuyingjiang so move to firmware and see are we really out of mem, can we change the mem map etc.

[2019-04-01 09:59] kv2019i commented on #358
Done with PR366 merged.

Done with PR750 merged.

Closing the issue, thanks all!

[2019-04-01 09:59] #358 closed

[2019-04-01 10:32] kv2019i commented on #486
I can take this. I'm learning about PR248 (possible reopening of this issue) and I think I need to study the sof-logger internals first.

[2019-04-01 11:07] kv2019i opened #764 "up2: pulseaudio playback fails after suspend/resume"
PCM playback to headset fails to recover after suspend/resume on UP2 board.

Commands:
sh1> /usr/bin/pulseaudio -vv
sh2> aplay -D default test.wav
sh3> sudo rtcwake -m mem -s 2

Notes:
- without pulseaudio, recovery from suspend/resume works
- @plbossart it seems at least the rewinds fails, this is probably what you referred to in a mail recently

Log:
I: [pulseaudio] protocol-native.c: Final late

[2019-04-01 13:31] plbossart commented on #764
@kv2019i PulseAudio rewind issues, sounds like back to the future, huh :-)

[2019-04-01 22:51] wenqingfu commented on #139
Is this request still valid?  If so, any idea can throw on the table?

[2019-04-01 22:53] plbossart commented on #139
I think it could be done by baking the firmware and topology files inside of the kernel, otherwise the dependency with the filesystem remains.

[2019-04-01 22:55] wenqingfu commented on #285
please close accordingly if it's not valid any more. @RanderWang

[2019-04-01 23:02] wenqingfu commented on #254
@keyonjie do you agree with #300 ? Can you please follow up to finish up this one?

[2019-04-01 23:04] wenqingfu commented on #404
done even for just build? @xiulipan

[2019-04-01 23:19] wenqingfu commented on #452
@kv2019i , would you be able to take this one? thanks!

[2019-04-02 02:03] keyonjie commented on #139
I initiated this with intention to reminding about trying to implement built-in driver support without built-in FW/tplg images using some retry(later) logic once request_firmware fails.

As we have implemented runtime suspend/resume now, it's possible to do this retry in runtime resume, though it fails at the first boot with built-in driver(need keep pci driver working at this fails), @plbossart w

[2019-04-02 02:12] xun2z commented on #603
close since #741 is the fix

[2019-04-02 02:12] #603 closed

[2019-04-02 02:45] keyonjie commented on #254
just checked and found the bus->idx initialization is already supported(static and increased for each x_init() calling), the decent decreasing(freeing) of this is needed, let me do a patch for it.

[2019-04-02 02:52] keyonjie commented on #254
@plbossart how do you think about something like this:

[code]

[2019-04-02 05:38] keyonjie commented on #574
it is implemented, will submit patch soon.

[2019-04-02 05:39] keyonjie commented on #576
This is enhancement at the moment, won't implement it in Voice Trigger 1.0 release.

[2019-04-02 05:40] keyonjie commented on #577
This is for next release, won't implement it in Voice Trigger 1.0 release.

[2019-04-02 06:05] Jiangxinx opened #767 "[WHL HDA] firmware boot failure on WHL platform."
summary:
firmware boot failure on WHL platform. According to the call stack information,it seems to be caused by commit 9c6b9807

Step:
1.Aplay -l

Output:
[code]

Dmesg:
[code]

Env:
sof master: acf2bd52
kernel sof-dev: f93c4ee9
tplg: sof-hda-generic.tplg

[2019-04-02 06:19] RanderWang commented on #285
I will check it after my tasks done.  I have 4 tasks being done now

[2019-04-02 09:27] Jiangxinx opened #773 "[BUG][S3] Regression test: Trying resume playback failed after suspend/resume on APL-pcm512x and APL-nocodec."
**Summary**
Fail to resume playback after suspend/resume 1 times on APL-pcm512x and APL-nocodec. sof-logger is empty. sof-logger -t log is attached below.

**To Reproduce**
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

**Expected behavior**
Success to resume playback.

**Dmesg**
[code]

**Environment**
sof master: acf2bd5
kernel sof-dev: f93c4ee9
tplg: sof-apl-n

[2019-04-02 10:28] Jiangxinx commented on #773
This case is OK on version f304b5c2 . And Only #740 was merged between f304b5c2 and f93c4ee .
Howere, there are several commits in #740, need do bisect to target which commit ID.

[2019-04-02 10:32] sathyap-chrome commented on #763
@ranj063  is this similar to the issue below https://github.com/thesofproject/sof/issues/814 seen on apl ?

[2019-04-02 10:40] lgirdwood commented on #489
@mengdonglin this is still showing in daily test. Do we have an ETA for fixing ?This is P1 for me sine aplay is gold standard for Linux userspace API usage.

[2019-04-02 10:42] lgirdwood commented on #767
@Jiangxinx can you attach full log. This may be a FW issue if we dont have ROM errors.

[2019-04-02 10:43] xiulipan commented on #404
@wenqingfu
Not yet. Will try to find a way to convert the config to all built-in and add to CI.

[2019-04-02 11:48] emilchudzik commented on #767
Double check issue on my side:

python tests in windows HDA works without issues. (FW: master/[d7b36bf3](https://github.com/thesofproject/sof/commit/d7b36bf3)).
- loading FW
- basic playback and record on HDA (loopback on codec ALC700)

linux Env:
FW: master/[d7b36bf3](https://github.com/thesofproject/sof/commit/d7b36bf3)
tplg: master/[d7b36bf3](https://github.com/thesofproject/sof/commit/d7b36bf3

[2019-04-02 12:06] libinyang commented on #489
@lgirdwood
https://github.com/thesofproject/linux/pull/725
is submitted. Ranjani suggestion we should implement the trigger order in FE link. As you know, if we implement in FE link, this will touch the ABI, alsa-lib, m4 topology file. It will take a longer time. I'm now implement it in FE link.
Another patch in hdmi codec is submitted in alsa mail list. I proposed 2 solutions, but Takashi's doesn

[2019-04-02 12:28] kv2019i commented on #452
@wenqingfu wrote:

Ack. I'm currently looking at tracing issues during suspend and runtime supsned (old issue #248
and newer #486), will work on these first (good way to learn the tracing part first) and then move to this.

[2019-04-02 13:25] emilchudzik opened #774 "[WHL][HDA] Unable to play using aplay"
### Recipe:
platform: WHL RVP (HDA mode)
linux: Ubuntu 18
### kernel (v5.0):
[e29122d6](https://github.com/thesofproject/linux/commit/e29122d6) with latest kconfig repo. Kernel build using commands:
[code]

### FW and topology:
master/[a10e69d2](https://github.com/thesofproject/sof/commit/a10e69d2) (from 28 March)
tplg file: sof-hda-generic.tplg

master/[d7b36bf3](https://github.com/thesofproject/

[2019-04-02 14:12] plbossart commented on #404
perl -pi.bak -e 's/=m/=y/g' sof-dev-defconfig ?

[2019-04-02 15:06] plbossart commented on #139
@keyonjie I don't think we should try this. We need to verify all the boot flows immediately, not rely on some sort of retry. In other implementations such as Edison where everything was built-in, the firmware was embedded in the kernel and that's an acceptable restriction to me.

[2019-04-02 15:31] plbossart commented on #773
@lyakh are you able to reproduce this issue?

[2019-04-02 20:42] ranj063 commented on #763
@sathyap-chrome the issue you see with timeout is much after the first error which is the fw load failure. So I dont think it is related

[2019-04-02 21:40] wenqingfu commented on #767
9c6b980 is part of #740 patchset, so @lyakh

[2019-04-03 01:38] ranj063 commented on #767
@Jiangxinx @emilchudzik  can you please check if linux PR #775 helps?

[2019-04-03 02:18] xiulipan commented on #767
@emilchudzik @ranj063 @Jiangxinx
e29122d is some older version than 9c6b9807

So it should be OK.

[2019-04-03 03:44] wenqingfu opened #776 "[APL][GLK] harden: power-gating and clock gating needs to be disabled during firmware download"
No.2 sub-task of #87.

[2019-04-03 03:46] wenqingfu opened #777 "[APL][GLK] harden: delays after programming registers (and/or loops to check status changes)"
No.5 sub-task of #87

[2019-04-03 03:46] wenqingfu opened #778 "[APL][GLK] harden: set I2S as slave before enabling DSP"
No.6 of #87

[2019-04-03 05:15] mengdonglin commented on #761
@wwittbrx Close the issue based on above comments. Will reopen if this impact audio quality in the future

[2019-04-03 05:15] #761 closed

[2019-04-03 06:35] Jiangxinx commented on #767
@ranj063 PR #775 doesn't help, got the same dmesg log.
Git diff:
[code]

[2019-04-03 07:28] emilchudzik commented on #767
@ranj063 is #775  should fix booting issue?
Or should fix my observations? I can boot firmware, but I have this issue: https://github.com/thesofproject/linux/issues/774

[2019-04-03 07:36] Jiangxinx commented on #767
@emilchudzik do you use the latest kernel commit to test the boot issue? e29122d is older than my test version.

[2019-04-03 07:43] zhuyingjiang commented on #391
@kv2019i I heard you have a Reef platform, could you verify if this issue is still valid?

[2019-04-03 08:41] zhuyingjiang commented on #764
@kv2019i Could you provide the commit ID of the driver and the firmware? Did you test using PCM512X?

[2019-04-03 09:37] zhuyingjiang commented on #764
I use :
linux: f3adfd66c97c
sof: [d7b36bf3e4db4](https://github.com/thesofproject/sof/commit/d7b36bf3e4db48567ae29337d2311ca3bc6a82cc)
the result seems is different:
[pulse.log](https://github.com/thesofproject/linux/files/3037918/pulse.log)
[dmesg.log](https://github.com/thesofproject/linux/files/3037919/dmesg.log)
@kv2019i
Could you confirm if it is the same thing you have got?

[2019-04-03 09:39] keyonjie commented on #139
OK, then let's close this item.

[2019-04-03 10:53] lyakh commented on #773
@plbossart yes, I can reproduce it. And it's a very nice one! I'd say - an old bug biting back. Now, I have a fix, but it makes an ugly location in the code even uglier. Here it is:
[code]
An explanation: you see a message:
[code]
both before and after my patches. Before my patches it was harmless, because .get_reply() wasn't called because the unexpected message was caught in snd_sof_ipc_reply()

[2019-04-03 11:22] xiulipan commented on #773
Hah, a ghost come back @keyonjie

@lyakh
Actually this is some message from the ROM response the purge message.
`0x1004000` means you have select stream_tag 1 for the FW loading, and
`0x1004200` means you have select stream_tag 2 for the FW loading.

In fact we may have more than this, and some `0x1004400`  `0x1004600`  also
notice `((stream_tag - 1) << 9))`

https://github.com/thesofproject/linux

[2019-04-03 11:27] emilchudzik commented on #767
With the latest sof-dev on linux repo (f3adfd6) I can't boot to OS on WHL.
FW and tplg: master/d7b36bf3 (2 April)

On e29122d loading to OS and loading above firmware was done correctly.

I see panic while trying to load the system. I made quick screen shot:
![image](https://user-images.githubusercontent.com/41113230/55474116-afc68800-5610-11e9-8e7d-0a772628486b.png)

[2019-04-03 12:22] lyakh commented on #773
@xiulipan what do you mean it would only hide the error? It fixes it - with that diff suspend-resume works again.

[2019-04-03 13:26] wenqingfu commented on #773
I think what @xiulipan means is if it is always right to simply ignore the 0x1004n00 msg, and if so, we need to ignore more than 0x1004200. Maybe @mmaka1 can help confirm?

[2019-04-03 13:45] singalsu commented on #618
The sof_ipc_comp_process has replaced in firmware the processing algorithm specific IPC structs.

[code]

The same change still need to be done on Linux driver side as well. It is in Linux PR #771 by @keyonjie .

[2019-04-03 14:05] plbossart commented on #139
no, let's try with the firmware embedded in the kernel and close when it's verified.

[2019-04-03 14:09] lyakh commented on #773
@wenqingfu is 0x1004n00 the correct mask? Judging by `((stream_tag - 1) << 9)` it seems it's either `(0x1004000 | (3 << 9))` or `(0x1004000 | (7 << 9))` or maybe even `(0x1004000 | (0x1f << 9))` ?

[2019-04-03 14:59] plbossart commented on #773
@lyakh it feels like there is some sort of resource leak that leads us to use a different stream_tag. I don't get at all why stream_tag 2 would be used, it's an indication that stream_tag 1 is marked as used. We should not mask the error here but figure out why we get a different reply in the first place.

[2019-04-03 15:04] ranj063 commented on #773
@xiulipan it never went away. We just fixed the other things in GLK and left this alone.

[2019-04-03 15:06] ranj063 commented on #773
@lyakh we're having resume issues on CML as well and I'm not sure it is the same fix. Whats interesting is during the stress test the same error reply appears after every single resume.  But it only causes a failure occasionally and not every time.

[2019-04-03 15:28] singalsu commented on #618
This can be closed since #771 is merged now.

[2019-04-03 15:28] #618 closed

[2019-04-03 15:33] lyakh commented on #773
@ranj063 has the resume issue on CML also been just introduced with this PR? Is there a separate issue for it or can you post a dmesg here?

[2019-04-03 15:36] ranj063 commented on #773
@lyakh no the resume issue on CML has been there from before. Unfortunately the problem was found only a couple a days ago. Here're the logs but this isnt with your PR (just with the v5 SOF patch posted upstream).
[dmesg_detailed_logs.txt](https://github.com/thesofproject/linux/files/3039485/dmesg_detailed_logs.txt)

[2019-04-03 15:51] ranj063 opened #780 "check for null pointer dereferences while unloading topology"
Now that we also remove the topology components that were previously loaded in case of error while loading topology, we need to make sure the pointers are valid while unloading. An example as noted by @keyonjie below. host comp loading fails but while unloading topology, we run into a null pointer derefence in link_unload because the dai_config was never created.

[    4.557335] sof-audio-pci 0000

[2019-04-03 15:59] lyakh commented on #773
@plbossart do you have an idea how to debug that? So we want to find out the reason and not just skip all ROM messages there? As for a resource leak - can be of course, at least with follow up suspends the stream tag remains the same, it doesn't increment to 0x400 or 0x600.

[2019-04-03 16:05] #773 closed

[2019-04-03 17:42] kv2019i commented on #306
Hey folks (especially @ranj063 and @keyonjie), I now made a pair of patches that makes "sof-logger -t" work more consistantly over suspends (both runtime and S3) -> PR781 linked above

This basicly allows to get the traces if you have sof-logger running. If sof-logger is not running and you start it later, you'll get traces since last resume (but not before). The patched sof-logger works also with

[2019-04-03 17:46] kv2019i commented on #391
@zhuyingjiang wrote:

Sure, I'll test this tomorrow. Haven't used HDMI yet with SOF, but this is probably a good case to learn with.

[2019-04-03 17:47] ranj063 commented on #306
Thanks @kv2019i why is this the case? is it because you reset the host_offset to 0 in your open? wondering is that is required.

[2019-04-03 23:17] ranj063 commented on #763
@sathyap-chrome just a quick update with the v5 SOF patches I am unable to reproduce this issue on the 2 boards that I have access to. I feel like we're hitting the same problem we saw in GLK where some boards manifested the problems but others didnt.

[2019-04-04 06:17] xiulipan commented on #139
@plbossart
Then it may not be easy to try with the CI. It will need the firmware inside the kernel build folder. And the kernel config set to include the binaries.

Maybe I can come up with some scripts to test it once a week. I will upload the scripts and the def-config to kconfig repo once I have done the test.

[2019-04-04 08:21] keqiaozhang commented on #763
@sathyap-chrome
What is the latest state of this issue at your end? I believe Ranjani has shared the new coreboot  and kernel branch to you.
This afternoon, I tested this issue on my board, S3 works well in loop after updating the new coreboot and can pass more than 500 iterations.

Here is my test recipe:
kernel: https://github.com/ranj063/linux/tree/debug/cml-suspend
sof/tplg: cml-003-drop-stabl

[2019-04-04 09:41] sathyap-chrome commented on #763
@ranj063  and @keqiaozhang thanks for debug. The issue is not happening for me too. The actual root cause might be in the servo debug card we use. The issue happened on few boards ( including mine) where the debug card is connected.

Once i removed, the v5 recipe ( as well as v4 based current chrome release) is working fine for 100+ iterations. This also explains why this didnt happen on RVP.

I'l

[2019-04-04 09:41] #763 closed

[2019-04-04 09:54] RanderWang opened #784 "[WHL HDA] can't boot up with lastest Linux kernel code"
WHL hangs at booting screen and user can't login by ssh. I have no time to find which commit make this but I found it is caused by a series of IPC commits.

[2019-04-04 10:20] mmaka1 commented on #773
@wenqingfu

As you noticed, there is just stream_id changed, bits [9-13] are allocated for the stream_id in this message, and this exact part should be masked out since the nibble with `4` could be theoretically changed to another value if stream with id > 7 is used.

[2019-04-04 11:17] kv2019i commented on #391
@zhuyingjiang  @plbossart
Tested this with tip of SOF fw (cbd3e07031bca60865ef6c6fd5f3b0c0d5fe296b) and could not reproduce the error (30+ tries with the recipe Pierre you provided).

I did not get XRUN on the FW logs though, so I'm not 100% sure I am triggering the issue in the same way. There are other errors in the FW log and this does not disrupt the primary audio stream that is playing youtub

[2019-04-04 11:55] emilchudzik commented on #784
I described it also here:
https://github.com/thesofproject/linux/issues/767#issuecomment-479449127

[2019-04-04 14:43] kv2019i commented on #764
@zhuyingjiang
Hmm, I tested now with following
sof: cbd3e070
linux: f304b5c20e34

Can you confirm suspend/resume works with your setup? I.e. run "aplay -D hw:0 foo.wav" and "sudo rtcwake -m mem -s 2" without pulseaudio. That should work ok?

The pulse log seems pretty similar -- there's a rewind attempt and then failed start:

A new log I took. Has the same two errors you have also (rewind due to

[2019-04-04 16:40] wenqingfu commented on #571
@stevyan @lyakh ping for update

[2019-04-04 16:43] ranj063 commented on #763
@sathyap-chrome thanks for confirming. I'm curious to know why we see SOF FW fails to load with the servo connected. Seems like a timing issue but a very hard one to debug.

[2019-04-04 16:49] wenqingfu commented on #784
mark as duplicate of #767. please move conversation there

[2019-04-04 16:49] #784 closed

[2019-04-04 17:54] kv2019i commented on #764
Commit-ids are above, and yes, as using PCM512X.

[2019-04-05 16:28] plbossart opened #791 "cppcheck warning with polltimeout changes"
new warning popped up after poll timeout changes.

[sound/soc/sof/intel/hda-dsp.c:180]: (style) Argument '(__sleep_us)!=0' to function might_sleep_if is always 1

@kv2019i can you look if this can be removed or squelched?

[2019-04-05 16:29] plbossart commented on #791
you need to install cppcheck from git (Ubuntu is just too old)

[code]

[2019-04-05 18:27] plbossart opened #792 "Upstream: v5: debugfs alignment issue?"
Feedback from Takashi Iwai:

[code]

[2019-04-05 18:28] plbossart opened #793 "Upstream: v5: loader code hardening"
Feedback from Takashi Iwai

[code]

[2019-04-05 20:18] wenqingfu commented on #597
fixed by #785 #786 #788 ? @zhuyingjiang can you please retest?

[2019-04-05 21:22] wenqingfu commented on #137
Except #138, others were addressed. it's an open if we need #138 eventually or not, so close this one umbrella issue tracker for now.

[2019-04-05 21:22] #137 closed

[2019-04-05 22:06] plbossart commented on #137
It's really the other way around. If we had started with #138, we could have unified legacy and SOF drivers, and test HDaudio with and without DSP. But of course that's not what was done so we have two drivers to maintain :-1: And I forget that we have to solve the dynamic detection of which driver to use on which platform, last time we tried it broke Linus' laptop. yay.

[2019-04-05 22:30] wenqingfu commented on #137
Won't that duplicate code in SOF with legacy HDAudio driver? We cannot really obsolete the "world best driver" in terms of working across generations and various company products.

[2019-04-06 00:33] plbossart commented on #137
There is a lot of duplication already, e.g. for HDMI support, we didn't even try to simplify things and the argument that the legacy driver is the 'world best' is only a matter of reference point...

[2019-04-06 18:40] ranj063 commented on #773
@plbossart @lyakh i have a bit more information about this. This error (no reply expected received 0x1004200) happens only when I suspend when a playback stream is open. Basically, when playback is started it claims stream tag 1 and with 1 in use, the code loader ends up getting tag 2 which is what is seen in the IPC from the DSP (stream_tag -1 << 9). Is this acceptable? I thought stream tag 1 was

[2019-04-08 02:25] zhuyingjiang commented on #597
@wenqingfu OK, will check it today.

[2019-04-08 02:52] zhuyingjiang commented on #391
@kv2019i OK, thanks, so we can close this?

[2019-04-08 04:18] wenqingfu commented on #657
@lyakh ping~

[2019-04-08 07:51] zhuyingjiang commented on #597
@wenqingfu @ranj063 Yes, when playing a music and try to remove the module, it will return "module is in use". good job , Ranjani!

[2019-04-08 08:13] zhuyingjiang commented on #764
I have test on Up2 with PCM512x, now some time the PCM playback can recover after suspend/resume. but   still will have "underrun", not sure if it is caused by this fix.

I: [alsa-sink-Port5 (*)] alsa-sink.c: Starting playback.
D: [alsa-sink-Port5 (*)] alsa-util.c: Got POLLERR from ALSA
D: [alsa-sink-Port5 (*)] alsa-util.c: Got POLLOUT from ALSA
D: [alsa-sink-Port5 (*)] alsa-util.c: PCM state is R

[2019-04-08 08:25] mengdonglin commented on #767
@lyakh It seems your IPC commit 9c6b980 trigger this regression. Please help to work with Libin on this issue.

[2019-04-08 09:19] zhuyingjiang commented on #778
@plbossart Could you provide more info for this? before enable DSP we set the SSP as slave, am I  right? Do you mean set it via SSP control registers?

[2019-04-08 09:35] kv2019i commented on #791
Ack, working on this now.

[2019-04-08 12:00] kv2019i commented on #792
Ack, working on this.

[2019-04-08 12:35] lyakh commented on #773
@plbossart @ranj063 I pushed #799 even though the actual bug has been fixed already. With that patch snd_sof_ipc_reply() isn't called at all and therefore an error message is avoided.

[2019-04-08 13:50] mengdonglin commented on #504
Close this feature since Keqiao has verified on both GLK and WHL:
Verified the DP-MST on GLK and WHL RVP, audio works well on each monitor and the sound is clean without noise, but it can only support 2 DP monitors at most through the MST hub. The third one is not supported(black screen) due to lack of GFX support.

[2019-04-08 13:50] #504 closed

[2019-04-08 13:52] mengdonglin commented on #504
@stevyan Please add DP-MST on UP2 in our daily test when the DP-MST hub arrives in your lab.

[2019-04-08 14:03] kv2019i commented on #655
I'll go through the rationale again and reply on the upstream mailing list. I don't think we need code changes for this.

[2019-04-08 14:21] plbossart commented on #504
On 4/8/19 8:52 AM, Mengdong Lin wrote:

And share the config used please.

[2019-04-08 14:48] keyonjie commented on #773
The root cause of this issue is that the IPC interrupt handler is active during suspend-resume stage, better to fix it in the way that don't let those FW purge IPCs go into the view of the IPC interrupt handler.

[2019-04-08 18:46] kv2019i commented on #791
This seems a false alarm. I can get rid of it by having an extra local variable where to store the return value and then return it (versus return foobar()), but this has no functional impact so seems very suspect. I've been looking at the preprocessor output with and without the workaround and everything seems good. Although other drivers in kernel are using this just in the same way.
I'll continu

[2019-04-08 18:54] plbossart commented on #791
On 4/8/19 1:46 PM, Kai Vehmanen wrote:

This isn't a priority at this point, please don't waste too much time on
this. First priority is to close on Takashi's comments and IPC integration.

[2019-04-08 19:20] lyakh commented on #767
The fact, that https://github.com/libinyang/linux/commit/1db36f3dcc5b60ea8aa7f2dfd65e024c64f51e60 fixes the problem makes me think, that maybe #799 will fix it too.

[2019-04-08 20:25] wenqingfu commented on #773
I think it's hard to say which one is better, as long as we leave well written comments in the code while ignoring them. Unless there is evaluation that the effort shooting out FW purge IPC is completely waste of time on all circumstance such as working with other OSes.

[2019-04-08 21:00] kv2019i commented on #655
I wrote earlier:

Ok, it seems Takashi's email is so old that I don't have it in my local email box. It seems it is less effort to just do the patch rather than figure out a sane way to reply on the list, so here goes -> PR800 .
I used a local spinlock and tried to keep code under spinlock to a minimum so this should have minimal impact.

[2019-04-08 21:02] kv2019i commented on #792
I have a working patch for this -- took a bit of effort to figure out a way to test non-aligned accesses as sof-logger always behaves nicely and is useless for testing this. I will post a review-ready patch tomorrow, @plbossart ping me if you need this sooner.

[2019-04-09 01:26] libinyang opened #801 "[WHL] IPC timeout in some cases"
On WHL, there are some timeouts in initialization and in playback operation after apply the patch https://github.com/thesofproject/linux/pull/798

kernel: sof-dev: b5ece71

[2019-04-09 02:05] libinyang commented on #767
@lyakh Thanks. I will apply the patch and have a test.

(https://github.com/libinyang/linux/commit/1db36f3dcc5b60ea8aa7f2dfd65e024c64f51e60) fixes the problem makes me think, that maybe #799 will fix it too.

[2019-04-09 02:08] libinyang commented on #767
Add some more information:
The bug is caused that the code accepted an unknown IPC reply of a command, which is not sent by the driver. The reply interrupt happens at very beginning of the boot, before any IPC cmd is sent out. And the cmd is "0x1010e0e", which the driver will never send.
I think this may be a bug from FW or ROM. We need FW team help.

[2019-04-09 02:55] libinyang commented on #767
@lyakh
I tried your patch just now. It doesn't work. This is because:
1. cnl uses cnl_ipc_irq_thread() in cnl.c, not in hda_dsp_ipc_irq_thread() in hda-ipc.c as the thread.
2. should not use HDA_DSP_REG_HIPCI_MSG_MASK to get the message cmd. The register is used for the cmd id, not cmd type.

[2019-04-09 06:19] libinyang commented on #767
fix my previous comment: it seems the purge cmd is using the HDA_DSP_REG_HIPCI_MSG_MASK. However, the msg shows to be 0x0. And read from the mailbox, it shows the cmd is: 0x1010e0e.

[2019-04-09 06:44] lyakh commented on #767
@libinyang ok, thanks for testing. Sorry, I didn't realise, that WHL was using CNL. And I didn't find a full kernel log in this message, so, I couldn't check what message was actually coming from the DSP. But yes, it should be easy enough to filter out this specific message and you're right, we have to understand what it is and why it is coming.

[2019-04-09 06:53] libinyang commented on #767
@lyakh Yes. And I found that in the old code, we do meet the unknown IPC too. The code can handle this situation and complain “error: no reply expected, received xxx” and ignore this msg. So I think we can do like the old code that we ignore the message.

[2019-04-09 07:00] lyakh commented on #767
@libinyang yes, so, basically we could take the first part of your work-around, that you referenced here (its second part seems to be a left-over and unrelated), just replace the word "suspicious" with "spurious." Maybe even make that a dev_err() to raise the chance of us looking at every such case and checking it. But I also think we should also avoid calling hda_dsp_ipc_get_reply() like hda_dsp_

[2019-04-09 17:06] wenqingfu commented on #801
The issue report is done badly. Can you please close and open a new one at least with dmesg/logger? If all you have is "I have some issue", what's the value of opening an issue and attracting others' attention?

[2019-04-09 17:23] #655 closed

[2019-04-09 17:35] #764 closed

[2019-04-09 17:37] plbossart commented on #792
@kv2019i I'd like this code to be merged tomorrow, can you post it as soon as possible? It's one of the last two review comments.

[2019-04-09 17:38] plbossart commented on #793
@juimonen can you confirm you are looking into this, I'd like this to be fixed by tomorrow so that we can spend a v6 upstream by the end of the week. Thanks!

[2019-04-09 17:46] juimonen commented on #793
@plbossart I've been debugging the byt noise issue for couple of days... so not done anything for this. However if this is just underflow check I can see what I can do

[2019-04-09 17:50] kv2019i commented on #792
@plbossart

Ack, working on this still, not yet ready for review (functional issues after I rewrote it in a nicer looking patch). I'll try my best to get a version for review still today.

[2019-04-09 20:00] juimonen commented on #669
@michalgrodzicki can you assign to someone in firmware team to check if this is just valid out of memory error or something else?

[2019-04-09 20:29] ranj063 commented on #767
@libinyang @lyakh I have a dumb suggestion to try. Basically, we're getting a reply from the DSP when not expecting it and in this case sdev->msg is NULL. Can we simply ignore this like this:

[code]

[2019-04-10 00:56] libinyang commented on #767
@ranj063 Yes, I think this should be a right direction. And maybe we need add some warnings.

[2019-04-10 01:14] libinyang commented on #801
@wenqingfu When I firstly boot up, I met the timeout issue in initialization. And I found the playback is timeout. At first, I think they are the same issue. So I reported the issue contains 2 issues actually. And after Bard debugged, he found that they are different bugs. So I will file a bug for the playback timeout later. And I will paste the log when I report the issue. The other initializatio

[2019-04-10 01:48] ranj063 commented on #767
@libinyang these should be info rather than warnings I think.

[2019-04-10 02:06] libinyang commented on #767
@ranj063 OK, I will use the info. Thanks for the suggestion.

[2019-04-10 02:19] xun2z commented on #767
@ranj063 @libinyang Simply return from irq thread may not be a good solution here, this may cause a deaklock. I enabled deadlock debug in kconfig.

[code]

[deadlock.txt](https://github.com/thesofproject/linux/files/3061702/deadlock.txt)

[2019-04-10 02:31] ranj063 commented on #767
@xun2z good point. Yes, we need to spin_unlock* before we return.

[2019-04-10 02:33] libinyang commented on #767
or We just move the check before spin_lock

[2019-04-10 02:33] libinyang commented on #767
After second thought, maybe in the lock is better. Let me have a check of the source code.

[2019-04-10 02:35] xun2z commented on #767
OK, i see the cause.

[2019-04-10 02:38] stevyan commented on #571
**Summary:**
this issue cannot reproduce with origin test steps on APL with PCM512x.

**Test env:**
build date: 20190410
sof master: ed6ac05f
kernel sof-dev: f0ce2c52
tplg: sof-apl-pcm512x.tplg

[2019-04-10 07:11] libinyang commented on #767
A formal patch is at: https://github.com/thesofproject/linux/pull/807
With this patch, the new kernel behavior is the same as the old kernel.

I didn't check suspicious the ipc reply interrupt now as the old kernel, and the function snd_sof_ipc_reply() will check it.

I can add the code to check the suspicious the ipc reply interrupt in hda_dsp_ipc_get_reply(), but I don't think it is necessary. W

[2019-04-10 07:22] #801 closed

[2019-04-10 07:29] libinyang opened #808 "[BYT][ipc position update feature]IPC timed out when stop playback"
kernel: 75d88bd1 + patch  #807 (fix NULL pointer)
sof: 1:1:0-cbbc6

When playback, press ctrl+c to stop (or wait for playback finish) the playback, the ipc timeout will happen.
dmesg:
[   62.081405] sof-audio-pci 0000:00:1f.3: ipc rx done: 0x600a0000: GLB_STREAM_MSG: POSITION
[   62.124326] sof-audio-pci 0000:00:1f.3: ipc rx: 0x600a0000: GLB_STREAM_MSG: POSITION
[   62.124400] sof-audio-pci 0000:0

[2019-04-10 07:37] libinyang commented on #808
[dmesg.txt](https://github.com/thesofproject/linux/files/3062529/dmesg.txt)

[2019-04-10 07:56] libinyang commented on #801
https://github.com/thesofproject/linux/issues/808 is created instead of the issue.

[2019-04-10 08:06] lyakh commented on #767
@ranj063 that's what the old patch was doing (almost, it was also releasing the spinlock, I think)
**edit** actually it was doing that check before taking the spinlock.

[2019-04-10 08:29] kv2019i commented on #391
@zhuyingjiang wrote:

Better of course if we could get ack from @plbossart , but considering he is very busy atm, I think we can trust my tests and close this. I now got HDMI working (in general) as well and I retested this today on my UP2 board and could not trigger the error Pierre described.

[2019-04-10 08:29] #391 closed

[2019-04-10 09:11] Jiangxinx opened #809 "[BUG][APL] Fail to boot firmware when testing load/unload with playback on APL UP^2 NOCODEC platform."
***Summary***
fail to boot firmware  when testing load/unload with playback on APL-UP2-nocodec.
Dmesg is null,sof-logger can not be used as firmware is unload.

***To Reproduce***
1.aplay -Dhw:0,0 -fs16_le -c2 -r 48000 /dev/zero & sudo ./sof_bootloop.sh 100

***Screenshots or console output***
[code]

***Environment***
sof master: 18d116b
kernel sof-dev: b5ece71d
tplg: sof-apl-nocodec.tplg

[2019-04-10 09:13] libinyang commented on #767
https://github.com/thesofproject/linux/pull/807 is updated. Please have a check.

[2019-04-10 16:14] #793 closed

[2019-04-10 23:16] stripes416 commented on #234
@keyonjie I've tested this on my up2 board to see if this is still an issue (per @ranj063 recommendations) I'm not seeing the issue you mentioned, but full disclosure, I couldn't replicate the issue as described either.

I tested sof-apl-pcm512x.tplg from latest topic/sof-dev built with and without HDA.

I've included two files - each containing data from one of the runs:
dmesg logs + the output f

[2019-04-10 23:52] wenqingfu commented on #809
Is this a regression? can you please help to bi-sect?

[2019-04-10 23:59] ranj063 commented on #809
@wenqingfu @Jiangxinx this isnt a bug but a feature isnt it? We recently made the change to disallow module unloading during playback/capture.

[2019-04-11 00:42] ranj063 commented on #808
@libinyang whats surprising in the attached logs is that even after the STOP trigger ipc fails, the PCM_FREE ipc succeeds right after followed by the CTX_SAVE.

[2019-04-11 01:27] keyonjie commented on #808
@libinyang please attached sof-logger logs also.

[2019-04-11 02:25] libinyang commented on #808
@ranj063 Yes, I think there may be something wrong to handle STOP in driver or FW. It seems to be just the STOP related.

[2019-04-11 06:21] bardliao opened #812 "[WHL] output sound is choppy if we play with paplay"
kernel: f0ce2c52a7d37b22cb75ee7cf537eb067a34445b and cherry-pick  4b3555a886f990a66182d6f041f0cdda0f95aca1 + 75d88bd1124aac120980926d1a45048d738a3574
FW: https://github.com/thesofproject/sof/commit/ed6ac05f6b884b5aa5597bf739fc97527bdab909 and revert https://github.com/thesofproject/sof/commit/f5e78430ff3dbbe8bcceca5f0f4f1fa86bbd78b8

We can see a lot of log with same DMA and DAI position.
[code]
I

[2019-04-11 07:42] zhuyingjiang commented on #776
I think this has already been supported.

[2019-04-11 08:29] #486 closed

[2019-04-11 10:19] juimonen commented on #669
@abonislawski @dabekjakub I saw you we're doing something with fw memory... could you check this issue from fw side?

[2019-04-11 10:38] keyonjie commented on #234
@stripes416 @zhuyingjiang the issue happened at when there is no hdmi/idisp pcm defined in tplg file, it was firstly found by @bardliao iirc, Bard and Libin did some work on that, I am not sure if it is already fixed in the latest code base, Can you comment out these in sof-apl-pcm512.m4 and retry if you can enter suspend?

[code]

[2019-04-11 11:12] zhuyingjiang commented on #234
I verified on Up2 with sof-apl-pcm512x-nohdmi.tplg, the Up2 can normally do suspend/resume. So we can close this issue.

[2019-04-11 11:12] #234 closed

[2019-04-11 11:14] keyonjie commented on #234
good, thanks @zhuyingjiang and @stripes416

[2019-04-11 14:10] #767 closed

[2019-04-11 14:16] #792 closed

[2019-04-11 14:41] xiulipan commented on #808
@tlauda @ranj063 @plbossart @lgirdwood
Today I checked with @xun2z about this issue on byt.
It should be some issue only happen with IPC position update feature enabled platform.
EG: BYT: legacy;  WHL: Timer driven HDA ( @tlauda @keyonjie @bardliao I think for I2S playback there will be no IPC postion update on APL or WHL?)

Here is the analysis from dmesg
[code]

To check more detail, we find the

[2019-04-11 14:45] tlauda commented on #808
@xiulipan I don't know what is the problem on WHL, but on BYT we are simply exceeding ipc timeout. If I'm not wrong it's currently set to 0.3 ms, but even with my patch for dw-dma stop it takes around 0.34 ms to stop dma channel.

[2019-04-11 14:57] xiulipan commented on #808
@tlauda
Actually the IRQ comes. but can not wake the irq_thread. Please see my analyze above.
Something inside ALSA layer block the previous irq_thread.

[2019-04-11 14:58] xun2z commented on #808
@tlauda I did a lot of work-around on sof and also tried to take off "dw_dma_stop", the timeout still exist, so the root cause is not on firmware. Increasing ipc_time_out value does not help

[2019-04-11 17:35] stripes416 commented on #234
@zhuyingjiang & @keyonjie Thanks!

[2019-04-11 18:13] fredoh9 commented on #616
the PR #721 moved to [DO NOT MERGE] for now. This will be handled in bigger scope. More details are in the PR thread.

[2019-04-11 21:32] fredoh9 commented on #809
I'm able to load/unload sof modules while they are not used in multiple time. My build is yesterday's tip.
When used like in playback rmmod throws error MODULE is used by a Device/Driver.

[2019-04-12 01:11] bardliao commented on #812
This issue can be seen on both WHL HDA and I2S mode, but I can't reproduce it on Up2 (APL).

[2019-04-12 01:13] stevyan opened #820 "[CML][HDA] Kernel panic when tried to play sound more than 3 times via HDMI"
**Summary**
Kernel panic when tried to play sound more than 3 times via HDMI (hw:0,3)

**To Reproduce**

1. aplay -Dhw:0,3 -f dat
2. ctrl + c
3. repeat 1,2 more than 3 times

**Actual behavior**
Kernel panic occurred.

**Environment**
Kernel: [rander/cml-validation-branch](https://github.com/RanderWang/linux) (topic/sof-dev 58d1b6b12af0875843bcc5079d0cc841c6978477 + [issue 767 regression fix](http

[2019-04-12 03:05] Jiangxinx opened #822 "[BUG] kernel reporting bug when using same major ABI with different minor ABIs"
***Summary***
Error: Incompatible ABI version on all platforms,and failed to load DSP topology.

***To Reproduce***
1.aplay -l

***Screenshots or console output***
aplay: device_list:270: no soundcards found...

***Environment***
sof master: 6a9b90ba
kernel sof-dev: 46c2b852
tplg: sof-apl-pcm512x.tplg & sof-apl-nocodec.tplg & sof-byt-rt5651.tplg

***Dmesg***
[code]

***Log file***
[dmesg.log](http

[2019-04-12 03:46] stevyan opened #825 "[BUG][CML][HDA] arecord failed with i/o error on CML HDA codec."
**Summary**
arecord failed with i/o error on CML HDA codec.

**To reproduce**
1. arecord -Dhw:0,0 -f s32_le -r 48000 -c 2 test.wav
2. arecord -Dhw:0,1 -f s32_le -r 48000 -c 2 test.wav

**Actual output**
read error: Input/output error

**Environment**
Kernel: [rander/cml-validation-branch](https://github.com/RanderWang/linux) (topic/sof-dev 58d1b6b12af0875843bcc5079d0cc841c6978477 + [issue 767 regr

[2019-04-12 05:52] keyonjie commented on #808
@xiulipan how did you know about this? are you saying handling to A is blocking at snd_pcm_update_hw_ptr0?

[2019-04-12 06:33] libinyang commented on #820
From the dmesg, the position update mode is wrong. This may cause many bugs. So we must fix the position update mode issue firstly.

[2019-04-12 06:34] libinyang commented on #820
We should use xPIB mode instead of IPC position update.

[2019-04-12 07:12] bardliao commented on #820
@libinyang @keyonjie It seems https://github.com/thesofproject/linux/pull/826 also fix this issue

[2019-04-12 07:23] dabekjakub commented on #669
We will try to set up this topology and check what is happening - however first question - what is the requirement here ? How many streams should we support ?

[2019-04-12 07:28] juimonen commented on #669
@dabekjakub good question and I don't have answer... So my point was that see are we really running out of memory or it is some corruption etc. If we run out of memory we can decide what to do...
Also I don't have so much history to tell if this has worked before.

@lgirdwood @plbossart how many streams should we support?

[2019-04-12 07:29] stevyan commented on #820
it can be fixed by #826.

[2019-04-12 07:29] #820 closed

[2019-04-12 07:56] xiulipan commented on #808
@keyonjie
@xun2z add a lot of logs and analysis from the timestamp.
Could @xun2z upload some here?
BTW, I think with #826. WHL will not have this issue.

[2019-04-12 08:34] keqiaozhang opened #828 "[BUG] ASoC: cpu DAI prepare error on GLK"
**Describe the bug**
ASoC: cpu DAI prepare error when loading tplg.

**To Reproduce**
This issue happens at boot stage.

**Expected behavior**
Tplg load successful.

**Impact**
backend prepare failed -22

**Environment**
1) Kernel: origin/topic/sof-dev-46c2b852
    Firmware: origin/cml-003-drop-stable-4731a1
2) tplg name：sof-glk-da7219.tplg
3) GLK Chromebook.
4) Reproducibility Rate：100%

**Screen

[2019-04-12 08:41] xiulipan commented on #828
@ranj063
I had a quick look and the -22 should be returned form following code, right?
https://github.com/thesofproject/linux/blob/46c2b852b448d5bd6b054b60da0e59c5b7720d05/sound/soc/sof/intel/hda-dai.c#L168-L179

If `snd_sof_find_spcm_dai` is not designed for find BE, why we are using it here?

[2019-04-12 08:50] keqiaozhang opened #829 "tplg load failure on WHL-I2S"
Failed to load tplg on WHL.

dmesg:
[code]
Test recipe:
Kernel: origin/topic/sof-dev-46c2b8
Firmware: origin/cml-003-drop-stable-4731a1
Platform: whl
[dmesg-whl-tplg-failure.log](https://github.com/thesofproject/linux/files/3072412/dmesg-whl-tplg-failure.log)

[2019-04-12 08:56] xun2z commented on #808
[code]

[code]

[2019-04-12 09:01] jajanusz opened #830 "Log LEC and trace point"
Currently driver just logs FSR from window 0. Please dump also 2 next registers:
Last Error Code - Window 0 + (0x4)
Trace Point - Window 0 + (0x8)

[2019-04-12 09:04] keqiaozhang commented on #828
Add more logs
[code]

[code]

[2019-04-12 09:21] keqiaozhang commented on #829
Confirmed that this issue is fixed with latest firmware/tplg.
SOF/tplg: origin/master- 6a9b90b

[2019-04-12 09:21] #829 closed

[2019-04-12 09:38] keqiaozhang commented on #820
This issue can not be reproduced on GLK.

[2019-04-12 10:44] mengdonglin commented on #774
@emilchudzik We will share you a working recipe next Monday. Too many updates today

[2019-04-12 10:54] stevyan opened #831 "[CML][HDA] arecord cannot record any signal from onboard DMIC"
**Summary**
 arecord cannot record any signal from onboard DMIC

**To Reproduce**
1. arecord -Dhw:0,6 -f s32_le -r 48000 -c 2 /dev/null -vv -i
2. arecord -Dhw:0,7 -f s16_le -r 48000 -c 2 /dev/null -vv -i

**Actual Result**
[code]
[code]

**Expected Result**
1. ############+                         | 48%
2. #################+              | 75%

**Environment**
HW Platform: CML laptop with ALC3204

[2019-04-12 13:25] libinyang commented on #767
@Jiangxinx Can this issue be closed?

[2019-04-12 13:56] singalsu commented on #831
@RanderWang If the capture produces no data I think the DMIC addr, DMA and IRQ settings should be checked for this platform. Do you have the documentation (I don't have myself)?

@stevyan Just a minute, I misinterpreted the "######" thing. Is it the arecord VU meter output? If it means that arecord captures a recording normally but the PCM samples are zeros it's an issue with the microphones (powe

[2019-04-12 14:46] ranj063 commented on #828
@xiulipan ack. working on it. will get back asap.

[2019-04-12 15:06] keyonjie commented on #808
so this trigger stop is initiated by ALSA, maybe xrun happen here. need debug into  snd_pcm_update_state() for more infos.

we can check from fw logs about this, but the issue above may be more worthy to check, that may be common issue for IPC position update.

[2019-04-12 15:12] plbossart commented on #669
On 4/12/19 2:28 AM, juimonen wrote:

We have 6 SSPs so in theory we could use 6 playback streams.
We reduced to 4 due to a limitation in the number of DMA channels.
So the ask is really to clarify what firmware can do instead of failing
miserably on the 4th stream. If there is a strong technical reason why
4ch can't be supported we'd need to know. If however it's a bug then it
needs to be fixed.

[2019-04-12 15:17] sathyap-chrome opened #832 "S3 entry results in panic with sof kernel"
On CML, when SOF driver was loaded and DSP fw was not loaded (different issue)
The backtrace is as below. let me know if there is a quick fix i can try to quickly unblock other tests.

get the following crash when I attempt suspend_stress_test -c1

[code]
I will see if the same thing happens with S3

SEEN ON : CML Chrome platform
SOF REL : v0.2

[2019-04-12 15:56] mengdonglin commented on #831
@singalsu Can this information "DMIC addr, DMA and IRQ settings" usually get by dumping ACPI info from BIOS or some audio design document?

[2019-04-12 16:00] naveen-manohar opened #833 "CML: Repeatedly switching from speaker-headset-speaker... results in DSP Panic"
During Speaker playback, repeatedly switching to headset and back to speaker, within 10 iterations hit following dsp panic error.

Test Steps:
On v0.2 recipe
1. Play audio in speaker
2. Plug 3.5mm headset jack to observe audio routing to hs
3. now in UI system tray, change the end-point node selection to speaker and back to headset repeatedly..
Observation: Within 10 iteration of step#3 DSP panic

[2019-04-12 16:05] singalsu commented on #831
@mengdonglin The platform audio cluster programming guide usually contains these, I don't have the document for CML. I probably made the mistake by assuming that nothing is captured. I thought the #### characters in the reported error would be some progress bar (time) but I learned from arecord manual it's a level meter meter instead (-vv option).

If the capture data flows but remains zero the la

[2019-04-12 16:08] naveen-manohar commented on #833
moved to sof - https://github.com/thesofproject/sof/issues/1261
making this tracker obsolete

[2019-04-12 16:08] #833 closed

[2019-04-12 20:28] stripes416 commented on #780
@ranj063 How can I reproduce this? Are you using GLK?

[2019-04-12 20:46] ranj063 commented on #780
@stripes416 you can reproduce this error is by introducing a fake error in all the load callbacks in topology.c and see if we hit the null pointer dereference when the tplg is unloaded because of the error.

[2019-04-12 21:44] stripes416 commented on #780
@ranj063 Thanks!

[2019-04-12 23:10] libinyang commented on #808
@xiulipan If my understand is right, this bug should be fixed after applying https://github.com/thesofproject/linux/pull/826, right?

[2019-04-13 00:06] wenqingfu commented on #808
at least not for BYT

[2019-04-13 13:15] libinyang commented on #828
it seems the regression of https://github.com/thesofproject/linux/pull/795?

[2019-04-14 23:46] xiulipan commented on #808
@libinyang @wenqingfu
If WHL is not using IPC position update anymore. It will not be influenced by this bug. Se we can remove the [WHL] now.

@keyonjie
Do you notice that is bug is happen when we try to do the stop? So the stop is actually triggered by our own. But we will get the stop IPC into timeout, I think we may face some state manager problem with ALSA when we try to stop the ppl.

[2019-04-15 00:12] xiulipan commented on #832
@sathyap-chrome
Duplicate of #505 #494
This is fixed with https://github.com/thesofproject/linux/pull/619

[2019-04-15 00:47] sathyap-chrome commented on #832
Thanks.

[2019-04-15 01:28] libinyang commented on #808
@xiulipan So they are different bugs. Is the dmesg similar with the dmesg I attached? If not, could you please attach the dmesg? I saw the dmesg you attached still contains the IPC position update information.

[2019-04-15 01:46] xun2z commented on #808
@xiulipan yes, the final traced function is `substream->ops->trigger(substream, SNDRV_PCM_TRIGGER_STOP);`
[code]
[code]

the trace route is:
`irq_thread -> snd_sof_ipc_msgs_rx -> ipc_stream_message -> ipc_period_elapsed -> snd_pcm_period_elapsed ->snd_pcm_update_hw_ptr0->snd_pcm_update_state->snd_pcm_drain_done->snd_pcm_action_single->snd_pcm_do_stop`
final: `substream->ops->trigger(substream, SND

[2019-04-15 03:12] zhuyingjiang commented on #809
I think this is a expected new feature, not a bug.

[2019-04-15 03:44] stevyan commented on #831
It doesn't reproduce, only recorded with very level volume.
For DMIC2(hw:0,7), the record rate cannot set 16K correctly, risk new issue will track it.

[2019-04-15 03:44] #831 closed

[2019-04-15 06:12] keqiaozhang opened #835 "SOF modules reloading failure"
**Describe the bug**
Failed to set intel-hdmi-hifi2 hw params when unloading the sof modules

**To Reproduce**
$: ./sof_remove.sh
This script can be found in:
https://github.com/thesofproject/sof/blob/master/tools/kmod_scripts/sof_remove.sh

**Expected behavior**
SOF modules can be unloaded/reloaded repeatedly.

**Impact**
ASoC: can't set intel-hdmi-hifi2 hw params: -19

**Environment**
1) Kernel:

[2019-04-15 07:58] keqiaozhang commented on #835
This issue may related to #828 , but need developer to double confirm it.

[2019-04-15 10:09] stevyan opened #836 "[CML][HDA] arecord cannot record the 48K rate audio correctly with DMIC16"
**Summary**
arecord can record the sound with following parameters (channel: 2, fmt: s16_le, rate: 48000), and no error occurred during the recording phase.
But when try to playback the record wav with the same parameters, the sound changes to very sharp, likes frequency has changed.

**To Reproduce**
1. arecord -Dhw:0,7 -f s16_le -r 48000 -c 2 test.wav -vv -i
2. aplay -Dhw:0,0 -f s16_le -r 48000

[2019-04-15 10:30] stevyan opened #837 "[CML][HDA] Kernel panic when tried to remove sof module (sof_pci_dev)"
**Summary**
Kernel panic when tried to remove sof module.

**To reproduce**
1. sudo rmmod sof_pci_dev

**Actual result**
Kernel Panic

**Test recipe**
Kernel: 2de29fae6 [thesofproject/linux: topic/sof-dev] +[RanderWang/linux: cml-validation-20190415] d04ccf494 + bfb0729dd + 8a2b13a81 + 63ceb8f68 + db89510d0
Firmware: https://github.com/bardliao/sof/commit/00bbb113d0a99c56958f5eadb498424b8bef8c67 +

[2019-04-15 10:42] emilchudzik commented on #774
With this env I can play using aplay, but there is and issue with pulse audio. Please check: https://github.com/thesofproject/sof/issues/1254#issuecomment-483200302

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/linux: cml-validation-20190415]
+8a2b13a81 [RanderW

[2019-04-15 11:02] dabekjakub commented on #669
We will be trying to reproduce it tomorrow.

[2019-04-15 11:25] emilchudzik commented on #825
@stevyan could you add more detailed steps to reproduce it on linux? Did you use some loopback on codec or external loopback? Where does the music go to the arecord in your test?

[2019-04-15 12:12] emilchudzik commented on #825
I have repro on linux env:

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/linux: cml-validation-20190415]
+8a2b13a81 [RanderWang/linux: cml-validation-20190415]
+63ceb8f68 [RanderWang/linux: cml-validation-20190415]
+db89510d0 [RanderWang/linux: cml-validation-20

[2019-04-15 13:15] lgirdwood commented on #822
@Jiangxinx this is incorrectly being reported as a bug by the kernel. I've updated the title.
@plbossart fyi.

[2019-04-15 13:17] lgirdwood commented on #822
@bardliao only major ABI updates are incompatible. Minor ABI version changes are backwards compatible. Can you fix this error handling in the kernel.

[2019-04-15 13:45] wenqingfu commented on #836
still worth attaching a dmesg log. @stevyan  thanks.

[2019-04-15 14:31] mengdonglin commented on #828
Can be fixed by PR #834, waiting for fixing CI error and getting merged.

[2019-04-15 15:30] xiulipan commented on #808
@libinyang
Yes, the bug for IPC STOP timeout is related to the IPC position update.

[2019-04-15 15:36] ranj063 commented on #822
@lgirdwood the check for minor ABI was intentional in the kernel as even minor ABI updates could require new tokens in the tplg that may not have previously existed.

[2019-04-15 16:16] juimonen commented on #808
@xiulipan @libinyang when aplay gets ctrl-c alsa core is immediately put PCM_STATE_SETUP and pcm_stop is called. We still get position update which will notice the state change and call stop again. However now we are in irq handler and we have not yet called byt_host_done. So we are waiting for stop response with busy bit enabled (so not accepting messages).

[2019-04-15 18:28] wenqingfu commented on #835
@ranj063 can you confirm if it's the same regression from #828 that can be fixed by your PR #834 ?

[2019-04-15 19:06] ranj063 commented on #835
@wenqingfu I dont have a glk runnign ubuntu. @fredoh9 has offered to do the test this afternoon. Thanks Fred

[2019-04-15 20:42] juimonen commented on #808
@xiulipan correction to above: aplay ctrl-c causes "drain" before stop. We don't do anything to drain, but the stream goes to draining state. Now the position update comes, and because we are at state "draining" it calls stop. pos update + stop is ran in irq handler and we have busy bit enabled-> hence the timeout. The another stop caused by aplay comes later, but error has happened.

I'm not sure

[2019-04-15 20:54] plbossart opened #838 "ICL/nocodec: IPC errors and FW boot fail"
Kernel: 2de29fae6a2dadda3eb084023be2167be85115e1 ('ASoC: SOF: cnl: add pointer ops to use DPIB position')
Firmware: e14ab7088bf4673f43396f02490f717f69de0de9 ('tools: logger: fix parsing of -s argument')
topology: sof-icl-nocodec.tplg

dmesg log:
[code]

I used nocodec since I am getting i915 errors otherwise.

Am I the first one to test this? @bardliao @libinyang I thought you had tested on ICL?

[2019-04-15 20:56] ranj063 commented on #838
@fredoh9 had also tested ICL at some point I think

[2019-04-15 21:07] plbossart commented on #838
FWIW, I am getting a similar issue with the kernel sof-dev-upstream-v5-patches, so the firmware hasn't booted on ICL for a solid month.

[code]

[2019-04-15 21:32] plbossart commented on #838
same with integration/sound-trigger from early March.
[code]

[2019-04-15 22:08] xiulipan commented on #808
@juimonen
Thanks for analysis, that should be the root cause. @xun2z
I will also check the code for more detail.

@lgirdwood @plbossart
Any idea about the right sequence about handling this situation.

[2019-04-15 22:10] xiulipan commented on #838
@plbossart

You need to inject the OEM key into the BIOS or use some other BIOS.

@fredoh9
This is what I have talked to you about enable platforms.

[2019-04-15 22:42] fredoh9 commented on #835
I tested HDMI playback(HW:0,5) with kernel tip and with Ranj's PR. I still see "failed -19" with Ranj's fix also. Attached two logs.

[glk_0415_kernel_tip.log](https://github.com/thesofproject/linux/files/3082309/glk_0415_kernel_tip.log)
[glk_0415_ranj_fix.log](https://github.com/thesofproject/linux/files/3082310/glk_0415_ranj_fix.log)

[2019-04-16 01:01] xiulipan commented on #835
@fredoh9

This means you have wrong config or wrong hw connection to the monitor. So the hdmi-codec is not find.

[2019-04-16 01:51] stevyan commented on #836
Attach the dmesg log as reference.

[arecord_dmesg.log](https://github.com/thesofproject/linux/files/3082678/arecord_dmesg.log)

[2019-04-16 02:32] keqiaozhang commented on #835
@xiulipan
You are right, this error is caused by the wrong amixer setting for HDMI. It can be fixed by
[code]
After this, sof modules can be unloaded. But it run to another error when reloading sof modules:
[code]
Bug title is revised to modules reloading.
[dmesg.log](https://github.com/thesofproject/linux/files/3082759/dmesg.log)

[2019-04-16 05:40] Jiangxinx commented on #808
This issue can still be reproduced on daily test version.
***Step***
1.aplay -Dhw:0,0 audio.wav
2.ctrl+c

***Env***
sof master: 1b15fad8
kernel sof-dev: 2de29fae(compiled with PR #823 )
tplg: sof-byt-rt5651.tplg

[2019-04-16 08:12] lgirdwood commented on #822
@ranj063 new or unknown tokens should just be ignored by kernel. The point is that the new feature will work as long as both minor versions are compatible but existing features will work regardless (as long as major ABI is compatible).

[2019-04-16 08:34] emilchudzik commented on #825
I have no issue with #PR 1269 applied on the current sof master branch without reverting any others commits. Arecord works without I/O errors.

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/linux: cml-validation-20190415]
+8a2b13a81 [RanderWang/linux: cml-validat

[2019-04-16 08:53] lgirdwood commented on #822
@xiulipan to fix this you need

1) Dont fail on minor ABI differences.
2) Dont fail on unknown DAI types
3) Dont fail on unknown component types (not below)
4) Delete any pipeline that fails to complete

1,2 and 4 are below. Need a separate patch for each. Build tested only.

[code]

[2019-04-16 09:44] bardliao commented on #822
@ranj063 @plbossart I tried to add new dai token in topology and kernel. Firstly, I checked the value of comp_dai.reserve to make sure my patch works. Secondly, reverted the patch on kernel side and confirmed the topology will ignore it without error. So I think it's fine if we only check ABI major version in topology. And it's FW's duty to make sure it's backward compatible if ABI major version i

[2019-04-16 11:08] mengdonglin commented on #776
@plbossart  Can this issue be closed?

[2019-04-16 11:15] mengdonglin commented on #812
Closed since PR #826 is merged and can fix this issue

[2019-04-16 11:15] #812 closed

[2019-04-16 11:16] plbossart commented on #822
On 4/16/19 3:53 AM, Liam Girdwood wrote:

Sorry mate, I don't agree here.

You are essentially removing all error checks on the grounds that a
'minor' ABI needs to be tolerated, without a discussion on what 'Minor'
means.

If you pass a topology that contains stuff that the kernel cannot
functionally handle, there is no point in continuing the parsing. The
solution will be broken anyhow, the user

[2019-04-16 11:34] plbossart commented on #776
I'd like a comparison with the Skylake driver (including non-upstreamed parts). The ask for all this was to doubled-check what was done in the past and make sure all known recommended sequences are supported by SOF.

[2019-04-16 13:34] singalsu commented on #836
You should try with command

`time arecord -Dhw:0,7 -f s16_le -r 48000 -c 2 test.wav -d 10 -vv -i
`

If time reports something else then the 10 seconds duration for arecord then the used sample rate wasn't what was requested.

Probably the recording happened with 16 kHz since the second DAI is usually configured in topology for 16 kHz rate. Also attaching the recorded test.wav file would be nice i

[2019-04-16 15:43] xiulipan commented on #808
@Jiangxinx Not fixed on BYT (only IPC position update user).
Please help to check if any more issue if PulseAudio is enabled.

[2019-04-16 16:18] xiulipan commented on #822
@plbossart @lgirdwood
My suggestion here it to revert the ABI changes on SOF first. And have some discussion about how should we deal with the ABI changes. And then make some written-down rules or guides for ABI and make somebody( I will be volunteer if nobody want. I do not want to see chaos like this anymore caused by ABI) to have manual test to make sure every ABI change is fully reviewed and c

[2019-04-16 20:48] wenqingfu commented on #832
resolved? @sathyap-chrome

[2019-04-17 06:45] stevyan commented on #836
[code]

[2019-04-17 06:57] libinyang commented on #836
DMIC only supports 16KHz. It doesn't support 48KHz because of the HW/FW limitation.

[2019-04-17 07:44] juimonen commented on #808
@plbossart could we just change all period_elapsed calls to be deferred (despite the stream state)? So could there be some critical delay to userspace position reporting? The code would be much cleaner and we could be sure not to hit timeout with ipc... looking at pcm_lib.c snd_pcm_update_state() we just can't rely solely on stream state if there's stop coming or not. for e.g. xrun will issue stop

[2019-04-17 08:57] lgirdwood commented on #822
Yes there is, I agree the pipeline that contains the new feature will not exist, but other pipelines/components should still be created without failing big. The implications for failing big are no audio whilst there may be audio if we can continue (depending on topology).

Yes this will happen, there will be error/warnings in the log showing the ABI delta and missing components. The end result is

[2019-04-17 10:35] bardliao commented on #837
I found that the ehdaudio0D0 kobj is removed twice and kernel will crash in the second remove. I am trying to figure out why it is removed twice.

[2019-04-17 12:25] kv2019i commented on #452
Hello, I now pushed initial patchset to address this issue (PR841). I ended up taking a slightly different path than what you've discussed earlier, so please check the code and see whether this is on the right track or not.

[2019-04-17 15:49] plbossart commented on #822
@lgirdwood So you are essentially saying that we never use the MAJOR version and never check for MINOR versions either. Why do we have an ABI check then? Nothing is ever incompatible in your description.

[2019-04-17 15:52] plbossart commented on #822
I will also argue that someone using a firmware+topology more recent than the kernel does not fall in the category of 'we don't break userspace'. The only compatibility we care about is people updating the kernel and working with older firmware+topology. The case of using a firmware+topology more recent than the kernel is maybe valid for developers, certainly not for distros.

[2019-04-17 16:24] wenqingfu commented on #837
:sweat:

[2019-04-17 16:26] wenqingfu commented on #838
is it clarified? @plbossart  anything can be translated into a PR or close this issue?

[2019-04-17 16:39] wenqingfu commented on #809
close as "not a bug". thanks for reporting though, @Jiangxinx

[2019-04-17 16:39] #809 closed

[2019-04-17 16:45] wenqingfu commented on #825
UPDATE: confirmed codec bug on one particular CML platform

[2019-04-17 16:47] ranj063 commented on #837
@bardliao looks like we call 	snd_hdac_ext_bus_device_remove(bus) in hda_dsp_remove() first which removes the codec devices already. The second one seems to be coming from snd_hda_codec_dev_free(). I havent verified but thats my guess.

[2019-04-17 16:49] ranj063 commented on #837
my hunch is maybe we should do something like this:
[code]

[2019-04-17 16:50] wenqingfu commented on #832
close the issue

[2019-04-17 16:50] #832 closed

[2019-04-17 17:03] wenqingfu commented on #715
still an issue? @bardliao

[2019-04-17 17:23] plbossart commented on #838
no. It's not clear if my board has the right key and/or if the SOF signing actually works.

[2019-04-17 20:03] plbossart opened #844 "ABI/topology: fail at pipeline level instead of at elementary component level"
Since we allow MINOR ABI changes to add new components (DAI types/processing elements), the topology parsing need to ignore unknown DAIs, components or tuples.

It will not instantiate pipelines which contain unsupported elements (no IPC required) and will delete any pipeline that fails to be instantiated by the FW during the PIPELINE_COMPLETE IPC. i.e. pipeline is deleted in FW and in driver DAPM

[2019-04-17 20:50] #822 closed

[2019-04-18 00:42] xiulipan commented on #838
@plbossart
The 0x8000012 the error message the key is invalid.
@bardliao @stevyan @DarrenxWang
Could you help to check if current code work on ICL RVP. Only boot test is needed

[2019-04-18 04:03] wenqingfu commented on #597
fixed by #785 #786 #788

[2019-04-18 04:03] #597 closed

[2019-04-18 05:05] wenqingfu commented on #774
original issue is gone. new symptom points to thesofproject/sof#1254

[2019-04-18 05:05] #774 closed

[2019-04-18 05:09] wenqingfu commented on #712
According to @plbossart 's explanation, not an issue, @singalsu ? If so, please close it.

[2019-04-18 10:25] bardliao commented on #837
@ranj063 Indeed, the first snd_hdac_device_unregister() is called by snd_hdac_ext_bus_device_remove() and the second one is from snd_hda_codec_dev_free(). But, I think we still need to call snd_hdac_ext_bus_device_remove() since it will also remove hdmi for us. The reason we see this issue only on hda codec but not on hdmi is that snd_hda_codec_device_new() is call in hdac_hda.c but not in hdac_hd

[2019-04-18 10:27] bardliao commented on #715
@wenqingfu Yes, we got a BIOS from BIOS team, but we still see ``cannonlake-pinctrl INT34BB:00: pin 189 cannot be used as IRQ`` log from kernel dmesg.

[2019-04-18 10:50] lgirdwood opened #846 "[FEATURE] Dump IPC state machine status on IPC timed out"
IPC timeouts are often difficult to debug as we have two state machines running, one within the driver and the other within the FW.

This feature is to add useful debug output to the kernel when it detects and IPC timeout. i.e.
[code]
The intention here is to show the IPC state machines for both DSP and host and show the **pending** operations in a high level manner alongside the raw status and ma

[2019-04-18 10:51] lgirdwood commented on #846
@ranj063 fyi, I think a feature like this would be useful for your debug today.

[2019-04-18 12:36] dabekjakub commented on #669
@michalgrodzicki Could You assign a developer here ? We had little luck with @wwittbrx getting sick and I will be on vacation next week. However someone should take a look at this.

[2019-04-19 08:33] Jiangxinx opened #848 "[S3] Audio open error: Device or resource busy after suspend/resume cycles on APL UP^2 PCM512X platform."
***Summary***
Audio open error: Device or resource busy after suspend/resume on APL-UP2-pcm512x.
Dmesg and sof-logger have no abvious error trace.

***To Reproduce***
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

***Screenshots or console output***
[code]

[code]

[code]

***Dmesg***
[code]

***Environment***
sof master: 50bd96de
kernel sof-dev: 90860434
tplg:

[2019-04-19 09:02] Jiangxinx commented on #848
#1241

[2019-04-19 13:57] dabekjakub commented on #669
I had to pass the issue to @wwittbrx for reproduction but he fell ill. We are waiting for his return.

[2019-04-19 21:52] wenqingfu commented on #737
Is this still valid?  or it's fixed with upstream code merged in after #851? @libinyang

[2019-04-20 01:44] libinyang commented on #737
This bug is fixed. Mark has merged the patch yesterday.

[2019-04-20 02:09] wenqingfu commented on #737
You should have closed it in last reply,  and save one conversation cycle. thanks.

[2019-04-20 02:42] libinyang commented on #737
I planed to close it after QA has verified on the latest kernel. OK. I will close it.

[2019-04-20 02:42] #737 closed

[2019-04-20 02:47] wenqingfu commented on #737
thanks

[2019-04-20 03:11] libinyang commented on #836
This issue can be fixed https://github.com/thesofproject/sof/pull/1271 and https://github.com/bardliao/sof/commit/e8d5622222c40bff04a6a924433feffa39312e3f

[2019-04-20 03:11] wenqingfu commented on #848
Quoted from @lgirdwood  from https://github.com/thesofproject/sof/issues/1241#issuecomment-484484684 to make up the whole context

---

@Jiangxinx can you log this as a kernel bug, link to this one and close this issue.

@plbossart @ranj063 @kv2019i this looks like a kernel race where aplay will hang on to the PCM (and keep it BUSY), it could be that PM works when the aplay PCM is in playing state

[2019-04-21 07:41] bardliao commented on #825
Realtek has provide a patch to add a quirk to enable headset mode for the particular platforms. And Realtek will send this patch to upstream.

[2019-04-22 07:51] keqiaozhang opened #854 "[BUG] pipeline will interact with each other in HDA mode"
**Describe the bug**
This issue can occur when 2 pipeline playback are running in different terminals, terminating one of them will cause another pipeline stop with I/O error.

**To Reproduce**
1. open two terminals and do playback on each terminal with different pcm device.
    terminal 1 headset playback: aplay -Dhw:0,0 -f dat -c 2 audio.wav
    terminal 2 HDMI playback: aplay -Dhw:0,2 -f dat -c

[2019-04-22 07:56] Jiangxinx opened #855 "[UCM] Enable DMIC input device for generic HD-A machine"
PulseAudio can detect input/output devices in 2 ways:
1. Check amixers with standard names defined in /user/share/pulseaudio/alsa-mixer/paths ... for legacy HD-A driver;
2. check playback/capture devices defined by UCM for a sound card ... for ASoC drivers

Current open:
SOF reuse the legacy analog codec drivers which exposed standard amixers for speaker and headset, and can be recognized by PA in

[2019-04-22 08:03] keqiaozhang commented on #854
@Jiangxinx @ClarexZhou
Could you please help to verify this issue on other HDA platform?

[2019-04-22 08:25] stevyan commented on #848
Actually, 'Device busy' is not original error info.  "I/O error" occurred at #1241 on that daily version (2019-04-09) refer to log fragment:

[code]
But, recently, 'I/O error' doesn't reproduce. Regarding to 'Device Busy', due to the 'aplay' is already running at background before S3, hence, when try to 'aplay' again with the same PCM pipeline after S3, 'Device Busy' seems be correct response beha

[2019-04-22 08:28] ClarexZhou commented on #854
Behavior is different on CML.
No interaction between Dhw:0,0 and Dhw:0,3
Only no audio output when start aplay on Dhw:0,1 during playing on Dhw:0,0.
No interaction when press ctl+c to stop one.

Environment
Kernel Repo: https://github.com/RanderWang/linux/commits/cml-validation-20190422
Made from: RanderWang/linux@9086043 [thesofproject/linux: topic/sof-dev]
+RanderWang/linux@c105b1b
+RanderWang/l

[2019-04-22 08:44] ClarexZhou commented on #855
add CML laptop sound setting sreenshot
![soundSettingScreenshot](https://user-images.githubusercontent.com/49641224/56492274-db58d600-651d-11e9-8e98-4656ab6c2703.PNG)

[2019-04-22 08:52] zhuyingjiang commented on #835
This seems a da7219 codec issue, when `rmmod snd_soc_da7219` and then `modprobe snd_soc_da7219`, the irq number of the da7219 i2c is 0. But by the first load by the OS the irq is 96. So the load component in the SOF failed.

[2019-04-22 14:31] plbossart commented on #837
@bardliao this problem should also affect the Skylake driver, no? There may be other issues with that driver but with the list of patches shared internally we should be able to test on e.g. a NUC if we can reproduce the same problem.

[2019-04-22 14:34] plbossart commented on #825
@bardliao why would a codec functionality influence and generate an error with i/os on capture ? I could see that the headset mode may or may not work, but that should result in a silent file captured.

[2019-04-22 18:55] #778 closed

[2019-04-22 19:58] xiulipan opened #858 "Gaps of ABI and headers for KeywordDectect"
For Linux we have https://github.com/thesofproject/linux/pull/771
For SOF part we have https://github.com/thesofproject/sof/pull/1036

They have difference in each side and I am not sure if #857 would fix it

[2019-04-22 19:59] xiulipan commented on #858
@plbossart @lgirdwood @ranj063
Any idea about the header changes by KeywordDectect?

[2019-04-23 04:28] bardliao commented on #825
@plbossart Yes, I have the same thought with you at first. But after I saw the patch below, I think the issue is codec didn't show its capability of input. I didn't check the detail but I think we will get problem in pcm read if the codec say hey I don't have the capability of input.
[code]

[2019-04-23 06:00] bardliao commented on #837
@plbossart I checked the internal patches list, but I didn't find a patch which is related to this issue. And I believe that we will see the same issue on Skylake driver. @keqiaozhang Could QA do the test on Skylake driver?

[2019-04-23 07:05] stevyan opened #861 "[Regression] Kernel panic when tried to remove sof module (sof_pci_dev) on APL UP^2 nocodec."
**Summary**
Kernel panic when tried to remove sof module, regression commit id(dc3c64b206414532e09981468d05029699b144e9)

**To reproduce**
sudo rmmod sof_pci_dev

**Actual result**
Kernel Panic

**Test recipe**
Date: 2019-04-23
Kernel: 596d392b
Firmware: 0c932613
Topology: sof-apl-nocodec.tplg

**dmesg log**
[code]

[2019-04-23 07:21] stevyan commented on #848
Invalid issue, closed.

[2019-04-23 07:21] #848 closed

[2019-04-23 07:44] stevyan commented on #571
**Summary:**
this issue can reproduce with origin test steps (test 203 times) on APL with PCM512x.

**Test env**
build date: 2019-04-23
sof master: 0c932613
kernel sof-dev: 596d392b
tplg: sof-apl-pcm512x.tplg

**dmesg log**
[code]
[test_203_fail.log](https://github.com/thesofproject/linux/files/3106772/test_203_fail.log)

[2019-04-23 08:19] wwittbrx commented on #669
Hi, this issue seems to be fixed with PR https://github.com/thesofproject/sof/pull/1294. Could you check it on your side so we could close it (after the PR is merged of course)?

[2019-04-23 10:20] singalsu commented on #753
I'm starting with this now.

Edit: I worked with volume overflow instead. So far only confirmed exactly this same happens. The driver is busy not handled properly by kernel.

[2019-04-23 10:21] singalsu commented on #665
I'm starting this and the other related issue now.

[2019-04-23 10:25] singalsu commented on #712
@plbossart @wenqingfu I see, thanks for explanation! I fully agree this was an user error. I'll close this now.

[2019-04-23 10:25] #712 closed

[2019-04-23 16:00] ranj063 commented on #861
@stevyan this sounds fishy. The issue is filed 9 hours ago and the regression points to a commit from 22 days ago?

[2019-04-23 18:40] xiulipan commented on #846
@lgirdwood
ACK. will try to make a PR once I finished.

[2019-04-23 19:57] plbossart commented on #669
@wwittbrx is this fixed or it does #1294 just make the problem go away by reducing the memory footprint?
Looks like working-by-accident instead of by design. try to play on 5 streams and the problem will come back...

[2019-04-23 21:35] wenqingfu commented on #861
I'm thinking about the same thing.. :(  will check.  I originally thought it's a dup of 837, seems not...

[2019-04-23 21:56] wenqingfu commented on #854
@keqiaozhang  can you please help to verify if this issue can be reproduced on I2S platform?  thanks!

[2019-04-24 01:49] keqiaozhang commented on #854
@wenqingfu , I tried to reproduce this issue on GLK before, but it's blocked by #828 , HDMI is not working.
I just tested it again with PR #834 on GLK, this issue can be reproduced. The reproducibility rate is about 20% and IPC timed out when TRIG_START, but audio is still working in the next run.
[code]
trace log:
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/3110206/dmesg.log)

[2019-04-24 06:44] stevyan commented on #838
**Summary**
Not reproduce, the DUT can boot normally on ICL RVP nocodec.

**Step**
`aplay -l`

**Actual Result**
[code]

**Test recipe**
Date: 2019-04-24
sof (master): e4c1651b
kernel (topic/sof-dev): 2e945691
topology: sof-icl-nocodec.tplg

[dmesg.log](https://github.com/thesofproject/linux/files/3110908/dmesg.log)

[2019-04-24 07:16] stevyan commented on #854
**Summary**
Not reproduce on APL UP2 pcm512x

**Step**
1. aplay -Dhw:0,0 -f s16_le -r 48000 -c 2 /dev/zero
2. aplay -Dhw:0,2 -f s16_le -r 48000 -c 2 /dev/zero (HDMI)

**Actual Result**
No error occurred.

**Test recipe**
Date: 2019-04-24
sof (master): e4c1651b
kernel (topic/sof-dev): 2e94569
topology: sof-apl-pcm512x.tplg

[2019-04-24 07:30] stevyan commented on #837
**Summary**
it can be reproduced on ICL RVP nocodec.

**Test recipe**
Date: 2019-04-24
sof (master): e4c1651b
kernel (topic/sof-dev): 2e94569
topology: sof-icl-nocodec.tplg

**dmesg log**
[code]

[2019-04-24 07:47] libinyang commented on #854
Clair's bug is narrowed down to codec issue. As per discussion we can lower its priority.
It is different from Keqiao's bug. Clair, could you please open a new issue for it?

[2019-04-24 08:36] Jiangxinx commented on #837
Fixed by  #856 ,I will closed this issue until it is merged.

***Test recipe***
Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190424
  Made from:
  2e94569 [thesofproject/linux: topic/sof-dev]

85a86d9 [RanderWang/linux: cml-validation-20190424]
b51284b[RanderWang/linux: cml-validation-20190424]
8f41f15 [RanderWang/linux: cml-validation-20190424]
202216f [RanderWang/linux

[2019-04-24 09:35] stevyan commented on #854
**Summary**
"write error: Input/output error" occurred on APL UP2 pcm512x

**Step**
1. playback HDMI firstly at Terminal A.  `aplay -Dhw:0,2 -f s16_le -r 48000 -c 2 /dev/zero`
2. Terminal B: aplay -Dhw:0,0 -f s16_le -r 48000 -c 2 /dev/zero

**Actual Result**
1. Terminal A: write error: Input/output error
2. Terminal B: underrun, and then "write error: Input/output error"

**Test recipe**
Date: 201

[2019-04-24 12:47] ranj063 commented on #571
@xiulipan @lgirdwood  looks like we have another IPC timeout here with the same FW entered status similar to the volume case.

[2019-04-24 13:10] singalsu commented on #665
The issue looks today different. The IIR coefficients can be changed and the impact of other EQ response can be heard in playback. However, FIR coefficients replace still causes an error:

[code]

There's no errors seen in sof-logger trace.

[2019-04-24 14:20] singalsu commented on #665
@juimonen @lyakh The error is -ENOBUFS from sof_ipc_tx_message(), the function sof_process_load() does not split large IPC messages. The attempt was to send 504 bytes while max is 384.

[2019-04-24 15:34] singalsu commented on #665
The message headers have grown a lot. I was able to confirm that lack of the large message split is the remaining issue. After trimming down the test FIR to about 40 taps (a non-practically low amount for any real need...) it could fit the IPC and this feature worked. So need to work with large IPC split for sof_process_load().

[2019-04-24 15:41] juimonen commented on #665
@singalsu yes so this is a known feature which I tried to explain when doing large messages, the effort was futile so I let it be. Setting the params from control during runtime and setting them at boot/topology widget loading (without sending control msg) take different paths... Also we can't call the set_get_large_ctrl_data at widget loading because the pipeline isn't ready. Have to think of som

[2019-04-24 23:16] plbossart commented on #838
Thanks for testing, I'll try and check with an updated BIOS.

[2019-04-24 23:19] plbossart commented on #854
Can we have confirmation that the two outputs work in isolation and the issues only show up when the two outputs are used concurrently.

[2019-04-25 01:26] ClarexZhou opened #865 "[BUG][CML]HDMI aplay still work for about 5mins after plugout HDMI and restart aplay"
**Describe the bug**
HDMI aplay still work for about 5mins after plugout HDMI and restart aplay

**To Reproduce**
1. Connect HDMI
2. Play music via HDMI: aplay -Dhw:0,3 -r48000 -c2 -fs16_le a.wav -vv -i
3. Disconnect HDMI
4. Stop previous aplay and start new aplay, check

**Actual behavior**
aplay to HDMI still works after disconnected

**Expected behavior**
Should detect HDMI is disconnected.

**

[2019-04-25 01:33] libinyang opened #866 "[CML]Paused aplay/arecord can't be resumed normally after DUT wake up from S3"
Describe the bug
Aplay resume failed once S3 and wake up from pause status.
2/5: Failed for "write error:Input/output errror"
3/5: Resumed process bar display playing, but no audio output.

To Reproduce

aplay -Dhw:0,3 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
press SPACE bar to pause
S3 and wake up via "sudo rtcwake -m mem -s 10"
press SPACE bar to resume aplay, check
Expected beh

[2019-04-25 01:34] libinyang commented on #866
details can be found: https://github.com/thesofproject/sof/issues/1283

[2019-04-25 01:52] keqiaozhang commented on #854
Yes, the two outputs work in isolation and the issue only can be reproduced when two outputs are used concurrently.
I also tested the following scenario on GLK, there're two TYPE-C connectors, so we can do playback on these 2 ports via the converters.

Steps:
1. Terminal A: do playback on HDMI (type-c to HDMI).
2. Terminal B: do playback on DP (type-c to DP), at this time, both of them stop immedi

[2019-04-25 03:06] ClarexZhou opened #867 "[BUG][CML]Headset mic boost and Headphone mic boost are listed in F3 playback view via alsamixer"
**Describe the bug**
Headset mic boost and Headphone mic boost are listed in F3 playback view via alsamixer

**To Reproduce**
alsamixer, check F3 playback view.

**Expected behavior**
Headset mic boost and Headphone mic boost shouldn't list in playback view.

**Environment**
Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190424
Made from:
2e94569 [thesofproject/linux: topi

[2019-04-25 04:15] zhuyingjiang commented on #776
@plbossart The clock/power gating for firmware download is done by PR #249 9e1dec61.
I will submit a PR for clock/power gating for suspend/resume, and also the misc clock gating(backbone).

[2019-04-25 05:17] xiulipan commented on #854
@keqiaozhang
Why there is a `ssp_stop(), SSP port disabled` here. It is the right test case.
@tlauda @ranj063
Are we also using SSP for HDA HDMI playback pipeline? It looks wired to me.

[2019-04-25 05:51] libinyang commented on #866
patch has been submitted: https://github.com/thesofproject/linux/pull/868

[2019-04-25 07:53] ClarexZhou opened #869 "[BUG][CML]Headset output is in mute state when system reboot with headset connected"
**Describe the bug**
Headset output is in mute state when system reboot with headset connected when Pulseaudio on.

**To Reproduce**
1. Pulseaudio is enabled
2. Connect headset and aplay  to -Dhw:0,0, music output on headset normally
3. "sudo reboot" to reboot system
4. aplay  to -Dhw:0,0, check, no audio output.
5. Check on alsamixer, Headset output is in mute state.  Plug out and plug in headset

[2019-04-25 11:11] singalsu commented on #665
@juimonen Thanks for explanation. Do you mean that the pipeline not ready is a FW issue? I didn't look yet into the code but I wonder if we could avoid dependency to pipeline completion to be able to use the same  set_get_large_ctrl_data function.

[2019-04-25 12:19] singalsu commented on #836
@libinyang I would like to add that the DMIC driver supports for both DAI most of the usual N*8 kHz 8 - 96 kHz sample rates. Though not all combinations are possible when >1 DAI are created due to HW internal dependencies. But it supports capture only with the rate that was defined in topology for the DAI.

[2019-04-25 14:31] libinyang commented on #836
@singalsu I think that the driver has already supported all the sample rates? The limitation comes from the topology.

[2019-04-25 14:36] singalsu commented on #836
@libinyang Yep, that's correct.

[2019-04-25 19:46] kv2019i opened #871 "[regression][APL] DSP panic dump to kernel log is not correct"
While working on the host side FW watchdog patches, I noticed the DSP panic dump printed to Linux kernel log (dmesg) is not sensible.

Platform: APL / UP2
Linux: latest sofdev (f7e9d4a170ff0942bfab7d48f476dba5f8387c71)
FW: latest tip (81887c9f3add154a11df554bc67d6b09e6050cca

DSP panic dump looks like this now:
[code]

The register values and stack pointer look completely wrong.

When I revert thi

[2019-04-25 21:18] plbossart commented on #871
well duh, looks like the firmware extensions are not backwards compatible??

[code]

[2019-04-26 00:13] xiulipan commented on #846
@lgirdwood
A RFC is here: #872

[2019-04-26 02:26] stevyan opened #873 "[Regression][BYT][rt5651]: 'ipc timed out for 0x60050000' after aplay music at the 2nd time"
**Summary**
'ipc timed out for 0x60050000' after aplay music at the 2nd time, it caused by PR #849 (a1043e8bc785c186a5bd4cb1f5ae25d9e9ea0aee).

**To reproduce**
1. `aplay -Dhw:0,0 -f dat /dev/zero`
2. interrupt playback via 'ctrl + c'
3. play again with `aplay -Dhw:0,0 -f dat /dev/zero`

**Actual Result**
aplay: set_params:1363: Unable to install hw params:
Playback cannot be recovered when error

[2019-04-26 03:35] xiulipan commented on #871
@plbossart
I remember this PR https://github.com/thesofproject/sof/pull/591
Not sure if this should be some major ABI change or not, but if there are mismatch it should be a major ABI change?

[2019-04-26 04:10] keyonjie commented on #873
Hi @stevyan can you paste the sof-logger logs also please?

[2019-04-26 04:12] ClarexZhou opened #874 "[BUG][CML] HDA Analog and HDA Digital pipeline will interact with each other"
**Describe the bug**
HDA Analog aplay will has no audio output once start aplay on HDA Digital during aplaying on Analog.

**To Reproduce**
1. terminal 1 headset playback: aplay -Dhw:0,0 -f dat -c 2 audio.wav
2. terminal 2 HDA digital playback: aplay -Dhw:0,2 -f dat -c 2 audio.wav, check

**Expected behavior**
HDA Analog shouldn't be effected.

**Actual result**
Analog no audio output, restart apl

[2019-04-26 04:12] ClarexZhou opened #875 "[BUG][CML] HDA Analog and HDA Digital pipeline will interact with each other"
**Describe the bug**
HDA Analog aplay will has no audio output once start aplay on HDA Digital during aplaying on Analog.

**To Reproduce**
1. terminal 1 headset playback: aplay -Dhw:0,0 -f dat -c 2 audio.wav
2. terminal 2 HDA digital playback: aplay -Dhw:0,2 -f dat -c 2 audio.wav, check

**Expected behavior**
HDA Analog shouldn't be effected.

**Actual result**
Analog no audio output, restart apl

[2019-04-26 04:13] #875 closed

[2019-04-26 04:14] ClarexZhou commented on #875
Same with https://github.com/thesofproject/linux/issues/874

[2019-04-26 04:15] ClarexZhou commented on #854
@libinyang  CML issue is split and track on https://github.com/thesofproject/linux/issues/874

[2019-04-26 05:32] mmaka1 commented on #871
Do not revert any FW patches. The core dump looks good and works fine with the core dumper tool. Decoding dumps for all different DSP architectures and their variations may simple do not scale when trying to decode all of them in the driver. I would suggest to keep just basic info in the driver and let the specialized tools to decode it (like our core dumper for xtensa does).

[2019-04-26 06:09] stevyan commented on #873
[ipc_error-sof-logger.log](https://github.com/thesofproject/linux/files/3119910/ipc_error-sof-logger.log)

[2019-04-26 06:33] stevyan opened #876 "[APL][Random] 'ipc timed out for 0x30200000' after S3 without playback/capture. (5%)"
**Summary:**
 'ipc timed out for 0x30200000' after S3 without playback/capture.
_Note_: Following ipc message id occurred for different attempt times: 0x30200000, 0x30030000, 0x50010000, 0x30010000 ...

**To reproduce**
1. sudo ./stress-s3.sh 100 0 0

**Actual result**
error: ipc timed out for 0x30200000 size 36

**Reproduce rate: 5%**

**Test recipe**
date: 2019-04-26
sof (master): 6a84b4e9
linux

[2019-04-26 07:43] stevyan commented on #873
Another issue also caused by PR #849,
'ipc timed out for 0x60050000 | 0x60060000 | 0x60070000' after pause/resume music more than 5 times.

**To reproduce**
1. `aplay -Dhw:0,0 -f dat /dev/zero -vv -i`
2. press space key to pause|resume playback, more than 5 times

**Actual Result**
[code]

**Test Recipe**
date: 2019-04-26
sof (master): 6a84b4e9
linux (topic/sof-dev): f7e9d4a
topology: sof-byt-rt56

[2019-04-26 08:40] ClarexZhou opened #878 "[Bug][CML] HDMI aplay no output if HDMI and DP are both connected and DP aplay is not used before."
**Describe the bug**
HDMI has no audio output if both HDMI and DP are connected and DP isn't used before.

**To Reproduce**
1. Connect HDMI and DP to different compuer monitor.
2. aplay -Dhw:0,3 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i, check audio output

**Actual result**
HDMI aplay has no audio output.
More info:
1. HDMI can output normally after disconnect DP
2. HDMI can outpu

[2019-04-26 09:32] stevyan opened #879 "[APL][UP2 - nocodec] aplay and arecored mismatch the supported audio format (S24_LE & S32_LE) with --dump-hw-param option"
**Summary**
aplay mismatches the supported audio format (S24_LE & S32_LE) with --dump-hw-param option on UP2 nocodec.

**To reproduce**
1. `aplay -Dhw:0,0 -f dat -d 1 /dev/zero --dump-hw-param`
2. `aplay -Dhw:0,0 -c2 -r48000 -fs16_le -d 1 /dev/zero`
3. `aplay -Dhw:0,0 -c2 -r48000 -fs24_le -d 1 /dev/zero`
4. `aplay -Dhw:0,0 -c2 -r48000 -fs32_le -d 1 /dev/zero`

**Actual result**
1. display the supp

[2019-04-28 01:09] ClarexZhou opened #881 "[Bug][CML]Arecord via HDA Analog always shown busy, only system reboot can recover. (Only occurred one time)"
**Describe the bug**
Arecord via HDA Analog headset always shown busy, only system reboot can recover. (Only occurred one time)

**To Reproduce**
Boot up system, aplay via analog, stop and then arecord via analog headset, check

**Expected behavior**
arecord should work normally

**Environment**
Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190426

Made from:
f7e9d4a [the

[2019-04-28 07:23] mengdonglin opened #883 "[UCM] Enable HDMI/DP audio output devices for generic HD-A machine"
Define audio playback devices for external HDMI/DP displays.

This feature will allow PulseAudio to recognize HDMI/DP sinks and get their hot-plug status.  Then Ubuntu GUI Sound Settings will display the available audio input/output devices

[2019-04-28 09:51] Jiangxinx opened #885 "[BUG][CML][UCM]Sound setting output can not change to speaker when unplugged headset sometimes."
***Describe the bug***
After system waiting for a few seconds, sound setting output  can not change to speaker when unplugged headset Headset.

***To Reproduce***
1.Pluggin headset, sound setting output  change to headset
2.Waiting for 5 seconds
3.Unplug headset

***Expected behavior***
sound setting output  change to speaker.

***Environment***

Kernel repo | https://github.com/bardliao/linux/tre

[2019-04-28 10:03] Jiangxinx opened #886 "[BUG][CML][UCM]Sound setting input can not remove headset Mic when unplugged headset."
***Describe the bug***
Sound setting input can not remove headset Mic device when unplugged headset Mic.

***To Reproduce***
1.Unplug headset
![test](https://user-images.githubusercontent.com/44258626/56862647-aea23400-69df-11e9-8725-c161abbb0804.png)

***Expected behavior***
sound setting input remove headset Mic.

***Environment***

Kernel repo | https://github.com/bardliao/linux/tree/sof-dev-re

[2019-04-28 10:28] keyonjie opened #887 "refine multi-core support"
At the moment, the DSP multi-core support is chaos:

1. We send SOF_IPC_PM_CORE_ENABLE with the enabled_cores_mask to FW when a new core should be enabled, and FW will iterate all cores to check which do corresponding switching, this is in low efficiency, our use case is enable/disable one core only each time.
suggestion: change IPC to use core_index + enable/disable as params.

2. We do power on/

[2019-04-28 15:24] mengdonglin commented on #874
To fix this issue:
1. Need fix for  DMA coupled/decoupled mode
2. Need Realtek to check codec driver.

[2019-04-28 20:44] michalgrodzicki opened #889 "[enhancement][CI] add ICL CI tests"
Please add CI tests for ICL, like we have for APL and WHL. (to avoid regressions)

[2019-04-29 00:01] ranj063 commented on #876
@stevyan would you be able to check if this PR https://github.com/thesofproject/sof/pull/1343 fixes the problem on APL. I was able to run a 100 iterations stress test with nocodec with this.

[2019-04-29 02:12] mengdonglin commented on #876
May relevant to #1254

[2019-04-29 02:22] keqiaozhang commented on #866
This issue is a bit different on GLK and WHL (I2S mode),  playback can resume form S3, no I/O error, but no sound can be heard(muted). Restart the playback, everything back to normal and there's no obverses error in dmesg and trace.

[2019-04-29 05:28] libinyang commented on #866
@keqiaozhang Have you tried my patch? If yes, I think the issue you described is another bug.

[2019-04-29 05:52] keqiaozhang commented on #866
@libinyang
Yes,  PR #868  can fix the the issue on I2S mode, I verified it on both GLK and WHL-I2S, playback works well after resuming with your patch.

[2019-04-29 06:54] stevyan commented on #876
this error still can be observed after patched the PR thesofproject/sof#1343 on APL nocodec. Iterations target: 500 times, failed at the 213rd.

**Test Recipe**
date: 2019-04-29
sof (master): be1331aa ( + PR thesofproject/sof#1343)
linux (topic/sof-dev): af716732
topology: sof-apl-nocodec.tplg

**dmesg log**
[code]

[test_213_fail.log](https://github.com/thesofproject/linux/files/3126208/test_213_

[2019-04-29 07:11] keyonjie commented on #876
hi @stevyan can you share your ./stress-s3.sh please, I want to duplicate it on my side.

[2019-04-29 07:15] keyonjie commented on #876
btw, @stevyan can you paste the sof-logger error log(without -t) also for the error case?

[2019-04-29 07:20] stevyan commented on #876
test script attached, e.g.:  #sudo ./stress-s3.sh 500 0 0

[stress-s3.sh](https://github.com/thesofproject/linux/files/3126267/stress-s3.sh.txt)

[2019-04-29 07:50] kv2019i commented on #489
@libinyang Can you update on the status? This was discussed in the bugscrub today, but it's hard to understand the status from this list. PR824 is closed, what remains?

[2019-04-29 08:11] libinyang commented on #489
@kv2019i Patch hw_params for BE is merged. However, we still need Ranjani's patch: https://github.com/thesofproject/linux/pull/880

So the bug still exists. After #880 is merged, this bug can be closed.

[2019-04-29 11:20] keyonjie commented on #876
both the 2 failed log show we have ipc timeout at runtime resume, so I am curious if we can reproduce it once we disable runtime suspend:
echo on > /sys/bus/pci/devices/0000\:00\:0e.0/power/control

[2019-04-29 13:34] #825 closed

[2019-04-29 13:37] #828 closed

[2019-04-29 15:19] singalsu commented on #753
This quick fix shows that the DSP response with -EBUSY corrupts the PM cache. If we omit this copy the next playback starts with new EQ configuration.

[code]
However I think it's better to instead in snd_sof_bytes_ext_put() to copy the data from userspace into a temporary buffer, send it, and copy to cache only if IPC was successful. Thanks for help @kv2019i !

[2019-04-29 16:12] kv2019i commented on #871
It seems we have more issues with the oops data when FW is built with gcc, see sof#1346 . With a XT-CC built FW, the kernel oops looks more correct, but is still wrong (due to the ABI differences discussed above). Keeping this open still.

[2019-04-29 16:21] kv2019i commented on #871
@mmaka1 wrote:

Leaving detailed parsing to the separate tool sounds reasonable, but I think we should still try to include as much of oops info in the dmesg.

Operations-wise, attaching kernel logs is an established bug reporting method in Linux, i.e. most kernel bugs reported from the field will have the kernel log attached. Further dmesg can store multiple oopses and is not (as) susceptible to

[2019-04-30 01:28] keyonjie commented on #876
@stevyan after I disabled runtime suspend, I can't duplicate the issue with 2000 iteration finished.
@ranj063 looks there is some corner cases left in our runtime suspend/resume?

[2019-04-30 01:37] libinyang commented on #489
Patch #880 is merged yesterday. I think we can close this bug now.

[2019-04-30 01:37] #489 closed

[2019-04-30 01:42] ranj063 commented on #876
@keyonjie there is aboslutely no difference in sequence between runtime suspend/resume and system suspend/resume in SOF. So I dont know how this test is helpful in identifying the problem

[2019-04-30 01:44] keyonjie commented on #876
I meant doing suspend at SOF runtime-suspended case:
to response to S3 enter command, we wake up it to the active status, and then suspend it.
The issue happens at this waking up.

[2019-04-30 02:02] ranj063 commented on #876
Yes, but what i meant was that waking up from runtime suspend or waking up from S3 are exactly the same in the SOF driver.

[2019-04-30 05:10] keyonjie opened #891 "Fix pm_runtime_put_autosuspend() failed issues in sof driver"
There might be wrong usage to pm_runtime_put_autosuspend() in SOF driver, previously I saw dmesg errors like "error: pcm close failed to idle -16" on UP2, and know another similar errors happens on CML platforms on every boots:

[    5.651129] sof-audio-pci 0000:00:1f.3: firmware boot complete
[    5.717502] sof-audio-pci 0000:00:1f.3: error: volume get failed to idle -16
[    5.717659] sof-audio-

[2019-04-30 05:38] ClarexZhou commented on #878
Error also seen after S3 and wake up when both HDMI and DP connected.

[2019-04-30 05:42] ranj063 commented on #891
@keyonjie there are no reproduction steps here? And what platform?

[2019-04-30 05:55] ClarexZhou opened #892 "[Bug][CML][UCM]No headset/headphone/micrphone selection query when plug in headset after enable UCM"
**Describe the bug**
No headset/headphone/micrphone selection query when plug in headset after enable UCM

**To Reproduce**
1. Paulseaudio On.
2. Enabled UCM (Put ucm file folder into /usr/share/alsa/ucm/) and reboot system to active.
3. Plug in headset, wait and check

**Expected Result**
headset/headphone/micrphone selection query should pops up.

**Test Recipe**

Kernel repo | https://github.co

[2019-04-30 05:55] keyonjie commented on #891
The errors happens on CML platforms on every boots.

[2019-04-30 06:20] ClarexZhou commented on #892
Effected : Need to select used Mic manually. Headset Mic always shown in sound input setting.
@RanderWang  please comment and close if as required

[2019-04-30 06:24] RanderWang commented on #855
Release alpha version of UCM. Next I will refine the UCM and machine driver to upstream it.

[2019-04-30 07:21] keyonjie commented on #724
mark it to P1 as it blocks debugging for critical FW issue.

[2019-04-30 07:53] zhuyingjiang opened #893 "[BUG][HDA] the registers have been set twice in hda_dsp_probe"
in sound/soc/sof/intel/hda.c hda_dsp_probe
The steps:
1. link reset
2. clear stream status
3. clear WAKESTS
4. clear interrupt status register
5. enable CIE and GIE interrupts
has been done twice in hda_dsp_probe, if **IS_ENABLED(CONFIG_SND_SOC_SOF_HDA)** is **true**
first it is set by snd_hdac_bus_init_chip, and then it is set by the common code.

[2019-04-30 07:54] zhuyingjiang commented on #893
RFC PR [#877](https://github.com/thesofproject/linux/pull/877) is to fix this.

[2019-04-30 14:37] plbossart commented on #891
We'd need to know if this is specific to CML or if this also applies to Up2. Not sure how to start debugging for now?

[2019-04-30 14:38] ranj063 commented on #891
@plbossart this is not seen onUp2 or even the CML chromebook. Seems specific to CML with HDA

[2019-04-30 16:51] plbossart commented on #874
@bardliao do you know what the digital output means? S/PDIF?
It'd be good to double-check with the legacy HDAudio driver, I wonder if this issue from from the codec itself or is an SOF issue with something interfering at the link DMA level.

[2019-05-02 05:10] wenqingfu commented on #891
@ranj063 can you reproduce this on your WHL?

[2019-05-02 11:49] bardliao commented on #874
@plbossart Yes, I think it is S/PDIF. And there is no digital interface presented in legacy HDA driver.

[2019-05-02 18:39] juimonen commented on #874
I have exactly similar behavior in my up2 when trying to playback and record at the same time. Stopping recording will stop the playback stream also. The dmesg looks exactly the same, like triggering stop would trigger another stop for the stream in another pcm, but same card... I would look are we coupling something in asoc layer that is causing the stop for other streams also.

[2019-05-02 18:47] plbossart commented on #874
@juimonen can you try with NOCODEC and no SOF_HDA at all?
This behavior happened in the past and Rander fixed a number of issues a couple of weeks ago, wondering if we undid his work.

[2019-05-02 23:12] ranj063 commented on #891
@wenqingfu sorry I've been a bit busy with a couple of other issues. Let me check on this tonight.
I should be able to reproduce this on my WHL

[2019-05-03 03:18] bardliao commented on #874
@juimonen Could you check if https://github.com/thesofproject/linux/pull/674 helps?

[2019-05-03 05:29] ranj063 commented on #891
@lgirdwood @kv2019i I could use some help from you here: Basically, the error that happens during volume get autosuspend doesnt occur every single time. The logs below show 3 sets of the volume command being sent to the driver for all the 9 volume components that are in topology. The first set and the third set do not show the error. But the 2nd one, all of them fail. The only difference between t

[2019-05-03 05:57] juimonen commented on #891
@ranj063 pulseaudio is "probing" alsa to get all possible pcm format combination's that actually "work".

[2019-05-03 06:02] ranj063 commented on #891
@juimonen thanks. That explains the dmesg log but does it also set the kcontrol values during this probe?

[2019-05-03 06:09] juimonen commented on #874
@bardliao I have it on my tree, and so it doesn't help at least on my issue...

[2019-05-03 06:57] juimonen commented on #891
@ranj063 yes there's separate volume_probe... pulseaudio developers we're pretty pissed of many non-working alsa drivers reporting all kind of volume ranges etc. which don't make sense/work, so this kind of probing is a consequence of that. git clone the pulseaudio code and check alsa-mixer.c...

[2019-05-03 06:59] juimonen commented on #891
@ranj063 I think you can actually turn the probing off from pulse config files, but I would suggest us fixing the issues as it is usually "on" and it is actually testing that the driver works with reasonable functionality.

[2019-05-03 07:47] juimonen commented on #874
@bardliao @plbossart my issue was on firmware side. If you have connected pipelines, pipeline_reset doesn't take into account separate pipelines with different id's, it resets everything that's connected. Sorry about the noise, the logs looks surprisingly same

[2019-05-03 08:42] lyakh commented on #887
What are the actual reasons for such a tight core enabling control from the driver? Is it just to remove some complexity from the FW and keep it on the host, or are there good practical reasons for that?

[2019-05-03 15:33] lyakh commented on #873
I'm unable to reproduce either of the two reported problems neither with nocodec nor with rt5651 with linux https://github.com/thesofproject/linux/commit/3f6a2dfc6bf564029aca9b174e6b4b91c2fa7a54 and a recent SOF https://github.com/thesofproject/sof/commit/6e4faef8e7fea2e4ec71d9bc012680b446c7f8e5
@stevyan could you try to double-check with the current trees?

[2019-05-04 03:51] ranj063 commented on #891
@lgirdwood @plbossart I spent some time tracking this bug and I have the cause but dont have a solution. So I could use some help.

What I found was that when a PCM stream is closed, the hdac codec runtime suspend callback gets called which is responsible for suspending the codec, the link and turning off display power (if applicable). After this is complete, the hdac codec decrements its parent d

[2019-05-04 19:54] ranj063 commented on #891
I found a "solution" to get rid of the errors:
If we avoid resuming (calling pm_runtime_get_sync) the DSP when it is already runtime active, then it will avoid the suspend call that happens before the hdac codec finishes suspending.

But, I also think that this error is harmless and it doesnt affect the runtime PM in the SOF driver. So, we could also replace the error message with a warning instea

[2019-05-05 06:07] RanderWang commented on #892
I tested it on XPS13 on broadwell platform, and I also found there was no dialog when using UCM. The dialog is triggered by gnome-settings-daemon, which monitors pulse audio. So the behavior of pulse audio changes when using UCM. I don't think it is a bug caused by SOF or our UCM.

[2019-05-05 06:11] RanderWang commented on #886
This is not a bug. There is no jack exported by codec to detect microphone event. I checked with codec vendor and got the information: this is required by customer for secret reason.

[2019-05-05 06:11] #886 closed

[2019-05-05 06:16] RanderWang commented on #881
@ClarexZhou can you confirm this bug could be reproduced now ? thanks

[2019-05-05 08:15] ClarexZhou commented on #885
Error still seen on CML laptop

Test Recipe | +Rander UCM
-- | --
Kernel repo | https://github.com/thesofproject/linux/tree/release/sof-v5.0
  | b6f189b
  |  
Firmware repo | https://github.com/thesofproject/sof/commits/master
  | de5bba4  [thesofproject/sof: master]
  |  
Topology: | https://github.com/thesofproject/sof/commits/master

[2019-05-05 09:12] ClarexZhou opened #898 "[Bug][CML]Pipeline will interact with each other with 3 aplay"
**Describe the bug**
This issue can occur when 3 pipeline playback are running in different terminals, when trigger the 3rd will cause HDMI playback stop with I/O error.

**To Reproduce**
1. open two terminals and do playback on each terminal with different pcm device.
terminal 1 DP playback: aplay -Dhw:0,4 -f dat -c 2 audio.wav
terminal 2 HDMI playback: aplay -Dhw:0,3 -f dat -c 2 audio.wav
2. Sta

[2019-05-05 09:39] Jiangxinx opened #899 "[BUG][APL] Kernel crash when do speaker test with the wrong parameters on APL_UP2_NOCODEC platform."
***Describe the bug***
Kernel crash when do speaker test with the wrong parameters on APL_UP2_NOCODEC platform. This issue is very hard to reproduce,the recurrence rate is about 2/1000.

***To Reproduce***
1.speaker-test -Dhw:0,7 -r 8000 -c 2 -f s16_le -t wav -l 3

***Dmesg***
[code]

***Environment***
sof (master): de5bba49
linux (topic/sof-dev): 1071743a
topology: sof-apl-nocodec.tplg

***Log fi

[2019-05-06 01:48] mengdonglin commented on #886
@RanderWang
If there is no jack exported by codec to detect microphone event, why "Headset Mic" can appear? Via GUI pop-up menu which require a user to confirm there is a headset Mic?

If yes, the headset Mic should go away with headphone as well.

[2019-05-06 06:17] bardliao opened #900 "[CNL] It takes more than 1 sec from aplay cmd to sound comes out"
**Describe the bug**
When we start to a playback from runtime suspended, the sound will come out after more than 1 sec. It can be 100% reproduced with headphone playback, but it is < 10% with speaker playback.

**To Reproduce**
1. Wait until DSP is in runtime suspended.
2. run aplay

**Expected behavior**
Sound comes out immediately after aplay cmd is executed.

**Environment**
sof-master: de5bba4

[2019-05-06 07:29] Jiangxinx commented on #873
This issue can still be reproduced on daily test.
***To reproduce***
1.aplay -Dhw:0,0 -f dat /dev/zero
2.ctrl + c
3.aplay again with aplay -Dhw:0,0 -f dat /dev/zero

***Test Recipe***
sof (master): de5bba49
linux (topic/sof-dev): 1071743a
topology: sof-byt-rt5651.tplg

[2019-05-06 07:37] RanderWang commented on #885
@ClarexZhou   is this bug reproduced again? I find the change is late, not never. It is caused by codec driver, which sleeps a long time by msleep() when resuming.

[2019-05-06 07:54] bardliao commented on #900
The root cause is [alc269_resume](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/patch_realtek.c#L3545) takes too much time.

[2019-05-06 08:14] lyakh commented on #873
@Jiangxinx strange, I cannot reproduce it here so far. I'll try to check out your exact commit IDs. Is that with pulseaudio or without?

[2019-05-06 08:17] Jiangxinx commented on #873
@lyakh I disabled pulseaudio, by the way, this issue can be reproduced by using paplay immediately if enable pulseaudio.

[2019-05-06 08:26] lyakh commented on #873
@Jiangxinx what command line do you use with paplay?

[2019-05-06 08:31] Jiangxinx commented on #873
@lyakh Just playback audio file simply:  paplay audio.wav -vvvv

[2019-05-06 08:37] Jiangxinx commented on #876
Daily test result:  can still be reproduced on apl_up2_nocodec platform, the rate is 17/100.
By the way, I can't reproduce it on apl_up2_pcm512x platform within 100 times.

***To reproduce***
1. sudo ./stress-s3.sh 100 0 0

***Test Recipe***
sof (master): de5bba49
linux (topic/sof-dev): 1071743
topology: sof-apl-pcm512x.tplg, sof-apl-nocodec.tplg

[2019-05-06 09:22] keyonjie commented on #873
@lyakh thanks and great that you can take look to this, I previously used Ctrl+c to stop and the ipc timeout happen after several iterations, but no chance to debug into it yet.

[2019-05-06 09:41] lyakh commented on #873
I was able to reproduce it, bisected, the culprit is https://github.com/thesofproject/sof/commit/eaca16b84898df1d8589c72d45fd2feda7ebd13d @mrajwa could you take a look?

[2019-05-06 09:45] lyakh commented on #873
The strange thing is, that KPB isn't even configured in my BYT FW configuration, same as it isn't in BYT defconfig

[2019-05-06 09:48] mrajwa commented on #873
@lyakh, could you provide some more information as for why do you think KPB and in particular this specific PR causes the problem of IPC timeout?

[2019-05-06 09:49] lyakh commented on #873
@mrajwa see above: bisected.

[2019-05-06 09:52] mrajwa commented on #873
@lyakh, I saw that but it doesn't say much to me. What do you mean by "bisected"?

[2019-05-06 09:52] lyakh commented on #873
the first mistake with KPB is, that it's built when disabled in .config, but that's simple to fix. But maybe it's good that it was like that, otherwise we wouldn't find this bug. Or is KPB not supposed to work on BYT?

[2019-05-06 10:17] lyakh commented on #873
@mrajwa https://git-scm.com/docs/git-bisect

[2019-05-06 10:23] wwittbrx commented on #876
Can you share the config for kernel? I'm getting different error message altogether for this (log attached). This happens always on first iteration of stress-s3.sh

### Recipe

**Kernel**
https://github.com/thesofproject/linux/commit/1071743ab1cf1f3e3653088d36967589c916bc5e

**FW and TPLG**
https://github.com/thesofproject/sof/commit/de5bba49aaf2c0060a279de09580ac4205f550cb
sof-apl-nocodec.tplg

#

[2019-05-06 10:43] lyakh commented on #876
@wwittbrx could you share your kernel config? I think the kernel configuration, that "should" be used with SOF, or that's used for testing is the one, obtained as described in https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#build-linux-kernel

[2019-05-06 11:47] wwittbrx commented on #876
This is exactly what I use for config generation. And yet I managed to get different results. My config is attached below.

[conf.config.txt](https://github.com/thesofproject/linux/files/3147738/conf.config.txt)

[2019-05-06 22:35] wenqingfu commented on #874
@ranj063 can you please test and confirm if your PR #895 would fix this issue?

[2019-05-06 22:44] wenqingfu commented on #867
ping~ @zhuyingjiang are you making progress on this?

[2019-05-07 00:48] ranj063 commented on #874
@wenqingfu no, my PR does not fix this issue. We have already tested it

[2019-05-07 01:03] ranj063 commented on #891
@keyonjie @plbossart what is your opinion on this bug?
As I explained in my logs https://github.com/thesofproject/linux/issues/891#issuecomment-489290837, this error is unlikely to happen again. But if you want to get rid of the errors, we could check if the DSP is suspended before calling pm_runtime_get_sync() in the control IO command callbacks.

[2019-05-07 01:54] mengdonglin commented on #892
Not a driver issue but a PulseAudio integration issue with UCM.

[2019-05-07 01:55] bardliao commented on #900
We can see exactly the same issue on legacy HDA driver. It does headset type detection before playback and it takes time. So close it since it is not a SOF issue

[2019-05-07 02:02] stevyan commented on #837
**Summary**
it can be reproduced on ICL RVP nocodec.

**Test recipe**
Date: 2019-05-07
sof (master): 47fcac2d
kernel (topic/sof-dev): 820e8413
topology: sof-icl-nocodec.tplg

**dmesg log**
[code]

[2019-05-07 02:08] ranj063 commented on #837
@stevyan could you please check if https://github.com/thesofproject/linux/pull/863 fixes this?

[2019-05-07 02:11] zhuyingjiang commented on #867
@wenqingfu The root cause is that the codec called the HDA code to get the kcontrol name, and the name given by HDA has not follow the "source-direction-function" rule. So it is same for the legacy HDA. Maybe we need fix it in HDA code.

[2019-05-07 04:41] zhuyingjiang opened #906 "[FEATURE][ICL] add ICL ssp count according to FW"
On Icelake we have 6 SSP ports, but we only enable registers for 3 of them. Let's enable all.
make driver to be consistence with firmware for the ICL SSP count(6).

[2019-05-07 06:05] keqiaozhang opened #907 "[BUG] trigger FE failure when doing the multiple pipelines stress test"
**Describe the bug**
Before, we triggered the multiple pipelines almost simultaneously. But today I made a minor change by adding 0.5 second delay between starting each pipeline in the script, then I run into IPC error and trigger FE failure. I tested it on GLK-ubuntu and this issue is easy to reproduce.

**To Reproduce**
Test script is attached.
[multiplex_pipeline-test.txt](https://github.com/th

[2019-05-07 06:14] ClarexZhou opened #908 "[UCM] About 2s delay to switch status in sound setting when plug in/out headset in idle."
**Describe the bug**
Plug in/out headset in idle, check the speaker and headset switch from sound setting. Delay about 2s to switch status.

**To Reproduce**
1.  Stop music
2. Open sound setting of laptop
3. Plug in  headset, then plug out, check.

**Expected behavior**
About 2s delay to switch status in sound setting when plug in/out headset in idle.

**Environment**

Test Recipe | '+Rander UCM h

[2019-05-07 06:15] keyonjie commented on #907
@tlauda @mmaka1 This "hda-dmac: 5 wait for buffer full timeout" error makes me nervous, we should report bug for FW?

[2019-05-07 06:22] ClarexZhou opened #909 "[BUG] No update in sound-setting upon headset hotplug after long time idle"
**Describe the bug**
Sound setting will always no update when Plug in/out headset after boot up/long time idle,  however status can update as soon as music is played.

**To Reproduce**
1. Reboot system.
2. Open sound setting of laptop
3. Plug in headset, then plug out, check.

**Expected behavior**
Status in sound setting should update as soon as plugged in/out

**Actual result**
Status won't upda

[2019-05-07 06:28] ClarexZhou opened #910 "[UCM][CML]One time pop noise when plug in headset in idle or start play music"
**Describe the bug**
One time pop noise when plug in headset in idle or start play music.

**To Reproduce**
1. Stop music
2. Open sound setting of laptop
3. Plug in headset, check.

**Expected behavior**
No pop noise

**Impact**
Pop noise output first.
Pop noise also observed when start music playback with headset connected after long time idle.

**Environment**
Rander UCM https://github.com/Rande

[2019-05-07 06:33] ClarexZhou opened #911 "[UCM][CML] After unplug headphone, sound setting still show headphone, and speaker volume is also muted (intermittent)"
**Describe the bug**
 Always display headphone in sound setting, also speaker volume is muted after plug out headset. Only reboot system can recover.

**To Reproduce**
1. Stop music
2. Open sound setting of laptop
3. Plug in headset, then plug out, check.

**Expected behavior**
 switch status in sound setting when plug in/out headset in idle.

**Environment**
Rander UCM https://github.com/RanderWa

[2019-05-07 06:41] ClarexZhou commented on #885
Error not seen on latest UCM. Close

Test Recipe | '+Rander UCM https://github.com/RanderWang/intel-UCM |  
-- | -- | --
Kernel repo | https://github.com/thesofproject/linux/tree/release/sof-v5.0 |  
  | d698c4f | kernel topic/sof-dev branch
  | PR #853 | ASoC: sof: hda: fix fw loading failure
  | PR #868 | ASoC: soc-pcm: BE dai needs prepare when pause release after resume
  |   |  
Firmware repo

[2019-05-07 06:41] #885 closed

[2019-05-07 06:59] libinyang opened #912 "[FEATURE] hdmi needs to support Jack detection"
Currently, very little intel SOF driver support hdmi jack detection. We should add hdmi jack detection support on the intel sof platforms. It should be better to move jack support from machine drivers to hdac_hdmi.c

[2019-05-07 07:02] RanderWang commented on #908
In this case, audio system just resumes from suspend status and codec driver spends much time to resume codec. Please dispatch it to codec vendor for help.

[2019-05-07 07:05] RanderWang commented on #909
In this case, codec driver doesn't update jack status. Please dispatch it to codec vendor for help.

[2019-05-07 07:06] mengdonglin commented on #908
Same root cause as #900

[2019-05-07 07:08] xiulipan commented on #808
@stevyan @DarrenxWang
Please help to check #873 and this issue still exists on BYT.
I can see that my first playback will be failed and hang for long time. Maybe #873 is a duplicate for this.
I think this should be fixed by #849, maybe some regression happen.
Please confirm and @keyonjie to check.

[2019-05-07 07:10] RanderWang commented on #911
Next time, if you reproduce it, please check the Jack status.  The status is helpful.

[2019-05-07 07:14] mengdonglin commented on #866
ALSA ML thread: https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/148718.html

[2019-05-07 07:15] libinyang commented on #883
The feature will be divided into below steps:
- [x] support hdmi items in gnome-sound-settings
(1) a patch for hdac_hdmi.c is needed. The patch is submitted to open source.
(2) UCM configure file is ready.

- [x] hdmi monitor hotplug detection
(1) need add jack detection support in hdac_hdmi driver. feature has been filed:  https://github.com/thesofproject/linux/issues/912
(2) refine the UCM confi

[2019-05-07 07:21] mengdonglin commented on #836
@libinyang @ClarexZhou Please close this issue if it's fixed.

[2019-05-07 07:23] mengdonglin commented on #466
@bardliao Is this issue fixed by you?

[2019-05-07 07:26] mengdonglin commented on #855
Closing as fixed by adding UCM

[2019-05-07 07:26] #855 closed

[2019-05-07 07:27] mengdonglin commented on #855
@RanderWang Please help to upstream UCM to alsa-lib.

[2019-05-07 07:29] ClarexZhou commented on #836
Retest on latest CML, behevior is changed: Warning note is shown when trying to use 48khz, and cover to 16khz to record. Recorded file also can be played normally. But the recorded actual time is wrong, 3 times than expected.
[code]

Test Recipe | '+Rander UCM https://github.com/RanderWang/intel-UCM |  
-- | -- | --
Kernel repo | https://github.com/thesofproject/linux/tree/release/sof-v5.0 |  
  |

[2019-05-07 07:29] ClarexZhou commented on #836
@libinyang , please comment on this.

[2019-05-07 07:34] ClarexZhou commented on #836
Recording time is  right when capturing via 16khz.
[code]

[2019-05-07 07:45] libinyang commented on #836
So record with 16KHz is OK now. It is the application behavior that record with 48KHz will record 3 times length. So let's close this bug now.

[2019-05-07 07:45] #836 closed

[2019-05-07 08:43] mengdonglin commented on #900
@jason77-wang, please report this issue to codec vendor Realtek and ask Realtek to fix it. Thanks!

[2019-05-07 08:44] mengdonglin commented on #908
@jason77-wang, please report this issue to codec vendor Realtek and ask Realtek to fix it. Thanks!

[2019-05-07 08:45] #908 closed

[2019-05-07 08:48] stevyan commented on #837
This error cannot reproduce with patch #863 based on ICL RVP nocodec.

**Test Recipe**
date: 2019-05-07
kernel (topic/sof-dev): 820e8413 + (PR #863)
sof (master): 47fcac2d
topology: sof-icl-nocodec.tplg

[2019-05-07 09:26] tlauda commented on #907
@keyonjie I was sure we got rid of it. To further debug this I would need additional logs:
1. Read pointer and write pointer at the time of fail.
2. Current IRQ level at the time of fail.

@keqiaozhang You could also check, if it also reproduces with clock gating disabled - set 0x48 = 0x0 in PCI config space.

[2019-05-07 09:44] kv2019i commented on #865
@wenqingfu Ack, will try to reproduce on my CFL setup.

[2019-05-07 09:45] kv2019i commented on #878
@wenqingfu Ack, will try to reproduce on the CFL setup.

[2019-05-07 10:10] kv2019i commented on #898
@wenqingfu Ack. Not yet working on this, need to acquire some additional equipment to reproduce the scenario.

[2019-05-07 12:19] lyakh commented on #876
I plan to look at @wwittbrx 's configuration and why he's seeing a different problem, but first I'm trying to exhaust my own options. While doing my own tests I found out, that the problem for me occurs usually after around 165 suspend-resume loops - sometimes 164. sometimes 167... It happened already at least 3 times to me, so, it isn't likely a coincidence. I would suspect a memory leak, but the

[2019-05-07 13:09] wenqingfu commented on #837
ok, let's close it after #863 is merged then.

[2019-05-07 14:19] lyakh commented on #876
Update: I modified the driver to fail suspend if runtime-resume fails. That way after suspend fails I can still dump the firmware trace. From it it looks like the firmware does send the last IPC reply, which the host doesn't receive, thus running on a timeout. I'm now increasing the timeout to see, whether the IPC is only taking longer or it goes missing completely.

[2019-05-07 14:23] lgirdwood commented on #876
@lyakh hmm, and 165 is not near a power of 2 either.... btw, the "dont suspend if resume fails" sounds like a good PR for debug. Fwiw, DSP and HDA share the same IRQ, maybe the IPC is occurring but HDA/DSP handlers are ignoring it (due to unexpected register values?)

[2019-05-07 14:53] lyakh commented on #876
@lgirdwood I think it isn't the host's fault. I'm seeing some *very long* intervals on the DSP for IPC processing:
[code]
or
[code]
So looks like the DSP is suddenly taking very long to process various random IPC messages. Actually to perform various functions, like creating buffers or enabling a core (this is run with a UP configuration, so that should be a NOP).

[2019-05-07 16:09] lyakh commented on #876
@wwittbrx I think it would be good if you could now have a look at this issue too, the ball seems to be in the firmware's court :-)

[2019-05-07 20:13] xiulipan commented on #876
@lgirdwood @lyakh
I think just need a feature more like **do not power off core when error happen**.
@lyakh
For the timeout here. Do you mean **FW handled the IPC after the Kernel timed out** or **FW handled the IPC but kernel just ignore and timed out**

In first case, please add log to IRQ handler and the IPC task to get the delta. We may still have some race condition in IPC task scheuler.

In

[2019-05-07 20:46] wenqingfu commented on #892
@jason77-wang

[2019-05-07 20:46] #892 closed

[2019-05-07 20:53] lyakh commented on #876
@wwittbrx I tried your kernel configuration - I'm getting the same behaviour as with mine, so, that isn't the difference...

[2019-05-07 21:06] wenqingfu commented on #874
I don't see @libinyang  is working on this. reassign to Kai, as it might be a dup of #898

[2019-05-07 21:09] wenqingfu commented on #898
Thank you very much, @kv2019i ! I move one more issue that looks similar to this one to you.

[2019-05-07 21:16] wenqingfu commented on #869
why use wont fix label? @mengdonglin , you need to explain why, and close this issue. An open issue with "wont fix" label doesn't help.

[2019-05-07 21:29] #906 closed

[2019-05-08 01:15] bardliao commented on #466
@mengdonglin No, I didn't work on it. But I didn't see the issue on CFL with latest kernel.  @markyang Could you check it with latest kernel? Thanks.

[2019-05-08 02:14] Jiangxinx commented on #876
This issue can still be reproduced on the daily test,however i can also aplay even though observed timeout error.

***To reproduce***

    1.sudo ./stress-s3.sh 100 0 0
[code]
   2.aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero -vv -i
[code]

***Test Recipe***
sof (master): 05d4e190
linux (topic/sof-dev): 820e8413
topology: sof-apl-pcm512x.tplg, sof-apl-nocodec.tplg

[2019-05-08 02:40] wenqingfu commented on #910
@mengdonglin to reach out to @jason77-wang for fix in codec driver

[2019-05-08 02:45] wenqingfu commented on #911
likely a codec driver bug.

[2019-05-08 02:46] keyonjie commented on #911
yes, @ClarexZhou please check and share the Jack status for both plug-in and plug-out once the issue happened.

[2019-05-08 02:48] wenqingfu commented on #909
likely a jack update bug from codec driver. @mengdonglin to follow up

[2019-05-08 02:52] bardliao commented on #911
@ClarexZhou Could you check if holding headset button and unplug can reproduce the issue?

[2019-05-08 03:02] libinyang commented on #874
@wenqingfu This is not dup of #898. We have a solution that we will fix it in UCM in @RanderWang patch of UCM.

[2019-05-08 03:06] libinyang commented on #874
As @wenqingfu suggested, Kai still need to look into this bug as the bug may exist on other platforms

[2019-05-08 04:20] wenqingfu commented on #846
should it be closed then, since #872 is merged now? @xiulipan

[2019-05-08 05:48] xiulipan commented on #846
@wenqingfu
YES, I am glad that the RFC is just got accepted.

Fixed by #872

[2019-05-08 05:50] ranj063 commented on #846
@xiulipan dont we want to add the parser to show the status from the raw ipc regsiter values?

[2019-05-08 05:55] xiulipan commented on #846
@ranj063
I would like to do that with IPC2.0 feature. To define a state machine for the IPC mechanism, otherwise I am not sure if we can get some parser status with the bits we have.

[2019-05-08 05:58] ranj063 commented on #846
@xiulipan fair enough. Lets modify the issue requirement and keep it open. Else it will get swept under the carpet

[2019-05-08 06:07] YvonneYang2 commented on #911
Test 20 times unplug the headphone by holding the headset button, can not reproduce the issue. @bardliao

[2019-05-08 08:39] RanderWang commented on #724
I tested on two different Whiskylake today based on latest kernel and FW,  and found there is no such issue now. @keyonjie  what is your platform ?

[2019-05-08 08:47] YvonneYang2 opened #915 "[Bug][CML][UCM]UCM stop work after plug headset during suspend. (intermittent)"
**Describe the bug**
UCM stop work when wake up from suspend.

**To Reproduce**
1.Enter suspended via "sudo rtcwake -m mem -s 15"
2. Do HDMI & DP hot-plug during suspended.
3.Wake up and check the UCM. Enter suspended again via "sudo rtcwake -m mem -s 15"
4. Do headset hot plug during suspended.
5.Check the Sound setting after wake up

**Expected behavior**
UCM works normally when wake up from sus

[2019-05-08 10:13] YvonneYang2 opened #917 "[BUG][CML][DMIC]DMIC not work after remove headset when headset mic is selected in sound setting."
**Describe the bug**
DMIC can not work after remove the headset when headset mic is selected in sound setting.

**To Reproduce**
1.Plug in headset and choose headset mic from sound input setting.
2. Do parecord , and confirm capture can work via headset Mic.
3. Plug out headset
4. Do parecord, check if capture can work via build-in DMIC.
5. Open sound input setting, check if DMIC is highlighted au

[2019-05-08 11:33] lyakh commented on #876
Sorry, not sure I understand you correctly. Are you proposing to execute the suspend on the host, but not to shutdown the DSP core, i.e. not to call hda_dsp_core_reset_power_down()? Then the system would suspend, the resume presumably will succeed and the trace will contain the data from before the suspend?

It isn't very easy to exactly identify which step is failing. From what I've seen so far i

[2019-05-08 12:03] xiulipan commented on #876
@lyath Thanks for the testing. The 0x00032000 timed out looks just like there are some issue inside few to make the handler called after timeout.

For the 0x51000 one, maybe you need to check  if FW do the ipc handler. It seems you also need add some log in kernel IRQ handler.

[2019-05-08 13:23] mrajwa commented on #873
@lyakh thanks, I haven't used this git feature before. Anyway, are you sure that exactly this commit causes the timeout? It barely change samples size for internal use of KPB, I can not imagine how could it affect any IPC message. Not to mention you probably don't use KPB in your topology at all, do you?

PS: Bisect requires your judgement at the end of the day, so I feel like you spotted wrong co

[2019-05-08 13:51] kv2019i commented on #878
After some hickups (I first tried on latest sofdev tip, but that does not seem to work well on CML .. going to Rander's tree solved thse), I could reproduce the issue as reported.

However, as per recent discussion on alsa-devel, this is actually the expected behaviour and thus not a bug. Discussion here:
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/148817.html

Reporting an erro

[2019-05-08 16:02] lyakh commented on #876
Here's the best I was able to get today: the kernel view
[code]
The FW view:
[code]
There are a couple of added trace entries in the FW log. The first one is in `ipc_irq_handler()` and the last one is in `ipc_platform_do_cmd()` which is where the BUSY bit is set, when replying to an IPC message. On the kernel side we also see a received "trace position" message, to which I also added a print in th

[2019-05-08 16:32] lyakh commented on #876
Here's my best log of the day: on the kernel side
[code]
on the DSP side
[code]
Note received "trace position" messages in the kernel log and a very long delay in the DSP log. Both "IPC task entry" and "IPC complete" messages are printed from `ipc_platform_do_cmd()` which means, that the FW has blocked *inside* that function for that time. The function itself doesn't seem to have obvious possibili

[2019-05-08 16:39] wenqingfu commented on #867
Mark as won't fix for it's not a SOF problem.

[2019-05-08 16:39] #867 closed

[2019-05-08 23:02] wenqingfu commented on #878
@bardliao to pick up

[2019-05-08 23:20] wenqingfu commented on #466
@stevyan @ClarexZhou please re-test. thanks!

[2019-05-09 01:11] bardliao commented on #878
@wenqingfu done

[2019-05-09 01:21] ClarexZhou commented on #881
@RanderWang , error not occurred again.

[2019-05-09 01:40] RanderWang commented on #881
So let me close it

[2019-05-09 01:40] #881 closed

[2019-05-09 01:43] wenqingfu commented on #883
can you please share the link to your patch? is it merged? @libinyang

[2019-05-09 02:00] libinyang commented on #883
patch for hdac_hdmi.c in item 1 is merged

[2019-05-09 02:06] ClarexZhou opened #919 "[Bug][CML] ipc timed out for '0x40010000: GLB_PM_MSG: CTX_SAVE'"
**Summary:**
'ipc timed out for for '0x40010000: GLB_PM_MSG: CTX_SAVE' after stop aplay or system reboot.

**To reproduce**
Scenario A：Do system reboot stress test. Error occurred after system reboot.
Scenario B：Do aplay test several times. Error occurred after Stop aplay

**Actual result**
error: ipc timed out for 0x40010000: GLB_PM_MSG: CTX_SAVE

**Reproduce rate:** 1%

**Test recipe**
Rander UC

[2019-05-09 02:19] #910 closed

[2019-05-09 02:21] mengdonglin commented on #909
I will request Realtek to fix this codec issue on jack detection failure.

[2019-05-09 02:26] mengdonglin commented on #915
@RanderWang Please provide clues by check the error log.

[2019-05-09 02:28] mengdonglin commented on #911
Closing it because reproduce rate is very low and cannot be reproduced now. Will reopen if we reproduce it  again.

[2019-05-09 02:28] #911 closed

[2019-05-09 02:29] RanderWang commented on #915
[code]
It should be a driver issue. There is a HDMI monitor connected, I don't know whether this would affect the issue.

[2019-05-09 02:41] libinyang commented on #883
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/148874.html

[2019-05-09 02:44] libinyang commented on #883
for step 3: https://github.com/thesofproject/linux/issues/755

[2019-05-09 02:44] jason77-wang opened #920 "[feature][sof->pulseaudio] Thinking about dropping the UCM, try to use legacy hdaudio mixer name"
And I think we should not use the UCM for the sof/dmic for long term, it is fine to use UCM for this project due to the urgent schedule.

1. If the desgin of dmic->pch is not changed, but the codec is changed (it is very common issue, alc236->alc285->alcxxx or conextant codec, ...), we need to add a new ucm since codec changes usually means mixer changes.

2. If the desgin of dmic->pch is not chan

[2019-05-09 02:51] jason77-wang commented on #919
I met a similar/ same issue last night. the reproduce rate is about 1/10.
please refer to: https://bugs.launchpad.net/somerville/+bug/1821270/comments/29

[2019-05-09 04:48] ClarexZhou commented on #869
Error can't be reproduce now. Close

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：5b1bd17 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 39a3735  https://github.com/thesofproject/sof/commits/master |  
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF repo
file: tools/topology/sof-hda-generic.m4, sof-

[2019-05-09 04:48] #869 closed

[2019-05-09 05:10] ClarexZhou commented on #917
Add alsamixer status when error occurred after plug out headset.
test@test-Inspiron-5490:~$ amixer cget numid=34,iface=CARD,name='Headphone Mic Jack'
numid=34,iface=CARD,name='Headphone Mic Jack'
  ; type=BOOLEAN,access=r-------,values=1
  : values=off

[2019-05-09 05:30] ClarexZhou commented on #466
Error not seen on WHL. Modules unload and reload works OK

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：c99938c https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 05d4e19   https://github.com/thesofproject/sof/commits/master |  
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF repo
file: tools/topology/s

[2019-05-09 05:30] #466 closed

[2019-05-09 06:55] ClarexZhou commented on #878
Error not seen on CML laptop with Libin's fix.
**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：5b1bd17 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 39a3735  https://github.com/thesofproject/sof/commits/master |  
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF repo
file: tools/topology/sof-hda-generi

[2019-05-09 08:01] RanderWang commented on #917
After headset is unplugged,  DMIC is the default input
![Screenshot from 2019-05-09 16-02-22](https://user-images.githubusercontent.com/39945651/57437093-a960a700-7273-11e9-9191-32d69a6ca975.png)

[2019-05-09 08:02] RanderWang commented on #917
But when you parecord,  HeadSet is still used. So it is caused by pulse audio
![Screenshot from 2019-05-09 16-02-42](https://user-images.githubusercontent.com/39945651/57437168-ce551a00-7273-11e9-8c2c-8cc775c2c2ed.png)

[2019-05-09 08:04] RanderWang commented on #917
@ClarexZhou  next time testing paplay or parecord, please add flag of :  -v.  It will show you more info, including which device is used

[2019-05-09 08:24] singalsu opened #922 "Pass volume min/max linear values from actual volume scale to firmware"
The driver currently passes the volume ramp type and length topology tokens to firmware. The min/max fields are left zeros (would be derived from TLV volume scale). Volume now assumes that ramp of mute to unity gain takes the defined linear ramp time and computes ramp step accordingly.

This assumption creates a very long ramp completion time for high gains (practical for microphone capture). It w

[2019-05-09 08:44] kv2019i commented on #865
Same rootcause as #878, closing. FYI @libinyang @bardliao

@ClarexZhou, ok to close?

[2019-05-09 08:49] ClarexZhou commented on #865
@libinyang , seems your fix already avoid this issue: Always can be played with your fix. So  should this be close now?

[2019-05-09 08:52] kv2019i commented on #874
@libinyang

If you have a solution, please update the GH issue. I don't see any link to patches either in #898 or this one. Which one do you have a fix for?

I'll take a look at #898 first, and then this, unless already done solutions surface.

[2019-05-09 09:12] lyakh commented on #873
@mrajwa no, bisect doesn't require your judgement, as long as the problem is 100% reproducible and you don't make mistakes during bisecting. Of course, such mistakes are possible, that's why usually, especially when I cannot see how the identified culprit causes the problem, I double check it: I test the tree before the identified commit and after it. So, you don't have to feel, just please, do th

[2019-05-09 09:26] jason77-wang opened #924 "[BUG][CML] ipc timed out for 0x30010000 size 84"
Sometimes I boot the kernel, the dmesg shows "ipc timed out for 0x30010000 size 84", then the sof driver fails to initialize. After entering the desktop, there is no audio deivces at all. The reproducing rate is about 1/10. (with the beta release of 0430)

The related dmesg is:

[    2.077322] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 5
[    2.077324] sof-audio-pci 0000:00:1f.3: using HDA

[2019-05-09 09:28] zhuyingjiang commented on #924
A ABI problem?

[2019-05-09 10:02] bkokoszx commented on #907
@keyonjie
Could you try to reproduce with: https://github.com/thesofproject/sof/pull/1397 ?
I've also sometimes had hda dma buffer full timeout, but with PR 1397 I can not reproduce that (multiple pipeline python test passed 2000/2000 times).

[2019-05-09 10:19] kv2019i commented on #898
Managed to reproduce the error as described on CFL SDP. It would seem problem gets triggers by start of one pipeline, followed by failure to recever from the XRUN. Problem starts with:

<pre>
    0      2         PIPE 1.5      61817040.937500         6.614583 src/audio/pipeline.c:358    pipeline_prepare()
    0      2         HOST          61817044.218750         3.281250     src/audio/host.c:635

[2019-05-09 10:21] YvonneYang2 opened #925 "[Bug][CML]Audio output via DP have 2-5s latency at the beginning"
**Describe the bug**
Audio output have obvious latency at the beginning via DP

**To reproduce**
1.Play music via DP with command "aplay -Dhw:0,4 -f dat wav/48California_Dreaming.wav -vv -i"

**Expected behavior**
Audio output has no latency.

**Impact**
Audio output has obvious 2-5s latency at the beginning.

**Test env**
Rander UCM https://github.com/RanderWang/intel-UCM
Kernel repo：5b1bd17
http

[2019-05-09 10:26] keyonjie commented on #907
@bkokoszx worth to give a try, let's apply that for stress test.

[2019-05-09 13:37] kv2019i commented on #898
A few more observations:

- with enough iterations, the bug does not occur so reproduction rate seems less than 100%
- the error can be caused with different invocation orders
         - hdmi1->hdmi2->headset (original)
         - hdmi1->headset->hdmi2
         - headset->hdmi1->hdmi2
- as it's not specific to one specific route or sequence, it indicates this is a not a driver problem but rather a

[2019-05-09 20:57] wenqingfu commented on #917
I guess you mean 'unplugged'? @RanderWang

[2019-05-10 01:39] RanderWang commented on #724
I reproduced it in a corner case. It should be fixed by https://github.com/thesofproject/linux/pull/888

[2019-05-10 01:42] wenqingfu commented on #574
ok to close now, @keyonjie ?

[2019-05-10 01:42] wenqingfu commented on #576
ok to close now, @keyonjie ?

[2019-05-10 02:12] keyonjie commented on #574
yes, thanks for reminding, @wenqingfu. closing it now.

[2019-05-10 02:12] #574 closed

[2019-05-10 02:14] keyonjie commented on #576
This is not implemented in 1.0 release, let's keep it open to track 2.0 implementation.

[2019-05-10 02:23] mengdonglin commented on #912
@libinyang Please list short-term/long-term opens and effort here, provide PR ww20.1

[2019-05-10 02:26] wenqingfu commented on #755
low priority

[2019-05-10 02:29] mengdonglin commented on #915
@RanderWang @libinyang to check with HDMI support on CML

[2019-05-10 02:32] mengdonglin commented on #925
@libinyang please help to share analysis.

[2019-05-10 02:33] libinyang commented on #925
This may be caused by hdmi audio driver or monitor issue.
We have tried different monitors and the latency is different.

[2019-05-10 02:37] mengdonglin commented on #917
@jason77-wang  Please fix this PulseAudio issue.

[2019-05-10 02:54] RanderWang commented on #917
fixed it

[2019-05-10 03:27] #861 closed

[2019-05-10 03:56] wenqingfu commented on #874
IIRC, it's only for the specific CML device where there is no digit (SPDIF) output. @libinyang to articulate. It would still be valid bug, I think, on our CFL RVP

[2019-05-10 05:11] libinyang commented on #874
Yes, it is still a valid bug. So we should fix it, this is because:
1. UCM fixes it by not exporting to user by UI. user still can use aplay to hit this issue.
2. This is a general issue, not only related to CML.

[2019-05-10 06:13] RanderWang commented on #915
The error sequence is:
(1) pcm: prepare stream 0 dir 1
(2) pcm: hw params stream 0 dir 1
(3) pcm: trigger stream 0 dir 1 start
(4) pcm: trigger stream 0 dir 1 cmd stop
// miss pcm free
(5) pcm: prepare stream 0 dir 1
(6) pcm: hw params stream 0 dir 1
     error: hda dma is not free for application didn't free this hda dma by calling pcm free.

This bug is hard to be reproduced, so I can't make sur

[2019-05-10 06:18] ClarexZhou commented on #915
@RanderWang
Found one way to reproduce ipc error for 0x60010000 . Same dmesg and error sof logger. But UCM still works after these steps.

**To Reproduce**
1. aplay -Dhw:0,0 -f dat wav/48California_Dreaming.wav -vv -i
2. Pause music
3. Open another terminal, run 'sudo rtcwake -m mem -s 2' to enter S3 and wake up
4. Resume music
5. Ctl+z to put background
6. 'fg'. failed and error seen now.

**Term

[2019-05-10 06:49] libinyang commented on #915
hmm, it seems to be the pcm FE/BE resume issue. It may be caused by one Ranjani's patch. This is what I'm concerning when I reviewed Ranjani's patch. There is one argument state not precise. I will submit a patch next week after my HDMI jack task finished.

[2019-05-10 07:53] libinyang commented on #912
long term is to move jack to hdac_hdmi.c. short term is to implement in machine driver.
Currently I will do the short term.

And after check, our machine has some code to support jack. But it calls a wrong function, which will not create the jack.

[2019-05-10 09:17] emilchudzik commented on #924
@jason77-wang for reproduction purposes we need to know which branch/commit ID of kernel/topology/FW did you use.

[2019-05-10 09:26] keqiaozhang opened #929 "[BUG] WoV: No keyword detection before recording when runtime suspend is enabled"
**Describe the bug**
For the WoV, The recording process should wait until the keyword arrives, and then start recording. But when runtime suspend is enabled, it won't wait for keywords, but start recording
immediately.  Runtime suspend is enabled as default in our kernel driver.

**To Reproduce**
 arecord -Dhw:0,8 -M -N -r 16000 -f s16_le -c 2 wov.wav -vvv

**Expected behavior**
The recording proc

[2019-05-10 09:31] lyakh commented on #876
Status update: since I'm often seeing very long delays before the last message in the firmware trace, I began to suspect, that an interrupt is occurring in that time. To verify that I added code to record all interrupts, that might occur in that interval and I dump them with that last log entry. There is always a scheduler and a low-priority task interrupts there, used to schedule the IPC task. So

[2019-05-10 09:33] keyonjie commented on #929
Thanks for reporting the first issue for Keyword Detection, @keqiaozhang

1. The issue only happens at running 'arecord' after resuming from suspended status.

2. Something looks odd in dmesg to me is:
ipc rx: 0x50050039: GLB_COMP_MSG: unknown type

[2019-05-10 09:34] KailangYang commented on #908
#908 and #909 were related with #900

[2019-05-10 09:35] mengdonglin commented on #900
@kailangyang @jason77-wang

I backup your conclusion here:
"This issue was headset check type delay.
Headset, resume init delay 217ms and headset check type delay for 960ms.
So, 1.5s delay was make sense."

"It is not a new issue, and it is not specific to SOF driver."

[2019-05-10 09:43] ClarexZhou commented on #878
Update status:
HDMI can output normally after s3 when both HDMI and DP are connected.
But issue still exist when do system reboot with both HDMI and DP connected

[2019-05-10 11:04] KailangYang commented on #900
@mengdonglin @bardliao

I say it's make sense was upper. It was post by @bardliao.
Play a sound. it will trigger runtime resume.
It will run resume init then do headset check type.
It's 217ms+960ms for ALC3254(ALC295).
But if this hidden issue doesn't fix. This delay will higher than 3s for random.

[2019-05-10 11:06] jason77-wang commented on #917
I mentioned it before: because headset-mic and dmic belongs to two different sources in the PA, it will be more difficult for us to support them.

So far, please let headset-mic not support hotplug, that means let headset-mic always shows in the sound-setting no matter the headset is plugged or not, When users want to record via headset-mic, then choose headset-mic from UI, if users want to record

[2019-05-10 11:09] KailangYang commented on #909
@bardliao
Could I test it on legacy HDA driver?

@mengdonglin
Could Hui Wang join this github?

[2019-05-10 11:11] keyonjie commented on #929
root caused this to be that the detector binary config set fails(triggered after suspend/resume), please refer to Linux issue #919, we can quick workaround it with bypassing test_keyword_set_config().

[2019-05-10 11:38] kv2019i commented on #878
@ClarexZhou

Hmm, for one, this sounds like a new issue and the original reproduction steps do not apply, so a new issue would be better. Second, I can reproduce this. If I boot with HDMI and DP connected, audio plays just fine. Can you clarify the exact steps to reproduce?

[2019-05-10 11:56] YvonneYang2 commented on #878
There are two scenarios can reproduced the issue.
Scenario 1:
HDMI and DP both connected to laptop, then do system reboot. Do aplay via HDMI after system reboot.
Scenario 2:
Do s3 without HDMI&DP connected(not play music), then plug in HDMI and DP during s3. Do aplay via HDMI after wake up.
Both scenarios can reproduced the issue.

[2019-05-10 12:56] wenqingfu commented on #915
how often can these steps trigger the error? 100% or still intermittent? @ClarexZhou

[2019-05-10 13:21] emilchudzik commented on #924
@jason77-wang I see that you used beta release 0430. So probably this is commit ID from these day:
FW/tplg: e4a9f86 = be1331a [thesofproject/sof: master] + Bartosz Kokoszko fix for timeout

With this FW we haven't reproduction 0/30 on production laptop.

[2019-05-10 13:34] wenqingfu commented on #865
fixed by https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/148986.html

[2019-05-10 13:34] #865 closed

[2019-05-10 15:27] lyakh commented on #876
Three more observations:
1. Sometimes during an S3 stress test the whole system hangs, requiring a hard reset
2. In about 20-40% of the cases when an IPC timeout occurs, the logger returns an empty trace
3. Even in "normal" cases, when upon an IPC timeout a trace can be retrieved, it is often incomplete. But this might have a logical explanation, related to the IPC timeout itself

[2019-05-10 18:27] wenqingfu commented on #889
at least we can start with daily CI instead of PR CI. @xiulipan @fredoh9

[2019-05-10 18:49] plbossart commented on #889
Can you let me know if the kconfigs needs more work for ICL? I added the
DRM_I915_ALPHA as suggested by @freqoh9 and it works on my local
machine, but there CI machines might need other configs?

[2019-05-11 09:06] lyakh commented on #876
Traces seem to be corrupted sometimes:
[code]
where the last line should print the return code from `ipc_cmd()` for the pipeline-completion IPC, which can only return 0 or a negative error code.

[2019-05-11 22:43] plbossart opened #931 "Broadwell: xrun on startup"
SOF firmware boots fine on Broadwell/Samus but audio transfers crap out completely:

[code]
firmware 6eb79af18c7c8d6cefa4b8c80781fdeafd40adbb
kernel 35d7759478a978eb57e563189a0c385b649b2f24

We've added the code in the upstream kernel for Broadwell, this needs to be fixed.

In one case I heard valid sound for maybe a second before things stopped completely.

[2019-05-11 22:45] plbossart opened #932 "Broadwell: kernel warning w/ failed hw_params on media pipeline"
Bad kernel oops when using device 0,1 (media)

[code]

[code]
[dmesg.log](https://github.com/thesofproject/linux/files/3169516/dmesg.log)

firmware 6eb79af18c7c8d6cefa4b8c80781fdeafd40adbb
kernel 35d7759

[2019-05-11 23:08] plbossart opened #933 "Baytrail: sound output is garbled with beating noise"
I seriously question the results of the SOF CI and platform owners.

on Baytrail, a simple listening test on Asus T100 shows the audio is just corrupted, with beating noises and frequency shifts. This is just unacceptable, sorry, SOF is just complete garbage on all legacy platforms at this point. it's embarrassing to be that bad.

firmware 6eb79af18c7c8d6cefa4b8c80781fdeafd40adbb
kernel 35d7759

[2019-05-13 01:06] bardliao commented on #909
@kailangyang I don't see the issue on my laptop with ALC3254 codec. Neither SOF driver nor legacy HDA driver. @ClarexZhou Could you check it on your laptop with legacy HDA driver?
Please run ``echo 1 > /sys/module/snd_hda_intel/parameters/power_save`` as root before testing.

[2019-05-13 01:15] ClarexZhou commented on #915
These steps can 100% trigger  ipc error for 0x60010000 .  But UCM still works after ipc error for 0x60010000 .
@RanderWang Need to analysis if they are same root cause.

[2019-05-13 01:55] libinyang commented on #925
Test on legacy hda audio driver:
The latency is long at the first several playbacks as well as the SOF. But after several playback rounds, the latency is acceptable in legacy hda audio driver.

So this seems also to be related to the SOF audio driver.

[2019-05-13 01:59] YvonneYang2 commented on #669
Reproduced the bug during modules reload stress test

**env as below**:
Rander UCM https://github.com/RanderWang/intel-UCM
Kernel repo：d698c4f https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 030c81c https://github.com/thesofproject/sof/commits/master |
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF repo
file: tools/topology/sof-hda-gen

[2019-05-13 02:19] mengdonglin commented on #898
@kv2019i Can SOF PR https://github.com/thesofproject/sof/pull/1354  fix this issue in your side?

[2019-05-13 02:22] mengdonglin commented on #878
@keqiaozhang Please help to check to check on GLK and WHL RVP (i2s mode)
@ClarexZhou please help to check on CFL-S RVP.

[2019-05-13 03:08] YvonneYang2 opened #934 "[Bug][CML]ipc error for 0x60010000 size 20"
**Summary**:
100% reproduce 'ipc error for 0x60010000 size 20' after do steps as below.

**To reproduce**

1. aplay -Dhw:0,0 -f dat wav/48California_Dreaming.wav -vv -i
2. Pause music
3. Open another terminal, run 'sudo rtcwake -m mem -s 2' to enter S3 and wake up
4. Resume music
5. Ctl+z to put background
6. 'fg'. failed and error can been seen.

**Expect result**
Stream output normally.

**Repro

[2019-05-13 03:13] libinyang commented on #867
@zhuyingjiang Although it is closed, may I ask what is "source-direction-function"?

[2019-05-13 03:15] YvonneYang2 commented on #915
Split the bug that 100% reproduce ipc error for 0x60010000 to #934

[2019-05-13 04:07] xiulipan commented on #889
@plbossart
I think @fredoh9 and I will try to do some PR to kconfig base-config to support ICL.

[2019-05-13 04:26] zhuyingjiang commented on #867
@libinyang
Here is the link of Takashi Iwai's doc:
https://www.kernel.org/doc/html/v4.10/sound/kernel-api/writing-an-alsa-driver.html#control-names

[2019-05-13 05:15] libinyang commented on #867
OK. thanks.

[2019-05-13 05:19] libinyang commented on #865
Yes, this bug can be closed. This is because aplay will always work now even disconnect monitor.

However, there may be still an issue there. This root cause of this bug is that the monitor connection status can't be updated in time.

[2019-05-13 05:37] libinyang commented on #912
Patch is submitted https://github.com/thesofproject/linux/pull/935.
I will submit the patch to community later after a draft review internally.

[2019-05-13 05:59] bardliao commented on #837
The issue on ICL nocodec is #861 and #863 is merged.

[2019-05-13 05:59] #837 closed

[2019-05-13 07:21] ClarexZhou commented on #915
Original UCM stop work issue still occurred twice (reproduce frequency:2/20)via below steps：
1. both DP and HDMI are connected
2. Open sound setting
3. Enter S3, plug out DP and insert headset during S3
4. Wake up, paplay to play one music
5. Enter S3, plug out headset and plug in DP during S3
6. wake up,  check sound setting -> Error occurred, UCM not works.

**Environment**
Rander UCM https://gi

[2019-05-13 07:43] kv2019i commented on #898
@bkokoszx FYI, sounds indeed similar

[2019-05-13 08:01] Jiangxinx commented on #879
This issue can also be observed in arecord test.

***To reproduce***

    1.arecord -Dhw:0,0 test.wav  --dump-hw-params
    2.arecord -Dhw:0,0 test.wav -c2 -r 48000 -fS16_Le -vv -i
    3.arecord -Dhw:0,0 test.wav -c2 -r 48000 -fS24_Le -vv -i
    4.arecord -Dhw:0,0 test.wav -c2 -r 48000 -fS32_Le -vv -i

***Output***
step1:
[code]
step3:
[code]
step4:
[code]

***Dmesg***
[code]

***Test recipe***
da

[2019-05-13 08:05] kv2019i commented on #898
I tested but did not help, rather PR1354 created issues even with a single stream. I'll report about this on 1354.

[2019-05-13 08:11] libinyang commented on #934
patch is submitted: https://github.com/thesofproject/linux/pull/936

[2019-05-13 08:12] libinyang commented on #915
@ClarexZhou Please check if patch https://github.com/thesofproject/linux/pull/936 can fix this bug or not.

[2019-05-13 08:13] kv2019i commented on #898
Based on today's bug scrub, matches case reproduced in python test framework, moving to FW and tracking as thesofproject/sof#1413 . Closing this bug.

[2019-05-13 08:13] #898 closed

[2019-05-13 08:32] lyakh commented on #934
Interestingly the same test sequence also produces a similarly appearing (resume failing) error on Up^2 with different kernel and firmware messages. The proposed PR #936 also fixes it!

[2019-05-13 08:35] KailangYang commented on #910
Could you describe the issue more?
This issue only occured on ALC3204 platform. Right?

[2019-05-13 08:51] keqiaozhang commented on #878
@mengdonglin
No such issue on GLK.
On WHL, there's no HDMI output, only DP output is supported.

[2019-05-13 09:17] keyonjie commented on #929
I am working on this now...

[2019-05-13 10:36] YvonneYang2 commented on #878
Update one more reproduce scenario:

1. Do s3 with HDMI&DP both connected(not playing music)
2. Only play HDMI after wake up.

[2019-05-13 10:37] kv2019i commented on #874
Despite @ranj063 you stating earlier that your channel allocation fix doesn't help with this issue, I now get different results. With the sof+linux fix for channel allocation, this issue is fixed. I went back to unpatched kernel+fw, verified I can reproduce issue, and then went back to link-dma-allocation branch, and works.

@ClarexZhou bug is fixed in my setup with following:
thesofproject/sof#13

[2019-05-13 11:15] jajanusz commented on #924
@jason77-wang can you reproduce issue with latest changes? (they probably fix ipc timing issue)

[2019-05-13 12:08] kv2019i commented on #878
@YvonneYang2 wrote:

Ok, after a few tries, I could reproduce this at least once. It seems a IPC timeout is hit:
<pre>
[   26.117993] sof-audio-pci 0000:00:1f.3: ipc tx: 0x50010000: GLB_COMP_MSG: SET_VALUE
[   26.420763] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x50010000 size 108
[   26.420777] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005
[   26.421032] sof-audio-pci

[2019-05-13 13:06] kv2019i commented on #878
Hmm, ok, scenario2&3 seem to be duplicates of thesofproject/linux#919 (UPDATE: more close thesofproject/linux#944 ). I can prevent the problem with my ignoring the save state error, but this is not a proper fix. The steps described here are OTOH provide an easier way to replicate the problem.

Scenario1 occurs much less frequently, but would seem to be a different problem.

[2019-05-13 15:19] lyakh commented on #876
I'm looking for new ideas. I see the following:
1. The system is preparing to suspend
2. For this the sound card is (runtime-) woken up
3. The driver performs the DSP initialisation, including sending a topology to it
4. Sending the topology involves a strictly serialised repeating "sending of IPC -> waiting for reply" sequence
5. At some point one of IPC replies fails to arrive, which means there

[2019-05-13 15:54] lyakh commented on #876
I'm trying to exchange some data over the DSP-to-host mailbox, using e.g.
[code]
on the DSP side and
[code]
on the host side, but not getting the expected result...

[2019-05-13 16:50] wenqingfu commented on #660
are we done with this topic? @keyonjie

[2019-05-13 17:13] fredoh9 commented on #933
I have a Baytrail MinnowBoard(MB) i can take a look at.

[2019-05-13 17:57] fredoh9 commented on #889
@xiulipan
DRM_I915_ALPHA_SUPPORT is GPU's debug/temporary feature when new platform is initiated. It should not be enabled after reaching some milestones. Hence adding DRM_I915_ALPHA_SUPPORT to base-config may be not good idea.

[2019-05-13 18:11] plbossart commented on #933
there's been some issues before like this with DMA pointers being in the weeds, can you try and grab the SSP signals with a LogicPro, then export the values in an .csv file. It's the best way to see if the samples play in sequence.

[2019-05-13 20:51] plbossart opened #938 "[WHL/CML] kernel warning on failed hw_params"
This bug looks similar to the one logged for Broadwell (https://github.com/thesofproject/linux/issues/932) , so likely we have a systematic flaw at the kernel level

On a WHL device, I am able to load the firmware and topology. When trying to open a DMIC capture device, I have a timeout error and a dmesg warning telling me that the kernel error handling is not quite right.

[code]

I have no idea

[2019-05-13 20:59] plbossart commented on #938
forgot to mention

kernel: 7271e69af824e45bc488b9a3771461165fa15047
firmware: ​ e4a9f86a (w/ production key)
topology: ​ sof-hda-generic.tplg

[2019-05-13 22:59] xiulipan commented on #889
@fredoh9
But we may have more new platform, so keep it there will make sure all new platform work with i915 and HDMI codec.

[2019-05-13 23:25] xiulipan commented on #876
@lyakh
Yes, every time you will get DSP reset after a suspend/resume. And we will power off the DSP so everything in memory window is gone. If you would like to have some count, make it in some register. There are few registers that are not using, or you can just use some bits of the register.

[2019-05-14 01:22] mengdonglin commented on #917
@jason77-wang I think you need to customize the UCM for system integration, like adjusting volume, doing workaround for PulseAudio or providing more user-friendly hot-plug effect in GUI Sound Settings etc.

The UCM provided by @RanderWang is just a reference/prototype for how SOF can work with legacy HD-A codecs and to kick off system integration. But we cannot do further customization or workarou

[2019-05-14 01:22] #917 closed

[2019-05-14 01:37] ClarexZhou commented on #938
ipc timed out issue occurred on CML laptop during modules reload stress test.

[code]
**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：3cfd789 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 3f1b929 https://github.com/thesofproject/sof/commits/master |  
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF re

[2019-05-14 01:45] keyonjie commented on #660
@wenqingfu I think so, to move to ALSA Xrun handling, we should define NO_XRUN_RECOVERY in FW and select CONFIG_SND_SOC_SOF_DEBUG_XRUN_STOP in driver(or add this to FW_READY struct later), but as we haven't defined NO_XRUN_RECOVERY in FW yet, so QA haven't verified this.

So in short sentence, let's say we still have half day's work(add it to FW_READY and remove CONFIG_SND_SOC_SOF_DEBUG_XRUN_STOP

[2019-05-14 01:50] ClarexZhou commented on #780
Error occurred on CML laptop during modules reloaded stress test, after 39 times modules reload. sof_pci_dev Used is changed to -1. And dmesg as below:
[code]
[reloadDmesg.log](https://github.com/thesofproject/linux/files/3175489/reloadDmesg.log)

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：3cfd789 https://github.com/thesofproject/linux/tree/release/sof-v5.0
F

[2019-05-14 02:23] mengdonglin commented on #866
Patch applied to upstream and topic/sof-dev. Closing.

[2019-05-14 02:23] #866 closed

[2019-05-14 02:24] mengdonglin commented on #912
@libinyang please share UCM to Clare. @ClarexZhou please verify #935 and UCM

[2019-05-14 02:25] wenqingfu commented on #866
fixed by #868

[2019-05-14 03:33] YvonneYang2 commented on #878
Checked on scenario123, ipc timeout issue not occurred during 10 times test. Only reproduced the original HDMI output issue: could play HDMI but no audio output when DP&HDMI both connected.

[2019-05-14 04:51] kv2019i commented on #878
@YvonneYang2 wrote:

Thanks a lot. So then we are seeing different issues. Let's track the IPC issues in different bugs (and open new ones if needed).  I cannot reproduce the no audio issues on my CFL setup now -- if playback starts and there is no IPC timeout, then I also hear audio. I will check if I can try on the Mantic CML device today and see how it behaves.

[2019-05-14 06:02] lyakh commented on #876
@xiulipan I'm not trying to keep the counter across suspends, I'm trying to send it from the DSP to the host. Can I use registers for that too without disturbing the IPC? Which ones?

[2019-05-14 06:09] sathyap-chrome opened #939 "SOF logs show prints which are actually not errors"
During suspend cycles and upon boot, we see some kernel logs as below even when there are no errors

[  344.605545] sof-audio-pci 0000:00:1f.3: error: rx list empty but received 0x0
[  446.001250] sof-audio-pci 0000:00:1f.3: firmware boot complete

In some cases, (we are yet to receive details from customer) the logs are very frequent.
is there recent change / fix to supress these msgs being flagg

[2019-05-14 07:07] ClarexZhou commented on #934
Retest on cml with PR #936 , ipc error issued is fixed. music can be switch to fg and output normally after s3
**Environment**
platform: CML laptop with ALC3204 codec, and CFL laptop with ALC3254 codec
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：9494607 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/com

[2019-05-14 07:54] lyakh commented on #876
For the record: following @lgirdwood 's idea to switch over from MSI to "legacy" interrupt mode didn't fix the problem.

[2019-05-14 08:29] lyakh commented on #876
update: mailbox is working now.

[2019-05-14 09:32] bkokoszx commented on #907
@keyonjie
Sory, I was wrong about my last suspicion. Could you try to test with:
https://github.com/thesofproject/sof/pull/1426/files

Sory, closed by mistake. I've reopened.