[2019-05-14 09:35] ClarexZhou commented on #874
Error still seen on CML laptop with thesofproject/sof#1354 and PR #895
**Environment**
platform: CML laptop with ALC3204 codec
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：9494607 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: https://github.com/bardliao/sof/tree/dell-test Which is commit id b73b9a64213240630d55e7b29ec19169727bd159 + PR #1354
Topol

[2019-05-14 09:45] tlauda commented on #938
@plbossart Logs indicate that the second boot of FW after previous ctx save has failed:
[code]
Status `0x5000001` points to the ROM still waiting for the FW to be loaded using Host DMA. Maybe there is the difference between the DMA id sent to the ROM (boot config msg from kernel) and the used one.

@ClarexZhou How did you figure it's the same issue? Please be smart when reporting the problems. You

[2019-05-14 09:59] tlauda commented on #924
@jason77-wang Missing FW log.

[2019-05-14 10:01] tlauda commented on #919
@ClarexZhou FW log is empty.

[2019-05-14 10:02] ClarexZhou commented on #938
@tlauda  I though might same for checking the dmesg and find same ipc timed out error.  And sof-logger catching failed during auto test last night.  Will keep monitor and upload FW log once  error occurred again.

[2019-05-14 10:06] ClarexZhou commented on #919
@tlauda  my mistake. update FW log in original error.

[2019-05-14 10:08] YvonneYang2 opened #940 "[BUG][CFL]Firmware load failed when system boot up.(Random)"
**Describe the bug**
Sudo reboot to do system reboot, do aplay or arecord , error shows " load fw failed ret: -110" .

**To Reproduce**

1. Sudo reboot to do system reboot,
2. Do arecord via command "arecord -Dhw:0,0 -f dat wav/test1.wav"

**Expected behavior**
Bootup without any issues and arecord successfully.

**Impact**
Shows "error: load fw failed ret: -110 "

**Reproduce rate**
Random

**Tes

[2019-05-14 10:45] zhuyingjiang opened #941 "refine the code of read/write HDA registers"
There are 4 ways used to read/write HDA registers in current code,
1: the HDA lib code with prefix **snd_hdac_** head macro defines
2: the HDA lib code with prefix **snd_hdac_** in C files
3: the SOF defined function with prefix **snd_sof_dsp_**
4: directly read/write the registers
Currently, the 4 ways are all used in the code, we need to simplify this to make the read/write consistence, to make

[2019-05-14 11:13] keyonjie commented on #929
Linux PR #942 and thesofproject/sof#1427 is the fix for this issue.

[2019-05-14 11:34] lyakh commented on #876
500 iterations - check. I think I've fixed it, expect a patch soon.

[2019-05-14 12:40] wenqingfu commented on #934
please help to post your review to #936 and approve it if you agree @lyakh

[2019-05-14 12:58] wenqingfu commented on #876
please keep the test running while cooking your patch. last year we did 10k iterations to truly prove it's gone :)

[2019-05-14 13:02] #934 closed

[2019-05-14 13:14] plbossart commented on #939
This looks like an older version of SOF, maybe 2-3 month old already? we don't have this rx list anymore

[2019-05-14 13:24] plbossart commented on #941
I don't understand @keyonjie 's proposal. It makes no sense to re-implement the same functions with a different license, it's completely unmaintainable.

[2019-05-14 14:19] sathyap-chrome commented on #939
Hi Pierre, yes you are right.
So i tested with latest upstream set and see the other 2 lines @ every suspend call and resume thereafter.

sof-audio-pci 0000:00:1f.3: error: no reply expected, received 0x0
sof-audio-pci 0000:00:1f.3: firmware boot complete

I'm still checking with reporter which scenario are these coming frequently, but i wanted to know if we can suppress few of these or move it un

[2019-05-14 14:30] kv2019i opened #944 "[Bug][WHL] ipc timed out after S3 after '0x40010000: GLB_PM_MSG: CTX_SAVE'"
**Summary:**
'ipc timed out for for '0x40010000: GLB_PM_MSG: CTX_SAVE' after stop aplay or system reboot.

**To reproduce**
Set up: Mantis WHL, no peripherals connected excepte USB etherner card for remote ssh.
Boot Mantis WHL device.
Log in.
Open shell and force S3 with:
<code>sudo rtcwake -m mem -s 3</code>

**Actual result**
error: ipc timed out for 0x40010000: GLB_PM_MSG: CTX_SAVE

**Reproduce

[2019-05-14 14:33] kv2019i commented on #944
@ClarexZhou FYI ... this is similar to https://github.com/thesofproject/linux/issues/919 but this specifically appens with the S3 routine. Let's track separately as the steps to reproduce are different.

[2019-05-14 16:12] #893 closed

[2019-05-14 16:22] kv2019i commented on #878
@YvonneYang2 I tried to reproduce this on WHL/Mantis by plugging in a non-audio DP destination (via USB-C DP mode), but could not trigger this. I'll get some more accessories in a couple of days so I can retry the tests once more with audio capable DP monitor, but it starts to seem this issue is very specific to your environment, and without any obvious errors in the logs, it is very hard to fix r

[2019-05-14 16:43] plbossart opened #945 "kernel oops on ICL when removing sof-pci-dev after failed firmware boot"
More issues with bad error handling. In this case the firmware boot issue is expected but that shouldn't lead to a kernel bug.

[code]

[2019-05-14 16:46] fredoh9 commented on #933
As i have only MB nocodec mode, i wanted to try to use loopback first but recording path has only silence. Not sure it was working before.
I need to check i can borrow LogicPro.

[2019-05-14 20:43] plbossart commented on #932
@keyonjie this can be root caused to your changes for the period_elapsed work queue. When an error occurs in sof_pcm_hw_params(), the INIT_WORK is not executed, but we still call sof_pcm_hw_free() and call cancel_work_sync() with an uninitialized work queue. that's not so good.

I am not sure how to deal with this except with a flag that indicates the workqueue was successfully initialized.

[2019-05-14 21:23] plbossart commented on #932
PR947 fixes the issue

[code]
[code]

[2019-05-14 23:18] xiulipan commented on #879
I looks like some tplg issue. Some buffer size calculator must go wrong. Will check that

[2019-05-15 00:07] xiulipan commented on #939
This should be rom reply message in DSP reset. We are still in discussion about how to make it look nicer.

[2019-05-15 00:14] xiulipan commented on #878
That would be tricky. HDMI playback need some more amixer setting. Can you confirm that the same PCM will work without any other setting to HDMI monitor?

[2019-05-15 03:31] sathyap-chrome commented on #939
Thanks xiulipan.
Will keep our issue tracker updated on the same

[2019-05-15 08:20] mengdonglin commented on #878
@YvonneYang2 Please provide the more logs asked by Kai.

[2019-05-15 08:22] mengdonglin commented on #938
@plbossart Please check if Rajani's PR can fix this issue?
https://github.com/thesofproject/linux/pull/895
https://github.com/thesofproject/sof/pull/1354

[2019-05-15 08:32] RanderWang commented on #940
@YvonneYang2 This should be fixed by link dma refinement by @ranj063 https://github.com/thesofproject/linux/pull/895
It is a HDA issue, not a IPC timeout issue.

[2019-05-15 09:03] lyakh commented on #876
fixed by #943

[2019-05-15 09:06] YvonneYang2 commented on #878
**Test recipe**
Rander UCM https://github.com/RanderWang/intel-UCM
Kernel repo：4e6eefc https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/commits/debug-ipc-timeout
Topology: https://github.com/thesofproject/sof/commits/debug-ipc-timeout	Same as above SOF repo
file: tools/topology/sof-hda-generic.m4, sof-hda-generic-2ch.tplg

I'v

[2019-05-15 09:40] RanderWang commented on #874
I tried legacy HDA, there is no digital support for this codec, so your test is invalid.
And if this is a bug, please report to realtek and close this bug. And on ubuntu please
use UCM which will only report we support pcm.

[2019-05-15 10:48] ClarexZhou commented on #915
Error not occurred with patch #936 during daily test. Close.

[2019-05-15 10:48] #915 closed

[2019-05-15 12:08] zhuyingjiang commented on #941
@lgirdwood Could you provide your comments. Or I will mark this as won't fix.

[2019-05-15 12:30] plbossart commented on #941
how about @keyonjie explains his views? It's not very helpful to have a one-way conversation.

[2019-05-15 12:35] kv2019i commented on #878
Thanks a lot! One clarification:

@YvonneYang2 wrote:

Which scenario these logs are for? Let's focus on one scenario only, otherwise it's very hard to analyze the logs. I guess this is scenario3 as I see monitors connected both before and after S3? Can you confirm?

Otherwise PCM status seems ok (hw_ptr is advancing status1.txt -> status2.txt). Display status is also correct, both monitors are de

[2019-05-15 15:54] xiulipan commented on #876
@lyakh It seems we have a patch for this in FW now https://github.com/thesofproject/sof/pull/1441

[2019-05-16 01:41] YvonneYang2 commented on #878
OK, I reproduced the issue again. Update all logs and detailed the test recipe. Let's focus on the scenario 3 :

1. Do s3 with HDMI&DP both connected(not playing music)
2. Only play HDMI after wake up.

**Test recipe**
Rander UCM https://github.com/RanderWang/intel-UCM
Kernel repo：4e6eefc https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofp

[2019-05-16 02:26] mengdonglin commented on #874
Closing as invalid use case for codec without support for digital output.

[2019-05-16 02:26] #874 closed

[2019-05-16 02:39] YvonneYang2 opened #951 "[BUG][CML]Aplay not exist after do Suspeand & Resume with playback_Analog_50 times"
**Describe the bug**
Aplay not exist after do Suspeand & Resume with playback_Analog_50 times

**To Reproduce**

Set Suspeand & Resume with playback_Analog_50 times via command “aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 50 1 1”

**Expected behavior**
Streaming will continuous playback during the 50 times test

**Actual result**
Show "aplay not exist", but do aplay again c

[2019-05-16 02:58] libinyang commented on #912
UCM has been updated to  branch's branch.

[2019-05-16 02:59] libinyang commented on #883
UCM for step1 and step2 is ready now and updated to Rander's branch.

[2019-05-16 04:12] jason77-wang commented on #920
I just have a try with this idea, Looks like except the HDMI audio still can't work, others works better than before, the audio-selection-dialogue can shows up now:

add sof-skl_hda_car cards.HDA-Intel in the /usr/share/alsa/cards/aliases.conf

add below section to /usr/share/pulseaudio/alsa-mixer/profile-sets/default.conf
[Mapping analog-stereo-dmic]
device-strings = hw:%f,6
channel-map = left,ri

[2019-05-16 05:55] mengdonglin commented on #941
Paste @keyonjie 's previous comments for further discussion:
https://github.com/thesofproject/linux/pull/877#discussion_r282752129

"Hi @plbossart IMHO, we should use snd_hdac_() version in all possible places, as those snd_hdac_() are all headers only, the io_ops implementation is in our hda_bus.c.

As we aligned before SOF HDA/HDMI implemented last year, we came out to that we can use hdac libra

[2019-05-16 06:14] xun2z commented on #873
I root-caused this issue today. It seems we have some modification (2 commits) in dw-dma.c (SOF Firmware) leads to this issue. The following 2 both causes this issue.

- [dw-dma: handle interrupts per core](https://github.com/thesofproject/sof/commit/7275e422d86f8bfa06074759cc96ee1572c7b8a4) [7275e42]
- [dw-dma: clear block/transfer irq after stop](https://github.com/thesofproject/sof/commit/433de

[2019-05-16 06:52] kv2019i commented on #944
Assigning for myself as I can reproduce this easily.

To exclude possible compiler impact, tested this scenario today with both GCC built image and  XT-CC built image from @emilchudzik and outcome and repro rates are the same.

[2019-05-16 08:02] zhuyingjiang commented on #945
@plbossart this issue is already fixed by #946?

[2019-05-16 08:29] keqiaozhang commented on #929
Confirmed that this issue is fixed by Linux PR #942 and thesofproject/sof#1427.

[2019-05-16 08:29] #929 closed

[2019-05-16 08:38] zhuyingjiang commented on #776
the misc clock gating part is fixed by #877.
as suggested by Lech's mail:
1.      PGCTL has a reversed logic. PGCTL.ADSPPG == 1 means that power gating is disabled
=> done by #249
2.      CGCTL.MISCBDCGE needs to be disabled during controller reset
=>done by #877
mark as fixed.

[2019-05-16 08:38] #776 closed

[2019-05-16 09:27] YvonneYang2 opened #952 "[BUG][CML]DP&HDMI hot plug detection failed after S3"
**Summary**:
DP and HDMI hot plug detection failed after S3

**To reproduce**

1. Plug in HDMI or DP before s3 and check the hot-plug status via "amixer cget numid=37" or "amixer cget numid=38"
2. Do s3 and plug out HDMI or DP after s3
3. Check the hot-plug status via "amixer cget numid=37" or "amixer cget numid=38"

**Expect result**
Hot-plug status should de "value=off" after plug out HDMI or DP

[2019-05-16 09:45] YvonneYang2 opened #953 "[BUG][CML]Audio output via internal speaker will have 1-2s latency"
**Summary**:
Audio output via internal speaker will have 1-2s latency

**To reproduce**
Make sure not plug in headphone or headset
Play music via command "aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav"

**Expect result**
Streaming output normally without latency

**Impact**
Streaming output will have 1-2 latency between press the enter and show the music playing status.

**Repr

[2019-05-16 09:56] keyonjie commented on #907
Hi @bkokoszx we tried your sof PR#1426 but it looks no obvious improvement for the issue in my observation.

[2019-05-16 10:14] Jiangxinx commented on #899
This issue can not be reproduced on APL_UP2_NOCODEC and APL_UP2_PCM512X platform today (0/1000).

***recipe***
linux (topic/sof-dev) : 465c8e40
sof (master) : 73cefecd
topology : sof-apl-nocodec.tplg & sof-apl-pcm512x.tplg

[2019-05-16 11:10] kv2019i commented on #878
@YvonneYang2 wrote:

One interesting finding from the most recent log. You state that you are not playing music when S3 is hit. However the logs show that PCM is running when S3 suspend process is started. Is this correct, did you stop aplay well before entering S3, or do we have an issue that PCM playback did not properly stop and you in fact have HDMI playback active when S3 is entered. This sho

[2019-05-16 11:20] YvonneYang2 opened #954 "[BUG][CML]Paplay has no sound after plug out DP"
**Summary**:
Paplay has no sound after plug out DP

**To reproduce**

1. Plug in DP and choose DP in sound settings
2. Paplay music via command "paplay 48California_Dreaming.wav"
3. Plug out DP and Paplay music again

**Expect result**
Music should output normally

**Impact**
Internal speaker in sound settings auto highlight but not be choosen. No audio output.

**Reproduce rate: 100%**

**Test re

[2019-05-16 11:22] YvonneYang2 commented on #954
Same root cause with https://github.com/thesofproject/linux/issues/915 . So close the bug.

[2019-05-16 11:22] #954 closed

[2019-05-16 12:00] kv2019i commented on #878
@YvonneYang2 Good news and bad news. :) I now got some extra cables to test dual output on WHL and now I managed to reproduce the problem. This is really good, ability to reproduce goes a long way. The bad news is this looks really tricky -- on SOF side, nothing seems wrong, so this may lead to graphics side. I'll report back.

[2019-05-16 12:34] KailangYang commented on #909
@bardliao @mengdonglin
I test it with Mantis(ALC3204) with Canonical OS with SOF. This issue will be reproduce.
But I test it under legacy HDA driver. It's not has this issue.
I think SOF was fail on handle unsolicited event.

[2019-05-16 12:36] KailangYang commented on #908
@mengdonglin

I had sent a fix patch to fix this issue.

[2019-05-16 12:45] KailangYang commented on #910
@mengdonglin @bardliao

I can't reproduce it on Mantis(ALC3204) and Wasp(ALC3204).

[2019-05-16 12:57] KailangYang commented on #900
@mengdonglin @bardliao @jason77-wang
I put chip->polling_mode = 1 with whisky lake ID in legacy HDA driver(hda_intel.c).
This random sound delay issue will be solved.
Hui Wang and I test it which issue was gone with option chip->polling_mode = 1.
But It's just workarround. it's not a real solution for major fixed.

[2019-05-16 13:56] jason77-wang commented on #900
On my machine, it had playback delay and jack detection delay when using legacy HD-Audio driver, after setting polling_mode=1, the playback delay disappears, and the jack detection delay isn't that long, it is acceptable since it needs to run some jack checking routines.

The hda controller is 8086:9dc8.

I can confirm kailangyang's finding can work well on my machine.

[2019-05-16 14:28] plbossart commented on #941
@keyonjie are you seriously recommending using the same interface with TWO implementations using TWO licenses?

[2019-05-16 14:32] #871 closed

[2019-05-16 14:45] plbossart commented on #945
yes, we can close this.

[2019-05-16 14:45] #945 closed

[2019-05-16 14:50] KailangYang commented on #953
This issue was same as issue #900 .

[2019-05-16 14:52] KailangYang commented on #900
@mengdonglin
This issue was same as issue #953.
The reproduce rate was high than legacy HDA driver.

[2019-05-17 00:46] mengdonglin commented on #874
We’ve verified HDMI, DP and 1 stream for analog output will not interact each other (issue #878 , can be fixed by PR https://github.com/thesofproject/linux/pull/895 and https://github.com/thesofproject/sof/pull/1354). So I think SOF is okay because SOF driver handles all HD-A streams in a generic way.

We can double check after we have a codec with digit support to verify if there is still a real

[2019-05-17 01:00] mengdonglin commented on #954
Kernel message shows that Paplay still try to play to the PCM device (#4) for the DP monitor which is actually disconnected and reported by driver:

[  744.241123] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 6:0
[  748.280025] HDMI HDA Codec ehdaudio0D2: No connections found for pin:port 6:0
[  748.280031] sof-audio-pci 0000:00:1f.3: pcm: open stream 4 dir 0

[2019-05-17 01:12] mengdonglin commented on #920
@jason77-wang  Thanks!
@libinyang is working https://github.com/thesofproject/linux/pull/935 to improve ASoC/SOF driver support for HDMI hotplug. Still in progress. I think this will improve your integration even w/o UCM.

[2019-05-17 01:16] mengdonglin opened #956 "[Feature] Better UCM support for SOF in upstream"
Let's collect key points to upstream a reference UCM for SOF to alsa-lib, welcome for comments/correction:

- Leverage long name of sound card for device differentiation that can share the same machine driver but using different codecs.
- Separate codec UCM configuraiton, i.e. include different codec conf in machine conf
- Support  headset/headphone JACK detection via codec
- Support JACK detectio

[2019-05-17 01:18] mengdonglin commented on #920
@jason77-wang @lgirdwood @RanderWang @kv2019i  Let's cover the concern in feature https://github.com/thesofproject/linux/issues/956

[2019-05-17 01:18] mengdonglin commented on #874
For topology, I think it can provide a max set of codec capabilities. But we can use different codec UCM configurations to cover the diversity. We can have more discussion in https://github.com/thesofproject/linux/issues/956

[2019-05-17 01:23] libinyang commented on #920
As we discussed before that we preferred UCM. UCM has a formal interface and easy to extend, doesn't it? @lgirdwood

What's my concern for legacy method is not HDMI's naming, but other mixers, such as DMIC and other pipelines mixer name. Do we have a good solution for all the mixer names?

[2019-05-17 01:47] wenqingfu commented on #874
It should be called "invalid". restore the "duplicate" label.

Quote @kv2019i  "With the sof+linux fix for channel allocation, this issue is fixed. I went back to unpatched kernel+fw, verified I can reproduce issue, and then went back to link-dma-allocation branch, and works."

[2019-05-17 01:49] plbossart commented on #956
I'd like to find a way to reuse the legacy UCM files and just substitute the SST parts with the SOF info. it's not scalable if we have to maintain stuff twice. this means finding a way to detect that when the card begins with sof- it may still use existing components.

[2019-05-17 01:59] YvonneYang2 commented on #878
Tried scenario 3 many times that stop music before enter s3, I found that sometimes dmesg has the close stream message and sometimes not have the close stream message. But no matter if  shows close stream message, HDMI still has no audio output after waking up from s3 . If you need, I will catch the all logs you need with dmesg shows close stream.

dmesg shows close stream messge during test as be

[2019-05-17 03:39] YvonneYang2 opened #957 "[BUG][CML]HDMI hot plug out status cannot be detected."
**Summary**:
[BUG][CML]Can not detect the HDMI plug out status

**To reproduce**

1. Make sure no external monitor or headphone plug in after system reboot
2. Check the HDMI detect status via command "amixer cget numid=37"
3. Plug in external HDMI monitor and check the HDMI status via command "amixer cget numid=37"
4. Plug out HDMI monitor, and check check the HDMI status via command "amixer cget

[2019-05-17 05:11] mengdonglin commented on #855
Will track upstream progress in feature #956

[2019-05-17 05:15] mengdonglin commented on #908
@kailangyang Could you also share your patch here? Thanks

[2019-05-17 05:35] KailangYang commented on #908
Attch patch.

[0000-fix-check-headset-type.patch.txt](https://github.com/thesofproject/linux/files/3190001/0000-fix-check-headset-type.patch.txt)

[2019-05-17 05:45] KailangYang commented on #909
@ClarexZhou
Hi,
You post a wrong message. below was the Headphone Mic Jack. It's not Headset Mic Jack.

test@test-Inspiron-5490:~$ amixer cget numid=34,iface=CARD,name='Headphone Mic Jack'
numid=34,iface=CARD,name='Headphone Mic Jack'
  ; type=BOOLEAN,access=r-------,values=1
  : values=off

[2019-05-17 05:50] ClarexZhou commented on #909
@kailangyang ,Only one phantom jack for headset.  numid=35,iface=CARD,name='Headset Mic Phantom Jack'.
Now UCM is using 'Headphone Mic Jack' for headset detection.
@RanderWang please comment more details once needed.

[2019-05-17 06:16] KailangYang commented on #911
@mengdonglin
I think you could refference legacy HDA driver first when you meet issue.
HDA driver was going for 15 years up. It's very stable.

This issue doesn't relation with codec driver. it's just register unsolicited event.
Jack JD was register in unsolicited event of controller code.
If jack is plug in, controller will process event for inerrupt.
If you need more info, this all in the contro

[2019-05-17 06:22] stevyan commented on #873
This issue isn't occurred after reverted those 2 commits over 300 aplay & arecord interrupted test;

**Test Recipe**
date: 2019-05-17
sof (master): f04bc83f + reverted (7275e42, 433de9f)
linux (topic/sof-dev): 2291b8c2
topology: sof-byt-rt5651.tplg

[2019-05-17 06:38] ClarexZhou commented on #909
Error still seen with Realtek commit ALSA: hda/realtek - Check headset type by unplug and resume https://github.com/thesofproject/linux/commit/df06e42c0153e720ef413e42ba12e8f58e71e358

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/tree/hdmi
Kernel repo: df06e42 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/

[2019-05-17 06:45] YvonneYang2 commented on #908
Error not reproduced with Realtek commit ALSA: hda/realtek - Check headset type by unplug and resume.

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/tree/hdmi
Kernel repo: df06e42 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/commits/debug-ipc-timeout
Topology: https://github.com/thesofproject/sof/commi

[2019-05-17 06:56] KailangYang commented on #909
@ClarexZhou , Why?

Headphone MIC was comon link to headphone. So, we call that Headphone MIC.
It's the pure Mic for 3 ring jack.
The headset was include Mic. It had headphone and headset Mic for 4 ring jack.
So, "UCM is using 'Headphone Mic Jack' for headset detection" is wrong.

[2019-05-17 07:14] bardliao commented on #900
Let's move the discussion to #953 and let #900 focus on headset detection issue

[2019-05-17 07:21] RanderWang commented on #909
@kailangyang  Do you remember I sent a email to you about this issue. This is our discussion

[code]

[2019-05-17 07:22] bardliao commented on #953
@mengdonglin The polling_mode is on [azx_rirb_get_response](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_controller.c#L795), but SOF uses [snd_hdac_bus_get_response](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/hda/hdac_controller.c#L233). I think we can implement it on snd_hdac_bus_get_response

[2019-05-17 07:26] jason77-wang commented on #892
If we use the ucm, It is highly possible that we need to change gnome-settings-daemon and gnome-control-center to fix this issue.

[2019-05-17 07:54] KailangYang commented on #909
@RanderWang @mengdonglin

I just check “Headset Mic Phantom Jack” in Dell platform vs  “Mic Jack” in your platform.
That difference is one use software headset mode and yours use codec auto headset mode.
So, I reply you the difference. Maybe I don't understand what you mean.

[2019-05-17 08:05] RanderWang commented on #909
@kailangyang  thanks, I got your idea. I didn't want to query "Headphone Mic Jack" for Headset Mic, but
this is a workaround for gnome-settings-daemon and gnome-control-center issue

[2019-05-17 08:08] KailangYang commented on #909
How to test easily?
Modify /etc/modprobe.d/alsa-base.conf ....
add  below to the end line.
options snd-hda-codec-realtek dyndbg

You could check dmesg for headset plug and unplug message.

[2019-05-17 08:14] KailangYang commented on #909
@RanderWang
What do you want to do?
Plug headset ... show pop menu. Right?

[2019-05-17 08:33] libinyang commented on #952
In this case, audio driver resume will be called before the eld is updated from gfx. This will cause the jack_event is wrongly counted.

[2019-05-17 09:08] ClarexZhou commented on #919
Error occurred twice during 330 times system reboot stress test on CML latptop.
No error sof logger.
[code]
**Environment** 
Kernel： linux-image-ipc_only.deb https://drive.google.com/drive/folders/16DI8IFPIGf-xjHw2n-5iVPwnkIyB-jpc?usp=sharing
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/tree/debug-ipc-timeout  
Topology: https://github.com/thesofproject/sof/tree/debug-ipc-timeout .

[2019-05-17 09:15] ClarexZhou opened #958 "[CML][Bug] IPC timed out for 0x60030000: GLB_STREAM_MSG: PCM_FREE in system reboot test"
**Summary:**
IPC timed out for 0x60030000: GLB_STREAM_MSG: PCM_FREE in system reboot test

**To reproduce**
Run ./test-reboot.sh 330 to do system reboot stress test, check dmesg once boot up during system reboot test.

**Actual result**
IPC timed out for 0x60030000: GLB_STREAM_MSG: PCM_FREE

**Expect result**
Boot up successfully without any ipc timed out issue.

**Reproduce rate:** 2/330

**Envir

[2019-05-17 09:33] bkokoszx commented on #907
@keyonjie
Thanks for update. :)

[2019-05-17 09:36] lyakh commented on #873
@xun2z thanks for tracking those commits down! Somehow I was getting very inconsistent results with my debugging, but I managed to confirm, that indeed those two commits create problems on BYT. @tlauda have you tested those your patches on BYT? I can well see how those changes make sense "in theory" for all platforms, including BYT, but in practice we get breakage. Would you agree to revert your p

[2019-05-17 09:51] tlauda commented on #873
@lyakh Does the following change would be OK with you?

[code]

[2019-05-17 10:39] lyakh commented on #873
@tlauda yes, almost, but with a bit of optimisation:
[code]

[2019-05-17 10:53] lyakh commented on #873
@tlauda that way the original order is preserved on all platforms:
1. clear the source IRQ
2. clear the platform IRQ
3. call the callbacks

[2019-05-17 11:07] tlauda commented on #873
@lyakh Looks great. Could you prepare the PR for the FW?

[2019-05-17 11:16] lyakh commented on #873
@tlauda yep, ready to push, just doing some basic smoke-testing on up2

[2019-05-17 11:17] juimonen commented on #933
@plbossart @fredoh9 is this still valid? I see other people and QA reporting that sound is ok, but there's timeout error with second playback... I also see this second playback issue in my logs, but the thing is that I have also crap sound, but now it seems that actually my hw is borked. I'm just confused about mixed reports here...

[2019-05-17 11:29] zhuyingjiang commented on #777
need to be checked:
1. hda_suspend/skl_suspend_dsp=>(skl_dsp_sleep)=>(skl_dsp_put_core)
2. hda_resume/skl_resume_dsp
3. hda_dsp_probe and hda_dsp_remove never called snd_hdac_bus_stop_chip only hda_suspend call that.
4. the skl_dsp_put_core

the functions below in hda-dsp.c are all checked with same read/write sequence:
hda_dsp_core_reset_enter,hda_dsp_core_reset_leave /skl_dsp_core_set_reset_stat

[2019-05-17 12:12] mengdonglin commented on #957
@kv2019i This issue may have the same root cause as https://github.com/thesofproject/linux/issues/878
and it seems GFX doesn't detect the disconnection of the monitor in time. @YvonneYang2 doesn't see the LCD splash after plugging out the monitor. Please help to give a check.

[2019-05-17 12:18] kv2019i commented on #944
Log with some additional debugs (FYI @emilchudzik  and @lyakh), comments with KV:

<pre>
May 17 13:10:52 rukoilijasirkka kernel: [   96.488640] sof-audio-pci 0000:00:1f.3: ipc tx succeeded: 0x40020000: GLB_PM_MSG: CTX_RESTORE
May 17 13:10:52 rukoilijasirkka kernel: [   96.960199] sof-audio-pci 0000:00:1f.3: IRQ!
***KV: added a trace to irq_thread to see when the thread is kicked
May 17 13:10:52 ru

[2019-05-17 15:03] lyakh commented on #951
@YvonneYang2 could you please clarify what 'Show "aplay not exist"' means? Or paste the output or attach a screen shot?

[2019-05-17 15:16] plbossart commented on #951
Agree with @lyakh, there is literally zero useful information to figure out what the issue might be. Even the logs don't show any error.

[2019-05-17 15:22] lyakh commented on #958
A full dmesg output is needed, attached logs are truncated

[2019-05-17 15:30] lyakh commented on #940
duplicate of #938

[2019-05-17 15:33] lyakh commented on #938
Are these two problems? (1) "fw failed to load" and (2) WARNING in __flush_work? The latter is also addressed in #932 , the former in #940 ? Better handle them separately, I think.

[2019-05-17 16:25] wenqingfu commented on #944
what about if you don't apply 1354 and 895?

[2019-05-18 22:13] plbossart opened #960 "WHL DMIC capture - DC filter on startup and low volume"
Not necessarily a bug but when trying DMIC capture on a WHL device with DMIC, the volume is extremely low and I can see a DC filter quicking in at the start. This is with the sof-cnl-nocodec topology and the latest firmware signed with the production key.

@singalsu care to take a look?

Stupid GitHub doesn't support wave files so using gzip. Meh.
[whl_dmic.wav.gz](https://github.com/thesofproject

[2019-05-20 01:29] mengdonglin commented on #912
Fixed by PR #935 that was merged

[2019-05-20 02:07] YvonneYang2 commented on #951
The issue so far only occurred once.

Command “aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 50 1 1" is to stress test S3 and resume with aplay playback.

"Aplay not exist" means aplay process was killed during s3.
After the issue occurred, we do aplay again, can aplay music normally.

[2019-05-20 04:57] jason77-wang opened #961 "[Feature][sof driver]: could coexist with legacy HD-audio driver and skylake asoc driver"
So far, we need to blacklist snd_hda_intel.ko or snd_soc_skl.ko to let sof driver work, could we don't blacklist any audio drivers and let them work togeter in the future, let the driver decide on its own if it should work or not runtime.

[2019-05-20 05:36] ClarexZhou commented on #912
Error not seen on CML laptop with PR #935
**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/tree/hdmi
Kernel：df06e42_ https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/commits/debug-ipc-timeout 
Topology: https://github.com/thesofproject/sof/tree/debug-ipc-timeout . Same as above SOF repo
file: tools/topology/s

[2019-05-20 05:36] #912 closed

[2019-05-20 07:41] KailangYang commented on #909
@jason77-wang
Could you help to test this issue for legacy HDA driver on Mantis?
I add option as below.

Modify /etc/modprobe.d/alsa-base.conf
add below to the end line.
options snd-hda-codec-realtek dyndbg

You could check dmesg for headset plug and unplug message.

[2019-05-20 08:16] kv2019i commented on #944
@lyakh Here's the full dmesg with unpatched SW+FW from the IPC timeout branches. In this log, FW load failed on 4th iteration.

Linux: 29fbf66682fe (sof/topic/ipc)
FW: 7330436e (debug-ipc-timeout)

[dmesg-20190520-i.txt](https://github.com/thesofproject/linux/files/3196867/dmesg-20190520-i.txt)

[2019-05-20 08:35] kv2019i commented on #944
@wenqingfu wrote:

1354+895 is not applied in the IPC branch. I did earlier test with the patches applied as well, but no difference. I'll next test the 5.0 release branch as Claire reported different results with that.

[2019-05-20 08:39] kv2019i commented on #957
@mengdonglin Ack, will check.

[2019-05-20 10:28] kv2019i commented on #944
@ClarexZhou @lyakh
Tested with:
48e3f0b1b6be (sof/topic/ipc-v5.0)
... and I get the same result as Clare, __no IPC timeout__. Did stress runs 0/500 and 0/100 iterations (a full system reboot in between). The patch delta between v5.0 branches and latest sof-dev is of course rather massive, but it's either an issue in upstream suspend code or in our rebase.

[2019-05-20 10:40] jason77-wang commented on #909
I can firm that this issue doesn't happen on legacy hda driver,
This issue can happen on sof driver.  Just like Kailang mentioned earlier, looks like the sof driver interrupt doesn't handle the jack plug/unplug unsol event.

[2019-05-20 11:01] kv2019i commented on #944
@lyakh noticed that there is a 20sec gap in timestamps just before the error in [dmesg-20190520-i.txt](https://github.com/thesofproject/linux/files/3196867/dmesg-20190520-i.txt)

I now took two more logs (with same 5.2-rc linux+fw as with previous log) and in these new logs, there is no 20sec gap visible:
[dmesg-20190520-iii-s3-stress-fails.txt](https://github.com/thesofproject/linux/files/3197523

[2019-05-20 12:14] YvonneYang2 opened #962 "[BUG][GLK]Alsamixer has no capture PGA volume control option of DMIC"
**Describe the bug**
Alsamixer has no PGA volume control option of DMIC

**To Reproduce**

1. arecord with DMIC via command "arecord -Dhw:0,99 -fs16_le -r 48000 -c 4 1.wav"
2. Open alsamixer and check the capture PGA volume control of DMIC

**Expected result**
Alsamixer will have capture PGA volume control of DMIC

**Actual result**
Alsamixer will have capture PGA volume control of DMIC. Only has

[2019-05-20 13:35] wenqingfu commented on #951
Information has been distorted. Please open a new one next time when you use playback_Analog_50 test case

[2019-05-20 13:35] #951 closed

[2019-05-20 14:13] lyakh commented on #958
This looks like a duplicate of #932 to me

[2019-05-20 14:26] kv2019i commented on #944
Hmm, I made an experiment and tried this scenario on sof/topic/sov-dev-rebase, then rebased the series back to 5.1 and back to 5.0. Results the following:

Branch  | Test result  | Comments
-------- | -------------|--------
sof/topic/sof-dev | FAIL | 5.2-rc
sof/topic/sov-dev-rebase | FAIL | 5.2-rc
above rebased to 5.1 | FAIL | https://github.com/kv2019i/linux/tree/topic/gh959-rebase-5.1-fails
abov

[2019-05-20 17:45] kv2019i commented on #944
The problem always  occurs when runtime PM suspend is triggered for the first time after a S3 resume.

Disabling runtime PM seems to avoid the problem and failures cannot be triggered.

[2019-05-20 20:37] ranj063 commented on #944
@kv2019i this change fixes the issue for me on CML:
[code]

[2019-05-20 20:42] ranj063 commented on #958
@ClarexZhou where is this is test-reboot.sh test script?

[2019-05-20 20:52] plbossart commented on #944
@ranj063 I don't get this fix at all. I thought we were not supposed to use any IPC or read memory windows after the CTX_SAVE IPC? Reading them after they are power gated sounds weird.

[2019-05-20 20:55] ranj063 commented on #938
@plbossart it looks like my PR 895 and FW PR 1354 fixes this issue as well. I am able to record from device 6 with these.

[2019-05-20 20:56] ranj063 commented on #944
@plbossart I totally agree and its quite bizarre that this seems to work. Let me try a test with CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE disabled to confirm my theory

[2019-05-20 21:00] wenqingfu commented on #940
close as dup of #938

[2019-05-20 21:00] #940 closed

[2019-05-20 21:13] ranj063 commented on #944
@plbossart I am convinced it is a problem with memcpy_fromio() thats causing the timeout but I am not an expert on it. I disabled CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE and I am able to run 100 iterations of the S3 stress test without any issues.

But I am not an expert and I could use some help

[2019-05-21 01:37] ClarexZhou commented on #958
@ranj063  attach test script and need add this sh file to system startup application first.
Also you can find all stress test scripts from https://gitlab.devtools.intel.com/sof-ci/sofcitest/tree/master/sof-test-suites/stress-test

[test-reboot.sh.txt](https://github.com/thesofproject/linux/files/3200371/test-reboot.sh.txt)

[2019-05-21 02:21] ranj063 commented on #944
@kv2019i I think we should call this P2 as the issue occurs only when CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE is enabled

[2019-05-21 02:45] ranj063 commented on #962
@YvonneYang2 why is this a bug? the DMIC capture pipeline in sof-glk-da7219 uses a passthrough pipeline. So there will be no volume coomponent or a volume control, isnt it?

[2019-05-21 03:03] wenqingfu commented on #900
headset detection issue is dup of #908 which has been fixed , see https://github.com/thesofproject/linux/issues/908#issuecomment-493326022

[2019-05-21 03:03] #900 closed

[2019-05-21 03:04] mengdonglin commented on #900
Further track playback latency on issue #953

[2019-05-21 05:15] YvonneYang2 commented on #962
OK. Agree with it. It's not a bug, close it.

[2019-05-21 05:15] #962 closed

[2019-05-21 05:37] libinyang commented on #957
The hdmi hotplug seems to be OK on my wasp. (very few times failed. It's more like the mechanical issue)

[2019-05-21 06:44] kv2019i commented on #944
@ranj063 wrote:

Ack. Excellent finding. I could reproduce your results as well, disabling debufgs cache save avoids the issue, so P2 is warranted.

I think both this and rebase back to 5.0 change the timing of the flow, and that leads to different repro rate. The actual rootcause is still unclear and that's still something we need to find out (or otherwise this will pop back).

[2019-05-21 10:06] YvonneYang2 commented on #953
Issue not reproduced with headset or without headset with PR https://github.com/thesofproject/linux/pull/963, so close the bug.

**Test recipe**:
Firmware: 5fa2426 https://github.com/thesofproject/sof/tree/master
Kernel: b58f448 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology:  file:  tools/topology/sof-hda-generic.tplg,  sof-hda-generic-2ch.tplg same as firmware
Kconfig: htt

[2019-05-21 10:34] kv2019i commented on #944
@ranj063 wrote:

I bisected all iomem areas separately and none of them clearly trigger the problem (I was first suspecting reading the register area would have unwanted side-effects). So clearly changing whicha nd how many iomem areas are dumped, changes repro rate, but still doesn't explain the rootcause. Looking at hda_suspend/resume code now. FYI @lyakh

[2019-05-21 11:12] YvonneYang2 opened #966 "[BUG][CML]System freeze after reload modules."
**Describe the bug**
Modules Reloading failed when remove modules and reload again

**To Reproduce**
1. Scenario 1:  Unload module with script "sudo ./sof_remove.sh" , reload module with script "sudo ./sof_insert.sh"(frequency: 6/10)
2. Scenario 2: run script "sudo ./sof_bootone.sh" (frequency:10/10)

Scripts can be found in:
[kmod_scripts.zip](https://github.com/thesofproject/linux/files/3210166/

[2019-05-21 12:35] bardliao commented on #909
@RanderWang @ClarexZhou Could you test with [sof-skl_hda_card.zip](https://github.com/thesofproject/linux/files/3202493/sof-skl_hda_card.zip) ucm file?
I can see the issue with https://github.com/RanderWang/intel-UCM/tree/hdmi, but don't see it with the attached ucm file

[2019-05-21 12:38] singalsu commented on #960
@plbossart Thanks for testing. It looks like there's four microphones in use, every channel is unique.

The low sensitivity is normal. Is this with our DMIC kit board? I think all mic capture pipelines should now contain a volume control so you could set the gain to e.g. +20 .. +30 dB to make it louder. With such gain applied it sounded quite good to me subjectively.

Yep, the gain ramp could be m

[2019-05-21 12:47] kv2019i commented on #944
@lgirdwood FWIW, here are hda+regs dumps after scenario of this bug happens:
[dump-hda-after-ctx-save-fail.zip](https://github.com/thesofproject/linux/files/3202541/dump-hda-after-ctx-save-fail.zip)
[dump-regs-after-ctx-save-fail.zip](https://github.com/thesofproject/linux/files/3202545/dump-regs-after-ctx-save-fail.zip)

I've also gone through hda_suspend/hda_resume code and nothing obvious pops

[2019-05-21 13:00] wenqingfu commented on #933
@Jiangxinx reported that he cannot reproduce this issue on MinnowBoard+RT5651, see https://github.com/thesofproject/sof/pull/1451#issuecomment-494315890

[2019-05-21 17:06] kv2019i commented on #944
Finally a potential rootcause candidate. I now see following sequence in multiple failures:

- sof_resume(runtime=0) completed
- firmware boot and topology parsing is ok (last IPC CTX_RESTORE)
- system S3 resume still running (syncing filesystems)
- sof_suspend(runtime=1) starts
     - snd_sof_release_trace()
     - hda_dsp_trace_release()
     - we stop the dma-trace DMA
- IRQ while sof_suspend i

[2019-05-21 17:11] ranj063 commented on #944
@kv2019i fantastic. I filed an issue a while ago asking why we do not free DMA trace https://github.com/thesofproject/sof/issues/1234. Maybe this is what we need during suspend apart from just sending a stop trigger?

[2019-05-21 17:53] wenqingfu commented on #957
@kv2019i would you please test if the legacy HDA driver also have the same symptom? thanks!

[2019-05-21 17:55] plbossart commented on #944
Can you try adding https://github.com/thesofproject/linux/pull/949 to remove the trace and see if indeed it solves all our problems.

[2019-05-21 17:56] plbossart commented on #944
I meant temporarily to further narrow down the issues to the trace.

[2019-05-21 19:00] ranj063 commented on #958
Thanks @ClarexZhou

[2019-05-21 22:33] plbossart opened #967 "Lockdep warnings on removal of sof-pci-dev/topology in nocodec mode on CNL/WHL"
Topology removal issues again.
On APL, removing sof-pci-dev works fine with the sof-apl-nocodec.tplg file
On WHL, removing sof-pci-dev spews a number of topology related issue with sof-cnl-nocodec.tplg

This is really gating my work now. I assumed all of this was behind us but sadly it isn't

[code]

[dmesg_cnl.log](https://github.com/thesofproject/linux/files/3204792/dmesg_cnl.log)

kernel: 901cd

[2019-05-21 22:36] plbossart commented on #967
this is actually with the debug options turned on, and the warnings are related to Lockdeps
lockdep_assert_held(&client_mutex);

[2019-05-21 22:37] plbossart commented on #967
config
[work-defconfig.txt](https://github.com/thesofproject/linux/files/3204809/work-defconfig.txt)

[2019-05-22 00:51] bardliao commented on #966
This issue can also be seen on sof-dev https://github.com/thesofproject/linux/commit/901cd2a52b667b4915f6c50ef2eb7813058bd96c
Below is the dmesg log of ``sudo ./sof_bootone.sh``
[dmesg.txt](https://github.com/thesofproject/linux/files/3205076/dmesg.txt)

[2019-05-22 01:27] mengdonglin commented on #953
Wait for PR #963 to be merged by topic/sof-dev at first.

[2019-05-22 02:28] wenqingfu commented on #966
@bardliao to bi-sect on sof-5.0

[2019-05-22 04:08] ranj063 commented on #944
@kv2019i @plbossart I disabled trace but it didnt help. I do not think the problem is because of trace.
The only way I can get it to work is if I disable debugfs caching.

[2019-05-22 05:01] YvonneYang2 commented on #909
Test with sof-skl_hda_card.zip ucm files, issue not reproduced whether boot up or idle long time.

**Test recipe**
Firmware: 5fa2426 https://github.com/thesofproject/sof/tree/master
Kernel: b58f448 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg same as firmware
Kconfig: https://sof-ci-storage.sh.intel.com/d

[2019-05-22 05:48] YvonneYang2 commented on #919
Error occurred once after one time reboot.

**Environment**
Firmware: 5fa2426 https://github.com/thesofproject/sof/tree/master
Kernel: b58f448 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg same as firmware
Kconfig: https://sof-ci-storage.sh.intel.com/daily/20190521/release/linux/topic/sof-dev/901cd2a5-2/co

[2019-05-22 06:44] stevyan commented on #966
This issue can also be seen on CFL RVP HDA.

**Test Recipe**
date: 2019-05-22
sof (master): 3e423f41
linux (topic/sof-dev): e3ec7cf1
topology: sof-hda-generic.tplg

[2019-05-22 06:57] stevyan commented on #944
The same issue occurred on CFL RVP HDA.

**Test Recipe**
date: 2019-05-22
sof (master): 3e423f41
linux (topic/sof-dev): e3ec7cf
topology: sof-hda-generic.tplg

**dmesg log**
[code]

[2019-05-22 08:21] stevyan opened #969 "[CFL][HDA] "load fw failed ret: -110" after arecord several times."
**Summary**
'IPC timed out for 0x60010000: GLB_STREAM_MSG: PCM_PARAMS' after attempt to arecord around 10 times.

**To reproduce**
1. arecord -Dhw:0,0 -f dat /dev/null
2. interrupt capture via 'ctrl + c'
3. repeat 1-2 near than 10 times

**Actual Result**
aplay: set_params:1363: Unable to install hw params:
Playback/Capture cannot be recovered when error occurred until reboot device.

**Test Recip

[2019-05-22 08:43] stevyan commented on #919
Error occurred when try to paplay/parecord on the CFL RVP HDA.

**Precondition**
pulseaudio enabled.

**To reproduce**
1. paplay music.wav -vvv

**Actual Result**
[code]

**Test Recipe**
date: 2019-05-22
sof (master): 3e423f41
linux (topic/sof-dev): e3ec7cf
topology: sof-hda-generic.tplg

**dmesg log**
[code]

[paplay_failed-dmesg.log](https://github.com/thesofproject/linux/files/3206468/paplay_fa

[2019-05-22 09:27] ClarexZhou commented on #969
Error occurred on CML during aplay -d 1  stress tests, error occurred after 148 times.
**Environment**
Firmware: 5fa2426 https://github.com/thesofproject/sof/tree/master
Kernel: b58f448 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg same as firmware
Kconfig: https://sof-ci-storage.sh.intel.com/daily/2019052

[2019-05-22 12:37] bardliao commented on #966
@YvonneYang2 @ClarexZhou I have to say that I spent a lot of time to reproduce this issue.
Firstly, I tested with https://github.com/thesofproject/sof/tree/master/tools/kmod_scripts and and I can see the same dmesg log as you reported here. So I think I can reproduce the issue at that moment. But I get failed result on all the commit id and the daily test binaries. However my system didn't freeze

[2019-05-22 12:52] kv2019i commented on #957
@YvonneYang2 if you can reproduce this easily, could you try this with HDA legacy driver and see if the problem happens with that.

I can look at this on Thursday earliest, so this would help rootcausing.

[2019-05-22 13:16] plbossart commented on #966
Why would they be different? WTH?

[2019-05-22 15:43] #873 closed

[2019-05-22 16:25] ranj063 commented on #958
@lyakh there's something  very stange in the logs for this one. Why do have the call trace printed and besides the timeout seems to happen after  hw_Params fails. So I am not sure which happens first. hw_params failure or the pcm_free ipc timeout.

[2019-05-22 17:16] ranj063 commented on #966
@bardliao @plbossart on my CML (with HDA codec), I can see that "rmmod sof_pci_dev" results in a kernel panic. And this is what happens:

snd_sof_device_remove()
  -> unregister machine driver
      --> hda_dsp_remove
         --> snd_hdac_ext_bus_device_remove
             --> again try to unregister machine driver (I think)

So if I remove the machine driver unregister from snd_sof_device_remove

[2019-05-22 18:10] wenqingfu commented on #808
@Jiangxinx @stevyan please retest if thesofproject/sof#1451 fixes this too along with #873

[2019-05-22 18:24] wenqingfu commented on #966
talked with @lgirdwood about this a few days ago, the test directory was incorporated into sof repo while we merge the sof-tools (IIRC) repo into sof.  There is nobody maintaining those files now. we will take the SOF test cases out as a separate project or move them to ALSA test suite. It's part of the CI development to-do.

[2019-05-22 19:37] ranj063 commented on #899
@Jiangxinx lets close it then?

[2019-05-22 19:37] #899 closed

[2019-05-22 22:55] wenqingfu commented on #932
fixed by #947

[2019-05-22 22:55] #932 closed

[2019-05-22 23:35] wenqingfu commented on #876
close

[2019-05-22 23:35] #876 closed

[2019-05-23 02:06] wenqingfu commented on #966
this is #928

[2019-05-23 02:09] Jiangxinx commented on #808
From daily test report, this issue is fixed by thesofproject/sof#1451 .
***Test recipe***
date: 2019-05-23
sof (master): 56b8776c
linux (topic/sof-dev): 4d1fc20e
topology: sof-byt-rt5651.tplg & sof-byt-nocodec.tplg

[2019-05-23 02:09] #808 closed

[2019-05-23 02:26] Jiangxinx commented on #899
Still can not reproduce on daily test, so close it.

[2019-05-23 05:24] RanderWang commented on #909
Debug sof code and checked all the power setting in sof. I didn't found any hint. Now try to debug hda library.

[2019-05-23 06:42] RanderWang commented on #956
this is my suggestion and Pierre gave some advice
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149409.html

[2019-05-23 07:58] kv2019i commented on #944
@ranj063 wrote:

Confirmed on my side as well. It seems getting log traces out of sync was a symptom, not the rootcause. Back to square one.

I also got some not-so-good results with long tests with both debugfs-cache and dma-trace disabled. The test still fails me but it takes many more iterations, in this case after 119 and after 128 iterations.
Test recipe is S3 suspend with 3 sleep time in S3,

[2019-05-23 09:16] mengdonglin commented on #715
Closing since this is a BIOS issue for this specific board and we haven't got a BIOS fix for a long time.
This issue doesn't impact audio playback/capture. And it is not observed on the custom boards which have proper pin configuraiton.

[2019-05-23 09:16] #715 closed

[2019-05-23 09:42] RanderWang commented on #909
I debugged the legacy hda and found hda controller didn't suspend on my device, but hda codec did suspend. If hda controller doesn't suspend, all the resource will not be released, so headphone jack works.
Now I have to make it suspend to debug.

[2019-05-23 11:05] singalsu commented on #960
@plbossart I remembered there's an issue that impacts 4ch capture volume control. It could be that ALSA/ASoC cannot expose other but 2ch volume control or do we present such case in wrong way in topology?

I tried to say in my test topology that the additional volume controls are surround left, surround right.  But still I could not achieve working 4ch volume control from alsamixer. Thoughts?

[2019-05-23 11:26] YvonneYang2 commented on #957
I've checked the bug with HDA legacy driver, and the issue still reproduced.
Besides, I found the issue may be related to the speed of pluging out HDMI.  You can try plug out HDMI slowly, may can increase the reproduce rate.

[2019-05-23 11:39] ClarexZhou commented on #944
"0x40010000: GLB_PM_MSG: CTX_SAVE" ipc timed out still can be reproduced after disable CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE in kernel config.

Kernel:
https://github.com/lyakh/linux/tree/ipc-timeout
commit 5969756   ASoC: SOF: hda: couple host and link DMA during FE hw_free , PR 895
FW:
https://github.com/lyakh/sof/tree/ipc-timeout
commit: b527fd7  dai: assign/free link DMA channel during

[2019-05-23 11:53] ClarexZhou commented on #958
0x60030000: GLB_STREAM_MSG: PCM_FREE  ipc timed out occurred during aplay stress test.
[code]
[code]

***Env.***
disable CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE in kernel config.
Kernel:
https://github.com/lyakh/linux/tree/ipc-timeout
commit 5969756 ASoC: SOF: hda: couple host and link DMA during FE hw_free , PR 895
FW:
https://github.com/lyakh/sof/tree/ipc-timeout
commit: b527fd7 dai: assig

[2019-05-23 12:02] kv2019i commented on #944
@lyakh @ranj063 @lgirdwood
I today made following experiment. I added following to start of pm.c:sof_suspend():

1. send CTX_RESTORE ipc at start (no-op on FW side, good tool to check IPC is working)
2. sleep for 1sec
3. send another CTX_RESTORE
4. run existing save debugfs-cache code
5. send another CTX_RESTORE
6. send existing CTX_SAVE code and continue

Upon triggering the bug, IPC failure happ

[2019-05-23 12:16] plbossart commented on #960
I was using the cnl-nocodec topology which is very different from the
apl-nocodec topology.
I still believe that the DC issue is independent of the volume config
and likely independent of the topology as well, no?

[2019-05-23 12:53] kv2019i commented on #957
@YvonneYang2 wrote:

Thanks, then I think this is different from #878 (FYI @mengdonglin) and may be issue on i915 side.

I'm still working on 944 so not actively working on this yet.

[2019-05-23 13:47] lgirdwood commented on #938
@ranj063 @mengdonglin can we close if fixed ?

[2019-05-23 14:12] ranj063 commented on #966
@bardliao are you sure this commit caused th regression? I reverted this and I still see the problem. The only thing that helped was not unregistering the machine driver. I will investigate more today.

[2019-05-23 16:10] plbossart commented on #966
Yeah, I don't see how changing a kzalloc/kfree sequence to devm_kzalloc could cause the system to freeze. Either way, please run those module insert/remove scripts as part of your development process. They catch a lot of issues...

[2019-05-23 17:43] kv2019i commented on #944
Problem now tracked to following upstream patch that went into 5.1:
https://github.com/kv2019i/linux/commit/b5a236c175b0d984552a5f7c9d35141024c2b261

If reverted, it seems the problem cannot be reproduced with the steps in this bug.

[2019-05-23 23:59] wenqingfu commented on #938
@plbossart as the issue reporter, can you still reproduce it with latest 895/1354 from? if not, we can close

[2019-05-24 01:36] bardliao commented on #966
@ranj063 Yes I double check it again. When I keep #928, I can see the "freeze" issue. And my system won't freeze after revert #928. Do you mean you can see the oops or your system is actually freezed  when you said you see the problem? I think the description of this issue is a little bit misleading. Actually, you can't see anything if you meet the freeze issue. i.e. Your system don't have any res

[2019-05-24 01:43] bardliao commented on #966
@plbossart I can't see it either so far. But I think we have to check when will the resource actually be free when we use devm_kzalloc. We know hdev will be free at snd_hdac_ext_bus_device_exit() if we use kzalloc. But I don't know when will it be free if we use devm_kzalloc so far.

[2019-05-24 06:05] ranj063 commented on #958
I have some more info now. The 80s long time interval between pcm close and the next open is caused by the hdac_codec runtime suspend and resume. The codec_display_power() calls in the 2 runtime PM callbacks take a really long time randomly. Removing this helps with reducing the gap.

[2019-05-24 06:29] ClarexZhou commented on #919
Error occurred on CML laptop after stop aplay during aplay -d 1 stress test in 107th

**Environment**
Kernel: 9453da1 https://github.com/lyakh/linux/tree/ipc-timeout (with PR895)
FW:b527fd7 https://github.com/lyakh/sof/tree/ipc-timeout (with PR1354)
Topology:Same as above FW repo, file: tools/topology/sof-hda-generic.m4, sof-hda-generic-2ch.tplg
kconfig:
unset CONFIG_SND_SOC_SOF_DEBUG_ENABLE_FIRMW

[2019-05-24 06:48] ClarexZhou commented on #958
Error occurred on CFL laptop aplay -d 1 stress test in 16th. System response very slow first then ipc timed out

**Environment**
Kernel: 9453da1 https://github.com/lyakh/linux/tree/ipc-timeout (with PR895)
FW:b527fd7 https://github.com/lyakh/sof/tree/ipc-timeout (with PR1354)
Topology:Same as above FW repo, file: tools/topology/sof-hda-generic.m4, sof-hda-generic-2ch.tplg
kconfig:
unset CONFIG_SND

[2019-05-24 07:08] juimonen commented on #933
@plbossart I got the mb+rt5682 running. Well, sound is personally to me little different than hifiberry+up2, more high end emphasis at least. However I can't hear any obvious flaws, attached full scale sine sweep playback through mb+rt5682 and recording with my desktop.

[2019-05-24 07:08] libinyang commented on #952
patch has been submitted to the community. Will update the mail thread address later because there is some latency of the emails in the web.

[2019-05-24 07:10] juimonen commented on #933
[sweep_mb_rt5682.zip](https://github.com/thesofproject/linux/files/3215540/sweep_mb_rt5682.zip)

[2019-05-24 09:56] RanderWang commented on #909
Found resume function in legacy hda is invoked by acpi, but how to ?
And we need to implement runtime pm for hdac_hda.c, now we miss this for jack detection.
I also talked with kernel team about pm, but only found they can't help us for they didn't know more than us. So we have to fix it by our own

[2019-05-24 10:07] kv2019i commented on #944
Problem root caused to power recycling the HDA codec while ADSP HDA controller is powered up. A simple IPC test loop (sending any IPC message to ADSP in a loop) stops working immediately when HDA codec power cycle happens. Upstream patch https://github.com/kv2019i/linux/commit/b5a236c175b0d984552a5f7c9d35141024c2b261 itself looks ok, but it starts to cause this problem more often.

[2019-05-24 11:45] kv2019i commented on #944
PR978 is not a full fix -- it prevents codec-suspend cycle, but it doesn't prevent codec-resume. I have at least one case (with 150+ iterations) that still hits a problem and logs show codec-resume happens in middle of DSP suspend sequence. Reverting https://github.com/kv2019i/linux/commit/b5a236c175b0d984552a5f7c9d35141024c2b261 prevents this as well (but not fool-proof either).

[2019-05-24 12:47] lyakh commented on #944
@kv2019i what do you mean "not full proof?" Do you mean, that also with that revert IPC timeouts can be reproduced?

[2019-05-24 13:34] plbossart commented on #933
On 5/24/19 2:08 AM, juimonen wrote:

can you share kernel+firmware SHA1, I'll retry.

[2019-05-24 13:41] plbossart commented on #909
On 5/24/19 4:56 AM, RanderWang wrote:

Can we please try to have subject lines shorter than a line? How can you
possibly expect people to care about such issues if you can't sum-up things?

[2019-05-24 13:51] juimonen commented on #933
@plbossart I think I was running it with several kernels like:
4d1fc20e3e01f7d91d9414f0265c7342b09931cf
c67168138451a041f1d07a4200890bb8cd43c4d2
0f3e63c8f1bffda8292fbcf3998c9a9bc66fa1a3
for me the top most was topic/sof-dev head (might have changed...)
I also used your latest broonie PR.

for fw I used like:
56b8776c2ace20cd0881c820ccecca810c80be12
which i think is master, but I also used some oth

[2019-05-24 15:04] singalsu commented on #960
Yes, the DC is totally independent of volume component. I will make the capture start HW ramp longer to mitigate it. In fact the DC thump is even stronger with lower sample rates capture.

The (off-topic) volume issue that I mentioned is a restriction to apply gain in firmware for >2ch streams for lower sensitivity microphones. The EQ can do fixed gain for 4ch (an available solution if need) but I

[2019-05-24 15:11] lgirdwood opened #979 "IPC: dump code is broken for CAVS1.8+"
The following code dumps IPC state during an IPC timeout on all Intel CAVS platforms.
[code]
However, there are host side register differences between CAVS 1.5 and CAVS 1.8. It looks like the code above is for CAVS version 1.5 only.

[2019-05-24 16:20] plbossart commented on #979
looks like an invalid bug, we have a separate function for cAVS 1.8:

apl.c:  .ipc_dump       = hda_ipc_dump,
cnl.c:  .ipc_dump       = cnl_ipc_dump,

[2019-05-24 16:56] wenqingfu commented on #957
| | CML1 | CML2 | CML3 |
|--- | --- | --- | --- |
|Monitor 1 (Dell u2414hb_QA)+wire   A | 2/10 | 2/10 | 3/10|
|Monitor 2 (Dell _Libin )+wire B | 3/10 | 1/10 | 2/10|
|Monitor 3 (Dell)+wire C | 2/10 | 2/10 | 2/10|

Similar status as but patch at https://bugs.freedesktop.org/show_bug.cgi?id=107125 doesn't resolve the issue.  Bug reproduced rate almost reach 100% if we plug out HDMI very slowly

With

[2019-05-24 17:57] kv2019i commented on #944
@lyakh wrote:

Oops, sorry, bad English.  Reverting the patch does prevent the IPC timeouts using the reproduction steps of this bug, no failing cases. By fool proof I mean that now that we know the actual mechanism, we can see the revert only addresses one specific case, but there might be many more scenarios where codec runtime PM is triggered, leading to a IPC fault. But true, probably best not

[2019-05-24 20:53] plbossart commented on #967
fixed upstream

[2019-05-24 20:53] #967 closed

[2019-05-24 21:23] plbossart commented on #938
Closing in the kernel warning disappeared, but the timeout issue remains.

[2019-05-24 21:23] #938 closed

[2019-05-24 21:33] plbossart opened #981 "[WHL] kernel warning on removing modules w/ HDaudio"
It seems that as usual no one tests module insert/removal or they do it with unmaintained/private scripts...

Doing an sof_remove.sh with https://github.com/thesofproject/sof/pull/1474 gives the following error. We have obvious device/memory issues that should be fixed!

[code]
The device is frozen at this point. @libinyang could this be related to your sighting on Hdaudio allocation?

[2019-05-24 22:02] plbossart commented on #933
No change on my side on ASUS T100TA (rt5640)
The sine wave looks really bad and my theory that the samples are played in the wrong order is likely still true.
![sine](https://user-images.githubusercontent.com/1149035/58358696-9e963c80-7e45-11e9-9252-73f70a93d39a.png)
[sine-asust100.wav.gz](https://github.com/thesofproject/linux/files/3218731/sine-asust100.wav.gz)

[2019-05-24 22:07] plbossart commented on #933
binary used, @juimonen can you try to see if we might have a compilation issue?

[sof-byt.ri.gz](https://github.com/thesofproject/linux/files/3218741/sof-byt.ri.gz)

[2019-05-24 22:16] plbossart commented on #933
Things work fine with the SST driver so it's not my device which is broken!

[sine-asust100-sst.wav.gz](https://github.com/thesofproject/linux/files/3218755/sine-asust100-sst.wav.gz)

[2019-05-24 22:18] plbossart commented on #933
firmware a26c51a43e436a8da15fdad39d61e13bd4cdf12f
kernel 072cf06e35eb593a6694a30ac7aeb6b5c5d416a5

[2019-05-25 01:02] RanderWang commented on #909
yes， I find it：https://github.com/torvalds/linux/commit/7d4f606c50ffaaa3ac60b7faf770dc6e84af3207
ALSA: hda - WAKEEN feature enabling for runtime pm

[2019-05-25 01:31] RanderWang commented on #909
Thanks Pierre.  In Chinese , I talked with kernel team smoothly. But In English, I may make thing in mess.
I need to study from Pierre and I often heared someone in china team said Pierre introduced a new word in a email.

[2019-05-26 15:08] wenqingfu commented on #924
should be fixed by #943. please reopen if otherwise.

[2019-05-26 15:08] #924 closed

[2019-05-27 00:27] wenqingfu commented on #938
"IPC timed out" issue moves on to track in #969

[2019-05-27 01:32] mengdonglin commented on #952
Upstream thread: https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149747.html
[alsa-devel] [PATCH RFC] ASoC: hdac_hdmi: refine hdmi jacks

[2019-05-27 01:45] YvonneYang2 commented on #951
The issue not reproduced again till now. We will report a new issue once we reproduced again.

[2019-05-27 02:12] libinyang commented on #952
Thanks for help to update the link.

[2019-05-27 02:33] zhuyingjiang commented on #777
#975 to fix :
1. Use the SOF defined ppcap functions in hda_suspend/hda_resume.
2. Define a SOF hda_dsp_ctrl_stop_chip instead of using snd_hdac_
3. use hda_dsp_ctrl_stop_chip  in hda_suspend,  so the disable and clear HDA irq and stream irqs steps all called during the suspend

#1020 to fix;
Use hda_dsp_ctrl_init_chip as common code for hda_resume. the HDA stream/interrupt will be clear/reset as

[2019-05-27 06:12] juimonen commented on #933
@plbossart your binary works fine with my setup...

[2019-05-27 06:31] mengdonglin commented on #954
It seems this issue has the same root cause as issue #917 , please refer to comments of @jason77-wang
 https://github.com/thesofproject/linux/issues/917#issuecomment-491250842

For #917, Pulseaudio cannot handle headset-mic and build-in DMIC which belong to 2 different sources.
For this #954, Pulaudio cannot handle external HDMI/DP display and build-in speaker which belong to 2 different sinks.

[2019-05-27 06:34] juimonen commented on #933
I compiled this from scratch:
kernel: 924347de73e488fa21772af90566821694dcce55 (1 commit ahead of yours)
kernel config: config-daily-20190527.txt
fw: a26c51a43e436a8da15fdad39d61e13bd4cdf12f
tplg: sof-byt-rt5682.tplg

Again I can play fine in mb+rt5682... I'm puzzled what could be the issue with your t100

[2019-05-27 07:28] YvonneYang2 commented on #878
Issue still reproduced with test recipe as below, but cannot be reproduced with legacy HD-Audio driver in the same kernel.

**Reproduced scenario**:

1. Do s3 with HDMI&DP both connected(not playing music)
2. Only play HDMI after wake up.

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: 7a78809 https://github.com/bardliao/sof/tree/dell-test
Kernel: 1051f31

[2019-05-27 08:20] YvonneYang2 commented on #966
Issue not reproduced after revert #928 with test recipe as below:

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: 7a78809 https://github.com/bardliao/sof/tree/dell-test
Kernel: 1051f31 https://github.com/thesofproject/linux/tree/release/sof-v5.0  (**revert #928 for #966**)
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg same

[2019-05-27 08:36] YvonneYang2 commented on #952
Issues not reproduced after apply “ASoC: hdac_hdmi: jack hotplug in S3” with test recipe as below:

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: 7a78809 https://github.com/bardliao/sof/tree/dell-test
Kernel: 1051f31 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg

[2019-05-27 09:50] keyonjie commented on #919
Hi @ClarexZhou can this be reproduced with latest ipc-timeout recipe?

[2019-05-27 09:59] keyonjie commented on #969
@ClarexZhou @stevyan can you try if @ranj063's PR https://github.com/thesofproject/linux/pull/977 help to fix this issue? I ran aplay -d 1 stress test with that applied on my cml, i passed 1000 iterations.

[2019-05-27 13:26] juimonen commented on #933
@plbossart when playing in byt to hw0,1 (media pipeline with src) I get funny 8x speed effect. I can fix it with changing the pipe parameters to same as apl media pipe has (0,4 in apl/up2). However then I get buzzing effect with 44.1->48. 48->48 to 0,i in byt is clean. So I can just guess that there's some issue with dw-dma and 44.1 alternating frame sizes. Will try to debug it further. however as

[2019-05-27 15:19] singalsu commented on #960
I'll change the ramp length 300 ms -> 400 ms. There will be still some DC settling left but I'm getting worried about missing speech from capture start due to low gain if extending it even more.

Below is zoom to your capture start waveform. The peak in the curves is where the current ramp ends at 300 ms.

![whl_dmic](https://user-images.githubusercontent.com/28754793/58428677-e61e0200-80ab-11e9-9

[2019-05-28 02:26] libinyang commented on #952
new patchset is updated: https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149862.html
[RFC PATCH 0/4] ASoC: hdac_hdmi: refine the hdac_hdmi jacks

[2019-05-28 04:19] jason77-wang commented on #920
For DMIC+Hda Legacy machines, if we drop ucm, it will save us lots of effort. This is a proto-type of dropping ucm, the dmic, hdmi and audio-selection-menu all can work. and Could we change the HDMI audio Jack name to:
HDMI/DP,pcm=3 Jack HDMI/DP,pcm=7 Jack HDMI/DP,pcm=8 Jack, this will save our effort to change the pulseaudio.

To test the proto-type, please rename the attached file to tar.bz2.

1

[2019-05-28 05:38] ClarexZhou opened #984 "[BUG][CML] PM: Some devices failed to suspend, or early wake event detected"
**Describe the bug**
PM: Some devices failed to suspend, or early wake event detected during S3 with playback stress test.

**To Reproduce**
Run S3 with playback stress test "aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 500 1 1"

[stress-s3.sh.txt](https://github.com/thesofproject/linux/files/3225814/stress-s3.sh.txt)

**Expected behavior**
Aplay stopped at 23th and Some dev

[2019-05-28 06:42] stevyan commented on #969
This error still can be reproduced after 12 times tries based on CFL RVP HDA.

**Test Recipe**
date: 2019-05-28
sof (master): 63cb86f1
linux (topic/sof-dev): [PR#977](https://github.com/thesofproject/linux/pull/977)
topology: sof-hda-generic.tplg

**dmesg log**
[code]

[2019-05-28 06:44] stevyan commented on #969
@keyonjie `aplay` can work without this issue based on daily build or PR#977, but `arecord` will be failed.

[2019-05-28 06:51] ranj063 commented on #969
Folks, please do not classify all issues as IPC timeouts by looking at the last error message. The problem here is due to a FW load failure that occurred much earlier than the IPC timeout

[2019-05-28 09:42] ClarexZhou commented on #919
Error occurred during multipipline stress test after about 13th times. aplay response very slow and can't be played successfully in stress test. Stop stress test then aplay manually, ipc timed out.

**Environment**
Kernel: https://github.com/lyakh/linux/tree/ipc-timeout commit 9453da1 (with PR895)
FW:https://github.com/lyakh/sof/tree/ipc-timeout commit 47dc14d (with PR1354 and PR1470)
Kconfig: dis

[2019-05-28 11:15] YvonneYang2 commented on #909
**Issue not reproduced after long time idle with scenario below**:

1. Make sure no headset is connected and sound setting is closed.
2. Idle 5 mins
3. Hot plug headset, then open sound setting to check.(result: headset hotplug status will update)

**Issue still reproduced with the scenario below**:

1. Make sure no headset is connected and sound setting is open.
2. Idle 5 mins
3. Hot plug headset

[2019-05-28 11:15] lyakh commented on #984
@ClarexZhou I presume this is run with pulseaudio enabled? I tried this and I've got a different and supposedly uglier failure. The first suspend-resume goes normal, after the resume I see one-two trigger START / STOP in the kernel log. The second resume looks much worse already - START / STOP are running back to back many times per second. Then the third suspend kicks in, and the resume fails wit

[2019-05-28 12:27] lgirdwood commented on #979
@plbossart yep, @xiulipan and I just discussing the need to try and better partition/document which files/functions relate to 1.5, 1.8 and 2.x

[2019-05-28 12:27] #979 closed

[2019-05-28 12:50] lyakh opened #985 "DSP FW Oops during an "aplay+S3" stress test"
Essentially with the tip of the ipc-timeout branch with a couple added debug prints and with a fixed version of #977 I've got the following DSP Oops on iteration 439 (out of planned 500):
[code]

[2019-05-28 16:37] lyakh commented on #985
Decoded the exception and moved to https://github.com/thesofproject/sof/issues/1485

[2019-05-28 16:37] #985 closed

[2019-05-28 16:51] wenqingfu commented on #854
quote @keqiaozhang in https://github.com/thesofproject/sof/pull/1354#issuecomment-489537601 , "these PRs can fix issue thesofproject/linux#854"

[2019-05-28 17:53] plbossart commented on #933
@juimonen that helps progress even if we haven't root-caused the issue.

it's not the topology file (same), not the firmware file (no difference), not the platform driver. So it's got to be codec driver or machine driver (I have the same issue with rt5645 on a CHT device). Can you try and see if there is any Asus T100 left in Espoo? Or are there any rt5651 devices left?

Also do you use the MCLK o

[2019-05-28 18:39] #953 closed

[2019-05-29 04:16] xiulipan opened #987 "Need comments or docments to mapping CAVS version and files"
For example:
apl cavs1.8 is binding to apl.c and most function in hda.c
cnl cavs2.x is binding to cnl.c and functions are in hda.c and cnl.c

Need some comments or documents about what cavs version is bind with files and functions.

[2019-05-29 04:49] ranj063 commented on #966
@bardliao @stevyan reverting #928 does not fix the problem.

Please try "rmmod sof_pci_dev" with and without the patch and you;ll see the exact same kernel oops. Running sof_bootone.sh seems to hide the problem without the patch

[2019-05-29 04:59] ranj063 commented on #981
This issue is related to https://github.com/thesofproject/linux/issues/966

[2019-05-29 06:16] ClarexZhou commented on #984
Error occurred  with IPC timed out  '0x60040000: GLB_STREAM_MSG: TRIG_START' during s3 with playback test. Failed at 81th.

**Headset type query** pops up (amixer cget numid=34 to check headphone Mic jack is on)when error occurred, though always without headset connection during testing.

***Environment***
Kernel: https://github.com/lyakh/linux/tree/ipc-timeout commit d8b5fdd (with PR895 and PR977

[2019-05-29 07:57] singalsu commented on #933
On my Asus T100 the 16 bit playback is clean and OK. 24 bit and 32 bit content playback makes rattle (several times per second - I'll do a capture example and post the wavs and screenshots).

This is with low latency pipeline. Media pipeline is complete garbage with >2x speedup in playback time with 16 bit content. With 24 and 32 bit content the media pipeline fails immediately without anything pl

[2019-05-29 08:25] juimonen commented on #933
@plbossart what format are you using for playback?

So currently we have several issues found:
1) pcm hw:0,0 is good with 16 bit playback
2) pcm hw:0,0 is not good with s24/s32 playback (@singalsu reported above, I confirmed)
3) pcm hw:0,1 is not running at all or huge speed up audio
    3.1 there's fix to make src to work: https://github.com/thesofproject/sof/pull/1478
    3.2 to get rid of "spee

[2019-05-29 08:57] kv2019i commented on #944
Update on status of this and different approaches to address this:

- https://github.com/kv2019i/linux/commit/577361d962f7f438ad89dbf3bca919e8ba7837a0 -> best known method now
- reverting https://github.com/kv2019i/linux/commit/b5a236c175b0d984552a5f7c9d35141024c2b261 -> not ok to push upstream
- https://github.com/thesofproject/linux/pull/978 -> abandoned

[2019-05-29 10:15] RanderWang commented on #909
yes,  I have an idea suggested by keyon to fix this issue now.
But Kai wants to keep codec active when SOF is active and this idea also could fix this issue.

[2019-05-29 10:18] RanderWang commented on #920
@jason77-wang  do we need to create a jack for dmic in driver ?

[2019-05-29 10:25] singalsu commented on #933
Here's my recordings from T100.
[t100_wavs.zip](https://github.com/thesofproject/linux/files/3231970/t100_wavs.zip)

And plots of seen glitches (s16 clean, s24 and s32 format have similar issue)
![t100_s16](https://user-images.githubusercontent.com/28754793/58549880-2fd62c00-8215-11e9-9cca-34255e797db8.png)
![t100_s24](https://user-images.githubusercontent.com/28754793/58549894-382e6700-8215-11e9-

[2019-05-29 10:33] singalsu commented on #933
One more picture from a sound editor:

![Screenshot from 2019-05-29 13-32-57](https://user-images.githubusercontent.com/28754793/58550446-66f90d00-8216-11e9-903b-e2ee87227727.png)

[2019-05-29 10:34] YvonneYang2 commented on #919
Issue occurred after finishing the 300 times s3 without playback test.

**Test recipe**
date: 2019-05-29
sof (master): b4d292d
linux (topic/sof-dev): d1008d1
topology: sof-apl-nocodec.tplg
platform: cd-apl-up2-nocodec-03

**dmesg**
[code]

[s3_without_playback_500_dmesg.log](https://github.com/thesofproject/linux/files/3231995/s3_without_playback_500_dmesg.log)
[s3_without_playback_500_logger.log]

[2019-05-29 11:12] juimonen commented on #933
@plbossart I made 2 issues:
https://github.com/thesofproject/sof/issues/1482
https://github.com/thesofproject/sof/issues/1487

These seems to be quite the same with me and @singalsu in mb/rt5682 and t100.
So we haven't been yet able to produce similar waveform as you...?
These both seem to be "buffer wrap" issues, but yours looks more like harmonic distortion etc.

[2019-05-29 11:25] singalsu commented on #933
@plbossart Could you try with this chirp. The corruptions are better visible in low frequency sine wave. Though your clip sounded like totally messed up and different to my T100 so not sure if this would reveal anything.

[chirp_20_20k_20s_log.wav.gz](https://github.com/thesofproject/linux/files/3232182/chirp_20_20k_20s_log.wav.gz)

[2019-05-29 16:23] wenqingfu opened #990 "Enhance HDA support in SOF"
This is a meta issue to track the task of overhauling what has been done in Intel legacy HDA driver and HDAC library, to make sure they are in the right place so that SOF driver can share.

FYI list: @plbossart @libinyang @zhuyingjiang

Current task list, in rough priority order:

- [x] move to common HDMI codec and remove use of HDAC-HDMI ( https://github.com/thesofproject/linux/issues/1123 )
- [

[2019-05-30 06:05] stevyan commented on #854
Error doesn't occurred based on CFL RVP HDA

**Test recipe**
Date: 2019-05-30
sof (master): 92fc7067
kernel (topic/sof-dev): 80a2cb89
topology: sof-hda-general.tplg

[2019-05-30 06:27] YvonneYang2 opened #993 "[BUG][CML]Headset audio stream has serious distortion and noise when hot plug headset during paplay music"
**Describe the bug**
Headset audio stream has serious distortion and noise when hot plug headset during paplay music. **Issue cannot reproduced with test recipe of ww22.1**

**Test recipe**
Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: b5bedb0 https://github.com/bardliao/sof/tree/dell-test
Kernel: 84361a7https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topol

[2019-05-30 07:06] Jiangxinx commented on #854
***APL UP2 pcm512x & APL UP2 nocodec daily test***
Not reproduce when testing HDMI and HDA:
[code]
Still occurre "write error: Input/output error" when testing Media Playback and HDA:
[code]

***Result of testing Media Playback and HDA***
    Terminal A: write error: Input/output error
    Terminal B: underrun, and then "write error: Input/output error"

***Test recipe***
Date: 2019-05-30
sof (mas

[2019-05-30 12:31] wenqingfu commented on #993
fixed by #995?

[2019-05-31 06:07] YvonneYang2 opened #998 "[BUG][CML]Sound setting shows Dummy and firmware load failed(intermitent)"
**Describe the bug**
Sound setting shows Dummy, "aplay -l" cannot show PCM device list.

**To Reproduce**

Do system reboot

**Frequency**

once/twice a day

**Expected result**
Sound setting shows normally

**Actual result**
"aplay -l" cannot show PCM device list, sound setting shows "Dummy".

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: 6cc8da10 https

[2019-05-31 06:33] Jiangxinx opened #999 "[Bug][APL] aplay: pcm_write:2011: write error: Input/output error after S3 443 times on UP2-NOCODEC platform."
***Summary:***
aplay: pcm_write:2011: write error: Input/output error after S3 443 times on UP2-NOCODEC platform. Dmesg have no obvious error trace.

***To reproduce***
aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 500 0 1

***Actual result***
[code]

***Test recipe***
sof master: 8901e0cf
kernel sof-dev: 0a747dc2
tplg: sof-apl-nocodec.tplg

***sof-logger***
[code]

***Lo

[2019-05-31 06:46] YvonneYang2 commented on #993
Issue not reproduced with the test recipe below, so close it.

Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: b5bedb0 https://github.com/bardliao/sof/tree/dell-test
Kernel: 5a49a08 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg same as firmware
platform ：CML laptop

[2019-05-31 06:46] #993 closed

[2019-05-31 08:13] keyonjie commented on #999
This issue(hda-dmac: 5 wait for buffer full timeout rp 0x0 wp 0x20) looks usually happen on APL platforms, @keqiaozhang reported similar issue in FW project.
@tlauda please be noticed about this.

[2019-05-31 09:28] bardliao commented on #998
From the pulseverbose.log
[code]
It indicates that pulse audio can't find the sound card. And the dmesg shows
[code]
I also can reproduce this issue with log [dmesg_codec_probe_error.txt](https://github.com/thesofproject/linux/files/3240448/dmesg_codec_probe_error.txt)
And it is failed at HDA codec.
[code]
The error is not exactly the same but all related to hda.
The issue seems can only be reprod

[2019-05-31 09:35] YvonneYang2 commented on #998
Issue not reproduced with the test recipe below, so close the bug until we see it again.

Rander UCM https://github.com/RanderWang/intel-UCM/commits/hdmi
Firmware: 6cc8da10 https://github.com/thesofproject/sof/commits/cml-hda-dmic-001-drop-stable
Kernel: 0ce7065 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tpl

[2019-05-31 09:35] #998 closed

[2019-05-31 13:43] kv2019i opened #1000 "[BUG][S3] pulseaudio playback fails after S3 suspend/resume"
PCM playback to fails to recover after suspend/resume on WHL board.

Commands (with pulseaudio install as default server)
sh2> aplay -Dpulse test.wav
sh3> sudo rtcwake -m mem -s 2

Commands (without pulseaudio as default)
sh1> /usr/bin/pulseaudio -vv
sh2> aplay -Dpulse test.wav
sh3> sudo rtcwake -m mem -s 2

Expected outcome:
- no error in dmesg+soflogger and audio is good after resume

Actual out

[2019-05-31 16:13] #879 closed

[2019-05-31 20:46] fredoh9 opened #1001 "[BUG][GLK] HDMI failed to get afg sub nodes, no soundcard"
Daily build of 0530 has no soundcard due to HDMI failures.
linux-80a2cb89
sof-92fc7067

I tried daily build of 0530 onto my GLK Ubuntu RT7219 platform but I see hdmi codec failure, no soundcard. (full log attached)

[ 5.018689] HDMI HDA Codec ehdaudio0D2: HDMI: failed to get afg sub nodes
[ 5.018693] HDMI HDA Codec ehdaudio0D2: Failed in parse and map nid with err: -22
[ 5.018710] HDMI HDA Codec:

[2019-05-31 20:46] fredoh9 commented on #1001
@ranj063 reported she found same issue in CML chromebook. And Chrome team found suspicious commit.

I tried to revert the commit id, but looks same to me.
333ee2257de8 ASoC: SOF: Intel: hda: fix the hda init chip

I can try git bisect and update the candidate commit here.

[2019-06-01 00:52] fredoh9 commented on #1001
In terms of audio playback in GLK(sof-dev),
072cf06e35eb Merge pull request #970 from plbossart/merge/broonie-next-20190521		<==  bad
d807d30dcf40 ASoC: SOF: Intel: ipc: don't check for HIPCCTL register value		<== good

After git bisect, the result is,
e57ccca1ba33e1d92cc3bbf8b6304a46948844b0 is the first bad commit
e57ccca1ba33 (refs/bisect/bad) Merge tag 'sound-5.2-rc1' of git://git.kernel.org/p

[2019-06-03 01:29] keqiaozhang commented on #1001
@fredoh9
The latest code base works on my GLK-Ubuntu.
Kernel: sof-dev/0a747dc
sof/tplg: master/8901e0

[2019-06-03 02:11] libinyang commented on #952
Takashi gave some comments. He requires the usespace should be ready firstly. So I will prepare the userspace configuration this week.
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/150029.html

[2019-06-03 02:31] libinyang commented on #966
If using devm mode, hdev will be freed before hdev->dev kobject is released. This is definitely wrong. I will continue debug why devm will cause the memory release sequence wrong.

[2019-06-03 06:07] keqiaozhang commented on #835
I tried this issue today with latest code base and the error message is changed.
when reloading the audio modules, it run into DSP panic, but all audio modules can be reloaded and sof is still functional after that(aplay/arecord can run). looks like this error is just a warning, Could someone take a look.
**dmesg**
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/3246081/dmesg.log)

[2019-06-03 06:22] xiulipan commented on #835
@keqiaozhang
which tplg is used for GLK-ubuntu?
That is a very interesting issue here, there is `panic(SOF_IPC_PANIC_MEM);` happen before we send out the FW_READY ipc message.
@tlauda any idea?

[2019-06-03 06:30] keqiaozhang commented on #835
sof-glk-da7219.tplg

[2019-06-03 06:40] bardliao commented on #891
@ranj063
I checked the issue and found that he error is coming from ``rpm_check_suspend_allowed`` [retval = -EBUSY;](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/base/power/runtime.c#L270) for child_count is 1. And the active child is ``snd_hda_codec_realtek ehdaudio0D0``. In other works, sof didn't suspend since the codec was still active. And it is **suspended** when I ```ca

[2019-06-03 06:43] lyakh commented on #958
I was thinking whether such long delays could have been caused by deadlocks due to the wrong use of spin_lock() instead of spin_lock_irq(), but I don't think that could be the case: such a lockup would stay forever, it wouldn't just take a couple of seconds.

[2019-06-03 07:40] kv2019i commented on #944
Problem rootcaused to MSI IRQ mode. This bug will be closed by disabling MSI:

* https://github.com/thesofproject/linux/pull/1002 -> this be used to close the bug, disable MSI Mode
* [kv2019i@577361d](https://github.com/kv2019i/linux/commit/577361d962f7f438ad89dbf3bca919e8ba7837a0) -> will be submitted to sof-dev also

Keeping open until patch is merged and fix can be validated with sof-dev.

[2019-06-03 08:14] ClarexZhou commented on #969
Error occurred during S3 without playback stress test.
Error always occurred when do stress test with USB hub Ethernet network.
Error not occurred when do stress test without network.
FW load failed then CTX_save ipc timed out at 95th time. Can't enter S3 anymore and headset type selection query pops up.

**Test Recipe**
Kernel :98972d  https://github.com/lyakh/linux/commits/cnl-rc1
FW: 47dc14d ht

[2019-06-03 08:29] keqiaozhang commented on #907
This issue is hard to reproduce with latest code base, will perform the overnight test.

[2019-06-03 09:13] libinyang commented on #966
The bug is root caused. It's a complicated bug and it took me more than 1 week to root cause it.

Below is my finding.
1. When initialing the codecs, snd_hdac_ext_bus_device_init() will be called, and it will set hdev->dev.release = default_release.
However, for analog codec (not hdac_hdmi codec), hdac_hda_codec_probe() will be called later. And it will call snd_hda_codec_device_new(), which will

[2019-06-03 14:27] kv2019i commented on #957
[...]

@YvonneYang2 can you file this to graphics (bugs.freedesktop.org)? Once we have a bug id, we can close this. Let me know if you need help in filing.
UPDATE: or alternatively just add a comment to above fd.o bug 107125 . It seems that is not considered closed either and others have reported issues with very slow removals.

[2019-06-03 14:30] ranj063 commented on #966
@libinyang i've already posted a solution for this bug in https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/150093.html and it has been accepted by Takashi.
Sorry didnt realize you were already working on this.

[2019-06-04 01:22] keqiaozhang commented on #907
This issue is still reproducible(failed at 1247th time).

**dmesg**
[code]
**Trace**
[code]
**Test recipe**
kernel: sof-dev/0a747dc
firmeware: master/8901e0
Platforme: GLK-Ubuntu
TPLG: sof-glk-da7219.tplg

[dmesg.log](https://github.com/thesofproject/linux/files/3250064/dmesg.log)
[logger.log](https://github.com/thesofproject/linux/files/3250065/logger.log)

[2019-06-04 02:07] YvonneYang2 commented on #957
Issues will be fixed by graphics.
So close the bug and track the issue in https://bugs.freedesktop.org/show_bug.cgi?id=110835

[2019-06-04 02:07] #957 closed

[2019-06-04 02:12] libinyang commented on #966
@ranj063 I noticed your patch. And they are different bugs. But your patch did fix one of the issues I raised in the mail thread: https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149640.html. Your patch can fix the unbalanced device refcount.

[2019-06-04 03:23] ranj063 commented on #966
@libinyang so what is this other bug you are referring to?

[2019-06-04 05:04] libinyang commented on #966
@ranj063 after applying the patch of: https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149640.html.
reload modules will cause system hang.

[2019-06-04 06:52] zhuyingjiang commented on #922
link to https://github.com/thesofproject/sof/issues/1297

[2019-06-04 09:24] keqiaozhang commented on #1001
This issue cannot be reproduced on GLK. let's close this bug.
Kernel: sof-dev/0a747dc
sof/tplg: master/14b724

[2019-06-04 09:24] #1001 closed

[2019-06-04 10:29] ClarexZhou opened #1008 "[bug][cml] Analog capture first 4s not work when start arecord from idle."
**Describe the bug**
First 4s not work when start analog capture from runtime PM status “suspended”

**To Reproduce**
1. Headset is connected
2. Wait for ilde till runtime PM status is “suspended”
3.  arecord -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vvv -i.

**Frequency**: 100% from idle

**Actual result**
Quickly from 99% to 0% when arecord start and keeps in 0%(cannot record anything) for about 3-4

[2019-06-04 12:45] bardliao commented on #1008
@ClarexZhou That is a regression of https://github.com/thesofproject/linux/commit/df06e42c0153e720ef413e42ba12e8f58e71e358
And It can be reproduced with legacy HDA driver.
@kailangyang Could you take a look?

[2019-06-04 16:29] kv2019i commented on #854
@wenqingfu Ack, looking at multiple multi-stream cases, I can take a look at this as well.

[2019-06-04 19:00] plbossart commented on #933
When I play a saw-tooth pattern on a MinnowBoard and grab the results with Logic Pro, I clearly see a discontinuity and as usual it's a step of 96 samples. Please redo the measurements by checking the signals on the connector first.
aplay -Dhw:0,0 -c2 -r48000 -f dat cnt_1024_left.pcm
[cnt_1024_left.pcm.gz](https://github.com/thesofproject/linux/files/3254087/cnt_1024_left.pcm.gz)

![ssp-gap](https

[2019-06-04 19:03] plbossart commented on #933
I have the issue issue on Asus 100 TA (rt5640), Asus T100HA (rt5645) and the Dialog DA7213 test board. All of them work fine with the closed-source firmware, none of them work with SOF.

[2019-06-04 19:20] plbossart opened #1010 "sof-rt5682: need to enable MCLK for BYT/Minnowboard"
The sof-rt5682 does not rely on the MCLK for Baytrail. That's not good, this signal is available since the Turbot revision.
We should add this support and not assume the MCLK is only used for CML. This also creates a validation gap since we don't currently have a platform using the MCLK on the legacy platforms.

[2019-06-04 20:50] juimonen commented on #933
@plbossart I'll try again tomorrow in the office. btw did you have this https://github.com/thesofproject/sof/pull/1514 in your fw code? it fixed the s24/s32 playback for me...

[2019-06-04 21:14] plbossart commented on #933
@juimonen yes this is with the latest firmware, but I play in S16_LE on hw:0,0 so your changes probably don't matter.

[2019-06-05 08:01] KailangYang commented on #1008
@bardliao
This look like resume init fall back to default value.
You could remove patch df06e42 for testing.

[2019-06-05 09:01] bardliao commented on #1008
@kailangyang Yes, remove it can fix the issue. But the patch is for https://github.com/thesofproject/linux/issues/900. There will be a 1.5 sec latency in headset playback without this patch. Is that a limitation?

[2019-06-05 10:59] singalsu commented on #960
This can be closed since this PR https://github.com/thesofproject/sof/pull/1479 is merged.

[2019-06-05 10:59] #960 closed

[2019-06-06 03:24] KailangYang commented on #1008
@bardliao
Please remove df06e42 patch.
And apply patch https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?h=for-linus&id=aeac1a0dadb4ab699a61136a5729d048abe6ee5f

Then fill patch as attach
[0000-fix-rec-delay.patch.txt](https://github.com/thesofproject/linux/files/3259843/0000-fix-rec-delay.patch.txt)

Please try it.
But I find it would be no this issue on my machine.
Mantis i

[2019-06-06 05:37] ranj063 commented on #909
@ClarexZhou @mengdonglin
I have just recently pushed a new PR to fix the IPC timeouts issues with MSI. This combined with Rander's PR #983, the canonical patch for jack detection in S3 and reverted commit to switch to legacy IRQ fixes this issue for me.
My branch https://github.com/ranj063/linux/tree/release/5.0 has all the above changes. Can you please verify if this works?

[2019-06-06 05:39] bardliao commented on #1008
@kailangyang It doesn't work on my side. ><

You can download the source tree from https://github.com/thesofproject/linux/releases/tag/release-sof-v5.0-cml-pv.
And run
make bindeb-pkg -j 32
sudo dpkg -i ../*.deb

[2019-06-06 06:02] libinyang commented on #909
@ranj063
I made a patchset just now: https://github.com/libinyang/linux/tree/v5.0-ipc_timeout_2, which works on my machine. I have test my patchset for about one hour. The patchset is a little similar with yours :)

[2019-06-06 09:32] ClarexZhou commented on #909
@ranj063
Run stress test on https://github.com/ranj063/linux/tree/release/5.0.

No ipc timed out occurred.

Only reproduce system response very slow issue during playback (aplay –d 1) stress test: Response very slow from 709th time. Then headset selection query pops up. But no ipc timed out. After that it always take several minutes for  aplay –d 1

[aplayResponseslow_709_dmesg.log](https://github

[2019-06-06 13:10] singalsu commented on #933
Here's my analog recording from the Asus T100 (model T100TA-DK024H) with Pierre's file played with command:

`aplay -Dhw:0,0 -c2 -r48000 -f dat cnt_1024_left.pcm
`
The recording looks clean to me, no such repeating discontinuity as in above logic analyzer screenshot or in the spreadsheet data. I have fresh kernel, topology (sof-byt-rt5640.tplg), firmware fetched and built today.

[rec_cnt_1024_lef

[2019-06-06 14:34] singalsu commented on #933
Continued... if I had this corruption (plot made from Pierre's spreadsheet) it would show up well in the analog waveform too.

![ssp-gap](https://user-images.githubusercontent.com/28754793/59041470-5af9f480-8881-11e9-912e-2df0bc0f7982.png)

[2019-06-06 14:53] juimonen commented on #933
@plbossart I'm also recording from analog output of codec and drawing from recorded wav-file. This kind of gaps should show up through the codec... I'm puzzled what you have there...

[2019-06-06 15:04] kv2019i commented on #854
Analyzed and moved to firmware as https://github.com/thesofproject/sof/issues/1526

We can keep this open until FW confirms.

@Jiangxinx please add more info to the FW bug if nocodec test scenario can be repeated on other platforms than APL

[2019-06-06 15:29] kv2019i commented on #854
I could not reproduce the issues with nocodec mode on WHL. But nocdec mode issue on APL seems clear.
UPDATE: this only happens on topologies with a mixer on the path, explains why I didn't see this on WHL at least yet (see more in the FW bug).

[2019-06-06 15:56] plbossart commented on #933
I don't have an answer but can you please try and look at the connector level? You are using different codecs in different configurations so we don't have a common environment to test. The connector is the only common part and it should be the first test we do.

[2019-06-06 16:36] kv2019i commented on #878
@YvonneYang2 wrote:

Thank, this is useful! I've today resumed working on this. I can also still easily reproduce this with latest driver+fw. Current focus is on the SOF-i915 stack communication and what happens when the DP stream is started. So far the connection between DP and HDMI has not been found. Investigation continues.

[2019-06-06 16:45] kv2019i commented on #944
A lot of progress has happened to refine the fixes to something we could merge upstream:

- https://github.com/thesofproject/linux/pull/1013 - always wake irq threads
- https://github.com/thesofproject/linux/pull/1011 - irq masking based
- https://github.com/thesofproject/linux/pull/1015 - combined the handlers

Plan is to still keep MSI enabled in sof-dev. Keeping open until one of the solutions

[2019-06-06 23:08] ranj063 commented on #966
@libinyang I could not reproduce this problem on my CML. There are some harmless errors in the dmesg wrt volume get failing or no reply expected that cause the script to fail.
But if I run sof_remove.sh and sof_insert.sh, it works just fine for me.

[2019-06-06 23:47] plbossart commented on #966
On 6/6/19 6:08 PM, Ranjani Sridharan wrote:

maybe a red-herring again, but which version of sof_remove/insert are
being used? Last time I checked QA was using a different set of scripts
and i didn't get confirmation that we converged on the same tools.

[2019-06-07 00:56] ranj063 commented on #966
@plbossart i'm using the upstream version from SOF master

[2019-06-07 01:32] ranj063 commented on #966
@plbossart apparently I wasnt using the latest upstream version. And I do hit the system freeze issue but I have a feeling this might be related to the ordering of the modules. I'll look into it

[2019-06-07 13:23] kv2019i commented on #878
Some progress. This bug can be alternatively produce without any concurrent playback.

Steps to trigger bug:
- s3 resume
- play to hdmi, stop (no audio)

Steps to avoid bug
- s3 resume
- play to dp, stop
- play to hdmi -> works

Alternative steps to make hdmi playback work
- s3 resume
- play to hdmi, stop -> fails
- play to dp, stop -> ok
- play to hdmi -> now works

I have a now lead on the rootc

[2019-06-07 15:29] ranj063 commented on #966
@plbossart it looks like it is just a matter waiting long enough between removing and inserting modules.
With a 10s sleep between sof_remove.sh and sof_insert.sh and then again for the next sof_remove.sh, I have no problems at all. I have a feeling pulseaudio might have a role to play here. Could you please take a look at it as well?

[2019-06-07 15:45] plbossart commented on #966
we already use a 6s delay to allow pulseaudio to go to sleep and the system to go to ideal but I don't mind raising this value to 10s. On my one RVP I also had to increase this to 10s.

[2019-06-07 17:02] ranj063 commented on #966
@plbossart OK let me investigate a bit more and get back with a recommendation

[2019-06-09 14:49] bardliao commented on #41
Fixed by https://github.com/thesofproject/linux/pull/756 thesofproject/sof#1194 and https://github.com/thesofproject/sof/pull/1358

[2019-06-09 14:49] #41 closed

[2019-06-10 02:30] libinyang commented on #966
patch is submitted to fix this issue.
That patch reverts commit 18e1f86.

[2019-06-10 02:56] KailangYang commented on #1008
@jason77-wang
Could you test this case?
I didn't reproduce this symptom.

[2019-06-10 05:17] ClarexZhou commented on #925
Error seen on CFL laptop when playing HDMI via HW:0,5
**Environment**
Kernel: 723615b Canonical kernel https://github.com/jason77-wang/oem/commits/sof-pv
FW: 6cc8da10 https://github.com/thesofproject/sof/tree/cml-hda-dmic-001-drop-stable
Tplg: same with FW. sof-hda-generic-2ch.tplg

[2019-06-10 12:56] jason77-wang commented on #1008
I tested it on a WHL machine and followed the steps in the comment #1:
after I ran "arecord -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vvv -i.", the program starts to record the sound,
it worked well for 0.1-0.5s, then it malfunctioned for 0.5-1s, after that, it worked well again.

[2019-06-10 15:22] kv2019i commented on #878
Update: I have now a reliable fix, but it's not ready for submission yet. Will require a bit of work not to break anything for other users of hdac_hdmic.c library.

[2019-06-10 18:08] plbossart commented on #838
closed, was firmware authentication issue

[2019-06-10 18:08] #838 closed

[2019-06-10 18:08] plbossart commented on #657
closing since fixed a long time ago

[2019-06-10 18:08] #657 closed

[2019-06-10 18:21] #791 closed

[2019-06-10 18:22] #639 closed

[2019-06-10 18:24] plbossart commented on #610
closing, it's too much work to figure out what the dependencies are and it's low-value to do so. The scripts are enough to test the allocation flow.

[2019-06-10 18:24] #610 closed

[2019-06-10 18:25] plbossart commented on #564
closing, we've removed the use of the cmd argument in the kernel

[2019-06-10 18:25] #564 closed

[2019-06-10 18:26] plbossart commented on #454
@xiulipan this is still outstanding, it's a really good check to add.

[2019-06-10 18:27] plbossart commented on #336
closing, this code was removed with the dynamic allocation of HDaudio links

[2019-06-10 18:27] #336 closed

[2019-06-10 18:27] plbossart commented on #331
this is implemented now, closing

[2019-06-10 18:27] #331 closed

[2019-06-10 18:28] plbossart commented on #254
closing, this was fixed by PR#862

[2019-06-10 18:28] #254 closed

[2019-06-10 18:30] plbossart commented on #87
@zhuyingjiang can you clarify what remains to be done for this issue?

[2019-06-11 02:39] keyonjie commented on #1001
I am still seeing this errors in today's latest commits:
[code]
@fredoh9 @keqiaozhang how about you?

[2019-06-11 03:35] xiulipan commented on #454
@plbossart
I will try to prebuild the coccinelle and upload it to 01.org to reduce the time cost for travis ci.

[2019-06-11 06:05] zhuyingjiang commented on #87
@plbossart The remains are:
4. watchdog and recovery needed
7. avoid DMA resume capability on capture

The  5. #777 delays after programming registers (and/or loops to check status changes)
is almost been done after my PR #1020 #997 is merged.
Still there may need one more PR for "set DUM bit on device power up"

[2019-06-11 07:48] YvonneYang2 opened #1022 "[BUG][GLK]Shows I/O error when pause arecord then resume."
**Describe the bug**
System shows I/O error when pause arecord then resume. All arecord can reproduce the issue.

**To Reproduce**
1.Arecord via "arecord -Dhw:0,1 -r48000 -c2 -fs16_le 1.wav -vv -i"
2.Pause arecord
3.Resume asrecord

**frequency**

100%

**Expected result**
Arecord resumed normally.

**Actual result**
Shows I/O error "arecord:pcm_read:2103:read error:Input/Output error"

**Environm

[2019-06-11 08:23] Jiangxinx commented on #1022
This issue also exist in BYT rt5651 and nocodec platform.

[2019-06-11 12:58] lgirdwood opened #1023 "[FEATURE] Add support for virtualised Audio"
@lyakh This ones for you, after IPC and IRQ. It's a big ticket item, where parts will be used in generic ALSA VM support.

The SOF driver should be able to play and capture audio in a VM. i.e. consider a hypervisor topology with 4 VMs made up of 3 guest VMs (Guest OS - GOS) and 1 Service VM (Service OS - SOS). Each GOS and the SOS must be able to have a unique topology and play/capture audio witho

[2019-06-11 13:18] plbossart commented on #966
@libinyang This issue is going nowhere. I can't figure out what the problem since your diagnosis did not take into account Ranjani's patch upstream. The revert without explanation is not acceptable, sorry.

[2019-06-11 15:34] ranj063 commented on #966
@plbossart I think the right fix for this issue is below. I will submit a PR today after Libin tests it. I was able to pass 100 module unload/reload iterations with this. Libin was on the right track in terms of root causing but the revert is not the right solution.
[code]

[2019-06-11 15:53] kv2019i commented on #878
Fix is now available for review&cherry-pick (PR1024). This solves issues both at system boot and after resume from S3. Basicly any combination with multiple HDMI/DP monitors connected, and only some of them used for playback after boot/resume, will trigger this problem.

[2019-06-11 16:52] #922 closed

[2019-06-12 03:45] YvonneYang2 commented on #878
Issue not reproduced with the fix patch(PR #1024) when play HDMI music after resume from s3 or reboot .

Besides, check some extra scenarios as belows. No new issues occurred.
1.  3 aplay + 3 arecord at same time
2.  Hot plug HDMI/DP during music playing.
3. Play DP/headset music after resume from s3 or reboot.

[2019-06-12 06:13] Jiangxinx opened #1027 "[Bug][APL][DPMST] No soundcards found while power on after plugout hdmi and headphone on UP2-PCM512X platform."
***Summary:***
No soundcards found while power on after plugout hdmi and headphone on UP2-PCM512X platform.
However,can not reproduce it when plugin one hdmi device.

***To reproduce***
aplay -l

***Actual result***
[code]

***Test recipe***
sof master: 347ee08c
kernel sof-dev: 24d854a5
tplg: sof-apl-pcm512x.tplg

***dmesg***
[code]

***lsmod***
[code]

***log files***
[lsmod.log](https://github.c

[2019-06-12 09:26] lyakh opened #1028 "remove "state" variable"
In ops.h:
[code]
and they are only called from pm.c as
[code]
i.e. the `state` variable is never used. Let's remove it.

[2019-06-12 10:07] ClarexZhou commented on #909
Reopen for original issue isn't fully fixed #983 ,still waiting other PRs.
@RanderWang please add all PRs

[2019-06-12 15:53] lgirdwood opened #1032 "[FEATURE] Add multi-client support"
The SOF driver stack is currently only permits audio use cases. Add MFD support to allow other client drivers to register with SOF MFD driver in order to:

1) Register / unregister with SOF driver.
2) Send and receive IPC
3) Increment/decrement runtime PM usage.

The MFD layer should sit above the IPC layer and below the PCM layer (the PCM layer will be it's first client).

[2019-06-12 17:57] tlauda commented on #999
@keyonjie @Jiangxinx Please verify with current FW master.

[2019-06-13 01:04] fredoh9 commented on #1022
I have same problems on all of capture pipeline. Pause command worked but when resume command is issued this error returned.

no error in kernel dmesg.

[2019-06-13 01:33] libinyang commented on #966
@ranj063 Your patch works. So I will close my PR.

[2019-06-13 06:27] Jiangxinx commented on #999
Can not reproduce on daily test.
***Test recipe***
date:20190613
sof master: 96a544e6
kernel sof-dev: 96033e6b
tplg: sof-apl-nocodec.tplg & sof-apl-pcm512x.tplg

[2019-06-13 06:41] xun2z commented on #1010
#1033 does this help?

[2019-06-13 09:07] ClarexZhou commented on #969
Error occurred during S3 without playback stress test.
FW load failed then CTX_save ipc timed out at 109th time. Can't enter S3 anymore and headset type selection query pops up.

Test Recipe
Kernel sof-dev : 96033e6 +PR1003
FW: 47dc14d https://github.com/lyakh/sof/tree/ipc-timeout
Topology: Same with FW.

dmesg:
[code]

[2019-06-13 10:25] YvonneYang2 opened #1036 "[BUG][CML]Cannot detect HDMI audio codec after only plug out DP during s3"
**Describe the bug**
HDMI amixer value is same as DP(value:off)after only plug out DP during s3. Only reproduced on DV2 device. DV1 device cannot reproduce the issue.

**To Reproduce**

1.Keep both HDMI and DP external port connected
2.Enter s3
3.Plug out DP then wake up.
4.Check HDMI and DP amixer value via "amixer cget numid=37 or 38"

**frequency**

100%

**Expected result**
HDMI monitor should

[2019-06-13 10:28] lyakh commented on #969
@ClarexZhou you really were testing my ipc-timeout branch? It is very old and outdated, it shouldn't be used any more...

[2019-06-13 10:39] ClarexZhou commented on #969
@lyakh kernel is using latest https://github.com/thesofproject/linux/commits/topic/sof-dev  [Top commit: 96033e6 ]  + PR1003

[2019-06-13 12:42] kv2019i commented on #969
This looks different from any IPC timeout cases. Here the failure comes from polling the FW, so we are not relying on IRQs at all here. It also looks strange that the FW does send some replies, so it's not completely head:

[ 1673.713732] sof-audio-pci 0000:00:1f.3: FW Poll Status: reg=0x6000021 successful
[ 1673.713864] sof-audio-pci 0000:00:1f.3: error: no reply expected, received 0x0

... so he

[2019-06-13 15:24] kv2019i commented on #1000
@mengdonglin @wenqingfu I can start looking at this.

[2019-06-13 16:33] ranj063 commented on #969
@ClarexZhou what platform did you test on? On my CML with sof-dev and #1003 I have not been able to reproduce this at all

[2019-06-13 16:44] wenqingfu commented on #969
Did you stress it?  the report says "FW load failed then CTX_save ipc timed out at 109th time"

[2019-06-13 16:46] ranj063 commented on #969
@wenqingfu yes, I've run way  more than 109 for sure

[2019-06-14 05:18] RanderWang commented on #909
only https://github.com/thesofproject/linux/pull/1003 is not merged

[2019-06-14 11:01] xiulipan commented on #969
@kv2019i
The `[ 1673.713864] sof-audio-pci 0000:00:1f.3: error: no reply expected, received 0x0` comes from ROM.
As we did not retry here, so it is not DSP reset issue.
It looks more like FW download via DMA have some issue and DSP did not start run FW.

[2019-06-14 11:11] kv2019i commented on #919
@ClarexZhou Can this be closed?

As per recent test result, no timeouts should be observed anymore in the original scenarios of this bug:

""Scenario A：Do system reboot stress test. Error occurred after system reboot.
Scenario B：Do aplay test several times. Error occurred after Stop aplay""

[2019-06-14 13:51] mengdonglin commented on #1036
This seems to be GFX issue:

[ 1949.959337] [drm:intel_dp_start_link_train] *ERROR* failed to enable link training
[ 1951.464340] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 5:0
[ 1953.678042] [drm:intel_dp_start_link_train] *ERROR* failed to enable link training

[2019-06-14 14:54] singalsu commented on #753
ETA to continue fixing this is end of June after my vacation. I need to change the approach because of fundamental changes done into control.c in SOF kernel.

[2019-06-14 14:56] singalsu commented on #665
This works now for short coefficient sets without need for large IPC. Large IPC version is still in PR polishing phase so I'm still keeping this open.

[2019-06-14 14:59] singalsu commented on #477
I will start working with this after my vacation in end of June. This is related to Linux #753 and PR #890.

[2019-06-14 15:10] mengdonglin commented on #956
@RanderWang @juimonen @wenqingfu
Please also read the latest discussion between Pierre and Jaroslav:
[alsa-devel] SOF firmware/ucm/topology packaging
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149961.html

[2019-06-14 15:17] mengdonglin opened #1039 "[Feature] Coexistence of SOF, legacy HD-A and close source FW driver"
Upstream thread: https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149968.html

Speaking for distributions, we need to correctly identify the driver which
will load the proper firmware files. From notes posted to the alsa-devel ML,
it seems that there are three drivers for similar hardware (sound bridges) now
and it is not easy to identify the proper driver, because the similar PCI ID

[2019-06-14 15:23] mengdonglin commented on #1039
Pierrie's RFC to fix this open:
[alsa-devel] [RFC PATCH 0/6] ALSA/HDA: abort probe when DMICs are detected
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-May/149729.html

[2019-06-14 16:54] #878 closed

[2019-06-17 00:40] mengdonglin commented on #1039
The solution is aligned with upstream, Canonical will test it . Thanks @plbossart !

[2019-06-17 02:49] YvonneYang2 commented on #984
Issues still reproduced during Suspeand & Resume with playback_Analog_50 times stress test.
But only shows "PM: Some devices failed to suspend, or early wake event detected" message in dmesg log, no ipc error info, and has no impact on audio function.

**Environment**
Firmware: 6cc8da10 https://github.com/thesofproject/sof/tree/cml-hda-dmic-001-drop-stable
Kernel: f081174 https://github.com/thesof

[2019-06-17 02:52] YvonneYang2 commented on #909
Issue not reproduced though #1003 is now merged by https://github.com/thesofproject/linux/tree/release/sof-v5.0. So close the bug.

[2019-06-17 02:52] #909 closed

[2019-06-17 03:01] jason77-wang opened #1041 "[bug][sof][ucm] the hotkeys of mute/micmute/mute-led/micmute-led all don't work after using sof driver and ucm"
The laptop has mute and micmute hotkeys, and there are led indicator as well, but they all don't work after using sof driver and ucm.

[2019-06-17 03:14] #1041 closed

[2019-06-17 03:14] ClarexZhou commented on #919
Close for not reproduced on sof-dev 96033e6

[2019-06-17 03:14] #919 closed

[2019-06-17 03:15] jason77-wang commented on #1041
only micmute and micmute led have this issue.

[2019-06-17 07:21] mengdonglin commented on #999
Closing as fixed by PR https://github.com/thesofproject/sof/pull/1546, the same fix for issue https://github.com/thesofproject/sof/issues/1486

[2019-06-17 07:21] #999 closed

[2019-06-17 07:53] KailangYang commented on #1008
@jason77-wang
I revert this patch https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?h=for-linus&id=aeac1a0dadb4ab699a61136a5729d048abe6ee5f
It will recording fine.
If it need to revert upper patch, how did you think?

[2019-06-17 09:54] kv2019i commented on #944
https://github.com/thesofproject/linux/pull/1013 was now merged and no new sightings -> closing this bug.

[2019-06-17 09:54] #944 closed

[2019-06-17 11:16] lyakh commented on #1000
@kv2019i hasn't it been decided that this is PA's problem and that their commit, that's present in their master branch should be advanced to a new release and to distributions?

[2019-06-17 11:28] kv2019i commented on #1000
@lyakh No. While update to newer pulseaudio can help, to me SOF behaviour is not solid here. I've been debugging this since Friday and target to have more information end of today. UPDATE: rootcause still unknown, but I found at least one behaviour in FW that may explain this -> https://github.com/thesofproject/sof/issues/1572

[2019-06-17 15:31] kv2019i opened #1043 "Boot FW trace messages lost"
With recent Linux+FW, driver goes to runtime suspend so fast after boot, that FW does not have time to send any TRACE_MSG before powered down, and thus first boot messages are forever lost.

Tested to occur on UP2 board with ubinulinux. On WHL laptop running Ubuntu this does _not_ happen, possibly due to applications opening up the ALSA PCMs at boot and increasing runtime pm last_used values.

SW

[2019-06-17 15:57] ranj063 commented on #969
@jajanusz this looks like a FW load problem on one particular board and the error seen in the last few runs shows this ROM status when the first fail occurs. Does this tell you something?
[ 1011.319929] sof-audio-pci 0000:00:1f.3: unknown ROM status value 06000010

[2019-06-17 16:02] kv2019i commented on #887
Summing up a long email discussion. It would seem to debug (and get FW DMA traces for) invalid topologies, especially bullet (3) would be very useful:
"3. It would be better to add ref_cnt for each DSP core, after booted, core0.ref_cnt = 1,"

With current code, some serious hacking is needed to do debug that should be a fairly
common need for anyone developing new topologies.

[2019-06-17 21:31] wenqingfu commented on #891
"Error" makes ordinary people panic . @ranj063 @keyonjie @bardliao From your discussions, should we change this to warning? or still do something to get rid of the error , like the "[solution](https://github.com/thesofproject/linux/issues/891#issuecomment-489360328)" @ranj063 mentioned in earlier post?

[2019-06-17 21:35] ranj063 commented on #891
@wenqingfu this issue should have been fixed by https://github.com/thesofproject/linux/pull/1006. @bardliao could you please confirm and close?

[2019-06-17 22:26] fredoh9 commented on #1022
I am able to reproduce the same error in BYT NOCODEC mode also.
For the other platforms on HDA mode(CFL and ICL), I don't see this error.

[2019-06-18 03:41] mengdonglin commented on #1036
This is a known issue to Canonical, seems lack of gfx support for CML in v5.0 kernel.

[2019-06-18 05:12] bardliao commented on #891
@ranj063 @wenqingfu Yes, we don't see the issue after #1006 was merged. However,  #1006 is more like to hide the issue instead of fix it.  Actually, I don't think it was a real issue in this case.  Regarding the message type, I think we can keep it as "error" since we may meet a real issue in the future and people may not care about a warning message. Let's close it.

[2019-06-18 05:12] #891 closed

[2019-06-18 05:22] ClarexZhou opened #1045 "[Bug][CML] 'error: no reply expected, received 0x0' is shown in dmesg"
**Describe the bug**
'error: no reply expected, received 0x0' is shown in dmesg after system boot up

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Dmesg to check info after system boot up.

**frequency**
100%

**Actual result**
'error: no reply expected, received 0x0' is shown

**Expected result**
No error message, or shouldn't be marked as red.

**Environment**
Firmware: c328dd8 Mast

[2019-06-18 05:28] ClarexZhou opened #1046 "[Bug][CML] 'error: debugfs entry etrace cannot be read in DSP D3' is in dmesg after system bootup"
**Describe the bug**
'error: debugfs entry etrace cannot be read in DSP D3' is shown in dmesg after system boot up

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Dmesg to check info after system boot up.

**frequency**
100%

**Actual result**
'error: debugfs entry etrace cannot be read in DSP D3'

**Expected result**
No error message, or shouldn't be marked as red.

**Environment**
Fir

[2019-06-18 05:30] ClarexZhou opened #1047 "[Bug][CML] 'error: nothing to do in IRQ thread' is shown in dmesg"
**Describe the bug**
'error: nothing to do in IRQ thread' is shown in dmesg after system boot up

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Dmesg to check info after system boot up.

**frequency**
100%

**Actual result**
'error: nothing to do in IRQ thread' is shown

**Expected result**
No error message, or shouldn't be marked as red.

**Environment**
Firmware: c328dd8 Master
Kerne

[2019-06-18 05:54] xiulipan commented on #1045
@ClarexZhou
I think this not a bug, it is a known issue and come from ROM.

[2019-06-18 05:58] xiulipan commented on #1046
@ClarexZhou
Not a bug. please do not try to use logger in DSP D3.
PS: this will not be shown unless you try to read etrace or other debugfs.

To enable read with D3 mode, please enable
`CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE=y`

[2019-06-18 06:05] ranj063 commented on #1022
@Jiangxinx are you sure this problem still exists on BYT with rt5651? I couldnt reproduce it with the latest sof-dev and sof master

[2019-06-18 06:13] ranj063 commented on #1022
I can reproduce it after a few pause/releases on BYT. It looks like a overrun issue in the FW.

[2019-06-18 06:14] Jiangxinx commented on #1022
@ranj063 Yes, I can still reproduce this issue on BYT rt5651.
Please keep pressing the tab key (Pause/Resume) while do arecord testing, then, you can see the "Input/Output error".

[2019-06-18 06:19] ranj063 commented on #1022
@Jiangxinx this should be a FW issue. Could you please close this one and re-open as a SOF issue?

[2019-06-18 08:04] kv2019i commented on #1043
Fixed with PR1044, closing.

[2019-06-18 08:04] #1043 closed

[2019-06-18 10:49] ClarexZhou commented on #1046
Close for not a bug

[2019-06-18 10:49] #1046 closed

[2019-06-18 10:49] ClarexZhou commented on #1045
Close for not a bug

[2019-06-18 10:49] #1045 closed

[2019-06-18 17:33] ranj063 commented on #1022
replaced with https://github.com/thesofproject/sof/issues/1578

[2019-06-18 17:33] #1022 closed

[2019-06-19 09:36] Hao-Sheng commented on #909
[dmesg.log](https://github.com/thesofproject/linux/files/3305429/dmesg.log)
Found external mic cannot record sound

[2019-06-19 13:47] kv2019i commented on #1000
Issue tracked to problems in how we we handle ALSA prepare(). See logs and explanation in:
https://github.com/thesofproject/sof/issues/1572#issuecomment-503567325

.. this now looks the same problem, but not sure whether to fix on driver or FW side. We are not following ALSA semantics here.

[2019-06-19 15:03] kv2019i commented on #1000
An RFC patch is available at:
https://github.com/thesofproject/linux/pull/1049

... this fixes sequences with aplay, but does not however fix the Pulseuadio (v11.1) S3 case. I can see from logs that PA is now able to to run a bit longer after each PCM_START attempt, but after a flurry of rewinds, it still ends up to XRUNs and never recovers.

[2019-06-19 15:35] kv2019i commented on #1000
@kv2019i wrote:

Tested with PulseAudio 12.0-293-g03bef (git build) and tests passes without any XRUNs. It seems the main problem with v11.1 is that PA doesn't remember the buffering delay, but tries to find a new optimal value after each XRUN. In 12.0 and newer, PA remembers the old value and PCM resumes without the many rewinds.

[2019-06-19 16:18] sathyap-chrome opened #1050 "CML : S3 fails in 2nd iteration - noirq suspend failed"
On the CML hatch / EVT, I’m seeing an issue with S3.
This happens consistently on the 2nd S3 iteration.

Though the logs do not suggest any audio failures, the issue is seen only when Audio drivers are loaded.
Hence the issue is in Audio bucket.
I tried to debug a bit, I have some data, but would like to get directions / suggestions from y
If we blacklist sof_pci_dev driver, S3 runs smooth for man

[2019-06-19 16:39] sathyap-chrome commented on #1050
Topology & FW used :  Cml_drop_004 : Commit: f82d9dad7bd4

Kernel :
HEAD is ASoC: SOF: pci: add module param to disable pm_runtime + ASoC: SOF: Intel: hda: switch to use legacy IRQ mode
full git log attached since we are on chrome kernel and its not 1:1 with sof-dev.
[git_log.txt](https://github.com/thesofproject/linux/files/3307083/git_log.txt)

[2019-06-19 17:06] ranj063 commented on #1000
@kv2019i so do we still need to fix v11.1?

[2019-06-19 17:14] kv2019i commented on #1000
Yes, I believe so -- what PA does is not against the ALSA PCM interface, so it should work (plus 11.1 is quite widely used, so people will hit this even if new PA is released). We need to still figure out why PR1049 doesn't help with 11.1...

[2019-06-19 19:19] cujomalainey opened #1051 "ACPI needed for compile_test"
Our local maintainer found some issues with compile test dependencies. ACPI is required but somehow not depended on.

See the local fix https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/1662076

[2019-06-19 20:36] ranj063 commented on #1050
@sathyap-chrome why are using the patch to switch to IRQ mode. We have dropped that patch and kept MSI enabled in sof-dev

[2019-06-20 01:03] mengdonglin commented on #1036
Closing here as 'won't fix', because this is a GFX issue.

[2019-06-20 01:03] #1036 closed

[2019-06-20 01:39] mengdonglin commented on #1008
@kailangyang @jason77-wang @bardliao @ClarexZhou I'll close it as won't fix here, because it's not a SOF driver issue. But we can continue discuss for a better solution here.

[2019-06-20 01:39] #1008 closed

[2019-06-20 01:53] jason77-wang commented on #917
This is the fix for this bug:
https://lists.freedesktop.org/archives/pulseaudio-discuss/2019-June/031190.html

[2019-06-20 03:11] sathyap-chrome commented on #1050
@ranj063 the issue is seen without that too. i tried to see if that helps. i can drop it and share logs.

[2019-06-20 04:18] sathyap-chrome commented on #1050
Attached the fresh logs.

The SOF IPC response difference is seen here too,
[dmesg_s3_fail.txt](https://github.com/thesofproject/linux/files/3308734/dmesg_s3_fail.txt)
[dmesg_s3_pass.txt](https://github.com/thesofproject/linux/files/3308735/dmesg_s3_pass.txt)

PASSING SCENARIO:
[  225.092643] sof-audio-pci 0000:00:1f.3: FW Poll Status: reg=0x6000021 successful

FAILURE SCENARIO:
[  250.870828] sof

[2019-06-20 04:24] ranj063 commented on #1050
@sathyap-chrome a couple of weeks ago the S3 test was working properly wasnt it? Do you know when things started breaking? have you dont a git bisect to see which commit causes the issue?

[2019-06-20 04:35] sathyap-chrome commented on #1050
@ranj063 currently on google repo we have cml_drop 002 branch and we had it working across boards around 10 weeks back. Now since we are replacing many of the FROMLIST / CHROMIUM patches and took all upstream patches, git bisect wont be straight forward.

Also this issue is seen  consistently on current google stack (with 0002), but debugging there might not help as they are older patches.

Can yo

[2019-06-20 05:59] plbossart commented on #1051
No, the fix is incorrect. There are devices such as Merrifield which do not rely on ACPI for the audio parts.
Can you share the config that causes the problem here and/or reproduce the issue with the latest topic/sof-dev branch to check if this is a backport issue? I know there were fixes recently since APCI and PCI are no longer tied.

[2019-06-20 13:50] wenqingfu commented on #1010
fixed by #1033. Thank you, @xun2z !

[2019-06-20 13:50] #1010 closed

[2019-06-20 18:00] groeck commented on #1051
alpha:allmodconfig and many other non-Intel architectures fail build tests.

ERROR: "snd_soc_acpi_codec_list" [sound/soc/intel/common/snd-soc-acpi-intel-match.ko] undefined!

[2019-06-21 03:31] plbossart commented on #1051
@groeck which code are you using?
If you look at the header file, when CONFIG_ACPI is not defined this function will default to a dummy inline, so not sure how this problem happens

https://github.com/thesofproject/linux/blob/08d3631c44da53bc101b299c7fd849f3dfee3ca1/include/sound/soc-acpi.h#L51

[2019-06-21 06:08] groeck commented on #1051
The version applied to chromeos-4.14 does not include any dummy code. I can not comment on where it is from, or why it is different than the code you pointed to. It is the code I have to live with because it has been applied to a release branch.

[2019-06-21 07:46] plbossart commented on #1051
@ranj063 who takes care of taking the patches from upstream and submits them to the 4.14 branch?

[2019-06-21 08:39] keqiaozhang opened #1053 "System hangs during S3 on WHL"
This issue happens on WHL-RVP. It run to system hangs during the S3 stress test and no logs or traces are available after this issue.
This issue cannot be reproduced after audio is removed form kernel. So I think this is a sof issue.

Test recipe:
Kernel: sof-dev/08d3631c
Firmware: master/96a544
Platform: WHL-rvp

[2019-06-21 15:03] ranj063 commented on #1051
@plbossart its kamal and smit. Let me talk to them about it.

[2019-06-21 17:12] ranj063 commented on #1053
@keqiaozhang I think this might be related to #1050

[2019-06-21 17:13] ranj063 commented on #1053
could you please also check if there's anything in kern.log?

[2019-06-21 20:38] fredoh9 commented on #1053
Good news and bad news. I tried on daily build of 20190621. I couldn't reproduce the problem.
linux: topic/sof-dev 08d3631c
sof: master 333f15f3

I ran S3 manual testing with playback and without playback. but no luck.

I ran sanity-test suite with only pm-s3-10.sh and pm-s3-without-playing-10.sh. I tried two times, meaning 2x10 S3 each case.

[2019-06-21 21:55] fredoh9 commented on #1053
After discussing with @ranj063, All WHL/CFL/ICL RVPs in my side are running SOF HDA mode. We don't have I2S codec. Not sure WHL in this thread are I2S or not but #1050 is I2S mode. So she wanted to debug more in I2S mode.

Not to lose the status of my testing. I build sathya's chrome kernel and test same thing. this kernel is based on 4.19.48 whereas sof-linux is 5.2.0 RC3.
https://github.com/sath

[2019-06-24 05:48] ClarexZhou commented on #984
@RanderWang , Rander's analysis as below:

And error not seen on stress test result with minimum of 5s delay after suspending and wait 5s after resuming before suspending again

[2019-06-24 07:00] ClarexZhou commented on #969
Error occurred on DVT2 HW at S3 without playback stress test. Failed at 174th: FW load failed then CTX_save ipc timed out .

[code]
[wasp_DVT2_S3_test_174.log](https://github.com/thesofproject/linux/files/3319570/wasp_DVT2_S3_test_174.log)
[s3_test_174_logger_all.log](https://github.com/thesofproject/linux/files/3319601/s3_test_174_logger_all.log)

[2019-06-24 08:31] keyonjie commented on #891
Hi @bardliao, sorry for the late response, I hit runtime_status error issue after #1006 merged(not sure if it is introduced by this PR, but at least I think we still have some issues here):
#cat /sys/bus/pci/devices/0000\:00\:1f.3/power/runtime_status
error
#cat /sys/bus/pci/devices/0000\:00\:1f.3/power/control
on

[2019-06-24 09:09] ClarexZhou opened #1054 "[Bug]Headset can’t be detected when plug in headset just after system boot up"
**Describe the bug**
Headset can’t be detected when plug in headset within 2s after system boot up

**To Reproduce**
1. System auto login is on (setting->details->users to turn on automatic login)
2. Do system reboot via "sudo reboot"
3. Plug in headset as soon as unit boot up (display on and enter desktop page.)

**frequency**
100%

**Actual result**
Check jack detection via 'amixer cget numid=34

[2019-06-24 09:32] ClarexZhou opened #1055 "[Bug][CML]Headset arecord not work when plug in headset as soon as wake up from S3 (2/12)"
**Describe the bug**
Headset arecord not work when plug in headset as soon as  login account when wake up from S3

**To Reproduce**
1. System auto login is off (setting->details->users to turn off automatic login)
2. Enter suspend via Power menu (Long press Shutdown icon after click top right corner, icon will change to suspend icon, then select it)
3. Press any button to wake up, account password

[2019-06-24 09:38] ClarexZhou commented on #1055
Error also occurred when do quickly plug in/ out during account login when system bootup (4/40)

[2019-06-24 10:25] ClarexZhou commented on #1055
Error also can be reproduced when quick plug in/out several times during sound setting opened.

[2019-06-24 11:30] bardliao commented on #891
@keyonjie Can you share the dmesg log? And can you confirm that the issue is only seen with #1006 merged?

[2019-06-24 17:06] ranj063 commented on #984
@ClarexZhou could you please update the test script upstream and submit the PR?

[2019-06-24 17:10] ranj063 commented on #1055
@ClarexZhou could you please check if https://github.com/thesofproject/linux/pull/977 helps ?

[2019-06-25 02:08] RanderWang commented on #1054
I setup the serial port in whiskylake and connected it to a host machine to check the secret behind the boot up. I can reproduce this bug and found at this time, SOF was being initialized. I may need to dig deeper.

[2019-06-25 02:23] RanderWang commented on #1055
this issue is same as https://github.com/thesofproject/linux/issues/1054.

[2019-06-25 02:23] RanderWang commented on #1055
This is not a bug, it is can be reproduced with legacy hda driver.

[2019-06-25 02:26] RanderWang commented on #1055
@ranj063  this PR has been merged in v5.0, but makes no effect for this case.
I have a idea but need to be confirmed

[2019-06-25 04:32] ClarexZhou opened #1057 "[Bug]IPC error, aplay cannot recover if system aborts S3 and SOF PM is interrupted"
**Describe the bug**
aplay exit and IPC error when enter and exit suspend in 1s, driver isn't update after runtime PM is interrupted.

**To Reproduce**
1. Run 'aplay -Dhw:0,0 -fS16_LE -c2 -r48000 -d1 /dev/zero' in one terminal
2. Run 'while rtcwake -m mem -s 1 ; do sleep 1 ; done ' in another terminal

**frequency**
100%

**Actual result**
Aplay stopped after  S3 enter and wake up at 18th time and

[2019-06-25 04:34] ClarexZhou commented on #984
Scripts will update later.  Close this bug and track in #1057 for aplay exit and ipc error issue when enter and wake S3 in 1s.

[2019-06-25 04:34] #984 closed

[2019-06-25 04:35] YvonneYang2 commented on #1057
Related logs:
[S3_aplay_dmesg.log](https://github.com/thesofproject/linux/files/3323577/S3_aplay_dmesg.log)
[S3_aplay_logger.log](https://github.com/thesofproject/linux/files/3323578/S3_aplay_logger.log)

[2019-06-25 05:39] wenqingfu commented on #1057
https://github.com/thesofproject/sof/issues/1526 , https://github.com/thesofproject/linux/issues/854#issuecomment-497228999

[2019-06-25 06:11] ClarexZhou commented on #984
Scripts are updated and merged in sofcitest

[2019-06-25 10:48] Jiangxinx opened #1059 "[Bug][BYT] unload /reload audio module failure."
***Describe the bug***
Can not Removing snd_soc_sst_bytcr_rt5651 while doing load/reload test on byt-rt5651 platform.

***To Reproduce***
1.sudo ./sof_bootone.sh

***Actual result***
[code]

***dmesg***
[code]

***bisect result***
Caused by topic/sof-dev (#1018).

***Environment***
Firmware: 25bbc9f5 https://github.com/thesofproject/sof/commits/master
Kernel: 0087d4af https://github.com/thesofproj

[2019-06-25 11:26] kv2019i commented on #969
It seems curious that the exact FW status code is a bit different in different failure cases. SW is polling on the FwStatus/RomStatus register (0x0) for value 0x5 (with mask of 0xf), but this times out and the values FwStatus we are seeing:

https://github.com/thesofproject/linux/issues/969#issuecomment-496385549
[  104.507030] sof-audio-pci 0000:00:1f.3: FW Poll Status: reg=0x5000001 timedout

re

[2019-06-25 14:51] ranj063 commented on #969
@kv2019i this was also pointed out by sathya in #1050
@jajanusz could you please help here?

[2019-06-25 20:52] wenqingfu commented on #958
not reproducible after thesofproject/linux#1013 et al.

[2019-06-25 20:52] #958 closed

[2019-06-25 21:01] wenqingfu commented on #1053
ping, @keqiaozhang. @RanderWang knows how to setup a kernel serial console, it can help you capture the console output from the kernel from another machine in kernel panic.

[2019-06-26 02:17] keqiaozhang commented on #1059
This issue also can be reproduced on WHL/I2S mode.

[2019-06-26 05:00] wenqingfu commented on #1059
https://github.com/thesofproject/linux/pull/1018/commits/3bb936f5b92a0a6b6f4d16d834243e2f62521349?

[2019-06-26 07:04] RanderWang commented on #1053
![com port](https://user-images.githubusercontent.com/39945651/60158300-65c1fc80-9823-11e9-8ab7-e204e4561a15.jpg)
(1) Connect com port to host machine by a usb-com line.

(2) add the following lines in /etc/default/grub on target machine( whiskylake RVP)
GRUB_CMDLINE_LINUX="console=tty0 console=ttyS0,115200n8"
GRUB_TERMINAL=serial
GRUB_SERIAL_COMMAND="serial --speed=115200 --unit=0 --word=8 --pari

[2019-06-26 07:53] lyakh commented on #1000
#1058 can be used for runtime disabling of MSI

[2019-06-26 11:02] lyakh commented on #1057
@ClarexZhou are you also able to reproduce this problem with the current sof-dev? If I try your recipe on my Mantis with sof-dev I do get interrupted suspends rather easily, but aplay continues normally and no errors are reported. BTW, you specified "-d1" parameter in your aplay command line, that's probably a typo?

[2019-06-26 12:20] jajanusz commented on #969
@ranj063
[code]
Means that wait status is set to `WAIT_FOR_IPC_DONE` and  earlier before that rom status overall was set to `FSR_ROM_BASEFW_CSE_IMR_REQUEST`. So something with bios/cse. Are your flows ok? Rom set busy, set value (called imr request in rom) and then waits for done set on csme side.

[2019-06-27 03:26] ranj063 commented on #1053
@mengdonglin @keqiaozhang if this is a regression caused by #1018 , it should be fairly easy to do a git bisect and determine which commit is the culprit. Can someone help with that?

Also, is this issue seen with nocodec as well?

[2019-06-27 07:45] kv2019i commented on #961
Ack. @plbossart had a patch to do just this (see https://github.com/thesofproject/linux/pull/927 ), see status update in https://github.com/thesofproject/linux/pull/927#issuecomment-501767908

[2019-06-27 10:05] keqiaozhang commented on #1053
@ranj063
Looks like HDA mode is more stable than I2S mode.  I have got 300+ iterations pass, test is ongoing.
On WHL-I2S, usually it fails at ~100 iterations. I enabled the serial port, but no useful logs are captured after system hang.
Serial port final output:
[code]
I will enable more PM debug messages and test it again.

[2019-06-27 10:49] ClarexZhou commented on #1054
Error not occurred with PR #1060

[2019-06-27 16:51] kv2019i opened #1062 "start/stop floods with applications using start threshold, e.g. with aplay+S3"
Bug moved from FW to driver (previously https://github.com/thesofproject/sof/issues/1572)

**Describe the bug**
There seems to be an issue with handling a TRIG_START when following conditions apply:

- stream has been previously running and then restarted (1) S3 suspend+resume, 2) application stopped with SIGSUSPEND, 3) XRUN, or 4) applications which start/stop the stream with snd_pcm_drop() + snd

[2019-06-27 17:00] kv2019i opened #1063 "garbled audio after XRUN/RESTART done with FREE_PCM+PCM_PARAMS pair"
Follow-up to bug https://github.com/thesofproject/linux/issues/1062

**Describe the bug**
- stream has been previously running and then restarted (1) S3 suspend+resume, 2) application stopped with SIGSUSPEND, 3) XRUN, or 4) applications which start/stop the stream with snd_pcm_drop() + snd_pcm_prepare() + snd_pcm_start()))

With these conditions met, with PR1049 merged, streaming can be resumed, b

[2019-06-27 17:02] kv2019i commented on #1062
PR1049 now ready for review (not draft anymore) and will address this bug.

A separate bug filed to track the audio content issue that still happens with PR1049 -> https://github.com/thesofproject/linux/issues/1062

[2019-06-27 17:45] ranj063 commented on #1050
Some progress with this bug. I see that during the second iteration of suspend/resume, an interrupt from IRQ 14 ends up in suspend aborting prematurely.  From the logs attached, IRQ 14 is related to INT34BB:00 and the codec itself.

            CPU0       CPU1       CPU2       CPU3       CPU4       CPU5       CPU6       CPU7
   0:         63          0          0          0          0          0

[2019-06-27 18:07] ranj063 commented on #1050
@sathyap-chrome some more update on this bug. I switched to nocodec mode on my board and the suspend stress test failure doesnt occur. So we have to figure out why the rt5682 codec is generating these wakeups. Can you please follow up with the codec folks?

[2019-06-27 21:11] plbossart commented on #961
I'll restart working on this in mid-July, I had to put this on the back burner and rework some of the NHLT parts.

[2019-06-27 21:25] ranj063 commented on #1050
@sathyap-chrome the commit that breaks the suspend stress test is "UPSTREAM: ASoC: rt5682: Check JD status when system resume". I reverted this commit and the suspend stress test works fine. It looks like the delayed work scheduled for jack detection interferes with the suspend sequence.
Could you please follow up with the realtek folks?

[2019-06-27 22:47] ranj063 commented on #1053
@keqiaozhang thanks!
could you please try reverting this patch ASoC: rt5682: Check JD status when system resume
and trying S3 stress test again. The jack detection work seems interfere with the suspend sequence

[2019-06-28 03:21] sathyap-chrome commented on #1050
Thanks a lot @ranj063 .  I would contact Realtek on the same.

[2019-06-28 03:21] #1050 closed

[2019-06-28 03:33] sathyap-chrome commented on #1050
@ranj063 I think this patch along with actual interrupt configuration in bios makes the difference. Hence we dont see this on RVP as the JD ISR is not working there ?

[2019-06-28 05:13] keqiaozhang commented on #1053
@ranj063
This issue is still there after reverting the above patch, test failed at 242nd. also no useful log in serial port output.

[2019-06-28 05:22] ranj063 commented on #1053
@keqiaozhang can we please try with the nocodec mode and see if this issue still exists?

[2019-06-28 09:42] #1054 closed

[2019-06-28 09:43] RanderWang commented on #1055
The patch has been merged

[2019-06-28 09:43] RanderWang commented on #1054
The patch has been merged

[2019-06-28 09:54] ClarexZhou commented on #1055
Capture not work issue still occurred with PR #1060.
Scenario 1: System Boot up -> quickly plug in headset -> Then arecord ->capture not work (3/10)
Scenario 2:  Enter S3->wake up->quickly plug in headset just after enter account password.->arecord to check->capture not work. (2/12)

Can be recovered via plug out headset, wait for more than 5 seconds, plug in headset again. Error can be recovered.

[2019-06-28 14:02] kv2019i commented on #1063
Debugged today whether the garbled audio is caused by FW processing. I made the following experiment today.

- played test tones during test sequence (e.g. a sine tone and a slow 1Hz square wave)
- added debug code to dai.c to calculate basic statistics out of sample data as seen by the DAI (last component in topology)

When I compare traces between success case (audio ok after start) and failures

[2019-06-28 15:18] kv2019i commented on #1063
Additional test today:
- power cycling the HDA codec at prepare() -> did not help, audio still garbled after restart

[2019-06-28 15:47] tlauda commented on #1063
@kv2019i What does exactly setting start threshold mean for FW? What is the default value?
Also do you have FW logs from the above scenario? ctrl-Z + fg is pause/release or stop/start?

[2019-06-28 16:13] kv2019i commented on #1063
@tlauda wrote:

I actually updated the bug description just now. The start-threshold setting  affects #1062 , but not this bug. So once I fix #1062 by reseting DMA at stream restart (PR1049), then I start getting garbled audio and this affects more use-cases.

Start_threshold is an ALSA parameter to control when the PCM DMA trigger start is sent and HW should start consuming samples from DDR. By d

[2019-06-28 18:33] tlauda commented on #1063
@kv2019i I've quickly looked at PR1049 and I haven't noticed the piece of code, which actually resets DMA stream on the host and link side (SRST bit). What is the sequence for the STOP? I assume you first send STOP ipc to the FW and after that set RUN = 0?

[2019-06-29 10:19] tlauda commented on #1063
@kv2019i Also try to reset the whole HDA controller (not only stream) after freeing PCM. This experiment should show us if the problem is with the second stream configuration on host side.

[2019-07-01 01:49] jason77-wang opened #1064 "[BUG][WHL] dmesg dons't stop flushing sof log after s3"
I just did a test and finally reproduce this issue of "repeatedly print out ipc rx in the dmesg" again. (it is not easy to reproduce)

1. Booting up without headset plug in

2. open a terminal, and run dmesg -w

3, open the gnome-sound-setting and choose input (the dmic is selected by default)

4. run s3 from gnome power button  (right top corner)

5. press physical power button or physical enter

[2019-07-01 07:30] mengdonglin commented on #1064
@jason77-wang Could you please paste dmesg and sof-logger output as well?

[2019-07-01 14:40] kv2019i commented on #1063
@tlauda wrote:

It's indeed a bit hidden, but it is there in hda-stream.c:hda_dsp_stream_hw_params(). The logic to stop DMA and SRST sequence seems correct. The order is indeed like you say, first STOP ipc is sent, and only after that comples, stream is stopped and reset.

Thanks for the good pointers! I tried this, but results very inconclusive. When I reset the controller, then DMA doesn't resta

[2019-07-01 22:56] ranj063 opened #1066 "Sounds card registration failure if no HDMI monitor connected"
On the UP2, sounds card fails to register if there is not HDMI monitor connected.

[dmesg_up2.txt](https://github.com/thesofproject/linux/files/3347585/dmesg_up2.txt)

[2019-07-01 23:12] ranj063 commented on #1066
[    4.311832] sof-audio-pci 0000:00:0e.0: PCI DSP detected
[    4.321041] sof-audio-pci 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if 0x040100
[    4.321145] sof-audio-pci 0000:00:0e.0: checking for capabilities at offset 0xc00
[    4.321147] sof-audio-pci 0000:00:0e.0: found ML capability at 0xc00
[    4.321150] sof-audio-pci 0000:00:0e.0: checking for capabilities at offset 0x800
[

[2019-07-02 02:15] Jiangxinx commented on #1027
This issue also can be reproduced when not do DPMST test: power on after plugout hdmi and headphone.
I have changed the title.

[2019-07-02 02:22] ranj063 commented on #1066
duplicate of https://github.com/thesofproject/linux/issues/1027

[2019-07-02 02:22] #1066 closed

[2019-07-02 02:43] keyonjie commented on #1027
This issue can be duplicated on GLK also.

[2019-07-02 02:43] libinyang commented on #1027
I can't reproduce this bug on:
kernel: dd9faef
sof: To be confirmed.

[2019-07-02 02:47] libinyang commented on #1027
As Ranjani mentioned in #1066. I think "sof-audio-pci 0000:00:0e.0: no hda codecs found!" should be the key clue.
Mostly, codec probe is related to the HDA initialization flow. However, I don't think we touched these code these days. Maybe a gfx issue.
I will debug it later this week from:
1. HDA initialization flow
2. gfx driver

[2019-07-02 02:48] keyonjie commented on #1027
@libinyang it might be related with kernel .config, I can't duplicate it with my .config, but can with Keqiao's.

[2019-07-02 03:37] ranj063 commented on #1027
@keyonjie i just tried you config and still see the same issue on the UP2

[2019-07-02 03:56] YvonneYang2 opened #1067 "[BUG][CFL/CML]Shows "no soundcards found" after reload modules"
**Describe the bug**
Dmesg will show call trace after remove modules. Consoles shows "aplay:device_list:270: no soundcards founds...." after reload modules.

**To Reproduce**

1. Boot up
2. sudo ./sof_bootone.sh

**frequency**

100%

**Expected result**
Modules reload succussfully

**Actual result**
Dmesg will show call trace after remove modules. Consoles shows "aplay:device_list:270: no soundcar

[2019-07-02 04:36] keyonjie commented on #1027
OK, then looks like somewhat difference b/w up2 and glk.

[2019-07-02 04:52] wenqingfu commented on #1027
@fredoh9 @stripes416 I remember seeing same failure on some of the ICL RVPs, too.

[2019-07-02 04:56] libinyang commented on #1027
Ranjani has figured out the regression patch: ASoC: SOF: Intel: hda: fix the hda init chip

[2019-07-02 04:57] ranj063 commented on #1027
This is based on the bisect from the chrome team who're facing the same error on CML

[2019-07-02 06:12] zhuyingjiang commented on #1027
I have test this on Up2 and WHL-RVP, no such issue found:
kernel: [5dc530ccc9d754dfee848b8ebb0c1e793b01e4a3](https://github.com/thesofproject/linux/commit/5dc530ccc9d754dfee848b8ebb0c1e793b01e4a3)
sof: [2b0935798d9abcfbf3f076c9792b366c681bab10](https://github.com/thesofproject/sof/commit/2b0935798d9abcfbf3f076c9792b366c681bab10)
Up2 tplg:  sof-apl-pcm512x.tplg
WHL RVP tplg: sof-hda-generic-2ch.tpl

[2019-07-02 07:05] libinyang commented on #1027
I checked kernel: dd9faef has included Yingjiang's patch. And it woks well on my platform. Could @Jiangxinx give us all the binaries?

[2019-07-02 07:10] Jiangxinx commented on #1027
@libinyang You can get the version:
http://sof-ci-storage.sh.intel.com/daily/20190702/sof-2b093579-2/tplg/sof-apl-pcm512x.tplg
http://sof-ci-storage.sh.intel.com/daily/20190702/sof-2b093579-2/fw/sof-apl.ri
http://sof-ci-storage.sh.intel.com/daily/20190702/linux-67e5fa8c-4/linux-image-5.2.0-rc3-daily-20190702_5.2.0-rc3-topic-sof-dev-67e5fa8c-4_amd64.deb

[2019-07-02 08:35] Jiangxinx opened #1068 "[BUG][CFL] Can not Resume HDMI display ouput after Suspended on CFL platform"
***Describe the bug***
Can not Resume HDMI display ouput after Suspended. However, system can resume normally.

***To Reproduce***
1. aplay -Dhw:0,4 -f dat audio-files/raw/test-c2-r48000-fs16_le-d60.raw -vv -i
2. sudo rtcwake -m mem -s 10

***Actual result***
[code]

***Environment***
Firmware: 2b093579 https://github.com/thesofproject/sof/commits/master
Kernel: 67e5fa8 https://github.com/thesofpr

[2019-07-02 09:47] Jiangxinx commented on #1068
This issue maybe caused by not updating the bios, I will double check after update the bios.

[2019-07-02 10:01] kamal-ap opened #1069 "[BUG][CML][MST] Delay in audio while switching device between multiple monitors"
Platform : CML
**SOF firmware & topology :**
SOF   FW source | URL: https://github.com/thesofproject/sof/tree/cml-004-drop-stable          Commit:  f82d9dad7bd48fa3243d94d45dac68261184bc55
**UCM :**
https://chromium-review.googlesource.com/c/chromiumos/overlays/board-overlays/+/1648310

**Kernel:** :
https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/1650019/6

**Steps to d

[2019-07-02 12:01] kv2019i commented on #1063
@kv2019i wrote:

And this indeed was the problem. By reprogramming all the link DMA parameters, the garbled audio problem disappears. Patch to fix this now added to PR1049.

[2019-07-02 13:26] kv2019i commented on #1000
PR1049 fixes multiple issues related to XRUN and restart flows, but even with latest patch, this bug still occurs with PA-11 and PA12.2. OTOH, PA master is now frozen for 13.0 release (bug fixes still allowed).

I will continue to analyze this bug still to understand whether SOF is following ALSA semantics here and will update the bug accordingly. If behaviour is correct, then I'll close and we re

[2019-07-02 13:46] kv2019i commented on #1069
@kamal-ap You are at least missing this patch from upstream:
"ASoC: codec: hdac_hdmi: fix pin connections at cvt enable"

... it solves issues with use cases involving multiple monitors.

Based on logs, there is something else wrong as well. It would seem the use-case manager is not updating alsamixer settings correctly. Has the Chrome equivalent of Pulseaudio+ALSA-UCM been updated to work with SO

[2019-07-02 13:49] kv2019i commented on #1067
Yikes, jack poll worker is called during boot when we are still probing.
@lyakh @RanderWang  can you check this?

[code]

[2019-07-02 13:51] kv2019i commented on #854
@keqiaozhang Can you confirm this is fixed now and close the bug if yes? The bug is now fixed in firmware ( https://github.com/thesofproject/sof/issues/1526 ).

[2019-07-02 14:55] wenqingfu commented on #1027
you missed key information in your statement - what is "my platform"? did you have all HDMI disconnected when you did the testing?

[2019-07-02 15:48] xiulipan commented on #1027
@Jiangxinx
Could you help to test HDMI/DP is connected/not connected on UP2 board or any other boards? And fill the result below?

@libinyang @ranj063 @keqiaozhang
The key point here I think is the HDMI connection, so please try to test with some device physical access. And I feel that there also maybe some issue with DP.

| HDMI connectecd | DP conntecd | result |
| -- | -- |--|
| Yes  | Yes  | |

[2019-07-03 02:23] Jiangxinx commented on #1027
Updated today's daily test result on up2 pcm512x platform:

| HDMI connectecd | DP conntecd | result |
| -- | -- |--|
| Yes  | Yes  | Passed |
| Yes  | No  |Passed |
| No | No  |Failed |
| No | Yes  |Failed |

***binaries***
Firmware: 357e47c4 https://github.com/thesofproject/sof/commits/master
(http://sof-ci-storage.sh.intel.com/daily/20190703/sof-357e47c4/fw/sof-apl.ri)
Kernel: 6ec32958 https://

[2019-07-03 03:04] YvonneYang2 commented on #854
Issue not reproduced with test recipe as below, so close it.

Test recipe:
Firmware: 357e47c4 https://github.com/thesofproject/sof/commits/master
Kernel: 6ec32958 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: sof-glk-da7219.tplg

[2019-07-03 03:04] #854 closed

[2019-07-03 03:20] ClarexZhou opened #1071 "[Bug][CML]Microphone without headphones stops work after S3."
**Describe the bug**
Pure Mic stop work after S3.

**To Reproduce**
1. Plug in one pure MIC
2. Open alsamixer, press Tab to switch to Capture page-> change 'Input Source' to 'Headphone Mic'
3. Open sound setting, select Input table, highlight headset mic, ensure MIC capture works OK. As below snapshot.
![Screenshot from 2019-07-03 01-17-53](https://user-images.githubusercontent.com/49641224/605608

[2019-07-03 04:06] xiulipan commented on #1027
@Jiangxinx
Thanks for the test

[2019-07-03 04:36] zhuyingjiang commented on #1027
@Jiangxinx Could you also share your kconfig?

[2019-07-03 06:44] kamal-ap commented on #1069
Thanks Kai Vehmanen ,
with below patches most errors are gone
 ASoC: codec: hdac_hdmi: fix pin connections at cvt enable
 ASoC: codec: hdac_hdmi: no checking monitor in hw_params

Only  " PRE_PMU  Output event failed: -5"  errors are there now .

[2019-07-03 14:54] kv2019i commented on #1000
Completed rootcausing of this problem and this turned out to be a clear bug in Pulseaudio 12.2 and older. In the first PA thread iteration after S3 resume, PA alsa-sink does not properly clean up "revents" field of the polldfd, causing ALSA snd_pcm_poll_descriptors_revents() to return POLLERR while in practise the stream is in RUNNING state with no errors. Due to this bad info in revents, PA goes

[2019-07-03 14:54] #1000 closed

[2019-07-03 15:32] kamal-ap opened #1074 "[BUG][CML] Sound card not listing : Error ASoC: CODEC DAI intel-hdmi-hifi1 not registered"
Platform : CML
SOF firmware & topology :
SOF FW source | URL: https://github.com/thesofproject/sof/tree/cml-004-drop-stable   Commit:  f82d9dad7bd48fa3243d94d45dac68261184bc55
UCM :
https://chromium-review.googlesource.com/c/chromiumos/overlays/board-overlays/+/1648310

Kernel: :
https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/1650019/6

Steps to repoduce:
1) on above ke

[2019-07-03 15:33] kamal-ap commented on #1074
if we revert " "ASoC: SOF: Intel: hda: fix the hda init chip" , sound card is listing properly

[2019-07-03 16:15] kamal-ap commented on #1069
@libinyang @ranj063
There is some 3-5 sec delay in audio switch now.
Is that related to PRE_PMU  -5  errors  ?

[2019-07-03 17:20] xiulipan commented on #1074
@kamal-ap Can you try to boot the device with
- HDMI cable connected only
- HDMI cable connected to a monitor
- DP cable connected only
- DP cable connected to a monitor

[2019-07-03 17:22] xiulipan commented on #1074
Duplicate with #1027

[2019-07-03 17:23] xiulipan commented on #1074
@kamal-ap BTW please try to find dmesg like below and paste in more test result.

[2019-07-03 17:25] ranj063 commented on #1074
@xiulipan i already asked @kamal-ap to try this and he mentioned connecting a HDMI monitor didnt  help in his case

[2019-07-03 18:20] ranj063 commented on #1074
@kamal-ap can you please check if https://github.com/thesofproject/linux/pull/1075 helps?

[2019-07-04 01:15] ranj063 commented on #1071
@ClarexZhou what is a "Pure Mic"?

[2019-07-04 01:42] ClarexZhou commented on #1071
@ranj063  Microphone without headphones is used in this bug.
![IMG_20190704_093623](https://user-images.githubusercontent.com/49641224/60634000-c82c8580-9e3f-11e9-8f0f-bc48326091bc.jpg)

[2019-07-04 04:23] kamal-ap commented on #1074
Ranjani is right we already checked booting with HDMI  and issue was reproducible. Also this was regression of  patch "ASoC: SOF: Intel: hda: fix the hda init chip"   so we raised seperate issue . But yes rootcause may be same.

[2019-07-04 04:24] kamal-ap commented on #1074
That patch worked . Now sound card is detecting

[2019-07-04 04:28] ranj063 commented on #1069
@libinyang could you please take a look at the delay issue pointed out here?

[2019-07-04 05:35] #1027 closed

[2019-07-04 07:56] libinyang commented on #1069
@kamal-ap
Does the delay happen when playing DP audio, or HDMI audio or Speaker?

[2019-07-04 09:03] libinyang opened #1077 "[BUG] [HDMI] setting on HDMI/DP pin will impact on other pins"
If the pins are connecting to the same converter, setting on HDMI/DP pin will impact on other pins.
For example, if pin5-port1 and pin6-port0 are both connected to the cvt3. If we mute pin5-port1, pin6-port0 will be muted automatically. But muting pin6-port0 will not mute pin5-port1 automatically.

How to reproduce:
(in DPMST mode, 1 monitor is connected to pin5-port1, 1 monitor is connected to pi

[2019-07-04 09:05] libinyang commented on #1077
After these days debug, I found this is a HW defect. The driver is OK. The dmesg is OK, and no any errors occurs in the kernel. So I will not attach the useless dmesg log.

[2019-07-04 11:49] dsgirish commented on #1069
@libinyang
Yes, We have been using the DP MST Hub with 2 external monitors and the DP MST Monitor (Daisy Chaining). Throughout the unit testing, the delay of 3-5 seconds was observed.
The transition to the Speaker and Headset is seen smooth.

**Monitors Used:**
1. Dell 24 Ultra HD 4K Monitor | P2415Q
2. Dell UltraSharp 27 Monitor: U2719D

DP MST Hub: 3-Port USB-C to DisplayPort MST Hub - 4K 30Hz

[2019-07-04 12:40] xiulipan commented on #1074
@kamal-ap @ranj063 We can also close this as #1075 merged?

[2019-07-04 14:30] kv2019i opened #1078 "HDMI eld infromation via debugfs/procefs support"
The legacy/AZX driver exposes wealth of debug information related to HDMI audio via /proc/asound/eld*  entries.

This is widely adopted as a standard part of debugging HDMI audio issues. E.g. bugs like
https://bugs.freedesktop.org/show_bug.cgi?id=110932

SOF does not currently implement this interface, which will create problems with users moving from legacy driver to SOF.

FYI list: @wenqingfu  @

[2019-07-05 00:23] ranj063 commented on #1071
@ClarexZhou can you please check if this patch helps?
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-July/151943.html

[2019-07-05 01:11] #1074 closed

[2019-07-05 01:48] Jiangxinx commented on #1027
Can not be reproduced on daily test

***Env***
Firmware: fcd72767 https://github.com/thesofproject/sof/commits/master
Kernel: 86b820f2 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: sof-apl-pcm512x.tplg

[2019-07-05 01:50] mengdonglin commented on #969
@cooper-chiou Could you please involve BIOS and security engineer to help to check this issue?

[2019-07-05 02:04] libinyang commented on #966
@YvonneYang2 As the bug is fixed by Ranjani, could we close it?

[2019-07-05 02:06] libinyang commented on #1069
@Girish-DS

If it is related to DP, we have a similar bug traced: https://github.com/thesofproject/linux/issues/925
But we think this is a low priority issue, so we didn't put any effort on it.

[2019-07-05 05:05] ClarexZhou opened #1079 "[BUG][CFL]Pure MIC (without headphone) can be detected but can capture nothing"
**Describe the bug**
Pure MIC (without headphone) can be detected but can capture nothing

**To Reproduce**
1. Plug in one pure MIC
2. Open alsamixer, press Tab to switch to Capture page-> change 'Input Source' to 'Headphone Mic'
3. Open sound setting, select Input table, highlight headset mic, say something to MIC, check capture function via the changes of input level or arecord

As below snapsho

[2019-07-05 07:02] YvonneYang2 commented on #966
I think we should keep it open, reasons as below:

1. PR1026 is not been merged.
2. Issue still reproduced on ICL with latest topic/sof-dev branch.
3. Modules reload on CML is blocked by issue #1067. But we still tried to test it on CML with latest topic/sof-dev branch + PR1026, found that sof_pci_dev in lsmod will change to -1 during removing modules  after reload 2-3 times.

[2019-07-05 09:08] ClarexZhou commented on #1071
Close. Fixed by https://mailman.alsa-project.org/pipermail/alsa-devel/2019-July/151943.html. And merged in sof-v5.0.  Error not seen on sof-v5.0 .

[2019-07-05 09:08] #1071 closed

[2019-07-05 09:16] RanderWang commented on #1057
For this case, the S3 is interrupted by RTC event, and ASoC only trigger SUSPEND to SOF in both FE & BE. There is no chance to invoke sof_suspend. Then SOF prepare functions are invoked by ASoC. We need to refine some flags to fix it. https://github.com/thesofproject/linux/pull/1049 will fix it.

[2019-07-05 10:36] jajanusz commented on #969
@kv2019i @ranj063 are u sure you properly wake up dsp? maybe try some delays after loading fw and starting rom boot, to be sure that both dsp and cse are ready to start proper communication

Delay's are not for fix here, but if it helps there is something wrong with flow.

[2019-07-05 10:38] YvonneYang2 opened #1080 "[ICL][BUG]HDMI has no sound output after wake up from s3 during HDMI playback"
**Describe the bug**
HDMI output no sound after wake up from s3 during HDMI playback. Besides, waking up from s3 was very slow.

**To Reproduce**

1.Connect HDMI external, and adjust alsamixer pin6-port0 to cvt3
2.Play HDMI music(aplay -Dhw:0,3 -f dat 1.wav -vv -i)
3.Enter S3 then wake up

**frequency**

100%

**Expected result**
HDMI keep playing after wake up from s3

**Actual result**
Wake up f

[2019-07-05 11:06] jajanusz commented on #969
@ranj063 These logs look wierd
[code]
You wait for 0x5000001, you time out for it, then you write that it timed out, but also you write that you have unknown ROM status value that is exactly what u expected.

Sometimes you get timeouts for 0x2000010, sometimes for 0x6000010 (it's before 0x2000010). And then after timed out message you have current reg value that is else something else. Imho someth

[2019-07-05 15:45] #1062 closed

[2019-07-08 06:31] RanderWang commented on #1057
The patch is merged

[2019-07-08 06:31] #1057 closed

[2019-07-08 07:30] mengdonglin commented on #1057
@RanderWang thanks for the info! And thank @kv2019i for the nice fix
@ClarexZhou please help to verify this fix in our daily recipe.

[2019-07-08 07:39] #1064 closed

[2019-07-08 07:41] mengdonglin commented on #1064
Closing,  same issue as #1594, and fixed by thesofproject/linux#1072.

[2019-07-08 07:52] ClarexZhou opened #1083 "[BUG][ICL]No audio output when play music after plug in headset from idle."
**Describe the bug**
Headset no audio output when plug in headset after idle for a while, and then play music.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Insert headset and play music via aplay, music is output on headset normally
3. Plug out headset. Stop music and wait for more than 5s.
4. Plug in headset and play music via aplay again.

**frequency**
100%

**Actual result**
No a

[2019-07-08 08:12] ClarexZhou commented on #1057
Test on  CFL laptop and CML laptop. Error not seen on top/sof-dev  fdfcca4c. Verify closed.

[2019-07-08 14:00] mengdonglin commented on #1083
@ClarexZhou could you dump and compare the amixer settings between step 2 and 4? Is there any difference?

[2019-07-08 14:58] kv2019i commented on #1047
I'll make a patch for this, I don't think error is correct level for this trace.

[2019-07-09 03:06] ClarexZhou commented on #1083
No difference after diff the amixer contents between step2 and 4
Attach the amixer contents.
[amixercontents_issue.txt](https://github.com/thesofproject/linux/files/3370995/amixercontents_issue.txt)

[2019-07-09 08:32] kamal-ap opened #1086 "[BUG][CML]: Sound card not detected with Error ASoC: physical link iDisp1 (id 2) not exist"
CML SOF 0.45 Release
SOF FW source 	URL: https://github.com/thesofproject/sof/tree/cml-0045-drop-stable
 Commit:  afbb2a6f53192234d2d3de0ba2e229490d516e3b
 SOF Drivers source 	URL: https://github.com/thesofproject/linux/commits/topic/sof-dev
Commit: 08d3631

Chromium kernel: https://github.com/kamal-ap/chromium-4.19/commits/gtot4_19
Note : this kernel include revert of "ASoC: Intel: sof-rt5682: co

[2019-07-09 08:38] YvonneYang2 commented on #969
Stress test of s3 without playback on ICL with test recipe as below, issue still reproduced at 67th.

Test recipe:
Firmware: 27cdfbdb https://github.com/thesofproject/sof/commits/master
Kernel: 1da8b5fa https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware
platform: icl

**dmesg**
[code]

[s3_test_67_logger_all.log](ht

[2019-07-09 10:21] keyonjie commented on #1086
@kamal-ap have you updated tplg also?
We need to cherry-pick the FW commits also(if you update the Kernel) to
https://github.com/thesofproject/sof/tree/cml-0045-drop-stable

[2019-07-10 04:52] kamal-ap commented on #1086
@keyonjie   @ranj063
FW branch and kernel was as per the release notes  &
sof-audio-pci 0000:00:1f.3: **Topology: ABI 3:8:0 Kernel ABI 3:8:0**

I tried taking topology from master as ranjani suggested .Still Sound card is not detected
and errors are different

now Topology and kernel versions mismatch
[    4.714199] sof-audio-pci 0000:00:1f.3: **Topology: ABI 3:9:0 Kernel ABI 3:8:0**
[    4.714202

[2019-07-10 05:32] kamal-ap commented on #1069
@libinyang  , can you also comment on -5 errors in logs .

[2019-07-10 05:41] keyonjie commented on #1086
@kamal-ap just noticed that you are using sof-cml-rt5682-max98357a.m4, we need do similar update to it  also(similar to what we did for sof-cml-rt5682.m4), let me submit a fix for it.

[2019-07-10 05:57] libinyang commented on #1069
I couldn't reproduce your bug on my side. I think maybe you are operating on a pin or converter which is not bound to any PCM. So the driver can't get any PCM to operate. Based on my understanding, after reviewing the hdmi driver code, it won't impact on the user experience, will it?

[2019-07-10 06:27] kamal-ap commented on #1069
@libinyang   no impact on user experience as such.
but we may face questions from customer regarding the errors.

[2019-07-10 06:35] sathyap-chrome commented on #1086
@keqiaozhang  Thanks, understood the issue with master branch.
But root cause for this issue originally is that , the .45 release FW branch didnt have the topology changes but kernel driver already has the change. Hence on .45, we need to revert the machine driver change.

[2019-07-10 07:51] Jiangxinx commented on #1068
Closed as it is caused by BIOS setting.

[2019-07-10 07:51] #1068 closed

[2019-07-10 09:23] Jiangxinx commented on #1059
This issue still can be reproduced on daily test.
***Environment***
Firmware: 34d0db94 https://github.com/thesofproject/sof/commits/master
Kernel: 01373cf7 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: sof-byt-rt5651.tplg

[2019-07-10 09:37] keyonjie commented on #1086
@kamal-ap @sathyap-chrome the SOF PR https://github.com/thesofproject/sof/pull/1621 will fix this.

[2019-07-10 09:39] sathyap-chrome commented on #1086
Thanks @keyonjie

[2019-07-10 09:40] kamal-ap commented on #1086
Awsome @keyonjie  . can you also merge to https://github.com/thesofproject/sof/tree/cml-005-drop-stable   &  https://github.com/thesofproject/sof/tree/cml-0045-drop-stable ?

[2019-07-10 09:43] YvonneYang2 commented on #966
System froze during the second time modules removing. Issue reproduced on ICL and CML platforms.

Test recipe:
Firmware: 34d0db94 https://github.com/thesofproject/sof/commits/master
Kernel: 01373cf7 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware
platform： icl/CML

[2019-07-10 09:44] sathyap-chrome commented on #1086
@kamal-ap 0045 - we should not merge as the previous commit Topology: sof-cml-rt5682: add dmic16k PCM and dai is not merged in 0045.

[2019-07-10 14:06] xiulipan commented on #969
@jajanusz
I think that is some misleading error logs. It will always print out the read out value instead of expecting value. As we do not have expecting value but some conditions.

It would be a good idea to refine this function to give more readable log.

https://github.com/thesofproject/linux/blob/01373cf705829874e5bc037e9487717c8f0f39a7/sound/soc/sof/ops.h#L372-L396

[2019-07-11 02:49] YvonneYang2 commented on #1053
Test it on WHL-I2S with nocodec kernel and tplg, issue still reproduced.
Round 1: system hung at 37th.
Round 2: system hung at 11th.

Test recipe:
Firmware: 4cbfd887 https://github.com/thesofproject/sof/commits/master
Kernel: 4a8b4fbf https://github.com/thesofproject/linux/commits/topic/sof-dev (nocodec)
Topology: file: tools/topology/sof-cnl-nocodec.tplg
platform： whl-i2s

[2019-07-11 03:58] sathyap-chrome commented on #939
Hi @xiulipan  These 2 prints come at every PCM open / close too.
So we do the below steps and evey cat will print these msgs twice.

Considering these are message reply of a success case, can we move it under debug ?

localhost /sys/devices/pci0000:00/0000:00:1f.3/ehdaudio0D2/widgets # while true;  do cat 01/pcm_caps; sleep 1; date; done
[   87.893276] sof-audio-pci 0000:00:1f.3: error: no reply e

[2019-07-11 04:08] ranj063 commented on #939
not really pcm open/close but really runtime resume and suspend. This happens once during FW boot every time you resume from runtime suspend.

[2019-07-11 04:10] sathyap-chrome commented on #939
@ranj063 thanks for correction. But can we improve this message , currently it shows as error, so lot of validation / triage starts from Audio for no reason :)

[2019-07-11 04:18] kamal-ap commented on #1086
Awsome @keyonjie. Thanks for very quick fixes and merge to cml-005-drop-stable branch.

Closing this issue

[2019-07-11 04:18] #1086 closed

[2019-07-11 04:22] ranj063 commented on #939
@sathyap-chrome I suppose we could change it to an info instead of an error, we're not really doing anything with the error anyway. @xiulipan @lyakh what do you think?

[2019-07-11 04:24] sathyap-chrome commented on #939
sounds good.

[2019-07-11 06:47] libinyang commented on #1069
@kamal-ap
Clare tested on CML with ubuntu, and we can't reproduce this bug. Is DPMST a must? We use hdmi and DP monitor to do the test. Suppose ubuntu and chrome should be similar for this bug, right?

[2019-07-11 07:32] kamal-ap commented on #1069
@libinyang
We observed only when switching between MST monitors

are you using MST release to validate same ?
SOF FW source | URL: https://github.com/thesofproject/sof/tree/cml-004-drop-stable   Commit:  f82d9dad7bd48fa3243d94d45dac68261184bc55
SOF Drivers source | URL: https://github.com/thesofproject/linux/commits/topic/sof-dev Commit: 4d1fc20

[2019-07-11 07:39] libinyang commented on #1069
@kamal-ap
No, we didn't test in DPMST mode. This is because our HW platform can't support DPMST well. We will try to find a platform to test in DPMST mode.

[2019-07-11 07:41] kamal-ap commented on #1069
@libinyang   Thanks libin . May be you can check with @ranj063  for platform

[2019-07-12 08:56] YvonneYang2 commented on #835
Issue not reproduced on glk with test recipe as below:

Test recipe:
Firmware: 09b416bb https://github.com/thesofproject/sof/commits/master
Kernel: 4a8b4fbf https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware
platform: GLK

[2019-07-12 11:15] kv2019i commented on #1077
@libinyang I'll take this to my name and start investigating how to tackle this.

[2019-07-12 15:18] kv2019i commented on #1063
https://github.com/thesofproject/linux/pull/1049 merged, closing this bug

[2019-07-12 15:18] #1063 closed

[2019-07-15 05:47] #1047 closed

[2019-07-15 05:52] libinyang commented on #1077
@kv2019i We have root caused this bug. This is a HW limitation. If 2 pin connects to one converter, the setting on the 2 pins will impact on each other.

[2019-07-15 07:34] keyonjie commented on #969
This is not easy to be reproduced on my side, I run 300 iterations with FW(master) and driver(topic/sof-dev) today's commits on wasp, but failed to reproduce it.

[2019-07-15 07:38] keyonjie commented on #969
But it hints to me that maybe it worth to considering bring Xun's PR back for discussion, https://github.com/thesofproject/linux/pull/916

[2019-07-15 14:54] kv2019i commented on #920
FYI @juimonen

[2019-07-15 17:28] cujomalainey opened #1088 "[GLK] Driver fails to handle resume/suspend properly when no firmware present"
Present in GLK v1.1 and v1.2, if the firmware is not present and the device the suspends and then resumes it either panics (v1.1) or deadlocks the device (v1.2) which is not an appropriate behaviour for the driver.

See https://bugs.chromium.org/p/chromium/issues/detail?id=983706 for local bug.

[2019-07-16 03:20] keyonjie commented on #969
I tried 1000 iterations last overnight but failed to reproduce the issue.

[2019-07-16 04:35] ranj063 commented on #1088
Thanks for reporting @cujomalainey
@mengdonglin can you please assign this to someone?

[2019-07-16 16:18] kv2019i commented on #755
I uploaded a new UCM file that works better with MST:
https://github.com/kv2019i/UCM/commit/902c328f7e7bd27fd409c704c4d73b0ed13ddd69
FYI @libinyang and @juimonen

[2019-07-17 01:48] ClarexZhou commented on #969
Error occurred at 1006th in S3 without playback test on a CML HD-A notebook.

Dmesg
[code]

[test_1006.txt](https://github.com/thesofproject/linux/files/3399726/test_1006.txt)

kernel: topic/sof-dev 04b9bfe
sof: cml-hda-dmic-001-drop-stable 6cc8da10
tplg: sof-hda-generic.tplg

[2019-07-17 05:05] xiulipan commented on #1088
@ranj063
I think we have already fix a similar issue https://github.com/thesofproject/linux/issues/945 with #946

@cujomalainey
Could you try to cherry-pick #946 to see if this fix the issue when FW load fail

[2019-07-17 06:52] ClarexZhou commented on #969
@keyonjie  error is easier to be reproduced when changing suspend and timed wake time to 1s.

[2019-07-17 09:49] keyonjie commented on #969
@ClarexZhou can you please help check if https://github.com/thesofproject/linux/pull/1089 can help on this?

[2019-07-17 10:24] YvonneYang2 commented on #1067
Issue can still reproduced with test recipe as below.

Test recipe:
Firmware: 62035b22 https://github.com/thesofproject/sof/tree/master
Kernel: 04b9bfe5 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: sof-hda-generic-2ch.tplg same as firmware
platform ：CML

[2019-07-17 15:12] ranj063 commented on #1088
@xiulipan 946 is a very old commit and is already included in the releases that @cujomalainey has commented on.

[2019-07-18 05:38] ClarexZhou commented on #1079
Issue is fixed by https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?id=fbc571290d9f7bfe089c50f4ac4028dd98ebfe98.

Merged in sof-v5.0: ea098d12. Error not seen sof-v5.0 . Close

[2019-07-18 05:38] #1079 closed

[2019-07-18 06:27] ClarexZhou commented on #969
@keyonjie  Error not occurred  with   #1089  after run 2k interactions s3 without playback stress test on both ICL HD-A RVP and CFL HD-A notebook.
Kernel: topic/sof-dev:  04b9bfe5 + PR#1089

[2019-07-18 09:51] keyonjie commented on #969
@ClarexZhou Thanks for the validation.

[2019-07-18 19:29] cujomalainey opened #1091 "[BUG] Intel match building for arm allmodconfig"
It appears that CONFIG_SND_SOC_ACPI_INTEL_MATCH is not defined in kconfig so it is building for arm allmodconfig and therefore is causing the build to fail. This will need to be cherry-picked back to glk v1.2.

[2019-07-18 19:37] cujomalainey commented on #1091
I forgot the CONFIG_ prefix is dropped in kconfig, so the config is there, but there is still a bug it appears for make allmodconfig for arm.

[code]

[2019-07-18 20:04] plbossart commented on #1091
isn't this what Guenter Roeck reported some time back? You are probably missing one of the upstream patches

[2019-07-18 20:19] cujomalainey commented on #1091
Very possible, I have been split across a few things lately so it is very possible I forgot about that patch

[2019-07-18 22:19] plbossart commented on #1091
I checked that with the latest sof-dev the code compiles fine with arm64/allmodconfig, so it's a backport issue.

[2019-07-18 22:33] cujomalainey commented on #1091
any chance you have an idea what patch it is so I can backport it myself?

[2019-07-18 22:35] plbossart commented on #1091
try "ASoC: acpi: add missing includes for non-ACPI platforms"

[2019-07-22 02:17] mengdonglin commented on #1067
It seems only 1 Realtek codec is detected, but HDMI audio codec is not detected:
[  204.773266] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 1
[  204.773340] sof-audio-pci 0000:00:1f.3: HDA codec #0 probed OK: response: 10ec0295

[2019-07-22 02:50] keyonjie commented on #1067
We should make sure power on i915 before calling hda_dsp_ctrl_init_chip(), we already doing it like this at probe/remove, but not at suspend/resume yet.

So, for module unload/reload, it should be fine for us. @RanderWang @zhuyingjiang what do you think about this?

[code]

[2019-07-22 05:43] YvonneYang2 commented on #835
Original issue hw_params BE failed -19 and DSP panic issue both not reproduced on glk with test recipe as below, so close the bug. If DSP panic issue reproduces again, will report a new issue to track.

Test recipe:
Firmware: a513ac72 https://github.com/thesofproject/sof/commits/master
Kernel: 44c31df1 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-

[2019-07-22 05:46] #835 closed

[2019-07-22 06:17] RanderWang commented on #1067
log ？

[2019-07-22 13:10] keyonjie commented on #966
This issue happens at runtime suspended status, it has relationship with hda jack detection work. @RanderWang

[2019-07-22 13:11] keyonjie commented on #1067
This issue happens at runtime suspended status, it has relationship with hda jack detection work. @RanderWang

[2019-07-22 13:58] ranj063 commented on #966
@keyonjie @libinyang @mengdonglin #1026 already fixes this issue. It has just been applied upstream today so should be merged with the next upstream merge

[2019-07-23 08:05] keyonjie commented on #966
Thanks @ranj063 .
Hi @ClarexZhou @YvonneYang2 can you help check if #1026 can fix the issue you hit? if yes, let's close this issue, and report if any new issues happen.

[2019-07-23 09:40] YvonneYang2 commented on #966
As comment https://github.com/thesofproject/linux/issues/966#issuecomment-508653850 said

It will always reproduce bug #1067 during check pr#1026 , so cannnot test it.

[2019-07-23 10:20] ClarexZhou commented on #969
Similar issue occurred on ICL-RVP on sof-dev with merged PR#1089. Failed at 198th during S3 without playback test.

Suspend and wakeup time is to 1s-16s as below in test scripts.
[code]

Dmesg
[code]

[test_198.txt](https://github.com/thesofproject/linux/files/3421504/test_198.txt)

linux (topic/sof-dev) f745362c
sof (master)： a513ac72
topology： sof-hda-generic-2ch.tpl

[2019-07-23 10:41] keyonjie commented on #969
This "reg=0x2000012 timedout" is a new error type, looks we are still waiting for csme validation. Maybe we can try longer timeout value and do more test with it.

[2019-07-24 01:39] ClarexZhou commented on #969
Error not occurred again after run 2535 times same S3 without playback stress test on ICL-RVP on sof-dev with merged PR#1089

linux (topic/sof-dev) f745362
sof (master)： a513ac72
topology： sof-hda-generic-2ch.tplg

[2019-07-24 02:15] aiChaoSONG opened #1092 "Interrupt aplay with CTRL+C cause IO"

[2019-07-24 02:15] #1092 closed

[2019-07-24 05:37] ClarexZhou opened #1094 "[BUG][ICL]fw load failed for "unknown ROM status value 02000012" then ipc timed out during s3 without playback stress test"
**Describe the bug**
FW load failed for "unknown ROM status value 02000012" then "0x80010000: GLB_DAI_MSG: CONFIG" ipc timed out after S3 without playback stress test.

**To Reproduce**
1. Change suspend and wakeup time is to 1s-16s in stress-s3.sh
[code]
2. Run s3 without playback stress test via "sudo ./stress-s3.sh 2000 1 0"

**frequency**
1/2000

**Actual result**
FW load failed for "unknown R

[2019-07-24 05:39] ClarexZhou commented on #969
Close this issue and track new "reg=0x2000012 timedout"  issue in #1094

[2019-07-24 05:39] #969 closed

[2019-07-24 09:21] ClarexZhou opened #1095 "[Bug]Module reload failed for hda_jackpoll_work [snd_hda_codec]"
**Describe the bug**
Module reload failed for hda_jackpoll_work [snd_hda_codec]. But behavior is difference.
1/12: runtime PM status is always active, will not suspend
1/12: Stuck at module removing
4/12: runtime PM status is always active, then system freeze.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Wait till runtime PM status is suspned
3. run ./sof_remove.sh
4. wait for about

[2019-07-24 09:59] ClarexZhou opened #1096 "[Bug]Module reload failed for unknown events"
**Describe the bug**
Module reload failed for unknown events . But behavior is difference.
1/10: No sound card
1/10: Stuck at module removing
1/10: runtime PM status is always active
1/10: freeze after remove second time.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Wait till runtime PM status is suspned
3. run ./sof_remove.sh
4. wait for about 10s
5. run ./sof_insert.sh

**frequency

[2019-07-25 09:42] keyonjie commented on #1067
For the pulseaudio related issue, I verified we have similar issue with legacy hda driver, that is, when PA is running the PCM, unbinding pci device with driver will lead to "NULL pointer dereference" issue, see:
[code]

So, to avoid to hit this kind of issues, let's do a long enough waiting before starting the next driver removal after the preceding reload done. e.g.:
[code]

[2019-07-26 04:45] keyonjie commented on #1067
@ClarexZhou @YvonneYang2 I just create PR #1097 to fix this issue, it passed 500 iterations on my CML with pulseaudio daemon disabled, can you please help verify it?

[2019-07-26 09:52] keyonjie commented on #1094
It looks we are still waiting for csme validation at this error, we can try longer timeout value and do more test with it if we still seeing this.

[2019-07-26 21:28] plbossart opened #1098 "HDaudio topologies need to handle DMIC conditionally"
The topologies we have are as follows:

[code]
The problem is that the kernel only uses sof-hda-generic.tplg and sof-hda-generic-idisp.tplg

So this forces users to
a. rename topology files depending on what platforms they have
b. ignore the DMIC capture when there isn't any

This needs to become conditional where we have default files without DMICs, and DMIC-based topology files are selected when

[2019-07-29 05:23] YvonneYang2 opened #1099 "[BUG][CML/CFL]ipc error for 0x60050000 size 12 occurred when run s3 stress test with HDMI playback."
**Describe the bug**
ipc error for 0x60050000 size 12 when run s3 stress test with HDMI playback

**To Reproduce**

1.Connect HDMI external port
2.Run with command aplay -Dhw:0,3 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 300 1 1

**frequency**

1/288

**Expected result**
S3 and HDMI aplay normally

**Actual result**
ipc error for 0x60050000 size 12

**Environment**
Firmware: f7809a2e ht

[2019-07-29 05:29] xiulipan commented on #1099
@YvonneYang2
Please help to add following patch to kernel and try to test again with these logs. I have seen some similar issue, please help to confirm with the following logs

[code]

[2019-07-29 06:28] ClarexZhou opened #1100 "[Bug][CML] No soundcad found for "No matching ASoC machine driver found" after module reload"
**Describe the bug**
No soundcard after module reload. "No matching ASoC machine driver found" is shown in dmesg.

**To Reproduce**
1. Disable Pulseaudio via "sudo mv /usr/bin/pulseaudio /usr/bin/pulseaudio.bak"
2. Do system reboot via "sudo reboot"
3. Wait till runtime PM status is suspned
4. run ./sof_remove.sh
5. wait for about 5s
6. run ./sof_insert.sh

**frequency**
2/10

**Actual result**
No

[2019-07-29 06:39] ClarexZhou opened #1101 "[Bug][CFL] No soundcard found for kernel NULL pointer dereference when reload module"
**Describe the bug**
No soundcard found for kernel NULL pointer dereference when reload module

**To Reproduce**
1. Disable Pulseaudio via "sudo mv /usr/bin/pulseaudio /usr/bin/pulseaudio.bak"
2. Do system reboot via "sudo reboot"
3 Wait till runtime PM status is suspned
4. run ./sof_remove.sh
5. wait for about 5s
6. run ./sof_insert.sh

**frequency**
2/10

**Actual result**
No soundcard found for

[2019-07-29 06:39] ClarexZhou commented on #1095
hda_jackpoll_work [snd_hda_codec] issue not seen with PR #1097. still seen other issue, track in #1100, #1101

[2019-07-29 06:41] ClarexZhou commented on #1067
hda_jackpoll_work [snd_hda_codec] issue not seen with PR #1097. still seen other issue, track in #1100, #1101.

Close this bug and split to track in #1095, #1100, #1101

[2019-07-29 06:41] #1067 closed

[2019-07-29 08:27] keyonjie commented on #1101
Better to retry it after both PR #1026 and #1097 are merged.

[2019-07-30 06:10] Jiangxinx commented on #571
Can not reproduced on daily test.
***Env***
build date: 2019-07-30
sof master: f7809a2e
kernel sof-dev: f745362c
tplg: sof-apl-pcm512x.tplg

[2019-07-30 06:10] #571 closed

[2019-07-30 07:11] Jiangxinx commented on #669
Can not be reproduced on daily test version.
***Env***
build date: 2019-07-30
sof master: f7809a2e
kernel sof-dev: f745362
tplg: sof-apl-nocodec.tplg

***Step***
speaker-test -Dhw:0,0 -c2 -r48000 -t wav
speaker-test -Dhw:0,1 -c2 -r48000 -t wav
speaker-test -Dhw:0,3 -c2 -r48000 -t wav
speaker-test -Dhw:0,5 -c2 -r48000 -t wav

[2019-07-30 07:11] #669 closed

[2019-07-31 08:52] dengyangchao opened #1104 "[CML][BUG]DP sound output volume turned so low that can barely be heard after wake up from s3 during DP playback"
**Describe the bug**
DP output no sound after wake up from s3 during DP playback.

**To Reproduce**

1.Connect DP external
2.Wait till runtime PM status is suspned
3.Play DP music(aplay -Dhw:0,4 -f dat 1.wav -vv -i)
4.Run command "sudo rtcwake -m mem -s 10" enter  S3 then wake up

**frequency**
3/3

**Expected result**
DP keep playing after wake up from s3

**Actual result**
DP output no sound aft

[2019-07-31 10:06] keqiaozhang opened #1105 "[BUG][CML] Occasional no sound or long playback latency on DP through Type-c to DP converter"
**Describe the bug**
Connect the DP Monitor through the left USB type-c port to DP converter, monitor can display, but no sound can be heard via aplay acasionally. But HDMI works well through the same type-c port to HDMI converter.
The reproduce rate is less than 10%,’  And this issue only happens on the left side of USB type-c connector.  The other USB type-C port on the right works well and cann

[2019-08-01 02:38] ClarexZhou commented on #966
Error not occurred with both PR #1026 and #1097.
Kernel (): https://github.com/thesofproject/linux/tree/topic/module_reload. Commit  4be09a5
FW (Master): Commit 9d28da9c
Topology: sof-hda-generic.tplg. Same with FW.

[2019-08-01 02:39] ClarexZhou commented on #1096
Error not occurred with both PR #1026 and #1097.
Kernel (): https://github.com/thesofproject/linux/tree/topic/module_reload. Commit  4be09a5
FW (Master): Commit 9d28da9c
Topology: sof-hda-generic.tplg. Same with FW.

[2019-08-01 02:39] ClarexZhou commented on #1095
Error not occurred with both PR #1026 and #1097.
Kernel (): https://github.com/thesofproject/linux/tree/topic/module_reload. Commit  4be09a5
FW (Master): Commit 9d28da9c
Topology: sof-hda-generic.tplg. Same with FW.

[2019-08-01 02:40] ClarexZhou commented on #1100
Error not occurred with both PR #1026 and #1097.
Kernel (): https://github.com/thesofproject/linux/tree/topic/module_reload. Commit  4be09a5
FW (Master): Commit 9d28da9c
Topology: sof-hda-generic.tplg. Same with FW.

[2019-08-01 02:40] ClarexZhou commented on #1101
Error not occurred with both PR #1026 and #1097.
Kernel (): https://github.com/thesofproject/linux/tree/topic/module_reload. Commit  4be09a5
FW (Master): Commit 9d28da9c
Topology: sof-hda-generic.tplg. Same with FW.

[2019-08-01 06:33] aiChaoSONG opened #1106 "[BUG][CML] Module unload/load blocked"
** Bug Description**
In module unload/load stress test, first unload with sof_remove.sh will cause a kernel null pointer deference bug, preceding unload/load will block.

**Bug Reproduction**
1. run sof_remove.sh script, you will see the null pointer deference bug with `dmesg`.
2. run sof_insert.sh script.
3. repeat 1~2, until remove blocked or insert blocked.

** Versions **
- Kernel: topic/sof-d

[2019-08-01 10:04] dbaluta opened #1107 "Refactor sof_fw_ready"
@dbaluta can you add '/* mandatory */' comment as @plbossart mentioned please?

I can imagine that we should change sof_fw_ready() to be like this in the future:
[code]

_Originally posted by @keyonjie in https://github.com/thesofproject/linux/pull/1103_

[2019-08-02 01:40] mengdonglin commented on #1105
This seems to be HW specific for the left USB type-C port on DP support. Closing as won't fix. Will open later if need.

[2019-08-02 01:40] #1105 closed

[2019-08-02 09:01] Jiangxinx commented on #608
Still can not support runtime_pm on BYT platform.
***Env***
build date: 2019-08-02
sof master: 3ed68f15
kernel sof-dev: 9d7da69a
tplg: sof-byt-rt5651.tplg

[2019-08-02 19:00] fredoh9 commented on #1028
this is already fixed and merged

[2019-08-02 19:00] #1028 closed

[2019-08-05 06:20] ClarexZhou commented on #966
Error not seen after both PR #1026 and #1097 merged.

linux (topic/sof-dev :8b8f4377
sof (master): f837e57b
Platform: ICL hda rvp, cml Hda notebook, CFL-S hda rvp

[2019-08-05 06:20] #966 closed

[2019-08-05 06:20] ClarexZhou commented on #1096
Error not seen after both PR #1026 and #1097 merged.

linux (topic/sof-dev :8b8f4377
sof (master): f837e57b
Platform: ICL hda rvp, cml Hda notebook, CFL-S hda rvp

[2019-08-05 06:20] #1096 closed

[2019-08-05 06:21] ClarexZhou commented on #1095
Error not seen after both PR #1026 and #1097 merged.

linux (topic/sof-dev :8b8f4377
sof (master): f837e57b
Platform: ICL hda rvp, cml Hda notebook, CFL-S hda rvp

[2019-08-05 06:21] #1095 closed

[2019-08-05 06:22] ClarexZhou commented on #1100
Error not seen after both PR #1026 and #1097 merged.

linux (topic/sof-dev :8b8f4377
sof (master): f837e57b
Platform: ICL hda rvp, cml Hda notebook, CFL-S hda rvp

[2019-08-05 06:22] #1100 closed

[2019-08-05 06:22] ClarexZhou commented on #1101
Error not seen after both PR #1026 and #1097 merged.

linux (topic/sof-dev :8b8f4377
sof (master): f837e57b
Platform: ICL hda rvp, cml Hda notebook, CFL-S hda rvp

[2019-08-05 06:22] #1101 closed

[2019-08-05 07:23] ClarexZhou commented on #1080
Error also seen on DP.
linux (topic/sof-dev): 8b8f4377
sof (master): f837e57b
Platform: ICL HDA RVP

[2019-08-05 07:29] YvonneYang2 commented on #1104
Issue still reproduced on two CMLs with test recipe as below, reproduce rate is 8/10. Test it on CML-RVP, cannot reproduce the bug, reproduce rate is 0/5.

Test recipe:
Firmware: f837e57b https://github.com/thesofproject/sof/commits/master
Kernel: 8b8f4377 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology:file: tools/topology/sof-hda-generic-2ch.tplg

PM enter suspend is s2idle

[2019-08-05 09:42] ClarexZhou opened #1110 "[Bug][WHL-i2s]System freeze after module unload/reload"
***Describe the bug***
System freeze after reload module.

***To Reproduce***
1.sudo ./sof_remove.sh
2. sudo ./sof_insert.sh

***Actual result***
System freeze.

linux (topic/sof-dev): 8b8f4377
sof (master): f837e57b
tplg: sof-whl-rt5682.tplg
Platform: WHL RVP with ALC5682 connected via I2S

Dmesg:
[code]
[dmesg_reload_freez.txt](https://github.com/thesofproject/linux/files/3466934/dmesg_reload_fr

[2019-08-05 10:00] aiChaoSONG commented on #1106
This issue only happens on the second module removal on CML Chrome.

[2019-08-06 06:36] dengyangchao opened #1111 "[ICL][BUG]Two DP has sound at the same time through DPMST when enable one cvt"
**Describe the bug**
Two DP has sound at the same time through DPMST when enable one cvt

**To Reproduce**

1.Connect DPMST external
2.Play DP music(aplay -Dhw:0,4 -f dat 1.wav -vv -i)
3.change alsamixer pin 10 port 0 to cvt5

![Screenshot ](https://user-images.githubusercontent.com/52945407/62515779-dc580e00-b855-11e9-8911-5fc99b45ee9c.png)

**frequency**
100%

**Expected result**
one DP have sou

[2019-08-07 01:20] ClarexZhou commented on #1094
Error not occurred after run 2.6k interactions. Close

[2019-08-07 01:20] #1094 closed

[2019-08-07 02:38] mengdonglin commented on #1059
WHL RVP (I2S ALC5682 codec) has different failure, tracked by https://github.com/thesofproject/linux/issues/1110

[2019-08-07 03:05] YvonneYang2 commented on #1104
Change PM enter suspend mode from s2idle to deep on CML DVT2 , issue still can be reproduced.

[2019-08-07 05:18] ClarexZhou commented on #1110
Behavior is changed on latest build. "No sound card" is after reload modules.

linux (topic/sof-dev): 53d77540
sof (master): 9e2aa3d3

[nosoundcard.txt](https://github.com/thesofproject/linux/files/3475365/nosoundcard.txt)

Scripts:
[sof_insert.txt](https://github.com/thesofproject/linux/files/3475366/sof_insert.txt)
[sof_remove.txt](https://github.com/thesofproject/linux/files/3475367/sof_remove.

[2019-08-07 05:53] YvonneYang2 commented on #1104
Test it on CML DVT1, issue cannot be reproduced. Only reproduced on CML DVT2, and kernel config must enable cml via echo -e " CONFIG_SND_SOC_SOF_COMETLAKE_LP_SUPPORT=y\nCONFIG_SND_SOC_SOF_COMETLAKE_H_SUPPORT=y\n" >sof-enable-cml.config

[2019-08-07 06:37] keyonjie commented on #1106
looks the error happens at rt5682 codec side, the delayed work is still running while the sof driver is unloaded:

[code]

[2019-08-07 07:32] ClarexZhou commented on #1099
Error occurred at 366th timed during S3 with analog playback stress test

linux (topic/sof-dev): 53d77540
sof (master): 9e2aa3d3
tplg:sof-hda-generic-2ch.tplg
Platform: CML HDA notebook

[2019-08-07 09:46] dengyangchao commented on #1083
issue still can Reproduced

test recipe:
Firmware: 9e2aa3d3 Master
Kernel: 53d77540 on topic/sof-dev
Topology: file: sof-hda-generic.tplg same path as firmware
platform: ICL-RVP

[2019-08-07 10:10] dengyangchao commented on #925
issue still can Reproduced on ICL-RVP

test recipe:
Firmware: 9e2aa3d3 Master
Kernel: 53d7754 on topic/sof-dev
Topology: file: sof-hda-generic.tplg same path as firmware
platform: ICL-RVP

[2019-08-07 13:04] youling257 opened #1113 "BUG: kernel NULL pointer dereference, address: 0000000000000040"
<6>[    4.577860] bytcr_rt5640 bytcr_rt5640: BIOS Routing: AIF1 connected
<6>[    4.596005] bytcr_rt5640 bytcr_rt5640: quirk IN3_MAP enabled
<6>[    4.601385] bytcr_rt5640 bytcr_rt5640: quirk realtek,jack-detect-source 2
<6>[    4.606758] bytcr_rt5640 bytcr_rt5640: quirk realtek,over-current-threshold-microamp 2000
<6>[    4.612543] bytcr_rt5640 bytcr_rt5640: quirk realtek,over-current-scale-facto

[2019-08-07 15:31] youling257 commented on #1113
<7>[    4.580988] sof-audio-acpi 80860F28:00: loading topology:intel/sof-tplg/sof-byt-rt5640.tplg
<6>[    4.591567] sof-audio-acpi 80860F28:00: Topology: ABI 3:9:0 Kernel ABI 3:9:0
<7>[    4.598301] sof-audio-acpi 80860F28:00: tplg: ready widget id 0 pipe 1 type 1 name : codec_out0 stream none
[dddddddd.txt](https://github.com/thesofproject/linux/files/3477749/dddddddd.txt)

<1>[    4.774833] BUG:

[2019-08-07 16:08] plbossart commented on #1113
This is likely because we don't have good support for Baytrail-CR: the machine driver uses SSP0 but the topology uses SSP2 so there's a disconnect.
The fix is really to have both SSP0 and SSP2 supported in the topology and have firmware support both path, knowing that only one of the two will actually be enabled at run-time. Or we have to find a way to modify the topology at run-time by making the

[2019-08-07 16:14] plbossart commented on #1113
See https://github.com/thesofproject/sof/issues/630 for background info on support for both SSP0 and SSP2

[2019-08-07 20:07] cujomalainey commented on #1091
Ok, now I'm back from being OOO. Tried the to cherry-pick the commit and it came up as an empty commit

[2019-08-07 20:10] dbaluta commented on #1091
@cujomalainey usually this happens when the commit is already in your branch.

[2019-08-08 07:09] cujomalainey commented on #1091
Yea I figured. I think the commit that is missing is "ASoC: Intel: Fix if statements for SOF in Kconfigs"

[2019-08-08 12:21] kv2019i opened #1118 "HDA-legacy bugfix backport list to SOF"
This is a meta issue to track the task of porting bugfixes from legacy driver to SOF.

**HDA audio**

- [ ] ALSA: hda - Fix intermittent CORB/RIRB stall on Intel chips
      - commit https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?h=for-next&id=2756d9143aa517b97961e85412882b8ce31371a6

**HDMI (hdac-hdmi)**

- not yet tracking -- currently investigating whether we can move t

[2019-08-08 13:29] kv2019i commented on #961
First set of patches merged upstream (stop legacy probe if DMICs are detected via NHLT):
https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?h=topic/hda-dmic&id=8c57588313805d4e12a3d470dee3405c2236655f

[2019-08-08 23:41] cujomalainey commented on #1091
We were missing "ASoC: soc-acpi: add static inline fallbacks when CONFIG_ACPI=n"

[2019-08-08 23:41] #1091 closed

[2019-08-09 06:38] Jiangxinx opened #1120 "[Bug][BYT][APL] modprobe sof_pci_dev failed when testing unload /reload audio module."
***Describe the bug***
modprobe: FATAL: Module sof_pci_dev not found in directory /lib/modules/5.3.0-rc3-daily-20190809 on byt and apl platform.

***To Reproduce***
1.sudo ./sof_bootone.sh

***Actual result***
[code]

***dmesg***
[code]

***Environment***
Firmware: 62b59ce7 https://github.com/thesofproject/sof/commits/master
Kernel: 51e23aea https://github.com/thesofproject/linux/commits/topic/sof

[2019-08-09 07:06] keyonjie commented on #1120
@Jiangxinx the module name has been changed, please refer to sof PR: https://github.com/thesofproject/sof/pull/1712

[2019-08-09 07:53] Jiangxinx commented on #1120
Closed it with sof PR: thesofproject/sof#1712 .

[2019-08-09 07:53] #1120 closed

[2019-08-09 09:51] YvonneYang2 opened #1121 "[BUG][GLK]No soundcards found after system reboot with DPMST"
**Describe the bug**
aplay-l shows no soundcards found but two DP monitors can be synchronize with monitor.

**To Reproduce**

1.Connect DPMST to glk
2.Do system reboot
3.Input command “aplay-l”

**frequency**

2/3

**Expected result**
Firmware can boot up successfully and two DP monitors can be synchronize system.

**Actual result**
Aplay -l shows no soundcards found but two DP monitors can light

[2019-08-09 09:58] YvonneYang2 commented on #1121
Can not reproduced on ICL-RVP, CML or CFL-RVP, only reproduced on GLK.

[2019-08-09 17:12] plbossart opened #1122 "HDA: debugfs warnings on startup"
I see the following warnings on an Acer WHL laptop with HDAudio+DMICs

[code]
This doesn't prevent any operation but tells me we have a leak somewhere.

[2019-08-09 22:50] plbossart commented on #1122
@kv2019i is this something you see as well?

[2019-08-09 22:52] ranj063 commented on #1122
@plbossart I see this on the mantis too

[2019-08-11 09:32] mengdonglin commented on #1121
@YvonneYang2 Please provide more details in  "1.Connect DPMST to glk", e.g. which DP port? Any converter is used?  Model of your  DP-MST hub.

@keqiaozhang @libinyang How about DP-MST status on GLK? Is this a regression?

[2019-08-12 02:33] YvonneYang2 commented on #1121
Connect DP-MST to port 5 or port 6 with DP-MST hub + Type-C DP converter. Both can reproduce the issue. DP-MST hub brand is Club.
Test it with DP-MST hub + three different kinds of Type-C DP converter, all can reproduce the issue. So it's not related to Type-C DP converter.

Still can be reproduced on test recipe as below:

Firmware: c6f1b08fc6f1b08f https://github.com/thesofproject/sof/commits/ma