[2019-11-22 09:17] YvonneYang2 opened #1537 "[BUG]Can't open codec intel-hdmi-hifi2: -16 when aplay HDMI/DP after plug in HDMI/DP"
**Describe the bug**
Boot up without HDMI/DP external port connected, then plug in HDMI/DP when system in idle status. Amixer contens shows HDMI/DP is connected. But Aplay HDMI/DP, dmesg shows "can't open codec intel-hdmi-hifi2: -16."

 It seems a regression, integration/soundwire-latest commit: 4cd6497 (ww47.3 daily kernel version) cannot reproduce the issue. But code rebased, I cannot do bisect.

[2019-11-22 09:18] YvonneYang2 commented on #1537
@kv2019i
Could you please have a look?  Thanks ~

[2019-11-22 09:25] Liviali155 commented on #1471
Error not seen on
CML Chrome with onboard codec RT5682 in I2S mode
ICL RVP with onboard codec ALC700 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
CFL-S RVP with onboard codec ALC700 in HDA mode
CML Mantis with onboard codec ALC3204 in HDA mode
CML Helios with onboard codec RT5682 in I2S mode
APL UP2 nocodec
APL UP2 with codec PCM512x in I2S mode
BYT MB nocodec
BYT MB with codec RT5

[2019-11-22 09:27] #1471 closed

[2019-11-22 09:28] Liviali155 commented on #1471
closed

[2019-11-22 09:28] Liviali155 commented on #1466
Error not seen on
CML Chrome with onboard codec RT5682 in I2S mode
ICL RVP with onboard codec ALC700 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
CFL-S RVP with onboard codec ALC700 in HDA mode
CML Mantis with onboard codec ALC3204 in HDA mode
CML Helios with onboard codec RT5682 in I2S mode
APL UP2 nocodec
APL UP2 with codec PCM512x in I2S mode
BYT MB nocodec
BYT MB with codec RT5

[2019-11-22 09:29] #1466 closed

[2019-11-22 09:29] Liviali155 commented on #1466
closed

[2019-11-22 09:50] dengyangchao commented on #1536
Issue also reproduced when try DP-MST(connect two DP monitor through DP-HUB)
Platform: CFL-S RVP with onboard codec ALC700 in HDA mode

[2019-11-22 10:05] #1372 closed

[2019-11-22 10:06] ClarexZhou commented on #1406
Error not seen on https://github.com/juimonen/alsa-ucm-conf-1/tree/wang_test  UCM and https://github.com/juimonen/alsa-ucm-conf-1/tree/lenovo_test2 UCM

[2019-11-22 11:52] juimonen commented on #1450
should we close this?

[2019-11-22 12:01] juimonen commented on #1411
ack, I'll check this.

[2019-11-22 12:39] kv2019i commented on #1537
@YvonneYang2 ack, will take a look

[2019-11-22 12:41] kv2019i commented on #1536
I'll take a look at this.

[2019-11-22 12:58] bardliao commented on #1537
@YvonneYang2 Is this a regression? I am not sure if it is caused by below commits
https://github.com/thesofproject/linux/commit/1fb485e261083daa536ca93e5eae984447126642
https://github.com/thesofproject/linux/commit/20d42110c579771ef1d7e9d615bb16fd8ac32435
https://github.com/thesofproject/linux/commit/12b286a2bf4b38c0fd9d7f24c23b912bf3fc1d82

[2019-11-22 16:41] kv2019i commented on #1302
@plbossart wrote:

Let me check, assigning to myself.

[2019-11-22 17:07] plbossart commented on #1807
@perexg thanks for bringing our attention on this

The executive summary is:

All platforms use the firmware signed with the production Intel key.
The exceptions are: Up2 and GLK+ chromebooks which are signed with the community key.
I am not aware of OEMs signing the base firmware, only extensions which are currently not supported by SOF.

we cannot query the key used, that's unfortunate but that'

[2019-11-22 18:20] perexg commented on #1807
Yep, its 5.4-rc8 with extra backports from 5.5: https://github.com/perexg/linux/tree/perex/fedora-test

[2019-11-22 18:32] plbossart commented on #1807
Could you try removing all S0ix patches, e.g. starting with c13c962816ca038d8d8b71e8a51e8058ba78c39b

That series seems to introduce problems and there is on-going work to fix it.

Edit: actually trying plain vanilla 5.4-rc8 would be even better, just to make sure there's a reference to bisect from.

[2019-11-22 18:51] perexg commented on #1807
Per this kernel log, I don't think that fw is active, it appears like that the upload fails. The PM is not active (I think) in this case.

<pre>
[    5.793409] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    5.793702] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    5.793718] sof-audio-pci 0000:00:1f.3: enabling

[2019-11-22 19:34] plbossart opened #1540 "Interrupt handler issue after merge?"
Warning on Up-Extreme board, seen only once but still this is concerning since we just reworked all this.

@bardliao @RanderWang @kv2019i @ranj063 FYI

[code]

[2019-11-22 20:51] plbossart commented on #1417
PR #1541 removes the kernel oops (the flow is still quite questionable) but we'd still need to provide a means to restore compatibility

[2019-11-22 20:58] plbossart opened #1542 "Dmesg console is flooded with repeated open/hw_params/hw_free/close pattern"
When the hw_params fails, the dmesg log is constantly updated with the same pattern.
I don't know if this is a kernel issue or PulseAudio/apps repeatedly trying to use the devices.

Adding as an issue so that we have a trace of this.
Example trace attached

[dmesg.log](https://github.com/thesofproject/linux/files/3881411/dmesg.log)

[2019-11-22 21:04] plbossart commented on #1807
The first error appears related to the HDaudio codec (or hdmi), can you check what happens if you select the FORCE_NOCODEC mode and use a nocodec topology? That would remove dependencies on the codecs and check if the firmware load works or not.
[sof-cnl-nocodec.tplg.gz](https://github.com/thesofproject/sof/files/3881441/sof-cnl-nocodec.tplg.gz)

[2019-11-22 22:25] plbossart commented on #1482
@YvonneYang2 @bardliao I don't think the error has anything to do with MSI. I annotated the sequence and it seems to me that this is a conflict between the system resume and pm_runtime. If you look at the <<< markers, you'll see we start the pm_runtime_suspend while the devices are still being enumerated.

[test_46.log](https://github.com/thesofproject/linux/files/3881664/test_46.log)

[2019-11-22 22:31] plbossart commented on #1482
can we this with the following diff:

[code]

[system_resume_mark_last_busy.diff.txt](https://github.com/thesofproject/linux/files/3881687/system_resume_mark_last_busy.diff.txt)

[2019-11-23 00:37] plbossart commented on #1807
@perexg another point to verify is the PCI ID of the device. We recently split CFL, CNL and CML firmwares instead of using sof-cnl.ri across the board due to additional firmware manifest/signature differences. If you are using the CNL file on CML, it's likely not going to work.

IIRC correctly CFL and CNL are still identical, but CML has a different manifest. @jajanusz please correct me if I am wr

[2019-11-23 07:21] perexg commented on #1807
The complete alsa-info output is in the Fedora bugzilla (URL provided in the bug description):

<pre>
00:1f.3 0401: 8086:34c8 (rev 30)
	Subsystem: 1025:1407
</pre>

[2019-11-23 18:20] lgirdwood commented on #1807
@perexg I've tagged v1.4.1, @lbetlej can you sign.

[2019-11-25 00:17] mengdonglin commented on #1395
@YvonneYang2  Please verify latest ttps://github.com/thesofproject/linux/tree/integration/soundwire-latest

PR #1451 was replaced by PR #1483, and PR #1483 was merged by integration/soundwire-latest

[2019-11-25 00:22] mengdonglin commented on #1468
@YvonneYang2  Please verify latest ttps://github.com/thesofproject/linux/tree/integration/soundwire-latest

PR #1451 was replaced by PR #1483, and PR #1483 was merged by integration/soundwire-latest

[2019-11-25 01:51] YvonneYang2 commented on #1395
Ipc timed out for 0x30010000 issue can still be reproduced after #1483 merged.

Run 100 times, failed at 75th time.

Dmesg
[code]

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 68cadd8
FW: https://github.com/thesofproject/sof/commits/master  commit: 9b5dc8c
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop w

[2019-11-25 02:35] dengyangchao commented on #1450
Not SOF bug, close

[2019-11-25 02:35] #1450 closed

[2019-11-25 05:23] bardliao commented on #1476
@YvonneYang2 Could you retest it with https://github.com/thesofproject/linux/pull/1543?

[2019-11-25 05:23] bardliao commented on #1468
@YvonneYang2 Could you retest it with #1543?

[2019-11-25 05:24] bardliao commented on #1395
@YvonneYang2 Could you retest it with #1543?

[2019-11-25 05:33] YvonneYang2 commented on #1482
Run suspend/resume stress test 300 times with https://github.com/thesofproject/linux/issues/1482#issuecomment-557718752 in MSI IRQ mode, IO transfer timed out issue cannot be reproduced.

[2019-11-25 06:00] dengyangchao commented on #1537
Issue can reproduce on:
GLK Chrome with onboard codec DA7219 in I2S mode
CML Chrome with onboard codec RT5682 in I2S mode
ICL RVP with onboard codec ALC700 in HDA mode
CFL-S RVP with onboard codec ALC700 in HDA mode
APL UP2 with codec  PCM512x in I2S mode

Firmware: d6fe2b13 https://github.com/thesofproject/sof/commits/master
Kernel: b090cc8a https://github.com/thesofproject/linux/commits/topic/so

[2019-11-25 07:00] YvonneYang2 commented on #1476
Tested it with #1543 300 times, issue cannot be reproduced.
Some failed messages start showing from 151th to 156th time, but multipipline function works fine.

Failed info:
[code]

Failed info:
[code]

[multipipeline_test_154_dmesg.log](https://github.com/thesofproject/linux/files/3885214/multipipeline_test_154_dmesg.log)
[multipipeline_test_154_error_logger.log](https://github.com/thesofproject/l

[2019-11-25 08:06] juimonen commented on #1411
but isn't this exactly same as https://github.com/thesofproject/linux/issues/1000?

@kv2019i is exactly describing this use case and his patch to pulseaudio fixes this (I tested it and it works). And it is fixed in post V11.1 pulseaudio's....

So would says this is Pulseaudio issue.

[2019-11-25 08:46] YvonneYang2 commented on #1395
Run reboot stress test 300 times with #1543 in MSI IRQ mode, issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 68cadd8 + #1543
FW: https://github.com/thesofproject/sof/commits/master  commit: d6fe2b1
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715

[2019-11-25 09:10] kv2019i commented on #1411
@juimonen ack, if the patch for #1000 helps, then this is indeed a bug in pulseaudio with a known fix available

[2019-11-25 10:06] YvonneYang2 commented on #1468
Tested reboot stress test 300 times with #1543 in legacy IRQ mode, issue cannot be reproduced.

But still can reproduce call trace and "snd_soc_register_card failed -517“ same as https://github.com/thesofproject/linux/issues/1468#issuecomment-553689317. Will try with latest soundwire-latest branch, if issue can still be reproduced, will report a new issue to track it.

Test recipe:
kernel: https:/

[2019-11-25 13:07] bardliao commented on #1468
@YvonneYang2 @plbossart https://github.com/thesofproject/linux/issues/1468#issuecomment-553689317 seems be similar to https://github.com/thesofproject/linux/issues/1540?

[2019-11-25 13:39] bardliao commented on #1482
Good analyzation @plbossart . So the point is we can't go into suspend when it is under enumeration process. Will it make more sense to call pm_runtime_mark_last_busy() in sdw_program_device_num() or sdw_handle_slave_status()?

[2019-11-25 14:35] plbossart commented on #1807
@perexg @lgirdwood PCI ID 34c8 is IceLake so that's a new one.

[2019-11-25 14:43] plbossart commented on #1395
@bardliao @YvonneYang2 I wonder if in MSI mode we need to avoid disabling interrupts?

@lyakh suggested we don't, and I suggested an update here:

https://github.com/thesofproject/linux/pull/1109/commits/1cce7a3da5f17b9f3ea2273f04b4c7a457aed5c2

[2019-11-25 15:06] plbossart commented on #1482
@bardliao it's difficult to do any sort of pm_runtime handling at the bus level, because we don't know if the slaves will show up or not. the proposal I made was a kind of 'optimistic' one, where we push the clock and suspend later, when in practice the devices are powered.
When the slave shows up, we will mark it as last busy in the update_status, and as a result the parent is also marked as acti

[2019-11-25 15:06] plbossart commented on #1482
yay, thanks for the good news to start the week @YvonneYang2

[2019-11-25 15:18] plbossart commented on #1807
@perexg can you please with the file attached  (to be copied as /lib/firmware/intel/sof/sof-icl.ri)
I'd like to verify this is solved with the upcoming release, and if not to figure out the issue.

[sof-icl-signed.ri.gz](https://github.com/thesofproject/sof/files/3887252/sof-icl-signed.ri.gz)

[2019-11-25 15:22] perexg commented on #1807
I am just a "proxy" for this from the Fedora's bugzilla. I redirected the user here, so hopefully, he will test this.

[2019-11-25 16:14] lgirdwood commented on #1807
new signed binaries now on v1.4.1 release page.

[2019-11-25 18:15] containmentbreach commented on #1807
Original reporter here. Unfortunately new firmware makes no difference at all

[2019-11-26 01:55] bardliao commented on #1395
@plbossart I just tested https://github.com/thesofproject/linux/issues/1476 with interrupt not disabled, but it didn't work while https://github.com/thesofproject/linux/pull/1547 works on the same issue

[2019-11-26 02:07] dengyangchao commented on #1411
@juimonen @kv2019i  But if we keep pulseaudio 11.1 and change kernel from ```sof-dev``` to ```release/sof-v5.0``` issue can't reproduce. Even in ```sof-dev``` with pulseaudio 11.1, some platforms also can't reproduce the issue.
Details can see @Liviali155 @ClarexZhou comments.

[2019-11-26 06:43] YvonneYang2 commented on #1515
Issue can still be reproduced after removing SOF.
Won't fix for not a sof bug. Close it.

[2019-11-26 06:43] #1515 closed

[2019-11-26 07:58] ClarexZhou commented on #1398
Find below steps can reproduce sink.monitor issue on UCM https://github.com/juimonen/alsa-ucm-conf-1/tree/wang_test
1. one terminal to paplay long.wav -vvv , another terminal to parecrod 1.wav -vvv.
2. Headset is connected, output on headphone and input on headset micrphone
3. plug in HDMI -> output is switched on HDMI and input is switched to DMIC
4. Select input to Headset mirophone
5. plug out

[2019-11-26 08:06] YvonneYang2 commented on #1476
Run multi-pipline stress test 300 times, issue cannot be reproduced with #1548

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: a370cb0 + #1548
FW: https://github.com/thesofproject/sof/commits/master  commit: db7671a
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715

[2019-11-26 08:28] sinahuang commented on #1519
Issue cannot be reproduced on TGL-RVP in legacy mode with soundwire-latest(a370cb0+ PR #1548 ), this issue seems can be fixed after PR #1548 merged.

Test for 800 times.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: a370cb0 +PR #1548
FW: https://github.com/thesofproject/sof/commits/master commit: db7671a
Tplg: Same with TGL FW branch comm

[2019-11-26 08:40] YvonneYang2 commented on #1482
Run suspend/resume stress test 300 times with MSI IRQ mode, issue cannot be reproduced. Since commit ce8487b has been merged into integration/soundwire-latest branch, close the bug.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: a370cb0
FW: https://github.com/thesofproject/sof/commits/master  commit: db7671a
tplg: Same with FW branch, sof-cml

[2019-11-26 08:40] #1482 closed

[2019-11-26 09:47] kv2019i commented on #1536
I've been trying to reproduce this issue, but having hard time with this. I've tried both on CML and APL systems, but no issues with the hotplug. I used latest sof-dev and the downgrade to  bc30957 mentioned in original bug report, but no issues seen at hdmi hotplug.

I'll continue to try to reproduce.

UPDATE: I tried with CFL and also various DP-MST scenarios, but still no luck. @dengyangchao do

[2019-11-26 13:48] kv2019i commented on #1536
@dengyangchao If you can still reproduce this (on latest sof-dev), can you take https://github.com/thesofproject/linux/pull/1550 , run the same scenario and share the dmesg. You won't get a kernel oops anymore with PR1550 and you should get following trace in dmesg "HDMI: NULL eld_ctl for pcm_idx".

I cannot trigger this on any setups I have, the eld_ctl is always valid.

[2019-11-26 15:17] lgirdwood commented on #1540
@plbossart Btw, do we have any pointer dereference protection in our handlers. Just thinking a spurious IRQ before components have fully registered or even a race with other events ?

[2019-11-26 15:18] plbossart commented on #1540
no, the handlers are setup first, and the component registration much later (when the card is created).

[2019-11-26 15:18] lgirdwood commented on #1542
@plbossart this can be caused by PA probing capabilities of the sound card. Perhaps these should be dev_dbg() level now ?

[2019-11-26 17:28] kv2019i commented on #1537
Ok, managed to reproduce this and rootcause to following commit in upstream:

9c32fea836928d7a25a83b337f268e533cfc5c3d
ALSA: hda - Add DP-MST support for non-acomp codecs

We did test this in our CI before merging, but didn't catch the issue. I'll submit a fix to upstream tomorrow.

[2019-11-27 01:56] YvonneYang2 commented on #1395
Tested it 500 times with #1548 , issue cannot be reproduced.

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: a370cb0 + #1548
FW: https://github.com/thesofproject/sof/commits/master  commit: db7671a
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715 in SDW mode

[2019-11-27 02:00] plbossart commented on #1113
support for BYT-CR is here:

https://github.com/thesofproject/linux/pull/1552
https://github.com/thesofproject/sof/pull/2142

update the kernel, copy the topology files to /lib/firmware/intel/sof-tplg and you should be good to go.

[2019-11-27 02:25] dengyangchao commented on #1536
@kv2019i Tried Hot-plug in HDMI, still reproduce the issue. And after applied #1550 dmesg as below:
platform: CML Chrome with onborad codec RT5682 in I2S mode

[code]

[dmesg_pr1550.log](https://github.com/thesofproject/linux/files/3894807/dmesg_pr1550.log)

[2019-11-27 02:52] mengdonglin commented on #1411
@dengyangchao Based on the comment https://github.com/thesofproject/linux/issues/1000#issuecomment-508128140 , PA12.2 still has the bug.  Please verify the PA patch for #1000 or latest upstream PA. Maybe Ubuntu 19.10?

 https://github.com/thesofproject/linux/tree/release/sof-v5.0 may hide the PA issue so cannot reproduce this issue.

[2019-11-27 03:16] YvonneYang2 commented on #1468
Tested it 300 times with #1548 , issue cannot be reproduced.

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: a370cb0 + #1548
FW: https://github.com/thesofproject/sof/commits/master commit: db7671a
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715 in SDW mode

[2019-11-27 07:14] YvonneYang2 opened #1555 "[SDW][BUG]IO transfer timed out occurred during multi-pipline stress test"
**Describe the bug**
Occurred IO transfer timed out when run multi-pipline stress test.

**To Reproduce**
1. Boot up
2. Run with comman "./multiplex_pipeline-test_update.sh pcm0p pcm2p pcm5p pcm1c pcm4c"

script:
[multiplex_pipeline-test_update.sh.txt](https://github.com/thesofproject/linux/files/3895535/multiplex_pipeline-test_update.sh.txt)

**Reproduced rate**
Round1 : Run 300 times, failed at

[2019-11-27 08:06] YvonneYang2 commented on #1512
Issue cannot be reproduced on latest integration/soundwire-latest branch, so close it.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: d6078f9
FW: https://github.com/thesofproject/sof/commits/master  commit: d740a3e
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715 in SDW mode

[2019-11-27 08:06] #1512 closed

[2019-11-27 08:37] YvonneYang2 commented on #1476
Validation is blocked by https://github.com/thesofproject/linux/issues/1555 . Will retest it to check if can close the bug after #1555 is fixed.

[2019-11-27 08:58] sinahuang commented on #1399
Issue still can be reproduced when doing suspeand & resume without playback stress test , but after occured "error: failed to reset HDA controller gctl 0x1" , dmesg shows "error: ipc timed out for 0x40010000 size 76" error info.

Test for 500 times , failed at 127th time.

**To Reproduce**
1.Boot up system;
2.Run "sudo ./stress_s3.sh 300 1 0";

Scripts:
[stress-s3.txt](https://github.com/thesofpro

[2019-11-27 09:28] sinahuang opened #1556 "[BUG][SDW][TGL]Dmesg shows "failed to reset HDA controller gctl 0x1" when doing suspend & resume without playback stress test."
**Describe the bug**
Dmesg shows "failed to reset HDA controller gctl 0x1" info, and then occured "error: ipc timed out for 0x40010000 size 76" when doing suspend & resume without playback stress test.

**To Reproduce**
1.Boot up system;
2.Run "sudo ./stress_s3.sh 300 1 0";

Scripts:
[stress-s3.txt](https://github.com/thesofproject/linux/files/3896079/stress-s3.txt)

**Reproduce rate**
Test for 30

[2019-11-27 09:34] kv2019i commented on #1411
@mengdonglin This is fixed 19.10 that has PA13:

http://releases.ubuntu.com/19.10/
https://packages.ubuntu.com/search?suite=eoan&searchon=names&keywords=pulseaudio

It is not clear why sof-v5.0 can avoid the bug, but it is likely just a question of timing. Based on earlier analysis, the bug clearly is on Pulseaudio side, so the robust way to fix this is on PA side.

[2019-11-27 09:41] sinahuang commented on #1556
This issue might be related to issue #1399

[2019-11-27 09:54] sinahuang commented on #1519
Issue cannot be reproduced on TGL-RVP with legacy mode. So closed it.

Test for 1000 times.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: d6078f9
FW: https://github.com/thesofproject/sof/commits/master commit: d740a3e
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Platform:TGL RV

[2019-11-27 09:54] #1519 closed

[2019-11-27 10:12] YvonneYang2 commented on #1515
This is GFX Issue and it can be reproduced on upstream 5.4 kernel, will track it in https://bugs.freedesktop.org/show_bug.cgi?id=112407

[2019-11-27 10:12] youling257 commented on #1113
where is the tplg files output ? tools/build_tools/topology only has conf files.
how to output tplg files?

alsatplg: symbol lookup error: alsatplg: undefined symbol: snd_tplg_new, version ALSA_0.9
Scanning dependencies of target topology_sof-cht-da7213
[ 98%] Generating sof-imx8qxp-wm8960.tplg
[ 98%] Built target topology_sof-apl-tdf8532
[ 98%] Generating sof-apl-pcm512x-nohdmi.tplg
[ 98%] Built

[2019-11-27 11:48] kv2019i commented on #1537
Fix submitted upstream https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/159242.html

[2019-11-27 11:51] youling257 commented on #1113
I build latest alsa-lib and alsa-utils.
gcc  -g -O2 -I/system/usr/include  -L/system/usr/lib -o alsatplg topology.o  -lasound -L/system/usr/lib -lm -ldl -lpthread -latopology
build alsatplg succeed.

/alsa-utils/topology/alsatplg -v 1 -c sof-byt-rt5640-ssp0.conf -o sof-byt-rt5640-ssp0.tplg
0x000000/000000 - header index 0 type 8 count 1 size 0x73/115 vendor 0 version 0
0x000024/000036 -manifest :

[2019-11-27 11:53] bardliao commented on #1555
@YvonneYang2 Could you test it with https://github.com/bardliao/linux/commit/690b1518f68240a864605c85024888f55ecdcc38 ?

[2019-11-27 14:11] youling257 commented on #1113
[sof.txt](https://github.com/thesofproject/linux/files/3897157/sof.txt)
I get sound work by use this script, the ucm not work.

alsaucm -c sof-bytcr-rt5640 set _verb HiFi set _enadev Speaker
ALSA lib main.c:403:(execute_sequence) unable to open ctl device 'hw:bytcrrt5640'
ALSA lib main.c:1730:(set_verb_user) error: failed to initialize new use case: HiFi
alsaucm: error failed to set _verb=HiFi: No

[2019-11-27 14:18] youling257 commented on #1113
suspend resume no sound.

[  613.739964] sof-audio-acpi 80860F28:00: error: ipc timed out for 0x60050000 size 12
[  613.739998] sof-audio-acpi 80860F28:00: invalid header size 0xa5f66d9. FW oops is bogus
[  613.740004] sof-audio-acpi 80860F28:00: error: unexpected fault 0x00000000 trace 0x00000000
[  613.740012] sof-audio-acpi 80860F28:00: error: ipc host -> DSP: pending no complete no raw 0x80000

[2019-11-27 19:05] kv2019i commented on #1537
Patch merged upstream:
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/159265.html

@YvonneYang2 Can you verify with PR1557?

[2019-11-27 19:08] kv2019i commented on #1464
I verified this, closing. Please reopen if still seen.

[2019-11-27 19:08] #1464 closed

[2019-11-27 19:10] kv2019i commented on #1536
Thanks @dengyangchao , this helps a lot. This line in the log reveals quite a bit:

[   91.988736] snd_hda_codec_hdmi ehdaudio0D2: HDMI: NULL eld_ctl for pcm_idx 3

... we are getting an ELD update for non-existing PCM "pcm_idx 3". It's still unclear why this happens, but this helps in further debug.

[2019-11-27 19:12] kv2019i commented on #990
Forced codec mask to driver probe implemented via https://github.com/thesofproject/linux/pull/1551

[2019-11-28 01:55] YvonneYang2 opened #1558 "[BUG]"codec #1 probe error, ret: -5" occurred when run reboot stress test."
**Describe the bug**
Occurred unexpected ipc interrupt raised when run reboot stress test.

**To Reproduce**
1. Put "./test-reboot.sh" script in startup Application preferences.
2. Run with command "./test-reboot.sh 500" , then check the logs in folder named reboot-logs.

script:
[test-reboot.sh.txt](https://github.com/thesofproject/linux/files/3899471/test-reboot.sh.txt)

**Reproduced rate**
Run

[2019-11-28 02:00] YvonneYang2 commented on #1395
Tested it 500 times after #1538 merged into integration/soundwire-latest , issue cannot be reproduced. Close the bug, track other reboot issue in https://github.com/thesofproject/linux/issues/1558

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: d6078f9
FW: https://github.com/thesofproject/sof/commits/master  commit: d740a3e
tplg: Same with FW

[2019-11-28 02:00] #1395 closed

[2019-11-28 02:05] YvonneYang2 commented on #1558
It seems be similar to https://github.com/thesofproject/linux/issues/1540

[2019-11-28 05:21] youling257 commented on #1113
a lot of dmesg message, how to disable these ?

[ 2927.655164] sof-audio-acpi 80860F28:00: ipc rx: 0x600a0002
[ 2927.655191] sof-audio-acpi 80860F28:00: posn : host 0x388c dai 0xdc598 wall 0x2b0c163
[ 2927.655200] sof-audio-acpi 80860F28:00: ipc rx done: 0x600a0002
[ 2927.655218] sof-audio-acpi 80860F28:00: PCM: stream 0 dir 0 DMA position 3619 DAI position 225638
[ 2927.655614] sof-audio-acpi 808

[2019-11-28 05:49] dengyangchao commented on #1537
@kv2019i Verified on GLK Chrome with onboard codec DA7219 in I2S mode, after applied #1557 , issue can't reproduce.

[2019-11-28 06:37] Liviali155 commented on #1411
Error not seen used ubuntu 19.10 with pulseaudio 13.0
platform: CFL notebook  with ALC3254  codec in HDA mode
Firmware: a62f5623https://github.com/thesofproject/sof/commits/master
Kernel: 0bdbe73a https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-hda-generic-2ch.tplg same as firmware
closed it

[2019-11-28 06:37] #1411 closed

[2019-11-28 07:10] Liviali155 opened #1561 "[BUG][BYT][RT5682]Dmesg show "error: sink SSP0.IN not found" when doing Modules reload"
**Describe the bug**
Doing Modules reload tips"sof_insert failed"
Dmesg show "error: sink SSP0.IN not found" when doing Modules reload

After that aplay/arecord can work normally
It seems a sof regression

**To Reproduce**
1.sudo reboot
2.kill sof-logger process
3."sudo ./sof_bootloop.sh" to do Modules reload

**Reproduction Rate**
5/5

**Expected behavior**
Sof insert successfully

**Impact**
Sof

[2019-11-28 07:24] YvonneYang2 commented on #1468
Tested reboot stress test 500 times with legacy IRQ mode after #1548 has been merged into integration/soundwire-latest branch, issue cannot be reproduced. Close it.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: d6078f9
FW: https://github.com/thesofproject/sof/commits/master  commit: d740a3e
tplg: Same with FW branch, sof-cml-rt711-rt1308-mon

[2019-11-28 07:24] #1468 closed

[2019-11-28 09:25] Liviali155 commented on #1561
Bi-sect result: Caused by firmwire commit 0bbe40da(https://github.com/thesofproject/sof/commit/0bbe40dad52eae1f2af5ceecfa655136daa4ee21)
@plbossart  please check it

[2019-11-28 09:45] YvonneYang2 commented on #1555
Tested it 300 times, issue can still be reproduced with latest integration/soundwire-latest + https://github.com/bardliao/linux/commit/690b1518f68240a864605c85024888f55ecdcc38

Run 500 times, failed at 243th time.

Dmesg:
[code]

[failed_multipipeline_test_243_all_logger.log](https://github.com/thesofproject/linux/files/3900972/failed_multipipeline_test_243_all_logger.log)
[failed_multipipeline_te

[2019-11-28 10:48] juimonen commented on #1561
So in this commit there's some hardcoded virtual widgets for SSP 2 and 0 which, I guess should be also parametrized...:
VIRTUAL_WIDGET(ssp0 Tx, out_drv, 3)
+VIRTUAL_WIDGET(ssp0 Rx, out_drv, 4)
+VIRTUAL_DAPM_ROUTE_IN(modem_in, SSP, 0, IN, 0)
+VIRTUAL_DAPM_ROUTE_OUT(modem_out, SSP, 0, OUT, 1)

[2019-11-28 11:20] juimonen commented on #1561
so maybe something like: https://github.com/thesofproject/sof/pull/2152

[2019-11-28 11:58] lgirdwood commented on #1561
@Liviali155 this is a kernel issue and not FW. Can you relog for kernel. Thanks. I will close here.

[2019-11-28 12:00] kv2019i commented on #1537
Thanks @dengyangchao , that's good news! Let's wait until we get the patch to sof-dev via next upstream merge and we can then close this.

[2019-11-28 15:06] kv2019i commented on #1536
@dengyangchao I now pushed a potential fix plus a few more debug patches to https://github.com/thesofproject/linux/pull/1550
Could you give another try? And could you also share the dmesg (whether test passes or not) -- I'm curious to understand how a single HDMI monitor can trigger this.

[2019-11-29 00:29] bardliao commented on #1555
Look like "Link power down failed: -11" can be seen on all the error dmesg log. Let's fix it first. @YvonneYang2 Could you test it with [0001-soundiwre-Intel-set-link_control-bits-again-when-it-.patch.txt](https://github.com/thesofproject/linux/files/3903276/0001-soundiwre-Intel-set-link_control-bits-again-when-it-.patch.txt)?

<details>
<summary> patch </summary>

[code]
</details>

[2019-11-29 01:36] Liviali155 commented on #1561
Transfer to kernel and reopen it

[2019-11-29 01:47] Liviali155 commented on #1521
Error not seen when blacklist snd_hda_intel
The result of CI test is also pass,closed it

[2019-11-29 01:47] #1521 closed

[2019-11-29 02:02] bardliao commented on #1558
Actually, ``unexpected ipc interrupt raised!`` can be always seen on boot up. The issue is `` WARNING: CPU: 7 PID: 802 at kernel/irq/handle.c:153``. @YvonneYang2 Could you check it on other platforms? I suspect that is not a SDW specific issue.

[2019-11-29 02:37] bardliao commented on #1507
It seems to be a jack detection issue.  To get jack detection work, you have to connect rt5682 irq pin to BYT's irq pin. Also, you have to add a proper GopiInt information to rt5682's asl file.
Something like
[code]

[2019-11-29 03:18] dengyangchao commented on #1536
@kv2019i The latest #1550 works, HDMI test pass, also tried DP-MST, PASS. Amixer contents can detect the unplug/plug status.
platform: CML Chrome with onborad codec RT5682 in I2S mode

Only one thing interesting， plug in HDMI first, detect it, and can aplay through HW:0,2
[code]
if then plug in DP, also can detect it. But HW:0,2 change to DP,  HDMI change to HW:0,3(verified through aplay)
[code]

[2019-11-29 03:31] YvonneYang2 commented on #1555
Tested it 500 times with latest integration/soundwire-latest (commit:d6078f9) +
[0001-soundiwre-Intel-set-link_control-bits-again-when-it-.patch.txt](https://github.com/thesofproject/linux/files/3903633/0001-soundiwre-Intel-set-link_control-bits-again-when-it-.patch.txt)
, IO transfer timed out issue and "Link power down failed: -11" both cannot be reproduced.

[2019-11-29 05:21] ClarexZhou opened #1562 "[Bug][SDW][RT715]"Failed to get R/L channel gain" in dmesg after system boot up"
**Describe the bug**
"Failed to get R/L channel gain" in dmesg after system boot up. Also has error sof trace: 0 1 SA 7810465.520833 7810465.500000 src/lib/agent.c:55 validate(), ll drift detected, delta = 26181.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Dmesg to check info after system boot up.

**Reproduce Rate**
100%

**Actual result**
"Failed to get R/L channel gain" in dmesg

[2019-11-29 05:30] ClarexZhou opened #1563 "[Bug][SDW][CML_2 RTC1308]Headset jack is always on even after boot up system without headset connected"
**Describe the bug**
Headset jack is always on even after boot up system without headset connected

**To Reproduce**
1. No headset connected.
2. Do system reboot via "sudo reboot"
3. 'amixer contents ' to check headset jack status.

**Reproduce Rate**
100%

**Actual result**
Headset jack is on when not connected
[code]

**Expected result**
Headset Mic jack should be off when not connected.

**Envi

[2019-11-29 05:46] ClarexZhou opened #1564 "[Bug][SDW][CML_2 RTC1308] Paplay via speaker only has Left Channel Output."
**Describe the bug**
Paplay via speaker only has Left Channel Output. Because Paplay is using device 2: SDW1-speakers.
And device 2: SDW1-speakers is using Left channel. device 3: SDW2-speakers is using Right Channel.

UCM is using one 1308 UCM https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm/sof-sdw-rt711-1308-715 commit: 39528c5

**To Reproduce**
1. Do system reboot via "sudo reboo

[2019-11-29 06:01] ClarexZhou opened #1566 "[Bug][CML-H]HDMI jack detection is still on when disconnect HDMI during S2idle/S3"
**Describe the bug**
HDMI jack detection is still on when disconnect HDMI during S2idle. Also reproduce when disconnect HDMI during S3.

Error not seen if connected HDMI then disconnect again after work up.

**To Reproduce**
1. HDMI is connected
2. Do system reboot via "sudo reboot"
3. sudo rtcwake -m mem -s 20
4. Unplug HDMI during suspend
5. amixer contents to check HDMI jack status.

**Reproduc

[2019-11-29 07:39] ClarexZhou commented on #1563
@bardliao Error not seen with UCM https://github.com/bardliao/alsa-ucm-conf/tree/separate-speakers/ucm/sof-sdw-rt711-1308-715 And PR https://github.com/thesofproject/linux/pull/1567

[2019-11-29 07:49] ClarexZhou commented on #1564
use UCM https://github.com/bardliao/alsa-ucm-conf/tree/separate-speakers/ucm/sof-sdw-rt711-1308-715 And PR https://github.com/thesofproject/linux/pull/1567
2 RTC1308 Speaker are listed separately in sound setting. As below snapshot.
Is it expected?  Or should list one speaker and output on both 2 RTC1308 at same time?
![image](https://user-images.githubusercontent.com/49641224/69852629-bd2b3380-12

[2019-11-29 08:13] juimonen commented on #1561
@Liviali155 Can you try with my above PR (even though it is in FW side) and see if ti helps?

[2019-11-29 08:15] bardliao commented on #1555
@YvonneYang2 To double confirm. Could you check it with below patch instead?
[code]

[2019-11-29 08:28] bardliao commented on #1562
@jack-cy-yu FYI. Looks like we still miss some registers in rt715_readable_register() and the rt715_reg_defaults[]

[2019-11-29 09:29] Liviali155 commented on #1561
Tried with thesofproject/sof#2152,error not seen

[2019-11-29 09:54] YvonneYang2 commented on #1555
@bardliao
Issue can still be reproduced with latest integration/soundwire-latest (commit:d6078f9) + patch as above.

Run 300 times, failed at 175th.

Dmesg:
[code]
[failed_multipipeline_test_175_all_logger.log](https://github.com/thesofproject/linux/files/3904634/failed_multipipeline_test_175_all_logger.log)
[failed_multipipeline_test_175_dmesg.log](https://github.com/thesofproject/linux/files/390

[2019-11-29 18:05] kv2019i commented on #1536
@dengyangchao wrote:

Thanks, this is good news! I submitted a cleaned up patch to alsa-devel and it was already merged:
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/159322.html

[...]

Yes. this is now possible. HDMI gets disconnected in the process and reconnection may change the PCM number. I'll study this a bit further, but this is probably something we will not try to a

[2019-12-02 00:37] bardliao commented on #1564
@ClarexZhou It is expected for now. The two rt1308 are on different sdw link. Use multi-codecs in a dai link is a new feature on Soundwire and we will implement it soon.

[2019-12-02 03:11] YvonneYang2 commented on #1476
Added patch
[0001-soundiwre-Intel-set-link_control-bits-again-when-it-.patch.txt](https://github.com/thesofproject/linux/files/3909261/0001-soundiwre-Intel-set-link_control-bits-again-when-it-.patch.txt) to walk around issue #1555 , then tested it 500 times, issue cannot be reproduced. So close it.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commi

[2019-12-02 03:11] #1476 closed

[2019-12-02 05:40] aiChaoSONG opened #1569 "[BUB][CML] no sound output when aplay via speaker pipeline"
**Bug Description**
When run aplay via speaker pipeline (HW:0,5) on cml platform with rt1011 and rt5682 codecs, there is no sound output through speaker, check dmesg and sof-logger, no clear error message seen.

**To Reproduce**
run `aplay -Dhw:0,5 -f dat -i -vvv -c 2 ./long.wav`

**Reproducion Rate**
100%

**Environment**
1. Branch name and commit hash of the 2 repositories: sof (firmware/topolog

[2019-12-02 05:42] aiChaoSONG commented on #1569
The codec ACPI ID MX98357A exists on CML with rt5682 and rt1011 board through the codec is not present on the hardware, this will mislead the kernel to load a wrong driver, and cause this speaker issue.

As I synced with kernel team, adjust the order of the acpi mach table is dark magic, and may not be accepted by upstream, and I will push coreboot team to fix this and eliminate MX98357A on CML wi

[2019-12-02 06:19] YvonneYang2 commented on #1558
@bardliao
Tested it on other platforms, only can reproduce on CML Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode. Topic/sof-dev branch didn't reproduce the issue.

Run 1000 times, failed two times.
[dmesg_failed_797.log](https://github.com/thesofproject/linux/files/3909724/dmesg_failed_797.log)
[dmesg_failed_842.log](https://github.com/thesofproject/linux/files/3909725/dmesg_failed_842.lo

[2019-12-02 11:11] jack-cy-yu commented on #1562
@bardliao PR #1572 is updated regarding to this bug, please review it, thanks.

[2019-12-02 11:55] bardliao commented on #1555
@YvonneYang2 Could you test it with https://github.com/thesofproject/linux/pull/1573?

[2019-12-02 12:20] bardliao commented on #1562
Thanks @jack-cy-yu I will test it.

[2019-12-02 14:01] kv2019i commented on #1536
We need to investigate the behaviour of the i915 driver on this Chrome CML device a bit more. @dengyangchao , I sent you further details in email.

[2019-12-02 15:57] plbossart commented on #1556
@sinahuang can you try to revert the patch 'ASoC: SOF: Intel: hda-ctrl: add reset cycle before parsing capabilities' to see if this solves the issue on TGL?

[2019-12-02 16:18] plbossart commented on #1561
@lgirdwood topology issue, not kernel one.

@Liviali155 @juimonen I don't see why the error occurs. Rather than masking the issue it'd be good to root cause it.

[2019-12-02 21:18] plbossart commented on #1555
@bardliao what's interesting is that the only time when the error happens when the sequences for pm_runtime are interleaved:

[code]

so it's likely we need a mutual exclusion between links...

And looking at the code, it's pretty clear:

[code]

so what happens is that we have a common register which is accessed for different fields independently. that can't be good...

[2019-12-02 21:20] plbossart commented on #1555
it's even worse for power-down, we also touch the glue logic

[code]

[2019-12-02 22:11] plbossart commented on #1555
@YvonneYang2 @bardliao can you look at https://github.com/thesofproject/linux/pull/1577 ?
This uses some of Bard's ideas but explicitly used to prevent concurrent access to all SHIM registers.
It sounds obvious now that I think of it but since it wasn't in the initial code it wasn't straightforward to reverse-engineer.

[2019-12-02 22:23] plbossart commented on #1561
@Liviali155 can you clarify what the issue is?
It seems to me that you can still load/unload modules, with an error message that doesn't actually prevent audio playback/capture from functioning normally?

[2019-12-02 22:25] plbossart commented on #1510
@tokyovigilante can you try to apply https://github.com/thesofproject/linux/pull/1541 ?
This looks similar to an issue I encountered with bad handling of the .free callback.
Thanks!

[2019-12-02 22:28] plbossart commented on #1497
@dragosht this should be fixed now? If yes can you close this issue?

[2019-12-03 01:25] bardliao commented on #1555
Thanks @plbossart You always think more than me. I believe that #1577 will fix the issue.

[2019-12-03 01:47] Liviali155 commented on #1561
Yes,modules  still can load/unload continue,and audio playback/capture normally,the issue just is the error message showed in dmesg

[2019-12-03 02:14] bardliao commented on #1562
Thanks @jack-cy-yu it works and it is merged @ClarexZhou Could you retest it?

[2019-12-03 02:16] bardliao commented on #1563
@ClarexZhou Could you retest it since #1567 has merged?

[2019-12-03 02:21] ClarexZhou commented on #1563
Error not seen on latest kernel: soundwire-latest/b4f9bfa3. Close

[2019-12-03 02:21] #1563 closed

[2019-12-03 02:21] ClarexZhou commented on #1562
Error not seen on latest kernel: soundwire-latest/b4f9bfa3. Close

[2019-12-03 02:21] #1562 closed

[2019-12-03 05:07] sinahuang commented on #1556
Issue still can be reproduced after reverting the patch 'ASoC: SOF: Intel: hda-ctrl: add reset cycle before parsing capabilities' on TGL RVP.

Test for 500 times, failed at 122th time.

<details>
 <summary>dmesg error log</summary>

[code]
</details>

[s3_test_122_logger_all.log](https://github.com/thesofproject/linux/files/3914696/s3_test_122_logger_all.log)
[test_122.log](https://github.com/thes

[2019-12-03 05:40] dengyangchao commented on #1536
@kv2019i After applied the latest #1550 and enable DRM, have caught the logs
Scenarios as below:
1.Plug&unplug HDMI
2.Plug&unplug DP
3.Plug HDMI -> plug DP -> unplug DP -> unplug HDMI

Logs have been provided through Email, also add logs here

[logs.zip](https://github.com/thesofproject/linux/files/3914792/logs.zip)

[2019-12-03 06:34] Liviali155 commented on #1561
It seems this regression cannot be caught in no codec mode on BYT

Error not seen when using nocodec mode with the same kernel and firmware
platform: BYT MB with nocodec
Firmware: a62f5623 https://github.com/thesofproject/sof/commits/master
Kernel: 0bdbe73 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-byt-nocodec.tplg  same as firmware

[2019-12-03 06:55] sinahuang commented on #1556
Verified this issue on TGL RVP with soundwire-latest (commit: b4f9bfa+PR #1580), issue cannot be reproduced, so PR #1580 seems can fix this issue.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: b4f9bfa+PR #1580
FW: https://github.com/thesofproject/sof/commits/master commit: feb9e2b
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308

[2019-12-03 06:57] sinahuang commented on #1556
sorry for wrong operation, open it.

[2019-12-03 07:13] YvonneYang2 commented on #1555
Tested it 1000 times with #1577, issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: b4f9bfa + #1577
FW: https://github.com/thesofproject/sof/commits/master  commit: feb9e2b
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715 in SDW mode

[2019-12-03 08:35] bardliao commented on #1558
The WARNING about the irq is due to we use spin_unlock_irq() which will enable irq unconditionally in the check irq functions. We can fix it by using spin_lock_irqsave() and spin_unlock_irqrestore(). But it is harmless. The real problem of this issue is
[code]
which will cause sound card not created.
BTW, there are some WARNING after ``sdw_rt711_rt1308_rt715 sdw_rt711_rt1308_rt715: ASoC: binding i

[2019-12-03 11:35] tokyovigilante commented on #1510
@plbossart #1541 does fix the oops thanks and the application runs, still getting a number of errors in dmesg but they don't seem crritical.

[code]

[2019-12-03 12:36] dragosht commented on #1497
@plbossart I've just tested using the latest topic/sof-dev and I'm still getting the use-after-free warning:
[code]
Full kernel log:  [dmesg.log](https://github.com/thesofproject/linux/files/3916574/dmesg.log)

[2019-12-03 13:33] plbossart commented on #1556
seems like we've lost a comment:

Verified this issue on TGL RVP with soundwire-latest (commit: b4f9bfa+PR #1580), issue cannot be reproduced, so PR #1580 seems can fix this issue.

Test recipe

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: b4f9bfa+PR #1580
FW: https://github.com/thesofproject/sof/commits/master commit: feb9e2b
Tplg: Same with TGL FW branc

[2019-12-03 13:36] plbossart commented on #1555
Nah, you did all the hard work and made it easy to connect the dots. Thanks @bardliao

[2019-12-03 13:36] plbossart commented on #1555
very cool, thanks @YvonneYang2

[2019-12-03 17:40] plbossart commented on #1558
@bardliao with your changes we only use the spinlock in the threads, so we could use a regular spin_lock, no?

that's an HDAudio/IDIPS issue. @kv2019i FYI

Huh, that's no good. we should file this as a separate issue.

[2019-12-04 02:07] bardliao commented on #1558
@plbossart Yes, the spinlock is only called in the thread with global interrupt disabled, and they are called in sequence. So, yes, I think we can use a regular spin_lock.

[2019-12-04 02:23] YvonneYang2 opened #1587 "[BUG][CML]There are some WARNING after sdw_rt711_rt1308_rt715 sdw_rt711_rt1308_rt715: ASoC: binding iDisp1 during system boot up"
**Describe the bug**
There are some warning after sdw_rt711_rt1308_rt715 sdw_rt711_rt1308_rt715: ASoC: binding iDisp1 during system boot up.

**To Reproduce**
1. Run with command "./test-reboot.sh 500", then check the logs in folder named reboot-logs

script:
[test-reboot.sh.txt](https://github.com/thesofproject/linux/files/3919649/test-reboot.sh.txt)

**Reproduced rate**
Run 500 times,failed 1 ti

[2019-12-04 02:41] aiChaoSONG commented on #1537
tried with 709427e, issue not reproduced on cml with ALC3204

[2019-12-04 02:51] sinahuang commented on #1556
Above comments is that I tested this issue with "options soundwire_intel sdw_md_flags=0x01000001" and "options snd_sof_pci sof_pci_debug=1" enabled in alsa-base.conf.
PR #1580 is not for this issue. I think the test environment is not same with original issue. So I delete it.

[2019-12-04 02:54] YvonneYang2 commented on #1558
Tested it with on integration/soundwire-latest + PR1580 with sof-pci-debug=1 and sdw_md_flags=0x01000001, reproduced rate is higher than before. Reproduced rate is 6/300.

[dmesg_failed_41.log](https://github.com/thesofproject/linux/files/3919755/dmesg_failed_41.log)

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: b4f9bfa+ #1580
FW: https://gi

[2019-12-04 03:03] YvonneYang2 commented on #1558
Split the "WARNING after sdw_rt711_rt1308_rt715 sdw_rt711_rt1308_rt715: ASoC: binding iDisp1" to https://github.com/thesofproject/linux/issues/1587

[2019-12-04 03:47] plbossart commented on #1510
@tokyovigilante could you somehow dump the hw_params requested by the app? wondering if this is a case of the topology exposing capabilities but not testing for bad values before they are send to the DSP over IPC.
We have such a case for DMICs where if the app request 2 channels it records at double the rate instead of rejecting the request.

[2019-12-04 04:00] plbossart commented on #1497
can you try with the patch posted on alsa-devel
[alsa-devel] [PATCH v2 12/15] ASoC: soc-core: add missing return value check for soc_link_init()

It solved some issues in snd_soc_get_pcm_runtime in my case.

[code]

[2019-12-04 05:52] YvonneYang2 commented on #1494
Run multi-pipline stress test, issue can be reproduced on integration/soundwire-latest(b4f9bfa) + #1580 with sof-pci-debug=1 and sdw_md_flags=0x01000001.
Platforms: CML Laptop with ALC711+ ALC1308+ ALC715 in SDW mode

When issue reproduced, terminate it then start again can recover it.

[multipipeline_test_22_all_logger.log](https://github.com/thesofproject/linux/files/3920241/multipipeline_test_2

[2019-12-04 06:40] bardliao commented on #1587
The dmesg log is
[code]
And we can see it whenever ``sdw_rt711_rt1308_rt715 sdw_rt711_rt1308_rt715: snd_soc_register_card failed -517`` is seen

[2019-12-04 08:19] ClarexZhou commented on #1566
Error also seen on CML-H RVP with onboard ALC711 in HDA mode.
Detail reproduce steps:
1. Both HDMI and DP are connected
2. sudo rtcwake -m mem -s 20
3.Unplug HDMI during suspend
4. amixer contents to check HDMI jack status after system wake up.
Error seen. Both HDMI and DP jack are on.
To recover: Connect HDMI then disconnect again, HDMI jack is off now.

**Environment**
Kernel:  sof-dev 709427e6

[2019-12-04 09:01] dengyangchao commented on #1536
After upstream #1576 merged, issue can't reproduce, close.

[2019-12-04 09:01] #1536 closed

[2019-12-04 09:02] dengyangchao commented on #1537
After upstream #1576 merged, issue can't reproduce, close.

[2019-12-04 09:02] #1537 closed

[2019-12-04 09:05] dragosht commented on #1497
@plbossart I've tried the patch you mentioned above, but it doesn't seem to make a difference. The change it PR #1591 seems to fix this for me though.

[2019-12-04 09:40] YvonneYang2 opened #1592 "[BUG][SDW]"rt715 sdw:3:25d:715:0: Initialization not complete, timed out" occurred when arecord0,4(RT715) after s3 and terminating arecord0,1(RT711)"
**Describe the bug**
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
When wake up from s3 with headset playback/capture(RT711), terminate it and start to arecord0,4(RT715), it will occur "rt715 sdw:3:25d:715:0: Initialization not complete, timed out", then ipc timed out, system freeze.

Note: enable master and sof runtime PM status, issue canno

[2019-12-04 09:43] YvonneYang2 commented on #1592
@bardliao
Could you please have a look? Thanks ~

[2019-12-04 10:11] dengyangchao commented on #1472
Tried #1524 on ICL RVP with onboard codec ALC700 in HDA mode (s2idle)
issue can't reproduce.
Tried two scenarios in s2idle:
1. suspend&resume via command"sudo rtcwake -m mem -s 10" without playback.
2. suspend&resume via command"sudo rtcwake -m mem -s 10" with playback.

[dmesg.log](https://github.com/thesofproject/linux/files/3921204/dmesg.log)

[2019-12-04 10:57] YvonneYang2 commented on #1555
Since commit is merged into soundwire-latest, tested it 1000 times, passed for 300 times so far. Stress test is still on going, will check it tomorrow.

[2019-12-04 12:10] kv2019i commented on #1566
Ack, will take a look. This could be related to #1440, which is also still open.

[2019-12-04 12:12] kv2019i commented on #1566
@ClarexZhou Could you take DRM logs for the scenario? Logs can be enabled at runtime with:

sudo bash
echo 0x1f > /sys/module/drm/parameters/debug

... then run through the scanerario and capture dmesg.

[2019-12-04 12:18] bardliao commented on #1592
I can't reproduce the ``rt715 sdw:3:25d:715:0: Initialization not complete, timed out`` issue. But I can see
[code]
[code]
I will look into it tomorrow.

[2019-12-04 12:49] plbossart commented on #1587
Can you try this patch that was submitted to alsa-devel as well?

[code]

[2019-12-04 16:35] plbossart commented on #1561
well, yes, there are no virtual widgets and routes in this topology file.
can you please add them and retry?

My theory is that the warnings shows when there is a virtual widget which isn't mapped to anything in the machine driver.

@ranj063 can you provide pointers on what those widgets are and they are handled by the kernel?

[2019-12-04 18:01] ranj063 commented on #1561
@plbossart these errors are due to missing virtual widgets in topology. We should not add any virtual dapm routes but just virtual widgets to handle the dapm routes in the machine driver.

[2019-12-04 20:24] #1497 closed

[2019-12-05 00:55] bardliao commented on #1587
No, it doesn't help, but https://lore.kernel.org/alsa-devel/20191203173007.46504-1-cujomalainey@chromium.org/ does.

[2019-12-05 01:41] ClarexZhou commented on #1566
Here comes DRM log:
Original steps with one HDMI on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode:
[kern_sdw.txt](https://github.com/thesofproject/linux/files/3924711/kern_sdw.txt)
And https://github.com/thesofproject/linux/issues/1566#issuecomment-561529251 HDMI+DP steps on CML-H RVP with onboard ALC711 in HDA mode:
[kern_HDA.txt](https://github.com/thesofproject/linux/files/39247

[2019-12-05 05:29] bardliao commented on #1592
@YvonneYang2 Could you test it with
[0001-Soundwire-cadence_master-check-if-cdns-power-in-irq.patch](https://github.com/thesofproject/linux/files/3925251/0001-Soundwire-cadence_master-check-if-cdns-power-in-irq.patch.txt)?
Somehow sdw 3 is powered down while cdns->link_up is false. I will keep looking into it.

[2019-12-05 06:02] YvonneYang2 commented on #1592
Added
[0001-Soundwire-cadence_master-check-if-cdns-power-in-irq.patch.txt](https://github.com/thesofproject/linux/files/3925339/0001-Soundwire-cadence_master-check-if-cdns-power-in-irq.patch.txt) on the top of integration/soundwire-latest(add887ef ), issue cannot be reproduced.

[2019-12-05 06:12] YvonneYang2 commented on #1555
Checked it today but found system hung. So I ran it again, system showed
[code]
**Note**: Run it with master and sof runtime PM enabled.

Kernel: integration/soundwire-latest(f6e2dba)
FW: master(0205c95)

[failed_multipipeline_test_172_all_logger.log](https://github.com/thesofproject/linux/files/3925389/failed_multipipeline_test_172_all_logger.log)
[failed_multipipeline_test_172_dmesg.log](https:/

[2019-12-05 06:19] bardliao commented on #1592
The issue is that pm_runtime_status_suspended(dev) will return true if pm runtime is disabled. Therefore,   will do nothing in intel_suspend(). @YvonneYang2 Could you retest it with https://github.com/thesofproject/linux/pull/1594?

[2019-12-05 06:33] YvonneYang2 commented on #1592
Tested it on integration/soundwire-latest(add887e) + #1594 , issue cannot be reproduced.

[2019-12-05 08:04] sinahuang opened #1595 "[BUG][SDW]" IPC timed out for 0x60050000 size 12" occured when arecord0,4(RT715) after s3 and terminating arecord0,1(RT711)"
**Describe the bug**
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
When wake up from s3 with headset playback/capture(RT711), terminate it and start to arecord0,4(RT715), it will occur "IPC timed out for 0x60050000 size 12". Need reboot to recover.

Note: enable master and sof runtime PM status, issue cannot be reproduced.

**To Reproduce**
1

[2019-12-05 08:08] sinahuang commented on #1595
Check this issue with integration/soundwire-latest(add887e) + #1594 , issue can't be fixed.

[2019-12-05 08:33] kv2019i commented on #1558
@plbossart wrote:

[...]

This seems like a variant of issue https://github.com/thesofproject/linux/issues/1367
Dmesg has this

[    2.962115] sof-audio-pci 0000:00:1f.3: codec_mask = 0x6

In this case, there is only one HDA codec (idisp), so the mask should be 100b (0x4), but there's
the non-existant codec #1 so mask ends up as 110b (0x6). In case of #1367, codec#0 is also present so mask ix 0x7

[2019-12-05 09:28] YvonneYang2 opened #1597 "[BUG][CML]"SDW_SCP_INTMASK1 write failed:-61" occurred when run suspend/resume stress test."
**Describe the bug**
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.  Run suspend/resume stress test with integration/soundwire-latest + #1589 , dmesg sometimes shows

[code]
Run 50 times without #1589 ,issue cannot be reproduced. Will test much more times to check if it is related to #1589

Note: Function cannot be effected when issue occurred

[2019-12-05 09:38] YvonneYang2 commented on #1555
Tested it 1000 times with latest soundwire-latest branch (top commit: add887ef ), issue cannot be reproduced. Close it.

Note: Run it with master and sof runtime PM enabled.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: add887e
FW: https://github.com/thesofproject/sof/commits/master  commit: 65de27d
tplg: Same with FW branch, sof-cml-rt711-r

[2019-12-05 09:38] #1555 closed

[2019-12-05 10:24] YvonneYang2 commented on #1592
When ran multi-pipline stress test, occurred "rt1308 sdw:1:25d:1308:0: Initialization not complete, timed out" with on integration/soundwire-latest(add887e)  + #1589. Will try to test it with #1594 to check if it could be fixed by #1594

[failed_multipipeline_test_289_dmesg.log](https://github.com/thesofproject/linux/files/3926297/failed_multipipeline_test_289_dmesg.log)
[failed_multipipeline_test

[2019-12-05 10:52] sinahuang commented on #1595
Issue also can be reproduced on CML-H with below steps:
1. paplay 1.wav -vvv via headset
2. .Enter s3 via "sudo rtcwake -m mem -s 10
3. "parecord 22.wav -vvv " via DMIC 0,4
4. Enter s3 via "sudo rtcwake -m mem -s 10

[dmesg9.log](https://github.com/thesofproject/linux/files/3926435/dmesg9.log)
[sof_trace99.log](https://github.com/thesofproject/linux/files/3926437/sof_trace99.log)
**Test recipe**

[2019-12-05 13:26] kv2019i commented on #1566
Thanks @ClarexZhou !

I think this is a bug on i915 side. When I compare succesful case on a CML system with this log, after resume, in your failing case log I see this:

Nov  1 13:00:22 ubuntu-XPS-17-9700-01 kernel: [  122.361478] [drm:intel_dp_compute_config [i915]] DP link computation with max lane count 2 max rate 162000 max bpp 24 pixel clock 154000KHz
Nov  1 13:00:22 ubuntu-XPS-17-9700-01 ke

[2019-12-05 13:28] lbetlej commented on #1807
@omg The updated binaries (CNL and ICL) for SOF 1.4.1 release are available for download. Could you test them and report if issue can be closed ? Thank you.

[2019-12-05 14:38] bardliao commented on #1595
The root cause is similar to #1592 The different is that the intel_suspend() is not even triggered in this case.
[code]
@sinahuang Could you test it with #1599 and #1594 ?
In fact, #1592 (with one rt1308) and #1595(with two rt1308) are seen on different laptops.

The reason why intel_suspend() is triggered on all sdw links on the one rt1308 laptop is that rt700 acpi id is on all sdw links. Besides

[2019-12-05 15:49] plbossart commented on #1561
@Liviali155 can you try PR #2171 ?

[2019-12-06 01:56] YvonneYang2 opened #1600 "[BUG][SDW]"rt1308 sdw:1:25d:1308:0: Initialization not complete, timed out" occurred during multi-pipline stress test."
**Describe the bug**
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001. Tested it with integration/soundwire-latest + #1589
"rt1308 sdw:1:25d:1308:0: Initialization not complete, timed out" occurred during multi-pipline stress test. Then aplay0,2(RT1308) cannot work anymore.

**To Reproduce**
1. Disable master and sof runtime PM status via add sof

[2019-12-06 02:07] YvonneYang2 commented on #1600
Tested it with #1589 + #1594 , issue still can be reproduced.
Run 1000 times, failed at 887th time. So seems #1594 doesn't fix the issue.

[failed_multipipeline_test_887_all_logger.log](https://github.com/thesofproject/linux/files/3930039/failed_multipipeline_test_887_all_logger.log)
[failed_multipipeline_test_887_dmesg.log](https://github.com/thesofproject/linux/files/3930040/failed_multipipeline

[2019-12-06 02:14] YvonneYang2 commented on #1592
Tested it 1000 times with #1594 , "rt1308 sdw:1:25d:1308:0: Initialization not complete, timed out" can still be reproduced. Split this issue to https://github.com/thesofproject/linux/issues/1600

[2019-12-06 02:56] Liviali155 commented on #1561
Tried with PR [#2171](https://github.com/thesofproject/sof/pull/2171),Error not seen

[2019-12-06 03:05] ClarexZhou commented on #1558
@kv2019i  Could you provide workaround solution first?

[2019-12-06 03:06] sinahuang commented on #1595
Verified this issue on CML-H Laptop with soundwire-latest (commit: d64c4a3 +PR #1599), issue can't be reproduced.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: d64c4a3 +PR #1599
FW: https://github.com/thesofproject/sof/commits/master commit: 65de27d
Tplg: Same with FW branch,  sof-cml-rt711-rt1308-rt715.tplg
Platform:CML-H Laptop with cod

[2019-12-06 03:53] YvonneYang2 commented on #1592
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
Original issue cannot be reproduced after #1594 commit merged into integration/soundwire-latest(d64c4a3). Close it.

[2019-12-06 03:53] #1592 closed

[2019-12-06 05:35] YvonneYang2 commented on #1600
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8 for bus reset
[code]
Occurred when run suspend/resume with playback stress test. Failed at 95th time.
It seems same with this issue. And will retest it with #1599 to check if it can be fixed by #1599

Kernel: integration/soundwire-latest(d64c4a3) + #1586
FW:master(65de27d)

[s3_test_95_logger_all.log](https://github.com/thesofproject/

[2019-12-06 06:01] ClarexZhou commented on #1566
Can't report bugs on  https://bugs.freedesktop.org now.  Seems moved to gitlab.
Report and track in bug https://gitlab.freedesktop.org/drm/intel/issues/735 [i915][CML-H] HDMI jack detection is still on when disconnect HDMI during S2idle/S3

Close for not SOF issue.

[2019-12-06 06:01] #1566 closed

[2019-12-06 07:42] dengyangchao opened #1601 "[BUG]DSP panic when change DMIC arecord between HW:0,6 and HW:0,7 quickly"
**Describe the bug**
DSP panic when change DMIC arecord between HW:0,6 and HW:0,7 quickly.
Can execute a script like below:
[code]

[code]

**To Reproduce**
1.Reboot system via"sudo reboot".
2.Wait runtime PM to suspend.
3.Execute script via```./test1.sh```
[test1.sh.txt](https://github.com/thesofproject/linux/files/3930864/test1.sh.txt)

**Reproduction Rate**
3/3

**Expected behavior**
Change dmi

[2019-12-06 08:06] dengyangchao commented on #1601
Issue also can reproduce on ICL-U RVP with onboard codec ALC700 in HDA mode

[2019-12-06 09:01] aiChaoSONG commented on #1601
issue can also be reproduced On CML with ALC3204 in HDA mode

[2019-12-06 09:26] YvonneYang2 opened #1602 "[BUG][SDW]"IO error in rt711_jack_detect_handler, ret -16" occurred when plug in or unplug headphone"
**Describe the bug**
With sof and master pm runtime disabled, unplug/plug in headphone dmesg will show "IO error in rt711_jack_detect_handler, ret -16"

**To Reproduce**
1. Disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001, then reboot to make it work.
2. Open one terminal and run command "dmesg -w"
3. Plug in/unlug headphone, and check in terminal

**Rep

[2019-12-06 09:27] YvonneYang2 commented on #1602
Tested it with #1589 ,issue cannot be reproduced.

[2019-12-06 09:36] YvonneYang2 commented on #1602
Tested it with integration/soundwire-latest(d64c4a3) + #1586, issue cannot be reproduced.

[2019-12-06 19:01] plbossart commented on #1602
@YvonneYang2 @bardliao @RanderWang @shumingfan I can reproduce these warnings with the udpated PR #1586

when doing very fast jack insertion/removal, on removal the codec driver seems to issue a ton of commands which don't seem to complete before the codec suspend routine quicks in

[code]

[dmesg_hs_removal.log](https://github.com/thesofproject/linux/files/3933581/dmesg_hs_removal.log)

If I take

[2019-12-06 21:41] containmentbreach commented on #1807
Unfortunately I've lost ability to boot into Linux after BIOS update. I'll try to do something about it

[2019-12-06 22:00] plbossart opened #1603 "[BUG] [SDW] clock stop errors while removing jack during speaker playback"
Configuration:

https://github.com/thesofproject/linux/pull/1586

options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8

speaker-test -Dhw:0,2 -c2 -r48000

insert the jack after 5s and remove it again after 5s

<details> <summary> clock restart errors </summary>

[code]

</details>

[dmesg_hs_removal_while_speaker_playback.log](https://github.com/thesofproject/linux/files/3934172/dmesg_hs_rem

[2019-12-07 00:02] plbossart commented on #1595
@bardliao I am quite lost so could use more explanations:

1. I do see in the logs that we do start the suspend on master 0 and 1, but not on 2 and 3?

2. what is the issue with the rt700 suspend? that routine does nothing if there is no hardware present on the board?

3. the use of pm_runtime_suspended() is only to make sure we reset the status on resume. I don't see what this has to do with 'gho

[2019-12-07 00:07] plbossart commented on #1597
@YvonneYang2 please update if indeed PR #1589 is the root cause of this issue

[2019-12-08 11:37] sathyap-chrome opened #1604 "RT5682 recording is sometime noisy"
On 2 of CML customer designs, sometimes the recording is having noise.

Steps to reproduce:
arecord -f cd -d 10 (Fail Rate: 3/10 times)

Use Chrome OS image latest : it is using SOF v0.8
Attached is 1 of failed recording.

NOTE: this issue is not triaged - just logging many are not able to access the customer report.
[Fail_3.zip](https://github.com/thesofproject/linux/files/3936167/Fail_3.zip)

[2019-12-09 05:31] bardliao commented on #1595
Right, and that's what we are trying to fix.

I won't say there is a issue on rt700 suspend. The impact of rt700 suspend is it will clear the direct_complete flag of its parent which is sdw-master and it will trigger intel_suspend() function. In other words, intel_suspend() function will not be triggered in suspend if there is no unattached slave on the link.

That is not related to this issue. Wh

[2019-12-09 06:10] YvonneYang2 commented on #1494
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 for not allowed, run multi-pipline stress test 500 times, issue can be reproduced at 291th/292th/293th/294th/295th time. Terminate it and restart again can recover the issue.

dmesg
[code]

[multipipeline_test_291_all_logger.log](https://github.com/thesofproject/linux/files/3938077/multipipeline_test_291_all_logger.log)
[multipipeline

[2019-12-09 06:53] shumingfan commented on #1602
@YvonneYang2 Could you test with PR #1605 when doing fast jack insertion/removal?
@plbossart I think the jack is removed during the jack type detection. So, I added the pin sense check in the detection loop.

[2019-12-09 07:18] YvonneYang2 commented on #1602
@plbossart
I tested it with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8 and updated #1586 , but seems can not reproduce the issue as you mentioned. Tried to do very fast jack insertion/removal, but dmesg always shows normal.
@bardliao
Could you test it on your side and help to reproduce it ? Thanks ~

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/sound

[2019-12-09 07:19] RanderWang commented on #1602
Customer also reported a issue on HDA device that fast plug-unplug headphone can't be detected. @kailang.  He said codec need time to detect the change. And customer closed this bug for they consider it as a unusual operation.  @shumingfan , can you help to check why codec spend so much time to read register ? Thanks!

[2019-12-09 07:43] keqiaozhang commented on #1604
I can reproduce this issue with Chrome OS,  I attached a failed wav file(silent input).

[noise.zip](https://github.com/thesofproject/linux/files/3938131/noise.zip)

<details>
 <summary>dmesg</summary>
[code]
</details>
<details>
<summary>trace</summary>

[code]
</details>

BTW, I'm unable to reproduce it with Ubuntu OS.

[2019-12-09 07:55] YvonneYang2 commented on #1602
Update the comments https://github.com/thesofproject/linux/issues/1602#issuecomment-563098404 .
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8, can reproduce the issue 100% with test steps as below:
1. Open a terminal and run command "dmesg -w"
2. Plug in headphone then unplug it immediately, better unplug it in 0.5 second.
3. Wait that dmesg finished printing, and you could see i

[2019-12-09 08:22] dengyangchao commented on #1463
GLK speaker pipeline(HW:0,0) can reproduce the issue.
below two scenarios can reproduce:
1. PM runtime suspend ->playback via speaker
2. Playback via speaker -> suspend&resume

Platform: GLK Chrome with onboard codec DA7219 in I2S mode
Firmware: 65de27d2 https://github.com/thesofproject/sof/commits/master
Kernel: 7c7cc045 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file:

[2019-12-09 09:47] sinahuang opened #1606 "[BUG][TGL][SDW]"Ipc error for 0x60010000 size 20" occured when arecord 0,4(Dmic) with format s24/32_le."
**Describe the bug**
"Ipc error for 0x60010000 size 20" occured when arecord0,4(DMIC) + format s24/s32_le , error not occured when format is s16_le.

**To Reproduce**
1. Boot up system.
2. Run "arecord -Dhw:0,4 -fs24_le -c4 -r 16000 -vv -i 33.wav ."

Console shows
[code]

**Reproduced rate**
5/5
Other function will not be effected.

**Expected result**
Arecord0,4 normally, no error occurred.

**Ac

[2019-12-09 11:13] YvonneYang2 commented on #1597
Since PR1589's fix has been merged into PR1586. Run 500 times, issue cannot be reproduced with snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 with #1586 .
But according to ww49.5 test report, issue can be reproduced with  snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8, so will test it with and without #1586 to check if issue can still be reproduced .

[2019-12-09 11:22] bardliao commented on #1602
Looks like you can reproduce it already :)

[2019-12-09 12:24] RanderWang commented on #1603
@plbossart  yes, I will check this bug. If speak is working, master0 should be powered on. So  clock stop 0 should work.

[2019-12-09 16:30] kv2019i commented on #1558
@mengdonglin wrote:

Ack, I'm working on a patchset now. I have initial version ready, but I need a day more to run tests in different scenarios before uploading for reviewing.

[2019-12-09 18:04] plbossart commented on #1540
I haven't seen this issue since we changed the IPC so closing.

[2019-12-09 18:04] #1540 closed

[2019-12-09 18:54] plbossart commented on #1595
@bardliao @sinahuang @YvonneYang2 I cannot reproduce this error with plain vanilla integration/soundwire-latest

kernel e37590970601495e64b8a2cff82c00fb49ca
Firmware 8f51e6bbb4e724069182b91df5cf0d6fd687245d

[2019-12-09 22:55] plbossart opened #1609 "[SDW] IO timeout when stopping clock after S2idle suspend/resume"
code: PR #1586 and configuration with no amplifier on link-2

options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8

modprobe snd-sof-pci

wait for the DSP to be suspended

rtcwake -m mem -s 3

The dmesg log shows an IO timeout when stopping the clock the second time, but when looking at the logs the clock stop command is retried and will succeed when re-issued by do_transfer()

This makes me

[2019-12-09 23:02] plbossart commented on #1603
Fixed by https://github.com/thesofproject/linux/pull/1605, now merged in PR #1586

Thanks @shumingfan

[2019-12-09 23:02] #1603 closed

[2019-12-10 01:57] bardliao commented on #1595
@plbossart Could you check if there is any unattached slave on your device? Also, could you check if intel_suspend() is triggered for all links in suspend? The IPC timed out is only the result of intel_suspend() is not triggered. So what I really concern about is if intel_suspend() is triggered for all links.

[2019-12-10 07:22] bardliao commented on #1600
I checked all attached error log , and found that all of them are failed to read device id.
for example
[code]

[2019-12-10 08:52] YvonneYang2 commented on #1597
Tested it with snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8
Run 1000 times suspend/resume stress test with #1586 ,issue can be reproduced. Reproduced rate is 4/1000
Run 1000 times without #1586 , issue cannot be reproduced.
So #1586 seems the root cause of the issue.

[test_66.log](https://github.com/thesofproject/linux/files/3943445/test_66.log)

[s3_test_66_logger_all.zip](https://github.c

[2019-12-10 09:20] YvonneYang2 commented on #1602
Since PR1605 has been merged into integration/soundwire-latest , retested it again, issue cannot be reproduced on integration/soundwire-latest(e375909) + #1586 with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8.

[2019-12-10 09:55] RanderWang commented on #1609
@plbossart   yes,  it is caused by FIFO_LEVEL register setting.  the detail:
CDNS_MCP_FIFOLEVEL was set to 2,  and after S2idle, we send cmd with count =1 & msg_count = 1, so we don't set this register correctly.  I will check it later.
[code]

[2019-12-10 10:00] YvonneYang2 commented on #1494
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 for not allowed, run multi-pipline stress test 500 times, issue cannot be reproduced.

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: e375909+ PR1586
FW: https://github.com/thesofproject/sof/commits/master  commit: 8f51e6b
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platfor

[2019-12-10 10:08] YvonneYang2 commented on #1600
Tested it 500 times,  issue cannot be reproduced with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1.

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: e375909+ PR1586
FW: https://github.com/thesofproject/sof/commits/master  commit: 8f51e6b
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML-U Laptop with codec ALC711, R

[2019-12-10 10:27] sinahuang commented on #1595
Verified this issue on CML-H with master and sof runtime PM status disabled via "options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 ", issue cannot be reproduced.

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: e375909 +PR #1586
FW: https://github.com/thesofproject/sof/commits/master commit: 8f51e6b
Tplg: Same with FW branch,  sof-cml-rt711-rt1308-r

[2019-12-10 10:46] sinahuang commented on #1494
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1,now issue cannot be reproduced on CML-U Laptop and CML-H Laptop, but TGL-RVP can still reproduce this issue during multipipline stress test.

[multipipeline_test_138_dmesg.log](https://github.com/thesofproject/linux/files/3944377/multipipeline_test_138_dmesg.log)
[multipipeline_test_138_all_logger.log](https://github.com/thesofproject

[2019-12-10 12:31] bardliao commented on #1595
@sinahuang Sorry, but options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 will not disable runtime PM, will it?

[2019-12-10 14:00] kv2019i commented on #1375
Issue not seen in a month, closing.

[2019-12-10 14:00] #1375 closed

[2019-12-10 14:10] kv2019i commented on #987
@xiulipan Can this be closed? Doesn't seem like something that needs to be tracked as an issue...

[2019-12-11 01:04] bardliao opened #1614 "[BUG][SDW] intel_suspend() is not triggered in system sleep suspend"
**Describe the bug**
intel_suspend() is not triggered in system sleep suspend.

**To Reproduce**
1. Remove rt700 which does not exist on the testing laptop from kconfig
2. Disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01010101, then reboot to make it work.
3. Enter s3 via "sudo rtcwake -m mem -s 3"
4. Check dmesg

**Reproduce rate**
100%

**Expected result**
i

[2019-12-11 01:36] bardliao commented on #1614
The issue can be fixed by #1607. See dmesg log below.

<details>
 <summary>dmesg with #1607 </summary>

[code]
</details>

[dmesg_with_pr_1607.txt](https://github.com/thesofproject/linux/files/3947946/dmesg_with_pr_1607.txt)

[2019-12-11 01:43] RanderWang commented on #1595
@bardliao
[code]

[2019-12-11 02:19] YvonneYang2 commented on #1494
Run 1000 times again with same environment , issue can still be reproduced. Reproduced rate is about 5/1000

[multipipeline_test_320_dmesg.log](https://github.com/thesofproject/linux/files/3948090/multipipeline_test_320_dmesg.log)
[multipipeline_test_320_all_logger.zip](https://github.com/thesofproject/linux/files/3948091/multipipeline_test_320_all_logger.zip)

[2019-12-11 02:38] RanderWang commented on #1609
@plbossart   fixed by https://github.com/plbossart/sound/pull/10

[2019-12-11 03:12] ClarexZhou commented on #1595
Error only seen with option  sof-pci-debug=1 and sdw_md_flags=0x01000001.

[2019-12-11 04:17] #987 closed

[2019-12-11 05:05] bardliao commented on #1595
The root case is described on #1614. We can trace the issue there.

[2019-12-11 06:36] ClarexZhou opened #1615 "[Bug][UCM1]Speaker name is "Bass Speaker""
**Describe the bug**
Speaker name is "Bass Speaker"

**To Reproduce**
Open system sound setting, check speaker name

**frequency**
100%

**Actual result**
Speaker name is "Bass Speaker"
![snapshot](https://user-images.githubusercontent.com/49641224/70597534-93f59600-1c23-11ea-8ded-d3d888c95c6b.png)

**Expected result**
Speaker name is " Speaker"

**Environment**
Kernel: release/sof-v5.0 32c6c62
Fi

[2019-12-11 06:56] ClarexZhou opened #1616 "[Bug][UCM1]Both Speaker and headphone are outputting at same time if switch output from HDMI to headphone"
**Describe the bug**
Both Speaker and headphone are outputting at same time if switch output from HDMI to headphone

**To Reproduce**
1. Both headset and HDMI are connected
2. paplay test.wav -vvvv  to play music via pulseaudio
3.  Open system sound setting, select HDMI output to switch to HDMI output
4.  In system sound setting, select headphone as audio output.

**frequency**
100%

**Actual resu

[2019-12-11 06:58] YvonneYang2 commented on #1597
Double confirmed with sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001 as bug description mentioned, run 1000 times, issue cannot be reproduced on integration/soundwire-latest(e375909).  So the PR #1586 is the root cause of the issue.

[2019-12-11 07:10] bardliao commented on #1606
We are using dmic16k on id 4. So I think it is a limitation rather than a bug. @sinahuang Do you see the same issue with arecord -Dhw:0,**3**?
[code]

[2019-12-11 07:11] ClarexZhou opened #1617 "[Bug][UCM1]Should remove the whole headphone mic from Mics.conf"
**Describe the bug**
Can separate detect Headphone, Headset and Microphone via jack detection in amixer. Seems should remove the whole headphone mic from Mics.conf. For no difference for headset capture usage when selecting Headset Mic or Headphone MIC from sound input setting. Also Pure mic capture always not work in current visible profile.

**Headset：**
numid=15,iface=CARD,name='Headphone Jack'

[2019-12-11 07:30] YvonneYang2 commented on #1600
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
Tested multipipline stress 1000 times with integration/soundwire-latest + #1586, original issue cannot be reproduced. Then will test suspend/resume with playback, if issue can also not be reproduced, will close it.

[2019-12-11 07:45] RanderWang commented on #1609
a PR for branch soundwire-bug-fixes is https://github.com/thesofproject/linux/pull/1618

[2019-12-11 09:00] RanderWang commented on #1603
@plbossart   It should be fixed by https://github.com/plbossart/sound/pull/12.  1605 can't fix it. Thanks!

[2019-12-11 09:04] YvonneYang2 commented on #1600
As for this comment, tested it with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8, issue cannot be reproduced on integration/soundwire-latest(e375909) + #1586 after suspend/resume with playback stress test 500 times.

[2019-12-11 09:06] YvonneYang2 commented on #1600
Since issue cannot be reproduced, close it.

[2019-12-11 09:55] sinahuang commented on #1606
Issue cannot be seen on Dmic0,3, only be reproduced on Dmic0,4.

[2019-12-11 10:00] YvonneYang2 commented on #1609
Tested it with integretion/soundwire-latest(e375909) + #1586 + #1618 , issue cannot be reproduced.

[2019-12-11 11:02] wwittbrx commented on #939
Is there any update on this? This error has been corrupting logs for a long time now.

[2019-12-11 18:57] kv2019i commented on #990
Added new items for "multiple HDA codecs support to generic machine driver"

[2019-12-12 01:08] bardliao commented on #1617
It should be 'Headphone Jack' off and 'Mic Jack' on if it detects right.  However, I am not sure if the HW design support pure Microphone or not.

[2019-12-12 01:09] bardliao commented on #1614
Close it as #1607 is merged.

[2019-12-12 01:09] #1614 closed

[2019-12-12 01:14] bardliao commented on #1606
Close it as it is a limitation

[2019-12-12 01:14] #1606 closed

[2019-12-12 01:18] bardliao commented on #1604
@oder-chiou FYI

[2019-12-12 01:24] bardliao commented on #1595
@sinahuang We can close it if it can't be reproduced with integration/soundwire-latest + #1607. Thanks.

[2019-12-12 01:46] YvonneYang2 commented on #1600
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
Issue can still be reproduced with PR #1586 , PR #1618 and configuration with no amplifier on link-2.
Failed at 289th time. So reopen it.

Dmesg:
[code]
[failed_multipipeline_test_289_all_logger.log](https://github.com/thesofproject/linux/files/3953420/failed_multipipeline_test_289_all_logger.log)

[2019-12-12 01:52] RanderWang commented on #1609
Fixed by PR #1618

[2019-12-12 01:52] #1609 closed

[2019-12-12 03:05] RanderWang commented on #1597
I checked the log, it happened with master1 resumed by intel_resume, so it is not a issue caused by clock stop explicitly

[2019-12-12 03:49] dengyangchao opened #1619 "[BUG]Boot up occur ipc timed out for 0x60050000 size 12"
**Describe the bug**
Run reboot stress test, and when boot up ,occur ipc timed out for 0x60050000 size 12
and ipc timed out for 0x60040000 size 12.

**To Reproduce**
1.Reboot system via"sudo reboot"
2.Wait runtime PM status to suspend
3.Run stress test via command "./test-reboot.sh 1000"

**Reproduction Rate**
11/315
3 times fail for ipc timed out for 0x60040000 size 12
8 times fail for ipc timed

[2019-12-12 04:27] ranj063 commented on #1604
@sathyap-chrome can you please make sure that there are no missing rt5682 codec patches in v0.8 compared to topic/sof-dev?

[2019-12-12 04:29] sathyap-chrome commented on #1604
@ranj063 i'm on it.. thanks.

[2019-12-12 05:12] dengyangchao commented on #1619
The issue can be reproduced on CML laptop with onboard codec ALC3204 in HDA mode.
and the 8 times fail is for ipc timed out for 0x60050000 size 12.
reproduce rate: 8/100

Platform: CML laptop with onboard codec ALC3204 in HDA mode
Firmware: 98d7ab21 https://github.com/thesofproject/sof/commits/master
Kernel: 6714c4e https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools

[2019-12-12 05:38] ClarexZhou opened #1620 "[Bug] Mic mute LED is only work for Headset Mic, not work for DMIC"
**Describe the bug**
Mic Mute LED  isn't work for DMIC.
Seems Mic mute LED is light on/off according to ‘Capture Switch’. And ‘Capture Switch’ will keeps on if mute when DMIC in use.

**To Reproduce**
Step 1: Headset is connected, Select Headset Microphone in sound input setting
Step 2: Press Mic mute button to mute -> Mic Muted and Mic LED light on successfully
Step 3: Change sound input source t

[2019-12-12 06:21] sinahuang commented on #1595
Verified this issue with original steps on CM-H with integration/soundwire-latest , issue cannot be reproduced, since #1607 had been merged into integration/soundwire-latest, so closed it.

[2019-12-12 06:21] #1595 closed

[2019-12-12 07:25] ClarexZhou commented on #1620
close for wrong tplg is used. Error not seen with cml-hda-dmic-002-drop-stable tplg

[2019-12-12 07:25] #1620 closed

[2019-12-12 07:30] ClarexZhou commented on #1616
Error not seen with UCM: https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1, commit id 53f931681

[2019-12-12 07:30] #1616 closed

[2019-12-12 07:31] ClarexZhou commented on #1615
Error not seen with UCM: https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1, commit id 53f931681

[2019-12-12 07:31] #1615 closed

[2019-12-12 07:42] ClarexZhou opened #1621 "[Bug]Mic mute LED still light for DMIC after selecting headset mic as input source."
**Describe the bug**
If DMIC and headset MIC mute status is different. Mic mute LED still light for DMIC after selecting headset mic as input source.

More info:
Dmic LED works according to “Dmic0 Capture Switch”
Headset MIC works according to ‘Capture Switch’

**To Reproduce**
1.	Both Headset mic and DMIC are unmuted
2.	Select DMIC as input source, press MIC mute button to mute-<MIC mute LED ligh

[2019-12-12 08:54] ClarexZhou commented on #1397
Reopen for error seen on UCM: https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/, commit id 53f931681

[2019-12-12 08:54] ClarexZhou commented on #1406
Close for not seen on UCM: https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/, commit id 53f931681

[2019-12-12 08:54] #1406 closed

[2019-12-12 10:39] sinahuang opened #1622 "[BUG][SDW][CML-H]" IPC timed out for 0x60050000 size 12" occured when paplay0,0(RT711) after s3 ."
**Describe the bug**
Firstly disable master and sof runtime PM status via “options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1”.
" IPC timed out for 0x60050000 size 12" occured when paplay0,0. Need reboot to recover.

**To Reproduce**
1.Boot up system.
2.Run "paplay wav/48California_Dreaming.wav -vvv" via headset0,0
3.Run "sudo rtcwake -m mem -s 15"
4.Run "Parecord 22.wav -vvv" via Dmic0,4

[2019-12-12 19:29] #1558 closed

[2019-12-12 19:29] #1367 closed

[2019-12-13 01:05] jason77-wang commented on #1617
No pure mic on Lenovo machines.

For headset mic on Lenovo machines, just use the 'Mic Jack'

[2019-12-13 05:43] ranj063 commented on #1604
@sathyap-chrome any updates?

[2019-12-13 05:44] sathyap-chrome commented on #1604
i checked the sof-dev , there are no new patches wrt 5682.
i'm looking at difference in recording parameters etc if any.

[2019-12-13 08:31] juimonen commented on #1617
removed in https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1 head

[2019-12-13 08:51] ClarexZhou commented on #1617
@juimonen , Headphone Mic is removed on https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1, commit 463ea8f1.

But still shown 'Headset Microphone' when connecting Headphone. Could  you also fix this? or should create and follow up in new bug?

[2019-12-13 08:55] juimonen commented on #1617
@ClarexZhou hmm ok, let me see what I can do...

[2019-12-13 09:11] juimonen commented on #1617
@ClarexZhou @jason77-wang if I use "Mic Jack" in headset mic it doesn't show me headset mic at all, as I'm not getting any change in "Mic Jack" event. So even if I insert headset, Mic Jack is alway "off" in alsa... Do we need to configure something more in kernel perhaps?

[2019-12-13 09:14] juimonen commented on #1617
@ClarexZhou can you try to insert headset and see if Mic Jack value changes for you:
amixer contents | grep "Mic Jack" -A2

[2019-12-13 09:24] ClarexZhou commented on #1617
@juimonen, The Mic Jack also not changed in my side now. But it works in the environment when creating this issue. Double checking now.

[2019-12-13 09:39] sathyap-chrome commented on #1604
check the register differences i've captured when we record from command line and when we record from an userside application ?

I think userspace application opens a playback stream and hence no noise is captured.

i did 1 more test:

aplay -f dat /dev/zero in 1 shell
Then do arecord in commandline - no noise.

Then stop playback.
Try record again. there is noise.

Seems issue happens when we try

[2019-12-13 10:09] ClarexZhou commented on #1617
Now Mic Jack works after boot up or s3. Details as below:
1. Boot up when headset connected -> Mic jack is On. Pass
2. Unplug Headset and plug in headset again-> Mic jack is off. Failed
3. sudo rtcwake -m mem -s 10 ->Mic jack is back to On. Pass

Any ideas about this?  Will this be effected after alsa-lib and pulseaudio update? @juimonen @jason77-wang

[2019-12-13 10:48] YvonneYang2 opened #1626 "[BUG][SDW]Snd_sof_pci cannot be unloaded when do module unload."
**Describe the bug**
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8, snd_sof_pci cannot be unloaded and snd_spf_pci switched to -1 in lsmod

**To Reproduce**
1. Disable Pulse audio, then reboot.
2. Run ./sof_remove.sh
3. Check the snd_sof_pci status via command "lsmod"

Script:
[sof_remove.sh.txt](https://github.com/thesofproject/linux/files/3960363/sof_remove.sh.txt)

**Reproduce

[2019-12-13 14:52] plbossart commented on #1626
@bardliao can you look into this, this looks related to the driver_unregister() in sdw_intel_exit()
Thanks!

@YvonneYang2 can you check if this happens only with the 0x8 option, it's likely it should happen as well with 0x1

[2019-12-13 23:04] plbossart commented on #1626
@bardliao the error goes away if I invert the sequence

[code]

[2019-12-16 01:18] libinyang commented on #1621
Hi Jaska, if you don't have time to debug this issue, I can help to debug on it after I get the Lenovo laptop. I think debugging this issue can help me to understand how LED is working in pulseaudio better.

[2019-12-16 05:12] ClarexZhou commented on #1617
Close this bug for headphone mic is already removed. Will create new issue to track once Mic jack is supported.

[2019-12-16 05:12] #1617 closed

[2019-12-16 06:24] aiChaoSONG commented on #1604
I also observed this phenomenon with our sof-dev + master branch.
** To Reproduce**
Press SPACE rapidly while recording on Headset.

***without pause-release***
![no_press_space](https://user-images.githubusercontent.com/52959957/70883933-6f2c6480-200f-11ea-8adf-e9a0bc33513b.png)
***with pause-release***
![press_space](https://user-images.githubusercontent.com/52959957/70883934-6fc4fb00-200f-11ea-

[2019-12-16 07:37] ClarexZhou opened #1628 "[Bug][WHL] MIC jack is off if plug in headset when HDA Analog isn't in use."
**Describe the bug**
Mic jack not work when plug into headset during runtime PM status is suspended.

Mic jack works ok in below scenarios:
1. Boot up system with headset connected ->Mic jack is on. Pass
2. Enter S3 and then wake up during headset connected ->Mic jack is on. Pass
3. Plug in headset during runtime PM status is active status->Mic jack is on. Pass

**To Reproduce**
1.	Boot up when he

[2019-12-16 07:43] ClarexZhou opened #1629 "[Bug][UCM1][WHL]Should separate Headphone and headset profile."
**Describe the bug**
Can separate detect Headphone, Headset via jack detection in amixer. Should separate Headphone and headset profile.

**Headset：**
numid=15,iface=CARD,name='Headphone Jack'
; type=BOOLEAN,access=r-------,values=1
: values=on
numid=12,iface=CARD,name='Mic Jack'
; type=BOOLEAN,access=r-------,values=1
: values=on

**Headphone:**
numid=15,iface=CARD,name='Headphone Jack'
; type=BO

[2019-12-16 07:55] YvonneYang2 commented on #1597
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
Tested it 1000 times with integration/soundwire-latest(9645962) + https://github.com/plbossart/sound/pull/12, issue cannot be reproduced.
Since https://github.com/plbossart/sound/pull/12 has been merged into integration/soundwire-latest, will retest it. If issue cannot be reproduced, will close th

[2019-12-16 09:10] juimonen commented on #1628
so somehow the PM is messing up mic jack detection? @ranj063 @bardliao any recollection of this kind of issue? headphone jack detection seems to work but mic jack detection is messed with PM?

[2019-12-16 09:28] juimonen commented on #1621
@libinyang yes thanks, very much appreciated!

[2019-12-16 10:53] bardliao commented on #1628
@juimonen It is more like a codec issue. Or maybe we miss some patches for [patch_realtek.c](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/patch_realtek.c)? @ClarexZhou Can we test it with topic/sof-dev branch? I would like to know if we can see the issue with the latest topic/sof-dev branch.

[2019-12-16 11:20] juimonen commented on #1629
@ClarexZhou I'm not sure if the division into 2 profiles is the solution... let's try to get first the mic detection working, then see what would be the best solution.

[2019-12-16 13:30] lyakh commented on #1023
Status: playback and capture now working on top of QEMU / KVM with supporting patched for QEMU. Many improvements and fixes, the current work is tracked in https://github.com/thesofproject/linux/pull/1501 and is being actively reviewed for an upstream submission.

HowTo test:
- Create a VM on any machine. The easiest way to create a VM is by using the
  virt-manager. Just use the GUI to create a n

[2019-12-16 13:34] lgirdwood commented on #1023
@lyakh I'm not seeing the attached script or kconfigs here.

[2019-12-16 13:39] lyakh commented on #1023
@lgirdwood now there is one

[2019-12-17 01:03] mengdonglin opened #1632 "Need rate limit the trace IPC debug"
This feature request comes from https://github.com/thesofproject/sof/issues/2211 where FW can send a a lot of IPC debug in abnormal situation.

[2019-12-17 03:15] aiChaoSONG opened #1634 "[BUG][CML] module unload blocked at removing snd_sof_pci in stress test"
**Bug Description**
when run module unload/reload stress test, removing `snd_sof_pci` seems blocked. No obvious error found in dmesg. Manually run `sof_remove.sh` and `sof_insert.sh`, will also block at the second removal of snd_sof_pci.

**To Reproduce**
run `sudo sof_bootloop.sh`

**Reproduction Rate**
tried 5 times,  all blocked at the second removal

**Environment**
1) Branch name and commit h

[2019-12-17 05:03] ClarexZhou commented on #1628
@bardliao  Error can be reproduced on topic/sof-dev.
But error not seen on legacy HDA after changing runtime PM status to suspend via
echo 1 > /sys/module/snd_hda_intel/parameters/power_save
echo auto > /sys/bus/pci/devices/0000:00:1f:3/power/control

[2019-12-17 05:55] macchian commented on #1604
Lance and I operated the same result as Sathya's findings.
(1). 44100MHz can reproduce in 1/5 times by arecord -f cd -d 5 /tmp/amic.wav
(2). 48000MHz can not duplicate by arecord -f dat -d 5 /tmp/amic.wav

Observation:
When noise issue was reproduced by 44100MHz (1). Subsequently do a 48000Hz recording follow by (2). Then doing the (1) in several times. Afterwards, issue is unable to reproduce any

[2019-12-17 08:48] juimonen commented on #1628
@ClarexZhou @bardliao I'm still clarifying here after talking to Clare:
So "Mic Jack" works during aplay (we are not in PM save), but doesn't work in idle (we are in PM save). "Headphone Jack" works both during idle and running state. And "Mick Jack" works with legacy HDA fine. So somehow sof PM is more aggressive etc. so that we are loosing the "Mic Jack" detect, could it just be that the detect

[2019-12-17 09:06] Liviali155 commented on #1331
Issue can be reproduced when HDA Analog playback
Pop noise also can output on headset when starting/stopping HDA Analog capture on TGL-U RVP with onboard ALC711 in HD-A mode
Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev   commit:c5e4a391
Firmware:https://github.com/thesofproject/sof/commits/master  commit: 85e462ad
sof-hda-generic-4ch.tplg   commit: 85e462ad

[dmesg20191217.l

[2019-12-17 10:16] YvonneYang2 commented on #1597
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
Tested it 500 times with integration/soundwire-latest( cf2660a ) and cml-010-drop-stable( 5e5f69e),
issue cannot be reproduced. Close it.

[2019-12-17 10:16] #1597 closed

[2019-12-17 10:40] YvonneYang2 commented on #1600
Firstly disable master and sof runtime PM status via add sof-pci-debug=1 and sdw_md_flags=0x01000001.
Tested it 500 times with integration/soundwire-latest( cf2660a ) and cml-010-drop-stable( 5e5f69e),
issue cannot be reproduced. Close it.

[2019-12-17 10:40] #1600 closed

[2019-12-17 10:58] dengyangchao commented on #1619
Issue can't reproduce, close.

[2019-12-17 10:58] #1619 closed

[2019-12-17 11:05] bardliao commented on #1628
@juimonen Yes, it could be. Ideally, [alc_update_headset_mode()](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/patch_realtek.c#L4986) will be triggered when a jack is plugged or unplugged, and it will get and report the jack type.

[2019-12-17 14:34] singalsu commented on #1463
@dengyangchao Could you test if SOF PR https://github.com/thesofproject/sof/pull/2109 helps with this issue. The PR is for capture but the part of PR that forces volume component to start with ramp from mute even if the driver does not request it should impact this issue as well.

[2019-12-17 15:07] plbossart commented on #1604
@macchian why are you referring to 44.1 kHz? we don't support this frequency on the interface. Or are you referring to 44.100 MHz as an internal clock frequency?
very hard to figure out what you observed, can you please be more specific?

[2019-12-17 15:10] lgirdwood commented on #1807
@omg any updateon your BIOS/Linux installation. Are you able to test ?

[2019-12-17 17:00] ranj063 commented on #1604
@aiChaoSONG This looks like it may be a pause/release xrun. Its different and most likely a FW issue. Can you please file a new issue?

[2019-12-18 01:35] YvonneYang2 commented on #1602
Issue cannot be reproduced with latest integration/soundwire-latest( cf2660a ) and cml-010-drop-stable (5e5f69e). Close it.

[2019-12-18 01:35] #1602 closed

[2019-12-18 02:03] aiChaoSONG commented on #1604
@ranj063 see here https://github.com/thesofproject/sof/issues/2224

[2019-12-18 02:23] YvonneYang2 commented on #1626
Issue cannot be reproduced with latest integration/soundwire-latest (e6392c0) and cml-010-drop-stable
(5e5f69e) , close it.

[2019-12-18 02:23] #1626 closed

[2019-12-18 02:52] sinahuang commented on #1622
With “options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1”, verified this issue on CML-H Laptop with soundwire-latest , issue can't be reproduced, so closed it.

**Test recipe**

Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: e6392c0
FW: https://github.com/thesofproject/sof/commits/cml-010-drop-stable commit: 5e5f69e
Tplg: Same with FW branch,  sof-

[2019-12-18 02:52] #1622 closed

[2019-12-18 04:41] sinahuang opened #1637 "[BUG][SDW][CML]"SDW_SCP_INTMASK1 write failed:-61" occurred in multi-pipelines stress test."
**Describe the bug**
With “options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8”, "SDW_SCP_INTMASK1 write failed:-61" occurred when run multipipeline stress test. Test for 500 times issue occured at 190th/191th time.

Note: Function cannot be effected when issue occurred.

**To Reproduce**
1.Boot up system.
2.Run "./multiplex_pipeline-test.sh pcm0p pcm2p pcm3p pcm5p pcm7p pcm1c pcm4c".

**Re

[2019-12-18 04:48] sinahuang commented on #1637
This issue maybe related to #1597

[2019-12-18 05:31] cooper-chiou commented on #1444
Patch "ALSA: hda: Add Cometlake-S PCI ID" has been added to 5.3-stable tree, please find the following commit id, then I think we can close this sighting when confirmed by issue submitter @prestige-wang .

    [ Upstream commit b73a58549ea37a44434c7afab3c7ad9af210cfd9 ]
    Link: https://lore.kernel.org/r/20191108071349.12840-1-cooper.chiou@intel.com

[2019-12-18 05:36] aiChaoSONG commented on #1634
after 1st round removal & insertion, it will take about 5s for dsp to suspend, and sometimes even longer. but sleep time in current script is 7s. inscrease the sleep time to 15s after insertion, issue not reproduced. it's not a kernel bug

[2019-12-18 05:36] #1634 closed

[2019-12-18 05:46] ClarexZhou commented on #1628
@bardliao @juimonen
MIC Jack is only work  when HDA Analog playback/capture is using, eg. aplay/ arecord via Dhw:0,0.
MIC jack isn't work if using other pipeline or just active rumtime PM status.

[2019-12-18 06:13] ClarexZhou commented on #1628
Check with sudo evtest:
No MIC event when error occurred. Details as below:

Error seen on SOF:
[code]
Error not seen on Legacy HDA:
[code]

[2019-12-18 06:36] bardliao commented on #1628
@ClarexZhou Could you do the following change and check dmesg when you plug a headset?
Please check it when MIC Jack is detected **and** not detected.
[code]
Thanks

[2019-12-18 06:38] juimonen commented on #1628
@bardliao I tried yesterday to add prints to this function and it was never called at least according to my logs...

[2019-12-18 07:02] ClarexZhou commented on #1629
@juimonen  MIC detection can work when HDA analog is in use.
So could you please try to separate headset and headphone in UCM first, and don't wait #1628?

[2019-12-18 07:55] juimonen commented on #1629
@ClarexZhou hmm I still don't understand what you mean...? With current UCM, at least for my X1, headset mic only appears if you plugin headset, it doesn't appear if you plugin headphones. And you have to play something all the time for the detection to work.

So what functionality do you want exactly?

[2019-12-18 07:55] ClarexZhou commented on #1628
Logs as below:
[kern.log.txt](https://github.com/thesofproject/linux/files/3977258/kern.log.txt)

<details>
<summary>plug in headset from idle</summary>

[code]

</details>

<details>
<summary>Plug in headset during HDA analog aplay</summary>

[code]

[2019-12-18 08:01] bardliao commented on #1628
@ClarexZhou @juimonen It is interesting. Maybe I was wrong. @kailangyang Any idea?

[2019-12-18 08:07] ClarexZhou commented on #1629
@juimonen ,
headset mic only appears if you plugin headset, it doesn't appear if you plugin headphones
This is the exactly what i wanted.

But headpset mic still apprears if i plugin headset into my X1.
UCM: https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ commit 463ea8f1.

[2019-12-18 08:11] juimonen commented on #1629
@ClarexZhou oh there's 1 commit more in the repo, so move to that ucm.

[2019-12-18 09:24] YvonneYang2 opened #1638 "[BUG][CML]Occurred "Clock Stop prepare failed for slave: -61" during suspend/resume stress test."
**Describe the bug**
Occurred "rt1308 sdw:1:25d:1308:0: Clock Stop prepare failed for slave: -61" during suspend/resume stress test.  When issue occurred, aplay0,2(RT1308) cannot work.

 Issue cannot be reproduced with option 0x8.

**To Reproduce**
1. Boot up with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x0
2. Run command "sudo ./stress-s3.sh 300 1 0"
3. Check logs after stress test

[2019-12-18 09:31] ClarexZhou commented on #1629
Error not seen on UCM: https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/  commit 948cfcc8. Close.

[2019-12-18 09:31] #1629 closed

[2019-12-18 10:37] kv2019i opened #1639 "Support 4 HDMI CVTs in generic HDA machine driver"
Add support for 4 HDMI CVTs to the generic HDA machine driver.

This allows to play audio to four different HDMI/DP receivers at the same time (e.g. one display attached to HDMI and a three monitor DP-MST hub connected to USB-C/DP, system with four separate physical connectors, or some combination).

Similar patch is needed as was done for e.g. sof_rt5682 already with:
ASoC: intel: sof_rt5682: Add

[2019-12-18 14:01] lyakh commented on #1023
Update: an updated version of Linux patches has been pushed today. Among multiple improvements it removes changes to bxt_pcm512x.c which also requires removing respective changes from the firmware. Therefore I'm attaching a new archive to this update. Otherwise firmware changes can also be tracked on https://github.com/lyakh/sof/tree/virtio-wip but the branch lacks an additional uncommitted diff,

[2019-12-19 00:36] plbossart commented on #1494
@YvonneYang2 can you retry with integration/soundwire-latest 121c7512e56b9f4e01c71d772d5436b8adda555e

I added a set of traces to figure out what the -22 (-EINVAL) return value might come from.

[2019-12-19 00:51] plbossart commented on #1637
@RanderWang @bardliao can you take a look at the log, I find some very odd things

[code]

and when we restart the clock we have issues

[code]

This looks like a case where the clock is not properly stopped?

[2019-12-19 01:17] plbossart commented on #1638
@RanderWang @bardliao can you take a look at the log?

It seems we have an initial error
[code]
which happens during a clock-stop sequence

the bad sequence seems to be
a) pm_runtime suspend with clock stopped
b) system suspend
c) system resume
d) pm_runtime_suspend -> failed clock stop.

There is probably a bad state defined in b), maybe the glue logic is not reset properly.

[2019-12-19 01:19] plbossart commented on #1399
@sinahuang can you please retest on CML and TGL with a more recent kernel version. Thanks!

[2019-12-19 01:57] bardliao commented on #1637
@plbossart My theory is somehow cdns.link_up is still true when the link is powered down. Every register will read as 0xffffffff when the link is powered down.  When any interrupt is triggered, we will check each link's irq status and we will get a lot of superfluous irq since we actually read registers when the link is off. I believe that the issue will be solved by
[code]
But what I am not clear

[2019-12-19 02:28] plbossart commented on #1637
@bardliao I wonder if the sequences are correct. Somehow we should probably enable the interrupts last, after the bus reset. And conversely when suspending we should disable the interrupts first.

[code]

The other mystery in in mode 0x0, why do we power down the link?

[code]

this is fine when we do the complete re-enumeration but I am not sure it's needed or even legit when the DSP remains powe

[2019-12-19 02:32] plbossart commented on #1637
[enable_interrupt.diff.txt](https://github.com/thesofproject/linux/files/3981468/enable_interrupt.diff.txt)

[2019-12-19 02:43] plbossart commented on #1637
@bardliao @RanderWang we could also harden the interrupts.

a) when we restart the clock, we could read MCP_SlaveIntStat0/MCP_SlaveIntStat1 and write1 to clear the bits. That would make sure we start from a clean state, and not from whatever was in the status before the clock was stopped (if the status is preserved)

b) the MCP_INSTAT register has reserved values in bits 30:17, so if we detect a o

[2019-12-19 02:49] Liviali155 commented on #1561
Closed,because PR #[2171 ](https://github.com/thesofproject/sof/pull/2171)merged

[2019-12-19 02:49] #1561 closed

[2019-12-19 03:14] plbossart commented on #1637
@bardliao @sinahuang @RanderWang can you try this https://github.com/thesofproject/linux/pull/1640

Completely untested on my side, just ideas to try and make progress

[2019-12-19 03:16] Liviali155 commented on #1463
Tried with thesofproject/sof#2109,error not seen on below platforms:
APL UP2 with codec PCM512X in I2S mode
GLK Chrome with onboard codec DA7219 in I2S mode

<img width="960" alt="Capture" src="https://user-images.githubusercontent.com/56707932/71141994-f0266e80-2250-11ea-8070-1287f75419d2.PNG">

<img width="951" alt="Capture1" src="https://user-images.githubusercontent.com/56707932/71141971-db49d

[2019-12-19 05:32] YvonneYang2 commented on #1494
Issue can be reproduced with option 0x0, run 300 times, failed at 287th time.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 121c751
FW: https://github.com/thesofproject/sof/commits/cml-010-drop-stable commit: 5e5f69e
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platform: CML-U Laptop with codec ALC711, RT1308, RT715 in SDW mode

[2019-12-19 06:25] bardliao commented on #1637
@plbossart Sorry, but I think we can't invert the sequence between enable interrupt and clock stop. sdw_slave_clk_stop_callback() will be triggered on the clock stop process, and interrupt is needed for transmission.

[2019-12-19 08:31] sinahuang opened #1641 "[TGL][BUG][SDW]Modules can't be loaded up successfully when rebooting system via "sudo reboot" command."
**Describe the bug**
"no soundcards found" shows when running "aplay -l" command after rebooting system via "sudo reboot" command.

**To Reproduce**
1.Boot up system
2.Run "aplay -l";

**Reproduce rate**
5/5

**Expected result**
Modules should be loaded up successfully after rebooting system.

**Actual result**
Modules can't be loaded up successfully when rebooting system via "sudo reboot" command

[2019-12-19 08:43] sinahuang commented on #1641
Issue cannot be reproduced after add https://github.com/thesofproject/linux/commit/7fde47549cb1b305c4578d2b535b55b87905937d  and
https://github.com/thesofproject/linux/commit/ac42b142cd7652b3c9740cf81b8d8a3965e7a1e3 patch with soundwire-latest(commit:121c751)

[2019-12-19 09:27] YvonneYang2 commented on #1638
Tested it 600 times with latest integration/soundwire-latest(121c751), issue cannot be reproduced. Will keep monitor it.

[2019-12-19 09:40] YvonneYang2 commented on #1637
Issue can be reproduced on CML-U sdw laptop with latest soundwire-latest(121c751) during suspend/resume with aplay0,6 stress test. Run 300 times, failed at 150th time.

[s3_test_150_logger_all.log](https://github.com/thesofproject/linux/files/3982775/s3_test_150_logger_all.log)
[test_150.log](https://github.com/thesofproject/linux/files/3982776/test_150.log)

[2019-12-19 10:15] RanderWang commented on #1638
@plbossart  Bard discussed with me, and we got an idea.
at c), 1308 was set dev num correctly, so b) should be ok.
slave was in clock stop mode in b) and bus was reset at c) but we didn't clear clock stop status in slave.  Maybe slave was out of order for  uncleared clock stop status, then it sent unattached event at d).  Maybe we need to check and clear slave status after bus reset.

[2019-12-19 11:20] sinahuang commented on #1637
Verified this issue with soundwire-latest(commit: 121c751 +PR #1640) on CML-H, "IO transfer timed out" occured, failed at 1st time.
<details>
 <summary>dmesg</summary>

[code]
</details>

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 121c751 +PR #1640
FW: https://github.com/thesofproject/sof/commits/cml-010-drop-stable commit: 5e5f69e
Tplg

[2019-12-19 11:32] kv2019i opened #1642 "failed to get afg sub nodes on ChromeOS devices"
Multiple sightings have been reported of failure to probe the HDMI codec in i915 at boot, specifically on ChromeOS devices and a recent 5.4/5.5 kernel.

Error logs:
[   79.756783] snd_hda_codec_hdmi ehdaudio0D2: HDMI: failed to get afg sub nodes
[   79.756800] snd_hda_codec_hdmi ehdaudio0D2: patch failed -22
[   79.756862] snd_hda_codec_hdmi ehdaudio0D2: ASoC: failed to probe
component -22
[   79.

[2019-12-19 11:33] kv2019i commented on #1642
FYI @yongzhi1 and @cujomalainey
I've still not been able to reproduce this myself on any device (including a GLK device running ChromeOS, but will continue to try ith this one). As it seems we have to gather sightings and data from a larger set of devices, filing a bug for tracking.

[2019-12-19 16:48] plbossart commented on #1638
we do clear the status before bus reset, so when the bus restarts it should appear as ATTACHED. if it loses sync then there is something wrong...

[2019-12-19 16:52] plbossart commented on #1494
Thanks @YvonneYang2 the traces do show what happens:

[code]

something is clearly wrong, we should not be using port 0, so there's bad code somewhere...

[2019-12-19 16:57] juimonen commented on #1628
@plbossart @keyonjie any idea about this? When we go to sof suspend/resume cycle the Mic Jack events stop coming. You don't see them even with evtest (and choosing to listen for Mic). I tried to browse through hda jack event code, but couldn't find anything obvious, and have to say it was pretty complicated. An with legacy driver this doesn't happen...

[2019-12-19 17:02] juimonen commented on #1628
and if I'm playing something (so we don't suspend/resume) those event's are coming. So during playback I get 2 unsol_events (1 for headphone, 1 for mic), when not playing anything and we go to suspend get 1 unsol_event (Headphone) when sof and hda wakeup.

[2019-12-20 01:31] sinahuang commented on #1399
Check this issue on TGL-RVP with soundwire-latest, test for 1000 times original issue cannot be reproduced, so closed it.
**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 121c751
FW: https://github.com/thesofproject/sof/commits/master commit: f587993
Tplg: Same with TGL FW branch : sof-tgl-rt711-rt1308.tplg
Platform:TGL-U RVP with codec ALC71

[2019-12-20 01:31] #1399 closed

[2019-12-20 01:40] YvonneYang2 commented on #1638
Ran it 1000 times again, issue was reproduced at 121st time.

[test_121.log](https://github.com/thesofproject/linux/files/3986299/test_121.log)

[2019-12-20 02:17] plbossart commented on #1494
I can reproduce this error on a CML laptop with a single amp with https://github.com/thesofproject/linux/pull/1640 73faa6b7a08d5bec342f49c49ac24c2a32d3d2db

with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8

this happens at the 3rd stress test so quite easy to see

[2019-12-20 02:45] RanderWang commented on #1637
yes, we need interrupt to do clock stop setting

[2019-12-20 03:07] sinahuang opened #1643 "[TGL][SDW][BUG]HDMI status can't be updated in sound setting when unplug/plug in HDMI cable."
**Describe the bug**
The HDMI status can't display in the sound setting, but HDMI's status in amixer contents can be updated during unplug/plug in HDMI cable.

UCM:
[sof-rt711-rt1308.zip](https://github.com/thesofproject/linux/files/3986498/sof-rt711-rt1308.zip)

**To Reproduce**
1.Boot up system.
2.Open sound setting
3.Unplug/Plug in HDMI cable

**Reproduce rate**
5/5

**Expected result**
HDMI st

[2019-12-20 04:04] sinahuang commented on #1494
With options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8, issue still can be reproduced on TGL-U.

Run 500 times, failed at 6th time.

Dmesg:

[code]

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 121c751
FW: https://github.com/thesofproject/sof/commits/master commit: f587993
Tplg: Same with TGL FW branch : sof-tgl-rt711-rt1308.tplg

[2019-12-20 04:19] sinahuang commented on #1556
Check this issue on TGL-U RVP with soudwire-latest (commit: 121c751), test for 500 times issue cannot be produced, so closed it.

[2019-12-20 04:19] #1556 closed

[2019-12-20 07:49] YvonneYang2 commented on #1587
Tested it 500 times, issue cannot be reproduced with latest soundwire-latest(121c751) and cml-010-drop-stable (5e5f69e). Close it.

[2019-12-20 07:49] #1587 closed

[2019-12-20 08:35] sinahuang commented on #1463
Verified this issue with thesofproject/sof#2109 on below platform, issue can not be reproduced.
TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode
CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode

[2019-12-21 17:25] singingtelegram opened #1658 "[BUG] Audio device not recognized on HP Omen 17"
**Describe the bug**
No audio device (except dummy device) available.

**To Reproduce**
Upgrade to 5.4 kernel. / Attempt to make DMIC available under Linux by blacklisting snd_hda_intel and switching to SOF (kernel bug #201251).

**Reproduction Rate**
10/10

**Expected behavior**
SOF firmware is loaded and the audio device is detected.

**Impact**
Unable to output audio.

**Environment**
Platform:

[2019-12-23 02:23] RanderWang commented on #1638
sorry, I mean to clear clock stop status in systemctrl register in slave
we clear it for intel_resume_runtime, but if intel_resume is called after intel_suspend_runtime is called, we don't clear the status and just reset bus.

[2019-12-23 08:18] bardliao commented on #1494
I suspect that the issue is somehow sdw_program_slave_port_params() is called between sdw_port_alloc() and sdw_compute_slave_ports(). @sinahuang @YvonneYang2 Could you apply
[0001-TEST-soundwire-add-trace-for-invalid-port-number.patch.txt](https://github.com/thesofproject/linux/files/3994140/0001-TEST-soundwire-add-trace-for-invalid-port-number.patch.txt) and test it?

[2019-12-23 09:20] sinahuang commented on #1637
Verified this issue on CML-H Laptop with soundwire-latest(commit:121c751)+commit：https://github.com/thesofproject/linux/pull/1640/commits/9cdb11492927ca5924a14ee61cbfa8e5be299425, test for 500 times, issue cannot be reproduced.

**Test recipe**

Kernel:https://github.com/plbossart/sound/tree/fix/soundwire-latest-v6  commit:121c751 +commit:https://github.com/thesofproject/linux/pull/1640/commits/9c

[2019-12-23 10:58] lgirdwood commented on #1658
@mengdonglin this looks like we have some kconfig? misconfiguration of graphics since i915 init is failing. Can someone in PRC check this. Thanks

[2019-12-23 11:23] jason77-wang opened #1648 "sof-v5.0: sof introduced hang on a Dell CML-U laptop when performing 30-cycle-reboot/poweroff or 30-cycle-suspend/resume"
With the legacy hda driver, doesn't have this issue.
(To blacklist sof driver and unblacklist legacy hda driver: add "options snd-hda-intel dmic_detect=0" in the /etc/modprobe.d/alsa-base.conf, then reboot)

With the sof driver, we could reproduce this issue within 30 cycles.

To reproduce it:
pm_test reboot -r 30

The log when issues happen:

Dec 23 14:31:44 dell-Inspiron-13-5300 kernel: [    7.4

[2019-12-24 01:52] aiChaoSONG commented on #1569
close for  fixed by https://github.com/thesofproject/linux/pull/1565

[2019-12-24 01:52] #1569 closed

[2019-12-24 03:32] macchian commented on #1604
@plbossart , I checked the PCM hw_params sample rate is fixed at 48KHz indeed when alsa record with 44.1KHz as you pointed out. However the strange thing is the noise only be observed in 1/5 failure rate when alsa record with 44.1KHz. Non reproducible with 48KHz.

I asked Realtek to do an experiment by codec loopback internally and requested the loopback script for our testing. Will update the tes

[2019-12-24 06:20] sinahuang commented on #1494
Checked this issue on TGL-U RVP and CML-U Laptop after applying [0001-TEST-soundwire-add-trace-for-invalid-port-number.patch.txt](https://github.com/thesofproject/linux/files/3994140/0001-TEST-soundwire-add-trace-for-invalid-port-number.patch.txt) in soudnwire-latest(commit:121c751), issue still can be reproduced.

Verified with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8 on TGL-U R

[2019-12-24 06:30] bardliao commented on #1494
Thanks @sinahuang the trace do show  sdw_program_slave_port_params() is called between sdw_port_alloc() and sdw_compute_slave_ports().
[code]

[2019-12-24 09:02] RanderWang commented on #1637
@sinahuang can you test it tonight with 2000 times ? thanks!

[2019-12-25 02:52] sinahuang commented on #1637
Check this issue on CML-H Laptop with soundwire-latest(commit:121c751)+commit：https://github.com/thesofproject/linux/commit/9cdb11492927ca5924a14ee61cbfa8e5be299425, test for 2000 times, original issue cannot be reproduced.

But at 1676th/1677th/1678th/1679th occured " rt715 sdw:3:25d:715:0: Clock Stop prepare failed for slave: -61", then occured "intel-sdw sdw-master-3: SDW_SCP_INTMASK1 write fai

[2019-12-25 03:04] mengdonglin commented on #1472
To be fixed by PR https://github.com/thesofproject/linux/pull/1631 by Ranjani

[2019-12-25 04:26] YvonneYang2 commented on #1472
Tested it with latest topic/sof-dev(7fde475) + #1631 , issue cannot be reproduced on CML laptop with HDA ALC3204.

[2019-12-25 08:18] dengyangchao commented on #1472
Tested it with latest topic/sof-dev(7fde475) + #1631 , issue cannot be reproduced on
CML Chrome with I2S RT5682
GLK Chrome with I2S  DA7219

[2019-12-25 08:19] sinahuang commented on #1472
Check this issue with latest sof-dev(7fde475) + #1631 on TGL-U RVP with codec ALC711 in HDA mode, issue can't be reproduced.

[2019-12-25 09:27] RanderWang commented on #1637
@sina

@sinahuang   can you help to test it again ? soundwire-latest(commit: [121c751](https://github.com/thesofproject/linux/commit/121c7512e56b9f4e01c71d772d5436b8adda555e) +PR #1640)

[2019-12-25 10:27] Liviali155 opened #1651 "[BUG] [TGL]HDMI/DP aplay failed and can not be released after wake up from s2idle"
**Describe the bug**
HDMI aplay failed and can not be released after wake up from s2idle
Error not seen when doing  HDMI aplay after "Suspeand & Resume with playback_HDMI"

Wait about 10min,HDMI aplay successfully and can be released with “ctrl+c”，but aplay again, it
still failed and can not be released, Only unplug/plugin  power supply to reboot can recover

**To Reproduce**
1.sudo reboot
2."sudo

[2019-12-25 10:57] YvonneYang2 commented on #1638
Tested it 2000 times with latest integration/soundwire-latest + 9cdb114, issue cannot be reproduced.

[2019-12-25 11:00] sinahuang opened #1652 "[BUG][SDW][TGL][UCM]"Dummy output" display in sound setting when power on with HDMI connected."
**Describe the bug**
"Dummy output" display in sound setting when power on with HDMI connected, check "amixer contents" the HDMI status is on. Aplay HDMI is ok.

**To Reproduce**
1.Boot up system with HDMI connected.
2.Check the sound setting.

**Reproduce rate**
5/5

**Expected result**
System should display output source normally in sound setting.

**Actual result**
"Dummy output" display in sou

[2019-12-26 02:09] sinahuang commented on #1637
With “options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8”, verified this issue with soundwire-latest(commit: 121c751 +PR #1640) on CML-H, "rt715 sdw:3:25d:715:0: DPN_PortCtrl register write failed for port 4" occured.

1st tried, Failed at 8th time.
[failed_multipipeline_test_8_all_logger.log](https://github.com/thesofproject/linux/files/4001109/failed_multipipeline_test_8_all_logger.log)

[2019-12-26 02:30] sinahuang commented on #1643
Issue can't be reproduced after using latest UCM: https://github.com/RanderWang/intel-UCM/tree/tgl_hdmi, so closed it.

[2019-12-26 02:31] #1643 closed

[2019-12-26 03:04] sinahuang opened #1653 "[BUG][TGL][SDW][UCM] Headset status can't be updated in sound setting when unplug/plug in headset."
**Describe the bug**
With sound setting opened, headset status in sound setting and amixer contents can't be updated.
Closed and reopened sound settings can recover it.

**To Reproduce**
1.Boot up system.
2.Open sound setting.
3.Unplug and plug in headset .
4.Check headset status in sound setting and 'Headphone Jack' and 'Headset Mic Jack' status in amixer contents.

**Reproduce rate**
5/5

**Expe

[2019-12-26 04:48] xiulipan commented on #1472
@Bin-QA Please help to check if our test scripts can identify such issue.
@ranj063 @keyonjie If we have retry logic here, maybe we can change the logs into warning instead of error?

[2019-12-26 05:07] Bin-QA commented on #1472
I think this PR can identify the issue like this: https://github.com/thesofproject/sof-test/pull/16

[2019-12-26 05:44] #1444 closed

[2019-12-26 07:58] sinahuang opened #1655 "[BUG][TGL][SDW]Dmesg warning show "ASoC: can't open codec intel-hdmi-hifi2: -16" when power on with HDMI connected."
**Describe the bug**
Dmesg show "ASoC: can't open codec intel-hdmi-hifi2: -16" when boot up system with HDMI connected, but not effect aplay HDMI.

**To Reproduce**
1.Boot up with HDMI connected.
2.Check dmesg .

**Reproduce rate**
5/5

**Expected result**
Aplay HDMI/DP successfully, no error.

**Actual result**
"ASoC: can't open codec intel-hdmi-hifi2: -16" occured when boot up system with HDMI c

[2019-12-26 07:59] sinahuang commented on #1655
This issue may relate to https://github.com/thesofproject/linux/issues/1537

[2019-12-26 09:19] ClarexZhou commented on #1648
This hang seems reproduced during system power off.  Reproduce rate: 2/160
[kern.txt](https://github.com/thesofproject/linux/files/4002094/kern.txt)
Hang at the 2nd from the end.
![image](https://user-images.githubusercontent.com/49641224/71468990-c9dd7180-2802-11ea-8262-fffb58fadf8a.png)

[code]

[2019-12-27 01:43] sinahuang commented on #1655
This issue might be related to issue #1652, because  if I reboot successfully without HDMI connected then plug in HDMI to aplay HDMI , error can't be reproduced.

[2019-12-27 01:56] RanderWang commented on #1638
thanks @YvonneYang2 .  I also did the test a few times and found no problem.

[2019-12-27 03:09] RanderWang commented on #1637
The key message in kernel log is:
[code]

[2019-12-27 03:10] RanderWang commented on #1637
please also apply this PR: https://github.com/thesofproject/linux/pull/1654 for multi-pipeline test

[2019-12-27 03:11] Liviali155 commented on #1651
Issue can also be reproduced when aplay HDMI after  Suspend & Resume with analog playback, so I will change the title:delete(entered from idle)
1.sudo reboot
2.Suspend & Resume with analog playback
3.Ctrl+c to stop analog playback
4.aplay -Dhw:0,3 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i

[2019-12-27 03:27] Liviali155 commented on #1651
Error not seen in deep mode

[2019-12-27 09:15] sinahuang commented on #1637
Some conflicts occured when I applied PR #1654 , so I applied it manually.

Verified this issue with soundwire-latest(commit: 121c751 +PR #1640+PR #1654) on CML-H, failed at 54th time, occured "Initialization not complete, timed out"  then occured "DPN_PortCtrl register write failed for port 4". This issue might be related to issue #1600 .

[code]

[failed_multipipeline_test_54_all_logger.log](htt

[2019-12-30 01:43] YvonneYang2 commented on #1638
Tested it 1000 times, issue cannot be reproduced with latest integration-soundwire-latest(https://github.com/thesofproject/linux/commit/121c7512e56b9f4e01c71d772d5436b8adda555e) + #1640 .

[2019-12-30 01:49] YvonneYang2 commented on #1637
Tested it 1000 times on CML-U laptop, issue cannot be reproduced with same kernel and FW.

[2019-12-30 02:09] dengyangchao commented on #1655
Issue can't be reproduced on below platforms:
ICL-U RVP with onboard codec  ALC700 in HDA mode
TGL-U RVP with onboard codec ALC711 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
APL UP2 with codec PCM512 in I2S mode

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev 7fde4754
FW: https://github.com/thesofproject/sof/commits/master commit: 9bae27f

[2019-12-30 03:14] YvonneYang2 commented on #1494
Tested it 1000 times, issue cannot be reproduced with latest integration/soundwire-latest(https://github.com/thesofproject/linux/commit/121c7512e56b9f4e01c71d772d5436b8adda555e) + #1640 + #1654

[2019-12-30 06:32] Liviali155 commented on #1651
Tried with PR #1631 ,issue can also be reproduced

[2019-12-30 07:45] keyonjie commented on #1651
We are still missing PMC support for TGL with mainline kernel.

[2019-12-30 08:16] keyonjie commented on #1651
So I would say Power Management support on TGL with mainline kernel is not mature yet.

[2019-12-30 09:50] Liviali155 opened #1657 "[BUG][APL-PCM512x]ABI mismatch and aplay -l dispaly no soundcard on mainline kernel"
**Describe the bug**
ABI mismatch and aplay -l dispaly no soundcard on mainline kernel

**To Reproduce**
1.install  kernel(Sound for next)  +firmware  (master)
2.sudo reboot
3.aplay -l

**Reproduction Rate**
10/10

**Expected behavior**
"aplay -l" can display PLAYBACK Hardware Devices

**Actual result**
"aplay -l " display no soundcards

[code]

[code]
[dmesg1230.log](https://github.com/thesofproj

[2019-12-30 15:15] kv2019i commented on #1642
@yongzhi1 and @cujomalainey -- I've now reproduced the issue on a GLK Chromebook using a kernel module load-unload stress test.

Flow-wise there is nothing wrong in the sequence, but I did notice a slight difference between legacy-HDA and SOF drivers. If I add an extra GET_PARAMETERS HDA verb to the SOF flow (right after power-up) to imitate what happens with legacy HDA driver, the errors are gone

[2019-12-31 06:11] RanderWang commented on #1637
This issue can only be reproduced on one CML-H,  and just with one pipeline on 711 or 715

[2019-12-31 06:36] RanderWang commented on #1637
I tested on this CML-H,   codec will die if bus is reset about 20 times. And there is no such issue on another CML-H. We need more CML-H to validate this issue. If quirk = 0, this CML-H never hang with this test.

[2020-01-02 20:08] plbossart commented on #1658
@lgirdwood @kv2019i this looks like a larger problem: if the intel graphics is not enabled, then all the logic in the machine driver to use iDISP links will fail, and so will the UCM parts...That really means we need to enable the case when iDISP is not present

We don't have such a device in our development set so no wonder it wasn't seen earlier...

[2020-01-03 15:35] kv2019i commented on #1642
I uploaded a potential bugfix at:
https://github.com/kv2019i/linux/commit/4685d86b63370d86b169e8c96ede4b98c0bdd788
https://github.com/kv2019i/linux/tree/topic/cras/l5.4-glk-hdmi-afg-fix

[2020-01-06 05:57] mengdonglin commented on #1095
The fixes are merged by upstream:
ASoC: SOF: Intel: hda: Make hdac_device device-managed
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/sound/pci/hda/hda_codec.c?h=for-next&id=ef9bec27485fefb6b93168fea73fda0dc9638046

ASoC: hdac_hda: fix page fault issue by removing race
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/sound/soc/codecs/hdac_hda.c?h

[2020-01-06 07:55] mengdonglin commented on #1564
Depend on the new feature of synchronized playbackm https://github.com/thesofproject/linux/pull/1644 is to address the feature in driver and WIP

[2020-01-06 09:21] paulstelian97 commented on #1657
I'm surprised the topology isn't even trying to load (strict ABI check is enabled in KConfig?). If it's enabled, can you disable it? (the mismatch is important though, but I think it's also important to know if something else is broken as well)

[2020-01-06 09:47] YvonneYang2 opened #1660 "[BUG][SDW][0x8]"rt715 sdw:3:25d:715:0: Initialization not complete, timed out" occurred during multipipline stress test"
**Describe the bug**
Split this issue from #1637 , on options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x8,
"rt715 sdw:3:25d:715:0: Initialization not complete, timed out" occurred when do multipipline stress test with kernel as below:

**Kernel 1.** Latest integration/soundwire-latest branch(121c751) + #1640
**Kernel 2.** Latest https://github.com/plbossart/sound/tree/fix/soundwire-interrup

[2020-01-06 09:49] YvonneYang2 commented on #1637
Split ```rt715 sdw:3:25d:715:0: Initialization not complete, timed out``` issue to #1660

[2020-01-06 10:21] YvonneYang2 commented on #1660
Tested it on CML-U and CML-H sdw laptop with latest soundwire-latest branch, issue cannot be reproduced. So it seems issue is only reproduced with #1640 or on  https://github.com/plbossart/sound/tree/fix/soundwire-interrupt-hardening (88d8c0d)

[2020-01-06 10:26] Liviali155 commented on #1657
Strict ABI is disabled  in kconfig,as below:
# CONFIG_SND_SOC_SOF_STRICT_ABI_CHECKS is not set

[2020-01-06 15:48] plbossart commented on #1660
Sorry @YvonneYang2 I don't really buy these results. It's not really possible that the fixes for interrupts add more problems...
Do you mind re-trying both plain vanilla soundwire-latest and 88d8c0d?

[2020-01-06 15:51] plbossart commented on #1657
I don't think it has anything to do with ABI proper but rather this:
[    5.953316] sof-audio-pci 0000:00:0e.0: warning: unknown ext header type 2 size 0x4d

[2020-01-06 17:20] lgirdwood commented on #1648
@mengdonglin @xiulipan not sure why this was not picked up by our CI ? Are we doing 30 tests for reboot ?

[2020-01-06 17:31] lgirdwood commented on #1658
@wenqingfu @mengdonglin fyi, there is need for testing HW without Intel graphics.

@plbossart @kv2019i I'm assuming here we don't depend on the i915 HW for the ASoC machine driver probe() initiation but for machine driver probe() completion or DAI binding?

[2020-01-06 17:54] plbossart commented on #1658
IIRC if the i915 interaction fails we stop the probe...

[2020-01-07 01:27] ClarexZhou commented on #1648
This issue isn't reproduced with our build kernel deb on release/sof-v5.0 (tried 400 times) and 5.5 upstream kernel (tried 200 times).
Error only occurred on the customer build ISO image which contains sof from release/sof-v5.0 (Reproduce rate: 2/160 on my device).

[2020-01-07 02:45] xiulipan commented on #1648
@lgirdwood reboot and suspend/resume will cause network failure, so the test is not covered for now. But we are trying to figure out solution to do these tests.

[2020-01-07 03:29] cujomalainey commented on #1642
Been trying to bisect this but failures go back pretty far. Your branch by itself is fine.

[2020-01-07 03:46] YvonneYang2 commented on #1638
On CML-H sdw laptop, with options **0x8**, issue can be reproduced on latest soundwire-latest (https://github.com/thesofproject/linux/commit/121c7512e56b9f4e01c71d772d5436b8adda555e) ,  retest it with soundwire-latest+PR #1640, issue can be blocked by issue #1660 .

[multipipeline_test_299_dmesg.log](https://github.com/thesofproject/linux/files/4028814/multipipeline_test_299_dmesg.log)
[multipipel

[2020-01-07 05:28] RanderWang commented on #1660
please check https://github.com/thesofproject/linux/pull/1640#discussion_r363593191. Can you test https://github.com/thesofproject/linux/commit/88d8c0db8595fd3349e50e831a39d81a0a249d55 only ?

[2020-01-07 09:31] YvonneYang2 commented on #1660
@plbossart
Double checked it 1000 times with both plain vanilla soundwire-latest and 88d8c0d , issue cannot be reproduced.
Current issue #1660 only occurred with PR#1640.

[2020-01-07 15:29] lbetlej commented on #2434
@ranj063 I'll get back to you once SW/FW programming sequence is finalized for scenarios that require HP Ring Oscillator (400 MHz) clock. Could you confirm current implementation in the driver for initial boot:
1. Set SPA(0..PLATFORM_CORE_COUNT) bit
2. Wait for CPA (0..PLATFORM_CORE_COUNT) bit
3. Wait for FW ready
4. SPA is not set to 0 for cores (1..PLATFORM_CORE_COUNT) -> all cores are up ?

[2020-01-07 15:56] lgirdwood commented on #1648
@jason77-wang can you update with new version from @ClarexZhou.

[2020-01-08 02:24] mengdonglin commented on #1648
Close this issue since it can no longer be reproduced by Canonical.

[2020-01-08 02:24] #1648 closed

[2020-01-08 03:02] sinahuang commented on #1641
Issue can't be reproduced after commit https://github.com/thesofproject/linux/commit/7fde47549cb1b305c4578d2b535b55b87905937d  and
https://github.com/thesofproject/linux/commit/ac42b142cd7652b3c9740cf81b8d8a3965e7a1e3 merged into soudwire-latest.

[2020-01-08 03:02] #1641 closed

[2020-01-08 05:25] xiulipan commented on #1657
@plbossart @paulstelian97 key point here is that we do not have bxt_pcm512x machine driver in mainline kernel.
Do we plan to upstream it?

[2020-01-08 08:10] YvonneYang2 commented on #1660
Close the issue since PR1640 is closed and replaced by #1665 . Checked it with soundwire-latest + #1665  , issue cannot be reproduced.

[2020-01-08 08:10] #1660 closed

[2020-01-08 08:21] kv2019i commented on #1651
@keyonjie It's a bit odd though that aplay works once after resume, but only then hangs. If the rootcause is gaps in PMC support, I'd assume playback to immediately fail after. OTOH, log has errors from other drivers that do inditate issues with resuming, so indeed this looks like most plausible explanation. Tagging with P2 in any case as this is rather severe case.

[2020-01-08 08:27] YvonneYang2 commented on #1494
Tested it 1000 times on CML-U sdw laptop DVT2,  issue cannot be reproduced with latest integration/soundwire-latest + #1665.

[2020-01-08 08:27] kv2019i commented on #1658
@plbossart @lgirdwood This is a clear bug. We should support the IGP disabled case with the default machine driver, but with current code we don't as SOF DSP driver probe will fail if I915 init fail.
I'll make a fix to this.

[2020-01-08 08:48] kv2019i commented on #1510
Ack.This is an interesting case (tagging as bug) -- app is using PortAudio to talk to audio hardware and portaudio  uses OSS emulation (in this case) to talk to driver:
https://github.com/xournalpp/xournalpp/tree/master/src/util/audio/
... I think @plbossart you are spot on, there's some invalid config value that is supported at ALSA level but IPC will fail. Based on app logs, the setting in quest

[2020-01-08 10:06] ClarexZhou opened #1672 "[Bug] No SOF sound card for error 'ASoC: CODEC DAI intel-hdmi-hifi1 not registered' if NVidia audio probes earlier"
**Describe the bug**
Test Device has a nvidia GFX card and so has another sound card for NVidia HDMI audio outputs. The Nvidia sound card is created by legacy HD-Audio driver. Both sof and nvidia hdmi use snd-hda-codec-hdmi.

- Good scenario:　If SOF driver is probed earlier, everything is fine. Both SOF and NVidia sound cards can be created successfully and work well. NVidia supports audio output

[2020-01-08 10:39] YvonneYang2 commented on #1637
Checked it on CML-U sdw laptop, with latest integration/soundwire-latest + #1665 , issue cannot be reproduced after 1000 iterations of multipipline stress test or 500 iterations of suspend/resume with aplay stress test.

[2020-01-08 10:40] YvonneYang2 commented on #1638
Checked it on CML-U sdw laptop, with latest integration/soundwire-latest + #1665 , issue cannot be reproduced after 1000 iterations of multipipline stress test.

[2020-01-08 10:54] kv2019i commented on #1510
Hmm, @plbossart and @tokyovigilante -- it would seem this problem applies more generally to ALSA emulation OSS. I got the same error with multiple OSS apps with latest sof-dev on CFL/HDA, so I think you can hit this pretty much with any OSS app.

A simple test for example is this:
sh> mpg123 -o oss foobar.mp3

Fails to
main: [src/mpg123.c:818] error: ...in decoding next frame: Unable to set up out

[2020-01-08 11:41] kv2019i commented on #1510
Ok, rootcaused -- patch on its way.

[2020-01-08 13:26] singalsu commented on #1799
@wenqingfu Yes I can own this. The fix would be in ALSA, I need to discuss here with @kv2019i how it could go.

The definitions from USB audio class 3 look useful. Thanks @plbossart !

[2020-01-08 15:37] plbossart commented on #1672
@kv2019i seems another example where we have to avoid the dependency on Intel integrated graphics?

[2020-01-09 00:12] tokyovigilante commented on #1510
@kv2019i great news thanks! Sorry I haven't been able to give this any attention but much appreciated.

[2020-01-09 00:42] plbossart commented on #1653
Can you re-run this test with the latest integration/soundwire-latest.

Also please clarify if you have a problem on the playback side (headphone) or on the capture side (headset with mic).

[2020-01-09 00:43] plbossart commented on #1542
I can't even remember what this bug was, closing

[2020-01-09 00:43] #1542 closed

[2020-01-09 00:45] plbossart commented on #1417
closing, oops is not longer occurring and the ABI issue is 6+ months old now, need to move on

[2020-01-09 00:45] #1417 closed

[2020-01-09 00:46] plbossart commented on #1380
All features implemented, now we are in bug fix territory

[2020-01-09 00:47] #1380 closed

[2020-01-09 00:48] plbossart commented on #1122
this is no longer happening

[2020-01-09 00:48] #1122 closed

[2020-01-09 00:49] plbossart commented on #1113
Baytrail CR is now supported, issues are due to Pulseaudio/UCM, closing

[2020-01-09 00:49] #1113 closed

[2020-01-09 00:50] plbossart commented on #931
Broadwell works fine now, closing

[2020-01-09 00:50] #931 closed

[2020-01-09 00:51] plbossart commented on #660
@slawblauciak @keyonjie can we close this, it's been stale for 8 months now?

[2020-01-09 00:53] plbossart commented on #724
@keyonjie this has been filed 10 months ago, can we close, and what's the status if not?

[2020-01-09 00:54] #751 closed

[2020-01-09 00:57] plbossart opened #1675 "Firmware recovery"
We really need to have a watchdog-like mechanism where the host driver can detect the DSP is no longer responding and recover by reinitializing the hardware and notify apps.

[2020-01-09 00:58] plbossart commented on #87
we are not going to support DMA resume, so forking the firmware recovery as a separate issue https://github.com/thesofproject/linux/issues/1675

[2020-01-09 00:58] #87 closed

[2020-01-09 00:59] plbossart commented on #577
closing, already implemented

[2020-01-09 00:59] #577 closed

[2020-01-09 01:00] plbossart commented on #551
@ranj063 I am leaning on closing this request, there's no real motivation for retrying IPCs, is there?

[2020-01-09 01:01] plbossart commented on #594
@mengdonglin this looks complete, no? can we close?

[2020-01-09 01:02] #563 closed

[2020-01-09 01:12] keyonjie commented on #660
@plbossart I think so, as we already set NO_XRUN_RECOVERY in FW by default, and in driver CONFIG_SND_SOC_SOF_DEBUG_XRUN_STOP is not selected by default. Let me close it.

[2020-01-09 01:12] #660 closed

[2020-01-09 01:21] keyonjie commented on #724
@plbossart I believe the issue still exist, and nobody has been working on it for this recent half year.

[2020-01-09 01:34] sinahuang commented on #1637
Checked it on CML-H sdw laptop, with latest integration/soundwire-latest + #1665 , issue cannot be reproduced after 1000 iterations of multipipline stress test or 500 iterations of suspend/resume with aplay stress test.

[2020-01-09 01:34] keyonjie commented on #724
It should not be P1 as it is not so critical to anybody, I think it is only an enhancement now.

[2020-01-09 01:45] sinahuang commented on #1638
Checked it on CML-H sdw laptop, with latest integration/soundwire-latest + #1665 , issue cannot be reproduced after 1000 iterations of multipipline stress test or 500 iterations of suspend/resume with aplay stress test.

[2020-01-09 05:38] YvonneYang2 commented on #1637
Tested it on CML-U and CML-H sdw laptop,with latest integration/soundwire-latest(top commit:07348fa), issue cannot be reproduced after #1665 merged, so close it.

[2020-01-09 05:38] #1637 closed

[2020-01-09 05:39] YvonneYang2 commented on #1638
Tested it on CML-U and CML-H sdw laptop,with latest integration/soundwire-latest(top commit:07348fa), issue cannot be reproduced after #1665 merged, so close it.

[2020-01-09 05:39] #1638 closed

[2020-01-09 06:09] sinahuang commented on #1653
Test with the latest integration/soundwire-latest(commit:07348fa), issue still can be reproduced. But after issue happened aplay (headphone) or arecod(headset with mic) function is OK and the headset status in sound setting will update at once.

[2020-01-09 06:30] sinahuang commented on #1651
Issue also can be reproduce on TGL-U RVP with soundwire-latest (commit: 121c751) when aplay DP after wake up from s2idle.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 121c751
FW: https://github.com/thesofproject/sof/commits/master commit: f587993
Tplg: Same with TGL FW branch : sof-tgl-rt711-rt1308.tplg
Platform:TGL-U RVP with codec ALC7

[2020-01-09 06:54] sinahuang commented on #1494
Tested it 1000 times on CML-H/TGL-U sdw laptop with integration/soundwire-latest(commit:07348fa), issue cannot be reproduced, so closed it.

[2020-01-09 06:54] #1494 closed

[2020-01-09 07:06] sinahuang commented on #1514
This issue might be related to #1331

[2020-01-09 07:47] mengdonglin commented on #1672
It seems NV driver is robust. Canonical confirmed that NV sound card can always be created and its audio functionality is good . In their stress reboot test, NV and SOF probe in parallel.

[2020-01-09 09:08] kv2019i commented on #1672
@mengdonglin and @plbossart ~~It seems this is not really a problem with our i915 interaction, but rather our board files. The rootcause for this seems to be that we hardcode the codec name in all our board files, e.g. "ehdaudio0D2" in the DAILINK_COMP_ARRAY definition. If the NV driver is loaded first, our HDMI codec won't be "ehdaudio0D2" and probe will fail.~~
UPDATE: this is not really it, hda

[2020-01-09 09:37] lgirdwood commented on #1675
ACK. This can be first tied into the IPC timeout handler code. We already have a developer Kconfig option that prevents D3 upon FW crash (via IPC timeout) so would likely need the default action to be recover if this Kconfig option is not enabled.

[2020-01-09 09:38] lgirdwood commented on #551
@plbossart only motivation to retry is for any IPC that returns -EBUSY or -EAGAIN

[2020-01-09 09:43] YvonneYang2 opened #1678 "[CML][BUG]Occurred "rt715 sdw:3:25d:715:0: Clock Stop prepare failed for slave: -61" during suspend/resume with aplay0,5 stress test."
**Describe the bug**
Occurred "rt715 sdw:3:25d:715:0: Clock Stop prepare failed for slave: -61" during suspend/resume with aplay0,5 stress test. When issue occurred, arecord0,4(RT715) cannot work.

This issue seems same as https://github.com/thesofproject/linux/issues/1636, but issue cannot be reproduced in 500 iterations of suspend/resume without playback or with aplay0,0 playback stress test.

*

[2020-01-09 09:45] YvonneYang2 commented on #1678
Will check more times in suspend/resume with all kinds of pipline playback and without playback test.

[2020-01-09 11:32] kv2019i commented on #1672
@ClarexZhou Can you get logs from failing case using following recipe to load the module:

_as root, SOF not loaded_
sudo modprobe snd_soc_core
sudo bash -c "echo -n 'module snd_soc_core +p' >/sys/kernel/debug/dynamic_debug/control"
sudo bash -c "echo '1' > /sys/kernel/debug/tracing/events/asoc/enable"
sudo bash -c "echo '1' > /sys/kernel/debug/tracing/events/snd_pcm/enable"
sudo modprobe snd_sof_

[2020-01-09 13:22] lgirdwood commented on #724
@keyonjie we have a kconfig option now to prevent D3 entry on FW crash. i.e. all memories are preserved.

[2020-01-09 13:51] kv2019i commented on #1672
@ClarexZhou Potential fix is here. Can you try verifying with this:
https://github.com/thesofproject/linux/pull/1679
 (if any issues, take the logs with above recipe with additional logs)

[2020-01-09 14:20] lgirdwood commented on #594
@mengdonglin can you tag this to a milestone.

[2020-01-09 15:20] plbossart commented on #1678
This looks like a case where the RT715 becomes UNATTACHED during the clock stop sequence. Not sure how this can happen, but it's really tricky to debug

[2020-01-09 15:59] plbossart commented on #1675
Right, this can work as a kernel-side detection only.

But I was thinking here of an explicit watchdog or something that shows a sign of activity on the firmware side.

[2020-01-09 16:00] plbossart commented on #551
and do we have any? if yes, we have a real gap in our solution then.

[2020-01-09 19:52] plbossart commented on #1678
I am a bit puzzled by this bug

a) It's not clear to me why keeping audio playback (be it with hw:0,0 with SoundWire of hw:0,5 with HDMI) would have an impact. In the clock_quirks=0x0 option, we play with pm_runtime reference counts so that the DSP remains powered. @YvonneYang2 can you clarify if using aplay is a requirement to see this issue?

b) This seems to be a case where we suspend, so in th

[2020-01-09 19:59] plbossart commented on #1480
@singalsu @kv2019i This issue is still seen on my CML device. If you have one available, can you try a reproduce this? I am not sure what to make of the earlier feedback, the capture with RT715 is already at the right level so we don't need the 20dB boost at all.

[2020-01-09 20:20] lgirdwood commented on #551
I dont think we have any EAGAIN or EBUSY today, but that's not to say they cant be added.

[2020-01-09 20:25] plbossart commented on #551
I'd rather focus on recovery in case of timeouts, which are currently fatal and require a reboot.
We'll deal with retries for -EGAIN/-EBUSY when we have a need for them, likely a 2021 discussion already....

[2020-01-10 02:05] RanderWang commented on #1678
@YvonneYang2  Can you help to attach test_411.log ? this is important for debugging

[2020-01-10 02:14] sinahuang commented on #1678
Test 1000 times on CML-H with soudwire-latest(commit:07348fa), issue can't be reproduced.

[2020-01-10 02:16] YvonneYang2 commented on #1678
@RanderWang
test_411.log is as attached.

[test_441.log](https://github.com/thesofproject/linux/files/4043619/test_441.log)

[2020-01-10 02:21] RanderWang commented on #1678
thanks.  But it is 441.log, how about 411.log

[2020-01-10 02:27] YvonneYang2 commented on #1678
Sorry for the wrong log. Here you are test_411.log
[test_411.log](https://github.com/thesofproject/linux/files/4043641/test_411.log)

[2020-01-10 02:49] sinahuang commented on #1655
Issue still can be reproduced on TGL-U RVP with soundwire-latest(commit:921ce33).
[dmesg.log](https://github.com/thesofproject/linux/files/4043703/dmesg.log)
[sof_trace.log](https://github.com/thesofproject/linux/files/4043704/sof_trace.log)

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 921ce33
FW: https://github.com/thesofproject/sof/com

[2020-01-10 02:58] YvonneYang2 commented on #1678
Many sorry for wrong typo in bug description.. Issue is reproduced with clock_quirks=0x8 option, not clock_quirks=0x0 option. Aplay with hw:0,5 is the requirement to see this issue. Only aplay0,5 can reproduce the issue. Suspend/resume with aplay0,0 or without playback cannot reproduce it.

Update: Issue can be reproduced with aplay0,0.

[2020-01-10 03:15] bardliao commented on #1628
Thanks @kailangyang for the information that the codec use auto check type mode which needs 300ms ~ 800ms to check jack type. And we confirmed by adding a 1 second delay in the alc_suspend. Mic detection was working as expected with the 1 second delay.

[2020-01-10 04:10] Liviali155 commented on #1331
Issue can reproduced on legacy HDA after suspend runtime PM use below method:
echo auto > /sys/bus/pci/devices/0000:00:1f:3/power/control
echo 1 > /sys/module/snd_hda_intel/parameters/power_save

[2020-01-10 04:45] plbossart commented on #1678
Thanks @YvonneYang2, it actually makes more sense with the quirk 0x8. if the parent device remains active, but SoundWire is suspended things could go sideways indeed.

[2020-01-10 06:51] dengyangchao opened #1687 "[BUG][CML]Can't detect HDMI/DP via amixer contents after reboot with HDMI/DP connected"
**Describe the bug**
Can't detect HDMI/DP after reboot with HDMI/DP connected. Amixer contents shows HDMI/DP ststus is OFF, but monitor display and sound output are OK.
when issue reproduced then Check with command" cat /sys/kernel/debug/dri/0/i915_display_info ", and it shows monitor connected.

[code]
**To Reproduce**
1.Connect HDMI/DP monitor
2.Check HDMI/DP detection via"amixer contents |less"

[2020-01-10 07:28] sinahuang commented on #1799
Issue also can be reproduced on TGL-U RVP with soundwire-latest(commit:921ce33) when arecord with DMIC 4ch(0,3 and 0,4)
**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 921ce33
FW: https://github.com/thesofproject/sof/commits/master commit: c6baa97
Tplg: Same with TGL FW branch : sof-tgl-rt711-rt1308.tplg
Platform:TGL-U RVP with codec ALC711

[2020-01-10 08:20] ClarexZhou commented on #1672
Error not seen after verify PR#1679 on sof-v5.0, but there are many i915 issues for Nvidia HDMI.  This isn't caused by PR. See log [sof-v5.0_nvidiaHDMI.txt](https://github.com/thesofproject/linux/files/4044148/sof-v5.0_nvidiaHDMI.txt), obvious noise via Nvidia HDMI. SoF hdmi only update once opening sound setting / wakeup from suspend.

Error not seen after verify PR#1679 on sof-dev, but nvidia HD

[2020-01-10 09:07] singalsu commented on #1480
The PR https://github.com/thesofproject/sof/pull/2109 has been stuck for far too long time with non-related random CI issues. It contains the needed high-pass filter set to use here. I'll make today an update that removes the impact to KPB, hope it gets merged soon.

[2020-01-10 09:37] YvonneYang2 commented on #1678
Tested it 1000 times with latest integration/soundwire-latest + #1683 , issue cannot be reproduced.

[2020-01-10 09:37] singalsu commented on #1480
There was no need to update my PR, hope it can be merged soon. I can start to make a topology PR for this issue. What topology m4 file does this platform use?

[2020-01-10 11:03] lgirdwood commented on #1331
@Liviali155 @mengdonglin legacy mode may not be fixable for some codecs but @singalsu has potential fix for any codec running in DSP mode.

[2020-01-10 12:39] kv2019i commented on #1672
Thanks @ClarexZhou ! It seems the fix work, I'll submit a polished version.

Getting both displays to work correctly will require some extra configuration -- I have the same result with vanilla Ubuntu 18.04 and Intel+NV GPUs enabled at the same time -> only one display works ok. But this is beyond audio scope.

[2020-01-10 12:56] YvonneYang2 commented on #1678
Tested it 1000 times with latest integration/soundwire-latest + #1682 , issue cannot be reproduced.

[2020-01-10 14:01] kv2019i commented on #1687
This seems similar (but not identical) to https://github.com/thesofproject/linux/issues/1440
I would expect this to be seen on other platforms as well.

[2020-01-10 15:03] plbossart commented on #1480
@singalsu all topologies with the -rt715 suffix needs this overshoot compensation

[2020-01-10 15:17] plbossart commented on #1672
so what's the expectation for audio here? we would still enable audio w/ iDISP, but if it's not connected the paths are not to be used, i.e. we enable iDISP but rely on jack detection to enable those paths?

[2020-01-10 15:17] kv2019i commented on #1642
It seems the above fix does not work on all Bobba devices. I posted a 2nd experimental patch to the above branch:
https://github.com/kv2019i/linux/commit/b3c8d21a566b87c7f8f58c06687cbc1e20c328ff
https://github.com/kv2019i/linux/tree/topic/cras/l5.4-glk-hdmi-afg-fix
... waiting to gather more data whether this helps. Still no signs of this issue in CI or from other reporters.

[2020-01-10 15:28] #1510 closed

[2020-01-10 16:35] kv2019i commented on #1672
@plbossart In short yes, if both GPUs are enabled and have audio codecs, we enable them both and based on jack status user can be given indication which PCMs are connected (via ELD you can also get the monitor type).

[2020-01-10 16:38] plbossart commented on #1672
ok, so it's only the case where internal GPU is disabled that we need to do extra-work, yes?

[2020-01-10 16:56] kv2019i commented on #1672
@plbossart

Yes, that case is still broken with the generic HDA driver and needs more work.

[2020-01-10 18:18] #1672 closed

[2020-01-10 20:51] cujomalainey commented on #1642
@kv2019i probe works with that second patch and I get devices :smiley_cat:

I cherry-picked over the top 2 commits to sof-dev and I have playback again. Thanks so much.

[2020-01-11 00:25] plbossart commented on #1039
all code is already upstream.

[2020-01-11 00:25] #1039 closed

[2020-01-11 16:39] lgirdwood commented on #1480
@singalsu worthy of another technical note on SOF docs showing the problem and how we can fix it in topology etc.

[2020-01-13 02:06] dengyangchao commented on #1687
@kv2019i #1440 only can be reproduced on platforms which are no EDP display connected.

This issue observed on a laptop, also tried this on other platforms, details below:

**Can be reproduced**
 CML Chrome with onboard codec RT5682 and RT1011 in I2S mode
**Can't be reproduced**
ICL-U RVP with onboard codec ALC700 in HDA mode
CML laptop with onboard codec ALC3204 in HDA mode
GLK Chrome with onboar

[2020-01-13 05:46] lancedkhou commented on #1604
@plbossart

May I know which foil mentioned this information?
I would need written material  for external communication.

[2020-01-13 05:57] YvonneYang2 commented on #1678
Tested it 300 times with topic/sof-dev(921ce33) + #1692 , issue cannot be reproduced.

[2020-01-13 09:03] marekfila opened #1700 "I can't create an INSTALL file"
Hello, I would like to ask you for help. I use UP2 Board and Ubuntu 18.04.
I follow the instructions "Build SOF from scratch" and in the section Build alsa-lib and alsa-utils I cannot build an INSTALL file for alsa-utils. Can you please describe the step-by-step instructions for manually building the INSTALL file?

Thank you .    Marek

[2020-01-13 09:33] singalsu commented on #753
The PRs to avoid this are under review in SOF.

[2020-01-13 09:41] Liviali155 opened #1701 "[bug][tgl]System freezed after wake up from S2idle with HDMI playback."
**Describe the bug**
System freezed  after wake up from S2idle with HDMI playback.

Wait about 6min-8mins, HDMI can aplay successfully and can pause and resume successfully，but aplay again, it failed and can not be released, Only unplug/plugin power supply to reboot can recover

**To Reproduce**
1.sudo reboot with HDMI connected
2. open a terminal:aplay -Dhw:0,4 -r48000 -c2 -fs16_le wav/48Californ

[2020-01-13 10:09] Liviali155 commented on #1701
Bi-sect result: Caused by kernel commit:03c657c[https://github.com/thesofproject/linux/commit/03c657c26ccb9fd8de65c5596f252f81c2557978](https://github.com/thesofproject/linux/commit/03c657c26ccb9fd8de65c5596f252f81c2557978)

[2020-01-13 14:41] kv2019i commented on #1642
@cujomalainey wrote

Excellent! :sunglasses: I'll start working out an upstream-worthy patchset. 2nd patch should be easy, but first one may require some more effort to get through.

[2020-01-13 17:07] plbossart commented on #1604
Sorry, I don't understand what you are asking

[2020-01-14 01:24] Liviali155 commented on #1701
@ranj063,please check it

[2020-01-14 02:29] dengyangchao commented on #1472
Since #1631 merged, issue can't be reproduced, close.

[2020-01-14 02:29] #1472 closed

[2020-01-14 02:30] lancedkhou commented on #1604
@plbossart

I would like to know whether there is any written document mentioned 44.1 kHz is not supported as an official record.
I like to take it to communicate internally to make factory test change it's frequency when testing recording
externally as a proof that we don't support 44.1 kHz recording.

[2020-01-14 05:52] Liviali155 commented on #1701
Error only seen in s2idle mode,not seen in deep mode

[2020-01-14 08:15] xiulipan commented on #1700
[code]
will the `sudo make install` help? what do you mean by **INSTALL file** here?

[2020-01-14 08:26] marekfila commented on #1700
Yes I need help creating "sudo make install".
When you run the command, you will see:
make: *** No rule on how to make a "install" target. End.

Thank you.

[2020-01-14 08:28] xiulipan opened #1703 "[BUT][ICL] random error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
random dsp error message will appear on ICL when FW need to be loaded(boot/runtime_pm_resuem/s3_resuem)

<details>
 <summary>dmesg example</summary>

[code]
</details>

previous discussion in https://github.com/thesofproject/sof-test/pull/16
@bardliao @ranj063

[2020-01-14 08:57] singalsu commented on #753
Merge of SOF PRs https://github.com/thesofproject/sof/pull/2259 and https://github.com/thesofproject/sof/pull/2065 fix this issue on FW side. Due to new scontrols caching for power management the fix on Linux kernel side would have been much more complex.

[2020-01-14 08:58] singalsu commented on #753
It's now OK to close this issue!

[2020-01-14 08:58] #753 closed

[2020-01-14 09:01] singalsu commented on #477
Not sure this is valid any more. I need to re-check and close this if such no more happens.

[2020-01-14 11:07] qinwan-hp opened #1798 "[BUG][CML]Can't detect Mic jack of combo headset"
**Describe the bug**
Plug in headset, the headphone jack can be detected, but the mic jack can seldom to be detected.
If prohibit the codec runtime auto-suspend, the headphone and mic jack can be detected normally.
If change to hda driver, the headphone jack and mic jack can be detected normally.

**To Reproduce**
Plugin headset

**Reproduction Rate**
Almost near to 100%

**Expected behavior**
Bot

[2020-01-14 11:22] juimonen commented on #1798
@qinwan-hp https://github.com/thesofproject/linux/pull/1689, this is probably the same...(?)

[2020-01-14 14:06] lgirdwood commented on #1700
@marekfila This is curious, can you paste the output from you console for all commands above. i.e. just run all the commands again and paste the output here.

[2020-01-14 14:08] lgirdwood commented on #477
@singalsu MAX IPC size has been recently updated too, best to check its in both FW and SW.

[2020-01-14 16:05] ranj063 commented on #1701
@Liviali155 @mengdonglin I have no TGL boards to debug this.

[2020-01-14 16:29] plbossart commented on #1604
@lancedkhou Intel platforms since BYT cannot natively support 44.1kHz at the interface level in master mode. We can only use a M/N divider to generate the clocks, and can't guarantee that the clock jitter introduced will be supported by all codecs. By default this is not something that Intel tests.

We can however support 44.1 playback and record if the firmware does a sample rate conversion, typi

[2020-01-14 21:00] lgirdwood commented on #1798
@qinwan-hp any chance you could try https://github.com/thesofproject/linux/pull/1689 and see if it fixes the issue for you. I think Its a duplicate.

[2020-01-15 01:49] ClarexZhou commented on #1628
Track in PR #1689

[2020-01-15 01:58] sinahuang commented on #1655
Issue still can be reproduced on TGL-U with sof-dev(commit:075b242)+PR1692.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit: 075b242 + PR1692
FW: http://sof-ci-storage.sh.intel.com/release/sof/tgl-003-drop-stable commit: 1bb517ab
Tplg: Same with TGL FW branch : sof-tgl-rt711-rt1308.tplg
Platform:TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S

[2020-01-15 04:06] sinahuang opened #1709 "[TGL][BUG]No SOF soundcard during doing reboot stress test."
**Describe the bug**
No SOF soundcard during doing reboot stress test. Error 1st failed at 27th time, 2nd failed from 78th-96th time. Unplug/plugin power supply to reboot can recover.

**To Reproduce**
1.Boot up system successfully.
2.Run "./test-reboot.sh 100".
Scripts:
[test-reboot.txt](https://github.com/thesofproject/linux/files/4063002/test-reboot.txt)

**Reproduce rate**
19/100

**Expected r

[2020-01-15 05:10] qinwan-hp commented on #1798
@lgirdwood @juimonen I tried this method before and I still have chance without mic detected.
When wait dsp and codec suspended, plugin headset can duplicate this issue sometimes.
There is only unsol event for headphone jack, no unsol event for mic jack.
That's why I disable auto-suspend.
But if I disable auto-suspend, we found the DSP panic when kill/run pulseaudio several times.

I upload the ds

[2020-01-15 05:54] bardliao commented on #1564
FW change is also required for the issue. A WIP PR is https://github.com/thesofproject/sof/pull/2258

[2020-01-15 06:47] ClarexZhou opened #1710 "[Bug][CML][release/sof-v5.0]Call Trace is shown when "sudo rmmod sof_pci_dev""
**Describe the bug**
sof can be removed, but Call Trace is shown when "sudo rmmod sof_pci_dev"

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. "sudo rmmod sof_pci_dev"

**Reproduce Rate**
3/3

**Actual result**
It takes several minutes to remove sof_pci_dev. And Call trace is shown in dmesg.
Error also seen with release/sof-v5.0, commit abbc71ca

**Expected result**
No error message, mo

[2020-01-15 07:34] marekfila commented on #1700
Output from console:
[code]

[2020-01-15 08:01] Liviali155 opened #1711 "[bug]tgl]Dmesg show "intel-sdw sdw-master-0: Link power down failed: -11" after doing s2idle/s3 from idle"
**Describe the bug**
Dmesg show "intel-sdw sdw-master-0: Link power down failed: -11" after doing s2idle/s3 from idle
Error only seen on TGL HDA,not seen on TGL SDW
Error not seen when do  s2idle/s3 with playback
error not seen without PR 1692,It is a regression caused by PR1692

**To Reproduce**
1.sudo reboot
2.sudo rtcwake -m mem -s 10

**Reproduction Rate**
10/10

**Expected behavior**
Suspend&

[2020-01-15 08:22] dengyangchao commented on #1711
Issue seen on TGL-U RVP ALC711 HDA,  can't be reproduced on CML laptop cedec ALC 3204 in HDA mode

[2020-01-15 08:32] Liviali155 commented on #1711
after disable sdw link used below method, error not seen

add "options soundwire_intel_init sdw_link_mask=0x10"to /etc/modprob.d/alsa-base.conf

[2020-01-15 09:10] kv2019i commented on #990
Added task for @libinyang 's patch for LCTL programming. This is not currently done by SOF HDA code. Related upstream patch "ALSA: hda - set intel audio clock to a proper value"

[2020-01-15 11:16] lgirdwood commented on #1798
@qinwan-hp thanks for the info, this now looks like 2 issues :-
1) Failure to detect the mic jack. @kv2019i any comments ?
2) FW is constantly busy - hence we get the panic. @qinwan-hp we need more information here, can you switch on FW IPC debug within the kernel (under SOF debug kconfig). This will tell us what commands pulseaudio is sending to the FW when the Mic is not detected.

[2020-01-15 12:21] kv2019i commented on #1798
@lgirdwood wrote:

I'm pretty certain this is fixed by https://github.com/thesofproject/linux/pull/1689 . We have the fix candidate (but no agreement how this should be fixed in upstream yet). @qinwan-hp testing feedback on that pull-request is welcome. FYI @juimonen

[2020-01-15 14:04] singalsu commented on #665
I tested today by embedding pass/flat/loudness blobs into IIR and FIR topologies as default and it worked perfectly. The current git master does not contain a large IPC loudness blob but my test version that I will upstream later was used.

- Firmware & topology: e69938583a8d15a1d7cb285f219ff782474aabc4

- Linux: 3779ba8c2ca467bf4681608068a271f2cf7ace58

Thanks @juimonen for all the work!

[2020-01-15 14:05] singalsu commented on #665
This is OK to close.

[2020-01-15 14:05] #665 closed

[2020-01-15 15:26] lgirdwood commented on #1700
@marekfila I'me guessing you may need to do this as suggested by configure
[code]
This may also need you to update automake to 1.9 or newer.

[2020-01-15 16:20] plbossart commented on #1711
@Liviali155 HDaudio and SoundWire are mutually exclusive and share the same pins. I don't think this is a legit configuration to have the master0 enabled along with HDaudio.

Can you send a picture of what your BIOS configuration menu looks like (e.g. the 'advanced menu'

[2020-01-16 01:49] sinahuang commented on #1709
Issue also can be reproduced on TGL-U RVP with sof-dev (commit: 075b242 + PR1692). Test for 100 times, failed 52 times.

1st failed at 1st time
2nd failed from 7th to 24th time
3nd failed from 30th to 32th time
[dmesg_failed_1.log](https://github.com/thesofproject/linux/files/4068931/dmesg_failed_1.log)
[logger-t_failed_1.log](https://github.com/thesofproject/linux/files/4068932/logger-t_failed_1.

[2020-01-16 01:55] Liviali155 commented on #1711
Set Audio Link Mode as HD Audio link as below picture

![524381214](https://user-images.githubusercontent.com/56707932/72486582-48e42980-3846-11ea-8c3b-70651432d00d.jpg)

[2020-01-16 01:59] plbossart commented on #1711
you should select the audio link mode "advanced mode" and double-check that you have a valid configuration in the "Advanced configuration submenu"
There is no support planned for HDaudio external codec concurrently with SoundWire. The configuration selected for the links need to match the reworks for your board.

[2020-01-16 02:35] Liviali155 commented on #1711
After set Audio Link Mode as "Advanced Link Config" as below,error not seen

![1091200793](https://user-images.githubusercontent.com/56707932/72488410-da09cf00-384b-11ea-9239-5779de38119f.jpg)

[2020-01-16 02:43] Liviali155 commented on #1711
closed it

[2020-01-16 02:43] #1711 closed

[2020-01-16 07:09] bardliao commented on #1709
I checked all dmesg_failed_x.log and found
``rt1308 i2c-10EC1308:00: Device with ID register 0 is not rt1308``
is seen on every failed logs. @shumingfan Can you take a look?

[2020-01-16 07:57] keqiaozhang opened #1719 "[BUG][JSL] SOF doesn't work after S3"
**Describe the bug**
Perform S3 test first, then do playback or capture, aplay/arecord will stuck there without output and process cannot be killed.
This issue only happens on HDA mode, on I2S mode, sof works well after S3.

**To Reproduce**
1. do S3 first
    rtcwake -m mem -s 5
2.  then run aplay/arecord
    aplay -Dhw:0,1 -f dat -c 2 -vvv /dev/zero

**Reproduction Rate**
100%

**Expected behavi

[2020-01-16 08:13] qinwan-hp commented on #1798
@juimonen Original we have hda with CONFIG_SND_HDA_POWER_SAVE_DEFAULT =0 on our platform, so hda is OK.  Change config to  CONFIG_SND_HDA_POWER_SAVE_DEFAULT = 2, I did see the same issue happend. But the failure rate is very low and can be igonored.

[2020-01-16 08:18] qinwan-hp commented on #1798
@lgirdwood It occurs when prohibit codec auto-suspend. Mic can be detected if there is no codec runtime suspend/resume.

[2020-01-16 09:15] shumingfan commented on #1709
@sinahuang If SdW signals still connect to rt1308, please remove it first.

Could you try to detect i2c device again when the issue happened?
Command:
$ i2cdetect -y -r -a <bus_number>
The rt1308's i2c device address should be 0x10/0x11/0x12/0x13h depend on ASEL0/1 input pins.
If the rt1308 responses ACK to i2c bus, you could see the 'UU' symbol on the address place.
If the rt1308 still alive, ple

[2020-01-16 10:20] juimonen commented on #1798
@qinwan-hp so the value 0 for suspend disables the PM altogether, so the codec never goes to sleep -> detect works. I guess with certain values, like you mentioned 2s the detection might still fail occasionally. if pm_autosuspend is set, legacy HDA will set 3s suspend delay, so even longer than 2s.

There is a blacklist in legacy HDA for certain platforms that will never use PM, so they will be al

[2020-01-17 00:17] plbossart commented on #1719
@kv2019i does this ring a bell?

[2020-01-17 00:18] plbossart commented on #1678
PR #1692 is merged, can we retry this test with topic/sof-dev and close if it's no longer relevant?

[2020-01-17 00:20] plbossart commented on #1657
@Liviali155 this is an invalid configuration. The bxt-pcm512x has not been submitted upstream so there's no way you'd ever see a card created.

[2020-01-17 00:20] #1657 closed

[2020-01-17 00:25] #576 closed

[2020-01-17 00:26] plbossart commented on #939
@keyonjie and @aiChaoSONG  ping!

[2020-01-17 00:27] plbossart commented on #920
there's no plan to avoid UCM, so closing

[2020-01-17 00:27] #920 closed

[2020-01-17 00:28] plbossart commented on #1055
@ClarexZhou this issue has been stale for 6+ months, can we close it?

[2020-01-17 00:29] plbossart commented on #780
@ranj063 @ClarexZhou that looks like an obsolete issue with all the asoc core cleanups? Can we close?

[2020-01-17 00:30] plbossart commented on #616
@lyakh I guess we can close this issue?

[2020-01-17 00:31] plbossart commented on #691
@ranj063 IIRC this is implemented, no? Can we close?

[2020-01-17 00:34] plbossart commented on #731
@mengdonglin @kv2019i is this enhancement still relevant or can we close?

[2020-01-17 00:35] #777 closed

[2020-01-17 00:36] plbossart commented on #830
@jajanusz @lgirdwood is this enhancement still relevant?

[2020-01-17 00:38] plbossart commented on #907
@keqiaozhang is this issue still current or can we close?

[2020-01-17 00:40] plbossart commented on #1069
@kamal-ap @kv2019i @ranj063 @libinyang can we close this one?

[2020-01-17 00:42] plbossart commented on #1088
@ranj063 that issue should be fixed now with your state machine changes? Can we close?

[2020-01-17 00:44] plbossart commented on #1143
no plans to fix this, just need to be careful and choose different names

[2020-01-17 00:44] #1143 closed

[2020-01-17 00:46] plbossart commented on #1107
@dbaluta Is this still needed, I can't recall what the issue was?

[2020-01-17 00:48] plbossart commented on #1151
This seems covered by all the ASoC core and topology changes

[2020-01-17 00:48] #1151 closed

[2020-01-17 00:48] plbossart commented on #1339
no plans to remove PAUSE.

[2020-01-17 00:48] #1339 closed

[2020-01-17 00:49] plbossart commented on #1363
@sathyap-chrome can we close this? no info since October 24, 2019...

[2020-01-17 00:50] plbossart commented on #1379
@juimonen @ranj063 isn't this fixed?

[2020-01-17 00:51] plbossart commented on #1296
@mengdonglin can we assign someone on this one, this looks like a really bad problem?

[2020-01-17 00:54] plbossart commented on #1384
@mengdonglin can we assign someone to look at this? Thanks!

[2020-01-17 00:55] plbossart commented on #1454
@keqiaozhang no information provided since November 8, can we close this? what's the issue now?

[2020-01-17 01:13] cujomalainey commented on #1088
I can give it a test when I am back in MTV next week and close this

[2020-01-17 01:45] ranj063 commented on #1379
@plbossart I dont think so. @singalsu was supposed to take care of it most recently

[2020-01-17 01:50] ClarexZhou commented on #780
Close. For original issue not seen on both sof-dev and release/sof-v5.0 fb3a8e4.

[2020-01-17 02:34] ClarexZhou commented on #1055
close for error not occurred after run 10 times on release/sof-v5.0 fb3a8e4.

[2020-01-17 02:34] #1055 closed

[2020-01-17 03:38] sathyap-chrome commented on #1363
Agree @plbossart . closing now

[2020-01-17 03:38] #1363 closed

[2020-01-17 04:47] xiulipan opened #1724 "[BUG][BYT]error: resuming DSP -524"
**Describe the bug**
SOF did not load correctly and no PCM shows on BYT.

**To Reproduce**
boot up

**Expected behavior**
aplay -l should show something.

**Environment**
FW Branch master
Commit: dbb70c84
kernel:
Branch:sof-dev
Commit: 0cf356c6

**dmesg**
[code]

[2020-01-17 04:48] xiulipan commented on #1724
@ClarexZhou @fredoh9 I also see BDW and BSW failed from daily test result. Could you confirm?

[2020-01-17 04:52] ClarexZhou commented on #1724
Already do bi-sect on BYT-5682. Issue is caused by commit https://github.com/thesofproject/linux/commit/7764364794f24a05038f461768bc24bc3d0d626d

[2020-01-17 04:55] ClarexZhou commented on #1724
@ranj063  Could you please check on this first?

[2020-01-17 05:05] qinwan-hp commented on #1798
@juimonen I tried the kernel v5.4.1. The mic jack detction can work and still has failure but hard to reproduce. Our current kernel is v5.3.6.

[2020-01-17 05:09] ClarexZhou commented on #1724
BDW failed for same issue.

[2020-01-17 05:17] keyonjie commented on #1724
did we found the issue by CI before the PR was merged? or we didn't have chance to run that because of the power supply was cutting off?

[2020-01-17 05:27] xiulipan commented on #1724
@keyonjie I re-check the test result for #1702 https://sof-ci.01.org/linuxpr/PR1702/build2894/devicetest/ All BYT/BSW is failed.

I think we missed a patch to replace the `sof_ipc_tx_message_no_pm` usage for BYT platforms

[2020-01-17 05:40] keyonjie commented on #1724
Thanks for the link, then we should have taken care about CI errors before merging, @plbossart @ranj063.

[2020-01-17 06:06] keqiaozhang commented on #1454
This issue still exists.
@sathyap-chrome, any updates form you?

[2020-01-17 06:06] xiulipan commented on #1724
@keyonjie @ClarexZhou Got a fix https://github.com/thesofproject/linux/pull/1725
Please help to review and test.

[2020-01-17 06:29] kv2019i commented on #1719
@plbossart no, this looks like a new case. I wonder if graphics came back ok from S3. Only error in the log before the audio register sync error is this:
[  130.432125] [drm:intel_gt_verify_workarounds [i915]] *ERROR* GT workaround lost on init! (9524=0/0, expected 10000, mask=10000)

@keqiaozhang Would be interesting to check when this started happening? Perhaps a recent upstream merge?

[2020-01-17 06:40] juimonen commented on #1798
@qinwan-hp ok thanks, did you test the new kernel with thesofproject/sof#1689 or without it?

[2020-01-17 06:54] keqiaozhang commented on #907
@dengyangchao  please help to check this issue on sof-dev. Thanks!

[2020-01-17 06:57] dengyangchao opened #1727 "[BUG][GLK]Pop noise when do playback and capture Simultaneous via headset"
**Describe the bug**
Pop noise when do playback and capture Simultaneous via headset

**To Reproduce**
1.Reboot system via "sudo reboot"
2.Wait runtime PM to suspend status
3.Insert headset
4.Open one terminal Arecord via "arecord -Dhw:0,1 -r48000 -c2 -fs16_le test.wav -vv -i"
5.Open another terminal Aplay via "aplay -Dhw:0,1 -r48000 -c2 -fs16_le /dev/zero -vv -i"
6.Pause-release aplay or stop apl

[2020-01-17 07:04] Liviali155 commented on #1463
closed it , PR [#2109](https://github.com/thesofproject/sof/pull/2109)  merged

[2020-01-17 07:04] #1463 closed

[2020-01-17 07:05] keqiaozhang commented on #1719
@kv2019i  We didn't do a regular test on JSL, because no JSL devices available in PRC now. We will get one next week.
I found this issue on COE's device with remote testing. So not sure if this is a regression.

[2020-01-17 07:10] dbaluta commented on #1107
Me too. Lets close it. I also added the gsoc label to look into it when we will have some resources from different open source initiatives like gsoc/outreachy.

[2020-01-17 07:10] #1107 closed

[2020-01-17 07:39] qinwan-hp commented on #1798
@juimonen  With thesofproject/sof#1689. But I cannot figure out what's the difference between v5.3.6 and v5.4.1 that may lead to this issue. Do you have any comment ?

[2020-01-17 07:41] kv2019i commented on #731
@plbossart I think this is still relevant. I think in practise we'll update the tool when we have an issue to debug that needs diving into the registers. This seems like a useful tool for that kind of debug:

https://cgit.freedesktop.org/drm/igt-gpu-tools/log/tools/intel_audio_dump.c

[2020-01-17 07:42] dengyangchao commented on #1727
When issue occur, back kernel to sof-dev 52ec20e also can reproduce,
when issue can't reproduce, change kernel to 52e20e and ef67419 both can't reproduce.
So might be hardware issue, and keep issue open to monitor

[2020-01-17 08:07] juimonen commented on #1798
@qinwan-hp hmm ok, I can't think anything from top of my head... maybe we have some changes in the power management, but not sure... @ranj063 any idea?

[2020-01-17 08:18] kamal-ap commented on #1069
Till SOF0.7 , this is not fixed . We will check and close in SOF0.8 release.

[2020-01-17 08:36] dengyangchao commented on #907
Run 500 times stress test, issue can't be reproduced, close.

[2020-01-17 08:36] #907 closed

[2020-01-17 09:03] lyakh commented on #616
@plbossart it's old so, perhaps, yes, although I haven't tested SRC with pulseaudio on Up^2 in ages

[2020-01-17 09:37] YvonneYang2 commented on #1678
Tested it 600 times, issue cannot be reproduced on latest topic/sof-dev(top commit:ef67419). Close it.

[2020-01-17 09:37] #1678 closed

[2020-01-17 11:50] plbossart commented on #616
ok let's close and re-open if we see something bad

[2020-01-17 11:50] #616 closed

[2020-01-17 11:50] juimonen commented on #1379
@ranj063 I don't remember now at all what we we're discussing about possible invasive fixes...?

@plbossart the snippet you we're mentioning AFAIK relates to DSP initiated message from DSP to host. This part that I'm referring relates to setting/getting data from host to DSP.

Anyway I made  https://github.com/thesofproject/linux/pull/1728, so just changing the order of error code check and memcpy

[2020-01-17 12:10] singalsu commented on #1480
The needed filters are now merged to SOF. I'll make today a topology PR to address this issue.

[2020-01-17 12:42] singalsu commented on #1480
I got a test device for loan where this can be repeated:

![Screenshot from 2020-01-17 14-40-45](https://user-images.githubusercontent.com/28754793/72613142-70ff8580-3937-11ea-99e3-cdbec8b6f079.png)

[2020-01-17 14:44] lgirdwood commented on #691
Ack, I can even see the topology ABI in dev_info now.

[2020-01-17 14:47] lgirdwood commented on #830
It's done IIRC. @ranj063 are you dumping this on CAVS platforms.

[2020-01-17 15:06] singalsu commented on #1480
It's now a lot better. This the best that I can achieve with the volume linear ramp. The log ramp type would provide more attenuation to beginning but it's not yet available.

![Screenshot from 2020-01-17 17-04-51](https://user-images.githubusercontent.com/28754793/72622337-ac0bb400-394b-11ea-80d3-9e5d8c164044.png)

[2020-01-17 15:13] singalsu commented on #1480
The SOF PR is now in https://github.com/thesofproject/sof/pull/2302 .

[2020-01-17 15:54] ranj063 commented on #691
@plbossart yes closing now.

[2020-01-17 15:54] #691 closed

[2020-01-17 20:15] #1724 closed

[2020-01-18 12:05] paulmenzel commented on #1807
There is the same issue in the Ubuntu bug tracker: [
PCI/internal sound card not detected on a Swift SF314-57](https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1856366/). Release 1.4.1 did not solve the issue.

[code]

[2020-01-18 12:10] paulmenzel commented on #1807
Clear Linux: Acer Swift 5: https://community.clearlinux.org/t/new-installation-no-sound-swift-5-i7-1065gt-iris-plus/2407

[2020-01-18 12:11] paulmenzel commented on #1807
The issue title should have *Swift* instead of *Switch* I believe.

[2020-01-18 12:17] kv2019i commented on #1675
@plbossart This is a duplicate of https://github.com/thesofproject/linux/issues/452
Still valid. Some work was done for #452 but delayed due to other work.

[2020-01-19 03:37] ClarexZhou opened #1732 "[Bug][UCM1] [SDW] No internal audio output after removing external speaker/headset"
**Describe the bug**
paplay is still using headset as output after removing headset, should switch to internal speaker.

**To Reproduce**
1. Headset is connected
2. paplay 1.wav -vvvv
3. Select "Headphone " in sound output setting.
4. Unplug headset.
![image](https://user-images.githubusercontent.com/49641224/72674309-09b91100-3ab0-11ea-81e3-fd6f14e74b40.png)

**Reproduce Rate**
3/3

**Actual resu

[2020-01-19 03:39] ClarexZhou commented on #1732
Error also seen when removing HDMI
![image](https://user-images.githubusercontent.com/49641224/72674349-4e44ac80-3ab0-11ea-8c25-48164797620b.png)

[2020-01-19 05:05] ClarexZhou opened #1734 "[Bug][SDW][CML]Microphone-mute LED not light up"
**Describe the bug**
Microphone-mute LED not light up

**To Reproduce**
1. Mute Microphone via Press F4 mute MIC button or mute from sound input setting
2. Check mute LED on F4 button.

**Reproduce Rate**
3/3

**Actual result**
Microphone-mute LED not light up

**Expected result**
Microphone-mute LED  light up when MIC is muted.

**Environment**
Kernel: sof-dev, 674afed
Firmware: master, 415273f
K

[2020-01-19 05:13] ClarexZhou commented on #1734
Issue is fixed on release/sof-v5.0 and tplg from cml-hda-dmic-002-drop-stable
kernel:
![image](https://user-images.githubusercontent.com/49641224/72675315-aed9e680-3abc-11ea-8b45-cd7753599ebd.png)
TPLG:
![image](https://user-images.githubusercontent.com/49641224/72675326-d3ce5980-3abc-11ea-9c25-27479a0cd268.png)

For kernel build, also need to add https://github.com/thesofproject/kconfig/pull/22 i

[2020-01-19 09:56] Liviali155 opened #1735 "[BUG][ICL]Dmesg show "error: failed to reset HDA controller gctl 0x1" when do reboot test"
**Describe the bug**
Dmesg show "error: failed to reset HDA controller gctl 0x1" when do reboot test

**To Reproduce**
1.add test-reboot.sh to startup Application
2./test -reboot.sh 10

**Reproduction Rate**
1/10

**Expected behavior**
There is no error meaasge in dmesg

**Actual result**
There is error message in dmesg,but can bootup successfully

[code]
No error sof trace

***Environment***
Plat

[2020-01-20 05:14] Liviali155 commented on #1735
Retested 500 times on ICL,reproduced 4times
 Environment
Platform: ICL-U RVP with onboard codec ALC700 in HDA mode
Firmware: 415273fb https://github.com/thesofproject/sof/commits/master
Kernel: 674afed https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-01-20 07:28] sinahuang commented on #1709
when issue happened, i2cdetect as below:
[code]
when issue not happened, i2cdetect as below:
[code]

[2020-01-20 07:42] shumingfan commented on #1709
@sinahuang
I missed something to say, the 'UU' symbol means that there are ACK responses and the kernel driver is using it.
I think the rt1308 still alive and its i2c address is 0x10.
Could you try to reload the driver again and we can check the kernel log?

[2020-01-20 10:27] xiulipan commented on #1709
@sinahuang @shumingfan The issue seems more like the power on the codec is not reset right.

Please also try to dump the i2c register `sudo i2cdump -y 16 0x10 w`
And check the if there is value at `#define RT1308_VEN_DEV_ID			0x70` when probe failed?

It seems to be some codec power reset issue related to BIOS or some other lower level power manager.

[2020-01-20 11:20] lgirdwood commented on #731
@mengdonglin @kv2019i we should really add this to SOF docs unter a "trouble shooting" page, alongside other useful tips and techniques.

[2020-01-20 16:54] juimonen commented on #1621
@ClarexZhou this is not sof firmware /sof kernel driver issue. Problem is that we are toggling 1 resource (mute led) from 2 different paths and pulseaudio and alsa have both "redundancy" checking for existing mute values.

1) Ubuntu sound UI tries to set proper mute value when changing the source (dmic vs. headset mic).
When you mute dmic, we get event to kernel. Now when we switch to headsetmic i

[2020-01-21 10:43] slawblauciak commented on #1798
@bkokoszx mind taking a look at it?

[2020-01-21 10:53] singalsu commented on #1480
The PR is now merged. Can you please check that it works as expected in your platforms!

[2020-01-21 18:25] plbossart commented on #1735
can you try to comment out this code in hda_dsp_ctrl_get_caps?

[code]

This was added for SoundWire devices but I could never figure out why this was needed

[2020-01-21 20:06] perexg opened #1741 "[BUG] 5.5.0-rc7 - the dmic PCM devices gone"
I am trying the vanilla 5.5.0-rc7 kernel and I do not see the DMIC PCM devices on CML with the HDA codec (4ch):

<pre>
[   11.112134] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040380
[   11.112210] snd_hda_intel 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[   11.327910] snd_soc_skl 0000:00:1f.3: DSP detected with PCI class/subclass/

[2020-01-21 20:08] plbossart commented on #1741
arecord -l ?

[2020-01-21 20:10] perexg commented on #1741
Huh, you're right. I am probably too much tired today :-) Closing and sorry :-)

[2020-01-21 20:10] #1741 closed

[2020-01-21 20:13] plbossart commented on #1741
no worries, I do stuff like this all the time.

[2020-01-22 10:29] bkokoszx commented on #1798
@lgirdwood @juimonen
I have a questions, as I'm not kernel expert. Is it correct that we have here in logs things like: ```skl_hda_dsp_generic```, ```snd_hda_codec_realtek```. It seemed to me that we usually blacklist them during kernel building. Why does skylake appear in dmesg logs:
```Digital mics found on Skylake+ platform, using SOF driver```? Also there appear some topology mismatches:
```To

[2020-01-22 14:40] lgirdwood commented on #1798
@slawblauciak @bkokoszx this does not look like a FW issue so best let @juimonen look at it.

[2020-01-23 14:04] perexg opened #1747 "[BUG] IPC errors with 5.5.0-rc7"
Running latest signed firmware (1.4.2) with the vanilla 5.5.0-rc7 kernel and it does not work (IPC errors):

<pre>
0:1f.3 Audio device: Intel Corporation Cannon Point-LP High Definition Audio Controller (rev 11)
0:1f.3 0403: 8086:9dc8 (rev 11)

[   11.113534] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if 0x040380
[   11.113691] sof-audio-pci 0000:00:1f.3: use msi interru

[2020-01-23 14:07] paulstelian97 commented on #1747
Can you mention platform and everything else for completeness?

[2020-01-23 14:13] perexg commented on #1747
It's Lenovo Carbon X1 7th gen (CNL).

[2020-01-25 02:17] sathya-nujella commented on #1642
Hi @kv2019i
We are seeing this issue in TGL also.
==from dmesg ===
[   69.972113] snd_hda_codec_hdmi ehdaudio0D2: HDMI: failed to get afg sub nodes
[   69.980129] snd_hda_codec_hdmi ehdaudio0D2: patch failed -22
[   69.986539] snd_hda_codec_hdmi ehdaudio0D2: ASoC: failed to probe component -22
[   69.994766] sof_rt5682 tgl_max98357a_rt5682: ASoC: failed to instantiate card -22
[   70.015778] sof_r

[2020-01-25 02:20] ranj063 commented on #1642
@sathya-nujella does the fix provided in comment https://github.com/thesofproject/linux/issues/1642#issuecomment-573076000 help your case too?

[2020-01-25 02:38] sathya-nujella commented on #1642
yes @ranj063 .. we applied 3 patches from this one: https://github.com/thesofproject/linux/pull/1713
with these patches, afg sub node issue is gone.
Sound card binds good.. tried 8 times power cycling DUT.

[2020-01-27 13:25] kv2019i commented on #1747
@perexg Hmm, this does not look. I tried the same combo on a CFL device (CNL fw, vanilla 5.0.0-rc7 without any extra patches + 1.4.2 fw + plus topology files built from 1.4.2 fw) and could not reproduce this -- SOF loads just fine. I also tried to take topology from latest master, but that works as well (and your logs indicate a matching v11 topology to be used).

FW logs with sof-logger would be

[2020-01-27 15:59] kv2019i commented on #1642
Ack @sathya-nujella -- that is good to know. Please let us know if any errors are seen after applying PR1713.

[2020-01-27 16:14] lgirdwood commented on #1747
Adding @slawblauciak for FW, but it could be more kernel or topology specific since it seems HDA related. Firmware log should provide insights though.

[2020-01-27 17:00] lgirdwood commented on #1798
@juimonen @kv2019i any insights here on this one ? This looks like a kernel issue to me.

[2020-01-27 17:07] lgirdwood commented on #1807
@perexg @omg @paulmenzel fwiw v1.42 has been released and signed now.
https://github.com/thesofproject/sof/releases/tag/v1.4.2
Apologies, it's not packaged atm as discussions still ongoing on how to achive this.

[2020-01-28 00:23] plbossart opened #1750 "SoundWire: no support for slave pre- and post- bank switch callback support"
Some Slave devices need a pre- and post- bank switch callback to e.g. set imp-def bank switched dividers. These sort of callbacks only exist for prepare and de-prepare, this is a design miss.

Marking a P3 but this will be needed sooner or later when we implement clock scaling.

@vinodkoul FYI

[2020-01-28 01:13] plbossart opened #1751 "SoundWire: multi-link support calls wait_for_completion() multiple times"
The premise for multi-link support is that the first link will start the bank switch on all links, using hardware-based sync.
This is currently implemented, but we still call wait_for_completion() while dealing with the links remaining in the loop. This is not needed and can be optimized with a simple boolean flag.

@vinodkoul FYI

[2020-01-28 06:23] ghost commented on #1807
Have still the problem with v1.4.2:
<pre>[   11.316829] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[   11.316981] snd_hda_intel 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[   11.341573] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[   11.341736] sof-audio-pci 0000:00:1f.3: Digital mic

[2020-01-28 07:22] juimonen commented on #1798
@lgirdwood @slawblauciak basically it seems that this issue is the same we have when not setting the PM suspend delay to HDA from SOF: https://github.com/thesofproject/linux/pull/1689. In that PR we are setting suspend delay to 2s, but for example legacy HDA might set it even to 3s if not defined.
So if there is no suspend delay, HDA codec will suspend really fast, and in some codecs the mic detec

[2020-01-28 10:50] lgirdwood commented on #1807
@ltune thanks, your log is showing that the firmware has booted. Is there any subsequent data in dmesg ?
The unexpected IRQ sometimes shows but is harmless. However the codec probe error usually is more serious and IIRC there have been some HDA updates in sof-dev recently to address similar issues. @kv2019i any comment on the codec probe ?

[2020-01-28 10:57] lgirdwood commented on #1798
@juimonen ok, can you take care of this, I guess it all falls into userspace/kernel integration.

[2020-01-28 11:44] dbaluta opened #1752 "[FEATURE] Add support for compressed playback"
**Is your feature request related to a problem? Please describe.**

We need compressed playback support in SOF.

**Describe the solution you'd like**

We need to be able to play compressed files through an alsa compressed interface. For tests one can use **cplay** utility.

Ideally this should be generic enough to be supported on **all** platforms, but for start we need to implement it on i.MX pla

[2020-01-28 12:57] kv2019i commented on #1807
@ltune wrote:

Hmm, #0 is your external HDA codec (speaker/mics/headset) and -2/NOENT tells that matching codec driver was not found. Can you make sure your kernel is compiled with all the HDA codec drivers included, e.g:

CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_ANALOG=m
CONFIG_SND_HDA_CODEC_SIGMATEL=m
CONFIG_SND_HDA_CODEC_VIA=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_CIRRUS=m

[2020-01-28 16:40] plbossart commented on #1752
@dbaluta you shoud probably add more details here, the mention of 'aac, bsac, dab, drm, mp2" hints at digital radio usages that are very different from the media playback. There may be missing frames (which somewhat breaks the elementary stream approach used by ALSA PCM and compressed APIs) and/or a need for error concealment that adds more constraints on the host/dsp communication and the DSP imp

[2020-01-28 19:52] dbaluta commented on #1752
@plbossart sure will try to enhance the feature description. I'm not very familiar with codecs myself, I only dug a little bit in the internals of mp3.

@tangleZ @TE-N-ShengjiuWang maybe you can add more details about the 'aac, bsac, dab, drm, mp2' codecs and their specifics. Did we encounter any specific issues when implementing the memory to memory decoding.

[2020-01-28 21:44] stripes416 commented on #1703
Update: I've been watching for this during manual testing on ICL for the last several days and I haven't seen it.

[2020-01-30 00:06] sathya-nujella opened #1756 "TGL: Sound card does not bind some times, showing hda codec probe error"
Log shows these errors:
[   19.827200] sof-audio-pci 0000:00:1f.3: codec #2 probe error, ret: -5
[   19.827378] sof-audio-pci 0000:00:1f.3: no hda codecs found!

response is not right for HDA commands:
[ 18.458082] sof-audio-pci 0000:00:1f.3: HDA codec sending probe
[ 19.460230] sof-audio-pci 0000:00:1f.3: HDA codec #2 probe STATUS: response: ffffffff

Our Chrome kernel already has the patches fro

[2020-02-03 04:57] TE-N-ShengjiuWang commented on #1752
One thing that we need to notice is that common API for all codecs is very important, which make the codecs be easier to be integrated.
Another thing is the error handling, different codec has a different error handling, it it better to unify them.

[2020-02-03 16:44] plbossart opened #1761 "Driver hardware period sizes/constraints should not come from topology"
Low-level hardware related restrictions/constraints don't belong in topology files. They should be set in platform-specific drivers.

We should also clarify why the need for exposing period sizes in the topology.

[2020-02-04 08:32] jason77-wang opened #1762 "[BUG][SOF DRIVER] the system will hang when suspending/resuming if sof_probe_continue() fails"
This issue is reproduced on sof-v5.0 and mainline-kernel-5.3, and I guess this issue also exists in the latest mainline kernel.

After enabled CONFIG_SND_SOC_SOF_PROBE_WORK_QUEUE (it is enabled by default), the sof init is divided into 2 phases, if the 2nd phase fails (sof_probe_continue), the 1st phase ( sof_pci_probe) still thinks the init is successful, and the snd_sof_suspend()/resume() will b

[2020-02-04 14:03] plbossart commented on #1762
it's fixed in the latest code, we worked on this with Takashi and @kv2019i

https://github.com/thesofproject/linux/pull/1746/commits

[2020-02-04 15:22] kv2019i opened #1763 "Playback to HDMI PCM stuck after monitor hotplug"
On some TGL platforms, playback to HDMI gets stuck in following condition:

- system booted, enters low-power state
- HDMI monitor connected via hotplug
- playback with SOF to HDMI PCM
      -> aplay gets stuck sending commands to HDMI codec (HDA verbs not getting responses back, no response via RIRB)

Problem does _not_ occur if:
- i915.disable_power_well=0
- i915 dmc firmware is disabled (has sa

[2020-02-04 15:58] kv2019i commented on #1642
#1713 now merged upstream, closing this.

[2020-02-04 15:58] #1642 closed

[2020-02-05 02:58] mengdonglin commented on #1762
Thanks @plbossart We'll apply and check the fix on https://github.com/thesofproject/linux/tree/release/sof-v5.0

[2020-02-05 17:33] #1763 closed

[2020-02-06 20:53] kv2019i commented on #1756
I believe this is now fixed with #1764 and #1767 -- combined patch is sent to alsa-devel today. Ok to close @sathya-nujella ?

[2020-02-06 20:57] kv2019i commented on #1719
@keqiaozhang I believe this same bug as #1763 (now fixed in sof-dev) and is triggered by difference in BIOS settings for HDA link values versus hw defaults. This  happen on JSL/TGL/ICL/GLK platforms and newer.

[2020-02-06 21:10] kv2019i commented on #1655
@sinahuang I see multiple PCM opens in the log. I assume these are from pulseaudio which is opening all the nods during boot. The error code in question (-16) is EBUSY, so all HDMI converters are taken when aplay tries to open it.

Could the problem be a race between pulseaudio and aplay in this case? You could try disabling pulseaudio temporarily and repeating the test.

[2020-02-06 21:13] kv2019i commented on #1651
@sinahuang Please try with patches #1763 and #1767 -- I believe these fix the problem.

[2020-02-07 00:55] plbossart commented on #1700
@marekfila unless you are doing advanced UCM stuff, you do not need anything specific from alsa-lib, the regular code in your distro should just work.

If you are doing development you should be using a more recent distribution anyways, not an LTS one. All the SOF team should use Ubuntu 19.10

[2020-02-07 09:26] jason77-wang opened #1770 "[SOF-V5.0] the sof driver randomly fails on a Dell machine"
When problem happens, the dmesg will print out:
[   50.211793] sof-audio-pci 0000:00:1f.3: CORB reset timeout#1, CORBRP = 0

Whenever we saw the CORB  reset timeout, the audio will fail to work and dmesg print the error logs as below:

sof-audio-pci 0000:00:1f.3: error: timeout waiting for stream reset
sof-audio-pci 0000:00:1f.3: error: hdac prepare failed: ffffff92
sof-audio-pci 0000:00:1f.3: err

[2020-02-07 09:27] jason77-wang commented on #1770
This is the dmesg when problem happens:
[fail1.txt](https://github.com/thesofproject/linux/files/4169945/fail1.txt)

[2020-02-07 09:27] jason77-wang commented on #1770
This is the dmesg we met this problem on the 2nd time:

[fail2.txt](https://github.com/thesofproject/linux/files/4169949/fail2.txt)

[2020-02-07 09:30] jason77-wang commented on #1770
The firmware we are using is v1.3-0f73628