[2022-03-01 16:35] plbossart commented on #3460
please attach the result of 'alsa-info' @jirisarri10, you did not provide any information that we can use.

[2022-03-01 18:13] liwg06 opened #3467 "dereferenced before null check"
"cstream" is null checked at line:55 but already dereferenced at line:49 https://github.com/thesofproject/linux/blob/8c868e59515a6ce352ea0e54857385f38b516305/sound/soc/sof/compress.c#L48-L57

[2022-03-03 00:21] plbossart commented on #3467
fixed -> closing

[2022-03-03 00:21] #3467 closed

[2022-03-03 00:22] plbossart commented on #3430
fixed upstream and part of our tree, closing. Thanks @tiwai and @cmurf

[2022-03-03 00:22] #3430 closed

[2022-03-03 00:27] plbossart commented on #3412
@realnickel can you give these topologies a try, it seems we used the wrong MCLK_ID1 which doesn't exist on CannonLake... Oh well.

[es8336-topologies-4.tar.gz](https://github.com/thesofproject/linux/files/8173800/es8336-topologies-4.tar.gz)

[2022-03-03 02:44] keqiaozhang opened #3473 "[BUG][IPC3] Header reply size is empty when running audio playback/capture test on ADLP/TGLU Zephyr platforms"
**Describe the bug**
We observed this issue on ADLP/TGLU Zephyr platforms and only SSP and SDW modes are affected. From the logs,  this failure only happens when testing playback or capture with S32_LE audio format. Not sure whether it's a coincidence or not.
This is more  like a warning, audio still can work after this error. CI test ID:10681
[code]

**To Reproduce**
$ ./sof-test/test-case/check-

[2022-03-03 08:59] giddie commented on #2971
Is there some way I can temporarily disable / re-enable the dmic while the driver is loaded? (I guess pipewire might have some function for this...) I live in constant fear of my laptop locking up when joining a work video call, because even though I use a headset, I have to open the KDE Plasma audio widget to switch mics after connecting it, and simply opening the widget can trigger this hard sys

[2022-03-03 15:33] plbossart commented on #2971
another work-around might be to use a topology where we don't expose any controls to userspace, if indeed changing the value results in an IPC. It's not clear what the root cause might be but might remove the transition leading to the bug.
@ranj063 can we force the controls to use fixed settings and disable changes?

[2022-03-03 15:50] ranj063 commented on #2971
@plbossart if a control has read-only access, then we wont be allowing any changes to it from userspace. Not sure if it was intentional but we do send the IPC to set the default value from topology for all controls even if they are read-only.

[2022-03-03 16:05] plbossart commented on #2971
why do we have a default value in topology for read-only stuff? That makes no sense. Could be a separate issue though.

[2022-03-04 02:02] #3465 closed

[2022-03-05 12:30] SpaLox1 commented on #3248
I can report some progress with openSUSE Tumbleweed, Kernel 5.16.11-1-default. System is a Chuwi Hi 10X Tablet device. Before doing the lastest update, a sound device was found and programs could play sound, but I could hear nothing.

Now I see a progress as follows:

(1)In Yast Audio settings, I now see a large list at the Options settings panel.

-Allow DSP driver selection (bypass this driver)

[2022-03-05 14:22] mchehab commented on #3248
At Huawei Mate D15, the driver starts with low gain (-48dB). I need to manually increase it using `alsamixer -D hw:0`. or with `amixer -D hw:0  sset Headphone 3`.

[2022-03-07 02:45] yangxiaohua2009 commented on #3248
amixer	cset name='Speaker Switch' on
	amixer	cset name='Headphone Playback Volume' 3,3
	amixer	cset name='Right Headphone Mixer Right DAC Switch' on
	amixer	cset name='Left Headphone Mixer Left DAC Switch' on
	amixer	cset name='DAC Playback Volume' 999,999
	amixer	cset name='Headphone Mixer Volume' 999,999

Open all the Kcontrols and you should be able to have sound

[2022-03-07 10:02] padmashree9110 commented on #3364
@plbossart @keqiaozhang any update on this issue?

[2022-03-07 14:21] SpaLox1 commented on #3248
Result:
5x
`amixer: Cannot find the given element from control default`

[2022-03-07 15:47] plbossart commented on #3248
You're not going to get much success with 5.16, the latest code for this type of devices is at https://github.com/thesofproject/linux/pull/3338, it'll land at best in 5.18

[2022-03-07 17:00] giddie commented on #2971
Unfortunately it seems that muting the dmic is not enough to prevent the system from locking up when it's enumerated in the KDE audio configuration widget.

So is there some way to disable just the dmic completely, without disabling the speaker too?

[2022-03-07 17:43] plbossart commented on #2971
We have a parameter that can set the number of dmics to zero, that would disable the dmic path entirely. Off the top of my head this should be this option to add in /etc/modprobe.d/alsa-base.conf

options snd-sof-intel-hda-common dmic_num=0

[2022-03-07 17:54] giddie commented on #2971
Thanks; that does indeed seem to work at a low-level, but pipewire then seems to reject the configuration, with the only available profile for the device being "Off", instead of the usual "Play HiFi quality Music". So I lose speaker output too :(

[2022-03-07 19:57] plbossart commented on #2971
Gah, this is probably an UCM file issue then. I vaguely recall some problems where the dmic_num=0. At the driver level, you should not see any microphone, which you can check with "arecord -l"

[2022-03-08 08:13] giddie commented on #2971
Yes, I'm sure that's the case. The card certainly shows controls in `alsamixer -c 0`. Could I edit / comment out sections of a UCM file somewhere to appease pipewire, maybe?

[2022-03-08 15:08] plbossart commented on #2971
@giddie yes if you comment out all the sections related to 'dmic' in /usr/share/alsa/ucm2/Intel/sof-hda-dsp/sof-hda-dsp.conf and HiFi.conf the dmic should be gone. Make sure you keep a backup before tinkering with configurations...

If.devdmic {
If.dmic {

[2022-03-08 16:49] IgorNovozhilov commented on #3460
@plbossart
Hi, I have a similar problem. May my information help to fixed the problem.
system info:
[code]
[code]

[alsa-info.txt](https://github.com/thesofproject/linux/files/8207971/alsa-info.txt)

[2022-03-08 17:17] plbossart commented on #3460
@IgorNovozhilov you have an ES8336 codec, you will need to use PR #3338 and likely additional patches to support this device.
[code]
There's no way your 5.13 kernel will work on such a device.

[2022-03-08 17:55] marc-hb commented on #3459
P1 because it's happening consistently:

https://sof-ci.01.org/sofpr/PR5485/build12238/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with-playback-5
https://sof-ci.01.org/softestpr/PR871/build1005/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with-playback-5
https://sof-ci.01.org/sofpr/PR5475/build12242/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with

[2022-03-08 18:26] IgorNovozhilov commented on #3460
@plbossart In which kernel release can we expect these fixes?

[2022-03-08 19:44] plbossart commented on #3460
5.18 at best, I just sent the patches to the maintainers.

[2022-03-09 01:31] plbossart commented on #3459
@marc-hb can you help find the first report of a failure? I am down to a spurious pm_runtime resume after a system suspend, no sure what is happening.

[2022-03-09 04:48] XiaoyunWu6666 opened #3520 "[BUG][IPC4] IO error on TGLU RVP and Upextreme when play with SSP0 and SSP2 simultaneously"
**Describe the bug**
when play with SSP0 and SSP2  simultaneously , IO error happened
FW error of  **FW reported error: 104 -Other failure of module instance initialization request**  happened first
and **FW reported error: 9 - Specified resource not found** followed

noticed that fw error happened in inner test from 10699 March 03 to 10854 March 09
but I haven't observed fw error after March 09
*

[2022-03-09 05:35] bardliao commented on #3520
@XiaoyunWu6666 @ranj063 `multiple-pause-resume.sh -l 3 -r 5` and `run two aplay simultaneously` may not be the same issue. I can't see `FW reported error: ` when I run two aplay simultaneously.
[dmesg_ssp_simultaneously_playback.txt](https://github.com/thesofproject/sof/files/8211926/dmesg_ssp_simultaneously_playback.txt)

[2022-03-09 06:33] realnickel commented on #3412
@plbossart, I tried to replace topology files and my setup still works like before. At least it seems to me so.
May be I am missing something I should pay attention for?

[2022-03-09 06:43] XiaoyunWu6666 commented on #3520
@bard  you were trying on your i11 extreme?

I tried `multiple-pause-resume.sh -l 3 -r 5` and `run two aplay simultaneously` on TGLU_RVP_NOCODEC , both these two can cause the same error (I mean  FW error Other failure of module instance initialization request  first and Specified resource not found later)

Are we using the same recipe?

[2022-03-09 09:43] jirisarri10 commented on #3460
Thank you very much, Pierre-Louis.
In the end I couldn't send any info because I installed Windows 10 (God help me!!!). I understand that in the new kernel 5.17 ES833 will still not work. A hug!!

[2022-03-09 11:56] bardliao commented on #3520
Yes.

Kernel: https://github.com/thesofproject/linux/commits/integration/ipc4-wip + https://github.com/thesofproject/linux/pull/3493.
Firmware: closed-source firmware
Topology: Should be the same as yours as there is only one topology for TGL nocodec now.

[2022-03-09 14:34] lgirdwood commented on #3520
@RanderWang @marcinszkudlinski fyi.

[2022-03-09 23:09] plbossart commented on #3412
Thanks for testing. It's possible that internally the registers are aliased and if you configure MCLK_ID1 you end-up configuring MCLK_ID0. Anyways, there's no regression so that's already good.

[2022-03-10 03:03] keqiaozhang opened #3506 "[BUG] [ADLP] KMOD test failed on ADLP_GMB_I2S_ZEPHYR"
**Describe the bug**
IPC tx timed out for DMA_PARAMS_EXT when inserting audio modules.  This issue only observed on this platform.
[code]

**To Reproduce**
$ sof-test/tools/kmod/sof_remove.sh
$ sof-test/tools/kmod/sof_insert.sh

**Reproduction Rate**
100%

**Expected behavior**
No IPC errors during the kmod test

**Impact**
Failed to setup widget PIPELINE.14.SSP2.IN

**Environment**
1) * Kernel: s

[2022-03-10 04:55] marc-hb commented on #3459
I think this came with 5.17, maybe with
- https://github.com/thesofproject/linux/pull/3461 ?

According to the TCR database, the very first check-suspend-playback/capture failure on TGLU_RVP_SDW happened on January 29th:

This was with
- linux/for-next/74cc53cf/linux-image-5.17.0-rc1-daily-default-20220128-0-13653-g74cc53cf59b6_5.17.0-rc1-linux-for-next-74cc53cf_amd64.deb
- sof/main/40d2f6688367/f

[2022-03-10 08:59] ujfalusi commented on #3459
@marc-hb, @bardliao, @plbossart, I think the reason for the error is:
https://sof-ci.01.org/linuxpr/PR3461/build7243/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with-playback-5
When it works the log looks like this:
[code]
When it fails:
[code]
So in case of error print the `in rt711_jack_init enable` means that `jack_detect_work` is scheduled to run in ~250ms, the sdw core got po

[2022-03-10 11:51] SpaLox1 commented on #3248
Thank you plbossard! So I think the next reasonable step for me is trying 5.18rc1 after its release. :)

[2022-03-10 13:24] keqiaozhang commented on #3459
@plbossart @marc-hb @ujfalusi  It took me more than 6 hours to bisect this issue, lucky me, I found the bad commit:
https://github.com/thesofproject/linux/commit/e38f9ff63e6d403f8e52302d223e3c5c110872ee
[code]

I tried to revert this commit on tip of sof-dev and verified this issue again, 3*30 iterations passed, no reproductions.

[2022-03-10 13:49] ujfalusi commented on #3459
@keqiaozhang, wow!

What I have found that the issue is really easy to reproduce on tglu-rvp-sdw:
[code]
Don't forget to `killall aplay`

[code]
If you would try `plughw:0,0`, it never happens, only if you use a PCM which does not have the rt711 in path.

Can you see if this is working as well? For me this is 100% reproduction rate.

[2022-03-10 14:12] keqiaozhang commented on #3459
@ujfalusi , I changed test script and only test hw:0,2 with suspend/resume.  I did a lot of test, no reproductions after reverting https://github.com/thesofproject/linux/commit/e38f9ff63e6d403f8e52302d223e3c5c110872ee. I'm pretty sure about the result.

[2022-03-10 14:14] ujfalusi commented on #3459
@keqiaozhang, I have checked as well and indeed the kernel with revered https://github.com/thesofproject/linux/commit/e38f9ff63e6d403f8e52302d223e3c5c110872ee is fine.

Let me attach the two dmesg, which is recorded before executing the rtcwake.
sof-dev: [sof-dev.log](https://github.com/thesofproject/linux/files/8224056/sof-dev.log)
with revert: [e38f9ff63e6d403f8e52302d223e3c5c110872ee_reverted.l

[2022-03-10 14:49] plbossart commented on #3459
yes, the issue is when we are playing on the speakers while the jack out path controlled by rt711 is suspended.
And the problem is that we resume the jack path which is already suspended - still no idea why it's related to this CID patch.

[2022-03-10 16:36] tomty89 opened #4591 "sof-jsl-es8336.tplg missing"
Although as of linux 5.16.13 (and sof-bin 2.0), analog sound still doesn't seem to work at all on my laptop. However, DP sound seems to work fine with `sof-jsl-es8336.tplg` provided [here](https://github.com/thesofproject/linux/issues/3210#issuecomment-942790456). Is there a reason it isn't provided/included here?

Btw although it shows/works on ALSA, pulseaudio does not show card profile for its

[2022-03-10 16:37] tomty89 commented on #4591
/cc @plbossart

[2022-03-10 16:42] plbossart commented on #4591
The patches for ES8336 support will be in 5.18, and you need the latest topologies that are not in sof-bin yet - they will be in the release 2.1.

If you want to experiment, try our development tree (topic/sof-dev branch) and the attached topologies
[es8336-topologies-4.tar.gz](https://github.com/thesofproject/sof-bin/files/8225344/es8336-topologies-4.tar.gz)

[2022-03-10 16:47] marc-hb commented on #4591
You haven't given any specific model number but I'm guessing the reason why it's not included is simply because ~no one submitted yet to the git repo the code and/or topology to support it~. That or it hasn't been released yet.

I'm guessing your laptop vendor supports only Windows, correct?

[2022-03-10 16:48] marc-hb commented on #4591
Closing based on @plbossart 's comment (that I saw right after I posted mine)

[2022-03-10 16:48] #4591 closed

[2022-03-10 17:45] marc-hb commented on #3459
https://en.wikipedia.org/wiki/Butterfly_effect
The double pendulum video is amazing.

[2022-03-10 19:53] ujfalusi commented on #3459
@plbossart, #3509 will show what is _skipped_ after that patch, when the results are in just:
dmesg | grep acpi_set_pnp_ids

The patch should exclude some CIDs in case the HID is not set for the device, right? So those CIDs are not going to be `acpi_add_id()`.

The issue I think is that the rt711 got woken resumed without sdw resume. Later on I think it is a bit different since there sdw is resumi

[2022-03-10 20:15] marc-hb commented on #3459
Is it worth comparing the output of acpidump with and without e38f9ff63e6d4 maybe? I diff-ed two acpidumps recently for a totally different reason and that wasn't too hard even with my ACPI ignorance.

https://wiki.ubuntu.com/Kernel/Reference/ACPITricksAndTips

[2022-03-10 20:22] ujfalusi commented on #3459
We have a list on TGLU_RVP_SDW device:
[code]
These are _not_ `acpi_add_id()`-ed, but still not explaining what is going on as the same set is excluded on CML_RVP_SDW and there things are fine. We should also print out what _is_ added for clarity?

[2022-03-10 20:46] plbossart commented on #3459
I think this is the problem, the only two devices on RVP that don't have an _HID are audio things (SoundWire and USB Audio offload).
I think the patch to reject those devices is invalid or needs to grand-father in such exceptions to the rule.

[code]

In theory it's not valid to have both _ADR and _CID, but that has been the practice for many moons already.

[2022-03-10 20:51] plbossart commented on #3459
@ujfalusi things are fine because CML_RVP_SDW uses a different RT700 codec where we don't schedule a jack detection workqueue. It's a combination of

a) doing a pm_runtime_resume before suspend (which is really not necessary if the codec is already pm_runtime suspended)
AND
b) the codec initialization scheduling a jack detection workqueue. This part is ONLY done for the RT711.

[2022-03-10 21:00] plbossart commented on #3459
Here's the TGL_RVP_SDW DSDT for reference.

[dsdt.dsl.txt](https://github.com/thesofproject/linux/files/8227151/dsdt.dsl.txt)

[2022-03-11 01:41] keqiaozhang commented on #2676
Error seen again:https://sof-ci.sh.intel.com/#/result/planresultdetail/10920?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-25

[2022-03-11 05:53] marc-hb commented on #3459
This failure has been impacting every single pull request and daily run for about 10 days. It's happening only for a specific test on a very specific product. While it seems far from resolution, its reproduction seems to be under control, it even has been bisected. Can we SKIP testing suspend/resume only on that particular product until this is fixed? We already know it keeps failing every time.

[2022-03-11 06:36] badriev commented on #3249
@dantefff @hselley does your microphone work with this solution?

[2022-03-11 06:49] ujfalusi commented on #3459
Right, but there is ADLP_RVP_SDW, which have the exact rt711 and it schedules jack detection, yet it passes.

Hmm, but the driver cancels the delayed works on suspend.
Hmm x2:
the driver cancels the works on suspend _if_ `rt711->hw_init` is **true**.
the `rt711_update_status()` sets `rt711->hw_init` to **false** if the status changes to SDW_SLAVE_UNATTACHED

What we see in the logs is that the har

[2022-03-11 07:37] dantefff commented on #3249
This is really an external sound card with its own microphone, so yes, with this solution you can connect a headset with integrated microphone and it works ok.

[2022-03-11 08:41] ujfalusi commented on #3459
To make things a bit more interesting:
It turned out I have one SoundWire laptop (Dell Latitude 9520, i5-1145G7) which happens to have rt711 headset codec as the rvp.

The same devices are w/o HID:
[    0.388302] ACPI: acpi_set_pnp_ids: CID without HID
[    0.388303] ACPI: acpi_set_pnp_ids:   CID #0/2: string: PRP00001
[    0.388304] ACPI: acpi_set_pnp_ids:   CID #1/2: string: PNP0A05
[    0.39145

[2022-03-11 12:35] astromatt42 commented on #2882
Hi Xiaoyun,
I can report back that this is still a problem intermittently

[2022-03-11 15:07] plbossart commented on #2882
@astromatt42 can you please clarity which kernel version and firmware version were used for your latest test? We've changed quite a few things on the boot flows since last year.

[2022-03-11 15:38] XiaoyunWu6666 commented on #3520
Sorry for misleading information , this failure is found with cavs fw + integration/ipc4-wip kernel , not sof.

[2022-03-11 21:20] plbossart commented on #3401
@Vamshigopal Is this problem still relevant? one month since the last update already.

[2022-03-11 21:25] plbossart commented on #3364
@padmashree9110 it's quite unclear what you might expect of us. We can only comment on experiments and results that YOU would be doing.

[2022-03-11 23:28] astromatt42 commented on #2882
Kernel version is 5.4.0-104

 dmesg | grep sof-audio
[    7.557207] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    7.558162] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    7.558174] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[    7.558367] sof-audio-pci 0000:00:1f.3: warning: No matching ASoC m

[2022-03-12 21:56] cujomalainey commented on #2767
This is done

[2022-03-12 21:56] #2767 closed

[2022-03-12 21:56] cujomalainey commented on #2766
@plbossart this is done now right?

[2022-03-14 05:49] Vamshigopal commented on #3401
@plbossart  yes we are still hitting this issue. Back to work after one month off, so couldn't track on this.
from #3459 i can see revert of this patch https://github.com/thesofproject/linux/commit/e38f9ff63e6d403f8e52302d223e3c5c110872ee  seems to be working. will give a try.
Please suggest any experiments/fixes if you have in list.
Thanks

[2022-03-14 13:48] giddie commented on #2971
That seems to have done the trick, although when restarting Pipewire the "Off" profile is selected by default, and I have to switch to "Play HiFi quality Music (unavailable)". Despite the name, speaker output seems OK, and the dmic is missing as intended :+1:

[2022-03-14 15:00] plbossart commented on #2882
@astromatt42 sorry, we can't support you with a 5.4 kernel version, it was one the first initial versions where SOF was integrated, and we've added a considerable number of fixes since. Even your firmware 1.6 is 4 releases behind the 2.0 December release.

[2022-03-14 15:04] plbossart commented on #3401
@Vamshigopal it's likely a different issue you're having, the timeout you reported is when accessing a standard register, while the error we see is due to a workqueue accessing vendor-specific registers. Plus you reported this error *before* that ACPI patch was upstream.

[2022-03-14 15:11] plbossart commented on #2766
For PCI only.

[2022-03-14 18:30] plbossart commented on #3063
https://github.com/thesofproject/linux/pull/3442 was merged on Feb 23, 2022 - almost 3 weeks ago. I haven't seen any reports of new problems, but I'd like to be sure before @bardliao sends this upstream in the next kernel cycle.

@marc-hb @keqiaozhang can you help us double-check if this suspend/resume problem was seen on any test on Google Volteer or TVL_RVP_SDW?

[2022-03-14 22:29] astromatt42 commented on #2882
No worries, I understand. Hopefully the provider of the display adapter software will patch up their code in the near future so it works with the 5.13 line. I have not experienced any other issues with 5.13 so far (which I am on when out of the office), so I will close this for now..

[2022-03-14 22:29] #2882 closed

[2022-03-15 15:19] cujomalainey commented on #2766
I don't see a need on legacy acpi platforms. OF is a different story

[2022-03-16 06:40] keqiaozhang opened #3522 "[BUG] Suspend/resume test failed on CML and TGL chrome devices"
**Describe the bug**
Recently, our CI detected the suspend/resume issue on 2 Chrome devices, One plaform is TGLU_VOLT_SDW and another one is CML_HEL_RT5682. There's no much logs available during the test, system failed to resume from suspending in the first round of testing.
From the history of our CI testing, we determined this is a kernel regression.
Bisect result shows that this issue is caused

[2022-03-16 14:57] Vamshigopal commented on #3401
with recent backport of our kernel(v5.15.25) , we are not able to reproduce the issue. 100 cycles passed without reproduction.
I will confirm the observation on multiple setups.
On side note- If i update topic/sof-dev kernel , my board is not stable, i see issues with i915 driver. This might be because some of i915 patches are not upstreamed yet.

[2022-03-16 15:31] marc-hb commented on #3275
Another useful explanation from @ujfalusi
- https://github.com/thesofproject/sof/issues/4333#issuecomment-1066550472

[2022-03-16 22:15] marc-hb commented on #3063
@plbossart can you be more specific, what are we looking for? I mean what specific messages in the logs, which test failures? I'm sorry but this issue is quite complex, I know absolutely nothing about soundwire and I lost the previous context entirely after a million of context switches.

[2022-03-17 14:17] plbossart commented on #3063
@marc-hb we're looking for this type of error

[code]

[2022-03-17 16:34] sathya-nujella commented on #2805
We are seeing similar reports from ADL projects also.

==
(can not share full log, but sharing snippet)

<6>[118443.870913] entering low_mem (avail RAM = 411600 kB, avail swap 1112004 kB, avail file 132464 kB, anon mem: 2999564 kB)
<4>[119911.540450] low_mem_check: 10 callbacks suppressed
<6>[119911.540453] entering low_mem (avail RAM = 411524 kB, avail swap 611836 kB, avail file 148680 kB, anon m

[2022-03-17 16:37] kv2019i commented on #2805
@sathya-nujella  This looks like something else. Here the Linux side memory alloc is failing:
<3>[184378.699314] sof-audio-pci-intel-tgl 0000:00:1f.3: error: memory alloc failed: -12

.. and as a result, DSP boot fails.

[2022-03-17 20:33] cujomalainey commented on #2805
@kv2019i yea that is what I concluded too, and top always reports about <250MB free when it happens

[2022-03-17 23:48] marc-hb commented on #3063
These message never appeared in TGLU_VOLT_SDW recently. The last two examples were in
10046?model=TGLU_VOLT_SDW&testcase=check-suspend-resume-50 and
10221?model=TGLU_VOLT_SDW&testcase=check-suspend-resume-50 which had already been reported above.

So it's hard to tell whether https://github.com/thesofproject/linux/pull/3442 made any difference because the problem did not reproduce either between r

[2022-03-18 00:00] marc-hb commented on #3522
@plbossart can we revert https://github.com/thesofproject/linux/commit/e38f9ff63e6d403f8e52302d223e3c5c110872ee while we investigate this issue? This will allow us to catch other, unrelated suspend/resume issues, something we can't do right now on this platform.

[2022-03-18 00:19] plbossart commented on #3063
@marc-hb not following your logic

Test 10221 was run on 2022-02-15 22:27:23 UTC
Test 10046 was run on  2022-02-08 22:28:34 UTC

The PR was merged on Feb 23, 2022

That tells me we haven't seen this problem since this PR was merged?

[2022-03-18 00:21] plbossart commented on #3522
Yes, we can revert, but I was waiting to see an upstream commit for the revert. I'll add this manually and we can revert-reapply later.

[2022-03-18 00:21] marc-hb commented on #3063
Yes, but we haven't seen this problem between Feb 15 and Feb 23 either. So who knows whether Feb 23 made any difference.

[2022-03-18 02:41] XiaoyunWu6666 commented on #3520
happened again in inner daily_IPC4 testresult  11165 on model TGLU_RVP_NOCODEC_IPC4 in testcase multiple-pause-resume-5

[2022-03-18 15:31] plbossart commented on #3063
well there was no change for SoundWire between Feb15 and Feb23 so there's no real difference to be expected between the two dates.

[2022-03-18 16:49] marc-hb commented on #3063
I guess what I'm saying is this bug seems to be happening so rarely that it's hard to tell whether any change makes any difference.

[2022-03-19 10:05] artsiomivanets commented on #3350
have same issue on my Honor Magicbook 14 view (Manjaro distro), since it has same audio card  CX8070.
Headphones and speakers play simultaneously when headphones are plugged in
Has anyone found a solution?
Kernel: 5.16
SOF: 2.0

[2022-03-19 10:16] cihatertem commented on #3350
There is no solution yet. I use BT headphone.

[2022-03-19 10:23] artsiomivanets commented on #3350
I see.
Thank you!

[2022-03-20 07:06] spacer2010 commented on #3350
No, I dosen't found any solution, sorry

On Sat, 19 Mar 2022, 14:23 Artem Ivanec ***@***.***> wrote:

[2022-03-21 01:46] keqiaozhang commented on #3522
https://github.com/thesofproject/linux/pull/3525 is merged, closing this issue.

[2022-03-21 01:46] #3522 closed

[2022-03-21 01:50] keqiaozhang commented on #3459
https://github.com/thesofproject/linux/pull/3525 is merged, closing this issue.

[2022-03-21 01:50] #3459 closed

[2022-03-21 17:50] cmurf opened #3530 "oops, 5.17.0-rc8, sof-audio-pci-intel-cnl 0000:00:1f.3: error: memory alloc failed: -12"
This seems to be a one off, I haven't seen it before. I only noticed it because a VM that should be running got clobbered somehow.

[code]
full journal
[journal.log](https://github.com/thesofproject/linux/files/8318088/journal.log)

[2022-03-21 20:33] pablos-here opened #3531 "[SoundWire] Kernel Oops on machine/codec driver remove"
**Describe the bug**
I was attempting to configure the sound card on my _Dell XPS 9700_ as the mic was not working (speakers work).  This resulted in a kernel call trace which I submitted a bug against[1] against my distro.

I distilled the developer's test case so blame me for non-intuitive cruft.  There are two conditions which cause the _oops_ - see below.

Just in case, I have captured separat

[2022-03-21 20:47] pablos-here opened #3532 "Mic not working, although speakers are ... speaking"
Hi,
This is a place marker to potentially avoid new issues created until issue #3531 gets addressed.  It affects my _Dell XPS 9700_.

[2022-03-21 23:34] plbossart commented on #3531
@looney-loon Can you try and remove the parent PCI device first to see if this helps? this is what we do in our remove/insert tests. I am not sure if we've ever tested removing the machine driver this way.

[code]

[2022-03-21 23:35] plbossart commented on #3531
For reference, these are the scripts we use:

https://github.com/thesofproject/sof-test/blob/main/tools/kmod/sof_remove.sh
https://github.com/thesofproject/sof-test/blob/main/tools/kmod/sof_insert.sh

[2022-03-22 00:49] plbossart commented on #3531
I can reproduce the problem, see tentative fix at https://github.com/thesofproject/linux/pull/3534/commits/8274036a367c48128c5c0516872548abfcf5db27 PR https://github.com/thesofproject/linux/pull/3534

[2022-03-22 00:54] plbossart commented on #3532
please don't do this, create REAL issues with details, and certainly playing with modprobe is not going to make things better.

We've supported XPS 9700 for 2+ years now, please clarify what the problem is.

[2022-03-22 00:59] plbossart opened #3535 "rmmod/modprobe machine driver fails to reload topology"
The following sequence generates the log below

[code]

[code]

@bardliao @RanderWang any idea what could be wrong? Machine parameters maybe?

[2022-03-22 02:09] pablos-here commented on #3531
[code]

Hi Pierre-Louis,

I just tested the commands above and it works.  I'll update the SUSE bug.

Glad the issue netted something productive on your end.

Let me know if you'd like me to close the issue or whether your workflow handles it.

Merci beaucoup!

[2022-03-22 03:15] pablos-here commented on #3532
Hi Pierre-Louis,

Clearly the connection between the two issues was lost.  My bad.  I didn't mean my tongue-and-cheek message to insult anyone.

_Hitting the big old red reset button ... :) .... take two ..._

The problem is this _Dell XPS 9700_'s microphone does not capture any sounds.  The speakers work well.

The laptop is Linux-only.  I have set up pipewire for my user.

Before I converted it,

[2022-03-22 03:19] bardliao commented on #3535
@plbossart We check [if (!cpu_dai->capture_widget)](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/topology.c#L1016) and [if (!cpu_dai->playback_widget)](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/topology.c#L1038) in sof_connect_dai_widget. But we don't set cpu_dai->capture_widget and cpu_dai->playback_widget = NULL in `sof_widget_unload`.
Tha

[2022-03-22 03:30] bardliao commented on #3535
And this is not SDW specific. I can see the same issue on nocodec mode.
[code]

[2022-03-22 10:32] bardliao commented on #3535
@plbossart The `kernel NULL pointer dereference` happens at [snd_hda_codec_set_name(hcodec, hcodec->preset->name)](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/hdac_hda.c#L441) where `hcodec->preset` is NULL.

[2022-03-22 12:53] plbossart commented on #3532
You need to use alsa-ucm-conf for all mixer settings, see https://github.com/alsa-project/alsa-ucm-conf
This should be packaged by your distro and settings applied by PipeWire.

If you want to try at the alsa hw:device level, you need to do something like

alsaucm -c sof-soundwire set _verb HiFi set _enadev Mic
arecord -Dhw:0,4 -c2 -r48000 -f S16_LE file.wav

[2022-03-22 14:26] pablos-here commented on #3532
Hi,

Thank you for the quick response.  Unfortunately after trying what was suggested, the mic is still not capturing anything.

When convenient, please advise on next steps.

Here's what I did:

**alsa-ucm-conf**

1. Downloaded the latest bits
2. I used `tar` to overlay `ucm/` and `ucm2` in `/usr/share/alsa`

To ensure a clean slate, I rebooted after the above.

**alsa test**

As instructed, I us

[2022-03-22 14:35] plbossart commented on #3532
I don't have any real ideas to suggest @looney-loon. We've supported this device for a very long time and never had any reports of microphone issues.

Can you double check if the headset capture works?
Can you also check if there's no mic mute led button set (F4)?

[2022-03-22 14:59] pablos-here commented on #3532
Hi @plbossart,

Great idea.  I forgot about the jack and that I had tested it before.

I tested the jack and it works.

In my web searches, I have found many old posts about the microphone not working but they were related to older versions of the kernel and/or SOF.

I just had a thought .... I'm going to download a _Live CD_ of an older distribution and give that a shot.  Sometimes I miss the obv

[2022-03-22 15:07] plbossart commented on #3532
I would recommend testing with Fedora 35, it's got the best support for SoundWire and UCM.

[2022-03-22 20:22] plbossart opened #3541 "[IPC4-WIP] [SKL/KBL] xrun with multiple-pause-resume"
test wit https://github.com/thesofproject/linux/pull/3540

SOF_LOGGING=none TPLG=/lib/firmware/intel/avs-tplg/sof-hda-generic.tplg /root/sof-test/test-case/multiple-pause-resume.sh -l 1 -r 25

[code]

[2022-03-22 20:50] pablos-here commented on #3532
W00t!  Great information!

First, awesome tip to use _Fedora 35_.  Merci !

Mic + speakers worked with both GNOME and KDE.

The interesting thing is _Fedora 35_ is using several rev back versions of software.

For example, the kernel is 5.14.10 vs what I'm currently on (5.16.15).

Just for grins, I checked the KDE version and it's quite old:  5.22.5 vs 5.24.3 (latest).

Back on point:  with your d

[2022-03-22 20:56] plbossart commented on #3532
I don't have a silver bullet here, this looks like a userspace and distro configuration issue where there are just tons of variables/dependencies.
Fedora35 has all the latest PipeWire/Wireplumber/UCM so that's probably where the issue is. I don't think the kernel matters, we've supported this device for 2 years now so 5.14 should be just fine.

[2022-03-22 20:59] pablos-here commented on #3532
The objects you listed is direction.  I appreciate it.  I'll circle back to my distro and find a subject matter expert.  I'm sure we can nail the issue.

Thanks again and have a good one!

[2022-03-22 21:06] tiwai commented on #3532
Pierre, it's other way round -- the openSUSE Tumbleweed is a rolling distro, hence may have even much newer versions than Fedora (e.g. 5.16.x on openSUSE TW while 5.14.x on Fedora, etc).

So, although it's likely some missing configuration or weird combination, it's also possible that something got regressed in the recent versions, too.

In anyway, the best way to compare would be to take alsa-inf

[2022-03-22 21:14] ranj063 commented on #3541
same issue seen with KBL too

[2022-03-22 21:14] plbossart commented on #3532
Thanks @tiwai that's very interesting. Is this the moral equivalent of rawhide for Fedora?

[2022-03-22 21:29] pablos-here commented on #3532
Tumbleweed is indeed the functional equivalent (unsure of the morality angle here!  :D) of Rawhide.

@plbossart - would you like me to test with a _Live DVD_ of the latest Rawhide drop?  Or should I first do @tiwai test.

I'll reopen this issue.  :)

[2022-03-23 05:56] ranj063 opened #3543 "IPC errors during suspend with paused streams"
IPC errors while freeing widgets when suspending while a PCM is paused. The following error is seen with HDA topology on the WHl Up extreme. But, the issue should be easily reproducible with all topologies

[  138.553487] PM: suspend entry (deep)
[  138.565510] Filesystems sync: 0.012 seconds
[  138.575593] Freezing user space processes ... (elapsed 0.002 seconds) done.
[  138.577862] OOM killer d

[2022-03-23 06:46] juimonen commented on #3520
@ranj063 did we get some clarity for this? I think the idea was that we are missing some crucial id in driver side and actually giving commands the same SSP instance...

[2022-03-23 07:47] bardliao commented on #3520
@juimonen I saw 2 issues on my side.
1. We didn't set node index to node_id for SSP.
`copier_data->gtw_cfg.node_id |= SOF_IPC4_NODE_INDEX(ipc4_copier->dai_index);`
I am not sure if this should be done when we get blob. I.e. From intel_nhlt_get_endpoint_blob maybe.
2. After solving the node_id issue, I still got IO error when I start the 2nd playback.
This one can be "fixed" by increasing dma_buffe

[2022-03-23 09:45] bardliao commented on #3520
@ranj063 `copier_data->gtw_cfg.node_id |= SOF_IPC4_NODE_INDEX(ipc4_copier->dai_index);` for SSP dai is not quite right.
The struct of SSP Node index is
[code]

So the `ipc4_copier->dai_index` is actually `time_slot_group_index`, and that's why SSP0 and SSP1 shared the same DMA buffer in our test.
But if I try with `copier_data->gtw_cfg.node_id |= SOF_IPC4_NODE_INDEX(ipc4_copier->dai_index << 4);`,

[2022-03-23 12:58] pablos-here commented on #3532
Hi,

If it's okay with everyone, let's keep things somewhat simple and not introduce Rawhide.

I've collected some data between working and non-working environments for analysis.  Please let me know if additional data is required.

**Working**
[alsa-info.Fedora.txt](https://github.com/thesofproject/linux/files/8333097/alsa-info.Fedora.txt)

_Recording is low_
Now that I've tried to actually record

[2022-03-23 15:02] plbossart commented on #3520
Bytes v. word confusion @bardliao ?

[2022-03-23 15:09] ranj063 commented on #3520
@bardliao let me verify this change on my voxel

[2022-03-23 15:09] ranj063 commented on #3520
@plbossart the expected dma_buffer_size is in bytes and the value we're setting is also in bytes

[2022-03-23 15:15] ranj063 commented on #3520
@bardliao no this is incorrect. copier_data->gtw_cfg.node_id |= SOF_IPC4_NODE_INDEX(ipc4_copier->dai_index); is the right way to set the node_id. The FW assign the i2s_instance based on the node_id set above from the host

[2022-03-23 15:52] plbossart commented on #3541
solved with firmware update

[2022-03-23 15:52] #3541 closed

[2022-03-23 18:26] plbossart commented on #3532
I see significant differences in the rt715 controls, e.g.

TW:
Simple mixer control 'rt715 LINE1 Boost',0
  Capabilities: volume
  Playback channels: Front Left - Front Right
  Capture channels: Front Left - Front Right
  Limits: 0 - 3
  Front Left: 2 [67%]
  Front Right: 2 [67%]
Simple mixer control 'rt715 LINE2 Boost',0
  Capabilities: volume
  Playback channels: Front Left - Front Right
  Captu

[2022-03-24 03:52] ranj063 commented on #3520
@bardliao you are right the node index is indeed bits 4-7 for SSP. After setting it correctly, the multiple pasuse-resume test passes for me

[2022-03-24 05:13] RanderWang commented on #3520
yes, it should be in bits 7 ~ 4. SOF FW has been fixed by COE team

[2022-03-24 05:33] bardliao commented on #3520
@plbossart The node index will be translate to a i2s node index struct which is
[code]
The existing node index will map to the `time_slot_group_index` field, and `<< 4` is to map it to `i2s_instance`
See https://github.com/thesofproject/linux/pull/3548

[2022-03-24 16:34] pablos-here commented on #3532
Hi @plbossart ,

We have been conducting trials and your suspicions were correct:  it was an environmental issue.  A state file needed to be re-gen'd.  After which, the world rejoiced.

Merci beaucoup for your help.  I very much appreciate it!!!

Have an excellent day.

[2022-03-24 16:44] #3543 closed

[2022-03-25 09:04] tiwai commented on #3532
FWIW, some details are found in https://bugzilla.suse.com/show_bug.cgi?id=1197434

Though, I wonder whether it's rather some missing pieces in UCM profile.  That is, a mandatory path setup for the mic recording might be missing in rt715 codec, and it casually works with the default parameter for now.

[2022-03-25 10:52] pablos-here commented on #3532
I'm dedicated to contributing back in a testing capacity.  If there is _anything_ further I can do to gather data, please do not hesitate to ask.  Thx!

[2022-03-25 11:50] realnickel commented on #3412
@plbossart, as for "backported vendor driver" mentioned by me at the top post, I grabbed pa-enable detection code from it and commit:
  https://github.com/realnickel/sound/commit/3574d6e683c94dbdf7d92bf24bb2a1b4eab3cfdc
  gives me working pa-enable detection and ability to control speakers.
  Unfortunately this code replaces current detection code and looks like a hack.
  In your opinion what is t

[2022-03-25 16:03] plbossart commented on #3412
I am not sure I understand this patch @realnickel. It looks like the GPIO is not exposed in ACPI at all? Have you tried with the two existing quirks for GPIO?

If indeed there's nothing, then we probably need to add a GPIO manually but that seems like a major hack to me.

[2022-03-28 06:45] #3364 closed

[2022-03-28 06:46] padmashree9110 commented on #3364
This issue got resolved after reinstalling ubuntu. Thanks for the support.

[2022-03-28 08:19] mengdonglin commented on #3401
Close this issue as 'can't reproduce'

[2022-03-28 08:19] #3401 closed

[2022-03-29 23:13] mchehab commented on #3248
Part of the problem is due to the lack of UCM configuration. @plbossart already submitted some patches, but, at least on my tests with Huawei Matebook D15, I had to do some extra changes there.

I already submitted a PR to the project:
   https://github.com/alsa-project/alsa-ucm-conf/pull/144

with the changes I did on my fork at https://github.com/mchehab/alsa-ucm-conf

It would be worth if more

[2022-03-30 13:32] codesalatdev commented on #3248
Matebook D 14 (NBLB-WAX9N): Speakers work, no mic. When headset is connected, I get both correct output and input displayed, but output is always "redirected" to speakers and I don't get sound from the mic.

[2022-03-30 17:35] darkkaze commented on #3249
https://www.phoronix.com/scan.php?page=news_item&px=Linux-5.18-Sound

In addition to the AMD PDM driver work, other new sound hardware support in Linux 5.18 includes the Atmel PDMC, Awinic AW8738, i.MX cards with TLV320AIC31xx, Intel systems with CS35L41 and ESSX8336 codecs, MediatekMT8181 WB Bluetooth, NVIDIA Tegra234, Qualcomm SC7280, Renesas RZ/V2L, and TI TAS585M. The Tegra234 support gets aud

[2022-04-01 13:29] giddie commented on #2971
The failure happened again, with the dmic disabled in Pipewire. I did not use the `dmic_num=0` option for the `snd-sof-intel-hda-common` module, though. I don't actually know for sure that it's the dmic code path that's to blame.

[kernel.log.gz](https://github.com/thesofproject/linux/files/8398109/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/8398110/sof-log.gz)

[2022-04-02 15:32] pablos-here commented on #3532
Hi,

Recently I tested my mic and found it not working again.  With @tiwai's help, tracked [here](https://bugzilla.suse.com/show_bug.cgi?id=1197434), I whittled down a reproducible test case.

The `alsa.cfg` file cited below and `alsa-info.txt` can be found in the **Additional information** below.

Thanks a lot for your help!

## Test case
1. **Prepare rig**
2. Confirm mic is working - [simple onl

[2022-04-02 22:46] andersk commented on #3530
I have been seeing this too on my ThinkPad X1 Yoga (Gen 4).

The NULL dereference is fixed by torvalds/linux@b7fb0ae09009d076964afe4c1a2bde1ee2bd88a9, but even with that fix, sound still breaks and never recovers.

[code]

[2022-04-04 14:45] ranj063 commented on #3530
@andersk could you please share the full logs? It looks you have a memory allocation error and it will be good to see what lead to this.

[2022-04-04 16:18] plbossart commented on #3249
The list above mentions "Intel systems'

[2022-04-04 16:48] plbossart commented on #3530
There is no way we can recover here if there's not enough memory. We should really look into why there's no memory left, that's puzzling given than audio uses very little memory compared to video or graphics. Either we have a memory leak on the audio side, or other systems use way too much.

[2022-04-04 21:05] andersk commented on #3530
Here’s the [kernel log from that boot](https://github.com/thesofproject/linux/files/8413148/log.txt), but there’s nothing in the five minutes before “error: memory alloc failed: -12”. I think it happened (in the host) when a virtual machine I’d booted in virt-manager tried to play a sound.

[2022-04-04 21:19] plbossart commented on #3530
Humm, this is not a random allocation failure but something that would happen when failing to allocate DMA pages.
Could it be a permission issue or a case where the virtualization uses the 'wrong' driver?

[code]
[code]

[2022-04-04 23:06] mchehab commented on #3248
If this is identical to Matebook D15, if you use https://github.com/alsa-project/alsa-ucm-conf/pull/144, the internal dmic should work.
For the headphone to work, though, more is needed.
Based on my tests, on such notebook, gpio0 controls the speaker output, while gpio1 controls the headphone output. Some changes at the driver is needed for it to use both. I have already an initial version, but ad

[2022-04-05 00:10] mchehab commented on #3248
Headphones are now working with Huawei Matebook D15 with those patches:

https://github.com/mchehab/linux/commit/27f3e6b22aeb1b0de1d5a16928774c6b2b70294b
https://github.com/mchehab/linux/commit/0fdb8cd1c26408da870801f425f118a1bec44518

The only thing not working yet is the headset's microphone.

[2022-04-05 07:55] fcsm1922 commented on #3248
@plbossart
Good afternoon.
There is a laptop Huawei Matebook 14 2021 (Intel version)
At first I tried to reanimate the sound with the topology that is in the subject, the speaker icon appeared (but there was no sound)
I updated the kernel to 5.18-rc1 mainline, now the speaker is crossed out, there is no sound either ...
what to do? remove all topology files (es8336 related) from /lib/firmware/inte

[2022-04-05 15:22] plbossart commented on #3248
@fcsm1922 please try to update to the latest topologies, I am not sure what you are using.

[es8336-topologies-4.tar.gz](https://github.com/thesofproject/linux/files/8419519/es8336-topologies-4.tar.gz)

If this doesn't work, please enable dynamic debug by copying this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/8419534/sof-dyndbg.conf.txt) to /etc/modprobe.d/sof-dyndbg.

[2022-04-05 19:19] fcsm1922 commented on #3248
@plbossart
did as you asked. I just copied the contents of the es8336-topologies-4.tar.gz archive to the /lib/firmware/intel/sof-tplg folder,
rebooted. The sound adjustment icon has become active (you can change the volume level), but the sound from the speakers is still No! I attach the result of alsa-info http://alsa-project.org/db/?f=615d07b3832bbfe5e8c96d923fee4ac892b3e8f4

[2022-04-05 20:31] mchehab commented on #3248
Did you install UCM support for it? If not, pulseaudio (or pipewire) may be doing the wrong thing.

Here (Matebook D15), besides `es8336-topologies-4.tar.gz`, I'm using a Kernel 5.17 + es8336 patches from this branch:
   https://github.com/mchehab/linux  sound-es8336

Which contains vanilla Kernel 5.17 + @plbossart patches + 2 patches from me to fix headphones for MateBook D15, as D15 uses a diffe

[2022-04-05 22:15] plbossart commented on #3520
@ranj063 @XiaoyunWu6666 isn't this fixed according to test reports? can we close?

[2022-04-05 22:57] ranj063 commented on #3520
fixed by #3548

[2022-04-05 22:57] #3520 closed

[2022-04-06 05:57] fcsm1922 commented on #3248
Hi @mchehab ! I realized you that I need from the branch https://github.com/mchehab/alsa-ucm-conf
Its content to copy it to / usr / share / alsa and run a script that you are given in komentiya above?

[2022-04-06 09:26] fcsm1922 commented on #3248
@mchehab
I run the script and it says /usr/bin/install: failed to run statistics for 'ucm2/Intel/sof-essx8336/*.conf': No such file or directory. before that I copied both ucm and ucm2 folders to /usr/share/alsa

[2022-04-06 19:46] pyvlad commented on #3249
Apple's USB-C to 3.5 mm Headphone Jack Adapter is even smaller, works like a charm (although it does take a USB-C port instead of the USB which may be undesirable for some users).

[2022-04-07 10:44] fcsm1922 commented on #3248
Any ideas how to solve my problem? @mchehab, @plbossart

[2022-04-07 12:59] Neo-29 commented on #3248
Tested on teclast f15 plus 2 with your config.
No success
The hardware is detected in gnome.. But doesn't give any sound

[2022-04-07 16:33] jbbandos commented on #2955
In case anyone is interested, kernel 5.16.0-18.1-liquorix-amd64 in MX linux seems to have most of the fixes. I only had to go to alsamixer and increase dac gain to 80 and disable dac mono mix. to have decent sound. It still doesn't set the master channel in pulseaudio.
A big thank you to all the sof project.

[2022-04-07 19:24] mchehab commented on #3248
Well, the install script basically copies stuff at  /usr/share/alsa (install is just a fancier way to copy and change user/permission at the same time). You need to call it from the place where you cloned the alsa-ucm-conf tree, e. g.:

[code]

or you can manually run each command there.

Btw, please check this comment:https://github.com/alsa-project/alsa-ucm-conf/pull/144#issuecomment-1092111198

[2022-04-08 18:30] SpaLox1 commented on #3248
Hi,
I installed openSUSE Tumbleweed experimental kernel 5.18.0-rc1-2.g11acc76-default. I also tried to add plbossard's tplg files for 8336 and the patches and the script by mchehab. The system is a Chuwi Hi 10X tablet.

Results:
1) Still no sound :(

2) I now have a lot of audio output devices:
-Celeron/Pentium Silver Processor High Definition Audio HDMI / DisplayPort 1 Output
-Celeron/Pentium Sil

[2022-04-08 19:17] mchehab commented on #3248
If you're hearing something at the speaker, it probably means that the speaker's amplifier is energized - which is kinda weird as it should be turning it on only when playing some music.
What happens if you play a music? does the noise keep there or does it shut up?

[2022-04-08 21:01] marc-hb commented on #3387
Here's another interesting issue that happened in daily 11687?model=TGLH_SKU0A70_HDA&testcase=volume-basic-test-50

[code]

Note the 35 minutes gap!

@plbossart is there an easy way to reduce the log volume of this test? ~sof-logger has the ability to fine-tune per component log levels at run time~ silly me these are kernel logs.

Tracepoints maybe? https://github.com/thesofproject/linux/pull/3482

[2022-04-08 22:02] plbossart commented on #3387
Indeed this GLB_TRACE_MSG: DMA_POSITION is not very useful, we should check if we can remove it.

[2022-04-08 22:05] plbossart opened #3577 "[SKL] fix firmware version info"
Adding an issue so that we don't forget this one @ranj063 @bardliao @ujfalusi. These messages are likely all wrong in the first place, not sure what 336 refers to.

[code]

[2022-04-08 23:32] lkraav commented on #1879
Now on kernel 5.17.2, SOF 2.0, PulseAudio 15, ALSA 1.2.6 I've reached this state:

http://alsa-project.org/db/?f=6650c17f233314e80481d7aeb4c74019a01c3d6d

Unfortunately, seems like still with failing with `I: [pulseaudio] alsa-util.c: Error opening PCM device _ucm0001.hw:sofhdadsp,6: No such file or directory`

[code]

Could I somehow disable this last PCM device in UCM configuration to see if res

[2022-04-09 00:03] lkraav commented on #1879
**WINNING** @plbossart

I deleted `,6` device from UCM config by hand, and amazingly, everything sprang to life.

![image](https://user-images.githubusercontent.com/147228/162547766-6a8daa71-9be9-4ae5-8ad9-988050d7e9b7.png)

Input device says "Headphones Stereo Mic", but it also seems to work fine for laptop built-in mic - I just successfully recorded a test clip to make sure.

These were the modu

[2022-04-09 08:28] Neo-29 commented on #3248
Same experience.
A click sometimes coming.
A little background noise in the headphone if plugged.
No sound in speakers

[2022-04-09 15:13] quintafeira commented on #3248
I got it working in a glk device with kernel 5.16.x on Arch Linux and sof-firmware v2.0. My devices were recognized, but there were no sound. The problem was my webcam was being detected as the default audio card (the webcam has a microphone). I just created a .asoundrc file in ~/ and set the default audio card correctly. Then, I ran all the commands listed [here](https://github.com/yangxiaohua200

[2022-04-09 15:18] Neo-29 commented on #3248
Can you give details step by step on what you exactly did?
Including the creation of soundrc file and whet you put in

Interesting.

[2022-04-09 15:32] quintafeira commented on #3248
To create the .asoundrc file, I first needed to identify the correct sound card. To do this, I just ran:
[code]
It will list all sound cards and devices available. You'll need to identify the correct one.

Then, I created the .asoundrc file in my home dir. The file look like this:
[asoundrc_example.txt](https://github.com/thesofproject/linux/files/8457233/asoundrc_example.txt)

Then I ran the comm

[2022-04-09 15:36] Neo-29 commented on #3248
The pb is I've got " dummy output" now instead of the card in the settings...
Strangely with 5.17 first I had the good card ( no sound) and as a sudden...dummy..

Did you change something in alsa folder first?
Does your mic works?

[2022-04-09 15:38] quintafeira commented on #3248
I didn't change anything in the alsa folder.
The mic works fine.

[2022-04-09 15:41] Neo-29 commented on #3248
No mic for me...
Which brand is your computer?

[2022-04-09 15:44] quintafeira commented on #3248
The brand is Positivo (it's a brazilian brand). But it's gemini lake, not a comet lake.

You can also try the topologies and alsa ucm confs [here](https://github.com/yangxiaohua2009/custom-kernel). I got it working on debian with these.

[2022-04-09 18:03] Azrail6666 commented on #3248
Thank you for your help. Checked for performance on Huawei MateBook D15 BOHB-WAX9-PCB-B2 board. Work with
https://github.com/mchehab/alsa-ucm-conf, https://github.com/mchehab/linux/commit/0fdb8cd1c26408da870801f425f118a1bec44518 and https://github.com/thesofproject/linux/files/8419519/es8336-topologies-4.tar.gz

[2022-04-10 08:30] mchehab commented on #3248
Kernel 5.18 doesn't have the patches from my patch series, as they where merged at sound tree on Friday:
   https://lore.kernel.org/all/cover.1649357263.git.mchehab@kernel.org/

I've no idea what quirks would be needed for Chuwi Hi 10X (or for any other device but MateBook D15). Only the manufacturer knows (or someone needs to test it). Basically, with 5.18-rc1, there are two quirks that aren't au

[2022-04-10 08:45] Neo-29 commented on #3248
This is good... But... It just for huawei or any other brand using comet lake?

[2022-04-10 08:47] mchehab commented on #3248
The quirks are vendor-independent. The last patch from my series is specific to the device I own (Huawei Matebook D15): https://lore.kernel.org/all/d678aef9fc9a07aced611aa7cb8c9b800c649e5a.1649357263.git.mchehab@kernel.org/

[2022-04-10 08:58] Neo-29 commented on #3248
Yep... I'm stuck with my teclast F15 plus 2....
If any suggestions I'm in.
I'm wondering if there's a chance of a fix in 5.18? Or is it related to alsa ucm too?
I'm noob in that field....
Just trying to understand and finding a temporary solution

[2022-04-11 09:40] fcsm1922 commented on #3248
For any combination of parameters snd_soc_sof_essx8336 quirk=10,20,40,80,180,190,100,
Without sound. Switching to headphones and back to speakers is detected correctly.
what should alsamixer look like when run with working sound?
my model is KLVD-WFH9 (intel version)

[2022-04-11 11:52] mchehab commented on #3248
Be careful: if you want to use hexadecimal values like above, you need to prepend "0x" to the values e. g., it should
be ` snd_soc_sof_essx8336 quirk=0x10` for "10" hexadecimal value (or `snd_soc_sof_essx8336 quirk=16` for decimal one).

Alsamixer (`alsamixer -D hw:0`) should look like this:
[code]
The `speaker` button can be toggled with the `M` key. At the above, it is muted (sound goes to headp

[2022-04-11 12:09] fcsm1922 commented on #3248
Any ideas how to solve my problem?
Yes, everything is true if you choose in the terminal (Alsamixer -D HW: 0), then it is displayed as yours. And if you simply enter the terminal (Alsamixer), in the PipeWire field will be selected in the (Card) field.
Regarding HEX, I know how to write correctly .... 0x10 and so on.

But there is no sound (I tried many different options (SND_SOC_SOF_SESSX8336 Quir

[2022-04-11 12:26] mchehab commented on #3248
Well, I would try first to play/record directly from the hardware, bypassing pipewire/pulseaudio, with:

[code]
and record with:
[code]

I'm running out of ideas. I would expect that other devices from the same manufacturer to be wired the same way. Could you provide the output of dmidecode from your hardware?

You could turn on the debug logs and post here. Maybe someone else may have some other

[2022-04-11 12:30] fcsm1922 commented on #3248
tell me how to do it?

tell me how to do it?

[2022-04-11 12:40] ujfalusi commented on #3577
@plbossart, what firmware are you booting? Do you have the `Loaded firmware version:` printed prior? The booted fw version is printed when we parse the FW_CONFIG read from the firmware and only printed if we found the `SOF_IPC4_FW_CFG_FW_VERSION` config block.

[2022-04-11 14:43] SpaLox1 commented on #3248
I tried the 0x10, 0x20, 0x40 and 0x80 quirks with the 5.18rc1 kernel, but with no success. But I recognized that the noise at the speakers was getting a little bit louder when a program played sound, and got more silent again a few seconds after the playback was finished.

Unfortunately I have no idea how to git-clone your patched 5.17 kernel. I'm not that experienced and usually rely on my packag

[2022-04-11 15:19] plbossart commented on #1879
@lkraav can you retry without this "options snd-intel-dspcfg dsp-driver=3"? The legacy driver should work out of the box.

Alternatively, please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/8465384/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the full dmesg log. The NHLT is not limited to DMICs, it contains information on other inte

[2022-04-11 16:33] plbossart commented on #3577
we're booting the closed-source firmware with IPC4. Here's the full log from the start - I don't see a "Loaded firmware version".

[code]

[2022-04-11 18:10] mchehab commented on #3248
`sudo dmidecode`

Place this on a file under `/etc/modprobe.d` and reboot it:

[code]

then, use:

```dmesg```

to see the Kernel logs.

[2022-04-11 18:37] mchehab commented on #3248
```git clone https://github.com/mchehab/linux.git -b sound-es8336```

or, if you already cloned from it, you could just use `git checkout -b origin/sound-es8336`.

Yeah, some of the settings could be related, but hard to say what applies there ;-)

If this device has digital mic, I would expect DMIC to be enabled.

The clock frequency should likely match what's set at the driver.

I suggest you to

[2022-04-11 19:00] plbossart commented on #3248
What device is this on again @SpaLox1? The INT343A is used to point to the Realtek RT286 or RT298, which is completely irrelevant here. Likewise you shouldn't have to select DMIC or not, this should be done for you by the OEM.

This has no influence for ES8336 support, we don't use HDaudio codecs. This link is only used for HDMI.

Looks like you have a copy of the Intel development BIOS with way t

[2022-04-12 02:37] pablos-here commented on #3532
Hi,

Any thoughts on this issue?  Thanks a lot!

[2022-04-12 06:15] ujfalusi commented on #3577
@plbossart, the loaded firmware version is:
[code]
The received FW_CONFIG block from the firmware is 368 bytes (bits 0-19 in tx reply's extension - 0x170):
[code]
The `SOF_IPC4_FW_CFG_FW_VERSION` tag value is 0, it is possible that we receive some bogus (mostly empty) data, or the retrieving is broken on SKL (DSP window definition is wrong?).

fwiw: with closed source firmware,
on my TGL (up-xtrem

[2022-04-12 08:18] ujfalusi commented on #3577
@plbossart, can you try this change on your SKL device:
[code]

[2022-04-12 09:21] fcsm1922 commented on #3248
@mchehab

<details>
<summary>dmidecode output</summary>

[code]
</details>

[2022-04-12 09:26] fcsm1922 commented on #3248
@mchehab
file with what name should be to put? /etc/modprobe.d is a directory

[2022-04-12 09:28] paulstelian97 commented on #3248
Anything with a .conf name. The system will get them in alphabetic order so you might want to do it with 99-something.conf or similar name.

[2022-04-12 09:32] fcsm1922 commented on #3248
@mchehab

<details>
<summary>Debug logs</summary>

[code]
</details>

[2022-04-12 13:59] SpaLox1 commented on #3248
It is a Chuwi Hi 10 X tablet device with 6GB RAM. According to the internet as well as the IDs shown at the Windows 10 device manager, it shoud be equipped with ESSX8336...

The BIOS looks indeed very un-tidied to me with its bitmask cribsheet and 1000s of options. There are even options available to select a different LCD display manufacturer /display type and to tweak different PWM modes of the

[2022-04-12 15:31] lkraav commented on #1879
"legacy" === `snd-intel-hda` here?

I will be able to do that probably on one of the weekends.

I should note I already killed off `snd-intel-hda` at my kernel config level, ideally I wouldn't have to bring it back, unless really really necessary to make progress towards shipping a valid UCM2 config here in these related issues.

Based on what I observed from before when I had both sound systems c

[2022-04-12 15:38] plbossart commented on #3577
@ujfalusi I added the verbose trace, this doesn't look quite right

[code]

[2022-04-12 15:56] ujfalusi commented on #3577
@plbossart, have you tried the patch in https://github.com/thesofproject/linux/issues/3577#issuecomment-1096334096 ?

[2022-04-12 15:56] plbossart commented on #3577
@ujfalusi results with the additional 0x1000 offset for SKL

[code]

This looks much better indeed. I am still not clear on what this offset might be? Or is there a difference between window types depending on the direction.

[2022-04-12 16:00] ujfalusi commented on #3577
@plbossart, the first 0x1000 of the window0 is reserved for 'registers' and the inbox starts at offset 0x1000. This is true for other platforms also, we have separate define HDA_DSP_MBOX_UPLINK_OFFSET, which is SRAM_WINDOW_OFFSET(0)+0x1000

[2022-04-12 16:04] ranj063 commented on #3577
The offset change works on my KBL XPS as well:
[   82.054454] sof-audio-pci-intel-skl 0000:00:1f.3: Loaded firmware version: 9.21.0.4732

[2022-04-12 21:12] dcompoze opened #3584 "[BUG] sof-audio-pci-intel-tgl intermittent crash on audio playback (Dell XPS 13 9310)"
**Device:** `Dell XPS 13 9310`

**BIOS/UEFI version:** `DELL BIOS 3.5.1 02/25/2022`

**Oparating System:** `Arch Linux 5.17.1-arch1-1 GNU/Linux`

**Package installed:** `sof-firmware 2.0-1 (pacman)`

**Modules loaded:** `lsmod | grep snd_sof`
[code]

**Audio packages installed (pacman):**
[code]

**Issue:**

The kernel module `snd_sof_pci_intel_tgl` started crashing since about 3-4 weeks ago after

[2022-04-12 22:17] plbossart commented on #3584
@dcompoze this is a known issue that was fixed in upstream kernel commit b7fb0ae09009d076964afe4c1a2bde1ee2bd88a9, which was applied to all recent stable kernels as well. I double-checked this is in 5.17.2, please update your kernel.

What is more concerning is why you run out of memory. We have a related bug on this, see https://github.com/thesofproject/linux/issues/3530. If you see this pattern

[2022-04-13 09:05] RezinoviyDed commented on #3210
I solved this problem on my GT book i1405 by buying an budget external type-C sound card. Works well on elementary OS. For now, it's the only way to use it :(

[2022-04-14 03:07] keqiaozhang opened #3586 "[BUG][IMR] DSP firmware failed to boot from IMR on JSL"
**Describe the bug**
We observed this issue in CI daily test 11792, firmware failed to boot form IMR on JSL_RVP_NOCODEC, tried to reproduce it but failed.
[code]
**To Reproduce**
This issue happens when testing multiple-pause-resume at the first round, but I think it has nothing to do with this case, it just failed when booting firmware from suspend.

**Reproduction Rate**
How often does the issue

[2022-04-14 03:15] plbossart commented on #3586
@keqiaozhang can you try to revert PR https://github.com/thesofproject/linux/pull/3558? That's the only recent change related to IMR.

Also can you clarify the reproduction rate, you wrote "tried to reproduce it but failed".

[2022-04-14 03:57] keqiaozhang commented on #3586
Yes, I'm still running the runtime PM test to reproduce this issue, but no reproductions so far.
[Edit]: this issue is very hard to reproduce. 500 iterations passed without issues.

[2022-04-14 15:25] kv2019i commented on #2573
Fix sent for review upstream: https://lore.kernel.org/alsa-devel/20220414150516.3638283-1-kai.vehmanen@linux.intel.com/T/#u

[2022-04-14 22:57] fredoh9 opened #3591 "[BUG][CAVS reference firmware] multiple-pause-resume.sh failed in nocodec mode, input/output error"
**Describe the bug**
Clearly this is CAVS/IPC4 related issue. But I'd like to start a thread from here first.
Found aplay input/output error while testing multiple-pause-resume.sh on TGLU_RVP_NOCODEC.

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=TGLU_RVP_NOCODEC_IPC4 ~/sof-test/test-case/multiple-pause-resume.sh -r 50

Even with less iteration, I'm able to reprod

[2022-04-15 12:10] quintafeira opened #3590 "[BUG] Crackling noise during login and jack headphones don't work on first connection"
After boot, during login, I have a crackling noise from the speakers. When I connect the headphones, the same happen and the headphones are recognized, but if I play some audio, it outputs from speakers. To output audio from headphones, I have to follow these steps:
1. Connect headphones.
2. Play some audio (it will output from speakers) or change volume levels.
3. Connect headphones again.

Tried

[2022-04-15 14:11] cihatertem commented on #3350
Archlinux linux-5.17.3 and lastest sof-bin 2.1.1 there is still no sound from headphone.
By the way switch from pulse to pipewire and there are some error log about conexant after pipewire switch:
"""
17:06:06 pipewire: mod.adapter: usage: node.name=<string>
17:06:06 pipewire: mod.adapter: usage: node.name=<string>
17:06:06 pipewire: spa.alsa: 'hw:0,1': capture open failed: Invalid argument
17:06:

[2022-04-15 15:42] GFdevelop commented on #2764
news?

[2022-04-15 17:12] plbossart commented on #3590
@quintafeira this seems to be an ES8336 codec issue, the SOF firmware does not even know about the existence of speakers and doesn't deal with jack detection.

You would probably need to try with the UCM updates suggested in https://github.com/alsa-project/alsa-ucm-conf/pull/144 to have better settings.

[2022-04-15 18:54] plbossart commented on #3350
@cihatertem can you add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/8497543/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the dmesg log.

we've seen this error with the digital path that no one actually uses, we should remove this option to make those them go away. Thanks.

[2022-04-15 18:56] plbossart commented on #2764
@juimonen @ranj063 do you think we could use the IPC4 solution with the NHLT blob taken from the BIOS to handle this sort of platforms?

[2022-04-15 21:21] cihatertem commented on #3350
Here it is.
[dmesg.txt](https://github.com/thesofproject/linux/files/8498318/dmesg.txt)

[2022-04-15 21:43] plbossart commented on #3350
I removed this digital path in https://github.com/thesofproject/sof/pull/5691

Can you back-up /lib/firmware/intel/sof-tplg/, unzip this file
[sof-hda-generic-idisp-4ch.tplg.gz](https://github.com/thesofproject/linux/files/8498372/sof-hda-generic-idisp-4ch.tplg.gz)
 and copy it to the directory, reboot and recheck the results.

Thanks!

[2022-04-16 06:41] cihatertem commented on #3350
I did it but still same.
The new dmesg.
[log.txt](https://github.com/thesofproject/linux/files/8500338/log.txt)

[2022-04-16 13:53] SpaLox1 commented on #3248
I tried the following:

(1)
`git clone https://github.com/mchehab/linux.git -b sound-es8336`

Result: Device has been busied several hours fetching 3 GB. No obvious errors were shown.
(2) Tried quirks: quirk=0x00, 0x10,0x20,0x40,0x80,0x180,0x190,0x100
(/etc/modprobe.d/sound.conf)

Still no sound.

But I think something went wrong with the basics:
`uname-r`
`5.18.0-rc1-2.g11acc76-default`

`alsamix

[2022-04-17 07:03] pgnonick commented on #3350
Hello, i have the same problem. I don't know if this can help. I tried the last weeks multiple distros and i tried 5.10-5.17, but always the same behaviour. Last week i tried Chrome OS Flex, which is running with kernel 5.10 and it is fully working. I'm not sure if it is working, because Google modified the kernel. I used "top" to see running processes. They are not using pulseaudio/pipewire. Then

[2022-04-17 07:11] pgnonick commented on #3350
And another thing. I have here Manjaro, Linux Kernel 5.17, KDE Plasma. Running pipewire with pulseaudio in combination.
If i switch the port of the soundcard to Headphones (Not connected) and setting the app, which is running sound to Audio Controller Speakers+Headphones then the sound and speakers are working correctly.

![Screenshot_20220417_090630](https://user-images.githubusercontent.com/8034

[2022-04-17 08:56] cihatertem commented on #3350
There is no selection in gnome sound control and pavu like KDE sound section. BTW chrome OS's situation is interesting. 3-4 months ago I use a firmware for intel wireless chipset from chrome os firmware package and the firmware was added linux firmware package 1 month ago. I hope same merge is happen soon for the our sound hardware :).

[2022-04-17 09:31] pgnonick commented on #3350
@cihatertem Last week i installed Fedora 35 and added the package pavu control. There i had the same possibility to switch the outputs and i simulated the same behaviuor to make the speaker working.

[2022-04-17 10:25] yibudak commented on #3249
Still no hope for AMD.

[2022-04-18 04:38] imtangmeng opened #3592 "ALC269VB sound card chips have current noise"
When using the sound card with ALC269VB chip, there is a lot of current noise in the recording from the earphone microphone.

Environment :
· Greatwall GW-XXXXXX-XXX (System SKU#) Notebook
· Phytium D2000/8 ULP8C
· Baffin HDMI/DP Audio [Radeon RX 550 640SP / RX 560/560X]
. kernel 4.19.203

The sound card related information is as follows：
$ hwinfo --sound
09: PCI 100.1: 0403 Audio device
  [Create

[2022-04-18 06:37] tinghan-shen opened #3593 "Send mt8186 patches to alsa-devel"
Hi sirs,

I've a look at the [SOF maintainers process](https://thesofproject.github.io/latest/contribute/linux/development_tree.html#sof-maintainers-process), and have a question about the next step of upstream mt8186 patches to mailnline.

According to my colleagues working on the MT8195, they had discussed with Intel/NXP this before.
From their recollection, MediaTek has to upstream its own patc

[2022-04-18 07:22] kuanhsuncheng commented on #3593
Hi sirs,

I found there was a discussion before (Title : How to upstream Linux SOF driver patches?)

The process is

a) use scripts to cherry-pick commits from topic/sof-dev to topic/sof-dev-rebase. The scripts automatically add the Reviewed-by tags based on github 'accept' status. The fixup! patches can be squashed at that point. At this point the two branches topic/sof-dev and topic/sof-dev-reba

[2022-04-18 07:29] mchehab commented on #3248
Yeah, if alsamixer gives an error, then there's something else wrong there. There are a couple of Kconfig options that prevent the es8336 bindinngs to be compiled. The following commands will disable such options (the NOCODEC ones) and enable the es8336 codec:

[code]

Btw, if the UCM config files are wrong, instead of "hw:0", the device could appear with some other name at alsamixer. Just in case

[2022-04-18 07:50] dbaluta commented on #3593
We don't need to wait for b). It is not clear who will be doing a)? Cc: @lgirdwood

Also, you don't actually need to wait for a)  you just go the PR and add the Reviewed-by tags manually and then continue with b) and so on.

I usually try once my patches are meged into sof-dev to also send them to alsa devel if they are NXP specific patches.

[2022-04-18 08:11] lkraav commented on #1879
Here's SOF dyndbg log from fresh boot
[dmesg.txt](https://github.com/thesofproject/linux/files/8504480/dmesg.txt)

[2022-04-18 13:44] plbossart opened #3594 "out-of-bounds access in sound/soc/sof/topology.c"
this issue was reported by @sergey-senozhatsky on https://lore.kernel.org/alsa-devel/Ylk5o3EC%2FhyX5UQ0@google.com/
Adding an issue here so that it's visible to all SOF developers

I [have] some KASAN warnings, confirmed. This appears to be when control_data is
allocated as control_data.chanv

[code]

but being dereferenced as it was control_data.data, so the 8 bytes
"payload" is being used as a 3

[2022-04-18 15:25] plbossart commented on #3248
It's likely that by playing with quirks the card probe failed. You need to check with 'aplay -l' that there's indeed a card successfully registered before you can read the mixer values and try to get sound in/out.

[2022-04-18 15:32] plbossart commented on #3593
@dbaluta @kuanhsuncheng @tinghan-shen the process described above is what Intel does on a weekly basis to create the topic/sof-dev-rebase branch.

You can send the MTK or NXP patches from topic/sof-dev-rebase directly to Mark Brown, that's fine if you take them *AS IS*. What is not fine is that you send patches directly to Mark Brown and we end-up having to deal with conflicts during the upstream

[2022-04-18 15:36] plbossart commented on #3592
@imtangmeng this configuration is not supported by the SOF driver and firmware, you want to open a bug on the kernel bugzilla. https://bugzilla.kernel.org

[2022-04-18 15:36] #3592 closed

[2022-04-18 15:40] plbossart commented on #1879
@lkraav the logs show you have no DMICs on your device and hence no requirement to use the SOF driver and firmware.
My recommendation would be to re-enable HDAudio in your kernel and stop adding "options snd-intel-dspcfg dsp-driver=3"

By choosing a quirky configuration you will end-up finding unsupported things left and right...

[2022-04-18 17:04] dbaluta commented on #3593
I'm sorry if i've done that and generated conflicts. Maybe because I wanted a larger audience. Anyhow, the problem is that I haven't merged that back.

[2022-04-18 20:03] plbossart commented on #3593
no worries @dbaluta, it was an isolated incident

[2022-04-18 23:06] plbossart commented on #3594
@juimonen can you please take a look? this code was added in cac974a51ebb955f3be260a9633836e1413c8672 ("ASoC: SOF: topology: use set_get_data in process load")

[2022-04-19 02:39] keqiaozhang opened #3598 "[BUG] xrun recovery failed on TGL-NOCODEC when testing multiple-pause-resume"
**Describe the bug**
This issue was observed by CI and only happened once.
[code]
This issue cannot be reproduced manually(500+ iterations passed without errors).

**To Reproduce**
~/sof-test/test-case/multiple-pause-resume.sh -r 50

**Reproduction Rate**
The reproduction rate is very low, failed to reproduce it manually.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (

[2022-04-19 07:03] kv2019i commented on #2573
Merged upstream, closing here.

[2022-04-19 07:03] #2573 closed

[2022-04-19 10:10] fcsm1922 commented on #3248
Hooray! a sound appeared with the following parameters alsamixer item
https://imgur.com/a/eCOrEe0
BUT the sound comes with wheezing (clicks pass) and interference (the volume is reduced)

[2022-04-19 10:16] lkraav commented on #1879
Thanks for looking into it. I don't know about going back into the past - running on this for 1+ week, all SOF pieces work fine, hardware is compatible, so why give up for what seems to require a simple UCM config tweak.

Thus far, no additional problems have appeared on the left or the right. That being said, I am OK giving up later if some other significant daily driving blocker should appear.

[2022-04-19 16:27] plbossart commented on #3593
@kuanhsuncheng @tinghan-shen I updated the topic/sof-dev-rebase branch, and if you take a look your patches are currently gated by the 'IPC4 plumbing' series that's under review on alsa-devel

https://lore.kernel.org/alsa-devel/20220414184817.362215-1-pierre-louis.bossart@linux.intel.com/T/#t

[2022-04-19 17:29] plbossart commented on #3535
Fixed

[2022-04-19 17:29] #3535 closed

[2022-04-19 17:31] plbossart commented on #3063
we haven't seen this problem in two months since PR #3442 was merged, closing. Patches will be sent upstream

[2022-04-19 17:31] #3063 closed

[2022-04-19 17:33] plbossart commented on #3012
@keqiaozhang @XiaoyunWu6666 @marc-hb @greg-intel I haven't seen this report in a long time, is there a way to scan CI/test reports to see when we last say this string "MCP_CONTROL_HW_RST is not cleared"

[2022-04-19 19:08] marc-hb commented on #3012
The most recent was on March 28

daily 11433?model=CML_SKU0983_SDW&testcase=check-suspend-resume-50
[code]

Start Time: 2022-03-28 21:29:00 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: [b50c58edbe75](https://github.com/thesofproject/linux/commit/b50c58edbe75)
SOF Branch: main
SOF Commit: [992b370c8cca](https://github.com/thesofproject/sof/commit/992b370c8cca)
Zephyr Commit: [199048b2ed45](https

[2022-04-19 19:11] marc-hb commented on #3012
Can this be downgraded to a warning?

[2022-04-19 21:43] plbossart commented on #3012
if it's a warning we never see a notice from CI. That's why we explicitly added a dev_err to force such reports to show with a FAIL.
I think we should probably change our filtering strategy at some point, only using the error level makes us miss WARN() statements in the code that signal abnormal execution.

[2022-04-19 22:06] marc-hb commented on #3012
I'd love CI to report warnings and not just errors at some point in the future and it does not seem impossible but it unfortunately seems to require a lot of non standard customizations

 @greg-intel and others please correct me but Jenkins has a narrow, hardcoded and binary vision of the world: PASS or FAIL and that's it. Same for Github Actions, Quickbuild etc. The only successful workaround tha

[2022-04-19 22:48] plbossart commented on #3577
Fixed by PR #3583

[2022-04-19 22:48] #3577 closed

[2022-04-19 22:51] plbossart commented on #3506
@keqiaozhang is this bug still seen?

[2022-04-20 02:08] keqiaozhang commented on #3506
Yes,  with 100% reproduction rate.

[2022-04-20 11:38] fcsm1922 commented on #3248
@plbossart , @mchehab
what can cause clicks in the headphones and through the speaker?

[2022-04-20 13:36] plbossart commented on #3506
Moving priority to P1 to make sure such critical boot issues are handled. This is not optional, one of these days we are doing to see a boot failure in the field that could have been prevented by internal testing.

@mengdonglin @lgirdwood this has to be assigned to someone and solved.

[2022-04-20 13:47] plbossart commented on #3248
@fcsm1922 it depends on the nature of 'clicks'
a) if you play a sine wave and hear periodic clicks with a well defined interval between clicks this hints at a bad configuration of clocks. You can try this with speaker-test -Dhw:0,0 -c2 -r48000 -t sine. You could try recording the output and checking with audacity if you see such a pattern visually.
b) if you hear clicks depending on other activity

[2022-04-20 21:51] greg-intel commented on #3012
Although github has a handful of status', they don't seem to be very customizable.  I'm sure there's a plugin, but I'm anti-plugin.

I am curious, how many people check Jenkins multiple times every day?

Marc is basically right.  With one infrequently used option to add a state:
[code]

[2022-04-20 22:48] marc-hb commented on #3012
Thanks @greg-intel

Extremely few I bet but that wasn't my point. My point was: to transmit a new, 3rd, immediate WARN status along our very long error reporting chain then all the links in the chain probably need to be aware of that new state and Jenkins is one pretty big link in the chain.

Same for the SKIP state.

Off topic sorry.

[2022-04-21 02:08] tinghan-shen commented on #3593
@dbaluta @plbossart , thanks for your clear explanation and remind.
I will check dependencies before send to alsa-devel.
many thanks!

[2022-04-21 02:09] #3593 closed

[2022-04-21 09:36] fcsm1922 commented on #3248
@[plbossart](https://github.com/plbossart)
when I run the command (speaker-test -Dhw: 0,0 -c2 -r48000 -t sine),
[code]
I hear a sine through the speakers, and there is a slight rustling in the headphones(constant rustling), it feels like some level is coarsened somewhere (crackling)
when restarting the command  (speaker-test -Dhw: 0,0 -c2 -r48000 -t sine), it issues
[code]
and there is no sound at

[2022-04-21 13:58] plbossart commented on #3593
@tinghan-shen the 'IPC4 plumbing' series was merged so you can take the following patches from topic/sof-dev-rebase

[code]

[2022-04-21 16:50] dblaber opened #3609 "[BUG] Failed to start DSP on Resume (Failure to boot DSP Firmware after resume)"
Hello all, please help me out if I am not provided right information (any docs, or additional debugging information I can provide). I am having this issue after multiple Sleeps (Suspend to ram) and resumes, where my audio devices are completely gone. It is intermittent, does not happen every resume, but happens often. I see this in the kernel logs when the issue occurs.

4/21/22 7:09 AM	kernel	sof

[2022-04-21 18:45] pablos-here commented on #3532
Hi again,
A later drop of openSUSE Tumbleweed has resolved the issue across multiple reboots.

Coma inducing details can be found in the downstream bug [1197434](https://bugzilla.suse.com/show_bug.cgi?id=1197434).

[2022-04-21 18:45] #3532 closed

[2022-04-22 03:00] tinghan-shen commented on #3593
@plbossart , ok, thanks!

[2022-04-22 09:52] lgirdwood commented on #3609
@ujfalusi @plbossart fyi - looks like we fail to alloc the code loader DMA buffer ?

[2022-04-22 10:46] ujfalusi commented on #3609
Indeed this looks like a memory allocation error.
@dblaber, can you estimate how many suspend/resume cycles it usually takes to hit this failure?
Can you also check with `free -h` next time when you hit this to see the memory status?

Also: is this happened before 5.17.3 or it is started with this kernel version?

[2022-04-22 11:29] dblaber commented on #3609
I am going to see if I can have some script called that logs free -h before or after standby, to get a good idea of state. If I remember correctly though, I remember seeing like 3 or 4 gb of buff/cache(which should mean available) around that time, but will find out for sure.

As far as suspend/resume cycles, I would say maybe around 4 or 5, will find out for sure when I get the memory log.

Not 1

[2022-04-22 13:07] ujfalusi commented on #3609
@dblaber, thanks.
fwiw, I'm over 520 iteration of suspend/resume (`rtcwake -m mem -s 5`) on a laptop here with `5.17.4-artix1-1` and `world/sof-firmware 2.1.1-1`.
It is a tgl laptop with 32GB RAM, so unlikely to run out of memory in this century, but so far there is no sign of anything eating it up (running kde-plasma).

[2022-04-22 14:39] plbossart commented on #3609
@ujfalusi @lgirdwood We've had a number of 'out of memory issues' recently.

see https://github.com/thesofproject/linux/issues/3584 and https://github.com/thesofproject/linux/issues/3530

That's starting to be a pattern I am afraid, even with newer kernels.

[2022-04-22 14:50] giddie commented on #2971
This time it has happened with sof-firmware 2.1.1 and `dmic_num=0`, so clearly it's not just the dmic code that triggers this.

[kernel.log.gz](https://github.com/thesofproject/linux/files/8541914/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/8541915/sof-log.gz)

[2022-04-22 15:02] ujfalusi commented on #3609
@plbossart, I see. I will build a 5.17. stable on Monday with memory leaking debug (arch/artix kernels do not have this enabled, but they are close to upstream) and see if it finds anything. #3584 looks like tgl, but the other two are cnl (which I don't have around).
I'm only aware of one memleak, but it is introduced for 5.18 and it is already fixed and it was not related to DMA page alloc.

[2022-04-22 19:11] plbossart opened #3611 "[BUG] kmod load/unload test FAIL on MODEL=TGLU_SKU0A32_SDCA"
This problem was seen in https://sof-ci.sh.intel.com/#/result/planresultdetail/12011?model=TGLU_SKU0A32_SDCA&testcase=check-kmod-load-unload-25 when testing PR #3608

It's reproducible in local tests.

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/8543451/dmesg.log)

[2022-04-22 19:19] plbossart commented on #3611
dmesg logs shows 'hung tasks' related to ext4.

[2022-04-22 19:20] plbossart commented on #3611
could be related to https://github.com/thesofproject/linux/issues/3387

[2022-04-23 02:02] dblaber commented on #3609
Just reproduced it now.

               total        used        free      shared  buff/cache   available
Mem:           15655       11455         276        2725        3923        1025
Swap:           8191        4242        3949

               total        used        free      shared  buff/cache   available
Mem:           15655       11273         720        2538        3661        1522
Swap:

[2022-04-23 02:09] dblaber commented on #3609
Attached full kernel log
[kern_log.txt](https://github.com/thesofproject/linux/files/8545883/kern_log.txt)

[2022-04-25 01:14] keqiaozhang commented on #3586
CI also detected this issue on ADLP_RVP_NOCODEC when testing suspend-resume-with-capture.
[code]
http://sof-ci.sh.intel.com/#/result/planresultdetail/11991?model=ADLP_RVP_NOCODEC&testcase=check-suspend-resume-with-capture-5

[2022-04-25 02:57] J0shuaT opened #3612 "Headphone Jack and Mic not working on GLK Chromebook"
Hello. I've been here before to resolve the issue of no sound on my GLK chromebook. Now that is fixed, the only thing keeping my device from being fully functional under Linux is the lack of headphone jack and microphone support. I would like to know if there is anything I can do to fix the issue.

Here is `alsa-info`:
http://alsa-project.org/db/?f=d212af755856cf2cdd57b1f9f8e79786dd571cf6

[2022-04-25 07:44] keqiaozhang commented on #3506
This issue only happens with Zephyr firmware, no such issue with SOF-XTOS.

[2022-04-25 07:54] mengdonglin commented on #3056
Close as this issue hasn't occurred again.

[2022-04-25 07:54] #3056 closed

[2022-04-25 09:30] XiaoyunWu6666 opened #3613 "[BUG][IPC4]IO error on TGL NOCODEC when pause release while playback"
**Describe the bug**
IO error on TGL NOCODEC when pause release while playback , no dmesg error (ipc error/timeout) however

This was observed on TGLU_RVP_NOCODEC_IPC4 and also TGL  Xtreme board. Seems the later platform has higher reproduction rate

**To Reproduce**

[code]

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: [7d7db5cef4ea](https://github.com/thesofproject/linux/commit/7d

[2022-04-25 11:20] ujfalusi commented on #3609
@dblaber, thanks for the report!
You can tell github to keep the log intact by:
` ``` `
text to present as is
` ``` `
I have spent the weekend by trying to reproduce this or at least to get some pointers which can hint what might happening.
Let's start with the straight forward runs.
Log in to KDE, start firefox, open youtube and start playing a long 'video' (some 6 hours long blues compilation),

[2022-04-25 12:32] ujfalusi commented on #3609
FYI: https://lore.kernel.org/alsa-devel/20220425122814.751-1-peter.ujfalusi@linux.intel.com/
this might help in case a fallback is taken for allocations, but I can not get that one triggered on my system(s) so far, but as I say in the commit message, the fallback is added for a reason, it must have been happening...

[2022-04-25 12:49] ujfalusi commented on #3609
@dblaber, can you see if 5.17.4 is fixing your issue? a fallback patch got backported from mainline, I think that will fix it.

[2022-04-25 12:51] ujfalusi commented on #3584
@dcompoze, can you check if 5.17.4 is fixing the issue? A fallback implementation of  a memory allocator got backported which hopefully going to solve the issue.

[2022-04-25 12:53] ujfalusi commented on #3530
@cmurf , can you check if 5.17.4 is fixing the issue? A fallback implementation of  a memory allocator got backported which hopefully going to solve the issue.
Or with latest mainline?

[2022-04-25 13:49] dblaber commented on #3609
Sure, will give that a shot, won't have results until Wednesday eod est, as
can only seem to produce it when working form home.

On Mon, Apr 25, 2022, 8:50 AM Péter Ujfalusi ***@***.***>
wrote:

[2022-04-25 17:02] plbossart commented on #3506
@lgirdwood this bug should be transferred to SOF then?

[2022-04-25 17:21] dcompoze commented on #3584
@ujfalusi I can confirm that kernel 5.17.4 has fixed the issue for me.

[2022-04-25 21:41] plbossart commented on #3613
@XiaoyunWu6666 @ranj063 @fredoh9 is this not a duplicate of https://github.com/thesofproject/linux/issues/3591, or vice-versa?

[2022-04-26 07:48] ujfalusi commented on #3584
@dcompoze, thank you for the confirmation, can we close the issue?

[2022-04-26 07:59] kv2019i commented on #3506
Moving to FW.

[2022-04-26 11:39] #3584 closed

[2022-04-26 20:47] AvatarMod commented on #3609
Hi, dear SOF project team. I have this issue too (after resume from suspend to disk audio driver is stopped).
Kernel info: Linux version 5.17.1-1-default on openSUSE Tumbleweed
Kernel log: [kernel_err.log](https://github.com/thesofproject/linux/files/8566795/kernel_err.log)

[2022-04-26 22:23] jthompson05 commented on #3612
@lgirdwood I saw you transferred this issue to github.com/thesofproject/linux. Is it a linux kernel issue and not an sof issue?

[2022-04-26 22:25] plbossart commented on #3612
@J0shuaT it's not even a kernel issue, it's an UCM issue. I tried to start an UCM support but I can't figure out how they are supposed to run any longer, see https://github.com/alsa-project/alsa-ucm-conf/pull/150

[2022-04-26 22:29] plbossart commented on #3609
@AVAtarMod you need to upgrade to 5.17.4 per the comments above and check if this is fixed.

[2022-04-27 01:19] miRoox commented on #3598
Happened again in today's daily test (ID: 12106)

[2022-04-27 18:04] AvatarMod commented on #3609
@plbossart I'll check later due kernel acpi bug (kernel version is 5.17.4), because of this I have kernel panic

[2022-04-27 23:35] jthompson05 commented on #3612
@plbossart MilkyDeveloper, https://github.com/MilkyDeveloper, has the ucm files from ChromeOS. I have no idea what to do with them but maybe you might: https://github.com/cb-linux/cb-ucm

[2022-04-28 01:10] MilkyDeveloper opened #3618 "[BUG][CML][CHROME] Acer Spin 713-2W Chromebook audio card initilization inconcistency"
I'm the creator of [Breath](https://github.com/cb-linux/breath), a new alternative to MrChromebox's Coreboot that uses the default ChromeOS bootloader, Depthcharge. We have ~160 stars.

We use the same kernel as ChromeOS does, so often SOF/legacy audio driver issue can be solved by jumping around git commits and cherry-picking commits. However, in this case, I'm unsure on whether my user is experi

[2022-04-28 04:54] marc-hb opened #3669 "[BUG] check-kmod-load-unload.sh triggers hard kernel lockups"
**Describe the bug**

`~/sof-test/test-case/check-kmod-load-unload.sh -l 25` causes hard kernel lockups

This is a very recent regression in daily tests.

**To Reproduce**

[code]

or

[code]

**Reproduction Rate**

~Too early to tell.~ Seems very low.

**Environment**

First bad daily test: 12140

Start Time: 2022-04-27 22:29:55 UTC
End Time: 2022-04-28 02:49:19 UTC
< >>
Kernel Branch: topic/sof-

[2022-04-28 05:04] marc-hb commented on #3669
ADLP_RVP_NOCODEC_CI sh-adlp-rvp-nocodec-02

[code]

TGLU_SKU0A3E_SDW  jf-tglu-sku0a3e-sdw-01
[code]

[2022-04-28 05:45] keqiaozhang commented on #3586
I tried to reproduce this issue with suspend/resume test on ADLP_RVP_NOCODEC, but failed, it passed 100+ iterations.

[2022-04-28 06:21] aiChaoSONG commented on #3669
It doesn't make sense to me that the SOF code change causes kernel issue, and in the meanwhile, there is no error in sof logger.

This is what I get from sh-adlp-rvp-nocodec-02, not sure if it is related.
[code]

[2022-04-28 13:37] plbossart commented on #3669
Agree with @aiChaoSONG, we should try to see if we can identify regressions due to recent upstream merges.

95ec8d32e6b6355514bbe267f5bef4abb6c8b4b3 (04/21)
8f77d721dd559bcf67368c606dd5d3f5f776c929 (04/18)

[2022-04-28 13:47] plbossart commented on #3612
@J0shuaT I have those Chrome UCM but there's outdated and incompatible with alsa-lib upstream.

[2022-04-28 13:50] plbossart commented on #3618
@MilkyDeveloper I can't help you if you don't provide the difference between the 'working' and 'not working' configurations, I'd need at least a hint of what is different to comment on what leads to the card probe failure.

[2022-04-28 14:21] ujfalusi commented on #3586
@keqiaozhang, the ADL log can be 'explained', sort of. These are the events:
[code]
The firmware booted up from IMR, all is good so far. Then some stream starts:
[code]
We have incoming trace messages:
[code]
Then this happens:
[code]
CTX_SAVE is not sent and next time the IMR boot does not work:
[code]
and we recover.

But something is really odd for sure.

[2022-04-28 14:34] ujfalusi commented on #3586
@keqiaozhang, it looks like we start to receive zero messages right after the IPC interrupt is enabled:
[code]
and they start to come in before we check the rom state (`FW Poll Status: reg[0x80000]=0x5 successful`) for FW_ENTERED - so IMR boot success.
There is one thing I can think of: for some reason the second part of 'step 4' in `cl_dsp_init()` is somehow misses to ack the reception of the rep

[2022-04-28 17:13] jairaj-arava opened #3621 "[BUG] [ADL]: Sporadically Audio drivers are missing in Platform warm/cold boot cycling tests"
What steps will reproduce the problem?
1.Boot the chromebook.
2. Copy the test scripts and start the cold/warm boot test without external device attached (NDA).

What is the expected output?
Test should complete for the given iterations without any issues.

What do you see instead?
Audio drivers are missing in Platform Cycling Tests and sound card is not listed.

Rate of issue repro: 1/1000 cycles

[2022-04-28 17:14] jairaj-arava commented on #3621
@sathya-nujella @sathyap-chrome @Vamshigopal @kv2019i

[2022-04-28 17:59] marc-hb commented on #3669
A short reminder that we have been regularly having lockups in suspend/resume tests since forever; we just got used to them and many are likely NOT audio related (but we can't tell of course).

While they could be more than one day old, hard lockups in kmod tests seem very new.

[2022-04-28 18:30] plbossart commented on #3621
@jairaj-arava I don't understand what "audio drivers are missing' means? The audio drivers are modules and they will probe based on ACPI and PCI IDs.

The PCI ID is shown in your results
[code]

[2022-04-28 19:20] ranj063 commented on #3621
@plbossart i think he means to say that the audio driver fails to probe

[2022-04-28 19:28] 1Guardian commented on #3618
@plbossart I can provide you with the outputs. What do you need? On hand, I only have the outputs of Alsa when it's correctly initialized vs when it fails to do so. If you need the output of anything else, let me know.

[Alsa-Output-Working.txt](https://github.com/thesofproject/linux/files/8585761/Alsa-Output-Working.txt)
[Alsa-Output-Not-Working.txt](https://github.com/thesofproject/linux/files/8

[2022-04-28 19:45] jairaj-arava commented on #3621
@plbossart , yes the audio driver probe is not happening. Listed below the modules from working and issue observed boards.

**List of modules loaded in normal scenario**
snd_soc_sof_rt5682     28672  0
snd_soc_hdac_hdmi      32768  1 snd_soc_sof_rt5682
snd_soc_intel_hda_dsp_common    16384  1 snd_soc_sof_rt5682
snd_soc_intel_sof_maxim_common    16384  1 snd_soc_sof_rt5682
snd_soc_rt5682         77

[2022-04-28 20:26] plbossart commented on #3621
@jairaj-arava module loaded and probe are different things.
You have to first look if the PCI driver probed, as seen with lspci, then that the probe completed with the dmesg log

sof-audio-pci-intel-tgl 0000:00:1f.3: Completing SOF PCI probe

and last if there is a card created or not.

[2022-04-28 20:27] ilovegabagoolsomuch commented on #3618
@plbossart Speaking on behalf of 1Guardian, I believe the audio card randomly just doesn't initialize from Depthcharge and the chromebook needs a power cycle for audio to work again. However, I'm not sure if this is indeed a Coreboot issue or something with SOF.

[2022-04-28 20:29] plbossart commented on #3618
@1Guardian You'd have to enable dynamic debug by copying this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/8586174/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.txt and provide the dmesg log when you don't see an audio card created.

[2022-04-28 20:30] jthompson05 commented on #3612
@plbossart Well I guess that won't work :(

[2022-04-28 20:54] 1Guardian commented on #3618
Here you go @plbossart
[sof-dmesg-dynamic-debug-enabled.txt](https://github.com/thesofproject/linux/files/8586319/sof-dmesg-dynamic-debug-enabled.txt)

[2022-04-28 21:01] plbossart commented on #3618
@1Guardian this didn't seem to take effect, can you please double-check the settings?

[2022-04-28 21:07] 1Guardian commented on #3618
@plbossart The file "sof-dyndbg.conf.txt" was copied to /etc/modprobe.d/soft-dynbg.txt, and then dmesg was run. Is there anything else like setting a different log level that needs to happen to enable dynamic debugging?

[2022-04-28 21:13] plbossart commented on #3618
sorry, typo. you need to copy it as  /etc/modprobe.d/soft-dynbg.conf, the correct extension is required.

[2022-04-28 21:22] 1Guardian commented on #3618
@plbossart Changed it, and ran it again
[sof-dmesg-dynamic-debug-enabled.txt](https://github.com/thesofproject/linux/files/8586700/sof-dmesg-dynamic-debug-enabled.txt)

[2022-04-28 21:34] plbossart commented on #3618
Can't help you if you make a conscious decision to disable the only thing I can rely on to help...
[code]

[2022-04-28 21:36] 1Guardian commented on #3618
I have no idea how to enable that... would that be something that has to be enabled at kernel compile, or can I enable it after the fact?

[2022-04-28 21:43] ilovegabagoolsomuch commented on #3618
Mb, this is my fault and has to do with recompiling the kernel. I’m compiling it now with dyndbg. Sorry @plbossart.

[2022-04-29 11:46] dblaber commented on #3609
So far, have not reproduced this yet on 5.17.4, will give another week of testing, due to the nature of intermittent issues.

[2022-04-29 12:20] ujfalusi commented on #3609
@dblaber, thank you for the information! Let's wait a bit more time to make sure it is gone.

[2022-04-29 12:48] XiaoyunWu6666 commented on #3613
yes , looks they are describing the same isse

[2022-04-29 15:16] lucastanure opened #3624 "Missing SSP2 (I2S) from Up Xtreme WHL-I5"
Hi,

We are trying to use the I2S bus from the 40 pin header on Up Xtreme I5 whiskey lake, but the Intel CPU follows a path in the Linux kernel source where it says the CPU doesn't have DSP and can't expose an I2S from that.
The driver sound/soc/intel/skylake/skl.c starts and calls the function snd_intel_dsp_driver_probe. And that function returns on this point:

/*
* detect DSP by checking class/

[2022-04-29 15:31] plbossart commented on #3624
@lucastanure the skylake driver shouldn't be used on this board, you should be using the SOF driver. I am not sure how you ended-up with this driver. Did you use a kernel parameter for the snd-intel-dspcfg module?

Also remember that you have to use one of the "Advanced Audio Modes" in the BIOS menu. in the AAM config3, I see the following mapping for SSP0 (aka I2S1).

[code]

[2022-04-29 15:48] lucastanure commented on #3624
Well, Is the driver that probes with BIOS v1.9.
Here it is the dmesg and config:
https://pastebin.com/2eFvF9SY

The kernel command line is:
BOOT_IMAGE=/vmlinuz-linux-tanureal root=UUID=4062442e-4588-405d-9e44-61764df0d079 rw loglevel=8 audit=0

What I am missing in my kernel?
How can this kernel probe the wrong driver?

Thanks
Lucas

[2022-04-29 15:58] lucastanure commented on #3624
Just confirm here I need SSP2 on normal HAT mode. Which uses SDIN and SDOUT on pins 38 and 40 for the 40 pins header.

[2022-04-29 17:14] plbossart commented on #3624
please enable dynamic debug by copying this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/8592530/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf, reboot and retry.

I don't get why you have different results on a platform we use for every PR...

[2022-04-29 17:45] plbossart commented on #3669
@marc-hb It's hard to conclude for TGLU_SKU0A3E_SDW, there's only one failed test but it comes without any dmesg info.

[code]

[2022-04-29 19:20] marc-hb commented on #3669
Yes the reproduction rate has been very low so it's very hard to draw any conclusion. Apologies for sharing this SOF git log too early.

I spent time gathering data and filing this bug because:
- I don't remember us ever experiencing any hard crash on kmod testing. Suspend/resume crashes: yes, kmod: no.
- We had 3 systems experiencing hard lockups in the same kmod test in the same daily run. That

[2022-04-29 19:24] jairaj-arava commented on #3621
@plbossart , we don't see the pci driver probe happening in the logs. Also we could see DSP address is 0 too as shown below.
00:1f.3 Multimedia audio controller: Intel Corporation Device 51c8 (rev 01)
        DeviceName: Multimedia audio controller
Address: 0000000000000000  Data: 0000

[2022-04-29 20:35] plbossart commented on #3621
@jairaj-arava thanks for the precision. I don't think it's a SOF driver issue if the PCI probe doesn't even happen, likely something wrong with Coreboot, PCI configs, etc.

[2022-04-29 20:52] plbossart commented on #3669
I will agree with you @marc-hb that in general kmod load/unload issues are directly related to audio issues, since we don't touch the other drivers. That makes the occurrences of such bugs less likely than the generic case where all possible drivers could impact suspend-resume.

I also agree that there is no such thing as coincidence, we should absolutely keep track of this issue. I wasn't trying

[2022-04-30 02:21] ensayia commented on #3393
Running kernel 5.17.5 and audio still does not work for this device. I would like to help look into this issue as these devices are in far more hands now than back at initial launch. Here is my dmesg info regarding the hardware:
EDIT: Cleaned up code block.
[code]
[code]

[2022-05-01 13:08] tonitch commented on #3393
I can confirm that the issue is not solved for me ^^

[2022-05-02 10:46] lucastanure commented on #3624
[    0.000000] microcode: microcode updated early to revision 0xec, date = 2021-04-28
[    0.000000] Linux version 5.18.0-rc5-tanureal-00021-g2779a3961023-dirty (linux-tanureal@archlinux) (gcc (GCC) 11.2.0, GNU ld (GNU Binutils) 2.38) #10 SMP PREEMPT_DYNAMIC Mon, 02 May 2022 10:41:10 +0000
[    0.000000] Command line: BOOT_IMAGE=/vmlinuz-linux-tanureal root=UUID=4062442e-4588-405d-9e44-61764df0d07

[2022-05-02 10:47] lucastanure commented on #3624
Still no sign of DSP or SSP2

[2022-05-02 13:38] plbossart commented on #3624
Sorry @lucastanure I can't follow what you are doing.
[code]
says you have disabled the HDaudio codec on board, or enabled an Advanced Audio Mode. please go back to the BIOS menu and check what you've modified compared to the default settings.

[2022-05-02 13:55] ilovegabagoolsomuch commented on #3618
@1Guardian just run `bash updatekernel.sh` on the PC you built Breath with and then post the `dmesg`. Sorry for any trouble!

[2022-05-02 16:59] plbossart opened #3626 "IPC4 failures with cavs reference firmware on WHL_UPEXT"
Intel internal tests show failures for ?model=WHL_UPEXT_HDA_IPC4&testcase=multiple-pause-resume-50
FW reported error: 6 - Unknown error while processing the request of ipc4 set pipeline 10 state 2

the last working test was 12028 2022-04-24
12111 12176 12202 12215 all fail in the same way

EDIT by @XiaoyunWu6666 : in testresult 12202 and 12215 the error happened when check-pause-resume-playback-10

[2022-05-02 16:59] plbossart commented on #3626
@XiaoyunWu6666 @keqiaozhang @ranj063 @bardliao FYI

[2022-05-02 21:45] plbossart opened #3627 "ACPI call trace in suspend-resume"
Between 5.18-rc1 and 5.18-rc2, the following call trace started appearing on WHL UpExtreme

[dmesg.log](https://github.com/thesofproject/linux/files/8606234/dmesg.log)

[2022-05-02 21:46] plbossart commented on #3627
[code]

[2022-05-02 22:36] plbossart commented on #3627
[code]

[2022-05-03 06:16] ujfalusi commented on #3669
It is hard to reproduce for sure, last week I took the tglh machine and I saw once a lockup:
[code]
Which is FS, storage related by it's look.

Today after <50 iteration the `rmmod` got blocked when trying to remove `snd_hda_codec` and not long after:
[code]
This looks awfully similar and if I recall right I got the first lockup also not long after I first logged in to the tglh machine (`sh-tglh-0

[2022-05-03 09:04] bardliao commented on #3626
@plbossart It looks like the issue has been fixed. The log of 12111 and 12176 are the same as this issue. But the log of 12202 and 12215 is
[code]
And 12222 is **PASS**.
12111 and 12176 uses the same kernel commit 95ec8d32e6b6, and the newer test uses 23306d2cb554.
I can reproduce the issue with commit 95ec8d32e6b6 on my TGL Up board, but when I tested with 23306d2cb554 which is the latest commit,

[2022-05-03 09:16] laggykiller commented on #3248
I am using [GMK NUCBOX2](https://www.gmktec.com/products/nucbox2-intel-core-i5-8259u-4k-mini-pc). It has a coffee lake processor. The vendor provided drivers, in which it contained driver labelled as 'ES8336'.

I am using arch linux and upgraded kernel from 5.16.4 to 5.17.5. This caused HDMI audio out source to disappear. Then I installed sof-firmware but issue still not resolved.

Here is the rel

[2022-05-03 12:02] ujfalusi commented on #3669
Run about 1700 iteration of `check-kmod-load-unload.sh` after rebooting `sh-tglh-0a70-hda-01` and not a single error.

[2022-05-03 13:37] plbossart commented on #3626
@bardliao I agree that the test passed, but I don't see any significant differences between kernel 23306d2cb5546598c59688a7cb14eef3df832786 and 95ec8d32e6b6355514bbe267f5bef4abb6c8b4b3, and clearly nothing that could explain why things are broken on pause_push/pause_release tests.

Very odd.

[2022-05-03 20:43] plbossart commented on #3627
Fixed by PR #3629

[2022-05-03 20:43] #3627 closed

[2022-05-04 03:34] XiaoyunWu6666 commented on #3626
I will check whether it exists now and its reproduction rate
EDIT: This issue still exists in result 12257 , reproduction rate is not that high

[2022-05-04 14:56] plbossart commented on #3626
@XiaoyunWu6666 you've started at least 10 tests yesterday with the same name but different devices and tests.

Can you please provide a clearer explanation of the number of tests run on WHL_UPEXT and the statistics. "Not that high" isn't a very useful assessment, thank you.

[2022-05-05 06:25] XiaoyunWu6666 commented on #3626
**model**
WHL_UPEXT_HDA_IPC4

**testcase with results**
- multipe-pause-resume-25 :  1 FAIL among 4
- check-pause-resume-playback : 1 FAIL among 4
The number of tests I made yesterday was not large enough to provide statistical probability . I think the only thing they proved was that the issue still existed and could be reproduced by both testcases.

I will try manual tests on DUT to get some mor

[2022-05-05 07:37] XiaoyunWu6666 commented on #3591
Failed in inner daily test  12222  on model TGLU_RVP_NOCODEC when check-pause-resume-playback-100

[2022-05-05 14:56] XiaoyunWu6666 opened #3633 "[IPC4][cavs fw]pause resume process non-zero exit status on TGLU_RVP_NOCODEC and TGLU_UP_HDA"
**description**
TGLU_RVP_NOCODEC  and TGLU_UP_HDA had non-zero exit status of pause resume PID after 50 rounds of pause release in inner daily 123013
after running 50/50 rounds of testcase multiple-pause-resume-50

[2022-05-05 15:07] XiaoyunWu6666 commented on #3633
another two model that run sof IPC4 fw has similar situation of pause-release-process-exit-status-non-zero.

However they did show some dmesg error , see bug https://github.com/thesofproject/sof/issues/5778
in inner daily result 12303 on model TGLU_UP_HDA in testcase multiple-pause-resume-50
ipc timed out when MOD_INIT_INSTANCE and failed to  create module gain.4.1

[2022-05-06 10:22] XiaoyunWu6666 commented on #3626
happened again in inner daily testresult 12356
on model WHL_UPEXT_HDA_IPC4
when multiple-pause-resume-50

[2022-05-06 21:25] plbossart opened #3634 "SoundWire: spurious pm_runtime_resume() on system suspend"
On CML_RVP_SDW, the changes added in 14eb62c2afdac ("soundwire: intel: prevent pm_runtime resume prior to system suspend") don't seem to take effect, despite the DPM_SMART_SUSPEND flag we can see a resume for no good reason.

terminal one: aplay -Dhw:0,5 -r 48000 -c 2 -f S16_LE /dev/zero -q
playback on HDMI, so all links should be pm_runtime_suspended

terminal 1: rtcwake -m mem -s 5

[code]

[2022-05-06 21:59] plbossart commented on #3634
It's possible that the DSDT plays a role here, the use of DPM_FLAG_SMART_SUSPEND is not unconditional

[code]

I guess there can be cases where ACPI forces a resume then. D'oh.

[2022-05-06 22:29] plbossart commented on #3634
BAAM, broken DSDT on CML_RVP_SDW!

[code]

[2022-05-07 00:25] marc-hb commented on #3011
Collecting more `/sys` data in
- thesofproject/sof-test/pull/900

Please help review.

[2022-05-07 23:28] AvatarMod commented on #3609
I upgrade kernel to 5.17.4, and issue was gone. Thanks!

[2022-05-09 04:47] jsonguard commented on #3248
Hello!

Huawei Matebook 14 (2021) KLVD-WXX9
Intel Core i5 i5-1135G7 (Tiger Lake)

I managed to get a working sound using the following soft:
- Kernel: `5.18.0-0.rc3.27` with this patch https://lore.kernel.org/all/cover.1649357263.git.mchehab@kernel.org/
- A set of topologies: https://github.com/thesofproject/linux/files/8419519/es8336-topologies-4.tar.gz used `sof-tgl-es8336-dmic4ch-ssp0.tplg`
- A

[2022-05-09 09:16] XiaoyunWu6666 commented on #3626
reproduction rate 3/8 in daily IPC4 tests in May test

[2022-05-09 13:47] plbossart commented on #3248
Can you clarify what you mean what 'the sound works'? What works out of the box, speaker playback?

Can you clarify which alsa mixer you changed? This might need to be added to the UCM file.

You should not play with quirks to change hardware connection to dmic and SSP. Those were added for 'power users', you should only handle GPIO-related quirks

Which means only these bits should be changed in

[2022-05-09 13:52] XiaoyunWu6666 opened #3636 "[IPC4][cAVS reference firmware] Unexpected error when runtime resume while HDA Analog capturing on TGL UPboard"
**Description**
A bug happened in inner daily IPC4 tests on
12017 April 23
11908 April 20
12388 May 09
on TGLU_UP_HDA_CAVSIPC4

While recording with HDA analog hw:0,0 and runtime suspend-resume , in approximately 11 or 12 rounds among 15 , FW reported error:2 - Unknown message type specified
**Test Recipe**
[take May 09's test recipe as example]
Kernel Branch: topic/sof-dev
Kernel Commit: [68b7676

[2022-05-09 14:00] bardliao commented on #3636
The **ipc tx reply: 0x21000002|0x0: GLB_ROM_CONTROL** ipc is a unexpected ipc. We will ignore it eventually. See **no reply expected, received 0x21000002, will be ignored**. However, CI will get the error when ``sof_ipc4_check_reply_status`` is called in ``sof_ipc4_get_reply``.
I think we should test ``if (msg->ipc_complete)`` before ``sof_ipc4_check_reply_status``. Either in ``sof_ipc4_get_reply`

[2022-05-09 14:26] ujfalusi commented on #3636
@bardliao, we are receiving a tx reply to a ROM_CONTROL message which we did not sent?
Can this be a reply to the ROM control message we are sending as part of the boot sequence? But the reply should be handled there as well while interrupts are disabled.
Is this IMR boot or cold boot?
Who is sending the reply that the message is unknown?

@XiaoyunWu6666, can attach the full dmesg? I don't know th

[2022-05-09 15:06] ujfalusi commented on #3636
I guess this is one of the cases:
[code]
IMR boot successful
[code]
FW ready arrives
[code]
A reply with error code...

But most of the time we don't receive a reply out of the blue, not even with a success. Interesting.

[2022-05-09 15:37] ranj063 commented on #3636
@ujfalusi @bardliao havent we seen this in the past with the SOF firmware as well. And this was the reason why this commit was added right?
commit 37a079415456b34520454828d582b5bbdad0473f
Author: Keyon Jie <yang.jie@linux.intel.com>
Date:   Sat Nov 9 05:21:00 2019 +0800

    ASoC: SOF: Intel: hda-loader: clear the IPC ack bit after FW_PURGE done

    Set DONE bit after the FW_PURGE IPC is polled s

[2022-05-09 20:07] ujfalusi commented on #3636
@ranj063, hrm, so with IPC4 we need to set different DONE?
We are polling on IPC DONE bit, which is set when the IPC BUSY is cleared by the ROM.
The sequence looks OK and it is working most of the time...
I'll re-check the difference between IPC3 and IPC4, but in IPC4 the host to DSP message ack and the reply is a separate step.
The ack from DSP is just an ack, then it is sending the reply as a ne

[2022-05-10 01:02] marc-hb commented on #3387
This recent one also has a ton of `WARN dai_copy(): Copy_bytes 0 + avail bytes 0 < period bytes 384, possible glitch` (logs also going to the disk)

https://sof-ci.01.org/softestpr/PR903/build21/devicetest/?model=CML_SKU0955_HDA&testcase=check-pause-resume-playback-10

[code]

[2022-05-10 01:20] marc-hb commented on #3387
Other interesting logs just found by chance.

Also linking to
- #3631
which could help mitigate a bit?

Daily 12389?model=CML_SKU0955_HDA&testcase=check-ipc-flood
[code]

[2022-05-10 02:51] keqiaozhang opened #3638 "[BUG][TGL] max98373 sdw:1:019f:8373:00:7 initialization not complete"
**Describe the bug**

max98373 codec driver initialization not completed when testing `check-suspend-resume-with-capture-5`.
[code]

**To Reproduce**
`~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m capture`

**Reproduction Rate**
Hard to tell now, CI observed this issue for the first time and no reproductions by manual check so far..

**Expected behavior**
sof can resume form S3

[2022-05-10 08:00] ujfalusi commented on #3636
Long shot, but let's give this PR a test: #3639. I can not reproduce it on my machine after 100+ iterations (even without the patch).
The way we do the ROM control message sending is correct.

[2022-05-10 10:39] ujfalusi commented on #3669
Managed to reproduce it again after reserving and logging in to the machine:
[code]
The last thing printed by the test on console:
[code]
Plenty of memory was available before starting the test run:
[code]

[2022-05-10 11:00] ujfalusi commented on #3636
PR #3639 does not help and the issue happens with SOF firmware as well, but in there we are ending up with a flood of tx reply messages:
[code]
It took about 100 iteration of the test to end up like this.

[2022-05-10 11:22] ujfalusi commented on #3636
manually running the kernel from #3640

[2022-05-10 12:53] ujfalusi commented on #3636
So far #3640 is passing over 150 iterations of the test run, I think that should be a good candidate as a fix.

[2022-05-10 14:25] plbossart commented on #3638
I think this is the same issue as https://github.com/thesofproject/linux/issues/3063

[code]

[2022-05-10 14:26] TurboBlaze commented on #3248
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/8652191/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the dmesg log and result of 'alsa-info'. Thanks!

Done:

[code]

[2022-05-10 14:50] plbossart commented on #3248
doesn't look like you have dynamic debug enabled @TurboBlaze ? there's not much I can do with this limited information.

[2022-05-10 16:53] marc-hb commented on #3669
There's a hung journald also in
- https://github.com/thesofproject/linux/issues/3387

[2022-05-11 00:36] plbossart opened #3641 "SoundWire: kernel oops on COMP_NEW IPC fail."
While running experiments with a modified SoundWire driver to allow for driver bind/unbind and the following script:

[code]

I ended-up with a kernel oops on an IPC error.

The IPC error is bad enough in itself, the kernel oops cannot happen.

[code]

[2022-05-11 02:24] bardliao commented on #3636
@ujfalusi Instead of reverting the IMR change, can we just ignore the unexpected IPC reply? Will it cause any issue?

[2022-05-11 06:12] ujfalusi commented on #3636
@bardliao, what I have seen on the CI machine is that with the SOF IPC4 firmware we get a flood the ghost tx reply messages:
[code]
the only way to stop it is to remove the drivers.

[2022-05-11 11:51] fcsm1922 commented on #3248
@plbossart
same problem as @jsonguard
there is no microphone.
There is sound but it's quiet.
here is my file [alsa-info](http://alsa-project.org/db/?f=b05ad9a9ab2884671d02ea740b67d2704b901b08)
kernel 5.18.0-rc5-1-mainline

[2022-05-11 11:56] ujfalusi commented on #3636
Right, tried to reproduce it today, but nothing after 4k+ runs
¯\(º_o)/¯

[2022-05-11 14:27] lgirdwood commented on #3669
Could this be aplay/soundserver hanging on to an audio file ? I dont think its an audio device file (since ext4 is mentioned in the logs).

[2022-05-11 15:46] plbossart opened #3643 "SoundWire: codecs: IO timeouts when card is created after bus suspends"
If the machine driver is blacklisted, and manually probed (modprobe snd-soc-sof-sdw) after the bus suspends, IO timeouts will be reported in the .set_jack_detect callback, e.g.

[code]

The code in this function tests if the hardware was initialized, but it should really use pm_runtime_resume_and_get() to make sure the bus is active before initiating any transactions.

[2022-05-11 18:18] plbossart opened #3644 "SoundWire: rt711-sdca: mutex_lock warning"
Found in one test, reproduced twice so far. @ujfalusi @bardliao would you have any ideas as to what could be wrong here?

[code]

[2022-05-11 20:15] plbossart commented on #3669
I saw a similar issue today on TGLU_SKU0A32_SDCA while running basic sof-test stuff manually, where we don't use files really - except for left/right tests.

[2022-05-12 04:34] ujfalusi commented on #3669
It is more like journald causes filesystem lockup (or vice versa)
module unload load generates fair amount of logs due to tplg build up or sdw on some platforms, but the system must be able to handle this. It is nowhere near to an fs stress test

[2022-05-12 06:32] marc-hb commented on #3669
If we can avoid a filesystem and/or journald bug by reducing log spam then we just should. We have neither time nor resources nor expertise to debug stuff like this.

It's not like log spam is useful anyway, in fact it's unreadable and cumbersome and slowing us down even when it does not crash.

EDIT: the filesystem hangs have been root caused to faulty SSDs which is different and related issue #3

[2022-05-12 10:54] hede5562 commented on #3618
Looks like the same problem I had. The module dependency/ordering is broken. I fixed it with:

as a module option in one of the files in /etc/modprobe.d/

Yet I do not know the source of the problem (didn't analyzed it).

[2022-05-12 11:22] XiaoyunWu6666 opened #3647 "[IPC4][cAVS reference firmware] Setting pipeline state failed when multiple pause release on TGLU UP HDA"
**description**
On TGLU UP HDA which test cavs fw , pausing pipeline 4 failed when arecord with hw:0,0 and pause release .
Happened in inner daily IPC4 result 12525 12485
**test recipe**
Kernel Branch: topic/sof-dev
Kernel Commit: [e89036145299](https://github.com/thesofproject/linux/commit/e89036145299)
Firmware: Closed source FW

Reproduction rate: 2 times in one week

**error logs**
[dmesg]
[co

[2022-05-12 12:32] bardliao commented on #3644
@plbossart What does ``DEBUG_LOCKS_WARN_ON(lock->magic != lock)`` means?
What will happen if we reload rt711-saca driver when rt711-sdca is just attached?
``rt711_sdca_calibration`` will take some time. It is called when rt711-sdca is attached.
If we remove rt711-sdca driver and insmod it again when rt711-sdca just attached.
Will below scenario cause any issue?
1. rt711_sdca_calibration -> mutex_l

[2022-05-12 13:26] plbossart commented on #3644
I don't understand what this warning means, and I have to find the sequence that triggers it. One possibility is that on .remove some workqueues are still running and not properly cancelled.

[2022-05-12 14:35] TurboBlaze commented on #3248
@plbossart yep.
Look at this log http://alsa-project.org/db/?f=25c864a6ad8ef494ad32f3190edf478e052bf445
Thanks.

[2022-05-12 14:45] plbossart commented on #3248
not much better, you clearly don't have any dynamic logging enabled.

[2022-05-12 14:50] plbossart opened #3648 "SoundWire: spurious wakes during PCI probe"
https://sof-ci.01.org/linuxpr/PR3642/build116/devicetest/?model=CML_RVP_SDW_ZEPHYR&testcase=check-sof-logger

[code]

[2022-05-12 15:38] jthompson05 commented on #3612
@plbossart not sure if you already saw this, but someone on [reddit ](https://www.reddit.com/r/chrultrabook/comments/ui6ghn/workaround_for_glk_audio_sofglkda7219max/)found a way to get the mic and headphone jack working for GLK chromebooks. It works, but it requires pulseaudio. There is still a volume scaling issue unless I use an option called `Pro Audio` in Pulse Audio Volume control. `Pro Audio

[2022-05-12 15:44] plbossart commented on #3612
there's always all kinds of work-arounds, the 'right' way to fix this for good is to have UCM running. There was feedback from Jaroslav https://github.com/alsa-project/alsa-ucm-conf/pull/150#issuecomment-1122543956 that explained why my initial work didn't succeed, but I have limited cycles to sort this out. Once we have a UCM file up and running, we can fix parameters ad nauseam.

[2022-05-12 16:30] ujfalusi commented on #3636
Another candidate which survived 1000 IMR boot iteration on upx-i11 (TGL) and up2 (APL) on local testing: #3649

[2022-05-12 16:44] cihatertem commented on #3350
@[rzwinge](https://github.com/rzwinge) Sorry I have just seen your reply but my problem is no sound at headphones. Speakers works but instead catching headphones plugged in but no sound at headphones. I unmute both headphone and speakers but there is only sound at speakers.

[2022-05-12 17:34] plbossart commented on #3644
I found the sequence, it's when loading the machine driver a second time

[code]

output:
[code]

If I increase the sleep to 5s, I am not able to reproduce, so there's likely a workqueue that's not cancelled properly.

[2022-05-12 22:13] plbossart opened #3650 "SoundWire: rt711-sdca: transfers timed out on component remove/probe"
In bind/unbind driver tests, the transfers can fail with a timeout during .set_jack_detect

[code]

[2022-05-12 22:32] plbossart commented on #3650
@shumingfan @bardliao I am not sure what happens here

first, I don't understand why the component remove plays with the regcache.

[code]

Why is this necessary?

unfortunately, removing this doesn't seem to solve the problem.

I am starting to wonder if there are device timing restrictions here, or something that needs to be turned on before accessing the vendor-specific registers?

[2022-05-12 22:53] plbossart commented on #3650
https://github.com/thesofproject/linux/pull/3645/commits/8b527e90ecc529ec49a1b45847fcaf15ad3c1f1e suggests removing those regcache changes, but that doesn't fix the issue.

[2022-05-12 23:28] plbossart commented on #3641
Another IPC error

[code]

[2022-05-12 23:44] jthompson05 commented on #3612
@plbossart I'm glad there's some progress on this issue. If you need me to test anything with the UCM, I'd be happy to do so.

[2022-05-13 01:07] keqiaozhang commented on #3586
CI detected the IMR issues again on JSL and CML platforms. Test report ID:12564
JSL_RVP_NOCODEC:
http://sof-ci.sh.intel.com/#/result/planresultdetail/12564?model=JSL_RVP_NOCODEC&testcase=check-suspend-resume-with-capture-5
[code]

CML_SKU0955_HDA :
http://sof-ci-storage.sh.intel.com/sofci/generic_test/12564/CML_SKU0955_HDA/volume-basic-test-50/dmesg.html
[code]

[2022-05-13 01:10] plbossart commented on #3650
@bardliao can I ask you to test https://github.com/thesofproject/linux/pull/3642 (commit d2e9a6dfa605a92779487e820e07f325047db34f)

this needs to be build without HDaudio link/codec support in make menuconfig

[test.sh.txt](https://github.com/thesofproject/linux/files/8683368/test.sh.txt)

I tested on SKU 0A32 (TGL SDCA)

[2022-05-13 01:12] plbossart commented on #3650
Also need https://github.com/thesofproject/sof/pull/5813 with the HDMI commented out @bardliao

[2022-05-13 01:14] plbossart commented on #3634
closing since it's a DSDT bug but a kernel feature.

[2022-05-13 01:31] bardliao commented on #3644
Looks like you already have a solution https://github.com/thesofproject/linux/pull/3642/commits/85d43912612e4582a844affb21dba0826ac9ecc8 :)

[2022-05-13 03:46] bardliao commented on #3650
@plbossart I tested it on SKU 0A5E and no issue found. BTW, https://github.com/thesofproject/sof/pull/5813 seems not work for me. I modified it as below.
[code]
I have to remove the HDMI part manually.

I also tried with SKU 0A32, but somehow snd_soc_sof_sdw is already in used after bootup. So I can't run the test on my SKU 0A32 device.
[code]

[2022-05-13 11:04] lgirdwood commented on #3669
Can we try a ```sync``` between each ```rmmod``` and see if this has any impact ? This would flush FS cache.

[2022-05-13 14:31] ApostolosB opened #3653 "[BUG] Headphones are not detected when you boot with them plugged in"

[2022-05-13 14:52] plbossart commented on #3644
yep, i think the initialization needs to be done by the same probe callback, in the existing code one of the mutexes was initialized when the machine driver was probed and the other when the codec driver was probed. I don't think there was a functional issue, it's just that the code didn't allow for proper lock detection.

[2022-05-13 14:55] plbossart commented on #3650
sorry @bardliao, yes the HDMI part has to be removed manually in the file as you did. This is just for tests, I don't want to have a new topology maintained here, just a quick hook to remove HDMI in one shot.

For the tests, I removed pulseaudio, otherwise the card is marked as in use.

[2022-05-13 15:08] plbossart commented on #3653
@ApostolosB headphone detection is handled by a codec, not by the DSP running SOF firmware.
That's likely a codec configuration issue and/or a missing UCM file.

Please attach the log of 'alsa-info' so that we can understand what device you have.

In addition, if you see an 'hdaudio card' created please take a look at https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-is

[2022-05-13 20:05] plbossart commented on #3644
fixed, closing

[2022-05-13 20:05] #3644 closed

[2022-05-13 20:17] plbossart opened #3651 "SoundWire: rt1308: errors in soc_component_read_no_lock"
environment:
- kernel PR https://github.com/thesofproject/linux/pull/3642 with HDaudio/HDMI link disabled in menuconfig
- SOF PR https://github.com/thesofproject/sof/pull/5813 with HDMI commented out
- modified modprobe/modprobe -r scripts

[code]

dmesg errors:
[code]

[2022-05-13 21:14] plbossart opened #3652 "SoundWire: IPC errors on PIPE_NEW"
kernel PR https://github.com/thesofproject/linux/pull/3642 with HDaudio/HDMI link disabled in menuconfig
SOF PR https://github.com/thesofproject/sof/pull/5813 with HDMI commented out

modified modprobe/modprobe -r scripts to probe machine driver first
[reverse.sh.txt](https://github.com/thesofproject/linux/files/8691370/reverse.sh.txt)

[code]

[code]
[code]

Same error reproduced on CML and TGL,

[2022-05-14 15:16] ApostolosB commented on #3653
[alsa-info.txt](https://github.com/thesofproject/sof/files/8693230/alsa-info.txt)

The requested file.

[2022-05-15 20:50] T-kilt commented on #3248
Hello,

following this discussion for a while.
Have the same Problem.
Huawei Matebook 14
i5-10210U
Kernel 5.18rc6.220609gc5eb0a6-1
No additional quirks.

Sound level ist displayed and Alsamixer is on 100%, but no hiss of a Sound on speakers.
Also no audio Input.
Alsa-info quits with an error.
So Sorry no alsa file.
Any Idea?

Thx
Andre

[2022-05-15 20:53] T-kilt commented on #3248
me again ;-)
Got a little bit more Information:
[ALSA-Informationsskript v 051.txt](https://github.com/thesofproject/linux/files/8695988/ALSA-Informationsskript.v.051.txt)

Hope this will help.
Thx

[2022-05-16 00:17] joeracer321 opened #3654 "Dell XPS 9710 Audio Quality Issue"
Even though audio now technically works after kernel 5.15, I have been experiencing an audio quality issue ever since that is not present under Windows.  It behaves like the left channel is only using the sub-woofer but is getting the full frequency range where the highs are distorted.  The right channel sounds ok but is a little lower in volume like it isn't using both speakers on that side,

[2022-05-16 11:09] ujfalusi commented on #3586
@keqiaozhang, I believe #3649 will fix all IMR boot failures across all devices.
The CML (and JSL) is likely also receiving the ROM_CONTROL reply as the log is filled with:
[code]
I did run an extended test of 400 IMR boot on the JSL device on Friday with that PR.

[2022-05-16 11:41] bardliao commented on #3650
No, sorry, @plbossart I didn't make it clear. I meant the change didn't work for me. I have to remove the HDMI related code from sof-icl-rt711-rt1308-rt715-hdmi.m4 manually. Like
[code]
and so on.

I can run the test and found no issue on SKU 0A32, too.

[2022-05-16 12:11] keqiaozhang commented on #3586
Thanks @jfalusi for fixing this issue. Since the repo rate of this issue is extremely low, so I will keep an eye on this issue in CI after https://github.com/thesofproject/linux/pull/3649 merge.

[2022-05-16 12:20] ujfalusi commented on #3586
@keqiaozhang, I have few thousands of runs on different machines with that change and so far I have not been able to reproduce the issue, while without #3649 I have seen it several times under shorter runs.

Let's see if it is still popping up after when I can get the #3649 merged. Fingers crossed.

[2022-05-16 13:57] plbossart commented on #3654
@joeracer321 can you attach the result of 'alsa-info' so that we know what hardware you have. We use SKU numbers to track devices, not product names, thank you.

[2022-05-16 13:58] plbossart commented on #3650
@bardliao I forgot to push a local change, now fixed with https://github.com/thesofproject/sof/pull/5813/commits/ef9883db552e4665928c11b6ec117b488c227689

[2022-05-16 14:53] plbossart commented on #3641
Looks like we have 2 IPC issues, one on PIPE_NEW tracked by https://github.com/thesofproject/linux/issues/3652  and the other on COMP_NEW:

[code]

sof-logger throws the following errors:

[code]

[2022-05-16 15:20] joeracer321 commented on #3654
upload=true&script=true&cardinfo=
!!################################
!!ALSA Information Script v 0.5.1
!!################################

!!Script ran on: Mon May 16 15:10:06 UTC 2022

!!Linux Distribution
!!------------------

ID_LIKE=arch

!!DMI Information
!!---------------

Manufacturer:      Dell Inc.
Product Name:      XPS 17 9710
Product Version:
Firmware Version:  1.9.1
System SKU:

[2022-05-16 15:28] plbossart commented on #3641
KASAN traces are not super helpful

[code]

[2022-05-16 15:57] plbossart commented on #3641
Additional traces show that we are attempting to free a NULL swidget on IPC error

[code]

Returning -EINVAL is enough to avoid the kernel oops - but the question is why we have an IPC failure in the first place.

[2022-05-16 17:02] plbossart commented on #3654
SKU  0A5D has 2 2-way speakers (WL, WR, TL, TR) - 4 transducers total.

That configuration is entirely handled by 2 RT1308 amplifiers, the only thing the SOF firmware and driver do is route the same 2-ch PCM stream to both amplifiers.

The first thing to do would be to test if there is any confusion between left and right. You can create with audacity a wav file with a sine wave only on the left (

[2022-05-16 17:10] plbossart commented on #3653
@ApostolosB Looks like a bog-standard HDAudio configuration, so please follow the recommendations in https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#disable-sof-on-pci-hdaudio-devices-to-test-audio-playback and add this to /etc/modprobe.d/alsa-base.conf

[code]

reboot and recheck jack detection. If this still doesn't work, it's a codec configuration issue that

[2022-05-16 20:25] DamianyRosales commented on #3248
Did you manage to solve it? I happen to have exactly the same laptop

[2022-05-17 01:43] XiaoyunWu6666 commented on #3626
FW reported error: 6 - Unknown error while processing the request of free pipeline widget pipeline.4 in 12444(May 10)
FW reported error: 6 - Unknown error while processing the request of ipc4 set pipeline 8 state 2 in 12563 12593(May 13 and 14)
FW reported error: 6 - Unknown error while processing the request of ipc4 set pipeline 7 state 3 on WHL UPEXT in inner daily IPC4  12637 (May 17)
FW report

[2022-05-17 02:25] shumingfan commented on #3654
From the amplifier's point of view, 2 RT1308 amplifiers shouldn't have different settings except for the data source coming from the left or right channel. Hence, one test case you can try is to set the mixer 'rt1308-1 RX Channel Select' and 'rt1308-2 RX Channel Select'. For example, the 'rt1308-2 RX Channel Select' changes to 'LL'.

[2022-05-17 10:58] ApostolosB commented on #3653
OK. Did that and it worked as expected. Now what?

[2022-05-17 12:12] bardliao commented on #3650
It works now :)

[2022-05-17 14:55] plbossart commented on #3653
Thanks @ApostolosB

so if you remove the option "options snd-intel-dspcfg dsp_driver=1", boot without the headphones plugged in and later plug them, the detection works fine?

Can you also try to suspend/hibernate, plug the headphones while suspended and resume, would the headphone be detected then?

Just trying to triangulate when we have a missing check for the jack status, only on initial boot

[2022-05-17 15:53] T-kilt commented on #3248
No further progress.
Sorry.

[2022-05-17 16:03] plbossart commented on #3651
@shumingfan @bardliao any idea what this register 0xc320 might be? I have not been able to locate where this read happens. Thanks!

[2022-05-17 16:04] ApostolosB commented on #3653
If i remove the option i go back to the previous behavior. Headphones get no sound.

Suspend works with no issue.

Its a problem only at boot time.

[2022-05-17 16:06] plbossart commented on #3650
@bardliao can you reproduce the issue with the timeout?

[2022-05-17 16:22] Neo-29 commented on #3248
So fed up.... I gave up.
I put windows 11 on it.
To let you know even with windows there's no sound.
Teclast provides with special drivers...
You even need one patch for the microphone!

A nightmare. But with all that it works.

Good luck.

I can't wait any longer.
Tks for your work

[2022-05-17 20:43] #3613 closed

[2022-05-17 21:21] #3643 closed

[2022-05-18 01:48] shumingfan commented on #3651
@plbossart The register 0xc320 (RT1308_SDW_OFFSET | (RT1308_POWER << 4)) was accessed only in the widget.
e.g.
[code]
Could I get the whole 'dmesg' log?

[2022-05-18 02:15] plbossart commented on #3651
@shumingfan parts of the log are included above, you can see that the RT1308 is not attached/enumerated but there are some accesses before it's resumed.

It looks like we are missing a dependency that the codec is resumed before turning on the DAPM supplies?

[2022-05-18 04:21] joeracer321 commented on #3654
Thank you.  I will do some testing later this week or this weekend and report back.

[2022-05-18 04:26] bardliao commented on #3650
No, I didn't see any issue with https://github.com/thesofproject/linux/pull/3642. I will test without https://github.com/thesofproject/linux/pull/3642

[2022-05-18 06:45] keqiaozhang commented on #3387
I spent a couple days on this issue and made some progress.  The error messages typically mean that the system is experiencing disk or memory congestion and processes are being starved of available resources.  In other words, this issue is related to IO subsystem, it caused by high I/O load and file system failed to flush the caching data from memory to disk.

Some explanations from google:
[code]

[2022-05-18 07:17] shumingfan commented on #3651
@plbossart I reproduced this issue on my side. That issue happened when the card is registering.
The RT1308 was attached/enumerated already before the card registration.
The problem is that the rt1308-sdw driver went to suspend mode already before the card registration and the default value of register 0xc320 doesn't be defined in the driver.

[code]
The _regmap_read function can't get the value f

[2022-05-18 08:25] tonitch commented on #3393
here is the new alsa-info.sh in case this can help ?
http://alsa-project.org/db/?f=b984fb47dad3c9247fe8c8ee3926e3d4914b7db8

[2022-05-18 11:39] bardliao commented on #3650
@plbossart If I apply 861d91f17a2b0ce87e58d01b59e49c1d45858f9e and d2e9a6dfa605a92779487e820e07f325047db34f only, I will see below error.
[code]

[2022-05-18 14:05] plbossart commented on #3393
@tonitch the error is 'normal', -517 means 'deferred probe'. The machine driver expects resources that are not available.

That's again normal, you have a 8326 codec, not 8336, and the codec driver is not upstream so there's no component registered to make the machine driver happy.

You will have to ask nicely to the vendor to complete this work. @yangxiaohua2009 FYI

https://lore.kernel.org/alsa-

[2022-05-18 14:09] plbossart commented on #3387
@keqiaozhang I didn't click on the fact that these errors only happen on Dell devices, is this really the case?

I vaguely recall that on some Dell devices we had to change the default for the disk in the BIOS, the default setting was RAID and we had to switch to AHCI or something.

[2022-05-18 15:11] plbossart commented on #3650
@bardliao the error above happens when you remove the rt1316 driver, right? That's what is reported already in https://github.com/thesofproject/linux/issues/3531 and is fixed by the commit e850e40d61787b9badc40cdad22d26e4e160eb02 ('soundwire: revisit driver bind/unbind and callbacks').

However I have not seen the error
[code]

what sequence did you use to see it?

EDIT: sorry, this was just a dev

[2022-05-18 15:36] plbossart commented on #3650
@bardliao @shumingfan I can reproduce the error, even with https://github.com/thesofproject/linux/pull/3657 applied on top.

The test has to be run in a loop though, it doesn't happen the first time.

while true; do bash ./test.sh; done

[2022-05-18 15:47] plbossart commented on #3650
@bardliao please retry with the rebased code in https://github.com/thesofproject/linux/pull/3645 commit [676ec0f](https://github.com/thesofproject/linux/pull/3642/commits/676ec0f02a144a7c4d9215b05fa9e2a96f687013)

[2022-05-18 16:04] plbossart commented on #3651
Thanks for testing @shumingfan and providing PR #3657. I checked and I don't see the issue any longer with your suggested fix.

I am however not very comfortable with the direction. This change means that we would read from the cache when the card is created. I think we've missing a call to pm_runtime_get_sync() to force the codec to resume when you need it.

What causes this widget to be turned o

[2022-05-18 19:28] plbossart commented on #3651
@bardliao @shumingfan I added a WARN_ON(1) to see when this error happened, and here's the trace

[code]

I would guess this read comes from this block

[code]

This one is really interesting, I wonder if there is an expectation that the component devices are active when the card is created, or that any component_read resumes the device.

@ranj063 FYI, I think we've missing something here in terms

[2022-05-19 00:00] marc-hb commented on #3387
Daily 12694?modelSoc=TGLU&model=TGLU_SKU0A32_SDCA&testcase=check-pause-resume-playback-100

[code]

[2022-05-19 03:53] marc-hb commented on #3387
I tried booting `jf-tglu-sku0a32-sdca-03` in both AHCI and RAID/VMD modes and I compared the boot logs and `lsblk`. I found almost no difference. The only difference I could find is these two additional ACPI entries. They seem completely ignored by our kernel.

[code]
![BIOS_AHCI_vs_RAID](https://user-images.githubusercontent.com/46978960/169200694-a5a32cab-973d-48d8-a358-f17bebc4daa0.jpg)

I will

[2022-05-19 04:07] marc-hb commented on #3387
Rst stands for Rapid Storage Technology.

From https://www.intel.com/content/dam/www/public/us/en/documents/white-papers/rst-linux-paper.pdf

The following sections describe the different aspects of Intel RST support in Linux.

RST can cause problems when actually using RAID and/or dual booting with Windows. A typical mistake seems to be switching from RAID to AHCI without letting Windows know abo

[2022-05-19 04:49] yangxiaohua2009 commented on #3393
Please tried the patch and tell us if you can hear sound from headphone.

[2022-05-19 05:42] bardliao commented on #3650
@plbossart I run the test.sh in loop with #3642. I got no error in more than one hour.
[dmesg_mod_reload.txt](https://github.com/thesofproject/linux/files/8725333/dmesg_mod_reload.txt)
And I will get `BUG: kernel NULL pointer dereference, address: 00000000000003f0` when I tried `sudo modprobe -r snd-soc-sof-sdw` if I apply #3645 only.
[dmesg_remove_machine.txt](https://github.com/thesofproject/lin

[2022-05-19 06:13] XiaoyunWu6666 commented on #3633
in inner daily 12695 , on TGLU_RVP_NOCODEC , GLB SET PIPELINE STATE ipc timed out when pause resume in 47/50 round
[code]

[2022-05-19 06:18] shumingfan commented on #3650
@plbossart I also run the test.sh on Dell SKU 0A5D (non-SDCA) with #3642. The 'timed out' messages doesn't happen.
The test run over two hours.

[2022-05-19 06:38] tonitch commented on #3393
Which patch do you mean ?
If this is the one you sent, I though it was in the main branch now ? I'm using 5.17 and saw the commit pop in somewhere

If you talk about the patch I told you the gpd team published, it was a piece of security nightmare. But I tried it anyway, it didn't worked and the god team removed the patch not even a week after -_-

They don't know linux and don't really try to sup

[2022-05-19 09:02] keqiaozhang commented on #3387
Yes,  from the issue history, it only happened on below 4 Dell platforms.
![image](https://user-images.githubusercontent.com/22468760/169255608-0e0b4e61-870a-4ec3-bbf0-a8b5a9be95f4.png)

Yes,  but we chose AHCI mode for all Dell devices, at least for SH devices.

[2022-05-19 09:29] yangxiaohua2009 commented on #3393
Please use this patch on your kernel source code because the code is out of main branch.
[0001-ASoC-codecs-add-support-for-ES8326.zip](https://github.com/thesofproject/linux/files/8727819/0001-ASoC-codecs-add-support-for-ES8326.zip)

[2022-05-19 10:23] bardliao commented on #3651
Reading a non-volatile register from cache is a normal behavior of ASoC. It can save some IO time. We should have default values for all non-volatile registers. The default value means the value when codec is reset. So we can trust the cache value is always the same as the real value.

[2022-05-19 12:47] plbossart commented on #3650
The test fails only on the SDCA skew @bardliao @shumingfan, it's related to the rt711-sdca codec driver.

[2022-05-19 14:35] plbossart commented on #3651
What if a register is not part of the cache or is volatile @bardliao?

I have an alternate solution based on adding pm_runtime_resume_and_get() in the ASoC component probe.

[code]

I think the device should be pm_runtime active when we probe a component, otherwise things could be seriously wrong.

@ranj063 @ujfalusi can you think of cases where this would break existing ASoC drivers?

[2022-05-19 15:04] plbossart commented on #3641
I cannot reproduce this with the latest changes in PR https://github.com/thesofproject/linux/pull/3642

[2022-05-19 15:04] plbossart commented on #3650
Cannot reproduce this with the changes in https://github.com/thesofproject/linux/pull/3642

[2022-05-19 15:05] plbossart commented on #3651
cannot reproduce this with the latest changes in https://github.com/thesofproject/linux/pull/3642

[2022-05-19 15:08] plbossart commented on #3652
reproduced on 2 TGL devices and 1 CML, even with the latest changes in https://github.com/thesofproject/linux/pull/3642

This looks like a firmware bug to me @ranj063

[2022-05-19 16:06] plbossart commented on #3641
What solves this problem is the commit e760c995616bc518162bb444ace507f1764b474e

ASoC: soc-component: make sure device is resumed before probe/remove

Wow. @ranj063 any ideas?

[2022-05-19 16:58] tonitch commented on #3393
It took me sooo long to compile but yhea it finally worked ! thanks a lot, I will close this issue! I suppose you can push that to the main branch somehow ^^

[2022-05-19 16:58] #3393 closed

[2022-05-19 21:34] fredoh9 opened #3662 "[MTL] hda_dsp_core_power_down timeout/failed when kmod removal"
This is first MTL issue.
When kmod/sof_remove.sh, I have hda_dsp_core_power_down and failure. This need to be fixed.

[code]

But when I do manually probe mtl pci device, I get the soundcard back.
`# modprobe snd_sof_pci_intel_mtl`

It wasn't the case before, I tried to report the issue now but not the case any more. Only above failure is the issue.
FYI: @ranj063 @bardliao

[2022-05-20 00:14] marc-hb commented on #3387
jf-tglu-sku0a32-sdca-03 crashed again.  Again, it crashed when logging was heavy.

This caused another "time warp". I took that opportunity to explain how `journalctl` works and what to do and not to do with `journalctl` when a time warp happen:
- https://github.com/thesofproject/sof-test/discussions/908

tl;dr: always use journalctl's `-b` option.

[2022-05-20 02:04] keqiaozhang commented on #3387
It seems easier to hit this issue  on `jf-tglu-sku0a32-sdca-01`, so I compared the hardware configuration of 3 TGLU_SKU0A32_SDCA devices and found that `jf-tglu-sku0a32-sdca-01` only has 8G memory, it's a low-end Andrews. we may need special cache setting for this device. So I re-tuned them and extended the timeout from 120 seconds to 360 seconds(/proc/sys/kernel/hung_task_timeout_secs). Now the c

[2022-05-20 04:29] MDNSSKNGHT commented on #3248
Artix Linux user here, I just installed linux kernel 5.18.0-rc7, there's no longer "Dummy Output" on pulsemixer, neither any sound output. At least is detecting sound card :D

EDIT: There was static output from speakers, but it stopped outputing anything, I guess because I reinstalled sof-firmware, I was using the topologies from sof-bin repository before it.

[2022-05-20 23:55] manuelbalderas commented on #3248
I've tried a lot to be able to have audio on my Huawei Matebook D14 i3 device, so far, I haven't be able to fix it. If I put a monitor with speakers with HDMI, I can play sound on it, but the onboard soundcard seems to not be recognize. Has anyone can fix this already on their Huawei laptop?

[2022-05-21 00:39] marc-hb commented on #3387
I think jf-tglu-sku0a32-sdca-03 (and maybe other similar devices) have temporary storage issues. I ran bonnie++ in AHCI mode and I found write performance _temporarily_ half as good as normally expected!

[code]

So I switched to "RAID On)" (`Rst`) and the write performace doubled:

[code]

After switching back to AHCI, the performance stayed high!!

I tried jf-tglu-sku0a32-sdca-01 in both modes a

[2022-05-21 01:14] marc-hb commented on #3387
To make things worse, I've narrowed down a graphical issue on these devices. It's unrelated but it does not help. They're stuck to VT1. In other words, `chvt 3` works but it's "blind": you can login but can't see anything because the display is stuck to VT1. The stock Ubuntu kernel is fine, this happens only with our current kernel. This should be filed in a different bug.

EDIT, mystery solved:
-

[2022-05-21 05:06] keqiaozhang commented on #3586
@ujfalusi Bad news, this issue happened again on JSL.
http://sof-ci.sh.intel.com/#/result/planresultdetail/12763?model=JSL_RVP_NOCODEC&testcase=check-runtime-pm-status-15
http://sof-ci.sh.intel.com/#/result/planresultdetail/12767?model=JSL_RVP_NOCODEC&testcase=check-runtime-pm-status-100

[2022-05-21 14:01] phre2 commented on #3428
For whoever still facing this issue, I fixed it with these commands

amixer cset name='Headphone Switch' on
amixer cset name='Speaker Switch' on
amixer cset name='Headphone Playback Volume' 3,3
amixer cset name='Right Headphone Mixer Right DAC Switch' on
amixer cset name='Left Headphone Mixer Left DAC Switch' on
amixer cset name='DAC Playback Volume' 999,999
amixer cset name='Headphone Mixer Volum

[2022-05-21 23:02] yongzhi1 commented on #3662
In my case, I can remove safely with:
modprobe -r snd_sof_pci_intel_mtl

But if I try to probe again, it returns:

[  405.038233] sof-audio-pci-intel-mtl 0000:00:1f.3: Loaded firmware version: 0.0.0.0
[  405.050383] BUG: kernel NULL pointer dereference, address: 0000000000000000
[  405.058178] #PF: supervisor write access in kernel mode
[  405.064027] #PF: error_code(0x0002) - not-present page
[

[2022-05-22 15:26] joeracer321 commented on #3654
There is no confusion of L & R signals and shutting off the channels indeed works.  I found that the distorted sound follows the left speaker when I swap the LL & RR channels in alsamixer. This is indeed a hardware problem... I ran the same test on Windows and the issue is present.  I am not sure exactly when the speaker broke but it wasn't broken when the laptop was new with the OEM OS install. I

[2022-05-22 17:34] #3654 closed

[2022-05-22 19:18] ghost commented on #3430
Hi, I'm facing the same problem on kernel 5.17.9 with my Huawei Matebook D15 i5-10210u and gentoo. Could I ask if you can check if the problem still appears? Thanks

[code]

[2022-05-22 22:16] ghost commented on #3248
Hi there, I have a Matebook D15 i5-10210u with the ES8336. I have tried some of your suggestions with kernel 5.17.9 under gentoo and that's my dmesg (I've used the /etc/modprobe.d's trick)

[code]

[2022-05-23 02:45] keqiaozhang commented on #3647
@bardliao , please have a check.

[2022-05-23 05:55] ujfalusi commented on #3586
@keqiaozhang, thanks for the note, #3649 is not yet merged, but it it good to know that this pops up every now and then currently!

[2022-05-23 07:36] codesalatdev commented on #3248
Matebook D14 with i5 here. Yes, I got the speakers on the device working with the proper topology file provided by plbossart (not pinging them bc irrelevant to he convo) and weird adjustments in alsamixer (headphone volume changes speaker volume, etc.).

With the current state of the solution, I'd strongly advise against using this on a production system. Be prepared for the sound to crash anytime

[2022-05-23 12:16] katyo commented on #3248
Integrated microphones does not work on mainline 5.17.y on Teclast F5.
In same time it worked well with #3107.

[2022-05-23 14:45] plbossart commented on #3654
@joeracer321 thanks for testing. It's possible that there's a quality difference due to different firmwares being used for Windows and Linux, the Linux one is based on open-source/public code while the Windows one may be linked with 3rd party processing for speaker protection and equalization. There's not much we can do to correct this sort of integration issues, the only thing the SOF firmware do

[2022-05-23 15:34] Kemsekov commented on #3249
What about using `ndiswrapper-utils` to make windows huawei sound drivers work under linux? I do not care if it is proprietary at this point. I am just too sicked of not having sound on my laptop((

[2022-05-23 16:03] ranj063 commented on #3662
@yongzhi1 could you please try the sof_remove.sh script instead of modprobe -r? BTW, Ive already discussed a fix for this issue with @fredoh9. He should have a PR ready soon

[2022-05-23 17:29] ujfalusi commented on #3586
@keqiaozhang, I took the same JSL machine and run #3649 on it for 6 hours, it passed 2125 IMR boot iterations.
I also run the latest daily kernel later and after about 2.5 hours and 1100 iteration it failed.

[2022-05-23 17:51] #3586 closed

[2022-05-23 20:04] jairaj-arava opened #3668 "Discussion: ADL-P: Support in M/C driver for RT711 headset codec for external Audio interface cards(AIOC) with different JD source"
The soundwire RT711 headset codec  jack detection source is different on each version. For an instance, it is JD2_100k on on-board codec and it is JD2 on AIOC codecs. Listed below from the  RT711 codec driver jacke detection sources
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/rt711.h#L242
enum rt711_jd_src {
	RT711_JD_NULL,
	RT711_JD1,
	RT711_JD2,
	RT711_JD2_100K,
	R

[2022-05-23 20:06] jairaj-arava commented on #3668
@sathya-nujella @ranj063 @plbossart

[2022-05-23 20:17] plbossart commented on #3668
@jairaj-arava you already have a kernel parameter for snd_soc_sof_sdw, just take the default value for the quirk and set the bits you want. We can't have different settings in the driver for different hardware layouts, we have to assume the on-board codec is used. If you want to connect something else, you need to use quirks.

[2022-05-23 20:21] IlyaSkriblovsky commented on #3249
@Kemsekov, ndiswrapper is only for network drivers, AFAIK, not for the drivers in general

[2022-05-23 21:56] marc-hb commented on #3387
The storage on (some of) those systems is definitely unreliable. ~@keqiaozhang  please restore all the default `vm_dirty` values~, I think they only move some thresholds without actually avoiding the issue.

I reserved jf-tglu-sku0a32-sdca-03 for some testing and I experienced another hang while `apt upgrade` was merely performing an `update-initramfs`

[code]

Immediately after I tried:
[code]

B

[2022-05-23 23:42] marc-hb commented on #3387
Ignore the last comment sorry. I was very unlucky and happened to test our special **weekly** kernel (unfortunately called `5.18.0-rc2-DAILY-default-20220521-g8a9e9090617`) which is made mostly unusable because of all these debug options: https://github.com/thesofproject/kconfig/blob/21c34631a8517/memory-debug-defconfig
Thanks @fredoh9 for solving this mystery!

EDIT: we should check whether some

[2022-05-23 23:46] rfeldman2534 commented on #3668
Summary of the problem we are trying to solve:

Linux Integration team is trying to enable Intel QA team to validate 'SNDW ADL-P RVP<->AIOC>GEN3.1' config (RT711_JD2),  using SOF daily kernel image. Note that this 'SNDW ADL-P RVP<->AIOC>GEN3.1'config uses sof-adl-rt711-l0-rt1316-l13-rt714-l2.tplg.
Also, we have to preserve SOF daily kernel support for 'SNDW ADL-P RVP' configs, which use onboard AL

[2022-05-23 23:54] plbossart commented on #3612
@J0shuaT please try https://github.com/alsa-project/alsa-ucm-conf/pull/150. It's not perfect but it's a start with UCM. Sorry it took so much time to find spare cycles to update this PR.

You want to clone/copy the entire ucm2 directory on /usr/share/alsa/ (keep your existing settings in a backup!).

[2022-05-23 23:57] plbossart commented on #3668
@rfeldman2534 there's no magic here, if you have two hardware platforms identified with the *SAME* DMI quirk only one configuration will work out of the box, the other will require a kernel parameter set on the DUT.

[2022-05-23 23:59] plbossart commented on #3668
@rfeldman2534 to be clearer, we *CANNOT* detect what the JD values might be, it has to be set explicitly and provided to the machine driver. The DMI quirk is just a means to guess, but again if you have different settings for the same DMI quirk there's not much we can do for you.

[2022-05-24 00:23] rfeldman2534 commented on #3668
Thanks for providing these clarifications.
We can add a manual step for QA to edit /etc/default/grub and add GRUB_CMDLINE_LINUX param like snd_intel_rt711_jd2=1. However, we will still need an SOF kernel patch to check for this kernel cmdline arg, and override corresponding .driver_data, set via sof_sdw_quirk_table[] DMI match.
Are you Ok with this approach?

[2022-05-24 01:19] libinyang commented on #3668
Based on this issue, I'm wondering whether there are productions using same DMI but have different HW JD configuration? If so, do we have rule to fix such confliction except the kernel parameter?

[2022-05-24 07:47] keqiaozhang commented on #3387
@marc-hb  I restored all `vm.dirty` values on all our Dell devices. But from test ID:
http://sof-ci.sh.intel.com/#/result/planresultdetail/12825(aborted by me).
Almost all Dell devices(`TGLH_SKU0A70_HDA` `TGLU_SKU0A32_SDCA` and `CML_SKU0955_HDA`) run to the timeout issue several times.

But before the reproduction rate is low after adjusting the `vm_dirty`. Especially for `CML_SKU0955_HDA`. Theref

[2022-05-24 07:49] kv2019i commented on #3669
In FW bugscrub: no sign of relation to FW, so moving to kernel.

[2022-05-24 09:48] ujfalusi commented on #3669
All the symptoms points to a duplicate of #3387 and it might have been fixed by the tuning of the vm parameters?

[2022-05-24 15:18] plbossart commented on #3668
@rfeldman2534 there is no development needed, you can already use the quirk parameter

[code]

[2022-05-24 15:19] plbossart commented on #3668
in other words, all you need is to set the quirk, either on the command line with snd-soc-sof-sdw.quirk=0xdeadbeef or

options snd-sof-sof-sdw quick=0xdeadbeef added to a configuration file in /etc/modprobe.d/

[2022-05-24 17:23] yongzhi1 commented on #3662
Hi @ranj063 , same results with sof_remove.sh.

[2022-05-24 21:18] rfeldman2534 commented on #3668
Hello Pierre,

Thank you for providing this detailed information. I will validate that using this quirk parameter resolves rt711 jack detection issue on our SoundWire ADL-P RVP<->AIOC.Gen31 config, and provide an update.

Thanks,
Robert

[2022-05-25 00:34] marc-hb commented on #3387
I'm adding a quick storage sanity check + `sync` in
- https://github.com/thesofproject/sof-test/pull/910

Please help review.

[2022-05-25 06:39] sathyap-chrome commented on #2805
couple more customer reports also show this

[19294.505767] sof-audio-pci-intel-tgl 0000:00:1f.3: error: stream frags exceeded
[19294.505777] sof-audio-pci-intel-tgl 0000:00:1f.3: error: set up of BDL failed
[19294.505780] sof-audio-pci-intel-tgl 0000:00:1f.3: error: iccmax stream prepare failed: -22
[19294.505965] sof-audio-pci-intel-tgl 0000:00:1f.3: error: dma prepare for ICCMAX stream failed
[

[2022-05-25 06:50] libinyang opened #3670 "[ipc4] some memory managment issues in ipc4-topology.c"
There are some bugs in the memory management in the ipc4-topology.c.

For example, in sof_ipc4_widget_setup_pcm(), it will call sof_ipc4_get_audio_fmt() to allocate ipc4_copier->available_fmt->base_config and ipc4_copier->available_fmt->out_audio_fmt if has_out_format is true. But in the error handling, this function will never kfree ipc4_copier->available_fmt->base_config and ipc4_copier->availab

[2022-05-25 14:13] keqiaozhang commented on #3387
Thanks for @ujfalusi suggestion.

@marc-hb and @plbossart
I verified this issue with latest `linux-next` kernel https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/ and this issue cannot be reproduced anymore.

Here is the first round of test result for 2 Dell platforms which are easy to hit this issue: https://sof-ci.sh.intel.com/#/result/planresultdetail/12875
There's only one fa

[2022-05-25 15:22] plbossart commented on #3670
you have to be very careful @libinyang when using devm_ for things that are allocated during the topology instantiation. This happens when the card machine driver is probed, so the memory has to be released when the card driver is removed. It's very easy to confuse the PCI device and the platform device.

[2022-05-25 17:44] plbossart commented on #3387
@keqiaozhang can you try with 5.18 to see if that already fixes the problem? linux-next includes stuff that will be provided later, or in 5.19-rc1 and that in itself will add other issues.

[2022-05-25 17:57] marc-hb commented on #3387
Maybe a newer kernel has marginally better performance but that's IMHO only hiding the real, device-specific issue here.

As noticed by @plbossart , we've observed these hangs only on certain TGL devices with (normally!) very high performance NVMe storage. I just discovered that the storage performance on some of our old BYT devices is ONE HUNDRED times lower than on those recent TGL devices:
- ht

[2022-05-25 20:01] plbossart commented on #2805
@sathyap-chrome I thought iccmax was not useful for TGL? @ranj063 am I mistaken?

[2022-05-25 21:37] odarbelaeze commented on #2764
Just patched my sister in law's pc with the updated topology. It's the second time around and it keeps working like a charm! <3

[2022-05-26 01:07] keqiaozhang commented on #3387
Be noticed that some BYT devices use the SD card for storage, not SSD or NVME.  please check the storage size for the low performance BYT devices. the storage size should be 16G or 32G if it uses SD card.

[2022-05-26 01:51] marc-hb commented on #3387
Very interesting but that's not my point. My point is: incredibly slow BYT storage never triggered any "hung task" or TIMEOUT. So this is not just a "slow storage" issue, something else is really wrong with these devices and we still have no idea what it is. Maybe storage hangs sometimes, or maybe it's not even storage. So neither the newer kernel versions or `vm_dirty` changes can really fix thes

[2022-05-26 04:04] XiaoyunWu6666 commented on #3626
@RanderWang @lgirdwood , just FYI , I'm not sure whether the multiple ipc time out when setting pipeline on sof Zephyr IPC4 platforms are related to this or not .

But ipc time out when setting pipeline does happen on IPC4 with cavs fw . However , the scenario of causing setting pipeline status to fail is different.
For sof IPC4 , playback for 100 times can reproduce this ipc issue while on WHL an

[2022-05-26 06:19] keqiaozhang commented on #3387
I tested with https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/log/?h=for-5.18 kernel before, the hung task timeout issue is still reproducible.
The last update of https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/log/?h=for-5.18 is 14 days ago.  Same commit ID as I tested before.

![image](https://user-images.githubusercontent.com/22468760/170413161-089d8521-1dbf-

[2022-05-26 07:44] RanderWang commented on #3626
Thanks

[2022-05-26 10:38] ghost commented on #3248
I see there is a PR that refers to this bug, is this something that fixes the problem with our codec or not? https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/sound/soc/intel/common/soc-acpi-intel-cml-match.c?h=v5.18&id=8a6cc0ded6d942e4a506c421c4d87a634bda6e75

[2022-05-26 18:44] SpaLox1 commented on #3248
Something went wrong or I'm too stupid...

I set my quirk to 0x100 within /etc/modprobe.d/sound.conf...

`dmesg|grep "essx"`
`[7.846452] sof-essx8336 sof-essx8336: quirk mask 0x0`
???
`[7.846458] sof-essx8336 sof-essx8336: quirk SSP0`
`[7.849067] sof-essx8336 sof-essx8336: ASoC: parent card not yet available, widget card binding deferred`
???

Kernel is 5.18.0-2.g2023975-default of openSUSE Tumble

[2022-05-27 04:33] ghost commented on #3248
Seems something is starting to move on kernel 5.19.0 with latest fedora.

[code]

Unfortunately integrated speakers refuse to work. I haven't tried headset and HDMI yet

[2022-05-27 04:35] ghost commented on #3248
![immagine](https://user-images.githubusercontent.com/100232474/170629668-83050bbc-4216-4992-a287-af6d90f2a7ba.png)
Also mic doesn't work yet

[2022-05-27 19:52] marc-hb commented on #3387
Reproduced again in daily 12927?model=TGLU_SKU0A32_SDCA&testcase=multiple-pause-resume-50

I had a look at the results of the quick storage test I just added in https://github.com/thesofproject/sof-test/commit/34ca191b92a32 and write speed was blazingly fast as usual before and after this failure, **zero issue found with actual storage**.

Start Time: 2022-05-26 22:28:02 UTC
End Time: 2022-05-27 0

[2022-05-27 20:01] marc-hb commented on #3387
This issue is intermittent, so the lack of reproduction can be just luck.

[2022-05-28 01:14] yongzhi1 opened #3672 "[FEATURE] Add HDMI pipe to topology2"
**Is your feature request related to a problem? Please describe.**
Since machine drivers usually assume the presence of HDMI as shown in the following example:
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw_common.h#L27

It's necessary to add support in topolgoy2 to avoid error return by codec_card_late_probe() ,

[2022-05-30 02:01] keqiaozhang commented on #3598
Not seen this issue in CI for more that one month. Closing this issue. Will re-open it if hit this issue again.

[2022-05-30 02:06] bardliao commented on #3672
@yongzhi1 [sof_sdw_common.h#L27](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw_common.h#L27) is for sof_sdw.c, but your machine driver is sof_rt5682.c.
Could you print the value of hdmi_num in your side? https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_rt5682.c#L865
We need more kernel log on the issue, please apply the

[2022-05-30 04:45] miRoox opened #3673 "[BUG] Null pointer dereference on ADLP_GMB_I2S when running multiple-pipeline-capture"
**Describe the bug**
Found null pointer dereference bug on ADLP_GMB_I2S while running multiple-pipeline-capture-50 in internal test 12952.

**Command to run**
[code]

**Reproduction Rate**
Only once in recent daily tests, and it cannot be reproduced manually.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: <https://github.com/thesofproject/linux/commit/46f61a08b40c>
SOF Branch: main
S

[2022-05-30 06:01] libinyang commented on #3670
@plbossart Thanks for the comments. I have submitted the PR https://github.com/thesofproject/linux/pull/3674 to fix this issue. I did some check in the code last week and it seems safe to use devm_xxx. But I'm not 100% confident to use devm_xxx... So in this PR, I didn't use devm_xxx.

[2022-05-31 01:07] marc-hb commented on #3673
This looks like a new and recent regression, correct?

The bug title says multiple-pipeline-capture but the reproduction command says: `check-kmod-load-unload.sh`?

cc: @lyakh

[2022-05-31 01:10] miRoox commented on #3673
Sorry, the reproduction command is incorrect, just fix it.

Might be a new regression, but since the reproduction rate is very low, it may not be so recent.

[2022-05-31 03:40] sprnza opened #3676 "Internal mic doesn't work (Lenovo Thinkbook 13S-IML)"
Hi there!
I'm unable to get my internal mic working:
[code]
[code]
[code]
I've found almost exactly the same isue [here](https://github.com/thesofproject/linux/issues/2460) and I tried to add topology mentioned in the comment [below](https://github.com/thesofproject/linux/issues/2460#issuecomment-779212719) to no avail. I've created dmesg log with dynamic debug enabled.
[dmesg.log](https://github.

[2022-05-31 14:59] plbossart commented on #3676
@sprnza is the recording above with the regular topology or with the PDM1 version?

[2022-05-31 16:25] sprnza commented on #3676
With PDM version. Just tried again to be certain:
[code]
![31-05-2022-19:24:39-scrot](https://user-images.githubusercontent.com/1968839/171224972-e83ebfcc-4188-4610-bf43-a1c160e7c026.jpg)

[2022-05-31 16:27] sprnza commented on #3676
No it's some another file:
[code]

[2022-05-31 16:32] sprnza commented on #3676
Sorry, I've mixed up the files somehow or just haven't copied it at all. It's working with the PDM1 topology now. Thank you for the hint!

[2022-05-31 16:32] #3676 closed

[2022-05-31 18:56] yongzhi1 commented on #3672
It turned out the late probe error was caused by my local change in sof_rt5682.c that has hdmi_num unnecessarily set to 0, thanks @bardliao for reminding me.

[2022-06-01 02:14] rfeldman2534 commented on #3668
Summary of my latest findings:

1. Verified that if “snd-soc-sof-sdw.quirk” parameter is not passed to unmodified SOF 5.17.0-rc1-daily kernel, global sof_sdw_quirk defaults to 0x50023 on Linux ADL-P.RVP<->AIOC.Gen31 config. This default initialization is handled by the following entry of the sof_sdw_quirk_table[], and sof_sdw_quirk bits 0-3 are used to encode JD_src:

{
                .callback =

[2022-06-01 04:46] XiaoyunWu6666 commented on #3636
haven't seen this in CI for 3 weeks

[2022-06-01 04:54] XiaoyunWu6666 commented on #3647
I'd like to change the issue title since it's not always failure when setting specific pipeline with specific state

[2022-06-01 15:38] rfeldman2534 commented on #3668
Hello Pierre,

When you get a chance, please take a look at the latest test results, described in my last update above, and confirm that we are on the same page for enabling rt711 jack detection on ADL-P<->AIOC config, by passing snd-soc-sof-sdw.quirk=0x50022” to SOF kernel (via GRUB_CMDLINE_LINUX). When this is confirmed, this issue can be closed.

Thanks,
Robert

[2022-06-01 17:27] plbossart commented on #3668
@rfeldman2534 if you are only changing the JD source from RT711_JD2_100K to RT711_JD2 then the following change looks good to me. The 4 lowest bits are allocated to JD sources, so you're changing from index 3 to index 2.

 0x50023 => 0x50022

[2022-06-01 18:15] rfeldman2534 commented on #3668
Hello Pierre,

Thank you for your feedback.

Robert

[2022-06-01 18:18] rfeldman2534 commented on #3668
Hello Jairaj,

Please confirm that you don't see any issues with the proposed /etc/default/grub change to enable rt711 jack_detection for the SNDW Linux ADL-P.RVP<->AIOC config, and then please close this issue.

Thanks,
Robert

[2022-06-01 19:28] jairaj-arava commented on #3668
@rfeldman2534 as discussed, let's go with the above command line override approach SNDW Linux ADL-P.RVP<->AIOC config. Hence, closing the issue.

[2022-06-01 19:28] #3668 closed

[2022-06-02 05:46] XiaoyunWu6666 opened #3678 "ipc timed out with closed-source firmware on WHL_UPEXT"
**Description**
Intel internal tests show failures for model=WHL_UPEXT_HDA_IPC4&testcase=multiple-pipeline-capture-50.sh in inner daily 13032
ipc timed out while processing the request of ipc4 unbind modules copier.host.9.1 -> copier.HDA.10.1

Haven't reproduced it so far ,will provide more info after managing to reproduce it

**Test Recipe**
Kernel Branch: topic/sof-dev
Kernel Commit: [2ce729e6af

[2022-06-02 23:44] marc-hb commented on #3387
Whatever the problem is, it is definitely triggered by more intense logging. The `sudo sync` I recently added makes that obvious.

In daily test run 13008?model=TGLH_SKU0A70_HDA&testcase=check-ipc-flood

after 10,000 lines like this:
[code]

[code]

Same on the day before; 10,000 lines like these in only 2 seconds and then hang after `sync`.
[code]

[2022-06-03 13:42] gbuloz commented on #2990
**@plbossart** , **@mengdonglin** : Hi ! After months waiting for an updated hardware with B1 silicon, it turns out that booting the latest Fedora 36 release (kernel 5.17) solves the SOF firmware not loading issue and also fixes the "ALSA: hda: intel-dsp-cfg: add missing ElkhartLake PCI ID" issue. But I still have the pinctrl issue with my BIOS.
Before I ask our BIOS team to give me a BIOS with th

[2022-06-03 19:36] plbossart commented on #2990
@gbuloz the release in October was supposed to be a hot fix, it's quite likely there's been an update since. My email archives have been purged and I can't recall what the release plans were.

[2022-06-06 01:17] #3229 closed

[2022-06-06 02:49] keqiaozhang commented on #3626
Since this issue only happens on WHL, not reproducible on TGL or ADL, so change the priority to P2.

[2022-06-06 02:49] XiaoyunWu6666 commented on #3591
Very rare , approximately once a month

[2022-06-06 07:13] mengdonglin commented on #2580
@shumingfan @libinyang I close this issue as no active work atm. We can re-open if if need. Thanks!

[2022-06-06 07:13] #2580 closed

[2022-06-06 07:59] RanderWang commented on #1268
Not usable

[2022-06-06 07:59] #1268 closed

[2022-06-07 08:55] aiChaoSONG opened #3684 "[RFC] How to add queue number support (specify which pin of a widget to connect )?"
## Background

The IPC4 SOF kernel now has basic support to the closed source firmware. Some processing components from close source firmware support multiple inputs or outputs, at the time we want to connect to the multiple inputs/outputs component (in firmware), we need to provide a number to indicate which input/output pin we want to connect, this number is called source_queue or sink_queue. An

[2022-06-07 11:58] RanderWang commented on #3684
thanks for explanation. There is no queue in IPC3 design, just one to one connection. We have two types of method to make it work: (1) assign queue id in topology. Option1 is hardest way and we don't need to do it with option2 in topology, just in driver. Option3 is the best. (2) calculate queue in driver when bind modules. use a index++ to assign queue. This is done by windows. we don't need to m

[2022-06-07 13:07] ujfalusi commented on #3684
@aiChaoSONG, in ASoC DAPM the _pin_ is the widget. In other words: `copier.host.1.1.1` should be the widget and not `copier.host.1.1` (plus some index/pin number).
I guess this is solution 3, right?

[2022-06-07 14:31] aiChaoSONG commented on #3684
@ujfalusi Not quite get you point, Let's take copier as an example,  the closed source cavs copier can support up to four outputs, the queue number is used to indicate which output is used in a route.

let's say the `queue 0` and `queue 1` are not interchangeable, `queue 0` must be connected to `copier.host.7.1`, and `queue 1` must be connected to `smart_amp.1.1`, we need a number to tell us which

[2022-06-07 15:28] plbossart commented on #3684
@ujfalusi the DAPM concept of 'pin' is more for physical input/outputs at the hardware level, it's not intended to the best of my knowledge to represent components with multiple input/outputs.

@aiChaoSONG DAPM does not really have a concept of data transport, it's largely based on propagation of events between entities. That said, there are existing ways to control e.g. a MUX with a kcontrol, so

[2022-06-08 01:26] aiChaoSONG commented on #3684
@plbossart Please take a look at solution 2, in solution 2, I put some emphasis to the order of route connection. For copier, the four supported outputs are of the same equality, it's OK to allocate queue increasingly. But we have some widgets that differentiate the outputs,  For example, the closed source KPB component, the order matter there.

[2022-06-08 09:00] kv2019i commented on #3684
This will probably need discussion on alsa-devel. This capability is very generic and probably beneficial to other ASoC users.  E.g. PipeWire has a concept of "port" -> https://docs.pipewire.org/page_objects_design.html . Ack to @plbossart that DAPM is not defining data flow as such, but DAPM routes are the closest standard way to describe graphs in ASoC, so I'd continue to extend this. Otherwise

[2022-06-08 13:11] ujfalusi commented on #3684
@plbossart, @kv2019i, while it is true that DAPM is not defining data flow, it is defining an audio path (Dynamic Audio Power Management). It was designed to deal with analog domain (within codecs usually).
It defines a path which needs to be enabled/disabled dynamically and on demand

Traditionally you would have `widget` for each connectable point in your system and then just connect the dots to

[2022-06-08 16:12] plbossart commented on #3684
@ujfalusi makes an excellent point. If a DAPM component is active, there's no way to intercept any DAPM event to enable additional output queues on that component when another path becomes active. Edit: same for input queues for e.g. a mixer component already processing data on a different path.

Things could also be interesting if queues are represented as separate widgets, in that output queues

[2022-06-08 17:36] plbossart commented on #3638
Really unclear what causes the second device to remain unattached - but clearly there's already a hardware problem earlier since devices are not supposed to fall off the bus.

[2022-06-08 17:54] plbossart commented on #3684
Answering to my own question, the queues are supposed to be set-up during the 'bind' step

[code]

[2022-06-08 18:42] ujfalusi commented on #3684
@plbossart, which is in PCM path (initiated from `sof_pcm_hw_params()` if I'm looking at it right, so it is not DAPM?
In light of this, solution 3 looks like to have the least overall controversy. DAPM is ignored anyways for the path setup.

[2022-06-08 18:55] plbossart commented on #3684
@ujfalusi Solution 3 requires changes to sound/soc/soc-dapm.c which isn't going to go well upstream...

[2022-06-08 19:32] plbossart commented on #3684
Maybe a complete brain fart but the existing soc_dapm_route is represented as follows

[code]

@ranj063 Does anything prevent us from using the 'control' string to represent a binding between pin X of the source and pin Y of the sink? Or to create a pretend/fixed control to represent the binding?

[2022-06-08 19:48] plbossart commented on #3594
fixed by @ujfalusi

[2022-06-08 19:48] #3594 closed

[2022-06-08 19:48] plbossart commented on #3104
fixed with upstream changes.

[2022-06-08 19:48] #3104 closed

[2022-06-09 00:45] RanderWang commented on #3684
Do we want to use static queue setting ? If a module use queue 3 defined in topology to work with a sink module and the sink is used only in some cases, should we use queue 0 or queue 3 in topology ?

[2022-06-09 07:10] bardliao commented on #3684
Can copier.SSP.8.1.0 and copier.SSP.8.1.1 be independent widget instead of part of copier.SSP.8.1? And copier.SSP.8.1 could be a mixer which can connect to copier.SSP.8.1.0 and/or copier.SSP.8.1.1.
We can for example send creation IPC on the copier.SSP.8.1 widget and send binding IPC on the copier.SSP.8.1.0/copier.SSP.8.1.1 widgets.
We won't need to touch the dapm code if the above idea is doable.

[2022-06-09 08:01] ujfalusi commented on #3684
@bardliao, I was trying to suggest something like that. First I thought that DAPM is involved, but this should be doable with the open coded path walking in SOF.

[2022-06-09 13:49] plbossart commented on #3684
@bardliao @ujfalusi this idea of independent widgets for queues would require three routes when we have one today, and then the IPC for the bind would involve the actual sink/source - it seems a bit complicated to me also to define queue IDs in independent widgets that need to be consistent for all widgets connected to a source or sink.

[2022-06-10 03:37] XiaoyunWu6666 commented on #3678
ipc error when trying to set pipeline state
see inner result  13238  model WHL_UPEXT_HDA_IPC4 testcase check-pause-resume-playback-100)
[code]

But I haven't been able to reproduce it yet

[2022-06-11 07:37] callegar commented on #3210
After about 1 year from my original opening of the bug, I have again the "Summer laptop" and I had a chance to try again the audio situation on the Chuwi hi10x.

My distro provides kernel 5.17.9 and a package with the sof-firmware 2.1.1. The kernel appears to include support for the ES8336 codec and the firmware gets loaded. With this the system shows an audio card and the desktop shows an audio o

[2022-06-11 07:53] callegar commented on #3210
Distro also provide a 5.18RC kernel. With this the sof kernel abi gets to 3:19, but behavior remains the same...

[2022-06-11 08:34] tomty89 commented on #3210
I on the other hand got firmware loading error with 5.18.1 on Arch. sof-firmware 2.1.1 provides ssp-0 and ssp-2 topology but the kernel looks for an ssp-1 one.

[2022-06-11 13:05] callegar commented on #2955
After about 1 year from my original opening of the bug, I have again the "Summer laptop" and I had a chance to try again the audio situation on the Chuwi hi10x.

My distro provides kernel 5.17.9 or a 5.18 RC and a package with the sof-firmware 2.1.1. The kernels appear to include support for the ES8336 codec and the firmware gets loaded. With this the system shows an audio card and the desktop sho

[2022-06-11 16:50] jbbandos commented on #2955
@callegar Did you try as I did to go to alsamixer, increase dac gain to 80 and disable dac mono mix?
It is working now for me, except after suspend/resume, where all I can get is white noise.

[2022-06-12 09:22] callegar commented on #2955
Tried that, no success: when I aplay something i hear a little click sound on the speaker then a quite faint noise, then a little click again when the sound ends and silence. That's why I am wondering if a mainline kernel already has all the required pieces. Or if maybe the Chuwi has some non standard way of connecting the output.

I also see no change in pavucontrol when trying to plug the headph

[2022-06-12 17:53] pierro78 commented on #3365
trying now with lubuntu 22.04 and kernel 5.18.3 : http://alsa-project.org/db/?f=f641b612306242aed8d50e9c497e653ef8b72a34

[2022-06-12 18:21] pierro78 commented on #3365
PS : I am not competent enough to understand the alsa-info http://alsa-project.org/db/?f=f641b612306242aed8d50e9c497e653ef8b72a34 output ...

I tried the 3 commands that worked in january :

[code]

but these don t seem to work for me this time : There s a click sound when the session manager starts and then I seem to only be able to hear some white noise in the headphone ...

[2022-06-12 20:01] pierro78 commented on #2955
I seem to have a problem similar to yours with kernel 5.18.3 ( https://github.com/thesofproject/linux/issues/3365#issuecomment-1153253808 ) ... in january https://github.com/yangxiaohua2009 was so kind as having a look at my alsa-info result and giving me a couple of amixer commands to solve my issue but I don t know if he will be available this time ...

[2022-06-13 06:46] ujfalusi commented on #3210
@tomty89, can you please create a new issue for the missing SSP1 topology file with more details so it can be tracked and fixed?

Thank you.

[2022-06-13 08:34] callegar commented on #2955
Tried 5.19RC1 with no improvement apart from the fact that now the abi matches

[2022-06-13 08:43] tomty89 commented on #3210
Should I file on this repo or https://github.com/thesofproject/sof-bin?

[2022-06-13 08:57] ujfalusi commented on #3210
I would rather file it for https://github.com/thesofproject/sof
the sof-bin is just a binary drop made from the sources as releases.

[2022-06-13 10:37] ghost commented on #3249
what did you do to make it work? just plug in and choose it in pavucontrol? does it work with pipewire?

[2022-06-13 10:43] jbbandos commented on #2955
It might not - I don't think Intel has yet pushed anything upstream, but maybe @plbossart knows more about that,
For me, the kernel that works is 5.17.0-4.1-liquorix, available on MX linux repositories.

[2022-06-13 11:00] zalom commented on #3249
I also bought a soundcard (similar to one posted in that comment).
And I just plugged it in. It was working immediately.

But this problem is so annoying. I can't believe that we have to wait for a kind soul/s to make this one work.

And after so many attempts to do a "fix", I can't even remember all the changes I tried out. So settings could be properly fu-ed up. 😂

[2022-06-13 11:19] ghost commented on #3249
also possible related issue with same device - https://github.com/thesofproject/linux/issues/2955

[2022-06-13 13:58] plbossart commented on #2955
All the initial patches are in 5.18, there are a couple that didn't make the cut and will be in 5.19

ASoC: Intel: sof_es8336: add cfg-dmics component for UCM support
ASoC: Intel: sof_es8336: support a separate gpio to control headphone
ASoC: Intel: sof_es8336: add a quirk for headset at mic1 port
ASoC: Intel: sof_es8336: Add a quirk for Huawei Matebook D
ASoC: soc-card: Create jack kcontrol witho

[2022-06-13 15:07] callegar commented on #2955
@plbossart Did the patches make it in 5.19RC1? My distro provides this kernel, but it does not seem to make any difference wrt 5.18.3. I also have alsa-ucm-conf 1.2.7.  Can it be that the Hi10X needs some specific option to be passed or maybe some extra quirk to be coded? How to help debug?

[2022-06-13 16:08] plbossart commented on #2955
All the patches should be in -rc1.

If you see a card created and reported, then it's likely that you have a codec configuration issue. You can try the different quirks related to GPIOs. DO NOT CHANGE THE SSP/DMIC, that is only useful if you also change the topology and will break the card probe. There's only so much we can do to help, you'll have to roll up your sleeves and do a lot of experiment

[2022-06-13 19:17] plbossart commented on #2955
All the initial patches are in 5.18, there are a couple that didn't make the cut and will be in 5.19

ASoC: Intel: sof_es8336: add cfg-dmics component for UCM support
ASoC: Intel: sof_es8336: support a separate gpio to control headphone
ASoC: Intel: sof_es8336: add a quirk for headset at mic1 port
ASoC: Intel: sof_es8336: Add a quirk for Huawei Matebook D
ASoC: soc-card: Create jack kcontrol witho

[2022-06-13 19:46] plbossart commented on #3672
@yongzhi1 can we close this issue?

[2022-06-14 10:30] callegar commented on #2955
Yes, I can see the card and its knobs in `alsamixer`. Is there some list of the quirks to try for the GPIO? What should I not do to avoid changing the SSP/DMIC? While rolling up my sleeves in experimentation should I report something back? Is there any way to test if my device is MCLK1?

[2022-06-14 10:53] yangxiaohua2009 commented on #2955
Copy the conf using

`cp sof-dyndbg.conf.txt /etc/modprobe.d/sof-dyndbg.conf`

Then reboot and give me your alsainfo or dmesg so I can see which tplg you are using.
[sof-dyndbg.conf.zip](https://github.com/thesofproject/linux/files/8897609/sof-dyndbg.conf.zip)

When you insert your jack, does the icon on sound setting change? Normally it sould change between speaker and headphone.

If not, then yo

[2022-06-15 00:56] keqiaozhang commented on #3638
Observed this issue again on ADLP_BRYA_SDW.
https://sof-ci.sh.intel.com/#/result/planresultdetail/13336?model=ADLP_BRYA_SDW&testcase=check-suspend-resume-50

[2022-06-15 01:33] plbossart commented on #3638
[code]

[2022-06-15 01:36] plbossart commented on #3638
The pattern seems to be that the device '7' (Slave 5) falls off the bus first, and then never shows up again.

This device '7' is not a hardware issue, it's likely due to the SoundWire enumeration arbitration. When there are identical devices, the one with the largest unique_id wins and will be handled first.

Why it loses sync is really unclear. This should not happen!

[2022-06-15 02:43] leoriohub commented on #3249
Just bought a matebook 14 to run linux XD

[2022-06-15 03:07] XiaoyunWu6666 commented on #3647
Happened on inner daily ipc4 13334?model=TGLU_UP_HDA_CAVSIPC4&testcase=check-pause-resume-capture-100 again

[2022-06-15 12:47] callegar commented on #2955
Hi, alsa info at http://alsa-project.org/db/?f=437cf9f1ccd8e218e5b93f33d5905cf4efa08da7

do you also need the dmesg output?

Plugging the headphones I see no change. But note that my distro is using pipewire which may affect what is visualized. In any case, trying to configure audio, I always see *headphones (unplugged)" among the options, either with the headphones plugged or unplugged.

[2022-06-15 13:24] PJungkamp opened #3699 "[BUG] Lenovo Yoga 9 14IAP7 - no sound from bass speakers"
# Description

The Yoga 9i 14" (2022) has a speakerbar above the keybaord and a bass speaker to the front left and right side of the chassis.
The bass speakers work under Windows 10/11, but not under Linux.
The speakerbar seems to be working fine.

# Why I am filing here

I searched for similar issue and found this Ubuntu Bug: https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1926165
As I

[2022-06-15 15:52] plbossart commented on #2955
@callegar From the logs, the initial quirk mask is zero, which means you can experiment with the following values

add the quirk value in /etc/modprobe.d/alsa-base.conf and reboot each time you change it

[code]

Leave BIT0,1,2,3 set to zero (SSP0 autodetected)
BIT(4) set would use the GPIO1 quirk
Leave BIT(5) alone (no DMIC autodetected)
BIT(6) inverts the jack detection
BIT(7) enables the headph

[2022-06-15 16:00] plbossart commented on #3699
@PJungkamp the SOF driver and firmware know nothing about codec-level processing.

You would need to look at the suggestions in https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html to see if you have the same issue with the legacy HDaudio driver - without using SOF and the DSP.

It's likely that the issue is that the amplifiers for the bass speakers are connected to

[2022-06-15 16:34] pjungkamp commented on #3699
Thanks for the fast response!

I already dumped the HDA verbs last weekend. [clean-verbs.txt](https://github.com/thesofproject/linux/files/8911188/clean-verbs.txt)

I also tried using the `snd-hda-intel` driver, even before I read the note on intel debugging suggestions.
But both drivers did not make a change, even with applied HDA verbs.

I also tried to apply various changes to the pin-mapping u

[2022-06-15 16:43] pierro78 commented on #3365
trying now with endeavour os and kernel 5.19.rc2 http://alsa-project.org/db/?f=4f42b1eba9c3b7f04addc29b5f7083ce198d55bd ... apparently still same result ... I need to learn how to read the alsa-info ... thanks @yangxiaohua2009 if you can help me again

[2022-06-15 16:47] plbossart commented on #3699
@PJungkamp I am afraid very few people on the SOF GitHub are familiar with the gory details of HDaudio pin configuration and retasking. I would include @tiwai and possibly move the question to the kernel bugzilla where such issues are typically logged.

(product: Drivers, Component Sound(ALSA))

[2022-06-15 17:18] pjungkamp commented on #3699
Thanks, I'll file a bug on mainline then. Or add my device on https://bugzilla.kernel.org/show_bug.cgi?id=208555 which I just discovered.

[2022-06-15 18:50] 0xFarid commented on #3248
same problem with huawei matebook d15. sound is available on windows 10 but not on ubuntu 22 and 21. is three any solution for this problem?

[2022-06-15 21:45] philipperoubert commented on #3350
Same issues here with my Matebook 14S, for reference:
OS: Ubuntu 22.04 LTS
GNOME: 42.1

Similarly to what was reported before, under alsamixer I have a volume bar for "Headphones" and "Speaker". When my headphones are not plugged in, using the volume button on my keyboard increases/decreases "Speaker", but it doesn't actually change the volume of my speakers, however, changing manually in alsamixe

[2022-06-16 01:52] yangxiaohua2009 commented on #3365
@pierro78 Please run the make.sh and reboot.
[ucm.zip](https://github.com/thesofproject/linux/files/8914993/ucm.zip)
Or you can use these commands:

`amixer sset 'Headphone' 3,3`
`amixer sset 'DAC' 192,192`

to set maxium volume.

[2022-06-16 07:19] cihatertem commented on #3350
I switched from Arch to Ubuntu 22.04 and yes my issue goes on here too. I checked 2.2rc changelog and I could not see any related topic with our problem. For a uncertain time, we'll carry this problem :). At least BT is works perfectly.

[2022-06-16 08:10] fcsm1922 commented on #3248
Is there sound. but there is no microphone in the laptop (laptop model Huawei Matebook 14 on Intel
kernel stable: 	5.18.4

[2022-06-16 08:16] Neo-29 commented on #3248
Here still NOTHING on my teclast f15plus2
Up to date with latest kernel on archlinux AND the latest alsa-ucm.conf

A nightmare

[2022-06-16 08:16] Aromate commented on #3336
Hi Sir? Please add a virtual master control in es8316/es8336 chip driver. We need it!!! The google's cras software need it, it's chromium os need, brunch project also. Please!!!! Maybe, the chrome os world are need your support.

[2022-06-16 08:21] ghost commented on #3248
Which OS? Did you change anything?

[2022-06-16 08:24] ghost commented on #3248
Ubuntu use always an old version of kernel (iirc 22 uses 5.15 while latest is 5.18). We have to wait for linux 5.18/19

[2022-06-16 08:32] Neo-29 commented on #3248
You're right.... But the kernel version is not the only explanation as with 5.18 it doesn't work more.

[2022-06-16 08:40] callegar commented on #2955
@plbossart Tried:
- quirk=0x10 (if I understand correctly this sets bit 4, gpio1 quirk);
- quirk=0x90 (bit 4 + bit 7, gpio1 and headphone gpio);
- quirk=0x50 (bit 4 and bit 6, gpio1 and jack detection inversion).

Nothing changes. Are the other combinations worth trying?

@yangxiaohua2009 is there anything I can try if I am on MCLK1?

[2022-06-16 08:56] yangxiaohua2009 commented on #2955
Please backup your /lib/firmware/intel/sof-tplg/ folder and
`sudo cp sof-glk-es8336-ssp0-mclk1.tplg /lib/firmware/intel/sof-tplg/sof-glk-es8336-ssp0.tplg`
[sof-glk-es8336-ssp0-mclk1.zip](https://github.com/thesofproject/linux/files/8917305/sof-glk-es8336-ssp0-mclk1.zip)
@callegar

[2022-06-16 09:42] callegar commented on #2955
@yangxiaohua2009
Backed up just the interested file as `/lib/firmware/intel/sof-tplg/sof-glk-es8336-ssp0.tplg.bak` since I can recreate the dir from the distro package anyways. I believe the `.bak` file should cause no interference. Then copied the `sof-glk-es8336-ssp0-mclk1.tplg` into `/lib/firmware/intel/sof-tplg/sof-glk-es8336-ssp0.tplg`.

Unfortunately, the only appreciable change I have is in

[2022-06-16 09:51] callegar commented on #2955
As a couple of additional notes. In the `dmesg` output, I see:
- a warning about an unknown `sof_ext_man` header type 3 size 0x30 right after a sof-audio-pci-intel-aplr firmware version reporting
- a warning about "parent card not yet available, widget card binding deferred"
- an "assuming static mclk" indication

is this all expected?

[2022-06-16 11:40] DmitriiMukhin commented on #3350
Same issue with Honor MagicBook View 14 i5. Detected on Manajaro 21 Gnome edition. But this issue is reproduceable on any linux distribution. But I installed ChromeOS and there is no issue as @rzwinge mentioned.

[2022-06-16 11:58] mil-ad commented on #3350
I've got exactly the same issue with my Matebook 14s on Arch with 5.15.45-1-lts kernel

[2022-06-16 12:18] cihatertem commented on #3350
Chrome OS's situation is wierd but Chrome OS firmware package has edge driver support. Once there were error reports with missing files for intel wireless chipset on matebook 14s and I checked offiacial firmware repo, it has no support for those files while Chrome OS linux-firmware package had those missing files. I copied/pasted those files from Chrome os firmware package and the error reports we

[2022-06-16 12:30] fcsm1922 commented on #3248
costs arch linux with kde
first there was the mainline kernel and patches from alsa-ucm.conf. (there was sound, but no microphone)
but after returning to the 5.18.4 kernel, the system cursed the files that were installed from alsa-ucm.conf, I deleted them and updated to the 5.18.4 kernel There is sound. The microphone does not see.

[2022-06-16 13:06] pierro78 commented on #3365
thanks so much @yangxiaohua2009 : I've just run the make.sh and rebooted my ubuntu 22.04 with kernel 5.18.3 and I now have sound !  that s awesome !

(had less luck with archlinux (endeavouros) with kernel 5.19.0.rc2 although I have a very weak sound in the headphone when I set sound output to my speaker ...

PS : the commands :
[code]
were working only on ubuntu ... maybe because I don t seem to

[2022-06-16 15:04] plbossart commented on #2955
@callegar it's not possible that the topology change resulted in a card name change, different layers. Please recheck.

[2022-06-16 17:24] yongzhi1 commented on #3672
Thanks @bardliao for https://github.com/thesofproject/sof/pull/5875.

[2022-06-16 17:24] #3672 closed

[2022-06-17 02:54] aiChaoSONG commented on #3684
@ranj063 Can you comment in this RFC?

[2022-06-17 04:04] ranj063 commented on #3684
@aiChaoSONG @plbossart I like option 2 the best. I do not think there's any merit in encoding the queues in topology at all. What did you really mean by that last sentence @aiChaoSONG ?

[2022-06-17 09:14] aiChaoSONG commented on #3684
@ranj063 I just want to give an example that option 2 adds a limitation to route definition in topology.
See the picture below,  Queue 0 should connect to PlaybackHost, and Queue 1 should connect to CaptureDaiCopier, we will write route:
[code]
but below will define a different and wrong route, because queue 0 is for the playback input, and queue 1 is for feedback
[code]

![image](https://user-ima

[2022-06-17 14:54] plbossart commented on #3684
@aiChaoSONG in a 'classic' graph system, if the pins are dedicated to a specific task they have to be strongly 'typed', with qualifiers, MIME-types, capabilities, etc, so that you don't connect pins of different nature. The codec feedback is e.g. NOT PCM, and that should be very clear.
It's not just a problem of defining the indices but exposing what each pin is used for. We will need this when we

[2022-06-17 15:44] ranj063 commented on #3684
@plbossart do you mean this rules out option 2? Or are you suggesting we add pin capabilities to a widget (struct snd_sof_widget) and match them to assign the pin in the driver when binding modules?

[2022-06-17 16:29] plbossart commented on #3684
Option 2 (counting component connection) cannot work unless the connections are typed.

For example, in the case of a mixer, all connections are of the same type of there's no real need to pre-allocate queue numbers. We could perfectly use the next available queue when binding.
Same in the case of a demux, all queues behave in the same manner, so we could pick one as needed.

The case of the smart

[2022-06-17 16:38] ranj063 commented on #3684
@plbossart then how about we qualify components with max output pins and connection type in the topology. So regular components like mizer/demux, this can de default type and possibly even need to additional info in topology. But for component like smart amp and the dai/host copiers, we can add the pin connection type so that we can choose which pin to connect to when binding these modules. This i

[2022-06-17 16:46] plbossart commented on #3684
This is worthy of an interactive session @ranj063. If you look at the diagram above, the capture dai copier is used, so it would need to support multiple types of data and propagate that what generated until a connection point.

FWIW, this is similar to what USB defined as 'clusters', information on number of channels and type that is propagated along the graph. The actual sampling rates and frequ

[2022-06-17 17:29] plbossart opened #3704 "snd-soc-dummy: Runtime PM usage count underflow!"
This log seems to have appeared in dmesg logs, not sure what caused this but it's not good.

[code]

What's equally not good is that this was missed in previous test cycles and reviews.