[2022-06-18 12:55] dblaber commented on #3609
I am not sure if this is a seperate issue, a regression, or if i should be opening a new bug report for this, but I am now on kernel 5.18.3-arch1-1 and am seeing this again:
[78173.348423] sof-audio-pci-intel-cnl 0000:00:1f.3: ------------[ DSP dump start ]------------
[78173.348432] sof-audio-pci-intel-cnl 0000:00:1f.3: Firmware boot failure due to timeout
[78173.348437] sof-audio-pci-intel-cnl 0

[2022-06-19 11:44] T-kilt commented on #3248
Hi fcsm,

thx for the update.
I have also a  Huawei Matebook 14 with Intel.
Running Arch Linux with Manjaro as Distribution and tried 5.18.4 and also 5.19.1RC.
With both soundcard is recogniced as a Dervice. When i play youtube via Browser (as an example) the level is indicated, but only a faint hissing and no sound is working.
How did you get it working?
Wich files did you delete?

Could you perh

[2022-06-19 11:47] T-kilt commented on #3248
Hi mscardovi,

tried fedora with a writeable USB Flash Drive also, and same result as on arch.
Soundcard ist useable as output device but no Sound at all.

Regards
André

[2022-06-19 11:47] Neo-29 commented on #3248
Yep! I would like a walk-through too.
Stuck on my teclast

[2022-06-19 13:30] Besnn commented on #3248
Same here, Huawei D15, sound on Windows 10 but not on Fedora Workstation 35 or Ubuntu.

[2022-06-19 18:28] Merded commented on #3248
Same, Huawei D14, i5-10210U, Fedora 36

[2022-06-19 19:07] codesalatdev commented on #3248
@Merded I have working audio with Huawei Matebook D14, i5-10210U, Fedora 36.

As I've said before, you need the correct topology file. If you're on Kernel 5.19, it works with the toplogy installed (but quiet). Adjustments in alsamixer are necessary to get the volume up.

The same thing should apply for @T-kilt, since they have the same model number on their hands as me.

Edit: For topologies see p

[2022-06-20 07:53] Merded commented on #3248
Soundcard recognizes, but no sound

[2022-06-20 07:54] Neo-29 commented on #3248
Same here.... Arch 5.19rc....
Teclast f15plus2

[2022-06-20 09:29] ujfalusi commented on #3609
@dblaber, it is likely due to IMR boot failure when coming out from hibernate (suspend to disk), like this:
https://github.com/thesofproject/sof/issues/5892

[2022-06-20 11:01] cybercyriac commented on #2955
Hello. Currently running latest Manjaro on a Gemibook Pro (Uses ESSX 8336) Running kernel 5.19.0-1-MANJARO changes my 'Dummy output' to a correct 'Speakers - Celeron/Pentium Silver Processor High Definition Audio', still no audio. The thing here is that, during boot, speakers make a bzzt sound and seems to correctly respond to any headphone jacks connected, yet, doesnt output any audio through the

[2022-06-20 11:37] cybercyriac commented on #2955
After some additional research i've found that using [https://github.com/thesofproject/linux/pull/3338#issuecomment-1011574005](Comment) from @plbossart outputs audio from jack AND internal speakers. The problem is that the audio is very very low and subtle. Any ideas on that?

[2022-06-21 00:58] bardliao commented on #2955
@sebastianciocarlan Please try below for the low volume issue.
amixer cset name='DAC Playback Volume' 192
amixer cset name='DAC Stereo Enhancement' 7

[2022-06-21 12:06] cybercyriac commented on #2955
@bardliao After these changes and setting the volume to the maximum possible i could get an acceptable level of volume, yet i recall having more volume when using the Windows 10 preinstalled drivers. Could this be improved maybe by raising the threshold?

If i use any jack speakers (powered by other source) the volume is "acceptable" but still not maxed as when i use them on any other device.

Als

[2022-06-21 14:06] plbossart commented on #2955
yes likely saturation issues even before you reach the codec.

[2022-06-21 14:47] plbossart commented on #3638
Same error in https://sof-ci.01.org/linuxpr/PR3708/build250/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-5, but this time with a different codec.

[code]

[2022-06-21 16:00] plbossart commented on #3704
fixed by reverting soc-component bad patch. Commit https://github.com/thesofproject/linux/pull/3702/commits/cc88883009f6f1192eab1f1163e54a425e1d079c

[2022-06-21 16:00] #3704 closed

[2022-06-21 19:38] chvmq opened #3709 "No sound on AMD audio device"

[2022-06-21 21:30] #3709 closed

[2022-06-22 02:43] keqiaozhang opened #3712 "[BUG] DAI xrun happened when testing suspend/resume with playback on CML_RVP_NOCODEC_ZEPHYR"
**Describe the bug**
CI detected the dai_xrun on CML_RVP_NOCODEC_ZEPHYR when testing the suspend/resume with playback. Test ID:13474

No errors in dmesg, just observed the xrun errors in slogger.
[code]

**To Reproduce**
`TPLG=/lib/firmware/intel/sof-tplg/sof-cnl-nocodec.tplg MODEL=CML_RVP_NOCODEC_ZEPHYR ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m playback
`
**Reproduction Rate

[2022-06-22 14:53] plbossart commented on #3684
I'd like to suggest

Solution 4: Allocate source and sink queues dynamically, except when fixed bindings are required

In the vast majority of cases, we can let the kernel allocate source/sink queues on a first-available basis.

Only in the case of specific components do we need to have a special binding between component queues. We would need to add this information explicitly in the topology (lo

[2022-06-22 19:22] #3609 closed

[2022-06-22 19:25] plbossart commented on #3673
not an audio bug and not reproduced -> closing.

[2022-06-22 19:25] #3673 closed

[2022-06-22 19:26] plbossart commented on #3670
Fixed by #3674

[2022-06-22 19:26] #3670 closed

[2022-06-22 19:28] #3650 closed

[2022-06-22 19:28] #3651 closed

[2022-06-22 19:30] plbossart commented on #3648
CML_RVP seems to have a bad BIOS, closing since there's not much we can do.

[2022-06-22 19:30] #3648 closed

[2022-06-22 19:31] plbossart commented on #3641
fixed

[2022-06-22 19:31] #3641 closed

[2022-06-23 01:34] keqiaozhang opened #3715 "[BUG] max98390 failed to read: 0x24FF on ADLP_GMB_I2S_ZEPHYR"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/contribute/process/bug-tracking.html for further information on submitting bugs.

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-adl-max98390-rt5682.tplg MODEL=ADLP_GMB_I2S_ZEPHYR ~/sof-test/test-case/che

[2022-06-23 01:49] aiChaoSONG commented on #3684
@plbossart Ranjani has talked to me, and I summarized the point and some implementation details in solution 4 in the first comment box, please take a look and comment

[2022-06-23 02:26] Gorgeous-Patrick opened #3716 "Problems on Dell XPS 17 9720"
Hi there! I am having some problems on my new Dell XPS 17 9720 with Intel i9-12900HK.
My microphone does not work properly. It is detected but there is a weird sound. The speakers are good.

The output of `lspci | grep Audio`:
[code]

I checked `pavucontrol` and indeed detected the microphone. The name of the device displayed is Alder Lake PCH-P High Definition Audio Controller SoundWire microphon

[2022-06-23 02:27] #3716 closed

[2022-06-23 02:51] ranj063 commented on #3684
@aiChaoSONG @plbossart this is what I had in mind
[0001-topology2-add-pin-info-to-copier-widget.txt](https://github.com/thesofproject/linux/files/8963235/0001-topology2-add-pin-info-to-copier-widget.txt)

I showed how to add the pin info for the copier widget here but in reality its only needed for special widgets for smart amp. The driver needs to parse the pin_binding_widget token array for each

[2022-06-23 07:42] RezinoviyDed commented on #3210
I tried an MX Linux 21.1 (AHS edition) with a new kernel: 5.16.0-5mx-amd64
Output Devices in Volume Control: Dummy Output.
 I checked the dmesg: $ sudo dmesg | grep -i -E "snd|audio|dsp|sof"
[log file](https://github.com/thesofproject/linux/files/8965076/dmesg.txt)
@ujfalusi  What can I try to do to fix?

[2022-06-23 08:39] ujfalusi commented on #3210
@RezinoviyDed, I can not find a hint that you are facing with the same cl_copy_timeout?

please add this file [sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8848748/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf (the extension matters), reboot and attach the (fuill) kernel log gathered in this mode.

The report generated by `alsa-info.sh` might also help.

Thank you!

[2022-06-23 09:33] RezinoviyDed commented on #3210
@ujfalusi The MX linux image was used in a live-usb mode. Elementary OS 6.1 is currently installed. The logs were obtained from this system.
[alsa-info](http://alsa-project.org/db/?f=67dfb9bc3cc21fe499399515e5cde3267d4e3231)
[archived kernel log](https://github.com/thesofproject/linux/files/8965886/kern.log.tar.gz)
Thanks for you help.

[2022-06-23 09:43] RezinoviyDed commented on #3210
Sorry. The kernel log was too big.
[the small log for the current date.](https://github.com/thesofproject/linux/files/8966049/kern.log)

[2022-06-23 09:47] ujfalusi commented on #3210
@RezinoviyDed , based on the kernel log you have signature verification issue with the firmware:
[code]
0x12 is the validation step (in 0x80000012)
0x2c is the error code for validation failure

There is a module parameter to override the firmware path, but personally I have not used that, it might be:
[code]
to try to load the community signed firmware instead of the `intel/sof/sof-jsl.ri`

[2022-06-23 10:08] RezinoviyDed commented on #3210
I download and install sof-bin v2.1.1 and сreated a new modprobe.d/sof-patch.conf file with options:
`options snd-sof-pci fw_path=intel/sof/community`
Result:
[alsa-info](http://alsa-project.org/db/?f=16d38310b8c9ab4b686eb1e528264d59ebf52a83)
[kern.log](https://github.com/thesofproject/linux/files/8966224/kern.log)

[2022-06-23 10:53] RezinoviyDed commented on #3210
@ujfalusi Need to do anything else?

[2022-06-23 11:14] ujfalusi commented on #3210
That also fails with the same validation error. I'm not sure what that means and how it can be solved, but @plbossart might know it.

[2022-06-23 13:31] plbossart commented on #3715
@keqiaozhang @XiaoyunWu6666 are you sure the script is working? This is supposed to be a test WITHOUT any audio driver, but here we can see clearly references to sof-audio-pci-intel-tgl?

[2022-06-23 15:02] plbossart commented on #3684
@ranj063 can you clarify this part of the topology, did you really mean 'input' and 'output' for valid values? Why not sink/source to be consistent.

[code]

[2022-06-23 15:07] ranj063 commented on #3684
@plbossart I originally intended for it to be sink/source but changed them to input/putput to be consistent with the num_input_pins/num_output_pins. I prefer sink/source too and maybe we can change to source/sink everywhere

[2022-06-23 15:13] plbossart commented on #3210
Doesn't look like you have sof-bin installed.

[code]

make sure sof-bin is installed and remove this option, this is only valid for Chromebooks and Up boards.
[code]

[2022-06-23 15:17] plbossart commented on #3684
Yes, num_sink_pins and num_source_pins are better, otherwise we'll be confused.

[2022-06-23 15:24] ranj063 commented on #3684
makes sense. I will post the kernel patch (not tested) today as well just to show how the tokens will be used.

[2022-06-23 20:48] marc-hb commented on #3715
This was in daily test run 13499

I noticed that all `kmod-load-unload` tests failed in the same run[*], so we should probably start there first!

[*] because of
- https://github.com/thesofproject/sof/issues/5733 ?

[2022-06-23 21:16] plbossart commented on #3715
Indeed this seems to be a case of compounded issues. I wonder why an IPC with the DMA trace configuration is not fatal, we seem to continue to probe - not sure how this works. Adding @ujfalusi for comments.

[2022-06-24 03:56] ranj063 commented on #3684
[0001-ipc4-topology-Add-IPC-widget-ops-for-get-put-queue-I.txt](https://github.com/thesofproject/linux/files/8973016/0001-ipc4-topology-Add-IPC-widget-ops-for-get-put-queue-I.txt)

@aiChaoSONG this is what I was planning for assigning queue ID in the kernel. I added a small snipper for the smartamp as well just to show you what I meant

[2022-06-24 07:29] RezinoviyDed commented on #3210
Ok, option removed.
sof-bin is guaranteed to be installed:
`[    3.560159] sof-audio-pci-intel-icl 0000:00:1f.3: loading firmware
[    3.565314] sof-audio-pci-intel-icl 0000:00:1f.3: request_firmware intel/sof/sof-jsl.ri successful`
@plbossart My new alsa-info [log](http://alsa-project.org/db/?f=f61372c3813a97716479cb75c5d604d1e6af67d0).

[2022-06-24 08:12] gbuloz commented on #2990
@plbossart : I'm still stuck on this issue. Is there a way to know what the "official" pinctrl fix looks like (if any) so that we can check if present in our BIOS source code ? And also is there a BIOS setup entry to enable it or is it enabled by default ?

[2022-06-24 13:59] plbossart commented on #3210
@RezinoviyDed I see no firmware boot issue in your log, if the card is not functional it's because you have an ES8336 codec on this device, and it's known to be problematic. You would need to update to 5.19-rc1+ and likely configure quirks for this device.

[code]

[2022-06-24 14:03] plbossart commented on #2990
I don't have any direct contacts with the EHL BIOS folks or technical information on this @gbuloz. Big companies, different organizations, etc.

Maybe @libinyang can help, if not you may have to talk to your official Intel support.

[2022-06-24 18:56] ranj063 commented on #3684
@aiChaoSONG I thought a bit more about my kernel side implementation and I think we can in fact avoid the new ops for get/put queue I'd Nd have just 2 options. If the pinbinding_widget array for a widget is null because there's nothing specified in the topology, we use the generic dynamic quieue allocation. Otherwise, we use the mapping provided by topology.

[2022-06-26 02:13] leoriohub commented on #3248
Matebook 14 (2021) with R5 5500U on Pop Os! 22.04 has the same problem

[2022-06-26 04:20] tusharvidhani3 commented on #2955
I am using mx linux 5.17.0-9.1-liquorix-amd64 kernel. In this sound works by default but after I wake from sleep mode the sound doesn't work until I restart the system.

[2022-06-27 01:40] aiChaoSONG commented on #3684
@ranj063 Some more we need consider
1. Do we want to support `Not Connected`? for example: for copier, we only connect pin 1 and pin 4, [ mixin.1.1, NC, NC, mixin.2.1 ]?  (this is supported by cavs firmware and windows)
2. Do you know if we can initialize all pins of a widget with a single MOD_INIT_INSTANCE IPC?  if no, we need extra ops to initialize other pins.
3. For loadable module create by I

[2022-06-27 04:32] ranj063 commented on #3684
If a copier has restriction in terms which pins should be connected, the output pins must be specified in topology in the copier instance so it only applies to that copier and not all copiers.

No idea what you mean by initializing pins. Can you please elaborate?

It looks like we shouod just use the audio format in the base_cfg.

[2022-06-27 13:42] RezinoviyDed commented on #3210
I did the same steps on the MX Linux distribution (kernel 5.18.0-0.bpo.1-amd64). A new entry appeared in the dmesg log: `created machine sof-essx8336`
[dmesg.txt](https://github.com/thesofproject/linux/files/8992477/dmesg.txt)
[alsa-info](http://alsa-project.org/db/?f=694b93f9f180da694db18c3bb19d5e3fd351be48)
@plbossart Could this help?

[2022-06-27 15:16] plbossart commented on #2955
What do you mean by 'sleep mode' @tusharvidhani3 and what doesn't work? If you see a 'ROM error' and timeout, it's likely that you've hit a known error with hibernation that was fixed in PR #3687 and provided upstream.

[2022-06-27 19:06] plbossart commented on #3210
@RezinoviyDed to repeat myself, 5.18 does not contain all the patches for this codec, "you would need to update to 5.19-rc1+ and likely configure quirks for this device."

[2022-06-28 09:20] AlecJY opened #3727 "[FEATURE] Add support for sof-adl-rt711-2ch on HP Omen 16-k0005TX"
**Is your feature request related to a problem? Please describe.**
I bought an HP Omen 16-k0005TX recently. The soundcard didn't work on Linux. I try to reload `snd_sof_pci_intel_tgl` then dmesg shows the following messages that sof-adl-rt711-2ch.tplg is not found.

[code]

I also tried with renaming `sof-adl-rt711.tplg` and `sof-adl-rt711-4ch.tplg` to `sof-adl-rt711-2ch.tplg`, but it still didn't

[2022-06-28 13:31] plbossart commented on #3727
@AlecJY unfortunately it's likely that we will need topology and machine driver changes to support this HP platform. It's not the first time this happens, it was the same mess with TigerLake.

Can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9001428/sof-dyndbg.conf.txt)
 as /etc/modprobe.d/sof-dyndbg.conf (the extension does matter), reboot and attach t

[2022-06-28 14:38] tusharvidhani3 commented on #2955
I mean to say when i put the laptop to sleep (suspend) after waking it the system works perfectly but sound doesn't works and some whispering sound comes when I play some audio file

[2022-06-28 15:09] AlecJY commented on #3727
[dmesg.log](https://github.com/thesofproject/sof/files/9002240/dmesg.log)

And the result of the two commands

[code]

[code]

[2022-06-28 15:32] plbossart commented on #3727
Thanks @AlecJY

ok, so the BIOS/DSDT is completely wrong. HP declared the SAME rt711 (headset) on two links, but in reality it's really a rt711-sdca (new version!) on link0 and rt1316 on link1. What a complete fail.

I'll prepare a set of patches but you'll have to compile your own kernel

[2022-06-28 16:24] plbossart commented on #3727
@AlecJY Please try the last three patches in https://github.com/thesofproject/linux/pull/3725

You will need do this as well, we'll release an update later on for topologies.

[code]

[2022-06-28 16:25] plbossart commented on #3727
@AlecJY if you don't know how to build the kernel, see https://thesofproject.github.io/latest/getting_started/setup_linux/prepare_build_environment.html and
https://thesofproject.github.io/latest/getting_started/setup_linux/install_locally.html

[2022-06-28 20:41] JulianBoetto commented on #3248
Same here, Matebook D15 with ubuntu 20.04 and Intel multimedia audio controller...

[2022-06-28 20:46] sasongko26 commented on #3248
Same issue on geminilake j4125, slackware with kernel 5.18.7, alsa 1.2.7.1, pulseaudio 16.1, soundcard recognized but no sound as mentioned by @T-kilt.
Is ES8336 similar/compatible to other everest's soundcard type? i.e. ES8316,ES8374, ES8338, ES8396. If yes, maybe this product datasheet helpful http://everest-semi.com/en_products.php

[2022-06-28 22:06] sasongko26 commented on #3336
I tried some quirk (0x00, 0x10, 0x20, 0x30, 0x31), but failed with error code -22. No sound works.
With quirk 0x32 or no quirk or no tricks on /etc/modprobe.d, soundcard detected but no sound

[dmidecode.txt](https://github.com/thesofproject/linux/files/9005677/dmidecode.txt)
[dmesg.log](https://github.com/thesofproject/linux/files/9005681/dmesg.log)
[alsa-info.txt](https://github.com/thesofprojec

[2022-06-29 00:42] keqiaozhang commented on #3012
Observed this issue on ADLP_SKU0B00_SDCA. Test Report ID:13588
[code]

[2022-06-29 02:03] gimait opened #3729 "[BUG] No sound below 100Hz in XPS 15"
**Describe the bug**
The integrated speakers in my laptop do not output any frequencies below roughly 100Hz.
I have had this issue since I got the computer, several months ago, and tried to find a solution, asking for help [here](https://bugzilla.kernel.org/show_bug.cgi?id=215233) and [here](https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/2162), without much success so far.
I have tried

[2022-06-29 05:57] fcsm1922 commented on #3248
@Merded, @T-kilt
if your sound card is recognized, but there is no sound, try adjusting the output of the audio channel in the alsamixer settings ... DUC Source Mux (at least my channels were mixed up, after installation, as in the screenshot, the sound appeared but quiet .... you need to try substitute another topology with handles)
link to my post with screenshot https://github.com/alsa-project/

[2022-06-29 06:27] Neo-29 commented on #3248
This does not work at all

[2022-06-29 07:02] yangxiaohua2009 commented on #2955
@tusharvidhani3
Please use `pulseaudio -k` to reboot the whole pulseaudio.
You may want to use the command
`cp 3.sh /lib/systemd/system-sleep/`
to copy the script to system-sleep so that `killall pulseaudio` is run everytime you return from sleep.
[3.zip](https://github.com/thesofproject/linux/files/9008022/3.zip)

[2022-06-29 07:13] fcsm1922 commented on #3248
what does not work??

[2022-06-29 07:15] Neo-29 commented on #3248
Doing that....

I'm on the last kernel, last alsa-ucm.conf... Nothing

[2022-06-29 07:25] tusharvidhani3 commented on #2955
I tried using pulseaudio -k and your script but they didn't worked

[2022-06-29 07:27] fcsm1922 commented on #3248
You installed files from es8336-topologies-4.tar.gz

[2022-06-29 07:28] yangxiaohua2009 commented on #3248
When you plug in/out headphone while playing music, does the icon in the sound setting change?
Normally it should  change between speaker and headphone
If not then you are facing a mclk issue.
Please copy the file to /etc/modprobe.d/ using command `sudo cp sof-dyndbg.conf.txt /etc/modprobe.d/sof-dyndbg.conf`
Then provide your [alsainfo.](https://www.alsa-project.org/wiki/AlsaInfo)
[sof-dyndbg.conf

[2022-06-29 07:30] Neo-29 commented on #3248
I'll try all that. Tks a lot

[2022-06-29 07:44] dattiluca commented on #3248
It seems we have a fix for speaker audio (sort of), but not microphone at this stage. So a long way to a "production ready" linux environment, am I right?

Thanks everyone for the incredible work you're doing.

[2022-06-29 13:48] lgirdwood commented on #3729
@singalsu @plbossart could we be missing verbs for DSM or another smart amp here ?

[2022-06-29 14:12] AlecJY commented on #3727
The soundcard still did not work, and there's nothing under `/sys/bus/soundwire/devices/`.

[dmesg.log](https://github.com/thesofproject/linux/files/9011239/dmesg.log)
[alsa-info log](http://alsa-project.org/db/?f=489247b8c2586530d4caff00042cdd9d584da3d3)

[2022-06-29 15:34] plbossart commented on #3727
@AlecJY you seem to have a kernel configuration issue. Make sure that SOF is enabled. You can also use 'blacklist snd-hda-intel' to see what happens.

Here are a set of configs you'll need:

[code]

[2022-06-29 15:51] plbossart commented on #3729
It's quite possible indeed that this platform relies on speaker-protection and enhancements on the Intel DSP. We know that some platforms enable such processing for Windows but it's not enabled for Linux - mostly due to the issue of 3rd party IP releases.

But before we go there, we'd need to check if this problem also happens with the HDaudio legacy driver.

@gimait can you add this in /etc/modpr

[2022-06-29 16:23] AlecJY commented on #3727
I found that `CONFIG_SND_SOC_SOF_ALDERLAKE` was not set, thank you. However, the sound card still didn't work.

There is something changed in `/sys/bus/soundwire/devices/`
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/9012306/dmesg.log)

[2022-06-29 16:46] plbossart commented on #3727
ok, so the remapping seems to work but the wrong topology is still chosen

[code]

[2022-06-29 16:48] plbossart commented on #3727
No that's wrong:
[code]

I may have things mixed-up in the 64-bit values.

[2022-06-29 16:57] plbossart commented on #3727
should be
[code]

[2022-06-29 17:53] plbossart commented on #3727
It seems there's a disconnect in some of the earlier reports @AlecJY

Can you revert to plain vanilla v5.19-rc2 kernel, without any of my 3 patches, and provide the dmesg log and two commands

$ ls /sys/bus/soundwire/devices/
$ cat /sys/bus/acpi/devices/*/adr  | grep 025d

[2022-06-29 17:55] plbossart commented on #3727
And better yet, extract the DSDT from this device

apt install acpica-tools
cat /sys/firmware/acpi/tables/DSDT > dsdt.dat
iasl -d dsdt.dat
cp dsdt.dsl dsdt.dsl.txt

and attach dsdt.dsl.txt

Thanks!

[2022-06-29 18:18] AlecJY commented on #3727
[code]

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/9013074/dmesg.log)
[dsdt.dsl.txt](https://github.com/thesofproject/linux/files/9013077/dsdt.dsl.txt)

[2022-06-29 18:31] plbossart commented on #3727
thanks @AlecJY

wow, that's weird. there isn't an entry in the DSDT table for the 1316 device, so no idea how it shows up in the device list.

[2022-06-29 18:44] plbossart commented on #3727
@AlecJY I have a hunch that the coexistence between RT711 (v2) and RT711-sdca (v3) creates all kinds of problems with device names that conflicts. Can you retest v5.19-rc2 with this patch on top?

https://github.com/thesofproject/linux/commit/33978383df6caa0ba076701598571d17b6d62272.patch

[2022-06-29 19:43] plbossart commented on #3624
no update->closing

[2022-06-29 19:43] #3624 closed

[2022-06-29 19:46] plbossart commented on #3611
This hasn't appeared with the updated locking mechanism, closing

[2022-06-29 19:46] #3611 closed

[2022-06-29 19:46] plbossart commented on #3337
feature completed and upstream

[2022-06-29 19:46] #3337 closed

[2022-06-29 19:47] plbossart commented on #3234
done and shared upstream

[2022-06-29 19:47] #3234 closed

[2022-06-29 19:48] plbossart commented on #2324
won't fix. closing

[2022-06-29 19:48] #2324 closed

[2022-06-29 19:49] #1931 closed

[2022-06-29 19:51] #2881 closed

[2022-06-29 19:51] #3307 closed

[2022-06-29 19:55] plbossart commented on #3387
@marc-hb I don't recall having seen this in recent PR or daily tests, should we close or is this still current?

[2022-06-29 19:55] #3387 closed

[2022-06-29 19:56] #3400 closed

[2022-06-29 20:06] plbossart commented on #3196
can't be reproduced on Fedora 36 with updated kernel. closing

[2022-06-29 20:11] plbossart commented on #3530
@ujfalusi can we close this? It's been a while since we've since this issue and the upstream fallback should address it.

[2022-06-29 20:11] plbossart commented on #3531
Fixed and changes shared upstream.

[2022-06-29 20:11] #3531 closed

[2022-06-29 20:14] plbossart commented on #3349
@marc-hb This issue seems very old now, should we close?

[2022-06-29 20:17] plbossart commented on #3320
closing, this has been filed with the kernel bugzilla, not an SOF problem proper.

[2022-06-29 20:17] #3320 closed

[2022-06-29 20:18] plbossart commented on #3262
closing, no update since November 2021.

[2022-06-29 20:18] #3262 closed

[2022-06-29 20:19] plbossart commented on #2828
@keqiaozhang @aiChaoSONG @XiaoyunWu6666 do we still care about this bug, if not please close.

[2022-06-29 20:22] plbossart commented on #3301
HDaudio codec issue and no update since December 2021, closing

[2022-06-29 20:22] #3301 closed

[2022-06-29 20:22] plbossart commented on #3157
@lyakh can we close this issue or is this still relevant?

[2022-06-29 20:23] marc-hb commented on #3387
It's been root-caused to failing hard drives, probably because of SSD firmware bugs, like for instance this one:

https://www.dell.com/support/home/en-us/drivers/driversdetails?driverid=754y5

(This is just random example; I'm _not_ saying we use this particular model)

See internal issue 233 for more details.

Flash storage is complex, so it is buggy:
https://en.wikipedia.org/wiki/Write_amplifica

[2022-06-29 20:24] plbossart commented on #2805
@cujomalainey @sathya-nujella @kv2019i the information in this issue is either very old, obsolete. If there's still an issue please open a new one to better track it. Closing this one for now.

[2022-06-29 20:24] #2805 closed

[2022-06-29 20:25] plbossart commented on #3011
@marc-hb @XiaoyunWu6666 i can't recall if this problem still exists?

[2022-06-29 20:26] marc-hb commented on #3349
I have not seen this in a while, will re-open if I do

[2022-06-29 20:26] #3349 closed

[2022-06-29 20:27] plbossart commented on #3078
@sathya-nujella there's been no update since November 2021, so closing this bug. If there's still an ask to fix something, please re-create an issue with a test that can be reproduced.

[2022-06-29 20:27] #3078 closed

[2022-06-29 20:31] marc-hb commented on #3011
They may not print this message but we still experience rtcwake freezes on a regular basis so I would prefer to keep this open

[2022-06-29 20:51] marc-hb commented on #3043
I only ever saw this on BYT which is now in "maintenance" mode. Closing as wontfix.

[2022-06-29 20:52] cujomalainey commented on #2805
I think we can closed this out without concern, we learned later it is likely a issue in a different domain that is breaking it

[2022-06-29 23:02] gimait commented on #3729
@plbossart I didn't have an `alsa-base.conf` file, so I created one, added the option you suggested and rebooted.
The result is the same, low frequencies are still not being played.

Let me know anything else I can do to help.

(and btw, thanks to both for the very quick reply!)

[2022-06-30 00:41] bardliao commented on #3636
@XiaoyunWu6666 Do we still see this issue? We can close it if it wasn't reproducible for a while.

[2022-06-30 01:05] keqiaozhang commented on #3598
No reproductions in CI for more than 2 months. Closing this issue.

[2022-06-30 01:05] #3598 closed

[2022-06-30 01:18] keqiaozhang commented on #2828
I don't care about the PINCTL. Closing this bug.  BTW, we have added one EHL UP board in CI `251:sh-ehl-up-hda-01`

[2022-06-30 01:18] #2828 closed

[2022-06-30 01:20] keqiaozhang commented on #2676
This issue still occurs sporadically in CI, so I suggest to keep this issue open but with low priority.

[2022-06-30 01:39] keqiaozhang opened #3731 "[BUG] DSP initialization times out on ICL"
**Describe the bug**
CI detected this issue on ICL when testing check-kmod-load-unload-after-playback-5. DSP initialization timed out after 3 iterations and caused the firmware failed to boot from IMR.

[code]

**To Reproduce**
`~/sof-test/test-case/check-kmod-load-unload-after-playback.sh -l 5`

**Reproduction Rate**
Hard to tell, no reproductions during manual check.

**Environment**
1) Kernel a

[2022-06-30 03:22] sathya-nujella commented on #2805
Thank you @cujomalainey  for the update.

[2022-06-30 06:05] lyakh commented on #3157
yes, let's close

[2022-06-30 06:05] #3157 closed

[2022-06-30 06:06] lyakh commented on #3235
@ujfalusi do we still need this open?

[2022-06-30 06:14] marc-hb commented on #3011
Fresh from the oven: https://sof-ci.01.org/sofpr/PR5875/build778/devicetest/?model=WHL_UPEXT_HDA_ZEPHYR&testcase=check-suspend-resume-5

I checked `journalctl` on that system and while there was no rtcwake error message there definitely was a hard lockup: absolutely nothing in the logs after the call to `rtcwake`

Interestingly, CI did NOT timed out and power-cycled the device because it immediate

[2022-06-30 06:31] marc-hb commented on #3731
@keqiaozhang  You just filed this bug without any reference meaning it's a brand new regression? Never seen before? If yes it and the reproduction are is high enough then it should be quick and easy to bisect.

For the record this was found in daily test 13622. `journalctl -k` output below with hostname and timestamps:

<details>

[code]

</details>

[2022-06-30 08:31] keqiaozhang commented on #3731
I just filed the bug first for daily summary, I need time to debug it, so I didn't say much in the description. I was planned to edit it after I have more clues about this issue.

1. We observed this issue on ICL for the first time and I don't think we have a similar issue on other platforms.
2. Not sure if it's a regression, hard to reproduce it. 500 iterations passed without errors.

[2022-06-30 08:51] ujfalusi commented on #3530
@plbossart, yes, we can close this. The fixes are in upstream and they are even backported to stable, afaik.

[2022-06-30 08:51] #3530 closed

[2022-06-30 08:53] ujfalusi commented on #3235
let's close. I have fixed it quite a while ago. Thanks for the report @lyakh !

[2022-06-30 08:53] #3235 closed

[2022-06-30 13:03] AlecJY commented on #3727
[code]

[code]
[dmesg.log](https://github.com/thesofproject/linux/files/9019961/dmesg.log)

[2022-06-30 13:15] plbossart commented on #3729
@gimait ok so definitively a codec configuration issue, or a missing component on the DSP.

@shumingfan can you please help check if Realtek did any special tricks to enable low-frequencies in Windows on this Dell XPS 9510 device?

[2022-06-30 13:43] plbossart commented on #3727
Thanks @AlecJY

I will need to spend more time on this, this configuration seems to create a lot of problems. I can't figure out why the first device sdw:0:025d:0711:2:00 is missing the extension (unique ID) and why we are missing the second device 0x000120025d071100

[2022-06-30 14:11] plbossart commented on #3727
@AlecJY Let's first try to revert one change to only focus on the ACPI devices. Can you try the updated patches in PR #3730 https://github.com/thesofproject/linux/pull/3730

Thanks! I realize it's painful but I don't have the hardware to test myself.

[2022-06-30 14:43] AlecJY commented on #3727
[code]

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/9020756/dmesg.log)

[2022-06-30 15:46] plbossart commented on #3727
wow, so there's really something wrong in the logic to create device from the ACPI description. Thanks @AlecJY

I added more dev_dbg traces to figure out what happens, please try the update in PR #3730

We must have missed something in the past on how devices are handled.

[2022-06-30 16:31] AlecJY commented on #3727
[code]

[code]
[dmesg.log](https://github.com/thesofproject/linux/files/9021730/dmesg.log)

[2022-06-30 16:46] plbossart commented on #3727
Fascinating @AlecJY. Somehow we are using link3 but the second device is advertised on Link1...

[code]

so now the question is why on earth this link3 is used. I'll add some more patches for the Intel part.

[2022-06-30 16:53] plbossart commented on #3727
@AlecJY can you please add this to /etc/modprobe.d/sof-dyndbg.conf, reboot and provide the dmesg log again?

[code]

[2022-06-30 17:03] AlecJY commented on #3727
[dmesg.log](https://github.com/thesofproject/linux/files/9021907/dmesg.log)

[2022-06-30 18:36] plbossart commented on #3727
ok, I think I have things mostly figured out now @AlecJY
It turns out the ACPI entry for the second device uses a link that's disabled, so the remap didn't work. Using link3 should work now, please try the updated PR #3730 and copy/unzip this topology file
[sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz](https://github.com/thesofproject/linux/files/9022381/sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz)
as /lib/f

[2022-06-30 19:20] marc-hb commented on #3387
And now for something different:
https://sof-ci.01.org/sofpr/PR5959/build785/devicetest/?model=TGLU_UP_HDA_ZEPHYR&testcase=check-suspend-resume-with-playback-5
[code]
Never a dull moment...

[2022-06-30 22:09] plbossart commented on #3727
Sorry @AlecJY, my initial patch to add the version number creates other issues.

I updated the PR #3730 (commit b8c67c25d44e8c586d99a7bbb43539ba7f4c171b) which *should* work now...

[2022-07-01 03:24] AlecJY commented on #3727
The sound card still didn't work unfortunately.

[code]

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/9024844/dmesg.log)

[2022-07-01 13:25] plbossart commented on #3727
Thanks @AlecJY. The SoundWire part is now working as expected, the headset codec and amplifier are discovered, enumerated and initialized. That's progress :-)

[code]

What doesn't work is the detection of the machine driver.

[code]

Looking into it.

[2022-07-01 13:32] plbossart commented on #3727
Typo on my side:
[code]

Should be
[code]

PR #3730 updated, thanks @AlecJY for your patience and help on this one.

[2022-07-01 13:55] AlecJY commented on #3727
[code]

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/9029390/dmesg.log)

[2022-07-01 15:17] plbossart commented on #3727
D'oh, no idea what's going on @AlecJY.

Please try with the updated branch, I added more traces to see why we skip the machine driver entry and use the sof-adl-rt711 version. Thanks!

[2022-07-01 15:34] plbossart commented on #3621
@jairaj-arava No information provided in two months, is this still relevant or can we close?

[2022-07-01 15:45] AlecJY commented on #3727
[code]

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/9030062/dmesg.log)

[2022-07-01 15:46] plbossart commented on #3416
@marc-hb can you check if this issue has occurred recently, we've cleaned-up the card registration quite a bit. It'd be surprising if this still happened.

[2022-07-01 16:26] plbossart commented on #3727
ok, I had more mistake in the ACPI table with a missing empty entry {}

Also added more traces in case I screwed up even more. Update pushed, please give it a try @AlecJY

[2022-07-01 16:36] AlecJY commented on #3727
[code]

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/9030396/dmesg.log)

[2022-07-01 17:46] plbossart commented on #3727
ok, now we seem to have lost the 2ch DMIC detection. Darn.

[code]

[2022-07-01 18:10] plbossart commented on #3727
Again this HP platform breaks existing assumptions that link2 and link3 are used by DMIC.
This should help
[code]

PR #3730 updated @AlecJY. I just need the dmesg log now, the device handling is fine.

[2022-07-01 18:11] plbossart commented on #3727
@bardliao @RanderWang FYI, wondering if the change above will break existing platforms or require topologies we haven't released?

[2022-07-01 18:53] jairaj-arava commented on #3621
As per the latest status from validation team issue is not observed in the recent images. Closing it for now, if issue happens again will re-open. Thanks.

[2022-07-01 18:53] #3621 closed

[2022-07-02 03:15] AlecJY commented on #3727
[dmesg.log](https://github.com/thesofproject/linux/files/9032316/dmesg.log)

[2022-07-02 14:38] DGrbnv commented on #3249
Me too. I have bought a Matebook D16 and found that there is no sound on linux. Anyway I still hope for the fix

[2022-07-04 01:10] keqiaozhang commented on #3669
@marc-hb , can we close this one? we haven't seen this issue for a long time and https://github.com/thesofproject/linux/issues/3387 is closed.

[2022-07-04 02:14] bardliao commented on #3727
@plbossart It will break the existing platforms ONLY if the platform uses less then 2 SoundWire links AND doesn't use DMIC, right? In addition to checking link mask, we check dmic number from nhlt. So I think it is safe for this change.

[2022-07-04 06:08] ujfalusi commented on #3731
@keqiaozhang, this can not be IMR boot since the final failure is after the third iteration. If there were IMR boot involved then we would have seen a failed IMR boot followed by 3 failed purge boot.
Here, we have DSP boot failure when the modules are loaded and no IMR boot is requested.
In the full dmesg this is clear: firmware loaded followed by the 3 failed boot attempts:
[code]
I can not recal

[2022-07-04 06:21] ujfalusi commented on #3731
The logger and dmesg logs are out of sync.
logger.txt have `INFO ipc: new cmd 0x90040000` which is a dtrace filter update, but there is no such a message sent according to the kernel log.

[2022-07-04 08:03] wisbit commented on #3357
quick request for updates on the topic.
Does anyone know of any advance on the issue.
Regardless of new kernels, I still don't have sound on the sound card output (speaker / headphone) and only usb sound works.

[2022-07-04 09:47] ujfalusi commented on #3715
From the log for: https://sof-ci.sh.intel.com/#/result/planresultdetail/13499?model=ADLP_GMB_I2S_ZEPHYR&testcase=check-kmod-load-unload-after-playback-5

After module load the DSP is booted, firmware is downloaded, we receive the FW_READY message and the first IPC (GLB_TRACE_MSG:DMA_PARAMS_EXT) times out.
Since a timeout is a 'feature' not a failure we continue (dtrace is not going to work since i

[2022-07-04 10:53] ujfalusi commented on #3715
@plbossart, @marc-hb, the
[code]
It is really in driver loading time:
[code]

is printed _after_ the suspend/resume iterations w/o audio modules and it is coming when the audio modules are re-loaded at the end of the test case.

[2022-07-04 16:03] ItWasnaeMe commented on #3357
@wisbit Same here, although oddly enough, the microphone and line input seem to work and I can record audio from websites and the like. Just no audio coming out of the speakers/headphones.

[2022-07-05 11:01] bardliao commented on #3684
@ranj063 @aiChaoSONG I created https://github.com/thesofproject/linux/pull/3737 based on [0001-ipc4-topology-Add-IPC-widget-ops-for-get-put-queue-I.txt](https://github.com/thesofproject/linux/files/8973016/0001-ipc4-topology-Add-IPC-widget-ops-for-get-put-queue-I.txt), we can discuss there.

[2022-07-05 14:49] plbossart commented on #3727
ok thanks @AlecJY this is now a topology issue, I'll have to look into this later today.

[2022-07-05 14:51] plbossart commented on #3727
Not following @bardliao, are you saying the changes are ok or something else needs to be added?

[2022-07-05 15:00] plbossart commented on #3357
@ItWasnaeMe likely either a mixer setting issue, or a quirk needed for speakers/headphone.

[2022-07-05 15:28] wisbit commented on #3357
@plbossart what is a quirk ?

[2022-07-05 15:31] marc-hb commented on #3669
I don't think this was a duplicate of #3387 (buggy SSDs) because `sh-adlp-rvp-nocodec-02` never had any SSD issue and its drive was not replaced, correct? I think people who tried to reproduce unfortunately wasted a lot of time with unrelated SSD issues on some systems.

This being said, we can always re-open if seen again @plbossart ?

[2022-07-05 15:32] plbossart commented on #3669
yes, we can always re-open as needed.

[2022-07-05 15:36] plbossart commented on #3357
@wisbit a quirk is a platform-specific variation that cannot be detected by the kernel. The machine driver provides a kernel parameter.

modinfo snd-soc-sof_es8336
filename:       /lib/modules/5.19.0-rc2-test-05332-g7af1dd73394e-dirty/kernel/sound/soc/intel/boards/snd-soc-sof_es8336.ko
import_ns:      SND_SOC_INTEL_HDA_DSP_COMMON
alias:          platform:sof-essx8336
license:        GPL
descriptio

[2022-07-05 15:42] wisbit commented on #3357
@plbossart I'll admit that I uncomfortable with that. I can do a lot on my own, but the whole kernel, modules, drivers, all that, I am not crazy knowledgeable about that on Linux. how would I manage that ? finding the quirk and parameters and then set them up to make it work ?
I'm on kernel 5.18.7-1
right now my alsa.conf is this:
`options snd-intel-dspcfg dsp_driver=1`

there was also another pla

[2022-07-05 16:09] ItWasnaeMe commented on #3357
@wisbit I fiddled around and added this
set-card-profile alsa_card.pci-0000_00_0e.0 output:hdmi-stereo
to /etc/pulse/default.pa a while ago. (Possibly the place you were thinking of?) It shows up in the mixer settings after a reboot, but has no effect whatsoever.

I also attempted to install the kernel and had to remove it again. Can't remember what the issues were with it, but I do recall it made

[2022-07-05 16:47] plbossart commented on #3727
the logs show this
[code]

That makes sense, the 'SDW3' means that we are using the link3 for speaker playback. The problem is that the topology hard-codec SDW1, will change that.

[2022-07-05 16:51] plbossart commented on #3727
@AlecJY please try again with this topology file.

[sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz](https://github.com/thesofproject/linux/files/9048126/sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz)

[code]

[2022-07-05 17:09] AlecJY commented on #3727
[dmesg.log](https://github.com/thesofproject/linux/files/9048222/dmesg.log)

[2022-07-05 17:13] plbossart commented on #3727
Nice, so now we have a hard-coded assumption in the topology again

[code]

That's clearly wrong and needs to be a parameter. Will fix. Thanks for your patience @AlecJY, this platform is exposing all kinds of issues.

[2022-07-05 17:26] plbossart commented on #3727
@AlecJY please try this file
[sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz](https://github.com/thesofproject/linux/files/9048323/sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz)

[2022-07-05 17:32] AlecJY commented on #3727
[dmesg.log](https://github.com/thesofproject/linux/files/9048349/dmesg.log)

[2022-07-05 18:06] plbossart commented on #3727
Ah yes, echo reference is exposed for rt1316 so there's an off-by-one. Try this updated file @AlecJY

[sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz](https://github.com/thesofproject/linux/files/9048532/sof-adl-rt711-l0-rt1316-l3-2ch.tplg.gz)

[2022-07-06 00:52] marc-hb commented on #3731
We need to move away from `dmesg`. We've gone a long way but we're not completely there yet:
- https://github.com/thesofproject/sof-test/issues/292

[2022-07-06 03:34] shumingfan commented on #3729
@gimait I post the messages from our HDA SW engineer. He wants to check some info. from alsa-info.
"sudo su root" type password  to enter root
"echo 1 > /sys/module/snd_hda_codec/parameters/dump_coef "
"alsa-info --no-upload"
Please share the tmp/alsa-info.txt.xxxx to us.

[2022-07-06 03:45] gimait commented on #3729
Here it is, please let me know if I can provide any other information.

[alsa-info.txt](https://github.com/thesofproject/linux/files/9051331/alsa-info.txt)

[2022-07-06 04:29] bardliao commented on #3727
@plbossart Yes, the change looks good to me.

[2022-07-06 09:27] AlecJY commented on #3727
The sound card works!!! It seems that the speakers, microphones and headset jack work normally. Thank you.

There is only one thing I'm not sure if it is a bug. When I tried to record sound with the headset microphone using Audacity, only the right channel received the sound. However, both channels worked on Windows.

[dmesg.log](https://github.com/thesofproject/linux/files/9053490/dmesg.log)
[als

[2022-07-06 13:35] plbossart commented on #3727
Great, thanks @AlecJY for the reports.

Can you try to change this code to see if this changes the headset detection?

[code]

[2022-07-06 14:50] AlecJY commented on #3727
Still have the same problem.

[dmesg.log](https://github.com/thesofproject/linux/files/9055834/dmesg.log)

[2022-07-06 17:15] plbossart commented on #3727
@shumingfan can you help with the jack settings? It's surprising that JD1 or JD2 doesn't seem to have an effect, and I am not sure what could happen with the left channel silent. I am not sure what could possibly happen, headset mics are typically mono, maybe an OMTP/CTIA issue?

[2022-07-06 19:33] datmischa opened #4055 "[BUG] Samsung Galaxy Book2 Pro 360 no sound through speaker"

[2022-07-06 20:24] plbossart commented on #4055
This is likely a codec and amplifier issue, see suggestions to double-check if this also happens with the legacy HDaudio driver.

https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#disable-sof-on-pci-hdaudio-devices-to-test-audio-playback

[2022-07-06 22:17] RossoSimo commented on #3248
yesterday I read a post where it said that the problem on huawei d15 solved it by bringing it to assistance and in 2 minutes they solved the problem via hardware. The only possible option seems to me a cmos restart. tomorrow if I don't find any other solution, I'll try.

[2022-07-06 22:29] RossoSimo commented on #3248
also tried this.
http://alsa-project.org/db/?f=98a4e55b14ff8e5716a8fd9e81530d731cf9f94e

[2022-07-07 01:49] shumingfan commented on #3727
@AlecJY Could you dump registers while recording?
cat /sys/kernel/debug/regmap/sdw:0:025d:0711:01/registers
cat /sys/kernel/debug/regmap/sdw:0:025d:0711:01-sdw-mbq/registers

Another test I want to try is the loopback that makes ADC data to DAC.
The loopback setting shows below.
[code]
You could playback silent data and enable the recording. Could you hear the sound from the headset mic to the hea

[2022-07-07 05:18] yangxiaohua2009 commented on #3248
@Rosso

[2022-07-07 05:20] yangxiaohua2009 commented on #3248
You are using an HDA sound card now
You may need to compile a kernel and select the option SND_SOC_INTEL_SOF_ES8336_MACH. @RossoSimo

[2022-07-07 05:52] RanderWang commented on #3727
I can't image a case would be broken, it is good for me.

[2022-07-07 06:23] AlecJY commented on #3727
JD1:
Ouput of `cat /sys/kernel/debug/regmap/sdw:0:025d:0711:01/registers`
[JD1-output1.log](https://github.com/thesofproject/linux/files/9060890/JD1-output1.log)

Output of  `cat /sys/kernel/debug/regmap/sdw:0:025d:0711:01-sdw-mbq/registers`
[JD1-output2.log](https://github.com/thesofproject/linux/files/9060895/JD1-output2.log)

JD2:
Ouput of `cat /sys/kernel/debug/regmap/sdw:0:025d:0711:01/regist

[2022-07-07 09:19] shumingfan commented on #3727
@AlecJY  It is weird that the driver can detect CTIA jack type whether using JD1 or JD2.
I will check this with the internal HW engineer. Will give back soon.

[2022-07-08 03:04] thatnerdjosh commented on #3393
@yangxiaohua2009 - I am not a firmware developer, but it had sounded like this patch worked great for @tonitch, was just wondering why https://github.com/plbossart/sound/pull/25 was closed

If it works, this would be a great thing to have upstream so that other users could benefit from not needing to custom compile their kernel for audio support on a device with ESSX8326 HID :)

[2022-07-08 11:24] sathyap-chrome opened #3743 "ADL / RPL : Enable hostless playback and capture"
When we use Smart AMP needing IV feedback in DSP ( Like MAX98373) the IV feedback starts only when we open associated PCM on the host side. This indirectly leads to high power consumption even for playback scenario.

Also for upcoming new features like ULTRASOUND, a playback and capture pipe without assocaited PCM is required. Hence started this issue for overall understanding dependancies and get

[2022-07-08 11:27] shumingfan commented on #3727
@AlecJY
I got the same machine and reproduce this issue on my side.
I found the root cause that the 'PGA2.0 2 Master Capture Volume' sets the 0 to the left channel.
Please input the command to set the volume.
`amixer -c<card number> cset name='PGA2.0 2 Master Capture Volume' 50,50`

BTW, the JD source should select JD2.

[2022-07-08 11:59] AlecJY commented on #3727
The problem is solved after running the command. Thank you!

[2022-07-08 12:05] #3727 closed

[2022-07-08 15:25] plbossart commented on #3727
@shumingfan @bardliao I don't see this mixer value being set in UCM, and it's an SOF mixer value that should be set to 0dB on both channels. We need to fix this without asking people to play with amixer, otherwise other folks will have the same issue.

Besides, we don't have any references to the PGA stuff any longer, see https://github.com/alsa-project/alsa-ucm-conf/commit/b856040ab9f3eb038001495

[2022-07-08 15:47] sathya-nujella commented on #3743
referring to the TGL issue here: https://github.com/thesofproject/sof/issues/3663

[2022-07-09 07:51] marc-hb commented on #3416
`journalctl -g 'kernel/locking/mutex|rt5682_jack_detect_handler'` is empty on both `jf-tglu-volt-sdw-01` and `jf-tglu-volt-sdw-03` right now.

[2022-07-10 01:35] datmischa commented on #4055
I finally got my speakers working.

**Steps to reproduce**
`/etc/pulse/default.pa`
`#load-module module-suspend-on-idle`
and run the script (credits to [drlucas from manjaro.org](https://forum.manjaro.org/t/howto-set-up-the-audio-card-in-samsung-galaxy-book/37090))
[https://pastebin.com/raw/zsXp2vz6](url)

I have to rerun the script every time I restart/wake the PC from sleep.
What would be the ap

[2022-07-10 13:33] thatnerdjosh commented on #3393
I've spent the last couple days trying to get this to work without much success. @tonitch - how did you get it working in arch? I am in arch linux as well

`lspci -v`:

[code]

`lsmod`

[code]

`dmesg | grep sof`

[code]

`aplay -l`

[code]

[2022-07-10 14:29] RossoSimo commented on #3248
I compiled the kernel  (latest 5.18.10 downloaded from kernel.com ) with that flag SND_SOC_INTEL_SOF_ES8336_MACH = m and also loaded it with modprobe but still nothing this is the alsainfo:

http://alsa-project.org/db/?f=9ae820265b9bd44fc533ebddc782d91e1969c0f0
@yangxiaohua2009

[2022-07-10 18:47] thatnerdjosh commented on #3393
For anyone potentially stuck on this in the future... the patch works great, but in my case I had disabled `SND_SOC_INTEL_SOF_ES8336_MACH`

It seems that kernel option is necessary to communicate with the 8336/8326 when on the intel SoC

[2022-07-10 19:18] thatnerdjosh commented on #3393
@yangxiaohua2009 - I'm noticing audio popping with this codec, is this expected?

[2022-07-10 20:10] xalexalex commented on #3350
Hey, I have the same issue with a MateBook 14s (CX8070) on Arch Linux. Two things:

1. @plbossart I dual-boot windows where the headphone jack works flawlessly and I might try reverse engineering with some guidance
2. @cihatertem what do you mean with your last message? Does it work in ChromeOS (ChromiumOS?) Can we borrow the fix from there?

[2022-07-11 01:38] keqiaozhang commented on #3712
Observed this issue again in daily test:http://sof-ci.sh.intel.com/#/result/planresultdetail/13859?model=CML_RVP_NOCODEC_ZEPHYR&testcase=check-suspend-resume-with-playback-5

[2022-07-11 02:29] bardliao commented on #3727
@plbossart We should set to 0dB for all platforms. Probable add a new file for SOF mixers in https://github.com/alsa-project/alsa-ucm-conf/tree/master/ucm2/Intel/SOF? @libinyang What do you think?

[2022-07-11 05:01] yangxiaohua2009 commented on #3393
You need to enable SND_SOC_INTEL_SOF_ES8336_MACH otherwise you won't have soundcard.

[2022-07-11 05:38] yangxiaohua2009 commented on #3248
You may need to change snd_intel_dsp_driver_probe in sound/hda/intel-dsp-config.c and let it always return SND_INTEL_DSP_DRIVER_SOF. Now it returns SND_INTEL_DSP_DRIVER_LEGACY (intel hda general).

{
	return SND_INTEL_DSP_DRIVER_SOF;
}

Also, make sure that ssp is opened in BIOS (chipset->pchio->HD Audio)

![3996d525f546f1d457ff7623a2dd98c](https://user-images.githubusercontent.com/13767225/178195

[2022-07-11 07:32] cihatertem commented on #3350
Check @rzwinge 's [post](https://github.com/thesofproject/linux/issues/3350#issuecomment-1100818857) He said that sound fully works at Chrome OS.

[2022-07-11 08:28] lgirdwood commented on #4055
@datmischa thanks for posting the script, GH has mangled the URL but it works if copy and pasted.

I've pasted the top of the script below and it looks like its the same verbs being modified over and over. Are you able to reduce this script to a minimum set of verb writes ? Once the minimum verbs are known it should be possible to patch the drivers.
[code]

Fwiw verb 0x500 looks like it could be a

[2022-07-11 14:32] thatnerdjosh commented on #3393
@yangxiaohua2009 , yup that's what I was mentioning in my comment. I had that disabled but it needed to be enabled

Do you know why this audio codec has popping issues? Also are there any plans to merge this upstream?

[2022-07-11 14:38] plbossart commented on #3727
@ranj063 aren't those controls initialized by default to 0dB? Not sure why we would need an UCM file to alter the default that the topology should do already. Thanks!

[2022-07-11 14:41] plbossart commented on #3248
No, that's bad advice. This code is supposed to handle auto-detection of the driver. If it doesn't work it needs to be fixed. Don't randomly edit stuff. Besides,  if you want a work-around to force SOF to be used, there is already a kernel parameter that can be set in /etc/modprobe.d/alsa-base.conf

options snd-intel-dspcfg dsp_driver=3

[2022-07-11 15:12] marc-hb commented on #3669
This happened again in daily 13859?model=ADLP_RVP_NOCODEC&testcase=check-kmod-load-unload-25

journalctl ends like this:

[code]
(and then nothing)

The next boot has this:
[code]

[2022-07-11 20:04] plbossart opened #3748 "multiple-pause-resume fail on CML_RVP_SDW_ZEPHYR"
https://sof-ci.01.org/linuxpr/PR3742/build354/devicetest/?model=CML_RVP_SDW_ZEPHYR&testcase=multiple-pause-resume-5

This looks like an xrun in the firmware

[code]

[2022-07-11 20:07] plbossart commented on #3748
Possible duplicate of https://github.com/thesofproject/linux/issues/3712

@keqiaozhang ?

[2022-07-11 22:26] gitjuice commented on #3248
are you talking about this? https://forums.linuxmint.com/viewtopic.php?t=358471 I'm running a Huawei Matebook D15 with Intel i7 Tiger Lake and I have the exact same issue you are describing here. There is no way I can get audio working.

[2022-07-12 02:37] keqiaozhang commented on #3748
it seems that they are not the same.
First, the scenarios are different.

Secondly, For https://github.com/thesofproject/linux/issues/3712, the XRUN is caused by `WARN dai_copy(): nothing to copy` and detected by `dw_dma_get_data_size()`
But in this bug, the XRUN is detected by `hda_dma_link_check_xrun()`

[2022-07-12 09:06] keqiaozhang opened #3766 "[BUG] plain arecord issue found in pause/resume failure on TGLU_SKU0A32_SDCA ########+| MAX"
linux #3750 -> sof-test ->  #3766

---

UPDATED SUMMARY by @marc-hb : this is a plain `arecord` issue. Reproduction does not require any test code and it does not require pause/resume. It was found by sheer luck when an upgrade from Ubuntu 2020 to 2022 turned on a capture setting. It was found in pause/resume testing because no other test looks at what `arecord` captures.

Original description bel

[2022-07-12 10:11] cihatertem commented on #3350
Check @rzwinge 's https://github.com/thesofproject/linux/issues/3350#issuecomment-1100818857 He said that sound fully works at Chrome OS.

BTW are there any changes or improvements with 2.2? I am on Ubuntu 22.04 and the version is 2.0.

[2022-07-12 11:46] webgtx commented on #3350
Also, same issue with matebook 15. I tried install chrome os for solution, didn't help. **Sound not work** on chrome os flex
# 🤷‍♂️

[2022-07-12 15:24] plbossart commented on #3766
nor clear to me what the issue is. The PARITY error happens from time to time, it's not fatal.

[2022-07-12 15:42] plbossart commented on #3729
it's my understanding that this is a 'feature'. the HDaudio codec enables a high-pass filter with the corner frequency at 250Hz to protect the speakers on this specific model, so it's unlikely that the bass content will be played with the desired level.

[2022-07-12 16:18] NeveHanter commented on #3248
I would link my issue here, the same module `snd-soc-sof_es8336` helped enabling both speakers and the mic array on Dell Precision 5770 with Alder Lake i7-12700H.

It only worked after specifying the proper module order in `/etc/modules-load.d/99-audiofix.conf` (created file):
[code]

The last one needs to be loaded after `snd-soc-sof_es8336`. You can test if this works on your end:
[code]

Would

[2022-07-12 16:22] plbossart commented on #3248
@NeveHanter can you please share the results of 'alsa-info'? I don't think you need this module snd-soc-sof-es8336 at all.

[2022-07-12 16:27] gbuloz commented on #2990
@plbossart : after one year of pain, I now have the required BIOS with the pinctrl fix based on BIOS codebase "5.19_1AWHS_RC1.5.0_016", and I use latest Fedora 36 updates (kernel 5.18.9.
It seems I now have the required audio device created (see f36audio.txt), but I still don't know of to configure things at least from command line to record something from mic-in or line-in, and play to speaker or

[2022-07-12 16:34] plbossart commented on #2990
@gbuloz if you want the card and endpoints to be detected in Fedora/Ubuntu, you have to create a UCM file. see https://github.com/alsa-project/alsa-ucm-conf

alternatively you can use mixer settings, this is what we use in our CI tests. this will only work for command-line tests, Fedora/Ubuntu would not expose the card/endpoints. For this you need the UCM file.

[code]

[2022-07-12 17:24] gbuloz commented on #2990
@plbossart : Thanks !

[2022-07-12 17:28] NeveHanter commented on #3248
@plbossart thanks for the response and correcting me, yes, you are right, I don't need this specific module, I must've messed something along the way at some point.

The weird thing is now even after removing the `modules-load.d` file audio works fine. With one difference that with the file it's available immediately after logging and without it it sometimes takes a little until ALSA/pulseaudio in

[2022-07-12 18:14] NeveHanter opened #3751 "Dell Precision 5770 no sound while connected to power adapter, panics when trying to reboot"
Notebook panicked when rebooting while having sof symbols in the stacktrace (sadly, it didn't sync so I don't have the panic in lastlog, but I've attached a photo of the screen), I'm yet unable to reliably reproduce steps required for it to panic,
![dell-precision-5770-panic2](https://user-images.githubusercontent.com/3267401/178562842-14b16c5d-6a40-4ba6-b380-34183f94f262.jpg)

Also `systemd-udevd

[2022-07-12 18:15] NeveHanter commented on #3248
@plbossart it stopped working just after connecting the notebook to power adapter. Created separate issue #3751.

[2022-07-12 19:26] plbossart commented on #3751
@NeveHanter I don't think the power adapter has anything to do with the sound card.

However we did have a number of issues with the sof_sdw_rt711_sdca_exit() function, specifically with the -517 (-EPROBE_DEFER) error. This was fixed and contributed upstream. See commit
768ad6d80db2dbbb1bfbb5e616d701a0b560f12a ("ASoC: Intel: sof_sdw: handle errors on card registration")

[2022-07-12 19:29] plbossart commented on #3751
A related issue was fixed with https://github.com/thesofproject/linux/pull/3730/commits/6da6824e1d4f60bbd3c408b53fe92cdc657438a1 (not yet upstream but will be shared by the end of the week).

[2022-07-12 19:39] plbossart commented on #2990
@gbuloz after more coffee I realized there is already support for this board in UCM, see ucm2/Intel/sof-ehl-rt5660/. I am not sure why your profile is not detected, maybe there's still a bug.

You could try to test manually with this (commands off the top of my head, some corrections might be needed)

[code]

[2022-07-12 21:03] marc-hb commented on #3766
Please always share test run ID for reference: 13893?model=TGLU_SKU0A32_SDCA&testcase=check-pause-resume-capture-100

Very similar failure in 13892?model=TGLU_SKU0A32_SDCA&testcase=check-pause-resume-capture-10. I'm not sure the "parity error" is related to the failure, the user space logs at this second link look the same but without any "parity error".

[2022-07-12 21:51] fredoh9 commented on #3766
I was trying to figure out the failure from yesterday also. PARITY error is NOT the root cause of the failure.
I was tracking TGLU_SKU0A32_SDCA for days, this was not 100% reproducible, it has started from 1-2 days ago. Test run IDs are available in internal issue 233.

[2022-07-12 22:25] gimait commented on #3729
Is it possible to change this filter, maybe fine-tune it to fit better the capabilities of the speakers? If you can point me in the right direction I'd be happy to test some things and see if I can come up with a safe, but less conservative setting.

[2022-07-12 22:28] fredoh9 commented on #3766
The failure is in expect script, that's why hard to pin point the error. The expect script trigger pause/resume command by sending spacebar key. I suspect pause/resume fails but I don't see obvious FW log either. Trying to debug more.

[2022-07-12 23:18] fredoh9 commented on #3766
Easy to reproduce the problem.
`TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-rt711-rt1316-rt714.tplg MODEL=TGLU_SKU0A32_SDCA ~/sof-test/test-case/check-pause-resume.sh -c 20 -m capture
`
// Puase/resume works on hw:0,1, irrespective of iteration
arecord   -D hw:0,1 -r 48000 -c 2 -f S16_LE -vv -i /dev/null -q

// capture hw:0,4, first pause works but resume fails
arecord -D hw:0,4 -r 48000 -c 2 -f S16

[2022-07-12 23:26] marc-hb commented on #3766
Timings then? Near impossible to reproduce `expect` timings without `expect` or something like it.

[2022-07-12 23:40] plbossart commented on #3729
@gimait that would mean a very high likelihood of blowing your speakers.... all standard disclaimers apply. You are free to alter the verbs sent to tbe HDaudio speakers, but that's at your own risk.

[2022-07-12 23:50] fredoh9 commented on #3766
thanks @marc-hb.
This is a bug in our expect script. Can't handle with `MAX`

[code]

Don't know how to fix this yet. Will move this to sof-test repo.

[2022-07-13 00:34] marc-hb commented on #3766
While the script should handle MAX better, why is MAX suddenly OK? This test never failed like this before so this really looks like a real bug and recent regression to me. It's not even a short duration MAX, it lasts for a while. Did you listen at the capture?

cc: @plbossart

PS: @aiChaoSONG found an `axfer` replacement for `aplay` which could avoid `expect` https://github.com/alsa-project/alsa-

[2022-07-13 00:58] gimait commented on #3729
@plbossart If I understand you correctly, the HDaudio verbs sent to the speakers on Linux differ from those on Windows on this device, and this causes the issue I'm experiencing, is this correct? Is this filter specific for the xps 15 model, or a general rule for other devices as well?

I understand the risks of playing the volume of the speakers, I would not dare try if it wasn't because there is

[2022-07-13 14:02] plbossart commented on #3729
No, the verbs are set in the BIOS and should be common for Windows and Linux. If you see a difference between the two OSes, there's something else at play.

[2022-07-13 16:55] gbuloz commented on #2990
@plbossart : these commands are running without error, but no sound. Our custom design based on CRB is working OK under windows so the hardware should be OK. Compared to the CRB we have no speaker, only line-out. Also due to that the ALC5660 GPIO2 used for speaker/line-out commutation (jack contact) is expected to be reused for mic-in/line-in commutation.
In the second alsaucm command above, I see

[2022-07-13 17:36] plbossart commented on #2990
@gbuloz if the board is different, the alsamixer and UCM settings will have to be different, and it's possible that the GPIO handling needs to be modified in the driver. @bardliao @oder-chiou do you have settings for rt5660 that can be shared?

[2022-07-13 18:01] fredoh9 commented on #3766
There are huge pop in begining of hw:0,1. For 3 seconds, some 'MAX' output was detected

`$ arecord   -D hw:0,1 -r 48000 -c 2 -f S16_LE -d 10 sdw1_capture.wav`
[sdw1_capture.zip](https://github.com/thesofproject/linux/files/9104743/sdw1_capture.zip)
![ImagePic_0713_006](https://user-images.githubusercontent.com/45636982/178799879-e88c2265-1ea2-44e2-8723-4422f0698157.png)

[code]

`$ arecord   -D h

[2022-07-13 20:55] yesanishhere commented on #1752
@dbaluta Thanks a lot for working on this feature. Can you list out what all is remaining to get this feature working on SOF? We would definitely like to use this feature and can help.

[2022-07-13 22:38] gimait commented on #3729
I'm relieved that the issue might be elsewhere, hopefully, it's something safer I can test out. Do you have any other ideas about where could the problem be?

I can hear the difference between OSes, and reproduce the issue every time: audio is great on Windows (except for some rare occasions when the laptop is about to run out of battery), but lower frequencies are gone when running Linux. That ma

[2022-07-13 22:39] marc-hb commented on #3766
UPDATE: the git versions below are IRRELEVANT. The issue has been narrowed down to ALSA configuration differences.

 --------

Last known good daily test run ID 13859 Start Time: 2022-07-10 21:30:24 UTC
[code]

First bad daily test run ID 13983 Start Time: 2022-07-12 01:34:48 UTC
[code]

Only 4 SOF commits difference:

[code]

About 60 Linux commits difference:

[code]

[2022-07-14 01:37] marc-hb commented on #3766
This also started happening with the SOF v2.2 release branch so this is very likely a recent kernel regression @plbossart

Same failure in internal daily v2.2 run 13929?model=TGLU_SKU0A32_SDCA&testcase=check-pause-resume-capture-10 and other v2.2

[2022-07-14 01:40] marc-hb commented on #3012
Still happening in today's daily 13945?model=CML_SKU0983_SDW&testcase=check-suspend-resume-50 (`jf-cml-sku0983-sdw-1`)

[2022-07-14 02:02] oder-chiou commented on #2990
@gbuloz Please use the following command to enable the path of the LOUT
[code]

[2022-07-14 13:05] foofly commented on #3350
On PopOS 22.04, when pluggin in headphones the speakers worked. Whist keeping the headphones plugged in and switching to speakers stopped working.

It seems like the outputs are reversed somehow. Not sure if that's any help, but it does seem odd

[2022-07-14 14:09] DmitriiMukhin commented on #3350
Yes. I came to the same thoughts. Looks like [patch_conexant.c](https://github.com/thesofproject/linux/blob/77782ea423022ec26357bd28d60204f5ebf76de8/sound/pci/hda/patch_conexant.c) need some fixes in patch_conexant_auto method.

[2022-07-14 14:34] plbossart commented on #3350
My money would be on an inverted jack detection that switches to the 'wrong' endpoint.

[2022-07-14 23:04] fredoh9 commented on #3766
I tried with daily build 2022-07-10 (below has HASHes), I have same issues with MAX volume.

[code]

Hard to tell the connection, but I replaced the NVMe SSD 7/8 (Fri), It may be something to do with the SSD upgrade and leave the laptop without the back cover?

[2022-07-14 23:35] fredoh9 commented on #3766
jf-tglu-sku0a32-sdca-01 works fine, both jf-tglu-sku0a32-sdca-02/jf-tglu-sku0a32-sdca-03 have MAX volume issue.

I see some differences. First one has Ubuntu 20.04 and alsa version 1.2.2. The latter has Ubuntu 22.04 and alsa version is 1.2.6. I see some of alsa contents are different. I can't store/restore alsa settings from Ubuntu 20.04 to Ubuntu 22.04. Trying to match close possible.

[2022-07-14 23:50] fredoh9 commented on #3766
For failed device, alsa setting was
[sku0a32-2.alsactl.txt](https://github.com/thesofproject/linux/files/9116632/sku0a32-2.alsactl.txt)

Updated with this after referencing from jf-tglu-sku0a32-sdca-01, then works fine for both of the device.
[sku0a32-2.alsactl_new_works.txt](https://github.com/thesofproject/linux/files/9116633/sku0a32-2.alsactl_new_works.txt)

[2022-07-15 02:40] keqiaozhang commented on #3766
It seems that this issue is related to `rt714 FU02 Capture`. If we turn the `rt714 FU02 Capture Switch` on and set the volume of `rt714 FU02 Capture Volume` above `52`, we will hit such issue.
For example:
[code]
But the question is that why does pausing `PCM0,4` make the volume reach to maximum under a certain probability?

[2022-07-15 06:34] fredoh9 commented on #3766
This question is already answered. When playback starts volume is 100% due to high gain. expect script don't know what to do with this output.
"##################################################+| MAX"
So no pause command is issued, then expect script is timeout, then the test case failed.

With https://github.com/thesofproject/sof-test/pull/931, error message is more readable.

[2022-07-15 13:19] plbossart commented on #3766
I will repeat my question: Why on earth do we care about volume settings when doing the pause_push/pause_release transitions? This has nothing to do with mixer changes, which can happen both when the stream is running or paused.

ALSA provides different 'strreaming' and 'control' interfaces. this test is only about the former.

[2022-07-15 17:26] plbossart opened #3764 "HDAudio upstream regression"
Tests with https://github.com/thesofproject/linux/pull/3763 show problematic upstream change

[code]

@tiwai FYI

[2022-07-15 18:01] plbossart commented on #3764
git bisect results:

[code]

[2022-07-15 18:15] plbossart commented on #3764
@crojewsk revert fixes the issue. Will share the results on alsa-devel as well.

[2022-07-15 18:49] plbossart commented on #3764
Commit reverted upstream, closing issue

[2022-07-15 18:49] #3764 closed

[2022-07-15 20:21] fredoh9 commented on #3766
I compared alsa contents and double checked capture output from jf-tglu-sku0a32-sdca-01 (working, Ubuntu20.04)

This is wave capture hw:0.4. Note, left and right channel gain is different but no saturation.

$ arecord -D hw:0,4 -r 48000 -c 2 -f S16_LE -d 10 sdw4_dut01_capture.wav

![Screenshot from 2022-07-15 13-10-32](https://user-images.githubusercontent.com/45636982/179304771-486c4e7f-e80d-4eb7

[2022-07-15 21:09] plbossart commented on #3766
@fredoh9 so now that we've established that it's a arecord problem (pause is irrelevant), can you dump the rt714 control settings in the Ubuntu 20.04 and Ubuntu 22.04 cases?

One possible change is that UCM provides default boot values, that may be the difference. See https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/codecs/rt715-sdca/init.conf

This sets the FU02 values while you loo

[2022-07-16 00:49] marc-hb commented on #3766
OK so aplain `arecord` is broken without running any sof-test code; transferring back to Linux. It could also be firmware or something else but for sure the main issue is not a test code issue.

Test enhancements are being discussed in PR
- https://github.com/thesofproject/sof-test/pull/931

[2022-07-16 03:04] plbossart commented on #3766
I have a TGLU_SKU0A32_SDCA, no issues on my side. The asound.state are really really similar, not sure what happens. I did have something weird initially with the capture volume in the gnome settings, I had to move the slider and move it back to get something recorded.

[asound.state-ubuntu2204.txt](https://github.com/thesofproject/linux/files/9125050/asound.state-ubuntu2204.txt)
[asound.state-ubu

[2022-07-17 06:37] changedsoul opened #3772 "[BUG] No Sound on Dell SoundWire SKU 0AF0 - Arch Linux 5.18.12-arch1-1 - hanging shutdown"
This on a Dell XPS 17 9720 Laptop with Intel Corporation Alder Lake PCH-P High Definition Audio Controller (rev 01).
I have gone thru the wiki and installed sof-firmware as instructed.

sof version: sof-firmware 2.2-1

with sof-installed:

        Subsystem: Dell Device 0afe
        Kernel driver in use: sof-audio-pci-intel-tgl
        Kernel modules: snd_hda_intel, snd_sof_pci_intel_tgl

when the

[2022-07-17 18:26] nikeedev commented on #3460
Maybe.
A little bit about why im here:
I have a laptop that because of that Linux and intel issue, linux doesnt recognize the pc speakers. I use Manjaro as distro, but the speakers didn't work even at other distros.

Now back to issue.

I have tested speakers in 5.19 experimental, and it did recognize the speakers but didn't produce any sound, so that means that they are working on. I have also te

[2022-07-18 08:27] direc85 commented on #3772
I noticed you have the same issue with the same lines in `dmesg` than I did:

Same here with a Tiger Lake laptop (Lenovo X1 Carbon) and Manjaro Linux. I made a [Manjaro forum post](https://forum.manjaro.org/t/no-sound-with-sof-firmware-2-2-pipewire-alsa-1-2-7-1-sequence-command-devdisall-is-ignored/116874) about it (pardon the URL and original title, I was sidetracked at first).

I managed to rest

[2022-07-18 10:25] jbbandos commented on #2955
With the just released (into MX test repositories) liquorix kernel (liquorix 5.18-11~mx21+1 ) sound stops working again, now it needs a different topology file which I can't seem to find - sof-glk-es8336-dmic2ch-ssp2.tplg
``[    6.750750] snd_hda_intel 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if info 0x04010
0
[    6.941653] snd_soc_skl 0000:00:0e.0: DSP detected with PCI class/subc

[2022-07-18 13:37] gbuloz commented on #2990
@oder-chiou, @plbossart : thanks for the commands to enable the path to LOUT, but I still have nothing out. I only get a positive glitch ~100mS on LOUT (right and left) when I run "speaker-test -Dhw:0,0 -c2 -r48000 -t sine", and nothing when I run "aplay /usr/share/sounds/alsa/Noise.wav"
Do you have a full set of commands to run including for volume setting and other obscure stuff ? I still don't

[2022-07-18 14:36] plbossart commented on #2955
You need to update the firmware.

[2022-07-18 14:41] jbbandos commented on #2955
@plbossart  I did - to v2.2 - and still doesn't have this topology (sof-glk-es8336-dmic2ch-ssp2.tplg). Is there a more recent firmware release I can download?

[2022-07-18 14:56] plbossart opened #3768 "Kconfig issues with client modules"
Issue reported by kernel test robot <lkp@intel.com>

[code]

I was able to reproduce this problem on the latest topic/sof-dev code

COMPILER_INSTALL_PATH=/data/pbossart/0day COMPILER=gcc-12.1.0 ../make.cross W=1 ARCH=arm64 olddefconfig
COMPILER_INSTALL_PATH=/data/pbossart/0day COMPILER=gcc-12.1.0 ../make.cross W=1 ARCH=arm64

the problem is this:
[code]

we compile sof-client.c in the same way as

[2022-07-18 15:00] plbossart commented on #2955
Ah, that's a miss indeed. I don't know why we missed APL and GLK.

[code]

[2022-07-18 15:07] plbossart commented on #2955
@jbbandos can you please unzip and add this file to /lib/firmware/intel/sof-tplg, reboot and check what happens?

[sof-glk-es8336-dmic2ch-ssp2.tplg.gz](https://github.com/thesofproject/linux/files/9133058/sof-glk-es8336-dmic2ch-ssp2.tplg.gz)

[2022-07-18 15:18] plbossart commented on #3768
This was also reported by Randy Dunlap in
https://lore.kernel.org/alsa-devel/d9e2d97c-12a5-5846-a9dc-4c7c0c10988e@infradead.org/

[config-r4830.gz](https://github.com/thesofproject/linux/files/9133148/config-r4830.gz)

[2022-07-18 15:24] jbbandos commented on #2955
@plbossart That topology is loaded, and now I have sound again, but still with the old issues - headphone jack doesn't turn off speakers, single sound control for headphones and speakers, very bad input microphone sound. Alsa info output is uploaded [here](http://alsa-project.org/db/?f=0f94edab86da6ebfebd66626bca6fc50e9b9e7f1)

[2022-07-18 15:27] plbossart commented on #3772
@changedsoul the shutdown issues are known, they fixes were contributed upstream last week.

The bigger issue is why the probe fails. Can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9133208/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf (the extension matters), reboot and attach the dmesg log.

Also please attach the 'alsa-info' log.

[2022-07-18 15:27] plbossart commented on #3772
please ignore this, I sent a patch upstream to remove this. You don't have to worry about it, it was intended only for developers.

[2022-07-18 15:29] plbossart commented on #3772
That's not normal and should be filed as a separate bug @direc85. I have no idea why downgrading the firmware would help.
@lgirdwood FYI.

[2022-07-18 15:39] plbossart commented on #2955
Usual issues indeed @jbbandos, likely due to bad GPIO handling. You will probably need quirks and/or the updates being discussed in https://github.com/thesofproject/linux/pull/3767

[2022-07-18 16:03] lgirdwood commented on #3772
@changedsoul we had a similar issue on a Chromebook that was resolved with a slightly different shutdown flow. Adding @kv2019i who is back next week and implemented the Chromebook fix. It may additionally need to be used here. Please keep using v2.1.1 for the moment.

[2022-07-18 16:07] plbossart commented on #3772
@lgirdwood the shutdown issue is only on SoundWire device where we tried to remove a headset device property in the machine driver that was not set on deferred probe. Nothing to do with the SOF PCI shutdown problems.

Edit: see https://github.com/thesofproject/linux/pull/3730/commits/6da6824e1d4f60bbd3c408b53fe92cdc657438a1

[2022-07-18 19:17] fredoh9 commented on #3766
I don't get this, why plain arecord is broken? Just wondering if I gave wrong information.

I am trying to lower the priority to P2. This is still behavior diff between Ubuntu 20.04 and Ubuntu 22.04. isn't it?

[2022-07-18 20:52] fredoh9 commented on #3766
I captured the wave file with hw:0,1 on jf-tglu-sku0a32-sdca-01(Ubuntu 20.04, alsa 1.2.2), after enabling the switch. Huge pop in the beginning. So this is not new problem.

$ arecord -D hw:0,1 -r 48000 -c 2 -f S16_LE -d 10 sdw1_dut01_capture.wav

![sdw1_dut01_capture wav](https://user-images.githubusercontent.com/45636982/179613247-40686760-d187-4ce7-af4f-2abe45a5f364.png)

For the UCM file (/usr

[2022-07-18 20:54] plbossart commented on #3766
"after enabling the switch"

What switch are you referring to @fredoh9 ?

[2022-07-18 21:24] fredoh9 commented on #3766
I was referring, `rt711 FU0F Capture Switch`. Ubuntu 20.04 has this switch off by default, hw:0,1 output is just silent. Ubuntu 22.04 has rt711 FU0F Capture Switch on.

[code]

[2022-07-18 21:50] plbossart commented on #3766
@fredoh9 hw:0,1 is the rt711 headset codec. hw:0,4 is the rt715 fixed mic codec. Can we please pick ONE test that is the problem?

[2022-07-18 22:24] fredoh9 commented on #3766
Test failed at hw:04 due to consitent MAX volume, I'm trying to handle MAX case with my sof-test pr. https://github.com/thesofproject/sof-test/pull/931. I don't have much worry on anything else.

For hw:0,1, trying to answer the questions from Marc, why we start to observe 3-second pop from the beginning and why we didn't observe the problem before.

I don't expect any fix from linux pr, I still t

[2022-07-18 22:30] plbossart commented on #3766
@fredoh9 . If there are no differences in UCM for rt715, then we still don't have an explanation for this volume change....

[2022-07-18 22:46] plbossart commented on #3766
I have also no idea about previous explanations @fredoh9

[code]

That's TWO changes with different values on different channels.
UCM only deals with name 'rt714 FU02 Capture Volume' and does not have per-channel settings.

https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/codecs/rt715-sdca/init.conf

In addition, the value 124 was added by @libinyang
[code]

So can we please check wh

[2022-07-18 22:48] plbossart commented on #3766
@fredoh9 I doubled-checked that we don't have any capture gain in sof-test, so it's not a test suite issue but a configuration issue.

[2022-07-18 23:03] plbossart commented on #3766
Answering to my own questions: 0dB maps to 47

[code]

the setting 124 means the value is -176.25+3.75*124 = 288.75 dB. @libinyang can you please double check this one?

[2022-07-19 01:10] changedsoul commented on #3772
OK, I tried the downgrade of sof-firmware to no avail. Reinstalled the 2.2.1 version, rebooted and here are the logs @plbossart was asking for.
[alsa-info.txt](https://github.com/thesofproject/sof/files/9136625/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/sof/files/9136626/dmesg.txt)

[2022-07-19 01:47] oder-chiou commented on #2990
@gbuloz : You can refer the following UCM config for the full commands.
https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/Intel/kblrt5660/HiFi.conf
There are 2 codec volumes that can be controlled as following.
cset "name='DAC1 Playback Volume' 30"
cset "name='OUT Playback Volume' 19"

[2022-07-19 08:59] direc85 commented on #3772
Thanks, I'll do that,.

**Edit:** I am not able to reproduce the bug anymore by updating the sof-firmware to 2.2, and audio works fine after upgrading the whole Manjaro (i.e. ALSA 1.2.7.2). I'll reopen the bug with logs if I ever hit it again.

[2022-07-19 11:59] bardliao commented on #2990
@gbuloz Can you run the `amixer contents` command and paste the result here?

[2022-07-19 15:07] plbossart commented on #3772
@changedsoul the Dell SKU is not handled in the kernel for now, this is a device Dell didn't mention to us....

[code]

The weird part is that we end-up selecting an existing configuration that fails at run-time with all kinds of SoundWire issues.

I think what's happening is that we detect a 2-amp machine, but since we are missing the SKU support we use the 1-amp version in the machine driver.

[2022-07-19 15:13] plbossart commented on #3772
@changedsoul can you try the patch in https://github.com/thesofproject/linux/pull/3773.

If you don't know how to compile your own kernel, see guidelines here: https://thesofproject.github.io/latest/getting_started/setup_linux/install_locally.html

[2022-07-19 15:22] laricko commented on #3249
5.18.12-051812-generic
no sound

any body know when it would be fix?

[2022-07-19 15:35] fredoh9 commented on #3766
The working alsa settings are restored from working DUT(Ubuntu20.04), not decided/set by me. I know that values mismatch give me a question mark. Looks 0dB(47) to all channels are making sense to me. @libinyang Let me know

[2022-07-19 16:03] DGrbnv commented on #3249
I guess no one knows. Including the developers

[2022-07-19 19:19] changedsoul commented on #3772
@plbossart , I am not quite sure how to test the patch in #3773.
When you link directions for compiling my own kernel, is the patch included in that kernel?

[2022-07-19 20:18] plbossart commented on #3772
No. Recompiling your own kernel requires a baseline. You can start from your arch linux stable tree, then apply the patch in PR #3773 and see what happens.

[2022-07-19 20:34] changedsoul commented on #3772
Forgive me ignorance, am I applying this patch to the kernel itself before compiling and not the sof-firmware?

[2022-07-19 20:42] plbossart commented on #3772
sof-firmware and linux kernel are separate things. The patch is only relevant for the kernel. It's doesn't matter what version of sof-firmware you have, as long as its 'recent-enough'.

[2022-07-19 20:55] changedsoul commented on #3772
OK, Ill give the kernel patch and compile tonight when I get home and report back hopefully tonight sometime. Thanks.

Edit: I gave it my all and cannot get the kernel to boot. Pretty sure I am doing something wrong. I followed the arch wiki for instructions. Ill keep trying thru the week and maybe over the weekend if I have more free time i might be able to get it to boot.

[2022-07-20 13:57] jbbandos commented on #2955
@plbossart No luck with the quirks. 0x22 is already auto-detected (so GPIO and SSP2), and if I force those two bits to zero (disabling the GPIO quirk) the driver won't load. All other bits don't seem to change anything.

[2022-07-20 14:04] plbossart commented on #2955
@jbbandos you can't clear the SSP bits in the quirk, they have to remain as is. See https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

[2022-07-20 14:18] jbbandos commented on #2955
@plbossart Yes, and I have to account for them in the quirk mask (in the module options) or the module won't load - eg, passing quirks=0x10 won't load, passing quirks=0x32 will load. But still, no combination of quirk mask gave any different results. Headphone jack still not detected, "headphone" channels control both headphone and speakers.

[2022-07-20 14:24] plbossart commented on #2955
@jbbandos you may need the patches in PR #3767, it seems to fix issues with the quirk not taken into account. I don't have any hardware for this platform so no way to test anything.

[2022-07-20 14:35] plbossart commented on #3768
@ujfalusi this is probably for you?

[2022-07-20 14:59] plbossart commented on #3416
let's close and re-open as needed.

[2022-07-20 15:01] plbossart commented on #2766
we have the ability to override paths, filenames, use DMI quirks, there are more than enough solutions. closing

[2022-07-20 15:01] #2766 closed

[2022-07-20 15:02] plbossart commented on #2716
@kv2019i I don't think we have any plans to fix this, let's close.

[2022-07-20 15:06] plbossart commented on #2460
There will be no magical solution to this problem, the only work-around is to load an alternate topology. This will be enabled starting with kernel 5.20 and SOF 2.3. see details of the documentation here: https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#digital-mic-issues

[2022-07-20 15:06] #2460 closed

[2022-07-20 15:06] plbossart commented on #2764
There will be no magical solution to this problem, the only work-around is to load an alternate topology. This will be enabled starting with kernel 5.20 and SOF 2.3. see details of the documentation here: https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#digital-mic-issues

[2022-07-20 15:06] #2764 closed

[2022-07-20 15:08] plbossart commented on #3283
we haven't seen this issue in 6+ months, closing

[2022-07-20 15:08] #3283 closed

[2022-07-20 15:11] plbossart commented on #3011
That would need to be tracked as a separate bug. This issue was only related to the 'one month into the future'.

[2022-07-20 15:11] #3011 closed

[2022-07-20 15:14] plbossart commented on #2971
@giddie We haven't made much progress in more than a year, and at this point we have no clear directions or information. I'll close this issue, if you have additional data please re-open as needed.

[2022-07-20 15:14] #2971 closed

[2022-07-20 15:23] plbossart commented on #3350
We probably need to ask @tiwai for help, I don't personally have any experience or specific knowledge to help debug this Conexant codec configuration issue.

[2022-07-20 15:25] plbossart commented on #3612
kernel and UCM files updated.

[2022-07-20 15:25] #3612 closed

[2022-07-20 19:08] plbossart commented on #3743
@sathya-nujella can you clarify if the host capture for echo reference is required or not? If the echo reference was only used internally in the firmware by an AEC module, that would simplify the graph and make this echo reference pipeline useless.

[2022-07-21 02:55] sathya-nujella commented on #3743
We have couple of scenarios:
1. DUT has "smart amp" which needs DSM to run in DSP:
    This is the current problem scenario.
    Here, without "echo ref" being open by CRAS, DSM is not able to get IV data from amp. (as hostess capture not working).

2. DUT has "smart amp", but DSM happening within amp:
  We had some models in ADL with this, in these models - Google has enabled "AEC" in SOF. When A

[2022-07-21 07:24] giddie commented on #2971
Is there any additional data I could get you that would help? Or are we just going to have to write this off as a weird hardware implementation? In the meantime I've had to switch to `snd_hda_intel` and manage without an internal mic :shrug:

[2022-07-21 12:36] plbossart commented on #2971
The information you provided is the right one, but we've circled between issues related to controls, then dmic and in the last log I see something new. We run daily tests on HDaudio platforms and have never seen anything like this. I don't know if this is really hardware, it could be a combination of BIOS, DSP ROM, but clearly something's off.

[code]

[2022-07-21 12:49] giddie commented on #2971
OK, well thanks for looking into it. I'll just have to assume Dell have done something weird with this laptop. I've always suffered intermittent audio buffer overflows when the dGPU is in a low-power state (on _any_ audio output, including bluetooth), so combined with this it seems likely there's just something weird with the PCI bus or something else low-level on this laptop. Maybe not actually b

[2022-07-21 13:49] changedsoul commented on #3772
I was able to get it to finally boot the new kernel, but I still have no sound.

[2022-07-21 14:18] plbossart commented on #3772
@changedsoul can you share the full dmesg log and 'alsa-info' results? we need to see if a card is created and if everything is fine.

[2022-07-21 14:48] changedsoul commented on #3772
Ok, Ill do that when I get home. It will be about 10 hours from now. I was not sure how to apply the patch, so what I did was a wget on "https://raw.githubusercontent.com/thesofproject/linux/8e02f7024e36a4f1440a52133d008f94c3e9a8e8/sound/soc/intel/boards/sof_sdw.c" and placed it into "sound/soc/intel/boards/sof_sdw.c" and compiled the kernel.

I hope this was an adequate method.

[2022-07-21 14:53] plbossart commented on #3772
Good enough!

[2022-07-21 17:16] cujomalainey commented on #3743
@plbossart it depends on the scenario/use case whether the host needs the data. There are few cases missing here.

* E.g. Given a device that has AEC in DSP on DMIC path
  * With Speaker playback and DMIC capture no host capture of feedback needed of the speaker protection path
  * With Speaker playback and HS capture, host capture is needed of the speaker protection path

[2022-07-21 17:46] ranj063 commented on #3743
@cujomalainey in this case is the idea that AEC will run on the host?

[2022-07-21 17:50] plbossart commented on #3743
I think these two are inverted @cujomalainey, did you mean

With Speaker playback and DMIC capture, host capture of feedback needed (to deal with AEC)
With Speaker playback and HS capture, no host capture is needed (since there's no need for AEC)

[2022-07-21 18:04] jthompson05 commented on #3612
@plbossart Awesome. So now I have to wait for the linux kernel 5.20?

[2022-07-21 18:08] plbossart commented on #3612
yes, unless the linux-stable team picks the changes and applies them to older versions (rather unlikely).

[2022-07-21 19:05] jthompson05 commented on #3612
@plbossart Cool, I'll be waiting for 5.20. Do these changes allow the headphone jack to work OOTB?

[2022-07-21 19:42] cujomalainey commented on #3743
@plbossart no I did not make an error, the AEC can still run on second scenario but it runs in cras vs sof

[2022-07-21 20:42] plbossart commented on #3743
oh wow. different instances of AEC depending on the endpoint.

@cujomalainey can this be simplified instead of asking for a really complicated infrastructure change? I don't see how we can deal with 'we need this sometimes but others not really'. Every time we fragment a capability in multiple subcases, we add a risk factor and the implementation complexity increases exponentially. Do few things a

[2022-07-21 21:33] Tonyd4nc3 commented on #3248
Hi I have the same problem on my Huawei D15. There are some news? because I use ubuntu with no sound for 6 monts. I try to contact assistance but they told me that Huawei support only windows.

[2022-07-21 21:39] cujomalainey commented on #3743
@plbossart we actually have 3 AECs in the stack (one is slated for removal once the other two reach the whole fleet)

I agree, but we have a number of issues to resolve this.

1. AEC needs to be in front of any algorithms
2. AEC is expensive both computationally and memory wise
3. AEC needs to be instantiated on all capture paths
4. AEC needs to be able to use all playback paths as a reference if

[2022-07-21 22:01] rhowe opened #3777 "[BUG] No audio on Dell XPS Plus 13 9320"
**Describe the bug**
No audio devices detected on a Dell XPS Plus 13 9320

Linux 5.18.0, Debian unstable.

Tested with both Debian firmware-sof-signed package (2.1.1) and also using the sof 2.2 release installed manually (after removing the firmware-sof-signed package)

**To Reproduce**
Install Debian unstable

Observe no audio devices were detected

**Reproduction Rate**
All the time

**Expected

[2022-07-21 22:15] plbossart commented on #3248
it's so bad we even have documentation of what the issues are

https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

[2022-07-21 22:20] plbossart commented on #3743
point 2. prevents us from instantiating it more than once on NC systems

I don't know what NC means, but having to duplicate AEC on multiple paths is a rather sub-optimal implementation. If that's the issue then it's what needs to be fixed first. We should be able to route capture data to a single AEC module. That's how most phones work :-)

[2022-07-21 22:22] Neo-29 commented on #3248
Even with 5.19.. It doesn't work

[2022-07-21 22:35] Tonyd4nc3 commented on #3248
perfect. so I will continue with bluethoot headphones or speaker for a long time.

[2022-07-21 22:39] plbossart commented on #3777
We added support for this sku 0AF3

[code]
This was added in commit  8f4fa45982b3f2daf5b3626ca0f12bde735f31ff ("ASoC: Intel: sof_sdw: Add support for SKU 0AF3 product") and should be present in 5.18

You probably have an invalid kernel configuration or something.

if you want to debug, add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9163180/sof-dyndbg.conf.txt)
as /e

[2022-07-22 01:20] changedsoul commented on #3772
Here is dmesg and alsa-info
[alsa-info.txt](https://github.com/thesofproject/linux/files/9163718/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/9163722/dmesg.txt)

[2022-07-22 03:17] #3662 closed

[2022-07-22 03:17] cujomalainey commented on #3743
NC -> noise cancelling

The problem with a single AEC is it mixes the capture path which is not what we want, we want the end points to be independent

[2022-07-22 07:02] rhowe commented on #3777
Nothing in the dmesg with debugging enabled looks too alarming except for the final message relating to sof

[code]

[dmesg-2.1.1-debug.txt](https://github.com/thesofproject/linux/files/9165440/dmesg-2.1.1-debug.txt)

[2022-07-22 13:01] heftig commented on #3777
Same issue here, same SKU but on Arch Linux.

I had an aggressive power-saving udev config which set `power/control` to `auto` for almost all PCI devices. After removing this config, `dmesg` still shows registration errors but speakers and microphones work.

[2022-07-22 14:49] andreaconsole opened #3779 "[FEATURE] Support for ES8336 on AMD"
Hi everyone and thak you for your precious efforts.
I understand that it is a general issue with this audio card, but it also seems that ES8336 will be supported sooner on Intel chipsets than on AMD. I open this issue to make sure I get the information as soon as some support to AMD is available (even through a patch).
Regarding my personal situation, I own a Matebook D15 Ryzen 5500U, with Windows

[2022-07-22 14:52] plbossart commented on #3777
@rhowe it seems we have some sort of race condition here, you can see from the logs below that all devices fails to probe, but then are found

[code]

We're completely removed this 'probe not complete' in the last bleeding edge kernel, it was a really bad idea in the first place.

See https://lore.kernel.org/alsa-devel/20220621225641.221170-1-pierre-louis.bossart@linux.intel.com/, the patches will

[2022-07-22 15:03] plbossart commented on #3772
I don't see any error in the kernel logs @changedsoul. The card is created alright and the following devices are exposed.

[code]
I do see timeouts in the logs, but the kernel seems to be able to recover and create the cards.

It seems likely that this is the same issue as #3777, some sort of delay/race condition on startup that impacts the results.

You may want to try the solutions I recommended

[2022-07-22 15:07] plbossart commented on #3743
we're quickly going to run out of resources (memory, MCPS) and engineering time to deal with all this....

[2022-07-22 16:27] ranj063 commented on #3743
@plbossart @cujomalainey Can I ask for a clarification here going back to the original ask for fixing the power consumption issue? Are we talking about having AEC in the DSP even on the IV feedbackpath for the smartamp implementation as well? And is that AEC going to be done in the DSP or do we want that done in the userspace?

[2022-07-22 18:00] changedsoul commented on #3772
Thanks, I compiled with the time out setting altered for a longer period and I now have sound. Now I just need to wait for a few weeks for the patch to roll into my distro kernel.

Thanks for all the help. It was a fun experience compiling the kernel.

[2022-07-22 19:42] plbossart commented on #3772
Thanks for testing @changedsoul, glad we managed to fix your issues.

If you have time, would you mind checking that our latest development kernel works on your platform? This would only add a new grub2 boot option on your device, you would keep what you have.

the code is on GitHub here:
https://github.com/thesofproject/linux.git

You can also get the zip file if you don't want to muck with git.

[2022-07-22 22:15] rhowe commented on #3777
It's about 20 years since I built a custom kernel, this should be fun

[2022-07-23 00:43] changedsoul commented on #3772
Would be glad to, Ill report back the results

[2022-07-23 02:45] juanpc2018 opened #3780 "¿isn't better to create a kernel module instead of a complete kernel?"
https://github.com/geoffreybennett/alsa-scarlett-gui/issues/31

[2022-07-23 02:46] juanpc2018 opened #3781 "Focusrite Clarett 8pre USB vs. Scarlett 18i20mk3 vs. Clarett+"
ID are different, serials,
But in theory Scarlett mk3 should work to control Clarett USB
digital control hardware is technically the same...
hardware features the same...
win/mac control software the same...

the only change is analog circuit, audio capacitors, op-amps, external case,
maybe power supply..

Clarett+ 8pre USB similar change...
Not digital control, only Analog circuit, latest DACs, e

[2022-07-23 02:47] juanpc2018 opened #3782 "scarlett.conf does Not allow multiple interfaces simultaneously"
https://github.com/geoffreybennett/alsa-scarlett-gui/issues/30
&
https://github.com/geoffreybennett/alsa-scarlett-gui/issues/28

[2022-07-23 12:34] heftig commented on #3777
I was mistaken about the trigger, as the issue reappeared on my next boot and then disappeared again a few reboots after I restored the config.

I tried applying these patches to v5.18.13, but ran into an error:

[code]

I'll try this now. I'll report back if I get another boot with missing audio (and udev stuck, which seems to coincide).

[2022-07-23 12:57] changedsoul commented on #3772
Yes, my sound worked with your dev kernel without patching anything.

[2022-07-23 18:19] RezinoviyDed commented on #3210
@tomty89 Did you manage to solve the problem with the sound on GT Book i1405?

[2022-07-23 20:01] rhowe commented on #3777
I just came to post about that build failure - I just deleted that line in the assumption that whatever rt715 is, I don't need it.

However, I'm currently fighting Debian's undocumented process for building a signed kernel package so whilst I have a build, I haven't been able to try it out yet.

[2022-07-23 23:34] madsl commented on #3777
I just went straight for the sof-dev kernel from here, and that worked the first time I tried on my XPS 9320 some weeks ago. But, even with a kernel updated and built today, if I play anything on my speakers, the sound output will stop after one minute of playback (the media player is also unable to continue playing, the whole stream stops). And I can't get it back without rebooting. It's only whe

[2022-07-24 22:14] kyconny commented on #3248
Just bought a Huawei MateBook K14 (21), board id KLVD-WXX9-PCB-B4
Spent some time attempting to get this to work on latest RC linux
Fresh install and I have sound! Though unfortunately it appears to be coming out of both the speakers, and the headphone jack at the same time. The speaker is marked as (unavailable) in pulse, and alsamixer doesn't let me adjust its volume. Funnily enough I have two d

[2022-07-25 05:21] libinyang commented on #3766
The value 124 is from Realtek. @jack-cy-yu Could you please help check whether the value is correct or not.

But I'm afraid this bug is not the UCM issue. Our PA is disabled in CI DUT. This means UCM will never be involved in this case. I'm afraid this bug may be in the driver, such as the power sequence? @jack-cy-yu What do you think?
Please notice the volume is changing like below when resuming

[2022-07-25 05:59] aiChaoSONG commented on #3684
# Widget Queue ID Support
## Background
An IPC4 SOF/Closed-Source-cAVS widget may have one of below source/sink pin configurations:
1. One source pin, one sink pin (example: GAIN/PGA/PEAKVOL)
2. One source pin, multiple sink pins (example: COPIER/DEMUX/MIXIN)
3. Multiple source pins, one sink pin (example: MUX/MIXOUT/AEC/SMART_AMP)
4. Multiple source pins, multiple sink pins (rare, but let's not d

[2022-07-25 06:20] jack-cy-yu commented on #3766
@libinyang Is that really the value I gave you? I just check my latest test script, and my volume control is set to 100, but 47 is more reasonable which maps to 0dB in the initial setting. And for the MAX volume issue, I have no idea why the volume reaches MAX if the volume control is a constant gain.

[2022-07-25 08:39] gbuloz commented on #2990
@bardliao  : here is the command output :
[code]
@oder-chiou : I've used some "amixer -c sofehlrt5660 cset ...' commands to set the volume for "'DAC1 Playback Volume" and "'OUT Playback Volume" and have also tried some commands as described in the file ucm2/Intel/kblrt5660/HiFi.conf but I have still nothing out from line out.

I use Fedora 36 with latest updates and found I already have some confi

[2022-07-25 09:06] libinyang commented on #3766
@jack-cy-yu Not sure who gives me the value. Thanks for confirm. I think we can have a try to set it to 47. The volume becomes max when it resumes from pause. And we don't enable pulseaudio, so I don't think the UCM takes effects in this case. Do you know whether driver will automatically change the setting when resuming from pause? Can we add some debug code to check whether the related register

[2022-07-25 09:44] jack-cy-yu commented on #3766
@libinyang The corresponding register for 'rt714 FU02 Capture Volume' is 0x40800111, you can check if the value remains unchanged during pause to resume.

[2022-07-25 09:53] paulstelian97 commented on #3780
Closing as apparent spam. If other maintainers disagree they can reopen it for me.

[2022-07-25 09:53] #3780 closed

[2022-07-25 09:53] paulstelian97 commented on #3782
Closing as apparent spam.

[2022-07-25 09:53] #3782 closed

[2022-07-25 10:13] tomty89 commented on #3210
Nope:
[code]
I've been too lazy to properly report the issue. (Well I've wondering if the `ssp1` topology files just for some reason aren't ready yet.) I'll probably wait until kernel 5.19.x becomes available (on Arch). (The thing is, I don't exactly "need" the builtin audio to work. It would be a plus but I don't exactly care a lot.)

[2022-07-25 10:25] bardliao commented on #2990
@gbuloz Could you share the output of 'amixer -c sofehlrt5660 contents' command?

[2022-07-25 12:20] madsl commented on #3777
It seems to be because of running powertop --auto-tune. If I don't do that during boot, it stays on.

Shouldn't that work..?

(The sound still works if I make powertop _not_ enable Runtime PM on" PCI Device Intel Corporation Alder Lake PCH eSPI Controller" (/sys/bus/pci/devices/0000:00:1f.0/power/control))

[2022-07-25 12:40] gbuloz commented on #2990
@bardliao : Thanks. See attachment :
[amixer-c-sofehlrt5660.log](https://github.com/thesofproject/linux/files/9181222/amixer-c-sofehlrt5660.log)
{Edit] : Oops I forgot "contents". Please see
[amixer-c-sofehlrt5660-contents.log](https://github.com/thesofproject/linux/files/9183277/amixer-c-sofehlrt5660-contents.log)

[2022-07-25 16:04] plbossart commented on #3772
ok, will submit this upstream then. Thanks @changedsoul for your help, much appreciated.

[2022-07-25 16:54] plbossart commented on #3684
so what happens if you have e.g. 4 pins and only pin0 and pin3 are connected. Does this mean that pin1 and pin2 need to be represented as not connected?

Also what happens for e.g. a mixer, are we required to assign pins manually in this way or can we let the kernel use pins dynamically?

And last, what happens in the case of the smartamp where one pin is dedicated to IV feedback and the other isn

[2022-07-25 16:55] plbossart commented on #3781
@juanpc2018 the SOF driver doesn't deal with USB, you want to file a bug on the kernel bugzilla.

https://bugzilla.kernel.org/

[2022-07-25 16:55] #3781 closed

[2022-07-25 17:16] plbossart commented on #3777
Sorry, you also need the patch 5118da41c759 ("ASoC: codecs: rt715-sdca: remove useless assignment of ops")

[2022-07-25 17:19] plbossart opened #3783 "SoundWire: Dell XPS9320 - IPC timeout - playback stops."
Forking new issue from comment https://github.com/thesofproject/linux/issues/3777#issuecomment-1193978089 reported by @madsl

f I play anything on my speakers, the sound output will stop after one minute of playback (the media player is also unable to continue playing, the whole stream stops). And I can't get it back without rebooting. It's only when it's speakers, the DisplayPort output ports wor

[2022-07-25 17:19] plbossart commented on #3777
Separate issue @madsl, let's track this problem in https://github.com/thesofproject/linux/issues/3783

[2022-07-25 17:47] fredoh9 opened #3784 "MTL has a kernel RIP on build_sched_domains"
Will track this issue internally.

[2022-07-25 21:07] plbossart commented on #3783
@madsl I havent' worked with powertop since the early 2010s, and I can't find a way to run this

[code]

Can you tell us more about your configuration, add the powertop logs and if possible add dynamic debug by adding this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/9184752/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf (reboot needed).

Thanks!

[2022-07-25 21:08] plbossart commented on #3783
@madsl there's also no link that I am aware of between PCI device 1f.0 (eSPI) and the 1f.3 (audio)

[2022-07-25 21:23] madsl commented on #3783
I'll attach the commands that powertop --auto-tune runs on my machine, you can export it to a bash script with the help of this: https://github.com/jlmcgraw/apply_powertop_recommended_settings

I've commented out line 25 (as it is run on my 9320). If you uncomment that one and run the script, I think you'll be able to recreate the issue.

[code]

[2022-07-25 21:34] plbossart commented on #3783
How do you generate sound @madsl, i.e. do you see any problems with

[code]

That should play noise on your speakers on a SoundWire-based device.

I have a TGL-based platform with those codecs and I see no issue.

[2022-07-25 21:37] madsl commented on #3783
You did remember to uncomment that line before testing?

I've tested with audacious with pulseaudio set as output, and with chromium / firefox.

[2022-07-25 21:46] madsl commented on #3783
I can't replicate it with speaker-test, no....

I'm using pipewire 0.3.56 with default options, and audacious with pulseaudio output as mentioned.

[2022-07-25 21:50] madsl commented on #3783
Maybe you're onto something, that it doesn't have anything to do with powertop. I might just have had bad luck in triggering it when I tested it out and created some false positives.

How can we debug this further?

[2022-07-25 21:50] plbossart commented on #3783
[code]
.... works forever.

same with aplay.

I really don't see how this could impact pipewire.

[2022-07-25 21:57] plbossart commented on #3783
@madsl I think it's best if you retry with dynamic debug enabled and see if there's anything in the dmesg log that would cause the stream to stop.

[2022-07-25 22:01] #3772 closed

[2022-07-25 22:03] plbossart commented on #3777
it's like riding a bike, when you screw up it hurts just the same after 20 years.

[2022-07-25 22:08] madsl commented on #3783
I sat PIPEWIRE_DEBUG=5 in the service, and retried:

[code]
Those early wakeup-lines just kept repeating, and it was when the first line came the sound stopped.

[2022-07-25 22:16] madsl commented on #3777
Just to update this thread, I think the link to powertop here was a false positive. Testing in issue #3783 as we speak, and I can reproduce it both with or without powertop.

[2022-07-25 22:18] madsl commented on #3783
dmesg:
[code]

[2022-07-25 22:21] plbossart commented on #3766
That is partly incorrect @libinyang. with the changes to alsactl, the boot values specified in UCM files are used, even if PulseAudio is disabled.

I just tried on my SKU0A32 and changing the value of rt714 FU02 Capture Volume doesn't seem to have any effect. I can only capture noise, not the sound of my voice. Something's gone really sideways, this used to work IIRC. @jack-cy-yu do you have such

[2022-07-25 22:32] plbossart commented on #3751
@NeveHanter I believe the root cause for this issue is the same as in https://github.com/thesofproject/linux/issues/3777, so I am leaning to mark this issue as duplicate and close it.

Please see the recommendations in https://github.com/thesofproject/linux/issues/3777#issuecomment-1192655300

[2022-07-25 22:32] #3751 closed

[2022-07-25 22:33] plbossart commented on #3777
@heftig that seems similar to what @madsl was suggesting, any chance you could find the configuration that didn't work for you?

Edit: although there's no physical link between all these PCI devices, it's possible that by enabling pm_runtime for one device (eSPI?), we end-up changing the timing for the probe of the audio devices.

[2022-07-25 22:43] plbossart commented on #3783
oh, that's pretty scary @madsl, I've not seen this one before. Indeed if we have an IPC error it's game over usually.

Can you attach the full dmesg log (not paste) so that we can figure out when this happens?

Also we need to confirm which kernel you are using (we can figure out the firmware from the dmesg log).

[2022-07-25 22:56] madsl commented on #3783
1) booted
2) Started audacious, playing song.
3) Stream stops between 1 and 2 minutes played. Nothing in dmesg yet.
4) I try systemctl --user restart pipewire
Then all those errors pops up in dmesg.

Attached are the dmesg:
[dmesg_tgl_ipc.log](https://github.com/thesofproject/linux/files/9185257/dmesg_tgl_ipc.log)

[2022-07-25 23:00] plbossart commented on #3783
did you edit the log @madsl? There's a significant gap

[code]

makes it hard to see what happened when you start playing in step2) above.

[2022-07-25 23:14] madsl commented on #3783
No, I did not edit it. It was the time it took before I ran systemctl --user restart pipewire. I checked many times before to be sure. It's the restart step that makes the kernel spew out all those lines, nothing happened before it (in dmesg).

[2022-07-25 23:16] madsl commented on #3783
I had to trigger the stream stopping first with audacious, so it takes a little while. The stream stopping makes no output in dmesg.

[2022-07-25 23:48] plbossart commented on #3783
@madsl Did you enable dynamic debug with the step in https://github.com/thesofproject/linux/issues/3783#issuecomment-1194630673? There should be all kinds of logs related to topology parsing and stream trigger.

The platform must be in some sort of zombie state before pipewire is restarted.

[2022-07-25 23:52] plbossart commented on #1032
done with sof-client.

[2022-07-25 23:52] #1032 closed

[2022-07-25 23:54] plbossart commented on #747
I am going to close this since we have no plans to work on this anytime soon. It's hard enough with a single topology :-)

[2022-07-25 23:54] #747 closed

[2022-07-25 23:55] plbossart commented on #1023
There's no real plans to push this further, closing.

[2022-07-25 23:55] #1023 closed

[2022-07-25 23:56] #1231 closed

[2022-07-25 23:57] #887 closed

[2022-07-25 23:58] plbossart commented on #2211
this ask never went anywhere. closing.

[2022-07-25 23:58] #2211 closed

[2022-07-25 23:59] plbossart commented on #2528
closing since we have no plans to deliver anything here. If relevant please re-open as needed

[2022-07-25 23:59] #2528 closed

[2022-07-26 00:51] keqiaozhang commented on #3638
Observed this issue again:http://sof-ci.sh.intel.com/#/result/planresultdetail/14218?model=ADLP_BRYA_SDW&testcase=check-suspend-resume-50

[2022-07-26 01:02] libinyang commented on #3766
Got it, thanks @jack-cy-yu

[2022-07-26 02:30] jack-cy-yu commented on #3766
@plbossart I don't have the device on my side, but I have the amixer test script and asound.state files, these are the files I got from the working device before. Please see the attachment
[rt714-sdca.zip](https://github.com/thesofproject/linux/files/9186073/rt714-sdca.zip)
.

[2022-07-26 05:50] bardliao commented on #2990
@oder-chiou Is 'OUT Playback Switch' needed? @gbuloz Could you try
`amixer -c sofehlrt5660 cset name='OUT Playback Switch'  1`?

[2022-07-26 05:57] oder-chiou commented on #2990
@bardliao Yes, it is needed.

[2022-07-26 07:53] aiChaoSONG commented on #3684
@plbossart I now updated the whole documentation for the queue support, hope it helps everyone to understand the issue and how we fix it, of course helps the reviewer to better review the code. still in the previous comment:
https://github.com/thesofproject/linux/issues/3684#issuecomment-1193614746

[2022-07-26 08:47] madsl commented on #3783
Ah, sorry, I didn't catch that comment!

I redid the audacious -> restart pulseaudio test now (went a bit faster this time):
[dmesg_tgl_ipc_dbg.log](https://github.com/thesofproject/linux/files/9188177/dmesg_tgl_ipc_dbg.log)

[2022-07-26 09:28] #2716 closed

[2022-07-26 10:33] libinyang commented on #3777
I have one tributo and I tested 5.18.0-2 kernel. Playback works well although there are some error logs.
BTW: I didn't use the sof-bin-v2.2 FW as my tributo uses different keys. Instead, I used the latest SOF FW.
The kernel is downloaded from: https://packages.debian.org/bookworm/linux-image-5.18.0-2-amd64

Please see the attachment for details.
[alsa-info.txt](https://github.com/thesofproject/lin

[2022-07-26 10:45] libinyang commented on #3777
And I tried the latest sof-dev kernel, there is no "Probe not complete, timed out" message. playback works well.
Please see the attachment for dmesg and other logs.

[alsa-info.5.19.0-rc2.txt](https://github.com/thesofproject/linux/files/9189131/alsa-info.5.19.0-rc2.txt)

[2022-07-26 14:22] dezo4 commented on #3447
Hi,
I have exactly the same machine, but running a newer kernel 5.19.0-rc6-amd64 with firmware firmware-sof-signed 2.1.1-1.
I have absolutely no sound at all.
My alsainfo is http://alsa-project.org/db/?f=07e366a015bc61623916da57a19743aaf07e018c

I'm not sure which sof modules version is in this kernel:

[code]

Should I tune something in BIOS? Or anything else?

[2022-07-26 15:02] plbossart commented on #3638
Ah, that's super interesting. Now that we added the PING status, we can check what the real status is.

[code]

This means bits 8 and 12 are set. That means Slave4 and Slave6 are attached.

This suggests that the device reports as UNATTACHED but does not transition to the soft reset stage, and keeps reporting as ATTACHED with the original device number. In other words, either
- the detection of th

[2022-07-26 15:14] plbossart commented on #3777
@libinyang thanks for testing. In the case of the 5.18 kernel, I wouldn't characterize the results as "Playback works well although there are some error logs." The SoundWire bus is not functional at all, and there are timeouts left and right. This is really bad. Can we check if this happens with the Dell OEM image provided by Canonical.

I am glad the changes made for 5.20 help, but we will need t

[2022-07-26 15:31] plbossart commented on #3766
Thanks @jack-cy-yu. the gain of 100 is way too much in my tests. Using 47 (0dB) is good enough IMHO, I am going to send a patch to alsa-ucm-conf.

[2022-07-26 15:47] plbossart commented on #3783
@madsl now I don't see any issues with the last results? Is this a Heisenbug where adding dynamic debug makes things work ok?

[2022-07-26 15:54] gbuloz commented on #2990
**@all** : thanks ! I've be able to get something out of Lineout. I've compiled all your commands above into a single script amixer_cmds.sh (see
[amixer_cmds.zip](https://github.com/thesofproject/linux/files/9191368/amixer_cmds.zip)
) and had the speaker test OK !
I've also tried some commands in the files under /usr/share/alsa/ucm2/Intel/sof-ehl-rt5660/ to enable/disable lineout and that works.
T

[2022-07-26 16:01] madsl commented on #3783
Well, the stream still stops though...

[2022-07-26 16:17] plbossart commented on #3783
it's really hard to figure out what goes on. Initially it seems PulseAudio opens/closes the devices multiple times to figure out the capabilities. Then around 79s there's again a set of open/close.

Can you try to wait a bit and make the transitions longer before starting your playback, and re-initializing PulseAudio?

[2022-07-26 19:10] madsl commented on #3783
I managed to get an error with dyndbg.

1. boot
2. systemctl --user restart pipewire-pulse pipewire wireplumber
3. play song in audacious
4. stream stops
5. systemctl --user restart pipewire-pulse pipewire wireplumber
6. dmesg fills up with error

[dmesg_tgl_ipc_dbg_2.log](https://github.com/thesofproject/linux/files/9192672/dmesg_tgl_ipc_dbg_2.log)

[2022-07-26 19:16] madsl commented on #3783
I also went back to vanilla "powertop --auto-tune" during boot since it didn't seem to make a difference in the end.

[2022-07-26 20:31] plbossart commented on #3783
ok, so I would guess this segment is where the stream stops, after about 60s of playback. Can you confirm that the song is longer? It's possible that there's an xrun that isn't well handled.

[code]

I can't figure out what happens after that, you would want a LOONNNGGG pause between step 4 and step 5 to allow us to check what happens.

[2022-07-26 20:37] plbossart commented on #3783
Another point @madsl is that you are using the firmware 2.1

[code]

it would be interesting if you could try with the latest 2.2 release

[code]

reboot and retest. Thanks.

[2022-07-26 22:55] cujomalainey commented on #3743
@plbossart agreed, hence why we ask for more RAM

@ranj063 ideally the option for AP or DSP for AEC. It would be good if we can dynamically switch it.

[2022-07-27 00:18] fredoh9 commented on #3766
I tested with 47 in relatively silent office in normal distance for laptop user. The captured waveform is nice and good.
Definitely 124 is MAX it cause just 100% saturation. Even with 100, it is way higher than it is required

[2022-07-27 00:32] ricardon commented on #3784
This seems to be an issue on how the topology of the system is being reported to the scheduler.  Our initial suspects were cluster scheduling (CONFIG_SCHED_CLUSTER) and the missing hybrid feature bit (X86_FEATURE_HYBRID_CPU) in CPUD.

The backtrace indicates that x86_cluster_flags() may have been called, indicating that CONFIG_SCHED_CLUSTER is selected in the kernel configuration. There is a runti

[2022-07-27 01:35] oder-chiou commented on #2990
Hi,

Add the following dapm routing to the machine driver for using the MICBIAS1.

	{"IN2P", NULL, "MICBIAS1"},

Following commands are the recording mixer controls.
[code]

[2022-07-27 03:20] libinyang commented on #3777
@plbossart Sure. I will test Dell OEM image. On 5.18 kernel, I can hear the sound when playback and aplay seems to work properly.

[2022-07-27 03:32] bardliao commented on #3777
@plbossart @libinyang I checked the dmesg and it seems the main issue is that codecs are probed AFTER machine driver is created.

[2022-07-27 06:01] #3784 closed

[2022-07-27 08:13] bardliao commented on #3638
@plbossart
[code]
`sdw_handle_slave_status` checks `status[i]` right after programming device number. Is it possible that HW need some time to update the slave status from unattached to attached? That's why the `status[]` we read doesn't match the slave->status. I am wondering what is the ping status at that moment. Can we read the status after programing device number to make sure the slave is re

[2022-07-27 08:59] RanderWang commented on #3684
MIXOUT should cooperate with MIXIN and it can't be connected to copier directly

[2022-07-27 09:00] madsl commented on #3783
It took a bit longer with 2.2 firmware before the bug triggered, I think the song got to about 3:45 before it happened. It seems kinda random though. Restarted services both before and after this time too.
[dmesg_tgl_ipc_dbg_3.log](https://github.com/thesofproject/linux/files/9196730/dmesg_tgl_ipc_dbg_3.log)

[2022-07-27 09:06] madsl commented on #3783
It did not trigger the IPC bug it seems? And I'm able to bring the audio to life again by restarting the services. I'll try again without debug enabled.

[2022-07-27 09:12] madsl commented on #3783
Hm no dice. No debug. For this test I just booted and started audacious right away. Stream stops after 59 seconds, I do restart of those three services, and then IPC bug hits dmesg. I'll try again and see if I can trigger IPC bug with debug.
[dmesg_tgl_ipc_3.log](https://github.com/thesofproject/linux/files/9196823/dmesg_tgl_ipc_3.log)

[2022-07-27 09:23] madsl commented on #3783
1. boot (with debug)
2. systemctl --user restart pipewire-pulse pipewire wireplumber
3. play song in audacious
4. stream stops (about 45 seconds this time)
5. systemctl --user restart pipewire-pulse pipewire wireplumber
6. restart audacious and play song, it works
7. stream stops
8. repeat cycle two or three more times
9. finally the IPC bug triggers and I can't get sound back

the dmesg log is so

[2022-07-27 13:40] plbossart commented on #3777
Right, this is exactly why I fixed the SoundWire probe. When I did my experiments, I 'blacklisted' the codec drivers, and then did a modprobe by hand on the terminal. That would give me a -EPROBE_DEFER (-517) error everytime except for the last driver where the machine driver finally had all the resources available.

Before I did the changes, we would get a probe timed-out and it was game over.

[2022-07-27 13:44] plbossart commented on #3638
@bardliao sdw_handle_slave_status() is called when there is an interrupt signalling a change of status, which is detected when the PING frame status. If the device didn't update its PING frame status there would be no interrupt and no status handling.

That said, we could add a check that the device is indeed attach. In other words both for attach and detach events we would check the PING frame st

[2022-07-27 16:55] plbossart commented on #3783
@madsl would this transition be where playback stops?

[code]

it's really hard to follow, since there's immediately a bunch of open/close. Or is this a case where the playback stops 'silently' or someone gets muted. From the ALSA perspective the stream is still playing, as measured by the 'stop' happening at 120s, which could be a result of your restarting the service.

That would be a new one

[2022-07-27 17:04] madsl commented on #3783
Here's a debug dmesg of boot and then starting audacious (with no restarting of services before or after). The stream stopped after 2:29 played this time.
[dmesg_tgl_ipc_dgb_5.log](https://github.com/thesofproject/linux/files/9201227/dmesg_tgl_ipc_dgb_5.log)

[2022-07-27 17:09] gbuloz commented on #2990
@oder-chiou : Thanks for the commands, but I still have only blank recorded from linein or mic (without bias), but I'm not sure if I use the right arecord arguments. I use -c4 because the command reports an error if I'm using 1 or 2. A dump of the recorded .wav data show it is constant (repeats every 16 bytes = 4 channels x  S32_LE)
See my test scripts in
[linemic.zip](https://github.com/thesofpro

[2022-07-27 17:18] madsl commented on #3783
Not easy this. As you can see at that log, nothing is happening at that timestamp in dmesg. I just did an experiment now with having dmesg -w in a window while playing, and nothing happens in dmesg when the stream stops. The only output I can get that shows something erroneous happening, is pipewire's log, with endless repeating of "pipewire[1000]: spa.alsa: 0x5635b24e2ab8: early wakeup 4640 2048"

[2022-07-27 17:26] plbossart commented on #3783
Right, that points to some sort of streaming/DMA issue. The driver doesn't catch the error and somehow believes things are just fine.

The good thing is that we don't have an issue with low-level speaker-test utilities.

One possibility would be to disable the timer-based scheduling in pipewire. In the PulseAudio days, we used to have an option tsched=0, presumably the same option exists?

If not,

[2022-07-27 18:52] madsl commented on #3783
I did your kernel patch, but unfortunately it seems like the same issue is popping up. It stopped 4:25 in now.

[2022-07-27 19:16] plbossart commented on #3783
I re-installed a complete Fedora36 distro with PipeWire+audacious and it's been playing for 10mn alright. It's a similar setup with two RT1316 amplifiers and it's the same firmware on TGL and ADL.

Wondering if you could try with Fedora on a USB key to check if this problem also happens there?

Thanks!

[2022-07-27 20:27] madsl commented on #3783
Sure thing! You did a complete install, or did you test from USB? I'll try with Fedora-Workstation-Live-x86_64-36-1.5.iso

[2022-07-27 20:52] madsl commented on #3783
Seems like you're right, it works there. I'll try going to an upstream kernel again and see if things get better on my local install.

[2022-07-27 21:10] madsl commented on #3783
Hm, no dice. Tried with 5.18.14, same config as the sof-kernel, still happens. Guess I'll try to match firmware and pipewire version too then.

[2022-07-27 22:45] madsl commented on #3783
Now I've tried same sof-firmware (2.0), same pipewire (0.3.49), and same alsa-ucm (1.2.6.1) as the Fedora live USB, but it still happened on my install. Then I started thinking - I still have that powertop --auto-tune thing during boot, and that's soon the only difference between the systems...

And lo and behold, if I disable powertop --auto-tune completely during boot, I don't get stream stops a

[2022-07-28 07:38] bardliao commented on #3638
The interrupt could be triggered by max98373 sdw:2:019f:8373:00:3 (Slave 6), right?
The scenario could be:
1. max98373 sdw:2:019f:8373:00:7 (Slave 4) and sdw:2:019f:8373:00:3 (Slave 6) are attached at the same time
2. `sdw_handle_slave_status` is called for Slave 4 first, program the device number and set Slave->status etc.
3. `sdw_handle_slave_status` is called for Slave 6 and check status for al

[2022-07-28 13:55] andreaconsole commented on #3249
I have no competence in writing drivers, but I own an AMD Ryzen 5 with es8336, Kubuntu and Windows 11 in dual boot. If anyone wants to try to develop the codec driver from scratch, I am available to contribute with tests and other activities, e.g. aimed at reverse engineering the Windows driver.

[2022-07-28 14:26] plbossart commented on #3783
powertop should give you a list of options that were set as 'GOOD'. is there a way you can capture them and share?

I also wonder if there's a way to do some sort of dichotomy with all the options, i.e. start from an all BAD set of configurations, and gradually change some options to GOOD until you reach the problem with the stream stopping.

We don't have any hooks that I am aware of to tune the

[2022-07-28 14:37] dezo4 commented on #3447
Tunable BIOS stuff:
![20220728_161739](https://user-images.githubusercontent.com/110043557/181556356-e91178fa-e174-4ac3-84fa-011537f9ad24.jpg)
![20220728_161758](https://user-images.githubusercontent.com/110043557/181556420-718c74f5-389d-4983-8e6a-21a92df3c15b.jpg)
![20220728_161815](https://user-images.githubusercontent.com/110043557/181556444-9e778210-deeb-40c5-8cd3-97a33fb2323b.jpg)

[2022-07-28 21:02] plbossart commented on #3783
@madsl this is what I had in mind, the powertop 'Tunables' tab should show what's enabled. I changed all the 'bad' to 'good' and I don't see any effect on my system. If you can give it a try that would check what the auto-tune option is trying to do.

![Screenshot from 2022-07-28 16-57-48](https://user-images.githubusercontent.com/1149035/181636891-d7cc345d-9b51-46be-900c-7a2d6a787eb5.png)

[2022-07-29 01:15] libinyang commented on #3777
I downloaded OEM image. But I didn't know the built-in passwd and I need passwd to change my fw with debug key. So the progress is pending. Hui from Canonical is helping on this. I will update the status as soon as I get the passwd.

[2022-07-29 10:49] libinyang commented on #3777
Tested on Ubuntu OEM focal image, audio works well and no error messages.

[2022-07-29 17:29] vaurat commented on #3779
:+1: I'm waiting support since 22.04 for my _Honor Magicbook 14_ AKA _Huawei Matebook D14_ bought in oct. 2020.

[2022-07-31 06:36] callegar commented on #2955
@plbossart

I have now a chance to recheck with the tiny laptop. You are right, I might have used different tools reporting things differently and got confused.

In any case I still do not have audio with this box using the latest 5.19RC (from arch linux) with up to date firmware files. Latest news are:
- When I boot, I hear a distinguishable "click" from the speakers.
- Trying to test audio produ

[2022-07-31 07:29] gimait commented on #3729
Hi @plbossart and @shumingfan,
Do you have any updates on this issue or is there something I can do to move it forward?
Thank you for your help!

[2022-07-31 08:55] mengdonglin commented on #3325
https://github.com/thesofproject/linux/pull/3786 by @plbossart is to fix this issue.

[2022-07-31 09:25] ejmarkow commented on #3336
My recently purchased Minisforum N40 mini-pc uses GeminiLake with ES8336. There is NO SOUND, but i can hear some random, spontaneous click sounds (a click every once in a while) via my speakers upon card initialization. The pc contains only one connector jack for headphone / headset / microphone / speakers.

I'm on  Linux Debian Sid and compile my own custom kernel, using the latest:

$ uname -a
L

[2022-08-01 02:14] keqiaozhang commented on #3766
CI detected this issue on TGLU_SKU0A3E_SDW. I think this is because @fredoh9  replaced the NVME to solve the https://github.com/intel-innersource/drivers.audio.ci.sof-framework/issues/233 and installed Ubuntu22.04 LTS on jf-tglu-sku0a3e-sdw-01, therefore, some default amixer values may be changed after this.
I changed the `rt711 ADC 09 Capture Volume` to 14 and issue can not be reproduced anymore.

[2022-08-01 15:36] plbossart commented on #3766
@keqiaozhang You should not manually change anything. Run 'alsactrl init', reboot and see if the problem still exists with default settings. If we still have an issue, report it with a different issue and we change the settings. We should not fix things quickly without a trace of what the issue was.

[2022-08-01 15:50] plbossart commented on #3336
@ejmarkow Thanks for the report. You want to take a look at the latest documentation where I explained which quirks can be used. https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

The difference in HID is handled by the kernel with this piece of code

[code]

I would recommend you use our development kernel on topic/sof-dev, or Mark Brown's for-next

[2022-08-01 16:02] plbossart commented on #3336
@ejmarkow use this file, forgot to include es8336.
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/9235368/sof-dyndbg.conf.txt)

[2022-08-01 16:26] ejmarkow commented on #3336
Thank you for your assistance @plbossart!

After I posted yesterday, I immediately went to Linux-Next to see if any patches were there that didn't make it into 5.19 and saw these (5) for **sof_es8336.c**:

ASoC: Intel: sof_es8336: remove hard-coded SSP selection ( commit 2491366 )
ASoC: Intel: sof_es8336: reset the num_links during probe ( commit fae93e3 )
ASoC: Intel: sof_es8336: add support for

[2022-08-01 16:43] plbossart commented on #3336
Thank you @ejmarkow, you're the ideal tester for us. I don't have any hardware so can only help by pointing to the documentation or possible issues.

[2022-08-01 19:41] plbossart commented on #3766
In addition to my previous remark, the TGLU_SKU0A3E_SDW device has nothing to do with TGLU_SKU0A32_SDCA @keqiaozhang. Let's track issues separately please.

[2022-08-01 22:10] laricko commented on #3249
is it possible that it is fixed in 5.19?

[2022-08-01 23:17] ejmarkow commented on #3336
@plbossart, I now have the latest final 5.19 Linux Kernel compiled with Dynamic Debug enabled. Your /etc/modprobe.d parameters are included in the output.

The 5.19 final kernel is "as is", without any additional Linux-Next patches applied or module parameters (except for debug) passed.

- es8336 is recognized & detected
- NO SOUND from speakers except for random "clicks" every once in a while

$

[2022-08-02 07:46] dantefff commented on #3249
As far as I know there is no development in AMD platform for this issue.

[2022-08-02 08:05] andreaconsole commented on #3249
Thus - correct me if I am wrong - there will be no fix until AMD provides the driver? Should we perhaps try to contact the Linux team at AMD to inform them of the issue? Does anyone know the right POC for this topic?

[2022-08-02 12:20] superm1 commented on #3249
Please see comment from [above](https://github.com/thesofproject/linux/issues/3249#issuecomment-997002736).

[2022-08-02 13:51] ejmarkow commented on #3336
@plbossart: Applied the first 3 commits / patches in sequential order, cumulative, and it is the **3rd commit** (one or more of the several patches within it) which breaks / disables the sound card, not to be found.

Hence, I did not bother proceeding with the other two commits, unless you wish to see output from them.

Summary:

1 ) commit 5e60f1c - ASoC: Intel: sof_es8336: Fix GPIO quirks set vi

[2022-08-02 14:08] andreaconsole commented on #3249
Unfortunately, the official answer of Huawei is still (as of today)  "we do not support the installation of Linux on laptops sold with Windows", meaning that they have no interest in contacting AMD/ES to find a solution. I sent a request for support to AMD and Everest Semiconductor, too (and I guess I am not the first), but I don't expect a better outcome.

[2022-08-02 14:37] plbossart commented on #3336
Thanks @ejmarkow, the only thing that comes to my mind is the quirk change added in the 3rd patch

[code]

can you try to comment out those two lines and see what happens?

[2022-08-02 14:41] ejmarkow commented on #3336
@plbossart, Yes, will do it now and post the result very soon.

[2022-08-02 15:03] andreaconsole commented on #3779
UPDATE: as of today, the official answer of Huawei is still "we do not support the installation of Linux on laptops sold with Windows", meaning that they have no interest in contacting AMD/ES to find a solution. I sent a request for support to AMD and Everest Semiconductor, too (and I guess I am not the first), but I don't expect a better outcome.

[2022-08-02 15:21] ejmarkow commented on #3336
Applied & recompiled the kernel, but it didn't help. Soundcard es8336 still not showing up.

Regarding the **sof-apl-es8336-ssp5.tplg** file, I saw that post several days ago, downloaded & extracted it into the following directory on my system:

[code]
Is that directory correct, or should it be /lib/firmware/intel ?

It looks good, because it is soft-linked:
lrwxrwxrwx  1 root root      15 Apr 25

[2022-08-02 15:45] plbossart commented on #3336
I don't know what happens @ejmarkow, I would add dev_info messages in sof_es8336 and see what goes wrong.

Regarding the location, it has to land in /lib/firmware/intel/sof-tplg. the kernel doesn't know anything about local symlinks.

[2022-08-02 17:55] ejmarkow commented on #3336
IMO, at this point in time, the author of Linux Kernel [Commit](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/sound/soc/intel/boards/sof_es8336.c?h=next-20220728&id=86b1959a2ccb1cd3c91f99a6ad06dcd0940a2058)`86b1959 "ASoC: Intel: sof_es8336: add support for HDMI_In capture"` must review the code, and either adjust it or reverse the commit.

[2022-08-02 18:13] plbossart commented on #3336
it's not how things work unfortunately. The changes for HDMI input were on a different platform and the author has no way of testing on yours. It's likely a silly mistake somewhere, and *someone* needs to check what went wrong.

[2022-08-02 18:25] plbossart commented on #3336
one way to debug is to add 'options snd-soc-core dyndbg=+pmf', that should show you exactly why the card is not created. it'll be really verbose but hopefully contain error logs. Please attach the entire dmesg log.

[2022-08-02 19:59] crojewsk commented on #3764
Thanks for addressing the regression on upstream.

To the readers: subject has been continued in #3775.

[2022-08-02 20:18] ejmarkow commented on #3336
@plbossart, 'options snd-soc-core dyndbg=+pmf' added and dmesg log attached.

[dmesg_info.txt](https://github.com/thesofproject/linux/files/9245359/dmesg_info.txt)

[2022-08-02 22:26] plbossart commented on #3336
@ejmarkow I still don't see anything that actually probes the machine driver. My guess is that the problematic commit changed the name of the driver somehow.

[2022-08-02 22:59] ejmarkow commented on #3336
@plbossart, take a look at this line of the commit in question. Could this be it?

`+		.name = "adl_es83x6_c1_h02",`

S/B adl_es8336... (and not adl_es83x6...) ?

[2022-08-02 23:58] ejmarkow commented on #3336
I just tested out that line by itself by changing the "x" to "3" and recompiling the kernel. Didn't work. Soundcard still not detected.

[2022-08-03 07:13] Kemsekov commented on #3249
Well, I'd rather use linux on laptop without sound than using windows. As I can see we don't get much updates and this likely will still this way.

[2022-08-03 07:19] andreaconsole commented on #3249
Considering that bluetooth audio peripherals and usb sound cards are viable options for when you really need audio, I agree to some extent. However, it is still very disappointing.

[2022-08-03 07:51] dezo4 commented on #3447
Debug dmsg
[dmesg.txt](https://github.com/thesofproject/linux/files/9250330/dmesg.txt)

[2022-08-03 22:47] meiyujack commented on #2955
same situation,on Chuwi LarkboxPro,J4125,same Gemini lake architecture.still no sound. What should I do? Many thanks~@plbossart @sebastianciocarlan Apparently it should play sound from stereo player led light changes.
this is my info:
[    0.277103] pps_core: Software ver. 5.3.6 - Copyright 2005-2007 Rodolfo Giometti <giometti@linux.it>
[    0.328442] PCI-DMA: Using software bounce buffering for I

[2022-08-04 08:49] plbossart opened #3797 "ACPI sysfs cannot create duplicate filename '/class/power_supply/ADP1'"
Not an audio issue but a suspicious warning and likely a broken BIOS on JSL w/ ES8336

[code]

[2022-08-04 09:09] plbossart commented on #3336
@ejmarkow can you please re-test if the PR #3798 fixes the probe issue? It works for me with a remote test but it you can give it a try it'd be much appreciated.

[2022-08-04 09:17] dezo4 commented on #3447
No change on 5.19.0-trunk-amd64
[dmesg.txt](https://github.com/thesofproject/linux/files/9258375/dmesg.txt)

[2022-08-04 09:23] dezo4 commented on #3447
@plbossart Hello, this thread is half a year old and seems to be forgotten, but it exactly matches my laptop so I didn't want to create another one for the same machine. Could you please have a look what is wrong in my case? Thanks!

[2022-08-04 09:25] ejmarkow commented on #3336
@plbossart Will apply the patch now, test it, and report result ASAP.

[2022-08-04 09:38] plbossart commented on #3447
@dezo4 Unfortunately we have a regression in 5.19, tentative fix is here https://github.com/thesofproject/linux/pull/3798

[2022-08-04 09:50] plbossart commented on #3797
@rafaeljw is this a known issue, and if not what would you recommend to debug this further?

[2022-08-04 10:51] ejmarkow commented on #3336
@plbossart PR #3798 works, sof-essx8336 now detected and recognized!

Tested for audio on speakers, same as before, no audio, only the random 'clicking sound' every once in a while.

[2022-08-04 11:28] plbossart commented on #3336
@ejmarkow can you save your setup in /lib/firmware/intel/sof-tplg, and then copy all the files in this tar file
[es8336-topologies-mclk1.tar.gz](https://github.com/thesofproject/linux/files/9259230/es8336-topologies-mclk1.tar.gz)

The only change is to use mclk1 instead of mclk0. I don't know if this is the reason for your issue, but since you're a really good tester/reporter that's worth trying.

[2022-08-04 12:30] ejmarkow commented on #3336
@plbossart, OMG, I have beautiful sound 🎶 🎶 🎶 on my speakers, finally ! Unbelievable. You're brilliant, thank you so much! I only needed to use alsamixer to bring up some volume in the 'Headphone' sections.

Was there any possible way to initially pass a module parameter or quirk without using those .tplg files you provided?

Now I'm going to test out headphones and microphone.

[2022-08-04 13:00] plbossart commented on #3336
@ejmarkow that's great news, you're the first one that actually successfully tests the mclk1.

It's becoming a real nightmare to maintain all the variations of topologies required for ES8336, so I am thinking we need to
a) try to auto-detect what the mclk is. that might be possible by parsing the NHLT information, IIRC we can skip some bits and just read the clocking information.
b) or add a modul

[2022-08-04 13:29] andreaconsole commented on #3336
Exciting discussion! Kudos to plbossart for his excellent support and to ejmarkow for his reactivity!

[2022-08-04 14:15] junocomp opened #3800 "[BUG] Microphone not detected ES8336"
I have a tablet with ES8336 (kernel enabled) and the speakers are now working thanks to this

https://github.com/thesofproject/sof/issues/6068#issuecomment-1205008960

Currently the Microphone is not detected. I can provide any info needed.

[2022-08-04 14:42] plbossart commented on #3800
If the microphone is not detected, it could be that the codec has incorrectly detected a headset. Try to plug a headset to see if this changes the behavior.

You should attach the results of 'alsa-info' and paste the values of all the controls with 'Jack' in their name.

[2022-08-04 15:27] junocomp commented on #3800
@plbossart

https://justpaste.it/9s5zh

I have attached the alsa-info

I plugged a headphone jack, though it works the mic is still not detected. I am on debian, do you know which codec I may require?

[2022-08-04 16:05] plbossart commented on #3800
Not following what you are trying to say @junocomp, 'it works' is really hard to understand

did you mean
a) the jack is detected (as measured by what?)
b) the recording on the headset mic gives good results
c) the recording from the local mic gives no data (or noise?)

You are on 5.18.14, so there's no way this can work. You will need 5.19 plus the fix in https://github.com/thesofproject/linux/pu

[2022-08-04 16:17] plbossart commented on #3336
@ejmarkow I have a quick hack in https://github.com/thesofproject/linux/pull/3798 to override the mclk_id with a kernel module parameter.

If you restore your previous setup, and add this in /etc/modprobe.d/alsa-base,conf this should do the same trick of switching from mclk0 to mclk1
[code]

I think I found a way to detect this directly, but I would need the ACPI tables to verify this. you will ne

[2022-08-04 16:29] ejmarkow commented on #3336
Excellent!  Attached is the ACPI info file.

Meanwhile, I'll restore my previous .tplg setup, make the addition to modprobe.d and test.

Will post the result very soon!

[acpi.bin.gz](https://github.com/thesofproject/linux/files/9261549/acpi.bin.gz)

[2022-08-04 17:03] gbuloz commented on #2990
@oder-chiou : oops sorry. Your amixer commands work perfectly for line-in and mic-in, but I was not using the right arecord parameters. The right ones are : arecord -Dhw:0,**0** -c**2** -r48000 -fS32_LE -d 10 test.wav

@ALL : to have the sound device displayed by the Audio mixer (pavucontrol) under Fedora 36 I had to patch some config files according to audiomixerconf.patch (see audiook.zip archiv

[2022-08-04 17:19] ejmarkow commented on #3336
@plbossart With those adjustments made, sound from speakers does not work. I notice on 'pavucontrol' under 'Output Devices' the port defaults to 'Headphones' and has 'speakers (unavailable)'.

Keep in mind, I never had a 'alsa-base,conf' file in modprobe.d to begin with.

I added 'options snd_sof_intel_hda_common mclk_id=1' in my own .conf file in /etc/modprobe.d.

Perhaps it's a matter of tinkeri

[2022-08-04 17:27] ejmarkow commented on #3336
@plbossart, wait a minute, there is no "mclk_id" parameter listed for the 'snd_sof_intel_hda_common'.

[code]

[2022-08-04 17:36] ejmarkow commented on #3336
The "mclk_id" parameter doesn't exist in any module I searched in /sys/module directory:

[code]

[2022-08-04 17:59] ejmarkow commented on #3336
Ah, now I see that patch you made in thread https://github.com/thesofproject/linux/pull/3798 after reading it 🤣.  I must apply the patch first. Ok, back to work, I'll post soon!

[2022-08-04 18:51] junocomp commented on #3800
I have just upgraded to 5.19 and I am having the same issue.

Speakers work but still no microphone.

The only things that work so far are the speakers and sound through headphone jack.

I tried testing the headphone microphone using this website https://mictests.com/ and it does not work

[2022-08-04 19:06] ejmarkow commented on #3336
@plbossart, commit `"537c5db ASoC: SOF: add quirk to override topology mclk_id"` applied and Linux kernel recompiled.

Works like a charm, perfect!

[code]

I can't believe how quickly you produced the patches because earlier you said "I'll try to look into this in the **coming days**", and not "**minutes**"!

Thank you so much, this is great! When commits are merged, I'm going to post on the "Min

[2022-08-04 19:57] NikitaMarakushev opened #3801 "[BUG] Huawei matebook d14, problem with sound"
There is no sound on my system. Only dummy output.
I tried on various stable versions of distributions such as deepin, ubuntu, linux mint, debian, manjaro. I also tried changing kernel versions and installing proprietary drivers.

Result of "inxi -Fxz":

1) Audio:

  Device-1: Intel Comet Lake PCH-LP cAVS vendor: QUANTA driver: snd_hda_intel
    v: kernel bus-ID: 00:1f.3
  Sound Server-1: ALSA v:

[2022-08-04 19:59] NikitaMarakushev commented on #3801
![Screenshot_2022-08-04_22-59-20](https://user-images.githubusercontent.com/63608270/182941702-3f6cd2ef-52d6-412c-97f9-2ad00e0670f7.png)

[2022-08-04 20:00] NikitaMarakushev commented on #3801
I have two systems on the same laptop
. Secondary is windows 10 home, and everything is fine with the sound

[2022-08-05 02:22] yangxiaohua2009 commented on #2955
@meiyujack @callegar I happen to have an Chuwi LarkboxPro,J4125
You need to first install the tplgs
./make.sh
[firmware_general.zip](https://github.com/thesofproject/linux/files/9264715/firmware_general.zip)
Then install the ucm
./ucm.sh
[ucm.zip](https://github.com/thesofproject/linux/files/9264714/ucm.zip)
You may use the kernel [here](https://github.com/yangxiaohua2009/custom-kernel) if you are

[2022-08-05 02:44] yangxiaohua2009 opened #3802 "[BUG] Soundcard not found for ES8326"
I'm developing driver for ES8326. I recently switched to topic/sof-dev 5.19-rc2 from 5.18-rc2. With other things unchanged, the sof_essx8336 driver is not probed on branch 5.19. Alsainfo attached.
[5.18](http://alsa-project.org/db/?f=dbec7034223d3204aedd1a5d6943f41b58566eb8
)
[5.19](http://alsa-project.org/db/?f=e9e020418923fab8c4a47b1662076caa8b913b1e
)

[    4.709508] sof-audio-pci-intel-tgl 000

[2022-08-05 02:50] yangxiaohua2009 commented on #3802
@plbossart Any ideas? All I know is that this is not a firmware/codec driver/tplg/sof_essx8336.c/dsp-config issue.

[2022-08-05 06:10] plbossart commented on #3801
please attach the results of 'alsa-info'.
I would bet you have one of the ES8336-based codecs... That will require kernel v5.19+a known fix. your 5.15 kernel will not support this model. see https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html

[2022-08-05 06:11] plbossart commented on #3802
yes, there's a probe bug that's fixed by PR https://github.com/thesofproject/linux/pull/3798

[2022-08-05 06:44] NikitaMarakushev commented on #3801
There is result written in .txt file
[alsa-info.txt](https://github.com/thesofproject/linux/files/9266045/alsa-info.txt)

[2022-08-05 07:48] plbossart commented on #3801
/sys/bus/acpi/devices/ESSX8336:00/status 	 15

Bingo.

[2022-08-05 07:50] plbossart commented on #3801
@NikitaMarakushev if you want sound, I am afraid you will have to compile your own kernel for now. The only working branch is https://github.com/thesofproject/linux/pull/3798 (v5.19 + code queued for 5.20 + fixes)

[2022-08-05 08:17] plbossart commented on #3336
Thanks @ejmarkow. I extracted the NHLT information, and it looks like we can find *ONE* bit in the table that will indicate the use of MCLK0 or MCLK1

From Eugene Markow

/* Specific_Config table #1 */
[4E2h 1250  84]                 Capabilities : \
    00 00 00 00 10 FF FF FF 32 FF FF FF 00 00 00 00 \
    00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 \
    00 00 00 00 37 03 D0 83 00 00 70 C0 0

[2022-08-05 08:49] NikitaMarakushev commented on #3801
@plbossart , do you mean this branch https://github.com/plbossart/sound/tree/fix/es8336-board-ids ?

[2022-08-05 09:59] plbossart commented on #3801
yes, it's the same thing.

[2022-08-05 10:18] ejmarkow commented on #3336
@plbossart, fabulous, looks like this will enable auto-detection for either MCLK1 or MCLK0 on sof-essx8336 without having to pass a module parameter!

[2022-08-05 13:20] plbossart commented on #3336
@ejmarkow I could use your help to re-check my latest changes.

a) re-install the latest topologies (now merged in SOF main branch) - make sure to remove all the mclk1 stuff
[es8336_topologies_main.tar.gz](https://github.com/thesofproject/linux/files/9268940/es8336_topologies_main.tar.gz)
b) remove mclk_id kernel parameter from /etc/modprobe.d/alsa-base.conf
c) install kernel based on PR https://g

[2022-08-05 14:09] andreaconsole commented on #3336
Sorry to interrupt the thread, but I have a question, if I can. Just to be sure that I did not misunderstand how it works: all of this is not applicable to laptops with AMD Ryzen processors, but only to Intel-powered systems, correct?

[2022-08-05 14:14] plbossart commented on #3336
Correct @andreaconsole.

[2022-08-05 14:14] ejmarkow commented on #3336
Will do and report on it.

[2022-08-05 16:33] ejmarkow commented on #3336
@plbossart, success, working nicely with sound and a MCLK mask of 0x2 detected from NHLT! 🎵 🙂

[code]

Summary:

- Latest topology files installed
- mclk_id kernel parameter disabled in /etc/modprobe.d
- Applied an additional two commits from Pull Request (PR) #3798 to this Linux Kernel
[code]
Attached is the dmesg log file, dmesg_info.txt.

[dmesg_info.txt](https://github.com/thesofproject/linux/

[2022-08-06 00:12] yarbsemaj commented on #3801
Hi @plbossart, Thank-you so much for your amazing work on this issue. I have an other Huawei laptop (d15) with the same audio chipset (and same symptoms). Other that building and running your kernel fork, is there any other steps required to getting audio working.

I’d love to help your test you fix on a wide range of H/W

[2022-08-06 11:48] ejmarkow commented on #3336
Here is a summary (so far) of all components for this Linux Kernel tested for sof-essx8336.

- Linux Kernel 5.19.0 + [9 Applied Commits] + New Topology files:

[code]

[es8336_topologies_main.tar.gz](https://github.com/thesofproject/linux/files/9280208/es8336_topologies_main.tar.gz)

[2022-08-06 16:53] RezinoviyDed commented on #3210
@plbossart I install new kernel: 5.19.0-trunk-amd64
Sound is not working.
my [alsa-info](http://alsa-project.org/db/?f=ab669250438680db313a63606ece9d2e2b94dcc9)
Output device: dummy output
sof-bin v2.2 is installed
[dmesg.txt](https://github.com/thesofproject/linux/files/9275457/dmesg.txt)

[2022-08-07 17:27] NikitaMarakushev commented on #3801
@plbossart ,I do not know what the reason is, but when I compiled and updated grub, I got a kernel panic, cannot sync associated with the root partition, there was a uuid there, I changed it to my /dev/nvme0n1p4, but it did not help

[2022-08-08 02:06] keqiaozhang commented on #3678
We haven't seem this issue in CI for more than 2 months, @XiaoyunWu6666 can we close it?

[2022-08-08 02:45] XiaoyunWu6666 commented on #3678
ipc error when resetting pipeline (setting state 2)
 in inner testresult 14490 and 14386 14324 14301 14217 14196 ... **[7 hits within past 30 days]**  on WHL_UPEXT_HDA_IPC4 when multiple-pause-resume-50
And this actually was identified as  https://github.com/thesofproject/linux/issues/3626 which describe
ipc error with FWeported error: 6 - Unknown error while processing the request when resetting

[2022-08-08 02:51] XiaoyunWu6666 commented on #3678
The ipc time out became rather rare.
But the #3626
 ipc error with FWeported error: 6 - Unknown error while processing the request

[2022-08-08 02:58] XiaoyunWu6666 commented on #3678
And actually the ipc timed out described by this issue became rare.
We haven't seem  ipc time out issue in CI for more than 2 months, so we can close it.
@keqiaozhang thanks for reminding.

[2022-08-08 02:58] #3678 closed

[2022-08-08 08:05] keqiaozhang opened #3804 "[BUG] plain arecord issue found when testing RT711 headset recording on TGLU_SKU0A3E_SDW"
**Describe the bug**
We observed this issue after upgrading Ubuntu from 20.04 to 22.04. The issue is that when testing plain arecord on headset, the Max peak will be reached to 100% in verbose logs, it should be 0%.
[code]

Checked the amixer setting, this issue is related to control 'rt711 ADC 08 Capture Volume'. The default value set in UCM2 is `63`.
please refer to https://github.com/alsa-proje

[2022-08-08 08:08] keqiaozhang commented on #3804
@shumingfan ,  could you please take a look at this issue?  We have a similar issue on RT714:https://github.com/thesofproject/linux/issues/3766 and we changed the `rt714 FU02 Capture Volume`  to 0dB.

[2022-08-08 08:09] keqiaozhang commented on #3766
Let's track the rt711 issue in https://github.com/thesofproject/linux/issues/3804

[2022-08-08 08:26] plbossart commented on #3336
Excellent, thanks @ejmarkow for your tests and providing a nice summary of required patches.

[2022-08-08 08:39] plbossart commented on #3210
Recommended setup is described here; https://github.com/thesofproject/linux/issues/3336#issuecomment-1207200602

[2022-08-08 08:42] plbossart commented on #2955
Recommended setup is described here: https://github.com/thesofproject/linux/issues/3336#issuecomment-1207200602

[2022-08-08 08:43] plbossart commented on #3800
Recommended setup is described here: https://github.com/thesofproject/linux/issues/3336#issuecomment-1207200602

[2022-08-08 08:43] plbossart commented on #3590
Recommended setup is described here: https://github.com/thesofproject/linux/issues/3336#issuecomment-1207200602

[2022-08-08 08:43] plbossart commented on #3460
Recommended setup is described here: https://github.com/thesofproject/linux/issues/3336#issuecomment-1207200602

[2022-08-08 08:44] plbossart commented on #3447
Recommended setup is described here: https://github.com/thesofproject/linux/issues/3336#issuecomment-1207200602

[2022-08-08 08:55] shumingfan commented on #3804
@keqiaozhang I can't reproduce this issue on SKU_0A5D which installed Ubuntu 22.04.
Could you test the DP loopback to check if this issue still exists or not?
$ cd /sys/kernel/debug/soundwire/master-0-0/intel-sdw/
$ echo 4 > cdns-pdi-loopback-target
$ echo 3 > cdns-pdi-loopback-source
// aplay first
$ aplay -D hw:0,0 -f dat /dev/zero
// arecord test
$ arecord -D hw:0,1 -r 48000 -c 2 -f S16_LE -vvv

[2022-08-08 09:03] keqiaozhang commented on #3804
@shumingfan,  I still can reproduce the issue with above steps.
[code]

[2022-08-08 09:04] plbossart commented on #3801
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:04] #3801 closed

[2022-08-08 09:04] plbossart commented on #3800
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:04] #3800 closed

[2022-08-08 09:05] plbossart commented on #3590
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:05] #3590 closed

[2022-08-08 09:05] plbossart commented on #3460
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:05] #3460 closed

[2022-08-08 09:06] plbossart commented on #3447
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:06] #3447 closed

[2022-08-08 09:06] plbossart commented on #3428
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:06] #3428 closed

[2022-08-08 09:06] plbossart commented on #3412
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:07] #3412 closed

[2022-08-08 09:07] plbossart commented on #3365
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:07] #3365 closed

[2022-08-08 09:08] plbossart commented on #3363
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:08] plbossart commented on #3360
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:08] #3360 closed

[2022-08-08 09:08] plbossart commented on #3357
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:08] #3357 closed

[2022-08-08 09:09] plbossart commented on #3336
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:09] #3336 closed

[2022-08-08 09:09] plbossart commented on #3248
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:09] #3248 closed

[2022-08-08 09:09] plbossart commented on #2955
Added recommended information in https://github.com/thesofproject/linux/wiki/ES8336-support

closing for now, please re-open an issue if the recommended setup doesn't work for you.

[2022-08-08 09:09] #2955 closed

[2022-08-08 09:12] plbossart commented on #3779
duplicate of https://github.com/thesofproject/linux/issues?q=is%3Aissue+is%3Aopen+label%3A%22codec+ES8336%22

[2022-08-08 09:12] #3779 closed

[2022-08-08 09:16] plbossart commented on #3804
@bardliao can you chime in out this one reported by @keqiaozhang and @shumingfan? it's my understanding that if we have an issue with the loopback, then the problem is NOT the codec settings. The loopback will discard the data from the codec . Am I right?

[2022-08-08 09:23] shumingfan commented on #3804
@keqiaozhang Thanks for the testing.
@plbossart I also think this problem is not the codec settings.
The DP loopback makes the capture data equal to the playback data.

[2022-08-08 09:41] bardliao commented on #3804
@plbossart @shumingfan @keqiaozhang Sure, I will look into it.

[2022-08-08 13:03] NikitaMarakushev commented on #3801
@plbossart , thank u,  i'll test your solution

[2022-08-08 13:55] dezo4 commented on #3336
Hello @plbossart, @ejmarkow
applying
``4)  86b1959 ASoC: Intel: sof_es8336: add support for HDMI_In capture``
results in a conflict for me, could you pls doublecheck? Thanks!
[code]
EDIT: from ``86b1959`` context it seems like ``2ec8b081d59f5c39eb262f09ebc9e81178d222be`` is missing

[2022-08-08 15:38] dezo4 commented on #3447
Hi @plbossart,
I followed the recommendations but still no soundcard detected. Could you pls check? Thanks!
[dmesg.txt](https://github.com/thesofproject/linux/files/9283121/dmesg.txt)

[2022-08-08 15:40] plbossart commented on #3447
@dezo4 you're missing patches, clearly this is the same issue fixed by https://github.com/thesofproject/linux/pull/3798

[2022-08-08 15:56] plbossart commented on #3336
Not really, it's a minor conflict that's trivial to solve. Use https://github.com/thesofproject/linux/tree/es8336-v5.19

[2022-08-08 16:00] plbossart commented on #3802
Recommended setup is described here:
https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-08-08 16:00] #3802 closed

[2022-08-08 16:01] plbossart commented on #3777
closing, the timeout issue is fixed with recent upstream commits.

[2022-08-08 16:19] plbossart commented on #3766
@keqiaozhang can we close this issue for RT715 now that the proper gain was set?

[2022-08-08 16:47] dezo4 commented on #3336
@plbossart
[code]
This is what ``2ec8b081d59f5c39eb262f09ebc9e81178d222be`` added

[2022-08-08 16:57] fredoh9 commented on #3766
All TGLU_SKU0A32_SDCA have proper gain now. Haven't seen same issue for a long time. Closing the issue.

[2022-08-08 16:58] plbossart commented on #3336
Sorry about that @dezo4 turns out it wasn't just a Git conflict. Updated wiki and branch.

[2022-08-08 17:58] junocomp commented on #3336
@plbossart do you have a deb linux-image package for this https://github.com/thesofproject/linux/tree/es8336-v5.19? I would like to test it on Debian.

[2022-08-08 18:08] dezo4 commented on #3447
@plbossart
OK, I must be missing something... (newbie in kernel compilation)
I compiled your branch ``es8336-v5.19`` ``make -j8 bindeb-pkg LOCALVERSION=-custom``
transfered ``linux-image-5.19.0-custom_5.19.0-custom-2_amd64.deb`` to the target machine
installed ``dpkg -i linux-image-5.19.0-custom_5.19.0-custom-2_amd64.deb``
copied the new topologies
rebooted to the new kernel
but dmesg still looks

[2022-08-08 18:55] ejmarkow commented on #3336
@junocomp @plbossart: Just FYI, I've been testing this the entire time on Debian Sid (aka Unstable) with a custom kernel config and it works well, however, I did not build a ready to install .deb package for it. When I compile the kernel from source, I install the modules separately (make modules_install) into /lib/modules, with the "config, initrd.img, System.map, vmlinuz" files going into /boot.

[2022-08-08 19:01] plbossart commented on #3447
@dezo4 you are using the new kernel if I look at

[code]

That's only available in the branch. But somehow you haven't probed the machine driver. Did you enable that machine driver in the config? You need

CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m
CONFIG_SND_SOC_ES8316=m

[2022-08-08 21:44] ejmarkow commented on #3336
@dezo4 @plbossart

I see what happened.

When I initially tested the patches in Linux-Next I only applied the 5 commits (which I listed in my original post https://github.com/thesofproject/linux/issues/3336#issuecomment-1201431155) attributed to sound/soc/intel/boards/sof_es8336.c thinking these were the only commits affecting es8336 in Linux-Next.

The 2 commits in Linux-Next for sound/soc/intel/

[2022-08-09 06:22] ujfalusi commented on #3768
@plbossart, I have taken a look and have a working solution, let me see if I can find more elegant way.

Basically adding `depends on SND_SOC_SOF` for both client driver. It will not allow built in for them if SND_SOC_SOF is module, but allows the clients to be modules if SND_SOC_SOF is built in.

[2022-08-09 06:24] keqiaozhang commented on #3804
@shumingfan I have checked with Bard. First we need to set the PGA* capture volume to 0dB:
[code]
Then even with the default value of `rt711 ADC 08 Capture Volume` set in UCM2, the Max peak will not reach to 100%.

For the loopback mode. I did the wrong steps before, I need to keep the playback running when doing the capture.
But the target and source ID you provided are also not right.
I tested w

[2022-08-09 06:46] ujfalusi commented on #3768
The other option is to convert the developer options to menu:
[code]
But this will drop the `help` section we used to have for SND_SOC_SOF_DEVELOPER_SUPPORT.
If the `EXPERT` is not enabled then the whole menu is hidden as well.
I think the explicit `depends on SND_SOC_SOF` is more intuitive.

[2022-08-09 07:42] plbossart commented on #3804
Why is this needed @keqiaozhang ? All the PGA volumes should be set to 0dB already, If this is not the case, then something or someone changed those settings in the past. We should *NEVER* have any PGA gains set to anything other than 0dB

[2022-08-09 08:09] dezo4 commented on #3447
Wooohooo! That was it! Soundcard detected and playing! Thank you very much! :+1:
[code]
Now I'm gonna test headphones and mic.

[2022-08-09 08:13] dezo4 commented on #3336
@ejmarkow No trouble, I'm happy it works now :)

@junocomp I have an amd64 deb, I can put it somewhere if you want

[2022-08-09 08:34] bardliao commented on #3804
@plbossart 50 is 0dB, and it was 80 which is 30dB while we met the issue.

[2022-08-09 09:20] plbossart commented on #3804
@bardliao why was it set to 80, that's what I don't understand.

[2022-08-09 12:57] paulmenzel opened #4540 "[BUG] Dell XPS 13 9315: No sound cards detected"
On the Dell XPS 13 9315 with Debian sid/unstable and Linux 5.19 from the suite *experimental*, very often no soundcards are found.

    00:1f.3 Multimedia audio controller [0401]: Intel Corporation Device [8086:51cc] (rev 01)

[Output of `/usr/sbin/alsa-info`](https://alsa-project.org/db/?f=debacf544a4340e3f6013a102a235acfe777ca73)

    [   14.611798] soundwire sdw:2:025d:1316:01: Probe not comple

[2022-08-09 13:00] paulmenzel commented on #4540
Added soundwire error messages.

[2022-08-09 13:01] plbossart commented on #4540
know issue duplicate of https://github.com/thesofproject/linux/issues/3777

Solved by upstream commits, see https://lore.kernel.org/alsa-devel/20220621225641.221170-1-pierre-louis.bossart@linux.intel.com/

[2022-08-09 13:10] dbaluta opened #3809 "topic/sof-dev fails to compile on arm64"
After commit:

https://github.com/thesofproject/linux/pull/3790/commits/caf9d30cb2362aeb65b14a8cdbf92c71b307c063

topic/sof-dev branch fails to compile with the following error:

[code]

I think definition

[code]

should be brought back in?

@LaurentiuM1234 since you found this, I think you should send a patch to fix this up.

@plbossart am I missing something? Looks like the CI build passes just

[2022-08-09 14:01] plbossart commented on #3809
https://github.com/thesofproject/linux/runs/7567155607?check_suite_focus=true showed ARM64 compilation worked fine, is this a sign of a Kconfig that's not good enough?

[2022-08-09 16:08] paulmenzel commented on #4540
Thank you for the prompt reply. I am happy fixes are in Linus’ master branch.

Two questions:

1.  Is that a regression in Linux 5.18?
2.  Did Dell send one of these devices to Intel, so they can be used for testing?

[2022-08-09 16:13] paulmenzel commented on #4540
For the record, the [Linux messages](https://github.com/thesofproject/sof/files/9292818/20220808-dell-xps-13-9315-ubuntu-20.04-5.14.0-1047.54-oem-dmesg.txt) from the Dell OEM Ubuntu 22.04 installation.

[2022-08-10 07:05] plbossart commented on #4540
Unclear. The probe message has been there for multiple cycles, since commit 528be501b7d4a ("soundwire: sdw_slave: add probe_complete structure and new fields")

it's not clear what caused the timeout in practice. Possibly PCI power management?

Yes, and we didn't see the issue with the Canonical OEM image. It's likely a configuration that causes delays in the probe and timeouts.

[2022-08-10 07:23] lnicola commented on #3350
FWIW, there's a workaround mentioned in the [Arch Wiki](https://wiki.archlinux.org/title/Huawei_MateBook_14s#Audio):

    pactl set-sink-port alsa_output.pci-0000_00_1f.3-platform-skl_hda_dsp_generic.HiFi__hw_sofhdadsp__sink '[Out] Headphones'

Unfortunately, I couldn't get that to work with PipeWire, because it doesn't allow applications to use that sink (maybe because it shows up as Unplugged?).

[2022-08-10 08:06] lgirdwood commented on #3626
Not a SOF FW issue.

[2022-08-10 08:08] lgirdwood commented on #3647
Not a SOF FW issue.

[2022-08-10 08:11] lgirdwood commented on #3636
@mengdonglin @XiaoyunWu6666 @keqiaozhang still an issue ?

[2022-08-10 08:13] lgirdwood commented on #3633
Not SOF FW issue.

[2022-08-10 08:17] lgirdwood commented on #3591
@XiaoyunWu6666 which FW are you reporting here ?

SOF: 87caf973ebac, fw is CAVS FW, tgl/dsp_basefw.bin

If this bug does not reproduce with SOF FW then we can close.

[2022-08-10 10:16] paulmenzel commented on #4540
Yes, me neither, but I’d thought the Intel (FLOSS) QA is going to test mainly with the upstream versions.

[2022-08-10 10:20] paulmenzel commented on #3777
For the record, it’s the three commits below in Linus’ master branch:

1.  commit bd29c00edd0a5 (soundwire: revisit driver bind/unbind and callbacks)
2.  commit 9a24bb35b0d81 (soundwire: peripheral: remove useless ops pointer)
3.  commit 3e9c9f90573f4 (soundwire: intel: use pm_runtime_resume() on component probe)

[2022-08-10 10:21] paulmenzel commented on #3777
Only the first one has Fixes: tags, and none of them are tagged for the stable series. Are they going to be picked up automatically for the stable series?

[2022-08-10 10:23] dezo4 commented on #3447
Hello @plbossart
I'm not sure if something can be done about it but at least a report:
Seems like I have 2 sliders for volume, "Headphone" and "Headphone Mixer", both controlling speakers volume. The first one "harder", the second one "softer". If I connect headphones, the first's volume goes down a little and mutes when headphones are disconnected. Best show in video.
https://user-images.githubus

[2022-08-10 11:20] plbossart commented on #3777
I am not sure if the patches will be picked for stable, it's not my decision. I am still not clear on what causes specific distributions such as ArchLinux or Debian to expose the issue while Ubuntu and Fedora seem just fine.

[2022-08-10 11:28] plbossart commented on #3447
@dezo4 I can't help you with userspace settings. There was an UCM file contributed to https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/Intel/sof-essx8336/sof-essx8336.conf but I have no idea if it works or not - I don't have a device to test.

You should first try to see if the jack detection works. There should be a 'Jack' mixer that changes status when you plug/unplug the headphone

[2022-08-10 12:22] dbaluta commented on #3809
@plbossart we are the victims of our own optimizations. With `defconfig` `CONFIG_SND_SOC_HDMI_CODEC=m` but when we merge all fragments this symbol is somehow set to `CONFIG_SND_SOC_HDMI_CODEC=n`.

I think similar thing happens on Intel platforms.

[2022-08-10 12:38] #3809 closed

[2022-08-10 12:45] plbossart commented on #4540
I was the author of that broken solution in commit 528be50 ("soundwire: sdw_slave: add probe_complete structure and new fields") and we never saw any issues in all our tests. It's just luck that we had a solution ready: I was doing some cleanups to make the driver more compliant with the device model, and remove all sorts of timing dependencies to rely instead of the deferred probe mechanism. I ha

[2022-08-10 12:55] dezo4 commented on #3447
@plbossart
[code]

Plugged in:
[code]

Unplugged:
[code]

[2022-08-10 13:29] plbossart commented on #3447
@dezo4 I think you'll have to experiment with the quirks suggested in https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

specifically this quirk is likely to impact jack detection:
#define SOF_ES8336_HEADPHONE_GPIO            BIT(7)

it's a real hassle since there's no documentation and no way to discover how the hardware is wired, so you may have t

[2022-08-11 08:42] #3768 closed

[2022-08-11 20:26] afq984 opened #3819 "Unconditionally dev_dbg firmware and tplg paths"
There are multiple ways to override the paths but it is only logged sometimes. For example in sof-pci-dev.c there are multiple conditionals to change them, but only some of the branches log them. Also we do not log them at all in sof-of-dev.c.
I propose we unconditionally dev_dbg the the [paths](https://github.com/thesofproject/linux/blob/b41e86dd683bc0e224c2a1383ffc5b2cd3238403/include/sound/sof.

[2022-08-12 13:03] plbossart commented on #3819
@afq984 can you be more specific on what cases you saw where the information is not provided for PCI "but only some of the branches log them"

I am not sure if printing the logs is a silver bullet, there might be additional rules in the firmware selection where the kernel fetches the file from /lib/firmware/updates or other directories. If there is any higher-level rule that kicks in, the SOF driv

[2022-08-12 19:49] afq984 commented on #3819
Below are some examples

https://github.com/thesofproject/linux/blob/b41e86dd683bc0e224c2a1383ffc5b2cd3238403/sound/soc/sof/sof-pci-dev.c#L290-L294

https://github.com/thesofproject/linux/blob/b41e86dd683bc0e224c2a1383ffc5b2cd3238403/sound/soc/sof/sof-pci-dev.c#L275-L279

Ah, I'm not aware about it.

I'm mainly concerned about us overriding the paths with modprobe in udev rules on ChromeOS, but we

[2022-08-13 18:47] tvardar opened #3823 "Setup Error"
`git clone https://github.com/thesofproject/linux.git
Klonlama konumu: 'linux'...
remote: Enumerating objects: 10244793, done.
error: RPC başarısız oldu; curl 56 GnuTLS recv error (-9): Error decoding the received TLS packet.
error: gövdenin 14051 baytı hâlâ bekleniyor
fetch-pack: unexpected disconnect while reading sideband packet
fatal: erken dosya sonu
fatal: fetch-pack: geçersiz index-pack çık

[2022-08-14 13:10] madsl commented on #3783
Seems like I found the magic setting that helped on my XPS 9320.

If I comment out powersave on my _wifi_ in apply_recommended_power_settings.sh like this:
[code]
then I don't get the error anymore.

I guess that means that this might either be a wifi driver issue or a Dell firmware issue?

I'll attach my current apply_recommended_power_settings.sh
[apply_recommended_power_settings.sh](https://git

[2022-08-14 18:34] changedsoul commented on #3777
I am again having issues with no sound. Original Issue was posted here: https://github.com/thesofproject/linux/issues/3772
That post led me to this post where I tried both the patch listed in the original post as well as the time out change in this post. I had working sound then.
I decided to go full disk encryption and nuked my install. Trying to get sound working again I began to recompile the k

[2022-08-15 02:10] keqiaozhang commented on #3669
Closing this issue, no reproductions for more that one month,

[2022-08-15 02:10] #3669 closed

[2022-08-15 07:51] plbossart commented on #3823
That's a network error @tvardar, not much we can do on our side since the code is hosted on GitHub

[2022-08-15 07:57] plbossart commented on #3777
@changedsoul the kernel modules are located on the file system, so certainly any slowdown on the file system side due to e.g. encryption would potentially increase the time needed to load/probe the modules, which might in the end trigger the timeout.

I wouldn't spend too much time on this, we know this timeout idea was a bad one and we've changed this upstream. Either increase the value of the ti

[2022-08-15 09:23] paulmenzel commented on #3777
The three commits have not been added to the 5.19.1 stable series release.

    $ git log --grep bd29c00 v5.19.1
    $

[2022-08-15 11:27] junocomp commented on #3336
@dezo4 I would love if you can share your deb image kernel. Is the microphone detected?

[2022-08-15 16:44] ejmarkow commented on #3336
Even though sound via speakers is working fine, microphone is still not detected and not working when plugged in. Good you asked.

Attached is my:

 (A) kernel config file (kernel_config.txt)
 (B) kernel image file, compressed (vmlinuz_5.19.gz)

Before you use the kernel image file:

1) Compare your kernel config file with mine to see if you are missing anything using:
`$ diff -y --suppress-common

[2022-08-15 16:52] junocomp commented on #3336
@ejmarkow mmmm.. I thought you had the mic working. In that case you have the same kernel that I do. I have a deb one that I made a bit ago.

https://github.com/junocomp/linux-chuwi-hi10-go/tree/main/kernel

Has sof managed to get the mic working for es8336?

[2022-08-15 16:55] junocomp commented on #3336
Is it possible to make a dkms module for es8336, instead of recompiling the kernel every time?

[2022-08-15 17:05] junocomp opened #3824 "No Mic on ES8336"
Using the latest es8336 topologies and kernel 5.19, the microphone is not detected. Sound/speakers work fine.

[2022-08-16 03:00] keqiaozhang commented on #3804
It seems that `volume-basic-test-100.sh` changes all PGA* volume to Max.
[EDIT]: I will add a function to restore the PGA* volume at end of `volume-basic-test.sh`

[2022-08-16 04:05] katyo commented on #3800
@plbossart I followed the instructions above.
Now sound works on Teclast F5, but integrated microphone still does not detected.

[2022-08-16 05:23] plbossart commented on #3777
they were queued today

[2022-08-16 05:30] plbossart commented on #3800
@keyo can you try to check the status of the 'Jack' controls when you insert a headset?
[code]

[2022-08-16 07:06] dezo4 commented on #3336
@junocomp http://stuff.pitris.info/linux-image-5.19.0-custom_5.19.0-custom-3_amd64.deb is the kernel I use

Mic is working for me (not in all apps - but that's probably a different issue), with MS Teams it works ok. More here: https://github.com/thesofproject/linux/issues/3447#issuecomment-1210473422

[2022-08-16 09:57] plbossart commented on #3824
@junocomp kernel 5.19 is not good enough, please retry with the setup suggested here: https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-08-16 10:03] ejmarkow commented on #3336
@junocomp @dezo4

I made some progress with my microphone (dmic) being detected when using the following in /etc/modprobe.d :

`options snd_sof_intel_hda_common dmic_num=4`

From dmesg:

`$ dmesg | grep -i dmic
[    6.918685] sof-essx8336 sof-essx8336: quirk DMIC enabled`

Alsamixer now shows Dmic0 & Dmic1 (4 columns), but still unable to get it working. I must be **_very close_** though, just mis

[2022-08-16 10:08] plbossart commented on #3336
@ejmarkow that sounds very suspicious. The local microphones can be either connected to the ES8336 codec or to the PCH. These are completely different IP and layouts. If you force the use of digital microphones, you will see a number of controls but if they are not connected you will never hear anything captured....

[2022-08-16 10:10] plbossart commented on #3336
@ejmarkow in an earlier post, the logs for your device were
[code]

That is a very strong hint that you don't have any microphones connected to the PCH.

[2022-08-16 10:29] ejmarkow commented on #3336
@plbossart  I currently have my microphone plugged into the input jack. When my speakers are plugged in, sound works fine, no problem there.

I disabled `options snd_sof_intel_hda_common dmic_num=4`.

Kernel with dynamic_debug:

[code]

Screenshot of pavucontrol attached.

![2022-08-16-122502_1920x1080_scrot](https://user-images.githubusercontent.com/664256/184858086-c3b58be1-412a-4fb6-9c29-586681

[2022-08-16 10:39] ejmarkow commented on #3336
I'm not on my dynamic_debug kernel, that's probably why.

lsmod does show that module loaded:

[code]

[2022-08-16 11:23] plbossart commented on #3336
@ejmarkow what do you mean by "When my speakers are plugged in"

Do you have local speakers or a line-out with additional speakers connected?

[2022-08-16 11:31] ejmarkow commented on #3336
@plbossart There is only one input area on this mini pc for microphone/speakers/headphone set and I'm not using a splitter or headphone set. Currently, I'm testing it with a separate, stand-alone microphone (that's one jack).  Speakers are also separate (a separate jack). I must unplug one to use the other.

[2022-08-16 12:13] dezo4 commented on #3336
For the record I was successfull with a build-in mic (the left one, the right one seems to be muted or not captured), not any external mic plugged in.

[2022-08-16 12:21] ejmarkow commented on #3336
My mini pc has no built-in microphone or built-in speaker or separate line-out. Audio in/out must be external, and using only one input area which serves a dual purpose (for both input and output).

For this separate, stand-alone microphone (audio input) which is currently plugged in, it is showing up on pavucontrol (see previous graphic) as `Headset Microphone (unplugged)`, but I'm not using a he

[2022-08-16 12:31] junocomp commented on #3336
@dezo4 I tried your kernel and is just as good as mine. I get the same result.

It won't detect the tablet's mic but it will once I plug in headphones with mic intergrated it.

I even tested with options `snd_sof_intel_hda_common dmic_num=4` but it still doesnt find the internal mic.

How can I identify my tablet's mic?

[2022-08-16 12:53] plbossart commented on #3336
ok, I am not sure if the ES8336 supports this configuration, you may have to tell the codec to use a line-in configuration. @yangxiaohua2009  can you help?

[2022-08-16 13:03] lakotamm opened #3825 "[BUG] Incorrect speaker mapping and driver setting on Inspiron 16 Plus 7620"
There are 4 speakers on Inspiron 16 Plus 7620. 2 top firing (high frequency) and 2 bottom firing (lower frequency). By default only the bottom firing speakers are detected by the sof-hda-dsp driver.

According to alsa-info the laptop is using ALC3254 codec and only speakers on pin 0x14 are detected. Using the HDA-Intel driver we managed to find the correct connections for the second pair of speake

[2022-08-16 20:47] lgirdwood commented on #3825
@plbossart @ujfalusi question for you guys.

[2022-08-17 01:13] yangxiaohua2009 commented on #3336
It's a box PC like this. Since ES8336 reads flag for configuration, a line-in configuration may ruins normal 4 pole config.
![9c6c4c303da6c13e9cf6475326e941b](https://user-images.githubusercontent.com/13767225/185012571-7bc09032-f2ec-4131-981a-9ac544495e22.jpg)

[2022-08-17 01:24] yangxiaohua2009 commented on #3336
@ejmarkow
Please enable dyndbg so you can read dbg info from 8316.c.
You may need to replace the code in static [irqreturn_t](https://elixir.bootlin.com/linux/v5.18.17/C/ident/irqreturn_t) [es8316_irq](https://elixir.bootlin.com/linux/v5.18.17/C/ident/es8316_irq)(int irq, void *data)

replace the code behind
`dev_dbg(comp->dev,"%s, gpio flags %#04x\n", __func__, flags);`

with

        `dev_dbg(co

[2022-08-17 01:34] yangxiaohua2009 commented on #3336
If there is no dmic in NHLT/UEFI, forcing enable won't help. First enable Headset Mic and Interal Mic by
`amixer sset 'Headset Mic' on` and `amixer sset 'Internal Mic' on`, then switch between
`amixer sset ‘Differential Mux' 'lin1-rin1'` and `amixer sset ‘Differential Mux' 'lin2-rin2'`
If you still can't get internal mic work, dump your UEFI by `acpixtract` and let's see what you get

[2022-08-17 06:28] plbossart commented on #3825
@lakotamm in theory the settings for HDaudio are identical for the legacy snd-hda-intel and the SOF drivers, we use the same code. It's not clear to me why the behavior would be different between the two cases.
To be clearer, there is nothing in the SOF driver related to the HDaudio settings, so if there is an issue it's a problem related to the interface or sequence between SOF and legacy driver.

[2022-08-17 09:06] ejmarkow commented on #3336
@yangxiaohua2009 That's not the board I have. Mine has only one (1) "Headphone/Headset/Microphone jack", and no other out-line or in-line. Your photo shows two (2) jacks.  My pc is the "[Minisforum N40](https://store.minisforum.com/products/minisforum-n40-mini-pc)"

In the attached photo, yellow circle where it reads "Headphone" denotes the only jack on my pc.

I'll follow your instruction and rep

[2022-08-17 09:24] ejmarkow commented on #3336
@yangxiaohua2009 Photo of the actual N40 board.

![screenshot-i shgcdn com-2022 08 17-11_21_48](https://user-images.githubusercontent.com/664256/185084076-b5cbef98-0f94-451e-a1d5-4b0ec0c9c13d.png)

[2022-08-17 10:40] lakotamm commented on #3825
You are right. I am sorry for the confusion. **The speakers are actually working fine when the patch is applied to the 6.0RC1 kernel and the sof-hda-dsp driver is loaded**. For some reason I thought that I need to be running the snd-hda-intel driver in order for the HDaudio to be running and I did not even test the patch with the sof-hda-dsp driver. Oh well...

Thank you for the clarification!

So

[2022-08-17 11:36] #3825 closed

[2022-08-17 13:40] heftig commented on #3777
@plbossart Two of them were. https://github.com/thesofproject/linux/commit/3e9c9f90573f4633ec8270d0d02bcea4fad1e802 is still missing. Is it critical?

[2022-08-17 13:43] plbossart commented on #3777
Probably not, but never say never, eh?

[2022-08-17 17:57] junocomp commented on #3824
i tried it, still not detected.

[2022-08-17 18:00] junocomp opened #3827 "No sound after hibernate"
I have a tablet that can only go on Hibernate (suspend not supported).

Running `kernel 5.19` and have the latest topologies for `es8336` which sound is working.

After returning from hibernate (linux-swap partition) I get no sound at all. The sound card is detected, I can even see it on alsamixer but no sound is coming out. The only way to get sound again is by restarting the device.

[2022-08-18 01:03] changedsoul commented on #3777
So I tried to build the current kernel with Arch_Build_System with the patches applied, but I am still missing sound.
Still getting
archlinux kernel: sof_sdw sof_sdw: snd_soc_register_card failed -517
archlinux kernel: sof_sdw sof_sdw: snd_soc_register_card failed -517

It is possible I have done something wrong, but I checked the src files mid compile after patches were applied and matched them a

[2022-08-18 06:00] katyo commented on #3800
@plbossart,

[code]

Without headset:
[code]

With headset:
[code]

[code]

[2022-08-18 08:02] plbossart commented on #3800
@katyo the results show the headphone/headset are detected by the codec, that's good news.
If you don't get sound captured when nothing is detected, then it's likely that you have wrong settings for the alsa mixers.

Try to use the UCM file that was contributed by @yangxiaohua2009 in https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/Intel/sof-essx8336/sof-essx8336.conf or ask for supp

[2022-08-18 08:06] plbossart commented on #3777
@changedsoul the error -517 means -EPROBE_DEFER, in other words the resources needed by sof_es8336 are not available and the probe will be retried as new resources are added. I don't see any reason why the deferred probe would fail to detect a change, there's something weird about this build that adds delays on probe.

[2022-08-18 08:07] plbossart commented on #3824
@junocomp try to see if jack detection works for you, see instructions in https://github.com/thesofproject/linux/issues/3800

[2022-08-18 09:12] plbossart commented on #3804
@keqiaozhang all PGA volumes should be set to 0dB or 100%. We should do this with a script so that any changes in names or topology are supported. So far I only found this hack but I am sure it can be improved:

[code]

[2022-08-18 12:29] lgirdwood commented on #3827
@junocomp can you attach the dmesg after hibernate and any dmesg logs when attempting playback after hibernate. Thanks

[2022-08-18 12:48] plbossart commented on #3827
@junocomp we are only aware of an issue when hibernating, that was resolved with this patch.

ASoC: SOF: Intel: disable IMR boot when resuming from ACPI S4 and S5 states

this is in linux-stable linux-5.19.y

Please enable dynamic debug by adding this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/9373906/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf and attach t

[2022-08-18 13:02] junocomp commented on #3824
@plbossart When using a headset with mic, then is detected. But not the internal mic.

[2022-08-18 13:07] plbossart commented on #3824
There is no such thing as detecting an internal mic @junocomp. It's soldered at the hardware level, what you are missing it is the configuration to use it. It can be a mix of alsa-settings and/or GPIO settings.

[2022-08-18 14:33] junocomp commented on #3800
@plbossart I have the latest  alsa-ucm-conf=1.2.7.2-1 which has this file on Debian Sid. But for some reason is not picking up.

Is there a way to execute the dmic commands manually?

Currently I have to execute the alsa commands manually as well, this is my current file.

https://textuploader.com/ttrhb

[2022-08-18 14:42] junocomp commented on #3827
@plbossart please check the file attached.

https://www.file.io/KoeZ/download/Y07YDz4DV8Bi

[2022-08-18 14:57] junocomp commented on #3800
I should have probably mentioned from the begining, my chip name is `Intel Jasperlake HDMI`

[2022-08-18 16:14] plbossart commented on #3800
You need to enable dynamic debug and check if you see any signs of the PCH-attached DMIC being enabled in the NHLT table. If not the microphones are attached to the ES8336 and not the Intel chipset, and it's a codec configuration issue (also GPIO possibly).

[2022-08-18 16:18] plbossart commented on #3827
I don't see any issues in the log @junocomp

If you get sound when resuming from S3 and not from S4, this could indicate an issue with the codec configuration. It's possible that register contents are lost. Trying saving your alsa configuration before hibernating, and restore it manually after hibernating to see if anything differs.

[2022-08-18 16:39] junocomp commented on #3827
@plbossart I tried that as well. What I tried so far

1) pulseaudio -k && sudo alsa force-reload
2) disabling the module and renabling, manually and through systemd-sleep
3) Re running the alsa configuration manually.

The thing is, alsa detects the soundcard when is back from hibernate, I can even play with alsamixer. Is just that no sound comes out. I read a while ago that some soundcards bypass

[2022-08-18 16:46] junocomp commented on #3800
I have dyndbg enabled from https://github.com/thesofproject/linux/issues/3827#issuecomment-1219687409

This is what I get

[code]

[code]

[code]

[2022-08-18 17:38] junocomp commented on #3800
I disabled dynamic dbg

I get this now

[code]

[2022-08-19 07:39] singalsu commented on #2849
No one has had time for this, close for  now.

[2022-08-19 07:39] #2849 closed

[2022-08-19 07:59] plbossart commented on #3827
@junocomp I don't think there's any relationship between BIOS and codec, this would true only for some HDaudio cards where some configurations are updated by the BIOS. Here you have an I2C-based codec with nothing managed in the BIOS. It's got to be some registers lost.

[2022-08-19 08:05] plbossart commented on #3783
@madsl I am not aware of any relationship or dependencies between audio and wifi on Intel platform, maybe there's some sort of DMA issue due to bandwidth on the PCI bus. We'll keep this open for now to see if there are additional information but for now there's not much we can do on the audio side.

[2022-08-19 08:07] plbossart commented on #3729
@gimait I don't think it's wise to try and circumvent a protection added by the OEM to protect the speakers.

[2022-08-19 09:12] gimait commented on #3729
@plbossart I am sorry to insist, but I think I need a more clear answer.

Do you mean that the issue I'm experiencing is indeed a high pass filter set by the OEM?
This would be worrisome, since the issue, as I mentioned, happens only on Linux. I'm sure the OEM did not set up a filter that clearly mutes a wide range of the audible spectrum on purpose. And if they did, I am inclined to think that th

[2022-08-19 09:47] danielcb commented on #3777
Hi,
afaik all 3 patches are already included in 5.19.2-arch1. I just tried adding them via arch build system and got
[code]
... for all three of them. Should have looked beforehand.

Anyway, at least on my system there seems to be no change. Still the same errors and udev problems. Will try the timeout now.

[2022-08-19 11:21] heftig commented on #3777
I rebooted 5.19.2-arch1-1 a few times. I saw the error -517 once but sound still worked every time.

[2022-08-19 13:03] junocomp commented on #3827
@plbossart mmm... do you know any other ideas of how I can solve this?

[2022-08-19 13:39] filt3rek commented on #3336
Hej all !

I wonder like @junocomp if Is it possible to make a dkms module for es8336, instead of recompiling the kernel every time please, it would be very useful...

[2022-08-19 13:43] junocomp commented on #3336
@filt3rek I tried to make one but was not successful.

I used this for reference

https://jksinton.com/linux/building-a-linux-kernel-driver-on-ubuntu-using-dkms/

[2022-08-19 13:50] filt3rek commented on #3336
Thanks for your answer @junocomp !
I'll give it a try but I'm not an expert.
If anybody can advice us it will be cool.
Thanks !

[2022-08-19 13:53] junocomp commented on #3336
@filt3rek If you are successful, you should create a git.

[2022-08-19 15:22] tomty89 commented on #3210
In case anyone is interested, as I saw https://github.com/thesofproject/sof/commit/190cfd79f77e3575b73e1dcf8ffeae923e74785e, I just created myself the ssp1 topology file needed on my machine (by binary patching according to `cmp` result on the ssp0 and ssp2 ones, and finally for the first time I get sound out of the speakers on Linux (Arch / 5.19.2).

There are a huge number of mixer controls and

[2022-08-19 19:24] junocomp commented on #3336
@yangxiaohua2009 sorry for the late reply. I tried what you suggested and still can't get the mic to be detected.

Here's my ACPI dump

https://file.io/4d6MsVXSGY3v

[2022-08-20 11:37] ak4nv commented on #3249
Thank a lot for your activity. It's better than doing nothing :)

[2022-08-20 18:29] Grandfather-Paradox commented on #3777
I'm on Dell XPS 9720 and have the same issue. I'm using a temporary workaround until the kernel is fixed - haven't had any luck with either the bleeding edge kernel or LTS. I added the following line to /etc/modprobe.d/blacklist.conf to blacklist the module causing the hang at boot:
`blacklist snd_sof_pci_intel_tgl`

I also created a systemd service and enabled it to then load the module after boo

[2022-08-20 21:51] ejmarkow commented on #3336
@yangxiaohua2009 When running "dmesg -wH" & simultaneously plugging / unplugging the mic and then the speaker jacks with Dynamic Debug activated for the file es8316.c [ `# echo "file sound/soc/codecs/es8316.c +p" > /sys/kernel/debug/dynamic_debug/control` ], there is **_no response_** at all, with no output for any flags. No effect.

For the file es8316.c, I tested this with both the current code

[2022-08-21 01:17] tea commented on #3447
@plbossart > no way to discover how the hardware is wired

I noticed DSDT ACPI table contains _DSM method (think its UUID is a9800c04-e016-343e-f441-6bcce70f4332). Pretty sure it contains this information and the Windows ES8336 drivers are using it. Maybe Everest can be persuaded to reveal its layout?

[2022-08-21 06:45] ejmarkow commented on #3336
@yangxiaohua2009 When running "dmesg -wH" & simultaneously plugging / unplugging the mic and then the speaker jacks with Dynamic Debug activated for the file es8316.c [ `# echo "file sound/soc/codecs/es8316.c +p" > /sys/kernel/debug/dynamic_debug/control` ], there is **_no real-time response_** at all, with no output for any flags & no effect.

For the file es8316.c, I tested this with both the cu

[2022-08-21 12:22] F0xedb commented on #4055
Hi @lgirdwood,

I'm able to replicate the verbs working on the Galaxy Book 2 Pro 360.

Since the original Author is not replying I might be able to assist with getting the minimal verb list to get it working.
What is the best approach to get this minimum set of verbs?