[2022-10-29 09:39] katyo commented on #3900
@plbossart

[code]
[dmesg.log](https://github.com/thesofproject/linux/files/9893358/dmesg.log)

[2022-10-30 08:08] faerics commented on #3873
TL;DR no sound, dummy output but seems that something has changed and we need a topology.
Cherry picked 2 commits on top of [es8336-v6.0](https://github.com/thesofproject/linux/tree/es8336-v6.0) and compiled.

No sound, dummy output is still here. Maybe we are missing some topologies?
Loooking at dmesg I noticed this fragment:
[code]

Attaching full alsa-info: [alsa-info-v6.txt](https://github.com

[2022-10-30 08:36] hakanrw commented on #3249
Fedora 36, kernel 6.0.5

Issue persists :/

[2022-10-30 16:09] bandundu commented on #3249
I was so excited to use the Matebook 14 2021 AMD to get the best customized laptop experience.... welp no sound sadly.

If anyone is interested in getting their MICs working, I got it working with following link:

https://forums.linuxmint.com/viewtopic.php?t=373391

Still waiting for a speaker fix and im open for testing

[2022-10-31 00:08] junocomp opened #3973 "Debian"
I know this might not the best place to do this, but I am having a hard time a place where I can request this on github.

Can anyone enable `CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m` on Debian's kernel? Is currently not enabled and it requires rebuilding the entire kernel just for this.

[2022-10-31 15:57] plbossart commented on #3873
@faerics please try this:

[code]

[2022-10-31 16:00] plbossart commented on #3900
I don't see any errors in the logs @katyo  not sure what to do here.

[2022-10-31 19:00] paulmenzel commented on #3777
Vinod applied it to the soundwire fixes branch: https://git.kernel.org/pub/scm/linux/kernel/git/vkoul/soundwire.git/commit/?h=fixes&id=13c30a755847c7e804e1bf755e66e3ff7b7f9367, so I am hopeful it’ll get into Linux 6.1.

[2022-10-31 19:17] davekrh commented on #3777
As an additional data point, my XPS 13 9315's audio has been functioning well on newer Arch Linux kernels, most recently `linux 6.0.6.arch1-1`. I haven't had to remove/add the -tgl module for a couple weeks.

[2022-10-31 19:39] plbossart commented on #3973
probably best to use IRC for this

https://wiki.debian.org/DebianKernel

[2022-10-31 19:51] junocomp commented on #3973
IRC... that's a bit outdated. I'll give it a shot.

Thanks

[2022-10-31 21:51] plbossart commented on #3896
@JuanFcoMiranda please file another issue for microphones, different chip and different problem. Thanks

[2022-11-01 01:49] keqiaozhang opened #3976 "[BUG] max98373 sdw: PARITY error detected before INT mask is enabled"
**Describe the bug**
We observed this issue in our daily test(17120), this issue happened during the suspend/resume test on TGL Volteer Chromebook.
This issue is hard to reproduce and no reproductions so far.

**dmesg**
[code]

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-sdw-max98373-rt5682.tplg MODEL=TGLU_VOLT_SDW_ZEPHYR ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5

[2022-11-01 02:39] libinyang commented on #3777
I tested https://github.com/thesofproject/linux, which is using 6.1.0-rc1, and it also works.

[2022-11-01 06:18] dezo4 commented on #3447
Thanks @yangxiaohua2009 it helped!
Although this file is already present in debian's alsa-ucm-conf 1.2.7.2-1 so I'll try to merge those two.
Btw any idea why there's 3 HDMI devices when there's only 1 HDMI out?
[code]

[2022-11-01 06:30] dezo4 commented on #3447
@plbossart I can see your patches from es8336-v5.19 are already merged in linux/master but if I boot debian's
6.0.0-2-amd64 #1 SMP PREEMPT_DYNAMIC Debian 6.0.5-1 (2022-10-28) x86_64 GNU/Linux
I still get no sound...
[code]
Any idea? Thanks

[2022-11-01 09:00] miRoox opened #3979 "[BUG] Input/output error happened when playback on hw:0,2 on MTLP_RVP_NOCODEC"
**Describe the bug**
CI observed input/output error when testing basic playback on MTLP_RVP_NOCODEC

CI report ID: 17123

**To Reproduce**
[code]

**Reproduction Rate**
About 50%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/thesofproject/linux/commit/69c5960521f2
    * FIrmware: IPC4 teste

[2022-11-01 12:43] changedsoul commented on #3777
Agreed, I just upgraded from 6.0.1 to 6.0.6 and I also now have working sound.
Wonder what changed. Glad its working.

[2022-11-01 13:13] Grandfather-Paradox commented on #3777
It seems to be fixed for me on `6.0.6.arch1-1` as well.

[2022-11-01 13:20] gongjun-song opened #3980 "DSP initialization failed after platform boot"
**Describe the bug:**
After the platform boot, the DSP initialization fails and the audio does not work.
[code]

**dmesg:**
[code]

**To Reproduce:**
After booting, DSP init failed.

**Reproduction Rate:**
100%

**Environment:**
Kernel Branch: topic/sof-dev
Kernel Commit: 69c5960521f220ead

**SOF Branch:**
sof-v2.2

**Platform:**
ADL-PS

**dmesg:**
[dmesg.log](https://github.com/thesofproject/linu

[2022-11-01 13:20] paulmenzel commented on #3777
All Arch users, what Linux version did you run before? Did Arch apply any additional patches?

[2022-11-01 13:30] Grandfather-Paradox commented on #3777
@paulmenzel I can't pinpoint when it was fixed personally because I hadn't tried not using the workaround in weeks. I only tried because of @changedsoul 's comment.

[2022-11-01 14:14] victornoel commented on #3777
@paulmenzel you can see the tree they used for 6.0.6 here: https://github.com/archlinux/linux/commits/v6.0.6-arch1
Included is the fix about the clock stop timeout in particular.

[2022-11-01 14:16] plbossart commented on #3976
This is harmless @keqiaozhang, we see this all the time with most codecs. We even have a quirk to make the error go away.

[code]

[2022-11-01 14:34] plbossart commented on #3980
Are you really using 2.2 @gongjun-song ?

[code]

[2022-11-01 14:39] paulmenzel commented on #3777
@victornoel, thank you for the URL, indeed https://github.com/archlinux/linux/commit/f4e799545c0fc46a5899853f60776adc8671776c was cherry picked, which might explain, why the issue has been fixed.

[2022-11-01 15:31] gongjun-song commented on #3980
Sorry, I attached the old dmesg, please see the new attachment.
[adl-ps_dmesg.log](https://github.com/thesofproject/linux/files/9911676/adl-ps_dmesg.log)

[2022-11-01 16:15] marc-hb commented on #3915
Just for the record; you don't care about this: the sof->linux issue transfer was actually initiated on October 25th or earlier but then it stayed stuck at "This issue is being transferred. Timeline may not be complete until it finishes." for days. I filed (private) support ticket https://support.github.com/ticket/1847674 where Github support (manually?) completed the transfer.

[2022-11-01 17:17] faerics commented on #3873
@plbossart now I have the soundcard but still no sound. But I can hear some noises when changing volume in headphones.
What are our next steps?
[alsa-info-v6+tplg.txt](https://github.com/thesofproject/linux/files/9912594/alsa-info-v6%2Btplg.txt)

[2022-11-01 19:04] tkefeli commented on #3350
I am tkinking about, the 5.19 kernel must be installed in order to get sound for this kind of ES8336 chipsets. I say that this idea based on the information I read from https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support. I tried too many things in order to run audio device under 5.15 kernel Linux Mint, it all failed. So, i switched the Ubuntu 22.10,

[2022-11-01 20:56] phanky5 commented on #3350
Changing the soundcard to sof-hda-dsp in alsamixer, unmuting the headphone with the "m" key and then turning up the volume worked for me on Fedora 36 Kernel 5.19.16-200.fc36.x86_64. The volume control does only work partially, and I only have sound from two of the four speakers on my Matebook 14s. This is a good start! Thanks for sharing @tkefeli

[2022-11-01 22:15] dezo4 commented on #3447
I recompiled with CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m, that helped.
Now I see the card as usual but no sound at all, just a scratch at the end of a playback. Nothing is muted in alsamixer.
[dmesg.txt.gz](https://github.com/thesofproject/linux/files/9914286/dmesg.txt.gz)

[2022-11-02 01:35] keqiaozhang commented on #3976
Thanks for your confirmation. let's close this bug.

[2022-11-02 01:35] #3976 closed

[2022-11-02 01:53] keqiaozhang opened #3983 "[BUG][ADL][TGL] playback failed at the second run with ipc tx error for 0x60010000 GLB_STREAM_MSG: PCM_PARAMS"
**Describe the bug**
In today's CI tests, we found that playback failed with IPC tx error at the second run on almost all our platforms.

[code]
This is a kernel regression and caused by https://github.com/thesofproject/linux/commit/6e2cdc2e08685be62713ecdc0d7188cd64ef08de.
[code]

**To Reproduce**
run `aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q` twice.

**Reproduction Rate**
10

[2022-11-02 02:05] gongjun-song commented on #3980
@plbossart I tried all adl fw(sof-adl-s.ri(debug key and product key), sof-adl.ri(debug key and product key), ) and failed.

I think it's not a signature issue, after “cl_dsp_init” function is completed, the ”hda_cl_copy_fw“ function will be executed to copy fw. If there is a problem with the signature, it will appear during the execution of the ”hda_cl_copy_fw“ function.
But according to dmesg lo

[2022-11-02 03:06] miRoox opened #3985 "[BUG] i915 failure prevents SOF from loading on MTLP_RVP_HDA"
**Describe the bug**
i915 driver/firmware is not ready on MTL. Previously, SOF continued to load when the init of i915 and HDMI codec failed. Now, SOF cannot load after i915 failure on MTLP_RVP_HDA.

NOTE1: there is no kernel log for SOF modules, dmesg seems to end with i915 failure after the system boot.
NOTE2: SOF modules look probed:
[code]

**To Reproduce**
check the kernel log after the syste

[2022-11-02 03:32] yangxiaohua2009 commented on #3447
@dezo4 please provide your amixer settings or alsainfo.
If the playback device changes when you plug/unplug the jack then you are lucky, changing the amixer kcontrol settings should give you sound.

[2022-11-02 09:12] dezo4 commented on #3447
@yangxiaohua2009 Thanks, I'll upload the alsainfo as soon as I get to the machine.

To summarize:
- plbossart's 5.19 kernel from branch es8336-v5.19 works fine, I have sound from speakers, headphones, hdmi, all working fine
- recompiled debian's 6.0.0-2-amd64 looks all fine, but no sound at all

[2022-11-02 10:00] spacer2010 commented on #3350
Debían testing is now on kernel 6.0 and I don't get any sound, only have
sound if I put earphones then I get sound from speaker. 10 month persist
this problem it's a shame for Linux.

Wolfgang Endres

On Tue, Nov 1, 2022, 20:05 tkefeli ***@***.***> wrote:

[2022-11-02 10:04] foofly commented on #3350
I've seen some other people saying that their audio issues with the new kernal was solved on wayland with installing WirePlumber. Has anyone attempted that?

[2022-11-02 10:07] lnicola commented on #3350
@spacer2010 can you try to use `alsamixer` to unmute and increase the volume on your headphones?

[2022-11-02 11:53] spacer2010 commented on #3350
I have installed wire plumber but no changes, no sound.

Wolfgang Endres

On Wed, Nov 2, 2022, 11:04 Bill Kav ***@***.***> wrote:

[2022-11-02 12:02] cihatertem commented on #3350
Guys, topic goes to wrong way. You all miss the main issue that headphone / speakers are mismapped. And there is only sound from speakers while headphones connected or not connected! and you cannot get sound from headphones with any other changes.

After headphones connect/disconnect, you have to make un-[MM] headphones to get sound from speakers.

From start of the issue till now, we could use al

[2022-11-02 12:04] lnicola commented on #3350
Agreed.

Hmm, for me (on Fedora 37) it works without connecting and disconnecting anything. It's just that the volume control is wrong.

[2022-11-02 12:08] spacer2010 commented on #3350
On debían testing, only get sound from speaker with earphone plugged in.

Wolfgang Endres

On Wed, Nov 2, 2022, 13:05 Laurențiu Nicola ***@***.***>
wrote:

[2022-11-02 12:09] cihatertem commented on #3350
Well I totaly forget this problem. Yes, I am at ubuntu 22.04 with gnome and volume doesnt change from gnome volume slider. I have to  set speaker's volume from alsamixer with headphone section.

[2022-11-02 12:10] lnicola commented on #3350
As I mentioned before, I have a hacky fix for this. I can publish it if anyone is interested (feel free to :+1: if you want to avoid sending an email to everyone).

[2022-11-02 12:34] plbossart commented on #3983
@keqiaozhang @ranj063 is there a reason why CI didn't catch this issue earlier during PR tests? Is this a disconnect between PR tests and daily tests? It's ok to make mistakes, but our CI should catch issues.

[2022-11-02 12:59] plbossart commented on #3980
Sorry @gongjun-song I can't follow your explanations. You started by "it's not a signature issue" and finish with a reference of "dmesg of signature issue on other platform"

what platforms are we talking about and what is common/different between the two?

[2022-11-02 13:00] plbossart commented on #3447
well d'uh, 6.0.0 does not have all the patches required, see https://github.com/thesofproject/linux/wiki/ES8336-support#60-support

[2022-11-02 13:08] lnicola commented on #3350
@cihatertem see https://github.com/lnicola/mirror-volume. It's not exactly "ready", don't tell anyone I wrote it 🫣.

[2022-11-02 13:15] dezo4 commented on #3447
@plbossart Useful page, thanks! So I just have to wait for all the pataches to get to master.

[2022-11-02 14:10] gongjun-song commented on #3980
@plbossart Sorry, I didn't explain clearly

We are talking about the ADL-PS platform.

I just use the signature issue on the ADL-P platform(other platform) as an example to discuss what the log of the signature issue looks like (There is no problem with ADL-P, I just artificially selected the wrong signature fw on ADL-P to get the error log).

If it's a signature issue, the result should be an err

[2022-11-02 17:13] ranj063 commented on #3983
@plbossart CI did catch this but we missed it. I think with the 01.org migration going, we should have looked at both test results for a PR in the dashboard but the name "pr" for the device test fooled us. It's only for IPC4 and IPC3 is covered by the "stable_v2_2_PR" test

[2022-11-02 18:20] #3983 closed

[2022-11-02 18:45] anticodeninja commented on #3350
Hi, everyone!

Disclaimer: I saw the HDA spec for the first time in my life just a few evenings ago so there is a chance that I might understand something incorrectly, but I still hope that my experience might be helpful.

After spending a few evenings with QEMU, HDA spec, CX20671 Datasheet (it is another SoC, but it's better than nothing) and hda-verb I was able to find the commands which can fix

[2022-11-02 20:50] xalexalex commented on #3350
@anticodeninja Remarkable! This is the first time I've heard sound through my headphones in linux on this laptop. Congrats for the great job and I too hope someone will integrate this ASAP. Meanwhile your commands can be put into scripts and they work very well. I have added them to the [ArchWiki](https://wiki.archlinux.org/title/Huawei_MateBook_14s#Audio) for the benefit of our Matebook 14s fello

[2022-11-03 06:16] aiChaoSONG opened #3988 "[BUG][TGLU_UP_HDA/TGLH_SKU0A70_HDA] NULL pointer de-reference causes system freeze"
This issue is spotted on TGLU_UP_HDA/TGLH_SKU0A70_HDA devices, the system freezes in login window. we cannot login even with remote ssh.

After debugging, I block SOF driver, and do manually probe, find that the system hangs on DSP suspend, there is a null pointer de-reference.
[code]

[hang_dmesg.txt](https://github.com/thesofproject/linux/files/9926034/hang_dmesg.txt)

[2022-11-03 07:06] gongjun-song commented on #3980
@plbossart Yes, it's Intel RVP and uses the latest IFWI.

[2022-11-03 10:53] plbossart commented on #3988
@mengdonglin @aiChaoSONG we clearly have gaps in the kernel PR coverage, can we fix this please? we have 5 PRs ready to merge and all tests go boink.

[2022-11-03 12:23] philipperoubert commented on #3350
@anticodeninja You're amazing. Thanks a lot for this solution, it's almost been a year since we had this issue. Tested it and it works on my Ubuntu.

I made a script that toggles the sound output between speakers and headphones and I bound it to a keyboard shortcut. That way every time I press F10, it changes to the other output.

It's a bit of a hacky solution but it works. I tried to find a way

[2022-11-03 18:24] #3988 closed

[2022-11-03 19:47] marc-hb commented on #3988
I think (and hope) this is only due to sof-ci.01.org being temporarily down and people being unfamiliar with the internal interface. In other words: no coverage gap that bad.

[2022-11-03 22:56] marc-hb commented on #3867
@plbossart just told we could change that. I will look into it.

[2022-11-04 01:11] keqiaozhang opened #3991 "[BUG] Source DETECT SINK 13 not found"
This is a kernel regression and caused by https://github.com/thesofproject/linux/commit/5af7c07c632a3df943fdf9826db11974e502f467.

[code]
Ranjani has provided a potential fix:https://github.com/thesofproject/linux/pull/3990.

**dmesg**
[code]

This issue happened on TGLU_VOLT_SDW_ZEPHYR and ADLP_GMB_I2S_ZEPHYR

[2022-11-04 04:19] marc-hb commented on #3988
Just for the record the boot regression was bisected to https://github.com/thesofproject/linux/commit/6e2cdc2e086 / https://github.com/thesofproject/linux/pull/3957

[2022-11-04 08:44] kv2019i commented on #3985
@keqiaozhang @miRoox This can be avoid by commenting out "options i915 force_probe=*" for now with sof-dev kernel.

[2022-11-04 14:30] miRoox commented on #3985
I have confirmed that now SOF can load without `options i915 force_probe=*`. But I'm not sure if this is a regression or expected behavior, because SOF can load even with `options i915 force_probe=*` on at least ea1ca7d0610c.

[2022-11-04 15:06] kv2019i commented on #3915
Potential issue in upstream ALSA, discussed in https://mailman.alsa-project.org/pipermail/alsa-devel/2022-November/208068.html

[2022-11-04 15:14] kv2019i commented on #3985
@miRoox This is a regression in i915 driver, but basicly we should not start to use it until it the version in sof-dev (which is quite old compared even to DRM tip) is mature enough. Only then we can add the "force_probe=" back.

[2022-11-04 15:14] #3985 closed

[2022-11-04 17:54] plbossart opened #3993 "HDA: i915 power-down no-op"
Forking new issue from https://github.com/thesofproject/linux/pull/3933#discussion_r1014175537 discussion:

The i915 power management is a bit misleading in the power is turned on/off in multiple places. It's unconditionally turned on/off in hda_codev_i915_init/exit and conditionally everyone else. that's fine, but @ujfalusi has a point that this is a no-op in hda.c

[code]

this code was added by

[2022-11-04 18:33] kv2019i commented on #3993
Good catch @ujfalusi @plbossart . Both of those patches are good, but I got trapped by my own cleverness in 71cc8abb6ec705ce4efbb54e401004687d40a641 which incorrectly added the no-op. That bit is harmless and can be removed as the power reference is not taken in hda_codec_i915_init() if no i915 codec is found.

[2022-11-04 19:21] plbossart commented on #3993
Not quite following @kv2019i, is this that you are suggesting?

[code]

[2022-11-04 19:35] kv2019i commented on #3993
I was actually thinking of removing both lines, but actually you are right, this is actually broken in the case that a) i915 is present, b) display codec for some reason doesn't show up on HDA bus. With current code, we keep display power on always.

But yeah, fixing this requires more thought and covering all the various ways display codec can go missing...

[2022-11-04 19:50] plbossart commented on #3993
ok, let's sleep on it @kv2019i. it's not urgent

[2022-11-06 14:44] faerics commented on #3873
@plbossart should I change quirk or try something else?

[2022-11-07 01:33] keqiaozhang commented on #3991
https://github.com/thesofproject/linux/pull/3990 has been merged, closing this bug.

[2022-11-07 01:33] #3991 closed

[2022-11-07 13:57] plbossart commented on #3873
You can try the quirks suggested here: https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

[2022-11-07 16:50] junocomp commented on #3932
I got it to work, this has to be turned on.

amixer -c0 cset name='Right Headphone Mixer Right DAC Switch' on
amixer -c0 cset name='Left Headphone Mixer Left DAC Switch' on

[2022-11-07 16:50] #3932 closed

[2022-11-07 16:51] junocomp commented on #3973
Still no luck. Can someone from the SOF team request this?

[2022-11-07 16:54] junocomp opened #3997 "es8336 HiFi.conf"
I believe the current HiFi.conf for es8336 is incorrect and does not enable the require volumes for the speakers.

I have attached my conf file, this enables the speakers from startup, detects the HDMI audio and enables the internal microphone. I have tested this on 3 devices now and it seems to work. Can other people test it too please. If it works, it will be worth pushing it upstream.

Make sur

[2022-11-07 17:21] plbossart commented on #3973
I don't have any contacts with the Debian kernel team, sorry.

[2022-11-07 18:52] mitosu-me commented on #4540
Hi, I running kernel version 5.19.17 and I encountered the same problem on Dell XPS 9320, does the patch only work above 5.19.17?

sof-firmware version is 2.2

[2022-11-07 18:56] plbossart commented on #4540
The recommendation is to update to version 6.0.6 and later.

[2022-11-07 19:02] mitosu-me commented on #4540
I see, thanks.

I need to wait the kernel version 6 of lts come out so zfs could bump the Linux compatible.

[2022-11-07 21:01] junocomp commented on #3973
Managed to get someone to upstream it. Closing.

https://salsa.debian.org/kernel-team/linux/-/merge_requests/575

[2022-11-07 21:01] #3973 closed

[2022-11-07 21:16] paulmenzel commented on #4540
@plbossart, only in Arch Linux the patch was backported to the Linux kernel package. It’s not in the official stable release (or Linus’ master) to my knowledge.

[2022-11-07 22:38] marc-hb commented on #3924
Still happening in today's daily 17437?model=TGLH_SKU0A5E_SDW_ZEPHYR&testcase=verify-kernel-boot-log

Draft PR https://github.com/thesofproject/linux/pull/3941 not merged.

I spotted some BIOS error too, dunno whether it's related

[code]

[2022-11-08 03:19] miRoox commented on #3979
Didn't reproduce on the IPC4 tester. For SOF, there are https://github.com/thesofproject/sof/issues/6545 and https://github.com/thesofproject/sof/issues/6546 with more details.

[2022-11-08 03:19] #3979 closed

[2022-11-08 05:19] miRoox opened #3999 "[BUG] audio process died after suspend-resume with audio"
**Describe the bug**
CI observed the capture process prematurely died after suspend-resume with capture on TGLU_VOLT_SDW_ZEPHYR.

**To Reproduce**
[code]

**Reproduction Rate**
twice in CI, hard to reproduce manually.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: topic/sof-dev | https://github.com/thesofproje

[2022-11-08 10:45] ujfalusi commented on #3924
fwiw, I have a Dell Latitude 9520 (SKU: 0A3E) which have both rt1308,  rt715 and rt711 (loads sof-tgl-rt715-rt711-rt1308-mono.tplg).
I can not reproduce any of the issues seen in CI with these codecs (on sh-tglh-0a5e-sdw-01).
[code]
or
[code]
or the ones mentioned in this issue.

[2022-11-09 01:28] plbossart commented on #3901
@htot @andy-shev it's unlikely that anyone in our team will have time to look into this, my only recommendation at this time is to revert the commit 5947b27 with PR #3913

[2022-11-09 14:28] faerics commented on #3873
@plbossart
Tested all the quirks, no luck. As per docs, changed 4th, 6th, 7th and 8th of the quirk mask. Results (numbers in breckets are bits enabled; 'no sound at all' options omitted):
[code]

Can you assist on next steps?

[2022-11-09 15:28] plbossart commented on #3873
Sorry @faerics I don't have additional suggestions. The only way to progress would be to read the configuration in the _DSM table suggested in another bug report. I don't have the time to work on this, and no hardware to test. This will have to be a community effort.

[2022-11-09 15:38] nileshpatra commented on #4540
Hi, I am on 6.0.7 but the issue seems to still persist.

[code]

The version of `firmware-sof-signed` is `2.2.2-1`

And
output of [/usr/sbin/alsa-info](http://alsa-project.org/db/?f=4475830b7ee10217918453286dd5ef83b51804e6) shows:

[code]

I am quite clueless at the moment as to what should be done. I'd appreciate any inputs.

[2022-11-09 15:46] plbossart commented on #4540
no you're not, see below

that's 6.0.0?

[2022-11-09 15:51] paulmenzel commented on #4540
@plbossart, see the string at the end: 6.0.7-1.

@nileshpatra, the upstream stable series and Debian does not cherry-pick/carry the patch fixing the issue in contrast to Arch Linux, cf issue https://github.com/thesofproject/linux/issues/3777.

[2022-11-09 16:16] nileshpatra commented on #4540
@paulmenzel

Thanks for replying.
Is there any workaround for it other than compiling the kernel w/ that patch? Unloading/loading that module does not seem to work any more with the newer kernel :(

[2022-11-09 17:39] plbossart commented on #4540
It's not just me that's confused, see alsa-info
[code]

The patch was added to soundwire/fixes but I don't see it in Linus' tree just yet, so it can't be in linux-stable yet. must be stuck between maintainers. I asked for an update.

[2022-11-10 03:45] imtangmeng opened #4002 "Audio input and output devices are unavailable"
When using Huawei matebook 13, it is found that the sound card it carries cannot recognize the input and output devices, the sound card information is as follows:

$ hwinfo --sound
13: PCI 1f.3: 0401 Multimedia audio controller
  [Created at pci.386]
  Unique ID: nS1_.mw3hUWAgijA
  SysFS ID: /devices/pci0000:00/0000:00:1f.3
  SysFS BusID: 0000:00:1f.3
  Hardware Class: sound
  Model: "Intel Multim

[2022-11-10 08:33] miRoox opened #4041 "[BUG] ipc timed out for 0x46020004|0x30004 when multiple-pipeline-playback on TGLU_UP_HDA_CAVSIPC4"
CI observed ipc timed out for 0x46020004|0x30004 when multiple-pipeline-playback on TGLU_UP_HDA_CAVSIPC4.

**To Reproduce**
[code]

**Reproduction Rate**
Once in CI (need further investigation)

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: topic/sof-dev | https://github.com/thesofproject/linux/commit/551c11c3

[2022-11-10 15:22] Grandfather-Paradox commented on #3777
I have just observed the strangest thing related to this bug. For a while, I was using the workaround with blacklisting the sound module and then loading it at boot with systemd. I got rid of this workaround once the kernel was fixed and have had no issues with the sound or long boot time since. However...my university uses SecureW2 for connecting to WiFi and provides a script for connecting Linux

[2022-11-10 17:40] plbossart commented on #4002
[code]

-> please see
https://github.com/thesofproject/linux/wiki/ES8336-support
https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

[2022-11-10 17:42] plbossart commented on #4002
and clearly 5.18.17 will not support this codec, need 6.0 + patches listed in the wiki, and even that is not a sure bet of success.

[2022-11-10 17:45] plbossart commented on #3997
@junocomp it'd be easier to review if you provided a PR against the upstream alsa-ucm-conf directly. You will not get much feedback here, and you'd want to ping @yangxiaohua2009 on UCM changes anyways.

[2022-11-10 17:50] plbossart commented on #3999
IPC3 + Zephyr issue, this is going to be difficult to debug given the focus on IPC4, even more so if it's not reproducible manually.

[2022-11-10 19:19] juimonen commented on #3999
We seem to have similar issue with ipc4+zephyr+native_drivers in tgl. Like dw dma would not start after wake up. This can be regression in sof or zephyr. @miRoox is this something that has been working before with this setup?

[2022-11-11 14:00] kv2019i commented on #3915
Fix for ALSA memalloc.c available on alsa-devel https://lore.kernel.org/alsa-devel/20221110132216.30605-1-tiwai@suse.de/T/#u

This will avoid the DMAR fault . It is still open why dma_alloc_noncontiguous() fails to begin with (leading to DSP firmware load to fail). This is likely not a SOF driver issue, but keeping this open until we have more data and can make more firm conclusions on the sequenc

[2022-11-12 05:12] fredoh9 opened #4008 "[GLK][KMOD] Kernel RIP during testing check-kmod-load-unload-after-playback"
Found Kernel RIP OOPS.

- Platform: GLK_BOB_DA7219
- Kernel Branch: topic/sof-dev
- Kernel Commit: [551c11c310ac](https://github.com/thesofproject/linux/commit/551c11c310ac)
- SOF Branch: stable-v2.2
- SOF Commit: [afe466da0238](https://github.com/thesofproject/sof/commit/afe466da0238)

Internal test link: 17482?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-after-playback-5

[code]

[dmesg-

[2022-11-12 05:30] fredoh9 commented on #4008
Found more,
17390?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-25
17390?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-after-playback-5

- Kernel Branch: topic/sof-dev
- Kernel Commit: [cb13f81e00b4](https://github.com/thesofproject/linux/commit/cb13f81e00b4)
- SOF Branch: stable-v2.2
- SOF Commit: [afe466da0238](https://github.com/thesofproject/sof/commit/afe466da0238)

[2022-11-12 05:42] fredoh9 commented on #4008
For daily test, kernel RIP OOPS is found in this week for the first time(2022-11-06 23:58:41 UTC)

But after scanning test results database, some of kernel PR tests with stable-v2.2 branch found same RIP OOPS. For example, kernel PR 3787. Due to 01.org under migration/construction, I couldn't add the link here.

First PR stable test failed with same RIP is kernel PR 3888 at 2022-10-26T02:44:27.254

[2022-11-12 19:58] fredoh9 commented on #4008
I kinds of remembered JF device had unstable issue in long time ago, I scanned the database again to make sure this is not found only one DUT. Yes, I found at least two devices had reported same RIP.

[2022-11-13 10:26] szatanjl opened #4010 "[BUG] Headset microphone doesn't work on ASUS Zenbook UX435"
**Describe the bug**

Microphone in headset connected to a laptop (ASUS Zenbook UX435EG) via jack doesn't work.  Works on Windows no problem.
Built-in laptop microphone gets detected as "Tiger Lake-LP Smart Sound Technology Audio Controller Digital Microphone" and works without any issues.  But the headset one is either not detected or detected but picks up only silence.

In pulsemixer I can see t

[2022-11-14 03:39] ranj063 opened #4009 "Early bclk feature for SSP is broken"
With the removal of widget setup in hda_ctrl_dai_widget_setup(), the DAI_CONFIG is never sent with the SOF_DAI_CONFIG_FLAGS_HW_PARAMS(). This means that the early bit clock feature will not be enabled by the firmware if it is requested in topology.

[2022-11-14 03:41] ranj063 commented on #4009
https://github.com/thesofproject/linux/pull/3975

[2022-11-14 07:07] imtangmeng commented on #4002
I used the 6.1.0-rc4 version + New topology files added in /lib/firmware/intel/sof-tplg (es8336_topologies_main.tar.gz), but the input and output devices are still not recognized, and the kernel still reports an error, see the link for details:
https://github.com/imtangmeng/intel-audio/blob/master/alsa-info.txt.8pNeq2sof7
https://github.com/imtangmeng/intel-audio/blob/master/dmesg.log

[2022-11-14 15:02] lgirdwood commented on #4010
@szatanjl do you have the relevant sections of dmesg ? One thing we do see a lot is that the Linux HDA codec driver is missing  some of the HDA verb configurations used to enabled newer HDA codecs (and this is manually done by Windows OEMs for Windows).
See https://github.com/agasecond/QemuDumpHDAVerbs and https://github.com/Conmanx360/QemuHDADump

[2022-11-14 16:19] plbossart commented on #4008
It's a known codec issue @fredoh9, we've never been able to figure it out.

[2022-11-14 16:23] plbossart commented on #4002
https://github.com/thesofproject/linux/wiki/ES8336-support#background

You also want to enable dynamic debug as suggested in https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#enable-dynamic-debug. The recommended configuration is to copy this file sof-dyndbg.conf.txt

[2022-11-14 16:34] plbossart commented on #4010
Try this first @szatanjl, this is likely an HDaudio codec issue. SOF driver/firmware know nothing about headsets.

Edit: with the link this time
https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#disable-sof-on-pci-hdaudio-devices-to-test-audio-playback

[2022-11-14 17:56] Usulyre opened #4011 "essx8336 not detected at all?"
Hi, I have windows 10 os and audio is working I have essx8336 sound device.

I have defaults in bios settings.

I'm trying to get audio working in any linux distro, tried ubuntu, fedora, arch, nothing works.

My problem is that the essx8336 card is not detected at all even after kernel updates, etc.

Do I have to change something in bios to get it to be detected in linux?

I can provide info, let

[2022-11-14 18:20] plbossart commented on #4011
Start with this and https://github.com/thesofproject/linux/wiki/ES8336-support and https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support

[2022-11-14 18:57] Usulyre commented on #4011
Yes I have looked over those two links already. I didn't really try the 'quirk' parameter yet though although in ubuntu i followed this guide:

https://forum.ubuntu.org.cn/viewtopic.php?f=42&t=493254

Is it not being detected because I don't know the 'quirk' value?

How exactly do I find the correct 'quirk' value?

[2022-11-14 19:04] plbossart commented on #4011
well, if you look at the links but don't follow the suggestions, and use a reference to a webpage in Chinese I am not sure how I can help.

[2022-11-14 19:09] Usulyre commented on #4011
Hi, I used google translate

sudo apt install --install-recommends linux-oem-22.04a

git clone https://github.com/yangxiaohua2009/custom-kernel

cd custom-kernel

cp ./tplg/* /lib/firmware/intel/sof-tplg/

cp sof-jsl.ri /lib/firmware/intel/sof/

cp -r sof-essx8336 /usr/share/alsa/ucm2

cd /lib/firmware/intel/sof-tplg

cp sof-jsl-es8336-ssp1.tplg sof-jsl-es8336.tplg

gedit /etc/modprobe.d/alsa-base

[2022-11-14 19:15] plbossart commented on #4011
in general we don't provide any guidance for custom kernels here. If you file an issue against the SOF driver, you need to first follow the links and install whatever is recommended for 5.19 or 6.0.

 If you want to ask @yangxiaohua2009 for support on his custom kernel that's a different topic and different support.

Pick one.

[2022-11-14 19:18] szatanjl commented on #4010
Thank you for quick reply.

Which are the relevant sections of dmesg?  I am attaching the whole dmesg output.
[dmesg.log](https://github.com/thesofproject/linux/files/10006236/dmesg.log)

I will go over the links provided and try to collect HDA dump from Windows.  I can see that it is not 5 minute work so I will need to find some more time.  Maybe I will get to it on weekend.

[2022-11-14 19:22] Usulyre commented on #4011
Hi, all I'm saying is that I tried that. I followed the links as well.

I also did the the "setup sof on a linux machine" Sound audio card was not detected at all. So I only see the 'quirk' parameter as an option. Again I would like to ask:

Is it not being detected because I don't know the 'quirk' value?

How exactly do I find the correct 'quirk' value?

[2022-11-14 19:30] plbossart commented on #4011
if you followed the links, then you must have tried with 6.0+patches, enabled dynamic debug and attached the logs. I don't even know what the 'quirk' value might be until we see the results. I don't even know what platform this is - you provided zero information.

[2022-11-14 19:34] kv2019i commented on #3915
Another issue found with SGT/nonconfig allocs not used when IOMMU is enabled with chromeos-5.15 kernel. More detailed analysis posted to alsa-devel:
https://mailman.alsa-project.org/pipermail/alsa-devel/2022-November/208661.html

[2022-11-14 19:51] fredoh9 commented on #4008
duplicated with https://github.com/thesofproject/linux/issues/2676

I kind of remembered the similar call trace but couldn't find the above known issue. Closing this now

[2022-11-14 19:51] #4008 closed

[2022-11-14 23:57] fredoh9 opened #4013 "CML_HEL_RT5682 has I2C communication timed out, no soundcard"
CML_HEL_RT5682 has I2C communication timed out. After reboot, same build in same device works fine.
Found this errors while device testing with stable-v2.2 for PR 4012, but not the PR specific. jf-cml-hel-rt5682-02 is used.

SOF Branch: stable-v2.2
SOF Commit: [afe466da0238](https://github.com/thesofproject/sof/commit/afe466da0238)

[code]

https://sof-ci.01.org/linuxpr/PR4012/build1916/devicetest

[2022-11-15 03:02] Usulyre commented on #4011
Just finished installing the kernel on xubuntu. What log do i provide? How to install sof-logger? Also I am unclear about dynamic debug as well.

[2022-11-15 03:53] Usulyre commented on #4011
[alsa-info.txt](https://github.com/thesofproject/linux/files/10009002/alsa-info.txt)

[2022-11-15 08:50] bardliao opened #4021 "[BUG] PCM IO error with multi stream capture topology on pause-resume test"
**Describe the bug**
PCM IO error happen when I run the "~/sof-test/test-case/multiple-pause-resume.sh -r 50" test.

**To Reproduce**
1. export TPLG=/lib/firmware/intel/avs-tplg/sof-tgl-nocodec.tplg
2. ~/sof-test/test-case/multiple-pause-resume.sh -r 50

**Reproduction Rate**
100%. But I can't reproduce this issue if I start two PCMs and pause-resume them manually.

**Expected behavior**
PASS "~/s

[2022-11-15 09:09] imtangmeng commented on #4002
https://github.com/imtangmeng/intel-audio/blob/master/alsa-info.txt.mxZCX3G4qW
https://github.com/imtangmeng/intel-audio/blob/master/sof-dyndbg.conf-log

[2022-11-15 15:31] plbossart commented on #4011
Just copy this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/10013953/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf

Also make sure that you have all ES8336 options selected, e.g.

CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m
CONFIG_SND_SOC_ES8316=m
CONFIG_SND_SOC_ES8326=m

[2022-11-15 15:31] plbossart commented on #4011
and attach the dmesg log

[2022-11-15 15:41] plbossart commented on #4002
You are using an ancient firmware from maybe 2 years ago.
[code]
It's not really surprising that you get an error, this firmware should not even work on TGL :-)

Please update your firmware, depending on distributions this can be in different packages.

[2022-11-15 15:42] plbossart commented on #4002
ubuntu: firmware-sof-signed
fedora: alsa-sof-firmware

[2022-11-15 16:21] Usulyre commented on #4011
Ok, i downloaded the sof-dyndbg.conf.txt and copied the contents into /etc/modprobe.d/sof-dyndbg.conf file.

Where do i put:

CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m
CONFIG_SND_SOC_ES8316=m
CONFIG_SND_SOC_ES8326=m

[2022-11-15 16:27] plbossart commented on #4011
just add it to your config file and re-run 'make olddefconfig' and check it's still there.
alternatively use 'make menuconfig' and select them manually.

[2022-11-15 16:36] Usulyre commented on #4011
Where is the config file located?  Is it in the  /work/sof/linux folder created in the beginning?

[2022-11-15 16:38] plbossart commented on #4011
sorry, I will have to point you to the online doc at this point: https://thesofproject.github.io/latest/getting_started/setup_linux/install_locally.html

[2022-11-15 17:10] Usulyre commented on #4011
added to config file in my /work/sof/linux folder. Ran 'make olddefconfig' and still there.

Dmesg from var/log

[dmesg.txt](https://github.com/thesofproject/linux/files/10014758/dmesg.txt)

[2022-11-15 18:24] plbossart commented on #4011
it's likely that you are still having configuration issues @Usulyre. Unfortunately I don't have time to help further.

[2022-11-15 19:32] #4009 closed

[2022-11-15 20:06] fredoh9 commented on #4013
We have 4 CML Helios devices, I was able to scan entire journalctl for all 4 DUTs. This error ONLY happed with jf-cml-hel-rt5682-02 in one day(multiple failures though). At this moment I believe this is device specific issue and I saw similar i2c errors when I tested with Codec Evaluation board. The issue was i2c wire connections were loose. Will check/monitor whether jf-cml-hel-rt5682-02 to retir

[2022-11-15 23:56] drewdrew0 commented on #4055
So - the verbs that @joshuagrisham posted here saved me.  I have the Galaxy Book2 Pro Arc graphics version (NP950XEE), and none of the other fixes or verbs from the various forums worked at all.  So here's my question:

I noticed when it first worked, as others here do, that the right-side volume was about 10% less.  No biggie at all.  But during testing, I shutdown to reset, confirmed I had no so

[2022-11-16 01:21] yangxiaohua2009 commented on #4011
@Usulyre
The config files lie in /work/sof/linux/arch/x86/configs
You shound see may files end in defconfig there.
Copy the es_6_1_defconfig file to the folder and just run `make es_6_1_defconfig`
and compile again. This makes sure that you have CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m
in your config file.
[es_6_1_defconfig.zip](https://github.com/thesofproject/linux/files/10017273/es_6_1_defconfig.

[2022-11-16 06:10] imtangmeng commented on #4002
Thanks for your guidance and reminder, according to your instructions, I updated the firmware. But it still doesn't work properly.

After updating the firmware, it seems to work, there are no more obvious error messages in the log, but the audio device still has the following problems:
1. The speaker is recognized but cannot be used.
2. The built-in microphone is not recognized.
3. There is no fee

[2022-11-16 06:50] imtangmeng commented on #4002
But after updating alsa-ucm-conf to 1.2.7.2 version, the problem is still not resolved.
(This release contains your https://github.com/alsa-project/alsa-ucm-conf/commit/62a00497f40bb4e0b3431b8dc3bc9bd7ade09990 commit)

[2022-11-16 07:48] Usulyre commented on #4011
Hi, @yangxiaohua2009

I copied the file to that folder and ran make es_6_1_defconfig and recompiled.  I still have no audio/sound and essx8336 doesn't show up as a device either.

What can I do next?

[2022-11-16 08:02] yangxiaohua2009 commented on #4011
copy the [sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/10013953/sof-dyndbg.conf.txt)
to /etc/modprobe.d/sof-dyndbg.conf and give us your dmesg.
This config file is not the defconfig file. You need to copy it to /etc/modprobe.d/ so that we can get enough information from your dmesg

[2022-11-16 08:09] Usulyre commented on #4011
After copying, do i recompile it then give the dmesg?

[2022-11-16 08:35] yangxiaohua2009 commented on #4011
I wonder if you have installed the kernel.
After compiling the kernel, you need to install it by `sudo make install` and `sudo make modules_install`

[2022-11-16 13:55] plbossart commented on #4002
yeah, well it's the classic problem with this codec, we have no idea what configuration needs to be used for a particular instance. That's why we added quirks left and right for the user to tweak. Some users reported success, most reported failures. There is limited hope of a turn-key solution given the lack of information and variability.

The description of the quirks you can change is here: htt

[2022-11-16 15:32] Usulyre commented on #4011
Yes, I did that step. Do I recompile before sending the dmesg again?

[2022-11-16 16:36] ejmarkow commented on #3336
This is very strange. My sound & driver were working just until early this morning. After I ran an "apt update" & "apt upgrade" (attached), not only did I lose my sound. There are a plethora of errors in dmesg output (attached).

I compiled a new kernel today and the same issue and dmesg errors remain.

Did user-space (package upgrades) do this? Is it possible the new grub/grub-efi packages are th

[2022-11-16 17:00] plbossart commented on #3336
it's clearly a big regression @ejmarkow
[code]
but I can't think of any changes here. maybe there's an upstream change for the kernel, or maybe UCM/alsactl trying to address invalid controls.

It's not uncommon unfortunately to see Ubuntu updates break a setup when it was tweaked.
The other possibility is a topology update that might have overridden your previous setup.

[2022-11-16 17:08] ejmarkow commented on #3336
The topology files provided here are updated and being used on my system @plbossart.

Here is the sequence of events: Early this morning, I was on kernel 6.1.0-rc4, both sound and driver were working fine. After I ran apt update / upgrade on my Debian (Sid) system, it was still working and I shut the pc down.

Booted up this afternoon and, no sound and dmesg full of errors.

I can't imagine what w

[2022-11-16 17:17] plbossart commented on #3336
I don't see what a change at the grub level would do.

what I would try is to blacklist all SOF and es8316 drivers, and then try to manually modprobe snd-soc-es8316.
If that doesn't work, then it's clearly a codec issue, with either a regression in the driver or more worrying a hardware problem.

[2022-11-16 17:28] ejmarkow commented on #3336
I'll try that.

Just a side note, I saw this online, not for my specific driver but another driver and issue:

❝Error -121 is -EREMOTEIO, which for I2C means the interface doesn't like the state the bus is in - it's a hardware problem.❞

This has me worried.

[2022-11-16 17:32] plbossart commented on #3336
There's been multiple reports of hardware issues with these es83x6 platforms, including reflow problems causing pins to be floating. see https://github.com/thesofproject/linux/issues/3831

[2022-11-16 17:46] ejmarkow commented on #3336
That's an interesting & informative thread.

Keep in mind, this relatively low cost Mini-PC I'm using which has the codec ES8336 is **fanless** (no CPU fan), so when performing a heavy task such as compiling the kernel (takes 2 hours), the temperature for each CPU core (it's dual core) during the compilation process maximizes out at 85°C and goes no higher. Also, playing a game does the same with

[2022-11-16 19:31] fredoh9 opened #4018 "ADLP_RVP_SDW failed with KASAN slab-out-of-bounds in hdac_hda_dai_hw_params"
KASAN report this error right after simple playback.
Weekly report started to report this failure from a month ago. The reason why I hold this issue is that I couldn't reproduce the problem with same build manually. I couldn't reproduce with last week's recipe also but instead of holding it with me, submitting the issue first and I will find out what I might miss.

CMD: TPLG=/lib/firmware/intel/so

[2022-11-16 19:35] fredoh9 commented on #4011
@Usulyre copying sof-dyndbg.conf doesn't need recompiling kernel. copy it to /etc/modprobe.d/sof-dyndbg.conf and reboot once

[2022-11-16 19:40] fredoh9 commented on #4013
It didn't happened for +48hr and add this errors to device managing JIRA also. Will track this under DUT management protocol.
Closing now

[2022-11-16 19:40] #4013 closed

[2022-11-16 19:48] plbossart commented on #4018
thanks for filing this @fredoh9, we are reworking this code at the moment so we should take a look. @RanderWang @ranj063 @jsarha @ujfalusi FYI

[2022-11-16 20:09] ejmarkow commented on #3336
@plbossart, blacklisted all SOF & es8316 drivers, rebooted, then invoked 'modprobe snd_soc_es8316'.

There is still **no sound**, and of course no more errors in dmesg.

Output for 8316 after blacklisting & modprobe:

[code]

Content of /etc/modprobe.d/markow.conf:

[code]

Now that I think about it, I'd like to mention an argument against possible hardware failure: Everything on my system is work

[2022-11-16 20:21] ejmarkow commented on #3336
Also of possible importance, there is not even a "popping" or "clicking" sound anymore, not the slightest, prior to and after the blacklisting.

[2022-11-16 20:28] ejmarkow commented on #3336
Additional info (to amend a previous statement I made): My USB video camera which has a microphone is not working as well.

[2022-11-16 22:59] Usulyre commented on #4011
Ok, well here is dmesg
[dmesg.txt](https://github.com/thesofproject/linux/files/10026306/dmesg.txt)

[2022-11-16 23:10] Usulyre commented on #4011
Sorry updated dmesg here
[dmesg.txt](https://github.com/thesofproject/linux/files/10026362/dmesg.txt)

[2022-11-17 00:37] plbossart commented on #4011
@Usulyre sorry, no luck here. You have a plain vanilla ApolloLake device (PCI ID 0x5a98), you should see the SOF driver probe on this device and it doesn't. I guess you still have configuration issues.

[2022-11-17 01:03] Usulyre commented on #4011
I'm really not sure what I am doing wrong for the configuration.

[2022-11-17 01:39] yangxiaohua2009 commented on #4011
@Usulyre Please provide the config file name 'config-6.1.0-rc1-sof+' in your `/boot/` folder to prove that your configuration is correct

[2022-11-17 01:46] Usulyre commented on #4011
[config-6.1.0-rc1-sof+.txt](https://github.com/thesofproject/linux/files/10027002/config-6.1.0-rc1-sof%2B.txt)

[2022-11-17 05:08] yangxiaohua2009 commented on #3336
@ejmarkow Please run the script to rule out i2c issue. Hardware failures are very rare.
[i2c.zip](https://github.com/thesofproject/linux/files/10028190/i2c.zip)

[2022-11-17 06:30] aiChaoSONG commented on #3008
@plbossart I don't think this is still reproducible, I don't even see this issue during the year of 2022 till now. I am OK to close it.

[2022-11-17 07:46] ejmarkow commented on #3336
@yangxiaohua2009, output for the i2c.sh script:

[code]

[2022-11-17 07:57] ejmarkow commented on #3336
Also, the command:

[code]

... results in no output

[2022-11-17 08:13] yangxiaohua2009 commented on #3336
Maybe your entire I2C bus is broken? You need to search why your I2C is not working.

[2022-11-17 08:22] ejmarkow commented on #3336
If the I2C Bus is broken, why is only audio affected? Also, I2C related drivers are being loaded:

[code]
There is nothing in "/dev" for I2C:

[code]

This is in dmesg:

[code]

[2022-11-17 09:01] yangxiaohua2009 commented on #3336
what does `sudo i2cdump -f -y 1 0x11` get?
If you still get something like

then you have a broken i2c configuration.
The camera/touchpad will also be broken since they also use i2c

[2022-11-17 09:15] ejmarkow commented on #3336
[code]
This Mini-PC doesn't have a built in camera or touchpad, however USB camera works and so does mouse.

I'm aware this I2C issue is beyond the scope of this thread, so I'll continue to research it on my own. I'd like to thank you all for your kind assistance and for pointing me in the right direction.

[2022-11-17 14:52] ejmarkow commented on #3336
@yangxiaohua2009 Great news! The reason why none of the **I2C devices** were detected is because the module **i2c-dev** does not load automatically. It is required for our purposes & userspace. In many (or most) Linux distributions, this is the case, it doesn't load automatically. So I placed it in /etc/modules-load.d/markow.conf to load on boot. Now, all I2C devices are detected.

We can now proc

[2022-11-17 15:11] ejmarkow commented on #3336
@yangxiaohua2009 Based on the output, can we safely rule out any I2C issues or a hardware failure?

[2022-11-17 17:21] jairaj-arava opened #4023 "DSP transition to wrong substate (D0I3) and playback was broken soon after resume from DSP panic"
In 5.10 and 5.15 kernel code base when a forced DSP panic is created and as shown below with subsequent suspend cycles, system is transiting to wrong DSP substate (D0I3) eventhough there is no WOV stream.

[  361.163611] sof-audio-pci-intel-tgl 0000:00:1f.3: ipc3_tx_msg_unlocked: ipc message send for 0x40080000 failed: -19
[  361.163628] sof-audio-pci-intel-tgl 0000:00:1f.3: error: PM_GATE ipc err

[2022-11-18 07:03] btian1 opened #4026 "[BUG] IPC4 volume windows ramp was broken with latest sof-dev kernel and sof firmware"
**Describe the bug**
When volume change, volume ramp should take effect, however, from debug, never see ramp is happening, from sof side, finally find the cdata from kernel driver have random value, no the ramp time.

**To Reproduce**
1. build sof with ipc4 with logs inserted in volume ramp.
2. run it on test machine.
3. aplay a wav file.
4. enable mtrace and adjust volume with alsamixer, inserted

[2022-11-18 07:20] RanderWang commented on #4026
good finding!  we lack volume change test

[2022-11-18 07:58] RanderWang commented on #4026
@plbossart @ujfalusi  @ranj063. This issue is caused by driver used an old version of gain ipc msg.
[code]
But FW adopts a new version
[code]

Change definition is simple but how to deal with token reader since the curve_duration is retrieved from topology. Current our get_token only support return value of int.  And does topology support u64 token size ?

[code]
Can we define  u32 curve_duration_

[2022-11-18 09:04] yangxiaohua2009 commented on #3336
@ejmarkow Can you use the previous kernel? Looks like the kernel update ruins the i2c bus drivers. Hardware failure is very rare.

[2022-11-18 09:51] ejmarkow commented on #3336
@yangxiaohua2009 Just to let you know, I recently used a 'live' Fedora USB image & I believe the kernel was much older, something like 5.19 (I must check), but it's giving similar output in dmesg. Very strange.

However, I'll compile kernel 6.0.9 and test it. Is that version fine with you?

First, let me insert that live Fedora image once again to verify what I had just told you and determine exac

[2022-11-18 10:12] ejmarkow commented on #3336
I have just booted into a "live" Fedora Linux USB image which is using this kernel:

[code]

This is very strange. It's producing the same errors in dmesg I'm seeing in kernel 6.1.-rc5. **Previously, I didn't see these errors on this 'live' image**. What could have changed? Something did, as if automatically, a new address or register is being used, it seems.

Attached is the dmesg:

[dmesg.txt](h

[2022-11-18 10:16] ejmarkow commented on #3336
In addition to that, not long ago, Linux Kernel 6.1.0-rc4 was working fine with sound and no errors in dmesg, Then as I mentioned earlier, suddenly, after rebooting, sound failed and dmesg was swamped with these errors. I don't know why this is happening.

[2022-11-18 10:21] ejmarkow commented on #3336
This sounds very similar to the issue described in this thread (floating pins, address taking on a new value) which @plbossart posted earlier.

https://github.com/thesofproject/linux/issues/3831#issuecomment-1260557151

[2022-11-18 11:21] ejmarkow commented on #3336
@yangxiaohua2009 In this post https://github.com/thesofproject/linux/issues/3831#issuecomment-1244847275 you mentioned the I2C Chip addresses as being 0x10 or 0x11 using the range of Bus Numbers (0 to 6 in my case).

After examining the contents of these I2C addresses and Bus Numbers, it showed everything empty (XX), no values. This had to change internally, in the hardware somehow it seems.

Is t

[2022-11-18 12:14] ejmarkow commented on #3336
Found it. I used the command **i2cdetect -y** to scan a bus for devices, then in turn, the addresses for those devices can be dumped using **i2cdump -y**.

The following buses have these devices on my system:

0: 0x37, 0x3a, 0x49, 0x50, 0x59
4: 0x08, 0x44

Now, which devices are for audio/sound? Would be nice to enable the sound by hacking this.

[code]

[2022-11-18 15:40] plbossart commented on #4026
@RanderWang are we talking about the same functionality? the peak volume is typically to REPORT the volume level from the stream, not SET the gain.

[2022-11-18 19:12] kv2019i commented on #3915
Issue not occuring with upstream kernel, so closing here.

[2022-11-18 19:12] #3915 closed

[2022-11-18 19:25] fredoh9 commented on #3012
Found new one in CML_RVP_SDW
internal link: 17606?model=CML_RVP_SDW&testcase=check-suspend-resume-100

[2022-11-19 09:44] lzzu opened #4032 "[BUG] Debian12 no sound"
OS: Debian12(Bookworm)
Kernel: Linux6.0
Desktop: Gnome43

Hi!
I downloaded `firmware-sof-signed2.2.2` and `sof-bin 2.2.2`, but they didn't work properly, no response even when the headset is plugged in.

[code]

and

[code]

and

[code]

I'm still in `/etc/modprobe.d/alsa-base.conf ` file attempts `options snd-intel-dspcfg dsp_driver=1` and `options snd-intel-dspcfg dsp_driver=3` options, no sound

[2022-11-19 21:04] stealth-program commented on #3249
@bandundu can you clarify what exactly did you got working? Only microphone? Or speaker too?

[2022-11-20 02:17] Usulyre commented on #4011
anybody have a chance to look at it?

[2022-11-20 15:12] bandundu commented on #3249
@stealth-program Only the microphone is working as of now.

[2022-11-20 15:34] florian-sabonchi commented on #3350
Hello same issue here with matebook 14s alsa and pulseaudio

[2022-11-20 21:56] GeorgeKarles commented on #3350
@anticodeninja  same issue with huawei d14 in ubuntu 22.10 but when i try to run any of the commands above i get open: No such file or directory what do i do?

[2022-11-21 01:04] RanderWang commented on #4026
@plbossart  Peak volume has two modes.  The gain mode doesn't report volume level. Sof uses gain now.
[code]

[2022-11-21 01:45] yangxiaohua2009 commented on #3336
The i2c address of ES8336 should be 0x10/0x11 and not found.
Either their is a hardware failure or the bus is not correctly loaded.

Usually you should have 13 i2c bus.
I have no idea why some are missing.

[code]

[2022-11-21 01:56] keqiaozhang commented on #3999
Observed a similar issue on ADLP_RVP_SDW_ZEPHYR when testing suspend-resume with playback. Test ID:17914.
Console output:
[code]

[2022-11-21 07:50] johnysh opened #4033 "[BUG]Microphone can be detected but doesn't work"
**Describe the bug**
The microphone can be detected , but it doesn't work , records no sound, only has  one "pop" noise. Audio playback appears to be working and headset can be used to record and play normally . I did some attempt   to modify alsa-base.conf , added these lines
       options snd-intel-dspcfg dsp_driver=3
 or  options snd_sof_intel_hda_common dmic_num=4 to check which PDM it connec

[2022-11-21 09:05] ejmarkow commented on #3336
How can I determine with certainty which it is: 1) Hardware failure, or 2) Bus is not correctly loaded ?

I noticed the following in dmesg:

[code]

The multimedia controller still shows up in lspci:

[code]
In the /sys/bus/i2c/devices directory, there is:
[code]

[2022-11-21 09:12] ejmarkow commented on #3336
In the **/sys/bus/i2c/devices** directory, this shows up in the output (from above):

**lrwxrwxrwx 1 root root 0 Nov 21 08:38 i2c-ESSX8336:01 -> ../../../devices/pci0000:00/0000:00:16.0/i2c_designware.0/i2c-5/i2c-ESSX8336:01**

[2022-11-21 09:32] ejmarkow commented on #3336
So it [ESSX8336] is actually showing up in the directory for i2c-5, which represents bus `#5` [**i2c-5	i2c       	Synopsys DesignWare I2C adapter 	I2C adapter**]

[code]
[code]

[2022-11-21 09:46] yangxiaohua2009 commented on #3336
I2C 5 should have address like this '--' instead of many blanks
[code]
8336 has address of 0x10/0x11, which is blank now.
[code]

[2022-11-21 09:55] ejmarkow commented on #3336
I know it should not be blank, that's why I showed you the output. Why is it blank, what is causing this?

I was reading about ❝[Method 4: Instantiate (I2C) from user-space](https://www.kernel.org/doc/html/latest/i2c/instantiating-devices.html)❞

❝In general, the kernel should know which I2C devices are connected and what addresses they live at. However, in certain cases, it does not, so a sysfs i

[2022-11-21 10:18] ejmarkow commented on #3336
In this thread https://github.com/thesofproject/linux/issues/3831#issuecomment-1259387644, @jwrdegoede suggested several solutions to the "1 codec having 2 addresses" issue.

Would this apply to my issue as well?

[2022-11-21 10:32] jwrdegoede commented on #3336
No the codec is recognized / the codec driver correctly binds to the codec correctly in your case, so your case is a different problem.

[2022-11-21 10:46] ejmarkow commented on #3336
It was previously mentioned that either 1) Hardware failure, or 2) Bus is not correctly loaded.

Now that I have shown that ESSX8336 is actually showing up in the directory for i2c-5, which represents bus `#5` [i2c-5 i2c Synopsys DesignWare I2C adapter I2C adapter], isn't it loading correctly?

However, there are no addresses for 0x10 & 0x11 appearing, only "blank".

[2022-11-21 13:54] paulmenzel commented on #3777
Just an update, that the [fixes pull request](https://lore.kernel.org/all/Y2zH4zDyx5kWaUvz@matsya/) was [merged into Linux 6.1-rc5](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f014699cca9a9a28fbdc06a9225b54562154fc20), so the [commit is in Linus’ master branch](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?h=master&id=13c30a755847c7e80

[2022-11-21 14:10] lgirdwood commented on #4032
@lzzu this looks like the HDA codec driver is missing the correct verbs for audio input/output. There are several similar issues reported, best to search as there are some methods to detect the missing verbs and have them added to the Linux HDA codec driver.

[2022-11-21 14:24] lgirdwood commented on #4033
@plbossart @bardliao HDA verbs ? Looks like the pop captured could be the ADC being switched on ?

[2022-11-21 18:30] sathyap-chrome opened #4034 "ADL / RPL - Sound card not listed rarely post warmboot"
When we run warmboot cycling on RPL Chrome reference design ( also seen 1 time on ADL-N reference design) , in 1 out of 1000s of cycles, sound card is not listed.
Logs do not throw any obvious error. In error condition, if we manually probe the driver, the sound card is loaded.

After few weeks of tests, we are noticing a pattern in all failed logs. we see a print as below
**Module has invalid ELF

[2022-11-21 19:17] ghost commented on #3248
EDIT for everyone. Tested on 6.0.9 and https://github.com/yangxiaohua2009/custom-kernel and I can confirm it works (I have gentoo but it works without problems).

EDIT: After reboot it stopped working 😢

[2022-11-21 21:49] casabero commented on #3350
Same here!

[2022-11-22 05:08] cihatertem commented on #3350
@jdgari @GeorgeKarles you have to install alsa-tools.

[2022-11-22 07:40] spacer2010 commented on #3350
Alsa tools dosen't solve the problem

Bruce

On Tue, 22 Nov 2022, 06:08 Cihat Ertem, ***@***.***> wrote:

[2022-11-22 07:54] johnysh commented on #4033
confirmed with our hardware engineer, DMIC is connected to PDM1, I used this link reference PDM1 topology (https://github.com/thesofproject/linux/issues/2460), but it still doesn't work.

[2022-11-22 08:45] GeorgeKarles commented on #3350
@jdgari i had them installed when i tried and got that message

[2022-11-22 11:05] bardliao commented on #4033
@lgirdwood I think the `DMIC` device is for PCH DMIC, not the DMIC via HDA codec. I am wondering if the topology matches @johnysh's HW configuration. @johnysh Do you have the audio subsystem diagram of your device?

[2022-11-22 16:41] guillaumedsde commented on #3777
@paulmenzel I'm running

[code]

Let me know if you would like some logs to confirm the issue is fixed

[2022-11-22 22:00] bigrammy commented on #4033
Same issue using Asus X515JA Intel Core i3
`dmesg | grep snd
[    2.250274] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    2.250280] snd_hda_intel 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    2.907216] usbcore: registered new interface driver snd-usb-audio
`
`bigrammy@asus ~ $ dmesg | grep -i sof
[    0.530980] PCI-DMA: U

[2022-11-23 01:34] johnysh commented on #4033
Yes , it is PCH DMIC , pls check this file for audio subsystem.

[2022-11-23 06:16] bardliao commented on #4033
@johnysh U1 CX11880-11Z and U2 M_CODEC are codecs, and DMIC is connected to the codecs. And the codec sends DMIC through HDA to SoC. Lust like how headset connect.
Like
[code]
Am I correct?
If so, the topology doesn't fit your HW configuration.
The codec may provide alsa mixer control to switch codec input from headset mic to DMIC. Can you contact with Codec vendor to get the alsa mixer setting?

[2022-11-23 06:53] bardliao commented on #4033
@lgirdwood I just chatted with @johnysh. The DMIC is directly connected to CPU, not through codec. So, there is nothing to do on HDA verb. He will measure if DMIC clock is enabled.

[2022-11-23 07:31] lnicola commented on #3350
I can confirm @anticodeninja's solution works, up to a sound card reset (resume from sleep or after the card gets suspended on idle, I suppose).

[2022-11-23 08:03] johnysh commented on #4033
@bardliao I confirmed with internal engineer , DMIC  clock source  doesn't connect to  external crystal oscillator，and  connects to PCH clk source ,  but I'm not sure which is.

[2022-11-23 09:00] florian-sabonchi commented on #3350
Some plans to fix?

[2022-11-23 12:32] bardliao commented on #4033
@johnysh Can you try with "options snd-intel-dspcfg dsp_driver=1"?

[2022-11-23 13:09] ejmarkow commented on #3336
Since there is no way that I'm aware of in Linux to determine with certainty whether my PC experienced hardware failure or not (with sound), perhaps the only solution is to backup all of my partitions, remove Debian Linux, and install MS Windows to see if the sound/audio will work properly using the Everest-based ES8316 driver/codec. Then I'll know for sure whether the issue is with the Linux driv

[2022-11-23 13:14] andreaconsole commented on #3336
I was about to suggest the first option, but I don't know if it is something you can say here :D
For the second option, I am so far an happy user of a cheap usb soud card (still hoping to hear the sound coming from my amd-based laptop's speakers one day, though).

[2022-11-23 13:24] ejmarkow commented on #3336
@andreaconsole, when I open PAVC (Pulse Audio Volume Control) and play something on Youtube for example, the graphical audio indicators are moving left/right. Does this indicate my audio chip (the hardware) is in good condition? I don't know.

But testing audio on MS Windows does seem like the only sure way to determine precisely where the issue is, not that I want to use that OS. I would only be

[2022-11-23 13:29] andreaconsole commented on #3336
I don't think there is anything strange in some component failing without prejudice to the rest of the system. In that case it is probably the consequence of poor quality check. Try Windows and let us know! The story of your tests is very interesting.

[2022-11-23 13:37] ejmarkow commented on #3336
Here is another item I notice: When audio was working on my physical speakers (which are attached via jack & line), PAVC indicated that it was via "Headphones" while it indicated "Speakers (unplugged)". Now, without audio working, PAVC indicates "Speakers" as working, but "Headphones (unplugged)".

[2022-11-23 20:46] casabero commented on #3350
yes

[2022-11-24 00:39] ejmarkow commented on #3336
@plbossart @yangxiaohua2009 @jwrdegoede

Fantastic news: **Sound works again!**

How it was fixed:

There is a '**reset hole**' on my mini-pc which I gave a try as a long shot solution before I reinstalled any OS or took other drastic measures. I thought, maybe resetting UEFI (bringing it back to factory default settings) due to possible corruption would help. So, I disconnected the power source,

[2022-11-24 01:28] johnysh commented on #4033
@bardliao
update ""options snd-intel-dspcfg dsp_driver=1" , it still doesn't work.
junhan@junhan:~$ arecord -l
**** List of CAPTURE Hardware Devices ****
card 0: PCH [HDA Intel PCH], device 0: SN6140 Analog [SN6140 Analog]
  Subdevices: 1/1
  Subdevice #0: subdevice #0

junhan@junhan:~$ inxi -A
Audio:
  Device-1: Intel driver: N/A
  Device-2: Intel driver: snd_hda_intel
  Sound Server-1: ALSA v: k

[2022-11-24 08:05] johnysh commented on #4033
@bardliao I tested the DMIC CLK with oscilloscope , there is no waveform. I think DMIC clk isn't enable.

[2022-11-24 08:13] bardliao commented on #4033
@juimonen @singalsu Do you know what problem it might be?

[2022-11-25 03:06] keqiaozhang opened #4039 "[BUG][stable-v2.2] ipc tx error for 0x80010000| GLB_DAI_MSG: CONFIG when testing audio on ADLP_BRYA_SDW"
**Describe the bug**
IPC tx error when checking audio. This issue only happens with sof-dev + sof/stable-v2.2 and this is a kernel regression and caused by:
https://github.com/thesofproject/linux/commit/b2ff7a64ce02b35823afc1db49e919b6151477a8
[code]

**dmesg**
[code]

**slogger**
[code]
**To Reproduce**
~/sof-test/test-case/check-playback.sh -d 3 -l 1 -r 1 -F

**Reproduction Rate**
100%

**Enviro

[2022-11-25 17:40] singalsu commented on #4026
There is volume_check_levels.sh in sof-test for nocodec topologies. I've just set improvements PR to it to be more robust against control timing jitter. The driver changes have cause more delay to controls to happen vs. the time when I first developed the test. It would be great to get CI to run it.

@marc-hb @aiChaoSONG

[2022-11-27 06:39] mkdolan commented on #4055
I am also having the same exact issue with the non-360 Galaxy Book2 Pro with Ubuntu 22.04 with all the latest package and kernel updates. Bluetooth or headphone audio works fine, but nothing from the speakers. If there's anything I can do to help run a test, or provide any outputs, just let me know.

[2022-11-27 08:55] grovera-md commented on #4055
I am also having the same issue with my Samsung Galaxy Book 2 Pro 360 running Linux Mint 21 Cinnamon (Kernel: 5.15.0-53-generic).
System information data:
Audio:
  Device-1: Intel Alder Lake PCH-P High Definition Audio vendor: Samsung Co
    driver: sof-audio-pci-intel-tgl
  Sound Server-1: ALSA v: k5.15.0-53-generic running: yes
  Sound Server-2: PulseAudio v: 15.99.1 running: yes
  Sound Server-

[2022-11-28 10:11] aiChaoSONG opened #4042 "Feedback path can not be setup"
Below picture shows the current graph for IPC4 smart_amp,  in my testing, I found that the route setup call back is not called for the route copier.SSP.4.1->smart_amp.1.1. So I worked with bard and added some prints to debug it and found that the smart_amp widget is not present in the capture stream widget list. And current path go through routine only goes through the sink path for playback, and

[2022-11-28 13:52] jdgari commented on #3350
try with **hwC0D2** instead **hwC0D0**

[2022-11-28 13:52] casabero commented on #3350
try with hwC0D2 instead hwC0D0

[2022-11-28 14:55] NikitaMarakushev commented on #3350
@jdgari , did you try?

[2022-11-28 17:08] casabero commented on #3350
yeah, but it didnt work

[2022-11-28 17:30] ranj063 commented on #4042
@aiChaoSONG This worked in IPC3 because the smart amp component was only part of static topologies right? So the connection was established unconditionally after boot.

But I have a suggestion for a simpler fix. The reason this route set up fails is because the smart_amp widget is not part of the list of DAPM widgets belonging to the capture PCM. https://github.com/thesofproject/linux/blob/62c1ccc

[2022-11-28 17:37] plbossart commented on #4033
@johnysh can you confirm that you have 2 microphones connected to PDM1?

If yes, that's a known issue with the topology that assumes the use of PDM0. You would need to explicitly change the topology name to be sof-hda-generic-2ch-pdm1.tplg

options snd-sof-pci tplg_filename=sof-hda-generic-2ch-pdm1.tplg

this may require a kernel and sof-bin update, I don't remember when we added this option and w

[2022-11-28 18:12] plbossart commented on #4032
@lzzu can you please run 'alsa-info' and attach the results. If you see 'ESSX8336' in there, then it's the classic issue with the codec, see https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-11-28 18:44] ranj063 commented on #4039
@keqiaozhang can you please verify if this change helps?

[code]

[2022-11-28 22:06] marc-hb commented on #4026
I'm guessing  https://github.com/thesofproject/sof-test/pull/985

BTW there's another volume test fix that has been in review for a (too?) long time:
- https://github.com/thesofproject/sof-test/pull/931

[2022-11-28 22:07] plbossart commented on #4034
It looks like the PCI probe works fine:
[code]

This error message cannot be found in the kernel source, can't figure out where this is generated:
[code]

I would add a dev_info on entry and exit of the machine driver .probe function, just to see if there is a missing dependency on that prevents the probe from registering a card.

Alternatively, add dynamic debug for snd-soc-core but that will be

[2022-11-28 22:30] plbossart commented on #4026
@RanderWang so is the problem that we retrieve a curve duration from topology as a u32, but the firmware expects a u64? In terms of endianess that should work.

Or that the firmware expects different definitions for the duration? I see this in the firmware commit message

[code]

I don't know why anyone would want a ramp duration in ns... That's completely overkill. even micro-seconds would be too

[2022-11-28 23:28] plbossart commented on #4042
@aiChaoSONG @ranj063 Can you clarify when we would need this copier.ssp.4.1->smart_amp.1.1 route to be setup?

If this when the copier.host.3.1 widget is setup, i.e. when the capture path is enabled? Or when the copier.host.1.1 is enabled?

I am also in the dark on what the benefit of adding a second copier.module.4.1 would be, wouldn't we have the same issue that there is no way to connect captur

[2022-11-28 23:30] fredoh9 commented on #4039
TGLU_VOLT_SDW(Volteer) has same failure

[2022-11-29 00:11] fredoh9 commented on #4039
I tested with PR 4043(2nd push), it fixed the problem.

[2022-11-29 00:25] ranj063 commented on #4042
Right, when the capture path is enabled is when we'd need this route set up. Thats why I'm suggesting to add the token to copier.SSP.4.1 so the route can be set up after this widget has been set up

This im not sure about @bardliao can you take this one?

[2022-11-29 00:35] plbossart commented on #4042
What happens if the capture path is not opened then? Does this mean the smart-amp can't deal with feedback UNLESS the echo reference path is opened? This seems to make the 'hostless' case even more complicated, i.e. if the echo reference is fed into a DSP-enabled AEC module we don't have a solution at all for smart-amps?

[2022-11-29 00:39] fredoh9 commented on #4039
ran run-test-all.sh also, looks good.

[code]

[2022-11-29 00:43] ranj063 commented on #4042
@plbossart I think the hostless case is going to require major changes to the topology for the smart-amp. If the feedback pipeline is hostless, we'd need to find a way to set up the pipeline widgets and trigger that pipeline whenever the playback stream is started. I'm not sure if that's within the scope of the work that Chao is targeting.

[2022-11-29 00:54] plbossart commented on #4042
It's fine to implement the solutions in steps @ranj063 but we have to identify those steps and scope what is required.

Even outside of echo cancellation in the DSP, I am worried that the suggested solution is a regression compared to IPC3, I don't recall having seen a requirement or expectations that the echo reference PCM capture be opened to enable speaker protection. Unless I am gravely mistak

[2022-11-29 01:12] ranj063 commented on #4042
@plbossart I do not think we test the smart-amp tplg with IPC3 in our CI with the scope of testing the feature itself. Please correct me if I am wrong @aiChaoSONG. And I know for a fact that the chrome UCM has the hooks to start the feedback PCM whenever the playback stream is opened to make use of this feature.

[2022-11-29 01:16] ranj063 commented on #4039
Thanks @fredoh9

[2022-11-29 01:17] plbossart commented on #4042
@ranj063 even if the processing in the mockup smart-amp does absolutely nothing, we'd still need *something* that will test that the routes are created. And clearly I don't think that is possible with sof-test/CI, which begs the question if our tests are relevant ore not, and what exactly we can infer from our tests.

[2022-11-29 01:19] ranj063 commented on #4042
But @plbossart like I mentioned our IPC3 tests with smart-amp were with static pipelines. So all the routes were set up already.  IPC4 is different with dynamic pipelines.

[2022-11-29 01:22] RanderWang commented on #4026
@plbossart  thanks for your feedback.  so u32 is enough to support ramp feature.   The key issue is caused by the set volume data.
(1) sizeof(struct sof_ipc4_gain_data data) = 6 * 32bits, one of 32bits is padded by compiler to align 8.
(2) currently we don't clear "struct sof_ipc4_gain_data data" to zero and only set curve_duration as 32bits, so the padded 32bits is full of garbage, 0xffffffff as

[2022-11-29 02:15] aiChaoSONG commented on #4042
@plbossart We thought that the smart_amp is not added to the capture widget list because we used `dpcm_end_walk_at_be` in getting connected widget to a DAI.  we think if we add a copier.module (demux) in between, we can have smart_amp in the capture widget list, this is wrong. From Ranjani, the IPC3 smart amp topology is good because it is static, not because it has a demux in between the DAI and

[2022-11-29 02:18] aiChaoSONG commented on #4042
Current plan is to let IPC4 smart_amp work just like IPC3 smart_amp

[2022-11-29 02:27] aiChaoSONG commented on #4042
@ranj063 @plbossart Actually, we had a topology for smart_amp test, (the test is enabled before, but disabled later) https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/development/sof-tgl-nocodec-ci.m4, and we have a test case for dummy smart_amp: https://github.com/thesofproject/sof-test/blob/main/test-case/check-smart-amplifier.sh
what the test case does is find the two pipe

[2022-11-29 02:31] aiChaoSONG commented on #4026
what about windows compatibility? I think windows driver will send a u64 value, right?

[2022-11-29 03:46] johnysh commented on #4033
@plbossart There has dual mic  connected to PDM1.  I use this topology (https://github.com/thesofproject/linux/files/5981682/sof-hda-generic-2ch-pdm1.zip) and add options  in alsa.conf, but it shows error.
junhan@junhan:~$ sudo dmesg | grep snd
[sudo] password for junhan:
[    4.403951] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    4.404001] snd_hda_in

[2022-11-29 05:51] aiChaoSONG commented on #4042
I don't think this is going to work, because we are checking if the widget's source widget (p->source) is in the list or not, but smart_amp is the sink widget of copier.SSP.4.1. we will need to visit the sink path for copier.SSP.4.1.

I think we can improve your simpler fix: if the token is set for a widget, let's visit the sink path for the widget, but `copier.SSP.4.1->copeir.host.3.1` will be se

[2022-11-29 06:10] ranj063 commented on #4042
@aiChaoSONG how about instead of using any tokens, you add widget flags for COPIER>SSP.4.1 and establish the connection from the copier to all its sinks in the widget binding function during the PRE_PMU event and take down the route during the PRE_PMD event? Something similar to what we do for the keyword detect component in IPC3 but instead of triggering we only setup/free the route for this case

[2022-11-29 08:38] RanderWang commented on #4026
It is a issue of Linux, not windows. FW does it in right way

[2022-11-29 10:24] singalsu commented on #4033
If the kernel is not new enough to support tplg_filename, then overwrite the topology that gets loaded (sof-hda-generic-2ch.tplg?)  with file sof-hda-generic-2ch-pdm1.tplg. If the clock line is still not active and no incoming PDM data bits, then the issue is in clock start. But can you please first check overwrite the topoloogy, or get a more recent kernel.

[2022-11-29 13:43] bardliao commented on #4042
I was wondering how does IPC3 work. I compared IPC3 and IPC4 topology and found that there is a demux in IPC3 topology but not in IPC4 topology. The copier.SSP.4.1 widget is associated with a BE and `snd_soc_dapm_dai_get_connected_widgets` will end at `copier.SSP.4.1`. So, I guess `smart_amp.1.1` might be added in the list if we add a `copier.module.1.1` between `copier.SSP.4.1` and `copier.host.3

[2022-11-29 16:29] #4021 closed

[2022-11-29 16:48] plbossart commented on #4026
There's no way we can extend the topology to read 64-bit values.
I think the 'right' solution would be to re-align the definitions with the firmware, but split the curve_duration into _l and _h part, with the _h part explicitly zeroed out in the driver.

[2022-11-29 17:10] plbossart commented on #4033
@johnysh your answers are a bit confusing. Can you please override the topology with the unzipped file:

cp /lib/firmware/intel/sof-tplg/sof-hda-generic-2ch-pdm1.tplg /lib/firmware/intel/sof-tplg/sof-hda-generic-2ch.tplg

then copy this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/10115427/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the dme

[2022-11-29 17:16] plbossart commented on #4042
IPC3 is enabled with dynamic pipelines in all CI devices (HDA, nocodec, SoundWire).

If we didn't do this for the smart-amp mockup test, then it's a miss in our test coverage. That would hardly be surprising, when we fork stuff it becomes abandonware.

[2022-11-29 18:59] plbossart opened #4048 "cppcheck warnings with SOF_IPC4_INVALID_NODE_ID"
[code]

[code]

@RanderWang can you please take a look? The definitions don't match.

Should we use

[code]

[2022-11-29 19:26] plbossart commented on #4018
Actually no, this happens in sound/soc/codecs/hdac_hda.c, and there was recently a commit to fix an invalid access. See

37882100cd0629d830db430a8cee0b724fe1fea3  "ASoC: hdac_hda: fix hda pcm buffer overflow"

From the trace in the commit message it looks to be the same problem

@fredoh9 is this something that can be reproduced?

[2022-11-29 19:41] plbossart commented on #4011
the configuration looks alright - no idea why you don't see any probe happening. Try with lspci -vvv and check if any drivers are bound to the PCI device

00:0e.0 Audio device [0403]: Intel Corporation Celeron N3350/Pentium N4200/Atom E3900 Series Audio Cluster [8086:5a98] (rev 0d)

[2022-11-29 22:23] cujomalainey commented on #3008
I haven't gotten any bugs my way recently on this either

[2022-11-29 23:52] plbossart commented on #3008
let's close. There's still an issue with DA7219 but separate problem

[2022-11-29 23:52] #3008 closed

[2022-11-30 01:14] Usulyre commented on #4011
[lspci-1.txt](https://github.com/thesofproject/linux/files/10118483/lspci-1.txt)

[2022-11-30 01:17] RanderWang commented on #4048
sure, I will check it

[2022-11-30 02:30] keqiaozhang opened #4051 "[BUG] Kernel Oops: unable to handle page fault for address: 000015fe0000005e on TGLU_RVP_SDW and TGLU_SKU0A32_SDCA"
**Describe the bug**
We observed a kernel oops on TGLU_RVP_SDW and TGLU_SKU0A32_SDCA after booting. sof driver failed to load:

[code]
This is a kernel regression and caused by https://github.com/thesofproject/linux/commit/3e0e1df91f7fdea91e5e9fccef5c38d52765189a
[code]

**Reproduction Rate**
100%

[dmesg.txt](https://github.com/thesofproject/linux/files/10118837/dmesg.txt)

[2022-11-30 02:56] ranj063 commented on #4051
@keqiaozhang could you please check if https://github.com/thesofproject/linux/pull/3962/commits/c1bb7bb4f66bbc80e98ead9b10f51db4d191e9fe will fix this?

[2022-11-30 03:05] keqiaozhang commented on #4051
It doesn't help. Sorry I posted a wrong link by mistake, the bad commit should be https://github.com/thesofproject/linux/commit/3e0e1df91f7fdea91e5e9fccef5c38d52765189a

[2022-11-30 06:26] aiChaoSONG commented on #4042
@ranj063 @bardliao My only concern is that the route `copier.SSP.4.1->smart_amp.1.1` will be setup twice, one in the normal route setup, one in the event handler, won't it cause trouble if a route is setup twice?

[2022-11-30 06:29] johnysh commented on #4033
@plbossart @singalsu I get  a new P1 device and  sof-v2.2.3 fw , after override the topology, it works well. Before that , I used an old P0 device. It seems to be a  fw ,tplg and device compatibility problem. We will use this new device to debug ,and issue can be solved.
[dmesg_pdm1_1130.txt](https://github.com/thesofproject/linux/files/10119795/dmesg_pdm1_1130.txt)

[2022-11-30 12:10] bardliao commented on #4042
`copier.SSP.4.1->smart_amp.1.1` will not likely be setup twice, but `copier.SSP.4.1->copier.host.3.1` could be. IMHO, we should think about a way to prevent it.
Can we add the PRE_PMU and POST_PMD event on `smart_amp.1.1`, and only setup the connection on the reference input pin? Then, we probably won't need to add new flags.

[2022-11-30 12:43] ujfalusi commented on #4042
If the DAPM route generated from the topology would be correct then with the graph in the initial comment we would _never_ be able to power off the DSP. Since it is not the case then my observation is stands that the DAPM we get is incorrect.
DAPM will power up things in a path between an input  and output.
`copier.SSP.4.1` -> `smart_amp.1.1` -> `copier.SSP.2.1`
`copier.SSP.4.1` is input
`copier.S

[2022-11-30 13:02] plbossart commented on #4011
this is pretty clear: you are not using the SOF driver

[code]

but you do have CONFIG_SND_INTEL_DSP_CONFIG=m

try adding this in /etc/modprobe.d/alsa-base.conf

options snd-intel-dspcfg dsp_driver=3

and attach the dmesg log

[2022-11-30 13:11] gongjun-song commented on #4051
The issue is caused by forgetting to set empty data at the end of the structure array.
If empty data is not set, there will be random access to arbitrary memory after using the structure array, which will cause data validation issues.

I have submitted a PR(https://github.com/thesofproject/linux/pull/4054) to fix this bug.

[2022-11-30 13:24] lgirdwood commented on #4055
@bardliao anyone from Realtek that should be added here? I think Realtek are the only folks who can solve the codec/amp config.

[2022-11-30 13:29] #4039 closed

[2022-11-30 13:41] plbossart commented on #4033
I'll close this issue @johnysh. If there is anything else on this platform please reopen a new bug.

[2022-11-30 13:41] #4033 closed

[2022-11-30 13:49] bardliao commented on #4055
kailang@realtek.com, but I can't remember his github account.

[2022-11-30 13:57] #4051 closed

[2022-11-30 15:36] plbossart commented on #4042
@ujfalusi @ranj063 the loopback issue with DAPM was observed on KBL with the smart-amp integration many moons ago. As you correctly pointed out, there is no switch between IV feedback on capture and the speaker output, so the DSP remains powered. This was solved by playing with the speaker DAPM pin, see https://github.com/thesofproject/linux/blob/3869d8a05995703b73b4deab2d97e18326c54f6d/sound/soc/

[2022-11-30 16:43] ranj063 commented on #4042
@aiChaoSONG im confused. Did you not raise this issue because this route was not getting set up? If so, why would it be set up twice?

[2022-11-30 16:53] RezinoviyDed commented on #3210
@plbossart I install new kernel: Linux 6.0.10-224.current
my [alsa-info](http://alsa-project.org/db/?f=dbc55a0ecd93b2a43c2259b3df6383a0d325a31b)
Output device: There are positive changes! My sound device is "Speakers - jasper Lake HD Audio"
There is no sound, but after starting the operating system, the speakers make a click.
sof-bin v2.2.2 is installed
[dmesg.txt](https://github.com/thesofproject

[2022-11-30 17:15] plbossart commented on #3210
6.0 is not enough, see https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-11-30 17:42] plbossart opened #4056 "Timeouts and kernel oops with SoundWire running at max speed"
Pretty bad oops with  /multiple-pause-resume.sh -l 1 -r 25 on RPL

[code]

[2022-11-30 18:38] plbossart commented on #4056
This happens when running the bus faster than usual (PR #4057), and it seems like initial errors are propagated until the kernel oopses.

[dmesg.log](https://github.com/thesofproject/linux/files/10126232/dmesg.log)

[2022-11-30 21:32] plbossart commented on #4056
Typical issues with the following tests

FAIL: multiple-pipeline-playback; multiple-pipeline-capture; multiple-pause-resume; suspend-resume-with-playback; suspend-resume-with-capture;