[2018-06-25 13:29] zhuqingliang opened #5 "[SOF Kernel] [regression] DSP trace buffer overflow on APL and CNL"
System Environment
=================
sof-master:     3507eb2d0835dab4b19cbb80f6d6ab0c1b0ef3e3
soft-master:    bd7dc88231f31d385340310cef467f211a739eeb
sof-dev:          9b843df48bbaea2a067df9d098cd700d3abd6155
sof-4.14:         ad3d2be6fdf4d7a2e7d892e0e90929218d9e1ac3

Regression?
=============
yes

Bug detailed description
=================
check dmesg log when boot.

Reproduce Steps
============

[2018-06-26 06:41] #5 closed

[2018-06-29 07:12] xiulipan opened #11 "should check num_hw_configs and default_hw_config_id in topology handler"
https://github.com/thesofproject/linux/blob/cb05347d9f85e18b414098d512c8287c297933d2/sound/soc/sof/topology.c#L1703
Always uses the first hw_config, we have multiple BE the num_hw_configs will be not 1 and we need to handle that.

[2018-07-02 23:48] plbossart opened #18 "Fix sparse issues in sound/soc/intel and sound/soc/sof/intel"
We have a number of issues reported by sparse in the core, pcm and ipc/mailbox usage
see log attached generated with make SUBDIRS=sound/soc/sof C=1

[log.txt](https://github.com/thesofproject/linux/files/2157153/log.txt)

[2018-07-03 16:40] plbossart commented on #11
I think this is a duplicate: we need to deal with multiple configurations as already filed here: https://github.com/thesofproject/soft/issues/11

[2018-07-04 02:06] xiulipan commented on #11
Yes, https://github.com/thesofproject/soft/issues/11 is topology support.
And I think we also need some change in kernel part, too.
In the reference code, we could not switch to different config even if we had more config from topology.

[2018-07-12 18:36] #18 closed

[2018-07-16 14:29] zhuqingliang opened #33 "'rmmod sof_acpi_dev' kernel panic on BYT with sof-byt-nocodec.tplg"
environment:
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof: c4a9cca
soft: 2abbfc0910ce9767d01462638d719309746844d1

reproduce steps:
using topology/sof-byt-nocodec.tplg or topology/sof-byt-rt5651.tplg
rmmod sof_acpi_dev
check dmesg log.

log:
[dmesg.log](https://github.com/thesofproject/linux/files/2198004/dmesg.log)
[rmbox.log](https://github.com/thesofproject/linux/files/2198005/rmbox.lo

[2018-07-16 14:44] keqiaozhang opened #34 "noise issue when both front L and front R are connected on GP-MRB"
This issue occurs when both front L and front R are connected, but disconnect one of them, the noise will disappear.
sof-dev:a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof-master:c4a9cca0a94969fbf1ecb42d660c0e40279d9ffa
soft-master:2abbfc0910ce9767d01462638d719309746844d1
tplg:sof-apl-tdf8532.tplg

How to reproduce:

1. Ensure both front L and front R are connected.
2. aplay -D hw:0,0 -f S32_LE -r 4

[2018-07-16 21:35] plbossart commented on #33
reproduced with sof-byt-nocodec.tplg but with a different error (which seems more difficult to handle)
[dmesg.log](https://github.com/thesofproject/linux/files/2199398/dmesg.log)

No issues whatsoever with APL also in nocodec topology, not sure why.

[2018-07-17 08:17] zhuqingliang opened #36 "module reload cause PCM name error on UP^2 with sof-apl-pcm512x.tplg"
System Environment:
sof-dev: 9b33dfacf8f0c9fffc22b1cdd5556faad31ed133
sof:  20204a9cd7e4d89fc27008da7af3846c0c5b4015
soft: 2abbfc0910ce9767d01462638d719309746844d1
using topology/sof-apl-pcm512x.tplg

reproduce steps:
rmmod sof_pci_dev
rmmod snd_sof_nocodec
rmmod snd_sof_intel_byt
rmmod snd_sof_intel_hda_common
rmmod snd_sof
modprobe sof_pci_dev
aplay -l  :
**** List of PLAYBACK Hardware Devices *

[2018-07-17 12:37] plbossart commented on #36
what is the name error? The prefix? If yes I believe this is handled in one of Liam's upstream patches, would need to be back-ported. will look into this.

[2018-07-18 15:55] plbossart commented on #34
This looks like a platform/hardware/electrical issue. There is nothing in the kernel that handles plug-in events and deals with the connection/disconnection, on this board so there's no way to fix this...

[2018-07-19 03:47] libinyang opened #38 "SOF built-in mode doesn't work"
SOF built-in mode doesn't work now. Audio driver initialization will fail and no PCM is created.

[2018-07-19 03:55] plbossart commented on #38
if you don't share the kernel sha1, a dmesg log and the .config you used I'll close this issue. Seriously, please share more information than "it does not work".

[2018-07-19 20:59] ranj063 opened #41 "Send time since boot to the firmware upon resume"
This issue complements https://github.com/thesofproject/sof/issues/130
to send the time offset to the firmware from the kernel

[2018-07-20 08:00] zhuqingliang opened #43 "Playback and capture's volume kctls are mixed in one page"
There're different views of kctl in amixer setting, but we found that all kctls of playback and capture are mixed together. For example, in playback view page, we also can found the kctl of capture and vice versa. This is a common issue on each platform.
![image](https://user-images.githubusercontent.com/29194447/42990571-93c9f556-8c35-11e8-8ce7-8be813ab07e0.png)

This bug is moved from https://gi

[2018-07-20 08:41] keqiaozhang commented on #18
This issue is fixed by https://github.com/thesofproject/linux/pull/17

[2018-07-20 08:49] zhuqingliang opened #44 "Stress Test: repetitive unloading and reloading driver causes computer halted on UP^2 and CNL using nocodec topology"
Run `soft/kmod_scripts/sof_bootloop.sh` cause computer halted on UP^2  and CNL using nocodec topology

description：
In "sof_bootone.sh" , the sleep time is 1 second .  After about 2 to 4 cycles ， the system halted and can't resume anymore .  Can't get dmesg log since computer already halted .

System Environment:
sof-dev:  6786cd0b68def014764173c978b835346097f9be
sof:   d696d8f8bad1490575a8293e098

[2018-07-20 09:53] zhuqingliang opened #45 "Stress Test: repetitive unloading and reloading driver causes kernel panic on UP^2 using codec topology"
run `soft/kmod_scripts/sof_bootloop.sh` (repetitive unloading and reloading driver) cause kernel panic on UP^2 using codec topology

description：
After about 2 cycles ，prompt   'Killed    modprobe snd_soc_pcm512x_i2c'  .

System Environment:
sof-dev: 6786cd0
sof: d696d8f8bad1490575a8293e0982786300eb52db
soft: a25f4b0b02b51d186d2a9c6d73c8126784a61997
using test-ssp5-mclk-0-I2S-volume-s16le-s16le-48

[2018-07-20 10:59] zhuqingliang opened #46 "Stress Test: repetitive unloading and reloading driver can cause kernel panic on BYT using nocodec topology"
Run `soft/kmod_scripts/sof_bootloop.sh` that repetitively unloads and reloads driver can cause kernel panic on BYT using nocodec topology.

description：
After 61 cycles ，prompt 'Removing sof_acpi_dev  , Killed"
`lsmod | grep sof` ：
sof_acpi_dev           16384   -1
snd_sof_intel_bdw      20480  1 sof_acpi_dev
...
...

System Environment:
sof-v4.14 :  287922311857961fb2e3d3b6d42f7e8b2f3f4ea9
sof: d

[2018-07-23 14:57] jocelyn-li commented on #38
@libinyang please share more information.

[2018-07-23 14:59] jocelyn-li commented on #36
@zhuqingliang Can you address Pierre's questions?

[2018-07-24 01:14] libinyang commented on #38
Hi Pierre,

Confirmed with QA, and it seems this is a feature we don't support now. It is not a bug. I think you closed it now.
Sorry for the inconvenience.

[2018-07-24 01:23] zhuqingliang commented on #36
aplay -l :
**** List of PLAYBACK Hardware Devices ****
card 0: sofsofsofsofsof [sof-sof-sof-sof-sof-sof-sof-sof], device 0: Port5 (*) []

[2018-07-24 06:48] xiulipan commented on #5
fixed by https://github.com/thesofproject/sof/pull/23

[2018-07-25 08:17] jocelyn-li commented on #38
@RanderWang please test to see if it is working.

[2018-07-26 05:13] RanderWang commented on #38
normally, SOF is built as a snd-sof.ko and dynamic loaded by kernel.
For built-in mode,  sof is built into kernel image named vmlinux.
You can make It when making menuconfig.

[2018-07-26 05:26] RanderWang commented on #38
I reproduce it with BDW on Ubuntu 18.04. loading firmware intel/sof-bdw.ri failed.  The FW is loaded
before file system is ready, so it is failed. According to Xiuli, The better way it is to make FW built in kernel image  when SOF is in built-in mode

[2018-07-26 06:37] keyonjie commented on #38
this is known issue, I believe cAVS with the same situation?

[2018-07-27 02:13] RanderWang commented on #44
I tested 3000 cycles on BDW, no such issue

[2018-08-02 08:54] ZhendanYang commented on #44
Latest test with latest code base find out something new:
run 'soft/kmod_scripts/sof_bootloop.sh' on up^2 using test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24576k-nocodec.tplg causes no problem.
run 'soft/kmod_scripts/sof_bootloop.sh' on cannonlake using test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24000k-nocodec.tplg cause firmware load fail.

dmesg.log:
[dmesg.log](https://github.com/thesofprojec

[2018-08-07 16:54] plbossart opened #66 "ALSA Drain trigger is not supported in SOF"
We don't seem to handle the DRAIN trigger, which is potentially an issue to play short sounds or to deal with deep buffers. This probably has firmware implications.
Note that Drain is pretty much required if we ever want to support compress offload.

[2018-08-08 01:12] ghost opened #68 ""Kernel Panic" run 'soft/kmod_scripts/sof_bootone.sh' cause kernel panic on BYT with sof-byt-rt5651.tplg"
System Environment:
Kernel repo: topic/sof-dev: 46b7b641555171efd7834f41f666bb47f12d05b0
soft repo: topic/master: cfff9e0b0402f0f7dd2bd9ba915fd6d1599b2fc8
using the tplg: sof-byt-rt5651.tplg

Reproduce step:
run the "soft/kmod_scripts/sof_bootone.sh" script, that means do the module reload one time.
the panic will be hit.

the log:
[dmesg.txt](https://github.com/thesofproject/linux/files/2268567/d

[2018-08-08 01:14] ghost commented on #68
the root cause is  found:
It is related to the rt5651's tplg. the rt5651 use the "get/put/info ID" with 259.
but the kernel has not merged this patch accordingly.
which will cause the "Tone Switch 5" kcontol allocate failure.
when we do the module reload, this will cause the kernel panic in the remove_widget() function.
because the null pointer is trying to be accessed in this function.

[2018-08-08 02:26] plbossart commented on #68
Are you saying the kernel oops happens in the chunk of code below?
If yes, can you try and protect the dereferences when kcontrols is NULL?

if (dobj->widget.kcontrol_type == SND_SOC_TPLG_TYPE_ENUM) {
		/* enumerated widget mixer */
		for (i = 0; w->kcontrols != NULL && i < w->num_kcontrols; i++) {
			struct snd_kcontrol *kcontrol = w->kcontrols[i];
			struct soc_enum *se =
				(struct soc_enum *)

[2018-08-08 02:30] plbossart commented on #46
Can you clarify why I see this log in the dmesg files:
[  210.916884] rt5651 i2c-10EC5651:00: Device with ID register 0xffff8c2d is not rt5651

This means you are not in nodec mode, you are using the ACPI ID to probe the codec. Or you must use the force-nocodec kconfig?

[2018-08-08 02:47] ghost commented on #68
@plbossart
you are exactly right.
in this panic case, it is caused by below. the kcontrol is actually NULL already, access the pointer "kcontrol->tlv.p" will cause panic.
		if (dobj->widget.kcontrol_type
		    == SND_SOC_TPLG_TYPE_MIXER)
			kfree(kcontrol->tlv.p);

I will make a PR for this protection.

[2018-08-08 02:54] plbossart commented on #68
Thanks. Since this is going to touch non-SOF code in soc-topology, we'll have to be more generic and check what happens for other widgets as well, not just the control ones.
Alternatively we'd want to bail when the unknown binding is found, that might actually be a better way of doing things?

[2018-08-08 03:00] ghost commented on #68
@plbossart
Yes, I agree with you. we can add check here, this could be the last line.
and add more code to do more check in the kcontrol allocate location.
I will do more debug for this issue.
thank you!

[2018-08-08 08:12] ghost commented on #68
@plbossart @lgirdwood
I found two questions during this debugging:
1. I did not find location to free the instance of "struct snd_sof_control{}".
we allocate this instance in sof_control_load(), this function's call-stack is below:
soc_tplg_dapm_widget_dmixer_create()
soc_tplg_init_kcontrol()
tplg->ops->control_load()
sof_control_load()

but I did not find the free location, normally I think it sh

[2018-08-08 08:26] ghost commented on #68
the remove_widget() did not call the sof_control_unload() function. so it has no chance to free the snd_sof_control{} instance.

[2018-08-08 09:29] ghost commented on #68
Just now I tried: call the control_unload() in remove_widget(). it is not right. also will has the panic.
I just wonder where is the location to free the snd_sof_control{} instance.

[2018-08-08 09:38] lgirdwood commented on #68
@zhigang-wu please try and switch on the kernel memory debugging tools (under kconfig debug options). This will mean a kernel rebuild, but it does help to shed light on any double frees or use after free issues.

[2018-08-08 09:47] ghost commented on #68
@lgirdwood
I will try it. thank you for your suggestion.

[2018-08-09 17:59] plbossart opened #71 "New sparse warning after PM patches merged"
new error after PM patches merged:

make SUBDIRS=sound/soc/sof C=1

sound/soc/sof/pm.c:178:31: warning: incorrect type in assignment (different base types)
sound/soc/sof/pm.c:178:31:    expected int [signed] state
sound/soc/sof/pm.c:178:31:    got restricted snd_pcm_state_t [usertype] state
sound/soc/sof/pm.c:193:31: warning: incorrect type in assignment (different base types)
sound/soc/sof/pm.c:1

[2018-08-09 18:01] plbossart commented on #71
@ranj063, can you look into this? somehow I can't assign this directly to you (probably you haven't cloned the linux tree from thesoftproject?)

[2018-08-10 06:23] ghost commented on #68
this issue can be fixed by PR #72

[2018-08-10 06:57] zhigang-wu opened #73 ""Kernel Panic" run 'soft/kmod_scripts/sof_bootone.sh', the second time will cause kernel panic on BYT with nocodec tplg"
System Environment:
Kernel repo: topic/sof-dev:  2de67aacaa795ed216b176dbee799f0ec18d6403
soft repo: topic/master: cfff9e0b0402f0f7dd2bd9ba915fd6d1599b2fc8
using tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplg

Reproduce step:
run the "soft/kmod_scripts/sof_bootone.sh" script, that means do the module reload one time.
the first time, it is ok after with the PR #72 .
but the s

[2018-08-10 21:03] plbossart opened #76 "Clarify IPC usage of spin_lock_irq vs. spin_lock_irqsave"
Marking this as a bug to track email discussions with Rander, it's not clear why we use different APIs in different places in ipc.c
if it's not intentional it's a bug
If it is it needs to be commented/explained

[2018-08-14 02:19] ghost commented on #73
the PR #80 can fix part of them. there still has panic after merge the PR #80 and PR #72 .

[2018-08-14 02:46] plbossart commented on #76
@Jocelyn-Li can you please assign someone to fix this (Rander?), there are a couple of IPC related issues that are likely linked to this.

[2018-08-14 07:01] RanderWang commented on #76
Ok, I will fix it on v4.18 after it is ready

[2018-08-14 09:05] ghost commented on #73
the PR #80 and PR #72 can fix this kind of kernel panic issue already.

[2018-08-14 09:05] ghost commented on #68
the PR #80 and PR #72 can fix this kind of kernel panic issue already.

[2018-08-14 09:20] ghost commented on #46
the PR #80  and PR #72  can fix this kind of kernel panic issue already.

[2018-08-14 09:22] ghost commented on #33
the PR #80  and PR #72  can fix this kind of kernel panic issue already.

[2018-08-14 11:30] keqiaozhang opened #81 "sof-v4.18 branch: trace mailbox shows garbage"
There're full of garbage in mailbox after system booted. this issue happens with kernel sof-v4.18 branch on each platform.
Error log:
using 19.20MHz timestamp clock
0x0 [960767920505.705811]       delta [********]        value 0xffffffffffffffff
0x10 [960767920505.705811]      delta [0.000000]        value 0xffffffffffffffff
0x20 [960767920505.705811]      delta [0.000000]        value 0xfffffffff

[2018-08-14 11:58] keqiaozhang commented on #81
[rmbox-t.log](https://github.com/thesofproject/linux/files/2286801/rmbox-t.log)
[dmesg.log](https://github.com/thesofproject/linux/files/2286803/dmesg.log)

[2018-08-14 13:39] keqiaozhang opened #82 "suspend/resume: IPC timed out after the system is recovered form S3"
This issue only happens with nocodec tplg and cannot be reproduced with pcm512 tplg.
How to reproduce:
1. rtcwake -m mem -s 5
2. check the trace and dmesg

sof-dev:2a7a5d
sof-master:bfc7e46
soft-master:fe1f3ba
[rmbox-s3.log](https://github.com/thesofproject/linux/files/2287113/rmbox-s3.log)
[rmbox-t-s3.log](https://github.com/thesofproject/linux/files/2287114/rmbox-t-s3.log)
[dmesg-s3.log](https:/

[2018-08-14 15:25] plbossart commented on #81
rmbox -t works fine (the rmbox-t.log file above shows the same)
rmbox without the -t doesn't work at all indeed.

If I am not mistaken, it means the DMA transfers work ok, but the memory window doesn't

@lgirdwood your input would be most useful here.

[2018-08-14 15:29] keqiaozhang commented on #81
Yes, the rmbox -t works fine, but memory window is full of garbage. I have changed the title.

[2018-08-14 19:59] lgirdwood commented on #81
Looks PM related, ie. we are in S0ix when reading the SRAM window and should cache the trace as context.

[2018-08-15 02:07] plbossart commented on #81
I removed the RUNTIME_PM options and the error is still there.
I don't have time to look into this, and I don't have time to wait either, so I am tempted to push this v4.18 version as a force-in-function operation to fix this...

[2018-08-15 03:25] xiulipan commented on #81
@keqiaozhang @lgirdwood
it seems to be error caused by PM_RUNTIME
manually disable all RUNTIME code will fix this.
We have discuss this yesterday
@plbossart
I found that we may have some error in
[code]

[code]
RUNTIME_PM option will not influence the runtime pm from the above code.

[2018-08-15 03:44] plbossart commented on #81
well, I've lost five hours of my time due to a misleading bug report . This rmbox issue already exists for topic/sof-dev, meaning there was no new bug introduced by the 4.18 transition. GAH!

[2018-08-15 04:07] keqiaozhang commented on #81
@plbossart  We apologize for the misleading message, I just confirmed that this issue also happens for sof-dev branch. We will review our work.

[2018-08-15 10:40] lgirdwood commented on #81
I will add a feature enhancement for caching context prior to D3 / S0ix.

[2018-08-15 10:47] lgirdwood opened #83 "PM: save and restore DSP context during PM state transitions"
Some DSP context can be lost when DSP is in D3 or S0ix states. This context can include system time and any persistent SRAM trace data. Add support to save context when DSP enters S0ix and restore at D0.

[2018-08-15 14:42] plbossart commented on #81
@keqiaozhang no hard feelings, it's a good finding, and we may be able to bisect to see where the problem happens.

[2018-08-15 15:06] plbossart commented on #81
Git bisect points to the following bad commit - definitively linked to runtime_pm.

[code]

[2018-08-15 15:25] plbossart commented on #81
Couple of findings on the resume flow:
PCI_TCSEL is not updated on resume - different from Skylake driver
CGCTL.MISCBDCGE is not updated on resume - different from Skylake driver.
PPCTL_GPROCEN PPCTL_PIE are not enable on resume - different from Skylake driver
GPROCEN is a smoking gun, it defined how the BAR access maps to memory mapped configuration registers.

On suspend:
PGCTL register not upda

[2018-08-15 18:52] plbossart opened #86 "Config: need auto detection and fallback between SOF/SST/Legacy drivers"
The current code requires users to compile out two out of the three drivers for APL/GLK registered for the same PCI ID - or use mod probe blacklists. This needs to eventually move to an autodetect when the probe is handled in sequence, e.g. SOF first, then fallback to SST if firmware authentication fails, and last legacy HDaudio.
Filing it as a bug since it's really required for distributions such

[2018-08-15 19:06] plbossart opened #87 "Harden APL/GLK hardware support"
The current driver does not implement all the recommended hardware setups
- [x] 1. firmware download needs to be retried
- [x] 2. #776 power-gating and clock gating needs to be disabled during firmware download
- [x] 3. some bits are not reprogrammed on resume
- [ ] 4. watchdog and recovery needed
- [x] 5. #777 delays after programming registers (and/or loops to check status changes)
- [x] 6. #778

[2018-08-16 06:00] keqiaozhang commented on #81
@plbossart
I also run a git bisect and the first bad commit points to:
commit 7cd8049714787c76256ed18c2946385275d6e10b
Author: Ranjani Sridharan <ranjani.sridharan@linux.intel.com>
Date:   Tue Jul 24 19:54:00 2018 -0700

    ASoC: SOF: allow runtime_pm for pci/acpi/spi device

    Allow runtime_pm to be enabled after probe is finished for
    pci/acpi/spi devices.

I also checked with 64980d0c, bu

[2018-08-20 08:23] RanderWang commented on #76
It should be fixed by https://github.com/thesofproject/linux/pull/89

[2018-08-21 19:39] plbossart opened #90 "Add basic CI for the SOF Linux kernel"
Need to have checkpatch.pl --strict --codespell and basic compilation information reported for each patch. Also kernel options need to be selected from the kconfig repository to reduce compilation time and cover all SOF targets.

[2018-08-22 14:45] xiulipan commented on #90
I will handle the travis CI part.

[2018-08-22 18:02] plbossart commented on #90
Thanks @xiulipan I already see some reports.

[2018-08-22 18:04] plbossart commented on #36
can you retry this, this should be gone now that Liam's upstream patches are in topic/sof-dev.

[2018-08-22 22:41] plbossart opened #92 "PGA volume seems to be set for right channel only"
I've noticed this on Up2 with PCM512x and the WM8804 codec I am working on, by default the left volume is not set:

root@ubilinux4:~# amixer -Dhw:0 cset numid=1
numid=1,iface=MIXER,name='PGA1.0 Master Playback Volume 1'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=32,step=0
  : values=0,32
  | dBscale-min=-64.00dB,step=2.00dB,mute=1

Not clear to me why the left and right values are not set

[2018-08-23 05:34] Runoob5 commented on #90
0-day CI already support this feature.
Please see CI report in https://github.com/thesofproject/linux/pull/93

[2018-08-23 19:08] plbossart opened #94 "suspend/resume: odd sequence on module_remove"
after booting on Up2 w/ Hifiberry (doing nothing), when I try to remove the modules w/ sof_remove.sh, I see an attempt to resume the DSP and a debugfs error.

[code]
At this point the audio driver is in D3. When I run sof_remove.sh, I get

[code]
Unclear to me why the resume happens precisely when the module is being removed?
In addition we shouldn't see this debugfs error.

[2018-08-23 19:11] plbossart commented on #76
closed

[2018-08-23 19:11] #76 closed

[2018-08-24 06:45] ZhendanYang opened #95 "Silence issue when capture on cnl with rt274 codec."
Summary:
I record a test wav file using "arecord -D hw；0，0 -c 2 -r 48000 -f s16_le", but the wav file is silent.
but test it on SSP port, the recorded waveform is clean.

Env:
sof : 83ed9f8139869440247afcf9690b67d1d769030b
sof-dev : b73d79a0f72905146ff30465518aa7e6f0bc1655
soft : 53e8c47591c44dd8bfb075f9d8ba5d43142f797d
tplg: sof-cnl-rt274.tplg

Log:
[dmesg.log](https://github.com/thesofproject/li

[2018-08-27 10:27] ZhendanYang opened #96 "Playback/Capture can't work on UP^2"
Summary:
After booting, there was no error message in dmesg. Then I tried to playback/capture, but playback/capture couldn't work and ipc error occurred.

Environment:
on up^2 with gcc
sof-dev:7481f7af7ac711504ae52fa9ae5cb5c3322ea91f
sof:4aff776d1c290542ded98f8aa22f50d4b9477d37
soft:41861aac373eb1f6978bfdb0bbe97cd882b1785a
tplg:sof-apl-nocodec.tplg
(I tested on sof-dev : c46546120955e049cf1e454f4b

[2018-08-28 02:25] zhigang-wu opened #97 ""Kernel Panic" run 'soft/kmod_scripts/sof_bootone.sh' cause kernel panic on BYT, CNL and APL"
System Environment:
Kernel repo: topic/sof-dev: 7481f7af7ac711504ae52fa9ae5cb5c3322ea91f
tried on the BYT and APL

Reproduce step:
run the "soft/kmod_scripts/sof_bootone.sh" script, that means do the module reload one time.
the panic will be hit

the log:
[dmesg.txt](https://github.com/thesofproject/linux/files/2326230/dmesg.txt)

[2018-08-28 02:27] ghost commented on #97
I add the unmerged PR #72 , which can solve another panic issue (it is under review right now).
on the kernel v4.18. it seems still has the panic issue. I did the test on the APL and BYT.
it has the same panic info. I will work on this issue later.

[2018-08-28 03:04] ZhendanYang commented on #97
This issue also exists on CNL. And it has been existing for a long time.
the logs:
[dmesg-bootone.log](https://github.com/thesofproject/linux/files/2326335/dmesg-bootone.log)
[rmbox-t-bootone.log](https://github.com/thesofproject/linux/files/2326336/rmbox-t-bootone.log)

[2018-08-28 09:06] ghost commented on #96
@lgirdwood
I added test code like this below in the function sof_route_load()

		sroute->route.source = kstrdup(route->source, GFP_KERNEL);
		if (!sroute->route.source) {
			dev_err(sdev->dev, "==wzg: route soure malloc fail %s\n",sroute->route.source);
			goto err;
		}

		sroute->route.sink = kstrdup(route->sink, GFP_KERNEL);
		if (!sroute->route.sink) {
			dev_err(sdev->dev, "==wzg: route sink m

[2018-08-28 09:31] ghost commented on #96
@lgirdwood
I found the root cause of this PR #80
I will send another fix for this issue.

[2018-08-28 10:00] ghost commented on #96
@lgirdwood
The root cause is: the upper function will sometimes set the route->control pointer = NULL.
then in the sof_route_load() function, it will malloc failure. the error will happen. the route is not added
into the list. the IPC error will happen.

[2018-08-28 11:23] ghost commented on #96
fixed by the PR #99

[2018-08-28 15:37] ghost commented on #97
Based on the objdump's result, it seems the panic issue is happened when do this operation:
struct snd_card *card = comp->card->snd_card;
maybe the card->snd_card pointer is null already when we use it.
according to the call-stack: the snd_card_free() function is called by multi functions.
I will do more debug on this later.

[2018-08-30 06:58] keqiaozhang commented on #97
This issue also can be reproduced with latest sof-master + sof-dev on UP^2 and CNL
sof-dev: bafb590.
sof-master: 9944905
soft-master: 41861aa

[2018-08-30 08:27] ZhendanYang opened #102 "System S3 failed on CNL"
Summary:
Two different situations:
1. I run "echo mem > /sys/power/state" and after system recovered, audio couldn't work.
2. I run playback, at the mean time I run "echo mem > /sys/power/state" in another terminal, leading to system hang.

Environment:
on CNL using gcc
sof : stable 1.2 branch 7346243e596cd91ff4342308e680392600496b3a
        master 9944905a7c3950f0f20e8623c9ca7842d58c43ed
soft ： 4

[2018-08-31 06:46] #96 closed

[2018-08-31 08:56] mengdonglin commented on #34
This platform is no longer supported and so close this bug

[2018-08-31 08:56] #34 closed

[2018-08-31 09:27] mengdonglin commented on #102
Close this bug for lack of BIOS support for S3 on CNL. We will cover S3 on APL. Will reopen this issue if situation changes.

[2018-08-31 09:27] #102 closed

[2018-08-31 09:28] mengdonglin commented on #95
Only support no codec mode on CNL, so close this bug.

[2018-08-31 09:28] #95 closed

[2018-09-04 06:21] ZhendanYang commented on #43
This issue still exists with latest code base.
sof-dev : 7889a7ade4e20a81e297e3f5a5aea3b5d7fa55ef

[2018-09-04 07:12] ghost commented on #97
the comp->card->snd_card pointer is freed already before we call the function remove_widget().
Base on experiment of the GP board, the tdf8532 driver will do the module remove, it seems ahead of
the topology free process.

So the snd_card{} instance is freed first. then in the topology free stage,
we will use this pointer in remove_widget() function. the oops will be hit.
this is the root cause.
B

[2018-09-04 08:18] ghost commented on #97
maybe I can try to adjust the module uninstall sequence in the script to do the test.
to make sure whether it has effect or not.

[2018-09-04 08:39] ghost commented on #97
@lgirdwood
this is the location we free the snd_card{} instance:
[code]
this is the location we do the topology free, then we hit oops's location:

[code]

[2018-09-04 09:32] lgirdwood commented on #97
@zhigang-wu ok so soc_cleanup_card_resources() should also free any topology and call snd_soc_tplg_component_remove() for each component in the sound card.

[2018-09-04 13:54] ghost commented on #97
@lgirdwood
Good!
I will go through the card->component_dev_list to process each component in the
snd_soc_tplg_component_remove() function.

[2018-09-05 16:46] wenqingfu commented on #97
why this is a problem for SOF, not to other ASoC drivers?

[2018-09-05 19:31] lgirdwood commented on #97
@wenqingfu it's a problem for any driver who want s to modify topology at runtime. SOF is the only driver that supports this. The rest just load a static topology.

[2018-09-07 06:01] ZhendanYang opened #113 "kernel boot failed on APL and CNL"
Summary:
kernel boot failed on APL and CNL most of the time, in the remaining time, kernel boot succeeded but kernel panic(call trace in dmesg).

[    5.293961] BUG: unable to handle kernel paging request at ffff98602fbb7000
[    5.294017] PGD 14f9fc067 P4D 14f9fc067 PUD 17a140063 PMD 16f7ee063 PTE 800000016fbb7161
[    5.294065] Oops: 0003 [#1] SMP NOPTI
[    5.294089] CPU: 0 PID: 247 Comm: syste

[2018-09-07 13:36] #113 closed

[2018-09-10 06:58] zhuyingjiang opened #117 "kabylake/skylake load firmware"
The Skylake/Kabylake has different load firmware sequence with APL, and the different DMA. This issue is to track enable skylake/kabylake to load the firmware

[2018-09-10 08:21] ghost commented on #97
@lgirdwood
I add the patch as below:
[code]
But it still has this kind of panic.
I add the log into the soc_cleanup_card_resources(), this patch has effects.
but there still has some widgets' mixer controls need to be processed after card unregister.
I need more debug for this panic issue.

[2018-09-10 08:23] xiulipan opened #118 "dump IPC message payload to dmesg"
Dump IPC message payload to help debug and reproduce IPC message.

[2018-09-10 09:34] ghost commented on #97
the PR #119 can fix this issue.

[2018-09-11 01:16] ghost commented on #97
@ZhendanYang @keqiaozhang
the PR #119 is merged already. please check it.

[2018-09-11 02:07] bardliao commented on #41
@ranj063 Which board and branch did you test? I am working on UP2 board and SOF firmware will get error after suspend/resume. Also, the /sys/kernel/debug/sof/trace file will be empty after suspend/resume. It implies that rmbox -t will show nothing.

[2018-09-11 08:47] keyonjie opened #122 "Feature: enable DPIB/posbuf pointer mode for SKL+ platforms"
To enable  DPIB/posbuf pointer mode for SKL+ platforms, we need:

1. refine BDL settings.
2. add pointer callback to read postion from DPIB/posbuf;
3. add Kconfig to force IPC update mode on SKL+, that is:
     for SKL-, we will always use IPC update mode;
     for SKL+, we will use DPIB/posbuf by default, but be able to force IPC mode for debug.

[2018-09-11 10:25] ZhendanYang opened #124 "Firmware boot failure after unloading and reloading driver"
Summary:
run the "soft/kmod_scripts/sof_bootone.sh" script, that means do the module reload one time, but boot failed on APL, BYT and CNL.

Environment：
kernel: sof-dev 64cf3e3

Log on APL:
[boot_fail.log](https://github.com/thesofproject/linux/files/2370484/boot_fail.log)

[2018-09-11 10:30] #97 closed

[2018-09-11 11:24] zhuyingjiang commented on #117
with call the  snd_dma_alloc_pages the error occurs:

[   15.292195] sof-audio sof-audio: in ==cl_stream_prepare_skl==1===
[   15.292196] sof-audio sof-audio: in =====cl_alloc_dma_buf_skl====
[   15.292212] WARNING: CPU: 6 PID: 82 at ./include/linux/dma-mapping.h:516 snd_dma_alloc_pages+0x144/0x1e0 [snd_pcm]
[   15.292212] Modules linked in: sof_pci_dev snd_sof_intel_hda_common snd_sof_intel_byt i

[2018-09-12 08:10] #36 closed

[2018-09-13 02:10] ZhendanYang commented on #36
Can't reproduce on latest code base.
kernel : sof-dev 64cf3e3
firmware : stable1.2 f883691
sof tool : d77beaf

[2018-09-13 02:20] ZhendanYang commented on #33
Can't reproduce on BYT with sof-byt-nocodec.tplg, but still exists with sof-byt-rt5651.tplg
Test env:
kernel : sof-dev 64cf3e3
firmware : stable1.2 f883691
sof tool : d77beaf

Log:
[dmesg-33.log](https://github.com/thesofproject/linux/files/2377482/dmesg-33.log)
[rmbox-t-33.log](https://github.com/thesofproject/linux/files/2377483/rmbox-t-33.log)

[2018-09-13 02:23] ZhendanYang commented on #97
No more "kernel Panic" when running 'soft/kmod_scripts/sof_bootone.sh' on each platform, but it will cause firmware load failure after unloading and reloading driver. There is a new issue #124 tracking this.

[2018-09-13 05:51] mengdonglin commented on #124
@lyakh  could you help to check this issue?

[2018-09-13 05:55] mengdonglin commented on #82
@ranj063 could you help check this issue?
And if you have not started on issue #81 , we can ask Bard to check #81

[2018-09-13 05:59] mengdonglin commented on #86
@keyonjie could you help to take care of this?

[2018-09-13 06:33] keyonjie commented on #86
This may need refine/unified probing(especially for sof and sst) part, furthermore, sometimes using sof or sst is totally an user end choice(e.g. on those no FW authentication skl- platforms), we can't make selection for end-user in hard-coded logic.

I thought of using exclusive kernel config item for SOF and SST, which means if you select one(the other one will be unselected automatically), but

[2018-09-13 07:38] bardliao commented on #82
@ranj063 I will check this issue. :)

[2018-09-14 02:12] ranj063 commented on #82
@mengdonglin yes, I'll take a look today. The chrome team seems to face a similar issue.

[2018-09-14 05:17] ranj063 opened #131 "kernel warning related to hdac_hdmi seen during boot"
On the glk platform, there's a kernel warning seen in the dmesg logs that relates to hdmic_hdac runtime suspend. It doesnt seem to have any impact on use cases though.

SOF branch: glk-003-drop-stable
Kernel: cros-sof-v4.14-rebase
SOFT: master

dmesg log: The error can be seend roughly after 9.6s

[    0.000000] Linux version 4.14.63 (ranjani@ranjani-desktop) (gcc version 4.9.x 20150123 (prereleas

[2018-09-14 06:17] bardliao commented on #81
@mengdonglin @ZhendanYang @keqiaozhang  The issue seems not to be reproducible now. Could you check it?

[2018-09-14 07:22] ZhendanYang commented on #81
@bardliao Yes, I haven't seen this issue for a long time. But I'm not sure which patch fixed this. I'll close it. We can reopen it if it occurs in the future.

[2018-09-15 02:46] ranj063 commented on #131
WHat we see is a warning and not an oops. I've updated the issue.

But it seems to be coming from hdac_hdmic_runtime_suspend() and I see that there are two calls to snd_jdac_power_display() and the second one decrements the refcounter to < 0. Removing the second call fixes the issue but need to check if it causes regression in runtime_pm status of the hda device.

[2018-09-16 12:34] mengdonglin commented on #131
@ranj063 Thanks for reporting this issue. Do you plan to further debug this by yourself or someone else to follow up?

[2018-09-16 12:37] mengdonglin commented on #131
This a common risk for HD-A power management, not only for GLK. So set to P2.

[2018-09-16 14:57] mengdonglin opened #135 "Enable driver SOF to support HDA analog codec on SKL+ platforms"

[2018-09-16 14:58] mengdonglin opened #136 "Enable SOF driver to support DP-MST (DisportPort's Multi-Stream Transport)"

[2018-09-16 14:58] mengdonglin opened #137 "Enhance SOF driver support for HDAudio on SKL+ platforms"
This will include a group of features
- [x] Enable SOF driver to support 3rd party HD-A analog codec. #135
- [x] Enable SOF driver to support DP MST (DisplayPort's Multi-stream transport) #136
- [ ] Enable SOF driver to support legacy HD-A mode #138
- [x] Enable DPIB/posbuf pointer mode for SKL+ platforms #122

It cannot refer to issues in SOF repo now.

[2018-09-16 15:26] mengdonglin commented on #137
@keyonjie Actually, these features are what you've already been working on or planned.

#137 is the parent (Epic) of a group of features and I'm trying to use Zenhub to provide more structured issue/PR management, which can apply to both new features and bugs.

I hope the new Zenhub project board could be more helpful for us.

[2018-09-16 15:27] mengdonglin opened #138 "Enable SOF driver to support legacy HD-A mode on SKL+ platforms"

[2018-09-16 15:49] mengdonglin commented on #90
CI enabled this and so close this issue

[2018-09-16 15:49] #90 closed

[2018-09-16 16:26] ranj063 commented on #131
@mengdonglin I am debugging it. I have a workaround to prevent this at my end. But I am not sure if it will cause any regressions in closed source solution. I'll work with the chrome team to verify it.

[2018-09-17 01:35] keyonjie opened #139 "Enable SOF driver to support built-in mode"
Currently SOF driver only support modular mode, but we have requirement to support built-in mode, the main gap currently is that rootfs may be unavailable yet during SOF driver loading stage.

[2018-09-17 05:34] ZhendanYang opened #140 "Audio device failed to suspend with HDA support enabled"
Summary:
Check runtime_status, it always shows “active” whether audio is working or not.
on APL:
cat /sys/bus/pci/devices/0000\:00\:0e.0/power/runtime_status
on CNL:
cat /sys/bus/pci/devices/0000\:00\:1f.3/power/runtime_status

Test env:
kernel: sof-dev: ae5f868
sof: stable 1.2: f7ea2e6
soft: d77beaf

I test with kernel commit(64cf3e3), and the runtime_status works well.

[2018-09-17 16:16] cujomalainey commented on #90
If we are running CI, once I repair the closed source drivers, can we also do a build with the closed source drivers enabled to verify we don't break them moving forward?

[2018-09-17 21:15] ranj063 commented on #140
@ZhendanYang could you please check if https://github.com/thesofproject/linux/pull/141 fixes this issue?

[2018-09-18 02:35] ZhendanYang commented on #140
@ranj063
I checked with lasted code base(commit c3ba91f782707bd3e51c46f37300bd7b3cfe8333) which contains your PR. This issue still exist on both APL and CNL.

[2018-09-18 02:58] ZhendanYang opened #144 "Kernel panic after unloading and reloading driver"
Summary:
Run the "soft/kmod_scripts/sof_bootone.sh" script, which means to do the module reload once, but after unloading and reloading driver, kernel panic happens.

[   31.980316] sof-audio sof-audio: warn: can't find PCM with DAI ID 0
[   31.980776] sof-audio sof-audio: tag 1 not opened!
[   31.980817] sof-audio sof-audio: DSP core(s) enabled? 0 : core_mask f
[   32.301721] sof-audio-pci 0000:0

[2018-09-18 04:49] ranj063 commented on #140
@ZhendanYang which board are you using for testing on APL? Up squared?

[2018-09-18 05:24] ZhendanYang commented on #140
@ranj063 Yes.

[2018-09-18 06:15] bardliao commented on #140
I can't reproduce this issue on up2 with kernel: sof-dev:  c3ba91f and sof: master 40f9749. It shows "suspended" when I cat runtime_status after boot.

[2018-09-18 07:08] mengdonglin commented on #92
@ZhendanYang Could you help to check if this issue can be reproduced on UP2 with PCM512x now?

[2018-09-18 07:12] mengdonglin commented on #140
@ZhendanYang could you help check if this is still reproducible on UP2?

[2018-09-18 07:14] mengdonglin commented on #73
@ZhendanYang Could you help to check if this issue can still be reproduced?
Per Zhigang's comment, the fixes were merged.

[2018-09-18 07:35] mengdonglin commented on #86
This is an enhancement actually, so set label "enhancement"

[2018-09-18 07:37] mengdonglin commented on #44
stress test on module unload/reload is not priority atm.

[2018-09-18 07:41] ZhendanYang commented on #140
It still can reproduce on my APL(UP2) and CNL with kernel sof-dev: c3ba91f and sof master 40f9749 or stable-1.2 0875f0c .
It shows "active" when I cat runtime_status after boot.

[2018-09-18 07:47] mengdonglin commented on #46
Stress test on driver unload/reload is not priority atm.

@lyakh it seem PR #130 still need to fix some check patch error. Please notify validation here when the PR is merged. Thanks!

[2018-09-18 07:48] mengdonglin commented on #87
This is an enhancement, so change label from bug to 'enhancement', still P2 to get attention.

[2018-09-18 07:54] mengdonglin commented on #45
Lower priority to P3 since stresssful module unload/reload is not priority atm.

[2018-09-18 09:06] ZhendanYang commented on #92
I test with latest code base(kernel: sof-dev c3ba91f7,sof stable-1.2 40f974 and soft d77beaf).

apl@UP-02:~$ amixer -D hw:0 cset numid=1
numid=1,iface=MIXER,name='Digital Playback Volume'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=255,step=0
  : values=230,230
  | dBscale-min=-103.50dB,step=0.50dB,mute=1

The left and right values are set to the same values.
Seems this issue has been fixe

[2018-09-18 09:09] bardliao commented on #82
The issue should be fix by [PR #141 ](https://github.com/thesofproject/linux/pull/141)，please verify it.

[2018-09-18 09:15] mengdonglin commented on #92
@juimonen Could you help to check if this issue is also gone in your side?
I closed this issue. But feel free to re-open it if you still see it on your UP^. Thanks!

[2018-09-18 09:15] #92 closed

[2018-09-18 09:19] mengdonglin commented on #131
@keyonjie Could you help to check this issue?

[2018-09-18 15:50] lyakh commented on #144
First of all I think the topic of this bug is not quite correct: this isn't a kernel panic, this is a kernel WARNING. Still, it has to be fixed of course.

I've tried to reproduce the bug but failed so far. The difference is, that my Up^2 has no codec. I tried both topology variants - with a codec and a "nocodec" one. In both cases kernel was reporting some errors, so, apparently the drivers didn'

[2018-09-18 18:33] ranj063 commented on #140
@ZhendanYang are you using sof-apl-nocodec or sof-apl-pcm512x?

[2018-09-18 21:22] ranj063 commented on #140
@ZhendanYang I have root caused this to the problem of having the CONFIG_SND_SOF_HDA enabled in the kernel config.
But with my commit. https://github.com/thesofproject/linux/commit/c3ba91f782707bd3e51c46f37300bd7b3cfe8333, compilation will fail without this in the config. I'll update the issue once I have a solution.

[2018-09-19 00:38] bardliao commented on #140
@ZhendanYang I can reproduce it now.

[2018-09-19 01:59] ZhendanYang commented on #140
@bardliao @ranj063
I've tried pcm512x codec, too. It also shows "active" when I cat runtime_status after boot.
And here is my kernel .config file :
[config.txt](https://github.com/thesofproject/linux/files/2395125/config.txt)

[2018-09-19 02:02] ranj063 commented on #140
@ZhendanYang could you please make sure CONFIG_SND_SOC_SOF_HDA is disabled in your kernel config and try this commit https://github.com/thesofproject/linux/pull/148

[2018-09-19 06:36] ZhendanYang commented on #144
@lyakh
I modified the "remove" script to unload those snd-soc modules.
I add some lines:
remove_module snd_soc_hdac_hdmi
remove_module snd_soc_hdac_hda
remove_module snd_soc_core
remove_module snd_seq_midi
remove_module snd_seq_midi_event
remove_module snd_rawmidi
And when I run sof_remove.sh, system crashed. I had to reboot through the power button.

[2018-09-19 06:42] ZhendanYang commented on #73
Can't reproduce on BYT with latest code base. Will add test into daily test and reopen this issue once reproduce.

[2018-09-19 06:42] #73 closed

[2018-09-19 08:04] lyakh commented on #144
@ZhendanYang do you have a kernel log from that crash? Logs, attached to this issue "only" contain a kernel warning. Have you tried with no codec?

[2018-09-19 11:49] lyakh commented on #144
I've got a "nocodec" Up^2 configuration that seems to work - at least aplay and arecord return after some time and I'm seeing interrupts. Although the time is larger than it should be. And I've got an Oops! Investigating...

[2018-09-19 20:04] lgirdwood commented on #86
@keyonjie  We will have a single PCI and single ACPI entry point for all Intel SOF and legacy drivers. Drivers will default to legacy unless they are mentioned in the SOF lookup table (table of DMI names, DT names).

[2018-09-19 20:43] wenqingfu commented on #92
the two commands are not exactly same, name='Digital Playback Volume' vs name='PGA1.0 Master Playback Volume 1', does it matter? @ZhendanYang

[2018-09-20 06:23] mengdonglin commented on #92
The mixer names are different but the id for Pierre's "PGA1.0 Master Playback Volume 1" and Zhendan's 'Digital Playback Volume'. @ZhendanYang could you attach the list of all mixers (amixer)?

[2018-09-20 06:39] ZhendanYang commented on #92
apl@UP-02:~$ amixer
Simple mixer control 'DSP Program',0
  Capabilities: enum
  Items: 'FIR interpolation with de-emphasis' 'Low latency IIR with de-emphasis' 'High attenuation with de-emphasis' 'Fixed process flow' 'Ringing-less low latency FIR'
  Item0: 'FIR interpolation with de-emphasis'
Simple mixer control 'Analogue',0
  Capabilities: pvolume
  Playback channels: Front Left - Front Right
  L

[2018-09-20 06:48] mengdonglin commented on #82
@ZhendanYang Please verify if it worked.

[2018-09-20 08:22] ZhendanYang commented on #92
@mengdonglin
apl@UP-02:~$ amixer -Dhw:0 cset numid=21
numid=21,iface=MIXER,name='PGA1.0 Master Playback Volume 1'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=32,step=0
  : values=18,18
  | dBscale-min=-64.00dB,step=2.00dB,mute=1

[2018-09-20 08:38] ZhendanYang commented on #140
@ranj063
I disabled CONFIG_SND_SOC_SOF_HDA and try commit #148 , and runtime_status worked well.
@keyonjie
I'll test again after you sent a new PR.

[2018-09-20 10:03] ZhendanYang commented on #82
@mengdonglin Verified. This issue is gone on APL. @keqiaozhang Please verify on GLK.

[2018-09-20 11:36] ZhendanYang commented on #68
This issue still exists on latest code base:
sof-dev : 108d9cf3daec51bfd01211a7e9585013131f612a
sof tool: 78748d4
sof stable-1.2: 7dd4b1d

[2018-09-20 11:52] ZhendanYang commented on #33
Firmware load failed after booting. So tests were blocked.
Env:
sof-dev : 108d9cf
sof tool: 78748d4
sof stable-1.2: 7dd4b1d
tplg: sof-byt-nocodec.tplg
Log:
[dmesg-byt.log](https://github.com/thesofproject/linux/files/2401117/dmesg-byt.log)

[2018-09-20 11:54] ZhendanYang commented on #46
Firmware load failed after booting. So tests were blocked.
Env:
sof-dev : 108d9cf
sof tool: 78748d4
sof stable-1.2: 7dd4b1d
tplg: sof-byt-nocodec.tplg
Log:
[dmesg-byt.log](https://github.com/thesofproject/linux/files/2401124/dmesg-byt.log)

[2018-09-20 12:42] lyakh commented on #144
I think I've found the reason for this Oops. It seems to be a case of a use after free. First the DAI driver gets freed along the lines of
[code]
And then as resources are freed the driver's .remove method is verified, initially it was NULL, but since the memory was released, it seems to be often reused in our use-cases and the .remove pointer then contains random data, if that memory is again acc

[2018-09-20 14:50] lyakh commented on #124
@ZhendanYang could you please point out where in the attached log the failure is seeing? Also, on which specific platforms / test boards and with which topology configurations has it been possible to reproduce this?

[2018-09-20 15:28] lgirdwood commented on #124
@lyakh Looks like an earlier PM failure is breaking things.

[code]

[2018-09-20 15:32] lgirdwood commented on #33
@lyakh  looks like a topology component double free attempt (1st time may set it to NULL).
[code]

[2018-09-21 02:09] keqiaozhang commented on #82
On GLK, system failed to suspend. please refer to: thesofproject/sof/issues/375.
error log:
[  667.198388] PM: suspend of devices aborted after 0.024 msecs
[  667.198390] PM: Some devices failed to suspend, or early wake event detected
[  667.198395] PM: resume of devices complete after 0.001 msecs
[  670.204343] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 5:0
[  6

[2018-09-21 09:57] mengdonglin opened #154 "Headset playback is silent after capture on GLK"
Moved from https://github.com/thesofproject/sof/issues/344, since this is not a firmware issue or SOF driver issue, but most likely a codec or machine driver issue.

Test with headset: use arecord to capture audio, then use aplay to check the recorded data or play audio file, there's nothing can be heard. But after hot-plug the headset, you can hear the sound. repetition rate is 100%. I also tried

[2018-09-21 10:03] mengdonglin commented on #154
@keqiaozhang could you help to check if this issue can still be reproduced with latest Chrome?

[2018-09-24 15:17] mengdonglin commented on #82
@ranj063 It seems system suspend/resume can work on your GLK, could you clarify which SOF firmware branch you're using? master or glk-003-drop-stable?

[2018-09-25 02:33] ranj063 commented on #131
This was probably due to messy conflict resolution while cherry-picking this commit: f931c90bac5d8836eabc7e5225cfee8506220661.

reverting the commit and reapplying fixed the issue.
@keyonjie @mengdonglin , i'll push the fix to the cros branch.

[2018-09-25 02:33] #131 closed

[2018-09-25 03:01] keqiaozhang commented on #82
@mengdonglin @ranj063
This issue is fixed in sof-glk-003-drop-stable, but in sof-master, this issue is still there.

[2018-09-25 03:43] ranj063 commented on #94
@mengdonglin this is expected behaviour for PCI devices. The pci device if it is runtime suspended at the time the kernel module is unloaded, its runtime_resume gets called to bring it back to full power.
So it is not an issue. Is it OK to close this now?

[2018-09-25 10:29] mengdonglin commented on #82
It seems to be a firmware issue since sof-glk-003-drop-stable is okay. So close this issue from kernel side.

@ranj063 do you want a firmware engineer to continue fixing IPC time out on master branch?

[2018-09-25 10:32] #82 closed

[2018-09-25 11:07] mengdonglin commented on #124
@lyakh I think the firmware cannot support PM on byt. PM should only be enabled on APL and GLK. Could you try to disable PM on BYT?

@ranj063 Is runtime PM on BYT disabled by default? Or need manually disabling?

@ZhendanYang Which firmware branch are you testing with? Could you share the latest result for both sof master and 1.2-stable branch?

[2018-09-25 11:12] lgirdwood commented on #124
@mengdonglin yes - S0ix should be disabled on BYT Minnowboard, there should be a runtime flag set in platform data whether to enable or disable S0ix. @lyakh checking DMI name in sof-acpi-dev.c and then setting a flag to disable runtime_pm should be enough here.

[2018-09-25 15:00] mengdonglin commented on #140
Reopen this issue because we need to assure compatibility here: no matter CONFIG_SND_SOC_SOF_HDA is enabled or not, UP2 topology and machine driver does not include any data path for HDA, so we must make sure I2S and no codec are not broken.

@keyonjie, would you please share you new PR# ?

[2018-09-26 02:40] keyonjie commented on #140
@ranj063 mentioned to me that there is a commit from list which may be related with this, maybe we need add it also.
FROMLIST: SoC: Intel: Power down links before tuning off display audio power

[2018-09-26 05:09] ranj063 commented on #154
@keqiaozhang @mengdonglin we need to use the same chrome image and ucm file as the chrome team to verify if this issue exists or not

[2018-09-26 05:14] keyonjie commented on #154
@keqiaozhang have you disabled cras for this test?

[2018-09-26 05:15] keyonjie commented on #154
I am afraid cras will do some ucm switching during that which is invisible to us here.

[2018-09-26 05:19] mengdonglin commented on #144
@ZhendanYang Could you check if this issue is solved?

[2018-09-26 07:36] ZhendanYang commented on #144
@mengdonglin
Checked. This issue still exists.
Test env:
kernel: sof-dev 160b45f36c3d5b294449867df2e62c02c9a784dd
sof: master 81eae
sof tool: 57b5212
tplg: sof-apl-nocodec.tplg on APL and test-ssp0-mclk-0-I2S-volume-s16le-s16le-48k-24000k-nocodec.tplg on CNL

[2018-09-26 07:52] ZhendanYang commented on #68
This issue can still reproduce with latest code base:
kernel: sof-dev 160b45f36c3d5b294449867df2e62c02c9a784dd
sof tool: 57b5212
sof stable-1.2 : 7dd4b1d
[dmesg-panic.log](https://github.com/thesofproject/linux/files/2418645/dmesg-panic.log)

[2018-09-26 08:02] ZhendanYang commented on #124
This issue still exists.
Test env:
kernel: sof-dev 160b45f36c3d5b294449867df2e62c02c9a784dd
sof tool: 57b5212
sof stable-1.2 : 7dd4b1d
[boot_fail.log](https://github.com/thesofproject/linux/files/2418691/boot_fail.log)

[2018-09-26 08:45] ZhendanYang commented on #46
Firmware load failed after booting once. So tests were blocked.
Test env:
kernel: sof-dev 160b45f
sof tool: 57b5212
sof stable-1.2: 7dd4b1d
tplg: sof-byt-nocodec.tplg
[dmesg-panic.log](https://github.com/thesofproject/linux/files/2418843/dmesg-panic.log)

[2018-09-26 08:46] keqiaozhang commented on #154
@keyonjie
This issue is still exists, after disabling the cras, this issue can also be reproduced, even do headset hotplug, still nothing can be heard.

[2018-09-26 10:33] lgirdwood commented on #144
@ZhendanYang is it the same oops message or different now ?

[2018-09-26 14:13] keyonjie commented on #122
this should be already fixed, by PR #123

[2018-09-26 20:54] ranj063 commented on #71
commit 323c12c9 fixes this problem already.

[2018-09-26 20:54] #71 closed

[2018-09-27 01:51] ZhendanYang commented on #144
@lgirdwood
The oops message is the same as before.

[2018-09-27 12:29] lyakh commented on #144
@lgirdwood I think it's a different Oops. As I mentioned above, this whole "issue" is confusing, because attached and quoted logs don't actually provide Oops logs, but some kernel warnings. I was able to reproduce an Oops again - upon the second reloading of the drivers... This time it's a NULL cpu_dai->driver pointer. While I'm investigating it, I wanted to ask whether the actual behaviour is cor

[2018-09-28 05:59] bardliao opened #166 "kcontrol caching"
all kcontrol IO should be cached in host DDR and flushed to DSP when DSP is enabled for playback/capture.

[2018-09-28 08:02] lyakh commented on #144
The difference between the first and the second module unloading runs is the order of remove_dai() and snd_pcm_do_stop() execution. During the first module unloading the order is
[code]
During the second unloading it's the opposite. remove_dai() is always called when the sof-pci-dev driver is unloaded. Whereas snd_pcm_do_stop() upon the first unloading is called for the SNDRV_PCM_IOCTL_DROP ioctl(

[2018-09-28 14:57] lyakh commented on #144
I added a bunch of checks for "cpu_dai->driver == NULL" and that seems to avoid *that* type of Oopses, but firstly I don't think that's a correct solution. It really looks like the driver gets freed too early and I'm not sure how to avoid that. Further after eliminating those bugs I hit another one, beginning with an "error: unexpected fault 0x00000000 trace 0x00004000" and leading to "probe of so

[2018-09-29 07:31] ZhendanYang opened #170 "Kernel panic after system booted"
Summary:
kernel panic happened after system booted. Only happen on BYT, not found on UP2 and CNL.

[    8.223585] sysfs: cannot create duplicate filename '/bus/platform/devices/bytcr_rt5651'
[    8.223591] CPU: 2 PID: 248 Comm: systemd-udevd Not tainted 4.18.0+ #5
[    8.223593] Hardware name: ADI Minnowboard Turbot D0 PLATFORM/MinnowBoard Turbot, BIOS MNW2MAX1.X64.0097.R01.1709211052 09/21/2017

[2018-09-29 08:57] RanderWang commented on #170
find root cause. It is caused by a strange usage of machine driver.

[2018-09-30 06:20] mengdonglin commented on #140
@keyonjie Could you help to check if this patch will help? If yes, how to make it in sof-dev?

I think @ZhendanYang can verify it after patch is in sof-dev. And in addition, HDMI audio also works on UP2.

[2018-09-30 06:32] keyonjie commented on #140
sure, it works on my leafhill, should I send it to Zhendan or Qingliang to give a pre-merge try on up2? @mengdonglin

[2018-10-01 15:29] lgirdwood commented on #144
@lyakh sorry, not following - is there a stream playing when you try and remove ? if so we probably need to increase mod ref count.

[2018-10-01 15:34] lgirdwood commented on #46
@ZhendanYang please paste the relevant dmesg sections .
[code]
sorry, I'm not seeing any audio driver bugs here.
Can you retest this console mode only (i.e. don't start GUI) eneter a single user non graphical runlevel.

[2018-10-02 21:23] ranj063 commented on #140
@ZhendanYang @keyonjie I just checked with the SOF/SOFT master branch and kernel topic/sof-dev branch and runtime PM seems to work fine on my up2. Could you please check as well?

[2018-10-08 06:31] ZhendanYang commented on #140
@ranj063 I can't test runtime PM since there is "DSP panic" on up2 after system boot with latest code base. However, on CNL this issue still exists. Could you please provide me your test commit so I can check it for you?

[2018-10-08 08:03] keyonjie commented on #140
@ZhendanYang are you running SOF master or glk-003-drop-stable? looks glk-003-drop-stable is better.

[2018-10-08 08:21] zhuqingliang commented on #46
@lgirdwood
After set  non graphical runlevel ,  fimware boot successfully  on latest codebase ,but module reload issue still exist.
Test env:
kernel: sof-dev 93853cbf8f8252ec
sof tool: 2d7a933aa86
sof stable-1.2: 7dd4b1d
tplg: sof-byt-nocodec.tplg
dmesg log before module reload:
[dmesg-byt.log](https://github.com/thesofproject/linux/files/2455182/dmesg-byt.log)

[2018-10-08 08:53] keqiaozhang opened #178 "[GLK] Suspend/resume failed at second time with HDMI/DP connected"
How to reproduce:
1.  sudo suspend_stress_test -c 10
chronos@localhost ~ $ sudo suspend_stress_test -c 10
Password:
Running 10 iterations with:
  suspend: 5-10 seconds
  wake: 5-10 seconds
  backup_rtc: false
  errors_fatal: true
  fw_errors_fatal: true
  bugs fatal:  true
  warnings fatal:  false
  crcs fatal:  true
  suspend command: powerd_dbus_suspend --delay=0
  wakeup source to ignore: none

[2018-10-08 08:59] ZhendanYang commented on #140
@keyonjie glk-003-drop-stable has errors like "ipc error", "topology load fail". I tried runtime_status and it still showed "active".

[2018-10-08 15:14] lgirdwood commented on #46
@zhuqingliang ok thanks, I guess you have no log of the oops now ? hard lock up ?

[2018-10-08 23:14] ranj063 commented on #140
@ZhendanYang I didnt see any DSP panic's but I was using the eq topology
sof-apl-eq-pcm512x.tplg

[2018-10-08 23:15] ranj063 commented on #178
@keqiaozhang is this behaviour seen after you start audio playback or without audio playback?

[2018-10-09 01:15] keqiaozhang commented on #178
@ranj063
This issue can be reproduced without audio playback, only need to connect the HDMI or DP monitor.

[2018-10-09 02:34] ZhendanYang commented on #140
@ranj063 Yes. I tried sof-apl-eq-pcm512x.tplg on up2+hifiberry, runtime_status still showed "active" after system booted.

[2018-10-09 02:43] zhuqingliang commented on #46
@lgirdwood Here is module reload dmesg log
[oops.log](https://github.com/thesofproject/linux/files/2458666/oops.log)

[2018-10-09 02:58] keqiaozhang commented on #154
This is a UCM issue, Naveen will help to fix it.

[2018-10-09 12:57] slawblauciak opened #183 "[GLK] IPC communication misaligned with SOF FW"
Attempting to enable HDMI/DP on Yorp [GLK] results in an IPC error:

dmesg:
`[  133.586371] sof-audio sof-audio: ipc tx: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[  133.586534] sof-audio sof-audio: error: ipc error for 0x60010000 size 0x14
[  133.586546] sof-audio sof-audio: ASoC: sof-audio hw params failed: -22
[  133.586553]  HDMI1: ASoC: hw_params FE failed -22`

SOF FW: master, ccaff5c87e5bb2ba2

[2018-10-09 14:32] ranj063 commented on #183
@slawblauciak is this caused due to incorrect amixer settings?

[2018-10-09 16:22] ranj063 commented on #178
@keqiaozhang can we close this issue now that it works with the updated ucm?

[2018-10-10 04:06] keqiaozhang commented on #178
@ranj063
Unfortunately, this issue still can be reproduced with the updated UCM,  Confirmed that Pin*-Port* and hif*-* are set correctly in amixer setting and both two Yorp boards get the same result.

[2018-10-10 06:20] slawblauciak commented on #183
@ranj063 they're not. I've created this issue in line what you said - the fact that the kernel is not currently working properly with the master branch of SOF FW.

[2018-10-10 13:49] mengdonglin commented on #183
Need to monitor if PR #182 can help on this issue.

[2018-10-10 14:45] mengdonglin commented on #183
Set to P1 since we need to assist firmware engineers to set up ChromeOS on Yorp

[2018-10-11 07:40] mengdonglin commented on #38
Close this issue as an enhancement #139

[2018-10-11 07:40] #38 closed

[2018-10-12 09:19] keyonjie commented on #183
@ranj063 we don't have this issue with #186 merged?

[2018-10-12 15:12] mengdonglin commented on #178
Keqiao verified that PR #186 can fix this issue.

[2018-10-16 01:01] keyonjie commented on #183
@slawblauciak as #186 is merged, can you retry?

[2018-10-16 05:21] keqiaozhang commented on #178
This issue is almost fixed except for one case: with playing audio on HDMI via command line(console), suspend/resume will cause system reboot.  Since this is not a common case for user, so adjust the priority as P2.

[2018-10-16 07:36] slawblauciak commented on #183
That PR will likely fix a different issue we were having with suspend.
I'm closing this issue as it has been fixed internally in the FW.

[2018-10-16 07:36] #183 closed

[2018-10-17 02:05] keqiaozhang opened #188 "sof-logger shows nothing with -t parameter"
This is a kernel driver regression and caused by cros-sof-v4.14-rebase: 8031d7f4f82096834e0d046787b74d96827f31d3

How to reproduce:
sudo /usr/local/bin/sof-logger -l sof-apl.ldc -t

Configure:
1. sof-master: fda4f1a3
2. kernel-cros-sof-v4.14-rebase: 3ad0e4ddebf
3. soft-master: 5b51dc0d4

[2018-10-17 08:58] ZhendanYang opened #189 "Trace init failed"
Summary:
[   97.249675] sof-audio sof-audio:  Firmware info: version 1.1-b9717 build 43 on Oct 16 2018:21:24:56
[   97.249768] sof-audio sof-audio: found ext header type 1 size 0x9c
[   97.249783] sof-audio sof-audio: booting DSP firmware completed
[   97.249788] sof-audio sof-audio: ipc rx done: 0x70000000
[   97.256163] sof-audio sof-audio: Firmware download successful, booting...
[   97.256171]

[2018-10-17 09:00] ZhendanYang commented on #140
This issue can't reproduce anymore. Should be fixed by #186 .

[2018-10-17 09:07] keyonjie commented on #188
I can duplicate this issue on UP2, it can be worked around with disabling runtime suspend.

[2018-10-17 09:47] mengdonglin commented on #188
@keqiaozhang @RanderWang Could you share more info here why this is a kernel driver bug? This will help Keyon to check this issue asap.

[2018-10-17 09:56] mengdonglin commented on #189
@ZhendanYang Can this issue be reproduced by kernel commit ASoC: SOF: set up memory windows only at first boot  …?
https://github.com/thesofproject/linux/commit/2a28aca029bf8ce2dd0c1bef8e09385f548b23af

[2018-10-17 09:58] #122 closed

[2018-10-17 10:29] keyonjie commented on #188
hi @keqiaozhang , can you paste sof-logger error, is it something like this?
root@UP-02:/home/apl# ./sof-logger -l sof-apl.ldc -t
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
root@UP-02:/home/apl# ./sof-logger -l sof-apl.ldc
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
    0      1      DMA     77

[2018-10-17 10:36] keyonjie commented on #189
this should be fixed by #190

[2018-10-17 12:03] #189 closed

[2018-10-17 12:25] bardliao commented on #140
@ZhendanYang Yes, the issue is fixed.
**But root cause is not #186 . The issue is fixed by #165 .**
 The root cause is "HDMI HDA Codec" driver is probed but codec is not probed.
"HDMI HDA Codec" is a child device of "sof-audio-pci". And, "sof-audio-pci" will be active if any of its child is active.
`pm_runtime_enable` is called in `hdmi_codec_probe`
hdmi_codec_probe will called when sound card is

[2018-10-17 14:25] keqiaozhang commented on #188
@keyonjie @mengdonglin
Because this issue cannot be reproduced after rejecting the kernel commit 8031d7f.
The sof-logger error is exactly the same as yours.
1. with -t parameter, no trace log output there.
2. without -t parameter, only shows one line trace log:
CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
    0      1      DMA     85943.645833

[2018-10-18 01:11] keyonjie commented on #188
@keqiaozhang thanks, it looks dma initialization after resume fails here. so we may need debug FW to root cause it.

[2018-10-18 03:16] keyonjie commented on #140
so looks like we will still see this issue if we use tplg file without hdmi pipelines?

[2018-10-18 06:38] bardliao commented on #140
Yes, we will still see this issue if sound card is not probed.

[2018-10-18 16:05] lgirdwood opened #193 "Topology loading needs pm_runtime_get() held."
It looks like there may be a race between topology loading and runtime PM entry. Can we make sure that pm_runtime_get() is called for duration of topology loading.

[code]

[2018-10-19 11:15] mengdonglin commented on #193
@lgirdwood Would you provide more info here so validation can reproduce and follow up?
- topology
- the steps to reproduce this issue

I think you're using UP2, latest sof-dev, and sof master branch.

[2018-10-19 11:39] mengdonglin commented on #188
@keyonjie So it seems to be duplicate of https://github.com/thesofproject/sof/issues/401
I think @akloniex could help to align driver/firmware behavior with you.

[2018-10-19 12:00] lgirdwood commented on #193
Leafhill, I've only seen it once and it looks like an obvious runtime PM get() is needed during the duration of all topology loading.

[2018-10-19 15:09] mengdonglin commented on #154
@keqiaozhang Could you check with Naveen which Chrome release can fix this issue?

[2018-10-19 15:13] cujomalainey commented on #154
Is the 1mic vs 2mic ucm bug?

[2018-10-19 16:08] naveen-manohar commented on #154
Hi Curtis,
The lead board should support dual mic configuration and I believe current tracker is not related to UCM load which we are tracking in b:117289797 - (except spk playback none of the endpoints work).

Seems like Codec mixer control isn't applied properly while headset capture was initially tried ising alsa cmds.
AMIC record(Headset capture):
stop cras
amixer -c0 cset name='Headphone Jack

[2018-10-22 03:42] naveen-manohar commented on #154
Can you please confirm, does the same scenario(use-case) works fine with cmd line post applying codec mixer controls ?
If you are using alsa cmds to capture and playback, you will need to enable codec mixer control as mentioned.

Reason being:
With the v0.5 release that we made to Google, we dint observe this issue (on ww37 CPFE + SoF image).
Also I did recheck with the latest SoF BKM (that I have

[2018-10-22 05:45] keqiaozhang commented on #154
@naveen-manohar
I still can reproduce this issue on my Yorp with latest sof-master.
I tried to apply the amixer setting you provided above, but some kcontrols cannot be found.
chronos@localhost ~ $ amixer -c0 cset name='STO1 ADC Capture Switch' on
amixer: Cannot find the given element from control hw:0
chronos@localhost ~ $ amixer -c0 cset name='STO1 ADC Capture Switch' on
amixer: Cannot find the

[2018-10-22 08:09] keqiaozhang opened #198 "sof-logger shows nothing w/ or w/o -t parameter"
There's no trace available with sof-logger.

How to reproduce:
1. aplay -Dhw:0,1 audio.wav
2. sudo /usr/local/bin/sof-logger -l /root/sof-apl.ldc
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
3. sudo /usr/local/bin/sof-logger -l /root/sof-apl.ldc -t
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT

Tes

[2018-10-22 13:54] naveen-manohar commented on #154
face-palm.. i was working on another variant of this platform and sent its mixer controls..
Shall update on the correct settings for this board.. but bottom line is codec mixer controls are needed.

For me the same usecase on CRAS works fine (on ww37 + SoF image)..

[2018-10-23 01:59] zhuqingliang commented on #198
On APL: no log with sof-apl-pcm512x.tplg, but have log with test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24576k-nocodec.tplg

[2018-10-23 07:37] echudzi opened #202 "[WHL] HDA - huge distortion during playback and capture"
After debugging previous issues (https://hsdes.intel.com/appstore/article/#/1506769462 and https://github.com/thesofproject/sof/issues/433) where https://github.com/thesofproject/linux/pull/172 was applied to repo linux-sof-dev:5300a52
- capture - silence was recorded
- playback - clear sound on jack output

After last debug kernel and topology (uploaded by Rander to my machine in 19 August) - I d

[2018-10-23 08:29] RanderWang commented on #202
The PR to fix capture issue has been closed, so I am creating a new one

[2018-10-23 08:29] RanderWang commented on #202
The noisy is caused by Host DMA according to Janusz

[2018-10-23 08:34] keqiaozhang opened #203 "Regression: kernel call trace error when loading eq topology"
This is a kernel regression issue. Tested with sof-apl-eq-pcm512x.tplg, there're lot of kernel call trace log in dmesg.

Call trace:
[    8.555639] sof-audio sof-audio: error: ipc error for 0x50030000 size 0x180
[    8.555648] sof-audio sof-audio: error: failed to set control -1107147773 values
[    8.555651] sof-audio sof-audio: error: failed kcontrol value set for widget: 3
[    8.555653] sof-au

[2018-10-23 08:36] keqiaozhang commented on #203
The first bad commit is between bf67a28 to 93853cbf8. we will bisect it.

[2018-10-23 11:48] singalsu commented on #203
It seems that this key EQ related SOF PR has not been merged https://github.com/thesofproject/sof/pull/483 . I wonder if it impacts. Though the kernel should not crash.

[2018-10-23 18:59] plbossart opened #205 "CI: Need to trap SOF driver compilation warnings"
Our esteemed developers don't seem to look at the kernel compilation logs, as a result we have patches that are merged even when they generate warnings such as

[code]
We need the CI build to trap such errors and flag them as errors.

[2018-10-23 19:01] plbossart opened #206 "CI: add checkpatch.pl checks"
Our esteemed developers don't seem to run checkpatch so CI will need to run it for them.
Basic checkpatch fails is an error
checkpatch --strict may report issues but it's up to the maintainer to check if they require a change or not.

[2018-10-23 21:17] plbossart opened #208 "machine driver pdata handling is broken"
the patch 'ASoC: SOF: Refine registeration of platform device' modified the way the machine driver is registered, and modified the arguments that are passed as pdata.

In the acpi case, we passed the 'mach' structure as argument because we need to check the actual device name. This is now broken, so this patch needs to be redone - with probably different arguments passed depending on the machine d

[2018-10-24 05:11] xiulipan commented on #206
@plbossart
For 0-day CI, the checkpatch.pl checks is already enabled.

From https://github.com/thesofproject/linux/pull/196
https://download.01.org/0day-ci/sof/kernel-checkpatch-pr-196-75cb5a.txt

[2018-10-24 05:13] xiulipan commented on #205
@mengdonglin
Who is the maintainer of  the 0-day CI?

@plbossart
Would you like to enable a Travis CI for this kernel repo? It will involve file .travis.yml into the repo.

[2018-10-24 06:15] keqiaozhang commented on #203
@singalsu
This issue is gone after applying PR483 and eq topology can be loaded.

[2018-10-24 07:22] cujomalainey commented on #205
@xiulipan if you use Travis there is a very good chance that we can find another yml file already configured for this

[2018-10-24 08:00] xiulipan commented on #205
@cujomalainey
For Linux I believe there are must a lot of yml file.
We can modify some to meet our requirement here.

Another problem is how to get config.

[2018-10-24 11:00] mengdonglin commented on #205
@xiulipan Fuwei has enabled trapping the compilation warnings in 0-day CI.

It will be great if Travis CI can support kernel. @plbossart would you recommend a kconfig?

[2018-10-24 11:08] mengdonglin commented on #203
@keqiaozhang I closed this issue based on your comments. You can directly close it after your verified it works.

[2018-10-24 11:08] #203 closed

[2018-10-24 11:13] mengdonglin commented on #202
@RanderWang Has Janusz confirmed this is a firmware issue on Host DMA? If yes, we need to move this issue to sof repo.

[2018-10-24 11:59] jajanusz commented on #202
@mengdonglin probably it's FW issue that should be fixed when this PR will be merged: https://github.com/thesofproject/sof/pull/504

[2018-10-24 14:16] RanderWang commented on #208
@plbossart  I can't test it with SPI, does it work at that time?  I will check the code again although I don't get the point.

[2018-10-24 14:19] plbossart commented on #206
@xiulipan I don't believe there is any integration with github CI. I would just like parity with the firmware where the results can be seen directly.

[2018-10-24 14:23] plbossart commented on #205
@mengdonglin it's fine to use the same kconfig as 0day. Alternatively we could use the fragments that are already managed at https://github.com/thesofproject/kconfig for faster compilation.

[2018-10-24 15:00] plbossart commented on #208
@RanderWang forget SPI, I am more worried about all the other machine drivers that use the pdata.

[code]

if you changed the parameter passed as pdata then you broke all those platforms.

[2018-10-25 03:10] xiulipan commented on #206
@plbossart
You mean some patch check tool directly show change comments in the review board?
I know that github have some extensions can do that. Let me check and make the update once I found some chould meet the requirement.

[2018-10-25 05:03] mengdonglin commented on #140
@bardliao @keyonjie  Thank you! It seems this issue is covered by HDMI enabling on UP2, but not fixed.
Let's wait for nocodec boot failure is fixed on UP2 (https://github.com/thesofproject/sof/issues/443) and then double check this issue and re-open this if need.

[2018-10-25 05:40] bardliao commented on #140
@mengdonglin Should we disable HDMI support from menuconfig if there is no HDMI in nocodec mode?

[2018-10-25 06:45] Jiangxinx commented on #198
This issue cannot be reproduced with topic/sof-dev branch on UP2.

sof-logge can show error trace without -t on UP2.

0      1   VOLUME  31120390.833333   1004787.812500             volume.c:463        xro
0      1     PIPE  31120404.739583        13.906250           pipeline.c:903        ePU
0      1  unknown  31120406.927083         2.187500           pipeline.c:904        value 4
0      1     P

[2018-10-25 09:28] mengdonglin opened #214 "Verbose tracing breaks new logger"
This is to follow up https://github.com/thesofproject/sof/issues/473 which is closed because this is generic kernel bug on topic/cros-4.14-rebase branch.  We cannot reproduce this issue on topic/sof-dev

Please more info from https://github.com/thesofproject/sof/issues/473#issuecomment-429867629

[2018-10-25 09:58] RanderWang commented on #208
@plbossart   my idea is: my fault in this PR is registering wrong platform_data to BYT, right ?
and this commit fix this:https://github.com/thesofproject/linux/pull/171/commits/99d5562837afbc9c079e727328a2816e2ad53063.
with this, mach is registered for BYT

If I am wrong, please notify me and I will refine later

[2018-10-25 10:41] keyonjie commented on #214
yes, we know this issue with topic/sof-dev, thanks.

[2018-10-25 12:59] plbossart commented on #208
The current code expects struct snd_soc_acpi_mach pointer to be passed as pdata to BYT/CHT platforms.

In the PR, the new registration passes a different structure:

[code]
As I mentioned it, we can change the parameter to something more organized (https://github.com/plbossart/sound/commits/topic/mach-data). Most likely the code should be something like

[code]

makes sense?

[2018-10-25 13:24] keqiaozhang opened #215 "tplg loading failed on Yorp"
The sof-glk-da7219.tplg cannot be loaded on Yorp, since the SSP token is changed in soft/pull/114. But no such issue on UP^2 with latest sof-dev and soft-master. So maybe some kernel patches are missing in cros-sof-v4.14-rebase, please help to check.

Test config:
1. sof-master: b793f0c
2. kernel-cros-sof-v4.14-rebase: 3ad0e4d
3. soft-master: 8d0f178

error log:
[    5.967369] sof-audio sof-audio:

[2018-10-25 13:36] plbossart commented on #215
well yes, if you are using cros-v4.14 with the latest topology and firmware ipc it cannot work.

[2018-10-26 02:37] RanderWang commented on #208
Yes, you have prepared patches and want to PR by yourself ?

[2018-10-26 02:49] RanderWang commented on #208
I study the PRs, they are done in common code. So I need to refine SOF side, right ?
If so, I will wait for these PRs merged

[2018-10-26 07:30] mengdonglin commented on #214
The related logger issues on cros-4.14-rebase branch includes:
https://github.com/thesofproject/linux/issues/198
https://github.com/thesofproject/sof/issues/401
https://github.com/thesofproject/sof/issues/477

We'd better to verify them as well to make sure logger can work well cros-4.14-rebase

[2018-10-26 07:36] mengdonglin commented on #202
@echudzi Would you please check if this issue can still be reproduced?

[2018-10-26 08:23] mengdonglin commented on #202
Close this issue since it's a duplicate of the known metallic noise issue of playback, and fixed by thesofproject/sof#504.

[2018-10-26 08:40] mengdonglin commented on #215
@plbossart So we need to back port https://github.com/thesofproject/linux/pull/204 to cros-v4.14/cros-v4.14-rebase?

[2018-10-29 07:57] mengdonglin commented on #215
@ranj063 What's your plan for this?

[2018-10-29 10:07] bardliao opened #221 "DAI Config fail on ICL"
DAI config will fail on ICL with sof-dev branch.

Test config:

sof-master: e101263
kernel-sof-dev: 03cadf8

error log:
[    6.250092] sof-audio sof-audio: tplg: config SSP0 fmt 0x4005 mclk 38400000 bclk 2400000 fclk 48000 width (0)25 slots 2 mclk id 0
[    6.250126] sof-audio sof-audio: ipc tx: 0x80010000
[    6.250403] sof-audio sof-audio: error: ipc error for 0x80010000 size 0xc
[    6.250439]

[2018-10-29 11:20] bardliao commented on #221
That is a kernel/firmware/topology mismatch issue. After upgrade to the latest topology, the issue is gone.
The root cause is [6c3c420](https://github.com/thesofproject/sof/commit/e10126306aa538cbcce567a3977562726495e049) is in the kernel but I didn't update my topology.

[2018-10-29 11:20] #221 closed

[2018-10-29 17:20] plbossart opened #223 "Don't use bool in SOF structures"
Checkpatch generates a new warning for v4.19:

CHECK: Avoid using bool structure members because of possible alignment issues - see: https://lkml.org/lkml/2017/11/21/384
#793: FILE: sound/soc/sof/sof-priv.h:220:
+	bool complete;

See the lkml pointer, we should not be using bool here per Linus' guidance.
This is pretty much mandatory prior to upstreaming.

[2018-10-30 00:05] plbossart opened #226 "HDMI output only works on single channel on Up2"
When trying the latest kernel code (topic/sof-dev) along with sof/soft master, I only get sound on a single channel.

The mixer configuration is this (need to use pin6-port0 with cvt2)
amixer -Dhw:0 cset numid=28 1

and command line
speaker-test -Dhw:0,1 -c2 -r48000 -t sine

Adding as a kernel bug for now until it's sorted out.

[2018-10-30 00:08] plbossart opened #227 "HDMI misleading report on Up2"
Dmesg provides a misleading report even when HDMI can work.
[    4.093970] sof-audio-pci 0000:00:0e.0: no HDMI audio devices found
[dmesg.log](https://github.com/thesofproject/linux/files/2527483/dmesg.log)

[2018-10-30 00:10] plbossart opened #228 "Power management error on Up2"
Dmesg yells about an obscure PM issue with HDMI connected.

[    4.396798] sof-audio sof-audio: error: failed to enter PM idle -11

[dmesg.log](https://github.com/thesofproject/linux/files/2527493/dmesg.log)

[2018-10-30 06:40] keyonjie commented on #226
this should be PGA default value issue, the volume of Left channel is set to 0 by default wrongly.

[2018-10-30 07:57] DarrenxWang opened #230 "make kernel failed on branch debug/v4.14-backport"
@plbossart I tried with default configuration in your repo https://github.com/plbossart/kconfig
$make defconfig
$scripts/kconfig/merge_config.sh .config /kconfig/base-defconfig /kconfig/sof-defconfig

But we got building error. The kconfig and error log are attached.

[build-error-Pierre-def-sof-kconfig.txt](https://github.com/thesofproject/linux/files/2528926/build-error-Pierre-def-sof-kconfig.tx

[2018-10-30 09:15] Jiangxinx commented on #188
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1. sudo sof-logger -l sof-apl.ldc -t

Test env:
hardware version: UP2
sof-master: 04b1ce48
soft-master: 4ac9248
kernel debug/v4.19-backport: e7da1c44
tplg: sof-apl-pcm512x.tplg

[2018-10-30 09:17] Jiangxinx commented on #198
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.aplay -Dhw:0,0 audio.wav
2.sudo ./xrun_injection.sh
3.sudo sof-logger -l sof-apl.ldc

Test env:
hardware version: UP2
sof-master: 04b1ce48
soft-master: 4ac9248
kernel debug/v4.19-backport: e7da1c44
tplg: sof-apl-pcm512x.tplg

[2018-10-30 09:18] Jiangxinx commented on #214
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.Enable tracev(trace.h):
-#define TRACEV 0
+#define TRACEV 1
2.re-make sof、soft、logger and replace them on UP2
3.reboot
4.aplay -Dhw:0,0 audio.wav
5.sudo sof-logger -l sof-apl.ldc -t -o logger.log

Test env:
hardware version: UP2
sof-master: 04b1ce48
soft-master: 4ac9248
kernel debug/v4.19-backport: e7da1c44
tplg:

[2018-10-30 09:36] DarrenxWang commented on #230
@plbossart I also tried with default configuration in your repo https://github.com/plbossart/kconfig
$make defconfig
$scripts/kconfig/merge_config.sh .config <PATH>/kconfig/base-defconfig <PATH>/kconfig/sof-defconfig

But we also got building error. The kconfig and error log are attached.

[build-error-Pierre-def-sof-kconfig.txt](https://github.com/thesofproject/linux/files/2528926/build-error-Pie

[2018-10-30 13:14] plbossart commented on #230
@DarrenxWang Thanks for the report. Indeed I missed a number of dependencies for rt274, pcm512 and topology header files. My backport script was not complete and I tested without SOF :-(
Please retry, all the fixes were pushed to github and I am able to compile both backport/v4.14-intel-audio and debug/￼v4.14-backport.

[2018-10-30 13:15] plbossart commented on #226
@keyonjie what do you mean? Is this a known topology issue? or a driver issue?

[2018-10-30 13:17] plbossart commented on #206
@xiulipan the firmware repo shows me the results of checkpatch directly in github, the linux repo doesn't.

[2018-10-30 14:18] cujomalainey commented on #226
I noticed this in chrome is as well. I assumed it was a ucm issue

[2018-10-31 02:48] xiulipan commented on #206
@plbossart
checkpatch is a part of the CI check.
For Travis CI, I can now only enable 1 build for each PR with 2 jobs:
1 for checkpatch, 1 for build.
If you want to the same as firmware, we may enable other CI

@mengdonglin
When will 0-day CI stop to work?

[2018-10-31 03:00] keqiaozhang opened #231 "Failed to make kernel on debug/cros-v4.14-rebase"
We use chrome default kernel config to build the kernel, but failed with 20 errors.

error log:
/mnt/host/source/src/third_party/kernel/v4.14/sound/soc/codecs/max98373.c:115:43: error: no member named 'codec' in 'struct snd_soc_dai'
        struct snd_soc_codec *codec = codec_dai->codec;
[code]

[2018-10-31 03:20] cujomalainey commented on #231
What branch are you on? Or a sha

[2018-10-31 03:21] keqiaozhang commented on #231
@cujomalainey
Branch name:origin/debug/cros-v4.14-rebase

[2018-10-31 03:55] ranj063 commented on #231
@keqiaozhang you can cherry-pick 41572b5455be5da603b671a04be267cb4bd8633b to fix this

[2018-10-31 04:06] ranj063 commented on #226
@cujomalainey do you still have this issue on chrome? I ran into this issue earlier but couldnt reproduce it after I used the updated ucm

[2018-10-31 04:27] cujomalainey commented on #226
I'll try and reproduce it if I have time tomorrow, I usually trigger it when I'm building the 4.18 kernel

[2018-10-31 05:11] keyonjie commented on #226
I believe there is bug here, on Yorp, ucm file may hide this bug.

[2018-10-31 05:43] keqiaozhang commented on #231
@ranj063
Yes, kernel can build after applying 41572b5.

[2018-10-31 09:11] xiulipan opened #233 "could not access debugfs when DSP panic or IPC failed"
When DSP panic or IPC failed. If we use sof-logger or rmbox we will see

In dmesg.

Or if we want to access any debugfs exculde `trace`, the dmesg shows same thing and terminal refuse to open the file

Analysis:
`trace `and `etrace ` used different read ops
For trace we used `sof_dfsentry_read`
[code]
And the above dmesg is coming from
https://github.com/thesofproject/linux/blob/2af9599aac8e21dd0f

[2018-10-31 09:11] xiulipan commented on #233
@libinyang
Could you share the workaround to get etrace on UP2?

[2018-10-31 09:20] keyonjie opened #234 "runtime suspend/resume doesn't work when no hdmi pipelines defined in tplg file(with idisp BEs defined in machine driver)."
it can't enter suspend as hdmi codec driver is always waiting for hdmi codec probing.

[2018-10-31 15:03] mengdonglin commented on #233
@ranj063 This issue is observed when debugging https://github.com/thesofproject/sof/issues/443 on UP2. But it should be a generic issue.

[2018-10-31 15:16] keyonjie commented on #233
when DSP is panic, we should let reading trace debugFS entries(with old value at worst case) possible, let me try some fix to it.

[2018-10-31 16:05] ranj063 commented on #233
@keyon agree with you. Let me know if you need help

[2018-10-31 16:17] ranj063 commented on #215
@mengdonglin @keqiaozhang this issue is fixed with debug/cros-sof-v4.14-rebase.

[2018-10-31 22:41] plbossart commented on #234
@keyonjie thanks for report. Can you please add more details so that people can reproduce your finding?

[2018-10-31 23:41] plbossart commented on #231
can we please close this?

[2018-10-31 23:42] plbossart commented on #230
can we please close this?

[2018-10-31 23:43] plbossart commented on #226
@mengdonglin can you please assign someone to look into this and check on the validation side? Looks like a blocking P1 to me?

[2018-10-31 23:44] plbossart commented on #215
can we please close this?

[2018-10-31 23:47] plbossart commented on #178
@keqiaozhang can we have information on this? Anything that causes a system reboot is pretty much a P1 bug in my book?

[2018-10-31 23:48] plbossart commented on #170
What is the status of this bug and is anyone looking at it?

[2018-10-31 23:49] plbossart commented on #154
@keqiaozhang Is this still a bug or should this be closed?

[2018-11-01 00:03] plbossart commented on #193
@lgirdwood did you mean something like this:

[code]

[2018-11-01 01:02] keqiaozhang commented on #178
I will re-test this issue with new kernel branch(debug/cros-sof-v4.14-rebase ) and update the result soon.

[2018-11-01 01:05] keqiaozhang commented on #154
@plbossart
Yes, this is still a bug to me. I will re-test this issue with new kernel branch.

[2018-11-01 01:10] plbossart commented on #208
@RanderWang I submitted the patches upstream, can you try and suggest an update for the SOF side? I am running out of time and you are probably the best person to make the changes. Thanks for your help.

[2018-11-01 01:21] mengdonglin commented on #233
@keyonjie  please check if https://github.com/thesofproject/sof/pull/518 could improve the logger health for your debugging.

[2018-11-01 01:26] keqiaozhang commented on #231
Confirmed that this issue is fixed
Tested commit: 90eee4

[2018-11-01 01:28] keqiaozhang commented on #215
Confirmed that this issue is fixed.
kernel-debug/cros-v4.14-rebase: 90eee4
sof-master: 43da169+ revert 62c568
soft-master: 4ac9248

[2018-11-01 01:28] #215 closed

[2018-11-01 02:44] ZhendanYang commented on #170
This issue can't be reproduced for a long time. I'll just close it.

[2018-11-01 02:44] #170 closed

[2018-11-01 02:59] xiulipan commented on #233
@keyonjie @ranj063
What about tplg load fail?
This will also make resume fail, right?
So we may also want the debugfs can be read or just disable pm when error happen.

[2018-11-01 05:09] keyonjie commented on #233
@xiulipan why tplg load fail? we will not destroy the entry, so it should be still readable when resume fails.

[2018-11-01 05:35] xiulipan commented on #233
@keyonjie
The resume fail will return error code to kernel. Thought you have copy the data to the right place, the error code will forbidden the normal read or open.
https://github.com/thesofproject/linux/pull/237 is the workaround we are using now.

I will close this issues when https://github.com/thesofproject/linux/pull/237 is merged.

[2018-11-01 07:16] keqiaozhang commented on #214
this issue is still there, error message as below:
chronos@localhost ~ $ sudo /usr/local/bin/sof-logger -l /root/sof-apl.ldc-master-11-1 -t
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
    0      1  unknown  14605848.125000  14605848.000000          dma-trace.c:417        Number of dropped logs: 0
Error: Invalid number of parameters.
chronos@local

[2018-11-01 07:21] keqiaozhang commented on #188
This issue is fixed in kernel-debug/cros-v4.14-rebase: 90eee4 on YORP

[2018-11-01 07:23] keqiaozhang commented on #198
This issue is fixed in kernel-debug/cros-v4.14-rebase: 90eee4 on YORP

[2018-11-01 07:46] keqiaozhang commented on #178
I still can reproduce this issue under the following condition：
1. run aplay -Dhw:0,5 -f dat -c 2 audio.wav via commad line(shell console)
2. do suspend/resume in another console.

Tested with:
soft-master:4ac9248f
sof-master:43da16
kernel-debug/cros-v4.14-rebase: 90eee4

[2018-11-01 07:50] mengdonglin commented on #230
Cannot reproduce on latest debug/￼v4.14-backport and so close this issue.

[2018-11-01 07:50] #230 closed

[2018-11-01 08:01] mengdonglin commented on #228
@DarrenxWang Can you reproduce this issue on UP2?

[2018-11-01 08:10] markyang commented on #228
_@mengdonglin:_ this issue can be reproduced on UP2.
**dmesg:**
[    6.453999] sof-audio sof-audio: error: failed to enter PM idle -11
**Test env:**
sof master: 43da1696
sof tool: 4ac9248
kernel debug/v4.19-backport: 925637e3
tplg: sof-apl-pcm512x.tplg-4ac9248

[dmesg-apl.txt](https://github.com/thesofproject/linux/files/2537683/dmesg-apl.txt)

[2018-11-01 08:17] keqiaozhang opened #238 "pause/resume HDMI playback will cause IPC error and kernel call trace"
This issue happens when keep doing pause/resume HDMI playback.
How to reproduce:
1.  aplay -Dhw:0,5 -f dat -c 2 audio.wav -i
2. press the space key to do pause/resume(need time)

error message:
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/2537704/dmesg.log)
[logger-t.log](https://github.com/thesofproject/linux/files/2537705/logger-t.log)

Tested with:
soft-master:4ac9248f
sof-ma

[2018-11-01 08:22] markyang commented on #140
This issue can't be reproduced on APL.
**Test env:**
sof master: 43da1696
sof tool: 4ac9248
kernel debug/v4.19-backport: 925637e3
tplg: sof-apl-pcm512x.tplg-4ac9248

[2018-11-01 08:57] keqiaozhang commented on #214
Sorry, I missed to update the ldc file.
After updated the ldc file, now sof-logger works well without error.
So this issue can be closed now.

[2018-11-01 08:57] #214 closed

[2018-11-01 09:15] markyang commented on #227
**Summary:**
This issue can be reproduced on UP2.
[    6.061752] sof-audio-pci 0000:00:0e.0: no HDMI audio devices found

**Test env:**
sof master: 43da1696
sof tool: 4ac9248
kernel debug/v4.19-backport: 925637e3
tplg: sof-apl-pcm512x.tplg-4ac9248

[dmesg-apl-hdmi.txt](https://github.com/thesofproject/linux/files/2537852/dmesg-apl-hdmi.txt)

[2018-11-01 11:16] mengdonglin commented on #238
@keqiaozhang What's the possibility or any BKM to reproduce this issue?

[2018-11-01 11:51] lgirdwood commented on #193
@plbossart  yep

[2018-11-01 13:22] keqiaozhang commented on #238
@mengdonglin
To reproduce this issue, we need to frequent pause/resume the HDMI playback. I press the space key at a high frequency. The possibility of this issue is 100%.

[2018-11-01 13:54] plbossart commented on #238
do you see this with topic/sof-dev on an Up2 or is this GLK-specific?

[2018-11-01 13:58] keqiaozhang commented on #238
@plbossart
We will test this issue with sof-dev on UP2 tomorrow.

[2018-11-01 17:18] ranj063 opened #239 "hdac_hdmi kernel warning at boot on GLK"
kernel branch: debug/cros-sof-v4.14-rebase

See log below for the kernel warning during hdac_hdmic runtime suspend. This potentially affects the ref counts for display and impact suspend stress test.

[    4.813835] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 5:0
[    4.813956] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 6:0
[    4.

[2018-11-01 18:12] plbossart commented on #193
ok, will push this code then. Thanks

[2018-11-01 19:00] ranj063 commented on #193
@plbossart we enable runtime pm on sof device after the topology is loaded. To make the change above, maybe we need to change that as well?

[2018-11-01 19:29] ranj063 commented on #238
@keqiaozhang I wonder if this issue https://github.com/thesofproject/linux/issues/239 and https://github.com/thesofproject/sof/issues/522 have a common root cause.

We need to fix the hdac_hdmi_runtime_suspend() routine to turn display power off only once. This commit in debug/cros-sof-v4.14-rebase f931c90bac5d8836eabc7e5225cfee8506220661

[2018-11-01 19:46] cujomalainey commented on #226
@ranj063 I am unable to reproduce it currently as my patch doesn't appear to be working anymore and therefore I am getting no devices populated. It will take me some time to debug.

[2018-11-01 20:01] lgirdwood commented on #193
@ranj063 is that a recent update ? If not then why did we get D3 entry during topology loading as above log.

[2018-11-01 20:26] ranj063 commented on #193
@lgirdwood no this is not a recent change. Let me look into this today and I will comment on @plbossart 's pull request

[2018-11-02 02:48] keqiaozhang opened #243 "suspend/resume failure after ~100 iterations on Yorp"
This issue is more like a regression, we can do suspend/resume more than hundreds of times before. but it's easy to fail now(less then 10 times).

How to reproduce:
sudo suspend_stress_test

First error is (appears more than once)
[code]

Then several rx list empty errors like
[code]
Then finally FW crashes.

dmesg error：
[code]
Trace log:
[code]
Tested with:
soft-master:4ac9248f
sof-master:43da16

[2018-11-02 05:42] RanderWang commented on #208
No problem. I will work on it

[2018-11-02 06:21] markyang commented on #238
Summary:
  This issue can be reproduced on UP2.
  pcm_write:2011: write error: Input/output error
  aplay -Dhw:0,2 -c2 -fS16_LE -vv -i ~/Music/18_WAV_48000Hz_stereo_16bit.wav
  Playing WAVE '/home/mark/Music/18_WAV_48000Hz_stereo_16bit.wav' : Signed 16 bit Little Endian, Rate 48000 Hz, Stereo
  ...
  === PAUSE ===

[2018-11-02 07:37] mengdonglin commented on #239
@ranj063  What's the possibility to reproduce this issue? And would you please share more info about the  steps to reproduce it?

[2018-11-02 07:59] keqiaozhang commented on #154
This issue is still there, I retested it with debug/cros-sof-v4.14-rebase +sof-master
I have dumped all amixer controls for reference.
@naveen-manohar , please help to check.
[amixer-controls.txt](https://github.com/thesofproject/linux/files/2541517/amixer-controls.txt)

[2018-11-02 08:02] markyang commented on #226
**Summary:**
This issue cannot be reproduced using the mixer configuration as follows:
pin5-port0 : cvt2
pin6-port0 : cvt3
pin7-port0 : cvt4

Test Steps:
1. aplay -Dhw:0,**_2_** -r 48000 -c 2 -f s16_le -i -vv ~/Music/18_WAV_48000Hz_stereo_16bit.wav

**Test env:**
sof master: 43da1696
sof tool: 937032f
kernel sof-dev: a5ddc3d7
tplg: sof-apl-pcm512x.tplg-937032f

[2018-11-02 10:28] xiulipan commented on #193
@ranj063
How about the resume process?
We will reload the tplg after the DSP is resumed, which means that

May not happen at the first boot.

I believe this PR is good for the following resume tplg load.

[2018-11-02 11:27] lgirdwood commented on #243
Pasting from @markyang https://github.com/thesofproject/sof/issues/522#issuecomment-435339069

@ranj063 It looks like the driver is also sending PCM_PARAMS twice during this stress test too.

[code]

[2018-11-02 11:33] lgirdwood commented on #243
@keqiaozhang I've updated your initial post to include all the relevant logs. Please always double check that there is nothing important in the logs prior to the FW crash

[2018-11-02 12:19] juimonen commented on #226
I can't play to HDMI: aplay: set_params:1363: Unable to install hw params:
Even though I try to set the pins with alsamixer (?)
kernel: a5ddc3d78b47
sof: 43da16962d64
tplg: sof-apl-pcm512x.tplg

[2018-11-02 15:46] ranj063 commented on #239
@mengdonglin this is a 100%. This kernel warning shows up in dmesg right after boot.

[2018-11-05 04:16] ranj063 commented on #238
@markyang it seems like the error is different on the UP2. On GLK, we're seeing ipc error whereas on the up2, we're seeing i/o error. I think these should be separated

[2018-11-05 04:17] ranj063 commented on #238
@keqiaozhang @keyonjie could you please revert https://github.com/thesofproject/linux/commit/f931c90bac5d8836eabc7e5225cfee8506220661 on the debug/cros-sof-v4.14-rebase and check if the error still exists on glk. I could not reproduce it after I reverted that commit.

[2018-11-05 04:33] keyonjie commented on #238
@ranj063 I can't see it on my glk after reverted.

[2018-11-05 08:57] keyonjie commented on #238
@plbossart maybe we need redo this patch.

[2018-11-05 16:07] plbossart commented on #238
Yes, I don't know why that patch was merged in the chrome kernel. There was a bit of pushback on it and it seemed quite broken. I don't even see why on alsa-devel it has the label [RESEND] when I see no trace of the initial discussion, so not sure if this was legit or not.

The only thing I see after the initial contribution is bf270262b7b8 ('ASoC: hdac_hdmi: Add documentation for power management

[2018-11-05 16:14] plbossart commented on #238
Now that I think of this, there was something odd when I worked on cros-v4.14-intel-audio,
https://github.com/thesofproject/linux/commit/21dfdd3965a69e1f25e34df3086e561e03b69720 (see skl.c change)

At the time I didn't flag a conflict but remember thinking something was off in the reference counting.

[2018-11-05 17:02] ranj063 commented on #238
@plbossart let me check with the chrome team today and get back.

[2018-11-05 19:21] ranj063 commented on #238
@plbossart I checked with the chrome team and this patch is necessary but we need to revert it and re-apply it properly so that there is only one display power off and it is after the links are powered down.

[2018-11-05 21:12] plbossart commented on #238
@ranj063 the right way to do this is submit it through sof-dev, then apply on chrome. Also if it's necessary we should submit this patch upstream, not sure what happened here last Summer.

[2018-11-06 20:26] plbossart commented on #226
I think it's a topology issue, all the HDAudio streams have the left channel muted:

[code]
I absolutely didn't make this selection so it's coming from the topology or the driver. @ranj063 does this ring a bell?

[2018-11-06 21:47] plbossart commented on #227
This was introduced w/ the patch 89bef7af66b5 ('ASoC: SOF: Intel HDA: continue probe if no HDMI devices found');

@lgirdwood why was the error control removed? if you've compiled in HDMI support and can't init the i915 parts then something is just very wrong.

[2018-11-07 02:24] keyonjie commented on #243
the issue should be a regression for code rebasing, @ranj063 found that a patch need to be redone.

after redone, this issue is fixed for me. @ranj063 can you help change cros branch please.

[2018-11-07 04:15] ranj063 commented on #243
@keyonjie yes, I will update the topic/cros branch tomorrow. I need to sync with @plbossart before I update it.

[2018-11-07 13:09] emilchudzik opened #250 "[WHL] Unable to boot linux to UI with SOF enabled for 4.19 kernel"
Builded kernel with default config - can boot to UI.
Steps:

branch: sof-dev
commit: af44aa9

After install this image there is a possibility to boot linux to UI.

When I use config where is enabled SOF, HDA, CNL and codec for WHL (from RanderWang) there is an issue during boot.

branch: sof-dev
commit: af44aa9

During boot I have this issue:
![image](https://user-images.githubusercontent.com/4111

[2018-11-07 13:28] emilchudzik opened #251 "[WHL] bits support for ALC700 codec"
Platform: WHL RVP
Kernel: 4.18 + SOF and HDA enabled

Check command:

Output show that codec support only 16, 20 and 24 bits.
What about 32? SOF topology is set to 32b_LE.
Aplay make linear conversion during playing waves with above bits. So I can't check if driver/codec/FW real support 16, 24 or 32 bit waves.

[code]

[2018-11-07 13:59] lgirdwood commented on #251
@echudzi what topology file are you using ? The SOF pipeline may use S32_LE internally where the link DMA will automatically convert to 16 or 24 bit is set in topology.

[2018-11-07 14:02] lgirdwood commented on #250
@echudzi sorry, there is not much info realted to audio on the screenshot. Can you attached the output from dmesg so @RanderWang can check.

[2018-11-07 14:12] RanderWang commented on #250
l test this config on three whl ,no  such issue. and kernel config depends on  hw,  so  my config maybe not suitable for  yours.  lt boot failed  before loading sof.  l can't debug it

[2018-11-07 14:25] lgirdwood commented on #227
@plbossart so the initial code from @RanderWang printed the error and returned an error if no monitor was connected (meaning SOF would not probe on devices with no monitors connected).
@RanderWang should this error be visible when no monitors are connected or does it mean something more fatal perhaps unrecoverable has happened ?

[2018-11-07 14:28] emilchudzik commented on #251
I use for WHL: sof-whl-hda.tplg

[2018-11-07 14:37] mengdonglin commented on #226
@plbossart  the platform topology m4 file doesn't set the initial mixer settings for the PGA: https://github.com/thesofproject/soft/blob/master/topology/sof-apl-pcm512x.m4

And it's strange this only happens to HDMI streams, since the HDA DAI configuration m4 also doesn't set the initial value, please see: https://github.com/thesofproject/soft/blob/master/topology/m4/hda.m4

So maybe from driver s

[2018-11-07 14:42] emilchudzik commented on #250
@lgirdwood there is no dmesg, I see only this screen after boot.
@RanderWang How did you generate your config? I know where SOF/HDA/CNL and codec enable. But I need stable base config.

[2018-11-07 14:58] emilchudzik commented on #250
I just make on commit af44aa9 (sof-dev branch):

I can boot to UI, but there is an issue on dmesg:

[code]

[2018-11-07 15:03] emilchudzik commented on #250
And this is the config file based on "make defconfig":
[config_af44aa9_def-hdaconfig.txt](https://github.com/thesofproject/linux/files/2557878/config_af44aa9_def-hdaconfig.txt)

@RanderWang could you check what is still to be done in the config? Maybe you will need to add the missing settings to the Wiki?

[2018-11-07 16:40] plbossart commented on #250
@RanderWang please submit a PR for the Kconfig repository (https://github.com/thesofproject/kconfig)
so that we have your setup maintained and reproduced. It's not good practice to maintain your own config shared privately.
we only want the deltas on top of defconfig, not the whole thing.
Thanks!

[2018-11-07 16:42] plbossart commented on #250
@echudzi you may want to use ktest to simplify the kernel updates. There is no need to use the Debian packages. See https://github.com/thesofproject/sof-docs/blob/master/getting_started/setup/setup_ktest_environment.rst

[2018-11-07 16:46] plbossart commented on #251
@echudzi What do you mean by "Aplay make linear conversion during playing waves with above bits. So I can't check if driver/codec/FW real support 16, 24 or 32 bit waves." If you use aplay -Dhw: there will be no  conversions, it'll just fail if not supported.
Can you please attach log files (command line and dmesg)?

[2018-11-07 17:15] plbossart commented on #226
@ranj063 do you happen to know the mixer defaults are defined for PGA values? I just don't get how in multiple cases the max is selected - expect for the left channel.

[2018-11-07 17:44] juimonen commented on #226
@mengdonglin I think this is not only HDMI, I've seen this with basic codec path also and I think @plbossart reported it previously in some other issue. I'm not sure do I get it with updating the kernel, sof or the whole image... (because once you set it, alsa remembers it). I can try to hunt this down, if @ranj063 doesn't immediately know the problem spot, but it will take me some time as I have

[2018-11-07 21:00] plbossart opened #252 "Kernel oops in sof_remove when topology fails"
When the topology load fails, the driver .probe stops and the .remove will generate a kernel oops by trying to free a NULL topology.

We should have a way of tracking if the topology was indeed fully loaded and not attempt to free it if it's invalid. See attached log and topology file that creates the problem.

See
[topology_error.log](https://github.com/thesofproject/linux/files/2559143/topology_

[2018-11-07 21:04] plbossart opened #253 "Up2 with nocodec topology: DSP panic with 6 SSPs"
With the usual 6 SSP+1DMIC topology the DSP panics. When the SSP5 is commented out from the topology file things work fine.
I suspect an off-by-one error. Filing as a kernel bug for now but this is more of a firmware issue I suspect.

Differences in the topology file to make things work:

[code]

[2018-11-07 22:37] plbossart commented on #253
dmesg log excerpt

[code]

Full log here:
[dmesg_ssp5_fail.log](https://github.com/thesofproject/linux/files/2559514/dmesg_ssp5_fail.log)

[2018-11-08 01:28] keyonjie commented on #253
@plbossart I think @libinyang is working on a similar issue.

@libinyang can you help comment?

[2018-11-08 02:08] plbossart opened #254 "SKL+: need better split between HDA and non-HDA support"
The current code includes too many parts and variables from the HDAC library when SND_SOC_SOF_HDA is not defined.

See below compile-tested code only to check what is really needed

[code]

@keyonjie can you review and comment?

[2018-11-08 02:09] libinyang commented on #253
@plbossart @keyonjie
I think this should be the similar issue of https://github.com/thesofproject/sof/issues/539

I'm working on #539 in sof repo. And I have PR for SOF: https://github.com/thesofproject/sof/pull/541 to fix such issue.

The issue is caused by initializing memory heap incorrectly. This will cause some memory related potential issues.

[2018-11-08 02:12] plbossart commented on #227
@lgirdwood the connection state (plugged/unplugged) is irrelevant. Even when there is nothing connected you can establish the link with the iDISP codec. With HDaudio you can even stream audio out with nothing connected. So this error really means the link with the graphics IP is not working, and that is non-recoverable, so we should fail big-time and early rather than try to continue.

[2018-11-08 02:13] plbossart commented on #208
@RanderWang kind reminder. The code is now upstream so before I add the patches i'd need to make sure your changes are compatible and merge in one shot.

[2018-11-08 02:14] plbossart commented on #206
it's working fine now, thaks @xiulipan

[2018-11-08 02:14] #206 closed

[2018-11-08 02:48] plbossart commented on #253
@libinyang yes the problem goes away with your fix

However @ranj063 I now have a DMIC IPC issue that appears with your DMIC alloc fix in the firmware, can you look at the topology for the nocodec case? Looks like we fix GLK but broke the rest...

dmesg log with Libin's PR541+sof-apl-nocodec.m4 topology:
[code]
if I take out the DMIC from the topology things are just fine. How many engineers does

[2018-11-08 04:54] keyonjie commented on #254
Good revisit. We did this in a tight schedule, it's time to refine it now.

I think this is for bus index, theoretically, it can be called multiple times then we have bus 0, bus 1, ...
But I never come across it yet. @mengdonglin please correct me if wrong.

We can even move this into HDA defined block also.

Just went though all these members, agree we can handle them only when HDA defined.
We ca

[2018-11-08 05:10] libinyang commented on #253
@plbossart @ranj063
The later bug can be fixed by:
https://github.com/thesofproject/sof/pull/549

However, 549 must be applied after 541 because if the memory heap initialization issue is not fixed, the system is unstable for memory mapping changing, and many potential issues may occur.

[2018-11-08 06:13] RanderWang commented on #251
@echudzi
pass-through topology is required so no volume component is included. Only one format which is defined in topology file, is supported by our SOF because no format conversion in FW. Now 32le is defined whl_hda_generic.m4, only S32_LE would be reported to ASOC, so you see a conversion with aplay -vvv xxx.wav.  If you want to test native 16le or 24le (24_3le is not supported), just replace a

[2018-11-08 06:30] keyonjie commented on #254
@plbossart PR #257 is for this, please help review.

[2018-11-08 06:59] mengdonglin commented on #253
This is a duplicate of https://github.com/thesofproject/sof/issues/539, and Libin has a PR to fix it

[2018-11-08 07:26] RanderWang commented on #250
Yes, I will do it

[2018-11-08 07:53] RanderWang commented on #250
@plbossart  @echudzi

I try make defconfig to make a default config. And then I build a image without any change.  I get kernel crash. I tried your idea a few month ago on CNL, also failed.

![crash](https://user-images.githubusercontent.com/39945651/48185454-02588c80-e370-11e8-8ae9-40d0f0c06f56.jpg)

You may find hda info in this picture, but it is not related to it. I disabled audio driver and g

[2018-11-08 09:17] lgirdwood commented on #226
@juimonen also check that pusleaudio is not doping anything daft. Best to rename /usr/bin/pulseaudio to another name, delete old alsa state file then reboot to rule out userspace.

[2018-11-08 10:20] emilchudzik commented on #250
@plbossart @RanderWang when I delete .config file from repository then command "make menuconfig" create new .config based on local machine where it will be built.
In my case this is dev machine with linux (some market desktop). I think this is not good solution to use this config for WHL.
![image](https://user-images.githubusercontent.com/41113230/48192476-315b0800-e348-11e8-8a08-6b4184d841f9.png)

[2018-11-08 10:22] emilchudzik commented on #250
But with that config (based on my local dev machine from market) I can boot linux with HDA and SOF enabled to UI and playback/capture works well.

We can close issue, but for me this in to good way to prepare config for any platform.

[2018-11-08 10:33] emilchudzik commented on #251
Please see below (source file: 48k,2ch,16b). I don't use -Dplughw:0,0 (plug make conversions), despite this alsa make conversions - maybe it is default made by alsa.

![image](https://user-images.githubusercontent.com/41113230/48192806-176df500-e349-11e8-82ac-5af8a1a866b4.png)

If I use -Dhw:0,0 you have right: I have not supported format.

So we can close this isse, all is clear now.

I see https

[2018-11-08 11:43] juimonen commented on #226
@lgirdwood yep, it is not pulseaudio. This can be reproduced by renaming also alsactl. I was trying to disable it "nicely" by fiddling with systemd, but this is the easiest way. So with "first boot" all our pga volumes
are indeed 0 on the left channel (and right channel is max).

[2018-11-08 11:56] lgirdwood commented on #227
@plbossart ok, the initial error message made it seem like a codec was not detected and non fatal.

[2018-11-08 12:09] juimonen commented on #226
actually I see this in firmware log:
   0      2  unknown     74888.697917         4.166667             volume.c:387 	value 0
    0      2  unknown     74890.989583         2.291667             volume.c:388 	value 0
    0      2  unknown     74893.333333         2.343750             volume.c:387 	value 1
    0      2  unknown     74895.625000         2.291667             volume.c:388 	value 65536

[2018-11-08 12:10] lgirdwood commented on #226
@juimonen ok, looks like bug in volume.c

[2018-11-08 12:18] juimonen commented on #226
yep, this is the set before get:

  0      2  unknown     73280.885417         2.864583             volume.c:320 	value 0
    0      2  unknown     73283.645833         2.760417             volume.c:321 	value 0
    0      2  unknown     73286.562500         2.916667             volume.c:320 	value 0
    0      2  unknown     73289.114583         2.552083             volume.c:321 	value 0

so same

[2018-11-08 12:32] juimonen commented on #226
and that means it is coming from kernel side with ipc ... so someone is setting it to 0 but with empty data-> as a consequence only other channel is set. And that means that default pga value is max (which is correct).

[2018-11-08 12:39] juimonen commented on #226
and it seams it is the restore of controls that sets the value incorrectly.
sorry for dumping the debug status every minute, will stop now.

[2018-11-08 14:12] plbossart commented on #250
@emilchudzik please use the recommended path of doing "make defconfig" then use merge_config.sh to add the needed options. We cannot reproduce any of your problems if you use a locally generated config based on a kernel that is 4 generations older than the one you are testing.
There's a reason why I worked on these kconfig fragments... only use "make menuconfig" to alter a configuration, never to

[2018-11-08 14:36] juimonen commented on #226
https://github.com/thesofproject/linux/pull/258

[2018-11-08 16:10] plbossart commented on #226
@juimonen it's ok to share your findings live, it helps the rest of the team follow what might be happening. Thanks for looking into this!

[2018-11-08 19:38] plbossart opened #259 "UP2 with nocodec: oops on module remove/insert"
With the nocodec topology, the existing code generates an oops on insert. It looks like the cleanups are not done right with race conditions and sysfs entries inconsistent. The patch in https://github.com/thesofproject/linux/pull/255 solves these issues by adding a second unregistration of the machine driver - which works but makes absolutely no sense... Clearly a timing issue that needs to be han

[2018-11-08 20:06] plbossart commented on #259
Additional traces show the oops happens on insert - the machine driver is not created and the topology is freed before being created. So the root cause is why the machine driver is not created
and the error w/ sysfs: cannot create duplicate filename '/bus/platform/devices/sof-nocodec'

[2018-11-08 20:16] plbossart commented on #259
this is getting beyond my understanding. We are looking at a bad link in sysfs, likely because of a removal done in the wrong order

[code]

[2018-11-08 21:15] plbossart commented on #259
Solved by unregistering the machine platform device from the SOF core, updated https://github.com/thesofproject/linux/pull/255

[2018-11-08 21:15] #259 closed

[2018-11-08 23:32] plbossart commented on #252
This is really a wider problem described here: https://github.com/thesofproject/linux/pull/261
Closing this issue, let's more into solution space.

[2018-11-08 23:32] #252 closed

[2018-11-08 23:33] #251 closed

[2018-11-09 02:12] ranj063 commented on #193
https://github.com/thesofproject/linux/pull/249 fixes this issue

[2018-11-09 02:36] ZhendanYang opened #263 "simultaneous playback and capture will cause Input/output error"
Summary:
When simultaneous playback and capture end, input/output error will occur.
This issue is moved from firmware issue https://github.com/thesofproject/sof/issues/180

Reproduce step:
[code]
input/output error can reproduce every time.

Test env:
sof-master: 9b376d7
soft-master: 937032
kernel debug/v4.19-backport: 925637e3020ec5f5c058abd5944d8f7dbe4ff27a

Log:
sof-logger doesn't work due to f

[2018-11-09 03:15] mengdonglin opened #264 "Keep HD-A support backward compatible with SOF v1.2"
SOF firmware v1.2 has no support for HD-A links. We need to assure latest kernel (SOF platform driver, machine drivers) can be configured to disable HD-A link support, to work with SOF 1.2 and topology w/o HD-A front & backends.

[2018-11-09 04:49] libinyang commented on #253
@stevyan
This bug should be fixed with the latest SOF with PR https://github.com/thesofproject/sof/pull/541 and https://github.com/thesofproject/sof/pull/549. Could you please verify?

@plbossart

[2018-11-09 05:11] mengdonglin commented on #238
@ranj063 Will this issue be fixed by your PR https://github.com/thesofproject/linux/pull/249/

[2018-11-09 07:59] mengdonglin commented on #264
Dependence:

- [ ] https://github.com/thesofproject/linux/pull/257

 - [ ] https://github.com/thesofproject/linux/issues/234

[2018-11-09 08:44] emilchudzik commented on #250
@plbossart your method in my WHL doesn't work, I still can't boot to UI, when I use "make defconfig" and then follow steps from https://github.com/thesofproject/kconfig.

when I use Rander method - I can boot to UI, but this steps I still think is not good idea:
rm .config
make menuconfig
It enable a lot of options in kernel, time of building is long, but it works.
I try to explain it in ths topic

[2018-11-09 10:08] mengdonglin opened #266 "Simultaneous playback and capture will cause IPC timed out"
This issue happens when running playback and capture at same time. Possibility: 5%~10%.

How to reproduce:
1. repeat run: aplay -Dhw:0,1 test.wav -d 5 & arecord -Dhw:0,1 -f dat -c 2 test9.wav -d 5

Error log:
chronos@localhost ~ $ aplay -Dhw:0,1 /root/100sine.wav -d 5 & arecord -Dhw:0,1 -f dat -c 2 test9.wav -d 5
[1] 2489
Recording WAVE 'test9.wav' : Signed 16 bit Little Endian, Playing WAVE '/roo

[2018-11-09 10:16] mengdonglin commented on #266
Comments by Jakub:
 "we always are missing FW traces from faulty iteration and there are no more traces afterwards.
Look at attached fw trace and dmesg logs and count ipc_glb_stream_message trigger start and ipc_glb_stream_message trigger stop pairs – there are two starts and two stops per iteration and in logs attached there were 10 iterations (tenth being faulty) but start and stop trigger pairs

[2018-11-09 11:06] dabekjakub commented on #266
Comment to missing traces - @keqiaozhang did not see this issue and provided fw traces.
In traces provided by him there was no timeout on FW side and every ipc was handled and responded to in time.

Kernel side log on the other hand states that ipc replay was not sent in time. (inline)

[   92.037887] sof-audio sof-audio: pcm: trigger stream 1 dir 1 cmd 1
[   92.038044] sof-audio sof-audio: ipc tx

[2018-11-09 14:37] plbossart commented on #250
@xiulipan can you confirm if the configs on  https://github.com/thesofproject/kconfig work for WHL and if not work with @RanderWang to fix this? If @emilchudzik is right, we have a gap in our configs. Thanks!

[2018-11-09 14:46] plbossart commented on #264
Humm, this is a bit vague. I am all for removing HDA/HDMI support with a config change, but
1. On what platforms do you want to ensure backwards compatibility? GLK selects HDAC_HDMI in the Kconfig
2. how would you deal with ABI changes that happened since 1.2?
3. how do we provide topologies that have no references to hda/hdmi? it's almost like we'd want two topology files, with HDMI being added i

[2018-11-09 16:34] lgirdwood commented on #227
Updated to HEAD 3277edc9, regarding above this error should only be fatal if HDMI based topologies are loaded.

[code]

[2018-11-09 16:37] lgirdwood commented on #227
@plbossart same error on Leafhill too. My only thoughts are if you are not seeing this then a Kconfig option is breaking this (and it should be non fatal).

[2018-11-09 16:47] lgirdwood commented on #227
Ok, @RanderWang the SOF HDMI support depends on the Intel display driver. Can you add such a rule in Kconfig otherwise we get this error.

[2018-11-09 17:12] plbossart commented on #227
All machine drivers which support HDMI should select HDAC_HDMI. This is not the case today.
That said, we will need to make the select conditional as well to build without HDMI when SOF_HDA is not selected. Kconfig mess again.

[2018-11-09 17:14] plbossart commented on #227
@lgirdwood actually if you are using nocodec you should not have HDMI enabled, not sure how you reached this point?

[2018-11-09 18:00] #193 closed

[2018-11-09 22:58] plbossart commented on #228
@ranj063 The error still shows up with latest firmware, sof-dev on Up2 w/ HDMI, so something is still off with your PM patches?

[2018-11-10 03:37] xiulipan commented on #250
@plbossart
Yes our config need some on device test.
Now the https://github.com/thesofproject/kconfig could not even boot on APL UP2 board.
I am doing the fix to have the kernel built with kconfig could run on every platform we have.
Now I found most gaps are in base-defconfig part, will send the PR once I did all the patch and test.

[2018-11-11 15:12] plbossart commented on #250
@xiulipan I use all the kconfig stuff on Up2 and have no problem at all. It's been working for at least 6 months. Did you mean the WHL board?

[2018-11-12 07:31] markyang commented on #253
**Summary:**
  This issue cannot be reproduced on UP2 any more.

**Test env:**
sof master: 5838f717
sof tool: 2cd668c
kernel sof-dev: 9b81e164
tplg: sof-apl-nocodec.tplg-2cd668c

[2018-11-12 10:04] #253 closed

[2018-11-12 17:04] plbossart commented on #250
@emilchudzik I also just tried on a WHL device, things work just fine for me. I am able to boot to UI with make defconfig+ merge_config.sh .config base-defconfig. The only thing that doesn't work is the trackpad.

As to the error on "Unable to bind codec" error, it's normal since we disable the legacy HDAudio in the base config to avoid conflicts with SOF or SST drivers. It's a feature, not a bug.

[2018-11-12 17:47] plbossart commented on #226
closed with PR258

[2018-11-12 17:48] #226 closed

[2018-11-12 20:46] plbossart opened #271 ""Tag 1 not opened" error message on each pm_runtime suspend"
Maybe it's harmless but I am tired of seeing it without understanding if it's a real issue or not. This message occurs before each suspend

[code]

[2018-11-12 20:49] plbossart commented on #228
@ranj063 I don't see the error any longer with the latest sof-dev, firmware and topology, not sure if I did something wrong last week or if this was corrected.

[2018-11-12 21:55] plbossart opened #272 "Fix MSI support with HDMI outputs"
We all agreed we'd move to MSI, but the HDaudio code still have this TODO

[code]

This needs to be fixed or explained before upstreaming

[2018-11-12 22:33] plbossart opened #273 "Fix hda_dsp_stream_init() error handling (leaks!)"
The code in hda_dsp_stream_init() does not unwind memory allocations on errors.
Add as issue since the code is pretty complicated and needs attention/tests.

[2018-11-13 03:03] markyang opened #275 "pcm_read error occurs when capturing with nocodec DMIC"
**Summary:**
  pcm_read error occurs when capturing with nocodec DMIC.

**Test steps:**
1. arecord -l
[code]
--
2. arecord -Dhw:0,6 -fS32_LE -c2 -r 48000 -vv -i /dev/null
[code]

**Test env:**
sof master: 5838f717,73475e3f
sof tool: 2cd668c
kernel sof-dev: 9b81e164,165b34de
tplg: sof-apl-nocodec.tplg-2cd668c

**Log:**
[dmesg-apl-dmic.log](https://github.com/thesofproject/linux/files/2574462/dmesg-

[2018-11-13 04:56] keyonjie commented on #271
fix is here:
https://github.com/thesofproject/linux/pull/248/commits/21e9ca1ba359beae02496323c25a4b330e41bee5

[2018-11-13 05:25] keqiaozhang commented on #243
@ranj063
This issue is fixed on your kernel branch-cros-sof-v4.14-rebase.
I will close this issue once you rebase it to google release branch(thesofproject/linux/tree/topic/cros-sof-v4.14).

kernel driver- ranja063-cros-sof-v4.14-rebase:a38231
sof-master:1607737
soft-master:2cd668c

[2018-11-13 05:36] keqiaozhang commented on #238
This issue is basically fixed on your kernel  branch, but in one corner case like keep pressing the space key for few seconds(less than 5 seconds). it will run to ipc timed out error.

kernel driver- ranja063-cros-sof-v4.14-rebase:a38231
sof-master:1607737
soft-master:2cd668c

[2018-11-13 05:37] keqiaozhang commented on #239
@ranj063
This issue is fixed on your kernel branch-cros-sof-v4.14-rebase.
I will close this issue once you rebase it to google release branch(thesofproject/linux/tree/topic/cros-sof-v4.14).

kernel driver- ranja063-cros-sof-v4.14-rebase:a38231
sof-master:1607737
soft-master:2cd668c

[2018-11-13 05:52] mengdonglin commented on #228
@markyang Can you help to check if this issue is still reproducible on your UP2? If not, please close it.

[2018-11-13 05:53] ranj063 commented on #275
@keyonjie @plbossart this is due to the added reserved bytes in struct sof_ipc_dai_dmic_params.

Removing the reserved bytes fixes the issue but I cant understand why it would fail in the first place.

[2018-11-13 06:16] keqiaozhang opened #277 "IPC timed out after boot on Yorp"
This regression is caused by the ABI change, since the ABI is changed in firmware side, but the according kernel PR thesofproject/linux/pull/260 is missing in cros-sof-v4.14-rebase branch.

dmesg log:
[code]
kernel driver- ranja063-cros-sof-v4.14-rebase:a38231
sof-master:73475e
soft-master:2cd668c

[2018-11-13 06:19] ranj063 commented on #277
@keqiaozhang thanks. I will update the cros branch after the ABI changes have been validated

[2018-11-13 06:31] markyang commented on #228
**Summary:**
  This issue cannot be reproduced on UP2 any more.

**Test env:**
sof master: 73475e3f
sof tool: 2cd668c
kernel sof-dev: 165b34de
tplg: sof-apl-pcm512x.tplg-2cd668c

[2018-11-13 06:31] #228 closed

[2018-11-13 06:41] keqiaozhang commented on #178
This issue is fixed on Ranjani's personal kernel branch-cros-sof-v4.14-rebase.
I will close this issue once the google release branch is updated(thesofproject/linux/tree/topic/cros-sof-v4.14).

kernel driver- ranja063-cros-sof-v4.14-rebase:a38231
sof-master:1607737
soft-master:2cd668c

[2018-11-13 08:14] markyang commented on #233
**Summary:**
  This issue can be reproduced on MinnowBoard when DSP panic.

**dmesg:**
[code]

**Test steps:**
sudo sof-logger-2cd668c -l sof-apl.ldc-master-gcc-73475e3f
 CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME    CONTENT
sudo sof-logger-2cd668c -l sof-apl.ldc-master-gcc-73475e3f -t
 CORE  LEVEL      COMP_ID                TIMESTAMP            DE

[2018-11-13 08:22] ranj063 commented on #275
@mengdonglin @libinyang I already have a fix for this. I will submit a PR soon.

[2018-11-13 08:23] ranj063 commented on #275
@plbossart the issue is because of the bug in the incorrect dai_config during link_load() while parsing topology

[2018-11-13 14:40] mengdonglin commented on #277
@ranj063 Please hold on backporting PR /pull/260 to the topic/cros-4.14-rebase branch. Please backport after release for this week is done.

Firmware glk-004-drop-stable branch plan to introduce ABI update for IPC refinement AFTER the release this week.  Only SOF master branch has the ABI update atm.

[2018-11-13 15:20] plbossart commented on #277
@mengdonglin there is no plan to provide a different driver so firmware HAS to update. The ABI change was reviewed and no one from the firmware team chimed in, so silence means consent...

[2018-11-13 15:29] plbossart commented on #233
@ranj063 does pm_runtime work on MinnowBoard? If not, maybe we should remove this capability for now to unlock such blocking issues?

[2018-11-13 15:32] plbossart commented on #275
@ranj063 sorry, what "incorrect dai_config" bug are you referring to?

[2018-11-13 16:22] plbossart commented on #271
@keyonjie can you submit this patch as a PR? Looks like this change will conflict with Rander's simplifications of get/put functions.

[2018-11-13 16:48] plbossart commented on #138
@mengdonglin @keyonjie where do we stand on this topic? I'd really like to have this working to enable a fall-back to legacy.

[2018-11-13 16:49] ranj063 commented on #275
@plbossart this issue is specific to DMIC dai_config. But after sending the ipc to set the dai config in link_load(), the last step is to save the config for all dai's so it can be restored upon resuming from runtime suspend. At the moment only sizeof(struct sof_ipc_dai_config) bytes get copied. In the case of dmic, there are variable number of pdm controller configs making it larger than this siz

[2018-11-13 23:54] plbossart opened #284 "HDaudio: machine driver selection improvement"
In the existing code if there are no I2S codecs we fall back to HDAudio. This is not quite right, we should only do so if there are devices on the bus. The issue is that the HDaudio machine selection happens in sof-pci-dev.c before we probe the bus in intel/hda.c, so we have a chicken-and-egg problem.

Filing as an improvement to make sure we have a story and better handling of error cases.

[2018-11-13 23:56] plbossart opened #285 "HDaudio: need to check if codec module is available"
The existing code fails silently if the HDaudio codecs are not selected in the Kconfig. We should have a means to find out that the request_module did not work and warn the user that the codec is not supported.
Filed as enhancement but will be needed to reduce our support load.

[2018-11-14 00:15] plbossart opened #286 "DAI configs: need to rework memory allocation"
The ABI change exposed issues (https://github.com/thesofproject/linux/issues/275) which are fixed with a work-around. Need to relook at how DAI configs are handled and if dynamic allocation is required.

[2018-11-14 00:16] plbossart commented on #275
please test and check PR283 fixes the issue.

[2018-11-14 00:18] plbossart commented on #273
closing for now, it's probably less complicated to free everything on error or remove.

[2018-11-14 00:18] #273 closed

[2018-11-14 04:04] xiulipan commented on #250
@plbossart
Sorry about that. This seems to be the CI issue, I rechecked the kernel binary with kconfig on BYT, APL, CNL, WHL and all works find with UI.
Have no ICL platform. Will update status later.

[2018-11-14 04:57] ranj063 commented on #239
@keqiaozhang i've updated the topic/cros-sof-v4.14-rebase branch

[2018-11-14 04:58] ranj063 commented on #238
@keqiaozhang can you please try it with glk-004-drop-stable? I didnt see the issue with pressing space key continuously

[2018-11-14 09:09] libinyang commented on #227
@lgirdwood
@plbossart
After checking the code, I mainly knows why this bug happens and what's the design in SOF for HDMI.
Actually, the code is somehow copy from HDA. But the copier missed one point, in HDA we will return error directly in some cases. These cases are the controller is only for HDMI/DP audio. This means we never need initialize the HDA audio controller after we met the i915 init fa

[2018-11-14 09:22] emilchudzik commented on #250
@plbossart new repo kconfig and command below resolve issue, there is possibility to boot to UI.
`# cd <kernel_path>`
`# make defconfig`
`# /scripts/kconfig/merge_config.sh .config [kconfig_path]/kconfig/base-defconfig [kconfig_path]/kconfig/sof-defconfig [kconfig_path]/kconfig/hdaudio-codecs-defconfig`
`# make bindeb-pkg -j32`

This is config file created on above steps:
[_config.txt](https://git

[2018-11-14 09:41] keyonjie commented on #227
@libinyang we have same logic with sst skl.c, but I agree with your point that we should make HDA processing possible even i915_init fails or HDMI codec is unavailable.

Back to the issue initiated by Pierre, I believe if we select and load all dependencies(sof_hda, hdac_hdmi, hdac_hda, drm_i915, snd_hda_core,... there may be more...), we should not fail at hda_codec_i915_init() on skl+ platforms.

[2018-11-14 14:07] libinyang commented on #227
Agree with that we should clean up the Kconfig.

However, this bug should be another issue from Kconfig.
Firstly, this bug is directly is caused by mistaken of the code, the right code should be:
+    if (ret)
+        dev_dbg(...);

Secondly, As we can see, i915 init is handling graphic related issues. So this is a error handling topic. What if it failed on SKL+ (something wrong in i915 driver).

[2018-11-14 17:40] plbossart commented on #250
@emilchudzik you most likely have an ACPI ID that selects an I2S-based machine. You need to make sure your BIOS or ACPI initrd overrides don't have anything that prevents HDaudio from being selected. Can you run alsa-info.sh and paste the results somewhere.

[2018-11-14 17:49] #233 closed

[2018-11-14 17:50] plbossart commented on #233
Can we check if https://github.com/thesofproject/linux/pull/237 fixes this issue?

Also can I get clarity on MinnowBoard support for pm_runtime, the issue above mentions debugFS failing to resume so things are not clear to me...

[2018-11-14 17:52] plbossart commented on #227
@libinyang I am not able to follow your explanations, can you submit a PR if you believe something is not correct.

[2018-11-15 01:38] plbossart opened #288 "Broadwell: IPC errors"
DSP startup fails with IPC errors. Looks like the trace is broken - again :-1:

[code]

[2018-11-15 01:46] plbossart commented on #288
that error in itself shows legacy is likely broken.
[code]

[2018-11-15 01:48] keyonjie commented on #288
platforms must be broken if nobody is using it. :(
@keqiaozhang @stevyan do we have daily verification on broadwell?

[2018-11-15 01:53] keyonjie commented on #288
it's somewhat confusing here, but for legacy, stream_tag is not used, so that looks fine.

[2018-11-15 02:26] plbossart commented on #288
Unfortunately this feels like a total failure on all legacy platforms, I also have a DSP panic on Baytrail after the trace is initialized. Am I the only one to test?

[code]

[2018-11-15 03:43] libinyang commented on #227
Sure. I will submit a patch.

[2018-11-15 06:51] mengdonglin commented on #239
@keqiaozhang Could help to verify and close it?

[2018-11-15 07:17] keqiaozhang commented on #239
Confirmed that this issue is fixed.
Tested with:
Kernel-topic/cros-sof-v4.14-rebase: a38231
DSP FW-origin/glk-004-drop-stable: 1f79920
Topology-origin/master: 5894ed

[2018-11-15 07:17] #239 closed

[2018-11-15 07:19] keqiaozhang commented on #238
Confirmed that this issue is fixed.
Kernel-topic/cros-sof-v4.14-rebase: a38231
DSP FW-origin/glk-004-drop-stable: 1f79920
Topology-origin/master: 5894ed

[2018-11-15 07:19] #238 closed

[2018-11-15 07:35] keyonjie commented on #266
I can still see this issue with latest codes.

[2018-11-15 08:33] keqiaozhang commented on #288
@keyonjie
We don't run regular verification on broadwell,  if I remember correctly, I got the same result one month ago on broadwell.
I will try to reproduce this issue on my DELL XPS.
@markyang please help to confirm if we can reproduce this issue on BYT.

[2018-11-15 09:07] emilchudzik opened #290 "[WHL] HDA - 1, 4, 8 channels not supported by driver (used ALC700 codec)"
sof: whl-001-drop-stable/33e4b99

linux: sof-dev/af44aa9
patches:
- 0001-ASoC-codec-enable-loop-back-for-ALC700.patch
- 0001-ASoC-SOF-allocate-last-stream-for-trace.patch
[linux_rander_patches.zip](https://github.com/thesofproject/linux/files/2584449/linux_rander_patches.zip)

soft: master/5894ed4
patches:
- topology change from 32b to 16b for headphone

When I prepare tplg for 1, 4 or 8 channels

[2018-11-15 09:27] emilchudzik commented on #250
Here is an alsa-info output when used Rander method (created config based on local machine config).
Status: playback and capture works.
[alsa-info.txt.dN7IBDWdtd_usingRanderMethod.txt](https://github.com/thesofproject/linux/files/2584532/alsa-info.txt.dN7IBDWdtd_usingRanderMethod.txt)

Here is an alsa-info output when used kconfig to prepare .config file.
Status: loaded sof-cnl.tplg instead of sof

[2018-11-15 09:56] keyonjie commented on #266
@dabekjakub from the logs you pasted, looks FW received the trigger start msg, but handle/schedule too late?

[2018-11-15 10:33] markyang commented on #288
@keqiaozhang There is a a DSP panic on Baytrail. see also issues  [#443](https://github.com/thesofproject/sof/issues/443) for more details.

**dmesg:**
[code]

[2018-11-15 14:02] keqiaozhang commented on #178
Confirmed that this issue is fixed.
Kernel-topic/cros-sof-v4.14-rebase: a38231
DSP FW-origin/glk-004-drop-stable: 1f79920
Topology-origin/master: 5894ed

[2018-11-15 14:02] #178 closed

[2018-11-15 14:40] plbossart commented on #290
@emilchudzik why would you want to test 4 channel support from a codec that deals with stereo outputs? Are you expecting a downmix in the codec? What is the test case here?

[2018-11-15 14:41] plbossart commented on #290
Also the mono case is not supported anywhere, so it's not specific to WHL. We have to decide if we want to support this or require userspace to provide stereo.

[2018-11-15 14:47] plbossart commented on #250
@emilchudzik the log does not include anything related to ACPI devices?
the chunk of alsa-info.sh is this:
[code]

We need to figure out why you have an I2S-related ACPI ID. Chances are the config you use locally does not include anything but HDAudio support, while the generic one includes both HDaudio and I2S support for CNL-rt274, and the latter is likely selected. Keep in mind that HDaudio is s

[2018-11-15 17:25] plbossart commented on #288
Looking at https://github.com/thesofproject/sof/issues/443, do I understand correctly that Baytrail has not booted since September 29? If yes, does anyone have a test report of a working configuration? I am not sure how anyone can fix this without this information - or it'll be just debugging in complete darkness.

[2018-11-16 03:33] xiulipan commented on #288
@plbossart
Yes, BYT is in unstable status since September. First due to some generic FW change, most legacy platform is broken since then. So it not only something of the linux kernel can fix BYT.
It would be like some re-enable SOF on BYT now.

[2018-11-16 06:37] libinyang commented on #266
Interesting bug.
Let me keep an eye on it...
BTW: Do you guys know how to watch an issue without send any message to others? Sorry for the garbage message.

[2018-11-16 07:49] keqiaozhang commented on #243
This issue is fixed, now suspend/resume can pass ~100 iterations.
But the criterion form chrome is 500 iterations. so we still have gap there.
I will keep this issue open until we meet this criterion.

[2018-11-16 08:01] keqiaozhang opened #294 "3 possible memory leak issues"
There‘re three possible memory leak issues on kernel driver:

Details:
#1:Possible memory leak. Dynamic memory stored in 'sroute->route.source' allocated through function 'kstrdup' at line 2311 can be lost at line 2336
/home/otc/sof/kernel/cros-sof-v4.14-rebase/sound/soc/sof/topology.c:2336 | sof_route_load()

#2:Possible memory leak. Dynamic memory stored in 'sroute->route.sink' allocated through

[2018-11-16 08:36] libinyang commented on #227
@plbossart
@lgirdwood

Patch submitted: https://github.com/thesofproject/linux/pull/295.
Please help review.

[2018-11-16 08:49] dabekjakub commented on #266
I investigated the FW logs and every trigger was handled in the same time @keyonjie and there were no indications of timeout on FW side that is why i need someone from kernel to look at it. I am 99.99% sure that we write response correctly and in time.

[2018-11-16 14:40] dabekjakub opened #296 "No exception data in fs after FW exception/panic"
After exception is triggered in FW if we try to collect exception info we instead get:

localhost ~ # cat /sys/kernel/debug/sof/exception
cat: /sys/kernel/debug/sof/exception: Permission denied

kernel branch: origin/topic/cros-sof-v4.14-rebase  a38231a7e8dce9af0916022c7994bcf0902219c9
FW - any that can provide exception
if needed use one with debug memory set to 1
https://github.com/thesofproject

[2018-11-16 14:44] dabekjakub commented on #296
@mengdonglin This blocks https://github.com/thesofproject/sof/issues/550 - or at least hinders it greatly.

[2018-11-16 15:21] plbossart commented on #296
@ranj063 @dabekjakub isn't the fix already in sof-dev and needs to be applied on the cros branch?

[2018-11-16 15:29] plbossart commented on #288
@xiulipan ok, but that doesn't answer to my second question... What is the most recent configuration of  (kernel, sof, soft) where legacy platforms worked?

[2018-11-16 18:46] ranj063 commented on #243
@keqiaozhang can we please get the log when it fails? It is impossible to debug without it. Thanks!

[2018-11-16 20:57] lgirdwood commented on #296
@dabekjakub just confirming you are running as root when you attempt to read the file ?

[2018-11-16 21:04] ranj063 commented on #296
@plbossart I will update the cros branch with the sof-dev updates today.

[2018-11-17 16:00] plbossart opened #299 "SOF_HDA: need to clean-up exit sequences"
we are missing a lot of hdac library calls, such as 	snd_hdac_ext_bus_device_remove(bus), both in the .remove calls as well as in error handling.

The goal is to release ALL the resources allocated, no exceptions. This will be mandatory for upstream.

[2018-11-17 16:05] plbossart commented on #275
@markyang can you please close this issue unless you still see a problem?

[2018-11-17 16:06] plbossart commented on #272
@Jocelyn-Li can you please assign someone to work on this?

[2018-11-17 16:07] plbossart commented on #264
no answer in 8 days -> closing.

[2018-11-17 16:07] #264 closed

[2018-11-17 17:25] plbossart opened #301 "SPI: use standard interface for machine drivers"
The machine drivers upstream now use a soc_acpi_machine structure, even when ACPI is not used (e.g. HDaudio). we need to roll back all the SPI-specific changes, they are not necessary.

[2018-11-18 01:20] xiulipan commented on #288
@plbossart
I think sof-1.2 should work fine with BYT. The master is broken for BYT as we are working on the 1.2 release.

[2018-11-19 01:39] bardliao commented on #43
I think the control name should be end with 'Playback Volume' or 'Capture Volume'.  ie. It should not be end with PIPELINE_ID.  For example, 'PGA1.0 Master Playback Volume 1' is not a good naming style. We can reorder it to 'PGA1.0 1 Master Playback Volume' or just remove the PIPELINE_ID from the control name if it is not necessary.

[2018-11-19 02:52] markyang commented on #275
**Summary:**
The issue cannot be reproduced any more.

[2018-11-19 02:52] #275 closed

[2018-11-19 07:41] RanderWang commented on #208
@plbossart I check and test the latest code, it is fine now.

[2018-11-19 08:43] libinyang commented on #227
The latest sof-dev branch should have already fixed this issue. Should I porting the patch to debug/v4.19-backport? code is like:
ret = hda_codec_i915_init(sdev);
if (ret < 0) {
     dev_err(&pci->dev, "no HDMI audio devices found\n");
     return ret;
}

[2018-11-19 08:49] keqiaozhang opened #304 "Stress: suspend/resume failure after dozens iterations on Yorp"
The criterion form chrome is 500 iterations. but now we only can pass dozens iterations.

dmesg log:

[code]
logger trace: no observed error trace

No memory window trace available.

[dmesg.log](https://github.com/thesofproject/linux/files/2594284/dmesg.log)
[logger-t.log](https://github.com/thesofproject/linux/files/2594366/logger-t.log)

[2018-11-19 09:16] dabekjakub commented on #296
@lgirdwood as Windows based as i am i did it as root ;)

[2018-11-19 09:26] keyonjie commented on #296
yes, please wait for Ranjani's back porting.

[2018-11-19 10:15] mengdonglin commented on #277
Closing this issue because now kernel branch topic/cros-sof-v4.14-rebase is aligned with FW branch glk-004-drop-stable. And FW branch glk-004-drop-stable will not include any ABI change if not necessary for a hot fix.

So ABI update like https://github.com/thesofproject/sof/commit/9af90ce211203741d6b377d3aed7b837e2734306 will not be included in glk-004-drop-stable. Thus no need to backport PR /pul

[2018-11-19 10:15] #277 closed

[2018-11-19 14:33] plbossart commented on #227
On 11/19/18 2:43 AM, Libin Yang wrote:

No one should be using debug/v4.19-backport, I will push it to the
archives. All the 4.19 code is now in topic/sof-dev, the debug branches
are temporary to check for bugs or missing features during transitions.

[2018-11-19 15:28] plbossart commented on #43
@ranj063 can you comment on what the names mean? What does PGAX.Y mean? I agree with Bard that there is an assumption the Playback Volume or Capture Volume are last.

[2018-11-20 00:49] keqiaozhang commented on #243
Let's track the gap to meet Chrome request for 500 iterations in https://github.com/thesofproject/linux/issues/304

[2018-11-20 00:49] #243 closed

[2018-11-20 01:03] keqiaozhang commented on #304
Re-tested it with same commits, but got different error logs:
Command line error output:
[code]
dmesg log:
[code]

[dmesg.log](https://github.com/thesofproject/linux/files/2597631/dmesg.log)
[logger-t.log](https://github.com/thesofproject/linux/files/2597632/logger-t.log)

[2018-11-20 01:51] libinyang commented on #227
Got it.

[2018-11-20 01:56] keyonjie commented on #271
thesofproject/linux#287 merged to sof-dev, @ranj063 please backport it to cros branch then we can verify and close this issue on GLK.

[2018-11-20 04:39] keyonjie opened #306 "SOF DMA Trace: avoid logs clearance at runtime suspend/resume"
We have enabled SOF Runtime Power Management on SKL+ platforms, where we will actually power off/on Audio DSP at suspend/resume, there, DMA trace will be re-initialized, those logs happened before last suspend will be overwritten from offset 0 at once after ADSP is resumed.

To fix this, we can do some extension to BDL setup function, e.g. add a member host_init_offset to store the last trace offs

[2018-11-20 05:53] keqiaozhang opened #307 "GLK: some unused widgets warning at boot"
There are a lot of widgets warning at boot on Yorp,

Warning:
[code]
Tested with:
Kernel -cros-sof-v4.14-rebase: bf94547
DSP FW-glk-004-drop-stable: 1f79920
Topology-master: 8cc1dadd

[dmesg.log](https://github.com/thesofproject/linux/files/2598260/dmesg.log)

[2018-11-20 07:54] ranj063 commented on #307
@keqiaozhang these are due to the virtual widgets and routes in topology.
@plbossart do we need to suppress these warnings?

[2018-11-20 07:57] ranj063 commented on #304
@keqiaozhang just confirming once more:
The suspend stress test is during hdmi playback?
If so, instead of using youtube for hdmi playback, can you please test local hdmi playback through the browser and disconnect the network when you run this test?

I am asking because I see this error in the log:
[15073.750425] kauditd_printk_skb: 4 callbacks suppressed
[15073.750427] audit: type=1400 audit(154

[2018-11-20 08:01] ranj063 commented on #306
@keyonjie we dont have suspend/resume on SKL- platforms yet

[2018-11-20 09:27] keyonjie commented on #306
thanks for clarification, then we can focus on skl+ implementation ATM.

[2018-11-20 14:33] mengdonglin commented on #140
@markyang Could you help to reproduce this issue on both APL (w/ and w/o codec) and CNL? If neither of the devices can reproduce the issue, please close this issue. Thanks!

[2018-11-20 14:38] plbossart commented on #307
I understand those warnings can be removed with the topology file, which is a better solution that adding ifdefs in common code shared with the SST driver.
@keqiaozhang please file this as a topology issue.

[2018-11-20 14:40] plbossart commented on #306
well we don't even have SKL- support since the code doesn't even boot properly with the trace issues, so suspend-resume is not even a problem at this point. Gah.

[2018-11-20 15:14] mengdonglin commented on #227
@libinyang @plbossart  Can we close this issue if "the latest sof-dev branch should have already fixed this issue"?

[2018-11-21 01:05] keqiaozhang commented on #307
Moved to https://github.com/thesofproject/soft/issues/135

[2018-11-21 01:05] #307 closed

[2018-11-21 01:34] libinyang commented on #227
i think so

[2018-11-21 03:17] RanderWang commented on #227
sorry, I am late.
Now the error message has been removed after I refine the algorithm of HDA codec detection.
So, It could be closed.

[2018-11-21 06:51] #227 closed

[2018-11-21 08:28] dabekjakub opened #308 "[Yorp] Stream error 107 when playing after short break."
Way to reproduce :
play with aplay and after about 40 seconds play again

aplay  test.wav

wait 40 seconds

aplay  test.wav
Playing WAVE 'test.wav' : Signed 32 bit Little Endian, Rate 48000 Hz, Stereo
Stream error -107

Kernel: /topic/cros-sof-v4.14-rebase/  bf94547
FW: /glk-004-drop-stable/  1f79920
SW: /master/  a01fd66

[log_trace_dmsg.txt](https://github.com/thesofproject/linux/files/2603354/l

[2018-11-21 09:14] keyonjie commented on #308
are you running this on GLK with HDMI PCM?

[2018-11-21 09:15] dabekjakub commented on #308
Yes , my default is HDMI - sorry for not writing that sooner

[2018-11-21 09:31] markyang commented on #140
This issue can't be reproduced on APL with codec, CNL & APL w/o codec are blocked by [thesofproject/linux#592](https://github.com/thesofproject/sof/issues/592)

[2018-11-21 09:33] keyonjie commented on #308
good, I can imagine how this happen, it's a driver issue, thanks for reporting.

[2018-11-21 09:50] keyonjie commented on #308
I can write a quick fix to it, @dabekjakub can you help try if it fix your issue?

[2018-11-21 09:54] dabekjakub commented on #308
Just point me to a kernel branch with your fix and i will check it :)

[2018-11-21 09:56] keyonjie commented on #308
@dabekjakub
https://github.com/thesofproject/linux/pull/309

[2018-11-21 13:45] dabekjakub commented on #308
Looks good , couldn't reproduce it with Your changes. @keyonjie

[2018-11-21 20:01] #308 closed

[2018-11-22 01:38] mengdonglin commented on #294
@keqiaozhang @ranj063 are these 3 issues fixed?

[2018-11-22 01:44] keqiaozhang commented on #294
@mengdonglin these three issues are still open.

[2018-11-22 03:14] mengdonglin commented on #263
@keqiaozhang @keyonjie  Is this a common issue? Also happen on GLK?

[2018-11-22 03:15] mengdonglin commented on #288
I think we can make APL and BYT health at first, then check the BDW.

[2018-11-22 04:17] #140 closed

[2018-11-22 04:23] mengdonglin commented on #254
@plbossart @keyonjie It seems this feature can be closed since PR #257  has been merged.

[2018-11-22 05:21] keqiaozhang commented on #263
@mengdonglin
Yes, this is a common issue. This issue also happens on GLK and track in thesofproject/linux/issues/266.

[2018-11-22 07:12] mengdonglin commented on #263
Duplicate to issue #266

[2018-11-22 07:39] mengdonglin commented on #294
Closing this issue as they've been declared a non-issue for now.

[2018-11-22 07:39] #294 closed

[2018-11-22 07:44] mengdonglin commented on #271
Closing this issue since it's fixed on kernel topic/sof-dev branch.

[2018-11-22 07:44] #271 closed

[2018-11-22 08:01] keyonjie commented on #266
it looks there is extra delay on some part:
[ 92.040217] sof-audio sof-audio: ipc tx: 0x60040000: GLB_STREAM_MSG: TRIG_START - ipc sent on kernel side

[ 92.344758] sof-audio sof-audio: error: rx list empty but received 0x0 fw response recieved for the ipc that timed out

the response is too late, longer than 300ms.

[2018-11-22 09:37] keyonjie commented on #266
it is not easy for me to reduplicate it now, with SOF glk-004-drop-stable and linux topic/cros-sof-v4.14-rebase, I tried the step #1 for more than 100 times, but no ipc timeout or xrun happens.

[2018-11-22 13:26] dabekjakub commented on #266
As i said before - i know that there is a timeout in log that points to fw. But when it comes to FW ipc handling i saw no delay in response in fw traces. So FW handled ipc (we handle it as IRQ) as fast as it was possible it was not even close to 300ms. That is why i ask for kernel dev to check it out. Maybe the response is already there but system has some kind of hickup on reading the memory wind

[2018-11-22 15:10] lgirdwood commented on #306
@keyonjie will this be a driver only fix, or does it need FW change too ?

[2018-11-23 00:50] keyonjie commented on #306
@lgirdwood this will be driver only fix for SKL+ platforms.

[2018-11-23 02:47] RanderWang commented on #284
@keyonjie , Hi keyon, I will work on SDL for SOF release, so I can't do it now, but we could have a discuss about it

[2018-11-23 03:00] xiulipan commented on #306
@keyonjie
So this is for DMA trace only. I think for error trace we need some FW change too.

[2018-11-23 04:03] keyonjie commented on #306
@xiulipan right, it's for DMA trace only. for etrace, we need think about new solution to avoid clearance.

[2018-11-23 05:21] keqiaozhang commented on #154
@naveen-manohar
Sorry to trouble you again, this issue is still open to me, could you share the updated UCM files that you used for test to me?

[2018-11-23 08:26] bardliao commented on #144
@mengdonglin @ZhendanYang PR https://github.com/thesofproject/linux/pull/311 can solve
[code]
And I can get "boot success" result on Up2 with pcm512x codec. But, the device will sometimes hang for other reasons.

[2018-11-23 11:43] keyonjie commented on #266
we miss an interrupt here on driver side, under investigation about why this happens.

[2018-11-24 03:35] mengdonglin commented on #304
@keqiaozhang Could you paste the 3 repo branch and commit info, and accurate reproduce steps here? Could you reply Ranjani?

[2018-11-25 03:01] mengdonglin commented on #250
@emilchudzik Closing this issue since Ubuntu can boot to UI now. Please file a new bug if you still see the proper HDaudio machine driver cannot be selected on you WHL RVP.

[2018-11-25 03:01] #250 closed

[2018-11-25 19:52] plbossart commented on #254
No, I would still like to see how we remove the static variable for the initialization of bus->idx

[2018-11-26 05:01] keqiaozhang commented on #304
@ranj063
I have passed the first ~500 iterations of test under following condition:
local HDMI playback through browser + disconnect the network.
I will do more tests next.

[2018-11-26 06:37] ranj063 commented on #304
@keqiaozhang then is it ok to close this? I think the previous failure was likely due to network issues.

[2018-11-26 06:43] keqiaozhang commented on #304
@ranj063
I'm doing more rounds of test to confirm it. if no errors, I will close it.

[2018-11-26 07:37] keyonjie commented on #266
0      1          DAI          44637303.177083      1983.802124                dai.c:114 	dai_buffer_process() error: Insufficient free bytes for next period. comp_overrun()
    0      1          DAI          44637319.322917        16.145834                dai.c:98  	dai_buffer_process() error: Insufficient bytes for next period. comp_underrun()
    0      1          DAI          44639303.125000

[2018-11-26 07:50] mengdonglin commented on #154
@naveen-manohar We'll close this issue here since it's not a SOF driver or fimrware issue.

[2018-11-26 14:03] ghost opened #313 "[WHL] HDMI/DP doesn't work"
linux: sof-dev/af44aa9
soft: master/ad3f3e4 tplg file: sof-whl-hda.m4 -> /lib/firmware/intel/sof-hda-generic.tplg
sof: whl-001-drop-stable/33e4b99

For above configuration HDA 48k, 16b, stereo works fine

HDMI/DP doesn't work for all 3 iDisp configuration:
`aplay -vv -Dhw:0,3 file_sound.wav`

![image](https://user-images.githubusercontent.com/22911148/49018411-a70a0500-f18b-11e8-82a2-be9bd0036f08.

[2018-11-26 15:32] plbossart commented on #313
@echudy Not an SOF issue, this is a configuration issue, you need to set the controls correctly. Typically this is done by checking which pin is connected, then setting the Pin5/6/7-Port0 Mux to 1 (for HDMI1 path), 2 (for HDMI2 path) and 3 (for HDMI3 path).
The same requirement applies to the cAVS/SST driver, this is not SOF specific....

[2018-11-26 18:54] plbossart opened #314 "SSP: need clock driver for on-demand activation of MCLK/BCLK/LRCLK"
This is the mirror of the SOF issue https://github.com/thesofproject/sof/issues/629

We need the ability to turn audio clocks independently either at boot or on-demand. This will require a dedicated kernel module registering the clocks with the clock framework (as done in the Skylake driver) as well as a new IPC.

[2018-11-26 23:22] plbossart commented on #306
@keyonjie Rather than muck with DMA/BDL programming, I thought the recommendation was to save all traces in host memory before suspend?

[2018-11-26 23:24] plbossart commented on #223
closed by PR#270

[2018-11-27 01:23] keqiaozhang commented on #304
@ranj063
Confirmed that this issue is fixed after disconnecting the network.
I did 5 rounds of tests, each round of test can pass ~500 iterations.

[2018-11-27 01:29] ranj063 commented on #304
Thanks @keqiaozhang

[2018-11-27 03:39] xiulipan commented on #313
@echudy
`-19` means either you did not connect a HDMI monitor to the device or you have wrong set in alsamixer

![image](https://user-images.githubusercontent.com/37825714/49056896-76cc7000-f238-11e8-8e95-41ffd560ba88.png)

A working hdmi setting is look like above.

Notice here only port 6 is connection to a monitor so I can see below message in dmesg
[code]

Which means I can only have port6 thu

[2018-11-27 03:54] keyonjie commented on #306
@plbossart that's another thought, but I believe that's belong to user space(e.g. running tools such as sof-logger all the time and saving output to an log file, similar to kern.log or syslog?)

[2018-11-27 03:55] keyonjie commented on #306
anyway, porting our DMA trace log to standard system trace is good idea.

[2018-11-27 07:25] keqiaozhang commented on #154
Close it, not a firmware or kernel driver issue.

[2018-11-27 09:31] emilchudzik commented on #313
Ok, i did this steps:
- connect monitor with HDMI and restart due to catch dmesg notification. I see the same as you:
[code]
- so i set alsamixer to pin 6: **cvt3**
![image](https://user-images.githubusercontent.com/41113230/49071946-6368d700-f22f-11e8-99a9-a4c37c26e22b.png)

- pin6 is HDMI2, so I use command to play:
`aplay -vv -Dhw:0,4 file_sound.wav`
![image](https://user-images.githubuserconte

[2018-11-27 09:37] xiulipan commented on #313
@bardliao
I remember there is a hdac-hdmi codec driver patch to enable HDMI playback on WHL for sod-dev?
If that patch is merged now?

[2018-11-27 10:06] xiulipan commented on #313
@emilchudzik
Confirmed with bard, please check if you have https://github.com/thesofproject/linux/commit/441b4b0374200744131f8c03fb225a2be42d88f1
In you kernel repo.
I can see from af44aa9 there is no this patch, please cherry-pick it.

[2018-11-27 11:36] bardliao commented on #299
@plbossart It seems we didn't use hdac stream control APIs. I think that's why we don't use snd_hdac_ext_stop_streams(). And hda_dsp_stream_free() do things similar to snd_hdac_stream_free_all() + snd_hdac_bus_free_stream_pages()
[code]
[code]
[code]
The only thing we missed here is snd_hdac_ext_stream_decouple(). But I don't know if we need to do it or it is done in somewhere else.
[code]
snd_hda

[2018-11-27 13:59] emilchudzik commented on #313
Still the same, HDMI doesn't work.
Error -19 disappeared.

After play using HDMI2 (hw0,4) I have only this in dmesg:
[code]

[2018-11-27 18:12] #301 closed

[2018-11-27 18:22] plbossart commented on #144
@bardliao I had a similar issue with the sof device https://github.com/thesofproject/linux/issues/259 and I 'fixed' it by changing the order in which the inits where done. We may be doing something in the PCI device that doesn't belong there?

What I did is try to look in /sys/devices/pic0000:00/0000:00:0e.0 and check if the subdevices were freed when the modules were removed.

[2018-11-27 18:26] plbossart commented on #299
snd_hdac_ext_stream_decouple() is used in hda-dai.c https://github.com/thesofproject/linux/blob/f585396251b7ffc8afda804f30c75dee12a4e689/sound/soc/sof/intel/hda-dai.c#L138
I have absolutely no idea why it's only called on TRIGGER_SUSPEND, makes no sense to me.

[2018-11-27 20:12] plbossart commented on #313
@emilchudzik please add ccflags-y += -DDEBUG to the Makefiles in sound/soc/sof/ sound/soc/sof/intel sound/soc/codecs sound/soc/intel/boards and submit the full dmesg log as attachment

[2018-11-28 01:23] bardliao commented on #313
@emilchudzik Same branch/commit works on my WHL RVP. But there is only one DP port on my HWL RVP which is pin 5.
[code]
So my command is  aplay -Dhw:0,3 48k32bitCalifornia_Dreaming.wav -vv.
[code]

[2018-11-28 02:56] ranj063 commented on #296
@dabekjakub is this issue resolved with the updated cros branch?

[2018-11-28 02:57] ranj063 commented on #286
https://github.com/thesofproject/linux/pull/281 addresses this issue.

[2018-11-28 06:44] keqiaozhang opened #322 "Failed to load tplg on GLK"
Topology load failed on GLK.
This regression may caused by firmware PR: thesofproject/sof/pull/634 and some related changes in driver side are missed.

Dmesg error:
[code]

Trace log:
sudo sof-logger -l /root/sof-apl.ldc
[code]
sof-logger -t:
[code]

Tested with:
Tested with:
kernel-cros-sof-v4.14-rebase: f8f388ef
sof-master: 31cde1
tplg-master: ad3f3e4
tplg:sof-glk-da7219.tplg
[dmesg.log](https:/

[2018-11-28 07:00] mengdonglin commented on #322
@keqiaozhang @RanderWang thesofproject/sof/pull/635 only revise WHL platform m4, why this can affect GLK and APL?

[2018-11-28 07:02] mengdonglin commented on #322
Also reproduced on APL UP2 platform: https://github.com/thesofproject/sof/issues/644

[2018-11-28 07:09] mengdonglin commented on #322
@RanderWang  @libinyang  I suspect thesofproject/sof/pull/634 or thesofproject/sof/pull/633 introduced the regression.

@keqiaozhang @markyang Could you help to bisect?

[2018-11-28 07:22] keqiaozhang commented on #322
@mengdonglin @RanderWang
sorry, I pasted the wrong PR ID, the PR should be thesofproject/sof/pull/634

[2018-11-28 09:56] mengdonglin commented on #322
@RanderWang  It seems https://github.com/thesofproject/linux/pull/291 is needed in kernel side.

[2018-11-28 18:58] plbossart opened #323 "sparse: bad parameter for fw_version"
[code]

[2018-11-28 19:00] plbossart opened #324 "sparse: use __le32 for BDL info needed for hda-stream"
[code]
All BDL info should be __le32?

[2018-11-28 19:06] plbossart opened #325 "sparse: use __le32 for BDL info needed for hda-loader-skl"
[code]

all BDL info should be __le32.

[2018-11-29 04:00] plbossart opened #331 "topology: need to check file manifest or ABI"
We need to double-check the topology file is compatible with the current kernel. This assumes the file itself has ABI information that can be extracted.

[2018-11-29 19:53] plbossart opened #336 "Link DMA support needs to be reworked"
The current code abuses ASoC APIs and manipulates ASoC internal data structures. It needs to be redone cleanly for upstream. Also it's not clear what really needs to be done on topology unload.

Added as an enhancement but this has to be prioritized, otherwise next time your esteemed dictator will refuse to merge such code. Thank you.

[2018-11-30 02:33] mengdonglin commented on #322
@keqiaozhang @markyang @RanderWang Could help to verify topology can be loaded now on GLK and APL (issue thesofproject/sof#644)?

[2018-11-30 05:16] RanderWang commented on #322
@mengdong, sorry, bard borrowed my APL

[2018-11-30 06:01] keqiaozhang commented on #322
@ranj063
Please help to cherry-pick #291  to cros-sof-v4.14-rebase.
Verified that this PR can fix the topology loading issue on APL

[2018-11-30 06:07] mengdonglin commented on #322
@keqiaozhang thank you for verifying APL! @markyang @RanderWang APL is okay now.

[2018-11-30 06:58] mengdonglin commented on #296
@dabekjakub Closing this issue since the fix is backported to the cros branch. Please reopen if you still see issue.

[2018-11-30 06:58] #296 closed

[2018-11-30 10:02] emilchudzik commented on #313
It seems like a monitor issue.
- IIyama X2472HD:
available only HDMI and JACK output - screen is visible, but unable to play using aplay

- Dell U2414Hb:
available DP and HDMI and JACK output - on both HDMI and DP can play and sound on stereo JACK works.

[2018-11-30 10:38] #313 closed

[2018-11-30 11:50] bardliao opened #343 "Can't find sof_dai in sof_link_unload()"
We will see below error message if we rmmod sof_pci_dev
[code]
The reason is link->name and sof_dai->name are not matched in sof_link_unload()
for example, on up2 with pcm512x codec,
the link->name are **HDMI3, HDMI2, HDMI1, and Port5**
But the sof_dai->name are **iDisp3, iDisp2, iDisp1, SSP5-Codec**
But it was matched in sof_link_load().

[2018-11-30 22:00] cujomalainey opened #346 "Compressed streams should not be a mandatory config"
SOF should not depend on compressed streams by default, it should use them when they are available.

https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/Kconfig#L13

[2018-11-30 22:16] cujomalainey commented on #346
@plbossart just wanted to follow up on our email chain and make sure it didn't get lost in the email noise

[2018-11-30 23:39] plbossart commented on #346
@cujomalainey Sorry, I don't remember this thread. What is the impact of the 'select SND_SOC_COMPRESS'? Is this just to avoid a new SOF-specific variant in pineview.config? At the moment the code does nothing so it's probably removed by the linker?

[2018-12-01 00:37] #286 closed

[2018-12-01 01:11] cujomalainey commented on #346
I'll send you an email to push it to the top, we just came to the conclusion that it should not be mandatory

[2018-12-01 15:59] jocelyn-li commented on #284
@RanderWang  #321 is closed. Will you submit new PR to fix this issue?

[2018-12-03 03:17] markyang commented on #322
**Summary:**
  This issue cannot be reproduced on UP2 with PCM512x.

**Test env:**
sof master: e94a34fc
kernel sof-dev: de1f57ac
tplg: sof-apl-pcm512x.tplg

[2018-12-03 06:33] libinyang commented on #272
#349 is to enable MSI for sof

[2018-12-03 08:45] RanderWang commented on #284
@Jocelyn-Li  yes, I may need to spend some days to finish it.

[2018-12-03 10:10] bardliao commented on #343
The reason why the dai->name does not match with the link->name in sof_link_unload() is sof_link_unload() is not called by those matched dai links.
sof_link_unload() will be called by remove_link(). But it will only deal with the dai links created by soc_tplg_fe_link_create(). (HDMI3, HDMI2, HDMI1, and Port5). The other dai links (iDisp3, iDisp2, iDisp1, SSP5-Codec) are created by snd_soc_instanti

[2018-12-03 10:13] bardliao commented on #144
@mengdonglin @keqiaozhang Could QA do a test for this issue? It is not stable yet, but we made some progress.

[2018-12-03 11:36] bardliao commented on #299
@plbossart I just checked snd_hdac_ext_stream_decouple(). I believe that we need to call snd_hdac_ext_stream_decouple(false) in hda_dsp_stream_free(). I didn't get SNDRV_PCM_TRIGGER_SUSPEND cmd even when the system is suspended. And hdac_ext_link_stream_assign() will call snd_hdac_ext_stream_decouple(true) when system boots up.
I will send a PR for it tomorrow.

[2018-12-03 17:37] plbossart opened #352 "upstream: use GENMASK instead of hard-coded values"
e.g. replace

#define BYT_PANIC_OFFSET(x)	(((x) & (0xFFFFll << 32)) >> 32)
by
GENMASK_ULL(47, 32)

[2018-12-03 17:39] plbossart opened #353 "upstream: revisit io read/write routines"
need to clarify why we use memcy_to/from IO and not readq/writeq?
Also clarify alignment and handling of trailing bytes that shouldn't be modified

[2018-12-03 17:40] plbossart opened #354 "upstream: use devm_ routines and simplify error flow"
use devm_ioremap and pcim_

[2018-12-03 17:40] plbossart opened #355 "upstream: remove redundant else statement in helpers"
if (sdev->ops->probe)
        return sdev->ops->probe(sdev);
   else << Not needed
        return 0;

[2018-12-03 17:43] plbossart opened #356 "upstream: use device_get_match_data"
replace
    id = acpi_match_device(dev->driver->acpi_match_table, dev);
    if (!id)
        return -ENODEV;

   desc = (const struct sof_dev_desc *)id->driver_data;

by desc = device_get_match_data(dev)

[2018-12-03 17:45] plbossart opened #357 "upstream: revisit required header files"
most of the includes are not necessary, need to reduce the list to the minimum required. it's not good practice to copy/paste across unrelated files.

[2018-12-03 18:22] plbossart opened #358 "upstream: rework snd_sof_dsp_register_poll"
1. No need to have an additional variable (done) when refactoring can provide
   you an existing variable (time) to be tested instead.

2. There are generic macros readx_poll_timeout() that are doing this kind of
   busy loop with IO.

[2018-12-03 19:38] plbossart commented on #343
@bardliao: my take is that whatever is allocated by the topology is released by the topology, and whatever is statically added by the card creation should also be released on removing the card. We don't want to confuse the two parts, do we?

[2018-12-03 23:47] ranj063 commented on #352
https://github.com/thesofproject/linux/pull/360 fixes this issue

[2018-12-04 02:44] ranj063 commented on #322
@keqiaozhang cros branch has been updated. Please re-check this issue.

[2018-12-04 08:50] bardliao commented on #354
@plbossart Do we also need to use devm_request_threaded_irq?

[2018-12-04 11:33] bardliao commented on #343
@plbossart Agree. Let's focus on the dai links which ever call sof_link_unload(). Suppose sof_link_unload() is the invert of sof_link_load(), right? So, if a dai link is called by sof_link_load(), we will expect it will be called by sof_link_unload().  Currently, sof_link_load() will be invoked by soc_tplg_load(). But there is no corresponding link_unload for it. Actually I can't find an API for t

[2018-12-04 18:20] ranj063 commented on #358
@plbossart https://github.com/thesofproject/linux/pull/366 addresses the first point in this request.

I have crashed my board over 20 times trying to get readx_poll_timeout() to work instead. I will submit another one later if I ever get it working.

[2018-12-05 00:48] #354 closed

[2018-12-05 00:48] #355 closed

[2018-12-05 00:48] #356 closed

[2018-12-05 00:49] plbossart commented on #354
On 12/4/18 12:50 AM, Bard Liao wrote:

why not? Any reason not to do it?

[2018-12-05 01:16] bardliao commented on #144
@plbossart I found that we allocate hdac_dev by devm_kzalloc, but it will finally be freed by kfree. I believe that it is the root cause of current issue. The same code is also used on intel/skylake/skl.c. So, the same issue may also exist on sst driver.

[2018-12-05 02:37] plbossart commented on #144
On 12/4/18 5:16 PM, Bard Liao wrote:

Nice work, thanks for looking into this. The module load/unload for the
skylake driver does absolutely not work, so you may have killed two
birds at once. Good news to end my day :-)

[2018-12-05 03:14] jocelyn-li commented on #272
@libinyang #349 is merged, can this issue be closed?

[2018-12-05 05:24] naveen-manohar opened #370 "Suspend stress test failure due to IPC timeouts on v0.6"
Chrome PV target for S0ix is 2500 cycles and the stress test fails on multiple boards due to IPC timeouts.

SoF v0.6 OS Recipe:
----------------------
Flash the latest ww48 BKC OS and Coreboot image(only) from path:
ChromeOS-test-R72-11284 or later OS and Coreboot
• Remove the rootfs verification (/usr/share/vboot/bin/make_dev_ssd.sh --remove_rootfs_verification --partition 2)

2. Kernel change -

[2018-12-05 06:18] libinyang commented on #272
Yes, I think so.

[2018-12-05 15:38] #353 closed

[2018-12-05 16:09] lgirdwood opened #372 "oops on FW boot timeout in pm_runtime_work() / sof_suspend()"
Kernel is oopsing on multiple platforms if FW boot timeouts.
[code]

[2018-12-05 19:34] lgirdwood opened #374 "sof_pci_probe() does not always check mach prior to deref."
Consider

CONFIG_SND_SOC_SOF_FORCE_NOCODEC_MODE = n
CONFIG_SND_SOC_SOF_HDA = n
CONFIG_SND_SOC_SOF_NOCODEC = n

then mach can be deferenced at "mach->pdata = ops;"

[code]

[2018-12-05 20:21] plbossart commented on #372
On 12/5/18 10:09 AM, Liam Girdwood wrote:

Did you force the timeout to happen? How can this be reproduced?

[2018-12-05 20:25] plbossart commented on #374
On 12/5/18 1:34 PM, Liam Girdwood wrote:

Indeed it's a valid bug, but what needed then is a check to return and
stop the probe since there is no machine driver.

[2018-12-05 21:48] lgirdwood commented on #372
Can be reproduced by ignoring interrupts from DSP.

[2018-12-05 22:59] #325 closed

[2018-12-05 23:00] #324 closed

[2018-12-05 23:00] #323 closed

[2018-12-05 23:01] plbossart commented on #322
no news -> closing.

[2018-12-05 23:01] #322 closed

[2018-12-05 23:02] plbossart commented on #372
Care to elaborate or share the test code you used?

[2018-12-06 00:10] plbossart opened #377 "readq/writeq are not defined in ARCH=i386"
This is reported by 0-day:
[code]
We need to fix the compilation issues, even if we actually use 64-bit mode in actual products

Config (renamed to make github happy)
[dot.config.txt](https://github.com/thesofproject/linux/files/2651118/dot.config.txt)

[2018-12-06 00:13] #352 closed

[2018-12-06 00:30] plbossart commented on #346
See https://github.com/thesofproject/linux/pull/378

[2018-12-06 10:27] mengdonglin opened #382 "CI: Push on more branches can trigger CI check"
The following branches are tracked and every push triggers a CI check.

SOF/linux github: topic/sof-dev, topic/sof-dev-rebase, topic/sof-rcX-rebase, topic/sof-next-rebase

Plbossart github: all branches

"I am clearly not asking this for every PR since there are usually multiple updates from developers, but it makes sense once the PR is approved and merged/rebased on topic/sof-dev.
Likewise for al

[2018-12-06 10:42] mengdonglin opened #383 "CI/Validation: Upstream test cases/scripts"
Upstream the test cases/scripts that can be run on devices with Linux.  There should no hard code for any specific device, all device configuration should come form parsing the topology binary or input parameters.

[2018-12-06 12:16] lgirdwood commented on #372
My test code is FW change, but the driver can easily pretend to handle notifications in the irq thread without passing the notification up the stack.

[2018-12-06 12:22] lgirdwood opened #384 "PM RTD3 oopses after topology fails to load."
Topology fails to load and hence the machine driver fails to probe. However RTD3 kicks in and attempts suspend and resume the DSP after probe failure.

Initial topology load error
[code]
Then subsequent oops for RTD3

[code]

[2018-12-06 14:25] lgirdwood commented on #384
https://github.com/thesofproject/linux/pull/385 fixes on APL, but needs validation.

[2018-12-06 14:50] lgirdwood commented on #372
https://github.com/thesofproject/linux/pull/385 also fixes this, but needs validation by @ranj063

[2018-12-06 15:12] lgirdwood commented on #374
https://github.com/thesofproject/linux/pull/386 should fix.

[2018-12-06 15:40] #377 closed

[2018-12-06 15:53] #357 closed

[2018-12-06 17:37] plbossart commented on #374
fixed and merged already

[2018-12-06 17:37] #374 closed

[2018-12-06 17:37] #346 closed

[2018-12-06 17:39] plbossart commented on #254
@keyonjie can you look into this bus->idx initialization, this is the only part that needs to be cleaned.

[2018-12-06 17:39] #272 closed

[2018-12-06 19:58] ranj063 commented on #370
#373 didnt help solve the problem

[2018-12-06 21:20] ranj063 opened #389 "restoring kcontrol values after resume"
Just wondering when this should be done?

Today it is done as soon as the system wakes up from runtime suspend or system suspend. runtime_suspend case is quite obvious that it needs to be right away. But is it critical to do this right after system resume? Or can this wait until after the pipeline is triggered?

We're seeing suspend/resume failures while restoring kcontrols right after resuming. I

[2018-12-07 00:57] plbossart opened #391 "Unrecoverable XRUN on speakers after HDMI hw_params error"
This scenario may not be a valid sequence but it totally wrecks SOF on APL/Reef

1. boot and start a guest session, then start a YouTube channel in the browser, listen on the speakers
2. start an SSH command-line terminal and run speaker-test -Dhw:0,5 -c2 -r48000 (this is trying to play on HDMI without any prior configuration or UCM updates). speaker-test fails since the mixers are not correctly s

[2018-12-07 01:32] mengdonglin commented on #144
@stevyan Could you help to verify if the solution on platforms: BYT, APL, CNL, WHL?

[2018-12-07 04:09] jocelyn-li commented on #370
@bardliao ran the suspend_stress_test overnight on a Bobba DUT, has passed 3725+ iterations and the test is still going.

@keyonjie @xiulipan Any ideas about this?

[2018-12-07 08:29] tlauda opened #394 "Wrong enable_mask when sending core enable IPC"
Wrong enable_mask is set for core enable IPC.
Kernel should keep track of how many cores should be currently enabled in order to handle this correctly.

Let's consider scenario, where the first pipeline in topology is scheduled on core 1 and the rest of them on core 0. Current flow:
1. Kernel sends IPC with enable_mask = 0x2 (core 1) for the first pipeline.
2. Kernel sends IPC with enable_mask = 0

[2018-12-07 10:29] markyang commented on #144
**Summary:**
This issue cannot be reproduced on **BYT**(more than 10 times)

But this issue can still be reproduced on **WHL**(1st time), **CNL**(2nd time), and **APL**(5th time) after unloading the sof modules.

**Test env:**
sof master: b5d6c71b
kernel sof-dev: a71221dc

**Log:**
[dmesg-apl.txt](https://github.com/thesofproject/linux/files/2656830/dmesg-apl.txt)
[dmesg-cnl.txt](https://github.co

[2018-12-07 10:38] keyonjie commented on #266
with the latest code base, I can't find interrupt missing issue. Here summarize what I found:

1. most of this IPC timeout happens after a FW Xrun in my observation, the Xrun auto recovery make debugging difficult, as it will keep doing things which actually never recover, and keep printing massive logs which expand the trace workload.
2. removing DMA trace will decrease the rate of IPC timeout ha

[2018-12-07 10:45] dabekjakub commented on #266
I haven't seen any xruns in fw when debugging this issue. However , @slawblauciak has uncovered reason for xruns and proposed a fix https://github.com/thesofproject/sof/issues/645. We should recheck this issue after proposed fix will be implemented.

[2018-12-08 16:56] ranj063 commented on #266
@keyonjie can you please check this issue with https://github.com/thesofproject/sof/pull/692

[2018-12-10 02:26] keyonjie commented on #266
@ranj063  so for this kind of ipc timeout, we need to confirm what stage we actually failed：
host not sent?
host sent but fw not recieved?
host sent, fw recieved, fw handled but not acked?
host sent, fw recieved, fw handled and acked, but host didn't get the ack?

[2018-12-10 06:10] ranj063 opened #395 "ipc message dropped if dsp is not ready"
in the call to sof_ipc_tx_message(), the work to send the ipc message is scheduled only if the dsp is ready(). What happens if the dsp is busy? Should the ipc be re-sent to the dsp again after a delay?

[2018-12-10 06:13] mengdonglin commented on #144
@markyang Thanks for your verification! I need your help to file 2 new bugs for APL and WHL respectively, based on the log. Please also clarify the topology file used in the new bugs.

- For APL, please file a new bug, since this bug is to track unloading/reloading failure that happens at the 1st time. e.g. "Kernel panic after unloading and reloading driver for multiple times on APL".

- For WHL,

[2018-12-10 06:30] markyang commented on #144
@mengdonglin The following topologies were used:
APL: sof-apl-pcm512x.tplg
CNL: test-ssp0-mclk-0-I2S-volume-s16le-s16le-48k-24000k-nocodec.tplg
WHL: sof-hda-generic.tplg

[2018-12-10 06:35] ranj063 opened #396 "Use SMART_SUSPEND to prevent waking up dsp before system suspend"
Enable the SMART_ SUSPEND feature to prevent waking dsp up before system suspend

[2018-12-10 08:00] mengdonglin commented on #322
@keqiaozhang Could you help to check if this issue is reproducible on GLK?

[2018-12-10 14:50] plbossart opened #400 "HDMI: rework the code to align with upstream fixes"
Takashi just posted a set of patch on alsa-devel: ALSA: HD-audio display power fixes
We need to rework the code and make sure the i915 power management remains functional.
Yet another example of why we need to upstream faster.

Filing as a bug since it'll gate upstream merges.

[2018-12-11 04:06] xiulipan commented on #370
[test_13_pass.log](https://github.com/thesofproject/linux/files/2665906/test_13_pass.log)
[test_12_pass.log](https://github.com/thesofproject/linux/files/2665907/test_12_pass.log)
Reproduced on an UP2 borad with more debug message.
Please see 12 as a success log, and 13 as a fail log.

[code]
Note the `ipc rx: 0x90020000: GLB_TRACE_MSG` from DSP when we loading the FW and first
`[ 2291.436852] PM:

[2018-12-11 08:19] mengdonglin commented on #400
Takashi's patches https://patchwork.kernel.org/project/alsa-devel/list/?series=53881

[2018-12-11 10:29] bardliao commented on #396
@ranj063  It will also check !pci_dev_keep_suspended(pci_dev) in [pci-driver.c](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/pci/pci-driver.c#L758).
And currently, !pci_dev_keep_suspended(pci_dev) is true in sof-audio-pci driver.
Look into [pci_dev_keep_suspended](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/pci/pci.c#L2407), I found
pm_runtime_suspended()

[2018-12-11 13:36] mengdonglin commented on #372
Will revisit this issue after #370 is fixed

[2018-12-11 15:02] mengdonglin commented on #33
@stevyan @markyang Could you help to check if this issue is gone with fixing of https://github.com/thesofproject/linux/issues/144 by https://github.com/thesofproject/linux/pull/311?

[2018-12-11 15:11] mengdonglin commented on #124
@stevyan @markyang Could you help to check if this issue is gone with fixing of #144 by #311?

[2018-12-11 15:13] mengdonglin commented on #68
@stevyan @markyang Could you help to check if this issue is gone with fixing of #144 by #311?

[2018-12-11 15:15] mengdonglin commented on #46
@stevyan @markyang Could you help to check if this issue is gone with fixing of #144 by PR #311?

[2018-12-11 16:42] plbossart opened #402 "CI: add support for make bindeb-pkg target"
Reported-by : @lgirdwood

The bindeb-pkg target is used by distributions and detects circular dependencies between modules. The recent move of the compressed API support as a module broke this requirement, so this is a useful check to add.

[2018-12-11 17:14] plbossart opened #404 "CI: add target with built-ins instead of modules"
Even if we need modules to deal with request_firmware() for now, it's still interesting to make sure we can compile with built-ins instead of modules
make allyesconfig will take way too much time, we'd need to use the existing fragments but demote all =m to =y in the .config (be it with a command or a script regexp replacement)

[2018-12-11 18:37] plbossart commented on #400
v2 is at https://patchwork.kernel.org/project/alsa-devel/list/?series=55081

[2018-12-11 23:00] plbossart opened #405 "CI: add W=1 option to SOF compilation"
Reported-by: @andy-shev. Adding this option helps find issues such as below (and stop with warning as errors to make sure people fix them).

[code]

[2018-12-12 00:43] plbossart opened #407 "Upstream: patch1/core issues"
[code]

[code]

[2018-12-12 00:57] plbossart opened #408 "Upstream: patch3/debug and patch 7/logger: remove error checks"
This is a bit controversial. I understand that execution and inits should not stop if debugfs creation or writes fail.
I still think it makes sense to avoid adding new elements when one access to debugfs fails.

[2018-12-12 01:09] plbossart opened #409 "upstream: patch4/ipc: if get_free_pages can be used"
Feedback from @andy-shev:

[code]

[2018-12-12 01:25] plbossart opened #410 "Upstream: patch 13/14: use hex_dump_to_buffer"
Feedback from @andy-shev

I don't recall why we did the manual formatting. If we have a good reason, let's add a comment. Otherwise use hex_dump_to_buffer

[2018-12-12 04:01] xiulipan commented on #405
@plbossart
Where is this log comes from?
In travis-ci I added the Werror flag for linux kernel build

[2018-12-12 05:07] ranj063 commented on #407
@plbossart I think this because while packing the address bits into the compressed page table, we're using 20 bits for each page which is 2.5 bytes.

[2018-12-12 08:23] markyang commented on #68
**Summary:**
  This issue cannot be reproduced on BYT with ALC5651 using the build on Dec 7
   There is no Kernel Panic, both arecord and aplay worked fine.

**Test steps:**
1. kmod_scripts/sof_bootone.sh
2. arecord -Dhw:0,0 -c2 -fS16_LE -vv -i ~/mytest.wav #OK
3. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i ~/mytest.wav    #OK

**Test env:**
sof master: b5d6c71b  #Dec 7
kernel sof-dev: a71221dc #Dec 7
tplg

[2018-12-12 08:28] markyang commented on #124
**Summary:**
This issue cannot be reproduced on BYT with ALC5651 using the build on Dec 7.
There is no Kernel Panic, both arecord and aplay worked fine.

**Test steps:**
kmod_scripts/sof_bootone.sh
arecord -Dhw:0,0 -c2 -fS16_LE -vv -i ~/mytest.wav #OK
aplay -Dhw:0,0 -c2 -fS16_LE -vv -i ~/mytest.wav #OK

**Test env:**
sof master: b5d6c71b #Dec 7
kernel sof-dev: a71221d #Dec 7
tplg: test-ssp2-mclk-0

[2018-12-12 09:37] keyonjie commented on #266
I found that sometimes scheduler crash before Xrun happens(looks like copy task is not scheduled then xrun happens), there might be scheduler bug.

[2018-12-12 09:55] xiulipan commented on #402
@plbossart @lgirdwood
For sof-ci the binary storage used the `make bindeb-pkg`.
So you would like to let travis-ci and sof-ci to build with `make bindeb-pkg` just after the make is done or replace the `make `with `make bindeb-pkg`

[2018-12-12 10:10] xiulipan commented on #402
travis ci part
https://github.com/thesofproject/linux/pull/413

[2018-12-12 10:25] xiulipan commented on #404
@plbossart
Got that. Maybe only build for now.

[2018-12-12 10:30] markyang commented on #46
**Summary:**
This issue cannot be reproduced on BYT-nocodec using the build on Dec 7.
There is no Kernel Panic.

**Test steps:**
1. kmod_scripts/sof_bootone.sh
2. aplay -l
[code]
3. arecord -l
[code]
**Test env:**
sof master: b5d6c71b #Dec 7
kernel sof-dev: a71221d #Dec 7
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplg

[2018-12-12 10:30] markyang commented on #33
**Summary:**
This issue cannot be reproduced on BYT-nocodec using the build on Dec 7.
There is no Kernel Panic.

**Test steps:**
1. kmod_scripts/sof_bootone.sh
2. aplay -l
[code]
3. arecord -l
[code]
**Test env:**
sof master: b5d6c71b #Dec 7
kernel sof-dev: a71221d #Dec 7
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplg

[2018-12-12 12:27] bardliao commented on #400
@plbossart I didn't have time to check v2 version today. But I did a basic test on v1. snd_hdac_display_power() is changed so we need to modify hda-codec.c to adapt the change .After that hdmi playback works on Up2.

[2018-12-12 12:54] mrajwa opened #414 "IPC: ABI misaligned with FW"
The IPC ABI has been recently changed in FW to provide information for kernel/driver about the GDB support - https://github.com/thesofproject/sof/commit/acce742819e55f57086058a7dc6949b3a93a4076

Now the ABI on kernel side shall be updated accordingly.

[2018-12-12 15:07] mengdonglin commented on #33
@markyang it's good that we don't have kernel panic during unloading/reloading here. But the topology loaded seems wrong. https://github.com/thesofproject/sof/blob/master/tools/topology/sof-byt-rt5651.m4 should be used for Minnowboard with AL5651.

Could you help to
- check why test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplg is loaded here?
- is unload/reload healthy with byt-rt565

[2018-12-12 15:17] ranj063 commented on #370
This issue has been root caused to a race condition caused by the timing of when the host gets a done interrupt and when the ipc task state in the DSP is set to "completed". A workaround to set the task state to completed before notifying the host works to pass 2500 iterations on 6 boards so far.

Work in progress to finalize the fix

[2018-12-12 15:32] mengdonglin commented on #46
@markyang are you using https://github.com/thesofproject/soft/blob/master/kmod_scripts/sof_bootone.sh in you verification?

And here we need to run stress test with multiple unload/reload,  So we expect to use soft/kmod_scripts/sof_bootloop.sh

[2018-12-12 16:40] plbossart commented on #405
@xiulipan this log just comes from my local compilation with make SUBDIRS=sound/soc/sof W=1
I am not sure your script works in the same way or it would have flagged these errors, no?

[2018-12-12 16:42] plbossart commented on #407
Thanks Ranjani, so we need a comment telling exactly what those 20bits are for and also check the use of standard ways to get the pci device.

[2018-12-12 16:54] plbossart commented on #414
NAK. You don't change the ABI on the firmware side, and then file an issue with the kernel. That's a broken process and a sure recipe for breaking things.
If you have an ABI change, then you file it both on the kernel and firmware sides with clearly documented PRs, and we make sure it's applied at the same time.
I am not going to do this work for you.

[2018-12-12 16:55] ranj063 opened #415 "Upstream: PATCH v3 11/14 ASoC: SOF: Add PM support"
What's this?  This seems used in snd_soc_runtime_suspend() and
_resume().  But it's a just normal boolean flag, no?

sof_suspend_stream()
Both playback and capture do the same thing, so this can be a loop of
dir.

[2018-12-12 17:50] ranj063 commented on #400
@bardliao after you finish your changes, please ensure it doesnt also break PM functionality on chrome.

[2018-12-12 18:01] ranj063 opened #416 "Upstream: PATCH 06/21 ASoC: SOF: Intel: Add Intel specific HDA DSP HW operations"
But why can't runtime PM turn on/off the display power?

[2018-12-12 18:36] plbossart opened #417 "Upstream: Patch 2/14: fix enumerated control"
Need to double check Takashi's feedback, enums should not use the value field. The following patch seems to compile but I have no idea if it's legit, and if the number of items is correct.

[code]

Suggested fix
[code]

[2018-12-12 18:37] ranj063 commented on #415
https://github.com/thesofproject/linux/pull/418 fixes this

[2018-12-12 18:42] plbossart opened #419 "Upstream: Patch 2/14: double-check all sizes passed by userspace or DSP"
For all controls, we need to check that the sizes are correct before doing a put() and after doing a get()

[2018-12-12 18:53] plbossart opened #420 "Upstream: Patch 5/14: pcm: check error handling"
Feedback from Takashi Iwai, we don't use the IPC return values immediately

[code]

[2018-12-12 18:55] plbossart opened #421 "Upstream: Patch 5/14: pcm: need comments on non-atomic trigger"
need to explain why the trigger is not atomic (and that it's based on FEs with .nonatomic=true)

[2018-12-12 18:58] plbossart opened #422 "Upstream: Patch 5/14: check if we need to use spin_lock_irqsave"
We need clear explanations as to why we are using spin_lock_irqsave(). Takashi mentions in his feedback we can use spin_lock_irq().
I've asked for this multiple times, now it's a higher power asking...

[2018-12-12 19:29] ranj063 commented on #407
https://github.com/thesofproject/linux/pull/423 fixes this

[2018-12-12 19:37] plbossart opened #424 "Upstream: Intel: ops are referenced in two different structures"
Problem detected while moving ops structures to const

In sof-pci-dev.c, we have references to skl/apl/cnl ops.
[code]

in intel/hda.c, we have a similar reference

[code]
I don't think it's very good to have the same ops included in two locations. It looks sloppy and probably is.

[2018-12-12 19:47] mrajwa commented on #414
@plbossart, I did not say you should do this on my behalf. I assigned you to this issue since I am not sure what is the proper process for such a change and I was seeking advice. In my original PR i signaled that corresponding update on kernel/driver side is necessary.

So, should I open PR in kernel repository with updated ABI of IPC, or there is some sort of code owner for this module which shou

[2018-12-12 19:58] #415 closed

[2018-12-12 20:27] plbossart opened #426 "Upstream: Patch 14/14: simplify utils"
Feedback from @andy-shev

[code]
I always get things wrong with strings so better have someone deal with this...

[2018-12-12 20:28] ranj063 commented on #420
https://github.com/thesofproject/linux/pull/425 fixes this issue

[2018-12-12 20:33] plbossart opened #427 "Upstream: soc-acpi: add constant ops field"
Feedback from Takashi Sakamoto. Currently we store the ops in a void *pdata structure. we can add a dedicated ops field and keep the const qualifier.

[2018-12-12 20:37] plbossart opened #428 "Upstream: Patch 9/14: loader size/alignment issues"
feedback from Takashi Iwai

[code]

[code]

[2018-12-12 22:20] ranj063 commented on #417
https://github.com/thesofproject/linux/pull/430 fixes it...well removes it so we can deal with it when it is supported.

[2018-12-12 23:39] wenqingfu commented on #414
yeah, what's the process? should we put down something in the project readme file? ->_-> @lgirdwood

I think so. If you can , you are much welcomed to shoot a kernel patch yourself. code owner is mostly for code review purpose.

[2018-12-13 00:45] plbossart opened #431 "Upstream: Patch 1/14: core"
Reported by Daniel Baluta.
There is no reason why we need to have an Intel-specific "hda" field in snd_sof_dev

[code]
We need a better abstraction for other architectures and no references to Intel-specific stuff at the top-level (PCI is admissible since it's not Intel-specific).

[2018-12-13 01:45] markyang commented on #33
@mengdonglin sorry, this test was on BYT-nocodec, I've updated the summary.

[2018-12-13 01:51] bardliao commented on #400
@ranj063 Sure. But will chrome apply these patches?

[2018-12-13 01:57] markyang commented on #46
@mengdonglin  There is an invalid DAI type error in the _dmesg_, so _sof_bootloop.sh_  doesn't work.
I can update the _sof_bootloop.sh_ script to ignore this error and try later.

[2018-12-13 02:41] libinyang commented on #408
we should not stop our code if debugfs goes wrong.
A better solution is:
int ()
{
struct dentry *d;
d = debugfs_...();
if (!d) {
	dev_err();
	return -ENOMEM; //It seem our -ENODEV is the wrong value
}
return 0;
}

The caller just call it and ignore the error.

[2018-12-13 03:03] ranj063 commented on #414
https://github.com/thesofproject/linux/pull/433 fixes the issue.

But I agree that we need to follow a process next time. This will unblock PV for now.

[2018-12-13 03:22] libinyang commented on #409
Yes, we can use devm_get_free_pages() with __GFP_ZERO flag to replace devm_kzalloc().

__get_free_pages() will allocate pages directly from the buddy system while kmalloc will allocate the memory from slab for some small size memory (kmalloc can also allocate big memory size actually).

So devm_get_free_pages() will be more efficient than devm_kzalloc() in some corner case in our case (but it is n

[2018-12-13 03:28] libinyang commented on #426
snprintf(name, 32, "NoCodec-%d", i);
I think both 32 or sizeof(name) is OK. I'm prefer 32 :) as the name is just a temporary variable.

for devm_kasprintf() vs devm_kstrdup(), I'm not very sure. I will do more investigation on it.

[2018-12-13 05:28] RanderWang commented on #422
it is a fix: https://github.com/thesofproject/linux/pull/434

We discussed this issue before and got a conclusion: spin_lock_irq should be applied(https://github.com/thesofproject/linux/pull/279)

[2018-12-13 05:51] libinyang commented on #426
@plbossart
After checking the source code of devm_kstrdup() and devm_kasprintf(), I think devm_kstrdup() should be enough for us in this case. Could you please ask Andy why he suggest using devm_kasprintf()? I really can't tell the advantage of devm_kasprintf() in our case.

[2018-12-13 06:19] RanderWang commented on #410
yes, I reply the email. hex_dump_to_buffer converts a blob of data to "hex ASCII" in memory, is not fit for us, here we want to dump the content of call stack, like:
[    3.250628] sof-audio sof-audio: 0x0049fbb0: 0x8000f2d0 0x0049fc00 0x6f6c6c61 0x00632e63
[    3.250670] sof-audio sof-audio: 0x0049fbb4: 0x00ffffff 0x0010b5d4 0x00000000 0x2000004c
[    3.250710] sof-audio sof-audio: 0x0049fbb8: 0x

[2018-12-13 06:35] xiulipan commented on #414
@ranj063
#433 Looks good

Here is another talk here I have mentioned in https://github.com/thesofproject/sof/pull/701 about ABI change guideline

@plbossart @lgirdwood

- What is the basic guideline of change ABI?
let takes a change like https://github.com/thesofproject/sof/pull/657 as example here.
I did not care about the fix about this issue now, I backwards-compatible.  only want to have a dis

[2018-12-13 07:29] RanderWang commented on #410
sorry, I am failed to reply the email to alsa for I am not the member of alsa. I discussed with XiuLi, get a conclusion that we don't need ASCII code, it is confusing. We just need some address and use a
script to analysis the call stack(@xiulipan). @plbossart , what is your idea?

[2018-12-13 08:12] bardliao commented on #419
@plbossart

I think we must guarantee that be->max is less than the ucontrol data array size.
But I can't find where we assign the value of be->max.
Could anyone tell me where we assign the value of be->max?

[2018-12-13 11:13] mmaka1 commented on #414
@ranj063

How about a simple rule: accept everything but the change to major version. And it is expected to be backward compatible?

It should not be required to make them at the same time since adding new extensions/fields to the structures which specify the header with the size correctly is a backward compatible change. Making changes to existing fields, removing existing fields/whole structures

[2018-12-13 11:46] bardliao commented on #419
@singalsu Do you know where be->max is set? I think
[code]
is used for EQ.

[2018-12-13 12:20] bardliao commented on #419
@singalsu I think I got the answer. It is from topology. So, we can't expect the value on kernel side. I will send a PR to check it tomorrow.

[2018-12-13 13:31] plbossart commented on #409
@libinyang can you clarify what you meant here? We certainly don't want a solution that's broken...

[2018-12-13 13:41] plbossart commented on #426
@libinyang why don't you ask Andy directly on the mailing list? I have no added value here, better have a direct interaction to report your concerns or findings.

[2018-12-13 13:44] plbossart commented on #410
@RanderWang I believe you already answered to the mailing list and my take-away is that we need a specific format with address and values interleaved, that hex_dump_to_buffer doesn't provide, so that closes the question.

[2018-12-13 14:09] plbossart commented on #414
@mmaka1 The addition of fields is not going to be a symmetrical task on the firmware and driver sides. The firmware folks can add stuff in backwards compatible ways and test them with custom scripts and pretend drivers. However if the Linux driver team adds fields then they will be ignored by the firmware and thus we can't really test the driver...

Also I really think we should discourage people