[2019-08-12 05:52] YvonneYang2 commented on #1121
Check it on daily version 20190710, issue still can be reproduced. Reproduced rate is 3/5.
Kernel commit id is 01373cf7 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-08-12 08:58] ClarexZhou commented on #1110
Still "No sound card" after reload
linux (topic/sof-dev):4730d842
sof (master): c6f1b08f

[2019-08-12 12:10] kv2019i commented on #1122
@plbossart wrote:

Hmm, actually no. On Mantis, neither in boot messages or while playing something (with latest sof-hda-generic-2ch.tplg topology). Same on a CFL system.

@ranj063 What topology and when do you get this on Mantis (during boot/mod-load I'd assume)?

[2019-08-12 12:12] kv2019i commented on #1121
Ack, will look at the bug.

[2019-08-12 12:33] kv2019i commented on #1104
I've been now trying to reproduce this on the systems I have with latest driver+fw with not much success. I've tested on WHL and CFL systems, with both "s2idle" and "deep" modes. Based on test results, it would seem this problem is specifically related to real S3, i.e. "deep" mode.

@YvonneYang2 can you confirm whether the DP display is working correctly in the cases where sound output fails to re

[2019-08-12 12:34] kv2019i commented on #1080
In progress, see comments in https://github.com/thesofproject/linux/issues/1104#issuecomment-520406205
I believe rootcause is the same in both bugs.

[2019-08-12 12:54] kv2019i opened #1123 "[enhancement] Use snd-hda-codec-hdmi for SOF HDMI/DP support"
There are currently two i915 HDMI codec implementations in upstream kernel, snd-hda-codec-hdmi (sound/pci/hda) and hdac_hdmi (sound/soc/codecs).

SOF is currently using the latter to enable HDMI/DP features for Intel HDA platforms.

Maintaining two codecs for the same hardware is not efficient as a fair amount of bugfixes and hw quirks are maintained for different hardware generations. And as of n

[2019-08-12 12:56] kv2019i commented on #1111
This is a clear bug and probable cause in not assigning unused pins to unused CVTs.

The preferred fix is to wait until we can move to the snd-hda-codec-hdmi driver for SOF, see https://github.com/thesofproject/linux/issues/1123

This work is under feasibility analysis currently. Once we have a better understanding on the work effort (and timeline), we can judge whether we need to make a quick fix

[2019-08-12 13:04] kv2019i commented on #1121
@YvonneYang2 Hmm, this only seems to happen on GLK and I don't have one now. Your finding that this regression appeared at the rebase seems like the best lead.

Can you try with legacy/non-dsp driver and see whether same problem happens? I suspect something related to the bisect to also show up with the legacy driver.

[2019-08-12 18:20] fredoh9 commented on #1123
I'm attaching more logs for ICL HDA. This is not 100% reproducible, only sometimes I can see  this failures.
[code]
[0809_icl6_hdmi_error.log](https://github.com/thesofproject/linux/files/3493784/0809_icl6_hdmi_error.log)
[0812_icl5_hdmi_error.log](https://github.com/thesofproject/linux/files/3493785/0812_icl5_hdmi_error.log)
[0812_icl5_no_soundcard.log](https://github.com/thesofproject/linux/file

[2019-08-13 03:13] YvonneYang2 commented on #1104
Test it with "s2idle" and "deep" modes, both can reproduce the issue. But I found DP actually have sound output instead of no sound after wake up, the volume turned to so low that can barely be heard after wake up.

Reproduced rate: 5/20
When issue reproduced, the DP display was working correctly.
Terminate aplay, and aplay again can recover the issue.

Try this on legacy hda mode 20 times, cannot

[2019-08-13 08:25] Jiangxinx opened #1127 "[BUG][BYT]Fail to boot system on byt rt5682 platform."
***Describe the bug***
Fail to boot system on byt rt5682 platform: failed to start network manager wait online.

***To Reproduce***
1.Flash kernel version 87140602 and reboot.

***Actual result***
![webwxgetmsgimg](https://user-images.githubusercontent.com/44258626/62926332-e3979280-bde6-11e9-851d-088abfa0c9e0.jpg)

***Environment***
Firmware: c6f1b08f https://github.com/thesofproject/sof/commits/

[2019-08-13 16:21] kv2019i commented on #1104
@YvonneYang2 wrote:

thank you. This is important. Can you still confirm I got the above right that on the 5 failing cases out of 20,  there is audio but is it is very low volume?

I've now tried over 100 iterations on multiple systems with no errors, but I have specifically monitored for no audio error case. I can try to rerun tests observing the volume levels.

[2019-08-13 18:06] wenqingfu opened #1128 "[ICL] display audio codec probe failure - intel_hdmi_detect WARN_ON"
from time to time, this failure pop up on ICL RVPs. It caused many CI cases failure. Looks like a i915 issue but posted here for reference. @kv2019i

[code]

**To Reproduce:**
system reboot, or run aplay on HDMI codec

**Reproduction rate**
30%

[2019-08-13 18:09] wenqingfu commented on #889
ICL added to SOF CI. Close this issue.

[2019-08-13 18:09] #889 closed

[2019-08-13 21:57] wenqingfu commented on #1128
another variant:

[code]

[2019-08-13 22:48] plbossart commented on #1128
it's reproducible 100% for me, to the point where I just removed HDMI support.

[2019-08-14 01:59] YvonneYang2 commented on #1104
Yes, when issue reproduces, there is audio but it is very low volume.  I've tired 10 times with today's test recipe, and still can reproduce 3 times.

Test recipe:
Firmware: c6f1b08f https://github.com/thesofproject/sof/commits/master
Kernel: b45315d5 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-08-14 02:46] ch181 opened #1131 "[CML] Recording volume via internal Mic is relatively low"
Describe the bug
Input volume via DMIC is low

To Reproduce
1. Record a sound clip using arecord (/w ~50% Input volume set in sound settings)
2. Play back the sound click (/w ~100% Output volume set in sound settings)

frequency
100% on CML laptop.

Actual result
The audio playback volume is low even at maximum volume setting

Expected result
The audio playback volume should be comparable to other

[2019-08-14 02:51] ch181 commented on #1131
No obvious found in the alsa-info log from the failed unit
[alsa-info.txt](https://github.com/thesofproject/linux/files/3499630/alsa-info.txt)

[2019-08-14 02:58] ranj063 commented on #1131
@ch181 can you please check if this PR helps? https://github.com/thesofproject/sof/pull/1725

[2019-08-14 17:27] kv2019i commented on #1128
Ack on assignment, I will soon have hw to debug this on.

[2019-08-15 01:52] YvonneYang2 commented on #1121
@kv2019i  Sorry, this is a new platform, I cannot find a way to switch to legacy/non-dsp driver.

It seems not a regression. I thought it is a regression at first, but I tried 10 more times with daily version 20190710, issue still can be reproduced before the code rebased, so I updated the https://github.com/thesofproject/linux/issues/1121#issuecomment-520284944

[2019-08-15 04:22] dengyangchao commented on #1083
No audio output when play music after system reboot

**To Reproduce**
1.Do system reboot via "sudo reboot"
2.wait runtime_status to suspend
3.play music through"aplay -Dhw:0,0 -f dat 1.wav -vv -i"

**frequency**
3/10

**Actual result**
No audio output on headset. Though headphone jack already detected.

**Expected result**
Music output on headset normally

**Environment**
Firmware: c6f1b08f  Maste

[2019-08-15 09:04] YvonneYang2 commented on #1121
Issue cannot be reproduced on another glk. It's a hardware issue, close the bug.

[2019-08-15 09:04] #1121 closed

[2019-08-15 11:13] juimonen commented on #1127
I have different error with same setup, for me it is:
"ASoC: no sink widget found for DMic" and " ASoC: Failed to add route SoC DMIC -> direct ->DMic"
then kernel NULL pointer dereference...

[2019-08-15 11:18] juimonen commented on #1127
@bardliao any idea of the above?

[2019-08-15 12:18] bardliao commented on #1127
@juimonen I think it is a bug from sof_rt5682.c
We add [{"DMic", NULL, "SoC DMIC"},](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_rt5682.c#L323) unconditionally. However, "DMic" is defined at [SND_SOC_DAPM_INPUT("DMic"),](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/dmic.c#L124), and we have to create a dai link for it.
But, we

[2019-08-15 12:38] juimonen commented on #1127
@bardliao, yes thanks, it fixes the issue (just my own quick hack with your suggestion). With that issue gone, I still can't boot to ubuntu UI. Not seeing it would be related to sound in any way....

[2019-08-15 12:56] xiulipan commented on #1127
@juimonen
Are you seeing something like "A start job is running for ...."?

[2019-08-15 17:05] plbossart commented on #1122
This looks really bad, when I add the following trace:

[code]

then I see that we are calling the same dpcm_be_connect() multiple times, so there's clearly a leak or bad flow somewhere that's only tracked by debugfs warnings....

[2019-08-15 17:16] plbossart commented on #1122
Dmesg log attached
[dmesg_debugfs.log](https://github.com/thesofproject/linux/files/3506509/dmesg_debugfs.log)

[2019-08-15 17:19] plbossart commented on #1122
@ranj063 can you take a look, I don't speak DPCM fluently :-)

[2019-08-15 23:25] plbossart commented on #1107
@dbaluta is this still required or was it fixed already with your changes?

[2019-08-15 23:25] plbossart commented on #1098
kernel changes upstream already

[2019-08-15 23:25] #1098 closed

[2019-08-15 23:27] plbossart commented on #1051
@cujomalainey wasn't this fixed by cherry-picking stuff from upstream?

[2019-08-15 23:28] #981 closed

[2019-08-16 06:42] juimonen commented on #1127
@xiulipan yes exactly

[2019-08-16 06:46] cujomalainey commented on #1051
Yes this was fixed by cherry picking the commit that created the asoc stubs for the acpi helpers.

[2019-08-16 06:47] #1051 closed

[2019-08-16 07:31] juimonen commented on #1127
@xiulipan there's something really dodgy in ubuntu 18.04 in mb-byt when kernel crashes. Shutdown and boot after that takes ages.... don't know if it is writing some log etc. If I wait like 1/2 hour it will eventually boot to UI.

So my suspicion here is: without Bard's fix https://github.com/thesofproject/linux/pull/1133 kernel oopses and the UI gets into some log writing etc state which takes a l

[2019-08-16 07:38] xiulipan commented on #1127
@juimonen Actually if we changed a kernel, it will just boot very fast. And I think there will be some other issues with Net to make us can not boot.

Need to check what is the root-cause to this boo up. Or we can try to use some Xubuntu for test device.

[2019-08-16 07:41] juimonen commented on #1127
@xiulipan what kernel did you try? I tried 5.3rc3, rc2, rc1 without sof patches on top and had exactly same jam... the boot was just stuck all the time. Then once I waited for very long time, it booted to UI. then the consecutive boots we're faster...

[2019-08-16 07:42] juimonen commented on #1127
even the stock kernel coming with ubuntu 18.04 was stuck for me

[2019-08-16 07:43] juimonen commented on #1127
@xiulipan but I agree it could be something to do with network, maybe it is trying to send crash report with some huge timeout etc.

[2019-08-16 07:50] dbaluta commented on #1107
@plbossart not fixed. I think this can be seen as a future enhancement.

[2019-08-16 08:51] juimonen commented on #1059
@bardliao I don't have rt5651 anymore but I get little bit similar stuff with rt5682:

[   76.455294] Workqueue: events_power_efficient rt5682_jack_detect_handler [snd_soc_rt5682]
[   76.455303] RIP: 0010:rt5682_jack_detect_handler+0x4e/0x290 [snd_soc_rt5682]

So some jack_detection functions are not happy when removing modules...

Any idea?

[2019-08-16 09:02] juimonen commented on #1110
yes this is probably because in remove we get kernel oops. insert after that will hang.
I get this log in mb-byt+rt5682:
[   76.455294] Workqueue: events_power_efficient rt5682_jack_detect_handler [snd_soc_rt5682]
[   76.455303] RIP: 0010:rt5682_jack_detect_handler+0x4e/0x290 [snd_soc_rt5682]

so something fishy with jack detection functions in both rt5651 and rt5682 when removing/inserting module

[2019-08-16 13:04] juimonen commented on #1110
@bardliao

commenting out the following snipped in rt5682 jack_detect_handler will make the kernel not to oops in remove modules....
        /*
        while (!rt5682->component)
                usleep_range(10000, 15000);

        while (!rt5682->component->card->instantiated)
                usleep_range(10000, 15000);
        */

I don't know what's the purpose of these lines and why the handle

[2019-08-16 15:09] kv2019i commented on #1128
I could reproduce this now, will now proceed to look into this.

[2019-08-16 15:10] kv2019i commented on #1111
It seems https://github.com/thesofproject/linux/issues/1123 is a feasible option, so I will now focus on this option (rather than fixing this bug in hdac-hdmi).

[2019-08-16 15:11] kv2019i commented on #1104
It seems https://github.com/thesofproject/linux/issues/1123 is a feasible option to solve this, so I will now focus on this option (rather than fixing this bug in hdac-hdmi).

[2019-08-16 15:12] kv2019i commented on #1077
It seems https://github.com/thesofproject/linux/issues/1123 is a feasible option to handle this limitation.

[2019-08-19 06:00] keyonjie commented on #1110
Hi @juimonen so looks rt5682->component->card here is NULL?

Can you try if this change can fix the issue?

[code]

[2019-08-19 07:25] ClarexZhou opened #1135 "[BUG][ICL HDA RVP] System hang when entering S3"
**Describe the bug**
System hang when entering S3:  display off, ssh not work, LED and fan still on and no response when try to wake up

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Sudo su
3. echo deep>/sys/power/mem_sleep
4. exit
5. sudo rtcwake -m mem -s 15

**frequency**
100%

**Actual result**
System hang when entering S3:  display off, ssh not work, LED and fan still on and no r

[2019-08-19 07:29] ClarexZhou commented on #1135
Issue still seen after delete audio modules.

[2019-08-19 07:49] juimonen commented on #1110
@keyon unfortunately doesn't help.... So removing the while loop helps. I guess the delay causes the underlying card to have time to be removed, but the pointers are not checked after the while loop. I don't understand why the jack_detecthandler is even run on remove? from irq or something? Anyway we should be able to disable the handler in time, or nullify pointers and check them every time.

[2019-08-20 01:31] bardliao commented on #1110
@keyonjie @juimonen Could you implement a jack = null case in rt5682_set_jack_detect() to disable jack detection, and call ``snd_soc_component_set_jack(component, NULL, NULL);`` in sof_rt5682 remove ops (not implement yet)?
For implementing jack = null case, you can refer to
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/rt274.c#L400

[2019-08-20 09:01] ClarexZhou commented on #1128
Similar error seen on ICL HDA RVP during system reboot stress test. Frequency:3/100. Failed at the 27th, 77th, and 81th times.

linux (topic/sof-dev):  a600576c
sof (master) : 5476ed7ft
tplg: sof-hda-generic-4ch.tplg, same with FW branch.

FW trace is empty.
[dmesg_failed_27.txt](https://github.com/thesofproject/linux/files/3519589/dmesg_failed_27.txt)

[code]

[2019-08-21 01:05] plbossart commented on #1131
@ch181 any feedback? If not we'll close as won't fix.

[2019-08-21 01:06] plbossart commented on #1127
@juimonen isn't this closed with the sof-rt5682 changes?

[2019-08-21 01:07] plbossart commented on #1122
@wenqingfu can you assign someone on this one? I suspect it's a bad regression, we need to figure it out.

[2019-08-21 01:18] plbossart opened #1143 "[BUG] sysfs conflict between topology and machine driver entities"
Interesting bug found by accident while mucking with M4 files.

When the topology contains a PCM device whose name (SDW0-Playback) is the same as a backend dai-link (SDW0-Playback), then the warning below pops up:

@ranj063 @juimonen do we have a means to go through all topology widgets/streams and check if they are duplicates with statically-defined resources?

[code]

[2019-08-21 02:06] Jiangxinx commented on #1127
Passed as #1133 had been merged.

[2019-08-21 02:06] #1127 closed

[2019-08-21 04:23] aiChaoSONG commented on #1106
At the first try of removing module, the error occurs.

**sof_remove.sh** output:
[code]
**dmesg** log:
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/3523537/dmesg.log)

[2019-08-21 06:25] Jiangxinx commented on #1059
This issue also can be reproduced on rt5682 platform:
[code]

***Environment***
Firmware: db138eba https://github.com/thesofproject/sof/commits/master
Kernel: 2a22b942 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: sof-byt-rt5682.tplg

[2019-08-21 07:15] Jiangxinx opened #1145 "[Bug][BYT] Failed to load DSP topology on byt nocodec platform."
***Describe the bug***
probe of sof-nocodec failed with error -22 on byt-nocodec platform.

***dmesg***
[code]

***Environment***
Firmware: db138eba https://github.com/thesofproject/sof/commits/master
Kernel: 2a22b942 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: sof-byt-nocodec.tplg

[2019-08-21 07:31] dengyangchao commented on #1083
use below commands catch some info on ICL-RVP and CFL
[code]

[CFL_normal_output.txt](https://github.com/thesofproject/linux/files/3524024/CFL_normal_output.txt)
[CFL_without_headset.txt](https://github.com/thesofproject/linux/files/3524025/CFL_without_headset.txt)
[ICL_issue_occur.txt](https://github.com/thesofproject/linux/files/3524026/ICL_issue_occur.txt)
[ICL_normal_output.txt](https://github

[2019-08-21 07:33] ClarexZhou commented on #1083
@kailangyang Could you take a look?

[2019-08-21 07:55] KailangYang commented on #1083
@ClarexZhou
Intel service owner was not me.
I will forward mail to my colleage.

[2019-08-21 08:35] Jiangxinx commented on #1145
Add bisect result:
Caused by sof#1728.

[2019-08-21 08:39] juimonen commented on #1145
fix is here https://github.com/thesofproject/sof/pull/1734

[2019-08-21 10:40] keyonjie opened #1146 "Support unloading/reloading a subset of pipelines(and its widgets/components) when they are not used."
On some platforms like byt/cht, there is very limited SRAM for aDSP to use, and on other platforms when aDSP run on D0ix, we hope to use as less of the SRAM as possible, so adding support to unload a subset of all existed pipelines(and its widgets/components) from FW is meaningful and inevitable.

To implement the feature on today's base, changes needed in driver side:

1. Keep all widgets (pipeli

[2019-08-21 10:42] keyonjie commented on #1146
@plbossart @ranj063 @mmaka1 @lbetlej please help review this feature reqirement.

[2019-08-21 10:53] juimonen commented on #1110
https://github.com/thesofproject/linux/pull/1147

[2019-08-21 13:48] plbossart commented on #1146
For power optimizations, you want to have both D0ix signaling and activation of pipelines on a need basis, but each can be developed separately. You will have a lot of development issues if you lump the two aspects in one milestone. one step at a time is my recommendation.

[2019-08-21 14:22] plbossart commented on #1106
are you using the latest scripts? Seems like you don't remove snd-sof-pci and snd-sof-acpi, so the dependencies are broken indeed.

[2019-08-22 02:38] ClarexZhou commented on #1110
Test on whl I2s RVP. Issue is fixed after applying PR #1147.  Passed for 200 times Module reload test.

[2019-08-22 04:52] keyonjie commented on #1146
Good point, thanks.

[2019-08-22 05:09] juimonen commented on #1059
@wenqingfu @Jiangxinx rt5682 module loading issue should be now solved in #1147. As said I don't have working rt5651 setup, so I'm not sure I can try to fix rt5651 issue with remote device. At least with my mb-rt5682 setup the kernel oopses cause system wide instability and I have to power off/on the device...

[2019-08-22 05:44] juimonen commented on #1059
@Jiangxinx can someone with rt5651 device test if this helps: https://github.com/thesofproject/linux/pull/1149

[2019-08-22 06:00] Jiangxinx commented on #1059
@juimonen I have tried #1149  with rt5651, found it can not boot sof.
[code]

[2019-08-22 06:09] juimonen commented on #1059
@Jiangxinx oh, had a really bad copy/paste error... probe was running remove also. Can you please still try again with updated version...

[2019-08-22 06:10] Jiangxinx commented on #1059
@juimonen OK,no problem.

[2019-08-22 07:29] juimonen commented on #933
@plbossart you are probably busy with other stuff, but is this still valid? If you have spare time to re-check with your setup... I think there has been some changes to byt ipc and other parts of the code.

[2019-08-22 10:43] mmaka1 opened #2434 "[BUG] cavs: icl: core 3 must be powered on startup by the driver"
**Describe the bug**
Since the DSP starts at full throttle (HP-RO 400 MHz is used as a clock source), the driver should set SPA for core3 in addition to core0 in order to propagate required notifications to other units. This should be done "silently", run-time environment for core3 is not required at this point, so the FW does not need to know about this.

In future, when more power optimizations

[2019-08-22 14:13] plbossart commented on #933
@juimonen ack, i'll retry tomorrow.

[2019-08-22 14:17] plbossart commented on #2434
@mmaka1 care to provide more details? We see random IPC and underflows on ICL w/ SoundWire, if there is a connection.

[2019-08-22 14:32] plbossart commented on #1059
@Jiangxinx can you confirm #1147 fixes the issue for rt5682. I'd like a check before merging, thank  you. Also recheck #1149, it'd be good to submit all machine driver changes upstream in one shot.

[2019-08-23 04:02] Jiangxinx commented on #1145
Fixed by thesofproject/sof#1734 .

[2019-08-23 04:02] #1145 closed

[2019-08-23 05:56] Jiangxinx commented on #1059
Add today's check rerult:
rt5682 with  #1147 :  **pass**
rt5651 with  #1149 :  **failed**
[code]

[2019-08-23 06:27] juimonen commented on #1059
@Jiangxinx can you try the rt5651 case with updated version of £1149 I just pushed. Sorry for the trouble, I just don't have the platform to test myself...

[2019-08-23 06:27] juimonen commented on #1059
i meant #1149 :)

[2019-08-23 06:37] xiulipan opened #1151 "[BUG] topology load fail at add route stage will cause warning."
From https://github.com/thesofproject/sof/issues/1733

Even if topology load fail due to topology issue, we should have some normal topology unload without errors.

[code]

[2019-08-23 06:41] xiulipan commented on #1151
@plbossart
Before fix the topology issue I looks into the warning message form the kernel. Find some interesting issue here.

In sound/core/control.c snd_ctl_remove

https://github.com/thesofproject/linux/blob/2a22b942ea414328b4e40331c09d72264331a7a1/sound/core/control.c#L466-L467

But at sound/soc/soc-core.c soc_cleanup_card_resources, we have already free and set the card into NULL.

https://git

[2019-08-23 06:44] xiulipan commented on #1151
@plbossart @kv2019i @singalsu

Test with the following patch and no kernel warning now.

[code]

[2019-08-23 07:02] Jiangxinx commented on #1059
@juimonen #1149 still can not work:
[code]

[2019-08-23 07:05] juimonen commented on #1059
@Jiangxinx ok thanks, I'll have to find a better way to test this....

[2019-08-23 07:46] xiulipan commented on #1151
RFC is https://github.com/thesofproject/linux/pull/1153
Not sure if change the free snd_card to last is the right fix.

[2019-08-23 12:38] juimonen commented on #1059
I was able to render @Jiangxinx device remotely unusable, so if someone with rt5651 can try the latest update of #1149 that would be nice. I disassembled the crash to rt5651_support_button_press but not sure my fix will make things better...

[2019-08-23 18:27] wenqingfu commented on #1059
There is a feature in CI to offline a DUT from pool for dedicated debugging.  I sent you and @xiulipan an email.

[2019-08-23 20:39] plbossart commented on #1151
it's likely not quite right, the initial comment was to sync with pending operations so you are changing a lot of functionality with this move.

[2019-08-24 03:52] xiulipan commented on #1151
@plbossart That was also my concern. But this comment and the real following behavior shows it is just not synced. So maybe I think we need to send an email to the author of this line about what is all the sync he would like to do. I tried to go through the git logs and there are too many changes to this part of code. Maybe I need to go check the review mail-list.

[2019-08-26 06:41] aiChaoSONG commented on #1106
With the latest remove/insert scripts, and ensure the runtime_status being suspended, the first removal will cause a null pointer dereference, but after insertion, aplay/arecord funciton well. The second removal  will block  in removing snd_soc_rt5682.

[code]

[dmesg_r2.log](https://github.com/thesofproject/linux/files/3539734/dmesg_r2.log)

[2019-08-26 07:20] aiChaoSONG commented on #1106
PR #1149 doesn't solve this issue, and brings a new kernel BUG: `unable to handle page fault for address: ffffffffc08a0060`
[code]
[pr1149_dmesg.log](https://github.com/thesofproject/linux/files/3539905/pr1149_dmesg.log)

[2019-08-26 07:28] juimonen commented on #1106
@aiChaoSONG if this is rt5682 platform, don't use #1149 because it is meant for rt5651. They are different bugs and should not be mixed. (#1147 is for rt5682).

[2019-08-26 07:31] dengyangchao opened #1799 "[BUG]When set capture volume to 0 DMIC 4ch still can capture voice"
**Describe the bug**
When set capture volume to 0  DMIC 4ch still can capture voice, the issue exist on both 0,6 and 0,7

**To Reproduce**
1. Reboot system via"sudo reboot"
2. wait it to suspend status
3. Use alsamixer to set DMIC capture volume to 0
4. Arecord via "arecord -Dhw:0,6 -r48000 -c4 -fs16_le 1.wav -vv -i" or "arecord -Dhw:0,7 -r48000 -c4 -fs16_le 1.wav -vv -i"
5. aplay the capture via

[2019-08-26 07:58] aiChaoSONG commented on #1106
This issue is fixed by #1147

[2019-08-26 12:11] tlauda opened #1160 "[BUG][playback] Underrun after pause-release on HDA Link pipelines"
There is a random underrun after pause-release sequence done on HDA Link pipelines. Repro rate is under 5%. It shows up during CI tests. It looks like Link DMA doesn't copy anything after release, so DSP has no free space for copying data from buffer.
There are two possibilities that we could check:
1. See if the right Link DMA is started by kernel after release. I remember that we've already had

[2019-08-26 15:12] juimonen commented on #1059
@Jiangxinx can you still do 1 more round with the latest #1149? I was about to test that when things went wrong... I'll leave you alone after this :)

[2019-08-26 16:29] ranj063 commented on #1151
@xiulipan can you please try if the attached patch works. This problem arises because when card registration fails, we cleanup card resources but do not remove the dai link components.
[patch.txt](https://github.com/thesofproject/linux/files/3541989/patch.txt)

[2019-08-26 23:17] ranj063 commented on #1122
@plbossart I'm picking this one up

[2019-08-26 23:37] ranj063 commented on #1122
@plbossart I think these warnings are harmless. It looks like the debugfs entries are created just before when a PCM stream is opened and removed before the pcm is closed. Looking at the attached log, when Pulseaudio opens the playback stream first the debugfs entry creation succeeds. But when the capture stream is opened before the playback stream is closed, we see the warning.

[  592.522405] dp

[2019-08-26 23:58] plbossart commented on #1122
Sorry @ranj063 'harmless' isn't an excuse... We shouldn't do this.
I think it comes from GKH's cleanups in 'ASoC: core: no need to check return value of debugfs_create functions' SHA1 fee531d6fc49b9a616525e30955c4cf3b403f632
[code]

[2019-08-27 00:06] ranj063 commented on #1122
@plbossart what I meant by harmless was that for both the playback and capture streams "be->dai_link->name" will be the same. So the debugfs entry creation will fail or emit a warning when opening a capture stream while playback stream is already open. Going by Greg's commit, we should not handle this warning and just ignore it right?

[2019-08-27 02:14] aiChaoSONG commented on #1106
Let's close this bug, since it is fixed after PR #1147 being merged

[2019-08-27 02:14] #1106 closed

[2019-08-27 02:33] Jiangxinx commented on #1059
@juimonen With the latest #1149 ,this issue still exist on rt5651:
[code]

[2019-08-27 07:56] Jiangxinx commented on #1059
Passed with the new #1149 on rt5651 platform.

[2019-08-27 12:54] tlauda commented on #1160
@mengdonglin @wenqingfu Could you assign someone to this issue? It's randomly failing CI.

[2019-08-27 14:55] kv2019i commented on #1123
New patch series uploaded on https://github.com/thesofproject/linux/pull/1155 -- see progress update in the PR description.

[2019-08-27 15:24] plbossart commented on #1122
I think we should not go into a case where we generate a warning. Greg's point of not depending on the results of past debugfs calls is fine, but here it generates warnings for no good reason.

[2019-08-28 01:19] dengyangchao commented on #1099
1.CML test 2000 times issue can't reproduce
2.CFL test 1200 times issue can't reproduce

[2019-08-28 02:11] dengyangchao commented on #1099
issue can not reproduce, close the issue

[2019-08-28 02:11] #1099 closed

[2019-08-28 02:30] ClarexZhou commented on #1135
Only reproduce on Ubuntu system. No seen on clearlinux. Close

[2019-08-28 02:30] #1135 closed

[2019-08-28 04:27] ClarexZhou commented on #1110
Close for fixed by PR #1147, pass after test 300 interactions..

[2019-08-28 04:27] #1110 closed

[2019-08-28 07:56] kv2019i commented on #1128
The rootcause for the problem seems incorrect BIOS/platform configuration. The issue is documented in:
https://bugs.freedesktop.org/show_bug.cgi?id=110676

""The VBT in this particular BIOS flavor has port C marked as a legacy TypeC port,
but contrary to that either in the BIOS setup (advanced/SA/display/portX) or in the BIOS itself (for the corresponding IOM functionality) this particular port wa

[2019-08-29 03:02] xiulipan opened #1170 "[BUG][TGL]ipc errror for 0x60050000 size 12 when stop the pipeline"
[code]

[code]

[2019-08-29 03:42] ranj063 commented on #1170
@singalsu do you think this could be fixed with a DMIC config change?

[2019-08-29 03:47] xiulipan commented on #1170
@ranj063 This will also happen on HDA and SSP dai pipeline.

[2019-08-29 03:50] ranj063 commented on #1170
@xiulipan how come we've not had this issue on any of the previous platforms? and is this specific to playback or capture or both>?

[2019-08-29 03:51] xiulipan commented on #1170
@ranj063 This is wired to me too. I add some debug logs and find that on previous platform, there is no big delay between DMA stop and IPC stop. But on TGL there is a huge delay there.

[2019-08-29 03:53] ranj063 commented on #1170
@xiulipan I think we need @tlauda to chime in here

[2019-08-29 07:51] tlauda commented on #1170
@xiulipan @ranj063 The original sequence for stopping is wrong as I already stated many times. First we should send stop ipc and then stop DMA. If the delay between the DMA stop and ipc is too big, you will see an xrun, but even without an xrun this can lead to some undefined behavior for HDA Link pipelines (#1160).

[2019-08-29 15:11] xiulipan commented on #1151
@ranj063
Test and seems can fix the panic issue. but we will have some error message from PM.

[code]

[2019-08-29 21:17] plbossart commented on #1151
@xiulipan the IPC timeout seem like a different problem, no? If you revert Morimoto-san's patches you should see the same issue?

[2019-08-30 02:36] ClarexZhou opened #1220 "[BUG][SDW]Aplay/ arecord isn't continued after switch to background then switch back foreground."
**Describe the bug**
Aplay/ arecord isn't continued after switch to background then switch back foreground.

**To Reproduce**
1. aplay -Dhw:0,0 -r48000 -c2 -fs24_le wav/long.wav -vv -i
2. press ctrl-z to put aplay background
3. enter 'fg' to switch aplay foreground.

**frequency**
100%

**Actual result**
Aplay isn't continued.

**Expected result**
Aplay should be continued normally.

**Environment

[2019-08-30 03:16] YvonneYang2 opened #1172 "[BUG][SDW]Aplay -l shows no soundcards when system boot up."
**Describe the bug**
Aplay -l shows no soundcards when system boot up. Run ./sof_remove.sh then ./sof_insert.sh scripts can recover the issue.

**To Reproduce**

1.Do system reboot
2.Run "aplay -l"

**frequency**

30%

**Expected result**
aplay -l shows all playback devices

**Actual result**
aplay -l shows no soundcards

**Environment**
Firmware: 0223d94 https://github.com/thesofproject/sof/commi

[2019-08-30 03:44] YvonneYang2 opened #1222 "[BUG][SDW]Arecord shows I/O error after pause and resume."
**Describe the bug**
Headset arecord will show I/O error after resume from paused status when pulseaudio is on. Trigger arecord again can recover the issue

**To Reproduce**
1.Make sure pulseaudio is on
2.Arecord -Dhw:0,1 -r48000 -c2 -fs32_le 1.wav -vv -i
3.Do pause and resume, then wait for 5-10s

**frequency**
100%

**Expected result**
Arecord normally after resume

**Actual result**
Arecord sto

[2019-08-30 04:07] YvonneYang2 opened #1223 "[BUG][SDW] Aplay+ arecord DMIC32 will cause IO error and dmesg shows ipc timed out for 0x60050000 size 12"
**Describe the bug**
Aplay + arecord DMIC32 will cause IO error and dmesg shows ipc timed out for 0x60050000 size 12
Terminate it then areocrd or aplay can work.

**To Reproduce**
1.Aplay -Dhw:0,0 -r48000 -c2 -fs32_le 2.wav -vv -i
2.Arecord -Dhw:0,2 -r48000 -c4 -fs32_le 1.wav -vv -i

**frequency**
100%

**Expected result**
Both arecord normally

**Actual result**
Arecord stop and shows IO error af

[2019-08-30 04:11] YvonneYang2 commented on #1222
DMIC32(-Dhw0,2) arecord still can reproduce the issue.

[2019-08-30 04:21] ClarexZhou opened #1224 "[BUG] Paplay audio output volume is very low when playing captured fs24_le audio."
**Describe the bug**
Paplay has no audio output when playing captured fs24_le audio. Audio can be played via aplay successfully.

**To Reproduce**
1. arecord -Dhw:0,1 -r48000 -c2 -fs24_le 1.wav -vv -i
2. paplay 1.wav

**frequency**
100%

**Actual result**
Paplay has no audio output when playing captured fs24_le audio. Audio can be played via aplay successfully.

**Expected result**
audio should be

[2019-08-30 13:44] lgirdwood commented on #2434
@plbossart @ranj063 has anyone tried this yet ?

[2019-08-30 14:30] ranj063 commented on #2434
@lgirdwood I dont think we've tried it yet. I think Pierre asked for more details but @mmaka1 hasnt replied yet.

At the moment the code loading sequence powers up all 4 cores before loading the FW. Not sure what Marcin means here and when Core 3 should be powered up precisely.

[2019-09-02 03:35] aiChaoSONG commented on #1224
paplay needs correct ucm to funciton well, run `pavucontrol` to check if there is a playback device.

[2019-09-02 03:56] ClarexZhou commented on #1224
There is a playback device.  Update result to "volume is too low for fs24_le audio via paplay", this audio can output normally via aplay.  Also fs16_le and fs32_le audio can be output via paplay normally.

[2019-09-02 08:41] mengdonglin commented on #1799
@dengyangchao Could you check the volume parameter value sent by IPC for the 4 channels? It should be one IPC for all 4 channels?

BTW, Seppo mentioned ASoC may only be able to deal with 2 channels.

[2019-09-02 09:15] zrombel commented on #1799
Hi,
I have tested this issue with slim driver with firmware 66da4e8 and master top 008285e and in both cases result are correct:

![image](https://user-images.githubusercontent.com/40820404/64103196-f2cc8900-cd71-11e9-8387-f7d0918aa117.png)
Audio format 48kHz 16b/16b 4ch

And this is the data that we are sending to FW via CompSetValue IPC
"data": [
    {
      "channel": 0,
      "value": 0
    },

[2019-09-02 09:50] dengyangchao commented on #1799
@mengdonglin only two channel volume can be controlled by amixer/alsamixer:
[code]
below audio is captured after changing volume to 0 via alsamixer
![Screenshot from 2019-09-02 10-04-29](https://user-images.githubusercontent.com/52945407/64106119-24614680-cdaa-11e9-9b5a-f9a68022a412.png)

[2019-09-04 08:00] sathyap-chrome commented on #1001
I've seen coupe of CML boot instances failing with same error signature.
HDMI HDA Codec ehdaudio0D2: HDMI: failed to get afg sub nodes
HDMI HDA Codec ehdaudio0D2: Failed in parse and map nid with err: -22
HDMI HDA Codec: probe of ehdaudio0D2 failed with error -22

Test tried : run reboot script and check card lists everytime after boot. Happens 1 in 10 machines and 1 in 1000 iterations..

cc @ranj

[2019-09-06 01:45] YvonneYang2 opened #1178 "[BUG][SDW]Aplay/arecord shows prepare error after switch to background then switch back foreground."
**Describe the bug**
aplay/arecord will show prepare error after switch to background then switch back foreground. Dmesg shows  SDW0-Playback: ASoC: backend prepare failed -22. Only reboot can recover the issue.

**To Reproduce**

1.aplay -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i or arecord -Dhw:0,1 -r48000 -c2 -fs32_le 1.wav -vv -i
2.Do "ctrl+z" to backgound, then do "fg" to foreground
3. Repeat

[2019-09-06 02:16] keyonjie opened #1179 "Clean up SOF FW booting in driver"
In general, we have several flags which are FW booting related in struct snd_sof_dev, that is .boot_complete, .boot_wait, .code_loading, .waitq, we need to clean up them, e.g. to use only one or two, we need define clear steps and states during FW booting(until the FW_READY message received and boot finished).

1. try if we can abandon the use of sdev->waitq and sdev->code_loading. please make sur

[2019-09-06 06:09] aiChaoSONG opened #1181 "[BUG] no sound via HDMI/DP after module reloading"
**Description**
no sound output via HDMI/DP after module reloading, but unplug and then reconnect HDMI/DP cable, sound output normally.

**Reproduce**
1. playback via HDMI with `aplay -Dhw:0,3 -f dat -i -vvv -c2 ./longwave.wav`, sound output normally.
2. unload and then reload modules with script `sof_remove.sh` and `sof_insert.sh`.
3. rerun `aplay`, there is no sound output.
4. unplug HDMI/DP cab

[2019-09-06 09:15] dengyangchao commented on #1181
issue also can reproduce with DP on CFL-S RVP (on board codec ALC700 in HD-A mode), and HDMI can not reproduce the issue

Environment
Kernel: topic/sof-dev fa20ceba
SOF: master ba32f4ad
Topology: sof-hda-generic-4ch.tplg
Platform: CFL-S RVP

[dmesg.log](https://github.com/thesofproject/linux/files/3583207/dmesg.log)
[logger1.log](https://github.com/thesofproject/linux/files/3583208/logger1.log)

[2019-09-06 14:47] lgirdwood opened #1183 "Position readback after D3."
Warning in dmesg from CI showing we are attempting to read stream position after D3. This is causing multiple failures in CI for valid FW changes.

https://sof-ci.01.org/sofpr/PR1710/build3075/devicetest/CML_RVP_HDA/check-alsabat-playback.sh/dmesg.txt

[code]

[2019-09-06 15:05] kv2019i opened #1184 "[ICL] occasional display audio codec probe failure - fail to get afg sub nodes"
This is a fork of bug https://github.com/thesofproject/linux/issues/1128

This issues happens occasionally on at least ICL system. The main fingerprint of the bug are following error messages in dmesg:

Sep  6 13:58:48 cflsdp2019 kernel: [  803.216002] snd_hda_codec_hdmi ehdaudio0D2: HDMI: failed to get afg sub nodes
Sep  6 13:58:48 cflsdp2019 kernel: [  803.216004] snd_hda_codec_hdmi ehdaudio0D2:

[2019-09-06 15:05] kv2019i commented on #1184
FYI @fredoh9 @ClarexZhou

[2019-09-06 15:10] kv2019i commented on #1128
There seems to be at least two distinct bugs in play. First is rootcause to BIOS configuration issue and can be identified by following display driver error in dmesg:

[    5.377151 <    0.000001>] WARN_ON(dig_port->tc_legacy_port)
[    5.377191 <    0.000040>] WARNING: CPU: 5 PID: 693 at /home/test/jenkins/workspace/kernel_build_template/drivers/gpu/drm/i915/display/intel_dp.c:5312 intel_digital_

[2019-09-06 15:39] ranj063 commented on #1183
@lgirdwood I do not see this warning on my WHL laptop. I dont have a CML anymore but if someone else can try it on theirs it will be useful. @kv2019i do you have yours?

[2019-09-06 15:49] lgirdwood commented on #1183
@ranj063 this is showing up on most FW PRs now and on more than one platform.
[code]

So this could be initiated from userspace, kernel or FW (via period elapsed IRQ). But this looks like we get a spurious IRQ on DSP boot that is being interpreted as a period elapsed IRQ.

[2019-09-06 16:02] lgirdwood commented on #1224
Low impact since it's paplay only.

[2019-09-06 18:19] plbossart commented on #1224
this should be fixed with the latest soundwire firmware, the hardware does require the data to be 32-bit MSB aligned and it's now handled. without the firmware change, the sound would be attenuated by 6.02*8=48dB...

[2019-09-09 01:58] dengyangchao opened #1187 "[BUG][ICL]show I/O error when unplug headset during capture"
**Describe the bug**
show I/O error when unplug headset during capture

**To Reproduce**
1. Reboot system via "sudo reboot"
2. Wait it to suspend status
3. Arecord via "arecord -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i"
4. Unplug headset

**Reproduce rate**
100%

**Expected behavior**
the arecord can still process

**Impact**
show I/O error

**Screenshots or console output**
![Screenshot from 201

[2019-09-09 06:27] mengdonglin commented on #1160
Xiuli is fixing PCM STOP sequence in https://github.com/thesofproject/linux/pull/1169

But we still need to fix PCM PAUSE sequence for the rendering pipeline here , please see comment:　https://github.com/thesofproject/linux/pull/1169#issuecomment-527762654

[2019-09-09 06:35] keyonjie commented on #1799
This should be a tplg bug, it is defined 2 channels for the kcontrol, please see:
[code]

[2019-09-09 06:37] keyonjie commented on #1799
@singalsu comments?

[2019-09-09 07:17] mengdonglin commented on #1160
Pause/release problem on capture is a different issue and tracked by https://github.com/thesofproject/sof/issues/1760

[2019-09-09 08:04] Jiangxinx commented on #1059
Closed as #1149 is merged.

[2019-09-09 08:04] #1059 closed

[2019-09-09 08:51] slawblauciak commented on #1224
This should no longer occur. Please confirm

[2019-09-09 11:43] singalsu commented on #1799
I think there's problem that continuing this way the microphones > 2 should be mapped to ALSA channel maps those were designed for surround speakers system. I wonder if next two microphones could be surround-left (SL) and surround-right(SR). If it could work it could be low effort at topology level. But it could be very confusing since with microphones there's no clear "surround" usage. Also above

[2019-09-10 07:12] dengyangchao commented on #1083
Try on another ICL RVP,  issue can not reproduce
Hardware issue, so close it

[2019-09-10 07:12] #1083 closed

[2019-09-10 07:26] dengyangchao commented on #1187
add sof error log
[code]

[2019-09-10 14:42] kv2019i commented on #1183
@ranj063 I'm seeing this also on CFL, but it is very random -- typically comes at boot.

[2019-09-11 01:53] YvonneYang2 commented on #1221
Issue occurred one time during testing on ICL RVP with codec ALC700 in SDW mode.

Test recipe:
linux : https://github.com/thesofproject/linux/commits/integration/soundwire-alpha  a8f3408
FW : https://github.com/thesofproject/sof/commits/sdw-001-drop-stable d9c0463
Topology: Same with FW branch: sof-icl-rt700.m4

[2019-09-11 06:22] slawblauciak commented on #1221
Looks like there's an IO transfer timeout happening on the kernel side before the IPC

`[  809.335328] int-sdw int-sdw.1: IO transfer timed out
[  811.383406] int-sdw int-sdw.1: IO transfer timed out
[  813.431468] int-sdw int-sdw.1: IO transfer timed out
[  815.479448] int-sdw int-sdw.1: IO transfer timed out`

From the dmesg you've provided I can also see that you have MSI interrupts enabled.
Yo

[2019-09-11 10:43] kv2019i commented on #1183
@ranj063 I was able to reproduce and rootcause. I'll take the bug in my name and will send a patch shortly.

[2019-09-11 11:14] kv2019i commented on #1183
Reproduction steps (on APL):

- load device
- ensure SOF is loaded and cards detected
- play a file to one PCM (can be any)
- suspend to S3 and resume
-> bug gets hit every time

[2019-09-12 02:04] ClarexZhou opened #1195 "[BUG][SDW] Runtime PM status keeps active after S3 from idle."
**Describe the bug**
Runtime PM status keeps active after S3 from idle.

**To Reproduce**
1. Wait in idle, till runtime PM status is suspended.
2. sudo rtcwake -m mem -s 10
3. aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero -d 1
4. wait about 10s.  cat "/sys/bus/pci/devices/0000:00:1f.3/power/runtime_status" to check runtime PM status again.

**frequency**
2/2

**Actual result**
Runtime PM status ke

[2019-09-12 02:16] ClarexZhou opened #1196 "[BUG][SDW] s2idle during aplay: Load fw will fail on resume"
**Describe the bug**
aplay stopped for input/out error. load fw failed then ipc timed out for TRIG_STOP when enter and wake from s2idle during aplay.

**To Reproduce**
1. echo s2idle > /sys/power/mem_sleep
2. Terminal 1: aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero -vv -i
3. Terminal 2: sudo rtcwake -m mem -s 10

**frequency**
2/2

**Actual result**
aplay stopped for input/out error. load fw fail

[2019-09-12 02:34] ClarexZhou commented on #1224
issue still seen
**Environment**
linux: https://github.com/thesofproject/linux/tree/topic/soundwire commit: bccf4a8a
sof: https://github.com/thesofproject/sof/commits/sdw-001-drop-stable commit: d9c0463
Topology: file: sof-cml-rt700.m4 same path as firmware
platform: CML SDW RVP

[2019-09-12 03:22] ClarexZhou opened #1198 "[BUG][SDW] 0,0 aplay and 0,1 arecord can't be triggered at same timed"
**Describe the bug**
0,0 aplay and 0,1 arecord can't be triggered at same timed for "Compute transport params failed: -22"

**To Reproduce**
1. Terminal 1: time aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero -vv -i -d 180
2. Terminal 2: arecord -Dhw:0,1 -r48000 -c2 -fs32_le 1.wav -vv -i

**frequency**
100%

**Actual result**
arecord failed for "unable to install hw params"

**Expected result**
arec

[2019-09-12 03:48] ClarexZhou opened #1199 "[BUG][SDW] Runtime PM status keeps active after system boot up. (frequency: less than 10%)"
**Describe the bug**
Runtime PM status keeps active after system boot up and set amixer

**To Reproduce**
1. System is just boot up.
2. set rt700 amixer
3. wait for a while and cat "/sys/bus/pci/devices/0000:00:1f.3/power/runtime_status"

**frequency**
Less than 10%. Meet twice in 2 days.

**Actual result**
Runtime PM status keeps active

**Expected result**
Runtime PM status should suspend in idl

[2019-09-12 04:09] YvonneYang2 opened #1201 "[BUG][SDW]IO transfer shows up when do deep mode suspend without playback or capture"
**Describe the bug**
Shows IO transfer timed out when do deep suspend with legancy interrupt mode. Other functions are ok after wake up from deep suspend.

**To Reproduce**
1.Boot up system
2.Run ./rt1308_mixer.sh, ./rt711_mixer.sh and ./rt715_mixer.sh
3.echo deep > /sys/power/mem_sleep to switch to deep suspend mode
4.Run "sudo rtcwake -m mem -s 10" command

**frequency**
100%

**Expected result*

[2019-09-12 04:46] YvonneYang2 opened #1202 "[BUG][SDW] Arecord by ALC715 (device 0,4) failed and shows ipc error for 0x80010000 size 12"
**Describe the bug**
Arecord 0,4 failed and showed error: ipc error for 0x80010000 size 12. Other functions is ok.

**To Reproduce**
1.Boot up system
2.Run ./rt1308_mixer.sh, ./rt711_mixer.sh and ./rt715_mixer.sh
3.Arecord via command "arecord -Dhw:0,4 -f dat test.wav -vv -i"

**frequency**
100%

**Expected result**
Arecord normally

**Actual result**
Arecord showed failed and dmesg shows ipc erro

[2019-09-12 05:38] dengyangchao opened #1203 "[Bug][CML] ipc timed out for 0x80010000 size 144 when doing module unload/reload"
**Describe the bug**
ipc timed out for 0x80010000 size 144 when doing module unload/reload

**To Reproduce**

1.Disable Pulseaudio via "sudo mv /usr/bin/pulseaudio /usr/bin/pulseaudio.bak"
2.Do system reboot via "sudo reboot"
3.Wait till runtime PM status is suspned
4.run ./sof_bootloop.sh

**frequency**
1/40

**Actual result**
ipc timed out for 0x80010000 size 144

**Expected result**
Module relo

[2019-09-12 05:45] YvonneYang2 opened #1204 "[BUG][SDW]aplay 0,0 + aplay 0,2 or aplay 0,3 + arecord 0,1 will cause ipc timed out 6005000 size 12"
**Describe the bug**
aplay 0,0 + aplay 0,2 or aplay 0,3 + arecord 0,1 will cause ipc timed out 6005000 size 12, other function is ok .

**To Reproduce**
1.Boot up system
2.Run ./rt1308_mixer.sh, ./rt711_mixer.sh and ./rt715_mixer.sh
3.open a terminal to run aplay -Dhw0,0 test.wav
4.Open another terminal to run aplay -Dhw0,2 test.wav

**frequency**
100%

**Expected result**
Aplay normally

**Actual

[2019-09-12 06:16] YvonneYang2 opened #1205 "[BUG][SDW]amixer: Control default element write error: No data available" when setting rt1308 amixer."
**Describe the bug**
amixer: Control default element write error: No data available" when setting rt1308 amixer.
cannot load mixer controls: No data available" when trying to open alsamixer. Need try several times to open

**To Reproduce**
1.Boot up system
2.Run ./rt1308_mixer.sh, ./rt711_mixer.sh and ./rt715_mixer.sh
3.Try to open alsamixer

**frequency**
100%

**Expected result**
Set mixer or op

[2019-09-12 06:49] YvonneYang2 commented on #1201
Do aplay failed one time after wake from deep suspend.
Dmesg shows as below:
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/3604074/dmesg.log)

[2019-09-12 07:20] YvonneYang2 opened #1206 "[BUG][SDW]Cannot enter deep suspend with aplay or capture."
**Describe the bug**
Cannot enter deep suspend during aplay. When run "sudo rtcwake -m mem -s 10", music will stop and HDMI screen which is connected to device will turn dark. But dmesg shows no enter suspend info.

**To Reproduce**
1.Boot up system
2.Run ./rt1308_mixer.sh, ./rt711_mixer.sh and ./rt715_mixer.sh
3.echo deep> /sys/power/mem_sleep to switch to deep suspend mode
4.Aplay via aplay -Dhw

[2019-09-12 07:26] dengyangchao commented on #1203
issue also can reproduce on CFL

[2019-09-12 07:30] YvonneYang2 commented on #1206
Tried to enter s2idle suspend with aplay or capture, HDMI screen connected to device cannot get dark and aplay is still playing.

**dmesg**
[code]
[s2idle_dmesg.log](https://github.com/thesofproject/linux/files/3604236/s2idle_dmesg.log)
[s2idle_logger.log](https://github.com/thesofproject/linux/files/3604237/s2idle_logger.log)

[2019-09-12 08:24] dengyangchao commented on #1181
issue can not reproduce on CFL-S RVP in below recipe

Firmware: 8c61213c https://github.com/thesofproject/sof/commits/master
Kernel: fa20ceb https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2019-09-12 09:03] ClarexZhou opened #1207 "[BUG][SDW] System hang during module reload"
**Describe the bug**
System hang during module reload

**To Reproduce**
sudo ./sof_bootloop.sh

**frequency**
always failed at 2th or 3rd time.

**Actual result**
System hang.
![image](https://user-images.githubusercontent.com/49641224/64770051-000e2280-d57f-11e9-8fdf-a739f406a9fb.png)

**Expected result**
Module reload successfully without hang issue.

**Environment**
linux: https://github.com/th

[2019-09-12 09:55] dengyangchao commented on #1203
new issue, caused by 8c61213c https://github.com/thesofproject/sof/commits/master

[2019-09-12 18:09] kv2019i commented on #1184
Some evidence for the explanation that delays in graphics (either via HDMI detection failures or by increase DRM debugs) cause this error to happen. I.e. this could be a timing race in probe actions. Still looking for more reliable steps to reproduce.

[2019-09-12 18:13] kv2019i commented on #1111
https://github.com/thesofproject/linux/issues/1123 now ready for testing (take https://github.com/thesofproject/linux/pull/1155 and https://github.com/thesofproject/kconfig/pull/15 to test), should fix this bug

[2019-09-12 18:13] kv2019i commented on #1104
https://github.com/thesofproject/linux/issues/1123 now ready for testing (take https://github.com/thesofproject/linux/pull/1155 and https://github.com/thesofproject/kconfig/pull/15 to test), should fix this bug

[2019-09-12 18:14] kv2019i commented on #1080
https://github.com/thesofproject/linux/issues/1123 now ready for testing (take https://github.com/thesofproject/linux/pull/1155 and https://github.com/thesofproject/kconfig/pull/15 to test), should fix this bug

[2019-09-12 18:14] kv2019i commented on #1077
https://github.com/thesofproject/linux/issues/1123 now ready for testing (take https://github.com/thesofproject/linux/pull/1155 and https://github.com/thesofproject/kconfig/pull/15 to test), should fix this bug

[2019-09-12 18:38] ranj063 commented on #1184
@kv2019i the chrome validation team have notified that they have encountered this problem in CML with a very low reproduction rate as well.

[2019-09-16 02:38] YvonneYang2 commented on #1207
Issue can also reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Environment
linux: https://github.com/thesofproject/linux/tree/topic/soundwire commit: bccf4a8
sof: https://github.com/thesofproject/sof/commits/sdw-001-drop-stable commit: d9c0463
Topology: file: sof-icl-rt711-rt1308-rt715-hdmi.tplg   rename sof-icl-rt711-rt1308-rt715.tplg

[2019-09-16 03:21] Jiangxinx commented on #1183
@kv2019i I can't reproduce this issue on APL pcm512x and nocodec platform. Can you help me to check my test steps are correct?

***test step***
1.aplay -Dhw:0,0 -r48000 -c2 -fs16_LE test.wav & sudo rtcwake -m mem -s 2

***Env***
linux (topic/sof-dev): 6cf9ef05
sof (master): 2bd725df
Topology: file: sof-apl-nocodec.tplg & sof-apl-pcm512x.tplg
platform: APL

[2019-09-16 03:27] dengyangchao commented on #1203
track on #1830 https://github.com/thesofproject/sof/issues/1830

[2019-09-16 03:27] #1203 closed

[2019-09-16 04:15] aiChaoSONG commented on #1181
There are some messages about HDMI Pin，include :

these messages may be useful to resolve this issue.

[dmesg.log](https://github.com/thesofproject/linux/files/3614715/dmesg.log)

[2019-09-16 05:40] ClarexZhou opened #1214 "[BUG][SDW]Aplay failed for IO transfer timed out then "Program transport params failed: -61""
**Describe the bug**
Aplay failed for "Unable to install hw params", with dmesg: IO transfer timed out then "Program transport params failed: -61", then always shown "Compute transport params failed: -22" once aplay.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. Run aplay stress test via “./sof-test-playback.sh”

**frequency**
Failed at 8th time

**Actual result**
Aplay failed for IO

[2019-09-16 07:04] ClarexZhou commented on #1080
@kv2019i , thesofproject/kconfig#15  can't be applied as below.
[code]
And build sccuessfully with merge "CONFIG_SND_SOC_SOF_HDA_COMMON_HDMI_CODEC=y" config. Is this right?

But ICL always display no sound card when "aplay -l" to check after system boot up.
Check dmesg
[pr1155_dmesg.txt](https://github.com/thesofproject/linux/files/3615050/pr1155_dmesg.txt)

CML HDA platform can work successfully,

[2019-09-16 07:58] sathyap-chrome commented on #1184
@ranj063  THanks. @kv2019i  we are seeing this once every 1000 - 2000 reboots.
Attached the dmesg for reference.
 I see some backtraces in gpu - not sure if they are related.
[dmesg_hdmi_failed_error_log.txt](https://github.com/thesofproject/linux/files/3615192/dmesg_hdmi_failed_error_log.txt)
[vblank_error_backtrace.txt](https://github.com/thesofproject/linux/files/3615193/vblank_error_backtrace.

[2019-09-16 08:04] YvonneYang2 commented on #1104
Test it on cml with #1155 and https://github.com/thesofproject/kconfig/pull/15 , issue cannot reproduce when wake up from  s2idle or deep suspend mode.
But occurred one time GLB_DAI_MSG: CONFIG ipc timed out for 0x80010000 size 144 during validation.  Music stopped after waking up from s2idle. When the issue occurred, terminate it then aplay again can recover it.

**Environment**
Firmware: 2bd725d

[2019-09-16 08:08] YvonneYang2 commented on #1104
Issue GLB_DAI_MSG: CONFIG ipc timed out for 0x80010000 size 144 will track in https://github.com/thesofproject/sof/issues/1830.

[2019-09-16 08:31] dengyangchao commented on #1187
both two ICL-RVP can reproduce the issue and compare the amixer contents, there is no difference,
and add amixer contents below
[amixercontents.txt](https://github.com/thesofproject/linux/files/3615267/amixercontents.txt)

[2019-09-16 08:41] YvonneYang2 commented on #1077
Test DPMST on cml with test recipe as below, pins connect to the same converter, but pins setting is disabled in alsamixer. So cannot reproduce the issue. When do DPMST test, two DP monitors can output sound automatically without setting pins in alsamixer.

Environment
Firmware: 2bd725d https://github.com/thesofproject/sof/commits/master
Kernel: 6cf9ef0 https://github.com/thesofproject/linux/commi

[2019-09-16 10:31] YvonneYang2 commented on #1080
Met same aplay-l display no soundcards issue on cml hda notebook after module reload test. And now always cannot boot up successfully.

[2019-09-16 11:24] kv2019i commented on #1080
@ClarexZhou wrote:

[...]

Ack, my bad, fixed now in
https://github.com/thesofproject/kconfig/pull/15

Hmm, ok. This is bug:
https://github.com/thesofproject/linux/issues/1184

... I have hit this on CFL as well, so not ICL specific, but seems to happen more often. As a temporary work-around (to enable other testing), the bug can be avoided by blacklisting the SOF module at boot and modprobe SOF "

[2019-09-16 11:28] kv2019i commented on #1184
@sathyap-chrome wrote:

Thanks for the log! Adding CML label for this bug as well.

Your log shows one difference. It seems the HDMI codec gives an error already at probe time:

[    3.638663] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 4
[    3.647168] sof-audio-pci 0000:00:1f.3: CORB reset timeout#1, CORBRP = 0

... in the logs we have from other systems, this "reset timeout" is not visib

[2019-09-16 11:30] lgirdwood commented on #1183
@mengdonglin, @ranj063 @kv2019i do you guys have an ETA for a fix to be merged ? This issue is failing most unrelated firmware PRs in CI now (and has been for over a week).

[2019-09-16 11:54] kv2019i commented on #1183
@lgirdwood wrote:

Patch is missing second approval, but should be ready to go into today: https://github.com/thesofproject/linux/pull/1193
Just pinged the reviewers again on this.

[2019-09-16 12:03] kv2019i commented on #1183
@Jiangxinx wrote:

Hmm, the problem might be that you don't wait for the playback to complete before suspend. Please try this instead (it plays for 1sec, exits aplay and then goes to suspend).  With this, I get the WARN_ON in dmesg every time with UP^2 and sof-apl-pcm512x.tplg

aplay -Dhw:0,0 -r48000 -c2 -d 1 -fs16_LE test.wav && sudo rtcwake -m mem -s 2

[2019-09-16 15:04] plbossart commented on #1207
you should be using the master branch for firmware, and integration/soundwire-latest for the kernel. thanks.

[2019-09-16 15:05] plbossart commented on #1207
BTW it's interesting that this hang happened, we can reproduce it with the latest code but thought it was a regression due to cleanups. It seems it actually never worked. FYI @bardliao @RanderWang

[2019-09-16 15:07] plbossart commented on #1214
please retest w/ the firmware master branch, kernel integration/soundwire-latest.

[2019-09-16 15:13] #1183 closed

[2019-09-16 16:19] ranj063 commented on #1160
@mengdonglin PR #1169 addresses both the STOP and the PAUSE sequence. And I am having a very hard time reproducing this issue with that PR. Could we have a stress test run with this PR to make sure this is still reproducible?

[2019-09-16 16:47] kv2019i commented on #1184
Today's results: reboot tests with 0/100 fails on CFL HDA system. Will continue with longer test runs and expand test to other systems.

[2019-09-16 16:50] ranj063 commented on #1184
@kv2019i back when we were fixing the IPC timeouts on CML/CFL , Im pretty sure we saw the same timeout. But I cant seem to recollect how this got resolved. Do you remember?

[2019-09-16 22:26] fredoh9 commented on #1160
@ranj063 @xiulipan
I ran stress test, pause-resume-playback test on my UP2. I upgraded to 0917 daily build(without this PR) and run 1000 times. I slightly modify the script to run only hw:0,1(first HDMI PCM device). I was able to reproduce  `aplay: pcm_write:2011: write error: Input/output error` 2-3 times.
Then I pick up PR #1169, first 1000 times, there was no error. But I found a problem next 1

[2019-09-17 00:56] plbossart commented on #1131
no feedback in 27 days, closing.

[2019-09-17 00:56] #1131 closed

[2019-09-17 00:58] plbossart commented on #858
@xiulipan is this issue still relevant, if not please close it.

[2019-09-17 02:05] YvonneYang2 commented on #1080
Added SOF "snd_sof_pci" module in blacklist.conf, reboot system, then modprobe "snd_sof_pci" module. But it seems not work for both CML and ICL, module cannot load successfully, aplay -l still shows no soundcard.

Check dmesg:
[dmesg.log](https://github.com/thesofproject/linux/files/3618898/dmesg.log)

[2019-09-17 06:50] YvonneYang2 commented on #1207
Issue reproduced with test recipe as below on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode. System will hang when removing snd_sof_pci module.

Reproduced rate: 100%

Test recipe:
Firmware: 0ba3fec5 https://github.com/thesofproject/sof/commits/master
Kernel: 1e744fb https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg: sof-icl-rt711-rt1308-rt715-hdmi.tplg   rename

[2019-09-17 06:58] kv2019i commented on #1080
@YvonneYang2 wrote:

Ack, will look into this. Based on the log, this seems like issue #1184 :
[  113.870011] snd_hda_codec_hdmi ehdaudio0D2: HDMI: failed to get afg sub nodes
[  113.870022] snd_hda_codec_hdmi ehdaudio0D2: patch failed -22
[  113.870113] snd_hda_codec_hdmi ehdaudio0D2: ASoC: failed to probe component -22

But it's very good data point this is happening more often with the new HDA-

[2019-09-17 07:02] kv2019i commented on #1184
Upto 500 boots on this CFL system and no failures. I will switch to other platforms and try to reproduce. @YvonneYang2 @ClarexZhou have got this much more frequently, I'll try to repeat your steps.

[2019-09-17 07:56] dengyangchao commented on #1181
correct the alsamixer config, CFL can not reproduce the issue

[2019-09-17 08:44] ClarexZhou commented on #1214
Error also seen on ICL rt700 w/ the firmware master branch(0ba3fec5), kernel integration/soundwire-latest(1e744fb).
[kern.txt](https://github.com/thesofproject/linux/files/3620191/kern.txt)

[2019-09-17 09:52] bardliao commented on #1207
@YvonneYang2 Could you try with https://github.com/plbossart/sound/tree/fix/soundwire-split-lookup-init branch?

[2019-09-17 10:20] xiulipan commented on #1160
@fredoh9
There maybe a chance that the I/O have some issue?
Not sure where is the error comes from.

[2019-09-17 10:20] #858 closed

[2019-09-17 15:19] ranj063 commented on #1160
@xiulipan it is an underrun in the DAI comp. Sometimes it takes forever to hit the issue. But sometimes you hit it right away

[2019-09-17 16:58] ranj063 commented on #1160
@tlauda I am able to hit the underrun even with the sequence change to PAUSE?STOP in @xiulipan 's PR #1169 . I've attached the logs herewith, I've added some more trace in the code  to show what is actually going on. Eventually, when the xrun occurs, it looks like the dai_copy() fails because the dma buffer is full. DGCS & DGCS_BF is true. Could you please take a look?
[apl-pause-resume-log.txt](h

[2019-09-18 05:08] aiChaoSONG commented on #1181
issue not reproduced with right amixer config, this is not a kernel bug nor sof bug, let's close it.

[2019-09-18 05:08] #1181 closed

[2019-09-18 05:21] ClarexZhou opened #1221 "[BUG][SDW] Aplay failed for IO transfer timed out then "0x80010000: GLB_DAI_MSG: CONFIG" ipc timed out"
**Describe the bug**
IO transfer timed out then "0x80010000: GLB_DAI_MSG: CONFIG" ipc timed out when trigger aplay

**To Reproduce**
1. aplay -Dhw:0,0 -r48000 -c2 -fs32_le wav/long.wav -vv -i -d 180
2. Ctrl-c to stop
3. aplay -Dhw:0,0 -r48000 -c2 -fs24_le wav/long.wav -vv -i -d 180

**frequency**
< 10%

**Actual result**
Aplay failed for IO transfer timed out then "0x80010000: GLB_DAI_MSG: CONFIG"

[2019-09-18 06:00] bardliao commented on #1204
@YvonneYang2 Could you report this issue to SOF?

[2019-09-18 08:54] YvonneYang2 commented on #1207
Test it 100 times, issue cannot reproduce with test recipe as below on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Other impact:
1. Dmesg will shows lots of red messge after inserting modules.
2. Boot up with sof_snd_pci module will fail, only put snd_sof_pci in blacklist.conf, boot up, then modprobe it ,FW can boot up.
3. Run ./rt1308_mixer.sh will fail after booting up successfully.

[2019-09-18 11:14] xiulipan commented on #1160
@ranj063 Actually there are two issues from @tlauda one is for pause/release playback and on is for capture. The #1169 will only fix playback but capture is something wrong with inside FW.

[2019-09-18 12:42] bardliao commented on #1207
Thanks @YvonneYang2
@plbossart So we have a version which doesn't see the issue :)

[2019-09-18 14:01] plbossart commented on #1221
@ClarexZhou if you are using MSI interrupts let's close this issue. MSI is not functional for now so there is nothing to test.

[2019-09-18 14:03] plbossart commented on #1222
please recheck with recent firmware/kernel. what happened 19 days ago is history.

[2019-09-18 14:23] plbossart commented on #1224
@ClarexZhou please retest with the firmware master branch. It's not helpful if you keep testing with sdw-001-drop-stable...

[2019-09-18 14:26] plbossart commented on #1207
@bardliao I'll let you look into this, I have to work on other things for now.

[2019-09-18 16:37] kv2019i commented on #1184
Daily update: I now reproduce this with 100% reproduction rate on one ICL system with following properties:
 - ICL system that has a long delay in HDA codec modprobe (not yet rootcaused, but this delay seems to be key in triggering this bug),
 - no HDMI or DP cables plugged in when the system is booted

The sequence of events that happens is that there is a notable delay between (a) SOF hda.c doin

[2019-09-18 17:02] ranj063 commented on #1160
@xiulipan Im only talking about playback here.

[2019-09-18 22:06] plbossart commented on #1224
and test on the kernel side with integration/soundwire-latest

[2019-09-18 22:07] plbossart commented on #1223
please retest with firmware master and kernel integration/soundwire-latest branch

[2019-09-18 22:07] plbossart commented on #1222
please retest with firmware master and kernel integration/soundwire-latest branch

[2019-09-18 22:08] plbossart commented on #1221
please retest with firmware master and kernel integration/soundwire-latest branch

[2019-09-18 22:08] plbossart commented on #1220
please retest with firmware master and kernel integration/soundwire-latest branch

[2019-09-18 22:19] plbossart commented on #1214
I believe your hardware is not working, e.g. I don't know what to do with such values

[code]

Class ID 7 is a symptom something is very wrong. This doesn't exist so something is completely corrupted.

[2019-09-18 22:20] plbossart commented on #1206
suspend is not supported for now with Soundwire.

[2019-09-18 22:24] plbossart commented on #1205
There is no error reported in dmesg or logger, not able to progress without more information.
please check if you can open alsa mixer before setting the values with your scripts, you should see the default values.

[2019-09-18 22:25] plbossart commented on #1202
please retest with the firmware master and kernel integration/soundwire-latest

[2019-09-18 22:26] plbossart commented on #1201
suspend is not supported for now

[2019-09-18 22:26] plbossart commented on #1199
suspend is not supported for now

[2019-09-18 22:27] plbossart commented on #1198
please retest with firmware master and kernel integration/soundwire-latest

[2019-09-18 22:28] plbossart commented on #1196
suspend is not supported for now

[2019-09-18 22:28] plbossart commented on #1195
suspend is not supported for now

[2019-09-18 22:29] plbossart commented on #1178
please retest with firmware master and kernel integration/soundwire-latest

[2019-09-18 22:30] plbossart commented on #1172
please retest with firmware master and kernel integration/soundwire-latest

[2019-09-19 01:52] ClarexZhou commented on #1221
Error also occurred with legacy.
Switched MSI and Legacy via  /etc/modprobe.d/alsa-base.conf
options snd_sof_intel_hda_common use_msi=0

[2019-09-19 04:07] xiulipan commented on #1160
@ranj063
The issue happen at the release, and a bit different with the issue I meet with stop. It seems @tlauda 2 is already fixed. So we need to check if his guess 1 is valid issue here.

[2019-09-19 04:49] YvonneYang2 commented on #1178
Issue can reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode with test recipe as below

Test recipe:
Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 4ac5440 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  https://github.com/bardliao/sof/blob/fi

[2019-09-19 05:37] ClarexZhou commented on #1221
Still failed in aplay stress test with firmware master and kernel integration/soundwire-latest branch.  "Slave Entry not found" then 0x80010000 ipc timed out.

And Error not occurred if using “options snd_sof_pci sof_debug=1”

**Environment**
Firmware: 460c41a  Master
Kernel: 4ac5440 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML rt700 SDW

[2019-09-19 05:50] YvonneYang2 commented on #1205
Issue cannot be tested because it only occurred when system can enter idle/suspend status.

With the test recipe as below, system will hang when run set_amixer script if not add options snd_sof_pci sof_debug=1 in alsa-base.conf, so cannot retest the issue for now.

Then I tried to add options snd_sof_pci sof_debug=1 in alsa-base.conf, run set_amixer script, issue cannot be reproduced.

Firmware: 4

[2019-09-19 05:52] ClarexZhou commented on #1214
Error also occurred when set amixer after system boot up.

**Environment**
Firmware: 460c41a  Master
Kernel: 4ac5440 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML rt700 SDW RVP

[2019-09-19 06:19] ClarexZhou opened #1225 "[BUG][SDW] "IO transfer timed out" when set amixer after system boot up."
**Describe the bug**
Set amixer take very long after system boot up , about several minutes. "IO transfer timed  out" in dmesg.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. ./set_mixer.sh.
[set_mixer.txt](https://github.com/thesofproject/linux/files/3629679/set_mixer.txt)

**frequency**
3/5 , occurred this issue, but aplay can be played and output normally after this.
2/5,  failed wi

[2019-09-19 06:21] YvonneYang2 opened #1226 "[BUG][SDW]System will hang when set ./rt1308 amixer if not add options snd_sof_pci sof_debug=1 in alsa-base.conf"
**Describe the bug**
System will hang when set ./rt1308 amixer if not add options snd_sof_pci sof_debug=1 in alsa-base.conf

**To Reproduce**
1.Make sure options snd_sof_pci sof_debug=1 not in alsa-base.conf
2.Reboot system
3.run ./rt1308_mixer.sh

**frequency**
100%

**Expected result**
./rt1308_mixer.sh run successfully

**Actual result**
system will hang when run ./rt1308_mixer.sh

**Environmen

[2019-09-19 06:26] YvonneYang2 commented on #1205
Issue which system will hang when run set_amixer script if not add options snd_sof_pci sof_debug=1 in alsa-base.conf will track in https://github.com/thesofproject/linux/issues/1226

[2019-09-19 06:27] kv2019i commented on #1184
It seems similar issue as been reported earlier against i915:
https://bugs.freedesktop.org/show_bug.cgi?id=111214

[2019-09-19 06:36] ClarexZhou commented on #1220
Error seen with firmware master and kernel integration/soundwire-latest branch
**Environment**
Firmware: 460c41a  Master
Kernel: 4ac5440 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML rt700 SDW RVP

[2019-09-19 06:43] ClarexZhou commented on #1196
Runtime PM status can enter suspended and active again normally on CML rt700 SDW RVP.
Can be tested without "options snd_sof_pci sof_debug=1" in /etc/modprobe.d/alsa-base.conf
also MSI is disabled via "options snd_sof_intel_hda_common use_msi=0"

Error seen with firmware master and kernel integration/soundwire-latest branch.
**Environment**
Firmware: 460c41a  Master
Kernel: 4ac5440 on integration/

[2019-09-19 07:07] YvonneYang2 commented on #1222
Whether pulseaudio is on or off, issue can be reproduced with test recipe as below.

Test recipe:
Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 4ac5440 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  https://github.com/bardliao/sof/blob/fix/soundwire-tplg/to

[2019-09-19 07:40] ClarexZhou opened #1227 "[BUG][SDW][rt700] HDMI playback failed for "ipc error for 0x60010000 GLB_STREAM_MSG: PCM_PARAMS""
**Describe the bug**
HDMI playback failed for "ipc error for 0x60010000 GLB_STREAM_MSG: PCM_PARAMS"

**To Reproduce**
time aplay -Dhw:0,4 -r48000 -c2 -fs16_le wav/long.wav -vv -i -d 180

**frequency**
100%

**Actual result**
HDMI isn't played, ipc error then call trace "? sof_pcm_hw_free+0x33/0x1e0 [snd_sof]"

**Expected result**
HDMI playback works.

**Environment**
Firmware: 460c41a  Master
Kern

[2019-09-19 07:49] ClarexZhou commented on #1198
Error seen with firmware master and kernel integration/soundwire-latest branch.
**Environment**
Firmware: 460c41a  Master
Kernel: 4ac5440 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML rt700 SDW RVP

[2019-09-19 08:15] ClarexZhou commented on #1195
Error not seen with firmware master and kernel integration/soundwire-latest branch.

**Environment**
Firmware: d9c0463 Master
Kernel: 4ac5440 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML rt700 SDW RVP

[2019-09-19 08:16] ClarexZhou commented on #1224
Error seen with firmware master and kernel integration/soundwire-latest branch.

**Environment**
Firmware: 460c41a Master
Kernel: 4ac5440 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML rt700 SDW RVP

[2019-09-19 09:10] YvonneYang2 commented on #1196
Same as https://github.com/thesofproject/linux/issues/1196#issuecomment-532991012. Error can also be seen on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode

Test recipe:
Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 4ac5440 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt71

[2019-09-19 10:00] YvonneYang2 opened #1228 "[BUG][SDW]Volume is always 0 when Arecord by ALC715/MIC (device 0,4)"
**Describe the bug**
Volume is always 0 when Arecord 0,4

**To Reproduce**
1.Make sure "options snd_sof_pci sof_debug=1" in /etc/modprobe.d/alsa-base.conf and system use legancy interrupt mode
2.Reboot system
3. Run ./rt1308_mixer.sh, ./rt711_mixer.sh, ./rt715_mixer.sh scripts.
4.Run arecord -Dhw:0,4 -f s24_le -r 48000 -c 2  test.wav -vv -i

**frequency**
100%

**Expected result**
Arecord should w

[2019-09-19 11:53] bardliao commented on #1207
@plbossart I might find the reason of system hung. It seems that we didn't unregister  md->dev properly. So, we will fail to add new master in the second module load. Somehow kfree(md); in sdw_md_release() will freeze the system.
Now I wont get system hung after second module load if I remove the kfree(md); in sdw_md_release() and can get dmesg.

[code]

[dmesg_second_load_fail.txt](https://github

[2019-09-19 13:43] bardliao commented on #1207
@plbossart #1230 can solve the issue. But now the question is 1. did we do it right to add device driver by ``md->dev.driver = &driver->driver;``? 2. Do we really need to call ``put_device(&md->dev)`` in sdw_intel_cleanup()?

[2019-09-19 14:00] kv2019i commented on #1799
@singalsu wrote:

I think you are right. We need to expose the mixer controls as multiple stereo pair (smaller effort), or extend ALSA with the concept of >2ch mixer controls (much larger as none of the ALSA interfaces and the many tools are equipped to handle this).

[2019-09-19 14:14] plbossart commented on #1207
Thanks @bardliao for debugging this.
For 1) this as added by you to help ASoC register components. It does the trick but I don't know if this is the proper way to do things.
2) The call to put_device() is meant to reduce the ref count which will call the release function. I am not sure we need to do both put_device and device_unregister.

Will look at this later today, but thanks a million for fin

[2019-09-19 14:24] plbossart commented on #1799
It may be worth expanding ALSA definitions, e.g. by using USB audio class 3 representations, see table 4.8
Also for mics there are descriptions in NHLT of the position of each mic, so maybe we can tag text in the ALSA controls to provide additional information. I think in general the Microsoft definitions are used by everyone for mic arrays.

[code]

[2019-09-19 14:31] kv2019i commented on #1184
Update: the scenario with 100% reproduction rate turned out to be a different bug. So good news is that that this unblocks upstreaming of the HDA-HDMI rework (fixed series at https://github.com/thesofproject/linux/pull/1155 -> testing ongoing ). Bad news is that the original problem of occasional probe failures may still be present. We have been discussing this today with graphics driver folks and

[2019-09-19 16:55] ranj063 opened #1231 "Add nocodec support for Link DMA"
Make iDISP support optional when SOF_HDA_LINK is enabled, which can help us set-up ‘nocodec’ Link DMAs for tests when HDMI is the problem.

[2019-09-19 20:38] plbossart commented on #1226
This is not really a bug. You are allowing the PCI device to suspend, which takes the SoundWire IP off, and then sending a command over SoundWire without waking up the PCI device or powering-up the IP.
This will have to be re-tested when suspend-resume are implemented.

[2019-09-19 20:40] plbossart commented on #1225
This also looks like a suspend-resume bug, please disable pm_runtime for the PCI device for now.

[2019-09-19 20:43] plbossart commented on #1224
@RanderWang can you look into this? I don't have access to a CML/SDW board.

[2019-09-19 20:54] plbossart commented on #1222
ACK, behavior reproduced.
Also doing this with aplay doesn't seem to work.

@bardliao can you look into this? I am not sure it's related to the hw_params/free issue and the unbalanced bandwidth calculation.

[2019-09-19 20:55] plbossart commented on #1221
again this is a suspend/resume issue. you need to test with snd_sof_pci sof_debug=1 for now

[2019-09-19 20:59] plbossart commented on #1220
ACK, behavior reproduced.

@bardliao is this something that can be solved with your PR https://github.com/thesofproject/linux/pull/1166

[2019-09-19 21:01] plbossart commented on #1214
@ClarexZhou I don't know what sof-test-playback.sh is, you need to provide the file for tests. Also make sure you tested with sof_debug=1 to avoid suspend-resume issues

[2019-09-19 21:02] plbossart commented on #1205
again suspend-resume issue. please test with options snd_sof_pci sof_debug=1 for now.

[2019-09-19 21:06] plbossart commented on #1198
behavior NOT reproduced on ICL. This looks like a CML-specific problem

@RanderWang can you look into this?

[2019-09-19 21:07] plbossart commented on #1196
suspend-resume issue, I am not even going to look at it since the code is not present in the latest branch

[2019-09-19 21:09] plbossart commented on #1228
@bardliao can you look into this, looks like rt715 is not functional or not well configured?

[2019-09-19 21:14] plbossart commented on #1227
this has nothing to do with SoundWire?

[2019-09-19 21:18] plbossart commented on #1178
duplicate of https://github.com/thesofproject/linux/issues/1220

[2019-09-19 21:18] #1178 closed

[2019-09-19 21:22] plbossart commented on #1223
also please check on both CML and ICL, this looks like a duplicate of https://github.com/thesofproject/linux/issues/1198

[2019-09-20 00:46] bardliao commented on #1228
@plbossart Yes, I did a quick check yesterday and found that somehow DAPM widget connection status is not changed when I configure the ADC Mux controls. Besides, when I set the ADC Mux back and forth, the dapmDAPM widget connection status can be connected as we expected. But we still can't record anything even when DAPM power status is correct. I can't reproduce the issue on my side and I have rep

[2019-09-20 01:02] bardliao commented on #1220
Yes, the issue is what #1166 try to solve.

[2019-09-20 01:04] bardliao commented on #1222
Sure, I will look into it.

[2019-09-20 01:06] ClarexZhou commented on #1225
Error not occurred after disable pm_runtime for the PCI device

[2019-09-20 01:12] ClarexZhou commented on #1214
Attach the sof-test-playback.sh file, repeat aplay -d 1 after sleep random 0-10s
Also issue not occurred with sof_debug=1
[sof-test-playback.txt](https://github.com/thesofproject/linux/files/3633759/sof-test-playback.txt)

[2019-09-20 02:11] bardliao commented on #1222
@YvonneYang2 Sorry, I can't reproduce the issue with the same kernel and sof commit on my side.

[2019-09-20 02:24] YvonneYang2 commented on #1220
Issue reproduced when run ./sof-test-xrun.sh stress script with test recipe as below.

Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 4ac5440 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg: sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg https://github.com/bardliao/sof/blob/fix/soundwire-tplg/tools/topology/

[2019-09-20 02:29] ClarexZhou commented on #1198
Issue not seen with sof_debug=1

[2019-09-20 04:49] mengdonglin commented on #1227
@ClarexZhou Can this issue be reproduced on CML RVP with ALC700 in HD-A mode, with the same kernel recipe?

We want to figure out if SDW update will cause regression on HDMI audio or it's nothing to do with SDW.

[2019-09-20 05:22] mengdonglin opened #1237 "[Feature] Add a SOF module parameter to disable runtime PM by default"
Define a parameter like ''disable_runtime_pm'. So we can set it as a kernel boot parameter to disable SOF runtime power management by default.

It will be useful to validate new features (e.g SoundWire) but its PM is still not ready, or check if a issue can be reproduced when runtime PM is disabled.

[2019-09-20 05:25] ClarexZhou commented on #1227
HDMI playback work ok on CML RVP with ALC700 in HD-A mode with same kernel branch: 4ac5440 on integration/soundwire-latest

@bardliao Is rt700 also need update on tplg?
SDW 3in1 HDMI playback work with tplg from https://github.com/bardliao/sof/blob/fix/soundwire-tplg/tools/build_tools/topology/sof-icl-rt711-rt1308-rt715-hdmi.tplg

[2019-09-20 05:26] mengdonglin opened #1238 "[Feature] Enable power management for SoundWire"

[2019-09-20 05:27] mengdonglin commented on #1226
Depend on feature https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:29] mengdonglin commented on #1225
Depend on feature https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:31] ranj063 commented on #1237
@mengdonglin this is already there. sof_debug=0x1 disables PM

[2019-09-20 05:32] mengdonglin commented on #1237
@ranj063 Great. Thank you!

[2019-09-20 05:32] #1237 closed

[2019-09-20 05:37] mengdonglin commented on #1214
@ClarexZhou  sof_debug=1 will disable runtime PM. Please test SDW with sof_debug=1 now until https://github.com/thesofproject/linux/issues/1238 is done.

[2019-09-20 05:44] mengdonglin commented on #1206
Depend on feature https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:45] mengdonglin commented on #1205
Depend on feature https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:48] jack-cy-yu commented on #1228
@plbossart @bardliao I've done some modifications on ALC715's driver regarding to ADC Mux issue, could you please review the latest PR in "realtek-sdw-codecs" branch and I also can't reproduce recording issue on my side, but the original MUX syntax might be the potential bug for this issue.

[2019-09-20 05:48] mengdonglin commented on #1201
Depend on https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:49] mengdonglin commented on #1199
Depend on feature https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:52] mengdonglin commented on #1196
Depend on feature https://github.com/thesofproject/linux/issues/1238

[2019-09-20 05:56] mengdonglin commented on #1195
Depend on feature https://github.com/thesofproject/linux/issues/1238

@bardliao do we need any sync between integration/soundwire-latest and topic/soundwire? Or wait for suspend-resume support is ready?

[2019-09-20 06:21] ClarexZhou commented on #1207
System will hang on both rt 700 and 3in1  on firmware master and kernel integration/soundwire-latest branch.
Hang at 1st time module insert.
Firmware: 460c41a  Master
Kernel: 4ac5440 on integration/soundwire-latest

[2019-09-20 06:23] YvonneYang2 commented on #1222
Issue can reproduce on ICL RT700 RVP  in SDW mode with test recipe below when do arecord via command "arecord -Dhw:0,2 -r48000 -c4 -fs32_le test.wav -vv -i"

Test recipe:
set "options snd_sof_pci sof_debug=1" in /etc/modprobe.d/alsa-base.conf
Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 4ac5440 https://github.com/thesofproject/linux/tree/integration/soundwire-late

[2019-09-20 06:36] YvonneYang2 commented on #1222
On ICL RT700, only DMIC01, 4CH can reproduce the issue.
On ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode, both 2CH and 4CH can reproduce the issue.

[2019-09-20 06:50] ClarexZhou commented on #1202
Error not seen with firmware master and kernel integration/soundwire-latest branch. Close

[2019-09-20 06:50] #1202 closed

[2019-09-20 06:50] mengdonglin commented on #1221
Depend on feature #1238

[2019-09-20 07:12] YvonneYang2 commented on #1172
Whether set "options snd_sof_pci sof_debug=1" in /etc/modprobe.d/alsa-base.conf  or not, issue still can be reproduced with test recipe as below.

Add snd_sof_pci in blacklist.conf, and set "options snd_sof_pci sof_debug=1" in /etc/modprobe.d/alsa-base.conf. Reboot system, then modprobe modules can recover the issue.

**Reproduced rate**
9/10

Test recipe:
Firmware: 460c41aa https://github.com/the

[2019-09-20 07:14] bardliao commented on #1222
@YvonneYang2 How did you test 4ch capture with 3-in-1 card? Won't arecord say "Channels count non available"?

[2019-09-20 07:19] YvonneYang2 commented on #1222
Sorry, wrong typing. I mean both two capture (arecord 0,1 and arecord 0,4) can reproduce the issue.

[2019-09-20 07:40] ClarexZhou commented on #1223
Error still seen on ICL with firmware master and kernel integration/soundwire-latest branch.
Behavior and Dmesg is different for CML ALC700 and ICL ALC700

CML ALC700 is track on #1198
And current issue seems same with https://github.com/thesofproject/sof/issues/1839
@plbossart , will this issue be track in kernel or firmware?

[2019-09-20 07:45] YvonneYang2 commented on #1227
Issue can be reproduced on ICL RVP with codec ALC700 in SDW mode, too

[2019-09-20 09:40] bardliao commented on #1227
It looks like a topology issue. I will look into it

[2019-09-20 11:21] bardliao commented on #1227
@YvonneYang2 https://github.com/thesofproject/sof/pull/1851 should be able to solve the issue.
You can use the topology in https://github.com/bardliao/sof/tree/fix/soundwire-topology/tools/topology for testing if you want to test it before the PR is merged.

[2019-09-20 11:33] bardliao commented on #1195
@mengdonglin Let's work on integration/soundwire-latest. topic/soundwire is very old and there are too much difference between topic/soundwire and integration/soundwire-latest.

[2019-09-20 11:36] bardliao commented on #1207
@ClarexZhou Can you test it with latest integration/soundwire-latest branch? 4ac5440 doesn't include the fix.

[2019-09-20 14:39] lyakh commented on #1023
Update:
Status: playback working, but multiple low to moderate severity workarounds and shortcuts have been used.
Code: https://github.com/lyakh/linux/tree/virtio-wip-5_3 https://github.com/lyakh/sof/tree/virtio-wip with a patch for the ACRN hypervisor [acrn.gitdiff.txt](https://github.com/thesofproject/linux/files/3636409/acrn.gitdiff.txt)
Remaining work:
- implement capture
- remove ACRN APIs, p

[2019-09-20 15:26] plbossart commented on #1222
@ClarexZhou I also don't understand the problem. in your previous post you talk about ICL but added the CML logo? Please try to be clearer if possible,e .g.

platform X: arecord options: pass/fail
platform Y: arecord options: pass/fail

[2019-09-20 18:49] plbossart commented on #1198
closing for now, will have to be retested when suspend-resume is supported

[2019-09-20 18:49] #1198 closed

[2019-09-20 18:51] plbossart commented on #1220
please retest now that https://github.com/thesofproject/linux/pull/1239 was merged

[2019-09-23 03:23] ClarexZhou commented on #1223
thesofproject/sof#1839 to check first

[2019-09-23 03:25] ClarexZhou commented on #1224
@bardliao  to check this paplay fs24_le issue first.

[2019-09-23 04:44] ClarexZhou commented on #1222
CML rtc700 and ICL rtc700 has same behavior, failed at 4ch DMIC capture. Same with  https://github.com/thesofproject/sof/issues/1731,  will separate to track in https://github.com/thesofproject/sof/issues/1760.

Current issue is used  to track 3-in-1 card issue, seem both 711 and 715 card can reproduce.
@YvonneYang2  please add 3-in-1 reproduce details and logs

[2019-09-23 05:07] ClarexZhou commented on #1227
Verify on CML rt700, DP can be played and output normally with  thesofproject/sof#1851 tplg.

[2019-09-23 05:53] YvonneYang2 commented on #1222
Test it on icl 3-in-1, issue can reproduce on both 711 and 715 card with s24/s32 format.
Arecord with s16 format cannot reproduce the issue.

Test recipe:
Firmware: 0b47129 https://github.com/thesofproject/sof/commits/master + https://github.com/thesofproject/sof/pull/1851
Kernel: e24f321 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdm

[2019-09-23 05:58] YvonneYang2 commented on #1220
Issue cannot reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Test recipe:
Firmware: 0b47129 https://github.com/thesofproject/sof/commits/master + PR1851
Kernel: e24f321 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  https://github.com/bardliao/sof/tree/fix/soundwire-to

[2019-09-23 06:03] bardliao commented on #1224
@plbossart This can be seen on ICL, too. But there is no issue if we play with aplay.

[2019-09-23 06:41] bardliao commented on #1224
@ClarexZhou Can you test it with I2S/HDA interfaces?

[2019-09-23 06:51] bardliao commented on #1220
@YvonneYang2 So, can we close it?

[2019-09-23 07:00] ClarexZhou commented on #1207
Error not occurred after 30 interactions module reload test.
**Environment**
Firmware: 0b47129  Master
Kernel: e24f321b on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML RVP with onboard ALC700 in SDW mode

[2019-09-23 07:08] ClarexZhou commented on #1220
On CML rtc700 still not work,aplay/ arecord isn't continued . But no any ipc message in dmesg once switch to foreground. As below:
![IMG_20190923_135231](https://user-images.githubusercontent.com/49641224/65407018-c4434a80-de13-11e9-9775-df622b3e61a4.jpg)

**Environment**
Firmware: 0b47129  Master
Kernel: e24f321b on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-r

[2019-09-23 07:37] YvonneYang2 commented on #1220
Issue cannot reproduce on ICL RVP with onboard ALC700 in SDW mode.

Environment
Firmware: 0b47129 Master
Kernel: e24f321 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-icl-rt700.m4
platform: ICL RVP with onboard ALC700 in SDW mode

[2019-09-23 07:59] YvonneYang2 commented on #1227
Verify on ICL rt700, HDMI/DP can be played and output normally with thesofproject/sof#1851 tplg.
Wait for PR to be merged, then we can close the issue.

[2019-09-23 09:02] bardliao commented on #1220
@ClarexZhou @YvonneYang2 The issue occurs in all sound devices on the CML RVP, including HDMI and DMIC. So it looks like not be a soundwire issue. Besides, there is no any dmesg output even I added trace in snd_pcm_common_ioctl().

[2019-09-23 09:29] aiChaoSONG opened #1245 "[BUG] ipc timeout and card instantiation failure in reboot stress test"
**Describe the bug**
When do reboot stress test on CML Chrome, there will be ipc timeout and card instantiation failure. Sometimes only ipc timeout occurs, sometimes both issues occur. if card instantiation failed occurs, topology will be failed to load.

**To Reproduce**
do system reboot

**Reproduction Rate**
2/100

**Expected behavior**
no ipc timeout, card instantiated and tplg load succesfull

[2019-09-23 09:32] aiChaoSONG commented on #1245
issue and test recipe originally from  #1184 , after disable i915 power well with `GRUB_CMDLINE_LINUX_DEFAULT="i915.disable_power_well=0 ` in /etc/defaults/grub (remember to `update-grub`), issue can reporduce too

[2019-09-23 09:40] ClarexZhou commented on #1220
That issue on CML rtc700 is SSD issue.

Close for fixed by #1239

[2019-09-23 09:40] #1220 closed

[2019-09-23 09:46] YvonneYang2 commented on #1207
Error also not occurred after 30 interactions module reload test on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode

[2019-09-23 10:17] YvonneYang2 commented on #1207
Error also not occurred after 30 interactions module reload test on ICL RVP with onboard ALC700 in SDW mode.

[2019-09-23 10:17] #1207 closed

[2019-09-23 10:47] YvonneYang2 commented on #1222
@plbossart
This issue cannot reproduce on Bard's side, could you please help to test it on your side to check if it is hardware issue, thanks.

[2019-09-23 21:31] plbossart opened #1248 "[SDW] playback stuck / IPC timeout on ICL-RT700"
we need to have a very large regression on ICL-RT700. Playback starts but is stuck, and at some point CPU stalls start being reported along with IPC timeouts.

This could be board/BIOS specific, I am not seeing these results on ICL-RT711-RT1308-RT715

[code]
[dmesg_rcu_interrupt.log](https://github.com/thesofproject/linux/files/3644241/dmesg_rcu_interrupt.log)

kernel: integration/soundwire-latest

[2019-09-23 21:32] plbossart commented on #1248
@bardliao can you try and see if you have the same results?

[2019-09-24 01:49] bardliao commented on #1248
@plbossart I can only test it on ICL-RT711-RT1308-RT715 and it works fine.

[2019-09-24 02:07] bardliao commented on #1228
@ClarexZhou @YvonneYang2 Can you retest it with https://github.com/bardliao/linux/tree/for-rt715? Thanks.

[2019-09-24 02:54] plbossart commented on #1248
Yes, same here. This used to work before so wondering if the board is
toast or if it's really a problem. Don't we have another ICL w/ RT700 in
China?

[2019-09-24 03:29] jack-cy-yu commented on #1228
@bardliao Please note that rt715_mixer.sh should also be modified since mux setting are changed in latest driver. Please check the script to see if below contents are included
 "amixer cset name='ADC 24 Mux' 'DMIC1'
amixer cset name='ADC 25 Mux' 'DMIC2'"

[2019-09-24 03:50] YvonneYang2 commented on #1206
Issue can reproduce on cml rvp rt700 with test recipe as below. Screen will get dark but dmesg shows no enter suspend info after run "sudo rtcwake -m mem -s 10"

**Test preconditions**:
make sure both options are commented out.
#options snd-sof-pci sof_debug=1
#options soundwire_intel sdw_md_flags=0x01010101

**Test recipe**:
Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master +

[2019-09-24 05:12] YvonneYang2 commented on #1221
Issue can be reproduced on icl rvp rt700 when run sof-test-playback stress test.

Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 07bdd03 https://github.com/thesofproject/linux/tree/integration/soundwire-latest-pm
Topology: Same with FW branch: sof-icl-rt700.m4
Platform:ICL RVP with codec ALC700 in SDW mode

**dmesg**
[code]

[dmesg.log](http

[2019-09-24 05:56] dengyangchao commented on #1187
suddenly the issue disappeared, and use command```alsactl --file asound.state store``` back up file
and add file below

[asound .txt](https://github.com/thesofproject/linux/files/3645453/asound.txt)

[2019-09-24 06:06] YvonneYang2 commented on #1196
Issue can be reproduced on icl rvp rt700 when wake up from s2idle suspend during paplay

**Test preconditions:**
make sure both options are commented out.
#options snd-sof-pci sof_debug=1
#options soundwire_intel sdw_md_flags=0x01010101

**Test recipe:**
Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 07bdd03 https://github.com/thesofproject/

[2019-09-24 06:53] dengyangchao commented on #1224
issue also seen on ICL HDA and GLK i2s chrome

**test recipe**
Firmware: 9794dd78  master
Kernel: e03f8829   topic/sof-dev
Topology: file: sof-hda-generic-4ch.tplg/ sof-glk-da7219.tplg

[2019-09-24 06:58] bardliao commented on #1248
@plbossart Yes, we have. @ClarexZhou @YvonneYang2 Could you verify it on ICL-RT700?

[2019-09-24 07:51] YvonneYang2 commented on #1228
Test it with  https://github.com/bardliao/linux/tree/for-rt715, issue cannot reproduce on icl rvp 3-in-1.

Test recipe:
Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 35c4315https://github.com/bardliao/linux/tree/for-rt715
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  same branch as FW
platform: ICL RVP,

[2019-09-24 08:01] YvonneYang2 commented on #1205
Still can reproduce on icl rvp 3-in-1.

**Test preconditions:**
make sure both options are commented out.
#options snd-sof-pci sof_debug=1
#options soundwire_intel sdw_md_flags=0x01010101

Test recipe:
Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 07bdd03 https://github.com/thesofproject/linux/tree/integration/soundwire-latest-pm
tplg:  sof

[2019-09-24 08:14] YvonneYang2 commented on #1172
Issue still reproduced on icl rvp rt700 when run modules reload stress test 17th.

[reload_fail_dmesg.txt](https://github.com/thesofproject/linux/files/3646028/reload_fail_dmesg.txt)

Test recipe:
Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 07bdd03 https://github.com/thesofproject/linux/tree/integration/soundwire-latest-pm
tplg:  sof-icl-

[2019-09-24 08:25] YvonneYang2 commented on #1206
Issue can still be reproduced as https://github.com/thesofproject/linux/issues/1206#issuecomment-530702908 said with test recipe as below.

Test recipe:
Firmware: 9794dd7 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 07bdd03 https://github.com/thesofproject/linux/tree/integration/soundwire-latest-pm
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-

[2019-09-24 08:55] ClarexZhou commented on #1248
Check on ICL-RT700. Aplay can be played and audio output normally.

kernel: integration/soundwire-latest b2ed25c
firmware: master: 9794dd7

[2019-09-24 16:52] plbossart commented on #1172
what does 'system boot up' mean?

can you clarify if
a) this error happens only when booting (initial probe without any blacklist for snd-sof-pci)?
b) this error happens during a module load/unload test?

Also the error reported is related to HDMI, please test without HDMI....

The code updated on integration/soundwire-latest has fixes for startup race conditions, please test. I ran module load/un

[2019-09-24 17:34] plbossart commented on #1248
Thanks @ClarexZhou looks like my board issue, appreciate the help.

[2019-09-25 03:26] ClarexZhou commented on #1224
Arecorded fs24_le audio can be played normally via aplay.   Not sof issue.
Paplay also can play audio which captured via parecord normally.
Current issue scenario isn't common case. Close.

[2019-09-25 03:26] #1224 closed

[2019-09-25 07:08] dengyangchao commented on #1187
issue reproduced and there are some difference between```asound.txt``` and ```asound_issue.txt```

[code]

[asound_issue .txt](https://github.com/thesofproject/linux/files/3650972/asound_issue.txt)

[2019-09-25 08:08] YvonneYang2 commented on #1205
Issue not reproduced when set
"options snd-sof-pci sof_debug=1
 options soundwire_intel sdw_md_flags=0x01010101" in /etc/modprobe.d/alsa-base.conf on  ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode

Test recipe:
Kernel : https://github.com/thesofproject/linux/commits/integration/soundwire-latest abc49c2
FW:  https://github.com/thesofproject/sof/commits/   d42c019 +PR1851 (For HDMI tplg)

[2019-09-25 09:39] YvonneYang2 commented on #1172
Tried to remove HDMI via Device Drivers  --->  <*> Sound card support  --->  <*>   Advanced Linux Sound  Architecture  --->ALSA for SoC audio support ---> unmark SOF support for HAD Links (HAD/HDMI), but it seems not work. Could you help to share how to test without HDMI ? Thanks.

On latest FW and Kernel on master and integration/soundwire-latest,
**Test preconditions:**
set "options snd-sof-pci

[2019-09-25 11:14] kv2019i commented on #1245
@aiChaoSONG Do we have FW traces for this case? This could be a case of invalid DMIC config getting applied:

[    2.885067] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x80010000 size 144
[    2.885168] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005
[    2.885507] sof-audio-pci 0000:00:1f.3: error: unexpected fault 0x00000000 trace 0x00004000
[    2.885616] sof-audio-pci

[2019-09-25 11:18] kv2019i commented on #1245
In the other log, similar problem but for another IPC. No response to pipeline-complete and there does not seem to be a IPC pending from DSP to host:

[    2.423934] sof-audio-pci 0000:00:1f.3: ipc tx: 0x30130000: GLB_TPLG_MSG: PIPE_COMPLETE
[    2.423986] sof-audio-pci 0000:00:1f.3: ipc rx: 0x90020000: GLB_TRACE_MSG
[    2.424015] sof-audio-pci 0000:00:1f.3: ipc rx done: 0x90020000: GLB_TRACE_MSG

[2019-09-25 14:18] plbossart commented on #1172
It's really not complicated. remove all other machine drivers and make sure HDAC_HDMI is not in your config. Then also use a topology where all idisp parts are removed.

[2019-09-26 08:22] bardliao commented on #1226
@YvonneYang2 Could you retest it with https://github.com/bardliao/linux/tree/integration/soundwire-latest ?

[2019-09-26 08:35] dengyangchao opened #1255 "[BUG][ICL]dsp panic then ipc timed out 0x60010000"
**Describe the bug**
dsp panic then ipc timed out 0x60010000, then run command"aplay -Dhw:0,3 -r48000 -c2 -fs16_le 1.wav -vv -i" it can play successfully

**To Reproduce**
1.reboot system via"sudo reboot"
2.wait it to suspend status
3.check suspend mode is s2idle via"cat /sys/power/mem_sleep"
3.Run with command aplay -Dhw:0,3 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 300 1 1

**frequenc

[2019-09-26 09:17] YvonneYang2 commented on #1226
Retest it with test recipe as below, issue cannot reproduced, but set it up will cost about 3-5s.

Test recipe:
 Firmware: 3ce82a1 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 03b41fb  https://github.com/bardliao/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  path same as FW branch

[2019-09-26 10:27] dengyangchao commented on #1111
observed on MST duplicate mode, not audio issue, close it

[2019-09-26 10:27] #1111 closed

[2019-09-26 11:02] bardliao commented on #1226
The delay is expected. There is a 2s delay in resume for each devices.

[2019-09-26 12:39] plbossart commented on #1226
well, to be clearer, the delay is fixed for now to 2s until we figure out how to use an async mechanism to check that all devices are operational before exiting resume

[2019-09-26 13:30] juimonen opened #1257 "sof related alsamixer sliders don't reflect amixer settings"
if I open "alsamixer -c 0" then issue "amixer sset 'PGA1.0 1 Master' 50%", I don't see corresponding slider mirroring the change. HDA volume control sliders will react to amixer commands. I mean volume is actually changed with sof sliders, but it is quite misleading in some testing cases than you don't "see" the change for example.

[2019-09-26 14:02] plbossart commented on #1257
is this an SOF issue? what happens if you do the same with e.g. a codec mixer setting?

[2019-09-26 15:29] juimonen commented on #1257
So messages are going through to dsp, volume is changing, the change is just not reflected in alsamixer graphical sliders. With HDA related controls the sliders move. So I don't know are we missing some callback to user space etc?

[2019-09-26 15:45] juimonen commented on #1257
wait, some new info. If I set sof pga mixer with amixer _and_ close alsamixer and reopen, I see the change reflected in the slider. If I don't close and reopen slider doesn't move (?).

[2019-09-26 15:47] ranj063 commented on #1257
@juimonen I was going to comment that I see the change happening at my end. But yes I only open alsamixer after I issue the amixer command. So it may not be a SOF issue. possibly an alsamixer utility issue.

[2019-09-26 15:47] juimonen commented on #1257
I don't think this is like showstopper, it is just really annoying to see what's happening with alsa controls when I'm testing UCM use cases. Some changes are reflected some aren't (if I don't close and opne alsamixer in between every command)

[2019-09-26 16:54] plbossart commented on #1228
@YvonneYang2 the code is now in integration/soundwire-latest, if this is solved please close.

[2019-09-26 17:05] plbossart commented on #1222
@bardliao , I can reproduce this on the ICL U with the 3-in-1 board. I don't have pulseaudio setup for now, this happens with plain vanilla arecord.
The odd thing is that I don't have any errors reported in dmesg. I counted about 10s of record, 10s of pause and then resumed playback, and things seem to be fine at the kernel level.

[dmesg_pause.log](https://github.com/thesofproject/linux/files/365

[2019-09-26 18:46] plbossart commented on #1222
Applying the PR #1070 does seem to solve the issue on my platform. After rebasing this patch on top of integration/soundwire-latest, the underflow is gone. The relevant commit is 49d28c30a50a42d20d8f4f0471e05aec6df2324d

[2019-09-26 18:56] plbossart commented on #1222
@YvonneYang2 can you please retest with the updated integration/soundwire-latest branch and let me know if this solves the issue for you.
It doesn't look like it's SoundWire related but to some extent it's good if the problem showed up in this context.

[2019-09-26 21:55] wenqingfu commented on #1080
I see this start showing up on GLK as well in CI. Previously, the HDMI audio detection was quite stable on GLK_BOB, I would say.

[2019-09-27 02:14] YvonneYang2 commented on #1228
Issue cannot reproduce with test recipe as below on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode. So close it.

Test recipe:
Firmware: 3ce82a1 https://github.com/thesofproject/sof/commits/master + +PR1851 (For HDMI tplg)
Kernel: 49d28c3 https://github.com/thesofproject/linux/commits/integration/soundwire-latest
tplg: sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.t

[2019-09-27 02:14] #1228 closed

[2019-09-27 02:39] YvonneYang2 commented on #1222
Run 300 times pause-release test with updated integration/soundwire-latest branch, issue cannot reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

[2019-09-27 06:39] Jiangxinx opened #1261 "[BUG][APL][STRESS]sof_insert failed (ipc timed out) on apl up2 nocodec platform."
**Describe the bug**
sof_insert failed (ipc timed out) on apl up2 nocodec platform.
Howerver, I inserted the sof driver ( ./sof_insert.sh ) manually and found that it can work again.

**To Reproduce**
./sof_boot_loop.sh 100

**frequency**
1/6

**Actual result**
[code]

**Environment**
Firmware: 7046e849 https://github.com/thesofproject/sof/commits/master
Kernel: 578ff8d7 https://github.com/thesofp

[2019-09-27 07:24] lgirdwood opened #1262 "[FEATURE] probes: add support for FW pipeline probe support"
The kernel needs to export some debugFS tuning control and compressed PCM devices so that DSP pipeline probes can be inserted into running pipelines to help with debug and integration of algorithms.

[2019-09-27 13:47] kv2019i opened #1263 "[ICL] Resume from S3 fails with snd-hda-codec-hdmi"
Resume from S3 suspend fails to a system freeze with snd-hda-codec-hdmi (with SOF when issue #1123 is merged, or with legacy/non-DSP HDA driver in upstream).

No logs available currently.

Reproduction rate: 100%

[2019-09-29 06:11] RanderWang opened #1268 "[FEATURE] register setting log: dynamically show register setting in kernel log"
For driver debugging,  we need to know which registers are set by driver before special issue reproduced, e.g. HW hang. It can be implemented as IPC VERBOSE log. It was suggested by @lgirdwood

[2019-09-30 07:24] mengdonglin commented on #1160
@tlauda Can you please check if you still see this issue with https://github.com/thesofproject/linux/pull/1250?  I feel 1 should be okay with #1250

[2019-09-30 10:56] tlauda commented on #1160
@mengdonglin If it's already merged for CI, then the issue is still visible.

[2019-09-30 15:13] kv2019i commented on #1184
Update: a new scenario discovered where probe error can be triggered:

- boot system (tested on ICL)
- unload audio drivers
- put system to S3 suspend (e.g. with rtcwake)
- resume
- load audio drivers
-> HDMI probe fails with high reproduction rate and display driver logs show that the codec does not come out of sleep state (leading to probe error with both legacy and SOF drivers)

[2019-09-30 15:33] ranj063 commented on #1184
@kv2019i I was experimenting with the i915 init sequence and codec probe with my MFD PR and I can easily trigger the codec probe error with it. I am now convinced that this is a timing issue with how/when the i915 and HDA controller are initialized and the codecs are probed.

[2019-10-01 16:56] kv2019i commented on #1184
Current understanding (and solutions) for the bug:

CML issue -> this is fixed by Takashi Iwai's patch in upstream (2756d9143aa5 ALSA: hda - Fix intermittent CORB/RIRB stall on Intel chips)

CFL issue (logs in original bug report) -> caused by a bug in new HDMI codec driver patch series, now fixed

GLK/ICL issue -> fix candidate submitted to i915 driver -> Potential bugfix to this issue submitted

[2019-10-02 04:40] kv2019i commented on #1184
Seen on TGL as well, assigning P2 for now.

[2019-10-02 09:31] tlauda commented on #1160
@mengdonglin @ranj063 @xiulipan @fredoh9 @kv2019i  I think I have finally rootcaused the issue. The problem is  in start sequence. HDA Link DMA is started **after** trigger start ipc is sent to FW. HDA Link pipelines are scheduled on timer, so first pipeline copy can happen before even link is set to run. We end up filling the buffer, but since the link is not yet enabled, the data is not consumed

[2019-10-02 15:16] ranj063 commented on #1160
@tlauda good finding. But I can see the same problem even if we start DMA first and then send the start IPC too. How do we explain that?

[2019-10-02 19:11] tlauda commented on #1160
@ranj063 Can you attach kernel diff for your change and also retry with https://github.com/thesofproject/sof/pull/1891 included?
I need diff, so I could retest this myself.

[2019-10-02 21:03] ranj063 commented on #1160
@tlauda there's no changes in my kernel. What I meant was that I am able to hit this issue on APL with or without the kernel PR #1169 which switches the order in which the IPC is sent and the DMA is stopped/started.

I just tried the FW PR 1891 and still hit the issue as well.

[2019-10-03 04:09] ranj063 commented on #1160
@tlauda I am in the process of implementing the nocodec support for link DMA and I had a couple of questions for you:
1. Just like we have the nocodec support for SSP, does it make sense to do the same for Link DMA?
2. If so, the idea is to not initialize the i915 and probe the codecs. Is it just enough if I have pick a Link DMA stream tag and start the stream for such a mode to work?

[2019-10-03 05:12] tlauda commented on #1160
@ranj063 Change in stop sequence was also needed, but it doesn't fix this particular problem. We also have a problem with start sequence. You cannot start pipeline in FW and start Link DMA after that. It needs to be the other way around. Could you try to make such change in kernel and see if you still see the issue?
As for nocodec mode, I don't think it's going to work. There needs to be something

[2019-10-03 14:28] ranj063 commented on #1160
@tlauda the START/RELEASE sequence in the kernel already does start Link DMA and then send the START IPC.

[2019-10-03 14:29] ranj063 commented on #1160
@tlauda are you sure about this? @plbossart suggested that this should work even if there is no codec to consume the data.

[2019-10-03 16:54] crojewsk commented on #1262
Initial implementation has been posted on: https://github.com/thesofproject/linux/pull/1276

[2019-10-03 17:18] cujomalainey opened #1906 "[BUG] CHT suspend resume causes bogus firmware oops"
**Describe the bug**
Firmware fails to both stay stable after a resume and crash properly. On cml-drop-007 this causes a kernel panic due to the fact that the driver does not detect the bogus panic and ends up reading unavailable memory.

**To Reproduce**
Suspend then resume a device, then attempt playback

**Reproduction Rate**
everytime

**Expected behavior**
audio would continue working after s

[2019-10-03 22:08] cujomalainey commented on #1906
It looks like the topology is simply not being pushed to the DSP after the suspend/resume cycle (assuming it is not saved in ram). This is based on the observing the ipc patterns in glk vs cht. Therefore the hw_params message is causing some indeterminate behaviour as a result which likely suggests we are missing a check somewhere in the firmware for when objects are missing. Also we should probab

[2019-10-03 22:30] ranj063 commented on #1906
@cujomalainey BYT/CHT do not support suspend/resume. If you look into pcm_probe() we deliberately hold the ref_count so as to prevent the device from runtime suspending.

[2019-10-03 22:31] cujomalainey commented on #1906
@ranj063 thanks for the clarification, so they should be able to preserve their topology through a suspend resume cycle?

[2019-10-03 22:52] ranj063 commented on #1906
@cujomalainey no topology will be lost if the audio power domain is powered off during system suspend. Basically the SOF driver does not power off the DSP on ACPI platforms and so when the system resumes, it does not set up the topology either.

[2019-10-04 12:51] #1227 closed

[2019-10-04 15:16] kv2019i commented on #1184
Patches to gen10+ display have been accepted upstream -> https://patchwork.freedesktop.org/series/67528/

New issue found in suspend/reload combined stress test that affects only SOF with patch_hdmi driver -> patch sent to alsa-devel today and backprot include in patch series #1155

If testing is ok for #1155 , this bug can be closed. All known issues fixed.

[2019-10-04 15:38] kv2019i commented on #1263
This should be fixed with combination of latest SOF and i915 driver fixes (all patches in #1155 ).

[2019-10-04 21:40] plbossart commented on #1160
On 10/3/19 9:29 AM, Ranjani Sridharan wrote:

Yes, the PCH owns the clock and can push data out even if there is no
codec consuming the data.
The example I have in mind is sending audio to the HDMI devices in
legacu mode when there is no HDMI link. It just consumes data at the
usual 48kHz rate.

[2019-10-04 21:41] plbossart commented on #1906
On 10/3/19 5:30 PM, Ranjani Sridharan wrote:

that's a bug.
suspend/resume is not supported on the MinnowBoard,but it works well on
all other boards. we should definitively add this, and there's a old
feature request for this.

[2019-10-04 21:44] cujomalainey commented on #1906
@ranj063 and I got suspend/resume working on cht in a semi hacky fashion. I have both a cht and byt device at my desk that we can use to get this implemented. We will continue Monday and hopefully get this working and submitted.

[2019-10-07 19:52] plbossart commented on #933
not reproducible on ASUS T100 HAN (CHT), but PulseAudio speaker test generates audible underflows

[2019-10-07 20:04] plbossart commented on #933
Not reproducible on Asus T100 TA (BYT) either. I wasn't able to check Pulseaudio, @juimonen can you give it a try with the UI speaker test?

[2019-10-07 20:34] plbossart commented on #1088
@cujomalainey I just tried with the latest everything and the behavior with "rtcwake -m mem -s 3"
is as follows

[code]

We should definitively try to avoid an IPC if there is no firmware on suspend, but other than that I am not sure if the behavior is incorrect?

@ranj063 what do you think?

[2019-10-07 21:17] cujomalainey commented on #1088
If we are no longer freezing or crashing then I think it's fine. Errors are fair game.

[2019-10-07 21:23] ranj063 commented on #1088
@plbossart the errors are fine but does audio work at all after system resume?

[2019-10-07 21:54] plbossart commented on #1088
no, there's no firmware...

[2019-10-07 22:30] ranj063 commented on #1088
ok thats expected. @cujomalainey and I fixed this part on Friday. So we have audio working after suspend/resume cycle. We will post the patches after cleanup. we still have to get runtime PM working though.

[2019-10-07 22:40] ranj063 commented on #1088
@plbossart sorry I got confused with BYT here.

When there is no FW present, yes we should avoid the IPC. But how do we tell there is not FW?

[2019-10-07 23:52] plbossart commented on #1088
we probably need to use a boolean state variable, like first_boot or something, and avoid saving the context when it's not relevant.

[2019-10-08 00:22] #1222 closed

[2019-10-08 07:39] juimonen commented on #933
@plbossart in byt-mb aplay works fine but with pulseaudio I have similar issues than you, so quite nasty gaps in audio. Manually running pulseaudio doesn't spit out any xruns, also fw logger seems clean.
With aplay I also get like small part of the audio repeated in the end when I cut the playback with ctrl-c... don't know if it is related, but seems this is not underrun, but some error in reporti

[2019-10-08 08:21] juimonen commented on #933
btw, if I play with "paplay -vvvv" (verbose mode) the audio is clean (!?). And I see from dmesg position reporting that there's some difference. So with -vvv the buffer fill sizes are calculated somehow differently. Now the question is, why pulse "default" playback is not working, pulse or sof issue?

[2019-10-08 12:17] kv2019i commented on #1053
@keqiaozhang @RanderWang @ranj063 This P1 bug has been open for a very long time with no activity in recent weeks. Can we @mengdonglin assign this to someone with WHL RVP?

I'd suggest to try with Rander's patch (merged in latest sof-dev)
ALSA: hda: clear link output stream mapping
... and the related FW patch which helped with system hangs on cavs1.8 (I don't have a link but @RanderWang you proba

[2019-10-08 12:22] kv2019i commented on #1128
This bug should be fixed with combination of patches to i915 driver and SOF. While waiting for patches to be accepted, can be tested with PR #1155

[2019-10-08 12:23] kv2019i commented on #1080
This bug should be fixed with combination of patches to i915 driver and SOF. While waiting for patches to be accepted, can be tested with PR #1155

[2019-10-08 12:25] kv2019i commented on #1104
Waiting for patches in #1155 to be merged upstream.

[2019-10-08 13:58] plbossart commented on #933
it's definitively SOF, this doesn't happen with the legacy driver. I'll file another issue on this to avoid misunderstandings.

[2019-10-08 14:02] plbossart opened #1285 "PulseAudio underflows/audio drops on BYT/CHT"
Strange behavior reported in https://github.com/thesofproject/linux/issues/933

PulseAudio works well with paplay -vvv, but audio drops/underflows are experienced when playing with the speaker test UI (front left, front right). Also when using aplay there are duplicated sounds at the end of playback when using Control-C.

This is definitively a position reporting issue.

[2019-10-08 14:03] plbossart commented on #933
follow-up on https://github.com/thesofproject/linux/issues/1285

[2019-10-08 14:03] #933 closed

[2019-10-09 04:20] aiChaoSONG opened #1292 "[BUG] HDMI/DP monitor not detected on CML Chrome"
**Describe the bug**
No video or audio output to monitor after HDMI/DP cable connected, check display settings, the monitor is not detected.

**Reproduction Rate**
100%

[dmesg.log](https://github.com/thesofproject/linux/files/3705563/dmesg.log)

[2019-10-09 05:24] kamal-ap commented on #1069
Below dmesg error messages seen Pre-Merge validation of SOF v0.7 also

[ 1687.641964] HDMI HDA Codec ehdaudio0D2: No connections found for pin:port 6:2
[ 1687.642219] HDMI HDA Codec ehdaudio0D2: No connections found for pin:port 7:2
[ 1688.642054] HDMI HDA Codec ehdaudio0D2: ASoC: PRE_PMU: hif5-2 Output event failed: -5
[ 1716.891138] HDMI HDA Codec ehdaudio0D2: No connections found for pin:port 6

[2019-10-09 08:33] dengyangchao commented on #1292
[DPMST] use DP-HUB connect 2 DP monitor, device can't detected DP monitor, and DP monitor lost display
issue observed on GLK-Chrome, CFL-S RVP, CML HDA.
1. commit:  9af032a3  sof-dev  detected DPMST, monitor display normal
2. commit:  c710364f  sof-dev  can't detect DPMST, monitor lost display

[2019-10-09 08:57] kv2019i opened #1293 "snd-sof-pci module unload gets stuck due to hda_jackpoll_work"
With latest sof-dev tip, a stress test to unload&load the SOF modules, test leads to modprobe getting stuck on "sudo modprobe -r snd_sof_pci".

Linux: 0f665a4f8bf1 (ASoC: SOF: dai-imx: remove spurious newline at EOF)
Reproduction rate: 30%
Impact: system has to be rebooted to recover

Other notes:
- does not occur if runtime-pm is disabled
-  initial debug show this to be caused by a race in tryin

[2019-10-09 10:21] kv2019i commented on #1293
FYI @keyonjie and @ranj063  You might hit this with MFD and/or S0ix work.

Did some debug today, but no clue on on rootcause.  Notably when this happens,
sofi_pci_remove() -> snd_sof_device_remove() -> platform_device_unregister+0x17/0x30

... takes a very long time, but it does complete, so doesn't explain why unload eventually fails.

[2019-10-09 10:40] dengyangchao commented on #1293
Similar issue also seen when removing snd_sof_pci with PA off,  takes a very long time, but still  it does complete.

Firmware: c8bc4b2c https://github.com/thesofproject/sof/commits/master
Kernel: 0f665a4f https://github.com/thesofproject/linux/commits/topic/sof-dev
platform: CML HDA-Notebook, ICL-HDA RVP, CFL-S HDA RVP

[2019-10-09 10:50] mengdonglin commented on #1292
@aiChaoSONG @dengyangchao Is this issue a regression? If yes, please help to find the regression point.

[2019-10-09 11:18] kv2019i commented on #1293
Ack, most probably the same issue. This seems to be related to the HDA codec suspend/resume actions at device removal. If I modify the bug script with following:

<load module>
echo "on" >/sys/bus/pci/devices/0000\:00\:1f.3/ehdaudio0D0/power/control
<unload module>

... the problem goes away. I.e. by disabling codec's runtime PM, the card removal goes through without delays.

[2019-10-09 14:48] plbossart commented on #1293
We had a similar issue with SoundWire yesterday, with a race between remove and resume. Our fix was to disable pm_runtime in the .remove, and do so for all the device children

[2019-10-09 17:22] plbossart commented on #1293
On 10/9/19 6:18 AM, Kai Vehmanen wrote:

I just found another issue. When we compile the kernel with HDA_LINK
support, but don't use the HDMI stuff in the topology/machine driver,
then the PCI device does not suspend.

When I remove HDA_LINK then suspend works fine.

[2019-10-09 21:34] keyonjie opened #1296 "debugfs: dumping some items in debugfs will crash the system"
What I have observed is that on CML/CNL platforms, running below commands will crash the whole system:
1. echo on >  /sys/bus/pci/devices/0000\:00\:1f.3/power/control
2. cd /sys/kernel/debug/sof
3. hexdump hda (or dsp)

There might be memory out of bound access, we need to figure out this for debug purpose.

[2019-10-10 02:33] RanderWang commented on #1053
yes, please test kernel on https://github.com/thesofproject/linux/commits/release/sof-v5.0 and FW on branch:https://github.com/thesofproject/sof/commits/cml-hda-dmic-002-drop-stable.

Now my change in kernel is merged by master, but the change for FW is still not merged on master branch

[2019-10-10 05:42] Jiangxinx commented on #1261
Can not reproduced on daily version

[2019-10-10 05:42] #1261 closed

[2019-10-10 07:16] aiChaoSONG commented on #1245
run reboot stress test several times, not reproduce

[2019-10-10 07:29] dengyangchao commented on #1292
as i see, the issue caused by c710364, how do you think? @aiChaoSONG

[2019-10-10 07:42] aiChaoSONG commented on #1292
on my side, commit c710364f doesn't work, commit 9af032a3 works. but I think the code in c710364f has nothing to do with display. btw, c710364f is 5.3, but 9af032a3 is 5.3rc2, there must be a lot of code change in between, that's why I am confused.

[2019-10-10 08:00] juimonen commented on #1285
So when I play with "paplay" I get much bigger DAI position updates (altering between some 24k-32k):
PCM: stream 0 dir 0 DMA position 15120 DAI position 848064
PCM: stream 0 dir 0 DMA position 15120 DAI position 848064
PCM: stream 0 dir 0 DMA position 15120 DAI position 848064
PCM: stream 0 dir 0 DMA position 15120 DAI position 848064
PCM: stream 0 dir 0 DMA position 15120 DAI position 848064
PCM:

[2019-10-10 08:05] tlauda commented on #1285
@juimonen With the same parameters, we can't get so much discrepancy between DAI positions. Maybe time diffs between position logs are different?

[2019-10-10 08:15] juimonen commented on #1285
@tlauda There has to be some difference in some parameter or initialization etc. I just can't see this currently from kernel side...(and no dsp logs) It is very much 100% reproducible that in dmesg when the sound is clean the position updates come much faster than with broken case (8k vs 30k dai updates). Just if you would know any hints where to look for? So I'm actually puzzled is this driver or

[2019-10-10 09:58] kv2019i commented on #1293
@plbossart wrote:

Ack, that works for HDA as well, tested on two machiens, now waiting for CI results:
https://github.com/thesofproject/linux/pull/1301

[2019-10-10 10:00] kv2019i opened #1302 "PCI device does not suspend with HDA_LINK=1 but no HDMI in topology"
Forked as separate issue from:
https://github.com/thesofproject/linux/issues/1293

From @plbossart :
I just found another issue. When we compile the kernel with HDA_LINK
support, but don't use the HDMI stuff in the topology/machine driver,
then the PCI device does not suspend.

When I remove HDA_LINK then suspend works fine.

[2019-10-10 10:00] kv2019i commented on #1293
@plbossart wrote:

Filed as https://github.com/thesofproject/linux/issues/1302

[2019-10-10 10:02] kv2019i commented on #1293
Candidate fix -> https://github.com/thesofproject/linux/pull/1301

[2019-10-10 10:19] kv2019i commented on #1184
Current status: all known issues fixed for ICL and other platforms, but it seems the issue is still hit sometimes on GLK in CI, even with all the i915 and adsp patches. Here're three recent test results (random patches submitted to CI yesterday and today):

https://sof-ci.01.org/linuxpr/PR1290/build2066/devicetest/
https://sof-ci.01.org/linuxpr/PR1295/build2071/devicetest/
https://sof-ci.01.org/li

[2019-10-10 14:00] kv2019i commented on #1263
This still occurs with latest #1155 code. It seems the problem is hit in snd-hda-codec-hdmi resume code. No rootcause yet. This happens only on ICL.

[2019-10-10 14:14] kv2019i commented on #1263
pm_test run with "core" reports following warning from i915. Not known yet why this does not get triggered with hdac-hdmi:

[  386.226725] i915 raw-wakerefs=1 wakelocks=1 on cleanup
[  386.226771] WARNING: CPU: 6 PID: 1979 at drivers/gpu/drm/i915/intel_runtime_pm.c:603 intel_runtime_pm_driver_release+0x1c/0x20 [i915]

[2019-10-10 16:04] plbossart commented on #1285
the PulseAudio -vvv option should only change the verbosity level at the PulseAudio level. But it'd be interesting to see if we have the same hw_params and if the latency settings are correct.

If yes, one possibility is that the extra verbosity increases the time between calls to snd_pcm_status() and maybe hides abrupt transitions reported by the firmware (or DMA).

[2019-10-10 16:20] juimonen commented on #1285
@plbossart so the difference is with "paplay" and "paplay -vvvv"... I tried to debug and pcm params in driver side seems to be the same.  So you don't have to play from ui, you get the same stuttering with paplay from command line.

BTW byt logging got fixed also when checking this stuttering issue: https://github.com/thesofproject/sof/pull/1918. Probably bug in logging was hidden because byt test

[2019-10-10 16:25] wenqingfu commented on #1184
@kv2019i are these patch cherry picked to sof-dev now? which PR contains it?

[2019-10-10 17:00] plbossart opened #1303 "[SDW] alsamixer reports Device Busy when PCI device is 'suspended'"
After probe, when the PCI device, SoundWire master and SoundWire slaves are suspended (pm_runtime), accesses to some kcontrols generates a -EBUSY reply.

This is fixed for RT711 and RT1308, but we still have problems with RT700 and RT715, need patches from Realtek.

[2019-10-10 17:00] plbossart commented on #1226
replaced by https://github.com/thesofproject/linux/issues/1303

[2019-10-10 17:00] #1226 closed

[2019-10-10 17:01] plbossart commented on #1225
replaced by https://github.com/thesofproject/linux/issues/1303

[2019-10-10 17:02] plbossart commented on #1223
Is this issue still valid @ClarexZhou @mengdonglin ?

[2019-10-10 17:07] plbossart commented on #1221
Can we rerun this with the latest integration/soundwire-latest? I am not aware of any issues with pm_runtime now.

[2019-10-10 17:08] plbossart commented on #1206
bug confirmed, now added with SDW_DEV label for visibility

[2019-10-10 17:09] plbossart commented on #1214
can we retest this without any options and runtime PM enabled?

[2019-10-10 17:12] plbossart commented on #1205
replaced by https://github.com/thesofproject/linux/issues/1303

[2019-10-10 17:12] #1205 closed

[2019-10-10 17:13] plbossart commented on #1201
Can we retest this? I am not aware of any issues with suspend apart from suspend while playback (https://github.com/thesofproject/linux/issues/1303)

[2019-10-10 17:14] plbossart commented on #1199
Can you retest this? PM runtime should be fully functional now

[2019-10-10 17:17] plbossart commented on #1195
can we retest this? This doesn't show in my own tests

[2019-10-10 17:18] plbossart commented on #1172
Not reproducible on my side, please retest and close if relevant.

[2019-10-10 18:47] kv2019i commented on #1184
@wenqingfu wrote:

@wenqingfu They have been part of PR1155, but I now made a clean PR so the patches can be picked to sof-dev: https://github.com/thesofproject/linux/pull/1304
... this time, CI only had one pause-resume fail for PR1304 (e.g. no HDMI failures).

[2019-10-10 21:11] plbossart commented on #1248
BIOS reinstall + new kernel seems to help, no issues any longer. closing

[2019-10-10 21:11] #1248 closed

[2019-10-11 02:50] aiChaoSONG commented on #1292
closed for cannot reproduce

[2019-10-11 02:50] #1292 closed

[2019-10-11 04:57] aiChaoSONG commented on #1245
let's close this issue, because it is not seen for several days

[2019-10-11 04:57] #1245 closed

[2019-10-11 06:13] YvonneYang2 commented on #1303
Issue #1226 #1205 cannot reproduced on icl 3-in-1 when set ./rt1308 amixer settings.
But when set rt715 amixer setting, dmesg will show rt715 sdw read failed. amixer contents shows "read error:  Device and resource busy".   Activate RT715 codec(arecord 0,4), then set it again can recover the issue.

Test preconditions:
make sure both options are commented out.
#options snd-sof-pci sof_debug=1
#opt

[2019-10-11 06:13] ClarexZhou commented on #1223
IPC timed out for  0x60050000: GLB_STREAM_MSG: TRIG_STOP occurred during multipipline stress test.
Failed at 54th time, use below stress test scripts and run stress test via "./multiplex_pipeline-test.sh pcm0p pcm4p pcm1c pcm2c pcm3c"

[multiplex_pipeline-test.sh.txt](https://github.com/thesofproject/linux/files/3715833/multiplex_pipeline-test.sh.txt)

**Environment**
Firmware: e755494  Master
Ker

[2019-10-11 06:23] ClarexZhou commented on #1196
Error still seen on latest kernel
**Environment**
Firmware: e755494  Master
Kernel: d2b55e0 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML RVP with onboard ALC700 in SDW mode

[2019-10-11 06:30] YvonneYang2 commented on #1206
Issue can still be reproduced with test recipe as below.

Test preconditions:
make sure both options are commented out.
#options snd-sof-pci sof_debug=1
#options soundwire_intel sdw_md_flags=0x01010101

Test recipe:
Firmware: e755494 https://github.com/thesofproject/sof/commits/master
Kernel: d2b55e0 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg: sof-icl-rt711-rt130

[2019-10-11 06:40] ClarexZhou opened #1306 "[BUG][SDW]ipc error for 0x60070000 when try to resume paused aplay after wake from S2idle"
**Describe the bug**
Enter S2idle during aplay paused. Aplay can't be resumed after wake up from S2idle.

**To Reproduce**
1. echo s2idle > /sys/power/mem_sleep
2. Terminal 1: aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero -vv -i,  press SPACE button to pause aplay
3. Terminal 2: sudo rtcwake -m mem -s 10

**frequency**
100%

**Actual result**
ipc error for 0x60070000: GLB_STREAM_MSG: TRIG_RELEASE

[2019-10-11 06:41] ClarexZhou commented on #1306
Will retest after #1196 fixed

[2019-10-11 07:51] ClarexZhou opened #1307 "[BUG][SDW] cml rt700: almixer and alsamixer can't be started."
**Describe the bug**
almixer and alsamixer can't work for "cannot load mixer controls: Device or resource busy". And no any message in dmesg.

Issue first time occurred after connecting DP.  Then always not work any more, even not work during aplay, also not work after removed DP and power on again.

**To Reproduce**
1. Do system reboot via "sudo reboot"
2. alsamixer or amixer to check.

**frequen

[2019-10-11 07:55] ClarexZhou commented on #1307
@plbossart @bardliao @RanderWang  Have you met this previously?  Is there any suggestions about how to make amixer or alsamixer work?  Now it blocked tests on CML rt700.

[2019-10-11 07:57] YvonneYang2 commented on #1223
Same issue occurred when run "./multiplex_pipeline-test.sh pcm0p pcm4p pcm1c pcm3c" 32th times on icl rt700 rvp.

Environment
Firmware: e755494 Master
Kernel: d2b55e0 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-icl-rt700.m4
platform: ICL RVP with onboard ALC700 in SDW mode
Other: Runtime PM status is enabled (without debug=1 options)

<details>
 <summary>Dmesg</s

[2019-10-11 08:22] dengyangchao commented on #1080
issue is fixed by PR1304, close the issue

[2019-10-11 08:22] #1080 closed

[2019-10-11 09:10] YvonneYang2 commented on #1303
Open alsamixer will show cannot load mixer control on icl rt700 rvp.  Run arecord 0,1 capture, then open alsamixer will recover the issue.

Firmware: e755494 https://github.com/thesofproject/sof/commits/master
Kernel: d2b55e0 https://github.com/thesofproject/linux/tree/integration/soundwire-latest

[2019-10-11 09:11] ClarexZhou commented on #1195
Close for error not reproduced on soundwire-latest.

**Environment**
Firmware: e755494  Master
Kernel: d2b55e0 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML RVP with onboard ALC700 in SDW mode

[2019-10-11 09:11] #1195 closed

[2019-10-11 09:12] ClarexZhou commented on #1199
Close for error not occurred on soundwire-latest.

**Environment**
Firmware: e755494  Master
Kernel: d2b55e0 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML ALC700 , ICL ALC700, ICL 3in1 in SDW mode

[2019-10-11 09:12] #1199 closed

[2019-10-11 09:13] ClarexZhou commented on #1214
Close for error not reproduced on soundwire-latest.

**Environment**
Firmware: e755494  Master
Kernel: d2b55e0 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML ALC700, ICL ALC700 in SDW mode

[2019-10-11 09:15] ClarexZhou commented on #1221
Close for error not reproduced on latest soundwire-latest.

**Environment**
Firmware: e755494  Master
Kernel: d2b55e0 on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML RVP with onboard ALC700 in SDW mode

[2019-10-11 09:23] ClarexZhou commented on #1307
Duplicated with #1303

[2019-10-11 09:23] #1307 closed

[2019-10-11 09:24] YvonneYang2 commented on #1201
Issue cannot reproduce on icl 3-in-1 rvp with test recipe s below.

Firmware: e755494 https://github.com/thesofproject/sof/commits/master
Kernel: d2b55e0 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  path same as FW branch
platform: ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode

[2019-10-11 09:26] YvonneYang2 commented on #1201
close it.

[2019-10-11 09:26] #1201 closed

[2019-10-11 09:27] Jiangxinx opened #1308 "[BUG][BYT][APL] DSP panic when do playback test using media playback device."
**Describe the bug**
DSP panic when do playback test using media playback device on BYT and APL platform.
Sof-logger have not any error traces.

**To Reproduce**
1.Playback via "aplay -Dhw:0,1 -fs16_LE -r 48000 -c2 audio-files/raw/test-c2-r48000-fs16_le-d60.raw -vv -i" on BYT platform

**Reproduction Rate**
100%

**Environment**
Firmware: e755494e https://github.com/thesofproject/sof/commits/maste

[2019-10-11 10:27] YvonneYang2 commented on #1172
Test with latest kernel , FW and previous no-hdmi topology as attached. Issue reproduced rate gets lower, about 1/5

[2019-10-11 11:02] bardliao commented on #1223
@YvonneYang2 Does it mean it works at the first 31 times?

[2019-10-11 14:23] plbossart commented on #1303
it's expected that mixer access to RT700 and RT715 will fail, Realtek will provide patches next week.

[2019-10-11 15:17] kv2019i commented on #1184
In CI stats for 11th Oct so far (3 PRs with devicetest round), no probe error on GLK:

https://sof-ci.01.org/linuxpr/PR1301/build2086/devicetest/
https://sof-ci.01.org/linuxpr/PR1300/build2084/devicetest/
https://sof-ci.01.org/linuxpr/PR1155/build2085/devicetest/

[2019-10-11 21:06] plbossart opened #1309 "[SDW] race conditions between system and runtime PM"
If we use system suspend/resume without any pm_runtime, things are fine.
If we use pm_runtime, things are fine.

If we use system suspend-resume and let pm_runtime kick-in, then we have conflicts

See attached test files to reproduce the issue
[pm_test.tar.gz](https://github.com/thesofproject/linux/files/3719605/pm_test.tar.gz)

aplay_system.sh works fine
aplay_runtime.sh works fine
aplay_runtime_

[2019-10-11 21:08] plbossart commented on #1309
This should be fixed before even looking at #1206 and #1196

[2019-10-11 22:56] plbossart commented on #1309
ok, so it turns out to be a case of RTFM.

With the patch below, we keep track of the pm_runtime status and if we do a system suspend with a pm_runtime 'suspended' device, we mark it as active to set its status on system resume, thus avoiding a race with the pm_runtime resume.

<details>
<summary> diff to solve the issue </summary>

[code]
</details>

[2019-10-11 23:00] plbossart commented on #1309
@bardliao @ranj063 does this look ok to you?

@ClarexZhou @YvonneYang2 please add those tests to your regression suite, it's important to detect such problems, thanks.

[2019-10-12 01:18] ClarexZhou commented on #1223
Yes. Works at first 31 times. Failed from 32th, then always failed.

[2019-10-12 01:30] YvonneYang2 commented on #1172
previous no-hdmi tplg as below

[sof-icl-rt700.tplg.txt](https://github.com/thesofproject/linux/files/3720037/sof-icl-rt700.tplg.txt)

[2019-10-12 01:31] dengyangchao commented on #1255
run 2000 times issue can not reproduce, close

[2019-10-12 01:31] #1255 closed

[2019-10-12 03:10] bardliao commented on #1309
@plbossart Yes, it can solve the race conditions between system and runtime PM. I don't see any error/failed when I did suspend in aplay test. But somehow I still got ``aplay: pcm_write:2011: write error: Input/output error`` after resume.

Forgot to mention that https://github.com/thesofproject/linux/pull/1310 is needed

[2019-10-12 03:40] ranj063 commented on #1309
@plbossart I have a question about the sequence with sdw device. With the SOF PCI device, the device is runtime resumed before it is suspended during system suspend. This is likely what avoids the race that you're seeing with sdw. Does this not happen with the sdw device?

[2019-10-12 06:06] YvonneYang2 commented on #1172
Test it 50 times with latest kernel without HDAC_HDMI and topology idisp parts are removed, issue cannot reproduce on icl rt700 rvp.

So it's a HDMI relevant issue.
Replaced by https://github.com/thesofproject/linux/issues/1184

[2019-10-12 06:06] #1172 closed

[2019-10-12 06:08] bardliao commented on #1309
@ranj063 I didn't see this happened with sdw device.

[2019-10-12 06:30] bardliao commented on #1309
@plbossart Questions to your patch
1. Can we just use pm_runtime_status_suspended(dev) to check if the device is runtime suspended?
2. Currently our runtime and system suspend/resume functions are almost the same. Do we need to do a resume/suspend cycle when the device is already runtime suspended?

[2019-10-12 07:54] YvonneYang2 commented on #1196
Error can been seen on latest kernel and FW on icl 3-in-1 rvp

Environment
Firmware: c7d0149 https://github.com/thesofproject/sof/commits/master
Kernel: e7fb5a5 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  path same as FW branch
platform: ICL RVP, with codec ALC711 -RT1308, RT715 in SDW

[2019-10-12 08:09] YvonneYang2 commented on #1306
Error can been seen on latest kernel and FW on icl 3-in-1 rvp

Environment
Firmware: c7d0149 https://github.com/thesofproject/sof/commits/master
Kernel: e7fb5a5 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg: sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg path same as FW branch
platform: ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mo

[2019-10-12 10:10] YvonneYang2 opened #1460 "[BUG][SDW]Switch foreground from background on aplay 0,0 will cause I/O error when do headset playback and headset at the same time"
**Describe the bug**
aplay 0,0/2/3 + arecord 0,4--> ctrl+z and fg on arecord 0,4 --> I/O error
arecord 0,1 and arecord 0,4 --> pause/release --> I/O error
arecord 0,1 + aplay 0,0/2/3 aplay --> I/O error

error log seems same as https://github.com/thesofproject/sof/issues/1578

**To Reproduce**
1.open terminal A to run command "time aplay -Dhw:0,0 -f dat wav/48California_Dreaming.wav -vv -i"
2.open

[2019-10-12 10:41] YvonneYang2 opened #1373 "[BUG][SDW]Switch source in sound setting, sound output stopped but paplay still running."
**Describe the bug**
Switch source in sound setting, sound output stopped but paplay still running.

**To Reproduce**
1.paplay via command "paplay test.wav -vvv "
2.open sound settings and switch output source between speaker and headphone.

**frequency**
100%

**Expected result**
Palay work normally.

**Actual result**
Paplay has sound output before switch source, then sound stopped but paplay st

[2019-10-12 15:16] plbossart commented on #1460
No, the patch ASoC: SOF: Intel: hda: Disable DMI L1 entry during capture is absolutely in integration/soundwire-latest. You must have a bad configuration or a different bug appeared. Please recheck, thanks.

[2019-10-12 15:58] ranj063 commented on #1309
@plbossart the sequence looks good but for one change. The pm_runtime_mark_last_busy() should go at the end of the if (md->pm_rutime_suspended){} block, I think

[2019-10-12 16:06] plbossart commented on #1309
no, the runtime_resume happens *after* the system resume for the SoundWire master.

[2019-10-12 16:08] plbossart commented on #1309
no, in all the cases where we do pm_runtime_enable(), we set pm_runtime_mark_last_busy() to avoid an immediate suspend.

[2019-10-12 16:14] plbossart opened #1311 "[SDW] playback is stopped after system suspend"
When we do a system suspend, the playback does not restart on system resume. The dmesg log shows a trigger stop is sent immediately.

<details> <summary> console log </summary>

[code]

</details>

The expected behavior is that the playback restarts (possibly with an error message indicating an underflow)

Kernel: integration/soundwire-latest 19df577a9096437d50ad77fa5af34f90a8f858da
Additional tra

[2019-10-12 16:17] plbossart commented on #1206
Please recheck with the latest integration/soundwire-latest (19df577a9096437d50ad77fa5af34f90a8f858da), these errors are gone for me.

The behavior is not fully right just yet, so added new issue https://github.com/thesofproject/linux/issues/1311

[2019-10-12 16:17] plbossart commented on #1196
Please recheck with the latest integration/soundwire-latest (19df577a9096437d50ad77fa5af34f90a8f858da), these errors are gone for me.

The behavior is not fully right just yet, so added new issue https://github.com/thesofproject/linux/issues/1311

[2019-10-12 16:18] plbossart commented on #1306
Please recheck with the latest integration/soundwire-latest (19df577a9096437d50ad77fa5af34f90a8f858da), these errors are gone for me.

The behavior is not fully right just yet, so added new issue https://github.com/thesofproject/linux/issues/1311

[2019-10-12 16:23] ranj063 commented on #1309
@plbossart but its after pm_runtime_enable(), isnt it?

[2019-10-12 16:24] ranj063 commented on #1309
@plbossart im wondering if there's a way we could force the same behavior as the SOF device for the SDW device too? ie to runtime resume before system suspend. or Does it not make sense?

[2019-10-12 16:30] ranj063 commented on #1311
@plbossart it looks like the BE hw_params isnt getting called here.

In the prepare() callback for the SDW BE ops, I think we should set the hw_params if it is resumed from suspend.

[2019-10-12 16:44] plbossart commented on #1309
when we invoke pm_runtime_enable(), the activity counters are set way in the past, so refreshing the values before doing a pm_runtime_enable() is not silly. i've seen in the case of the soundwire codecs that this was mandatory. I haven't tested here if the order matters but I don't see why we would take the risk of adding a race condition if the sequence works as is...

[2019-10-12 16:46] plbossart commented on #1311
@ranj063 yes. I suspect that the stream is still configured as 'PREPARED' so we don't do anything.

[2019-10-12 16:49] plbossart commented on #1309
no, we don't want to do this to remain future-proof. In the future (like next week), pm_runtime suspend will use the clock-stop mode, and will not require a full init/re-enumeration on pm_runtime resume. The full init/re-enumeration will still needed for system resume

There is an open whether we need to do a pm_runtime resume *before* doing a system suspend. It would make sense for state consiste

[2019-10-12 16:52] ranj063 commented on #1311
@plbossart in the HDA case, we call the hw_params() routine from our prepare() routine if the link is not prepared. The link is marked as not prepared in the stop/suspend triggers.

I am wondering if we need to use a similar logic in the SDW BE dai ops ie have intel_prepare() called intel_hw_params() upon resuming from system suspend.

[2019-10-12 18:17] plbossart commented on #1311
It's definitively a problem with the .prepare callback.

I added some traces on top of integration/soundwire-latest (https://github.com/plbossart/sound/tree/fix/soundwire-suspend-aplay-resume) and I can see the prepare returns as 'already configured'

[code]
but later on we still do a trigger
[code]

 Full log here:
[dmesg_aplay_suspend_already_prepared.log](https://github.com/thesofproject/linux/

[2019-10-12 19:47] plbossart commented on #1311
Update: the issue is due to the stream management, the state machine is inconsistent.
I fixed  it in the updated branch: https://github.com/plbossart/sound/tree/fix/soundwire-suspend-aplay-resume

As @ranj063 suggested it, the issue is that on system resume, we call the .prepare() callback, but it's in the .hw_params() that we notify firmware of the ALH stream ID. So when we do trigger, nothing wi

[2019-10-14 01:01] bardliao commented on #1460
@YvonneYang2 I can't reproduce the issue with the same kernel and FW as yours.

[2019-10-14 05:47] YvonneYang2 commented on #1460
Issue is caused by commit 71d9ee4(master branch)

@tlauda  Could you have a look? Thanks a lot.

[2019-10-14 05:49] YvonneYang2 commented on #1373
Issue is caused by commit 71d9ee4(master branch)

@tlauda Could you have a look? Thanks.

[2019-10-14 06:18] tlauda commented on #1460
Please provide full FW logs. Current log file is empty.

[2019-10-14 06:24] YvonneYang2 opened #1476 "[BUG][SDW] IPC timed out for 0x80010000 size 120 occurred during multipipline stress test."
**Describe the bug**
IPC timed out for 0x60050000: GLB_STREAM_MSG: TRIG_STOP occurred during multipipline stress test.

**To Reproduce**
Run command "./multiplex_pipeline-test.sh pcm0p pcm4p pcm1c pcm2c pcm3c"

Scripts:
[multiplex_pipeline-test.sh.txt](https://github.com/thesofproject/sof/files/3723398/multiplex_pipeline-test.sh.txt)

**Reproduction Rate**
1/54

**Expected behavior**
Multipipline

[2019-10-14 06:32] YvonneYang2 commented on #1460
Aplay 0,0 + arecord 0,4 --> ctrl+z and fg on arecord 0,4 --> I/O error

All logs is as below:
[logger_error.log](https://github.com/thesofproject/sof/files/3723196/logger_error.log)
[dmesg.log](https://github.com/thesofproject/sof/files/3723197/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/3723198/logger.log)

[2019-10-14 06:40] ClarexZhou commented on #1476
Error was 100% reproduced previously, seen thesofproject/sof#1839, might be improved by PR thesofproject/sof#1887

[2019-10-14 06:48] YvonneYang2 commented on #1306
Test it with latest latest integration/soundwire-latest (19df577) on icl 3-in-1 rvp and cml rt700 rvp, these errors are gone. New behavior will track in #1311

[2019-10-14 06:50] YvonneYang2 commented on #1196
Test it with latest latest integration/soundwire-latest (19df577) on icl 3-in-1 rvp and cml rt700 rvp, these errors are gone. New behavior will track in #1311

[2019-10-14 06:58] #1306 closed

[2019-10-14 06:59] #1196 closed

[2019-10-14 07:02] YvonneYang2 commented on #1206
Test it with latest latest integration/soundwire-latest (19df577) on icl 3-in-1 rvp and cml rt700 rvp, these errors are gone. New behavior will track in #1311.

[2019-10-14 07:02] #1206 closed

[2019-10-14 07:24] dengyangchao commented on #1311
no matter s2idle or deep suspend mode will cause I/O error in below two scenarios, except HDMI/DP playback.
scenario1: aplay 0,0/2/3 (or arecord ) --> pause --> s3/s2 --> wake up -->resume --> I/O error
scenario2: aplay 0,0/2/3 (or arecord )-->s3/s2 -->wake up --> I/O error

kernel:  https://github.com/thesofproject/linux/tree/integration/soundwire-latest    commit: 19df577
sof:       https://gith

[2019-10-14 07:38] tlauda commented on #1460
@YvonneYang2 Normal log is still empty. I don't want to be rude, but could you actually check the content before upload?

[2019-10-14 07:57] YvonneYang2 commented on #1460
Aplay 0,0 + arecord 0,4 --> ctrl+z and fg on arecord 0,4 --> I/O error

Sorry, I cannot catch the sof error log and normal log at the same time because of the sof-logger bug. So upload the all logs I can catch.

[all_logger.log](https://github.com/thesofproject/sof/files/3723459/all_logger.log)
[dmesg.log](https://github.com/thesofproject/sof/files/3723460/dmesg.log)

[2019-10-14 08:55] dengyangchao commented on #1293
run over 200 times, issue can not reproduce on CFL-S HDA RVP, after applied #1301

[2019-10-14 09:19] Jiangxinx commented on #1308
Can not be reproduced on daily version.

[2019-10-14 09:19] #1308 closed

[2019-10-14 10:25] YvonneYang2 opened #1313 "[SDW][BUG]Sound setting cannot update when unplug/plug-in headset"
**Describe the bug**
Open sound setting cannot activate soundwire PM suspend status. Switch to sound setting input page, can observe the input volume is dynamic, but check soundwire PM status still suspended.

**To Reproduce**
1.boot up without headset
2.wait soundwire pm status to suspend via cat /sys/bus/soundwire/devices/sdw-master-0/power/runtime_status
3.Open sound setting
4.Plug in headset ,

[2019-10-14 10:31] YvonneYang2 commented on #1223
Replaced by https://github.com/thesofproject/sof/issues/1928

[2019-10-14 10:31] #1223 closed

[2019-10-14 11:41] bardliao commented on #1311
@plbossart Please check https://github.com/bardliao/linux/tree/fix/soundwire-suspend-aplay-resume.
[soundwire: intel: stream deprepare on TRIGGER_STOP/SUSPEND/PAUSE_PUSH](https://github.com/plbossart/sound/commit/8d77816781688860cefc8eab68f03b03d61c927c) will change stream status from DISABLED to DEPREPARED which will against the status check of sdw_enable_stream(). So I revert the commit and do d

[2019-10-14 14:05] plbossart commented on #1311
@bardliao thanks for this suggestion.
I don't have strong objections but we need to keep the state machine consistent. With the changes I did, I added this state check:

[code]

With your patch, are we saying that on enable we *have* to be in PREPARED state, and the transition from DISABLED to ENABLED is not allowed?

Or are we just saying that if prepare() is called while the state was DISABLED,

[2019-10-14 14:41] plbossart commented on #1311
@bardliao also the issue with your solution is that it will not work when we transition to the multi-cpu dai solution. I think we need to have a flag that is explicitly set on trigger_suspend, and we test against that in the prepare, without using the stream state.

[2019-10-14 19:16] plbossart commented on #1313
@YvonneYang2 Please try and revisit the bug description. I don't know what 'switch to input page' means.
If you are inserting a headset while the SoundWire master/codec are suspended, then indeed nothing will happen for now. We'd have to wait for the clock-stop mode to be supported, in D3 there is no check detection.

Can you retry while playing back sound?

[2019-10-14 19:18] plbossart commented on #1285
@juimonen I am seeing underflows with the system UI, which doesn't change the verbosity of the error logs, so wondering if you are chasing the wrong issue.

[2019-10-14 19:27] plbossart commented on #1373
@YvonneYang2 can you clarify on which outputs you are playing for headset and speakers?
Traditionally we use the same output at the firmware level, but with this topology we are talking about different PCM and DAIs for headset and speakers.

Also, before you start playing with switching, can you clarify if independently you are able to play on headset and speakers, one at a time?

[2019-10-14 19:40] plbossart commented on #1460
Confirmed on my side even without all the Ctrl-z. As soon as record starts on terminal B, playback stops on terminal A, and I also see an error on terminal B

<details> <summary> terminal A: </summary>

[code]
</details>

<details> <summary> terminal B: </summary>

[code]
</details>

[dmesg_arecord.log](https://github.com/thesofproject/sof/files/3726136/dmesg_arecord.log)

[arecord_logger.txt](htt

[2019-10-14 19:56] plbossart commented on #1460
I double-checked that aplay/arecord work separately, it's when either is started while the other is already streaming that we see IPC issues

<details> <summary> console log: </summary>

[code]
</details>

[dmesg_arecord.log](https://github.com/thesofproject/sof/files/3726206/dmesg_arecord.log)

[icl-logger.txt](https://github.com/thesofproject/sof/files/3726210/icl-logger.txt)

[2019-10-14 20:27] plbossart commented on #1460
Solved for me by https://github.com/thesofproject/sof/pull/1935

@YvonneYang2 please double-check.

[2019-10-14 21:25] juimonen commented on #1285
@plbossart my suspicion is that "paplay -vvvv" does something extra, uses more cpu ticks or something that makes it work correctly. And all "normal" playback through pulseaudio is borked. For me the system ui has the same stuttering as bare "paplay".

Do you mean you actually _see_ some logs with underrun?

Only difference I see with correctly playing paplay to erroneous is that the correctly play

[2019-10-14 22:40] plbossart commented on #1285
@juimonen no I don't see any logs, and I suspect another reason really.

I just ran the Chrome conformance tests and I get a fail.  Instructions at:
https://chromium.googlesource.com/chromiumos/platform/audiotest/+/master/alsa_conformance_test.md

we should try to disable the timer-based scheduling with PulseAudio to see if indeed this is the rate of progress that's borked.

[code]

[2019-10-15 01:37] plbossart commented on #1285
@juimonen if I disable the timer-based scheduling I don't have issues with the system UI

The default.pa "load-module module-udev-detect" does not work well, using "load-module module-udev-detect tsched=0" removes the repeated buffers.

Another possibility is the 3-period shenanigan in the topology file. I don't see any BYT file that was modified, but I don't know if it's required either.

[2019-10-15 01:49] bardliao commented on #1311
@plbossart I think the issue is that the stream status is actually not DISABLED (some configuration are lost) in system suspended (though the stream->status is DISABLED). So, in such case the transition from DISABLED to ENABLED doesn't work. However, in other cases the transition from DISABLED to ENABLED works fine.

[2019-10-15 06:49] mengdonglin commented on #1053
Close this issue because we're using alternative platforms verify the same generation of audio IP.  We'll track audio health after S3 on CML.

[2019-10-15 06:49] #1053 closed

[2019-10-15 08:08] YvonneYang2 commented on #1313
Input page means input source setting page in sound setting.
![1015_1](https://user-images.githubusercontent.com/50347470/66813254-04a36d80-ef67-11e9-8844-7d3629af81bf.jpg)

Yes, but open sound setting cannot activate SoundWire master/codec, that's the problem is. Soundwire PM status is always suspended, so user open sound setting, plug in headset but cannot see it updated in sound setting.

when

[2019-10-15 10:07] slawblauciak commented on #1476
@singalsu hey, mind taking a look at this? In the error log of FW I can see a whole lot of traces indicating, that the DMIC FIFO is full. Any hints what this might point at?

[2019-10-15 10:46] dragosht commented on #1296
@keyonjie I'm also able to reproduce this on my APL board when dumping /sys/kernel/debug/sof/dsp

    root@gr-mrb:/sys/kernel/debug/sof# hexdump dsp
    0000000 0000 0000 0202 0101 0001 0000 0000 0000
    0000010 0000 0000 0000 0000 0000 0000 0000 0000
    *
    0000050 0003

In my case the hang seems to occur here: https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/debug.c#L3

[2019-10-15 11:20] paulstelian97 commented on #1296
I don't see any bounds checks at all, shouldn't there be any? I mean I think only a finite region of memory belongs to the DSP so dumping more than this isn't exactly what I'd say would be a good idea. Having /sys/kernel/debug/sof/dsp be a glorified /dev/mem is probably not the intention here. Also returning exactly how many bytes were requested even if less are available.

(disregard this comment

[2019-10-15 14:05] juimonen commented on #1285
@plbossart ok, good finding. If I put pulseaudio alsa timing debugs on I see that in "bad" case pulseaudio is sleeping 3 periods without writing because snd_pcm_avail gives 0 in then it sleeps almost 300ms and in 4th period it tries to write some 65k (so the total dma buffer). With "good" case pulseaudio sleeps steadily like 50ms and writes some 16k bytes. Pulseaudio also reports that before writi

[2019-10-15 14:45] tlauda commented on #1460
@YvonneYang2 Could you check if master + thesofproject/sof#1935 + thesofproject/sof#1946 + https://github.com/thesofproject/linux/pull/1277 fixes this and other recent SDW issues?

Edit: Actually thesofproject/sof#1935 + linux#1277 should be enough for this particular problem, but thesofproject/sof#1946 improves it even more, due to the steady processing periods. Seems that ALSA has a problem, whe

[2019-10-15 17:58] dragosht commented on #1257
If nobody is currently working on this issue I'd like to investigate it further. I see I can still reproduce the problem on my board with the latest master using a very basic topology.

[2019-10-15 19:16] plbossart commented on #1313
@YvonneYang2 The logs provide ZERO information that helps locate when the 'sound setting' is used.
It seems to be that the issue is that there should be a capture going on to show the input level, but it's not happening. Again please provide usable traces that can clearly be correlated with the bug description.

[2019-10-15 19:16] plbossart commented on #1311
please retest with https://github.com/thesofproject/linux/pull/1320

[2019-10-15 20:49] stripes416 commented on #1293
@kv2019i THANK YOU. Im working on kmod load / unload tests for CI and hitting this exact issue! Teaches me not to check github for issues im facing!

[2019-10-16 06:20] YvonneYang2 commented on #1311
Test it with #1320 on icl 3-in-1 rvp, system boot up with PA on, dmesg shows
[code]
log:
[boot_up_PAon_dmesg.log](https://github.com/thesofproject/linux/files/3732684/boot_up_PAon_dmesg.log)

Aplay 0,0 (RT711)will fail and show the same dmesg logs as above. But aplay0,2/3 (RT1308) can work.
Aplay0,2 --> pause --> s3 --> wake up --> resume --> **fail**   console shows I/O error
logs :
[pause_s3_res

[2019-10-16 07:01] juimonen commented on #1257
@dragosht yes please!

[2019-10-16 07:42] YvonneYang2 commented on #1313
The issue is not relevant to capture. Clarify the issue is that open sound setting cannot activate the PM status. So when end user open sound setting with suspended soundwire pm status, then plug in/unplug headset, it won't update.

Upload the dmesg with my reproduce actions which divide the log like this:
[code]

[dmesg.log](https://github.com/thesofproject/linux/files/3733023/dmesg.log)

[2019-10-16 08:04] YvonneYang2 commented on #1373
Paplay from headset is used for RT711.(aplay 0,0)
Paplay from speakerd is used for RT1308 (aplay0,2)

Yes,  paplay via speaker or headset can work independently. Issue only occurred when paplay then switch source between speaker and headset in sound setting.

[2019-10-16 08:16] juimonen commented on #1373
So probably pulseaudio "legacy" alsa paths don't work with this setup. We need to switch to ucm for this platform and see if that can work better...

[2019-10-16 08:43] YvonneYang2 commented on #1460
Only test it with master + thesofproject/sof#1935 +  https://github.com/thesofproject/linux/pull/1277 since has conflicts when merge thesofproject/sof#1946. Issue cannot reproduce on icl 3-in1 rvp.

[2019-10-16 08:45] Bin-QA commented on #925
Environment
Firmware: c8bc4b2 https://github.com/thesofproject/sof/commits/tgl-002-drop-stable
Kernel: intel-next kernel, tag intel-5.4-rc2-2019-10-10, commit id: fc2de5669533
tplg: sof-hda-generic.m4
platform: TGL with onbaoard ALC711 in HD-A mode.

[2019-10-16 09:02] YvonneYang2 commented on #1373
Only test it with master + thesofproject/sof#1935 + thesofproject/linux#1277 since has conflicts when merge thesofproject/sof#1946. Issue cannot reproduce on icl 3-in1 rvp.

[2019-10-16 14:45] Bin-QA opened #1326 "[TGL][HDMI] i915 Call trace after resume from S3 which blocks the HDMI audio"
Describe the bug
After S3, i915 will report call trace and block HDMI audio playback.
**SOF-HDA/Legend-HDA** also has this problem.

To Reproduce
1. Connect the HDMI monitor via the micro HDMI connector.
2. Open one terminal and run "aplay -D hw:0,4 -f dat 48California_Dreaming.wav"
3. Then open another terminal and run "sudo -S rtcwake -m mem -s 10"

Reproduction Rate
100%

Expected behavior
HDMI

[2019-10-16 17:14] plbossart commented on #1311
Thanks @YvonneYang2

The trace below essentially tells us we are trying to deprepare a PREPARED stream.

[code]
That's not currently allowed by the state machine, but it should be as discussed with @bardliao. I guess this happens with PulseAudio trying to open the device and set the hw_params, then close the devices without ever triggering.

I will fix this, this is a nice bug :-)

[2019-10-16 17:18] ranj063 commented on #1311
@plbossart pulse audio also tries to open and close device without setting the hw_params too.

[2019-10-16 20:29] plbossart opened #1328 "[SDW] cannot restart playback after suspend while in pause"
Using the -i flag to play with the PUSH_PAUSE/PUSH_RELEASE trigger works fine with SoundWire with the latest PRs

If we use rtcwake to force a system suspend while in pause, then we have errors on restart

[code]

This is reproducible 100% of the time, so likely a bad state machine transition.

[2019-10-16 20:46] ranj063 commented on #1328
@plbossart we fixed the same issue with HDA with this commit bf705eaa7ce07f9c132f8e367fc2fc46b7842528

The fix for SDW might be similar.

[2019-10-16 20:57] plbossart commented on #1328
Thanks @ranj063 I knew this issue sounded familiar.
I don't fully get the statement "paused streams do not get suspended", does this mean the TRIGGER_SUSPEND is not sent if a TRIGGER_PUSH_PAUSE was already sent? is this a feature from the framework or a bug on the SOF side?

Also I am not sure what the moral equivalent this HDaudio fix would be for SoundWire. And actually we do use the same GDMA a

[2019-10-16 21:08] ranj063 commented on #1328
Yes, this is from the framework. If the stream is not running, it isnt suspended and so no TRIGGER_SUSPEND is sent.

[2019-10-16 21:11] ranj063 commented on #1328
The action we take to fix is in the BE. The problem with HDAudio was that the stream tag is retained for paused streams coming back from suspend when in fact it should be a new stream tag. So the fix basically suggests to clear the stream tag for all streams before suspending.

My wild guess knowing not much about SDW state machine is that the moral equivalent of this would be deprepare all stream

[2019-10-16 21:22] juimonen commented on #1285
@plbossart so what happens here is that pulseaudio timer scheduling waits until last moment to fill the buffer (which is the mmapped dma buffer between user space, kernel and dsp). Now timer scheduling disables the alsa period_elapsed calls and I think we are not in any way tracking dma writes/reads between kernel and dsp. So dsp period sized transfer is just happily running while pulseaudio is co

[2019-10-16 22:14] plbossart commented on #1328
so what is the DSP state for this PCM device at this point?
On a resume, we re-prepare and reinitialize everything, but I guess we don't put the PCM device is the same state as it was before suspend.

[2019-10-16 22:18] plbossart commented on #1285
well if the position is only valid at the period_elapsed, then we should use the INFO_BATCH to make pulseaudio work. If we don't then we lie and PulseAudio will not work at all. Ironically we had this issue on Moorestown 10 years ago...

However, we do have timestamp information in the shared SRAM/memory windows so we *could* get a better time estimate than at every IPC.

I guess @keyonjie and @lg

[2019-10-16 22:26] ranj063 commented on #1328
Im not sure of the state names for PCM devices, but as far as the DSP is concerned the PCM is not even started because it has just woken up from D3.

[2019-10-16 22:31] #941 closed

[2019-10-17 03:23] YvonneYang2 opened #1329 "[SDW][BUG] I/O error occurred when stop/restart, pause/release or switch to foreground from background."
**Describe the bug**
I/O error occurred when push_pause arecord/aplay then push_release.
I/O error occurred when stop arecord/aplay then restart.
I/O error occurred when switch to foreground from background.
It seems related to https://github.com/thesofproject/sof/issues/1925#issuecomment-542249084 since #1935 and #1946 have been merged into master while https://github.com/thesofproject/linux/pull

[2019-10-17 08:09] YvonneYang2 commented on #1373
Test it with latest integration/soundwire-latest(commit :0ebe10b) and master branch(commit: 0d54df1d),   thesofproject/sof#1395 and thesofproject/sof#1946 have merged while thesofproject/linux#1277 has not yet. But issue not reproduced. Close the bug.

[2019-10-17 08:40] YvonneYang2 opened #1330 "[SDW][BUG]Paplay is still running but no sound output after waking up from s3."
**Describe the bug**
Paplay is still running but no sound output after wake up from s3.

**To Reproduce**
1.paplay via command "paplay wav/48California_Dreaming.wav -vvvv"
2.do s3 via command "sudo rtcwake -m mem -s 10"

**frequency**
100%

**Expected result**
Paplay should output normally after waking up from s3

**Actual result**
Console shows paplay is still running, but no sound output after w

[2019-10-17 08:43] mengdonglin commented on #1170
Closed since we cannot reproduce this issue for either HD-A or I2S backends with the kernel recipe:
- I2S:  https://github.com/thesofproject/linux/commits/integration/soundwire-latest commit 0ebe10b
- HD-A: intel-next kernel, tag intel-5.4-rc2-2019-10-10, commit  fc2de56

[2019-10-17 08:43] #1170 closed

[2019-10-17 08:50] dengyangchao commented on #1330
issue also reproduce on CML RVP with codec ALC700 in SDW mode

<details>
 <summary>logger_error</summary>

[code]
</details>

[2019-10-17 09:11] keqiaozhang opened #1331 "[HDA] Pop noise when starting/stopping HDA analog playback"
***Describe the bug***
This issue happens when starting/stopping playback, this is more like a codec driver issue.

***To reproduce***
1. aplay -Dhw:0,0 -f dat -c 2 test.wav

***Expected behavior***
no pop noise when starting/stopping playback.

***Impact***
Pop noise

***Test env***
Firmware: c8bc4b2 https://github.com/thesofproject/sof/commits/tgl-002-drop-stable
Kernel: intel-next kernel, tag i

[2019-10-17 09:36] keqiaozhang opened #1332 "[TGL] HDA playback has 1~2s latency"
**Describe the bug**
There're 1~2s latency when doing the audio playback. this issue happens on both HDA analog and HDMI playback.

**To Reproduce**
1) run audio playback on HDA analog: aplay -Dhw:0,0 -f dat -c 2 test.wav
2) run audio playback on HDMI(micro HDMI): aplay -Dhw:0,4 -f dat -c 2 test.wav

**Reproduction Rate**
100%

**Expected behavior**
playback latency should less than 0.5s.

**Impac

[2019-10-17 09:47] ClarexZhou opened #1333 "[Bug][TGL][SDW] Can't hear audio output when aplay via headset in first time."
**Describe the bug**
Can't heart audio output when aplay via headset in first time. And can hear audio output normally if release first one and trigger again.

Might i915 related. Error only reproduced if unit system boot up without eDP display. Error can't be reproduced if system boot up with eDP display connected.

**To Reproduce**
1. Headset is connected
2. Do system reboot via "sudo reboot"
3.

[2019-10-17 10:07] ClarexZhou commented on #1333
Once this issue occurred, arecord via headset always can't capture any audio.
[code]
[dmesg_arecord.txt](https://github.com/thesofproject/linux/files/3738615/dmesg_arecord.txt)

[2019-10-17 10:32] YvonneYang2 commented on #1330
replaced by #1311

[2019-10-17 10:32] #1330 closed

[2019-10-17 11:41] tlauda commented on #1476
@ClarexZhou @YvonneYang2 Can it still be reproduced with master + linux#1277?

[2019-10-17 15:10] plbossart commented on #1332
@keqiaozhang what is this kernel and does it have the fixes for the sync_writes that are in topic/sof-dev?

[2019-10-17 15:12] plbossart commented on #1331
@keqiaozhang again why are we using intel-next instead of topic/sof-dev? You should be able to test HDaudio functionality without other dependencies we don't care about.

[2019-10-17 15:15] plbossart commented on #1329
works for me with kernel https://github.com/thesofproject/linux/commit/0ebe10b38e4c70a9c8f52994725aa84f1769775d with PR https://github.com/thesofproject/linux/pull/1327 on top

the only thing that doesn't work is doing a system suspend with rtcwake while in paused mode, and that's tracked by https://github.com/thesofproject/linux/issues/1328

Please retest with PR #1327, thanks!

[2019-10-17 17:52] plbossart commented on #1296
there's definitively a size that's used for initialization of debugfs items, so either
a) the checks are not correct or
b) the sizes are incorrect in the first place.

[2019-10-17 17:56] wenqingfu commented on #1184
From last several days' testing, the GLK issue can now be confirmed as a device setup issue.

I think this issue can be closed, but leave to @kv2019i for confirm and close

[2019-10-17 20:43] plbossart commented on #1328
Additional traces show we are getting a TRIGGER_START on resume, even though the stream was paused, and we are not getting a TRIGGER_PAUSE_RELEASE.

Something's broken here. not sure why we get the start, or should we interpret the TRIGGER_START as just a means to restore the state in PAUSE?

[dmesg_pause.log](https://github.com/thesofproject/linux/files/3741242/dmesg_pause.log)

[2019-10-17 22:30] plbossart commented on #1328
After an afternoon of debug, I am nearly convinced there is no bug, and the nasty messages on the console are a feature - not an SOF bug. When using a long file, the playback does not exit as I suspected but does go on after the PAUSE_RELEASE - it was a coincidence due to the short files I was using.

With the traces added to https://github.com/plbossart/sound/tree/fix/pause-suspend, I was able to

[2019-10-18 01:18] bardliao commented on #1311
Yeah, so prepare <-> deprepare should be a valid transfer :)

[2019-10-18 01:56] mengdonglin commented on #1326
Will sync with i915 team

[2019-10-18 02:31] YvonneYang2 commented on #1303
Issue not reproduced with integration/soundwire-latest(commit :d88ee7d )+ PR1327, and master (commit:81cc31b) on icl 3-in-1 rvp and icl rt700 rvp.

[2019-10-18 02:38] YvonneYang2 commented on #1329
Issue can still reproduce with latest kernel d88ee7d + PR #1327 on top. But after applying PR #1277 , issue is gone.

[2019-10-18 03:09] dengyangchao commented on #1311
issue still can reproduce on  CML RVP with codec ALC700 in SDW mode
reproduce rate from 100% to 40% (2/5)
scenario: aplay 0,0(or arecord)-->s3/s2 -->wake up --> I/O error

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest   d88ee7d + PR1327
sof:  https://github.com/thesofproject/sof/commits/master     81cc31b

[2019-10-18 03:13] plbossart commented on #1311
can you please share logs @dengyangchao ? It's impossible to follow-up without dmesg traces...

[2019-10-18 04:12] dengyangchao commented on #1311
run a stress test and reproduce it at 1/33
<details>
 <summary>Dmesg</summary>

[code]
</details>

[s3_test_33_logger_all.log](https://github.com/thesofproject/linux/files/3742275/s3_test_33_logger_all.log)
[test_33.log](https://github.com/thesofproject/linux/files/3742276/test_33.log)

[2019-10-18 06:44] keqiaozhang commented on #1331
@plbossart
i915 is not ready on sof-dev, but we need to test HDMI for TGL, so we chose intel-next for the release branch.

[2019-10-18 06:49] keqiaozhang commented on #1332
@plbossart
We are using intel-next kernel branch for testing.
@xiulipan
Please help to confirm if intel-next has the fixes for sync_writes. Thanks!

[2019-10-18 07:30] juimonen commented on #1285
https://github.com/orgs/thesofproject/teams/sof-developers/discussions/25

[2019-10-18 07:39] bardliao commented on #1328
@plbossart I checked it with legacy HDA driver and it has the same behavior. So it is not an SOF bug.

[2019-10-18 09:18] YvonneYang2 commented on #1476
ipc timed out for 0x80010000 size 120 occurred at multipipline stress test 70th times with latest kernel(commit:  d88ee7d) + linux PR thesofproject/sof#1227 and master(commit: 81cc31b).

Run with command:  sudo ./multiplex_pipeline-test.sh pcm0p pcm2p pcm5c pcm1c pcm4c"
dmesg:
[code]
[multipipeline_test_70_error_logger.log](https://github.com/thesofproject/sof/files/3743168/multipipeline_test_70_e

[2019-10-18 09:42] bardliao commented on #1311
Looks like it is a different issue. Would it be better to create a new issue for it?

[2019-10-18 11:30] plbossart commented on #1331
On 10/18/19 1:44 AM, Keqiao Zhang wrote:

If you report a bug on HDaudio, you should be testing with topic/sof-dev.

[2019-10-18 11:37] plbossart commented on #1311
On 10/18/19 4:43 AM, Bard Liao wrote:

yes, i've seen a couple of errors like this related to the Realtek codec
trying to sync registers on resume. I don't think the race condition is
fully resolved. please open a new issue.

[2019-10-18 11:59] #1257 closed

[2019-10-18 12:02] plbossart commented on #1328
thanks @bardliao let's close then

[2019-10-18 12:02] #1328 closed

[2019-10-18 14:06] plbossart opened #1339 "[INTEL] Remove support for INFO_PAUSE"
Tracking this topic as an 'enhancement'

https://github.com/thesofproject/linux/pull/1336 introduces platform-specific INFO flags
The next logical steps is to revisit support for INFO_PAUSE.

Facts:

1. PulseAudio and CRAS do not use PAUSE_PUSH/PAUSE_RELEASE
2. The implicit assumption is that on PAUSE_RELEASE playback should restart from the exact position reached when PAUSE_PUSH was signaled. Non

[2019-10-21 03:45] YvonneYang2 opened #1340 "[SDW][BUG]Arecord0,4(RTC715) capture empty audio after waking up from s3"
**Describe the bug**
Arecord0,4(RTC715) capture empty audio after waking up from s3.  Terminate it and restart arecord  can recover the issue.

**To Reproduce**
1.Arecord 0,4 via "arecord -Dhw:0,4 -f s16_le -r 48000 -c 2  test2.wav -vv -i"
2.do s3 via command "sudo rtcwake -m mem -s 10"

**frequency**
100%

**Expected result**
RT715 capture empty audio after waking up from s3

**Actual result**
RT

[2019-10-21 03:52] YvonneYang2 commented on #1311
Original issue is not reproduced with test recipe as below.  One new issue after #1327 merged will be tracked in https://github.com/thesofproject/linux/issues/1340

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 29debf8
FW: https://github.com/thesofproject/sof/commits/master  commit: 3d5d314
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg

[2019-10-21 06:34] YvonneYang2 opened #1341 "[SDW][BUG]Sound setting always shows all devices even unplug HDMI/DP external port."
**Describe the bug**
HDMI/DP device shouldn't show up in sound setting when they are not connected.

**To Reproduce**
1.Make sure HDMI/DP external port is not connected.
2.Open sound setting

**frequency**
100%

**Expected result**
HDMI/DP devices in sound setting shouldn't show up when HDMI/DP external port is not connected

**Actual result**
All HDMI/DP devices are showed up in sound setting

**

[2019-10-21 07:56] Bin-QA opened #1342 "[BUG][GLK][DA7219] Do playback and capture at same time pause/stop catch pop noise in headset"
# Describe the bug
Do playback and capture using same device at same time pause/stop at aplay catch pop noise in headset

# To Reproduce
Playback via headset (device 0,1) and Capture via headset (device 0,1) simultaneously.
1. In terminal to run "aplay -D hw:0,1 -f dat 48California_Dreaming.wav"
2. In other terminal to run "arecord -Dhw:0,1 -f dat -vv -i test.wav"

At "aplay" terminal pause/resume

[2019-10-21 09:23] YvonneYang2 commented on #1460
Test it with latest master (#1935 and thesofproject/sof#1946 have been merged) and integration/soundwire-latest (29debf8) + PR1277, issue hasn't been all fixed.
Aplay 0,0 +Arecord 0,1 --> background and foreground on arecord 0,1 --> I/O error

Logs:
[logger.log](https://github.com/thesofproject/sof/files/3749945/logger.log)
[dmesg.log](https://github.com/thesofproject/sof/files/3749946/dmesg.log)

[2019-10-21 09:37] sinahuang opened #1344 "[BUG][SDW]Headset aplay with suspend & resume stress test output "Program params failed: -61" error."
**Describe the bug**
Headset aplay with suspend & resume stress test output "Program params failed: -61"  error.

**To Reproduce:**
run command: aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 50 1 1

**frequency**
first try reproduce at 15th.
second try reproduce at first time.
third try reproduce at 8th.

**Expected result:**
No error should output during headset suspend & re

[2019-10-21 10:30] YvonneYang2 opened #1345 "[BUG][SDW]Input volume in sound setting stuck in level 1 status and parecord audio is not correct after switch source from Digital Micrphone to headset."
**Describe the bug**
Switch source from headset and Digital Micrphone in sound setting, parecord cannot work normally. Input volume in sound setting stuck in level 1 status and parecord audio is not correct.

**To Reproduce**
1.Boot up with headset.
2.Open sound setting and swtich input source from headset to Micrphone.
3.Wait 15s then switch back to headset
4.Repeat steps 2/3 till issue reproduce

[2019-10-21 10:38] YvonneYang2 commented on #1311
Close for not reproduced and track new behavior in #1344

[2019-10-21 10:38] #1311 closed

[2019-10-21 10:39] sinahuang commented on #1344
this is split from bug #1311

[2019-10-21 11:12] plbossart commented on #1342
@Bin-QA you added 4 scenarios but it's very hard to figure out which ones work and which ones don't. please clarify when the issue is seen?

[2019-10-21 14:04] slawblauciak commented on #1476
I tried to reproduce it on ICL RVP (FW master 0234df5, linux 29debf8 + PR thesofproject/sof#1277).
I get completely different results however:

[dmesg.log](https://github.com/thesofproject/sof/files/3751204/dmesg.log)
[test.log](https://github.com/thesofproject/sof/files/3751205/test.log)

I will try again using the same exact recipe, and then later on CML RVP when I get one.

[2019-10-21 15:53] #1160 closed

[2019-10-22 00:25] Bin-QA commented on #1342
Also verify for those Scenario which **couldn't reproduce** this bug:
1. Just headset to play audio with pause/resume operation without pop noise
2. headset to play audio & dmic to capture with pause/resume operation on playback without pop noise
3. speaker to play audio & headset to capture with pause/resume operation on playback without pop noise

So confirm this bug base on the **headset** to *

[2019-10-22 06:43] YvonneYang2 commented on #1344
Issue can also reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

[2019-10-22 07:54] Bin-QA commented on #1342
Reproduce this issue for daily test

This Scenario **couldn't reproduce** this bug:
1. In terminal to run "aplay -D hw:0,1 -f dat 48California_Dreaming.wav"
2. In other terminal to run "arecord -Dhw:0,1 -f  dat -vv -i test.wav"
3. Close "arecord"
pause & resume "aplay"

# Test Environment
|  Name | branch  | commit  |
|---|---|---|
|  kerenl  | [sof-dev](https://github.com/thesofproject/linux/comm

[2019-10-22 09:38] RanderWang commented on #1373
I can reproduce it on CML with SDW 711 + 1308 + 715
linux: https://github.com/bardliao/linux/tree/topic/soundwire-beta-rc1 commit fdddebc
topology & FW: https://github.com/bardliao/sof/tree/soundwire-tplg commit b35bbed

[2019-10-22 09:53] RanderWang commented on #1373
I will debug it on my CML

[2019-10-22 09:54] slawblauciak commented on #1476
I can't seem to be able to find the right kernel commit with the d88ee7d hash, can you please provide the full hash?

[2019-10-22 10:31] YvonneYang2 commented on #1476
@slawblauciak
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest
commit: d88ee7dc5c42c2f3a645fe6e23d9d754e9ea5842

[2019-10-22 11:37] slawblauciak commented on #1476
Hmm, I can't fetch that commit, it might no longer exist on the remote branch. Somebody might've force-pushed or something.

[2019-10-23 01:33] YvonneYang2 commented on #1303
Close the bug since not reproduce anymore.

[2019-10-23 01:33] #1303 closed

[2019-10-23 02:09] ClarexZhou commented on #1309
@plbossart  should this be close now?

[2019-10-23 04:07] xiulipan commented on #1332
@plbossart @keqiaozhang Will check and try to add the patch in.

[2019-10-23 08:08] dengyangchao commented on #1333
observed one change
when aplay via headset in the first times it can heard the output audio now, and other issue still exist

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 7c85d69
FW: https://github.com/thesofproject/sof/commits/master commit: 8b059f6
tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt7

[2019-10-23 08:56] YvonneYang2 commented on #1460
Check it with test recipe as below (linux#1277 has been merged) , below scenario can still reproduce the issue.

Aplay 0,0 +Arecord 0,1 --> background and foreground on aplay 0,0 --> I/O error

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 7c85d69
FW: https://github.com/thesofproject/sof/commits/master  commit: 8b059f6
tplg: Same with FW bran

[2019-10-23 09:34] slawblauciak commented on #1460
Reproduced on ICL RVP with RT700

When doing fg I'm noticing a bunch of
"[ 1408.960476] rt700 sdw:0:25d:700:0:0: Bus clash error detected" errors happening in the kernel.
What is that?

Are you aware of this, @plbossart ?

[2019-10-23 09:55] YvonneYang2 commented on #1313
Issue still can be reproduced as below steps.  Amixer contents value will not changed when unplug HDMI/DP external port.  When issue reproduced, unplug/plug in HDMI/DP, dmesg wouldn't update.
If test with DP, need set DP port in alsamixer (pin10 port0 cvt3)manually first.

Steps:
1. Boot up with HDMI or DP external port
2. Check via "amixer contents | less"
[code]
3.  Wait about 1 minute, then unp

[2019-10-23 10:00] YvonneYang2 commented on #1341
Need set DP port in alsamixer (pin10 port0 cvt3)manually first, then issue not reproduced with test recipe as below.  Other related issue will track in #1313

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 7c85d69
FW: https://github.com/thesofproject/sof/commits/master  commit: 8b059f6
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi

[2019-10-23 10:18] YvonneYang2 commented on #1373
Issue reproduced with test recipe as below ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Test steps:
1. Paplay via headset/HDMI/DP
2. Check amixer cget numid=37 and 38: value is on.
3. Wait for 1 minute, switch source to speaker in sound setting.

After step3, speaker cannot output sound while paplay shows still running. Check the amixer cget  cget numid=37 and 38 again , the value turne

[2019-10-23 10:22] YvonneYang2 commented on #1329
Issue cannot reprocue on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode with test recipe as below.

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 7c85d69
FW: https://github.com/thesofproject/sof/commits/master  commit: 8b059f6
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg  rename  to  sof-icl-rt711-rt1308-rt715.tplg
platform: ICL

[2019-10-23 10:39] #1341 closed

[2019-10-23 11:03] #1329 closed

[2019-10-23 16:00] plbossart commented on #1309
Thanks for the reminder @ClarexZhou, yes this is no longer an issue I think. Let's close for now

[2019-10-23 16:00] #1309 closed

[2019-10-23 16:14] plbossart commented on #1460
Y

Yes, I don't know what those are. Bus clash and parity errors are reported by Realtek devices, this means that either they drive a zero while the master drives a one, or that the parity they see is different from what the master observes.

This could come from a bad electrical connection or connectors that make the signal flaky. or a hardware bug on the Realtek side.

I believe those errors are

[2019-10-23 16:16] plbossart commented on #1313
@YvonneYang2 your bug description has nothing to do with headsets, this is an HDMI bug?
Also @bardliao added a change to report the jacks, so please double-check.

[2019-10-24 02:13] bardliao commented on #1313
@YvonneYang2 Is this related to this issue? Please file another issue if you find something wrong on HDMI plug/unplug status.

[2019-10-24 02:13] YvonneYang2 commented on #1344
Issue reproduced on CML RVP with codec ALC700 in SDW mode.

Failed at 38th time.

Logs:
[s3_test_38_logger_all.log](https://github.com/thesofproject/linux/files/3765363/s3_test_38_logger_all.log)
[test_38.log](https://github.com/thesofproject/linux/files/3765364/test_38.log)

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 7c85d69
FW: https://g

[2019-10-24 02:34] bardliao commented on #1313
@plbossart Let me describe the issue :)
@YvonneYang2 want to check headphone plug/unplug status by ubuntu sound setting page. Ideally, we won't see Headphone on the Output device selection. However, the headphone option is still there while headphone is unplugged. I told her we don't support codec interrupt in runtime suspended. So she check the runtime_status of sdw-master-0, but it is suspended

[2019-10-24 02:40] dengyangchao commented on #1344
issue also reproduced on TGL RVP with codec ACL711, ALC1308 in SDW mode

Failed at 6th time

log:
[s3_test_6_logger_all.log](https://github.com/thesofproject/linux/files/3765432/s3_test_6_logger_all.log)
[test_6.log](https://github.com/thesofproject/linux/files/3765433/test_6.log)

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8
FW: htt

[2019-10-24 02:54] bardliao commented on #1460
Actually, I saw this when I removed the power supply of the 3-in-1 test card by accident.

[2019-10-24 05:34] RanderWang opened #1361 "[BUG] PM status is active for SDW master with non-existence SDW device"
On Comet-lake with 3 SDW codecs, rt715 on link0, rt1308 on link1, rt715 on link3 and no device on link2. After rebooting, SDW2 master on link2 is always active, and this makes SOF always active.

The expect behavior is if there is one link without any devices, their pm_runtime status should be marked as ‘Unsupported’, and that should not prevent the system from going to sleep nor should it have an

[2019-10-24 06:00] sinahuang commented on #1476
issue still reproduce when run " ./multiplex_pipeline-test.sh pcm0p pcm2p pcm6p pcm4c"
,failed info occurs from 267th time.
[267th IPC time out log.zip](https://github.com/thesofproject/sof/files/3765983/267th.IPC.time.out.log.zip)

besides during test, dmesg starts to show error info "error: iteration 0 of Core En/ROM load failed: -110"   from 113th time.

[113th failed error log.zip](https://git

[2019-10-24 06:09] RanderWang commented on #1373
fixed by https://github.com/bardliao/linux/pull/3

[2019-10-24 07:09] slawblauciak commented on #1460
@plbossart I just can't help but wonder whether those could cause some extra latency in data transfers, enough for an underrun to occur.

Frankly, given the same exact situation on our side, I doubt it's a problem with electrical connections, unless it's just a coincidence that we're getting the same kind of behavior.

[2019-10-24 07:13] sathyap-chrome opened #1363 "[CML] suspend failure with unexpected fault : 0x00000150"
On 1 of the customer platfroms of CML, doing suspend resume while doing playback results in the below errors:

2019-10-21T12:59:31.280018-04:00 ERR kernel: [ 2886.479205] sof-audio-pci 0000:00:1f.3: error: firmware boot failure
2019-10-21T12:59:31.280029-04:00 ERR kernel: [ 2886.479220] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005
2019-10-21T12:59:31.280030-04:00 ERR kernel: [ 28

[2019-10-24 07:14] sathyap-chrome commented on #1363
We'll reach out to customer and customer support team to get repro steps to repro locally and share additional logs

[2019-10-24 07:59] YvonneYang2 commented on #1373
Issue cannot reproduce on CML laptop.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8 + PR1359
FW: https://github.com/thesofproject/sof/commits/master  commit: f277189
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-10-24 08:00] ClarexZhou commented on #1476
@slawblauciak  Previous reproduced kernel already contains PR#1277. kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8

[2019-10-24 08:18] YvonneYang2 commented on #1340
Issue cannot reproduce on CML SDW Laptop with ALC711+ ALC1308+ ALC715

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8 + PR1359
FW: https://github.com/thesofproject/sof/commits/master commit: f277189
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-10-24 08:21] YvonneYang2 commented on #1460
Issue still can reproduce on CML SDW Laptop with ALC711+ ALC1308+ ALC715 .

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8 + PR1359
FW: https://github.com/thesofproject/sof/commits/master  commit: f277189
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-10-24 08:37] dengyangchao commented on #1460
issue also can reproduce on TGL RVP with codec ACL711, ALC1308 in SDW mode

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8
FW: https://github.com/thesofproject/sof/commits/master commit: f277189
TPLG: Same with TGL FW branch commit:  sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg

[dmesg.log](https://github.com/thesofproject/s

[2019-10-24 09:41] RanderWang commented on #1361
@plbossart I checked the device. there are two device nodes under SDW master-2. Their pm status are Unsupported. But for master-2, the pm status is active. to make master-2 to sleep, we need to call pm_request_idle(https://github.com/RanderWang/linux/commit/42eb0aaeb09cc6733cb0ac44448137634c4aa593). Although we invoke many PM functions at https://github.com/RanderWang/linux/blob/42eb0aaeb09cc6733c

[2019-10-24 10:16] YvonneYang2 commented on #1345
Issue not reproduced on CML Laptop with ALC711+ ALC1308+ ALC715.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8 + PR1359
FW: https://github.com/thesofproject/sof/commits/master  commit: f277189
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-10-24 10:21] sinahuang opened #1364 "[BUG]Can't detect HDMI/DP unplug status when unplug HDMI/DP external port during suspending."
**Describe the bug**
Can't detect HDMI unplug status when unplug HDMI external port during suspending.

**To Reproduce**
1.boot up with HDMI external port
2.run"amixer contents | less" and check the HDMI status.
3.run "sudo rtcwake -m mem -s 10" then unplug HDMI during suspending.
4.run"amixer contents | less" and check the HDMI status after waking from suspending.

**frequency**
100%

**Expected

[2019-10-24 10:22] YvonneYang2 commented on #1364
Issue can be reproduced on CML SDW Laptop with ALC711+ ALC1308+ ALC715 .

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 15f27d8 + PR1359
FW: https://github.com/thesofproject/sof/commits/master  commit: f277189
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-10-24 10:37] YvonneYang2 commented on #1313
Yes. Thanks Bard. That's what I want to express.
I rechecked it again with updated UCM,  when issue reproduced which means the headphone option is still there while headphone is unplugged,  capture cannot work.

The https://github.com/thesofproject/linux/issues/1313#issuecomment-545365762 is not related with the original issue. So split it to https://github.com/thesofproject/linux/issues/1364

[2019-10-24 13:20] plbossart commented on #1344
Seems like a problem with the codec trying to write registers before we complete the enumeration

[code]

@bardliao can you look into this with @shumingfan?

[2019-10-24 13:36] plbossart commented on #1460
the master does not detect errors, that's the odd part. If the master complained yes I would be very worried.

In general the bus clash and parity result in a command NAK, they can't really impact audio. what will impact audio is if the slave loses sync, and this point we redo the enumeration and there will be an underrun.

[2019-10-24 13:51] plbossart commented on #1361
ok, this may be a configuration we didn't test.
Are you saying there are 4 links active? or is link2 marked as hw_disabled? what happens if you force the hw_disabled flag (with a quirk)?

I am not sure if calling pm_runtime_idle() is a generic solution. If for some reason a codec only reports on the bus say 20s after boot, then the master will already be in suspended mode.

This may be an optional

[2019-10-24 15:58] kv2019i opened #1367 "SOF probe fails to invalid HDA codec mask of 0x7"
An issue has been detected both by data gathered by @wenqingfu from WW42-43 CI failures, and from manual test round of #1155 by validation team (@ClarexZhou) where following kernel signature is found in dmesg:

[    4.475548 <    0.000350>] sof-audio-pci 0000:00:1f.3: codec_mask = 0x7

This is a fatal problem for current driver. When the non-existant codec is probed, the action will fail and whole

[2019-10-24 15:59] kv2019i commented on #1128
I'll close this now with multiple issues fixed in SOF and i915 drivers. Let's track remaining issues in separate, more specific bugs. One open issues is the "codec_mask=0x7" problem:
https://github.com/thesofproject/linux/issues/1367

[2019-10-24 15:59] #1128 closed

[2019-10-24 16:01] ranj063 commented on #1367
@kv2019i just wondering if the codec probe fails because it doesnt exist, can we not ignore the failure and continue with the rest?

Or is the problem that the codec mask is wrong in the first place?