[2020-07-09 23:42] plbossart commented on #2211
There's probably more to it, now if I look at /var/lib/dpkg/status, I see this:

Version: 1.2.3.2-4-g877bdf95
Config-Version: 1.2.2-2.1ubuntu1

Gah.

[2020-07-10 00:05] plbossart commented on #2211
sudo apt install <package>=<version> was the trick to revert my installs to the default ubuntu.

sudo debi still has problems, but running it twice did the trick...

[2020-07-10 00:37] marc-hb commented on #2211
I think you may have had multiple and conflicting `../liba*.deb` files, I experienced something similar.

I just forced pushed this branch  with two changes:
- a sanity check for pre-existing `../liba*.deb` files
- the results of your `dch --newversion v1.2.3.2-sof1` command

`git clone -b upstream+debian  https://github.com/marc-hb/alsa-lib.git && cd alsa-lib && ./debuild.sh`

Third time's a char

[2020-07-10 03:01] RanderWang commented on #2261
I checked idsp codec is not enabled

dai_name = intel-hdmi-hifi0 and no such dai in sound card.  I checked hdmi in sof_sdw.  you added check
[code]
How about apply the idea to hda machine driver to skip creating hdmi pcm in this case ?

[2020-07-10 09:18] Liviali155 opened #2266 "[BUG][Codec 98373-sdw]Runtime_status is always active if"

[2020-07-10 09:28] Liviali155 opened #2267 "[BUG][TGL]"runtime_status" is always active if aplay&arecord stop at the same time when check dsm"
**Describe the bug**
"runtime_status" is always active if aplay&arecord stop at the same time when check dsm
amixer cget numid=122&amixer cget numid=123,the value is on
Reboot can  not recovery

**To Reproduce**
1."sudo reboot" to reboot
2.aplay -Dhw:0,2 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 5 & arecord -Dhw:0,3 -f s32_le -c 4 -r 48000 capture.wav -d 5     (the time -d of

[2020-07-10 09:37] kv2019i commented on #2261
@RanderWang Ok, interesting. It seems we have a regression in the HDA driver for this. I'm investigating what has happened.

[2020-07-10 10:13] askmish opened #2272 "[BUG] [TGL] Audio routes to onboard 3.5mm jack instead of HDMI after suspend/resume"
**Describe the bug**
 Audio routes to onboard 3.5mm jack instead of HDMI after suspend/resume

**To Reproduce**
Steps to reproduce the behavior:
1. Open browser and play some music on HDMI monitor speakers
2. Suspend via gui controls/commandline
3. Resume by pressing key in USB keyboard/or any wake event
4. Audio will now route to onboard 3.5mm jack, instead of previously selected HDMI speakers

*

[2020-07-10 11:06] kv2019i commented on #2261
Ok, this is a regression in 5.8-rc :( ... I'm now bisecting what happened.

[2020-07-10 14:43] plbossart commented on #2272
@askmish it's unlikely to be an SOF issue proper, more a UCM/PulseAudio one. There are in-flight patches to correct these routing issues but they are not in distros just yet.

[2020-07-10 19:39] kv2019i commented on #2261
Found it, it's this patch in 5.8-rc that breaks current HDA generic driver when i915 init fails:

cbc7a6b5a87a129084c643455d16699ea490fd2f
ASoC: soc-card: add snd_soc_card_add_dai_link()

... I'll make a fix on Monday.

[2020-07-12 17:26] naveen-manohar commented on #2230
Based on all the experiments, Conclude that this isn't a hardware or codec related issue.

Chrome Kernel missed config that was impacting TRS Jack-Type detection, have fixed this wrt Kernel & UCM and submitted patch to Customer..

Closing this issue.. Thanks all for the debug inputs & support.

[2020-07-12 17:26] #2230 closed

[2020-07-13 01:08] Liviali155 commented on #2267
@RanderWang please help to check

[2020-07-13 01:49] Liviali155 commented on #2266
closed for type error

[2020-07-13 01:49] #2266 closed

[2020-07-13 03:31] ClarexZhou commented on #2267
Error seen on sdw-5682-max98373,  error not seen on i2s-5682-max98373

[2020-07-13 08:17] Liviali155 commented on #2250
After update alsalib ,ucm2 can work on HDA and ADW

[2020-07-13 08:18] #2250 closed

[2020-07-14 06:44] ClarexZhou commented on #2261
SOF can be loaded with this patch #2270 after workarround https://github.com/thesofproject/sof/issues/3173

[2020-07-14 08:55] ClarexZhou opened #2274 "[Bug][RKL] Runtime PM keeps active when in idle"
**Describe the bug**
Runtime PM keeps active

**To Reproduce**
1.
1. "sudo reboot" to reboot
2. wait in idle for more than 5 seconds
3. cat "/sys/bus/pci/devices/0000:00:1f.3/power/runtime_status"

**Reproduction Rate**
5/5

**Expected behavior**
Runtime PM suspend

**Impact**
Runtime PM keeps active

**Environment**
Branch name and commit hash of the 2 repositories: sof (firmware/topology) and li

[2020-07-14 14:52] mengdonglin commented on #2274
Transfer this issue to Linux repo as it seems not a firmware issue atm.

[2020-07-15 10:59] sathyap-chrome commented on #1838
Hi @keyonjie  @aiChaoSONG  due to other priorities i couldnt do any debug on this one.
I have some info from my test using CML 008 release :
I'm attaching the TPLG, m4 file the feedback wav snapshot and asoc graph here.

[008_aec_ww29.zip](https://github.com/thesofproject/linux/files/4924676/008_aec_ww29.zip)

Note that the feedback is swapped as per the original issue. But interestingly i see tha

[2020-07-15 11:33] sathyap-chrome opened #2278 "CML : DMIC capture has initial 350 ms muted"
On CML devices, we see 350 ms delayed start of DMIC capture.
Customer is interested to understand below things

(a) why is there is 350 ms delay ?
(b) is it specific to CML or can this be modified if required ?

I'm attaching the graph for reference ( to confirm there is no additional processing added in topology)
captured wav files from 2 customer platforms is also attached.
[DMIC_mute_issue.zip]

[2020-07-16 05:58] Liviali155 commented on #2267
Error also seen on  sdw-5682-max98373 when do module reload
1."sudo reboot" to reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-sdw-max98373-rt5682.tplg
5.  ./check-kmod-load-unload.sh
[sof-logger0716.log](https://github.com/thesofproject/linux/files/4929564/sof-logger0716.log)

<img width="684" alt="Capture" src="https://user-images.githubusercontent.com/5670

[2020-07-16 08:23] ClarexZhou commented on #2045
Error not seen , previous connected speaker issue. Close

[2020-07-16 08:23] #2045 closed

[2020-07-16 09:58] Liviali155 opened #2283 "BUG] [TGL v7.0-rc10] Wov lost historical data after wake up from s0ix with long wake up latency when using format s32_le"
**Describe the bug**
 Wov lost data after wake up from s0i2x when using format s32_le
Error not seen if using format s16_le, ex:
arecord -Dhw:0,100 -M -N -f s16_le -r 16000 -c 2 --buffer-size=296000 ww.wav -vv -i

**To Reproduce**
1."sudo reboot" to reboot sysytem
2.open terminal1 to run " arecord -Dhw:0,100 -M -N -f s32_le -r 16000 -c 2 --buffer-size=296000 ww.wav -vv -i"
3.open terminal2 to run

[2020-07-17 01:38] Liviali155 commented on #2283
After set buffer-size as 128000 also has data lost
<img width="368" alt="Capture" src="https://user-images.githubusercontent.com/56707932/87738903-05787100-c811-11ea-904f-a98db68afe4f.PNG">
[dmesg_0717.log](https://github.com/thesofproject/linux/files/4935257/dmesg_0717.log)

[2020-07-17 06:49] libinyang commented on #2211
Something updated on user space:
As Jaroslav has updated the UCM to "Syntax 3", we also need to update alsa-lib.
1. linux-firmware (@kv2019i Do you have suggestion for which tag to be used?)
2. **alsa-lib: 877bdf9**
3. alsa-utils: 247d9e336d56d223f1e51dd164c39d82af5a5523 (tag: v1.2.3)
4. **pulseaudio: the recipe is: 2ae94c141ff4d76d60a66a71d80acefbba3966d1('device-port: queue CARD CHANGE event bef

[2020-07-17 18:01] fredoh9 commented on #2278
I have checked DMIC recording on CML Helios. 48000Hz, 4CH, S32_LE. It takes about 350ms to fully ramp up, I agree it seems taking longer time.
But @sathyap-chrome do you have any desire(target) time for ramp up?

![ImagePic_0717_001](https://user-images.githubusercontent.com/45636982/87816588-6f4a4800-c81c-11ea-877c-a3b71d62161b.png)

[2020-07-17 18:12] sathyap-chrome commented on #2278
Query from customer was : is this by default set to 350 ms. is the ramp time configurable ?

[2020-07-17 20:58] fredoh9 commented on #2278
I checked same thing on GLK Bobba, it shows similiar delay.
I think we should move this issue to SOF repo.

![glk_dmic_record_delay](https://user-images.githubusercontent.com/45636982/87830232-7af63880-c835-11ea-8c7a-01582a8eb4f4.png)

[2020-07-19 04:32] yechs commented on #1917
@plbossart Hi, is there any way I can tell if I'm using the wrong PCM according to the alsa-info?

I've run `alsa-info` once again and it shows `snd_hda_codec_realtek ehdaudio0D0: didn't find PCM for DAI Digital Codec DAI` in the log.

The full log is [alsa-info.2.txt](https://github.com/thesofproject/linux/files/4943230/alsa-info.2.txt)

Also, while running `alsa-info`, the script also prints the

[2020-07-19 05:12] yechs commented on #1917
Also, I noticed one thing particularly strange.
While I'm using the [Intel i5-9300H CPU](https://ark.intel.com/content/www/us/en/ark/products/191075/intel-core-i5-9300h-processor-8m-cache-up-to-4-10-ghz.html), which is a Coffee Lake architecture CPU, the `pavucontrol` gives me "Cannon Lake" as the name for output devices. Would this be a possible source of problem?

<img src="https://user-images.g

[2020-07-20 01:57] ClarexZhou commented on #2261
Close for PR #2270 is merged

[2020-07-20 01:57] #2261 closed

[2020-07-20 12:38] kv2019i commented on #1069
@plbossart This has fallen through the cracks. I'll tagged this with HDA, so it stays on my radar. I'll test with DP-MST on CML once I have the chance (some remote-work contraints at the moment).

[2020-07-20 15:35] kv2019i commented on #2068
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295 and https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/322 are now merged and this feature is now fully implemented. Thanks @libinyang  !

[2020-07-20 15:35] #2068 closed

[2020-07-20 16:01] plbossart commented on #1917
I don't know, I think you already reported this but I don't have a clue what the problem might be.

can you try modinfo snd_soc_skl_hda_dsp ?

[2020-07-20 16:02] plbossart commented on #1917
No, this is fine. There are multiple combinations of CPU and Chipset, and you can have the same Chipset for a newer CPU.

[2020-07-20 17:25] Enerccio opened #2302 "[BUG] No audio with 1.5.1 and kernel 5.7.9-1"
After updating to a new kernel, sof audio no longer outputs anything. I think I managed to get my output from my thunderbolt 3 dock with jack working, but without dock no audio from speakers or built in jack.
[dmesg.txt](https://github.com/thesofproject/sof/files/4949148/dmesg.txt)

[2020-07-20 17:30] hweom opened #2748 "[BUG] No sound for Intel Cannon Lake PCH cAVS on Lenovo IdeaPad S740"
**Describe the bug**
No sound via speakers or headphones. Both speakers and headphones are detected correctly, I can control volume in `pavucontrol` and I can actually see how the sound bar is moving if a sound is played, but no sound comes out.

**To Reproduce**
No special steps to reproduce (the issue is always there right after boot).

**Reproduction Rate**
100%

**Expected behavior**
Audible s

[2020-07-20 17:32] Enerccio commented on #2748
I think it might be related to my issue thesofproject/linux#2302, I have c940

[2020-07-20 17:35] plbossart commented on #2302
can you share the result of alsa-info?

[2020-07-20 17:37] Enerccio commented on #2302
http://alsa-project.org/db/?f=5734453ba564ff970f23475fc2322afb13a28207

[2020-07-20 17:44] plbossart commented on #2748
@hweom if you can compile 5.8-rc5, can you try with the SOF development kernel? https://github.com/thesofproject/linux.git branch topic/sof-dev

I don't see a smoking gun here.

[2020-07-20 17:50] plbossart commented on #2302
Nothing really suspicious @Enerccio
Can you try speaker-test -Dhw:0,0 -c2 -r48000 and see if the streaming progresses? if it does then it's a codec configuration issue, maybe a wrong set of mixer settings or the codec pins themselves not well configured.

I am assuming you can hear audio playing when you use blacklist snd-sof-pci and force the snd-hda-intel driver to be used with a kernel paramete

[2020-07-20 17:56] Enerccio commented on #2302
No sound input from `speaker-test`.

I tried older kernel, 1.4.1 sof, forcing snd-hda-intel, no sound. I had big update this morning so something might have fucked it up.

[2020-07-20 18:06] Enerccio commented on #2302
However, this is not a hardware problem. If I disable all drivers and boot to qemu running windows, sound is working 100%

[2020-07-20 18:17] Enerccio commented on #2302
https://pastebin.com/FGae8gPz this is what I upgraded this morning

[2020-07-20 18:29] hweom commented on #2748
I'll try it, although I don't have experience building a custom kernel on Manjaro (5.8-rc5 is in Manjaro's testing branch repos), so it'll probably take some time.

[2020-07-20 19:27] plbossart commented on #2302
Alsa-lib and alsa-ucm-conf could be the problem, but that wouldn't explain why you can't hear anything with the legacy snd-hda-intel driver. You really need to get to a point where the legacy audio driver plays audible audio, at which point we can look into SOF-related issues.

[2020-07-20 20:12] Enerccio commented on #2302
I set it up with https://wiki.archlinux.org/index.php/Lenovo_Yoga_c940#Linux_5.5_and_later so I am not sure if legacy audio driver should even work after 5.5 though

When I block sof and unblock other drivers, I get only dummy output

[2020-07-20 20:34] Enerccio commented on #2302
When I boot with legacy intel drivers:

http://alsa-project.org/db/?f=e06737b31090a5bc2549a032c0aa0449c917f9ce

[dmesg-no-sof.txt](https://github.com/thesofproject/linux/files/4949943/dmesg-no-sof.txt)

    speaker-test -Dhw:0,0 -c2 -r48000

    speaker-test 1.2.3

    Playback device is hw:0,0
    Stream parameters are 48000Hz, S16_LE, 2 channels
    Using 16 octaves of pink noise
    ALSA lib pc

[2020-07-20 21:15] Enerccio commented on #2302
Ok you were right, it was alsa,

warning: downgrading package alsa-lib (1.2.3.2-1 => 1.2.2-1)
warning: downgrading package lib32-alsa-lib (1.2.3.2-1 => 1.2.2-1)
warning: downgrading package alsa-topology-conf (1.2.3-1 => 1.2.2-1)
warning: downgrading package alsa-ucm-conf (1.2.3-2 => 1.2.2-1)

and I have sound back. Why would alsa cause this though?

[2020-07-20 22:14] plbossart commented on #2302
@perexg can you help here? which versions of alsa-lib and friends are currently recommended, or are you aware of potential issues with 1.2.3.2? I know there's been a lot of changes recently but haven't tracked version numbers. Thanks for your help!

[2020-07-21 01:17] hweom commented on #2748
I've downgraded `alsa-lib`, `lib32-alsa-lib`, `alsa-topology-conf` and `alsa-ucm-conf` to 1.2.1.2 and now the headphones work, but the speakers still don't.

[2020-07-21 02:16] yechs commented on #1917
Thanks! I double checked [Ubuntu Certification](https://certification.ubuntu.com/hardware/201903-26879) so the model is using a Cannon Lake audio Chipset

Sure, this the output for modinfo

[code]

[2020-07-21 07:47] mengdonglin commented on #2748
@hweom Can you pls provide output of alsa-info.sh when you're doing playback by the speaker although you cannot hear the sound?

[2020-07-21 10:34] lgirdwood commented on #2748
@xiulipan - do we have the wrong LDC file for the ICL 1.5.1 binary ? maybe the sof-bin makefile should validate this as a rule.
@hweom als please check alsamixer - some speakers do have separate volume and mute controls to headphones. It's worth a quick poke around here and report any missing settings so they can be added to the UCM profile.

[2020-07-21 11:28] Enerccio opened #2304 "[BUG] Very limited sound from Lenovo C940"
There are only 2 out of 5 speakers working on Lenovo C940. The issue is being discussed here:

https://bugzilla.kernel.org/show_bug.cgi?id=205755

but I thought maybe you guys could fix it (there are logs and also some startup instructions in the thread) for sof instead, because guy who is working on alsa+linux seems very busy.

[2020-07-21 11:39] paulstelian97 commented on #2304
Might want to also attach the alsa-info.txt file here. You might be having wrong paths somewhere and, if they are, they could be solvable in userspace.

Otherwise, first this needs to be solved for the non-SOF driver, then check if SOF driver still manifests it after the fix.

[2020-07-21 11:47] Enerccio commented on #2304
http://alsa-project.org/db/?f=c9318eb4757cd27e6af8ea07a509d95140f07f53

Well that is the thing, it looks like no one will solve the non-sof driver. That's why I thought that at least sof driver could fix this issue

[2020-07-21 11:58] paulstelian97 commented on #2304
In general, we could try to find out a solution if it's doable in the userspace. But if the driver itself is in the wrong, we end up not having the required information to update the SOF driver (usually, if it's not Intel hardware specifically, we use code from existing non-SOF drivers as reference on what the hardware wants; but since this problem manifests on the non-SOF driver as well we don't

[2020-07-21 12:29] rokuoku commented on #1917
Just wanted to say that I have same issue on same dell inspiron model with same sof-firmware and alsa-ucm-conf versions on Manjaro.
http://alsa-project.org/db/?f=fe7e58f6af06d10a18a1c9de8417a257ad17fcd2

[2020-07-21 13:31] Enerccio commented on #2304
There is some initialization code posted but no response from Kysela so who knows.

[2020-07-21 16:58] plbossart commented on #1917
@rokuoku and @yechs can you add the attached file as /etc/modprobe.d/sof-ddebug.conf ?
[ddebug.txt](https://github.com/thesofproject/linux/files/4955002/ddebug.txt)

Also please try with

speaker-test -Dhw:0,0 -c2 -r48000 (control-C to stop)
speaker-test -Dhw:0,1 -c2 -r48000

This is to test if the analog output works and the digital one doesn't.

Please attach the dmesg log (not paste it please!)

[2020-07-21 17:03] plbossart commented on #2304
SOF only supports 2ch outputs, so the multi-speaker case has to be handled with the codec driver. If you look at the bugzilla information the codec driver needs a set of I2C configurations for the amplifiers.
This is really not an SOF issue proper. I will use our Lenovo contacts to see if they can help.

[2020-07-21 18:07] Enerccio commented on #2304
I thought this was the code for the amplifiers though: https://bugzilla.kernel.org/show_bug.cgi?id=205755#c33

[2020-07-21 18:24] plbossart commented on #2304
it's pseudo-code, what's missing is a fixup for this HDaudio codec that will write values in the relevant node to reach those 0x82 and 0x84 I2C config registers

[2020-07-22 00:25] hweom commented on #2748
[code]

[alsa-info.txt.f6EFAV77OE](https://github.com/thesofproject/sof/files/4957092/alsa-info.txt.f6EFAV77OE.txt)

alsamixer does show a master channel that is not enabled by default:

![Screenshot from 2020-07-21 17-14-41](https://user-images.githubusercontent.com/4531463/88120084-02fe7a00-cb77-11ea-8527-0b07c89522d9.png)

However even I if max it out, there is still no sound. (Also there is no

[2020-07-22 03:30] xiulipan commented on #2748
@lgirdwood Not sure yet. I did not do any test, I will try to do some check for the binary on 1.5.1 release.

[2020-07-22 03:50] rokuoku commented on #1917
Here is the log
[dmesg.txt](https://github.com/thesofproject/linux/files/4957717/dmesg.txt)

I didn't have any sound with the first command above, and the second one gave the following error.
[code]

[2020-07-22 08:46] xiulipan commented on #2748
@hweom @lgirdwood I am a little confusing here, so what FW should be used on S740 if it is Cannon Lake PCH?

@hweom Could you try to use sof-cnl.ldc instead? and dump the log from `amixer contents` I am think about wrong codec setting.

[2020-07-22 09:16] lgirdwood commented on #2748
@xiulipan agree it should be loading ```sof-cnl.ri``` binary IIRC and not ```sof-icl.ri```. @hweom renaming the sof FW directory should make the kernel complain about the FW file it's trying to load cant be found. This will confirm we are using the correct version based on your PCH ID.

[2020-07-22 14:11] yechs commented on #1917
This is my dmesg log
[dmesg.Jul22.log](https://github.com/thesofproject/linux/files/4960481/dmesg.Jul22.log)

And regarding speaker-tests, it's exactly the same as @rokuoku: first command gives no sound (despite producing output in the console), and the second command produces the same error

[code]

[code]

[2020-07-22 14:49] sathyap-chrome commented on #2278
can you help move this to SOF repo.

[2020-07-22 16:01] #2274 closed

[2020-07-22 16:23] plbossart commented on #1917
Thanks @rokuoku and @yechs, this is useful.
Can you try to identify which version of alsa-ucm-conf is on your system?
I think what happens is that UCM ends-up selecting the wrong device for some reason, and the digital output is not functional.

[2020-07-22 16:50] plbossart commented on #2748
@hweom please copy the attached file as /etc/modprobe.d/sof-ddebug.conf and re-attach the dmesg log.
[ddebug.txt](https://github.com/thesofproject/sof/files/4961305/ddebug.txt)

I don't get why we are talking about icl firmware, and the logs with dynamic debug will tell us exactly what the SOF driver does.
Thanks!

[2020-07-22 17:04] yechs commented on #1917
@plbossart Sure, and thanks for pointing the direction!
The version running on my system is
[code]

[2020-07-22 17:10] udaymb opened #2309 "JSL: Kernel panic observed when tplg is not present"
This issue is reported by Vendor on JSL platform (drawlat)
Kernel branch - https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.4
Run s0ix. In chrome command used, suspend_stress_test -c 1

Observation
- System resets i.e., reboots
- From logs there is a Kernel panic

[ramoops.txt](https://github.com/thesofproject/linux/files/4961397/ramoops.txt)

From ramoops lo

[2020-07-22 17:21] plbossart commented on #1917
unfortunately that doesn't tell me what tag this might be. I only see version 1.2.3 in alsa-ucm-conf, don't know what the -2 might be.

Let's try manually. Can you do this:

alsaucm -c sof-hda-dsp set _verb HiFi set _enadev Speaker
speaker-test -Dhw:0,0 -c2 -r48000

I am not fully sure about the sof-hda-dsp, try to make this match with the result of /proc/asound/cards (the first value after the [

[2020-07-22 18:24] fredoh9 opened #2310 "ICCMAX implementation for FW boot in ICL"
While discussing https://github.com/thesofproject/linux/pull/2290, the flow for ICL is different from TGL.

1. Need to check extended manifest if the FW is configured for LPRO or HPRO, https://github.com/thesofproject/linux/pull/2297 is under review. Found minor interface change is required.

1. If FW is configured for HPRO, C3 should keep it ON.

[2020-07-22 18:31] plbossart commented on #2310
@fredoh9 I am completely confused on the transition to use the extended manifest, we discussed in the past that this would happen in a distant future when all distros rely on a firmware with the extended manifest. We still have platforms using firmware 1.3, so short term we can't really depend on the extended manifest, can we?
Or we would need to REQUIRE the firmware with the extended manifest on

[2020-07-22 18:40] yechs commented on #1917
The soundcard is sof-hda-dsp (according to the results in /proc/asound/cards)

Running `alsaucm -c sof-hda-dsp set _verb HiFi set _enadev Speaker` prints no outputs and returns 0 so seem to be successful.

However, running the `speaker-test` still produces no sounds (just like before).

Also, running `alsaucm dump text` gives the following configuration, don't know if it might help with identifyin

[2020-07-22 18:47] yechs commented on #1917
Regarding the version,
judging from the [Arch PKGBUILD file](https://github.com/archlinux/svntogit-packages/blob/master/alsa-ucm-conf/trunk/PKGBUILD), the source is downloaded from https://www.alsa-project.org/files/pub/lib/alsa-ucm-conf-1.2.3.tar.bz2

So it seems like the source is [tag v1.2.3 in alsa-project/alsa-ucm](https://github.com/alsa-project/alsa-ucm-conf/releases/tag/v1.2.3)

[2020-07-22 18:57] plbossart commented on #1917
ok, so there's no error with the UCM file. that's good.

let's first verify that you can hear audio with the legacy HDaudio driver (without SOF). Please add this to any file in /etc/modprobe.d/*.conf

blacklist snd-sof-pci
options snd_intel_dspcfg dsp_driver=1

you should see snd-hda-intel probe, and a card created. Same thing, try and play with speaker-test -Dhw:0,0 0 -c2 -r48000 and see what the

[2020-07-22 19:51] plbossart commented on #2309
I can't reproduce this with the topic/sof-dev kernel on a SoundWire platform, see below log with suspend/resume.
Maybe a backport issue?

<details> <summary> dmesg with no topology file </summary>

[code]

</details>

[2020-07-22 19:55] plbossart commented on #2304
@Enerccio this is really not an SOF issue so I will close this. Lenovo and others are aware of the issue, this isn't a topic our team can do much on.

[2020-07-22 19:55] #2304 closed

[2020-07-22 19:56] plbossart commented on #2251
closing since there's not much we can do without info.

[2020-07-22 19:56] #2251 closed

[2020-07-22 20:00] hweom commented on #2748
@plbossart here it is. Unfortunately, the beginning of the log got truncated, so not sure if any interesting information was lost.

[dmesg_sof.txt](https://github.com/thesofproject/sof/files/4962260/dmesg_sof.txt)

[2020-07-22 20:12] plbossart commented on #2748
@hweom yeah, all the initial stuff is lost...You seem to have a very chatty kernel configuration.
Maybe use a blacklist snd-sof-pci then after boot dmesg -C; dmesg -w > log.txt &; modprobe snd-sof-pci;
that should give you the initial log?

[2020-07-22 20:29] hweom commented on #2748
@plbossart done:

[dmesg_sof.txt](https://github.com/thesofproject/sof/files/4962420/dmesg_sof.txt)

[2020-07-22 20:36] hweom commented on #2748
@xiulipan I think the last log confirms that we're indeed using sof-cfl.ri. I actually don't remember where I got the LDC file in my original file -- but sorry for the confusion!

Also, here is output from `amixer contents`:
[code]

[2020-07-22 20:52] plbossart opened #2311 "KASAN out of bounds access in module load/unload tests"
still a couple of issues with topic/sof-dev 53f2da654545df7fbc3bd69b488f1ce03b8eb922

[dmesg_kasan.log](https://github.com/thesofproject/linux/files/4962536/dmesg_kasan.log)

[sof-dev-defconfig.txt](https://github.com/thesofproject/linux/files/4962539/sof-dev-defconfig.txt)

Command

[code]

[2020-07-22 20:56] plbossart commented on #2236
can't reproduce this, closing

[2020-07-22 20:56] #2236 closed

[2020-07-22 20:58] plbossart commented on #2212
@sinahuang can you check if this still happens with the latest kernel/firmware/topology code? We need to make progress here, it's been 5+ weeks without progress

[2020-07-22 23:00] ranj063 commented on #2310
@plbossart we do need the ext_manifest for ICL to enable ICCMAX during FW boot. Should we tie it with a minimum ABI requirement?

[2020-07-22 23:06] fredoh9 opened #2312 "Support extended data, PROBE_INFO and USER_ABI_INFO"
Need to parse extended data, PROBE_INFO and USER_ABI_INFO
https://github.com/thesofproject/linux/blob/topic/sof-dev/include/sound/sof/info.h#L30
[code]

So these warning messages can be removed.
[code]

I plan to assign this to myself but in this week my hands are full. So I leave this unsigned for now.

[2020-07-22 23:26] ranj063 commented on #2309
@plbossart I can reproduce this on my CML laptop with topic/sof-dev. Unfortunately, I dont have a root cause yet as the system just hangs when I run rtcwake without the tplg file.

[2020-07-23 01:45] yongzhi1 commented on #2309
[oops-log.txt](https://github.com/thesofproject/linux/files/4963470/oops-log.txt)

I can also repro on the Waddledee board, to capture the ramoops dump, first run:

localhost ~ # echo N | sudo tee /sys/module/printk/parameters/console_suspend

Once board get rebooted upon the oops, then check the crash log on DUT:

localhost ~ # cat /sys/fs/pstore/console-ramoops-0

[2020-07-23 02:17] mengdonglin commented on #2267
This seems to be Max98373 codec driver issue in SDW mode. @naveen-manohar can you please check?

[2020-07-23 02:32] mengdonglin commented on #2309
@xiulipan can you please check?

[2020-07-23 03:08] rokuoku commented on #1917
I think I've found a solution. Kind of.  I don't know if it's the same issue @yechs is having (EDIT: looking at @yechs alsa-info output, s/he also has same issue: "Mono: Playback 0 [0%] [-65.25dB] [off]").
When I was looking at my alsa-info output I've noticed the following line, which looked suspicious.
Mono: Playback 87 [100%] [0.00dB] [off]
[code]
However, nothing looked muted in volume control

[2020-07-23 09:57] yechs commented on #1917
Um... though the sound works for graphical applications, the speaker-test doesn't work and gives the following error:
[code]

This gives:

[code]

Though the speaker-test didn't work as intended, I'll still attach the results for SOF just for reference

[code]

[2020-07-23 10:10] yechs commented on #1917
@rokuoku Yes indeed! That solves my problem!

`alsamixer -c 0` gives the following output and the `MM` under master indicates that it is being muted... I only tried previously increasing the volume but did not know it's muted...

![image](https://user-images.githubusercontent.com/49149993/88274691-9e086880-cccb-11ea-822c-5727894a2225.png)

Un-muting the Master and increasing the volume makes it wo

[2020-07-23 10:37] rokuoku commented on #1917
@yechs I'm glad it worked for you too.
I have no idea why it's being reset and how to fix it. And also why KDE doesn't pickup that it's muted.
The only command I found for muting/unmuting  (amixer -D pulse set Master 1+ toggle) didn't work as well.
I hope someone more knowledgeable can suggest where to look.

[2020-07-23 11:01] paulstelian97 commented on #1917
You might want to manually save the configuration of alsa on reboot. First do a manual save after unmuting with the `sudo alsactl store` command. Taken from https://askubuntu.com/questions/50067/howto-save-alsamixer-settings

Someone else on the same question complains that Pulseaudio is muting it automatically. Which is weird because that mute should also be visible in the volume control (at leas

[2020-07-23 11:04] yechs commented on #1917
I think you have to specify the -D device option to choose the sof-hda-dsp device instead of pulseaudio.
These two commands below worked for me. I think we can probably add it to an auto-start script

[code]

[2020-07-23 12:36] plbossart commented on #2310
Oh, because you need to know the information *before* getting the information from firmware in the SRAM window?
If yes, we are indeed looking at a minimum ABI for ICL and TGL, and we need a 1.6 release that implements this. @lgirdwood FYI

[2020-07-23 13:12] plbossart commented on #1917
@yechs we need to fix this in the UCM file. It looks like a non-standard mixer name but we can add it so that others don't face the same problem.

Can you confirm that both of the commands above are needed?

[2020-07-23 13:16] yechs commented on #1917
That would be great! Many thanks

Yeah, the Master device is default to muted and having 0% volume, so the first command is needed to unmute it, and the second to turn the volume to full (100%)

[2020-07-23 16:20] plbossart commented on #1917
can you try regular mixer commands, e.g.

amixer -Dhw:0 cset Master on (or unmute?)
amixer -Dhw:0 cset Master 100%

I don't know if UCM can take the sset commands, I only see cset.

[2020-07-23 16:43] plbossart commented on #1917
This is actually way beyond my understanding of ALSA controls.
The UCM file has a

PlaybackMasterElem "Master"

which should take care of setting those Master values.

The fact that this is overridden on each reboot makes me think there's a side effect of alsactl, or your distro is using something odd.

@perexg can you help?

[2020-07-23 16:59] yechs commented on #1917
@plbossart

These two following cset command works for me:

[code]

[2020-07-23 17:10] plbossart commented on #1917
With the SOF driver or still in legacy mode?

[2020-07-23 17:20] yechs commented on #1917
Yes, the KDE audio volume settings is outputting the test "front left" "front right" audio correctly, and all graphical applications (e.g. VLC player and Audacious) are behaving as expected.

[2020-07-23 17:27] plbossart commented on #1917
@yechs this is with the SOF driver or are you still in legacy mode?

[2020-07-23 17:29] yechs commented on #1917
with the SOF driver and after running the two `amixer cset` commands

[2020-07-24 04:47] yongzhi1 commented on #2309
When tplg is missing, the follow seq will not happen:

hdac_hda_codec_probe => snd_hda_codec_device_new => read_widget_caps => kmalloc codec->wcaps

So codec->wcaps trigger a null deference.

[2020-07-24 08:25] rokuoku commented on #1917
Thank you, @paulstelian97!
I've saved the  configuration to file and created entry ~/.config/autostart/alsarestore.desktop as suggested in one of the comments in your link and it works perfectly.
I prefer this solution to using amixer commands in autostart scripts, because it allows to save/restore whole configuration.
https://askubuntu.com/a/606115

[2020-07-24 21:04] fredoh9 commented on #2204
Sorry for lazy update on this issue. This issue have evolved to dynamic message filter and log filtering/scanning.

1. Same sof-dyndbg.conf is deployed to all test DUTs, this is done and up and running
1. Remove `sof-audio` before scanning kernel log, https://github.com/thesofproject/sof-test/pull/290 (+1 approved)
1. Giving a warning when sof-dyndbg.conf is not available in /etc/modprobe.d/, http

[2020-07-27 01:30] Liviali155 commented on #2197
ES1 can enter S0ix after below settings with intel next 5.7:
BIOS: JasperLake_Label2194_00 , https://onebkc.intel.com/#/ingredientVersion/14011505469?executionConfig=JSL-P-20H1-REV02
OS: ubuntu 19.10
BIOS setting:
Disable all the PCIe root ports
Disable SATA Devslp settings in Bios
OS settings:
powertop --auto-tune
echo Y > /sys/module/acpi/parameters/sleep_no_lps0
Ignore IsCLK and MODPHY from CPP

[2020-07-27 01:30] #2197 closed

[2020-07-27 06:23] Liviali155 commented on #2212
Issue still can be reproduced with latest sof-dev (b31892bc) +master(1c53b8e9) when run suspend/resume stress test
<img width="379" alt="Capture" src="https://user-images.githubusercontent.com/56707932/88509975-b1da0480-d014-11ea-99ec-5cddc60381f7.PNG">

First round: Failed at 45/50
2nd round:Passed 50/50
3rd round:Passed 50/50
4th round :Passed 50/50
5th round:Passed 500/500
[sof-logger0720.log](

[2020-07-27 13:06] xiulipan commented on #2748
@hweom It seems nothing wrong with dmesg and logger logs. Can you try to play with the alsamixer setting to check if any codec setting may benefit for your case. @RanderWang have we do any test with the ALC285 codec?

[2020-07-27 15:35] yongzhi1 commented on #2309
Thanks @ranj063, the issue was not reproducible with #2950

localhost /sys/kernel/debug/pmc_core # suspend_stress_test -c 5
Running 5 iterations with:
  suspend: 5-10 seconds
  wake: 5-10 seconds
  backup_rtc: false
  errors_fatal: true
  fw_errors_fatal: true
  bugs fatal:  true
  warnings fatal:  false
  crcs fatal:  true
  suspend command: powerd_dbus_suspend --delay=0
  wakeup source to ignore

[2020-07-27 15:38] plbossart commented on #2748
Wondering if this is the same issue as https://github.com/thesofproject/linux/issues/1917, can you try the recipe that fixed it?
It seems there is a 'Master' simple control that's not set by UCM

[code]

[2020-07-27 16:11] fredoh9 commented on #2204
thesofproject/sof-test#290 is merged. I will monitor test results for next a few days.

[2020-07-27 16:11] #2204 closed

[2020-07-27 19:46] hweom commented on #2748
Thanks for the suggestions!

I can confirm that doing
[code]

enabled the _headphones_ output. (I believe the second command is the same as setting the Master channel via `alsamixer` in my screenshot [here](https://github.com/thesofproject/sof/issues/3209#issuecomment-662173203). However, it is the _unmuting_ part that was missing in `alsamixer`.)

However, the speakers are still not working.

Her

[2020-07-27 23:16] plbossart commented on #2748
@hweom maybe try playing with what's disabled (AutoMuteMode) and what's on (SPDIF) to see if this changes anything.
I really don't get what UCM is doing here....

[2020-07-28 00:56] hweom commented on #2748
[code]
Yields no effect.

Changing SPDIFs to off didn't really change anything either (although I didn't try all the permutations):
[code]

As an interesting datapoint, I just tried Ubuntu 20.04 live image and it had headphones working out of the box, but not speakers. I can't try Windows, since my laptop is not dual-booting and there is no way to boot windows live, at least not that I know of.

[2020-07-28 14:10] plbossart commented on #2748
Can you dump the mixer contents with the live image and compare with what you have here? It's clearly a configuration issue.

[2020-07-28 14:40] naveen-manohar commented on #2229
Apologies for taking long time on this, we are hitting other component issues(like thunder-bolt)..
And currently we couldn't execute complete stress cycling.
Shall keep posted. Thanks

[2020-07-28 18:07] hweom commented on #2748
Yes, here is the diff: http://www.mergely.com/pCTbN8wW/

Ubuntu 20.04 is on the right, my system is on the left.

Master is on by default in Ubuntu, but off by default for me. This explains why headphones work in Ubuntu out of the box.

Again, speakers don't work in both systems.

[2020-07-28 20:26] hweom commented on #2748
I just checked it on a live WinPE image, and speakers work in Windows. So at least we know for sure this is not a broken device.

[2020-07-28 20:27] #2267 closed

[2020-07-28 20:29] #2309 closed

[2020-07-28 21:18] plbossart commented on #2748
@hweom when you say 'speakers don't work w/ Linux', is this some of the speakers don't work or none of the speakers work?
There are known issues with a series of Lenovo C930/C940 devices, wondering if they are related to your config:

https://bugzilla.kernel.org/show_bug.cgi?id=203409
https://bugzilla.kernel.org/show_bug.cgi?id=205755

[2020-07-28 22:11] hweom commented on #2748
Thanks @plbossart , I'll look at those bugs for potential insights.

To clarify, in my case, **none** of the internal laptop speakers work.

[2020-07-28 22:13] hweom commented on #2748
Looks like this kernel bug is exact match for my situation:

https://bugzilla.kernel.org/show_bug.cgi?id=207019

[2020-07-28 23:27] plbossart commented on #2142
no information provided and no issues with IPC in all CI/daily tests -> closing

[2020-07-28 23:27] #2142 closed

[2020-07-28 23:33] plbossart opened #2324 "Remove position update with IPC on legacy platforms"
The position update via IPC on Baytrail/CherryTrail/Broadwell is far from optimized. We need a better mechanism where the hw_ptr is exposed e.g. in the SRAM window along with the current hardware timestamp.
This would be required if we want to turn on the no-irq mode and remove the INFO_BATCH flag which disables timer-based scheduling for PulseAudio.

[2020-07-28 23:35] plbossart opened #2325 "Fix left/right inversion on Broadwell"
Mirror of https://github.com/thesofproject/sof/issues/2459 since it impacts overall Linux experience.

[2020-07-28 23:36] plbossart opened #2326 "suspend/resume not implemented on Broadwell"
Suspend-resume leads to a firmware boot issue on resume.

[2020-07-28 23:39] plbossart commented on #2326
already tracked

[2020-07-28 23:39] #2326 closed

[2020-07-28 23:49] plbossart commented on #1987
Could this be because the sof_nocodec_card does not have any dapm widgets?

[code]

@ranj063 does this ring a bell?

[2020-07-28 23:54] plbossart commented on #1827
I no longer have a platform to test this. @bardliao and @RanderWang if you have a DVT2 or an RVP with a production key, can you try to see what happens with a regular SOF firmware?

[2020-07-29 01:56] bardliao commented on #1827
@plbossart I see some FW error logs below, but not kernel oops.
[code]
[dmesg.txt](https://github.com/thesofproject/linux/files/4992033/dmesg.txt)

I tested it with kernel commit 797eb03afdd8d3a2e85b486284af8f014b8c01ae and a regular SOF firmware on DVT2.

[2020-07-29 02:14] keyonjie commented on #2283
This issue will disappear once the long resuming time issue is fixed from the Chrome system side, @sathya-nujella assign it to you for tracking it.

[2020-07-29 05:34] sathya-nujella commented on #2283
Hi @keyonjie
With Google-5.4 kernel, we see resume time is high. Internally TCSS team shared new kernel.. without, resume time is reduced ..it seems around~600ms.  Jairaj is following up with them. Will update as soon as I hear on it.

[2020-07-29 05:48] RanderWang commented on #1827
I also don't get any kernel panic for this case.

[2020-07-29 07:50] Liviali155 opened #2328 "[bug][JSL] DMIC48kHz no volume control in alsamixer"
**Describe the bug**
DMIC48kHz no  volume control in alsamixer

**To Reproduce**
1."sudo reboot" to reboot sysytem
2.alsamixer

[code]

**Reproduction Rate**
10/10

**Expected behavior**
DMIC48kHz has  volume control in alsamixer

**Impact**
DMIC48kHz no  volume control in alsamixer

<img width="330" alt="Capture" src="https://user-images.githubusercontent.com/56707932/88772084-c8b65d80-d1b2-11ea-

[2020-07-29 07:57] Liviali155 opened #2329 "[BUG][JSL]No 'Headphone Jack' or 'Headset Jack' in amixer contents"
Describe the bug
No 'Headphone Jack' or 'Headset Jack' in amixer contents.

To Reproduce

Boot up system with headset connected.
Run with command "amixer contents"
Check if there is 'Headphone Jack" or "Headset Jack"

Reproduce rate
5/5

Expected result
There should be 'Headphone Jack" and "Headset Jack"

Actual result
No 'Headphone Jack' or 'Headset Jack' in amixer contents.
<img width="382" alt=

[2020-07-29 15:01] plbossart commented on #1827
ok, thanks for confirming @bardliao and @RanderWang, closing.

[2020-07-29 15:01] #1827 closed

[2020-07-30 03:44] xiulipan commented on #2329
Same behavior with Chrome OS on GLK. But evtest can show right jack and detction test can pass.
[code]

@yongzhi1 @sathya-nujella Is this designed to be so to not show Jack control in ALSA level?
@libinyang Will this influence the UCM things?

[2020-07-30 08:03] elorriaux commented on #1985
Small feedback, everything seems to work without freezes.

The only issue concerns the digital mic level, it works but it's almost impossible to hear anything unless I push the speaker level to the maximum, and the sound level is still very very low. I remember in the early tests with SOF 1.4 that I was able to record and listen correctly to my voice when testing the mic. Does anybody has an idea

[2020-07-30 08:21] juimonen commented on #1985
@elorriaux we had "amplifying" eq on the dmic path, then it was removed (for some reason), and then we put it back....
I don't recall now was this just some thing we messed up or there was some higher purpose. Automatic level testing with physical dmic devices is little bit hairy and we try to improve on that.

So you might have this time-wise "middle ground" topology without the amplification, or

[2020-07-30 08:43] elorriaux commented on #1985
@juimonen thanks for the answer, I've just updated to 1.5.1 and it looks like to work fine !

[2020-07-30 09:09] singalsu opened #2330 "SOF does not load in NUC10i7FNH computer"
What happens is that I get no ALSA sound devices. There is only single line of sign of life from SOF in dmesg from sof-audio-pci module. By default an unmodified Ubuntu 20.04 booted with legacy sound driver where the built-in microphones and HDMI worked OK. The headphone connector playback audio remained totally silent.

According to /proc/cpuinfo this NuC has an i7-10710U CPU (CML).  The kernel i

[2020-07-30 15:33] plbossart commented on #2330
@singalsu can you attach the full dmesg (dmesg -C before doing the modprobe snd-sof-pci) and alsa-info results?

[2020-07-30 17:07] singalsu commented on #2330
There's no other output to dmesg than what I already pasted above. So I attached the entire dmesg, no -C applied. Here's the files:

[alsa-info.txt](https://github.com/thesofproject/linux/files/5002732/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/5002733/dmesg.txt)

[2020-07-30 18:21] plbossart commented on #2330
I have a vague hunch the sof probe aborts because somehow the autoselect fails, likely because you don't have DMICs on the platform:

can you trying adding this diff (patch -p1 < 1.diff.txt) to the sof-dev kernel?
[1.diff.txt](https://github.com/thesofproject/linux/files/5003116/1.diff.txt)

Also if you see the log 'aborting probe' can you try adding this to /etc/modprobe.d/alsa-base.conf
options

[2020-07-31 08:51] RanderWang commented on #2748
ALC285 ? I have no idea about it.

[2020-07-31 09:06] RanderWang commented on #2748
I found a fix related to this
[code]

[2020-07-31 11:47] singalsu commented on #2330
Wow, thanks! SOF loads now and headphone plug output works (it didn't with whatever got used with no SOF). The microphones work too, there's two microphones though the front panel contains four microphone port holes. The used topology is sof-hda-generic.tplg.

I had to use the dsp_driver=3 option, without I got the aborting probe message. Could that debug message be added to know what's the issue?

[2020-07-31 13:21] lyakh opened #2334 "IPC RX error after DSP suspend"
When unloading SOF kernel modules, the normal case looks approximately like this:
[code]
whereas sometimes after `CTX_SAVE` the kernel detects an incoming IPC message, which is then recognised as corrupt with multiple 0xff bytes and an error is issued. This failure has been observed on CML RVP and on Mantis in a daily test of 30-31.07.2020 but I was unable to reproduce it locally. When such an err

[2020-07-31 14:08] plbossart commented on #2330
Thanks @singalsu I'll add this  debug message, indeed it's hard otherwise to figure out what happens.

That said, can you remove the snd-hda-intel blacklist and blacklist snd-sof-pci? You should have the headset plug working with the legacy driver, if not there's something very very odd in the codec management.

[2020-07-31 14:10] plbossart commented on #2334
@lyakh can you add a pointer to the failed CI tests, and/or attach the dmesg trace?

[2020-07-31 14:21] lyakh commented on #2334
@plbossart sorry, cannot link, they aren't accessible from the public internet. Attaching dmesg

[unknown.txt](https://github.com/thesofproject/linux/files/5007454/unknown.txt)
[overflow.txt](https://github.com/thesofproject/linux/files/5007453/overflow.txt)

[2020-07-31 14:29] plbossart commented on #2334
Thanks @lyakh the overflow case is interesting, never seen this one. This seems to happen exactly while a trace is flushed during the CTX_SAVE, that looks like a firmware issue.
The unknown GLB command looks more hardware-related to me.

[2020-07-31 14:47] lyakh commented on #2334
@plbossart aren't they the same? They happen at the same time, after suspend, and they show up as corrupted IPC with many oxff bytes. Just one of them had the command overwritten to 0xffffffff and the other one had the command still containing a meaningful value, but 0xffffffff in later fields

[2020-07-31 15:04] singalsu commented on #2330
Great!

I tried your suggestion but when I kept only snd-sof-pci blacklisted I got no sound devices.

Then I removed all blacklists, and edited "options snd_intel_dspcfg dsp_driver=1" and got working headphone sound with legacy driver. I don't know what was the issue with 5.4.0 binary kernel with Ubuntu but this 5.8.0-rc6+ kernel seems to be OK.

[2020-07-31 15:10] plbossart commented on #2334
maybe. I am just making the hypothesis that there could be transitions where the hardware isn't in a valid state, while the trace could be more of a race condition.

[2020-07-31 15:12] plbossart commented on #2330
@singalsu if you remove the "options snd_intel_dspcfg dsp_driver=1"  and all blacklists you should still get the HDaudio legacy to load. Do you mind testing, wondering if the auto-selection is not working. Thanks!

[2020-07-31 15:27] singalsu commented on #2330
Yep, it works OK with the options line removed. The dmesg | grep snd output looks this:

[code]

[2020-07-31 15:36] plbossart commented on #2330
Thanks Seppo, I added a log in PR #2335

[2020-08-05 08:31] mengdonglin commented on #2025
Won't fix this codec issue.

[2020-08-05 08:31] #2025 closed

[2020-08-05 08:33] mengdonglin commented on #2014
It seems to be a codec issues, it need some delay before processing the verb correctly. Won't fix

[2020-08-05 08:33] #2014 closed

[2020-08-05 08:37] mengdonglin commented on #2126
Close this issue because it cannot be reproduced with latest PulseAudio fix for SoundWire. @libinyang will file a separate bug to track HD-A configuration.

[2020-08-05 08:37] #2126 closed

[2020-08-05 09:44] bardliao opened #2344 "[BUG] [rt700] SDW Alert happens before codec is enumerated"
Describe the bug
We can see sdw IO transfer timed out when we do suspend test. And the reason of  sdw IO transfer timed out is that an alert is rised before the codec is enumerated.

To Reproduce

run ``sudo rtcwake -m mem -s 5``.

Reproduce rate
more than 50%

Expected result
No issue on the suspend test.

Actual result
See IO transfer timed out errors in dmesg.

[code]
[dmesg_cml_rvp.txt](https:

[2020-08-05 09:49] bardliao commented on #2344
@plbossart Should we ignore the alert before codec is enumerated?
Does below change make sense?
[code]

[2020-08-05 13:09] #2330 closed

[2020-08-05 13:21] plbossart commented on #2344
@bardliao it's not possible to have an alert if the DeviceNumber is zero and the interrupt masks are not initialized. I wonder if this is a codec problem where on hard reset the interrupt masks are not reset.

Edit: the master driver should first go through the sdw_clear_slave_status() to mark the status as UNATTACHED on resume. Then we would first deal with enumeration. I think we have a race con

[2020-08-06 06:15] libinyang commented on #1999
with the latest recipe:
- UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
- Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
- Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest/pulseaudio_13.99.1.1-47d8112/
- Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
   sudo add-apt-repository pp

[2020-08-06 06:15] #1999 closed

[2020-08-06 06:45] libinyang commented on #2148
with the latest recipe:

UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest/pulseaudio_13.99.1.1-47d8112/
Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
sudo add-apt-repository ppa:hui.wang

[2020-08-06 06:45] #2148 closed

[2020-08-06 06:50] libinyang commented on #2110
with the latest recipe:

UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest/pulseaudio_13.99.1.1-47d8112/
Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
sudo add-apt-repository ppa:hui.wang

[2020-08-06 06:50] #2110 closed

[2020-08-06 07:53] libinyang opened #2346 "[BUG][CML][UCM2][HDA]Output device will auto switch from speaker to other source when unplug HDMI external port or headphone"
Describe the bug
Output device will auto switch from speaker to other source when unplug HDMI external port or headphone.

Precondition:
1.Install ubuntu 20.04
UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest

[2020-08-06 07:59] libinyang commented on #2346
compare to https://github.com/thesofproject/linux/issues/2126, this bug happens on HDA platform. This should be the pulseaudio issue. As this is a case that customer/user rarely meet, let's put it to P3.

[2020-08-08 00:50] hweom commented on #2748
I've updated to 5.8.0-1 and just saw this in `dmesg`:

[code]

Not sure if it's relevant and whether this error was also in the previous kernel. (And audio situation is still the same with new kernel.)

[2020-08-08 19:05] hweom commented on #2748
I've tried applying this fix to my system (with relevant changes) and confirmed that it's applied, but the speaker sound is still muted:

[code]

(I wasn't sure which PCI device IDs are used from this:
[code]
so I added both.)

`dmesg` has:
[code]
So I know the code works.

The change seems to have *some* effect though: I now have a new scontents entry:
[code]

I've tried setting it to all possibl

[2020-08-10 02:39] keyonjie commented on #2283
Thanks @sathya-nujella , please let us know if we need update kernel or CB.

[2020-08-10 05:50] sathya-nujella commented on #2283
Hi @keyonjie
Fix is in USB4/TCSS kernel patches. Those kernel patches are not yet in CPFE google tree. They are only available in internal tree.
Message from TCSS team: TCSS Fixes are not in upstream. so, to test from Chrome tree, we may need to wait for some more time.

[2020-08-10 06:11] libinyang commented on #2115
can't reproduce this issue with below recipe:
UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest/pulseaudio_13.99.1.1-47d8112/
Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
sudo add-apt-re

[2020-08-10 06:11] #2115 closed

[2020-08-10 07:09] keyonjie commented on #2283
Thanks for the information, looks we need to work-around that with similar solution as 007 release for WW34 one.

[2020-08-10 08:14] sathyap-chrome commented on #2329
amixer -c0 controls show Headphone / Headset. without c0, it wont be displayed

FYI from JSL :
amixer -c0 controls | grep -i head
numid=63,iface=MIXER,name='Headphone Gain Ramp Switch'
numid=65,iface=MIXER,name='Headphone Jack Switch'
numid=64,iface=MIXER,name='Headphone ZC Gain Switch'
numid=62,iface=MIXER,name='Headphone Switch'
numid=61,iface=MIXER,name='Headphone Volume'
numid=66,iface=MIXER,n

[2020-08-10 08:43] libinyang commented on #2114
with the latest recipe:

UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest/pulseaudio_13.99.1.1-47d8112/
Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
sudo add-apt-repository ppa:hui.wang

[2020-08-10 08:43] #2114 closed

[2020-08-10 09:05] udaymb commented on #2329
This is the output in waddledoo - which gives Headphone Jack Switch
<img width="306" alt="amixer" src="https://user-images.githubusercontent.com/62392729/89763828-e9ff3e00-db10-11ea-90ef-dab001aa1f3d.png">

The output is similar in cml - Helios/hatch
Please can you confirm what should be the expected result look like?

[2020-08-10 10:17] naveen-manohar commented on #2329
I feel the control name for headphone jack for all i2s boards are taken from machine driver: SOC_DAPM_PIN_SWITCH("Headphone Jack") and then append with 'Switch' by asoc_simple_parse_pin_switches()
to finally list as "Headphone Jack Switch"

And for Soundwire, its like in https://github.com/thesofproject/linux/issues/2242#issuecomment-654581726

[2020-08-10 10:23] lgirdwood commented on #2748
@hweom one more thing to check - can you disable pulseaudio (and make sure it's not running - it can respawn) and check each PCM device directly with aplay for speakers (whilst trying alsamixer). This will rule out any mixer changes via pulseaudio and allow you to target one PCM device at a time.

[2020-08-10 22:54] jairaj-arava commented on #2283
Hi @keyonjie ,
As per the update from TCSS team, all the required patches are already merged in CPFE google tree (images from #13396 will the changes). There is only patch related to RTD3 & is yet to merged (https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/2339936/1).

Even with these patches, TCSS team is still observing ~600ms no_irq resume delay and there are debugging

[2020-08-11 01:51] keyonjie commented on #2283
@jairaj-arava thanks for the update, I think 600ms for no_irq resuming can be tolerated for the coming release.

[2020-08-11 04:28] bardliao commented on #2344
@plbossart I think I know the reason of ``IO transfer timed out`` now. We got an interrupt immediately after rt700 is enumerated. However, rt700 go into suspend right after that. See log below
[code]

Now see sdw_handle_slave_alerts(). We call pm_runtime_get_sync() while rt700 is just suspended.
I don't think rt700 is already resumed when ``pm_runtime_get_sync`` returned and then ``sdw_read(slave,

[2020-08-11 04:43] hweom commented on #2748
Hmm, I've tried to google up some examples of `aplay`/`speaker-test` and I see people have some actual speaker devices in their `aplay -L`, but I have only this:

[code]

And when I try `speaker-test`, no sound comes out:

[code]

(Pulse audio is not running, verified with `ps aux | grep pulse` before and after running `speaker-test`.)

`alsamixer` shows all controls maxed out.

[2020-08-11 06:37] RanderWang commented on #2748
@hweom Do you try legacy hda driver instead of SOF ?  Can you make sure speaker works on this laptop ?  There is no difference between headphone and speaker in SOF driver side. If the speaker works, it is more likely linked to codec drver in patch_realtek.c

[2020-08-11 12:34] lgirdwood commented on #2748
@hweom you can aplay to any of the PCM devices using the ```-DhwX.Y``` cmd line option where X is card and Y is PCM as listed from /proc
[code]

[2020-08-11 14:50] #1379 closed

[2020-08-11 15:07] udaymb opened #2353 "[Bug][JSL] Kernel panic observed during warm reboot cycling with peripherals connected"
Panic is observed on Waddledoo. Issue is not seen in all Waddledoo boards (2 out of 5 boards seen)
Kernel panic observed during warm reboot cycling with peripherals connected

**Peripherals connected**
1. 4K Monitor via DP to Type-C Adapter (Startech)
2. USB 3.0 Pendrive
3. Type-C hub with USB Mouse.
4. USB Keyboard.

**Steps to reproduce**
1. Run warm boot device health check script with peripher

[2020-08-11 16:18] plbossart commented on #2344
Great work @bardliao

[code]

I think the last suspend is a system suspend.

it looks like we have a race condition with a system suspend happening immediately while we are still dealing with a device interrupt and we have a pending transaction. On the next system resume, there is a timeout and an error, but that doesn't seem to be a real problem. The error happens in a workqueue.

I think we shou

[2020-08-11 16:25] plbossart commented on #2344
@bardliao can you try https://github.com/thesofproject/linux/pull/2354, not sure if this helps?

[2020-08-11 23:09] plbossart commented on #2346
Why the HDA label when this happens on a SoundWire platform where HDA is not used at all?

[2020-08-11 23:18] plbossart commented on #1801
merged, closing

[2020-08-11 23:18] #1801 closed

[2020-08-11 23:21] plbossart commented on #306
@keyonjie @kv2019i no answer -> closing

[2020-08-11 23:21] #306 closed

[2020-08-12 00:17] hweom commented on #2748
Got it, thanks. Here's what I have (I assume it should be `-DhwX,Y`, otherwise I get "No such device" error):

[code]

[2020-08-12 00:33] ranj063 commented on #1987
@plbossart sorry missed this earlier. My guess is it is because we dont have a codec dai in the path. I can investigate a bit more and update

[2020-08-12 01:31] plbossart commented on #2748
@hweom we don't support mono, so either use a 2ch wave file or use -Dplughw: instead of -Dhw: (it will convert for you).

[2020-08-12 01:39] bardliao commented on #1969
@jack-cy-yu Are you saying it is a HW limitation? Can we fix it on codec driver? The patch below works on my side. You may want to move the delay to a better position. Maybe we can use module_param to adjust the delay time for different projects.
[code]

@singalsu Can you test the patch on your side?

[2020-08-12 02:09] hweom commented on #2748
Ah, thanks. Tried that, the error is gone but still no sound.

[2020-08-12 02:42] aiChaoSONG opened #2355 "[CI][CML][SDW] IO transfer timed out in suspend/resume test"
**Description**
An error of "IO transfer timed out" is observed in suspend/resume case in our CI daily report. With a CML_SDW_RVP device, this can be manually reproduced.

**To Reproduce**
1. run `sudo rtcwake -s 5 -m mem`
2. check dmesg, should see the error.

**Environment**
Platform: CML_RVP_SDW
OS: Ubuntu 20.04
Kernel: topic/sof-dev    ab1be7c
FW: master    5b4b5532

[code]

[dmesg.txt](https:

[2020-08-12 03:00] aiChaoSONG commented on #2355
close for duplicated with #2344

[2020-08-12 03:00] #2355 closed

[2020-08-12 03:17] bardliao commented on #2344
Thanks, @plbossart it works. But it should be ``if (cdns->interrupt_enable)`` below. We need to schedule the workqueue if interrupt is enabled.
[code]

[2020-08-12 05:10] ranj063 commented on #1987
@plbossart so this is mainly because of the fact that the endpoint widgets are missing in the dummy codec component driver.
This results in 0 audio paths when a PCM is started. Unfortunately, the fix for this isnt as simple as adding those EP widgets in the codec component driver either because when probing components during card registration, the dummy component is ignored. https://github.com/the

[2020-08-12 05:12] libinyang opened #2356 "[BUG][EHL] SOF takes ~60 seconds to finish the initialization w/o "i915.force_probe=$ID""
Describe the bug
SOF will take a long time to finish the initialization on EHL platform.

To Reproduce
reboot the EHL and run dmesg to check whether SOF finished initialization or not.

Reproduction Rate
3/3

Expected behavior
SOF finishes the initialization when user run `dmesg`

Impact
At the first several seconds, the audio can't be used.

[2020-08-12 05:16] RanderWang commented on #2748
The last method: install windows to check whether speaker is broken or not.

[2020-08-12 06:17] mengdonglin commented on #2113
ALSA maintainer prefers single profile UCM than multi-profile UCM. So closed this issue, as it's only reproduced with multi-profile UCM.

[2020-08-12 06:17] #2113 closed

[2020-08-12 06:17] mengdonglin commented on #2112
ALSA maintainer prefers single profile UCM than multi-profile UCM. So closed this issue, as it's only reproduced with multi-profile UCM.

[2020-08-12 06:17] #2112 closed

[2020-08-12 06:27] mengdonglin commented on #2356
@libinyang Can you provide the data how long for audio driver to finish initialization and your test kernel/FW/topology recipe?

[2020-08-12 07:02] libinyang commented on #2124
with the latest recipe:

UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: http://sof-ci-storage.sh.intel.com/share/alsa/alsa-lib/latest/libasound2_1.2.3.2-a3ca480/
Pulseaudio: http://sof-ci-storage.sh.intel.com/share/pulseaudio/latest/pulseaudio_13.99.1.1-47d8112/
Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
sudo add-apt-repository ppa:hui.wang

[2020-08-12 07:02] #2124 closed

[2020-08-12 07:20] libinyang commented on #2346
@plbossart Thanks for pointing it out. The description is updated

[2020-08-12 07:41] xiulipan commented on #2353
@kv2019i Could you take a look at this? Looks like some HDMI HDAC related issue
[code]

[2020-08-12 09:54] singalsu commented on #1969
@bardliao Sure, thanks for the patch! I'll borrow the device and test.

[2020-08-12 10:02] libinyang commented on #2128
with the latest recipe:

UCM2: https://github.com/alsa-project/alsa-ucm-conf(commit: 3e897306)
Alsa-lib: https://github.com/alsa-project/alsa-lib (commit a3ca480)
Pulseaudio: https://gitlab.freedesktop.org/pulseaudio/pulseaudio (commit 47d8112)
Gnome: 1:3.36.2-0ubuntu1++testswitch - can download form Canonical:
sudo add-apt-repository ppa:hui.wang/switch-audio
sudo apt-get update
sudo apt install

[2020-08-12 10:02] #2128 closed

[2020-08-12 10:07] libinyang commented on #2131
This bug is still reproduced on the latest pulseaudo + gnome + alsa-lib + UCM

I can reproduce this issue even with `aplay` with the alsamixer setting correctly. After disabling pulseaudio, I can't reproduce this issue with more than 10 times trys.

[2020-08-12 13:28] lgirdwood commented on #2748
@RanderWang see previous comments - speakers work in windows.
@hweom IIUC the speakers should be hooked up to either PCM 0,0 or PCM0,1 below
[code]
Please try the following
[code]

This will play 30 seconds of **loud** noise on both the above PCM devices. If there is no audio after traying all alsamixer settings then it could be an external AMP that is not known to Linux (or something similar betw

[2020-08-12 14:41] ranj063 commented on #1987
It looks like this commit was purposely added to avoid probing the dummy component and avoid creating widgets for the dummy DAI. 6e78108bda78adbb2d4ef55ec60a388aba975797

[2020-08-12 15:30] plbossart commented on #2356
Indeed, this issue is somewhat useless as is. Please provide dmesg data, alsa-info, etc and start with a manual modprobe snd-sof-pci to make the measurements simple (without all the boot parts unrelated to SOF).

[2020-08-12 15:35] plbossart commented on #2131
If you disable PulseAudio, you also disable UCM, no? I don't get the last sentence at all.

[2020-08-12 15:40] plbossart commented on #1987
I am still struggling to understand the severity of this sighting. Is DAPM widgets are off, does this mean DAPM is also disabled de-facto with dummy-dais?

[2020-08-12 16:38] hweom commented on #2748
Yes, I've tried blacklisting the SOF driver, but legacy intel driver is not able to recognize my card (I get only Dummy Output).

Yes, as commented above, speakers work in Windows.

[code]
No sound via speakers. Notice that playing through hw:0,1 fails -- is this expected?

What's the best way to debug this? It looks like this problem is widespread -- I've seen many forum threads for the same lapt

[2020-08-12 16:48] plbossart commented on #2748
make sure you also don't have a blacklist for snd-hda-intel, and you may also need to use
"options snd_intel_dspcfg dsp_driver=1"

[2020-08-12 17:09] hweom commented on #2748
Right, I thought about the same thing. With `options snd_intel_dspcfg dsp_driver=1` intel driver is loaded:

[code]

However, the intel driver behaves exactly like the SOF -- I have sound via headphones but not through speakers. Tried `aplay -vvv -Dplughw:0,0 -f dat -d 30 /dev/urandom` too.

[2020-08-12 17:14] ranj063 commented on #1987
@plbossart it certainly looks like DAPM is disabled for the dummy dais. There are no output/input widgets or routes in the definition of the dummy codec. I added those in the dummy codec as @bardliao  suggested and removed the patch https://github.com/thesofproject/linux/commit/6e78108bda78adbb2d4ef55ec60a388aba975797 and now I can see that the widgets are on as they're supposed to be. What I adde

[2020-08-12 17:15] kv2019i commented on #2353
@udaymb Does this kernel have the following patches from upstream:
- https://github.com/thesofproject/linux/pull/2167

If above is in the kernel, then please check also these patches from upstream:
- "ASoC: SOF: enable sync_write in hdac_bus"
- "ASoC: SOF: Intel: hda: Clear RIRB status before reading WP"

[2020-08-12 17:23] ranj063 commented on #1987
The patch disables DAPM for a specific reason that the dummy dai's can used by multiple cards. One way I think we can fix this problem if we really care about the DAPM power status with the nocodec mode is define our own sof-dummy-codec but I dont know how it would be recevied upstream

[2020-08-12 17:52] plbossart commented on #1987
could we make that behavior configurable and opt-in, e.g. in the card we add a field that says we want to deal with the dummy-dais.

[2020-08-12 17:57] ranj063 commented on #1987
@plbossart what if multiple cards set the same field?

[2020-08-12 18:00] plbossart commented on #2748
@hweom it could be simple (bad mixer settings) or really complicated (bad driver settings).
For the first case, try and look with amixer -Dhw:0 controls or alsamixer, if for some reason you see a muted output.
For the second case you'd need to work with Realtek/Lenovo to understand the codec configuration.

[2020-08-12 18:16] plbossart commented on #1987
I still don't get what the issue was with multiple cards to be honest

[2020-08-12 18:33] ranj063 commented on #1987
@plbossart if we had multiple cards using the dummy dai, we'd fail here while checking if the component is bound to this card or not.
https://github.com/thesofproject/linux/blob/8ce8c4f3c93571e4e6e6dcd798c018f829ede6fb/sound/soc/soc-core.c#L1166

[2020-08-12 18:35] ranj063 commented on #1987
On a side note, do you think we should add some DAPM power status related test to our test suite? It might be helpful in debugging issues with PM.

[2020-08-12 18:42] plbossart commented on #1987
This gives me a migraine.

[2020-08-12 18:57] plbossart commented on #1931
Assigned P2 priority since suspend-resume support is pretty much a required feature for any platform.

[2020-08-12 18:59] plbossart commented on #2019
@lyakh does your recent firmware/topology changes solve this issue?

[2020-08-12 19:01] plbossart commented on #2055
@macchian @kv2019i no update since May 13, is this a real issue?

[2020-08-12 19:04] plbossart commented on #2329
@naveen-manohar @udaymb @sathyap-chrome @Liviali155 this doesn't seem like a real issue, and it's a codec issue anyways, not relevant for SOF bugs?
Any objections to closing this?

[2020-08-12 19:14] plbossart commented on #2229
@naveen-manohar @ryans-lee @bardliao @RanderWang

I don't know if this relevant but I see a difference with other codecs, the following code is present for all other codec drivers and missing here:

[code]

[2020-08-12 19:19] sathya-nujella commented on #2329
not relevant, we can close this. Thank you!

[2020-08-12 19:27] #2329 closed

[2020-08-12 19:29] plbossart commented on #2205
@lyakh this may also be a duplicate of the dw-dma issues?

[2020-08-12 19:30] plbossart commented on #2311
@kv2019i FYI in case your missed this.

[2020-08-12 20:28] hweom commented on #2748
I've tried toggling every single control in amixer, without luck.

Do you know if there is a usual path/channel to talk to Lenovo about this kind of stuff? I've opened a support ticket, but it was immediately closed with a comment that Lenovo doesn't support Linux on this model. The required fixes *do* get implemented  eventually, right? How this is usually done?

[2020-08-12 20:52] plbossart commented on #2748
@hweom i've alerted my contacts to this issue, but it's not my place to comment on 3rd party support and which models are supported.

[2020-08-12 21:25] hweom commented on #2748
Thanks Pierre-Louis!

Yes, the usual workflow for getting Linux support for new HW is a complete black box to me, so I apologize if I ask too many questions or create too much commotion :)

If there is anything I can do to help, please let me know. I do C/C++ programming for life, but zero experience/knowledge with Linux kernel or sound.

[2020-08-12 23:37] mrhpearson commented on #2748
Hi,

Consider Lenovo notified :) (thanks Pierre-Louis for bringing it to my attention). I'll see what I can track down.

Just to set expectations - the S470 is not a Linux supported platform. That means I have quite limited levers I can pull on to get support. I've asked if I can get details on the audio topology and any information that might help Linux audio experts figure out what is missing.

[2020-08-13 00:04] ranj063 commented on #1987
@plbossart maybe I can check with Mark as to what we can do about this scenario. I think it would be useful for us in terms of debugging PM issues with the nocodec mode to have DAPM enabled. What do you think?

[2020-08-13 00:21] hweom commented on #2748
Thanks Mark and Pierre-Louis, I really appreciate your help!

(I think you just mistyped, but just in case - it's S740, not S470.)

[2020-08-13 01:35] RanderWang commented on #2748
SOF driver & legacy HDA driver share the same codec driver patch_realtech.c.  If both can't work, you may need to ask realtech for help.

[2020-08-13 01:58] RanderWang commented on #2229
@plbossart , according to log, it could be fixed by the patch "if (!slave->unattach_request) goto regmap_sync;". The issue was reported before this patch merged.  "If (!max98373->hw_init)" can harden the codec driver. @naveen-manohar  please try it

[2020-08-13 02:44] RanderWang commented on #2229
I checked the code and log again.  slave->unattach_request will be set to non-zero in intel_resume, so it can't fix this issue. It is weird that 98373:7 resumed successfully but 98373:3 failed. We need to enable sdw log to check the communication between master and slaves.

[2020-08-13 05:52] RanderWang commented on #1331
I can reproduce it on RKL

[2020-08-13 06:21] mengdonglin commented on #1331
Thank you @RanderWang @kv2019i This seems to be a common issue for ALC711 codec in HD-Audio mode. And legacy HD-Audio driver can also reproduce the pop noise. So close it as won't fix.

[2020-08-13 06:21] #1331 closed

[2020-08-13 06:21] RanderWang commented on #1331
I agree with @kv2019i . It is very likely a codec issue

[2020-08-13 06:33] RanderWang commented on #2229
I will set up the test on my Volteer and check my status.

[2020-08-13 08:47] udaymb commented on #2353
@kv2019i -
https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.4

#2167 and ASoC: SOF: Intel: hda: Clear RIRB status before reading WP **does not exist**
ASoC: SOF: enable sync_write in hdac_bus - **this patch exist**

[2020-08-13 09:44] lyakh commented on #2019
@plbossart I just tried and I was unable to reproduce this issue with 2 * 50-iteration runs.

[2020-08-13 11:38] lyakh commented on #2205
@plbossart Just from the error message this doesn't look like a duplicate to me, but I've just tested it with my fix applied and indeed I couldn't reproduce it over a 100 repetition test (I had to modify the script to get it to run at all, but that's unrelated).

[2020-08-13 12:32] plbossart commented on #2019
Thanks @lyakh let's close then.

[2020-08-13 12:32] #2019 closed

[2020-08-13 12:35] plbossart commented on #2205
ok, let's close as well then. I only saw this once in test reports and it was nearly 2 months ago, so this is probably irrelevant now.

[2020-08-13 12:35] #2205 closed

[2020-08-13 15:41] plbossart opened #2361 "Up2-nocodec: sof-logger / ldc failure in capture/playback test"
Adding issue to keep track of problem reported here: https://sof-ci.01.org/linuxpr/PR2357/build4293/devicetest/

[2020-08-13 15:42] plbossart commented on #2361
@marc-hb @lyakh FYI.

[2020-08-13 22:22] marc-hb commented on #2361
Quoting myself from #2357 :

We started paying more attention to the sof-logger (and there's more coming, see https://github.com/thesofproject/sof-test/issues/297 and 298)

The two failures in https://sof-ci.01.org/linuxpr/PR2357/build4293/devicetest/ look basically the same:

[code]
At the bottom of the (long) `slogger` tab:
[code]

[2020-08-13 23:13] plbossart opened #2365 "replace -ENOTSUPP by -EOPNOTSUPP"
checkpatch now complains about this:

[code]

we have quite a few cases where we use -ENOTSUPP, let's see when they can be changed.

[2020-08-13 23:13] plbossart commented on #2365
@lyakh @kv2019i @ranj063 @bardliao @RanderWang @keyonjie FYI.

[2020-08-14 02:51] libinyang commented on #2356
I checked this issue on another board, without "i915.force_probe=$ID", it takes about 1 min to finish the initialization. After adding the kernel parameter, the boot latency is normal. And I checked the EHL in CI pool, it has added this parameter. So the boot latency seems OK. And I manually unload&load snd-sof-pci to check this issue. It seems OK. So it maybe another issue. I will continue checki

[2020-08-14 04:22] juimonen commented on #2356
@libinyang in RKL this is because without force_probe the correct i915 driver is not loaded and hda has 1 min timeout waiting for binding to it... I think this is some feature when i915 driver is in alpha, you need to force probe it.

[2020-08-14 06:35] kv2019i commented on #2311
Ack  @plbossart , I can take a look at this.

[2020-08-14 07:11] lyakh commented on #2361
yeah, doesn't look like an "audio problem" to me either

[2020-08-14 08:15] paulstelian97 commented on #2361
ldc failure means that for some reason the active firmware image and ldc file aren't from the same build, or you use an old version of sof-logger that cannot properly decode the ldc file. Sounds like a CI problem.

[2020-08-14 08:19] libinyang commented on #2272
@askmish I don't have TGL to test now. But I tested it on CML platform and it works well now. As Pierre mentioned, we don't think this is an SOF issue. It's more like a UCM/Pulseaudio issue. As pulseaudio & alsa-lib has merged some key patches to switch the sinks correctly. Could you please have a try on a updated pulseaudio, alsa-lib?
I'm working on the recipe:
- UCM2: https://github.com/alsa-pro

[2020-08-14 09:22] libinyang commented on #2356
This bug is very weird. The dmesg shows normally and it passed the test if we trigger test plan 2 in https://sof-ci.sh.intel.com/#/test/testplanlist manually.

[2020-08-14 15:46] plbossart commented on #2361
it could very well be a CI problem but why would it affect only this platform?

[2020-08-14 15:54] paulstelian97 commented on #2361
The test machine maybe has an older version of sof-logger or some misconfiguration.

[2020-08-14 15:55] paulstelian97 commented on #2361
Although I think it should have said "ABI mismatch" instead.

[2020-08-14 15:57] singalsu commented on #1969
@bard @jack-cy-yu In my test here applying your patch fixes the capture start: Here's 355c0de437108303f1210719c4803a9766034529 without the fix:

![Screenshot from 2020-08-14 18-56-20](https://user-images.githubusercontent.com/28754793/90268593-e98fdb80-de5f-11ea-8e94-5762bfad2cd8.png)

And here's with your fix included. It looks nice:

![Screenshot from 2020-08-14 18-56-35](https://user-images.git

[2020-08-16 13:44] #2344 closed

[2020-08-17 00:25] libinyang commented on #2356
@juimonen Yes, and I have checked that the EHL DUT in CI has already added the 'force_probe' kernel parameter and the boot latency is much better but it still failed to pass the test.

[2020-08-17 02:57] mengdonglin commented on #2356
To file a new bug to track CI daily test failure.

[2020-08-17 02:57] #2356 closed

[2020-08-17 05:14] mengdonglin commented on #2361
@marc-hb Can you help check this issue?

[2020-08-17 17:53] AtjonTV commented on #2748
I am having the same issues on a HP Omen 17 (2019 Edition with nVidia 2080 [TU104]) running Gentoo Linux on Kernel 5.8.1.

It also has the Intel Cannon Lake PCH cAVS audio device. The only thing I managed to get is the nocodec dummy driver to load.

Without the dummy installed the right driver cant be found:

[code]

I have nearly every SOF flag in the Kernel enabled.

The speakers work (tested on

[2020-08-17 18:03] AtjonTV commented on #2748
I have got it working by setting `options snd-intel-dspcfg dsp_driver=1` in a file in `/etc/modprobe.d/` and then reloading the `snd_hda_intel` kernel module.

It only shows stero output and the mics wont show/work, but I dont care about those anyway ..

Running `aplay -l` it now shows a result of

[code]

[2020-08-17 18:24] plbossart commented on #2748
You're probably missing CONFIG_SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH

[2020-08-17 19:02] AtjonTV commented on #2748
Nope, its build as a Module

[2020-08-17 21:37] plbossart commented on #2748
can you add this file
[ddebug.txt](https://github.com/thesofproject/sof/files/5086909/ddebug.txt)
as /etc/modprobe.d/sof-ddbug.conf and retry (remove the options snd-intel-dspcfg dsp_driver=1), then attach the dmesg log.
I am really curious as to why there's no machine here, it's been a long time since we saw this.

[2020-08-18 05:01] AtjonTV commented on #2748
There is not much:

[code]

I have added that config, removed that other option, killed pulseaudio, unloaded and loaded the `snd_hda_intel` module and started pulseaudio again.

There is only the HMDI output device listed by pulse.

[2020-08-18 05:04] AtjonTV commented on #2748
I tried to revert what I just did to get audio back and noticed that the deprecated `options snd_hda_intel dmic_detect=0` was the cause of the audio working, not the one option I said earlier.

So with `/etc/modprobe.d/audio.conf` containing:
[code]

Audio output is working for me

[2020-08-18 05:28] macchian commented on #2055
As per customer's report, they can not reproduce on specific OS image above and the bisect result indicate the regression issue on Chromium changes not kernel changes. We can close it until any clue pointing to kernel side by reopen.

[2020-08-18 05:28] #2055 closed

[2020-08-18 09:50] kv2019i commented on #2353
@udaymb Thanks for looking up. I think especially #2167 is worth backporting and seeing whether it affects occurence rate. The "Clear RIRB status" patch has much lower probability of helping out, but worth cherry-picking as well. It is also good to test whether the repro steps of the bugs #2156 and #2154 trigger the issue on the system where this kernel panic was reported.

[2020-08-19 00:24] ranj063 commented on #1987
@plbossart after seeing Mark's response, @bardliao and I feel that this is expected behaviour with the dummy DAIs and probably left as it is. Adding a simple codec just to see the DAPM power updates doesnt feel like it is really critical for the nocodec machine driver. What do you think?

[2020-08-19 00:45] plbossart commented on #1987
@ranj063 @bardliao we have more interesting things to do, I vote for a WON'T FIX status. This is a framework problem with almost no ROI for us.

[2020-08-19 00:51] bardliao commented on #1969
Fixed by https://github.com/thesofproject/linux/pull/2358

[2020-08-19 00:51] #1969 closed

[2020-08-19 07:45] mengdonglin commented on #1987
@ranj063 it seems Mark doesn't want to enable DAPM for Dummy DAIs, but suggest introduce a "simple codec driver":  https://mailman.alsa-project.org/pipermail/alsa-devel/2020-August/172463.html

Do you think we can close this issue as won't fix and create a new feature to follow up?

[2020-08-19 08:36] #1621 closed

[2020-08-19 08:37] #1824 closed

[2020-08-19 09:30] keyonjie commented on #1987
This is actually still a hole for us if we can't fix it, which will make the nocodec machine driver much less useful for us, as we can't use it to cover any PM related features.

[2020-08-19 12:56] plbossart commented on #1987
what failure are you referring to here? this looks hypothetical to me.
Also I did mention that you guys are abusing nocodec topologies for your CI tests...

[2020-08-19 16:13] ranj063 commented on #1987
@mengdonglin Im not sure we need to create a new feature for follow up. Im not sure what advantage adding this simple codec will bring other than being able to see the DAPM power status of the widgets.

[2020-08-19 20:25] torotil opened #2375 "[BUG] Lenovo C940 no bass when playng via headphone jack"
**Describe the bug**

I got sound working on my Lenovo Yoga C940 (i7-1065G7 Ice Lake). As expected not all of the speakers are working (https://bugzilla.kernel.org/show_bug.cgi?id=205755#c4). In addition to that I don’t get any bass from the headphone jacks.

**To Reproduce**
Play some music when the headphones are plugged (using any player or even aplay). Result: Music is playing but lower freque

[2020-08-19 21:05] plbossart commented on #2375
I am afraid this is again a codec configuration issue, not really something where SOF developers can help

[2020-08-20 02:11] keyonjie commented on #1987
like check-runtime-pm-double-active.sh, check-runtime-pm-status.sh, these cases will fail with nocodec machine.

um, IMHO, it depends on how you define the "nocodec", if the intention of the existence of this "nocodec" is to help people verify kinds of features on platforms where the parts of endpoints are not ready (e.g. SSP codecs not connected, i915 driver is not ready, DMICs not connected, ...

[2020-08-20 05:51] juimonen commented on #2375
@torotil as @plbossart said we are not probably doing anything in SOF to make this happen... Have to say I've never heard/seen this kind of problems. I don't think we currently have any high-pass filters etc. on the playback path in DSP that could even accidentally remove your bass. Only thing I could think of is that there's some kind of filtering in the codec for the special 5 speaker setup and

[2020-08-20 06:01] torotil commented on #2375
@juimonen @plbossart thanks for taking the time to like at this and answer!

Yes, it does sound like some high-pass filtering is enabled. Would the kernel bugzilla be the right place to post this?

[2020-08-20 16:25] plbossart commented on #1987
No, they should not. pm_runtime should work regardless on DAPM being enabled or not.

I think we have to be very careful. Every time we introduce test tools, we need to have a means to 'test the tester', and I really don't see this mindset so far.

The intent of the nocodec mode was that we could inject or retrieve data to verify the audio interfaces with e.g. Logic Pro or Audio Precision. With al

[2020-08-21 01:20] RanderWang commented on #2229
yes, I cached this error and will debug it.

[code]

[2020-08-21 02:03] RanderWang commented on #2229
share more details. The 98373:0:3 detached after attachment,  so initialization_complete is false. And 98373:0:7 got bus clashed, so connection was unstable ?
[code]

[2020-08-21 02:16] keyonjie commented on #1987
The DAPM widgets status will impact the pm_runtime status, if they are off where they should actually be on, then there could be error like the PCI device is in runtime suspended where it should be active, we hit this kind of issues.

The point for "test the tester" is good, that's what we have been doing with reporting and fixing issues to sof-test.

The active part which motivate us to implement

[2020-08-21 14:35] plbossart commented on #2229
@bardliao @RanderWang we may have an issue with the code with this sequence

a) device attaches and init_completion() is called
b) device enumerates
c) resume waits for completion()
d) device loses sync and reattaches, then init_completion() is called again

This would break the assumption that init_completion is done() before wait_for_completion(). I don't know if this can work at all.

But the o

[2020-08-24 02:46] keyonjie commented on #2212
Not seeing this recently with CI daily.

[2020-08-24 02:57] keyonjie commented on #2361
@plbossart so what's the issue here? CI provided inaccurate info?

[2020-08-24 07:40] juimonen commented on #2361
@keyon the question is why is the CI machine having incompatible versions of fw and debug file, or is this because of some other reason...

[2020-08-24 07:42] RanderWang commented on #2229
@plbossart @bardliao
For S3 case, master is resumed first and if a alert message is received or processed prior to attached message, then we will invoke sdw_handle_slave_alerts which calls pm_runtime_get_sync(&slave->dev).  In this case hw_init (updated in sdw_update_slave_status for attached case) is false, so resume function will just return 0 at "if (!hw_init) return 0";  It is not correct sinc

[2020-08-24 07:48] RanderWang commented on #2229
The patch of adding hw_init check was not included in last failed case. I tested the latest kernel driver which passed 2000 cycles test. So the patch takes effect.  Another issue is the rt5682 was broken on volteer after a few days test. It doesn't send attached message to master. Now I modify the topology and machine driver to remove it and go on with 3000 cycles test on 98373.

[2020-08-24 08:01] RanderWang commented on #2229
if the device loses sync,  it will have maximum of 2 seconds to complete init and signal resume function. There is a potential risk for 2 seconds. We can do it as:
[code]

[2020-08-24 14:44] plbossart opened #2379 "GLK: sof-logger issue?"
tracking https://sof-ci.01.org/linuxpr/PR2378/build4363/devicetest/

GLK tests show this for sof-logger:
"invalid number of parameters"?

This may be an SOF, sof-test or kernel issues, we'll transfer the issue as needed.

@fredoh9 we'll need your help on this one.

[2020-08-24 14:46] plbossart commented on #2361
we have another sof-logger issue #2379
This really pollutes our CI results, needs to be fixed.

[2020-08-24 15:01] plbossart opened #2380 "ICL firmware boot errors"
We really need to solve this, this keeps polluting CI results:

https://sof-ci.01.org/sofpr/PR3296/build6981/devicetest/

[code]

Also seen on 02_01_TestPtpSimpleLoopbackMasterPlayback48000Hz32b32b8ch firmware tests
https://sof-ci.01.org/sof-pr-viewer/#/build/PR3296/build5404075

[2020-08-24 18:46] ranj063 commented on #2380
@plbossart I dont think this a kernel issue. The driver does the right thing. It is more of a CI issue where it needs to realize that firmware boot can take more than 1 iteration.

[2020-08-24 18:47] ranj063 commented on #2380
sof-test issue related to this: https://github.com/thesofproject/sof-test/issues/340

[2020-08-24 21:16] plbossart commented on #2380
@ranj063 I can flip the argument and ask why the kernel flags an error when it should only complain when the last iteration fails.
The intermediate errors should really be warnings. It's not the job of CI scripts to translate error/warning levels, the kernel should do a better job here.

[2020-08-24 21:42] fredoh9 commented on #2379
Yup, I'm looking at it.
In terminal,
[code]

I see this error in check-runtime-pm-status.sh's slogger ater ssp_stop().
[code]

Looking at around logger/convert.c
[code]

[2020-08-25 01:26] RanderWang commented on #2229
This issue can't be reproduced with the commit: fbd64e3bd54e27f8106a21e79119ce87e8d3da9b

[2020-08-25 02:15] RanderWang commented on #2229
@naveen-manohar  can you help to validate this commit on your branch ? thanks!

[2020-08-25 03:09] naveen-manohar commented on #2229
Hi @RanderWang
The Soundwire Board at my end has gone bad and @sathya-nujella has started to ship another working board to BA.
Meanwhile we are waiting for 0.7 backport on GToT, soon thats done, we will add commit:fbd64e3 and get DPMO validation, including rechecking of this test.

[2020-08-25 07:23] RanderWang commented on #2229
@naveen-manohar  thanks. Also my board is degenerating quickly.

[2020-08-25 08:51] Valerio1474 opened #2393 "[Regression] No sound on kernel 5.8 series on systems with no i915"
**Describe the bug**
Hello,

I don't know what might be changed from kernel 5.7.x to kernel 5.8.x but the sound has stopped working under the newest kernel. I thought that the 1.5.1 firmware could fix the problem, but to no avail.

**To Reproduce**
Compile and boot any 5.8.x kernel with same options I have on 5.7.x

**Reproduction Rate**
Always

**Expected behavior**
The expected behavior is to se

[2020-08-25 08:56] Valerio1474 commented on #2393
[5.8.3_dmesg.txt](https://github.com/thesofproject/sof/files/5122508/5.8.3_dmesg.txt)
Here the dmesg from the newer 5.8 kernel
Excerpt:
[    2.243044] skl_hda_dsp_generic skl_hda_dsp_generic: ASoC: error at snd_soc_card_add_dai_link on sof-hda-dsp: -22
[    2.243329] sof-audio-pci 0000:00:1f.3: error: tplg component load failed -22
[    2.243347] sof-audio-pci 0000:00:1f.3: error: failed to load D

[2020-08-25 09:19] lgirdwood commented on #2393
@kv2019i @plbossart fyi

[2020-08-25 14:00] xiulipan commented on #2380
@ranj063 Agreed with @plbossart why we should print an error message when this actually is not an error.
PS: I also see same issue on CML these days, seems some change will make the FW boot retry happen more often.

[2020-08-25 14:16] xiulipan opened #2385 "[GLK][da7219]codec warning: SRM failed to lock"
We can see error message from codec da7219 on GLK DA7219 platforms

[code]

Logs from https://sof-ci.01.org/linuxpr/PR2384/build4375/devicetest/
https://sof-ci.01.org/linuxpr/PR2384/build4375/devicetest/GLK_BOB_DA7219/check-playback-all-formats/dmesg.html

[2020-08-25 15:47] plbossart commented on #2385
@xiulipan @fredoh9 Is this a new issue? I don't get why we see this error now, and regardless this isn't a problem we can fix for SOF, it's a codec issue, no?

[2020-08-25 16:03] plbossart commented on #2393
Looks like an HDMI issue to me:

[code]

@Valerio1474 I know it's painful but do you have a means to bisect between the old and new kernel?

[2020-08-25 16:30] fredoh9 commented on #2385
Ignoring this error,
https://github.com/thesofproject/sof-test/pull/349

[2020-08-25 16:36] Valerio1474 commented on #2393
Hi @plbossart, in the past I've tried to bisect the kernel to help to solve a couple of bugs: sometime I've been successful and sometime I've been not. Before that I start doing something I'm not so comfortable with, can you exclude that I'm missing a firmware file, a symbolic link, a configuration file (those things I've set up for my previous bug [https://github.com/thesofproject/linux/issues/21

[2020-08-25 16:45] kv2019i commented on #2393
@Valerio1474 Hmm, I think it's caused by this regression:

https://github.com/thesofproject/linux/issues/2261

Fixed in upstream with
"ASoC: intel/skl/hda - fix probe regression on systems without i915"
https://lore.kernel.org/r/20200714132804.3638221-1-kai.vehmanen@linux.intel.com

The fix is in 5.9-rc2, but not yet backported to any 5.8 kernel.

[2020-08-25 17:01] fredoh9 commented on #2380
related PR is https://github.com/thesofproject/linux/pull/2382

[2020-08-25 17:08] Valerio1474 commented on #2393
Hi @kv2019i, if you are guessing right it would be a lot of spared time, so I'm compiling the 5.9-rc2 kernel.
Edit: kernel is not correctly producing deb packages... Going through the classic make process...
Edit2: It was the missing lz4 compressor

[2020-08-25 17:42] Valerio1474 commented on #2393
Hi @plbossart @kv2019i, I was finally able to compile and boot the 5.9-rc2 kernel and I can test the soundcard with:

and hear the white noise from my speakers.

Should I wait for the backport of the relative fix to 5.8 kernel before closing this bug?
![20200825_194000](https://user-images.githubusercontent.com/30036939/91208811-0d2e0e00-e70b-11ea-8265-c4992e796d17.jpg)

[2020-08-25 19:28] plbossart commented on #2393
@Valerio1474 thanks for testing, please keep this open until you see this sorted out in -stable.

[2020-08-26 01:59] RanderWang commented on #2111
let's track https://github.com/thesofproject/linux/issues/2255

[2020-08-26 01:59] #2111 closed

[2020-08-26 03:45] TheBlueMatt opened #2386 "Oops deref'ing 0000001800000000"
Trying to modprobe snd_sof_pci, I hit the following oops on 5.8.3 (with Debian patches). THis is on a Dell Precision 5750:

[code]

Full oops:
[code]

[2020-08-26 04:00] TheBlueMatt commented on #2386
Ah, this appears to have been because only half of the firmware was available on the first load, and then an rmmod && modprobe provided the second half but hit this oops. Doesn't show up on a clean load so not exactly high priority.

[2020-08-26 08:44] mengdonglin commented on #2334
This issue is observed in CI daily test randomly on CML RVP and CML Mantis, but cannot be reproduced locally. It doesn't impact audio functionality.

[2020-08-26 08:53] lyakh commented on #2334
Update: this issue isn't present in the latest daily tests either. But it is unclear from the daily results, whether re-loading the drivers recovers after this error since the testing stops with drivers unloaded.

[2020-08-26 15:26] plbossart commented on #2386
@TheBlueMatt out of curiosity, why is the SOF driver loaded: you don't seem to have any dmics?

[code]

Also the error on rmmod/modprobe is known, but if you use the scripts suggested here https://github.com/thesofproject/sof-test/tree/master/tools/kmod things should work.

[2020-08-26 15:29] TheBlueMatt commented on #2386
It appears the DMIC issue here is a side-effect of the rmmod&&modprobe. On a fresh boot:

[code]

[2020-08-26 15:29] #2386 closed

[2020-08-26 16:26] kv2019i opened #2388 "DP/HDMI playback broken after resume"
On multiple TGL systems, DP/HDMI playback fails to resume in following conditions:

1. Connect DUT to a external DP monitor via USB-C to DP dongle.
2. Play video content with audio routed to monitor
3. Put system to suspend
4. Wait 30+ sec
5. Resume system

Expected behaviour:

Video playback (including sound) continues to external monitor.

Actual behaviour:

Video playback resume but no audio ca

[2020-08-26 17:25] kv2019i commented on #2388
Fix submitted upstream as:
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-August/173101.html

[2020-08-26 17:36] kv2019i commented on #2310
@plbossart The end result of last ext-manifest deployment discussion was to do it on a platform basis. I.e. starting with platform N (which is not supported by any old kernels), all SOF FW released for platform N will have ext-manifest enabled. Nothing will break as any kernel that could be used on platform N systems, will also support extended manifest in firmware binary.

However, ICL is problem

[2020-08-26 18:15] plbossart commented on #2310
@kv2019i given all the firmware panics on HDaudio platforms, everyone will have to jump to firmware 1.6, including distros already on 5.4/5.5. 5.8 isn't going to be used for some time, it's barely out of the oven and the stable branch isn't updated yet.

We have to find a way to solve this. Maybe e.g. work with the stable branch folks so that this series is added - we could say it's a hardware-rel

[2020-08-27 00:49] RanderWang commented on #2255
update status:  I can reproduce this issue. no pop noise is generated with only stream of zero data. And I also check it with SSP loop back, no garbage data is captured. I don't think it is caused by FW for above evidence

[2020-08-27 07:54] juimonen commented on #2375
@torotil sorry about the delay... hmm I would ask first from Realtek folks do they have any idea (could be that kernel bugzilla is also good for that). @bardliao you have any idea from whom we could ask this in Realtek?

[2020-08-27 09:02] kv2019i opened #2391 "SOF does not support 2^n period sizes as expected by apps like JACK"
The current SOF generic PCM code sets a PCM constraint that period size needs to be a multiple of minimum period size. In most topologies, this minimi period size is 192.

This has been discussed in multiple instnaces (https://github.com/thesofproject/linux/issues/1761 , https://github.com/thesofproject/linux/pull/1717 ).

This does cause practical issues to a large number of users who want to run

[2020-08-27 09:45] RanderWang commented on #2255
if we test start-stop pattern,  stream of zero data also produce garbage data at beginning & end.  The difference of start-stop pattern and pause-release pattern is that SSP clk is stopped in start-stop case.

[2020-08-27 09:58] bardliao commented on #2375
I will contact with @shumingfan when I don't know who is the right person for this issue. @torotil The speaker issue is more like a codec config issue. However, for the headphone issue, what do you expect the bass? I think the only thing we can do is to check if there is any filter applied.

[2020-08-27 11:10] kv2019i commented on #2388
Fix merged upstream as: 858e0ad9301d1270c02b5aca97537d2d6ee9dd68

[2020-08-27 11:10] #2388 closed

[2020-08-27 13:06] plbossart commented on #2391
@kv2019i I think we've used 1ms for internal timers for convenience and likely a Microsoft requirement that tricked down to firmware on precision of audio timestampts.
We could change the topologies to use 32 samples, in theory that should work - if not it's a bug.

[2020-08-27 15:46] kv2019i commented on #2393
Fix picked to 5.8 stable as
https://git.kernel.org/pub/scm/linux/kernel/git/sashal/linux-stable.git/commit/?h=queue-5.8&id=322ed8850c263b6971e7ccf644fc37829b967325

... didn't quite make it to 5.8.5, but should be in 5.8.6. Thanks @Valerio1474 for reporting!

[2020-08-27 15:46] #2393 closed

[2020-08-27 18:53] plbossart opened #2397 "[BYT][NOCODEC] alsa-bat check-alsabat-headset-playback.sh FAIL"
tracking https://sof-ci.01.org/linuxpr/PR2396/build4392/devicetest/

No idea what this happens.

[2020-08-27 18:57] plbossart opened #2398 "[TRAVIS CI] fails due to ppa configuration issues"
not sure what's going on:

https://travis-ci.org/github/thesofproject/linux/jobs/721742486
https://travis-ci.org/github/thesofproject/linux/jobs/721742488

The ppa configuration seems wrong?

@marc-hb @xiulipan FYI

[2020-08-27 21:20] plbossart opened #2401 "[CML] trace buffer overflow"
Tracking error reported in https://sof-ci.01.org/linuxpr/PR2396/build4394/devicetest/ for CML Mantis HDA

[code]

We've seen this before, not sure why it comes randomly and if this really an error.

@lgirdwood @ranj063 @lyakh any ideas on where to look?

[2020-08-28 01:06] marc-hb commented on #2398
Well, from https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test

We're just getting what we paid for?

This repo was added years ago by @xiulipan  in commit 9429ffcb9bd0, to upgrade (!) gcc to gcc version 7 so it could compile kernel 4.20.

As you can see from the top of the Travis log, Ubuntu 18.04 already has gcc 7.5 by default so I suggest reverting 9429ffcb9bd0. It will make the buil

[2020-08-28 04:54] xiulipan commented on #2385
@plbossart This issue seems to be seen with format test on GLK after 5.9 update. Not sure what cause the issue, need to debug.

[2020-08-28 05:28] xiulipan commented on #2398
@marc-hb Agreed, we may need some update on our Travis scripts. Now maybe Travis can support Ubuntu 20.04 and the default GCC can satisfy the Kernel build require. I will send a update patch.

[2020-08-28 05:30] xiulipan commented on #2398
@plbossart @marc-hb As the Travis now has Ubuntu 20.04 support with GCC 9.3 https://docs.travis-ci.com/user/reference/focal/ I will directly remove the PPA thing and use Ubuntu 20.04 with GCC 9.3 now.

[2020-08-28 06:28] lyakh commented on #2401
@plbossart duplicate of #2334

[2020-08-28 07:14] xiulipan commented on #2398
PR send https://github.com/thesofproject/linux/pull/2402

[2020-08-28 08:04] torotil commented on #2375
@bardliao Thanks for your input. I’m rather certain that sound is somehow filtered. It cuts off low frequencies (100Hz is OK, 80Hz almost imperceptible). When plugging the same headphones into another laptop I can hear basically every frequency from 15Hz up (and frequencies below at least as some kind of wobbling). So it does look like some filtering is being applied.

Here is the youtube video I’

[2020-08-28 09:54] bardliao commented on #2375
@torotil Do you know which topology do you use? There should be no filter if you use sof-hda-generic.tplg, but there is eq applied if you use sof-hda-generic-eq-2ch. You can find it in /lib/firmware/intel/sof-tplg folder. BTW, have you tried it on the same laptop with Windows? I am wandering if it is a codec limitation.

[2020-08-28 10:44] kv2019i commented on #2311
@plbossart Finally got around to this. I've been trying to reproduce this on a TGL SDW machine, but so far with no luck (with sof-dev).

The logs suggest that HDA codec probe would have failed, but all cases should be caught without crash:
  - if codec probe fails -> we got to no-i915 mode and I checked this works with the commit-id you use
  - if it silently fails and/or takes long -> patch "ASoC

[2020-08-28 10:56] kv2019i commented on #2311
Uh, should have picked this up sooner:
[  212.133355] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 5:0
[  212.133455] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 6:0
[  212.133559] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_present_sense: disconnect for pin:port 7:0

What an earth, @plbossart you've somehow managed to load the old hdac-hd

[2020-08-28 18:23] plbossart commented on #2334
You're right @lyakh, we should probably check if the error persists by doing one more cycle of load/unload in case of errors.

@aiChaoSONG @fredoh9 @marc-hb FYI, the module load/unload tests may stop too early. We definitively want to track these errors, but we need to know if they are recoverable.

[2020-08-28 18:45] plbossart commented on #2311
@kv2019i I plead not guilty. See the command line above, this is strictly with a modprobe/rmmod snd-sof-pci.

And yes this was on CML Olympic (1 amplifier).
That said, maybe it's fixed, it was a month ago, I haven't tried since (and busy today).

[2020-08-28 20:19] plbossart opened #2407 "CML RVP w/ RT700: Clock stop errors"
Tracking results from https://sof-ci.01.org/sofpr/PR3186/build7015/devicetest/

[code]

[code]
@bardliao @RanderWang does this ring a bell? Looks like we still have a big issue on this RVP?

[2020-08-28 21:10] #2398 closed

[2020-08-28 21:13] plbossart commented on #2391
Actually that wouldn't work, we have too many cases where we use 1000 microseconds, but when they are fractional this wouldn't work. 666 microseconds would introduce an arithmetic error which would blow up real quick.

@lgirdwood @mmaka1 FYI, we need to think of scheduling periods that are not integer in ms...

[2020-08-31 01:19] mengdonglin commented on #2353
@udaymb Is there any update? Can this issue be fixed by kernel patches suggested by @kv2019i ?

[2020-08-31 01:50] mengdonglin commented on #2361
@paulstelian97 I think that sof-logger issue is https://github.com/thesofproject/sof/issues/3344, right?

[2020-08-31 02:04] mengdonglin commented on #2397
@singalsu Can you reproduce this failure locally?

[2020-08-31 02:46] mengdonglin commented on #2380
@xiulipan is revising CI filter to check the new dmesg.

[2020-08-31 02:46] #2380 closed

[2020-08-31 02:53] mengdonglin commented on #2397
@plbossart @singalsu This seems to be the same random issue as https://github.com/thesofproject/sof/issues/1988 that was closed without a fix.
Xiuli has checked the dumped WAV by CI and cannot see obvious wave distortion but cannot pass alsabat check.

[2020-08-31 03:05] keqiaozhang commented on #2385
I have also seen this error in previous tests, not just after kernel 5.9. But this is more like a warning.

[2020-08-31 05:59] xiulipan commented on #2397
@aiChaoSONG WAV files and pic uploaded. Please try some other measure method to confirm the error in the wav.
[bat.wav.zip](https://github.com/thesofproject/linux/files/5148547/bat.wav.zip)

![image](https://user-images.githubusercontent.com/37825714/91687290-f451ac80-eb91-11ea-9a53-3939055924e1.png)

[2020-08-31 06:40] RanderWang commented on #2255
I enabled SSP loop back in this case and disable DSM feedback input. The loop back data showed nothing wrong. So the data sent by SSP was correct. It is caused by 98373 only.  The pop noise is very slight and user can't notice it in daily usage.

[2020-08-31 07:30] paulstelian97 commented on #2361
Took a look and commented on the sof-logger issue. _Scratching my head..._

[2020-08-31 10:55] aiChaoSONG commented on #2397
@keqiaozhang @mengdonglin @xiulipan @plbossart
**Amp spectrum (whole wave, amp normalized to 1.0)**
![Screenshot from 2020-08-31 18-27-33](https://user-images.githubusercontent.com/52959957/91711452-7fde3400-ebb8-11ea-9703-216f7017a06d.png)
**Amp spectrum(whole wave, local area)**
![Screenshot from 2020-08-31 18-27-57](https://user-images.githubusercontent.com/52959957/91711454-8076ca80-ebb8-11ea-

[2020-08-31 10:57] kv2019i commented on #2391
Hmm, @plbossart  it seems overly restrictive for SOF to enforce its internal DSP timer tick to the application level. USB bus has similar fixed tick, but USB audio does not constraint application buffer sizes in a similar fashion as SOF now does. IOW, I think we should allow applications to use a period-size that is not aligned to our DSP timer tick and this should still work. Based on quick exper

[2020-08-31 11:49] singalsu commented on #2397
@aiChaoSONG It would be better to plot with dB y-axis, but I agree with your proposals. The ramp in the beginning impacts the spectra.

[2020-08-31 12:32] kv2019i opened #2410 "SOF probe fails on GLK with 5.9-rc1"
With recent patches to DRM driver, the DP/HDMI codec probe has started to fail on GLK hardware.

Example failure:
https://sof-ci.01.org/linuxpr/PR2409/build4414/devicetest/

The issue is currently worked around in sof-dev, but in upstream the problem persists.

[2020-08-31 14:10] kv2019i commented on #2311
@plbossart Ack. On TGL, hdac-hdmi doesn't support the hw at all, so this can't happen, but on CML in theory yes. I'll try to reproduce with a CML laptop.

[2020-08-31 15:57] kv2019i commented on #2410
I have confirmed the root cause is too low CDCLK for GLK. The actual regression seems very subtle. The logic of the problematic new patches seem good, but still in practise the CDCLK is not bumped at probe. Investigation continues...

[2020-08-31 15:59] plbossart commented on #2397
@aiChaoSONG @singalsu can't we just skip the first part of the captured stream? if we are doing a frequency analysis it has to be done in steady-state, no?

[2020-08-31 17:06] udaymb commented on #2353
@kv2019i -  Thanks for the inputs
@mengdonglin
With new OS images, issue was not reproducible with 2 bkc images stack
Request is also made to integrate #2167 to chromium kernel 5.4

This issue can be closed

[2020-08-31 20:07] #2353 closed

[2020-09-01 05:51] torotil commented on #2375
I’ve found the folder and it shows me loads of different topologies. How can I find out which one is in use?

I’ve not ever run windows on this machine. I plan to get some Windows running in a Virtualbox this week (with PCI passthrough).

[2020-09-01 06:17] bardliao commented on #2375
Add ``options snd_sof dyndbg=+p`` in /etc/modprobe.d/sof-dyndbg.conf. You can create one if there is no sof-dyndbg.conf in your file system. And search ``loading topology:intel/sof-tplg/xxx.tplg`` where xxx.conf is what you are using.

[2020-09-01 07:48] torotil commented on #2375
Thanks. With this I get:

[2020-09-01 08:08] mengdonglin commented on #2458
@xiulipan Do you think it's more reasonable to change this kernel message from an error to a warning? And as it's has no impact on audio functionality, can Linux CI tolerate this message in test?

[2020-09-01 08:38] xiulipan commented on #2458
@mengdonglin I think we have refine on log filter and message in linux recently. Let track the CI result to see if this issue can be reproduced now.

[2020-09-01 09:31] singalsu commented on #2397
Yep exactly, the ramp part need to be excluded from analysis to get state. Also the FFT needs to be windowed if it's length is not synchronized to sine wave period. I'm usually using "kaiser(N, beta)" and using beta that gives suitable tradeoff between sidelobes attenuation and tone frequency bins spread. When applying window the level seen for sine wave is also impacted. Maybe start with beta = 1

[2020-09-01 09:36] aiChaoSONG commented on #2397
I also checked wave file recorded by other platform, mainly JSL, the side lobe peak is not that high.

[2020-09-01 09:43] singalsu commented on #2397
@aiChaoSONG I edited my response above. To me the spectra in the bat.wav attached here looks quite OK. It's not 24 bit high-end quality but pretty good. There's some DC output above the noise floor (-100 dB or so, so very small, we may miss proper rounding somewhere in the test system and/or firmware but it's a minor issue).

[2020-09-01 10:14] singalsu commented on #2397
@aiChaoSONG The side lobes appear due to no windowing or insufficient windowing and due to different lenght of FFT than sine wave period (or integer multiple). E.g. the kaiser window with large enough beta is needed for >= 16 bit applications like SOF is.

[2020-09-01 10:22] aiChaoSONG commented on #2397
@singalsu In this case, alsabat is helping us to do wave analysis, after check its source code, I don't think it uses any window function.

https://github.com/alsa-project/alsa-utils/tree/master/bat

[2020-09-01 10:24] singalsu commented on #2397
Good finding @aiChaoSONG ! Computing of kaiser windows is somewhat tricky. Not sure any open-source library provide the needed functions. Does alsabat by chance use a fixed FFT length so the window could be pre-computed into a data file?

[2020-09-01 10:35] aiChaoSONG commented on #2397
@singalsu Unfortunately, it doesn't,  the FFT size it used is calculated by truncating   `time_length * sample_rate` to 2^N, and time_length is given by user from command line.

[2020-09-01 10:42] singalsu commented on #2397
There would be need for besseli() function to compute https://octave.sourceforge.io/signal/function/kaiser.html .

[2020-09-01 10:54] singalsu commented on #2397
A blackman window might do, the equation and example is found in https://ccrma.stanford.edu/~jos/mdft/Use_Blackman_Window.html .

[2020-09-01 13:50] mengdonglin commented on #2229
@naveen-manohar How about your test result? Can we close this issue?

[2020-09-01 14:09] kv2019i commented on #2410
FYI @plbossart -- CI seems fine for Bobba GLK now. I'll send this to DRM list for review. Once I get an ack from them, I'll resubmit the PR with the approved fix, and we can merge (and get rid of the DRM reverts).

[2020-09-01 15:43] plbossart commented on #2410
ack, thanks @kv2019i
Nothing like harmless code refactoring to add bugs....

[2020-09-01 16:31] plbossart commented on #2375
15 Hz sounds very very low... "Under ideal laboratory conditions, humans can hear sound as low as 12 Hz" https://en.wikipedia.org/wiki/Hearing_range#:~:text=Under%20ideal%20laboratory%20conditions%2C%20humans,between%202%2C000%20and%205%2C000%20Hz.

[2020-09-02 01:39] keqiaozhang commented on #2212
Checked with today's code base and passed 500 iterations. Since this issue also not seeing in recently CI test. so let's close this issue.
Kernel: sof-dev /33fd4f99da78
SOF: master/78202631e766

[2020-09-02 01:39] #2212 closed

[2020-09-02 03:49] keyonjie commented on #1987
After discussed with @bardliao, with adding endpoint widgets to machine driver or codec driver, the widget power status is under control via DAPM, but we have to introduce an extra switch mixer to switch on/off the connection b/w DSM playback and capture streams as what the max98373 does today, and doing the switching via UCM in enable/disable sequence.

Considering this is significant effort even

[2020-09-02 03:52] keyonjie commented on #1987
Close it as won't fix, we can reopen once we want to revisit it.

[2020-09-02 03:52] #1987 closed

[2020-09-02 04:09] naveen-manohar commented on #2229
Hi @mengdonglin The soundwirewire board at my end has gone bad. Currently @sathya-nujella has shipped a board and am waiting for that. Meanwhile I'm working with OS-Integration team on the chrome recipe.
Soon we validate, shall update here.

[2020-09-02 04:27] naveen-manohar opened #2416 "[JSL] [I2S]: Avoid loading soundwire modules on I2S Platform"
Observe that soundwire modules are loaded on I2S platforms. There isn't any harm in functionality but we can avoid if by refining the Kconfig to load only the required modules.
Blacklisting such soundwire modules during kernel boot using conf can be made but felt Kconfig is a better-way - Suggestion Please.

**Recipe used:** Based on SoF v0.6

**Hardware**: Chrome Board based on JSL Platfrom

**Wh

[2020-09-02 04:32] naveen-manohar commented on #2416
@udaymb Can you please attach the kernel config generated with Chrome Environment ?

[2020-09-02 05:12] naveen-manohar commented on #2416
By disabling CONFIG_SOUNDWIRE, we were able to avoid loading soundwire modules.
Apologies for the false-alarm, we will update chrome kconfig.

[config-5.4.61_new.txt](https://github.com/thesofproject/linux/files/5160219/config-5.4.61_new.txt)
[config-5.4.61_old.txt](https://github.com/thesofproject/linux/files/5160220/config-5.4.61_old.txt)

[2020-09-02 05:12] #2416 closed

[2020-09-02 05:23] bardliao commented on #2375
There should be no filter applied on headset playback with sof-hda-generic-2ch.tplg. So I will wait for the test result of Windows.

[2020-09-02 06:33] juimonen commented on #2375
@plbossart @bardliao I guess we can argue what one of us can hear and can't hear.. :)

Anyway I think the thing is that @torotil can hear the relative difference between "normal" laptop and this one.

@plbossart @bardliao do we know the audio hw schematics (even roughly) with this device? What codec is it using
and is there some special vendor hw (like dolby) on the audio patch? As said, with this

[2020-09-02 07:59] RanderWang commented on #2407
it is very strange that RT700 was working and suddenly got runtime suspended, why ?

[code]

[2020-09-02 08:29] keqiaozhang opened #2418 "[BUG] codec failed to probe on GLK when testing with for-next kernel"
**Describe the bug**
This is a regression of for-next  kernel since upgrading to 5.9.rc2. codec #2 probe error, ret: -5 and no hda codecs found.

**To Reproduce**
just check the dmesg.

**Reproduction Rate**
100%

**Environment**
     Kernel Branch: linux/for-next
     Kernel Commit: e20238e0
     SOF Branch: master
     SOF Commit: 7a10da09
     Platform: GLK chromebook

**dmesg**
[code]

[dmesg.

[2020-09-02 08:59] aiChaoSONG commented on #2397
@singalsu The alsabat tool is too sensitive,  Do you think THD+N can be used in this scenario?  If yes, I can add implementation in wavetool.py, and we can use that for the alsabat test case.

[2020-09-02 09:26] singalsu commented on #2397
Yep, the THD+N test can be used instead. Please check also that sine signal level (measured with similar dBFS RMS) matches expected. Then it does the same as the FFT based check.

[2020-09-02 09:39] singalsu commented on #2375
I have a Lenovo Yoga X1 4th gen but it's Whiskey Lake-U based so not the same as C940 (Ice Lake). SOF firmware is v1.5.1. It plays the lowest bass OK.

To eliminate electrical/mechanical issue with 3.5 mm plug could you mix a e.g. 50 Hz stereo sine wave file with channels in-phase (copy same sine to L and R) and opposite-phase (invert polarity of one channel)? If they sound very different the head

[2020-09-03 09:22] keyonjie commented on #2283
@sathya-nujella @jairaj-arava as this is already fixed from the Chrome side, can we close this now?

[2020-09-03 18:50] plbossart commented on #2418
Known issue @keqiaozhang, fixed by @kv2019i in https://github.com/thesofproject/linux/pull/2414

[2020-09-03 19:59] perexg commented on #2302
Please, show the pulseaudio debug log for the latest alsa packages.

[2020-09-03 20:35] plbossart commented on #2385
I think the correct way of fixing this would be to turn the clocks on before the transfers start, but at the moment we don't have an IPC for this. @lgirdwood FYI.

[2020-09-03 20:35] #2385 closed

[2020-09-03 20:36] plbossart commented on #2365
this is apparently not agreed on in kernel circles, so closing. Let's ignore checkpatch.pl errors on this.

[2020-09-03 20:36] #2365 closed

[2020-09-03 20:38] plbossart commented on #2346
@libinyang can we please try and close all those UCM2 issues? There's only few remaining.

[2020-09-03 20:40] plbossart commented on #2272
@askmish can you update your software and test? This has been stuck for 1.5 months.

[2020-09-03 20:41] plbossart commented on #2131
@libinyang can we try and close all UCM2 issues? This is 3+ months old now.

[2020-09-03 20:42] plbossart commented on #2103
@mengdonglin @libinyang what's the plan here? No information for 3+ months.

[2020-09-04 02:23] libinyang commented on #2103
@plbossart The plan is we will wait for the global mute solution. Ubuntu will has raised a proposal for the global mute solution. It seems they are busy on other projects currently. On our platforms, Mute LED works well currently except some corner low priority issue, such as this issue.

[2020-09-04 02:30] libinyang commented on #2131
@plbossart OK, I will work on the UCM2 issues next week after I finish the user space test cases. This issue is very strange and it is not related to UCM.

[2020-09-04 02:33] libinyang commented on #2346
Sure, I will debug on it.

[2020-09-04 02:55] keqiaozhang commented on #2418
Thanks @plbossart  and @kv2019i .
Issue is not reproducible now.

[2020-09-04 02:55] #2418 closed

[2020-09-04 06:08] aiChaoSONG commented on #1838
@keyonjie @sathyap-chrome Hi, Sathya, I tried the topology attached with the latest kernel and FW, there is nothing in the recorded feedback wave.

[2020-09-04 09:04] kv2019i commented on #2311
FYI @plbossart , managed to reproduce this now on a CML SDW laptop.

[2020-09-04 12:51] sathyap-chrome commented on #1838
Hi @aiChaoSONG  this is what i also observed . Hence we are not able to use the dump to check the SSP Rx data. Note that with CML v0.8, the feedback has data.

[2020-09-05 09:42] torotil commented on #2375
Did that. [For me] there was no audible difference.

I will try it with windows next, but it will take me some time to get either qemu or Windown on another SSD to work.

Again thanks for your hints!

[2020-09-07 02:05] RanderWang commented on #2407
sorry, I made a mistake: RT700 was not working, but HDMI was.

[2020-09-07 03:08] naveen-manohar commented on #2229
ww36.5 received the board and was able to execute **2500 cycles of suspend_stress_test successfully** on SKU5 DUT.
The recipe used is based on SoF_0.7(posted to Google ww36.2) +[ fbd64e3](https://github.com/thesofproject/linux/commit/fbd64e3bd54e27f8106a21e79119ce87e8d3da9b)

Have shared the recipe to validation team, they are planning to run on all Soundwire SKUs on possible DUTs, can we close th

[2020-09-07 14:31] kv2019i commented on #2311
@plbossart The problem occurs in following situation:

all snd* modules unloaded:
modprobe snd-soc-hdac-hdmi
modprobe snd-sof-pci

The above case matches with your test script. When you remove "snd-sof-pci", the codec driver is not removed and once you reload "snd-sof-pci", you'll hit the bug.

The bug does not occur with:
modprobe snd-soc-hdac-hdmi
modprobe snd-sof-pci

And it does not happen wit

[2020-09-08 07:09] mengdonglin commented on #2458
@xiulipan besides CI,  I think this "error" message may cause users nervous unnecessarily.

[2020-09-08 07:09] RanderWang commented on #2229
yes, close it based on result. Thanks!

[2020-09-08 07:45] slawblauciak commented on #2458
@xiulipan please verify if we can close this issue.

[2020-09-08 07:57] kv2019i commented on #2458
In bugscrub it was raised whether the issue is fixed by these:

ASoC: SOF: Intel: remove unnecessary waitq before loading firmware
  -> https://github.com/thesofproject/linux/pull/1875
ASoC: SOF: Intel: hda: remove unnecessary ROM IPC filter function
 -> https://github.com/thesofproject/linux/pull/1854

.. but, but, these were merged already in March, but bug was reported in April, so maybe this i

[2020-09-08 08:09] xiulipan commented on #2458
@kv2019i @aiChaoSONG @mengdonglin I did a quick search in our latest logs. The issue can still be seen on Aug.1 on APL, CML and BYT
It happen all with kmod reload randomly. Let's move this issue into Linux and try to debug with it. I think we may still have some issue with timing that missed this ROM status.

[2020-09-08 16:07] plbossart commented on #2311
Sorry @kv2019i I wasn't able to get the answer and when the bug does not happen.

[2020-09-08 16:26] kv2019i commented on #2311
@plbossart if you modify the test sequence so that all modules loaded as dependencies for "modprobe snd-sof-pci" are unloaded between tests, then the bug doesn't trigger. I.e. the flow that happens during boot when the PCI devices is found.

In terms of the script, i.e. this:

sleep 20; rmmod snd-sof-pci; sleep 10; cat /sys/kernel/debug/kmemleak; cat /sys/kernel/debug/kmemleak  > kmemleak1.txt; do

[2020-09-08 16:35] plbossart commented on #2311
@kv2019i right, but this means that somehow the rmmod snf-sof-pci does not release resources that are explicitly released by unloading the modules. Not so good, eh?

[2020-09-08 23:46] marc-hb commented on #2334
Good idea, let's discuss this in very similar suggestion https://github.com/thesofproject/sof-test/issues/351

[2020-09-09 07:02] H-Park commented on #2748
Is there an update on this? I've had a IdeaPad S740 since mid March and I've not been able to get my speakers on microphone to work.

I saw this [gist](https://gist.github.com/hamidzr/dd81e429dc86f4327ded7a2030e7d7d9) back in March, but it didn't work. But, one of the [last ](https://gist.github.com/hamidzr/dd81e429dc86f4327ded7a2030e7d7d9#gistcomment-3443442) comments 3 days ago says the patch is

[2020-09-09 07:38] xiulipan commented on #2458
@kv2019i @keyonjie @ranj063 I try to reproduce this issue on an CML platform with some old kernel. It seems the IPC comes after the CTX_SAVE message send. With full IPC CMD  `ipc rx: 0xffffffff` which seems to be related with PM gating?

[code]

[2020-09-09 07:53] #2410 closed

[2020-09-09 09:13] libinyang commented on #2131
I found an easy way to reproduce this issue. With HDMI monitor connected, disconnecting headset and then connecting headset will also trigger this issue. But if the HDMI monitor is not connected, it's hardly to reproduce this issue.

The pulseaudio and UCM should be OK. When connecting and disconnecting the headset, the device switching and amixer setting are exact following what we design. It's m

[2020-09-09 12:43] lgirdwood commented on #2748
@H-Park sorry it's not working for you, please do let us know if 5.9 fixes this for you. There is also the topic/sof-dev branch on Linux git here (that has patches not in 5.9 and destined for 5.10+) that can also be tried if 5.9 does not work. Lets also keep @mrhpearson in the loop too.

[2020-09-09 14:59] H-Park commented on #2748
Update: AUR/linux-git did not fix the sound issues out of the box, unfortunately. I have not played around with modprobe.d conf files, and I have ```snd_hda_intel dmic_detect=0``` as a kernel parameter. Lots of knobs to tweak regarding this. I'll play around with it on my flight this afternoon and see what I can get done. As it stands now, my laptop does not see the Intel Cannon Lake PCH cAVS as a

[2020-09-09 16:07] kv2019i commented on #2311
@plbossart wrote:

Absolutely, this is a real issue that needs to be fixed, not arguing that. It does seem this is not a problem of not releasing resources, but rather a problem in our flow to choose the codec driver and how we currently assume the hdac-hdmi driver to not be loaded when we probe SOF PCI driver. I say this as I could trigger this bug without any "rmmod" actions. Still a problem of

[2020-09-09 19:11] plbossart commented on #2748
@H-Park  snd_hda_intel dmic_detect=0  seems like an obsolete setting to me.

First remove all settings, and add options snd-intel-dspcfg dsp_driver=1
reboot and see if your speakers work.

Then if you want to use the SOF driver, remove all settings, add this file
[ddebug.txt](https://github.com/thesofproject/sof/files/5197521/ddebug.txt) as /etc/modprobe.d/sof-ddebug.conf and attach the dmesg log.

[2020-09-09 19:26] hweom commented on #2748
I've just tried 5.9rc3, and there are no changes compared to 5.8 -- headphones work but speakers don't. Here's SOF debug output in dmesg in case it helps:
[log.txt](https://github.com/thesofproject/sof/files/5197575/log.txt)

I've also noticed one interesting thing. If I boot into Windows, and then reboot into Linux without powering-down the laptop, then headphones stop working too (everything els

[2020-09-10 11:22] lgirdwood commented on #2748
Could be a HP amplifier or mute that Linux does not know about and BIOS switches it ON (and Windows switches OFF at shutdown).

[2020-09-10 16:34] gled-rs opened #2427 "Regression between 5.4.1 and 5.7+ using sof: no more audio output using sof"
Hi,

On kernel 5.4.1 ( last known good and tested ), everything was working properly, dmic and audio output on the speakers.

Updating to kernel 5.7+ ( tested up to 5.8.7 ):

- Without any mod params, dmic works perfectly, but there's no more audio output, even if the card is still detected properly, and seems to be working, jack plug detection works when plugging a headset, pulseaudio indicates s

[2020-09-10 17:31] plbossart commented on #2427
the option dsp_driver=2 should not work here, it's irrelevant.

The only options that are relevant are dsp_driver=0 (or not option) -> automatic detection and dsp_driver=1 to force the legacy to be used.

We use exactly the same codec configuration code between legacy and SOF driver, so we need to figure out if this is a PulseAudio issue or if you can get basic "speaker-test -Dhw:0,0 -c2 -r48000"

[2020-09-10 17:42] gled-rs commented on #2427
thank you for the note on dsp_driver=2, that explains things.

Currently running with dsp_driver=0, since with dsp_driver=1 there's no dmic.

 "speaker-test -Dhw:0,0 -c2 -r48000" outputs no audio. no errors, it seems to be running properly.

Everything in alsamixer seems to be on, and volume at max. I tried both automute on and off.

![Screenshot_2020-09-10_10-41-09](https://user-images.githubuser

[2020-09-10 18:18] plbossart commented on #2427
@kv2019i does this ring a bell? I vaguely remember one user setting an additional smixer that wasn't set correctly, but other than that the basic playback should use the same settings as the legacy audio.

[2020-09-11 05:45] juimonen commented on #2427
@plbossart just a hunch, but can we somehow disable sof/codec power management easily from config and see what happens?

[2020-09-11 07:46] singalsu commented on #2375
Also is there difference if you hook it with line cable to a line-in of another amplifier (a high-impedance load)? Or headphones with much higher ohms rating (100 or more). If still the same sounds to me like codec programming issue if you are using a distributed topology (not e.g. a SOF high-pass EQ placed to headphones path).

[2020-09-11 09:33] libinyang commented on #2131
After these 2 days debug, I'm pretty sure this is a codec issue. If we quickly unplug and plug the headset, the codec tries to setting the "Processing Coefficient" registers. However, there is a probability that the codec's register setting will be wrong. After I manually  re-write the codec's register, there is sound output from the headset.

[2020-09-11 15:18] kv2019i commented on #2427
@plbossart @juimonen  Hmm, indeed it's the same codec driver. The one big remaining different is indeed codec runtime handling.

@gled-rs One suspect is this:
3a24f135e6cc58c2dc042dde44031ec31b706ce5 ASoC: intel/skl/hda - set autosuspend timeout for hda codecs
... but it's not included in 5.7 kernel, so I don't think that explains.

Another curious in the logs is that in case SOF/DSP is enabled, y

[2020-09-11 17:23] gled-rs commented on #2427
Hi guys,

Thank you for looking into this.

I just checked, UCM files are vanilla from **https://www.alsa-project.org/files/pub/lib/alsa-ucm-conf-1.2.3.tar.bz2** apparently.

I did "amixer cset iface=MIXER,name='Master Playback Switch' on" and then a playback test, and audio output works !

Sorry I missed that and for the noise, clearly something in userspace that muted that switch or set it muted

[2020-09-11 17:24] #2427 closed

[2020-09-11 23:02] H-Park commented on #2748
@plbossart Your suggestion made my mic work, and my system to think the speaker is working - the gnome speaker settings claim sound is being played through "Speaker - Cannon Lake PCH cAVS", however no sound is actually being played....

Halfway there!

[2020-09-14 01:11] #2229 closed

[2020-09-14 01:40] libinyang commented on #2131
@mengdonglin As this is a codec issue, shall we close this bug as won't fix?

[2020-09-14 02:25] keyonjie commented on #1838
Hi @sathyap-chrome Thanks for the feedback, so how urgent is this now?

[2020-09-14 07:51] libinyang commented on #2131
Close it as this is a codec issue.

[2020-09-14 11:45] torotil commented on #2375
Same result as before: It sounds like the sound is being played through the headphones lying on my desk instead of through the speakers (and amplifier).

[2020-09-14 14:06] plbossart opened #2430 "[ASoC] Control access issues"
Reported by @tiwai

A bug report in openSUSE bugzilla below
  http://bugzilla.opensuse.org/show_bug.cgi?id=1176200
showed a constant kernel error like:

  [   17.545593] sof_sdw sof_sdw: control 2:0:0:PGA2.0 2 Master Capture Switch:0: value out of range 65536 (0/1) at count 0
  [   17.545597] sof_sdw sof_sdw: control 2:0:0:PGA2.0 2 Master Capture Switch:0: access overflow

by accessing via alsactl

[2020-09-14 15:36] plbossart commented on #2748
@H-Park can you try some of the suggestions in https://github.com/thesofproject/linux/issues/2427

speaker-test -Dhw:0,0 -c2 -r48000

Then if there's no sound, looks at all mixers with alsamixer -Dhw:0

specifically it seems we have an issue with some distros and this command is required to offset some configurations:

amixer cset iface=MIXER,name='Master Playback Switch' on

[2020-09-14 17:01] plbossart commented on #2430
Confirmed with topic/sof-dev and https://github.com/thesofproject/kconfig/pull/41

[code]

[2020-09-14 17:03] plbossart commented on #2430
It gets worse:

[code]

[2020-09-14 17:05] plbossart commented on #2430
and worse:

[code]

[2020-09-14 17:09] plbossart commented on #2430
@kv2019i @ranj063 @juimonen @bardliao @lgirdwood: does this ring a bell? I don't think I've ever enabled this CONFIG_SND_CTL_VALIDATION option.

[2020-09-14 18:38] plbossart commented on #2430
Looks like a complete mess to me. We've managed to confuse regular BYTES controls with EXT_BYTES ones.

[code]

[code]

not clear to me if this option ever worked with any topology-based ASoC driver?

[2020-09-14 20:18] RDharageswari opened #2431 "[TGL][DSM] feedback data for DSM should be voltage information only"
DSM has 2 streams, playback and a reference capture stream.
For 2 spk solution, the expected feedback is 2 channel from the MUXDEMUX11.0 DEMUX to the Host. That is Voltage data of each stream, but today we get 4 channel output(VIVI)- voltage and current information of each stream and hence the feedback is 4 channel capture.
Ideally for 2 speakers: pb will be of 2 channel, capture will also be 2 ch

[2020-09-14 20:23] #2431 closed

[2020-09-14 21:56] plbossart commented on #2430
@tiwai I have a fix in PR #2432 for some of the size check issues but I am unable to reproduce the initial problem with the master capture switch. I don't even see how it's possible to set a -1 value for a boolean?

[2020-09-15 00:18] mengdonglin opened #2433 "[EHL][APL][JSL] suspend-resume with playback/capture test failure with 'rtcwake return value error'"
This error was reported by CI  in daily test on 2020-09-13. Suspend and resume test with playback/capture failed within 25 iterations. dmesg shows "rtcwake return value error". But before these 2 failed test cases, CI runs check-suspend-resume-50.sh (w/o playback or capture, 50 iterations) successfully, the error cannot be reproduced in that case.

2 failed cases:
check-suspend-resume-with-playbac

[2020-09-15 00:37] mengdonglin commented on #2433
@marc-hb The same failure can also be reproduced on APL_UP2_NOCODEC in CI daily test on  2020-09-11.

Recipe:
Start Time: 2020-09-11 21:25:38 UTC
End Time: 2020-09-12 01:11:18 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 02293e7d
SOF Branch: master
SOF Commit:64a1657b

[2020-09-15 03:56] askmish commented on #2272
Hi,
Sorry for late update. We tested the suggested stack on tgl but it did not resolve the issue.

[2020-09-15 08:30] libinyang commented on #2433
I have found such issue for weeks, which randomly happens in such test cases: check-suspend-resume-50.sh, check-suspend-resume-with-playback-25.sh, check-suspend-resume-with-capture-25.sh. And the root cause seems to be the same:
“rtcwake return value error”

And the case check-suspend-resume-50.sh only runs suspend/resume, without any audio operations. So I suppose this is a none sof related issu

[2020-09-15 15:33] plbossart commented on #2434
I don't understand what the issue is and what in the driver code should be modified. As @ranj063 mentioned it all 4 cores get powered.

[2020-09-15 19:13] plbossart commented on #2407
I don't think we've seen this lately, right @RanderWang @bardliao ?

[2020-09-16 03:03] naveen-manohar opened #2440 "[BUG] [TGL] [SDW]: v0.9 Headset Playback/Capture Fail"
There is a headset functionality regression identified in SoF_v0.9 chrome-backported recipe.
Headset detection happens fine, but when we playback/capture stream, below issue is observed and usecase fails with no audio.
Attacked Log:
[dmesg_sdw_inconsistent.log](https://github.com/thesofproject/linux/files/5229344/dmesg_sdw_inconsistent.log)

[code]
I suspect the backported kernel recipe, but wante

[2020-09-16 07:35] naveen-manohar commented on #2440
Observe the same issue with daily built libraries :
md5sum /lib/firmware/intel/sof/community/sof-tgl.ri af3d58407734d70326104576399f941f
-rw-r--r--. 1 root root 356352 Sep 16 00:09 /lib/firmware/intel/sof/community/sof-tgl.ri
md5sum /lib/firmware/intel/sof-tplg/sof-tgl-max98373-rt5682.tplg f3e58ae66bc77e8b3daa8aa889d7a99d
-rw-r--r--. 1 root root 48159 Sep 13 00:37 /lib/firmware/intel/sof-tplg/sof-

[2020-09-16 07:36] RanderWang commented on #2407
yes, I sent a few day to reproduce it but never get it. And this device was removed from CI for rt700 is not used by any customer.

[2020-09-16 08:13] libinyang commented on #2346
The bug root cause is in pulseaudio. I will file a bug in https://gitlab.freedesktop.org/pulseaudio/pulseaudio. And hopefully I will submit a patch to pulseaudio to fix this issue this week.

The root cause is: when unplugging the HDMI, it will trigger to call switch_from_port(). It will compare the priority of the ports. This will cause pulseaudio pick up the headphone ahead of speaker. So the ac

[2020-09-16 08:57] RanderWang commented on #2440
I debugged the issue: two patches missed: remove trigger, prepare hw_free in soundwire driver. these patches are hot points recently :)

[2020-09-16 13:00] naveen-manohar commented on #2440
Thanks for the quick turn-around @RanderWang ..
The below patches you shared weren't there in v0.9-sof-dev release(commit: a34de778), also they can't be directly applied without dependent patches after v0.9 tag.
[code]

Hence tried comparing v0.9 (commit: a34de778) & chrome_backported_kernel wrt Soundwire & there were few more missing patches, Attaching [0001-v0.9-missing-patches.txt](https://gith

[2020-09-16 14:07] plbossart commented on #2440
@naveen-manohar you probably need https://github.com/thesofproject/linux/pull/2438 as well

[2020-09-16 14:29] bardliao commented on #2407
Spring from Realtek suggest us to reduce the clock to see if it we can still reproduce the issue. But I think it is hard enough to reproduce it already.

[2020-09-16 16:28] plbossart opened #2443 "[SDW] RT711 IO error on CML-H"
Intel daily tests ID: 408 show the following dmesg error for the test scenario multiple-pause-resume-25.sh

[code]

[dmesg-408.txt](https://github.com/thesofproject/linux/files/5233552/dmesg-408.txt)

[code]
@bardliao @shumingfan any idea what this could be?

[2020-09-16 16:39] plbossart commented on #2443
FWIW, I am thinking of a workqueue that doesn't complete when we suspend.

[2020-09-16 23:29] naveen-manohar commented on #2440
Many Thanks @plbossart for the quick response.
We could identify the below dependent patches was missing and dropped it for now, **with this all endpoints works.**
https://www.mail-archive.com/linux-kernel@vger.kernel.org/msg2294575.html

Thanks All for the Quick Response & Support. Closing this thread.

[2020-09-16 23:29] #2440 closed

[2020-09-17 01:01] libinyang commented on #2272
@askmish Thanks for update. I will try to find a TGL platform to reproduce this issue. But the settings of TGL and CML are the same. It's weird that CML works well but TGL doesn't.

BTW: you are using the latest UCM from https://github.com/alsa-project/alsa-ucm-conf and you didn't manually select 3.5mm jack as output ever before, right? If you selected 3.5mm jack before, the jack will be the confi

[2020-09-17 01:04] libinyang commented on #2272
And if you manually select the HDMI as output after suspend/resume, the sound can also be out from HDMI, right?

[2020-09-17 01:50] shumingfan commented on #2443
Right, the problem should be caused by the work queue.
We need to cancel the delayed work when the system/codec suspends.
Could you try to test again with the following modification?

[code]

[2020-09-17 02:24] aiChaoSONG commented on #2443
submit a test PR for this, https://github.com/thesofproject/linux/pull/2445,

[2020-09-17 09:49] J-Bu opened #2451 "[BUG] Dell Latitude 3410 no sound"
**Describe the bug**
We try to switch to sof sound handling for our own linux distribution and are not able to make it work on the Dell Latitude 3410 wit the official released versions from sof-bin.
The root cause is, that the device /dev/pcmC0D6c is not created when using the topology files from sof-bin we tried every version from v1.4.2 - v1.5.1. Thsi device is referenced in the alsa ucm2 files

[2020-09-17 12:55] lgirdwood commented on #2451
@J-Bu sof-logger should work, can you paste the command line here.  I guess you only need a topology update that adds a PCM capture device  /dev/pcmC0D6c in order for pulseaudio to work ?
@kv2019i @juimonen any comments ? My understanding is that pulseaudio should be good now but I suspect this needs a recent version of pulseaudio and alsa-lib (found in Ubuntu 20.04 onwards) ?

[2020-09-17 14:21] plbossart commented on #2451
@J-Bu can you provide information on which versions of alsa-lib, alsa-ucm-conf and pulseaudio you are using in your distro?

also did you actually install the topology files? The fact that you are missing a capture file is likely a difference with topology. I really don't get how you are missing a capture device if you don't have any dmics. The only capture device on your platform is likely the HD

[2020-09-17 15:10] kv2019i commented on #2451
@J-Bu Hmm, PCM6 and PCM7 are for DMIC and these are indeed required by the upstream UCM files for SOF HDA driver. But when I look at the dmesg, I see this:
[   11.276304] sof-audio-pci 0000:00:1f.3: DMICs detected in NHLT tables: 0

So this reports there are no digital mics connected to PCH. But a bit earlier, there's this:
[   11.177569] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+

[2020-09-17 15:17] plbossart commented on #2451
@kv2019i the SOF driver would be selected only if there is a kernel parameter, e.g

options snd_intel_dspcfg dsp_driver=3

or a quirk for that device.

In this case indeed things would work fine, but we probably need to make the DMIC devices conditional in the UCM files.

Now that I think of it the TGL device we both have also doesn't have a dmic but things work fine when you force the use of the

[2020-09-17 15:23] kv2019i commented on #2451
@plbossart
No, I don't think that's the case here, and rather dsp_driver=0. But:
[ 11.177569] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver

So snd_intel_dsp_check_dmic(pci)) returns true. But when we load topology, we query NHLT tables for dmic numbers and get zero back. This is not a config we support in UCM.

[2020-09-17 15:24] kv2019i commented on #2451
@J-Bu You can experiment by overriding the topology:
sudo cp /lib/firmware/intel/sof-tplg/sof-hda-generic-2ch.tplg /lib/firmware/intel/sof-tplg/sof-hda-generic.tplg

... i.e. use the 2 dmics topology file in case BIOS reports 0 dmics. Not a real fix, but might get you the PCM6+7.

[2020-09-17 15:36] plbossart commented on #2451
We recently added a patch to the kernel to allow for single mics, before we only allowed for 2 and 4.

ASoC: SOF: intel: hda: support also devices with 1 and 3 dmics
3dca35e35b42b3405ddad7ee95c02a2d8cf28592

as well as topologies that will use the relevant names.

[2020-09-17 16:39] juimonen commented on #2451
@J-Bu @plbossart @kv2019i I checked the topologies and the ubuntu 18.04 oem sof-hda-generic.tplg attached to this PR has the dmic definition and the sof 1.5 sof-hda-generic.tplg doesn't. so @J-Bu that's clear case why you don't have the dmic devices...

So is is now so that the topology selection mechanism in kernel wasn't in 18.04 oem, and ubuntu just copied the 2ch as generic? And is is that the

[2020-09-18 02:12] aiChaoSONG commented on #2443
@mengdonglin I think @shumingfan will send the patch to alsa, so the my PR  is only for test purpose

[2020-09-18 03:11] shumingfan commented on #2443
@aiChaoSONG How about the test result? If the patch fixes this issue, I will send it to upstream.

[2020-09-18 07:32] libinyang commented on #2346
patch has been submitted: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/370

[2020-09-18 08:16] J-Bu commented on #2451
First of all thanks for the quick reply.

**environment**
Currently we are using following versions:
alsa-lib: 1.2.2
alsa-ucm-conf: 1.2.2
pulseaudio: 12

But we have also tried latest releases versions but it did not change anything
alsa-lib: 1.2.3
alsa-ucm-conf: 1.2.3
pulseaudio: 13

**sof-logger**
I am nit quite sure which lcd file I need to use so I tried multiple:
 * sof-cnl-v1.5.1.ldc
 * sof-

[2020-09-18 08:20] juimonen commented on #2451
@J-Bu ok, so then the proper topology would be sof-hda-generic-1ch.tplg, so you should get "dual mono" from 1 dmic. But I think this is only officially released with sof 1.6, so in coming weeks.

This might work with sof-hda-generic-2ch, but not sure how the channels go then? could you try to record from the dmic with arecord or similar (stereo file) and see the actual wav file, do you have audio

[2020-09-18 08:28] juimonen commented on #2451
@J-Bu and now when reading more carefully your previous post, If you copied topologies from sof master the 1 channel topology should be chosen automatically, and thus you should have "dual mono" dmic. So the copy of 2ch over generic should not have any effect.

[2020-09-18 08:53] J-Bu commented on #2451
I think my response was a bit too quick.

When using topology files from sof-master the devices are created but no sound is played back. Maybe newer alsa-lib, alsa-ucm-conf and pulseaudio are needed.

If I use the pacthed kernel and copy the sof-hda-generic-2ch.tplg from v1.5.1 sof-hda-generic-1ch.tplg sound is working. I think this is the way for us to go for the time beeing and if sof 1.6 is rel

[2020-09-18 10:02] lgirdwood commented on #2451
@slawblauciak any comments on sof-logger ?

[2020-09-18 10:09] slawblauciak commented on #2451
From my very basic understanding the firmware log can only be obtained in D0 power state.
I don't see much indication in the dmesg that firmware is even booted. So, I don't find it surprising the log output is empty and the D3 error is visible in dmesg.

[2020-09-18 10:58] aiChaoSONG commented on #2443
@shumingfan The test result is good, I think you can send the patch to alsa.

[2020-09-18 11:01] lgirdwood commented on #2451
@slawblauciak ok, so we probably want to have sof-logger checking driver PM state (in generic sysfs) and report a warning e.g. "DSP in D3 state so log may be not be available" as a future update.

[2020-09-18 15:15] plbossart commented on #2451
@J-Bu we're trying to get this kernel patch added to -stable versions, thanks for reporting this issue!

[2020-09-19 08:32] caseorum commented on #139
Anecdotally, I can confirm success with both built-in FW/tplg and in the initramfs on bdw-rt5677 (samus).
Kernel 5.9.0-rc5+ eb5f95f1593f7c22dac681b19e815828e2af3efd
FW/tplg latest release v1.5.1

[2020-09-21 00:41] H-Park commented on #2748
Tried it, and the master volume for was at 0, but setting it to 100 didn't work. I also ran the amixer cset command, but that too didn't work.
![Screenshot from 2020-09-20 19-38-28](https://user-images.githubusercontent.com/4796910/93725948-e384cd00-fb78-11ea-836c-f4c4128220fc.png)

Sorry for hijacking this issue thread...Been super frustrated with this since March and I'm almost to the point of j

[2020-09-21 01:23] mengdonglin commented on #2434
@ranj063 @fredoh9 Can we close this issue now if all 4 cores get powered? Or need we wait for ICCMAX implementation on ICL is  done on ICL?

[2020-09-21 05:29] keyonjie commented on #2458
@xiulipan it looks this 0xffffffff rx IPC message is related to the CTX_SAVE IPC, can you debug to check if it is related the fact that we are invoking pm version helper sof_ipc_tx_message() which could potential send extra IPC in ->set_power_state()?

[2020-09-21 05:43] keyonjie commented on #2458
we also observe similar issue on TGL when performing stress check-suspend-resume-500.sh.

[2020-09-21 05:47] aiChaoSONG commented on #2458
@xiulipan @keyonjie Issue transferred to linux repo as it is confirmed a kernel issue

[2020-09-21 07:14] #2311 closed

[2020-09-21 08:21] paulstelian97 commented on #139
NXP side (also anecdotal), we had used built in (with in-kernel-image firmware) as well (a while ago actually). A bit hacky but that's how we did it for a while. Had to do that because built-in SOF somehow loaded before the networked rootfs...

[2020-09-21 08:41] keyonjie commented on #139
Thanks for trying this out @caseorum and @paulstelian97. @lyakh FYI.

[2020-09-21 09:58] dbaluta commented on #139
I wonder if there's a de facto solution for having builtin modules which load the firmware from rootfs (to avoid building the firmware inside the kernel image).
When we tried this solution loading the firmware always failed because the rootfs wasn't available at that time.

[2020-09-21 11:43] lyakh commented on #139
@dbaluta As mentioned in https://www.kernel.org/doc/html/latest/driver-api/firmware/direct-fs-lookup.html#firmware-and-initramfs

[2020-09-21 12:53] paulstelian97 commented on #139
Problem with that is that a weird cyclic dependency happens that prevents the rootfs from ever mounting (nfsroot comes after sof for some reason?).

Also AFAICT we at NXP do not use any initramfs at all.

[2020-09-21 13:03] tiwai commented on #2430
Sorry for the late follow up, now I'm back from vacation and catching up.

AFAIK, the buggy control is "PGA2.0 2 Master Capture Switch", and we need to check which actual get callback is used for this control. The error indicates that value.integer.value[0] is set wrongly after the get callback was called.

BTW, you didn't have to check about CONFIG_SND_CTL_VALIDATION.  The SNDRV_CTL_ELEM_ACCESS_S

[2020-09-21 17:04] plbossart commented on #2748
@H-Park do you get sound on the headphone output?

If yes, that means the SOF parts are functional, but the codec driver doesn't have the 'right' configuration for the Realtek codec.
You can double check with options snd-intel-dspcfg dsp_driver=1, that will force the legacy HDaudio driver to be used. If this doesn't work then clearly it's a Realtek/Lenovo issue.

[2020-09-21 17:49] phocean opened #2460 "Microphone not working (Lenovo Thinkbook 13S, CML-U)"
The microphone is not working with my laptop : Lenovo Thinkbook 13S.

Distribution : openSUSE Tumbleweed (20200829)

[code]

Using `arecord` results in no sound, except a high pitch noise that last less than 1 sec at the begining.

[code]

Attachments:

[alsa-info.txt](https://github.com/thesofproject/linux/files/5257154/alsa-info.txt)

[dmesg.txt](https://github.com/thesofproject/linux/files/5257

[2020-09-21 19:13] plbossart commented on #2460
@phocean could you provide a screenshot of what the waveform looks like? You can do this with audacity and screenshot. Thanks!

@singalsu @juimonen @kv2019i FYI

[2020-09-21 23:00] plbossart commented on #2430
welcome back @tiwai!
I don't know what you meant in the initial bug report with "accessing via alsactl". Can we reproduce the error with regular amixer commands? What's so specific about alsactl?

[2020-09-22 07:14] tiwai commented on #2430
I don't think there is anything special in alsactl.  It just reads or writes the all control elements sequentially at storing and restoring, and the same error must be triggered by other mixer applications. Maybe it's just a matter which element was accessed, and alsactl hits easily because the control has a smaller numid.

[2020-09-22 07:21] perexg opened #2461 "kernel 5.9.0-rc5-next-20200921+ : PM errors, FW warnings"
<pre>
[    8.331228] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 4
[    8.460992] sof-audio-pci 0000:00:1f.3: Firmware info: version 1:5:0-7e6cd
[    8.460994] sof-audio-pci 0000:00:1f.3: Firmware: ABI 3:16:0 Kernel ABI 3:17:0
[    8.461536] sof-audio-pci 0000:00:1f.3: warning: unknown ext header type 3 size 0x1c
[    8.461570] sof-audio-pci 0000:00:1f.3: warning: unknown ext header type 4

[2020-09-22 07:27] kv2019i commented on #2461
@RanderWang @bardliao @plbossart SDW issue in upstream, please check.

[2020-09-22 07:45] kv2019i commented on #2302
@Enerccio any update?

[2020-09-22 08:34] keyonjie commented on #2283
@sathya-nujella @jairaj-arava I would close this, please reopen it if it needed.

[2020-09-22 08:34] #2283 closed

[2020-09-22 12:38] bardliao commented on #2461
The unknown ext header type warning can also be seen on topic/sof-dev branch and should be fixed by https://github.com/thesofproject/linux/pull/2462.
But I don't know how to reproduce the PM issue so far.

[2020-09-22 12:46] perexg commented on #2461
It seems that it's not 100% reproducible. I've seen the PM errors only once, but it looks like a race somewhere. The hw is Dell Precision 5750.

[2020-09-22 13:15] phocean commented on #2460
@plbossart here it is:

![image](https://user-images.githubusercontent.com/4280885/93887039-74c58200-fce6-11ea-8b1b-5288cffa2fb3.png)

Let me know if I can help further.

[2020-09-22 13:28] plbossart commented on #2430
when I tried to set the value of a switch to 65536 as in your bug report amixer politely declined to do so. I wonder if we are missing a range check somewhere.

[2020-09-22 13:33] mengdonglin commented on #2443
Patches for upstream:
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-September/174476.html
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-September/174477.html

[2020-09-22 13:42] plbossart commented on #2461
@perexg never seen this error on card registration. I wonder if it's a false alarm though, this looks like a deferred probe so it could very well be that we need the child device to be initialized but the master is not complete with its own initialization. I also just checked in the rt1308-sdw.c code, we only enable pm_runtime once we detect the device on the bus, which means the master is active.

[2020-09-22 13:48] plbossart commented on #2460
@singalsu do we have a means to disable DC offset and ramps on the DMIC? Wondering if something goes in the weeds here.

[2020-09-22 13:54] plbossart commented on #2460
@phocean Can you make sure all switches are on in alsamixer (nothing odd muted).

Also wondering if the information on DMIC is actually correct. Can you add this in /etc/modprobe.d/hda-legacy.conf

options snd_intel_dspcfg dsp_driver=1

If the mic works with this, it means that you don't have a DMIC and your BIOS is incorrect. It's a long shot but we need to double-check this.

[2020-09-22 14:10] tiwai commented on #2430
I don't think that's an error at writing the value, but it's at reading.  Maybe reading from the very beginning, uninitialized state?

[2020-09-22 17:05] plbossart commented on #2430
oh, read access. I completely missed this. It's perfectly possible that we have races between alsactl and topology.

@ranj063 @juimonen that goes back to my 2-yr old question: how are topology controls initialized...

[2020-09-22 17:20] ranj063 commented on #2430
@plbossart I think we might have a bug in the FW with the get() command related to the switch. After topology loading is done, we cache all kcontrol values by reading back the values from the FW and I see that even for the switch, we read the current volume gain which is set to MAX. Let me submit a fix.

[2020-09-22 18:19] ranj063 commented on #2430
@plbossart I dont have a device to test this, could you please confirm if it resolves the issue on your CML SDW device?

[2020-09-22 18:49] plbossart commented on #2430
I don't have a sequence to test this either, i don't use alsactl (or I don't have control on it). I'd need the help of @tiwai to define a 'manual' sequence to test this.

[2020-09-22 23:03] plbossart opened #2463 "[TGL] RT715-SDCA pause/resume issues"
sof-test reports errors with multiple-pause-resume cases

[code]

[multiple-pause-resume.tar.gz](https://github.com/thesofproject/linux/files/5264426/multiple-pause-resume.tar.gz)

[2020-09-22 23:08] plbossart commented on #2463
@bardliao this is with your branch https://github.com/bardliao/linux/tree/for-sdca-test

sof-test with https://github.com/thesofproject/sof-test/pull/397 and
[multiple-pause-resume.tar.gz](https://github.com/thesofproject/linux/files/5264462/multiple-pause-resume.tar.gz)

@shumingfan @jack-cy-yu FYI

[2020-09-23 00:52] RanderWang commented on #2461
I can't remember we get this issue. It is so rare. I think it was caused by "[    8.863706] sof_sdw sof_sdw: snd_soc_register_card failed -517".

[2020-09-23 02:19] libinyang commented on #2131
As discussed with Mengdong and Kai, I would like to reopen this issue and tag it as "won't fix". So we won't put any effort on it and we can be aware the bug is still there.

[2020-09-23 04:06] bardliao commented on #2463
@plbossart Can you try https://github.com/bardliao/linux/tree/for-sdca-test-v2? https://github.com/thesofproject/linux/pull/2308 has been updated and I don't see the issue with my new branch

[2020-09-23 06:14] tiwai commented on #2430
I also don't know.  It's a reporter's machine, and this could be from an action by any program, not necessarily alsactl.
In theory, "amixer contents" should trigger the similar effect.

[2020-09-23 07:11] phocean commented on #2460
@plbossart For sure nothing has never been muted on the side of `alsamixer`, that something I checked multiple times and in all possible ways.

`options snd_intel_dspcfg dsp_driver=1` does not seem to change anything.

[2020-09-23 10:41] #2430 closed

[2020-09-23 13:15] bardliao opened #2464 "[SDW] [TGL] rt711-sdca jack detection only works when runtime pm disabled"
rt711_sdca_interrupt_callback() is not triggered when a jack is inserted/removed in runtime suspended.
I do see interrupt when a jack is inserted/removed and sdw link is powered up, but I can only see SDW_SLAVE_ATTACHED event but no SDW_SLAVE_ALERT event.

testing branch https://github.com/bardliao/linux/tree/for-sdca-test-v2
@plbossart @shumingfan Let's track the issue here.

[2020-09-23 13:22] bardliao opened #2465 "[SDW] [TGL] rt715-sdca only works when runtime pm is disabled"
rt715-sdca can only capture silence on my side.
But it works well if I add options below
options soundwire_intel sdw_link_mask=0xf sdw_md_flags=0x05050505
options snd_sof_pci sof_pci_debug=1

testing branch https://github.com/bardliao/linux/tree/for-sdca-test-v2
@plbossart @jack-cy-yu Let's track the issue here.

[2020-09-24 07:23] shumingfan commented on #2464
@bardliao I think that the sdw_handle_slave_alerts function can't see the DP0_SDCA_CASCADE flag when runtime resumes.
The bus driver will do the bus reset when runtime resumes. However, the bus reset will reset the SCP_SDCA_IntMaskY registers.
Could you test with the patch (https://github.com/shumingfan/linux/commit/092c260a1da151a363867d6590b85af0355dfad3)?
You also need to set the property in th

[2020-09-24 11:23] mengdonglin commented on #2433
Same error also happens on CML Notebook with HD-A codec in stress test check-suspend-resume-500.sh

[2020-09-24 14:46] kv2019i opened #2468 "Early samples not played out correctly to DisplayPort receiver"
Test steps:
------------

1. Boot system with DisplayPort receiver connected
2. Connect DisplayPort receiver (test with Samsung U24E590)
3. check to which PCM monitor is connected (e.g. with amixer contents)
4. play ALSA test file to receiver (plughw:0,3 in this case, depends on how monitor is connected in step 3)

aplay -vv -i Dplughw:0,3 /usr/share/alsa/sounds/alsa/Front_Center.wav

5. immediate

[2020-09-24 16:04] caseorum commented on #2325
This can be closed now too.

[2020-09-24 22:26] #2463 closed

[2020-09-24 22:30] plbossart opened #2471 "[TGL][SDW] settings for RT1316 don't seem right"
testing with https://github.com/plbossart/sound/tree/sof-sdca-test-v3 (based on @bardliao code) and https://github.com/plbossart/alsa-ucm-conf/tree/sdw/sdca, the sound doesn't seem to come out right (left/right and frequency content).

In 2ch mode, the right channel comes on the left side
in 4ch mode, the sound comes from the middle, but the left seems to be coming out of a tweeter and the right f

[2020-09-25 01:46] bardliao commented on #2464
@shumingfan Thanks, it works on my side.

[2020-09-25 06:30] askmish commented on #2272
@libinyang Yes, I tried with latest UCM as well as the UCM in the commit#3e897306.
If I'm playing audio via HDMI before, the audio should route to HDMI after suspend/resume.

[2020-09-25 06:31] askmish commented on #2272
In the sound settings UI, I've selected HDMI as output source. I didn't select 3.5mm jack.

[2020-09-25 08:56] jack-cy-yu commented on #2465
@bardliao Please refer #2308 , driver has been updated. Thanks.

[2020-09-25 11:03] bardliao commented on #2465
Thanks @jack-cy-yu I verified #2308 on my side.

[2020-09-25 11:03] #2465 closed

[2020-09-25 13:47] plbossart commented on #2464
@shumingfan @bardliao I am not sure it's wise to set the SDCA interrupt bits at the bus layer. It's not clear if the 4 mask registers are required for all implementations, so I would err on the side of caution and only enable SDCA interrupts in the codec driver .update_status() callback, after the device is detected as attached.

Adding the properties is however fine, it doesn't hurt to declare th

[2020-09-25 14:16] plbossart commented on #2464
@bardliao @shumingfan I actually don't understand the suggested fix. When the bus resumes, in the io_init() callback the codec will call rt711_sdca_jack_init(), which will re-enable the masks.

[code]

so why would we need to do this at the bus level again?

[2020-09-25 14:19] singalsu commented on #1876
The issue no more happens with a device that uses sof-cml-rt711-rt1308-rt715.tplg.

Kernel Branch: topic/sof-dev
Kernel Commit: 0253ee5af11f
SOF Branch: master
SOF Commit: 52e82f4c6

Here's the result of command

[code]

![Screenshot from 2020-09-25 17-13-26](https://user-images.githubusercontent.com/28754793/94277883-d68a2400-ff52-11ea-865c-8e02f4ef461d.png)

The recording is at correct pitch, re

[2020-09-25 14:22] singalsu commented on #1876
I'll close this issue. Please reopen if this is seen with TGL since I can't test with exactly the same configuration.

[2020-09-25 14:22] #1876 closed

[2020-09-25 16:38] fredoh9 commented on #2434
There was some fixes required in SOF firmware. First one is https://github.com/thesofproject/sof/pull/3465,

I got a patch today. Will continue to work on this.
https://github.com/thesofproject/sof/pull/3473

[2020-09-25 18:39] plbossart opened #2472 "[BYT][NOCODEC] failed tests with simultaneous-playback-capture.sh"
https://sof-ci.01.org/linuxpr/PR2469/build4579/devicetest/

Not sure what's going but we see again lots of errors at the firmware level.

@lgirdwood @lyakh @marc-hb @xiulipan @aiChaoSONG Does this ring a bell? I may be paranoid here but I suspect instability issues are re-occurring?

[2020-09-25 18:54] plbossart commented on #2472
Also seen in Intel daily tests, ID 479, on BYT_NOCODEC and BSW_CYAN.

This is not a drill, this looks real:

[code]

[2020-09-25 20:21] marc-hb commented on #2472
I think last time we saw `Input/output error` it was a disk issue. More specifically eMMC which is generally cr*p: https://www.google.com/search?q=mmc0+timeout

BTW issues like eMMC are exactly why it ignoring unknown errors and running tests anyway is worse than pointless. It's much worse because instead of the entire system clearly being flagged as unreliable, everyone wonders why only some test

[2020-09-26 00:26] naveen-manohar opened #2473 "[TGL] [SDW]: max98373 SDW error at soc_component_read_no_lock"
Observe following Log randomly, during stress cycling.. Speaker Audio-Functionality post this scenario is yet to be verified as its a cold-reboot stress test.
Log: [system_logs.txt](https://github.com/thesofproject/linux/files/5285932/system_logs.txt)
[code]
Recipe Based on SoF_V0.7 Release
Hardware: Volteer Proto Board

[2020-09-27 02:13] aiChaoSONG commented on #2472
@plbossart @marc-hb I think this is true FW issue. I also observed this IO error in stable-1.6 stress test:
- BYT, check-playback-300times, Report ID: 478
- BSW/BYT, multiple-pipeline-playback-200, Report ID: 478
- BYT, check-playback-all-formats-50, Report ID: 478

This issue is very easy to reproduce in stress test, especially in high load test, eg multiple-pipeline test. And notice when issue o

[2020-09-27 06:20] keyonjie commented on #1838
Hi, @sathyap-chrome can you help to try if PR https://github.com/thesofproject/sof/pull/3476 help for this issue?

[2020-09-28 02:42] keyonjie commented on #2443
@shumingfan can you let us know if commits are merged in upstream?

[2020-09-28 02:51] shumingfan commented on #2464
@bardliao @plbossart I tried to re-enable SDCA interrupt in the .update_status() when the slave is detected as attached.
The test result is not good. Sometimes it could go to interrupt_callback, sometimes doesn't.
The failed case is that the bus driver goes to power down mode very soon.

[2020-09-28 02:57] shumingfan commented on #2443
@keyonjie The commits are merged already.
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?id=501ef013390b774e8e61000a78d1d640d6c3411d
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?id=5f2df2a4583b0d7b85054f0c1820f11a01936d35

[2020-09-28 08:37] mengdonglin commented on #2472
@plbossart @aiChaoSONG Is this the same issue as https://github.com/thesofproject/sof/issues/3462?

[2020-09-28 08:48] aiChaoSONG commented on #2472
@mengdonglin Yes, should be the same issue.

[2020-09-28 10:01] ggiuffre commented on #939
My Lenovo Thinkpad X1C7 running Ubuntu 20.04 has bee having this issue for a while, although I update my software regularly. I'm glad to provide more information, if this can help solve the issue.

[2020-09-28 10:05] paulstelian97 commented on #939
Ubuntu 20.04 is on old version of the kernel (5.4 IIRC). I think some fixes might need to be backported there, though if it doesn't impact proper functionality I doubt it's actually gonna be backported.

[2020-09-28 10:09] ggiuffre commented on #939
I see. Thank you for the prompt reply, Paul.

[2020-09-28 13:22] H-Park commented on #2748
Sadly, I did not, so I just installed Win 10 for the time being. I'll try again during my travels over winter holiday and hopefully whatever is not working gets resolved by then 🤞

Thanks for debugging with me, really shows how awesome of a team SOF has!

[2020-09-28 15:05] plbossart commented on #2464
This could be a sign of a missing pm_runtime_mark_last_busy().
Can you share your code so that we can compare? Thanks @shumingfan

[2020-09-28 15:06] plbossart commented on #2443
Right, let's close when we've merged these upstream patches back into the SOF tree.

[2020-09-28 15:10] plbossart commented on #2472
I don't think it's a duplicate. We've changed the firmware quite a bit, the issue 'disappeared' and now shows up again. To me that's a separate issue that cause the same error to show up, but the root cause is different.

@lgirdwood @lyakh is this something you can reproduce? I don't think we want to hold 1.6 for this, but still it's concerning that we somehow either missed this problem in previou

[2020-09-28 16:17] fredoh9 commented on #2310
Duplicated, https://github.com/thesofproject/linux/issues/2434 has more discussion. We can close this.

[2020-09-28 16:21] fredoh9 commented on #2434
Without https://github.com/thesofproject/sof/pull/2957/files, there is no extended manifest support. This is not SOF v1.6 blocker.

[2020-09-28 17:11] plbossart commented on #2472
Actually I'd like to confirm if stable-1.6 actually shows this regression? I see in results that the 1.6 stress tests did not expose a regression, so wondering if the errors happen only with the sof 'main' branch.

[2020-09-28 20:10] plbossart commented on #2472
Still error for check-playback-100times.sh in Intel daily test 489...

[2020-09-29 07:05] shumingfan commented on #2464
I tried to test again. I found out something I ignored before.
Due to the codec driver entered the suspend mode already, the act of re-enabling SDCA interrupt should be at cache-only=false mode.
Please check my test patch below. This patch works on my side.
If this patch is fine, I will update it to PR.

[code]

[code]

[2020-09-29 13:06] libinyang commented on #2211
documented on the wiki for user space settting: https://wiki.ith.intel.com/display/LINUXAUDIO/User+space+setup
close this topic

[2020-09-29 15:45] chmooreck opened #2478 "[CFL] error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
HP Zbook 17 G6, Realtek ALC285 + DMIC, i7-9850H

When trying to use sof audio I get:
$ dmesg | grep sof
[    3.434290] PCI-DMA: Using software bounce buffering for IO (SWIOTLB)
[    3.434291] software IO TLB: mapped [mem 0x912b1000-0x952b1000] (64MB)
[    5.379159] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    5.379161] sof-audio-pci 0000:00:1f.3: Digi

[2020-09-29 16:33] plbossart commented on #2478
@lgirdwood @jajanusz FYI, looks like there's a firmware authentication issue here?

[2020-09-29 16:36] marc-hb commented on #2211
https://wiki.ith.intel.com/display/LINUXAUDIO/User+space+setup is a (broken) link to an internal page. Even though it's internal, this page only has a short list of generic `apt-get install` commands with no reference to the newer packages we use.

[2020-09-29 18:06] fredoh9 commented on #2472
@plbossart I scanned test results in SOF v1.6 branch. I found same errors in BSW/BYT. Plan test result(not daily test) 488.

- Kernel Branch: topic/sof-dev
- Kernel Commit: 779efb50
- SOF Branch: stable-v1.6
- SOF Commit: 18fabd3d_release

I'm running simultaneous and multi-pipeline test locally with v1.6 rc3(same SOF hash with above).

[2020-09-29 18:36] plbossart commented on #2472
@fredoh9 is there a way we can comb through test results to see when the errors started to show up?
It could be that the errors were always present but somehow masked, but if on the contrary we have a case where errors didn't exist then at least we can start bisecting.

Thanks for your help on this!

[2020-09-29 19:02] fredoh9 commented on #2472
@plbossart yes, we have a test result database(TCR). At this moment I cannot connect to the site. I will filter test results to see from when we have this error in BSW/BYT again.

BTW, I'm testing with simultaneous/multipipe on a BYT NOCODEC device locally. I can't reproduce the problem yet. The occurance rate get changed with local testing.

[2020-09-29 19:49] maaarghk opened #2479 "DSP panic and no sound after wakeup - Dell 9700"
<details>
<summary>dmesg of driver start (doesn't have full debug unfortunately)</summary>

[code]
</details>

<details>
<summary>dmesg when error occurs</summary>

[code]
</details>

This must be intermittent because this is not the first sleep/wakeup since boot. Running SOF driver as at commit https://github.com/thesofproject/linux/commit/779efb50ac86cd0e313ba3d56642eab9894e2e91

unloading and r

[2020-09-29 20:16] plbossart commented on #2479
it's a known issue, version 1.6 of the firmware should solve this problem, can you try with binaries from

https://github.com/thesofproject/sof-bin/tree/stable-v1.6

@lgirdwood FYI that makes 2 users of SOF in Scotland :-)

[2020-09-29 20:55] maaarghk commented on #2479
thanks, apologies I did not see anything when searching the issue tracker! seems 1.6 is also from today so I can hardly fault my distro for not having it also :-)

before upgrading to 1.6 I am going to try to help resolve this chronic bikeshedding issue it has with the go.sh script as I see a release was made without one today.

also hi liam, I wouldn't say I'm any more of a user than your average

[2020-09-29 22:18] maaarghk commented on #2479
(sorry, not sure where to report this) I got some bad audio there on 1.6, sounded like a "bitcrush" effect. It went away after a moment and I can't see any log output although debug isn't on. Is there something I can do to help debug that?

[2020-09-29 22:36] plbossart commented on #2479
this was supposed to be a major release, that's not good if the first user reports a problem - Murphy's Law applies I guess....

Can you provide more details on what happened, and if you can reproduce your problem. providing a pointer to the alsa-info information would help.

@lgirdwood FYI, we'll probably need to help debug this

[2020-09-29 22:41] maaarghk commented on #2479
Here's alsa-info: http://alsa-project.org/db/?f=8a504cb7dde33bfb232e07ae7b59739ce1632b65

I was not using the laptop at the time, but I got a system notification (slack noise) which sounded bitcrushed so I then played a youtube video in Chrome to check and got the same effect. I stopped sound on that and waited a moment and the next thing I played was normal again.

Fingers crossed for you that I

[2020-09-29 22:45] plbossart commented on #2479
Unfortunately that seems the same issue as before, the PANIC used to happen when transient sounds were played. Now the panic can't happen any longer but I guess the firmware still goes in the weeds, albeit in a recoverable way.

That's not as bad as the previous PANIC which required a reboot, but that's still not a passing grade to me.

[2020-09-29 22:48] maaarghk commented on #2479
obviously I'm not sure but I would say I have been using the 1.5.1 firmware on this hardware for a few months and it rarely would have the panic, and only after a long uptime, whereas this happened very soon after a reboot.

can you remind me how to enable debug output in dmesg and I will enable that and keep an ear out for anything else?

[2020-09-29 23:01] maaarghk commented on #2479
ok, it is ongoing at the moment (i think it just started with this youtube video so I don't think anything to do with a transient sound, I didn't notice one anyway). it hasn't gone away as I keep playing this video so maybe something that happens when the output is silent clears this issue. i could be wrong but I believe it is only from the left speaker.

short video: https://photos.app.goo.gl/jTZ

[2020-09-30 00:25] plbossart commented on #2479
dynamic debug can be enabled by copying this file
[ddebug.txt](https://github.com/thesofproject/linux/files/5302503/ddebug.txt) as /etc/modprobe.d/sof-ddebug.conf

[2020-09-30 02:17] libinyang commented on #2211
Yes, Mengdong changed the link address. As ubuntu has merged the necessary patches (only a little corner patches, I'm working with Hui), you just need to run the apt-get install to update the packages to the latest.

[2020-09-30 04:44] fredoh9 commented on #2472
After searching through TCR, found good build and bad(first broken) build.

*Good build(dailiy build 2020-09-20)
- Kernel Branch: topic/sof-dev
- Kernel Commit: 33767414
- SOF Branch: master
- SOF Commit: 6e98d9dd

*Bad build(dailiy build 2020-09-21)
- Kernel Branch: topic/sof-dev
- Kernel Commit: 40e44b3a
- SOF Branch: master
- SOF Commit: 0a247928

After looking at the diff between two build, I

[2020-09-30 11:20] maaarghk commented on #2479
https://gist.github.com/maaarghk/602109b21a679b649786357bae3c1309

It seems whenever the pcm stream is closed then re-opened it has a 50/50 chance of reopening with the issue being exhibited. I just have notification sounds going off just now every few minutes and some are fine and some are not. they correlate with "sof_sdw sof_sdw: ASoC: find BE for widget Low Latency Playback 2" lines.

not sure

[2020-09-30 11:38] paulstelian97 commented on #2479
For the devs on your platform to know where to try to look at first, this sounds like a frame goes really in the weeds (frame sync coming up incorrectly). DAI and codec configuration can be problematic.

[2020-09-30 14:04] plbossart commented on #2479
Oh man, this is a SoundWire-based device.  I thought it was the usual HDAudio platform but no Sir, it's brand-new hardware for which we completed the upstream process literally 10 days ago.

One hypothesis is that your kernel does not have all the latest and greatest patches for SoundWire. I don't know what Manjaro does.

Is it possible for you to install a kernel based on our kernel topic/sof-dev

[2020-09-30 14:06] plbossart commented on #2479
@bardliao do you have a CML-H device? Wondering if we can try to reproduce a test case with short notifications,

[2020-09-30 14:11] maaarghk commented on #2479
Hi Pierre, I will try to compile and run the whole kernel from topic/sof-dev branch. I already made a dkms tree (https://github.com/maaarghk/soundwire-dkms/blob/8b578ac2e0a1126b14fc43a09e981e0cded811f0/dkms.conf) to build a lot of modules from https://github.com/thesofproject/linux/commit/779efb50ac86cd0e313ba3d56642eab9894e2e91 but of course I may have missed something.

[2020-09-30 14:24] plbossart commented on #2479
If this helps, we have a set of typical kconfigs at https://github.com/thesofproject/kconfig
https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh should give you a config that compiles in about 4mn and gives you what you need (I use it on a CML-U device)

[2020-09-30 15:38] ruffson commented on #2479
I am running Fedora 32 with a `5.8.11-200` kernel on a Precision 5750 (same hardware).
If there is an easy enough way for me to test it, I can check too.

[2020-09-30 15:59] maaarghk commented on #2479
If all sound is currently working well for you, you can clone https://github.com/thesofproject/sof-bin/tree/stable-v1.6 (checkout branch stable-v1.6) and run go.sh to install the 1.6 firmware. on rebooting you should have bad audio sometimes like on my video.

I'm now running 5.9.0-rc7 compiled from topic/sof-dev and I just had the problem again with distortion, identical issue. On this occasion b

[2020-09-30 16:08] ruffson commented on #2479
No I did not touch this on my current install because I did not want to mess around and rather wait.

[2020-09-30 16:24] plbossart commented on #2479
@ruffson and @maaarghk can you provide the results of 'cat /sys/class/dmi/id/product_sku" - this will help check which version of SoundWire devices you have (the sku number is used in our machine drivers in sound/soc/intel/boards/sof_sdw.c). Thanks!

[2020-09-30 16:26] ruffson commented on #2479
Sure:

[code]

[2020-09-30 16:30] plbossart commented on #2479
ok, that's a 2-amp 4-speaker system, the more complicated one. https://github.com/thesofproject/linux/blob/96b9d7cf347158efac3d830d9937e8efc39579c8/sound/soc/intel/boards/sof_sdw.c#L93

[2020-09-30 16:39] maaarghk commented on #2479
I have 098f which is the same driver_data

[2020-09-30 22:37] plbossart commented on #2464
@shumingfan I integrated the code on sdw/sdca-integration and I don't see any problems.

[2020-09-30 22:40] plbossart commented on #2460
@phocean could you try the updated firmware 1.6 (https://github.com/thesofproject/sof-bin/tree/stable-v1.6)? It's a long shot but worth double-checking. Make sure you save /lib/firmware before installing stuff.

[2020-09-30 22:43] plbossart commented on #2458
@aiChaoSONG what exactly proves it's a kernel issue? I can't follow your assertion, either I am missing context or you have not shared some information here.

[2020-09-30 22:49] plbossart commented on #2391
@kv2019i as long as firmware folks keep using timer ticks, it'll be impossible to represent periods that are fractional. We have the same problem using 64.fs on interfaces, basic rules of integer divisions will not allow all configurations.

[2020-09-30 22:52] plbossart commented on #2346
@libinyang doesn't look like we have a solution based on the PulseAudio discussions?

[2020-09-30 22:52] plbossart commented on #2325
thanks @caseorum

[2020-09-30 22:52] #2325 closed

[2020-10-01 03:41] marc-hb commented on #2211
The asrc fix for https://github.com/thesofproject/sof/issues/2543 has still not been cherry-picked by Ubuntu 20.04, I just checked.

Even after it has been cherry-picked, i think we still want to enable users upgrade to cutting edge ALSA packages whenever needed or wanted. @plbossart confirm?

[2020-10-01 08:55] kv2019i commented on #2391
@plbossart wrote:

I agree we should set the minimum period size based on the 1ms timer tick.

I'm however not convinced we should enforce a strict alignment for all period sizes. USB has a similar time based timer tick, but USB driver does not enforce this constraint on all period sizes to ALSA. It's only visible in the minimum period size.

This does lead to some unoptimal behaviour. Application

[2020-10-01 14:44] keyonjie commented on #2391
@plbossart I think you have been mixing the constraint of ALSA buffer period size and FW buffer one, we are using 1ms period in most of FW buffers, but that should not be propagated to ALSA DDR buffers IMHO, we are able to make ALSA buffer constraint more friendly to user space, including period_size and buffer_size.

[2020-10-01 15:28] naveen-manohar commented on #2473
Customer reported an issue which broke down into no audio with the same error signature.. Can we bump the priority in-par with customer's priority

[2020-10-01 16:36] plbossart commented on #2211
yes, I don't think Ubuntu has the latest and greatest. I just did an update yesterday and the same old stuff was present. we really need the ability to use 'upstream' packages.

[2020-10-01 16:44] plbossart commented on #2391
I disagree with both @kv2019i and @keyonjie. Having period events that are not periodic is IMHO a bug, not a feature. we should not promote this sort of behavior.

[2020-10-01 16:51] plbossart commented on #2473
@naveen-manohar unless you help us by using the topic/sof-dev kernel and providing more detailed logs, changing the priority is not going to help. Keep in mind I am the only SoundWire support for the next week or so (Chinese Fall festival)....

Specifically I don't see where "soc_component_read_no_lock" is called and what sequence leads to this problem. Please add dynamic debug for the soundwire p

[2020-10-02 02:55] naveen-manohar commented on #2473
Sure @plbossart , ww40.5 is India Site Holiday, by ww41.1 EoD, shall post the specified data.

[2020-10-02 09:50] kv2019i commented on #2391
@plbossart wrote:

I think this very similar to the discussion of accuracy of "avail" bytes at any given time. Like with "avail", ALSA doesn't guarantee wake-ups to be accurate and there is no API to let user-space know about e.g. DMA burst length. We do need to have X bytes available when period interrupt is raised, and for this we are compliant and applications are happy. If they care about more

[2020-10-03 09:19] chmooreck commented on #2478
Looks similar to:
https://github.com/thesofproject/sof/issues/2842

[2020-10-03 21:27] HoshiYamazaki opened #2485 "RFE: Add BYT + WM5102 codec support to the kernel"
My dmesg log, modprobing various rt5640/rt5651 drivers does nothing and I can't reload alsa with proper audio support.

[code]

[2020-10-04 10:58] naveen-manohar commented on #2473
With chrome latest kernel based on SoF_v010 and was to able to reproduce issue during warm_boot stress test with debug logs..
Seems like the DSP fails to enter D3 during certain iteration and further access to soundwire device fails
Logs:
[dmesg-issue_ipc_timeout.log](https://github.com/thesofproject/linux/files/5323046/dmesg-issue_ipc_timeout.log) - FAILS
[dmesg-working.log](https://github.com/th

[2020-10-04 12:05] memegauste commented on #2485
As I found, the `fw_sst_0f28.bin` file exists in `linux-firmware` arch package, so I'm not sure what is really wrong.

[2020-10-05 07:39] kv2019i commented on #2473
Discussed with @naveen-manohar and we'll try to get:
- DSP FW logs
- more debug from the codec driver

One thing that pops up in the error case log is that we are getting traces from the codec driver after
2020-10-04T15:35:01,501726+05:30 intel-sdw intel-sdw.1: intel_link_power_down: powering down all links
...
2020-10-04T15:35:27,168791+05:30 max98373 sdw:1:19f:8373:0:7: ASoC: error at soc_compon

[2020-10-05 08:01] kv2019i commented on #2473
Quick update. The  soc_component_read_no_lock errors are probably amixer reads after all, and regmap_read returns -EBUSY if regmap is in cache_only mode, which would be the case when powered down, so these look harmless in the end. So the main question is now to why the IPC fails.

[2020-10-05 08:02] naveen-manohar commented on #2473
Thanks @kv2019i for the quick support.. Sure I'm working on the DSP FW logs during Failure Scenario
Things is, Issue is reproduced in stress test, so I need to make find some way to stop the test during failure.
Let me reproduce and update with FW trace. Thanks

[2020-10-05 10:12] naveen-manohar commented on #2473
attached firmware trace..
[trace.log](https://github.com/thesofproject/linux/files/5326693/trace.log)
[dmesg.log](https://github.com/thesofproject/linux/files/5326694/dmesg.log)

[2020-10-05 14:38] singalsu commented on #1799
Patch by @juimonen #2469 fixes this.

[2020-10-05 15:38] plbossart commented on #2485
@HoshiYamazaki fw_sst_0f28.bin is a firmware used by the legacy driver in sound/soc/intel/atom. If you want to enable SOF on Baytrail, you need to select it explicitly. Please look at the suggested kernel configurations in https://github.com/thesofproject/kconfig/blob/master/sof-dev-defconfig if you want to disable legacy drivers and enable SOF-based solutions.

Thanks!

[2020-10-05 15:43] plbossart commented on #2473
can you share a pointer to this behavior @kv2019i? that's not intended, the point about cache_only mode was to avoid sending commands on the bus but there's no reason to return an error.

[2020-10-05 15:50] plbossart commented on #2473
@naveen-manohar I don't see a smoking gun but I don't understand the sequence either. it looks like in the tests the failure happens on the first suspend, which is not really a stress test...I also don't see if this is due to pm_runtime or a system suspend. more info would be good here.

[2020-10-05 16:32] plbossart commented on #2478
@chmooreck do you mind providing a link to the results of 'alsa-info'? I wonder if this happens on an IceLake device, for which we've had several issues including in our own testing.

[2020-10-05 16:42] naveen-manohar commented on #2473
Hi @plbossart ,
Apologies for not sharing the exact test being tried..
The stress test is about cold-boot test ran using a set of scripts.. sequence is like below:
**Boot -> Check all devices are loaded -> Dump corresponding logs -> cold-reboot -> redo test till iteration specified.**
Here Cold reboot = ectool reboot_ec cold at-shutdown, shutdown -h now

Each iteration's boot log/dump will be stor

[2020-10-05 16:51] ranj063 commented on #2473
@plbossart looking at intel_suspend_runtime() it looks we disable interrupts before powering down the links. Is that intended?

[2020-10-05 16:53] chmooreck commented on #2478
$ lspci -vs 00:1f.3
00:1f.3 Multimedia audio controller: Intel Corporation Cannon Lake PCH cAVS (rev 10)
	Subsystem: Hewlett-Packard Company Cannon Lake PCH cAVS
	Flags: bus master, fast devsel, latency 64, IRQ 16
	Memory at 404a108000 (64-bit, non-prefetchable) [size=16K]
	Memory at 404a000000 (64-bit, non-prefetchable) [size=1M]
	Capabilities: <access denied>
	Kernel driver in use: sof-audio-pci

[2020-10-05 16:55] kv2019i commented on #2473
@plbossart wrote:

Basicly I was searching the codebase where codec soc_component_read I/O would return -EBUSY and pretty much the only place
is regmap.c:_regmap_read(). There's code that checks map->cache_only and returns -EBUSY in this case.

[2020-10-05 17:02] plbossart commented on #2473
yes, we let the workqueue complete, then disable Cadence IP interrupts then power down links.

@naveen-manohar can you double-check if you have the patch "soundwire: cadence: fix race condition between suspend and Slave device alerts", that's the only thing I can think of on the suspend path that we fixed recently (August).

[2020-10-05 17:17] naveen-manohar commented on #2473
@plbossart : I don't observe this patch in my Code-base. Thank you this seems related.
I'm trying to the issue with this patch now..

If here too, if i observe issue, then as @ranj063 recommended shall move to SDW upstream backported recipe and update..

[2020-10-05 17:25] naveen-manohar commented on #2473
I quickly ran the test and observe with following patch too issue is observed - "soundwire: cadence: fix race condition between suspend and Slave device alerts"
Switching to SDW upstream backported recipe blindly.. If any suggestions please share..

[2020-10-05 17:52] plbossart commented on #2473
@kv2019i the-EBUSY should not happen:

[code]

I think we have a case where the cache_bypass and cache_only are not correctly set?

[2020-10-05 19:10] naveen-manohar commented on #2473
Just an Update on the experiment I was trying,
With SDW upstream kernel too, I was able to **reproduce the IPC issue**.. within 5 iterations

Checked @plbossart's suggestion to remove the regcache_mark_dirty entry during suspend.. **But still Issue Persists..**
I do observe eBusy- `max98373 sdw:1:19f:8373:0:3: ASoC: error at soc_component_read_no_lock on sdw:1:19f:8373:0:3: -16`

Hence I re-tried

[2020-10-05 19:16] plbossart commented on #2478
@chmooreck ok so that's CannonLake. I don't recall seeing issues with this.

Maybe we should try to see if the authentication also fails with the Skylake/SST driver. Can you try with this in /etc/modprobe.d/alsa-base.conf

options snd_intel_dspcfg dsp_driver=2

This may fail at a later point but this is just to see how far the driver would go and if you manage to get past the firmware signature au

[2020-10-05 19:35] plbossart commented on #2473
@naveen-manohar can you try disabling pm_runtime then?

options snd-sof-pci sof_pci_debug=1

Just to see if leaving everything on helps.

[2020-10-05 19:43] plbossart commented on #2472
@fredoh9 have you been able to reproduce the results of the build with kernel good and bad commits ?

[2020-10-05 19:54] chmooreck commented on #2478
[code]

[alsa-info-sst.log](https://github.com/thesofproject/linux/files/5329783/alsa-info-sst.log)

[2020-10-05 20:28] plbossart commented on #2478
@chmooreck sorry, I was interested in the entire dmesg log only, can you please share it?

[2020-10-05 20:46] chmooreck commented on #2478
There isn't anything special, maybe i should enable some debug options ?

[dmesg-sst.log](https://github.com/thesofproject/linux/files/5329987/dmesg-sst.log)

P.S. it's 22:50 here so next info will be available in ~8h

[2020-10-05 20:52] plbossart commented on #2478
please try with

options snd_soc_skl dyndbg=+p

[2020-10-05 21:23] chmooreck commented on #2478
[code]

[dmesg-sst-dyndbg.log](https://github.com/thesofproject/linux/files/5330139/dmesg-sst-dyndbg.log)

sof with dyndbg
[dmesg-sof-dyndbg.log](https://github.com/thesofproject/linux/files/5331766/dmesg-sof-dyndbg.log)

[2020-10-05 22:46] fredoh9 commented on #2312
This issue was intended to fix
[code]

already fixed by 96b9d7cf34715

[2020-10-05 22:46] #2312 closed

[2020-10-06 05:28] naveen-manohar commented on #2473
@plbossart : With disabling pm_rt it works fine.. tried 10 iterations.

[2020-10-06 14:23] plbossart commented on #2478
Extracting the useful information from the SOF boot

[code]

@ranj063 @jajanusz do those initial boot codes mean anything to you? Also wondering why in the error case we get a -1?

[2020-10-06 14:26] plbossart commented on #2478
@chmooreck the SST log does not seem to provide any useful info, did you enable SND_SOC_INTEL_SKYLAKE_HDAUDIO_CODEC in your .config? Also when you use SST you likely need to disable SOF completely.

Edit: you also need SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH

[2020-10-06 14:37] plbossart commented on #2473
Thanks @naveen-manohar, that helps. I can't point to a root-cause yet but at least there's a sequence that works and a sequence that doesn't.

Can we try another test where we disable pm_runtime at the SoundWire master level. This should work:

options soundwire_intel sdw_md_flags=0x01010101

[2020-10-06 14:40] plbossart commented on #2473
@naveen-manohar can you also remind me what the test does, is this system suspend from S0 to S3, or S0 to S0ix? Also what the state of the PCI device, D0 or D0i3?

[2020-10-06 15:27] chmooreck commented on #2478
SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH was missing (GPIOLIB was disabled too), missing 2 last lines from previous:

[code]

Maybe there is something missing in my kernel config ?
[config.txt](https://github.com/thesofproject/linux/files/5334886/config.txt)

[2020-10-06 15:44] plbossart commented on #2479
@ruffson @maaarghk making sure you see the other report on Dell Precision 5750 at https://github.com/thesofproject/sof/issues/3495

[2020-10-06 15:53] naveen-manohar commented on #2473
Sure @plbossart shall try the experiments and update..
Just an update is that, i was applying certain debug prints to check the codec EBUSY in https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/base/regmap/regmap.c#L2676
And found that no IPC issue was observed when i do the stress test.. Seems like a timing issue ?

The stress test is normal ec-cold boot for certain iterations.. (s

[2020-10-06 15:54] maaarghk commented on #2479
@ruffson I don't know if you still feel like you would rather wait but you can consider installing dkms module I made following steps on my [blog](https://blog.fts.scot/2020/07/04/dell-xps-2020-how-to-get-audio-working-on-linux/) but I wouldn't know how to help you with that on fedora specifically.

[2020-10-06 15:55] plbossart commented on #2478
Try to remove CONFIG_SND_SOC_SOF_TOPLEVEL=y and add this patch to see if the probe works:
[skl.diff.txt](https://github.com/thesofproject/linux/files/5335123/skl.diff.txt)

[2020-10-06 16:02] plbossart commented on #2473
@naveen-manohar this definitively looks like a race condition.

Can you share details of the test?

In the past, we've had cases where we do we rapid system suspend/resume, there's an interference with pm_runtime. If you can try streching the cases so as to make sure that all pm_runtime is complete, e.g. suspend every 30s, that would help check what happens when you suspend from an already idle st

[2020-10-06 16:09] fredoh9 commented on #2472
@plbossart Yes, I did bisect and get the result also. But the result didn't make sense to me, not sure good build/bad build is solid. This error is not 100% reproducible.

This is my git bisect. Set initial good as 3376741, bad to 40e44b3(above build info)
I used only BTY_MB_NOCODEC device. run 3 test cases to decide good or bad.

- simultaneous-playback-capture.sh 50 loop
- multiple-pipeline-play

[2020-10-06 16:30] chmooreck commented on #2478
[code]

skl_i915_init() fails
this is the only one exit without error message

[code]

I've got internal Intel GPU disabled in BIOS, working on nvidia.

after removing CONFIG_SND_SOC_HDAC_HDMI
[code]

Maybe there shouldn't be return after failed HDMI probe ?

[2020-10-06 17:36] plbossart commented on #2472
@fredoh9 this commit ID has nothing to do with the nocodec mode, the error seems random then.

[2020-10-06 17:42] plbossart commented on #2478
@chmooreck it's becoming too complicated, this driver is experimental on CannonLake and doesn't really support HDMI-less solutions.

Let's see if the boot error codes are enough to root cause this.

[2020-10-06 17:52] marc-hb commented on #2472
Bisecting requires rock-solid reproduction, otherwise it's just a huge waste of time.

[2020-10-06 18:13] chmooreck commented on #2478
I disabled nvidia and enabled HDMI

[code]

Feel free to ask if I can help in any way.

[2020-10-06 18:28] plbossart commented on #2478
@chmooreck ok, that seems usable then. can you add

options snd_soc_skl_hda_dsp dyndbg=+p

You can add this option for pretty much everything related to skl audio

I wonder why you don't see anything else in the results.

[2020-10-06 18:30] ranj063 commented on #2473
@plbossart seems like kern.log is not standard on the chromebook. So I dont think Naveen will be able to run sof-test on his device

[2020-10-06 19:27] chmooreck commented on #2478
Now it looks better...
[dmesg-snd-dbg.log](https://github.com/thesofproject/linux/files/5336244/dmesg-snd-dbg.log)

[2020-10-06 19:58] plbossart commented on #2478
@chmooreck making progress but I am surprised that there's no message on firmware boot. Do you see a card being created at all?

Adding this patch would help for sure:
[hda.diff.txt](https://github.com/thesofproject/linux/files/5336375/hda.diff.txt)

[2020-10-06 20:00] plbossart commented on #2473
Oh man, that's crazy. Can't we install Ubuntu and retry? I mean, if we can't reproduce tests it's *really hard* to debug anything.

[2020-10-07 03:50] naveen-manohar commented on #2473
Regarding Test being tried(sent the scipt in mail):
[code]
@plbossart: I tried options soundwire_intel sdw_md_flags=0x01010101, issue Persists.
On Chromebook kern.log isn't available, I'm still checking this.

Thanks @plbossart @ranj063 for the support..

[2020-10-07 04:31] askmish commented on #2272
We were able to solve this issue by upgrading pulseaudio to: 13.99.1 via apt install pulseaudio

[2020-10-07 07:45] kv2019i commented on #2473
@plbossart wrote:

That's a known limitation of sof-test currently. We've talked about this with @marc-hb , but not on the roadmap currently.

[2020-10-07 07:57] marc-hb commented on #2473
sof-test supports Ubuntu 20.04 only. You could probably hack it and make some tests work on some other Linux desktop distribution(s) in a reasonable time (patches welcome) but for a Chromebook I wouldn't hold my breath because ChromeOS is very different.

BTW the plan is to drop the dependency on `kern.log` and focus on `journalctl` instead.

[2020-10-07 07:58] naveen-manohar commented on #2473
Tried experimenting by modifying the SOF device RT delay to 4000 & delay wrt sdw master .. Still IPC Fails

[2020-10-07 13:44] plbossart commented on #2473
@naveen-manohar I was suggesting the other direction, reduce the pm_runtime delay and increase the delay within the test script. The idea is to see if there's a conflict between pm_runtime suspend and system suspend/reboot.

[2020-10-07 13:45] plbossart commented on #2473
I suggest we really rethink the whole thing here. The effect is that we have no way of qualifying the backport in the same conditions as the initial upstream code. That's not good.

[2020-10-07 13:46] plbossart commented on #2272
@askmish can we close this issue then?

[2020-10-07 13:51] #2272 closed

[2020-10-07 16:05] chmooreck commented on #2478
alsa-topology-conf-1.2.3 from gentoo repository

[code]

[dmesg-snd-dbg-firm.log](https://github.com/thesofproject/linux/files/5341931/dmesg-snd-dbg-firm.log)