[2020-05-09 09:23] xiulipan commented on #2073
@keyonjie @ranj063 @ClarexZhou After add some debug code below, it appears that something must set pm control to `on` somewhere. But I could not know where or who did that.

@plbossart @kv2019i @lyakh Any idea about this?

[code]

[code]

Some guess about
[code]
Any similar issues found with Ubuntu 20.04?

[2020-05-09 10:03] keyonjie commented on #2073
@xiulipan, can you dump the callstack, my rough guess is that it came from the pm_runtime_forbid call if the PM runtime is not disabled via sof_pci_debug:

$ grep "pm_runtime_forbid" sound/* -rn
sound/pci/hda/hda_codec.c:3395:		pm_runtime_forbid(dev);
sound/pci/hda/hda_tegra.c:450:		pm_runtime_forbid(hda->dev);

[2020-05-09 10:15] xiulipan commented on #2073
@keyonjie The `pm_runtime_forbid` is called by `control_store`
[code]
which means something in the user space write the debugfs to disable the runtime pm for  `0000:00:1f.3`
`[   23.195721] sof-audio-pci 0000:00:1f.3: PXL: pm_runtime control_store on`

[2020-05-09 13:01] giddie commented on #1917
Looking forward to testing this. I've patched my UCM; now just waiting for firmware binaries to appear on the ALSA FTP, as this seems to be the source the Archlinux PKGBUILD uses. I notice 1.5 has been tagged for 12 days, but I guess I'll just have to remain patient :p

[2020-05-11 08:36] kv2019i commented on #2067
One related issue: setting PGA volume values in EnableSequence https://github.com/thesofproject/alsa-ucm-conf/pull/39

[2020-05-11 14:02] kv2019i commented on #2073
I can reproduce the problem now. It seems there is some new logic to white/black list devices capable of runtime-PM in Ubuntu -- see /lib/udev/rules/6*suspend.rules. I've yet to figure out how the control gets set, but it's definitely coming from user-space.

The autosuspend rules are geneted by following script of systemd:
https://github.com/systemd/systemd/blob/master/tools/chromiumos/gen_autosu

[2020-05-11 16:35] kv2019i commented on #2073
@ClarexZhou Ok, rootcause seems to be default configuration of "tlp" package. It has:

SOUND_POWER_SAVE_ON_AC="0"

... as the default. So whenever you have AC power plugged, it will write "on" to SOF PCI device's runtime-pm control and disable runtime-pm. When you unplug, it goes back to "auto". There can be a slight delay in boot before "tlp" gets to run where the state is briefly "auto" even tho

[2020-05-12 02:19] sinahuang commented on #2084
Issue also can be reproduced on another EHL RVP with RT5660 in I2S mode when do multi pipeline stress test.

[2020-05-12 04:46] xiulipan commented on #2073
@kv2019i Nice catch! I think we should have some sharing about this kind of user-space PM configuration
@ClarexZhou I believe we can close this issue as this is user-space configure. Could you manually test without AC plug in to confirm the findings from Kai

[2020-05-12 05:38] ClarexZhou commented on #2073
Verified runtime PM status can be suspended if without AC plug. This issue only occurred with OEM ubuntu for Shuri, and error not seen on public ubuntu 20.04. Close.

[2020-05-12 05:38] #2073 closed

[2020-05-12 06:21] lyakh opened #2096 "Add checks to firmware IPC reply interpreter"
Looking at `snd_sof_fw_parse_ext_data()` https://github.com/thesofproject/linux/blob/6da19674c8bf7ddf5af94c36b1d50a2ab5c35a29/sound/soc/sof/loader.c#L89 it parses firmware `fw_ready()` IPC message. While doing that it seems to unconditionally trust the correctness of data that has been read from the firmware, e.g.
[code]
which seems to be essentially copying `ext_hdr->hdr.size` bytes of data to a

[2020-05-12 08:40] wittawatj opened #2097 "Realtek ALC285 on Omen15. Microphone not detected"
On Ubuntu 20.04, by default, sof-audio-pci is used. I only have "Dummy output" in pavucontrol. To fix this, I modified /etc/modprobe.d/alsa-base.conf and added "options snd-intel-dspcfg dsp_driver=1" so that now "snd-hda-intel" is loaded instead of sof-audio-pci. While the speakers are working fine, I do not have the internal microphone working. Could you please help?

I was sent from this thread

[2020-05-12 14:01] RiderALT commented on #1807
@kv2019i is there any way to force codec selection on kernel 5.6.x ? I would try specifying a codec to make sure everything works with it.

[2020-05-13 02:37] mengdonglin commented on #1972
Depends on new feature https://github.com/thesofproject/linux/issues/2067

[2020-05-13 05:21] sinahuang opened #2100 "[BUG][UCM2]All sources don't have sound output after switching source in sound setting."
**Describe the bug**
Sound only output from first auto selected source after reboot, then switch to any source, there is no sound output. But check the alsamixer the source is unmuted.

Precondition:
1.Install ubuntu 20.04
2.Upgrade pulseaudio (https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：36a4923f)+https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/

[2020-05-13 05:44] sinahuang opened #2101 "[BUG][UCM2][CML]Output device will auto switch to HDMI/DP when switch output devices between headphone and speaker."
**Describe the bug**
When HDMI/DP is connected to right port of Stradale, switch output source between headphone and speaker, the output source will auto switch to HDMI/DP. But When HDMI/DP is connected to left port of Stradale, error cannot be seen.

Precondition:
1.Install ubuntu 20.04
2.Upgrade pulseaudio (https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：36a4923f)+http

[2020-05-13 06:41] YvonneYang2 opened #2102 "[BUG][UCM2][CML]Sound setting shows empty selection after reboot with HDMI/DP highlight in output device."
**Describe the bug**
Select HDMI/DP as output source in sound setting, then reboot. Sound setting will have empty selection. Click the empty selection, then output source will show up.

Precondition:
1.Install ubuntu 20.04
2.Upgrade pulseaudio (https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：36a4923f)+https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/

[2020-05-13 06:57] YvonneYang2 opened #2103 "[BUG][UCM2][CML]Mute LED auto light off after reboot"
**Describe the bug**
Mute input device then reboot, input device will auto change to be unmuted status. Mute LED also light off after boot up.

Note: delete the MIC switch in RT715.conf and RT711.conf and retest it , mute LED only light up when mute both headset and DMIC at the same time before reboot. If just only mute one input source, after reboot, the input source volume is muted in sound sett

[2020-05-13 07:55] mengdonglin commented on #956
@kv2019i Closed and thanks for identifying current gap!

[2020-05-13 07:55] #956 closed

[2020-05-13 08:25] juimonen commented on #2067
@perexg any comments for this? FYI also @tanuk, I understood pulseaudio doesn't have currently mechanism to read something like "first boot" values from UCM...

[2020-05-13 09:05] sinahuang opened #2105 "[BUG][UCM2][SDW]Output device can't auto highlight to HDMI/DP after connecting HDMI/DP with right port."
**Describe the bug**
Output device can't auto highlight to HDMI/DP after connecting HDMI/DP with right port of CML-H
laptop.
Note:Error not seen with left port of CML-H.
[amixer contents.txt](https://github.com/thesofproject/linux/files/4620875/amixer.contents.txt)

Precondition:
1.Install ubuntu 20.04
2.Upgrade pulseaudio (https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit

[2020-05-13 09:55] sinahuang opened #2106 "[UCM2][BUG][CML]Only one HDMI/DP has sound output when two HDMI/DP are connected."
**Describe the bug**
With two HDMI/DP connected, output device switch to HDMI A, S/PDIF of HDMI A can auto unmute while HDMI B cannot.
[amixer contents.txt](https://github.com/thesofproject/linux/files/4620875/amixer.contents.txt)

Precondition:
1.Install ubuntu 20.04
2.Upgrade pulseaudio (https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：36a4923f)+https://gitlab.freedeskt

[2020-05-13 09:56] paulstelian97 commented on #2097
Microphone not working on non-SOF (snd-hda-intel) is a sign of you having a DMIC (digital microphone) which is only supported in SOF.

We gotta figure out why you're getting the dummy output. Are you actually not hearing anything but are able to record stuff with the SOF driver?

[2020-05-13 09:58] paulstelian97 commented on #2097
Oh, also. On the SOF driver, try to stop pulseaudio (going into multi-user mode, for example) and from the console try to play something using aplay. Let us know if you can hear sounds played back using aplay. If so, something is wrong with the UCM configuration which used by Pulseaudio and needs to be checked.

[2020-05-13 10:05] paulstelian97 commented on #2096
I'd say go light on checks. Do check but only the simplest checks that would otherwise cause kernel crashes. These checks shouldn't be too expensive though.

For example, do a bounds check on ext_hdr->hdr.size _somewhere_. Not necessarily here.

[2020-05-13 10:45] kv2019i commented on #2097
@wittawatj This seems like a known problem. On system with a discrete GPU, you need a patch to alsa-ucm that is not in 20.04. See https://bugzilla.kernel.org/show_bug.cgi?id=206085#c44

Some users have also reported freezes on these systems. A FW update is on its way to fix this. Please see https://github.com/thesofproject/linux/issues/1985

[2020-05-13 10:49] kv2019i commented on #2066
v1.5 firmware is now available for testing:
https://github.com/thesofproject/sof-bin/tree/stable-v1.5

[2020-05-13 10:50] kv2019i commented on #1917
@giddie v1.5 firmware is now available for testing:
https://github.com/thesofproject/sof-bin/tree/stable-v1.5

[2020-05-13 11:05] kv2019i commented on #1978
I wonder if test is opening the wrong PCM as part of the test (or Pulseaudio running on background)? This error trace is expected if trying to play to a HDMI/DP PCM that is not connected to a monitor. This should not happen in normal usage as Pulseaudio/CRAS only show HDMI/DP PCM devices that are connected.

[2020-05-13 11:19] kv2019i commented on #2020
@aleksfadini Any updates? It would seem this is not a SOF issue anymore as drivers and firmware are working. To help with Pulseaudio integration, we'd need the logs. You can also try a live-image of latest Ubuntu 20.04 -- that at least has a known-to-work pulseaudio and als-alib integration.

[2020-05-13 11:26] kv2019i commented on #2055
@macchian I think the problem could be two-fold. As PSR-panel/MST impacts the occurence rate, I think the rootcause is a bug on i915 driver side that causes streaming to fail.

Second, once streaming fails on the HDA iDisp link, I think we have an additional problem in SOF FW to handle the XRUN. I note the FW used is somewhat old. Would it be possible to retry the test with a newer firmware versio

[2020-05-13 11:28] kv2019i commented on #2035
@juimonen Can you take a look? This is a HP Omen system with discrete GPU, but otherwise nothing unusual so the topology-driven mic-led control should work.

[2020-05-13 11:32] kv2019i commented on #1877
@Jeff406 v1.5 firmware is now available for testing (for the freeze problem):
https://github.com/thesofproject/sof-bin/tree/stable-v1.5

[2020-05-13 11:33] kv2019i commented on #1877
No new feedback in last two weeks and 20.04LTS has been out for some weeks as well now, so I think we have no need for this issue anymore. Thanks for all contributors!

[2020-05-13 11:33] #1877 closed

[2020-05-13 11:37] juimonen commented on #2035
@kv2019i ack.

@khfeng there are couple of variations why this would not work:
- mute led support not turned on in kernel
- topology doesn't have mute switch defined
- mute switch definition not found by pulseaudio

it seems from your alsa info that dmic0 mute switch is there, so should not be topology. Can you check that mute leds are on in kernel config and that pulseaudio can find the dmic capt

[2020-05-13 11:38] Jeff406 commented on #1877
can't wait to test this on my laptop. I will report back for the freeze issue.
Thanks for all your work - sof team.

[2020-05-13 11:49] kv2019i commented on #1985
@elorriaux @dzikages555 and others, signed v1.5 firmware is now available for testing:
https://github.com/thesofproject/sof-bin/tree/stable-v1.5

[2020-05-13 12:30] Jeff406 commented on #1877
Confirm it works perfectly now on my Dell Vostro 7590 with discrete nVidia card

[2020-05-13 13:18] hoo2 commented on #1877
So in order to make it work with 20.04 + Hybrid-nvidia(Inspiron 7590) we need:
 - Blacklist snd-hda-intel and snd-soc-skl
 - Custom alsa-ucm-conf files in /usr/share/alsa/ucm/
 - Update fw to v1.5 via some method that I have to find out...

?????

[2020-05-13 13:29] Jeff406 commented on #1877
As release note for v1.5
**Recommended Linux recipe**

- Linux stable kernel 5.6.3 or newer, support for HD-Audio and PCH DMIC support on Intel Comet Lake and Tiger Lake
- alsa-lib 1.2.1.2 or newer
- alsa-ucm-conf 1.2.1.2 or newer
- Pulseaudio 13 or newer is nice to have, but not mandatory as long as it is built against new enough alsa-lib.

For those with ### options snd-intel-dspcfg dsp_driver=1

[2020-05-13 13:30] kv2019i commented on #1877
@hoo2 wrote:

This is not needed.

This will come to Ubuntu (and other distros) via upgrade of alsa-lib. The fix is already merged upstream.

The FW will be updated to Feroda and Ubuntu via normal channels. We are planning to release a 1.4.3 version with the same fix. Sof-bin repository contains instructions how to update the FW manually, but this is primarily intended and distribution packagers.

[2020-05-13 13:49] perexg commented on #2067
I would prefer to follow the global method to handle those values. I mean, set once then leave other applications like pulseaudio to modify the value per user requests.

The current /usr/share/alsa/init database was designed for the drivers which creates the a few understandable controls. For ASoC, the control names are wild, but nothing prevents to add the new configs...

We probably all agree th

[2020-05-13 14:15] giddie commented on #1917
Thanks; I noticed it's been tagged, but unfortunately Archlinux uses the signed binaries on the [ALSA FTP server](https://www.alsa-project.org/files/pub/misc/sof/) as a source, and it's not clear to me how those are built, so I've been waiting for them to land :roll_eyes:

[2020-05-13 19:02] elorriaux commented on #1985
@kv2019i test in progress, no freeze so far. Should I keep these lines?

#options snd_sof_intel_hda_common codec_mask=0x1
#options snd_sof_intel_hda_common use_common_hdmi=Y

I currently have discrete GPU disabled, I also have to test if everything is OK once I will re-enable it.

[2020-05-13 20:23] kv2019i commented on #1985
@elorriaux wrote:

Thanks for the quick test and good to hear the results so far.

As for the parameters, if HDMI is working, you can keep them commented out.

Ack, it should work much the same way with discrete GPU enabled. HDMI audio will not go via SOF anymore, but that should be it.

[2020-05-13 20:55] elorriaux commented on #1985
@kv2019i seems to work with discrete GPU too

[2020-05-14 00:47] jason77-wang commented on #2097
I updated the Hdmi.conf and cherry-picked 2 patches (71cc8abb6ec705ce4efbb54e401004687d40a641 and d2ad9d6ca5b2435754a0fd811f57d30914c612ce) in the ubuntu 5.4 kernel, but there are some   HDA Analog: ASoC: hw_params BE failed -22 error in the dmesg.  https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1874698/comments/27

Then tried with updated Hdmi.conf + kernel of sof-dev branch, the sof

[2020-05-14 03:31] Liviali155 commented on #1687
Error not seen with latest sof-dev(a43e72a3) +Master(83cecc95) on matins,because PR #2098 merged

[2020-05-14 03:48] ClarexZhou commented on #1687
Error not occurred on TGL HDA laptop with AL3204 codec with latest sof-dev(a43e72a) +Master(83cecc95)

[2020-05-14 03:55] sinahuang commented on #1687
Error not occurred on CML Chrome with onboard codec RT5682 and RT1011 in I2S mode with sof-dev(commit: a43e72a3) and master (commit:83cecc95)

[2020-05-14 03:58] Liviali155 commented on #1687
closed it

[2020-05-14 03:58] #1687 closed

[2020-05-14 04:45] macchian commented on #2055
@keyonjie , thanks for recommendation. I agree it's XRUN issue but no clue so far... I will try the following fw branch and see if any improvement. Any further debug suggestion/log is welcome. I can help address fw and catch sof-logger.

  remotes/origin/cml-009-drop-stable
  remotes/origin/cml-010-drop-stable
  remotes/origin/cml-011-drop-stable

[2020-05-14 05:08] ClarexZhou opened #2109 "[Bug][TGL] TGL laptop with HDA AL3204 codec can't enter s0ix"
**Describe the bug**
Current Dell TGL HDA laptop with AL3204 codec can't enter s0ix, silicon is below B0.
s0ix depends on silicon. Keep this issue open to monitor.

**Steps**
1. 'sudo su', then 'cat /sys/kernel/debug/pmc_core/slp_s0_residency_usec'
2. "sudo rtcwake -m mem -s 10' to enter s2idle and wake up
3.  'cat /sys/kernel/debug/pmc_core/slp_s0_residency_usec' again

Reproduce Rate:
3/3

**Act

[2020-05-14 05:16] Liviali155 opened #2110 "[BUG][CML][UCM2]Audio output can't be auto switched to HDMI in some scenarios"
***Describe the bug***
Audio output can't be auto switched to HDMI in some scenarios

***To Reproduce***
Scenario 1
1.sudo reboot’ to reboot system without HDMI connetion
2.plug HDMI

Scenario 2
1.sudo reboot’ to reboot system without HDMI connetion
2.plug HDMI
3.open soundsetting to set output Device as "HDMI1/DP1 Output-sof-hda-dsp“
4.keep sound setting open
5.paplay -vv wav/48California_Dreamin

[2020-05-14 06:25] mengdonglin commented on #2106
This UCM+ PulseAudio test combination is deprecated now.
Because @plbossart @perexg NAKed defining Conflicting Device in UCM if these PCM devices are not conflicting in hardware. So we can no longer define such **fake** Conflicting Device in single-profile UCM, and depend on PulseAudio to automatically create profiles per conflicting device group for
for the exclusive device usage: https://gitlab.

[2020-05-14 06:33] mengdonglin commented on #2105
This UCM+ PulseAudio test combination is deprecated now.
Because @plbossart @perexg NAKed defining Conflicting Device in UCM if these PCM devices are not conflicting in hardware. So we can no longer define such fake Conflicting Device in single-profile UCM, and depend on PulseAudio to automatically create profiles per conflicting device group for
for the exclusive device usage: https://gitlab.free

[2020-05-14 06:34] mengdonglin commented on #2103
This UCM+ PulseAudio test combination is deprecated now.
Because @plbossart @perexg NAKed defining Conflicting Device in UCM if these PCM devices are not conflicting in hardware. So we can no longer define such fake Conflicting Device in single-profile UCM, and depend on PulseAudio to automatically create profiles per conflicting device group for
for the exclusive device usage: https://gitlab.free

[2020-05-14 06:35] mengdonglin commented on #2102
This UCM+ PulseAudio test combination is deprecated now.
Because @plbossart @perexg NAKed defining Conflicting Device in UCM if these PCM devices are not conflicting in hardware. So we can no longer define such fake Conflicting Device in single-profile UCM, and depend on PulseAudio to automatically create profiles per conflicting device group for
for the exclusive device usage: https://gitlab.free

[2020-05-14 06:35] mengdonglin commented on #2101
This UCM+ PulseAudio test combination is deprecated now.
Because @plbossart @perexg NAKed defining Conflicting Device in UCM if these PCM devices are not conflicting in hardware. So we can no longer define such fake Conflicting Device in single-profile UCM, and depend on PulseAudio to automatically create profiles per conflicting device group for
for the exclusive device usage: https://gitlab.free

[2020-05-14 06:36] mengdonglin commented on #2100
This UCM+ PulseAudio test combination is deprecated now.
Because @plbossart @perexg NAKed defining Conflicting Device in UCM if these PCM devices are not conflicting in hardware. So we can no longer define such fake Conflicting Device in single-profile UCM, and depend on PulseAudio to automatically create profiles per conflicting device group for
for the exclusive device usage: https://gitlab.free

[2020-05-14 07:59] keqiaozhang opened #2111 "[BUG][TGL] pop noise issue on max98357 speaker when doing pause/resume test"
**Describe the bug**
We tried rt5682+max98357 codec(I2S mode) on TGL Chromebook, but found that when resuming the playback on speaker, we can hear the pop noise clearly and sometimes the playback speed will become very slow but this issue cannot be reproduced with max98373 codec. Since this max98357 is non smart amplifier codec. so not sure if this is codec specific.

**To Reproduce**
1. $ aplay -

[2020-05-14 08:01] keqiaozhang commented on #2111
@naveen-manohar , please help to check this issue to see if this is max98357 codec restriction. Thanks.

[2020-05-14 08:29] libinyang commented on #2067
@perexg @kv2019i I'm not sure if I understand Kai's idea correctly or not. I think Kai is talking about whether we can only set the kcontrols at the first time the system boots (the setting doesn't take effects at the second bootup) as there is no any setting to restore. After that, when system boots up, there is setting to restore (for example, /var/lib/alsa/asound.state for alsactl), so we don't

[2020-05-14 08:55] perexg commented on #2067
I believe that it's the correct behaviour. The user may call **alsactl init** to restore the default values back. The **alsactl restore** is called for the normal system boot which will use the stored values from /var/lib/alsa/asound.state (if exists, otherwise the **alsactl init** is executed).

Actually, the SectionDefauls is used when pulseaudio boots up all time. I propose to use this only via

[2020-05-14 09:39] YvonneYang2 opened #2112 "[UCM2][CML]Mute LED will flash one time when switch output source in output device."
**Describe the bug**
Switch source in output device, mute led will fast flash for one time.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: 13.99.1
3.UCM2:https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit:12743d2)+#PR https://github.com/thesofproject/alsa-ucm-conf/pull/41

**To Reproduce**
1. Boot up system with HDMI/DP external port and headphone connected.
2. Open

[2020-05-14 09:57] YvonneYang2 opened #2113 "[BUG][CML][SDW UCM2]Input source won't auto highlight on headset when plug in headset with sound setting open"
**Describe the bug**
Input source won't auto highlight on headset when plug in headset with sound setting open.

Note:
Unplug headset then plug in headset with sound setting closed, then open sound setting to check. Issue cannot be reproduced, it will auto highlight headset.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: 13.99.1
3.UCM2:https://github.com/thesofproject/alsa-ucm-conf/co

[2020-05-14 10:00] sinahuang opened #2114 "[BUG][UCM2][CML]HDMI/DP will not have sound output after plug in another DP/HDMI."
**Describe the bug**
HDMI/DP will not have sound output after plug in another DP/HDMI. After issue occured, switch source can recover.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: 13.99.1
3.UCM2:https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit:12743d2)+#PR https://github.com/thesofproject/alsa-ucm-conf/pull/41

**To Reproduce**
1. Boot up system with two DP/HDMI

[2020-05-14 10:06] YvonneYang2 opened #2115 "[BUG][CML][SDW UCM2]Input source will auto switch source from DMIC to headset once change source in output device"
**Describe the bug**
Input source will auto switch source from DMIC to headset once switch source in output device.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: 13.99.1
3.UCM2:https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit:12743d2)+#PR https://github.com/thesofproject/alsa-ucm-conf/pull/41

**To Reproduce**
1. Boot up system with headset and HDMI/DP external p

[2020-05-14 10:26] realfossy opened #2127 "[BUG][CNL] No sound on Lenovo Yoga S740-15IRH (81NX0012GE) Core i9-9880H"
Hi all,

Used OS: Ubuntu Mate 20.04 freshly installed
Problem: No sound on speaker, sound on headset works without a problem. Headsets gets detected automaticlally when plugged in.

Sound software: ALSA-System

I have googled alot, but no solution or hint that would work. Is anyone out there working on this problem already? Is there a workaround available?
Best regards
Dirk
[code]

[2020-05-14 10:30] Liviali155 opened #2116 "[BUG][TGL]System will hang about 20s after unplug DP during S3"
***Describe the bug***
System will hang about 20s after unplug DP during S3,plugin DP again can detect normally,legacy HDA also has this problem
Error only occured when ubplug DP,HDMI has no this issue

***To Reproduce***
1."sudo reboot" to reboot system with DP connected
2."sudo rtcwake -m mem -s 15" to suspend
3.Unplug DP in suspend
4.wait device to wake up

***Reproduction Rate***
5/5

Expected

[2020-05-14 10:42] YvonneYang2 commented on #2103
Issue can still be reproduced with multi-profile UCM+ PulseAudio test combination as below.
multi profile ucm2 (https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit:12743d2)+#PR thesofproject/alsa-ucm-conf#41)+ default pulseaudio(version:13.99.1)

[2020-05-14 10:46] Liviali155 commented on #2116
@kv2019i  please help to check it

[2020-05-14 11:58] kv2019i commented on #2116
Ack, will take a look. This will be take some time due to WFH limitations (I can't unplug the DP remotely).

[2020-05-14 12:13] khfeng commented on #2035
The issue is fixed by commit 87dc36482cab3a4ea34f203fc3f4da35712eb783 ("ALSA: hda/realtek - Add LED class support for micmute LED").

Thanks!

[2020-05-14 12:13] #2035 closed

[2020-05-14 12:25] sealse commented on #2097
I have some problems for HP-OMEN 17t bc0xxx don't work sound and microphone https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1878479
I tried testing https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1874698/comments/22
It only works linux-modules-extra-5.4.0-26-generic_5.4.0-26.30+skipv4_amd64.deb
But at the same time, the second monitor stopped working on the standard ubuntu driver n

[2020-05-14 12:48] kv2019i commented on #2067
Ack on above comments @perexg . So it seems "alsactl init" is really the intended mechanism to set the firstboot defaults. Thinking aloud, pros/cons I can see:

- deployment speed -> alsactl init wins with faster deployment
       - pulseaudio already supports this -- with SectionOnce, upgrade cycle of pulseaudio would be needed to deploy this (in addition to card-specific data)
- driver maintenan

[2020-05-14 13:09] perexg commented on #2067
I will add SectionOnce to alsa-lib ASAP and improve alsactl to support this method of initialization (via UCM configs).

[2020-05-14 17:44] perexg commented on #2067
It's implemented now (latest alsa-lib and alsa-utils):

* https://github.com/alsa-project/alsa-lib/commit/a570634a2202cba51e658b96c1d980eb806df6ca
* https://github.com/alsa-project/alsa-utils/commit/4bea8fe3a73cd2df8dcad1c8a14c35bab7b21073

[2020-05-14 18:42] kv2019i commented on #2067
Thanks @perexg , wow, that was fast! @libinyang Could you give this a test run and use these to implement first-boot defaults (express the defaults in UCM via "_once")?

[2020-05-14 18:43] kv2019i commented on #2067
FYI @singalsu See above, this could be now used to set appropriate default gains for dmic.

[2020-05-14 20:18] plbossart opened #2119 "topology: add token to specify wait time for PCM substreams."
in sound/soc/sof/pcm.c we have this

[code]

Let's add a token for this.

[2020-05-15 00:54] libinyang commented on #2067
@perexg @kv2019i How will PulseAudio or sound-settings GUI call this new API  **alsactl init**?

Yes, I think this SectionOnce is helpful. And my suggestion of its usage is:
1. pulseaudio save its own setting, when pulseaudio found if its setting doesn't exist, it means this is the first time boot up. It will call SectionOnce. Otherwise it will skip it. Or pulseaudio can check /var/lib/alsa/asound

[2020-05-15 02:21] ClarexZhou commented on #2110
@kv2019i @juimonen  is this issue depend on new feature #2068 ?

[2020-05-15 03:09] ClarexZhou commented on #1991
Reopen for might not merge Pr#21, wait pulseaudio update https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294

[2020-05-15 04:00] sinahuang opened #2121 "[BUG][GLK][sound/for -next]"DSP panic" when do module load/unload test"
**Describe the bug**
"DSP panic" when do  module load/unload test,Seems only a error message,has no imapct on function
After error occured,all the pipeline can work normally

**To Reproduce**
1.sudo reboot
2. cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
5../check-kmod-load-unload.sh(https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-

[2020-05-15 04:04] sinahuang commented on #2121
Issue is same as https://github.com/thesofproject/sof/issues/2646, waiting for kernel PR https://github.com/thesofproject/linux/pull/2044 and FW PR https://github.com/thesofproject/sof/pull/2837 merged to intel for-next branch.

[2020-05-15 04:07] mengdonglin commented on #2109
To fix issue depends on 3 items:
1. Need B-stepping silicon
2. thunderbolt/xhci blocking runtime PC10. Kernel team is debugging this.
3. S0i3 is blocked by AUDIO PLL being ON https://github.com/thesofproject/sof/issues/2936

[2020-05-15 07:32] Liviali155 commented on #2024
Error only seen on ubuntu20.04 beta release(http://releases.ubuntu.com/20.04/ )
Error not seen on ubuntu20.04  LTS(https://ubuntu.com/download/desktop/thank-you?version=20.04&architecture=amd64 )
So closed it

[2020-05-15 07:32] #2024 closed

[2020-05-15 08:25] Liviali155 commented on #2116
Error still can be reproduced after disable audio

[2020-05-15 08:42] sathyap-chrome commented on #1838
@keyonjie  i tried to enable traces to get SSP 1 Rx dump. But i hit some issue.

Following recipe on CML worked for speaker playback traces. same when i tried for feedback, i see feedback capture itself is not working. can you help enable at your end too and let me know if we can continue debug from there ?

The FW and Topology is build with below commit:
b8b96a20bb02 CI: travis: Add boot test for

[2020-05-15 10:08] mengdonglin commented on #2024
I guess this issue was fixed by GFX firmware or drm-lib update in ubuntu20.04 LTS, as we're using the same kernel and audio firmware.

[2020-05-15 10:33] sinahuang commented on #2121
Issue is same as https://github.com/thesofproject/sof/issues/2646, waiting for kernel PR thesofproject/linux#2044 and FW  PR https://github.com/thesofproject/sof/pull/2837 merged to intel for-next branch.

[2020-05-15 12:45] keyonjie commented on #1838
@sathyap-chrome did you mean the PCM10 capture only 0s with kernel topic/sof-dev + FW master? If so, can you help to file a bug with it? I think the CML rt1011 platform is on our daily track @aiChaoSONG ?

[2020-05-15 14:31] kv2019i commented on #1985
Thank you @elorriaux for testing once more. I'll go ahead and close this bug now.

[2020-05-15 14:31] #1985 closed

[2020-05-15 14:49] elorriaux commented on #1985
@kv2019i  Actually not fully tested, I don't know what I did exactly when I tried with discrete GPU, but nvidia drivers do not work with 5.7 kernels yet, so  difficult to conclude. The patch I've tried do not allow me to get my X server working with nvidia and 5.7 kernel.

I can only confirm that it works with intel GPU

[2020-05-15 17:18] kv2019i commented on #1807
@RiderALT , @ltune and others, I now made an experimental patch that may help with:

[  317.936907] sof-audio-pci 0000:00:1f.3: codec #0 no driver

The patch is at:
https://github.com/thesofproject/linux/pull/2122
https://github.com/kv2019i/linux/commit/e575611fe85a0e987bfbea7453b50491d51c91e5

To force this option to be used, put following in
/etc/modprobe.d/sof.conf:

options snd_sof_intel_hda_c

[2020-05-15 19:19] kv2019i commented on #2024
Ack @Liviali155 and @mengdonglin . This is pretty suprising indeed.

[2020-05-15 23:20] RDharageswari commented on #2053
The following mixer settings can be set to off before the SPK playback and will be turned on when the usecase TRIGGER_START happens.
amixer -c0 cset name='Left Spk Switch' off
amixer -c0 cset name='Right Spk Switch' off
Following patch fixes the runtime issue:
https://github.com/thesofproject/linux/pull/2123

[2020-05-16 10:59] dzikages555 commented on #1985
@kv2019i I can confirm it works. Thank you guys!

My setup is:
- linux-5.7-rc3
- patched nvidia-440.82
- sof firmware 1.5 (had to copy go.sh from 1.4.2 branch and change version)
- updated hdmi.conf
- using discrete GPU (HP does not allow me to use integrated GPU).
- HP OMEN 17-cb0xxx

Digital microphone is working. Headphones and speakers are working. **No freezes** with v1.5 firmware.
Sometimes

[2020-05-16 19:09] wittawatj commented on #2097
Running kernel 5.4.0-28-generic on SOF driver, I have the following outputs.

pavucontrol shows dummy output.

Tried to kill pulseaudio. The following one cannot be killed.

I hear nothing. pavucontrol shows some interactive moving bar, indicating that some sound is playing. But no sound. In the picture, the bottom bar is moving when the sound is playing.

![image](https://user-images.githubuserco

[2020-05-16 19:26] wittawatj commented on #2097
@kv2019i Do you have advice on what I should try next? Should I try to install SOF firmware 1.5 as in #1985 ? I do not know how to install it after reading the README here https://github.com/thesofproject/sof-bin/tree/stable-v1.5 . Could you please point to other pages that give some instructions? Thanks

[2020-05-18 00:51] jason77-wang commented on #2097
@wittawatj,
the sof driver in the ubuntu kernel 5.4.0-28-generic doesn't support audio configuration without intel hdmi/dp, so please try https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1874698/comments/22 and test arecord -l & aplay -l.

And looks like the kernel can not run stable on your machine, maybe it is graphic driver's problem, you could upgrade the nvidia-driver-440 to the lat

[2020-05-18 01:34] aiChaoSONG commented on #1838
@keyonjie Yes,  daily and PR tests run on this platform everyday,

[2020-05-18 02:38] libinyang commented on #2067
@perexg @kv2019i I have tried the patch
alsa-project/alsa-lib@a570634
alsa-project/alsa-utils@4bea8fe
And modify the UCM add
[code]
After that, I run `alsactl init`. I found the cset in SectionOnce doesn't work.
Is there anything wrong in my operation?

[2020-05-18 02:54] Liviali155 commented on #2116
Error still can be reproduced after disable audio,not a audio issue,closed it

[2020-05-18 02:54] #2116 closed

[2020-05-18 05:37] ClarexZhou commented on #2110
same on TGL notebook with ALC3204 in HD-A mode

[2020-05-18 07:02] perexg commented on #2067
The syntax for SectionDefaults and SectionOnce is:

[code]

[2020-05-18 07:11] perexg commented on #2067
PA should not call this. It's the system wide initialization. If everything works correctly, the systemd will execute this sequence once. If something is wrong, the user should run **alsactl init** from the command line which will execute those commands.

EDIT: Related systemd services:

https://github.com/alsa-project/alsa-utils/blob/master/alsactl/alsa-restore.service.in
https://github.com/alsa-

[2020-05-18 08:06] YvonneYang2 opened #2124 "[BUG][CML][UCM2]Output device will not auto switch to headphone after plug in headphone with sound setting open"
**Describe the bug**
Open sound setting. Wait 10s (wait pulseaudio to suspend), then plug in headphone, the output/input device cannot auto switch to headphone/headset.

Note: If plug in headphone with music paplaying or plug in headphone with sound setting closed, then open sound setting to check it, issue cannot be reproduced.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: https://g

[2020-05-18 08:23] Liviali155 opened #2125 "[BUG][TGL]UI hang in some Scenarios"
***Describe the bug***
UI hang in some Scenarios, after issue occured Mouse can  slide,but has no response when you tap anything,the keyboard can work,but screen has no response(ex:press "space" to pause/release aplay,the music will be pause/release,but screen has any response)
only reboot can recovery

***To Reproduce***
Scenario 1:
1.”sudo reboot” to reboot system
2. open terminal 1
3.aplay/arec

[2020-05-18 08:25] Liviali155 commented on #2125
sof-dev( 0773fe68 ) +https://github.com/thesofproject/sof/commits/tgl-006-drop-stable(e1bafa173) also has this issue

[2020-05-18 08:27] Liviali155 commented on #2125
Changed kernel and firmware to 20200309 ( sof-dev:ac3abc56 +master:6cd8acc1) also has  this issue
Legacy HDA also has this issue

[2020-05-18 08:28] YvonneYang2 opened #2126 "[BUG][CML][UCM2]Output device will auto switch from speaker to other source when unplug HDMI external port or headphone."
**Describe the bug**
Output device will auto switch from speaker to other source when unplug HDMI external port or headphone.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：36a4923f) + https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295
3.UCM2:https://github.com/thesofproject/alsa-ucm-conf

[2020-05-18 08:39] kv2019i commented on #2097
@wittawatj Like @jason77-wang , you hit a known problem where SOF probe fails if the integrated graphics is disabled -- no speaker/headset either. This is fixed upstream. Please see link shared by @jason77-wang above.

[2020-05-18 09:00] ClarexZhou commented on #2125
Error also occurred on TGL Notebook with ALC3204 in HDA mode when operating in different terminals.

Error can be reproduced via scenario 2.

[2020-05-18 09:28] wittawatj commented on #2097
@jason77-wang I tried the -26 kernel in https://people.canonical.com/~hwang4/25skipi915/v4/ . Also used the Hdmi.conf there. I put it in `/usr/share/alsa/ucm2/sof-hda-dsp`. I did not upgrade my Nvidia driver.

Other things I noticed:
* `nvidia-smi` failed. It says "cannot communicate because no Nvidia driver".
* My Wifi does not work.
* Cannot adjust the screen brightness.
* Natural scrolling (wit

[2020-05-18 09:30] sinahuang commented on #2126
Issue also can be reproduced on CML-H, and found a similar issue that output device will auto switch from A HDMI to B HDMI when unplug headphone.
Scenario:
1.Boot up system with headphone,HDMI and DP externel port all connected
2.Open sound setting and select one HDMI/DP as output device.
3.Unplug headset ->output will auto switch to another HDMI/DP

[2020-05-18 09:57] lgirdwood commented on #2127
@realfossy This looks like legacy HDA driver option is here is being used. This should be working out of the box with SOF. @kv2019i any comments, are we missing something ?

[2020-05-18 10:09] kv2019i commented on #2127
Moving to kernel side for now.

[2020-05-18 10:34] realfossy commented on #2127
@kv2019i @lgirdwood okay...Thank's for caring and taking action. Let me know if I can be of any help.

[2020-05-18 10:46] kv2019i commented on #2127
@realfossy wrote:

Hmm, the above disables the SOF driver (i.e. disables the audio DSP, firmware&driver) and limits snd-hda-intel to only external HDA codec.

I wonder where this logic is coming from. I chechked alsa-base package of Ubuntu 20.04LTS and there's no such stuff. Did you edit this manually or this something Mate distro has done on top of Ubuntu? This does mean dmic (if present) won't w

[2020-05-18 10:48] kv2019i commented on #2127
@realfossy wrote:

Oh, and try disabling this line. It makes no sense. The above lines explicitly disables Intel graphics, but then here you instruct the driver to treat the internal HDA codec like it would be a graphics card. I.e. a completely crazy setting.

[2020-05-18 10:56] realfossy commented on #2127
This is not the default setting after setting up the system. The default setting didn't work either. So this crazy setup is a result of trying to figure some things out. :-) Will get back with the requested infomation when I'm home from office this afternoon.

[2020-05-18 12:13] Liviali155 commented on #2110
update pulseaudio to  default pulseaudio of Ubuntu20.04 + https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295 ,error not seen

[2020-05-18 12:23] RiderALT commented on #1807
@kv2019i sorry for delay. kernel 5.6.13, applied patch https://github.com/kv2019i/linux/commit/e575611fe85a0e987bfbea7453b50491d51c91e5
same result - device does not work.
# dmesg |grep sof
[    0.467676] PCI-DMA: Using software bounce buffering for IO (SWIOTLB)
[    0.467678] software IO TLB: mapped [mem 0x60182000-0x64182000] (64MB)
[    3.347058] snd_sof_intel_hda_common: unknown parameter 'hda

[2020-05-18 12:28] RiderALT commented on #1807
I also don’t see the hda_model parameter in the modinfo for snd_sof_intel_hda_common module
[code]

[2020-05-18 12:47] realfossy commented on #2127
@kv2019i here you are:
[alsainfo.txt](https://github.com/thesofproject/linux/files/4644149/alsainfo.txt)
[bootmessages.txt](https://github.com/thesofproject/linux/files/4644150/bootmessages.txt)

Hope this helps...

[2020-05-18 13:33] kv2019i commented on #2127
@realfossy wrote:

It seems the Realtek codec driver is not able to configure the speaker for your system:

[  226.584348] snd_hda_codec_realtek hdaudioC0D0: autoconfig for ALC285: line_outs=1 (0x17/0x0/0x0/0x0/0x0) type:speaker
[  226.584349] snd_hda_codec_realtek hdaudioC0D0:    speaker_outs=0 (0x0/0x0/0x0/0x0/0x0)

Seem like same as https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/185

[2020-05-18 13:33] #2127 closed

[2020-05-18 15:43] kv2019i commented on #1807
@RiderALT wrote:

Good catch. For 5.6.13 you need to additionally pick this patch from upstream:
https://github.com/thesofproject/linux/commit/b8d3ad51dfec3631763cfef3d30c16f40140058b

...i.e. add the model parameter to SOF HDA. It's a recent add as well.

I'll continue working on completing the generic code fallback code.

[2020-05-18 17:31] RiderALT commented on #1807
@kv2019i I added commit https://github.com/thesofproject/linux/commit/b8d3ad51dfec3631763cfef3d30c16f40140058b to 5.6.13 and sound playback worked.
there are a lot of errors in the logs and alsa-info (attached). and no sound in pulseaudio, only aplay, but it may be a problem in something else, I'm still work on my system and pulseaudio for sof sound subsystem.

[alsa-info-5.6.13-patched.txt](https

[2020-05-18 17:42] RiderALT commented on #1807
@kv2019i  mic works. arecord -d 5 -c 2 -f S16_LE --device="hw:0,7" /tmp/test.wav

[2020-05-18 18:16] RiderALT commented on #1807
pulseaudio works. i just added two lines to /etc/pulse/default.pa:

load-module module-alsa-sink device=hw:0,0
load-module module-alsa-source device=hw:0,7 channels=4

@kv2019i Thanks so much for your work. It remains to include all this patches to the mainline and make it work out of box.

[2020-05-18 18:56] realfossy commented on #2127
@kv2019i okay, thank's so far for your support. Much appreciated!

[2020-05-18 18:57] plbossart commented on #1807
This shouldn't be necessary, a 5.5.9+ kernel will pass the information to userspace. Or maybe it's because you are using an older version of alsa-lib/alsa-ucm-conf?

[2020-05-18 19:00] RiderALT commented on #1807
alsa-ucm-conf-1.2.2
libalsa-1.2.2
how to debug this behavior ?

[2020-05-18 19:27] plbossart commented on #1807
Ah, this is really surprising. For HDaudio in theory even 1.2.1.2 should be enough.
Can you provide the output of

[code]

just to verify that the dmic info is set?

[2020-05-19 03:43] ClarexZhou commented on #2106
Close first since pulseaudio create profiles PR https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290 might not be used.

[2020-05-19 03:43] #2106 closed

[2020-05-19 03:44] ClarexZhou commented on #2105
Close first since pulseaudio create profiles PR https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290 might not be used.

[2020-05-19 03:44] #2105 closed

[2020-05-19 03:46] ClarexZhou commented on #2102
Close first since pulseaudio create profiles PR https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290 might not be used.

[2020-05-19 03:46] #2102 closed

[2020-05-19 03:46] ClarexZhou commented on #2101
Close first since pulseaudio create profiles PR https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290 might not be used.

[2020-05-19 03:46] #2101 closed

[2020-05-19 03:47] YvonneYang2 commented on #2103
Issue can still be reproduced with single UCM+ PulseAudio test combination as below.

1.Pulseaudio version: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：36a4923f) + https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295
2.UCM2:https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit:12743d2)+#PR thesofproject/alsa-ucm-conf#35 + #PR thes

[2020-05-19 03:47] ClarexZhou commented on #2100
Close first since pulseaudio create profiles PR https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290 might not be used.

[2020-05-19 03:47] #2100 closed

[2020-05-19 05:52] libinyang commented on #2067
@perexg Right, it works now. Maybe you would like to change the comments in parser.c for the usage of SectionOnce.

Do you think we need offer a GUI interface to do the 'alsactl init' in the future? The end user may not know this command.

[2020-05-19 06:24] Liviali155 commented on #1991
On matins test result as below:
default pulseaudio of Ubuntu20.04+https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294
HAD UCM2: https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit: 81465c56) :
Input Device will audo switched to Headset when plug headset again with sound setting closed,and sound in headset normal when plug/unplug headset,but if open soundsett

[2020-05-19 06:33] Liviali155 commented on #2110
On matins:
Output Device switched to Headphones，but Input Device will not switched to Headset when first insert headset,still is “Digital Microphone-sof-had-dsp”, after set it once manual,error not seen

After update pulseaudio to default pulseaudio of Ubuntu20.04 + https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295 ,error not seen

[2020-05-19 06:55] Liviali155 commented on #2025
Because issue #1991  after update pulseaudio to default pulseaudio of Ubuntu20.04+https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294+ https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295
HAD UCM2: https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit: 81465c56),
error not seen,do not use alsa-project/alsa-ucm-conf#21,so closed this issue

[2020-05-19 07:20] RiderALT commented on #1807
@plbossart :
[code]

[2020-05-19 07:46] Liviali155 opened #2128 "[BUG][CML][UCM2]Output Device will auto switched to speaker after unplug DP in some scenarios when connecting both HDMI & DP displays"
***Describe the bug***
Output Device will auto switched to speaker after unplug DP in some scenarios when connecting both HDMI & DP displays

***To Reproduce***
**Scenario 1:**
1.sudo reboot to reboot system
2.plug both HDMI & DP displays
3.open sound settings (we can see the default output device is still speaker)
4.set output Device as "HDMI"
5.keep sound setting opening
6.unplug DP

Expected be

[2020-05-19 07:49] Liviali155 commented on #2128
After update pulseaudio to With single profile UCM2 + default pulseaudio of Ubuntu20.04+ https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295
HAD UCM2: https://github.com/thesofproject/alsa-ucm-conf/commits/master (commit: 81465c56)
error not seen

[2020-05-19 09:53] Liviali155 commented on #2125
On TGL HDA RVP
After error occured can connect it with ssh,add more logs

<details>
 <summary>sys_error.log</summary>

[code]
</details>

<details>
 <summary>sys_error.log</summary>

[code]
</details>

[kern.log](https://github.com/thesofproject/linux/files/4649582/kern.log)
[sof-logger0519.log](https://github.com/thesofproject/linux/files/4649584/sof-logger0519.log)
[syslog.zip](https://github.co

[2020-05-19 12:18] kv2019i commented on #2067
@libinyang wrote:

I think this goes out-of-scope for this PR and is a more complicated question. I mean the SectionOnce was a clear gap -- we needed a mechanism for different drivers to express defaults in a scalable manner and that is now covered. This is a capability which all distributions will want to have, irrespectively of the UI/desktop used.

Resetting settings from sound UI, now that is

[2020-05-19 12:24] perexg commented on #2067
Fixed. Thanks for the pointer.

[2020-05-19 14:23] RiderALT commented on #1807
pulseaudio greater or equal  13.99.1 is required for ucm2.
after updating from version 13.0, the sound worked without any additional settings

[2020-05-19 15:08] plbossart commented on #1807
Thanks @RiderALT. As you can see from the info above, you only have two dmics so the previous config was incorrect.
Anyway, good to hear things are working for you!

[2020-05-19 16:19] kv2019i commented on #1807
Excellent news @RiderALT ! Let's keep this bug open until I have submitted a proper fix for the HDA generic codec probe and it is merged to sof-dev.

[2020-05-19 17:37] RiderALT commented on #1807
yes, i removed previous config. works with clean default pulseaudio and alsa configs.

Thank. i always ready to test final version of the kernel patch. And I still have a small parameter for the snd_sof_intel_hda_common kernel module, I hope it will not be needed in the final version.

[2020-05-20 01:13] jason77-wang commented on #2097
@wittawatj
According to the dmesg_v4.txt, it looks like you forgot to install the linux-modules-extra?

[2020-05-20 01:15] jason77-wang commented on #2097
And please take a look at this bug, it is about the machine HP OMEN 17t, the audio could work with skipv4 testing kernel and Hdmi.conf.
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1878479

[2020-05-20 07:00] Liviali155 opened #2131 "[BUG][CML][UCM2]No sound output in headset after plug/unplug HDMI&DP&headset when Output Device is Headphone"
Describe the bug
No sound output in headset after plug/unplug HDMI&DP&headset when Output Device is Headphone

To Reproduce
 1.’sudo reboot’ to reboot system with all of  HDMI&DP&headset  connected
 2.open sound setting to set Output Device as HDMI,keep sound setting opening
 3.unplug DP then plug DP(Output Device switched to DP)
 4.unplug HDMI then plug HDMI(Output Device switched to HDMI)
 5.unp

[2020-05-20 07:35] mengdonglin commented on #2103
Wait for fix by future global mute solution

[2020-05-20 08:20] Liviali155 commented on #2125
Have creat a drm issue https://gitlab.freedesktop.org/drm/intel/-/issues/1908 to track,closed this issue

[2020-05-20 08:20] #2125 closed

[2020-05-20 10:42] YvonneYang2 opened #2132 "[BUG][CML]"0000:00:1f.3: error: firmware boot failure" occurred during suspend/resume with audio stress test."
**Describe the bug**
During suspend/resume with audio stress test, dmesg will show
[code]

**To Reproduce**
1.Boot up system.
2. Run "~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 15 -m playback". (https://github.com/thesofproject/sof-test/blob/master/test-case/check-suspend-resume-with-audio.sh)

[code]

**Reproduce rate**
2/3

**Expected result**
There's no error info during suspend

[2020-05-20 11:30] libinyang commented on #2067
@jason77-wang fyi

[2020-05-21 10:05] Liviali155 commented on #2025
Reopen this issue
after update pulseaudio to default pulseaudio of Ubuntu20.04+https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294+ https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295

[2020-05-21 19:56] Valerio1474 opened #2133 "[BUG] No sound with SOF drivers on 5.6.14 and previous kernels"
**Describe the bug**
Hardware: HP Omen 15-dh0002nl
My digital mic is not working with the classic alsa driver. So I tried the SOF drivers this  leads to errors that renders the sound card unusable.

**To Reproduce**
Boot kernel without snd-intel-dspcfg.dsp_driver=1 option or using any other value except 1 (0,2,3)

**Reproduction Rate**
Always with custom and stock kernels since 5.3.x to 5.6.14

**

[2020-05-21 20:03] plbossart commented on #2133
You probably want to look at https://github.com/thesofproject/linux/issues/2097
This is a long week-end in multiple parts of the world, it's likely more detailed answers will only come starting on Monday.

[2020-05-21 22:32] Valerio1474 commented on #2133
You must be right

[2020-05-22 17:48] #2039 closed

[2020-05-22 17:49] naveen-manohar commented on #2039
Thnaks to @plbossart, @RanderWang, @bardliao for supporting during this debug and helping with PR#2062

[2020-05-25 04:11] aleksfadini commented on #2020
Thank you for following up.
These are the detailed logs that come from "pulseaudio -vvv"
https://pastebin.com/y7Mcmnqj
I'm also attaching the log as a text file.
[pulseaudioLog.txt](https://github.com/thesofproject/linux/files/4675156/pulseaudioLog.txt)

The microphone is not working. Not sure if it's SOF or not.
I have no idea about what is happening...

[2020-05-25 13:53] YvonneYang2 commented on #2132
The bisect result shows commit e081ba8e cause the issue.  Could you please have a look? Thanks ~ @singalsu

[2020-05-25 17:22] perexg commented on #2067
I am sorry for the confusion, but I renamed SectionOnce to more understandable BootSequence in the latest alsa-lib code. We have already EnableSequence and DisableSequence blocks with the same contents (commands), thus it makes sense to continue with this naming. Again, I am sorry for the confusion.

[2020-05-26 11:19] sinahuang commented on #2126
Original issue also can be reproduced on CML-H, but found another similar issue that output device will auto switch from speaker to HDMI2 when unplug HDMI1.
Scenario:
1.Boot up system ->open sound setting;
2. Plug in HDMI1 and then plug in HDMI2;
3.Select speaker as output source in sound setting;
4.Unplug HDMI1;

[2020-05-27 05:30] sinahuang opened #2141 "[BYT nocodec/rt5682][BUG][v1.4.3]"DSP panic" occured when do module load/unload test ."
**Describe the bug**
"DSP panic" occured when do module load/unload test and issue occured during module remove. After error occured all pipeline work well.

Note: Error not seen with sof-dev +master and  sof-dev+FWv1.5

**To Reproduce**
     1. Sudo reboot;
     2. Cd sof-test;
     3. Cd test-case;
4.Export TPLG=/lib/firmware/intel/sof-tplg/sof-byt-rt5682.tplg;
5../check-kmod-load-unload.sh -l 1

[2020-05-27 05:37] sinahuang commented on #2141
Bisect result:
Caused by commit:https://github.com/thesofproject/linux/commit/8352018c7e1d4577b46d5aa6b43a86321433643c, @ranj063 please help to check it.

[2020-05-27 07:33] HilleniusGijs commented on #2026
for others out there that find this page. See here

https://wiki.debian.org/InstallingDebianOn/Thinkpad/X1%20Carbon%207th%20Gen

[2020-05-27 08:01] sinahuang commented on #1970
Issue still can be reproduced on CML-H with latest sof-dev(https://github.com/thesofproject/linux/commit/866e4d555eb82bc3e4ce3ac03baff04bd2d68fb4) +master (https://github.com/thesofproject/sof/commit/90ddae9ebe6abbb331a1833a9eacb2d0505865f8)

[2020-05-27 10:43] kv2019i commented on #2068
@libinyang Can you confirm I got this right and that this change:
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295
... will allow to solve the conflicting stream issue without
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290
?

Based on latest results for #2110 , this seems to to be the case.

[2020-05-27 14:37] plbossart commented on #1970
Can you try with PR #2070 ?

[2020-05-27 15:41] youling257 opened #2142 "sof-audio-acpi 80860F28:00: error: ipc timed out for 0x60050000 size 12"
[  332.048218] sof-audio-acpi 80860F28:00: error: ipc timed out for 0x60050000 size 12
[  332.048280] sof-audio-acpi 80860F28:00: error: unexpected fault 0x600a0001 trace 0x00000000
[  332.048287] sof-audio-acpi 80860F28:00: error: ipc host -> DSP: pending no complete no raw 0x8000000000000000
[  332.048290] sof-audio-acpi 80860F28:00: error: mask host: pending no complete no raw 0x0
[  332.048294

[2020-05-27 15:54] plbossart commented on #2142
please provide more context and full dmesg logs - also enable dynamic debug

[2020-05-27 16:08] plbossart commented on #2141
I can reproduce this problem on Baytrail (Asus T100TA) but not on CherryTrail (Cyan)

[2020-05-27 16:18] plbossart commented on #2141
This doesn't seem caused by the .remove addition but rather the CTX_SAVE, the error happens *before* byt_remove() is called.

[code]

[2020-05-27 16:18] youling257 commented on #2142
how to enable dynamic debug?

[2020-05-27 16:26] plbossart commented on #2141
Actually no, updating to SOF master solves the issue. @sinahuang please try with a more recent firmware please.

Edit: https://github.com/thesofproject/sof-bin/blob/stable-v1.5/lib/firmware/intel/sof/v1.5/sof-byt-v1.5.ri works fine for me.

[2020-05-27 16:34] plbossart commented on #2142
copy this as /etc/modprobe.d/sof-ddebug.conf

[ddebug.txt](https://github.com/thesofproject/linux/files/4690157/ddebug.txt)

[2020-05-27 16:47] plbossart commented on #2133
@Valerio1474 do you still see an issue? I think @kv2019i fixed support for HP devices

[2020-05-27 16:49] plbossart commented on #2121
@sinahuang PR #2044 is merged,  do we actually need FW PR thesofproject/sof#2837 merged?
@mrajwa FYI.

[2020-05-27 16:50] plbossart commented on #2111
@keqiaozhang is this still relevant now?

[2020-05-27 16:52] plbossart commented on #2066
@CendioOssman all hangs seem to be fixed with v1.5, can you give it a try?

[2020-05-27 16:53] plbossart commented on #2063
@keqiaozhang I think this is root-caused, can we close this?

[2020-05-27 16:55] plbossart commented on #2040
@YvonneYang2 does this still happen on your side? Not sure what to do here.

[2020-05-27 16:55] perexg commented on #2066
I am not able to update the Fedora SOF firmware package because I found a serious regression in v1.5 - https://github.com/thesofproject/sof/issues/2937 .

[2020-05-27 16:55] plbossart commented on #1969
@sinahuang isn't this fixed now? can we close?

[2020-05-27 16:57] youling257 commented on #2142
tell me echo which file?
echo 'file xxxx +p' > /sys/kernel/debug/dynamic_debug/control

[2020-05-27 16:57] plbossart commented on #1879
closing for now since there isn't anything we can do without information

[2020-05-27 16:57] #1879 closed

[2020-05-27 16:58] plbossart commented on #1449
fixed now

[2020-05-27 16:59] #1376 closed

[2020-05-27 17:00] plbossart commented on #594
closing since no information provided

[2020-05-27 17:00] #594 closed

[2020-05-27 17:01] plbossart commented on #306
@keyonjie @kv2019i is this still relevant?

[2020-05-27 17:02] plbossart commented on #396
@ranj063 @bardliao no information since last year, can we close?

[2020-05-27 17:03] plbossart commented on #608
system suspend/resume is supported on Baytrail/Cherrytrail. pm_runtime is not but there's no power benefits anyways.

[2020-05-27 17:03] #608 closed

[2020-05-27 17:04] plbossart commented on #724
@keyonjie is this still relevant.

[2020-05-27 17:05] plbossart commented on #990
@kv2019i is there anything left to do here?

[2020-05-27 17:07] plbossart commented on #1088
@cujomalainey @ranj063 can we close this?

[2020-05-27 17:08] plbossart commented on #1454
@keqiaozhang is this still an issue?

[2020-05-27 17:09] plbossart commented on #1492
fixed now

[2020-05-27 17:09] #1492 closed

[2020-05-27 17:10] plbossart commented on #1710
marked as won't fix and closing.

[2020-05-27 17:10] #1710 closed

[2020-05-27 17:13] plbossart commented on #2066
we should probably split firmware and topology packages then...@lgirdwood FYI.

[2020-05-27 17:19] plbossart commented on #2142
I already provided all the information you need.

[2020-05-27 17:23] youling257 commented on #2142
my system not support /etc/modprobe.d/, not use /etc/modprobe.d/.

[2020-05-27 18:54] perexg commented on #2066
I don't think that the split is required. They all depend on each other. Just release the updated files ASAP so we can prepare packages for distros.

[2020-05-27 20:24] Valerio1474 commented on #2133
Hi @plbossart, I have tried to follow the instructions here [https://github.com/thesofproject/linux/issues/2065#issuecomment-623105810](url) and compile and install kernel 5.7rc7 but I think something is still wrong, maybe I'm missing something, here is an excerpt from dmesg.
\`\`\`[    2.158770] sof-audio-pci 0000:00:1f.3: using HDA machine driver skl_hda_dsp_generic now
[    2.159669] sof-audio-

[2020-05-27 20:51] cujomalainey commented on #1088
I can't build upstream kernels for some reason right now, but I trust that you fixed it as said above.

[2020-05-27 20:51] #1088 closed

[2020-05-27 22:02] plbossart commented on #2133
@Valerio1474 you don't have the firmware installed on lib/firmware/intel/sof. please install with https://github.com/thesofproject/sof-bin/tree/stable-v1.4.3

If you see a hang you can try the 1.5 version, but that will also lead to issues with dmic names. we should have 1.5.1 "soon".

[2020-05-27 22:26] fredoh9 commented on #396
This is supposed to work with simply setting the flag. Not sure what was the missing pieces. Close this for now, we will revisit if needed.

[2020-05-27 22:26] #396 closed

[2020-05-28 03:24] sinahuang commented on #1970
Check with PR https://github.com/thesofproject/linux/pull/2070, aplay -l display "no soundcard", dmesg shows "ASoC: can't create pcm iDisp1 :-22".

[code]
[dmesg1.log](https://github.com/thesofproject/linux/files/4693058/dmesg1.log)

[2020-05-28 03:27] sinahuang commented on #2141
Error only can be seen with sof-dev+FWv1.4.3, not seen with sof-dev +master and sof-dev+FWv1.5

[2020-05-28 03:34] Liviali155 commented on #2025
Test with latest sof-dev(866e4d55)+Master(6cfd3e5a) used below step:
1."sudo reboot" to reboot system
2.Plug headset
3.paplay -vv wav/48California_Dreaming.wav
4.wait for 5s to unplug headset
5.wait for 5s to plug headset
6.repeat step4-step5
1st: Error occured when repeat step4-step5 35th
2nd: Error occured when repeat step4-step5 first

[2020-05-28 08:13] Liviali155 opened #2145 "[bug][TGL][UCM2]UCM2 can not work on tgl hda RVP"
***Describe the bug***
UCM2 can not work on tgl hda RVP

***To Reproduce***
1.Put “sof-hda-dsp” to /usr/share/alsa/ucm2
2."sudo reboot" to reboot system
3.check if ucm2 can work

***Reproduction Rate***
10/10

Expected behavior
UCM2 can work on tgl hda RVP

Actual result
UCM2 can not work on tgl hda RVP

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: 46897802 https://github.co

[2020-05-28 08:24] Valerio1474 commented on #2133
Hi @plbossart thank you for your instructions, I was sure to have installed the fw in the right directory supposing it was Cannon Lake platform, but I was surely wrong. Anyway I followed your suggestion and the only bit to correct is the go.sh script that has nothing inside, so I copied the one from 1.4.2 branch and changed 1.4.2=>1.4.3 in the version stanza.
Kernel boots without errors using the

[2020-05-28 12:44] mengdonglin commented on #2063
@plbossart, we still haven't got a coreboot fix now.  Close it as won't fix?

[2020-05-28 12:49] mengdonglin commented on #1972
@libinyang will update and upstream ucm2

[2020-05-28 14:53] plbossart commented on #2133
can you try to capture at the driver level with

arecord -Dhw:0,6 -c4 -r48000 -f32_LE -d 10 test.wav

if this doesn't work try with -c2 and check that the device 6 is correct with arecord -l

[2020-05-28 16:01] Valerio1474 commented on #2133
I tried this (I added the S in the -f argument I hope it was correct):
[code]
and I got a playable record of my ugly voice. :)

[2020-05-28 16:11] plbossart commented on #2133
@Valerio1474 so you are having a problem with pulseaudio.  You need recent version of alsa-lib and alsa-ucm-conf as well. I am pretty sure it's in Debian testing, not sure about sid.

[2020-05-28 19:09] Valerio1474 commented on #2133
After installing alsa-ucm-conf I got many error messages from the sof driver:
[code]
Audio was not working at all after boot.
I think alsa-ucm-conf has messed with the file hdmi.conf I got yesterday from here [https://bugzilla.kernel.org/show_bug.cgi?id=206085](url)
Alsa packages in Debian/Sid are version 1.2 and I think they are too old to manage properly my soundcard, so I had to resort to manua

[2020-05-29 02:24] sinahuang commented on #1969
Issue still can be reproduced with sof-dev(commit:  0d22f66) +master(commit :caae629) on CML-H.

[2020-05-29 02:30] ClarexZhou commented on #1397
Close UCM1 issues for won't fix

[2020-05-29 02:30] #1397 closed

[2020-05-29 03:45] sinahuang opened #2148 "[BUG][CML-H][UCM2]Output device will not auto switch to headphone after plug in headphone for the first time."
**Describe the bug**
Open sound setting. Wait 10s (wait pulseaudio to suspend), then plug in headphone, the output/input device cannot auto switch to headphone/headset. After issue occured unplug then plug in headset can recover.

Precondition:
1.Install ubuntu 20.04
2.Pulseaudio version: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/tree/master (commit：3dc525df) + https://gitlab.freedesk

[2020-05-29 03:47] sinahuang commented on #2148
Issue can be fixed by PR https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/302.

[2020-05-29 04:41] ClarexZhou commented on #1653
@sinahuang  Is this issue reported with UCM1?  Please close if this's UCM1 issue since won't fix.

[2020-05-29 04:46] ClarexZhou commented on #1621
Wait for fix by future global mute solution

[2020-05-29 04:47] ClarexZhou commented on #1824
Wait for fix by future global mute solution

[2020-05-29 04:51] ClarexZhou commented on #1419
close for seems Pulseaudio feature and reported with ucm1

[2020-05-29 04:51] #1419 closed

[2020-05-29 04:52] ClarexZhou commented on #1396
Close for won't fix UCM1 issue

[2020-05-29 04:52] #1396 closed

[2020-05-29 04:59] ClarexZhou commented on #2126
Error not seen with https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295#note_512131, wait Pulseaudio update.

[2020-05-29 05:01] ClarexZhou commented on #2124
Error not seen with https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295#note_512131, wait Pulseaudio update.

[2020-05-29 05:03] ClarexZhou commented on #1991
Error not seen with https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294 and  https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295#note_512131, wait Pulseaudio update.

[2020-05-29 05:04] ClarexZhou commented on #1999
Error not seen with https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295#note_512131, wait Pulseaudio update.

[2020-05-29 05:11] sinahuang commented on #2121
Error not seen with RR https://github.com/thesofproject/linux/pull/2044, seems not need sof PR https://github.com/thesofproject/sof/pull/2837. Still wait for PR https://github.com/thesofproject/linux/pull/2044 upstream into sound for next.

[2020-05-29 05:12] sinahuang commented on #1653
Close for won't fix for UCM1 issue.

[2020-05-29 05:12] #1653 closed

[2020-05-29 05:36] libinyang commented on #2148
This is a bug related the module-default-device-restore
This module will always restore the device which is lastly used. So when it try to restore headphone which is not plugged in, the error happens.

[2020-05-29 09:02] kv2019i commented on #2133
Good to hear @Valerio1474 . The alsa-ucm is a known problem with laptops with separate discrete graphics (like the HP Omen you have -> see https://github.com/thesofproject/linux/issues/2065#issuecomment-623105810 ). A fix is merged to upstream alsa-ucm git repository, but local fix to Hdmi.conf is also fine.

For default routing of Skype calls, one solution for Debian is here (I've not tested this

[2020-05-29 10:33] sinahuang commented on #2084
Issue also can be reproduced with sof-dev+master on TGL-U RVP with codec ALC711 and RT1308 in SDW mode. "ctrl+c "playback terminal can be freezed after issue occured and all pipelines can't work.
Test steps:
1.Boot up system.
2.cd sof-test/test-case
3.export TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-rt711-rt1308.tplg
2. Run "./multiple-pipeline-playback.sh -c 9 -r -l 10". (https://github.com/theso

[2020-05-29 13:39] kv2019i commented on #990
@plbossart wrote:

There are still tasks on the original list. I agree this is a bit of a neverending story. As I continue to learn more about HDA and all the implementation quirks, I keep also learning about gaps on the SOF side (like the generic codec support). With that, I think we have all the major gaps closed, but e.g. for reuse, there's still a lot to do.

For my own bookkeeping, I'd like t

[2020-05-29 14:29] YvonneYang2 commented on #2040
Issue cannot be reproduced after 1000 iterations stress test with latest topic/sof-dev(commit: 0d22f66b ) and  master(commit: caae629f)
So close it for issue not reproduced now.

[2020-05-29 14:29] #2040 closed

[2020-05-29 20:11] Valerio1474 commented on #2133
@kv2019i Sure I can close the bug, thank you for your work and support!

[2020-05-29 20:12] Valerio1474 commented on #2133
@kv2019i Sure I can close the bug, thank you for your work and support!

[2020-05-29 20:12] #2133 closed

[2020-05-29 23:16] RDharageswari commented on #2045
Incorporated the fix in the following patch:
https://github.com/thesofproject/linux/pull/2123/commits/24e5b2678814dc47a771c6e658896eab57c10104

[2020-05-30 23:22] samkline commented on #1807
I just wanted to say thanks @kv2019i for putting this patch together. I just picked up an Acer Swift 5 (SF514-54T) and was having the same issue as @RiderALT. I found lots of dead-end discussions about this and ultimately only had success when I recompiled the kernel with the two patches above (and added the config options @plbossart linked) -- now it all appears to be working. I've tested both th

[2020-05-31 05:49] youling257 commented on #2142
echo 'file sound/soc/sof/*  +p' > /sys/kernel/debug/dynamic_debug/control
a lot of warning
[  348.356554] sof-audio-acpi 80860F28:00: pcm: open stream 0 dir 0
[  348.356561] sof-audio-acpi 80860F28:00: period min 192 max 16384 bytes
[  348.356564] sof-audio-acpi 80860F28:00: period count 2 max 16
[  348.356567] sof-audio-acpi 80860F28:00: buffer max 65536 bytes
[  348.356613] sof-audio-acpi 80860F

[2020-05-31 23:46] kasper93 opened #2151 "[BUG] Driver doesn't load on Whiskey Lake platform"
**Describe the bug**
I don't have sound over built-in speakers in laptop. I started investigating the issue and noticed that legacy driver is used and solution for similar platform is to switch to new (sof) one. I blacklisted `snd_hda_intel`, but sof driver doesn't actually load for my hardware on 5.6.15 kernel and 5.7rc1 (I don't think there were changes between those two in driver). There is onl

[2020-06-01 01:00] keyonjie commented on #2151
Can you provide more information about it? e.g. enable dynamic debug logs and the full dmesg log, the output of "lsmod", ...

[2020-06-01 07:20] keqiaozhang opened #2152 "[JSL] runtime PM causes the system to hang"
**Describe the bug**
We observed the system hang issue when runtime PM is suspended on JSL ChromeBook.
if runtime PM is disabled like below, this issue cannot be reproduced.
$ echo on > /sys/bus/pci/devices/0000:00:1f.3/power/control
Pulseaudio is disabled.
Since this issue will cause the system to hang, so no logs can be dumped.

**To Reproduce**
After the system boots, idle for a few seconds, th

[2020-06-01 07:36] libinyang commented on #2068
@kv2019i Currently https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/290 is abandoned.
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/295 is enough for us to support single profile.
And we also need the patch: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/302 to fix the bug https://github.com/thesofproject/linux/issues/2148

[2020-06-01 08:55] kasper93 commented on #2151
I have added, but no more logs appeared. It seems to be ignoring my hardware on latest kernel. Here is little bit more info:

<details>
<summary>/etc/modprobe.d/sof-dyndbg.conf</summary>

[code]

</details>

<details>
<summary>dmesg</summary>

[code]

</details>

<details>
<summary>lsmod</summary>

[code]

</details>

[2020-06-01 09:29] sinahuang opened #2153 "[JSL][bug]" error at snd_soc_dai_hw_params on iDisp3 Pin: -22" occured when aplay via HDMI."
**Describe the bug**
Boot up system without DP/HDMI found that there is no HDMI jack detection in amixer contents . Then aplay via HDMI dmesg shows " error at snd_soc_dai_hw_params on iDisp3 Pin: -22" and terminal shows "Unable to install hw". Other pipline works well.
[code]

**To Reproduce**
1.Boot up system without HDMI/DP connected.
2.Run "aplay -Dhw:0,4 -r48000 -c2 -fs16_le wav/48K_Let_It_Go.

[2020-06-01 10:01] perexg commented on #1807
@samkline : Could you gather the full pulseaudio debug log to check what's wrong? The easiest way is to rename /usr/bin/pulseaudio, kill it and run 'pulseaudio.renamed -vvvvvvvvvvvvvvvv' on the command line (as user).

[2020-06-01 10:05] sinahuang opened #2154 "[JSL][BUG]Aplay via HDMI takes 5 mins to response after system wake up from s2idle."
**Describe the bug**
Aplay stuck and doesn't started after system wake up from s2idle.  Waiting for about 4mins" Unable to sync register 0x2f8100. -5" shows in dmesg. Then waiting for about 1 mins  HDMI begin to  playback normally.

**To Reproduce**
1.Boot up system with HDMI connected.
2.Run " sudo rtcwake -m mem -s 10" and waiting for system wake up from s2idle.
3.Run "aplay -Dhw:0,4 -r48000 -c2

[2020-06-01 10:07] sinahuang commented on #2154
Might be same root cause with https://github.com/thesofproject/linux/issues/1719

[2020-06-01 12:05] sinahuang opened #2156 "[JSL][BUG]System will hang for about 5mins after wake up from s2idle with sound setting opened ."
**Describe the bug**
It takes about 5mins to reponse after system wake up if enter S2idle in sound setting open status. And then system can't enter S2ilde again.

**To Reproduce**
1.Boot up system with HDMI connected.
2.Open sound setting
3.Run "sudo rtcwake -m mem -s 10"
4.Waiting for about 5 mins

**Reproduce rate**
5/5

**Expected result**
System should work normally after wake up from s2idle w

[2020-06-01 13:36] plbossart commented on #1807
@samkline could it be that you have an old version of alsa-lib and/or alsa-ucm-conf? we've seen this problem with having to add the number of mics by hand in a pulseaudio configuration,

[2020-06-01 13:50] samkline commented on #1807
I believe I'm updated on both:

[code]

Here's the debug logging of pulseaudio broken (without my changes to /etc/pulse/default.pa): https://gist.github.com/samkline/45d7a05de20ca2c1b34f8ad8440379da

And here's the debug logging of pulseaudio working (with my changes to /etc/pulse/default.pa):
https://gist.github.com/samkline/5a39fa082d587409d5907eebceb91568

[2020-06-01 13:54] perexg commented on #1807
The dmic channels are not exported correctly:

[code]

What does 'amixer -c 0 info' say?

[2020-06-01 13:55] samkline commented on #1807
[code]

[2020-06-01 14:17] perexg commented on #1807
Ohh, this was bad hit. The "hw:sofhdadsp,5" device is HDMI3. Please, replace /usr/share/alsa/ucm2/sof-hda-dsp/Hdmi.conf with https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/sof-hda-dsp/Hdmi.conf .

[2020-06-01 15:34] perexg opened #2157 "Soundwire support in upstream?"
Trying linux-next and I don't see the c960b4636c4d500ed745544347873e44b7f1e2e8 commit applied. When do you expect the initial soundwire support in the official linux kernel? The soundwire core code issues were resolved so the SDW support should be added ASAP.

I will update this bug, if I find other commits missing..

[2020-06-01 15:46] plbossart commented on #2157
We wanted to add the build support when it's really usable, but without waiting for everything to be accepted.

see the tentative order of patches here:
https://github.com/thesofproject/linux/commits/topic/sof-dev-rebase

[2020-06-01 16:15] perexg commented on #2157
It's 86 patches, 7023 diff lines on top of linux-next now. What else is missing?

[2020-06-01 16:20] plbossart commented on #2157
Sorry, I don't understand the question. We don't have any other patches than what is listed on topic/sof-dev-rebase. Everything was done in public, there's no secret patches we kept back on the Intel side.

[2020-06-01 18:11] kv2019i commented on #1807
@perexg wrote:

Good catch! Indeed, @samkline you probably have a 514-54T variant with a non-Intel GPU, and you hit this other issue (but fixed in upstream alsa-ucm as Jaroslav points above).

[2020-06-01 18:41] perexg commented on #2157
I meant when you expect to activate the SOF soundwire code in the official linux kernel. Our (Fedora, RHEL) policy for kernel is "don't accept the code until it's at least in the maintainer tree".

[2020-06-01 19:16] plbossart commented on #2157
oh, yes absolutely, we haven't stopped, @bardliao will be working on this and applying feedback/changes as needed. We are hoping most patches will be accepted for 5.9 with corrections/fixes for 5.10. All the code is really mostly incremental, from enabling the 'right' programming sequences to power management/clock stop and multi-link.

[2020-06-01 19:28] plbossart commented on #2151
@kasper93 Can you share the log of alsa-info.sh and checkout that your .config is aligned with
https://github.com/thesofproject/kconfig/blob/master/sof-defconfig
https://github.com/thesofproject/kconfig/blob/master/mach-driver-defconfig
https://github.com/thesofproject/kconfig/blob/master/hdaudio-codecs-defconfig

It feels like you have SOF partially enabled only.

[2020-06-01 19:51] plbossart commented on #1807
@kv2019i don't we start the DMIC devices at a fixed offset?

[2020-06-01 23:46] kasper93 commented on #2151
Sure, but given that no soundcards in detected, there is not much info there.

<details>
<summary>alsa info</summary>

[code]

</details>

Here is my related config on 5.6.15. I don't see anything wrong there.

<details>
<summary>zcat /proc/config.gz | grep CONFIG_SND_SOC_SOF</summary>

[code]

</details>

[2020-06-02 01:15] samkline commented on #1807
Sadly, no luck -- I tried the Hdmi.conf from upstream, reverted my default.pa change, removed my ~/.config/pulse, and rebooted to be safe, but I get dummy output and no input.

Pulseaudio debug logging is available here: https://gist.github.com/samkline/2aff0c71db990e09ad4bdf083666fc9b (lines 115-118 seem potentially relevant)

BTW, this machine does have an Intel GPU:

[code]

[2020-06-02 02:34] samkline commented on #1807
Oh, good news: I just installed pulseaudio-git (13.99.1-31-g1fe37), and it now works with the upstream Hdmi.conf without any changes to default.pa.

[2020-06-02 04:00] YvonneYang2 commented on #2053
Tested with #2123 on tgl chromebook/i2s mode, runtime pm still always in active. And the default Left/Right Spk Switch value is on. then i tried to turn them off manually, the pm runtime can be in suspended status.

[dmesg.log](https://github.com/thesofproject/linux/files/4714664/dmesg.log)

[2020-06-02 05:11] sinahuang commented on #2084
Issue also can be reproduced with sof-dev +master on JSP-RVP with ALC700 in HDA mode when boot up system with DP connected.
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/4714673/dmesg.log)
[sof_trace.log](https://github.com/thesofproject/linux/files/4714682/sof_trace.log)

[2020-06-02 05:37] sinahuang opened #2159 "[bug][JSL]" error at snd_soc_dai_startup on intel-hdmi-hifi1: -16" occured if boot up system with DP connected."
**Describe the bug**
" error at snd_soc_dai_startup on intel-hdmi-hifi1: -16" occured if boot up system with DP connected. And then terminal will be stuck all the time when input any command in terminal. All pipeline can't start to work.

Note: Error not seen if  boot up only with HDMI connected. Log as below:
[dmesg-hdmi.log](https://github.com/thesofproject/linux/files/4722249/dmesg-hdmi.log)

*

[2020-06-02 05:38] sinahuang commented on #2159
Might be related with https://github.com/thesofproject/linux/issues/2084

[2020-06-02 07:03] YvonneYang2 opened #2161 "[BUG][TGL]SOF cannot load successfully with kernel on latest topic/sof-dev"
**Describe the bug**
"soundwire sdw:0:25d:5682:0: Probe not complete, timed out" shows in boot up dmesg.

**To Reproduce**
1.Boot up .
2.Check dmesg.

**Reproduce rate**
5/5

**Expected result**
System boot up successfully

**Actual result**
aplay -l shows no sound card and "soundwire sdw:0:25d:5682:0: Probe not complete, timed out" shows in boot up dmesg.

**Test recipe**
Kernel:https://github.co

[2020-06-02 07:21] YvonneYang2 commented on #2161
Tested it with latest sof-dev(commit: 16d98cd5) + revert 2 commits + #2160 , issue cannot be reproduced.

[2020-06-02 07:24] bardliao commented on #2161
The issue is that ``SDW_SLAVE_ENTRY_EXT(0x025d, 0x5682, 0x1, 0, 0),`` is described in rt5682-sdw.c. However, current sdw version of rt5682 is 1.1 (0x2).
[code]

[2020-06-02 07:24] keyonjie commented on #2053
Yvonne, have you removed below amixer settings from shell script or UCM file?
amixer -c0 cset name='Left Spk Switch' off
amixer -c0 cset name='Right Spk Switch' off

[2020-06-02 09:04] perexg commented on #2157
Thank you for your answer. It's a bit late than we expected, but I understand that this code is complex.

[2020-06-02 09:07] sinahuang commented on #2084
Issue also can be reproduced with sof-dev+master on JSL-RVP with ALC700 in HDA mode when do multi-pipeline stress test.

[2020-06-02 09:55] sinahuang commented on #2152
Error not seen with sof-dev (commit:b0c0ab3) +jsl-002-drop-stable (commit:d8a5f4c )branch on JSL-RVP with ALC700 in HDA mode.

[2020-06-02 10:11] libinyang commented on #2084
This is wrong. It should be sof-ehl-xxx.tplg

[2020-06-02 10:14] ClarexZhou commented on #2053
Verified #2123 again. Behaviors as below:  Pusleaudio is already disabled.
1. boot up system, runtime PM keeps active.
"Left Spk Switch" and "Right Spk Switch" is on, amixer is here
[amixerContents.txt](https://github.com/thesofproject/linux/files/4716366/amixerContents.txt)
2. Trigger headset playback and stop to check, headset audio output works ok. But runtime PM keeps active,
3. Trigger 373-sp

[2020-06-02 10:14] libinyang commented on #2084
And it seems the bios is set wrongly.

[2020-06-02 11:12] YvonneYang2 opened #2162 "[TGL][SDW] runtime PM always in active on TGL chromebook/SDW mode"
**Describe the bug**
runtime PM always in active on TGL chromebook/SDW mode.

**To Reproduce**
Check runtime PM status when sof is idle for more than 3 seconds.
[code]
**Reproduction Rate**
10/10

**Expected behavior**
runtime PM will be suspended after sof is idle for more than 3 seconds.

**Environment**
Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:5cb79ee6f
Revert

[2020-06-02 11:14] sinahuang commented on #2084
Sorry for writing  the wrong TPLG in the describe. But I reproduced it with sof-ehl-rt5660.tplg

Test with latest sof-dev +master, issue still can be reproduced.

[2020-06-02 11:23] sinahuang opened #2163 "[BUG][GLK][sound/for -next]"error: cl_copy_fw: timeout HDA_DSP_SRAM_REG_ROM_STATUS read" occured when do module load/unload test ."
**Describe the bug**
"error: cl_copy_fw: timeout HDA_DSP_SRAM_REG_ROM_STATUS read" occured  when do module load/unload test . After issue occured can't load/unload module again and all pipeline can't work.
Power cycle can recover.

[code]

**To Reproduce**
1.sudo reboot
2. cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
5../check-kmod-load-unload.sh(https://github.

[2020-06-02 12:08] kv2019i commented on #1807
Patch to fix the original bug has been merged upstream now, so I will proceed and close the bug:
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-May/168417.html

Thank you @ltune , @RiderALT , @perexg and @samkline for reporting and helping with the debug. If there are new issues, please open a new bug and let's track any new issues separately.

[2020-06-02 12:08] #1807 closed

[2020-06-02 12:20] keyonjie commented on #2053
Thanks for the detail information @ClarexZhou .
@RDharageswari I think you have tested this on Chrome environment, can you provide UCM file then we can port it to Ubuntu and align for the testing?

[2020-06-02 18:57] plbossart commented on #2157
@perexg the rest of the code is really Intel-specific and I don't think there will be a lot of pushback since we just implemented the right programming sequences required by the hardware. Of course there will be bike-shed paint comments but at some point the hardware is what it is.

[2020-06-03 01:55] sinahuang commented on #2154
Error also can be seen after pulseaudio disabled.

[2020-06-03 02:49] ClarexZhou commented on #2154
@kv2019i  could you help to confirm https://lists.freedesktop.org/archives/intel-gfx/2020-April/236415.html is backport on sof-dev?

[2020-06-03 03:35] YvonneYang2 commented on #2162
Set them
amixer -c0 cset name='Left Spk Switch' off
amixer -c0 cset name='Right Spk Switch' off
Then check the pm runtime status, still in active status.

[2020-06-03 04:26] libinyang commented on #2084
The EHL is A0 chip and performance is bad. When we do the test, the pulseaudio is still holding the PCMs, which will conflict with the test case. So please disable pulseaudio firstly.

Also the DMIC16k parameter setting is wrong in topology. Please refer the patch https://github.com/thesofproject/sof/pull/2886

[2020-06-03 05:22] sinahuang commented on #2084
Error can be seen with PR https://github.com/thesofproject/sof/pull/2886 after pulseaudio disabled.

[2020-06-03 06:12] adam-fu commented on #1807
That's good news. It may be good to add here which kernel version will contain the patch, once it is released, so I can load the corresponding Ubuntu kernel and have the internal microphone working🙂

[2020-06-03 08:36] kv2019i commented on #1807
@adam-fu wrote:

It's currently queued for 5.8, so will be in 5.8.0. It may get backported to older stable kernels, and/or Ubuntu kernel package, so you probably don't have to wait that long.

[2020-06-03 09:05] keqiaozhang opened #2166 "[JSL] system will hang after snd_sof_pci is removed"
**Describe the bug**
Tried to remove audio modules, but found that system will hang after snd_sof_pci is removed.
Since this issue will cause the system to hang, so dmesg and trace logs cannot be dumped.

**To Reproduce**
After the system boots,  remove snd_sof_pci
$ sudo rmmod snd_sof_pci

**Reproduction Rate**
10/10

**Impact**
system hang

**Environment**
 * Kernel: topic/sof-dev
       Commit:

[2020-06-03 09:53] sinahuang commented on #2156
Error can't be seen when disabled pulseaudio and the opened setting isn't sound setting .

[2020-06-03 09:55] sinahuang commented on #2159
Issue can't be reproduced if boot up system with DP connected after pulseauido disabled and all pipeline can work well.

[2020-06-03 10:19] RiderALT commented on #1807
I already apply this patch (commit 89d73ccab20a684d8446cea4d8ac6a2608c8d390) for my local build of the kernel 5.7.0 and it works great on my Acer SF314-57 without any additional setting (like kernel module options or pulseaudio settings).

The only problem I discovered with 5.7.0 on this machine is 3 HDMI audio outputs in pulseaudio but one HDMI and one thunderbolt output in hardware.i attached Al

[2020-06-03 10:44] kv2019i commented on #1807
@RiderALT wrote:

That's good to hear, thanks for testing!

This is to be expected. This hardware supports up to 3 concurrent HDMI/DP audio streams. On most systems like this, you can connect upto 3 monitors to the USB-C/thunderbolt port (using DP-MST), plus one to the HDMI connector. Pulseaudio should show which of the three ALSA HDMI PCMs has a connected monitor (in your alsa-info it shows no mo

[2020-06-03 11:30] kv2019i commented on #990
Support for HDA "model" parameter was recently added to SOF. This was clearly a very important feature to port over from legacy drive, so I did a review of snd-hda-intel and updated the todo-list with remaining missing options. The most useful options not available in SOF are "patch" and "beep-mode". Added to todo-list.

[2020-06-03 11:34] kv2019i commented on #2097
@wittawatj @jason77-wang  No update in two weeks and the SOF driver part seems to be fixed, so I'll close this. Please continue the follow-up in https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1874698

[2020-06-03 11:34] #2097 closed

[2020-06-03 12:08] kv2019i commented on #2084
This does not look right:
Apr  3 06:18:05 ubuntu-Tiger-Lake-Client-Platform kernel: [   60.574153] snd_hda_codec_hdmi ehdaudio0D2: choose cvt 1 for pin nid 6
Apr  3 06:18:05 ubuntu-Tiger-Lake-Client-Platform kernel: [   60.576111] snd_hda_codec_hdmi ehdaudio0D2: HDMI: hinfo 00000000b2233cbd not registered
Apr  3 06:18:05 ubuntu-Tiger-Lake-Client-Platform kernel: [   60.576363] snd_hda_codec_hdmi e

[2020-06-03 12:16] kv2019i commented on #2159
This seems similar to #2084 indeed. Let's check the additional logs with that bug and it might reveal the rootcause for this as well. Suspicious logs here:

[    8.468405] snd_hda_codec_hdmi ehdaudio0D2: choose cvt 1 for pin nid 4
[...]
[    8.469664] snd_hda_codec_hdmi ehdaudio0D2: hda_codec_setup_stream: NID=0x3, stream=0x1, channel=0, format=0x31

[2020-06-03 12:19] kv2019i commented on #2154
@ClarexZhou wrote:

Ouch, indeed, that's still missing (although merged in drm tree). I'll backport that to sof-dev.

[2020-06-03 12:20] kv2019i commented on #2156
This is very likely same rootcause as #2154

[2020-06-03 12:21] kv2019i commented on #1991
@libinyang I assigned this to you, to follow-up the PA merge request from SOF team.

[2020-06-03 12:51] kv2019i commented on #2153
@sinahuang I'd say this is expected. In normal usage, user-space audio server (Pulseaudio, CRAS) will look at the alsamixer controls to see whether a monitor is connected and not route audio to HDMI/DP if no monitor is present. In this case aplay is run when monitors are not connected and the error is expected. Or did I miss some aspect in the report?

[2020-06-03 12:56] kv2019i commented on #2145
@Liviali155 Could you attach pulseaudio log? That should reveal what goes wrong with the UCM2. There are multiple ways to get the log.. here's one:
edit /etc/pulse/client.conf, then set autospawm = no, then reboot, open a terminal, and kill all pulse audio instances, if any,  then run pulseaudio -vvv &> log.txt, and attach the log.txt

[2020-06-03 12:57] kv2019i commented on #2110
Fixed by PA patches, assigning for @libinyang to follow-up.

[2020-06-03 13:02] kv2019i commented on #2066
@CendioOssman @perexg This issue is also fixed in 1.4.3:
https://github.com/thesofproject/sof-bin/tree/stable-v1.4.3/lib/firmware/intel/sof/v1.4.3

1.5 release also has a fix, but as @perexg commented above, there's another regression and we need to wait until 1.5.1 release (pending still).

[2020-06-03 13:14] perexg commented on #2066
I already released v1.5 for Fedora. It contains updated topology files - the DMIC control name fix plus the DMIC 20dB equalizer fix for the HDA platforms. I have first reports that the driver / DSP is more stable now. But anyway, it would be nice to have 1.5.1, so we (package maintainers) are not forced to do this dancing ;-)

[2020-06-03 13:30] juimonen commented on #2066
@perexg 1.5.1 should be on its way to signing this week, tests looks ok so far. Apologies still for this, as said the dmic automatic testing is difficult all the way up to user space, we've taken measures for this not to happen again...

[2020-06-03 14:27] kv2019i commented on #1883
Remaining issue is a pulseaudio problem and no activity in two months, so closing.

[2020-06-03 14:27] #1883 closed

[2020-06-03 14:29] kv2019i commented on #2066
Thanks @perexg (again)!

@CendioOssman Are you able to verify this?

[2020-06-03 15:17] kv2019i commented on #2020
@aleksfadini Could you take these out:

load-module module-alsa-sink device=hw0,0 channels=4
load-module module-alsa-source device=hw:0,6 channels=4

The log has no other errors than:

E: [pulseaudio] module.c: Failed to load module "module-alsa-sink" (argument: "device=hw:0,0 channels=4"): initialization failed.
E: [pulseaudio] module.c: Failed to load module "module-alsa-source" (argument: "devi

[2020-06-03 16:14] juimonen commented on #2020
@aleksfadini I have pretty similar device x1 yoga (probably with i7) and stock ubuntu 20.04 and for me internal mic and sounds seems to work out of the box... I'm not sure about the differences to arch linux..

[2020-06-04 01:56] Liviali155 commented on #2145
Pulseaudio log as below
[log.txt](https://github.com/thesofproject/linux/files/4727041/log.txt)

[2020-06-04 01:56] YvonneYang2 opened #2168 "[BUG][CML] "ASoC: Neither/both codec name/of_node are set for SSP1-Codec" shows when boot up system"
**Describe the bug**
"ASoC: Neither/both codec name/of_node are set for SSP1-Codec" shows when boot up system with latest topic/sof-dev

Tested it with kernel topic/sof-dev commit: 0d22f66b, issue cannot be reproduced. Will do bisect later.

**To Reproduce**
1.Boot up .
2.Check dmesg.

**Reproduce rate**
4/5

**Expected result**
System boot up successfully

**Actual result**
aplay -l shows no soun

[2020-06-04 03:12] keyonjie commented on #2168
Can you help add below change to print out the codec->name for debugging when the issue happen?

[code]

[2020-06-04 03:48] Liviali155 commented on #2153
Error not seen on TGL laptop with aboard codec ALC3204 in HDA mode with latest sof-dev(16d98cd5)+master(ef43899c),drm log as below

[kern.zip](https://github.com/thesofproject/linux/files/4727382/kern.zip)

[2020-06-04 05:44] YvonneYang2 opened #2169 "[BUG][TGL]two sides amplifiers both output “front left” and no amplifier output "front Right" when do test speaker test on speaker"
**Describe the bug**
Two sides amplifiers both output “front left” and no amplifier output "front Right" when do test speaker test on speaker

**To Reproduce**
1. Boot up . and run "sudo su"
2. Run ./amp_enable_sdw.sh
[amp_enable_sdw.sh.txt](https://github.com/thesofproject/linux/files/4727709/amp_enable_sdw.sh.txt)
3. cd sof-test and export TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-sdw-max98373-r

[2020-06-04 06:09] sinahuang commented on #2084
Attached drm log and alsa info on TGL-U RVP with two monitors connected.

[drm.log](https://github.com/thesofproject/linux/files/4727851/drm.log)
[sof_trace.log](https://github.com/thesofproject/linux/files/4727852/sof_trace.log)
[amixer.txt](https://github.com/thesofproject/linux/files/4727768/amixer.txt)

[2020-06-04 06:32] sinahuang commented on #2154
Error can't be seen with sof-dev (commit: 16d98c)+PR https://github.com/thesofproject/linux/pull/2167.

[2020-06-04 07:26] YvonneYang2 commented on #2168
Dmesg shows as below after patch applied.
[code]

[dmesg.log](https://github.com/thesofproject/linux/files/4728253/dmesg.log)

[2020-06-04 07:34] CendioOssman commented on #2066
Yes, with the updated Fedora package we are no longer seeing hangs here.

[2020-06-04 07:38] sinahuang commented on #2153
Error can't be seen with sof-dev (commit: 16d98c)+PR https://github.com/thesofproject/linux/pull/2167.

[2020-06-04 07:39] sinahuang commented on #2156
Error can't be seen with sof-dev (commit: 16d98c)+PR https://github.com/thesofproject/linux/pull/2167.

[2020-06-04 08:10] YvonneYang2 commented on #2111
Issue cannot be reproduced with test recipe as below:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit:0d22f66b7
Revert regression on USB-C 6a7c533d4a1854f54901a065d8c672e890400d8a
Revert regression on PINCTRL cd0a32371db73d0b50536a7ca4f036abddff0d1d
FW: https://github.com/thesofproject/sof/tree/tgl-006-drop-stable plus https://github.com/thesofproject/sof/pull/2987
TPL

[2020-06-04 08:21] sinahuang commented on #2166
Issue can't be reproduced with on sof-dev (commit: 16d98cd) + jsl-002-drop-stable (Commit : d8a5f4c) JSL-RVP with ALC700 in HDA mode.

[2020-06-04 08:27] keyonjie commented on #2168
Thanks @YvonneYang2.

The codec-name here is NULL, we need add more debug logs to print out the full information of the SSP1-Codec dailink.

In case you have time, can you help to try with:

[code]

[2020-06-04 09:22] ClarexZhou commented on #1978
Error not occurred on TGL chrome with 373 i2s+ 5682 with Kernel https://github.com/thesofproject/linux/commit/5cb79ee6f1cde60dbe8d4d31ff497399dda110af  + PR#2062
FW branch:  tgl-006-drop-stable Commit:f45bf94

[2020-06-04 10:24] #2156 closed

[2020-06-04 10:24] #2154 closed

[2020-06-04 10:55] YvonneYang2 commented on #2168
@keyonjie  I tried to test it with your patch, but it cannot enter ubuntu and hang in the black screen after choose the kernel.  Then i do the bisect, the result shows the commit f6c8ab553d3a920 cause the issue.  Could please have a look?

[2020-06-04 13:29] #2161 closed

[2020-06-04 13:43] kv2019i commented on #2066
Thanks @CendioOssman , closing!

[2020-06-04 13:43] #2066 closed

[2020-06-04 14:28] plbossart commented on #2168
@YvonneYang2 use a blacklist and manual modprobe snd-sof-pci to avoid boot issues.

[2020-06-04 14:36] keyonjie commented on #2168
My bad, I missed an item with copy/paste:
[code]

[2020-06-04 19:35] cujomalainey commented on #1906
This should have been fixed by https://github.com/thesofproject/linux/pull/2138

[2020-06-04 19:35] #1906 closed

[2020-06-05 01:43] keqiaozhang opened #2170 "[BUG] S2idle will cause system hang on JSL Chromebook"
**Describe the bug**
Just use this bug to track the S0ix on JSL. we need to verify WoV during the S0ix, but S0ix is not supported yet. current stats is that system will hang when entering to S0ix.

**To Reproduce**
S0ix:
1. Ensure suspend mode is S2idle,k
    echo s2idle > /sys/power/mem_sleep
2. cat /sys/kernel/debug/pmc_core/slp_s0_residency_usec
3. sudo rtcwake -m mem -s 10
4. cat /sys/kernel/d

[2020-06-05 02:01] ClarexZhou commented on #2153
Close for PR#2167 is merged.

[2020-06-05 02:01] #2153 closed

[2020-06-05 02:06] YvonneYang2 commented on #2168
Here is the boot up log after applied the patch.
[code]
[dmesg.log](https://github.com/thesofproject/linux/files/4733521/dmesg.log)

[2020-06-05 02:18] ranj063 commented on #2168
@YvonneYang2 could you please try if this change helps?
[code]

[2020-06-05 02:51] sinahuang commented on #2170
System only can't enter s0ix on JSL RVP in HDA mode, and system will not hang when entering s2ilde.

[2020-06-05 02:53] YvonneYang2 commented on #2169
Issue still can reproduce with below sceanario:
during DSM test with different format eg. “aplay -Dhw:0,2 -f s16_le -c 4 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 10 & arecord -Dhw:0,3 -f s16_le -c 4 -r 48000 tmp.wav -vv -i -d 10”

1.  with s16_le, Sound output from speaker sometimes has noise. Terminate the arecord0,3, output speaker back to normal. Dmesg shows bus clash for data word. Chec

[2020-06-05 03:15] ranj063 commented on #2168
hmm looking more into the dmesg there's something really fishy :
[    1.713561] cml_rt1011_rt5682 cml_rt1011_rt5682: sof_rt1011_quirk = f

This string should be printed only once when the machine driver probes. But it is printed 4 times over.

[2020-06-05 03:26] YvonneYang2 commented on #2168
Sorry, I tried to compile the kernel after this patch applied, but there were some error info during compiling.

[code]

[2020-06-05 04:03] ranj063 commented on #2168
@YvonneYang2 thanks but nevermind. I dont think that will fix the issue.

[2020-06-05 05:45] ranj063 commented on #2168
it looks like a50067d4 could be suspicious. @YvonneYang2 please update the results of reverting this  patch. @bardliao FYI

[2020-06-05 06:02] bardliao commented on #2168
@YvonneYang2 We need more log. Please add "options snd_soc_core dyndbg=+p" to /etc/modprobe.d/sof-debug.conf and get dmesg again. Thanks

[2020-06-05 08:03] YvonneYang2 commented on #2168
Issue cannot be reproduced after 45 iterations reboot stress test. I tested it with branch https://github.com/ranj063/linux/tree/issue2168 which Ranjani reverted it manually, since there're some conflicts when revert the commit a50067d.

[2020-06-05 08:03] xiulipan commented on #2170
@sinahuang Will the JSL HDA RVP also be hang when enter S3?

[2020-06-05 08:13] bardliao commented on #2168
I checked the dmesg log with "options snd_soc_core dyndbg=+p" and found that the major difference between
[issue2168-failed.txt](https://github.com/thesofproject/linux/files/4734652/issue2168-failed.txt) and
[issue2168-revert-rt5682-i2c-split.txt](https://github.com/thesofproject/linux/files/4734653/issue2168-revert-rt5682-i2c-split.txt) is that ``snd_cml_rt1011_probe()`` is invoked after rt5682 c

[2020-06-05 08:28] keyonjie commented on #2168
I think in the failed case, the defer probe happens. That means, the cml_rt1011_rt5682 machine driver defer probing doesn't work with the latest ASoC core code base.

[2020-06-05 09:00] YvonneYang2 commented on #2168
[code]
Tested it 50 iterations with the patch @bardliao provided as above,  issue cannot be reproduced.

[2020-06-05 09:38] sinahuang commented on #2170
System can't hang on JSL linux RVP with HDA codec when enter S3 and s2idle. Thought S0ix can't be achieved on JSL linux RVP

[2020-06-05 10:20] bardliao commented on #2168
[code]
I can see codec name in link SSP1-Codec exists before ``ASoC: codec component i2c-10EC5682:00 not found for link SSP0-Codec``. I guess something in the error handling.
[dmesg.txt](https://github.com/thesofproject/linux/files/4735382/dmesg.txt)

[2020-06-05 10:59] bardliao commented on #2168
I will also check if there is anything wrong on snd_cml_rt1011_probe(). It is my most suspicious function.

[2020-06-05 18:07] plbossart commented on #2168
can you add this to /etc/modprobe.d/sof-ddebug.conf:
options snd_soc_core dyndbg=+p
so that we see what resource is missing for the probe?

And it wouldn't hurt as well to compile with the https://github.com/thesofproject/kconfig/blob/master/memory-debug-defconfig added to https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh
Adding KASAN will make the boot become much slower

[2020-06-05 18:52] fredoh9 commented on #2168
I applied Ranj's quick patch and tested. Same result. Below log is with this patch on 16d98cd5aad7(today's topic/sof-dev)
[ranj_diff.txt](https://github.com/thesofproject/linux/files/4737891/ranj_diff.txt)

With enabled dyndbg, with snd_soc_core also. I have a working booting log
[0605_dmesg04_ranj_patch_dyndbg_working.log](https://github.com/thesofproject/linux/files/4737946/0605_dmesg04_ranj_pat

[2020-06-05 19:46] fredoh9 commented on #2168
I enabled memory-debug-defconfig. And found a KASAN error.

[code]

[0605_dmesg06_ranj_patch_dyndbg_ksan_working.log](https://github.com/thesofproject/linux/files/4738157/0605_dmesg06_ranj_patch_dyndbg_ksan_working.log)

[2020-06-05 20:35] ranj063 commented on #2168
Thanks @fredoh9. @plbossart what is the expectation when devm_snd_soc_register_card() returns a -EPROBEDEFER? Does this mean that when a codec component is available at a later point, the machine driver will probe again? Then what happens to the memory allocated in the first attempt at probing then?

[2020-06-05 20:37] plbossart commented on #2168
The memory allocated during the probe should have been freed.
I am not very good at debugging hex codes, what I typically do is add manual traces to find out what was the last point before the KASAN error and figure out what goes on.

[2020-06-06 02:08] RDharageswari commented on #2054
This patch fixes the issue:
https://github.com/thesofproject/linux/pull/2172/commits/ebdfc360dd6f4e533bee164a7d88c2efdd178692

[2020-06-06 03:55] RDharageswari commented on #2054
The above patch needs coreboot changes as well
https://review.coreboot.org/c/coreboot/+/41216/22/src/mainboard/google/volteer/variants/volteer/overridetree.cb#19

[2020-06-06 19:23] ranj063 commented on #2168
@plbossart it looks like the memory that is dynamically allocated for the 4spk conf and codec components is what is corrupted. @fredoh9 and I have a patch to fix this problem.

But in general it makes me wonder if we should avoid using devm_kzalloc() in the machine driver probe and instead use kzalloc() and free the memory when card registration fails.

[2020-06-07 19:58] giddie commented on #1917
Today I found time to package and test 1.4.3, and I'm happy to report that everything now seems to be working correctly - the speaker, internal dmic, and headset functionality all appear correct. I did need to do a small amount of manual adjustment with alsamixer to set the correct mic boosts etc..., but that's PulseAudio's problem.

The only outstanding issue I can see is that it reports 3 HDMI o

[2020-06-08 02:38] ClarexZhou commented on #2170
S3 isn't supported even after disable audio

[2020-06-08 05:21] YvonneYang2 commented on #2168
Error not seen after 50 iterations reboot test with latest topic/sof-dev(1af84d0e) + #2173  and master branch (428804e1).

[2020-06-08 07:40] bardliao commented on #2168
@YvonneYang2 Can you test with https://github.com/thesofproject/linux/pull/2174?

[2020-06-08 07:57] bardliao commented on #2168
@ranj063 @plbossart The issue is that somehow [if (!strcmp(cml_rt1011_rt5682_dailink[i].codecs->dai_name, CML_RT1011_CODEC_DAI))](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/cml_rt1011_rt5682.c#L587) fails. I _guess_ the reason is that we assign codecs with a dynamically allocated component, and it could be freed at any time after probe failed. But what I expec

[2020-06-08 09:06] YvonneYang2 commented on #2168
Error not seen after 50 iterations reboot test with latest topic/sof-dev(1af84d0) + #2174  and master branch (428804e1).

[2020-06-08 13:41] plbossart commented on #1917
The hardware supports 3 HDMI pipelines and they are all described in topology + UCM. There is a jack information that is used to tell UCM which of the HDMI PCMs are connected and can be used.
If you only have a single HDMI port that's fine, it should just work (tm) - as long as you do take that jack information into account.

see https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/sof-h

[2020-06-08 13:46] bardliao commented on #2168
I think I get the reason now. We don't remove the driver at that moment, so it is still the same  cml_rt1011_rt5682_dailink[]. Everything makes sense now.

[2020-06-08 13:58] plbossart commented on #2168
@bardliao I find your explanations confusing. What happens is rather simple with this code:

[code]

For the first run, cml_rt1011_rt5682_dailink[i].codecs points to the statically values. But if it is modified, then on the next run, we do test a value that was freed, before setting it again. That test is indeed completely wrong, we need to use a condition that is not modified/dynamically allocate

[2020-06-08 14:19] kv2019i commented on #2145
@Liviali155 wrote:

Oops, it seems autospawn setting did not take effect:
E: [pulseaudio] pid.c: Daemon already running.

You could try this (no need for reboot):
sudo mv /usr/bin/pulseaudio /usr/bin/pulseaudio-off
killall -v pulseaudio
pulseaudio-off -vvv &> log.txt
sudo mv /usr/bin/pulseaudio-off /usr/bin/pulseaudio

[2020-06-08 14:28] kv2019i commented on #1917
@giddie That's indeed expected, with DP-MST in the picture, HDMI PCM number does not correlate with physical ports number anymore. See https://github.com/thesofproject/linux/issues/1807#issuecomment-638114838
In short, you can plug upto 3 monitors to the USB-C/DP port and route different audio to each (with DP-MST), and many variations with the HDMI+DP ports.

[2020-06-08 14:29] kv2019i commented on #1917
It seems we can close this. Thanks @giddie for reporting and testing the fix!

[2020-06-08 14:29] #1917 closed

[2020-06-08 19:01] fredoh9 opened #2176 "[BUG][CML][RT1011_RT5682] KASAN bug found to play with speaker"
New KASAN bug found while working on https://github.com/thesofproject/linux/issues/2168.

- Platform : CML Helios
- Topology: sof-cml-rt1011-rt5682.tplg
- linux build hash: **16d98cd5aad79e1c808d77e66b808e02789d2ff6**
- KConfig: default + memory-debug-defconfig-
- cmd: `aplay -Dhw:0,5 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v `

[code]

[2020-06-08 19:54] plbossart commented on #2176
Probably this sort of code in sound/soc/codecs/rt1011.c

	first_bit = find_next_bit((unsigned long *)&rx_mask, 32, 0);

rx_max is declared as unsigned int, this cast is probably just wrong.

[2020-06-08 21:49] #2151 closed

[2020-06-09 01:31] Liviali155 commented on #2145
log as below
[log0609.txt](https://github.com/thesofproject/linux/files/4749350/log0609.txt)

[2020-06-09 06:49] sinahuang commented on #2084
Output of "alsa-info" on EHL RVP as below when two monitors are connected.
[code]

[2020-06-09 07:05] YvonneYang2 commented on #2053
Tested it latest topic/sof-dev(d8ac95aa4) as #2123 was merged, same behavior as above.

[2020-06-09 08:28] giddie commented on #1917
Ah! After 24h+ with no issues, I've started getting this in the kernel log this morning:

[code]

This repeats every second or so. The system has been through 3-4 sleep-resume cycles, and seemed to be working correctly for an hour or so after resume before this started. I have no audio, and pulseaudio is hanging in D-state. Would you like me to report this as a separate issue?

[2020-06-09 13:17] plbossart commented on #1917
I would file this as a separate issue for the firmware. @kv2019i what do you think?

[2020-06-09 14:49] #2168 closed

[2020-06-09 18:21] plbossart commented on #2157
closing since there's no bug here, just a painfully slow upstream process.

[2020-06-09 18:21] #2157 closed

[2020-06-09 18:23] plbossart commented on #2141
firmware issue that will not be fixed, closing

[2020-06-09 18:23] #2141 closed

[2020-06-09 18:24] plbossart commented on #2121
PR #2044 is merged

[2020-06-09 18:24] #2121 closed

[2020-06-09 18:36] plbossart commented on #2067
@perexg can you clarify one doubt I have: when would the BootSequence be executed? It's not usual for a lot of tests to use a "blacklist snd-sof-pci" and manually do a "modprobe snd-sof-pci". This helps track issues that are difficult to see if the boot is stuck. we also have quite a few tests where we load/unload modules on purpose to look for initialization problems?
I understand that systemd wo

[2020-06-09 18:42] plbossart commented on #1514
@sinahuang can we close this? This hasn't moved since January

[2020-06-09 18:44] plbossart commented on #1970
@sinahuang can you please re-check, the error with HDMI was fixed, thank you.

[2020-06-09 18:48] plbossart commented on #2163
@sinahuang does this work with topic/sof-dev?

Also you should take Mark Brown's tree, not Takashi's for ASoC tests. You may be testing code from the previous cycle that has not been merged by Takashi.

[2020-06-09 18:49] plbossart commented on #2111
no information provided, closing.

[2020-06-09 19:02] plbossart commented on #1969
Indeed this doesn't look very good, see what I capture on my side.

![rt715](https://user-images.githubusercontent.com/1149035/84188696-a416f280-aa59-11ea-97a9-ab0d9bfb5e82.png)

@singalsu can you take a look? Maybe borrow @kv2019i 's SoundWire laptop to see what happens on the capture side?

[2020-06-09 19:07] plbossart commented on #1735
no information provided, closing.

[2020-06-09 19:07] #1735 closed

[2020-06-09 19:13] plbossart commented on #1331
@Liviali155 I wonder if the issue is due to the power_save.

Could you re-try with SOF and legacy drivers and provide the information on /sys/module/snd_hda_intel/parameters/power_save while the drivers are suspended.

I'd like to understand if there is a difference in how we suspend the codec. @kv2019i FYI, this is odd.

[2020-06-09 19:18] plbossart commented on #1069
@kv2019i do you have a DP-MST rig that you can use to check this? I don't think the delay when switching monitors can be avoided but there shouldn't be any errors.

[2020-06-09 19:52] plbossart commented on #1296
@keyonjie @lgirdwood do you know what the 'dsp' BAR debugfs size might be on CNL?

I find that with the following hack there's no crash:

[code]

[2020-06-09 19:55] plbossart commented on #1803
all implemented

[2020-06-09 19:55] #1803 closed

[2020-06-09 20:04] plbossart commented on #1379
@juimonen can we close this? This seems super-old...

[2020-06-09 20:04] plbossart commented on #1454
no answer, closing

[2020-06-09 20:04] #1454 closed

[2020-06-09 20:41] ranj063 commented on #1799
@juimonen where is this limitation coming from? As far as I can tell the control IO functions dont restrict to just stereo and also the channel mapping in the ALSA topology document doesnt mention it. https://www.alsa-project.org/alsa-doc/alsa-lib/group__topology.html

[2020-06-09 21:43] Erfboom opened #2180 "[BUG] no audio through headphones on dell inspiron 7591."
**Describe the bug**
when headphones are plugged in, no audio is heard. under pavaudio, headphones will be shown as being detected and the laptop speaker will be muted. the only way to fix it is to go under configuration --> profile --> off --> play HiFi quality music.

I am using sof-firmware 1.4.2-1 on 5.6.15-arch1-1 kernel.

I have checked alsamixer to see if anything was muted as well and it's

[2020-06-09 22:12] plbossart commented on #2180
this isn't a firmware issue @Erfboom , transferring to the linux repo

[2020-06-09 22:14] plbossart commented on #2180
@Erfboom can you check which version of alsa-lib, alsa-ucm-conf and pulseaudio you are using?

[2020-06-09 22:26] Erfboom commented on #2180
of course and thanks for guiding me in the right direction.

alsa-lib 1.2.2-1
pulseaudio 13.0-3
alsa-ucm-conf 1.2.2-1

[2020-06-10 01:51] Liviali155 commented on #1331
On sof:
cat /sys/module/snd_hda_intel/parameters/power_save when suspended,the value is 0
On legacy HDA:
cat /sys/module/snd_hda_intel/parameters/power_save when suspended,the value is 1

[2020-06-10 02:03] Liviali155 commented on #1331
This issue only occured when runtime PM status changed  from  active to suspend or changed from suspend to active

[2020-06-10 02:17] sinahuang commented on #1970
Original issue still can be seen with latest sof-dev(commit:2839e03) +master (commit: b5043671) on CML-H.
[dmesg.log](https://github.com/thesofproject/linux/files/4755816/dmesg.log)
[sof_trace.log](https://github.com/thesofproject/linux/files/4755817/sof_trace.log)
[code]

[2020-06-10 02:28] plbossart commented on #1970
@bardliao @RanderWang can you please look into this?

[2020-06-10 02:40] sinahuang commented on #2163
Issue can't be reproduced with sound/for-next(commit: 951e273) +master(commit: b5043671), so closed it.

[2020-06-10 02:40] #2163 closed

[2020-06-10 02:41] bardliao commented on #1970
Yes, I will look into this.

[2020-06-10 03:14] plbossart opened #2182 "SoundWire: rt711: device_add_properties: KASAN use-after-free error"
The use of device_add_properties for rt711 generates a use-after-free error. It's likely we are doing something not quite right with firmware nodes, likely that we free the same resources twice, once in the ACPI device and once when removing the slave device.

boot with snd-sof-pci blacklisted, then modprobe snd-sof-pci; rmmod snd-sof-pci

git branch: https://github.com/plbossart/sound/tree/sdw/rt

[2020-06-10 03:19] plbossart commented on #2180
@kv2019i do those versions look ok to you? Should work out of the box, no?

[2020-06-10 05:52] bardliao commented on #2182
Yes, here is my dmesg
[dmesg_use-after-free.txt](https://github.com/thesofproject/linux/files/4756393/dmesg_use-after-free.txt)

[2020-06-10 07:18] bardliao commented on #2182
Question is why only rt711's fw node is not null?

[2020-06-10 08:12] keyonjie commented on #2053
@YvonneYang2 @ClarexZhou those mixers are for maxim98373 read only registers, that's why you can't 'set' them.

[2020-06-10 08:34] keyonjie commented on #1296
@plbossart it looks to be even larger than 0x10000 from the programming reference, e.g. the SDW IP registers are located in 0x30000~0x6FFFF.

From the result, I guess accessing to some slimbus, or ANC, or LP GPDMA, or DMIC registers leading to the crash.

[2020-06-10 08:54] bardliao commented on #1970
@sinahuang Can you try with #2183 ?

[2020-06-10 09:08] bardliao commented on #1970
@plbossart The ``fe`` argument in soc_dpcm_fe_runtime_update() is not only FE, but also BE. See [for_each_card_rtds](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-pcm.c#L2703). And it seems that we only need to handle FE in soc_dpcm_fe_runtime_update(). So my idea is to skip BE in soc_dpcm_fe_runtime_update(). What do you think?

[2020-06-10 09:42] singalsu commented on #1379
I'm not working with byte control IPC changes. The new controls flow via PM cache changed things fundamentally and we can't prevent illegal messages from failing later since we don't parse the binary controls in kernel. Also my +1 for closing this.

[2020-06-10 10:02] ClarexZhou commented on #2145
linux PC team is waiting UCM2 to work

[2020-06-10 11:37] bardliao commented on #2182
@plbossart I can "fix" the use-after-free error in rt711 by removing [rt711_add_codec_device_props](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw_rt711.c#L150), but I will see another use-after-free error in use-after-free. I have no idea yet.
[dmesg.txt](https://github.com/thesofproject/linux/files/4758133/dmesg.txt)

[2020-06-10 11:45] kv2019i commented on #2180
FYI to @juimonen and @libinyang -- ring any bells?

Versions seem sufficient, so this is either a codec driver issue with ALC3254 (this is slightly different from ALC3204 that has been tested widely), or issue in Pulseaudio specific to arch.

@Erfboom Could you provide "alsa-info" output for both cases when headset is connected and second set of logs when it is not.

And third, pulseaudio verbose

[2020-06-10 12:20] kv2019i commented on #2180
@Erfboom You could also try this kernel patch:
3a24f135e6cc58c2dc042dde44031ec31b706ce5 ASoC: intel/skl/hda - set autosuspend timeout for hda codecs
https://lore.kernel.org/r/20200409185827.16255-3-pierre-louis.bossart@linux.intel.com

There's one other bug with ALC3254 that can be related -> https://github.com/thesofproject/linux/issues/2014

[2020-06-10 12:22] kv2019i commented on #2145
Ack, this is related to HDA config in the BIOS:

I: [pulseaudio-off] (alsa-lib)main.c: unable to execute cset 'name='Auto-Mute Mode' 'Disabled''
I: [pulseaudio-off] (alsa-lib)main.c: error: failed to initialize new use case: HiFi
E: [pulseaudio-off] alsa-ucm.c: Failed to get the verb HiFi

I'll make a patch to alsa-ucm to be more robust against this.

[2020-06-10 12:47] sinahuang commented on #1970
Error can't be reproduced with PR https://github.com/thesofproject/linux/pull/2183.

[2020-06-10 13:04] plbossart commented on #1296
@keyonjie I am starting to wonder if this has to do with the register ownership. I am not sure what happens if you try to access a register owned by the DSP, e.g. the LP GPDMA.

[2020-06-10 13:17] plbossart commented on #2182
@bardliao the rt711 is modeled as an ACPI device, it's identified with an _ADR method. I am not sure what exactly a firmware node is but there's likely something wrong with our model. I think the error in device_remove_properties() is just a warning of a much larger issue...

[2020-06-10 13:22] plbossart commented on #1970
No, the fix is simpler:

[code]

we need to invert the two tests :-)
I'll send a PR later today.

[2020-06-10 14:11] plbossart commented on #1970
@sinahuang can you try with PR #2185? Thanks!

[2020-06-10 14:22] singalsu commented on #1969
@plbossart Yup, it looks strange. I'll get such device and test.

[2020-06-10 14:24] keyonjie commented on #1296
@plbossart Yes I have the same feeling. Previously I observed that we get all 0xffffffffs if the registers are not readable, but not sure if reading without ownership hold will crash the DSP or even the Linux.
Hi @lbetlej do you have knowledge about this?

[2020-06-10 15:02] kv2019i commented on #2180
@Erfboom One more. A simple thing to try (maybe as the first thing, no kernel compile needed):

- start playing something
- plug in headphones
- in terminal, issue:

amixer sset 'Input Source' 'Headset Mic'

... on Ubuntu systems you get a pop-up to select the headphone/headset type. In Arch, this might not work and if you don't set the type correctly, there won't be no audio.

[2020-06-10 15:14] kv2019i commented on #2145
@Liviali155 @ClarexZhou Can you try with following fix to UCM2:
https://github.com/alsa-project/alsa-ucm-conf/pull/33

[2020-06-10 15:16] plbossart commented on #2145
can we provide the alsa-info log to Jaroslav, when we add new conditions in UCM the ucm-validator test script will check what paths in the UCM file are covered by a config.

[2020-06-10 16:25] plbossart opened #2186 "KASAN use-after-free in snd_soc_unregister_dai() on module unload"
Tested with following branch (topic/sof-dev + traces and comments)

https://github.com/plbossart/sound/tree/kasan/hdac_component_use_after_free

[sof-dev-defconfig.txt](https://github.com/thesofproject/linux/files/4759886/sof-dev-defconfig.txt)

[dmesg-kasan.txt](https://github.com/thesofproject/linux/files/4759888/dmesg-kasan.txt)

standard test: boot first with snd-sof-pci blacklisted, then modp

[2020-06-10 16:26] plbossart commented on #2182
There are already issues without adding properties, so let's deal with https://github.com/thesofproject/linux/issues/2186 first, then come back to the property handling.

[2020-06-10 19:24] fredoh9 opened #2187 "[BUG][CML] kernel NULL pointer dereference in rt5682_jack_detect_handler"
- Device: cml helios
- linux hash: a7bffa42fe2a
- Kconfig : default + memory-debug-defconfig
- toplogy : sof-cml-rt1011-rt5682.tplg
- test command: ./check-kmod-load-unload.sh -l 3

I was testing sof-test test cases with KASAN enabled.
[code]
[0610_cml_helios_null_pointer.txt](https://github.com/thesofproject/linux/files/4760703/0610_cml_helios_null_pointer.txt)
(sorry lost full dmesg)

card's add

[2020-06-10 20:57] plbossart commented on #2186
I get the same error on a completely different device (Broadwell Chromebook) so this looks like a core issue with our memory management and devm_ handling during module unload

[dmesg-kasan-samus.txt](https://github.com/thesofproject/linux/files/4761166/dmesg-kasan-samus.txt)

@ranj063 does this ring a bell?

[2020-06-10 21:03] Erfboom commented on #2180
@kv2019i When using the amixer command, I did in fact get audio!

here's the logs you requested:

alsa-info:

[alsa-info..zRBt5G1y6B.txt](https://github.com/thesofproject/linux/files/4761119/alsa-info.zRBt5G1y6B.txt)

pulseaudio:

[pulseverbose.log.txt](https://github.com/thesofproject/linux/files/4761191/pulseverbose.log.txt)

Thanks to alsa-info i realized I have a dell inspiron 7591 and not a d

[2020-06-10 21:05] plbossart commented on #2186
@ranj063 the constant on the two platforms is that the use-after-free happens after dealing with the platform-registered DAIs and before the topology-added ones. So I suspect that removing the topology might do too many things and that the devm_ release deal with data already freed.

[2020-06-10 22:10] plbossart commented on #2186
This seems to be consistently happening during the list_del operation in snd_soc_unregister_dai.

[dmesg-kasan-list-del.txt](https://github.com/thesofproject/linux/files/4761523/dmesg-kasan-list-del.txt)

[2020-06-11 00:33] plbossart commented on #2186
Update: the use-after-free happens when using list_del for the last platform-registered DAI, before taking care of the topology-registered DAIs.

[code]

[2020-06-11 01:38] ClarexZhou commented on #2053
The headset output issue isn't related with below mixers after runtime PM works.
numid=83,iface=MIXER,name='Left ADC PVDD'
numid=84,iface=MIXER,name='Left ADC TEMP'
numid=27,iface=MIXER,name='Right ADC PVDD'
numid=28,iface=MIXER,name='Right ADC TEMP'

There is one time i tried steps in https://github.com/thesofproject/linux/issues/2053#issuecomment-637440089,  above mixers are not changed after ru

[2020-06-11 02:24] ClarexZhou commented on #1991
Close for https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294 is merged.

[2020-06-11 02:24] #1991 closed

[2020-06-11 02:30] naveen-manohar commented on #2162
Observe that master-Controller-1, that connects to max98373 slaves is always active. (Where-as Controller-0 connecting to RT5682 goes to suspend when not in use.)
cat /sys/bus/soundwire/devices/sdw-master-1/sdw\:1\:19f\:8373\:0\:3/power/runtime_status
active
cat /sys/bus/soundwire/devices/sdw-master-1/sdw\:1\:19f\:8373\:0\:7/power/runtime_status
active

[2020-06-11 03:23] Liviali155 commented on #2145
Tried with  [alsa-project/alsa-ucm-conf#33](https://github.com/alsa-project/alsa-ucm-conf/pull/33),ucm still can not  work,log as below
[amixercontents0611.log](https://github.com/thesofproject/linux/files/4762400/amixercontents0611.log)
[dmesg0611.log](https://github.com/thesofproject/linux/files/4762401/dmesg0611.log)
[pulseaudio.log](https://github.com/thesofproject/linux/files/4762403/pulseaud

[2020-06-11 05:25] sinahuang commented on #2186
Error also can be seen on GLK Chrome with onboard codec DA7219 in I2S mode with kernel https://github.com/plbossart/sound/tree/kasan/hdac_component_use_after_free  branch (with original issue kconfig)+master  branch (commit:700ca2ae).

[code]
[dmesg.log](https://github.com/thesofproject/linux/files/4762738/dmesg.log)

[2020-06-11 05:35] sinahuang commented on #1970
Error not seen on CML-H with  PR https://github.com/thesofproject/linux/pull/2185 +master (commit:700ca2a).

[2020-06-11 08:11] RanderWang commented on #2162
The issue is different with I2S mode. And the patch https://github.com/thesofproject/linux/pull/2123/commits/8947163714a57dbce92caaa637778db534c30392 doesn't work because user mode API will enable spk pin after card probe on sdw mode.

[2020-06-11 08:15] RanderWang commented on #2162
And according to https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/max98373.c#L886,  the codec can not be suspended

[2020-06-11 09:10] xiulipan commented on #2166
duplicated issues https://github.com/thesofproject/linux/issues/2166 https://github.com/thesofproject/linux/issues/2170 https://github.com/thesofproject/linux/issues/2152

Issue root cause to be related to DA7219 headset. When no headset plugin. No issue seen.
Test also with Chrome OS kernel 5.4. No issue seen.

Need to check what is the gap for pinctl support for JSL and DA7219

[2020-06-11 09:12] xiulipan commented on #2152
duplicated issues https://github.com/thesofproject/linux/issues/2166 https://github.com/thesofproject/linux/issues/2170 https://github.com/thesofproject/linux/issues/2152

Issue root cause to be related to DA7219 headset. When no headset plugin. No issue seen.
Test also with Chrome OS kernel 5.4. No issue seen.

Need to check what is the gap for pinctl support for JSL and DA7219

[2020-06-11 09:12] xiulipan commented on #2170
duplicated issues https://github.com/thesofproject/linux/issues/2166 https://github.com/thesofproject/linux/issues/2170 https://github.com/thesofproject/linux/issues/2152

Issue root cause to be related to DA7219 headset. When no headset plugin. No issue seen.
Test also with Chrome OS kernel 5.4. No issue seen.

Need to check what is the gap for pinctl support for JSL and DA7219

[2020-06-11 09:46] bardliao commented on #2186
Looks like those dai created by soc_tplg_dai_create() -> [snd_soc_register_dai()](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-topology.c#L1854) will be freed too early. I won't see the issue if I change [devm_kzalloc](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-core.c#L2298) to kzalloc and [devm_kstrdup](https://github.com/thesofproject/linux

[2020-06-11 12:30] bardliao commented on #2186
I think maybe we shouldn't use [devm_snd_soc_register_component()](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-devres.c#L27) if we use topology. The reason is that [release_nodes](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/base/devres.c#L490) will free all devres in the device in reverse order. If we see devm_snd_soc_register_component(),  we can

[2020-06-11 14:53] kv2019i commented on #2145
Sorry @Liviali155 ! There was a pretty bad mistake in my bad. I tested a wrong version before submitting the PR, sorry about that. I fixed that PR and fixed one more issue reported. Now UCM should work with these fixes:

https://github.com/alsa-project/alsa-ucm-conf/pull/33
https://github.com/alsa-project/alsa-ucm-conf/pull/34

[2020-06-11 18:52] kv2019i commented on #2084
Thanks for the logs. DRM logs seem good, nothing pops up. So looks like a SOF driver side issue, continuing to investigate.

[2020-06-11 18:58] kv2019i commented on #2180
@Erfboom Ok. Basicly this is feature of some Dell laptops and Ubuntu has a solution where a pop up is presented to user. So this would need some Arch specific solution to do the routing automatically.

You can also try cherry-picking this patch (and also see related discussion):
https://github.com/alsa-project/alsa-ucm-conf/pull/21

[2020-06-11 19:08] Erfboom commented on #2180
That's what I'm confused about. When I set options snd-intel-dspcfg dsp_driver=1 under modprobe, the headphone detection, muting, and switching works as expected. Audio stops coming out of the speakers and it's routed to the headphones. No pop-up is needed there.

[2020-06-11 19:16] kv2019i commented on #1331
@plbossart wrote:

@Liviali155 wrote:

So it would indeed seem that legacy driver is putting the codec to runtime PM as well. We share most of the per-codec logic (depop delays, power-up fixups, etc) and the controller resume/suspend looks the same, but obviously we go through ASoC flows so there can be differences. I'll try to see if I can reproduce on this some setup.

[2020-06-11 20:05] plbossart commented on #2186
@sinahuang can you try PR #2188 on GLK? Thanks!

[2020-06-11 22:07] plbossart commented on #2182
A simple way to fix this is to apply this patch on top of https://github.com/thesofproject/linux/pull/2188

[code]
[rt711-property.diff.txt](https://github.com/thesofproject/linux/files/4767587/rt711-property.diff.txt)

but I don't know if this is legit. I tried with rt5640 and that change is not required - no KASAN error - so the problem seems to be tied to a problem in the ACPI companion/firmwar

[2020-06-12 02:24] sinahuang commented on #1970
Issue can't be reproduced after PR https://github.com/thesofproject/linux/pull/2185 merged, so closed it.

[2020-06-12 02:24] #1970 closed

[2020-06-12 03:41] sinahuang commented on #2186
Error not seen on GLK codec DA7219 in I2S mode with sof-dev+ PR https://github.com/thesofproject/linux/pull/2188 and master FW(commit:a8ec8b) .

[2020-06-12 04:54] Erfboom commented on #2180
i upgraded sof-firmware to 1.5.1 and now the method that i used to restore audio to headphones no longer works. the only way to get audio is by doing the amixer command.

EDIT: furthermore, the mic no longer works. I had to downgrade sof-firmware, alsa-lib and alsa-ucm-conf back to the versions i posted initially for the mic to be recognized as digital microphone.

[2020-06-12 05:40] ClarexZhou opened #2190 "[But][TGL Chrome I2S] Headset audio output is harsh after runtime PM suspended."
**Describe the bug**
We found this issue on TGL chromebook with 98373 in I2S mode.
Headset audio output is harsh and each channel can output both L and R after runtime PM suspend.

**To Reproduce**
1. boot up system, runtime PM keeps active.
[code]
"Left Spk Switch" and "Right Spk Switch" is on, amixer is here
[amixerContents.txt](https://github.com/thesofproject/linux/files/4716366/amixerContents

[2020-06-12 05:42] ClarexZhou commented on #2053
Split headset audio output issue and track in https://github.com/thesofproject/linux/issues/2190

[2020-06-12 07:43] YvonneYang2 commented on #2169
Tested it with latest topic/sof-dev(01ec165d) + #2178, issue cannot be reproduced.

amixer setting:
[amp_enable_sdw.sh.log](https://github.com/thesofproject/linux/files/4769406/amp_enable_sdw.sh.log)

Test recipe:
Kernel: topic/sof-dev(01ec165d) + #2178 and
Revert regression on USB-C 6a7c533d4a1854f54901a065d8c672e890400d8a
Revert regression on PINCTRL cd0a32371db73d0b50536a7ca4f036abddff0d1d
FW:

[2020-06-12 09:25] bardliao commented on #2182
@plbossart I don't think adding device_remove_properties in codec driver is the right solution. Codec driver doesn't know we call device_remove_properties() for it. After adding a lot of trace, now I see ``dev->fwnode = dev->fwnode->secondary`` is set by acpi_unbind_one() (Not sure exactly at which point yet). And dev->fwnode->secondary = ERR_PTR(-ENODEV) after that. Calling device_remove_properti

[2020-06-12 09:52] kv2019i commented on #2180
@Erfboom When you set "options snd-intel-dspcfg dsp_driver=1 ", a different driver is loaded. This exposes less capabilities, so Pulseaudio uses the legacy non-UCM code to discovery sound device functions and this does not trigger the problem. So this works, but you will not have digital mic working.

With SOF (and DSP in use), we are exercising a different path in PA. As you can see from the disc

[2020-06-12 10:39] Liviali155 commented on #2145
Tried with

UCM2 can work on tgl RVP,but has below issues:
1.Output device in sound setting is blank after reboot without headset and HDMI connected,but if you tap it once,Input device changed to speaker
2.Plug headset,there is no headset item in Input device
3.Reboot with HDMI connected,then plug headset and set Outputdevice as headphone,Input device as headphone, sound  still output in HDMI,but

[2020-06-12 11:29] bardliao commented on #2182
@plbossart The dev->fwnode is changed at acpi_unbind_one() ->  ACPI_COMPANION_SET() -> set_primary_fwnode(). I also checked fwnode_remove_software_node() will only be invoked if we call device_remove_properties() first, but not be invoked in the existing code.

[2020-06-12 13:54] plbossart commented on #1970
Thanks @sinahuang for checking!

[2020-06-12 14:01] plbossart commented on #2190
@ClarexZhou it's really hard to analyze amixer contents, there's just too much information.

Can you provide the amixer *commands* and settings used, and make sure they are aligned with recommended values for rt5682, e.g. https://github.com/thesofproject/alsa-ucm-conf/blob/master/ucm2/sof-soundwire/RT5682.conf

Also can you confirm that you don't see any changes to register settings for rt5682 bef

[2020-06-12 14:07] #2169 closed

[2020-06-12 14:24] kv2019i commented on #2145
Thanks @Liviali155 This matches with other reports I've got.

I now made one additional fix (draft still) that fixes the case where sound settings is empty if booting without headset connected:
https://github.com/thesofproject/alsa-ucm-conf/pull/43

There would still seem to be a problem in following case:
 - boot without HDMI/DP or headphone connected
 - plug in headphone
 -> only "dummy" sink li

[2020-06-12 16:21] plbossart opened #2192 "Kmemleak: missing snd_hdac_regmap_exit() ?"
The following kmemleak trace during module load/unload tests suggests a missing snd_hdac_regmap_exit() in hdac_hda_codec_remove() ?

@kv2019i can you take a look? Thanks!

[code]

[2020-06-12 16:25] plbossart commented on #2192
Full log attached (ignore the soundwire_intel ones, already fixed).

[kmemleak.txt](https://github.com/thesofproject/linux/files/4771971/kmemleak.txt)

[2020-06-12 17:06] fredoh9 opened #2193 "[Bug][ICL] KMOD test fails due to power_status is always active"
ICL KMOD tests are failed. This is found only on ICL_RVP_HDA, but very consistent failure.
From daily regression report,

- linux hash: 2839e03e, sof hash: b5043671==> no issue
- linux hash: c5e14df5, sof hash: 700ca2ae ==> issue found for the first time

Module loading /unloading are working fine. But dsp power status are always active after module reloading.
[code]

There is not much logs to che

[2020-06-12 19:06] #2186 closed

[2020-06-12 19:22] #2192 closed

[2020-06-12 19:25] fredoh9 commented on #2193
Looks SOF firmware issue. Will move this issue to firmware.
- linux hash: c5e14df + sof hash: b5043671 ==> working fine.

Suspecting this commit, trying to revert this and retest again.
17f281de9 Audio: Improve volume gain ramp length accuracy

[2020-06-12 19:30] plbossart opened #2195 "HDA/HDMI memory leaks on module remove"
The sequences to release resources when we remove drivers generates a lot of memory leaks, specifically for HDAudio/HDMI.

Tests on top of https://github.com/thesofproject/linux/pull/2194

[sof-dev-defconfig.txt](https://github.com/thesofproject/linux/files/4772814/sof-dev-defconfig.txt)

bash test file (ajust as needed, this is for a SoundWire platform)
[leak.txt](https://github.com/thesofproject

[2020-06-12 20:02] Erfboom commented on #2180
ah, that makes a lot of sense! thanks for the explanation. and yeah i'll provide some logs if i end up fiddling around with 1.5.1 again.

[2020-06-12 21:00] fredoh9 commented on #2193
After reverting SOF 17f281de9 worked fine. Filed an issue to SOF repo.

[2020-06-12 21:00] #2193 closed

[2020-06-12 21:19] plbossart commented on #2187
@fredoh9 can you try to the same solution we added for sof_rt5682, I think it's a requirement that we use snd_soc_component_set_jack(NULL, NULL). Adding @bardliao for more comments.

[code]

[2020-06-14 00:45] fredoh9 commented on #2187
@plbossart @bardliao
I added same code above in rt5682_remove() but i'm still able to reproduce the KASAN error, Not sure what else is missed. I need your comment and help. This commit is based on topic/sof-dev + find_next_bit fix to avoid known kasan bugs.
https://github.com/fredoh9/linux/commit/2757d5ea2818ad8c264d954bfa357f852d3cbafd

[0613_dmesg03_kasan_debug_log_on_kmod.log](https://github.co

[2020-06-15 02:15] ClarexZhou commented on #2190
@plbossart , for amixer contents when issue seen or not :  Only "Left Spk Switch" and "Right Spk Switch" are different, see comments
 https://github.com/thesofproject/linux/issues/2053#issuecomment-642353857.
Also no difference of /sys/kernel/debug/regmap/i2c-10EC5682\:00/registers

[2020-06-15 03:49] sinahuang opened #2197 "[JSL][BUG][s0ix]System can't enter s0ix."
**Describe the bug**
System can't enter s0ix and only can enter s2idle and s3.

**To Reproduce**
S0ix:
1. Ensure suspend mode is S2idle, echo s2idle > /sys/power/mem_sleep
2. cat /sys/kernel/debug/pmc_core/slp_s0_residency_usec
3. sudo rtcwake -m mem -s 10
4. cat /sys/kernel/debug/pmc_core/slp_s0_residency_usec  to check the residency time is increasing or not
[code]
[code]
**Reproduction Rate**
1

[2020-06-15 05:43] ClarexZhou commented on #2197
Kernel team only get PC2. Kernel team is debugging on that

[2020-06-15 05:53] bardliao commented on #2187
@fredoh9 Could you try @plbossart in https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/cml_rt1011_rt5682.c? Maybe do it in rt5682 driver itself is too late. Thanks.

[2020-06-15 06:37] kv2019i commented on #2159
@sinahuang To confirm this either same or different with #2084, could you take the same logs from this JSL case:

- output of "alsa-info" when both monitors are connected
- i915 log
        modprobe conf.d:
        options drm debug=0x1e
        or with kernel cmdline:
        drm.debug=0x1e

[2020-06-15 08:26] sinahuang commented on #2159
Attached the I915 log:
[drm_log.log](https://github.com/thesofproject/linux/files/4778760/drm_log.log)

Tried to get the alsa-info , but error shows as below, can't output some alsa info. Attached amixer contents.
[amixer.txt](https://github.com/thesofproject/linux/files/4778761/amixer.txt)
[code]

[2020-06-15 09:25] RanderWang commented on #2053
The spk switch is restored by alsactrl in user mode. Please disable it in /var/lib/alsa/asound.state
[code]

[2020-06-15 09:28] RanderWang commented on #2162
Fixed, I will submit a PR to fix it tomorrow after the last ACK from maximum developer.

[2020-06-15 10:29] plbossart commented on #2187
@fredoh9 you probably want to add more traces in the codec driver to figure out which pointer is used.

[2020-06-15 10:31] plbossart commented on #2187
Yes the code needs to be added to the machine driver, not the codec driver.

[2020-06-15 10:51] singalsu commented on #1876
@ClarexZhou @sinahuang Does this issue still happen?

[2020-06-15 10:59] keyonjie commented on #2190
This issue is root caused and fixed, I will submit PR soon.

[2020-06-15 10:59] singalsu commented on #1799
If a quick and ugly fix is needed the missing channels 3 and 4 controls can be extrapolated from 1 and 2. It could be done on kernel or firmware side. I don't like such but this has been open soon a full year without found way to do this. Also the channel maps for ALSA are for surround playback. It would be artificial to name mic channels as FR, FL, SR, SL, etc.

[2020-06-15 11:14] bardliao commented on #2182
@plbossart I think I know the story now.
1. device_del() -> device_platform_notify() -> software_node_notify() case KOBJ_REMOVE: will free dev->fwnode
2.  device_del() -> device_remove_properties() will use dev->fwnode which is freed.
I can remove the error by
[code]
But the problem is that device_remove_properties() doesn't do its job properly in this case. device_remove_properties() is supposed

[2020-06-15 13:08] #2176 closed

[2020-06-15 13:20] plbossart commented on #2182
@bardliao yes this is what I understand as well, the set_primary_fwnode() is just wrong. there's a thread on this, let's see what comes out of it.

[2020-06-15 14:41] kv2019i commented on #2159
@sinahuang wrote:

... try running alsa-info as root, that should fix the above.

[2020-06-15 14:45] kv2019i commented on #2159
@sinahuang wrote:

Thank you! One question: this log does not seem to have the "snd_hda_codec_hdmi ehdaudio0D2: ASoC: can't open DAI intel-hdmi-hifi1: -16" error. Did the error happen when you took the log?

One alternative, maybe instead of "dmesg", you can capture the log with following command:

journalctl -b-0  >system_log.txt

This will capture all kernel and system logs for the current boot.

[2020-06-15 17:00] singalsu commented on #1969
I have a suitable device now. The volume capture ramp does some really strange things, good that I can now replicate this:

![Screenshot from 2020-06-15 19-58-14](https://user-images.githubusercontent.com/28754793/84685362-d6858b80-af42-11ea-85dc-9f0ca490495b.png)

(the different capture level on L & R does not matter, this was just  a quick acoustical test)

[2020-06-15 18:04] fredoh9 commented on #2187
I applied same change to machine driver, cmd_rt1011_rt5682.c. Looks working fine with kmod test of 15 times. I will make sure the KASAN bug is not reproduced with more testings. I will submit a PR today.

[2020-06-16 00:26] plbossart opened #2200 "[BDW] Beating noise when PulseAudio is active"
On Broadwell Dell XPS 13, I can hear a loud beating noise when PulseAudio starts. The noise stops 5s after PulseAudio becomes idle. No problem with aplay -Dhw:0,0.

Configuration w/ Debian testing and UCM2 from https://github.com/alsa-project/alsa-ucm-conf/pull/32

@lgirdwood can you try and install the latest sof-dev kernel on this device and let me know if you can reproduce this?

[2020-06-16 00:29] plbossart commented on #2200
kernel configuration to get the DSP to boot: need
[code]
[sof-dev-defconfig.txt](https://github.com/thesofproject/linux/files/4783639/sof-dev-defconfig.txt)

[2020-06-16 02:27] sinahuang commented on #2159
Attached the system log.
[system_log.txt](https://github.com/thesofproject/linux/files/4783944/system_log.txt)
[kern.log](https://github.com/thesofproject/linux/files/4783950/kern.log)
Tried run alsa-info as root , error still can be seen as below:
[code]

[code]

[2020-06-16 03:06] keyonjie commented on #2190
@ClarexZhou https://github.com/thesofproject/sof/pull/3053 is created to fix this.
@RDharageswari @sathya-nujella FYI. In case you hit issues in 5682 playback.

[2020-06-16 03:25] keyonjie commented on #2190
@plbossart it is root caused to be the mclk issue, the mclk provided to the rt5682 is 38.4MHz though it is claimed to be 19.2MHz in the error case.

[2020-06-16 04:28] sinahuang commented on #1876
Issue still can be reproduced on TGL RVP with codec ALC711 and RT1308  in SDW mode.

[2020-06-16 04:56] sinahuang commented on #1514
Issue can't be reproduced on TGL RVP with 711 and 1308 in SDW mode, so closed it.

[2020-06-16 04:56] #1514 closed

[2020-06-16 05:26] ClarexZhou commented on #2190
Verified, error can be fixed by thesofproject/sof#3053

[2020-06-16 06:15] bardliao commented on #2182
@plbossart Sorry, but may I know where can I find the thread?

[2020-06-16 06:46] YvonneYang2 commented on #2162
Issue is fixed by #2201 and no side effect found.

[2020-06-16 06:53] ClarexZhou commented on #2053
Runtime PM works ok after changed in /var/lib/alsa/asound.state

[2020-06-16 06:56] ClarexZhou commented on #2053
Close issue

[2020-06-16 06:56] #2053 closed

[2020-06-16 07:21] Liviali155 commented on #2145
@kv2019i

Tried with https://github.com/thesofproject/alsa-ucm-conf/commits/master+ https://github.com/thesofproject/alsa-ucm-conf/pull/43 +  https://github.com/alsa-project/alsa-ucm-conf/pull/33,   ucm2 can work,but has below issue:
1.boot without HDMI/DP or headphone connected
2.open sound setting
Output Device is "Dummy Output",Input Device is blank
After plug headset,Output Device has "Dummy O

[2020-06-16 08:35] singalsu commented on #1876
@sinahuang Thanks for confirm. The issue #1969 has some similarity. I now have a device that is similar to that report. I will try to enhance capture beginning within firmware what can be done, and I think it could help with this issue with different codec IC too. There could be also issues in driver control sequence.

[2020-06-16 14:25] plbossart commented on #2159
does this prevent alsa-info from generating a report? if not that's not an error really for SOF.

[2020-06-16 14:32] plbossart commented on #2182
in your email :-)

[2020-06-16 17:26] kv2019i commented on #2159
I got a lead on the problem now:
[    4.633635] snd_hda_codec_hdmi ehdaudio0D2: hdmi: pcm_num set to 5

... that value should not happen and I now suspect a timing raise in the probe sequence. I'll continue to run some tests with a local kernel and will update here again tomorrow.

[2020-06-16 17:26] kv2019i commented on #2084
Suspected rootcause is this -> https://github.com/thesofproject/linux/issues/2159#issuecomment-644903596  -- no fix candidate yet.

[2020-06-16 20:02] plbossart opened #2204 "Improve IPC flood error reports"
in CI report: https://sof-ci.01.org/linuxpr/PR2201/build3950/devicetest/
one can see:

kernel: [   96.248808] sof-audio-pci 0000:00:1f.3: error: debugfs write failed to idle -16

This is problematic because this is reported in the test_speaker.sh test while the error above is related to an IPC flood issue.

We do need to have a better reporting of IPC flood errors...

[2020-06-16 20:09] plbossart opened #2205 "APL: IPC error following xrun - kernel/firmware interaction issue"
https://sof-ci.01.org/linuxpr/PR2201/build3950/devicetest/

Wondering if the firmware behavior has changed? @lgirdwood does this ring a bell?

[code]

[2020-06-17 08:34] sinahuang commented on #2159
Issue can't be reproduced on JSL-RVP in legacy HDA mode when boot up system with DP connected.

[2020-06-17 08:40] ClarexZhou commented on #2159
issue seems only on JSL-RVP with sof HDA, error not occurred on JSL chrome laptop with I2S mode.

[2020-06-17 10:34] kv2019i commented on #2159
It seems if DP is connected and all HDMI PCMs are opened in the order Pulseaudio does it (from PCM with highest device number down), we hit a error that leads to a hung process with following backtrace:

[code]

The lock is never acquired, so the task gets stuck. I can also reproduce this on ICL now. Investigation ongoing.

[2020-06-17 11:01] YvonneYang2 opened #2207 "[BUG][APL]"error: ipc timed out for 0x80010000 size 216" when run " ./check-suspend-resume.sh" stress test"
**Describe the bug**
"error: ipc timed out for 0x80010000 size 216" when run " ./check-suspend-resume.sh" stress test.
commit 140f27c9 canot reproduce the issue. Bisect is still on going.

**To Reproduce**
1.System boot up.
2. cd sof-test then run "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg"
3. cd test-case then run "./check-suspend-resume.sh -l 200"

**Reproduction Rate**
Round

[2020-06-17 11:19] YvonneYang2 commented on #2207
Same bug as https://github.com/thesofproject/sof/issues/2684, close it.

[2020-06-17 11:19] #2207 closed

[2020-06-17 15:14] kv2019i commented on #2159
Potential bugfix available, please test.

[2020-06-17 15:15] kv2019i commented on #2084
#2208 is a potential fix for this as well. @sinahuang Due to other issues, I could not verify this on a EHL device yet, so if you could check that would be great.

[2020-06-18 00:36] sinahuang commented on #2084
Issue can't be reproduced on EHL RVP in legacy HDA mode when do multi-pipeline stress test.

[2020-06-18 02:22] #2187 closed

[2020-06-18 04:35] sinahuang commented on #2084
Verified with PR https://github.com/thesofproject/linux/pull/2208, error info are different from original issue when do multi-pipeline stress test, dmesg shows as below:
First round, failed at 1st time
2nd round , failed at 4th time
 And now after issue occurred aplay all pipelines again all pipelines can work well.

[code]
[drm.log](https://github.com/thesofproject/linux/files/4796261/drm.log)

[2020-06-18 04:52] sinahuang commented on #2159
Verified with PR https://github.com/thesofproject/linux/pull/2208 error info are different from original issue, error shows as below when boot up system with DP connected. No this warning message if bootup without DP connected.
But now this error can't effect all piplelines' work, seems just a warning.
[code]
[drm_jsl.log](https://github.com/thesofproject/linux/files/4796321/drm_jsl.log)
[system_l

[2020-06-18 05:49] mengdonglin opened #2211 "Add document to clarify BKM of user space packages: alsa-lib, alsa-ucm-conf, PulseAudio, GNOME etc"
Add document to clarify Best Known Method of user space packages: alsa-lib, alsa-ucm-conf, PulseAudio, GNOME etc.

Based on the document, we'll maintain ‘BKM packages’ based on documented upstream tag + fixes being upstreamed for each program.

The BKM packages would be provided externally as Debian packages as well as source code with a  branch for non-Debian distros. This will require the use of

[2020-06-18 10:18] kv2019i commented on #2084
@sinahuang Thank you for testing! Does the test itself also fail or do you just get the error messages in the dmesg output? When this error print is now emitted, the application has tried to open a PCM that has no connected PCM. I wonder if the test case does this? Then it would be as expected to get error for the one converter that is not connected. If test fails on the PCM nodes that are connect

[2020-06-18 10:49] sinahuang commented on #2084
Error occurred with one monitor connected when do test multi-pipeline stress test case failed. Reproduced with command "./multiple-pipeline-playback.sh -c 8 -r -l 50"
Reproduce rate:
First round, test for 50 times ,failed at 1st time
2nd round , test for 50 times,failed at 4th time

[code]

[2020-06-18 11:22] kv2019i commented on #2159
Thanks @sinahuang ! I think this is ok now and comes from Pulseaudio trying to open a monitor that is not connected, during boot. We can have a separate issue to get rid of the warning, but I think we can consider the P1 issue where the system was left unusable closed.

[2020-06-18 11:30] sinahuang commented on #2084
HDMI Dhw:0,4 is connected, HDMI port DHW:0,3  is not connected.  Run aplay Dhw:0,3 for  50 times,  error not seen. run aplay Dhw:0,4 for 50 times error also not seen. Seems issue only can be reproduced via multi_pipline stress test which contains unconnected HDMI port .
Reproduced with command "./multiple-pipeline-playback.sh -c 8 -r -l 10"
[code]

[2020-06-18 16:18] sinahuang opened #2212 "[GLK][BUG]"ipc timed out for 0x80010000 size 216" occurred when do suspend/resume stress test."
**Describe the bug**
"ipc timed out for 0x80010000 size 216" occurred when do suspend/resume stress test. After issue occurred runtime PM status will keep active but all pipline can work well.

**To Reproduce**
1.Boot up system.
2. sudo su
3.Echo s2idle>/sys/power/mem_sleep
 4.cd sof-test
5.cd test-case
6.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
7../check-suspend-resume.sh -l 50(https:/

[2020-06-18 23:26] plbossart commented on #2200
Debian issue not reproduced with Ubuntu, closing. Gah

[2020-06-18 23:26] #2200 closed

[2020-06-18 23:27] #2162 closed

[2020-06-19 09:39] libinyang commented on #2211
@mengdonglin You mean we will add document in https://github.com/thesofproject/sof-docs, right?

[2020-06-19 10:08] sinahuang opened #2216 "[bug][JSL]Warning "ASoC: error at snd_soc_dai_startup on intel-hdmi-hifi1: -16" shows in dmesg when boot up with DP connected."
**Describe the bug**
Warning "ASoC: error at snd_soc_dai_startup on intel-hdmi-hifi1: -16" shows in dmesg when boot up with DP connected. Issue can't effect function.

**To Reproduce**
scenario 1:
1.Boot up system with DP connected.
2.Check dmesg.

scenario 2:
1.Boot up system only with HDMI.
2.Open sound setting after system boot up successfully
3.Plug in DP .
4.Manually switch output source to D

[2020-06-19 10:31] sinahuang opened #2217 "[JSL][bug]"Dummy output" display in sound setting when power on with DP connected."
**Describe the bug**
"Dummy output" display in sound setting when power on with DP connected. check "amixer contents" the DP status is on. Aplay via DP is ok.

**To Reproduce**
1.Boot up system with DP connected.
2.Open sound setting to check after system boot up successfully.

**Reproduce rate**
5/5

**Expected result**
System should display output source normally in sound setting.

**Actual resu

[2020-06-19 15:34] yechs commented on #1917
Hi!

I'm using the same model (Dell Inspiron 7590 with Nvidia 1650 Max-Q) and is still experiencing issue with speakers after updating to the latest sof-firmware.

The sound output only works for HDMI3/DP3 as the HDMI output (if set as primary), and both the speaker and 3.5mm Jack won't produce any output (after selecting the last Speaker+Headphones device to be primary).
![image](https://user-ima

[2020-06-19 15:37] yechs commented on #1917
@giddie Is there any extra steps I'm missing for you to make audio work?

I followed here after the Arch Wiki article on [Inspiron 7590](https://wiki.archlinux.org/index.php/Dell_Inspiron_15_(7590)#Microphone_not_working) and I've removed the `snd-intel-dspcfg.dsp_driver=1` kernel parameter and verified that the microphone works now (but the speaker doesn't).
Thank you!

[2020-06-19 16:21] giddie commented on #1917
I'm not sure; I'm using the 1.4.3 firmware. Try building the attached PKGBUILD for `sof-firmware` 1.4.3.

[PKGBUILD.zip](https://github.com/thesofproject/linux/files/4805678/PKGBUILD.zip)

[2020-06-19 16:55] yechs commented on #1917
@giddie Thanks for the suggestion! Unfortunately this does not solve my problem.

The kernel log:
[code]

[2020-06-19 17:18] plbossart commented on #1917
@yechs I've never seen errors with this

[code]
Can you double-check for us that the playback work fine with the legacy driver:
blacklist snd-sof-pci
remove blacklist snd-hda-intel
options snd-intel-dspcfg dsp_driver=1

Thanks!

[2020-06-19 17:27] yechs commented on #1917
@plbossart
Yes it works fine with the legacy driver. But for headphones to work with 3.5mm jack, I have to specify Analog Stereo Duplex

![image](https://user-images.githubusercontent.com/49149993/85163299-2b324a80-b252-11ea-85ef-b32b407a2c68.png)

[code]

[2020-06-19 17:33] plbossart commented on #1917
thanks @yechs can you enable dynamic debug by copying the attached file
[ddebug.txt](https://github.com/thesofproject/linux/files/4805989/ddebug.txt) as /etc/modprobe.d/sof-ddebug.conf and attach the dmesg log. please attach and don't paste into the window, thank you.

[2020-06-19 17:42] yechs commented on #1917
@plbossart This is the log recorded with the 1.4.3 firmware built with @giddie 's PKGBUILD
[dmesg-1.4.3.log](https://github.com/thesofproject/linux/files/4806019/dmesg-1.4.3.log)

[2020-06-19 17:47] yechs commented on #1917
@plbossart and this is the log recorded with 1.5.1 firmware (latest in arch repo)
[dmesg-1.5.1.log](https://github.com/thesofproject/linux/files/4806042/dmesg-1.5.1.log)

Hope they provide anything useful! Thank you

[2020-06-19 17:50] plbossart commented on #1917
@yechs there's no errors in those logs? are you sure about this?

[2020-06-19 18:03] yechs commented on #1917
@plbossart Yeah this is strange... I'll try rebooting for a few extra times to see if I can find this error in the logs.
Though the speaker still won't work so I'm not sure if they are actually related

[2020-06-19 18:06] yechs commented on #1917
ah I see, these errors would only occur if I launch `pavucontrol`, I'll reboot and collect the logs now

[2020-06-19 18:09] yechs commented on #1917
@plbossart This one contains the errors
[dmesg-newer.log](https://github.com/thesofproject/linux/files/4806122/dmesg-newer.log)

[2020-06-19 19:04] plbossart commented on #1917
@yechs I wonder if you are using the wrong PCM device in the UCM file.
can you upload the results of alsa-info and add the link here?

[2020-06-20 00:10] yechs commented on #1917
@plbossart Sure they are here
[alsa-info.txt](https://github.com/thesofproject/linux/files/4807064/alsa-info.txt)

[2020-06-20 15:26] giddie commented on #1917
Ah! Well now I remember I also have a patched UCM. See below:

https://github.com/thesofproject/linux/issues/1917#issuecomment-617388487

[2020-06-21 16:35] aleksfadini commented on #2020
@kv2019i
I took out those two lines (although they were recommended in the arch linux page https://wiki.archlinux.org/index.php/Lenovo_Yoga_c940#Audio) and still have all the issues. Never had a headset connected.
What log can I provide to investigate this?

[2020-06-22 02:08] yechs commented on #1917
Thank you! But I think [this patch](https://github.com/alsa-project/alsa-ucm-conf/commit/4722f5b3859903521ba0f92a64d86af31083ca50) is already included in the v1.2.3, which I installed from the Arch repo. So this problem really should have been fixed (but is not) :thinking:

[2020-06-22 02:40] Liviali155 commented on #2458
Reopen for issue reproduced on latest sof-dev(c7b50d2d)+master(3d8a0ac8) when  run module reload
run check-kmod-load-unload.sh -l 50, failed at 49th
[code]
[dmesg.txt](https://github.com/thesofproject/sof/files/4810888/dmesg.txt)

[2020-06-22 07:44] YvonneYang2 opened #2221 "[BUG][TGL]Terminal shows "cannot load mixer controls: Device or resource busy" when open alsamixer when pm runtime in suspended status."
**Describe the bug**
Terminal shows "cannot load mixer controls: Device or resource busy" when open alsamixer when pm runtime in suspended status.

Note: Issue cannot be reproduced when aplay with speaker(aplay0,2)

**To Reproduce**
1. Boot up system.
2. Wait pm runtime in suspended status
[code]
3. Run command "alsamixer" to open alsamixer.

**Reproduction Rate**
10/10

**Expected behavior**
Term

[2020-06-22 07:47] bardliao commented on #2217
Something doesn't look right below. @sinahuang Could you also attach dmesg log while aplay via DP?
[code]

[2020-06-22 08:25] libinyang commented on #2211
State summary of user space which we may need to upgrade:
1. linux-firmware
2. alsa-lib ( we need to upgrade alsa-lib to support BootSequence)
3. alsa-utils (we need to update alsa-utils to support BootSequence)
4. pulseaudio: the Ubuntu20.04 pulseaudio has some bugs. The solution is not finalized.
5. gnome sound setting: (we need to upgrade gnome-control-center to support output/input auto switch

[2020-06-22 10:36] YvonneYang2 commented on #2221
Error still seen with kernel + tgl-006-stable branch.

[2020-06-22 11:29] YvonneYang2 opened #2222 "[BUG][TGL]Get blob test failed when using sof-ctl tools"
**Describe the bug**
When run command " ./sof-ctl -Dhw:0 -c name= 'SMART_AMP3.0 Smart_amp Model' -br -s dsmparam_.txt -t 1 "
It shows "sof-ctl: control.c:302: snd_ctl_elem_info: Assertion `ctl && info && (info->id.name[0] || info->id.numid)' failed."
@keyonjie  Could you have a look? Thanks.

**To Reproduce**
1. System boot up.
2. put dsmparam_.txt and sof-ctl in ./ folder.
[dsmparam_.txt](https:/

[2020-06-22 14:06] plbossart commented on #2211
@libinyang sounds good but can we start adding tags/versions for each, as well as the list of PRs needed on top?

[2020-06-22 16:42] kv2019i commented on #2084
@sinahuang This patch for addressing the warning might help with the multiple-pipeline test:
https://github.com/thesofproject/linux/pull/2223

[2020-06-22 18:24] ranj063 commented on #2204
@plbossart I'm not sure this is a kernel issue. I think this is a problem in the test script. The error should have been reported for the IPC flood test as a failure because the device couldnt suspend after the IPC flood test completed. And of course its a different issue as to why the device failed to idle in the first place.

[2020-06-22 20:57] fredoh9 commented on #2204
@plbossart @ranj063 I will assign this to myself.

First ipc_flood_test didn't go through. But it returned PASS. Looks I need to udpate IPC Flood test script.
[code]
in good case,
[code]

2nd, the device failed to idle. Need to debug why so.
[code]

[2020-06-22 22:02] danielcherubini commented on #2020
I’m the author of that arch c940 page. I have just this week started to have issues again. I’m not sure what’s going on, so I defaulted back to using Intel audio drivers. I’ll try and debug it this week. But if what I’m reading above is correct then the alsa config in pulseaudio has stopped working.

What’s weird is in pulse audio preferences I can see the volume bars moving, meaning sound is gett

[2020-06-22 22:36] aleksfadini commented on #2020
Hi Daniel, thank you for the write up of the arch c940 page (it really helped!).
First off, my c940 is the 15' with i9 CoffeLake processor, so some things were always different. But yes, this week everything became worse even on other machines. I have no idea if it is sof, alsa, the kernel or pulseaudio but it's a whole mess.
Could you explain how are you using Intel audio drivers exactly?

I can

[2020-06-23 00:13] fredoh9 commented on #2204
Correction: above logs difference is due to dynamic log verbosity difference. We need to match same verbosity for all CI devices. I will submit a issue.

This error is treated to ignore for a long time.
`[ 96.248808] sof-audio-pci 0000:00:1f.3: error: debugfs write failed to idle -16`

__pm_runtime_suspend() return -16, Device or resource busy. @ranj063 @plbossart not sure we should worry about th

[2020-06-23 02:12] RanderWang commented on #2221
it is caused by inaccessible register in max98373.  I am debugging driver

[2020-06-23 02:31] sinahuang commented on #2216
Issue still can be seen with PR https://github.com/thesofproject/linux/pull/2223.
[dmesg_all.log](https://github.com/thesofproject/linux/files/4816812/dmesg_all.log)

[2020-06-23 02:32] sinahuang commented on #2217
Error still can be seen with PR https://github.com/thesofproject/linux/pull/2223.

[2020-06-23 02:57] sinahuang commented on #2222
Issue also can be seen on TGL chrome book with codec 98373 in I2S mode.

[2020-06-23 03:20] sinahuang commented on #2217
Attached log while aplay via DP:
[dmesg_aplay.log](https://github.com/thesofproject/linux/files/4816960/dmesg_aplay.log)

[2020-06-23 03:35] sinahuang commented on #2084
Split to track error warning issue by  https://github.com/thesofproject/linux/issues/2216.
Test on JSL and EHL with PR https://github.com/thesofproject/linux/pull/2223, multiple-pipeline test still can be failed and dmesg as below:
[code]
[code]
[dmesg_mul.log](https://github.com/thesofproject/linux/files/4817011/dmesg_mul.log)

[2020-06-23 05:54] danielcherubini commented on #2020
I rolled back Alsa and its other packages back to 2.2.2 and everythings working again

```sudo pacman -U /var/cache/pacman/pkg/alsa-lib-1.2.2-1-x86_64.pkg.tar.zst /var/cache/pacman/pkg/alsa-plugins-1:1.2.2-2-x86_64.pkg.tar.zst /var/cache/pacman/pkg/alsa-topology-conf-1.2.2-2-any.pkg.tar.zst /var/cache/pacman/pkg/alsa-ucm-conf-1.2.2-1-any.pkg.tar.zst /var/cache/pacman/pkg/alsa-utils-1.2.2-1-x86_64.

[2020-06-23 06:53] libinyang commented on #2211
@plbossart Yes, I will add the tags and PRs for them.

[2020-06-23 07:45] YvonneYang2 commented on #2221
Verified #2226 , issue can be fixed.

[2020-06-23 07:45] YvonneYang2 commented on #2222
Verified #2226 , error can still be reproduced.

[2020-06-23 08:37] sinahuang opened #2227 "[TGL][BUG]Module can't load up successfully after doing module unload/load test."
**Describe the bug**
Module can't load up successfully after doing module unload/load test. After issue occurred runtime PM status keep active.

**To Reproduce**
1.Boot up system successfully
2. cd sof-test/test-case/
3 Run "./check-kmod-load-unload.sh -l 2" (https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-unload.sh)

**Reproduce rate**
5/5

**Expected result**
Modu

[2020-06-23 13:16] bardliao commented on #2221
@YvonneYang2 Could you list which mixer will you get "cannot load mixer controls: Device or resource busy" error? I think if should not be an issue if it is an volatile mixer.

[2020-06-23 15:53] kv2019i commented on #2217
Hmm, that is interesting .. it seems i915 is disabling audio codec while SOF audio probe is still ongoing, resulting in this:
May 28 21:00:55 sh-Jasper-Lake-HDA kernel: [    5.029048] WARNING: CPU: 2 PID: 266 at sound/pci/hda/hda_codec.c:2537 snd_hda_spdif_ctls_unassign+0x45/0x50 [snd_hda_codec]
...
May 28 21:00:55 sh-Jasper-Lake-HDA kernel: [    5.029089]  update_eld+0x6e9/0x7c0 [snd_hda_codec_hd

[2020-06-24 02:10] bardliao commented on #2227
Looking at the dmsg.log, there is nothing after ``[   48.604000] sof-audio-pci 0000:00:1f.3: Completing SOF PCI probe``. ``sof-audio-pci 0000:00:1f.3: loading topology:intel/sof-tplg/sof-tgl-max98373-rt5682.tplg`` is supposed to be seen after that.

[2020-06-24 02:12] ClarexZhou commented on #1972
Close for https://github.com/alsa-project/alsa-ucm-conf/pull/35 is merged.

[2020-06-24 02:12] #1972 closed

[2020-06-24 04:57] naveen-manohar opened #2229 "[TGL] [SDW]: S0ix cycling failure SKU 5- max98373 resume"
For internal milestone, we need to meet certain PM suspend/resume 2500 cycle criteria, during this observed the following:
[messages.zip](https://github.com/thesofproject/linux/files/4823260/messages.zip)

 CPU#0, cat/22380 (attached messages & event.log)

Recipe Used:
Based on SoF_V0.6, Kernel - https://github.com/naveen-manohar/linux/commits/ww255_sdw_dsm_rtd3
BKC Release used: WW25 Proto2 s0ix

[2020-06-24 07:06] sinahuang commented on #2045
Currently  right speaker output left channel audio, left speaker output right channel audio with https://github.com/thesofproject/sof/tree/tgl-007-drop-stable on chrome book with codec 98373 in I2S mode.
[dmesg24.log](https://github.com/thesofproject/linux/files/4823708/dmesg24.log)
[amixer24.txt](https://github.com/thesofproject/linux/files/4823709/amixer24.txt)

[2020-06-24 07:21] keqiaozhang commented on #2170
This issue cannot be reproduced after updating kernel to r5.8 (JSL-v0.3 release).
Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev (commit: 1b2f260)
+ PR#2208 for DP fix
+ PR#2184 for wov S0i2

[2020-06-24 07:21] #2170 closed

[2020-06-24 07:21] keqiaozhang commented on #2152
This issue cannot be reproduced after updating kernel to r5.8 (JSL-v0.3 release).
Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev (commit: 1b2f260)
+ PR#2208 for DP fix
+ PR#2184 for wov S0i2

[2020-06-24 07:21] #2152 closed

[2020-06-24 07:22] keqiaozhang commented on #2166
This issue cannot be reproduced after updating kernel to r5.8 (JSL-v0.3 release).
Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev (commit: 1b2f260)
+ PR#2208 for DP fix
+ PR#2184 for wov S0i2

[2020-06-24 07:22] #2166 closed

[2020-06-24 07:23] sinahuang commented on #1978
Error also can be seen with https://github.com/thesofproject/sof/tree/tgl-007-drop-stable  on chrome book with codec 98373 in I2S mode.

[2020-06-24 07:59] bardliao commented on #2227
@sinahuang Please add ``options snd_soc_core dyndbg=+p`` to ``/etc/modprobe.d/sof-debug.conf`` and do the test again. We need more trace. Thanks.

[2020-06-24 08:41] libinyang commented on #2211
1. linux-firmware
2. alsa-lib: b13b9116050357b39c5f4964f83cd45b3da1b1d8 ('Release v1.2.3.1')
3. alsa-utils: 247d9e336d56d223f1e51dd164c39d82af5a5523 (tag: v1.2.3)
4. pulseaudio: the recipe is: 2ae94c141ff4d76d60a66a71d80acefbba3966d1('device-port: queue CARD CHANGE event before update default sink')
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/283
https://gitlab.freedeskto

[2020-06-24 09:51] naveen-manohar opened #2230 "[TGL] [SDW]: RT5682 Jack-detection fails with TRS headset (headphones without MIC)"
RT5682-SDW codec fails to detect TRS jack(without mic) interrupts, while TRRS Jack (with mic) detects fine.
evtest also fails to detect the stereo headphones(without mic)

NOTE: On I2S recipe, this issue is not observed

Hardware: TGL Reference Board SKU3/SKU5
Recipe Used:
Kernel & Firmware based on SoF_v0.6
For reference https://github.com/naveen-manohar/linux/commits/ww255_sdw_dsm_rtd3

Steps to

[2020-06-24 09:58] sinahuang commented on #2217
Attached the alsa-info output and pluseaudio logs:
[pulse-log1.txt](https://github.com/thesofproject/linux/files/4824576/pulse-log1.txt)
[alsa-info1.txt](https://github.com/thesofproject/linux/files/4824579/alsa-info1.txt)

[2020-06-24 10:17] kv2019i commented on #2217
Thanks @sinahuang ! It seems I'm still missing a case in PR2223 and pulseaudio init fails:
I: [pulseaudio-off] alsa-util.c: Error opening PCM device hw:sofhdadsp,3: Device or resource busy
D: [pulseaudio-off] alsa-mixer.c: Profile set 0x560925c144e0, auto_profiles=no, probed=yes, n_mappings=0, n_profiles=0, n_decibel_fixes=0
E: [pulseaudio-off] module-alsa-card.c: Failed to find a working profile.

[2020-06-24 11:09] kv2019i commented on #2020
@danielcherubini Can you post your "alsa-info" output as well? On  @aleksfadini 's machine, it seems Mic is reported to be connected, so Pulseaudio will by default record from there (and not the integrated digital mic):

https://github.com/thesofproject/sof/files/4484793/alsa.txt
...
	control.16 {
		iface CARD
		name 'Mic Jack'
		value true

We can't really fix this in SOF driver&firmware, so for

[2020-06-24 13:05] naveen-manohar commented on #2230
Working with Albert from Realtek and have shared the dump with TRS & TRRS Jack
[lineout_regdump_not-working.log](https://github.com/thesofproject/linux/files/4825525/lineout_regdump_not-working.log)
[headphone_jack-working.log](https://github.com/thesofproject/linux/files/4825526/headphone_jack-working.log)

[2020-06-24 14:07] #2159 closed

[2020-06-24 14:07] #2084 closed

[2020-06-24 14:24] plbossart commented on #2230
There was a patch shared yesterday on alsa-devel on this: https://mailman.alsa-project.org/pipermail/alsa-devel/2020-June/169522.html, is this related?

[2020-06-24 14:29] plbossart commented on #2229
very odd, I don't see any spinlocks used the max98373 code?

[2020-06-24 14:34] plbossart commented on #2227
@sinahuang looks like sof-insert.sh is not probing the I2C codec?

[code]

[2020-06-24 14:38] plbossart commented on #2211
what tag?

this is merged already?

what about https://gitlab.gnome.org/GNOME/libgnome-volume-control/-/merge_requests/10

[2020-06-24 16:25] naveen-manohar commented on #2230
Thanks for the input pierre, I checked the patch, issue mentions about pop noise during OMTP jack-detection..
Here i'm observing issue with jack detection itself - with TRS jack-type detection: Fails.., TRRS detection works fine.

[2020-06-24 18:02] kv2019i commented on #2217
I have a hypothesis this is caused by intel_not_share_assigned_cvt() function not working as expected. Hint provided in the log:

May 28 21:00:58 sh-Jasper-Lake-HDA kernel: [    8.724401] snd_hda_codec_hdmi ehdaudio0D2: choose cvt 1 for pin nid 4

[2020-06-24 19:04] #2190 closed

[2020-06-25 10:08] #2182 closed

[2020-06-26 04:23] naveen-manohar opened #2234 "[BUG] [TGL] [SDW]: max98373-sdw initialization not complete, playback failure post jack unplug"
Describe the bug
On TGL-Chrome-Reference-Proto-2 board with max98373-sdw Patches (DSM-series + PM-series), updated kernel observes to have issues with max98373-sdw speaker audio playback post headset unplug.

To Reproduce:
Unzip & Flash Coreboot: [image-volteer.serial_ww26_R85-13299.0.0.zip](https://github.com/thesofproject/linux/files/4834973/image-volteer.serial_ww26_R85-13299.0.0.zip)
Update Ke

[2020-06-26 16:59] kv2019i commented on #2216
I've rootcaused the problem now. Initial test on JSL RVP with two monitors connects is successful. I'll provide a proper fix patch next week.

[2020-06-26 16:59] kv2019i commented on #2217
Same rootcause as https://github.com/thesofproject/linux/issues/2216#issuecomment-650287248 , will ETA next week.

[2020-06-26 18:56] plbossart opened #2236 "kernel oops due to failed debugfs allocation + IPC message"
Found this error with module load/unload tests, something looking fishy in our error flows....

[dmesg_debugfs.log](https://github.com/thesofproject/linux/files/4838800/dmesg_debugfs.log)

[2020-06-26 19:18] ranj063 commented on #2236
@plbossart which platform was this on? I think I know whats causing this but which platform can I test it on?

[2020-06-26 19:25] plbossart commented on #2236
@ranj063 I saw it on cherrytrail, a small headless device that works much better than the other baytrail devices. You should be able to see this on any platform since all I did was modprobe snd-sof-acpi; sleep 15; rmmod snd-sof-acpi;

[2020-06-26 19:53] ranj063 commented on #2236
@plbossart I think https://github.com/thesofproject/linux/pull/2237 should fix the problem. I dont have a CHT device but I'll test on my CML.

[2020-06-28 05:21] YvonneYang2 commented on #2221
@bardliao
Diff and verified the amixer info of error reproduced and error not reproduced. The value of name='Left/Right Spk Switch' will cause the issue. With value off, issue can be reproduced, while with on, error not seen.

When error seen, cannot get these values of below numid:
[code]
[error_seen.txt](https://github.com/thesofproject/linux/files/4841729/error_seen.txt)
[error_not_seen.txt](ht

[2020-06-28 09:03] ClarexZhou commented on #2227
Error not seen after ```sudo modprobe snd_soc_rt5682_i2c```

[2020-06-29 02:43] ClarexZhou commented on #2109
Verifed s0i3 on B0 silicon, audio is not a blocker. Close

[2020-06-29 02:43] #2109 closed

[2020-06-29 02:46] ClarexZhou commented on #2145
@kv2019i  Are you going to refine  thesofproject/alsa-ucm-conf#43?

[2020-06-29 06:24] RanderWang commented on #2222
After tracing ALSA lib, I finally found root reason. no space after "name="

[code]

[2020-06-29 06:48] YvonneYang2 commented on #2222
Checked it with "./sof-ctl -Dhw:0 -c name='SMART_AMP3.0 Smart_amp Model' -br -s dsmparam_.txt -t 1"
Issue cannot be reproduced.

Close it.

[2020-06-29 06:48] #2222 closed

[2020-06-29 08:51] Liviali155 opened #2239 "[BUG][JSL][DP-MST]Cannot playback to 2 DP displays connected through a DP-MST hub simultaneously"
**Describe the bug**
Both the monitors connected show display but can not  play audio at the same time when check 2 DP playback in MST mode

**To Reproduce**

1.Two monitors are connected via one DP hub using DP-DP cables
2."sudo reboot" to reboot sysytem
3."amixer contents |less" to check jack status(0,3 and 0,4 are on)
4.aplay -Dhw:0,4 -r 48000 -c 2 -fs16_le wav/2.wav wav/2.wav wav/2.wav -vv -i

[2020-06-29 09:49] Liviali155 commented on #2239
When check check DP playback in dasiy chain mode also has this issue, both the display can not play audio at the same time

[2020-06-29 11:26] naveen-manohar commented on #2230
Working with codec vendor to understand the register content difference observed between TRS(Jack_dettect fail) & TRRS(Jack detect pass) scenarios. Also trying to understand the impedance requirement between the Jack-Tip & Sleeve.
LOG:
[jack_TRRS_detect-PASS_Debug_reg-rw.log](https://github.com/thesofproject/linux/files/4845098/jack_TRRS_detect-PASS_Debug_reg-rw.log)
[jack_TRS_detect-FAIL_Debug_re

[2020-06-29 11:54] naveen-manohar commented on #2234
Thanks for the Quick Fix, Verified https://github.com/thesofproject/linux/pull/2238 on Chrome.

[2020-06-29 14:10] naveen-manohar commented on #2230
With TRS Jack, observe that jack has detected and codec can recognized type is TRS
[  114.395508] rt5682 sdw:0:25d:5682:0: jack_type = 1

**But evtest isn’t detecting this event. And hence even UI fails too**

[2020-06-29 14:39] #2234 closed

[2020-06-29 15:23] kv2019i commented on #2145
@ClarexZhou wrote:

Yes, I'm working on a refined version, ETA for fix tomorrow (Tuesday).

[2020-06-30 01:27] Liviali155 commented on #2239
Reboot then connected two monitors  via one DP hub using DP-DP cables,also has this issue when playback via 2 DP displays
[dmesg062900.log](https://github.com/thesofproject/linux/files/4848864/dmesg062900.log)

[2020-06-30 05:18] RanderWang commented on #2229
@naveen-manohar  I found wait_for_completion_timeout in resume function in kernel log. As you know I fixed a type of this issue ,could you help test it again ? Thanks!

[2020-06-30 06:15] YvonneYang2 opened #2242 "[BUG][sof-tgl-max98373-rt5682]No 'Headphone Jack' or 'Headset Jack' in amixer contents."
**Describe the bug**
No 'Headphone Jack' or 'Headset Jack' in amixer contents.

**To Reproduce**
1. Boot up system with headset connected.
2. Run with command "amixer contents"
3.  Check if there is 'Headphone Jack" or "Headset Jack"

**Reproduce rate**
5/5

**Expected result**
There should be 'Headphone Jack" and "Headset Jack"

**Actual result**
No 'Headphone Jack' or 'Headset Jack' in amixer co

[2020-06-30 06:18] ClarexZhou commented on #2242
@naveen-manohar  could you please help to check on this?

[2020-06-30 07:08] Liviali155 commented on #2216
Error not seen with PR  #2240

[2020-06-30 07:22] Liviali155 commented on #2217
Error not seen with PR #2240

[2020-06-30 09:37] Liviali155 commented on #2239
After applied #2240
Error not seen when check DP playback in dasiy chain mode and 2 DP playback in MST mode

[2020-07-01 12:29] kv2019i commented on #2239
Thanks @Liviali155 ! So it seems this is fixed by #2240 as well.

[2020-07-01 12:39] kv2019i commented on #2145
@ClarexZhou Jaroslav beat me to it, this is now fixed in upstream commit "sof-hda-dsp: make the boot init optional for all controls". There was unrelated regression, but latest commit https://github.com/alsa-project/alsa-ucm-conf/commit/ffe0cab5cfceb921a50a655d4024467f8aeab701 should be ok now.

[2020-07-01 12:47] kv2019i commented on #2145
@ClarexZhou wrote:

I double-checked and this is expected behaviour of Pulseaudio. As no sinks are available (system doesn't have a speaker, headphone/set not connected, no HDMI/DP monitor), there are no available sinks in the system, so Pulseaudio go ahead and creates the Dummy one:

D: [pulseaudio-off] card.c: Looking for initial profile for card alsa_card.pci-0000_00_1f.3-platform-skl_hda_dsp_g

[2020-07-01 15:16] naveen-manohar commented on #2229
Sure @RanderWang , currently I have made a local recipe with only RTD3 fix series.
Working with Backport team to have all the fixes and then validate altogether. Shall update

[2020-07-02 08:30] ClarexZhou commented on #2145
Agree to be closed since all PRs are mergd.  But current latest commit alsa-project/alsa-ucm-conf@ffe0cab is “Syntax 3". Not work on all sof products now. @libinyang  is checking on this
And now we can use https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2 + PRs to test.

[2020-07-02 08:30] #2145 closed

[2020-07-02 12:47] singalsu commented on #1969
This was on hold while I debugged ASRC. I repeated this with current SOF git development repos:

FW 7b532d3712ff15c523f4dd52462f19aac5130e61
kernel f6be3797f3218f9fa34371000682caefbd183538

The firmware PGA5.0 gain is sane. I traced volume volume channels 0 and 1 gains in every copy(), at 1 ms rate. The 400 ms ramp as defined in topology is similar for both channels without gain jumps.

![Screensh

[2020-07-02 13:05] singalsu commented on #1969
The capture with IIR removed from pipeline looks like this:

![Screenshot from 2020-07-02 15-59-44](https://user-images.githubusercontent.com/28754793/86361891-27082300-bc7d-11ea-8db6-34a884aece34.png)

The same gain changes can be seen as above but they "ride" above the huge DC level variation in the first 500 ms of the capture. Note: This picture is with less gain than the previous with IIR.

@m

[2020-07-02 14:15] #2221 closed

[2020-07-03 02:23] bardliao commented on #1969
@jack-cy-yu Can you help on it? Thanks.

[2020-07-03 02:53] jack-cy-yu commented on #1969
@bardliao @singalsu I've disscussed internally with system engineer for this issue, they think the pop noise is caused by DC value in DMIC, it needs some time to calibrate from its DC value to 0 by codec's filter. This issue had been reported before, are these two the same issue? https://github.com/thesofproject/linux/issues/1480

[2020-07-03 03:44] marc-hb commented on #2211
A Debian source package is traditionally made of an `upstream.orig.tar.bz2` + `debian/patches/*.patch` files and other `debian/*` control files packages in a second, downstream "debian diff" tarball. Lucky us, for `alsa-lib` (and others?) Debian provides something much better than tarballs: git!

While downloading the above, `apt-get source alsa-lib` prints this awesome advice:

[code]

So let's f

[2020-07-03 04:41] marc-hb commented on #2211
I merged this with the debian branch, fixed two minor issues and shared it there:
[code]
These three lines are now enough for me to build .deb files for v1.2.3.1, let me know if any issue.

[2020-07-03 05:12] Liviali155 commented on #1978
Error not seen on TGL Volteer I2S with codec 98357

[2020-07-03 05:21] ClarexZhou commented on #2111
Error still seen on max98357 speaker and max98373 speaker.
Error can be observed when pause/resume during playing sine wave. Reopen
![image](https://user-images.githubusercontent.com/49641224/86434330-cb4aa200-bd2f-11ea-92d4-f0d318b3c351.png)
[captureaudio-wav.zip](https://github.com/thesofproject/linux/files/4867872/captureaudio-wav.zip)

FW: on https://github.com/thesofproject/sof/tree/tgl-007-d

[2020-07-03 06:13] Liviali155 opened #2249 "[BUG][TGL][max98357-I2S]Continuous buzzing output from speaker after pause aplay (speaker(0,0)) about 40s"
***Describe the bug***
Continuous buzzing  output from speaker after pause aplay (speaker(0,0)) about 40s
Sometimes not need  wait need 40s after pause

***To Reproduce***
1."sudo reboot" to reboot system
2. aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 wav/48California_Dreaming.wav -vv -i
3.press space to pause
4.wait about 40s
[code]

***Reproduction Rate***
10/10

***Expected behavior***
No noise outp

[2020-07-03 07:14] Liviali155 commented on #2242
TGL Volteer I2S with codec 98357 also has this issue

[2020-07-03 08:34] Liviali155 opened #2250 "[bug][ucm2]UCM2 can not work on HDA and SDW"
**Describe the bug**
UCM2 can not work on HDA and SDW,display Multichannel
Tried on TGL-Laptop  with aboard codec ALC3204  in HDA mode, TGL HDA RVP,CML-U with aboard codec  ALC711 -RT1308, RT715  in SDW mode,all can not work

**To Reproduce**
1.sudo reboot
2.open sound setting
3.check Output Device and Input Device

**Reproduction Rate**
10/10

**Expected behavior**
UCM2 can work

**Actual result*

[2020-07-03 09:07] ClarexZhou commented on #2249
@keyonjie  could you please help to check this first?

Error not seen on max98373 in I2S mode.

[2020-07-03 09:48] singalsu commented on #1969
@jack-cy-yu Thanks for response. What do you think about the gain variations in the data from codec. The gain variation is well visible when the high-pass filter in SOF is enabled, not the screenshot above (IIR off) but the one above (IIR enabled). I saw likely codec gain changes at 50 ms, 80 ms, and the last one 300-400 ms from capture start. The last gain change does not always happen for both c

[2020-07-04 12:23] maaarghk opened #2251 "[BUG] Kernel fails to build when CONFIG_SND_HDA_GENERIC_LEDS not defined"
**Describe the bug**
The symbols snd_hda_gen_add_mute_led_cdev and snd_hda_gen_add_micmute_led_cdev are exported within an #ifdef block:
[start of block](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_generic.c#L3890)
[end](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_generic.c#L4103)

However, they are later used without checking the sam

[2020-07-06 02:45] libinyang commented on #2250
This is a bug in alsa-lib. The latest UCM support Syntax v3 and it uses "$var". The root cause is the alsa-lib initialization sequence doesn't support redefine the variable well. I have reported a bug in alsa-lib. Please see the details in https://github.com/alsa-project/alsa-lib/issues/67.

[2020-07-06 05:57] ClarexZhou commented on #2111
Error also occurred when start and stop aplay.

[2020-07-06 06:03] RanderWang commented on #2230
@naveen-manohar  I tested sdw5682 on ubuntu with the reference TGL device. evtest works. please follow these command to check jack event in kernel.

[code]

[2020-07-06 06:42] ClarexZhou commented on #2045
only one Channle has audio output after run DSM command.  Frequency: 5/10
Steps:
1. Boot up system
2. ```speaker-test -Dhw:0,0 -t wav -c 2 ```   -> both 2 channels has audio output, but L output R, R output L.  amixer contents is here
[amixer_default.txt](https://github.com/thesofproject/linux/files/4877128/amixer_default.txt)
3. run DSM command ```aplay -Dhw:0,0 -f s16_le -c 2 -r 48000 sine_48k_1

[2020-07-06 07:55] kv2019i commented on #2251
@maaarghk How did you create the failing .config? I checked Takashi's patch "ALSA: hda: generic: Add a helper for mic-mute LED with LED classdev" and it specifically adds a "select SND_HDA_GENERIC_LEDS" for all HDMI codec drivers that use snd_hda_gen_add_micmute_led_cdev(). So it should not be possible to create a .config file where GENERIC_LEDS is disabled but e.g. SND_HDA_CODEC_CONEXANT is enabl

[2020-07-06 07:58] kv2019i commented on #1911
@RanderWang Can you provide an update to this? This has been open since March.

[2020-07-06 08:49] ClarexZhou commented on #2063
Error not seen after coreboot updated. Close

[2020-07-06 08:49] #2063 closed

[2020-07-06 08:56] jack-cy-yu commented on #1969
@singalsu  According to internal opinion, this codec gain from 0ms to 350ms is an expected result when using dmic and the time period varies from different dmic. Back to #1480 , do you know if there are dmic model differences between #1480  and this issue? (i.e. if this two issues are verified based on the same dmic)  Because different dmic might meed different settle time for dc value calibration

[2020-07-06 10:09] kv2019i commented on #2195
@plbossart Hmm, this is pretty bad actually. Actual cleanup routines are correct, but when used via hdac_hda.c, they are not called! :( D'oh, will provide a fix later, but this will require some rework in generic HDA code.

[2020-07-06 10:13] maaarghk commented on #2251
Hi, use case was compiling a dkms module from this repo, which automatically uses current running kernel's config. Although I understand in this situation patches should perhaps be expected.

[2020-07-06 21:20] plbossart commented on #2211
Doesn't work for me with 1.2.3.2 (actually commit 32addac948a61c4770f9cdf459fa29879602df38)

Conflicts left and right and errors on compilation.

[code]

To be clear, the goal is to use early versions or SHA1s, not necessarily released versions of alsa-lib.

[2020-07-06 22:12] marc-hb commented on #2211
Sorry I meant: `git clone  https://github.com/marc-hb/alsa-lib.git   -b v1.2.3.1+debian`

That's a plain, upstream ALSA commit with nothing I did. It doesn't even have any `debian/` subdirectory:
[code]
You seem to  have some stale `debian/` subdirectory from some past experiment? Run the clone git command above from scratch in a fresh, brand new subdirectory.

I just git merged my `v1.2.3.1+debia

[2020-07-06 23:31] plbossart commented on #2211
@marc-hb i didn't use your branch because I couldn't figure out why you used an older version - I tried with the instructions above with git fetch/merge and that's how I got the merge issue.

I appreciate the help but I don't want to use something that someone else created with some magic - a script is all I need/want.

[2020-07-06 23:38] marc-hb commented on #2211
I used the tag listed by @libinyang in the requirements in the second comment. As tested above you can merge any later version and it will Just Work. I'll push the result soon.

The git command failed (and you didn't notice) because I had ` git@github.com:marc-hb/alsa-lib` as a remote which works only for me. Fixed, try again and it will Just Work.

Try the two commands above. Repeating them here:

[2020-07-07 00:58] marc-hb commented on #2211
New version the very latest alsa-lib, currently `v1.2.3.2-4-g877bdf95` and a script!!!

[code]
I cannot make it shorter than this.

UPDATE: I don't think _anyone_ can make it shorter and simpler than this.

[2020-07-07 01:29] #1911 closed

[2020-07-07 01:30] RanderWang commented on #1911
The issue was caused by tdm usage in sof_sdw,  but now the code was discarded.

[2020-07-07 03:09] naveen-manohar commented on #2111
@sathya-nujella can you please help check this ? I dont have the daughter card with i2s-max98357 or i2s-max98373 codec.
And with sdw-max98373 daughtercard, I'm not observing the pop-noise.

@ClarexZhou : Can you please confirm if issue reproduced on max98373 speaker codec is of i2s or sdw based ?

[2020-07-07 03:37] naveen-manohar commented on #2242
@sathya-nujella : As i'm having only sdw daughter card, please help check this.

[2020-07-07 03:42] sathya-nujella commented on #2242
Hi @keqiaozhang
Can you help cross check on 98373 DB?  Now, you have latest CB supporting it.. please suggest if you can not confirm.

[2020-07-07 03:47] naveen-manohar commented on #2242
I can observe the following with sdw-rt5682-max98373 daughtercard

[2020-07-07 04:07] naveen-manohar commented on #2111
verified on **sdw**-rt5682-max98373 and i'm not observing pop noise during speaker aplay(pause-resume)

[2020-07-07 07:31] ClarexZhou commented on #2111
Can observe slight pop when playing sine wave on i2s-rt5682-max98373
And here attached the captured audio via DSM.
![image](https://user-images.githubusercontent.com/49641224/86737198-ad9a7700-c066-11ea-9b68-40978ddfe416.png)

Also can observe slight pop when playing sine wave on sdw-rt5682-max98373. But seen no this pop on captured audio via DSM.
![image](https://user-images.githubusercontent.com

[2020-07-07 08:22] Liviali155 commented on #2230
On TGL chromebook with codec 98373 in SDW mode test

Use  this  method  test on  TGL chromebook with codec 98373 in SDW mode with ubuntu OS, evtest works ok as below:

[code]

[2020-07-07 10:31] #1978 closed

[2020-07-07 10:31] #2216 closed

[2020-07-07 10:31] #2217 closed

[2020-07-07 11:11] naveen-manohar commented on #2111
@ClarexZhou: Good Info. & Observation.
I tried the same method for DSM on SDW and it appears clean.

![image](https://user-images.githubusercontent.com/33264352/86771578-1df9c600-c070-11ea-9121-95ba1f93b581.png)
[echo_play-pause.zip](https://github.com/thesofproject/linux/files/4884407/echo_play-pause.zip)

[2020-07-07 16:00] plbossart commented on #2111
For TGL, we have SDW support for max98373. The bug report mentions I2S w/ max98357. Are we talking about the same codec?

[2020-07-08 01:14] ClarexZhou commented on #2239
close for PR #2240 is merged.

[2020-07-08 01:14] #2239 closed

[2020-07-08 02:09] ClarexZhou opened #2255 "[Bug][TGL]Pop noise on I2S max98337 speaker when doing pause/resume test"
**Describe the bug**
Slight pop noise can be observed when do pause during playing sine wav via speaker

**To Reproduce**
1. aplay -Dhw:0,0 -f s16_le -c 2 -r 48000 sine_48k_16bit_10s_stereo_l5_r2.wav -vv -i
2. press SPACE to pause resume

**Reproduction Rate**
3/3

**Expected behavior**
no pop noise after resuming playback

**Impact**
slight pop noise
More info:
Check captured audio via DSM
![imag

[2020-07-08 02:11] ClarexZhou commented on #2111
split https://github.com/thesofproject/linux/issues/2255 to track issue for I2S max98373.

[2020-07-08 02:39] ClarexZhou commented on #2249
@sathya-nujella , could you please help to check on this?

[2020-07-08 02:43] keqiaozhang commented on #2242
@naveen-manohar, we are using the latest CB image which provided by Usha. But this issue still can be seen.
@RanderWang, please help to check the machine driver side first.

[2020-07-08 05:05] sathya-nujella commented on #2249
Hi @ClarexZhou
In your tests, how much is the value for this "max98357a->sdmode"
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/max98357a.c#L36

[2020-07-08 05:41] ClarexZhou opened #2256 "[Bug][DSM][tgl v7.0-rc7] Noise output on speaker playback when start max98373 catpure"
**Describe the bug**
Sound from speaker0,0 has noise output when playback and capture on speaker at the same time

**To Reproduce**
1.Run "aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 5 & arecord -Dhw:0,0 -f s32_le -c 4 -r 48000 record.wav -d 5"
2.Check the sound output from speaker.

**Reproduction Rate**
5/5

**Expected behavior**
Sound from speaker0,0 should be

[2020-07-08 05:42] ClarexZhou commented on #2256
Runtime PM also always keeps active after DSM

[2020-07-08 06:08] sathya-nujella commented on #2249
I checked in coreboot code, it is sending 5milli second delay..
https://github.com/coreboot/coreboot/blob/master/src/mainboard/google/volteer/variants/volteer/overridetree.cb#L117
register "sdmode_delay" = "5"

please help check in your test setup and confirm.

[2020-07-08 06:15] Liviali155 commented on #2249
Issue still can be reproduced with  https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e on  TGL  chromebook in  I2S  mode with codec 98357

[2020-07-08 07:41] Liviali155 opened #2257 "[BUG][TGL][max98357-I2S]Continuous buzzing output from speaker when aplay via speaker then run Wov"
***Describe the bug***
Continuous buzzing output from speaker when aplay via speaker then run Wov

***To Reproduce***
1."sudo reboot" to reboot system
2.open terminal1 to run "aplay -Dhw:0,0 -r48000 -c2 -fs24_le  sine_48k_32bit_10s_stereo_l5_r2.wav -vv -i"
3.open  terminal2 to run "arecord -Dhw:0,100 -M -N -f s16_le -r 16000 -i -vvv -c2 --buffer-size=68000 ./tmp.wav"

[code]
[code]

***Reproductio

[2020-07-08 08:04] RanderWang commented on #2242
I don't find any wrong in machine driver. I need to debug the device.

[2020-07-08 08:41] Liviali155 commented on #2111
On TGL chromebook with codec 98357 in I2S mode reproduced the issue of   pop noise and playback speed become very slow
1."sudo reboot" to reboot sysytem
2.open terminal1 to run "aplay -Dhw:0,0 -r48000 -c2 -fs24_le wav/48California_Dreaming.wav -vv -i"
3 .open terminal2 to run " arecord -Dhw:0,99 -r48000 -c4 -fs32_le s30.wav -vv -i"
4.do pause/release slowly of arecord(0,99) about 20 times
5.do pau

[2020-07-08 20:13] #2195 closed

[2020-07-09 03:36] ClarexZhou commented on #2249
@sathya-nujella  Error still seen with below changes.
[code]
[dmesg.txt](https://github.com/thesofproject/linux/files/4894354/dmesg.txt)
[sof_trace.txt](https://github.com/thesofproject/linux/files/4894355/sof_trace.txt)

[2020-07-09 05:14] Liviali155 commented on #2249
Error still can be reproduced with https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc8 ,commit: 2057409 on TGL chrome laptop I2S with codec 98357

[2020-07-09 05:44] naveen-manohar commented on #2230
@Liviali155, @RanderWang  Please help confirm if the above observation is with TRS headset.
At my end, TRRS detects & passes EVTEST without any issue. Issue is with TRS headset failing evtest.

More details on TRS & TRRS type jack can be found here - https://components101.com/connectors/35mm-audio-jack

[2020-07-09 06:02] Liviali155 commented on #2230
I used the TRS headset as below without microphone

<img width="194" alt="Capture" src="https://user-images.githubusercontent.com/56707932/87002687-b5842380-c1ec-11ea-9dfd-dc4c3f022a5f.PNG">

[2020-07-09 06:43] ClarexZhou commented on #2249
Error still seen with below changes.
[code]

[2020-07-09 07:00] naveen-manohar commented on #2230
ok thanks for confirming.. yes it is TRS you are using..

I tried enabling dynamic_debug and followed the tracing methods as mentioned but at my end, Codec reports jack_type=1, seems like codec_driver found irq but dint invoke jack_report..

[code]
Shall apply some prints, recheck & update whats happening..

[2020-07-09 07:19] RanderWang opened #2261 "RKL: soundcard is failed to be initialized for link error"
[code]
Now RKL GPU driver is not included in our kernel, so there is no HDMI support now. It failed at https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/skl_hda_dsp_generic.c#L83. @kv2019i Do you have any advice ?

[2020-07-09 08:52] kv2019i commented on #2261
@RanderWang hmm, this is a new kind of error. Are you using an unmodified topology file and hda machine driver?

Possible things to check:

- idisp codec is reported to be present even if driver is not in kernel (should not happen, but best to check):
       -> try with modprobe option: "options snd_sof_intel_hda_common codec_mask=0x1"

- in skl_hda_hdmi_add_pcm(), only thing that could fail seems

[2020-07-09 22:53] plbossart commented on #2211
Quite nice, but the package version doesn't seem right:
[code]

We must have missed a record where the version needs to be bumped?

[2020-07-09 23:12] plbossart commented on #2211
@marc-hb adding "dch -v 1.2.3.2-4-g877bdf95" before your debuild.sh script seemed to bump the version as needed.
But it still doesn't install well:

[code]

[2020-07-09 23:17] marc-hb commented on #2211
Thanks for testing this again.

Looking into it.

They did install for you with the older (and wrong) version numbers, right? I mean before you used this `dch` command. They certainly did for me (and also addressed the ASRC "test bug")

[2020-07-09 23:26] plbossart commented on #2211
no, they didn't install either. I must have an odd set of packages I guess if it worked for you.

[2020-07-09 23:31] marc-hb commented on #2211
Ha, that's probably the right clue:
[code]
I didn't consider 32bits. Is this a requirement?

Can you (temporarily) uninstall your i386 packages and try again?