[2020-02-07 11:12] jason77-wang commented on #1770
This is the lspci.txt for that machine.
[lspci.txt](https://github.com/thesofproject/linux/files/4170437/lspci.txt)

[2020-02-07 18:56] plbossart commented on #1770
@jason77-wang can you please test with the latest topic/sof-dev kernel - and a more recent firmware? this 1.3 thing is from 6 months ago.

That would help us check if there's a real problem with the hardware, or if this is a backport issue.
I've never seen this CORB reset error personally

[2020-02-07 19:38] plbossart commented on #1480
looks fine now, thanks @singalsu

I see hear a lot of pop when stopping playback but that's an amplifier issue now.
well actually now that I think of it, is there a volume ramp when we stop playing? Since we don't support any drain capabilities, we probably stop without ramping down, no?

[2020-02-11 07:29] Liviali155 commented on #1701
Tried with PR #1767[](https://github.com/thesofproject/linux/pull/1767),error not seen

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: a573a2cd https://github.com/thesofproject/sof/commits/master
Kernel: 0c7dcfee8 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-02-11 07:32] Liviali155 commented on #1651
Tried with PR #1767,error not seen

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: a573a2cd https://github.com/thesofproject/sof/commits/master
Kernel: 0c7dcfe https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-02-11 11:34] ClarexZhou commented on #1762
Error can be reproduced on sof-v5.0 + cml-hda-dmic-002-drop-stable after removing sof folder.
Error not seen on latest sof-dev + master

[2020-02-11 12:26] sinahuang commented on #1651
Issue can't be reproduce on TGL-U RVP with soundwire-latest (commit: 0c7dcfe) when aplay DP/HDMI after wake up from s2idle.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:0c7dcfe
FW:  https://github.com/thesofproject/sof/commits/master commit: a573a2c
Tplg: Same with FW branch, rename sof-tgl-rt711-i2s-rt1308.tplg to sof-tgl-rt711-rt1308.tplg
Platform:

[2020-02-11 12:27] sinahuang commented on #1701
Issue can't be reproduce on TGL-U RVP with soundwire-latest (commit: 0c7dcfe) when aplay DP/HDMI after wake up from s2idle.

Test recipe

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:0c7dcfe
FW: https://github.com/thesofproject/sof/commits/master commit: a573a2c
Tplg: Same with FW branch, rename sof-tgl-rt711-i2s-rt1308.tplg to sof-tgl-rt711-rt1308.tplg
Platform:TGL-U

[2020-02-12 04:41] Liviali155 opened #1783 "[bug][tgl]"Unable to install hw params" showed when run multipipeline"
**Describe the bug**
"Unable to install hw params"  showed when run multipipeline
After issues reproduced, all the pipeline can not work,only reboot can recovery

**To Reproduce**
1.connected with HDMI and DP
2. ./multiplex_pipeline-test.sh pcm0p pcm3p pcm4p pcm0c pcm6c pcm7c

**Reproduction Rate**
Run 300 times,failed at 83th

**Expected behavior**
Aplay/Rrecord can work when test Multipipeline

[2020-02-12 07:23] sinahuang commented on #1783
Issue also can be reproduced on TGL-U RVP with soundwire-latest(commit: 91ed8f4).
Test for 300 times, failed at 65th time, after issue happened all pipeline can't work and only reboot can recover.
[multipipeline_test_64_dmesg.log](https://github.com/thesofproject/linux/files/4190347/multipipeline_test_64_dmesg.log)
[multipipeline_test_64_all_logger.log](https://github.com/thesofproject/linux/files

[2020-02-12 08:47] mengdonglin commented on #1762
Close this issue. We won't backport the fix on sof-v5.0 and mainline-kernel-5.3.

[2020-02-12 08:47] #1762 closed

[2020-02-12 09:34] perexg commented on #1747
The problem persists with 5.5.2 kernel. It looks like a timing or usage error:

<pre>
 sof-logger -l  /lib/firmware/intel/sof/signed/debug/sof-cnl.ldc
 CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      1          DAI 2.13     10790900.364583  10790900.000000      src/audio/dai.c:690 	dai_config() error: Component is in active state.

[2020-02-12 09:35] paulstelian97 commented on #1783
Anything relevant in etrace? Whenever I get hangs, etrace holds info that didn't reach regular DMA trace on my platform, this might be true in this case as well. (sof-logger without -t option)

[2020-02-12 12:14] sinahuang commented on #1655
Issue can't be reproduced after disabling pulseaudio.

[2020-02-12 14:33] lgirdwood commented on #1747
@slawblauciak for bug scrub.

[2020-02-12 17:35] fredoh9 commented on #1783
I found same issue in APL. Multipipeline test with many iteration easily reproduce this, I had same issues in some of platforms, so I would say this is not just APL or TGL problem.
In this case, i was running check-pause-resume-playback-100.sh in **APL_UP2_NOCODEC**.

[code]

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:91ed8f4
FW: https://github.com/thesofproject/sof

[2020-02-12 17:50] ranj063 commented on #1783
@fredoh9 your case seems to be because of the tplg mismatch. Could you please make sure you're using the right tplg and confirm this is still a problem?

[2020-02-12 19:06] fredoh9 commented on #1783
@ranj063 I'm using daily build and I get the tplg file also from daily build. Do you have any proof I have tplg mismatch?
And this is part of daily test suite. 1-14 test cases was passed, this was 15th test case.

[2020-02-13 02:25] jason77-wang commented on #1770
could not reproduce this issue on other machines, probably this is a hw issue. close this bug first.

[2020-02-13 02:25] #1770 closed

[2020-02-13 02:44] Liviali155 commented on #1735
- ICL HDA RVP will not be manually tested. Will only monitor CI test result recenty,so  I can  only try it later

[2020-02-13 02:55] ClarexZhou commented on #1507
Close for codec driver and HW issue. Won't fix.

[2020-02-13 02:55] #1507 closed

[2020-02-13 04:46] Liviali155 commented on #1783
Bi-sect result: It is a kernel  regression caused by  commit  [#877eab2d](https://github.com/thesofproject/linux/commit/877eab2da69a60545b36246e348d16a04583d11f)

[2020-02-13 04:59] sinahuang commented on #1655
Issue can't be reproduced on TGL-RVP with  sof-dev(commit:f19d23b4 ), so closed it.
**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:f19d23b4
FW:  https://github.com/thesofproject/sof/commits/master commit: 7e88cc0
Tplg: Same with FW branch, rename sof-tgl-rt711-i2s-rt1308.tplg to sof-tgl-rt711-rt1308.tplg
Platform:TGL-U RVP with codec ALC711 in SDW mode

[2020-02-13 07:17] dengyangchao commented on #1440
@kv2019i Please help to check the DRM logs, tried on APL-UP2-PCM512X.
Connected with DP and HDMI,
1.Unplug HDMI >dmesg1.log
2.Unplug DP > dmesg2.log
If it is I915 issue, can we close it?

[dmesg1.log](https://github.com/thesofproject/linux/files/4196952/dmesg1.log)
[dmesg2.log](https://github.com/thesofproject/linux/files/4196954/dmesg2.log)

[2020-02-13 08:59] YvonneYang2 opened #1788 "[BUG][UCM][SDW]UCM need update."
**Describe the bug**
Based on the latest topic/sof-dev(top commit: f19d23b) and master branch(top commit: 7e88cc0), ucm applied  https://github.com/thesofproject/alsa-ucm-conf/pull/24 on SDW CML-U laptop cannot work now. It blocked the test related ucm.

The ucm which cannot work: https://github.com/thesofproject/alsa-ucm-conf/commits/master(top commmit:39528c5) + https://github.com/thesofproject/

[2020-02-13 09:29] sinahuang opened #1789 "[TGL][BUG][SDW]Arecord 0,1 (rt711) can't capture the sound."
**Describe the bug**
Arecord(0,1) can capture but the captured sound file is empty, headset mic jack in amixer contents/alsamixer display on.

Amixer contents:
[amixer contents.txt](https://github.com/thesofproject/linux/files/4197561/amixer.contents.txt)

**To Reproduce**
1.Boot up system successfully.
2.Run "arecord -Dhw:0,1 -fs16_le -c2 -r 48000 -vv -i 11.wav".

**Reproduce rate**
5/5

**Expect

[2020-02-13 09:45] sinahuang opened #1790 "[BUG][UCM][SDW][TGL]UCM need update."
**Describe the bug**
 Ucm applied https://github.com/RanderWang/intel-UCM/tree/tgl_hdmi commit:8579a06 on SDW CML-H RVP cannot work now. It blocked the test related ucm.

amixer contents：
[amixer contents.txt](https://github.com/thesofproject/linux/files/4197552/amixer.contents.txt)

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:f19d23b4
FW:  https://g

[2020-02-13 09:49] kv2019i commented on #1701
Ack @Liviali155 and @sinahuang , this looks good. We will soon get the fix in #1767 via upstream merge to sof-dev and I think we can close this issue then.

[2020-02-13 10:03] sinahuang commented on #1655
Sorry for wrong operation, because issue #1790 might effect the test result of this issue , so reopen it and keep monitor it. @kv2019i  please help to check this issue.

[2020-02-13 10:36] sinahuang commented on #1789
Bi-sect result: It is a kernel regression caused by commit #https://github.com/thesofproject/linux/commit/f19d23b45e97def172b5538c50572d7f6c666ed8   @RanderWang , please help to check it.

[2020-02-13 11:46] YvonneYang2 commented on #1783
Issue can be reproduced on SDW CML-U laptop when run multipipline stress test. Failed at 34th time.

Kernel: topic/sof-dev (f19d23b)
FW: master (7e88cc0)

[multipipeline_test_34_dmesg.log](https://github.com/thesofproject/linux/files/4198067/multipipeline_test_34_dmesg.log)

[2020-02-13 12:25] Liviali155 commented on #1727
Reproduced this issue on below scene
Firmware: 7e88cc01 https://github.com/thesofproject/sof/commits/master
Kernel: f19d23b4 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware
platform：GLK Chrome with onboard codec DA7219 in I2S mode

[2020-02-13 15:41] singalsu commented on #1799
P2 - I need to increase priority for this. The FW is OK, the fix will be entirely on driver side.

[2020-02-13 16:37] perexg commented on #1747
Can I help to debug this somehow?

[2020-02-13 17:06] plbossart commented on #1789
it's more like you need to install the proper topology file?

[2020-02-13 17:07] plbossart commented on #1788
@RanderWang can you look into this? It's likely a board name change.

[2020-02-14 01:25] plbossart commented on #1788
This is caused by a topology change: https://github.com/thesofproject/sof/issues/2385

[2020-02-14 01:27] plbossart commented on #1788
[HiFi.txt](https://github.com/thesofproject/linux/files/4202207/HiFi.txt)

Temporary work-around: cp Hifi.txt /usr/share/alsa/ucm/sof-sdw-rt711-1308-715/HiFi

[2020-02-14 06:14] aiChaoSONG commented on #1783
issue also observed on Helios with sof-test before 14th, Feb:
- clone sof-test to local: `git clone https://github.com/thesofproject/sof-test`
- go to `sof-test/test-case/`
- export TPLG=/lib/firmware/intel/sof-tplg/your-tplg-name
- run `./multiple-pipeline-playback -l 50`, test case will PASS
- run `./multiple-pipeline-capture -l 50`, test case FAILED (unable to install hw params)
- no dmesg erro

[2020-02-14 08:31] Liviali155 commented on #1783
Tested 300 times with TGL-U SOF HDA on 20200214,issue can not be reproduced

Platform: TGL-U RVP with onboard codec ALC711 in HDA modeFirmware:
Firmware: 4d17d0de https://github.com/thesofproject/sof/commits/master
Kernel: daf71dce https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-02-14 08:35] RanderWang commented on #1789
@sinahuang   if " amixer cset numid=2 on;    amixer cset numid=3 on" works, could you help to close this bug ? thanks!

[2020-02-14 08:41] dengyangchao commented on #1440
Report and track on https://gitlab.freedesktop.org/drm/intel/issues/1215
Close for not sof issue

[2020-02-14 08:41] #1440 closed

[2020-02-14 09:24] kv2019i commented on #1440
@dengyangchao Thanks for moving. As this has been lower in priority, I haven't had time to investigate this, but most probably this is an i915 problem. If/when I have to study this more, I'll add comments to the i915 gitlab item you filed.

[2020-02-14 10:46] sinahuang commented on #1789
Verified it and it can work, but I think you could give me a PR then I can closed it.

[2020-02-14 11:04] RanderWang commented on #1789
@sinahuang  The setting is for amixer. It is done in UCM file. NO PR

[2020-02-14 11:23] Liviali155 commented on #1701
Error not seen on TGL-U on 20200214,but  PR #1767 has not been merged

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: 4d17d0de https://github.com/thesofproject/sof/commits/master
Kernel: daf71dce https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-02-14 11:23] Liviali155 commented on #1651
Error not seen on TGL-U on 20200214,but  PR #1767 has not been merged,and there is a regression issue #1792 ,I am not sure if  there is relationship between them

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: 4d17d0de https://github.com/thesofproject/sof/commits/master
Kernel: daf71dce https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/

[2020-02-14 11:51] sinahuang commented on #1783
Tested 300 times with TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode, issue can not be reproduced.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:daf71dce
FW:  https://github.com/thesofproject/sof/commits/master commit: 36d4c9f
Tplg: Same with FW branch, sof-tgl-rt711-i2s-rt1308.tplg
Platform:TGL-U RVP with codec ALC711 in SDW mode and

[2020-02-14 12:53] kv2019i commented on #1651
Ack @Liviali155 , this is excellent news! The fixes were merged via upstream merge #1782 and first part of the fix was already merged to sof-dev via #1764 earlier. So it's ok #1767 was not merged.

I guess we can close this?

Seems #1782 caused a regression #1792 ,are you sure we can closed it?

[2020-02-14 12:56] kv2019i commented on #1701
-> https://github.com/thesofproject/linux/issues/1651#issuecomment-586275716

[2020-02-14 13:06] Liviali155 opened #1792 "[BUG][tgl] Jack detection is off in amixer contents after reboot with HDMI connected"
**Describe the bug**
Jack detection is off  in amixer contents after reboot with HDMI/DP connected,and no sound output,but monitor display is normally
Unplug/plug HDMI/DP  again can recovery

**To Reproduce**
1.sudo reboot with HDMI/DP connected
2.amixer contents to check jack detection

**Reproduction Rate**
10/10

**Expected behavior**
HDMI/DP jack detection is on in amixer contents

**Actual re

[2020-02-14 13:16] Liviali155 commented on #1792
Bi-sect result:
caused by kernel commit  #[https://github.com/thesofproject/linux/commit/8c0050f1207942265db85a65173cd685ab64f1bc](https://github.com/thesofproject/linux/commit/8c0050f1207942265db85a65173cd685ab64f1bc)

[2020-02-14 15:30] kv2019i commented on #1792
@Liviali155 wrote:

Thanks, this a good lead. I will take a look at this next week.

[2020-02-14 15:36] lgirdwood commented on #1747
@perexg yes, could you enable the IPC debug within the SOF driver (it will fill up dmesg), this should show us the sequence of IPCs (either based on ALSA PCM ops, kcontrol ops or PM ops) that lead to this state.
Fwiw, @mengdonglin and @fkaczmar are looking at the possibility of doing a regular (maybe weekly) "snapshot" release of signed firmware. This would be unvalidated code (except for CI) but

[2020-02-14 16:34] perexg commented on #1747
Please, check https://gist.github.com/perexg/4f6df2f0d03a89b31eb653e94c425504 .

[2020-02-14 22:53] cujomalainey opened #1793 "[BUG][GLK] glk_rt5682_max98357a in probe deferral loop"
Kernel SHA b2d982370860640838a30fd6927eab57b7de615b
SOF SHA: 01a589581abfc786964e67c00ae7e4580b6a6a29

Running latest kernel on glk chromebook with rt5682 we see this loop running because we are missing a CPU DAI but I can't spot anything particular in the machine driver link that has changed, maybe there was a core change that broke things? Any ideas? This is a blocker.

[code]

[2020-02-15 00:49] plbossart commented on #1793
The only references I see to 'Echo Reference' are for Front-end dailinks, which should be ignored by SOF.

The only thing that comes to my mind is this patch from @dbaluta ('ASoC: soc-core: Set dpcm_playback / dpcm_capture')

That's directly related to the FE override. Maybe try reverting it?

[2020-02-15 04:18] cujomalainey commented on #1793
I will try that Tuesday, as a temporary work around I commented out the link but for some reason the rt5682 i2c probe was still not being called even though the module was loaded so it was failing to link

[2020-02-16 07:17] cujomalainey commented on #1793
Also this is isolated to this machine driver, not the dialog one which makes me wonder if some of the sdw changes in the 5682 driver are possibly causing this

[2020-02-16 12:32] mengdonglin commented on #1756
@sathya-nujella @kv2019i close this bug atm. We can reopen this bug if it can still be reproduced with the fixes. Thanks.

[2020-02-16 12:32] #1756 closed

[2020-02-16 12:39] mengdonglin commented on #1701
Close this issue since fix of PR #1767 was actually merged via upstream rebase. @keyonjie @xiulipan @Liviali155 I think we have a good code base to test WoV now :)

[2020-02-16 12:39] #1701 closed

[2020-02-17 02:45] Liviali155 commented on #1651
Close this issue since fix of PR #1767 was actually merged via upstream rebase

[2020-02-17 02:45] #1651 closed

[2020-02-17 04:43] Liviali155 commented on #1783
Tested 500 times with TGL-U SOF HDA on 20200217,issue can not be reproduced

Platform: TGL-U RVP with onboard codec ALC711 in HDA modeFirmware:
Firmware: b206b7a8 https://github.com/thesofproject/sof/commits/master
Kernel: b2d98237 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-02-17 04:43] #1783 closed

[2020-02-17 06:23] RanderWang commented on #1790
@sinahuang  I updated the git repo, please sync it and test. thanks!

[2020-02-17 09:22] aiChaoSONG commented on #1687
@kv2019i can we be sure if this is i915 issue or sof issue from the below info?
Checked the two steps below:
1. add code to print message in intel_pin_eld_notify() and see if it's called
2. checked value of `changed` variable in `sync_eld_via_acomp()`

**Result:**
- after boot, hdmi jack is off
- intel_pin_eld_notify() is called on boot at 3.042636
- value of `changed` is changed from 1 to 0.
[cod

[2020-02-17 16:14] kv2019i commented on #1687
@aiChaoSONG Thanks for digging deeper into this. My suspicion is in this 4-patch series from Takashi:

adf615a605017089c8948f393087080e1b61b114 ALSA: hda/hdmi: Move ELD parse and jack reporting into update_eld()
ae47e2ec5b4504cd91968e97ce2dab4ccd346fb6 ALSA: hda/hdmi: Move runtime PM resume into hdmi_present_sense_via_verbs()
db8454023b7f9ca6d341cc83ce033a1f0e33d9c3 ALSA: hda/hdmi: Don't use stand

[2020-02-18 01:02] RanderWang commented on #1788
@YvonneYang2  what's the status with 1796 ? Does it work ?

[2020-02-18 01:57] RanderWang commented on #1790
@sinahuang I updated the git repo, please sync it and test. thanks! I don't have a stable device around to test, so I need your help.

[2020-02-18 03:34] sinahuang commented on #1655
For this issue can't effect the function, so closed it.

[2020-02-18 03:34] #1655 closed

[2020-02-18 05:19] aiChaoSONG commented on #1687
@kv2019i after reverting these four patches in the latest kernel, I got the same result as above. in fact, I use linux-5.5rc6 to get the above result, and at the time of linux5.5rc6, there are no these four patches. you can seen this issue is from Jan 10th,  at that time, no these four patches either.

[2020-02-18 09:13] slawblauciak commented on #1807
The original error code visible in the dmesg is a result of CSME security error. As others have mentioned, a problem with the key signed binary.

[2020-02-18 09:26] sinahuang commented on #1790
Test with latest UCM( https://github.com/RanderWang/intel-UCM/tree/tgl_hdmi commit: a7ff374) in your repo, issue still can be reproduced.

[2020-02-18 09:40] YvonneYang2 commented on #1788
@RanderWang
Tested it with topic/sof-dev(top commit:b2d9823)+PR1769+PR1796 and latest master branch FW, using https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm/sof-sdw-rt711-1308-715 + https://github.com/thesofproject/alsa-ucm-conf/pull/24 for multi profile ucm, it can work.

[2020-02-18 10:19] sinahuang commented on #1789
Test with latest UCM( https://github.com/RanderWang/intel-UCM/tree/tgl_hdmi commit: a7ff374) in your repo, issue still can be reproduced.

[2020-02-18 11:59] singalsu commented on #1799
This need to be moved to driver side. The driver sends only controls to channels 0 and 1.

[code]

[2020-02-18 13:26] perexg commented on #1747
Can I help to debug this more? The suspend/resume does not work with 5.5 and Fedora and the behaviour is racy.

[2020-02-18 13:46] kv2019i commented on #1807
@slawblauciak wrote:

I went through the older comments and it seems @ltune confirmed 1.4.2 did boot on the Acer DUT in question (https://github.com/thesofproject/sof/issues/2126#issuecomment-579099179). I checked the linked distro bugs, and I see no conflicting reports on this, so I think we can conclude the remaining issue is not related to firmware loading anymore. So I'll remove the bios tag -

[2020-02-18 13:51] perexg commented on #1807
Yes, the 1.4.2 firmware boots fine.

[2020-02-18 14:21] kv2019i commented on #1747
@perexg Our validation run a test on a similar X1 carbon with 5.5.0-rc7 and 1.4.2 and could not reproduce the results. Did some other version of SOF succesfully run on this device? And can you link/attach the exact tplg file you used to this bug? I can ask validation to retest with the same tplg file as you.

[2020-02-18 14:42] perexg commented on #1747
It's the 1.4.2 tplg file built in docker. I am using this firmware package for Fedora: https://www.alsa-project.org/files/pub/misc/sof/sof-firmware-1.4.2.tar.bz2 . The used topology file is there.

It might be a problem with latest pulseaudio / UCM etc. How do you test the interaction with the user space? I would recommend to do tests with the latest user space packages (Fedora is just an example,

[2020-02-18 14:52] perexg commented on #1747
Ok, the IPC errors are visible also without pulseaudio (it seems sufficient to run aplay).

[2020-02-18 14:59] lgirdwood commented on #1807
@kv2019i ack, I guess this is kernel related now with HDA integration. @ltune have you had any success with the kernel config suggestion or have you tried a recent kernel (last update was 21 days ago) ?

[2020-02-18 15:15] perexg commented on #1747
BTW: Could you point me to your tested .tplg file?

[2020-02-18 15:55] kv2019i commented on #1687
Thanks @aiChaoSONG . So it's not the 4-patch series from Takashi. This starts to seem more and more like a drm issue indeed.

I think in your original log, this part is probably related to this problem:

[    4.787277] WARNING: CPU: 2 PID: 732 at /home/test/jenkins/workspace/kernel_build_template/sound/pci/hda/hda_codec.c:2523 snd_hda_spdif_ctls_unassign+0x45/0x50 [snd_hda_codec]

.... so we are g

[2020-02-18 16:30] lgirdwood commented on #1747
@xiulipan @fredoh9 how far up the stack is CI today ? Do we include Pulseaudio and UCM in the test suite today or is it still TODO ?
@ClarexZhou can you provide @perexg with the name of the topology file you tested.

[2020-02-18 16:34] kv2019i commented on #1747
@perexg wrote:

@ClarexZhou Can you provide the tplg file you used in the test?

Fully agreed. The rootcause is probably something else, but good to check the topology files just in case. In the logs you shared, there is actually a full cycle of setting up a stream, starting and stopping it and the errors seem to be happening at end with  PCM_TRIGGER_STOP for the dai link. At this step it sends a

[2020-02-18 17:14] perexg commented on #1747
It's not related to TRIGGER_STOP. I see this also after TRIG_START:

<pre>
   46.160087] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[   46.160527] sof-audio-pci 0000:00:1f.3: ipc tx succeeded: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[   46.161372] sof-audio-pci 0000:00:1f.3: pcm: trigger stream 0 dir 0 cmd 1
[   46.161626] sof-audio-pci 0000:00:1f.3: ipc tx: 0x600400

[2020-02-18 17:48] plbossart commented on #1789
@RanderWang do you have a PR for the UCM files?

[2020-02-18 21:44] plbossart opened #1801 "Remove variable-length arrays for DMIC params"
There is no reason why we should have a variable-length array in the struct sof_ipc_dai_dmic_params structure. And this results in DMIC-specific code at the lowest level of our topology-parsing routines.

We should instead reserve data for the worst-case, e.g. define how many PDM controller configurations are reasonable. the firmware can still use the 'num_pdm_active' field to know how many of the

[2020-02-18 23:45] plbossart opened #1803 "Add multi-cpu dai support"
For SoundWire synchronized playback, we need the ability to have multi-cpu dailinks.

requirements
a) changes in ASoC core https://github.com/thesofproject/linux/pull/1802

b) changes in machine driver to have dailink with multiple CPU dais, e.g. when we have 2 RT1308 on separate links.

c) changes in stream allocation (needs to move to dai-link init instead of dai setup).

[2020-02-19 01:01] RanderWang commented on #1789
I will create a PR for UCM for TGL RVP.

[2020-02-19 01:28] ClarexZhou commented on #1747
Error also not seen when using this firmware package for Fedora: https://www.alsa-project.org/files/pub/misc/sof/sof-firmware-1.4.2.tar.bz2. I'm test on lenovo x1 yoga @perexg  I am using tplg v1.4.2/topology/intel/sof-hda-generic-4ch.tplg from https://github.com/thesofproject/sof-bin/commit/162c2320ab794cc540c32af5ed743bfa2aa607df, and fw v1.4.2/firmware/intel/intel-signed/sof-cnl-v1.4.2.ri, rena

[2020-02-19 03:36] aiChaoSONG commented on #1687
@kv2019i  Hope these logs can help.
[with_hdmi_connected_kernel.log](https://github.com/thesofproject/linux/files/4222968/with_hdmi_connected_kernel.log)
[without_hdmi_connected_kernel.log](https://github.com/thesofproject/linux/files/4222970/without_hdmi_connected_kernel.log)

[2020-02-19 07:27] xiulipan commented on #1747
@lgirdwood PA will not be enabled in CI for now as it will randomly hold the PCM and we could not continue the test.
The UCM test is WIP as we need a way to update the alsalib to support UCM v2.

[2020-02-19 08:08] singalsu commented on #1801
Do you have an ETA for ABI change? Though this change should be fairly simple to do.

[2020-02-19 10:46] sinahuang opened #1806 "[TGL][SDW][BUG]RT1308 in I2S mode can't load i2c driver."
**Describe the bug**
RT1308 in I2S mode can't load i2c driver.

lsmod:
[lsmod19.txt](https://github.com/thesofproject/linux/files/4224544/lsmod19.txt)

**To Reproduce**
1.Boot up system successfully.
2. aplay -l

**Reproduce rate**
5/5

**Expected result**
RT1308 in I2S mode should can be loaded normally.

**Actual result**
RT1308 in I2S mode can't load i2c driver.

[code]

**Test recipe**

Kernel

[2020-02-19 10:52] ghost commented on #1807
Hi guys, sorry for late response.

@ kv2019i wrote:

I took the ubuntu mainline kernel, in the[ build log ](https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.5/BUILD.LOG.amd64) you see that those options are set:
<pre>  LD [M]  sound/pci/hda/snd-hda-codec-realtek.o
  LD [M]  sound/pci/hda/snd-hda-codec-cmedia.o
  LD [M]  sound/pci/hda/snd-hda-codec-analog.o
  LD [M]  sound/pci/hda/snd-hda-codec-id

[2020-02-19 10:57] ghost commented on #1807
@paulmenzel  wrote

right it is acer swift-314-57-77MU

[2020-02-19 11:12] perexg commented on #1807
@ltune - show output from 'alsa-info.sh' . The SOF driver requires also updates in pulseaudio configs etc, so it's difficult to tell you what does not work, if we don't have additional information.

[2020-02-19 12:02] ghost commented on #1807
Hi @perexg , find my alsa-info attached.
[alsa-info.txt.vlfiHPlolr.log](https://github.com/thesofproject/sof/files/4224917/alsa-info.txt.vlfiHPlolr.log)
let me know if there is anything else I can do in this issue.

[2020-02-19 12:24] perexg commented on #1807
Ok, it's another issue with the driver (I overlooked this in the initial report).

<pre>
sof-audio-pci 0000:00:1f.3: error: codec #0 probe error, ret: -2
</pre>

So 5.5 kernel does not work for this hw.

[2020-02-19 13:22] sinahuang commented on #1806
Test with kernel on ww08.1 + PR1796 on ww08.1, issue can't be reproduced. I try to test with  kernel on ww08.1 +PR1796 today, but there are some conflicts.

[2020-02-19 14:31] lgirdwood commented on #1807
@kv2019i do you know if this is HDA analog or HDMI HDA codec ? We've seen this before but my understanding this was fixed ?

[2020-02-19 15:30] lgirdwood commented on #1747
@slawblauciak could this be DMA STOP/DRAIN related (i.e. channel never goes back to idle) ? This would cause the subsequent stream issues and could potentially break component state machine/suspend ?
@perexg are you able to dump FW logs with sof-logger ?

[2020-02-19 15:52] kv2019i commented on #1807
Thanks @ltune . This is definitely still a problem, but the remaining problem is no longer a SOF firmware issue.

@perexg @lgirdwood This is a error attaching the codec driver for the external HDA codec, so nothing to do with HDMI.

As return code is -2/ENOENT, the failing code is in:

sound/soc/sof/intel/hda-codec.c:hda_codec_load_module()

Call to:

device_attach(hda_codec_dev(codec))

is return

[2020-02-19 15:52] kv2019i commented on #1807
I'll move this to kernel driver side, let's continue there.

[2020-02-19 16:03] kv2019i commented on #1807
@ltune Many thanks for the logs. Your build log shows that correct modules are loaded, so this is pretty curious.

If possible, could you try reverting the following patch from v5.5 and see if the probe works:

2c63bea71478 ASoC: SOF: Intel: fix HDA codec driver probe with multiple controllers

I'd also be curious to see dmesg with "snd_hda_intel.dmic_detect=0". In this case the external HDA codec

[2020-02-19 16:58] plbossart commented on #1801
ETA tomorrow :-)
I'd really like to know how many configurations we really need

[2020-02-19 17:04] #1788 closed

[2020-02-20 01:00] RanderWang commented on #1806
@sinahuang  thanks for your hard work!

[2020-02-20 08:04] aiChaoSONG opened #1808 "[CML] abnormal behavior after module insertion"
**Description**
after module removal and insertion, it will take about 10s for `aplay -l` to show device list, and within this 10s, `aplay -l ` shows "no soundcards found".  no error in module removal and insertion.

**To Reproduce**
1. manually run `sof_remove.sh`, and then `sof_insert.sh`
2. keep run `aplay -l` before you see device list.

**Platform**
only on CML with rt5682 and rt1011 codec(he

[2020-02-20 11:01] ghost commented on #1807
Hi @kv2019i ,

I checked the https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.5/ sources and I do not see that commit being in sound/soc/sof/intel/hda-codec.c nor in the attached patches. So do you suggest I should compile with that patch? Should I set any additional configs to the ubuntu defaults when compiling the kernel?

[2020-02-20 12:29] RanderWang commented on #1806
found root reason.  SND_SOC_1308 should be select in KConfig  for sdw_rt711_rt1308_rt715.
For sdw_rt711_i2s_rt1308 is deleted in KConfig, SND_SOC_1308 is missed.

[2020-02-20 12:31] RanderWang commented on #1790
I update UCM and validated on my RVP.  But on QA`s device, the error message is :  HiFi is not found.
but the file and path all exist.

[2020-02-20 12:35] Liviali155 opened #1809 "[BUG][TGL]Then volume is small and have much noise when arecord via dmic using format fs24_le"
**Describe the bug**
Then volume is small and have much noise when arecord via dmic (0,6) or (0,7) using format fs24_le compared with using format fs32_le/fs16_le

**To Reproduce**
1.sudo reboot
2.keep the volume of  arecord not change
3.arecord -Dhw:0,6  -r48000 -c4 -fs24_le   fs24_le.wav -vv -i
  arecord -Dhw:0,6  -r48000 -c4 -fs32_le   fs32_le.wav -vv -i
  arecord -Dhw:0,6  -r48000 -c4 -fs16_le

[2020-02-20 12:37] Liviali155 commented on #1809
CML Mantis can also reproduce this issue

Platform: CML Mantis with onboard codec ALC3204 in HDA mode
Firmware: 247af13 https://github.com/thesofproject/sof/commits/master
Kernel: 6af9a26f https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware

[2020-02-20 15:02] plbossart commented on #1806
@sinahuang please retest with #1810

[2020-02-20 16:42] perexg commented on #1747
This is the simplest log with IPC error (booted without pulseaudio, invoked aplay):

<pre>
[  649.092936] sof-audio-pci 0000:00:1f.3: pcm: open stream 0 dir 0
[  649.092942] sof-audio-pci 0000:00:1f.3: period min 192 max 16384 bytes
[  649.092945] sof-audio-pci 0000:00:1f.3: period count 2 max 16
[  649.092947] sof-audio-pci 0000:00:1f.3: buffer max 65536 bytes
[  649.094376] sof-audio-pci 0000:00

[2020-02-20 16:50] perexg commented on #1747
The used topology file (sof-hda-generic-idisp-4ch.tplg) is identical to file in your sof-bin repo. Also, it works with another kernel. I will try to compare code and the kernel config again.

[2020-02-20 17:41] kv2019i commented on #1658
Patch submitted to alsa-devel for this bug.

[2020-02-20 18:09] kv2019i commented on #1807
@ltune wrote:

hmm, it should be there, it was already in 5.5.0 kernel. I checked the above url and it says

[code]

If you check the branch (git log d5226fa6), my patch is in there:
 2c63bea714780f ASoC: SOF: Intel: fix HDA codec driver probe with multiple controllers

Could you try this patch (defaults for kernel config should be ok):
https://github.com/thesofproject/linux/pull/1811
You can just

[2020-02-20 20:24] plbossart opened #1812 "DAIs don't have channels_min setup"
In the last SoundWire code, a new check for valid DAIs fails.

[code]

generates the following trace:

[code]

I suspect our topologies don't provide the relevant information on the number of channels supported for each direction?

@bardliao @ranj063 FYI

This can be seen with commit 4097910d5bc262a073026aafc48961acec191914

[2020-02-20 21:13] chrysophylax opened #1913 "[BUG] No sound on Lenovo IdeaPad S540-13IML i7-10510U on ClearLinux w. kernel 5.5.3x"
**Describe the bug**
Failure to load drivers on i7-10510U leads to only Dummy Output being available.

What have you tried to diagnose or workaround this issue?
Running very recent kernel (5.5.3.x)

**To Reproduce**
Boot Intel ClearLinux 5.5.3 on a Lenovo S540 13IML with an i7-10510U CPU. No sound.

**Reproduction Rate**
Every time.

**Expected behavior**
Working sound card output selectable in GN

[2020-02-20 22:16] plbossart commented on #1913
You don't have a firmware file in /lib/firmware/intel/sof as shown in

[code]

[2020-02-20 22:17] ahkok commented on #1913
Yes, we need to package this and include it.

[2020-02-20 22:26] chrysophylax commented on #1913
Thanks for the explanations both of you.

@plbossart I went to check [releases](https://github.com/thesofproject/sof/releases) but I can' t see any sof-cml.ri file available there. Should I be looking elsewhere?

[2020-02-20 22:45] plbossart commented on #1913
sof-cml.ri should be a symlink to the latest firmware. We don't encode the version in the driver.

Edit: for CML use sof-cnl-v1.4.2.ri

[2020-02-20 23:20] chrysophylax commented on #1913
Progress!
I added `sof-cnl-v1.4.2.ri` to /etc/firmware/intel/sof on ClearLinux and created a symlink
[code]
And the error about sof-cml.ri went away in dmesg.

However, now it can' t find a topology file...

[code]

Where can I download this `sof-hda-generic-2ch.tplg` file?

[2020-02-21 03:36] ranj063 commented on #1812
@plbossart we specify the PCM capabilities only for the FE CPU dai's in topology. If we want these for the BE cpu dais, we'd need to add it to the skl_dai[] just like they've done it in the skylake driver

[2020-02-21 03:36] Liviali155 opened #1815 "[BUG][CML] System doesn't wake up automatically after suspend to s2idle"
**Describe the bug**
System can not be wake up auto after suspend in s2idle mode, need to press power key to wake up
Error not seen in deep mode

**To Reproduce**
1.sudo reboot
2.sudo rtcwake -m mem -s 10
3.wait  for system  to wake up automatically (should never wake up, unless you press keyboard)

**Reproduction Rate**
10/10

**Expected behavior**
System will wake up automatically

**Actual resu

[2020-02-21 03:36] ranj063 commented on #1812
Also iirc, we used to have this a long time ago and removed them because they were never really used but now with multi-cpu dai, maybe it is needed

[2020-02-21 03:38] Liviali155 commented on #1815
Bisect result:
Regression caused by kernel  commit 90c55e8d[](https://github.com/thesofproject/linux/commit/90c55e8d8d9c1da3b84b447be13522156c5700c6)

@kv2019i  please check it

[2020-02-21 03:44] sinahuang commented on #1806
Issue can't be reproduced after PR#1810 merged, so closed it.

[2020-02-21 03:44] #1806 closed

[2020-02-21 03:45] Liviali155 commented on #1815
On below platforms also can reproduce this issue
TGL-U RVP with onboard codec ALC711 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
CML Chrome with onboard codec RT5682 and RT1011 in I2S mode

[2020-02-21 04:31] YvonneYang2 opened #1816 "[BUG][SDW]Arecord0,4(RT715) cannot work with tplg in master branch."
**Describe the bug**
With sof-dev and master branch, arecord0,4(RT715) cannot work and will cause ipc error. If replace the tplg to master + PR2358, issue is gone.

Note: I used to update the alsa-lib for multi-profile ucm validation.  I'm not sure if this issue is relevant to it or not. Tried to test it with Pulse audio off, issue can still be reproduced.

alsa-lib deb file:
[libasound2_1.2.1.2-i

[2020-02-21 04:46] bardliao commented on #1812
@plbossart These error's are not all valid. You can see the most errors are cause by the opposite direction if you print dir, too. The valid errors are for the iDisps. It can be fixed by https://github.com/thesofproject/linux/pull/1817

[2020-02-21 04:50] YvonneYang2 commented on #1816
Tested it with latest sof-dev(dfd3776) and master(c35e1aa), issue can still be reproduced.

[2020-02-21 04:54] sinahuang commented on #1815
Issue also can reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode, but  on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode system can't wake after suspend to s2idle and deep mode.

[2020-02-21 05:29] YvonneYang2 commented on #1480
Found a RT715 record noise issue may be similar to this issue.
Noise is at the beginning of the record file. If could't hear it, please volume up the PGA5.0 5 in alsamixer capture and try it again.

CML-U and CML-H laptops can both reproduce it.

Test recipe:
Firmware: 247af13 https://github.com/thesofproject/sof/commits/master
Kernel: 6af9a26 https://github.com/bardliao/linux/tree/topic/sof-dev
t

[2020-02-21 09:54] perexg commented on #1747
I found it. I added a wrong check for the old firmware to allow booting 1.3 SOF FW with new kernels, but this check did not pass against corrected fw version number in 1.4.2:

https://github.com/thesofproject/sof/issues/2102
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/159055.html

The condition should be `if (v->abi_version > SOF_ABI_VER(3, 7, 0)) {` .

I will resend a bett

[2020-02-21 10:09] perexg commented on #1747
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-February/163649.html

[2020-02-21 10:44] lgirdwood commented on #1913
@chrysophylax can you check here https://github.com/thesofproject/sof-bin
This will be the fw, topology and debug file repo. It will be rebased over next few days as we are all aligning on layout, but you should be able to find everything.

[2020-02-21 10:50] kv2019i commented on #1815
We merged around 500 patches from upstream, so there's quite a bit to go through. I cannot get this on my CFL and APL systems, but I did get this on a CML system. I will continue bisect now, but at least this warning is printed on the CML:

[code]

[2020-02-21 10:56] sinahuang commented on #1816
Issue also can be reproduced on TGL-RVP Dmic(0,4). alsa-lib version: libasound2_1.1.3

[code]
**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit: dfd3776
FW:  https://github.com/thesofproject/sof/commits/master commit: c35e1aa
Tplg: Same with FW branch, sof-tgl-rt711-i2s-rt1308.tplg
Platform:TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode
[d

[2020-02-21 11:26] sinahuang commented on #1789
Arecord(0,1) can capture sound now on TGL-RVP with latest UCM commit: a257780, but now I need to unmute headset in alsamixer manually.

[2020-02-21 11:54] YvonneYang2 commented on #1815
Issue can be reproduced on CML-U Laptop with ALC711+ ALC1308+ ALC715 in SDW mode.

Then tested it with deep mode suspend/resume stress test. System works fine but demsg shows failed info like below:
[code]

[test_1.log](https://github.com/thesofproject/linux/files/4235868/test_1.log)
[s3_test_1_logger_all.log](https://github.com/thesofproject/linux/files/4235869/s3_test_1_logger_all.log)
[s3_test_

[2020-02-21 11:54] kv2019i commented on #1687
@aiChaoSONG Interesting. Based on the logs, I think the display-audio driver communication looks ok and one monitor is reported to be connected:

Feb 19 11:32:09 helios kernel: [    2.989491] [drm:intel_audio_codec_enable [i915]] ELD on [CONNECTOR:111:DP-2], [ENCODER:110:DDI C]
Feb 19 11:32:09 helios kernel: [    2.989545] [drm:hsw_audio_codec_enable [i915]] Enable audio codec on transcoder B, 36

[2020-02-21 11:59] sinahuang commented on #1790
Test with latest UCM commit: a257780, UCM can work now on TGL-RVP, keep monitor it.

[2020-02-21 12:20] kv2019i commented on #1747
@perexg Excellent, that's good news! As and we didn't have the "ASoC: SOF - topology - do not change the link triger order for old firmware" patch in vanilla upstream, we did not hit this. But ok, that makes sense. I'll test your patch your patch as well.

[2020-02-21 12:26] kv2019i commented on #1815
Ok, found the cuplprit, see #1819

I'll report this upstream and let's see how to solve this. It seems this is specific to waking up from RTC timer.
UPDATE: reported on linux-acpi list -> https://lore.kernel.org/linux-acpi/alpine.DEB.2.21.2002211426350.2957@eliteleevi.tm.intel.com/T/#u

[2020-02-21 16:59] ahkok commented on #1913
Are these releases going to be tagged, and signed?

[2020-02-21 17:04] ahkok commented on #1913
Looking at one of the branches, I see lots and lots of firmware files (great) but it's entirely unclear which ones are needed - are you going to at least add a sane, simple `Makefile` so that `make DESTDIR=<root> install` can just do the right thing and install the binary files into the right place for most Linux developers?

I can write it.... if you need.

[2020-02-21 17:19] lyakh commented on #1023
Update: attaching an archive with prebuilt qemu, firmware and topology images, 2 kernel configuration files and a QEMU launch script
[sof-virtio.zip](https://github.com/thesofproject/linux/files/4237222/sof-virtio.zip)

[2020-02-21 18:00] chrysophylax commented on #1913
@lgirdwood it seems you rebased the repo before I had time to pull down the tplg file. Any other place on the internet where it' s available?

[2020-02-21 19:05] plbossart commented on #1815
@YvonneYang2 @Liviali155 @sinahuang can you check with PR #1820 applied?

[2020-02-21 19:08] plbossart commented on #1023
@lyakh Can you provide an updated host-defconfig and guest-defconfig that are incremental fragments? We don't want an entire defconfig, just what's needed on top of the baseline. Thank you!

[2020-02-22 05:23] Liviali155 commented on #1815
Tried with PR #1820,error not seen on below platforms:
TGL-U RVP with onboard codec ALC711 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
CML Chrome with onboard codec RT5682 and RT1011 in I2S mode
CML with onboard codec ALC3204 in HDA mode

[2020-02-23 02:36] mengdonglin commented on #1798
@qinwan-hp Can you please share your email here or on GitHub personal profile? We want to understand if this is a HP device and who can support from codec driver side. Thanks!

[2020-02-23 03:11] mengdonglin commented on #1628
Seems to be the same issue as #1798 on an HP CML device. Set to P1 since this is a generic issue to refine power management implementation for SOF and Realtek codec driver.

[2020-02-24 08:20] sinahuang commented on #1790
UCM can work now on TGL-RVP, so closed it.

[2020-02-24 08:20] #1790 closed

[2020-02-24 10:18] Liviali155 commented on #1815
Tried with PR #1819,error not seen on
TGL-U RVP with onboard codec ALC711 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
CML Chrome with onboard codec RT5682 and RT1011 in I2S mode
CML with onboard codec ALC3204 in HDA mode

[2020-02-24 11:16] lgirdwood commented on #1913
@chrysophylax appologies, updated now - we are using a branch per release. please checkout stable- v1.4.2. It may still churn a bit.

[2020-02-24 11:44] chrysophylax commented on #1913
Great, thanks for the update @lgirdwood . I just downloaded https://github.com/thesofproject/sof-bin/blob/stable-v1.4.2/lib/firmware/intel/sof-tplg-v1.4.2/sof-hda-generic-2ch.tplg and will try it out on the laptop later today.

[2020-02-24 13:05] YvonneYang2 commented on #1815
Issue cannot be reproduced after applied PR1820 on CML-U sdw laptop.

[2020-02-24 13:27] YvonneYang2 commented on #1816
Tested it with latest topic/sof-dev(1d2ad93 ) + master( 1d273c3), issue cannot be reproduced on CML-U SDW laptop.

[2020-02-24 14:08] singalsu commented on #1604
The waveform looks like random bit flips. I didn't do statistics on samples but the impulse peak amplitudes especially in the silent recording by @keqiaozhang look non-random. Can the issue reporter do a codec loopback test to check that the audio bus does not corrupt audio?

There's no response to good comment by @plbossart . With a PCM that needs to support other than 48 kHz rate there's need to

[2020-02-24 18:25] danielcherubini opened #1883 "[BUG] [1.4.2] Profile not loading in Pulseaudio"
**Describe the bug**
There's two bugs here I think,
1. Pulseaudio won't load the profile `HiFi: Play HiFi quality Music (priority 8000, available: no)` I need to manually enable it and then Audio works fine
2. Restarting, or shutting down will result in a kernel panic, rolling back to 1.4.1 will resolve this issue.

This happens on Arch 5.4, 5.5, and 5.6 on a Lenovo C940

**To Reproduce**
It happe

[2020-02-24 18:26] danielcherubini commented on #1883
One of the things i notice, is that the profile HiFi now says it's not available.. what are the criteria for that?

[2020-02-25 01:20] sinahuang commented on #1815
Issue cannot be reproduced after applied PR1820 on CML-H  sdw laptop and TGL-U SDW RVP .

[2020-02-25 02:37] Liviali155 commented on #1815
PR #1820 merged,closed

[2020-02-25 02:37] #1815 closed

[2020-02-25 03:22] sathyap-chrome commented on #1604
@singalsu Initially this issue was reported on 44.1 and hence there was discussion on the same. Currently we can reproduce on 48k ( more harder) and hence we are looking at what ways can we approach the solution.

Codec loopback test was done by vendor himself. I will get in touch and get the details.

[2020-02-25 03:37] sathyap-chrome commented on #1604
@keyonjie @keqiaozhang is there a way we can dump data at SSP Rx to confirm the noise origin

[2020-02-25 05:25] sinahuang commented on #1816
Tested it with latest topic/sof-dev(8bf1a29 ) + master( 8b59506), issue still can be reproduced on TGL-RVP  with codec ALC711 in SDW mode and  RT1308 in I2S mode.

[dmesg.log](https://github.com/thesofproject/linux/files/4248175/dmesg.log)

[2020-02-25 05:28] sinahuang commented on #1789
Tested it with latest UCM, issue can't be reproduced on TGL-RVP with codec ALC711 in SDW mode and RT1308 in I2S mode, so closed it

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:8bf1a29
FW:  https://github.com/thesofproject/sof/commits/master commit: 8b59506
Tplg: Same with FW branch, sof-tgl-rt711-i2s-rt1308.tplg
Platform:TGL-U RVP with codec ALC711 i

[2020-02-25 05:28] #1789 closed

[2020-02-25 06:13] sathyap-chrome commented on #1604
@singalsu just to confirm, below is the alsa parameters supported from our end:

Confirmed that only 48k is reported as supported rate.

localhost ~ # alsa_conformance_test.py -C hw:0,0
9 passed, 0 failed
Device Information
        Name: hw:0,0
        Stream: CAPTURE
        Format: ['S16_LE', 'S24_LE', 'S32_LE']
        Channels: [2]
        Rate: [48000]
        Period_size range: [24, 4096]

[2020-02-25 06:34] keyonjie commented on #1604
@sathyap-chrome I believe FW team can debug and prove if the noise is generated by the FW if you can share the summarize information about how to reproduce it.

@tlauda @jajanusz @slawblauciak @wwittbrx can you help on this please?

@aiChaoSONG @keqiaozhang can we try to reproduce it on our CML Chrome book?

[2020-02-25 06:42] aiChaoSONG commented on #1604
@keyonjie I have seen a similar issue on ubuntu, I think it is the same root cause as this. https://github.com/thesofproject/sof/issues/2224.  we thought it is a hardware issue, so we closed it.

[2020-02-25 07:01] YvonneYang2 opened #1823 "[BUG][UCM]Parecord via DMIC will capture empty sound after turn down the input volume to zero then turn it up."
**Describe the bug**
System boot up or wake up from s3, then do parecord via DMIC(RT715). Turn down the input volume to zero directly then turn it up, DMIC will capture empty sound.

**To Reproduce**
1. Boot up system
2. Open sound setting. Choose DMIC input source.
3. Run command "parecord 1.wav -vvvv"
4. Turn down the input volume to zero directly then trun it up.

**Reproduced rate**
100%

**Ex

[2020-02-25 07:20] keyonjie commented on #1604
@aiChaoSONG looks shuming had verified that the output from codec is fine, we need to open and revisit, to root cause and find solution for it.

[2020-02-25 07:31] ClarexZhou commented on #1823
Error also seen on WHL laptop with UCM https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/LENOVO-20QE000VMC-ThinkPadX1Carbon7th-20QE000VMC and sof-v5.0 kernel+ cml-hda-dmic-002-drop-stable  firmware.
Error only occurred when drag volume to 0 in first volume change operation. Error not seen if switch volume to 0 via clicking 0 volume point directly

[2020-02-25 07:35] ClarexZhou commented on #1823
@libinyang @juimonen could you please check first?

[2020-02-25 07:49] juimonen commented on #1823
yes let me check.

[2020-02-25 07:55] mengdonglin commented on #1709
Will revisit this issue on OEM boards

[2020-02-25 08:24] YvonneYang2 opened #1824 "[BUG]DMIC muted status will change to unmuted status after unplug headset."
**Describe the bug**
DMIC mute status will change to unmute after unplug headset, and Mute LED will off.

**To Reproduce**
Step1:  No headset connection, DMIC is unmuted
Step2:  Plug in headset-> select DMIC in input source-> Mute DMIC
Step3: unplug headset ->DMIC is unmuted. LED also off
Step4: plugin headset again->DMIC is muted, LED also on.

**Reproduced rate**
100%

**Expected result**
DMIC s

[2020-02-25 09:08] YvonneYang2 opened #1825 "[BUG]Sink.monitor is used for parecord when parecord via DMIC"
**Describe the bug**
sink.monitor is used for parecord when parecord via DMIC after belowing steps.

**To Reproduce**
Step1: Headset is connected-> Headphone is selected as sound output source -> input source: select headset then select DMIC
Step2: ‘parecord 1.wav -vvv’
Step3: Unplug headset
Step4: Close the parecord in step 2, and trigger another parecord to check, sink.monitor is used for pareco

[2020-02-25 09:32] juimonen commented on #1823
@ClarexZhou can you check is the mute switch going "on" for some reason?
So something like "amixer contents | grep -i dmic -A 2" with both when you hear something and when things are silent.

[2020-02-25 09:36] YvonneYang2 commented on #1823
Belowing steps can also reproduce this issue on CML-U & H sdw  laptop.

1. Run command "areocrd -Dhw:0,4 -r 48000 -c 2 -f s16_le test.wav -vv -i" or "areocrd -Dhw:0,1 -r 48000 -c 2 -f s16_le test.wav -vv -i"
2. Turn capture volume"PGA2.0 2" to zero in alsamixer
3. Turn it back to normal volume.

[dmesg.log](https://github.com/thesofproject/linux/files/4249181/dmesg.log)
[logger.log](https://github

[2020-02-25 09:49] YvonneYang2 commented on #1823
Tested it with ww50 pv kernel+fw+ucm, issue cannot be reproduced.

[2020-02-25 09:51] ClarexZhou commented on #1823
Capture switch in amixer contens is already back to OK once error occurred. But can't capture any audio.  "Input level" always no data.   Can be recovered via system S3 then wake up.

[2020-02-25 09:55] ClarexZhou commented on #1823
On whl platform, only can reproduced via parecord, not reproduce via aplay

[2020-02-25 11:00] Liviali155 opened #1826 "[BUG][tgl]"no soundcards found“ after unplug HDMI&DP in shutdown state"
**Describe the bug**
"no soundcards found“ after unplug HDMI&DP in shutdown state
Unplug power supply, wait for about 3mins, then plugin power supply to power on can recovery

**To Reproduce**
1.sudo reboot
2.plugin HDMI/DP
3.unplug power supply
4.unplug HDMI&DP
5.plug in power supply to power on
6.aplay -l

**Reproduction Rate**
Tried 10times,reproduced 8times

**Expected behavior**
Sof can be lo

[2020-02-25 11:08] sinahuang commented on #1816
According to the bi-sect result this is a FW issue, because TGL-U RVP's FW can't be built manually.
 So I only can confirm issue may be generated by the commit from  https://github.com/thesofproject/sof/commit/b0ad9578a7864c602fa2c688cbcdc9b955235798 to https://github.com/thesofproject/sof/commit/53d35e49126612a819feace25de6cfd5bd609b44.

[dmesg.log](https://github.com/thesofproject/linux/files/42

[2020-02-25 11:12] ClarexZhou commented on #1824
Error also seen on WHL laptop when plug HDMI with UCM https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/LENOVO-20QE000VMC-ThinkPadX1Carbon7th-20QE000VMC and sof-v5.0 kernel+ cml-hda-dmic-002-drop-stable firmware.

[2020-02-25 11:13] ClarexZhou commented on #1825
Error also seen on WHL laptop when plug HDMI instead of headset with UCM https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/LENOVO-20QE000VMC-ThinkPadX1Carbon7th-20QE000VMC and sof-v5.0 kernel+ cml-hda-dmic-002-drop-stable firmware.

[2020-02-25 11:23] ClarexZhou commented on #1824
Error not seen after Disable “
load-module module-device-restore
load-module module-stream-restore
  load-module module-card-restore”
in /etc/pulse/default.pa.

But will also have below 2 issues once disable above function:
1.  Parecord used source will not change if select DMIC/ headset MIC from Sound input setting
2.  Mic will always auto unmuted after system reboot.

@libinyang @juimonen Could

[2020-02-25 11:23] ClarexZhou commented on #1825
Error not seen after Disable “
load-module module-device-restore
load-module module-stream-restore
  load-module module-card-restore”
in /etc/pulse/default.pa.

But will also have below 2 issues once disable above function:
1.  Parecord used source will not change if select DMIC/ headset MIC from Sound input setting
2.  Mic will always auto unmuted after system reboot.

@libinyang @juimonen Could

[2020-02-25 11:31] juimonen commented on #1824
@ClarexZhou I think this is the same thing as the mute led issues you've filed before... So we have 2 mic mutes behind 1 led. Currently sound-settings UI doesn't handle this very well (it kind of assumes individual leds for all sources.

I think in the end we should change the UI so that it remembers the mute and it is muting for all sources or unmute for all sources. Otherwise it is very difficul

[2020-02-25 13:05] juimonen commented on #1883
@danielcherubini the dmesg looks ok even though there are these "no reply expected" errors, they should not be fatal... can you paste here the oops dmesg you get with restart/shutdown (if you can get it to some file). If you can also find out the kernel version that would be nice...

If sof is crashing on boot you might not get alsa card at all, I think the profile could be unavailable if Pulseaud

[2020-02-25 13:56] chrysophylax commented on #1913
So it works fine for playback, 2ch sound is correctly being played. On the other hand, there is no microphone input available. Per spec, https://psref.lenovo.com/syspool/Sys/PDF/IdeaPad/ideapad_S540_13IML/ideapad_S540_13IML_Spec.PDF there should be some kind of microphone on the laptop.

[2020-02-25 15:40] plbossart commented on #1913
Can you paste the results of alsa-info.sh somewhere and provide a link? same for the dmesg log.

[2020-02-25 19:37] plbossart opened #1827 "[BUG] SDW: kernel oops when firmware is not authenticated"
On a platform configured with the firmware production key:

[code]

We seem to have a race condition, I could not reproduce this for now

[2020-02-26 02:35] keyonjie commented on #1793
@sathya-nujella can you help to check this as we don't have the platform here?

[2020-02-26 03:50] sinahuang opened #1828 "[TGL][BUG][SDW]" Unable to install hw params:" display when captured via arecord0,4(dmic)."
**Describe the bug**
" Unable to install hw params:" display when captured via arecord0,4(dmic).

**To Reproduce**
1. Boot up system..
2.  Arecord -Dhw:0,4 -r16000 -c4 -fs16_le 00.wav -vv -i

**Reproduced rate**
100%

**Expected result**
Arecord should work successfully.

**Actual result**
Dmesg shows "error: ipc error for 0x60010000 size 20" and arecord cannot work.

[code]

[code]
**Test recipe*

[2020-02-26 03:50] sinahuang commented on #1828
According to the bi-sect result this is a FW issue, because TGL-U RVP's FW can't be built manually.
So I only can confirm issue may be generated by the commit from thesofproject/sof@b0ad957 to thesofproject/sof@53d35e4.

[2020-02-26 04:17] sinahuang commented on #1828
split #1816

[2020-02-26 05:57] aiChaoSONG opened #1829 "[CML][Codec] rt5682 sysclk/dai not set correctly"
**Description**
Catch " i2c-10EC5682:00: sysclk/dai not set correctly" error after boot and module insertion.  No functional impact found.
This message is from rt5682 codec driver. once seen this error,  below code is jumped:
[code]

[2020-02-26 06:57] ClarexZhou commented on #1823
On SDW laptop, error only seen with tplg https://github.com/thesofproject/sof/commits/cml-010-drop-stable, commit: 5e5f69e + PR#2431. Error not seen with tplg wihout PR#2431.
For cml-u, sof-cml-rt711-rt1308-mono-rt715.tplg, need rename to sof-cml-rt711-rt1308-rt715.tplg to use.

[2020-02-26 07:10] juimonen commented on #1823
@ClarexZhou can you get "pactl list sources" and "pactl list source-outputs" when the error happens and before the error? If it is the switch in tplg, something is wrongly configured or some hidden mute is on...

[2020-02-26 07:10] ClarexZhou commented on #1823
Error not seen if using Master FW, commit a6726cf2,  with tplg https://github.com/thesofproject/sof/commits/cml-010-drop-stable, commit: 5e5f69e + PR#2431

[2020-02-26 07:15] ClarexZhou commented on #1823
Check on SDW laptop, error also seen with arecord after disabled pulseaudio.  Seems fw issue.

[2020-02-26 07:30] libinyang commented on #1823
This bug should be the fw issue. Master branch fw works well

[2020-02-26 07:54] singalsu commented on #1801
OK! I'll work with this after I've fixed the ASRC capture stall issue.

[2020-02-26 09:09] singalsu commented on #1809
Can you repeat the test for S24_LE with raw format, something like:

`arecord -Dhw:0,6 -f S24_LE -c 2 -r 48000 -d 5 -t raw rec06.raw`

The support for 24 bit wav type varies and there's a lot of bugs in audio applications for such format.

[2020-02-26 10:59] ClarexZhou commented on #1823
Close and track in
[[BUG][BUG][UCM]DMIC will capture empty sound after turn down volume to zero then turn it up.#2438 ](https://github.com/thesofproject/sof/issues/2438)

[2020-02-26 10:59] #1823 closed

[2020-02-26 11:17] sinahuang commented on #1792
Issue also can be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode if reboot with HDMI connected.

[2020-02-26 11:25] sinahuang commented on #1652
Original issue can't be reproduced after update latest UCM(commit: a257780), but Jack detection is off in amixer contents if reboot with HDMI connected, track this issue with #1792 , so closed it.

[2020-02-26 11:25] #1652 closed

[2020-02-26 11:29] sinahuang commented on #1816
Split TGL issue to #1828, so closed this issue.

[2020-02-26 11:29] #1816 closed

[2020-02-26 11:53] ClarexZhou opened #1831 "[Bug][CML][SDW]System cannot enter PC10 when SoundWire DKMS is loaded"
**Describe the bug**
System cannot enter PC10  when SoundWire DKMS is loaded.

**To Reproduce**
1. Boot up system
2. Enter s2idle and wake up (sudo rtcwake -m mem -s 10)
3. ‘cat /sys/kernel/debug/pmc_core/package_cstate_show’ to check C10 status.

**Reproduced rate**
100%

**Expected result**
Should get C10 value, like below after blacklist sof: for s2idle
![image](https://user-images.githubuserco

[2020-02-26 14:07] lgirdwood commented on #1023
@lyakh any chance you can create a sof-docs page describing all the steps needed to get things up and running (i.e. that were used to get your zip file demo working).

[2020-02-26 15:58] plbossart commented on #1831
I'd be worth testing with the latest topic/sof-dev kernel, the w50 release had limitations for clock-stop and power management

[2020-02-27 02:21] Liviali155 commented on #1809
I used aplay to playback fs24_le.wav and fs16_le.wav,the output is normal on mantis
aplay -Dhw:0,0 -r48000 -c2 -fs24_le fs24_le.wav -vv -i
aplay -Dhw:0,0 -r48000 -c2 -fs16_le fs16_le.wav -vv -i

But I used Audacity  to open  fs16_le.wav and fs24_le.wav,the Waveform as below：

fs24_le.wav

<img width="960" alt="fs24" src="https://user-images.githubusercontent.com/56707932/75405755-852c9e80-5949-11e

[2020-02-27 02:38] Liviali155 commented on #1809
I repeat the test with raw format used below command,then to aplay,the output is normal,but I can not use Audacity to check the waveform
[code]
[fs16.zip](https://github.com/thesofproject/linux/files/4259199/fs16.zip)
[fs24.zip](https://github.com/thesofproject/linux/files/4259202/fs24.zip)

[2020-02-27 03:05] keyonjie commented on #1809
@Liviali155 don't use Audacity to check the S24_LE format wave file, it won't be shown clear there.

[2020-02-27 03:30] YvonneYang2 commented on #1831
Here comes the lspci -vvv info when error occurred. @RanderWang Could you please have a look, thanks.

[error_package.txt](https://github.com/thesofproject/linux/files/4259343/error_package.txt)
[lspci_info.txt](https://github.com/thesofproject/linux/files/4259344/lspci_info.txt)

[2020-02-27 03:34] Liviali155 commented on #1792
On latest sof/dev +master,issue can only be reproduced with HDMI,DP is normal,tested on TGL HDA
Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware:  21f13448 https://github.com/thesofproject/sof/commits/master
Kernel: 8d47294d https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2020-02-27 05:43] YvonneYang2 commented on #1831
[lspci.txt](https://github.com/thesofproject/linux/files/4259659/lspci.txt)

[2020-02-27 05:53] ClarexZhou commented on #1831
wk50 released with ‘options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1'

[2020-02-27 06:39] YvonneYang2 commented on #1831
Tried to test with the latest topic/sof-dev kernel with the iso kernel kconfig, but the linux-image*.deb file seems cannot be installed. And dmesg shows it cannot find the right tplg. Thanks for @RanderWang 's help, it seems caused by the kernel config.

[2020-02-27 07:57] xiulipan commented on #1809
@singalsu @keyonjie @Liviali155 Checked with raw file and import raw with audacity
![image](https://user-images.githubusercontent.com/37825714/75423350-870e5600-5979-11ea-8db1-8a8ca6db852e.png)
It seems we do have some issue with format converter for 4-ch or for s24_le, will try to test with 2_ch dmic later.

Raw files attached.
[tgl_dmic.zip](https://github.com/thesofproject/linux/files/4260229/t

[2020-02-27 08:36] sinahuang commented on #1825
Error also can be reproduced on CML-H laptop with UCM https://github.com/thesofproject/alsa-ucm-conf/commits/sof_ucm-synchronized_speaker and cml-010-drop-stable(commit: 5e5f69e + PR#2431) firmware and sdw_release(commit :38d0dcd5) kernel.

[2020-02-27 08:41] juimonen commented on #1825
@ClarexZhou so I guess this is pulseaudio issue. Is this now using new pulseaudio and ver2 ucm?

[2020-02-27 08:46] ClarexZhou commented on #1825
Still using  UCM1.  CML -U SDW is using UCM https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm/sof-sdw-rt711-1308-715, commit: 39528c5  +  https://github.com/thesofproject/alsa-ucm-conf/pull/24.
But alsa lib is updated to 1.2.1.2 and pulseaudio is updated to your provided pulseaudio deb on WHL Laptop

[2020-02-27 11:09] YvonneYang2 commented on #1831
Tested it on latest topic/sof-dev with sof-default kconfig merged to the iso kernel kconfig, it can be loaded up successfully.  Then tried to do s2idle suspend/resume, seems it can enter PC10?
[code]

iso kernel kconfig:
[config-5.0.0-1033-oem-osp1.log](https://github.com/thesofproject/linux/files/4261241/config-5.0.0-1033-oem-osp1.log)

Kconfig which sof-default kconfig merged into iso kernel kco

[2020-02-27 11:24] lyakh commented on #1023
@plbossart https://github.com/thesofproject/kconfig/pull/26

[2020-02-27 11:31] lyakh commented on #1023
@lgirdwood I never used my .zip for creating a VirtIO SOF configuration from scratch. In fact I never tried that after I've created my original working one. We anyway need someone else to reproduce my result and during that he or she would test and update the documentation and possibly the .zip. Alternatively I can propose the following: I don't want to "virtualise" my second Up2 too nor to break

[2020-02-27 12:48] chrysophylax commented on #1913
Clear Linux updated kernel version to 5.5.6 (from 5.5.5) and we started getting kernel oopsies during boot that prevented loading of the desktop environment. Switching back to 5.5.5 and it worked. The inconvenience to my SO was 'fixed' by removing both the firmware and the topology files. Did something change between kernel versions that requires a new version of the firmware? We were using the 1.

[2020-02-27 12:54] kv2019i commented on #1747
Continued discussion on alsa-devel:
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-February/163892.html

@perexg If you are ok with the solution, I can close this bug.

[2020-02-27 12:55] kv2019i commented on #1747
Priority P1->P2 -- only happens with old FW.

[2020-02-27 12:58] lgirdwood commented on #1913
@chrysophylax any chance you can paste the dmesg showing the oops. To workaround boot crash in the past, I've had to manually prevent SOF modules being loaded at boot and then load afterwards by hand (i.e. tmp moving SOF module dir to ~/ for boot and then restore + modprobe)

[2020-02-27 13:11] chrysophylax commented on #1913
Sure, I'll try to capture them later during the day when I have access to the device again.

[2020-02-27 14:26] plbossart commented on #1913
I don't see anything critical between v5.5.5 and v5.5.6 for the sound subsystem

[code]

dmesg and/or bisect would help, thanks

[2020-02-27 16:00] perexg commented on #1747
Ok, I would close this, too. Appearently, my code has a wrong test and the new kernels don't require this hack for the older firmware, too. Thank you for your support.

[2020-02-27 16:00] #1747 closed

[2020-02-27 17:42] kv2019i commented on #1792
Tested today with TGL RVP and HDMI, but could not reproduce. @Liviali155 can you take log of the case with i915 traces enabled:

modprobe conf.d:
options drm debug=0x1e

OR with kernel cmdline:
drm.debug=0x1e

[2020-02-27 21:07] lgirdwood commented on #1023
@lyakh I mean a set of instructions that should be carried out to for anyone to use or test your code. e.g.
[code]

[2020-02-27 21:37] lyakh commented on #1023
@lgirdwood I understand what you mean. The only problem is - to write such a list I have to do all those steps myself again. The initial development process, of course, wasn't linear. You do 1, then you do 2a, then you see that that doesn't work, so you try 2b, etc. So, I have written an *approximate* such sequence on this exact page: https://github.com/thesofproject/linux/issues/1023#issuecomment

[2020-02-27 22:13] chrysophylax commented on #1913
This only happens on 5.5.6-914 contra previous 5.5.5. It will just stay hung with a black screen until power-cycled by button no matter how much time elapses. Here' s the oops and [dmesg](https://gist.github.com/chrysophylax/10e4e4ec8b2254e8600a6ad9d6bf155e)
[code]

[2020-02-27 22:55] plbossart commented on #1913
ACK, I can reproduce this error on 5.5.6, probably a bad merge happened, or missing patches in another series.

Thanks @chrysophylax for bringing this to our attention, we currently don't test -stable and that's a gap. @xiulipan @wenqingfu FYI.

[2020-02-27 23:35] plbossart commented on #1913
Bisected to
'ASoC: SOF: Intel: hda: Fix SKL dai count'

Gah, this is embarrassing. The patch that added the new DAI is missing in stable...
Anyways, we should really not use macros for array elements  but ARRAY_SIZE.

[2020-02-27 23:45] plbossart commented on #1913
temporary work-around until we fix this with the -stable folks:

[code]

@chrysophylax do you have an email I can use for a Reported-by tag - assume you don't mind?

[2020-02-28 01:56] ClarexZhou commented on #1734
Error is fixed on cml-010-hot-fix branch. Close

[2020-02-28 01:56] #1734 closed

[2020-02-28 01:58] ClarexZhou commented on #1732
Error is fixed on below UCM. Close
for CML-U: https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm/sof-sdw-rt711-1308-715
commit: 39528c5  +  https://github.com/thesofproject/alsa-ucm-conf/pull/24
for CML-H: https://github.com/thesofproject/alsa-ucm-conf/commits/sof_ucm-synchronized_speaker  commit:c59ddc14

[2020-02-28 01:58] #1732 closed

[2020-02-28 02:10] chrysophylax commented on #1913
@plbossart billy@redpill-linpro.com should be fine

[2020-02-28 07:40] Liviali155 commented on #1792
log as attachment
[drm.log](https://github.com/thesofproject/linux/files/4265784/drm.log)

[2020-02-28 09:48] sathyap-chrome opened #1838 "Feedback from RT1011 - channels are swapped at every session"
On CML platform, we have RT1011 smart amp providing feedback. we have 4 CH feedback ( from 4 individual speakers) enabled with attached Topology ( m4 is attached too)

Test procedure:
Play a known audio sample ( preferably sine tone) on Speakers
Record 4 ch data on Feedback PCM ( hw:0,10) for few seconds and make multiple recordings.
Each file shows feedback to be different - ideally they should b

[2020-02-28 09:49] sathyap-chrome commented on #1838
@keqiaozhang Please reproduce one time and then we can see how to proceed debug. Codec vendor informs that the codec side, there is no channel swap.

cc @keyonjie @aiChaoSONG

[2020-02-28 11:40] juimonen commented on #1825
@ClarexZhou isn't it so that the UI (and the metering) is still recording from the correct source? So somehow the UI can move to correct source but parecord can't..

[2020-02-28 12:27] Liviali155 commented on #1826
Changed kernel to 20191212(commit:c985ebd2)error not seen
Changed kernel to 20200117(commit:ef674192),issue can be reproduced

[2020-02-28 12:51] Liviali155 commented on #1826
On latest sof/dev(20200228),commit:[0ce0ab9e](https://github.com/thesofproject/linux/commit/0ce0ab9ea1cb8a6445655dae367efac7ccababd0),phenomenon is below:
After unplug HDMI&DP in shutdown mode,then power on,there is no HDMI/DP Jack in amixer contents
<details>
 <summary>amixercontentsnormal</summary>

[code]
</details>

<details>
 <summary>amixercontentsfaill</summary>

[code]
</details>

At this

[2020-02-28 18:13] Duologic commented on #1883
I think the kernel panic is as described in https://bugs.archlinux.org/task/65635
The panic happened on kernel 5.5.6, rolling back to 5.5.5 with sof-firmware 1.4.2 resulted in the 'unavailable' profile.

I didn't do more research and downgraded to kernel 5.5.2 with sof-firmware 1.4.1 (also alsa-lib 1.2.1.2) and the [CarbonX1 fix](https://gist.github.com/hamidzr/dd81e429dc86f4327ded7a2030e7d7d9) to

[2020-02-28 18:59] plbossart commented on #1883
we provided a fix for 5.5-stable yesterday, see https://github.com/thesofproject/sof/issues/2418#issuecomment-592234791

[2020-02-28 19:13] danielcherubini commented on #1883
fantastic thanks.

[2020-03-02 02:40] aiChaoSONG commented on #1808
let's close this, since this has no impact

[2020-03-02 02:40] #1808 closed

[2020-03-02 03:25] YvonneYang2 opened #1843 "[BUG][CML]Sound from aplay0,0(RT711) and aplay0,2(RT1308) auto speed up."
**Describe the bug**
Sound from Aplay0,0(RT715) or Aplay0,2(RT1308) auto speed up.  options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "play -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"

**Reproduced rate**
100%

**Expected result**
Sound from Aplay0,0(RT715) or

[2020-03-02 03:32] YvonneYang2 opened #1844 "[BUG][CML]Pause/release at very fast rate will cause ipc error for 0x60060000 size 12, then DSP panic!"
**Describe the bug**
Pause/release at very fast rate on all pipline will cause ipc error for 0x60060000 size 12, then DSP panic! options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "play -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. Do pause/release at very fas

[2020-03-02 04:00] YvonneYang2 opened #1845 "[BUG][CML]Switch source in sound setting will cause DSP panic."
**Describe the bug**
Switch output source(mostly occurred in aplay0,0(RT715) and aplay0,2(RT1308)) in sound setting will cause DSP panic! options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "paplay test.wav -vvv"
3. Switch output source in sound setting.

**Reproduced rate**
80% If not

[2020-03-02 04:11] YvonneYang2 opened #1846 "[BUG][CML]Multipipline stress test will cause I/O error, if try it again, will cause DSP panic!"
**Describe the bug**
Multipipline test will cause I/O error, if try it again, will cause DSP panic! options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "./multiplex_pipeline-test_update.sh pcm0p pcm2p pcm5p pcm1c pcm4c"
3. Check failed logs in folder named "logs"

**Reproduced rate**
1

[2020-03-02 04:16] keyonjie commented on #1838
@sathyap-chrome can you help clarify:
1. you are playing *stereo*(2 channels) sine wav output to speakers,
2. you are capturing 4 channels(actually only channel 0/1 has data input) which expected the channel 0/1 getting the exact output of the playback channel 0/1 and 0s at channel 2/3.

3. is it possible to probe the output/input on the SSP pins on your side?

Hi @aiChaoSONG @keqiaozhang let's tr

[2020-03-02 04:17] YvonneYang2 commented on #1831
Tested it with sof-dev compiled via kconfig which sof-default kconfig merged into iso kernel kconfig + cml-010-hotfix branch, compared to sof-dev+master, found 4 issues as below:
#1843
#1844
#1845
#1846

[2020-03-02 04:21] aiChaoSONG commented on #1838
@keyonjie could you please have a look at https://github.com/thesofproject/sof/pull/2430, and see if this merged PR has any influence on the abnormal behavior mentioned in this issue?

[2020-03-02 04:24] sathyap-chrome commented on #1838
@keyonjie

you are playing stereo(2 channels) sine wav output to speakers

you are capturing 4 channels(actually only channel 0/1 has data input) which expected the channel 0/1 getting the exact output of the playback channel 0/1 and 0s at channel 2/3

    Hence feedback will have data on all 4 channels.
    The 4 individual codecs play 2 CH playback but provide feedback individually.
    Refer TD

[2020-03-02 04:36] keyonjie commented on #1838
the PR is to divide playback/capture channel numbers, I believe it won't fix channel swapping issue.

[2020-03-02 04:37] keyonjie commented on #1838
@sathyap-chrome can you help upload the playback and captured .wav files?

[2020-03-02 04:46] sathyap-chrome commented on #1838
This has 2 captured files. playback for this case was just normal music playback.
[008_aec.zip](https://github.com/thesofproject/linux/files/4273463/008_aec.zip)

If you need sinewave for testing, here it is -

[left1KHz_right777Hz.zip](https://github.com/thesofproject/linux/files/4273473/left1KHz_right777Hz.zip)

I'll send out the captures from this file in a few minutes

[2020-03-02 05:11] aiChaoSONG commented on #1838
On sof-dev + master, seems reocrd nothing. @sathyap-chrome @keyonjie
![record4ch](https://user-images.githubusercontent.com/52959957/75647214-40757000-5c87-11ea-8ff8-e59cc493004f.jpg)

[2020-03-02 05:13] sathyap-chrome commented on #1838
@aiChaoSONG did you make the topology modification ?
I've shared the tplg and also m4 for reference . You need to test only on the Helios device.

 Can you try the SOF 0.8 backport on chrome first ?

[2020-03-02 05:29] aiChaoSONG commented on #1838
@keyonjie   @sathyap-chrome result on 008 backport(Chrome OS) is below.
![recorded4ch4](https://user-images.githubusercontent.com/52959957/75648962-a1537700-5c8c-11ea-9a05-22197004eae1.png)

@sathyap-chrome @keyonjie Now, I understand what the issue is.  the wave seems on different channel slot at each recording.

[2020-03-02 05:43] sathyap-chrome commented on #1838
@aiChaoSONG please do multiple recordings (during same playback) and check the snaphot.. above is only 1 recording, we need to compare 2 recording.

[2020-03-02 05:47] keyonjie commented on #1838
@aiChaoSONG did you play the left1KHz_right777Hz file Sathya shared?

[2020-03-02 05:56] aiChaoSONG commented on #1838
@keyonjie The problem is here: we have two channel with sound, and there are 4 recording channels, the two with sound distribute randomly on the 4 recording channels. sometimes on ch1&ch2, sometimes on ch1&ch4. you can see the picture I attached above.   file used for playback is the one Sathya shared.

[2020-03-02 06:01] sathyap-chrome commented on #1838
@aiChaoSONG this is correct 👍  https://github.com/thesofproject/linux/issues/1838#issuecomment-593226941

The feedback should actually get data from SSP Rx and its mapped to codec.
there are 4 individual channels on feedback. its not a playback loopback. if its behaving the way you mentioned, its actually incorrect.

[2020-03-02 06:08] keyonjie commented on #1838
@sathyap-chrome @aiChaoSONG let's try to verify if the issue exist with hardware loopback mode(codec playback output jack connected to capture input jack).

[2020-03-02 06:16] Liviali155 opened #1847 "[BUG]TGL] No HDMI/DP Jack detection item in amixer contents after reboot without HDMI&DP connected"
Describe the bug
No HDMI/DP Jack detection item in amixer contents after reboot without HDMI&DP connected
Plugin HDMI&DP,then reboot can recovery

To Reproduce
1.Unplug power supply to power off
2.Plug in power supply to power on  without HDMI/DP connected
3.amixer contents to check HDMI/DP jack detection

Reproduction Rate
Tried 5times,reproduced 5times

Expected behavior
"amixer contents" can ch

[2020-03-02 06:28] Liviali155 commented on #1826
On latest sof/dev, the error "no soundcards found"   not seen,the issue After unplug HDMI&DP in shutdown mode,then power on,there is no HDMI/DP Jack detection in amixer contents  has created a new issue https://github.com/thesofproject/linux/issues/1847,closed this issue

[2020-03-02 06:28] #1826 closed

[2020-03-02 11:06] lgirdwood commented on #1023
@lyakh interactive help doesn't scale. There are 3 main things to build
1) Guest kernel
2) Host kernel
3) Qemu.
The VM disc image and installing guest kernel can be left out (since it can differ depending on guest).
The only other important things are
4) host kernel config (where to install host/guest topologies).
5) Qemu command line.
That should be all that's needed. I'm not asking for command l

[2020-03-02 11:47] keyonjie commented on #1838
@sathyap-chrome can you submit a PR with your topology change? then FW/driver team can debug with it. @jajanusz @tlauda FYI.

[2020-03-02 11:50] YvonneYang2 opened #1849 "[BUG]Sink.monitor is used for parecord when parecord via DMIC when select headset in output source"
**Describe the bug**
sink.monitor is used for parecord when parecord via DMIC after belowing steps. Might related to https://github.com/thesofproject/linux/issues/1825

**To Reproduce**
Step1: Headset is connected-> select Headset then select Speaker in output source
Step2: Select DMIC in input source.
Step3: ‘parecord 1.wav -vvv’
Step4: Close the parecord in step 3
Step5: Select headphone in outp

[2020-03-02 11:52] ClarexZhou commented on #1825
DMIC is manually  selected as input source after plug in headset.  Then unplug headset, still using DMIC.  But close parecord and tirgger another parecord, sink.monitor instead of DMIC is used.

[2020-03-02 12:16] juimonen commented on #1825
@ClarexZhou yeah this is because parecord uses different logic than metering in ui-settings (it has also record stream open). In this case source becomes unavailable and for some reason stream-restore saves sink.monitor as source...

BTW I talked to pulseaudio developers, currently pulseaudio doesn't support a feature where recording would be moved to another source if the first one becomes unavai

[2020-03-02 12:32] juimonen commented on #1825
@ClarexZhou so can you replicate this in X1 with HDMI? I tried and it is quite hard to get it... I think I got it once, but it is quite random.

[2020-03-02 12:52] Liviali155 opened #1850 "[BUG][TGL]"ipc error for 0x60060000" when do pause/resume test with multipipeline(random)"
Describe the bug
"ipc error for 0x60060000" when do pause/release test with  multipipeline(random)
After error occured aplay/arecord again,it can work normal

To Reproduce
1.sudo reboot
2.plugin HDMI&DP
3.open 6 terminal to run below commands Separately
[code]
4.do pause/release Separately

Reproduction Rate
Tested 3times,reproduced 1time

Expected behavior
There is no I/O error when do pause/rele

[2020-03-02 14:15] lkraav opened #1879 "I: [pulseaudio-13.99.1] alsa-util.c: Error opening PCM device hw:sofhdadsp,6: No such file or directory"
Machine: Dell XPS 13 7390 Ice Lake
Kernel: 5.5.7-gentoo+
Alsa-info: http://alsa-project.org/db/?f=e46cd6d581178ee8251c0d54b458cde23441ad11
Pulseaudio: 13.99.1
SOF-firmware: 1.4.2

Something is preventing Pulseaudio from completing profile initialization. Everything is as up to date as can be, as of today. Only error I'm seeing is in issue title. Full pulseaudio debug log below for reference. Any t

[2020-03-02 16:03] juimonen commented on #1879
@lkraav I think the "6" is hard coded in alsa machine driver for dmic (or at least it was like that some time ago). You could check with arecord -l as the dmic should be listed there...

[2020-03-02 17:51] lkraav commented on #1879
I added arecord output

[code]

Not sure what to make of it?

[2020-03-02 18:22] juimonen commented on #1879
@lkraav hmm ok, to me it looks like you wouldn't have digital mics for some reason (so the driver at least seems to think so). @plbossart you have any idea? Is is that we don't have correct machine driver loaded?

[2020-03-02 18:30] lkraav commented on #1879
Hmmm, I would assume Ice Lake laptops would have it across the board, right?

[code]

DMIC

[code]

[2020-03-02 18:36] juimonen commented on #1879
@lkraav yes I meant the hw would be there but it is not _detected_ by the driver, or correct version is not loaded etc.. I'm currently not at the office, so can't check (and can't remember by heart) how the dmic should exactly look like. let me get back to you tomorrow or someone else with more knowledge will answer you before that... :)

[2020-03-02 18:48] plbossart commented on #1879
@lkraav can you attach the full dmesg log (with dynamic debug enabled).
Not all devices have DMICs, we have to look at an NHLT property to find out.

[2020-03-02 19:52] lkraav commented on #1879
So `dyndbg="+p"` was a bit overkill, not sure I can attach that anywhere :dancing_men: any suggestions for a smaller query scope that could work here?

Maybe a `grep dmic` of that boot does the trick?

PS I had `CONFIG_SPI=n`, not sure if related, but enabled it (saw Ice Lake in device description list).

[code]

[2020-03-02 20:48] lkraav commented on #1879
I find I also have to force `snd_intel_dspcfg.dsp-driver=3` for things to even enter SOF mode, even though I have `blacklist snd-hda-intel`.

Auto-detection definitely failing here in some way.

[2020-03-02 22:02] plbossart commented on #1879
If you can recompile the kernel, it's just simpler to add -DDEBUG in the parts you want, e.g.
https://github.com/thesofproject/linux/blob/65f9d39d7beba2832311cc3e09e824fd27f7334d/sound/soc/sof/Makefile#L3

add this for sound/soc/sof/Makefile and sound/soc/sof/intel/Makefile

You should not need any blacklists or options. I don't use them. It's better to remove all this and see why things are not d

[2020-03-03 02:10] ClarexZhou commented on #1843
Error seen with Kernel: sof-dev + FW: cml-010-hot-fix.
Error not seen with Kernel: sof-dev + FW: master commit: c3db256

[2020-03-03 02:10] ClarexZhou commented on #1844
Error seen with Kernel: sof-dev + FW: cml-010-hot-fix.
Error not seen with Kernel: sof-dev + FW: master commit: c3db256

[2020-03-03 02:11] ClarexZhou commented on #1845
Error seen with Kernel: sof-dev + FW: cml-010-hot-fix.
Error not seen with Kernel: sof-dev + FW: master commit: c3db256

[2020-03-03 02:11] ClarexZhou commented on #1846
Error seen with Kernel: sof-dev + FW: cml-010-hot-fix.
Error not seen with Kernel: sof-dev + FW: master commit: c3db256

[2020-03-03 02:52] sathyap-chrome commented on #1838
Sure. But we can use the attached one ( in 1st comment) for now until i post the same.

[2020-03-03 05:48] ClarexZhou commented on #1825
Tried again, error can be 100% reproduce via below steps:
1. HDMI is connected,  hdmi is selected as output source
2. parecord 1.wav -vvv to ensure DMIC is used for capture. [Can plugin headset and select DMIC if wasn't ]
3. Unplug HDMI, parecord in step 2 is still using DMIC
4. Stop previous Parecord and trigger another parecord to check.  -> sink.monitor is in use now.

[2020-03-03 05:52] ClarexZhou commented on #1849
Error also seen on WHL laptop when using HDMI instead of headset.  UCM https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/LENOVO-20QE000VMC-ThinkPadX1Carbon7th-20QE000VMC and sof-v5.0 kernel+ cml-hda-dmic-002-drop-stable firmware.

[2020-03-03 08:02] Liviali155 commented on #1847
drmlog as attachment
[drm.log](https://github.com/thesofproject/linux/files/4279971/drm.log)

[2020-03-03 09:30] kv2019i commented on #1847
@Liviali155 @mengdonglin This is a probably a new case of HDMI codec probe failing. With recent patches to support systems without i915, HDMI probe errors will not block SOF probe completely, but HDMI functionality will be disabled.

The dmesg logs you provide do not cover the probe part, so I cannot confirm the finding, but you should see something like:

kernel: [   14.365535] sof-audio-pci 0000

[2020-03-03 09:35] YvonneYang2 commented on #1812
Issue cannot be reproduced on latest topic/sof-dev(top commit:65f9d39 ) + master(top commit:4f3f93d). So close it.

[2020-03-03 09:35] #1812 closed

[2020-03-03 09:48] kv2019i commented on #1792
@Liviali155 The DRM log is so verbose that it fills the dmesg buffer very quickly and e.g. this log is missing lot of events from the early boot. You can overcome by increasing the dmesg size. "log_buf_len=1M" should be sufficient. You can add this e.g. with following to to /etc/default/grub:

GRUB_CMDLINE_LINUX_DEFAULT="quiet splash log_buf_len=1M"

[2020-03-03 11:44] YvonneYang2 commented on #1480
Error not seen with master commit: 182e62a1
Error still seen with master+https://github.com/thesofproject/sof/pull/2358

[2020-03-03 11:49] singalsu commented on #1801
I started with

[code]
Would you like to preserve "num_pdm_active"? The IPC with fixed array size no more needs it. The driver code already checks if request for PDM[N] is zeros or populated since we support e.g. running of PDM[1] while PDM[0] is kept idle.

Removing it might force a major version bump. Should this be done only as minor version change?

[2020-03-03 12:03] singalsu commented on #1801
Also this "id" could be removed for simple 1:1 mapping from IPC to PDM controllers and external microphone pins.

[code]
It would simplify the IPC but delay until major version bump. Thoughts are welcome @plbossart @ranj063 @lgirdwood @lbetlej

[2020-03-03 12:36] singalsu commented on #1799
This could be in rather ugly way worked around in FW by extrapolating mute and volume control for two channels to cover all stream channels if urgent. A proper fix is very hard since it is possibly ALSA/ASoC wide, not just SOF. And we need @juimonen 's experience from UCM if we need true N channel volume control or can SOF topology make it appear as N/2 stereo volume controllers. I think that's th

[2020-03-03 12:41] kv2019i commented on #1847
@Liviali155 I could reproduce this at least once on my system. Key things to hit:
 - does not happen if I enable drm logs
 - does not happen if I have a monitor connected
 - does not happen if I disable PM from i915 (kernel cmdline: i915.disable_power_well=0)

This would seem like a regression as I can not reproduce this at all with sof-dev commit af7aae1b1f6306a1cda4da393e920a1334eaa3d4
I'll try

[2020-03-03 12:48] Liviali155 commented on #1847
Yes ,on my side,if enable drm logs,I tried 10times,but only reproduced once
if disable drm logs.can reproduce every time

[2020-03-03 13:09] perexg commented on #1879
It appears like UCM configuration problem. From the logs there is probably no digital microphone on this platform.

@lkraav : If you use the legacy HDA driver (snd_intel_dspcfg.dsp-driver=1), does the internal microphone work?

[2020-03-03 13:26] lkraav commented on #1879
@perexg yep works, been rolling with `snd_hda_intel` ever since acquiring this machine 1 month ago.

Can we decipher DMIC existence from ACPI data tables with certainty? Feels like the lowest burdain method.

[2020-03-03 13:41] Liviali155 commented on #1792
On my tgl-u,after update to A6 Silicon,issue can not be reproduced when reboot with HDMI, but DP can not work
Update to A2 Silicon,issue can not be reproduced when reboot with HDMI,but issue can be reproduced when reboot with DP

[2020-03-03 15:08] lyakh commented on #1023
@lgirdwood also the firmware and 2 topologies. And yes all that is described on this page. There's also a .zip with QEMU, topology and firmware binaries to make the kick off easier. Also there's a qemu launch script. The command line is long with many options and you also have to prepare network bridging on the system.
Sure, I can do an .rst but it won't work anyway - you don't want references to

[2020-03-03 15:20] singalsu commented on #1480
That's correct, we do not have end ramp in driver / firmware. Such could help to mitigate end pop.

[2020-03-03 15:27] singalsu commented on #1480
When looking at waveform it can be seen that a high-pass IIR would fix this. Also the capture volume ramp (defined by volume tokens) should be longer. Not sure if it's defined in this topology but we have in most topologies a mistake that makes the volume tokens global in the flat .conf file and the winning token is a random lottery.

I'm confused why this happens again. Is not the mute switch top

[2020-03-03 16:53] plbossart commented on #1801
It's more on the firmware side that this matters, and if we already have something that tells use the number of valid structures it's simpler to use it.

Also no burning desire to remove the ID, just remove variable lengths when they are not really needed.

[2020-03-03 17:15] lyakh commented on #1023
@lgirdwood done https://github.com/thesofproject/sof-docs/pull/190

[2020-03-03 17:47] plbossart commented on #1829
@aiChaoSONG it's probably harmless.
The codec registers a set of clocks, but they only make sense when the codec is clock master.
We use the codec in clock slave mode, so those clocks are useless.

Still it's not clear why we end-up preparing a clock that we don't need.

@oder-chiou FYI

[2020-03-03 18:08] sebcarlucci opened #1853 "[BUG][SOF-DRIVER] "error: NULL capture subtream" when creating PCM to PCM pipeline"
**Describe the Bug**

The SOF Kernel driver fails to initialize a pipeline with two PCM endpoints.
This is what the pipeline looks like:
_PCM0 --> [Audio Components] -> PCM1_

**To Reproduce**

1- Create a pipeline with two PCM endpoints. (pipe-volume-loopback.m4)
2- Update the topology file for the board board you are using. In my case I used sof-glk-da7219.m4
3- Load FW and topology.

**Reproduc

[2020-03-03 18:18] kv2019i commented on #1847
Ok, I managed to bisect the issue. It unfortunately seems to be this commit I made to i915:
f4b18892dca8 drm/i915: Limit audio CDCLK>=2*BCLK constraint back to GLK only

The trouble is that without this patch, we get flicker during boot:
https://gitlab.freedesktop.org/drm/intel/issues/913

So now we have two showstopper issues, either we get the flicker, or we get HDMI probe errors on some platfor

[2020-03-03 18:22] dbaluta commented on #1853
@paulstelian97 This looks interesting. Tagging you here to have a talk tomorrow.
@sebcarlucci I am not sure we support this scenario but definitely is something we want to have.

What is your expected behavior?

I remember that once I looked with @paulstelian97 at this scenario and we reached the conclusion that a playback pipeline should always start at Host and end at DAI while the record piplei

[2020-03-03 20:41] plbossart commented on #1853
I am not sure this shortcut can work

a) the driver assumes a front-end/back-end partition, here you don't seem to have a back-end dailink.
b) doesn't the DAI provide the scheduling information (timer or DMA)? Not sure if a pipeline can figure out how to deal with data/timing on its own.
c) if the intent is to create an echo reference then I think the recommendation is to use a demux?

@ranj063 @l

[2020-03-03 20:57] plbossart commented on #1735
@Liviali155 is this still current or can we close?

[2020-03-03 21:01] plbossart commented on #1799
@singalsu it's not 'ugly' for a N>2 channel stream to have a single volume/mute, and then separate volumes if they are 'unlocked'. Even for stereo, it's not uncommon to have a single volume and keep volume changes locked.

[2020-03-03 21:03] plbossart commented on #1719
@keqiaozhang is this bug still current? it's been going on for ~2 months now.

[2020-03-03 21:06] plbossart commented on #1700
not an SOF bug, closing.

[2020-03-03 21:06] #1700 closed

[2020-03-03 21:10] plbossart commented on #1179
@keyonjie I think we implemented everything listed in this enhancement, can we close?

[2020-03-03 21:11] plbossart commented on #1302
@kv2019i this is probably obsolete, no?

[2020-03-03 21:14] plbossart commented on #830
closing, @jajanusz @ranj063 re-open if necessary.

[2020-03-03 21:14] #830 closed

[2020-03-04 01:40] aiChaoSONG commented on #1179
@plbossart  We still need to remove some redundant code:
- hda_dsp_ipc_is_sof in hda-ipc.c can be removed, because FW_PURGE will never propagate to IRQ thread, so this function for filter it out can be safely removed.
- wait_event_timeout(sdev->waitq, !sdev->code_loading,  HDA_DSP_CL_TRIGGER_TIMEOUT); the wait on code_loading in hda_loader.c line182 always return 0, which indicate timeout. so sdev

[2020-03-04 02:05] keyonjie commented on #1179
@plbossart I think the item 2 had already done by @ranj063 , for item 1, @aiChaoSONG can you re-activate and proceed your PR please?

[2020-03-04 02:27] mengdonglin commented on #1879
@lkraav : can you share more info about your machine model?
Is it a Dell Latitude 7390 2-in-1 Laptop, with Intel Core i5-8350U, similiar to this one?
https://www.amazon.com/Dell-Latitude-7390-13-3inch-Touchscreen/dp/B07K2LMDGQ/ref=asc_df_B07K2LMDGQ/?tag=hyprod-20&linkCode=df0&hvadid=309818716690&hvpos=&hvnetw=g&hvrand=5748957374971564684&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=

[2020-03-04 02:48] aiChaoSONG commented on #1179
@keyonjie The PR for item 1 is here #1854.

[2020-03-04 07:09] YvonneYang2 opened #1855 "[BUG][SDW][CML-H]"ASoC: physical link SDW2-Playback (id 3) not exist" occurred when boot up."
**Describe the bug**
Occurred "ASoC: physical link SDW2-Playback (id 3) not exist" when system boot up.
Check kernel with top commit 65f9d39 cannot reproduce the issue. So it seems a regression, @bardliao @RanderWang Could you please help to have a look.

**To Reproduce**
1. Boot up
2. Check dmesg.

**Reproduced rate**
100%

**Expected result**
System boot up successfully

**Actual result**
Dmesg

[2020-03-04 07:56] singalsu commented on #1799
@plbossart In this case (with the FW based controls extrapolation approach) a 4ch volume would unlock into two controls only. There would be no way to control each gain separately. The use could not know which microphone remains pairs with same gain.

Two expose control to each channel the topology should for alsamixer convert a N channel volume into N/2 volume instances those appear to be in casc

[2020-03-04 08:15] RanderWang commented on #1855
@bardliao    can you help to update topology ?  Now cml-h is going to support multi-cpu DAI mode.

[2020-03-04 08:22] keqiaozhang commented on #1719
@emilchudzik
Could you help to verify this issue with latest sof-dev on your JSL device? Thanks .

[2020-03-04 08:55] bardliao commented on #1855
Yes, I can update the topology. But we will meet DSP panic issue if we try to duplicate a stream to different ALH out.

[2020-03-04 08:57] juimonen commented on #1855
@bardliao let me see the topology you are trying to use, I'll check the demux blob is fine...

[2020-03-04 09:14] sathyap-chrome commented on #1838
@keyonjie as  discussed , i tested the feedback by making it 2 CH TDM SLOT

-               SSP_TDM(4, 25, 3, 15),
+               SSP_TDM(4, 25, 3, 3),

With this i dont get any data when i record from the feedback PCM.
![image](https://user-images.githubusercontent.com/48010719/75863482-90d70400-5e26-11ea-808c-6391109b91a2.png)

[2020-03-04 10:07] lkraav commented on #1879
Thanks for pointing out my vague model description, I updated opening comment.

It's actually the XPS 13 7390 (gotta love DELL's overlapping enumeration schemes!) https://www.notebookcheck.net/Dell-XPS-13-7390-2-in-1.425189.0.html with Intel Core i7-1065G7 CPU

[2020-03-04 11:07] lgirdwood commented on #1853
On the FW side we need https://github.com/thesofproject/sof/issues/2478. Pipeline can configure on timer if no DAI is connected on topology.

For the driver, it is more complicated since it's always assumed a PCM will have a BE DAI. The 2 options are :

1) Add support for PCM to PCM topologies.
[code]
This needs more core logic to support no BE DAI as a valid pipeline. Will need scoped.

2) Use ``

[2020-03-04 15:33] plbossart commented on #1799
@singalsu if we have 4 channels, I don't understand why we would need 2 pairs of gains.
usually there is one gain for all channels, or separate gains for each channel. pairing by 2 makes no sense to me.

[2020-03-04 16:05] juimonen commented on #1799
@plbossart I think @singalsu tried to explain it above... we don't have easy means of exposing single 4 channel volume control to user space. 2 channels are hard coded in asoc layer mixer creation, even though we would introduce 4-channel volume in topology. I don't know if anyone has seen > 2ch mixer volume control in amixer or alsamixer with asoc code related chip? (not an evil question, I'm jus

[2020-03-05 01:18] Liviali155 commented on #1792
I have increased the dmesg size,drm log as attachment
[drm0305.log](https://github.com/thesofproject/linux/files/4290425/drm0305.log)

[2020-03-05 03:40] ClarexZhou opened #1861 "[BUG][CML][UCM]Speaker/Headphone playback in alsamixer is still muted after selected as output source"
**Describe the bug**
Speaker/Headphone is still muted in alsamixer after selected as output source from system sound setting.

Note: The speaker playback mute/unmut status on alsamixer is different thing with pulseaudio speaker output mute/unmute via system sound setting.

**To Reproduce**
Step1: Headset is connected-> select Headset as output source
Step2: alsamixer, press M to mute Speaker playb

[2020-03-05 03:42] ClarexZhou commented on #1861
Error not seen with below ucm:
for CML-U: https://github.com/thesofproject/alsa-ucm-conf.git +PR#28
for CML-H:https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm-synchronized_speaker_4_with_enable_switches

[2020-03-05 06:42] YvonneYang2 commented on #1480
Issue cannot be reproduced on master branch, but can still be reproduced on cml-010-hotfix branch. @libinyang  Could you please help to have a look.

[2020-03-05 06:57] ClarexZhou opened #1862 "[Bug][UCM][CML]One time pop noise output via internal speaker when plug headset during paplay"
**Describe the bug**
One time pop noise output via internal speaker when plug in headset or unplug headset during paplay

Note: This pop noise is observed from PR#24 [split profile and enable source auto switch when plug in /unplug headset]. Error not seen without PR#24.  Error also seen with PR#28

**To Reproduce**
Step1: paplay wav/music.wav -vvv
Step2: Plug in headset
Step3: Unplug headset
Step

[2020-03-05 06:57] ClarexZhou commented on #1862
@libinyang please help to check first

[2020-03-05 06:58] #1861 closed

[2020-03-05 07:01] ClarexZhou commented on #1862
The pop noise sound like the pop noise in scenario #1376

[2020-03-05 07:32] libinyang commented on #1862
This bug should not be related to UCM or pulseaudio.
It can easily be reproduced by aplay. Seems to be codec driver or fw or controller driver issue.

[2020-03-05 11:10] bardliao commented on #1862
@ClarexZhou Could you use the following command to mute/unmute in playback and see if there is a pop when mute/unmute?
``amixer cset name='Speaker Switch' 0``
and
``amixer cset name='Speaker Switch' 1``

[2020-03-05 11:31] ClarexZhou commented on #1862
@bardliao   no this pop noise if using above cset instead of headset plug.
Here is the amixer contents with and without headset with UCM PR#24
[24headset.txt](https://github.com/thesofproject/linux/files/4292732/24headset.txt)
[24speaker.txt](https://github.com/thesofproject/linux/files/4292734/24speaker.txt)

Here is the amixer contents with and without headset with UCM PR#28
[noheadset.txt](http

[2020-03-05 12:11] ClarexZhou commented on #1862
Error also can be reproduced with below steps:
1. paplay 1.wav -vvv
2. open system sound setting, select output source, to switch sources between Speaker and Headphone.

Error not seen on UCM without PR#24 or without PR#28.

[2020-03-05 13:10] libinyang commented on #1376
We found starting or stopping (ctrlC) playback in aplay will also meet a similar issue. I'm not sure if it is  the same bug with this issue. I suggest we reopen this issue or maybe better to open a new bug for aplay starting or stopping with ctrlC.

[2020-03-05 13:58] emilchudzik commented on #1719
Issue exists on my JSL (HDA mode).
kernel: 24d97816/sof-dev
FW: c35e1aa6/master

Steps:
- aplay works well before S3
- S3 works
- aplay don't start after S3, it seems like freeze after enter command. Even if I check: "aplay -l" this commant last about 20-30sec to display output.
In dmesg I see:
![image](https://user-images.githubusercontent.com/41113230/75988066-50908800-5ef1-11ea-9d49-5c2d270fcf9

[2020-03-05 15:48] kv2019i commented on #1719
@emilchudzik Does HDMI work before S3 on this platform? The error:

[  714.317335] snd_hda_codec_hdmi ehdaudio0D2: Unable to sync register 0x2f8100. -5

.. is typically seen when the hardware is something our HDMI codec driver does not identify. We recently added one JSL variant more, but I wonder if there is still more, or there is an issue with your kernel config.

To debug this further, can you

[2020-03-05 18:18] kv2019i commented on #1792
@Liviali155 Thank you! This helps a lot. This is starting to look like a i915 issue.

There's a monitor connected and the monitor ELD is found:
[    2.019369] [drm:drm_add_edid_modes [drm]] ELD size 36, SAD count 1
[    2.019384] [drm:drm_add_display_info [drm]] non_desktop set to 0

But when audio driver asks at boot, which monitors are connected, valid ELD is not returned for any monitor. This i

[2020-03-06 01:39] ClarexZhou commented on #1831
This 4 issues are not reproduced with Kernel: sof-dev, commit:65f9d39d, and FW: cml-010-hot-fix, commit: 0ed0dba + https://github.com/thesofproject/sof/commit/f73332eafedf5443f01bf26027fde2578e847ced#

[2020-03-06 02:23] keyonjie commented on #1179
@aiChaoSONG good, can you do the item 2 you listed above also?

[2020-03-06 02:57] mengdonglin commented on #1376
Seems to the same issue to https://github.com/thesofproject/sof/issues/2203

[2020-03-06 03:54] ClarexZhou commented on #1849
Error not seen after update pulseaudio to https://gitlab.freedesktop.org/juimonen/pulseaudio/-/tree/lenovo_test3. Close

[2020-03-06 03:54] #1849 closed

[2020-03-06 03:54] ClarexZhou commented on #1825
Error not seen after update pulseaudio to https://gitlab.freedesktop.org/juimonen/pulseaudio/-/tree/lenovo_test3. Close

[2020-03-06 03:54] #1825 closed

[2020-03-06 03:57] ClarexZhou commented on #1398
Pulseaudio issue. Close for should work with pulseaudio https://gitlab.freedesktop.org/juimonen/pulseaudio/-/tree/lenovo_test3. Close

[2020-03-06 03:57] #1398 closed

[2020-03-06 05:39] YvonneYang2 opened #1865 "[SDW][BUG]Pop noise occurred when terminate aplay0,2(RT1308) or aplay0,0(RT711) via "Ctrl+C""
**Describe the bug**
Pop noise occurred when terminate aplay0,2(RT1308) or aplay0,0(RT711) via Ctrl-C.

**To Reproduce**
1. Boot up.
2. Aplay 0,2 via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. Terminate it by "Ctrl+C". If issue not reproduced, please try step2/3 more times.

**frequency**
Not each terminate will occur pop noise. Do step2/3 10 times, could reprodu

[2020-03-06 05:46] YvonneYang2 opened #1866 "[SDW][BUG]Pop noise occurred when switch to background/foreground during aplay0,2(RT1308) or aplay0,0(RT711)"
**Describe the bug**
Pop noise occurred when terminate aplay0,2(RT1308) or aplay0,0(RT711) via "Ctrl-C".

**To Reproduce**
1. Boot up.
2. Aplay 0,2 via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. Switch to background via "Ctrl+z" and switch to foreground via "fg".  If issue not reproduced, please try step2/3 more times.

**frequency**
Not each time occurred pop no

[2020-03-06 05:48] YvonneYang2 commented on #1376
Split background/foreground scenario to https://github.com/thesofproject/linux/issues/1866
Split terminate via "Ctrl+c" scenario to https://github.com/thesofproject/linux/issues/1865
Split Start scenario to https://github.com/thesofproject/linux/issues/1867
Split pause/resume secnario to https://github.com/thesofproject/linux/issues/1869

[2020-03-06 06:11] YvonneYang2 opened #1867 "[SDW][BUG]Pop noise occurred at the beginning of aplay0,2(RT1308) or aplay0,0(RT711)"
**Describe the bug**
Pop noise occurred at the beginning of aplay0,2(RT1308) or aplay0,0(RT711)

**To Reproduce**
1. Boot up.
2. Aplay 0,2 via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"

**frequency**
Not each time occurred pop noise. Do step2/3 10 times, could reproduce about 5 times.

**Expected result**
Should not have any pop noise.

**Actual result**
Pop noise

[2020-03-06 07:14] Liviali155 opened #1868 "[BUG][GLK]"ipc timed out for 0x60040000 size 12" when run Check-playback: Stress - 100x"
**Describe the bug**
"ipc timed out for 0x60040000 size 12" when run Check-playback: Stress - 100x
After error occured,all the pipeline can not work,reboot can recovery

**To Reproduce**
1.cd sof-test(as attachment)
2.cd test-case
3. ./check-playback.sh -d 1 -l 100 -r 1

**Reproduction Rate**
3/3

**Expected behavior**
There is no I/O error when run playback stress

**Actual result**
I/O error,dme

[2020-03-06 07:41] Liviali155 commented on #1868
It seems a Firmware regression,I changed the Firmware to 20200305(commit:9e1a2b25),error not seen,I will transfer it

[2020-03-06 08:15] YvonneYang2 opened #1869 "[SDW][BUG]Pop noise occurred when do pause/release during aplay0,0(RT711) or aplay0,2(RT1308)"
**Describe the bug**
Pop noise occurred during aplay0,0(RT711) or aplay0,2(RT1308)

**To Reproduce**
1. Boot up.
2. Aplay 0,2 via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. PUSH_PAUSE and PUSE_RELEASE. Interval time between pause/release is about 0.5s

**frequency**
Not each PUSH_RAUSE/PUSH_RELEASE will occur pop noise. Pause/release 10 times, reproduced 5 times.

[2020-03-06 08:50] YvonneYang2 commented on #1869
Tested with nocodec tplg, please see the picture and attached wave.

![PauseRelease](https://user-images.githubusercontent.com/50347470/76067167-ea2b6880-5fc9-11ea-958b-bd31120c7e7f.png)

[sine_releaseatPause.zip](https://github.com/thesofproject/linux/files/4297358/sine_releaseatPause.zip)

[2020-03-06 08:51] emilchudzik commented on #1719
ok, I will check HDMI.

I just check dmesg and playback that I run yesterday (19h ago made S3) and playback currently keep working:
![image](https://user-images.githubusercontent.com/41113230/76067526-d2cf8980-5f8f-11ea-8d87-fae53b9dd587.png)

[2020-03-06 08:51] YvonneYang2 commented on #1865
Tested with nocodec tplg, please see the picture and attached wave.

![ctl-cToStop](https://user-images.githubusercontent.com/50347470/76067681-bd2b8580-5fca-11ea-8b7c-55bba7f39d95.png)

[2020-03-06 08:53] MayurVirkar opened #1870 "[BUG] Microphone not detected"
**Describe the bug**
Unable to detect microphone input

**To Reproduce**
Upgrade to kernel 5.6

**Expected behavior**
Microphone to be detected..

**Impact**
Annoyance..

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.6.0-rc4-1-mainline
    * SOF: 1.4.2-1

**Screenshots or console output**
**Dmesg**
[code]
**

[2020-03-06 08:53] YvonneYang2 commented on #1866
Tested with nocodec tplg, please see the picture and attached wave.

![forgroundBg](https://user-images.githubusercontent.com/50347470/76067785-e9470680-5fca-11ea-8934-d56e719ce663.png)
![forgroundBg_zoomedin](https://user-images.githubusercontent.com/50347470/76067798-ed732400-5fca-11ea-8006-f32a6485f4e7.png)

[sine_fg.zip](https://github.com/thesofproject/linux/files/4297367/sine_fg.zip)

[2020-03-06 09:29] sinahuang commented on #1865
Issue also can be reproduced on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode, but can't be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode.

[2020-03-06 09:29] sinahuang commented on #1866
Issue also can be reproduced on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode, but can't be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode.

[2020-03-06 09:29] sinahuang commented on #1867
Issue also can be reproduced on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode and TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode.

[2020-03-06 09:30] sinahuang commented on #1869
Issue also can be reproduced on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode, but can't be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode.

[2020-03-06 10:00] YvonneYang2 commented on #1867
Tested with nocodec tplg, please see the wav picture.

![Screenshot from 2020-03-06 17-56-54](https://user-images.githubusercontent.com/50347470/76073250-45625880-5fd4-11ea-9e60-e900fa03ca78.png)
![Screenshot from 2020-03-06 17-57-41](https://user-images.githubusercontent.com/50347470/76073257-485d4900-5fd4-11ea-81e1-c88692b5b68e.png)

[2020-03-06 10:14] kv2019i commented on #1870
Thanks @MayurVirkar for filing the separate logs and the new logs. This seems like a kernel issue, so I'll move this to the driver component.

[2020-03-06 10:20] kv2019i commented on #1870
@MayurVirkar When you say microphone is not detected, how do you exactly detect this? Via sound settings UI or looking at ALSA logs?

I ask because the logs actually look fine and the alsa-info print even states the dmic devices are up and running:
http://alsa-project.org/db/?f=0009909a465159bb2d8c79d1330df1aa7110508a
[code]

If the microphone works at ALSA level, that means that driver and firmwa

[2020-03-06 12:38] emilchudzik commented on #1719
@kv2019i I haved just check issue again with headphones connected to monitor.
Playback works through HDMI2 after reboot and before entering S3.
After S3 playback doesn't work. Some time later it recover as I describe comments above.

Logs:
[proc_asound_card0_codec2.txt](https://github.com/thesofproject/linux/files/4298314/proc_asound_card0_codec2.txt)

[dmesg4_aplay_afterS3.txt](https://github.com

[2020-03-06 13:17] kv2019i commented on #1719
Thanks @emilchudzik ! The kernel config is ok, as is the proc asound dump. This looks very close to #1763 but the fix for that is included in the kernel tree you quoted (24d97816ea7d731d32895bdc17c5c4af68a6e8f2 ), so it is not helping.

So it seem on audio side everything is as it should, but graphics side is not coming back alive after S3. Let's see if we could have other people reprouce this.

I

[2020-03-06 17:40] katsar0v opened #1877 "How do I install SOF under Ubuntu 18.04 LTS?"
This not a bug, but rather a feature request (maybe for docs). I have Dell Inspiron 7590 which has no microphone working when a fresh Ubuntu is installed (the 3.5mm jack does not work as well). ArchLinux -https://wiki.archlinux.org/index.php/Dell_Inspiron_15_(7590) says it works with the newest sof firmware, but how do I install it under Ubuntu?
I hope not every new Dell user has to clone this rep

[2020-03-06 17:47] fredoh9 opened #1871 "[BUG][SDW][CML] arecord record only silence with headset mic"
This is tested with CML_RVP_SDW platform. Software doesn't matter, I saw this ever since.

- linux (topic/sof-dev)  = ac3abc56
- sof (master) =	9ebb2881
- Topology file = sof-cml-rt700.tplg

Headset playback works fine after setting HPO Mux to 0.
`$ amixer cset name='HPO Mux' 0`

but for arecord on headset mic it has only silence.
[code]

Looks jack is detected. All ADC gains set to MAX. No luck.

[2020-03-06 19:07] plbossart commented on #1865
@YvonneYang2 does this happen with the master branches for fw and kernel?

I don't know if we have a good solution, when playback is interrupted the link remains on for some time but the data transfers will stop abruptly. Even if we push zeroes on the link we'd still have discontinuities so maybe this is an amplifier issue.

@shumingfan @bardliao what do you think?

[2020-03-06 19:09] plbossart commented on #1866
@YvonneYang2 same question as for issue #1865, does this happen with the master branches.

This is the same case of abrupt stops and discontinuities in the data, there's not much we can do at the SOF level. Only the amplifier could do something here.

[2020-03-06 19:15] plbossart commented on #1870
There is still something very odd about the logs and IPC issues:

[code]

@MayurVirkar could you try with our latest development kernel?
https://github.com/thesofproject/linux/tree/topic/sof-dev

Thanks!

[2020-03-06 19:32] plbossart commented on #1877
@katsar0v I assume you meant you have Ubuntu 19.10 with its v5.3 kernel, yes?

In that case you should only need firmware and topology files. If I am correct, would you be willing to test some of our install procedures, we are still in need of downstream beta testers.

Thanks!

[2020-03-06 19:35] plbossart commented on #1871
@fredoh9 do you have a UCM file or do you still use asound.conf files?

[2020-03-06 19:56] katsar0v commented on #1877
@plbossart I rolled back to Ubuntu 18.04 LTS but have `5.3.0-40-generic` (from `uname -r`)

I tried building from scratch - https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html but it is really complicated and I would like something more simpler.

As for beta testers - I can do this, as long as I don't have to re-install my whole Ubuntu on a daily basis, it is

[2020-03-06 19:59] plbossart commented on #1877
ok, let's try to help, one step at a time.

Step1: make sure the SOF driver is selected:

with 5.3, you need to do this:

gedit /etc/modprobe.d/alsa-base.conf

add
blacklist snd-hda-intel
blacklist snd-soc-skl

reboot and share the alsa-info.sh link

[2020-03-06 20:02] katsar0v commented on #1877
Here you go: http://alsa-project.org/db/?f=6112e1ee9ab2014a99f3cc1c4a726575ad104943

I see this now (which I did not before):

![image](https://user-images.githubusercontent.com/7236157/76118490-f3c6c780-5fed-11ea-965a-4cd149f4350b.png)

Edit: I also see this in `pavucontrol`:

![image](https://user-images.githubusercontent.com/7236157/76118799-5cae3f80-5fee-11ea-8e6d-7d9a24de1408.png)

(seems lik

[2020-03-06 20:12] plbossart commented on #1877
ok, so the driver is already loaded and the card created.

IIRC with older solutions based on the 1.3 firmware we had a very low gain for the dmic, and it was barely usable.
can you play with alsamixer and boot the gains for PGA10.0 and PGA11.0 by 20dB?

https://github.com/thesofproject/sof/issues/1675#issuecomment-519915444

[2020-03-06 20:37] katsar0v commented on #1877
![image](https://user-images.githubusercontent.com/7236157/76120839-a436ca80-5ff2-11ea-89d7-9810aa706056.png)

This is what my `alsamixer` shows. When I visit a voice recorder online, it records the taps on my laptop.

Edit: 3.5mm headphones work now, just mic does not

Edit 2: choosing "Stereo Output + Multichannel Input" allows Chrome to record sound. Choosing "Stereo Output + Stereo Input" give

[2020-03-06 20:43] fredoh9 commented on #1871
@plbossart I don't have UCM for this platform. If you have it, can you share the link?

[2020-03-06 21:29] plbossart commented on #1877
@katsar0v F4 to select capture and scroll right until you see PGA10.0 and PGA11.0, then boost them to the max

[2020-03-06 21:30] katsar0v commented on #1877
![image](https://user-images.githubusercontent.com/7236157/76123979-1068fc80-5ffa-11ea-8feb-34fac918d1dd.png)

this is what I could see,  the 4 columns on the right were on 50%

Edit: the bar here increases, but it is all white noise I think:

![image](https://user-images.githubusercontent.com/7236157/76124152-5b830f80-5ffa-11ea-8602-95ea9b2bae26.png)

Edit 2: here is a gif demo (no voice activity

[2020-03-06 21:46] plbossart commented on #1877
forget PulseAudio, can you test with

arecord -Dhw:0,6 -c2 -r48000 -f S32_LE -d 10 mytest.wav

if this doesn't work try with -c4 and S24_LE, I don't recall the options

and input this into audacity

[2020-03-06 21:48] katsar0v commented on #1877
Damn this worked! `mytest.wav` recorded my voice. Should I upload the file? I am not sure what to do with it in audacity

[2020-03-06 21:55] plbossart commented on #1877
I meant look at the waveform, but if you can hear your voice then that's fine.

So what I think is happening is that your UCM file is wrong.

That should be in /usr/share/alsa/ucm/sof-hda something.

Can you attach the HiFi.conf it here?

[2020-03-06 21:57] katsar0v commented on #1877
The quality from the `.wav` is really good, I don't think audacity is needed. Here is a screenshot as I could not find sof-hda something:

![image](https://user-images.githubusercontent.com/7236157/76125778-d0a41400-5ffd-11ea-9211-f52a2d0be092.png)

Edit thesofproject/sof#2: just so that you know where I have `HiFi.conf` (no idea what this file is):

![image](https://user-images.githubusercontent.

[2020-03-06 22:04] plbossart commented on #1877
ok, so you don't have a UCM file, that explains why things are broken.

I will have to include @juimonen on this one. Jaska, do you know where we can find a UCM file with hdaudio + mic support that would work with the 5.3 kernel, 1.3 firmware and Ubuntu 18.04 LTS?

@katsar0v please be patient until Monday, it's the week-end already in most parts of the world :-)

[2020-03-06 22:09] katsar0v commented on #1877
@plbossart thanks so much for the help! There is hope for my mic and I could hear my voice (in a super good quality)

Just guessing - https://github.com/plbossart/UCM/tree/master/skl_hda_card this has the same name as my card from here:

![image](https://user-images.githubusercontent.com/7236157/76126475-74da8a80-5fff-11ea-9f3d-c099d9163393.png)

[2020-03-06 22:13] plbossart commented on #1877
if you want to experiment before Monday, I took the last UCM file I could find

alsa-ucm-conf$ git checkout 3a2d80ecb74ee4cd02449873ece0407c7da0da4e

[sof-hda-dsp.tar.gz](https://github.com/thesofproject/sof/files/4300671/sof-hda-dsp.tar.gz)

copy this to /usr/share/alsa/ucm and reboot, you should see the dmics. There might be a dependency on alsa-lib though

[2020-03-06 22:14] plbossart commented on #1877
Intel makes good products :-)

don't use this, I no longer maintain it.

[2020-03-06 22:19] katsar0v commented on #1877
![image](https://user-images.githubusercontent.com/7236157/76126995-e2d38180-6000-11ea-870d-cab8111dc74b.png)

![image](https://user-images.githubusercontent.com/7236157/76127042-f5e65180-6000-11ea-99c9-30448878c779.png)

Nothing changed after reboot. Do you think I should install `alsa-lib` ?

[2020-03-06 22:35] plbossart commented on #1877
@katsar0v we'd need to see the pulseaudio logs then.

The best would be to edit /etc/pulse/client.conf (or daemon.conf), then set autospawm = no

then reboot, open a terminal, and kill all pulse audio instances, if any

then run pulseaudio -vvv &> log.txt, and attach the log.txt. That should tell us what's wrong in the UCM file.

[2020-03-06 22:41] katsar0v commented on #1877
![image](https://user-images.githubusercontent.com/7236157/76128190-eb798700-6003-11ea-91c6-12a4deb79c9b.png)

Here you go:

[log.txt](https://github.com/thesofproject/sof/files/4300780/log.txt)

This looks interesting:
[code]

[2020-03-06 23:13] plbossart commented on #1877
this is fine, not a real error since there's a fallback

ok so this is likely because there's a name mismatch. I know there were changes in the _ and - used for the card name, so you probably need to match the name of the card with the name of the UCM file.

That's just silly I know :-)

Make sure all files match the card name

[2020-03-06 23:22] katsar0v commented on #1877
This is what I see after changing the files:

![image](https://user-images.githubusercontent.com/7236157/76130048-9fc9dc00-6009-11ea-9a42-22727717d090.png)
![image](https://user-images.githubusercontent.com/7236157/76130056-a5bfbd00-6009-11ea-99e2-2d5175213764.png)

Log.txt - https://file.io/v2XXbM / https://justpaste.it/1q08a

Interesting:

[code]

[2020-03-06 23:29] plbossart commented on #1877
ok let's see on Monday what @juimonen thinks. Have a nice week-end.

[2020-03-07 06:34] juimonen commented on #1877
@katsar0v, we should have some working ucm for 18 LTS ubuntu's here:
https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1

It should at least get the ucm loaded, if you could try that, let's see after that what happens :)

Your Pulseaudio will use software volumes, which should work (I think). If you want hw volumes and possible mute leds blinking you need to update pulseaudio and sof topo

[2020-03-07 08:21] katsar0v commented on #1877
@juimonen I can see the input now (and it reacts on my voice):

![image](https://user-images.githubusercontent.com/7236157/76139866-d547e700-6054-11ea-932a-d46a7aa67289.png)

Recording voice works in firefox:

![image](https://user-images.githubusercontent.com/7236157/76139874-f14b8880-6054-11ea-8997-0b2dae5f216c.png)

Edit: my laptops fan tends to be noisy, and the mic catches the fan's noise, is

[2020-03-09 01:44] bardliao commented on #1865
@plbossart I can see this issue with latest kernel and fw code. And it happens not only when terminate but also start. The pop doesn't sound like discontinuities. The pop is much louder than the music if I set the volume to a very low level. However, there is no pop if I play with /dev/zero.

[2020-03-09 01:53] YvonneYang2 commented on #1865
Error still seen when playing same level audio file 

[2020-03-09 01:53] YvonneYang2 commented on #1869
Error still seen when playing same level audio file 

[2020-03-09 01:53] YvonneYang2 commented on #1867
Error still seen when playing same level audio file 

[2020-03-09 01:53] YvonneYang2 commented on #1866
Error still seen when playing same level audio file 

[2020-03-09 02:02] ClarexZhou commented on #1869
This pop noise sound same with https://github.com/thesofproject/sof/issues/2203

[2020-03-09 02:59] shumingfan commented on #1865
@plbossart I want to do a silent playback test and @bardliao had completed it. If there is no pop with this test, I think the pop noise doesn't come from the codec.

[2020-03-09 06:32] YvonneYang2 commented on #1869
Checked on latest sof-dev + master, still can produce it.
Then tried headset loopback noise, got the snapshot and wav.

Sine wav:
![Capture](https://user-images.githubusercontent.com/50347470/76191286-f279e280-6219-11ea-914c-d99809bd2379.PNG)
wav files:
[sinewave.zip](https://github.com/thesofproject/linux/files/4304951/sinewave.zip)

Same level wav:
![ause_release pngP](https://user-images.github

[2020-03-09 06:35] YvonneYang2 commented on #1865
Checked on latest sof-dev + master, still can produce it.
Then tried headset loopback noise, got the snapshot and wav.

Sine wav:
![Ctrl_C](https://user-images.githubusercontent.com/50347470/76188456-0a9a3380-6213-11ea-8622-d541a51336b1.PNG)
[sinewave.zip](https://github.com/thesofproject/linux/files/4304958/sinewave.zip)

Same level wav:
![Ctrl_C](https://user-images.githubusercontent.com/5034747

[2020-03-09 07:57] aiChaoSONG commented on #1179
@keyonjie PR for item 2 is here: https://github.com/thesofproject/linux/pull/1875

[2020-03-09 08:22] MayurVirkar commented on #1870
@kv2019i
Expecting to see it in Manjaro Sound Manager.
Any pointers towards configuring UCM?

@plbossart
Sure, will do it and keep you updated!
Thanks!

[2020-03-09 09:52] kv2019i commented on #1870
@MayurVirkar wrote:

Ok, then driver+firmware are likely ok and you are just missing the Pulseaudio configuration.

We've been contributing the needed UCM rules to upstream:
https://github.com/alsa-project/alsa-ucm-conf/tree/master
... and alsa-ucm 1.2.x releases all support these platforms with SOF and digital mics.

There has been lot of development around UCms recently, so to you the 1.2.x rele

[2020-03-09 11:11] sinahuang opened #1876 "[BUG][TGL]Arecord sound have some overshoot noise output when captured via DMIC0,4."
**Describe the bug**
Arecord sound have some noise output when captured via DMIC0,4.

**To Reproduce**
1. Boot up system and waiting for suspend.
2.  Arecord -Dhw:0,4 -r16000 -c4 -fs16_le 00.wav -vv -i
3. Check the beginning of captured wav files .

**Reproduced rate**
5/5

**Expected result**
Arecord sound should be normally and no noise output.

**Actual result**
Arecord sound have some overshoo

[2020-03-09 13:54] emilchudzik commented on #1719
after enter command for extend log buffer to 1M and
`echo 0x1f > /sys/module/drm/parameters/debug`
catched dmesg: [dmesg_drm_before_S3.txt](https://github.com/thesofproject/linux/files/4306973/dmesg_drm_before_S3.txt)

then I enter S3:
[dmesg_drm_after_S3.txt](https://github.com/thesofproject/linux/files/4306974/dmesg_drm_after_S3.txt)

then run aplay - which "freeze", doesn't work
[dmesg_drm_afte

[2020-03-09 14:14] kv2019i commented on #1719
Thanks @emilchudzik !

First thing that pops from the logs that you are missing i915 firmware on the test device:
[    3.502994] i915 0000:00:02.0: Direct firmware load for i915/icl_dmc_ver1_09.bin failed with error -2
[    3.503002] i915 0000:00:02.0: Failed to load DMC firmware i915/icl_dmc_ver1_09.bin. Disabling runtime power management.
[    3.503004] i915 0000:00:02.0: DMC firmware homepage:

[2020-03-09 15:28] plbossart commented on #1877
Summary of the required changes:

0. update the kernel to v5.3

1. edit /etc/modprobe.d/alsa-base.conf to add

blacklist snd-hda-intel
blacklist snd-soc-skl

2. fetch https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/sof-skl_hda_card
and copy the directory to /usr/share/alsa/ucm

[2020-03-09 15:34] plbossart commented on #1870
Manjaro uses pacman for packages, so *someone* will have to update the alsa-lib version to 1.2.2 and likewise package the ucm2 latest versions.

[2020-03-09 15:45] kv2019i commented on #1870
@plbossart wrote:

Well, distrowatch.com lists many hundreds of active Linux distributions ;) , so we just have to implement and fix the upstream projects and let the distro ecosystem do its thing.

In case of Manjaro, it's based on ArchLinux which has active maintenance for these packages, e.g.1.2.2 is already there:
https://www.archlinux.org/packages/extra/x86_64/alsa-lib/

WIth Rawhide, latest

[2020-03-09 19:53] plbossart commented on #1876
@sinahuang do you also see this with the regular 48kHz capture?

Wondering if the filters @singalsu worked on are enabled in 16kHz mode, or if they need to be different?

[2020-03-09 19:54] plbossart commented on #1871
@bardliao @shumingfan do you have a UCM file or settings needed to enable the headset capture with rt700?

[2020-03-09 20:03] plbossart commented on #1855
@RanderWang Can I suggest that you add a version of the machine driver with no multi-cpu dais for the amplifiers, that way we can test for regressions in parallel with @bardliao's work?

Edit: for example add a quirk that's false for now, and we set it to true when the synchronized playaback is enabled.

[2020-03-10 01:54] bardliao commented on #1871
@fredoh9 I don't have UCM for CML + rt700. Please see the settings below for rt700 capture.
[code]

[2020-03-10 02:06] sinahuang commented on #1876
Issue still can be reproduced with the regular 48kHz capture.

[2020-03-10 03:35] keyonjie commented on #1604
reopen it, to help to proceed for the fix.

[2020-03-10 08:15] kv2019i commented on #1862
@mengdonglin This is missing an assignee -- P1 bug with no updates in 5 days

[2020-03-10 08:23] mengdonglin commented on #1879
@lkraav thanks and we'll try to get this Dell laptop and check SOF compatibility on it.

[2020-03-10 08:49] singalsu commented on #1604
Is there volume control in the capture pipeline? Can you set it to exactly 0 dB to see if the noise pulse values are 2^N? The histogram shows that the distribution of PCM sample values looks very artifical.

![Screenshot from 2020-03-10 10-48-21](https://user-images.githubusercontent.com/28754793/76295150-c82d3100-62bc-11ea-85a8-2b11653fbd6d.png)

This is from @keqiaozhang 's recording.

[2020-03-10 09:21] sathyap-chrome commented on #1838
@keyonjie As discussed, did you try 4 CH TDM playback with loopback on your side ?

[2020-03-10 09:37] naveen-manohar opened #1880 "TGL: RT5682-SDW S16_LE SoC Loop Playback is Noisy"
**Issue Description:**
RT5682-SDW Playback was Noisy and on debug observed that SOC output source has L/R channel phase error to Codec (PFA: ![Phase_err](https://user-images.githubusercontent.com/33264352/76297911-aa70c380-62de-11ea-8a7d-cb97a375ec62.jpg))

Further tried experiments wrt SoC Loop Playback using simultaneous arecord(muted) and aplay to observe issue happens only with S16_LE(2ch) pla

[2020-03-10 09:56] kv2019i commented on #1792
I did not file a new GFX but as this is probably related to this existing bug:
https://gitlab.freedesktop.org/drm/intel/issues/1363
... let's close if GFX side confirms it is theirs.

[2020-03-10 10:05] singalsu commented on #1876
@sinahuang Can you please attach wav files for both 48 kHz and 16 kHz capture. The screenshots prove the issue but are not as useful for considering fix alternatives as wav files.

It's known issue that there's some remaining DC pulse with 16 kHz DMIC. The start waveform with competing microphone DC pulling up the waveform and lower rate updated gain ramp pulling it down creates some small buzz so

[2020-03-10 10:21] sinahuang commented on #1876
Attached the 48 kHz and 16 kHz captured wav files. Please notice the beginning of captured files.
[captured wav.zip](https://github.com/thesofproject/linux/files/4311720/captured.wav.zip)

[2020-03-10 10:23] katsar0v commented on #1877
@plbossart correct, 0. is done via just `sudo apt update && sudo apt upgrade`. 1. and 2. were somehow unclear (or undocumented) for me. I also wasn't aware if sof was properly (or at all) installed. Let me know if I can help you further here.

[2020-03-10 10:37] singalsu commented on #1876
I got them, the 48 kHz version looks quite normal. Though the 4ch volume control issue shows up.

In the 16 kHz version the voice pitch sounds elevated (another potential issue - please check this). Does the 6.225 seconds recording length match your arecord command? Also if you run "time arecord -d 10" does the shown time match the recording duration?

Yep, there's some DC left in both. I'll see w

[2020-03-10 10:39] MayurVirkar commented on #1870
Hello @plbossart & @kv2019i
I can confirm that I have the latest versions of all the packages mentioned above.
Alsa-* is on 1.2.2-1
Pulseaudio - 13.0-3

[2020-03-10 10:55] MayurVirkar commented on #1870
[code]

Does this help?

[2020-03-10 11:01] kv2019i commented on #1870
@MayurVirkar Do you have "alsa-ucm" package also installed? I'm guessing you have, but just making sure.

You can then try debug with alsaucm tool. This allows to verify the UCM file without running Pulseaudio. You can do the following:
[code]

... if above looks the same (there should be Digital Mic listed), then there's something wrong with pulseaudio setup. Pierre gave instructions how to get p

[2020-03-10 11:04] MayurVirkar commented on #1870
[code]

@kv2019i Yup, everything looks same.
I will post pulseaudio logs soon.

[2020-03-10 11:14] emilchudzik commented on #1719
thanks @kv2019i  for hints, below logs:
[dmesg_i915_1_aplay_before_S3.txt](https://github.com/thesofproject/linux/files/4312034/dmesg_i915_1_aplay_before_S3.txt)
[dmesg_i915_2_after_S3.txt](https://github.com/thesofproject/linux/files/4312035/dmesg_i915_2_after_S3.txt)
[dmesg_i915_3_aplay_after_S3.txt](https://github.com/thesofproject/linux/files/4312033/dmesg_i915_3_aplay_after_S3.txt)

I can see

[2020-03-10 11:47] kv2019i commented on #1719
Thanks @emilchudzik ! After a bit more debug, it starts to seem this is a GFX problem. A peek at /sys/kernel/debug/dri/0/i915_capabilities shows that the i915 platform is ELK, not ICL, so I think there are some i915-side driver workarounds that are not yet applied on this platform.

Let me put together a patch to verify.

[2020-03-10 13:14] kv2019i commented on #1719
@emilchudzik Ok, I have a potential fix in PR1881 . Could you give it a try?

[2020-03-10 18:09] tlauda commented on #1883
@danielcherubini Can we close this?

[2020-03-10 18:11] plbossart commented on #1880
@naveen-manohar can you please explain what the issue is?

"SOC output source has phase error to Codec" is rather unclear to me.

if you are doing a loopback inside of the codec, well of course the data will be delayed on the capture side...

[2020-03-10 18:21] danielcherubini commented on #1883
So I have reformatted and rebuilt the system from the ground up. The kernel panic is gone. But the  profile not being available is still there.

What I do would you like from me.

[2020-03-10 18:46] plbossart commented on #1883
@danielcherubini this is a PulseAudio/UCM issue.

Can you clarify what UCM files you are using, e.g. what do you see in
/usr/share/alsa/ucm
and
/usr/share/alsa/ucm2

It would also help if you can kill off pulseaudio and provide the logs when it's run manually (make sure to set autospawn=no in /etc/pulse/client.conf - or daemon.conf -  when you do so)

pulseaudio -vvvv &> log.txt

[2020-03-10 19:08] plbossart commented on #1879
@lkraav can you try and apply the following diff to check if yes or no you have valid DMIC information

[code]

goto your kernel tree, do
patch -p1 < dmic-report.diff.txt
and recompile/install your kernel.

Thanks

[dmic-report.diff.txt](https://github.com/thesofproject/linux/files/4314258/dmic-report.diff.txt)

[2020-03-11 05:15] keqiaozhang commented on #1880
@naveen-manohar
Could you please send the PRs of machine driver and topology to github? I will try to reproduce your issue on my TGL device.

[2020-03-11 05:32] keqiaozhang commented on #1719
@plbossart
Sorry, we don't have a available JSL device(also checked with other teams) to verify this issue.  so let's keep this issue open until we get a proper device to check.

[2020-03-11 06:15] bardliao commented on #1855
Finally, https://github.com/thesofproject/sof/pull/2495 can fix it. I will clean up and create a formal PR soon

[2020-03-11 07:41] ClarexZhou commented on #1831
Also can get C10 when tested with  and release/sdw_cml_hotfix  branch, build with below kconfig,
https://github.com/thesofproject/linux/files/4261237/kernel_config.log

Both C9 and C10 can be get if without options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1
And can get C10, can't get C9 if with options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1

[2020-03-11 08:09] kv2019i commented on #1719
@plbossart @keqiaozhang This is clearly a bug, no question about it. #1881 is a potential fix.

[2020-03-11 09:08] emilchudzik commented on #1719
@kv2019i your patch fix this issue.
I have just checked kernel ac3abc565474/sof-dev + #1881
and now aplay works after S3.
checked several reboots with several S3, each time aplay works after resume from S3.

[2020-03-11 09:26] lancedkhou commented on #1604
@singalsu
The capture volume settings on CML projects are 0 db by default:

numid=7,iface=MIXER,name='PGA2.0 2 Master Capture Volume'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=80,step=0
  : values=50,50
  | dBscale-min=-50.00dB,step=1.00dB,mute=1

numid=4,iface=MIXER,name='STO1 ADC Capture Volume'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=63,step=0
  : values=23,23
  | dBscale-

[2020-03-11 09:41] kv2019i commented on #1719
Excellent, that's great news, thanks @emilchudzik !

I'll post this patch to i915 driver. Once reviews pass and patch is merged to i915, we can backport it to sof-dev as otherwise it would take a looong time to get the patch back.

[2020-03-11 10:10] naveen-manohar commented on #1880
Hi @plbossart ,
RT5682-SDW was observing headset playback noise and Realtek found that headphone **L/R channel has phase error**. On further analysis they found RT5682's SDW interface loop-back to check source from SOC to Codec has this phenomenon.

To check above scenario, tried SoC Loop Playback(below code) using simultaneous arecord(muted) and aplay to observe **issue happens only with S16_LE(2

[2020-03-11 10:52] naveen-manohar commented on #1880
Hi @keqiaozhang :
Please check following PRs based on TGL_SoF_V0.3, let me know if you observe any issues.
https://github.com/thesofproject/linux/pull/1885
https://github.com/thesofproject/sof/pull/2527/commits/d58fb7c54937668df2796292cc3aba3b483fad19

[2020-03-11 11:29] singalsu commented on #1604
@lancedkhou Thanks! Then probably the audio signal and histogram bins width caused the small deviation from 2^X + 2^Y + ... values. I'd assume those pulses are random serial bus bit flips.

[2020-03-11 11:44] singalsu commented on #1604
Also could the I2S (?) bus waveforms be captured with oscilloscope with this issue happening and with  clean audio. Is there difference in pulse shapes, levels, or timing?

[2020-03-11 11:59] bardliao commented on #1880
@naveen-manohar @plbossart I just checked with Albert from Realtek. He confirmed that the phase error was originally from the testing source. I.e. They use a wav with phase error between L and R channels to do the loopback test. So, that is not from SoC

[2020-03-11 12:41] sinahuang opened #1886 "[TGL][BUG] "DMIC: ASoC: trigger FE cmd: 1 failed: -110" occured when do multi-pipeline stress test."
**Describe the bug**
"DMIC: ASoC: trigger FE cmd: 1 failed: -110" occured when do multi-pipeline stress test.

**To Reproduce**
1.sudo reboot
2.Run "./multiplex_pipeline-test.sh pcm0p pcm2p pcm6p pcm1c pcm3c".

scripts:

**Reproduce rate**
Test for 300 times, failed at 17th time.

**Expected result**
Multi-pipeline should work normally.

**Actual result**
"DMIC: ASoC: trigger FE cmd: 1 failed: -11

[2020-03-11 12:56] naveen-manohar commented on #1880
Thanks for the clarification @bardliao , Lets re-do the validation and close then close this issue.

[2020-03-11 13:47] MayurVirkar commented on #1870
Okay,
So I think I reached somewhere.
Pulseaudio (pavcontrol) Shows Hifi profile but with (unavailble) tag.
If i select it, I can see mic in the "Input" tab. I can see it getting current input, but the port shows "unplugged".
Screenshots attahed..

![Screenshot from 2020-03-11 19-16-50](https://user-images.githubusercontent.com/4211478/76423518-f1d57d80-63cc-11ea-918a-adf158f997a7.png)
![Screensho

[2020-03-11 15:36] #1855 closed

[2020-03-11 15:47] plbossart commented on #1870
@MayurVirkar if you see 'unplugged' it's likely because there's a confusion between DMIC and headset mic. DMICs are fixed.

I suggest you provide the pulseaudio -vvvf logs using the info in https://github.com/thesofproject/linux/issues/1877#issuecomment-595993787

[2020-03-11 17:34] fredoh9 commented on #1871
@bardliao @plbossart with about amixer settings, finally I can see input level is changing and I can hear recorded voice. Thanks!

[2020-03-12 02:51] keyonjie commented on #1793
@cujomalainey can you help attach the full dmesg log please?

[2020-03-12 03:38] lancedkhou commented on #1604
@singalsu
Seppo, I would like to provide the experiment result that came out by codec vendor a few days earlier.
The codec vendor tried to use Audio Precision device to replace the codec on CML boards to generate clean signal into SoC.
And the noise still could be found.

Does it make sense that I make an assumption that the noise might be related to SoC?

[2020-03-12 04:28] keyonjie commented on #1604
@lancedkhou @singalsu thanks for the information, we are analyzing it from the SoC side, updates will be posted in https://github.com/thesofproject/sof/issues/2224

[2020-03-12 05:15] lancedkhou commented on #1604
@keyonjie  Thanks. Going to look into #2224 for latest information.

[2020-03-12 06:28] aiChaoSONG commented on #1604
@keyonjie @keqiaozhang  @sathyap-chrome @lancedkhou I change the bclk of SSP in sof-cml-rt5682-kwd.m4 from 2400000 to 4800000, then I cannot reproduce this issue, could you please give it a try?

[2020-03-12 07:16] lancedkhou commented on #1604
@aiChaoSONG
Thanks Chao, the modification works like a charm. I got 0 symptom out of 50 times repro on a single device.
Going to try more devices.

[2020-03-12 08:39] singalsu commented on #1604
@lancedkhou @aiChaoSONG Excellent discovery! Was someone able to look the I2S bus waveforms with oscilloscope why the lower clock causes problems?

[2020-03-12 08:43] keyonjie commented on #1604
Great finding @aiChaoSONG .

There might be some SSP configure bits mismatch, it actually the BCLK 2*25*48000=2400000 should be the correct one.

[2020-03-12 09:18] keyonjie commented on #1604
@tlauda @jajanusz FYI.

[2020-03-12 11:08] tlauda commented on #1906
@cujomalainey It's still a problem or working now?

[2020-03-12 11:29] plbossart commented on #1604
I am having a hard-time with the results.

a) does the 'noise' problem ever happen without doing pause/release?

b) how does 'noise' appear when using an Audio Precision tester? Can you describe the setup?

c) our settings for rt5682 are all over the place:

sof-glk-rt5682.m4

[code]

sof-cml-rt5682.m4

[code]

sof-cml-rt1101-rt5682.m4

[code]
So if you use a bclk of 4.8 MHz you have to use 4 slot

[2020-03-12 12:43] naveen-manohar commented on #1880
Realtek shared additional settings in codec-driver(rt5682-sdw) with this Headset Audio Playback is Good and no-artifact is observed.
[0001-Sync-with-upstream.txt](https://github.com/thesofproject/linux/files/4324182/0001-Sync-with-upstream.txt)

Appreciate the efforts of all to analyse the issue and share inputs. Closing it for now. Thanks

[2020-03-12 12:43] #1880 closed

[2020-03-12 13:24] bardliao commented on #1880
I guess the key point is below :)
+	regmap_update_bits(rt5682->regmap, RT5682_HP_CHARGE_PUMP_1,
+			RT5682_PM_HP_MASK, RT5682_PM_HP_HV);

[2020-03-12 18:29] cujomalainey commented on #1906
@tlauda yes this is still a bug as this is fixed by this PR https://github.com/thesofproject/linux/pull/1523
which has not merged yet

[2020-03-13 03:40] mengdonglin commented on #383
Test cases upstreamed to https://github.com/thesofproject/sof-test/

[2020-03-13 03:40] #383 closed

[2020-03-13 03:41] mengdonglin commented on #382
No longer track CI requirements or bugs in this repo

[2020-03-13 03:41] #382 closed

[2020-03-13 03:43] mengdonglin commented on #404
No longer track CI requirements or issues in this repo

[2020-03-13 03:43] #404 closed

[2020-03-13 08:05] YvonneYang2 opened #1891 "[BUG][TGL]"rt1308 i2c-10EC1308:00: Device with ID register 0 is not rt1308" occurred when system boot up on TGL."
**Describe the bug**
“rt1308 i2c-10EC1308:00: Device with ID register 0 is not rt1308” when system boot up. Aplay -l shows no sound card.

Checked kernel on ww11.4, cannot reproduce this issue.

**To Reproduce**
1. Boot up .
2. Check dmesg.

**Reproduced rate**
100%

**Expected result**
System boot up succeffully

**Actual result**
"rt1308 i2c-10EC1308:00: Device with ID register 0 is not rt1308"

[2020-03-13 08:32] tlauda commented on #1906
@cujomalainey Since the fix is done on the kernel side I'm not sure whether this bug should be here. As I understand we can't do anything about it on firmware side?

[2020-03-13 08:52] kv2019i commented on #1719
Patch sent to intel-gfx list:
https://lists.freedesktop.org/archives/intel-gfx/2020-March/233419.html

[2020-03-13 09:20] aiChaoSONG commented on #1179
closed for all done in the list

[2020-03-13 09:20] #1179 closed

[2020-03-13 15:48] plbossart commented on #1891
@YvonneYang2 this is likely a merge issue and a problem on the I2C side. Can you try and bisect?

[2020-03-13 16:14] kv2019i commented on #1847
Solution discussed on intel-gfx: https://lists.freedesktop.org/archives/intel-gfx/2020-March/232621.html

My proposal patchset:
https://lists.freedesktop.org/archives/intel-gfx/2020-March/233457.html

[2020-03-13 20:54] fredoh9 commented on #1871
For now, I will store alsa controls and restore when we need them. I close this issue now.

[2020-03-13 20:54] #1871 closed

[2020-03-14 00:07] cujomalainey commented on #1906
Agreed, this was filed before the fix, I can file a new bug and cross link it if you want so the dashboard can be cleaned up.

[2020-03-16 02:56] sathya-nujella commented on #1793
Shipped a BIP DUT to PRC team. DUT reached, but need a coreboot to boot Ubuntu.

[2020-03-16 05:26] YvonneYang2 commented on #1891
Seems hardware issue.  It can boot up now, so close it.

[2020-03-16 05:26] #1891 closed

[2020-03-16 06:58] cujomalainey commented on #1793
@keyonjie I will see if I can get some time this week to test this out.

[2020-03-16 07:26] ClarexZhou commented on #1862
Error not seen with kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897  and FW: https://github.com/thesofproject/sof/tree/cml-010-hot-fix, commit https://github.com/thesofproject/sof/commit/0ed0dbae7a73f7d3a648199c0ad9f95944d8ec85 + commit thesofproject/sof@f73332e

But still has slight noise on internal speaker with same kernel  sof-dev, commit: 0f90705, contains PR #1887 + PR #1897  a

[2020-03-16 07:27] ClarexZhou commented on #1865
Error is much improved with PR#1897. But still has very light pop via scenario "pause aplay first then Ctl+c to release aplay". Can observe this pop sound when increase speaker volume to Max via PGA3.0 3
Tested with kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: https://github.com/thesofproject/sof/tree/cml-010-hot-fix, commit thesofproject/sof@0ed0dba + commit thesofproject

[2020-03-16 07:27] ClarexZhou commented on #1866
Error not seen with kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: https://github.com/thesofproject/sof/tree/cml-010-hot-fix, commit thesofproject/sof@0ed0dba + commit thesofproject/sof@f73332e

But still has slight noise on internal speaker with same kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: Master, commit: thesofproject/sof@afd9770

[2020-03-16 07:28] ClarexZhou commented on #1867
Error not seen with kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: https://github.com/thesofproject/sof/tree/cml-010-hot-fix, commit thesofproject/sof@0ed0dba + commit thesofproject/sof@f73332e

But still about 3/10 reproduce rate, has slight noise on internal speaker with same kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: Master, commit: thesofprojec

[2020-03-16 07:29] ClarexZhou commented on #1869
Error not seen with kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: https://github.com/thesofproject/sof/tree/cml-010-hot-fix, commit thesofproject/sof@0ed0dba + commit thesofproject/sof@f73332e

Also not observed with same kernel sof-dev, commit: 0f90705, contains PR #1887 + PR #1897 and FW: Master, commit: thesofproject/sof@afd9770

[2020-03-16 13:22] sinahuang commented on #1876
Checked it seems the recording length doesn't match arecord command .
Run with command "timed arecord -d 10", but actual recording length is 30s,

Wav files:

[10s.zip](https://github.com/thesofproject/linux/files/4338359/10s.zip)

[2020-03-17 15:40] kv2019i commented on #1847
We have a couple of candidate fixes, but so far the solutions have come with notable downsides, so we have continued exploring options. Here's one fix that seems to help without require increase of clocks.

@Liviali155 Could you give tihs a try. In my local tests, this systematically helps to the probe errors:
https://github.com/thesofproject/linux/pull/1901

[2020-03-17 16:00] kv2019i commented on #731
@lgirdwood  Ack, but we need to first fix the tool. Currently the tool doesn't support most recent platforms, so it is not very useful. Assigned this to myself...

[2020-03-17 16:07] kv2019i commented on #1792
A candidate patch is available, now under testing. I'll post a link here once it is available.

[2020-03-18 01:08] cujomalainey commented on #1793
@keyonjie it looks like its top of sof-dev is no longer looping, but just hangs. No cards show up in aplay after like 5min
[dmesg.txt](https://github.com/thesofproject/linux/files/4346442/dmesg.txt)

[2020-03-18 01:11] cujomalainey commented on #1793
I stand corrected. it triggered again.
[dmesg.txt](https://github.com/thesofproject/linux/files/4346447/dmesg.txt)

[2020-03-18 01:41] giorgionicoletti commented on #1877
This solution worked wonderfully until yesterday on my Dell Inspiron 7590, Ubuntu 18.04 LTS and kernel v5.3.0-42. Today, on startup the sound stopped working altogether and Ubuntu was not detecting any soundcard (I could only see "Dummy output" in the settings). I don't recall doing anything particularly nor updating anything. I couldn't even open alsamixer (with error "cannot open mixer").

I had

[2020-03-18 04:02] keyonjie commented on #1793
@cujomalainey thanks for the log, we need to do some debugging here, we have just received the BIP here, will start to debug soon.

[2020-03-18 04:14] keqiaozhang commented on #1793
@cujomalainey
Please share your chrome kernel branch?  I will try to reproduce your issue with ChromeOS.

[2020-03-18 04:20] Liviali155 opened #1902 "[BUG][tgl]"no soundcards found“ after power on without HDMI/DP connected"
Describe the bug
"no soundcards found“ after power on without HDMI/DP connected
wait about 1min can recovery

sof/dev(45f64244)+ [tgl-003-drop-stable][1bb517ab] has no this issue,but has another issue https://github.com/thesofproject/linux/issues/1847

To Reproduce
1.unplug power supply
2.plugin power supply to power on without HDMI/DP connected
3.aplay -l

Reproduction Rate
2/4

Expected behavior

[2020-03-18 07:06] cujomalainey commented on #1793
@keqiaozhang that kernel is a sof-dev kernel
@keyonjie  thanks

[2020-03-18 07:20] keqiaozhang commented on #1793
@cujomalainey  So you tested it on linux/Ubuntu OS? Or how to run sof-dev on ChromeOS directly?

[2020-03-18 09:20] kv2019i commented on #1877
@giorgionicoletti wrote:

That hints at a problem in driver probe. Can you share output of alsa-info.sh (instructions https://wiki.ubuntu.com/Audio/AlsaInfo) when the problem happens?

[2020-03-18 09:25] tlauda commented on #1906
@cujomalainey That would be nice.

[2020-03-18 09:38] kv2019i commented on #1792
@Liviali155 Can you give a test to the fix candidate #1904 ?

[2020-03-18 09:40] giorgionicoletti commented on #1877
@kv2019i Sure, there you go: http://alsa-project.org/db/?f=b72bcfd31ec3695aa4bf23f28edc7408975f397a. This is the output I get when I add the two blacklist lines to alsa-base.conf and sounds stop working.

[2020-03-18 09:41] katsar0v commented on #1877
I also see "dummy output" from times to times, but a reboot usually fixes it. Am using `5.3.0-40-generic` though

[2020-03-18 09:45] giorgionicoletti commented on #1877
Nope, unfortunately a reboot does not fix it. I think that I had `5.3.0-42-generic` all along though (I tried this solution no later than six days ago), so I can't really get my head around to what happened.

[2020-03-18 10:00] sinahuang opened #1905 "[TGL][BUG]"no soundcards found" after boot up system without HDMI/DP connected."
Describe the bug
"no soundcards found“ after power on without HDMI/DP connected. The terminal will be freezed When aplay -l didn't show nosoundcard.

Note: if power on with HDMI/DP connected, issue can't be reproduced.
HMID connected dmesg log:

[dmesg11.log](https://github.com/thesofproject/linux/files/4353216/dmesg11.log)

To Reproduce
1. Unplug power cable
2. Plugin power cable to power on with

[2020-03-18 10:40] Liviali155 commented on #1792
Tried with PR #1904 ,tips“Failed to start load kernel Modules”

<img width="375" alt="Capture" src="https://user-images.githubusercontent.com/56707932/76952308-dbd53900-6947-11ea-88b9-c0c9112075ec.PNG">

[2020-03-18 11:03] Liviali155 commented on #1847
Tried with PR#1901,error not seen

[2020-03-18 12:44] mamarley commented on #1792
Not sure what's happening for Livia, but for me it works fine.  HDMI/DP audio now works fine immediately on boot.  Thanks!

[2020-03-18 13:15] mamarley commented on #1792
After further usage, however, it seems this introduces a strange issue where even small amounts of GPU load cause the mouse cursor to move jerkily and "drop frames".  It seems weird, but reverting the patch causes it to work normally again.

[2020-03-18 13:40] tlauda commented on #1913
@chrysophylax Issue to be closed?

[2020-03-18 14:43] Jeff406 commented on #1877
I have this laptop too, tried many times all the fixes available in arch linux (manjaro) with the latest kernel but no hope. The internal microphone is working unstably and all the issues are still not fixed as mentioned in https://bugzilla.redhat.com/show_bug.cgi?id=1772498#c209 (view other comments). I think we'll have to wait for the update of sof-firmware and related ucm stuffs.

[2020-03-18 14:56] kv2019i commented on #1877
@giorgionicoletti wrote:

Aa, ok. So this is something else, there's actually kernel error hit when registering the card:

RIP: 0010:skl_hda_hdmi_jack_init 0x3f/0x110 [snd_soc_skl_hda_dsp]

Could you post full dmesg and your kernel config (.config or config file in /boot your distro has shipped)? The oops is on a code path related to the hdac-hdmi driver. We switched to different codec driver in 5

[2020-03-18 15:33] plbossart commented on #1877
@giorgionicoletti looks like an ubuntu kernel update gone wrong. Can you try and boot from a previous version with the "advanced options" grub menu and select 5.3.0-40-generic which seemed to work before?

[2020-03-18 16:25] kv2019i commented on #1792
Thanks @mamarley ! Follow-up is currently discussed on intel-gfx list and I passed your findings to the folks working on the patch now.

[2020-03-18 17:20] mamarley commented on #1792
I'm probably just being dense, but I can't seem to locate the thread.  Could you please link to it?  Thanks!

[2020-03-18 17:44] kv2019i commented on #1792
@mamarley

Sure, no prob. It is here: https://lists.freedesktop.org/archives/intel-gfx/2020-March/233802.html

[2020-03-18 17:45] cujomalainey commented on #1793
I tested in chromeos. I checkout the linux kernel in chromeos sdk, write my config to src/third_party/chromiumos-overlay/eclass/cros-kernel/x86_64_defconfig

Sometimes tooling doesn't work correctly so I will build in the 5.4 directory rather than 4.14

[2020-03-18 17:51] cujomalainey commented on #1906
actually apparently github has a transfer feature now

[2020-03-18 17:57] ranj063 commented on #1793
@plbossart @cujomalainey I looked into the Echoref FE DAI link definition in glk_rt5682_max98357a.c and it turns out that dynamic is not set to 1 for the Echref capture DAI link (as below). This means the DAI link will not be ignored. I believe setting it to 1 will ignore the dai link and solve the issue.

[GLK_DPCM_AUDIO_ECHO_REF_CP] = {
		.name = "Glk Audio Echo Reference cap",
		.stream_name =

[2020-03-18 18:08] plbossart commented on #1906
Sorry @cujomalainey @ranj063 it's hard to figure out what the ask is for such an old issue.

Is this to complete suspend/resume support on CHT?

[2020-03-18 18:14] mamarley commented on #1792
That patch is different from the one you linked earlier.  When I tried the one from the list (it took a bit of massaging to get it to apply to 5.6-rc6), the audio works on boot and the cursor behaves normally.

[2020-03-18 18:30] cujomalainey commented on #1906
yes, this is the associated bug that was originally for the CHT pm

[2020-03-18 18:38] giorgionicoletti commented on #1877
@plbossart you're right! I thought I checked and did not update the kernel, but apparently I was wrong. Booting 5.30.0-40 seems to work as before.

[2020-03-18 18:45] plbossart commented on #1877
ok it's probably an Ubuntu kernel update that's missing backported patches or not using the right configuration. @jason77-wang is this something you can help with?

[2020-03-18 18:47] giorgionicoletti commented on #1877
In case you still need them, I'm uploading both the full dmesg and the config file of 5.30.0-42.

[dmesg.txt](https://github.com/thesofproject/linux/files/4350775/dmesg.txt)

[kernel-config.txt](https://github.com/thesofproject/linux/files/4350778/kernel-config.txt)

[2020-03-18 18:53] plbossart commented on #1877
@giorgionicoletti it's pretty clear it's an issue with HDMI, but we'd need to see what changed in the Ubuntu kernel tree between 5.30.0-40 and 5.30.0-42. I don't know where the git tree is personally.

[2020-03-18 18:56] giorgionicoletti commented on #1877
I think I will roll back to 5.30.0-40 for the time being since I'm also noticing other weird things going on (the system hangs on reboot most of the time). However, if you need anything please ask. I really appreciate your help!

[2020-03-19 02:05] ClarexZhou commented on #1902
Previous sof-dev (commit: 8bf1a29 ) Seems also had this issue  Find in #1826

[2020-03-19 02:12] sinahuang commented on #1905
This issue can't be reproduced on TGL -RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode, and issue #1709 occured on TGL -RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode.

[2020-03-19 02:19] sinahuang opened #1910 "[BUG][CML][UCM]Speaker can't display in sound setting."
**Describe the bug**
Speaker can't display in sound setting.
 UCM:
https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm-synchronized_speaker_4_with_enable_switches

**To Reproduce**
1.Boot up system successfully.
2.Check the speaker in sound setting.

**Reproduce rate**
5/5

**Expected result**
Speaker should exist in sound setting.

**Actual result**
Speaker can't display in sound setting.

[2020-03-19 02:47] #1709 closed

[2020-03-19 02:47] mengdonglin commented on #1709
Closed this issue as it's ALC1308 HW restriction.

[2020-03-19 02:48] Liviali155 commented on #1792
The kern.log as attachment,It should has  2 times power on log,first is power on failed log
[kern.log](https://github.com/thesofproject/linux/files/4352421/kern.log)

[2020-03-19 02:55] Liviali155 commented on #1902
closed for not reoroduced on latest sof/dev(45f6424)

[2020-03-19 02:55] #1902 closed

[2020-03-19 03:12] sinahuang opened #1911 "[TGL][BUG]"snd_soc_register_card failed -517" disaplay after system boot up successfully."
**Describe the bug**
"snd_soc_register_card failed -517" disaplay after system boot up successfully, run "aplay -l" display no soundcard.
Can recovery after power outages for long time.

**To Reproduce**
1.Boot up system successfully.
2.Aplay -l

**Reproduce rate**
5/5

**Expected result**
System should load normally after booting up successfully.

**Actual result**
No soundcard display when run "

[2020-03-19 04:11] sinahuang commented on #1911
Bi-sect result:
commit:https://github.com/thesofproject/linux/commit/722d8e2bb435833a5199537d6e5a2ef7908a19ef is ok , but when I manually build commit :https://github.com/thesofproject/linux/commit/39e906ec03b6070d4ee0066e069bf1a6be9b30d3, occurred some errors, so I can't confirmed this issue was caused by commit :https://github.com/thesofproject/linux/commit/39e906ec03b6070d4ee0066e069bf1a6be9b30

[2020-03-19 05:29] RanderWang commented on #1911
@shumingfan Does 1308 support  tdm in I2S mode ? If yes, can you help to add it or share us how to add it. Thanks!

[2020-03-19 05:32] RanderWang commented on #1911
@shumingfan sorry, I notified you with shuming, now correct it.

[2020-03-19 06:53] kv2019i commented on #1905
This is the same bug as on:
https://github.com/thesofproject/linux/issues/1847

The outcome is different as with HDA codecs, HDMI gets disabled but probe does not fail completely. With the SDW machine driver, if HDMI probe fails, the whole SOF probe fails and result is "no soundcards filed". This can be detected from this trace:
[    4.676938] sof-audio-pci 0000:00:1f.3: codec #2 probe error, ret:

[2020-03-19 06:55] kv2019i commented on #939
This is now fixed with #1189 . Please reopen if still seen.

[2020-03-19 06:55] #939 closed

[2020-03-19 07:14] sathyap-chrome commented on #1838
@keyonjie  gentle ping.

[2020-03-19 07:23] YvonneYang2 commented on #1866
Error not seen with latest sof-dev+PR1897 and cml-010-hotfix2 branch except that has slight pop noise on internal speaker and headphone when switch foreground from background.

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev  commit:45f6424 + PR1897
FW : https://github.com/thesofproject/sof/commits/cml-010-hot-fix2 commit:  9ddcb00
Topology: Same with FW branch, sof-cml-rt711-

[2020-03-19 07:27] kv2019i commented on #1792
@mamarley wrote:

Yes, true, they modified the implementation in the first version sent out on the list. Thanks a lot for the report. There are now additional validation rounds done on the patch sent to the list and if all goes well, the patch will get merged. Thanks a lot for testing!

@Liviali155 I'll check the log separately, this might something else.

[2020-03-19 07:37] shumingfan commented on #1911
@RanderWang Yes, 1308 supports TDM in I2S mode, but the driver doesn't add the callback function of configuration yet.
My colleague Derek <derek.fang@realtek.com> will add it later.

[2020-03-19 08:11] sinahuang commented on #1905
Issue can't be reproduced with sof-dev(commit:722d8e2) +PR#1901 +master(commit:f1fa3be9).

[2020-03-19 08:16] RanderWang commented on #1911
Thanks @shumingfan

[2020-03-19 09:02] kv2019i commented on #1877
Ok thanks @giorgionicoletti . It seems 5.30.0-42 enables the common HDMI driver (i.e. backports the patchset from upstream 5.5):

http://changelogs.ubuntu.com/changelogs/pool/main/l/linux/linux_5.3.0-42.34/changelog

alsa/sof: change to use hda hdmi codec driver to make hdmi audio on the
    docking station work (LP: #1855666)
    - ALSA: hda/hdmi - implement mst_no_extra_pcms flag
    - ASoC: hda

[2020-03-19 09:12] tlauda commented on #1913
Fixed in kernel.

[2020-03-19 14:40] #1793 closed

[2020-03-19 14:45] kv2019i commented on #1877
@giorgionicoletti Ok, problem rootcaused. I took the same Ubuntu-5.3.0-42.34 kernel and could reproduce it on of my test devices.

Rootcause for failure is this missing patch from the backport:
8ce1cbd6ce0 ASoC: topology: fix soc_tplg_fe_link_create() - link->dobj initialization order

Essentially ASoC core did not call "add_dai_link" callbacks, so the HDMI PCM nodes did not get added. The error w

[2020-03-19 14:59] plbossart commented on #1905
@kv2019i PR #1901 is still marked as Draft, is it ready to merge then?

Also I don't really get why there's a difference between SoundWire and HDaudio, should we add something in the machine driver then?

[2020-03-19 15:06] kv2019i commented on #1877
@Jeff406 wrote:

It's a bit hard to act on this info. There are a number of things out of our control in SOF, including the audio codec drivers, pulseaudio integration and packaging of the firmware files for each kernel version. But in general, if a laptop works with one distro, it really should work with others as well, or there is some distro specific issue (that should be fixable by copying the

[2020-03-19 15:18] kv2019i commented on #1905
@plbossart No, no, #1901 requires more work and needs to through intel-gfx. I'll submit a version to sof-dev once I get it through to the graphics tree.

And yes, sdw machine drivers are lacking support to disable HDMI at runtime. I.e. what I did in
https://github.com/thesofproject/linux/pull/1731/commits/3757a940a5bbd8e259d9f44557dfca4c7156f7bb

[2020-03-19 16:49] ahkok commented on #1913
@tlauda which exact kernel version has the fix? At least list the upstream commit ID, please.

[2020-03-19 16:52] tlauda commented on #1913
@ahkok My mistake.

[2020-03-19 20:13] plbossart opened #1915 "[BDW] kernel oops when no firmware file is present"
First trial on Dell XPS 9343 (need kernel argument acpi_rev_override=5 to force I2S usage)

[code]

[2020-03-19 22:33] giddie opened #1917 "Errors logged and no sound on Dell Inspiron 7590"
Please let me know what I can provide you with to help debug this. For starters here's an abridged kernel log. The full log is attached: [sof-firmware-kernel-log.gz](https://github.com/thesofproject/linux/files/4357172/sof-firmware-kernel-log.gz)

The system physically has an internal microphone and a single combo TRRS headset port, as well as external speakers and HDMI audio out. With the generic

[2020-03-19 22:34] plbossart commented on #1905
@kv2019i how can we force iDISP to disappear with codec_mask = 0? On CML devices there's no issue even when HDMI is not plugged in, this seems to be a TGL-specific issue?

[2020-03-20 01:19] #1798 closed

[2020-03-20 01:24] qinwan-hp commented on #1798
We still do not enable runtime control to make jack detection work normally.
And the crash of FW can be fixed with latest version.

[2020-03-20 03:06] ClarexZhou commented on #1911
wait ALC1308 to support TDM in I2S mode.

[2020-03-20 06:21] sinahuang opened #1918 "[SDW][BUG]Output source in sound setting is wrong(shows:multichannel output )."
**Describe the bug**
Output source in sound setting is wrong. It seems UCM can't work.

Shows:
![Screenshot from 2020-03-17 11-16-49](https://user-images.githubusercontent.com/56706782/77140477-ad28a100-6ab4-11ea-84dd-9f9d962a2722.png)

**To Reproduce**
1.Boot up system successfully.
2.Check sound setting.

**Reproduce rate**
5/5

**Expected result**
Output source in sound setting should be right.

[2020-03-20 06:37] kv2019i commented on #1827
@plbossart This seems to be a warning only, not an actual oops. Doesn't still good. Seems to come from sdw_delete_slave() so marking with sdw tag.

[2020-03-20 06:38] kv2019i commented on #1829
P3 as no functional impact.

[2020-03-20 06:54] kv2019i commented on #1913
@ahkok Fix is 858b4f944a67b921b0c0e81310a376a0663291a2 in stable/linux-5.5.y and e68d6696575e1af3f92125e842f2853708f34589 in upstream.

Ok to close, @tlauda ?

[2020-03-20 07:08] kv2019i commented on #1302
Ack @plbossart , closing.

[2020-03-20 07:08] #1302 closed

[2020-03-20 07:11] #1913 closed

[2020-03-20 08:06] YvonneYang2 commented on #1918
Issue cannot be reproduced with sof-dev(top commit:https://github.com/thesofproject/linux/commit/2be2a042be46c852b664ac29ae3d78ccbbd73240) + master which reverted thesofproject/sof@5e8de9f. Then I tried next commit https://github.com/thesofproject/linux/commit/69837211d560b2db2d8ee67274e23eb1fcc3ecfc, but sof cannot load up successfully. So I'm not sure if it's caused by commit 69837211

[2020-03-20 08:46] sinahuang opened #1919 "[bug][SDW]Arecord0,1 by RT711 headset captured empty audio."
**Describe the bug**
Headset Mic jack is on in alsamixer and amixer conetnts when issue happened.

**To Reproduce**
1.Boot up system successfully.
2. Arecord -Dhw:0,1 -fs16_le -c2 -r 48000 -vv -i 00.wav

**Reproduce rate**
5/5

**Expected result**
Arecord0,1 RT711 should capture audio normally.

**Actual result**
Arecord0,1 RT711 captured empty audio.

**Test recipe**

Kernel:https://github.com/th

[2020-03-20 09:26] YvonneYang2 commented on #1919
Issue can be reproduced on cml-u

[2020-03-20 09:31] sinahuang commented on #1919
Issue can be reproduced on TGL-RVP with codec ALC711  and  RT1308 in SDW mode

[2020-03-20 10:54] giorgionicoletti commented on #1877
Great. Thank you very much!

[2020-03-20 11:53] plbossart commented on #1918
You need to update the UCM file, see https://github.com/thesofproject/alsa-ucm-conf/pull/29

The card name changed and you need to have the files in /usr/share/alsa/ucm2/sof-soundwire

[2020-03-20 14:28] tobiasgrosser commented on #1879
I am seeing the very same error message with my pulseaudio:

Machine: Thinkpad X1 Yoga - Gen 4
Kernel: 5.5.0
Pulseaudio: 13.99.1
SOF-firmware: 1.4.2
Alsa-info: http://alsa-project.org/db/?f=fca20c9c93193041d77f53b93ebd2b2ded9930f5

[code]
but I seem to have the a capture device 6:

[code]
I wonder if my error is caused by this very bug or if I have a different problem?

[2020-03-20 17:01] plbossart commented on #1879
@tobig please try and use this: https://github.com/alsa-project/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp

this needs to be copied in /usr/share/alsa/ucm2 (make sure you don't have the same file in /usr/share/alsa/ucm in case of a previous install).

[2020-03-20 20:55] tobiasgrosser commented on #1879
@plbossart, wow, again such a fast reply. This time your suggestion did not work. I got the same error message. Deleting the entire section

[code]
or changing "hw:${CardId},6" to "hw:${CardId}" makes the speakers work, but neither brings a microphone (not unexpected). What is interesting to me is that if I change the 6 to a 8, the error message changes from:

[code]

to

[code]

In particular, th

[2020-03-20 20:56] armantorkzaban commented on #1877
Is there a way to install SOF under Debian Bullseye (5.4.0-4-amd64) ?
I would like to participate as a tester if possible.
Device info:

00:1f.3 Multimedia audio controller [0401]: Intel Corporation Cannon Lake PCH cAVS [8086:a348] (rev 10)
        DeviceName: Onboard - Sound
        Subsystem: Dell Cannon Lake PCH cAVS [1028:0924]

[2020-03-20 22:13] plbossart commented on #1877
@armantorkzaban do you have DMICs available on this device? You should see something in the dmesg log related to microphones.

If yes, you will need to install the firmware and topology (from https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2) and see how this works.

[2020-03-20 22:19] plbossart commented on #1879
@tobig can you check if your kernel is compiled with the Kconfig
[code]
that's what will make the Needle "cfg-dmics:4" tests work.

Otherwise, just run aplay -l and arecord -l and match the device numbers if they are not aligned.

Last, you may have an issue with HDMI if the numbers are in the 6-8 range, if you don't care you could also take them out.

[2020-03-21 09:33] tobiasgrosser commented on #1879
@plbossart, I am impressed with your responsiveness.

[code]
It seems this option is not available in Linux 5.5. I confirmed this in the Linux git repository and the relevant commit seems to only have been merged later.

I confirm that everything works on my side, if I hardcode to 4 channels

[code]

Thanks so much for your help!

[2020-03-21 13:22] armantorkzaban commented on #1877
The only things related to "Mic" are these:
[   11.160166] snd_hda_codec_realtek hdaudioC0D0:      Headphone Mic=0x1b
[   11.160167] snd_hda_codec_realtek hdaudioC0D0:      Headset Mic=0x19
[   11.263365] input: HDA Intel PCH Headphone Mic as /devices/pci0000:00/0000:00:1f.3/sound/card0/input27

Do they count?

[2020-03-21 16:37] katsar0v commented on #1877
![image](https://user-images.githubusercontent.com/7236157/77231347-95c3e380-6b9a-11ea-89b4-5d9c062772ce.png)

So I got the kernel `5.3.0-42-generic` as well and see only this, just to confirm. Is there 43 for Ubuntu 18?

[2020-03-22 03:44] astromatt42 commented on #1877
Hi, I am experiencing the same issues on LM 19.3 (based on 18.04) with kernel 5.3.0-40 (5.3.0-42 causes many other issues hence I am sticking with -40 for now)
I have followed the suggested steps by blacklisting the two drivers and copying the SOF files in the appropriate directory - this results in no sound and no mic.
However there may be a hint here, blacklisting and removing the folder with th

[2020-03-23 03:03] mamarley commented on #1792
I hadn't noticed this before since I didn't test my Broadwell laptop with an eDP display with the patched kernel, but the patch from the ML re-regresses https://gitlab.freedesktop.org/drm/intel/issues/1151.

[2020-03-23 03:28] YvonneYang2 commented on #1910
Issue can be reproduced on sdw cml-u with ucm  https://github.com/thesofproject/alsa-ucm-conf (commit: a5338fe ) +PR#28

[2020-03-23 03:39] RanderWang commented on #1919
please try, ucm issue
amixer cset numid=2 on
amixer cset numid=3 on

[2020-03-23 03:56] sinahuang commented on #1919
Tried with command "amixer cset numid=2 on" and "amixer cset numid=3 on", issue can't be reproduced.
[code]

[2020-03-23 05:47] YvonneYang2 opened #1921 "[BUG][CML-U]Occurred “ ASoC: physical link SDW3-Capture (id 4) not exist" when system boot up."
**Describe the bug**
Occurred " ASoC: physical link SDW3-Capture (id 4) not exist" when system boot up.

**To Reproduce**
1. Boot up
2. Check dmesg.

**Reproduced rate**
100%

**Expected result**
System boot up successfully

**Actual result**
Dmesg shows " ASoC: physical link SDW3-Capture (id 4) not exist" , and aplay -l has no sound card.

**Environment**
Firmware: 9da1fce https://github.com/thes

[2020-03-23 06:21] RanderWang commented on #1921
@plbossart  The SKU is 0983, not the 09c6 on your device.  I wonder if this can be changed when the production is released.

[2020-03-23 06:54] RanderWang commented on #1921
we also checked a newer version (DVT2),  the SKU is 09c6.  so the validation device is out of date. @YvonneYang2  can we test on DVT2 ?

[2020-03-23 07:22] YvonneYang2 commented on #1921
Error not seen on CML-U DVT2.
Then tried it on DVT1 with the patch @RanderWang provided, latest sof-dev kernel can load up successfully.

Patch:
[sku.txt](https://github.com/thesofproject/linux/files/4367733/sku.txt)

[2020-03-23 09:53] keyonjie commented on #1831
@jason77-wang has figured out that the issue is because of the mismatched between the SOF audio driver and i915 audio PM interface, and working on patch to fix on 5.0 kernel without upgrading the whole i915 driver, which actually means revert the audio change introduced by the commit d31c85fc86426 "snd/hda, drm/i915: Track the display_power_status using a cookie"

[2020-03-23 10:43] sinahuang opened #1922 "[BUG][CML]Arecord0,4 by RT715 captured empty audio."

[2020-03-23 10:44] #1922 closed

[2020-03-23 11:05] kv2019i commented on #1877
@katsar0v @mattmax42 Probably in both of your cases, you now have the kernel drivers correctly loading, but you are missing the ALSA UCM files, so Pulseaudio cannot find the sound devices. Please see https://github.com/thesofproject/linux/issues/1877#issuecomment-596600017 for how to do this on older distros.

@mattmax42 That is expected. When you remove the blacklisting, your system goes back to

[2020-03-23 11:08] kv2019i commented on #1831
@keyonjie Ack, thanks. Ok, I'm suprised it worked at all without modification to the cookie-based interface. But ack, this explains.

[2020-03-23 11:24] kv2019i commented on #1917
Thanks @giddie for the bug report. This seems very close to https://github.com/thesofproject/sof/issues/2265
The FW, topology and kernel versions seem fine, so nothing obvious pops from the log. We've had a few hickups in backporting fixes to 5.5.x series, so that is one place to check (you are running 5.5.9-arch1-2 based on logs). Would it be possible for you to try a more recent kernel, e.g. v5.

[2020-03-23 11:32] astromatt42 commented on #1877
HI, sorry maybe I wasn't quite clear enough:
I have blacklisted the two drivers and copied the UCM files as suggested in the post. lscpi reports sof-audio-pci as the Kernel driver in use, however no sound, no mic. I get a dummy output and no input devices.
If I keep the blacklisting but remove the files, I get at least my output back.

The relevant lines in the dmesg output for the situation with

[2020-03-23 11:41] astromatt42 commented on #1877
Ok, having just rebooted with the files deleted but the blacklist in place: It loads the sof-audio-pci driver, I have a working output device ('sof-skl_hda_card' and 'Multichannel Output sof-skl_hda_card') an input device is listed as 'Multichannel Input sof-skl_hda_card' but does not work. To me this looks like it must be loading the UCM files from somewhere else but maybe hasn't got the right fi

[2020-03-23 12:58] kv2019i commented on #1877
@mattmax42 Aa, sorry, I jumped to conclusions a bit too quickly. I thought by files you just meant the firmware files, but ok, you had copied UCM as well. The kernel driver and FW is definitely working based on your alsa-info dump ealier:
[code]

So something goes wrong in Pulseaudio and how it interprets the UCM files. To debug this, we'd need to see the PA logs -- see https://github.com/thesofpr

[2020-03-23 13:16] astromatt42 commented on #1877
Thanks Kai and no worries, see attached:
[log_1.txt](https://github.com/thesofproject/linux/files/4369573/log_1.txt)

[2020-03-23 13:18] sinahuang opened #1923 "[BUG][CML]Arecord0,4 by RT715 captured empty audio."
**Describe the bug**
Arecord0,4 by RT715 captured empty audio. Issue only can be reproduced on Dell ISO system. With Ubuntu18.04 issue can't be reproduced.

More info:
Run "amixer cset numid=11 on" can recover.

UCM:
https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm-synchronized_speaker_4_with_enable_switches(commit: e145aaf2)

**To Reproduce**
1.Boot up system successfully.
2.Arecord -D

[2020-03-23 14:25] plbossart commented on #1877
@mattmax42 did you follow the recommended instruction above for UCM/PulseAudio?

fetch https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/sof-skl_hda_card
and copy the directory to /usr/share/alsa/ucm

[2020-03-23 15:32] plbossart commented on #1921
ok, I'll add a patch to keep the DVT1 functional, thanks @RanderWang and @YvonneYang2

[2020-03-23 15:35] plbossart commented on #1919
which ucm are you using?
@RanderWang Can you verify this is correct in https://github.com/thesofproject/alsa-ucm-conf/pull/29

[2020-03-23 15:47] plbossart commented on #1879
Indeed @tobiasgrosser this is a nice configuration issue, thanks for reporting this.

@perexg would there be a way to detect if the card was configured with the friendly long names, and use the long card name instead of cfg-mics?

[2020-03-23 16:31] singalsu commented on #1801
The PRs are now available for CI tests and review:

https://github.com/thesofproject/sof/pull/2610
https://github.com/thesofproject/linux/pull/1924

[2020-03-23 16:33] perexg commented on #1879
It does not depend on long-names, but on commit https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=8cd9956f61c65022209ce6d1e55ed12aea12357d .

You can verify it using "amixer -D 'hw:hdasofdsp' info" command (the Components line).

[2020-03-23 18:58] plbossart commented on #1879
Ah yes thanks @perexg. So long story short all you need to do @tobiasgrosser is use 5.5.8+

[2020-03-23 18:59] tobiasgrosser commented on #1879
Thx. I am fine with hardcoding the configuration change for now but will keep in mind that an updated kernel will make this work even more smoothly in the future.

[2020-03-23 19:00] plbossart commented on #1879
btw @perexg I added this commit in SOF to show the component line in sysfs: https://github.com/thesofproject/linux/commit/2be2a042be46c852b664ac29ae3d78ccbbd73240

[2020-03-23 19:25] perexg commented on #1879
@plbossart : Nice extension.

[2020-03-23 20:44] astromatt42 commented on #1877
@plbossart yes, have a look:

(base) mar@mar-Inspiron-7591-2n1:~$ cd /usr/share/alsa/ucm/

(base) mar@mar-Inspiron-7591-2n1:/usr/share/alsa/ucm$ ls
apq8064-tabla-snd-card  HDAudio-Lenovo-DualCodecs   SDP4430
broadwell-rt286         Manta-I2S                   skylake-rt286
chtrt5645               Manta-SPDIF                 sof-skl_hda_card
DAISY-I2S               msm8974-taiko-mtp-snd-card  tegra

[2020-03-23 21:08] plbossart commented on #1877
@mattmax42 did you mean that you copied the files,  or that they were present already with Ubuntu?

Also can you check that you have DMIC capture devices with arecord -l. If you don't then either the topology is wrong, or you don't have DMICS...

[2020-03-23 21:20] astromatt42 commented on #1877
@plbossart Yes I copied the files as you suggested, there was no folder with the same name in the directory before. Output of arecord -l:

(base) mar@mar-Inspiron-7591-2n1:~$ arecord -l
**** List of CAPTURE Hardware Devices ****
card 0: sofsklhdacard [sof-skl_hda_card], device 0: HDA Analog (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: sofsklhdacard [sof-skl_hda_card], device 1: HD

[2020-03-23 21:39] plbossart commented on #1877
@mattmax42 forget UCM for now, if you don't have a DMIC capture device then something else is problematic.

[2020-03-23 21:47] plbossart commented on #1923
@sinahuang can you provide more info on what  "amixer cset numid=11 on" is?
It looks like you are using a bad UCM file or something?

[2020-03-23 21:53] plbossart commented on #1921
See PR #1927

[2020-03-23 21:55] plbossart commented on #1915
Fixed by https://github.com/thesofproject/linux/pull/1916

[2020-03-23 21:55] #1915 closed

[2020-03-24 00:40] RanderWang commented on #1921
@YvonneYang2  could you help to validate this PR ? thanks!

[2020-03-24 01:29] ClarexZhou commented on #1831
Close. For can enter PC10 with latest DKMS.

[2020-03-24 01:29] #1831 closed

[2020-03-24 01:44] ClarexZhou commented on #1876
Blocked by issue https://github.com/thesofproject/sof/issues/2445 which can be fixed by https://github.com/thesofproject/sof/pull/2506, still wait to merge.

[2020-03-24 04:07] sinahuang commented on #1919
attached UCM:
https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm-synchronized_speaker_4_with_enable_switches

[2020-03-24 04:56] plbossart commented on #1919
@sinahuang This UCM looks obsolete now? we only want to support UCM2 and the file names are wrong.

[2020-03-24 07:00] sinahuang commented on #1876
Issue also can be reproduced on TGL-RVP with codec ALC711  and  RT1308 in SDW mode.

[2020-03-24 07:47] YvonneYang2 commented on #1921
Checked latest sof-dev + PR #1927 , issue cannot be reproduced on CML-U DVT1.

[2020-03-24 08:15] singalsu commented on #1876
@sinahuang Thanks for confirming the issue.

@xiuli Is there in CI test for actual playback and recording lengths, e.g. aplay/arecord 10s should take min 10s and max 11s.? This kind of regressions would be easy to avoid with such test.

[2020-03-24 09:27] RanderWang commented on #1919
@plbossart  I tried to update pulse audio to support UCM2, but it doesn't work now. @juimonen @libinyang Do you have a solution to update PA ?

[2020-03-24 09:54] RanderWang commented on #1921
@YvonneYang2  Thanks! So this PR works on DVT1.

[2020-03-24 10:20] kv2019i commented on #1628
Latest update on this:
https://github.com/thesofproject/linux/pull/1837#issuecomment-603150385

A fix is available, but we need further work to make the fix acceptable upstream.

We potentially have a separate issue on CML that requires more work on top. A separate bug will be filed for this.

[2020-03-24 10:44] paulstelian97 commented on #1877
UCM shouldn't affect aplay and the kernel driver, but how pulseaudio uses them.

[2020-03-24 11:20] astromatt42 commented on #1877
Thanks all, to troubleshoot a bit further, dmesg | grep dmic:
[    3.672874] skl_hda_dsp_generic skl_hda_dsp_generic: info: override FE DAI link dmic01
[    3.672875] skl_hda_dsp_generic skl_hda_dsp_generic: info: override FE DAI link dmic16k
[    3.776793] skl_hda_dsp_generic skl_hda_dsp_generic: dmic-hifi <-> DMIC01 Pin mapping ok
[    3.776801] skl_hda_dsp_generic skl_hda_dsp_generic: dmic-hifi

[2020-03-24 11:33] kv2019i commented on #1877
@mattmax42 Ack, good point @plbossart I had missed that the DMIC were not in "arecord -l" list. And, indeed the problem is the missing DMIC devices. Pulseaudio will log an error for each DMIC node and fails to load the profiles. In the log you shared, it's this:
E: [pulseaudio] module-alsa-card.c: Failed to find a working profile.

[2020-03-24 12:01] kv2019i commented on #1877
@plbossart Hmm, need to check past bugs, but there's nothing obvious in the logs. The kernel version is old compared to the loaded tplg (8 vs  11), but I just checked that the last change to dmic tokens was at ABI 8, so this kernel already has it. The dmic-codec is there, so looks all good.

@mattmax42 wrote:

Hmm, interesting, so everything solved now? Do you see DMIC entries in "arecord -l"?

[2020-03-24 12:10] oortcomet commented on #1911
@RanderWang You can test the RT1308 TDM playback by using the patch.
It is only for test. If there is any problem, please let me know.

[rt1308_tdm_playback.zip](https://github.com/thesofproject/linux/files/4375114/rt1308_tdm_playback.zip)

[2020-03-24 12:35] Jeff406 commented on #1877
Hi @kv2019i ,
In case you can help, here is my alsa-info http://alsa-project.org/db/?f=12c2331125d38c5aee7c4830da5bfc49d6bb7aee
and dmesg
[dmesg-20200322-2.txt](https://github.com/thesofproject/linux/files/4375240/dmesg-20200322-2.txt)
Thanks for your response.

[2020-03-24 14:20] plbossart commented on #1919
@RanderWang You don't need to update pulseaudio, just libasound2. @libinyang has a package already
[libasound2_1.2.1.2-intel_amd64.deb.gz](https://github.com/thesofproject/linux/files/4375750/libasound2_1.2.1.2-intel_amd64.deb.gz)

[2020-03-24 16:58] plbossart opened #1931 "[BDW] IPC errors on playback after suspend-resume"
Audio works fine, but IPC errors when trying to play after using rtcwake

<details> <summary> terminal log </summary>

[code]
</details>

<details> <summary> dmesg log </summary>
[code]

</details>

[2020-03-24 18:26] kv2019i commented on #1792
@mamarley Can you report this in the gitlab issue 1363? The gfx folks are not following this bug tracker.
UPDATE: aa, you already did, thanks!

[2020-03-24 18:28] mamarley commented on #1792
[Already done](https://gitlab.freedesktop.org/drm/intel/issues/1363#note_443619) :)

[2020-03-24 22:33] plbossart commented on #1931
@keyonjie can you reproduce this on your Samus device?
The config can be generated with https://github.com/thesofproject/kconfig/pull/28
and
kconfig-sof-default.sh

@ranj063 do you also have a Samus device by any chance?

@cujomalainey FYI

[2020-03-24 22:41] ranj063 commented on #1931
@plbossart unfortunately no. I have no BDW devices

[2020-03-24 22:42] ranj063 commented on #1931
@plbossart My guess is that when the DSP is suspended, the DSP is powered off and never really gets powered back up again.

[2020-03-24 23:52] elorriaux opened #1985 "[BUG] Failed to use SOF on HP zbook 15 G6"
**Describe the bug**
dmesg reports:
[    4.122285] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    4.122812] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    4.123269] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[    4.123798] sof-audio-pci 0000:00:1f.3: warning: No matching ASoC machine driver fou

[2020-03-25 00:23] plbossart commented on #1985
@elorriaux that looks like a known issue where an external NVIDIA GPU is used, the log is similar to https://github.com/thesofproject/linux/issues/1658

@kv2019i I think you fixed this with https://github.com/thesofproject/linux/pull/1731, but can it be back-ported to 5.5-stable?

[2020-03-25 01:54] astromatt42 commented on #1877
@kv2019i Hi, unfortunately not, in fact it has gotten worse, while audio output works, still no mic and now the machine refuses to wake after sleep - so there must be some interaction with libasound2. Removing all mods and going back to the intel driver helps, so I am tempted to shelve this for now until a newer Kernel/new drivers are released and then try again...

[2020-03-25 01:59] RanderWang commented on #1911
@oortcomet  Thanks!  @sinahuang   Hi sina, could you help to validate this patch?  thanks!

[2020-03-25 02:21] YvonneYang2 commented on #1921
Issue cannot be reproduced on DVT1 since PR #1927 has been merged. So close it.

[2020-03-25 02:21] #1921 closed

[2020-03-25 02:56] YvonneYang2 commented on #1867
Error not seen on headphone with kernel sof-dev(commit: 33f864de) + master(commit: b8b96a2)
Error also not seen on speaker with kernel sof-dev(commit: 33f864de) + master commit: b8b96a2 + https://github.com/thesofproject/sof/pulls?q=2603 to avoid issue https://github.com/thesofproject/sof/issues/2570
So close the bug.

[2020-03-25 02:56] #1867 closed

[2020-03-25 05:46] sinahuang commented on #1923
Attached amixer contents:
numid=11,iface=MIXER,name='rt715 ADC 07 Capture Switch'
  ; type=BOOLEAN,access=rw------,values=2
  : values=off,off
[unnormal.zip](https://github.com/thesofproject/linux/files/4379230/unnormal.zip)

[2020-03-25 06:03] bardliao commented on #1384
re-test it with the latest kernel and I can see "rmmod: ERROR: Module snd_sof_pci is in use" which is expected.

[2020-03-25 06:03] #1384 closed

[2020-03-25 06:58] sinahuang commented on #1911
Checked with sof-dev  (commit:33f864d)+ rt1308_tdm_playback patch and master (commit:  b8b96a20b), original issue can't be reproduced,  speaker RT1308 can work normally.

[2020-03-25 08:01] RanderWang commented on #1919
@plbossart I tested and It doesn't work. According to @libinyang  we need to update all pulse audio components. And I also found some commits for UCM2 in PA.

[2020-03-25 08:55] sinahuang commented on #1918
Issue also can be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode

[2020-03-25 08:58] bardliao commented on #1918
We should use new UCM for this too.

[2020-03-25 09:44] elorriaux commented on #1985
@plbossart thanks Pierre for the quick answer. Actually you're wright my IT disabled the intel graphics card, I did not pay attention to that. If I reactivate it I can go through that error but my X server does not work anymore, and my other distro does not boot anymore. So I will probably have to

I was also wrong regarding the firmware, the next error is that sof-cfl.ri is missing.

[2020-03-25 10:43] sinahuang commented on #1923
Issue can't be reproduced now, keep monitor it.

[2020-03-25 11:34] kv2019i commented on #1985
@plbossart Ack, this is fixed by upstream commit "ASoC: SOF: Intel: hda: allow operation without i915 gfx" . This is currently not queued even for 5.6, so only in 5.7 queue. Mark wasn't happy recently with the volume of changes to 5.5, so not sure if this is accepted. There is going to be a fair amount of patches, so maybe this is still worth it.

UPDATE: @plbossart I'll try the patches on top of

[2020-03-25 12:59] kv2019i commented on #1985
@plbossart @elorriaux Hmm, backport to 5.5.y is not really straightforward. A minimum set requires many more patches than the one mentioned. I backported three patches, but then realized that the upstream fix depends on the refactored machine selection code (in 5.5.y, bus probe is done after machine driver selection, so the upstream logic to ignore lack of i915 won't work). Backport to 5.5.y withi

[2020-03-25 13:54] armantorkzaban commented on #1877
@paulstelian97  I have DMIC and I can capture sound by arecord.
How can set the pulseaudio UCM for:

- sofhdadsp [sof-hda-dsp]

- 00:1f.3 Multimedia audio controller [0401]: Intel Corporation Cannon Lake PCH cAVS [8086:a348] (rev 10)
        Subsystem: Dell Cannon Lake PCH cAVS [1028:0924]
        Kernel driver in use: sof-audio-pci
        Kernel modules: snd_hda_intel, snd_sof_pci
00:1f.4 SMBus

[2020-03-25 15:49] tlauda commented on #118
@plbossart @lgirdwood @wenqingfu @lbetlej Could we prioritize this feature? By parsing dumped payload we could recreate many sequences using our slim driver, which would speed up the process of debugging issues. The similar mechanism worked great for Windows. Of course to recreate the correct sequence the log would need to also have some additional information, like host stream buffer info, stream

[2020-03-25 15:49] hoo2 commented on #1877
I'm running ubuntu 19.10 and i can confirm:

1) The solution with blacklist of "snd-hda-intel" and "snd-soc-skl" and [ucm directory](https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/sof-skl_hda_card) copy to /usr/share/alsa/ucm/, is working for 5.3.0-40-generic. It only needs some alsamixer boost for mic.

2) The 5.3.0-42-generic update does not work. Its faltback to DummyOutput de

[2020-03-25 16:02] plbossart commented on #1919
@RanderWang do you use Ubuntu 19.10? If not then please update first. I have zero issues with Ubutun19.10.

[2020-03-25 17:53] plbossart commented on #118
@tlauda what do you mean with additional information? If we dump the IPC payload in debugfs you'll get the IPC payload. If you want more context for this to be useful, then we'd have to instrument all IPC usages and define a syntax for what you want.

[2020-03-25 17:59] plbossart commented on #1985
@kv2019i I think we need to start thinking about a 5.5 SOF branch, it'd still be useful for a number of people who have non-functional devices. You can argue that 5.6 is just around the corner though but some distros will stick with 5.5. Some will even stick with 5.4 LTS.

[2020-03-26 00:39] RanderWang commented on #1919
I worked on OEM ubuntu image base on 18.04. I will install 19.10 and have a try

[2020-03-26 03:41] sinahuang opened #1934 "[BUG][CML-H]" error: ipc error for 0x60010000 size 20" display when aplay via speaker0,2."
**Describe the bug**
Speaker0,2 can't work normally, dmesg show " error: ipc error for 0x60010000 size 20".

**To Reproduce**
1.Boot up system.
2.aplay -Dhw:0,2 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav

**Reproduction Rate**
5/5

**Expected behavior**
Aplay0,2  should work normally.

**Impact**
" error: ipc error for 0x60010000 size 20" display when aplay via speaker0,2.
[code]
[

[2020-03-26 04:36] sinahuang commented on #1905
Test with sof-dev(commit: a27277) +master(commit: ae53aeb), issue still can be reproduced after PR1932 merged.

[2020-03-26 04:54] YvonneYang2 commented on #1480
Since https://github.com/thesofproject/sof/pull/2358 has been merged, issue cannot be reproduced on latest sof-dev + master. So close it.

[2020-03-26 04:54] #1480 closed

[2020-03-26 06:58] kv2019i commented on #1719
Still in review, not yet merged:
https://patchwork.freedesktop.org/series/74664/

[2020-03-26 08:08] keyonjie commented on #1838
@sathyap-chrome sorry didn't get clear enough email even you tagged me.

Let's add this to our daily bug scrub meeting and proceed it. @mengdonglin @ClarexZhou

[2020-03-26 08:12] naveen-manohar opened #1935 "TGL: Chrome-Ref: SDW: DMIC & HDMI Audio Fails with Generic Machine Driver"
Issue Description:
Post switching to Generic Machine driver, Observe issue with DMIC Capture & HDMI Audio Playback

Details:
Kernel: 9b5b6c2a3aef (HEAD -> ww12.5, origin/topic/sof-dev, origin/HEAD)
Topology: https://github.com/thesofproject/sof/compare/master...naveen-manohar:tgl_rt5682-sdw
DSP-FW#1: TGL_SoF_V0.3 Release

Error Log:
[dmesg_dmic_hdmi_panic.log](https://github.com/thesofproject/linu

[2020-03-26 09:08] jason77-wang opened #1938 "[Bug][CML] MIC jack is off if plug in headset when HDA Analog isn't in use."
Similar to #1628 but not same.  The difference is #1628 is for WHL platforms, and after setting the autosuepend_delay to codec driver, the mic could be detected on WHL platforms. On CML platforms, even setting the autosuspend_delay, the mic could not be detected, It also needs to revert a commit:

37a0794

ASoC: SOF: Intel: hda-loader: clear the IPC ack bit after FW_PURGE done

Set DONE bit after

[2020-03-26 09:49] Liviali155 commented on #1847
Issue still can be reproduced on lastest sof/dev/(a2727779) +master(ae53aebc)

[2020-03-26 14:24] plbossart commented on #1935
@naveen-manohar I would have expected you to test prior to merging?

At any rate, did you make sure the topology is now aligned with the machine driver? the dai link IDs will be different so there's a risk of mismatch here.

Regardless we should trap this so you should also provide the sof-logger output to harden kernel+firmware.

[2020-03-26 15:02] kv2019i commented on #1938
@keyonjie Can you take a look at this. Reverting your patch seems to have a surprising effect to the HDA codec:
 https://github.com/thesofproject/linux/pull/1837

[2020-03-26 19:28] lgirdwood commented on #1801
@kv2019i @plbossart FW part is good. Ready to merge.

[2020-03-26 19:29] lgirdwood commented on #1801
@kv2019i what's the reasoning for not being in ABI minor ?

[2020-03-26 21:09] naveen-manohar commented on #1935
@plbossart As I was posting rt5682 helper file(remotely), was concentrating headset functionality and this works perfect(verified through loop-back)
While submitting the corresponding topology file, noticed these issues and raised a GH right-away.
Apologies for the miss..

I ensured the Topology matches the new mach driver wrt link_id, Also any wrong ID-configuration will hit null-ptr deref issue.