[2020-03-27 02:22] RanderWang commented on #1935
[sdw5682.diff.txt](https://github.com/thesofproject/linux/files/4391108/sdw5682.diff.txt)
pcm id  should match with pipeline id.

[2020-03-27 05:05] naveen-manohar commented on #1935
Many Thanks @RanderWang
Verified all the end-points(remotely through loop-back) and seems all works fine.

@keqiaozhang : Have updated PR:2527

[2020-03-27 05:35] aiChaoSONG commented on #1838
Here are the test result on 4ch. @keyonjie @keqiaozhang @sathyap-chrome
1. change nocodec tplg to support 4ch: [cml_nocodec_2ch_to_4ch.txt](https://github.com/thesofproject/linux/files/4391647/cml_nocodec_2ch_to_4ch.txt)
2.  playback waveform 1
![sine_saw_square_noise](https://user-images.githubusercontent.com/52959957/77724613-609e1200-702e-11ea-8b34-9bad0a4405c1.png)
3. loopback recorded wavefor

[2020-03-27 06:18] Liviali155 commented on #1792
Tried with #1939,error not seen

[2020-03-27 06:20] keyonjie commented on #1838
Hi @aiChaoSONG can you change the tplg to use DSP_A mode:

[code]

And change the recorded .wav file to S32_LE before using audacity to open it.

[2020-03-27 07:34] aiChaoSONG commented on #1838
@keyonjie Did the same test according to your instruction, got the same result with step 4 and step 5.
on step 3, the waveform should be:
![Screenshot from 2020-03-27 15-26-28](https://user-images.githubusercontent.com/52959957/77732635-35bcb980-7040-11ea-9369-e0d2c5f803a5.png)
seems 4ch waveform is modulated into the first channel.

[2020-03-27 07:36] sathyap-chrome commented on #1838
@aiChaoSONG do you see difference (channel swap) with different record sessions in step #3 ? using DSP_A

[2020-03-27 07:40] aiChaoSONG commented on #1838
@sathyap-chrome No, through the waveform is not right, but the order keep unchanged.

[2020-03-27 07:53] keyonjie commented on #1838
@sathyap-chrome @aiChaoSONG can you try to dump the regmap to see if the registers setting are same between the correct and wrong order respectively:
#cat cat /sys/kernel/debug/regmap/*rt1011*/registers

[2020-03-27 08:18] keqiaozhang commented on #1935
Both DMIC and HDMI can work with new TPLG
https://github.com/thesofproject/sof/pull/2527

[2020-03-27 08:40] kv2019i commented on #1792
@Liviali155 wrote:

Excellent news, thanks a lot for the quick testing. The patch is merged upstream and I'll now proceed to merge this in sof-dev as well, so we get the fixing immediately to the audio tree.

[2020-03-27 10:19] #1792 closed

[2020-03-27 10:34] Liviali155 opened #1942 "[BUG][GLK]"hda_sdw_acpi_scan failed" showed in dmesg after bootup"
Describe the bug
"hda_sdw_acpi_scan failed"  showed in dmesg after bootup,Seems only a error message,has no impact on function

To Reproduce
1.sudo reboot
2.check /var/log/kern.log
[kern.log](https://github.com/thesofproject/linux/files/4392836/kern.log)

**Expected behavior**
There is no error message in dmesg after bootup

**Impact**
"hda_sdw_acpi_scan failed" showed in kernel log,has no reponse

[2020-03-27 10:38] Liviali155 commented on #1942
on below platforms also has this issue:
CML Chrome with onboard codec RT5682 and RT1011 in I2S mode

on below platforms can not reproduce this issue
TGL-U RVP with onboard codec ALC711 in HDA mode
CML laptop with onboard codec ALC3204 in HDA mode

[2020-03-27 10:41] Liviali155 commented on #1942
Changed the kernel  to 20191201(0bdbe73a) ,error not seen

[2020-03-27 15:27] kv2019i commented on #1877
@mattmax42 wrote:

Ack. The libsound2 update may break if you had manually copied UCM files to /usr/share/ucm. But the main problem is DMIC not visible in "arecord -l ".

Ack ,that is understandable, thanks a lot for all the debugging you've done so far. I would assume we'd get reports from other people as well to the dmic problem. That should help to figure out the rootcause. If anyone else has a

[2020-03-27 15:34] kv2019i commented on #1877
@Jeff406 wrote:

Hmm, it seems the two files are from separate boots. The alsa-info shows the "legacy driver" (snd_hda_intel) to be used and everything seems normal (but the digital mic is not supported by this driver, so that is missing). In the dmesg, I can see the SOF driver (that uses the DSP and can support the digital mic) is loaded, but there are no errors.

I'd be curious to see alsa-info

[2020-03-27 16:08] naveen-manohar commented on #1935
Thanks All

[2020-03-27 16:08] #1935 closed

[2020-03-28 12:30] sinahuang opened #1953 "[BUG][CML]Aplay0,2 rt1308 right speaker have sound output when muted speaker in alsamixer."
**Describe the bug**
Aplay0,2 rt1308 right sepaker have sound output when muted speaker in alsamixer

**To Reproduce**
1.Boot up system successfully.
2.Switch speaker to mute in alsamixer.
2.Aplay -Dhw:0,2 -fs16_le -c2 -r 48000 -vv -i 00.wav

**Reproduce rate**
5/5

**Expected result**
Speaker should't have sound output when selected headphone in soundsetting.

**Actual result**
Aplay0,2 rt1308 ri

[2020-03-28 17:08] plbossart commented on #1953
@sinahuang are you sure you muted all speakers? There are 4 speakers on CML-H

[2020-03-30 02:30] sinahuang commented on #1953
I use the 'Speaker Switch' to mute speaker, not rt1308 switch.
<img width="367" alt="mute-speaker" src="https://user-images.githubusercontent.com/56706782/77871970-3fc8fd00-7278-11ea-933a-ddf8385c17bb.png">

Attached the amixer contents before mute speaker and after mute speaker.
[befor mute speaker.txt](https://github.com/thesofproject/linux/files/4400477/befor.mute.speaker.txt)
[after mute speak

[2020-03-30 03:35] sathyap-chrome commented on #1838
@keyonjie I've done the regmap experiment already. it stays same across all recording

[2020-03-30 06:34] aiChaoSONG commented on #1838
I tried 10 times, seem the regmap changed, even the recorded waves are the same.
[regmap.zip](https://github.com/thesofproject/linux/files/4401165/regmap.zip)

[2020-03-30 06:43] sinahuang commented on #1953
Verified this issue with sof-dev (commit :a272777 + #1943 +#1897+#1954), issue can't be reproduced.

[2020-03-30 07:01] keqiaozhang opened #1955 "[BUG][TGL]: Failed to load tplg after kmod testing"
**Describe the bug**
Tried module reloading test on TGL chromeboook, but after inserting audio modules, tplg failed to load again.

**To Reproduce**
Run kmod test script:
1. sof_remove.sh
2. sof_insert.sh

**Reproduction Rate**
10/10
**Expected behavior**
tplg reload successful after kmod test

**Impact**
failed to reload tplg

**Environment**
Branch name and commit hash of the 2 repositories: sof

[2020-03-30 08:05] Liviali155 commented on #1942
Tried with PR #1944,error not seen on below platforms：
CML Chrome with onboard codec RT5682 and RT1011 in I2S mode
GLK Chrome with onboard codec DA7219 in I2S mode

[2020-03-30 12:03] sinahuang commented on #1910
Issue still can be reproduced on CML-H with latest UCM:https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#32.

[2020-03-30 12:04] sinahuang commented on #1918
Issue can't be reproduced on CML-H with latest UCM:https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#32.

[2020-03-30 12:25] kv2019i commented on #1847
The i915 patch accepted as well. Together #1957 (pending merge) and #1932 (merged) close this bug in sof-dev as well.

[2020-03-30 12:27] kv2019i commented on #1905
The i915 patch accepted as well. Together #1957 (pending merge) and #1932 (merged) close this bug in sof-dev as well.

[2020-03-30 12:37] YvonneYang2 commented on #1910
Issue cannot be reproduced on cml-u with latest UCM: https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +https://github.com/thesofproject/alsa-ucm-conf/pull/33

[2020-03-30 12:38] YvonneYang2 commented on #1918
Issue cannot be reproduced on cml-u with latest UCM: https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +thesofproject/alsa-ucm-conf#33

[2020-03-30 14:55] plbossart commented on #1955
@keqiaozhang can you add dynamic debug on the soud/soc/intel/boards directory, most likely the card cannot be registered. It's a know problem that if the card probe fails then the system looks fine but isn't functional, without any errors reported - that's a platform device framework issue.

[2020-03-30 15:04] #1942 closed

[2020-03-31 02:03] ClarexZhou commented on #1918
Error not reproduced on latest UCM1 PR#32 and PR#33.
For UCM2 PR#29:
CML-H will be tested after 1308 sync playback are ready
CML-U, tested with ubuntu 20.04 (pulseaudio default version 13.99.1 and alsa lib default version 1.2.2-2.1 )current issue not seen. UCM works, but still has several issues. See https://github.com/thesofproject/alsa-ucm-conf/pull/29#issuecomment-604179600

[2020-03-31 02:19] sinahuang commented on #1919
Verified with sof-dev and master branch on latest UCM:https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#https://github.com/thesofproject/alsa-ucm-conf/pull/32, issue can't be reproduced.

[2020-03-31 02:23] sinahuang commented on #1923
Verified with latest sof-dev and master branch on latest UCM:https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#thesofproject/alsa-ucm-conf#32, issue can't be reproduced.

[2020-03-31 03:42] Liviali155 commented on #1847
Tried with PR #1957 ,error not seen

[2020-03-31 07:25] aiChaoSONG commented on #1838
@sathyap-chrome Hi, Sathya, sometimes, the volume component cannot process 4ch stream correctly, could you please remove volume component on recording pipeline, and see if issue reproduced?

[2020-03-31 08:10] lyakh opened #1963 "make hda_dsp_common a separate module"
Currently many boards from `sound/soc/intel/boards/` link `hda_dsp_common.c` into their modules, which creates unnecessary and easy to avoid redundancy. Move `hda_dsp_common.c` into a separate module.

[2020-03-31 08:20] keqiaozhang commented on #1955
@plbossart
I tried to add dynamic debug on both soud/soc/intel/ and soud/soc/intel/boards directories, but sill no additional logs output.
[code]

[2020-03-31 09:00] aiChaoSONG commented on #1838
@sathyap-chrome @keyonjie Nocodec loopback is OK. DO NOT use audacity or sox to do any conversion, they are not user friendly, and sometimes error-prone. Use Octave to read and view the recorded data.

[2020-03-31 09:01] emilchudzik opened #1965 "Error while building linux repo with NOCODEC FORCE flag."
When trying to build kernel using scripts with additional flags there is error during building:

steps:

1. git clean -fdx
2. make defconfig
3. config merging using script: kconfig/blob/master/kconfig-sof-default.sh
4. make menuconfig: set NOCODEC support and NOCODEC force flags
5. make bindeb-pkg -j16

[2020-03-31 09:07] emilchudzik commented on #1965
There is no building issue when using script: kconfig/blob/master/kconfig-sof-nocodec.sh

[2020-03-31 09:36] mengdonglin commented on #1824
Same cause as #1621

[2020-03-31 09:47] #1847 closed

[2020-03-31 09:47] #1905 closed

[2020-03-31 11:32] plbossart commented on #1965
Fixed already https://github.com/thesofproject/linux/pull/1959

[2020-03-31 11:32] #1965 closed

[2020-03-31 14:36] kv2019i commented on #1658
Patch merged upstream and merged back to sof-dev as well. Closing.

[2020-03-31 14:36] #1658 closed

[2020-03-31 14:46] lgirdwood opened #1966 "[FEATURE] Make IPC return value error into debug"
The kernel prints the following errors for a failed IPC commands
[code]
This lead to poor SNR for developers and bug reports, we should make
[code]
to be at the same kernel debug level (i.e. they will be enabled together as part of debug) and keep higher level IPC command errosr like
[code]
as dev_err() level messages. This way its far more obvious for users and developers.

[2020-04-01 00:51] RanderWang commented on #1919
PR29 on 19.10,  issue can't be reproduced.

[2020-04-01 02:00] ClarexZhou commented on #1919
RT711 headset not work with PR#29 on ubuntu 20.04. See https://github.com/thesofproject/alsa-ucm-conf/pull/29#issuecomment-604179600

[2020-04-01 02:50] keyonjie commented on #1838
Thanks @aiChaoSONG and @sathyap-chrome.

Hi @sathyap-chrome I am thinking it might be the clock synchronization issue among the 4 channels/codecs, the most straight forward way is to probe the tx pin of the SSP interface.

[2020-04-01 03:25] libinyang opened #1968 "[BUG]: Sound card failed in initailization if SND_SOC_SOF_HDA_LINK & SND_SOC_SOF_HDA_AUDIO_CODEC is not enabled"
**Describe the bug**
If some machine driver, such as sof-soundwire, if SND_SOC_SOF_HDA_LINK & SND_SOC_SOF_HDA_AUDIO_CODEC, sound card will fail to be created.
This is because HDMI audio need SND_SOC_SOF_HDA_AUDIO_CODEC to be enabled as it will use hda codec core to probe.

**To Reproduce**
Disable SND_SOC_SOF_HDA_LINK & SND_SOC_SOF_HDA_AUDIO_CODEC manually in `make menuconfig` and compile the kern

[2020-04-01 03:26] libinyang commented on #1968
I will make a patch to select the SND_SOC_SOF_HDA_LINK & SND_SOC_SOF_HDA_AUDIO_CODEC if HDMI is used and do some corresponding code change in the driver.

What do you think of the solution?

[2020-04-01 03:29] libinyang commented on #1968
The dmesg
[dmesg.txt](https://github.com/thesofproject/linux/files/4412625/dmesg.txt)

[2020-04-01 03:29] ranj063 commented on #1968
@libinyang we've discussed this in the past and as far as I can remember it is a feature and not a bug.
@kv2019i any thoughts?

[2020-04-01 03:31] libinyang commented on #1968
@ranj063 Thanks for the update. Do we have some conclusion how to implement it or fix it?

[2020-04-01 04:03] sathyap-chrome commented on #1838
@keyonjie  with current situation, i wont be able to probe the tx pin. Can we try probes on CML ?

[2020-04-01 04:26] sinahuang opened #1969 "[BUG][CML]Arecord0,4 rt715 captured audio files output pop noise"
**Describe the bug**
Arecord0,4 rt715 captured audio files have overshoot noise output at the beginning.

Captured audio files:
[audio file.zip](https://github.com/thesofproject/linux/files/4412787/audio.file.zip)

**To Reproduce**
1.Boot up system successfully.
2. Arecord -Dhw:0,4 -fs16_le -c2 -r 48000 -vv -i 00.wav
3. Check captured audio files 00.wav

**Reproduce rate**
5/5

**Expected result**

[2020-04-01 06:11] sinahuang opened #1970 "[BUG][CML-H] Warning "soc_dpcm_fe_runtime_update doesn't support Multi CPU yet" info shows in dmesg."
**Describe the bug**
Warning "soc_dpcm_fe_runtime_update doesn't support Multi CPU yet" info shows in dmesg. Function can't be effected when this info displayed.

**To Reproduce**
1.Boot up system successfully.
2.Check the dmesg.

**Reproduce rate**
5/5

**Expected result**
"soc_dpcm_fe_runtime_update doesn't support Multi CPU yet" info should not show in dmesg.

**Actual result**
Warning "soc_dpc

[2020-04-01 07:00] Liviali155 commented on #1703
On 20200401 daily test reproduced this issue again when do module load/unload test,sof/dev(3bdd89d2)+master(1e39ceec),I reproduced it manually,but can not reproduce it

[code]
[check-kmod-load-unload-50.sh.txt](https://github.com/thesofproject/linux/files/4413279/check-kmod-load-unload-50.sh.txt)
[cmd.txt](https://github.com/thesofproject/linux/files/4413281/cmd.txt)
[dmesg.txt](https://github.com

[2020-04-01 12:43] kv2019i commented on #1968
@libinyang @ranj063 ack, this is a bug in Kconfig dependencies. Like most others, there needs to be a dependency to HDA_AUDIO_CODEC. E.g. for UP2 we have this:

[code]

[2020-04-01 15:19] plbossart commented on #1968
I'd like to understand the issue better when SND_SOC_SOF_HDA_LINK & SND_SOC_SOF_HDA_AUDIO_CODEC are not enabled

a) does the build fail?
b) does the probe fail?

We don't have a topology without hdmi, so it'd be a feature that the machine driver is not selected.

[2020-04-01 15:21] plbossart commented on #1969
what does "po" mean?

[2020-04-01 15:25] plbossart commented on #1970
@sinahuang you are looking at the wrong part of the dmesg, there is an earlier issue

[code]

[2020-04-02 01:05] libinyang commented on #1968
@kv2019i Yes, both 'depends' and 'select' can fix it. I will make a patch for it

[2020-04-02 01:13] libinyang commented on #1968
@plbossart The build is successful. It failed in the driver probe. We still use the topology with hdmi as we enabled SND_HDA_CODEC_HDMI in kernel config. And HDMI in sof needs SND_SOC_SOF_HDA_AUDIO_CODEC. With SND_SOC_SOF_HDA_AUDIO_CODEC, the codec will probe fail.

--- correct: "With SND_SOC_SOF_HDA_AUDIO_CODEC, the codec will probe fail. " => "Without SND_SOC_SOF_HDA_AUDIO_CODEC, the codec will

[2020-04-02 01:52] sinahuang commented on #1970
Yes, tracked another earlier issue by https://github.com/thesofproject/sof/issues/2690

[2020-04-02 02:43] keyonjie commented on #1838
I guess you actually got the correct S24_LE data(don't use audacity to open S24_LE format file), can you try play this file and check if it sounds good?

[2020-04-02 02:50] keyonjie commented on #1838
We can't do that here neither as we don't have hardware technician to support hardware rework at these days.

Maybe we can ask for some support(e.g. buffer probe?) from the FW team. @fkaczmar ?

[2020-04-02 03:00] ranj063 commented on #1968
@libinyang @plbossart this is the same issue that we brought up with the chrome config a while ago. If there is a conflict between topology and kernel config, which side is responsible to fix it?

[2020-04-02 04:20] keqiaozhang commented on #1955
This issue is clarified that  snd_soc_max98373 is missing in sof_insert.sh.
PR https://github.com/thesofproject/sof-test/pull/155 is merged now. This issue can be closed now.

[2020-04-02 04:20] #1955 closed

[2020-04-02 04:24] Liviali155 opened #1972 "[BUG][CML][UCM2]HDA UCM2 need set default PGA volume"
**Describe the bug**
Only left channel has sound output when do speak test(0,0)
[code]

**To Reproduce**
1.sudo reboot
2.speak-test -Dhw:0,0 -r48000 -f1000 -c2 -t wav -l 10

**Reproduction Rate**
10/10

**Expected behavior**
The sound of left channel and right channel normally

**Actual result**
Only left channel has sound output
<img width="647" alt="1" src="https://user-images.githubusercontent.

[2020-04-02 04:29] Liviali155 commented on #1972
shell we set  default volume for all the playback and capture?

[2020-04-02 05:31] Liviali155 commented on #1687
On CML laptop also reproduce this issue,but it is random,about 2/5
···
numid=20,iface=CARD,name='HDMI/DP,pcm=3 Jack'
  ; type=BOOLEAN,access=r-------,values=1
  : values=off
numid=26,iface=CARD,name='HDMI/DP,pcm=4 Jack'
  ; type=BOOLEAN,access=r-------,values=1
  : values=off
numid=32,iface=CARD,name='HDMI/DP,pcm=5 Jack'
  ; type=BOOLEAN,access=r-------,values=1
  : values=off
numid=17,iface=CARD,

[2020-04-02 05:43] Liviali155 opened #1973 "[BUG][CML]cl_dsp_init: timeout for HIPCIE done"
Bug Description
run sudo rtcwake -s 10 -m mem, after the machine sleep back, check dmesg, you can see cl_dsp_init: timeout for HIPCIE done error

To Reproduce
1.reboot
2.run sudo rtcwake -s 10 -m mem

Reproduction Rate
5/5

Impact
no functional impact, just error messages
<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

Kernel: [97453d9] (https://git.kernel.org/pub/scm/linux/kerne

[2020-04-02 05:44] Liviali155 commented on #1973
Seems same as https://github.com/thesofproject/linux/issues/1472

[2020-04-02 06:01] ranj063 commented on #1973
this issue was fixed when the D0i3 series was merged. Can we please check if this kernel is missing those patches?

[2020-04-02 06:01] ClarexZhou opened #1974 "[Bug][WHL] UCM2 sof-hda-dsp not work on Lenovo X1 Yoga laptop"
**Bug Description**
UCM2 sof-hda-dsp not work on WHL laptop

**To Reproduce**
1. DUT system os is ubuntu 20.04: cdimage.ubuntu.com/ubuntu/daily-live/current, which include alsa lib version 1.2.2-2.1, pulseaudio verison: 13.99.1
2. Get https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp via git clone and put it under DUT /usr/share/alsa/ucm2  folder
3. Boot up system
4. Open

[2020-04-02 06:02] ClarexZhou commented on #1973
Error not seen on latest sof-dev.  Close

[2020-04-02 06:02] #1973 closed

[2020-04-02 06:19] sinahuang opened #1975 "[BUG][CML]The playback/capture will can't be recovered after stopping then resuming playback/capture on ubuntu 20.04."
**Describe the bug**
 The playback/capture will can't be recovered after stopping then resuming playback/capture, and all playback/capture pipelines have this issue.

More info:
Issue only can be reproduced on Ubuntu 20.04.
Ctrl+c can recover it.

**To Reproduce**
1.Boot up system successfully;
2. Aplay -Dhw:0,0 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav;
3.Ctrl+z to background;
4.

[2020-04-02 06:41] ClarexZhou commented on #1910
Close for not seen with UCM1 with PR#33 or UCM2 with PR#29

[2020-04-02 06:41] #1910 closed

[2020-04-02 06:43] ClarexZhou commented on #1918
close for ucm 1 not reproduced with PR #32/ PR#33
and UCM2 also not reproduced  on CML-U in SDW mode or with 2 1303 sync playback prs on CML-H

[2020-04-02 06:43] #1918 closed

[2020-04-02 06:47] ClarexZhou commented on #1975
Same with #1220 .  Close for system os issue.

[2020-04-02 06:56] sinahuang commented on #1918
Tested with UCM2 https://github.com/thesofproject/alsa-ucm-conf/pull/29, sound setting shows dummy on CML-H.
Error can't be seen on CML-H  with 4 1308 speakers sync playback enabled.

[2020-04-02 09:04] YvonneYang2 opened #1977 "[BUG][TGL]Two channels both output sound at the same time during speaker test on aplay0,0(speaker)."
**Describe the bug**
Two channels both output sound at the same time when do speaker-test on aplay0,0(Speaker)

**To Reproduce**
1. Boot up.
2. Run command via "speaker-test -Dhw:0,0 -r48000 -f1000 -c2 -t wav -l 5"
3. Check the channels

**Reproduced rate**
100%

**Expected result**
Left channel should be muted status when said "Right", Right channel should be muted status when said "Left"

**Actu

[2020-04-02 09:21] Liviali155 commented on #1687
Test on CML Chrome with onboard codec RT5682 and RT1011 in I2S mode with latest /sof/dev(b8464d14)+master(5452ac56),issue still can be reproduced

[2020-04-02 09:23] YvonneYang2 opened #1978 "[BUG][TGL]Warning message "snd_hda_codec_hdmi ehdaudio0D2: ASoC: can't open DAI intel-hdmi-hifi2: -16" occurred during multipipline test."
**Describe the bug**
WARNIG messge "snd_hda_codec_hdmi ehdaudio0D2: ASoC: can't open DAI intel-hdmi-hifi2: -16" occurred during multipipline test. Other function won't be effected after the warning message shows up.

**To Reproduce**
1. Boot up wiht HDMI external port connected.
2. Run test-case in sof-test with "./multiple-pipeline-playback.sh -c 4 -l 200 -r -t /lib/firmware/intel/sof-tplg/sof-tg

[2020-04-02 09:28] MayurVirkar commented on #1870
[log.txt](https://github.com/thesofproject/linux/files/4420064/log.txt)
Hello,
Kindly find attached log.txt as requested.
Apologies for the delay. Things are crazy everywhere.

[2020-04-02 09:52] kv2019i commented on #1687
@Liviali155 wrote:

Ack, this is likely still a separate bug. I'll continue debug on this.

[2020-04-02 10:17] MayurVirkar commented on #1879
Hi, Looks like I am facing the exact same issue.
How did you derive to 4?
Is it something I can just copy/paste in my config and reboot?

[2020-04-02 10:20] tobiasgrosser commented on #1879
I just removed the condition around it. I guess adding it, rebooting and seeing if it works won't hurt.

Best Tobias

On Thu, Apr 2, 2020, at 12:17, Mayur Virkar wrote:

[2020-04-02 10:56] kv2019i commented on #1870
Thanks @MayurVirkar ! Crazy time everywhere indeed.

The logs confirm that FW+drivers seem to be working. I've gone through it a couple of times, but cannot see any errors that would explain why Pulseaudio marks the profile unavailable. These traces are the problematic one:

D: [pulseaudio] card.c: HiFi availability no
D: [pulseaudio] card.c: off availability unknown
I: [pulseaudio] card.c: alsa_c

[2020-04-02 11:39] juimonen commented on #1870
@MayurVirkar @kv2019i looks odd to me also... seems that profile is set of because of jack event... @MayurVirkar what if you plug in headphones/headset does the profile come available and can you then choose still dmic?

[2020-04-02 13:32] libinyang commented on #1968
@ranj063 Are you talking about the mismatch between topology and kernel config, especially the mismatch of supporting hdmi or not? If so, our current solution is we always enable hdmi in driver and topology. And if config doesn't enable HDMI, driver will use dummy codec. However, I found there might be a dai config conflicts between driver and topology, which will cause hw_params() error. For such

[2020-04-02 17:01] MayurVirkar commented on #1870
@juimonen That's very strange, but yes. Once i plug in headphones, I can select the profile.

[2020-04-02 19:13] elorriaux commented on #1985
Hi, I tried to configure bumblebee to keep intel built-in grapĥics card enabled and it solves my initial error, I can go further but it fails to load the firmware (I symlinked sof-cfl.ri tp sof-cfl.ri):

dmesg | grep audio
[    4.130562] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    4.131228] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ p

[2020-04-02 19:28] plbossart commented on #1985
@elorriaux you sure about the symlink? If the file was in the right location it'd be a different error...

[2020-04-02 19:42] elorriaux commented on #1985
@plbossart That's the first thing I checked. You are confirming that I should continue to check in that direction.

I guess that read permission on cof-cnl.ri should be sufficient?

I simply took sof-cnl-v1.4.2.ri from https://github.com/thesofproject/sof/releases and copied it to /lib/firmware/intel/sof/sof-cnl.ri and then created a sof-cfl.ri symlink. I'll try to copy it directly with the right

[2020-04-02 20:20] plbossart commented on #1985
@elorriaux try to use the go.sh script, it does all the symlinks for you

[2020-04-02 20:23] plbossart commented on #1985
https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2

[2020-04-02 22:00] elorriaux commented on #1985
Reinstalled all the firmwares with the go.sh script, not exactly the same error msg:

dmesg | grep audio
[    4.114546] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    4.115214] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    4.115821] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[    4.116463] sof

[2020-04-03 02:38] sinahuang commented on #1978
Issue also can be reproduced on TGL-U RVP.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:b8464d14
FW:  https://github.com/thesofproject/sof/commits/master commit: 5452ac5
Tplg: Same with FW branch, sof-tgl-rt711-i2s-rt1308.tplg
Platform:TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode

[2020-04-03 02:40] sinahuang commented on #1977
Issue can't be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode

[2020-04-03 08:02] #1953 closed

[2020-04-03 09:27] lgirdwood commented on #1985
@elorriaux what was the script output ? You will need to run as root/sudo as it will be installing files under /lib/firmware (or wherever your distro places system firmware)

[2020-04-03 10:43] ClarexZhou opened #1979 "[Bug] [CML] Call Trace when using RT 711 headset playback/capture with UCM2 on ubuntu 20.04"
**Describe the bug**
Call Trace when using RT 711 headset playback/capture with UCM2 on ubuntu 20.04

Error not seen with ubuntu 18.04 with UCM1.

**To Reproduce**
1.  System os is 20.04 (get from cdimage.ubuntu.com/ubuntu/daily-live/current)
2. UCM2 https://github.com/thesofproject/alsa-ucm-conf/pull/29 is used and pulseaudio is enabled.
3. Boot up system
4. "aplay -Dhw:0,0 -f dat 1.wav -vv -i"

[2020-04-03 13:40] plbossart commented on #1979
that looks bad, division by zero?

[code]

[2020-04-03 13:51] elorriaux commented on #1985
everything was done with root account.

./go.sh
Installing Intel firmware and topology v1.4.2 to lib/firmware/intel
Done installing Intel firmware and topology v1.4.2

ls -alrt /lib/firmware/intel/sof
total 12
drwxr-xr-x 4 root root 4096 Apr  3 15:43 v1.4.2
lrwxrwxrwx 1 root root   24 Apr  3 15:43 sof-bdw.ri -> v1.4.2/sof-bdw-v1.4.2.ri
lrwxrwxrwx 1 root root   24 Apr  3 15:43 sof-cht.ri -> v1.4.2/

[2020-04-03 13:52] elorriaux commented on #1985
Forgot to add a listing to the directory where the link is pointing at:

ls -alrt /lib/firmware/intel/sof/v1.4.2/intel-signed/
total 844
-rw-r--r-- 1 root root 286720 Apr  3 15:43 sof-cnl-v1.4.2.ri
-rw-r--r-- 1 root root 282624 Apr  3 15:43 sof-apl-v1.4.2.ri
drwxr-xr-x 2 root root   4096 Apr  3 15:43 .
-rw-r--r-- 1 root root 286720 Apr  3 15:43 sof-icl-v1.4.2.ri
drwxr-xr-x 4 root root   4096 Apr

[2020-04-03 14:02] paulstelian97 commented on #1985
4 seconds, which means early boot... Do you have an initramfs? It's possible you may need to add the /lib/firmware/intel/sof and /lib/firmware/intel/sof-tplg folders inside the initramfs.

root ignores read/write permissions and so should the kernel module itself.

[2020-04-03 14:16] plbossart commented on #1985
maybe a red-herring but do you compile all SOF stuff as modules? if you use built-ins the request_firmware won't work.

Also the error you have
[ 4.131533] sof-audio-pci 0000:00:1f.3: error: codec #0 probe error, ret: -2

shows a problem with HDMI, so are you sure you are using the intel card?

[2020-04-03 14:24] kv2019i commented on #1985
Ouch, you @elorriaux seem to be hitting many issues. Thanks for trying and reporting back. You could try reloading "modprobe -r snd_sof_pci ; modprobe snd_sof_pci" after the system has booted. If the issue is with firmware files missing from initramfs, that should work around that.

@plbossart wrote:

#0 is still the external HDA codec. I'm afraid this is a case of https://github.com/thesofproject

[2020-04-03 14:26] elorriaux commented on #1985
@paulstelian97 good remark, I don't use initramfs but I can include the firmware when compiling the kernel

@plbossart No I was not using modules, I'll search in that direction. And yes I was using the intel card, when intel card is disabled in the BIOS, I'm getting the error described at the beginning of the bug:

[ 4.125485] sof-audio-pci 0000:00:1f.3: error: init i915 and HDMI codec failed

as

[2020-04-03 14:54] plbossart commented on #1985
@elorriaux To remove any timing or resource dependency, can you first blacklist snd-sof-pci, then after boot do a manual modprobe snd-sof-pci.

[2020-04-03 21:52] plbossart commented on #1985
Another trick @elorriaux is to add the attached file as /etc/modprobe.d/sof-dyndbg.conf, that will generate a longer dmesg trace and help us figure out what's going on. don't copy/paste the results, attach a file or provide a link, thanks!
[ddebug.txt](https://github.com/thesofproject/sof/files/4430080/ddebug.txt)

[2020-04-04 14:06] elorriaux commented on #1985
So, using modules instead of built in kernel solved the question, no need to blacklist the module. The firmware seems to be successfully loaded, there remains one error, I don't know if it's critical.

[    6.110301] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    6.110426] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF dr

[2020-04-04 19:50] plbossart commented on #1985
@elorriaux that's progress you now boot successfully and detect HDAudio cards ([ 6.119405] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 5
)

Can you try and do aplay -l and arecord -l, you should now see playback and capture devices. and should be able to play/capture using the -Dhw:0,x devices (replace x by what you see).

Let's take pulseaudio separately.

[2020-04-04 19:52] plbossart commented on #1985
ah and also don't use snd-hda-intel, it cannot be used for capture. You need SOF to deal with the digital mics.

[2020-04-04 22:33] leezu opened #1994 "[BUG] HP EliteBook 840 G6 SoF errors"
**Describe the bug**
On HP EliteBook 840 G6 with kernel 5.6.2 and linux-firmware 20200316, dmesg shows many sof related errors and the microphone does not work.

**To Reproduce**
Get a HP EliteBook 840 G6?

**Reproduction Rate**
Happens every time

**Expected behavior**
No errors in dmesg. Microphone works.

**Impact**
Microphone doesn't work.

**Environment**
1) Branch name and commit hash of the

[2020-04-04 23:44] plbossart commented on #1994
@leezu can you post the link to the results of alsa-info (or alsa-info.sh)?
We also need to know what distro you use, which version of alsa-lib is installed and if you see anything under /usr/share/alsa/ucm2/

Also have you tried to record directly from the hardware device for microphones? arecord -l will tell you what capture devices are available and arecord -Dhw0,x -c4 -fSE32_LE -r48000 should

[2020-04-05 01:03] leezu commented on #1994
@plbossart thank you. Please find the alsa-info attached.

I'm on Ubuntu 18.04 with a self-compiled 5.6.2 kernel and the linux-firmware package from the Ubuntu 20.04 repository.[ `alsa-utils` is of version 1.1.3 ](https://packages.ubuntu.com/bionic/alsa-utils). `/usr/share/alsa/ucm2/` does not exist, but there is `/usr/share/alsa/ucm/`.

arecord lists the following devices

[code]

and `arecord -D

[2020-04-05 09:07] elorriaux commented on #1985
@plbossart for snd-hda-intel I was just trying to get sound while sof is not operational.

When loading snd-sof-pci, I don't have any interface:

~ # aplay -l
aplay: device_list:274: no soundcards found...
~ # arecord -l
arecord: device_list:274: no soundcards found...

[2020-04-05 16:26] giddie commented on #1917
Many thanks for your prompt reply, and apologies for taking so long to get back to you!

I've built a new 5.6.2 kernel from the standard Arch PKGBUILD. New log and requested files are attached. I ran alsa-info.sh twice: once using SOF on the new kernel, and once using HDA in case a comparison helps.

[sof-firmware-kernel.log](https://github.com/thesofproject/linux/files/4434299/sof-firmware-kernel

[2020-04-05 16:30] giddie commented on #1917
I run into stability issues with SOF too - if I log straight into my KDE desktop (with SDDM), my system locks up. I've had more luck switching to an alternate TTY to log in, and then sometimes switching back I can log into the desktop without issues. There is no sound output, which probably comes as no surprise, but PulseAudio does seem to recognise the expected inputs and outputs.

[2020-04-05 23:34] plbossart commented on #1917
@giddie you seem to have a bad IPC error, which could be due to a number of factors.

I am tempted to ask you to disable pulseaudio first, e.g. by doing  sudo mv /usr/bin/pulseaudio /usr/bin/_pulseaudio (we can revert this later).

Also add a blacklist snd-sof-pci in /etc/modprobe.d/alsa-base.conf, and add the attached file as /etc/modprobe.d/sof-dyn.conf
[ddebug.txt](https://github.com/thesofproj

[2020-04-05 23:38] plbossart commented on #1994
@leezu you want to use card 0: sofhdadsp [sof-hda-dsp], device 6: DMIC48kHz (*) []

so that's

arecord -Dhw:0,6 -c4 -fS32_LE -r48000

[2020-04-05 23:41] plbossart commented on #1985
@elorriaux I don't know what to tell you except: please retry and check that you did remove blacklists or did a manual modprobe snd-sof-pci

[2020-04-06 01:42] leezu commented on #1994
Thanks for pointing out the missing `:` in my previous attempt. `arecord -Dhw:0,6 -c4 -fS32_LE -r48000` works well and records audio. Thus I think the problem is not with SoF or Alsa and we can close this issue? Thanks @plbossart!

~~I suppose manually upgrading PulseAudio may help to get the microphone working in other applications, or~~ Manually upgrading PulseAudio doesn't help. Do you have any

[2020-04-06 08:45] kv2019i commented on #1985
@elorriaux wrote:

Did you run these as root (seems so but just checking)? On most distros, only members of "audio" group can access the ALSA device nodes so "aplay -l" as a normal user will not report any soundcards. But as root it should work.

The log in https://github.com/thesofproject/sof/issues/2623#issuecomment-609033760 seems good, no errors anymore, firmware is loaded and probe works for

[2020-04-06 10:01] elorriaux commented on #1985
@plbossart I did so many attempts ;) I've even tried to upgrade to a 5.6.2 kernel without more success. Loading snd-sof-pci when booting or after booting does not change anything. My blacklist is empty (my system does not load snd-hda-intel automatically)

@kv2019i yes I ran scripts as root and my users ares in audio group

alsa-info: http://alsa-project.org/db/?f=b47e6e3b699a29d2769da51f8cd0acfa6

[2020-04-06 11:45] kv2019i commented on #1985
@elorriaux wrote:

With newer kernel's there is a mechanism to decide automatically which driver to choose. You can force a specific choice by putting to e.g. /etc/modprobe.d/blacklist-dsp.conf

[code]

[2020-04-06 12:01] kv2019i commented on #1985
@elorriaux wrote:

Ack, this confirms the driver load did not complete. You have no PCM devices:

[code]

In your dynamic-dbg log, it would seem init of snd_soc_skl_hda_dsp machine driver does not happen at all. It also seems the module is not loaded based on your alsa-info output.

A few things to try:
- can you confirm CONFIG_SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH is enabled in your kernel confi

[2020-04-06 16:00] plbossart commented on #1994
Good progress @leezu, so I guess the next step is to figure out what UCM files will work for you.

Typically on Ubuntu18.04 the 'old' files will work, but we since did a bunch of card renames, etc, so you may need to
a) upgrade your distro if you can
b) edit the UCM files

Can you share the tar file of what you see in /usr/share/alsa/ucm/sof*hda*dsp ? wildcards used on purpose since there are _ an

[2020-04-06 18:46] elorriaux commented on #1985
@kv2019i : you are actually pointing at something I've investigated yesterday after looking at that thread [https://github.com/thesofproject/sof/issues/2275](url)

So yes snd-soc-skl_hda_dsp  is enabled and compiled as module. My blacklist.conf is empty, and if I don't load modules by myself, nothing is loaded for audio devices (snd-hda-intel). Here is a dmesg log, where I modprobe snd-sof-pci aft

[2020-04-06 19:06] elorriaux commented on #1985
Log with dynamic debug, just in case...
[dmesg_modprobe_dyndbg.log](https://github.com/thesofproject/sof/files/4440352/dmesg_modprobe_dyndbg.log)

[2020-04-06 19:46] plbossart commented on #1985
@elorriaux can you check that you have the machine driver compiled in?
CONFIG_SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH=m

[code]

[2020-04-06 19:51] elorriaux commented on #1985
@plbossart

[code]

[2020-04-06 19:54] plbossart commented on #1985
don't do this: CONFIG_SND_SOC_SOF_HDA_ALWAYS_ENABLE_DMI_L1=y

[2020-04-06 19:56] plbossart commented on #1985
Also add this to a file in modprobe.d:

options snd_soc_skl_hda_dsp dyndbg=+p

that would enable dynamic debug and hopefully trigger some logs in this driver. If you you may have to add traces in there to figure out what's going one.

[2020-04-06 20:17] plbossart commented on #1985
@elorriaux if this helps here's the config we use for our own validation
[sof-dev-defconfig.txt](https://github.com/thesofproject/sof/files/4440613/sof-dev-defconfig.txt)

[2020-04-06 20:39] elorriaux commented on #1985
I recompiled to be as close as possible, there are things such as CONFIG_SND_SOC_SOF_OF CONFIG_SND_SOC_SOF_DEBUG_PROBES CONFIG_SND_SOC_SOF_HDA_PROBES CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE* that I can't find in menuconfig with my  kernel.

The resulting log:
[dmesg_modprobe_dyndbg_hda_dsp.log](https://github.com/thesofproject/sof/files/4440705/dmesg_modprobe_dyndbg_hda_dsp.log)

[2020-04-06 20:59] plbossart commented on #1985
ok, so there's a trace that shows you are going through the machine driver probe.
[   43.131740] skl_hda_dsp_generic skl_hda_dsp_generic: skl_hda_audio_probe: entry

I have 2 hypotheses here
a) I remember seeing cases where you cannot see the card unless you log in with the UI.
b) something goes wrong in the card registration, but we don't trace it.

Maybe you can apply the diff below to see what'

[2020-04-06 21:18] ranj063 commented on #1985
@plbossart I have a feeling this might be the case of missing mach_params->platform. The following diff will confirm it too:
[code]

[2020-04-06 21:21] elorriaux commented on #1985
@plbossart here it is

[dmesg_modprobe_dyndbg_hda_dsp_return.log](https://github.com/thesofproject/sof/files/4440849/dmesg_modprobe_dyndbg_hda_dsp_return.log)

[2020-04-06 21:25] plbossart commented on #1985
@elorriaux something's not right then, -517 is EPROBE_DEFER. So you are trying to use a resource that's not available. It'd guess it's an HDMI issue.

@kv2019i can we remove HDMI support from this card?

[2020-04-06 21:29] elorriaux commented on #1985
@ranj063
[dmesg_modprobe_dyndbg_hda_dsp_return_platform.log](https://github.com/thesofproject/linux/files/4440883/dmesg_modprobe_dyndbg_hda_dsp_return_platform.log)

The platform name is the one spotted by snd-sof-pci just before

[2020-04-06 21:29] ranj063 commented on #1985
@plbossart EPROBE_DEFER can be returned in soc_dai_link_sanity_check() when the corresponding component is not found for codec/platform/cpu. My suspicion is still on the platform name in mach_params. I vaguely remember seeing something like this before

[2020-04-06 21:41] ranj063 commented on #1985
@elorriaux thanks. that clarifies that platform name is not the issue. can we try this please?
[code]

[2020-04-06 22:13] elorriaux commented on #1985
@ranj063 I had to slightly adapt, hope I did it correctly
[dmesg_modprobe_dbg.log](https://github.com/thesofproject/linux/files/4441068/dmesg_modprobe_dbg.log)

[2020-04-06 22:30] ranj063 commented on #1985
Thanks @elorriaux. @plbossart this is new. Never seen this before.

@elorriaux in your /sys/bus/pci/devices/0000:00:1f.3/ folder, do you see the dmic-codec device?

[2020-04-06 22:33] elorriaux commented on #1985
@ranj063
ls -alrt /sys/bus/pci/devices/0000\:00\:1f.3/dmic-codec/
total 0
-rw-r--r-- 1 root root 4096 Apr  7 00:10 uevent
drwxr-xr-x 3 root root    0 Apr  7 00:10 .
lrwxrwxrwx 1 root root    0 Apr  7 00:32 subsystem -> ../../../../bus/platform
drwxr-xr-x 2 root root    0 Apr  7 00:32 power
-r--r--r-- 1 root root 4096 Apr  7 00:32 modalias
-rw-r--r-- 1 root root 4096 Apr  7 00:32 driver_override

[2020-04-06 22:39] ranj063 commented on #1985
@elorriaux which kernel are you using? Is it 5.5 stable?
In the file sound/soc/sof/intel/hda.c, hda_dsp_probe() should have the code as below:
[code]

Do you have it?

[2020-04-06 22:43] elorriaux commented on #1985
@ranj063 it's 5.5.11 with gentoo patchset so I guess it's stable yes, and looks like the code you have pasted

[2020-04-06 23:01] ranj063 commented on #1985
@elorriaux sorry I misread that. in your kconfig is CONFIG_SND_SOC_DMIC set?

[2020-04-06 23:12] plbossart commented on #1985
SOC_DMIC should be selected if the machine driver is.

Try this (edited)

[code]

[2020-04-06 23:19] plbossart commented on #1985
also would be good to share the contents of /sys/kernel/debug/asoc/components and /sys/kernel/debug/asoc/dais - just to check what's missing.

[2020-04-07 00:50] leezu commented on #1994
Thanks @plbossart. I have the following files:

[code]

https://packages.ubuntu.com/bionic-updates/all/libasound2-data/filelist

You can get the contents of the files by unpacking http://mirrors.kernel.org/ubuntu/pool/main/a/alsa-lib/libasound2-data_1.1.3-5ubuntu0.4_all.deb

Unfortunately I can't upgrade the distro for corporate reasons, but compiling and updating some system dependencies myself i

[2020-04-07 04:04] RDharageswari opened #1987 "[Bug]DAPM status always off with nocodec mode"
Firmware, Topology and the kernel is from TGL_v0.4 Release.
 aplay -Dhw:0,0 /dev/urandom -c2 -f s32_le -r 48000
and arecord -Dhw:0,0 -c4 -fS32_LE try.wav -r 48000 in parallel windows.

localhost /sys/kernel/debug/asoc/sof-nocodec/0000:00:1f.3/dapm # cat * | grep Off
BUF1.0: Off  in 1 out 0
BUF1.1: Off  in 1 out 0
BUF1.2: Off  in 0 out 0
BUF2.0: Off  in 0 out 1
BUF2.1: Off  in 0 out 1
DSM1.0: Off

[2020-04-07 04:06] keyonjie commented on #1987
good finding, thanks @RDharageswari

[2020-04-07 05:33] YvonneYang2 commented on #1979
Close it since not issue not reproduced with latest sof-dev(commit:052e45d7) + master(commit:b4e8b1e) + ucm2 ( https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#29 )

[2020-04-07 05:33] #1979 closed

[2020-04-07 07:07] Liviali155 commented on #1687
On CML laptop with latest sof/dev(052e45d7) +master(b4e8b1e4) +UCM2(https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp) also has this issue when reboot with DP/HDMI connected
[code]
[amixercontentsfail.txt](https://github.com/thesofproject/linux/files/4442524/amixercontentsfail.txt)
[dmesg0407.log](https://github.com/thesofproject/linux/files/4442526/dmesg0407.log)
[sof-lo

[2020-04-07 07:12] elorriaux commented on #1985
@ranj063
`grep CONFIG_SND_SOC_DMIC .config
CONFIG_SND_SOC_DMIC=m`

@plbossart Here is the log
[dmesg_modprobe_dbg.log](https://github.com/thesofproject/linux/files/4442539/dmesg_modprobe_dbg.log)

cat /sys/kernel/debug/asoc/dais
intel-hdmi-hifi1
intel-hdmi-hifi2
intel-hdmi-hifi3
SSP0 Pin
SSP1 Pin
SSP2 Pin
SSP3 Pin
SSP4 Pin
SSP5 Pin
DMIC01 Pin
DMIC16k Pin
iDisp1 Pin
iDisp2 Pin
iDisp3 Pin
iDisp4 Pin

[2020-04-07 07:44] juimonen commented on #1974
@ClarexZhou can you attach pulseaudio log? So the "normal" procedure... uncomment and set autospawn=no in /etc/pulse/client.conf, pulseaudio --kill, pulseaudio -vvvv 2>&1 pulse.log

[2020-04-07 08:02] kv2019i commented on #1985
@elorriaux wrote:

Ok, it's the dmic then. This list should have: "dmic-codec"

And "cat /sys/kernel/debug/asoc/dais" should have: "dmic-hifi"

And the latest debug log has this (with the correct typo even :))

[   43.134085] skl_hda_dsp_generic skl_hda_dsp_generic: mising codec component dmic-codec

... but not the new trace for dmic_dev_probe(), so the dmic-code probe is not called despite succe

[2020-04-07 08:19] kv2019i commented on #1985
@elorriaux Hmm, the ASoC core should autoload the dmic module, but based on alsa-info, that is not happening. I wonder what would happen if you manually load it. Here's a recipe that also adds some ASoC core debugs to the mix:

sudo modprobe snd_soc_dmic
sudo modprobe snd_soc_core
sudo bash -c "echo -n 'module snd_soc_core +p' >/sys/kernel/debug/dynamic_debug/control"
sudo bash -c "echo '1' > /sys

[2020-04-07 08:27] ClarexZhou commented on #1974
Add pulseaudio log with original kernel 5.5.8
[code]

And error not seen on latest sof-dev, commit: 052e45d7. Should issue be closed?

[2020-04-07 08:56] sinahuang commented on #1919
Verified it on UCM2 +PR https://github.com/thesofproject/alsa-ucm-conf/pull/29 with sof-dev ( commit:052e45d) and master (commit:  b4e8b1e4) on CML-H Laptop with codec ALC711, 2 x RT1308, RT715 in SDW mode, issue can't be reproduced. So closed it.

[2020-04-07 08:56] #1919 closed

[2020-04-07 09:01] kv2019i commented on #1879
@lkraav Is this bug still valid for you? If yes, we can close this. It seems for others who've reported similar error, update to Linux 5.5.8+ has fixed the issue.

[2020-04-07 10:45] lkraav commented on #1879
I'm not sure. I'm currently on 5.5.10 and will bump kernel further up when there's a reason to reboot but it might take some days.

This bug could be closed, I can always send an update here when I have new information.

EDIT I had to switch back to `snd_hda_audio` to get things working, and there isn't mental space available at the moment to experiment with SOF.

[2020-04-07 11:26] Liviali155 opened #1991 "[BUG][CML][UCM2]No sound output after unplug headset then plug again"
Describe the bug
No sound output after unplugin headset then plugin again
Ubuntu 20.04
[code]
To Reproduce
1.sudo reboot
2.wait runtime pm status suspend
3.plugin headset
4.open sound settings
5.set input device as “Headset Mono Microphone-sof-hda-dsp”,output Device as "Headphone-sof-hda-dsp"
6.aplay -Dhw:0,0 -r48000 -c2 -fs16_le  wav/48California_Dreaming.wav -vv -i(has sound output) or paplay -v

[2020-04-07 11:59] juimonen commented on #1974
@ClarexZhou sorry the pulseaudio log was very short for some reason... so can't too much see what was the original issue. Do we have some requirement for the kernel version here, @mengdonglin ?

[2020-04-07 12:06] juimonen commented on #1991
@Liviali155 So if after step 7 you set manually again the "mono mic", does it work? We can't too much rely on the mic detection if it is suppose to happen with the additional Dell pop-up...

So if the stereo mic is selected for some reason (as in this case), it will block the sound output (because it assumes there is jack with 2 mics connected, no headphones, the name is really misleading)

[2020-04-07 13:39] keyonjie commented on #1987
Hi @RDharageswari this is an common issue for our nocodec I2S support.

Hi @ClarexZhou @xiulipan can you help check if we can reproduce the issue on other nocodec machine?

Hi @plbossart @ranj063 @kv2019i if we think it is a real issue, we might need to fix it for the nocodec machine driver.

[2020-04-07 14:52] Liviali155 commented on #1703
On icl reproduced this issue with latest sof/dev(052e45d7) +master(b4e8b1e4)
***Reproduction Rate***
2/2
***Step***
To Reproduce
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
5../check-kmod-load-unload-after-playback.sh -l 50

[2020-04-07 15:11] plbossart commented on #1994
@leezu understand. So it looks like you are caught in a hole

a) you cannot update
b) the UCM files you have are obsolete and no longer match what the kernel does. There is a break of ABI that happened with 5.5.x

So the only think I can suggest is to take you existing UCM files, and so a string replacement of
sof-skl_hda_card by sof-hda-dsp (directory names, file names and inside files as well).

[2020-04-07 16:45] ranj063 commented on #1985
@plbossart @kv2019i going by our recent conversation about what modules can be used with "select", SND_SOC_DMIC doesnt qualify isnt it? It is a user-visible option with a dependency.

@elorriaux could you please check is CONFIG_GPIOLIB is enabled in your Kconfig?

[2020-04-07 16:49] elorriaux commented on #1985
@kv2019i

So... /sys/kernel/debug/tracing/events/snd_pcm/ does not exist so I can't enable it.

Here is the dmesg log after loading snd_sof_pci
[Uploading dmesg_after_modprobe_snd_sof_pci.log…]()

At this moment I still don't have interfaces in aplay -l or arecord -l

They appear after loading snd-soc-skl_hda_dsp

aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofhdadsp [sof-hda-dsp]

[2020-04-07 16:50] elorriaux commented on #1985
@ranj063
grep CONFIG_GPIOLIB .config
CONFIG_GPIOLIB=y
CONFIG_GPIOLIB_FASTPATH_LIMIT=512

[2020-04-07 16:58] elorriaux commented on #1985
@kv2019i

Here is a (more reasonable ?) log without the echo commands to enable more debug info
[dmesg.log](https://github.com/thesofproject/linux/files/4446010/dmesg.log)

(but after that log, looks like I don't have interfaces in pavucontrol, I do have in aplay -l and arecord -l)

[2020-04-07 17:04] plbossart commented on #1985
@ranj063 yes that's wrong but it's a different issue.

[2020-04-07 17:16] plbossart commented on #1985
@elorriaux I think we can drop all the dynamic debug for now.
Can you confirm that the following sequence works:

sudo modprobe snd_soc_dmic
sudo modprobe snd_sof_pci

but omitting the first part doesn't?

[2020-04-07 17:21] ranj063 commented on #1985
@plbossart ack. just flagging it

[2020-04-07 17:25] elorriaux commented on #1985
@plbossart working sequence seems to be

modprobe snd_soc_dmic               <------  One of the two first modprobe is mantory
modprobe snd_soc_core                <------  I have not tried them independently
modprobe snd_sof_pci
modprobe snd-soc-skl_hda_dsp    <------ That one is also mandatory

I've already removed all dynamic debug ;) At the end I could not have sound and my system became unsta

[2020-04-07 17:40] ranj063 commented on #1985
@plbossart @kv2019i Wow this one is really weird.

[2020-04-07 23:57] plbossart commented on #1985
@elorriaux I honestly have no idea what happens on your device. We haven't seen any issues with probes and modules, and both dmic and machine driver have been used for 2+ years. I would err on the side of a userspace or distro issue preventing the modules from being loaded.

[2020-04-08 01:55] astromatt42 commented on #1877
Having just tested these fixes with kernel 5.3.0-46, I can report that output and intput are now working. arecord -l also finds two DMICs. The only issue that remains are the freezes on wake from sleep. I have attached a new dmesg in case it is helpful and I am trying to find out how best to save logs from the freezes so they are available post reset.

https://pastebin.com/znvxaZUR

N.b. this rela

[2020-04-08 02:47] keqiaozhang commented on #1977
@sathya-nujella  please help to assign this bug to jairaj-arava. I cannot find his GitHub ID. Thanks.

[2020-04-08 03:14] sinahuang opened #1997 "[SDW UCM2][BUG][CML-H] Speaker mixer settings are muted by default in alsamixer"
**Describe the bug**
Both rt1308-1 DAC L rt1308-1 DAC R and rt1308-2 DAC R rt1308-2 DAC L are muted in default in alsamixer.

More info:
Need manually change  rt1308-1 DAC L rt1308-1 DAC R and rt1308-2 DAC R rt1308-2 DAC L to unmute in alsamixer can recover.
UCM2:
 https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +https://github.com/thesofproject/alsa-ucm-conf/pull/29

**To Reprod

[2020-04-08 03:21] Liviali155 commented on #1331
Tried with #1897 ,issue still can be reproduced

[2020-04-08 03:50] sinahuang opened #1998 "[SDW UCM2][BUG][CML-H]Left and Right speaker can't be separated when do speaker test 0,2."
**Describe the bug**
Left and Right speaker can't be separated when do speaker test 0,2.

More info:
Need manually change "rt1308-1 RX Channel Select " to LL  and  "rt1308-2 RX Channel Select "to RR in alsamixer can recover.
UCM2:
 https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +https://github.com/thesofproject/alsa-ucm-conf/pull/29

**To Reproduce**
1.Boot up system successfull

[2020-04-08 04:13] YvonneYang2 opened #1999 "[BUG][CML][SDW UCM2]Output source/input Device selection won't auto highlight on headphone/headset when plug in headset."
**Describe the bug**
Output source/input Device selection won't auto highlight on headphone/headset when plug in headset.

**To Reproduce**
1. Boot up without headset.
2. Open sound setting. Then plug in headset.
3. Check the input and output Device selection.

**Reproduced rate**
100%

**Expected result**
Input Device will auto switch to "Headset Mic - sof-soundwire"
Output Device will auto switc

[2020-04-08 04:17] sinahuang opened #2000 "[SDW UCM2][CML][BUG]Both S/PDIF,S/PDIF 1, S/PDIF 2 values can't be reset after changing default value manually."
**Describe the bug**
Both S/PDIF,S/PDIF 1, S/PDIF 2 values can't be reset after changing default value manually.

More info:
Need manually change  S/PDIF,S/PDIF 1, S/PDIF 2  to unmute in alsamixer can recover.
UCM2:
 https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +https://github.com/thesofproject/alsa-ucm-conf/pull/29

**To Reproduce**
1.Boot up system successfully.
2.Manually c

[2020-04-08 04:24] YvonneYang2 commented on #1997
This issue can also be reproduced on cml-u laptop sometimes when we boot system for the 1st time after installing Ubuntu 20.04 Beta. If the default speaker mixer value are muted, no sound output are got although speaker is the default output device.  After we manually use alsamixer to unmute the speaker mixers, we can get the sound output from the speaker. And then everything works well even if we

[2020-04-08 05:12] Liviali155 commented on #1991
After step7 unplug headset,there is no "“Headset Mono Microphone-sof-hda-dsp” item in input Device,It only has one item"Digital Microphone-sof-hda-dsp"

[2020-04-08 05:30] ClarexZhou commented on #1987
Tested on APL up2 no codec, error also seen.
[code]
[dmesg.txt](https://github.com/thesofproject/linux/files/4448369/dmesg.txt)
[sof-logger_full.txt](https://github.com/thesofproject/linux/files/4448370/sof-logger_full.txt)

[2020-04-08 05:49] keyonjie commented on #1987
Thanks @ClarexZhou .

So this is a common nocodec issue.

[2020-04-08 06:05] mengdonglin commented on #1974
@juimonen we hope to clarify what's missing in Linux stable kernel 5.5.8 (https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v5.5.8) and figure out what's the recommended upstream kernel for SOF v1.4.2 for upstream users.

[2020-04-08 07:04] kv2019i commented on #1974
Yeah @juimonen and @mengdonglin , let's investigate this. This is similar to many existing many user reports in https://github.com/thesofproject/linux/issues/1877 . But with 20.04, this should not happen, the alsa-lib should be new enough for UCM2, so let's figure out what is missing.

[2020-04-08 07:09] kv2019i commented on #1987
@RDharageswari @keyonjie Is there some practical problems caused by this? Obviously would be good to fix this, but as nocodec is a test vehicle in the end, not sure of the priority of this issue unless this is causing actual problems to something.

[2020-04-08 07:26] keyonjie commented on #1987
@kv2019i haven't seen any real problems with this, so I agree with setting this to P2 or P3.

[2020-04-08 07:59] juimonen commented on #1974
@ClarexZhou can you still try to attach the "full" pulseaudio log? would be good with non-working and working kernel, if possible. Sorry about this, I have some issues/delays bootstrapping my test device with new ubuntu and ucm2...

[2020-04-08 09:32] ClarexZhou commented on #1974
@juimonen  Here attach logs on sof dev and 5.5.8 kernel.
Pulseaudio log seems no difference between 2 kernel. Still previous listed messages used command ‘pulseaudio -vvvv >pulse_5.5.8.txt 2>&1’. For file is empty when using ‘pulseaudio -vvvv 2>&1 >pulse_5.5.8.txt ’
Also attached /etc/pulse/client.conf, to check if anything wrong.
And attached syslog for boot up with pulseaudio.
[amixer_5.5.8.txt]

[2020-04-08 12:00] juimonen commented on #1974
@ClarexZhou @mengdonglin I did fresh install of ubuntu 20.04 beta to x1 yoga. Sof is loading and everything seem to work for me... well at least mute leds blink and I can hear sound. sof-hda-dsp is loaded. sound output in settings seems to be Speaker- Cannon point-LP high definition...I did not update any software... the kernel is older as default so 5.4.0-21-generic...

So have you done some dnf

[2020-04-08 13:09] elorriaux commented on #1985
@plbossart : possible, with gentoo nothing is done by default and I am maybe the guilty and have forgotten to configure something for modules. As you have noticed I usually built things in kernel. I'll give a try with firmware built in the kernel.

The behavior of my sound device with SOF remains very... unpredictable.

1) sometimes interfaces do not appear when loading the modules
2) sometimes so

[2020-04-08 14:30] kv2019i commented on #1985
@elorriaux The rootcause why dmic-codec does not get loaded is still a mystery (is is related to Gentoo and/or specifics of Zbook15 ) but looking beyond that, your messages reveal more issues with HDMI:

Apr  7 22:51:44 nbk122 kernel: sof-audio-pci 0000:00:1f.3: error: failed to set dai config for iDisp3
Apr  7 22:51:44 nbk122 kernel: sof-audio-pci 0000:00:1f.3: ASoC: can't set iDisp3 Pin hw param

[2020-04-08 14:30] plbossart commented on #1877
@mattmax42 I don't understand the recommendation to use snd_hda_intel.dmic_detect=0
That would essentially prevent SOF from working?

FWIW we did have HDAudio freezes during the Summer 2019, I don't think the fixes were added to 5.3-stable. @kv2019i @ranj063 does this ring a bell.

[2020-04-08 14:37] plbossart commented on #1997
Why are you guys playing with alsamixer and interfering with UCM?

Also can you clarify that the control names are, the screenshots are not very useful since they only show parts of the name

[2020-04-08 14:54] astromatt42 commented on #1877
@plbossart The snd_hda_intel.dmic_detect=0 parameter is  -not- set. It does completely disable the dmics, so resolves any crashes but as suggested it disables all inputs on my machine. Apart from the blacklisting and copying the UCM files, nothing else is set or done specifically to resolve any sound issues. -46 seems to have fixed some kernel-side driver issues, hence I guess why it is working no

[2020-04-08 14:58] keyonjie commented on #1977
This is the max98373 codec configuration issue, each amplifier is configured to work in channel 0/1 mixed mode.

[2020-04-08 15:05] keyonjie commented on #1977
@YvonneYang2 @sinahuang @keqiaozhang please try run below commands and retry:
[code]

[2020-04-08 16:05] giddie commented on #1917
Yes, it looks like your suspicions may be correct. I've attached the relevant logs. I had to change the `-c4` switch to `-c2` on the `arecord` command, but it produced a perfect recording through the internal mic.

So should I be taking this to the pulseaudio team?

[aplay.txt](https://github.com/thesofproject/linux/files/4451543/aplay.txt)
[arecord.txt](https://github.com/thesofproject/linux/file

[2020-04-08 16:32] plbossart commented on #1917
@giddie can you share what UCM setup you are using? In theory the number of mics is provided to PulseAudio, but maybe you have older UCM files that assume a 4-mic config which isn't supported by the topology.

[2020-04-08 16:32] plbossart commented on #1917
The UCM files are in /usr/share/alsa/ucm/sof-hda-dsp, or /usr/share/alsa/ucm2/sof-hda-dsp

[2020-04-08 16:50] plbossart commented on #2000
@sinahuang the SPDIF controls are really the IEC958 ones, which are explicitly used in the UCM file.

https://github.com/thesofproject/alsa-ucm-conf/blob/bd7e4d619d6c721a2cd47f054a107964bdcc94b2/ucm2/sof-soundwire/Hdmi.conf#L13

You will need to provide more details on what you are doing to trigger this error, works fine for me.

[2020-04-08 16:54] plbossart commented on #1999
@YvonneYang2 I just tried and indeed there is no automatic switch but
a) there is no exclusion between Speaker and Headphone
b) on Dell platforms isn't this supposed to be handled with a user choice?

@juimonen can you help here, I am not sure what would trigger a switch in a UCM file.

[2020-04-08 17:23] jairaj-arava commented on #1977
can you please try now ?

[2020-04-08 17:45] plbossart commented on #1998
@sinahuang can you retry with https://github.com/thesofproject/alsa-ucm-conf/pull/34
I only checked in 2ch cases, my CML-H is not functional at the moment.

[2020-04-08 17:47] plbossart commented on #1997
@sinahuang can you please retry with https://github.com/thesofproject/alsa-ucm-conf/pull/34

[2020-04-08 17:51] #1923 closed

[2020-04-08 17:53] giddie commented on #1917
Sure; I've attached the content of that directory. My Arch system's pacman tells me they're owned by `alsa-ucm-conf 1.2.2-1`.

[sof-hda-dsp.tar.gz.txt](https://github.com/thesofproject/linux/files/4452015/sof-hda-dsp.tar.gz.txt)

[2020-04-08 18:31] plbossart commented on #1917
@giddie can you paste the results of 'amixer info' - just curious what is in the 'Components" string.

[2020-04-08 18:35] plbossart commented on #1917
that looks like a very recent UCM.

[2020-04-08 20:15] jairaj-arava commented on #1977
I tried on the Volteer board from both user space and aplay but couldn't repro the issue.
https://www.youtube.com/watch?v=hTvJoYnpeRQ

[2020-04-08 23:09] sathya-nujella commented on #1977
This is the UCM for this configuration:
https://chromium.googlesource.com/chromiumos/overlays/board-overlays/+/b0415c0d6b3c530f6200560ff331f69410f59f3c/overlay-volteer/chromeos-base/chromeos-bsp-volteer/files/ucm-config/sof-tgl_max73rt82/HiFi.conf

please apply both mixer settings from "Speaker" and also default section.

[2020-04-09 01:38] ClarexZhou commented on #1974
@juimonen  Yes the default kernel is 5.4.0-21-generic..  Tried beta release ubuntu 20.04 http://releases.ubuntu.com/20.04

And Error only can be reproduced when i updated kernel to below v5.5.8
Kernel: [97453d9] (https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v5.5.8)

Error also not seen if using kernel v5.6.3 https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.gi

[2020-04-09 01:41] sinahuang commented on #2000
Tried with below scenarios, issue can be triggered.
scenario 1:
Mute S/PDIF,S/PDIF 1, S/PDIF 2  in alsamixer manually then switch output source to speaker in sound setting, it cannot be unmuted in alsamixer.
scenario2:
Mute S/PDIF,S/PDIF 1, S/PDIF 2  in alsamixer manually, then tried to reboot system, checked alsamixer after booting up successfully, they are still muted.

[amixer contents.txt](htt

[2020-04-09 02:03] sinahuang commented on #1997
Tried with https://github.com/thesofproject/alsa-ucm-conf/pull/34, issue still can be reproduced by the below scenarios.
scenario1:
 Mute speaker and rt1308-1 DAC L rt1308-1 DAC R and rt1308-2 DAC R rt1308-2 DAC L  in alsamixer manually then switch output source to speaker in sound setting, it cannot be unmuted in alsamixer.
scenario2:
Mute speaker and rt1308-1 DAC L rt1308-1 DAC R and rt1308-2 DA

[2020-04-09 07:10] giddie commented on #1917
This is what I get from `amixer -c 0 info`. I'm back on the HDA driver and can't reboot right now, but hopefully it doesn't matter for this info:

[code]

[2020-04-09 07:53] elorriaux commented on #1985
I gave a try to live distros.

Ubuntu -> KO since the kernel is compiled with force nocodec.

In fedora rawhide I had to modify the iso in order to have the sof-cfl.ri symlink. This modified iso was able to play sound, record, but at the end it froze just like my gentoo. I don't know if it's a coincidence, but it froze just when I changed the dmic level and I had the feeling that my gentoo was fre

[2020-04-09 08:23] ClarexZhou opened #2003 "[Bug][HDA][WHL] Can't stay in runtime PM suspend status when headset connected."
**Bug Description**
Can't stay in runtime PM suspend status when headset connected.
Keeps boot firmware when DSP power state: D3.

**To Reproduce**
1. Connect Headset
2. Boot up system
3. Wait till runtim PM suspended

Reproduction Rate
5/5

Impact
Firmware will be auto triggered again.

Kernel: sof-dev commit: 77b49b30
FW:[2ef369d57][ https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2/li

[2020-04-09 08:23] ClarexZhou commented on #2003
The root cause is the sof-dev branch merged this upstream commit: 76f7dec (ALSA: hda/realtek - Add Headset Button supported for ThinkPad X1), with this commit, if we set the codec to auto-suspend, the codec driver will trigger a fake key event during calling rt_suspend(), so the driver will rt_resume() and rt_suspend() periodically.
This issue also exists in the legacy hda driver, and please set C

[2020-04-09 08:25] ClarexZhou commented on #1628
Close for error not seen since PR #1983  is merged. And still got open issue https://github.com/thesofproject/linux/issues/2003

[2020-04-09 08:25] #1628 closed

[2020-04-09 09:05] kv2019i commented on #1985
@elorriaux wrote:

Thanks!

Oh, which image you tried? We have fresh reports of 20.04LTS working out-of-the-box on many hardware.

But no hacks for loading the dmic modules needed on Fedora right? This is interesting -- the problem of dmic codec driver not getting automatically loaded seems to be specific to Gentoo.

So this is problem #2 - system freezing and not specific to Gentoo.

These are "n

[2020-04-09 09:18] sinahuang commented on #1998
Checked this with PR https://github.com/thesofproject/alsa-ucm-conf/pull/34, issue still can be reproduce.
[amixer contents.txt](https://github.com/thesofproject/linux/files/4455169/amixer.contents.txt)

[2020-04-09 09:32] elorriaux commented on #1985
@kv2019i wrote:

Thanks to you guys for helping and for being proactive

19.10, I thought it was the latest when I downloaded it last week. I'll have a look to 20.04.

Worked like a charm, I did not have to blacklist modules to boot command and all snd modules have been loaded automatically.

Do I have an action to do for that?

Arg I forgot to check alsa-info on my gentoo (pulseaudio log has been

[2020-04-09 10:25] keqiaozhang commented on #1977
Confirmed that with below 2 amixer settings, this issue is not reproducible. This issue can be closed now.
[code]

[2020-04-09 10:25] #1977 closed

[2020-04-09 10:39] ClarexZhou commented on #1999
Latest provided Dell platform UCM1 is  https://github.com/thesofproject/alsa-ucm-conf/pull/28, which is crated by @libinyang
Will do automatic switch when plug in/ unplug headset.

And no pop up query for headset/headphone/Microphone type selection  when plugging in headset.
@juimonen  could you comment more details?

[2020-04-09 10:46] plbossart commented on #2000
That's an invalid test, sorry. If you use UCM, you should not play with alsamixer and change the values in the background. That will lead to a consistency issue.

[2020-04-09 10:47] plbossart commented on #1997
Again, invalid test. Don't use UCM and change values with alsamixer, that's just wrong.

[2020-04-09 10:49] juimonen commented on #1999
hmm I haven't too much tested this platform with ucm1 or ucm2. Need to think a little bit...

[2020-04-09 10:54] plbossart commented on #1917
well it does, this is the wrong driver...

[2020-04-09 11:10] sinahuang commented on #1997
The default value of these speaker mixers were off when I boot up for the first time after installing ubuntu 20.04 with UCM2.

[2020-04-09 11:33] plbossart commented on #1998
@sinahuang you'll have to debug a bit here:

[code]

The UCM file sets those values, so something's clearly wrong in the setup?

[2020-04-09 16:58] giddie commented on #1917
Here we go!

[code]

[2020-04-09 19:15] plbossart commented on #1917
Thanks @giddie that's good: the driver reports 2 dmics and that's also what works for you from userspace.

What I suspect is that somehow the UCM file is not interpreted correctly. I've seen reports before where users hard-code the number of dmics, IIRC there was an issue in alsa-lib that may not have been used to all distros.

The best is to try manually first, e.g.

alsaucm -c sof-hda-dsp set _v

[2020-04-09 21:53] elorriaux commented on #1985
@kv2019i : so... regarding ubuntu 20.04 live, it does not work with zbook 15 g6, here are dmesg and alsa info logs
[alsa-info-ubuntu-20-04.txt](https://github.com/thesofproject/linux/files/4458788/alsa-info-ubuntu-20-04.txt)
[dmesg_ubuntu_20_04.log](https://github.com/thesofproject/linux/files/4458790/dmesg_ubuntu_20_04.log)

regarding the gentoo, I had all the pain to get alsa-info since my syste

[2020-04-10 02:47] keyonjie commented on #1938
So are we good to close this one now?

[2020-04-10 04:45] ClarexZhou commented on #2003
close as a codec issue and the fix has already been applied in upstream https://mailman.alsa-project.org/pipermail/alsa-devel/2020-March/165400.html

[2020-04-10 04:45] #2003 closed

[2020-04-10 06:20] jason77-wang commented on #1938
I just built the latest topic/sof-dev branch, and tested on 2 LENOVO cml laptops, the issue is fixed. So the problem has nothing to do with:

37a0794

ASoC: SOF: Intel: hda-loader: clear the IPC ack bit after FW_PURGE done

Set DONE bit after the FW_PURGE IPC is polled successfully, to clear the
interrupt and avoid the arrival of the confusing unexpected ipc.

Signed-off-by: Keyon Jie yang.jie@lin

[2020-04-10 06:20] #1938 closed

[2020-04-10 06:22] mengdonglin commented on #1938
@kv2019i @keyonjie FYI. It seems this issue is also fixed by https://github.com/thesofproject/linux/pull/1983

[2020-04-10 06:52] YvonneYang2 commented on #1997
Reinstall Ubuntu 20.04 Beta on SDW CML-U and CML-H laptop, copy ucm2, update the kernel the firmware, and reboot system without headphone. Speaker mixer setting are muted by default in alsamixer. Issue can be reproduced.

More info on CML-U laptop:
[amixer_contents.txt](https://github.com/thesofproject/linux/files/4460231/amixer_contents.txt)

Screenshot:
![alsamixer](https://user-images.githubuse

[2020-04-10 09:16] libinyang commented on #1997
@plbossart We found on some customers' machine, the speaker switch state is "mute". They complained that they can never make the speaker sound however they changed the setting in the "sound setting". This is why we do such test.
I checked the UCM2 configuration with sof-test/test-case/verify-ucm-config.sh. It shows the UCM2 configuration works and can unmute the speaker correctly when the speaker

[2020-04-10 09:30] libinyang commented on #1998
This bug should be the same root cause of https://github.com/thesofproject/linux/issues/1997. The pulseaudio or sound-setting can't recognize our UCM2 configuration in "EnableSequence" and "DisableSequence"

[2020-04-11 07:16] lkraav commented on #1879
Upgraded to kernel 5.6.3. Auto-detection with `modprobe.blacklist=snd_hda_intel` did not work out, no audio devices were detected.

[code]

I then forced SOF mode:

[code]

Bunch of stuff does happen at kernel level:

[code]

Unfortunately, Pulseaudio still failed to get required entries. This is how Pulseaudio reacts:

[code]

Looks like still `I: [pulseaudio] alsa-util.c: Error opening PCM devic

[2020-04-11 08:48] perexg commented on #1879
Does SOF driver load when you remove this blacklist hint? If it does not work, the microphones are not specified in the ACPI NHLT table from the vendor and we need to add a manual quirk (if there are really some digital microphones in the machine connected to DSP).

Could you show the alsa-info.sh output for this kernel? You can just filter out the Components: line like:

````Components	: 'HDA:808

[2020-04-11 09:46] lkraav commented on #1879
Certainly: http://alsa-project.org/db/?f=fb4c6cdc2be2d06d1e647058834006a4680ca1d1

[code]

I do not see `cfg-dmics`, but I do see

[code]

:thinking:

EDIT PS I'm currently booted with loading snd_hda_intel again to have sound.

[2020-04-11 14:57] giddie commented on #1917
Initially the test seemed to work perfectly, but then I noticed the following warnings in the kernel log:

[code]

Then, after running speaker-test a couple more times, the message appeared a further time in the log immediately before the system locked up.

[2020-04-11 15:09] giddie commented on #1917
I re-enabled the module debug options and tried again. Log is attached. Unfortunately there are definitely lines missing near the end. Presumably it wasn't able to sync to disk before the kernel locked up.
[log.txt](https://github.com/thesofproject/linux/files/4464829/log.txt)

[2020-04-12 07:53] elorriaux commented on #1985
I gave a try to the sof linux kernel https://github.com/thesofproject/linux

without more success, system froze a few seconds after loading the modules, just had the time to see that dmesg was not reporting any particular error.

[2020-04-13 01:18] mengdonglin commented on #1972
@juimonen Any suggestions on this?

[2020-04-13 01:31] mengdonglin commented on #1974
@kv2019i @juimonen Should we recommend users to use stable kernel 5.6.3 or newer, instead of 5.5.8?

[2020-04-13 06:39] Liviali155 commented on #1972
This issue also can be reproduced on sof v1.5-rc1
Kernel:4b4681eb  Sof-dev
fw:5f7d4e2    https://github.com/thesofproject/sof/releases/tag/v1.5-rc1
UCM2(https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp)

[2020-04-13 06:40] Liviali155 commented on #1991
This issue also can be reproduced on sof v1.5-rc1
Kernel:4b4681eb Sof-dev
fw:5f7d4e2 https://github.com/thesofproject/sof/releases/tag/v1.5-rc1
UCM2(https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp)

[2020-04-13 07:25] Liviali155 commented on #1331
This issue also can be reproduced on sof v1.5-rc1 when starting/stopping HDA analog playback and capture
Kernel:4b4681eb Sof-dev
fw:5f7d4e2 https://github.com/thesofproject/sof/releases/tag/v1.5-rc1

[2020-04-13 07:40] Liviali155 commented on #1799
This issue also can be reproduced on sof v1.5-rc1  on TGL HDA
Kernel:4b4681eb Sof-dev
fw:5f7d4e2 https://github.com/thesofproject/sof/releases/tag/v1.5-rc1

[2020-04-13 09:27] plbossart commented on #1917
Those errors are not real ones but misleading information, it's been removed in more recent kernels. don't worry about this.

I am not aware of any issues or lock-ups as you describe. @kv2019i does this ring a bell?

[2020-04-13 09:33] plbossart commented on #1985
ok, so that's 2 reports of system freezes  - https://github.com/thesofproject/linux/issues/1917 also mentions this with 5.6.2

The seconds after the loading could be related to pm_runtime transitions, can you try adding this in /etc/modprobe.d/alsa-base.conf

options snd-sof-pci sof_pci_debug=1

[2020-04-13 11:23] elorriaux commented on #1985
@plbossart here I'm testing with 5.6.0+-rc7 from sof git

In order to be able to get a log, I have to rm /var/lib/alsa/asound.state before loading modules.
[dmesg_sof_pci_debug.log](https://github.com/thesofproject/linux/files/4469297/dmesg_sof_pci_debug.log)

If I don't do that, I don't have the time to get something before freeze. If I kill pulseaudio, it does not freeze but I don't see anything

[2020-04-13 11:28] ClarexZhou opened #2008 "[Bug][EHL]Many unexpected warning sdw message in dmesg after boot up."
**Describe the bug**
Unexpected sdw message in dmesg after system boot up, and keeps repeat below 2 message. No effect for I2S functions
[code]

**To Reproduce**
sudo reboot to boot up system

**Reproduction Rate**
3/3

**Expected behavior**
Shouldn't have SDW related message, since EHL is using I2S now.

**Impact**
Only SDW message in dmesg, not effect functions.

**Environment**
1) Branch name a

[2020-04-13 11:46] plbossart commented on #1879
@lkraav we can't help you if you provide information for another driver...

Please retry with SOF, the autodetection should just work without any parameters or options.

[2020-04-13 11:49] plbossart commented on #1985
@elorriaux too many variables here, please disable pulseaudio (mv /usr/bin/pulseaudio /usr/bin/_pulseaudio)

modprobe snd-sof-pci
arecord -Dhw:0,6 -c4 -r48000 -fS32_LE -d 10 mytest.wav

what do you see in dmesg then?

[2020-04-13 12:34] ClarexZhou commented on #2008
Error also seen on sof Master, commit 3808dfec

[2020-04-13 12:37] elorriaux commented on #1985
@plbossart everything seems to work fine, nothing appeared in logs, and the wav can be played perfectly

[2020-04-13 12:39] plbossart commented on #2008
@ClarexZhou please disable SoundWire in the BIOS menu....

[2020-04-13 12:44] plbossart commented on #1985
ok thanks @elorriaux but that was with the options snd-sof-pci sof_pci_debug=1? what happens if you remove this option?

[2020-04-13 13:05] elorriaux commented on #1985
@plbossart just done 2 attempts without sof_pci_debug=1

First time I got this, I thing that's the very first time I've seen such errors (in messages since I forgot to save the log)
[messages.log](https://github.com/thesofproject/linux/files/4469578/messages.log)

Second attempt worked fine, nothing in logs when recording, I've just noticed that right after modules loading, I'm not sure to have al

[2020-04-13 13:27] elorriaux commented on #1985
looks like that the behaviour mentioned above is related to 5.6.0+-rc7 from sof git. I just redid a few tests with 5.6.3 and could not notice that. Recording works fine and in dmesg I can find:

[  110.774533] sof-audio-pci 0000:00:1f.3: error: no reply expected, received 0x0
[  110.910760] sof-audio-pci 0000:00:1f.3: firmware boot complete

just like https://github.com/thesofproject/linux/issues/

[2020-04-13 14:16] plbossart commented on #1985
@elorriaux it's possible that we have a regression here, and that using the 1.4.2 firmware and topology isn't compatible somehow with the latest kernel. @kv2019i @singalsu does this ring a bell?

Anyways please stay with 5.6.3 for now, and let's try to debug pulseaudio now. can you modify /etc/pulse/client.conf to set autospawn = no. then kill pulseaudio, modprobe snd-sof-pci; pulseaudio -vvv &> l

[2020-04-13 14:51] elorriaux commented on #1985
@plbossart Here it is.

[log_pulseaudio.txt](https://github.com/thesofproject/linux/files/4469979/log_pulseaudio.txt)

Once again I had to rm /var/lib/alsa/asound.state otherwise I got a freeze and log was not written to disk.

[2020-04-14 00:59] libinyang commented on #1997
After some debug, it seems to be the pulseaudio issue. I checked UCM2 and UCM on the ubuntu 20.04. Both doesn't work for the enableseqence/disablesequence in the "SectionDevice". And alsa-lib proves to work well with UCM2 with the verify-ucm-config.sh in sof-test.
It can be ubuntu "sound setting" or pulseaudio issue. To prove it's the pulseaudio issue. I updated the pulseaudio and alsa-lib in ubun

[2020-04-14 01:03] plbossart commented on #1997
that's really useful information, now it's going to be challenging to correct this but at least we know where to start, thanks @libinyang

[2020-04-14 05:20] ClarexZhou commented on #1972
Default volume isn't set in UCM2:https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp

[2020-04-14 05:34] Liviali155 opened #2458 "[BUG][CML]warning error message in dmesg "error: unknown DSP message 0xf0000000" when do Check-suspend-resume: 50x test"
Describe the bug
"error: unknown DSP message 0xf0000000" when do Check-suspend-resume: 50x test
Seems only a error message,has no impact on function,after error occured,all the pipeline can work normally

sh-cml-rvp-hda-02

To Reproduce
1.sudo rebot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
5../check-suspend-resume.sh -l 50

Reproduction Rate

[2020-04-14 05:52] libinyang commented on #2008
The BIOS setting seems OK. We set "Audio Link Mode" to "SSP (I2S)" mode. Please see the attachment.

![1](https://user-images.githubusercontent.com/10509113/79190537-266aa800-7e57-11ea-8bce-09ce4c19d81d.png)

[2020-04-14 06:53] libinyang commented on #2008
I tried to use "Advanced Link Config" and manually disabled SDW. And now the sdw message disappears. So the bug can be closed. It should be the BIOS issue that it doesn't really turn off all the SDW related setting in SSP mode.
@plbossart Do you know whether it is expected that SDW will be enabled in SSP mode? If it is not, should we report a bug to BIOS?

![2](https://user-images.githubuserconten

[2020-04-14 07:07] Liviali155 commented on #2458
On master also can reproduce this issue
Tried 2times
1.pass
2.fail,fail at 26th
<img width="553" alt="error" src="https://user-images.githubusercontent.com/56707932/79195747-6040ac00-7e61-11ea-8b2c-00e188904857.PNG">

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

[dmesg-master.log](https://github.com/thesofproject/sof/files/4473662/dmesg-master.log)
[sof-logger-master.log](http

[2020-04-14 08:38] ClarexZhou commented on #1974
bisect on upstream kernel. Error seen on v5.5.8, but error not seen with next commit ASoC: intel/skl/hda - export number of digital microphones via control compon...
[code]
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=linux-5.5.y&id=21b61983da1c701133112d17f18782b129cdfc84

[2020-04-14 11:46] juimonen commented on #1972
@ClarexZhou @Liviali155 so if you change the volume in sound settings, does it fix the imbalance? So will the other channel also be audible? I'm just trying to figure out do we have issue in ucm or what is causing this?

[2020-04-14 12:15] Liviali155 commented on #1972
Change the "Balance" to medium  in sound settings can make speak test pass,both the left  channel and right channel audible

[2020-04-14 12:18] juimonen commented on #1972
@Liviali155 ok thanks! And do you see this issue if you don't update ucm? or if you don't update kernel? I just installed fresh ubuntu 20 to mantis and I don't see this, and it is loading sof. Again trying to bisect the cause...

[2020-04-14 12:30] Liviali155 commented on #1972
The current issue is only when you set  "Balance" to left  in sound settings,then reboot device,only has left channel has sound output,It can not recover after reboot

[2020-04-14 12:33] paulstelian97 commented on #1972
I think setting the balance to Left will cause a Mute to be set on the right channel, can you try manually unmuting the right channel when you try to run speaker-test? I think the "balance" setting really sets different volumes for the two channels in ALSA, by design.

[2020-04-14 12:34] juimonen commented on #1972
@Liviali155 hmm, I'm not sure this is a bug then? I mean if user sets the balance, that's what the user wants... and in my opinion that should stay after boot... or am I misunderstanding something here?

[2020-04-14 12:50] juimonen commented on #1991
@Liviali155 i have just default ubuntu 20, no updates. For me it seems that with first insert it works, as with the description. But when reinserting, because you have selected "headset mono mic" it will select "headphones stereo mic" -> this will cut the sound from headphones. So for some reason "headphones stereo mic" is preferred over "headset mono mic". This would really need the ui pop-up to

[2020-04-14 14:11] Liviali155 commented on #2458
Changed fimware to 20200408(17f9296),error not seen
Changed firmware to 20200414(3808dfe),issue can be produced

[2020-04-14 15:13] plbossart commented on #2008
@libinyang I think everyone uses the advanced mode, that way you control what you really need. Let's close this bug, thanks @ClarexZhou and @libinyang

[2020-04-14 15:13] #2008 closed

[2020-04-14 15:26] plbossart commented on #1974
Yes this is a known requirement for HDAudio+dmic UCMs to work. It's my mistake that I indicated v5.5.8 supported this, it was off by one line. So 5.5.9 is the minimal version required. Thanks @ClarexZhou for bisecting.

@mengdonglin FYI, we need to update our minimum recommendation,

[2020-04-15 01:36] ClarexZhou commented on #1972
@juimonen This issue was reported for the default setting isn't right and this issue occurred when first time installing ubuntu 20.04 daily release and setup ucm2 env.  But this issue not occurred when 2nd time to install 20.04 beta release.
I think one default volume setting should be needed? Since customer also required this default volume setting on UCM1.  And sof-soundwire UCM2 also have set t

[2020-04-15 01:59] plbossart commented on #1972
@juimonen the balance and soft volume should be managed by Pulseaudio, but everything controlled by UCM should be properly reset.

[2020-04-15 02:38] ClarexZhou commented on #1974
close

[2020-04-15 02:38] #1974 closed

[2020-04-15 06:18] ClarexZhou opened #2013 "[Bug] [cml&CFL]sof-cnl.ri still need to be rename to cml or cfl fw to use"
**Describe the bug**
sof-cnl.ri still need be renamed to sof-cml.ri for CML or sof-cfl.ri for CFL to use.

**To Reproduce**
1. Delete sof-cml.ri from /lib/firmware/intel/sof/ and put only sof-cnl.ri
2. sudo reboot to boot up system

**Reproduction Rate**
3/3

**Expected behavior**
Should fallback to using sof-cnl.ri, if not find sof-cml.ri  for CML or sof-cfl.ri for CFL

**Impact**
SOF firmware is

[2020-04-15 06:18] ClarexZhou commented on #2013
Error also seen with stable linux 5.5.9 https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v5.5.9, commit 81b6e04c4b..

[2020-04-15 06:28] juimonen commented on #1972
@plbossart yes I understand. I was just trying to bisect how you get to this situation, because I don't think _after_ user touches the balance, we should reset that in the boot. Or it could be resetted but the user setting should be restored?

@Liviali155 anyway as said I just installed fresh ubuntu 20 on my mantis and I don't see this issue. when you say setup ucm2 environment, you mean you updat

[2020-04-15 06:43] kv2019i commented on #2000
@sinahuang @libinyang  I agree with @plbossart , the expected behaviour is not correct. The SPDIF controls for HDMI/DP are unmuted when playback to HDMI/DP monitor is activated via UCM. So unless you connect a monitor and do playback, it is expected for the controls to be muted.

[2020-04-15 06:49] Liviali155 commented on #1972
I reported the issue because After install the ubuntu 20.04 daily release then update the ucm,I found right channel has no sound output when do speak test,and  I found the alsamixer display as below

![Inked1_LI](https://user-images.githubusercontent.com/56707932/79306518-f17a5600-7f27-11ea-81a4-0a071831b246.jpg)

This issue only occured  once on my side

The only difference between our UCM2 and 2

[2020-04-15 07:02] mengdonglin commented on #2013
@kv2019i @plbossart @lgirdwood  can we allow driver to
-  fallback to sof-cnl.ri if sof-cml.ri is not available for CML
-  fallback to sof-cnl.ri if sof-cfl.ri is not available for CFL ?

For SOF v1.4.2 release, @jajanusz confirmed that a single cn-cnl.ri (PV bit set in manifest) can be shared for all cAVS 1.8 platforms: https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2/lib/firmware/inte

[2020-04-15 07:04] juimonen commented on #1972
@Liviali155 hmm ok. Yes I understand the imbalance, but not sure should we do something to it if it is not very reproducible.

The problem I have with UCM default volumes is that it will be always set when you open the device, then nanosecond later pulseaudio will restore the user volume. So we will see rapid up/down movement in volume often -> all kinds of pops might appear.

And something is set

[2020-04-15 07:25] aleksfadini opened #2020 "sof errors on Lenovo Yoga C940 with cpu Cannon Lake i9-9880H [BUG]"
Sound is working erratically

[code]

Integrated microphone not working at all.
Tried a few fixes that worked fron Yoga c940 IceLake but not working for the Cannon Lake version.
Been trying for months.

**Environment**
    * Kernel: Linux 5.6.4-arch1-1 #1 SMP PREEMPT Mon, 13 Apr 2020 12:21:19 +0000 x86_64 GNU/Linux

    * SOF: arch linux, sof-firmware 1.4.2-1

Similar report:
https://bugzilla.redh

[2020-04-15 07:33] Liviali155 commented on #2013
Add Dmesg log for the CML laptop:

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

[dmesg-4015.log](https://github.com/thesofproject/linux/files/4479700/dmesg-4015.log)

[2020-04-15 08:19] kv2019i commented on #2013
@ClarexZhou @mengdonglin The driver will not try multiple files, so the firmware package will need to install symlinks (so that sof-cml.ri is always there).

[2020-04-15 09:53] mengdonglin commented on #2013
@kv2019i Okay. We'll communicate to OS vendors.

You''re right, the driver will not try multiple files: https://github.com/thesofproject/linux/blob/73187435bdb760e706e04d8fbb32aaba7e9f00d1/sound/soc/sof/sof-pci-dev.c#L137

And since SOF v1.3 used different FW binaries for CML and CFL, we cannot change the default default_fw_filename for them in driver. Closed this issue as won't fix.

[2020-04-15 09:53] #2013 closed

[2020-04-15 10:32] Liviali155 opened #2014 "[BUG][CML][UCM2]Speaker and headset has sound output at the same time after suspend-resume"
***Describe the bug***
Speaker and headset has sound output at the same time after suspend-resume
Ctrl +c to stop paplay then paplay  Right now  again can not recovery,
Ctrl +c to stop paplay,wait about 20s,paplay again can recovery

**To Reproduce**
1.sudo reboot with headset connected
2.open sound settings
3.set Output Device as " Speaker-sof-hda-dsp"
4.set Input Device as "Headset Mono Micropho

[2020-04-15 10:39] kv2019i commented on #1917
@giddie @plbossart Hmm, we have no reports on system lockups in recent memory. We have to go back to 2019 and even then, most issues leave a clear signature to system logs, which is not the case here (nor in #1985). One that has some similarity is https://github.com/thesofproject/sof/issues/1692 , but that did not result in system hang (rather only the capture process hangs).

@giddie Is this the

[2020-04-15 10:51] kv2019i commented on #1985
@elorriaux Catching up with this again. With the latest alsa-info and pulseaudio log, I think the problem is that you've compiled your kernel without:

CONFIG_SND_SOC_SOF_HDA_COMMON_HDMI_CODEC=y

This was removed in 5.7-rc1/sof-dev, so you probably lost it when you tried the latest SOF dev kernel, and then went back to 5.6.3 (which still has the above).

This is visible from the logs:
[  217.73076

[2020-04-15 10:57] Liviali155 opened #2015 "[BUG][CML]Pop noise occured in headset when resume from suspend without aplay via headset"
Describe the bug
Pop noise occured in headset when resume from suspend without aplay via headset
Reboot with headset connected,resume from suspend  without playback or resume from suspend  with HDMI/DP/speaker/ playback can reproduce this issue
Error  only occured when wakeup,not seen when suspend

To Reproduce
1.sudo reboot with headset connected
2."sudo rtcwake -m mem -s 10" to suspend without p

[2020-04-15 11:22] giddie commented on #1917
Yes, this is a variant with Optimus (Intel/NVidia) graphics. It may be relevant that the NVidia card is a GTX 1650, which is the first generation to support a new power management API that allows it to be completely switched off when it's not active via PRIME Offload, which is how I've configured it.

There is a full dmesg log attached to the first post, I believe. I'll try the suggestion you offe

[2020-04-15 11:36] Liviali155 commented on #2015
Issue can not be reproduced on sof/dev(commit:73187435)

Issue can be reproduced on :
5.5.8 Kernel: [97453d9b] (https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v5.5.8)
5.6.3 kernel:commit f9fb8575

[2020-04-15 11:41] Liviali155 commented on #2014
Issue can be  reproduced on sof/dev(commit:73187435)
Issue can be reproduced on 5.5.8 Kernel: [97453d9] (https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v5.5.8)
Issue can be reproduced on 5.6.3 kernel:commit f9fb8575

[2020-04-15 14:11] juimonen commented on #2014
yeah I can reproduce this. Can't think anything else that this has to be something in quite low level as we have alsamixer headphones muted, but still the sound is going there... so the actual codec and alsa mute are out of sync.

[2020-04-15 14:19] elorriaux commented on #1985
@kv2019i actually CONFIG_SND_SOC_SOF_HDA_COMMON_HDMI_CODEC=y has been omitted following this https://github.com/thesofproject/linux/issues/1985#issuecomment-610014308. When you say 5.7-rc1, you mean official git branch?

In all my recent reports, nvidia GPU was always off, deactivated in the BIOS. I'll have a look to https://github.com/thesofproject/linux/issues/1917#issuecomment-613961384

[2020-04-15 14:46] kv2019i commented on #1985
@elorriaux wrote:

Ack, that was unintentional. The config file @plbossart provided to you in the comment, was created with latest sof-dev that does not have this Kconfig option. If you take this to older kernel (like 5.6.3), you can end up setting wrong value for HDMI codec and end up confusing Pulseaudio.

Yes, v5.7-rc1 tag in torvalds' git tree, or https://git.kernel.org/torvalds/t/linux-5.7-rc

[2020-04-15 15:22] plbossart commented on #2020
@aleksfadini the errors in the dmesg log are misleading, ignore them.

Can you please provide a link to the results of alsa-info ?

Also please try and capture at the hw level

arecord -Dhw:0,6 -c4 -r48000 -fS32_LE -d 10 mytest.wav
aplay -Dhw:0,0 mytest.wav

And please list what you have in /usr/share/alsa/ucm and /usr/share/alsa/ucm2.

Thanks!

[2020-04-15 18:00] elorriaux commented on #1985
@kv2019i ok haven't noticed 5.7-rc1 branch a few days ago, sources are already packaged under gentoo. Here are logs with option mentioned here https://github.com/thesofproject/linux/issues/1917#issuecomment-613961384

[log_dmesg_5.7.0_rc1.log](https://github.com/thesofproject/linux/files/4482886/log_dmesg_5.7.0_rc1.log)
[log_pulse_5.7.0_rc1.txt](https://github.com/thesofproject/linux/files/4482887

[2020-04-15 18:26] kv2019i commented on #1985
@elorriaux wrote:

Do you still have the freezes with this option? The #1917 option is primarily to address the freezes.

For the second issue of PA not finding the right devices,  you can try to fix the Pulseaudio issue with following modprobe.d option (without recompiling the kernel again):

options snd_sof_intel_hda_common use_common_hdmi=Y

With the option from #1917, HDMI codec is disabled, b

[2020-04-15 19:06] elorriaux commented on #1985
@kv2019i

No freezes so far, but I don't have any interfaces in pavucontrol. aplay -l arecord -l report interfaces, I can record with my user but only root can play the wav

This module does not seem to be loaded, I checked that the module is there and is configured as module in my .config CONFIG_SND_HDA_CODEC_HDMI=m

[log_dmesg_5.7.0_options.log](https://github.com/thesofproject/linux/files/44832

[2020-04-15 19:06] juimonen commented on #2014
@mengdonglin @Liviali155 After debugging this I see that when waking up from suspend, snd_hda_codec_realtek is syncing the register 0x21b8000 to value 0x80. Per my debugging this should be the headphone path mute and the value 0x80 should mean muted.

Why this is not muting the actual codec is a mystery to me. I see the same sequence with the forced "rtcwake" call and with just letting the codec g

[2020-04-15 19:13] plbossart commented on #1985
@elorriaux you probably still have a config issue, the following isn't so good:
[code]

Maybe that's an v5.7-rc1 issue, we haven't tested it yet (WIP at https://github.com/thesofproject/linux/pull/2018)

[2020-04-15 19:38] elorriaux commented on #1985
@plbossart I suspect it is related to the option proposed by @kv2019i here https://github.com/thesofproject/linux/issues/1917#issuecomment-613961384

[2020-04-15 21:26] elorriaux commented on #1985
@plbossart I confirm, removing it solves errors in dmesg. I've even been thinking that everything -rcwas working fine with that  kernel and options snd_sof_intel_hda_common use_common_hdmi=Y... but after a few minutes it froze...

[2020-04-16 03:42] aleksfadini commented on #2020
Thank you for looking into this.
In reverse order:

[code]

[code]

Hw capture:
[code]

[code]

alsa-info attached
[alsa.txt](https://github.com/thesofproject/sof/files/4484793/alsa.txt)

[2020-04-16 03:50] Liviali155 commented on #2015
On sof/dev
Fail on commit https://github.com/thesofproject/linux/commit/2f0d4d4b2e9d48fd9a776332808439b92cb8ca96
Pass on commit https://github.com/thesofproject/linux/commit/22d5e98fe5cf82e842fb025d59d6edcf9f03a528

Seems PR #1983 fix this issue on /sof/dev

[2020-04-16 04:04] Liviali155 commented on #2015
Issue can be reproduced after revert PR #1983

[2020-04-16 04:12] Liviali155 commented on #2014
Issue can be reproduced after revert PR #1983

[2020-04-16 05:36] juimonen commented on #2014
@bardliao can you point out this issue for realtek folks also for some comments? I'm little bit lost how to advance with this...

[2020-04-16 08:01] YvonneYang2 opened #2019 "[BUG][APL]"ipc timed out for 0x60050000 size 12" occurred when run Simultaneous playback capture stress test"
**Describe the bug**
"ipc timed out for 0x60050000 size 12" occurred when run Simultaneous playback capture stress test

**To Reproduce**
1.System boot up.
2. cd sof-test then run "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg"
3. cd test-case then run "./simultaneous-playback-capture.sh -l 50"

**Reproduction Rate**
Round1: run 50 times, failed at 15th time.
Round2: run 50 times,

[2020-04-16 09:38] ClarexZhou commented on #2014
Error not seen on Lenovo Yoga x1 ALC285 in HDA mode, with 1.4.2 fw. Tried withe 5.5.9 and 5.6.3 kernel.

[2020-04-16 10:25] bardliao commented on #2014
Sent email to @kailangyang.

[2020-04-16 10:29] juimonen commented on #2014
@bardliao thank you!

[2020-04-16 10:30] bardliao commented on #2014
@ClarexZhou @Liviali155 Can you check if below experiments can mute the headphone when you meet the issue?
1. amixer cset name='Headphone Playback Switch' 1 and amixer cset name='Headphone Playback Switch' 0
2. unplug and plug the headphone.
Please do the 2 experiment separately.

Thanks

[2020-04-16 11:30] juimonen commented on #1991
@Liviali155 it helps to reverse the order of "headphone mic" and "headset" in HiFi.conf in sof-hda-dsp. So I think pulseaudio chooses the first definition as primary without pop-up. At least for me the settings ui show now always headset mono mic when re-inserting the headset.

However I still get sometimes headset silenced. Alsamixer shows that the "Input Source" would be correct but I can't hear

[2020-04-16 11:35] juimonen commented on #1991
and it could be that the above is pulseaudio bug that @libinyang was reporting, with enable and disable sequences.

So we should re-test this bug with
1) reverse the order of "headphone mic" and "headset" definitions in HiFi.conf in sof-hda-dsp
2) adding the https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/276 to pulseaudio (already in fedora)

[2020-04-16 12:28] kv2019i commented on #1719
OK, now merged to upstream:
https://lists.freedesktop.org/archives/intel-gfx/2020-April/236415.html
A backport is already in sof-dev, so we can close this issue.

[2020-04-16 12:30] #1719 closed

[2020-04-16 12:51] juimonen commented on #1991
I tried adding the pulseaudio patches above -> no help for the random headset mute

I did "cat /proc/asound/card0/codec#0 | grep 0x23 -A2" (0x23 should be the input source switch)
If I change the input source manually from alsamixer between "headset mic" and "headphone mic", I can see that above "cat" produces differences: "headset mic" second value pair 0, "headphone mic" third value pair zero. A

[2020-04-16 13:48] plbossart commented on #1991
why would use the order matter?

[2020-04-16 15:33] plbossart commented on #2020
ok, let's retry, looks like you only have 2 mics. We should be able to verify this with the following command:

amixer -Dhw:0 info
You should see something in there that list cfg-dmic:2 ?

arecord -Dhw:0,6 -c2 -r48000 -fS32_LE -d 10 testFile.wav
aplay -Dhw:0,0 testFile.wav

[2020-04-16 16:15] juimonen commented on #1991
@plbossart seems that pulseaudio picks up the first one "mic" defined in this use case. There's 2 definitions in this case. So as a default it is much better to just put the "headset mic" as first item, because that is 99% of the cases...

Not sure if it can be made explicit with some priorities etc. And anyway this selection should be made with the pop-up.

[2020-04-16 16:47] plbossart commented on #1991
ah sorry, I read 'headphone' and 'headset' and couldn't figure out why playback and capture would be confused.

What is a 'headphone mic'?  that looks confusing to me, and yes priorities should be applied. If not PulseAudio is broken if it selects the first one.

[2020-04-16 16:55] juimonen commented on #1991
@plbossart "headphone mic" is basically a stereo analog mic. And the name, I guess, implies it is a "pure" mic stuck to headphone input. Dell folks want to have this I guess for some legacy reasons.
And if you want to use this kind of device in headphone input, you need to configure the pins so that for sure there's no audio coming out. So if this kind of use case is loaded -> no audio out.

The n

[2020-04-16 16:58] plbossart commented on #1991
thanks @juimonen so that's just a 3.5mm mic, nothing to do with headphones other than using a 3.5mm jack.

[2020-04-17 01:35] Liviali155 commented on #2014
1.After amixer cset name='Headphone Playback Switch' 0 ,the headphone was muted,only has speaker has sound output
2.unplug and plug the headphone,Both of speaker and headset has no sound output,because the Output Device Changed to "Headphones-sof-hda-dsp",and Input Device Changed to "Headphones Stereo Microphone-sof-hda-dsp",At the same time if change
Output Device as " Speaker-sof-hda-dsp"  Input

[2020-04-17 01:55] ClarexZhou commented on #1972
Change paplay volume in volume levels bar from sound setting won't effect volume settings in alsamixer. But change Balance in sound setting, will effect Heaphone and Speaker volume in alsamixer.
Change Input volume  from sound setting, it will also effect Capture or Dmic0 volume in alsamixer.
But PGA volume, such as PGA2.0 2 will not be effected by pulseaudio.
@juimonen  shouldn't we set default P

[2020-04-17 03:03] leezu commented on #1994
@plbossart thank you! I performed the string replacement you suggested and rebooted, but to pulseaudio the microphone still remains silent. It does list a `sof-hda-dsp` microphone though.

The content of the `Mic.conf` is now as follows

[code]

Could you clarify what you mean with

[2020-04-17 05:18] aleksfadini commented on #2020
Thanks a lot for following up!
You are correct about 2 mics:
[code]
Recording and playing both worked!
What does it mean?

I apologize if that means I did not configure pulse right.
Apparently changing the volume through pulse (via polybar) crashes the system, and apps that usually work with mic do not seem to detect the microphone (gnome record, zoom, skype). Could you help me find a solution?
I

[2020-04-17 05:52] juimonen commented on #1972
@ClarexZhou just realized that the sound settings has changed quite a bit from 18.04. So you don't see anymore volume marked for output. "System volume" is changing the alsamixer settings for current output. And the paplay appears only when used and that volume changes the pulseaudio internal sw volume.

So I think it is working as intended.

The PGA's (sof dsp volumes) are not to be touched in th

[2020-04-17 06:05] juimonen commented on #2014
attached alsainfo and codec dump after the issue happened:

[alsa_info.txt](https://github.com/thesofproject/linux/files/4491177/alsa_info.txt)
[codec_dump.txt](https://github.com/thesofproject/linux/files/4491178/codec_dump.txt)

[2020-04-17 06:38] juimonen commented on #2014
new alsainfo after dump enabled:
[alsa_info3.txt](https://github.com/thesofproject/linux/files/4491293/alsa_info3.txt)

[2020-04-17 06:44] juimonen commented on #2014
@Liviali155 @ClarexZhou

I made https://github.com/alsa-project/alsa-ucm-conf/pull/21 to address the issue of wrong input when inserting headset. Not solving this issues, but related.

[2020-04-17 06:46] juimonen commented on #1991
@Liviali155 can you try https://github.com/alsa-project/alsa-ucm-conf/pull/21

[2020-04-17 07:23] juimonen commented on #2014
yet another try with alsa-info
[alsa_info4.txt](https://github.com/thesofproject/linux/files/4491532/alsa_info4.txt)

[2020-04-17 08:11] KailangYang commented on #2014
I think this would be mixer layer issue.

Register and mixer didn’t sync. You could see below or dump file.
Register => unmute
Mixer => mute
I think mixer mute can’t access codec register.

Node 0x21 [Pin Complex] wcaps 0x40058d: Stereo Amp-Out
  Control: name="Headphone Playback Switch", index=0, device=0
    ControlAmp: chs=3, dir=Out, idx=0, ofs=0
  Amp-Out caps: ofs=0x00, nsteps=0x00, stepsize

[2020-04-17 08:18] juimonen commented on #2014
@kailangyang ok.

If I put debugs on in regmap:
"dmesg -w | grep 0x21b8000" (should be headphone mute other channels register)
When device wakes up I see :
snd_hda_codec_realtek: Synced register 0x21b8000, value 0x80 (muted)

I understand the above so that it is syncing the headphone mute register to mute (which is correct)? But it is not reflected in the codec?

[2020-04-17 08:34] KailangYang commented on #2014
@juimonen
codec dump show register NID 0x21 Amp-Out vals:  [0x00 0x00].
This value was the current register value.
Could you use alsamixer to mute headphone?
Then to see the NID 0x21 Amp-Out vals. If value was 0x80.
It shows your verb command was wrong.

[2020-04-17 08:43] juimonen commented on #2014
@kailangyang sorry I'm little bit lost here...

alsamixer shows "muted", but if I toggle it back and forth, it will have effect.

The thing here is that in this "wake up from suspend" case nothing is sent from user space and we are relying on driver resume to restore the settings. And as said, dmesg debug from regmap tells me after wake up that headphone mute is synced. But it is not reflected in

[2020-04-17 10:15] libinyang commented on #1999
I did some test and debug on this issue. It seems there are 2 issues.
1. the priority setting is wrong. Speaker priority should be lower than Headphone. I will submit a patch for it later.
2. It seems pulseaudio can't recognize the UCM2 priority setting. I will continue testing and debugging on this issue.

[2020-04-17 10:16] juimonen commented on #2014
@kailangyang @Liviali155

I see that the resume in mantis is going through patch_realtek.c alc269_resume. I also see that none of the possible "pop preventing" sleeps are called.

If I add forced 200ms sleep to alc269_resume before regmap sync, this issue will not happen. So I think @kailangyang theory that the codec has not properly started is correct. So even if the sync happens, it is not propa

[2020-04-17 12:12] libinyang commented on #2000
@kv2019i The problem is that SPDIF volume initial state is unknown especially that user may touch this volume. So it is better that we setup the volume to a proper value and mute the S/PDIF to mute. And when HDMI is connected, the S/PDIF is unmuted automatically.
I have submitted a patch for this issue to setup to a proper value: https://github.com/thesofproject/alsa-ucm-conf/pull/35
This is still

[2020-04-17 12:49] kv2019i commented on #1985
@elorriaux D'oh, ok -- I think I figured what is still missing. It seems alsa-ucm-1.2.2 is missing one patch that is needed on systems with external GPU. The patch was merged on March 5 to alsa-ucm to git, so I was under assumption it is in 1.2.2, but alas, I did not check, now I did it is not there. But that explains why Pulseaudio keeps on trying to open the HDMI3 device on your system.

Here's

[2020-04-17 12:52] libinyang commented on #2000
@plbossart @kv2019i I'm planned to move `cset "name='PGA3.0 3 Master Playback Volume' 50"` in RT1308-1.conf into HiFi.conf. As sof-soundwire is a general ucm config, it's hard to say pipeline 3 always belongs RT1308-1. And it will be better to wrapped it into a `If` statement.
It will be like:
[code]
What do you think?
BTW: I did some test today and found alsa-lib has some issue to support such us

[2020-04-17 15:16] plbossart commented on #1994
There is an alsa-ucm command utility that you can use to set the devices without PulseAudio.

Try to play with commands such as:

alsaucm -c sof-skl_hda_card set _verb HiFi set _enadev Dmic
alsaucm -c sof-skl_hda_card set _verb HiFi set _enadev Speaker

Adding @juimonen for feedback.

[2020-04-17 15:24] plbossart commented on #2020
ok, so the good news is that your hardware and drivers work fine, it's *only* PulseAudio configuration issues.

I think your /etc/pulse/client.pa should be:
load-module module-alsa-sink device=hw0,0 channels=2
load-module module-alsa-source device=hw:0,6 channels=2

You may have 4 speakers but the PCM device only supports 2, the 4 speakers are handled by the HDaudio codec.
And likewise since you h

[2020-04-17 15:39] plbossart commented on #2000
We can add a default volume, but it should be 0dB. Not changed in the firmware, let the receiver deal with volume control.

[2020-04-17 15:42] plbossart commented on #2000
Yes, we cannot have conditional parts in the enabling sequence, it's the entire sequence that need to be duplicated/modified for each IF. branch. That's what I did for the Baytrail/Cherrytrail stuf, see https://github.com/alsa-project/alsa-ucm-conf/pull/20/commits/9880afa96ddc56d45a72f9d2b8dfdcac482e003a#diff-78a6f5bba73d7d01a6b798e4b738bfeaR6

[2020-04-17 17:43] kv2019i commented on #1687
Started work on this again. I tried 10/10 with no success (i.e. no errors seen during test) on CML laptop with HDA codec. I wonder if I'm doing something differently in the sequence. One potential difference in setup is the I2S codec. I'll try next reproduce on this same laptop, but run the tests with external HDA codec disabled. This should mimic the HDA setup of the I2S board. If no success, I'l

[2020-04-17 18:57] leezu commented on #1994
Thank you @plbossart. Sorry, I'm currently not very familiar with the sound stack and the tools. I find that running `sudo alsaucm -c sof-hda-dsp set _verb HiFi set _enadev Dmic` looks for a non-existent file `/usr/share/alsa/ucm/HP-HPEliteBook840G6--8549/HP-HPEliteBook840G6--8549.conf`.

[code]

On Ubuntu 20.04 it appears that the `alsa-ucm-conf` package provides the files in /usr/share/alsa/ucm`

[2020-04-17 19:11] leezu commented on #1994
As a sidenote, renaming everything back to `sof-skl_hda_card` causes

[code]

[2020-04-17 19:27] plbossart commented on #1994
@leezu don't worry about the HP-HPEliteBook840G6--8549/HP-HPEliteBook840G6--8549. What happens is that UCM tried to use a DMI-based name, then if it doesn't find a matching file it will use the fallback based on the generic card name.

So the problem is that in your UCM file your have strings that don't match the name of your card: hw:sofsklhdacard should be hw:sofhdadsp

You need to use a filenam

[2020-04-17 19:59] leezu commented on #1994
Thank you @plbossart. I updated the files accordingly:

Now I face

[code]

Where `Mics.conf ` file now is:

<details>

[code]
</details>

[2020-04-17 20:04] plbossart commented on #1994
@leezu you have to make sure the file is correct. UCM does not like syntax issues, and you specifically need to pay attention to formatting with simple and double quotes ' ", and make sure the controls actually exist for your device.

cset "name='Headset Mic Boost Volume' 2"

[2020-04-17 21:04] leezu commented on #1994
@plbossart thanks for clarifying, but I did not do any change to the `cset "name='Headset Mic Boost Volume' 2"`. Why is this line contained in `sof-hda-dsp.conf` if not all devices implement it?

After removing the line, the next line complained about is `cset "name='PGA10.0 10 Master Capture Volume' 75"` and `cset "name='PGA11.0 11 Master Capture Volume' 75"`.

After removing both as well, `alsau

[2020-04-17 21:15] leezu commented on #1994
Another problem is that after removing `cset "name='Headset Mic Boost Volume' 2"` from `sof-hda-dsp.conf` file and rebooting, Pulseaudio sound output does not work at all anymore and only a Dummy device is recognized. Inserting `cset "name='Headset Mic Boost Volume' 2"` again, fixes the sound output.

Could there be an underlying kernel bug affecting the sound card of HPEliteBook840G6?

[2020-04-17 21:19] plbossart commented on #1994
@leezu you are in a configuration twilight zone, with likely disconnects between kernel, topology and UCM files....I don't know why adding a setting that is not working with alsaucm would fix the output with Pulseaudio.

At this point, if you have a self-compiled kernel, you will probably need to also install the latest alsa-lib and the latest alsa-ucm-conf. Mucking with old UCM with an old alsa-l

[2020-04-17 22:27] leezu commented on #1994
I'll look into upgrading the alsa tools and report back if the issue persists / is solved. Thanks for your help so far!

[2020-04-17 23:04] leezu commented on #1994
Selectively installing alsa and pulseaudio from Ubuntu 20.04 solves the issue.

Create
[code]
and
[code]

And finally run `sudo apt install -t focal alsa-topology-conf pulseaudio`

Thank you for your help @plbossart.

[2020-04-17 23:04] #1994 closed

[2020-04-18 00:41] plbossart commented on #1994
You're welcome @leezu glad you have a working SOF-based solution :-)

[2020-04-18 09:21] elorriaux commented on #1985
@kv2019i I repackaged alsa-ucm-conf from git to get the right Hdmi.conf. But I've not been able to get a pulseaudio log, it freezes almost immediately and pulseaudio log is empty :/

[2020-04-19 08:09] dingesista opened #2026 "[BUG] X1 Carbon 7th Gen, Linux 5.5.0-2-amd64 Debian 5.5.17-1 microphones undetected"
**Describe the bug**
Thinkpad X1 Carbon 7th generation
Debian Unstable, Linux 5.5.0-2-amd64 Debian 5.5.17-1 (2020-04-15) x86_64 GNU/Linux
Has sound, but microphones are not detected. Or perhaps they're detected, but ... they're not working

**Expected behavior**
It would be great to have the mics working.

**Impact**
A headset microphone works fine, so not all is lost.

**Environment**
1) Branch n

[2020-04-19 11:36] giddie commented on #1917
OK, I've turned off the NVidia power management (described in the "Automated Setup" section [here](https://download.nvidia.com/XFree86/Linux-x86_64/435.17/README/dynamicpowermanagement.html)), and this seems to clear up the freezing issues. Pulseaudio also now seems to work flawlessly (including the internal microphone), although I do notice the following output from Pulseaudio:

[code]

I will tr

[2020-04-19 12:12] giddie commented on #1917
I also tested kernel `5.7.0-rc1-1-git-00246-g90280eaa88ac`. First, I booted with my usual config to check the baseline: my system froze the second time I ran `speaker-test`.

[edit]I discovered later that the `nvidia` module isn't even loading on this kernel, and the power management udev rules also make no difference to the freezing. I couldn't get the DKMS version of the module to build either,

[2020-04-19 16:52] jepjepus commented on #1994
Hello,

I'm trying to setup an HP Elitebook 830 G6 in Debian 10.3 stable (buster) and I am at the same point.
I have installed sof firmware (stable, Intel signed) and compiled linux kernel 5.6.5 with sof drivers.
I have upgraded some packages to testing (bullseye) version.

Packages were:
- sourced by alsa-lib 1.2.2-1: libasound2 libasound2-data libasound2-plugin-smixer libatopology2
- sourced by

[2020-04-19 18:37] leezu commented on #1994
@jepjepus the error is harmless, I get the same but sounds & mic work nevertheless.

[code]

[2020-04-19 19:05] lgirdwood commented on #2026
@dingesista can you paste the full dmesg. @plbossart @kv2019i @juimonen fyi

[2020-04-20 01:56] ClarexZhou commented on #2015
Close, for error can be fixed by PR #1983  which already merged in sof-dev

[2020-04-20 01:56] #2015 closed

[2020-04-20 02:03] Liviali155 opened #2024 "[BUG][TGL]HDMI aplay failed after reboot with HDMI connected on ubuntu 20.04"
***Describe the bug***
HDMI aplay failed after reboot with HDMI connected
If connect HDMI after reboot,error not seen
If reboot with HDMI and DP,error not seen
After error occured,other pipeline will also aplay failed

Error only occured on ubuntu 20.04(http://releases.ubuntu.com/20.04),not seen on ubuntu 18.04

***To Reproduce***
1.Connect HDMI monitor
2.Reboot system via "sudo reboot"
3.Reboot s

[2020-04-20 02:05] Liviali155 commented on #2024
Error not seen on
CML laptop with onboard codec ALC3204 in HDA mode

[2020-04-20 03:00] ClarexZhou commented on #1975
Reopen for need debug on 20.04

[2020-04-20 05:22] ClarexZhou commented on #1972
@juimonen   current UCM2 isn't set PGA's default volume. But i think default PGA's volume both for playback and capture should be setup in UCM2.
Could you add default PGA volume in HDA UCM2?

[2020-04-20 05:33] Liviali155 commented on #1991
Tried with alsa-project/alsa-ucm-conf#21,input device is “Headset Mono Microphone-sof-hda-dsp”  after unplug/plug headset,but sometimes still has no sound output in headset,need to change input device as "Headphones Stereo Microphone-sof-hda-dsp",then “Headset Mono Microphone-sof-hda-dsp” again,there is sound output in headset
log and amixer contents as attachment, seems there is no difference bet

[2020-04-20 05:43] juimonen commented on #1991
@Liviali155 yes I also noticed the same. I think that's the main issue now. I think this bug should be closed as we can get rid of it by ucm mic ordering or by the actual pop-up. And we should maybe create a new bug from above.

You can get rid of it by toggling the "input Source" in alsamixer. So this might also actually go away with pop-up. And there's again something strange happening with this

[2020-04-20 05:56] Liviali155 opened #2025 "[BUG][CML][UCM2]Sometimes no sound output after unplug headset then plug again(random)"
Describe the bug
Sometimes no sound output after unplug headset then plug again(random)
Ubuntu 20.04
[code]
To Reproduce
1.sudo reboot
2.wait runtime pm status suspend
3.plugin headset
4.open sound settings
5.set input device as “Headset Mono Microphone-sof-hda-dsp”,output Device as "Headphone-sof-hda-dsp"
6.aplay -Dhw:0,0 -r48000 -c2 -fs16_le  wav/48California_Dreaming.wav -vv -i(has sound output

[2020-04-20 06:00] Liviali155 commented on #1991
Because apllied alsa-project/alsa-ucm-conf#21,input device is “Headset Mono Microphone-sof-hda-dsp” after unplug/plug headset,about the issue  sometimes still has no sound output in headset has creat another issue to follow up https://github.com/thesofproject/linux/issues/2025,closed this issue

[2020-04-20 06:23] HilleniusGijs commented on #2026
[dmesg.txt](https://github.com/thesofproject/sof/files/4501561/dmesg.txt)

[2020-04-20 06:26] HilleniusGijs commented on #2026
![alsamix](https://user-images.githubusercontent.com/12935595/79720291-8ababb00-82e0-11ea-971f-00b46bca6e65.png)

A screenshot from alsmixer, immediately upon a fresh boot, having selected the "0 HDA Intel PCH...." (number 2 in the list when pressing F6).  There is nothing I can do with the "Auto-Mute"; and pavucontrol shows "No input devices available".

[2020-04-20 07:03] juimonen commented on #2026
@dingesista Don't know if you did it, but did you press F5 after getting this screen? To show the capture side also? alsamixer doesn't show you capture mixers by default...

[2020-04-20 07:24] HilleniusGijs commented on #2026
![alsamixer-f5](https://user-images.githubusercontent.com/12935595/79724711-42070000-82e8-11ea-959b-f6f1d73d3097.png)

I did not hit F5 today until just now, but I've seen this. Pavucontrol (still) says: No input devices available. But when I plug in an smartphone headset, it will immediately show "Microphone (plugged in), and there is an indicator that starts to wiggle because of the background n

[2020-04-20 07:48] jepjepus commented on #1994
Yes, sound & mic work, but:

- In the mixer (pavucontrol), sound Cannon profile ("Play HiFi quality Music") appears as "unavailable" (speakers and internal microphone do work) without headphones plugged in but as soon as headphones are plugged in, the "unavailable" text disappears).
- Both digital internal microphone and headphones microphone always appear "unplugged" but work.

- If I am listenin

[2020-04-20 07:55] libinyang commented on #2000
@plbossart OK. I will make a final patch for it. The patch should be like: https://github.com/thesofproject/alsa-ucm-conf/pull/36
And only one issue: if we set DMIC to 0db, it seems the volume it too low. Others volume is OK.

[2020-04-20 08:12] libinyang commented on #2000
@plbossart Yes, the patch you did on Baytrail/Cherrytrail is my destination on SDW with more 'If' statement. Please see https://github.com/thesofproject/alsa-ucm-conf/pull/36. However, currently alsa-lib has an issue to support such usage. alsa-lib will treat all the enablesequence/disablesequence as the same id. So if the first enablesequence is added into ucm config list, the following enableseq

[2020-04-20 08:35] kv2019i commented on #2000
Sorry @libinyang @plbossart a bit late to the discussion. FYI @juimonen and @singalsu with whom we've discussed a similar problem. Basicly there are at least two systems for populating defaults -- alsalib has its own (/usr/share/alsa/init), and when you run pulseaudio for first time, it populates its own database of volume settings.

If we have volume settings in our UCM enable/disable sequences,

[2020-04-20 08:46] juimonen commented on #2000
Excellent description from @kv2019i and totally agree. Unfortunately I'm also not sure how this works currently in Pulse or does it work etc. I need also to update my info on this "default" setting with empty database...

[2020-04-20 08:53] #1968 closed

[2020-04-20 09:29] lgirdwood commented on #2026
@dingesista Looks like the legacy HDA driver is being used here
[code]
Can you try and pass ```snd-intel-dspcfg.dsp_driver=1 ``` in kernel cmd line.

[2020-04-20 10:26] HilleniusGijs commented on #2026
I added that to /etc/default/grub in this line: GRUB_CMDLINE_LINUX="<here>" and then ran update-grub and rebooted. I'm doing it wrong, or the option is not propagated to the module. See below

dmesg | grep snd
[    0.000000] Command line: BOOT_IMAGE=/vmlinuz-5.5.0-2-amd64 root=/dev/mapper/inauditus--vg-root ro snd-intel-dspcfg.dsp_driver=1 quiet
[    0.184251] Kernel command line: BOOT_IMAGE=/vmli

[2020-04-20 11:02] kv2019i commented on #2026
@lgirdwood

Actually @dingesista this is wrong, this actually force the non-DSP kernel driver to be used and dmic will not be found. So either pass "snd-intel-dspcfg.dsp_driver=0" (for auto) or "snd-intel-dspcfg.dsp_driver=3" for SOF.

You can see https://github.com/thesofproject/linux/issues/1877 for various tips and tips on issues you can hit.

I'll move this bug to kernel as this is not related

[2020-04-20 11:17] HilleniusGijs commented on #2026
thanks @kv2019i

here is an update:

I have sof-cnl.ri in /lib/firmware/intel/sof which is "sof-cnl-1.4.2.ri"
I also have symlinked sof-hda-generic-4ch.tplg  sof-hda-generic.tpl in /lib/firmware/intel/sof-tplg/

And the kernel command line has  snd-intel-dspcfg.dsp_driver=3

This results in (dmesg | grep sof-adio):

[   38.869672] sof-audio-pci 0000:00:1f.3: warning: No matching ASoC machine drive

[2020-04-20 11:39] kv2019i commented on #2026
Ok good @dingesista -- just as I moved to kernel component, this error now seems like a FW one. Based on the errors, it would seem the firmware is not a signed one and the error seems same as https://github.com/thesofproject/sof/issues/2264

You should be using this firmware file:
https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2/lib/firmware/intel/sof/v1.4.2/intel-signed

[2020-04-20 12:16] HilleniusGijs commented on #2026
@kv2019i

Thanks!

Here is the current situation: I've downloaded those three files, and cleaned out the previous versions:

ls /lib/firmware/intel/sof/
sof-apl-v1.4.2.ri  sof-cnl-v1.4.2.ri  sof-icl-v1.4.2.ri

I also removed /lib/firmware/intel/sof-tplg

the kernel command line is:

Kernel command line: BOOT_IMAGE=/vmlinuz-5.5.0-2-amd64 root=/dev/mapper/inauditus--vg-root ro snd-intel-dspcfg.dsp_d

[2020-04-20 12:38] HilleniusGijs commented on #2026
I renamed the firmware files:

ls /lib/firmware/intel/sof
sof-apl.ri  sof-cnl.ri	sof-icl.ri

I added again the topology files (in /lib/firmware/intel/sof-tplg/

but these are perhaps the wrong ones?

dmesg | grep snd
[    0.000000] Command line: BOOT_IMAGE=/vmlinuz-5.5.0-2-amd64 root=/dev/mapper/inauditus--vg-root ro snd-intel-dspcfg.dsp_driver=0 quiet
[    0.183970] Kernel command line: BOOT_IMAG

[2020-04-20 14:46] libinyang commented on #2000
@kv2019i @juimonen @singalsu Thanks for the update on your investigation. I checked /usr/share/alsa/init and below is my understand on the alsa initialization:

1) /usr/share/alsa/init setting is general, and it will handle the general kcontrol such as "Master Playback Volume". It won't touch our SOF special PGA setting. And I checked `alsactl init` (man alsactl_init), my understand is the setting

[2020-04-20 15:19] kv2019i commented on #1985
Ack, thanks @elorriaux . Did you have the HDMI codec filtered out with codec_mask (i.e. https://github.com/thesofproject/linux/issues/1917#issuecomment-613961384 ) when you did the test?

[2020-04-20 15:30] plbossart commented on #1994
@perexg FYI, it'd be nice to have a better info message when trying to use the long name for UCM configurations. A lot of users report this problem when in fact everything is working nicely with the driver name.

[2020-04-20 15:44] plbossart commented on #2026
@dingesista please remove all sof and sof-tplg directories and re-install from https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2 (with the go.sh script).

Also remove all options and let the kernel select the right driver, you are likely using the wrong option anyways:
[code]

[2020-04-20 16:43] perexg commented on #1994
I know about this. The listcards command is useless for ucm2 now.

[2020-04-20 17:36] elorriaux commented on #1985
@kv2019i arg no, I forgot to reactivate it after https://github.com/thesofproject/linux/issues/1985#issuecomment-614288686

Anyway I uncommented it and it continues to freeze, most of the time right after I load sound modules. However during one attempt, I managed to get logs before freezing (I still don't have identified why some attempts are able to last longer than others before freezing). In d

[2020-04-21 01:36] aiChaoSONG commented on #1975
This should be an issue of BASH, I have seen this issue with zsh, Ubuntu2004 bash, and ChromeOS bash. Seems the stop/resume case only work with Ubuntu1804 bash

[2020-04-21 01:41] libinyang commented on #1999
some update: pulseaudio can recognize the UCM2 priority setting. But it doesn't work when Headset hotplug. I will do more test on that.

[2020-04-21 02:33] libinyang commented on #1997
Jaroslav has a patch which has been merged in pulseaudio. I tested the latest pulseaudio,
the EnableSequence/DisableSequence in SectionDevice works now but it only works when pulseaudio is initializing. After pulseaudio starts, when I switched audio from "Speaker" to "Headphone" in sound setting.

Please check https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/854 for more details

[2020-04-21 02:48] ClarexZhou commented on #1975
close for bash issue.

[2020-04-21 02:48] #1975 closed

[2020-04-21 02:49] ClarexZhou commented on #2024
@kv2019i  could help to check this HDMI issue?

[2020-04-21 06:30] HilleniusGijs commented on #2026
@plbossart  thanks!

Sorry, I need a little more help. I'm not sure what that go.sh script is supposed to do. Running it just like that puts some files in /root and also a symlink to a non-existing directory in  / (root).

So, next step: I undid all of the above modifcations, to grub, rm the sof and sof-tplg directories in /lib/firmware/intel and used the file names and paths from the go script.

[2020-04-21 08:24] Liviali155 commented on #1687
On  CML laptop with onboard codec ALC3204 in HDA mode the reproduce step as below:
1.sudo reboot
2.plug headset
3.sudo reboot with HDMI/DP connected

***Reproduction Rate***
5/5

Expected behavior
HDMI/DP detection is OK, and sound output normal

Impact
Can't detect HDMI/DP via amixer contents, and there is no" HDMI2/DP2 Output-sof-hda-dsp"  item of Output Device in sound settings, but has sound o

[2020-04-21 08:36] libinyang commented on #1999
This bug is caused that we are using the single profile (or may be more accurate: switch between ports in the same profile). If we switch to multi profiles mode, this bug is fixed. I'm not sure this is a bug in pulseaudio of single support or it is designed so. I'm confirming with Jaroslav. Please see more details in https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/854

[2020-04-21 08:36] libinyang commented on #1997
This bug is caused that we are using the single profile (or may be more accurate: switch between ports in the same profile). If we switch to multi profiles mode, this bug is fixed. I'm not sure this is a bug in pulseaudio of single support or it is designed so. I'm confirming with Jaroslav.

[2020-04-21 09:04] perexg commented on #1999
The headset automatic switch issue is probably a gnome issue: https://gitlab.gnome.org/GNOME/libgnome-volume-control/-/merge_requests/10

[2020-04-21 09:05] kv2019i commented on #1687
@Liviali155 @dengyangchao Hmm. I wonder what I'm doing different. I now have CML laptops with both HDA audio codec and one with I2S codec, and I still can't reproduce the problem.

Some questions on the flow:
 - do you have the display lid closed (so that laptop output only goes to DP/HDMI monitor)?
 - any difference whether monitor is connected via DP (USB-C or DP connector) or native HDMI?
 - do

[2020-04-21 09:12] libinyang commented on #1999
@perexg Got it. Thanks a lot.

[2020-04-21 09:33] Liviali155 commented on #1687
1.I did not closed the display lid
2.I used Type c DP and native HDMI ,because I have no other device
<img width="188" alt="dp" src="https://user-images.githubusercontent.com/56707932/79850182-20943a00-83f6-11ea-8ce2-815483247a07.PNG">
<img width="133" alt="hdmi" src="https://user-images.githubusercontent.com/56707932/79850197-2427c100-83f6-11ea-9439-d5908c4a6e3b.PNG">

3.My dut boot directly into

[2020-04-21 09:58] YvonneYang2 commented on #1687
Issue can be reproduced on CML chromebook with I2SRT5682 which only support Type-C port.
DP or HDMI can both reproduce the issue.  Boot up with autologin.
HDMI: native HDMI external port + Type-c converter port.
DP: native DP external type-c port.
Reproduce rate: 100%

amixer contents cannot detect connected status:
[code]

/sys/kernel/debug/dri/0/i915_display_info shows it detected.
[code]
Unplug

[2020-04-21 11:19] sinahuang opened #2031 "[SDW][]BUG][CML-H]Dmesg shows "sof_sdw sof_sdw: ASoC: can't create pcm SDW1-Playback :-22 " when system boot up successfully."
**Describe the bug**
Aplay -l display "no soundcard" when dmesg shows "sof_sdw sof_sdw: ASoC: can't create pcm SDW1-Playback :-22 ".

**To Reproduce**
1.Boot up system successfully.
2.Aplay -l and then check dmesg.

**Reproduce rate**
5/5

**Expected result**
No error display after booting up successfully.

**Actual result**
Dmesg shows "sof_sdw sof_sdw: ASoC: can't create pcm SDW1-Playback :-22 "

[2020-04-21 12:37] sinahuang commented on #2031
I tried it with kernel on ww16.5( top commit:f9b8747), this issue can't be reproduced. But I found this commit seems replaced by  commit:https://github.com/thesofproject/linux/commit/18aaab64fbb121e5879f74a46903bcfd30bf660b , but the SOF can't load up successfully with it.

[2020-04-21 13:34] khfeng opened #2032 "sof-audio-pci doesn't work under discrete-only mode"
**Describe the bug**
After disable Intel GFX in the BIOS, sof-audio-pci doesn't work anymore under discrete-only mode.

**To Reproduce**
1.Disable Intel GFX, system is in Nvidia only mode.
2.Lose both audio input/output.

**Reproduce rate**
100%

**Expected result**
Audio keeps working under discrete-only mode.

**Actual result**
For both linux-next and sof-dev:
[   14.025657] sof-audio-pci 0000:0

[2020-04-21 13:41] plbossart commented on #2032
@kv2019i can you look at the kernel ooops? even if this looks like a missing Kconfig option I don't recall seeing an oops before.

@khfeng we are aware of a problem leading to a system hang, firmware 1.4.2 is missing an important fix unfortunately see https://github.com/thesofproject/sof/issues/2806

[2020-04-21 14:03] bardliao commented on #2031
It is due to https://github.com/thesofproject/linux/commit/9b5db059366ae2087e07892b5fc108f81f4ec189.

[2020-04-21 14:29] plbossart commented on #2031
Are you sure @bardliao ? we already define the min_channels in intel_create_dai():

[code]

So I am not sure what the addition of the new tests in 9b5db05 would change?

[2020-04-21 15:01] khfeng commented on #2032
The system doesn't hang.

Is it possible to release signed 1.5-rc* firmware so I can test it?

[2020-04-21 15:05] plbossart commented on #2032
@lgirdwood what's the ETA for 1.5? we are at -rc3, so should be coming right up, yes?

[2020-04-21 15:45] kv2019i commented on #2032
@khfeng Can you post alsa-info.sh output from this system?

You may also need to update alsa-ucm package. Only git master currently has fixes needed for these laptops where HDMI/DP of the integrated graphics is disabled. See my comment at https://github.com/thesofproject/linux/issues/1985#issuecomment-615226041

This doesn't help with the oops, but will be needed in the end as well.

[2020-04-21 19:11] kv2019i commented on #2024
Ack, will take a look.

[2020-04-21 19:17] kv2019i commented on #1687
Thanks @YvonneYang2 and @Liviali155 ! I could now reproduce this one on my CML I2S laptop, so I can proceed debug. It seems the reproduction rate is lower, but that's not a problem -- it's enough I can reproduce now.

[2020-04-21 20:03] kv2019i commented on #1985
@elorriaux Ok thanks! The logs now good. Pulseaudio no longer gets fooled with the non-existent i915 HDMI nodes, so this is good. Now the "only" thing left are the freezes. There's something positive to report on that front in that we have now reproduced this on another machine that we have in the team, which makes the debug faster:
https://github.com/thesofproject/sof/issues/2806
.. and we now ha

[2020-04-21 20:11] kv2019i commented on #1917
@giddie A potential rootcause to the hangs has been found:
https://github.com/thesofproject/sof/issues/2806
This will be in the soon-to-be-released 1.5 SOF FW.

You might also have a minor issue with Pulseaudio getting confused with the HDMI PCM nodes. This is fixed in alsa-ucm git master, but is not yet in alsa-ucm-1.2.2 release, see:
https://github.com/thesofproject/linux/issues/1985#issuecommen

[2020-04-22 00:40] bardliao commented on #2031
@plbossart Yes, ``if (rtd->num_cpus > 1)`` test is failed.
``[    3.200432]  SDW1-Playback: DPCM doesn't support Multi CPU yet``
That is a new test in 9b5db05 and I verified with my CML-H laptop

[2020-04-22 03:50] sinahuang commented on #2031
Tried it with latest sof-dev after reverting commit:https://github.com/thesofproject/linux/commit/9b5db059366ae2087e07892b5fc108f81f4ec189, issue can't be reproduced. Issue might be caused by this commit.

[2020-04-22 05:48] YvonneYang2 commented on #1866
Since #1897 has been merged, retest it om cml-u laptop, issue cannot be reproduced with latest sof-dev(8dc1789e) and master(0befebb7)

[2020-04-22 05:49] YvonneYang2 commented on #1869
Since #1897 has been merged, retest it om cml-u laptop, issue cannot be reproduced with latest sof-dev(8dc1789) and master(0befebb7)

[2020-04-22 06:02] #1869 closed

[2020-04-22 06:08] YvonneYang2 commented on #1862
Since ucm2 issue https://github.com/thesofproject/linux/issues/1999, output source won't auto switch to headphone when plug in headphone. So tested it via switching to headphone manually, issue cannot be reproduced after #1897 merged.  Close the bug.

Test recipe:
Kernel: topic/sof-dev(8dc1789)
FW: master(0befebb7)

[2020-04-22 06:08] #1862 closed

[2020-04-22 06:09] YvonneYang2 commented on #1866
Close it for PR #1897 merged.

[2020-04-22 06:09] #1866 closed

[2020-04-22 06:11] YvonneYang2 commented on #1865
Since #1897 has been merged, retest it om cml-u laptop, issue cannot be reproduced with latest sof-dev(8dc1789) and master(0befebb7). Close it.

[2020-04-22 06:11] #1865 closed

[2020-04-22 07:32] khfeng commented on #2032
Yes the latest UCM files help. Let's close this issue.
The oops is a different issue though.

[2020-04-22 07:32] #2032 closed

[2020-04-22 07:38] juimonen commented on #2025
Debugging this further:

I can see that when inserting headset, pulseaudio is actually enabling first "Headphones2" from ucm and sending to codec the command to set "Input Source" to "Headphone Mic", however immediately after that it is enabling "Headset" from ucm and setting the "Input Source" correctly to "Headset Mic".

I can see this HDA verb sequence set with "cat /sys/kernel-debug/tracing/tr

[2020-04-22 09:33] khfeng opened #2035 "Mic Mute LED doesn't work on CML-H + ALC285"
**Describe the bug**
Mic Mute LED doesn't work on CML-H + ALC285

**To Reproduce**
1.Press mic mute hotkey.
2.Make sure it's muted
3.Mic mute LED isn't on.

**Reproduce rate**
100%

**Expected result**
Mic mute LED turns on.

**Actual result**
Mic mute LED doesn't light up.

**Test recipe***

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:8dc1789eda0cf4f91d015f01f4b0085

[2020-04-22 10:02] juimonen commented on #2025
@Liviali155 @mengdonglin we should add some label if this is related to only some codec/platform like mantis...

[2020-04-22 10:03] juimonen commented on #2014
@Liviali155 @mengdonglin we should add some label if this is related to only some codec/platform like mantis...

[2020-04-22 23:18] naveen-manohar opened #2039 "TGL: max98373-sdw codec observes SDW_DP0_INTMASK read failed:-61"
While trying to integrate max98373-sdw on chrome-environment(coreboot) observe the following error, tried configuring this sub-property as NULL in coreboot but still observe the same issue.
Log:
[dmesg_DP0_ww18.log](https://github.com/thesofproject/linux/files/4519402/dmesg_DP0_ww18.log)

[code]
Further to the Query to Maxim-Team about max98373 codec supports SDW_DP0_INT_PORT_READY and SDW_DP0_INT

[2020-04-23 02:05] YvonneYang2 commented on #2014
Issue cannot be reproduced on cml-u laptop in ALC711 -RT1308, RT715 SDW mode or cml chrombook in I2S RT5682 mode.

[2020-04-23 02:06] ClarexZhou commented on #2025
Error also seen on CFL ALC3254 HDA laptop. which also support headphone stere microphone and headset mono microphone.
UCM2: https://github.com/alsa-project/alsa-ucm-conf/UCM2 + https://github.com/alsa-project/alsa-ucm-conf/pull/21
Kernel: sof-dev 8dc1789e
Firmware & tplg: Master 0befebb7

[2020-04-23 02:17] ClarexZhou commented on #2014
Error also can be reproduced on CFL ALC3254 HDA laptop. which also support headphone stere microphone and headset mono microphone.
UCM2: https://github.com/alsa-project/alsa-ucm-conf/UCM2 + https://github.com/alsa-project/alsa-ucm-conf/pull/21
Kernel: sof-dev 8dc1789e
Firmware & tplg: Master 0befebb7

[2020-04-23 03:05] YvonneYang2 opened #2040 "[BUG][SDW]"rt1308 sdw:1:25d:1308:0: Clock Stop prepare failed for slave: -61" occurred when do long time suspend/resume with audio stress test."
**Describe the bug**
"rt1308 sdw:1:25d:1308:0: Clock Stop prepare failed for slave: -61" occurred when do long time suspend/resume with audio stress test.

**To Reproduce**
1.System boot up.
2. cd sof-test then run "export TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg"
3. cd test-case then run "./check-suspend-resume-with-audio.sh -l 2000 -m capture"

**Reproduction Rate**

[2020-04-23 04:00] sinahuang opened #2041 "[BUG][CML-H][SDW]"error: ipc error for 0x60060000 size 12" shows in dmesg when do pause/resume stress test on speaker0,2."
**Describe the bug**
Terminal shows "input/output error" when "error: ipc error for 0x60060000 size 12" occurred. And all pipeline can't work after issue occurred. Only reboot can recover.

Terminal shows:

[code]

**To Reproduce**
1. Sudo reboot
2. Cd sof-test
3. Cd test-case
4. Export TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-rt715.tplg
5. ./check-pause-resume.sh -c 300 -m playback

[2020-04-23 05:55] YvonneYang2 opened #2042 "[BUG][CML] "error: ipc error for 0x30010000 size 20" occurred after system booting up."
**Describe the bug**
"error: ipc error for 0x30010000 size 20" occurred after system boot up. All pipline cannot work. Issue is caused by commit 36801493 based on bisect result. @lyakh Could you have a look?

**To Reproduce**
1.System boot up.
2. Check dmesg

**Reproduction Rate**
100%

**Expected behavior**
There is no error meaasge in dmesg. And system boot up successfully.

**Actual result**
"e

[2020-04-23 08:59] HilleniusGijs commented on #2026
I've made some progress on this @lgirdwood @mengdonglin The short version: with one change, the firmware is loaded. However it all works oddly and only temporarily.

here is what I did:

1) I noticed that  https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2 and the go.sh script have been updated.
2) So, I cleaned the slate (no tweaks in /etc/modprobe) , and refreshed the sof and sof-tplg f

[2020-04-23 10:33] keqiaozhang opened #2045 "[DSM][TGL]: speaker L/R channel route in codec driver doesn't match with amixer kcontrol"
**Describe the bug**
The behavior of speaker L/R channel is wrong when testing DSM on TGL Chromebook.
For example:
Use amixer to set speaker L channel "Left DAI Sel Mux" as 0 and run speaker-test,  the left channel should be able to hear "Front Left", but only Front Right can be heard during speaker-test on both channels at the same time.
looks  like the route of L/R channel is not set correctly i

[2020-04-23 11:23] Liviali155 commented on #2024
On stable linux 5.5.9 both  HDMI&DP aplay failed  on below scene
1.sudo reboot with HDMI/DP connected
2.Plug HDMI/DP after reboot

Also only occued  on ubuntu 20.04

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
linux 5.5.9 , commit [81b6e04c] https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v5.5.9
FW v1.5-rc4 (2d72fd2c)
Topology: file: tools/topology/ sof-hda-ge

[2020-04-23 12:54] kv2019i commented on #1687
Good news, I think I found the rootcause for this bug and it's a clear bug on the audio side. I don't yet have a working bugfix, but will be posting one soon.

[2020-04-23 13:11] kv2019i commented on #2024
@Liviali155 This seems like HDMI audio not powering up properly:
[  379.002994] snd_hda_codec_hdmi ehdaudio0D2: Unable to sync register 0x2f8100. -5

Would you be able to take DRM logs when the error happens (sof-dev is ok as kernel version). The first attached log doesn't have DRM debugs, and the most recent one is a very short one and doesn't messages from start of system boot.

[2020-04-23 19:02] elorriaux commented on #1985
@kv2019i I feel a little bit less alone ;) Is the firmware available for testing purpose?

[2020-04-24 03:14] ClarexZhou commented on #1975
No this issue if command without -i

[2020-04-24 03:16] plbossart commented on #2039
@naveen-manohar you probably have a bad table in Coreboot. I checked the code and I see no case where we read DP0 interrupt registers if slave->dp0_prop is NULL.

BTW no one currently reads those properties from ACPI tables, see the realtek codecs they implement their own _read_prop callback and hard-code the values directly in the codec driver.

[2020-04-24 03:24] plbossart commented on #2039
@naveen-manohar also enable dynamic debug for the SoundWire core please. I do this by copying this file to /etc/modprobe.d/sof-debug.conf :
[ddebug.txt](https://github.com/thesofproject/linux/files/4526450/ddebug.txt)

[2020-04-24 05:26] bardliao commented on #2040
@YvonneYang2 Could you re-test with below patch?
[code]

[2020-04-24 05:52] Liviali155 commented on #2024
drmlog as attachment,you can check it if useful
[drm.log](https://github.com/thesofproject/linux/files/4526880/drm.log)

[2020-04-24 06:54] hugh712 opened #2049 "[BUG][CML] sof fails during the initialization"
**Describe the bug**
"sof-audio-pci 0000:00:1f.3: error: sof_probe_work failed err: -110" occurred during system boot up, and sof failed to initialize.

**To Reproduce**
1.System boot up.
2. Check dmesg

**Reproduction Rate**
100%

**Expected behavior**
sof can be loaded and initialized normally.

**Actual result**
Error message shows, and sof failed to initialize.

**dmesg**
[hp-sof-fail-dmesg.tx

[2020-04-24 07:34] libinyang commented on #1999
@perexg I checked with Hui. He told me that gnome patch is rejected. I checked pulseaudio and found if headphone and speaker use different pcms in a single profile, when headphone is plugged in, the headphone will be considered as active, which causes pulseaudio will not switch to headphone automatically. So it seems we have to use multiple profiles to support automatic Headphone switch. Or do you

[2020-04-24 07:40] sinahuang commented on #2041
Test this issue on two separate 1308 speakers enabled with latest sof-dev and master, issue can't be reproduced.
Tried 10 rounds . Every round  test for 300 times.

Test with ww14.2 speaker sync enabled release version, issue can't be reproduced.
Tried 10 rounds . Every round  test for 300 times.

[2020-04-24 07:42] kv2019i commented on #1985
@elorriaux wrote:

Heh indeed - you've really hit a multitude of issues with your machine. There are rc candidate releases of the firmware at https://github.com/thesofproject/sof/releases (upto rc4 now), but unfortunately your system only works with production signed firmwares and the rc candidates won't work. So you'll have to wait a bit longer.

[2020-04-24 08:07] perexg commented on #1999
Read the whole gnome story... We have different (and correct) mechanism in pulseaudio so the clients can do the proper manual port selection. The gnome patch should be recoded.

It's resolvable. Create a new pulseaudio issue. You may also propose the fix.

It's a bit step back.

[2020-04-24 09:16] libinyang commented on #1999
@perexg

Yes. the manual port selection works well.

OK. I will create an issue in gitlab.freedesktop.org and try to fix it. Thanks for the suggestion.

[2020-04-24 10:18] sinahuang commented on #2041
Check this issue with latest sof-dev (commit: 8dc25 ) and master (commit:761bbac) on CML-H, error can't be seen. Keep monitor it.
Test for 2000 times.

[2020-04-24 11:39] kv2019i commented on #2024
@Liviali155 wrote:

It's still missing the early boot. The DRM log is so verbose that it fills the dmesg buffer very quickly and e.g. this log is missing lot of events from the early boot. You can overcome by increasing the dmesg size. "log_buf_len=1M" should be sufficient. You can add this e.g. with following to to /etc/default/grub:

GRUB_CMDLINE_LINUX_DEFAULT="quiet splash log_buf_len=1M"

[2020-04-24 12:11] naveen-manohar commented on #2039
Thanks for the quick turn-around @plbossart , Guess you are right.
I rebased the codec driver to latest version and now i'm not observing the 'SDW_DP0_INTMASK read failed' issue. even after removing the hacks - [link](https://github.com/naveen-manohar/linux/commits/chrome_max98373-rebased_ww18-DEBUG)

Log(with Debug enabled):
[dmesg_debug-hack-removed.log](https://github.com/thesofproject/linux/fi

[2020-04-24 15:57] plbossart commented on #2040
@bardliao we can't do that. There are multiple checks for -ENODATA in the rest of the code, this is really needed.

CMD_IGNORED can be a bug or a feature. It is a a bug if you receive this during 'normal' transactions, it means that either the software attempted to reach an non-implemented registers, or that the Slave did not receive the command for some reason (including when it's not attached).

[2020-04-24 16:23] plbossart commented on #2039
@naveen-manohar do you mind submitting the codec driver as an RFC PR against topic/sof-dev? This would help the rest of us provide feedback. It doesn't need to be perfect, but you have a set of people willing to help so don't keep this to yourself :-)

[2020-04-26 01:57] sinahuang commented on #2040
Verified this issue with Bard's patch, test for 1000 times, error not seen.

[2020-04-26 02:03] Liviali155 commented on #2024
After added GRUB_CMDLINE_LINUX_DEFAULT="quiet splash log_buf_len=1M",log as attachment
[kern.log](https://github.com/thesofproject/linux/files/4534523/kern.log)

[2020-04-26 02:08] sinahuang commented on #2041
Error can't be seen on CML-U with sof-dev (commit: 8dc25 ) and master (commit:761bbac).
Test for 500 times.

[2020-04-26 03:06] ClarexZhou commented on #2025
No this issue on Lenovo X1 yoga

[2020-04-26 03:21] naveen-manohar commented on #2039
Sure @plbossart Thanks for the support.
Working with codec-author(Ryan), shall post it start-of-week.

[2020-04-26 05:35] Liviali155 commented on #2025
On matins changed to legacy HDA,runtime_status  is always active
After unplug headset then plug again,it will popup "select audio device " as below:
if select Headset,it has sound output in headset,so error not seen on legacy HDA
<img width="298" alt="Capture" src="https://user-images.githubusercontent.com/56707932/80298823-97e51780-87c2-11ea-8bba-7f10a5a9c5ee.PNG">
after used “echo 1 > /sys/modul

[2020-04-26 05:53] ClarexZhou commented on #2025
Error also seen on CML I3 DIS SRN5 with ALC3204 in HDA mode, which also support Headphone stero Micrphone and Headset Mono Microphone.

Recover method:
Method 1: select Headphone stero Micrphone in sound setting, then select Headset Mono Micrphone again.
Method 2: stop current aplay/paplay, wait till runtime PM suspended, then play again, audio can output normally.

UCM2: https://github.com/alsa-p

[2020-04-26 06:36] keqiaozhang opened #2053 "[TGL] runtime PM always in active on TGL chromebook/I2S mode"
**Describe the bug**
We found this issue on TGL chromebook and only happens with I2S mode. looks like there’s a dependency between SDW driver and runtime PM. if no SDW drivers loaded, runtime PM will always be active.
I also tried to disable SDW in kconfig, but got same results.

**To Reproduce**
Check runtime PM status when sof is idle for more than 3 seconds.
[code]
**Reproduction Rate**
10/10

[2020-04-26 08:00] keqiaozhang opened #2054 "[TGL][DSM] pop noise happens at the beginning of recording when playback is triggered first"
**Describe the bug**
when testing DSM, there's a sharp pop noise at the beginning of recording, this issue only happens when playback is triggered first, delay for a few seconds  then trigger capture, you will hear that pop noise. But this pop noise was not captured in the wav file. the waveform of 4 channels are pure, even at the beginning.
![DSM](https://user-images.githubusercontent.com/2246876

[2020-04-27 02:11] ClarexZhou commented on #2042
Error not seen with thesofproject/sof#2843

[2020-04-27 07:06] macchian opened #2055 "[BUG][CML] ipc time out for 0x60050000 size 12 cause HDMI no sound when plug-in and out HDMI cable via MST hub"
Describe the bug
  the hdmi no sound when playing video file by plug-in and out HDMI cable via MST hub(on board) output. The failure rate is 2/40, sometimes even 1/10.

  Summarize the current identification for addressing the issue FYI.
  Also capture the intel_audio_dump when issue happened. FYI

Experiment:
PSR1 / PSR2 Panel - Fail
disable PSR (by i915_enable_psr=0) - Pass.
Non PSR Panel - Pass

[2020-04-27 07:14] macchian commented on #2055
[hdmi_no_sound[intel_audio_dump].txt](https://github.com/thesofproject/linux/files/4538019/hdmi_no_sound.intel_audio_dump.txt)
[Uploading hdmi_sound_recovery_after_30s[intel_audio_dump].txt…]()
[ipc_timeout_when_hdmi_no_sound[kernel].txt](https://github.com/thesofproject/linux/files/4538032/ipc_timeout_when_hdmi_no_sound.kernel.txt)

[2020-04-27 07:20] audunmb commented on #1877
With some research I ended here, and followed the steps above (blacklisting in alsa.conf to enable SOF). I'm on Ubuntu 19.10.

There was a sof-skl_hda_card directory in /usr/share/alsa/ucm, but I tried with the files from github instead there. My soundcard doesn't show up at all with this setup.
alsa-info http://alsa-project.org/db/?f=a947704e04b9188de40bf424fbe1e62dc5b448ee

With
options snd-hda-

[2020-04-27 07:40] macchian commented on #2055
@tlauda gentle pin after searching for HDMI ipc timed out comments. Or invite someone can help. Thanks.

[2020-04-27 09:24] hoo2 commented on #1877
@audunmb Did you tried : https://askubuntu.com/questions/1213271/microphone-does-not-work-on-new-dell-inspiron-7590/1220414#1220414 ?
I haven't test the newer kernel patches for 5.3.0 after *-42, but maybe you can do it, while you playing around.
For sure this method works for -40 and does not require:

I aslo think [this](https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1859246) is also

[2020-04-27 13:22] bardliao commented on #2040
@sinahuang @YvonneYang2 Could you test below patch? Thanks.
[code]

[2020-04-27 13:24] #2042 closed

[2020-04-27 13:27] bardliao commented on #2040
@plbossart Yes, I get your point. The purpose of the testing patch is to know if all the IGNORE are harmless and is there other issue except IGNORE.

[2020-04-27 13:37] plbossart commented on #2053
@keqiaozhang please revisit this. If you still have an issue without SoundWire support, then it's not an issue due to SoundWire.

[2020-04-27 14:36] kv2019i commented on #1687
@YvonneYang2 @Liviali155 Ok now I have a fix candidate as #2057 . Could you please test and see if the problem still occurs?

[2020-04-27 14:43] audunmb commented on #1877
@hoo2 thanks, but that doesn't seem to work. Though I only have -46 and -45 installed. I'll upgrade to 20.4 and try again with a newer kernel.

If anyone is interested for debugging purposes. this is my alsa-info with the snd-hda-intel drivers not blacklisted http://alsa-project.org/db/?f=b1ec3c18bf56260f010b6fd01c9b008a6a623655

[2020-04-27 15:15] Jeff406 commented on #1877
HI @kv2019i,
Because you mentioned in https://github.com/thesofproject/linux/issues/1917, do you know when the new version of SOF will be released? As those who have the Inspiron 7590 ( especially with discrete nVidia card) got issues with DMIC and sound.

[2020-04-27 15:21] kv2019i commented on #2024
Thanks @Liviali155  This now contains a lot of useful information. At least following trace pops out:

Apr 26 10:23:39 ubuntu-Tiger-Lake-Client-Platform kernel: [    7.641614] [drm:audio_config_hdmi_pixel_clock [i915]] HDMI audio pixel clock setting for 154000 not found, falling back to defaults
Apr 26 10:23:39 ubuntu-Tiger-Lake-Client-Platform kernel: [    7.641627] [drm:audio_config_hdmi_pixel_c

[2020-04-27 17:13] RiderALT commented on #1807
@kv2019i dmesg from kernel-5.5.19 with your patch applied:
[code]
[code]

[2020-04-27 20:55] audunmb commented on #1877
I updated to 20.04, now on kernel 5.4.0-26, but it seems like SOF doesn't load even with blacklisting.
lscpi -nnk | grep audio shows:
00:1f.3 Multimedia audio controller: Intel Corporation Sunrise Point-LP HD Audio (rev 21)
	Subsystem: Hewlett-Packard Company Sunrise Point-LP HD Audio
	Kernel modules: snd_hda_intel
Also tried dmesg | grep sof, but only some references to microsoft showed there.

[2020-04-27 21:14] plbossart commented on #2040
@bardliao I am wondering if this comes from a race condition in sdw_cdns_clock_stop()

a) we disable the Slave interrupts, so I guess we will not be notified if a Slave becomes unattached
b) we force the command to be be treated as error if there is no Slave present
c) we get an -ENODATA on a prep_clk_stop
d) we don't do the actual clock stop so the pm_runtime status does not become suspended
this

[2020-04-27 23:22] plbossart commented on #2031
@sinahuang can you try with PR #2058 ?

[2020-04-28 00:09] yongzhi1 opened #2059 "[DUT][JSL] random error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
Describe the bug
On JSL-Rev2 volume rvp board with ES1 silicon. After flashing coreboot, in first few cold boot cycle(using power switch for coldboot) audio works and then it gets into this error condition.

To Reproduce
1.System boot up.
2. Check dmesg

Reproduction Rate
100% on some boards

Expected behavior
sof can be loaded and initialized normally.

Actual result
Error message shows, and sof

[2020-04-28 02:08] Liviali155 commented on #1687
Tried with PR #2057 on CML laptop with onboard codec ALC3204 in HDA mode,error not seen

[2020-04-28 02:24] sinahuang commented on #2031
Check this issue with sof-dev (commit:8f1c6ad) +PR https://github.com/thesofproject/linux/pull/2058, error can't be seen.

[2020-04-28 02:38] YvonneYang2 commented on #1687
Tried with PR #2057 on CML chromebook with I2S RT5682, error not seen.

[2020-04-28 03:16] Liviali155 commented on #2024
@kv2019i
1.After  enable below items,failed log as attachment
[code]
[kern_failed.log](https://github.com/thesofproject/linux/files/4543163/kern_failed.log)

2.Reboot with both HDMI and DP connected,HDMI can aplay successfully,pass log as attachment
[kern_pass.log](https://github.com/thesofproject/linux/files/4543164/kern_pass.log)

[2020-04-28 03:55] keyonjie commented on #2054
This could be Max98373 configuration issue, as there is no change of the data(channel L/R) transmitting from the ASoC SSP to the codec (no noise in the captured file proved this), @sathya-nujella can Dhara help to check this with Maxim engineer, I can't assign this to Dhara as she is not in the SOF group, so assigning it to you.

[2020-04-28 03:59] sathya-nujella commented on #2054
Sure @keyonjie.

I am not able to assign to Dhara. Not sure what is the issue. When I search for her ID in assignee field.. it does not show up.
Can you please help why it is happening: this is her GH: https://github.com/RDharageswari

[2020-04-28 04:10] keyonjie commented on #2054
@sathya-nujella please ask Dhara to join the sof-developers team: https://github.com/orgs/thesofproject/people

@lgirdwood do we need invitation for that?

[2020-04-28 04:19] naveen-manohar commented on #2054
Adding @RDharageswari

[2020-04-28 06:01] sinahuang opened #2060 "[UCM2][CML-H][BUG]Speaker0,2 can't have sound output when do paplay."
**Describe the bug**
Speaker0,2 can't have sound output when do paplay. Aplay0,2 have sound output.

Alsamixer display as below:

![Screenshot from 2020-04-28 15-25-02](https://user-images.githubusercontent.com/56706782/80459250-ad924280-8964-11ea-83ab-3e0830e960ed.png)

**To Reproduce**
1.Boot up system
2.Open sound setting to select speaker in output source.
3.Run "paplay wav/48California_Dreami

[2020-04-28 06:03] RDharageswari commented on #2054
Thanks @naveen-manohar,  i couldnt  subscribe to the group.

[2020-04-28 06:23] sinahuang commented on #2060
Change the "name='PGA3.0 3 Master Playback Volume' "  to " name='PGA3.1 3 Master Playback Volume" from RT1308-1.conf in sof-soundwire, only left speaker have sound output.

[2020-04-28 07:44] hoo2 commented on #1877
@audunmb -42 and -45 was tested by me also and failed. So for now I use -40 and I wont upgrade to 20.4 if I can not be sure about the kernel.
Is there any way to install -40 on your system?

[2020-04-28 09:35] keqiaozhang commented on #2053
The interesting thing is that I have 2 TGL Chromebook, these TGL devices support both I2S codec(RT5682I+MAX98373) and SDW codec(RT5682+MAX98373), since coreboot is not yet supported, so we need to override the acpi table for both codecs.
On device-1. we only overrode the acpi table for I2S codec.
On device-2, we overrode the acpi table for both I2S and SDW codecs.
Both devices are connected with I

[2020-04-28 10:34] ClarexZhou opened #2061 "[Bug][EHL] Runtime PM keeps active and "Unable to install hw " when aplay via HDMI"
**Describe the bug**
Runtime PM keeps active after system boot up, "Unable to install hw " when aplay via HDMI. Other pipline works ok. Also no HDMI jack detection in amixer contents.

**To Reproduce**
1. system boot up
2. cat "/sys/bus/pci/devices/0000:00:1f.3/power/runtime_status"
3. aplay -Dhw:0,3 -f dat 48K_Let_It_Go.wav -vv -i

**Reproduction Rate**
3/3

**Expected behavior**
HDMI should work

[2020-04-28 11:14] kv2019i commented on #1877
@Jeff406 wrote:

The final 1.5 was now tagged at https://github.com/thesofproject/sof/releases . The production signed binaries should be available next week the latest, if not sooner -> https://github.com/thesofproject/sof-bin/branches

[2020-04-28 11:25] kv2019i commented on #1877
@audunmb wrote:

Most machines with dmic and a HDA codec, should work out-of-the-box with 20.04 with no additional settings needed. SOF should be selected automatically. Only known big gap currently is laptops with hybrid Nvidia/Intel graphics. For these, both update to alsa-ucm-conf and a FW update is needed (more details in #1985 ).

The alsa-info you attached earlier is from 19.10, but I think

[2020-04-28 11:36] kv2019i commented on #1877
@hoo2 wrote:

For anyone stuck in 18.04/19.x for reason another, the 5.3.0 kernel problem was fixed in Ubuntu-5.3.0-43.36 kernel (see https://github.com/thesofproject/linux/issues/1877#issuecomment-601219956). So stay at -40, update to -43.36, or upgrade distro to 20.04 -- all should work.

[2020-04-28 11:54] kv2019i commented on #2026
@dingesista It starts to seem the basics are working. The speaker+headset concurrent playback sounds like a codec driver and/or Pulseaudio config issue. There have been multiple smaller codec driver fixes that affect X1 posted to ALSA.

To double-check you hardware doesn't have any yet-not-seen new variation, I'd suggest to try a live-image of Ubuntu 20.04 or latest Fedora Rawhide. Both should wor

[2020-04-28 11:57] kv2019i commented on #1687
@Liviali155 @YvonneYang2 Thank you, that is excellent news! This has been a tough bug to root out, but it seems we have both a rootcause and a fix now. I'll be sending a patch to upstream and will backport to sof-dev immediately when I get the approval. PS And thanks to @dengyangchao and @aiChaoSONG  as well!

[2020-04-28 12:24] Jeff406 commented on #1877
It's good to hear that. Thanks for your information @kv2019i

[2020-04-28 12:59] plbossart commented on #2040
I am not able to reproduce this, no 'prepare clock error' in dmesg.txt after overnight test, but I see this:

[code]

This is clearly unrelated to SOF...

[2020-04-28 14:02] plbossart commented on #2053
@keqiaozhang I am not able to parse your description, sorry. can you please use terms like

configuration a): rt5682 in I2S mode, MAX.. in I2S mode, pointer to acpi override table, results.
configuration b),...

thanks

[2020-04-28 14:34] kv2019i commented on #1687
Merged upstream now. Let's keep this open until we do the next rebase and get the patch to sof-dev. That is probably sufficient and a separate backport is not needed.

[2020-04-28 14:39] HilleniusGijs commented on #2026
thanks @kv2019i

I just tried Ubuntu Focal Fossa, and the log looks pretty much identical: except that indeed, now it all works. FYI: here is the dmesg | grep sof-audio from Ubuntu. I'll take a close look at the
pulsaudio and alsa-ucm packages: first glance seems to indicate Debian (sid) is ahead.

sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040380
sof-audio-pci

[2020-04-28 14:40] #2026 closed

[2020-04-28 20:06] naveen-manohar commented on #2039
Submitted https://github.com/thesofproject/linux/pull/2062, please help review

[2020-04-28 20:25] audunmb commented on #1877
@kv2019i yes. that alsa-info was with that driver enabled, and working sound.
I still can't get this to work with. With 20.4 I get the following:

without any modifications in alsa-base.conf I have sound (Analog stereo according to Ubuntu settings), but no mic is detected

with
options snd-hda-intel dmic_detect=0
options snd-hda-intel index=0 model=laptop-dmic
I get more options for sound (4 chann

[2020-04-29 01:53] sinahuang commented on #2040
Checked this issue with sof-dev(commit:8f1c6ad) + Bard's patch, test for 2000 times, issue can't be reproduced.

[2020-04-29 02:00] bardliao commented on #2040
I am not able to reproduce this, too. I ran ./check-suspend-resume-with-audio.sh -l 1000 -m capture last night, and the test result is PASS.

[2020-04-29 02:29] sinahuang commented on #2041
Error can't be seen on CML-U with sof-dev (commit: 8f1c6ad ) and master (commit:de2dcbb). Closed it

[2020-04-29 02:29] #2041 closed

[2020-04-29 04:54] RDharageswari commented on #2054
was able to capture the register dump when the issue happened.
exactly During the pop noise I see that the register 0x2024, has a value 0xd8 initially and changes to 0x98 later. Bit 6 & 7 corresponds to PCM_DATA_WIDTH[1:0] . [10 : 24-bit] & [11: 32 bit]. SSP1 on which the playback was ongoing was initially 32bit and when the capture started it changed to 24bit . Both pb & capture share the same I2

[2020-04-29 05:24] sinahuang commented on #1564
Issue can't be seen with sof-dev(commit：8f1c6ad) +PR https://github.com/thesofproject/linux/pull/2058 (note :PR2058 is for other blocked issue https://github.com/thesofproject/linux/issues/2031) and master (commit:af38b20b), closed it.

[2020-04-29 05:24] #1564 closed

[2020-04-29 05:26] keyonjie commented on #2054
good finding @RDharageswari .
maybe worth to try setting to 24/25 bit in below snippet for a quick try:

[code]

[2020-04-29 05:55] RDharageswari commented on #2054
This worked for me.
 snd_soc_dai_set_tdm_slot(codec_dai, 0xC, 0x2, 8, 24);

[2020-04-29 05:57] RDharageswari commented on #2054
This worked for me.
static int max98373_hw_params(struct snd_pcm_substream *substream,
			      struct snd_pcm_hw_params *params)
{
	struct snd_soc_pcm_runtime *rtd = substream->private_data;
	struct snd_soc_dai *codec_dai;
	int j;

	for_each_rtd_codec_dais(rtd, j, codec_dai) {
		if (!strcmp(codec_dai->component->name, MAX_98373_DEV0_NAME)) {
			/* DEV0 tdm slot configuration */
-			snd_soc_dai_se

[2020-04-29 06:03] keyonjie commented on #2045
I think the comments in the code below is somewhat confused:
[code]

we followed Left--DEV0 and debugged for long time with:
amixer cset name='Left DAI Sel Mux' Left
amixer cset name='Right DAI Sel Mux' Right

where the captured data was always incorrect.

So I think only correct the comment message should be good enough.

@RDharageswari FYI.

[2020-04-29 06:05] RDharageswari commented on #2045
Sure..Thanks :)

[2020-04-29 06:06] keyonjie commented on #2054
um, seems the codec doesn't accept 25 bit slot_width, no sure if the unaligned with the FW(25 bit slot_width) side will introduce noise.

[2020-04-29 06:22] keqiaozhang opened #2063 "[BUG] kernel 5.7 failed to boot on TGL chrome device"
**Describe the bug**
We tried linux kernel v5.7 on TGL chromebook, but failed to boot up. screen goes black after passing the grub page, so there're no logs available.
This issue cannot be reproduced with 5.6-rc7 kernel + latest sof/tplg of master,  so looks like this is a kernel regression after 5.7 kernel rebase from upstream.

**Environment**
1) kernel: sof-dev/8f1c6ad6
2) firmware: master/af38

[2020-04-29 07:14] dzikages555 opened #2065 "kernel 5.7: No sound. sof-audio-pci ASoC: can't set iDisp3 Pin hw params: -22"
In-progress (hit submit accidentally) :/

Kernel: 5.7.0-050700rc3.202004262131

## Short version

1. Sound card is detected, but sound is not working
2. dmesg contains multiple entries like these:
[code]
## Long version

### Machine
[code]

### Kernel 5.4

- On kernel 5.4 my card is not detected because of this bug:https://github.com/thesofproject/linux/issues/1658 .
- loading `snd-intel-dspcfg` w

[2020-04-29 07:41] keqiaozhang commented on #2053
@plbossart  I'm sorry to confuse you.
I will try to make this issue clearly.
First, we found this issue in 5.6.0-rc6+, because latest sof-dev has a regression, kernel 5.7.0 failed to boot on chrome device. please refer to issue https://github.com/thesofproject/linux/issues/2063.

Let's back to this issue.  I did some debugging today and found that this issue only related to DSM, if we set the max9

[2020-04-29 07:58] juimonen commented on #2025
@ClarexZhou what if we disable PM in SOF case? I mean this is a use case where we are playing all the time, but if the controller part is doing some sleep etc?

[2020-04-29 07:58] dzikages555 commented on #1658
I have the same or very similar laptop. With `ASoC: SOF: Intel: hda: allow operation without i915 gfx` patch `sof-audio-pci` loads, card is detected, but there is no sound and errors appear in dmesg.

See https://github.com/thesofproject/linux/issues/2065 for more details.

[2020-04-29 08:05] tlauda commented on #2434
@lbetlej Should we move this to linux repo, since it looks like additional work for kernel?

[2020-04-29 08:20] CendioOssman opened #2066 "Random hangs on Coffeelake/ThinkCentre M920t"
We're experiencing random hangs on several identical ThinkCenter M920t here running Fedora 31. Originally reported to Red Hat here with lots of details:

https://bugzilla.redhat.com/show_bug.cgi?id=1817368

If we revert to the old driver (using `options snd-intel-dspcfg dsp_driver=1`) then the hangs go away, so we're fairly sure the new driver is to blame.

[2020-04-29 10:05] rendyep commented on #1807
In my notebook, I got these errors:
- connecting headset but the output source does not change (notebook speaker)
- switching input & output sources to use headset, headset mic is silent

Hardware: Acer Swift SF314-56G
OS: Ubuntu 20.04

$ uname -a
[code]

$ lspci -nnk | grep -A2 Audio
[code]

$ dmesg | grep sof -i
[code]

$ dmesg | grep skl -i
[code]

[2020-04-29 10:07] kv2019i opened #2067 "[FEATURE] UCM: method to provide initial default mixer values"
There is currently no clear method for ALSA cards to express sensible defaults values to use via UCM files. The audio servers (like Pulseaudio) will typically maintain their own database of volume settings, so resetting the values each time a PCM is enabled, is not a good solution.  But there is no explicit mechanism for e.g. Pulseaudio to ask the initial defaults when it is initializing the volum

[2020-04-29 10:08] rendyep commented on #1807
Issues:
- connecting headset but the output source does not change (notebook speaker)
- switching input & output sources to use headset, headset mic is silent

Hardware: Acer Swift SF314-56G
OS: Ubuntu 20.04

$ uname -a
[code]

$ lspci -nnk | grep -A2 Audio
[code]

$ dmesg | grep sof -i
[code]

$ dmesg | grep skl -i
[code]

[2020-04-29 10:16] ClarexZhou commented on #2025
@juimonen  Error not seen when wait runtime PM suspend.
Error only can be reproduced when do both "plug out" and "plug in headset" action during playback.
And once issue occurred, release current playback and wait till runtime PM suspended, then play again,  audio can output normally.

[2020-04-29 10:28] kv2019i opened #2068 "[FEATURE] UCM: support for multiple conflicting PCM streams (multi/single-profile problem)"
Current user-space infrastructure provided by UCM and how it is used by system servers such as Pulseaudio, has a gap in terms of how systems such as SoundWire PCMs are described in UCMs such that Pulseaudio can correctly switch routing between the PCMs.

Details and latest discussion in Pulseaudio bug:
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/854

@libinyang @juimonen

[2020-04-29 10:30] kv2019i commented on #956
@juimonen @mengdonglin @libinyang I would propose to close this feature ticket. I believe we have closed all the improvement items listed in this original items. We have two specific items left and I today filed separate items to track those: https://github.com/thesofproject/linux/issues/2068 and https://github.com/thesofproject/linux/issues/2067

[2020-04-29 12:18] juimonen commented on #2025
@kailangyang ping. Sorry to bother you with this, but I'm little bit out of tools/skills to debug this further. Would there be anyone in realtek to check this out? For me it seems correct webs are sent to coded, but they are just not "sticking"... This is the mantis hw.

[2020-04-29 12:20] juimonen commented on #2014
@kailangyang ping. sorry to bother you with this also, would there be someone in realtek, who could see the best way to fix this. Seems there needs to be delay when syncing the codec register values in resume... this is the mantis hw.

[2020-04-29 12:29] kv2019i commented on #1877
Boot dmesg and alsa-info output would be interesting from this scenario.

It could be the dmic detection from ACPI tables is not working on your machine. Another possibility is that your machine simply doesn't have a PCH digital mic, but rather the microphone is connected to the HDA codec and there is some problem with the ALC285 codec driver that prevents your mic from working. I.e. you don't nee

[2020-04-29 13:51] kv2019i commented on #1807
@RiderALT wrote:

Thanks a lot for testing! I'd be curious to also see the output of alsa-info with this setup? There are no further error in the log, but it may be that card probe does not get completed and you will not have any ALSA cards listed still.

[2020-04-29 14:01] RiderALT commented on #1807
@kv2019i
[alsa-info.txt](https://github.com/thesofproject/linux/files/4552099/alsa-info.txt)

[2020-04-29 14:12] RiderALT commented on #1807
@kv2019i alsa-lib was not detected - this is an error in the alsa-info.sh script.
alsa-devel is not installed on this system.
these alsa packages are actually installed:
$ rpm -qa|grep alsa
alsa-topology-conf-1.2.2-alt1.noarch
libalsa-1.2.2-alt1.x86_64
firmware-alsa-sof-1.4.2-alt1.noarch
alsa-utils-1.2.2-alt1.x86_64
alsa-ucm-conf-1.2.2-alt1.noarch
libsox-fmt-alsa-14.4.2-alt3.x86_64
i586-libalsa-1.

[2020-04-29 15:01] singingtelegram commented on #2065
Can confirm having the same issues on 5.7rc3 and earlier versions of Linux 5.7. Microphone appears to be working, but audio playback yields no sound and error -22 in dmesg.

[2020-04-29 15:04] plbossart commented on #2063
@keqiaozhang no one else that you has access to this platform so you will have to bisect. It's horrible I know but that's what we've done on other platforms as well.

[2020-04-29 15:14] plbossart commented on #2053
@keqiaozhang @keyonjie There was a know issue on KBL where the team had to play with the speaker pin to let the amplifier suspend when DSM was used.

@sathya-nujella does this ring a bell?

[2020-04-29 16:07] ranj063 commented on #2066
@CendioOssman I'm going through the logs but one of the errors pointed out: "Mar 26 09:56:01 aleta kernel: sof-audio-pci 0000:00:1f.3: error: no reply expected, received 0x0" has been solved with.
"8354d9b44530b ("ASoC: SOF: Intel: hda-loader: clear the IPC ack bit
after FW_PURGE done")

This was harmless in the first place and should not cause system hangs

[2020-04-29 16:09] ranj063 commented on #2066
"Jan 15 11:16:45 ossman.lkpg.cendio.se kernel: sof-audio-pci 0000:00:1f.3: Direct firmware load for intel/sof/sof-cfl.ri failed with error -2"

This error suggests that the firmware file is missing. The sof-cfl.ri file should be in the /lib/firmware/intel directory

[2020-04-29 16:14] plbossart commented on #2066
The sof-cfl.ri file should be in the /lib/firmware/intel/sof directory

[2020-04-29 18:01] kv2019i commented on #1807
Hmmm. In your case @RiderALT , the codec driver init has failed. There is no driver loaded for the external codec.

Based on earlier comment, SF314-57G has "Conexant Generic" codec:
https://bugzilla.redhat.com/show_bug.cgi?id=1772498#c16

... so maybe we have an issue in initializing the HDA codec using in SOF. I can look into this.
@rendyep  What does not match with the findings is that you repor

[2020-04-29 18:46] ghost commented on #1807
@RiderALT wrote:

With my setup with grub parameter snd_hda_intel.dmic_detect=0 I also have some microphone issues. You need to first make sure to first plugin the mic headset and then start the app ( Skype, Microsoft Teams, etc). They will not detect the event of a new microphone plugged in. Also make sure you have in "pavucontrol" stereo duplex as your sound profile. With this steps the apps sho

[2020-04-29 19:08] notz commented on #1807
on kernel 5.5 i used this module options to get external mic working:

options snd-intel-dspcfg dsp_driver=1
options snd-hda-intel model=dell-headset-multi

Internal mic will not work with 5.3 / 5.4 / 5.5 / 5.6 / 5.7rc1. I think due the codec problem. I have no clue which codec is needed (i tried to find it on windows, but had no luck)

[2020-04-29 20:40] sathya-nujella commented on #2053
KBL issue was there, but it was related to loading of DSM parameters from UCM.
But here in Kequiao's test, it is not UCM.. so not sure same.. but issue details and UCM fix for our reference:
=
Soraka: Move DSM param loading to Speaker Enable

Loading DSM params from Default Enable prevented
audio pci device from entering RTD3.
Moved the DSM param loading loagically to the speaker
enable section. T

[2020-04-30 01:31] ClarexZhou commented on #1998
Error not seen with UCM2 https://github.com/libinyang/alsa-ucm-conf/tree/sdw_ucm2_singleprofile/ucm2/sof-soundwire  commit: c2c5042

[2020-04-30 01:33] ClarexZhou commented on #2060
Error not seen with UCM2 https://github.com/libinyang/alsa-ucm-conf/tree/sdw_ucm2_singleprofile/ucm2/sof-soundwire  commit: c2c5042

[2020-04-30 01:46] keyonjie commented on #2053
Thanks for sharing @plbossart @sathya-nujella, that's really good information, looks the speaker switch is the culprit, I am working on understand how it impact to the PCI device.

[2020-04-30 02:23] naveen-manohar commented on #2053
Adding @sathyap-chrome

[2020-04-30 03:14] keqiaozhang commented on #2063
@plbossart,
Bi-sect result points to:
[code]
I also verified that latest sof-dev can boot on TGL chrome device after reverting this commit.

[2020-04-30 04:36] keyonjie commented on #2053
So this is actually the expected behavior, we need to add setting/clearing the switch "Left/Right Spk Switch" to the Speaker enable/disable sequence to fix this.

[2020-04-30 05:29] ClarexZhou commented on #2031
Close for error not seen on sof dev commit 5278d5d6, after PR #2058 is merged.

[2020-04-30 05:29] #2031 closed

[2020-04-30 07:20] RiderALT commented on #1807
I downloaded Ubuntu-20.04LTS, Fedora-32 and the latest Kubuntu.
in all these distributions the behavior is the same - the sof is not initialized with approximately the same symptoms and the sound adapter is not available in the default configuration.

I’m not comfortable building kernels on these distributions, so I’m doing basic experiments with the kernel on ALT Linux installed on the SSD.

[2020-04-30 07:24] KailangYang commented on #2014
Please test it with legacy hda driver.
I think this issue didn't happen in legacy hda driver.
This maybe the integration issue with hda bus.

[2020-04-30 07:28] KailangYang commented on #2025
Please also test it with legacy hda driver.

[2020-04-30 07:32] KailangYang commented on #2025
If legacy HDA driver passed this issue.
I think this symptom was not related with codec driver.

[2020-04-30 07:33] Liviali155 commented on #2025
Have tested with legacy hda on matins ,error not seen,details as previous comments

[2020-04-30 07:39] KailangYang commented on #2025
So, it shows codec driver was good.
You need to move focus to hda controller code of SOF.

[2020-04-30 07:57] juimonen commented on #2025
@Liviali155 @kailangyang legacy hda doesn't work the same way as you get the pop up... when you set something on pop-up it will send the command to switch again. So it is not the same use case. I'm pretty sure the sof will also work with the pop-up.

The actual use case is to send to codec in very rapid manner switch from one 'Input source' to another. And that's when something strange happens wit

[2020-04-30 07:58] juimonen commented on #2014
@Liviali155 so if testing with legacy, disable the pop-up. That will make the use case different as it sends the switch command again when selecting the device.

[2020-04-30 08:03] Liviali155 commented on #2014
This comment should add in https://github.com/thesofproject/linux/issues/2025？
How to disable pop-up？

[2020-04-30 08:09] juimonen commented on #2014
@Liviali155 hmm yeah I don't no that myself either.... @jason77-wang you have any simple trick how to prevent the pop-up from appearing? I think this is stock 20.04 ubuntu...

[2020-04-30 08:29] Liviali155 commented on #2014
On matins changed to legacy HDA,runtime_status is always active
Tested 40 times, error not seen
after used “echo 1 > /sys/module/snd_hda_intel/parameters/power_save“ to enable pm runtime_status,it can enter susupend,then tested 30 times,error also not seen

[2020-04-30 09:51] ClarexZhou commented on #1972
Default capture PGA volume is too low. Need reset default PGA volume in HDA UCM2.

[2020-04-30 09:55] ClarexZhou commented on #1687
Error can be reproduced on TGL HDA laptop with AL3204 codec.
And no HDMI output option when boot up with HDMI connected.

[2020-04-30 10:23] RiderALT commented on #1807
@kv2019i the alsa-info from this machine with snd_hda_intel driver (which works without a microphone):
[alsa-info-5.4.28-snd_hda_intel.txt](https://github.com/thesofproject/linux/files/4557643/alsa-info-5.4.28-snd_hda_intel.txt)

[2020-04-30 10:33] RiderALT commented on #1807
kernel 5.6.8 sof-audio-pci driver initialization log:
[code]

[2020-04-30 10:54] ClarexZhou opened #2073 "[BUG][TGL HDA] Runtime PM status will always keeps active after boot up system (random)"
**Describe the bug**
Runtime PM status will always keeps active if boot up system with HDMI/DP connected.

**Steps**
1. "sudo reboot" to reboot system

Reproduce Rate:
6/10

**Actual result:**
Runtime PM will always keeps active, even after disconnect HDMI/DP

**Expect result:**
Runtime PM should be suspended

Platform: Dell TGL laptop with onboard codec ALC3204 in HDA mode
Firmware: [7e6cd4b][htt

[2020-04-30 13:29] plbossart commented on #2053
where would we add this? In the past it was added in the machine driver so that we wouldn't be adding more things in UCM.

[2020-04-30 14:12] plbossart commented on #1807
You're probably missing HDAudio related things in your .config. that typically happens when SND_INTEL_HDA is not defined, as well as all the SOF_HDA_LINK/CODEC and the generic machine driver.

[2020-04-30 14:39] keyonjie commented on #2053
They are still the ones in the machine driver sof_rt5682.c. If everything works well, those switch should be automatic switched on/off when the corresponding stream is started/stopped, right? but the experiment result here is different, we need to use 'amixer cset' to explicit set/clear those switchs.

@plbossart do you know why this happen? Maybe we need to debug into the DAPM walking details.

[

[2020-04-30 16:13] plbossart commented on #2053
I am pretty sure the Chrome folks changed the pin state to avoid playing with mixers, but I can't recall which KBL driver implemented this. @sathya-nujella @naveen-manohar any memories of this.

[2020-05-01 06:17] RiderALT commented on #1807
@plbossart thanks.  thank. after enabling these options, the output has changed.:
CONFIG_SND_SOC_SOF_HDA_LINK=y
CONFIG_SND_SOC_SOF_HDA_AUDIO_CODEC=y
CONFIG_SND_SOC_SOF_HDA=m
[code]
just in case, I added my kernel config, but it seems to me that I did not miss anything in it.
this is config for linux kernel 5.6.8 with applied patch @kv2019i  https://github.com/thesofproject/linux/commit/2c63bea7147

[2020-05-01 08:54] perexg commented on #1807
@RiderALT : Enable also HDA codec drivers (Realtek, HDMI etc.).

[2020-05-01 10:07] CendioOssman commented on #2066
That's a shame as that is the only message we reliably find in the logs. :/

That error is very old and was simply because the alsa-firmware package wasn't installed. At that point there were no hangs, but also no audio.

[2020-05-01 12:47] plbossart commented on #1807
@RiderALT see the defaults recommended at:

https://github.com/thesofproject/kconfig/blob/master/sof-defconfig
https://github.com/thesofproject/kconfig/blob/master/hdaudio-codecs-defconfig

[2020-05-01 12:49] plbossart commented on #2066
@CendioOssman there are known issues with hangs that should hopefully be gone with the 1.4.3  and 1.5 release - likely next week.

[2020-05-01 13:09] #1998 closed

[2020-05-01 15:08] sathya-nujella commented on #2053
sorry @plbossart  for late.. I was trying to see what was the change done.. yes, I see kernel change. Thanks for your recollection.
===
https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/1411892/

ASoC: Intel: Boards: kbl_da7219_max98927: add dai_trigger function

speaker amplifier feedback is not modeled as being dependent on any
active output. Even when there is no playba

[2020-05-03 09:15] flotho commented on #1973
Hi @ClarexZhou , you wrote that it's solved in sof-dev .
Is there any deadline / info for having this patch in the main packages ?

Please accept all my apologize if this is a totally newbie question.

Anyway thanks for reading this,
Regards

[2020-05-03 12:53] dzikages555 commented on #2065
I'm closing this issue, because:
- I managed to get **both** my mic and speakers/headphones working
- No errors `iDisp3: ASoC: hw_params BE failed -22` are displayed anymore
- It was not a problem with the SOF kernel module.

## Solution

I spent more than 12 hours to get a working sound on Linux (because 2020 is the year of the Linux desktop;)), so here's a solution for people with the same probl

[2020-05-03 12:54] #2065 closed

[2020-05-04 10:44] CendioOssman commented on #2066
That's good news. :)

Is this just new firmware or does the kernel also need changes? I'm wondering if we can fix this by just adding those firmware files to our system with the standard Fedora kernel.

[2020-05-04 15:27] plbossart commented on #2065
The recommentation is to take the binaries from the sof-bin repository and use the go.sh script to update the symlinks for all platforms.
https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2

[2020-05-04 15:31] plbossart commented on #2066
Usually @perexg takes the releases and adds them to Fedora, so you should see this without delay.
For other distros it's an uphill battle to find someone who can help package those binaries in the various packages formats.

[2020-05-04 19:53] dzikages555 commented on #1985
Yesterday I thought that I fixed **this** problem on my laptop (see https://github.com/thesofproject/linux/issues/2065#issuecomment-623105810 for the "solution"). I have working microphone and speakers, but my system **freezes** randomly.

There are too many comments for this issue so I'm confused a little (in what setup, when, etc. someone's computer freezes). My observations are:

- **kernel 5.7

[2020-05-04 20:11] elorriaux commented on #1985
@dzikages555 : stop compiling and searching, just wait for signed binaries of sof 1.5 ;) You cannot go really further at the moment.

[2020-05-04 20:34] kv2019i commented on #1985
@elorriaux wrote:

Ack on that. I'm afraid @dzikages555 you hit one more issue. We have a fix coming in FW, but you'll have to wait until release of the signed firmware. See https://github.com/thesofproject/linux/issues/1985#issuecomment-617384340 for the history.

[2020-05-06 01:53] sinahuang commented on #1997
Error not seen with UCM2 https://github.com/libinyang/alsa-ucm-conf/tree/sdw_ucm2_singleprofile/ucm2/sof-soundwire commit:  6bc827

[2020-05-06 03:03] keyonjie commented on #2053
@sathya-nujella thanks, that makes sense, we might need to add similar widget enable/disable to sof_rt5682 machine driver.

@RDharageswari can you help on this?

[2020-05-06 03:06] mengdonglin commented on #1973
@ranj063 Can you comment?

[2020-05-06 03:20] RDharageswari commented on #2053
yup

[2020-05-06 03:35] keyonjie commented on #1973
@mengdonglin just checked and confirmed @ranj063 's D0Ix refinement series are already in the mainline linux master: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/

[2020-05-06 06:08] sinahuang commented on #2060
Error can't be seen with UCM2 https://github.com/thesofproject/alsa-ucm-conf/commits/master commit:12743d2 , closed it

[2020-05-06 06:08] #2060 closed

[2020-05-06 06:10] sinahuang commented on #2000
Error can't be seen with UCM2 https://github.com/thesofproject/alsa-ucm-conf/commits/master commit:12743d2 , closed it.

[2020-05-06 06:10] #2000 closed

[2020-05-06 06:13] sinahuang commented on #1997
Error can't be seen with UCM2 https://github.com/thesofproject/alsa-ucm-conf/commits/master commit:12743d2, closed it.

[2020-05-06 06:13] #1997 closed

[2020-05-06 09:56] macchian commented on #2055
update new logs. When issue happens we saw the logs below, is that a underrun case ? @mengdonglin @tlauda

pcm_avail returned frames larger than buf_size: sof-sof_rt5682: :0,2: 22148 > 16368

2020-04-30T11:17:37.303424+00:00 ERR cras_server[1961]: pcm_avail returned frames larger than buf_size: sof-sof_rt5682: :0,2: 22148 > 16368
2020-04-30T11:18:08.340780+00:00 ERR cras_server[1961]: pcm_avail re

[2020-05-06 10:52] RiderALT commented on #1807
Thanks to everyone. I double checked the kernel configuration and all codecs are enabled.
This is the log from kernel 5.6.8:
[code]

current config file is attached.
[config.gz](https://github.com/thesofproject/linux/files/4586260/config.gz)

[2020-05-06 14:17] plbossart commented on #1807
@RiderALT with only the small snippet of the dmesg log, I can't figure out if the result is success or fail. can you include more information?

[2020-05-06 15:11] kv2019i commented on #1807
@plbossart wrote:

Actually, I'm pretty convinced we are just missing the logic to try codec probe with generic id. I.e. what you pointed out in https://github.com/thesofproject/linux/pull/1811#issuecomment-593672221
I've been meaning to make a test PR that implements this, but haven't yet had time to do it. It seems like an obvious gap in SOF driver.

[2020-05-06 16:40] RiderALT commented on #1807
what information is needed?
result fail.
full dmesg log attached.
[dmesg.log.gz](https://github.com/thesofproject/linux/files/4588078/dmesg.log.gz)
I do not see any information about alsa and sound in /proc and /sys - no sound cards.
I can enable any additional debugging, but I don’t quite understand which one.
also, my friend also has almost the same laptop with windows and I can ask him to show

[2020-05-06 18:33] aleksfadini commented on #2020
Thank you for following up. I have been trying to learn more about this for 15 days and I'm still clueless.

My alsa-lib is 1.2.2-1 (from arch current repo).
I reinstalled pulseaudio, so I have the default etc/pulse/default.pa and no client.pa (although I also tried to configure default.pa as you suggested and did not help).

Pulse spawning is set to no.

This is my pulseaudio -vvv:

[code]

The p

[2020-05-06 19:14] flotho commented on #1973
thanks a lot

[2020-05-07 01:32] libinyang commented on #2061
EHL graphics device is not properly supported by i915 kernel module. It will skip the probing and setting the hdmi audio. Add i915.force_probe=4571 can bypass this issue.

[2020-05-07 02:18] ClarexZhou commented on #1973
Verified error not seen with mainline linux master: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git , commit dc56c5acd850_

[2020-05-07 06:02] juimonen commented on #2020
@aleksfadini your pulseaudio is still auto-spawning....

1) check that /etc/pulse/client.conf has autospawn = no

2) If you your system is using systemd you might also need to:
systemctl --user stop pulseaudio.socket && systemctl --user stop pulseaudio

then you should be able to start pulseaudio and get logs...

to make things as before, replace word "stop" with "start" in the above command

This

[2020-05-07 06:18] ClarexZhou commented on #2073
Error also seen on latest sof-dev: commit c05a3f86. Error seems always can be reproduced now.

[2020-05-07 07:43] Liviali155 opened #2082 "[BUG][CML][UCM2]Output Device can not be changed between headset and HDMI auto after plug headset or HDMI"
***Describe the bug***
Output Device can not be changed between headset and HDMI auto when plug headset or HDMI

Both https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/(12743d2) and
https://github.com/alsa-project/alsa-ucm-conf/UCM2 + alsa-project/alsa-ucm-conf#21 can reproduce this issue

ubuntu@cml-hda-mantis-1:~$ aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofhdad

[2020-05-07 08:29] Liviali155 opened #2083 "[BUG][CML][UCM2]Output Device can not be changed from HDMI to headset auto with soundsetting open after plug headset"
***Describe the bug***
Output Device can not be changed from HDMI to headset auto with soundsetting open  after plug headset
Error not seen if closed soundsetting
Both https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/(12743d2) and
https://github.com/alsa-project/alsa-ucm-conf/UCM2 + alsa-project/alsa-ucm-conf#21 can reproduce this issue

***To Reproduce***

1.sudo reboot
2.plug head

[2020-05-07 09:07] sinahuang commented on #2458
Error can not be seen with today's sof-dev(commit:c05a3f86) and master(commit:6ce635), test for 1000 times and in the recent 14 days error also can't be reproduced. Closed it.

[2020-05-07 09:36] sinahuang commented on #2061
After adding i915.force_probe=4571 to "/boot/grub/grub.cfg" files, issue can't be seen. So track this i915 issue in https://gitlab.freedesktop.org/drm/intel/-/issues/1843, closed it.

[2020-05-07 09:36] #2061 closed

[2020-05-07 10:46] sinahuang opened #2084 "[EHL][BUG]Dmesg shows "ASoC: error at snd_soc_dai_startup on intel-hdmi-hifi1: -16" when do multi-pipleline stress test."
**Describe the bug**
Dmesg warning show "ASoC: error at snd_soc_dai_startup on intel-hdmi-hifi1: -16" when aplay headset, DP and HMDI at the same time.   "ctrl+c "the playback terminal can be freezed after issue occured and all pipelines can't work.
Note: Unplug/plug in power cable can recover.

Need some workaround on EHL when runtime PM keeps active after system reboot. Steps as below:
Add "i915

[2020-05-07 12:33] Liviali155 commented on #2083
duplicat with https://github.com/thesofproject/linux/issues/2082,close this issue

[2020-05-07 12:33] #2083 closed

[2020-05-08 01:46] ClarexZhou commented on #2024
Error not occurred on Dell TGL laptop with onboard codec ALC3204 in HDA mode

[2020-05-08 06:30] sinahuang commented on #2084
Issue also can be reproduced with master(commit:2c9bb63) and sof-dev(commit:c05a3f86) when do multi pipeline stress test.

[2020-05-08 10:39] ClarexZhou commented on #2073
Change back to random, still not find stable method to reproduce this issue. But seems error always can be reproduce once occurred.

[2020-05-08 18:45] aleksfadini commented on #2020
1. checked, autospawn is off even in /etc/pulse/client.conf
2. that's just turning off the pulseaudio service in systemd. I did it, and it turned it off. At that point I have the same jack issues, same mic issues, but obviously pulse is killed so changing the volume in pulsemixer doesnt freeze anything, because there is no pulseaudio active. And fyi, systemd works the same on every distro obviousl

[2020-05-08 19:34] juimonen commented on #2020
@aleksfadini so this was to help you get the pulseaudio logs, if someone was asking those. In your previous comments you have pulse logs, which don't say anything because pulseaudio is not starting properly as it is detecting previous running instance and bailing out.

Disabling pulse will not make your audio system work, it will just help to create some pulse/ucm related logs as you can start it

[2020-05-09 02:05] ClarexZhou commented on #2025
To replace of alsa-project/alsa-ucm-conf#21.
@jason77-wang:  try to change the MR for libgvc based on the available_group and type members.
But for those don't use gnome, I send a PR to pulseaudio to let pulseaudio handle them with priority considered. Hope this could be accepted.
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/294

[2020-05-09 03:57] Liviali155 commented on #2082
As it is as designed of ucm,and windows also has the same  behavior,so closed it

[2020-05-09 03:57] #2082 closed

[2020-05-09 04:07] xiulipan commented on #2073
@ClarexZhou Checked on the device,  when error happened we can see:
[code]
After reset the control to auto the PM is back to normal. Please help to confirm above findings.

@ranj063 @keyonjie Any idea here? I think either we forget to enable the runtime PM or the runtime PM is disabled by something?

[2020-05-09 04:15] xiulipan commented on #2053
@keqiaozhang Could you if the PM is enabled by check
[code]
I found some similar issue https://github.com/thesofproject/linux/issues/2073 is caused by PM not enabled.

[2020-05-09 04:44] keyonjie commented on #2073
@xiulipan good catch. Can you check if PM_RUNTIME is disabled via module params sof_pci_debug on the platform?

[code]

[2020-05-09 05:09] ClarexZhou commented on #2073
Verified, cat /sys/bus/pci/devices/0000:00:1f.3/power/control is on once error occurred. And Runtime PM status can be suspended sucessfully once echo auto.

[2020-05-09 05:51] xiulipan commented on #2073
@keyonjie I tried to check what cause the issue.
It seems not caused by sof_pci_debug.
Try to add some debug logs into kernel to check what goes on.
@ClarexZhou do we see issue with other kernels?

[2020-05-09 05:59] ClarexZhou commented on #2073
@xiulipan  Error occurred on default dell ubuntu 20.02 kernel, sof dev and stable linux 5.6.3.

[2020-05-09 06:14] xiulipan commented on #2073
@ClarexZhou I will use sof-dev to debug for this issue.

[2020-05-09 09:08] ghost commented on #1807
I tried now with the newest kernel 5.7.0-050700rc4-generic with sof-icl 1.4.2 and I have a different error than @RiderALT . The ouput is here.
[dmesg_20200509_1.log](https://github.com/thesofproject/linux/files/4603046/dmesg_20200509_1.log)
What makes me curious is what is sof-tplg and why it tried to probe for that one.
Next I rebuild sof from scrach and build sof-icl version 1.5.0, put to /lib/f