[2019-10-24 16:08] kv2019i commented on #1367
@ranj063 Was thinking the same that we probably should make the driver robust against this case, so it doesn't fail if a codec that is not required by the topology, fails on probe. OTOH, I think we should also try to figure out why a non-existent codec is reported (so in that sense it's good this fails now, so we get a clear indication from CI logs when this happens).

[2019-10-24 16:10] kv2019i commented on #1364
@sinahuang @YvonneYang2 Can you check output of

cat /sys/kernel/debug/dri/0/i915_display_info

... when the bug happens. E.g. is the i915 state updated when the bug happens. If it shows HDMI is still plugged, this is a i915 bug, if not, then it's ours.

[2019-10-24 16:36] wenqingfu commented on #1799
@singalsu  where should the fix go? do you think you can own this?

[2019-10-24 17:05] plbossart commented on #1367
i think we should first figure out why this mask is incorrect. IIRC each field this is linked to the SDI address

[2019-10-24 18:51] plbossart commented on #1361
@RanderWang check #1368, I took your idea but made it conditional

[2019-10-25 00:26] bardliao commented on #1333
@dengyangchao What did you mean by other issues? Did you mean 'Headphone Jack' and 'Headset Mic Jack' didn't detected and no audio can be captured? Could you blacklist snd_sof_pci and run ./sof_insert.sh after boot?

[2019-10-25 00:45] bardliao commented on #1344
Sure

[2019-10-25 00:50] bardliao commented on #1344
@sinahuang Could you share ``stress-s3.sh`` ?

[2019-10-25 01:42] YvonneYang2 commented on #1344
Script:
[stress-s3.sh.txt](https://github.com/thesofproject/linux/files/3770046/stress-s3.sh.txt)

[2019-10-25 01:59] bardliao commented on #1364
@sinahuang @YvonneYang2 Could you check it on other platforms? It doesn't look like a SDW related issue.

[2019-10-25 02:00] RanderWang commented on #1373
so, it is fixed. Could you help to close it ?  thanks!

[2019-10-25 02:10] bardliao commented on #1340
@YvonneYang2 Can we close the issue?

[2019-10-25 02:19] bardliao commented on #1238
@mengdonglin @plbossart Can we close this issue now?

[2019-10-25 02:32] YvonneYang2 commented on #1340
Issue cannot reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 1c3de3d
FW: https://github.com/thesofproject/sof/commits/master  commit: 89ef0af
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg  rename  to  sof-icl-rt711-rt1308-rt715.tplg
platform: ICL RVP, with co

[2019-10-25 02:32] YvonneYang2 commented on #1340
Close it.

[2019-10-25 02:32] #1340 closed

[2019-10-25 03:34] YvonneYang2 commented on #1364
@kv2019i  Test it on CML SDW Laptop with ALC711+ ALC1308+ ALC715
Step 1.  Boot up with HDMI externel port connected, but Connector in i915_display_info shows DP-2 type.
[code]
Step 2.   Unplugged the HDMI external port during s3. i915 display_info shows as  below
[code]
So It seems like not a i915 issue.

@bardliao
Confirmed, it's not s SDW related issue. Check it on cml laptop with latest topic/s

[2019-10-25 05:56] bardliao commented on #1344
@sinahuang Could you retest it with https://github.com/thesofproject/linux/pull/1370? It works on my side.

[2019-10-25 06:36] dengyangchao commented on #1333
with the latest recipe below, in volume controler, the headphone and headset mic is muted in default setting. when open it, can heard the audio output via headset.
![alsamixer](https://user-images.githubusercontent.com/52945407/67547874-cfe7a100-f732-11e9-8684-0b98a501df4f.PNG)
exist:
1.headset aplay(0,0) output normally if unmute the headphone in alsamixer
2.always can't detect the headset
[code]

[2019-10-25 06:59] bardliao commented on #1333
@dengyangchao Can you change rt711->jd_src from RT711_JD2 to RT711_JD1 in rt711.c and test it again?
The code is at [rt711->jd_src = RT711_JD2;](https://github.com/thesofproject/linux/blob/integration/soundwire-latest/sound/soc/codecs/rt711.c#L1155)
The HW design between RVPs and laptops are different. RVPs uses JD1, but laptop uses JD2.

[2019-10-25 07:59] ClarexZhou opened #1371 "[Bug][CML]Headphone is always listed in sound setting when not connected."
**Describe the bug**
Headphone is always listed in sound setting when not connected.

**To Reproduce**
1. No headphone is connected
2. Boot up system
3. open Settings ->Sound, headphone is listed in output setting and headset MIC is also listed in Input setting.

**frequency**
100%

**Actual result**
Headphone is always listed in sound setting when not connected.  Headset mic jack is off in alsami

[2019-10-25 08:03] ClarexZhou commented on #1371
@juimonen , could you please check on this?

[2019-10-25 08:04] YvonneYang2 commented on #1373
Issue can still be reproduced with test recipe as below(PR1359 not merged), so reopen the issue.

Will close the issue once PR1359 is merged into Soundwire-latest branch.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 1c3de3d
FW: https://github.com/thesofproject/sof/commits/master commit: 89ef0af
tplg: Same with FW branch, sof-icl-rt711-rt130

[2019-10-25 08:08] dengyangchao commented on #1333
after change JD2 -> JD1.
the first time still can't heard the audio output via headset(0,0) and can't detect headset
if trigger again it can heard the audio output and detected headset.
and headset arecord(0,1) still can't capture any voice

add snd_sof_pci to blacklist,
1. boot up and aplay -l shows "no soundcards",
2. then run ./sof_insert.sh, and aplay -l still show "no soundcard"
3. then run .

[2019-10-25 08:09] ClarexZhou opened #1372 "[Bug][CML]Paplay hasn't audio output when select "Speaker" in sound setting during headset connected."
**Describe the bug**
Paplay hasn't audio output when select "Speaker" in  sound setting during headset connected.

**To Reproduce**
1. Headphone is connected
2. Paplay 1.wav -vvvv
3. open Settings ->Sound, select "Speaker", found no audio output.

**frequency**
100%

**Actual result**
Speaker hasn't audio output once headset is connected

**Expected result**
Speaker should output normally once sel

[2019-10-25 08:09] ClarexZhou commented on #1372
Might related with #1371

[2019-10-25 08:24] dengyangchao commented on #1333
also tried if we don't add snd_sof_pci to blacklist.
when boot up and run ./sof_remove.sh and ./sof_insert.sh.  it can detect the headset, and both headset playback and capture are work normally

[2019-10-25 08:43] RanderWang commented on #1373
@YvonneYang2  can yo move this bug to kernel side ? thanks!

[2019-10-25 08:51] xiulipan commented on #1332
@keqiaozhang can not reproduce on latest code base. Could you help to confirm?
Also try to merge the latest fix about sync_wirte to make sure no more issues later.

[2019-10-25 08:55] bardliao commented on #1333
@dengyangchao Could you share the dmesg log after doing step 1 and 2?
I would like to know why aplay -l still show "no soundcard" after  ./sof_insert.sh.

Thanks

[2019-10-25 09:16] kv2019i commented on #1184
Ack @wenqingfu . Let's open new bugs for any new findings.

[2019-10-25 09:27] dengyangchao commented on #1333
@bardliao i  tried 10 times manually
after step 2:
 1st ,2nd ,7th, 9th aplay -l  can see pcm list
 3rd, 4th, 5th, 6th ,8th, 10th aplay -l shows "no soundcard"

add dmesg below
[normal-dmesg.log](https://github.com/thesofproject/linux/files/3771346/normal-dmesg.log)
[nosoundcard-dmesg.log](https://github.com/thesofproject/linux/files/3771347/nosoundcard-dmesg.log)

[2019-10-25 09:30] ClarexZhou opened #1374 "[Bug][CML][5.0] No soundcard because "HDMI failed to get afg sub nodes" after system boot up (Frequency:2/10)"
**Describe the bug**
No sound card because "HDMI failed to get afg sub nodes" after system boot up.

**To Reproduce**
1. Boot up system
2. aplay -l to check, display no sound card.

**frequency**
About 2/10. Tried as below
Scenaro | Without HDMI/DP/WD19 dock
-- | --
Cold Boot (Power off via long press power   button) | Pass: 1st/2nd/3rd/4th/6th/7th/8th/9th     No soundcard Fail: 5th/10th
Cold Boot

[2019-10-25 10:21] kv2019i opened #1375 "HDMI probe fails to codec #2 probe error, ret: -5"
With current sof-dev (c9b2e8f911c1 / 25th Oct), hdac-hdmi codec probe fails occasional to below error:
[    5.435995 <    0.368619>] sof-audio-pci 0000:00:1f.3: error: codec #2 probe error, ret: -5

Above error was hit in SOF CI:
https://sof-ci.01.org/sofpr/PR1729/build3685/devicetest/ICL_RVP_HDA/verify-pcm-list.sh/dmesg.txt

I could reproduce the issue on ICL with following recipe:
- unload sof d

[2019-10-25 10:24] YvonneYang2 opened #1376 "[SDW][BUG]Pop noise occurred when do pause/release or switch to background/foreground during aplay0,0(RT711) or aplay0,2(RT1308)"
**Describe the bug**
Pop noise occurred when do pause/release or switch to background/foreground during aplay0,0(RT711) or aplay0,2(RT1308)

**To Reproduce**
1. Boot up.
2. Aplay 0,2 via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. PUSH_PAUSE and PUSE_RELEASE. Interval time between pause/release is about 0.5s

**frequency**
Not each PUSH_RAUSE/PUSH_RELEASE will occ

[2019-10-25 10:29] bardliao commented on #1333
@dengyangchao I can see **mapping ok** from the nosoundcard-dmesg.log. I am wondering did you check aplay -l too early? Please note that the sound card will not be created immediately. Please check it at least after 10 sec.

[code]

[2019-10-25 11:07] dengyangchao commented on #1333
@bardliao i tried another time, and wait for a long time, aplay -l still "no soundcard"

<details>
 <summary>Dmesg</summary>

[code]
</details>

[dmesg.log](https://github.com/thesofproject/linux/files/3771738/dmesg.log)

[2019-10-25 11:20] ClarexZhou opened #1377 "[Bug][CML] Default 'Headphone Playback Volume' is zero"
**Describe the bug**
Default 'Headphone Playback Volume' is zero

**To Reproduce**
1. No headphone is connected
2. Boot up system
3. Connect headset
4. aplay -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i , no sound output on headset
5. alsamixer and amixer contents to check, find 'Headphone Playback Volume' is zero"

**frequency**
Tried about 3 times and keeps reproudced.
But not reproduced anymore a

[2019-10-25 11:21] ClarexZhou commented on #1377
@juimonen , could you please check first?

[2019-10-25 11:28] ClarexZhou opened #1378 "[Bug][CML]System hang at 'Ubuntu' page during boot up with WD19 dock connected"
**Describe the bug**
System hang at 'Ubuntu' loading page during boot up with WD19 dock connected

**To Reproduce**
1. WD19 with both HDMI and DP is connected to unit
2. Long press power button to power off unit
3. Press power button to boot up

**frequency**
<10%
Details as below: Error not occurred after blacklist sof

Scenaro | With WD19 dock | blacklist sof_with WD19 dock
-- | -- | --
Cold Boo

[2019-10-25 11:31] slawblauciak commented on #1460
@plbossart me and @tlauda noticed something rather peculiar happening in the capture DMA copies that are happening in FW.

Normally, as the capture stream goes in this particular case, we copy 384 bytes each 1ms.
The very moment we send CTRL+Z to aplay, the playback stream is stopped, and we receive new DAI config on the playback pipeline.
Regardless, this isn't what raises the most questions. Tha

[2019-10-25 11:36] ClarexZhou commented on #1374
Test on CML Man* notebook in HDA mode with same kernel and FW.
Error also occurred: Frequency: 6/100
[code]
[dmesg_failed_40.txt](https://github.com/thesofproject/linux/files/3771841/dmesg_failed_40.txt)

[dmesg_failed_40.txt](https://github.com/thesofproject/linux/files/3771838/dmesg_failed_40.txt)

[2019-10-25 12:02] bardliao commented on #1333
@dengyangchao Could you double check if you get the right dmesg.log? dmesg.log and nosoundcard-dmesg.log are exactly the same (even the timestamp are the same)?

[2019-10-25 12:50] juimonen opened #1379 "strange ipc error flow"
in ipc.c function tx_wait_done:

if (msg->reply_size)
                        memcpy(reply_data, msg->reply_data, msg->reply_size);
if (ret < 0)
                        dev_err(sdev->dev, "error: ipc error for 0x%x size %zu\n",
                                hdr->cmd, msg->reply_size);

so we are first copying before checking the error? is this intended behavior?
for e.g. demux is returning -einv

[2019-10-25 12:52] juimonen commented on #1379
@plbossart @ranj063 @lyakh FYI

[2019-10-25 15:39] plbossart opened #1380 "[Feature] Enable clock-stop mode for SoundWire"
we need to enable clock-stop mode to allow for jack detection while in pm_runtime suspend.

[2019-10-25 15:40] plbossart commented on #1238
closed since all capabilities are implemented (bug fixes may still be required)
follow-up on https://github.com/thesofproject/linux/issues/1380

[2019-10-25 16:06] #1361 closed

[2019-10-25 16:11] plbossart commented on #1379
If you look at the Intel stuff, there is already another copy happening earlier

[code]

why we'd even look at data returned with an error baffles me.

[2019-10-25 16:17] ranj063 commented on #1379
@juimonen we discussed this exact same thing when @singalsu was making changes to the byte control IO functions but this requires some invasive changes so we left it for later. But yes please do submit a patch to fix the sequence.

[2019-10-25 16:17] plbossart commented on #1460
@slawblauciak the kernel is not even aware of your 1ms transfers, and the DMA pace is completely controlled by the DSP. The host driver is not involved in requesting more or fewer data, it's only notified when a period elapsed (interrupt set with the BDL).

So I am not sure what the description of "requesting the copy of a lot of data" means. There are no requests to the firmware at all.

[2019-10-25 16:58] tlauda commented on #1460
@plbossart We are talking about DW-DMA connected to ALH, so this is not entirely true. DMA pace is controlled by the interface to which it transfers the data. We've confgured DMA's link list to handle 384 bytes per ms. When playback stream is being stopped (after we received DAI config IPC), the already running capture stream is getting crazy fast and ALH suddenly decides to produce 3 times more d

[2019-10-25 17:14] plbossart commented on #1460
the kernel does not handle the DW_DMA so I am not sure what you are asking me.

[2019-10-25 17:25] tlauda commented on #1460
@plbossart But handles ALH, so I'm asking what ALH registers you are writing during STOP sequence.
Edit: maybe some kind of bus parameters or bandwidth is not recalculated or something. I'm not SDW expert, so I'm not sure what you guys actual control on the host side.

[2019-10-25 17:33] plbossart commented on #1460
@tlauda we don't update ALH registers on stop.
see code here https://github.com/thesofproject/linux/blob/1c3de3d2054456132a04c9de4a73ec6dbf491657/drivers/soundwire/intel.c#L545

we configure the values once per PDI. the Stop/start has no impact on those values.

[2019-10-25 17:37] plbossart commented on #1460
to be clearer we configure those values on prepare,

https://github.com/thesofproject/linux/blob/1c3de3d2054456132a04c9de4a73ec6dbf491657/drivers/soundwire/intel.c#L870

and it's done with a read-modify-write on the ALH registers, so I don't think this can impact existing streams

[2019-10-25 17:39] plbossart commented on #1460
Also what I find very surprising is this issue is reported to exist even when the capture and playback are handled on different links, which are managed completely separately by the kernel

[2019-10-25 19:19] plbossart commented on #1376
@YvonneYang2 I don't think there's anything we can do to avoid pops/clicks if there is an underflow during playback.

For pops for pause push/resume, this also goes back to the 'feature'. We will not have the ability to do a ramp down/up, so I don't think we can prevent such issues from happening due to discontinuites between samples. This is a standard audio problem, for me this is not a bug we c

[2019-10-25 19:38] plbossart commented on #1373
@YvonneYang2 can you clarify why PR #1359 (or what parts of it) is needed here, and on which platform you test? if you take the "[HACK] ASoC: intel: sdw_rt711_rt1308_rt715: comment out patch" then this is not going to work on ICL

Something is wrong, please update your bug description and retest with integration/soundwire-latest 661d2612aabbd222c4b6af99df530ce3c37ff24a

[2019-10-25 21:01] plbossart commented on #1460
@YvonneYang2 I can only reproduce the IO error when I capture and playback on the same link to RT711

<details> <summary> playback </summary>

[code]

</details>

<details> <summary> capture </summary>

[code]
</details>

More specifically the error only happens when I restart the stream that was put in the background, so it's likely the .prepare callback and start that have impacts on the bus con

[2019-10-25 22:01] #1285 closed

[2019-10-28 02:19] mengdonglin commented on #1376
Realtek will check this issue

[2019-10-28 02:51] bardliao commented on #1373
@plbossart It should be [ASoC: codec: fix codec io init issue when resuming](https://github.com/thesofproject/linux/pull/1359/commits/c52607fddd4359f24435e559bff909a2e4d12454).
Codec driver will redo io_init if it received SDW_SLAVE_UNATTACHED, and all mixer controls
 (and maybe other configurations) will be reset after that.

[2019-10-28 02:51] dengyangchao commented on #1333
i think it is the right one, i save it as different name.  And dose the info intact?  i mean after the wait 10s. Because i tried the same commit more than10 times today (after 2 days power off). run ./sof_insert.sh , "no soundcard" not occur

[2019-10-28 02:54] bardliao commented on #1376
It looks like a depop issue on codec and @shumingfan can reproduce the issue on his side. He will look into it.

[2019-10-28 03:34] sinahuang commented on #1344
verify  issue with soundware-latest ( commit :1c3de3d )+PR #1370  for 1000 times，original issue can't reproduce but some errors in dmesg shows as below:
occurs "panic" and  "failed:-110" at 163th time.

[code]
</details>

occur "Link power down failed: -11" at 148th time.
 
[code]
[failed -11 log at 148th.zip](https://github.com/thesofproject/linux/files/3777001/failed.-11.log.at.148th.zip)
[panic

[2019-10-28 06:38] YvonneYang2 commented on #1460
Yes, capture from RT715 won't reproduce the issue. Issue can only be reproduced in one scenario as below:

Test steps:
1. Terminal A:  aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
2. Terminal B: arecord -Dhw:0,1 -fs16_le -c2 -r 48000 -vv -i tmp.wav
3.  In Terminal A:  switch aplay to background via "ctrl + z" , then switch foreground via "fg"

Impact:
I/O error occurred

[2019-10-28 07:58] ClarexZhou commented on #1377
Error not seen on https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (a8b94e2)

[2019-10-28 08:06] ClarexZhou commented on #1371
Error is partly fixed on https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (a8b94e2)
Current behavior is:  Headset won’t be listed in sound output setting when headset isn’t connected.   But Headset MIC is still always listed in Sound input setting when headset isn’t connected.
![image](https://user-images.githubusercontent.com/49641224/67661690-ceb9ac80-f99c-11e9-9c50-5430f90d6f80.png)

[2019-10-28 08:08] ClarexZhou commented on #1372
Error still seen on https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (a8b94e2)

[2019-10-28 08:26] juimonen commented on #1372
hmm ok, this is strange because it works for me in my dell laptop... @ClarexZhou can you take logs (pactl list sinks > log.txt) before and after the change to speakers?

[2019-10-28 08:30] bardliao opened #1384 "[BUG][SDW] kernel NULL pointer dereference when unload module in playback"
**Describe the bug**
"BUG: kernel NULL pointer dereference" will be seen when we try to unload modules in playback

**To Reproduce**
1. sudo ./sof_insert.sh
2. run "aplay -Dhw:0,0 test.wav" in another terminal.
3. sudo ./sof_remove.sh
4. dmesg to check the result.

**frequency**
100%

**Actual result**
See `` BUG: kernel NULL pointer dereference, address: 0000000000000080`` on the dmesg

<details>

[2019-10-28 08:35] ClarexZhou commented on #1372
@juimonen
Here comes the pactl list sinks logs.
[log_headphone.txt](https://github.com/thesofproject/linux/files/3777775/log_headphone.txt)
[log_speaker.txt](https://github.com/thesofproject/linux/files/3777776/log_speaker.txt)

[code]

[2019-10-28 08:36] paulstelian97 commented on #1384
Shouldn't the remove just fail because of existing users? Or should it cause playback to stop, including sending STOP/RESET IPCs for any active stream?

[2019-10-28 08:36] bardliao commented on #1384
@plbossart It was die as dai->driver is null in [snd_soc_dai_trigger()](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-dai.c#L328) Do you think it could be sdw driver issue?

[2019-10-28 08:43] juimonen commented on #1372
@ClarexZhou ok yes no big difference as they are going to the same sink... can you open "alsamixer -c 0" and see how are the headphone/Speaker volumes and mute switches? so are both mute switches for some reason "on"?

[2019-10-28 08:45] juimonen commented on #1371
@ClarexZhou I updated https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test to "tie" the headset mic to headphones. So headset mic should be now only there when headphones are connected.... (even though there's no headset mic, but this is kind of best we can do atm)

[2019-10-28 08:47] bardliao commented on #1384
@paulstelian97 Yeah, what I expected is the unload will fail because of a stream is active. But it was die when it try to trigger stop the pcm.

[2019-10-28 08:47] RanderWang commented on #1333
this bug is very odd,  EDP affect audio codec

[2019-10-28 08:51] paulstelian97 commented on #1384
Is there no module reference count incremented/decremented when opening or closing a pcm* file?

[2019-10-28 08:56] ClarexZhou commented on #1372
speaker is  already unmuted and headphone is muted when selecting Speaker in sound settting. But  can't hear audio output from internal speaker.
[amixer_headphone.txt](https://github.com/thesofproject/linux/files/3777860/amixer_headphone.txt)
[amixer_speaker.txt](https://github.com/thesofproject/linux/files/3777861/amixer_speaker.txt)
[amixer_speaker_withoutheadset.txt](https://github.com/thesofpr

[2019-10-28 09:15] juimonen commented on #1372
@ClarexZhou hmm ok, for me the speaker/headset switches are mutually exclusive...
ok can you still take me pulseaudio logs when doing the routing switch...?
1) disable autospawn by open /etc/pulse/client.conf ;autospawn = yes -> autospawn = no (so remove semicolon and set to "no")
2) pulseaudio --kill
3) pulseaudio 2> log.txt
4) do the use case

[2019-10-28 09:18] ClarexZhou commented on #1371
Error not seen on https://github.com/juimonen/alsa-ucm-conf-1/commits/dell_test (c06c2385)

[2019-10-28 09:24] juimonen commented on #1372
@ClarexZhou if you do this, remember to change back the /etc/pulse/client.conf, otherwise pulseaudio doesn't start at boot...

[2019-10-28 09:50] shumingfan commented on #1376
Hi all, please try to apply the PR #1385 and test again.

[2019-10-28 09:57] YvonneYang2 commented on #1364
Test it on CML laptop with legacy-HDA mode, issue cannot reproduced.
Issue can still be reproduced on CML laptop with latest master (78b022b)and topic/sof-dev (34562a4)branch. Test steps as below:

1. Boot up with DP external port connected.
2. Check amixer contents via "amixer contents | less" and i915_display_info via "cat /sys/kernel/debug/dri/0/i915_display_info", shows as below:
<details>
 <s

[2019-10-28 09:57] RanderWang commented on #1333
without EDP display plugged,  headphone jack detection is always timeout.

[2019-10-28 09:59] aiChaoSONG opened #1386 "[BUG][CML] Kernel NULL pointer deference in module reload stress test"
**Describe the bug**
"BUG: kernel NULL pointer dereference" will be seen when run module reload stress test. sometimes happens at removing `snd_soc_max98357a`, and sometimes happens at removing `snd_soc_rt5682`. dmesg log may not always be caught, because it just blocked there, and dmesg shows no error.

**To Reproduce**
1. reboot system
2. run module reload stress test script `sof_bootloop.sh`

*

[2019-10-28 09:59] sinahuang commented on #1344
This issue still can be reproduced on TGL RVP with codec ACL711, ALC1308 in SDW mode.
Failed at 11th time.

Dmesg shows at 11th time as below:
[code]
Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 661d261
FW: https://github.com/thesofproject/sof/commits/master commit: 78b022b
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to

[2019-10-28 10:12] aiChaoSONG commented on #1386
similar issue exist on topic/sof-dev + master:
<details>
 <summary>invalid sof component type for removal</summary>

[  131.298905] sof-audio-pci 0000:00:1f.3: ipc tx succeeded: 0x40020000: GLB_PM_MSG: CTX_RESTORE
[  131.299257] sof-audio-pci 0000:00:1f.3: FW Poll Status: reg=0x20140000 successful
[  131.350551] sof-audio-pci 0000:00:1f.3: ASoC: invalid component type -223310 for removal
[  131.35

[2019-10-28 10:19] Liviali155 opened #1387 "[BUG][s2idle] IPC error after pause_push/S0 idle/resume/pause_release"
Describe the bug
Pause aplay/arecord then enter s3, after wake up and resume aplay/arecord ,it tips"ipc error for 0x60040000 size 12"
 All of headset /HDMI/DP/Dmic/can reproduce it.

To Reproduce
1.sudo reboot
2.aplay -Dhw:0,0 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav or  arecord -Dhw:0,0 -r48000 -c2 -fs16_le s30.wav -vv -i
3.press space key to pause audio
4.sudo rtcwake -m mem -s

[2019-10-28 10:50] dengyangchao commented on #1387
issue also can reproduce on CML laptop HDA

Firmware: 78b022b https://github.com/thesofproject/sof/commits/master
Kernel: 34562a4 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware

<details>
 <summary>Dmesg</summary>

[code]
</details>

<details>
 <summary>logger-error</summary>

[code]
</details>

[dmesg.log](http

[2019-10-28 11:00] dengyangchao commented on #1293
issue can't reproduce on CFL-S RVP HDA with below recipe

Firmware: 78b022b https://github.com/thesofproject/sof/commits/master
Kernel: 34562a4 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2019-10-28 11:13] Liviali155 commented on #1387
issue also can reproduce on GLK Chrome I2S
Firmware: 78b022b https://github.com/thesofproject/sof/commits/master
Kernel: 34562a4 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware

[2019-10-28 11:51] bardliao commented on #1344
@plbossart It seems that somehow SDW_SCP_INT1_PARITY is needed for IO transfer. I can get 100% IO transfer timed out if I set SDW_SCP_INT1_PARITY after 3000 ms.

[code]

[2019-10-28 11:56] juimonen commented on #1372
@ClarexZhou and item 3) should be actually  "pulseaudio -vvvv 2> log.txt"

[2019-10-28 12:03] bardliao commented on #1344
@sinahuang Could you test with PR #1370?

[2019-10-28 12:15] bardliao commented on #1364
@YvonneYang2 Looks like the status is already wrong in the step.

[2019-10-28 13:13] kv2019i commented on #1374
Note: this bug does not happen in mainline sof-dev and seems to be specific to 5.0 kernel branch with the common HDMI driver used.

Based on debug today, this seems to be caused by missing patch to enable "sync_write" mode for SOF. Backported patch to 5.0 branch is available via PR: https://github.com/thesofproject/linux/pull/1388

[2019-10-28 13:44] plbossart commented on #1373
@bardliao @RanderWang We need to reset all the codec when the slave becomes ATTACHED. Please clarify why removing the inits makes things work better! There is something very unclear behind your fix.
I believe that what happens is rather that the mixer settings are not restored during a resume, but that's not a reason to remove the inits. We need to fix the init and make sure the mixer settings are

[2019-10-28 13:48] plbossart commented on #1384
There is a refcount in the soc-core, and we did have some fixes for this.
The only point I can think of is that the DAI for SoundWire is provided by a separate module, so maybe the refcount is incorrect, e.g. we increment the PCI module refcount but not the soundwire-intel one?

[2019-10-28 13:54] plbossart commented on #1333
can you try on ICL with the 3-in-1 board? if this works then you have a TGL-specific issue. If not, then it's an RT711 issue. It's impossible to progress without more information on this bug.
Also take HDMI out completely, there is no reason why HDMI/DP should interfere.

[2019-10-28 14:02] plbossart commented on #1386
I am afraid you will have bisect and provide more information on when this last worked, if ever, and more details on where the issue happens. The logs that you provide are just not detailed enough.

[2019-10-28 14:20] plbossart commented on #1344
Wow, this is super weird. This could be a codec issue where somehow the interrupt is set prior to the resume, and the transfers remain bad until we explicitly enable the interrupt?

Can you try to see if this is tied with the fact that we retransmit commands automatically?
I don't have the data sheet so double check the value.

#define CDNS_MCP_CONFIG_MCMD_RETRY		0 // GENMASK(27, 24)

[2019-10-28 19:43] plbossart commented on #1460
@YvonneYang2 I can only reproduce the issue if the foreground/background change happens for the first stream that gets played. E.g. in your sequence above, if I put the terminal B in background, nothing happens. and if I reverse the sequence, it's the opposite, the arecord is the only one to trigger the problem.

In other words, there is a state established when the first stream starts playing, an

[2019-10-28 21:10] plbossart commented on #1460
See traces of the bug.

[dmesg.log](https://github.com/thesofproject/sof/files/3780695/dmesg.log)

The bus clashes are likely due to a bad programming, somehow we must reprogram the master and not the slave, and they end-up colliding when writing the data.

[2019-10-29 02:22] plbossart commented on #1460
@bardliao I pushed some changes to my branch fix/sdw-bus-clash (which also has tentative fixes for other issues like memory leaks and broken state machines)

see attached log
[dmesg3.log](https://github.com/thesofproject/sof/files/3781421/dmesg3.log)

it seems the rt711 is programmed with the same values for the sink and source ports, or the values don't seem to make sense.
Can you try and add all

[2019-10-29 03:04] bardliao commented on #1460
@plbossart Sorry, I can't find the fix/sdw-bus-clash branch. Did you push it?

[2019-10-29 03:42] YvonneYang2 commented on #1376
Issue can still be reproduced on CML laptop.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 661d261 + PR #1385 + https://github.com/thesofproject/linux/pull/1359/commits/eea61267cd5ead04e9fd153d996fb583d1cb1716
FW: https://github.com/thesofproject/sof/commits/master  commit: 0e8cf66
tplg: https://github.com/bardliao/sof/commits/soundwire-tplg

[2019-10-29 04:41] shumingfan commented on #1376
@YvonneYang2  Oh, I notice how do you reproduce this issue. This test method doesn't close/reopen the process of playback. The pop noise shouldn't come from the codec.
You could try to play the silence data to test it and that will proof my explanation.
"aplay -Dhw:0,2 -r48000 -c2 -fs16_le /dev/zero -vv -i"
I tested it and can't hear the pop noise.

I did the patches yesterday that fixed the pop n

[2019-10-29 05:05] aiChaoSONG commented on #1386
not reproduced on today's daily, topic/sof-dev: 195c1736  + master: 0e8cf66.  I think  195c1736  fix this issue.

[2019-10-29 05:28] Liviali155 commented on #1387
I have retested it，this issue is a regression caused by commit 74fd0c9，@plbossart please help to check it

[2019-10-29 06:34] dengyangchao commented on #1372
@juimonen after change autospawn = yes to autospawn = no,      and issue still exist.

kernel: https://github.com/thesofproject/linux/commits/release/sof-v5.0 (8ea23bd)
sof: https://github.com/thesofproject/sof/tree/cml-hda-dmic-001-drop-stable (6cc8da10)
tplg: Same as above SOF repo, sof-hda-generic.tplg
UCM: https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (c06c238)
kconfig: https://gi

[2019-10-29 06:54] sinahuang commented on #1344
@bardliao I had verified the issue with PR #1370 on soundware-latest ( commit :1c3de3d ), please refer to the https://github.com/thesofproject/linux/issues/1344#issuecomment-546778446

[2019-10-29 07:05] ClarexZhou commented on #1374
Error not seen with #1388 merged. Close

[2019-10-29 07:05] #1374 closed

[2019-10-29 07:10] ClarexZhou commented on #1372
Speaker disappears from sound setting on previous UCM https://github.com/RanderWang/intel-UCM/tree/hdmi

![image](https://user-images.githubusercontent.com/49641224/67745035-210ed200-fa5e-11e9-813d-8ff11ffb482c.png)

[2019-10-29 07:17] RanderWang commented on #1373
I update the detail in PR https://github.com/thesofproject/linux/pull/1359

[2019-10-29 07:57] YvonneYang2 commented on #1376
Test with latest soundwire-latest (661d261)+ #1385 + https://github.com/thesofproject/linux/pull/1359/commits/eea61267cd5ead04e9fd153d996fb583d1cb1716 and master (0e8cf66e) branch, issue still reproduced when pause/release on "Aplay 0,2 via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"

@shumingfan
Yes, confirmed that "aplay -Dhw:0,2 -r48000 -c2 -fs16_le /dev/zero -vv

[2019-10-29 08:11] bardliao commented on #1384
@plbossart @paulstelian97 The refcount of machine driver is 0 in playback. So we can unload the machine driver in playback. soc-core will try to stop the active stream before removing the device. The issue here is that we set [dai->driver = NULL;](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-topology.c#L529) in remove_dai (soc-topology.c) but didn't check dai->driver in

[2019-10-29 09:56] dengyangchao commented on #1378
tried 10 times Cold Boot (Power off via long press power button), issue can't reproduce with below recipe

Kernel repo: https://github.com/thesofproject/linux/commits/release/sof-v5.0 (8ea23bd)
Firmware repo: https://github.com/thesofproject/sof/tree/cml-hda-dmic-001-drop-stable (6cc8da10)
Topology:  Same as above SOF repo, sof-hda-generic.tplg
UCM https://github.com/juimonen/alsa-ucm-conf-1/tree/

[2019-10-29 10:12] dengyangchao commented on #1377
issue can't reproduce with below recipe and Default 'Headphone Playback Volume' is 80

Kernel repo: https://github.com/thesofproject/linux/commits/release/sof-v5.0 (8ea23bd)
Firmware repo: https://github.com/thesofproject/sof/tree/cml-hda-dmic-001-drop-stable (6cc8da10)
Topology:  Same as above SOF repo, sof-hda-generic.tplg
UCM https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (c06c238)

[2019-10-29 10:16] bardliao commented on #1460
@plbossart I wrote a sdw_dump_slave_dpN() function by myself and add it in the end of rt711_pcm_hw_params(). The difference of dpN registers are 0x2, 0x24 and 0x34 which are DPn_PortCtrl and DPn_OffsetCtrl1.
Please see the following for detail.

<details> <summary> dp3 dump </summary>

[code]
</details>

<details> <summary> dp4 dump </summary>

[code]
</details>

<details> <summary> sdw_dump_slave

[2019-10-29 10:16] dengyangchao commented on #1371
issue can't reproduce with below recipe

Kernel repo: https://github.com/thesofproject/linux/commits/release/sof-v5.0 (8ea23bd)
Firmware repo: https://github.com/thesofproject/sof/tree/cml-hda-dmic-001-drop-stable (6cc8da10)
Topology: Same as above SOF repo, sof-hda-generic.tplg
UCM https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (c06c238)
Kconfig: https://github.com/thesofproject/kconf

[2019-10-29 10:17] #1371 closed

[2019-10-29 10:17] #1377 closed

[2019-10-29 10:17] #1378 closed

[2019-10-29 10:22] bardliao commented on #1344
@sinahuang Sorry, I meant on TGL RVP with codec ACL711, ALC1308 in SDW mode since you said it was failed on it. You didn't test it with #1370, right? We need to make sure the PR works on every platforms. Thanks.

[2019-10-29 10:59] YvonneYang2 commented on #1333
Check it on icl 3-in-1 board with kernel removed HDMI parts and no-hdmi tplg.
Original issue can be reproduced, arecord always capture no audio, same as  https://github.com/thesofproject/linux/issues/1333#issuecomment-543104300 .But difference from original issue is that aplay0,0 always has sound output.

Arecord Logs:
[dmesg.log](https://github.com/thesofproject/linux/files/3783159/dmesg.log)
[er

[2019-10-29 12:33] bardliao commented on #1344
@plbossart set CDNS_MCP_CONFIG_MCMD_RETRY to 0 doesn't help. And sorry, setting SDW_SCP_INT1_PARITY after 3000ms doesn't 100% get IO transfer timed out. I will investigate it tomorrow.

[2019-10-29 12:43] bardliao commented on #1345
@YvonneYang2 Could you test it on ICL RVP with https://github.com/thesofproject/linux/tree/integration/soundwire-latest + commit https://github.com/thesofproject/linux/pull/1359/commits/40e56a912942effd90f927d3207aee4b31b059a9?

[2019-10-29 13:24] plbossart commented on #1387
Sorry, I am not going to work on this. There is no information that is relevant to help me progress, and I don't have this hardware
@mengdonglin please assign someone else to root cause the issue

[2019-10-29 13:30] plbossart commented on #1384
@bardliao is this really a SoundWire specific issue? It looks like this would happen for SSP as well, no?

[2019-10-29 13:36] plbossart commented on #1460
@bardliao branch pushed now, not sure what happened

[2019-10-29 21:07] plbossart commented on #1460
Not having any luck on this one. The registers seem correct on both master and slave ports, so not sure what could cause the bus clashes. These bus clashes are definitively not an electrical issue but a bad programming, but I just don't see it yet.

The only think I see as suspicious is this trace, as if the port 2 (playback) and port 3(capture) did not use the same bank.

[code]

[dmesg4.log](htt

[2019-10-29 22:35] plbossart commented on #1460
@tlauda @ranj063 this might be a red-herring but I wonder if we have the start sequence wrong for SoundWire: the traces show that we first do a bank switch, which starts the transfers on the bus, then we send a TRIG_START IPC to the firmware, which will likely start the DMAs. You'd really want to have all the DMAs set-up and pipelines preloaded, then the bank switch happens.

[2019-10-29 22:50] ranj063 commented on #1460
@plbossart Does the "bank switch" happen in the START callback for the SDW BE DAI?

I recently switch the trigger order to SND_SOC_DPCM_TRIGGER_POST. So with this change, the BE DAI start trigger gets called first followed by the FW DAI trigger (which sets up the DMA). Maybe this should be different for SDW?

[2019-10-29 22:52] plbossart commented on #1460
@ranj063 I tried but it's likely a separate issue - no improvement. We will have to revisit this for multi-link playback, the bank switch is required to guarantee we play samples in phase.

[2019-10-29 22:54] plbossart commented on #1460
@tlauda when the playback bombs out, I see a large burst of traces, which repeat the same thing

[code]

No idea what this means, is there a way to disable this flood and print this error only once so that we can look at better traces?

[2019-10-29 23:20] plbossart commented on #1460
@tlauda here are some traces with the errors above commented out to see something

[t4.log](https://github.com/thesofproject/sof/files/3786189/t4.log)
[dmesg6.log](https://github.com/thesofproject/sof/files/3786191/dmesg6.log)

[2019-10-29 23:54] plbossart commented on #1460
Better trace with the DAI ID in alh_trigger
It looks like we are not able to recover from the underflow on playback, and end-up stopping capture as well. What's odd is that on the kernel side we do send a trig_start for playback after the prepare but it doesnt' show in the fimware trace.

[t5.log](https://github.com/thesofproject/sof/files/3786278/t5.log)

[2019-10-29 23:59] plbossart commented on #1460
diffs below if this helps reproduce this case:

[code]

[2019-10-30 01:07] bardliao commented on #1384
@plbossart No, I don't think it is a SoundWire specific issue. I will remove the SDW_DEV tag

[2019-10-30 01:48] sinahuang commented on #1344
This issue can't be reproduced with soundware-latest ( commit : 661d261)+PR #1370, test for 800 times on TGL RVP with codec ACL711, ALC1308 in SDW mode.

Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 661d261+ PR #1370
FW: https://github.com/thesofproject/sof/commits/master commit: 0e8cf66e
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.

[2019-10-30 01:48] YvonneYang2 commented on #1345
Issue cannot reproduce on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode with test recipe as below:

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b + https://github.com/thesofproject/linux/commit/40e56a912942effd90f927d3207aee4b31b059a9
FW: https://github.com/thesofproject/sof/commits/master  commit: 2ca6a4a
tplg: Same with FW b

[2019-10-30 02:06] RanderWang commented on #1313
please check https://github.com/thesofproject/linux/pull/1392

[2019-10-30 03:28] YvonneYang2 opened #1395 "[BUG][SDW]Shows ipc timed out for 0x30010000 size 76 when run system boot up stress test."
**Describe the bug**
Shows ipc timed out for 0x30010000 size 76 when run system reboot stress test. Failed at 22nd time.

**To Reproduce**
1. Run reboot stress test via "./test-reboot.sh 100"

**frequency**
Run 100 times, failed at 22nd time.

**Expected result**
System boot up without any error

**Actual result**
System bootup with ipc timed out for 0x30010000 size 76

kernel: https://github.com/

[2019-10-30 05:17] ClarexZhou commented on #1372
Error not seen on https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (8e298933)

[2019-10-30 05:20] dengyangchao commented on #1104
issue can't reproduce on daily test, close

[2019-10-30 05:20] #1104 closed

[2019-10-30 05:37] YvonneYang2 commented on #1344
Same logs showed when run aplay0,0(RT711) stop/restart stress test. Failed at 322nd time.

<details>
 <summary>Dmesg</summary>

[code]
</details>

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b + PR1359
FW: https://github.com/thesofproject/sof/commits/master  commit: 2ca6a4a
tplg: https://github.com/bardliao/sof/commits/soundwire-tplg

[2019-10-30 05:56] ClarexZhou opened #1396 "[Bug][CML]Paplay has no sound output after plug out HDMI during paplay when both DP and HDMI are connected"
**Describe the bug**
Paplay has no sound output after plug out HDMI during paplay when both DP and HDMI are connected

**To Reproduce**
1. Both DP and HDMI are connected
2. In sound setting, select HDMI as audio output source
3. 'paplay test.wav -vvv'
4. Disconnect HDMI
![image](https://user-images.githubusercontent.com/49641224/67832536-e4ee7680-fb1c-11e9-9017-f702b0d5f605.png)

**frequency**
100

[2019-10-30 06:00] ClarexZhou opened #1397 "[Bug] [CML] Auto switch to headset when select Speaker during paplay via HDMI"
**Describe the bug**
Paplay has no sound output after plug out HDMI during paplay when both DP and HDMI are connected

**To Reproduce**
1. Both HDMI and headset are connected
2. In sound setting, select headset as audio output souce
3. 'paplay test.wav -vvv'
4. In sound setting, select HDMI as audio output source
5. In sound setting, select Speaker as audio output source

**frequency**
100%

**Act

[2019-10-30 06:20] ClarexZhou opened #1398 "[BUG][CML]Parecord is using sink.monitor after plug out headset during headset mic is highlighted in soundsetting"
**Describe the bug**
This is random occurred: Parecord is using sink.monitor when DMIC is highlighted in sound setting

Still not find the stable steps to reproduce this issue. But issue has occurred after below scenarios:
A. Boot up with or without headset->parecord
B.  Plug out headset from idle when DMIC is used previously -> parecord
C. Enter and wake up from S3 when DMIC is used previously ->

[2019-10-30 06:21] ClarexZhou commented on #1398
Error also occurred on https://github.com/kv2019i/intel-UCM/tree/common-hdmi (7a96bd0)

[2019-10-30 06:54] sinahuang opened #1399 "[BUG][TGL]Dmesg shows "failed to reset HDA controller gctl 0x1" info when do aplay0,2(rt1308) stop/restart stress test."
**Describe the bug**
Speaker's playback is stopped at 267th time. Dmesg shows "failed to reset HDA controller gctl 0x1"  info.

**To Reproduce**
1.Reboot system.
2.Run "sudo ./sof-test-playback.sh ".

**frequency**
Run 500 times and failed at 267th time .

**Expected result**
Failed info should not show when do speaker playback stress test.

**Actual result**
Speaker's playback is stopped at 267th

[2019-10-30 07:39] Bin-QA commented on #1332
Verify with Kernel: intel-next kernel, tag intel-5.4-rc5-2019-10-29, commit id: d6aec649c24
Couldn't reproduce this issue on the TGL

[2019-10-30 07:39] Liviali155 commented on #1387
when run "sudo rtcwake -m mem -s 10 " on idle/aplaying/arecording  it only suspend about 1s then wake up,and dmesg show it actually enter suspend

[2019-10-30 07:40] YvonneYang2 commented on #1387
Issue can be reproduced on CML SDW Laptop with ALC711+ ALC1308+ ALC715.

Scenario 1: aplay0,0 --> pause --> s3 --> wake up then resume --> ipc error for 0x60040000 size 12

scenario 1 logs:
[dmesg_pause.log](https://github.com/thesofproject/linux/files/3787454/dmesg_pause.log)
[logger_pause.log](https://github.com/thesofproject/linux/files/3787455/logger_pause.log)

Scenario 2: aplay0,0 --> s3 via

[2019-10-30 07:49] bardliao commented on #1344
@plbossart I think I got the reason of this issue. In the fail cases, codec is unattached after [wait_for_completion_timeout()](https://github.com/thesofproject/linux/blob/integration/soundwire-latest/sound/soc/codecs/rt711-sdw.c#L511) in rt711_dev_resume(). So we are actually accessing codec registers before codec is enumerated.

[code]
[dmesg_fail.txt](https://github.com/thesofproject/linux/file

[2019-10-30 08:00] dengyangchao commented on #1386
when doing module unload/reload stress test(PA off), it sometimes stuck at ```removing snd_soc_rt5682``` and wait more than 5mins still stuck at there.

**Environment**
platform: CML Chrome
Firmware: 2ca6a4af https://github.com/thesofproject/sof/commits/master
Kernel: f5e70ced https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-cml-rt5682-max98357a.tplg

[2019-10-30 08:30] YvonneYang2 commented on #1387
Issue only reproduced in suspend s2idle mode, not reproduced in suspend deep mode.

[2019-10-30 08:39] sinahuang commented on #1333
Original issue can not be reproduced on TGL RVP with codec ACL711, ALC1308 in SDW mode since PR #1392 merged into soundwire-latest.

Test recipe:
Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b
FW: https://github.com/thesofproject/sof/commits/master commit: 2ca6a4a
tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-

[2019-10-30 08:46] Liviali155 commented on #1387
retested on ICL,issue only reproduced in suspend s2idle mode,not reproduced in suspend deep mode ,normal log as attachmemt
[dmesgdeepnormal.log](https://github.com/thesofproject/linux/files/3787750/dmesgdeepnormal.log)
[logger.log](https://github.com/thesofproject/linux/files/3787751/logger.log)

[2019-10-30 08:58] juimonen commented on #1397
@ClarexZhou my latest dell_test branch should fox this...

[2019-10-30 09:14] ClarexZhou commented on #1397
Issue not seen on https://github.com/juimonen/alsa-ucm-conf-1/commits/dell_test (bae8581)

[2019-10-30 09:19] tlauda commented on #1460
@plbossart This is exactly what @slawblauciak told you here https://github.com/thesofproject/sof/issues/1925#issuecomment-546317781. The only mistake we've made was the assumption, that the capture overrun happens on playback stop, but in fact it happens on start, or at least on something you're doing on host when starting the playback stream again.
To sum up what is happening here:
1. Start playb

[2019-10-30 09:55] ClarexZhou opened #1400 "[BUG][CML]Observe sound setting list update when select HDMI from speaker source when both DP and HDMI are connected"
**Describe the bug**
Observe sound setting list update when select HDMI from speaker source when both DP and HDMI are connected

**To Reproduce**
1. Both HDMI and DP are connected
2. In sound setting, select HDMI as output
4. In sound setting, select Speaker as audio output source
5. In sound setting, select HDMI as audio output source again
![image](https://user-images.githubusercontent.com/49641

[2019-10-30 09:56] ClarexZhou commented on #1400
Error also seen on Oct. 29th UCM in https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test  .

Error not seen on https://github.com/kv2019i/intel-UCM/tree/common-hdmi (7a96bd0)

[2019-10-30 09:59] #1238 closed

[2019-10-30 10:01] YvonneYang2 commented on #1333
Issue still can be reproduced on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Steps:
1. Boot up with headset connected.
2. Check headphone jack and headset mic jack vlaues --> off.
3. Aplay0,0 via " aplay -Dhw:0,0 -r48000 -c2 -fs16_le test.wav -vv -i " --> headset has sound output.
4. Check headphone jack and headset mic jack values --> on.
5. Open sound setting , then unplug headset. -

[2019-10-30 10:10] kv2019i commented on #1396
I can reproduce this. It seems PA correctly see unplug of the HDMI monitor (HDMI1) and tries to move to DP monitor (HDMI2 in the log), but this fails for some reason. When I check ALSA kernel procfs, pcm3 (HDMI1) is still running and pcm4 is closed. So PA did not switch the PCM device. Logs:

[code]

FYI @juimonen

[2019-10-30 10:40] YvonneYang2 commented on #1364
@bardliao
Sorry, I attatched the wrong amixer contents info in step 2.
Amixer contents after step 2 should be
[code]

So step 2 are fine , error occurred in step 3.

[2019-10-30 10:56] YvonneYang2 commented on #1476
IO tranfer timed out occurred then showed ipc timed out for 0x80010000 size 120 when ran multipipline stress test. Failed at 117th time.

Run with command: sudo ./multiplex_pipeline-test.sh pcm0p pcm2p pcm4c"

<details>
 <summary>IO transfer timed out </summary>

[code]
</details>

<details>
 <summary>IPC timed out</summary>

[code]
</details>

kernel: https://github.com/thesofproject/linux/tree/i

[2019-10-30 11:00] juimonen commented on #1396
@ClarexZhou can you test this with latest dell_test? I separated hdmi's to their own use cases...

[2019-10-30 11:51] bardliao commented on #1344
@plbossart Do you think #1402 make sense?

[2019-10-30 13:43] tlauda commented on #1476
@plbossart @ranj063 I think you still have some kind of problem with receiving an IPC from DSP. It's IPC timeout, but you clearly can see that DSP has generated reply:
[code]

It only reproduced with SDW, so I would look there.

[2019-10-30 13:44] slawblauciak commented on #1476
The IO transfer timeouts are the most concerning I'd say, as they point to a problem in the communication with the codec.

[2019-10-30 16:48] plbossart commented on #1344
@bardliao no, sorry. the wait_for_enumeration() should only be successful if the Device1 is enumerated, but apparently the programming of the device1 fails.
Your traces also show that we don;t have the "signaling  completion' log, so I don't get how the wait_for_completion() could possibly succeed?

Generally if the programming of the device fails, it's due to another race where e.g. we reset the

[2019-10-30 17:24] plbossart commented on #1460
@tlauda regardless of what happens in 4.a, any idea as to why the 4.b START_IPC is not received. We have logs on the kernel side that do show it's being sent, so not sure how to debug further.

[2019-10-30 17:36] plbossart commented on #1476
no. all transfers are handled through the controller, and we share a common interrupt line between SoundWire and DSP.

[2019-10-30 17:40] plbossart commented on #1476
can you elaborate here, I am not familiar with the IPC so I don't get your explanation.

@YvonneYang2 @ClarexZhou can you try with MSI disabled. I also see random timeouts on my side, maybe once a day, so maybe we still have an issue here.

[2019-10-30 17:44] plbossart commented on #1476
@bardliao I wonder if we go one step further than you initial solution and merge the SoundWire handler with the IPC handler.

[2019-10-30 20:39] tlauda commented on #1460
@plbossart I've looked into FW logs one more time and I was mistaken. We do receive params ipc and START ipc for playback stream after reporting overrun on capture. However both logs I have end up after that, so I don't know what happens next. But this at least gives us full picture and the only thing left to be resolved is why 4a happens.

[2019-10-30 21:37] plbossart commented on #1460
@tlauda nothing happens after the underflow, both streams are stopped and that's game over. You can see the sequence in the dmesg6.log, it's standard trigger-stop, hw_free, close for both playback and capture. I don't know why we don't see more traces from firmware, maybe we have a buffer that's not full. is there a debugfs way to requesting the trace buffer be flushed?

[2019-10-30 21:38] plbossart commented on #1395
@YvonneYang2 can you try with MSI disabled?

[2019-10-30 21:45] plbossart commented on #1387
@keyonjie looks like your patches have a side effect for SoundWire? Looks like we are entering D0i3, so no wonder things break on resume?

[code]
Did we actually try this on platforms that don't have S0ix support? Looks like all of I2S, HDaudio and Soundwire platforms are now broken?

[2019-10-30 21:59] plbossart commented on #1386
@dengyangchao did you check the dmesg? It looks like a really bad error, not just some delay in removing the module.

[   96.512107] RIP: 0010:snd_ctl_remove+0xf8/0x110 [snd]

[2019-10-30 22:02] plbossart commented on #1376
@YvonneYang2 I don't think we can fix further, this should be tagged as closed or won't fix.

[2019-10-30 22:05] plbossart commented on #1342
@Bin-QA the pop noise can fully be removed on only for silence, so try and play with /dev/zero and see if the error still exists. If not then we can't do anything.

[2019-10-30 22:19] plbossart commented on #1399
@sinahuang can you try to run this test in nocodec mode with topic/sof-dev. I'd like to make sure some of the quirks we added for SoundWire don't get in the way (we have additional reset assert/de-assert cycles).

[2019-10-30 22:22] plbossart commented on #1339
I am told Windows does require support for pause. If we truly want to support this, we should probably have a context save/restore as done for closed-source firmware. Just doing a stop/start is probably not so good.
@lbetlej @mmaka1 if we really want to support pause there are probably more hooks to be added for firmware?

[2019-10-30 22:32] plbossart commented on #1333
@YvonneYang2 the code to handle the Rt711 is identical in the two machine drivers. The codec driver is also identical.

Also what are you testing? The bug title is 'Can't hear audio output when aplay via headset in first time', and your own write up says this is solved.

so can you talk with @sinahuang can double check that you report results on the same problem....

[2019-10-30 22:34] plbossart commented on #1345
@YvonneYang2 can you close if it's no longer an issue? Or can you clarify if the commit 40e56a9 is actually needed?

[2019-10-30 22:36] plbossart commented on #1313
@YvonneYang2 please retest with integration/soundwire-latest, this should be fixed now

[2019-10-31 01:57] sinahuang commented on #1476
Dmesg shows "ipc timed out for 0x80010000 size 120" when ran multipipline stress test. Failed at 57th time.

Run with command: ./multiplex_pipeline-test.sh pcm0p pcm2p pcm3c pcm4c

<details>
 <summary>error logger</summary>

[code]
</details>

Test recipe:
Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b
FW: https://github.com/thesofproject/sof/commi

[2019-10-31 02:06] ClarexZhou opened #1406 "[Bug][CML]Speaker isn't default sound output source when plug out headset after power off"
**Describe the bug**
Both speaker and headset are muted when plug out headset after unit power off

**To Reproduce**
1. Headset is connected
2. In sound setting, select Headphone as output source
4. Power off unit system
5. Plug out headset
6. Boot up system. Go sound setting and alsamixer, find Speaker isn't output souce and is muted
![image](https://user-images.githubusercontent.com/49641224/679

[2019-10-31 02:32] ClarexZhou commented on #1406
Error also seen when disconnect HDMI.
Steps:
1. Both HDMI and headset are connected
2. In sound setting, select HDMI as output source
3. Power off system
4. Disconnect HDMI
5. Boot up system, paplay to check , output still using HDMI.  Expected headphone be used
![image](https://user-images.githubusercontent.com/49641224/67913974-b7133b80-fbc9-11e9-8ab5-918c90054672.png)

[2019-10-31 02:35] bardliao commented on #1344
@ClarexZhou @sinahuang Could you retest it with #1407 ? Thanks.

[2019-10-31 02:41] ClarexZhou commented on #1400
Error not seen on https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test (bf4885eb4)

[2019-10-31 03:11] sinahuang commented on #1399
This issue can not be reproduced on BYT MinnowBoard in nocodec mode  and APL UP2 in nocodec mode with topic/sof-dev.

Test for 500 times.

Test recipe:
Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit: f5e70ced
FW: https://github.com/thesofproject/sof/commits/master commit: 59c93383
Tplg: sof-byt-nocodec.tplg and sof-apl-nocodec.tplg
Platform: APL UP2 in nocodec mode , B

[2019-10-31 03:12] aiChaoSONG commented on #1386
just run `sof_remove.sh` after reboot, got the same error on Dell CML labtop and ASUS CML Chromebook.

**Dell CML laptop**
[dell_cml_laptop.log](https://github.com/thesofproject/linux/files/3792000/dell_cml_laptop.log)
**AUSU CML Chromebook**
[ausu_chromebook.log](https://github.com/thesofproject/linux/files/3792002/ausu_chromebook.log)

[2019-10-31 03:29] ClarexZhou commented on #1396
Original steps issue is fixed on https://github.com/juimonen/alsa-ucm-conf-1/tree/dell_test  (bf4885eb4).  But DP has no output when plug in HDMI again. Can't be recovered via release current paplay and trigger another. Can be recovered via re-select output source in sound setting.
**Detail steps**:
1. Both DP and HDMI are connected
2. In sound setting, select HDMI as audio output source
3. 'papla

[2019-10-31 05:25] bardliao commented on #1476
@plbossart Yeah I think it also. Let me think about how to do it.

[2019-10-31 05:42] YvonneYang2 commented on #1395
Test it 100 times with MSI disabled, issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b + PR1403
FW: https://github.com/thesofproject/sof/commits/master  commit: 59c9338
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-10-31 05:56] YvonneYang2 commented on #1376
Won't fix it since it's a standard audio problem.

[2019-10-31 06:35] #1400 closed

[2019-10-31 06:44] YvonneYang2 opened #1409 "[Feature][SDW]Should be able to detect headset unplug/plug-in status when sdw-master-0 pm status suspended."
**Describe the bug**
Should support clock stop mode, can detect headset plug-in/unplug status when sdw-master-0 pm status is suspended.

**To Reproduce**
1. System boot up without headset.
2. Open sound setting.
3. Check the sdw-master-0 pm status is suspended via cat "/sys/bus/soundwire/devices/sdw-master-0/power/runtime_status"
4. Plug in headset and check headphone and headset mic jack detect s

[2019-10-31 07:18] Liviali155 opened #1410 "[BUG][BYT][I2S]it can not detect the status of headset in amixer contents when unplug headset"
**Describe the bug**
it can not detect the status  of headset in amixer contents when  unplug headset

**To Reproduce**
1.sudo reboot with headset
2.unplug head set
3.amixer contents
4.check the status of Headphone Jack Switch/Headset Mic Switch
5.the status is still on

**Reproduction Rate**
5/5
tried 5times can reproduced 5times

**Expected behavior**
the status should be off after unplug headse

[2019-10-31 07:26] YvonneYang2 commented on #1476
@plbossart
Checked it with MSI disabled, "IO transfer timed out" occurred when run multipipiline stress test. Run 300 times, IO transfer occurred at 130th/131th/132th/133th/134th time.

Run with command: ./multiplex_pipeline-test.sh pcm0p pcm2p pcm6p pcm4c

**dmesg**
[code]
**error logger**
[code]
Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit:

[2019-10-31 07:42] tlauda commented on #1460
@plbossart If nothing interesting happens after underrun, then let's focus on rootcausing the actual problem.

[2019-10-31 07:52] tlauda commented on #1476
@plbossart @YvonneYang2 At least we no longer see IPC timeouts without MSI. However it seems that after a while you start to send to FW ALH stream_id = 0xFFFF.

[2019-10-31 08:24] sinahuang opened #1411 "[BUG]Paplay playback has repetitive overrun and drained after waking up from s3 during paplay."
**Describe the bug**
Paplay playback stream drained when wake up from s3 during paplay.

**To Reproduce**
1.Paplay speaker/HDMI/DP via command "paplay wav/paplay wav/48California_Dreaming.wav -vvv"
2.Do s3 via "sudo rtcwake -m mem -s 10"

**Frequency**
4/5

**Expected result**
Paplay output normally after wake up from s3

**Actual result**
Paplay stopped and playback stream drained after wake up f

[2019-10-31 09:06] YvonneYang2 commented on #1345
Tested it without commit https://github.com/thesofproject/linux/commit/40e56a912942effd90f927d3207aee4b31b059a9 , and changed rt711->jd_src from RT711_JD2 to RT711_JD1 in rt711.c , issue cannot be reproduced.  So commit https://github.com/thesofproject/linux/commit/40e56a912942effd90f927d3207aee4b31b059a9 is not actually needed.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/int

[2019-10-31 09:13] YvonneYang2 commented on #1313
Changed rt711->jd_src from RT711_JD2 to RT711_JD1 in rt711.c , then test it again. Issue cannot be reproduced.
Split the clock stop mode feature to https://github.com/thesofproject/linux/issues/1409

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b
FW: https://github.com/thesofproject/sof/commits/master  commit: 59c9338
tplg: Same with F

[2019-10-31 09:22] YvonneYang2 commented on #1333
Changed rt711->jd_src from RT711_JD2 to RT711_JD1 in rt711.c , then tested it again, issue cannot be reproduced on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b
FW: https://github.com/thesofproject/sof/commits/master  commit: 59c9338
tplg: Same with FW branch, sof-icl-rt711-rt130

[2019-10-31 09:42] lvudum opened #1414 "IGT tests are failing due to the following error snd_hda_intel 0000:00:1f.3: azx_get_response timeout, switching to single_cmd mode: last cmd=0x20370503"
Original bug report is here
https://bugs.freedesktop.org/show_bug.cgi?id=112171

https://intel-gfx-ci.01.org/tree/drm-tip/CI_DRM_7207/shard-tglb6/igt@kms_plane_alpha_blend@pipe-c-alpha-transparant-fb.html

4> [318.290648] ------------[ cut here ]------------
<4> [318.290660] snd_hda_intel 0000:00:1f.3: azx_get_response timeout, switching to single_cmd mode: last cmd=0x20370503
<4> [318.290703] WAR

[2019-10-31 09:42] lvudum commented on #1414
[dmesg.txt](https://github.com/thesofproject/linux/files/3793104/dmesg.txt)

[2019-10-31 10:47] Liviali155 opened #1415 "[BUG][APL-nocodec]arecord use 0,6 then pause/resume ,it will I/O error(ipc timed out )"
**Describe the bug**
arecord use 0,6 then pause/resume ,it will I/O error(ipc timed out )

**To Reproduce**
1.sudo reboot
2.arecord -Dhw:0,6 -c2 -r48000 -fs32 t1st.wav -vv -i
3.pause/resume

**Reproduction Rate**
tried 4times
1.reproduced at  the 5 time
2.reproduced at the 13 time
3.reproduced at the 36 time
4.reproduced at the 49 time

**Expected behavior**
can pause/resume normally when arecord

[2019-10-31 10:52] kv2019i commented on #1406
I can reproduce this. It seems when fallback between profiles does not work in PA11.1 (PA in Ubuntu 18.04LTS).

Logs I get are following. Hdmi2 was active, then I power-off, disconnect Hdmi2, and reboot. What follows is situation after boot:

[code]

So status of Hdmi2 is correctly read by PA (it's disconnected), but it still proceeds to route audio to it:

[code]

FYI @juimonen

[2019-10-31 11:01] dengyangchao commented on #1342
@plbossart play with /dev/zero, the issue can't reproduce,  no pop noise

[2019-10-31 12:22] kv2019i commented on #1396
@ClarexZhou wrote:

I could reproduce this as well. This would seem to be a PA11.x bug as well. The detection back is detected but PA fails to activate the PCM.

Unplug is ok, HDMI->DP switch is made:
[code]

But upon reconnect, the action fails:
[code]

This does not seem to be a driver or UCM bug but rather in PA11 logic. @juimonen , thoughts?

[2019-10-31 13:36] plbossart commented on #1399
@sinahuang I meant nocodec mode on TGL! The MinnowBoard has a DSP that's 4 generations older so it's not the same test at all.

[2019-10-31 13:54] plbossart commented on #1395
Thanks @YvonneYang2 this helps. @bardliao I think this is an indication we do need to have a single handler for the shared interrupt, we still have 3 (IPC, stream, soundwire).

[2019-10-31 13:55] plbossart commented on #1409
Duplicate of https://github.com/thesofproject/linux/issues/1380

[2019-10-31 13:55] #1409 closed

[2019-10-31 13:58] plbossart commented on #1410
@bardliao is this a supported functionality, not sure if we have an interrupt line to signal jack detection?

[2019-10-31 14:01] plbossart commented on #1460
@tlauda can you think of additional traces that might help?

also what I find difficult is that the dmesg and sof-logger timestamps are completely different, didn't we have an IPC to align the timestamps and make sure the time deltas are the same on both sides

[2019-10-31 14:04] plbossart commented on #1476
that's a feature we use on hw_free, this was agreed on with @slawblauciak

[code]

[2019-10-31 14:12] slawblauciak commented on #1476
Looking at the code, the stream_id errors occur, because of a fairly recent change in dai_config, which immediately tries to get the handshake on dai params. However, this is only needed for IMX ESAI DAI.
Regardless, those errors are not fatal and do not indicate any actual problem in this scenario.

[2019-10-31 14:15] plbossart commented on #1345
ok, so if there is no issue let's close?

[2019-10-31 14:29] plbossart commented on #1333
@YvonneYang2 do you mean you modified code or you updated the settings with alsamixer. please clarify?

[2019-10-31 14:31] plbossart commented on #1414
@kv2019i this is an issue with the legacy HDAudio driver, yes? Not sure why this is filed as an SOF bug?

[2019-10-31 15:37] plbossart commented on #1344
actually it'll be merged into integration/soundwire-latest by the time you reach your desk on Friday morning.

[2019-10-31 16:20] lvudum commented on #1414
@plbossart Where should I report this issue?

[2019-10-31 16:54] plbossart commented on #1476
you should not flag an IPC error if there isn't one? I don't understand the answer here.

[2019-10-31 18:24] plbossart opened #1417 "IPC error + kernel oops on WHL w/ HDA/DMIC and 1.3 signed firmware"
With this configuration, I get an IPC error followed by a kernel oops at the hw_params stage

kernel: c265f25dda0069be5a09ab64b3f4306c8ef5397a
firmware:  https://github.com/thesofproject/sof/releases/download/v1.3/sof-cnl-signed-intel.ri
topology: 2ca6a4afbb9475cd911207c67c25c6ea1452e70e ( sof-hda-generic-4ch.tplg)

I don't have the sof-cnl.ldc for that firmware so can't provide traces

dmesg atta

[2019-10-31 18:59] plbossart commented on #1417
kernel regression, the sof-dev-rebase-20190821 tag works fine. More bisect...

[2019-10-31 19:05] ranj063 commented on #1417
@plbossart sure I can try it

[2019-10-31 19:14] ranj063 commented on #1417
@plbossart I think I know what the problem is : Could you please try reverting my patch?
https://github.com/thesofproject/linux/commit/fcb9d2363e6309627ea1addcd25519a8b1fdc1f1

If we have this change in the kernel, it will run into the error seen above.

[2019-10-31 19:15] plbossart commented on #1417
@ranj063 it works with the latest kernel if I use an older topology... I took the latest topology since I didn't which one corresponds to the signed 1.3 firmware. and of course it breaks.

[2019-10-31 19:21] ranj063 commented on #1417
hmm that makes sense. So we should take the 1.3 topology with the 1.3 firmware.
But Im curious to see what difference in topology breaks with the new kernel

[2019-10-31 19:27] plbossart commented on #1417
here's what bisect tells me:

[code]

[2019-10-31 19:28] plbossart commented on #1417
why would this change the hw_params information?

[2019-10-31 20:22] plbossart commented on #1417
Looks like a problematic integration. The pipeline definition moved to

[code]
so a value required by firmware is no longer set, but it was required by previous firmware. And we still have code in the kernel that uses this:

[code]

This diff fixes the problem, but to me that's a botched ABI change. if frame_per_sched is no longer necessary, it needs to be removed from the IPC definitions.

[2019-10-31 20:29] fredoh9 commented on #1415
If this is real issue, this is good catch. But i couldn't reprodce this on a APL_UP2_NOCODEC.
Sometime overrun warning came but recovered well.
`#########################+                         | 48%overrun!!! (at least 0.145 ms long)  `

For more testing, I attached simple script to run 100 times pause/resume recording on hw:0,6.
[run_arecord_pause_resume.sh.txt](https://github.com/thesofprojec

[2019-10-31 20:48] plbossart commented on #1417
@ranj063 we could fix this by putting a default value back. If only I could figure out what the M4 syntax should be, it's just painful to figure out how to divide one parameter by another...

[code]

works, but I'd need to do something like:

[code]
I just can't figure out how m4 is supposed to work. We should have done the topologies in lisp, at least it would have been self-explanatory.

[2019-10-31 21:17] ranj063 commented on #1417
@plbossart  what you need is :
[code]

But the problem is that $5 is empty in some cases, in which case the above expression will evaluate to "".

[2019-10-31 21:29] plbossart commented on #1417
well it's even worse than I thought:
SOF_TKN_SCHED_TIME_DOMAIN can be "", '0", "1", "48000:" "16000"
clearly out of control macros.

[2019-11-01 01:48] YvonneYang2 commented on #1333
@plbossart
Issue cannot be reproduced if the code is modified(Change rt711->jd_src from RT711_JD2 to RT711_JD1 in rt711.c). No need to update the setting with alsamixer.

[2019-11-01 02:04] bardliao commented on #1410
@plbossart @Liviali155 No, I don't know if we connect rt5682's interrupt pin to BYT either. And the other problem is ``4.check the status of Headphone Jack Switch/Headset Mic Switch``. We can't use the status of Headphone Jack Switch/Headset Mic Switch to check if jack is detected or not. The two controls here are mixer controls and not for jack detection.

[2019-11-01 02:09] Liviali155 commented on #1410
amixer contents > insert.txt  (plug headset)
amixer contents > uninsert.txt (unplug headset)
diff insert.txt uninsert.txt
it has nothing  difference

[2019-11-01 02:35] YvonneYang2 commented on #1344
Checked it with MSI disabled on latest integration/soundwire-latest(commit:9f1bd5b) + #1403 + #1407 , original issue cannot be reproduced. But some failed info shows in dmesg.

Run with command " aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 1000 1 1"
Platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

Note: Since s2idle is blocked by #1387 , eg. cannot stay in suspended s

[2019-11-01 02:53] bardliao commented on #1410
@Liviali155 That's what I tried to explain. You can't tell if a jack is plugged or not by amixer control status on BYT + rt5682. The Headphone Jack Switch and Headset Mic Switch are kcontrols. See [sof_controls[]](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_rt5682.c#L310). That is different from [sdw_jack_pins[]](https://github.com/thesofproject/linux/blob/

[2019-11-01 03:06] Liviali155 commented on #1415
I tested  twice used your script ,not reproduced
but I  used the command "arecord -D hw:0,6 -r 48000 -c 2 -f s32_le -vv -i -d 55 test.wav -q" tested twice manually,all can reproduced it :
1.reproduced it at 64 time
2.reproduced it at 32 time
I think you can pause/resume more quickly,
<img width="714" alt="Capture1" src="https://user-images.githubusercontent.com/56707932/67999414-328eee80-fc97-11e9

[2019-11-01 03:21] sinahuang commented on #1399
Verified the issue on TGL RVP in nocodec mode with topic/sof-dev, issue can't be reproduced.

Test for 1000 times.

Test recipe:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit: c265f25d
FW: https://github.com/thesofproject/sof/commits/master commit: fe321d65
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Plat

[2019-11-01 03:41] ClarexZhou opened #1419 "[BUG][CML]Observe sound setting list update when switching output sources with WD19 dock connected"
**Describe the bug**
Observe sound setting list update when select HDMI from speaker source when both DP and HDMI are connected

**To Reproduce**
1. WD19 Dock is connected
2. Switch audio output sources in sound setting
![image](https://user-images.githubusercontent.com/49641224/68000759-41c46b00-fc9c-11e9-84c0-aacf31ee8a1f.png)

[VID_20191101_110904.zip](https://github.com/thesofproject/linux/fil

[2019-11-01 03:42] ClarexZhou commented on #1419
Similar with #1400

[2019-11-01 04:06] YvonneYang2 commented on #1344
Test it with MSI mode, same failed dmesg info as above can still be reproduced.

Platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

Logs:
[s3_test_28_logger_all.log](https://github.com/thesofproject/linux/files/3796621/s3_test_28_logger_all.log)
[s3_test_28_logger_error.log](https://github.com/thesofproject/linux/files/3796622/s3_test_28_logger_error.log)
[test_28.log](https://github.com/theso

[2019-11-01 05:20] Liviali155 commented on #1410
sync with bardliao，it has no method to check jack status when plug/unplug headset now ，close it

[2019-11-01 05:21] #1410 closed

[2019-11-01 06:11] dengyangchao commented on #1386
@plbossart run 100 times module unload/reload on CML Chrome today, it can remove and insert successfully.
but still can see this message in every iteration
```RIP: 0010:snd_ctl_remove+0xf8/0x110 [snd]```

when doing module unload/reload also observed this message in other platforms  ICL RVP HDA, CFL-S RVP HDA, GLK Chrome.

I don't know what the message mean, is it really a error? if yes, i'd like

[2019-11-01 08:26] kv2019i commented on #1419
Rootcause seems to be that PA does one extra hop before switching to target output and this is sometimes shown in the UI, causing the flicker in the GUI list. I'll mark this as P3 as audio functionality is not impacted.

[2019-11-01 08:42] kv2019i commented on #1406
@juimonen rootcaused this to bug in Pulseaudio 11.x when using UCMs with multiple use-cases. This can be fixed by backporting following patches from Pulseaudio upstream:

33e31b5b70be30a9b59de155aec59807d5f93bc7 card-restore: log the correct profile name
d65974d8501052bafb03e65f5df954511e9949a2 card-restore: don't restore unavailable profiles
0d50e787f86b385bf33aeb53b16ca40543f1db63 alsa-card: imp

[2019-11-01 09:06] q009 commented on #1476
@plbossart that isn't an IPC error, because it's not propagated through an IPC in dai_prepare (in DAI component). It's only being logged/traced. At least, in THIS particular case, due to a change somebody made in dai_prepare.
The only reason why we started to see this error in the first place, is because dai_prepare now has an additional call to retrieve the handshake information, regardless of th

[2019-11-01 09:45] YvonneYang2 commented on #1373
First change rt711->jd_src from RT711_JD2 to RT711_JD1 in rt711.c for rvp test.
For now, issue only can be reproduced on icl 3-in-1 board with integration/soundwire-latest (9f1bd5b)+ pr #1407
CML SDW Laptop with ALC711+ ALC1308+ ALC715  cannot reproduce the issue with same kernel as above.

Test steps:

1. Paplay a song via headset/HDMI/DP
2. Wait for 2 minute, switch output source to speaker in s

[2019-11-01 10:02] bardliao commented on #1333
@YvonneYang2 I believe that we could change it by ACPI since codec driver gets jd_src by device_property_read_u32().  @plbossart Do you know how to set device property for sdw devices on ACPI?

[2019-11-01 10:15] YvonneYang2 opened #1420 "[BUG][SDW]Need to change JD source JD2 --> JD1 in kernel manually for RVP validation."
Now JD source in kernel uses JD2 in default, it's for laptop. For rvp, it needs to change JD2 --> JD1 manually.

If not modify code manually, some test results as below will be blocked:
https://github.com/thesofproject/linux/issues/1313
https://github.com/thesofproject/linux/issues/1333
https://github.com/thesofproject/linux/issues/1345

if boot up with kernel set JD2, will occur
1. Boot up with h

[2019-11-01 10:16] YvonneYang2 commented on #1313
JD source issue will track in #1420
Since this issue not reproduced, close it.

[2019-11-01 10:16] #1313 closed

[2019-11-01 10:17] YvonneYang2 commented on #1333
JD source issue will track in #1420
Since this issue not reproduced, close it.

[2019-11-01 10:17] #1333 closed

[2019-11-01 10:18] YvonneYang2 commented on #1345
JD source issue will track in #1420
Since this issue not reproduced, close it.

[2019-11-01 10:18] #1345 closed

[2019-11-01 10:23] paulstelian97 commented on #1476
@q009 I'm on that side, should I move my get_handshake call to the actual usage of the ESAI?

[2019-11-01 10:44] q009 commented on #1476
@paulstelian97 yeah, sure.

[2019-11-01 10:45] paulstelian97 commented on #1476
Alright, will do later, hopefully today.

[2019-11-01 11:05] Liviali155 opened #1421 "[BUG][BYT][I2S]Alsabat playback test failed"
**Describe the bug**
Alsabat playback test failed

**To Reproduce**
1.open a terminal:              alsabat -Phw:0,0 -c 2 -r 48000 -f s16_le --standalone -n 240000
2.open another  terminal:  alsabat -Chw:1,0 -c 1 -r 48000 -f s16_le

**Reproduction Rate**
tested twice on CI, all failed
tested manually 5 times,all failed

**Expected behavior**
the return value should be 0 at second terminal

**Impac

[2019-11-01 11:43] YvonneYang2 commented on #1395
@plbossart
Test it 45 times with MSI disabled again on Ubuntu19.04, issue is reproduced once at 20th time. I Will test more times on Ubuntu18.04 next week.

Add options snd_sof_intel_hda_common use_msi=0 in /etc/modprobe.d/alsa-base.conf to disable MSI.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b + PR1403
FW: https://github.com/the

[2019-11-01 11:45] Liviali155 opened #1423 "[BUG][BYT][I2S] Nothing can be recorded when used "arecord -Dhw:0,0 -r48000 -c2 -fs16_le s30.wav -vvv -i" to record"
**Describe the bug**
  Nothing can be recorded when used "arecord -Dhw:0,0 -r48000 -c2 -fs16_le s30.wav -vvv -i" to record

**To Reproduce**
1. sudo reboot
2. arecord -Dhw:0,0 -r48000 -c2 -fs16_le s30.wav -vvv -i -d 10
[code]

**Reproduction Rate**
100%

**Expected behavior**
It can record  audio

**Impact**
It can record nothing

**Environment**
platform: BYT MinnowBoard with I2S  RT5682
Firmware

[2019-11-01 11:56] kv2019i commented on #1414
Hey @lvudum . This is the right place for the SOF driver bugs, but the legacy (non-DSP) driver is basicly maintained upstream and the appropriate place is kernel bugzilla:

https://bugzilla.kernel.org/
(example bug https://bugzilla.kernel.org/show_bug.cgi?id=205333)

[2019-11-01 12:02] paulstelian97 commented on #1476
@q009 You can check thesofproject/sof#2043

[2019-11-01 14:04] plbossart commented on #1399
Thanks @sinahuang, that's useful information.

One of the differences with SoundWire is the commit 10f5534a81708bbec68ccc014c8c8a2f3a844401
this introduces an additional cycle of DSP reset and that's precisely the register that can't be modified without a timeout.

can you retest with topic/sof-dev + 10f5534a81708bbec68ccc014c8c8a2f3a844401 on top?
Thanks!

[2019-11-01 14:20] plbossart opened #1424 "kernel RIP w/ sof_remove.sh"
we see a consistent set of errors across multiple APL+ platforms

RIP: 0010:snd_ctl_remove+0xf8/0x110 [snd]

This needs to be fixed.

[2019-11-01 14:20] plbossart commented on #1386
yes I saw this "RIP: 0010:snd_ctl_remove+0xf8/0x110 [snd]" error on WHL w/ HDA as well

added https://github.com/thesofproject/linux/issues/1424 to track this

[2019-11-01 14:33] plbossart commented on #1420
@bardliao is there a way to do this JD change with controls?
or do we need to implement a quirk? we could e.g. set the RT711 property in the machine driver as done for bytcr_rt5640

[2019-11-01 14:37] plbossart commented on #1333
This is what is used in existing machine drivers (bytcr_rt5640)

[code]

I think the first function should just work if we use a &sdw_bus_type?

[2019-11-01 14:49] plbossart commented on #1476
@q009 @slawblauciak do you mind pointing me to a commit ID, I don't see any changes in dai_prepare and the changes suggested by @paulstelian97 don't seem to have any sort of impact on Intel DAIs? Really hard to follow the explanations, sorry.

[2019-11-01 14:49] kv2019i commented on #1419
To add some details, here's what happens in Pulseaudio (move to HDMI1 to HDMI2):

1. output change is initiated
Nov  1 22:39:43 u-Latitude-3311 pulseaudio[8434]: [pulseaudio] protocol-native.c: Application "GNOME Volume Control Dialog" requests card profile change. card
= alsa_card.pci-0000_00_1f.3-platform-skl_hda_dsp_generic, profile = Hdmi2

2. as part of the profile change the old HDMI1 sink i

[2019-11-01 14:51] paulstelian97 commented on #1476
@plbossart The change I discussed about is only to remove a trace which isn't relevant and might confuse those who attempt to debug this issue. It doesn't directly resolve the issue itself.

The impact is that dai_get_handshake() isn't called for Intel DAIs unnecessarily in dai_config() (NOT dai_prepare()) with my change.

[2019-11-01 14:53] q009 commented on #1476
@plbossart apologies, it's actually dai_config
https://github.com/thesofproject/sof/pull/1977/commits/1e103942c62311cb83795da0e4ac08daa13cefb6#diff-9f8de02ec82000817dd1a9bbccac158cR685

[2019-11-01 14:54] plbossart commented on #1476
ok, so that adds a misleading trace, yes?

[2019-11-01 14:55] q009 commented on #1476
That's correct.

[2019-11-01 16:32] keyonjie commented on #1417
@ranj063 the commit you provided is actually quite big change, it changes sequence for all other drivers where using SND_SOC_DPCM_TRIGGER_PRE or SND_SOC_DPCM_TRIGGER_POST, we had another alternate solution when Zhigang and me worked on GPMRB which create a new type for this mirrored sequence.

[2019-11-01 16:51] keyonjie commented on #1387
Hi all, this is actually as expected, we put audio to D0I3 for all cnl.c platforms on S2Idle in today's code, so that actually exposes new issues that our d0i3_incompatible streams can't survive in the D0I3 suspend/resume cycle.

My PR https://github.com/thesofproject/linux/pull/1418 will help for this if you don't open WoV pipeline, but if you open both normal PCMs and WoV before S2Idle suspend,

[2019-11-01 19:13] plbossart commented on #1424
A quick manual bisect with sof-dev-rebase shows the error was added between the tags
sof-dev-rebase-20191022: ok
sof-dev-rebase-20191025: nok

[2019-11-01 19:19] plbossart commented on #1424
so transposing to topic/sof-dev, the error happened between tags

21147939958a35363dfd01563d004094198c917d (equal to sof-dev-rebase-20191022)
34562a4ed17326dd7a7f7927bb0e6cf8f0484cac (equal to sof-dev-rebase-20191025)

[2019-11-01 21:16] plbossart commented on #1424
Results (to be confirmed)

[code]

[2019-11-01 21:27] plbossart commented on #1424
@morimoto reverting this commit removes the kernel warnings we see.

And looking at this patch, I am not sure the flow was correct.

Before your patch, the flow was

[code]
and now it is

[code]

[2019-11-01 21:31] plbossart commented on #1424
[dmesg.log](https://github.com/thesofproject/linux/files/3799688/dmesg.log)

<details> <summary> repeated RIP error </summary>

[code]

</details>

[2019-11-01 21:53] plbossart commented on #1424
Suggested solution here: https://github.com/plbossart/sound/tree/fix/ctrl_rip

[2019-11-01 21:58] plbossart commented on #1424
@morimoto @ranj063 I have to stop my debug here for the week, comments welcome on this one. I have no idea why the order of the components removal matters, just debugging blindly.

[2019-11-01 22:15] ranj063 commented on #1424
@plbossart I had another solution here:
https://github.com/thesofproject/linux/issues/1151#issuecomment-524929406
I never got around to posting the patch but let me try it and submit the PR

[2019-11-01 22:25] ranj063 commented on #1424
oops I misunderstood the error. My solution was only to handle tplg load failures. Ithink your solution looks good

[2019-11-01 23:49] sathyap-chrome opened #1425 "CML : unload cml_rt1011_rt5682 results in reboot"
This issue we discovered during stress testing loading and unloading of machine driver for some other issue debug.

I checked with CML_007_drop_stable release and see 1 change was missing in the machine driver:
ASoC: intel: sof_rt5682: add remove function to disable jack.

I made same change to the cml_rt1011_rt5682 machine driver and see that the unload is still an issue.

Any other changes requi

[2019-11-01 23:55] keyonjie commented on #1425
we might need dmesg log for the issue.

[2019-11-02 00:04] sathyap-chrome opened #1426 "CML : HDMI not detecting when both ports use non-MST hub"
This issue is seen only 1 customer board using the machine driver cml_rt1011_rt5682 machine driver from here:
https://patchwork.kernel.org/patch/11161145/

And not seen with sof_rt5682.c

The issue in details is as below:

Use Chrome device to connect 2 HDMI / DP monitors on 2 type C port using a non-MST hub.
So 1 type C to HDMI cable on 1 side and 1 on the other side.

Expectation is in the UI, w

[2019-11-02 00:04] sathyap-chrome commented on #1426
Also 1 more finding : if we use MST hub on any 1 port, the use case works fine.

[2019-11-02 02:45] ranj063 commented on #1425
@sathyap-chrome can you please try with this suggestion from @plbossart https://github.com/thesofproject/linux/issues/1424#issuecomment-548963773

[2019-11-02 05:51] sathyap-chrome commented on #1425
Sure. will try and let u know

[2019-11-04 01:19] #1332 closed

[2019-11-04 01:23] ClarexZhou commented on #1342
Close for Won't fix

[2019-11-04 01:23] #1342 closed

[2019-11-04 01:33] bardliao commented on #1420
@plbossart Sounds good. And we can pass jd_src by snd_soc_component_set_jack()

Edit: On the second though. It is better to use device property than a parameter of  snd_soc_component_set_jack() to pass jd_src since jd_src is HW related and it should not be changed at run time.

[2019-11-04 01:51] dengyangchao commented on #1364
1. Issue can be reproduced on
CFL-S RVP HDA
CML SDW Laptop with ALC711+ ALC1308+ ALC715
ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode

2. Issue cannot be reproduced on
GLK Chrome
CML Chrome
ICL RVP HDA
CML laptop with onboard ALC3204 in HDA mode
Note: Can't test on UP2, not support HDMI Jack detect on up2

**Environment**
Firmware: e5fe2ca2 https://github.com/thesofproject/sof/commits/mast

[2019-11-04 01:55] dengyangchao commented on #1386
can't reproduce, close , and related issue track on #1424

[2019-11-04 01:55] #1386 closed

[2019-11-04 03:52] macchian commented on #1426
@sathyap-chrome , we also find the same issue on Kohaku. Here is the finding,

The current Pin mux settings are working on MST hub, but SST(Single Stream Transport).
        cset "name='Pin5-Port0 Mux' 1"
	cset "name='Pin5-Port1 Mux' 2"
	cset "name='Pin5-Port2 Mux' 3"
	cset "name='Pin6-Port0 Mux' 1"
	cset "name='Pin6-Port1 Mux' 2"
	cset "name='Pin6-Port2 Mux' 3"
	cset "name='Pin7-Port0 Mux' 1"
	cs

[2019-11-04 05:59] sathyap-chrome commented on #1426
Thanks for checking on other platforms too.
This is surprisingly not seen on hatch platform.

[2019-11-04 06:50] bardliao commented on #1420
@plbossart The PRs are #1427 and #1428.

[2019-11-04 06:54] YvonneYang2 commented on #1373
Test it with integration/soundwire-latest(9f1bd5b) + https://github.com/thesofproject/linux/commit/2a3a03a3f86d781cf274a314ebd7d8347bbde046 , issue cannot be reproduced on icl 3-in-1 boards.

Without commit https://github.com/thesofproject/linux/commit/2a3a03a3f86d781cf274a314ebd7d8347bbde046, issue can still be reproduced. But reproduced rate is lower than before, tested it 15 rounds, only reprod

[2019-11-04 07:54] lyakh commented on #1023
Update:
Status: playback and capture now working, using only VirtIO and vhost APIs, no additional ACRN dependencies. So far only used on top of ACRN. Zero-copy with vhost doesn't seem to be working with ACRN, therefore this implementation transfers data over virtual queues.

[2019-11-04 07:55] YvonneYang2 commented on #1420
Test it with integration/soundwire-latest ( 9f1bd5b)+ #1427 + #1428 on icl rvp, issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b + #1427 + #1428
FW: https://github.com/thesofproject/sof/commits/master  commit: e5fe2ca
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg  rename  to  sof-icl-rt711-r

[2019-11-04 08:31] dengyangchao commented on #1387
After applied #1418 and tried on ICL RVP HDA,  original issue can't reproduce

[2019-11-04 09:33] Liviali155 commented on #1411
on APL UP2 I2S PCM512x,
Paplay Headset  via command "paplay  48California_Dreaming.wav -vvv"
reproduced this issue

[2019-11-04 09:55] RanderWang commented on #1380
@plbossart  I ported your clock_stop2 branch to soundwire-latest. With my changes, https://github.com/RanderWang/linux/commits/clock_stop_test,  now plugging event can be detected. But I got IPC timeout for the first IPC cmd with playback. I will go on debugging.

[2019-11-04 11:16] kv2019i commented on #1263
This is fixed now, both i915 and SOF kernel patches merged.

[2019-11-04 11:16] #1263 closed

[2019-11-04 11:17] kv2019i commented on #1123
This enhancement is now implemtend with #1404 and #1422

[2019-11-04 11:17] #1123 closed

[2019-11-04 11:18] kv2019i commented on #1077
This bug is now fixed with #1404 and #1422

[2019-11-04 11:18] #1077 closed

[2019-11-04 11:19] kv2019i commented on #961
This feature is now implemented by merging the following patch series upstream:
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-October/157142.html

[2019-11-04 11:19] #961 closed

[2019-11-04 11:20] kv2019i commented on #883
Hotplug for DP-MST is now also supported via moving to common HDMI driver. This enhancement is now implemented with #1404 and #1422

[2019-11-04 11:20] #883 closed

[2019-11-04 11:21] kv2019i commented on #755
This enhancement is now implemented with #1404 and #1422. The UCM change was merged usptream with this PR:
https://github.com/alsa-project/alsa-ucm-conf/pull/4

[2019-11-04 11:21] #755 closed

[2019-11-04 11:23] kv2019i commented on #990
#1123 implemented and marked closed in the list

[2019-11-04 11:26] kv2019i commented on #952
@YvonneYang2 with common HDMI driver now merged and enabled in kconfig, can you retest this bug?

[2019-11-04 11:27] kv2019i commented on #1375
This issue is potentially fixed now -- will monitor CI for some time before closing.

[2019-11-04 12:40] kv2019i commented on #1414
I'll close this, let's track in https://bugzilla.kernel.org/show_bug.cgi?id=205379

[2019-11-04 12:40] #1414 closed

[2019-11-04 19:45] plbossart commented on #1426
There is nothing specific about hatch, it's likely a validation miss...

[2019-11-04 19:47] plbossart commented on #1423
@dengyangchao have you used the relevant mixer settings, seems to me that your configuration is incomplete on the codec side?
@bardliao can you try to reproduce?

[2019-11-04 19:48] plbossart commented on #1420
@YvonneYang2 please retry with integration/soundwire-latest, the two PRs were merged. Thanks!

[2019-11-04 19:51] plbossart commented on #1364
@dengyangchao @YvonneYang2 please retry with integration/soundwire-latest, all SDW machine drivers use @kv2019i hdmi common HDMI module.

[2019-11-05 01:48] YvonneYang2 commented on #1395
Tested it 53 times with MSI interrupt mode, occurred "error: ipc timed out for 0x90030000 size 80", then occurred "ipc timed out for 0x30010000 size 76". Error dmesg is as below :
<details>
 <summary>MSI interrupt mode error dmesg</summary>

[code]
</details>

 logs:
[dmesg_failed_53.log](https://github.com/thesofproject/linux/files/3806866/dmesg_failed_53.log)

Tested it 300 times with MSI disabl

[2019-11-05 01:51] plbossart commented on #1425
see PR #1431

[2019-11-05 01:57] sathyap-chrome commented on #1425
thanks @plbossart . Since we are on v4.19 there are some dependencies to pick this change, i'm checking and revert back once i try.

[2019-11-05 01:57] plbossart commented on #1395
Thanks @YvonneYang2

I think we can assume for now that the MSI mode is still problematic. The issue with MSI disabled has nothing to do with SOF so we can ignore it.

@bardliao can you work with @YvonneYang2 to see if your interrupt rework works better with MSI enabled? Thanks!

[2019-11-05 01:58] plbossart commented on #1425
@sathyap-chrome what prevents you from testing with the mainline kernel first?

[2019-11-05 02:00] sathyap-chrome commented on #1425
i will do that as well.
We are actually helping stress test team with a script to load / unload for checking a stress test failure on i2c.  Since that team will look to stay with chrome kernel, i was trying to get it working on v4.19

I should be able to test on mainline by tomorrow.

[2019-11-05 02:09] bardliao commented on #1423
@Liviali155 @plbossart I believe that is a mixer setting issue. @Liviali155 Could you try
[rt5682.txt](https://github.com/thesofproject/linux/files/3806775/rt5682.txt) first?

[2019-11-05 02:18] Liviali155 commented on #1421
Test pass on CI  on 20191105 ，I tested it manually also passed
Kernel:4e76b4a1   https://github.com/thesofproject/linux/commits/topic/sof-dev
Firmware：0b7fd030   https://github.com/thesofproject/sof/commits/master

[2019-11-05 02:20] mengdonglin commented on #925
@YvonneYang2 @dengyangchao @Bin-QA Please compare the audio playback latency between using SOF and legacy HD-Audio.

And how about APL/GLK?  Can we have short audio playback latency over DP with SOF and the same monitor?

[2019-11-05 03:31] sinahuang commented on #1331
This issue can be reproduced with kernel sof-dev on CML-S RVP with onboard ALC711 in HDA mode..

Test recipe:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit: 4e76b4a1
FW: https://github.com/thesofproject/sof/commits/master commit: 0e8cf66
Tplg: master e5fe2ca sof-hda-generic-4ch.tplg
Platform: CML-S RVP with onboard ALC711 in HDA mode.

[2019-11-05 03:33] sinahuang commented on #925
This issue can be reproduced with kernel sof-dev on CML-S RVP with onboard ALC711 in HDA mode..

Test recipe:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit: 4e76b4a
FW: https://github.com/thesofproject/sof/commits/master commit: 0e8cf66
Tplg: master e5fe2ca sof-hda-generic-4ch.tplg
Platform: CML-S RVP with onboard ALC711 in HDA mode.

[2019-11-05 04:08] Liviali155 commented on #1411
1.issue can be reproduced on:
    CML laptop  with onboard ALC3204 in HDA mode  (pulseaudio 11.1)
    APL UP2 with nocodec   (  pulseaudio 11.1)
    APL UP2 with codec PCM512X in I2S mode    ( pulseaudio 11.1)
    TGL RVP with onboard RT711 in SDW mode   (pulseaudio 11.1)
    CML Laptop with onboard RT711+1308+715 in SDW mode  (pulseaudio 11.1)
    CML Laptop with onboard ALC3204 in Legacy HDA mod

[2019-11-05 06:02] ClarexZhou commented on #1423
Close. Error not seen after change to below amixer setting:
numid=14,iface=MIXER,name='Stereo1 ADC L1 Mux'
  ; type=ENUMERATED,access=rw------,values=1,items=2
  ; Item #0 'DAC MIX'
  ; Item #1 'ADC'
  : values=1

[2019-11-05 06:02] #1423 closed

[2019-11-05 06:25] Liviali155 commented on #1421
test pass on 20191031
f5e70ced:https://github.com/thesofproject/linux/commits/topic/sof-dev
59c93383:https://github.com/thesofproject/sof/commits/master

[2019-11-05 08:11] dengyangchao opened #1434 "[BUG]Still need to set pin-port in alsamixer manually"
**Describe the bug**
Since kconfig #15, is only changed for hdaudio-codecs-defconfig, this config will only be used for building HDA kernel. Also need to build  I2S and SDW kernel.

**To Reproduce**
1.Reboot system via "sudo reboot"
2.Open alsamixer

**frequency**
100%

**Expected result**
No need to set pin-port manually

**Actual result**
Still need to set pin-port manually
![L_E55F tmp](https:/

[2019-11-05 08:15] YvonneYang2 commented on #1434
Issue can also be reproduced on CML SDW Laptop with ALC711+ ALC1308+ ALC715

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 085b4bf + PR1403
FW: https://github.com/thesofproject/sof/commits/master  commit: 0b7fd03
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-05 08:35] YvonneYang2 commented on #1420
Tested it with latest integration/soundwire-latest branch(085b4bf), issue cannot be reproduced on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 085b4bf
FW: https://github.com/thesofproject/sof/commits/master commit: 0b7fd03
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg

[2019-11-05 08:37] YvonneYang2 commented on #1420
Close it.

[2019-11-05 08:37] #1420 closed

[2019-11-05 08:49] kv2019i commented on #1426
We now have PR1155 merged to usptream and we have also backported the core changes (plus one example machine driver) to the 5.0 release branch:
https://github.com/thesofproject/linux/tree/release/sof-v5.0

UCM changes are also merged to ALSA UCM upstream repository.

Let me know if you need help in trying this out.

[2019-11-05 10:54] YvonneYang2 commented on #952
Issue cannot be reproduced on CML laptop with ALC3204 codec with HDA kernel. Test recipe is as below:
Firmware: 0b7fd030 https://github.com/thesofproject/sof/commits/master
Kernel: 4e76b4a1 https://github.com/thesofproject/linux/commits/topic/sof-dev

But issue can still be reproduced on CML laptop with codec ALC711 -RT1308, RT715 in SDW mode. Test recipe is as below:
kernel: https://github.com/th

[2019-11-05 11:20] sinahuang commented on #1399
Verified the issue on TGL RVP in nocodec mode with topic/sof-dev + 10f5534, issue can't be reproduced.

Test for 1000 times.

Test recipe:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit: 4e76b4a +10f5534
FW: https://github.com/thesofproject/sof/commits/master commit: 0b7fd03
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711

[2019-11-05 11:26] YvonneYang2 commented on #952
Close this bug for NOT reproduced on HDA kernel. Track SDW issue on #1364

[2019-11-05 11:26] #952 closed

[2019-11-05 12:17] dengyangchao commented on #925
Error not seen after build kernel with config https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh, this config is for PR#1155 on both I2S and HDA.

Verified with below platforms:
CML laptop with onboard ALC3204 in HDA mode
CFL-S RVP with onboard ALC700 in HDA mode
ICL RVP with onboard ALC700 in HDA mode
GLK Chrome with onboard DA7219 in I2S mode
CML-S RVP with onboard ALC71

[2019-11-05 12:17] #925 closed

[2019-11-05 13:08] plbossart commented on #1399
@sinahuang ok, so if the nocodec path is fine, can you try w/ SoundWire again, but this time disable the HDAudio link with make menuconfig?

[2019-11-05 17:06] kv2019i commented on #952
Thank you @YvonneYang2 -- great to see this bug closed!

[2019-11-06 01:44] YvonneYang2 commented on #1395
Tested it with latest integration/soundwire-latest + #1412 , issue can still be reproduced.

Tested it 300 times, original issue occurred 4 times.
<details>
 <summary>ipc timed out for 0x30010000 size 84 dmesg log</summary>

[code]
</details>

[dmesg_failed_54.log](https://github.com/thesofproject/linux/files/3812118/dmesg_failed_54.log)

Beside, occurred 3 times "ipc timed out for 0x30200000 size

[2019-11-06 02:21] sathyap-chrome commented on #1426
Got few suggestions based on Mux and cvt settings currently used.
I've updated the UCM and its undergoing validation - once i've the report, i can close this.

Earlier Mux setting in UCM:

		cset "name='Pin5-Port0 Mux' 1"
		cset "name='Pin5-Port1 Mux' 2"
		cset "name='Pin5-Port2 Mux' 3"
		cset "name='Pin6-Port0 Mux' 1"
		cset "name='Pin6-Port1 Mux' 2"
		cset "name='Pin6-Port2 Mux' 3"
		cset "name=

[2019-11-06 02:44] xiulipan commented on #1434
@YvonneYang2 @kv2019i @dengyangchao Please try to use https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh to generate kconfig for both I2S, HDA and SDW codec test.
@plbossart Could we share kconfig for all codec paltforms now? Or we still need some separate kconfig for different codec?

If you find any issue with the default config, we may need some change or some other mod

[2019-11-06 02:46] Liviali155 commented on #1421
error not seen on 20191106, environmemt as below:
Kernel:4e76b4a1 https://github.com/thesofproject/linux/commits/topic/sof-dev
Firmware:9b6ad970 https://github.com/thesofproject/sof/commits/master

[2019-11-06 03:26] YvonneYang2 opened #1437 "[BUG][DMIC]The warning of DMIC requested rate is wrong."
Arecord0,4 rate is requested for 48000 Hz as below:
[code]

But when set arecord0,4 rate 16000 Hz, the warning is wrong. It says requested rate is 16000 rather than 48000 Hz
[code]

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 313bb6e
FW: https://github.com/thesofproject/sof/commits/master  commit: 9b6ad970
tplg: same path as FW branch,sof-t

[2019-11-06 03:32] macchian commented on #1426
Thanks Sathya. I did a quick test on kahaku and the new mux settings are both working between SST and MST audio separately.

[2019-11-06 04:24] YvonneYang2 commented on #1476
"ipc timed out for 0x80010000 size 120" still can be reproduced. Failed at 64th time.
<details>
 <summary>dmesg</summary>

[code]
</details>

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 313bb6e
FW: https://github.com/thesofproject/sof/commits/master  commit: 9b6ad970
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platfor

[2019-11-06 05:01] ClarexZhou commented on #1434
Error not seen with kconfig build from https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh
Close

[2019-11-06 05:01] #1434 closed

[2019-11-06 05:32] dengyangchao commented on #1424
After applied #1431 and tried on CFL-S RVP with onborad codec ALC700 in hda mode.
Tried 100 times issue can't reproduce

Note: need to add ```snd_hda_codec_hdmi``` in ```sof_remove.sh```.
[code]

[boot_1.log](https://github.com/thesofproject/linux/files/3812655/boot_1.log)

[2019-11-06 07:17] YvonneYang2 commented on #1364
Issue cannot be reproduced on SDW machine drivers after using @kv2019i common HDMI module.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 313bb6e
FW: https://github.com/thesofproject/sof/commits/master  commit: 9b6ad970

Platforms:
CML SDW Laptop with ALC711+ ALC1308+ ALC715
CML RVP with codec ALC700 in SDW mode

Note:
Not tested it on TGL RV

[2019-11-06 07:56] YvonneYang2 commented on #1364
Close the issue since not reproduced.

[2019-11-06 07:56] #1364 closed

[2019-11-06 08:46] YvonneYang2 opened #1438 "[BUG][SDW] UCM needs to be updated."
Since using @kv2019i  HDMI module now, ucm on CML SDW Laptop with ALC711+ ALC1308+ ALC715 needs to be updated.

If using old ucm, will occur :
1. Three HDMI/DP options are always shown in sound setting output source selection even without HDMI/DP external port connected. At the same time, check amixer contents and it shows HDMI/DP is disconnected.
2. Cannot play HDMI/DP source when selected HDMI/D

[2019-11-06 09:37] sinahuang commented on #1333
jhklj

[2019-11-06 09:51] sinahuang opened #1439 "[Bug][TGL][SDW] Can't hear audio output when aplay via headset without eDP display."
**Describe the bug**
Can't heart audio output when aplay via headset and arecord via headset always can't capture any audio.

Note:Error can't be reproduced if system boot up with eDP display connected.

**To Reproduce**
1.Reboot the system
2.Run"amixer contents | less" to check the "headphone jack" is off.
2.Run "aplay -Dhw:0,0 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav"  -->no au

[2019-11-06 09:57] sinahuang commented on #1439
Same behavior with #1333

[2019-11-06 09:57] YvonneYang2 opened #1440 "[BUG]Cannot detect HDMI/DP unplugged status when no monitor/eDP is connected after unplug"
If no monitor/eDP is connected after unplugging HDMI/DP, amixer contents cannot detect the unplugged status.

For example:
1. Only connect HDMI external port(no eDP or DP connected), then boot up.
2. Check amixer contents, it can detect HDMI connected status(HDMI Jack value is on)
3. Unplug HDMI external port, then there is no monitor and eDP connected. Check amixer contents, it still shows HDMI J

[2019-11-06 10:06] dengyangchao commented on #1440
Issue also can reproduce on CFL-S RVP with onboard codec ALC700 in HDA mode

Environment
Firmware: 9b6ad970 https://github.com/thesofproject/sof/commits/master
Kernel: 4e76b4a1 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2019-11-06 10:14] Liviali155 commented on #1440
issue can also be reproduced on apl up2 with codec  PCM512x in I2S mode
Environment
 Firmware: 9b6ad970 https://github.com/thesofproject/sof/commits/master
 Kernel: 4e76b4a https://github.com/thesofproject/linux/commits/topic/sof-dev
 Topology: file: tools/topology/sof-apl-pcm512x.tplg  same as firmware

[2019-11-06 10:14] YvonneYang2 commented on #1364
Other detect HDMI/DP issue on  ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode will track in https://github.com/thesofproject/linux/issues/1440

[2019-11-06 13:57] slawblauciak commented on #1460
@plbossart @bardliao are there any findings that might point what's actually wrong here?
I presume this would have to be continued to be debugged on both sides (FW/kernel).
Anything on the FW side to make it go smoother?

Also, not familiar with such an IPC, to align the timestamps. I'll check.

[2019-11-06 14:18] plbossart commented on #1438
@kv2019i can you help? the suggested UCM file is here: https://github.com/thesofproject/alsa-ucm-conf/blob/master/ucm/sof-sdw-rt711-1308-715/HiFi

[2019-11-06 14:32] plbossart commented on #1460
@slawblauciak I haven't had time to drill down further. I still think it's a kernel bug with the wrong data port settings applied, that's the only rational explanation for the bus clash
I plan to try with fixed settings, e.g. initialize all ports on startup and just play with enable/disable to confirm my theory.
It's a difficult one to debug indeed.

[2019-11-06 16:17] sathyap-chrome commented on #1426
Validation reports are good. will close this issue.

[2019-11-06 16:17] #1426 closed

[2019-11-06 23:32] sathyap-chrome commented on #1426
[HiFi.conf_helios.txt](https://github.com/thesofproject/linux/files/3817166/HiFi.conf_helios.txt)
[HiFi.conf_kohaku.txt](https://github.com/thesofproject/linux/files/3817167/HiFi.conf_kohaku.txt)

The UCM files used

[2019-11-07 01:09] plbossart commented on #1460
@slawblauciak @tlauda @bardliao I have traced and double checked all ports, alternate banks and can't find a bad configuration or smoking gun.

At this point my hypotheses as to what the root cause might be:

a) a misunderstanding on what happens in the hw_free case. the configuration I end-up sending is this
[code]
When I look at the firmware code, it's unclear to me if this value is used for any

[2019-11-07 01:21] plbossart commented on #1460
Latest trace attached for reference. No trace of problems with port configurations.

[dmesg7.log](https://github.com/thesofproject/sof/files/3817416/dmesg7.log)

[2019-11-07 02:23] aiChaoSONG opened #1441 "[Bug][CML] ipc timeout when aplay via speaker pipeline on Chromebook"
**Bug Description**

***sof-dev + cml-008-drop-stable:***
Everytime do playback via speaker pipeline (hw:0,5), there will be io error in terminal, check dmesg, you will see ipc timeout. this seems to be the rt1011 machine driver is not ready to work with sof.
this phenomenon is observed both on ChromeOS and Ubuntu1804.

***keyword_dectect + cml-007-drop-stable:***
Do playback via speaker pipeline

[2019-11-07 02:46] Liviali155 commented on #1421
rror not seen on 20191107, environmemt as below:
Kernel:872e5e80 https://github.com/thesofproject/linux/commits/topic/sof-dev
Firmware:7fe0dbd2https://github.com/thesofproject/sof/commits/master

[2019-11-07 02:54] aiChaoSONG commented on #1424
Issue not reproduced on Dell laptop with HDA codec after #1431 merged

[2019-11-07 03:18] mengdonglin commented on #1331
@xiulipan It seems to be ALC711 specific. Can you please involve Realtek to check?

[2019-11-07 04:30] xiulipan commented on #1331
@ClarexZhou @sinahuang Could you try:
-  legacy HDA to check if this is codec specific
-  to use some external sound card to record some pop-noise?

[2019-11-07 04:32] dengyangchao commented on #1424
Test  on CML Chrome with onborad codec RT5682 in I2S mode, with #1431, behavior is changed to below 'BUG: kernel NULL pointer dereference, address: 0000000000000108'.

Reproduce Rate: 5/5

**Environment**
Firmware: 7fe0dbd2 https://github.com/thesofproject/sof/commits/master
Kernel:872e5e80 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-cml-rt5682-m

[2019-11-07 04:46] wenqingfu commented on #1421
this has been confirmed as a CI issue, right? @xiulipan

[2019-11-07 04:54] sinahuang commented on #1399
Verified the issue on TGL RVP with codec in SDW mode after disabling HDAudio link, issue can't be reproduced.

Test for 1000 times

Test recipe:

Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 35dd388
FW: https://github.com/thesofproject/sof/commits/master commit: 9844920
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-

[2019-11-07 05:27] xiulipan commented on #1421
@wenqingfu Yes, the alas-mixer setting for codec is not restore right as the card name change.
Now we have update the setting.

[2019-11-07 06:17] dengyangchao commented on #1424
Issue can't reproduce on
GLK Chrome with onboard codec DA7219 in I2S mode
ICL RVP with onboard codec ALC700 in HDA mode
CFL-S RVP with onboard codec ALC700 in HDA mode

Environment
Firmware: 7fe0dbd2 https://github.com/thesofproject/sof/commits/master
Kernel:872e5e80 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-11-07 06:54] Liviali155 commented on #1415
Keep kernel at sof-dev 872e5e80
Move sof to master 8e4d0c9  (Oct 11th)， issue can be  reproduced,at the same time ,issue #2044 can  also be reproduced
Move sof to master 46d080d  (Oct 11th), tried 2000 times,issue can not be reproduced,at the same time,issue  #2044 can not be reproduced
So it seems like commit 8e4d0c9  introduced this issue as issue #2044
https://github.com/thesofproject/sof/issue

[2019-11-07 07:45] prestige-wang opened #1444 "No sound output if DSP enabled [IPL-EVT-C1][8086:a3f0]"
Bug Description

On Impala platform, when BIOS enabled DSP, there is no sound output on Ubuntu.

To Reproduce
Boot in Ubuntu 18.04 SP1.

Reproduction Rate
100%

Environment
Platform: Impala 21.5 AIO (CML-S B460C PCH)
OS: Ubuntu 1804 SP1
Audio device: Intel Corporation Device a3f0 (prog-if 80)

[2019-11-07 08:18] sinahuang commented on #1331
Check on legacy HDA, issue can't be reproduced.
Test on CML laptop with codec ALC3204 in HDA mode, issue can't be reproduced
Test on CFL-S RVP with codec ALC700 in HDA mode, issue can't be reproduced.

Pop noise wav files as below:
[POP wav files.zip](https://github.com/thesofproject/linux/files/3818473/POP.wav.files.zip)

 External sound card to record display as below:
Pop noise at starting:
<im

[2019-11-07 08:55] cooper-chiou commented on #1444
I provided test patch to OSV for validation since there is no audio pci device id for CML-S per checked.

[2019-11-07 09:05] dengyangchao opened #1446 "[BUG][CML]Module unload occur kernel NULL pointer dereference/unable to handle page fault"
**Describe the bug**
Module unload occur ```BUG: kernel NULL pointer dereference, address: 0000000000000108```
and sometimes occur ```BUG: unable to handle page fault for address: ffffffffc0941060```

**To Reproduce**
1.Disable pulseaudio and Reboot system via "sudo reboot"
2.Wait  runtime PM to suspended status
3.Run ```sof_remove.sh```

**Reproduction Rate**
Tried 5 times
2times occur```BUG: ker

[2019-11-07 09:09] YvonneYang2 commented on #1376
1. Play a video, do pause/release, issue cannot be reproduced.
2. Paplay via "paplay test.wav" , switch to background and back to foreground, issue also cannot be reproduced.
3. Suspend with deep mode when system is idle with headphone connected, **will has one pop noise.** (s2idle mode is blocked by https://github.com/thesofproject/linux/issues/1387)

Test recipe:
kernel: https://github.com/theso

[2019-11-07 09:12] dengyangchao commented on #1424
Close the issue since can't reproduce.  other issue track on #1446

[2019-11-07 09:12] #1424 closed

[2019-11-07 09:35] kv2019i commented on #939
@ranj063 ++votes -- having a systematic false error printout in such a common flow is very bad.

[2019-11-07 09:49] kv2019i commented on #920
@jason77-wang Coming back to this issue. We have now got the common HDMI driver merged upstream, so the difference in HDMI control names between non-DSP and DSP (SOF) configurations has been removed.

DMIC remains, but you can now support configurations without UCM by modifying ALSA and pulseaudio configurations, but we believe UCM is still the better approach long-term as you will get well-define

[2019-11-07 10:26] sinahuang opened #1447 "[TGL][BUG]Dmesg shows "ASoC: failed to init link SSP2-Codec: -517" when do module reload."
**Describe the bug**
Dmesg occured "ASoC: failed to init link SSP2-Codec: -517" when do module reload.

**To Reproduce**
1.Boot up system.
2.Run "sudo ./sof_remove.sh".
3.Waiting for 5s.
4.Run "sudo ./sof_insert.sh"
5.Run "aplay -l" to check, display "no soundcard".

**Frequency**
5/5

**Expected result**
No failed info should display when do module reload.

**Actual result**
Module reload occured

[2019-11-07 11:04] paulstelian97 commented on #939
Also agreed, this may be shown as a notice or perhaps warning but no need to show as error as it doesn't normally impact the flow. I wonder whether this should be a verbose trace though (I think not?).

[2019-11-07 12:09] kv2019i commented on #1438
Ack @plbossart and @mengdonglin . I'll upload a patch.

[2019-11-07 14:48] #1438 closed

[2019-11-07 14:49] plbossart commented on #1438
@YvonneYang2 GitHub closed the issue but please double-check on your side.

[2019-11-07 15:50] plbossart commented on #1399
thanks @sinahuang
What this means is that we have a difference in the initialization of our hardware, and somehow the code that's executed with SOF_HDA_LINK interferes with the controller reset.
Maybe a problem with the i915/HDMI stuff.

That's not an easy one to fix. @mengdonglin @wenqingfu FYI, we need folks to look into this.

[2019-11-07 16:15] plbossart commented on #1331
@sinahuang you'd need to test with an RT711 in HDaudio mode, those are available on unmodified TGL RVPs

[2019-11-07 16:34] plbossart commented on #1446
@bardliao can you take a look, this seems to be related to rt5682?

[2019-11-07 16:36] plbossart commented on #1376
@YvonneYang2 is this the right bug? You closed this 7 days ago?

[2019-11-07 16:40] plbossart commented on #1447
@sinahuang can you try adding in sof_insert.sh
insert_module snd_soc_rt1308

for now we insert_module snd_soc_rt1308_sdw, but I am not sure this is enough to force the codec to probe again.

[2019-11-07 16:49] plbossart commented on #939
@keyonjie and @aiChaoSONG had a proposal to remove this error. It went nowhere I am afraid

[2019-11-07 17:06] keyonjie commented on #939
yes, it's here: https://github.com/thesofproject/linux/pull/1189
@aiChaoSONG can you please proceed it?

[2019-11-08 00:38] plbossart commented on #1460
@tlauda @slawblauciak @bardliao :

I got it. This was option c).

the following change in intel_prepare() fixes this specific issue

[code]

This was added to make sure that on resume, where all context was lost, we reconfigure ALH/SHIM/firmware.

But when intel_prepare() is called because of an underflow, with a running stream, then this violates one of the explicit requirements in the cAVS Progr

[2019-11-08 02:13] sinahuang commented on #1447
Check this issue after insert_module snd_soc_rt1308 in sof_insert.sh, issue can't be reproduced.
So closed it.

[2019-11-08 02:20] keyonjie commented on #1441
0      2          DMA         182369944.947917     12677.656250 src/drivers/dw/dma.c:1044               dw_dma_free_data_size() size is 0! Channel enable = 0.
0      2       BUFFER         182369967.135417        22.187500   src/audio/buffer.c:126                comp_update_buffer_produce(), no bytes to produce, source->comp.id = 35, source->comp.type = 5, sink->comp.id = 38, sink->comp.type = 2

[2019-11-08 02:33] aiChaoSONG commented on #1441
Keyon said Machine driver of rt1011 on sof-dev is the same as 007 release, let's move this issue to sof, see [sof issue 2075](https://github.com/thesofproject/sof/issues/2075)

[2019-11-08 02:33] #1441 closed

[2019-11-08 02:34] keyonjie opened #1449 "kmod test hang on BSW_CYN_MAX98090"
On BSW_CYN_MAX98090, running sof_insert.sh after sof_remove.sh scripts to test sof module unload/reload capability, it will hang the whole Linux system.

[2019-11-08 03:07] sinahuang commented on #1447
Verified the issue after insert_module snd_soc_rt1308 in sof_insert.sh, run "aplay -l" can display the devices info, but dmesg still show the error info "ASoC: failed to init link SSP2-Codec: -517".

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: b12acfe
FW: https://github.com/thesofproject/sof/commits/master commit: 5211799
Tplg: Same

[2019-11-08 03:11] sinahuang commented on #1331
Currently only TGL and CML-S have RT711 in HDA mode. On both platforms , this issue can be reproduced with SOF, while cannot with legacy HDA driver

[2019-11-08 03:22] YvonneYang2 commented on #1344
Issue can still be reproduced when run aplay0,2 (RT1308) stop/restart stress test. Failed at 14th time.
Run with command " ./sof-test-playback.sh"

Script:
[sof-test-playback.sh.txt](https://github.com/thesofproject/linux/files/3822851/sof-test-playback.sh.txt)

<details>
 <summary>dmesg</summary>

[code]
</details>

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soun

[2019-11-08 03:41] dengyangchao opened #1450 "[BUG][CML]unplug/plug headset during aplay ,sound setting occur Dummy Output"
**Describe the bug**
Unplug/plug headset during aplay sound setting occur Dummy Output, alsamixer shows headphone and speaker muted

**To Reproduce**
1.Reboot system via"sudo reboot"
2.Wait runtime PM to suspended status
3.plug headset and aplay via```aplay -Dhw:0,0 -fs16_le -c2 -r 48000 test.wav -vv -i```
4.unplug/plug headset

**Reproduction Rate**
5/5

**Expected behavior**
unplug headset outpu

[2019-11-08 04:49] ClarexZhou commented on #1450
@jajanusz  This issue only occurred when plug/unplug headset during aplay. Error not seen when plug/unplug during paplay or idle.
Issue occurred after separate speaker and headset profile in UCM.

[2019-11-08 06:04] bardliao commented on #1446
@dengyangchao Could you check if https://github.com/thesofproject/linux/pull/1452 work?

[2019-11-08 07:18] juimonen commented on #1450
yes I can reproduce. I'm not sure we are able to handle all use cases here from all layers... pulseaudio tries to move the output to card 0 (back to speakers), but it can't open it as it is "Device or resource busy" as we are playing at the same time with aplay to same device... @plbossart @kv2019i asking your advice as better alsa experts: should the access to sof/alsa cards be mutually exclusive

[2019-11-08 07:20] juimonen commented on #1450
@jajanusz I think our nicks are resembling each others from far away, but feel free to jump on board :)

[2019-11-08 07:30] juimonen commented on #1450
so pulseaudio can't understand that "oh someone else is playing to alsa than me, but I should still do routing, but not open the device, just set ucm verbs".

[2019-11-08 07:33] sinahuang opened #1453 "[TGL][BUG][Deep]Dmesg shows "error: ipc timed out for 0x40010000 size 76" when doing S3 suspend & resume without playback in stress test."
**Describe the bug**
Dmesg shows "error: ipc timed out for 0x40010000 size 76" when do suspend & resume without playback stress test.
 Issue occurs when do deep suspend. S2idle suspend can't be tested, because it is blocked by issue #1387

**To Reproduce**
1.Boot up system.
2.Switch to deep suspend mode via "echo deep>/sys/power/mem_sleep"
3.Run "sudo ./stress-s3.sh 100 1 0".

**Frequency**
Test f

[2019-11-08 07:58] dengyangchao commented on #1446
@bardliao After applied #1452 , run 50 times and issue can't reproduce
[code]

[boot_0.log](https://github.com/thesofproject/linux/files/3823471/boot_0.log)

[2019-11-08 08:08] Liviali155 commented on #1421
error not seen on 20191108, environmemt as below:
Kernel:872e5e80 https://github.com/thesofproject/linux/commits/topic/sof-dev
Firmware:52117991 https://github.com/thesofproject/sof/commits/master

[2019-11-08 08:12] Liviali155 commented on #1421
Closed for can  not  be reproduced

[2019-11-08 08:15] #1421 closed

[2019-11-08 08:19] Bin-QA commented on #1326
update for test with Kernel: intel-next kernel, tag intel-5.4-rc5-2019-11-01, commit id: 7b848274047

[code]

This call trace catch from SOF & Legacy HDA

[2019-11-08 08:21] keqiaozhang opened #1454 "[BUG][CML] Unable to change the PGA* value in alsamixer on Chromebook"
**Bug Description**

On ChromeOS, all PGA* controls cannot be changed in alsamixer, the default value of each PGA are also not correct.  if you adjust it via up/down arrow once, it will be set as 0 and can not be changed again.

But amixer is working well, you can change the volume for each PGA via amixer.  so it won't affect UCM.
This issue is only observed on ChromeOS, no such issue on Ubuntu, e

[2019-11-08 08:44] bardliao commented on #1344
``[  196.135457] rt1308 sdw:1:25d:1308:0: Initialization not complete, timed out``
I think it is the problem. I will look into it.

[2019-11-08 09:00] YvonneYang2 commented on #1344
@bardliao
Same dmesg log shows when run aplay0,0 (RT711) stop/restart stress test. Failed at 199th time.

Original issue reproduced steps cannot be tested since suspend with s2idle mode is blocked by https://github.com/thesofproject/linux/issues/1387 ,
[code]

[aplay_error_199_dmesg.log](https://github.com/thesofproject/linux/files/3823740/aplay_error_199_dmesg.log)
[aplay_error_199_logger_all.log

[2019-11-08 09:27] bardliao commented on #1344
@plbossart Somehow there is no intel_resume_runtime around the "Initialization not complete, timed out" (rt1308_dev_resume)
The following trace is from aplay_error_14_dmesg.log
[code]

[2019-11-08 09:31] kv2019i commented on #1450
@juimonen and @dengyangchao I would not classify this as a bug. If you run pulseaudio and any apps that access ALSA devices natively (like aplay in this case), at the same time, all bets are off. Pulseaudio is not designed to handle cases like this and you will get failures.

[2019-11-08 10:06] YvonneYang2 opened #1455 "[BUG][SDW]Dmesg sometimes suddenly prints repeat infomation "i2c_designware i2c_designware.1: timeout waiting for bus ready"(Random)"
**Describe the bug**
Demsg print same infomation "i2c_designware i2c_designware.1: timeout waiting for bus ready" over and over again. System cannot response till dmesg finish printing message(about 1 minute) which ended with "i2c_designware i2c_designware.1: timeout in disabling adapter".

**To Reproduce**    Note: Do aplay still can reproduce the issue.
1. Boot up
2. Switch to deep suspend mode

[2019-11-08 10:25] YvonneYang2 commented on #1438
Checked it with newest https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm/sof-sdw-rt711-1308-715 , ucm works fine.

[2019-11-08 10:35] sinahuang commented on #1399
HDAudio links always are disabled in TGL SDW test, for blocked by TGL i915 issue.

Issue still can be reproduced on TGL RVP in SDW mode when do multiple_pipeline-test stress test.

Test for 500 time, failed at 81th time.

<details>
 <summary>dmesg logger</summary>

[code]
</details>
**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: b12acf

[2019-11-08 11:56] bardliao commented on #1344
@plbossart I think the reason why there is no intel_resume_runtime around rt1308_dev_resume is that
 we call [pm_runtime_mark_last_busy()](https://github.com/thesofproject/linux/blob/integration/soundwire-latest/drivers/soundwire/intel.c#L1024) in intel_shutdown(), but not in codec's shutdown dai ops. I tried to do the same on rt1308-sdw.c but it doesn't solve the issue. On second thought, I think

[2019-11-08 15:02] plbossart commented on #1447
#define EPROBE_DEFER      517

This is not a real error, this means the core will retry the probe at a later point. If the probe succeed at a later point we are good.

[2019-11-08 15:28] plbossart commented on #1455
@YvonneYang2 can you try with SOF_HDA_LINK disabled? wondering if this is i915-related.

It's clearly not an SOF bug though

[2019-11-08 17:33] plbossart commented on #1344
tthanks @bardlio, good analysis

so the sequence is

(1) resume, playback, stop
(2) intel_shutdown() gets called, we call put_autosuspend()
(3) timeout in rt1308_dev_resume()
(4)playback restarts, we call intel_startup() and call pm_runtime_get()

I guess what happens is that the DAIs are released, so the codec suspends, but the master does not suspend so as a result we will not force the codec to

[2019-11-08 23:52] plbossart commented on #1344
@bardliao @YvonneYang2 PR #1459 should solve this bug, please double-check.

[2019-11-09 00:42] plbossart commented on #1460
@bardliao can you try the branch fix/sdw_dai_prepare on my GitHub, it's a POC on how we could keep track of the suspend information. there is no .suspend for the dai ops, but there is one for the dai_driver, so that might work for us.

I couldn't make it work on the laptop, looks like deep sleep is not supported, and I have no time left to test on RVP, hopefully you can take a look early next week

[2019-11-09 02:10] keyonjie commented on #1449
it looks sometimes we can't take the DSP out from stalled state at module reload, and then dsp boot fails.

[2019-11-09 08:15] keyonjie commented on #1449
I have tried ~100 kernel builds/tries, but still can't figure out fix for this, the CSR_PWAITMODE bit will have high possibility to be 1 which means we can't take the DSP out from stalled state after module unloaded/reloaded, this issue only happens on BSW but on BYT or CHT.

[2019-11-09 09:36] keyonjie commented on #1449
I also tried SST ATOM driver, which didn't support module unload/reload.

[2019-11-09 11:31] keyonjie commented on #1449
looks the PCI config register is inaccessable, I can't set the DSP to D3hot state.

[2019-11-11 02:30] bardliao commented on #1344
@plbossart I tested ./sof-test-playback.sh and it passed for 500 times

[2019-11-11 02:31] RanderWang commented on #1455
I checked /proc/interrupt and found i2c.designware.1 share irq with audio. Maybe it is a interrupt issue.
I recommend to test it with MSI disabled and legacy irq enabled.

[2019-11-11 03:00] sinahuang commented on #1439
Issue still can be reproduced on TGL RVP with onboard ACL711 in SDW mod and ALC1308 in I2S mode.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: 391b5f9
FW: https://github.com/thesofproject/sof/commits/master commit: fb068e6
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Platf

[2019-11-11 03:21] dengyangchao commented on #1446
Since #1452 merged， issue can't reproduce, close.

[2019-11-11 03:21] #1446 closed

[2019-11-11 04:40] sinahuang commented on #1447
Closed it, since it is not a real error.

[2019-11-11 04:40] #1447 closed

[2019-11-11 05:13] bardliao commented on #1460
@plbossart It works on my side. :)

[2019-11-11 05:18] sinahuang commented on #1387
Issue still can be reproduced on TGL RVP with onboard ACL711 in SDW mod and ALC1308 in I2S mode.
<details>
 <summary>dmesg logger</summary>

[code]
</details>
**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: 391b5f9
FW: https://github.com/thesofproject/sof/commits/master commit: fb068e6
Tplg: Same with TGL FW branch commit: sof-tgl-rt711

[2019-11-11 05:49] mengdonglin commented on #1437
Closed as a fake issue. The warning is correct.

[2019-11-11 05:49] #1437 closed

[2019-11-11 05:58] ClarexZhou commented on #1411
Error not occurred on release/sof-v5.0 (abbc71ca) with pulseaudio 11.1, might related with #1000
Stream underrun is also display when wake up. But paplay isn't stop, still continues to play.
**Test Recipe**
Kernel repo	https://github.com/thesofproject/linux/commits/release/sof-v5.0 (abbc71ca)
Firmware repo	https://github.com/thesofproject/sof/commits/cml-hda-dmic-002-drop-stable (0f736283)
Topolog

[2019-11-11 06:00] mengdonglin commented on #1387
@sinahuang we need to wait for  #1418 being merged by sof-dev and integration/soundwire-latest, and then double check SDW use cases.

[2019-11-11 07:12] bardliao commented on #1373
@YvonneYang2 Could you retest it? It should be fixed now.

[2019-11-11 07:12] YvonneYang2 commented on #1455
Checked it with legacy interrupt mode, issue can still be reproduced.

<details>
 <summary>dmesg</summary>

[code]
</details>

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 391b5f9c
FW: https://github.com/thesofproject/sof/commits/master  commit: fb068e6a-2
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW L

[2019-11-11 07:50] YvonneYang2 opened #1462 "[BUG][SDW]Aplay0,0(RT711) has no sound output after waking up from deep s3"
**Describe the bug**
 Aplay0,0(RT711) has no sound output but console shows it's still running after waking up from deep suspend.  Or arecord0,1 (RT711) capture empty audio after waking up from deep s3

**To Reproduce**
1. Boot up, then switch to deep suspend mode via "sudo echo deep > /sys/power/mem_sleep"
2. Aplay0,0(RT711) via "aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -

[2019-11-11 08:19] RanderWang commented on #1439
This is caused by JD source.  On TGL RVP, JD1 is used but ACPI reports JD2

[2019-11-11 09:23] YvonneYang2 commented on #1476
Checked it 300 times with legacy interrupt mode, issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 391b5f9c
FW: https://github.com/thesofproject/sof/commits/master  commit: fb068e6a
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-11 09:24] Liviali155 opened #1463 "[BUG]Output very loud at the beginning when aplay via headset(0,0) or media playback(0,4) from Runtime PM status suspend mode"
**Describe the bug**
Output very loud at the beginning when aplay via headset(0,0) or media playback(0,4) from Runtime PM status suspend mode

**To Reproduce**
1.sudo reboot
2.cat "/sys/bus/pci/devices/0000:`lspci | grep -i audio | cut -d ' ' -f 1`/power/runtime_status"
suspend
3.aplay -Dhw:0,4 -r48000 -c2 -fs16_le wav/sine_48k_stereo_440.wav  -vv -i  or
   aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/

[2019-11-11 09:51] YvonneYang2 commented on #1462
Issue cannot be reproduced after close the TPM2.0 in BOIS setting. So close the bug.

[2019-11-11 10:22] YvonneYang2 commented on #1462
Checked it on RT1308, issue cannot be reproduced. Seems issue only reproduce on RT711. Codec logs as below:

[register_fail.txt](https://github.com/thesofproject/linux/files/3830824/register_fail.txt)
[register_ok.txt](https://github.com/thesofproject/linux/files/3830825/register_ok.txt)

[2019-11-11 13:40] lgirdwood commented on #1476
@YvonneYang2 are you confirming issue is resolved with legacy IRQ mode but still valid fro MSI IRQ mode ?

[2019-11-11 13:51] kv2019i opened #1464 "[TGL] HDMI jack detection not working"
HDMI monitor jack status detection is not working on TGL.

FYI  @xiulipan

[2019-11-11 13:53] kv2019i commented on #1464
By switching to common HDMI codec driver and with following patch, jack detection works as expected:
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/158328.html

[2019-11-11 15:20] plbossart commented on #1439
@RanderWang what do you mean by "ACPI reports JD2"? We typically have no information on jack detection in DSDT tables?
Or could it be that we apply the wrong DMI quirk?
Confused on your problem statement

[2019-11-11 22:56] plbossart commented on #1387
@sinahuang @mengdonglin integration/soundwire-latest now has all the known fixes for suspend/resume please retry (along with the latest firmware)

[2019-11-11 22:57] plbossart commented on #1373
@YvonneYang2  @mengdonglin integration/soundwire-latest now has all the known fixes for suspend/resume please retry (along with the latest firmware)

[2019-11-11 22:57] plbossart commented on #1344
@sinahuang   @mengdonglin integration/soundwire-latest now has all the known fixes for suspend/resume please retry (along with the latest firmware)

[2019-11-11 23:00] plbossart commented on #1462
@YvonneYang2  @mengdonglin integration/soundwire-latest now has all the known fixes for suspend/resume please retry (along with the latest firmware)

I tested with rtcwake mem/freeze and no issues seen on my side

[2019-11-11 23:01] plbossart commented on #1460
@YvonneYang2  @mengdonglin integration/soundwire-latest now has all the known fixes for suspend/resume please retry (along with the latest firmware)

[2019-11-11 23:38] cooper-chiou commented on #1444
validated PASS on customer system, and patch has committed to upstream by https://patchwork.kernel.org/patch/11235833/, please review. Thanks,

[2019-11-11 23:56] plbossart commented on #1455
@YvonneYang2 For me when I try to suspend in 'deep' mode the device reboots. I can't reproduce your sighting.

@RanderWang can you clarify your finding, I don't see anything connected to I2S in /proc/irq

[code]

[2019-11-11 23:58] plbossart commented on #1453
@sinahuang please retest with s2idle first, this should work now.

[2019-11-12 00:03] plbossart commented on #1450
Agree with @kv2019i
first this is not an SOF bug,
It's not a scenario we care about and want test results on.
The other question is why you have a Dummy Output in the first place? That should not happen.

[2019-11-12 00:04] plbossart commented on #1449
@keyonjie have you tried on other non-chrome CHT devices? I can't recall seeing those problems.

[2019-11-12 00:05] plbossart commented on #1444
@cooper-chiou is the DSP enabled on CML-S, and if yes shouldn't we enable it w/ SOF?

[2019-11-12 00:07] plbossart commented on #1440
@Liviali155 the best result would be to try Up2 w/ HDMI without any I2S code (w/ hda-generic-idisp mode)

[2019-11-12 00:13] cooper-chiou commented on #1444
@plbossart this customer's project (Impala) didn't have PCH-DMIC design, and BIOS enabled DSP to support Win APO feature per customer mentioned.

[2019-11-12 00:29] plbossart commented on #1444
@cooper-chiou did you mean "BIOS did not enable DSP"?

[2019-11-12 00:36] plbossart opened #1466 "kernel oops during sof_bootloop.sh test"
Just saw this on SoundWire device, this may be related to recent ALSA/soc-core changes?

[code]

[2019-11-12 00:40] keyonjie commented on #1449
@plbossart no, the BSW_CYN_MAX98090 is the only BSW I have ever touched.

BTW, I have a fix for this issue now, basically I need to send IPC to FW to inform about this driver module removal, working on refining it.

[2019-11-12 00:42] plbossart commented on #1449
if these tests work on MinnowBoard and other BYT devices, I am not sure why the extra IPC is needed.
For me the issues on Cyan where due to GPIO stuff.

[2019-11-12 00:59] keyonjie commented on #1449
That's true, though I think the extra IPC sounds reasonable, but it does require many regression test efforts on all platforms as this is a core change.

Um, can you get some information about this? It is an old platform, might be difficult to get support or information about it.

[2019-11-12 01:07] plbossart commented on #1466
This seems to happen during a pm_runtime resume operation

[code]

[2019-11-12 01:09] bardliao commented on #1455
I can always see the i2c timeout on my sdw laptop even though SOF modules are not loaded. My reproduce procedures is.
1. blacklist snd_sof_pci
2. reboot the device
3. echo deep>/sys/power/mem_sleep
4. sudo rtcwake -m mem -s 5
5. dmesg and I will see "i2c_designware i2c_designware.0: controller timed out"

[2019-11-12 01:14] plbossart commented on #1466
same problem on HDAudio+DMIC machine... Gah.

[2019-11-12 02:20] xiulipan commented on #1464
@kv2019i With hdac_hdmi and eDP connected the jack dection is working.
I will cherry-pick the patches to test.

PS: could you test with/without eDP? To us it will show different result.

@Bin-QA Could you test this later?

[2019-11-12 02:47] YvonneYang2 commented on #1476
@lgirdwood
Yes, issue still can be reproduced with MSI IRQ mode while cannot be reproduced with legacy IRQ mode.

Tested it 300 times with legacy IRQ mode , issue cannot reproduced,
Tested it with MSI IRQ mode, failed at 4th time.

**dmesg with MSI mode**
[code]

[multipipeline_test_4_dmesg.log](https://github.com/thesofproject/sof/files/3834135/multipipeline_test_4_dmesg.log)
[sof-trace.log](http

[2019-11-12 03:20] sinahuang commented on #1453
Test the issue with legacy interrupt mode, issue can't be reproduced.

Test for 500 times.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: 391b5f9
FW: https://github.com/thesofproject/sof/commits/master commit: fb068e6
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Platform:TG

[2019-11-12 04:40] sinahuang commented on #1399
Test the issue with legacy interrupt mode, issue still can be reproduced when doing multiple_pipeline-test stress test.

Test for 500 times, failed at 207th time.
[code]

Test recipe

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest commit: 391b5f9
FW: https://github.com/thesofproject/sof/commits/master commit: fb068e6
Tplg: Same with TGL FW branch commit: sof-tgl

[2019-11-12 05:49] Liviali155 commented on #1440
I used sof-hda-generic-idisp.tplg to verify,issue can reproduce,details as below:
Firmware: b27b218a https://github.com/thesofproject/sof/commits/master
Kernel: 0e1a9616 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-idisp.tplg same as firmware

[2019-11-12 06:24] sinahuang commented on #1387
Test this issue with legacy interrupt mode and MSI mode, original issue can't be reproduced on both mode.

But there are some other  errors shows "error: cl_dsp_init: timeout for HIPCIE done" in dmesg when verified this issue with legacy mode and MSI mode.

Scenario 1: aplay0,0 --> pause --> s3 --> wake up then resume -->dmegs shows "error: cl_dsp_init: timeout for HIPCIE done"

Scenario 2: aplay0

[2019-11-12 06:47] YvonneYang2 opened #1468 "[SDW][BUG]ipc timed out for 0x40080000 size 32 occurred when run reboot stress test with legacy IRQ mode"
**Describe the bug**
With legacy IRQ mode, ipc timed out for 0x40080000 size 32 occurred when run reboot stress test. Failed at 147th time.

**To Reproduce**
1. Run "sudo ./test-reboot.sh 300"

[test-reboot.sh.txt](https://github.com/thesofproject/linux/files/3834729/test-reboot.sh.txt)

**Reproduced rate**
Run 300 times, failed 5 times

**Expected result**
No error occurred when run reboot stress

[2019-11-12 06:52] YvonneYang2 commented on #1468
Will test it with legacy mode + https://github.com/thesofproject/linux/pull/1451 to check if can resolve this issue

[2019-11-12 07:01] juimonen commented on #1450
@plbossart pulseaudio will always move the playback to dummy output when routing between devices (or profiles), because it takes time to create new output device and old output is just vanishing. You see this in headphone/speaker case because I created separate profiles (use cases) for them. However even if everything would be 1 use case, you would see this between hdmi ->speaker/headphone switch

[2019-11-12 07:25] juimonen commented on #1417
so are our topologies meant to be backwards compatible with old firmware?

[2019-11-12 07:46] sinahuang commented on #1463
Issue still can be reproduced on TGL RVP with onboard ACL711 in SDW mod and ALC1308 in I2S mode.

scenario1: aplay -Dhw:0,0 -r48000 -c2 -fs16_le cut.wav -vv -i-->the audio become louder at the beginning.

scenario2:aplay -Dhw:0,0 -r48000 -c2 -fs16_le cut.wav -vv -i-->s3-->wake up-->the audio become louder at the beginning.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/int

[2019-11-12 08:21] RanderWang commented on #1455
oh, I am using legacy IRQ, so I got this finding

root@dell-cml:/proc/irq/17# ls -l
total 0
-r--r--r-- 1 root root 0 10月 20 21:01 affinity_hint
dr-xr-xr-x 2 root root 0 10月 20 21:01 AudioDSP
dr-xr-xr-x 2 root root 0 10月 20 21:01 AudioHDA
-r--r--r-- 1 root root 0 10月 20 21:01 effective_affinity
-r--r--r-- 1 root root 0 10月 20 21:01 effective_affinity_list
dr-xr-xr-x 2 root root 0 10月 20 21:01 i2c_d

[2019-11-12 09:09] YvonneYang2 commented on #1460
Issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 2933f73
FW: https://github.com/thesofproject/sof/commits/master  commit: d1dcdfe
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-12 09:11] YvonneYang2 commented on #1460
Close it since issue not reproduced.

[2019-11-12 09:11] #1460 closed

[2019-11-12 09:23] juimonen commented on #1417
1.3 based topology should be here:
https://github.com/thesofproject/sof/commits/cml-hda-dmic-002-drop-stable

[2019-11-12 10:31] YvonneYang2 commented on #1373
Checked it on CML laptop, issue cannot be reproduced.
CPU on ICL RVP is broken, will test it tomorrow. If issue is not reproduced, will close the bug.

[2019-11-12 10:39] dengyangchao commented on #1463
Issue can not reproduce on:
CFL-S RVP with onborad codec ALC700 in HDA mode
ICL RVP with onborad codec ALC700 in HDA mode
GLK Chrome with onbord codec DA7219 in I2S mode
APL UP2  nocodec
BYT MB  nocodec
BYT MB  rt5682 in I2S mode

Issue can reproduce on:
APL UP2 with codec PCM512X in I2S mode
TGL RVP with onboard ALC711 in SDW mod and ALC1308 in I2S mode
CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-12 10:52] YvonneYang2 commented on #1344
Error not seen in 500 times aplay stress test.
Original steps suspend/resume stress test in MSI mode is still on going.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 2933f73
FW: https://github.com/thesofproject/sof/commits/master  commit: d1dcdfe
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with

[2019-11-12 11:04] YvonneYang2 commented on #1462
There are two CML laptops on my side, only one laptop can reproduce the issue. The reproduced HW was just received and set up yesterday.

Tested it with legacy and MSI mode , issue can be reproduced on both mode.

[2019-11-12 11:21] YvonneYang2 commented on #1476
Error not seen after 150 times multipipline stress test with latest integration/soundwire-latest and master. Will increase the stress iterations to verify if issue can be reproduced or not.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 2933f73
FW: https://github.com/thesofproject/sof/commits/master  commit: d1dcdfe
tplg: same path as FW bran

[2019-11-12 12:01] sinahuang commented on #1476
Original issue can't be reproduced in MSI mode, but there are some other errors show "Link power down failed: -11" in dmesg info.

Test for 500 times, error shows at 83th time.

Dmesg shows with MSI mode:

[code]
Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 2933f73
FW: https://github.com/thesofproject/sof/commits/master commit: d1dcdfe
tplg:

[2019-11-12 15:19] plbossart commented on #1455
Thanks @RanderWang. This is very odd, we are probably missing patches related to i2C
@andy-shev, does this I2C error message ring a bell by any chance?

[2019-11-12 15:28] plbossart commented on #1417
I think it's a corner case.
If we release firmware+topology at the same time, then you can argue that no, compatibility is not important
But in this case, I and other were hit by when updating the topology without knowing there was a compatibility issue and getting a kernel oops. That should not happen, ever. We should at least report a mismatch and gracefully exit.
Also i suspect that the 'new' t

[2019-11-12 15:43] plbossart commented on #1463
@dengyangchao  I don't understand your results and the description of the bug.

On APL Up2, there is a single output, so we cannot change between media and headset. The bug description is misleading, I have no idea what to look for.

On SDW platforms, you did you clarify on which output the sound is 'too loud'? Is this a problem with the speaker outputs? with the headset? both?
And btw the headset

[2019-11-12 15:46] juimonen commented on #1417
@plbossart I tried to rewind back to my commit  f9ec396b8ffe7ce4f72e1 and there I see TIME_DOMAIN getting value "" (empty) or "1".... so not sure where this samplerate is getting to this value, has to be some later commit.

[2019-11-12 15:59] plbossart commented on #1417
That why Linus invented "git blame"

[2019-11-12 18:17] ranj063 commented on #1466
@plbossart a long shot but can you please try if this helps?
[code]

[2019-11-12 18:40] juimonen commented on #1417
@plbossart yes I can only blame myself, so it really is my topology commit 77b6db88948f43511499, that introduces this samplerate -> time_domain. An it is only in the intel generic dmic DAI_ADD, which is obviously erroneous, it should not have samplerates at all. I wonder is it used anywhere at all, because nothing has been reported about this, or we are just not then testing dmic paths at all.
Thi

[2019-11-12 18:49] juimonen commented on #1417
@plbossart https://github.com/thesofproject/sof/pull/2089

[2019-11-12 19:18] plbossart commented on #1466
The error is "root-caused' to "ASoC: soc-core: add soc_unbind_dai_link()"
I have spent a quite a bit of time to bisect but I don't understand that change

the code moved the pcm runtime cleanup from soc_cleanup_card_resources() to snd_soc_remove_dai_link(), but the latter is called both from soc_cleanup_card_resources() and topology.

I have no idea why things are done in this way...

[2019-11-12 19:41] ranj063 commented on #1466
@plbossart Im guessing my change didnt help then. Anyway, my theory is that the problem is caused because snd_soc_remove_dai_link() called when the topology is removed unregisters the rtd->dev and later on when the pcm->private_free() gets called, it runs into errors because both the rtd device has been already unregistered and the component removed too.

[2019-11-13 01:27] bardliao commented on #1462
I checked the dmesg.log and didn't find anything wrong. It indeed do cache sync after resume. According to @shumingfan , the codec registers dump shows jack is plugged out. I don't know if we need to redo jack detection after resume in some cases. Note that we didn't do rt711_io_init in this case. We call sdw_modify_slave_status() in [sdw_clear_slave_status()](https://github.com/thesofproject/linu

[2019-11-13 01:45] sinahuang commented on #1453
Verified this issue with MSI mode, issue can't be reproduced, so closed it.

Test for 300 times.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: 2933f73
FW: https://github.com/thesofproject/sof/commits/master commit: d1dcdfe
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Platf

[2019-11-13 01:45] #1453 closed

[2019-11-13 01:52] YvonneYang2 commented on #1344
Original issue cannot be reproduced in 300 times suspend/resume with playback stress test. But occurred "IO transfer timed out" at 125th/126th/138/139th time.
Besides, some error info when do s2idle suspend with aplay is same as https://github.com/thesofproject/linux/issues/1387#issuecomment-552753463, but aplay function will not be effected.

**IO transfer timed out**
[code]

**error info**
[code

[2019-11-13 02:21] dengyangchao commented on #1463
@plbossart
1.For APL UP2 change aplay between media(hw0,4) and headset(hw0,0)  actual is hw 0,4 <=>hw0,0.
2.For TGL RVP with onboard ALC711 in SDW mod and ALC1308 in I2S mode, hw0,0 is headset, and TGL can reproduce the issue in 2 scenarios, when pm_runtime from idle to active or wake up from S3 during aplay headset(hw0,0).

[2019-11-13 03:21] aiChaoSONG opened #1471 "[BUG][CML] page fault in module reload stress test"
**Bug Description**
in module reload stress test, there is `rmmod: ERROR: Module snd_sof_intel_byt is in use by: snd_sof_pci` error.

**To Reproduce**
1. disable pulseaudio
2. wait dsp status to suspended
3. run script: `sudo ./sof_bootloop.sh`

**Reproduction Rate**
12th/100, 35th/100

**Platform**
Kernel: sof-dev: `f55db62e`
Sof: master: `835d876b`
tplg: sof-hda-generic-2ch.tplg
platform: dell h

[2019-11-13 03:38] sinahuang commented on #1439
Verified this issue with legacy mode, issue can't be reproduced.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/commits/integration/soundwire-latest   commit: fb40b85
FW: https://github.com/thesofproject/sof/commits/master commit: 835d876
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Platform:TGL RVP with onboard ACL711

[2019-11-13 03:39] sinahuang commented on #1439
Closed it, since cannot be reproduced.

[2019-11-13 03:39] #1439 closed

[2019-11-13 05:04] Liviali155 commented on #1463
I retested on APL UP2 with codec PCM512X in I2S mode,the problem is
Output very loud at the beginning  when  aplay via (0,0) or media playback(0,4) from Runtime PM status  suspend mode

[2019-11-13 05:52] aiChaoSONG opened #1472 "[BUG] cl_dsp_init: timeout for HIPCIE done"
**Bug Description**
run `sudo rtcwake -s 5 -m mem`, after the machine sleep back, check dmesg, you can see *cl_dsp_init: timeout for HIPCIE done* error

**To Reproduce**
1. reboot
2. run `sudo rtcwake -s 5 -m mem`

**Reproduction Rate**
5/5

**Impact**
no functional impact, just error messages

**Platform & Environment**
Kernel: topic/sof-dev: `f55db62e`
SOF: master: `835d876b`
Tplg: sof-cml-rt101

[2019-11-13 06:08] ranj063 commented on #1472
@aiChaoSONG Can you please check if this problem is solved by reverting 0e1a9616

[2019-11-13 06:21] YvonneYang2 commented on #1455
Issue cannot be reproduced after revert https://github.com/thesofproject/kconfig/commit/925f6843c38ecac25136a2cdbb20621cb81f1690 in kconfig.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: fb40b85 + PR1451
FW: https://github.com/thesofproject/sof/commits/master  commit: 835d876
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg

[2019-11-13 06:24] aiChaoSONG commented on #1472
@ranj063 reverting 0e1a961 helps with this issue.  @keyonjie we may need to rethink, and deal with code_loading beautifully.

[2019-11-13 06:44] shumingfan commented on #1462
@YvonneYang2  Could you dump the registers again by cache_bypass mode when the issue happened?
To enable cache_bypass:
$ sudo -i  // change to root
$ echo 1 > /sys/kernel/debug/regmap/sdw\:0\:25d\:711\:0/cache_bypass
$ cat /sys/kernel/debug/regmap/sdw\:0\:25d\:711\:0/registers

[2019-11-13 07:00] bardliao commented on #1344
I did the same test, but didn't see IO transfer timed out on my side. I tested it on https://github.com/thesofproject/linux/commit/fb40b85ac3d3435d3a05b8a59bf0409e80ccbfa0

[2019-11-13 07:14] dengyangchao commented on #1472
Issue also can reproduce on CML Chrome with onboard codec RT5682 in I2S mode when run ```Soix_test.sh```.

Firmware: 835d876b https://github.com/thesofproject/sof/commits/master
Kernel: f55db62e https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-cml-rt5682-max98357a.tplg same as firmware

[code]

[test_0_fail.log](https://github.com/thesofproject/linux/

[2019-11-13 07:29] dengyangchao commented on #1472
Also can reproduce on
ICL RVP with onboard codec ALC700 in HDA mode(s2idle)
GLK Chrome with onboard codec DA7219 in I2S mode(s2idle)

And checked on CFL-S RVP ALC700 in HDA mode(deep), issue can't reproduce
so issue only can reproduce on **s2idle** mode, and related with #1387

[2019-11-13 07:39] bardliao commented on #1462
@shumingfan I can reproduce the issue on my side now. There is no output from headphone after deep suspend mode. But the sound comes out right after when I cat  /sys/kernel/debug/regmap/sdw:0:25d:711:0/registers. Is there any register need to be toggled?

[2019-11-13 07:58] YvonneYang2 commented on #1476
Tested it with MSI IRQ mode in latest integration/soundwire-latest +https://github.com/thesofproject/linux/pull/1451, issue cannot be reproduced. But there's two lines error info from time to time shows in dmesg.  But multipipline function will not be effected by these errors.

**Error info**
[code]
[code]

[multipipeline_test_19_dmesg.log](https://github.com/thesofproject/sof/files/3839985/multip

[2019-11-13 08:01] dengyangchao commented on #1471
Issue also can reproduce on:
CML Chrome with onboard codec RT5682 in I2S mode
ICL RVP with onboard codec ALC700 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode
CFL-S RVP with onboard codec ALC700 in HDA mode
APL UP2 nocodec
APL UP2 with  codec PCM512x in I2S mode
BYT MB nocodec
BYT MB with codec RT5682 in I2S mode

**Environment**
Firmware: 835d876b https://github.com/thesofproject/so

[2019-11-13 08:36] YvonneYang2 commented on #1472
Issue can be reproduced on CML SDW Laptop with ALC711+ ALC1308+ ALC715 mode.

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: fb40b85 + https://github.com/thesofproject/linux/pull/1451
FW: https://github.com/thesofproject/sof/commits/master  commit: 835d876
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC7

[2019-11-13 08:49] sinahuang opened #1474 "[BUG][TGL]Modules can't be loaded up successfully when rebooting system via "sudo reboot" command."
**Describe the bug**
"no soundcards found" shows when running "aplay -l" command after rebooting system via "sudo reboot" command.
Issue can be reproduced with legacy mode and MSI mode.

**To Reproduce**
1.Boot up system by pluging in power cable;
2.Run "aplay -l";
3.Run "sudo reboot";
4.Repeat 2-3 steps for some time until issue occured.

**Recovery Method**
1. Error keeps reproducing by 'sudo re

[2019-11-13 09:11] dengyangchao commented on #1387
Close issue since can't reproduce. Other issue track on #1472

[2019-11-13 09:11] #1387 closed

[2019-11-13 09:21] YvonneYang2 commented on #1476
Issue can still be reproduced without https://github.com/thesofproject/linux/pull/1451 in MSI IRQ mode, failed at 67th time. So seems #1451 can fix the bug.

[code]
[multipipeline_test_67_all_logger.log](https://github.com/thesofproject/sof/files/3840327/multipipeline_test_67_all_logger.log)
[multipipeline_test_67_logger_error.log](https://github.com/thesofproject/sof/files/3840328/multipipeline_t

[2019-11-13 09:24] shumingfan commented on #1462
@YvonneYang2  Please update #1475 . This PR should fix this issue.

[2019-11-13 09:45] YvonneYang2 commented on #1462
Issue cannot be reproduced with latest integration/soundwire-latest + #1475

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: fb40b85 + #1475
FW: https://github.com/thesofproject/sof/commits/master  commit: 835d876
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-13 10:07] YvonneYang2 commented on #1395
Issue cannot be reproduced in 120 times test-reboot stress test with #1451

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: fb40b85 + PR1451
FW: https://github.com/thesofproject/sof/commits/master  commit: 835d876
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-13 10:40] sinahuang commented on #1399
Test the issue with legacy interrupt mode, issue still can be reproduced when doing multiple_pipeline-test stress test.

Test for 500 times, failed at 205th time.

Scripts:
[multiplex_pipeline-test-tgl.txt](https://github.com/thesofproject/linux/files/3890566/multiplex_pipeline-test-tgl.txt)

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: f

[2019-11-13 10:46] YvonneYang2 commented on #1344
Run 300 times aplay+suspend/resume stress test with MSI IRQ mode, IO transfer timed out still can be reproduced on my side. Tested it on fb40b85

[2019-11-13 16:57] plbossart commented on #1463
Sorry, I don't get the issue. Your wording combines changes to the output as well as suspend/resume, that's two separate cases which can be tested separately

I think you should first focus on suspend-resume and describe the issue there.

The change from outputs does not happen usually at the alsa hardware device level.

[2019-11-13 17:00] plbossart commented on #1455
ok, so it's not an SOF but, but unfortunately we cannot revert this in the Kconfig. The same settings will be set by Ubuntu/Fedora/others to enable the touch pad.

I think the only solution is to make MSI work... That's what it was invented for, deal with more devices without issues with interrupt sharing.

[2019-11-13 17:02] plbossart commented on #1471
known issue fixed by https://github.com/thesofproject/linux/pull/1469

please try with this PR

[2019-11-13 17:44] keyonjie commented on #1472
Thanks for reporting this, if we go through the dmesg log, we can find the 1st try in cl_dsp_init() failed and the subsequent try succeed, this is interesting @ranj063

[2019-11-13 18:06] andy-shev commented on #1455
@jhnikula perhaps knows more. To me it sounds like ASL might do some nasty stuff on powered on devices...

[2019-11-13 18:20] cooper-chiou commented on #1444
@plbossart I confirmed with ODM "It didn’t support PCH-DMIC, but BIOS enabled DSP for Windows APO feature"

[2019-11-13 18:58] kv2019i commented on #1078
This is implemented in usptream and sof-dev via use of common HDMI driver. Closing.

[2019-11-13 18:58] #1078 closed

[2019-11-13 19:29] keyonjie commented on #1472
I root caused what happens there, will provide a update fix soon. @plbossart @ranj063

[2019-11-13 19:52] plbossart commented on #1444
"APO" usually means processing on the host. Are you saying that on Windows the DSP is used on this platform? If yes, we would need to add support for this platform in SOF as well. We may still use the legacy driver for now thanks to the auto detection, but if this platform has a DSP then SOF should support it.

[2019-11-13 19:53] keyonjie commented on #1472
@ranj063 @plbossart after applied the fix from PR https://github.com/thesofproject/linux/pull/1479, the issue is disappear even with commit 0e1a961 applied, that is consistent with what @dengyangchao observed, thank you.

@ranj063 @plbossart @aiChaoSONG I feel happy that the clean up commit actually helped us to export potential hidden issues. :-)

[2019-11-13 22:01] plbossart opened #1480 "[SDW] Overshoot on RT715 record"
when I try the latest code and UCM file, I hear a very loud pop noise when I play on RT1308 the files I recorded w/ RT715.

Looking at the file
[plb.wav.gz](https://github.com/thesofproject/linux/files/3843642/plb.wav.gz)
, this seems to be a record issue: there's a quite strong overshoot on startup, wondering if we are missing some settings in the RT715, or of we need to insert a DC component rem

[2019-11-13 22:11] plbossart commented on #1187
@dengyangchao @ClarexZhou is this bug still current? If not please close it

[2019-11-13 22:12] plbossart commented on #1302
@kv2019i is this issue still current, now that we changed to the common HDMI module?

[2019-11-13 22:13] plbossart commented on #1367
@kv2019i does this problem still exist?

[2019-11-13 22:44] ranj063 commented on #1367
@plbossart I think it does. it showed up on one of the CI test results today on my PR but disappeared after I re-ran the test

[2019-11-13 23:48] shumingfan commented on #1480
@jack-cy-yu loop Jack

[2019-11-14 01:44] keyonjie commented on #1449
Call for helps here, we might need to get more BSW-CYAN platforms and more developers can involve the debugging, as the issue is much more complicated than expected, basically, there are several kinds of issues behind it:

1. the system hang issue. This looks like a interrupt storm after the driver module is removed, I did several refines in byt/cht/bsw part in both FW and driver, which can fix th

[2019-11-14 02:02] YvonneYang2 commented on #1468
@bardliao
Issue cannot be reproduced with latest-soundwire-latest(fb40b85) + #1451 in 500 times reboot stress test with Legacy IRQ mode. But occurred once call trace and "snd_soc_register_card failed -517“ at 419th time.

**Reprodued rate**
1/500

dmesg
[code]

[dmesg_failed_419.log](https://github.com/thesofproject/linux/files/3844255/dmesg_failed_419.log)

[2019-11-14 02:16] YvonneYang2 commented on #1462
Issue cannot be reproduced after #1475 is merged.  Close it.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit:  413de1e
FW: https://github.com/thesofproject/sof/commits/master  commit: decd206
tplg: same path as FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML SDW Laptop with ALC711+ ALC1308+ ALC715

[2019-11-14 02:16] #1462 closed

[2019-11-14 02:23] dengyangchao commented on #1472
Reopen issue,  with #1477 merged, issue still exist.

Firmware: decd2064 https://github.com/thesofproject/sof/commits/master
Kernel: fd302303 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-cml-rt5682-max98357a.tplg same as firmware

[code]

[test_0_fail.log](https://github.com/thesofproject/linux/files/3844303/test_0_fail.log)

[2019-11-14 02:26] bardliao commented on #1480
@plbossart Yes I can reproduce it.

[2019-11-14 02:32] sinahuang commented on #1472
Verified this issue with MSI mode on TGL RVP, issue still can be reproduced.

[code]

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 413de1
FW: https://github.com/thesofproject/sof/commits/master commit: decd206
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Platform:TGL RVP with o

[2019-11-14 02:37] jack-cy-yu commented on #1480
@plbossart I can reproduce it on my side. I am checking it with system engineer and will keep you posted.

[2019-11-14 02:46] dengyangchao commented on #1187
Issue con't reproduce, close.

[2019-11-14 02:46] #1187 closed

[2019-11-14 04:07] YvonneYang2 opened #1482 "[BUG][SDW]IO transfer timed out occurred when run suspend/resume stress test."
**Describe the bug**
IO transfer timed out occurred when run suspend/resume with aplay stress test. Run 300 times, error info start showing at 26th/27th time, but aplay function will not be effected.

**To Reproduce**
1. Run "aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 300 1 1"

**Reproduced rate**
Run 300 times, failed 26th/27th time

**Expected result**
No error occurred

[2019-11-14 04:08] YvonneYang2 commented on #1344
Since original issue cannot be reproduced, close it and track IO transfer timed out issue in https://github.com/thesofproject/linux/issues/1482

[2019-11-14 04:08] #1344 closed

[2019-11-14 04:09] YvonneYang2 commented on #1482
Will retest it with #1451 to check if it can fix the issue.

[2019-11-14 04:11] Bin-QA commented on #1326
update for test with Kernel: intel-next kernel, tag intel-5.4-rc7-2019-11-11, commit id: fb068e6a
[code]

[2019-11-14 05:29] YvonneYang2 commented on #1373
Issue cannot be reproduced on CML SDW Laptop with ALC711+ ALC1308+ ALC715 , close it.
Will create a new issue once issue is reproduced on ICL RVP, with codec ALC711 -RT1308, RT715 in SDW mode.

[2019-11-14 05:29] #1373 closed

[2019-11-14 06:59] sinahuang commented on #1399
Verified this issue with MSI mode on TGL RVP, issue can't be reproduced when doing multiple_pipeline-test stress test.
I will also check this issue with legacy mode later.

Test for 500 times.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 413de1
FW: https://github.com/thesofproject/sof/commits/master commit: decd206
Tplg: Same with TGL FW

[2019-11-14 07:23] YvonneYang2 commented on #1482
Only run suspend/resume stress test sill can reproduce the issue. Run 100 times, failed at 24th/25th time.

[s3_test_24_logger_all.log](https://github.com/thesofproject/linux/files/3845133/s3_test_24_logger_all.log)
[s3_test_25_logger_all.log](https://github.com/thesofproject/linux/files/3845135/s3_test_25_logger_all.log)
[test_24.log](https://github.com/thesofproject/linux/files/3845136/test_24.l

[2019-11-14 07:45] ranj063 commented on #1449
@keyonjie can you post your patches so far so we can help?

[2019-11-14 08:07] sinahuang commented on #1474
Check this issue with MSI mode and legacy mode on TGL RVP, issue can't be reproduced.

Test for 50 times.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 413de1
FW: https://github.com/thesofproject/sof/commits/master commit: decd206
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdmi.tplg rename to sof-tgl-rt711-rt1308.tplg
Pl

[2019-11-14 08:24] Liviali155 commented on #1463
1.sudo reboot
2. wait the runtime_status is suspend，then aplay via （0,0) or (0,4)media playback can reproduce this issue
if the runtime_status is still active ，then you aplay via (0,0) or (0,4) media play back，can not reproduce this issue

[2019-11-14 09:16] sinahuang commented on #1474
Closed it, since can't be reproduced.

[2019-11-14 09:16] #1474 closed

[2019-11-14 10:07] YvonneYang2 commented on #1482
@bardliao
Issue still can be reproduced with latest-soundwire(413de1e ) + #1451

Run 300 times, failed at 13th/14th/28th time

**13th time**
[code]
**28th time**
[code]

Test recipe:kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit:  413de1e + #1451
FW: https://github.com/thesofproject/sof/commits/master  commit: decd206
tplg: same path as FW branch, sof-cml-r

[2019-11-14 11:32] jack-cy-yu commented on #1480
@plbossart From system engineer's opinion, this overshoot is caused by DC value in DMIC, it needs some time to calibrate from its DC value to 0 by codec's filter, and from their past experience, most of overshoot issues are workaround by software. If workaround by driver is the best way, I'll send a patch for it, how do you think?

[2019-11-14 13:56] plbossart commented on #1482
Are those issues seen with MSI? What if MSI is disabled (along with the I2C kconfigs to avoid the I2C issues in legacy mode)

[2019-11-14 14:26] plbossart commented on #1480
@jack-cy-yu can you clarify what you mean by 'software workaround'?
For the case where the DMICs are attached to the Intel DSP, we have an IIR filter to remove the DC. @singalsu can you help describe the solution to see if we need to use the same IIR filter in the RT715 capture path in the topology?

[2019-11-14 14:30] plbossart commented on #1463
@Liviali155 does this happen when you play from /dev/zero ?

@shumingfan can you comment here?
Wondering if the io_init does something that could cause the pop noise.

[2019-11-14 16:31] ranj063 commented on #1367
@kv2019i I am seeing this again today https://sof-ci.01.org/linuxpr/PR1481/build2449/devicetest/ICL_RVP_HDA/verify-sof-firmware-load.sh/dmesg.txt

[2019-11-14 17:30] keyonjie commented on #1449
Sure, doing that this morning.

[2019-11-14 18:45] kv2019i commented on #1367
@plbossart yes, agree with @ranj063 , this still pops up in CI like the case above. I haven't yet had time to look at this, but let's definitely keep this open.

[2019-11-14 19:23] cooper-chiou commented on #1444
From Intel Smart Sound Technology Feature document, "CometLake-S" feature list claimed "Windows APO (in SW) Support for Pre- and Post-Processing Brands" = YES. That's why ODM BIOS enabled DSP to support Windows APO feature. (Btw, in Linux POR list Audio DSP - Pre/Post Processing is NO)

[2019-11-14 19:33] plbossart commented on #1444
ok, let me try differently: can you provide the results of the following command on that device

[code]

[2019-11-15 00:37] keyonjie opened #1492 "BYT: byt_irq_handler() is entered multiple times for a single IPC interrupt"
On BYT, byt_irq_handler() is entered multiple times for a single IPC interrupt, as we don't mask the interrupt in time in the handler.

experiment patch and dmesg attached below:

[code]
dmesg logs during set volume IPC as below:
[code]

[2019-11-15 00:51] keyonjie commented on #1449
@ranj063 @wenqingfu with my PR #1489  #1490  and #1491 applied, the hang issue(the "1" issue I mentioned above) is fixed.

For the "2" issue, we need add IPC_CTX_SAVE sending at driver removal.

For "3", need debugging from FW side to see what error happened there.

For "4", need to get a good base from Pierre and Morimoto, and debugging in the driver side.

[2019-11-15 00:56] ranj063 commented on #1449
@keyonjie what is it that this IPC does that allows the CSR_PWAITMODE reset? Seding the CTX_SAVE IPC during device removal is the opposite of what we do normally which is disable PM and bring the device back to full-power

[2019-11-15 01:16] keyonjie commented on #1449
We will keep the CTX_RESTORE and bring the device back to full-power, here what i mentioned has no relationship with the PM ops, it is in the module removal, e.g. snd_sof_device_remove().

But what you mentioned inspires me about why the issue happens randomly, so my guess is that if we remove the module when the device is in runtime-suspended (which means CTX_SAVE already sent to FW), we will get

[2019-11-15 01:31] keyonjie commented on #1449
@ranj063 RFC PR for "2" is here: https://github.com/thesofproject/linux/pull/1493

[2019-11-15 01:35] dengyangchao commented on #1471
Applied #1469,  and tried 100 times on CFL-S RVP with onboard codec ALC700 in HDA mode
issue can't reproduce.

[2019-11-15 02:00] jack-cy-yu commented on #1480
@plbossart 'Software workaround' means to use delay function like msleep/usleep_range to delay the capture switch from switched On which is to bypass the calibration period of DC value. But the side effect is that some data will be lost (around 100~200ms) with this workaround. I think it's better to use IIR filter for this if IIR filter really works.

[2019-11-15 02:38] Liviali155 commented on #1463
I tested using /dev/zero，it actually has  pop noise
<img width="960" alt="Capture" src="https://user-images.githubusercontent.com/56707932/68912724-fcbc3080-0793-11ea-9059-829d9df6907e.PNG">

[2019-11-15 03:23] dengyangchao commented on #1472
Tried PR #1479 on GLK Chrome with onboard codec DA7219 in I2S mode(**S2idle**)
Issue can't reproduce through below test:
1. Run stress test via```S0ix_test.sh```
2. Playing -> pause -> suspend -> wakeup -> resume
3. Suspend & Resume device during audio playback

[test_99_pass.log](https://github.com/thesofproject/linux/files/3849659/test_99_pass.log)

[2019-11-15 04:42] shumingfan commented on #1463
I checked the dmesg log from @sinahuang .
It doesn't redo the io_init function. I also try to test on my side with Dell machine, but I don't hear the pop noise while playing from /dev/zero.
@Liviali155  Could you do the loopback test before sending data to codec using sine wav file?
like this, Playback data -> DSP output -> return to DSP input -> Capture data
We could check the capture data if it

[2019-11-15 04:54] cooper-chiou commented on #1444
@plbossart
The result is here.
$ cat /sys/bus/pci/devices/0000\:00\:1f.3/class
0x040380

[2019-11-15 05:06] Liviali155 commented on #1463
@shumingfan I tested  with /dev/zero can  not hear the pop noise,but when I do the loopback test,it actually has pop noise, the screenshot is from capture data when I do loopback test

[2019-11-15 05:12] sinahuang opened #1494 "[BUG][SDW]"Program transport params failed: -22" occured during multipipline stress test."
**Describe the bug**
"Program transport params failed: -22" occured during multipipline stress test, but aplay function will not be effected.

Issue can be reproduced with MSI interrupt mode and legacy interrupt mode.

**To Reproduce**
1.Boot up system;
2.Run "./multiplex_pipeline-test.sh pcm0p pcm2p pcm1c pcm3c pcm4c";

Scripts:
[multiplex_pipeline-test.txt](https://github.com/thesofproject/linux

[2019-11-15 05:17] shumingfan commented on #1463
@Liviali155 The method of loopback test is the same with what I say? Is it loopback in intel side?
If yes, the loud sound should come from DSP output.

[2019-11-15 06:40] Liviali155 commented on #1463
Previous loopback is after sending data to code. Error not seen on nocodec.

Here is the result on nocodec.
aplay  sine wav file:
<img width="960" alt="sinwav" src="https://user-images.githubusercontent.com/56707932/68921802-d6f35380-07b4-11ea-9dc0-e18529e96b0c.PNG">

aplay  /dev/zero:
<img width="960" alt="dev_zero" src="https://user-images.githubusercontent.com/56707932/68921807-d955ad80-07b4-11

[2019-11-15 07:10] singalsu commented on #1480
Can you try in topology that is used to use pipeline macro pipe-eq-capture.m4 instead of pipe-volume-capture.m4. I'm not sure what topology is now used but sof-icl-rt711-rt1308-rt715.m4 topology seems to use it.

The EQ capture pipe includes a +20 dB gain to compensate typical quite low sensitivity in PDM digital microphones for notebooks usage, so you should in first test in audio editor attenuat

[2019-11-15 07:24] singalsu commented on #1480
I tried myself that but unfortunately recent edits to pipe-eq-capture.m4 allow there to be only one instance of this pipeline (a PGA is renamed to dmic0). Having two pipelines causes the topology to merge the pipelines at common "dmic0" and make things fail.

So please edit only one capture pipe that you use for testing this way and please let me know what happens!

[2019-11-15 07:37] bardliao commented on #1482
The IO transfer timed out are not happened on the active device (rt711/master 0). I will try using thread on [sdw_intel_thread()](https://github.com/thesofproject/linux/blob/integration/soundwire-latest/drivers/soundwire/intel_init.c#L180) to prevent the transfer from one master is blocked by another master's event.

[2019-11-15 07:53] sinahuang commented on #1399
Verified this issue with legacy mode on TGL RVP, issue still can be reproduced when doing multiple_pipeline-test stress test.

Test for 500 times, failed at 164th time.

Scripts:
[multiplex_pipeline-test-tgl.txt](https://github.com/thesofproject/linux/files/3890570/multiplex_pipeline-test-tgl.txt)

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest com

[2019-11-15 09:06] bardliao commented on #1482
Using thread on sdw_intel_thread() doesn't work. After adding some trace, I found that [intel_suspend_runtime](https://github.com/thesofproject/linux/blob/integration/soundwire-latest/drivers/soundwire/intel.c#L1467) could be triggered between mutex_lock(&bus->msg_lock); and mutex_unlock(&bus->msg_lock); in [sdw_transfer()](https://github.com/thesofproject/linux/blob/integration/soundwire-latest/d

[2019-11-15 09:41] YvonneYang2 commented on #1482
Issue can be reproduced with Legacy IRQ mode.

[2019-11-15 09:51] bardliao commented on #1482
@YvonneYang2 Could you retest it with https://github.com/thesofproject/linux/pull/1496?

[2019-11-15 10:08] dragosht opened #1497 "KASAN use-after-free error reported when SSP DAI configuration fails"
For the attached topology file [sof-apl-nocodec-ssp5.m4](https://github.com/thesofproject/linux/files/3850922/sof-apl-nocodec-ssp5.m4.txt) loading fails right after the DAI SSP configuration error but it also leaves behind a big KASAN dump

[code]
dmesg log:
[dmesg.log](https://github.com/thesofproject/linux/files/3850933/dmesg.log)

sof-logger:
[sof.log](https://github.com/thesofproject/linux/fil

[2019-11-15 12:58] dragosht commented on #1497
Sorry, just figured out this is probably the same issue as #1466 . I tried the patch in #1469 and that also seems to fix this one.

[2019-11-15 14:20] plbossart commented on #1449
there is no runtime suspend (yet) on Baytrail/Cherrytrail.

[2019-11-15 17:25] keyonjie commented on #1449
@plbossart I think that's not fully true, we already have the runtime PM ops in sof-acpi-dev.c, what we are lacking is the platform runtime PM ops only, so I think the sof_suspend() is being called and SOF_IPC_PM_CTX_SAVE is sent to FW there already.

[2019-11-15 17:29] ranj063 commented on #1449
@keyonjie Sorry thats incorrect. look at https://github.com/thesofproject/linux/blob/fd30230359e5b9106d69eb3cf30ef987921d2cee/sound/soc/sof/pm.c#L341

We do nothing if there's no suspend callback, which is true for BYT

[2019-11-15 17:31] keyonjie commented on #1449
Oo, that's right, I didn't realize we even don't have .suspend() ops for BYT.

[2019-11-15 17:33] keyonjie commented on #1449
@ranj063 we do need a clean up here for byt, adding PM ops, runtime PM ops, .remove() ops.

And, we need do the similar things for bdw.c also.

[2019-11-15 17:34] ranj063 commented on #1449
@keyonjie yes, i've been looking into it but didnt have a system to try. Once I get my BSW, I will work on it

[2019-11-15 17:37] keyonjie commented on #1449
And here is actually tricky, imagine the case we have platform .runtime_suspend() but .suspend(), we should still continue to function instead of return?

[2019-11-15 19:21] plbossart commented on #1449
@keyonjie the assertion that we have a problem in general for module load/unload is incorrect.
I just ran topic/sof-dev w/ the latest firmware on a CHT device w/ rt5640. No issues.

The only issues I have is kernel oopses with the known topology/dai unbind, and interestingly PR #1469 does not work - but that's a side issue.

So please clarify what kernel/firmware you are using and which platforms

[2019-11-15 20:45] keyonjie commented on #1449
@plbossart testing it on CHT now...

[2019-11-15 21:05] keyonjie commented on #1449
@plbossart both CHT and minnow board have the similar risk I described on https://github.com/thesofproject/linux/issues/1492, we got multiple entries to the interrupt handler for a single interrupt, though it looks fine at module unload/reload on them.
see the dmesg logs below:

On CHT:
[code]

On Minnow board,
[code]

[2019-11-15 22:48] plbossart commented on #1449
@keyonjie the results are as follows:

On BYT/CHT w/ EFi BIOS we have no issues with module load/reload (using PR #1504)

On the CHT Cyan device w/ the legacy BIOS, the second modprobe snd-sof-acpi fails. The issue happens with the max98090 codec as well as nocodec mode.

What we'd need is try PR #1504 in a Chrome/Coreboot environment to figure out what is missing.

[2019-11-15 23:09] keyonjie commented on #1449
yes, I thought about trying it on ChromeOS environment also, @plbossart do you have ChromeOS kernel building environment for BSW, is it 4.14 based or even older? We need SOF driver back-port effort to it, right?

[2019-11-15 23:14] keyonjie commented on #1449
BTW, if we have any other non-chromeos based BSW platforms, it could be much easier for us to perform this trying.

[2019-11-18 02:00] YvonneYang2 commented on #1482
Test it with #1496 with suspend/resume stress test, issue cannot be reproduced in whether MSI IRQ or Legacy IRQ mode.
But in MSI IRQ mode, sometimes dmesg will show one line failed info as below. (Some other failed messages will track in #1472) Run 500 times, shows about 15 times.

failed info
[code]
[test_46.log](https://github.com/thesofproject/linux/files/3856510/test_46.log)
[s3_test_46_logger

[2019-11-18 06:22] aiChaoSONG commented on #1425
tried module reload stress test with keyword_detect + cml-007-drop-stable, not reproduced this issue, but see "page fault"

[2019-11-18 06:30] sathyap-chrome commented on #1425
Can you share dmesg ?

[2019-11-18 06:43] aiChaoSONG commented on #1425
@sathyap-chrome This is a very early bug exist on keyword_detect branch, please refer to https://github.com/thesofproject/linux/issues/1106,  this may help to resolve #1425.

Can you try backport PR#1147 to Chrome kernel and see if it can fix this issue?

[2019-11-18 06:45] Liviali155 opened #1507 "[BUG][BYT][I2S]Aplay/arecord via headset only have pop noise"
**Describe the bug**
Aplay/arecord occured pop noise   after sudo reboot then insert headset

Error not seen if boot up system with headset connected

**To Reproduce**
1."sudo reboot "without headset
2.insert headset
3.aplay -Dhw:0,1 -fS16_LE -c2 -r 16000 star0.wav  -vv -i
or
   aplay -Dhw:0,0 -fS16_LE -c2 -r 16000 star0.wav  -vv -i

[code]
**Reproduction Rate**
10/10
**Expected behavior**
Aplay a

[2019-11-18 09:51] sinahuang commented on #1494
Issue still can be reproduced on TGL RVP, issue first occured at 66th time.

Reproduce rate:  65/500

sof_error_trace log:
[code]

Dmesg log:
[code]

 **Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 246ab27
FW: https://github.com/thesofproject/sof/commits/master commit: 655d077
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-nohdm

[2019-11-18 10:54] kv2019i commented on #1464
WIth following patches, jack detection now works with SOF and legacy drivers and the common HDMI codec:

ALSA: hda: hdmi - fix port numbering for ICL and TGL platforms
https://patchwork.kernel.org/patch/11246315/
ALSA: hda: hdmi - fix pin setup on Tigerlake
https://patchwork.kernel.org/patch/11237009/
ALSA: hda: hdmi - add Tigerlake support
https://patchwork.kernel.org/patch/11228249/

@Bin-QA Can

[2019-11-18 11:00] kv2019i commented on #1326
Issue is no longer reproduced with v5.4-rc7 2019-11-11 intel-next (SOF driver with common hdmi codec enabled). @Bin-QA , ok to close?

[2019-11-18 12:10] xiulipan commented on #1463
@Liviali155 Why put this issue in Linux? I through this would be FW issue.

@tlauda Please take a look here.

Test with Logic Analysis and got some result: (above is capture with external USB card, below is raw data from LA result from SSP5 from UP2)
[12.txt](https://github.com/thesofproject/linux/files/3858475/12.txt)
![image](https://user-images.githubusercontent.com/37825714/69051190-9149bb80-0

[2019-11-18 12:18] xiulipan commented on #1463
Test with nocodec with `aplay -Dhw:0,5 ~/audio_files/sine_48k_16bit_stereo_30sec.wav -vvv &  arecord -Dhw:0,5 -f dat test1118_3.wav -vvv`

Now can get similar issue with nocodec also, the key is the playback need to be fresh start. Volume is not set right and need some ramp to set to the right volume. @tlauda @singalsu Any idea about how to avoid such issue at a fresh start playback?

![image](htt

[2019-11-18 12:50] singalsu commented on #1463
Volume in firmware is initialized to 0 dB (unity gain) if it is within the defined min/max range. If the playback starts with very loud output that gets attenuated the driver has not sent to firmware a volume min command before playback start. Now apparently a volume command for the actual volume is sent sometime in the beginning of playback. The driver ramps the volume from previous request (mayb

[2019-11-18 12:56] kv2019i commented on #1440
I could not verify this on CFL RVP, but on Up2 this happened.

Based on logs, this looks like a i915 issue. The physical connector disconnect is detected just fine, but i915 never calls the eld notify callback in this case. If one boots up without HDMI connected, then behaviour is as expected, so something goes wrong if system is booted with the HDMI connected at boot. I will investigate a bit fur

[2019-11-18 17:13] plbossart commented on #1449
@keyonjie I have two CHT devices, which is theory are identical to BSW.

For the chrome boot, @cujomalainey provided some answers in one of the issues. It's relatively complicated so you may want to talk to your neighbors in JF on how to set-up a working development environment where you can use the latest kernel. Backporting is a non-starter.

[2019-11-18 18:31] tokyovigilante opened #1510 "Playback via ALSA OSS emulation fails to hw_params (xournalpp)"
Launching xournalpp (built from master on FC31)
[code]

Debug output from app:
[code]

Obviously app has a bug but still not ideal.
sof-dev with 5.4rc8+ merged and #1509, also happens on 5.4rc7+.

[2019-11-19 01:41] #1326 closed

[2019-11-19 02:12] cujomalainey commented on #1449
I am working on backporting SOF for Cyan to our 4.19 tree. I am still debugging the boot issue where if boot beep is played then audio is corrupted/broken. There is another issue where if the 3rd DMAC on CHT is enabled then it just hangs the pipelines in the DSP. (See the kconfig I added to disable it)

[2019-11-19 02:15] YvonneYang2 opened #1512 "[BUG][SDW]Ipc timed out for 0x90030000 size 80 occurred after writing dev_num 1 during module reload stress test."
**Describe the bug**
Writing dev_num 1, then ipc timed out for 0x90030000 size 80 occurred during module reload stress test.

**To Reproduce**
1.Run with command "while true; do echo "MORE MORE MORE"; modprobe snd-sof-pci; sleep 20; ./sof_remove.sh; sleep 5; done"
[sof_remove.sh.txt](https://github.com/thesofproject/linux/files/3861599/sof_remove.sh.txt)

**frequency**
1/50

**Expected result**
No

[2019-11-19 02:23] keyonjie commented on #1449
Good to know that you have already made these finding and progress on SOF for Cyan, @cujomalainey can you share the branch name of that?

[2019-11-19 03:16] cujomalainey commented on #1449
The change is already on master. Look for `CONFIG_CHERRYTRAIL_EXTRA_DW_DMA`

[2019-11-19 03:17] ClarexZhou commented on #1398
Error can be 100% reproduced via below steps:
1.  Headset MIC is selected in sound setting ->parecord 1.wav -vvv to check headset is using->Plug out headset during parecord->current parecord is switching to using DMIC successfully-> stop current parecord and trigger new parecord->sink.monitor is in use for parecrod
2. Headset MIC is selected in sound setting ->no parecord is ongoing ->plug out hea

[2019-11-19 03:20] xiulipan commented on #1463
@singalsu I think so.

Here is my question, if we find we are restore a volume change, do we still need to make the ramp up/down? For this case, we should make the volume start as the restore volume right?

[2019-11-19 05:22] sinahuang commented on #1476
Issue can be reproduced with MSI IRQ mode, test for 500 times, failed at 230th time.
***To reproduce:***
Run command "./multiplex_pipeline-test.sh pcm0p pcm2p pcm1c pcm3c pcm4c"

***Scripts:***
[multiplex_pipeline-test.txt](https://github.com/thesofproject/linux/files/3862021/multiplex_pipeline-test.txt)

<details>
 <summary>dmesg</summary>

[code]
</details>

**Test recipe**

Kernel:https://githu

[2019-11-19 06:38] Liviali155 commented on #1463
1.with runtime PM disabled
after disabled PM , error not seen
2. with volume change with nocodec.
tested with nocodec  with ```aplay -Dhw:0,5 -r48000 -c2 -fs16_le sine_48k_stereo_440.wav & arecord -Dhw:0,5 -c2 -r48000 -fs32 t1st.wav -vv -i```,error can reproduce,at the beginning the volume is very loud,but when change volume during aplay can not reproduce this issue

<img width="958" alt="Capture"

[2019-11-19 08:04] sinahuang opened #1514 "[BUG][SDW][TGL]Starting/stopping headset playback have some pop noise output if booting up system without headset connected.."
**Describe the bug**
Pop noise output when starting/stopping headset playback if plug in headset after system bootup. Headset playback always has noise when starting/stopping playback no matter PM status is in suspended or not.

Issue cannot be reproduced if boot up system with headset connected.

**To Reproduce**
1.Boot up system without headset connected.
2.Plug in headset after boot up successf

[2019-11-19 08:25] YvonneYang2 opened #1515 "[BUG]eDP cannot light up after waking up from s3"
**Describe the bug**
Unplug the HDMI external port during s3, then do s3 again after waking up. Observed that eDP monitor cannot light up. Remote connect to system, and check the i915_display_info(via cat /sys/kernel/debug/dri/0/i915_display_info), it shows eDP is connected status.

**To Reproduce**
1. Boot up with HDMI external port
2. Enter s3 via "sudo rtcwake -m mem -s 10", then unplug HDMI ex

[2019-11-19 08:33] YvonneYang2 commented on #1515
Checked it on ICL RVP in HDA mode with latest topic/sof-dev(0cf356c6) and master (dbb70c84) , issue cannot be reproduced.

[2019-11-19 13:42] singalsu commented on #1463
It would be better if the volume would ramp in playback start would be from mute/min to actual. Do you know why does suspending impact this (apparently this does not happen always)? I feel this is  a driver issue even if initializing to mute instead of 0 dB in volume new() might help in this case.

[2019-11-19 18:13] wenqingfu commented on #1411
Since #1000 is quoted and it is PA related, please amend the bug description with PulseAudio version used in testing.

[2019-11-20 01:50] ClarexZhou commented on #1411
All platforms are using PA 11.1, no matter the issue reproduced and issue not reproduced ones. Seems not PA issue.

[2019-11-20 02:18] mengdonglin commented on #1497
@dragosht Is KASAN a device using ApolloLake (APL) SoC?

[2019-11-20 02:59] ranj063 commented on #1497
@mengdonglin KASAN is the kernel memory sanitizer https://www.kernel.org/doc/html/v4.14/dev-tools/kasan.html

[2019-11-20 03:32] ranj063 commented on #1472
@mengdonglin this issue should be assigned to @keyonjie. This was caused by his changes to the S0ix implementation and he's working on the fix.

[2019-11-20 03:37] ClarexZhou commented on #1455
Error also seen without SOF.
Won't fix for not sof bug. Close.

[2019-11-20 03:37] #1455 closed

[2019-11-20 05:43] ranj063 commented on #1449
@plbossart @keyonjie I did some tests today and what I found was that if I modify the kmod tests to do:

sof_remove.sh --> rtcwake -s 2 -m mem -> sof_insert.sh

Then, I can run the sof_bootloop.sh any number of times. I cant quite explain what happens when we run rtwake though. Could it possibly power off the LPE and then sof_insert.sh works like a fresh boot?

[2019-11-20 05:52] sinahuang commented on #1476
Issue can be reproduced with legacy IRQ mode, test for 500 times, issue occured at 364th time.

**To reproduce:**
Run command "./multiplex_pipeline-test.sh pcm0p pcm2p pcm1c pcm3c pcm4c"

Scripts:
[multiplex_pipeline-test.txt](https://github.com/thesofproject/linux/files/3867509/multiplex_pipeline-test.txt)

Dmesg log:
[code]

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/int

[2019-11-20 06:21] sinahuang opened #1519 "[BUG][TGL][SDW] IPC timed out for 0x60060000 size 12 occured when doing Dmic(0,3) pause_release stress test."
**Describe the bug**
IPC timed out for 0x60060000 size 12 occured in legacy mode when doing dmic(0,3)/speaker pause_release stress test.
Issue only can be reproduced on Dmic(0,3), on DMIC(0,4) issue cannot be reproduced.

**To Reproduce**
1.Boot up system;
2.Run "./sof-test-pause-release.sh -t pcm3c";

Scripts:
[sof-test-pause-release.txt](https://github.com/thesofproject/linux/files/3867602/sof-t

[2019-11-20 06:41] keyonjie commented on #1449
Yes, I explained that previously, doing an S3 cycle before reloading will work-around the issue, looks some power off from PMC will help cold reset the Audio DSP.

[2019-11-20 06:56] dengyangchao commented on #1411
Tried on CFL notebook with onboard codec ALC3254 in HDA mode:
1. Ubuntu18.04 & pulseaudio11.1
use paplay command or play through Browser both can reproduce the issue.
2. Ubuntu19.04 & pulseaudio12.2
use paplay command or play through Browser both can reproduce the issue.

**Environment**
Firmware: 63a55299 https://github.com/thesofproject/sof/commits/master
Kernel: ecc776ae https://github.com/thes

[2019-11-20 07:39] aiChaoSONG commented on #1425
@mengdonglin @sathyap-chrome @keyonjie
I have reproduced this issue on ChromeOS, and I have done some investigations to root cause this issue:
- I tried sof-dev+master on two Chromebooks with Ubuntu OS, neither reproduced this issue.
- I tried keyword_detect + 007 branch, neither reproduced this issue, but saw #1106

our kernel branch has no such a module named cml_rt1011_rt5682, I think that's th

[2019-11-20 10:34] Liviali155 opened #1521 "[BUG][BYT][Nocodec]Sof will change from card1 to card 0 after modules reload"
**Describe the bug**
Sof will change from card1 to card 0 after modules reload

After reboot sof will change from card 0 to card1

**To Reproduce**
1.sudo reboot
2."aplay -l " to check PCM list
    sof is using card1
2.kill sof-logger process
3.sudo ./sof_remove.sh
4.sudo ./sof_insert.sh
5."aplay -l" to check PCM list

**Reproduction Rate**
5/5

**Expected behavior**
Sof card will not change after

[2019-11-20 10:46] Liviali155 commented on #1521
SOF is using card0 after system bootup when blacklist snd_hda_intel

[2019-11-20 10:50] Liviali155 commented on #1521
@xiulipan  CI test will be effected

[2019-11-20 11:58] singalsu commented on #1480
The volume unmute ramp seems to be broken / not happening in all capture scenarios, I'll try to fix it first.

[2019-11-20 15:09] plbossart commented on #1521
Rather than a PR change, it's more likely that it's the fact that I enabled HDaudio by default in the Kconfig maybe?
How big of a problem is this if you add this blacklist on CI target devices? we don't test HDMI, do we?

[2019-11-20 15:49] plbossart commented on #1449
that really hints at a BIOS issue on Cyan. No such problem with UEFI versions on other CHT devices.

[2019-11-20 16:42] sathyap-chrome commented on #1425
@aiChaoSONG  Thanks for analysis. we  can close this and i can get back for any issue once i pull on the fixes mentioned.

[2019-11-20 17:04] ranj063 commented on #1449
@plbossart @keyonjie I finally figured out a way to get this working. The trick was to enable PM for the device. I've still got a small niggle to resolve and then I will submit the PR

[2019-11-22 01:22] mengdonglin commented on #1472
Remove P1 label since there is  no functional impact, just error messages. And assigned to @keyonjie

[2019-11-22 03:12] aiChaoSONG commented on #1425
any further issue please submit a new issue, let close this for now

[2019-11-22 03:12] #1425 closed

[2019-11-22 07:42] dengyangchao opened #1536 "[BUG]Hot-Plug in HDMI cause kernel NULL pointer dereference address: 0000000000000010"
**Describe the bug**
1.Hot Plug in hdmi cause kernel NULL pointer dereference, screen turn black and seems freeze.
2.Hot plug/unplug DP work fine, and can detect the unplug/plug status.
3.Power-off-> plug in HDMI -> power on,   boot normal and show HDMI display, but amixer contents can't detect the HDMI. And unplug HDMI issue reproduced.

[code]

**To Reproduce**
1.Sudo reboot
2.Wait runtime PM st

[2019-11-22 08:01] keyonjie commented on #1472
https://github.com/thesofproject/linux/pull/1524 will fix this.

[2019-11-22 08:11] YvonneYang2 commented on #1476
@bardliao
Issue can still be reproduced after changes merged.

Round 1 :  failed at 11th time. Occurred ipc timed out for 0x60050000 size 12
Round 2 :  failed at  26th time. Occurred ipc timed out for 0x80010000 size 120

<details>
 <summary>Dmesg of round 1</summary>

[code]
</details>

<details>
 <summary>Dmesg of round 2</summary>

[code]
</details>

Test recipe:
kernel: https://github.com/thes

[2019-11-22 08:20] dengyangchao commented on #1536
Issue also reproduced when try DP-MST(connect two DP monitor through DP-HUB)
Platform: CML Chrome with onborad codec RT5682 in I2S mode

<details>
 <summary>Dmesg</summary>

[code]
</details>

[2019-11-22 08:38] Liviali155 commented on #1536
Issue also can reproduced when try DP-MST(connect two DP monitor through DP-HUB)
Platform: APL UP2  with codec PCM512x in I2S mode

[2019-11-22 08:44] YvonneYang2 commented on #1512
Tested it 100 times, issue cannot be reproduced with test recipe as below, will keep monitor.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 68cadd8
FW: https://github.com/thesofproject/sof/commits/master  commit: 9b5dc8c
tplg: Same with FW branch, sof-cml-rt711-rt1308-mono-rt715.tplg
platform: CML Laptop with ALC711+ ALC1308+ ALC715

[2019-11-22 08:48] perexg opened #1807 "[BUG] [ICL] SOF codec#0 probe fails on Acer Switch SF314-57G"
**Describe the bug**
The user cannot load signed firmware v1.3 on Acer Swift SF314-57G:

<pre>
Manufacturer:      Acer
Product Name:      Swift SF314-57G
Product Version:   V1.07
Firmware Version:  V1.07
Board Vendor:      IL
Board Name:        Floris_IL
</pre>

https://bugzilla.redhat.com/show_bug.cgi?id=1772498#c16

Discussion:

What is the expected behaviour, if the DSP has own (vendor) authent

[2019-11-22 09:12] Liviali155 commented on #1521
Issue can be reproduced  on below commit
Platform: BYT MB with nocodec
Firmware: 9b5dc8c6 https://github.com/thesofproject/sof/commits/master
Kernel: bc30957c https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-byt-nocodec.tplg same as firmware