[2021-07-20 23:48] plbossart commented on #3012
same warnings seen on Intel daily test 5356 (started on July 19).

The next daily tests after that will rely on https://github.com/thesofproject/linux/pull/3006 which was merged on July 20.

If we see this error again then my theory of a clock stop issue was wrong... Let's see!

[2021-07-21 02:07] marc-hb commented on #3011
Yes, but more importantly: BIOS version differences for bug fixes

Also: `dpkg -l` differences and especially any software that could run in the background.

[2021-07-21 11:11] ginick opened #3056 "Error/no sound: kernel: sof-audio-pci 0000:00:1f.3: error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
Hello
I'm on a laptop using manjaro(21.0.6)
KDE-522.3 kernel-5.10.49-1

today after booting, the sound icon on the panel bar was red,it's the first time this occurred.
here are the errors i got:
[code]
a reboot fixed it.

i sometimes get the following errors,but it doesn’t affect the sound:
[code]

[2021-07-21 13:32] plbossart commented on #3056
@ginick can you attach the output of 'alsa-info' and try to find which SOF firmware release you are using.

We have other cases of this  problem at boot and are trying to triangulate what might happen. Thanks.

[2021-07-21 13:50] ginick commented on #3056
I'm a bit of a novice,but not completely;
could you provide the exact commands i should run?
[code]
sof-firmware is (according to Pamac) 1.8-1

[2021-07-21 14:22] plbossart commented on #3056
alsa-info comes from alsa-utils https://github.com/alsa-project/alsa-utils/tree/master/alsa-info
sometimes it's packaged as alsa-info.sh

[2021-07-21 16:57] ginick commented on #3056
<details><summary>
alsa-info.sh
</summary>

[code]

</details>

<details><summary>
alsa-info.txt
</summary>

[code]

</details>

[2021-07-21 17:03] plbossart commented on #3056
ok so this is on CFL aka CNL-H

[code]

[2021-07-21 18:40] ameenshake commented on #2748
I've been getting a strange issue. From a fresh restart, the sound works just fine in whatever application I use. However, when I open a new application, the sound dies. For example (this happened today), I am running Spotify and the sounds works perfectly well but as soon as I open chrome, the sounds dies. Nothing particularly changes about the system, the output device remains the same. The soun

[2021-07-21 19:29] plbossart commented on #2748
That looks like a completely different issue, @ameenshake please open a new issue. This is likely to be a userspace problem since there is a single output exposed by SOF.

[2021-07-21 19:57] plbossart commented on #2472
we've lost context on this, closing

[2021-07-21 19:57] #2472 closed

[2021-07-21 20:12] paapu88 commented on #2748
I have similar behaviour than @ameenshakesudo `python3 applyverbs.py alc285.txt` works only for some time and has to be repeated. Though, that's totally fine for me.

[2021-07-22 02:18] mblack154 opened #3057 "Dell XPS 17 (9710) No Audio"
File bug with Ubuntu #1935850.   https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1935850

 Filing bug based on last comment:

According to #15, it looks like the topology file is not suitable for this machine.
Please file a bug to Intel/sof, let Intel engineers take a look at this issue.
https://github.com/thesofproject/linux/issues/new

Let me know what other info you need.
Running Ubu

[2021-07-22 07:48] padmashree9110 commented on #2829
We still need support on this. This issue is found with latest kernel (5.11 generic )also as i mentioned. we need not to backport. We can check with the latest kernel only.

[2021-07-22 13:51] plbossart commented on #3057
@mblack154 I see this in your dmesg log:

[ 4.655486] sof-audio-pci 0000:00:1f.3: ASoC: physical link SDW3-Capture (id 4) not exist

That points to a missing quirk in the machine driver, we typically have to skip some BE IDs to keep consistency across devices.

Can you please attach the output of 'sudo dmidecode'?
Also please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/lin

[2021-07-22 14:35] mblack154 commented on #3057
Here are the files.
[dmidecode.txt](https://github.com/thesofproject/linux/files/6862993/dmidecode.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/6862994/dmesg.txt)

[2021-07-22 14:40] plbossart commented on #3057
thanks @mblack154 can you try the patch in https://github.com/thesofproject/linux/pull/3059/commits/a312717b3d2a911a103e09dd313e533bb58d0dd0

You may need to rename the RT711_JD2 as SOF_RT711_JD_SRC_JD2 since a recent commit changed the JD definition.
https://lore.kernel.org/alsa-devel/20210712203240.46960-7-pierre-louis.bossart@linux.intel.com/

[2021-07-22 14:52] mblack154 commented on #3057
Can you send me the build instructions.   Have the branch downloaded and replaced the patch file.
Thanks

[2021-07-22 14:57] plbossart commented on #3057
Sorry @mblack154 I don't know what setup you have. can you work with @jason77-wang on this?

[2021-07-22 15:01] plbossart commented on #3057
FWIW I use ktest.pl with the instructions listed here: https://thesofproject.github.io/latest/getting_started/setup/setup_ktest_environment.html

But if you want to change a specific Ubuntu kernel that's a different story

[2021-07-22 15:21] mblack154 commented on #3057
Do you have another option? Looks like ktest wants to do this over an ssh connection.  Keep current kernel version

[2021-07-22 15:23] mblack154 commented on #3057
I can contact @jason77-wang

[2021-07-22 15:23] plbossart commented on #3057
https://wiki.ubuntu.com/Kernel/BuildYourOwnKernel

[2021-07-22 15:46] mblack154 commented on #3057
Thanks

Compiling now.  Trying with RT711_JD2 first.  If that doesn't work will try with SOF_RT711_JD_SRC_JD2.

Let you know what happens.

[2021-07-22 17:24] kv2019i commented on #2992
@mengdonglin We now have basic support for ADL-P in sof-dev via 5.14-rc1. I justed tested on a local machine and seems to work ok with latest sof-dev.

@XiaoyunWu6666 Can you confirm the error seen in https://github.com/thesofproject/linux/issues/3020 no longer happens with latest sof-dev? If this is the case, we can close this bug.

[2021-07-22 17:56] plbossart commented on #2973
no longer seeing this issue on sof/main and topic/sof-dev in nocodec mode, closing

[2021-07-22 17:56] #2973 closed

[2021-07-22 18:04] mohitt opened #3060 "No audio/mic from internal speakers/build in microphone running Ubuntu 20.04, 20.10 or 21.04 ."
Hi,

Please have a look at https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1935850?comments=all

As per this https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1935850/comments/16 . Topology file not suitable for the machine

[2021-07-22 18:04] mohitt commented on #3060
Issue exists

[2021-07-22 19:15] marc-hb commented on #2992
Note `[BUG]ADLP firmware boot delayed by i915 issue (failure in check-sof-logger)` #3042

[2021-07-22 22:10] jacksongoode commented on #3027
@plbossart Ok - so I went back to the live 20.04.2 and found that the `alsa-utils` package version `1.2.2-1ubuntu2.1` effectively silences the right side microphones.

[code]

There is no downgrade solution to version `1.2.2-1ubuntu2` but I did find a .deb of the old package and downgrading does not resolve the issue once there is an upgrade.

It should be trivial to track which files were changed

[2021-07-22 22:42] plbossart commented on #3027
@jacksongoode I suspect a disconnect between alsa-ucm-conf and alsa-utils, or something that's just too old on Ubuntu 20.04.

1.2.2 is a release from Feb 19, 2020. In the mean time there was a change to use UCM setups for the base settings and that was part of 1.2.3.

You may want to try the 21.04 live disk and see if this solves anything. It's clearly not an SOF issue proper.

[2021-07-23 00:47] mohitt commented on #3057
Hi @mblack154 I am newbie, did the compiling helped. I am also facing the same issue. I can also try to recompile, if there are clear set of instructions

[2021-07-23 02:37] XiaoyunWu6666 commented on #3042
@kv2019i  @marc-hb  @libinyang
Adding new PCI IDs manually to i915.force_probe has been a regular step on any bleeding edge platform (otherwise i915 refuses to load on these)

On ADL DUTs , add following contents can help.
[code]
I have modified i915.conf on all ADLP_RVP_SDW ADLP_RVP_HDA DUTs, they all pass check-sof-logger testcase now.

[2021-07-23 02:50] marc-hb commented on #3042
@kv2019i can you confirm that i915.force_probe is helpful only when `i915` REFUSES to load AT ALL? Not when it is flaky like here.

This test was failing only from time to time, so maybe you just got lucky.

[2021-07-23 02:53] XiaoyunWu6666 commented on #3042
Yes so I will track how they perform in daily tests

[2021-07-23 07:38] kv2019i commented on #3042
@marc-hb Correct, on platforms where i915.force_probe is needed, driver probe will fail every time if the setting is not set.

It is possible the i915 negotiation failed earlier on some occasions (but i915 was still not functional), but definitely now with recent upstream merge and the force_probe setting, expecation is that at least i915 is no longer causing delays to the probe.

[2021-07-23 08:23] marc-hb commented on #3042
Thanks @kv2019i!
@XiaoyunWu6666, at your leisure please remove the `i915.force_probe` you just added. I don't think they can cause any harm but they can cause confusion.

[2021-07-23 10:06] xFiliNx commented on #2485
@akohta Good day.

Installed according to your description:

1. - Sound Open Firmware v1.8-rc2
2. - Arch linux, kernel 5.12.9

however I still get
journalctl -xef
[code]
also tried Sound Open Firmware v1.8 & linux-5.13.4, the result is the same. How did you achieve a workable wm5102?

[2021-07-23 10:14] kv2019i commented on #3042
@marc-hb @XiaoyunWu6666 no, please keep the i915.force_probe . It's still needed. i915 won't load on new platforms without this option.

[2021-07-23 11:46] lyakh opened #3061 "[APL][SSP] UP2 with PCM512x: kernel errors"
I'm routinely getting the following kernel errors on my UP2 with PCM512x:
[code]
and
[code]
Sometimes I'm also getting firmware boot failures:
[code]
which made me wonder whether that boot failure is related to the pop work? IIUC @lgirdwood suggested that the SSP5 errors are caused by errors in topology, and that the boot failure is probably unrelated to that.

[2021-07-23 11:59] plbossart commented on #2485
@xFiliNx the beeps are a known issue with xruns that we haven't been able to root-cause. The work-around is to enable the trace as suggested above

[code]

The mclk issues might be a kernel config issue, see the comment https://github.com/thesofproject/linux/issues/2485#issuecomment-818594303 above and please make sure all the options in your kernel config are selected.

[2021-07-23 12:03] plbossart commented on #3060
duplicate of issue #3057

[2021-07-23 12:03] #3060 closed

[2021-07-23 12:58] xFiliNx commented on #2485
@plbossart

Arch's official kernel packages (linux-5.13.4.arch1-1) are already built with these options.

There are no sound signals yet, it's too early to do it yet

[2021-07-23 13:07] plbossart commented on #2485
Then I have no idea. This is reported as working by others...

Not sure I get the point, the trace needs to be enabled on startup, regardless of whether audio is playing or not.

[2021-07-23 13:48] plbossart commented on #3061
@lyakh I can reproduce the 'ASoC' errors, sof-test flags an error on every capture.

So far no boot issues though. Can you confirm this happens with a bog-standard SOF configuration?

[2021-07-23 13:58] plbossart commented on #3061
the DAPM map is all over the place.
![widgets](https://user-images.githubusercontent.com/1149035/126792665-afbeb252-b6da-4d85-89c9-38e1b1087a5d.png)

We should use simpler topologies...

[2021-07-23 14:34] lyakh commented on #3061
@plbossart no, sorry for not mentioning, the boot error I've only seen with Zephyr so far. But since it's sporadic, and happens before the firmware is actually executed, IIUC, and I always reboot to reload firmware, it seems to me, that it shouldn't be Zephyr-related.

[2021-07-23 15:06] plbossart commented on #3061
@lyakh could still be due to power-down differences between xtos and Zephyr, no?

[2021-07-23 15:31] lyakh commented on #3061
@plbossart sorry, indeed, you're right. I thought I had cases where it failed the first firmware run, but I just double-checked, and yes, it's always one of follow-up boots after a D3. So, yes, it's possible.

[2021-07-23 15:52] plbossart commented on #3061
@lyakh it's a disconnect between topology and machine driver.

The topology exposes a capture path on PCM5.

The machine driver does not set dpcm_capture=1 for the dailink. it's explicited commented out. We haven't changed the code since 2020.

Ironically this points to an SOF commit

ea8055de1 topology: APL: add an SSP5 capture pipeline

This never worked...

[2021-07-23 16:16] plbossart commented on #3061
@lyakh PR #3092 fixes the ASoC issues. You should file the boot issues in a separate entry, this has nothing to do with topology, agree with @lgirdwood

[2021-07-23 16:19] perrysteger commented on #3057
Hi @mblack154 -- any luck getting your shiny new XPS 9710 booting error-free into Ubuntu 21.04? I have the identical issue.

[2021-07-23 16:31] mblack154 commented on #3057
Not yet.   Get the kernel compiled, but it is locking up on boot.

[2021-07-23 16:49] joeracer321 commented on #3057
Does the entire kernel need to be recompiled or is it possible to build the sof firmware package and install the resulting kernel module?

[2021-07-23 16:50] marc-hb commented on #3042
@XiaoyunWu6666 changed it only on systems where i915 was already loading.

[2021-07-23 17:32] joeracer321 commented on #3057
I noticed this note on the Ubuntu mainline kernel wiki and I am curious if the out of tree modules are the reason your kernel is not booting:

First, if one is using select proprietary or out-of-tree modules (e.g. bcmwl, fglrx, NVIDIA proprietary graphics drivers, VirtualBox, etc.) unless there is an extra package available for the version you are testing, you will need to uninstall the module fir

[2021-07-23 18:11] mblack154 commented on #3057
Any idea what is causing this when doing sudo make modules_install (binutils is installed)

arch/x86/Makefile:148: CONFIG_X86_X32 enabled but no binutils support
sed: can't read modules.order: No such file or directory
make: *** [Makefile:1485: __modinst_pre] Error 2

[2021-07-23 18:17] joeracer321 commented on #3057
Are the 32bit libraries and bin utils installed?  Did you try disabling 32bit support in the meantime?

[2021-07-23 18:21] #1262 closed

[2021-07-23 18:22] plbossart commented on #551
I don't see a path or need for this, closing.

[2021-07-23 18:22] #551 closed

[2021-07-23 18:23] plbossart commented on #720
no reply or information, closing

[2021-07-23 18:23] #720 closed

[2021-07-23 18:26] plbossart commented on #1632
no information, closing

[2021-07-23 18:26] #1632 closed

[2021-07-23 18:36] mblack154 commented on #3057
Don't have the 32bit libraries installed but have disable 32bit in the .config file.

[2021-07-23 19:56] plbossart opened #3063 "Volteer: suspend/resume: Max98373 falls off the bus on resume and doesn't reattach."
Low-level hardware error seen in unrelated nocodec test.

https://sof-ci.sh.intel.com/#/result/planresultdetail/5452?model=TGLU_VOLT_SDW&testcase=check-suspend-resume-with-capture-5

Recipe:
Start Time: 2021-07-23 01:00:47 UTC
End Time: 2021-07-23 04:34:04 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: d54b7803
SOF Branch: main
SOF Commit: 52bc39fe73f9

Hardware: jf-tglu-volt-sdw-01

[code]

[dme

[2021-07-23 20:06] lyakh commented on #3061
@plbossart Thanks for the investigation and a fix! Although I must disagree - I'm pretty sure it did work. I'm testing DMICs regularly enough on the hardware, and I'm sure I connected my phone headphone output to HiFiBerry input and captured audio multiple times too. This latter test I haven't done in a while, but I still have a cable plugged in into the 3.5mm line-in port of that card. Or have I

[2021-07-23 20:36] plbossart commented on #3061
I stand by my comment @lyakh: the machine driver never had capture support but the topology did. It must have worked with the machine driver explicitly enabling the capture in your local setup, but not with a clean git reset --hard; git pull

[2021-07-24 04:01] akohta commented on #2485
Hello, @xFiliNx

The Sound Open Firmware (SOF) v1.8 has been officially released, I recommend to use it. The package name is sof-firmware.
In my case, the sound device was enabled by install the SOF only, no needed to setup specially for hardware.

The above messages are related to the legacy driver. It appears in my log even now ( Archlinux kernel 5.13.4 ).
You can ignore it, as long as you use S

[2021-07-26 01:32] keqiaozhang commented on #3011
@fredoh9 ，did you find any difference after comparing BIOS?

[2021-07-26 02:40] keqiaozhang commented on #2829
@padmashree9110 , please check with the latest kernel version.

[2021-07-26 02:48] keqiaozhang commented on #3043
Fixed by thesofproject/sof-test#711.

[2021-07-26 02:48] #3043 closed

[2021-07-26 02:57] mengdonglin commented on #3063
It may be related to
- https://github.com/thesofproject/linux/issues/2522

[2021-07-26 05:48] jacksongoode commented on #3027
Well, I found one very odd solution `sudo apt purge libasound2-data` (I should say that this was after deleting the whole `/etc/share/alsa` directory to find a way to force repopulate the files - this shouldn't be necessary).

I believe the conf files created in this case re-enables something (?) and the right side now works. However, another oddity is that the right side is slightly quieter than

[2021-07-26 08:16] lyakh commented on #3061
@plbossart I don't know what miracle is driving this, but I've just re-tested my UP2 with a DMIC attachment board and with no kernel modifications and I was able to record audio (and to play it back). EDIT: line-in on the HiFiBerry worked too.

[2021-07-26 10:58] libinyang commented on #3034
@sathyap-chrome I tried it on my Brya. My Brya can't enter S0ix from reading the residencies. Is there anything I should do to make the OS enter S0ix? My platform is Brya proto1 SKU1. BTW: if I run `echo "freeze" > state`, the display will be off, and if I clap, the WoV will waken the display.

[2021-07-26 13:21] fredoh9 commented on #3011
I haven't checked/compared the BIOS settings yet. I will plan to come to office and do that in this Wednesday.

[2021-07-26 14:27] plbossart commented on #3027
@jacksongoode it's indeed quite hard to wipe configurations clean, that's a recurring issue we all face.

The support for 4channels isn't very good to be honest, because there's missing information from platform firmware on how the microphones should be combined if you record in stereo. we can get geometry information from platform firmware (aka BIOS) in some cases, but that doesn't provide inform

[2021-07-26 14:44] plbossart commented on #3063
That's quite possible indeed @mengdonglin. I added the log from the Intel test 592  [dmesg.txt](https://github.com/thesofproject/linux/files/6879065/dmesg.txt)

[code]

When an interrupt is received we should double-check if the device is actually attached.

[2021-07-26 16:15] #3027 closed

[2021-07-26 18:49] mblack154 commented on #3057
Got the kernel compiled this morning with the patch and I have sound.  (5.14-rc2)

[2021-07-26 18:59] plbossart commented on #3057
Thanks @mblack154, will send this upstream.

[2021-07-26 21:03] mohitt commented on #3057
@mblack154 I suppose this would be `5.14-rc4` correct ?

[2021-07-26 21:47] fredoh9 commented on #3011
I changed my schedule to come to office today along with Marc. Thank you @marc-hb. I couldn't compare `jf-cml-rvp-sdw-3` with `jf-cml-rvp-sdw-1` because daily build need one. But as I suspect I don't find particular setting for it. Found some could be related with RTC. Need to compare them when daily test is done.

Scanned test results for a week, this hasn't been not happening for a week.

Runnin

[2021-07-27 01:32] XiaoyunWu6666 commented on #3042
FYI, I changed that on ADLP_RVP_SDW and ADLP_RVP_HDA DUTs.
in inner daily-ADL 5495 5635 they worked well(ADL models have been added back to daily testplan)

[2021-07-27 07:39] XiaoyunWu6666 opened #3068 "[BUG] timeout on STREAM_SD_OFFSET read when suspend-resume on CML"
**Describe the bug**
timeout on STREAM_SD_OFFSET read when suspend-resume on CML
inner daily /5515?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-capture-5
**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m capture

**Environment**
Start Time: 2021-07-26 21:24:47 UTC
End Time: 2021-07-27 04:58:29 UT

[2021-07-27 13:19] plbossart commented on #3068
@slawblauciak what makes you think it's a kernel issue? There's nothing that changed recently.

@lgirdwood Can you please look into this?

[2021-07-27 13:33] fredoh9 commented on #3011
jf-cml-rvp-sdw-3 running fine up to 375/500. I had to stop to check other things.

Coin battery seems fine by checking, check BIOS date/time -> remove power -> wait for 2-3min -> power on -> check BIOS date/time

comparing package list.
[cml1_dpkg_list.txt](https://github.com/thesofproject/linux/files/6885823/cml1_dpkg_list.txt)
[cml3_dpkg_list.txt](https://github.com/thesofproject/linux/files/688

[2021-07-27 14:19] marc-hb commented on #3011
diff -b -u shows a lot of differences: one system has packages that the other has not and one system is more up to date than the other. And of course we can't compare configuration files difference and any other custom scripts.

[2021-07-27 15:34] plbossart commented on #3068
Reproduced in 10 iterations on CML SKU 09C6 (same as 0983)

[code]

kernel SHA1: 85bfa34a88d6
SOF SHA1: 9a7a5ce17 (HEAD -> main, origin/main) pipeline: trigger START from the task context

[2021-07-27 16:48] plbossart commented on #3012
Seems my theory was wrong, this error still happens with the latest kernel, however this is the first time I managed to see it on Dell SKU 09c6

[dmesg.txt](https://github.com/thesofproject/linux/files/6887361/dmesg.txt)

[2021-07-27 18:04] plbossart commented on #3068
0def9056300a4b23d909ba0b36256087af91d2fe is the first bad commit
commit 0def9056300a4b23d909ba0b36256087af91d2fe
Author: Marc Herbert <marc.herbert@intel.com>
Date:   Fri Jul 16 08:00:02 2021 +0000

    trace: move CONFIG_TRACEM implementation up a couple levels

    From deep down trace.c:va_tracelog() up to the _log_message() level.

    Also rename va_tracelog() to the more specific dma_tracelo

[2021-07-27 19:16] plbossart commented on #3068
@XiaoyunWu6666 @marc-hb @fredoh9 @bardliao I would appreciate it if you can try to reproduce the issue on a CML device. My results show that there is a firmware regression since I don't see any issue with the latest kernel/older firmware.

More details for the record - @lgirdwood FYI
test 5515 on July 27 - BAD
Kernel Commit: 2113dc7f
SOF Commit: 57ee04f2d931

test 5464 July 26 GOOD
Kernel Commit:

[2021-07-27 19:57] lgirdwood commented on #3068
@plbossart thanks for bisect , can you confirm if the trace patch or the pipeline patch is bad ?

[2021-07-27 20:01] plbossart commented on #3068
I don't understand the question @lgirdwood. My tests show what the first bad commit was, I don't know if the last patches on pipelines are correct or not. It could also be that my 'good' tests are 'green failures', and the issue happens with an earlier commit.

[2021-07-27 20:07] lgirdwood commented on #3068
Sorry, was not clear. I mean is the bisect clear cut or vague - I agree though this is a FW issue.
[code]
OR
[code]
I guess what you are saying it could be either above two commits (and needs further investigation) ?

[2021-07-27 20:10] plbossart commented on #3068
no, I am saying: the problem started with 0def9056300a4b23d909ba0b36256087af91d2fe or earlier. I don't have a 100% confidence in the 'good' results, but I trust the tests when they tell me the DSP boot failed.

[2021-07-28 05:48] bardliao commented on #3063
Sorry @plbossart I am confused here. Why `max98373 sdw:1:19f:8373:0:3: sdw_modify_slave_status: initializing completion for Slave 2` means device 1 (unique number 7) is no longer attached? Doesn't it mean device **2** (unique number **3**) is no longer attached?

[2021-07-28 07:08] padmashree9110 commented on #2829
@keqiaozhang Actually HDA audio is working fine and only SOF-HDA has issues. Worked with @kv2019i and he root caused the issue to be with UCM configuration. Issue is because DMIC is not present on our NUC. So he suggested me to comment out "SectionDevice."Mic1" {" in /usr/share/alsa/ucm2/sof-hda-dsp/HiFi.conf. With this HDMI is getting listed and also working fine but 3.5mm option goes off in GUI.

[2021-07-28 15:54] plbossart commented on #2829
Humm, sorry @padmashree9110 @kv2019i , something doesn't add up here.

The SOF driver is only selected when there are digital microphones present on a device. We use the Intel NHLT tables to detect this capability. If there are no DMICs, you don't need to use SOF.
Can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6894638/sof-dyndbg.conf.txt) as /etc/mo

[2021-07-28 15:56] plbossart commented on #3063
Yes indeed, my mistake @bardliao

[2021-07-28 16:28] marc-hb commented on #3069
Transferring to Linux tracker

[2021-08-02 05:47] XiaoyunWu6666 commented on #2992
HDMI1 worked well on ADLP_RVP_SDW (-Dhw:0,5 )and ADLP_RVP_HDA(-Dhw:0,3) with latest sof-dev and /etc/modprobe.d/i915.conf
[code]
hi , @kv2019i , shall we close this ? :) thanks

[2021-08-02 08:16] XiaoyunWu6666 commented on #3042
HDMI1 worked well on ADLP_RVP_SDW (-Dhw:0,5 )and ADLP_RVP_HDA(-Dhw:0,3) with latest sof-dev and /etc/modprobe.d/i915.conf
[code]
hi , @kv2019i , shall we close this ? :) thanks

[2021-08-02 20:52] plbossart commented on #3063
This error was seen on TGL RVP with 2 Max98373 devices

https://sof-ci.sh.intel.com/#/result/planresultdetail/5652?model=TGLU_RVP_SDW&testcase=check-suspend-resume-50

[code]

[dmesg.txt](https://github.com/thesofproject/linux/files/6919557/dmesg.txt)

@bardliao @RanderWang is this something you've seen before on TGL RVP?

[2021-08-03 02:42] sathya-nujella opened #3078 "TGL; sound card binding fails with error "failed to ready HDA controller""
**Error from dmesg:**
sof-audio-pci 0000:00:1f.3: error: get caps error
sof-audio-pci 0000:00:1f.3: error: failed to probe DSP -5
sof-audio-pci 0000:00:1f.3: error: sof_probe_work failed err: -5

**Test step to repro:**
This issue is happening only when: "google hotword capture path is OPEN + panic happened in DUT which prevented normal shutdown sequence".

**History for the issue:**
* https://git

[2021-08-03 05:42] bardliao commented on #3063
IIRC, it is my first time to see this issue on **RT1308**. We saw -61 before, but it seems to be the first time to see timed out.

[2021-08-03 07:02] libinyang commented on #3034
some updates:
1 can't enter S0ix is because the coreboot is too old.
2 Based on the phenomenon, we suspect that fw is sending the log to host, which cause early wake from S0ix. After some debug, this assumption is precluded.
3. And I also found, if I disable dma trace either in driver or fw, this bug won’t happen.
4. After study the code, I guess maybe DMA should be disabled to enter S0ix on ADL.

[2021-08-03 12:04] giddie commented on #2971
My SOF audio has frozen again without locking up the whole system, so here's another full kernel log, in case it can help:

[kernel.log.gz](https://github.com/thesofproject/linux/files/6923849/kernel.log.gz)

Is there anything else I can get for you to help with debugging while my system is in this state?

FYI, I have a monitor connected via Thunderbolt DisplayPort. The monitor has no audio output

[2021-08-03 14:24] plbossart commented on #2971
@giddie the first error I see is

[code]

We've recently seen timeouts on STREAM_SD_OFFSET but not after a failed IPC. @lgirdwood @lyakh @ranj063 @kv2019i FYI.

[2021-08-03 14:38] giddie commented on #2971
I thought this was unrelated, but at this stage I guess anything could be helpful: [link to nvidia bug report](https://forums.developer.nvidia.com/t/optimus-laptop-audio-glitches-when-powermizer-is-auto/180290)

The gist is that the discrete nvidia card in this laptop appears to cause hiccups / latency such that processes that have near-real-time requirements get starved unless it's running at max

[2021-08-03 14:41] plbossart commented on #2971
Not following @giddie if we have an error with the sof driver, it means the Intel graphics is handling your display audio. If you use the Nvidia card for display audio then SOF is not involved at all.

[2021-08-03 14:58] giddie commented on #2971
Yeah, I'm just saying that I'm already aware that something to do with the hardware arrangement on my system is causing enough latency spiking to cause buffer underruns in some time-critical processes. So I saw you mention a timeout, and wondered if that could be the cause. But it's just conjecture.

[2021-08-03 16:56] ranj063 commented on #3034
@libinyang we do send the TRACE_DISABLE flag along with the PM_GATE IPC when we enter D0i3 during system suspend, right? Are you saying that more needs to be done from the host? Or is the FW not acting on it?

[2021-08-03 20:06] plbossart commented on #3078
This a tough one @sathya-nujella. We have a known requirement to execute the .shutdown callback to be able to reboot reliably. If anything non-audio interferes with this, the options are really really limited. I can't think of any turn-key proposal outside of 'fix the other drivers'...
@ranj063 any suggestions?

[2021-08-04 05:26] XiaoyunWu6666 opened #3086 "[BUG]ADLS_RVP_HDA TIMEOUT when check-kmod-load-reload"
**Describe the bug**
This happened after ADL DUTs added back to inner daily tests , and check-kmod-load-reload-25 tested on ADLS_RVP_HDA.

TIMEOUT happened :
- before dsp suspended (inner daily 5657)
- OR  when check firmware load information after kmod load (inner daily 5685)
- OR  when waiting dsp to become suspended(inner daily 5595)

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-hda-g

[2021-08-04 07:25] XiaoyunWu6666 opened #3100 "[BUG]ipc error then kernel oops when runtime resume on TGLU_RVP_NOCODEC_CI"
**Describe the bug**
when kmod unload load for multiple rounds on TGLU_RVP_NOCODEC_CI , ipc timed out when CORE_ENABLE

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 32657609
SOF Branch: main
SOF Commit: e2fc7082e1be
 Topology: /lib/firmware/intel/sof-tplg

[2021-08-04 07:26] giddie commented on #2971
An interesting observation: after an S2 suspend/resume cycle, the microphone and speaker are working again. It seems to have been able to reset.

Updated [kernel.log.gz](https://github.com/thesofproject/linux/files/6929415/kernel.log.gz)

[2021-08-04 07:27] XiaoyunWu6666 commented on #3100
related issues: thesofproject/sof#4552 thesofproject/sof#4586
ipc timed out may happen in different phases

[2021-08-04 07:51] giddie commented on #2971
Update: system hard freeze at 8:45 BST. Again, the log doesn't seem to capture the cause, so I can't be sure it's related.

[kernel.log.gz](https://github.com/thesofproject/linux/files/6929522/kernel.log.gz)

[2021-08-04 13:14] libinyang commented on #3034
After some debug, this issue is caused when dma is triggered. So it seems this is an ADL specific issue. I will prepare a patch for this issue.

[2021-08-04 13:16] lgirdwood commented on #3086
@XiaoyunWu6666 are you saying the kernel freezes after the issue ?
@plbossart this could be kernel or FW issue, not sure yet.

[2021-08-04 13:19] libinyang commented on #3034
@ranj063 Yes, we send the flag, but it didn't work. I have checked even there is no any log sent from fw, but if we triggered start the dma, pc10 won't be entered on ADL.

[2021-08-04 15:19] plbossart commented on #3086
@XiaoyunWu6666 The problem with TIMEOUT results is that we don't know if it's a kernel/firmware issue or a CI/network infrastructure issue. We've had timeouts on ADPS for multiple weeks now.

Unless there's a manual reproduction it's hard to make progress.

[2021-08-04 19:02] lgirdwood commented on #3100
@plbossart looks like kernel issue
[code]

[2021-08-04 19:06] plbossart commented on #3100
@keyonjie you are the owner of this 'nocodec-ci' topology file, I'll let you look into this.

[2021-08-05 03:44] XiaoyunWu6666 commented on #3086
I manually tried kmod-load-reload on ADLS_RVP_HDA and found checking firmware load information after kmod-load-reload took rather long time.
[code]
From the console , we can see a time gap of over 4 minutes , for checking SOF Firmware load info in kernel log.
more investigation is needed . But DUTs offline now ,will check later

[2021-08-05 08:16] kv2019i commented on #3042
Excellent @XiaoyunWu6666 , that sounds good now, let's close.

[2021-08-05 08:16] #3042 closed

[2021-08-05 12:03] plbossart commented on #2971
always the same pattern

[code]

@ranj063 @kv2019i I really don't get how we can get '0 bytes' to an IPC trigger response...

[2021-08-05 12:09] plbossart commented on #2971
the only thing that comes to my mind is the recent change in https://github.com/thesofproject/linux/pull/3058/commits/a2cb267d9503896b7e69520b5bfc9b3414d40cf9

But that's rather unlikely to be the issue.

[2021-08-05 15:50] kv2019i commented on #2971
@giddie I might have missed it, but can you confirm which version of kernel? https://github.com/thesofproject/linux/commit/a2cb267d9503896b7e69520b5bfc9b3414d40cf9 Pierre mentioned above is a very recent commit. That commit should not impact behaviour, but could still mask error messages (other cases of STREAM_SD_OFFSET failures might have same rootcause but older kernels will not print an error a

[2021-08-05 18:39] plbossart commented on #3057
upstream commit is b8cab69b0ed9ee10f2a86670ce41ffad991c8dc9, will tentatively land in 5.15

[2021-08-06 07:19] giddie commented on #2971
Sure, no problem. Here's a copy of the same kernel log with `-o short-precise`:

[kernel.log.gz](https://github.com/thesofproject/linux/files/6943734/kernel.log.gz)

The kernel version reported in the log is 5.13.5, and this is ArchLinux, which generally sticks close to upstream. The package is set to track a [fork on Github](https://github.com/archlinux/linux).

[2021-08-06 14:58] lgirdwood commented on #3086
4 minutes is way too long, btw, can you retry with lock debugging enabled in the kernel (@keyonjie can show you how to enable this in kernel kconfig).

[2021-08-06 14:59] lgirdwood commented on #3086
@plbossart fyi, may be FW or kernel, unsure atm. ruling out locking.

[2021-08-06 15:39] kv2019i commented on #2971
Thanks! So the timing for the STREAM_SD_OFFSET looks like:

[code]

Hmm, the timing looks pretty normal, around 0.5msec for the response. As I couldn't find anything matching in existing bugs (closed or open), we could use more logs from this system. SOF FW logs would be especially interesting. The FW may emit some error info why the stop-trigger failed. Something along the lines of:

sudo sof-log

[2021-08-06 16:22] giddie commented on #2971
It seems `sof-logger` isn't included in any package or on the AUR. I'm guessing it's not difficult to build; could you point me to the source?

Will I need to wait until this happens again, or can I get useful log data even after reboot?

[2021-08-06 16:24] plbossart commented on #3086
we already enable all this by default for the kernel

[code]

[2021-08-06 16:26] giddie commented on #2971
It looks like the file was not recently written:

[code]

Do I need to enable some module param for the log data to be stored?

[2021-08-06 16:26] kv2019i commented on #2971
@giddie There's a binary provided here: https://github.com/thesofproject/sof-bin/tree/main/v1.8.x/tools-v1.8 or you can build from SOF FW sources -> https://thesofproject.github.io/latest/getting_started/index.html#build-sof

Getting the log can be a challenge, the logs don't persist over reboot. You can try routing the output to a file and hopefully the error is flushed to disk before reboot. We'

[2021-08-06 16:27] kv2019i commented on #2971
@giddie The ldc file is a dictionary shipped with the FW. It's just used to parse the binary log output into human readable ascii traces. Archlinux should have the correct ldc file installed. If the ldc doesn't match the loaded fw, sof-logger will emit an error.

[2021-08-06 16:30] giddie commented on #2971
I'll wait until this next happens, then, and try to get a log. In preparation, I've tried to run the log extractor but seem to be missing a debug interface:

[code]

[2021-08-06 16:42] plbossart commented on #2971
@giddie looks like your distro didn't enable trace. Try adding this in /etc/modprobe.d/alsa-base.conf (or any .conf)

[code]

[2021-08-08 13:48] keqiaozhang commented on #2992
Verified that display audio is supported in latest sof-dev/v5.14-rc3 kernel.  This issue can be closed.

[2021-08-08 13:48] #2992 closed

[2021-08-09 02:46] RanderWang commented on #3063
this is also my first time to see such issue on 1308

[2021-08-09 07:28] giddie commented on #2971
OK, the logger is up and running. So next time this happens, I've provide a kernel log as well as the output of that `sof-logger` command above :+1:

[2021-08-09 09:24] XiaoyunWu6666 opened #3111 "[BUG]when simultaneous aplay&arecord, IO error in aplay process on TGLU_RVP_NOCODEC_CI"
**Describe the bug**
found in inner daily 5772?model=TGLU_RVP_NOCODEC_CI&testcase=simultaneous-playback-capture-25
After aplay and arecord simultaneously in the background , sleep for 5 seconds and try to kill aplay process .
However , found error in aplay process after sleep.

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/simultaneous-playback-ca

[2021-08-09 09:55] XiaoyunWu6666 commented on #3100
duplicate as thesofproject/sof#4552 thesofproject/sof#4586   ,all happened when runtime resume

[2021-08-09 13:16] ppfranco opened #3087 "Speakers/headphones not working in Lenovo Yoga C640 (Comet Lake PCH cAVS, Realtek AC285)"
No sound from both speakers and headphones on Lenovo Yoga C640-13IML on a Debian machine. Pulseaudio and ALSA apparently up and running (alsamixer all levels up). Tried to modprobe `snd_hda_intel dmic_detect=0` and `snd_intel_dspcfg dsp_driver=1` without any success.

Installed firmware-misc-nonfree and firmware-intel-sound and firmware-sof-signed.

This is pavucontrol with spotify running without

[2021-08-09 13:17] tibirna opened #3088 "Improper default configuration of Realtek ALC 233 (used by Lenovo m920sff)"
(NOTE: the full downstream report for this is here: https://bugzilla.suse.com/show_bug.cgi?id=1188685)

After successful (and uneventful) installation of OpenSUSE 15.3 on my Lenovo m920sff, the sound card is auto-configured in such a way that sound is played in both the speakers and the headphones connected to the computer. Connecting the headphones doesn't silence the the speakers. The active sou

[2021-08-09 13:45] ppfranco commented on #3087
**Fix or workaround?**

With modprobe `snd-intel-dspcfg dsp_driver=3` (SOF) audio suddently works!

[2021-08-09 13:47] plbossart commented on #3087
@ppfranco please try the suggestions in https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#

If you can't get sound with snd_intel_dspcfg dsp_driver=1 then you have a codec driver/configuration issue that's unrelated to the use of SOF.

[2021-08-09 13:48] plbossart commented on #3087
What happens if you use dsp_driver=0 or remove this option completely? If you have to force the value 3, it points to an invalid DMIC configuration at the BIOS level.

[2021-08-09 14:07] plbossart commented on #3088
@tibirna are you saying that
options snd-intel-dspcfg dsp_driver=1 works for speakers/headphones
options snd-intel-dspcfg dsp_driver=3 does not work for speakers/headphones

I think this could be a UCM issue, or the controls for jack detection don't work properly.

[2021-08-09 14:40] tibirna commented on #3088
No. I am saying that the default configuration installed for my sound configuration using the SOF drivers results in the speaker and headphones to play at the same time, while using the workaround (`options snd-intel-dspcfg dsp_driver=1`) that deactivates the SOF drivers and uses the setup previously used by my linux distro (before introducing SOF) results in the proper behavior: the speaker is si

[2021-08-10 00:20] plbossart commented on #3088
@tibirna I am not following at all.
dsp_driver =1 means forcing the use of the legacy HDaudio driver - which cannot support digital microphones.
dsp_driver=3 means forcing the use of the SOF driver - which does support digital microphones.

If you don't have digital microphones, then you have no reason to use SOF.
If you do and use the legacy HDaudio driver, you will not have capture support.

So

[2021-08-10 00:25] #3057 closed

[2021-08-11 14:47] johnledezma34 opened #3090 "Speakers not working on Thinkpad x12 detachable"
Speakers fail to work. Only Bluetooth audio - works. Any help appreciated

[2021-08-11 14:48] plbossart commented on #3090
https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms

[2021-08-11 19:22] tibirna commented on #3088
This conversation deviates from the actual topic, I think.

As can be seen by reading the output of alsa-info.sh https://bugzilla.suse.com/attachment.cgi?id=851210 attached to original issue report https://bugzilla.suse.com/show_bug.cgi?id=1188685, the snd_hda_intel kernel module detects automatically some digital mics on the Skylake+ platform (I can't tell if it's correct that it does so), so it

[2021-08-11 20:36] plbossart commented on #3088
to be clear: the previous setup was NOT "a proper sound configuration" - dmics were never handled.

Either you want to enable SOF or not. If yes, then please take a look at
https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms

HDaudio platforms have been supported for nearly two years now but there are still user-space issues with PulseAudio/UCM a

[2021-08-11 21:54] tibirna commented on #3088
I don't _get_ to _want_ to enable SOF or not. The `snd_hda_intel` kernel does the enabling automatically after detecting digital microphones.

Once the SOF driver is up, it should properly handle the separation between speaker and headphone outputs. _This_ is the error that I'm reporting.

I reported all that I could at the distro level. The distro developer requested that I report the speaker/hea

[2021-08-12 01:13] johnledezma34 commented on #3090
I appear to have the same issue as issue  #2748. I applied https://pastebin.com/60eUvKSM gotten from a kind redditor who sniffed his windows computer and used the applyverbs.py command to use it. As of now I need to apply the command while pavucontrol or another music thing is active to keep audio visible. I understand that this isn't your software's problem so I'll be frank.

Do you think that th

[2021-08-12 13:33] plbossart commented on #3088
@tiwai what makes you think it's an SOF driver issue? We're using the same code for the HDaudio codec management? My guess is that there's some issue with jack detection/UCM. There's nothing in the SOF code proper related to the codec, we only deal with the HDaudio DMAs/link.

[2021-08-12 13:37] plbossart commented on #3090
@johnledezma34 did you end-up with the *same* list of verbs as what was referenced in issue #2748 and integrated in the kernel with commit 26928ca1f06aab4361eb5adbe7ef3b5c82f13cf2

If yes the issue will be fixed when that commit lands in your distro kernel.
If no well then you'll have to carry these manual commands or submit a quirk to solve this for good.

[2021-08-12 15:24] tiwai commented on #3088
From the codec driver POV, there can't be any difference, so yes, it's likely an issue triggered by UCM profile.
My wild guess is that UCM isn't used for snd-hda-intel, while an incomplete UCM profile is used for SOF.

Maybe the handling of "Line Out" is missing...?

[2021-08-12 15:45] plbossart commented on #3088
Thanks @tiwai Indeed I have no idea what UCM should do with this configuration

[code]

@tibirna any idea why the LineOut is detected? Is this how the speakers are connected?
also no idea what the phantom jack might be.

[2021-08-13 02:03] johnledezma34 commented on #3090
How do I submit a quirk Sir?

[2021-08-13 12:26] sunweaver commented on #2460
@singalsu I just took your topology file and replaced sof-hda-generic-2ch.tplg on a freshly installed Debian 11 system. Test device is a Lenovo 13s (which my school customer has plenty of).

Without your topology file, the internal "Digital Microphone" is shown in Pulseaudio and alsamixer, but I cannot record sound with the internal mic. Neither do I see any input level in pavucontrol for the "Dig

[2021-08-13 12:36] tiwai commented on #3088
AFAIK, the "Line Out" corresponds to the line-out jack on a dock (it may have both the line out and the headphone out jacks), and it's supposed to mute the built-in speaker automatically like the headphone jack, too.

The "Speaker Phantom Jack" is a pseudo jack control for built-in speaker pins, and basically it's only useful for PulseAudio, as the control always returns true.

[2021-08-13 14:14] plbossart commented on #3090
@johnledezma34 do you have a quirk already, similar to what was implemented in https://github.com/thesofproject/linux/commit/26928ca1f06aab4361eb5adbe7ef3b5c82f13cf2?

If yes, then you can generate a patch and submit it directly to the alsa-devel mailing list. if you have no experience in submitting kernel patches, we're happy to help review your code and upstream it.

If no, then that's the first

[2021-08-13 14:42] plbossart commented on #2460
@sunweaver the status has not changed: the SOF driver as currently implemented cannot know which PDM interface is used. Most platforms use PDM0 but Lenovo for some reason used PDM1. Unfortunately this information is set in the 'topology file' and we just don't know how to select this topology.

Rather than adding multiple topology files and try to figure out what platform needs what topology, we w

[2021-08-13 14:46] plbossart commented on #3088
@tiwai I am confused with the jack layer. Can we actually see a difference and deal differently at the UCM layer between

a) single jack supporting either headphone or line out - mutual exclusion
b) two jacks supporting headphone on one and line out on the other - no mutual exclusion.

Thanks!

[2021-08-13 15:43] tiwai commented on #3088
It's possible to deal differently both cases in theory, but at least for PA, all outputs (that are assigned to a single device) are mutual exclusion, so there would be no difference, as far as I understand. So you can assume only the exclusive outputs for now.

My point is that there is no definition of Line Out at all in HD-audio profiles. That may explain the described behavior.

[2021-08-13 15:57] plbossart commented on #3088
I am not sure this is correct @tiwai. UCM has the notion of 'ConflictingDevice', that's what needs to be used in case there's a hardware limitation. If there are two separate jacks, the devices don't conflict. Maybe at the settings/PA level the routing only allows for one output at a time but that wouldn't be a UCM limitation.

Also in general the UCM support for SOF on HDaudio platform boils down

[2021-08-13 20:18] tibirna commented on #3088
Yes, the speakers are connected on the single jack available on the back
plate of the m920sff. This was always detected as 'line out' by the
different Linux installations.

This machine also has a headphones-with-mic jack and a separate mic-only
jack on the front plate.

On Thu., Aug. 12, 2021, 11:45 Pierre-Louis Bossart, <
***@***.***> wrote:

[2021-08-14 06:34] tiwai commented on #3088
That's what I meant, too :) UCM itself can distinguish both cases but PA deals always exclusively, so there is practically no difference.

[2021-08-15 11:28] ronohara commented on #2700
@plobssart   ... still no joy after upgrading alsa to 1.2.5 (lib, tools, utils) ...  some traps for that. You need to remove the apt installed bits of alsa (1.2.2) before your compile /install from source, Otherwise some of the old version gets linked into the lib files.

Upgraded to LM 20.2  as well.

Status is: kernel 5.13 sees and uses the hardware just fine  (dmesg.txt)... and alss-info shows

[2021-08-16 05:40] fredoh9 commented on #3011
This didn't happened for a long time. No change on BIOS setting. Comparing dpkg list wasn't easy.

But the clock synchronization had some issues. Removed ntpsec-ntpdate as I suspect conflict with systemd-timesyncd and made sure systemd-timesyncd does the job. After that many of weird issues was gone. I think we can close this. If same or similar problem is happened again, we can re-open.

[2021-08-16 06:30] libinyang commented on #3034
This bug can be fixed by https://github.com/thesofproject/linux/pull/3099.

However, we still have an open: why WoV dma needn't be stopped in S0ix.

[2021-08-16 09:30] XiaoyunWu6666 commented on #3100
in inner daily 5882 , Tglu-rvp-nocodec-ci ipc timed out when runtime resume to record 100 sec

[2021-08-16 09:53] XiaoyunWu6666 commented on #3011
happen in inner daily 5882 again
on cml-rvp-sdw apl-up2-nocodec

[2021-08-16 10:25] YongAnLu00 opened #3101 "[BUG] HDA controller reset fails during kernel booting in TGLU_SKU0A3E_SDW"
**Describe the bug**
In the daily test, the HDA controller reset fails and causes DSP probe failure after system boot.
According to the Jenkins log, DUT reboots successfully without hard reset after deployment.
CI only observed this issue twice in the past tests: 5882, 5568.

**To Reproduce**
Check dmesg log after system boot.

**Reproduction Rate**
Happened twice in 3 weeks in the internal daily

[2021-08-16 14:28] plbossart commented on #2700
@ronohara maybe try removing/reinstalling libasound2-data. We've seen cases where bad mixer settings keep being used, and removing them helps.

[2021-08-16 16:28] fredoh9 commented on #3011
What a coincidence! After closing this issue, I saw that failure.

After scan full test logs for about a month, these are the failures. Will do more investigation.

- 5261/CML_RVP_SDW/check-suspend-resume-50
- 5664/ADLP_RVP_NOCODEC/check-suspend-resume-5
- 5687/ADLP_RVP_NOCODEC/check-suspend-resume-5
- 5882/CML_RVP_SDW/check-suspend-resume-50
- 5882/APL_UP2_NOCODEC/check-suspend-resume-50

[2021-08-16 21:44] ginick commented on #3056
i just want to say this hasn't occurred again.

[2021-08-16 23:17] johnledezma34 commented on #3090
I'm closing this issue. I moved back to windows. Sound is essential and I don't really know how to create the audio hashes.

[2021-08-16 23:17] #3090 closed

[2021-08-17 05:36] ronohara commented on #2700
Hmm - apt purge libasound2-data  ,,,, looks a bit dangerous

The following packages will be REMOVED
  ant* ant-optional* antlr* antlr3* antlr3.2* aspectj* blender* blueberry* brasero* brasero-cdrkit* brltty* bsh*
  ca-certificates-java* celluloid* cheese* cup* default-jdk* default-jdk-headless* default-jre*
  default-jre-headless* dissenter-browser* evolution-data-server* ffmpeg* ffmpegthumbnailer

[2021-08-17 05:40] ronohara commented on #2700
And alsamixer now has a library problem.  Looks like I might have to compile quite a bit from source to get the 1.2.5 alsa support working.

360 tmp # alsamixer
ALSA lib dlmisc.c:170:(snd_dlsym_verify) unable to verify version for symbol snd_func_private_integer
ALSA lib conf.c:4720:(_snd_config_evaluate) symbol snd_func_private_integer is not defined inside (null)
ALSA lib conf.c:5220:(snd_config

[2021-08-17 23:47] plbossart opened #3104 "SoundWire w/ deep-buffer: race condition on trigger"
when https://github.com/thesofproject/sof/pull/4611 is used to enable a deep-buffer PCM, we see a race condition reported with sof-test, where the TRIGGER_START is sent twice and TRIGGER_STOP never. This leads to invalid SoundWire stream states.

[2021-08-17 23:52] plbossart commented on #3104
https://github.com/thesofproject/linux/pull/3098 provides a solution to remove the race condition, but it creates another issue with mixing: stopping one stream results in an xrun for the other....

to reproduce: use PR 3098
terminal 1: speaker-test -Dhw:0,0 -c2 -r48000
terminal2:  speaker-test -Dhw:0,31 -c2 -r48000 -l1

a xrun happens when the second stream stops. Gah.

[2021-08-18 07:19] XiaoyunWu6666 opened #3105 "[BUG] dapm_find_widget Error when kmod-load-unload after aplay on GLK_BOB_DA7219"
**Describe the bug**
In inner 5931, on model=GLK_BOB_DA7219 ,after playback and try kmod load unload , error happened when **dapm_find_widget** .
After that , kernel Oops and Call Trace happened

/I ran over 100 rounds, but haven't reproduced it though . Still trying

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-glk-da7219.tplg ~/sof-test/test-case/check-kmod-load-unload-after-playback.

[2021-08-18 13:35] plbossart commented on #3105
duplicate of https://github.com/thesofproject/linux/issues/2676

[2021-08-18 13:35] #3105 closed

[2021-08-20 19:16] plbossart commented on #3088
The only thing I can suggest is to try this

[code]

This should enable a line out.

[2021-08-20 19:19] plbossart commented on #3012
Seen by @bardliao (c.f. https://github.com/thesofproject/linux/pull/3098#issuecomment-902559558)

[2021-08-20 20:03] perexg commented on #3088
This configuration is for different hardware (multiple HDA codecs using multiple PCM devices).

The use case for this HDA configuration should be written from scratch (different mixer controls like 'Front Mic', 'Line Out', 'Headphone+LO' etc.):

[code]

PA does not use the legacy probe when UCM is used, so the configuration must be described in UCM correctly.

[2021-08-24 09:25] tkopecek opened #3114 "Comet Lake can't load/init firmware"
Fedora 34, kernel-5.13.12, sof 1.8, Comet Lake PCH-LP cAVS (t14s)

On boot dmesg will contain following and no sound device is created:
[code]

I've tried:
1) disable/enable ME (as it looks similar to #2478) - no change
2) use snd_hda_intel.dmic_detect=0 - enabled sound output, but no microphone
3) some older kernels/distros live images (Ubuntu 20.04, Fedora 33) - they don't detect it in the same

[2021-08-24 14:14] plbossart commented on #3114
@tkopecek can you upload the results of 'alsa-info' please, just to verify the PCI ID.

Also if you can try to use 'dnf downgrade' to go back to the SOF firmware 1.7 or 1.6 it would help us identify if this is a firmware signature issue or if none of the releases work on your device.

Thanks!

[2021-08-24 19:28] tkopecek commented on #3114
[alsa-info.sof-1.6.txt](https://github.com/thesofproject/linux/files/7041659/alsa-info.sof-1.6.txt)
[alsa-info.sof-1.8.txt](https://github.com/thesofproject/linux/files/7041660/alsa-info.sof-1.8.txt)

[2021-08-24 19:29] tkopecek commented on #3114
Uploaded logs for both variants sof -1.6/1.8 it looks to be pretty same.

[2021-08-24 19:46] plbossart commented on #3114
I don't have any suggestions @tkopecek this looks like a nasty firmware signature issue, or there's something in the BIOS configuration that we don't handle well somehow.

@lgirdwood @mrhpearson FYI.

[2021-08-24 19:59] lgirdwood commented on #3114
@plbossart it looks like the FW has either not been copied by DMA or not booting once copied. @abonislawski @mwasko any idea on the ROM codes ?

[2021-08-24 20:04] plbossart commented on #3088
I wouldn't even know where to start...

[2021-08-24 20:12] plbossart commented on #3063
Also seen on August 17 https://sof-ci.sh.intel.com/#/result/planresultdetail/5922

[2021-08-24 20:27] mrhpearson commented on #3114
Thx - I don't have a T14s myself but I'm looking in our team to see who can help support with any debug. This platform was linux certified so it should work well and I've not heard/seen this issue before (which I'd expect if the issue is seen with older versions of SOF firmware). Any potential this could be triggered by bad HW?

@tkopecek - can you confirm which BIOS and EC version you are running

[2021-08-25 09:50] bardliao opened #3116 "Input/output error is seen if we do suspend in pause"
kernel: topic/sof-dev branch commit: eb55816743ec
To reproduce
1. Start a sdw pcm. eg. "aplay -Dhw:0,0 test.wav -vv -i" on terminal 1
2. Press "space" to pause the stream on terminal 1.
3. Run "sudo rtcwake -m mem -s 5" on terminal 2.
4. Press "space" again on terminal 1 to release the stream after the system is resume. and we will see Input/output error

Test platform: TGL
But I think it should b

[2021-08-25 09:59] tkopecek commented on #3114
Sorry for the noise - I've found that EC was corrupted (during one of the boots seen very quick flash after POST with FW fail message). After reflashing it works as expected.

[2021-08-25 09:59] #3114 closed

[2021-08-25 11:01] dober60 commented on #3114
I tested this on my system and I find that all is fine until you update alsa-ucm package from the 1.2.4-5 to 1.2.5.1-1.  I do not get the errors in dmesg but sound no longer finctions. Kernel is the same as the users and firmware is 1.8-1

[2021-08-25 14:43] plbossart commented on #3114
@dober60 do you mind opening a separate issue?

[2021-08-25 14:44] plbossart commented on #3114
Good to know, thanks for confirming!

[2021-08-25 15:27] ranj063 commented on #3116
@bardliao for HDA, we added a special clause in hda_dsp_set_hw_params_upon_resume() for paused streams.
https://github.com/thesofproject/linux/blob/eb55816743ecf7a68a94e0306d069c5e50783722/sound/soc/sof/intel/hda-dsp.c#L919

Maybe you need something similar for soundwire too?

[2021-08-25 15:54] plbossart commented on #3116
I tried on CML device and can reproduce

log on terminal
[code]

dmesg
[code]

I don't get how we missed this with CI/Daily tests...

[2021-08-25 16:08] ranj063 commented on #3116
@plbossart I dont think we have a test that checks suspend/resume for paused streams in our CI suite

[2021-08-25 16:26] plbossart commented on #3116
the good thing is that I can't reproduce this error with upstream code, so it's got to be something with dynamic pipelines or recent changes.

[2021-08-25 16:59] plbossart commented on #3116
With added traces, I see that the refcount remains > 0 when we suspend while in pause. There is no TRIGGER_SUSPEND!

[code]

[2021-08-25 17:00] ranj063 commented on #3116
@plbossart that exactly what the comment I pointed to in my comment says

[2021-08-25 17:20] plbossart commented on #3116
@ranj063 I don't get what your set_hw_params_upon_resume() function does. It seems to do things for the HDaudio link DMA.

but the comments point to things that don't seem to exist

[code]

[2021-08-25 17:25] ranj063 commented on #3116
@plbossart I think the comments have become stale as we changed code. But I think the idea is that since we don't have a suspend trigger for paused stream, we need to do things explcitly during resume that we'd have normally done in suspend.

[2021-08-25 17:27] plbossart commented on #3116
do you know why we don't have a suspend-trigger in the first place? That will completely wreck the dailink management and the be_start refcount I added.

[2021-08-25 17:33] ranj063 commented on #3116
its because of this:
https://github.com/thesofproject/linux/blob/eb55816743ecf7a68a94e0306d069c5e50783722/sound/core/pcm_native.c#L1631

and snd_pcm_running is defined as:
https://github.com/thesofproject/linux/blob/eb55816743ecf7a68a94e0306d069c5e50783722/include/sound/pcm.h#L661

PAUSED state doesnt qualify in the check above.

[2021-08-25 18:57] ranj063 commented on #3116
@plbossart I wonder if this is because of th recent trigger handling that we added in soundwire recently?

[2021-08-25 19:33] plbossart commented on #3116
no. it's that the reference count was never supported in suspend while pause. I am trying a hack where in the component suspend I loop on all dais that are not suspended. That seems to work on paper, the component suspend is called *after* the trigger_suspend, so that would catch the corner case we don't handle.

[2021-08-25 21:09] plbossart commented on #3116
Before today's change
[   28.336715] sof-audio-pci-intel-cnl 0000:00:1f.3: sof_tear_down_pipelines: error: widget PIPELINE.1.ALH2.OUT is still in use 5
[   28.336717] sof-audio-pci-intel-cnl 0000:00:1f.3: sof_tear_down_pipelines: error: widget ALH2.OUT is still in use 2
[   28.336718] sof-audio-pci-intel-cnl 0000:00:1f.3: sof_tear_down_pipelines: error: widget BUF1.1 is still in use 1
[   28.33671

[2021-08-25 23:13] ranj063 commented on #3116
@plbossart you are right. this isnt SDW specific. We have a gap for paused stream irrespective of DAI type with dynamic pipelines. Please stay tuned, i have a PR coming up

[2021-08-26 00:09] ranj063 commented on #3116
@bardliao could you please give this a try https://github.com/thesofproject/linux/pull/3119?

[2021-08-26 02:22] bardliao commented on #3116
I can't reproduce it if I revert c812b04509ff19.

[2021-08-26 02:23] bardliao commented on #3116
#3119 doesn't fix the issue on sdw.

[2021-08-26 03:01] bardliao commented on #3116
@plbossart It seems we saw different errors. Here is my error
[code]

[2021-08-26 03:48] XiaoyunWu6666 commented on #3008
Kernel oops on Helios Chromebook in inner daily 6090 too, when check-kmod-load-unload
[dmesg]
[code]

[2021-08-26 08:11] bardliao commented on #3116
@plbossart The sdw issue I met is that `intel_trigger` will not be triggered due to the [if (! snd_pcm_running(substream))](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/core/pcm_native.c#L1631) test in `snd_pcm_do_suspend`.
I tried to fix it by
[code]
And it seems work, but I don't know if it will lead to any side effect.

Edit: Node that I tested it with SOF v1.8. It could be t

[2021-08-26 08:20] ghost opened #3120 "[BUG] Null pointer dereference during setting sysclk/dai for rt5682 in CML_HEL_RT5682"
**Describe the bug**
Found null pointer dereference bug in CML_HEL_RT5682 while running check-kmod-load-unload.sh in internal test 6090.

**Command to run**
TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 25

**Reproduction Rate**
Only once in recent daily tests. Couldn't reproduce it with 100 iterations of kmod load-unload. Tried to r

[2021-08-26 13:52] plbossart commented on #3116
@bardliao can you try with the update in https://github.com/thesofproject/linux/pull/3098, I modified the code that you are referring to above.

[2021-08-26 13:55] plbossart commented on #3120
@YongAnLu00 looks like a duplicate of https://github.com/thesofproject/linux/issues/3008?

[2021-08-27 01:50] ghost commented on #3120
Hi @plbossart, I think it isn't a duplicate because the call trace shows the null pointer dereference occurred from different functions. Although maybe they potentially come from a same problem, it would be better if we treat them as different issues before more investigation.

[2021-08-27 02:03] bardliao commented on #3116
Yes, and I didn't see any issue with the updated #3098

[2021-08-27 11:47] giddie commented on #2971
OK, this triggered again. I ran the `sof-logger` command, but now I'm thinking that this seems to be logging data in real-time, rather than dumping debug data that already exists, since the output continued growing. I stopped after ~1GiB (gzipped). I'm not sure if this data will be useful, since it occurred after I triggered the error condition. But it's temporarily available here if you want it:

[2021-08-27 12:33] plbossart commented on #3120
Well, one of the traces points to a register issue while the other points to an unregister. Both are symptoms of corrupted pointers, something bad will happen eventually, the occurrence of the problem will depend on what is in the bad memory.

[2021-08-27 12:56] paulstelian97 commented on #2971
@giddie sof-logger indeed is capturing real time logs (there's no place to store all the logs during the runtime). Indeed it would be best if the logger were running when the error condition occurred, not after it. I will check that data out though indeed, I have the same intuition that it likely isn't going to be useful.

[2021-08-27 13:05] paulstelian97 commented on #2971
[code]

These are the logs, for reference. The file seems to be this, repeated.

[2021-08-27 13:21] giddie commented on #2971
OK, so presumably each instance will be whatever is stored in a ring buffer for the debug interface in the kernel, and it's repeated on a loop because I'm not really interacting much with the audio during this capture, so it doesn't advance?

[2021-08-30 02:56] keqiaozhang commented on #3086
This issue cannot be reproduced with QS Silicon and new BIOS.

[2021-08-30 02:56] #3086 closed

[2021-08-30 06:52] 1994lwz commented on #3116
The issue can be reproduce on the ADLS-RVP-HDA and reopen it.
Kernal: 973aa026 + #3098

[Terminal]
[code]

[dmesg]
[code]

[2021-08-30 06:55] paulstelian97 commented on #2971
Logs normally loop as every millisecond (dependent on pipeline configuration it could be every few milliseconds though) the entire processing loop goes again for the next pieces of audio data. Configuration only happens one, processing happens basically continuously. Here we have a failure in processing, thus this one will happen continuously.

When the DSP is idle (due to you not making an attemp

[2021-08-30 06:57] 1994lwz commented on #3116
Test on the TGL-RVP-SDW, the platform can be pause-suspend-resume-release normally, but when I do the release operation, the terminal have the error message, and will not affect the normal playback and subsequent testing.
[code]

[2021-08-30 15:03] plbossart commented on #3116
that's 'normal' and not an SOF error.

[2021-08-30 15:05] plbossart commented on #3116
@1994lwz Can you file a separate issue, the initial problem was with SoundWire and this is an HDaudio platform. Please attach more logs and/or the reference of the Intel test.

[2021-08-30 15:05] #3116 closed

[2021-08-31 01:44] 1994lwz opened #3127 "[HDA] ipc tx error is seen with pause_release after system suspend"
kernel: topic/sof-dev branch commit: 973aa02

To reproduce:
Start a sdw pcm. eg. "aplay -D hw:0,0 -r 48000 -c 2 -f S16_LE -vv -i /dev/zero -q" on terminal 1
Press "space" to pause the stream on terminal 1.
Run "sudo rtcwake -m mem -s 5" on terminal 2.
Press "space" again on terminal 1 to release the stream after the system is resume. and we will see ipc tx error

Test platform: ADLS-RVP-HDA

[Term

[2021-08-31 07:41] keqiaozhang commented on #3101
This issue can be reproduced with warm reboot stress test(found at 51st, 32nd and 35th).

[2021-08-31 11:54] shumingfan commented on #3008
@XiaoyunWu6666 Do you have the method to duplicate this issue again?
I submitted PR #3130 that tries to fix this issue. Could you test with this PR?

[2021-08-31 16:31] JonAnCla commented on #2700
Hey @ronohara, in case it helps, I was able to build .deb files for alsa 1.2.5.1 from the debian sources for the future "sid" release for the following:
- alsa-lib
- alsa-utils
- alsa-topology-conf
- alsa-ucm-conf

(libasound is part of alsa-lib)

You can download the debian source bundles for these here, e.g. here's the one for alsa-lib
https://launchpad.net/debian/sid/+source/alsa-lib

you can t

[2021-08-31 17:15] plbossart commented on #3127
reproduced on UpExtreme in default HDaudio mode

terminal 1: aplay -Dhw:0,0 -c2 -r48000 -fS16_LE -i /dev/zero
press on space to pause
terminal 2: rtcwake -m mem -s 2
wait for resume
terminal 1: press on space

[code]

[code]

[logger.log](https://github.com/thesofproject/linux/files/7085664/logger.log)
[dmesg.log](https://github.com/thesofproject/linux/files/7085666/dmesg.log)

@ranj063 can you ta

[2021-08-31 17:19] plbossart commented on #3127
kernel SHA1: bed17efc810a fixup! ASoC: SOF: handle paused streams during system suspend
SOF SHA1: 6b650bd95  xtensa-build-zephyr: add imx8 as supported platform

[2021-08-31 17:21] plbossart commented on #3101
@keqiaozhang is this a script you have? What are you referring to with 'warm reboot stress test' ?

[2021-08-31 17:48] cujomalainey opened #3132 "[IPC] No audio on fresh flashed device"
We applied this [patch](https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/3093619) per recommendation of our "find missing" robot which hunts down upstream patches to apply to our kernel based on the "Fixes" tags. This (innocent in appearance) commit caused a bug where no audio was presented after a device was flashed (with --clobber-stateful), rebooting restored audio.

S

[2021-08-31 17:56] plbossart commented on #3132
@cujomalainey how do you know it's precisely that patch 973b393fdf073a4ebd8d82ef6edea99fedc74af9 that causes issues?

@lyakh FYI

[2021-08-31 17:57] cujomalainey commented on #3132
@plbossart we reverted, rebuilt the image and cannot reproduce the bug anymore

[2021-08-31 18:01] cujomalainey commented on #3132
Also our testers bisected the failure down to the image that patch was introduced in

[2021-08-31 18:19] plbossart commented on #3132
Could it be that somehow your firmware sends a weird IPC message that's now detected as an error? In that case you would see an error in the kernel dmesg log, no?

[2021-08-31 19:13] cujomalainey commented on #3132
I did check that but didn't see anything in the tester logs, I will keep testing locally

[2021-08-31 19:17] fredoh9 commented on #3008
There is no magic test command to reproduce this for 100%. We can try with high iteration but even test with 100 loop may not reproduce the problem.

`TPLG=sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 100`

[2021-08-31 19:23] ranj063 commented on #3132
@cujomalainey could you please check if you have this patch in your kernel?

Author: Keyon Jie <yang.jie@linux.intel.com>
Date:   Sat Nov 9 05:21:00 2019 +0800

    ASoC: SOF: Intel: hda-loader: clear the IPC ack bit after FW_PURGE done

[2021-08-31 19:54] cujomalainey commented on #3132
@ranj063 yes, that appears to have been pulled in back in April

[2021-08-31 22:45] plbossart commented on #3127
@1994lwz can you please try https://github.com/thesofproject/linux/pull/3133, it solves the problem for me. Thanks!

[2021-09-01 00:14] cujomalainey commented on #3132
our initial analysis appears to be in error. This CL just happens to be merged on an image that hits a race condition that wedges CRAS and SOF without error. I have only seen it once before and it was not fixed evidently. This time I figured out a way to unlock the filesystem without losing the bug. I will get an SOF trace and see if there is an error.

[2021-09-01 01:06] keqiaozhang commented on #3101
@plbossart , yes, I wrote a simple script to do the reboot test:
[code]

[2021-09-01 01:42] XiaoyunWu6666 commented on #3008
:) since we have three cml helios DUTs, I can run many iterations on one of them (maybe more than 500...
I will post the result later today , and let's see what to do next , thx

[2021-09-01 06:48] 1994lwz commented on #3127
I didn't see any issue with the updated #3133

[2021-09-02 13:50] keyonjie commented on #2805
@sathya-nujella @cujomalainey does the issue still happen? If so, can you help to check if the IMR restore feature in PR #2989 bring any different result?

[2021-09-02 15:53] sathya-nujella commented on #2805
Sure @keyonjie .
I guess needed for ADL kernel too. Adding other folks +@Vamshigopal , @sathyaprakash

[2021-09-02 16:30] cujomalainey commented on #2805
@keyonjie i think the IMR was supposed to solve the OOM bug? And yes this still happens when the system paniced previously

[2021-09-02 16:45] #3127 closed

[2021-09-02 21:47] cujomalainey commented on #3132
Aha! I have clue about what is happening. Somehow one of the tasks for the speaker-path (this is a DSM device, so echo ref included in this situation) is never getting it's task created and just fails silently. Here is a [log](https://github.com/thesofproject/linux/files/7101941/log.txt), the bad case is `[     3277262.630190]` to  `[     3285308.254870]` I restart CRAS  at `[   730093261.978284]`

[2021-09-02 21:56] cujomalainey commented on #3132
I am not entirely convinced yet that this actually is an SOF bug, it very well could be a CRAS bug where its not making all the proper ALSA calls which would explain why this is a silent failure in terms of logs.

[2021-09-02 23:11] cujomalainey commented on #3132
Issue traced up to ASoC. I only see trigger call come through once twice in bad case vs four times in good case. Blaming CRAS. Sorry for the noise.

[2021-09-02 23:11] #3132 closed

[2021-09-03 20:04] plbossart commented on #3101
@keqiaozhang can you two tests with the following options (separately)

a) first test to disable SoundWire clock stop mode
options snd-sof-intel-hda-common sdw_clock_stop_quirks=1

b) second test to disable SoundWire pm_runtime
options soundwire-intel sdw_md_flags=0x02020202

Wondering if the warm reboot with the SoundWire clock stop mode used creates a problem. @bardliao @RanderWang any other sug

[2021-09-04 01:11] ameenshake opened #3138 "[BUG] Audio drops when switching applications"
I've been getting a strange issue. From a fresh restart, the sound works just fine in whatever application I use. However, when I open a new application, the sound dies. For example (this happened today), I am running Spotify and the sounds works perfectly well but as soon as I open chrome, the sounds dies. Nothing particularly changes about the system, the output device remains the same. The soun

[2021-09-06 01:38] mengdonglin commented on #2828
Succeeded to apply apply the BIOS PINCTROL fix to EHL RVP.
Failed to apply the BIOS PINCTROL fix to EHL CRB:  the patch cannot be applied to the last working BIOS of CRB. The BIOS of CRB has been updated for months.

[2021-09-06 02:28] bardliao commented on #3101
@keqiaozhang Have you seen this issue on other devices? It is odd to me if it is SoundWire related.

[2021-09-06 07:32] lyakh commented on #3061
@plbossart can this be closed now?

[2021-09-06 07:58] YongAnLu00 opened #3140 "[BUG] rt1308 initialization timed out on TGLU_RVP_SDW when suspend-resume"
**Describe the bug**
On TGLU_RVP_SDW, rt1308 initialization timed out when system try resuming after suspend. This issue was found in the stress test for [tgl/v13.0-hotfix3](https://github.com/thesofproject/sof/tree/releases/tgl%2Fv13.0-hotfix3).

**To Reproduce**
Check dmesg log after suspend-reusme.

**Reproduction Rate**
Only once in 190 iterations of suspend-resume.

**Environment**
Kernel Bra

[2021-09-06 12:53] keqiaozhang commented on #3101
This issue still can be reproduced with this option(added this option to /etc/modprobe.d/alsa-base.conf). Found the error at 100th iteration.

Found the error at 38th iteration.

[2021-09-06 12:53] keqiaozhang commented on #3101
Only observed this issue on model.

[2021-09-07 12:49] owlshrimp commented on #2539
I'm pretty sure that the ME has an interface that shows up on the PCIe bus or similar when active.

[2021-09-07 14:21] #3061 closed

[2021-09-07 14:27] plbossart commented on #3138
@ameenshake we only support a single stream at the driver level for now, so the behavior when you open a second stream will be determined by userspace, typically a sound server such as PulseAudio or PipeWire will mix and send the result to the driver.

[2021-09-07 14:33] plbossart commented on #3140
It's a known issue, duplicate of  https://github.com/thesofproject/linux/issues/3063

[code]

[2021-09-07 14:35] plbossart commented on #2828
@mengdonglin what does this mean? can we enable the kernel PINCTRL option?

[2021-09-07 17:49] ameenshake commented on #3138
@plbossart Thanks I believe it's a PulseAudio issue. `pulseaudio -k` followed by `pulseaudio --start` gets my audio back.

[2021-09-07 19:13] mjg59 commented on #2539
ME status can be determined by reading PCI config register 0x40 on device 00:16.0. If that device isn't present then ME is probably disabled.

[2021-09-07 19:56] plbossart commented on #2539
@mjg59 we asked users to run tests on a Dell device with the "ME lockout" option and the PCI driver for MEI probed alright, with /dev/meiX devices exposed to userspace, even when allegedly the ME is disabled.

I was really unable to find any reliable information, be it public or from my Intel colleagues, so punted and added wording in the configuration. I don't personally have any time to revisit

[2021-09-07 20:02] mjg59 commented on #2539
@plbossart The value of config register 0x40 tells you which state the ME is in - bits 16:19 will be 0 if the ME is running normally, something else if it's been disabled. It's possible that Dell have chosen an approach that doesn't set those bits, in which case I'd expect (but can't verify) one of bits 0:3 (current ME state, should be 0x5 if the ME is working), 6:8 (current ME operating state, sh

[2021-09-07 20:11] plbossart commented on #2539
@mjg59 I find it ironic that you provided me with information I wish I had a year ago. As I said above I don't have any bandwidth to look further into this, but will gladly review any patches that come my way for integration in the SOF tree then ASoC. Thanks for your understanding.

[2021-09-08 12:36] hottwaj opened #3144 "No sound on HP x360 14-ea000t (tiger lake)"
I'm unable to get sound on my HP x360 tiger lake when I cold boot into linux. (booting via windows first and then doing a soft restart to linux works)

I have followed descriptions in various other places (particularly #2700) and arrived at the following setup:
- linux mint 20 (ubuntu 20.04 derivative)
- alsa-lib 1.2.5.1 & related alsa packages
- 5.13 kernel
- firmware-sof 1.7

Even with that conf

[2021-09-08 14:58] plbossart commented on #3144
@hottwaj your pastebin.pl link is filtered with "NET::ERR_CERT_AUTHORITY_INVALID" errors. please use a different tool

Please clarify if you get audible sound on the headphone output, and if you get no sound on speakers only.

please see the suggestions at https://thesofproject.github.io/latest/getting_started/intel_debug/introduction.html
specifically try to use "options snd-intel-dspcfg dsp_driv

[2021-09-08 15:19] JonAnCla commented on #3144
Thanks @plbossart, try this link for the alsa-info output instead:
https://drive.google.com/file/d/1wstEpK_loYdIfTNP8yyWNOsJlhs4LICx/view?usp=sharing

I do get headphone output.  It is only the onboard speakers of the laptop that are a problem (and only on a cold boot)

I understand that this model of HP laptop has already had quite a bit of attention e.g. see following link.
 Some verb trickery i

[2021-09-08 15:42] plbossart commented on #3144
@hottwaj this is really not something related to the SOF driver proper, in this case we reuse the HDaudio configurations from sound/pci/hda/, so if this model is not well handled and needs quirks, it has to be fixed in that driver. I think you should continue with the bugzilla link and report your findings there. This GitHub issue isn't going to be very helpful I am afraid.

[2021-09-08 20:20] JonAnCla commented on #3144
OK thanks @plbossart I will go back there, thanks for your help.

Closing assuming this needs to be fixed elsewhere

[2021-09-08 20:20] #3144 closed

[2021-09-09 09:24] sergeyfil1 commented on #2955
Здравствуйте, имею ноутбук KUU с таким же звуковым устройством и кодеком, как мне это можно установить у себя в Linux системе для теста?
Hello, I have a KUU laptop with the same sound device and codec, how can I install this on my Linux system for a test?

[2021-09-10 03:26] ranj063 opened #3147 "i915 error during suspend/resume"
[ 945.548337] kernel: i915 0000:00:02.0: [drm] *ERROR* Atomic update failure on pipe A (start=184 end=185) time 149 us, min 1073, max 1079, scanline start 1071, end 1081

Showed up randomly in the suspend/resume test on TGL HDA device.
Logs here: https://sof-ci.01.org/sofpr/PR4702/build10276/devicetest/

[2021-09-10 03:26] ranj063 commented on #3147
@kv2019i I am not sure if this is something to worry about or can we add this error to our ignore list?

[2021-09-10 10:44] kv2019i commented on #3147
@ranj063 This can be ignored, it won't affect the audio use-cases.

[2021-09-11 02:30] plbossart opened #3151 "HDA with deep-buffer: IPC error on pause_release after suspend-resume"
kernel changes for deep-buffer support: https://github.com/thesofproject/linux/pull/3146
topology changes for deep-buffer support https://github.com/thesofproject/sof/pull/4611

use two terminals
terminal1:
[code]
press space to trigger pause_push

terminal 2:
[code]
terminal 1:
press space to trigger pause_release

[code]

Dmesg log
[dmesg.log](https://github.com/thesofproject/linux/files/7147070

[2021-09-11 02:32] plbossart commented on #3151
topology used for reference:

![sof-hda-generic-4ch](https://user-images.githubusercontent.com/1149035/132933304-24acbd7a-5ae2-4655-9bd6-87ec51104b1b.png)

[2021-09-11 02:44] plbossart commented on #3151
same issue with 'standard' topic/sof-dev kernel branch
6a95ae1a6a50 fixup! ASoC: SOF: handle paused streams during system suspend

and
topology changes for deep-buffer support thesofproject/sof#4611

My money is on the FE-BE trickery to allocate the stream in non-coupled mode. That is probably broken for the case with 2 FEs and 1 BE.

[2021-09-12 01:12] willy613 opened #3152 "HP Spectre 13-aw2020ca believes headphones are connected"
hardware DMI string: HP Spectre x360 Convertible 13-aw2xxx
Kernel version: 5.14.0
SOF version 1.8

The speaker-test commands mentioned in issue 2700 work fine:

alsaucm -c sof-soundwire set _verb HiFi set _enadev Speaker
speaker-test -Dhw:0,2 -c2 -r48000

I get pink noise from left and right speakers as expected.  If I plug headphones in, I get audio out.  But unplugging the headphones, I get no s

[2021-09-12 22:19] wzrdtales commented on #3057
@plbossart I tested 5.14 with https://github.com/thesofproject/linux/commit/b8cab69b0ed9ee10f2a86670ce41ffad991c8dc9 patched in. Sound worked, however the microphone is still not picking anything up (it appears as soundwire microphones though), so I guess not completely fixed yet.

if that helps output of dmesg

[code]

[2021-09-13 11:46] jairaj-arava opened #3154 "[BUG] [ADL-M RVP]: Failed to load DSP topology during Cold/warm boot tests with RT711 on board Soundwire codec"
**Describe the bug**
During warm boot tests, we see DSP topology load failure randomly.

**To Reproduce**
1.Boot the Chromebook.
2. Copy the folder warm_cold_boot_device_check  script to the device.
3. Initiate test with command: ./start_test.sh 5 20 -> warm boot

**Reproduction Rate**
The issue happens randomly once or thrice so far in 1000 cycles.

**Expected behavior**
Sound card should be load

[2021-09-13 12:12] jairaj-arava commented on #3154
@Vamshigopal @sathyap-chrome

[2021-09-13 15:50] plbossart commented on #3152
If you using the -Dhw:x,y hardware devices, there is no automatic switch nor detection of headphone jacks.

a) -Dhw:0,0 is for headphone - even if not connected the output will consume data
b) -Dhw:0,2 is for speakers - it's completely independent from the headphone status.

the speakers and headphone are handled by two separate chips which can work independently, it's different to the traditional

[2021-09-13 15:57] plbossart commented on #3057
@mblack154 You may want to play with alsamixer values for the RT714/715 which deals with the microphone, i vaguely remember that we modified a control and it may not be set right with your version of UCM files.

Try to see if the switches are all on with 'alsamixer'

[2021-09-13 16:33] plbossart commented on #3154
Can we add more information on the 'ASoC: invalid widget size' error?
@ranj063 any ideas what this could be due to?

[2021-09-13 19:02] plbossart commented on #3151
It seems that the behavior is different with the latest firmware from thesofproject/sof#4611, not just the topology changes. No IPC error is seen, in contrast to with the released 1.8 firmware.

However I still see an xrun when monkey testing paused, at some point both streams stop with "aplay: pcm_write:2117: write error: Input/output error"

[2021-09-13 19:33] plbossart commented on #3151
To be more precise, with the latest firmware and topology from  thesofproject/sof#4611, I see an xrun with the following sequence using 3 xterms and SSH.

a) terminal 1: aplay -Dhw:0,0 -c2 -r48000 -fS16_LE -i /dev/zero, press space for pause
b) terminal 2: aplay -Dhw:0,31 -c2 -r48000 -fS16_LE -i /dev/zero, press space for pause
c) terminal 3: rtcwake -m mem -s 2
d) terminal 2: press space -> pause

[2021-09-13 19:59] willy613 commented on #3152
Oh!  Thank you for explaining that.  I confirm that I can select speakers instead of headphones and everything works as expected.  I didn't even think to check whether I could switch manually.

[2021-09-13 19:59] #3152 closed

[2021-09-13 20:25] plbossart commented on #3151
Annotated dmesg log shows we don't handle the PAUSE_RELEASE well after the suspend-resume cycle: it's handled as a START. We probably need the same concept as for SoundWire where we track the paused state... @ranj063 FYI

[dmesg.log](https://github.com/thesofproject/linux/files/7157166/dmesg.log)

[2021-09-13 20:35] plbossart commented on #3152
@willy613 sometimes it's a 'feature' that when removing headphones the sound is not automatically played on speakers - to avoid blasting the content which was assumed private. Android devices will e.g. pause music when removing headphones and ask the user to manually restart on speakers. Defining the 'right' behavior is tricky since someone will always be unhappy.

That said, if your sound server,

[2021-09-14 06:35] wzrdtales commented on #3057
@plbossart I am not using alsa right now but pulse, in pulse I can't find those values though.

[2021-09-14 06:58] jairaj-arava commented on #3154
@plbossart , shall I get the logs with dynamic debug logs enabled? or will there be any timings issues that we can expect if we enable full logs?

[2021-09-14 06:59] wzrdtales commented on #3057
Also little weird, if I boot the system with an external audio interface connected, the soundwire devices don't even start appearing. And sometimes when hooking up the docking station with the external audio interface they also disappear (and seem to crash the gnome interface while they're doing)

[2021-09-14 08:42] aiChaoSONG commented on #3154
@jairaj-arava Better to have the dynamic debug on and attach the full log when issue happens. Please also apply the patch below
[code]
If you cannot reproduce the issue with dynamic debug on, please try to reproduce with the patch. Better to have both.

Edit: I will also try to reproduce locally.

[2021-09-14 12:23] lyakh opened #3157 "[APL] SOF test result depends on the speed of frmware loading"
My testing usually looks like (approximately):
[code]
but sometimes I don't rebuild the firmware image and instead want to re-test the existing one. Then I reboot the test device and skip the `scp` and proceed from the second line. And in some cases the results are consistently different between the two cases. I've seen this multiple times, but I typically discarded this as a human error. Now I ag

[2021-09-14 13:51] plbossart commented on #3057
@wzrdtales try with "alsamixer -Dhw:0"

you can see if the soundwire devices are present by opening a terminal and using 'aplay -l' and 'arecord -l'.

I am not sure what you mean by external audio interface and docking station, this is orthogonal to SoundWire. Are you referring to USB cards?

[2021-09-14 15:44] wzrdtales commented on #3057
yes it is a usb sound card (or any other device which comes with its own driver bluetooth, ...)

[2021-09-14 15:52] wzrdtales commented on #3057
playing with rt715 doesnt change anything

[2021-09-14 15:54] plbossart commented on #3157
@marc-hb reported issues when changing the firmware, precisely because the old one remains in the kernel cache.

I am not sure how loading the firmware faster would have any impact on results. Loading is either pass or fail, can you elaborate on what you mean by 'fail'? Does the DSP sometimes not boot and run? or do you mean the behavior is different post-boot?

[2021-09-14 15:56] plbossart commented on #3057
I can only suggest you go through https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms to see if the problem is indeed with the SOF driver/firmware, or a userspace setup issue. I am not aware of any issue with SoundWire on capture.

[2021-09-14 16:13] marc-hb commented on #3157
This was fixed by #2954. Also note still mysterious (to me) https://github.com/thesofproject/sof/issues/4419

Finally, the following FW crash still requires a _Linux_ reboot, reloading the FW is not enough!
I suspect the FW more this time.

[code]
https://github.com/thesofproject/sof/pull/4758/commits/f1531b0810566d

[2021-09-14 16:22] marc-hb commented on #3157
Digression sorry:

The recent "installer" makefile lets you combine these commands (and more) with a fast, incremental FW build in just one command. It can also deploy the sof-logger and dictionary. It's documented at https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#step-3-build-and-sign-firmware-binaries

The official scripts to unload and reload all driv

[2021-09-14 18:28] wzrdtales commented on #3057
Ok were the right hints from you. Turns out https://wiki.archlinux.org/title/Dell_XPS_17_(9700)#Audio the modprobe was necessary to make it function properly. After that playing around with rt715 indeed helped.

[2021-09-14 18:42] plbossart commented on #3057
@wzrdtales the information in that wiki makes no sense. If you are using the SOF driver, that line is irrelevant... This snd-hda-intel driver is not used if SOF is used, they register for the same PCI ID but are mutually exclusive, and we have logic to pick the SOF driver on SoundWire device.

[code]

I really don't know how this might have helped...

[2021-09-14 18:44] wzrdtales commented on #3057
Can't tell you. But fact is, after doing this there appeared more options inside alsamixer and I could configure it properly.

[2021-09-14 18:45] wzrdtales commented on #3057
The Dell 9070 also used SOF before already and required this step, so I don't think it should surprise too much as well.  @plbossart

[2021-09-14 18:49] plbossart commented on #3057
We have pretty much all Dell devices with SoundWire enabled, and we've never needed this configuration. if you can trace the history and who came up with the information that would be great. ArchWiki has a lot of information but in the case of SOF we routinely find 'surprising' information that isn't aligned with what we test/do.

Adding @kv2019i to this thread in case he's got any idea of what th

[2021-09-14 18:54] wzrdtales commented on #3057
my guess would be just the flag is important `enable_msi`

[2021-09-14 18:57] plbossart commented on #3057
@wzrdtales try doing a blacklist snd-hda-intel and see what happens. I would bet there is no impact.

if you see the SOF driver code, we have a different option with MSI enabled by default.

[code]

[2021-09-14 19:02] wzrdtales commented on #3057
Avanderbergh made that change though. I will try to blacklist it once and let you know

[2021-09-14 19:09] wzrdtales commented on #3057
ok @plbossart indeed, now if I blacklist or delete that modprobe entry. no difference. mic works and the options appear in alsamixer. Not sure what made this behave that weird. I initially installed alsa-utils which wasn't there before, but since that is no kernel component that shouldn't have had such a weird behavior. Dunno, a lot of things are weird currently on the new Dell 9710. I for example

[2021-09-14 19:17] plbossart commented on #3057
@wzrdtales I have a tentative explanation: there is some level of sync between alsa-ctrl and UCM, the former relies on UCM files for initial mixer controls on boot. If you didn't have alsa-ctrl it's possible that the RT715 mixer values present in /usr/share/alsa/ucm2/codecs/rt715/init.conf were not set, and now they are.

[2021-09-14 19:26] wzrdtales commented on #3057
hm might be, but then rather caused by the first change to the rt715 values and the following reboot, rather than installing alsa-utils I guess. Now everything seems to work fine, also the soundwire audio devices did not yet disappear again, but will report back should that happen again.

[2021-09-14 19:29] plbossart commented on #3151
retried today on UpExtreme, same unbalanced widget count @ranj063

[dmesg.log](https://github.com/thesofproject/linux/files/7164631/dmesg.log)

kernel 97a3289f2f0c [HACK] add trace to show widgets are not released....
firmware 71d5d3cf4  topology1: sof-hda-generic: add deep-buffer pipeline for analog playback

[2021-09-14 20:05] plbossart commented on #3151
On another laptop with 1.8 signed firmware and static pipelines I have a different error with the IPC DAI_CONFIG

[dmesg.log](https://github.com/thesofproject/linux/files/7164827/dmesg.log)

[2021-09-15 06:06] lyakh commented on #3157
@plbossart I wish I knew why that happens! As I said it's (almost) too close to the miracle status to be acting upon for me, but I've had such cases often enough now and yesterday I really was able to reproduce it reliably for a significant length of time. But no, I don't think it's about a wrong image. There's no other image on the system at that moment (well, not at the path used by the kernel).

[2021-09-15 14:21] plbossart commented on #3157
@lyakh I am still not clear on the errors that you see. Is this post-initialization e.g. while trying to play/record audio, or is this in boot/suspend-resume?

[2021-09-15 17:33] marc-hb commented on #3157
Can you give an example of a difference?

No test should behave differently because of 3ms delay. The test should just be delayed by 3ms and that's all. If the test behaves differently because of a 3ms delay then there is a race condition and a bug, either in the test itself or in the kernel or in the firmware

The easiest to reproduce race conditions like these is to manually insert an artificial

[2021-09-15 18:54] prof-dr-pepper opened #3161 "[BUG] Failed to load sound driver on Latitude 7320 Detachable"
**Describe the bug**
Sound driver seems to fail to load properly on Dell Latitude 7320 Detachable (see hardware probe here https://linux-hardware.org/?probe=21c50317b2) and therefore sound is not available at the device on linux.
Even though the sound adapter (hardware ID: 8086:a0c8) seems to be supported by the linux kernel the device does not work. Browsing on the internet this issue seems to ha

[2021-09-15 20:44] plbossart commented on #3161
@prof-dr-pepper can you provide the results of 'alsa-info' please. Looks like you have a SoundWire device that is not known to us. It's usually a minor SKU value that we need to add, or that was added in more recent kernels.

[2021-09-16 07:14] prof-dr-pepper commented on #3161
I added the alsa-info to the bug. You can find it here: http://alsa-project.org/db/?f=e7ce23315aee536587174f7f58f79812c1166d1a

Thanks for helping :)

[2021-09-16 16:53] plbossart commented on #3161
Thanks @prof-dr-pepper. I can see this: System SKU:        0A45, which is unfortunately a device we haven't seen before. I'll contact Dell and ask for details.

[2021-09-16 17:30] prof-dr-pepper commented on #3161
Let me know if there is anything I can help with. I am software developer myself (not a kernel developer, but at least fluent in C/C++). ;-)

[2021-09-16 18:00] plbossart commented on #3161
I will take you up on your offer, given that I don't have access to the hardware, we have to rely on the community for feedback. The main ask is to be able to recompile your own kernel, using our latest development Git tree. we may also try with linux-stable and patches. Thanks!

[2021-09-16 18:33] prof-dr-pepper commented on #3161
Sure. So I'll try this kernel https://github.com/thesofproject/linux but which branch? Normally I would assume "master" but in this case it looks more like "topic/sof-dev". So "topic/sof-dev"?

[2021-09-16 18:48] plbossart commented on #3161
yes. topic/sof-dev, with possibly a PR test before we merge to topic/sof-dev. we also generate our own configs with https://github.com/thesofproject/kconfig, specifically kconfig-sof-default.sh to only compile the minimum amount of code for audio tests.

[2021-09-16 19:11] prof-dr-pepper commented on #3161
Sorry, I didn't understand that. Which PR and which merge are you talking about?

Nevertheless I checked out the sof kernel and applied kconfig-sof-default.sh. I am compiling right now ;-)

[2021-09-16 19:32] prof-dr-pepper commented on #3161
Compilation finished, I installed the kernel and ran alsa-info again: http://alsa-project.org/db/?f=0043c8bc949293f9717707d2c32ec19ee506b525

[2021-09-16 19:52] plbossart commented on #3161
@prof-dr-pepper I was talking about a future PR, when I have the information needed to create it.

Looks like your build does not use SOF, so something is missing in your config somehow. only HDMI is reported in your results. You should have the module snd-sof-pci-intel-tgl loaded.

here's my local config (a bit behind sof-dev but that should be fine with make olddefconfig):

[config.txt](https://

[2021-09-16 20:47] prof-dr-pepper commented on #3161
Ok, I tried again with your config. I hope this worked now. Here is the result: http://alsa-project.org/db/?f=8ec1e2d02b170f25c9068f45816d043fb80aa361

[2021-09-16 21:10] plbossart commented on #3161
something's not going well, still HDMI card.

please add this to /etc/modprobe.d/alsa-base.conf

blacklist snd-hda-intel

also add if you want to see more, add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/7180981/sof-dyndbg.conf.txt)
to /etc/modprobe.d/sof-dyndbg.conf

and reboot

then check if you see any signs of SOF driver being loaded.

[2021-09-16 21:29] prof-dr-pepper commented on #3161
I tried using your instructions. Seems that SOF driver is loading now. See: http://alsa-project.org/db/?f=f68c2d585b47fc357bed54b4a897b9095f5c86c7
Here in Germany it's getting late, so I will go to bed now ;-) Let me know if I can help any further. I will try to do so tomorrow or on the weekend.

[2021-09-16 23:05] plbossart commented on #3161
@prof-dr-pepper can you please try PR #3162? You will need to also do this on your device:

[code]

This command is just to make sure we use a compatible SOF topology file, since we don't have a configuration for this.

[2021-09-17 05:03] aiChaoSONG commented on #3154
I don't have a ADL-M device at my hand, so I am doing reboot test on ADL-P SDW device, after 3000+ iterations, I still cannot reproduce the issue, so may need to wait the latest test result from the issue reporter side.

[2021-09-17 07:16] prof-dr-pepper commented on #3161
I compiled your branch, copied the file and tested the kernel. Obviously that didn't do the trick yet, sorry :-/
Here is the result: http://alsa-project.org/db/?f=cf477d37b84bd277bedf2900c2d405e47c8c4140

[2021-09-17 10:12] jairaj-arava commented on #3154
Hi,
The issue is reproduced at our end with dynamic logs enabled + with above patch @aiChaoSONG has given. However, the error signature is different now, it's seems IPC timeout. Is this due to dynamic logs enabled?

sof-audio-pci-intel-tgl 0000:00:1f.3: tplg: ready widget id 40 pipe 8 type 23 name : PCM7P stream Passthrough Playback 7
2021-09-15T03:18:13,559412-07:00 sof-audio-pci-intel-tgl 0000:0

[2021-09-17 14:00] aiChaoSONG commented on #3154
@jairaj-arava This looks like a different issue, the initial issue is that the kernel failed to load topology, but the new one looks like the firmware doesn't reply to the COMP_NEW ipc, so I think there is something wrong with the FW, could you please also attach the firmware trace log if possible.

Edit: In the dmesg_dynamiclogs.txt, I cannot see the IPC TIMEOUT you pasted above, it is still topo

[2021-09-17 15:29] plbossart commented on #3161
@prof-dr-pepper well there's progress to some extent, the error happens when trying to load the topology.

[code]

This could be a bug in our recent kernel changes, maybe related to dynamic pipelines. @ranj063 this reminds me of problems we've seen before...

@prof-dr-pepper can you upload the full dmesg log, not the alsa-info results, that'll provide us with more information.

[2021-09-17 15:42] plbossart commented on #3161
@prof-dr-pepper can you try with this PR https://github.com/thesofproject/linux/pull/3165 , it has fewer of our bleeding edge patches

[2021-09-17 16:27] prof-dr-pepper commented on #3161
Ok, I will try tomorrow (Saturday) because I am not at home today. Thanks so far. Let me know if you would like to debug live on the system or anything like that. I don't exactly know how we can set this up but maybe you have an idea (maybe kernel debug from another linux system? ...never done this before but should be possible I guess).

[2021-09-18 10:01] prof-dr-pepper commented on #3161
This is the dmesg with PR #3162 [dmesg.txt](https://github.com/thesofproject/linux/files/7189695/dmesg.txt)

[2021-09-18 10:20] prof-dr-pepper commented on #3161
This is the dmesg with PR #3162 [dmesg.txt](https://github.com/thesofproject/linux/files/7189727/dmesg.txt)
(sorry, the one I sent earlier was the previous test)

[2021-09-18 10:55] prof-dr-pepper commented on #3161
Wohooo! You did it! It's working with PR #3165!

Sound on the internal speakers -> works
Plugging in external speakers -> works
Microphone -> works
CPU ->Load is near 0

I'm impressed and super grateful!

Nevertheless I still created the logs for you:
[alsa-info.txt](https://github.com/thesofproject/linux/files/7189765/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7189766

[2021-09-20 05:58] lyakh commented on #3157
@plbossart runtime. In this specific case I was running multiple-pause-resume.

[2021-09-20 05:59] lyakh commented on #3157
@marc-hb multiple-pause-resume was failing or passing

[2021-09-20 08:08] jairaj-arava commented on #3154
@aiChaoSONG , sorry it's my bad, updated the actual dynamic logs file.
Yes, with dynamic logs enabled we see IPC timeout.
However, the actual issue is topology component load failure which I reported earlier. Our team started the test only with the patch you have given but due to other issues the test is not complete. I will update here once I receive the results from the team after test completio

[2021-09-20 14:44] plbossart commented on #3161
@prof-dr-pepper can you double-check if the jack detection works?

I'll double-check with my contacts at Dell that this patch is consistent with the hardware, and send it upstream. In general those quirks are added without delay, so ti's still possible that they land in 5.15, and usually they are back-ported to stable kernels or distro kernels. That's the 'downstream' part on which we don't have m

[2021-09-20 15:15] prof-dr-pepper commented on #3161
I already tested that. I played music through the laptop speakers, then I plugged in the external speakers and sound switched over to the external speakers. After that I unplugged the external speakers and sound switched back to the laptop speakers. :-)

[2021-09-20 15:17] plbossart commented on #3161
I meant testing with a headset with a mic, if you have one, and checking that the capture works on the headset mic. That detection is often problematic.

[2021-09-20 15:20] prof-dr-pepper commented on #3161
Oh, ok. I could use my smartphone headset for that. I am still at work. I will test that later today :)

[2021-09-20 16:07] plbossart commented on #3161
@prof-dr-pepper I wasn't able to reproduce the issue you mentioned with PR #3162, so I could use your help to debug further

a) force the SOF trace
Please add this to /etc/modprobe.d/alsa-base.conf
options snd_sof sof_debug=1

b) install 'sof-logger'
If 'sof-logger' is not installed on your system, install it to e.g. /usr/local/bin from https://github.com/thesofproject/sof-bin/tree/main/v1.8.x/too

[2021-09-20 19:00] prof-dr-pepper commented on #3161
Testing with the microphone of the headset everything seems as I would expect. I tested with "PulseAudio Volume Control". Plug and unplug is detected for the speakers AND for the microphone. As soon as I plug in the headset the microphone of the headset becomes the default audio input and if I tap on the microphone of the headset I can undoubtedly distinguish between sound coming from the headset

[2021-09-20 19:15] plbossart commented on #3161
Thanks @prof-dr-pepper, that's good. What we'd need to focus on is PR #3162 since we could have introduced a regression in our latest work and we'd want to avoid breaking your solution with a future kernel update. I wasn't able to reproduce the problem you had with PR #3162, but it's a slightly different device so maybe there's something I missed. Thanks!

[2021-09-20 19:18] prof-dr-pepper commented on #3161
I'm already on it ;-)
Little update already: *.ldc files were missing

[2021-09-20 19:54] prof-dr-pepper commented on #3161
With #3162 and the steps that you described above sound seems to work, too. However there is one thing that concerns me. With #3165 I occasionally experienced a temporary freeze of the system which resolved after 10-20 seconds. With #3162 I now experienced a permanent freeze of the system. I don't know if this is caused by your changes in the driver.

[2021-09-20 20:03] prof-dr-pepper commented on #3161
1. The temporary or permanent freeze does not seem to occur all the time (hard to reproduce... maybe after 50% of the linux reboots). But keep in mind: I haven't used this new laptop regularly yet because I only got it a few days ago. So maybe this happens with the stock ubuntu kernel, too.
2. Furthermore after updating the sof firmware the automatic switch between builtin microphone and headset m

[2021-09-20 20:08] prof-dr-pepper commented on #3161
Here are the logs for the new test with #3162

[alsa-info.txt](https://github.com/thesofproject/linux/files/7198471/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7198473/dmesg.txt)
[sof-log.txt](https://github.com/thesofproject/linux/files/7198474/sof-log.txt)

[2021-09-20 20:37] plbossart commented on #3161
Thanks for testing @prof-dr-pepper.

1) I don't see any IPC errors as in the previous test, do you mind going back to last week's version (commit 8bfbb3d2690c16932570c3e3dba3efbb4f285b74) and recheck

2) this is surprising that we switch doesn't work, in theory this is the same files. Do you mind re-trying as well and checking if the firmware and topology file you use are actually the same between

[2021-09-20 20:41] prof-dr-pepper commented on #3161
Sure. However it's getting late here, so I will have to do this tomorrow, sorry. :-/

[2021-09-21 20:17] prof-dr-pepper commented on #3161
This is commit 8bfbb3d with the firmware from sof-bin:
[alsa-info.txt](https://github.com/thesofproject/linux/files/7205980/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7205981/dmesg.txt)
[sof-log.txt](https://github.com/thesofproject/linux/files/7205982/sof-log.txt)

Speakers and microphones work but automatic switch between builtin microphone and headset microphone doe

[2021-09-21 20:20] prof-dr-pepper commented on #3161
Here are the file hashes of the sof firmware (/usr/lib/firmware/intel/sof/) and topology (/usr/lib/firmware/intel/sof-tplg/) files:

distribution:
[dist_sof-tplg.txt](https://github.com/thesofproject/linux/files/7205996/dist_sof-tplg.txt)
[dist_sof.txt](https://github.com/thesofproject/linux/files/7205997/dist_sof.txt)

sof-bin:
[sof-bin_sof-tplg.txt](https://github.com/thesofproject/linux/files/7

[2021-09-21 20:27] plbossart commented on #3161
Thanks, looks like your distribution did not use SOF release 1.8 then? Can you check with package names/versions?

[2021-09-21 20:28] prof-dr-pepper commented on #3161
Can I simply revert to the original sof firmware and topology files from the distribution by renaming the directories /usr/lib/firmware/intel/sof/ and topology /usr/lib/firmware/intel/sof-tplg/ ?

I am asking because I would like to test again with #3165 and check again with automatic switch of the mic.

[2021-09-21 20:31] plbossart commented on #3161
Sure. Let's go back to a stable state for you, then check what happened with #3162 later.

[2021-09-21 20:41] prof-dr-pepper commented on #3161
Strange... seems like the Ubuntu package firmware-sof-signed (see file list for my distribution here: https://packages.ubuntu.com/hirsute/all/firmware-sof-signed/filelist) which would contain the files is not installed on my system but neverthelesse the sof firmware files and sof tplg files were installed with the distribution. In the original /usr/lib/firmware/intel/sof directory from the distrib

[2021-09-21 20:50] prof-dr-pepper commented on #3161
I renamed the folders back so that I should have the original files from the distribution again and I booted the exact kernel from #3165. Speakers and microphones work fine but still automatic switch of the microphone doesn't work (for the speakers the automatic switch works). This is surprising because in my previous test I remember this to have worked. So either something is different with my cu

[2021-09-21 20:56] prof-dr-pepper commented on #3161
Let me know if I can try anything else for you. I will go offline for today because again here it's getting late now. However as far as I can see I may have more time for testing tomorrow. :)

[2021-09-21 21:01] plbossart commented on #3161
the switch on microphone doesn't always work, I've seen similar issues in the past where you have to manually select the mic you want. I think Ubuntu are just behind upstream big time.

What I am really interested is the IPC error you had with #3162. If you indeed have the 1.6.1 SOF release, you may be able to use sof-logger with https://github.com/thesofproject/sof-bin/blob/stable-v1.6.1/lib/firm

[2021-09-22 16:43] prof-dr-pepper commented on #3161
Where should I put the sof-tgl-v1.6.1.ldc file? (the directory /lib/firmware/intel/sof/v1.6.1 does not exist)

[2021-09-22 16:47] plbossart commented on #3161
doesn't really matter, you can put it in your home directory, as long as you use the right path with sof-logger

sudo sof-logger -t -l ~/sof-tgl.ldc | tee sof-log.txt

[2021-09-22 16:48] prof-dr-pepper commented on #3161
sorry... I'm embarrassed for that... I could have figured ;-)

[2021-09-22 16:53] prof-dr-pepper commented on #3161
Sorry, that didn't work: error: src hash value from version file (0xb2280b69) differ from src hash version saved in dictionary (0x459cfb8c).

[2021-09-22 17:19] prof-dr-pepper commented on #3161
However I found the ubuntu package that contains the sof firmware and topology files that are on my system: https://packages.ubuntu.com/hirsute-updates/linux-firmware

[2021-09-22 17:20] prof-dr-pepper commented on #3161
...i also tried with the embedded /lib/firmware/intel/sof/v1.6/sof-tgl-v1.6.ldc file but that also didn't match

[2021-09-22 17:42] prof-dr-pepper commented on #3161
Currently I am out of ideas... except to offer you again to have a screen sharing session on my laptop so that you can try for yourself

[2021-09-22 18:19] plbossart commented on #3161
check in your dmesg log, there should be a line that says which version you are really using.
something like

[code]

[2021-09-22 18:45] prof-dr-pepper commented on #3161
It says:
[    5.544219] sof-audio-pci-intel-tgl 0000:00:1f.3: Firmware info: version 1:6:0-18fab

So I tried this file with sof-logger:
https://github.com/thesofproject/sof-bin/blob/stable-v1.6/lib/firmware/intel/sof/v1.6/sof-tgl-v1.6.ldc

But this still resulted in the following error:
error: src hash value from version file (0xb2280b69) differ from src hash version saved in dictionary (0x9de615d

[2021-09-23 02:08] aiChaoSONG commented on #3154
@jairaj-arava do you have any third-party or self-developed processing algo integrated in the topology?

Edit: is it possible to manually run sof-logger when the test fails? so the test won't stop even if there is a failure?

[2021-09-23 05:14] jairaj-arava commented on #3154
@aiChaoSONG , we are using ADL 002 release firmware and topology. It doesn't have any third party Algo.
Since it's a continuous test process, we can try stopping the test when the issue hits and check for firmware logs.
There was some mismatch in the Coreboot, kernel configuration used, I asked our team to re-run the tests. I will update as soon as I receive the results.

[2021-09-23 08:59] shumingfan commented on #3008
@XiaoyunWu6666 @fredoh9
I updated PR #3130 which passed the CI test with the CML_HEL_RT5682 machine.
https://sof-ci.01.org/linuxpr/PR3130/build6398/devicetest/

Could you try to test with this PR?

[2021-09-24 16:47] #3138 closed

[2021-09-25 20:20] prof-dr-pepper commented on #3161
You know what, I came up with an idea. We had problems with v1.6 firmware from the ubuntu distro running with PR #3162 and we were not able to get the sof-logger running with the firmware from the distro. So I took the v1.6 firmware from the sof-bin repo and tested with it instead (hoping that it would behave similarly). This way I was able to use the sof-logger and hopefully my logfiles are helpf

[2021-09-27 01:59] keqiaozhang commented on #3140
Close this one, duplicate of #3063.

[2021-09-27 01:59] #3140 closed

[2021-09-27 14:34] plbossart commented on #3161
@prof-dr-pepper thanks, that's good but you missed the trick with the topology file, which leads to an error in the dmesg log.
[code]

Please use this command to fix the broken reference:

[code]

[2021-09-27 15:14] prof-dr-pepper commented on #3161
Doh! ;-) Ok, next try...
[alsa-info.txt](https://github.com/thesofproject/linux/files/7237400/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7237401/dmesg.txt)
[sof-log.txt](https://github.com/thesofproject/linux/files/7237402/sof-log.txt)

[2021-09-27 15:33] plbossart commented on #3161
ok, that's good @prof-dr-pepper.

I am not sure what happens here. With PR #3165 and the ASoC upstream kernel we have no problems. With PR #3162 which uses a more recent kernel with SOF changes for dynamic pipelines, we have an IPC error

[code]

[code]

@ranj063 does this ring a bell? Wondering if there's an assumption in topology files that we missed?

[2021-09-27 15:50] prof-dr-pepper commented on #3161
You're welcome. Let me know if there is anything more I can do to help. :)

[2021-09-27 15:58] ranj063 commented on #3161
@plbossart if I look at the dmesg, it looks like we've got a newer kernel with an older firmware. Basically, it seems like the patch to change the list_for_each_entry_reverse() in sof_set_up_pipelines() is incompatible with older firmware. So if you revert this, it might just work.
@prof-dr-pepper would you be able to revert this with PR 3162 and give it a try?
commit 3148a6d4815a3901a1dbedb432686

[2021-09-27 16:17] prof-dr-pepper commented on #3161
Sure... working on it ;-)

[2021-09-27 16:45] prof-dr-pepper commented on #3161
I checked out #3162 (plbossart:sdw/fix-dell-sku-0A45), reverted the one line back to list_for_each_entry_reverse and tested again. However audio did not work:
[alsa-info.txt](https://github.com/thesofproject/linux/files/7238010/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7238011/dmesg.txt)
[sof-log.txt](https://github.com/thesofproject/linux/files/7238012/sof-log.txt)

[2021-09-27 18:35] ranj063 commented on #3161
What is the ABI version for the firmware you are testing @prof-dr-pepper ? I'm trying to understand why the pipeline widget gets loaded first even with the revert

[2021-09-27 18:43] prof-dr-pepper commented on #3161
Sorry, I don't know. However the firmware I am using is this one: https://github.com/thesofproject/sof-bin/tree/stable-v1.6
I am using Ubuntu 21.04 which comes with v1.6 of the firmware but I was not able to use sof-logger with the firmware that came with the distro. So I used the one from https://github.com/thesofproject/sof-bin with the same version (hoping that it would behave similarly).

[2021-09-27 19:29] ranj063 commented on #3161
OK 1.6 is older thsn 3.19 I think. In this case, the the pipeline widget should always be set up after the rest of the widgets. So I don;t understand why we're seeing this error in the first place. @plbossart any ideas?

[2021-09-27 19:36] plbossart commented on #3161
I don't have a clue @ranj063, I'll try with the 1.6 firmware/topology on my CML device and see what happens. We've tested compatibility with 1.8 but not earlier versions.

[2021-09-27 21:27] plbossart commented on #3161
I can reproduce the issue with topic/sof-dev and firmware/topology 1.6.1

[code]

Clearly something we are missing. Thanks a lot @prof-dr-pepper for reporting this, that gives us an opportunity to fix things before polluting the upstream kernel!

[2021-09-27 21:47] plbossart commented on #3161
The problem happens with firmware 1.6 and 1.7, and goes away with firmware 1.8, where there's no issue

[code]

The topology hasn't changed, so it's really something between new kernel and old firmware that's incompatible. Meh.

[2021-09-27 21:59] prof-dr-pepper commented on #3161
Hey, I am happy that you help me with my driver issues and I am glad that you also benefit from my findings. Let me know if I can be of more help for you.

Now I have to face the next/bigger challenge: The webcam on this Dell Latitude 7320 Detachable is not working either (see hardware info from my first post). Unfortunately I guess this is not only a bug but there simply is no driver for it yet.

[2021-09-27 22:18] plbossart commented on #3161
@ranj063 I can reproduce this compatibility issue with firmware < 1.8 on UpExtreme, same IPC error on PIPE_NEW

[code]

So it's not a problem related to SoundWire or HDaudio but a more fundamental issue.

[2021-09-27 22:28] plbossart opened #3181 "IPC errors with Firmware < 1.8 with topic/sof-dev"
Moving the errors reported in https://github.com/thesofproject/linux/issues/3161 to dedicated bug entry.

With firmware 1.6 and 1.7, along with upstream maintainer kernel branches, no issues
With firmware 1.6 and 1.7, along with topic/sof-dev kernel branch, IPC errors are reported after the PIPE_NEW command.

Examples:
[code]

and

[code]

Updating to firmware 1.8 solves the IPC errors.

This is n

[2021-09-27 22:30] plbossart commented on #3161
I moved the IPC error discussion to a different issues https://github.com/thesofproject/linux/issues/3181.

[2021-09-27 22:32] plbossart commented on #3161
Thanks! we'll progress on our own to identify the regression with older firmware.

I don't have a clue but @kv2019i might know ?

[2021-09-28 03:31] ranj063 commented on #3161
@plbossart @prof-dr-pepper I have posted a fix for this in https://github.com/thesofproject/linux/pull/3182. So now #3162 + #3182 should work.

[2021-09-28 06:56] kv2019i commented on #3161
@prof-dr-pepper wrote:

Based on hardware info this seems to be a variant of the 7320 with a MIPI connected camera (versus a USB). I know some Chromebooks are using this hardware and there is a driver for IPU6 in https://chromium.googlesource.com/chromiumos/third_party/kernel/+/HEAD/drivers/media/pci/intel/ . This driver is not in upstream kernel yet though, and you do need non-trivial amount of l

[2021-09-28 16:14] prof-dr-pepper commented on #3161
I don't know how much the hardware of the normal Latitude 7320 and the Latitude 7320 Detachable are identical but you are correct that the cameras are connected via the MIPI interface (OV5678 sensor for front camera and OV8856 sensor for rear camera).
Thanks for your help. :)

[2021-09-28 16:50] prof-dr-pepper commented on #3161
@ranj063 @plbossart I can confirm that #3162 + #3182 works. Thank you for your help so that my laptop will have audio in the future. :-)

Here's the proof:
[alsa-info.txt](https://github.com/thesofproject/linux/files/7246040/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7246041/dmesg.txt)
[sof-log.txt](https://github.com/thesofproject/linux/files/7246042/sof-log.txt)

It

[2021-09-28 22:01] plbossart commented on #3181
fixed by PR #3182

[2021-09-28 22:01] #3181 closed

[2021-09-28 22:18] plbossart commented on #2971
@giddie SOF 1.9 is out if you want to give it a try?

[2021-09-29 02:44] XiaoyunWu6666 commented on #3008
Ran it in inner result 6926 , with kmod-load-unload for 50 rounds on multiple CML platforms.
The test showed all PASS  ... but not sure whether PR 3130 does fix it or not , because this is an issue with rather low reproduction rate

[2021-09-29 09:42] nos1609 commented on #3161
Any way to get it woring on Fedora 35?

[2021-09-29 10:23] prof-dr-pepper commented on #3161
If you wait for the fixes in PR #3162 and #3182 to be merged then I see no reason why you should not be able to compile and use the kernel here to run it on Fedora 35, too. If you don't want to wait you could apply these changes manually (which is what I did).

[2021-09-29 20:12] #3161 closed

[2021-10-01 10:45] giddie commented on #2971
I had another hard freeze when the internal microphone activated today. I'm guessing the final seconds didn't make it to disk, but I do now at least have a sof debug log for the time leading up to the crash. I hope it might offer something.

[kernel.log.gz](https://github.com/thesofproject/linux/files/7266564/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/7266565/sof-log.

[2021-10-01 11:20] plbossart commented on #2971
Thanks @giddie I don't see a smoking gun but a couple of observations:

a) in the kernel there are tons of start/stop sequences, not sure why. Maybe PipeWire setups?
b) there are warnings about xruns in the sof-logger trace, that's not expected. Unfortunately the trace doesn't tell us anything. We probably need a better message.

But going back to previous reports there's mention of a timeout of S

[2021-10-01 11:49] giddie commented on #2971
Well, I am running pipewire on a KDE Plasma desktop, and the volume widget has a level indicator, so I assume that will cause a start/stop when it opens and closes, but maybe you're talking about something more frequent / smaller timescale?

[2021-10-01 12:07] plbossart commented on #2971
see for example this:

[code]
that means you have two playback streams and one capture being closed within 5ms. It's not clear to me what generates this pattern? Or maybe it's a system suspend while audio is active?

[2021-10-01 12:27] giddie commented on #2971
To give some context, on the prior boot my system froze as I attempted to join a video call. The provided log is the subsequent boot. Immediately on desktop login I opened Chromium to rejoin a Google Meet. After a few minutes I switched to the internal microphone (after the Wacom tablet BT disconnect borked my BT headset microphone input). My laptop froze within ~10s of me switching to the interna

[2021-10-04 09:03] GFdevelop commented on #2764
When this fix will be available?

[2021-10-04 13:02] singalsu opened #3191 "Alsamixer fail with cml_rt1011_rt5682"
I'm not able to run alsamixer command in a cml_rt1011_rt5682 device:

[code]

After running the command there's this message in dmesg:

`[   92.931088] cml_rt1011_rt5682 cml_rt1011_rt5682: control 2:0:0:TL I2S Reference:0: access overflow`

The error happens with git commit `87f40af26c26233b060767f3e7cff5e54647cf2b ASoC: rt1011: add i2s reference control for rt1011`. The previous git commit `756bb

[2021-10-04 13:51] plbossart commented on #2764
we're missing firmware and driver bits, so likely a 2022 update at this point. let's keep it open, I don't know why this issue was closed since there's no solution provided outside of a topology update.

[2021-10-04 17:22] plbossart commented on #3191
@jack-cy-yu can you help? Are we missing a patch on top of 87f40af26c26233b060767f3e7cff5e54647cf2b?

[2021-10-04 21:53] marc-hb commented on #2955
From https://github.com/GalliumOS/galliumos-distro/issues/379#issuecomment-322697066, August 2017

[2021-10-05 02:46] jack-cy-yu commented on #3191
[0001-ASoC-rt1011-add-SND_SOC_NOPM-on-rt1011_i2s_ref_enum-.zip](https://github.com/thesofproject/linux/files/7282401/0001-ASoC-rt1011-add-SND_SOC_NOPM-on-rt1011_i2s_ref_enum-.zip)
@singalsu Could you please try attached patch? Thanks.

[2021-10-05 21:22] plbossart commented on #2700
The jack detection doesn't seem to work on these HP x360 convertible devices, I added PR https://github.com/thesofproject/linux/pull/3195 after local tests on a device. That helps with the ALSA mixer controls. I did find one case where the headset was not detected but that's not super reliable anyways. remove-insert forced the detection alright.

Changing the device with the Gnome settings remains

[2021-10-05 22:09] plbossart opened #3196 "[BUG] rmmod snd_sof_pci_intel_tgl on HP Spectre x360 convertible"
While running tests on a commercial device, the usual sof_remove.sh script seems to hang on the removal of snd_sof_pci_intel_tgl

[code]

[2021-10-05 22:42] plbossart commented on #3196
this seems to be due to the machine driver removal that does not release some resources

[code]

That last line is the last action....

This may be due to the remapping that happens on those devices?

[2021-10-05 23:41] plbossart commented on #3196
KASAN reports a hung task and the problem seems to be in devres_release_all(dev);

[code]

[2021-10-06 00:07] plbossart commented on #3196
this doesn't seem due to any of the devm_kcalloc or devm_kasprintf in sound/soc/inte/boards/sof_sdw*.c, but more with devm_snd_soc_register_card(). No idea why this shows up with this board only.

[2021-10-06 08:50] ujfalusi commented on #3157
@lyakh, did you observed the runtime failure in case the firmware is loaded 'faster' or when the firmware is loaded 'slower', that is the firmware loading from filesystem.

[2021-10-06 21:55] plbossart commented on #3196
This is root caused to the use of PipeWire on that Fedora34 platform. Somehow the code in snd_card_disconnect_sync() hangs forever. I don't recall having seen with PulseAudio.

[code]

Removing /usr/bin/pipewire solves the hang.

@kv2019i @ujfalusi any idea what PipeWire does and what resources it relies on?

[2021-10-06 21:57] plbossart commented on #3196
This is consistent btw with the initial KASAN error, the trace showing the hang did include snd_card_disconnect_sync()

[code]

[2021-10-06 22:19] plbossart commented on #3191
@singalsu ping?

[2021-10-07 05:49] lyakh commented on #3157
@ujfalusi I think the "fast loading" was failing. I.e. when pre-cached by either a fresh scp to the system of a simple `cat x.ri > /dev/null`, but since this was more than 2 weeks ago, I might be wrong.

[2021-10-07 09:18] singalsu commented on #3191
@jack-cy-yu Thanks, I just tried the below current topic/sof-dev with out patch but unfortunately no help. The same error and message to dmesg happens.

[code]

[2021-10-07 11:30] jack-cy-yu commented on #3191
@singalsu I can reproduce this issue once with "amixer cget name='I2S Reference'", but when I use "amixer -c0 cget name='I2S Reference'" again, the issue just gone and I can't reproduce it again, and alsamixer works fine as well, even I reboot the device, the issue still can't be reproduce. Is this the same on your side?

[2021-10-07 12:21] jack-cy-yu commented on #3191
@singalsu Please try the attached patch, thanks
[0001-ASoC-rt1011-fix-access-overflow-issue.zip](https://github.com/thesofproject/linux/files/7303234/0001-ASoC-rt1011-fix-access-overflow-issue.zip)
.

[2021-10-07 17:16] jairaj-arava commented on #3154
@aiChaoSONG, Team has shifted to use CPFE image. The issue was reproduced (below are the logs in dmesg) but couldn't find any hint unlike earlier. Hence, asking team to go with next BKC release, if similar behavior is observed will try to enable logs and check for the issue.
     sof-audio-pci-intel-tgl 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if 0x040100
	 sof-audio-pci-intel-tgl 0

[2021-10-08 09:54] singalsu commented on #3191
I have now your above new patch applied and same happened. My device seems to be different:

[code]

If I add the -c0, the same happens

[code]
I can do additional tests here by adding debug prints to code if you have ideas what to test.

[2021-10-08 09:56] singalsu commented on #3191
@jack-cy-yu I didn't have your first patch included this time. Should it have been there?

[2021-10-08 12:58] jack-cy-yu commented on #3191
@singalsu No need to include the first patch. I am confused why my CML device can't reproduce it again, even I reload the module or reboot the device. I find there is mail thread talking about "access overflow"
https://bugzilla.kernel.org/show_bug.cgi?id=207139

Is setting CONFIG_SND_CTL_VALIDATION=n helps to fix it? Because I see no problem with this SOC_ENUM_EXT declaration, and it works on my d

[2021-10-08 13:29] jack-cy-yu commented on #3191
@singalsu below I found some related topics about fail to load mixers, not sure if it helps?
https://askubuntu.com/questions/765396/alsamixer-cannot-open-mixer-invalid-argument
https://bbs.archlinux.org/viewtopic.php?id=123250

[2021-10-08 15:07] edgardogho commented on #2955
I have this chipset as well. The hardware supplier sent me the windows driver version, and it contains a folder name Firmware which has a dsp_fw_release.bin (494KB). I can upload it to my github if needed. Would this help in getting this chip supported?
Driver seems to match: %IntcAudioBus.DeviceDesc% = IntcAudioBus, PCI\VEN_8086&DEV_3198&CC_0401 ; GLK
Which is the one I have.

[2021-10-08 15:28] plbossart commented on #2955
@edgardogho the firmware name hints at the Intel closed-source firmware solution, which is different from SOF.

You may want to check the patches we shared upstream:
https://lore.kernel.org/alsa-devel/20211004213512.220836-1-pierre-louis.bossart@linux.intel.com/

The codec vendor is supposed to provide an update, I'll have to check the status.

[2021-10-08 15:31] edgardogho commented on #2955
Thanks for the reply. I will try the patch next week since I have access to the hardware and will report back here.

[2021-10-10 04:38] playXE commented on #2955
Hello! I have exactly the same sound card with essx8336 codec and audio does not work. Although my device is Huawei MateBook D14 2020, hope to see it working in future :D

[2021-10-11 11:51] ujfalusi commented on #3196
@plbossart, I will most likely going to get a device tomorrow with sdw and I will try to reproduce the issue to offer some help on this.

[2021-10-11 14:18] ujfalusi commented on #3191
a patch fixing the issue sent upstream:
https://lore.kernel.org/alsa-devel/20211011141543.31030-1-peter.ujfalusi@linux.intel.com/

[2021-10-11 14:49] ujfalusi commented on #3191
and a v3, hopefully the final one is:
https://lore.kernel.org/alsa-devel/20211011144518.2518-1-peter.ujfalusi@linux.intel.com/

[2021-10-12 06:34] ujfalusi commented on #3191
Another update for the fix after looking at the original once more:
https://lore.kernel.org/alsa-devel/20211012063113.3754-1-peter.ujfalusi@linux.intel.com/

[2021-10-12 16:58] tomty89 opened #3210 "[Alldocube GT Book] cl_copy_fw timeout"
Hi. I get the following errors when trying to get audio working by using `sof-audio-pci-intel-icl` and the sof firwware:
[code]
I'm on Arch Linux (kernel 5.14.11). I've tried both the v1.8 and v1.9 release of the firmware (and the former with kernel 5.10.72). Same errors.

The laptop has Celeron N5100. (Probably a SoC?)

P.S. Btw is is expected that I have to blacklist `snd-hda-intel` so that `sof

[2021-10-12 17:02] plbossart commented on #3210
@tomty89 can you share the full dmesg log, without blacklisting snd-hda-intel? In theory you only need the SOF driver if you have a DMIC or SoundWire interface, it could very well be that the DSP is not enabled on your platform.

Also sharing the results of 'alsa-info' would help.

See https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms for more

[2021-10-12 17:47] tomty89 commented on #3210
Hmm, sounds like I've made a wrong assumption. Well I do get an "alsa card", it's just that it has no analog device at all. (I'm not sure if DP sound can actually work though, and I have no idea if the USB-C port supports HDMI Alt Mode.) I get sound in Windows btw.

P.S. A few irrelevant (iwlwifi) lines has been stripped from the dmesg file.

[alsa-info.txt](https://github.com/thesofproject/linux/

[2021-10-12 21:54] plbossart commented on #3012
Issue seen in https://sof-ci.sh.intel.com/#/result/planresultdetail/7312?model=CML_SKU0983_SDW&testcase=multiple-pause-resume-25

[2021-10-13 02:44] keqiaozhang commented on #3101
Verified this issue one ADLP Dell device, passed 200+ iterations of warm reboot, no reproductions.

[2021-10-13 03:02] marc-hb commented on #3043
Reported in https://github.com/thesofproject/sof/issues/4333#issuecomment-941866672

Also
https://sof-ci.01.org/sofpr/PR4844/build10721/devicetest/?model=BYT_MB_NOCODEC&testcase=check-playback-all-formats

[2021-10-13 13:50] thekswenson commented on #3161
@prof-dr-pepper  I would love to keep up to date with any progress on the webcam front. Could you please direct me towards any bug reports or communications related to the webcam?

[2021-10-13 14:40] prof-dr-pepper commented on #3161
I didn't investigate any further yet regarding the webcam. I also think that this forum is not the best place for the webcam issue because the sof project is for sound stuff only. Sorry for the sad news

[2021-10-13 22:59] plbossart commented on #3210
ok, so the only good news is that the DSP is enabled on your platform
[code]

Everything else tells me your platform is not supported in a turn-key way by even the latest upstream code :-(

you seem to have an ESSX8336 codec, which isn't supported well upstream
[code]
You would need the patches in https://lore.kernel.org/alsa-devel/20211004213512.220836-1-pierre-louis.bossart@linux.intel.com/ and

[2021-10-13 23:18] plbossart commented on #3210
@tomty89 I blindly added PR #3212, if you combine this with PR #3107, and unzip + copy this topology file
[sof-jsl-es8336.tplg.gz](https://github.com/thesofproject/linux/files/7341855/sof-jsl-es8336.tplg.gz)
as /lib/firmware/intel/sof-tplg/sof-jsl-es8336.tplg things "should" probe and detect your hardware.

[2021-10-13 23:21] plbossart commented on #3196
@ujfalusi I see you have a working device, can you try and reproduce this with PipeWire enabled?

[2021-10-13 23:23] plbossart commented on #3151
solved with latest HDAudio changes, let's close this since it's root-caused and being fixed.

[2021-10-13 23:23] #3151 closed

[2021-10-13 23:25] plbossart commented on #3104
RFC v3 sent upstream https://lore.kernel.org/alsa-devel/20211013143050.244444-1-pierre-louis.bossart@linux.intel.com/ and WIP patches in PR #3209

[2021-10-13 23:30] plbossart commented on #2990
@gbuloz it's my understanding that a BIOS update was provided to customers, can you confirm if this fixes this issue? We're at ~3 months with no update.

[2021-10-13 23:32] plbossart commented on #3087
no update, closing

[2021-10-13 23:34] plbossart commented on #2906
no update in 4 months and it's not an SOF bug but a codec driver issue, closing

[2021-10-13 23:35] plbossart commented on #3011
@fredoh9 @XiaoyunWu6666 @marc-hb do we still see this issue? if not can we close?

[2021-10-13 23:36] plbossart commented on #2955
@playXE please attach the results of 'alsa-info' if you want to contribute.

[2021-10-13 23:39] plbossart commented on #2828
@mengdonglin @keqiaozhang ping? can we close this issue and enable the kernel PINCTRL option?

[2021-10-13 23:40] plbossart commented on #3069
no update in 6 months, closing.

[2021-10-13 23:40] #3069 closed

[2021-10-13 23:42] plbossart commented on #2668
No update since January, closing. It's a codec driver issue anyways, not something the SOF team can fix.

[2021-10-13 23:42] #2668 closed

[2021-10-13 23:43] plbossart commented on #2573
@kv2019i ping

[2021-10-13 23:50] plbossart commented on #2849
@kv2019i @ranj063 @singalsu I am not sure what to make of this issue.

I don't fully understand the ask to be honest, usually one uses a sample rate to reach a fixed value enforced by a mixer. It looks like this is a test case where we artificially resample the FE with a fixed-rate SRC, but is this a real use case that we would see in a product?

[2021-10-14 02:26] keyonjie commented on #2805
@cujomalainey @sathya-nujella curios about the "OOM bug" you mentioned above, it could be different with the one filed here. do you have full dmesg logs of that?

[2021-10-14 07:20] keqiaozhang commented on #2828
@plbossart , we have 2 types of EHL boards, one is normal RVP board and the other one is CRB board.
For RVP, we can apply the BIOS PINCTL fix to enable the PINCTL support to latest BIOS of RVP.
But on CRB board, we failed to apply the BIOS PINCTL fix to last working BIOS of CRB.

So we have 2 options here:
1. Enable the PINCTL in kernel config, but there's only one EHL RVP board available in CI to

[2021-10-14 07:39] gbuloz commented on #2990
@plbossart : yes we got the "pinctrl" fix directly from Intel without waiting for it to pass through AMI (our BIOS provider). But our BIOS team has not rebuilt a new BIOS with it yet because they only build new BIOSes for the B1 CPU mask and I still don't have a board with it (only B0). I'm waiting for a new B1 board and BIOS.
As I can see, the fix adds a new item to the BIOS setup to enable the f

[2021-10-14 08:43] thekswenson commented on #3161
@prof-dr-pepper   Could you please post the steps you used to get an Ubuntu kernel using these changes?

I've been trying to use the instructions at https://wiki.ubuntu.com/KernelTeam/GitKernelBuild to clone this topic/sof-dev kernel and configure it for Ubuntu, but have been running into some difficulties.

[2021-10-14 08:52] singalsu commented on #2849
It seems like we should let HDA DAI to resample/re-program the codec (whatever it does) and never use SRC with HDA inputs/outputs as prevention of this issue to happen.

None of the released topologies have this issue as far as I know. So this issue could be closed if preferred.

The bug in HD-audio driver is that HDA FW driver does not get the actual rate it operates with in runtime and returns t

[2021-10-14 10:17] prof-dr-pepper commented on #3161
I guess today a new Ubuntu version will be released, so I will install it anyway in the next days (including the sof kernel). I will write down the steps to install the kernel properly and post them here. If you are curious already you can read the history of this forum thread. It should contain all information your need.

Regards, Marcus

[2021-10-14 10:58] thekswenson commented on #3161
I didn't realize that the changes would make it into the Ubuntu kernel so quickly.  That would be great! If that is the case, I won't need to bother with the kernel compilation.

I've read the thread history a few times while trying to compile the kernel. I'm not using the minimal config that the SOF project gives, since I want all of the functionality of the Ubuntu kernel (I don't want to wade th

[2021-10-14 11:04] prof-dr-pepper commented on #3161
Sorry for the misunderstanding. The upcoming Ubuntu release will not contain the bugfix yet.

[2021-10-14 12:32] plbossart commented on #2828
@keqiaozhang have you filed a ticket with the BIOS team for this CRB failure? If this is an unsupported board then we should probably move on and only use an RVP. I don't see the point of continuing with a broken solution.

[2021-10-14 12:34] plbossart commented on #2849
How is the SRC ratio determined? Fixed at compile-time or user-changeable?

[2021-10-14 12:45] singalsu commented on #2849
The SRC ratio is selected in run-time from pipeline upstream and downstream buffer params. In this SRC playback case the downstream params from DAI are incorrect. SRC was harmed in this case but similarly other components those are sample time interval or stream time aware would fail (beamformer, sound direction tracking). Even volume ramp time could be other than topology specifies.

Edit: I'm no

[2021-10-14 12:51] plbossart commented on #2849
Not following at all @singalsu, a 'downstream buffer' doesn't really have a frequency, does it?

[2021-10-14 13:35] hli25 commented on #3210
@plbossart   i only tried ES8336 on GLK and TGL devices.  But  i would like to try to find a JSL with ES8336 if possible

[2021-10-14 13:38] singalsu commented on #2849
In SOF src.c lines 575 - 577. The retrieved source_rate and sink_rate are used in SRC init in component params() and prepare().

[code]

(The comment there should "get")

Originally the SRC source/sink rates were set from topology tokens where we usually fixed DAI side to 48 kHz and kept PCM side variable but changes to pipeline logic put to SRC component to only a "listener role" where it no more

[2021-10-14 13:53] plbossart commented on #2849
@singalsu do you mean that when you play 32kHz content, the DAI rate is also 32kHz because the input rate is propagated to the back-end/DAI?

[2021-10-14 14:53] singalsu commented on #2849
Yep, that happened at least when I reported this. I haven't re-checked lately. Normally we have in topology for PCMs rate min/max set to 48 kHz so the HDA driver does not try to alter the DAI rate.

[2021-10-14 15:40] noccio commented on #2955
I have the same issue on a teclast f5. Here you can find the output on alsa-info.sh

http://alsa-project.org/db/?f=ec8d2f9b6cbb1a8598984445ac8a3a027f5a74bc

[2021-10-14 16:07] plbossart commented on #2849
I don't know if this is a feature or a bug. In the case of HDAudio the DAI does not a notion of rate, see sof_pcm_dai_link_fixup(). Same for SoundWire/ALH.

So there's really nothing telling the driver what to do. I also don't get how the firmware sink buffer might have a different rate than the inputs.

Confused.

[2021-10-14 16:12] tomty89 commented on #3210
@plbossart I just built 5.14.11 with #2962, #3107 and #3212 applied. Unsurprisingly, I get the errors I pasted at the very beginning. I suspect that my laptop suffers from the same CSME key issue you mentioned in #2990 (which is not exactly surprising either, I suppose; sounds like some typical "lame vendor forgot / didn't care enough to have the placeholder key changed" issue?). I'm not sure wher

[2021-10-14 16:40] plbossart commented on #3210
@tomty89 Intel uses a 'debug key' for initial development on early silicon. When the silicon reaches a specific validation milestone, the key is changed to a production version. To the best of my knowledge firmware signed with the debug key SHALL NOT be distributed outside of Intel, what you mentioned with issue #2990 is a deviation from the rule with someone that was rather confused or screwed-up

[2021-10-14 16:47] plbossart commented on #2955
@noccio That config is a GeminiLake device, that should be handled by the patches we contributed upstream already https://lore.kernel.org/alsa-devel/20211004213512.220836-1-pierre-louis.bossart@linux.intel.com/

and you'll need the hacky version of the codec changes in PR https://github.com/thesofproject/linux/pull/3107. I don't have an ETA for cleanups from the codec vendor.

[2021-10-14 17:37] jairaj-arava opened #3213 "[ADL-M RVP]: Failed to reset HDA controller during Cold/warm boot tests"
**Describe the bug**
During warm/cold boot tests, HDA controller reset is failing

**To Reproduce**
1.Boot the Chromebook.
2. Copy the folder warm_cold_boot_device_check script to the device.
3. Initiate test with command: ./start_test.sh 16 20 -> for cold boot

**Reproduction Rate**
The issue happens randomly once or twice so far in DHC cycles.

**Expected behavior**
Sound card should be loaded i

[2021-10-14 17:39] jairaj-arava commented on #3213
@sathya-nujella , @sathyap-chrome

[2021-10-14 17:40] jairaj-arava commented on #3213
The above observation was with the internal image. However, since we moved to CPFE OS, the issue is not reproduced yet.

[2021-10-14 19:02] ghost commented on #3210
Can confirm this trouble. Same Alldocube GT Book laptop. Same output. Tried rc. kernel, custom compilation, driver patching. No luck.

[2021-10-14 19:09] cujomalainey commented on #2805
I can't share full logs externally, but here is the crash. Basically a unit under memory pressure resumes and you get this in your kernel log
[code]

[2021-10-14 19:17] plbossart commented on #3210
@tomty89 @systematicat If you have this working in Windows, maybe you can try to find which firmware is used.
There should be something like dsp_fw_release.bin or dsp_fw_debug.bin
If I copy what others provided in the past, thy to find something like this: the DEV would be 4DC8 and GLK->JSL?

[code]

[2021-10-14 22:49] tomty89 commented on #3210
@plbossart

<img width="254" alt="Screenshot 2021-10-14 224814" src="https://user-images.githubusercontent.com/8604057/137405833-3fd5fe28-0b17-4631-9ace-6c134aa6e85c.png">

[2021-10-15 03:34] marc-hb commented on #3011
Just now after @fredoh9 extended the suspend-resume test from 1 cycle per device to 5 cycles per device.

https://sof-ci.01.org/sofpr/PR4866/build10718/devicetest/?model=APL_UP2_HDA&testcase=check-suspend-resume-with-playback-5
https://sof-ci.01.org/sofpr/PR4866/build10718/devicetest/?model=APL_UP2_HDA&testcase=check-suspend-resume-with-playback-5

[2021-10-15 07:48] keqiaozhang commented on #2828
@plbossart , Sure, I will enable the PINCTL on EHL-RVP board and track the CRB failure with BIOS team.

[2021-10-15 13:04] plbossart commented on #3011
also seen in https://sof-ci.01.org/sofpr/PR4868/build10727/devicetest/?model=APL_UP2_NOCODEC&testcase=check-suspend-resume-with-playback-5

[2021-10-16 14:11] Eierkopp commented on #2955
Same symptoms here with a Chuwi UBook X. With Debian kernel only HDMI audio devices, with today's thesofproject kernel (5.15.0-rc4+) module `sof-essx8336` loads but fails and there's no audio device:
[code]

[2021-10-18 08:04] aiChaoSONG commented on #2828
On how to correct the wrong codec ID in the DSDT table:
- Install ACPI tools: `sudo apt install acpica-tools`
- Dump acpi tables: `sudo acpidump -o acpi.out`
- extract dsdt table:  `acpixtract acpi.out`, you got dsdt.dat here
- disassembly dsdt table:  `iasl -d dsdt.dat` you got dsdt.dsl here
- rename dsdt.dsl to dsdt.asl, and modify it: a) increase OEM Revision, replace all INTC1027(wrong ID) wit

[2021-10-18 14:57] plbossart commented on #2955
@Eierkopp you would need to use our development kernel + https://github.com/thesofproject/linux/pull/3107 on top.

If this doesn't work add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/7366058/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the full dmesg log along with the result of 'alsa-info'.

thanks for helping test all this!

[2021-10-18 16:55] prof-dr-pepper commented on #3161
I migrated this fix to the official latest stable Linux Kernel (-> v5.14) and create a little script for it including the patch for the kernel (tested with Kubuntu 21.10). You can find it here:
[build.tar.gz](https://github.com/thesofproject/linux/files/7367169/build.tar.gz)

On my Dell Latitude 7320 Detachable it works fine and the graphics driver works much better with this kernel, too. ;-)

Reg

[2021-10-18 17:54] Eierkopp commented on #2955
@plbossart

I'm at  e817afaffe7da07ee7c06c096f4316a703a802a5 with just your changes to sound/soc/codecs/es8316.c.
Still no audio cards and "sof-essx8336 sof-essx8336: snd_soc_register_card failed: -517".

[alsa-info.txt](https://github.com/thesofproject/linux/files/7367493/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7367494/dmesg.txt)

[2021-10-18 19:31] thekswenson commented on #3161
Thanks @prof-dr-pepper !

I have sound on this end :).  Appreciate the help. I didn't realize that it would be easier to grab the generic kernel, rather than the one from Ubuntu.

I wasn't having any graphics problems until I updated to the 5.13 kernel (when updating to Ubuntu 21.10). The problems were related to an intel graphics power saving thing called Panel Self Refresh (PSR). I had to disabl

[2021-10-18 20:41] thekswenson commented on #3161
It turns out this point is just a bad surprise. I booted into Windows (for the second time since I had the machine) and it turns out I have the same problem in Windows! Looks like there may be a manufacturing defect :(.

I have a fourth thing to add to this list.

  4. The speakers works only  part of the time. For example, I just booted into the 5.14 kernel and no sound was coming from the speake

[2021-10-18 21:05] prof-dr-pepper commented on #3161
I haven't tested much yet. But today I once noticed the issue that no sound was coming out of the speakers after reboot. Plugging in the headphones and also microphone worked.
I will have a look at the other things you mentioned as soon as I have enough time. I hope I can do it by the end of the week.

[2021-10-18 21:26] plbossart commented on #2955
@Eierkopp thanks for the results. What this shows is that the SOF probe works fine, but somehow the machine driver has a problem

[code]

517 is deferred probe, so there's a component missing. My guess is that the codec driver doesn't probe.

I am not sure what you meant by "I'm at e817afa with just your changes to sound/soc/codecs/es8316.c.", the commit does not include the changes to es8316.c. t

[2021-10-19 14:11] prof-dr-pepper commented on #3161
I just compiled the current sof kernel and it seems to work much better.
Here is the script and the patch that I used:
[build.tar.gz](https://github.com/thesofproject/linux/files/7374035/build.tar.gz)

[2021-10-20 08:10] thekswenson commented on #3161
Yup. The SOF kernel is much better. It reacts normally when going s2idle, and sound hasn't inexplicably cut out yet. Thanks!

So thing are working as expected at this point, except for automatic switch to headphones. Does your machine switch to headphones automatically when you plug them in?

I'm also curious to know if your left speaker is much quieter than your right. I'm wondering if yours is l

[2021-10-20 10:31] prof-dr-pepper commented on #3161
Yes, the automatic switch for the headphones works and the speakers seem equally loud. Seems to be an issue with your device, sorry.

[2021-10-20 10:38] thekswenson commented on #3161
Thanks for the feedback!

For the headphones: this seems like a software issue, given that they show up as headphones and I can choose them and then use them normally. Is it the kernel module that controls the automatic switching or is it more of a pulseaudio issue?

[2021-10-20 16:25] plbossart commented on #3161
The speakers and headphones are handled by different chips, and can operate in parallel if needed.
You can test this with the two terminals using the following commands.
speaker-test -Dhw:0,0 -c2 -r48000
speaker-test -Dhw:0,2 -c2 -r48000

There is no mutual exclusion or switch handled at the kernel level.

IIRC there is a PulseAudio module-switch-on-connect or something.

It's been my experience t

[2021-10-21 16:20] BCilEng opened #3229 "SGTL5000 on Elkhart Lake"
Hello sof project community!
I am trying to set up the nxp sgtl5000 codec on an Elkhart Lake via I2S.
I am running linux intel LTS kernel, version 5.4.143-yocto which includes source files solely for the codec rt5660 on ehl. The part for the early start for MCLK and BCLK, commit 0e913d217a89de96fa19c644ea7b811dc0c4df79, is completely missing.
Do you have any advice on how I could import it on the

[2021-10-21 17:49] plbossart commented on #3229
@BCilEng my advice would be to NOT use a 5.4.143-yocto kernel, which is 11 versions of kernel behind our development tree and it may contain random backports for audio. There's just no way we can help you with such a delta (it's a 2-yr old kernel already).

You'd need to develop with a newer kernel, 5.14 for example, and later backport your changes. I know Yocto is what my esteemed Intel colleague

[2021-10-22 16:02] BCilEng commented on #3229
Thanks for the suggestion, I will move to a newer version of kernel.

[2021-10-22 18:30] plbossart commented on #3210
@tomty89 so you really have a device using the Intel production key, so clearly it's a firmware authentication issue. Not good.

@lgirdwood @mwasko what would be your recommentation here? Would it help if we tried using the Windows dsp_fw_release.bin on the Linux side (i.e. cp dsp_fw_release.bin /lib/firmware/intel/sof/sof-jsl.ri) to see if we can get the firmware authentication to work? Could it

[2021-10-22 20:43] plbossart opened #3234 "SoundWire: add a mode to allocate unique device numbers across links"
The SoundWire link allows for device numbers to be independent across links, i.e. we can have a device 1 on Link0 and a device 1 on Link 1.

To simplify and in the case where we have fewer than 11 devices in a system, we can have a unique dev_number.

This would be an optional behavior that can be managed through an IDA.

[2021-10-23 07:22] IlyaSkriblovsky commented on #2955
Seems like I have similar problem

Hardware: Huawei Matebook D 16 AMD (HVY-WXX9-PCB-B1 motherboard)
Only HDMI outputs are visible in `aplay -l` or `pacmd list-cards`.

alsa-info: http://alsa-project.org/db/?f=574f73f19bbe433ce4eeb7d93787362cc9cc4318
[dmesg.txt](https://github.com/thesofproject/linux/files/7402422/dmesg.txt)
[dmidecode.txt](https://github.com/thesofproject/linux/files/7402421/dmide

[2021-10-23 09:56] Eierkopp commented on #2955
Just wantet to say that my tree is clean with just PR #3107 applied.

Just updated to the most recent sof-dev version (again including only PR #3107) and result is the same.

[alsa-info.txt](https://github.com/thesofproject/linux/files/7402635/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7402636/dmesg.txt)
[dmi.txt](https://github.com/thesofproject/linux/files/7402637/dm

[2021-10-25 11:46] lyakh opened #3235 "kernel panic on reboot after failed probe"
I've seen this multiple times, when SOF fails to probe, e.g. because of an error in a development firmware version, when then rebooting the system, the kernel panics and the system has to be power-cycled. Observed on UP2 / APL.
![panic](https://user-images.githubusercontent.com/1363683/138689257-441f34ca-9f27-40ad-bcd0-76207fcaa1cf.png)

[2021-10-25 15:13] plbossart commented on #2955
@Eierkopp I suspect you may have an HDMI issue?

[code]

Can you try with this topology to be unzip copied in /lib/firmware/intel/sof-tplg/sof-glk-es8336.tplg (copy your old setup before)
[sof-glk-es8336.tplg.gz](https://github.com/thesofproject/linux/files/7411505/sof-glk-es8336.tplg.gz)

This is the diff in the topology to remove HDMI support:
[sof-glk-es8336-nohdmi.diff.txt](https://github.com/

[2021-10-25 15:21] plbossart commented on #2955
that was a branch with just codec fixes.
I rebased it to include the rest that's needed, @IlyaSkriblovsky please try with the updated branch.

https://github.com/plbossart/sound/commits/fix/es8336-codec
1d5f32fdeaea (HEAD -> fix/es8336-codec, plb/fix/es8336-codec) [HACK][FOR FOR UPSTREAM] es8336 support

[2021-10-25 15:31] plbossart commented on #3235
@lyakh it seems the panic occurs during the shutdown, no?

[2021-10-25 20:29] plbossart commented on #2894
closing since the direction is to have a fixed order and indices to simplify topologies.

[2021-10-25 20:30] plbossart commented on #2890
@ujfalusi I think this is already implemented? Can we close this?

[2021-10-25 20:30] plbossart commented on #2881
closing, no real benefits for now.

[2021-10-25 20:34] plbossart commented on #2673
not sure what the proposal was. closing.

[2021-10-25 20:38] plbossart commented on #1966
@ujfalusi isn't this implemented already?

[2021-10-25 20:39] plbossart commented on #1268
this is 2 years old and I am not sure I get the idea. @lgirdwood @RanderWang should we close? if not please clarify what the ask is.

[2021-10-25 20:41] plbossart commented on #1231
@ranj063 this is 2 years old and I don't get what the ask was. close?

[2021-10-25 20:44] plbossart commented on #844
I don't even remember what I was asking for, closing.

[2021-10-25 20:46] plbossart commented on #747
@ranj063 @lgirdwood not sure what the ask was on this one either. it's 2.5 years old. Close?

[2021-10-26 01:23] IlyaSkriblovsky commented on #2955
@plbossart, still no sound :(

Please take a look on reports made on this kernel build from commit you've referenced:
http://alsa-project.org/db/?f=ba32ae33110525bd10b2ffdbbfccf378986c28b8
[dmesg.txt](https://github.com/thesofproject/linux/files/7414359/dmesg.txt)
[dmidecode.txt](https://github.com/thesofproject/linux/files/7414360/dmidecode.txt)
[lsmod.txt](https://github.com/thesofproject/linux/

[2021-10-26 04:47] Eierkopp commented on #2955
Comparing dmesg output before and after the change it didn't make any difference. I've attached the dmesg from the new totplogy anyway.

[alsa-info.txt](https://github.com/thesofproject/linux/files/7415180/alsa-info.txt)
[dmsg.txt](https://github.com/thesofproject/linux/files/7415181/dmsg.txt)

[2021-10-26 06:18] lyakh commented on #3235
@plbossart yes, that's what I meant by "on reboot" - a reboot attempt after a failed probe fails with this panic.

[2021-10-26 07:05] ujfalusi commented on #1966
We still have the `error: ipc error for 0x60010000 size 20` in dev_err(), but it is now looks like this:
[code]
We are keeping the `snd_sof_handle_fw_exception() under check, which happens on timeouts.

This error is printed when the firmware responded with an error code and I think it should not be hidden as it is not going to spam the dmesg.

[2021-10-26 07:14] ujfalusi commented on #2890
@plbossart, I think this can be closed, we keep the dumps at bay now.

[2021-10-26 08:34] dbaluta commented on #747
This feature would be nice to have if someone will have some time to allocate for it.

[2021-10-26 10:23] paulstelian97 commented on #844
I'm thinking of a related issue: If at NXP we make a board with a mixer and two normal pipelines going into that pixel, one basic ALSA and one using compress, and the compress one fails due to missing firmware support, it would be nice if the basic ALSA one survives and is usable. This sounds like a more general variant of that. If you want, I can post a new issue discussing this specific use case

[2021-10-26 17:28] plbossart commented on #2955
Yes that would be a different issue and AMD folks should support their own platform :-)

[2021-10-26 17:30] plbossart commented on #2955
@Eierkopp can you add this option in /etc/modprobe.d/sof-dyndbg.conf:

options snd_soc_core dyndbg=+p

it's going to be very verbose but the log should show us what's missing in the card registration process.

[2021-10-26 17:47] plbossart commented on #1966
@ujfalusi I'll let you negotiate with @lgirdwood here. please close if relevant.

[2021-10-26 17:52] Eierkopp commented on #2955
Hope that helps ...

[dmesg.txt](https://github.com/thesofproject/linux/files/7420410/dmesg.txt)

[2021-10-26 18:57] plbossart commented on #2955
@Eierkopp yes this confirms my point about HDMI issues

[code]

can you retry with HDMI removed in the machine driver and the topology I provided earlier?

[code]

[2021-10-26 21:12] Eierkopp commented on #2955
At least there's a difference ....

[dmesg.txt](https://github.com/thesofproject/linux/files/7421581/dmesg.txt)

[2021-10-26 21:25] plbossart commented on #2955
this helps @Eierkopp

[code]

-2 is NOENT

[code]

used in late probe

[code]

Can you try this updated patch:

[code]

[2021-10-27 00:34] ignaciohg opened #3241 "Cannot get audio on TGL based NUC laptop"
Hi,

I got a NUC laptop and have been trying to get the audio to work, so far the only thing I see is Dummy output listed. I have tested Fedora 35 beta and now I am running Ubuntu 21.10 with no luck.

Not knowing what is useful to debug the problem, I ran alsa-info and the output is located at:

http://alsa-project.org/db/?f=d811895a16b7ba358f336c1d7c84300e5326f8e1

Thanks!

[2021-10-27 07:10] Eierkopp commented on #2955
It works! I briefly tested playback and recording and both worked.

[alsa.info.txt](https://github.com/thesofproject/linux/files/7423883/alsa.info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7423884/dmesg.txt)

[2021-10-27 13:45] plbossart commented on #3241
@ignaciohg known issue, see https://github.com/thesofproject/linux/issues/3049

We've added support for this laptop and upstreamed the code, see https://lore.kernel.org/alsa-devel/20210719233248.557923-1-pierre-louis.bossart@linux.intel.com/

The code is already in 5.15-rc6 and will be part of 5.15 when it's released (likely next week?).

the minimum two patches you'll need for a backport are:

[c

[2021-10-27 13:57] plbossart commented on #2955
Thanks @Eierkopp, that's good. let's try to solve your HDMI problem then.

@kv2019i any idea why we saw these reports earlier

[code]

[2021-10-27 14:29] kv2019i commented on #2955
@plbossart We get this error usually when the snd-hda-codec-hdmi driver is not enabled or not getting loaded, but based on the alsa.info.txt that was shared, the module is enabled and also loaded.

The earlier dmesg attachedment has this error that may be related:
[    9.432462] sof-audio-pci-intel-apl 0000:00:0e.0: init of i915 and HDMI codec failed

So I wonder is i915 module loaded at all, @Eie

[2021-10-27 18:19] Eierkopp commented on #2955
It wasn't loaded. I've rebuilt the kernel with i915 module enabled and reverted the latest patch by @plbossart.

With the original topology in sof-bin-v1.9, no soundcard were found.

[alsa-info_orig_tplg_hdmi_scan.txt](https://github.com/thesofproject/linux/files/7428413/alsa-info_orig_tplg_hdmi_scan.txt)
[dmesg_orig_tplg_hdmi_scan.txt](https://github.com/thesofproject/linux/files/7428414/dmesg_or

[2021-10-27 19:42] plbossart commented on #2955
@hli25 Can you share the kernel configuration you used in your GeminiLake tests? I suspect something's still missing, not sure why the topology fails to load

[code]

@ranj063 could this also be an issue with static/dynamic pipelines? i didn't add -DDYNAMIC=1 for this topology.

[2021-10-27 20:56] ranj063 commented on #2955
doesnt look like it @plbossart . Look's like the iDisp1 DAI link is missing in the machine driver.

[2021-10-27 21:25] plbossart commented on #2955
thanks @ranj063, that's indeed a possibility.

@Eierkopp can you remove all the patches for sound/soc/intel/boards/sof_es8336.c  and use the original topology? Indeed if you use the original topology with a modified machine driver things won't work.

[2021-10-28 07:23] Eierkopp commented on #2955
That's what I already did over [here](https://github.com/thesofproject/linux/issues/2955#issuecomment-953192677). The first test was with original topology, the second with the file you provided. Patches to sof_es8336.c are reverted, PR #3107 still in.

[2021-10-28 09:59] hli25 commented on #2955
[config.txt](https://github.com/thesofproject/linux/files/7433140/config.txt)
FYI, this is the kenrel config I used to debug es8336 on GLK befor.

[2021-10-28 15:26] plbossart commented on #2955
@Eierkopp can you use the config provided above. GLK was tested before, we need to find out why things are not working for you. Thanks!

[2021-10-28 17:11] ignaciohg commented on #3241
Thanks for the help.

I tried with a nightly 5.15-rc7 build from Ubuntu and the machine hangs randomly while booting, no luck there. Then I tried building my own, did a localmodconfig build based on kernel.org 5.15-rc7 and the machine booted, just no audio.

I need to do a more careful config of the kernel to make sure it works. Do you have a list of required kernel options needed to have sof audi

[2021-10-28 17:15] plbossart commented on #3241
@ignaciohg you can look at the references we use:

https://github.com/thesofproject/kconfig/blob/master/sof-defconfig
https://github.com/thesofproject/kconfig/blob/master/mach-driver-defconfig

[2021-10-28 18:04] Eierkopp commented on #2955
Recompiled the kernel with that config and chose the default for all unknown/missing options in `make oldconfig`. Had to cheat the compiler to accept `drivers/staging/media/atomisp/pci/hive_isp_css_common/host/input_system.c` but that shouldn't be a problem.

Anyway with the resulting kernel/initrd the device fails to mount root and drops into an initramfs promt. Could be useful, but not without a

[2021-10-29 04:21] aiChaoSONG opened #3247 "[BUG][CNL] DSP panic received in ROM initialization"
In downgrading log level to warning for ROM initialization retry to fix https://github.com/thesofproject/sof/issues/4873, we found an abnormal log, which shows that DSP panic is received from firmware in ROM init, but at this moment, firmware is even not copied to DSP.

A reasonable guess is that in OS suspend, DSP is not shutdown gracefully, or some core is not shutdown at all. So In ROM initiali

[2021-10-29 07:03] Eierkopp commented on #2955
Now the kernel mounts root and even initializes the HDMI audio devices. Strangely I didn't get any sound out of the device, neither internal nor HDMI. Probably I just didn't find the right mixer control. Also strange is that the device reports only 48kHz sampling rate. I'm pretty sure, I tested with 44.1kHz before.

A quick recording test worked, though.

[alsacap.txt](https://github.com/thesofpro

[2021-10-29 14:32] playXE opened #3248 "[FEATURE] Support for ES8336 on Intel Comet Lake"
Moved from thesofproject/sof

**Is your feature request related to a problem? Please describe.**
Huawei laptops ship with an Everest ES8336 sound card that is not supported by sofproject.
**Describe the solution you'd like**
Adding support for it would be really awesome
**Describe alternatives you've considered**
I already tried this repo which seems to contain a kernel built with support for it b

[2021-10-29 15:36] simas-b commented on #3248
I just bought Huawei Matebook d15 i3-10110U and can confirm the sound does not work (Dummy output shown as Output device).

OS: Ubuntu 22.04 (development branch)
Kernel 5.15.0-051500rc7-generic

Also tried the same kernel as @playXE linked https://github.com/himozzza/essx8336. After booting with it It displayed "Intel Corporation Comet Lake PCH-LP cAVS" as Output device and it correctly prompted m

[2021-10-29 20:43] IlyaSkriblovsky opened #3249 "[BUG] No sound on AMD Ryzen 5 4600H + ES8336 codec"
I have Matebook D 16 AMD laptop with Ryzen 5 4600H and ES8336 I2S codec chip.

Speakers, headphones and microphone are not recognized at all. Only the "Dummy output" is visible in GUI sound settings and only HDMI outputs are visible in `aplay -l`.

I've tried to build the kernel from `topic/sof-dev` (on 2021-10-28) with #3107 on top, but it didn't help. Attached logs are collected with that kernel

[2021-11-01 02:51] keqiaozhang commented on #3154
@jairaj-arava can we close it? since no reproductions for one month.

[2021-11-01 03:09] keqiaozhang commented on #3247
@ujfalusi , could you please share the steps about how to reproduce this issue?

[2021-11-01 07:39] ujfalusi commented on #3247
@keqiaozhang, I have borrowed that log from @lyakh, personally I have not seen it.

[2021-11-02 17:47] jairaj-arava commented on #3154
Hi @keqiaozhang,
Our team tried to repro in the latest BKC too, however since it's not reproduced hence closing the issue for now. Will re-open this if observed consistently in the near by time. Thanks.

[2021-11-02 17:47] #3154 closed

[2021-11-03 02:11] ghost commented on #3063
Also seen on today's daily test 7896.

[2021-11-03 02:34] XiaoyunWu6666 commented on #2983
similar error happened today
fixed it via the same way  （ Please shutdown the DUT , wait for several mins and reboot it ）

[2021-11-03 09:43] kv2019i opened #3254 "HDA codec jack detection fails if codec is in D3 and controller is in D0"
Reported via https://github.com/thesofproject/linux/pull/3253

Reproduce:
- run "sudo evtest /dev/input/event6" to monitor headset events (replace event6 with approapriate device matching the headset codec)
- unplug headset (external HDA codec)
- play a PCM to display audio (DP/HDMI)
- plug headset

Result:
hotplug not detected

[2021-11-03 16:04] rommni commented on #2955
Hi, I have a similar issue with a chinese tablet (Pipo X9S) with a Intel N4020 (Gemini Lake) CPU and a ES8336 sound chipset.

I have clone your branch of the kernel with the patch you had done, and test the topology without HDMI, it seems to detect the ship however I still have a problem which prevent the driver to fully be loaded.
[code]

Full dmesg log
[dmesg.txt](https://github.com/thesofprojec

[2021-11-03 16:05] plbossart commented on #3248
Thanks for reporting this @simonboot and @playXE . We are indeed missing quirks for this CML device.

Can you retry with the branch https://github.com/plbossart/sound/tree/fix/es8336-codec

You should boot the DSP and reach the point where a topology file is missing.

You will have to try each of the files in this zip
[cml.tar.gz](https://github.com/thesofproject/linux/files/7468988/cml.tar.gz)

P

[2021-11-03 16:08] plbossart commented on #3249
@ajitkupandey this is for you guys. I have enough on my plate with the same codec for Intel platforms :-)

[2021-11-03 16:11] plbossart commented on #2955
@Eierkopp we don't support 44.1kHz, so that's not really possible that it ever worked - or it worked in legacy mode before you had the SOF driver loading.

[2021-11-03 16:13] plbossart commented on #2955
@rommni can you please retry with a 'clean' setup where HDMI is enabled and the default SOF 1.9 firmware? I have never seen the issue above and thats' likely a weird mix of configurations. Thanks

[2021-11-04 07:22] rommni commented on #2955
@plbossart Of course, here are the logs with the "clean" setup (revert the changes to hdmi_num and late_probe on es8336 driver and take again the default SOF 1.9 topology file)
[code]
[dmesg_with_hdmi.txt](https://github.com/thesofproject/linux/files/7472951/dmesg_with_hdmi.txt)

PS: I'm currently working on the error of i915 in case it could be link

[2021-11-04 08:25] rommni commented on #2955
Problem solved after fixing i915 with the "clean" setup, thank you for your help

[2021-11-04 11:27] perexg commented on #3088
@tibirna : Could you follow https://github.com/alsa-project/alsa-ucm-conf/issues/114 and test https://github.com/alsa-project/alsa-ucm-conf/pull/116 ? It looks like an UCM issue which is not related to the SOF project. I propose to close this issue here.

[2021-11-04 15:28] plbossart commented on #3248
forgot to add @hli25 on this one, not sure if you can help with the SSP connection - which SSP should be used on CML-based devices?

[2021-11-05 05:07] playXE commented on #3248
atm I am running Windows on my laptop, is there any way to load this kernel with USB drive? Maybe compile kernel on WSL and then move it to bootable USB?

[2021-11-05 12:06] playXE commented on #3248
@plbossart I am trying to build kernel in WSL and it fails:
[code]
Looks like the problem is a slightly newer version of GLibc?

[2021-11-05 12:30] Sulisong commented on #2748
How to use in Hackintosh, did you build AppleALC by yourself? Can you find the use?

[2021-11-05 16:01] plbossart commented on #3248
I don't have a Windows device so can't help with WSL.

It's possible to take an existing USB drive with e.g. Ubuntu and add a different kernel. I did it a couple of years ago with the help of @linuxium, see https://github.com/plbossart/UbuntuLiveUSB. No idea if this still works or not. You might have more luck with Cubic.

[2021-11-05 17:59] kv2019i commented on #3254
Fixed in sof-dev and also upstream with:
https://mailman.alsa-project.org/pipermail/alsa-devel/2021-November/192080.html
Thanks @jason77-wang for the report and patch, great to have this fixed!

[2021-11-05 17:59] #3254 closed

[2021-11-05 20:10] plbossart commented on #3210
This firmware boot issue was reproduced by Intel engineers. Let's use https://github.com/thesofproject/sof/issues/4916 to track this problem

[2021-11-05 20:10] #3210 closed

[2021-11-05 21:21] dantefff commented on #3249
Hi! I'm in the same situation. I have a Matebook D 14 with a ryzen 4800H. I have a dual boot config so I can help with any tests you need.

[2021-11-06 04:15] Sulisong commented on #2748
@elmkzgirxp

[2021-11-06 08:14] playXE commented on #3248
I'll probably buy a larger SSD and will install Linux near Windows because it seems to be quite hard to build linux kernel in WSL...

[2021-11-06 09:25] serjsaraev commented on #3249
Same problem with Huawei Matebook d16

[2021-11-06 12:22] Sulisong commented on #2748
@elmkzgirxp How to use it in Hackintosh?

[2021-11-08 01:26] keqiaozhang commented on #3213
@jairaj-arava , so can we close this issue?

[2021-11-08 07:24] fredoh9 opened #3262 "Kernel RIP at mm/vmalloc.c:659 with KASAN enabled build"
Found the massive errors in weekly KASAN enabled test, internal test 8011. Due to massive errors, device seems slower, half of devices from test pool couldn't be tested. I believe all have same errors. Found same Kernel RIP both on codec and nocodec build.

Build Hashs,
- kernel SHA1 : 4437eecb
- sof SHA1 :  9e4b18d19f3a

Last week's test was OK, that kernel hash was f8371812

Kasan enabled Kconfi

[2021-11-08 13:59] plbossart commented on #3262
@fredoh9 There's been several reverts in Takashi's branch related to memory handling.

[PATCH] ALSA: PCM: Fix NULL dereference at mmap checks
[PATCH] ALSA: memalloc: Catch call with NULL snd_dma_buffer pointer
[PATCH] Revert "ALSA: memalloc: Convert x86 SG-buffer handling with non-contiguous type"

I would redo the tests with those patches applied.

[2021-11-08 21:27] plbossart commented on #3191
@ujfalusi @singalsu this looks like a fixed issue, please close this if indeed we have a solution. Thanks!

[2021-11-08 21:28] plbossart commented on #3045
this sighting was not reproduced since mid July, almost 4 months. closing

[2021-11-08 21:28] #3045 closed

[2021-11-09 00:25] plbossart opened #3265 "AMD: sparse warning + ACP_DEFAULT_DRAM_LENGTH duplicate definition"
Sparse reports the following warning

[code]

this is indeed in the code:
sound/soc/sof/amd/acp-loader.c:                 memset(adata->data_buf, 0, ACP_DEFAULT_DRAM_LENGTH);

but in addition the same pre-processing variable is defined twice?

sound/soc/sof/amd/acp.h:#define ACP_DEFAULT_DRAM_LENGTH                 0x00080000
sound/soc/sof/amd/acp.h:#define ACP_DEFAULT_DRAM_LENGTH                 0

[2021-11-09 07:37] ujfalusi commented on #3191
@singalsu, the patch is in sof-dev now: f05a9b8552896d95fc22e135eaf9c6be541bfe79, can you verify again? Thanks.

[2021-11-09 08:58] giddie commented on #2971
I had another freeze, and it looks like the sof log contains a few warnings, so in case that reveals something interesting:

[kernel.log.gz](https://github.com/thesofproject/linux/files/7503343/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/7503345/sof-log.gz)

[2021-11-09 11:25] ajitkupandey commented on #3265
Just wondering why this warning not reported with sparse check tool when PR was generated ? Are you using some extra sparse build flags or configuration ?

Anyways I've uploaded a fixup PR for this here https://github.com/thesofproject/linux/pull/3267

[2021-11-09 13:40] sanzazacuro opened #3268 "[BUG] Install custom kernel build on device for enabling debug data from DSP (HP Chromebook X360)"
**Describe the bug**
When trying to get debug data from SOF, I encouter the errors:
`error: in logger_read(), fread(..., /sys/kernel/debug/sof/etrace) failed: Operation not permitted(-1)`
`error: debugfs entry cannot be read in DSP D3`

By reading other issues in GitHub, I figured this would be solved by building a new kernel with the Kconfig flags in `sof-dev-defconfig` (in Kconfig repo, CONFIG_S

[2021-11-09 14:42] singalsu commented on #3191
@ujfalusi Thanks, I just checked and things work now OK.

Closing!

[2021-11-09 14:42] #3191 closed

[2021-11-09 15:19] plbossart commented on #3265
Not sure why this wasn't shown earlier @ajitkupandey, just like I don't know how we missed the conflict between static and EXPORT_SYMBOL.

[2021-11-09 15:19] #3265 closed

[2021-11-09 15:27] plbossart commented on #2971
Thanks @giddie indeed there are quite a few warnings such as

[code]

They all seem related to the DMIC use.

@lgirdwood @lyakh @singalsu any idea what those warnings could be due to?

[2021-11-09 15:36] bhiregoudar commented on #3249
AMD platforms doesn't have a support for ES8336 codec on Linux OS environment. There is no machine driver support available for this codec.  As for as I Know, only windows OS support is available for ES8336 codec.

[2021-11-09 15:39] plbossart commented on #3268
@sanzazacuro kernel 5.4 released a long time ago, I don't think it can actually possibly work on a TGL device. Do you mind retrying with a more recent kernel. 5.10+ is recommended at this point.

[2021-11-09 16:08] sanzazacuro commented on #3268
@plbossart I built a new kernel from `topic/sof-dev` (5.15), applied with the kconfig parameters from the `kconfig-sof-default.sh` script. What is the recommended way to push and flash the `bzImage` or `.deb` on device without the std linux utilities?

[2021-11-09 16:30] plbossart commented on #3268
@sanzazacuro does the target run with ChromeOS developer mode or a regular Ubuntu/Fedora distribution? In the first case you need to use the Chrome build environment to install the new kernel. In the latter case you just need to push the new kernel image and modules and re-generate the initrd/initramfs part. I can provide more detailed instructions depending on the two options.

[2021-11-09 16:32] sanzazacuro commented on #3268
Thanks, that would be great! Yes, it runs ChromeOS Developer mode.

[2021-11-09 16:55] plbossart commented on #3268
@sanzazacuro this is hard...I haven't pushed an updated kernel to ChromeOS since 4.14, some 3 years ago.

See this file
[notes-public.txt](https://github.com/thesofproject/linux/files/7506584/notes-public.txt) which contained my cheat sheet at the time. @cujomalainey and @bzhg may be able to point you to a better documentation.

Essentially the trick was to extract a Chrome build environment, chan

[2021-11-09 19:50] IlyaSkriblovsky commented on #3249
@bhiregoudar Yep, and this is the issue. Hoping someone familiar with kernel sound architecture will save us by writing machine driver :(

I've tried to figure out how to do it myself, but failed at the moment (I have some linux driver experience, but I'm completely new to the sound subsystem).

ES8336 seems to be working on LInux with @plbossart's #3107 PR and other patches on Intel platform in #

[2021-11-10 02:23] plbossart commented on #3078
@sathya-nujella can you confirm when the  non-audio related kernel panic. Is this after the start of device_shutdown()?

@ranj063 I vaguely recall you mentioning that there might be a magic sequence we could use on the reboot part? if not we'd have to hack the shutdown() sequence to be done earlier, maybe with a reboot notifier

[code]

[2021-11-10 03:18] cujomalainey commented on #3268
@sanzazacuro are you running a test image?

[2021-11-10 03:36] ranj063 commented on #3078
@plbossart the magic sequence didnt quite work as expected and the HW team is still debugging further.

[2021-11-10 08:45] sanzazacuro commented on #3268
@plbossart Thanks a lot, I will try it out.

@cujomalainey No, I dont believe so. Its a production chromebook in developer mode, ChromeOS version 94.0.4606.115 (Official build)

[2021-11-10 13:46] sanzazacuro commented on #3268
@cujomalainey Is it an option to dual boot with a distro, for instance ubuntu, develop with SOF with a 5.10+ kernel on that partition, and then just flash the DSP firmware on ChromeOS with the 5.4 kernel afterwards?

[2021-11-10 20:32] cujomalainey commented on #3268
@sanzazacuro that is likely possible but much more work than what our system is setup for. I recommend you read https://chromium.googlesource.com/chromiumos/docs/+/main/developer_guide.md

It will show you how to make a test image which will allow you to flash kernels and fw to the device with ease over ssh

[2021-11-10 20:49] cujomalainey commented on #3268
@sanzazacuro also in theory you should have to do minimal work on the kernel

[2021-11-10 21:46] jairaj-arava commented on #3213
@keqiaozhang, yeah closing it since issue was not seen in any recent CPFE image of ADL-M RVP.

[2021-11-10 21:46] #3213 closed

[2021-11-12 02:32] marc-hb commented on #3078
@sathya-nujella  How is the DUT rebooted in that case?

(In 2011 there were at least 5 ways to reboot: https://mjg59.livejournal.com/137313.html )

[2021-11-12 17:42] marc-hb commented on #2647
A PATCH level makes sense only on the  _implementation_ side. So in general it does not make semver sense to define `SOF_ABI_PATCH` on the _user_  side, that `#ifdef` could be removed entirely from the kernel. I mean it does not make sense in general for any API/ABI _user_ side to requires a specific level of bug fixes in the implementation, that does not follow the semver.org definitions.

Fair e

[2021-11-15 08:39] ghost opened #3274 "[BUG] [JSL] "core_mask is not in host managed cores" during firmware booting"
**Describe the bug**
In the Jaspherlake machine, the driver will print kernel log like `error: core_mask is not in host managed cores` after `FW_READY` IPC is done. I think this is introduced by <https://github.com/thesofproject/linux/pull/3272>.

**To Reproduce**
Check dmesg after kernal boot.

**Reproduction Rate**
100%

**Expected behavior**
No error in the kernel messages.

**Impact**
It seems

[2021-11-15 08:44] kv2019i opened #3275 "[FEATURE] Ability to start DMA-trace while DSP is running"
As documented in https://github.com/thesofproject/sof-docs/pull/381 and discussed at length in https://github.com/thesofproject/sof-test/pull/802#issuecomment-965700731 , current DMA trace is not designed to support the scenario where DMA tracing is started by user-space (sof-logger) while the DSP is in fact running. The current kernel driver allows to do this, but logs are provided in best-effort

[2021-11-15 16:59] plbossart commented on #3274
@ranj063 I have a doubt on this one.

Can JasperLake really use the ICL ops if it has only 2 cores? IIRC we used core3 for the power-up sequences on ICL. So maybe using CNL ops is a feature, not a bug?

[2021-11-15 17:04] ranj063 commented on #3274
@plbossart I think the problem is that ICL uses ICCMAX workaround but JSL doesnt need it. So maybe using the CNL ops might have been a feature

[2021-11-15 22:49] tomty89 commented on #3249
I'm not sure if this is related to "AMD or not". #3107 (plus #2962 and #3212) doesn't really give me sound either when on my Celeron N5100 laptop (with the properly signed firmware).

I do get an analog alsa device but it only gives a pop when it is opened and closed. No idea if digital sound work though.

[2021-11-16 02:24] marc-hb commented on #2647
Funny enough most recent SOF release notes require a kernel version with a MINOR too low that also triggers this warning: thesofproject/sof-bin#9 (comment)

[2021-11-16 05:52] marc-hb commented on #3275
In practice this race is a problem only when the FW logs are so verbose that they fill the entire ring buffer. It's never been a problem for me.

Which current problem does this solve?

Yes but not urgent, `sof-logger` already has mitigation for that: it detects and skips garbage and is smart enough to notice timestamps going backwards and report them.

[2021-11-16 07:03] IlyaSkriblovsky commented on #3249
@tomty89 there are several issues here about ES8336 and in one of them @plbossart replied that AMD support for ES8336 is another matter than Intel support: https://github.com/thesofproject/linux/issues/2955#issuecomment-952155442

[2021-11-16 11:29] kv2019i commented on #3275
@marc-hb wrote:

Let's discuss that. It seems based on discussion on https://github.com/thesofproject/linux/pull/3136 that currently sof-test cases are assuming some data is always in the trace buffer. This was tracked also in https://github.com/thesofproject/sof-test/issues/297

If we'd move to a "double ringbuffer" in the SOF driver, "sof-logger -t" would always return at least some traces and t

[2021-11-16 17:38] marc-hb commented on #3275
Yes, and for various good and bad reasons this kept passing until #3136.

From a validation perspective the most important thing is as you wrote: determinism. You obviously can't assert something non-deterministic. So in any simple situation the logs should be either always empty or always present.

Determinism is made more complicated by power management that powers off the DSP (D3) after a timeo

[2021-11-16 23:21] marc-hb commented on #3275
Rescuing from a private email thread a non-intuitive (to me) `host_offset` behavior explained by @ujfalusi

Which is pretty much expected based on the kernel code:

-- sleep 1 --
- If you kill the sof-logger _while the DSP is still on then the
host_offset is not reset.
- You wait for 2 more sec to hit D3.
- when you run sof-logger next time you will get the log from 0 to the
previous host_offset
-

[2021-11-18 11:42] kv2019i opened #3283 "[BUG] [CML] [APL] using smp_processor_id() in preemptible (suspend/resume failure with 5.16-rc kernel)"
**Describe the bug**
Kernel errors with 5.16-rc1 on UP2 that are picked up by sof-test:

[ 8044.297656] kernel: BUG: using smp_processor_id() in preemptible [00000000] code: rtcwake/115421
[ 8044.297985] kernel: BUG: using smp_processor_id() in preemptible [00000000] code: rtcwake/115421
[ 8044.298267] kernel: BUG: using __this_cpu_read() in preemptible [00000000] code: rtcwake/115421
[ 8044.29857

[2021-11-18 15:02] kv2019i commented on #3283
Also with CML:
https://sof-ci.01.org/linuxpr/PR3282/build6722/devicetest/?model=CML_RVP_SDW&testcase=check-suspend-resume-with-playback-5

[2021-11-18 15:36] marc-hb commented on #3283
Interesting, could this help explain why we had so many timeouts with rtcwake https://github.com/thesofproject/sof-test/issues/650 ?

[2021-11-19 06:53] marc-hb commented on #3283
@kv2019i why is this filed in sof-test? This is a `kernel: BUG:` that is very clearly triggered by new _kernel_ code.

EDIT: now transferred to linux.

[2021-11-19 06:54] marc-hb commented on #3283
After a little bit of Googling, "preemptible" implies "migratable" - to a different CPU. This is why calling per-CPU functions is bad.

[2021-11-19 07:14] marc-hb commented on #3283
`using .... in preemptible` is not the first error. It's only the first error found by the test code. I'm not sure it's relevant. Here's a more complete trace from https://sof-ci.01.org/linuxpr/PR3282/build6722/devicetest/ that includes the first warning in `drivers/base/syscore.c:96 syscore_resume`

[code]

[2021-11-19 07:31] kv2019i commented on #3283
@marc-hb I thought you told earlier week that this kind of non-audio kernel stuff should/could be filed here for tracking. But ack, let's file elsewhere. Retest on plain 5.16-rc1 is needed to file to kernel bugzilla.

[2021-11-19 07:44] marc-hb commented on #3283
... yes but not as a bug but as a task to ignore it and only if we intend on ignoring it because we looked at it carefully and we know for sure it can be safely ignored because it will not affect audio test results in any way. Unfortunately, suspend/resume bugs are often difficult to ignore in suspend/resume tests - even when they're not audio-related.

[2021-11-19 07:47] marc-hb commented on #3283
I ran `journalctl -g 'Linux version|Interrupts enabled |BUG.*preempt'` over the few days of logs we have on this system. Unlike the `BUG: preemptible`, the two `Interrupts enabled` warnings are NOT new to 5.16! Also, the `BUG: preemptible` is not happening every time with 5.16, in fact it happened only once (together with the warnings, see above)

EDIT: one more: https://sof-ci.01.org/sofpr/PR5016

[2021-11-19 17:19] plbossart commented on #3241
no update and downstream problem, closing

[2021-11-19 17:19] #3241 closed

[2021-11-19 19:13] ignaciohg commented on #3241
I dumped Ubuntu and installed Fedora, the test kernel for 5.15 and now the sound works fine for me. Now, to get camera and touchscreen working

Thanks a lot for the help!

[2021-11-19 23:20] prof-dr-pepper commented on #3161
@plbossart The bugfix that you created for this issue here requires a toplology file named "sof-tgl-rt711-l0-rt1316-l1-mono-rt714-l3.tplg". This file does neither seem to be shipped with any Linux distribution nor does it seem come with the firmware from https://github.com/thesofproject/sof-bin.
Will the missing file be added some day somewhere?

[2021-11-19 23:39] plbossart commented on #3161
Thanks @prof-dr-pepper for reporting this, this seems to be a release backport issue. I did add support for this file in the tools/topology/topology1/CMakeLists.txt file (SOF commit 425743e772342256141201a74c760551f1953561 "topology1: add missing Dell SKU 0A45 topology")

[code]

but this file is indeed not in the sof-bin release.

@lgirdwood @marc-hb could it be that this topology update was not

[2021-11-20 06:23] marc-hb commented on #3161
I see only one commit from @plbossart in https://github.com/thesofproject/sof/commits/stable-v1.9 right now and it's indeed not a topology change.

Simply because no one backported them? I'm not aware of any systematic backporting process, AFAIK what is in stable-v1.9 is only what people explicitly submit to that branch.

[2021-11-20 12:44] playXE commented on #3248
Hi, I still do not have the ability to dualboot, is there something I can help with using my machine? I see that there are some commits that mention ES8336

[2021-11-21 22:36] #3268 closed

[2021-11-22 04:53] miRoox commented on #3274
closed by #3276

[2021-11-22 04:53] #3274 closed

[2021-11-22 17:07] ps3vdo commented on #3249
The problem is like everyone else, there is no sound on Linux. huawei matebook d16

[2021-11-26 10:45] tusharvidhani3 commented on #2955
I am using Avita Essential Laptop with celeron n4000 and facing dummy output. How to fix this? I am a beginner in linux please help

[2021-11-29 18:29] plbossart commented on #2955
@tusharvidhani3 Please attach the results of 'alsa-info' to that we can figure out which version of the hardware you use.

[2021-11-29 20:06] MyrkoF opened #3300 "HP x360 spectre 13-aw2619nz No sound in internal speaker"
Hello,
I would like to debug a sound problem in the computer.

Hardware:
HP x360 spectre 13-aw2619nz   (intel 11th generation  tiger Lake)

Software:
Ubuntu studio
$ cat /etc/os-release
PRETTY_NAME="Ubuntu 21.10"
NAME="Ubuntu"
VERSION_ID="21.10"
VERSION="21.10 (Impish Indri)"
VERSION_CODENAME=impish
Kernel 5.13.0-23-lowlatency

My ALSA config:  http://alsa-project.org/db/?f=e5348dd573e2feb8c6263ef

[2021-11-29 20:43] plbossart commented on #3300
I checked that kernel 5.13 does contain the support for HP x360 devices, but there's a mistake: the following diff should be applied

[code]
from the code, I see this:
[code]
In binary that's 11001 or 0x19.

If you are not familiar with compilation of the kernel, you should be able to set the following quirk in /etc/modprobe.d/alsa-base.conf. You should also see a log in the 'dmesg' log, you shoul

[2021-11-29 21:04] MyrkoF commented on #3300
Thanks: I have edit as root the alsa.base.conf, and reboot the laptop.
Now the speaker is by default active on alsamixer   but still no still no sond come out.

here is my file modified:
[code]

[2021-11-29 21:08] plbossart commented on #3300
@MyrkoF can you open a terminal and type

[code]

also provide the updated results of 'alsa-info' and 'dmesg' log. Thanks!

[2021-11-29 21:12] MyrkoF commented on #3300
the speakeer-test  command work and send sound but nothing on the speaker.

here is the alsa-info

http://alsa-project.org/db/?f=76c6b4b40db8b5b36c64dabafb258828ef5c812b

[2021-11-29 22:15] plbossart commented on #3300
likely missing mixers or bad UCM, can you try this with this file
[hp360x.state.txt](https://github.com/thesofproject/linux/files/7621475/hp360x.state.txt)

[code]

[2021-11-29 22:23] plbossart commented on #3300
note that for 5.15+ the quirk format was changed, the following value is needed:

[code]

[2021-11-29 22:32] MyrkoF commented on #3300
the destination file is not existing on /usr/share/alsa/ucm2/sof-soundwire/
here is the command executed

myrko@x360-studio:~/Bureau$ alsactl --file hp360x.state.txt restore
alsa-lib utils.c:335:(uc_mgr_config_load) could not open configuration file /usr/share/alsa/ucm2//sof-soundwire/dmic.conf
alsa-lib parser.c:95:(uc_mgr_config_load_file) error: failed to open file /usr/share/alsa/ucm2//sof-soun

[2021-11-29 22:33] MyrkoF commented on #3300
PS    alsa-lib utils.c:335:(uc_mgr_config_load) could not open configuration file /usr/share/alsa/ucm2//sof-soundwire/dmic.conf

why the they is double //   in ucm2//sof-sound ?

[2021-11-29 22:34] plbossart commented on #3300
Can you try this command instead? if this fails you have a bad alsa-ucm-conf installed.
[code]

[2021-11-29 22:35] MyrkoF commented on #3300
sorry the file is present:

myrko@x360-studio:/usr/share/alsa/ucm2/sof-soundwire$ ls
Hdmi.conf      rt1308-2.conf  rt5682.conf  rt711-sdca.conf  sof-soundwire.conf
HiFi.conf      rt1316-1.conf  rt700.conf   rt715.conf
rt1308-1.conf  rt1316-2.conf  rt711.conf   rt715-sdca.conf

[2021-11-29 22:39] MyrkoF commented on #3300
maybe the broblem come from the double //  in the path ??

myrko@x360-studio:/usr/share/alsa/ucm2/sof-soundwire$ alsaucm -c sof-soundwire set _verb HiFi set _enadev Speaker
ALSA lib utils.c:335:(uc_mgr_config_load) could not open configuration file /usr/share/alsa/ucm2//sof-soundwire/dmic.conf
ALSA lib parser.c:95:(uc_mgr_config_load_file) error: failed to open file /usr/share/alsa/ucm2//sof-sound

[2021-11-29 22:46] MyrkoF commented on #3300
i can maybe remplace the file  soft-soundwire.conf  on my computer with this one :
https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/sof-soundwire/sof-soundwire.conf ?

[2021-11-29 22:53] plbossart commented on #3300
it's probably better to archive your /usr/share/alsa/ucm and ucm2, and replace it with the git master. You can get a zip file here: https://github.com/alsa-project/alsa-ucm-conf (green 'code' button, pull down and use 'Download Zip'

[2021-11-29 23:11] MyrkoF commented on #3300
I have backuped the ucm and ucm2  folders  and  remplaced with the  https://github.com/alsa-project/alsa-ucm-conf   folders.
I have rebooted the computer   no change
I have launch the previous command here:  the output

myrko@x360-studio:~/Bureau$ alsaucm -c sof-soundwire set _verb HiFi set _enadev Speaker
ALSA lib parser.c:2137:(parse_toplevel_config) Incompatible syntax 4 in /usr/share/alsa/ucm2

[2021-11-29 23:29] plbossart commented on #3283
@kv2019i I tried the exact same command on my local Up2 and can't reproduce this problem

[code]

It's going to be real hard to bisect I am afraid.

[2021-11-29 23:33] plbossart commented on #3300
@MyrkoF Likely a problem with Ubuntu not updating their packages. I just tried on Fedora 34 and things work fine on the same type of devices (HP x360)

[2021-11-29 23:46] MyrkoF commented on #3300
what kind of package do i need to upgrade?
you suggest to swich on fedora distribution ?
on ubuntu studio  the only problems i have is ;
the sound
auto rotation of the screen in tablet mode
latency on the keyboard at startup (solved with i8042  various parameters  tested on kernel startup)
I'm at 99% working with this config

(edit;   the think is the Dell XPS13 developper edition come with ubuntu

[2021-11-29 23:51] plbossart commented on #3300
I am not in a position to recommend a distribution, I need to be friends with everyone.

you typically need an update of alsa-lib, alsa-utils and alsa-ucm-conf. The package names may vary.

For Ubuntu the go-to contact is @jason77-wang.

[2021-11-30 05:43] snj33v opened #3301 "nuc11 has no audio"
kernel: 5.15.4-201.fc35.x86_64

forcing sof drivers makes audio devices unavailable on NUC11PAHi5

[code]
[code]

[2021-11-30 14:12] plbossart commented on #3012
Observed this issue again when running suspend/resume stress testing on CML_SKU0983_SDW. Test ID:8054.

[code]

[2021-11-30 14:16] plbossart commented on #3283
I managed to reproduce this semi-reliably and much faster than other commands. What seems to matter is the number of suspend-resume cycles, not the use of playback/capture while suspending.

[code]

[2021-11-30 14:45] plbossart commented on #3301
@snj33v can you please upload the results of 'alsa-info' and provide a link to the results?

Also can you be more specific on what the problem is? Your 'aplay -l' log does show a set of devices exposed to userspace, what do you mean by 'forcing sof drivers makes audio devices unavailable'?

[2021-11-30 20:46] plbossart commented on #3283
First bisect results - to be verified

[code]

I think what's interesting here is the 'bad' results, where we did see the warnings. In case of the 'good' commits it could be that we didn't see the problem.

[2021-11-30 22:59] marc-hb commented on #3283
Bisecting intermittent failures is super, super hard. I recently realized it's even harder than I thought it was because the _reproduction odds_ can sometimes change because of timing changes introduced by totally unrelated commits. Let's say you start with a commit where 50 iterations gives a very high reproduction chance, typically failing long before the 50th iteration. So you start bisecting w

[2021-11-30 23:30] MyrkoF commented on #3300
@plbossart
i have try the live CD  of fedora 35 with plasma   the sound come out of the box , (just to swich the headset to speaker in the mixer.

So I have did many test:
1) ./configure ,  make  and make install    the alsa-lib 1.2.5.1, alsa-plugins alsa-utils alsa-firmware   found on the alsa project directories.       Not sucess,   error on the make process   and after  unable to lauche alsamix

[2021-11-30 23:49] plbossart commented on #3283
the bad commit show between 1 and 49 iterations, but that tells you how likely I was to miss some bad ones. I am re-doing the bisect with 500 iterations now but skipping steps to go faster.

[2021-12-01 08:21] tusharvidhani3 commented on #2955
tushar@tushar-ne14a2:~$ alsa-info
ALSA Information Script v 0.4.64
--------------------------------

This script visits the following commands/files to collect diagnostic
information about your ALSA installation and sound related hardware.

  dmesg
  lspci
  aplay
  amixer
  alsactl
  /proc/asound/
  /sys/class/sound/
  ~/.asoundrc (etc.)

See '/usr/sbin/alsa-info --help' for command line options.

[2021-12-01 13:42] snj33v commented on #3301
by forced load, i meant `snd_intel_dspcfg.dsp_driver=3` on kernel params

for alsa-info, https://gist.github.com/snj33v/c851bb87df395a415b73740fffb93493

[2021-12-01 14:02] plbossart commented on #3283
Additional overnight bisect results:

[code]

Still not getting which patch is the problem and restarting the bisect from those two points.

[2021-12-01 14:10] plbossart commented on #3301
there's nothing in the log file that hints at a problem with the SOF driver.

Can you please describe what the problem is
a) streaming to internal speakers (HDA analog) is broken
b) streaming works but no sound can be heard
c) sound can be heard but with an audible distortion.

We can't help you if you don't describe details that might help us root-cause the issue on your device.