[2021-12-01 14:13] plbossart commented on #2955
@tusharvidhani3 can you please follow the instructions and re-run the updated script from the location suggested above?

it's not helpful to see just the command output on the console....

[2021-12-01 14:18] snj33v commented on #3301
Can you please describe what the problem is
a) streaming to internal speakers (HDA analog) is broken
b) streaming works but no sound can be heard
c) sound can be heard but with an audible distortion.

except there is no audio profiles which shows up at pulseaudio/pipewire, hence i can't select anything

might related to #2829

[2021-12-01 14:22] snj33v commented on #3301
wierd thing there are mic(they are DMICs as per product sheet) that are found when legacy driver is used, but it does not up for SOF since its presence is not found in NHLT
 never able to get headphone jack work in both driver

[2021-12-01 14:54] plbossart commented on #3301
@snj33v 'digital microphones' is a misleading term. You can have such digital microphones attached to the HDaudio codec or directly to the Intel PCH chipset. Only in the latter case would you have a need for NHLT (to describe the details in platform firmware) or the SOF driver to manage the microphones.

I think you should first start from the legacy driver, and figure out why the headset detectio

[2021-12-01 15:38] snj33v commented on #3301
[code]
i can hear sound from above commands 😀

this is this block diagram from nuc 11
![block](https://user-images.githubusercontent.com/1472475/144264640-0a3b69b7-3aeb-485c-adbb-ff371f54d460.png)

[2021-12-01 16:06] accountForIssues commented on #3249
Same problem here with a Matebook 14 w/ Ryzen 4800H and the same 8336 chipset on Fedora 35. Using `arecord -l`, the microphone is recognized but not in Gnome. It's not able to record anything.

Live booting Deepin OS with Kernel 5.15, the microphone is recognized in the DE and seems to be working well.

Apparently, using Arch with Kernel 5.16 rc3, the microphone is able to record as well ([here](h

[2021-12-01 16:30] plbossart commented on #3301
I checked with my Intel colleagues and the mic array is connected to the ALC256 HDaudio codec, The dotted line to the PCH does not exist in practice.

So basically I think your problem is that because headset detection does not work, neither PulseAudio nor PipeWire enable the profile. Enabling the profile by hand works.

I see this in the kernel code (sound/pci/hda/patch_realtek.c)

[code]

Maybe

[2021-12-01 16:54] snj33v commented on #3301
think its  similar and mostly a userspace configuration issue, but thanks for looking into this

few observations,
1. able to do speaker-test, on all outputs such as jack, HDMI audio sources,
2. microphone[all four mic array, not the headphones] actually works if directly use it from alsa,

[2021-12-01 17:57] plbossart commented on #3283
Finally some results:

[code]

Reverting this commit seems to remove the 'BUG" warnings.

[2021-12-01 18:59] plbossart commented on #3283
What this commit a8b76910e465d718effce0cad306a21fa4f3526b seems to do is change the configs

[code]

CONFIG_PREEMPT is not set in the 'bad' case, that's probably not so good.

[2021-12-01 19:46] plbossart commented on #3283
Another possibility is that this Kconfig change exposes issues where hidden before. We do see a warning

[code]

in all the test results, so it could very well be that the preemption errors are just a side effect of the initial error with interrupts enabled too early.

[2021-12-01 20:26] plbossart commented on #3283
The interrupt problem is indeed very likely, without reverting anything but using the following diff in .config, the error does not seem to happen

[code]

[2021-12-01 21:12] plbossart commented on #3283
Conclusion for the day: it seems that the commit a8b7691 did change the scheduling defaults. Before CONFIG_PREEMPT was selected by default, and the change is to move to CONFIG_PREEMPT_VOLUNTARY

We can fix this in the Kconfig options by explicitly selecting CONFIG_PREEMPT. That would give us the SAME results are before.

And as a background task we'll have to figure out what happens when CONFIG_PR

[2021-12-02 01:49] marc-hb commented on #3283
_[EDIT: this report is incomplete because I scanned only the `dmesg.txt` files but other test runs have _only_ the converted `dmesg.html`]_

I ran a huge scan in all the kernel logs of all suspend resume test runs we still have on file. The "Interrupts enabled" warning is not old, I found it for the very first time on ~October 31st  (daily  run 7830)~ Sept 14 when looking at `dmesg.html` files too

[2021-12-02 03:19] marc-hb commented on #3283
After looking at `dmesg.html` files too I think I found the very very first `Interrupts enabled...` warning:
https://sof-ci.01.org/linuxpr/PR3153/build6340/devicetest/?model=APL_UP2_NOCODEC&testcase=check-suspend-resume-with-playback

This was on Sep. 14th, testing https://github.com/thesofproject/linux/pull/3153 `Merge/sound upstream 20210914` v5.15-rc1 - probably not a coincidence!

Stay tuned f

[2021-12-02 04:31] tusharvidhani3 commented on #2955
[alsa-info.txt](https://github.com/thesofproject/linux/files/7639006/alsa-info.txt)
Oh Sorry, I forgot to attach the file. Here it is

[2021-12-02 07:55] tusharvidhani3 commented on #2955
[alsa-info.txt](https://github.com/thesofproject/linux/files/7640029/alsa-info.txt)
Oh Sorry, I forgot to attach the file. Here it is

[2021-12-02 14:36] plbossart opened #3307 ""Interrupts enabled before system core resume" warning"
Forking a new issue from #3283. Re-adding the finding from @marc-hb that we've add this issue since PR #3153 (tested on 2021-09-14)

After a lot of "data-mining", https://sof-ci.01.org/linuxpr/PR3153/build6340/devicetest/?model=APL_UP2_NOCODEC&testcase=check-suspend-resume-with-playback is apparently the very first time the `Interrupts enabled... syscore_resume` warnings appeared:

[code]

[2021-12-02 14:37] plbossart commented on #3307
PR #3153 was based on 5.15-rc1, so we need to bisect between 5.14 and 5.15-rc1 to see what commit added this warning.

[2021-12-02 14:38] plbossart commented on #3283
Forking the discussion on the interrupt warning to https://github.com/thesofproject/linux/issues/3307

[2021-12-02 14:45] plbossart commented on #2955
@tusharvidhani3 you have a PCI ID [8086:3198], which is
pci-apl.c:      { PCI_DEVICE(0x8086, 0x3198), /* GeminiLake */

We've enabled this codec on GeminiLake, so if you want to get sound short-term you'll have to install your own kernel based on https://github.com/thesofproject/linux/pull/3107

I realize it's complicated...

Starting with the 5.16 kernel, most patches should be present and there

[2021-12-03 11:04] tusharvidhani3 commented on #2955
I am a beginner in linux and I don't know how to compile kernel and I think my laptop is also not capale of compiling a kernel after patching. Can I use aws server for doing so. Moreover, why you have mentioned that sound is for short-term only, I can't understand. Btw thanks as I was thinking that I will not be able to get sound on linux in this laptop but you are working very nicely on solving t

[2021-12-03 14:05] plbossart commented on #2955
I meant that this device will be supported with the mainline Linux kernel and distros at some point. I can't tell you when since the codec vendor has not provided a formal contribution, hence the prefix [HACK][DO NOT MERGE] on PR #3107

The vendor of the device did provide turn-key Linux support, so it's largely community maintained and delays are inevitable. Thanks for your understanding.

[2021-12-04 22:32] Kemsekov commented on #3249
Matebook d16 the same problem is here. This is sad how often manufacturers completely forgets about linux support.

[2021-12-05 07:21] yimboka commented on #3249
Matebook 14 with Ryzen 4800h , same problem here.

[2021-12-05 21:00] ak4nv commented on #3249
The same for Matebook 14 AMD 2021 (Ryzen 5 5500U)

[2021-12-06 06:22] keyonjie commented on #3100
suppose this should already be fixed with the latest main or stable-v2.0 branch?

[2021-12-06 16:03] plbossart commented on #3248
all quirks for CML support were picked for inclusion in the 5.15 stable kernel.

We still need help to figure out which topology is needed on those Huawei devices.

[2021-12-06 16:25] rejjjer commented on #3249
I have the same problem on Matebook d 16 (Ryzen 5 4600H).

[2021-12-06 16:37] eworm-de commented on #3248
I have access to a D15... How or what to test?

[2021-12-06 16:55] plbossart commented on #3248
If you can recompile a kernel, you'll need to use https://github.com/thesofproject/linux/pull/3107 (plbossart:fix/es8336-codec)

then you'll have to use
[cml.tar.gz](https://github.com/thesofproject/linux/files/7662259/cml.tar.gz)
from https://github.com/thesofproject/linux/issues/3248#issuecomment-959573378 to test which interface this device uses.

(
Please try with sof-cml-es8336-0.tplg copied

[2021-12-06 17:54] sathya-nujella opened #3316 "Module get params is NULL for the 1st time query after boot: sof kcontrols issue"
DUT: TGL system
       (speaker amp path has Maxim DSM enabled)
Kernel:  chrome 5.4 kernel

**Issue description:**
1. Boot DUT
2. Read DSM models params using:
        /usr/local/opt/sof-ctl -c "name=SMART_AMP1.0 Smart_amp Model_Get_params" -t 1 -b -r
        it returns all NULL data
3.  Read again using the same sof-ctl command as in 2nd step, now it returns the data

**What problem this issue ca

[2021-12-06 17:56] sathya-nujella commented on #3316
Thank you to @ranj063 , she provided this patch. With this change, I can see 1st time read is correctly giving the size.

[2021-12-06 18:04] sathya-nujella commented on #3316
Here is the change mentioned by @ranj063
[code]

[2021-12-06 18:09] george-martinec commented on #3249
Same issue on DualBoot **Windows 11 (Audio works)** and Zorin OS 16 (Dummy output device)
AMD Ryzen 7 4800H with Radeon Graphics** (16 CPUs), 2,9Ghz

---

**Linux Zorin OS 16 (Kernel 5.11.0-41-generic) | FRESH INSTALL (Updated via Zorin Software Updater)**
No sound - **Dummy output device**
HDMI audio: **works**
Bluetooth audio: **works**
USB Audio: **works** (tested via Corsair Virtuoso RGB Wirel

[2021-12-06 19:26] ranj063 commented on #3316
@plbossart this only worked in the past by chance because we called snd_sof_cache_kcontrol_val() without knowing what size to get and resulted in actually getting the size of cdata from the FW. While it does help fix the problem, I'm not sure if this is the right solution.

How can we avoid this initial get to avoid this problem? Should a get always use the size requested by sof-ctl instead?

[2021-12-06 23:04] eworm-de commented on #3248
Is it sufficient to cherry-pick the three commits from #3107 (1d5f32fdeaea16d2809d0e1c7246fa11d503410c 8c33dd96060266f9b86b55ef0519c2819c50b9a5 32049ece2677fc55ba1aa9e5addd93aa3afcb7ce) on top of linux 5.15.6?

[2021-12-06 23:43] plbossart commented on #3248
possibly. all the quirks were picked up for linux-stable, but there are not yet in linux-5.15.y, so likely in the next stable release.

You will need the codec hack regardless of what linux-stable does, it's not yet upstream.

[2021-12-07 09:40] eworm-de commented on #3248
I tried with...
* Linux 5.15.6
* sound related patches ("alsa" & "asoc") from 5.15.7-rc1
* patches from #3107

Rebooted trice, with different firmware files in place. Still no sound. 😢

[2021-12-07 15:52] plbossart commented on #3248
thanks for testing @eworm-de. I take from your answer that you did see a card created, started playing/streaming on the ALSA device but did not hear any sound? can you confirm the diagnosis and attach the alsa-info log?

@hli25 would you happen to have a set of ALSA mixer values that are needed for this codec?

[2021-12-07 16:11] eworm-de commented on #3248
Uh, I had some borked module parameters around for `snd_intel_dspfix`... Droped these and tried again.

I do not see a card created (in `pavucontrol`, as this host is running `pulseaudio`/`pipewire`).

On shutdown the system panics...

I have this in logs (with `journalctl -b | grep -iE '(snd|sof-audio)'`):
[code]

[2021-12-07 16:21] plbossart commented on #3248
@eworm-de the 'digital mics' log wasn't expected. need more info.

Can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/7669871/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the entire 'dmesg' log? This will enable dynamic debug on the modules we care about. thanks!

[2021-12-07 22:08] jairaj-arava opened #3320 "[Whisky Lake: HDA]: Post resume system showing 3.5mm headset detection even after unplugging 3.5mm headset during suspend"
**Steps to reproduce the problem:**
1. Insert the 3.5mm headset jack into the device and make sure it is detected..
2. Now keep the system to suspend using **"powerd_dbus_suspend"**.
3.Unplug the 3.5mm headset when device is in suspend state and wake up the device.

**Expected output:**
Post resume, system shouldn't show 3.5mm headset (Line out) detection and should select speaker by default.

**o

[2021-12-07 22:09] jairaj-arava commented on #3320
@ranj063 @plbossart @lgirdwood @sathya-nujella

[2021-12-07 22:15] jairaj-arava commented on #3320
++ @libinyang @keyonjie

We found after reverting the patch https://lore.kernel.org/all/20210310112809.9215-3-tiwai@suse.de/ from Takashi the issue is not observed.
Since this is legacy HDA, can you please help how to move ahead here? Thanks.

[2021-12-07 22:20] ranj063 commented on #3320
@jairaj-arava not sure about the ask here. This isnt a SOF driver issue but the legacy HDA driver? And you have a fix already looks like.

[2021-12-07 22:22] ranj063 commented on #3320
@kv2019i FYI

[2021-12-07 22:39] jairaj-arava commented on #3320
Yes this is legacy audio issue. I tried the upstream Takashi's kernel too but still the issue exists. Google want to fix it in the upstream.

[2021-12-08 12:37] hli25 commented on #3248
FYI, I ever met no suound issue, it is fixed by chaning DAC:
alsamixser to set "DAC" to 100

[2021-12-08 20:11] jairaj-arava commented on #3320
@cujomalainey

[2021-12-08 20:13] jairaj-arava commented on #3320
Hi @kv2019i, any suggestions on this?

[2021-12-09 15:12] #3316 closed

[2021-12-09 18:45] kv2019i commented on #3320
Interesting bug, this should be filed to kernel bugzilla. The codec driver should do a full jack detect in its resume, but apparently that doesn't work correctly in this case.

[2021-12-09 19:58] plbossart opened #3325 "TGL_RVP_SDW: suspend-resume issue with two RT1308 amps on same link"
This is possibly a similar root cause to https://github.com/thesofproject/linux/issues/3063, which also has 2 amplifiers on the same link

https://sof-ci.01.org/linuxpr/PR3313/build6853/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-5

[code]

[2021-12-10 06:10] jairaj-arava commented on #3320
Hi @kv2019i, reported the bug in kernel Bugzilla https://bugzilla.kernel.org/show_bug.cgi?id=215297.

[2021-12-10 16:59] marc-hb commented on #3283
Stochastic bisection in Git https://lwn.net/Articles/877964/

[2021-12-10 20:18] kv2019i commented on #3034
I can confim with SOF1.9.1 and kernel with dma-stop fixes, this still happens. System logs show system not cleanly entering S0ix in this case. Disabling the FW trace helps to solve the issue.

[2021-12-10 20:44] kv2019i commented on #2573
@plbossart Will try to tackle in 2021 still.

[2021-12-11 10:49] ghost commented on #2955
I also have such a problem, how to fix it, please tell me

[2021-12-11 10:50] ghost commented on #2955
How to use this driver on Arch linux or maybe 8316 driver can be used?

[2021-12-13 01:51] keqiaozhang commented on #3100
confirmed that this issue is fixed on latest main and stable-v2.0 branch.

[2021-12-13 01:51] #3100 closed

[2021-12-13 01:53] keqiaozhang commented on #3111
Confirmed that this issue is fixed on latest main and stable-v2.0 branch.

[2021-12-13 01:53] #3111 closed

[2021-12-13 09:44] mwasko commented on #3034
What is the reproduction rate of this issue?

[2021-12-13 09:51] kv2019i commented on #3034
@mwasko This is 100% reproducible. The fact that we leave DMA programmed for trace, prevents S0ix entry although on TGL it works just fine.

[2021-12-13 13:53] MorozovNikolay1995 commented on #3249
The same problem on Huawei Matebook D16 with AMD Ryzen 5 4800H.
OS: Linux Mint 20.2 with kernel version 5.16.

[2021-12-13 15:21] plbossart commented on #2955
@LinuxShef can you please provide a pointer to the log of 'alsa-info'. There are multiple reports of success on GLK and JSL devices, CML is still in the 'no sound' category. thanks.

[2021-12-13 19:55] eworm-de commented on #3248
Ha, totally forgot about this... Will try to find some spare time tomorrow (and lend the device).

Can you confirm that Linux 5.15.7 should contain all quirks and only patches from #3107 are required on top?

[2021-12-13 20:08] plbossart commented on #3248
@eworm-de

It looks like 5.15.7 is also missing additional patches. You'll need these patches from upstream

a164137ce91a ASoC: Intel: add machine driver for SOF+ES8336
9d36ceab9415 ALSA: intel-dsp-config: add quirk for APL/GLK/TGL devices based on ES8336 codec
fa9730b4f28b ALSA: intel-dsp-config: add quirk for JSL devices based on ES8336 codec
ae26c08e6c80 ALSA: intel-dsp-config: add quirk for CM

[2021-12-13 20:12] eworm-de commented on #3248
That explains why my tests did not succeed. I will have a look.

[2021-12-13 20:40] eworm-de commented on #3248
Cherry-picking the given commits on top of 5.15.7 gives errors...
I will investigate tomorrow.

[2021-12-13 22:15] MyrkoF commented on #3300
@plbossart
@jason77-wang

Solved by workaround
Hello,  SO I decide to install Fedora 35 with plasma desktop, because i was unable to understand what to do on ubuntu to solve the problem. (i'm not able today to compile a kernek with the last alsa drivers for my computer..)
For informations:   everything work out of the box.
on the last updates on day 10. dec. 2021  everything is ok with alsa 1.2.5.

[2021-12-14 07:40] eworm-de commented on #3248
Ok, I tried with...

* Linux 5.15.7
* related upstream commits (a164137ce91a95a1a5e2f2ca381741aa5ba14b63 fa9730b4f28b7bd183d28a0bf636ab7108de35d7 790049fb6623af8bc25d63b1c5103bbd51f95d89 63ff4c50ac5667f697799d780c0fe7b74585e28b 8a6cc0ded6d942e4a506c421c4d87a634bda6e75)
* 1d5f32fdeaea16d2809d0e1c7246fa11d503410c from #3107

Rebooted trice, with different firmware files in place. Still no sound. 😢

[2021-12-14 07:46] eworm-de commented on #3248
See attached [dmesg.log](https://github.com/thesofproject/linux/files/7709600/dmesg.log).

BTW, system now panics on shutdown.

Does it help if I prepare a live system and give access to the system?

[2021-12-14 10:36] itsByte opened #3333 "Xiaomi Mi Notebook Pro 2020 - No speakers after suspend"
On my Mi Notebook Pro 2020 (i7 10510U, MX250, ALC256) the speakers work fine on startup, but when the laptop is woke up after sleep, they stop working, although the output is still marked as speakers, and the headphones port works fine. I already tried changing the snd_hda model to other ALC256 laptops, but it doesn't seem to fix it.

Until a previous version of the 5.14 kernel (or the alsa packag

[2021-12-14 12:40] MisteryX opened #3336 "[BUG] NO SOUND for GeminiLake with ES8336"
NO SOUND, but i can listen the flutter on sound card initialization

**Environment**
    * Kernel: 5.16.0-rc5/5.15.7 (with ASoC-Intel-machine-driver-updates and 3107 patches included)
    * SOF:  c40c7bf (sof-bin tag v1.9.3)
    * Platform: x86-amd64

[code]
[code]
[code]

[2021-12-14 14:23] plbossart commented on #3248
Ah, thanks for the log.

Doesn't look like there are any dmics handled in your system

[code]

but they are indeed detected in the hardware

[code]

You should really not have any card created. can you confirm @eworm-de that 'aplay -l' shows nothing.

The good thing is that we have a quirk to test options

#define SOF_ES8336_SSP_CODEC_MASK		(GENMASK(3, 0))
#define SOF_ES8336_TGL_GPIO_QUIRK		BIT(4)

[2021-12-14 14:28] plbossart commented on #3333
@itsByte the log shows you are not using the SOF driver, but the legacy snd-hda-intel driver.  The problem you are mentioning seems to be a codec driver issue.

I would recommend you file a bug at https://bugzilla.kernel.org/

Adding @kv2019i and @tiwai for feedback.

[2021-12-14 14:39] plbossart commented on #3336
That's a GLK device, which should be handled already.
soc/sof/intel/pci-apl.c:        { PCI_DEVICE(0x8086, 0x3198), /* GeminiLake */

can you try using

speaker-test -Dhw:0:0 -c2 -r48000 (you can use -t sine as well)
and try to set the volume with alsamixer to set "DAC" to 100

also try with headphones to see if you see any difference.

[2021-12-14 14:46] plbossart opened #3337 "[FEATURE] use NHLT to detect which SSP is used for devices with ES8336"
So far we've never needed to guess what SSP was used, it was known by design for Chromebooks and SSP was never used in devices designed for Windows.

Devices with ES8336 break that assumption, they support Windows but also use I2S/SSP. We may need to use the NHLT information, if present, to detect what SSP to use in the machine driver and topology.

[2021-12-14 14:46] plbossart commented on #3337
@hli25 could you try to dump the NHLT tables used in the GLK and TGL devices you used?

[2021-12-14 14:52] MisteryX commented on #3336
DAC have been already at 100%, still no sound

[code]

[2021-12-14 14:53] MisteryX commented on #3336
Headphones have already tested - no sound, only flutter.

[2021-12-14 15:00] plbossart commented on #3336
speaker-test -Dhw:0,0 -c2 -r48000 (comma, not . as show above).

This may be a case of the wrong I2S being used. we assumed it was SSP2 but it could very well be wrong. You could try with the recommendations made for CometLake devices using the same codec device
https://github.com/thesofproject/linux/issues/3248

Trial and error it is until we figure out a way to detect what the hardware is (https

[2021-12-14 15:33] MisteryX commented on #3336
Tested
options snd-soc-sof-es8336 quirk=0x30 (with SSP0 topology)
options snd-soc-sof-es8336 quirk=0x31 (with SSP1 topology)
options snd-soc-sof-es8336 quirk=0x32 (with SSP2 topology)
And only SSP2 topology forces sound device creation, but unfortunately no sound output still

[2021-12-14 15:56] plbossart commented on #3336
can you install acpica-tools and attach the NHLT information (dump.bin.gz)

sudo acpidump > dump.bin
gzip dump.bin

[2021-12-14 17:04] plbossart commented on #3337
I meant just dump the ACPI tables with 'sudo acpidump > dump.bin', for NHLT a newer version 20210930 acpica-tools version is needed.

[2021-12-14 17:06] plbossart commented on #3248
Actually also provide the acpi table dump as attachment, I should be able to find the right SSP from ACPI stuff

'sudo acpidump > cml-dump.bin' and gzip/attach the result.

[2021-12-14 19:14] eworm-de commented on #3248
Here we go... See [cml-dump.bin.gz](https://github.com/thesofproject/linux/files/7714158/cml-dump.bin.gz).
I will have a look at the other stuff any time soon.

[2021-12-14 20:21] plbossart commented on #3248
@eworm-de from what I see in the table with the latest version of acpica-tools (20210930), the SSP0 seems to be used.

[code]
so you'd need to make sure the SSP0 is used in the topology and machine driver.
Note that the tool seg faults on this config so take the information with a grain of salt.

[2021-12-15 06:18] hli25 commented on #3337
Loop @yangxiaohua2009 too

[2021-12-15 06:43] yangxiaohua2009 commented on #3337
@hli25 @plbossart we have glk, cml, cfl 8336 and 8326 tgl devices. [DUMP.zip](https://github.com/thesofproject/linux/files/7716988/DUMP.zip)

[2021-12-15 08:19] MisteryX commented on #3336
yep
[dump.bin.gz](https://github.com/thesofproject/linux/files/7717542/dump.bin.gz)

[2021-12-15 11:58] Timarrr commented on #3248
So, is there any working patches right now? I am willing to test any potentially working solutions, as i have Huawei Matebook D16 2021 and no sound

[2021-12-15 15:50] plbossart commented on #3337
Thanks @yangxiaohua2009.

I wasn't able to parse the CFL table.

For CML and TGL I see SSP0 being used.
For GLK I see SPP2 being used.

[2021-12-15 16:04] plbossart commented on #3336
this is good information @MisteryX, it looks like this device uses SSP0 instead of SSP2 for other GLK devices. There is no PDM DMIC listed.

[nhlt.dsl.txt](https://github.com/thesofproject/linux/files/7720852/nhlt.dsl.txt)

so what you'd need to do is use this

options snd-soc-sof-es8336 quirk=0x00
or
options snd-soc-sof-es8336 quirk=0x10

explanations: SSP0, no DMIC, GLK or TGL quirks for the spe

[2021-12-15 18:37] pwnwithlove commented on #3248
I bought a Huawei Matebook D14 and didn't know that.. I'm actually living without sound, and waiting for a solution, please give us a patch ! :((

[2021-12-16 08:39] MisteryX commented on #3336
Done.
http://alsa-project.org/db/?f=fdc5c3d7123d8bbf731b38726122bb7c6bc1a44e

[2021-12-16 11:18] Timarrr commented on #3248
Also, the name of issue is about Intel-based PCs, but i have an AMD-based Matebook and sound doesn't work AFAIK

[2021-12-16 12:54] playXE commented on #3248
@Timarrr

here's issue for amd version https://github.com/thesofproject/linux/issues/3249

[2021-12-16 13:21] Timarrr commented on #3249
Same. Huawei Matebook D16 2021 w/Ryzen 5 4600H

[2021-12-16 13:22] Timarrr commented on #3248
@playXE Oh, thanks

[2021-12-16 13:47] plbossart commented on #3336
@MisteryX so the logs show you have a card created, no dmic on capture.

There's something odd with this

[8.824265] sof-essx8336 sof-essx8336: quirk SSP2

that tells me the quirk override didn't work?

'modinfo snd_soc_sof_es8336' should show you the value, if it's -1 then the quirk override didn't work...

[2021-12-16 14:33] MisteryX commented on #3336
$ sudo modinfo snd_soc_sof_es8336
filename:       /lib/modules/5.15.0+/kernel/sound/soc/intel/boards/snd-soc-sof_es8336.ko
import_ns:      SND_SOC_INTEL_HDA_DSP_COMMON
alias:          platform:sof-essx8336
license:        GPL
description:    ASoC Intel(R) SOF + ES8336 Machine driver
srcversion:     24CBA85909871848940F804
depends:        snd-soc-core,snd-soc-intel-hda-dsp-common,snd
retpoline:

[2021-12-16 14:54] plbossart commented on #3336
value not shown...

does this command give more information?
cat /sys/module/snd_soc_sof_es8336/parameters/quirk

[2021-12-16 15:17] bhiregou commented on #3249
It is better to raise a ticket or issue with Huawei so that Huawei can reach out to AMD for fix.

[2021-12-16 15:21] MisteryX commented on #3336
$ cat /sys/module/snd_soc_sof_es8336/parameters/quirk
0

[2021-12-16 15:24] plbossart commented on #3336
@MisteryX then I really don't get how you got the log
[8.824265] sof-essx8336 sof-essx8336: quirk SSP2

[code]

so quirk cannot be zero...

[2021-12-16 15:35] MisteryX commented on #3336
logs were dumped after setting - options snd-soc-sof-es8336 quirk=0x00
and reboot

[2021-12-16 16:44] plbossart commented on #3336
I am a bit lost here, not sure where I saw the quirk SSP2.

[code]

so with that you should have all the right connections setup. try playing with the alsa mixer settings, that's about all I can do remotely with blind debug.

[2021-12-16 19:21] MisteryX commented on #3336
GREAT THANK YOU, @plbossart !
It works with option:
options snd-soc-sof-es8336 quirk=0x10
in /etc/modprobe.d/alsa-base.conf

So for Teclast F7plus 3 sound problem solved on 5.15.7+patches or 5.16 kernel with sof 1.9.3.
Hope this recipe will help to others.

[2021-12-16 19:45] plbossart commented on #3336
@MisteryX can you clarify if the following works

a) playback on speakers
b) playback on headphone (need something plugged in)
c) capture on internal mic
d) capture on headset mic (need something plugged in)

Also we cannot detect this quirk:
#define SOF_ES8336_TGL_GPIO_QUIRK		BIT(4)

So can you share the results of 'sudo dmidecode' ? I'll add a quirk for your device. I'll have to think more about

[2021-12-16 20:15] MisteryX commented on #3336
a) playback on speakers - works
b) playback on headphone - works
c) capture on internal mic - works
d) capture on headset mic - not sure (may be it works only internal, because sound capture is very noisy)
[dmidecode.log.gz](https://github.com/thesofproject/linux/files/7730157/dmidecode.log.gz)

[2021-12-16 21:01] plbossart commented on #3336
Holy broccoli, there's not much information we can use...

[code]

SKU and serial number, that's super specific...

[2021-12-16 21:16] plbossart commented on #3336
@MisteryX can you try with this patch https://github.com/thesofproject/linux/commit/d4737003122fba16f34409cb91d8fb4dd53d72bd.patch and the quirk removed, that should detect your hardware.

The auto detection of the SSP will have to be done later.

[2021-12-16 21:48] IlyaSkriblovsky commented on #3249
So far local Huawei support just answers "Sorry, Matebooks doesn't have official Linux support".

I've emailed a couple of linux sound subsystem contributors from AMD and Huawei but didn't got any response.

I don't know how to reach to Linux team inside Huawei or anybody other who can help us :(

[2021-12-16 22:19] itsByte commented on #3333
Oh, sorry for the bad issue then. I just tried enabling the sof driver, but I get no audio, the speakers are not even detected.

[2021-12-16 23:37] plbossart commented on #3333
@itsByte no worries, it's confusing indeed.

Usually the problem is that the amplifiers are handled with dedicated 'verb' commands that are known to the Windows driver, but not documented and used for Linux.

You may want to look at the instructions provided here: https://github.com/ryanprescott/realtek-verb-tools/wiki/How-to-sniff-verbs-from-a-Windows-sound-driver

This was used in the past to so

[2021-12-17 00:59] plbossart commented on #3300
I'll close since it's not an SOF bug but a dowstream issue with alsa/UCM.

[2021-12-17 00:59] #3300 closed

[2021-12-17 01:02] plbossart commented on #3307
I tried to bisect but was unsuccessful in locating an issue. If someone has time to spare this is very much open.

[2021-12-17 08:05] zippy2 commented on #3114
For anybody else, who runs into the same issue. I've too ran into the very same problem as described here. I've upgraded both system firmware and EC firmware but without any luck. I had to re-flash Intel's Management Engine (version 225.53.1649) and all of a sudden my sound card is back.

[2021-12-17 14:19] ak4nv commented on #3249
@IlyaSkriblovsky stop the panic :)

The next release of Linux kernel 5.16 will bring support to this codec. (planned on Jan,2022)
I think SOF project guys will close this issue too.

[2021-12-17 14:23] superm1 commented on #3249
Intel and AMD support for this codec are two different things.  Please see the other comment above:

AFAIK this way this codec is setup is unique to Huawei designs.  It is up to them whether they want to support Linux or not.  If they do, they can work with AMD to make it happen.

[2021-12-17 16:05] ak4nv commented on #3249
@superm1 are you talking about [this one](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=a164137ce91a95a1a5e2f2ca381741aa5ba14b63)  ?

[2021-12-17 16:06] superm1 commented on #3249
I was quoting earlier in the thread.  That's the one for Intel's platforms.

[2021-12-17 19:53] IlyaSkriblovsky commented on #3249
@ak4nv It certainly won't work in 5.16 since upstream kernel doesn't support AMD+ES8336 and merge window is already closed.

@superm1 Is it feasible to someone outside of Huawei to ever make the platform driver? I might be ready to invest some time to make myself familiar with the SOF architecture, but can it ever be done without technical documentation from Huawei? Or I will probably will get stu

[2021-12-17 20:08] superm1 commented on #3249
I think you misunderstood my comment to be Huawei needs to write the driver.  Their engineering team would need to collaborate together w/ teams at AMD and Everest on the full solution which would involve development or modifications of multiple components.  Let me put it this way - if they don't want to support Linux for their products then AMD's development of some components for the solution wo

[2021-12-19 12:54] itsByte commented on #3333
Could it be possible that the verbs are correct on boot, but don't apply after resuming from suspend? Or maybe it is because the amplifier is automatically enabled on startup by the BIOS so Linux works "by luck".
I will try to sniff the verbs when I have time to install Windows, thanks!

[2021-12-20 18:22] MisteryX commented on #3336
Patch had been tested on 5.16rc5 and /etc/modprobe.d/alsa-base.conf was removed, but after reboot no sound devices were available.

[2021-12-21 04:38] Timarrr commented on #3249
So what should fellow AMD users do?

[2021-12-21 07:33] bhiregou commented on #3249
Yes, SOF is not the requirement for this.

[2021-12-21 07:40] IlyaSkriblovsky commented on #3249
@superm1 @bhiregou  I would be very grateful if you point me in the right direction: corresponding docs, another similar platform driver, etc. Thanks!

[2021-12-21 18:34] fincan opened #3350 "[BUG] Huawei Matebook 14s headphone / speaker problem"
I tried different distros Ubuntu 21.10/Fedora and now Arch linux. I have an issue with speaker, headphone settings.
First of all the laptop has 4 speakers and 4 dijital mics.
Well these are problems:
1) Gnome volume slider does not effect on volume. Each clicks give same beep until below %5 and volume goes down.
2) If I plug a headphone, no sound at headphone and  sound still comes from speakers.

[2021-12-22 12:16] sanzazacuro opened #3348 "[BUG] No mic data on HP Chromebook X360"
**Describe the bug**
I am not able to get mic data on device with `intel-generic-dmic` pipeline. Kernel log reports `No GPIO consumer dmicen found` and
`SSP1-Codec: ASoC: no backend capture stream`. Is there anything that needs to be patched for Intel dmic?

**To Reproduce**
`arecord -f dat micTest.wav`

**Reproduction Rate**
100%

**Expected behavior**
Get mic data in DSP.

**Impact**
Showstopper

[2021-12-22 20:52] lgirdwood commented on #3348
Transfering to kernel, looks like we may need a quirk for the DMIC gpio.
@sanzazacuro lots of developers are off now until January so replies may be delayed.

[2021-12-22 20:58] marc-hb opened #3349 "ASoC: error at snd_soc_pcm_component_pm_runtime_get / requires Linux reboot"
`NoCodec-0: dpcm_be_connect: FE is nonatomic but BE is not, forcing BE as nonatomic`

Sometimes for no obvious reasons unloading and reloading the drivers with  `softest/tools/kmod/sof_remove.sh/sof_insert.sh` fails like this. The only remedy is to reboot Linux. More precisely: the drivers appear to reload fine but then trying to use audio it fails, see below.

It's happening with Zephyr right now

[2021-12-22 21:47] lgirdwood commented on #3350
@fincan can you provide the output of dmesg. Transfering issue to kernel.

[2021-12-22 22:24] marc-hb commented on #3349
Does it start when resuming from D3?

[code]

[2021-12-22 22:30] marc-hb commented on #3349
Another initial one

[code]

[2021-12-23 07:22] cihatertem commented on #3350
[dmesg.txt](https://github.com/thesofproject/linux/files/7767451/dmesg.txt)
Hello,
I attached dmesg as file.

[2021-12-23 12:35] mchehab commented on #3248
With the quirk (either 0x20 or 0x30), the speaker started to work on MateBook D15 (Product Name: BOHB-WAX9). The microphone is marked as unavailable. Plugging a headphone also cuts the output. So, it sounds that the topology is not quite right, but at least it is starting to give life signs ;-)

PS.: I applied the relevant patches on the top of 5.15.11: https://github.com/mchehab/linux/tree/sound-

[2021-12-23 17:13] eworm-de commented on #3248
I can confirm what @mchehab wrote. I have exactly the same device (MateBook D15 `BOHB-WAX9`) with identical behavior.

Looks like I borked the code when cherry-picking. This time I used his tree (but dropped the Fedora patches and applied to Arch Linux `linux 5.15.11.arch2-1`). Also the panic on shutdown is gone.

[2021-12-23 17:38] rafaelsilva81 commented on #2955
Hello! I have a similar problem and my alsa-info output seems to point out the same codec

here's my log, it can have some useful information since my laptop is a different model :
[alsa-info.txt](https://github.com/thesofproject/linux/files/7770703/alsa-info.txt)

Hope to see an easy solution for everyone soon, thanks!

[2021-12-24 12:59] mchehab commented on #3248
Nice to have another test on it.

Btw, with this patch:

   https://github.com/mchehab/linux/commit/d560a1c76edb633c37acf04a9a82518b6233a719

the speaker will work properly without needing to pass a `quirk=0x20` parameter to `snd_soc_sof_es8336` via `modprobe.d`. All it is needed for it to work is to set to SSP0.

FYI, I opted to place the Fedora patch there just to warrant that no regressions out

[2021-12-24 20:07] mchehab commented on #3248
At least for Intel Matebook D15 (2021 version, afaikt), the codec is attached to I2S/SSP 0. Yet, as only the speaker is working (neither internal mic nor headset works), I suspect that something else could be missing at the topology file. How those `sof-cml-es8336-[0-2].tplg` files were generated? Could the topology be inferred from the ACPI BIOS or from the windows .inf files?

[2021-12-25 08:49] cihatertem commented on #3350
Archlinux updated sof-firmware and tools from 1.9.3 to to 2.0. But the problem goes on.

[2021-12-26 20:42] dario367 commented on #2955
Hi, I have the same problem, no speaker sound.
in attachment the alsa-info
[alsa-info.txt](https://github.com/thesofproject/linux/files/7777542/alsa-info.txt)

thanks for helping for a resolution.

[2021-12-28 19:57] dario367 commented on #2955
I have dual boot on my computer, with windows after contacting the assistance I got finally working the audio, in attachment the windows configuration, I hope this can help to detect the problem I have reported before.
[M-SB151_win10_device_list_audioOK.txt](https://github.com/thesofproject/linux/files/7786170/M-SB151_win10_device_list_aud
![audio driver smart sound](https://user-images.githubuser

[2021-12-28 20:09] dario367 commented on #2955
additional driver info
![audio driver intel smart sound](https://user-images.githubusercontent.com/96701501/147603314-2d40694e-dc36-48d4-83f7-981c7e11ddf7.jpg)
o

[2021-12-29 01:12] yangxiaohua2009 commented on #2955
You need to compile kernel https://github.com/thesofproject/linux/pull/3107 and install the latest sof tplg file. Or we can provide you with a custom kernel and installation script. @dario317

[2021-12-29 07:10] dario367 commented on #2955
yes please send me the custom kernel and the installation script. Thanks

[2021-12-29 07:32] dario367 commented on #2955
yes please send me the custom kernel and the installation script. Thanks

KInd Regards

On 12/29/21 2:12 AM, yangxiaohua2009 wrote:

[2021-12-29 09:39] yangxiaohua2009 commented on #2955
Please use the file uploaded [here](https://github.com/yangxiaohua2009/custom-kernel)

[2021-12-29 11:40] Kreyren commented on #2955
When do you expect this to be in mainline linux or preferably in linux-libre?

(Doing tracking for https://guix.miraheze.org/wiki/Devices/Visionbook/N15G)

[2021-12-30 12:12] Eierkopp commented on #2955
Thanks for sharing!

There is a small glitch with `tplg/amic/sof-glk-es8336.tplg`, which contains the download page instead of the topology itself. The download page when opened points to the right file though.

I'm currently on the most recent sof-dev kernel with PR 3107 applied and sof fimware release v2.0. All devices are available, recording with the internal mic and playback on HDMI work but

[2021-12-30 17:53] dario367 commented on #2955
I have installed the uploaded files, the card it is recognized, but no sound from speakers anyway, and the HDMI audio output, that before was working, stops to work. the only solution to have at least the HDMI audio was to complete reinstall the distro.
I hope you have additional advice to solve the issue.
Thanks

[2021-12-31 03:30] yangxiaohua2009 commented on #2955
@Eierkopp You can try to turn on speaker by `amixer sset 'Speaker' on` . You may want to use alsa-ucm to handle HDMI/Speaker switch [sof-essx8336.zip](https://github.com/thesofproject/linux/files/7795255/sof-essx8336.zip). copy the folder to `/user/share/alsa/ucm2`.

[2021-12-31 05:55] Eierkopp commented on #2955
Unfortunately that didn't make a difference. The file HiFi.conf references `sof-hda-dsp/HDA-Capture-value.conf` which is no longer included in alsa-ucm-conf btw. But since it seems to be only recording related, I just threw that out to make `alsaucm -c sof-essx8336 reset` work.

[2021-12-31 06:35] yangxiaohua2009 commented on #2955
Does the headphone/jack work? Can you `sudo cat /sys/kernel/debug/gpio` to see if the GPIO controlling PA is present?

[2021-12-31 06:59] Eierkopp commented on #2955
Headphone jack seems to work. `amixer -c 0 sget Headphone` changes value when headphone is connected.

    # cat /sys/kernel/debug/gpio
    gpiochip3: GPIOs 809-843, parent: platform/INT3453:03, INT3453:03:

    gpiochip2: GPIOs 844-863, parent: platform/INT3453:02, INT3453:02:
     gpio-853 (                    |pa-enable           ) out hi ACTIVE LOW

    gpiochip1: GPIOs 864-943, parent: platfo

[2022-01-01 21:57] wisbit opened #3357 "No card sound deteted TECLAST F15 Intel Celeron/Pentium Silver Processor High Definition Audio"
Hi,
bought a new laptop, Teclast F15+.
Intel Celeron/Pentium Silver Processor High Definition Audio
Audio card chip ID : 8086:3198

Only HDMI sound detected

Inxi :
Audio:
  Device-1: Intel Celeron/Pentium Silver Processor High Definition Audio
    driver: snd_hda_intel v: kernel alternate: snd_soc_skl,snd_sof_pci_intel_apl
    bus-ID: 00:0e.0 chip-ID: 8086:3198 class-ID: 0401
  Sound Server-1: AL

[2022-01-02 13:53] lgirdwood commented on #3357
@wisbit can you attach your dmesg.

[2022-01-02 15:23] wisbit commented on #3357
@lgirdwood
[wisbix@wisbix ~]$ sudo dmesg | grep audio
[    3.926772] snd_hda_intel 0000:00:0e.0: bound 0000:00:02.0 (ops i915_audio_component_bind_ops [i915])

is that enough or do you wish me to add the whole thing ?

[2022-01-02 20:41] lgirdwood commented on #3357
Best to grep for "snd" or "sof" as context is missing above.

[2022-01-03 07:43] wisbit commented on #3357
@lgirdwood

[wisbix@wisbix ~]$ sudo dmesg | grep sof
[    0.677920] PCI-DMA: Using software bounce buffering for IO (SWIOTLB)
[    0.677924] software IO TLB: mapped [mem 0x000000006fba6000-0x0000000073ba6000] (64MB)

[wisbix@wisbix ~]$ sudo dmesg | grep snd
[    3.926772] snd_hda_intel 0000:00:0e.0: bound 0000:00:02.0 (ops i915_audio_component_bind_ops [i915])

there.
is there anything else I can

[2022-01-03 21:50] lgirdwood commented on #3357
@wisbit it does not look like the sof driver is being loaded as this device could be a HDA device only (i.e. with no DSP enabled).  You could check your BIOS menu for a DSP option.
@kv2019i is there a way we can read back the HDA PCI DSP caps to show DSP support ? This device looks like a GLK refresh,

[2022-01-04 12:53] kv2019i commented on #3357
This line reveals DSP is present:

@wisbit Thing to confirm:
1) you have SOF support for GLK, e.g. CONFIG_SND_SOC_SOF_GEMINILAKE is enabled in kernel config
    - please attach the kernel config you used so we can verify
    - alternatively please try a recent Fedora or Ubuntu live image and see if the card is found
2) does the BIOS declare a PCH-connected DMIC  (this will trigger loading SOF)

[2022-01-04 13:15] wisbit commented on #3357
@kv2019i
by kernel config, you mean what is is /etc/default/grub ? if not, where is that ?
I've tried a recent Ubuntu (21.?) live image but card wasn't detected.

you mention CONFIG_SND_SOC_SOF_GEMINILAKE, gemini lake is the name of my graphics card, my audio card is Intel Celeron/Pentium Silver Processor High Definition Audio, does that change anything ?

cheers

[2022-01-04 15:37] kv2019i commented on #3357
@wisbit With kernel config I mean this (should work on Ubuntu systems at least)
[code]

E.g. on my Ubuntu machine  I can confirm the kernel is built with GLK support:
[code]

Gemini Lake is a Intel code name for the CPU on your system:
https://ark.intel.com/content/www/us/en/ark/products/codename/83915/products-formerly-gemini-lake.html

From your PCI id (8086:3198) we can conclude your system has

[2022-01-04 15:51] wisbit commented on #3357
@kv2019i
this is my kernel configuration in /etc/default/grub
https://bin.disroot.org/?4fe84ef09578b7d1#4mxqbNR8b4Qc2jPcTcSx7Jr9pC4JFnAgxe752TKk4WyN

this is full dmesg at boot
https://bin.disroot.org/?0d04a31e1dd0df45#8uwe4e6zMjfY6TfdRjhnK95GmFysaJSqHdZ2wGScTarK

This is the output of sudo /usr/bin/dmidecode
https://bin.disroot.org/?5066a293545c6dbb#hEuxn6MuMtzHJcgkSATstcigYricP7j93238PZbw89q

[2022-01-05 03:52] khfeng opened #3355 "ADL: error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
No audio on an ADL laptop:
[code]

[2022-01-05 03:56] khfeng commented on #3355
[dmesg.txt](https://github.com/thesofproject/linux/files/7811906/dmesg.txt)

[2022-01-05 04:28] fbl718 opened #3356 "[BUG] No sound for Intel Cannon Lake PCH cAVS on Legion Y9000X 2020"
### Describe the bug
No sound from speakers, but from headphones. Both speakers and headphones can be detected correctly. Although the sound of the speakers can be temporarily fixed by https://github.com/thesofproject/linux/issues/2748#issuecomment-820028060, the speakers still have no sound after plugging in and out headphones.
### To Reproduce
No special steps to reproduce (the issue is always t

[2022-01-05 04:54] fbl718 commented on #3356
To solve the problem, I borrowed solution from [Ryan Prescott](https://patchwork.kernel.org/project/alsa-devel/patch/20210416081211.20059-1-tiwai@suse.de/) and [Cameron Berkenpas](https://patchwork.kernel.org/project/alsa-devel/patch/20210913212627.339362-1-cam@neo-zeon.de/).

Luckily, I found a fix for [v5.15.11](https://elixir.bootlin.com/linux/v5.15.11/source) and [v5.15.12](https://elixir.boot

[2022-01-05 09:34] kv2019i commented on #3357
Thanks @wisbit ! There are no hints about the audio codec. It does not seem to be a HDA codec at least. So maybe this is another system with a I2S codec like these Teclast devices, https://github.com/thesofproject/linux/issues/3336 .
To figure out whether this is the case, can you do this:

- install acpica-tools and attach the NHLT information (dump.bin.gz)

sudo acpidump > dump.bin
gzip dump.bin

[2022-01-05 10:57] jsarha commented on #3307
I completed the bisect on my up11i and this is is where it ended:
[code]

[2022-01-05 13:15] wisbit commented on #3357
@kv2019i
[dump.bin.gz](https://github.com/thesofproject/linux/files/7815100/dump.bin.gz)

there you are

[2022-01-05 13:59] jsarha commented on #3307
Hmm, the above bisect result is probably quite useless. The above commit just brought up the problem with my static defconfig setup. The root cause is still hidden. However, I have other tasks spend my time on now, so I leave this be for the time being.

[2022-01-05 15:09] ujfalusi commented on #3235
@lyakh, do you know if this can be still reproduced? If I recall there were couple of fixes since then for HDA code.

[2022-01-05 18:51] kv2019i commented on #3357
Oh yes, this is another platform using the ESS8336 codec:

DSDT table:
                   Name (_HID, "ESSX8336")  // _HID: Hardware ID
                    Name (_CID, "ESSX8336")  // _CID: Compatible ID
                    Name (_DDN, "ES8336")  // _DDN: DOS Device Name
                    Name (_UID, One)  // _UID: Unique ID

FYI @plbossart

A patch like https://github.com/thesofproject/linux/pu

[2022-01-05 18:54] wisbit commented on #3357
@kv2019i
it's great to read that a patch might be made in the coming future, really hopeful on that one.

[2022-01-05 18:56] kv2019i commented on #3357
Here's another bug https://github.com/thesofproject/linux/issues/3336 for related hardware. It has some things to try already if you are comfortable trying out custom kernel patches (plus a FW tplg file).

[2022-01-05 18:59] wisbit commented on #3357
Not entirely sure I'm up for those yet. I have some handle over linux, but this seems to be still far from what I feel I can do. Especially that if it doesn't work, I'll have to backtrack, and I fear missing steps and doing worse

[2022-01-05 19:20] ItWasnaeMe commented on #3357
@wisbit Not sure if this helps, but if you only see dummy audio, this at least got the card detected (in Mint, different laptop, same card) for me. Still no sound, but it's a start.

pacmd set-card-profile alsa_card.pci-0000_00_0e.0 output:hdmi-stereo

Reverts to dummy audio after a reboot and the only profile available in preferences is "Off".

(Edited. Missed part of the command first time.)

[2022-01-05 20:41] wisbit commented on #3357
@ItWasnaeMe cheers for that.  I do see a dummy audio. If you say that's a positive, I believe you ^^

[2022-01-05 22:54] ItWasnaeMe commented on #3357
@wisbit Sometimes my fingers work faster than my brain. I could have worded that better. That's what I get for working on 2 computers at once and not knowing what I'm doing on either one!
What I meant to say is the command detects "Built in Audio Digital Stereo (HDMI)" instead of the "dummy audio". I _hope_ that makes a bit more sense.
I guess you can tell I'm not used to digging into the guts of

[2022-01-06 07:13] lyakh commented on #3235
@ujfalusi I think I've seen this last time relatively recently - in December or maybe in November, not sure what kernel version that was any more, sorry. But it should be relatively easy to verify too - just return a timeout when waiting for the firmware boot confirmation

[2022-01-06 11:16] JornUzon commented on #3350
I also this problem,CX8070,matebook14s， anything i can do？I want  solve it

[2022-01-06 11:23] JornUzon commented on #3350
kernel:5.10.60 ，and after `alsactl init` , speaker can  work.and I use
[hda-verb.txt](https://github.com/thesofproject/linux/files/7821362/hda-verb.txt)
headphone  can  work  ,but so  sorry  use this script，headerphone and speaker work at the same time

[2022-01-07 09:25] keqiaozhang opened #3359 "[BUG] soc_pcm_hw_params() failed (-22) for stream1 on ADLP I2S Chrome device"
**Describe the bug**
When playing on speaker pipeline, there's an IPC error: "ipc: comp 0 pipeline not found".
This is an ADLP Chrome device and run with the latest sof-dev+sof main.
so I doubt that some kernel patches are missed in sof-dev branch from upstream.

**To Reproduce**
`aplay -Dhw:0,0 -f dat -c 2 /dev/zero -vvv -d 5
`

**Reproduction Rate**
100%

**Expected behavior**
no errors while pl

[2022-01-07 10:27] spacer2010 commented on #3350
@fincan I have the same problem, you get any solution?

[2022-01-07 12:07] cihatertem commented on #3350
@spacer2010  No, still waiting the fix. It seems it will be kernel/driver fix or something. I suppose we will wait some more.

[2022-01-07 12:46] ujfalusi commented on #3235
I would not close this as I recall seeing similar crash in the past, but to note that I'm not able to reproduce it on UP2 with sof-hda-generic-idisp.tplg, sof-apl-pcm512x.tplg or sof-apl-nocodec.tplg, up-Xtreme i11 with sof-hda-generic.tplg.

I have simulated the boot failure in kernel and I have also made the firmware crash during it's boot.

[2022-01-08 02:41] ktb92677 opened #3360 "No sound on Multimedia audio controller: Intel Corporation Celeron/Pentium Silver Processor High Definition Audio (rev 06)"
No sound what so ever.

Environment:
5.14.0-0.bpo.2-amd64

[code]

[code]

[code]

[2022-01-08 09:10] dattiluca commented on #3248
Has someone tried linux 5.16 out? On the amd issue someone said the driver will come with the next kernel release.

EDIT 1: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=986c5b0a1d1c5e9da70d40b88f2bb6f9601bbe41

EDIT 2: Linux 5.16 is out. Can someone please check if the problem is fixed?

[2022-01-08 15:26] tusharvidhani3 commented on #2955
How to install these files?  Can I install them on arch linux? If not, then please tell the steps for debian

[2022-01-09 13:21] wisbit commented on #3357
@ItWasnaeMe @lgirdwood @kv2019i

is there any chance that this thing is fixed either by sof project or simply by a new kernel ?
does anyone have any idea what the problem is ? and apparently shared by a few others

[2022-01-09 16:01] ItWasnaeMe commented on #3357
@wisbit I just upgraded to Mint Uno yesterday and it hasn't had any effect, so I don't think a new kernel will help.
I'm probably well off the mark here, but the problem as I see it is with the output profiles. This card shows all but "off" as unavailable. It accepts hdmi-stereo using the set-card-profile command I mentioned above, but still it doesn't work.
Could it be the card uses non-standard

[2022-01-10 02:38] keqiaozhang commented on #3034
PR #3332 can fix this issue, so this bug can be closed.

[2022-01-10 02:38] #3034 closed

[2022-01-10 10:54] perexg opened #3362 "Soundwire - recursive locking - 5.16"
[code]

I believe that there are no soundwire updates between 5.16-rc8 and 5.16.

[2022-01-10 12:14] hav4k opened #3363 "Dummy output and no sound with KUU Xbook laptop (ES8336)"
Hi.

Just install OpenSUSE Tumbleweed with last kernel 5.16 and SOF-bin, fixed dummy output but persist no sound. What can i do? Bluetooth works fine, speakers and headphones not.

  5.277695] sof-audio-pci-intel-apl 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if info 0x040100
[    5.277999] sof-audio-pci-intel-apl 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if 0x040100
[

[2022-01-10 13:17] lgirdwood commented on #3363
@hav4k are you able to attach the full dmesg. It initially looks like the sound server (can you confirm pulseaudio or pipewire) is not able to use the SOF audio card.

[2022-01-10 13:32] hav4k commented on #3363
inxi:

Audio:     Device-1: Intel Celeron/Pentium Silver Processor High Definition Audio driver: sof-audio-pci-intel-apl
           Sound Server-1: ALSA v: k5.16.0-2-default running: yes
           Sound Server-2: PipeWire v: 0.3.42 running: yes

          [dmesg.txt](https://github.com/thesofproject/sof/files/7839131/dmesg.txt)

Do you need more details? Thanks for reply, @lgirdwood

[2022-01-10 13:42] sanzazacuro commented on #3348
@lgirdwood Anything I can do on my side to find the correct pin?

[2022-01-10 14:13] ujfalusi commented on #3360
@ktb92677, can you post the full dmesg log with the dynamic debugging [1] enabled?

[1] https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#enable-dynamic-debug

[2022-01-10 15:56] ranj063 commented on #3362
Thanks for reporting this @perexg. @bardliao FYI

[2022-01-10 16:06] muratangin187 commented on #3249
It will be good if we can at least connect a wired headphone with the jack.

[2022-01-10 16:26] lgirdwood commented on #3363
Sorry, not able to read this dmesg. Can you attach to your reply by drag and drop.

[2022-01-10 17:00] plbossart commented on #3336
@MisteryX wondering if the DMI matching works, can you e.g. try with just

+			DMI_MATCH(DMI_BIOS_VENDOR, "American Megatrends Inc."),

to see what happens? There should be a message telling you which quirk is used.

[2022-01-10 17:04] plbossart commented on #3357
This looks like a duplicate of https://github.com/thesofproject/linux/issues/3336, please see the information posted there.

[2022-01-10 17:08] plbossart commented on #3349
@marc-hb the root cause seems more like an inability to to resume, which in turn creates an error in the dai_startup.

[2022-01-10 17:14] plbossart commented on #3355
@khfeng could this be a mismatch between firmware signature keys? Is this device using a community, debug or production key?

[2022-01-10 17:15] wisbit commented on #3357
I just looked at that topic, the main difference is that his card is detected.
aplay -l shows a sof device and several hdmi .
In my case, only HDMI is shown

[2022-01-10 17:17] plbossart commented on #3356
Nice work @fbl718, thanks for sharing your results.

I'll close this issue since it's unrelated to SOF.

[2022-01-10 17:22] plbossart commented on #3307
@jsarha the bisect not completely useless, you confirmed the initial finding in https://github.com/thesofproject/linux/issues/3283 that a change in the preemption changes the way interrupts are handled.

I was also unable to find the real root cause, it's just too difficult to reproduce reliably.

[2022-01-10 17:25] marc-hb commented on #3349
I don't understand "inability to resume" sorry, could you elaborate?

[2022-01-10 17:30] plbossart commented on #3350
@fincan for the speakers and headphones, please see https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html, this looks like a codec issue that you should be able to try by disabling the SOF driver

[2022-01-10 17:57] ItWasnaeMe commented on #3357
Same for me, except that I can now get the card detected.
Going into the Linux Sound app though, no profile is selected and "Off" is the only one listed.
pavucontrol offers a list of HDMI options, all shown as unavailable, and then there's "Off", which seems to undetect the card.

[2022-01-10 18:00] plbossart commented on #3248
@mchehab the topologies are generated with a macro, see https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/CMakeLists.txt#L166
I generated the CML topologies with a local change, it's not released yet.

 It would indeed be best to use information from ACPI instead of starting an endless list of quirks and random topologies

For the SSP used and topology, I tried to see if the

[2022-01-10 18:13] plbossart commented on #3348
@sanzazacuro can you retry using the hw devices?

arecord -Dhw:0,0 -c4 -r48000 -f S32_LE

I don't understand how SSP1 can come in the picture here.

[2022-01-10 18:14] cihatertem commented on #3350
@plbossart I have already tried "options snd-intel-dspcfg dsp_driver=1" and it made no differences.

[2022-01-10 18:21] plbossart commented on #3362
@perexg thanks for reporting this issue. This seems related to the DPCM locking change. It's the same signature as in the other cases reported on alsa-devel

https://lore.kernel.org/alsa-devel/9a0abddd-49e9-872d-2f00-a1697340f786@samsung.com/

https://lore.kernel.org/alsa-devel/73018f3c-9769-72ea-0325-b3f8e2381e30@redhat.com/

@tiwai @jwrdegoede FYI

I wonder why this was not reported in our inter

[2022-01-10 19:00] plbossart commented on #3349
@marc-hb when we start playback, the sequence is dai_startup -> pm_runtime_get_sync() -> pm_runtime resume -> firmware download.

So the dai_startup is not the real issue here, it's the resume that fails IMHO.

[2022-01-10 19:01] plbossart commented on #3350
@fincan then it's not an SOF issue but a codec driver issue. Something's missing, e.g. a quirk at the codec level.

[2022-01-10 19:07] hav4k commented on #3363
[dmesg.txt](https://github.com/thesofproject/sof/files/7841285/dmesg.txt)
@lgirdwood

[2022-01-10 19:11] plbossart commented on #3357
@wisbit it's the same problem, but your kernel does not probe for the ES8336 codec so you end up with HDMI only.

[2022-01-10 19:13] wisbit commented on #3357
@plbossart the fact that my kernel is not probing that codec, is that a good thing or a bad ? or just something that is what it is and it's no use. Should my kernel do that ? is there something in there to explore for me ?

[2022-01-10 19:32] plbossart commented on #3360
likely the same issue as https://github.com/thesofproject/linux/issues/3336

[2022-01-10 19:32] plbossart commented on #3363
like the same issue as https://github.com/thesofproject/linux/issues/3336

try the suggested quirks and changes in topology if you can't get a working solution.

[2022-01-10 20:00] plbossart commented on #3357
@wisbit it's just that your kernel does not support this configuration, so it jumps to the only one it could find. You will need a kernel update based on e.g. https://github.com/thesofproject/linux/pull/3338, new topology files and maybe a quirk, see #3336

[2022-01-10 20:03] wisbit commented on #3357
@plbossart
I am very excited that there might be hope there, but kernel stuff i way out of my comfort zone. kernel update, new topology files and a quick ... I don't know the first thing about those and I don't know if I feel confident enough to try without guidance

[2022-01-10 20:14] cihatertem commented on #3350
@plbossart yes you can be right, I have checked linux kernel doc and there are only 4 Conexant codecs; 5045, 5047, 5051 and 5066. mine is CX8070 :/.
https://www.kernel.org/doc/html/latest/sound/hd-audio/models.html#conexant-5045

[2022-01-10 20:23] plbossart commented on #3350
if you happen to have a Windows setup, you can try to find the 'right' configuration for the codec, it's painful to snoop and reverse engineer low-level commands but it's the only way I am aware of to bring Linux to parity with Windows. see e.g. https://github.com/thesofproject/linux/issues/3356#issuecomment-1005381689

[2022-01-10 21:31] jwrdegoede commented on #3362
Maybe your CI does not enable lockdep in any of its test kernel .config files ?

[2022-01-10 22:01] plbossart commented on #3362
I think we do, but it doesn't hurt to double-check if we are missing something:
https://github.com/thesofproject/kconfig/blob/master/lock-stall-defconfig
https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh#L16

Maybe we miss the warning level though, IIRC we only stop on errors.

[2022-01-11 04:36] cihatertem commented on #3350
@plbossart there is only Archlinux in my system and reverse-engineering is over my computer skill :).

[2022-01-11 06:28] khfeng commented on #3355
I actually don't know. How do I know that? Can how to switch to use the correct key?

[2022-01-11 08:03] MisteryX commented on #3336
Unfortunately can not test it. Notebook had been bought as NY present, and was presented already.

[2022-01-11 08:50] jwrdegoede commented on #3362
Ah yes a lockdep "splat" is a warning only, but a warning with a full backtrace, note I think any kernel WARN() triggers are warning level only, but your CI really should catch any kernel backtraces getting printed and consider those an error.

[2022-01-11 09:39] aiChaoSONG commented on #3359
The direct cause of the issue is because the component device in ipc_comp_dev has its pipeline uninitialized in the pcm parameter ipc handler.  I am still finding from source code where the pipeline pointer is initialized for a component.
This is probability neither linux nor sof issue, but a topology issue, because the latest kernel and sof work in nocodec mode. so the ipc in kernel and sof are b

[2022-01-11 09:40] sanzazacuro commented on #3348
@plbossart with `arecord -Dhw:0,0 -c4 -r48000 -f S32_LE ` I get `arecord: main:828: audio open error: No such file or directory`.

I am not able to trigger with `-Dhw:0,0`, even though the parameters seems correct. If I use arecord with `arecord -c4 -r48000 -f S32_LE` it runs, but no mic data is recieved.

[2022-01-11 10:29] aiChaoSONG commented on #3355
@khfeng Please try the latest sof release: https://github.com/thesofproject/sof-bin, install v2.0.x,  once you installed it according to readme, the default fw should be signed by production key.
[code]
if the production key signed firmware can not work for you, you can try the community key signed one by overriding the soft link, and make it point to `community/sof-adl.ri`
Paste the error logs, i

[2022-01-11 12:04] padmashree9110 opened #3364 "[ADL] [HDA] 3.5mm headset recording not working - no audio"
Description
3.5mm recording is not working

Platform
 AlderLake-P

Kernel Log:
[dmesg.txt](https://github.com/thesofproject/linux/files/7846198/dmesg.txt)

Steps:
1> Added adl.ri to /lib/firmware/intel/sof
2>able to see card getting listed
     intel@ADL-P-LP5-T4-RVP:~$ cat /proc/asound/cards
                                       [sofhdadsp      ]: sof-hda-dsp - sof-hda-dsp

[2022-01-11 12:23] sanzazacuro commented on #3348
@plbossart I was able to get mic data with `arecord -Dhw:0,99 -c4 -r48000 -f S32_LE`. It only works if I speficy 4 channels for the mic?

[2022-01-11 15:32] tusharvidhani3 commented on #2955
Anyone who knows the answer of this please reply

[2022-01-11 16:32] plbossart commented on #3355
@khfeng we cannot find out which key was used unfortunately, so either you can get the information from the OEM, or you try different keys until you find the right one.

The recommendation from @aiChaoSONG isn't the best solution. It's better to avoid mucking with the installed files and use the kernel parameter instead by adding this in /etc/modprobe.d/alsa-base.conf to use the community key.

[c

[2022-01-11 16:33] plbossart commented on #3348
Yes, the device was 99.

that's right we only support 4 channels for the dmic, the extra channels are removed by CRAS.

so if you are able to support HW devices, then the problem you had is at the alsa-lib level, or more likely in the CRAS plugins for alsa-lib

[2022-01-11 18:29] itsByte commented on #3333
Update: I have found the necessary verbs to enable the amplifier. Fortunately, only two are needed:
0x20 0x500 0x10
0x20 0x400 0x20
I will submit a bug report on the linux bugzilla, this thread can be closed if no further testing is required for this project

[2022-01-11 18:32] #3333 closed

[2022-01-11 19:16] pierro78 opened #3365 "No Internal Speaker Sound on GML Kuu Yobook M with ES8336"
NO SOUND on internal speaker or headphone, but i can hear a little sound at the beginning of the xfce session
(Gemini Lake (GML) n4020 Kuu Yobook M laptop)

**Environment :**
* xubuntu 22.04 / Kernel 5.16 from https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.16/
* SOF : 2:0:0-b678a

[code]

alsa-info : http://alsa-project.org/db/?f=bc53fcb6eadd87bb7bdbc8c4b17ab34a032f7686

[code]

[code]

Thanks

[2022-01-11 19:21] plbossart commented on #3365
looks like yet another duplicate of https://github.com/thesofproject/linux/issues/3336

please try to see if things improve with the quirk

options snd-soc-sof-es8336 quirk=0x10

in /etc/modprobe.d/alsa-base.conf

and using the topology file suggested in https://github.com/thesofproject/linux/issues/3336#issuecomment-994933061

sof-glk-es8336-ssp0.tplg.gz unzipped and copied as /lib/firmware/inte/

[2022-01-11 19:34] pierro78 commented on #3365
thanks !

unfortunately it seems to be worse :

[code]

[2022-01-11 19:36] plbossart commented on #3365
the quirk wasn't used, as seen by the use of SSP2 above. This should be SSP0. try and reboot. You also need to make sure the .tplg file was indeed copied, there's a need to have an exact match between dailinks in machine driver and topology.

[2022-01-11 19:46] pierro78 commented on #3365
oops sorry

still no sound from internal speaker

"dmesg | grep audio" is good as in first post (it seems)

can I do sthg else now ?

[code]

[2022-01-11 19:49] plbossart commented on #3365
try the other suggested quirk
options snd-soc-sof-es8336 quirk=0x0

also try to play with alsamixer settings.

[2022-01-11 20:00] pierro78 commented on #3365
thanks again !

I tried alsamixer settings with the 2 quirks

but there doesn t seem to be a lot to play with (see picture : https://photos.app.goo.gl/UmvGHSKcTjbU6tWk6 )

thanks again if you can help me !

[2022-01-11 20:07] plbossart commented on #3365
you have to unmute speaker and headphone with 'm'

[2022-01-11 20:27] pierro78 commented on #3365
thanks

I made sure my headphone and speaker were not mute with the 2 quirks and original (non touched) conf but still no joy

the strange thing is that alsamixer says "Intel Gemini Lake **HDMI**" and I want to play from the internal speaker/headphone
(but the headphone is detected by the way when I plug it in  : the left alsamixer headphone slider goes from "mute" to "whatever" I set it (although

[2022-01-11 20:29] plbossart commented on #3365
if you are able to compile your kernel, maybe try https://github.com/thesofproject/linux/pull/3338 to see which interface is used. that would avoid the guesswork by using the information from ACPI tables.

Otherwise I have no other suggestions, this is a nightmare to support.

[2022-01-11 20:42] pierro78 commented on #3248
just did in https://github.com/thesofproject/linux/issues/3365 but it didn t work on my Gemini Lake Kuu Yobook M
looks like if you are lucky then the correct "interface" is chosen by the "current system" and it ll work ...

now the sof project wants to guess the correct "interface" with https://github.com/thesofproject/linux/pull/3338 (linux kernel changes that thorvalds have to accept ... maybe I

[2022-01-11 23:31] ktb92677 commented on #3360
[code]

[2022-01-11 23:33] ktb92677 commented on #3360
@plbossart

If you are referring to this solution:

options snd-soc-sof-es8336 quirk=0x10
in /etc/modprobe.d/alsa-base.conf

It did not work.

@ujfalusi posted the dmesg!

Thanks so much for the help!

[2022-01-12 00:18] plbossart commented on #3360
it didn't work because you need patches specifically to detect the ES8336 codec and load the machine driver. with 5.14 your kernel does not have any support for this hardware. You need to test with 5.15 or better yet with 5.16 or even better with https://github.com/thesofproject/linux/pull/3338

[2022-01-12 00:41] ktb92677 commented on #3360
Okay, I have updated to this kernel version

[code]

[code]

Still no audio. Unfortunately even on debian backports there is no newer kernel... just 5.15. I am not an expert on how to build and install a newer kernel, is there anyway around having to do this?

[2022-01-12 00:43] ktb92677 commented on #3360
Further debugging on the newer kernel

[code]

[2022-01-12 03:44] khfeng commented on #3355
[dmesg-community.txt](https://github.com/thesofproject/linux/files/7851484/dmesg-community.txt)
[dmesg-intel-signed.txt](https://github.com/thesofproject/linux/files/7851485/dmesg-intel-signed.txt)

[2022-01-12 03:45] khfeng commented on #3355
BTW I can't find 2.0.x, so I am still using 2.0.0 like the original dmesg.

[2022-01-12 04:44] aiChaoSONG commented on #3355
OK, looks neither firmware works for you, the same code `0x6000021` from ROM.  @keqiaozhang  Did you see this error code before?

[2022-01-12 05:35] yangxiaohua2009 commented on #2955
Hi I uploaded a new kernel compiled with code in #3338 and an install script [here](https://github.com/yangxiaohua2009/custom-kernel). Please use Debian since install deb may cause problem on arch linux. @tusharvidhani3

[2022-01-12 09:07] pierro78 commented on #3365
I tried with the custom kernel compiled by @yangxiaohua2009 ( see https://github.com/thesofproject/linux/issues/2955#issuecomment-1010654476 )

and it seems like things now work a little bit differently : "sudo dmesg | grep audio" now gives me a lot of lines (see http://alsa-project.org/db/?f=0246bb8c62bf49bc7f1d700a4162e5b1397b5f96 as it was really long) but it still doesn t seem to work ...
a st

[2022-01-12 10:04] yangxiaohua2009 commented on #3365
a strange thing is that when my headphones are unplugged then the xubuntu audiomixer says that the speakers are unavailable and when I plug them then the audiomixer says that my headphones are unplugged (but no sound from internal speaker) ...

I see several widgets turned off. Use
`amixer -c 0 sset 'Right Headphone Mixer Right DAC Switch' on`
`amixer -c 0 sset 'Left Headphone Mixer Left DAC Switc

[2022-01-12 10:43] tusharvidhani3 commented on #2955
Thank you so much. Internal speaker, headphone jack mic and output are working perfectly without any issues and sound is also clear and loud enough. But internal microphone is not working.

[2022-01-12 10:44] kv2019i opened #3368 "[BUG] soc_pcm_hw_params() failed (-22) for PCM7 (BT) on ADLP I2S Chrome device"
**Describe the bug**
sof-test failure on the BT PCM node

Intel internal daily plan reference: #9293

**To Reproduce**
sof-test
 ~/sof-test/test-case/check-playback.sh -d 3 -l 1 -r 1 -F

Or directly with aplay

aplay   -Dhw:0,7 -r 8000 -c 1 -f S16_LE -d 3 /dev/zero -v -q
`
**Reproduction Rate**
100%

**Expected behavior**
Playback to BT PCM is expected to fail if no Bluetooth audio connection is e

[2022-01-12 10:44] kv2019i commented on #3368
I'll take a look.

[2022-01-12 10:51] pierro78 commented on #3365
@yangxiaohua2009

the 2 first commands failed :

[code]

I tried to record sound with onlinemictest.com but it apparently fails ...

thanks if you can help me !

[2022-01-12 10:57] pierro78 commented on #3365
oh the right commands were :

[code]

it s working now !
thanks !

[2022-01-12 11:03] pierro78 commented on #3365
PS : oops microphone doesn t work (works in Windows though) @yangxiaohua2009

[2022-01-12 13:18] hav4k commented on #3363
options snd-soc-sof-es8336 quirk=0x00
options snd-soc-sof-es8336 quirk=0x10
options snd-soc-sof-es8336 quirk=0x30 (with SSP0 topology)
options snd-soc-sof-es8336 quirk=0x31 (with SSP1 topology)
options snd-soc-sof-es8336 quirk=0x32 (with SSP2 topology)

Is these all? I will try later.

[2022-01-12 15:23] RezinoviyDed commented on #3336
Faced the same difficulties on Alldocube i1405 laptop (ES8336).
My ALSA information: http://alsa-project.org/db/?f=0ea691041f622a70564471f46ec8706839604e6a
sof-bin v2.0 is installed
I also see 0 in /sys/module/snd_soc_sof_es8336/parameters/quirk

@plbossart I can help you with testing.

[2022-01-12 16:12] plbossart commented on #3360
The only thing I can suggest is to attach the results of 'alsa-info' to double-check it's indeed the ES8336 issue, and it yes to wait a couple of kernel cycles to get the fixes.

[2022-01-12 16:14] plbossart commented on #3355
@khfeng You may have an early version of the hardware with the debug key, you would need to ask Intel for the firmware. @mengdonglin FYI.

[2022-01-12 16:35] plbossart commented on #3363
I am afraid that you have to explore all combinatorial options

options snd-soc-sof-es8336 quirk=0x00 (with SSP0 topology)
options snd-soc-sof-es8336 quirk=0x01 (with SSP1 topology)
options snd-soc-sof-es8336 quirk=0x02 (with SSP2 topology)
options snd-soc-sof-es8336 quirk=0x10 (with SSP0 topology)
options snd-soc-sof-es8336 quirk=0x11 (with SSP1 topology)
options snd-soc-sof-es8336 quirk=0x12 (wi

[2022-01-12 16:39] plbossart commented on #3336
@RezinoviyDed your PCI ID 4dc8 points to a JasperLake device so different hardware. If you know how to install a kernel, please try with https://github.com/thesofproject/linux/pull/3338 so that we can find if you have digital microphones and which I2S/SSP link is used for the ES8336 connection.

[2022-01-12 17:47] playXE commented on #3248
@pierro78 would that kernel work with CML?

[2022-01-12 18:04] pierro78 commented on #3248
@playXE maybe check what they are saying about issues with CML in https://github.com/thesofproject/linux/pull/3338 (I have GML so I didn t read it)

[2022-01-12 18:43] ktb92677 commented on #3360
@plbossart Here is my alsa-info: http://alsa-project.org/db/?f=48dc7f8cc19c51d0ae008f57ec2a5b2f8cbe3085

How does it look?

[2022-01-12 18:51] plbossart commented on #3360
/sys/bus/acpi/devices/ESSX8336:00/status 	 15

that confirms this is indeed the issue, the codec is present and shown to this OS by the ACPI subsystem.

What this also tells me is that it'll be difficult to quirk
[code]

There's really nothing we can use to identify this device, the firmware version is just not good enough.

That means we'll have to use the patches I started in https://github.com/

[2022-01-12 18:53] ktb92677 commented on #3360
@plbossart so good news, I learned how to compile the linux kernel. I've pulled your branch

Bad news, it has been building since yesterday... I will update you when it is finished. Do you want me to post dmesg or something?

[2022-01-12 18:59] plbossart commented on #3360
make sure that you have CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m in your config or nothing will happen ;-)

Here's my config - it compiles in 5mn on a NUC, but it may not have all the things needed for your device and conversely some options intended for development, but at least you'll have a reference.
[config.txt](https://github.com/thesofproject/linux/files/7857015/config.txt)

I will do a coupl

[2022-01-12 19:05] ktb92677 commented on #3360
That's brutal. Just restarted the build with CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=m. See you maybe tomorrow lol

[2022-01-12 19:46] cihatertem commented on #3350
Today Archlinux updated kernel 5.15 >> 5.16 but the issue goes on.

[2022-01-12 20:58] simas-b commented on #3248
@playXE @dattiluca I installed 5.16 kernel (with Ubuntu 22.04) with CML my sound card is not recognized. Alsa info: http://alsa-project.org/db/?f=b47d70cceb570c0ccf77e1f9187e96f8c1e8c427

[2022-01-12 21:29] plbossart commented on #3248
@butavicius your card is recognized but the quirk you added is not compatible with the topology file you used

[    4.178290] sof-essx8336 sof-essx8336: Overriding quirk 0x2 => 0x20

that forces DMIC to be enabled,

#define SOF_ES8336_TGL_GPIO_QUIRK		BIT(4)
#define SOF_ES8336_ENABLE_DMIC			BIT(5)

but then kaboom you don't have dmic support.
[    4.179416] sof-essx8336 sof-essx8336: ASoC: failed t

[2022-01-12 23:47] simas-b commented on #3248
@plbossart I have tried with 0x0, 0x10, 0x20, 0x21, 0x22, 0x30, 0x31, 0x32 with no luck. After each alsa-base.conf edit i ran sudo alsa force-reload and alsa-info. After each change, it was reflected in alsa-info `ALSA/HDA dmesg` part. Last alsa-info has info on all these variations:

options snd-soc-sof-es8336 quirk=0x22
http://alsa-project.org/db/?f=c7c104e91b961b6f344d654973fb140fcda95857

opti

[2022-01-13 00:03] pierro78 commented on #3365
a "funny" thing is that I tried with the "regular" kernel ( https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.16/ ) again and the sound played but weaker ... and with the regular kernel there is not the bug in the audiomixer where it says that the speaker is unavailable (but works nonetheless) ...

but then with yangxiaohua2009's custom-kernel the sound didn't work anymore ... the speaker and head

[2022-01-13 00:05] plbossart commented on #3248
@butavicius it's just too difficult to provide support like this, I am working on a better solution with no quirks. stay tuned.

[2022-01-13 03:25] yangxiaohua2009 commented on #3365
Does the general kernel work well for you? You may change volume using alsamixer or pavucontrol.

[2022-01-13 04:17] ktb92677 commented on #3360
@plbossart Okay awesome news! aplay -l shows a new device! But speaker-test still is not having any sound come out. Here is some debug info:

Test performed:

[code]

[code]

[2022-01-13 04:21] ktb92677 commented on #3360
[code]

alsa-info: http://alsa-project.org/db/?f=a10d61f1c7b08730a9f80e86e4431ec343d4009d

[2022-01-13 04:22] ktb92677 commented on #3360
I got this file (sof-glk-es8336.tplg) from here: https://github.com/thesofproject/sof-bin/tree/main/v2.0.x/sof-tplg-v2.0. For some reason my computer didn't already have it

[2022-01-13 06:15] yangxiaohua2009 commented on #2955
Can you live with out internal mic? Provide a detailed info by using [alsainfo](https://wiki.ubuntu.com/Audio/AlsaInfo). @tusharvidhani3

[2022-01-13 06:20] aiChaoSONG commented on #3359
Alright, this issue is still kernel related. This is either a kernel issue or some kernel patch(es) from chrome kernel are not up-streamed.
I tried chrome kernel https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/tags/v5.10.91, b9c28c563fc97, everything is good.

[2022-01-13 06:38] keqiaozhang commented on #3355
I met the same issue on ADLP Chrome device before, this is not the key error, but the CSE related. the CSE interface is disabled for some reason on ADLP Chrome device. The fix is from the coreboot. please refer to https://github.com/thesofproject/sof/issues/4923

[2022-01-13 06:48] khfeng commented on #3355
Thanks. Let me raise the issue to their platform team.

[2022-01-13 07:21] sathyap-chrome commented on #3368
@kv2019i  if this is Brya i2S - BT should be enabled on this. BT offload ( and its PCM device is avaiable only on SNDW board only.
On customer board ( which using max98390 topology) the BT offload is enabled.

[2022-01-13 08:14] XiaoyunWu6666 commented on #3368
Keqiao has disable BT pipeline on the device ,this failure should go away

[2022-01-13 15:05] plbossart commented on #3360
The BIOS looks broken, this is not normal:

[    4.811039] sof-audio-pci-intel-apl 0000:00:0e.0: NHLT_DEVICE_I2S detected, ssp_mask 0x5

This suggests both SSP0 and SSP2 are used, when of course only one of them is used. what a mess.

[2022-01-13 15:19] plbossart commented on #3362
@perexg does the patch suggested by @tiwai in https://lore.kernel.org/alsa-devel/20220113141858.10904-1-tiwai@suse.de/ makes this go away?

[2022-01-13 15:25] ktb92677 commented on #3360
Ah okay... is there anything in the bios I should be looking for settings wise? What are my next moves here?

[2022-01-13 15:43] plbossart commented on #3360
Trying to work this through in https://github.com/thesofproject/linux/pull/3338, the same problem with ssp mask was reported by @yangxiaohua2009

[2022-01-13 20:28] ktb92677 commented on #3360
@plbossart hey, I saw you made a change to the branch, should I pull and compile and see if it works?

[2022-01-13 20:48] fcsm1922 commented on #3248
Not sound matebook 14 (intel)
linux kernel 5.16

[2022-01-13 21:03] hav4k commented on #3363
No success, still without sound. I tried all quirks. :(

[2022-01-14 00:36] ktb92677 commented on #3360
@plbossart I can't for the life of my figure out how to compile your latest branch. Here is the error I keep getting:

[code]

[2022-01-14 01:01] plbossart commented on #3360
no idea @ktb92677, I compile stuff on my development device and use ktest.pl to install the kernel, modules and initramfs on the target device.

https://thesofproject.github.io/latest/getting_started/setup/setup_ktest_environment.html

[2022-01-14 01:27] brentlu commented on #3359
Hi Chao,

The later modifications from us (we are support team) are adding new DAI setting for different amplifiers so not likely to break the topology. Chrome devices are using their own kernel and sof branch (adl-003-drop-stable) and we didn’t receive complains from ODM using this topology so far.

[2022-01-14 04:52] marc-hb opened #3370 "[CML] rtcwake: aplay task refusing to freeze"
Observed twice in a row: first on `jf-cml-hel-rt5682-01` then  on `jf-cml-hel-rt5682-02`

https://sof-ci.01.org/sofpr/PR5207/build11616/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5
https://sof-ci.01.org/sofpr/PR5207/build11618/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5
https://sof-ci.01.org/sofpr/PR5227/build11700/devicetest/?mo

[2022-01-14 11:49] tusharvidhani3 commented on #2955
[alsa-info.txt](https://github.com/thesofproject/linux/files/7870119/alsa-info.txt)

[2022-01-14 13:07] hav4k commented on #3363
Finally solved with Linux Mint:

https://github.com/yangxiaohua2009/custom-kernel

Thanks!!!

[2022-01-14 17:23] plbossart commented on #3370
also seen in https://sof-ci.01.org/linuxpr/PR3338/build6982/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

this could be the result of an upstream merge. The call trace is new but in the past when we had rtcwake errors they seemed to be 100% correlated with this 'task refusing to freeze' issue.

[2022-01-14 17:30] plbossart commented on #3370
yeah, this is not a new error, it's just that we can see it
Commit 8412dbd642585107e29b20920876de98e7df5819 ('PM / sleep: Show freezing tasks that caused a suspend abort') added more information.

from the commit message it seems we have a task that is still freezing while we get a wake-up, a possible indication of a race condition.

This is excellent that we can trap this instead of seeing rtcwak

[2022-01-15 10:36] tusharvidhani3 commented on #2955
Can you compile the same kernel for arch please?

[2022-01-15 20:36] pierro78 commented on #3365
yes the kernel works well in general operations. thanks !

[2022-01-16 08:43] Burnoh commented on #3363
Can I install this custom kernel on Elementary OS 6.1? It's based on Ubuntu just like Linux Mint afaik

[2022-01-16 17:15] dariotomasi commented on #2955
I try to install

with "Linux Mint 20 Ulyana" 5.4.0-26-generic
I have upload the kernel 5.16.0-rc1-apl, using the script make.sh,
I got the following errors:
1. cp: cannot stat 'sof-glk-es8336-ssp0.tplg': No such file or directory
2. cp: cannot stat 'sof-glk-es8336-ssp1.tplg': No such file or directory
3. cp: cannot create directory '/user/share/alsa/ucm2': No such file or directory

for error mes

[2022-01-17 02:25] aiChaoSONG commented on #3359
If make the topology DYNAMIC, the issue cannot be reproduced

[2022-01-17 02:37] tusharvidhani3 commented on #2955
I was also facing the same, when I connected headphone, the speakers get enabled but when I selected the output Device as speaker in settings without connecting headphones, it was showing the speaker is unavailable but the speaker works fine. Try to select output device as speaker on every boot.

[2022-01-17 09:47] yangxiaohua2009 commented on #2955
Sorry for the typo, it should be /usr/share/alsa/ucm2 instead of /user/share/alsa/ucm2.

Try kernel jack_normal or jack_inverted [here](https://github.com/yangxiaohua2009/custom-kernel) and you should have one working. Unzip the file and install it by `sudo dpkg -i *.deb`.

If you see errors in dmesg like Failed to load tplg file, download them from... , copy everything [here](https://github.com/y

[2022-01-17 09:54] yangxiaohua2009 commented on #2955
Please tell me which kernel works for you and I can compile one by using `make binrpm-pkg`. @tusharvidhani3

[2022-01-17 10:16] tusharvidhani3 commented on #2955
https://github.com/yangxiaohua2009/custom-kernel
This one works for me. I think the command 'make binrpm-pkg' will generate kernel of .rpm extension which works on fedora not on arch. Maybe I am wrong as I am a beginner in linux.

[2022-01-17 11:37] tusharvidhani3 commented on #2955
I tried both jack_normal and jack_inverted but both were working opposite to my system. When I plug headphones the sound output changes to speaker and when I unplug heaphones the output changes to headphones, therefore none of them were working with correctly and I have to select the sound output manually after every boot. I think the command 'make binrpm-pkg' will provide a package in .rpm extens

[2022-01-17 17:03] dario367 commented on #2955
Hi, I have updated the kernel and later on also tplg files,
unfortunately the speakers and the headphone are not working, with the disadvantage that now also the HDMI audio it is not working.
here the dmesg and alsa-info
[alsa-info.txt](https://github.com/thesofproject/linux/files/7883657/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/7883658/dmesg.txt)

[2022-01-17 17:29] plbossart commented on #3337
solution implemented in 	https://github.com/thesofproject/linux/pull/3338

The only problem is that we need quite a few topology files, see
[es8336-topologies-2.tar.gz](https://github.com/thesofproject/linux/files/7883781/es8336-topologies-2.tar.gz)
and it would be preferable to override a default SSP from the machine driver.

[2022-01-17 17:31] dario367 commented on #2955
sorry I've just only one kernel tested, will check the second and reply

[2022-01-17 17:49] #3348 closed

[2022-01-17 20:41] dario367 commented on #2955
finally we have sound, it is not fully correct, but after long time testing something is moving on.
Thanks for the support.
for when it is expected the complete resolution ?
here the test results and dmesg+alsa-info
[dmesg_jack_inverted_speakers.txt](https://github.com/thesofproject/linux/files/7884535/dmesg_jack_inverted_speakers.txt)
[alsa-info.txt](https://github.com/thesofproject/linux/files/7

[2022-01-17 21:01] plbossart commented on #3370
If I look at the call trace above, it seems the 'aplay' userspace task
initiates an ioctl while we are trying to freeze all tasks and suspend, and that ioctl will
try to bring the card back in D0 state.

that looks like a race condition to me, and I am not sure why a
userspace task is permitted to do this.

if I look at snd_power_ref_and_wait() it seems there's a possibility of
an infinite loop wh

[2022-01-18 09:21] yangxiaohua2009 commented on #2955
The deb package can be installed by dpkg -i *.deb which can be done on Arch Linux but is not recommended. You can try to install deb packages by converting them to the form Arch Linux uses. The .deb or .rpm are just compress formats like .zip and if you uncompress the deb package, you can see things like vmlinux kernel and kernel modules.

[2022-01-18 09:24] yangxiaohua2009 commented on #2955
Seems the speaker control is wrong. Use `amixer sset 'Speaker' on` or `amixer sset 'Speaker' off` or pavucontrol to manuelly control the speaker.

[2022-01-18 09:48] tusharvidhani3 commented on #2955
I have already tried to convert using debtap but the system doesn't boot and shows something like kernel offset and some hexadecimal code
![PXL_20220119_132309440](https://user-images.githubusercontent.com/89744210/150089910-b568a372-d176-446f-8920-2469be932026.jpg)

[2022-01-18 10:29] tiwai commented on #3370
Hrm, weird. It's the place where suspend_prepare() calling the freezer, right?  If so, the card power state must not be other than D0 at that point, as it's before the actual device suspend procedure takes place. (For ASoC, soc_suspend() calls snd_power_change_state() with D3hot, and this should be called after the freezer.)

The task flags (0x04) shows PF_EXITING, so this is a process being shut

[2022-01-18 10:32] tiwai commented on #3370
Does it have any influence if we replace wake_up(&card->power_sleep) with wake_up_all(&card->power_sleep) in snd_power_change_state() defined in include/sound/core.h?

[2022-01-18 12:02] dariotomasi commented on #2955
yes, I have used pavucontrol during my test, and what it is reported is the best combination I was able to find, is there any other check to do to resolve ?

[2022-01-18 14:41] tiwai commented on #3370
Or a patch like below might help?
[0001-ALSA-core-Simplify-snd_power_-with-the-standard-macr.patch.txt](https://github.com/thesofproject/linux/files/7889868/0001-ALSA-core-Simplify-snd_power_-with-the-standard-macr.patch.txt)

[2022-01-18 15:38] plbossart commented on #3370
@tiwai I don't fully follow your explanations - suspend_prepare doesn't seem to be part of sound/ and not clear either on what ASoC does with D3hot. I clearly don't have any understanding of the freeze part.

I added a simple check to trace when we start the loop to go back to D0, we'll see if this confirms the analysis. https://github.com/thesofproject/linux/pull/3374

[2022-01-18 16:43] tiwai commented on #3370
Yes, that'll be helpful for understanding the situation.  Also, it'd be good to have debug prints at snd_power_change_state(), too.

[2022-01-18 17:00] plbossart commented on #3370
it seems we have a 100% reproducible case on a Chromebook, see https://sof-ci.01.org/linuxpr/PR3374/build6987/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

[dmesg.log](https://github.com/thesofproject/linux/files/7890962/dmesg.log)

[code]
This looks like a sequence of suspend-resumes where we try to restore the D0 state when resuming but somehow never reach that

[2022-01-18 17:24] tiwai commented on #3370
ASoC does the resume in a deferred work, and that might be the reason?
The work is synced at snd_soc_suspend(), but it's called after user process freezing, hence it's too late.

[2022-01-18 17:35] plbossart commented on #3370
Thanks @tiwai. Would it change anything if we did the workqueue sync in a .prepare callback?

[2022-01-18 18:54] tiwai commented on #3370
I guess this won't fit,the PM prepare callback is handled at a later stage, IIRC. But I might be wrong, better to test actually, of course.

BTW, could you check whether the patch I attached in the above makes any difference?

[2022-01-18 19:18] plbossart commented on #3370
I added the traces in snd_power_change_state, I don't really understand the results though

https://sof-ci.01.org/linuxpr/PR3374/build6988/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

[code]

I will give it a try with the .prepare step. prepare is supposed to be before any suspend/freeze. I will test your patch later today.

[2022-01-19 00:30] plbossart commented on #3370
@tiwai I added a .prepare and that's not helping.
https://sof-ci.01.org/linuxpr/PR3374/build6991/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5 shows we have exactly the same error before the .prepare is invoked.

I'll try your patch now.

[2022-01-19 02:10] plbossart commented on #3370
@tiwai unfortunately your patch doesn't seem to improve the results. It's the same issue that we wait for the device to go back to D0 and start a suspend before the resume is complete. You can see in https://github.com/thesofproject/linux/pull/3374/commits/5001794c5eff06fa5ad56b490676f6c68eb7bee5 that there are two traces, and only the first is found below. the log to indicate the end of the wait

[2022-01-19 02:31] plbossart commented on #3370
https://github.com/thesofproject/linux/pull/3376 removes the workqueue entirely. Let's see what happens.

[2022-01-19 03:40] plbossart commented on #3370
https://sof-ci.01.org/linuxpr/PR3376/build6994/devicetest/ shows no issues when ASoC resumes synchronously. Humm @lgirdwood will need your help on this one :-)

[2022-01-19 07:46] tiwai commented on #3370
@plbossart Thanks for checking.  My patch would be still good as a cleanup, so I'm going to submit in anyway with a slight rephrasing.

For syncing the deferred resume work, we might need to use the pm notifier.  Could you try the patch below?
[soc-deferred-resume-notify.diff.txt](https://github.com/thesofproject/linux/files/7895017/soc-deferred-resume-notify.diff.txt)

[2022-01-19 08:45] ujfalusi commented on #3370
It fails right at the second iteration. Does the dmesg contains the first iteration's log? I was looking at the passing platforms and the logs are kind of short for the 5 test (more like one round).

In the log I can see the suspend from the previous step along with the wakeup. What makes it interesting is that we don't have the `pcm: trigger stream 0 dir 0 cmd 1` after the wakeup (from the first

[2022-01-19 10:17] tiwai commented on #3370
@ujfalusi The issue is likely because the suspend is invoked before the deferred resume work is completed. The suspend procedure is to perform freezer at first, then process driver's suspend callbacks. And the problem is at the freezer stage, where the task seems recognized as unfreezable.  So my test patch above tries to finish the deferred resume work before the freezer stage.

On the second tho

[2022-01-19 10:34] tiwai commented on #3370
Scratch my previous patch. On the third thought, it may cause another problem; namely, when a deferred resume finishes at snd_soc_suspend(), it wakes up the sleeping task in snd_power_wait*() unexpectedly after the freezer phase. Although the wake-up might be not processed yet at that point, it's a flaky operation...

So syncing with PM notifier might be the way to go in the end.

[2022-01-19 20:02] plbossart commented on #3370
I tried you patch @tiwai but something doesn't seem right, the flush doesn't complete

[code]

I try adding more traces but it's just awful to debug this remotely, I have to get a local device to debug this further.

[2022-01-19 20:31] tiwai commented on #3370
OK, then could you try to replace flush_work(&card->deferred_resume_work) with snd_power_wait(card->snd_card) in the patch?
[soc-deferred-resume-notify-v2.diff.txt](https://github.com/thesofproject/linux/files/7900384/soc-deferred-resume-notify-v2.diff.txt)

[2022-01-19 23:19] plbossart commented on #3370
Not much better, the traces I added show the resume does not complete. it seems like we have a DAPM operation that is stuck.

[code]

I added one more trace to see what happens

https://sof-ci.01.org/linuxpr/PR3374/build7002/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

[2022-01-19 23:22] plbossart commented on #3362
@tiwai provided fixes for the warnings in https://lore.kernel.org/alsa-devel/20220119155249.26754-1-tiwai@suse.de/

Closing

[2022-01-19 23:22] #3362 closed

[2022-01-20 01:01] plbossart commented on #3370
https://sof-ci.01.org/linuxpr/PR3374/build7007/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5 shows that snd_soc_dapm_sync() never completes.

[code]
I have no idea why this might be the case.

[2022-01-20 06:48] tiwai commented on #3370
Hrm, that's the place using async execution, and it might be the cause.

Then, let's try go back to another approach I scratched. Below is a revised patch, adding a workaround for the resume-in-suspend problem.
[snd-power-lock-ignore-freezer-v2.diff.txt](https://github.com/thesofproject/linux/files/7902858/snd-power-lock-ignore-freezer-v2.diff.txt)

I guess this will hit the similar stall, though.

[2022-01-20 08:00] ujfalusi commented on #3370
@tiwai, @plbossart, this might or might not help to see the DAPM sequence?
[code]

[2022-01-20 14:35] plbossart commented on #3370
I'll give it a try, but I wonder if the patch fixes the wrong problem? the issue is try to suspend while resume is not complete. it's not a 'resume-in-suspend' case, or maybe I misunderstood your wording.

[2022-01-20 15:40] tiwai commented on #3370
At least we can see whether it's in the core code or not. This patch will make the freezer ignoring those aplay process in the power-check loop, and proceed further. If the things work with that, indeed that's an issue about the process handling.
OTOH, if the problem persists (it's more likely, I guess), it implies that the primary cause is rather the device itself that doesn't finish the resume p

[2022-01-20 16:02] plbossart commented on #3370
it looks like the DAPM issue remains, it looks like no matter what we try we end-up not finishing the resume before we suspend.

https://sof-ci.01.org/linuxpr/PR3374/build7012/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

[code]

[2022-01-20 16:03] OlegSadJktu commented on #3249
same problem on matebook 16 d with ryzen 5 4600. is it possible to expect that drivers will be written at least in kernel version 5.16 in January 2022? maybe spam the huawei mailbox with a request? ;-(

[2022-01-20 16:04] OlegSadJktu commented on #3248
same problem on matebook 16 d with ryzen 5 4600. is it possible to expect that drivers will be written at least in kernel version 5.16 in January 2022? maybe spam the huawei mailbox with a request? ;-(

[2022-01-20 20:29] plbossart commented on #3370
With more traces, the resume can be shown as getting stuck in dapm_seq_run()

[code]

https://sof-ci.01.org/linuxpr/PR3374/build7014/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

[code]

[2022-01-21 05:52] ktb92677 commented on #3360
@plbossart Okay, apologies on the delay here. Took your latest branch, built and I am getting audio! Had to unmute some random stuff in alsamixer though!

[2022-01-21 09:27] ujfalusi commented on #3370
Curiously with DAPM pop debugging (pop_time = 1) the CI passes, but we have different fails (which might be unrelated FS corruption?)

https://sof-ci.01.org/linuxpr/PR3384/build7028/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

PR: https://github.com/thesofproject/linux/pull/3384

[2022-01-21 12:41] plbossart commented on #3360
Good to hear @ktb92677

Can I ask you to list the controls you unmuted, just so that we add a UCM profile for this card with the 'right' settings so that it's completely turn-key with pulseaudio and pipewire?

[2022-01-21 12:48] plbossart opened #3387 "Hung task timeout reported by CI"
https://sof-ci.sh.intel.com/#/result/planresultdetail/9293?model=CML_SKU0955_HDA&testcase=multiple-pause-resume-50

https://sof-ci.sh.intel.com/#/result/planresultdetail/9293?model=TGLH_SKU0A70_HDA&testcase=volume-basic-test-50

.===========================>>
[ 3318.829119] kernel: INFO: task kworker/u16:0:17963 blocked for more than 122 seconds.
[ 3318.829227] kernel:       Not tainted 5.16.0-rc1

[2022-01-21 12:49] plbossart commented on #3370
@ujfalusi we've seen those 'hung kernel tasks' errors before, I think they appeared in the last kernel cycle - I filed a new bug since it's not tracked for some reason by our CI folks https://github.com/thesofproject/linux/issues/3387

[2022-01-21 12:49] plbossart commented on #3370
@ujfalusi for my education, what does pop_time do? How would it change the DAPM behavior?

[2022-01-21 13:12] ujfalusi commented on #3370
@plbossart, it does two things, unfortunately,
1. we can inject delays between DAPM steps. This is really useful for figuring out pops and clicks by slowing down DAPM.
2. it prints the DAPM event flow which is really useful for figuring out sequencing issues.

With `pop_time = 1` we add 1 jiffies long uninterruptible sleep essentially, which can interfere for sure. We could add a hack patch to ski

[2022-01-21 16:09] ujfalusi commented on #3370
@plbossart, now it looks more promising (information wise): https://sof-ci.01.org/linuxpr/PR3384/build7031/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

The last dapm event on resume before the suspend is:
[code]
end we do not get to the POST_PMU side of the widget...

[2022-01-21 16:10] OlegSadJktu commented on #2955
can [this](https://github.com/yangxiaohua2009/custom-kernel) help for huawei matebook series laptops? or this Or does it only work for certain devices?

[2022-01-21 16:28] plbossart commented on #3370
thanks @ujfalusi, could this be a deadlock in the rt5682 driver:

[code]

[2022-01-21 16:47] tiwai commented on #3370
That's my suspect, too.  You can try like this one.
[rt5682-jack-mutex-test.diff.txt](https://github.com/thesofproject/linux/files/7915312/rt5682-jack-mutex-test.diff.txt)

[2022-01-21 17:28] marc-hb commented on #3387
A few weeks ago I spent some time investigating a similar report for a volume-basic-test. My preliminary conclusion was that the storage was overwhelmed by the volume of kernel logs.

- https://sof-ci.01.org/sofpr/PR5343/build11983/devicetest/?model=CML_SKU0955_HDA&testcase=multiple-pipeline-playback
- https://sof-ci.01.org/linuxpr/PR3338/build7152/devicetest/?model=CML_SKU0955_HDA&testcase=check-

[2022-01-21 17:48] ujfalusi commented on #3370
The work does not have mutex used, but it is certainly there. I have pushed a patch to track the mutex uses in the rt5682 driver.

[2022-01-21 19:09] ujfalusi commented on #3370
From the logs:
[code]
https://sof-ci.01.org/linuxpr/PR3384/build7033/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-5

Trying the patch from @tiwai, next, keeping the prints, but this time they are pr_warn()

[2022-01-22 05:30] ktb92677 commented on #3360
Okay so here is what I had to do:

Unmute: Left Headphone Mixer Left DAC, Left Headphone Mixer LLIN, Right Headphone Mixer Left DAC, Right Headphone Mixer LLIN.
Raise volume on: DAC

Hope that helps! When will this be available in debian backports you think?

[2022-01-22 21:02] lennartvg commented on #3248
I am experiencing similar issues on the Huawei Matebook D15 - Intel i3-10110U. Sound output devices is only showing 'Dummy Output', and input is not showing any devices at all.

OS: Ubuntu 20.04.3 LTS (Focal Fossa)
Kernel 5.13.0-27-generic

[2022-01-23 17:43] giddie commented on #2971
This time I had an instance of the audio freezing without completely locking up the laptop, so I hope the logged data will be a bit more useful that previously:

[kernel.log.gz](https://github.com/thesofproject/linux/files/7921018/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/7921019/sof-log.gz)

[2022-01-24 05:40] marc-hb commented on #3011
https://sof-ci.01.org/sofpr/PR5239/build11751/devicetest/?model=APL_UP2_HDA&testcase=check-suspend-resume-5

[2022-01-24 06:35] ujfalusi commented on #3370
The lock on resume is introduced by: 8deb34a90f06374fd26f722c2a79e15160f66be7 ("ASoC: rt5682: fix the wrong jack type detected")

The lock happens this way:
A rt5682_resume() -> mod_delayed_work() for jack_detect_work
B DAPM sequence starts ( DAPM is locked now)
 A1. rt5682_jack_detect_handler() scheduled
  Takes both `jdet_mutex` and `calibrate_mutex`
  Calls in to rt5682_headset_detect() which t

[2022-01-24 06:52] marc-hb commented on #3370
Watching this investigation has been more interesting than some detective shows. However I wonder if there is with hindsight some tool and/or approach that could have found this deadlock faster? `lockdep` or something? It would be great to save all the experts involved a lot of time the next time.

[2022-01-24 06:57] ujfalusi commented on #3370
@marc-hb, `CONFIG_DEBUG_LOCKDEP` for sure would have been pointing to this earlier. Don't we have it enabled for CI?

[2022-01-24 07:23] XiaoyunWu6666 commented on #3011
this happened  sh-apl-up2-hda-07
will check whether hw update can solve this or not after CNY :)

[2022-01-24 07:28] XiaoyunWu6666 commented on #2828
will check whether EHL DUT in sh lab is rvp or crb after CNY

[2022-01-24 07:30] #3247 closed

[2022-01-24 07:34] XiaoyunWu6666 commented on #2882
Does this issue still happen ?

[2022-01-24 08:37] imtangmeng opened #3389 "Speaker device lost after multiple sleep and wakes"
When the system is playing video or audio in a loop, it is found that the speaker device is probabilistically lost when the system is woken up from sleep.

I found that in my environment the problem was reproduced many times.

#！/bin/bash
count=$1
num=1
while true
do
	sudo rtcwake -l -m mem -s 20; dmesg | egrep "error|failed|warning" >> ./S3.log

	sleep 10 ;

	num=$[$num+1]

	if [ $num -gt $count

[2022-01-24 09:15] imtangmeng commented on #3389
Once the speaker device is lost, if the system is not restarted, the device will remain in the lost state.
After the system restarts, the device can be used normally.

[2022-01-24 09:16] martyn0ff commented on #3249
Chiming in as another troubled MateBook D16 owner. ;-) Can confirm, HDMI and Bluetooth sound works fine, speakers do not. Have a dual boot on my hands if some input is needed.

Edit: Laptop's mic works fine when invoking `arecord` with PulseAudio installed. However, apps such as Zoom don't pick it up.

@OlegSadJktu kernel 5.16.2, still no sound is available.

[2022-01-24 11:52] ujfalusi commented on #3370
@tiwai, @plbossart, reverting said commit (8deb34a90f06374fd26f722c2a79e15160f66be7) is solving the issue:
https://github.com/thesofproject/linux/pull/3390

Looking at the code, it is not that trivial to fix it with the three locks around, I have tried to drop the jdet_work and mutex and use the rt5682_jack_detect_handler() only, but it caused some race on module removal (the work rescheduled afte

[2022-01-24 12:11] tiwai commented on #3370
@ujfalusi Thanks for tracking this. Yes, that looks like a typical ABBA deadlock.
I guess we may simply drop jdet_mutex, and replace with dapm mutex?

Also, as seen my fix attempt, cancel_delayed_work_sync() should be outside the mutex that is taken by the worker itself. Otherwise the call would be another cause of deadlock.

[2022-01-24 13:21] plbossart commented on #3370
we have this enabled:
[code]
The latter says 'Lock dependency engine debugging', I am not sure if this would help. We want to detect the lock, not detect issues in the locking detection. It's straightforward to add if needed.

[2022-01-24 13:22] plbossart commented on #3370
Adding Realtek team; @oder-chiou @shumingfan @jack-cy-yu and @bardliao FYI.

[2022-01-24 13:27] plbossart commented on #3011
@marc-hb @XiaoyunWu6666 We seem to have moved to an issue that's no longer specific to CML_RVP_SDW, should we update title and tags for tracking purposes?

[2022-01-24 13:38] plbossart commented on #3360
@ktb92677 I was hoping we could translate these commands into 'amixer -Dhw cset XYZ something'. I don't have the list of mixers available on this device.

As for Debian backports, this could take a while. I haven't even submitted the patches to the maintainer, so you're looking at two kernel cycles for the code to appear in Linus' releases, and then add time for Debian. It'd be surprised if it too

[2022-01-24 13:43] plbossart commented on #3389
@imtangmeng you are using a very very old firmware release.
Firmware info: version 1:6:0-18fab

we've corrected multiple bugs so I can only suggest you update the firmware to 2.0

[2022-01-24 13:46] plbossart commented on #3389
Your distribution may have a way to update, otherwise do it by hand with something like:

download and upzip https://github.com/thesofproject/sof-bin/archive/refs/heads/main.zip

mv /lib/firmware/intel/sof /lib/firmware/intel/sof-backup
mv /lib/firmware/intel/sof-tplg /lib/firmware/intel/sof-tplg-backup
cd sof-bin
./install v2.0.x/v2.0

[2022-01-24 14:16] ocebenzer commented on #3249
Same issue here on MateBook D16 - Dual boot W11 & Manjaro. Additional to HDMI and Bluetooth, USB C to 3.3mm converter works on Both OS. Speaker and default 3.3mm don't work on Manjaro but work on Windows.

[2022-01-25 03:21] imtangmeng commented on #3389
I have update the firmware to 2.0, but I still reproduced the bug:

$ sudo dmesg | grep audio
kernel: sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
kernel: sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
kernel: sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
kernel: sof-audio-pci 0000:00:1f.3: DSP detected w

[2022-01-25 03:21] imtangmeng commented on #3389
I have update the firmware to 2.0, but I still reproduced the bug:

$ sudo dmesg | grep audio
kernel: sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
kernel: sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
kernel: sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
kernel: sof-audio-pci 0000:00:1f.3: DSP detected w

[2022-01-25 04:24] astromatt42 commented on #2882
I am not sure, as I haven't been able to go to the office in a few months. I can report back possibly by the end of February or early March at the latest with more info.

[2022-01-25 09:11] imtangmeng commented on #3389
Unfortunately, after switching to 2.0, the bug reproduced faster.

[2022-01-25 09:16] imtangmeng commented on #3389
Use the pavucontrol command to observe that when the bug recurs, the sound input and output devices are lost.

When the bug recurs, I can still get the following information.
$ aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofhdadsp [sof-hda-dsp], device 0: HDA Analog (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: sofhdadsp [sof-hda-dsp], device 1: HDA Digital (*) []

[2022-01-25 10:57] gbuloz commented on #2990
@plbossart , @mengdonglin : I should receive the new hardware end of february, so I'll be able to test with the new silicon and BIOS. I'll give you some feedback as soon as possible.

[2022-01-25 15:14] ujfalusi commented on #3370
@tiwai, @plbossart, it looks like I have foujd a way to fix it w/o revert:  #3392

Would you take a look if you can spot if I'm doing it wrong?

[2022-01-25 15:44] plbossart commented on #3389
@imtangmeng Can you please copy this file [sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/7934960/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and re-test. If you see the error please attach the dmesg log. please don't copy-paste, i's going to be rather verbose. Hopefully this will give us some hints as to what happens.

[2022-01-25 16:11] tiwai commented on #3370
@ujfalusi LGTM

[2022-01-25 17:07] tonitch opened #3393 "ESSX8326 HID not supported: No sound on GPD pocket 3"
Following the mail sent on alsa-devel : https://mailman.alsa-project.org/pipermail/alsa-devel/2022-January/195187.html

@plbossart asked to post and issue here

the sound doesn't work even with dsp_driver set to 1 or 3

here is the alsa-info : http://alsa-project.org/db/?f=7f788dae384202786108c0deceb50b87d6b234d8

[2022-01-25 18:47] plbossart commented on #3393
If you can extract ACPI tables that would be useful. Install acpica-tools on your device and acpixtract -a acpidump, then attach the  gzipped binary.

[2022-01-25 18:49] plbossart commented on #3393
PCI ID 4dc8 -> JasperLake

[2022-01-25 19:13] tonitch commented on #3393
I'm not sure it is exactly what you asked for but here is the output of acpidump gziped
[acpidump.out.gz](https://github.com/thesofproject/linux/files/7936473/acpidump.out.gz)
And here is a tar of all the files from the command `acpixtract -a acpidump.out`
[acpidump.tar.gz](https://github.com/thesofproject/linux/files/7936488/acpidump.tar.gz)
hope this help !

[2022-01-25 19:34] plbossart commented on #3393
[dsdt.dsl.txt](https://github.com/thesofproject/linux/files/7936618/dsdt.dsl.txt)
[nhlt.dsl.txt](https://github.com/thesofproject/linux/files/7936619/nhlt.dsl.txt)

The tables show we should use SSP0 for the connection, and it's indeed an audio codec.

I don't know how to interpret the GPIO data, @hli25 can you help (might happen after CNY).

[2022-01-25 23:25] Ailontania commented on #2955
Hi, after I install your latest kernel, good news is that the audio input as well as output work!.
BUT, the internet is gone~~~~

My latptop is KUU yobook N4120 cpu
can I only install the driver for the sound card?

[2022-01-25 23:51] vadz opened #3395 "[BUG] No actual sound, although everything seems correct, on Dell XPS 17 9700"
**Describe the bug**
Using Debian Bookworm (Testing) with 5.15.0-3-amd64 kernel and firmware-sof-signed 1.9-1 everything seems to work correctly from software point of view, but there is no sound at all, even at maximum volume level.

I've switched to Bookworm from Bullseye (Stable) because audio didn't work at all there, with errors when booting firmware. In Bookwork these errors don't occur any

[2022-01-26 00:07] plbossart commented on #3395
This looks like a UCM issue, make sure your alsa-ucm-conf package is recent enough and try to set the mixer values with alsaucm.

[2022-01-26 01:19] imtangmeng commented on #3389
Thanks for your help！
After copy file sof-dyndbg.conf.txt as /etc/modprobe.d/sof-dyndbg.conf, reboot and re-test.
I got the log which are as files dmesg-log-with-sof-dyndbg.log and journalctl-k.log.
$dmesg
https://github.com/imtangmeng/README.md/blob/main/dmesg-log-with-sof-dyndbg.log

$journalctl -k
https://github.com/imtangmeng/README.md/blob/main/journalctl-k.log

[2022-01-26 01:36] vadz commented on #3395
Thanks a lot for your reply! The problem was indeed due to not having alsa-ucm-conf installed, after apt-getting it and doing
[code]
sound has started working.

Thanks again!

[2022-01-26 01:36] #3395 closed

[2022-01-26 03:22] plbossart commented on #3389
@ranj063 @kv2019i could this be a dynamic pipeline issue with kernel 5.10?

[2022-01-26 05:04] tusharvidhani3 commented on #2955
Are you talking about arch?
And your kernel is stable or rc?

[2022-01-26 05:05] tusharvidhani3 commented on #2955
And your kernel is stable or rc?

[2022-01-26 09:22] hli25 commented on #3393
From the dsdt.dsl, the first gpio should be pa_enable, this is default setting in current machine driver. The second one is for interrupt.  This is compatible with current machine driver.

However, synced with @yangxiaohua2009，ESSX8326 need new codec driver.

copied codec _CRS from dsdt.dsl.txt:
======================================================================
        Device (ESSX)
        {

[2022-01-26 10:04] sergeyfil1 commented on #2955
Ну если звук работает значит ядро 5.16 rc1, а WI-FI я установил так -  https://cyber-x.ru/%d0%bf%d1%80%d0%be%d0%b1%d0%bb%d0%b5%d0%bc%d1%8b-%d1%81-wifi-%d0%b0%d0%b4%d0%b0%d0%bf%d1%82%d0%b5%d1%80%d0%b0%d0%bc%d0%b8-rtl8821ce-%d0%b2-linux/ , но у меня другая проблема после того как звук появился при старте системы и при выключении издаёться щелчок, как его можно убрать?
Well, if the sound works, then

[2022-01-26 15:43] plbossart commented on #3393
What do you mean @hli25 @yangxiaohua2009?
a) an update of the es8316 driver to deal with minor changes in hardware
b) a completely different codec driver to deal with fundamentally incompatible hardware.

In the latter case, the machine driver wouldn't work since it would rely on the wrong components in the dailink.

These platforms are on their way to beat Baytrail in terms of general confusion a

[2022-01-26 15:45] plbossart commented on #3393
Thanks @hli25. Is there a way to detect which GPIO is used for what directly from the DSDT? That would remove the need for quirks for the pa_enable, that would be really good.

[2022-01-26 17:27] OlegSadJktu commented on #3248
@lennartvg you can update the kernel to the latest version 5.16 and you might get sound. This only works on matebooks with an Intel processor.

[2022-01-26 18:35] Ailontania commented on #2955
Forgive me that I did not make it clear.
My OS is Ubuntu.

[2022-01-26 19:12] fcsm1922 commented on #3248
I have kernel version 5.16.2-arch1-1 matebook version on
intel and there was no sound .... it costs alsa, pipewire
so even after updating to kernel 5.16, a kernel panic appeared, both when rebooting and when turning off the laptop

[2022-01-26 20:37] ktb92677 commented on #3360
@plbossart there is an odd buzzing noise coming from the speaker, should I pull the latest branch?

[2022-01-26 21:13] plbossart commented on #3360
possibly @ktb92677, but I doubt this would fix the problem. if there is a distortion only on the speakers, and not the headphone, then it rules out any problems upstream of the audio codec. In other words, this could be an amplifier or mechanical issue.

[2022-01-27 01:59] imtangmeng commented on #3389
@ranj063 @kv2019i @plbossart Does anyone have any suggestions on how to solve this?
If needed, I can recompile the kernel to verify, or anything else I can do.

Best regards

[2022-01-27 05:59] yangxiaohua2009 commented on #3393
ES8326 is a completely different hardware compared with ES8316.
The machine driver of ES8316 and ES8326 is almost the same except the dailink.
It would be good if one machine driver can handle both codecs.
I do have a working codec driver here.
[es8326.zip](https://github.com/thesofproject/linux/files/7947958/es8326.zip)

[2022-01-27 06:54] kv2019i commented on #3389
@plbossart The error "ipc error for 0x60010000" looks a bit similar to https://github.com/thesofproject/sof/issues/5134 FYI to @ujfalusi , he just noted he could that with rtcwake as well.

[2022-01-27 07:59] hli25 commented on #3393
Hi Pierre,
Regarding to the gpios,  _DSD always missed in DSDT, so we may not get right gpio by its name/lable. That's why we adopt the mapping table to access it:   https://www.kernel.org/doc/Documentation/firmware-guide/acpi/gpio-properties.rst
Not sure we should attempt to request the 1st gpio, and then the 2nd if the 1st one is not available, but this solution is really ugly.
please correct me

[2022-01-27 15:10] plbossart opened #3400 "IRQ not handled on Broadwell -> IPC failures"
The tests of PR #3399 expose a large number of failures on Broadwell:

https://sof-ci.01.org/linuxpr/PR3399/build7065/devicetest/

[code]

after this initial error, all tests fail with IPC errors.

[2022-01-27 15:14] plbossart commented on #3389
@imtangmeng can you try with the 5.16.1 (or later) version?

[2022-01-27 15:28] plbossart commented on #3393
Here's a set of comments to bring this code to a level of quality compatible with upstream requirements
- use SPDX line for copyright
- don't use C++ // comments in code
-  remove dead code that's commented out
- use kernel alignment/indendation.
- sort headers by alphabetical order
- remove DEBUG
- avoid hard-coded registers addresses and values, use defines and masks
- remove 'master/slave' and

[2022-01-27 16:23] lgirdwood commented on #3400
Indeed an odd one, cant see the huge performance change here that could race.

[2022-01-27 17:50] Vamshigopal opened #3401 "IO transfer error timeout and system suspend-resume test fails"
**Describe the bug**

We can see sdw IO transfer timed out when we do suspend test. followed by an alert is raised and prepare clock error.

**To Reproduce**
run suspend_stress_test -c 10

**Reproduce rate**
sporadic.
more than 2/100 cycles

Expected result
No issue on the suspend test.

Actual result
suspend test fails.

Platform: ADL-N RVP board with onboard codec ALC711 in soundwire mode.

kern

[2022-01-27 17:53] Vamshigopal commented on #3401
cc: @bardliao @RanderWang @plbossart @kv2019i @ranj063 @sathya-nujella

[2022-01-27 20:32] plbossart commented on #3401
@Vamshigopal can you enable dynamic debug for SoundWire (and reduce the rest of the noise that's unrelated?)

options soundwire_bus dyndbg=+p
options soundwire_generic_allocation dyndbg=+p
options soundwire_cadence dyndbg=+p
options soundwire_intel_init dyndbg=+p
options soundwire_intel dyndbg=+p
options snd_soc_rt711 dyndbg=+p

Also double-check that there are no known differences between the cod

[2022-01-28 07:31] imtangmeng commented on #3389
Thanks, I have used 5.16.3 to test. It seems 5.16.3 appears to be working correctly.

I think this problem may be fixed in the higher version of the kernel. At present, it is speculated that the repair patch should be the patch mentioned in https://github.com/thesofproject/sof/issues/5168, but the patch needs to be adapted and introduced in  Prefix. I will try to adapt and verify later.

Of course

[2022-01-28 10:40] Vamshigopal commented on #3401
Thanks @plbossart for suggestions.

Here are the logs with dynamic debug enabled.
[dmesg_dyndb1.log](https://github.com/thesofproject/linux/files/7957842/dmesg_dyndb1.log)

Checking the differences between code, so far nothing popped up. will update if any fixes are missed.

All the major fixes are taken care in backport. Since this issue is close to #2026. Below fixes are available from backport

[2022-01-28 12:17] kv2019i commented on #3389
If 5.16.3 and upstream have the fixed, we can close this right @imtangmeng ?

[2022-01-28 12:19] kv2019i commented on #3387
(comment deleted, this is with HDA so not related to https://github.com/thesofproject/linux/pull/3392 )

[2022-01-28 12:31] kv2019i commented on #3349
Same error code as this old (non-rootcaused) bug https://github.com/thesofproject/sof/issues/4751
The error code hints at an invalid image and CSME failing the load.

[2022-01-28 12:34] kv2019i commented on #3355
Closing. Please @khfeng  reopen if this is not solved via platform firmware update.

[2022-01-28 12:34] #3355 closed

[2022-01-28 15:59] plbossart commented on #3401
We seem to have a race condition here, after the clock stop preparation is done, the codec driver initiates a read. we'd need a trace to see when the clock is actually stopped, it looks like the read happens after the bus is stopped, which is clearly incorrect.

[code]

I think it's possible that the headset calibration deferred work is still running.

[2022-01-28 16:05] plbossart commented on #3349
I was hoping that the problem would be fixed by the resume from IMR, but of course we've enabled it on all platforms EXCEPT APL for which this didn't work (more specifically this didn't work on Up2, we have not tested on other APL devices).

[2022-01-29 06:19] marc-hb commented on #3012
https://sof-ci.01.org/sofpr/PR5291/build11860/devicetest/?model=CML_RVP_SDW&testcase=volume-basic-test

Linux: 8c3ae47e `ASoC: Intel: TGL: add RT1308 I2S machine driver and HDMI-in`
SOF: 40d2f6688367 `codec_adapter: cadence: demote error message to warning when return code is not fatal`

[code]

[2022-01-30 07:55] tusharvidhani3 commented on #2955
I have successfully installed this kernel on arch and sound is working but wifi card is not detected with this kernel in arch

[2022-01-30 15:26] imtangmeng commented on #3389
5.16.3 appears to be working correctly.

[2022-01-30 15:26] #3389 closed

[2022-01-31 12:00] Vamshigopal commented on #3401
ack, working to collect the traces, will share by tomorrow.

[2022-01-31 15:13] plbossart commented on #3012
Not sure how we are going to diagnose this further, this problem seems to happen only on CML and only on a monthly/bimonthly basis - and it's not critical anyways.

[2022-02-01 16:28] Vamshigopal commented on #3401
Facing some board issues, hence the delay in collecting traces.

[2022-02-02 00:26] plbossart commented on #3364
@padmashree9110 can you clarify why you're using kernel 5.10 on AlderLake? It's older than your BIOS :-)

[code]

same question for the firmware, it's 1.8 and we released 2.0 in December 2021

[code]

[2022-02-02 00:32] plbossart commented on #3359
Only seeing this now. @ranj063 this looks like the kernel not dealing well with SSP static pipelines?

[2022-02-02 00:33] plbossart commented on #3359
this has nothing to do with a codec issue, the labels are incorrect.

[2022-02-02 00:40] plbossart commented on #2805
only seeing this now...

@cujomalainey the error happens here:

[code]

There's nothing we can do if we can't allocate DMA pages - unless it's a memory leak on our side - and I don't know what this has to do with the timeout... @ranj063 @kv2019i FYI.

[2022-02-02 00:41] plbossart commented on #2805
@sathya-nujella is this bug current and is this P1 or P2. Can't be both :-)

[2022-02-02 00:43] plbossart commented on #2849
@singalsu what should we do with this issue? Either we do something or we close it...

[2022-02-02 00:52] sathya-nujella commented on #2805
Earlier, we got 4~5 reports of this memory allocation failure. Unfortunately the logs from error reports does not have more info.  I removed P1 label.

Team ran some tests to see if any memory leaks, they could not repro.  @cujomalainey : Please share if any new info with memory leak tests and results.

Not sure if we can add any error prints to understand why only this allocation failing.

[2022-02-02 07:26] Timarrr commented on #3249
Kernel 5.16.4, still no sound

[2022-02-02 23:30] cujomalainey commented on #2805
I have not gotten any more reports in the last couple months either

[2022-02-03 05:47] marc-hb commented on #3387
Just found by chance that journald.conf has some rate limit options, worth a try.

[2022-02-03 06:00] marc-hb commented on #3370
I see that #3392 was merged on Jan 28 but with kernel `5.17.0-rc1-daily-default-20220202-0-13669-gbb45f689fa62` I found this `DEBUG_LOCKS_WARN_ON(lock->magic != lock)` by chance in the logs while looking for something else:

[code]

[2022-02-03 06:12] marc-hb commented on #3370
`journalctl -g 'kernel/locking/mutex|Linux version|rt5682_jack_detect_handler'` shows this WARNING has been printed on not all but almost all boots since Jan 21.

#3392 merged on Jan 28 made no difference.

Same on both `jf-tglu-volt-sdw-01` and `jf-tglu-volt-sdw-03`

[2022-02-03 06:17] Vamshigopal commented on #3401
I can see after bus clock stop there is a BUS CLASH and codec driver initiates a write.

[soix_failing.txt](https://github.com/thesofproject/linux/files/7992200/soix_failing.txt)
[soix_working.txt](https://github.com/thesofproject/linux/files/7992201/soix_working.txt)

logs from: failing case-

[  555.695971] soundwire_intel soundwire_intel.link.0: vamshi bus clock stopped 0
[  555.696004] soundwi

[2022-02-03 06:48] naveen-manohar commented on #3401
Is this related to https://github.com/thesofproject/linux/pull/2582, can you check commits exists in your kernel ?

[2022-02-03 07:11] Vamshigopal commented on #3401
yes, we have commits from #2582 in my kernel.

[2022-02-03 12:16] realnickel opened #3412 "[BUG] NO SPEAKER or NO HDMI sound depending on snd-intel-dspcfg option for Cannon Point - LP with ES8336 on DEPO DPC156"
Card ID:
`
00:1f.3 Multimedia audio controller [0401]: Intel Corporation Cannon Point-LP High Definition Audio Controller [8086:9dc8] (rev 30)`

CPU:
`Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz`

When using mentioned laptop with kernel 5.10.9x (with a backported vendor driver for ES8336) I observe a situation when running by default or with

`option snd-intel-dspcfg dsp_driver=1`

there is no SOF su

[2022-02-03 14:40] plbossart commented on #3370
Humm, are we talking about a different platform @marc-hb ? Volteer is SoundWire based, so not sure if PR #3392 fixes any problems.

[2022-02-03 14:44] plbossart commented on #3401
@Vamshigopal I don't understand your logs, what does 'vamshi bus clock stopped 0' means? If the bus clock is stopped, the slave status cannot change. The bus clash is irrelevant, what matter is the first IO timeout.

[2022-02-03 14:53] plbossart commented on #3412
5.16.3 is definitively not going to work.

I don't know what the backported kernel is and why HDMI outputs are not there.

Please try PR https://github.com/thesofproject/linux/pull/3338 (need additional topologies listed in https://github.com/thesofproject/linux/pull/3338#issuecomment-1013246294)

[2022-02-03 17:42] marc-hb commented on #3370
Sorry if it's unrelated, #3392 did not seem platform specific to me but I'm very codec-ignorant.

Either way I thought people who just worked on  an `rt5682_jack_detect_handler ` deadlock would be interested by another (and unrelated?) `rt5682_jack_detect_handler` `DEBUG_LOCKS_WARN_ON` but sorry if I connected the wrong dots; nevermind :-)

[2022-02-03 17:43] Vamshigopal commented on #3401
@plbossart i was checking whether the clock stopped after preparing the slaves.
in this function: int sdw_bus_clk_stop(struct sdw_bus *bus)

Slave status changes only in failing cases, in passing cases slave status doesn't change after clock stops.

[2022-02-03 18:04] plbossart commented on #3401
I don't understand your answers @Vamshigopal, no idea what the cause and effect are.

Please share the diff that adds your traces, that will be more productive, and attach the full dmesg log with dynamic debug. thank you!

[2022-02-03 18:53] ujfalusi commented on #3370
@marc-hb, I will take a look, it is rare (but not impossible) that the lock debug produces false positive.

[2022-02-03 19:21] ujfalusi commented on #3370
This print happens right during boot (@marc-hb can you point me to a log?), the sdw boot differs a bit from the i2c, it is going to schedule the jack_detect work in the sdw_slave .update_status callback. The  mutex and work got initialized in the sdw probe, I assume this should be fine.

I don't have any device with this codec (neither i2c or sdw), so it is going to be again fun to figure this out

[2022-02-03 19:23] ujfalusi commented on #3370
What happened on Jan 21  or before it? Upstream merge, I assume, I'll take a look at those locking patches which took down the i2c path, they might had other issues as well.

[2022-02-03 19:27] marc-hb commented on #3370
No, Jan 21 is just hitting the ~4G default maximum in journalctl, so that's as far as the log gets. For some unknown reason logging on these devices seems to be more verbose than usual... Because of SoundWire? Pure speculation.

[2022-02-03 19:40] Vamshigopal commented on #3401
Attaching the diff that adds trace prints and full dmesg logs with dynamic debug enabled.
[tarce_diff.txt](https://github.com/thesofproject/linux/files/7997611/tarce_diff.txt)
[dmesg_full.log](https://github.com/thesofproject/linux/files/7997613/dmesg_full.log)

[2022-02-03 22:23] plbossart commented on #3370
Good point @marc-hb we seem to log all the SoundWire codec stuff. we don't do this for other types of HDaudio or I2C/I2S codecs. I can't recall why, maybe it was because SoundWire was still new and we needed always get more info.

# SoundWire codecs
options snd_soc_rt700 dyndbg=+p
options snd_soc_rt5682_sdw dyndbg=+p
options snd_soc_rt5682 dyndbg=+p
options snd_soc_rt711 dyndbg=+p
options snd_soc_

[2022-02-03 22:40] plbossart commented on #3401
I just don't get what test you are trying to run here:

[code]

I suspect the timeout is generated because of an earlier write during suspend does not complete.

You have way too many traces for irrelevant devices, please try to remove some and track every write to SCP_SYSTEMCTRL.

[2022-02-03 23:03] plbossart commented on #3401
try e.g. to remove all of these logs
[code]

[2022-02-04 01:24] darrell-k commented on #3248
OK, I've been going down this path as it's the closest I've found to my issue. Different laptop, though:

dmidecode:
[code]
lspci -v
[code]
I've installed the latest Ubuntu test kernel:
uname -a
`Linux darrell-GeoFlex-340 5.16.5-051605-generic #202202011731 SMP PREEMPT Tue Feb 1 18:21:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
`
I've upgraded to sof-2.0 manually from this project and copied sof-cm

[2022-02-04 01:33] darrell-k commented on #3248
I should add that before I started experimenting, I had 3 HDMI outputs in alsa, but the above error has killed those.

[2022-02-04 10:20] ujfalusi commented on #3370
I think this issue is fixed now, can we close it?

@marc-hb, can you create a new issue for the `DEBUG_LOCKS_WARN_ON(lock->magic != lock)` seen on Volteer?

Nothing stands out in the code, I need access to a machine where I can debug it.

[2022-02-04 14:22] plbossart commented on #3248
@darrell-k
options snd-soc-sof-es8336 quirk=0x20
means you enabled the DMICs BIT(5)

Try the alternate GPIO use with BIT(4) so the quirk would be
options snd-soc-sof-es8336 quirk=0x30

In the latest PR https://github.com/thesofproject/linux/pull/3338 I made these GPIOs optional so that the probe would not fail. It would not allow you to use the speakers if somehow the GPIO was needed, but at least

[2022-02-04 15:41] darrell-k commented on #3248
Thanks for the reply. So I need to build a kernel with this PR incorporated?

[2022-02-04 18:24] marc-hb opened #3416 "rt5682_jack_detect_handler DEBUG_LOCKS_WARN_ON(lock->magic != lock)"
I see that #3392 was merged on Jan 28 but with kernel `5.17.0-rc1-daily-default-20220202-0-13669-gbb45f689fa62` I found this `DEBUG_LOCKS_WARN_ON(lock->magic != lock)` by chance in the logs while looking for something else:

[code]

_Originally posted by @marc-hb in https://github.com/thesofproject/linux/issues/3370#issuecomment-1028629555_

[2022-02-04 18:34] marc-hb commented on #3416
`journalctl -g 'kernel/locking/mutex|Linux version|rt5682_jack_detect_handler'` shows this WARNING has been printed on not all but almost all boots since Jan 21st (=the start of the 4G journalctl log)

#3392 merged on Jan 28 made no difference.

Same on both `jf-tglu-volt-sdw-01` and `jf-tglu-volt-sdw-03`

[2022-02-04 18:36] marc-hb commented on #3370
#3416

[2022-02-04 18:47] plbossart commented on #3248
You can build from the PR itself, e.g.

git remote add sof git@github.com:thesofproject/linux.git
git fetch sof pull/3338/head:pr3338
git checkout pr3338

use make menuconfig to make sure the ES8336 is selected and build.

[2022-02-06 18:36] szbergeron commented on #3057
Currently seeing the same behavior on a 9700. AFAIK it uses the exact same sound hardware as 9710. Maybe extend quirk to include 9700 as well?

[2022-02-07 07:26] ujfalusi commented on #3416
@marc-hb, Can you clarify the summary? The wording implies that we need to revert #3392, but as far as I know this issue predates that fix and was seen prior, correct?

`DEBUG_LOCKS_WARN_ON(lock->magic != lock)` is printed in case a lock or unlock is attempted on a mutex which has not yet been initialized.
From the code I just can not see how this happens:
the `rt5682->calibrate_mutex` is initiali

[2022-02-07 09:09] yangxiaohua2009 commented on #3393
Updated code. @plbossart
[es8326.zip](https://github.com/thesofproject/linux/files/8013796/es8326.zip)

[2022-02-07 09:59] Vamshigopal commented on #3401
we are running suspend-resume test, This device have RT711 as headset codec, and while running the test 3.5 headset is not connected to the target device.

trace diff:
[trace_diff.txt](https://github.com/thesofproject/linux/files/8014055/trace_diff.txt)

logs:
[dmesg_2.log](https://github.com/thesofproject/linux/files/8014018/dmesg_2.log)

[  714.201895] rt711 sdw:0:025d:0711:00: SDW_SCP_SYSTEMCTR

[2022-02-07 10:05] tonitch commented on #3393
I might be wrong but I wanted to test it,
I'm not into modules or anything so I looked up online how to compile and load it so I made a Makefile with
[code]
and ran `make`

so the error seemed to be that symmetric_rates doesn't exist but symmetric_rate does (I looked up and it is on the soc.h)

[code]
Anyway, I suppose you know what you are doing more than me but I wanted to give it a try anyway (

[2022-02-07 11:39] ujfalusi commented on #3416
I have been running reboot test on the Volteer remotely with #3417 and so far I have not been able to reproduce the issue. I have also tried to reproduce it with the daily image with 30+ reboots, but not a single case either.

The log points to a print at one of the mutex_lock call as we have the `jack_type = 1` printed after the dump, which is coming from `rt5682_headset_detect()` protected by th

[2022-02-07 12:38] plbossart commented on #3057
@szbergeron please attach the results of 'alsa-info' so that we can check if the hardware is different, thanks!

[2022-02-07 12:51] plbossart commented on #3393
The code looks mostly ok @yangxiaohua2009 but I would recommend you submit a proper PR or patch with your Signed-off-by tag, otherwise it's hard to review. You would also want to have the Makefile changes so that people can compile and run tests.

I also noted that the indentation is off, and that you didn't cleanup the 'master/slave' references.

[2022-02-07 13:20] plbossart commented on #3401
That's the value with WakeUpEnable=1 and ClockStopPrepare=1, in other words the value that shall be written for every suspend.

I would recommend you try with the topic/sof-dev branch to rule out a backport or kernel issue. I am not able to help further at this point.

[2022-02-07 14:28] Vamshigopal commented on #3401
Ack, I will give a try.

[2022-02-07 15:06] szbergeron commented on #3057
@plbossart here's the output from alsa-info.sh

[alsa-info.txt](https://github.com/thesofproject/linux/files/8016306/alsa-info.txt)

[2022-02-07 15:36] plbossart commented on #3057
@szbergeron we've had support for the SKU 098F for about two years now, it's a rather classic CometLake device with 2 amplifiers. The card is created alright and you expose the right configuration to userspace.

what is the issue you're seeing?

The only surprising things I see in your setup is the loopback, not sure why it's needed? and the configuration for servers looks weird

[code]

[2022-02-07 16:14] szbergeron commented on #3057
@plbossart I get no signal for the built-in microphone or headphone microphone (but get input fine when using a usb headphone dac or wireless earbuds, so I *think* pw is handling input correctly). If it's off topic for this issue I can make a new one though

[2022-02-07 16:24] plbossart commented on #3057
@szbergeron The headset mic is handled by the RT711 chip, and the local mics by the RT715 chips. They are exposed as separate ALSA devices.

you can try at the ALSA level by doing something like

alsaucm -c sof_sdw set _verb HiFi set _enadev Microphone
arecord -Dhw:1,4 -c2 -r48000 -f S16_LE

alsaucm -c sof_sdw set _verb HiFi set _enadev 'Jack In'
arecord -Dhw:1,1 -c2 -r48000 -f S16_LE

If you see

[2022-02-07 16:40] szbergeron commented on #3057
@plbossart I don't have an sof_sdw device, only sof-soundwire. On that I don't have any entries in _enadevs to pick from:
![image](https://user-images.githubusercontent.com/7364398/152831932-d0e0dd13-c7ac-48ed-b403-3312da052718.png)

The given command augmented with `-c sof-soundwire` yields:
![image](https://user-images.githubusercontent.com/7364398/152832440-22a74556-0d4f-485e-82cc-a3005a9218af.

[2022-02-07 17:22] plbossart commented on #3057
try this @szbergeron

alsaucm -c sof-soundwire set _verb HiFi set _enadev Mic
alsaucm -c sof-soundwire set _verb HiFi set _enadev Headset

[2022-02-07 17:51] marc-hb commented on #3416
I rephrased the whole summary. I used the GitHub shortcut "create a new issue from this comment" and lazily left the original and out of context comment as is, sorry about that.

[2022-02-07 18:04] marc-hb commented on #3416
With `journalctl -g 'kernel/locking/mutex|Linux version|rt5682_jack_detect_handler'` I can see your reboot tests on `jf-tglu-volt-sdw-03` and the WARN is indeed missing. That was with `Linux version 5.16.0-rc1-pr3417-7113-default (test@sof-ci-build-01)`. Looking back in time I see that `jf-tglu-volt-sdw-03` does indeed not seem to reproduce with `5.16-rc1-daily-*` versions, the warning appeared on

[2022-02-08 17:40] realnickel commented on #3412
@plbossart , thank you for your advice!
Which kernel version this PR is best applicable to?
I tried 5.17-rc3, but haven't succeeded yet. Patch adoption is needed.

[2022-02-08 18:36] darrell-k commented on #3248
The 5.16 kernel stuff I've installed means that I can't install the build packages from the Mint Linux repositories at the moment. I'll work on this (might switch repos to Ubuntu testing and hope for the best!). In the meantime, I tried the kernel [here](https://github.com/yangxiaohua2009/custom-kernel), built from 3338.

Results (with the 0x30 quirk): working headset jack, but no internal mic. In

[2022-02-08 21:37] plbossart commented on #3412
@realnickel use the PR as is, it's already on top of 5.16-rc7 IIRC.

[2022-02-08 21:45] plbossart commented on #3248
@darrell-k I don't know what happens here. it looks like the right GPIO is found.

@yangxiaohua2009 @hli25 any idea how the volume can be controlled through alsamixer?

[2022-02-09 06:50] yangxiaohua2009 commented on #3248
The user have no sound from speaker because the GPIO is not found. For example, the dsdt [dump_cml.zip](https://github.com/thesofproject/linux/files/8029987/dump_cml.zip) is so complicated that the machine driver cannot find the GPIO using default approach. I recommand that the user use a custom dsdt table.
First dump the dsdt table by
`sudo cat /sys/firmware/acpi/tables/DSDT > dsdt.dat`
`iasl -d

[2022-02-09 07:06] fcsm1922 commented on #3248
Should we expect that the problem of the lack of sound will be solved in the new kernel version 5.18?
Now I have the mainline kernel version: 5.17-rc3
I copied all tplg files from es8336-topologies-2.tar archive to /usr/lib/firmware/intel/sof-tplg/
i tried different values in options snd-soc-sof-es8336 quirk=
0x10, 0x20, 0x21.0x22.0x30.0x31.0x32
i copied sof-dyndbg.conf.txt like /etc/modprobe.d/so

[2022-02-09 07:14] yangxiaohua2009 commented on #3248
For alsamixer, just turn every

Also, some value in the alsamixer can not be changed because they are controled by the driver. The volume register has already been set to max by default.

[2022-02-09 07:18] yangxiaohua2009 commented on #3248
We recommand you use code in #3338 or the custom kernel built from it [here].(https://github.com/yangxiaohua2009/custom-kernel)
Please provide alsainfo so we can know what's going on. @fcsm1922

[2022-02-09 07:24] yangxiaohua2009 commented on #3393
Created a [PR](https://github.com/plbossart/sound/pull/25). @plbossart

[2022-02-09 07:26] fcsm1922 commented on #3248
I'll upload the log file tonight
those. wait for official support that our sound card will be added to the new version of the kernel is not worth it?

[2022-02-09 09:10] giddie commented on #2971
Another instance.

[kernel.log.gz](https://github.com/thesofproject/linux/files/8031149/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/8031150/sof-log.gz)

[2022-02-09 11:11] byofa commented on #3249
I don't think someone is working on the amd version.

[2022-02-09 14:27] darrell-k commented on #3248
I tried this, got a load of warnings but no errors on the recompile.

I also changed the OEM version as per the Arch wiki
[code]
applying the new table using the Arch wiki method did not work:
[code]
but this way did (grub.cfg):
[code]

`ACPI: DSDT 0x000000009B1DE000 04210F (v02 ALASKA A M I    01072010 INTL 20190509)`

However the only effect of this change was to kill the headset microphone. Any

[2022-02-09 14:37] darrell-k commented on #3248
I should add that the system still thinks the headset is always plugged in, and that I am using the kernel in your "kernel.zip". The jack_normal and jack_inverted kernels do not change this, but both kill the headset microphone.

[2022-02-09 16:30] plbossart commented on #2971
Thanks @giddie the last log looks interesting

[code]
@ranj063 does this look right to you that we have a hw_params operation while we are still loading widgets? That could be a race condition leading to all kinds of IPC errors, no?

[2022-02-09 16:39] plbossart commented on #3248
I am not following, sorry @yangxiaohua2009. The mappings done in the machine driver are totally equivalent to what you are doing with the _DSD properties, but most likely the values for index, pin, active low are incorrect.

The machine driver only supports this:

[code]

it looks like you are recommending another mapping that would be { 0, 0, false} ?

[code]

[2022-02-09 17:54] neuisenburger commented on #3248
Hi everybody, I had some partial success on the Huawei Matebook D14 with Intel core i5 10210u under Ubuntu 21.10: I followed the instructions to install the custom kernel by [yangxiaohua2009](https://github.com/yangxiaohua2009). Now, if I do not attach a headphone, I do not get any sound output. If however, I attach a headphone, I do get sound output from the internal speakers! Just wanted to let

[2022-02-09 18:36] plbossart commented on #3248
Thanks @neuisenburger we probably need a quirk then that will invert the jack detection.

I see in the es8136 driver that they already have a property:

[code]

and we can fairly easily test that property from the machine driver.

Actually we've done this in bytcht_es8316.c already so it's just a matter of adding this code to sof_es83316.c

[code]

@yangxiaohua2009 was your custom kernel based on

[2022-02-09 19:08] fcsm1922 commented on #3248
options snd-soc-sof-es8336 quirk=0x01

http://alsa-project.org/db/?f=1a4a1452dff7d5abfbd7b6fe49a82b095c4ca878

options snd-soc-sof-es8336 quirk=0x10

http://alsa-project.org/db/?f=e8732ca336ce7e7db822162b94b4708ee2bd12e2

options snd-soc-sof-es8336 quirk=0x20

http://alsa-project.org/db/?f=f237fac54b5e30fe54f8e295a98d4e37c2c3e96c

options snd-soc-sof-es8336 quirk=0x21

http://alsa-project.org/db/?

[2022-02-09 19:12] neuisenburger commented on #3248
Finally even more success: I now get the sound output from the speakers when no headphone is attached. All I had to do was to switch from quirk 0x30 to quirk 0x20.

Here is what I did:
1) Download the files from the custom kernel of  [yangxiaohua2009](https://github.com/yangxiaohua2009) .
2) Unzip the kernel.zip.
3) There should now be four .deb packages now. Install all of them by sudo dpkg -i *.

[2022-02-09 21:00] plbossart commented on #3248
that sounds very strange. in the tar file I added sof-cml-es8336-ssp0.tplg. With the new kernel you shouldn't use sof-cml-es8336.tplg any longer. Do you mind checking your kernel dmesg to see what topology file is used. just grep for 'topology'

That's not bringing anything in terms of functionality, it just enables more verbose logs for SOF and codec modules.

[2022-02-09 22:06] neuisenburger commented on #3248
Here is an extract of my dmesg.

_[    3.054002] sof-essx8336 sof-essx8336: Overriding quirk 0x2 => 0x20
[    3.054006] sof-essx8336 sof-essx8336: quirk SSP0
[    3.054386] sof-audio-pci-intel-cnl 0000:00:1f.3: loading topology:intel/sof-tplg/sof-cml-es8336.tplg
[    3.055401] sof-audio-pci-intel-cnl 0000:00:1f.3: Topology: ABI 3:18:1 Kernel ABI 3:18:0
[    3.055408] sof-audio-pci-intel-cnl 0000:0

[2022-02-09 22:18] plbossart commented on #3248
ok so I have no idea which kernel you are using @neuisenburger ... my latest code uses sof-cml-es8336-ssp0 precisely to avoid overridding installed files in /lib/firmware.

It makes even less sense to use a 'glk' topology on a 'cml' device.

[2022-02-09 22:30] neuisenburger commented on #3248
I am using the custom kernel from [yangxiaohua2009](https://github.com/yangxiaohua2009) that is version 5.16.0-rc1-apl . The kernel is included in the four .deb packages, that I installed by sudo dpkg -i *.deb

_[    0.000000] microcode: microcode updated early to revision 0xea, date = 2021-01-05
[    0.000000] Linux version 5.16.0-rc1-apl (a@a-VirtualBox) (gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0,

[2022-02-09 23:22] darrell-k commented on #3248
@plbossart , From a (mostly) dumb user perspective, I'm getting confused, maybe because I've tried several fixes on top of each other, and who knows what exactly led to my current half working audio.

I've installed a fresh Debian Testing on a new partition, which should serve as a good base to start over again. I can either start with a @yangxiaohua2009 kernel from https://github.com/yangxiaohua2

[2022-02-09 23:33] plbossart commented on #3248
@darrell-k I could recommend you install your own kernel since you seem to have an interesting device and we might ask you to add changes for debug purposes

For the code access, can you try with http access

git remote add sof https://github.com/thesofproject/linux.git
git fetch sof pull/3338/head:pr3338
git checkout pr3338

or alternatively if you just want to code for this PR get a zip file fro

[2022-02-10 00:20] darrell-k commented on #3248
@plbossart OK, fine. Thanks again.

[2022-02-10 02:22] yangxiaohua2009 commented on #3248
The custom kernel is built when the fix of tplg is still not done. I will update the custom kernel after a quirk is added to invert the jack detection. Also, with the lastest codec in #3338 I see a crash everytime system shutdown. Please fix it.
[log.zip](https://github.com/thesofproject/linux/files/8037537/log.zip)

[2022-02-10 02:32] yangxiaohua2009 commented on #3248
Yes you are right, with the _dsd the GPIO still cannot be found. @darrell-k Can you provide the dsdt table of your device? You may need to change the dsdt table so that the machine driver can find the GPIO.
The fix on #3338 is not related to your issue,  it's appreciated if you can test the lastest code.

[2022-02-10 02:36] yangxiaohua2009 commented on #3248
Here are two dsdt table examples, GPIO can be found in one and cannot be found in the other. @plbossart @darrell-k
[dsdt.zip](https://github.com/thesofproject/linux/files/8037595/dsdt.zip).

[2022-02-10 05:06] realnickel commented on #3412
Still no luck applying PR patch set, but I managed to build your PR development branch with my settings.
Config and dmesg are attached, do not be confused with kernel version, it's just a fake one not to interfere with existing.
Additional topologies were added to those of version 2.0.
I still have to add
`options snd-intel-dspcfg dsp_driver=3`
to start driver in SOF mode.

No devices were found i

[2022-02-10 05:36] fcsm1922 commented on #3248
can you tell me something about my logs? @yangxiaohua2009 @plbossart

[2022-02-10 06:14] yangxiaohua2009 commented on #3248
You are forcing the quirk so we don't know which ssp you are using.
Set the quirk=0x10 is ok though.
You can't see sound card because the wrong tplg is used.
copy the tplg file "sof-tgl-es8336-dmic2ch-ssp0.tplg" in
[es8336-topologies-2 (1).tar.gz](https://github.com/thesofproject/linux/files/8038516/es8336-topologies-2.1.tar.gz)
to /lib/firmware/intel/sof-tplg and rename it "sof-tgl-es8336.tplg" a

[2022-02-10 06:32] aiChaoSONG commented on #3359
![sof-adl-max98357a-rt5682_taged](https://user-images.githubusercontent.com/52959957/153347411-c37138df-d684-4db7-b0b6-4423137d9575.png)

Patch to print source ipc_comp_dev and sink ipc_comp_dev: [debug_ppl_complete.patch.txt](https://github.com/thesofproject/linux/files/8038414/debug_ppl_complete.patch.txt)

## With static topology

<details>
  <summary>Firmware log with above patch</summary>

[c

[2022-02-10 09:36] fcsm1922 commented on #3248
sorry for the question, but
should I unpack the contents of the archive to /lib/firmware/intel/sof-tplg?
or just what you wrote to do:
sudo cp sof-tgl-es8336-dmic2ch-ssp0.tplg /lib/firmware/intel/sof-tplg/sof-tgl-es8336.tplg?

[2022-02-10 09:47] fcsm1922 commented on #3248
http://alsa-project.org/db/?f=b5f2a50cda47709045083827c306642018d9005c
@[angxiaohua2009](https://github.com/yangxiaohua2009)

[2022-02-10 10:00] yangxiaohua2009 commented on #3248
Sorry, you need to
`sudo cp sof-tgl-es8336-ssp0.tplg /lib/firmware/intel/sof-tplg/sof-tgl-es8336.tplg` @fcsm1922
The default sof-tgl-es8336.tplg contains dmic infomation (the same as sof-tgl-es8336-dmic2ch-ssp0.tplg) in it which your machine driver don't have.
sof-tgl-es8336-ssp0.tplg should contain no dmic infomation.

[2022-02-10 10:11] fcsm1922 commented on #3248
he volume is adjustable ... cheers !!!
But there is no sound, neither through the speakers, nor through the headphones ((
http://alsa-project.org/db/?f=0cbf4776eb32de2abe6f7817d4498782ef3af64e  @[yangxiaohua2009](https://github.com/yangxiaohua2009)

[2022-02-10 10:30] fcsm1922 commented on #3248
the contents of the es8336-topologies-2(1).tar.gz archive had to be unpacked to /lib/firmware/intel/sof-tplg???
or just needed to do what you wrote without copying the whole archive:
sudo cp soft-tgl-es8336-ssp0.tplg /lib/firmware/intel/sof-tplg/sof-tgl-es8336.tplg?
@yangxiaohua2009

[2022-02-10 11:11] darrell-k commented on #3248
Decompiled DSDT attached. Also in the zip is a log of the decompiler messages - there are several warnings.

@yangxiaohua2009 what do you mean by the latest code? - there are several possibilities in your https://github.com/yangxiaohua2009/custom-kernel - judging by the dates the latest would be either the jack_normal or jack_inverted kernel together with [es8336-topologies-2.tar.gz](https://githu

[2022-02-10 13:53] darrell-k commented on #3248
@plbossart is this the correct config option for ES8336?
![Screenshot from 2022-02-10 13-50-09](https://user-images.githubusercontent.com/97928054/153421568-e71b198a-e8b3-4521-b5f6-3feaa56412a8.png)

[2022-02-10 15:49] plbossart commented on #3412
@realnickel unfortunately the dmesg log starts *after* the parts on the card creation, so I can't tell you what's happening.

Can you do the following:
in /etc/modprobe.d/alsa-base.conf add

blacklist sof-audio-pci-intel-cnl

reboot, then do a dmesg -C, then modprobe sof-audio-pci-intel-cnl and capture the dmesg log immediately. That will help get the initial log. Then remove the blacklist.

Thank

[2022-02-10 15:54] plbossart commented on #3248
Separate problem, please file a separate issue for this and copy @kv2019i

[2022-02-10 15:55] plbossart commented on #3248
yes indeed.

[2022-02-10 15:58] darrell-k commented on #3248
Good. It's been compiling for a couple of hours now, laptop is getting quite warm! When it is done, would it be best to create .deb files for installation? Any guides out there for doing this?

[2022-02-10 15:58] plbossart commented on #3248
@yangxiaohua2009 this is not efficient if the instructions for your compiled kernel and PR #3338 are different. Please recompile your kernel so that both of us can provide the same instructions.

[2022-02-10 16:45] darrell-k commented on #3248
@plbossart the compile is finished, but now I find out I should have used "make deb-pkg" rather than just "make". Can I do that now to create the packages without the whole thing compiling again?

[2022-02-10 18:00] nklayman commented on #3248
@darrell-k `make bindeb-pkg` should build only the deb and skip the sources, but I'm not 100% sure it'll work. You're probably better off just running `make deb-pkg`. Even if it does rerun `make` it'll be much faster as it only has to verify everything instead of rebuilding. If you run `make deb-pkg -j[n]` where `[n]` is the number of threads you have it'll be much faster as well.

[2022-02-10 22:15] darrell-k commented on #3248
@nklayman Thanks - it did the build all over again, but c'est la vie!

@plbossart I've now built and installed the #3338 kernel, and dropped the contents of https://github.com/thesofproject/linux/pull/3338#issuecomment-1013246294 into the topology directory of a fresh linux-firmware install. I have not specified any quirks for snd-soc-sof-es8336 in modprobe.d.

Results:

Output of dmesg | grep sof

[2022-02-10 23:59] plbossart commented on #3248
@darrell-k thanks for this test. the logs look pretty good to me, your kernel seems to have pick a quirk automagically
[code]

@darrell-k PulseAudio/Pipewire will do nothing for now because we are missing a UCM file required for configuration. If I had hardware I could have created on a long time ago but that's clearly a miss.

For now I recommend that you test at the hw level with e.g. aplay -Dhw

[2022-02-11 00:49] darrell-k commented on #3248
@plbossart No problem at all, I'm happy to help if I can. I'll have a go with your suggestions in the morning and report back.

[2022-02-11 06:20] yangxiaohua2009 commented on #3248
You may copy everything, but only the file `/lib/firmware/intel/sof-tplg/sof-tgl-es8336.tplg` is used

[2022-02-11 06:37] fcsm1922 commented on #3248
I figured this out, thanks.
BUT I have no sound .. from the speakers and headphones ...
at the same time, I see how the indicator (plasma widget) fluctuates from the music being played.
what to do next? @yangxiaohua2009

[2022-02-11 07:06] yangxiaohua2009 commented on #3248
Just remove the quirk to see which ssp your device is using. You are using quirk to force probe ssp0.

[2022-02-11 07:19] fcsm1922 commented on #3248
commented out the line parameters snd-soc-sof-es8336 quirk=0x10 located at
/etc/modprobe.d/alsa-base.conf
rebooted, the speaker on the panel is crossed out (missing)
here is the output of alsa-info
http://alsa-project.org/db/?f=87f10d5f57b814e6a2525d3e17754f06bbe02323

what to do next? @yangxiaohua2009

[2022-02-11 07:26] neuisenburger commented on #3248
If you have no sound but the indicator says there is, also check the mixer setting in alsamixer application. I had this issue once. One of the mixers was initially turned down, after I changed it to 100% volume I have perfectly fine sound output through the speakers,

[2022-02-11 07:34] yangxiaohua2009 commented on #3248
The log says your device uses ssp2

Let the tplg ssp2 be used by
`sudo cp sof-tgl-es8336-ssp2.tplg /lib/firmware/intel/sof-tplg/sof-tgl-es8336.tplg`

[2022-02-11 07:48] fcsm1922 commented on #3248
did as you wrote. still no sound
line commented out snd-soc-sof-es8336 quirk=0x10 located at /etc/modprobe.d/alsa-base.conf
is there anything else that can be done? @yangxiaohua2009

[2022-02-11 07:57] fcsm1922 commented on #3248
this is when I just launched alsamixer

![alsamixer](https://user-images.githubusercontent.com/71817976/153555218-fbf74d1b-0995-4635-a8f3-7b962c4f61c2.png)
and this is if the driver is selected via F6 sof-essx8336

![driver es](https://user-images.githubusercontent.com/71817976/153555491-8930e6a5-befb-4c45-af07-06c20e93c099.png)

![driver es_](https://user-images.githubusercontent.com/71817976/153

[2022-02-11 08:10] yangxiaohua2009 commented on #3248
You need to ask @plbossart to provide you new custom ssp2-tplg files with different mclk configuration, i.e., mclk 0,1,2.
We don't know which you are using so you need to try all of them.

I can provide you custom ssp2-tplg files but I'm afraid this brings more confusion. :(

[2022-02-11 08:17] fcsm1922 commented on #3248
@plbossart could you please provide new custom ssp2-tplg files with different mclk config i.e. mclk 0,1,2.

[2022-02-11 08:19] fcsm1922 commented on #3248
Let's try, maybe the sound will start @yangxiaohua2009

[2022-02-11 08:55] yangxiaohua2009 commented on #3248
[sof-glk-es8336-ssp2.zip](https://github.com/thesofproject/linux/files/8047208/sof-glk-es8336-ssp2.zip)

[2022-02-11 09:29] realnickel commented on #3412
@plbossart, sorry, I didn't notice before that head of dmesg log was missing.
Please refer to attached logs.
[modprobe_dsp3.log](https://github.com/thesofproject/linux/files/8047407/modprobe_dsp3.log)
[clean_snd_init_lsmod_dsp_3.log](https://github.com/thesofproject/linux/files/8047408/clean_snd_init_lsmod_dsp_3.log)
[clean_sound_init_dmesg_with_dyndebug_dsp_3.log](https://github.com/thesofproject

[2022-02-11 09:41] fcsm1922 commented on #3248
I'm sorry, does this need to be done with each of those files that are in the archive?
`sudo cp sof-glk-es8336-ssp2-mclk0.tplg /lib/firmware/intel/sof-tplg/sof-tgl-es8336.tplg`
Right? @[yangxiaohua2009](https://github.com/yangxiaohua2009)

[2022-02-11 12:04] darrell-k commented on #3248
@plbossart

First of all, I had to kill pulseaudio to get beyond "device busy" (by the way, when testing sound in gnome-control-center the pavucontrol vu meter does move):
[code]
similarly:
[code]
however:
[code]
In this last case, there is a pop in the headphones on starting and exiting the command, and very faint hissing while it is running.

[code]
[code]
This does not toggle anything that I ca

[2022-02-11 14:53] tusharvidhani3 commented on #2955
I was also facing the same on arch. You can fix it by placing your wifi/modem driver .ucode file to your lib/firmware and then reboot your system.

[2022-02-11 15:04] tonitch commented on #3393
again, I'm really not an expert but I tried to pull your branch, I compiled it and now I'm running it,

I clearry can be wrong but I tried with and without dsp config to 1 and either doesn't work for me

can I give any info on that ?

[2022-02-11 15:48] plbossart commented on #3412
@realnickel no idea what's going on. The code skips the creation of the sof_es8336 card and jumps to HDAudio.

can you try to apply the following diff to see what might happen:

[code]

install, reboot and see if this trace shows up.

[2022-02-11 15:51] realnickel commented on #3412
Yes, surely, I'll try

[2022-02-11 15:55] plbossart commented on #3248
@darrell-k

that's the ones I was talking about

You cannot set those values, they are read-only and they should change if you plug/remove the headphone/headset
so plug the headet, do a cget multiple times (takes time to detect sometimes), remove and do the same.

If the headphone detection doesn't work then that's yet another problem to fix. Happy Friday!

[2022-02-11 16:22] fcsm1922 commented on #3248
@plbossart
 could you please provide new custom ssp2-tplg files with different mclk config i.e. mclk 0,1,2. ??

[2022-02-11 16:27] plbossart commented on #3248
That's not a good idea since we have no means of detecting what topology to use. It's better IMHO to provide a quirk to override the topology. At the end of the day it's the same thing, the user will have to set a quirk and I don't have to maintain this extra topology.

[2022-02-11 16:29] fcsm1922 commented on #3248
@plbossart
good. what should I do then? How can I help you?

[2022-02-11 16:59] plbossart commented on #3248
@fcsm1922 try the updated branch with the suggested quirk. https://github.com/thesofproject/linux/pull/3338 commit 4984989a80e4c815d1130ad47a4eb0dcf3b38e16

[2022-02-11 17:00] darrell-k commented on #3248
Ah, now I understand. Both ids 27 and 28 stay stubbornly "off" regardless of plugging/unplugging the headset (it's a single 4 pole jack).

[2022-02-11 17:02] plbossart commented on #3248
Bummer, that's a codec driver issue then @darrell-k. I can't help you on this, you will have to take it up with @[yangxiaohua2009

[2022-02-11 23:34] marc-hb commented on #3387
Another side effect: on some devices we have less than 1 week of logs:

[code]

Would some log level tuning make sense?

cc: @fredoh9 , @keqiaozhang , @aiChaoSONG , @kv2019i

[2022-02-12 01:13] plbossart commented on #3387
new one: https://sof-ci.01.org/linuxpr/PR3338/build7152/devicetest/?model=CML_SKU0955_HDA&testcase=check-playback-3times

looks like file system issues again
[code]

[2022-02-12 01:16] darrell-k commented on #3248
Good news - I found some old configuration that I hadn't cleaned up from previous experiments (I decided to clean my install rather than start with a fresh Debian, but hadn't quite got it right until now). The bit I had left in was @yangxiaohua2009's /usr/share/alsa/ucm2/sof-essx8336 directory.

With this removed, the toggle on numid 27 (Headphone Jack) now works (and the status of the headset is

[2022-02-12 03:10] plbossart commented on #3248
@darrell-k the updated PR #3338 provides a quirk to invert the jack - compile tested only.

#define SOF_ES8336_JD_INVERTED			BIT(6)

You would need to first see what the value of the quirk is (see dmesg log) and then override the value reported by setting this BIT(6) - all other bits preserved as is.

@yangxiaohua2009 this PR also provides an extension for the ES8326 codec. Again compile tested on

[2022-02-12 11:01] darrell-k commented on #3248
I'm probably misunderstanding, but I see the jack detected normally now, it shows unplugged when it's unplugged and plugged when it's plugged. Or does this mean something different?

[2022-02-12 18:37] plbossart commented on #3248
@darrell-k did you add a quirk or not? The inversion added by the quirk should invert a confusion done inside the driver.

[2022-02-12 19:33] darrell-k commented on #3248
@plbossart No I did not.

[2022-02-12 19:41] plbossart commented on #3248
then you don't need the JD_INVERTED quirk and have another issue to root-cause...

[2022-02-14 01:46] keqiaozhang commented on #3364
@padmashree9110 , please try with the latest kernel and firmware release: https://github.com/thesofproject/sof/releases/tag/v2.0

[2022-02-14 10:27] tonitch commented on #3393
Hello,
Today the gdk team released what they call "sound firmware for N6000" (this is the firmware I own)
this is great in a way but this took me 3 sec by looking to the process to see that they don't really know what they are doing and I can't really trust that, I will try to analyze and install it my own way to see if it works but maybe this could be usefull for any of you ?

https://www.indiego

[2022-02-14 11:18] phre2 opened #3428 "No sound on Chuwi Herobook Pro Alsamixer Speaker 00 Intel Geminilake essx8336"
Hi everyone -- Some months ago I bought this Chuwi Herobook Pro because my Macbook stopped working, so I returned using Linux after years.

First thing I noticed there was no audio, only Dummy Output. I've tried everything in these past months but no results. Finally it seems a solution, reading online: newest kernel + sof.

So I've installed Kernel 5.16 + sof-bin 2.0 and finally the audio card it

[2022-02-14 16:32] plbossart commented on #3428
@phre2 the latest instructions are to try with
https://github.com/thesofproject/linux/pull/3338
and updated topologies from https://github.com/thesofproject/linux/files/7871608/es8336-topologies-2.tar.gz

please attach alsa-info when the device is setup with this test kernel.

[2022-02-14 17:23] phre2 commented on #3428
Copied the updated topologies in the right dir, but where to find the test kernel?

[2022-02-14 17:43] plbossart commented on #3428
You have to compile it yourself I am afraid.We have an on-going PR to provide guidance in https://github.com/thesofproject/sof-docs/pull/404 but it's not merged just yet.

[2022-02-14 18:14] szbergeron commented on #3057
That does seem to make arecord show terminal activity. Bummer, guess the problem is higher up.

[2022-02-14 18:39] plbossart commented on #3057
@szbergeron I would try an update of alsa-ucm-conf and pipewire, it's likely between those two that there is a mismatch.

[2022-02-14 19:52] cmurf opened #3430 "[BUG] 5.17-rc4, DMA-API: sof-audio-pci-intel-cnl 0000:00:1f.3: mapping sg segment longer than device claims to support"
**Describe the bug**
Getting a warning in dmesg when running 5.17 series kernels

[   15.267615] DMA-API: sof-audio-pci-intel-cnl 0000:00:1f.3: mapping sg segment longer than device claims to support [len=540672] [max=65536]
[   15.269962] WARNING: CPU: 0 PID: 5 at kernel/dma/debug.c:1162 debug_dma_map_sg+0x328/0x380

**To Reproduce**
Boot

**Reproduction Rate**
Always

**Expected behavior**
Not t

[2022-02-14 19:54] cmurf commented on #3430
ThinkPad X1 Carbon Gen 7 Laptop
[lspci-vvnn.txt](https://github.com/thesofproject/sof/files/8063568/lspci-vvnn.txt)

[2022-02-14 20:25] szbergeron commented on #3057
@plbossart both are currently running the latest stable version packaged for arch (alsa-ucm-conf 1.2.6.3-1 and pipewire 1:0.3.45-1) so not sure

[2022-02-15 00:33] plbossart commented on #3430
Thanks for reporting this @cmurf, very puzzling problem.

As you can see from the trace, we rely on default helpers from the sound/ tree, the allocation of the DMA is not done inside the SOF driver but in those common helpers.

To check if indeed the problem is with this set of helpers would you mind trying to run the legacy driver by adding this in /etc/modprobe/alsa-base.conf (or any file in tha

[2022-02-15 00:57] cmurf commented on #3430
Added to `/etc/modprobe.d/alsa-base.conf` and the next boot contains:

[code]
[dmesg2.txt](https://github.com/thesofproject/sof/files/8064931/dmesg2.txt)

[2022-02-15 01:00] plbossart commented on #3430
Great, thanks @cmurf, it's super useful to see that both drivers behave in the same way.

At this point we will have to ping @tiwai to ask for his guidance. It's no longer an SOF bug proper but something going boink in the memory management.

[2022-02-15 02:02] imtangmeng commented on #3389
This issue has been determined to be fixed in commit 619764cc2ec9ce1283a8bbcd89a1376a7c68293b and edca7cc4b0accfa69dc032442fe0684e59c691b8 upstream.

Thanks for the heads up!
Best regards

[2022-02-15 02:51] cmurf commented on #3430
Downstream bug https://bugzilla.redhat.com/show_bug.cgi?id=2054466

Possible dup downstream bug with kernel 5.16.0-0.rc0.20211104git7ddb58cb0eca.3.fc36.x86_64l  https://bugzilla.redhat.com/show_bug.cgi?id=2020759

[2022-02-15 07:28] tiwai commented on #3430
It's a missing dma_set_max_seg_size() setup in the driver side.
Here are patches I'm going to submit.
[0001-ALSA-hda-Set-max-DMA-segment-size.patch.txt](https://github.com/thesofproject/linux/files/8066746/0001-ALSA-hda-Set-max-DMA-segment-size.patch.txt)
[0002-ASoC-SOF-hda-Set-max-DMA-segment-size.patch.txt](https://github.com/thesofproject/linux/files/8066747/0002-ASoC-SOF-hda-Set-max-DMA-segmen

[2022-02-15 09:02] yangxiaohua2009 commented on #3393
This update should solve your problem, go ahead and install it. Will ask the GPD team to update their kernel later.

[2022-02-15 09:24] tonitch commented on #3393
as I'm on archlinux and because this uses deb packages I have to decompile
this update and try to apply it to my distro.
I tried yesterday and this updated has to replaced some file in lib... at
first I didn't want to do that but I finaly did as I have a backup in case
it goes wrong...
at the end I had to load my backup because the computer wouldn't turn on
after that (kernel panic) now I will try

[2022-02-15 18:26] phre2 commented on #3428
Oh, I see. Hopefully I still remember how to do it after all these years. Where to find the sources to compile it?

[2022-02-15 18:48] plbossart commented on #3428
https://github.com/plbossart/sound/tree/fix/sof-es8336-quirk

[2022-02-15 20:10] yongzhi1 commented on #3368
Think this is a genuine issue that can be reproduced with adl-004-drop-stable with [chromeos-5.10](https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.10) on customer boards, the issue is not reproducible with -DDYNAMIC=1 enabled sof-adl-max98390-rt5682.tplg, thanks for taking another look.

[2022-02-16 01:19] realnickel commented on #3412
@plbossart , it seems sound/soc/intel/common/soc-acpi-intel-cnl-match.c lacks information on ESSX8336.
Please refer to my test commit which made possible for me to have at least sound in phones : https://github.com/realnickel/sound/commit/cd2d1602bdec88b21f613342d2592a3a26501dc0 .
I tested with sof-glk-es8336 topology, as there is no sof-cnl-es8336, but will try others also.
Any ideas for improvem

[2022-02-16 02:27] plbossart commented on #3412
good catch @realnickel, I didn't know there were CNL devices. that also means we need a change in intel-dspcfg. Gah.

The other point that you made me realize is that we can't use the same topology as GLK, this will not work because of clocking differences. I have to re-generate new topologies for this that use 24 MHz as the root clock for CML and CNL, not 19.2 MHz

[2022-02-16 02:51] plbossart commented on #3412
@realnickel would you mind re-testing the updated PR #3338 with the new topologies for CML/CNL that need to be installed in /lib/firmware/intel/sof-tplg/

[es8336-topologies-3.tar.gz](https://github.com/thesofproject/linux/files/8076329/es8336-topologies-3.tar.gz)

edit: the topology PR is here https://github.com/thesofproject/sof/pull/5368

[2022-02-16 07:53] wzrdtales commented on #3057
mic audio started to break again for me as well...

[2022-02-16 08:09] wzrdtales commented on #3057
https://0bin.net/paste/iDN-m8qZ#cC1ApntGgFpIDVlMNVBcXvXoJ3HuBHp+3ZjPJUNvbqq

already downgraded several resources still not functional again

with latest components. mic not working, checked under windows to check the mic in general, it works over there. so dunno what broke just now...

https://0bin.net/paste/zG5Qs7Kk#dsuCwknU02wozlrmTuVhOv8gx2yd48oN+Wec6Jmwvol

[2022-02-16 08:31] padmashree9110 commented on #3364
@plbossart 5.10 kernel is our POR. So using it.  I tried with latest release v2.0 (sof-audio-pci-intel-tgl 0000:00:1f.3: Firmware info: version 2:0). Still i see same issue with 3.5mm recording.

and kernel minimum requirement i see 5.8 in sof wiki (Minimum requirement is 5.8).

if 5.15 kernel this issue is not there, any patches which we can back port and use with 5.10 kernel?

[2022-02-16 09:08] phre2 commented on #3428
Thanks!

Compiling keeps failing 😅 but I'll keep going.

Let you guys know.

[2022-02-16 09:26] padmashree9110 commented on #3364
I tried with 5.15 kernel also. Issue is seen there also.
$ uname -r
5.15.0-051500-generic

Kernel log:
[dmesg_sof_5.15.txt](https://github.com/thesofproject/linux/files/8078499/dmesg_sof_5.15.txt)

[2022-02-16 09:38] wzrdtales commented on #3057
ok after some research i found a note that told to deactivate and activate audio in the bios. weirdly that helped...

[2022-02-16 10:23] giddie commented on #2971
Another instance:

[kernel.log.gz](https://github.com/thesofproject/linux/files/8078954/kernel.log.gz)
[sof-log.gz](https://github.com/thesofproject/linux/files/8078955/sof-log.gz)

Is it worth me continuing to upload logs, or do you have all the data you're likely to need at this point?

[2022-02-16 14:36] plbossart commented on #3428
I screwed up yesterday, you may have to pull the latest update.

[2022-02-16 14:37] phre2 commented on #3428
Oh, ok. Will give another spin later tonight then. Many thanks.

[2022-02-16 14:39] plbossart commented on #3364
@padmashree9110 Are you sure that you have enabled all the volumes/switches on capture with alsamixer?

[2022-02-16 14:40] plbossart commented on #3057
@wzrdtales can you share your sources, this doesn't seem quite right indeed?

[2022-02-16 14:51] ranj063 commented on #2971
@plbossart we load widgets during hw_params with dynamic pipelines. so that part is fine.

[2022-02-16 14:52] ranj063 commented on #2971
The first error in the logs points to a failure with kcontrol set:
[code]

[2022-02-16 15:11] jbbandos commented on #2955
Hi, on my Chuwi GemiBook Pro, the es8386 is detected, but fails to load topology, despite having copied everything from tplg to /lib/firmware/intel/sof-tplg/.
Alsa-info has been uploaded [here](https://alsa-project.org/db/?f=a2197f9ac16867914839f9eb7cc418e177aa08d7). If you need more info, just ask.
Thanks!

[2022-02-16 15:16] plbossart commented on #2955
@jbbandos which kernel did you use? You want to try the latest PR #3338 along with the updated topologies I provided yesterday. thanks.

[2022-02-16 15:25] jbbandos commented on #2955
@plbossart I used @yangxiaohua2009 's kernel, from his git https://github.com/yangxiaohua2009/custom-kernel. I'll try with your updated topologies from PR #3338
Still fails the same way - [alsa-info.txt](http://alsa-project.org/db/?f=9936633b8d1da77c1f06dacc54fc8191ee5f9753)
I don't have anything in place to build a kernel right now, will probably have to wait for someone to kindly provide one.

[2022-02-16 15:58] padmashree9110 commented on #3364
yes...capture volume i set to maximum and checked. still no audio.

[2022-02-16 18:15] wzrdtales commented on #3057
it doesn't seem right at all. I tried downgrading to packages that I KNOW were working and it still didn't work. So I gave it a shot and to my own surprise... it worked.

I found the hint here for the older XPS model: https://unix.stackexchange.com/questions/637992/how-to-fix-xps-9700-microphone-given-audio-is-fixed

[2022-02-16 18:17] wzrdtales commented on #3057
my only guess is I did boot the windows partition which I never use unless I am on travel and once in a while want to consume some HDR content (which unfortunately still is nothing we have under linux :( ). booting into my real system again left the mic disfunctional. So I guess that this was related...

[2022-02-16 18:18] marc-hb commented on #3063
This was reproduced in daily run 10221?model=TGLU_VOLT_SDW&testcase=check-suspend-resume-50

Start Time: 2022-02-15 22:27:23 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: c1bf244b
SOF Branch: main
SOF Commit: 838c7328f86a

Commit c1bf244bd5bc6790d1 includes the new "UNATTACHED" warnings added by commit 8ed705b5cae0 / PR #3327 yet no such warning was printed when the test failed:

[code]

I found

[2022-02-16 21:12] phre2 commented on #3428
Still getting

`arch/x86/Makefile:142: CONFIG_X86_X32 enabled but no binutils support
`

as I said, I'm a bit rusty at compiling kernels on my own.

[2022-02-16 21:22] plbossart commented on #3057
@wzrdtales pure speculation and possible red-herring: some Dell devices have support for a microphone privacy feature. It's possible that somehow the privacy feature was engaged and the only way to remove it was to toggle the entire audio off/on again. This is clearly not an SOF bug proper, more an issue with the configuration of the external mic codec

[2022-02-16 21:50] plbossart commented on #3063
There are two separate issues in the logs above.

First case

[code]

The second case is different in that the second device shows up but disappears and never shows up

[code]

I have no idea why a device would fail to become ATTACHED, or become UNATTACHED after being initialized. This looks like electrical issues and/or codec issues to me honestly.

The interesting part is that it's ALWAYS the sa

[2022-02-16 22:50] plbossart commented on #3063
One theoretical possibility is that we mask all Slave status interrupts at once

[code]

Which raises the possibility that we miss a device re-attaching while we are dealing with the detach event.

IIRC these events are edge-based, not level-based, so we could miss them while masking.

Maybe we should only mask the bitfield we've detected, instead of the events that were not but might happen later

[2022-02-16 23:23] marc-hb commented on #3063
We have two devices of this type being used right now. I ran some simple `journalctl` commands like
[code]
The other device has never experienced any `Initialization not complete, timed out` error since Wed 2022-02-02 03:55:46 UTC (the start of the logs)

However they have something in common, they both show this:

[code]

These warnings appeared just before each timeout error (and many other time

[2022-02-17 01:22] keqiaozhang commented on #3387
Another one:
http://sof-ci.sh.intel.com/#/result/planresultdetail/10270?model=CML_SKU0955_HDA&testcase=volume-basic-test-50
[code]

[2022-02-17 02:35] marc-hb commented on #3012
Reproduction of the month has arrived
https://sof-ci.01.org/sofpr/PR4334/build12063/devicetest/?model=CML_RVP_SDW&testcase=check-suspend-resume-with-playback-5

[code]

[2022-02-17 03:10] plbossart commented on #3063
@marc-hb thank you very much for all this data mining. The two results above with the device not detected made me think of a potential lost interrupt with PR #3439. We could also force a read of the device status to see what happens without relying on the interrupt mechanism to detect issues.

This issue should be filed separately, I think this is a coreboot problem?
jf-tglu-volt-sdw-03 kernel: Fi

[2022-02-17 04:38] wzrdtales commented on #3057
Possible, and possible as well that windows triggers that by default. I will add that to the wiki about the Dell XPS then at least others find the solution faster.

Sent from Nine

--

Best

--
Tobias Gurtzick
CEO
WizardTales UG (haftungsbeschränkt)

Additional Contacts:
@github | ***@***.***
--
Website: https://www.wizardtales.com
***@***.***
nmlpm: -- coming soon & open source --

Please tag you

[2022-02-17 14:45] jbbandos commented on #2955
@plbossart my apologies, I hadn't seen that there were two kernels available. I was trying the sof_2_8.zip one, now I saw that there was the kernel.zip one that finally gives me sound. I have to every time launch alsamixer and enable the speaker, and in pulseaudio it always says it is playing sound on the headphones and the speaker isn't available. I don't have any headphones to test righ now.
Als

[2022-02-17 15:35] plbossart commented on #2955
@jbbandos you probably have a jack detection that's inverted, that might be why PulseAudio is confused. I added a quirk in my latest PR, you would need to turn it on.

the errors you've seeing if a miss with alsa-ucm-conf, I am not sure if there is a UCM file for this board.

[2022-02-17 15:49] jbbandos commented on #2955
@plbossart thank you, seems that either I set up a build environment now or wait for someone to provide a kernel with that PR. I'll try my hand at building one this weekend.

I am using the two ucm files provided by @yangxiaohua2009 - [sof-essx8336.conf](https://github.com/yangxiaohua2009/custom-kernel/blob/main/sof-essx8336/sof-essx8336.conf) and [HiFi.conf](https://github.com/yangxiaohua2009/cus

[2022-02-17 15:59] realnickel commented on #3412
@plbossart , thanks for your support!
I retested both the updated PR https://github.com/thesofproject/linux/pull/3338 and the topology PR  https://github.com/thesofproject/sof/pull/5368 changes provided as an archive together.

Good news are that sound system starts in SOF mode without
`option snd-intel-dspcfg dsp_driver=3`
and phones operate.

[sof_mode_logs_wo_quirks.zip](https://github.com/thes

[2022-02-17 16:45] plbossart commented on #3412
Good progress @realnickel thanks for testing.

If you are testing at the PulseAudio level, you would need an UCM file to use the right Jack.
otherwise you can use amixer -Dhw:0 controls to see something like this.

numid=33,iface=CARD,name='HDMI/DP,pcm=5 Jack'
numid=39,iface=CARD,name='HDMI/DP,pcm=6 Jack'
numid=45,iface=CARD,name='HDMI/DP,pcm=7 Jack'

then do amixer -Dhw:0 cget numid=33
and see if

[2022-02-17 17:04] johnnrandall commented on #2460
I've got a similar issue to @phocean above. My laptop is also a Thinkbook 13.

My outputs are below:

uname -a
Linux lenovo 5.4.0-100-generic #113-Ubuntu SMP Thu Feb 3 18:43:29 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

inxi -A
Audio:     Device-1: Intel driver: sof-audio-pci
           Sound Server: ALSA v: k5.4.0-100-generic

dmesg | grep snd
[    4.973474] snd_hda_intel 0000:00:1f.3: DSP detected

[2022-02-17 17:53] plbossart commented on #2460
@johnnrandall "Linux lenovo 5.4.0-100-generic" is likely rather too old for proper SOF support. It's probably one of the first versions we upstreamed. Please consider updating your system if possible, it's very difficult to solve problems on kernels that are 12 versions old. Thanks for your understanding.

[2022-02-17 17:57] johnnrandall commented on #2460
Which kernel do you recommend? I've tried a more recent one but unfortunately that alone didn't resolve it which is why I reverted to this one.

[2022-02-17 18:08] plbossart commented on #2460
5.10+ is recommended.

The solution for Lenovo devices is to try to use the topology provided in https://github.com/thesofproject/linux/files/5981682/sof-hda-generic-2ch-pdm1.zip

Unzip and copy sof-hda-generic-2ch-pdm1.tplg over /lib/firmware/intel/sof-tplg/sof-hda-generic-2ch.tplg (KEEP THE INITIAL VERSION AS A BACKUP).

[2022-02-17 18:34] johnnrandall commented on #2460
I tried the link and followed the instructions. And yes it was the solution. I can hardly contain my thankfulness! On this basis I will stick with my current kernel unless you recommend otherwise. Thank you once again, and have a great evening.

[2022-02-17 18:57] plbossart commented on #2460
@johnnrandall glad it works for you. At some point we may be able to do this switch automagically but for now we have to override this topology file. You can update the kernel to a more recent version, it will not change anything. The one thing you need to watch out for is that distribution updates may override this file, so you may have to redo this override if the mic becomes silent again.

[2022-02-17 19:55] marc-hb commented on #3101
Reproduced again on jf-tglu-sku0a3e-sdw-01	daily run 10270. It was on the same jf-tglu-sku0a3e-sdw-01 device as in test runs 5882 and 5568.

Start Time: 2022-02-16 22:27:23 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: [5eef692b](https://github.com/thesofproject/linux/commit/5eef692b)
SOF Branch: main
SOF Commit: [0eda4302e349](https://github.com/thesofproject/sof/commit/0eda4302e349)

The check

[2022-02-17 20:03] marc-hb commented on #3012
Again in https://sof-ci.01.org/sofpr/PR5379/build12076/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with-playback-5 , this time on TGL. Is this becoming more frequent?

EDIT again https://sof-ci.01.org/sofpr/PR5485/build12238/devicetest

[code]

[2022-02-17 22:08] plbossart commented on #3387
yes, but look further and it's again ext4 locking issues. Nothing apparently to do with SOF.

[2022-02-18 05:15] marc-hb commented on #3370
I'm seeing a lot of timeout these days but they don't seem as specific as this one so let's close it.

[2022-02-18 05:15] #3370 closed

[2022-02-18 06:09] XiaoyunWu6666 opened #3449 "[BUG]S24_LE does not work on TGL NUC with CAVS closed source FW(TGLU_NUC_HDA_IPC4)"
**Describe the bug**
Aplay and arecord of  sample format of S24_LE does not work on TGLU_NUC_HDA_IPC4 which uses cavs fw to test

**To Reproduce**
arecord   -Dhw:0,0 -r 48000 -c 2 -f S24_LE -d 3 /dev/null -v -q
OR
aplay   -Dhw:0,3 -r 48000 -c 2 -f S24_LE -d 3 /dev/zero -v -q

**Reproduction Rate**
100%

**Environment**
Kernel Branch: integration/ipc4-wip
Kernel Commit: [b30c585d](https://github.co

[2022-02-18 06:24] realnickel commented on #3412
@plbossart , thank you for the detailed guidance and you were totally right.

HDMI with numid=33 appeared to be muted, and it is not present in GUI controls interface.
Unmuting it with alsamixer and issuing:
`speaker-test -Dhw:0,5 -c2 -r48000 -f S16_LE`
resulted in successful sound test.
So could you point me to a good manual on how do I wire it's controls in system/GUI for software to be able to

[2022-02-18 06:30] hselley commented on #3249
I was able to get sound out of this laptop to my headphones using this [USB sound card](https://www.amazon.com/UGREEN-External-Headphone-Microphone-Desktops/dp/B01N905VOY/ref=sr_1_3?crid=1F2RSLBQBFWWG&keywords=usb+sound+card&qid=1645165547&sprefix=usb+sound+card%2Caps%2C156&sr=8-3).

I don't like this solution, but it's better than not having sound at all.

[2022-02-18 07:04] OlegSadJktu commented on #3249
@hselley desperate times call for desperate measures.

[2022-02-18 08:35] dantefff commented on #3249
Ihave done

I have done the same with [this](https://www.amazon.es/gp/product/B08DFDBQXK) one. This is the smallest I could found.

[2022-02-18 13:42] kv2019i commented on #2573
@plbossart Didn't quite make it in 2021, but better late than never. Draft available, this needs quite a bit of testing as we need to change code that is used by pretty much all HDA platforms across vendors and generations.

[2022-02-18 15:30] yurisuki commented on #3248
hi, does this work?

[2022-02-18 15:37] yurisuki commented on #2955
hi, has anyone make this work?

[2022-02-18 15:56] fcsm1922 commented on #3248
hello. I don't have. the sound card has been determined, but there is no sound. I have a matebook 14 on intel

[2022-02-18 16:59] yurisuki commented on #3248
yeah, i can relate.

[code]

[2022-02-18 18:00] plbossart commented on #3412
@realnickel the jack controls are typically read-only, I don't get how you could unmute it. That might have been a different control, no?

[2022-02-20 17:52] yurisuki commented on #3428
yes, id like to know also how do i compile this thing

[2022-02-20 18:35] yurisuki opened #3447 "ES8336 Intel Corporation Celeron/Pentium Silver Processor on UMAX VisionBook WR12"
Hello, I'm another person to have this issue.

[code]

[code]

[code]

I'm hopeless. I'm using Arch Linux.

[2022-02-20 18:49] yurisuki commented on #3447
[code]

Tried all quirks, that were mentioned in other issues, and nothing helped. Tried all topologies and it doesn't help either.

[2022-02-20 19:26] dbaluta opened #3448 "Possible missed trace logs at the beginning"
Looking at the code in `snd_sof_init_trace_ipc` we have:

[code]

Then at `snd_sof_trace_update_pos` we have:

[code]

It is possible that the reply for SOF_IPC_TRACE_DMA_PARAMS_EXT to arrive at the marker `<<<HERE>>` so, `snd_sof_trace_update_pos` will miss the DMA trace position update because `dtrace_is_enabled` is set too late.

This happens all the time on i.MX with the result that we cannot

[2022-02-20 20:15] marc-hb commented on #3448
I haven't look at this in detail yet but the description already rings a few bells:
- https://github.com/thesofproject/sof/issues/4333
- https://github.com/thesofproject/sof/issues/5352
- https://github.com/thesofproject/linux/issues/3275
- https://github.com/thesofproject/sof/pull/5106
- https://github.com/thesofproject/sof/issues/5345
- https://github.com/thesofproject/sof/pull/4334
- https://gi

[2022-02-20 22:00] yurisuki commented on #3447
quirks 0x12 and 0x32 make crackling noises

may i get some ssp2 topology please? 0x32 makes the most noise when playing through headphones, still doesn't detect my speakers though.

[2022-02-21 02:28] HughR commented on #3430
I have a very similar problem running Fedora rawhide kernel-5.17.0-0.rc4.20220218git9195e5e0adbb.100.fc37.x86_64
on a Lenovo ThinkCentre M90n-1:

DMA-API: snd_hda_intel 0000:00:1f.3: mapping sg segment longer than device claims to support [len=73728] [max=65536]

This is not SOF.  Are the patches likely to fix it?

The processor is a Celeron 4205u.  Newer than Skylake so perhaps the skylake patch

[2022-02-21 03:20] yangxiaohua2009 commented on #3248
Have you tested the ssp2 tplg file with different mclk id?

[2022-02-21 07:51] tiwai commented on #3430
Yes, the patches fixes both ASoC and hda-intel drivers.  They are included in 5.17-rc5.

[2022-02-21 08:33] realnickel commented on #3412
Yes, of course it was.
My explanation might have been confusing, but first I used **alsamixer** (with it's pseudo-graphics GUI), which combines all controls for a node to unmute HDMI (S/PDIF).
In terms of **amixer** it was

[code]

Finally, I was provided with an example of a solution ( to use UCM2 config files to describe audio devices for GUI), which made all subdevices selectable and visible to

[2022-02-21 11:24] ujfalusi commented on #3448
On Intel platforms the copy to host buffer can only work after the `snd_sof_dma_trace_trigger(sdev, SNDRV_PCM_TRIGGER_START)` call as before that the DMA is not working.

Now the dtrace in firmware uses sync dma copy, so this should be fine.

But on architectures where the DMA is not split like it is with HDA, this could cause ignored updates.

@dbaluta, in sof-dev we now have three states for the

[2022-02-21 17:37] ranj063 commented on #3359
we never upstream anything from the chrome kernel. It is the other way around. Chrome kernels backports everything from upstream.

[2022-02-21 17:41] ranj063 commented on #3359
@aiChaoSONG let me ask some basic questions before I dive into the issue:
1. WHich device in production uses this topology?
2. How can you have 2 inputs to a buffer (BUF9.0)?
3. For echo reference, isnt the expectation that the playback and capture on SSP2 are always started in tandem?

[2022-02-21 18:06] ranj063 commented on #3359
One more question, is the problem with all pipelines static or all pipelines dynamic?

[2022-02-21 20:49] juimonen commented on #3359
the echoref and ssp.in components are there because of asoc code in driver requires pipeline to consist of valid front and back end. Even though the back end is not used in this case. So they are "virtual" components. Not sure if recent kernel has changed and allows a "partial" pipeline to be constructed, chrome kernel is probably not the most recent.

[2022-02-22 01:39] aiChaoSONG commented on #3359
@ranj063
1. It's Chrome Brya device, we ask coreboot team add Ubuntu payload, so we are running Ubuntu with thesofproject kernel.
2. see comments from Jaska above. EchoRef is a virtual widget.
3. Two scenarios are allowed.
    1) Only run playback
    2) Run playback first, and then capture (Echo Reference). Capture first is not allowed, get IO error very soon.

With Chrome kernel, all pipelines a

[2022-02-22 20:29] plbossart commented on #3447
we've already provided an update in PR #3338 where you don't need to play with SSP and DMIC quirks. the only thing that you may need to play with is the GPIO quirk.

[2022-02-22 20:45] yurisuki commented on #3447
I don't really understand what these words mean. I'm just gonna wait for upstream release, although thank you for your support! If there's anything I could help you with, hit me up in this thread.

[2022-02-23 09:50] flamecopper commented on #3248
I thought Linux Mint is quite mature and I decided to give it a try.
Didn't expect this issues.
Alternatively, output by Audio Out or headphone jack is good however it is still not possible.
I have faith that you all can fix it.

[2022-02-24 00:49] fredoh9 commented on #3012
Found same issue in internal daily test in 2022/2/18. It was reproduced in suspend/resume test with `CML_SKU0983_SDW`.
10359?model=CML_SKU0983_SDW&testcase=check-suspend-resume-50

Sorry for late report, I was looking at one of the devices for errors then found this errors too.

[2022-02-24 22:20] #3449 closed

[2022-02-25 04:44] J0shuaT opened #3465 "No audio on GLK Chromebook"
I don't have any audio on my GLK Chromebook. Audio settings shows a dummy output. I saw other forum posts with similar issues, but I couldn't find a definite solution. Any help would be appreciated. Thanks!

**Here are my System specs:**
![image](https://user-images.githubusercontent.com/96457853/155654138-f56d1f59-dcfe-4468-941e-2d410e2c6961.png)

**This is the output of `aplay -l`:**

`**** List

[2022-02-25 11:12] lgirdwood commented on #3465
It looks like the driver is loading and detecting the DSP but not going any further afaict.
[code]
@plbossart @kv2019i @ujfalusi any ideas ?

[2022-02-25 13:43] kv2019i commented on #3465
This seems like a product with I2S audio codecs not supported in upstream (either machine driver or codec driver missing). Maybe something similar to these: https://github.com/thesofproject/linux/issues/3336

[2022-02-25 14:58] #3448 closed

[2022-02-25 16:49] plbossart opened #3459 "SoundWire: TGL: IO error in rt711_jack_detect_handler"
@bardliao @shumingfan FYI, that's a new one.

https://sof-ci.01.org/linuxpr/PR3454/build7233/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with-capture-5

[code]

[dmesg.log](https://github.com/thesofproject/linux/files/8142866/dmesg.log)

[2022-02-25 16:50] plbossart commented on #3459
not sure if this is related to https://github.com/thesofproject/linux/issues/3401

[2022-02-25 16:51] jthompson05 commented on #3465
I tried the solutions described in https://github.com/thesofproject/linux/issues/3336 , but I still don't have audio :(

[2022-02-25 18:07] kv2019i commented on #3465
@J0shuaT Can you share output of "alsa-info.sh" (see https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#run-alsa-info) and "sudo dmi-decode".
And third, the NHLT table:
sudo acpidump > dump.bin
gzip dump.bin

These should reveal what kind of audio hardware this system has. If it's a Chromebook, the codec and machines drivers should be upstream. But it's also possib

[2022-02-25 18:23] jirisarri10 commented on #3357
When is the correction planned? Thank you!!

[2022-02-25 19:36] jthompson05 commented on #3465
**Here is the output of `alsa-info`:** http://alsa-project.org/db/?f=4ffbda9963feb81854cc1af925a91d7e5f46e9f3

**This is the output of `sudo dmi-decode`:**

[code]
**This is dump.bin:** [dump.bin.gz](https://github.com/thesofproject/sof/files/8143882/dump.bin.gz)

[2022-02-25 21:50] plbossart commented on #3465
The solutions suggested in thesofproject/sof#3336 would not work, it's not the same hardware platform.

You seem to have a bog-standard GLK Chromebook, but you are using a Linux distro with @MrChromebox's firmware.

Please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8145043/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the dmesg log.

[2022-02-25 22:23] MrChromebox commented on #3465
@plbossart there are a few different audio configs for GLK Chromebooks - the ones with rt5682+max98357a work fine, the ones with da7219+max98357a (as above) do not currently

[2022-02-25 23:11] jthompson05 commented on #3465
@plbossart Here is it: https://pastebin.com/Fr2siN4c

[2022-02-26 23:10] jirisarri10 commented on #2955
Hi, when is planned fix this issue? We must wait till Linux 5.17? Thanks

[2022-02-27 11:36] jirisarri10 commented on #3210
Please fix It! I do not want use Windows!

[2022-02-27 12:37] jirisarri10 opened #3460 "No detect audio jack Intel Corporation Celeron/Pentium Silver Processor High Definition Audio (rev 06)"
Hi there,
i have got Linux 5.16 and not detects headphones! however usb port detect headphones and work!
Thank you!

[2022-02-28 22:49] plbossart commented on #3459
Not able to reproduce with short tests on Dell SKU 0A3E that uses RT711 on link1

[code]

@bardliao can you try to see if this bug can be reproduced on your TGL devices with IPC3?
Not sure why we see this consistently on TGLU_RVP_SDW now.

[2022-03-01 02:45] plbossart commented on #3465
@MrChromebox I have a "Bobba" GLK device with da7219, works fine outside of the jack detection problem due to UCM.

are you sure it's not the other way around, that the ones with rt5682 are broken?

[2022-03-01 08:42] kv2019i commented on #3465
Kernel driver bug, moving to the appropriate tracker.

[2022-03-01 12:13] bardliao commented on #3459
@plbossart I tested it on my Dell SKU 0A3E and it passed. I run the test twice and both iterations are passed.

[2022-03-01 14:34] plbossart commented on #3465
@J0shuaT there's no use of the SOF driver in there. Is this the correct link?

[2022-03-01 15:01] MrChromebox commented on #3465
my AMPTON board has rt5682+max98357a and works (outside of jack detect). Other BOBBA users have reported having issues to me, so there's a disconnect somewhere