[2018-12-13 14:24] plbossart commented on #400
If they don't then it's their decision and the Chrome integration team will have to modify the HDMI code on SOF to use the old snd_hdac_display_power and deal with reference counts. we stick to upstream in topic/sof-dev

[2018-12-13 14:39] #420 closed

[2018-12-13 14:40] plbossart commented on #408
@libinyang do I get it correctly that you are going to submit a PR for this? Just trying to figure out who works on what.

[2018-12-13 14:41] #407 closed

[2018-12-13 15:16] xiulipan commented on #414
@mmaka1

Then we should first come up our first simple rule about which how IPC structure will change the ABI version.

But here is an agreement now:
1. ABI minor or  version change should be **backwards-compatible**. Otherwise we should have more discuss about.

@plbossart so here is a simple but first agreement now.

[2018-12-13 15:34] xiulipan commented on #405
@plbossart
I will test that,  so this is only needed with in sound/soc/sof or all build?

[2018-12-13 17:37] plbossart commented on #405
Yes  make SUBDIRS=sound/soc/sof W=1 is good enough. We don't have to fail on someone else's problems

[2018-12-13 17:55] #417 closed

[2018-12-13 18:00] plbossart commented on #414
@xiulipan As I said, it's not enough. I do want to have information even on minor changes so that there are plans to add the support at the kernel level ahead of time. It's too easy to add a field at the firmware level without anyone knowing then ask for Linux support without advance notice. I am old enough to smell fishy processes. The ABI is a contract between two sides, and doing things unilate

[2018-12-13 18:09] wenqingfu commented on #414
True. On the other hand, the driver should prepare itself for this case, too, i.e. a new driver can work with the old firmware by not mandating new features that old firmware cannot do. Being ignored is fine, driver should elegantly deal with it. Otherwise, it's a nightmare for distributors and end users.

[2018-12-13 18:13] plbossart commented on #414
That's a different case. When there is an ABI change we want to
a) test that the kernel changes work with older firmware, obviously without any new functionality added. In other words is a 'do no harm' check but doesn't prove anything related to the fieds.
b) test that the kernel changes work with new firmware and expose a new functionality.

Case a) should be handled with the backwards-compatible

[2018-12-13 18:14] wenqingfu commented on #414
It's probably a "N vs 1" contract among N+1 sides, when N is more than Linux Kernel...

[2018-12-13 20:45] ranj063 commented on #426
@libinyang the point that andy is making is that we're using a snprintf first and then a kstrdup....we can do both in one go with devm_kasprintf

[2018-12-13 21:05] ranj063 commented on #426
https://github.com/thesofproject/linux/pull/439 fixes this.

[2018-12-13 21:42] ranj063 commented on #421
@plbossart I think that the whole pcm trigger in SOF is non-atomic and the reason is that we use the ipc to trigger the operation which is a schedulable call and is not atomic.

But we do not explicitly set nonatomic to true for the FE's. Should we do that?

Furthermore,  I just checked the machine driver and Isee that all the FE dai defs there set nonatomic to 1.

[2018-12-13 22:05] plbossart commented on #421
I wonder what we really do. I see this in the code:

topology.c:     link->nonatomic = true;

@plbossart oh I missed this. Yes this sets nonatomic to true for all dai links. So FE dai links would be fine. But i wonder why we do this for BE dai links.

But it seems to apply to a link (which makes zero sense). And indeed we
don't signal nonatomic operation for FEs. This looks counter-intuitive?
Prob

[2018-12-14 01:06] bardliao commented on #414
@mmaka1 It is important to revered some fields for future use. Without the revered fields, the header size will be changed if we add any field. Note that user may not update their kernel and firmware at the same time.

[2018-12-14 01:53] libinyang commented on #426
Get it. I was thinking that you are the interface for our SOF driver upstreaming so everything should go out through you. I will send the comments directly to the community. It's more efficient.

[2018-12-14 02:55] libinyang commented on #409
@plbossart
I will submit a patch later.

[2018-12-14 06:01] libinyang commented on #409
patch submitted
https://github.com/thesofproject/linux/pull/440

[2018-12-14 06:42] libinyang commented on #421
I think Pierre is right. We do set the nonatomic in the FE. This will make sure that alsa core will call our functions in nonatomic environment.
In soc-pcm, it will set snd_pcm->nonatomic = rtd->dai_link->nonatomic.
In alsa core pcm_native.c, it will check snd_pcm->nonatomic to determine whether use spin_lock or not.
And alsa uses our FE snd_pcm as the interface. So I believe it is safe for our ca

[2018-12-14 08:23] xiulipan commented on #414
@plbossart
Agreed, all change need to be notified and discussed.

[2018-12-14 08:39] libinyang commented on #414
I'm not sure whether we really do need to change ABI so frequently, especially after SOF is upstreamed. I think we should have a plan that when we will upgrade the ABI with which features.

[2018-12-14 09:57] mmaka1 commented on #414
Please separate two different things:

1. ABI change approval process
2. Technical solution to make the implementation of changes much easier in terms of **backward compatibility** and reduced complexity of the implementation of changes.

Please note I simply talked about (2) only. I fully agree we need a good (1) and everybody should obey.
I found many responses related to (1), rather than to my

[2018-12-14 11:27] zhuyingjiang opened #442 "PM: the dai config message sent by hda_load and sof_restore_pipelines are not the same"
The tx message sequence which send by first load and the tx message sequence  by runtime resume are not the same. This leads to WHL have error when do runtime resume:
[   19.377552] sof-audio sof-audio: ipc tx: 0x80010000: GLB_DAI_MSG: CONFIG
[   19.377765] sof-audio sof-audio: error: ipc error for 0x80010000 size 0xc
[   19.377776] sof-audio sof-audio: error: failed to set dai config for Analog P

[2018-12-14 15:22] plbossart commented on #421
@libinyang thanks for looking into this. So we are covered for FEs, but as Ranjani mentions it I don't get what happens for BEs. It's supposed to be atomic at that level, at least if you look at the previous solutions with closed source firmware all BEs where configured with .nonatomic=false (implicitly).

[2018-12-14 16:23] plbossart commented on #414
I am confused now. Isn't what you described precisely what Liam added few days ago? Or are you suggesting that what Liam provided is not enough and another set of changes are needed to deal with ABI changes in the future?

[2018-12-14 16:27] plbossart commented on #442
@zhuyingjiang Can you please provide a better description of the problem and attach the logs for startup and resume. No one can help with the limited information described.

[2018-12-14 17:08] ranj063 commented on #442
@zhuyingjiang @plbossart I think the problem is in the call to sof_set_dai_config() in sof_link_hda_load().
For the other dai types, we update config for all dai's matching the link name but for hda we should also match the direction. I think that should fix this problem.

[2018-12-14 17:28] mmaka1 commented on #414
@plbossart
The reserved fields, recently added to the structures work fine as a short/mid term solution.
But I was a bit concerned about this requirement:

If you have an ABI change, then you file it both on the kernel and firmware sides with clearly documented PRs, and we make sure **it's applied at the same time**.
I am not going to do this work for you.

Since another set of changes will be nee

[2018-12-14 18:06] plbossart opened #443 "Kconfigs: bad dependencies between PCI/ACPI and platform drivers"
In the existing Kconfig, each platform device will select ACPI or PCI, e.g.

[code]
This is problematic because the dependencies are in the opposite order. sof-acpi-dev.c makes references to BYT/CHT/HSW/BDW descriptors, and if sof-acpi-dev.c is compiled as built-in we cannot have the descriptors part of a module.

we need to revert the selections so that the mode used for sof-acpi/pci-dev is propa

[2018-12-14 20:13] plbossart commented on #414
On 12/14/18 11:28 AM, Marcin Maka wrote:

The current solution has been up for reviews for weeks, I am somewhat
surprised that there's even a mention that we need to do something
different in the future...

[2018-12-14 23:29] wenqingfu commented on #414
Great summary, @mmaka1.  Would you and @lgirdwood work out the details of the "technical solutions" that both driver and fw follows, and post it here?

[2018-12-15 00:00] plbossart opened #446 "Upstream: Baytrail-CR support"
Adding this issue to remind me of a known issue: we've changed the machine driver interface upstream, but SOF doesn't set the right mach_params.

[2018-12-15 00:02] plbossart opened #447 "Upstream: Edison support"
We need to split BAYTRAIL into separate configurations, once for ACPI-based enumeration (Baytrail/Cherrytrail) and one based on PCI enumeration (Edison).

[2018-12-15 02:33] keyonjie commented on #266
I have done several optimizations, now it can pass 200 (2playback+1capture+1dma-trace) iterations.

Still hit several corner cases after long enough try, e.g. 300 or 500 iterations, one classical one as below:
[code]

[2018-12-16 00:35] andy-shev commented on #410
Hmm... I still didn't get why it can't be used. hex_dump_to_buffer() can be ajusted by given parameters to do different outputs including what I see. Anything specific had I missed?

[2018-12-16 00:43] andy-shev commented on #426
There is even cocinelle script for such conversion. So, it means if you run a set of cocinelle scripts present in kernel, you can avoid doing all those small optimizations as a separate changes, just get your code cleaner in the first place

[2018-12-16 02:16] libinyang commented on #426
@andy-shev

Got it. Thanks for clarification

[2018-12-16 02:22] libinyang commented on #421
For BE, let me use hw_params as an example, I believe other are the same.

For dynamic link, dpcm_fe_dai_hw_params() is the interface. ALSA core will call this function, and then the dpcm_fe_dai_hw_params() will call dpcm_be_dai_hw_params(). This means BE hw_params is called by the FE hw_params. If we can make sure FE is nonatomic, then BE should be nonatomic too.

[2018-12-16 07:01] zhuyingjiang commented on #442
@ranj063 It is not the direction, it is the dai_index has not been set. Fixed by #450

[2018-12-16 16:43] plbossart opened #452 "Driver support for firmware recovery"
When the firmware gets stuck or unresponsive (IPC timeouts), the driver just bails out and the only way to recover is to reboot. That's not acceptable for a number of products.

The SOF driver needs to implement a recovery mechanism where it detects the firmware has gone off tracks (e.g. with a 5s watchdog), and restores the configuration (hardware reset, firmware download, pipelines and controls

[2018-12-16 16:55] plbossart commented on #421
@libinyang if you look at the machine drivers for all previous solutions based on closed-source firmware, the BEs are always marked as .nonatomic=false. So why would SOF require non-atomic operation when others using the same hardware did not? Either they are all wrong or we are.

[2018-12-16 16:58] #402 closed

[2018-12-16 17:01] plbossart commented on #400
@bardliao can you submit a PR with Takashi's v2 changes (make sure to use cherry-pick -x so that we track upstream) and the changes needed on the SOF sides? I will need to other changes from upstream but this needs to go into topic/sof-dev first, otherwise I'll break the build.

[2018-12-16 17:06] plbossart commented on #389
@ranj063 sorry I didn't see this earlier. two comments
1. the delay be implemented regardless when we enable IPCs when the pipelines is enabled (even outside of suspend/resume operations). That change depends on @mmaka1 changes for memory allocation.
2. playing with IPC timing is like shuffling the chairs on the Titanic deck. If the IPCs aren't reliable they will fail at some point, and to some ex

[2018-12-16 17:07] #408 closed

[2018-12-16 17:10] plbossart commented on #395
There's been no comments or PR on this, isn't this a valid point that needs to be fixed?

[2018-12-16 17:11] plbossart commented on #394
@ranj063 can you comment and/or describe how we might solve this? Wondering if this is a quick fix which can go in the next upstream batch or more time needed?

[2018-12-16 21:38] plbossart opened #454 "CI: add support for Coccinelle"
Coccinelle is an extremely useful tool to detect conceptual errors or bad programming.
In 30mn it found one memory leak issue and one useless function, see https://github.com/thesofproject/linux/pull/453

let's add it to the CI (both Travis and Intel). Coccinelle version 1.0.7 is needed and may need to be build from code. It's easy to create a new Debian package

apt-get build-dep coccinelle
git c

[2018-12-17 03:02] keqiaozhang commented on #322
Verified that this issue is fixed on cros-sof-v4.14-rebase/40fae8a8. Close this bug.

[2018-12-17 05:37] libinyang commented on #421
@plbossart
I grepped our source code, and didn't find the setting .nonatomic=false. Maybe the old code is not merged into our branch?
However, closed-source firmware may use a different solution. From our current code, we may sleep in our sof code, so we use .nonatomic=true. Maybe closed source doesn't sleep when ALSA core calls them?
And besides, for our SOF code, we use FE to expose PCM to the u

[2018-12-17 06:15] keyonjie commented on #395
Hi @ranj063 , after checked it more, I think this is not an issue if snd_sof_dsp_is_ready() is reliable, as not ready means there is already IPC(host->fw) being processing, the reply(tx_wait_done) for this ongoing IPC will continue to schedule any remaining message with snd_sof_ipc_msgs_tx() at the end of the function, that means we won't drop sending any IPC messages.

[2018-12-17 06:53] xiulipan commented on #454
@plbossart
Noted. Will enable it after local test success.

[2018-12-17 07:09] xiulipan commented on #395
@keyonjie
I think this issues maybe related to the `IRQ nobody care` issue?
The HOST will not handle any IRQ since it is being disabling.

[2018-12-17 07:29] xiulipan commented on #454
@plbossart
apt-get have a released binary of 1.0.4
For travis-ci. I would like to use some pre-build one. Since I found a lot of dependency (about 400mb) is needed to build from binary. It will make travis-ci even slower.

[2018-12-17 07:33] zhuyingjiang commented on #442
[down.log](https://github.com/thesofproject/linux/files/2684891/down.log)
@plbossart Log attached, with the tx message data also added to log, more analysis is in #450

[2018-12-17 07:49] jocelyn-li commented on #416
@ranj063 any help needed?

[2018-12-17 07:52] xiulipan commented on #205
@plbossart
Enabled with #351

[2018-12-17 11:30] bardliao commented on #431
@plbossart My idea is to replace the *hda field with a generic void * type field. For example:
[code]
And we can convert it to ```struct sof_intel_hda_dev``` when we use it in sof/intel folder.
What do you think?

[2018-12-17 13:12] libinyang commented on #427
a RFC patch is submitted
https://github.com/thesofproject/linux/pull/457

I'm not sure if my understanding is right or not. It seems we don't need a new member as we will not change it when running, do we?

[2018-12-17 15:20] plbossart commented on #421
On 12/16/18 11:37 PM, Libin Yang wrote:

when .nonatomic is not set, so it defaults to  false. It's just standard
C99 behavior and there is no missing code

[2018-12-17 15:28] plbossart commented on #454
On 12/17/18 1:29 AM, xiulipan wrote:

You can provide a debian package based on 1.0.7, it's no big deal.

[2018-12-17 16:26] plbossart commented on #431
@bardliao I can't recall why we ned this sof_intel_hda_dev structure in the first place. Isn't this something that can be merged in the ops?

[2018-12-17 16:32] #443 closed

[2018-12-17 16:33] #419 closed

[2018-12-17 16:38] ranj063 commented on #395
@keyonjie @xiulipan if the snd_sof_dsp_ready() is correct and the DSP is indeed busy you are right that the message will likely be sent again after the current IPC processing is done. But the reason I called this as a potential issue is that we kick off the wait before the message is actually sent to the DSP. What is the guarantee that the previous ipc processing will complete before the wait time

[2018-12-17 23:29] wenqingfu commented on #452
extended work of thesofproject/sof#710?

[2018-12-17 23:38] plbossart commented on #452
On 12/17/18 5:29 PM, Michael Fu wrote:

No, different problem. recovery on firmware stuck means reset and
redownload. recovery on underflow means closing and reopening the PCM
device.

[2018-12-18 02:10] keyonjie commented on #395
@ranj063 for the wait timeout issue, currently we set timeout to be 300ms, you are right our current design actually not guarantee 300ms waiting for all IPCs, but considering we are requiring rapid response in FW(doing TH and then return ASAP), the typical normal response is < 1ms(e.g.200~500us), so this deviation for several IPCs(e.g. 10 IPCs in the queue, typical timeout for the last one should

[2018-12-18 02:28] bardliao commented on #431
@plbossart The  sof_intel_hda_dev structure is basically store the hda related data which will be used in sof/intel/hda*.c. I think it is not suitable to be merged in the ops since it is not used for operations. How about moving it to ```struct snd_sof_pdata```?

[2018-12-18 02:40] plbossart commented on #431
@bardliao it seems that this structure is already abused to store SPI-related hardware information, so we might as well add something like void *hw_pdata; which is used to store SoC or hardware-stuff.
(and remove the spi-specific fields)
Also if we move the also ops into sof_dev_desc (which is part of snd_sof_pdata) then we have a faily localized set of structures.
You could even make the argument

[2018-12-18 05:14] xiulipan commented on #454
@plbossart
I will update that once we get a server that can be access from Internet.
Let use 1.0.4 for travis CI for now. https://github.com/thesofproject/linux/pull/462

[2018-12-18 05:27] RanderWang commented on #410
ok, I discuss with @keyonjie , and we will try print_hex_dump. what is your idea?

[2018-12-18 05:55] mengdonglin commented on #33
Closing the issue since it's fixed.

[2018-12-18 05:55] #33 closed

[2018-12-18 05:57] #124 closed

[2018-12-18 05:59] #68 closed

[2018-12-18 06:11] mengdonglin opened #463 "CI: Work out default kconfig for WHL to build daily image for testing"
We need to work out a concise kconfig to support WHL that has an onboard HD-A codec. This kconfig will be used to build the kernel image for daily test and image for each PR.

[2018-12-18 06:45] zhuyingjiang commented on #463
kconfig : https://github.com/thesofproject/kconfig : 1c7649a29db5b1930cc
make defconfig;
scripts/kconfig/merge_config.sh .config /kconfig/base-defconfig /kconfig/sof-defconfig /kconfig/hdaudio-codecs-defconfig
make menuconfig un-select HDA audio PCI

[2018-12-18 07:15] RanderWang commented on #410
@andy-shev  I tried the print_hex_dump, and found it is not fit for us. Now I just use hex_dump_to_buffer. https://github.com/thesofproject/linux/pull/464/commits/43299983a8ef627fc29f5ae093ebf0dc94b026fa

[2018-12-18 07:36] keyonjie commented on #266
as this issue mostly happens in FW side now(e.g. FW hang, FW panic, FW can't get IPC interrupts, ...), let me duplicate this in sof issue.

[2018-12-18 08:32] markyang commented on #144
**Summary:**
  This issue cannot be reproduced on APL with PCM512x.
**Test steps:**
[code]

**Test env:**
sof master: ba4054bc
kernel sof-dev: f9b2f986
tplg: sof-apl-pcm512x.tplg

[2018-12-18 08:53] keqiaozhang opened #465 "Suspicious dereference of pointer 'dai' before NULL check in topology.c"
This warning is found in sound/soc/sof/topology.c

Suspicious dereference of pointer 'dai' before NULL check at line 1762
sound/soc/sof/topology.c:1759 \| sof_widget_unload()

kernel branch: cros-sof-v4.14-rebase

[2018-12-18 08:54] markyang opened #466 "[WHL HDA] Kernel panic: failed to unload the sound modules on WHL with HDA"
**Summary:**
  The kernel panic occurred on WHL with HDA after unloading the sound modules.

**dmesg:**
[code]

**Test steps:**
1. aplay -l  # OK
2. sudo modprobe -r sof_pci_dev snd_sof_nocodec snd_sof_intel_hda_common snd_sof_intel_hda snd_sof_xtensa_dsp snd_sof snd_soc_acpi_intel_match snd_soc_acpi snd_soc_skl_hda_dsp snd_soc_hdac_hdmi snd_soc_hdac_hda snd_hda_codec_realtek snd_hda_codec_generic

[2018-12-18 09:03] markyang commented on #144
**Summary:**
Close the issue.  A new issue(thesofproject/linux/issues/466) has been created to follow the panic on WHL.

[2018-12-18 09:03] #144 closed

[2018-12-18 09:16] keyonjie commented on #465
hi @ranj063 , please keep(don't revert) your commit "ASoC: SOF: clean up widget_unload routine" to fix this issue.

[2018-12-18 09:27] bardliao commented on #144
@markyang How about #46 ?

[2018-12-18 09:41] markyang commented on #144
@bardliao  I did not retest it on BYT nocodec yet. It's okay on BTY with ALC5651 at least.

[2018-12-18 13:52] plbossart commented on #454
On 12/17/18 11:14 PM, xiulipan wrote:

It's not going to work. I tried on my local machine and had a couple of
errors due to the version mismatch. If we don't have a means to update
to 1,.0.7 we need to wait or we'll have errors all the time.

[2018-12-18 13:55] plbossart commented on #463
On 12/18/18 12:45 AM, Zhu, Yingjiang wrote:

the last step is not necessary, is it? I've used this configs for sst
instead of SOF and never had to unselect anything

[2018-12-18 14:21] plbossart commented on #428
missed the second part of the issues

[code]

[2018-12-18 14:32] #400 closed

[2018-12-18 14:56] plbossart commented on #465
what tree is this supposed to be on? I don't see anything on sof/topic/cros-sof-v4.14-rebase

[2018-12-18 22:07] #447 closed

[2018-12-18 22:08] #427 closed

[2018-12-18 22:08] #426 closed

[2018-12-18 22:09] plbossart commented on #409
Agreed to keep things as is, closing

[2018-12-18 22:09] #409 closed

[2018-12-18 22:15] plbossart opened #468 "Upstream: HDaudio probe: use PCI class/subclass/prog-if to detect DSP presence"
We need the same mechanism as what the Skylake driver supports in the probe.

[2018-12-18 22:18] #422 closed

[2018-12-19 02:52] keqiaozhang commented on #465
@plbossart
This issue only happens on cros-sof-v4.14-rebase. Now it's fixed by Ranjani after re-applying "ASoC: SOF: clean up widget_unload routine". Close this issue.

[2018-12-19 02:52] #465 closed

[2018-12-19 06:54] markyang opened #471 "Kernel panic: failed to unload the sound modules on BYT-nocodec."
**Summary:**
  The kernel panic occurred on BYT-nocodec after unloading the sound modules.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 8e1249c2
kernel sof-dev: cac0c10e
tplg: sof-byt-nocodec.tplg

**Log:**
[dmesg-byt.txt](https://github.com/thesofproject/linux/files/2693591/dmesg-byt.txt)

[2018-12-19 06:58] markyang commented on #46
**Summary:**
This issue was blocked by thesofproject/linux/issues/471

[2018-12-19 07:28] mengdonglin commented on #395
@ranj063 are we good to close this issue?

[2018-12-19 07:44] markyang opened #474 "topology: widget not found for codec during loading topology on BYT with ALC5651."
**Summary:**
  The widget was not found for codec during loading topology on BYT with ALC5651.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]
**Test env:**
sof master: 8e1249c2
kernel sof-dev: cac0c10e
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg-ad3f3e4f

**Jiang Xin's bisect result :**
    Success on linux pr457(commitID: a4364e07)
    Faile

[2018-12-19 11:51] bardliao commented on #431
@plbossart It sounds a big change. I will send a RFC for moving *hda to struct snd_sof_pdata. And I will move the ops after that. I think @RanderWang is also working on ops. I will align with him.

[2018-12-19 19:32] wenqingfu commented on #474
appreciated! 👍

[2018-12-19 19:41] plbossart commented on #474
the last commit is an artificial one that doesn't match any of the PRs I merged.

Can we please do a git bisect on topic/sof-dev to point to a specific issue.

[2018-12-20 03:20] zhuyingjiang commented on #442
#472 will fix this.

[2018-12-20 12:44] singalsu opened #477 "The COMP_CMD_SET_DATA requires max. length acknowledge message from DSP"
Also it looks like the command also uses maximum length (384) for sent data even if the set data payload is much smaller. The set data IPC could be enhanced to be more efficient.

[2018-12-20 14:16] plbossart commented on #477
@singalsu would you mind clarifying what the problem is and what you are looking for? is this an IPC change or just a change on the kernel side?

[2018-12-20 15:10] singalsu commented on #477
If the usage of always max. size IPC is confirmed (the header size field is always 384 for EQs data with checks for it enforced, I noticed this due to the IPC size check bug) then just as kernel change by using as size the actual payload size + headers size would be a first improvement to reduce IPC traffic.

If we would optimize that response from firmware does not need to the same length but jus

[2018-12-20 18:02] ranj063 commented on #477
@plbossart this would not require any ipc change but just an appropriate reply size set for the command so that the DSP isnt sending the entire chunk back to the host.

[2018-12-20 21:39] wenqingfu commented on #94
@plbossart are you ok to close it?

[2018-12-20 21:58] wenqingfu commented on #45
@stevyan can you please retest this?

[2018-12-21 00:12] bardliao commented on #45
@wenqingfu I tested it few days ago, and it can only pass 5~10 iterations. I guess there are still some memory leak in our driver.

[2018-12-21 10:00] zhuyingjiang commented on #463
The last step is not needed if we have blacklist and disabled HDA driver, or the HDA driver will be load instead of SOF.

[2018-12-21 16:58] #410 closed

[2018-12-21 16:59] #405 closed

[2018-12-21 17:00] #94 closed

[2018-12-21 17:02] plbossart commented on #86
Mechanism implemented upstream (will be in 4.21), SOF needs to implement the PCI class/subclass detection as described in https://github.com/thesofproject/linux/issues/468

[2018-12-21 17:02] #86 closed

[2018-12-21 17:41] plbossart commented on #463
No need to change the configs, please try https://github.com/thesofproject/linux/pull/480 it should do everything you need.

[2018-12-21 19:14] ranj063 commented on #452
@plbossart looking into the hda_dsp_core_reset_power_down() method in hds-dsp.c, we seem to be placing the core in reset before powering down and when the firmware is unresponsive, this also seems to fail. This is required when we want to shutdown gracefully.

In the case of panic, would it be acceptable to just power down the cores instead of placing them in reset?

[2018-12-21 20:22] plbossart commented on #452
On 12/21/18 1:14 PM, Ranjani Sridharan wrote:

Sorry, no idea. The current behavior is I believe tracking what was
implemented for the Skylake driver, not sure though if it was based on
experiments or guidance from hardware.

[2018-12-24 07:32] bardliao commented on #428
@plbossart @lgirdwood From the discussion on alsa-devel mailing list, I will check if block->size is divisible by 4 in kernel side. Before that, I will send a PR on firmware side to ensure the block->size is multiple of 4.

[2018-12-24 12:42] bardliao commented on #471
I don't know why kcontrol is null. But the following patch can "fix" this issue.

[code]

[2018-12-24 14:55] bardliao commented on #471
I think I got the reason now.
We use ops.get/put with id 259 in pipe-tone.m4, but there is no such id implemented.
So the kcontrol didn't be created successfully and num_kcontrols didn't decrease.
That's why we will see one null kcontrol in the kcontorls array.
[code]
[code]

[2018-12-26 18:27] plbossart commented on #471
The tone control was never fully merged, can't we just fix the topology files and remove all pipe support for now? This looks like a 5-month old bug really.

[2018-12-26 18:41] plbossart commented on #463
@zhuyingjiang Can you please check PR480 so that we merge it if successful early next year.

[2018-12-28 08:34] markyang opened #485 "[Stress test]: IPC timed out after 39 times unload/load SOF modules on APL with PCM512x"
**Summary:**
  IPC timed out after 39 times unload/load SOF modules on APL with PCM512x.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: a2e6f82e
kernel sof-dev: 62aa5698
tplg: sof-apl-pcm512x.tplg

**Log:**
[dmesg-apl.txt](https://github.com/thesofproject/linux/files/2714393/dmesg-apl.txt)
[logger-t.txt](https://github.com/thesofproject/linux/files/2714394/logger-t.txt)
[log

[2018-12-29 05:45] keyonjie opened #486 "sof-logger -t will stop sometimes"
'sof-logger -t' should work like 'tail' and always waiting for available logs and output them, but actually it will stop from time to time(start it again will get new logs).

[2018-12-29 09:57] mengdonglin commented on #474
@Jiangxinx @markyang Could you help to follow up Pierre's request?
https://github.com/thesofproject/linux/pull/457 is closed without being merged.
So if the case failled with https://github.com/thesofproject/linux/pull/448/commits (merged on Dec 17), you may check the daily building image the previous day and do a git bisect.

[2018-12-29 11:03] mengdonglin commented on #343
Closing this issue since it's fixed by https://github.com/thesofproject/linux/pull/392

[2018-12-29 11:09] mengdonglin commented on #384
@lgirdwood  May we close this issue now?
Now we don't have topology loading failure on UP2,, how about creating a topology with more pipelines to trigger loading failure and check this risk.

[2018-12-29 11:18] mengdonglin commented on #485
@markyang  Is this a regression? If yes, could you help on a git bisect ?

[2018-12-29 11:24] mengdonglin commented on #391
@plbossart
@xiulipan had 2 FW PR to fix FW XRUN recovery. Could you check if this solution works for you?
https://github.com/thesofproject/sof/pull/755
https://github.com/thesofproject/sof/pull/757

[2018-12-29 11:36] mengdonglin commented on #414
Although process details for ABI update will continue, closing this issue since the ABI misalignment is fixed by https://github.com/thesofproject/sof/pull/713

[2018-12-29 11:36] #414 closed

[2018-12-30 13:23] bardliao commented on #343
@mengdonglin Actually, there are two issues.
1. The driver will mistakenly think we found the link If the link is actually not in sdev->dai_list without PR #392
2. The dai links which created by  snd_soc_instantiate_card() will call sof_link_load() but never call sof_link_unload. The issue is not solved by any PR yet.

[2018-12-30 13:36] zhuyingjiang commented on #463
@plbossart Sorry, I was working on enable the Cometlake, so have not read the mail. I will check it the first time when go to office.

[2018-12-31 06:58] mengdonglin commented on #370
Random firmware loading failure is observed in the stress test https://github.com/thesofproject/sof/issues/785

[2019-01-01 02:07] ranj063 commented on #87
@mengdonglin  the ones that I checked are already done

[2019-01-02 01:14] plbossart commented on #428
Fixed by https://github.com/thesofproject/linux/pull/441

[2019-01-02 01:14] #428 closed

[2019-01-02 06:47] keqiaozhang opened #489 "PM: Link DMA fails to resume after system suspend"
This issue only happens with aplay, no such issue if use browser player to play audio via HDMI or I2S.
Plus, we only observe this issue on HDMI with 0.55 recipe.
But with PV recipe, both hdmi and i2s can reproduce this issue.

How to reproduce:
1. open one terminal and play audio via hdmi monitor.
    aplay -Dhw:0,5 -f dat -c 2 audio.wav
2. open another terminal and run suspend/resume test
    sus

[2019-01-02 07:41] zhuyingjiang commented on #463
@plbossart I have checked the new kconfig works, it will enter into sof-audio with HD Audio PCI selected.

[2019-01-02 10:13] markyang opened #490 "[Stress test]: Kernel panic after unloading and reloading SOF modules 18 times on APL with PCM512x."
**Summary:**
  Kernel panic occurred after unloading and reloading SOF modules 18 times on APL with PCM512x.
  BTW: no logger info, because of the following error:
    error: Unable to open in file /sys/kernel/debug/sof/etrace

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: a2e6f82e
kernel sof-dev: 62aa5698
tplg: sof-apl-pcm512x.tplg

**Log:**
[dmesg-apl.txt](https://github.c

[2019-01-02 18:04] plbossart opened #492 "Upstream: fix smatch warnings for hdev usages"
reported by Dan Carpenter/Smatch. Adding both @bardliao and @keyonjie since this may impact both in-flight fixes.

[code]

[2019-01-02 18:05] plbossart commented on #490
@markyang can you try and check if https://github.com/thesofproject/linux/pull/491 fixes the issue?

[2019-01-02 18:48] plbossart opened #493 "Upstream: fix codecs"
Not directly related to SOF but we can fix some of the codecs we care about to remove all warnings

I have a first pass at https://github.com/plbossart/sound/tree/fix/codecs_warnings

@bardliao can you check if the following warnings with make SUBDIRS=sound/soc/codecs W=1 can be solved quickly?

[code]

[2019-01-02 19:01] plbossart commented on #489
Good test!

IIRC correctly all streams are stopped by CRAS before suspend and explicitly restarted so the different behavior is "normal" since the flows are different.

I believe you can force the same behavior with CRAS if you use the traditional method of suspending (echo mem > /sys/power/state), with CRAS using the RESUME_TRIGGER just like aplay.

@ranj063 @cujomalainey can you double-check if

[2019-01-03 02:52] bardliao commented on #493
@plbossart Yes, it can be solved quickly.

[2019-01-03 04:33] bardliao opened #494 "kernel NULL pointer if sof_probe failed"
If sof_probe return error for some reason, sdev will be freed. But "sof-audio-pci" will not return error if sof_probe failed. It means snd_sof_runtime_suspend/resume and snd_sof_suspend/resume will be used with a null sdev which will cause kernel NULL pointer issue.
Below is an example. When hda_codec_i915_init() failed, sof_suspend() will die due to sdev = null.
[code]

[2019-01-03 06:21] xiulipan commented on #471
@plbossart @bardliao
Agreed. We have some unused future code in tplg. We may need to remove them.
@bardliao
Can you try `test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplgtest tplg` in sof/tools/test/topology on BYT nocodec device.
This did not have any tone code in tplg.

[2019-01-03 11:15] bardliao commented on #471
@xiulipan Yes, the issue can be "solved" by using test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplg

[2019-01-03 17:47] plbossart commented on #471
can we move this issue to the SOF tracker, this isn't a Linux issue

[2019-01-03 17:57] plbossart commented on #494
can you elaborate on the flow, I don't see where we miss a return status when the probe fails?
sof_probe, snd_create_platform_device all check for the return values. Or maybe the tests we do are incorrect, I assumed we need to do if (IS_ERR(priv->pdev_pcm))  but maybe it's if (IS_ERR_OR_NULL(priv->pdev_pcm)) {

[2019-01-03 22:40] wenqingfu commented on #471
Well, It's hard to say driver is completely innocent in this case, either, even though I acknowledge the "fix" people agreed above. After all, one can close this issue with a PR through 'fix thesofproject/linux#471" to the firmware repository. Let's do that instead of opening another issue in SOF.

what do you think of the "fix", @juimonen ?

[2019-01-03 22:45] plbossart commented on #471
Agree but let's be clear: the driver does what the topology tells it to do and will report an error on failure reported by the firmware. We cannot and will not add intelligence in the driver to check what the topology file contains. The only requirement on the driver side is to not crash and release all resources with a clean error handling.

[2019-01-04 04:35] xun2z commented on #474
This issue is caused by the Pull Request #445.

 The kconfig "SND_SOC_SOF_INTEL" is changed to "SND_SOC_SOF_INTEL_TOPLEVEL", while some dependent machine drivers still use the old one. In
cht_bsw_rt5672.c
cht_bsw_rt5645.c
cht_bsw_max98090.ti.c
bytcr_rt5651.c
bytcr_rt5640.c
bytcht_rt7213.c
the statement
`#if !IS_ENABLED(CONFIG_SND_SOC_SOF_INTEL)`

[2019-01-04 08:09] bardliao commented on #494
@plbossart I checked the flow which is ```sof_create_platform_device() -> ... -> device_add() -> bus_probe_device()``` Unfortunately, bus_probe_device() is a void function. It will not return error when device porbe failed. And both IS_ERR_OR_NULL(priv->pdev_pcm) and IS_ERR(priv->pdev_pcm) are 0.

[2019-01-04 08:22] keyonjie commented on #494
can we just add NULL check to PM ops to fix issue?
[code]

This means our PCI/ACPI drivers can still run independently, even you unload other sof modules.

[2019-01-04 16:15] plbossart commented on #494
@bardliao can you share the detailed flow?
My quick check shows there's always a status, and we've never had any problems with platform_device_register_data.

[code]

[2019-01-04 18:22] #431 closed

[2019-01-04 20:52] plbossart opened #504 "Up2: enable 3 displays with HDMI and DP1.2 MST playback in parallel"
Filing as an enhancement to make sure this test is added to our validation.
The Up2 board has 2 connectors: 1 HDMI and 1 DP1.2 (which means DP MST is possible). That means in theory we can enable playback on the 3 streams supported by the iDISP codec and hear independent audio on 3 monitors.

[2019-01-05 01:53] mengdonglin commented on #395
Comments of @ranj063
"In the current driver design, our ipc's are sequential. So the chances of the DSP being busy when a new ipc is sent out is probably minimal.
But I still think there is a small risk that this issue could be hit.

We probably need to alter the code to start the wait after the doorbell has been sent to the DSP"

[2019-01-05 02:16] plbossart commented on #490
@markyang kind reminder that I need to have information on whether PR491 fixes the issue.

[2019-01-05 02:17] plbossart commented on #493
Closing since the fixes were sent upstream. Thanks @bardliao for your help, much appreciated.

[2019-01-05 02:17] #493 closed

[2019-01-05 02:43] mengdonglin opened #505 "Kernel crash without firmware files"
Issue reported by Ranjani and reproduced by Pierre.

Reproduce steps:
1 installing Ubuntu,
2. don't copy the fw and tplg binaries are not available under /lib/firmware/intel.
   or rename firmware and topology files with an "_" prefix
3. install the SOF kernel with ktest
4. Reboot the system

Expected result:
System can boot although audio cannot work

Actual result:
kernel would just hang at the

[2019-01-05 04:12] mengdonglin commented on #474
@plbossart could you add @xun2z to this project?  I cannot assign the bug to him

[2019-01-05 04:27] mengdonglin commented on #474
https://github.com/thesofproject/linux/pull/502 is to fix this issue.

@xun2z please update here if your revised PR get merged.

[2019-01-06 14:34] bardliao commented on #494
@keyonjie Yes, it's an alternative. @plbossart You are right.
[code]
Maybe we need to think an alternative way to fix this issue.

[2019-01-07 00:59] plbossart commented on #474
@mengdonglin please assign this issue to either @markyang or @xun2z, i don't know why this was assigned to me.

[2019-01-07 02:57] markyang commented on #485
@mengdonglin I‘m not sure whether it is a regression or not.
100-time unloading/loading SOF modules was passed twice before, it maybe also fail if try more times.

[2019-01-07 03:02] xiulipan commented on #505
I think this is another case of https://github.com/thesofproject/linux/issues/494
@bardliao @plbossart What do you think
These issues are all triggered by failed DSP probe but success PCI probe.
But our PCI probe now have PM ops that directly required DSP probe result.

[2019-01-07 03:07] xiulipan commented on #505
[code]

[2019-01-07 06:05] bardliao commented on #505
@xiulipan Yes, I think we can add a simple check there. And we need to add the check in all sof_pci_pm{}

[2019-01-07 07:10] libinyang commented on #505
@xiulipan @bardliao @mengdonglin
After checking the dmesg, I think they are the similar issue.
I will write a patch to have check. Do you have the patch now?

[2019-01-07 07:19] libinyang commented on #505
confirmed with my patch, it is caused by the sdev being NULL in sof_suspend.

[2019-01-07 07:32] libinyang commented on #505
@xiulipan @bardliao @mengdonglin
I have a patch ready, which can boot successfully, suspend/resume successfully.

[2019-01-07 07:33] xiulipan commented on #505
@libinyang
I think the DSP is not actually **suspend/resume** but just power off/on?

[2019-01-07 07:36] libinyang commented on #505
@xiulipan
As fw is not loaded successfully, we can't handle FW. Just suspend/resume in kernel space successfully.

[2019-01-07 09:15] markyang commented on #474
@stevyan

[2019-01-07 09:15] markyang commented on #490
@stevyan

[2019-01-07 09:17] markyang commented on #471
@stevyan

[2019-01-07 09:17] markyang commented on #322
@stevyan

[2019-01-07 09:18] markyang commented on #288
@stevyan

[2019-01-07 09:18] markyang commented on #140
@stevyan

[2019-01-07 11:07] markyang commented on #490
@plbossart It became worse after patching PR491 on the latest code. Fail to probe snd_soc_pcm512x_i2c module after removing all the SOF modules.

**Test env:**
sof master: a2e6f82e
kernel sof-dev: 5931a304
tplg: sof-apl-pcm512x.tplg

**Log:**
[491.patch.txt](https://github.com/thesofproject/linux/files/2732478/491.patch.txt)
[boot_0.bootlog.txt](https://github.com/thesofproject/linux/files/2732487

[2019-01-08 07:57] markyang opened #512 "[PM] Audio device failed to suspend with HDA support enabled on APL-nocodec"
**Summary:**
  Check runtime_status, it always shows "active" whether audio is working or not on APL-nocodec.
   It's okay on APL PCM512x.

**Test steps:**
[code]

**Test env:**
sof master: c6ff3fd5
kernel sof-dev: 5931a304
tplg: sof-apl-nocodec.tplg

[2019-01-08 08:03] markyang commented on #140
Created a new bug(thesofproject/linux/issues/512) to follow this issue on APL-nocodec

[2019-01-08 18:56] ranj063 commented on #490
@plbossart I can only run the sof_bootloop once. It fails while trying to remove sof_pci_dev the second time around with a null pointer exception

[2019-01-08 19:03] plbossart commented on #490
thanks @ranj063, i'll have to look into this. Not sure why moving to devm_ make things worse, maybe there's something fishy behind all this.

[2019-01-08 19:07] ranj063 commented on #490
@plbossart btw i did not even try PR 491. This is what I saw even before. And I think I figured out why.
So if I wait until after the audio dsp is runtime suspended, I'm able to run the sof_bootloop for as many times as I want. So I added a 5 seconds sleep between iterations and it seems to work fine. I was just able to run 100 iterations of module load/unload with the 5s sleep between iterations.

[2019-01-09 00:37] wenqingfu commented on #263
mark duplicate as closed

[2019-01-09 00:37] #263 closed

[2019-01-09 01:02] bardliao commented on #512
@markyang I believe that the issue can be fixed by adding HDMI support to nocodec machine driver and topology. The question is do we really need to enable HDMI support in the kconfig if we don't use it?

[2019-01-09 02:29] mengdonglin commented on #512
@bardliao This can be a solution. But probably we need a clean isolation of HDA-stuff in case we want to use the nocodec machine driver/topology to verify non-HDA audio on soe platforms that don't require HDA. In addition, HDMI audio depends on i915 display driver and usually i915 is not stable for early platforms. We don't want audio to be impacted.

@plbossart Would you please comment?

[2019-01-09 05:27] mengdonglin opened #513 "Enable 4-channel DMIC capture on WHL"
Connect and enable 4-channel DMIC capture on WHL RVP, including upstreaming the necessary topology and machine driver update.

[2019-01-09 05:32] mengdonglin opened #514 "Write a generic SOF machine driver and topology for Intel RVP to support HDMI/DP audio, ALC5682 and DMIC"
HDMI/DP audio, ALC5682 (I2S mode)  and DMIC can be a common audio configurations on recent Intel RVPs.

We hope to have a common machine driver and topology to cover all of them.

[2019-01-09 06:41] ranj063 commented on #490
@plbossart @xiulipan this problem seems to be unique to me. I cannot execute sof_remove.sh if the audio device is not runtime suspended. I run into a kernel oops as in the  logs below:

[code]

[2019-01-09 07:19] zhuyingjiang opened #515 "[CML] ASoC: Both platform name/of_node are set"
When SOF start with load tplg, there will be a error with : " cml_rt5682 cml_rt5682: ASoC: Both platform name/of_node are set for SSP1-Codec",
but after the kernel start, manually modprobe the module, the module can be load.
another way to make it auto load, is change the devm_kzalloc to kzalloc in snd_soc_init_platform.

[2019-01-09 07:20] zhuyingjiang commented on #515
log
[why_not_load_mod_2.txt](https://github.com/thesofproject/linux/files/2739744/why_not_load_mod_2.txt)
[why_not_load_mod.txt](https://github.com/thesofproject/linux/files/2739745/why_not_load_mod.txt)

[2019-01-09 08:08] keyonjie opened #516 "sof_ipc_reply_find_msg() may find wrong message from reply list"
Today, in sof/ipc.c: sof_ipc_reply_find_msg(), we find message from reply list with comparing to message_id only:
[code]

But the reality is that, we never set this message_id(low 16 bits of the message) in both FW and driver, which means the message_id for all today's messages are 0, with this, finding message in the reply_list with this no-difference message_id, we will always get the first mess

[2019-01-09 09:00] singalsu commented on #513
@mengdonglin OK. What schedule there is for this feature?

[2019-01-09 10:10] tlauda commented on #394
@ranj063 Any updates?

[2019-01-09 10:27] zhuyingjiang commented on #513
@mengdonglin Now the DMIC can capture 4 channel. @singalsu I think Mengdong means write the tplg file for this customer requirement, I have already write the tplg.

[2019-01-09 10:46] singalsu commented on #513
@zhuyingjiang Excellent, can you please upstream your work. (Also I don't have a WHL here).

[2019-01-09 14:35] plbossart commented on #512
On 1/8/19 8:29 PM, Mengdong Lin wrote:

There's already a Kconfig to take HDaudio links out (which removes HDMI)
and another to take out HDaudio codecs. Not sure what else you need for
testing?

If the ask is to add HDMI to the nocodec stuff by default, then we'd
need a longer discussion. I'd prefer to handle HDMI as a separate card
that can be added without having to copy/paste all the time. Or a

[2019-01-09 14:42] plbossart commented on #515
On 1/9/19 1:19 AM, Zhu, Yingjiang wrote:

This is odd. I've seen this message before and it's been discussed this
week on the alsa mailing list, look for "[alsa-devel] [PATCH] ASoC:
core: Fix deferral of machine drivers"

Loading the module driver manually will not execute the probe and create
a card, so that's not a solution.

why would that help?

[2019-01-09 16:09] plbossart opened #517 "Ops: use platform-dependent timeout values"
The current code uses hard-coded values to wait for small durations then longer ones. It'd be nicer to have all these values specified at the SOC/platform level so that the code in ops.c remains generic.

[2019-01-09 16:43] plbossart commented on #515
@zhuyingjiang when you provide logs, it's good if their names are self-explanatory. "why_not_load_mod.txt" and "why_not_load_mod_2.txt" don't tell me what you are trying to do, and how they relate to your bug description

Also you may want to check why the codec is not registered in the first place:

[    3.366721] cml_rt5682 cml_rt5682: ASoC: CODEC DAI rt5682-aif1 not registered
[    3.381978] cm

[2019-01-09 19:59] plbossart commented on #490
@ranj063 you get a kernel oops but after you get an IPC error. That means the error handling has a problem

[2019-01-10 00:18] wenqingfu commented on #474
I did it because it's root caused to #445 which you're the author. That's why.

[2019-01-10 06:27] bardliao commented on #515
Thanks @plbossart for the information. I read [ASoC: core: Fix deferral of machine drivers](https://lore.kernel.org/patchwork/patch/1030024/). I think that is exactly what we meet now. I applied the patch manually and it solved the issue.

The root cause is the "platform" is dynamic allocated by devm_kzalloc() and it will be freed automatically on error. And It will not be freed automatically If w

[2019-01-10 07:33] zhuyingjiang commented on #515
@plbossart I am now report the issues first and I will go deep into the bugs, when the issues are reported.
And OK, I will change the filename and the descriptions.
 Bard said he still find this problem before. @bardliao Could you provide some comments?

[2019-01-10 07:35] zhuyingjiang commented on #513
@singalsu Yes, I will upstream it after after some check.

[2019-01-10 10:22] bardliao commented on #492
@plbossart For hda.c, ```sdev->pdata->hw_pdata = hdev;``` is in hda_dsp_probe() and hda_dsp_remove() will only be called when hda_dsp_probe() is invoked successfully. I think there is no reason hda will be null in hda_dsp_remove(). For hda-trace.c, I think it is harmless to check hdev in hda_dsp_trace_init().

[2019-01-10 10:29] markyang commented on #490
**Summary:**
  This issue cannot be reproduced on APL with PCM512x.

**Test env:**
sof master: 84355364
kernel sof-dev: 7ea94936
tplg: sof-apl-pcm512x.tplg

[2019-01-10 20:57] plbossart opened #522 "Upstream: fix debugfs/runtime_pm"
The current solution relies on get_noresume() so that we can still read the debugfs entries in case of DSP panic, where a regular resume would not succeed. There are also mentions of autosuspend which make no sense.

sound/soc/sof/ipc.c needs to be reworked based on feedback from Rafael whose suggestion was to get rid of the pm calls while reading debugfs. We can make sure that all the values are

[2019-01-10 20:59] plbossart opened #523 "Upstream: fix debugs EXPORT_SYMBOL"
This should be EXPORT_SYMBOL_GPL. Also need to check if we need to update the license for sound/soc/sof/debug.c to GPLv2 only since the BSD part isn't very useful.
Adding @lgirdwood for additional comments.

[2019-01-10 21:05] plbossart opened #524 "Upstream: fix IPC (comments from Mark Brown)"
a) inline tx_wait_done (if relevant)?

b) check the sequence
list_move(&msg->list, &ipc->reply_list);
snd_sof_dsp_send_msg(sdev, msg);

can the send_msg() fail? If yes should the move be done after send? If no can we change the return type of send_msg() to void?

c) change default err from -EINVAL to 0 (ipc_msgs_rx, line 383)

d) Add support for stopping IPC before removing work queues in sof_ipc_

[2019-01-10 21:10] plbossart opened #525 "Upstream: fix ops (comments from Mark Brown)"
[code]
Need to scrub all ops routines and mark which ones are required and which ones are optional, and add -ENOTSUPP if relevant?

[2019-01-10 21:11] plbossart opened #526 "Upstream: fix request firmware comments"
Add the name of the file to all logs for firmware and topology files, e.g.
[code]

[2019-01-10 21:26] ranj063 commented on #524
@plbossart I'll pick up this one. I've had it in my mind to do b) for a while.

[2019-01-11 01:49] keyonjie commented on #524
good @ranj063 can you look into https://github.com/thesofproject/linux/issues/516 also once you are at there?

[2019-01-11 02:24] ranj063 commented on #524
@keyonjie sure

[2019-01-11 02:40] xun2z commented on #474
sof part to fix the bug is here
https://github.com/thesofproject/sof/pull/803

[2019-01-11 02:54] markyang commented on #474
@xun2z
**Summary:**
  This issue can still be reproduced on BYT with ALC5651 using the latest build.

**dmesg:**
[code]

**Test env:**
sof master: 9ef3826a
kernel sof-dev: 39d90159
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg & sof-byt-rt5651.tplg (Both tplgs don’t work)

[2019-01-11 05:20] xun2z commented on #474
@markyang
Yes, we are still working on the sof part to prevent all these kernel warnings.

In kernel part, we just removed SOF-dependent statements in case we may see some strange errors when we modify the kconfigs.

After sof https://github.com/thesofproject/sof/pull/803 is merged, sof-byt-rt5651.tplg can work. test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg will not work well since

[2019-01-11 11:13] zhuyingjiang commented on #515
@plbossart @bardliao Thanks, this fixed the issue, will wait when it merged , and verify again.

[2019-01-11 16:34] plbossart commented on #474
Sorry, if you added the virtual widgets in byt.m4 then *all* topology files would inherit those definitions, including the test topologies. What am I missing?

[2019-01-11 16:41] #343 closed

[2019-01-11 18:55] ranj063 commented on #370
@mengdonglin @naveen-manohar can we close this bug now that we have proved there are no issues with stress test?

[2019-01-11 18:58] ranj063 commented on #389
@plbossart I think when we implement the smart suspend/smart resume feature this will be addressed automatically. So, I will close this one

[2019-01-11 18:58] #389 closed

[2019-01-11 20:11] plbossart opened #530 "Upstream: verify/double-check framework patches"
We have 6 orphan patches that haven't been submitted upstream, and need to scrub them. Either they are needed and we submit them, or they need to be reworked.

1. ASoC: fix a use after free case
2. ASoC:topology:bug fix:check return value avoid oops.
3. ASoC:topology:delete dynamic object during widget remove
4. ASoC:core:bug fix: oops caused by pointer dereference.
5. ASoC: dapm: fix kcontrols fo

[2019-01-11 20:11] plbossart commented on #530
@ranj063 @bardliao can you help?

[2019-01-11 20:14] plbossart opened #531 "Upstream: scrub questionable patches"
We have two patches that are questionable and should probably be removed?

ASoC: SOF: topology: continue parsing when num_hw_configs is not 1
ALSA: HACK: Fix rmmod crash

[2019-01-11 22:20] plbossart opened #532 "Up2: HDMI: playback on hw:0,3 fails 100% of the time"
On Up2, HDMI uses Pin6-Port0. In theory we can use hw:0,1 w/ cvt2, hw:0,2 w/ cvt3 and hw:0,3 w/ cvt4.
This works fine with hw:0,1 and hw:0,2, but fails with hw:0,3. This also fails when directly trying the third stream so *something* must be filtering HDMI3 out...

sequence to reproduce:

[code]

dmesg
[code]

[2019-01-11 22:21] plbossart commented on #532
Forgot to mention that this happens with the PCM512x board

[code]

[2019-01-11 22:52] plbossart opened #534 "Up2: load/unload module always fail because of IPC issues"
When executing sof_bootloop.sh, sooner or later we hit an issue with the trace. This time it was at the 39th iteration. Increasing the sleep time between insert/remove seems to make things better, maybe we have a synchronization issue. Once the IPC error occurs, it's no longer possible to load/unload modules.

[code]

[2019-01-11 23:07] ranj063 commented on #530
@plbossart sure, I will look into these.

[2019-01-11 23:19] plbossart commented on #534
Additional tests show the error may happen on resume as well, but still with the DMA trace.

[boot_fail.log](https://github.com/thesofproject/linux/files/2751424/boot_fail.log)

kernel SHA1: 2ac82ee95380fda0b0caa0c21fb053cdaae3b28d
sof SHA1: 872cefe357febf35f96717a710aa1695cbb2ae0d

[2019-01-11 23:23] ranj063 commented on #534
@plbossart I cant even get to the second iteration in my case. But I have a hunch about the call to suspend_streams() in our PM suspend sequence.
@keyonjie  and I talked about possibly checking if it is really required or not. It seems to work on chrome but I'll need to verify on up2.

[2019-01-12 00:44] xun2z commented on #474
@plbossart
I tested this test tplg on byt with alc5651, still got the error messages.
I will do a double check, maybe I've missed something.

[2019-01-12 14:54] plbossart commented on #534
@ranj063 indeed sof_bootloop.sh always failed, I had to add a sleep 5 between iterations to make it work for longer. Definitively a timing/race condition.
Also keep in mind Chrome stops the streams before suspend and restarts them, so there are differences to check.

[2019-01-12 14:56] plbossart commented on #514
you already have the glk_rt5682 machine driver to start from, all you need is to remove the maxim speaker amp.

[2019-01-14 01:34] xun2z commented on #474
@plbossart
test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg works

[2019-01-14 02:49] mengdonglin commented on #489
@keqiaozhang Please help  check if this is the the same issue of https://github.com/thesofproject/sof/issues/788 reported on APL.

[2019-01-14 05:26] keqiaozhang commented on #489
@mengdonglin
I tried to disable system reboot when kernel panic on GLK, but system just died after running the test, still no useful log or trace available.

[2019-01-14 05:48] keyonjie commented on #489
I believe so, this is known issue.

[2019-01-14 09:32] markyang commented on #485
**Summary:**
  This issue can also be reproduced on APL-nocodec

**Test env:**
sof master: 872cefe3
kernel sof-dev: 2ac82ee9
tplg: sof-apl-pcm512x.tplg & sof-apl-nocodec.tplg

[2019-01-14 13:15] lgirdwood opened #537 "IPC handler should detect FW crash notifications"
FW sends an IPC message upon a FW exception notifying host driver an exception has occurred. This is currently ignored by the driver afaict.
[code]
This IPC interrupts the host and sends the platform specific offset of the exception log. This should probably be handled in a platform specific detector that could call generic core code to reboot FW etc.

[2019-01-14 14:03] mengdonglin commented on #370
Closing this issue since we can no longer reproduce it no matter with SOF V0.55 or V1.0 release for GLK with all recent fixes.

[2019-01-14 14:03] #370 closed

[2019-01-14 14:11] mengdonglin commented on #372
@lgirdwood @ranj063 @keyonjie @plbossart Closing this issue since it should be fixed it with issue #370. Please reopen if you still observe this issue.

[2019-01-14 14:11] #372 closed

[2019-01-14 18:57] cujomalainey commented on #489
Following up with the CRAS team.

[2019-01-14 19:02] #492 closed

[2019-01-14 19:03] ranj063 commented on #524
@plbossart https://github.com/thesofproject/linux/pull/538 addresses b), c), d) and e) but I think a) might not be relevant because we have a call to snd_sof_dsp_get_reply() in tx_wait_done() that is io bound. Please let me know what you think about it.

[2019-01-14 20:31] ranj063 commented on #525
https://github.com/thesofproject/linux/pull/539 fixes this issue

[2019-01-14 21:56] ranj063 commented on #530
@plbossart I looked into the first one "ASoC: fix a use after free case"

Apart from the commit title being ambiguous, I think there one more issue to be addressed. Let me re-work this patch and submit a PR.

https://github.com/thesofproject/linux/pull/540 addresses the first patch

[2019-01-14 22:02] ranj063 commented on #395
@mengdonglin im going to close this bug. Altering the timeout for IPC completion is harder than I thought. As it is scheduled in a separate thread, it will not be able to notify initiator of the outcome of the IPC. So, the alternative is to start the timeout for a long enough time and just hope it gets done.

[2019-01-14 22:02] #395 closed

[2019-01-14 23:39] ranj063 commented on #530
@plbossart ASoC: dapm: fix kcontrols for effect widgets: this one is needed to add a kcontrol to the effect widgets so we can use the TLV bytes to send config blob to the DSP. The commit messages needs to a bit more descriptive if we want to upstream.

On the other hand, if we want to move away from TLV bytes, maybe we wont need to upstream this one at all.

[2019-01-14 23:41] ranj063 commented on #530
ASoC: core: support driver alias names for FE topology overrides

This one is good and we wont be able to load the machine driver on GLK without this patch.

[2019-01-15 05:29] ranj063 commented on #530
ASoC:core:bug fix: oops caused by pointer dereference.

This one looks like it might not be needed. I'm verifying it

[2019-01-15 05:35] ranj063 commented on #530
ASoC:topology:delete dynamic object during widget remove

is necessary as it fixes a valid bug without which the dobj->list will never be emptied.

[2019-01-15 05:56] ranj063 commented on #530
ASoC:topology:bug fix:check return value avoid oops.

On this one I dont quite understand the autodisable parts. So @bardliao is checking it.

After discussing with @bardliao, I think we should revert this one too. I will submit a PR to revert it.
But we'll need to test module unload/loading again.

[2019-01-15 06:19] markyang commented on #474
**Summary:**
  This issue was fixed by #502 & thesofproject/sof#803, cannot be reproduced on BYT with ALC5651.

**Test env:**
sof master: a334567b
kernel sof-dev: 8ba11407
tplg: test-ssp0-mclk-0-I2S-volume-s16le-s16le-48k-24000k-codec.tplg

[2019-01-15 06:19] #474 closed

[2019-01-15 06:46] ranj063 commented on #530
https://github.com/thesofproject/linux/pull/542 fixes this issue as well.

[2019-01-15 07:12] xiulipan commented on #537
@lgirdwood
This is not exception IPC. It should be purge FW request reply from ROM

@keyonjie found this IPCs are coming from
https://github.com/thesofproject/linux/blob/8ba11407f61cc7b78a60c9b244dc963d468ef10b/sound/soc/sof/intel/hda-loader.c#L94
[code]
https://github.com/thesofproject/linux/blob/8ba11407f61cc7b78a60c9b244dc963d468ef10b/sound/soc/sof/intel/hda.h#L193

As there is a `<< 9` so you

[2019-01-15 07:22] keyonjie commented on #537
this is actually only a warning, please ignore it, I can submit a patch to remove this warning message later.

It is 4200(stream_tag=2) here because stream_tag 1(4000) is occupied by the playback stream during suspend.

[2019-01-15 11:09] mengdonglin commented on #494
@libinyang Is https://github.com/thesofproject/linux/pull/510 a fix for this?

[2019-01-15 11:23] mengdonglin commented on #515
@plbossart could you help to merge  patch [ASoC: core: Fix deferral of machine drivers](https://lore.kernel.org/patchwork/patch/1030024/) to close this issue?

[2019-01-15 11:35] bardliao commented on #515
@mengdonglin It seems the patch has not been applied to upstream yet.

[2019-01-15 15:01] plbossart commented on #515
On 1/15/19 5:35 AM, Bard Liao wrote:

It's even worse, it creates issues with the way we use .platform_name in
all machine drivers.

At any rate I don't get why we have this issue only on CML so I would
err on the side of a mistake in the CML support.

[2019-01-15 15:11] plbossart commented on #494
The fix is more likely a change in the way PM routines are used. I am not happy with the work-around suggested, we should fix PM handling instead. Talking with Ranjani on this.

[2019-01-15 18:04] ranj063 commented on #531
@plbossart @keyonjie
ASoC: SOF: topology: continue parsing when num_hw_configs is not 1

this one needs to be reverted but it requires a fix in topology. Let me submit a PR today.

https://github.com/thesofproject/linux/pull/543
and
https://github.com/thesofproject/sof/pull/844

fix this issue.

[2019-01-15 18:11] ranj063 commented on #531
@plbossart @lgirdwood
I'm not sure what issue this patch "ALSA: HACK: Fix rmmod crash" was trying to address.
I couldnt tell much from the commit message either "Something appears to corrupt the runtime->status on second playback..."

But it looks like we can revert it as well.

https://github.com/thesofproject/linux/pull/544 fixes this.

[2019-01-16 00:58] bardliao commented on #515
@plbossart I can see this issue on ICL. APL, and BYT. An easy way to reproduce it is to use an invalid .codec_dai_name on any dai link. So bind dai link will get error, and it is easy to see the issue when the soc core retry to bind dai link.

[2019-01-16 01:15] plbossart commented on #515
@bardliao I have never seen this issue on APL/BYT so you will have to provide me with a configuration and log for me to believe it. My money is on a missing configuration of your machine driver. There are actually no usable logs for this issue, we'd need to progress on what the root cause before speculating further.

[2019-01-16 04:10] ranj063 commented on #531
@plbossart both these patches have been address. OK to close the issue now?

[2019-01-16 06:46] bardliao commented on #515
@plbossart attached the .config and dmesg. the specific config can reproduce the issue on Up2.
Which is made by ```scripts/kconfig/merge_config.sh .config <PATH>/kconfig/base-defconfig <PATH>/kconfig/sof-defconfig <PATH>/kconfig/hdaudio-codecs-defconfig```
with the following change.
[code]
However I can't find a working for CNL. I am checking if there is anything wrong on machine driver.

[config.

[2019-01-16 07:33] tlauda commented on #394
@plbossart @ranj063 Can we at least get estimates when it can be fixed?

[2019-01-16 08:11] zhuyingjiang commented on #534
@plbossart I still face a oops, during the loop, the first is ok, and then the scripts dead, the dmesg got the attached log.
[bootloop_oops.log](https://github.com/thesofproject/linux/files/2763165/bootloop_oops.log)
I think this is another issue with this loop.

[2019-01-16 08:17] ranj063 commented on #534
@zhuyingjiang finally someone else is seeing the same issue as mine.

[2019-01-16 08:43] zhuyingjiang commented on #534
Does the log be the same?

[2019-01-16 09:31] stevyan commented on #490
**Summary**:
This issue can be reproduced on APL with PCM512x (xcc).

**Test env**:
sof master: 9d10e1a9
kernel sof-dev: eec37ea0
tplg: sof-apl-pcm512x.tplg

**Reference Log**:
[  803.214065] sof-audio sof-audio: FW Poll Status: reg=0x1010303 successful
[  803.215128] sof-audio sof-audio: FW Poll Status: reg=0x303 successful
[  803.215133] sof-audio sof-audio: DSP core(s) enabled? 0 : core_mask 1

[2019-01-16 10:15] bardliao commented on #515
@plbossart I think I get the reason why the issue is always seen with rt5682 codec. There are so many sleep in rt5682_i2c_probe(),  and snd_soc_register_component() will not called before dai link binding. So dai link binding won't success in the first try, and we will meet the issue in the second try. We don't see this issue on other platforms since we can bind dai link successfully at the first

[2019-01-16 10:34] zhuyingjiang commented on #515
@bardliao So this is a issue/bug of rt5682?

[2019-01-16 10:45] bardliao opened #546 "Should we remove snd_soc_tplg_component_remove() from snd_sof_free_topology()?"
There are two reason we can (should?) remove snd_soc_tplg_component_remove() from snd_sof_free_topology()
1.
card->snd_card will be used in remove_widget() and some similar functions calling by snd_soc_tplg_component_remove(). But if we see [soc_cleanup_card_resources()](https://elixir.bootlin.com/linux/latest/source/sound/soc/soc-core.c#L2185), it will call snd_card_free(card->snd_card) and soc_r

[2019-01-16 11:17] bardliao commented on #515
@zhuyingjiang No the sleep are necessary for rt5682. ASoC allows retry on dal link binding. The issue is as [ASoC: core: Fix deferral of machine drivers](https://lore.kernel.org/patchwork/patch/1030024/) says the "platform" is dynamic allocated by devm_kzalloc() and it will be freed automatically on error. So now we will see the "ASoC: Both platform name/of_node are set" error after second try in

[2019-01-16 11:39] zhuyingjiang commented on #515
@plbossart  Yes,  I have saw a illegal name of platform, why the name is set should be root cause
====plat name: ;ݱ\xffffffff\xffffffff\xffffffff\xffffffff02\xffffffb2\xffffffff\xffffffff\xffffffff\xffffffff====of_node (null)===

[2019-01-16 20:08] #531 closed

[2019-01-16 20:11] #299 closed

[2019-01-16 20:38] ranj063 commented on #546
@bardliao point 1. is probably not going to be a valid case for us as we do remove the component before we clean up the card. But I agree 2. is a possibility. So yes, we could remove the call to snd_soc_tplg_component_remove() in free_topology. For that matter we could get rid of free_topology() and just set the flag for tplg_loaded to false in pcm_remove().

[2019-01-16 20:52] plbossart commented on #534
I don't have a kernel oops, and this one seems like the result of a bad error handling rather than a host-dsp issue. Maybe file it as a different issue? Also pretty please include all the dmesg (or all the sof parts) so that we can know what the setup is prior to the crash. I don't get if you are using the nocodec mode (known issue) or the PCM512x board?

[2019-01-16 21:00] plbossart commented on #546
@ranj063 do we actually need the flag tplg_loaded now? I added it because it was just chaotic but now that everything starts to look good maybe we no longer need this? or keep with as a DEBUG case?

[2019-01-16 23:51] ranj063 commented on #546
@plbossart yes, you are right, we dont need tplg_loaded anymore. I dont think this flag will ever be set to false unless the module is removed.

[2019-01-17 00:06] ranj063 commented on #534
@zhuyingjiang @plbossart my log in the other bug https://github.com/thesofproject/linux/issues/490 is very similar to what Yingjiang is seeing.

[2019-01-17 00:09] plbossart opened #549 "i915 timing issues"
This isn't an issue with SOF (yet) but adding this here so that we have a trace of the issue on Skylake

[dmesg_fail.log](https://github.com/thesofproject/linux/files/2766598/dmesg_fail.log)
[dmesg_success.log](https://github.com/thesofproject/linux/files/2766600/dmesg_success.log)

the problem is avoid by moving the init earlier

[code]

[2019-01-17 02:40] zhuyingjiang commented on #534
@ranj063 @plbossart Yes, the issue I found is the same as #490. I will focus on the issue Pierre found in this thread.

[2019-01-17 02:45] libinyang opened #550 "Upstream: snd_pcm_suspend is static after apply Takashi latest proposal patches"
Takashi submitted a serial patches that make snd_pcm_suspend be static. Our code need changes to avoid calling snd_pcm_suspend or submit a patch to let snd_pcm_suspend be not static.

[2019-01-17 04:46] zhuyingjiang commented on #534
@plbossart My problem is that I use the same version you provide (kernel SHA1: 2ac82ee, sof SHA1: 872cefe357febf35f96717a710aa1695cbb2ae0d) can't reproduce the issue you found, I am using PCM512x, and my issue found is the same as Rajani found in #490.
Am I missed something? which one do you use, PCM512x or nocodec?

[2019-01-17 05:34] ranj063 commented on #534
@zhuyingjiang @plbossart I fixed my problem by disabling pulseaudio. It was triggering a stream to play the boot up sound and it interfered with the timing of sof_remove.

So with pulseaudio disabled, I am able to run the loop of 100 iterations of load/unload.

[2019-01-17 06:11] zhuyingjiang commented on #534
@ranj063 @plbossart Yes, with pulseaudio disabled, I still got 100 loops. Can we close this issue and #490 ?

[2019-01-17 06:32] ranj063 opened #551 "Update the IPC re-try mechanism"
We dont have a mechanism to rey-try failed IPC's at the moment

[2019-01-17 07:26] markyang opened #552 "[Stress test]: Kernel panic after unloading and reloading SOF modules 4 times on APL-nocodec."
**Summary:**
Kernel panic after unloading and reloading SOF modules 4 times on APL-nocodec.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: ef8df6f9
kernel sof-dev: 6262b882
tplg: sof-apl-nocodec.tplg

**Log:**
[boot_3_pass.log](https://github.com/thesofproject/linux/files/2767455/boot_3_pass.log)
[boot_4_pass.log](h

[2019-01-17 07:28] markyang commented on #485
Created a new issue #552 to follow the different callstack on APL-nocodec

[2019-01-17 07:46] zhuyingjiang commented on #552
This is also because of the pulseaudio, like #534 disable at the first of sof_bootloop.sh can make it loop 100 times.

[2019-01-17 07:49] ranj063 commented on #530
@plbossart I think we've scrubbed this list now. 1, 2 and 4 are already gone. 3 and 6 are important.

5 is needed for our eq work but probably not ready for upstream as it is.

[2019-01-17 08:45] markyang commented on #552
@zhuyingjiang  this is a different issue, there is no pulseaudio process(`ps aux | grep pulseaudio`) because the pulseaudio was already disabled before.  but it does not always happen, sometimes we need loop more than 100 times.

[2019-01-17 08:53] zhuyingjiang commented on #552
@markyang OK, I will look into this issue.

[2019-01-17 10:28] bardliao commented on #546
@ranj063 @plbossart Sounds like we have a conclusion now. I will send a PR to remove snd_sof_free_topology(). I think we don't need the tplg_loaded at all. topology load/unload looks even now.

[2019-01-17 10:57] zhuyingjiang commented on #552
@markyang with pulseaudio disabled, and the version you provide, nocodec.tplg, I run in my device 1000 times, and boot success. I will do 10000 times test tonight.

[2019-01-17 17:12] plbossart commented on #530
Thanks @ranj063. Let's keep the effect stuff for now and upstream when we have the new hwdep interface.

[2019-01-17 18:33] wenqingfu commented on #552
unless this ends up being a null reference not related with SOF, if SOF gives pulseaudio the chance to bring down the kernel, we still need to find the root cause inside SOF..

It can be a big fish but with different symptom. Please cross check other issue report if you have some clues.

[2019-01-17 18:35] ranj063 commented on #552
@zhuyingjiang @wenqingfu I think this error suggests a possible memory leak in our driver ?

[2019-01-17 21:07] plbossart opened #560 "HDaudio probe: need to introduce workqueue to avoid deadlocks."
Timing issues reported on Skylake expose a conceptual issue in the way the HDaudio probe is handled.

Currently the probe flow is
[code]

As explained by Takashi Iwai on the alsa-devel mailing list:

[code]

The request is to move init_caps to a work queue, and cancel it on remove.

Note that this will impact how hardware initialization issues are handled. We already know that errors on driver_pro

[2019-01-17 21:52] fredoh9 commented on #526
Pierre already made that change.
Pull request #548

[2019-01-17 21:52] #526 closed

[2019-01-18 03:15] zhuyingjiang commented on #552
@markyang
1. aplay -Dhw:0,2 -c2 -r48000 -fS16_LE -vv -i music.wav  #OK
2. sudo ./sof_bootloop.sh (100 times)
there is no hw:0,2 for the current nocodec tplg.

[2019-01-18 03:19] markyang commented on #552
**Summary:**
It occurred again after unloading/reloading modules for 65 times on APL-nocodec.
**dmesg:**
[code]

**logger:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: ef8df6f9
kernel sof-dev: 6262b882
tplg: sof-apl-nocodec.tplg

**Log:**
[boot_64_pass.log](https://github.com/thesofproject/linux/files/2771491/boot_64_pass.log)
[boot_65_pass.log](https://github.com/thesofproject/linu

[2019-01-18 03:24] ranj063 commented on #552
@markyang let me confirm one more time. Are you building the firmware with ARCH=xtensa and not ARCH=xtensa-smp?

[2019-01-18 03:30] markyang commented on #552
@zhuyingjiang

sorry,  I aplayed wave with device 0,  and the step is updated.

[2019-01-18 05:52] markyang commented on #552
@ranj063 The daily build was used for the regression test.
According to the Jenkin's console text, the target architecture is `xtensa`
[code]

[2019-01-18 07:05] ranj063 commented on #552
@markyang thanks for confirming.

[2019-01-18 07:37] zhuyingjiang commented on #552
The run loop for 10000 times yesterday night success, and I installed the image I build with the version reported to the up2 in Chengdu, run 1000 times success.  and I does see bootfail with the daily build. but the every time the fail log are not the same.
@markyang Could you check if the daily build kernel driver, firmware and tplg are in the same version list? especially does the kconfig right?

[2019-01-18 08:33] zhuyingjiang commented on #532
@plbossart The driver and the FW SHA1?

[2019-01-18 17:35] #546 closed

[2019-01-18 20:12] plbossart opened #562 "Upstream: fix use of component driver"
This issue has been around for some time and need to be fixed - or at least we need to document why this is not constant.

[code]

[2019-01-18 20:14] plbossart opened #563 "Upstream: inspect ops() abstraction, move "private" functions"
Copy/paste from emails:

[code]

[2019-01-18 20:17] plbossart opened #564 "Upstream: clarify baytrail IPC"
Question from @dbaluta:

[code]
why do we mask cmd with shim bitfields?

[2019-01-18 22:34] plbossart opened #565 "Upstream: probe_defer support breaks SOF BE overrides"
The recent upstream changes break the way SOF used to override the BE information to reuse machine drivers.

Test code: https://github.com/plbossart/sound/tree/fix/soc-core-probe-defer

With the upstream changes, the tests on the dailink platform names are done before we even have a chance to override them. Moving the call of soc_check_tplg_fes() from soc_instantiate_card() to soc_register_card()

[2019-01-18 23:27] plbossart commented on #523
fixed https://github.com/thesofproject/linux/pull/548

[2019-01-18 23:49] plbossart opened #567 "Random oops on Up2 (trace DMA issue again?)"
i've seen the following oops on Up2 w/ DAC+ multiple times but without systematic reproduceability.

SOF 03ababfb scripts: modify sof_bootone.sh to exit if sof_remove failed
kernel: a5dd3186a67b ASoC: SOF: topology: remove snd_sof_free_topology

The only abnormal issue is this trace DMA problem, looks like our error flow is incorrect.

[   22.137679] sof-audio sof-audio: ipc tx: 0x90010000: GLB_TR

[2019-01-18 23:52] plbossart commented on #532
kernel a5dd3186a67b ASoC: SOF: topology: remove snd_sof_free_topology
firmware 03ababfb scripts: modify sof_bootone.sh to exit if sof_remove failed

[2019-01-18 23:56] plbossart commented on #532
modprobe sof-pci-dev
speaker-test -Dhw:0,0 -c2 -r48000 -t sine (works)
amixer -Dhw:0 cset numid=28 3
speaker-test -Dhw:0,3 -c2 -r48000 -t sine
root@ubilinux4:~# speaker-test -Dhw:0,3 -c2 -r48000 -t sine

speaker-test 1.1.3

Playback device is hw:0,3
Stream parameters are 48000Hz, S16_LE, 2 channels
Sine wave rate is 440.0000Hz
Rate set to 48000Hz (requested 48000Hz)
Buffer size range from 384 to 1

[2019-01-19 00:09] plbossart commented on #532
another way to make HDMI crap out is when the mixers are not configured. This also leads to a DSP issue.

modprobe sof-pci-dev
amixer -Dhw:0 cset numid=28 0
root@ubilinux4:~# speaker-test -Dhw:0,1 -c2 -r48000 -t sine

speaker-test 1.1.3

Playback device is hw:0,1
Stream parameters are 48000Hz, S16_LE, 2 channels
Sine wave rate is 440.0000Hz
Rate set to 48000Hz (requested 48000Hz)
Buffer size range

[2019-01-19 00:45] ranj063 commented on #532
@plbossart a dumb question about HDMI pipelines. WHy do we need 3 pipelines for HDMI?
The way I understood it on GLK, I thought each one was meant for a different physical pin/usb c port.
Why do we need 3 for Up2?

[2019-01-19 03:42] wenqingfu commented on #442
fixed by #509

[2019-01-19 03:42] #442 closed

[2019-01-19 03:46] wenqingfu commented on #513
Is there any PR from SOF repository side can point back to this issue? @zhuyingjiang

[2019-01-19 15:23] zhuyingjiang commented on #513
@wenqingfu [#834](https://github.com/thesofproject/sof/pull/834) the tplg can enable a 4 channel DMIC.

[2019-01-19 17:49] plbossart commented on #532
@ranj063 The graphics part is a bit complicated with notions of ports/pins/converters, but in a nutshell the hardware supports 3 independent audio streams. The Up2 supports one HDMI connector and one DP1.2, so with the latter set up in DP MST (which enables daisy chaining of displays) you can indeed enable 3 streams in parallel. See https://github.com/thesofproject/linux/issues/504.

what I was tr

[2019-01-19 20:16] ranj063 commented on #532
@plbossart thanks for educating me on this.

[2019-01-20 20:20] wenqingfu commented on #513
@zhuyingjiang @mengdonglin can this issue be marked as closed then?

[2019-01-21 03:04] zhuyingjiang commented on #513
@wenqingfu Yes, it can be closed.

[2019-01-21 03:04] #513 closed

[2019-01-21 07:08] bardliao commented on #514
Fixed by #553

[2019-01-21 07:08] #514 closed

[2019-01-21 08:10] stevyan commented on #552
**Summary**:
It occurred again after unloading/reloading modules for 9 times on APL-nocodec(xcc).

**Test env**:
sof master: 03ababfb
kernel sof-dev: a5dd3186
tplg: sof-apl-nocodec.tplg

**Reference Log**:
[   85.128151 <    0.000000>] sof-audio sof-audio: FW Poll Status: reg=0x1010303 successful
[   85.129072 <    0.000921>] sof-audio sof-audio: FW Poll Status: reg=0x303 successful
[   85.129077

[2019-01-21 08:18] markyang commented on #552
@xiulipan Could you help here?

[2019-01-21 09:22] keyonjie opened #570 "pcm suspend/resume cleanup"
we should do it like this:
suspend:
1. send stream trigger stop IPC(to FW) in sof_pcm_trigger() when TRIGGER_SUSPEND arrive, and mark spcm->restore_stream[] to be true;
2. (after #1 done for all PCMs) send suspend IPC(context_save) to FW, and suspend ADSP.

resume:
1. send resume IPC(context_restore) to FW (after FW rebooted).
2. send stream trigger start IPC(to FW) in sof_pcm_trigger() when TRIGG

[2019-01-21 09:23] keyonjie commented on #570
@ranj063 can you do this?

[2019-01-21 10:13] markyang opened #571 "[Stress test]: aplay failed to resume from S3 after 103 times suspend/resume on APL with PCM512x."
**Summary:**
  aplay failed to resume from S3 after 103 times suspend/resume on APL with PCM512x.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: f9640aa1
kernel sof-dev: f21fd044
tplg: sof-apl-pcm512x.tplg

**Log:**
[test_103.log](https://github.com/thesofproject/linux/files/2778487/test_103.log)
[test_101.log](https://github.com/thesofproject/linux/files/2778488/test_101.lo

[2019-01-22 01:55] ranj063 commented on #571
@markyang could you please also attach the sof-logger log?

[2019-01-22 02:52] mengdonglin commented on #416
@ranj063 Do we still need this?

[2019-01-22 03:05] ranj063 commented on #416
@mengdonglin yes, this was a question from Takashi which we havent addressed. Can @libinyang take a look into this while he's making the other i915 related changes?

[2019-01-22 04:44] zhuyingjiang commented on #552
@markyang Could you attach the whole log here? from the log you attach can't find what is happened before.

[2019-01-22 05:24] libinyang commented on #416
@ranj063 @mengdonglin
Which question are your talking about? I didn't find the email from Takashi for suspend/resume issue.

[2019-01-22 05:25] libinyang commented on #416
BTW: I updated a patch https://github.com/thesofproject/linux/pull/569. It may be related to this topic.

[2019-01-22 05:50] xiulipan commented on #564
@plbossart
This is not mask. This is some assemble of the register. The highest bit of SHIM_IPCX is busy bit.
`#define SHIM_BYT_IPCX_BUSY      BIT_ULL(63)`
And we put the our ipc cmd header into the lower 32 bit as data for this ipc. Will check register cmd matches mailbox cmd later in DSP FW.

[2019-01-22 06:13] xiulipan commented on #532
@plbossart
Confirmed.
I though we need 3 monitors to let 3 HDMI playback work. We only tried set **cvt3** for **Pin6-Port0 Mux** and test with **hw:0,2**.

Test with a HDMI monitor connect on Pin6-Port0
Pin6-Port0 Mux cvt2 and hw:0,1 and Pin6-Port0 Mux cvt3 and hw:0,2 works fine for me.
Pin6-Port0 Mux cvt4 and hw:0.3 won't work.

@keqiaozhang @keyonjie
With more combination, such as Pin6-Port0 Mux

[2019-01-22 06:16] ranj063 commented on #416
@libinyang the question is in the description. Basically, Takashi was asking why we power off/on i915 display only on system suspend/resume and not during runtime suspend/resume.

[2019-01-22 06:37] libinyang commented on #416
@ranj063
Actually, with Takashi's latest patch, we don't need handle i915 power any more. We can directly remove the i915 setting, please see my patch #569
We need power on/off before in suspend/resume because hdmi codec will power on i915 when suspend and the hdmi codec didn't power off i915. So we need power off in controller suspend. As hdmi codec suspend/resume sequence has been changed, we do

[2019-01-22 06:48] mengdonglin commented on #512
@xiulipan @xun2z Could you help to check if current kconfig used by daily build server has disabled both HDaudio links and HDaudio codecs (both legacy HD-A codecs and asoc HDMI audio codec) ?

[2019-01-22 07:58] zhuyingjiang commented on #534
The analysis of this issue is:
The pulseaudio play a 5 seconds wav every time the sof module is inserted, but the sof_remove next run  only delay 1 second; the PCM is locked during playing, when the sof_remove.sh try to  disconnect device with snd_pcm_dev_disconnect it got stuck.
So there are 2 ways:
1 disable the pulseaudio when do the insert/remove loop.
2 sleep longer than 5 seconds after sof_i

[2019-01-22 08:33] markyang commented on #552
**Summary:**
  Kernel panic after unloading and loading SOF modules 95 times on APL-nocodec

**dmesg:**
[code]

**logger:**
[code]

**logger-t:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 03ababfb
kernel sof-dev: a5dd3186
tplg: sof-apl-nocodec.tplg

**Log:**
[sof_bootloop.sh](https://github.com/markyang/mysof/blob/master/tools/kmod_scripts/sof_bootloop.sh)
[dmesg-apl-first.txt](htt

[2019-01-22 09:23] keyonjie commented on #552
can PR from @ranj063 https://github.com/thesofproject/linux/pull/568 fix this issue?

[2019-01-22 09:24] keyonjie commented on #485
can PR from @ranj063 #568 fix this issue?

[2019-01-22 09:28] mengdonglin commented on #534
@plbossart @zhuyingjiang @ranj063 @keyonjie @bardliao

The script sof_remove.sh shows we start from removing the PCI device driver, not the machine driver that registers the sound card. Maybe we should remove the machine driver at first?
Probably ALSA can prevent removing the sound card that is being used, and report 'device busy' if Pulseaudio or aplay is using the device.

https://github.com/the

[2019-01-22 09:39] markyang commented on #571
@ranj063 I reproduced this issue again after 58 times suspend/resume on APL with PCM512x.
 'sof-logger' is empty,  'sof-logger -t' is attached below.

**Test steps:**
[code]

**Test env:**
sof master: 03ababfb
kernel sof-dev: a5dd3186
tplg: sof-apl-pcm512x.tplg

**Log:**
[dmesg-apl-first.txt](https://github.com/thesofproject/linux/files/2782146/dmesg-apl-first.txt)
[dmesg-apl-last.txt](https://git

[2019-01-22 09:50] keyonjie commented on #534
@mengdonglin I just went though this, the existed scripts looks fine.

The crucial one in remove is "remove_module sof_pci_dev"(or remove_module sof_acpi_dev"), once this is removed, all platform devices we created in SOF drivers will be deleted, and then we can remove other remained drivers(machine driver, platform driver, intel platform drivers, xtensa drivers) in any sequence.

[2019-01-22 12:47] zhuyingjiang commented on #534
another case analysed:
if there is no PCM playing and do sof_remove.sh. for the sof_suspend has been called, sof_remove will call sof_resume first before remove.
but when PCM is playing, sof_suspend is not called,  sof_remove will directly call devm_card_release, so the state is not correct, I will check the detail difference.

[2019-01-22 16:45] plbossart commented on #570
@keyonjie can you try to be clearer in the description of issues? "this is messed [up]" does not describe what we are currently doing wrong and what your proposal solves.
remember the 3 steps:
- what is the issue (visible/side effects)
- why the issue happens (root cause)
- how we can solve it (proposal).
Also why is this an "enhancement"?

[2019-01-22 16:59] #284 closed

[2019-01-22 17:23] plbossart commented on #532
Thanks @xiulipan, let's add playback on all 3 HDMI streams as a QA check, even with a single monitor.

[2019-01-22 19:06] plbossart opened #574 "Voice Trigger: enable component channel selector"
There may be more than one microphone supported in always-on mode, but the algorithms may only support a subset (and typically only mono). Implement driver-side changes needed for this component

[2019-01-22 19:07] plbossart opened #575 "IPC: enable larger data messages"
Enable larger messages so that e.g. Voice Trigger models can be passed in multiple IPCs to the firmware, by e.g. chunks of 4Kb.

[2019-01-22 19:08] plbossart opened #576 "Voice Trigger: enable async/unsolicited notification"
Enable "metadata" notification to pass information from always-on firmware component to userspace.

[2019-01-22 19:10] plbossart opened #577 "PM: enable D0i1 support"
Currently on pm_runtime_suspend we turn off the DSP and reinitialize everything on startup.
When the device is in active standby and the DSP working without interaction with the rest of the SOC, the PM flows will have to be different.
This will require a new IPC command passed to the firmware.

[2019-01-22 19:21] plbossart commented on #524
@ranj063 yes there is no point in inlining with a wait. Thanks!

[2019-01-22 20:40] ranj063 commented on #570
@plbossart @keyonjie I am already working on this. This change is for addressing the following issue:
https://github.com/thesofproject/linux/issues/489
https://github.com/thesofproject/sof/issues/788

[2019-01-23 00:48] plbossart commented on #567
I reproduced this again and I believe we have a problem with the error flow

in sof_probe(), we do this:

[code]

But in the HDaudio code we still assume the trace was initialized properly. I don't think this can work really, if we cannot allocate a DMA for the trace then everything else is in the weeds.
@keyonjie any comments?

[2019-01-23 02:36] keyonjie commented on #567
@plbossart after reread the code comparing with the error log, I got what error happened here:
1. FW can't handle set params IPC for trace stream.
2. Then DMA trace init failed, trace dma buffers/pages are freed.
3. Do nothing for trace at suspend.
4. Try to init trace at resume.

The step 1 may happens at some FW errors but we try to run without dma trace, the step 4 has error here, the step 4 ha

[2019-01-23 04:42] keyonjie commented on #567
@plbossart PR #579 is for this, please check if it work for you.

[2019-01-23 06:15] keyonjie opened #580 "Upstream: address IPC tx/rx work necessity"
To address comments from Mark:

"why can't we just immediately send the
message to the DSP from here, what's the benefit of scheduling some work
to do that? "

We need to remove tx/rx work from ipc struct, and call sending/receiving IPC function directly.

[2019-01-23 06:39] markyang commented on #485
@keyonjie #568 has been dropped, do we also need to check it?

[2019-01-23 15:55] #421 closed

[2019-01-23 16:44] #567 closed

[2019-01-23 17:56] plbossart commented on #534
This thread has completely forked. My initial issue was that the Trace DMA IPC fails and that resulted in load/module failing. The problem with userspace trying to play while we remove is a different one. Please address each issue separately.

[2019-01-23 20:39] plbossart commented on #534
I retried with an updated code
firmware: eca416ad
kernel: e4fb585e96de3

and still face a number of IPC issues - however not just with the trace DMA (likely because of a fix Keyon added today). Still this is not robust at all, the test fails within 80 loops. see below different results (not consecutive)

You need the update for kmod_scripts shared at https://github.com/thesofproject/sof/pull/880

[2019-01-23 23:02] plbossart opened #587 "Up2: IPC error/DSP panic when HDMI support is removed"
For PM changes, I need to experiment with HDMI removed.
Of course this doesn't even work...

it can't be a memory issue in the firmware since we have fewer components than the default with HDMI (which works).

it's as if the firmware needs the kernel to initialize HDA DAIs even if they are not part of the topology? Or it could be an alignment issue?

kernel: e4fb585e96de3838849990362d52bf9fc1b0eec

[2019-01-23 23:07] plbossart commented on #587
it's actually the same error with the standard topology/firmware but with the kernel not including support for HDMI.

[2019-01-24 03:31] markyang opened #591 "[Regression]: Failed to unload snd_sof_nocodec module on APL & BYT(maybe all platforms)"
**Summary:**
  Failed to unload snd_sof_nocodec module on APL & BYT(maybe all platforms).
  I'm not sure whether this is an issue or not,  because if I `rmmod snd_sof_intel_hda_common` before `rmmod snd_soc_acpi_intel_match` and `rmmod snd_sof` before `rmmod snd_sof_nocodec`, it will work. (see attached `sof_remove_ok.sh`)

**More info:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 8

[2019-01-24 07:08] markyang opened #592 "System cannot resume from S3 when playback on APL-nocodec."
**Summary:**
  System cannot resume from S3 when playback on APL-nocodec, and the system freeze caused no dmesg or logger info.
  BTW, if there is no aplay, rtcwake works fine.

**Test steps:**
[code]

**Test env:**
sof master: 8051fe39
kernel sof-dev: e4fb585e
tplg: sof-apl-nocodec.tplg

[2019-01-24 07:22] keyonjie commented on #575
We actually can store/transmit these large data either in memory window, or inside any place of ADSP SRAM(using the similar method as FW downloading with host DMA stream), need align this with FW.

[2019-01-24 12:32] mengdonglin commented on #592
@markyang @stevyan could you help to bisect?

[2019-01-24 12:33] mengdonglin commented on #591
@markyang @stevyan could you help to bisect?

[2019-01-24 12:37] mengdonglin opened #594 "Voice Trigger feature set"
This feature set includes these sub-tasks:

- [ ] Voice Trigger: enable component channel selector  https://github.com/thesofproject/linux/issues/574
- [x] IPC: enable larger data messages https://github.com/thesofproject/linux/issues/575
- [ ] Voice Trigger: enable async/unsolicited notification https://github.com/thesofproject/linux/issues/576
- [ ] PM: enable D0i1 support https://github.com/the

[2019-01-24 12:42] mengdonglin commented on #575
The parameter size for voice trigger modules can be up to 30 KB

[2019-01-24 12:47] mengdonglin opened #595 "Voice Trigger: Test application/script"
The test application/script should verify the WoV Drv/FW workflow with dummy voice trigger component in the firmware.

[2019-01-24 12:53] mengdonglin commented on #595
Closing and move to sof repo. The application/scripts should go to sof/tools or sof/test folder.

[2019-01-24 12:53] #595 closed

[2019-01-24 14:26] plbossart commented on #591
On 1/23/19 9:31 PM, Mark Yang wrote:

Fixed with https://github.com/thesofproject/sof/pull/880

[2019-01-24 14:30] plbossart commented on #575
On 1/24/19 6:42 AM, Mengdong Lin wrote:

Yes, but the IPC will have to slice the parameters and transmit them in
multiple IPC transfers. We cannot afford to have 30KB dedicated to IPC...

[2019-01-25 02:00] libinyang commented on #592
As Ranjani mentioned, #582 can fix it. Let's wait for 582 merged.

[2019-01-25 06:16] zhuyingjiang opened #597 "SMP: power down cores only if all pipelines running on it have been stopped"
Currently implement of sof_widget_unload has a issue of powerdown the core immediately after the snd_soc_dapm_scheduler swidget is removed.
At least this need check if all the pipeline in the core are all removed.

[2019-01-25 09:01] #591 closed

[2019-01-25 09:02] markyang commented on #591
**Summary:**
  This issue cannot be reproduced using the latest scripts

[2019-01-25 14:31] plbossart commented on #597
@zhuyingjiang your issue is borderline useless at this point without explanation, logs, context, etc. Please be more specific on what you are seeing and describe the effects

[2019-01-25 21:55] wenqingfu commented on #517
fixed by #559

[2019-01-25 21:55] #517 closed

[2019-01-25 21:58] wenqingfu commented on #117
are we done with SKL/KBL fw loading? can we close this tracker? @zhuyingjiang

[2019-01-25 22:34] wenqingfu commented on #592
bi-sect always helps since it's such a new issue @markyang

[2019-01-25 22:38] plbossart commented on #446
Fixed by a4d5e3ebba2584dc6a5c9113103c43e7a9017bfd

[2019-01-25 22:39] #446 closed

[2019-01-25 22:41] plbossart commented on #494
duplicate of https://github.com/thesofproject/linux/issues/505, closing

[2019-01-25 22:41] #494 closed

[2019-01-25 22:42] plbossart commented on #565
Fixed by https://github.com/thesofproject/linux/pull/578

[2019-01-25 22:42] #565 closed

[2019-01-25 22:50] wenqingfu commented on #466
I think this is yet another issue that we should gracefully fail out with "device busy" in load/unload tests. @RanderWang @mengdonglin a good team discussion topic

[2019-01-25 23:00] plbossart opened #600 "Upstream: cleanup release_firmware usage"
The current solution makes no sense, e.g. we call release_firmware from the sof-pci-dev code while the request_firmware is handled at a lower layer in a child driver.
Good engineering discipline is to allocate/free resources at the same level so that the code can be properly audited. Crossing layers is not quite right.

[2019-01-26 00:56] ranj063 commented on #597
@zhuyingjiang I think this is a valid issue. I am guessing you hit the issue during module unload.
And I think this is the root cause for all the ipc timeouts that we are seeing during module unload.

Basically, we should add a usage counter for the core and when a pipeline widget is unloaded, we need to decrement the core's usage counter. And only when it hits 0, we should power it down. Can you

[2019-01-26 18:06] ranj063 commented on #489
@mengdonglin @keqiaozhang I've edited the title of this issue to be more indicative of what the problem is and I'm elevating its status to P1 because this needs to be fixed ASAP.

Basically we can resume host dma after system suspend but link DMA fails to resume.
@RanderWang @libinyang are both looking to fix it.

[2019-01-26 21:12] cujomalainey commented on #489
@plbossart you are correct in your understanding

[2019-01-27 15:00] zhuyingjiang commented on #117
Yes, this is done, close it.

[2019-01-27 15:00] #117 closed

[2019-01-27 16:32] zhuyingjiang commented on #597
@ranj063 Yes, I can do that, but since I am now taking AL, the respond maybe slow.

[2019-01-27 17:57] ranj063 commented on #597
@zhuyingjiang no problem. ENjoy your vacation. I'll take care of it.

[2019-01-27 17:59] ranj063 commented on #592
@wenqingfu I'm not sure this is a regression. This should never have worked before PR #582

[2019-01-27 18:19] wenqingfu commented on #571
looks like the same error as thesofproject/sof#611

[2019-01-27 18:29] wenqingfu commented on #534
this error is same as @ranj063 reported in thesofproject/sof#766. Can you try if non-SMP help?

[code]

[2019-01-27 18:58] wenqingfu commented on #592
it was green most time in the daily regression reports last week. Maybe this bug is on nocodec? or @markyang was testing something wrong ...

[2019-01-27 19:12] wenqingfu commented on #384
two bugs in one report. the topology load error seems the same error in thesofproject/sof#766, the PM resume oops is probably #592. There is no value to track this report any more anyway. "one report, one bug" :ok_hand: @lgirdwood

[2019-01-27 19:12] #384 closed

[2019-01-28 02:06] keyonjie commented on #592
I remember it worked when I reported this(https://github.com/thesofproject/sof/issues/788) 25 days ago.

[2019-01-28 07:01] markyang commented on #552
**Summary:**
  This issue can still be reproduced on BYT-nocodec after unloading and loading SOF modules 14 times.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 1f5a9657
kernel sof-dev: 7b67e0bb
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-nocodec.tplg

[2019-01-28 08:01] libinyang commented on #489
@RanderWang should be looking into this bug? I'm working on 0x60000000 issue and suppose it is fixed by Ranjani's patch. @RanderWang any findings?

I'm currently assigned a task of letting sof-dev work on chrome.

[2019-01-28 09:21] markyang commented on #592
**The last working test env:**
[code]
the daily build is here: http://otc-sof-sh-build-01.sh.intel.com/daily/20190122/
I am going to bisect if I'm free.

[2019-01-28 09:51] RanderWang commented on #489
I trace it today and don't find anything wrong in FW now. Now I go back to host driver and find that our host driver only receives stop and resume cmd in front end.  Back end dai never receive these cmds.

[2019-01-28 09:57] xun2z commented on #512
@mengdonglin Kconfig is OK. nocodec is isolated well from HDA.
This issue is caused by no `pm_runtime_suspend` support in nocodec, we have only machine driver. As pierre said, we don't want to add hard-coded HDA. I perfer to try a virtual codec driver supporting PM, or disable PM in nocodec.

[2019-01-28 14:09] dabekjakub opened #602 "No exception data / etrace in fs after panic."
After  DSP Panic there is no data in exception or etrace fs.

Similar to #296 however it is new.

[log_trace_dmsg.txt](https://github.com/thesofproject/linux/files/2803259/log_trace_dmsg.txt)

kernel: sof-kernel/topic/cros-sof-v4.14-rebase  a83979d6b03f0184e50138991b595643b239fdd0
FW: 297958f418081e155d8264af1fdc98058ed90746 (UP arch)

Easy reproduction for panic on above config after about 20 ite

[2019-01-28 14:40] mengdonglin commented on #592
@markyang @stevyan Please help to verify if PR #582 can fix this issue.
According to https://github.com/thesofproject/sof/issues/788#issuecomment-453937254, HDMI playback cannot continue after a S3 cycle on APL w/ pcm512 codec.  And I believe S3 never worked on APL in nocodec mode.

[2019-01-28 15:17] ranj063 commented on #489
@RanderWang please check out my explanation in PR #582. BE dai link do not have ops set for their PCM's.

[2019-01-28 16:28] plbossart commented on #597
On 1/25/19 6:56 PM, Ranjani Sridharan wrote:

I still don't get how we can even try to remove a module while it's
being used? can someone provide a test script showing how to reproduce this?

[2019-01-28 19:02] ranj063 commented on #597
@plbossart On the up2 with Ubuntu installed and pulseaudio enabled, you will hit this issue with the sof_bootloop.sh on the very second iteration.

[2019-01-28 19:49] dbaluta commented on #594
Silly question: what is the difference between Voice Activity Detection and Voice trigger? Is there any plan to add Voice Activity Detection in SOF?

[2019-01-28 20:42] plbossart commented on #597
On 1/28/19 1:02 PM, Ranjani Sridharan wrote:

This is too system dependent, I don't have this problem on Ubilinux. and
in some cases pulseaudio is only started if you use the UI, if you use
SSH as root it's not started at all.

Bottom line we need a script with aplay/speaker-test.

When I try with the legacy driver on Up2 w/ speaker-test, I get this:

root@ubilinux4:~# rmmod snd-hda-intel
rmmod: E

[2019-01-28 20:45] plbossart commented on #594
Voice Trigger (rather Sound Trigger to use Android parlance) can include
keyword detection and providing a 2s buffer for apps (local or cloud) to
double-check.

VAD would be what you have in your PDM block on i.MX (comment based on
patches shared on alsa-devel)

[2019-01-28 20:55] ranj063 commented on #597
@plbossart thanks for the analysis. I'll take a look at the module dependency and refcounts today.

But leaving the module load/unload case apart, does it logically make sense to power down the core only if all the pipelines running on it have been unloaded?

[2019-01-28 20:56] dbaluta commented on #594
So, the question is now can we create a common infrastructure for both VAD and Voice Trigger?

I mean the infrastructure for signalling when voice is detected Or keyword is detected.

[2019-01-28 21:13] plbossart commented on #594
On 1/28/19 2:56 PM, Daniel Baluta wrote:

that's the goal (same as in Android btw). The intent is that the kernel
knows absolutely nothing about what happens in the firmware and just
handles an opaque notification from the DSP with a bunch of data which
can be parsed/interpreted only at the application and firmware levels.

[2019-01-28 21:19] plbossart commented on #597
On 1/28/19 2:55 PM, Ranjani Sridharan wrote:

I don't know to be honest, I have already too many questions on IPC, PM
and suspend/resume to look at this for now.

[2019-01-28 22:03] wenqingfu commented on #489
So is this the same problem #582 try to fix?  @ranj063, will you continue to own this bug? or should @RanderWang own it?   Do we need more than one person on this?

[2019-01-28 22:31] ranj063 commented on #489
@wenqingfu no this isnt the same problem as #582. @RanderWang should own this as he is already working on a fix.

[2019-01-29 02:22] libinyang commented on #489
@RanderWang
This is correct behavior as everything is done in FE. Although this is not designed very logically, it's efficient.

[2019-01-29 07:18] DarrenxWang commented on #592
The CML has the same issue.
Test env:
sof cml-001-drop-stable: 1f5a965711
kernel topic/cros-sof-v4.19: f69d61898a
tplg: sof-cml-rt5682.tplg

[2019-01-29 07:25] xun2z opened #603 "[CML][PM] White noise when being runtime suspended after playback"
**Summary:**
when playback using alc5682 codec on cometlake, there is a about 2s white noise when entering runtime suspend.

**Test steps:**
1.  Play some music, eg.
`aplay -vv -Dhw:0,0 -c2 -d2 48California_Dreaming.wav`
2. when it ends, check the runtime status
`cat /sys/bus/pci/devices/0000:00:1f.3/power/runtime_status`
The noise occurs when entering runtime suspended.
However,  this noise only

[2019-01-29 08:16] dbaluta commented on #594
@plbossart great!

Do you have some open source algorithms for voice trigger? Or just something custom?

[2019-01-29 08:25] dbaluta commented on #564
@xiulipan for me it looked like 'cmd' is never used by the FW. Can you point me where there is this check for cmd matching cmd mailbox in DSP FW?

I couldn't find it so for this reason I've created https://github.com/thesofproject/linux/pull/586

Anyhow, due to my amazing skills with github I deleted my local branch so PR got automatically closed. I've reopened it now.

[2019-01-29 08:54] RanderWang commented on #489
@ranj063  hi, I make great progress and update the detail in https://github.com/thesofproject/linux/pull/582.  For I will have a annual leave tomorrow, can you help to fix this bug?

Thanks!

[2019-01-29 12:43] emilchudzik commented on #592
I have repro using our test env to check D3/D0.
Issue redirect to Bartosz Kokoszko for deeper debugging.

@markyang could you attach dmesg log from your env?

[2019-01-29 14:39] plbossart commented on #594
We will probably have an example for e.g. simple VAD or even level
detector, mainly for tests.

A more complex solution (Alexa and friends) is likely out-of-scope, this
is the type of secret sauce that 3rd parties or OEMs want to keep
control on - and that's alright with SOF, we have a permissive license
precisely so that people who have parts they don't want to share can
still make products.

[2019-01-30 01:53] markyang commented on #592
@mengdonglin I'm sure it's a regression,  because S3 always works on APL-nocodec with the daily build on Jan 22, 2019 or before.
----
The last working daily build is here: http://otc-sof-sh-build-01.sh.intel.com/daily/20190122/

[2019-01-30 02:05] markyang commented on #592
@emilchudzik I don't know how to get the dmesg log when a device freezes, do you have any good idea?

[2019-01-30 03:33] stevyan commented on #592
**Verify Result:**
This issue can be fixed with [PR#582](https://github.com/thesofproject/linux/pull/582)  based on APL-nocodec.

**Test Env:**
sof master: 365b132e
kernel sof-dev: [pr582-8](https://github.com/thesofproject/linux/pull/582)
tplg: sof-apl-nocodec.tplg

**Reference Info:**

[2019-01-30 04:58] libinyang commented on #592
OK. So let wait for #582 merging.

[2019-01-30 06:43] DarrenxWang commented on #592
We apply PR #582 to topic/cros-sof-v4.19 kernel branch. Now CML can suspend, but can’t resume.

[2019-01-30 08:30] markyang commented on #592
**bi-sect results**
revert c74579aa(ASoC: intel: skl: Fix display power regression), then S3 works.

[2019-01-30 08:49] bardliao commented on #603
MCLK is turned off in runtime suspended. However, sof enter runtime suspend before DAPM off. In other word, MCLK is turned off before codec is powered off. And noise will occur in that period.

[2019-01-30 10:19] mengdonglin commented on #592
@markyang Good catch! Libin confirmed it's this patch https://github.com/thesofproject/linux/commit/c74579aa177b334b0b96b2b23f08014c5b70e223 caused regression on APL in no-codec mode and will debug it.

[2019-01-30 10:23] emilchudzik commented on #592
Is this revert applies also for CML?

[2019-01-30 15:20] plbossart commented on #603
I believe we will have to make the MCLK/BCLK controllable from the
machine/codec driver. This is a feature that was implemented in the cAVS
driver and that we know we need to avoid issues due to clock
transitions, but haven't done any work on. There are some fields in the
IPC that could be used to leave the MCLK on, but they are not set. see
SOF issue #629 https://github.com/thesofproject/sof/issu

[2019-01-30 17:51] plbossart opened #605 "Fix cppcheck warnings"
cppcheck complains about quite a few issues, some of which look legit.

[cppcheck.txt](https://github.com/thesofproject/linux/files/2813818/cppcheck.txt)

[code]

[2019-01-30 17:55] plbossart commented on #605
to reproduce, you need the latest code

[code]
and command line from sof-dev directory
[code]

[2019-01-31 03:12] plbossart opened #607 "CHT w/ rt5645 & nocodec: module load/unload generates kernel oops"
Latest kernel topic/sof-dev and firmware, sof_bootloop.sh give me the following error
i used both sof-cht-nocodec.tplg and sof-cht-max98080.tplg (copied as sof-cht-rt5645.tplg)

[code]

[2019-01-31 03:35] plbossart opened #608 "ACPI platforms (Baytrail/CherryTrail): enable PM/runtime_pm"
Yes I know the MinnowBoard does not properly support suspend/resume, but that's not a reason to not do anything. There are multiple devices where suspend/resume works fine with the legacy drivers. We should really enable power management or we will end-up with untested code paths in our kernel code, really not the right direction

I believe it's a bug and not an enhancement. All platforms are supp

[2019-01-31 03:45] plbossart commented on #607
Alternatively the tests also give me IPC errors on module insertion. Just wonderful.

[code]

[2019-01-31 04:27] plbossart commented on #607
the traces tell me the error happens in soc-core.c/soc_remove_link_dais() and re-adding the following commit lets me go on with the sof_bootloop.sh test. I am already at 50+ iterations with this test, without the additional patch I could barely reach 10.

@ranj063, it was your analysis that this wasn't needed, can you and @lyakh chat on this one?
I suspect there is an element of Heisenbug here, ad

[2019-02-01 02:17] fredoh9 commented on #587
I'm working on this. I'm able to reproduce this problem with UP2 board. I'm also seeing same error without topology/firmware change if kernel remove HDA support. The first question is why this error happens
 even without HDMI topology. Diving into the problem. If I see any progress, will update here.

[2019-02-01 14:02] plbossart opened #610 "CHT: IPC error leads to use-after-free/kernel oops"
During module unload/reload tests, I found the following error. I don't have all the logs since it's too verbose but it's clearly an IPC fail leading to a kernel oops.

[code]

[2019-02-01 16:38] plbossart commented on #610
If I remove KASAN from the compilation, the oops happens somewhere else

[code]

[2019-02-01 18:23] plbossart commented on #607
patch submitted upstream and being merged.

[2019-02-01 20:27] lyakh opened #616 "Torn audio on Up^2 with Hifiberry"
This is the first time, that I'm testing a Up^2 board with a Hifiberry codec, so, it's possible, that I've done something wrong. Take this with a grain of salt. Still. Kernel topic/sof-dev as of today, HEAD at
[code]
SOF master branch with HEAD at
[code]
Topology used: sof-apl-src-pcm512x.tplg. When playing audio either with aplay or using the Ubuntu audio settings application, audio is torn, or m

[2019-02-01 20:30] lyakh commented on #616
[fl.txt](https://github.com/thesofproject/linux/files/2823248/fl.txt)
[fr.txt](https://github.com/thesofproject/linux/files/2823249/fr.txt)

[2019-02-01 21:26] plbossart commented on #616
||

Try first the topology without the SRC, it works fine for me and Ranjani.

[2019-02-01 21:44] lgirdwood opened #617 "topology. pipeline and it's components should be freed on any loading failure."
If any component within a pipeline fails to load then the kernel should dismantle that pipeline and remove it from internal representations to prevent it being restored at resume() i.e.
[code]

[2019-02-01 21:46] lgirdwood commented on #617
@plbossart I've logged this as enhancement atm since our topologies are validated, but this need fixed before users start hacking their own pipelines.

[2019-02-01 22:02] lgirdwood opened #618 "topology: merge eq_fir and eq_iir IPC constructors into generic "effect" constructor."
These can be merged and reused for voice detection. All the differentiation is done in the private data.
@plbossart fyi, this is what I'm thinking about changing this weekend. Seems we have unnecessary duplication for no benefit (which will lead to more duplication for other new "effects").
[code]

[2019-02-01 23:01] plbossart commented on #618
On 2/1/19 4:02 PM, Liam Girdwood wrote:

"effect" usually means PCM in and out. If you deal with
non-audio/compressed data you are really talking about a processing
element using non-descript binary data - or a payload. I would remove
any type here, just pass the data and let the component parse it.

[2019-02-01 23:21] ranj063 commented on #602
@dabekjakub is there an easier way to reproduce a DSP panic?

[2019-02-02 00:00] wenqingfu commented on #551
should we re-try failed IPC automatically, or let the tx message caller decide?

[2019-02-02 00:16] wenqingfu commented on #537
even if specific 0x4200 is not a problem, the point still stands - say if there is a FW exception like panic, can we reboot the FW?

[2019-02-02 00:30] plbossart commented on #537
That's called firmware recovery, where the driver takes the decision to
reset and restart when the DSP panics or there is a watchdog timeout -
and there is no support for it yet. It's a known need that's documented
in issues

https://github.com/thesofproject/linux/issues/452

[2019-02-02 01:14] ranj063 commented on #522
@plbossart I looked into the code as it is today and I think we can already get rid of the runtime_pm calls around the memcpy(). These are the situations to consider:

1. when the device is active: no need for any runtime pm calls at all.
2. when the device is suspended: if the device is suspended, nothing is going to change in terms of the DSP status. So no need to wake it up either. The only que

[2019-02-02 01:31] wenqingfu commented on #118
Do we still need this feature? @xiulipan

[2019-02-02 01:40] ranj063 commented on #118
@wenqingfu yes we do need this feature. This will be very helpful in making sure the IPC payload isnt tainted before it is sent to the DSP

[2019-02-02 04:35] ranj063 commented on #570
Fixed by #582

[2019-02-02 04:35] #570 closed

[2019-02-02 05:37] wenqingfu commented on #537
Yes, sir, tried to find this issue number to link it, but didn't get it. Thank you!

[2019-02-02 06:53] markyang commented on #592
**Summary:**
  This issue cannot be reproduced on APL-nocodec anymore.

**Test env:**
sof master: 29f7b31a
kernel sof-dev: 95a0bc34
tplg: sof-apl-pcm512x.tplg

[2019-02-02 06:53] #592 closed

[2019-02-02 07:11] markyang commented on #485
**Summary:**
  Recently this issue cannot be reproduced on APL with PCM512x.

**Test env:**
sof master: 29f7b31a
kernel sof-dev: 95a0bc34
tplg: sof-apl-pcm512x.tplg

[2019-02-02 07:11] #485 closed

[2019-02-02 07:30] markyang commented on #471
**Summary:**
  This issue cannot be reproduced on BYT-nocodec.

**Test env:**
sof master: 29f7b31a
kernel sof-dev: 95a0bc34
tplg: sof-byt-nocodec.tplg

[2019-02-02 15:28] wenqingfu commented on #602
Can you please add comment why you close this issue?  looks like you were asking for something then it's closed. Accidentally clicked the wrong button?

[2019-02-02 15:35] wenqingfu commented on #485
Not sure what changes fixed this. It's probably just a matter of possibility. Since we have several load/unload issues, I'm ok to close this one. Maybe @lyakh want to run the test script in issue description more than 100 times and see how it goes.  The test is like removing the carpet while standing on it,  should we return a "device busy" somewhere?

[2019-02-02 16:37] lyakh commented on #616
With that topology SOF doesn't initialise for me at all, I'm getting repeated
[code]
and I'm not getting any audio playback. But maybe because of a different topology I have to select a different device to play? Because with that topology there are more devices created, e.g. aplay -l produces
[code]

[2019-02-02 16:53] lyakh commented on #118
I actually wanted to have a "dump IPC" feature but for a completely different reason - to use a live system to record topology IPC messages to then create an object from those messages to be integrated with the DSP firmware image for the host-less mode. But I would actually use something different than the kernel logging for that. Something like debugfs / /proc / netlink or even a new ioctl to an

[2019-02-02 17:27] ranj063 commented on #602
@wenqingfu sorry about that, an accident!

[2019-02-02 17:30] ranj063 commented on #616
@lyakh have you set the amixer settings properly?

you need to set Pin5-Port0/1/2, to cvt 2
Pin6 -Port0/1/2 to cvt 3
Pin7-Port0/1/2 to cvt 4
and then try
aplay -Dhw:0,2 test.wav

[2019-02-02 17:32] ranj063 commented on #118
@lyakh I do not think they are. This is related to the issue https://github.com/thesofproject/sof/issues/766.

[2019-02-04 08:06] lyakh commented on #616
Thanks to @singalsu for a tip - I removed pulseaudio and now the sound isn't corrupted any more. But also to even have the card recognised I have to run a mixer once, which seems to set some (default) configuration, which then makes aplay and co. to work properly. Maybe that's what @ranj063 meant in the above post, but I'm not sure what exactly that means - could you explain? Are there instruction

[2019-02-04 08:19] dabekjakub commented on #602
We can always prepare fw which is just dividing by zero in any moment You want or just put panic call in anywhere. Effect should be the same.

[2019-02-04 09:53] emilchudzik opened #621 "Add LBM quirk in the header"
According to discussion in PR #937 in sof repo I rise a need to add LPM quirk in the header.

[2019-02-04 12:57] plbossart commented on #616
On 2/4/19 2:06 AM, Guennadi Liakhovetski wrote:

Humm, removing PulseAudio is not an acceptable fix, it's just a way to
hide a problem in general... Typically this means the position pointer
reported by the firmware is incorrect (which wouldn't be surprising if
you have SRC in your pipeline).

[2019-02-04 13:05] plbossart commented on #621
@emilchudzik you want a quirk in which header?

If you are talking about adding a quirk in dai-intel.h, then it's not really compatible with the approach of adding a kcontrol or using debugfs, it'd be a topology-defined setting. In other words it'd be a fixed setting once the topology file is loaded.

[2019-02-04 14:09] emilchudzik commented on #621
@plbossart I just raise this issue for suggestions from Liam from https://github.com/thesofproject/sof/pull/937.

[2019-02-04 14:21] plbossart commented on #621
On 2/4/19 8:09 AM, Emil_Chudzik wrote:

Understand but we are not aligned on the directions

If you want to use the existing SSP quirks, then it's a topology fix and
it's pretty easy to enable

If you want to use the .set_loopback_mode callback then we need a new
IPC. I would err on the side of removing this callback since it's not
mapped to any existing IPCs and it only makes sense for some DAIs.

[2019-02-04 15:22] ranj063 commented on #602
@dabekjakub i added a divide by zero in th volume component set cmd call but all I got was a IPC time out. Do you mind sending me a patch that will generate an exception?

[2019-02-04 18:38] ranj063 commented on #616
@plbossart in the case of src should CONFIG_SND_SOC_SOF_DEBUG_FORCE_IPC_POSITION be set because we're using the no_irq mode by default

[2019-02-04 18:56] plbossart commented on #616
Oh wow, this is bad. It's not a debug option, it just overrides the stream settings:

[code]

sound/soc/sof/intel/hda-stream.c:
[code]

Not to mention that double-negations are a sure way to lose everyone. !no_ipc_position should be ipc_position. Gah.

[2019-02-04 22:19] plbossart commented on #532
This still happens with the latest firmware+driver

modprobe sof-pci-dev
amixer -Dhw:0 cset numid=28 3
speaker-test -Dhw:0,3 -c2 -r48000 -t sine

The sof-logger points to a buffer error
host_params() error:buffer_set_size() failed, buffer_size = 8000
before invalid DMA channels are identified.

[logger-hdmi3.log](https://github.com/thesofproject/linux/files/2829952/logger-hdmi3.log)

[2019-02-05 03:52] ranj063 commented on #587
@plbossart @fredoh9 i cant reproduce this issue on my up2.
kernel : d7c0864128eca2c9f70ebba8b207ea0efb48cadd
fw: dee2ec871fa7bde52aab05355510c04efc5703c3
----master commit: [e56326a](github.com/thesofproject/sof/commit/e56326ab487ab048bde2a657c0d58ca155a3b4a8)
tplg: all HDMI pipelines removed.
[sof-apl-pcm512x.diff.txt](https://github.com/thesofproject/linux/files/2830673/sof-apl-pcm512x.diff.txt)

[2019-02-05 08:49] lyakh commented on #512
@plbossart what would be your preferred way to solve this? According to @mengdonglin 's recommendations - adding a virtual codec or disabling PM for nocodec? How important is PM for nocodec?

[2019-02-05 14:35] plbossart commented on #512
@ranj063 simplified the whole suspend scheme now and I don't think we need to do anything special.
Can you retry and confirm the diagnosis?

[2019-02-05 17:57] plbossart commented on #617
i think it's a bug rather than an enhancement.

For example if you compile the Up2 support w/ PCM512x, with no HDMI support built-in but a topology that requires HDMI, you get a use-after-free and a kernel oops..

[dmesg-nohdmi.log](https://github.com/thesofproject/linux/files/2833236/dmesg-nohdmi.log)

@ranj063 thoughts?

[2019-02-05 18:12] plbossart commented on #587
@ranj063 confirmed fixed, but I hit a kernel oops if I keep the same topology with HDMI, see https://github.com/thesofproject/linux/issues/617.
Let's close this issue and check the new sighting

[2019-02-05 18:12] #587 closed

[2019-02-05 18:17] ranj063 commented on #617
@plbossart agree this is a bug. Let me look into it.

[2019-02-06 01:47] wenqingfu commented on #532
fixed by thesofproject/sof#959

[2019-02-06 01:47] #532 closed

[2019-02-06 09:13] lyakh commented on #552
#623 seems to fix this for me, I've run a 100 iterations successfully. Could someone else from original reporters double-check?

[2019-02-06 13:45] plbossart commented on #562
this needs to remain as is. We set the .ignore_machine field dynamically so can't use a const.

[2019-02-06 13:45] #562 closed

[2019-02-06 15:26] lyakh commented on #512
@plbossart Retried, that hasn't fixed it (unfortunately).

[2019-02-06 15:32] ranj063 commented on #512
@lyakh this is a bit surprising. Just to confirm, you're using sof-apl-nocodec.tplg and the kernel is latest tip of sof-dev?
Also do you mind sharing your kconfig?

[2019-02-06 15:43] dabekjakub commented on #602
https://github.com/dabekjakub/sof/tree/fake_exception

It should exception just after kernel load. If for any reason You do not start any stream at startup just send stream start command and it should do it.

[2019-02-06 15:55] lyakh commented on #512
@ranj063 Yes, sof-dev tip - with your 2 PM patches, nocodec topology. I can also attach dmesg. I see there that volume runtime-suspend is failing: `error: volume put failed to idle -16` .config attached
[.config.txt](https://github.com/thesofproject/linux/files/2837107/default.config.txt)

[2019-02-06 16:11] lyakh commented on #512
I know why (I think) - the nocodec platform driver is registered as a child of the PCI device and then rt-suspend is rejected, since the .ignore_children flag isn't set. Expect a patch, if that's the only problem...

[2019-02-06 16:34] lyakh commented on #512
yep, fixed it by setting .ignore_children, but we have to consider what consequences this can have. I think it should be ok, I don't see the PCI device getting any more children than the nocodec device, but maybe I'm missing some. I'll submit a patch, we can discuss it there then.

[2019-02-06 16:49] plbossart commented on #512
That doesn't seem right to me. Yes the nocodec platform driver is registered as a platform driver, but so are *all* the machine drivers. In other words the existing logic works for most boards without this .ignore_children. we must be missing something else.

[2019-02-06 17:13] plbossart commented on #512
I just tried and see no problem
[code]

[2019-02-06 17:15] plbossart commented on #512
I can even see the transition from active to suspend, it happens with a delay with is normal with autosuspend.
[code]

[2019-02-06 17:46] lyakh commented on #512
@plbossart hm, interesting. And you aren't getting `error: volume put failed to idle -16` in your dmesg? I missed the point, that other machines' platform devices are also children of the PCI device. But I see error messages in my set up and I get -EBUSY from rpm_check_suspend_allowed(). So, it must be the `atomic_read(&dev->power.child_count)` part that's different then. I'll track it down tomorr

[2019-02-06 23:25] plbossart opened #627 "CHT: IPC errors [regression since Jan 30]"
topic/sof-dev does not work on CherryTrail (and likely Baytrail)
d7c0864128ec ('ASoC: SOF: Pass bar to snd_sof_fw_parse_ext_data')

The last good commit is:
c4575fb53723 ('ASoC: topology: unload physical dai link in remove')

errors:
[code]

[2019-02-07 00:20] plbossart commented on #627
Fixed by https://github.com/thesofproject/linux/pull/628
this was an easy one due to side effects of the Kconfig selections when both ACPI and HDAudio/iDISP options are selected.

[2019-02-07 00:20] #627 closed

[2019-02-07 14:06] lyakh commented on #512
@plbossart @ranj063 ok, here goes my updated analysis: as @plbossart correctly noted, it isn't about the nocodec vs. pcm5112x topology. It's about whether HDMI codecs are included in the topology or not. When the HDA driver initialises, it checks what codecs are connected by reading some hardware register. Then for each detected codec it allocates objects *and* in snd_hdac_device_init() runtime PM

[2019-02-07 14:20] ranj063 commented on #512
@lyakh but there are no HDMI pipelines in the nocodec topology right? The nocodec machine driver cannot handle HDMI codecs. So Im not sure ho you're even seeing this problem

[2019-02-07 14:30] lyakh commented on #512
@ranj063 the HDA driver is initialising anyway as a PCI device

[2019-02-07 15:23] ranj063 commented on #512
@lyakh ahh i get the point now. I am not sure how to handle this but this seems a bit of an overkill to handle such cases. When using nocodec tplg, we should disable HDA in the kernel.

Let me test this at my end today and confirm this problem anyway.

[2019-02-07 15:47] lyakh commented on #512
@ranj063 well, sure, we can make sure to avoid this issue *when* using nocodec, but is that enough? I think there are multiple other situations when for one reason or for another a codec driver would not probe correctly, would this be a reason enough to keep the HDA device active? Since the HDA driver isn't SOF specific, I think we can do some preliminary discussing here and then take this to the

[2019-02-07 16:13] plbossart commented on #512
I am having difficulties following this thread. We already have multiple Kconfig options to support HDaudio and nocodec:

SND_SOC_SOF_NOCODEC
SND_SOC_SOF_HDA_LINK
SND_SOC_SOF_HDA_AUDIO_CODEC

We don't look for the codecs in all cases, so what combination of these three exposes the problem on Up2?

[2019-02-07 16:27] lyakh commented on #512
@plbossart I think I attached my .config above ;-) But anyway - enable and force nocodec and keep all the HDA options too. That should do it.

[2019-02-07 18:35] plbossart commented on #549
Not applicable for now for SOF, let's close

[2019-02-07 18:35] #549 closed

[2019-02-07 18:44] plbossart commented on #512
@lyakh your initial explanations threw me off ("It's about whether HDMI codecs are included in the topology or not"). This is really not about the topology file but about the Kconfigs. If we have the HDaudio link enabled, then indeed we will initialize codecs but the card will never make any reference to those codecs so we can't suspend them, right?

if we are aligned on the analysis, I see three

[2019-02-07 18:57] ranj063 commented on #512
@plbossart I agree option 3 sounds like the best thing to do.

[2019-02-07 19:40] wenqingfu commented on #597
the dsp core ref count probably can be fixed together with #557

[2019-02-07 22:29] lyakh commented on #512
To choose one of the above options I'd like to understand - is this really only a problem with nocodec? What if nocodec isn't used but the real codec, that is supposed to probe, hasn't succeeded for some reason, or haven't even attempted? Isn't it better to let the HDA driver autosuspend itself at the end of its probing and let any further users (codecs) "get()" it again?

[2019-02-07 23:27] ranj063 commented on #602
@dabekjakub Thanks! let me give this a try today

[2019-02-07 23:34] ranj063 commented on #602
@dabekjakub with your fw change: I see the following. Doesnt look like it is an exception though

[  104.248138] sof-audio-pci 0000:00:0e.0: rate_min: 48000 rate_max: 48000
[  104.248147] sof-audio-pci 0000:00:0e.0: channels_min: 2 channels_max: 2
[  104.248154] sof-audio-pci 0000:00:0e.0: rate_min: 48000 rate_max: 48000
[  104.248159] sof-audio-pci 0000:00:0e.0: channels_min: 2 channels_max: 2
[

[2019-02-08 09:09] singalsu opened #634 "Commit "ASoC: SOF: Cleanup DMIC FIFO B related IPC" is not backwards compatible"
with previous 3:0:0 firmware. The DMIC DAI instantiation fails due to error check code in FW for FIFO B word length. The 3:0:1 kernel sets this renamed to reserved IPC field to zero that is not accepted by firmware.

[2019-02-08 09:23] lyakh commented on #616
@plbossart so this issue should be renamed to something like "pulseaudio broken on Up^2?" Not sure about your comment above - it is bad but that isn't the reason for this problem anyway? And we don't have a fix for it yet?

[2019-02-08 09:53] dabekjakub commented on #602
I am 100% positive this FW triggers exception after any stream trigger is sent to fw. I saw panic info in my tests on chrome platform(there was info passed in dmesg). Above looks like FW is dead but as if kernel did not acknowledge that FW crashed.

[2019-02-08 18:05] plbossart opened #637 "SKL/KBL loader is broken"
cppcheck reports an issue that exposes the fact that this loader has not worked in a very very long time....

[code]

[2019-02-08 18:15] plbossart commented on #637
But wait, there's more

[code]

[2019-02-08 19:40] #605 closed

[2019-02-08 20:04] plbossart opened #639 "Firmware ABI changes are not reflected in kernel"
Guys, this is really sloppy work. There is no reason why ABI changes at the firmware level are not propagated to the kernel files with a matching PR or issue raised to make sure we remain aligned. Whoever adds a change to firmware files has a moral duty to follow-up on the kernel side - not necessarily with code but at least an issue.

control.h: tons of cosmetic issues, missing definitions for ev

[2019-02-08 20:21] plbossart opened #640 "Missing support for existing topology tokens"
We seem to have a lot of tokens that are not handled...

comp_tokens: preload_count
dai_tokens: dmac_config
ssp_tokens: clks_control, frame_pulse_width, quirks, tdm_per_slot_padding_flag

There should be something that passes the information to firmware, or we remove those tokens...

[2019-02-08 20:25] plbossart commented on #621
LBM added to kernel headers, but support for quirks is missing in the first place. Added issue https://github.com/thesofproject/linux/issues/640 to track this missing functionality

[2019-02-08 20:25] #621 closed

[2019-02-08 20:26] plbossart commented on #600
fixed with last week's update

[2019-02-08 20:26] #600 closed

[2019-02-08 20:27] plbossart commented on #560
fixed

[2019-02-08 20:27] #560 closed

[2019-02-08 20:28] plbossart commented on #550
fixed, we are no longer using snd_pcm_suspend and use pm_ops instead.

[2019-02-08 20:28] #550 closed

[2019-02-08 20:30] plbossart commented on #534
closing, we've run hundreds of cycles of module load/unload without issues

[2019-02-08 20:30] #534 closed

[2019-02-08 20:31] plbossart commented on #525
done

[2019-02-08 20:31] #525 closed

[2019-02-08 20:32] plbossart commented on #524
fixed.

[2019-02-08 20:32] #524 closed

[2019-02-08 20:32] plbossart commented on #505
fixed

[2019-02-08 20:32] #505 closed

[2019-02-08 20:34] plbossart commented on #490
closing, this works fine now. If there is still a problem a new issue needs to be re-opened

[2019-02-08 20:34] #490 closed

[2019-02-08 20:35] plbossart commented on #468
DSP detection is implemented. Coexistence with SST/legacy is a more complicated topic that will need to be addressed when we have firmware signed with a production key.

[2019-02-08 20:35] #468 closed

[2019-02-08 20:36] plbossart commented on #416
closing, this doesn't seem to be applicable any longer

[2019-02-08 20:36] #416 closed

[2019-02-08 20:36] ranj063 commented on #602
@dabekjakub I have tried this divide by 0 trick about a year ago and it definitely triggered an exception and the kernel acknowledged it too. Not sure what changed along the way.

[2019-02-08 20:38] plbossart commented on #266
@mengdonglin is this still open or can we close?

[2019-02-08 20:39] #135 closed

[2019-02-08 21:02] ranj063 commented on #522
https://github.com/thesofproject/linux/pull/633 fixes this.

[2019-02-10 03:33] mengdonglin commented on #592
I think this issue is solved on APL by merging PR https://github.com/thesofproject/linux/pull/582

@xun2z Please verify the issue for CML (WHL in I2S mode). If you still see the system needs a long time to resume from S3, please file a new issue for CML.

[2019-02-10 14:50] xiulipan commented on #118
@lyakh
Actually this feature originally is about reproduce some bug on host-less DSP on QEMU or some other simulator. And I think that is just what you think?
@ranj063
Good point! I think this will also have benefit about this kind of bugs. To help us make sure the payload is what we expect.

[2019-02-10 14:56] xiulipan commented on #537
@lgirdwood I think we have the panic ipc handler inside kernel now:
https://github.com/thesofproject/linux/blob/66ca36b921dbd27778804a440ceea8668614b56c/sound/soc/sof/intel/hda-ipc.c#L194-L201
Maybe we can close this issue? And continue the FW recovery method in #452

[2019-02-10 15:01] xiulipan commented on #452
@plbossart @ranj063
Actually now when a panic happened. If runtime_pm is not disabled, it will automatically recovery the DSP by runtime_suspend and runtime_resume.

This now brings some difficulty in debug as all the logs and dumped exception info is gone with that suspend/resume.

As for the recovery mode, I think we may need to add flag or debugfs controller to disable the FW recovery for DEBUG

[2019-02-10 15:10] xiulipan commented on #564
@dbaluta I will continue to check that within #586
Thanks for pointing out some old remaining unused thing. Yes the CMD in SHIM is not used beside some log message I think.

[2019-02-10 16:43] dbaluta commented on #564
@xiulipan thanks for looking into this. The log message in SOF was cleaned up with
https://github.com/thesofproject/sof/pull/877/commits/7c37501568dc90435c74c562e1d0628ec6288d2c

[2019-02-11 01:59] bardliao commented on #512
Agree with @lyakh This issue will happen if SND_SOC_HDAC_HDMI is selected but HDMI is not used. Similar issue is discussed in https://github.com/thesofproject/linux/issues/140#issuecomment-430607566

[2019-02-11 09:46] dabekjakub commented on #602
I am sure that this exception is passed since i can see exception data in dmesg on my kernel build (commit stated in initial comment) but not in exception fs. Maybe You have latest kernel code and it has more than one issue.

[2019-02-11 13:53] lyakh commented on #118
@ranj063 @xiulipan @wenqingfu what if we do this as a debugfs file with a blocking read? I'm not a huge fan of polluting the kernel log with potentially many (dozens? hundreds?) messages per second.

[2019-02-11 15:53] plbossart commented on #452
On 2/10/19 9:01 AM, xiulipan wrote:

Panic is one aspect, but the more critical part is timeouts when the DSP
gets stuck or irresponsive. You are correct that when recovery happens
we should keep a trace of what happened before the recovery, otherwise
it's just awfully hard to test.

[2019-02-12 09:34] singalsu commented on #639
Yep, I'll start to work with tone and eq related.

[2019-02-13 00:57] wenqingfu commented on #610
@plbossart
Did you just manually load/unload the sof modules repeatedly to trigger this bug? or did you use any of the test script?
Can you reproduce this on BYT platform such as Minnow Board?

[2019-02-13 08:32] bardliao commented on #617
How about calling snd_soc_tplg_component_remove() if snd_soc_tplg_component_load() return error?
Something like
[code]

[2019-02-13 12:34] singalsu commented on #634
This was fixed by PR #635.

[2019-02-13 12:34] #634 closed

[2019-02-13 15:30] plbossart commented on #610
On 2/12/19 6:57 PM, Michael Fu wrote:

With the scripts things to be fine (with the exception of IPC errors
which stop the sequence)

With a plain vanilla rmmod sof-acpi-dev, you get errors, so I suspect
there are still issues with the module dependencies and cleanups that
aren't done. I get similar issues on Up2, with a plain vanilla rmmod
sof-pci-dev.

[2019-02-13 19:45] #522 closed

[2019-02-13 20:30] plbossart commented on #617
@bardliao not sure this is going to change anything - and I don't get how this error happens anyways. if we hit an issue during the topology load, then the component probe will fail and in theory the card will not be created so the topology removed?
It may be worth it reconstructing the program flow that leads to issues.

[2019-02-13 20:34] plbossart commented on #616
@lyakh my point was that the driver is told to operate in no_irq mode with the no_period_wakeup setting, but if this debug option is set we override the settings and will generate an interrupt on a period boundary userspace may not need/want. The real fix would be to remove support for no_period_wakeup, not override settings that were accepted in the userspace/driver negociation.

[2019-02-14 05:00] xiulipan commented on #118
@lyakh
The point is that, we could not know when to read the payload from debugfs. The IPC is pretty quick to send.
Or you suggest we have another debugfs to store all IPC message in history order?

[2019-02-14 06:14] bardliao commented on #617
@plbossart Take https://github.com/thesofproject/linux/issues/617#issuecomment-460738629 for example,    snd_soc_tplg_component_load() will return error due to "ASoC: physical link iDisp1 (id 1) not exist". Yes, the card will not be created, but I didn't see the topology is removed after card instantiate failed.
I did a quick test. After the patch above is applied, sdev->widget_list will be clean

[2019-02-14 07:30] lyakh commented on #118
@xiulipan it would be a different debugfs file, sure, similar to the logger. Yes, you would have to capture it explicitly, it wouldn't be saved automatically, and it would be more difficult to synchronise IPC messages with the rest of debugging output. So, we have to weigh the pros and the cons.

[2019-02-14 07:35] xiulipan commented on #118
@lyakh
That sound reasonable.
And if we could know what is the input date format for the host-less DSP system, then we can directly output in that format.

[2019-02-14 16:21] plbossart commented on #617
@bardliao you're right, the topology is only removed during the snd_soc_unregister_component() call.
Due to the device/probe implementation, errors during the card creation will not be propagated, so this call to unregister will never happen. I agree your proposal would help release the topology resources and should be sent upstream.
I am not sure thought that this will solve Liam's problem. We sh

[2019-02-14 20:08] plbossart opened #652 "Upstream: rework or add comments to snd_sof_create_page_table()"
Comments from Takashi Iwai

"
I guess this is OK for now, but better to give some notes that it's
x86-specific.  To be more generic, we'd have to consider endianess and
the unaligned access in the code above.
"
Need to document what this table is used for, what format assumptions are made and look at support for non-x86 platforms
At a minimum we need to add comments on limitations

[2019-02-14 20:09] plbossart opened #653 "Upstream: IPC clarifications"
Comments from Takashi Iwai:

[code]

[2019-02-14 20:48] plbossart opened #654 "Upstream: clarify use of spcm->mutex"
feedback from Takashi Iwai

[code]

Indeed the position of the mutex_lock makes no sense. Should be either before the close or removed completely.

[2019-02-14 20:50] plbossart opened #655 "Upstream: trace: clarify use of host_offset"
Feedback from Takashi Iwai

[code]

[2019-02-14 22:15] plbossart opened #657 "Upstream: Intel: clarify use of locks (or lack thereof)"
Feedback from Takashi Iwai

[code]

Need to add a qualifier for each use of those functions to explain why the unlock mode is safe.

[2019-02-14 22:51] stripes416 commented on #587
Just as an aside, git bisect says kernel: b145db03cadcc8e182808ea12ddc5440b43b6c86 'fixed' the ipc error.

[2019-02-18 08:26] slawblauciak opened #660 "xrun handling should be handled by alsa instead of firmware"
Currently the driver assumes the xrun will be handled by the firmware.
Ultimately it should be handled by alsa itself by simply restarting the stream, since firmware isn't capable of resetting DMA pointers.

[2019-02-18 08:51] mengdonglin commented on #660
https://github.com/thesofproject/sof/pull/851 is to add support for ALSA xrun recovery in firmware side and also needs a kernel config DEBUG_XRUN_STOP=y

[2019-02-19 08:18] keqiaozhang opened #661 "DAPM widget will not power off after playback is stop"
This issue is found on Yorp Chromebook.

How to reproduce：
1. plug in headset
2. run speaker-test  -D hw:0,1 -c 2 or aplay -Dhw:0,1 -f dat -c 2 Music.wav
3. ctrl + c to stop speaker-test or aplay
4. Do not unplug headset and check DAPM status:
    grep On /sys/kernel/debug/asoc/sof-glkda7219max/ -r

DAPM status after playback:
[code]
Test recipe:
ChromeOS:R73-11559.0.0
SOF/TPLG-glk-006-drop-stable

[2019-02-19 11:19] emilchudzik opened #662 "[WHL] Entering suspend cause reboot platform"
This command cause reboot instead od suspend/resume:
`sudo rtcwake -m mem -s 2`

Platform configuration:
WHL RVP
OS: Ubuntu 18.04.2
both kernel:
topic/sof-dev: branch [69a41dab](https://github.com/thesofproject/linux/commit/69a41dab)
topic/cros-sof-v4.19: [8492020d5967](https://github.com/thesofproject/linux/commit/8492020d5967)

FW: [2a86314](https://github.com/thesofproject/sof/commit/2a863143e8

[2019-02-19 11:20] emilchudzik commented on #662
I also checked using power button on platform - the same results.

"Sleep" works on legacy kernel from ubuntu.

[2019-02-19 13:45] bardliao commented on #617
@lgirdwood @plbossart I thought that widget's kcontrol will be freed by remove_widget() but it is not since w->kcontrols is null. After checking it, w->kcontrols will be assigned after topology load successfully. It means the resources allocated by soc_tplg_dapm_widget_dmixer_create() will lost when topology load failed. Do you have any suggestion how can we free the resources?

[2019-02-20 06:15] zhuyingjiang commented on #463
Close this for now since unselect "HDA audio PCI" works and #480 is closed.

[2019-02-20 06:15] #463 closed

[2019-02-20 12:45] bardliao commented on #661
soc_dapm_dai_stream_event() will be trigger when playback is stop. When soc_dapm_dai_stream_event(SSP2.OUT) is triggered before soc_dapm_dai_stream_event(Passthrough Playback 1), the SSP2.OUT widget which connect to codec's widget will be checked to **on** due to "Passthrough Playback 1" widget is **on**. Unfortunately, the order is exactly what we have now.
But we don't see this issue on Up2. Com

[2019-02-20 21:43] plbossart commented on #661
Sorry @bardliao, I am having difficulties following your explanations.

Are the differences in behavior due to a different topology file where
the widgets are not described in the same way/order? Or to a machine
driver hard-coded handling?

How is this 'fix' related to the explanations above and what are the
implications of this change?
I am really not hot about this since it's a shared machine dr

[2019-02-21 02:05] fredoh9 commented on #640
I identified topology definitions and those fields mentioned above are not used in SOF firmware. I need to clarify couple of questions to myself before submitting a PR.

1. comp_token::preload_count is set to 2 in topology file but not being used in firmware. the other fields are not even being used from the beginning. What's the meaning of PRELOAD_COUNT=2?
2. My Dev environment is UP2(appololake)

[2019-02-21 04:11] xun2z commented on #662
I cannot reproduce this reboot issue using the same configuration.

**Test Env**
WHL RVP
topic/cros-sof-v4.19: [8492020d5967](https://github.com/thesofproject/linux/commit/8492020d5967)
sof: [2a86314](https://github.com/thesofproject/sof/commit/2a863143e80baec223c9f670f3718f24432bb423)
topology: sof-cnl-nocodec.tplg

Here is the part of dmesg when entering suspend
[code]

@emilchudzik can you past

[2019-02-21 09:17] emilchudzik commented on #662
Here is a dmesg dump before entering command, there is no error from audio part:
[dmesg_4.19.14-i2s-8492020d-nocodec.txt](https://github.com/thesofproject/linux/files/2888493/dmesg_4.19.14-i2s-8492020d-nocodec.txt)

I check legacy kernel (default from Ubuntu 18) and Windows - for each od them platform going reboot instead of suspend, so it seems to be a platform specific issue.

On another WHL RVP

[2019-02-21 11:48] singalsu opened #665 "Change of IIR and FIR coefficients in topology causes an IPC error"
I noticed this first in Chrome and repeated the same issue in fresh SOF git master and kernel topic/sof-dev. The error happens if I configure topology to use other that default flat EQ responses.

[code]

The error seen in DMESG is

[code]
The error in sof-logger is

[code]

The IPC length has become 452 that is much larger than the IIR blob. Also strange that the recipient looks like volume compo

[2019-02-21 11:52] singalsu commented on #665
FYI @juimonen @ranj063 I can look into this. I wonder if coming large IPC and processing components related PRs will cause the relevant kernel code parts to be re-written?

[2019-02-21 13:04] bardliao commented on #661
@plbossart Sorry, it is not clear in the above comment. Let me describe it again. The FE dai (Passthrough Playback 1) should be closed before BE dai (SSP2.OUT). Otherwise, the BE dai will not be powered down since BE dai is connected to FE dai and the FE dai is still active. The .ignore_pmdown_time flag will take effect on both FE and BE dai. In other words, if  we set  .ignore_pmdown_time to a BE

[2019-02-21 15:51] plbossart commented on #661
@bardliao Sorry, still scratching my head on this one. if you stop the playback, isn't pm_runtime going to take everything down? Do we still get this issue after suspend happens?

[2019-02-21 15:52] plbossart commented on #640
@lgirdwood @keyonjie can you please comment on DMA/DAI related tokens?

[2019-02-21 22:50] fredoh9 commented on #640
@plbossart, I doubled checked all data fields you mentioned are not being used by the firmware in yesterday. Just wondering how you find all missing supports in that tokens. I think i need to go through all data structures to confirm there is no more missing support. It will require quite a bit amount of effort to do crosscheck for me. If you have automated script to do so, I'd like to use that al

[2019-02-21 23:00] plbossart commented on #640
Sorry I don't quite get the question. I generated the list by looking at
each IPC field to see if there was a corresponding token, very manual
work. I don't have anything scripted or a means to formally prove all
the IPC parts are in use

[2019-02-21 23:25] fredoh9 commented on #640
@plbossart , got you. I will do same thing

[2019-02-21 23:42] fredoh9 commented on #640
@lgirdwood , one question. I identified the files need to be updated. They are distributed across two projects.
1. Linux project: tokens.h, topology.h, topology.c
2. Sof project: dai.m4, tokens.m4, topology.h
I can do manual update but double checking first. Most of structure seems generated from m4. Is manual update expected when you add or remove tokens or data fields on ward? Or do we need to r

[2019-02-22 00:53] wenqingfu commented on #662
close per the comment

[2019-02-22 00:54] #662 closed

[2019-02-22 00:59] bardliao commented on #661
Yes, we still get the issue after runtime suspended. pm_runtime will not take dapm down. In fact, the pcm512x codec is not going to suspend if there are some dapm widget on.

[2019-02-22 07:11] bardliao commented on #314
@plbossart Should we add a new file in the drivers/clk/x86 folder? Does it make sense to reuse skl-ssp-clk.c?

[2019-02-22 15:01] plbossart commented on #314
On 2/22/19 1:11 AM, Bard Liao wrote:

The main point is really how this would be handled by firmware.
Currently we have no IPC to tell the firmware to start the clocks on SSP
(which really means start a dummy transfer).

We can certainly reuse from skl-ssp-clk.c but it's a second order
problem. The first issue to agree on is how this will be told to the
firmware.

[2019-02-22 16:20] plbossart commented on #661
ok, so we do have the issue with the pcm512x (earlier it was stated it was not).
I see weird things with the -nohdmi topology:

[code]
I am not too sure why the SSP5 and BUF1.1/1.0 are On even before I start playing. I do see a number of IPCs on startup but there is no .trigger or .prepare/hw_params.

What I do see is that the Pipeline seems to detached and somehow the buffers are on even though t

[2019-02-22 17:21] plbossart commented on #661
With HDMI taken out there is clearly something wrong with the topology:

![widgets](https://user-images.githubusercontent.com/1149035/53259091-d8637580-3693-11e9-8b28-51ba5247f710.png)

[code]

The fact that there are two connections duplicated looks suspicious...

[2019-02-22 17:58] plbossart opened #669 "Up2/nocodec: IPC error with 4 playback streams"
100% reproducible error with the FORCE_NOCODEC config and HDAudio removed.
3 streams can be supported, the 4th one fails during the trigger step.
This happens with topic/sof-dev as well as the simplified IPC.

[code]

[2019-02-22 21:25] plbossart commented on #669
This may actually be a firmware issue
kernel: ee19d24e26c7e8cb193bfb72cce27561ec281c92
firmware: 4d715e060dcba1a40d1dd0138e148f717eb109ea
[sof-logger.txt](https://github.com/thesofproject/linux/files/2895865/sof-logger.txt)
[dmesg.log](https://github.com/thesofproject/linux/files/2895866/dmesg.log)

steps to reproduce:
open 4 SSH terminals and use
speaker-test -Dhw:0,0 -c2 -r48000 -t sine
speaker-

[2019-02-23 02:01] bardliao commented on #661
@plbossart

You will see this issue if you set  ignore_pmdown_time = 1, to the dai link of "SSP5-Codec" in bxt_pcm512x.c

[code]
You will see more widgets are On and will not be Off after playback is stop
[code]
SSP5.OUT on will lead to the codec widgets are on, and it is the problem.

The widget id of BUF1.0 and BUF1.1 is snd_soc_dapm_buffer, and it is snd_soc_dapm_scheduler for PIPELINE.1.SSP5.O

[2019-02-25 01:55] keyonjie opened #670 "Correct the HDA host DMA FMT programming flow"
According to information from FW side, here is the correct FMT programming flow:

Put DMA into coupled mode for the time of writing format to SDxFMT register.
a. Before writing format to SDxFMT, clear PPCTL.PROCEN bit for corresponding stream index.
b. Write SDxFMT
c. Set PPCTL.PROCEN bit for corresponding stream index.

Then check if https://github.com/thesofproject/sof/issues/856 can be fixed by

[2019-02-25 03:04] mengdonglin commented on #489
@ranj063 ,

You will continue working on this issue ?I
You commented that "I will submit a separate PR for the link DMA resuming part" in https://github.com/thesofproject/linux/pull/582#issuecomment-459499043

I've checked with @RanderWang  and he has not been working on this.

[2019-02-25 07:13] RanderWang opened #673 "HDA: simutaneous playback & catpure issue"
If playback and capture are working simultaneously and
 capture is stopped, there is no sound produced by playback.

[2019-02-25 08:24] keyonjie commented on #670
Hi @RanderWang can you please help on this?

We may need to check if something change like below can fix sof issue #856:

[code]

[2019-02-25 12:41] emilchudzik commented on #603
@wwittbrx bringup Hatch. thank you Wojtek.

We just checked flow from topic and we haven't repro. There is no "white noises" after end of the playback on each time.

Configuration:
Platform: Hatch CML
kernel: cros-sof-v4.19 / [8492020d5967](https://github.com/thesofproject/linux/commit/8492020d5967) + PR#651 applied
FW: cml-002-drop-stable / [dcd825b](https://github.com/thesofproject/sof/commit/dc

[2019-02-25 18:49] plbossart commented on #661
@ranj063 any comments on the fact that there are duplicate connections? Could it be a topology issue?

[2019-02-25 18:55] ranj063 commented on #661
@plbossart the duplicate connection looks weird. I'm not sure it is a topology issue. Looking at the tplg graph I only see the connections as below.
![tplg](https://user-images.githubusercontent.com/7766921/53360958-c5e37900-38eb-11e9-9619-c83b60f5922e.png)

[2019-02-25 19:01] plbossart commented on #661
@ranj063 can you remind me where this tplg->graph is? I'd like to run it on the PCM512x topology just to double-check the topology is correct

[2019-02-25 19:03] ranj063 commented on #661
@plbossart right now its only a binary. I'll send it to you by email and I'm going to submit a PR today to add it to the topology repo.

[2019-02-25 21:04] ranj063 commented on #661
@plbossart i figured out why there are 2 connections from Passthrough Playback 0 -> PCM0P. actually this is the case for all PCM's in our case. Turns out dapm automatically adds this route when the PCM0P widget is created.  The duplicate connection comes from topology indeed. This comes from (in the case of pipe-volume-playback.m4) 	`dapm(N_PCMP(PCM_ID), Passthrough Playback PCM_ID)'.

If I remove

[2019-02-25 21:06] ranj063 commented on #661
@plbossart as for the second issue with the buffers and pipeline widgets not turning off, I have a fix for it too. will submit it soon. These widget types are missing their default power_check definitions in soc-dapm.c.

[2019-02-25 23:29] ranj063 commented on #661
@plbossart https://github.com/thesofproject/linux/pull/675 fixes both the problems with the buffers being ON and the duplicate connection.
![pcm512x-idle](https://user-images.githubusercontent.com/7766921/53376080-11a91900-3912-11e9-9a0d-073034267ba1.png)

[2019-02-26 04:39] ranj063 commented on #602
@dabekjakub i managed to create an exception by removing the volume cmd callback from the code and I am able to see the exception data when I do a hexdump /sys/kernel/debug/sof/exception as below:
0000000 0058 0000 000c 0000 0000 0000 0020 0006
0000010 0000 0000 756c be02 48b0 be02 0000 0000
0000020 0000 0000 0000 0000 0000 0000 0720 0006
0000030 0722 0006 0000 0000 0000 0000 0000 0000
0000040 000

[2019-02-26 05:12] ranj063 commented on #489
@mengdonglin yes but this is not a P1 issue. Could you please downgrade it to P2?

[2019-02-26 06:26] Jiangxinx opened #676 "[Stress test]: fail to boot firmware after unloading and reloading SOF modules 55 times on BYT-nocodec"
Summary:
Fail to boot firmware after unloading and reloading SOF modules 55 times on BYT-nocodec.
sof-logger is empty. sof-logger -t log is attached below.

dmesg:
[code]

Test steps:
1. sudo ./sof_bootloop.sh 100

Test env:
sof master: 82d29e09
kernel sof-dev: ee19d24e
tplg: sof-byt-nocodec.tplg

Log:
[boot_fail.log](https://github.com/thesofproject/linux/files/2904033/boot_fail.log)
[logger.log]

[2019-02-26 06:30] Jiangxinx commented on #552
Fixed on up2 nocodec.

Test env:
sof master: 82d29e09
kernel sof-dev: ee19d24
tplg: sof-apl-nocodec.tplg

[2019-02-26 06:30] #552 closed

[2019-02-26 07:17] dabekjakub commented on #602
Confirmed , works on latest kernel - closing.

[2019-02-26 07:17] #602 closed

[2019-02-26 11:34] bardliao commented on #603
@emilchudzik Did you test it by headphone?

[2019-02-26 11:51] emilchudzik commented on #603
No, I tested it by hdmi.
On headphone I haven't any sound although there is no errors in dmesg log and aplay show playback progress without any issues. I haven't went deeper for debugging it yet - I will try it again with deeper analysis and I will give a feedback.

[2019-02-26 13:12] juimonen commented on #676
As I read the logs (and tested with my own minnow) we lose 1 component connect ipc message for timeout. At least for me the dsp or kernel doesn't crash, for some reason the message is not ever read in dsp (or by dsp) and kernel times out, but boot continues normally.

[2019-02-26 13:31] juimonen commented on #676
So for some reason the transfer is jammed, I get the jam in different place than the attached log, but anyway mechanism seems to be the same. You see in the logger huge delta in the timestamps when nothing is happening in the DSP -> we get timeout in driver side -> after erro processing we can again send and dsp is responding.

[2019-02-26 13:44] juimonen commented on #676
@plbossart @ranj063 any idea about this thing in byt? I saw you had some recent commits to ipc/doorbell.

[2019-02-26 15:00] plbossart commented on #676
@juimonen it's been an issue with BYT since I came back at the end of October, and no one seems to care but you and me... I have never been able to get the same reliability as Up2 for the module load/unload test, and even for regular playback I routinely get these IPC timeouts.

[2019-02-26 18:01] wenqingfu commented on #676
not entirely true. @juimonen and @wenqingfu knew what happened. let's actively work on Minnow Board platform related bug from now on, and don't let Up2 fall like it. There are even some double-digit number issues still standing while our latest issue/PR number is close to 700 at the moment. cannot live with this anymore.

I bet $5 it's a driver code bug in IPC.

[2019-02-27 01:56] fredoh9 commented on #640
Under internal review with patch files.

[2019-02-27 05:40] mengdonglin opened #677 "IPC TX Flow Clarification 1/3: send an IPC message"
This issue is to clarify the IPC Tx Flow:

[1]

[code]

//<<< What happens here? if we try to send too many IPC messages
the SOF code will just crap out since there is no retry mechanism
at a later time.

// Should we have a blocking version of sof_ipc_tx_message() with
a timeout?

// RPMsg provides both solutions, send_to() will block until a TX
buffer is available (with a 15 mn timeout) and try_

[2019-02-27 06:04] mengdonglin opened #678 "IPC TX Flow Clarification 2/3: Interrupt handling"
...
Now we wait for an interrupt

Interrupt first part:

[5]

[code]

Interrupt second part:

[6]

[code]
// Is this check required? do we have cases where we have other irq sources?

[code]
    /* is this a reply message from the DSP */
    if (hipcie & HDA_DSP_REG_HIPCIE_DONE &&
        hipcctl & HDA_DSP_REG_HIPCCTL_DONE) {

        hipci = snd_sof_dsp_read(sdev, HDA_DSP_BAR,

[2019-02-27 06:12] mengdonglin opened #679 "IPC TX Flow Clarification 3/3: process the reply"
To follow up #677 (with flow diagram) and #678
...
(interrupt context)
[7]
[code]
[Rander] We never set msg id in msg, so it is always zero. And we always get the head
msg in list, so we should rework this function
[code]

(interrupt context)
[8]
[code]

(normal context)
[9]
[code]
[10]
[code]
[11]
[code]
[12] only here can a new TX IPC message be sent per the definition of
is_ipc_ready(), so in e

[2019-02-27 06:55] libinyang commented on #136
DPMST hub mode works. And daisy chain mode can't be tested as the display is unstable. Will try to find why display is not stable.

[2019-02-27 07:51] keqiaozhang opened #680 "sof modules unloading failure on GLK"
This issue happens when unloading the modules. dai links are missing in sof_link_unload.

How to reproduce:
1. remove the modules
[code]
2. check the dmesg.

dmesg:
[code]
Test recipe:
sof-master: [82d29e0](https://github.com/thesofproject/sof/commit/82d29e099cd75c413ed7431e3e27d145d7a127b6)
kernel: topic/cros-sof-v4.14-rebase-b61733c
[dmesg.log](https://github.com/thesofproject/linux/files/290906

[2019-02-27 08:36] RanderWang commented on #677
@plbossart  @lyakh  I update my reply in issue msg for it is easy to follow in context. Please seach [Rander].  Or if you don't like this style, I would reply in normal style

[2019-02-27 08:44] mengdonglin commented on #677
Attach Rander's diagram for flow of sending the IPC message
![ipc_send_msg](https://user-images.githubusercontent.com/8703742/53477125-fd4e5300-3aae-11e9-9a7e-68745be0aeca.png)

[2019-02-27 08:54] dbaluta commented on #679
@mengdonglin  can you please add markers for the code (start and end the code sections with ``` ).It is hard to read as it is.

[2019-02-27 08:59] xiulipan commented on #677
In some case I think this will set the bit, but as the `SOF_CMD_TYPE` increase, some of the CMD will have this bit set to 1.

As @RanderWang mentioned our IPC reister header is
[code]
And for the IPC register, We can only use the 0-30 bit for msg, the 31bit is a busy bit.

[2019-02-27 09:02] dbaluta commented on #677
@xiulipan @RanderWang if we want to implement a "real" doorbell mechanism we should not send any information via the SHIM layer registers.

The SHIM layer registers should be used only for triggering interrupts on the other side and letting know about the status. The cmd is already in msg->header and it should be read from mailbox.

Btw, really cool diagram!

[2019-02-27 09:10] xiulipan commented on #679
@dbaluta good point. Already done for 3 issues.

[2019-02-27 09:22] RanderWang commented on #678
@plbossart @lyakh I update my reply in issue msg for it is easy to follow in context. Please seach [Rander]. Or if you don't like this style, I would reply in normal style

[2019-02-27 09:28] RanderWang commented on #679
@plbossart @lyakh I update my reply in issue msg for it is easy to follow in context. Please seach [Rander]. Or if you don't like this style, I would reply in normal style

[2019-02-27 09:31] RanderWang commented on #677
@dbaluta  Actually the cmd in SHIM registers are only used for printing debug msg in FW now. And
FW gets msg from mailbox. So to remove cmd in SHIM registers, we need to refine debug msg in FW

[2019-02-27 09:32] xiulipan commented on #678
[6]
[code]
Yes, we need have other IRQ share the same IRQ NO
https://github.com/thesofproject/linux/blob/ee19d24e26c7e8cb193bfb72cce27561ec281c92/sound/soc/sof/intel/hda-stream.c#L415-L477

The other source is in

[code]
Please see @RanderWang explanation in #677 for msg header.
Platforms before APL did not have `msg_ext ` at all.
I think we did not use msg_ext for the IPC, but used it as some sta

[2019-02-27 10:02] dbaluta commented on #677
@RanderWang can you point me a place where debug msg are still using SHIM registers? I thought that i have already fixed that with 7c37501568dc9 ("drivers: Remove unused host_msg field")

[2019-02-27 14:28] plbossart commented on #678
So why don't we filter the stream interrupt then?

[2019-02-27 14:30] plbossart commented on #678
Where is the reference documentation for this? I am not happy with magic values popping up without explanations.

[2019-02-27 14:31] plbossart commented on #679
Sorry but it's just horrible to do this in github. Interleaved answers in the code are just a lot more convenient than this thread.

[2019-02-27 15:24] wenqingfu commented on #679
there was a mismatch of marker used, just fixed.

[2019-02-27 17:39] wenqingfu commented on #597
@zhuyingjiang can you verify if this bug is still valid?  please post your test procedure so that others can reproduce the bug.

[2019-02-27 18:56] #205 closed

[2019-02-27 18:57] wenqingfu commented on #205
close as #351 fixed this

[2019-02-27 20:48] plbossart commented on #680
@bardliao can you check if there is one of your patches missing on this glk branch?

[2019-02-27 21:19] wenqingfu commented on #530
close this issue accordingly.

[2019-02-27 21:19] #530 closed

[2019-02-28 00:42] bardliao commented on #680
@plbossart Yes, [ASoC: SOF: topology: check no_pcm in sof_link_unload](https://github.com/thesofproject/linux/commit/09e0018857379a98e726c185d9aee4c964eaacc9#diff-5e8a1eb50aedd2de9724071bfa7b6ebb) is missing. Thanks.

[2019-02-28 01:09] ranj063 commented on #657
@plbossart this looks like a mistake. the irq_thread in hda-ipc.c seems to read/write to the ipc register in the locked context.

[2019-02-28 02:10] zhuyingjiang commented on #597
@wenqingfu OK, will do it today.

[2019-02-28 02:36] keqiaozhang commented on #680
@bardliao
Confirmed that above patch can fix this issue.
@ranj063
Please help to backport this patch to cros branch.

[2019-02-28 03:29] ranj063 commented on #680
@keqiaozhang done!

[2019-02-28 05:20] keqiaozhang commented on #680
Thanks @ranj063 .
This issue is fixed in cros-sof-v4.14-rebase: 164bdbb.

[2019-02-28 05:20] #680 closed

[2019-02-28 08:59] RanderWang commented on #677
@dbaluta , ok, I am out of day.

[2019-02-28 09:19] emilchudzik commented on #603
I just tested flow from topic on headphone (thanks to @bardliao to help configure alsamixer).

On SSP0 (connected headphones) I have this observation:
- I play 5 seconds: `aplay -vv -Dhw:0,0 sine.wav -d5`
- after that I hear about 1 seconds of silence
- then I hear about 1 seconds of something like mic is opened, but this is not "uggly white noise", but just something like "simple noise from mic"

[2019-02-28 10:04] juimonen commented on #676
so always when the timeout happens, dsp is sending some message to host before acking the message host had just sent. So the flow is 1) host->sends (wait for dsp ack) 2) dsp receives and processes 3) dsp sends different message than ack  to host (like trace or stream position). 4) host never receives interrupt for the message it sent.
So somehow the dsp sending message to host when host is waiting

[2019-02-28 10:17] zhuyingjiang commented on #597
The issue still exists.
The test steps are:(on up2 or some platform else, this is a general issue)
1. run aplay to play some wave to make the pipeline work:
aplay -D hw:0,0 xxx.wav
2. remove the widget by doing unload the module:
rmmod sof_pci_dev
or using the sof_remove.sh
This will hit a kernel oops:

[  +0.027628]  Port5: ASoC: trigger FE failed -22
[  +0.000194] BUG: unable to handle kernel NU

[2019-02-28 10:49] zhuyingjiang commented on #597
As Pierre has analyzed above, there should be a fail message unload the module while playing is in progress, like the HDA driver do.

So we may need increase the refcount of sof_pci_dev during playing and decrease it when play stopped.

when do a diff of the lsmod result not play and playing,

There is only snd_soc_sst_bxt_pcm512x and snd_pcm ref count changes

[lsmod_playing.txt](https://github.c

[2019-02-28 20:02] plbossart commented on #657
@ranj063 we discussed this with @lyakh this morning, it's the same problem on all platforms that access to those IPC bits need to be protected and rethought. Don't spend time on this while Guennadi is already looking into this.

[2019-02-28 20:07] plbossart commented on #676
Thanks @juimonen. This could be a case of a deadlock, with both sides waiting for an ack. Wondering if this is tied to the lock protection of the IPC bits that seems a bit flaky.

[2019-03-01 02:39] bardliao commented on #661
Close it as it has fixed by #675

[2019-03-01 02:39] #661 closed

[2019-03-01 05:52] zhuyingjiang commented on #43
Add track info:
This issue is moved from SOF issue [#50](https://github.com/thesofproject/sof/issues/50),
after analysis, it ends up with the SOF topology name format, so fix will be at the SOF side.
The first SOFT PR [#139](https://github.com/thesofproject/soft/pull/139) moved to SOF [#654](https://github.com/thesofproject/sof/pull/654) since the SOFT depo moved into SOF.
The [#654](https://githu

[2019-03-01 06:51] xiulipan commented on #676
@juimonen @plbossart

This sound like similar to me for some IPC timeout issues on APL that have been fixed. Maybe the BYT part have some different IPC regs.

@juimonen For APL bug, we can try to increase the reproduce rate by enable TRACEV.

@RanderWang @keyonjie What do you think?

[2019-03-01 06:58] mengdonglin commented on #166
Close this feature because compound IPC that requests this feature is not used. Will re-open if need later.

[2019-03-01 06:58] #166 closed

[2019-03-01 07:10] mengdonglin commented on #45
Closed this issue that cannot be reproduced.

[2019-03-01 07:10] #45 closed

[2019-03-01 07:38] bardliao commented on #41
Close it as we are using sof-logger now

[2019-03-01 07:51] xun2z commented on #512
Making CONFIG_SND_SOC_SOF_HDA_LINK incompatible with nocodec in kconfig is a solution for this issue. will close this issue when corresponding patch is merged

[2019-03-01 08:16] stevyan opened #684 "System hung when playback failed & copy debugfs to other folder immediately on BYT nocodec."
**Summary**
System hung when playback failed & copy debugfs to other folder immediately on BYT nocodec.

**Precondition**
Use the aplay unsupported parameters to ensure the aplay will return failed.

**Test step**
1. input following command within one line:
`aplay -Dhw:0,0 -f s24_le -r 48000 -c 2 /dev/zero;sudo su -c "timeout 1 cp -rf /sys/kernel/debug/sof /tmp/"`

**Test env**
sof master: 58e90d9

[2019-03-01 09:14] juimonen commented on #676
Don't know if this helps, but here's the trace from fw and host side (my comments included). I don't
know if the trace messages are in exact execution order. It seems that this a case of simultaneous send from both sides...

FW:

WFX
schedule()
WFE
dw-dma: 0 channel work
dw-dma: 0 channel 0 block end
WFX
ipc: msg tx -> 0x90020000 /* we send a trace message to host */
schedule()
WFE
ipc: irq isr 0x

[2019-03-01 13:58] lyakh commented on #654
@plbossart TBH I don't understand at all what that mutex is protecting. E.g. in sof_compressed_open(), sof_compressed_free(). Is it trying to do something like (pci_)dev_get() / put()?

[2019-03-01 15:02] lyakh commented on #580
@plbossart Let's use this issue, since removing scheduled work is probably the most intrusive change of all proposed. Here's my analysis and a proposed transition:

1. synchronous TX. Since every IPC transmission is anyway waiting for a reply,
   no need for work offloading. Instead sleep on a mutex, send, wait for reply.
   This will also make handling of simultaneous racing users explicit: they

[2019-03-01 16:43] plbossart commented on #41
On 3/1/19 1:38 AM, Bard Liao wrote:

I am not clear as to how sof-logger solves the issues of timestamps not
being aligned between host and firmware. If there is no IPC to pass the
system time on resume, then the timestamps generated by the firmware
will not be aligned and will restart at zero.

What am I missing?

[2019-03-01 18:26] #637 closed

[2019-03-01 23:57] plbossart commented on #580
@lyakh: there's a ton of good info in there, but I am at a loss as to how to reply. GitHub is not a wiki or editable at will, it's just not productive to use this tool for an interactive design discussion. We might as well use Google Docs or something meant for collaborative editing.

[2019-03-04 02:59] wenqingfu commented on #575
can be closed after #625 is merged.

[2019-03-04 05:44] ranj063 opened #686 "Replace use of TLV bytes with hwdep"
Currently, we use the TLV bytes API for passing binary data from userspace to the driver. This will be dropped in the future. So need to find an alternate solution possibly using the hwdep interface.

[2019-03-04 06:18] keqiaozhang opened #687 "Regression: playback failure on GLK"
This issue is caused by a change in topology thesofproject/sof/pull/1047, but kernel has not been updated accordingly, may need to backport thesofproject/linux/pull/675 to topic/cros-sof-v4.14-rebase branch.

How to reproduce:
[code]
Dmesg:
[code]

Trace:
[code]

Test recipe:
kernel-cros-sof-v4.14-rebase:164bdbb81
firmware/tplg-master:24e241b

[2019-03-04 07:05] RanderWang commented on #676
which bug and the root reason ?

[2019-03-04 08:27] Jiangxinx commented on #676
Passed on the daily test.

Test steps:

1.sudo ./sof_bootloop.sh 100

Env:
sof master: 24e241b
kernel sof-dev: cf5978ae
tplg: sof-byt-nocodec.tplg

[2019-03-04 10:13] bardliao commented on #41
@plbossart If I recall it correctly, the issue is for rmbox. The main issue is that the log will be clean after runtime suspend. But it seems no one complain about that on sof-logger. It can be reopen if we still need this feature.

[2019-03-04 17:11] plbossart commented on #41
@bardliao the requirement is the same regardless of the tool.
@ranj063 do we send the time on a resume?

[2019-03-04 17:13] ranj063 commented on #41
@plbossart @bardliao yes, this issue remains irrespective of the tool and yes we do need the feature so we can align the time stamps between the kernel and the fw

[2019-03-04 22:16] #512 closed

[2019-03-04 22:28] plbossart commented on #684
@xun2z What are you trying to do with the copy of the debugfs folder? What is this test about?

[2019-03-04 22:30] plbossart commented on #660
@slawblauciak What you describe is the standard ALSA xrun handling, not sure what is needed in the SOF-specific parts?

[2019-03-04 22:33] plbossart commented on #669
@mengdonglin can we get someone assigned, this will soon gate the IPC hardening that @lyakh is working on and prevent stress-tests from working.

[2019-03-04 22:39] plbossart commented on #654
@lyakh let's part the compress.c code for now, it's not functional.

@ranj063 @keyonjie @lgirdwood can you clarify what the intent for the spcm->muted was? what does it protect? What is the point of serializing the calls to pm_runtime functions?

[2019-03-04 22:49] plbossart commented on #617
@bardliao sorry about the late feedback, I missed this question.
I am not completely sure about the flow, could you help provide a bit more context on the 'w->kcontrols will be assigned after topology load successfully' part?

[2019-03-04 23:00] plbossart commented on #571
no update in over a month, is this issue still current? It's very odd that a TX command would not be identified as legit.

[2019-03-05 02:38] RanderWang commented on #670
I can't reproduce this bug so I can't fix it.

[2019-03-05 06:02] bardliao commented on #617
@plbossart snd_soc_dapm_new_control_unlocked() will add w to card->widgets [list_add_tail(&w->list, &dapm->card->widgets);](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-dapm.c#L3687) and [snd_soc_dapm_new_widgets](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-dapm.c#L3182) will go through card->widgets and allocate w->kcontrols .
soc-topology.c

[2019-03-05 06:15] bardliao commented on #617
@plbossart Let me try using devm_ to solve it.

[2019-03-05 06:42] ranj063 commented on #687
@keqiaozhang sorry that took a while to fix. I've updated the branch now. Could you please give it a go and let me know if the issue still persists?

[2019-03-05 08:44] keqiaozhang commented on #687
Thanks @ranj063 .
Confirmed that this issue is fixed on cros-sof-v4.14-rebase branch.
Commit ID: b178744d9

[2019-03-05 08:44] #687 closed

[2019-03-05 10:58] xiulipan commented on #684
@plbossart
This is a fail log collection method. We would like to copy the logs and debugfs once the test is failed. But during the test we found that the BYT will have system hang if we try to copy something at some fail case.

[2019-03-05 11:03] xiulipan commented on #571
@plbossart
Need to check if the bug still exists. After we fixed some IPC race condition, I think no more such issues should happen.
@stevyan @markyang
Could you help to check the existed bugs and try to reproduce them once a week to track the status.

[2019-03-05 16:19] fredoh9 commented on #616
I'm able to reproduce this issue when I enabled SND_SOC_SOF_DEBUG_FORCE_IPC_POSITION with current latest build. It looks to me PCM position update has some problems. I will debug a bit more, I will share my proposal soon.

[2019-03-05 21:19] ranj063 opened #691 "Check topology compatibility with FW ABI"
With components added/removed in the FW during compilation, there needs to be means to check whether the topology being loaded is compatible with the FW. Could we use the tplg manifest for this?
Filing as a linux issue but needs work in SOF tplg as well.

@bardliao could you please help with this?

[2019-03-05 21:52] plbossart commented on #691
There was a previous issue to check first if the topology file could be checked against the kernel (e.g. on some cAVS platforms there are messages showing the topology file is very very old and needs to be handled in a specific way). https://github.com/thesofproject/linux/issues/331

I think this issue goes one step further to check if the components represented in the topology are actually presen

[2019-03-06 01:32] plbossart commented on #652
@lyakh @lgirdwood @ranj063 could you double-check the points below:

1. I believe no one is using the offset field in the following structure to represent the ring buffer:

[code]
Should we reclaim this offset value as a reserved element?

2. We have an implicit little-endian ordering of the compressed page table. Each page table is represented with 20 bits, so 2.5 bytes, and in the firmware they

[2019-03-06 02:49] plbossart commented on #670
@RanderWang can you clarify if you used the same tests as @keyonjie as described in thesofproject/sof#856

"Using simultaneous pipelines stress test can duplicate this easily. Scrip here:
https://github.com/thesofproject/sof/blob/master/tools/test/qa/tests/stability_test/multiplex_pipeline-test.sh"

[2019-03-06 02:59] keyonjie commented on #670
@RanderWang please use that test script directly, I remember both our QA and FW team can reproduce it also.

[2019-03-06 12:31] bardliao commented on #617
@plbossart I found that scontrol is never freed and removed from the kcontrol_list even in normal case. I will send a PR to fix it and check if there is anything still lost within any component fail to load.

[2019-03-06 18:01] dbaluta commented on #652
@plbossart Two questions here:

1. Why there is a need to compress the page addresses. Is the memory that small?
2. I noticed that page addresses are used on FW only if CONFIG_HOST_PTABLE is set. My question is how does the Host component know from where to copy the audio buffer data in the case where CONFIG_HOST_PTABLE is not defined (e.g on AppolloLake).

[2019-03-06 18:52] plbossart commented on #652
I am asking myself the very same question. We are trying to save 12 bits
out of 32, and in the process add endianness, alignment and format
issues while having obscure code that is far from being self-explanatory.

Plus this actually saves no memory at all since the page table needs to
be decompressed by the firmware, so we are talking about a saving of 1.5
per page passed over IPC. I believe it's

[2019-03-06 18:57] plbossart commented on #617
@bardliao we will have to create a award for the number of memory leaks found :-)

[2019-03-06 20:44] plbossart opened #697 "Topology: Need to manage multiple configurations per DAI"
We need the ability to expose multiple configurations per DAI in the topology file, and means for the driver to pass the relevant configuration over IPC to the firmware.
One example is support for 8 or 16 kHz for a Bluetooth HFP link.

this was filed initially as https://github.com/thesofproject/soft/issues/11. Making sure this is tracked at the kernel level as well.

[2019-03-06 21:21] dbaluta commented on #652
Ok, will re-investigate the HDA DMA / Linux code. It is strange that from Linux side I couldn't find any info about the DMA buffer address passed to FW. Do you say that the DMA is programmed with some implicit values from the Linux side? Because otherwise I don't know how the DMA driver on FW knows about the source address of audio buffer (in case of playback for example).

Yes for Baytrail I coul

[2019-03-07 00:48] plbossart opened #698 "Upstream: cppcheck warnings with pointer arithmetic."
More ccpcheck issues related to void pointer arithmetic. I didn't include them last time but we should fix this. @lyakh you've done quite a few pointer arithmetic corrections, can you comment?

[code]

[2019-03-07 01:31] keyonjie commented on #652
For HDA host DMA controller on Intel SKL+, it requires configure host side buffer(size, address) from the host/Linux side, that is BDL as Pierre mentioned. The DMA driver on FW will only take care of the DSP side configuration to the DMA controller, e.g. setting the FW side buffer size and address.

So in general, if your host DMAC(or actually just directly memcy without DMA) can be configured tot

[2019-03-07 01:39] keyonjie commented on #652
I remember we did the 32->20 bits compression with the intention to save IPC message size on baytrail at the early stage, where we have downlink(host->fw) mailbox could be smaller than 1KB, imagine if we configure ALSA buffer larger than 256 Pages which means we need 4B * 256 = 1KB can occupy the whole mailbox(or even overflow).

[2019-03-07 01:51] plbossart commented on #652
@keyonjie 256 pages of 4096 bytes gives you 1048576 bytes for a ring buffer. That's 5.46s of stereo audio at 48kHz/16 bits, or 170ms for 192 kHz/8ch/32 bits. Was this really what you wanted to support?

[2019-03-07 02:53] keyonjie commented on #652
We tried 128 pages previously, but never for 256 yet. So I think that is only a reason we considered, we also considered the possibility of putting different IPC payloads in mailbox at the same time to support simultaneous IPC handling. Another reason is that this(compressing) is inherited from OTC byt/bdw driver.

So those are what I can recall about why we are using compression here, @lgirdwood

[2019-03-07 09:00] juimonen commented on #676
@wenqingfu I've been trying to debug this many days with not too much luck. @keyonjie spotted a issue of not properly masking and overwriting some send registers, but that didn't help. At this point I would really wait for @lyakh https://github.com/thesofproject/linux/pull/695 and test with that one.

The problem is very reproducible and relates to simultaneous send from fw and driver. It is eithe

[2019-03-07 09:04] RanderWang commented on #670
yes, I tried it but still be failed to reproduce it.

[2019-03-07 09:14] bardliao commented on #617
@plbossart I checked dai_list, widget_list, pcm_list, route_list and kcontrol_list in the sdev struct are all empty after snd_soc_tplg_component_load() failed. So I think we can close this issue after #700 is merged.

[2019-03-07 15:56] lyakh commented on #676
isn't this a recursive endless IPC flood? In the IPC-sending routine we print a trace, which is sent via IPC, which prints a trace, which is sent via IPC?...

[2019-03-07 17:46] juimonen commented on #676
@lyakh not totally sure why this has many messages , but I've been able to reproduce this many times with just 1 msg to both directions. I think the byt/minnow is much slower than other platforms, so it is very visible here. I think I got it much rarer when I reduce the logging...

[2019-03-07 20:36] lyakh commented on #676
I think it is rather important to find out whether we really have recursive tracing here. @lgirdwood is there anything that prevents such recursion?

[2019-03-07 22:14] plbossart commented on #654
it's actually worse than I thought, we have additional mutexes that are never used.
Suggested fix for https://github.com/thesofproject/linux/pull/703

[2019-03-07 22:17] #673 closed

[2019-03-07 22:18] plbossart commented on #657
@lyakh can you confirm your PR https://github.com/thesofproject/linux/pull/695 addresses the comments?

[2019-03-07 22:21] plbossart commented on #652
This is addressed by https://github.com/thesofproject/linux/pull/695 (but could be part of a different PR if we wanted to be consistent)

[2019-03-07 22:23] plbossart commented on #394
@ranj063 @tlauda is this issue still valid, we've merged a PR a while ago for this.

[2019-03-07 22:25] ranj063 commented on #394
@plbossart yes, this is fixed.

[2019-03-07 22:25] #394 closed

[2019-03-08 15:51] #617 closed

[2019-03-08 17:19] plbossart commented on #639
@singalsu maybe I am mistaken but was there any update for the tone and eq stuff?

[2019-03-09 01:14] wenqingfu commented on #466
@RanderWang reminder. Maybe it's gone now? I doubt it'll be WHL specific..?  if you want someone to pick up, please let me know. thanks!

[2019-03-09 05:59] zhuyingjiang commented on #43
Close as fixed by [#654](https://github.com/thesofproject/sof/pull/654)

[2019-03-09 05:59] #43 closed

[2019-03-09 16:46] xiulipan commented on #43
@zhuyingjiang I think you mean https://github.com/thesofproject/sof/pull/654

[2019-03-10 04:44] zhuyingjiang commented on #43
@xiulipan Thanks! updated.

[2019-03-11 06:08] RanderWang commented on #466
@wenqingfu  Yingjiang is working on it.

[2019-03-11 08:06] zhuyingjiang commented on #466
@RanderWang This is a WHL specific issue, I am not working on that before. but anyway, I can take it.

[2019-03-11 11:56] juimonen commented on #676
https://github.com/thesofproject/linux/pull/695 seems to fix this. I've run the bootloop script already twice without errors...

[2019-03-11 12:24] singalsu commented on #639
@plbossart Sorry I forgot this, thanks for remind.

[2019-03-11 12:44] juimonen commented on #46
I haven' t seen any bootloop errors with minnowboard after applying  https://github.com/thesofproject/linux/pull/695

[2019-03-11 14:24] plbossart commented on #676
that's impressive, i've never been able to run that script to completion, IPC errors always happened after 50-80 cycles of unload/reload.

What we need to check now is it #695 doesn't impact concurrency. It may solve serialization or missed messages, but we want to make sure there isn't a regression when we try multiple streams precisely because of a strong serialization.

[2019-03-11 14:29] libinyang commented on #136
Daisy-chain mode works after using another Dell model moniter. (u2414Hb REV A01).
Now the status is: Daisy-chain mode works, DP-MST hub mode works. DP-MST with HDMI (3 monitors) doesn't work. Can't playback the third PCM.

[2019-03-11 14:31] lyakh commented on #676
@plbossart FWIW I ran parallel capture and playback with that series on UP² with nocodec, but by all means it should be tested further, also on real hardware.

[2019-03-11 17:26] singalsu commented on #639
EQ header is addressed by Linux PR #709. The tone header is addressed by SOF PR #1110.

[2019-03-12 01:21] libinyang commented on #136
Now Now HDMI together with DPMST both works after I used the latest topology.

[2019-03-12 16:38] singalsu opened #712 "SOF topology load failed with previously used kernel configuration"
This happened to me this week when I started using new 5.0.0 kernel with UP^2. The firmware loads but topology sof-apl-pcm512x.tplg instantiate failed to this error:

[code]

The sof-logger dma trace and error trace were totally empty that was strange.

I got the problem fixed with new config from http://otc-sof-sh-build-01.sh.intel.com/daily/20190312/linux-facd448b/config-daily-hda-20190312

The

[2019-03-12 16:42] singalsu commented on #712
Here's the offending configuration

[sof-dev-defconfig.old2.gz](https://github.com/thesofproject/linux/files/2957878/sof-dev-defconfig.old2.gz)

[2019-03-12 16:48] singalsu commented on #712
I tried to set CONFIG_SND_SOC_SOF_NOCODEC=m into the new kernel configuration to see if it triggered this. It also caused SOF boot to fail but with other error.

[code]
In this case also sof-logger output looked OK with four hda-dmac traces (not empty).

[2019-03-12 21:54] plbossart commented on #712
@singalsu if you select NOCODEC, you cannot use a machine driver that depends on HDMI/HDA. So I guess the Kconfig entry is incorrect when HDMI/HDA is not allowed. SND_SOC_HDAC_HDMI should not be selected here.

[2019-03-12 21:56] plbossart commented on #712
Also if you use NOCODEC then you should not be using the ACPI initird overlays and remove /lib/firmware/acpi-updates/*.aml and reinstall the initird.

[2019-03-13 10:25] bardliao opened #713 "rt5682 capture won't work until a playback start if ADC asrc is enabled"
I believe that it is a rt5682 codec driver issue. File here to track it.
If we enable rt5682 ADC asrc function, we can only capture silence  until we start a playback.
Below is how we enable rt5682 ADC asrc function.
[code]

[2019-03-13 13:03] mengdonglin commented on #136
@libinyang could you share your recipe (kernel, firrmware branch/commit and topology m4) for testing on UP2?

[2019-03-13 15:10] mengdonglin opened #715 "[WHL I2S] Audio jack detection cannot work on WHL RVP"
Audio jack detection cannot work for lack of Jack detection GPIO in ACPI of WHL RVP BIOS.

[2019-03-13 16:54] fredoh9 commented on #640
Two PRs are already merged. Please close this CR.

[2019-03-13 16:54] #640 closed

[2019-03-13 21:08] plbossart opened #716 "Remove support for Haswell, Skylake, Kabylake"
The code for those 3 platforms is not tested and have never been shown to work.
I don't see the point of keeping this code in SOF, is there any objection to remove it for now, and add it back if/when there is actually a plan to enable those platforms? we have more than enough on our plate already.
@lgirdwood any comments?

[2019-03-14 05:03] #670 closed

[2019-03-14 11:49] singalsu commented on #639
EQ and tone header updates are now merged.

[2019-03-14 13:42] lgirdwood commented on #716
No harm in keeping HSW as logic is the same as BDW (albeit it with different offsets). It's also easy to test for community as no code signing. It also means legacy HSW/BDW driver can be fully removed.

[2019-03-14 15:03] lgirdwood opened #720 "IPC: ops: push low level ops into HW drivers."
The core driver IPC operations currently have a complex set of functions for IPC abstraction that can be pushed into the HW drivers.
[code]

ideally we should export
[code]
This simplifies the core code and pushed the HW IPC complexity into HW drivers. It also allows the HW drivers to perform introspection of each IPC message as some messages need to be treated differently for different platforms.

[2019-03-14 15:19] lgirdwood commented on #136
@libinyang since this is a non trivial recipe, can you add some detail on enabling this in sof-docs.

[2019-03-14 17:12] plbossart commented on #716
Neither the legacy nor SOF driver run on actual HSW hardware - such platforms are just not available, so why bother?

[2019-03-14 21:43] fredoh9 commented on #616
There was some confusion in this CR description, I'm re-writing CR description.

The issue only happens with the debug feature, SND_SOC_SOF_DEBUG_FORCE_IPC_POSITION. And even after enabling this feature, aplay is always fine. The issue can be reproduced only with Ubuntu Music App(Rhythmbox). I think any Music app something to do with PulseAudio has same issue. Again, the build with default defconf

[2019-03-14 22:32] fredoh9 commented on #691
@bardliao as you working on this, please take care of previous issue #331 too.

[2019-03-15 00:27] fredoh9 commented on #698
@wenqingfu
Hi Michael, I saw this is assigned to you and you may work on already. Sorry for interruption then. I have some time to work on after made a PR today. I made a fix after reading cppcheck errors. It looks simple enough for me. I will follow up with reviewer's comments if any.

[2019-03-15 03:12] bardliao commented on #691
@fredoh9 Yes, they are very similar issue. @ranj063 Yes, I think we can use tplg manifest to check ABI or something we want to check. [soc_tplg_manifest_load](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/soc-topology.c#L2407).
The idea is to create a SectionManifest section in the topology.

[2019-03-15 06:04] bardliao commented on #715
Thanks for BIOS team support. We are using C8 pin and now I can get i2c->irq = 145 in rt5682.c if I add below to the .asl file
[code]
But when I tried to request IRQ, it will say “cannonlake-pinctrl INT34BB:00: pin 0 cannot be used as IRQ”
I seems I may request the wrong pin. @plbossart Do you know what do "\\_SB.PCI0.GPI0 and EPII stand for? How does it map to C8? Maybe it is not GPI0?

[2019-03-15 07:03] lyakh commented on #616
@fredoh9 FWIW I initially noticed those problems with aplay.

[2019-03-15 09:31] bardliao commented on #691
If I add below to a .conf file and generate the .tplg file
[code]
I can get 0x53, 0x4f, 0x46 and 0x00 from man->priv.data[0] to [3] in sof_manifest().
I think it is good enough for ABI check. So next step is to create SectionManifest section in topology.

[2019-03-15 13:44] keyonjie opened #724 "can't get any FW error logs once dsp is powered off"
once we power off the Audio DSP (tplg load failed or DSP panic or any other causes that will lead to powering off audio dsp cores), we can't get any error logs from sof-logger, this make debugging to this kind of firmware issues(e.g. ipc time out) very difficult, we need to fix this issue ASAP.

[code]

[code]

[2019-03-15 13:46] keyonjie commented on #724
I believe we have the same issue with topic/sof-dev branch, @ranj063 can you take a look?

[2019-03-15 15:54] ranj063 commented on #724
@keyonjie is this really a regression? If I remember correctly @dabekjakub confirmed that he can read the exception debugfs entry in case of a panic

[2019-03-15 16:59] plbossart commented on #716
@lgirdwood maybe a reasonable compromise is to keep those files in topic/sof-dev, but not submit them upstream. That way we still have the ability to make progress and keep the code current, but we don't provide untested code upstream.

[2019-03-15 17:06] plbossart commented on #720
@lgirdwood the .tx_msg() callback is fine, but I am struggling on the definition of rx_msg_cb()? did you want this to be the reply to tx_msg() - as done in RPMsg - , or to provide support for unsolicited notifications and events (which are currently not exposed to the core).

[2019-03-15 17:08] plbossart commented on #676
@Jiangxinx is this bug still current or can it be closed?

[2019-03-15 18:10] fredoh9 commented on #616
@lyakh really? i tested with your build also(after checking out both HEAD), I couldn't reproduce this with aplay.

[2019-03-15 23:09] xiulipan commented on #724
@ranj063
checked and try to reproduce a lot failing cases in CI. Let me give some explanation here and later I will a fix for it and have some test later.

kconfig for `ENABLE_DEBUGFS_CACHE `is set.
Otherwise we can only get more error in demsg

Situation here:
1. No error. Every thing is right.
etrace is empty as expected.
trace have logs
2. tplg load error, IPC failed
**etrace** is empty, becaus

[2019-03-15 23:51] ranj063 commented on #724
@xiulipan DSP is powered off is when topology widgets are unloaded which would be the case when a topology loading error occurs.

[2019-03-15 23:55] ranj063 commented on #724
ASoC: topology: free created components in tplg load error
This patch takes care of unloading the component when tplg loading fails.

[2019-03-17 19:41] #698 closed

[2019-03-18 03:25] Jiangxinx commented on #676
Passed on daily test.

[2019-03-18 03:25] #676 closed

[2019-03-18 07:31] lyakh commented on #580
resolved by #695

[2019-03-18 07:31] #580 closed

[2019-03-18 07:35] lyakh commented on #652
resolved by #711

[2019-03-18 08:34] juimonen commented on #46
@zhuqingliang can we close this or is this still valid?

[2019-03-18 11:09] juimonen commented on #44
@zhuqingliang is this still an issue? I could run bootloop.sh in up2 without  errors...

[2019-03-19 02:38] ranj063 commented on #516
@lyakh @plbossart can we close this? we dont have a list anymore

[2019-03-19 08:07] bardliao commented on #713
The issue can be fixed by [ASoC: rt5682: recording has no sound after	booting](https://mailman.alsa-project.org/pipermail/alsa-devel/2019-March/146467.html). I will cherry-pick it from upstream

[2019-03-19 09:57] lyakh commented on #720
@lgirdwood could you please clarify? In fact currently there are only 3 IPC callbacks: .send_msg, .get_reply, and .cmd_done. .is_ready is already gone. So, we aren't very far from your goal of having two callbacks. Further, .get_reply is really the same on all platforms ATM. The only difference is, that the HDA version also handles the PM_CTX_SAVE message, but it can be safely done in the generic

[2019-03-19 10:22] #652 closed

[2019-03-19 10:34] lyakh commented on #551
If we decide to re-try failing IPCs automatically, that would mean that all of them would be retried. Are there any cases when we rather don't want to retry? E.g. sometimes we can realise, that this is a hard failure and re-trying won't fix it anyway. In some other cases some specific failing IPCs could be "normal" and should be ignored instead of being re-tried? Can the core differentiate between

[2019-03-19 10:37] lyakh commented on #516
agree, made obsolete by #695

[2019-03-19 10:37] #516 closed

[2019-03-19 10:50] lyakh commented on #654
resolved by #703

[2019-03-19 10:50] #654 closed

[2019-03-19 11:02] lyakh commented on #653
Both questions resolved by #695 - for the former a check has been added, for the latter the .reply_list doesn't exist any more.

[2019-03-19 11:02] #653 closed

[2019-03-19 12:25] plbossart commented on #713
On 3/19/19 8:07 AM, Bard Liao wrote:

When you cherry-pick, please use the -x option that adds the upstream
SHA1. It's very useful for people doing backports to track this is
upstream already. Thanks!

[2019-03-19 12:41] #713 closed

[2019-03-19 12:57] plbossart commented on #551
good question @lyakh
We should probably bin the 'failing IPCs' in two categories
- explicit NAK. Here it's a configuration issue and the firmware will not respond differently if we retry (The definition of insanity is doing the same thing over and over again and expecting a different result)
- timeout. That's the only case where I could see the use of retries being useful, just to get beyond a tem

[2019-03-19 13:05] bardliao commented on #713
@plbossart Sorry, I didn't use the -x option. Should I redo it?

[2019-03-19 13:06] plbossart commented on #713
No worries, it's just useful but not critical, I merged your code already and the patch will show up through the back ports anyway.

[2019-03-19 14:21] lgirdwood commented on #720
@plbossart rx_msg_cb is a callback for any DSP initiated messages like async notifications. It's not tied to any particular kernel IO/messaging subsystem and is meant to be completely generic (to allow easy maping to platform drivers and kernel IO APIs like SPI, virtio etc). Fwiw, It also allows the DSP to initiate large messages (when supported) as this will appear as one callback call.

@lyakh y