[2020-10-07 16:08] ranj063 commented on #2473
@plbossart I just confirmed with @naveen-manohar . The problem is seen with suspend stress tests too. So its not just the shutdown related race.

[2020-10-07 16:13] marc-hb commented on #2473
@plbossart we currently have a messy mix of `dmesg`, `kernel.log` and `journalctl`. The short term goal is to clean up that mess and unify to `journalctl`, once that's done then we can create some abstraction/indirection to support whatever ChromeOS uses. @naveen-manohar  it `rsyslogd` still?

Note this is only about scanning logs, I bet we have many other portability issues here and there.

[2020-10-07 16:57] plbossart commented on #2473
did you mean 'system suspend stress tests'? If yes, I would still like to rule out or confirm an interference between 'pm_runtime suspend' and 'system suspend'.

[2020-10-08 18:15] ruffson commented on #2479
I don't wanna that guy who wants other people to fix his problems without helping out at all, but I rely on this system right now and do not want to mess with it too much. I am sorry. (Esp. if there is no guarantee that this setup even works with Fedora in the same way). Also, your blog seems to be down.

[2020-10-09 06:45] naveen-manohar commented on #2473
JFYI, Issue is observed on I2S SKU based EVT boards too, so i guess its more to do with SoF_driver & DSP FW timing than Soundwire Driver.
Issue reproduced during normal boot 2/10 times.
Log: [dmesg_i2s_fw_load_fail.log](https://github.com/thesofproject/linux/files/5353001/dmesg_i2s_fw_load_fail.log)
`2020-10-07T19:00:56,317901+05:30 sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x40010000 s

[2020-10-09 08:54] libinyang commented on #2211
@marc-hb The user space packages is for the user space test cases. It is not for the development environment setup. To update the development environment, we can refer the "Build From Scratch" of the wiki. Or we can download the latest packages in the alsa-lib /daily folder of the storage server.

[2020-10-09 10:00] bardliao commented on #2479
Yes, I can reproduce the issue on my CML-H device. The reproducing rate is about 10% on my side and I don't find a way to easily reproduce it yet.

[2020-10-09 15:05] plbossart commented on #2211
@libinyang The ask was to have userspace packages that are to be used by *all* SOF developers and *all* CI/QA devices, not just the developers dealing with userspace. We want people to use the latest solution with all the fixes, so that we don't have reports of 'this doesn't work' when it's already fixed upstream. We also want these packages to be publicly available, not just limited to Intel.

[2020-10-09 15:08] plbossart commented on #2479
I suggest we all comment on https://github.com/thesofproject/sof/issues/3499 so let's close this one.

[2020-10-09 15:08] #2479 closed

[2020-10-09 21:40] fredoh9 opened #2491 "ext_manifest: clean up IPC extended data and handle PROBE_INFO"
While discussing on
https://github.com/thesofproject/linux/pull/2297

1. After merging/enabling Extended Manifest, IPC extended data from FW_READY will be obsolete. Need to clean up snd_sof_fw_parse_ext_data() from FW_READY.

2. Need to use Explicit numbers in below sof_ext_man_elem_type

[code]

3. Define SOF_EXT_MAN_ELEM_PROBE_INFO(=3) and handle it. Need to look at PROBE_INFO structure. Either

[2020-10-09 22:19] sathya-nujella commented on #2473
Thank you @naveen-manohar .
DUT: System with speaker amp and headset codec in I2S  (Maxim98373- I2S  + RT5682-I2S)
With the latest Google-Kernel:5.4 + SOF fw & tplg with Max98373-DSM enabled + Max98373-UUID-smart amp component sent to SOF fw.
Able to reproduce the issue in this scenario:
1. Play sound on to speaker -> stop playback -> we see ipc timed out and context save error.
2. This problem do

[2020-10-10 01:18] phocean commented on #2460
@plbossart sorry for the late answer. I just tested it but no change so far...

[2020-10-10 01:38] aiChaoSONG opened #2493 "[TGL][SDW][CI] soundwire driver probe timed out on TGL RVP with both HD-Audio and SoundWire codecs"
In daily test report 519, suspend-resume test case failed on TGL_RVP_HDA because this dmesg error:
[code]

**Test recipe:**
Kernel Branch: topic/sof-dev
Kernel Commit:  c8849c74
SOF Branch: master
SOF Commit:  e5d17f3c
Platform: TGL RVP with ALC711 in HDA-mode, ALC1308 in SDW mode.

[2020-10-10 02:29] xiulipan commented on #2458
@plbossart We found that this error log comes with following pattern. It came after the CTX_SAVE IPC, we should disable IPC at this moment. But we still got the IRQ and handle the IPC with un-readable message `ipc rx: 0xffffffff`

[code]

[2020-10-10 03:42] ranj063 opened #2494 "Mismatched core power down in snd_sof_dsp_remove()"
The DSP cores are powered on when the run op is invoked.

If snd_sof_load_firmware() fails (which is before run is invoked), snd_sof_dsp_remove() in the unwind path powering down the cores fails because they were never powered on.
sof_probe_continue()
    -> if snd_sof_load_firmware() < 0
         -> snd_sof_remove()
               -> snd_sof_core_power_down() --> FAIL

Similarly, in snd_sof_run_f

[2020-10-10 03:45] ranj063 commented on #2473
Seems like this issue is specific to the FW DSM patches. Bisect in progress @RDharageswari FYI

[2020-10-10 05:53] mengdonglin commented on #2493
@plbossart @bardliao @RanderWang   This platform is used to test generic HD-Audio. Should we avoid loading SDW driver on this platform?

[2020-10-10 06:17] mengdonglin commented on #2433
Close as won't fix. We need upstream to fix this RTC issue

[2020-10-10 07:10] mengdonglin commented on #2461
Lower the priority to P3 as the reproduce rate of the remaining SDW PM issue is very low.

[2020-10-10 07:35] mengdonglin commented on #2443
Close as sof-dev merged the 2 upstream patches.

[2020-10-10 07:35] #2443 closed

[2020-10-10 07:40] bardliao commented on #2494
Can we use ``sdev->fw_state`` to check if we need to do snd_sof_core_power_down() or not?
Like
[code]

[2020-10-10 08:41] mengdonglin commented on #2433
This issue can no longer be reproduced in daily test since 09/14, report ID 402. Seems to be fixed by upstream.

Start Time: 2020-09-14 21:28:11 UTC
End Time: 2020-09-15 01:10:00 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 02293e7d
SOF Branch: master
SOF Commit: 63fe935d

[2020-10-10 08:52] mengdonglin opened #2495 "[JSL] suspend-resume with playback/capture test failure with 'rtcwake: /dev/rtc0: unable to find device: Device or resource busy""
The previous 'rtcwake return value error' issue can no longer be reproduce in daily test since 2020-09-14. But now comes the new RTC issue.

Observed by CI since daily test on 2020-09-25 on JSL RVP, test report #479.

[code]

2 failed cases:
check-suspend-resume-with-playback-25.sh
check-suspend-resume-with-capture-25.sh

Test recipe:
Kernel Branch: topic/sof-dev
Kernel Commit: 2d4cea85
SOF Branch

[2020-10-10 09:01] mengdonglin commented on #2495
This issue cannot be reproduced by CI in daily test on 09/26, report ID 485.
Kernel Branch: topic/sof-dev
Kernel Commit: 779efb50
SOF Branch: master
SOF Commit: 52e82f4c

[2020-10-10 09:01] #2495 closed

[2020-10-10 09:08] mengdonglin commented on #2495
This issue can be reproduced on APL_UP2_NOCODEC on 10/09/2020, test report ID 519
Kernel Branch: topic/sof-dev
Kernel Commit: c8849c74
SOF Branch: master
SOF Commit: e5d17f3c

[2020-10-10 20:42] ranj063 commented on #2494
Possibly but I'm also thinking we should also protect the power down op with a check for enabled_cores_mask() and do nothing if the core is not enabled.

[2020-10-12 00:30] bardliao commented on #2493
@aiChaoSONG @mengdonglin We have to disable SoundWire in BIOS. See the log below.
<details>
<summary>boot log</summary>

[code]
</details>

Also there is a rt1308 codec connected physically to sdw link 1.
See
<details>
<summary>rt1308 attached</summary>

[code]
</details>

[2020-10-12 02:07] libinyang commented on #2433
Still find the issue of "rtcwake: write error" on 10-12 daily test on EHL.
And I found this issue can only be found on sh-ehl-rvp-i2s-01. sh-ehl-rvp-i2s-09 never meets such issue.

[2020-10-12 02:49] keyonjie commented on #1799
pr is merged, can we close it?

[2020-10-12 02:53] keyonjie commented on #2471
no driver update needed, UCM config needed.

[2020-10-12 03:05] keyonjie commented on #2494
@ranj063 @bardliao let's mark it to P2 and assign it to you.

[2020-10-12 03:22] keyonjie commented on #2478
Can we try if it is sof 1.6 specific?

[2020-10-12 03:46] xiulipan commented on #2478
@plbossart @keyonjie For SOF this issue seems to be related with CSME and DSP ROM:
In below logs, we can see the DSP ROM init timeout after 300ms with status code 0x6000021 which means some issue with CSME. No FW binary is involved in this phase.
[code]

[2020-10-12 05:27] RanderWang commented on #2473
yes, the soc_component_read_no_lock err was exactly as Kai's idea. I got this error before but it is harmless.

[2020-10-12 06:10] juimonen commented on #1799
@keyonjie to make the use case working through the whole stack we need:
https://github.com/thesofproject/sof/pull/3470
and
https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/merge_requests/382

but the kernel part is merged yes.

[2020-10-12 06:35] GoPerry opened #2496 "[FEATURE] Add support for privacy audio mute notify"
### Is your feature request related to a problem? Please describe.
We need to add one audio driver notify patch to handle the EC notification when mic muted done.
The EC will be controlling the state o LEDs for mic mute . The WMI interface will only be used to notify the audio subsystem to enable mute or unmute，after WMI driver send the **KEY_MICMUTE** to user space and mic muted, the audio SOF dr

[2020-10-12 06:39] GoPerry commented on #2496
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/sound/soc/sof/control.c?h=v5.9
[code]

[2020-10-12 09:02] RanderWang commented on #2473
tested 1000 cycles with v10. can't reproduce it.

[2020-10-12 10:26] bardliao commented on #2494
@ranj063 Please see https://github.com/thesofproject/linux/pull/2497

[2020-10-12 13:28] juimonen commented on #2496
@GoPerry hmm... we are using now the kernel led interface to turn on/off the led. So you would like to have this EC interface instead of that? I guess there should be then some if/else in the code you pointed out... I'm not familiar with the EC, can we add it with some kernel config so that we can just call it, and it is empty function if not defined?

[2020-10-12 14:26] lyakh opened #2498 "[BUG] [CNL] IPC timeout during suspend-resume tests"
I've been getting an "IPC timed out" error during my weekly Mantis testing:
[code]
We've had similar issues with different codes or on different platforms: #2334 https://github.com/thesofproject/sof/issues/3541 and it's unclear whether they all have the same cause or not. This specific one triggers during "check-suspend-resume-with-audio.sh -m capture" on "HDA Analog"

[2020-10-12 15:12] plbossart commented on #2458
@xiulipan I am not able to understand your reply and what 'at this moment' means. What are you suggesting?

[2020-10-12 15:13] plbossart commented on #2495
@mengdonglin if the error is still present, why is this issue closed?

[2020-10-12 15:19] plbossart commented on #2493
@aiChaoSONG @bardliao @mengdonglin we do not support this combination of HDAudio for one device and SoundWire for another

[code]

Who is asking for this configuration?

If HDaudio is selected, we *only* support DMICs in parallel.

[2020-10-12 15:22] plbossart commented on #2471
The UCM settings were updated on the sdw/sdca branch, we need someone to verify the RT1316 setup is acceptable. IIRC @bardliao mentioned some issues with the initial codec config?

[2020-10-12 15:40] plbossart commented on #2496
@GoPerry I don't fully understand the problem statement either, mostly because of imprecise wording.

Can you please rewrite your description with a set of actions on separate lines where we can see who does something and who receives the information. e.g.

1. user presses key
2. WMI does blah
3. SOF driver gets notification.
4. SOF driver does that.

At any rate, this looks specific to one OEM so

[2020-10-12 16:17] chmooreck commented on #2478
@keyonjie It looks the same with firmware 1.5.1
[dmesg.sof-1.5.1.log](https://github.com/thesofproject/linux/files/5366250/dmesg.sof-1.5.1.log)

[2020-10-12 18:25] plbossart opened #2499 "[BUG]{BYT] IPC error on playback after record"
report from @jwrdegoede

"I plugged in a headset and ran GNOME's control panel sound test,
that worked. Then I tried playing back the earlier recording from
the internal mic to test if was proper stereo (same sound on both
channels) or if one channel was silent, so I played it inside
gnome-sound-recorder and then tried playing it again after removing
on of the ear-pieces from my ear so that I coul

[2020-10-12 19:57] marc-hb commented on #2433
At the risk of stating the obvious: can you please compare the hardware and firmware configurations of both?

[2020-10-12 21:00] fredoh9 commented on #2491
Update to have explicit values for this also.

[code]

[2020-10-13 01:07] aiChaoSONG commented on #2493
@plbossart No one is asking for this configuration, We just observed this error log on one TGL_RVP_HDA device. I can say that it may not be properly setup.

[2020-10-13 01:32] marc-hb commented on #2211
We also want the _source_ and recipes of these packages to be publicly available
- so anyone can submit PRs and help with the maintenance of our downstream packages, "open-source"-like.
- because a lot of the code is GPL, so we don't even have a choice anyway if we share the .deb files publicly.

I shared above a few months ago a proof of concept that checked all these boxes and I wonder what happ

[2020-10-13 02:43] keqiaozhang commented on #2493
The root cause is that both HDA and SDW are enabled in BIOS. I have set the BIOS properly on all  TGL_RVP_HDA devices.

[2020-10-13 02:43] #2493 closed

[2020-10-13 03:56] xiulipan commented on #2458
@plbossart Maybe I understand the IPC handler flow wrongly, I will double check the code.

[2020-10-13 05:46] bardliao commented on #2471
Yes, the "RX Channel Select" control does not always take effect. @shumingfan is working on it.

[2020-10-13 08:32] naveen-manohar commented on #2473
ACK, I verified it by applying prints in regmap. More Explanation on SDW error log Attached:
[code]
Notice the error when occurred, regmap tried to read 8276(0x2054) or 8277(0x2055).
These two registers are volatile registers which shows amp ADC value. (Not important registers actually)
The error is happening when the regmap try to read volatile register in cache_only mode.
It just did right thing

[2020-10-13 08:35] naveen-manohar commented on #2473
JFYI,
As @RDharageswari suggested tried the DSP FW built removing DSM changes, with this DSP FW IPC timeout issue is not observed for 20 iterations that I tried.. Earlier I was able to reproduce the issue within 5 cycles.

[2020-10-13 12:38] jwrdegoede commented on #2499
Small correction, my testing went like this:

1. Install fresh Fedora 33 + home-build latest 5.9-rc8 kernel with SOF enabled for Bay Trail devices.
2. Fix a Kconfig related issue, reboot, now the mono-speaker works.
3. Make a recording of the internal mic. with gnome-sound-recorder seems to work.
4. Turn machine off
5. Later that day boot machine again to run more tests.
6. Open gnome control-pane

[2020-10-13 12:38] jwrdegoede commented on #2499
p.s. could it be that Fedora 33 does not have the latest SOF firmware files for BYT ? How do I check this ?

[2020-10-13 15:15] plbossart commented on #2473
@naveen-manohar I think you have a corner case that we never thought about.

what happens if those two registers are no longer exposed in regmap? Can we do a quick hack to remove them?

another possibility is that we modify regmap so that on each access to such a register we do a pm_runtime_get_sync() to wait for the bus to be operational. @bardliao what do you think?

[2020-10-13 15:18] plbossart commented on #2499
thanks @jwrdegoede for the updated explanation.

In theory dmesg provides a log of the firmware version, but I can't recall if this is only with dynamic debug. You may need

[code]

[2020-10-13 15:19] plbossart commented on #2499
if you have sof-logger installed, the first trace also dumps all the information, e.g. on a CHT machine

[code]

[2020-10-13 16:17] singalsu commented on #2460
@phocean Do you still have the wav file from above recording left to attach it here? I'd like to take a closer look to what it contains (noise or perfect digital silence). Or preferably make a new recording with check done that there's nothing private accidentally recorded.

I wonder if the capture gain just very low. Those power-on start transients can correspond to jet fighter loudness like nois

[2020-10-13 20:04] plbossart opened #2502 "[BUG] [BYT/BDW] loud pop noise on playback start"
When comparing with the SST legacy drivers, one can notice an audible pop noise on playback start. This can be heard e.g. when running sof-test, at every loop a pop can be heard, even thought the scripts play from /dev/zero.

I don't have a root cause but there's a clear difference in behavior between the two solutions, so adding an issue to track it.

Just thinking aloud, this could be due to
a)

[2020-10-14 00:04] plbossart opened #2504 "[BUG][CHT] IPC error during multiple pause-push/pause-release test with Deep Buffer PCM"
Filing as a Linux bug for now since the result is an IPC error. I've seen this error multiple times with sof-test, this is not a random error.
@lgirdwood @lyakh @singalsu FYI

Log files: [multiple-pause-resume.tar.gz](https://github.com/thesofproject/linux/files/5374776/multiple-pause-resume.tar.gz)

excerpts:
dmesg:
[code]

etrace:
[code]

[2020-10-14 00:16] plbossart commented on #2504
The error seems to be that the component is in SUSPEND when the START is provided?

[code]

[2020-10-14 06:37] mengdonglin commented on #2478
@plbossart @chmooreck do you think we can suggest use legacy HD-Audio driver for this device? Without BIOS/CSME support, we can hardly solve this issue.

[2020-10-14 06:45] bardliao commented on #2473
I don't think we need to wake up codec to get the ADC value. The value is actually meaningless when the codec is in suspended. IMHO, it is better to avoid reading those register when codec is suspended than wake it up and get the value.

[2020-10-14 09:04] bv86 opened #2505 "Dell XPS 15 9500 (2020) - all speakers not working"
Hello,

I'm quite new to this, let me know which information you may need, but running Arch with latest soundwire-dkms, I get these messages in dmesg when trying to use the module snd-sof-pci:

[  487.848500] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040380
[  487.848511] acpi PRP00001:00: ACPI reports 4 SDW Link devices
[  487.848514] acpi PRP00001:00: Link 0

[2020-10-14 09:05] xiulipan commented on #2498
@lyakh I just tried to reproduce this test on some CML platforms, no luck with 3 tries. Will do more test

[2020-10-14 09:29] bv86 commented on #2505
I blacklisted snd-hda-intel, which kind of worked but with only 2 speakers out of 4 speakers I guess, with no bass at all.

Another thing I tried is "options snd-intel-dspcfg dsp_driver=3", this will give me this in dmesg: https://pastebin.com/jLn905pw
And then I get sound, which is better than with snd-hda-intel, but not yes as powerfull and full as on Windows, so I guess not all speakers are wor

[2020-10-14 10:24] lyakh commented on #2498
@xiulipan you mean 3 single tests or 3 loops of N tests? For me it typically takes between 10 and 15 repetitions.

[2020-10-14 10:57] jwrdegoede commented on #2499
So I checked what version the Fedora alsa-sof-firmware packages have and they are based on the 1.5 release.

Where as:
https://github.com/thesofproject/sof-bin/

Has a 1.5.1 release out, as well as a 1.6 release, although that is marked as 1.6-rc3 in the commit adding the binaries, which I find somewhat confusing:
https://github.com/thesofproject/sof-bin/commit/b03c48b12bfb025d2415529667f038d4cfa2

[2020-10-14 11:23] xiulipan commented on #2498
@lyakh Thanks for the clarify, I will try more time.

[2020-10-14 13:26] naveen-manohar commented on #2473
Actually there were 3 such registers, have removed and verified Functionality. Further have added @ryans-lee to ACK -
https://github.com/thesofproject/linux/pull/2507

[2020-10-14 14:46] plbossart commented on #2478
@mengdonglin This device has a DMIC interface which can only controlled by the DSP, so firmware/CSME folks need to fix this.

[2020-10-14 15:07] plbossart commented on #2505
Thanks for reporting this @bv86.

Can you re-check the dmesg logs, it looks to me like you are using the HDAudio interface, not SoundWire? And if SOF is not selected, it could also be that you don't have SoundWire or DMIC interfaces, in which case the legacy snd-hda-intel might be good enough.

Can you provide a link to the results of 'alsa-info'? in addition a link to the output of 'sudo dmidecod

[2020-10-14 15:28] chmooreck commented on #2478
With legacy HDAudio driver it works fine, but without internal microphone (DMIC).

[2020-10-14 19:52] plbossart commented on #2499
@jwrdegoede it's quite possible indeed that you saw a bug that existed in a previous version, there were quite a few fixes added by @lyakh over the Summer.

Based on initial results I believe however that it's not realistic to switch to SOF in the coming weeks, we have to test more to avoid impacting users.

[2020-10-14 20:31] plbossart commented on #2504
This seems like a fundamental flaw in the mixer logic.  The error is that a TRIGGER_START is send while the component is in COMP_STATE_PAUSED state (value 4)

[code]

This is however perfectly possible that an existing mixer source is paused, and a *new* mixer source starts with a TRIGGER_START.

[2020-10-14 20:40] plbossart commented on #2504
This bug is 100% reproducible.

Connect with the target with two terminals.
Terminal1:
[code]
then press space to pause

Terminal 2:
[code]
that should start playback for the second device, however the results are an error

[code]

dmesg log

[code]
root@Zotac:~# sof-logger -l /etc/sof/sof-cht.ldc
         TIMESTAMP              DELTA C# COMPONENT          LOCATION                      CONTENT
[

[2020-10-14 20:41] plbossart commented on #2504
moving to sof issue since it's clearly a mixer state machine bug in the firmware.

[2020-10-14 22:07] plbossart commented on #2485
@HoshiYamazaki it could also be that your device BIOS doesn't have the right configurations to load a driver. You want to provide a link to the results of
'alsa-info'

[2020-10-15 00:45] lucaintini commented on #2748
Same here
Bought the same laptop and had the same identical issue.
Tried Ubuntu 20 with all the kernels up to 5.9 with no success. The affected device is supported on Windows on the following models : d is supported on Yoga S740-15IRH, ideapad S740-15IRH
Intel Cannon Lake PCH cAVS

[2020-10-15 09:46] naveen-manohar opened #2510 "[TGL] [SDW]: max98373/rt5682 SDW error at soc_component_read_no_lock during suspend"
Follow-up tracker to issue discussed at https://github.com/thesofproject/linux/issues/2473#issuecomment-707584225
Issue observed during suspend..
Recipe: TGL SoF_V010

LOG:
[dmesg_regmap_print.log](https://github.com/thesofproject/linux/files/5383854/dmesg_regmap_print.log)

[code]
Registers in reference:
RT5682_RESET
MAX98373_R2054_MEAS_ADC_PVDD_CH_READBACK
MAX98373_R2055_MEAS_ADC_THERM_CH_READBA

[2020-10-15 12:01] wwittbrx commented on #2498
@lyakh What configs are you using when building the FW (cannonlake_defconfig, cannonlake_chrome_overridedefconfig)?

Also, what commits are you building for FW? I can reproduce similar issue on slim driver when running f97e9f0 with Chrome config. No reproduction on e5d17f3.

[2020-10-15 14:29] plbossart commented on #2748
@lucaintini can you confirm that with 'options snd_intel_dspcfg dsp_driver=1' you don't have any audio coming out of speakers and headphones?

[2020-10-15 21:15] lgirdwood commented on #2748
Thinking aloud.

Can someone dump (from Linux via debugF or sysfs ) the GPIO pin config and codec registers after Windows has run in the above uses cases above.  It could be a small difference here in GPIO or codec register that is making the difference.

[2020-10-15 21:17] H-Park commented on #2748
Would a live USB linux qualify? That's a pretty big ask for someone to wipe their hard drive for this whim. If a live USB is acceptable, I can give you this in a few hours.

[2020-10-15 21:43] plbossart commented on #2748
I think it's more the HDaudio codec receives commands from the driver through a 'nid' and relays them over I2C to the amplifiers. Without the 'secret' sequence the amp may remain silent.

[2020-10-16 08:59] phocean commented on #2460
@singalsu Here it is:

[Clip 3.zip](https://github.com/thesofproject/linux/files/5390368/Clip.3.zip)

Is that ok if it's an ogg file ?

[2020-10-16 10:05] paulstelian97 commented on #2460
If it's an obviously audible issue yes. But for sound distortions we would need .wav to be able to fully understand the nature of the distortion. If it's no sound at all then ogg is okay. I recommend you get a .wav as well, just in case. (and it should be recorded as .wav, NOT just converting the ogg to wav)

[2020-10-16 11:31] shumingfan opened #2513 "[FEATURE] connect multi-DAIs with one SdW link in one SdW device driver"
Hi @plbossart @RanderWang @bardliao

I want to add the IV feedback feature in rt1308-sdw driver now. But, I encounter the problem of how to connect multi-DAIs in the m/c driver.

Due to the hardware design of rt1308-sdw, it needs two data ports (DP2 & DP4) to feedback the left IV and right IV separately.
To implement the amp protection, it will need to feedback data ports both.
I try to add two DA

[2020-10-16 11:49] phocean commented on #2460
That should be better (recorded with `arecord -vv -fdat issue.wav`) :

[issue.zip](https://github.com/thesofproject/linux/files/5391262/issue.zip)

[2020-10-16 13:48] Kokil commented on #2451
when it will be fixed. I too got the issue

[2020-10-16 13:51] plbossart commented on #2451
@Kokil the kernel patch has been submitted upstream and the topologies are in the sof-1.6 release. You may have to install it yourself until your distribution is updated.

[2020-10-16 14:03] plbossart commented on #2513
@shumingfan I am not sure if it's necessary to have two DAIs, one for each port. IIRC a stream can use two ports on the same device. Will look into this later today, it's an interesting point.

Likewise, on the master side you could use a single port for the feedback, with the left and right channels written in different slots by the RT1308 ports. The bus allows for the master to combine data if t

[2020-10-16 16:39] kv2019i commented on #2468
Further tests:
- Is not dependent on the resolution and framerate (i.e. bandwidth used on DisplayPort link).

[2020-10-16 17:29] bv86 commented on #2505
Sorry for my late reply,

here is a fresh dmesg.log (it is verbose because I added some options from another post here to have more debug information): https://pastebin.com/XYwSydpX

here is dmidecode: https://pastebin.com/XahMEuua

here is the output of alsa-info: https://pastebin.com/HJXKWqXV

Hope it helps.

[2020-10-16 19:12] plbossart commented on #2505
Adding @kv2019i

@bv86 thanks for the logs. I can confirm you don't have SoundWire enabled on this device, it's plain vanilla HDAudio with no DMIC

[code]

The SOF driver does not give you any benefits over the legacy HDaudio driver, so you could just as well remove "options snd-intel-dspcfg dsp_driver=3".

Can you re-check what happens with and without this option, and let us know the results?

[2020-10-16 20:46] plbossart commented on #2513
@shumingfan see your code below

[code]

You could have an port_config array with 2 ports used by your DAI. the ch_mask and num would be different for the [0] and [1] case, and correspond to the left and right feedback. I really don't see why you would need multiple DAIs here on the codec side, all you need is a DAI with has two ports.

Of course this is completely untested, but from an API perspe

[2020-10-17 03:28] Kokil commented on #2451
@plbossart how do manually install can you tell me

[2020-10-18 18:10] bv86 commented on #2505
So without this option, another driver is loaded: snd_hda_intel.
The sound is not bad, but not as full yet as on Windows. I'm not sure if it's because there is some surround added by Windows drivers or if it's because not all speakers are working on Linux.
Just in case, here is the output of alsa-info without the dsp_driver=3 option: https://pastebin.com/A1JvTjM7

Also, one test I did try was to c

[2020-10-19 01:54] shumingfan commented on #2513
@plbossart Oh, I didn't expect I could use this to set the multi data ports. Now I know. Thanks.
I also checked the PR #2514 . I left one comment to fix the channel number.

[2020-10-19 02:18] keyonjie commented on #2458
@xiulipan maybe worth to try reproduce https://github.com/thesofproject/linux/issues/2498 @lyakh filed, it could be easier.

[2020-10-19 03:17] keyonjie commented on #2510
@naveen-manohar this is known limitation, @naveen-manohar  shall we close it as won't fix or invalid?

[2020-10-19 03:32] RanderWang commented on #2505
how about to use equalizer in your audio player ?  You can use  some friendly graphics interface to archive it. Or you need to play with a batch of binary when using SOF.

[2020-10-19 06:56] mengdonglin commented on #2495
@plbossart I'm using it to identify non-audio issues in our daily test. But we can only depend on upstream to fix this rtc issue.

[2020-10-19 08:06] kv2019i commented on #2505
@bv86 wrote:

Hmm, you commented it _out_? This sounds odd as the patch that added is was specifically to enable the bass speakers:
https://lore.kernel.org/r/229c7efa2b474a16b7d8a916cd096b68@realtek.com

If this is indeed the case, can you open a bug in bugzilla.kernel.org ? This needs to be patches in the codec driver.

There are multiple ways to do this. Now that you are using snd-hda-intel, you

[2020-10-19 08:10] kv2019i commented on #2302
No update for a month and missing input, so closing. Reporter, please reopen if this issue is still valid.

[2020-10-19 08:10] #2302 closed

[2020-10-19 08:12] bv86 commented on #2505
Just to try, but it is worse if I comment it out, so in the end I reverted my changes.

No problem to close this bug, sorry for the trouble.

[2020-10-19 08:29] kv2019i commented on #2505
Thanks @bv86 ! It's always good to file a ticket, so no problem there. And ack on the FIXUP_DUAL_SPK patch behaviour.

[2020-10-19 08:29] #2505 closed

[2020-10-19 14:39] plbossart commented on #2451
@Kokil you will have to get the source code for your kernel and recompile. Then add this patch and installed the modified kernel.
Then you also need to install the latest versions of alsa-ucm-conf.

[2020-10-19 14:45] plbossart commented on #2495
Has anyone reported this issue upstream or through Intel Linux channels? if not this could remain for a very long time.

[2020-10-19 14:47] lgirdwood commented on #2748
@H-Park live USB would be great. The aim is to find the secret sauce that Windows is using here. i.e. you want to dump as much HDA codec information, registers and GPIOs that you can between working and non working cases. These can then be compared.

[2020-10-19 15:22] H-Park commented on #2748
So you want the HDA codec information for windows and Linux then? I've never been able to get audio to work in Linux.

[2020-10-19 15:48] lgirdwood commented on #2748
@H-Park We need to find out the differences as @hweom has reported. These may be able to point us in the right direction and find the missing piece of the puzzle. See @hweom observation below.

[2020-10-19 21:10] plbossart commented on #2473
@naveen-manohar @RanderWang I don't understand what the root cause for this error might be.

This can only happen when

cache_bypass == true && cache_only == true, which seems to be an impossible case

Or

cache_bypass = false and register is volatile && cache_only == true

[code]

[volatile.diff.txt](https://github.com/thesofproject/linux/files/5404739/volatile.diff.txt)

In theory if we attempt

[2020-10-20 05:27] hweom commented on #2748
I have a live Windows USB and can run any experiments.

I also tried to dump the HD Audio codec configuration (connections, amplifiers gain/mute, processing coefficients, etc) using this [approach](https://docs.microsoft.com/en-us/windows-hardware/drivers/audio/communicating-verbs-with-the-hd-audio-codec). I even created an app to communicate verbs with the codec, but never managed to get it to wo

[2020-10-20 07:55] chmooreck commented on #2478
From current broonie/sound.git with added some debug info:

[    5.504656] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 5
[    5.504657] sof-audio-pci 0000:00:1f.3: using HDA machine driver skl_hda_dsp_generic now
[    5.504660] sof-audio-pci 0000:00:1f.3: DMICs detected in NHLT tables: 4
[    5.504669] sof-audio-pci 0000:00:1f.3: loading firmware
[    5.506458] sof-audio-pci 0000:00:1f.3: r

[2020-10-20 09:46] lgirdwood commented on #2748
@crojewsk any comments on how to dump HDA codec settings for the above comment on Windows ?

[2020-10-20 10:38] juimonen commented on #2496
@GoPerry @plbossart BTW I have a Dell soundwire device (latitude 9510) with 4 dmics and leds. With latest sof-dev kernel, 1.6 firmware and latest alsa-ucm-conf -> the mic mute led works just fine...

[2020-10-20 10:42] juimonen commented on #2496
@GoPerry So is this feature for certain manufacturer? Can you share what device is in question?

[2020-10-20 14:45] plbossart commented on #2478
@chmooreck can you attach the entire dmesg? it's possible that one iteration fails, but eventually the boot succeeds. See the log "[ 5.506592] sof-audio-pci 0000:00:1f.3: Attempting iteration 0 of Core En/ROM load...", it really tells you it's a loop and we should only check if there's a failure when the loop ends.

[2020-10-20 16:10] chmooreck commented on #2478
Sure, but it fails all 3 times in same way - i should mention it or paste complete log

[code]

[2020-10-20 18:59] lyakh commented on #2498
@wwittbrx I'm using cannonlake_defconfig. The newest commit with which I was able to reproduce the problem was 80ef3cf95e4954b6177b9171c4931f253a0808d2 Even easier it seems to be to reproduce it with 1b17974b3bda4a2723246612e294c226e6dea88a

[2020-10-20 21:14] marc-hb commented on #2433
No error message in https://sof-ci.01.org/linuxpr/PR2308/build4717/devicetest/ but the test timed out while waiting for on jf-apl-up2-nocodec-2 to wake up after `aplay -Dhw:0,5 -r 48000 -c 2 -f S16_LE /dev/zero -q`. Previous `-Dhw,0,x` worked fine.

[2020-10-21 08:53] RanderWang commented on #2473
One exception case: user queries alsa mixer settings by "amixer cget numid = xxxx"

[2020-10-21 12:53] lyakh commented on #2498
Update:
1. I have no problem reproducing the bug with a clean build, based on 1b17974b3bda4a2723246612e294c226e6dea88a
2. I've only once seen the bug with a build, based on 80ef3cf95e4954b6177b9171c4931f253a0808d2 and that build wasn't clean, i.e. the build directory contained files from previous builds.
3. A large number of attempts to reproduce the bug with a clean build, based on 80ef3cf95e4954

[2020-10-21 15:32] J-Bu commented on #2451
I tested the latest released versions:

- alsa-libs 1.2.4
- alsa-ucm-conf 1.2.4
- alsa-topology-conf 1.2.4
- alsa-utils 1.2.4
- kernel 5.9.1 -> with commit 3dca35e35b42b3405ddad7ee95c02a2d8cf28592 applied on top of it seems not to be upstreamed yet at least for 5.9.x
- sof-bin v1.6

And the digital microphone was detected correctly. I had a minor issue where the initial volume was very low and the

[2020-10-21 15:59] plbossart commented on #2451
@J-Bu you can either submit a PR to https://github.com/alsa-project/alsa-ucm-conf/pulls, or you can share them here and we'll do it for you.

Either way, we shouldn't lose changes if they help other users, so thanks for your work.

[2020-10-21 16:21] naveen-manohar commented on #2510
I will recheck post https://github.com/thesofproject/sof/issues/3541 is resolved.. And re-open if any functional issue I do notice because of this error.. Currently I haven't noticed any issue so its good to be closed.

[2020-10-21 18:52] cujomalainey commented on #2510
@keyonjie @mengdonglin if this is a non-issue then we should at least fix the log spam. To the uninformed observer this looks very bad.

[2020-10-21 20:22] plbossart commented on #2510
I think https://github.com/thesofproject/linux/pull/2521 is the 'right' way to fix this, e.g. if the user wants to get the value of a volatile register while the device is in suspend a -EBUSY is not a relevant answer. The device should be resumed.

@naveen-manohar @RanderWang I don't have a device so you guys will have to test for me, thanks!

[2020-10-21 21:39] plbossart commented on #2496
@GoPerry after a side discussion with @superm1, I think there is a conceptual disconnect on what the SOF driver shoud do.

1. the mute controls exposed by e.g. RT715 devices (SoundWire 1.1. or SDCA) are handled by ASoC codec drivers, not by the SOF driver.
2. ALSA controls expose .put and .get callbacks. I think what would be needed it to add a call to your driver when the .put callback is invoked

[2020-10-21 21:51] superm1 commented on #2496
Thanks @plbossart.  One other clarification for others on this thread to know about this design.

It was mentioned in the first post:

I want to make it clearer, that the EC doesn't only control the state of the LEDs, but actually cuts off the data stream.  The state of the LED will be controlled by the same circuitry cutting off the data stream.  So the LEDs will reflect the true status of the "m

[2020-10-22 01:59] aiChaoSONG opened #2522 "[BUG][CI][SDW] "Initialization not complete, timed out" in suspend-resume test"
In daily test report 594 on TGL SDW Chromebook, below error observed from dmesg in suspend-resume test:
[code]
**Recipe:**
Kernel: topic/sof-dev  d0a335dc
SOF : master e04610b1
TPLG: sof-tgl-sdw-max98373-rt5682-4ch.tplg
Platform: TGL Chrome book proto-2

[2020-10-22 02:00] aiChaoSONG commented on #2522
@bardliao Please help to confirm if this is real issue, if not, I will transfer the issue to sof-test

[2020-10-22 02:47] bardliao commented on #2496
@superm1 Will the EC cut off the data stream of headset mic, too? Or it is only for the on board mic? I.e. Will we get empty data on headset mic if the mute LED is on?

[2020-10-22 04:46] shumingfan commented on #2513
PR #2514 could meet my requirement. This issue could close now.
@plbossart Thanks.

[2020-10-22 04:46] #2513 closed

[2020-10-22 04:48] juimonen commented on #2496
@plbossart, yes the CaptureVolume and CaptureSwitch in UCM should do it. As you said, in SOF (and some HDA) cases, the mute will turn the led on/off in kernel.

For the "multiple mute" case there was a discussion about "global mute" -> every input/output is muted at the same time and the one output/input led is on/off. if I remember correctly the "per output/input mute" was not considered feasible

[2020-10-22 08:51] bardliao commented on #2522
[code]
may not be a real problem

[code]
could be a problem. Does it happen consistently?

[code]
is an issue.
Looks like driver is trying to read codec register before it is attached.

[2020-10-22 09:02] libinyang commented on #2211
@plbossart There are 2 versions of the packages on the storage server. One is fully tested and it is for the customers. In this thread I think we are talking about this kind package. Another kind package is always using the latest code and will contain all the fixes. This is not fully tested but it will be tested in our CI. I think this package can meet your requirement.

For the public availabili

[2020-10-22 09:26] libinyang commented on #2433
They are different board, 09 is CRB, 01 is RVP.

[2020-10-22 09:39] J-Bu commented on #2451
@plbossart  Thanks for the hint created https://github.com/alsa-project/alsa-ucm-conf/pull/56

[2020-10-22 10:02] bardliao commented on #2522
@aiChaoSONG I just ran the ``check-suspend-resume.sh -l 50`` test on the same device. But the test result was PASS and I didn't see  any error in dmesg log. Could you retrigger the daily test? Or we can wait for the test result of tomorrow's daily test.

[2020-10-22 12:17] superm1 commented on #2496
It will only be for on-board mic.

[2020-10-22 14:45] plbossart commented on #2522
@bardliao looks like we have issues for both link1 and link0, so that would point to a general issue at the DSP level.

I see that on this device we already have other problems with multiple-pipeline-capture-50

I also see that in some cases we seem to recover

[code]

[2020-10-22 19:27] marc-hb commented on #2433
Another  `rtcwake: write error` error in `check-suspend-resume-5.sh` at  https://sof-ci.01.org/linuxpr/PR2508/build4748/devicetest/ on `sh-icl-rvp-hda-06` but that's only AFTER some previous suspend/resume failure in a previous test.

[2020-10-23 10:44] ktrzcinx opened #2528 "[FEATURE] Restore trace filters after FW suspend/resume"
Trace filtering definition path looks like:

1. sof-logger read filters definition from argument list
2. sof-logger translate human readable form of components definition to UUID numbers using ldc file content
3. sof-logger saves translated filters values to `/sys/kernel/debug/sof/filter`
4. kernel translates filters to IPC message and send it to FW
5. firmware applies filter for selected componen

[2020-10-23 15:52] kv2019i commented on #2211
Sorry for the late feedback to this topic. I think the full ask of this ticket is a fairly large one. Complicating factors:
 - if we provide binary packages, we must provide the sources as well and preferably as a git tree with debian packaging versioned (like Marc's https://github.com/marc-hb/alsa-lib/tree/upstream+debian)
 - any target distro is a moving target, there's  e.g. a new Ubuntu every

[2020-10-24 09:53] davidfers commented on #2375
I have this problem aswell, with the same  yoga C940  i7-1065G7, on ubuntu 20.04. In windows it works fine. Any updates?

[2020-10-24 11:29] christianfosli commented on #2748
Not sure if it's completely related, but I thought I'd comment to help others in the same situation.
I was experiencing the same behavior as described above (Cannon Lake PCH cAVS speakers and headphones detected correctly but no audible sound from the speakers) on Fedora Linux. It seems for me it was caused by a problem with pulseaudio, because replacing the `pulseaudio-module-bluetooth-freeworld`

[2020-10-26 01:39] mengdonglin commented on #2478
@chmooreck Thanks for your info! Can you please check if audio can work in Windows10? especially, can DMIC work in Windows? If yes, it means audio DSP driver and firmware can work well with CSE in Windows, and this will help us to figure out the gap in Linux.

[2020-10-26 02:00] keyonjie commented on #2464
PR 2298 merged, @bardliao can we close it now?

[2020-10-26 02:39] keyonjie commented on #2510
@bardliao provide a fix https://github.com/thesofproject/linux/pull/2532 for it, @ryans-lee can you help to review as it is a codec fix?

[2020-10-26 02:41] keyonjie commented on #2510
@ryans-lee as it is codec issue, can you help to check it? if it is not an issue, feel free to comment and close it.

[2020-10-26 03:02] keyonjie commented on #2522
@aiChaoSONG can you help to split and file issues:
1. Parity error detected
2. Initialization not complete, timed out
3. Msg NACK received, trf on Slave 1 failed

[2020-10-26 03:22] keyonjie commented on #2498
@lyakh since @xiulipan can't reproduce with the same recipe, can you help to debug it more once you can reproduce it stablly.

[2020-10-26 05:09] #2464 closed

[2020-10-26 06:06] marc-hb commented on #2407
Looks a bit like this other, very recent check-runtime-pm-status.sh failure in https://sof-ci.01.org/softestpr/PR469/build324/devicetest/

Same bug?
[code]

[2020-10-26 08:48] libinyang commented on #2346
Tanu gave some comments. I'm confirming with him for his idea.

[2020-10-26 08:48] aiChaoSONG opened #2533 "[BUG][TGL][SDW][CI] Volteer: Parity error detected"
In daily test report 594 on TGL SDW Chromebook, below message shows in suspend-resume test case:
[code]

**Recipe:**
Kernel: topic/sof-dev d0a335d
SOF : master e04610b1
TPLG: sof-tgl-sdw-max98373-rt5682-4ch.tplg
Platform: TGL Chrome book

[2020-10-26 08:52] aiChaoSONG opened #2534 "[BUG][TGL][SDW][CI]Msg NACK received, trf on Slave 1 failed"
In daily test report 594 on TGL SDW Chromebook, below error observed from dmesg in suspend-resume test:
[code]
**Recipe:**
Kernel: topic/sof-dev d0a335d
SOF : master e04610b1
TPLG: sof-tgl-sdw-max98373-rt5682-4ch.tplg
Platform: TGL Chrome book proto2

[2020-10-26 08:52] lyakh opened #2535 "[BUG] [CNL] kmod-load-unload failing due to suspected runtime PM imbalance"
A weekly test on CNL / Mantis with kernel 8290bd62dfe67dfbbd8177a4eb985c4592c1be05 ("travis: replace SHA_MAIN/PR hacks with ${TRAVIS_COMMIT_RANGE/.../..}") and firmware db09bb8058f85f6cd451c6393cbb12f5e2e7469b ("dcblock: fix reset handler") failed a kernel loading-unloading test on iteration 12 because the DSP failed to suspend after 15 seconds of waiting. It is strange, that it failed that way af

[2020-10-26 08:54] aiChaoSONG commented on #2522
Done, check #2533 and #2534

[2020-10-26 08:58] bardliao commented on #2407
Yes, it is very likely the same issue.

[2020-10-26 09:10] chmooreck commented on #2478
@mengdonglin I don't have Windows on this machine. Tell me if all we need is confirmation if it works or not ? Or should I check something more ?

Edit:
I managed to install Windows on some spare disk and it turned out sound didn;t work on Windows too. After some research it turned out I had to enable Intel ME in BIOS - it fixed sound under Windows.

Here is fresh dmesg - at least we passed previo

[2020-10-26 09:18] #2535 closed

[2020-10-26 09:21] lyakh commented on #2498
Triggered again in a kmod-load-unload test as documented in #2535 which is closed as duplicate of this issue.

[2020-10-26 18:14] plbossart commented on #2534
@aiChaoSONG there's nothing we can do without the full dmesg. Can this be extracted?
An NAK usually means the bus is not functional at all and devices receive data that's not correct (e.g. with a parity error)

[2020-10-26 20:06] plbossart commented on #2748
@christianfosli have you reported this to Fedora and/or PulseAudio folks? That's somewhat beyond what we typically focus on.

[2020-10-26 21:01] christianfosli commented on #2748
Thanks for the advise. I had not, [but I have reported it to the rpmfusion now, who maintain that package](https://bugzilla.rpmfusion.org/show_bug.cgi?id=5810).

[2020-10-27 01:41] aiChaoSONG opened #2536 "[BUG][CML][CI][SDW] Clock Stop prepare failed for slave 1"
In daily report 617, below error messages shows in dmesg in suspend-resume-with-playback test case.

[code]

**Recipe**
Kernel Branch:  topic/sof-dev
Kernel Commit:  8290bd62
SOF Branch:  master
SOF Commit:  db09bb80
TPLG:  sof-cml-rt711-rt1308-mono-rt715.tplg

[2020-10-27 01:42] aiChaoSONG commented on #2536
@RanderWang @plbossart  Please help to confirm if this is an issue or false failure

[2020-10-27 02:04] aiChaoSONG commented on #2534
@plbossart #2522, #2533 and this issue is from the same report.  Please check #2522 to read the whole story.

[2020-10-27 06:55] chmooreck commented on #2478
BTW. maybe "[CFL] error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read" should be closed with resolution: enable ME to let it load proper firmware.

And we can go on in another issue ?

[2020-10-27 15:00] plbossart commented on #2478
@chmooreck did the HP BIOS let you disable the ME? This is a pre-requisite for audio firmware authentication, so that's clearly a problem. I don't know if we can check if the ME is on, i'd have to check internally.

[2020-10-27 15:51] plbossart commented on #2536
[code]
is a really bad error. It's essentially a broadcast command that was not received, not good at all.

Can you please provide the command line used to get this result?

[2020-10-27 19:39] plbossart opened #2539 "[APL+] Need to detect if ME is disabled"
The ME controls firmware authentication on all Intel devices starting with ApolloLake

When the ME is disabled, be it by the OEM or by the user playing with BIOS options, the SOF firmware cannot be authenticated and the firmware boot will fail

We need to find a way to identify this case and separate it from firmware manifest/signature issues

This issue was initially reported by @ford-prefect, an

[2020-10-27 20:25] chmooreck commented on #2478
@plbossart Yes, there is option to disable/enable ME in HP BIOS.

But I don't see this option in HP BIOS Manual nor in BIOS simulator (file:///tmp/mozilla_dom0/c06535377). I've got it at Advanced -> Remote Managment Options.

[2020-10-27 20:31] plbossart commented on #2478
thanks @chmooreck. we were aware of another OEM where users can select a device with the ME disabled, but we didn't know about this capability on HP devices. I am now tracking this so that we improve the documentation https://github.com/thesofproject/sof-docs/pull/304 and detection #2539

Anyways, I am glad in your case you were able to solve the audio issue - even if it wasn't an audio issue afte

[2020-10-28 05:39] chmooreck commented on #2478
@plbossart  Oh no, I've got audio issue still. Just bit later:

[code]

Full dmesg log is in comment https://github.com/thesofproject/linux/issues/2478#issuecomment-716415284
Should I go back to https://bugzilla.kernel.org/show_bug.cgi?id=201251 ?

[2020-10-28 09:18] RanderWang commented on #2536
@plbossart  there is no slave on link2, is this error ? thanks!

[2020-10-28 14:33] plbossart commented on #2536
Sorry, no. Somehow I saw the TGL title and was confused. On CML-mono you're right this is not a problem.

That said, the other errors are on link3 and are real bad as well

[code]

[2020-10-29 08:34] martinkolenic commented on #2748
I can also confirm the same problem with my IdeaPad S740. I have a rather fresh installation of Fedora 32 with no sound coming from the speakers out of the box (I did not reinstall or change any software pertaining to the sound driver except for updates coming from the official repos), although when booting from Windows, the speakers work normally. I'll try to provide all required data; I just nee

[2020-10-29 16:27] kv2019i commented on #2391
Patch merged, closing.

[2020-10-29 16:27] #2391 closed

[2020-10-29 20:00] H-Park commented on #2748
I feel bad for not making an issue when I discovered it back in late March, but I'm glad it's going through the steps to be fixed.

@crojewsk Pinging you again to request how to get said data so @kolenic-martin can get it for the SOF team.

[2020-10-29 22:28] plbossart opened #2542 "SoundWire lockdep issue"
Reported in Intel Daily test 627 with the new Kconfig enabling lockdep detection https://github.com/thesofproject/kconfig/pull/43

[code]

I've seen this as well in my local tests.

[dmesg-locks.txt](https://github.com/thesofproject/linux/files/5461601/dmesg-locks.txt)

@bardliao can you see this as well on your rt711-rt1316-rt714 device?

[2020-10-30 02:33] bardliao commented on #2542
Yes, I can see it as well.

[2020-10-30 08:24] KaiChuan-Hsieh opened #2544 "Dell Latitude machine audio can't work -> Internal Mic Recording volume is low"
I am checking the audio function with the latest sof-dev kernel which is based on 5.10-rc1. It seems the codec can't probe successfully.

Oct 30 04:04:17 ANDW-DVT1-C1 kernel: soundwire sdw:3:25d:714:1: Probe not complete, timed out
Oct 30 04:04:17 ANDW-DVT1-C1 kernel: soundwire sdw-master-3: Update Slave status failed:-110
Oct 30 04:04:17 ANDW-DVT1-C1 kernel: soundwire sdw:2:25d:1316:1: Probe not

[2020-10-30 14:08] lgirdwood commented on #2748
Sorry guys, I'm not a Windows export so dont know how to get HDA codec register/config information from the Windows audio driver. Does anyone know ?

[2020-10-30 16:01] plbossart commented on #2544
@KaiChuan-Hsieh did you change the Kconfig to enable those codecs? You need

CONFIG_SND_SOC_RT711_SDCA_SDW=m
CONFIG_SND_SOC_RT1316_SDW=m
CONFIG_SND_SOC_RT715_SDCA_SDW=m

[2020-10-30 17:42] chmooreck opened #2545 "HP Zbook 17 G6: error: ipc error for 0x50010000 size 108"
[code]

sof-firmware 1.6

kernel:
[code]

$ dmesg | grep -e "snd\|sof\|ASoC\|hda"
[dmesg.log](https://github.com/thesofproject/linux/files/5466734/dmesg.log)

[2020-10-30 18:09] plbossart commented on #2545
Just to clarify @chmooreck did you install both the sof-cfl.ri firmware binary and intel/sof-tplg/sof-hda-generic-4ch.tplg from the same 1.6 package? I'd like to rule out a mismatch (though the ABI looks the same so not sure).

@kv2019i @juimonen FYI.

[2020-10-30 18:39] chmooreck commented on #2545
@plbossart you nailed it. I had firmware from 1.5.1 and topology from 1.6. After switching both to 1.6 sound works fine (including microphone). Thanks a lot for help.

Checked 5.9.2 kernel too - works fine.

[2020-10-31 04:57] KaiChuan-Hsieh commented on #2544
@plbossart

Thanks for your reply, indeed, the config is not enabled.
After enable the config, found this error.
Oct 31 00:46:36 ANDW-DVT1-C1 kernel: sof-audio-pci 0000:00:1f.3: ASoC: Parent card not yet available, widget card binding deferred
Oct 31 00:46:36 ANDW-DVT1-C1 kernel: sof_sdw sof_sdw: hda_dsp_hdmi_build_controls: no PCM in topology for HDMI converter 3
Oct 31 00:46:36 ANDW-DVT1-C1 kern

[2020-11-01 22:11] 3ddd opened #2549 "HP x360 1040 G5 - no internal Microphone"
I have no internal Mic on my Ubuntu 20.04 with mainline Kernel 5.9.
Any idea how to fix that?

[dmesg.log](https://github.com/thesofproject/linux/files/5471855/dmesg.log)

http://alsa-project.org/db/?f=4237a4c012b0505892a70fbd4ed9764277bd6ccb

[code]

[2020-11-02 02:06] keyonjie commented on #2545
Hi @chmooreck @plbossart  so shall we close this?

[2020-11-02 02:25] keyonjie commented on #2478
@chmooreck this looks like FW error now, can you share the FW log also (via command 'sof-logger -l sof-cfl.ldc -t', for details, see https://thesofproject.github.io/latest/developer_guides/debugability/logger/index.html?highlight=logger)?

And does this error impact the subsequent sound playback/capture for you?

Can you share the kernel recipe you used?

[2020-11-02 02:26] KaiChuan-Hsieh commented on #2544
When I try to run BootSequence by "alsaucm set _boot """, I get the error.

ALSA lib utils.c:335:(uc_mgr_config_load) could not open configuration file /usr/share/alsa/ucm2//sof-soundwire/rt1316-4.conf
ALSA lib parser.c:95:(uc_mgr_config_load_file) error: failed to open file /usr/share/alsa/ucm2//sof-soundwire/rt1316-4.conf : -2
ALSA lib main.c:983:(snd_use_case_mgr_open) error: failed to import h

[2020-11-02 03:14] mengdonglin commented on #2522
Set to P3 as it's MAX98373 specific, will monitor reproduce rate on TGL Chrome EVT devices.

[2020-11-02 03:18] keyonjie commented on #2534
@naveen-manohar FYI.

[2020-11-02 03:18] keyonjie commented on #2533
@naveen-manohar FYI.

[2020-11-02 03:46] libinyang commented on #2544
@KaiChuan-Hsieh Please try the ucm: https://github.com/thesofproject/alsa-ucm-conf/pull/45

[2020-11-02 03:57] keyonjie commented on #2549
@3ddd looks your platform is KBL, which is not supported by SOF driver.
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_intel.c#L2458
[code]

[2020-11-02 04:48] KaiChuan-Hsieh commented on #2544
Hello,
After applying config thesofproject/alsa-ucm-conf#45, here is the test result

1. internal speaker/mic works ok
2. headset input/output works ok
3. HDMI output works ok

But the internal mic volume is a bit low even tough I enlarge the volume.

Thanks,

[2020-11-02 05:35] chmooreck commented on #2545
@keyonjie
Yes. Sound works fine now - it was caused by mismatched versions of topology and firmware.

[2020-11-02 05:39] chmooreck commented on #2478
@keyonjie I made separate report (https://github.com/thesofproject/linux/issues/2545#issuecomment-720197970), as it was not connected with original issue - fw not loading because  of disabled ME.

From my side it all works fine now - can be closed.

[2020-11-02 09:31] torotil commented on #2375
Great to have someone else in the same boat. That makes it less likely that it’s just on fluke on my specific setup. And also great that you were able to test it on Windows!

So if this is indeed not a hardware issue and it does work in Windows: How can we proceed with debugging this?

[2020-11-02 10:03] 3ddd commented on #2549
Is there another Linux driver supporting this? Or is Windows the only solution for this Problem?

[2020-11-02 10:40] kv2019i commented on #2334
Observed in CI on ICL RVP:
https://sof-ci.01.org/linuxpr/PR2546/build4813/devicetest/

[2020-11-02 15:06] plbossart commented on #2544
Thanks @KaiChuan-Hsieh for testing. The mic settings were provided by @jack-cy-yu I don't know if they can be tweaked?

[2020-11-02 15:07] #2478 closed

[2020-11-02 15:12] plbossart commented on #2549
There is already the skylake sst driver taking care of this device.

[code]
I am afraid you've hit an issue with this driver.

I would use  'options snd-intel-dspcf dsp_driver=1' in /etc/modprobe.d/alsa-base.conf to see if the legacy driver works on playback for you. If you see a Conexant codec you are probably out of luck, this is a configuration not supported by this driver.

[2020-11-02 15:12] #2545 closed

[2020-11-02 16:55] plbossart commented on #2522
@bardliao @aiChaoSONG @mengdonglin in Intel tests #649 with kernel PR #2530 applied, we only see the parity issue. We'd need someone with access to the device to try to reproduce the errors and check if indeed we see an improvement with PR #2530 or if this is a random result.

[2020-11-02 17:45] 3ddd commented on #2549
i see no difference with the dsp_driver=1 -> http://alsa-project.org/db/?f=173ba2a7dfc88d6ef4efb28b1e9d6a6848f7a4b7
where should i see the Conexant Codec?
Any Chance to fix that in SST Driver? Where is the right place to ask for that?

[2020-11-02 17:52] 3ddd commented on #2549
To activate Playback i could use this:
https://askubuntu.com/questions/1243369/sound-card-not-detected-ubuntu-20-04-sof-audio-pci

[2020-11-02 20:50] plbossart commented on #2549
snd_intel_dspcf: dsp_driver=1

typo: was dspcfg...

see https://thesofproject.github.io/latest/getting_started/index.html#debugging-audio-issues-on-intel-platforms

[2020-11-02 21:04] 3ddd commented on #2549
ok, now i have playback but no DMIC.
Also there is a Conexant Codec now - so then i am out of luck and have to use Windows?
http://alsa-project.org/db/?f=951b7476be2a5837dc680ef2c75a6daf1235be3c

[2020-11-02 21:14] plbossart commented on #2549
that's 'normal', it was just to detect the codec.

I am afraid we don't have a solution at the moment. There was a decision that KBL would not be supported by SOF, but since the other driver doesn't work with Conexant codecs that leaves mainly HP users without a solution.

[2020-11-02 21:17] 3ddd commented on #2549
Thank you anyway.

[2020-11-03 05:42] jack-cy-yu commented on #2544
@KaiChuan-Hsieh What mic volume values do you use to record? If "values=47,47" which means 0dB, the max values would be "values=127,127", 0.375dB for each volume step. You can enlarge these two 'rt714 FU02 1_2 Capture Volume'/ 'rt714 FU02 3_4 Capture Volume'and try recording again. Thanks.

[2020-11-03 07:03] KaiChuan-Hsieh commented on #2544
@jack-cy-yu Thanks for your reply, indeed, you are correct, I found no matter how I adjust capture volume from gnome-volume-control, it only impacts
**numid=75,iface=MIXER,name='PGA5.0 5 Master Capture Volume'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=80,step=0
  : values=51,51
  | dBscale-min=-50.00dB,step=1.00dB,mute=1**

The amixer interface 'rt714 FU02 1_2 Capture Volume' and 'rt714

[2020-11-03 07:29] jack-cy-yu commented on #2544
@KaiChuan-Hsieh I don't know if there is bug of gnome-volume-control, but I think 'PGA5.0 5 Master Capture Volume' should be configurable somewhere in ucm. Maybe @plbossart  can help you ?

[2020-11-03 08:01] GoPerry commented on #2496
Thanks for your suggestion.
I created one PR for this feature.
Could you help to take a look if  you have concern or comments?
[https://github.com/alsa-project/alsa-ucm-conf/pull/60](url)

[2020-11-03 08:30] shengyao opened #2551 "digital microphone detected on hardware which do not have internal microphone"
Tested on a Lenovo ThinkCentre

BIOS Version: M3SKT1AA (10/16/2020)

with Windows 10, no digital microphone detected.

but with Ubuntu 20.04, kernel version 5.6.0-1028-oem, will detect a digital microphone. dmesg shows:

[    4.033335] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040380
[    4.033489] snd_hda_intel 0000:00:1f.3: Digital mics found on Skylake+ pla

[2020-11-03 09:11] jason77-wang commented on #2551
We met the similar issue on Lenovo Thinkcenter M720q and M720s, Please refer to: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues/1001

[2020-11-03 11:04] perexg commented on #2551
I think that we may add a skip list to snd-intel-dspcfg to avoid SOF activation based on PCI IDs or DMI info for this hardware with the invalid NHLT descriptors.

[2020-11-03 16:20] plbossart commented on #2544
@KaiChuan-Hsieh this is a bug in the UCM config, we use SOF controls for RT715 volume which makes no sense.

see https://github.com/thesofproject/alsa-ucm-conf/pull/45/commits/194d1d6cd7cca53ad7059c1f499be87b1e2cdc70#diff-85cf5691dfed75e5476a36428fbef53064667af2e8f612868333e0c85c7a7b5bR18

I think Capture Switch and Capture Volume should point to an RT715-sdca control, not use the SOF firmware con

[2020-11-03 16:27] plbossart commented on #2551
@shengyao I don't have an NHLT parser and can't really look for errors, the parsing is horrible.
is there a way you can test with a more recent kernel? We added more traces to tell how many mics were found, and that would help us detect something weird.

@perexg agree, I am pretty sure folks copy-pasted BIOS stuff even when there's no DMIC... quirks are unavoidable I am afraid.
that said, even if

[2020-11-03 21:54] superm1 commented on #2496
@GoPerry I think you can close this current PR now.

[2020-11-04 01:19] shengyao commented on #2551
@plbossart sure, just give me your kernel, I am glad to test.

[2020-11-04 01:56] GoPerry commented on #2496
closed and thanks all for your support on this case.

[2020-11-04 02:18] aiChaoSONG opened #2552 "[BUG][TGL][CI][SDW] IO transfer timed out in test check-kmod-load-unload-50.sh"
In daily report 666, `IO transfer timed out` is report on TGL laptop with SDCA codecs in test case check-kmod-load-unload-50.sh
[code]

**Recipe**
Kernel Branch: topic/sof-dev
Kernel Commit: 9055b6e3
SOF Branch: master
SOF Commit:  2aa62e1e
TPLG:  sof-tgl-rt711-rt1316-rt714.tplg
Platform: TGL-U laptop with SDCA codecs (2 ALC1316 amplifiers on separate links)

[2020-11-04 03:09] jack-cy-yu commented on #2544
@KaiChuan-Hsieh  Regarding to sdca version of RT715, rt714 FU02 1_2 Capture Switch/ rt714 FU02 3_4 Capture Switch for mute/unmute, rt714 FU02 1_2 Capture Volume/ rt714 FU02 3_4 Capture Volume for volume control.  As for non-sdca version of RT715, ADC 07 Capture Switch/ ADC 27 Capture Switch for mute/ unmute, and ADC 07 Capture Volume/ ADC 27 Capture Volume for volume control.

[2020-11-04 10:42] kv2019i commented on #2551
@shengyao I did a manual parse of the NHTL dump you attached and it describes one PCH DMIC link with DeviceType=cAVS1.8-PDM. So it seems this is a copy-n-paste error in the BIOS.

Considering this should be harmless and may be potentially fixed in later BIOS update, maybe no quirk is needed either.

[2020-11-04 12:25] kv2019i commented on #2551
@plbossart @perexg I wrote a (very) simple python tool to parse the relevant bits of NHLT. Currently at:
https://github.com/thesofproject/sof-test/pull/488

[2020-11-04 14:03] plbossart commented on #2551
@shengyao if you have access to a Windows 10 machine, could you track which driver is used? I wonder if the Windows in-box driver is used, or the Intel SST driver. In the latter case, they would have to rely on a local configuration (e.g. inf file) to disable the dmics or something.

[2020-11-04 15:23] memegauste commented on #2485
Sure, I will put log here soon, I must install Linux again on my tablet for testing purposes. Sorry for pause in response.
Also I checked the BIOS version, it's the newest possible version for now (last version is from 2015 :D).

[2020-11-04 16:33] plbossart commented on #2551
Note that we have a existing kernel parameter to override NHLT

[code]

so adding this in /etc/modprobe.d/alsa-base.conf would ignore the bad NHLT information.

[code]

[2020-11-04 17:33] plbossart commented on #2544
Sorry, not getting the picture @jack-cy-yu. Are you saying there are two mute controls, one per microphone pair?

@juimonen @libinyang in the UCM syntax, is it ok to have multiple CaptureSwitch and CaptureVolume definitions?

[2020-11-04 18:43] mrhpearson commented on #2551
I've raised this with the ThinkCentre BIOS team and asked them to investigate.
(LO-885 for my reference and tracking).
I'll update when I hear back from them
Mark

[2020-11-05 06:59] ranj063 commented on #2458
also seen on BDW here https://sof-ci.01.org/linuxpr/PR2371/build4845/devicetest/

[2020-11-05 09:20] martinkolenic commented on #2748
@plbossart, could you perhaps provide any guidance? I'm ready to help.

[2020-11-05 13:59] kv2019i commented on #1639
A quick update: I was planning to implement this as a quick task this week, but this turns out to be somewhat more complicated. The current generic HDA machine driver topology and machine driver are used across multiple generations of hardware, some supporting only 3 iDisp outputs, while some support 4. To add 4th iDisp converter to generic HDA driver, following changes are needed:
1. ~~SOF Intel

[2020-11-05 14:05] kv2019i commented on #1639
FYI @mengdonglin -- I downgraded this feature to P3 for now. 4 CVTs can be enabled, but requires a separate tplg+machdriver for now (or using legacy driver).

[2020-11-05 15:35] plbossart commented on #1639
We can add a quirk in the machine driver to only add the 4th link starting <SOC+>, and likewise we can have a quirk on the SOF side that selects a different topology file for <SOC+>. It's just a matter of adding a suffix, either before or after the dmic number.

[2020-11-05 15:42] plbossart commented on #2748
Unfortunately I am triple-booked and not able to help beyond reading comments. Like I said, the issue seems to be that the amplifiers located behind the HDaudio codec are not properly configured, so we would need a quirk in the HDaudio codec driver to issue the commands over the HDaudio command protocol, and have the HDaudio codec translate them as I2C commands that would configure the amps. Lenov

[2020-11-05 23:01] plbossart commented on #2542
fixed.

[2020-11-05 23:01] #2542 closed

[2020-11-05 23:02] plbossart commented on #2471
fixed with UCM config.

[2020-11-05 23:02] #2471 closed

[2020-11-05 23:06] plbossart commented on #2461
@perexg I forgot to update this issue but did reproduce it. This may be solved by https://github.com/thesofproject/linux/pull/2530

With the patches in this PR I no longer see any warnings. We've merged the code and will do more testing to confirm it also fixes some of the timeout issues we've seen, but you're welcome to take the patches to see if this works for you :-)

[2020-11-05 23:23] plbossart commented on #2460
@phocean we have reports of configuration issues related to DMICs, wondering if you are in the same case as https://github.com/thesofproject/linux/issues/2551 with non-existent microphones.

Can you provide the NHLT table or run the script suggested in https://github.com/thesofproject/sof-test/pull/488?

[2020-11-06 23:34] marc-hb opened #2556 "Shallow cloning in CI can create pull requests with one million commits"
Experienced in failing https://travis-ci.org/github/thesofproject/linux/jobs/740309392, https://travis-ci.org/github/thesofproject/linux/jobs/739977895 and others.

Bug announced in #2547 and tentative #2543

Cc: @kv2019i , @plbossart , @ranj063 , @xiulipan

Plug'n'play reproduction with the 100-lines long [shallow_backfire.sh](https://gist.github.com/marc-h38/5de76e169bb314f9b0244b6077a46673) scr

[2020-11-09 03:00] keyonjie commented on #2549
@3ddd we won't provide fix from SOF side, close it here.

[2020-11-09 03:00] #2549 closed

[2020-11-09 03:17] keyonjie commented on #2556
@marc-hb this should be reported on the CI repo?

[2020-11-09 06:51] marc-hb commented on #2556
Not sure what the "CI repo" is. I removed "CI" from the title. Anyone or anything using shallow clones is affected, not just CI.

Only Linux is affected because other repos use git in much simpler ways.

It's probably not a bug, just a strange but probably intended git fetch behaviour/limitation.

Maybe there's some magit git fetch option to workaround this issue?

[2020-11-10 13:40] plbossart commented on #2534
@aiChaoSONG it does not appear to be the 'same story'. I see in daily test 706 that all SoundWire platforms pass except the Volteer platform for the suspend-resume case.

[2020-11-10 13:48] lyakh commented on #2498
update: the easiest way currently to reproduce this problem on my CNL hardware is to run `sudo test-case/check-kmod-load-unload.sh -l 5` from https://github.com/thesofproject/sof-test, in my tests the error always triggers within those 5 loops. However, after removing the line
https://github.com/thesofproject/sof/blob/9b5ba319387aaaf8cd606dd6054464c015b7ce2c/src/ipc/handler.c#L580 I was able to ru

[2020-11-11 00:58] aiChaoSONG commented on #2534
@plbossart This may be related to MAX98373 codec, as we discussed in PRC bug scrub.

[2020-11-11 01:28] plbossart commented on #2534
There is one of the two amps that appears to lose sync, but that shouldn't be fatal. I added traces in https://github.com/thesofproject/linux/pull/2559, I think we need to have a better diagnosis, it's not just the codec but the bus management that seems problematic.

[2020-11-11 04:31] naveen-manohar commented on #2552
@aiChaoSONG For Chrome, we are in SoF_v010 1st drop and dint observe this failure.
Can you please help with the scenario being tried.. was this during a stress test ?

jfyi, we use sof-tgl-sdw-max98373-rt5682.tplg soundcard

[2020-11-12 04:45] RDharageswari opened #2561 "[BUG][TGL] S0ix fails with Dell TBT dock connected due to Audio"
Audio related S0ix failure(After 20/30 cycles) is observed with Dell TBT dock connected on TGL

1069.777674] PM: suspend entry (s2idle)

[ 1069.781618] Filesystems sync: 0.003 seconds

[ 1069.781621] PM: Preparing system for sleep (s2idle)

[ 1069.878801] Freezing user space processes ...

[ 1089.885796] Freezing of tasks failed after 20.006 seconds (1 tasks refusing to freeze, w:

[ 1089.885827]

[2020-11-12 04:55] RDharageswari commented on #2561
[Uploading logs.zip…]()

[2020-11-12 11:43] kv2019i commented on #2561
@RDharageswari wrote:

Problem seems to be that display codec is not responding and thsi blocks the suspend entry.

Can you share test produce, a more complete log (dmesg) and output of alsa-info?

[2020-11-12 17:11] RDharageswari commented on #2561
[logs.zip](https://github.com/thesofproject/linux/files/5532114/logs.zip)

[2020-11-13 01:45] aiChaoSONG commented on #2552
Observed in report 732 on Dell Notebook SDCA.

[2020-11-13 01:53] aiChaoSONG commented on #2522
After #2530, This issue is not reproduced.

[2020-11-13 01:59] aiChaoSONG commented on #2536
After go through daily report of this week, the issue is not reproduced, close.

[2020-11-13 01:59] #2536 closed

[2020-11-13 02:01] aiChaoSONG commented on #2533
Will monitor this issue for a week, if not reproduced, will close.

[2020-11-13 03:03] mengdonglin commented on #2407
RT700 is not a production version codec. Will check the issue if it can be reproduced with SDW codecs.

[2020-11-13 03:03] #2407 closed

[2020-11-13 03:09] mengdonglin commented on #1751
@plbossart Can we close if this feature is done?

[2020-11-13 03:10] mengdonglin commented on #1750
@plbossart can we close this feature if it's done?

[2020-11-13 11:24] bardliao commented on #2534
@plbossart @RanderWang From the dmesg on daily report 727, it looks like someone tried to access sdw bus 0 Slave 1 before it is enumerated. Question is who/where did it? The other interesting thing is sdw bus 0 Slave 1 is rt5682, not max98373 and rt5682 is the only codec on sdw bus 0.

<details><summary>dmesg</summary>

[code]

</details>

[2020-11-13 13:34] paulmenzel opened #2577 "[BUG] TGL Dell XPS 13 9310: Microphone/input does not work"
With the Intel Tiger Lake laptop Dell XPS 13 9310 and Debian Sid/unstable with Linux 5.9.6, SOF *stable-v1.6* and PulseAudio 13.99.3-1, the user reports, that the internal microphone does not work. First the internal device was only detected after plugging in an external headset, but after [selecting `SND_SOC_SOF_TIGERLAKE_SUPPORT`](https://bugs.debian.org/973879) and installing the SOF *stable-v1

[2020-11-13 14:24] plbossart commented on #2534
@bardliao in this case there's a NAK while trying to read rt5682 devID registers, but that's not a problem. The device will be enumerated later.
This is relatively strange to me that we have issues for either rt5682 (NAK) or max98373 (bus clash or parity issues), that's inconsistent.

[2020-11-13 15:18] plbossart commented on #2552
@aiChaoSONG the error is completely different to the first one, this happens on a suspend not on an enumeration.

[code]

Can you please double-check why we don't have dynamic debug traces on this machine for the SoundWire code? We would want

[code]

Address 0x5c is SCP_SDCA_IntMask1, we'd need to check when this is set and with more traces figure out which codec driver tries to set/unset that bi

[2020-11-13 15:19] plbossart commented on #1751
no it's not done, I haven't had time to look into it.

[2020-11-13 15:20] plbossart commented on #1750
We haven't even worked on clock scaling so that feature is on the back burner. let's keep it for now.

[2020-11-13 15:33] plbossart commented on #2577
That platform looks like a standard HDAudio + 2 mics + Intel HDMI. That should work, we have devices like this left and right.

is the alsa-ucm-conf package up-to-date? It should contain the UCM parts needed to show the dmic.

Also please refer to this documentation to help check dmic issues:

https://thesofproject.github.io/latest/getting_started/index.html#debugging-audio-issues-on-intel-platfor

[2020-11-13 17:26] paulmenzel commented on #2577
Where do you see that? There is no HDMI connector on the [Dell XPS 13 9310](https://www.dell.com/de-de/shop/laptops/xps-13-laptop/spd/xps-13-9310-laptop) to my knowledge – only USB 3 Type C.

Debian packages *alsa-ucm-conf* 1.2.3-1.

I can try that on Monday, if the user allows me remote access. Please note, that my issue contains a reference to the output of `/usr/sbin/alsa-info`. The parts below

[2020-11-13 17:53] plbossart commented on #2577
[   11.375128] sof-audio-pci 0000:00:1f.3: hda codecs found, mask 5

Mask = 0x4 means there is a 'Display Audio' connection handled by Intel. This is helpful to detect if there is an Nvidia/AMD external graphics card handling Display Audio separately. The actual format/connector is irrelevant, what matters is whether SOF handles this audio data or not.

Mask=0x5 means there is both a local HDAudio

[2020-11-13 20:23] kv2019i commented on #2561
Thanks @RDharageswari .

There are two aspects that does not seem right:

1) CRAS pcm_open gets stuck even when resume for codec has been successful

If i915 would be causing trouble, we would see a different error and earlier:

2020-10-29T21:05:52.330667-07:00 INFO kernel: [  711.690624] usb 3-2: usb_dev_resume+0x0/0x14 returned 0 after 399491 usecs
...
2020-10-29T21:06:18.311490-07:00 ERR kernel

[2020-11-16 02:37] mengdonglin commented on #2552
Very low reproduce rate. @RanderWang ran 10000+ iterations and cannot reproduce.

[2020-11-16 02:47] RanderWang commented on #2552
@plbossart Can we add a feature to do hardware reset to recover ? For massive production case,  it is inevitable to get such error.

[2020-11-16 08:13] lyakh commented on #2498
update 2: as of last Friday's weekly test the problem didn't occur. Also wasn't able to reproduce it manually earlier during last week. How about I check again end of this week, and if the bug doesn't show up again, we close this bug (until it re-appears)?

[2020-11-16 16:59] fredoh9 commented on #2310
https://github.com/thesofproject/linux/pull/2548 merged

[2020-11-16 16:59] #2310 closed

[2020-11-16 17:00] fredoh9 commented on #2434
https://github.com/thesofproject/linux/pull/2548 merged

[2020-11-16 17:00] #2434 closed

[2020-11-16 20:40] plbossart commented on #2433
we saw this error today in two reports of daily tests #755

I will start a hypothesis that when we see an 'rtcwake: write error', then we can also see in dmesg an error message with
"Freezing of tasks aborted after 4+ seconds (1 tasks refusing to freeze, wq_busy=0): "

All the tests I've looked at confirm this hypothesis, can folks double-check this?

[code]

[2020-11-16 20:51] plbossart commented on #2552
@aiChaoSong @RanderWang @mengdonglin, we see a timeout on the first iteration of check-kmod-load-unload-50.sh in Intel daily test #755.

[code]

I also cannot reproduce this issue so I am starting to wonder if this device has a problem or a different configuration?

[2020-11-16 22:29] plbossart commented on #2552
Since the timeouts only happen on the remove case, I added a possible fix in https://github.com/thesofproject/linux/pull/2563

@bardliao @RanderWang please review.

[2020-11-17 04:00] bardliao commented on #2534
@plbossart I think the NAK and the Parity errors are different issue.
For the parity error issue, should we add below on max98373 codec, too?
[code]

[2020-11-17 04:10] naveen-manohar commented on #2534
I thought about this, but on my DUT the parity error was primarily from rt5682-sdw & dint observe with max98373-sdw, so ignored.

[2020-11-17 07:47] bardliao commented on #2534
It seems be different from the test result of daily test.
[code]

[2020-11-17 09:05] RanderWang commented on #2534
@bardliao  Now I often get this Parity error with 98373

[2020-11-17 09:06] RanderWang commented on #2533
@aiChaoSONG   I often get this parity error. According to @bardliao  we need to add a prop to 98373

[2020-11-17 09:50] bardliao commented on #2534
Shouldn't it be Slave **_0_** when it read device ID?
[code]
I meant we should only use Slave _**1**_ after the device number **_1_** is assigned to the Slave.
Maybe we can add ``addr`` to the error trace to get more information for the error.
[code]

[2020-11-17 14:24] plbossart commented on #2534
The rt5682 already has the SDW_SLAVE_QUIRKS_INVALID_INITIAL_PARITY quirk, so if you get a parity error from that device, it's a real one - not a fake issue after a hardware reset.

I don't know if the max98373 has the same issue, it's be surprising given that these codecs have nothing in common.

[2020-11-18 02:08] libinyang commented on #2544
@plbossart It seems UCM doesn't support the usage of multiple CaptureSwitch and CaptureVolume. In the get_value() in alsa-lib, it will only get one value.

I think we can put the rt715 settings in the codecs/rt715/init.conf and use the machine related setting like "PGA xxx" in sof-soundwire folder. What do you think?

@jack-cy-yu We use "PGA xxx" to control the volume in "sound-setting" because we

[2020-11-18 08:04] mengdonglin commented on #2461
Close as the fix has been merged. Please re-open this issue or file a new one if it can be reproduced later.

[2020-11-18 08:04] #2461 closed

[2020-11-18 10:06] mengdonglin commented on #2533
@aiChaoSONG @RanderWang Is there any impact on audio functionality when you observe this parity error? Need this info to decide the proper priority

[2020-11-18 13:05] RanderWang commented on #2534
reproduced with daily build 11/06. It seems be difficult to reproduce NAck with latest driver. And 5682 was enumerated later.

[code]

[2020-11-18 16:26] plbossart commented on #2544
@libinyang there's a separate thread on this, we do want to have a single CaptureSwitch/CaptureVolume but have them exposed by the codec.
We do not want to continue with the PGA use, it's a dead-end.

[2020-11-18 16:27] plbossart commented on #2461
just to be clear, the fix has NOT been merged upstream, it's in the queue for SoundWire reviews and will be submitted after the SDCA stuff.

[2020-11-19 03:05] mengdonglin commented on #2552
@plbossart @bardliao @RanderWang This issue cannot be reproduced in latest daily test report ID 789. Let's monitor for a few more days to see if we can close this issue.

[2020-11-19 08:11] libinyang commented on #2544
@plbossart Excuse me continue replying in this thread as I didn't find the separate thread in thesofproject/linux. I only have one concern if we use the codec controls: What if the codec driver doesn't have a proper CaptureSwitch/CaptureVolume control? As you know there are so many codecs, and it's hard to require the codec venders to expose the controls for every codec.

[2020-11-19 08:34] bardliao commented on #2534
[code]
addr 3008 is [RT5682_SDW_CMD](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/rt5682-sdw.c#L38) which is used by rt5682_sdw_read() and rt5682_sdw_write(). After adding some more trace, I got
[code]

Note that I didn't reproduce the issue with above log and I removed some irrelevant log.
What I see from the log is that [rt5682_resume](https://github.com/thesofproje

[2020-11-19 08:55] RanderWang commented on #2534
Great @bardliao !  it is caused by ASoC resume function. I tried to reproduce this bug to get call stack to find who write register but I can't reproduce it. You show the simplest way to find hint. We all ignore the "intel-sdw intel-sdw.0: Msg ignored for Slave 1".  I learned so much from you finding. Thanks !

[2020-11-19 08:57] RanderWang commented on #2534
And if it is dev_dbg instead of  dev_dbg_ratelimited in cdns_fill_msg,  we should get a batch of ignore message. So dev_dbg_ratelimited sometimes hide bugs.

[2020-11-19 09:08] RanderWang commented on #2533
Nothing but notify you command parity error

[2020-11-19 11:09] kv2019i commented on #2561
Potentially related to #2353

[2020-11-19 15:06] plbossart commented on #2534
Nice progress @bardliao, but I am confused. Why is the rt5682_resume() function used?

it should be

rt5682_dev_resume(struct device *dev)
https://github.com/thesofproject/linux/blob/cfa9a863e20a578dd2b2012880fe239cb6667f7c/sound/soc/codecs/rt5682-sdw.c#L732

[2020-11-19 15:20] plbossart commented on #2534
I think I know what's happening...

the SoundWire card is instantiated with a platform device, which is a child of the PCI device. The platform driver (machine driver) relies on the classic snd_soc_pm_ops. When the card resumes, it will call a workqueue which will resume the components, and for rt5682 the component driver exposes the rt5682_resume function.

The rt5682 device is a child of the PCI

[2020-11-20 06:58] sathya-nujella opened #2571 "[BUG][TGL] failed to ready HDA controller gctl 0x0 (sof_probe_work failed)"
DUT:  TGL Chrome DUT with  Max98373_RT5682 **I2S**
BIOS:  Coreboot
Kernel:  Google - Kernel 5.4
             https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.4

**Issue:**
Sound card creation failed.

**TEST SCENARIO:**
During reboot tests, randomly seeing this issue.
Able to reproduce the issue (no consistent method, just reboot some times catch this issue).

[2020-11-20 08:39] kv2019i commented on #2571
There are a couple of past bugs with similar fingerprint:
https://github.com/thesofproject/linux/issues/1399
https://github.com/thesofproject/linux/issues/1556
https://github.com/thesofproject/linux/issues/1735

Most have such low reproduce rates, that no exact patch could be pointed to for making the problem go away.

One concrete thing to try is this:
https://github.com/thesofproject/linux/issue

[2020-11-20 16:43] kv2019i commented on #2571
Findings today:
- with snd-hda-intel, bug is harder to trigger (on same system)
- when bug occurs, unloading and reloading does not help
- when bug occurs, unloading and reloading snd-hda-intel instead of SOF, does not help

Yet to be tested:
- try to reproduce with force-nocodec mode
- unloading driver always before reboot
- increase delay to wait HDA to come from reset

[2020-11-20 16:59] plbossart commented on #2571
Right, we faced this before and never reached a conclusion as to what cause the capability parsing to fail. I had a discussion with hardware folks and there was no smoking gun.

A work-around was added in upstream commit  f09e9c7f6331a5a8a5f48ac3d118b641210cbd16 ('ASoC: SOF: Intel: hda-ctrl: add reset cycle before parsing capabilities')

@sathya-nujella can you check if this was back-ported and tr

[2020-11-20 17:01] ranj063 commented on #2571
@plbossart I already suggested this last night and it didnt help

[2020-11-20 17:21] kv2019i commented on #2571
More tests:
- try to reproduce with force-nocodec mode -> still happens
- increase delay to wait HDA to come from reset -> done, did not help

Ongoing:
- unloading driver always before reboot -> under progress, @sathya-nujella running, no errors yet but very limited iterations

[2020-11-20 17:25] plbossart commented on #2571
@ranj063 if the unloading driver before reboot solves the issue, wouldn't this point to a .shutdown() callback that's not doing the same thing as a .remove()?

[2020-11-20 17:41] ranj063 commented on #2571
@plbossart I'd think so. I'll work with @sathya-nujella this morning to try it out.

[2020-11-20 21:09] plbossart opened #2573 "[TGL][SDW] warnings related to HDMI converters"
Filing an issue to keep track of this report on Volteer:

[code]

No idea if this is a real problem @kv2019i ?

[2020-11-22 05:27] sathya-nujella commented on #2571
Thank you @ranj063 . In today's debug with Ranjani's support tried, warm reboot tests.
With her suggestion, found out that after reverting this SOF patch, issue not reproduced in 100-iterations.
As it is random issue, I will continue more tests. But clearly reverting that SOF patch shows improvement.

Patch reverted:   https://github.com/thesofproject/sof/commit/75561a99642c50265ffb9f94a760e52e6a2

[2020-11-22 23:41] phocean commented on #2460
@plbossart

Is that helpful?

[code]

[2020-11-23 02:14] mengdonglin commented on #2458
Lower priority to P3 as the reproduce rate is low and no impact on audio functionality.

[2020-11-23 02:15] mengdonglin commented on #2498
@lyakh Okay. Thank you!

[2020-11-23 02:48] mengdonglin commented on #2361
Cannot reproduce in CI recently, so lower the priority.

[2020-11-23 02:53] mengdonglin commented on #2361
The slogger shows it's more likely the *.ldc file has changed during the test. CI hasn't reproduced this issue. So closed it.

[2020-11-23 02:53] #2361 closed

[2020-11-23 02:56] aiChaoSONG commented on #2533
Not reproduced on: 2020/11/23 UTC+8

[2020-11-23 02:57] aiChaoSONG commented on #2534
Not reproduced on: 2020/11/23 UTC+8

[2020-11-23 02:57] aiChaoSONG commented on #2552
Not reproduced on: 2020/11/23 UTC+8

[2020-11-23 03:03] mengdonglin commented on #2510
Ongoing discussion in ALSA mailing list https://mailman.alsa-project.org/pipermail/alsa-devel/2020-November/176822.html

[2020-11-23 05:24] RuiqingX opened #2576 "[BUG][CML][TGL] invalid mailbox read with IPC RX during IPC CTX_SAVE send happen mostly in check-suspend-resume-50 test"
Observed in CI daily Report ID 822, test case check-suspend-resume-50 failed on dmesg error "error: DSP trace buffer overflow 4294967295 bytes. Total messages -1". No impact on audio functionality.

Test case/steps:
check-suspend-resume-50.sh
This can also be reproduced manually on the DUT.

Reproduce rate:
~6%. Executed  check-suspend-resume-50 for 12 times, and reproduced this issue once.

Test

[2020-11-23 06:07] bardliao commented on #2534
I checked all Realtek sdw codecs and max89373 and it seems snd_soc_pm_ops is not used on those codec drivers.

[2020-11-23 08:13] lyakh commented on #2498
Last Friday same result: no more reproduction, closing this bug as agreed

[2020-11-23 08:25] RuiqingX commented on #2576
I tested ten times and reproduce once，and this issue has no impace on the later tests.

[2020-11-23 10:25] mengdonglin commented on #2571
Let's track the issue in https://github.com/thesofproject/sof/issues/3633 atm

[2020-11-23 12:59] kv2019i commented on #2577
@paulmenzel I have a 9310 and can confirm the digital microphone works with SOF without issues. Can you capture also the kernel config that is used?

It seems this is an issue with kernel probe. All components of the SOF PCI card do not get initialized and we are stuck in
[   11.556552] sof-audio-pci 0000:00:1f.3: ASoC: Parent card not yet available, widget card binding deferred

... this could:

[2020-11-23 14:13] paulmenzel commented on #2577
Thank you for following up on the issue. What distribution and Linux kernel version do you use?

It’s the [Debian Sid/unstable Linux kernel 5.9.6 configuration](https://github.com/thesofproject/linux/files/5583472/config-5.9.0-2-amd64.txt).

That is [commit 163cd1059a (ASoC: hdac: make SOF HDA codec driver probe deterministic)](https://github.com/torvalds/linux/commit/163cd1059a85d225b811ddb4192fa

[2020-11-23 17:47] singalsu commented on #2460
I checked the wav file (thanks for doing the capture). It looks similar to case when no digital microphones connected or not powered.

[2020-11-24 02:59] bardliao opened #2578 "[SDW] Bus clash detected"
Bus clash detected error can be seen on many SoundWire devices on check-suspend-resume-with-playback-25.sh and check-suspend-resume-with-capture-25.sh test  (SOF v1.6.1 release test report ID 828)

Ideally, HW will be recovered from bus clash. But it could also be a sign.  So create a issue to track it.

Recipe:
Kernel: topic/sof-dev 38e180a4
SOF : master 90955de93e8f

Note that ``Bus clash detect

[2020-11-24 04:38] mengdonglin commented on #2578
This issue can also be reproduced in daily test report ID 829, on CML Oly* device, in the same test case check-suspend-resume-with-playback-25.sh.

[2020-11-24 09:12] kv2019i commented on #2577
@paulmenzel I've tested multiple upstream 5.9 kernel versions on Ubuntu, with 5.6 Ubuntu kernel and currently running 5.10-rc1. I've used both SOF FW v1.5 and v1.6, so that should not be the problem.

The kernel config seems ok, so I think https://github.com/torvalds/linux/commit/163cd1059a85d225b811ddb4192fabd1553f77f1
is prime suspect. We haven't received any reports that users would hit this on

[2020-11-24 12:05] paulmenzel commented on #2577
Strange. Thank you for checking.

The line is duplicated. Should it be a different module?

The error/warning still appears:

[code]

I’ll collect that.

[2020-11-24 12:15] paulmenzel opened #2579 "Unloading `snd_sof_pci` hangs"
On a Dell XPS 9310 with Debian sid/unstable and Linux 5.9.6 unloading the module `snd_sof_pci`  the second time hangs.

    $ sudo modprobe -r snd_sof_pci

It looks like it hangs in `snd_card_disconnect_sync()`.

[code]

[2020-11-24 12:51] kv2019i commented on #2577
@paulmenzel wrote:

D'oh, copy'n'paste error, should be:

sudo modprobe -r snd_soc_hdac_hdmi
sudo modprobe -r snd_hda_codec_hdmi

Might be a bit late ask, but if you read this in time, these would be additionally good:

options snd_hda_core dyndbg=+p
options snd_hda_codec dyndbg=+p
options snd_hda_ext_core dyndbg=+p
options snd_hda_codec_hdmi dyndbg=+p
options snd_soc_hdac_hda dyndbg=+p
options sn

[2020-11-24 13:53] paulmenzel commented on #2577
Linux’ log ring buffer was already full, but thankfully the systemd journal stores them too: [output of `journalctl -k`](https://github.com/thesofproject/linux/files/5590270/20201124.debian.linux_5.9.9.journalctl-k.txt).

Note, the updated Debian Linux kernel 5.9.9 is used from now on.

[2020-11-24 14:56] kv2019i commented on #2577
@paulmenzel I think it goes further at least. I think probe now succeeded. I can see PCMs being opened and DSP communication looks ok. Can you confirm output of alsa-info and/or check "aplay -l" now shows the PCM? Was this log with my custom "modprobe sequence" or vanilla Debian boot? I'm asking because at least in this log, bug related to https://github.com/torvalds/linux/commit/163cd1059a85d225b

[2020-11-24 17:05] #2491 closed

[2020-11-25 03:48] mengdonglin opened #2580 "SoundWire: Add IV feedback support for RT1308"
The RT1308 can provide feedback for two speakers. Each speaker is handled by a port, and each port transmits two channels for I and V. This features is to enable IV feedback support for RT1308 in codec driver, topology and FW.

Please find more info of this feature in https://github.com/thesofproject/linux/pull/2514#issuecomment-715131181

[2020-11-25 05:40] mengdonglin commented on #2580
For codec driver, please track #2514 by @shumingfan
For firmware, please track the mux fix https://github.com/thesofproject/sof/pull/3624 by @juimonen . It can fix bug https://github.com/thesofproject/sof/issues/3638 to support this feature.

[2020-11-25 06:02] mengdonglin commented on #2544
Realtek merged multiple mute/volume operation into single mute/volume operation in RT715 codec driver to fit sdca topology. https://github.com/thesofproject/linux/pull/2558

[2020-11-25 06:44] mengdonglin commented on #2552
Not reproduced in daily test on 2020-11-24 UTC+8. Closed

[2020-11-25 08:08] #2494 closed

[2020-11-26 02:11] aiChaoSONG opened #2584 "[BUG][TGL] playback io error on speaker, BE and FE trigger failed"
**Describe the bug**
Do playback on speaker, there will be io error in the terminal,  and below errors in dmesg:
[code]

**To Reproduce**
aplay on speaker

**Reproduction Rate**
100%

**Impact**
speaker playback is impossible

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: { sof-dev 958115aa}
    * SOF: {3c5c7b

[2020-11-26 05:12] aiChaoSONG commented on #2584
Bisect root cause: 05d1d7fcb6b820e8c7f1ceffd75fd5f0a02e293d

For the left and right speaker pin, we already have 'Left' and 'Right' in the pin name, and meanwhile we also have 'Left' and 'Right' in the prefix, so finally we will got a prefixed pin name "Left Left Spk", which will never be found. @shumingfan @plbossart

[2020-11-26 08:11] bardliao commented on #2584
The issue is that we got dapm from codec_dai component which with prefix. The pin name will be "Right Right Spk" and "Left Left Spk" where "Right Spk" and "Left Spk" are the pin name and "Right" and "Left" are the prefixes. However, there is no prefix on the "Right Spk" and "Left Spk" widgets.  To fix the issue, we should get dapm from cpu_dai component. See #2585

[2020-11-26 17:13] brentlu opened #2587 "[FEATURE][TGL] new topology and machine driver for rt1011+rt5682"
Topology: sof-tgl-rt1011-rt5682 based on sof-tgl-max98357a-rt5682
Machine driver: sof_rt5682.c

Pull request:
#2586 for machine driver
https://github.com/thesofproject/sof/pull/3651 for topology

[2020-11-27 14:21] kv2019i commented on #2468
Latest findings point to following:
 - the delay is caused by analogue delay of the display audio receivers (most DP monitors behave like this, tested with e.g. Philips 276E8V),
 - there is a bug in silent-stream feature of snd-hda-codec-hdmi and the delay is seen also when silent streaming is enabled

[2020-11-30 01:47] mengdonglin commented on #2571
Reopen since we also need fix in kernel driver

[2020-11-30 01:50] mengdonglin commented on #2498
@lyakh  Thank you for double check!

[2020-11-30 02:42] mengdonglin commented on #2552
Reopen as this is can be covered by https://github.com/thesofproject/linux/issues/2578. Will revisit this issue after #2578 is fixed.

[2020-11-30 03:02] aiChaoSONG commented on #2579
@paulmenzel Could you please try our scripts here: https://github.com/thesofproject/sof-test/tree/master/tools/kmod?

[2020-11-30 08:31] keyonjie commented on #2571
We have a driver PR aim to address this: #2581

Unfortunately, it can't fix the issue thoroughly, there is still a tricky point to hit the issue: if we perform system reboot at the point that the WoV is switching the DSP from D0 to D0I3(e.g. at around 5 Seconds(+-0.5S) after the WoV is switched on), we can hit this within 10 iterations.

[2020-11-30 09:08] paulmenzel commented on #2577
Great news. Thank you for checking.

Unfortunately, it does not.

    $ aplay -l
    aplay: device_list:274: no soundcards found...

That look was from a vanilla boot with enabled debug options.

Good to know. Too bad, as it is something else.

[2020-11-30 09:16] paulmenzel commented on #2577
[Sorry, my test user wasn’t in the group *audio*.]

[code]

To recap the original problem, the user reported that the *Multichannel Input* device, although displayed, did not record anything.

[2020-11-30 10:07] kv2019i commented on #2577
@paulmenzel Ok, really good that kernel is now ok. As this was with a vanilla Debian boot, I actually wonder what has changed and what triggered the failure to create the sound devices in https://github.com/thesofproject/linux/issues/2577#issuecomment-726894837 . Kernel was changed to 5.9.9, so that's of course one possibility.

For the "Multichannel Input" problem, that sounds a more classical pr

[2020-11-30 10:57] paulmenzel commented on #2577
I am going to look through all the logs this week to find out how often it occurred.

[Output of `journalctl --user -u pulseaudio.service -b`) with PA daemon log level `debug`](https://github.com/thesofproject/linux/files/5615509/pulseaudio-13.99.3-debug.log)

 (Should I create a separate issue for that?)

[2020-11-30 11:04] kv2019i commented on #2577
@paulmenzel Ok, something wrong with the alsa-ucm package?

Nov 30 11:33:11 ortiz pulseaudio[24457]: Unable to find the top-level configuration file '/usr/share/alsa/ucm2/ucm.conf'.
Nov 30 11:33:11 ortiz pulseaudio[24457]: error: failed to import hw:0 use case configuration -2
Nov 30 11:33:11 ortiz pulseaudio[24457]: Unable to find the top-level configuration file '/usr/share/alsa/ucm2/ucm.conf'.

[2020-11-30 11:25] paulmenzel commented on #2577
And it was not installed. After installing it, the user reported, it works now. Thank you very much.

(Re-reading all the issue comment, I am sorry, for dropping the ball, and only checking what version Debian packages and not if it is installed. My fault and should we ever see each other on a conference, I owe you and Pierre-Louis a beverage.)

[2020-11-30 12:02] kv2019i commented on #2577
Ok great! :) And no worries @paulmenzel ! UCM is an old feature of ALSA, but it hasn't really been mandatory for many mainstream hw configs, so we've had lots of integration issues in ALSA, Pulseaudio and in kernel side. It is starting to look better now, but I'm still interested in any problems like the one you reported.

It's a bit suprising the package was not installed. I see Pulseaudio and va

[2020-11-30 12:17] paulmenzel commented on #2577
For example *libasound2-data* recommends *alsa-ucm-conf*. No idea, if this should be made a dependency. Probably not for older systems where it’s needed.

No idea, what a good way forward is.

A start would be to make it an error messages in PulseAudio, so that it shows up in the logs without having the debug level set to `debug`.

[2020-11-30 13:14] singalsu opened #2589 "Test check-kmod-load-unload.sh and check-kmod-load-unload-after-playback.sh fail"
The run of test case

`./check-kmod-load-unload.sh -l 50
`

Fails with error

[code]

Script `check-kmod-load-unload-after-playback.sh` fails the the same error. The platform is BYT Minnowboard Max with sof-byt-nocodec.tplg topology. The tests fail also without repeats (without "-l"). The fresh kernel and FW versions are:

Kernel Branch: topic/sof-dev
Kernel Commit: 47f55b1feaa8
SOF Branch: master

[2020-11-30 15:43] plbossart commented on #2577
PulseAudio should require alsa-ucm-conf, that'd be a better dependency IMHO.

[2020-11-30 15:51] GoPerry commented on #2544
From the patch #2588  the Capture Switch for local mic mute/unmute is "FU02 Capture Switch" ,right ?
I am working on one Dell privacy driver need to be based on the new sdca driver of rt715.

static const struct snd_kcontrol_new rt715_sdca_snd_controls[] = {
	/* Capture switch */
	SOC_DOUBLE_R("FU0A Capture Switch",
		SDW_SDCA_CTL(FUN_MIC_ARRAY, RT715_SDCA_FU_ADC7_27_VOL,
			RT715_SDCA_FU_MUTE_CTR

[2020-11-30 15:58] plbossart commented on #2589
that's a CI issue, I don't know why the platform tries to load the RT5682 driver when they can use the LPEX.asl example.

@aiChaoSONG @xiulipan please fix CI devices and which file is used.

[2020-11-30 16:02] plbossart commented on #2579
@paulmenzel also maybe try with Mark Brown's kernel or the SOF topic/sof-dev branch.
I vaguely recall seeing a problem like this a couple of months ago

[2020-11-30 16:38] singalsu commented on #2589
@plbossart I think it's my fault, I didn't realize. This device used to have a codec board but I removed it to make a wired SSP loopback a while ago when we discussed if channels swap issue would be due to LBM. I should purge the RT5682 .asl install. I wonder if it can be done remotely to office based device without anything but ssh access.

[2020-11-30 16:41] singalsu commented on #2589
Close, this is not a real issue, just wrong usage.

[2020-11-30 16:41] #2589 closed

[2020-11-30 16:58] plbossart commented on #2589
yes, you can ssh into the device, then edit a file (/boot/EFI/.../startup.nsh, see details in the SOF documentation) and replace the existing RT5682 reference by LPEX. make sure the LPEX file is present!

[2020-11-30 17:45] plbossart commented on #2576
We still need to figure out why the trace error message shows up. The trace has no functional impact, but if the trace is broken so is our ability to debug. I don't agree it's a minor error.

[2020-12-01 01:41] jack-cy-yu commented on #2544
@GoPerry Yes, local mute/unmute switch is "FU02 Capture Switch".

[2020-12-01 04:02] starnight opened #2592 "[BUG][TGL] Internal DMIC with SST does not record sound"
We have laptops ASUS B9400CEA and UX482EG which equip with i5-1135G7 and i7-1165G7.  The internal DMIC cannot record any sound.  I tested with mainline kernel 5.10-rc5 and place the firmware as following path:
[code]
These come from ftp://ftp.alsa-project.org/pub/misc/sof/sof-firmware-1.4.2.tar.bz2

[code]
These come from TGL_SOF_FW_prod_signed_v0.6.2_release

System loads module sof-audio-pci as

[2020-12-01 07:12] cooper-chiou commented on #2592
This issue is reported by "Endless OS" team, and their codebase is "latest mainline kernel 5.10.0-rc5" + "TGL Linux SOF v0.6.2 production key signed firmware".

@starnight  please provide the audio HW block design information. And please try "sof-dev" kernel to reproduce issue.

[2020-12-01 07:35] juimonen commented on #2592
@cooper-chiou dmesg shows it should have 4 dmics... so we should have 4 channel stream. Could you do something like
"amixer contents | grep -i dmic -A3", we could see how many channels alsa is giving us. Also you could then try the recording with -C 4 flags. There could be possibly a mismtch between kernel and topology also...

[2020-12-01 07:50] juimonen commented on #2592
@cooper-chiou actually for 4 dmic devices you need this: https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?id=fca18e62984a0d797da8379a422a6bb644d68244

and it is not yet in 5.10.0-rc5

[2020-12-01 08:18] RuiqingX opened #2593 "[BUG][TGL] TGLU_VOLT_SDW has no sound when playback on speaker"
Describe the bug
Do playback on speaker,the speaker has no sound, but "aplay -l" and dmesg have no error, and it had been confirmed that it is not a hardware issue.

[code]
Device
TGLU_VOLT_SDW with sh-tglu-volt-sdw-03

To Reproduce
aplay on speaker

Reproduction Rate
100%

Impact
speaker playback is impossible

Environment
Kernel: { sof-dev 47f55b1f-1}
SOF: {c8ae78ab0e4e-3}
Platform: {Volteer}

[2020-12-01 08:18] RuiqingX opened #2637 "[BUG][TGL] TGLU_VOLT_SDW has no sound when playback on speaker"
**Describe the bug**
On TGL Volteer device, we observed that sometimes there is no sound output through speaker(max98373) while the headset(rt5682) works well after OS boot. After investigation, we found fixed pattern to reproduce the issue:

1. reboot
2. use speaker-test to check if sound comes out from speaker
3. wait DSP to suspend (no operations on device > 6s)
4. repeat step 2 and step 3 seve

[2020-12-01 08:54] starnight commented on #2592
[code]

[2020-12-01 08:59] juimonen commented on #2592
@starnight thanks, so I think what happens here is that dmic is creating 4 dmic device in firmware, but because of the missing kernel patch mentioned above, we try to connect 2-ch stream to 4-ch dmic ->fail. Are you able to try this with sof-kernel or cherry-pick the above mentioned patch? So my suspicion here is that firmware/kernel are not in sync...

[2020-12-01 09:22] juimonen commented on #2592
@starnight sorry, can you still try to record with just:
 arecord -Dhw:0,6 testi.wav -d 3 --dump-hw-params

so you could see what are the params alsa is giving to you? above you are specifying the format as "dat", which might not work...

then you could vary the format like with
 arecord -Dhw:0,6 -r 48000 -f S16_LE -c 4 testi.wav -d 3 --dump-hw-params, if it has 4 channels etc...

[2020-12-01 10:17] starnight commented on #2592
Tried sof-kernel at [commit d1968d3b503 ("fixup! soundwire: use consistent format for Slave devID logs")](https://github.com/thesofproject/linux/commit/d1968d3b5031ca82e230b1c876087a944929cd1e), but seems get same result
[code]

I also upload the building config.  Do I miss some things?
[config.txt](https://github.com/thesofproject/linux/files/5621803/config.txt)
[dmesg.log](https://github.com/the

[2020-12-01 10:23] juimonen commented on #2592
@starnight please remove the "-f dat" from the arecord command line and put also --dump-hw-params

[2020-12-01 10:24] juimonen commented on #2592
@starnight and the "channel" is not capital "-C" but "-c"

[2020-12-01 10:26] juimonen commented on #2592
@starnight so please copy the exact command line from my above comment:
arecord -Dhw:0,6 -r 48000 -f S16_LE -c 4 testi.wav -d 3 --dump-hw-params

[2020-12-01 10:32] starnight commented on #2592
Oops!  Time slips!
Tested again with sof-kernel at [commit d1968d3b503 ("fixup! soundwire: use consistent format for Slave devID logs")](https://github.com/thesofproject/linux/commit/d1968d3b5031ca82e230b1c876087a944929cd1e):
[code]
The DMIC records some sound!

Will cherry pick the commit and test again.

[2020-12-01 10:36] juimonen commented on #2592
@starnight you might not actually even need the patch. The problem was originally that you we're trying to record with hardcoded 2 channel parameters from low level alsa interface (which was 4 channels). The patch is actually helping in controlling the volume of all 4 dmics.

So the 4 channel recording should just work (with correct low level params). If you have pulseaudio and latest ucm config,

[2020-12-01 10:39] juimonen commented on #2592
@starnight so sorry about the hassle, I was somehow mistaking this as some tgl soundwire device, as it seems to be generic hda device. Also I didn't first notice the "-f dat" that you we're using, which means "forcibly record stereo data" -> alsa declines to do that as the device is 4 channels.

[2020-12-01 10:43] starnight commented on #2592
Is the ucm config in https://github.com/alsa-project/alsa-ucm-conf/ ?

[2020-12-01 10:47] juimonen commented on #2592
yes should be. The ucm is used in latest fedoras and ubuntus... and is at least somehow tested for example with lenovo x1 which has 4 dmics

[2020-12-01 13:28] bardliao commented on #2637
@RuiqingX I don't see Speakers on your  "aplay -l" cmd? What is your command to test speaker playback?

[2020-12-01 14:49] plbossart commented on #2592
@cooper-chiou @starnight it's not clear to me why 5.10-rc5 would not work and topic/sof-dev would work, there's been no major changes to dmic apart from the ability to control volumes per channel. It'd be interesting to see if 5.10-rc1 works for you, that would give us an idea if there's a kernel patch missing.

[2020-12-01 14:50] plbossart commented on #2637
Indeed you need to clarify which topology is used. I doesn't look like you have a working setup here.

[2020-12-01 14:55] juimonen commented on #2592
@plbossart it was a misunderstanding, both from reporter and me. 5.10-rc5 will probably work here, I just didn't notice the wrong arecord command line.

If you want the full 4 ch dmic volume control in user space, then you need sof-dev.

[2020-12-02 05:08] marc-hb commented on #2578
@bardliao should the bus clash `ignore_str` filter be removed in `sof-test/tools/sof-kernel-log-check.sh`? See https://github.com/thesofproject/sof-test/pull/529/files

[2020-12-02 05:13] naveen-manohar commented on #2637
Can we know the software recipe & command used to aplay ? Also please help update with dmesg with debug log
Observe Card-2 is enumerated for Speaker.
card 2: sofsoundwire [sof-soundwire], device 2: smart373-spk (*) []

[2020-12-02 05:19] bardliao commented on #2578
Yes, we should not ignore "Bus clash"

[2020-12-02 05:23] bardliao commented on #2637
@RuiqingX Could you test it with SOF version tgl_010 https://github.com/thesofproject/sof/releases/tag/releases%2Ftgl%2Fv10.0 ? We need to know if this is a SOF issue or a kernel issue.

[2020-12-02 05:46] marc-hb commented on #2578
Can you please delete the corresponding 2-3 lines?

[2020-12-02 06:05] RuiqingX commented on #2637
This issue is caused by 11.20 daily firmware.
SOF: {da9e0d3c41ac}

[2020-12-02 06:51] bardliao commented on #2578
Done https://github.com/thesofproject/sof-test/pull/542

[2020-12-02 08:27] juimonen commented on #2592
@starnight should we close this? I think sof is working as supposed to, so you just have 4ch dmic device as you have 4 physical dmics... If you find other issues, you can file new separate bugs.

[2020-12-02 15:12] #2578 closed

[2020-12-02 22:16] memegauste commented on #2485
@plbossart here we go

[code]

This file gist: https://gist.github.com/HoshiYamazaki/bcfb67b0d0d737e5c67ac88945348b3e

[2020-12-02 23:13] plbossart commented on #2485
I have a concern that this device was released with an old Android version for which drivers were never upstreamed.

/sys/bus/acpi/devices/WM510205:00/status 	 15

that points to a WM5102 codec. I am aware of some devices which made use of this codec, but they were never officially supported.

Adding @jwrdegoede in case he's seen this device before.

[2020-12-03 05:57] starnight commented on #2592
Checked the mainline 5.10-rc5.  The sound is recorded by setting 4 channels with `arecord`.

[2020-12-03 05:57] #2592 closed

[2020-12-03 08:15] GoPerry commented on #2544
Hi Jack.
Thanks for your confirm.
I add some debug log in the non-rt715 codec driver **rt715_set_amp_gain_get** of  rt715.c

I am a little confused for "the ADC 07 Capture Switch/ ADC 27 Capture Switch for mute/ unmute"

When system muted.
   * ADC 07 Capture Switch -> On,system local mic should be muted now , but how to set "ADC 27 Capture Switch" ? set it on or off ?
   * How to set the control

[2020-12-03 08:38] GoPerry commented on #2496
Sorry , I have to reopen this thread to resolve some problem i have.
There is a problem need to clarify in the below thread.
Let`s continue to use this thread to avoid some duplicated [effort.]

#2544

@GoPerry Yes, local mute/unmute switch is "FU02 Capture Switch".

Hi  #Jack.
Thanks for your confirm.
I add some debug log in the non-rt715 codec driver rt715_set_amp_gain_get of rt715.c

I am a lit

[2020-12-03 08:50] jwrdegoede commented on #2485
Yes I have seen this device once before, on a Lenovo Yoga Tablet 2 1051F/L.

Looking at the dmesg output:
[    0.000000] DMI: LENOVO 60072/INVALID, BIOS 02WT18WW 08/01/2014

We are indeed dealing with a Lenovo Yoga Tablet 2 series device here too.

There is a codec driver available for the WM5102, but:
1. It needs to have firmware loaded and I have no idea which version of the firmware the Linux d

[2020-12-03 08:55] jack-cy-yu commented on #2544
@GoPerry I am a bit confused about your question, why you want to set both ADC 07 ADC27 Capture Switch at the same time?
In SDCA topology, there is a single capture switch "FU02 Capture Switch" to handle mute/unmute operation, but rt715.c is not for SDCA topology and from my understanding, ADC 07 /27 can be muted seperately which doesn't need to be in single operation.

[2020-12-03 16:46] #2587 closed

[2020-12-03 17:13] plbossart commented on #2544
@jack-cy-yu I think the intent is to deal with mic mute in the same way for TGL-non-SDCA and TGL-SDCA hardware. So if we want to use the UCM CaptureSwitch and CaptureVolume capabilities then we also need a single mixer for mute and volume for rt715

@GoPerry did I get your concern right?

[2020-12-03 17:27] plbossart commented on #2485
It's not necessarily that bad, there is an Android kernel from 2016
https://github.com/lenovo-yt2-dev/android_kernel_lenovo_baytrail/blob/cm-12.1/sound/soc/intel/board/byt_bl_wm5102.c

and there was a submitted upstream https://patchwork.kernel.org/project/alsa-devel/patch/593313f5.3636c80a.50e05.47e9@mx.google.com/

Also I am looking internally within Intel to see if I find anything else.

But ye

[2020-12-03 19:32] plbossart commented on #2485
I fork-lifted the code to compile with v5.10-rcX, see https://github.com/plbossart/sound/tree/fix/byt-wm5102

I'd need the output of 'sudo dmidecode' to add the quirk for BYT-CR detection that was in the initial patches.

[2020-12-04 01:05] jack-cy-yu commented on #2544
@plbossart Should I combine ADC 07/ 08/ 09/ 27 Capture Switch into single control, or I just create another new main capture switch for mute/ unmute ADC 07/ 08/ 09/ 27 Capture Switch? (ADC 07/ 08/ 09/ 27 Capture Volume as well)

[2020-12-04 01:43] plbossart commented on #2544
Tricky question @jack-cy-yu

If we remove existing controls, we take the risk of having PulseAudio complain and no longer work if older UCMs are used with a newer kernel.

But if we add a new 'Master Capture Switch' and the corresponding Volume, we also take the risk of having inconsistencies between controls. I think this option is probably better but we need to be careful not to add more confusi

[2020-12-04 02:19] aiChaoSONG opened #2599 "[TGL][SDW][RT711] Initialization not complete, timed out in suspend-resume test"
**Description**
In daily report 962, several TGL device show below error message  in suspend-resume test case, include TGL_RVP_SDW,  TGLU_ANDR_SDCA and TGL_OLPMLK_RT715 and CML_OLP_RT711
[code]

**Recipe**
Kernel Branch: topic/sof-dev
Kernel Commit:  25012df6
SOF Branch: master
SOF Commit:  cc1cd8a4af1b

[dmesg.txt](https://github.com/thesofproject/linux/files/5640169/dmesg.txt)

Reproduced in:
-

[2020-12-04 02:21] aiChaoSONG commented on #2552
reproduced in daily report 962(12/4/2020 utc+8) https://sof-ci.sh.intel.com/#/result/planresultdetail/962?model=TGLU_ANDR_SDCA&testcase=check-kmod-load-unload-50

[2020-12-04 12:08] lyakh commented on #2498
I think it is the same issue, but maybe it is not. We've had several bugs filed with different IPC fields reading 0xffffffff or 0xff000000 or something similar, this is one of them. Now I came across a failure of https://github.com/thesofproject/sof/pull/3642 on Mantis (again) with no complete dmesg or firmware logs, but the test quotes a single kernel log line:

which means a trace position IPC h

[2020-12-04 16:43] kv2019i commented on #2577
Hmm @plbossart , that would still leave others apps out-of-luck. I think this should really be part of the ALSA driver dependencies in user-space.

[2020-12-04 17:33] plbossart commented on #2599
That's not good... Do we know what has changed since the last case that worked? We haven't seen those issues for weeks, it's surprising that they pop-up again.

@bardliao @RanderWang FYI.

[2020-12-04 17:36] #2584 closed

[2020-12-04 20:05] plbossart commented on #2498
@lyakh The Mantis issue also happened for one of my SoundWire PRs, see https://sof-ci.01.org/linuxpr/PR2601/build4953/devicetest/?model=CML_MANTIS_HDA&testcase=check-kmod-load-unload

[code]

It doesn't look random any longer, I can't recall having see two reports on the same day? This also happens smack while we are doing PM-related IPC...

[2020-12-07 02:06] jason77-wang opened #2605 "[cml][sdw][STRA-P]: The volume of built-in audio output is low as come back from runtime-pm"
On the STRA-P (cml soundwire audio), before runtime suspend, the audio (speaker/headphone)'s output volume is correct, after it enters runtime suspend and runtime resume, the output volume is lower than before for about 1-2 seconds,then it changes back to normal.

This issue could be reproduced with sof-firmware-v1.6 and the kernel branch sof-dev-rebase. This issue could not be reproduced on MLK O

[2020-12-07 02:13] keyonjie commented on #2576
Usually the FW will spam error message (e.g. xrun, no bytes to copy, ...) at critical error happen. @lgirdwood someone is working on limited printing of this in FW?

[2020-12-07 02:55] keyonjie commented on #2576
race at context save IPC (memory window power off) and trace position update IPC handling?

[2020-12-07 03:06] keyonjie commented on #2605
@singalsu is this expected for volume ramping?

[2020-12-07 03:10] xiulipan commented on #2576
I go through all error logs in CI. Most logs goes like this:
[code]
@keyonjie This looks real like a race condition with CTX_SAVE and IPC_RX. Will add more logs to root cause the issue.

[2020-12-07 03:23] keqiaozhang commented on #2637
This issue cannot be reproduced with tgl-011-drop-stable branch.

[2020-12-07 05:28] bardliao opened #2606 "[BUG][SDW][CML] clock stop prepare issue - Speaker cannot work after suspend/resume"
Canonical reported an issue that speaker can't work on CML + dual rt1308 laptop.
The issue happens only once so far.
The error kernel log is
[code]
The issue is that somehow we didn't get ACK from codec and then cause clock stop prepare failed.
The question is that do we have a way to recover from no ack received?

[2020-12-07 05:56] GoPerry commented on #2544
Hi Jack.
Thanks for your reply.
My testing platform is based on TGL system.
I want to control the Mic Mute Leds state with the Local mic switching, when the local mic muted, the rt715 codec driver will help to send a event to BIOS/EC to notify the state change. It is required by Dell hardware design to send that event through some acpi interface.
To notify the mic mute state change to EC, i need t

[2020-12-07 06:17] GoPerry commented on #2544
Hi @plbossart
That is correct!
I add some debug log to the rt715_set_amp_gain_get/rt715_set_amp_gain_put,  when I press the Mic Mute hotkey,Fn+F4, the local mic is muted,but there is no log output from rt715_set_amp_gain_get/rt715_set_amp_gain_put.

Will any kcontrol callback will be called when i switch the mute state ?
PGA5.0 5 Master Capture Switch

I am  completely baffled by this problem, i e

[2020-12-07 09:05] jwrdegoede commented on #2485
@plbossart oh interesting I actually have a Lenovo Yoga Tablet2 1051L in my hardware collection so I can test this. I spend some time on this yesterday. The arizona-spi mfd driver, which instantiates all the sub-devices for the wm5102 codec needed some work to support ACPI bindings and I had to figure out how the GPIOs are mapped from ACPI to the devicetree bindings the code expected.

I have that

[2020-12-07 10:36] jwrdegoede commented on #2485
Note see the last commits here for the arizona-spi MFD driver ACPI binding fixes:
https://github.com/jwrdegoede/linux-sunxi/commits/master

[2020-12-07 12:33] bardliao commented on #2599
I think we should firstly find a easier way to reproduce it. I can only see this issue in run-all-tests.sh. I can't see it if I run ./check-suspend-resume.sh only.

[2020-12-07 15:04] singalsu commented on #2605
@jason77-wang A recording of this issue would be really good to have. Are you able to make such? Acoustical recording is also OK.

[2020-12-07 15:06] singalsu commented on #2605
@keyonjie None of the defined ramps is 1-2s long, though technically it would be possible with wrong made topology.

[2020-12-07 15:58] plbossart commented on #2606
can we have a longer dmesg trace @bardliao ?

What we could do in this case is just to mark the device as not functional, suspend anyways and reset the bus on startup.

But that looks like a corner case for now.

[2020-12-07 16:00] plbossart commented on #2485
You rock @jwrdegoede !

[2020-12-07 16:12] plbossart commented on #2599
@bardliao it's reproduced in other CI tests.
I agree that it's not clear why that happens only when we run multiple tests, but the problem does exist :-)

[2020-12-07 16:17] plbossart commented on #2605
@jason77-wang are you using the same userspace components on both devices? There's really nothing specific to CML or TGL here.

[2020-12-07 16:31] memegauste commented on #2485
@jwrdegoede very nice progress! I was not able to provide support in this weekend because I had studies so I was pretty busy, and I'm not really into compiling kernel via `make` and `make install` on Arch, so I probably would need to build own aur package... Anyway, I'm tracking the issue :) I don't know if running Linux on tablet is great idea, but what someone can achieve out from boredom, ah?

[2020-12-08 01:58] bardliao commented on #2599
@plbossart Yep, my point is that if we want to figure out when did the issue start from, we need a easier way to reproduce it. But you have fixed it by #2603 :)

[2020-12-08 03:33] jason77-wang commented on #2605
@plbossart  yes, same userspace components on both devices.

@singalsu  OK, will record a sound sample, since I don't have this machine, need my colleague in Taipei office to do that.

Thanks.

[2020-12-08 03:42] plbossart commented on #2599
I am not happy though, I'd really want to know what causes this test to fail in the sequence - something must interfere. it's very very odd that the suspend-resume tests work if there is nothing done prior.

[2020-12-08 06:35] WYL-12 commented on #2637
This is a SOF issue, the bisect cause by [8a8e873](https://github.com/thesofproject/sof/commit/8a8e8736a84c7557205c46add31a7577f562915d).

[2020-12-08 07:55] lihow731 commented on #2605
I put the record video in blew link:
[The first sound effect is lower volume](https://drive.google.com/file/d/1AH0ddFXrixzmBpuIK4auyfaY6qPg3sJ3/view?usp=sharing)

[2020-12-08 08:10] phocean commented on #2460
It does have a mic:

https://download.lenovo.com/consumer/mobiles_pub/thinkbook_13s-14s_iwl_hmm_201905.pdf

[2020-12-08 08:40] kv2019i commented on #2561
@RDharageswari Any new findings on this? #2353 is now closed

[2020-12-08 08:43] kv2019i commented on #2573
I'lll take this. This shouldn't be a warning.

[2020-12-08 08:49] kv2019i commented on #2020
@aleksfadini Is this issue still occuring for you? Based on the last updates, the remaining issue is in the codec driver and better handled in ALSA bugtracker/list.

[2020-12-08 08:51] kv2019i commented on #2637
Based on last comments, this is related to FW, not drivers. Moving to firmware.

[2020-12-08 09:04] singalsu commented on #2460
Yep, there's such in the document but no info what type of microphone it is. Has the microphone worked with your device with Windows OS, if it was shipped with it pre-installed? If it would be my device I'd open it and check the mic flex cable is properly in connector but unless familiar with electronics assembly it's a task for service. A similar known working device could be tried with a live-Ub

[2020-12-08 09:22] singalsu commented on #2605
Yes the issue can be heard and seen (below) but please make a recording with a steady sine wave. The key presses are too much away to see the gain envelope. This recording quality is totally sufficient, just different signal.

![Screenshot from 2020-12-08 11-17-25](https://user-images.githubusercontent.com/28754793/101464443-51a28a00-3947-11eb-88c6-de3ae1709a09.png)

[sine.zip](https://github.com/

[2020-12-08 13:21] phocean commented on #2460
I went through the process of creating a Windows USB drive this morning and booting on it.

At first, it missed the sound drivers, but after installing them, it worked flawlessly.

So this is definitely not a hardware issue, but missing support in Linux.

The sound drivers can be found [there](https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/thinkbook-series/thinkbook-13s-iwl/downl

[2020-12-08 14:14] singalsu commented on #2460
Thanks @phocean , good test. @plbossart Do you know if anyone in our team has this device?

[2020-12-08 14:27] singalsu commented on #2460
@phocean Still a stretch and likely stupid question, did you try to capture from hw:0,0 "HDA Analog" ? In my CML NuC the analog microphones in the front panel appear at that device.

Edit: hw:1,0 in your device apparently.

[2020-12-08 15:34] phocean commented on #2460
@singalsu Sorry but I don't know how to test it. As for devices, I only see "sof-hda-dsp".

[2020-12-08 15:45] GoPerry commented on #2496
@bardliao
Hi Bard.
Could you help to take a look where i should add the led trigger callback ?

@plbossart
Is it acceptable if we use the "CaptureSwitch "rt715 ADC 07 Capture Switch"" in the UCM conf file ?
Maybe like below patch?

--- a/ucm2/sof-soundwire/rt715.conf
+++ b/ucm2/sof-soundwire/rt715.conf
@@ -5,10 +5,12 @@ SectionDevice."Mic" {

        EnableSequence [
                cset "name='PG

[2020-12-08 15:46] singalsu commented on #2460
Above shows that you have
[code]

If that's still card number 1 (usually it's 0) the capture line would be:

`arecord -vvv -Dhw:1,0 -f dat -d 10 rec.wav
`
The -vvv gives an ASCII "vu-meter"

[2020-12-08 15:51] GoPerry commented on #2496
@bardliao @libinyang @RanderWang @ranj063 @jack-cy-yu @shumingfan
@juimonen
Could you help to take a look  ?
I am really confused for the "PGA5.0 5 Master Capture Switch" which is not present in the codec driver.
If i can use the "ADC 07 Capture Switch" that has been defined in the codec rt715.c, it will save me lots of time
to continue finding where the patch should add.

Thanks very much!

[2020-12-08 16:12] plbossart commented on #2460
@phocean we are trying to determine where the microphones are connected
- to HDaudio codec (handled by codec driver)
- or directly to the PCH (handled by SOF firmware/driver)

[2020-12-08 16:16] plbossart commented on #2496
@GoPerry it is agreed we don't want to use the PGA controls here.

The open is whether 'ADC 07' is enough. Depending on the microphone connections, it wouldn't work for if 'ADC 27' is required.

That's why I was asking @jack-cy-yu if we can add a new 'Master Capture Switch' and 'Master Capture Volume' that would deal internally with both ADC controls?

[2020-12-08 18:07] ghost commented on #2539
@plbossart All other firmware loads without the need of ME, why does sof require it?
Can't we do anything to load sof firmware with ME disabled? it's bad to have to depend on that

[2020-12-08 18:22] perexg commented on #2539
+1 It looks like a really bad security design to enable audio only when you need to keep running some big unaudited code in CPU.

[2020-12-08 18:46] aleksfadini commented on #2020
@kv2019i Yes, still having the same issues. Would you know how how/where I can report the issues properly?

[2020-12-08 18:50] plbossart opened #2611 "[SDW][RT711] calibration timed out"
During kmod load/unload tests (Intel test 1025), we see this error

[code]
[rt711-calibration-dmesg.txt](https://github.com/thesofproject/linux/files/5661194/rt711-calibration-dmesg.txt)

Opens:
a) is this really an error? the status of rt711_calibration() is not tested by anyone
b) is this really good to use the same function directly and with a workqueue? This code seems suspicious:
[code]
On in

[2020-12-08 18:51] plbossart commented on #2611
@bardliao @shumingfan @RanderWang @jack-cy-yu FYI

[2020-12-08 19:04] plbossart commented on #2539
@ErnyTech that's incorrect, audio/video/vpu need ME authentication.

There's nothing I can do here...
Also I could not get any information on how to detect if the ME authentication is enabled, so I guess I'll have to close this issue - there is no technical solution I am aware of.

[2020-12-08 19:06] plbossart commented on #2020
@aleksfadini you may want to look at https://thesofproject.github.io/latest/getting_started/index.html#debugging-audio-issues-on-intel-platforms

[2020-12-08 19:12] perexg commented on #2539
@plbossart : Could you add a short hint for users to check the ME settings when the firmware fails to load to the kernel log? Something like _DSP firmware cannot be loaded. It may be possible, that the Intel ME (Management Engine) is turned off in BIOS._.

[2020-12-08 19:15] plbossart commented on #2539
@perexg yes, I was thinking of a mention for the ME, as well as a note to install the firmware in the first place.

[2020-12-08 19:21] kv2019i commented on #2020
@aleksfadini Based on comment @danielcherubini made, there was some Arch specific issue with ALSA and/or Pulseaudio and it was resolved by rolling back the versions. Your issue does sound similar as we've already verified that audio works at the kernel/driver level, so this is likely to be a Arch specific issue.

Have you tried a recent Fedora or Ubuntu live image?

[2020-12-08 19:28] ghost commented on #2539
DMC firmware, iwlwifi and ibt loads without problems with me disabled

Is there a difference from sof and vpu?

[2020-12-08 19:57] aleksfadini commented on #2020
@kv2019i I can definitely try that, just to rule out Arch specific issues. Will do.

[2020-12-09 01:23] bardliao commented on #2611
I see below in the dmesg.
[code]
Do we need to use mutex here?

[2020-12-09 01:24] mengdonglin commented on #2576
Increase the priority to P1, as this issue impacts CI report

[2020-12-09 01:31] fredoh9 commented on #2576
Found same problem with TGL while testing check-kmod-load-unload-after-playback.sh.

[2020-12-09 01:40] jack-cy-yu commented on #2496
@plbossart @GoPerry I'll submit a patch for adding 'Master Capture Switch' and 'Master Capture Volume' later.

[2020-12-09 02:41] shumingfan commented on #2611
@plbossart @bardliao  I just want to save time for system boot, so I use the schedule_work() for the first time.
If the driver re-do the io_init after the system resumes, I want to make sure the calibration is done before the playback/capture operations.

I think this issue could be caused by the power state of the codec. The power state was changed to D3 in the put function of kcontrol.
Could you

[2020-12-09 03:33] mengdonglin commented on #2552
@aiChaoSONG @plbossart can we close this issue? PR #2563 was merged.

[2020-12-09 06:22] xiulipan commented on #2576
Ha, while I am trying to increase reproduce rate of this issue, I also find logs like this

[code]

Not it make all sense, the race condition can also end in **0xFFFFFFFF IPC HDR** with IPC RX handler, So I think this issue is another format https://github.com/thesofproject/linux/issues/2458
@plbossart @keyonjie @ranj063 @fredoh9 I think we may need to refine our PM logic to block IPC RX when send

[2020-12-09 09:15] phocean commented on #2460
Ok, thanks.

The result is that it gets no sound at all with the internal mic, but it would record normally with a headset plugged.

And with value 0, it says "invalid value for card".

[2020-12-09 09:34] jack-cy-yu commented on #2496
@GoPerry Patch has been submitted, please refer #2615 .

[2020-12-09 09:52] singalsu commented on #2460
I think we need this device or find out otherwise (contact Lenovo) if the microphone clock or power connections differ from usual. If you are still OK to test more, please try to copy sof-hda-generic-4ch.tplg over sof-hda-generic-2ch.tplg and sof-hda-generic-1ch.tplg. Make backup of of those files to restore or reinstall the SOF binaries after test. Also kill of pulseaudio and temporary rename to

[2020-12-09 09:59] singalsu commented on #2460
Also, is there a microphone mute function key in the device (F4 in my ThinkPad). Try to toggle it while recording.

[2020-12-09 11:14] lgirdwood commented on #2637
@WYL-12 I dont think https://github.com/thesofproject/sof/commit/8a8e8736a84c7557205c46add31a7577f562915d is correct, it's a commit for IMX topology. The issue may not be 100% reproducible ?

[2020-12-09 13:14] kv2019i commented on #2579
@paulmenzel Hmm. I compiled v5.9.6 from the stable git and tested this on XPS 9310 and no hang seen. Is this a Debian build of 5.9.6 or any other factors that could explain the difference?

This could be explained by some user-space process (pulseaudio, or some volume applet) holding on to ALSA file handle. snd_card_disconnect_sync() function in the backtrace specifically blocks until the file han

[2020-12-09 13:43] singalsu commented on #2460
Also into list of faint ideas to try, with the 4ch topology. Try to start camera with e.g. application "Cheese". If the microphone would share the power with camera.

[2020-12-10 01:36] xiulipan commented on #2576
debug patch attached, this will make more trace logs when DSP is handling CTX_SAVE
[code]

[2020-12-10 07:19] starnight opened #2617 "[BUG][TGL] Headset audio does not work if SOF and alsa-ucm-conf are applied"
We have laptops ASUS B9400CEA and UX482EG which equip with i5-1135G7 and i7-1165G7.  Tested them with mainline kernel 5.10.0-rc7.  The headset audio works fine with legacy HDA audio driver which includes the [commit eeacd80fcb29 ("ALSA: hda/realtek: Enable headset of ASUS UX482EG & B9400CEA with ALC294")](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/sound/pci/hda/patch

[2020-12-10 08:15] xiulipan commented on #2576
@plbossart @lgirdwood @ranj063 @mwasko The detailed schedule:
![image](https://user-images.githubusercontent.com/37825714/102192300-8ee1bb80-3ef5-11eb-92fa-2360843513fc.png)

To fix the race condition, we have 2 options
1. HOST side: Disable IPC RX after IPC CTX_SAVE sent (we may need to refine our PM status management
2. DSP side: Disable IPC_MSG_SEND after receive IRQ of IPC CTX_SAVE (move IPC C

[2020-12-10 19:13] plbossart opened #2619 "[SDW] race condition on link power down (bus clash + parity)"
Intel internal test 1111 generates the following trace:

[code]

Something's not adding up here, we disable the SoundWire interrupts before powering down, so we are missing something clearly.

[2020-12-10 19:49] plbossart opened #2621 "[SDW] clock stop prepare failed: -61"
Intel internal test shows this:

[code]

[dmesg_rt715_clock_stop_error.txt](https://github.com/thesofproject/linux/files/5675265/dmesg_rt715_clock_stop_error.txt)

@jack-cy-yu do you see any control value or writes that would cause the device to reply COMMAND_IGNORED?

[2020-12-11 02:04] mengdonglin commented on #2619
This issue is observed on TGL-U RVP with ALC711 and 2 ALC1308 in SoundWire Mode.
Failed case: check-suspend-resume-with-capture-25.sh

Test recipe:
Kernel Branch: topic/sof-dev
Kernel Commit: f882aba5 + Kernel PR: #2618 ([HACK] acpi: bus: check dev_name instead of pointer)
SOF Branch: master
SOF Commit: 9e0a56074674

[2020-12-11 06:20] jack-cy-yu commented on #2621
Most registers in log are related to widget's properties, the only one I suspect is "3501 <= xxxx" operation, it's a audio power state control, not sure if the COMMAND_IGNORED is caused by this? But I reviewed previous log, the same operation didn't cause the COMMAND_IGNORED response.

[2020-12-11 07:47] mengdonglin commented on #2544
@libinyang Here is Realtek's patch for ASoC: rt715: add main capture switch and main capture volume control (https://github.com/thesofproject/linux/pull/2615), not merged yet.

[2020-12-11 07:51] kv2019i commented on #2468
Bug closed with following patch merged upstream:

b1a5039759cb7bfcb2157f28604dbda0bca58598 ALSA: hda/hdmi: fix silent stream for first playback to DP
Link: https://lore.kernel.org/r/20201210174445.3134104-1-kai.vehmanen@linux.intel.com

To avoid the problem, one will need the above patch _and_ enable silent-streaming for snd-hda-codec-hdmi:

/etc/modprobe.d/alsa-base.conf:
[code]

[2020-12-11 07:51] #2468 closed

[2020-12-11 13:18] plbossart opened #2627 "[SDW] rt711-sdca: timeout on INT1 and INT2 mask write"
Intel internal test 1122 shows the following errors w/ rt711-sdca. There's obviously something wrong with SDCA interrupts.

[code]

https://github.com/thesofproject/linux/pull/2622 suggests a first pass to revisit on SDCA interrupt handling.

[2020-12-11 13:26] plbossart opened #2628 "[SDW] Null pointer dereference in kmod load-unload tests"
Local tests on Volteer with https://github.com/thesofproject/linux/pull/2623

[code]

[dmesg.txt](https://github.com/thesofproject/linux/files/5679339/dmesg.txt)

[2020-12-11 13:41] plbossart commented on #2611
https://github.com/thesofproject/linux/pull/2626

[2020-12-11 13:45] plbossart commented on #2621
@jack-cy-yu in theory the power controls should have no impact on the SoundWire interface, and a COMMAND_IGNORED can only be generated if the device is not synchronized or if the register does not exist.
The SoundWire spec says there should be no link between device state and replies to command, i.e. COMMAND_IGNORED can only be used to describe what happened on the bus and register access, not to

[2020-12-11 13:49] plbossart commented on #2552
closing, the timeouts reported in https://github.com/thesofproject/linux/issues/2552#issuecomment-738515455 are a separate issue tracked in https://github.com/thesofproject/linux/issues/2627

[2020-12-11 13:49] #2552 closed

[2020-12-11 13:53] plbossart commented on #2534
Fixed by https://github.com/thesofproject/linux/pull/2567

[2020-12-11 13:53] #2534 closed

[2020-12-11 13:54] plbossart commented on #2510
@bardliao I think this issue with volatile registers is fixed so I'll close. If you disagree please reopen.

[2020-12-11 13:54] #2510 closed

[2020-12-11 14:02] phocean commented on #2460
Should I reboot after overwriting the firmware files ?

I didn't and nothing changes after following all your suggestions: still no capture except the high pitch noise at the begining.

[2020-12-11 14:09] paulstelian97 commented on #2460
The other way is to rmmod and insmod SOF so that it loads the new files instead of the old ones. But yes, the simplest way is rebooting.

[2020-12-11 14:52] plbossart opened #2629 "[SDW] timeouts with RT711 (non-SDCA) registers - jack init disable issue?"
Intel internal daily tests 1118 shows the following errors

[code]

Unclear if it's related to the calibration issues? @bardliao @shumingfan  FYI

[2020-12-11 14:59] plbossart commented on #2621
Same error reported w/ RT1316 in Intel internal test 1118

cmd: TPLG=sof-tgl-rt711-rt1316-rt714.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 15 -m playback

[code]

The only think I see is that there was an interrupt generated, not sure what for.

[2020-12-11 15:40] shumingfan commented on #2629
@plbossart Do you have the whole log?
Is it the disabled jack detection case?

[2020-12-11 15:41] phocean commented on #2460
Ok, it works that way !

Normally, I would get:

[code]

It would start with only 2 channels but recording no sound:

[code]

After overwriting the files, it works flawlessly.

What does it mean ? Can I do something to keep this configuration to work ?

[2020-12-11 15:58] plbossart commented on #2629
Here's the log. that's for a kmod load/unload test on TGL RVP with the topic/sof-dev branch
cmd: TPLG=sof-tgl-rt711-rt1308-4ch.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 50

[dmesg.txt](https://github.com/thesofproject/linux/files/5680168/dmesg.txt)

It doesn't contain the dynamic debug traces for rt711 so it's of limited use.
@bardliao @fredoh9 what does it take to add rt711 informati

[2020-12-11 19:16] plbossart commented on #2533
Reproduced w/ topic/sof-dev + timeout fixes:

[code]

A parity check will typically miss 50% of the cases. Here we have two separate devices who report the parity issue at the same time, this is statistically strongly correlated and does not appear random.

The problem did not appear in a test repetition, so it's not 100% reproducible. Will add more traces and keep checking.

@fredoh9 @RanderWang

[2020-12-12 19:52] kyonifer opened #2631 "Speaker misconfigured on Spectre x360 (Tiger Lake)"
Apologies in advance if this is the wrong tracker to open this ticket in, I wasn't sure which subsystem was ultimately responsible.

I'm running Fedora 33 on a Spectre x360 (full alsa-info system description [here](https://github.com/thesofproject/linux/files/5683641/alsa-info.txt)). From the log we see it configures by default to:

[code]

Speaker and microphone both show up as devices in pulse a

[2020-12-13 12:24] paulstelian97 commented on #2460
I think you can mark the linux-firmware package on hold until the next release of the firmware is out and ready.

[2020-12-14 02:09] shumingfan commented on #2629
@plbossart I checked the dmesg.txt, but I'm not sure the root cause for now.
I suspect that the timing of the DSP core going to suspend mode and the jack init disable is too close.
Is it possible that the DSP core suspended/disabled already?

[2020-12-14 03:22] libinyang commented on #2544
@GoPerry

Currently we are using PGA5 to control the mute/volume. This means when you press hotkey to mute MIC, it won't trigger rt715's codec, instead, it will trigger PGA5 mute and PGA5 mute code will be called.

As @mengdonglin mentioned, the https://github.com/thesofproject/linux/pull/2615 is submitted. After this patch is merged, we can change the UCM as Pierre mentioned in https://github.com

[2020-12-14 06:55] WYL-12 commented on #2522
This issue reproduce on 12-14-2020 daily report.
Case detail:
https://sof-ci.sh.intel.com/#/result/planresultdetail/1151?model=TGLU_RVP_SDW&testcase=check-suspend-resume-50
[code]
https://sof-ci.sh.intel.com/#/result/planresultdetail/1151?model=TGLU_SKU0A32_SDCA&testcase=check-suspend-resume-50
[code]

[2020-12-14 07:02] bardliao commented on #2522
@WYL-12 This issue is for max98373 and we trace `rt711 Initialization not complete, timed out` issue on https://github.com/thesofproject/linux/issues/2599. Your log is rt711 so close this one.

[2020-12-14 07:02] #2522 closed

[2020-12-14 07:36] RanderWang commented on #2533
@plbossart  yes,  I could always reproduce it with check-suspend-resume-with-audio.sh without any parameters. I didn't try -m options.

[2020-12-14 07:36] shumingfan commented on #2629
I feel this issue is the same as https://github.com/thesofproject/linux/issues/2627.

[2020-12-14 08:22] starnight commented on #2617
This still can be reproduced after upgraded alsa-lib, alsa-utils, alsa-ucm-conf and alsa-topology-conf to version **1.2.4** with Linux mainline kernel 5.10.0.

[2020-12-14 08:32] starnight commented on #2592
After upgraded alsa-lib, alsa-utils, alsa-ucm-conf and alsa-topology-conf to version **1.2.4**, the internal DMIC works.  But, system hits issue #2617

[2020-12-14 08:32] phocean commented on #2460
@paulstelian97 No, because even if the microphone works, everything else (speakers) is broken. What are these files and what kind of hack can I do to have both the mic and the speakers to work?

[2020-12-14 08:44] mengdonglin commented on #2611
@plbossart @bardliao Can we close this issue as #2626 got merged?

[2020-12-14 09:15] mengdonglin commented on #2606
@bardliao @plbossart It seems this issue can be reproduced with SDCA codec ALC1316 on TGL-U laptop device. Please check CI report 1118 on 2020-12-10 (UTC). Failed case: check-suspend-resume-with-playback-25.sh

dmesg
[code]

[2020-12-14 09:21] starnight commented on #2617
Found this can be fixed by upgrading PulseAudio to `v14.0`.

[2020-12-14 09:21] #2617 closed

[2020-12-14 09:22] mengdonglin commented on #2606
@plbossart @bardliao Can we take this issue as a duplicate of #2621 ?

[2020-12-14 09:59] mengdonglin opened #2632 "[TGL][SDW] intel-sdw intel-sdw.0: SCP Msg trf timed out when unloading the driver"
Observed in CI daily test 1145 on 2020-12-12.

Failed case:
check-kmod-load-unload-50.sh

Platform: TGL-U laptop with SDCA codecs

Test recipe:
Kernel Branch: topic/sof-dev, Kernel Commit: f882aba5
SOF Branch: master, SOF Commit: fc9b89ad8b30

dmesg
[code]

[2020-12-14 10:04] mengdonglin commented on #2632
We didn't observe this issue in daily test before or after 2020-12-12, in report 1118, 1139 or 1151.

[2020-12-14 10:10] bardliao commented on #2611
Let's check the test result for few more days. We can close the issue if we don't see it in our daily test.

[2020-12-14 10:16] mengdonglin commented on #2619
@plbossart @bardliao Maybe this issue only happens with PR #2618 ? This issue is not observed in CI daily test from 12/10-12/13, (report ID 131118, 1139, 1145,1151). Lower the priority.

[2020-12-14 11:53] mengdonglin commented on #2544
@libinyang Thank you! PR #2615 has been merged by sof-dev kernel. And your UCM update [rt715: init: setup ADC07 to a proper volume] https://github.com/alsa-project/alsa-ucm-conf/pull/65/ has been merged by upstream 👍

[2020-12-14 15:29] plbossart commented on #2631
Thanks @kyonifer for the report. Our goals were to share the same HDAudio code between legacy and SOF drivers, if you see a case where the HDaudio legacy driver works and the SOF driver doesn't, it's a bug.

That said I personally know very little about retasking. The patch mechanism should work, I have no clue why the parameter has no effect. @kv2019i @tiwai FYI.

[2020-12-14 15:36] tiwai commented on #2631
The bug with HD-audio reconfig is already known and very recently addressed.  But I haven't tested it with SOF, so something might be broken.

Speaking of the patch option: I'm afraid that it's actually missing in sof-hda.  sof-hda provides hda_model option, but not the one equivalent with patch option of snd-hda-intel.

[2020-12-14 15:40] plbossart commented on #2629
@shumingfan this happens with the regular RT711, not the SDCA version. I updated the description to make it clearer.

[2020-12-14 15:43] plbossart commented on #2592
@starnight upgrading PulseAudio seems to solve #2617 so is there still an issue here?

[2020-12-14 15:46] plbossart commented on #2606
@mengdonglin please keep issues separate. it's not useful if we have the same bugs for CML+SoundWire 1.1 devices and TGL+SDCA. We don't know if the issues are the same or not. For now let's have a different bug for each sighting, thank you.

[2020-12-14 15:49] plbossart commented on #2522
@WYL-12 the correct bug report would be https://github.com/thesofproject/linux/issues/2599

[2020-12-14 18:50] kv2019i commented on #2631
@tiwai @plbossart Indeed SOF is missing patch support. I've been tracking it in https://github.com/thesofproject/linux/issues/990 that tracks remaining delta and cleanup items in SOF's HDA support and "patch" is one of the missing one. So far we've not needed this on any platform where DSP, but here seems to be a genuine case.

[2020-12-14 19:46] kyonifer commented on #2631
Thanks for the help from all.

Not sure if there is another component that would need to be updated to incorporate the fix, but it still hangs for me on kernel 5.10.0.

Thanks for pointing me in this direction-- I managed to find another model that was compatible and enable both the microphone and speakers under SOF.

For posterity in case someone else with this model comes across this: `options s

[2020-12-14 19:46] #2631 closed

[2020-12-15 02:34] keyonjie commented on #2544
Libin will submit SDCA UCM files to upstream once it is finalized (need #2615 merged in upstream).

[2020-12-15 02:55] keyonjie commented on #2637
@aiChaoSONG  can you help to double check the bisect result?

[2020-12-15 03:02] keyonjie commented on #2599
lower priority to P2 as it is not a usual end user scenario with kmod remove/install.

[2020-12-15 03:05] keyonjie commented on #2605
@aiChaoSONG @WYL-12 can you help to reproduce this?

[2020-12-15 05:34] libinyang opened #2633 "[ADL-S] [SDW] failed to runtime suspend"
The /sys/devices/pci0000\:00/0000\:00\:1f.3/power/runtime_status always shows "active".

Nothing wrong is showed in dmesg.

[2020-12-15 06:03] bardliao commented on #2599
This only happens after https://github.com/thesofproject/linux/commit/d5dcce0c414fcbfe4c2037b66ac69ea5f9b3f75cand https://github.com/thesofproject/linux/commit/99aed9227073fb34ce2880cbc7063e04185a65e1 and two iterations of kmod test.

[2020-12-15 09:40] starnight commented on #2592
No!  It is fine here now.  Thanks!

[2020-12-15 10:00] tiwai commented on #2631
Note that the fix for hd-audio reconfig was done in the last week, and it's not included in 5.10.
There are two patches: one in driver core and another in HD-audio side.  Those should be included in 5.11-rc1 and backported later to stable trees.

[2020-12-15 10:34] aiChaoSONG commented on #2605
@jason77-wang @lihow731 I test this issue with sof-firmware-v1.6 and the sof kernel sof-dev-rebase-20201201 with `speaker-test -Dhw:0,2 -t wav -c 2`, I can hear that the `fron` in front-left is a little bit low, but from the t sound in front, the volume go back to normal. after checking the waveform of front-left.wav, I find that the `fron` duration is about 0.2s, so I think this is a normal fade-

[2020-12-15 16:06] plbossart commented on #2599
No. This breaks our CI and needs to be fixed as P1. no exceptions, sorry. You are sending a really bad message here.

[2020-12-15 16:25] plbossart commented on #2633
@libinyang there's nothing we can do with such reports. Closing. Please add a new report with dmesg logs w/ dynamic debug.

[2020-12-15 16:25] #2633 closed

[2020-12-16 00:14] plbossart commented on #2632
This is interesting because there is a first timeout while writing to address 0xa035 before the known timeout with address 0x5c and 0x5d (SDCA INT_MASK) that's tracked in https://github.com/thesofproject/linux/issues/2627

@bardliao @shumingfan FYI

[2020-12-16 00:19] plbossart commented on #2577
@kv2019i what other apps? I am not aware of any other application using UCM, only PulseAudio and CRAS use it today.

[2020-12-16 00:22] plbossart commented on #2544
@keyonjie there's no relationship between #2615 and SCDA. For SDCA we use a well-defined FU (Feature Unit). The problem is with non-SDCA RT715, for which we do need #2615, which Jaroslav objected to.

To be clear, we have zero dependencies for SDCA devices, we can fix the UCM file without any kernel change

[2020-12-16 00:23] plbossart commented on #2533
Thanks for sharing this info @RanderWang, that will help narrow the tests.

[2020-12-16 02:34] WYL-12 opened #2636 "[Bug][TGL] Failed to enable software/hardware MII access on suspend resume playback test."
In daily test report 1199 on TGLH RVP HDA, below error observed in suspend resume playback test:

Error message:
[code]
Recipe:
Kernel: topic/sof-dev 71ae5193
SOF : master 8d277b5b159e
TPLG: sof-hda-generic-4ch.tplg
Platform: TGLU_RVP_HDA
[12-16_dmesg.txt](https://github.com/thesofproject/linux/files/5699961/12-16_dmesg.txt)

[2020-12-16 03:54] keyonjie commented on #2544
Thanks for clarification @plbossart , I have 0 knowledge about SDW and SDCA.

So we need to wait for the acceptance of #2615 and then upstream the UCM file, before we can close this issue here, right?

[2020-12-16 06:51] aiChaoSONG commented on #2637
To reproduce this issue, use below procedures:
1. reboot
2. use speaker-test to check if  sound comes out from speaker
3. wait DSP to suspend
4. repeat step 2 and step 3 several times (better > 10)

Note: speaker always works well after kmod reload.

These will be no sound through Speaker(max98373) after several runtime PM, once there is no sound over Speaker, check headset(rt5682), there is sound

[2020-12-16 11:16] kv2019i commented on #2577
@plbossart OK, a fair point. :) But that's more of an adoption issue. Other apps should be using UCM, and with more and more cards coming where UCM is critical to actually get sound out, this becomes more pressing. If UCM only gets installed via pulseuaudio, this will not help in adoption as it suggests this is something only audio servers use.

@perexg How do you handle this in Fedora? I.e. how i

[2020-12-16 11:52] perexg commented on #2577
It's in the multimedia group together with pulseaudio so both are tied together for the installation (not packaging). We also think to add strong alsa-lib dependency on the alsa-ucm-conf (packaging), because it seems that we need this also for some USB and HDA hardware (not only SOF related) and the recent UCM changes (BootSequence) replaces the legacy soundcard initialization.

[2020-12-16 12:32] singalsu commented on #2460
The topology overwrite should not impact playback. There's difference only in DMIC configuration in those topologies. Did you disable pulseaudio by renaming it? Then renaming (back to /usr/bin/pulseaudio and reboot) should bring you back the speakers.

Since this helped it looks like in your device the microphones are clocked via channels 3-4 HW. Are there any DMIC pins related settings in the BIO

[2020-12-17 00:47] plbossart commented on #2533
I was able to reproduce the issue with a much simpler test:

[code]

I am not even sure the kmod test is needed.

With additional traces, the parity error can be shown as happening exactly at the same time as the bus clash errors we chose to ignore a couple of weeks ago.

[dmesg3.txt](https://github.com/thesofproject/linux/files/5706274/dmesg3.txt)

At this point, it seems the devices don't seem t

[2020-12-17 01:36] bardliao commented on #2627
I can easily see the issue with the [test_sdca_int.txt](https://github.com/thesofproject/linux/files/5706438/test_sdca_int.txt) script

[2020-12-17 03:00] libinyang commented on #2544
@keyonjie #2615 is not for SDCA codec. I didn't submit the SDCA UCM patches because I'm waiting @GoPerry 's answer whether we will have similar change in SDCA driver. @GoPerry Could you confirm?

[2020-12-17 03:19] bardliao commented on #2627
The issue happens if regmap_cache_only is N when soc component is removed.
The call trace is:
[code]
The problem is that `rt711_sdca_jack_init` is called when sdw bus is suspended and we should not try to access sdw register at that moment.
https://github.com/thesofproject/linux/issues/2629 has same root cause, too. The reason why #2627 has higher reproduce rate is  that we set [regcache_cache_onl

[2020-12-17 08:12] bardliao commented on #2611
Not reproduce in recent test report.

[2020-12-17 08:12] #2611 closed

[2020-12-17 08:21] phocean commented on #2460
Of course, I set pulseaudio back. I really loose the sound after the operation. Pulseaudio does not find any device and set a virtual device.

Regarding the PINS, there isn't such a setting in the BIOS (which is very similar to Thinkpad BIOS).

[2020-12-17 08:31] bardliao opened #2644 "[rt715] [SDW] rt715 sdw:3:25d:715:0: Initialization not complete, timed out on multiple-pause-resume-25 test"
Kernel Branch: topic/sof-dev
Kernel Commit: 3ad56db9 + #2635
SOF Branch: master
SOF Commit: fc9b89ad8b30

On Intel internal test 1198,  on CML platform we see below error with multiple-pause-resume-25.sh test.
[code]

The issue seems to happen rarely, but it is still worth to create an issue to trace it.

[dmesg.txt](https://github.com/thesofproject/linux/files/5707953/dmesg.txt)

[2020-12-17 09:07] singalsu commented on #2460
@juimonen Do you know if pulseaudio version used can somehow break (speakers) from mic channels count increased from 2 to 4?

[2020-12-17 09:24] juimonen commented on #2460
@phocean can you attach here a recording from the arecord (with some audio to the mics) so we could see what channels get occupied? Also pulseaudio starting log would be good.

[2020-12-17 23:40] marc-hb commented on #2599
@bardliao can you submit to sof-test a test change or test parameter/configuration that reproduces more easily? It doesn't have to be in CI if it takes long but it should be at least in nightly tests.

Reverting fixes locally is required to "test the test". If the reverts are too complicated then backtracking is another option.

[2020-12-18 16:06] plbossart commented on #2533
Potential fix here: https://github.com/thesofproject/linux/pull/2645

Additional tests do confirm that the parity error is correlated with a bus clash error, the suggestion is to ignore both with a parity quirk at the master level.

[2020-12-18 18:48] perexg opened #2646 "5.10 code - race in the HDA codec probe when SOF probe fails (no video driver bound)"
We have got the oops bellow on the Tigerlake machine with the current 5.10 code when the video driver is not bound for a reason. It seems that the hdac_ext_link structure is corrupted (late access?) on probe or so. Any idea?

[code]

[2020-12-18 18:56] kv2019i opened #2647 "Warning emitted if FW revision is newer than what kernel knows about"
Latest sof-dev (03b55f5be6ed) with FW version SOF1.6 emits following warnings:

[24943.815895] sof-audio-pci 0000:00:1f.3: Firmware: ABI 3:18:1 Kernel ABI 3:18:0
[24943.815896] sof-audio-pci 0000:00:1f.3: warn: FW ABI is more recent than kernel

If CONFIG_SND_SOC_SOF_STRICT_ABI_CHECKS=y FW load will fail..

As only PATCH version is changed, a warning should not be emitted. Following ABI semantics,

[2020-12-18 19:11] kv2019i commented on #2573
I looked at this today. The message is harmless, but now with TGL and newer having a lot more pins, this uncovers a design issue in the way we plug SOF into patch_hdmi.c. I didn't notice this back when doing the original version as the pin count back then was same as converter count, but that no longer holds with TGL and newer.

I double-checked this today and this has no functional impact. So con

[2020-12-21 01:16] keyonjie commented on #2571
the PR #2600 will fix this issue also. @ranj063 FYI.

[2020-12-21 01:24] keyonjie commented on #2579
lower the priority to P3 as there is no response for more than 20 days and none of us can reproduce it.

[2020-12-21 01:39] keyonjie commented on #2599
Thanks for your feedback @plbossart . That was the decision from the bug scrub meeting. FWIW, I have no objection to mark it P1 since Bard and you who actually works on it agree. :)

[2020-12-21 01:41] keyonjie commented on #2599
assign it to @bardliao who actually already work on it.

[2020-12-21 02:01] shumingfan commented on #2611
The patch was merged to the for-next branch.
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?id=6108f990c0887d3e8f1db2d13c7012e40a061f28

[2020-12-21 02:16] keyonjie commented on #2646
Thanks for reporting @perexg This looks a valid issue which I actually saw randomly on TGL platform.
@kv2019i any comments on this?

[2020-12-21 02:49] keyonjie commented on #2599
will PR fix this issue: https://github.com/thesofproject/linux/pull/2635

[2020-12-21 02:54] keyonjie commented on #2605
@jason77-wang @lihow731 can you confirm the volume ramping time is actually only around 0.2s? if so, this is expected.

[2020-12-21 07:33] jack-cy-yu commented on #2621
Are there detail steps to duplicate this issue? I got a test device from Compal, and I can try the same steps to duplicate issue on my side.

[2020-12-21 08:08] paulmenzel commented on #2579
Could such a case be detected, and something similar to *module still in use* be printed?

Regarding testing, the device is already in use by a user, so I do not (often) have access. Feel free to close it.

[2020-12-21 09:23] lyakh commented on #2576
Thanks for a thorough analysis! This seems to be the same problem as #2498 and might also be related to #2334

[2020-12-21 09:32] libinyang commented on #2633
This bug is fixed. The root cause is the rt711 onboard in hda mode is probed. And the sof is in SDW mode, which will cause the use count isn't back to 0. This will cause audio driver alwasy being active. After disabling HDA mode in BIOS, this bug is fixed.

[2020-12-21 09:45] singalsu commented on #2605
The token SOF_TKN_VOLUME_RAMP_STEP_MS is set to 20 for 20 ms long ram in playback topologies. If the ramp is 0.2s it's too long. The continues sine wave recording is needed to check the ramp characteristic.

[2020-12-21 10:47] jwrdegoede commented on #2485
Ok, so a quick update on this, soon after my last update here I got the speakers to work. But I could not get the headphones output to work at all. I spend like 3 full days on this. Then I switched to another project for a bit and took another shot yesterday. Still nothing. So then I decided to install Windows and see if that would give any clues (or if e.g. things would work after a reboot from W

[2020-12-21 10:48] jwrdegoede commented on #2485
p.s. Can someone change the title of this issue to something like this:

"RFE: Add BYT + WM5102 codec support to the kernel"

[2020-12-21 10:50] singalsu commented on #2605
If you don't have a sine wave clip, please use this:

[sine_997hz_6db_10s_mono_16b.wav.gz](https://github.com/thesofproject/linux/files/5723887/sine_997hz_6db_10s_mono_16b.wav.gz)

[2020-12-21 11:16] kv2019i commented on #2646
I'll take a look at this. The following -ENOENT case is a good hint:
[  111.609641] sof-audio-pci 0000:00:1f.3: codec #2 probe error, ret: -2

I think this is related to "ASoC: SOF: fix a runtime pm issue in SOF when HDMI codec doesn't work". The patch addresses a problem where we do not clean up the hdac device after error and this blocks runtime-pm. But in this case, the cleanup is done too earl

[2020-12-21 19:09] kv2019i commented on #2646
I have a tentative fix, but it needs some more testing before ready for submission. I was tempted to clean up some of the related code, but for stable we're probably better off with a more clean and smaller fix.

[2020-12-22 02:08] mengdonglin commented on #2644
This issue seems to be random and not caused by PR #2635. It is not observed in CI daily report 1165 (before https://github.com/thesofproject/linux/pull/2635 was merged) and 1305 (after https://github.com/thesofproject/linux/pull/2635 was merged).

This case only failed twice since 2020-12-11

[2020-12-22 02:14] mengdonglin commented on #2599
Closing as PR #2635 was merged.

[2020-12-22 02:37] mengdonglin commented on #2627
Fixed by PR https://github.com/thesofproject/linux/pull/2640 and merged. No reproduced in recent daily test. Closing.

[2020-12-22 02:37] #2627 closed

[2020-12-22 02:38] mengdonglin commented on #2628
Cannot reproduced by @bardliao

[2020-12-22 05:24] bardliao commented on #2629
This is fixed by #2640

[2020-12-22 05:24] #2629 closed

[2020-12-22 06:30] naveen-manohar opened #2649 "TGL: RT5682-SDW: "soundwire sdw-master-0: Update Slave status failed:-19" error seen during S0ix cycles."
Following issue is observed during PM stress testing on SoF_TGL_009 recipe on Volteer SDW SKU.
I’m still waiting for results from validation team on new BKC with Debug Flag & Delay during codec init similar to i2c_probe. Sending the info. that I have got till now.
NOTE: snd-soc-rt5682-i2c was never probed/loaded.

What steps will reproduce the problem?
1. Boot the Chromebook and login to user
2. g

[2020-12-22 06:42] bardliao commented on #2649
@shumingfan @oder-chiou Do we need sleep for 300 ms as rt5682-i2c does?
[code]

[2020-12-22 07:03] xiulipan commented on #2576
@lyakh I have some discussion with @keyonjie, we think a simple solution would be ignore RX IPC after CTX_SAVE IPC sent.

[2020-12-22 07:20] naveen-manohar commented on #2649
To try have added above delay and enabled debug print in kernel.. request Chrome-Validation-Team to update us on this test.

[2020-12-22 07:28] jason77-wang commented on #2605
Since I don't have the hw, I could not confirm if the ramp is 0.2s or 1~2s. Our QA filed a bug against this issue, that means the ramp on this machine is obvious longer than on other machines.

@lihow731, do you think it is 0.2s or 1~2s?

Thanks.

[2020-12-22 07:34] lihow731 commented on #2605
Please watch the video that the sine-977Hz twice was played twice.

https://drive.google.com/file/d/18Q5SzKajcvzIVoXgemSyXxGuzOYRMZ3N/view?usp=sharing

[2020-12-22 08:36] singalsu commented on #2605
Thanks @lihow731 ! Here's the audio waveforms from your video. It was MPEG AAC format so not as reliable as uncompressed wav but it looks like the first ramp is 150 ms long and second 5 ms or less (AAC coding impacts, so I assume there's no ramp).

![Screenshot from 2020-12-22 10-21-20](https://user-images.githubusercontent.com/28754793/102866736-6c452a80-4440-11eb-9e4a-5ea71950da14.png)
![Screens

[2020-12-22 09:11] aiChaoSONG commented on #2605
[stra_loopback.zip](https://github.com/thesofproject/linux/files/5728834/stra_loopback.zip)

[2020-12-22 09:20] keyonjie commented on #2605
it could be the ramp time for the codec side?

[2020-12-22 10:05] singalsu commented on #2605
@aiChaoSONG The playback start ramp should be 20 ms. I wonder if the loopback was made with pulseaudio since there wasn't really any start ramp, mainly a DAC impulse response for sine wave start.

When looking at sof-cml-rt711-rt1308-rt715.conf there's some variation in playback pga's SOF_TKN_VOLUME_RAMP_STEP_MS values. I'll check from .conf that they get the correct values.

@keyonjie Yep, the co

[2020-12-22 10:22] singalsu commented on #2605
There's a mistake in muxdemux pipeline volume tokens. Need to use the macros with pipeline IDs to make tokens unique to that volume instance. I wonder if the 250 comes from capture side where it's a normal value.

![sof-cml-rt711-rt1308-rt715](https://user-images.githubusercontent.com/28754793/102877481-7d496800-444f-11eb-9dc3-e5deb55c8875.png)

PGA1.0 is 20ms
PGA3.1 is 250ms
PGA6.0 is 20ms
PGA7.0

[2020-12-23 05:34] bardliao commented on #2649
@naveen-manohar Do you know that will rt5682 be powered off in suspend?

[2020-12-23 06:45] KaiChuan-Hsieh opened #2662 "[BUG] Dell TGL-H Machine failed to load sof-tgl-h.ri"
**Describe the bug**
I got a new Dell hardware. It's CPU information:
[lscpu.log](https://github.com/thesofproject/sof/files/5733650/lscpu.log)

The failed kernel log:
[journalctl-k.log](https://github.com/thesofproject/sof/files/5733653/journalctl-k.log)

Its acpi device info:
\_SB_.PC00.HDAS.SNDW.SWD0
0x000020025d071100
\_SB_.PC00.HDAS.SNDW.SWD1
0x000120025d130800
\_SB_.PC00.HDAS.SNDW.SWD2
0x000

[2020-12-23 07:47] lyakh commented on #2576
@xiulipan yes, that's a simple solution, but I'm not sure this is what we want. We can do this, if we're certain now, that we understand how this can happen and that we have no reasonably simple and completely robust way of fixing this properly. However, I think a better way of fixing this would be by making sure we only power off DSP SRAM after the firmware is sure no further communication with t

[2020-12-23 08:35] mengdonglin commented on #2662
@KaiChuan-Hsieh This device is using TGL-H silicon, and we already informed OSV that sof-tgl.ri is only for TGL-U silicon. SOF FW binary for TGL-H is not included in SOF upstream release v1.6 or 1.6.1 atm.

[2020-12-23 09:33] naveen-manohar commented on #2649
Update from Chrome-validation-team with delay:
”sleep cycles got finished for 2.5K without any issues.
after the test, searched for the error prints which was reported and weren't observed”

During suspend cycle, audio device go to D3, clocks too go low. I believe so does the codec power. Need to re-confirm probing the power-lines.

[2020-12-23 10:25] bardliao commented on #2644
I can't reproduce it locally. The multiple-pause-resume-25.sh test is not supposed to trigger rt715_dev_resume() which is the only place that have the `Initialization not complete, timed out` trace. It is weird to me.

[2020-12-23 10:51] bardliao commented on #2644
rt715_dev_suspend() and rt715_dev_resume() are triggered when the pcm starts and stops. But I didn't find a scenario to reproduce the issue yet.

[2020-12-23 11:06] jarek556 opened #2764 "[BUG] Acer Aspire A515-56 internal mic not working"
**Describe the bug**
Acer Aspire 5 A515-56 internal microphone not working (silence). DMIC is detected, gain control and mute are available, but there is no sound.

**To Reproduce**
Open pavucontrol, select input: no mic activity. The same in gnome settings audio.

**Reproduction Rate**
100%

**Expected behavior**
Working mic

**Impact**
Impossible to use recording and voice communication

**Envir

[2020-12-23 11:40] bardliao commented on #2649
@naveen-manohar Did  Chrome-validation-team test with or without my patch https://github.com/thesofproject/linux/issues/2649#issuecomment-749375591?

[2020-12-24 06:52] bardliao opened #2658 "[BUG] [SDW] ipc error for multiple-pause-resume.sh test"
We will see ipc error if we run [multiple-pause-resume.sh](https://github.com/thesofproject/sof-test/blob/master/test-case/multiple-pause-resume.sh) test on TGL chromebook

dmesg:
[code]

sof-logger:
[code]

[dmesg.txt](https://github.com/thesofproject/linux/files/5738495/dmesg.txt)

The issue is bisect to https://github.com/thesofproject/linux/commit/2dbd71d9dc309e29720d07b3b5090cd3b1829468
I don

[2020-12-24 07:46] GoPerry commented on #2544
Hi @libinyang
The rt715 sdca driver use "FU02 Capture Switch" for local mic mute/unmute operation.
I have the same micmute led code for sdca and non sdca  rt715 driver.

'
	RT715_SDCA_FU_CTRL("FU02 Capture Switch",
		SDW_SDCA_CTL(FUN_MIC_ARRAY, RT715_SDCA_FU_ADC8_9_VOL,
			RT715_SDCA_FU_MUTE_CTRL, CH_01),
		SDW_SDCA_CTL(FUN_MIC_ARRAY, RT715_SDCA_FU_ADC8_9_VOL,
			RT715_SDCA_FU_MUTE_CTRL, CH_02),

[2020-12-24 07:57] bardliao commented on #2658
This is duplicated to https://github.com/thesofproject/sof/issues/3673

[2020-12-24 07:57] #2658 closed

[2020-12-25 05:17] xiulipan commented on #2662
@mengdonglin @RanderWang It seems there is also a kernel issue here, already fixed with  https://github.com/thesofproject/linux/pull/2417

From kernel log, sof driver wants to load wrong FW binary here.
`十二 23 14:11:06 u-Precision-5760 kernel: sof-audio-pci 0000:00:1f.3: request_firmware intel/sof/sof-tgl.ri successful`

We need to check if the fix https://github.com/thesofproject/linux/pull/2417

[2020-12-25 05:33] KaiChuan-Hsieh commented on #2662
@xiulipan

The 5.10.0-1008-oem repository is https://code.launchpad.net/~canonical-kernel/ubuntu/+source/linux-oem/+git/focal/+ref/oem-5.10-next

The kernel works ok for https://github.com/thesofproject/linux/issues/2544
May I ask if https://github.com/thesofproject/linux/pull/2417 is required, then we have to backport it to our oem kernel?

Thanks,

[2020-12-25 05:41] xiulipan commented on #2662
@KaiChuan-Hsieh I think it should be a must to support TGL-H platforms with PCI ID 0x43c8.
Now it is already unstreamed with https://github.com/torvalds/linux/commit/30ee3738f849b3f4af623c20adec73cdc4573a2e
And I do see the patch in https://github.com/torvalds/linux/blob/v5.10/sound/soc/sof/sof-pci-dev.c
So I think maybe some sync up is needed for the oem-5.10 with the upstream 5.10

[2020-12-25 05:45] xiulipan commented on #2662
@KaiChuan-Hsieh Interesting, I also see the patch with https://git.launchpad.net/~canonical-kernel/ubuntu/+source/linux-oem/+git/focal/tree/sound/soc/sof/sof-pci-dev.c?h=oem-5.10-next

@libinyang If this is a issue like https://github.com/thesofproject/linux/pull/2657 that we use the fw name from ACPI table?

[2020-12-25 05:49] KaiChuan-Hsieh commented on #2662
@xiulipan yes, but it doesn't try to load sof-tgl-h.ri which is not as what you expect, right? I have to check if we did add pci device id correctly.

I think the sof-tgl.ri name is from ACPI table as you think, I'll try sof-dev kernel once a workable sof-tgl-h.ri is ready.

Thanks for your notification.

[2020-12-25 06:07] xiulipan commented on #2662
@KaiChuan-Hsieh Please try with thesofproject/sof#2657, sof-dev is also missing the fix.
It seems we also recently face similar issue @libinyang could you confirm?

[2020-12-25 06:12] libinyang commented on #2662
@KaiChuan-Hsieh We have two patches for tgl-h. Could you please have a try? https://github.com/thesofproject/linux/pull/2650 and https://github.com/thesofproject/linux/pull/2657

[2020-12-25 06:33] KaiChuan-Hsieh commented on #2662
@libinyang

sure, but I don't have a workable sof-tgl-h.ri for TGL-H, or it will be okay by loading sof-tgl.ri with these patches?

[2020-12-25 08:14] libinyang commented on #2662
@KaiChuan-Hsieh I'm not sure it is OK to load sof-tgl.ri. After applying the 2 patches, sof-tgl.ri should be renamed to sof-tgl-h.ri.

[2020-12-25 08:31] KaiChuan-Hsieh commented on #2662
@libinyang yes, that's the point, I don't have sof-tgl-h.ri in hand. or you just want to see the kernel log, that the path can be correct.

[2020-12-25 08:55] libinyang commented on #2662
@KaiChuan-Hsieh I think we can wait for the fw release and have the test.

[2020-12-27 21:20] jwrdegoede commented on #2485
Ok good news, it took a bit of work, but I've everything working nicely now.

I've posted the kernel patches for this upstream, see:
https://lore.kernel.org/alsa-devel/20201227211232.117801-1-hdegoede@redhat.com/T/#t
And you can also find them here:
https://github.com/jwrdegoede/linux-sunxi/commits/v5.10-footrail

A matching patch adding a UCM profile for this new setup can be found here:
https://

[2020-12-27 22:55] memegauste commented on #2485
Yeah, for sure - the patch files are much easier to integrate with custom AUR repository - and I need AUR repo, because /I never/ install something to internal system using `make / make install` because it's overrides files without pacman tracking causing conflicts. And BTW. I use Arch too.

So yes, I use 8" Lenovo Yoga model. I sent the email to you and gonna test this in the week, I will be litt

[2020-12-28 02:20] naveen-manohar commented on #2649
This validation is with delay patch([your comment](https://github.com/thesofproject/linux/issues/2649#issuecomment-749375591))

[2020-12-28 02:36] keyonjie commented on #2571
@sathya-nujella PR merged, can you check if we can close this?

[2020-12-28 03:14] lo-leakage opened #2668 "[BUG] [Realtek ALC298] No sound from internal speakers"
**Describe the bug**
No sound from internal speakers. ( headset is ok )

I tried the test below
1) options snd-intel-dspcfg dsp_driver=1 : no sound
2) options snd-intel-dspcfg dsp_driver=3 : no sound
3) options snd-hda-intel dmic_detect=0 and options snd-hda-intel models : no sound

I have tested on windwos10 : ok, windows driver send some i2c command data for enable maxim sound amp.

**To Reprodu

[2020-12-28 07:39] libinyang commented on #2544
@GoPerry On my platform, it shows "RT714 FU02 Capture Switch/Volume". Have we updated the sdca codec driver?

[2020-12-28 10:41] KaiChuan-Hsieh commented on #2662
@libinyang I found that I have to add "options snd-intel-dspcfg dsp_driver=3" for probing the device with correct driver.
I think the dspconfig table should be updated for the Multimedia audio device 8086:43c8 for using a correct driver to probe the device.

[2020-12-28 15:31] sathya-nujella commented on #2571
Hi @keyonjie ,
Original reported issue was fixed.
But later, we also observed the same error prints in this scenario as we updated in email,
 i.e. "wov tests via cmd line + reboot".

For this, as you and @ranj063  suggested, we ran tests with including linux PR's (both of them included): #2600 and #2581.
It passed 500+ cycles after including fixes from PR's: #2581 and #2600.
We will continue tests

[2020-12-28 21:36] jairaj-arava commented on #2571
We have verified the speaker and headset playback too with the above PR's and seems the functionality is good.

[2020-12-29 03:21] xiulipan commented on #2662
@KaiChuan-Hsieh Thanks for reporting the issue with `snd-intel-dspcfg` could you also report another issue for this if we would like to let PCI `8086:43c8` to load SOF by default

[2020-12-29 03:32] KaiChuan-Hsieh opened #2661 "[BUG] Multimedia audio device 8086:43c8 should load SOF driver by default"
**Describe the bug**
I have a machine which audio device is 8086:43c8, its class/subclass/prog-if is 0x040100 which is DSP present.

**To Reproduce**
Boot into linux
$ lspci -nnk
The driver for 00:1f.3 device utilize snd_hda_intel for probing the device.

**Reproduction Rate**
100/100

**Expected behavior**
The device should be probed by snd_sof_pci.

**Impact**
No ALSA card registered

**Environm

[2020-12-29 03:32] KaiChuan-Hsieh commented on #2662
@xiulipan Sure, here is the bug, https://github.com/thesofproject/sof/issues/3720.

[2020-12-29 04:36] xiulipan commented on #2661
@KaiChuan-Hsieh This is a Linux driver issue, I will transfer this to linux

[2020-12-29 04:46] xiulipan commented on #2662
@KaiChuan-Hsieh Thanks! I will also move this issue to linux as we had fix in driver now.

[2020-12-29 05:02] KaiChuan-Hsieh commented on #2662
@xiulipan Hello, you want to move this to linux, which means the sof-tgl-h.ri is available, but I still can't find a workable sof-tgl-h.ri, I try to build it from sof project but it seems the driver can't load successfully. Here is the log when loading the fw:
[load-fw-failed.log](https://github.com/thesofproject/linux/files/5749641/load-fw-failed.log), the full kernel log with dsp_driver=3:
[tgl-

[2020-12-29 05:05] KaiChuan-Hsieh commented on #2661
@xiulipan sure, please. I didn't aware I open it in wrong project, sorry.

[2020-12-29 06:13] xiulipan commented on #2662
@KaiChuan-Hsieh We will try to have some hotfix to https://github.com/thesofproject/sof-bin for sof-tgl-h.ri please check later.

[2020-12-29 07:09] #2571 closed

[2020-12-31 11:11] mythi commented on #2668
FWIW. I had the same issue on my Asus/Tigerlake but moving to 5.11-rc1 makes the speakers working (`speaker-test`).

[2020-12-31 17:22] kyonifer commented on #2631
I played around with it a bit and managed to get all 4 speakers working. It turns out the config [Fred Krauss](https://bugzilla.kernel.org/show_bug.cgi?id=189331#c258) found for the 13-ae0xx also works for this model, namely:

[code]

where the 0x1e pin enables the volume control for some reason.

However, for the bottom speakers connected to 0x17 to light up some additional commands are needed to

[2020-12-31 17:26] hjl-tools commented on #2468
The fix caused:

https://bugzilla.kernel.org/show_bug.cgi?id=210983

[2021-01-02 13:31] memegauste commented on #2485
So I had free time today to test the @jwrdegoede kernel patches, and provide them in custom AUR repo:
https://github.com/HoshiYamazaki/linux-wm5102
As you see, I have all patch files included, AND the default `PKGBUILD` for linux kernel is including `.patch` files from the same dir by default. So, I got it compiled (initially I tried to compile it on my tablet, but after 4 hours I just though ****

[2021-01-04 01:29] mengdonglin commented on #2544
Ongoing upstream discussion about 'ASoC: rt715: add main capture switch and main capture volume control'
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-December/178306.html

[2021-01-04 02:03] bardliao commented on #2661
@KaiChuan-Hsieh Could you try https://github.com/thesofproject/linux/pull/2665?

[2021-01-04 02:19] KaiChuan-Hsieh commented on #2661
@bardliao

I will test #2665 + #2650 + #2657 , however, I don't have valid sof-tgl-h.ri in hand. If you have a workable sof-tgl-h.ri, could you share with me? so that, I can validate the completeness of porting.

Thanks,

[2021-01-04 05:34] lo-leakage commented on #2668
Thanks for your comment.
 I just tested it, but no luck. still no sound from internal speakers.

[2021-01-04 15:38] lgirdwood commented on #2647
@kv2019i fwiw, this PATCH ABI version ignore should be a "fix" for earlier kernels.

[2021-01-04 16:40] lgirdwood commented on #2764
@jarek556 can you confirm if this worked with older FW and kernel ? Can you also confirm if the capture WAV file is all 0s (except for the header).
@juimonen @singalsu any comments here ?

[2021-01-04 23:27] marc-hb commented on #2599
I hope you meant "as #2635 was merged **and** the tests have been consistently passing" :-)

Either way, re-opening based on the most recent comments in #2635, more specifically: "we don't need this" and "please prepare a revert".

[2021-01-05 07:57] #2599 closed

[2021-01-05 08:46] singalsu commented on #2764
Could you please test with sof-hda-generic-4ch.tplg, just copy it over 2ch file (make backup copy of it first), and reboot. The capture with 4ch configuration needs to be four channels, e.g. "arecord -Dhw:0,6 -f dat -c 4 -d 10 rec.wav". Also check with amixer that the Dmic0 volume is 0 dB (or more gain) and unmuted. There's another similar bug reported and I suspect the connected microphones are u

[2021-01-05 09:15] singalsu commented on #2764
This issue may be similar as https://github.com/thesofproject/linux/issues/2460

[2021-01-05 17:08] lgirdwood commented on #2668
@lo-leakage do you have any information on the i2c commands sent to maxim amp ? It looks like this is missing from the Linux driver. @plbossart @kv2019i @bardliao fyi.

[2021-01-05 17:20] lgirdwood commented on #2764
Btw, do we know if these non working platforms have any "hard mic mutes" aka privacy mode ? i.e. where the mic data is gated via some HW prior to entering DSP.

[2021-01-05 22:56] jarek556 commented on #2764
@lgirdwood  - I have tested this notebook only in this configuration. After few days of testing I've returned it because I couldn't find solution for internal mic.

[2021-01-06 02:21] bardliao commented on #2668
It is more like a driver issue.

@lo-leakage Where is the maxim sound amp connected to? Is it connected to rt298 or directly on TigerLake's i2s bus?

[2021-01-06 03:38] shumingfan commented on #2649
@naveen-manohar
I think we don't need to add the constant time to delay for now. The power supply for rt5682 should be stable already before the slave attached and the hardware is workable.
Our hardware engineer suspects the clock which is not stable yet.
Could you test this issue with the patch(8b153276cf62789d13b64e8f2b466e3d6ff32e77)?
If yes, please share the test log with me. Thanks.

[2021-01-06 13:12] lgirdwood commented on #2764
@jarek556 are you working for a distro or OEM ? It may be possible to get the audio schematic and figure out the DMIC routing to fix the issue.

[2021-01-07 03:58] KaiChuan-Hsieh commented on #2662
@xiulipan I didn't see the hotfix of sof-tgl-h.ri, will it be released this week?

[2021-01-07 08:27] #2661 closed

[2021-01-07 11:10] jwrdegoede commented on #2485
Hi,

This looks like the final binding of the machine/codec driver is being deferred waiting for some other driver to load. You likely have not enabled all the necessary drivers, specifically I guess you are missing the GPIO driver.

Your kernel config needs to have the following options enabled as either m or y:

CONFIG_GPIO_ARIZONA=m
CONFIG_MFD_ARIZONA=m
CONFIG_MFD_ARIZONA_SPI=m
CONFIG_REGULATOR

[2021-01-07 17:12] naveen-manohar commented on #2649
Hi @shumingfan
Thanks for the Patch. We are working on reproducing the issue with patch#8b15327, as this is random behavior observed during stress testing on random devices, it takes time..
By ww02.2 shall try to update.

[2021-01-08 04:21] xiulipan opened #2673 "[enhancement] clean up sof_fw_filename in soc-acpi-intel-PLAT-match.c files"
A tracker moved out from https://github.com/thesofproject/linux/pull/2657

As we already have `default_fw_filename` for each platform and we may re-use machine tables for different platforms.
`sof_fw_filename` can be cleaned by to same more space

[2021-01-08 05:43] lo-leakage commented on #2668
It is connected to rt298.

[2021-01-08 05:48] lo-leakage commented on #2668
I'm not sure but I think below log is related.  Can I send the I2C command date to maxim sound amp through codec driver ?
( from RtHDDump )
        (REG_SZ) Count=0005 = Time=2020/11/30,6:45:5.337_WriteI2C,slaveID=38,regAddress=23FF,dataValue=00,ret=1
        (REG_SZ) Count=0006 = Time=2020/11/30,6:45:5.400_WriteI2C,slaveID=38,regAddress=203A,dataValue=80,ret=1
        (REG_SZ) Count=0007 = Time=2

[2021-01-08 06:06] bardliao commented on #2668
@lo-leakage We need Realtek's help on this. @shumingfan @kailangyang fyi.

[2021-01-11 03:16] keyonjie commented on #2661
PR#2665 #2672 merged, close it.

[2021-01-11 03:26] bardliao commented on #2644
Closing it for it is not seen for a long time. Will reopen it once it is reproduced again.

[2021-01-11 03:26] #2644 closed

[2021-01-11 03:27] mengdonglin commented on #2662
@KaiChuan-Hsieh Please test SOF v1.6.1 engineering drop for TGL-H. Thanks!

[2021-01-11 03:27] #2662 closed

[2021-01-11 04:01] mengdonglin commented on #2544
Upstreaming of UCM for TGL-U device with SDCA codecs is in progress: https://github.com/alsa-project/alsa-ucm-conf/pull/71 by @libinyang

[2021-01-11 05:19] bardliao commented on #2606
@shumingfan said that there are only three scenarios that codec will not ack to the command.
1. Device number is wrong
2. Codec is powered down
3. Trying to write a read only register.

We have checked device number by https://github.com/thesofproject/linux/pull/2634 and the device number is correct. And we don't think it is case 3 unless there is something wrong in transportation. So the highest

[2021-01-11 05:29] naveen-manohar commented on #2649
Hi @shumingfan
As suggested above, we ran S0ix for 2.5k cycles on two failure boards with the updated_kernel - patch#8b15327.
In both the DUTs, we don’t see the reported issue.
Please help proceed with the patch review/merge process.

[2021-01-11 06:05] shumingfan commented on #2649
@naveen-manohar The test result doesn't meet what I expected. It seems lucky not to see the reported issue with the patch (https://github.com/thesofproject/linux/commit/8b153276cf62789d13b64e8f2b466e3d6ff32e77).
I want to make sure the patch could read the correct device ID when the issue happened.
Could you arrange the time to test again?

[2021-01-11 06:22] keqiaozhang opened #2676 "[BUG] kernel call trace error when testing kmod reload after playback on GLK chromebook"
**Describe the bug**
This is the first time we have observed this issue. no not sure about the preproduction rate. no etrace available. only kernel log is saved. CI daily report ID 1547.

**To Reproduce**
sof-test/test-case/check-kmod-load-unload-after-playback.sh -l 15

**Reproduction Rate**
Only reproduce one in CI daily test.  will trigger the test manually next to figure it out.

**Platform**

[2021-01-11 06:46] naveen-manohar commented on #2649
Hi @shumingfan
Apologies earlier Our test was checking for only "soundwire sdw-master-0: Update Slave status failed:-19" which weren't observed. Notice the following log
[code]

[2021-01-11 06:51] shumingfan commented on #2649
@naveen-manohar Could you share the whole kernel log? Thanks.

[2021-01-11 07:18] naveen-manohar commented on #2649
As its a stress test of several cycles couldn't get particular cycle's dmesg, its of several MB, please check attached /var/log/message dump, let me know if this data helps.

[debug-logs_20210111-090605_messages.zip](https://github.com/thesofproject/linux/files/5794367/debug-logs_20210111-090605_messages.zip)

[2021-01-11 08:24] shumingfan commented on #2649
@naveen-manohar OK, I will send the patch to upstream.
But, I think this patch should be the workaround to fix getting the wrong device ID on the rare chance.
Our hardware engineer wants to check the signal(the related clock/data/power) when the issue happens.
However, this issue is hard to reproduce.

[2021-01-11 20:32] plbossart commented on #2647
@kv2019i I don't mind if we remove the warning if only the 'PATCH' level is different.

But having "CONFIG_SND_SOC_SOF_STRICT_ABI_CHECKS" means you really want to test the same versions. It's useful for tests to detect the ABI versions are not aligned, and e.g. the ABI changes at the firmware level were not followed by a kernel change.

[2021-01-11 21:22] plbossart commented on #2485
IIRC in some designs the LR headphone pins were muxed with a UART. This caused a lot of confusion even internally at Intel :-(.

[2021-01-11 21:36] plbossart commented on #2606
@bardliao I wonder if there's something in the clock stop prepare that turns something off, and it's not restored on resume?
Alternatively, what can happen is that the codec loses sync on clock stop, and that would cause the clock stop to fail.

[2021-01-11 21:51] sathya-nujella opened #2678 "TGL: Active System State: DUT is not able to go below PC2 and causing Power regression"
DUT:  TGL Chrome System
SOF fw: V11-release
Kernel:  Google kernel 5.4

Test Step:
1) Boot DUT -> System is in S0 (i.e. Active state)
2) arecord -Dhw:0,100 -M -N -c 2 -f S24_LE -r 16000 --buffer-size=96000 tmp.wav -d 10
3) Check : "/sys/kernel/debug/pmc_core/package_cstate_show"
  Only "Package C2" is increasing. Not able to go below PC2.
4) Also, Power team checked: it is causing a very high powe

[2021-01-12 00:31] bardliao commented on #2606
@plbossart But shouldn't we get `-ETIMEDOUT` instead of `-ENODATA` if the codec loses sync?

[2021-01-12 01:49] ranj063 commented on #2678
Enabling DMI L1 when WoV stream is the only active stream helps fix the issue. The delta is down to 100mW with the fix.
But it needs to be verified if it is a legitimate fix.

[2021-01-12 02:05] shumingfan commented on #2649
@naveen-manohar The patch had merged to upstream already.
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?id=867f8d18df4f5ccd6c2daf4441a6adeca0b9725b

[2021-01-12 06:05] keyonjie commented on #2678
Thanks @ranj063 for addressing this.

Yes, we can move the DMI L1 toggle from suspend/resume() pair to hda_dsp_set_D0_state() to fix this.

We could still have potential risk to run WoV real-time capturing at D0I3, but that is another issue (https://github.com/thesofproject/sof/issues).

[2021-01-12 08:54] aiChaoSONG opened #2680 "[RFC] soundwire: bus: code improvement sdw_bus_clk_stop"
In bus.c, line 1016 ~ 1038, will the ret here greater than zero?
[code]
why not remove `return 0`, and move `return ret` out of if block, any reason? @plbossart @bardliao @RanderWang

[2021-01-12 09:14] RanderWang commented on #2680
yes, good idea

[2021-01-12 09:32] aiChaoSONG commented on #2680
The change is simple and clear, but what should I write in the commit message. Any suggestions? @plbossart @bardliao @RanderWang

Edit: how about
[code]

[2021-01-12 11:58] kv2019i commented on #2647
@plbossart The one issue with that is that it forces us to do somewhat odd patches to upstream kernel. E.g. we would now need to do a patch that just updates the kernel PATCH level to 3.18.1, with no functional change elsewhere in the codebase.

You can say this makes it explicit kernel developers have reviewed FW 3.18.1 ABI, and it has been deemed compatible. But given PATCH-LEVEL changes should

[2021-01-12 16:57] plbossart commented on #2606
@bardliao the 'COMMAND_IGNORED' reply is provided immediately, at the end of the 48-bit command word. It's really a 'no reply' and it's clearly not deferred as a -ETIMEDOUT hint at.

[2021-01-12 18:06] plbossart commented on #2678
@ranj063 I am not clear on how we would detect that 'WoV stream is the only active stream' in S0? The device is still in D0 state, there is no suspend stimulus, so we'd need an idleness detection, and possibly transition to D0i3 even where there is no transition to S0i1?

[2021-01-12 18:13] plbossart commented on #2647
Sorry @kv2019i I don't get your point. When the PATCH level is changed, surely some structure must be changed as well, no? why do you say there is 'no functional change'? is there an example of what the PATCH level change does?

[2021-01-12 18:24] ranj063 commented on #2678
@plbossart we dont need to detect if wov is the only active stream. All we need to do to exclude the wov capture stream from preventing DMI L1 entry. Please take a look at my PR

[2021-01-12 18:38] plbossart commented on #2678
If you really care about power consumption in S0, then the device should transition to D0i3. Incremental changes on L1 will not reduce DSP power, leakage, etc.

[2021-01-12 18:42] ranj063 commented on #2678
But there are cases where we need DMI L1 even when the DSP is not in D0i3; for example headset playback + wov.

[2021-01-12 19:03] plbossart commented on #2678
this use case makes no sense to me... if you are using the headset, the internal mics are typically disabled ...

[2021-01-13 02:03] bardliao commented on #2606
I tried to read `SDW_SCP_STAT` (0x44) in some places to check when codec starts to not ack. Based on the test result now, we can read `SDW_SCP_STAT` properly at the beginning of `intel_suspend_runtime()`, and `-ENODATA` can be seen before `sdw_bus_prep_clk_stop` call `sdw_slave_clk_stop_callback`.  So I think we lost codec in the `sdw_cdns_clock_stop()` function and I added some ``sdw_bread_no_pm_

[2021-01-13 09:47] kv2019i commented on #2647
@plbossart That's why I stated this is somewhat of an academic discussion. To my knowledge, in the four years of history we have for SOF, there's only case where a non-zero PATCH level has been used. And as it's a once-in-four-years part of the process, the best practises have not been established.

https://github.com/thesofproject/sof/pull/3543
FYI to @cujomalainey and @lgirdwood

So this is a ch

[2021-01-13 15:32] plbossart commented on #2647
@kv2019i thanks for the pointer and yeah, I don't know why the PATCH level was bumped for that PR, that causes confusion. I am fine ignoring the PATCH level if this is meant for this kind of non-functional changes.

[2021-01-13 16:16] kv2019i commented on #2646
Patch in sof-dev and sent to upstream, closing.

[2021-01-13 16:16] #2646 closed

[2021-01-13 16:56] cujomalainey commented on #2647
I'm pretty sure i bumped the abi as patchcheck screams if you touch those files and was relying on ABI reviewers to guide me otherwise. I think firmware landed before kernel so it was too late by time kernel change was requested.

[2021-01-13 19:21] perexg commented on #2646
Thanks Kai.

[2021-01-14 01:28] plbossart opened #2689 "[SDW] bus errors when removing machine driver"
I know it's a bit of an academic case, but if we do

mv /usr/bin/pulseaudio /usr/bin/_pulseaudio
modprobe snd-sof-pci
wait for card to be created
rmmod snd_soc_sof_sdw

[code]

I only saw this once, not sure if it's repeatable?

[2021-01-14 03:36] jason77-wang opened #2690 "[NHLT parser] A NHLT could be parsed by Windows while can't be parsed by Linux kernel"
ODM provided a NHLT, under linux, the sound/hda/intel-nhlt.c will print:
[ 7.189362] snd_hda_intel 0000:00:1f.3: undefined DMIC array_type 0x2
And the driver will fallback to legacy HDA.

ODM said they defined 1 dmic in the NHLT, and they followed the Intel IADK v2.6 spec and generated the NHLT with IADK tool. The Windows could work well with this NHLT.

HW: TGL-U laptop, Realtek HDA codec ALC3204

[2021-01-14 03:38] jason77-wang commented on #2690
[TGL_HD_singlemic_1228.bin.txt](https://github.com/thesofproject/linux/files/5812209/TGL_HD_singlemic_1228.bin.txt)
This is the NHLT ODM provided. Please drop .txt when using it.

[2021-01-14 07:11] bardliao commented on #2606
The `-61` error happened after [cdns_config_update](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/cadence_master.c#L1446). I am wondering if any cdns configuration is different between error and normal cases.
I added cdns register 0x0 to 0x1c dump before [cdns_config_update](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/cadence_master.c#L

[2021-01-14 08:22] mengdonglin commented on #2690
SOF support for single DMIC https://github.com/thesofproject/linux/pull/2350/ has been integrated to customer kernel, confirmed by @jason77-wang

[2021-01-14 08:36] juimonen commented on #2690
@jason77-wang Do you have the following patch in your kernel?

Author: Jaska Uimonen <jaska.uimonen@linux.intel.com>
Date:   Tue Aug 25 16:50:36 2020 -0700

    ASoC: SOF: intel: hda: support also devices with 1 and 3 dmics

Actually not sure where this is travelling in upstream kernels...

[2021-01-14 08:42] juimonen commented on #2690
@plbossart saw that this is your code in sound/hda/intel-nhlt.c... and I see support here only for 2 or 4 dmics... I didn't stumble into this part of the code before, maybe this new case with nhlt and 1 dmic, so should we add the support here also for other dmic counts?

[2021-01-14 12:54] juimonen commented on #2690
@plbossart @jason77-wang checking the intel sst nhlt spec, to me it seems that Pierre's code is ok, there's no clear choice for 1 dmic conf other than using "vendor defined". @jason77-wang can you try this option? OTH if then windows doesn't work with this, we need to come up with some other solution...

[2021-01-15 01:42] aiChaoSONG commented on #2680
too minor improvement to file a PR, close

[2021-01-15 01:42] #2680 closed

[2021-01-15 02:21] jason77-wang commented on #2690
@juimonen OK, got it, I also think so since I checked the spec too. I told that to ODM already, they said they generated the nhlt with IADK tool and it is not possible the nhlt has problem.

But today, I saw ODM started changing the BIOS and provided a testing BIOS to us, let's wait for testing result first.

Thanks.

[2021-01-15 02:23] naveen-manohar commented on #2649
JFYI, fix taken to Chrome Tree, Verification in-progress..

[2021-01-15 02:39] aiChaoSONG opened #2693 "[RFC][SDW] dp0 folder not exist on sysfs"
In soundwire/sysfs_slave.c, dp0 attributes and group are defined, and `slave->prop.dp0_prop` controls whether we will add the dp0 group. But I can not find the dp0 folder on a dell sku0a32 SDW device. I think the dp0 will always be used, so slave->prop.dp0_prop should not be empty, or I am wrong?

If I am wrong, that means `slave->prop.dp0_prop` can be empty, but `slave->prop.dp0_prop->num_words`

[2021-01-15 05:22] marc-hb commented on #1449
Reported in https://sof-ci.01.org/sofpr/PR3747/build7934/devicetest/?model=BSW_CYN_MAX98090&testcase=check-kmod-load-unload, https://sof-ci.01.org/sofpr/PR3747/build7934/devicetest/?model=BSW_CYN_MAX98090&testcase=check-kmod-load-unload-after-playback

[2021-01-15 07:33] bardliao commented on #2693
@aiChaoSONG dp0 properties are get by the `read_prop` function. e.g. [rt1316_read_prop](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/rt1316-sdw.c#L122). So it could be empty.
In fact, I don't see any codec driver set `dp0_prop`. So you will not able to see the dp0 folder in any devices.

[words_show](https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/so

[2021-01-15 07:43] aiChaoSONG commented on #2693
@bardliao After looking into codec code， it becomes much clear to me, thanks.

[2021-01-15 15:13] plbossart commented on #1449
I can't recall is this is supposed to work and if the tests are actually working: I only see this

"test case check-kmod-load-unload-after-playback.sh is SKIP!
Catch ignore field of test-case: https://github.com/thesofproject/linux/issues/1449!"

not exactly useful log...

[2021-01-15 15:22] kv2019i commented on #2561
No update in a month, lowering priority from P1 to P2.

[2021-01-15 15:43] plbossart commented on #2693
@aiChaoSONG there are no stupid questions.

DP0 is a 'special' data port, it was intended to allow command/control data to be transmitted using the audio payload space. That extends the command/control bandwidth considerably: You are no longer limited to sending commands in column0 of the frame. DP0 will be required for SDCA devices at some point, e.g. to retrieve a history buffer from a codec, or