[2022-08-21 14:42] Bsplesk opened #3828 "[BUG] ASUS EXPERTBOOK B7402FEA not work headphones"
**Describe the bug**
When connect the 3.5 jack headphones, the device appears (detected), but there is no sound.

**Environment**
Operating System: Arch Linux
Kernel: Linux 5.19.2-arch1-1
Hardware Model: ASUS EXPERTBOOK B7402FEA_B7402FEA
Firmware Version: B7402FEA.303
extra/sof-firmware 2.2-1

https://alsa-project.org/db/?f=2a4e20e05d8671f43ca3b31463e486e563746da6

[2022-08-21 14:44] tvelazquez commented on #3248
A few months ago I bought a Matebook D15 and the sound only works through HDMI.
I have compiled the latest git kernel version.
http://alsa-project.org/db/?f=e9c95e75cc5cda8d6ba26ecc79638ef4cfb40bda

[2022-08-21 15:38] changedsoul commented on #3777
@Grandfather-Paradox
I have the same Dell XPS 17 9720 running on Arch with kernel `5.19.2-arch1-1`
My sound seems to work every boot now with this kernel so far. Whats strange is when I compile my own of the same version using the Arch Build system, it does not work. No idea why, dont really care anymore.

Current version 5.19.2-arch1-1 has solved my sound issues from what I can tell now.
I tried

[2022-08-21 18:06] Grandfather-Paradox commented on #3777
@changedsoul I'm actually having an even worse issue on `5.19.2-arch1-1` now. I took `snd_sof_pci_intel_tgl` off the blacklist to see if it would work like you said, and it hangs on udev for the full 3 minutes when booting and then never makes it anywhere. It gets stuck with a single dash on the screen and can't even be switched to console or anything. So strange. I did notice that it was getting

[2022-08-21 18:34] changedsoul commented on #3777
@Grandfather-Paradox
Im away from home atm, but I suspect your issue is tied to the graphics. I also had some pretty bad issues. You have the rtx3050 right?
When i get back I’ll get a list of my packages installed and post them for you.
i also needed to add a kernel parameter to fix something else but I think it also fixed the graphics issue, ibt=off or something like that.

[2022-08-21 19:38] Grandfather-Paradox commented on #3777
@changedsoul I disabled the X11 config I made with no change on 5.19.2 - still won't boot. It seems like it's unable to load a kernel module, but I can't figure out which one it is yet. I have no problem booting the live system, but it's on 5.18.16, so it's not the latest kernel. My GPU is the RTX 3060. And thanks, I appreciate it!

[2022-08-21 20:21] Grandfather-Paradox commented on #3777
@changedsoul I got the full boot log and saw an error, which led me [here](https://forums.developer.nvidia.com/t/error-in-kernel-boot-kernel-bug-at-arch-x86-kernel-traps-c-252/220443), where I found that same "ibt=off" kernel parameter you have. Setting that parameter allows the system to boot but with the same sound card issue unless I enable my workaround. Additionally, the display has a yellowi

[2022-08-21 22:03] changedsoul commented on #3777
Well I just booted into default arch kernel and had no sound. Had to remove the module and reload it. Seems to work more times than not, but there is still a issue loading.
@Grandfather-Paradox Sounds like you have other issues on top of this sound issue.
this is what I have installed on my system if you want to match. I am using kde by the way, not sure what your using.
xorg: https://pastebin.com

[2022-08-22 01:26] yangxiaohua2009 commented on #3336
@ejmarkow Copy this file to /etc/modprob.d/ using command
`sudo cp sof-dyndbg.conf.txt /etc/modprobe.d/sof-dyndbg.conf`
so that you can see which type of jack the 8316.c reports to the system.
[sof-dyndbg.conf.zip](https://github.com/thesofproject/linux/files/9390446/sof-dyndbg.conf.zip)

Then replace the code in `static irqreturn_t es8316_irq(int irq, void *data)`
, from line 588 to line 688 with

[2022-08-22 07:00] danielcb commented on #3777
At the moment the only way that works for me (even with a patched 5.19.2-arch1 kernel) is still relloading the module after boot.

[2022-08-22 07:44] yangxiaohua2009 commented on #3827
@junocomp Please refer to https://github.com/yangxiaohua2009/custom-kernel/issues/9

[2022-08-22 09:07] ejmarkow commented on #3336
@yangxiaohua2009 I already had the "sof-dyndbg.conf" file enabled in /etc/modprobe.d from previous testing I did for @plbossart, which he provided.

Initially, without modifying the code in 8316.c, there is **_no response_** in dmesg when plugging / unplugging the mic and speakers jacks. This is what we are expecting to see, correct, to see a response in dmesg indicating the correct flag?  This is

[2022-08-22 09:15] lgirdwood commented on #3828
@Bsplesk can you confirm is speakers or display audio work ? If so, it could be that the driver is not sending all the HDA verbs to enable the codec headphone path.

[2022-08-22 09:19] lgirdwood commented on #4055
@F0xedb  I think you have to use this tool to dump the needed verbs https://github.com/Conmanx360/QemuHDADump, once known they can then be upstreamed to the Linux codec driver.
@plbossart @ujfalusi @bardliao please correct me if I'm wrong.

[2022-08-22 11:45] plbossart commented on #3447
Is that DSM method in the scope of the ES8336 device @tea? If yes, can you attach the DSDT? Thanks!

[2022-08-22 11:57] plbossart commented on #3828
@Bsplesk please check the documentation https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#disable-sof-on-pci-hdaudio-devices-to-test-audio-playback and double-check if jack detection works on this platform without the SOF driver used.

[2022-08-22 12:10] tea commented on #3447
Sure it is. See attached.
[dsdt.txt](https://github.com/thesofproject/linux/files/9394148/dsdt.txt)
Not even restricted to ES8336; here is [an example for ES8316](https://github.com/Dax89/chuwi-dev/blob/master/vi10_ultimate/dsdt.dsl#L14288)

[2022-08-22 12:21] plbossart commented on #3447
Thanks @tea I also see this in other devices.

@yangxiaohua2009 would you happen to know what this _DSM method does and if it can be used by drivers to figure out what the hardware layout is? Thanks!

[2022-08-22 12:57] Grandfather-Paradox commented on #3777
Just tested `5.19.3-arch1-1`. I had one boot where the sound worked properly and then two others where it failed, so it seems like the bug is still present. Reloading the module still works as a workaround. However, the night light issue I experienced seems to be fixed now. I'm using GNOME by the way - meant to mention that before. With `5.19.3-arch1-1`, however, the display has a slightly yellowi

[2022-08-22 13:24] katyo commented on #3800
Built-in microphone worked fine (on Teclast F5) with #3107.
Currently it does not detected at all.
Also I have tested wired headset, mic does not work too.

[2022-08-22 14:10] andreaconsole commented on #3249
You are welcome.
Unfortunately, so far, I got:
- from Huawei: we do not support Linux on those laptops;
- from ASUS: this is a job for Huawei;
- from Everest Semiconductor: we'll let you know...

On Sat, 20 Aug 2022, 13:37 Anton Kochnev, ***@***.***> wrote:

[2022-08-22 16:39] Bsplesk commented on #3828
@lgirdwood  Yes, speakers and built-in (digital) microphone work.

[2022-08-22 17:55] Bsplesk commented on #3828
@plbossart  There is no way to disable SOF in UEFI. Disabling via /etc/modprobe.d/alsa-base.conf does not solve problem. The speakers are working, but the headphones are not.

[2022-08-22 17:57] plbossart commented on #3828
@Bsplesk If the headphones are not working without SOF, it's not an SOF problem....

[2022-08-22 18:42] junocomp commented on #3827
@yangxiaohua2009 I tried your solution from custom kernel, it works!

[2022-08-23 02:09] yangxiaohua2009 commented on #3447
@plbossart Yes I have the definition. If you know how to read hardware info from DSM then the misery life of guessing hardware configuration can come to an end.
[ESSX8326.zip](https://github.com/thesofproject/linux/files/9398723/ESSX8326.zip)

[2022-08-23 02:19] yangxiaohua2009 commented on #3336
I see one line from the dmesg
[    6.488767] es8316 i2c-ESSX8336:01: assuming static mclk
Since you already have the sound, you can remove everything in sof-dyndbg.conf except the line
`options snd_soc_es8316 dyndbg=+p`

Also, you may replace the `dev_dbg` with `dev_warning` or even printk to see if you can get anything.

[2022-08-23 07:55] plbossart commented on #3447
Thanks @yangxiaohua2009 this looks very promising.

It's my understanding that all these definitions are 'functions' that can be queried, e.g.

[code]

we could use something like

[code]
and use obj->integer.value to set the inverted jack detection quirk.

I am not sure though about most of the details you provided, the values are defined for ES8326 and ES8396, I am not sure what to make of the i

[2022-08-23 09:23] ejmarkow commented on #3336
@yangxiaohua2009  The sof-dyndbg.conf file from previous testing was missing the line `options snd_soc_es8316 dyndbg=+p`. Sorry about that, I thought the file from prior testing had the same contents. Using your file now. Here is dmesg for 8316 with the mic plugged in, showing `flags 0x20`:

[code]
[dmesg.txt](https://github.com/thesofproject/linux/files/9401277/dmesg.txt)

[2022-08-23 09:31] filt3rek commented on #3336
Hi @yangxiaohua2009 ,
Many thanks for your work, thank to you (especially https://github.com/yangxiaohua2009/custom-kernel) I could get sound on my laptop.
I tried to do a DKMS to not to have to rebuild a kernel everytime I update it but without success, I'm really not an expert...
I don't want to waste your time, but could you just give us some advices on how we could do a DKMS or another thing w

[2022-08-23 22:47] tvelazquez opened #3831 "[BUG] Huawei MateBook D15 headphone and speaker not work"
@plbossart A few months ago I bought a Huawei Matebook D15 and the sound only works through HDMI.
I have followed this guide https://github.com/thesofproject/linux/wiki/ES8336-support
And I have compiled this branch https://github.com/thesofproject/linux/tree/es8336-v5.19
http://alsa-project.org/db/?f=77cd3bc0e0fa1b6a398e76f454fc11f017b10b4c

[2022-08-24 07:14] plbossart commented on #3831
You are not using the SOF driver!

snd_intel_dspcfg: dsp_driver=1 dyndbg= p

please remove this option, and read the wiki:
https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-08-24 08:34] tvelazquez commented on #3831
@plbossart I load the SOF driver and there is no sound card.
http://alsa-project.org/db/?f=7b41c67fbe773bd8a70ecdb3946a3b264bc2a7d7

[2022-08-24 11:15] Bsplesk commented on #3828
@plbossart  OK I see. issue can be closed. If connect small headphones and set the maximum volume, the sound appears (poor quality). It looks like the driver does not enable an internal amplifier. When the headset is connected, the microphone works (after reassigning pin to hdajackretask).

[2022-08-24 11:19] #3828 closed

[2022-08-24 13:31] plbossart commented on #3831
The last line of the dmesg log shows you have started probing the machine driver

[   21.210242] sof-essx8336 sof-essx8336: quirk mask 0x20

If you don't see a card created it means that that probe failed somewhere.
Not sure what happens, you have dynamic debug enabled but nothing is shown.

You will have to trace manually where the issue happens, likely by adding some dev_info statements in sound

[2022-08-24 13:32] plbossart commented on #3831
you may also want to try and enable dynamic debug for the ASoC core, this will be very verbose but let you know why the card registration failed

options snd-soc-core dyndbg=+pmf

[2022-08-24 15:56] tvelazquez commented on #3831
@plbossart I add some dev_info:

	priv->gpio_speakers = gpiod_get_optional(codec_dev, "speakers-enable", GPIOD_OUT_LOW);
	if (IS_ERR(priv->gpio_speakers)) {
		ret = dev_err_probe(dev, PTR_ERR(priv->gpio_speakers),
				    "could not get speakers-enable GPIO\n");
		dev_info(dev, "could not get speakers-enable GPIO\n");
		goto err_put_codec;
	}

[   52.247139] sof-essx8336 sof-essx8336: quirk mask 0

[2022-08-24 21:43] junocomp commented on #3336
I created a dkms

https://github.com/junocomp/es8336-dkms-debian

[2022-08-25 06:23] yangxiaohua2009 commented on #3336
@ejmarkow Yes Please give it a try. You should see the flag when mic/headphone pluged in. Recompile the kernel so that it now report the right type

[2022-08-25 06:29] yangxiaohua2009 commented on #3447
The definition is the same for ES8336/8326/8396.
Only the first few values about hardware configuration are meaningful for linux.
I will try to get the _dsm from my side first.
Thanks. @plbossart

[2022-08-25 07:54] plbossart commented on #3831
That's not good news @tvelazquez, the problem is likely a BIOS issue or something. That's super hard to debug remotely. You are getting an error for an optional gpio, not sure what happens.

Try to add dynamic debug in https://elixir.bootlin.com/linux/latest/source/drivers/gpio/gpiolib.c and see what the results are.

You could also bypass this and just set priv->gpio_speakers = NULL and see what

[2022-08-25 08:08] plbossart commented on #3827
@junocomp solution posted on alsa-devel, can you give it a try with the recommended setting in the wiki

https://lore.kernel.org/alsa-devel/20220825014952.1038508-1-zhuning0077@gmail.com/

[es8316_suspend_resume.patch.txt](https://github.com/thesofproject/linux/files/9422782/es8316_suspend_resume.patch.txt)

[2022-08-25 09:27] tvelazquez commented on #3831
@plbossart dynamic debug enabled for gpiolib and add priv->gpio_speakers = NULL;

[    9.281388] sof-essx8336 sof-essx8336: quirk mask 0x20
[    9.281390] sof-essx8336 sof-essx8336: quirk SSP0
[    9.281391] sof-essx8336 sof-essx8336: quirk DMIC enabled
[    9.281413] gpiolib:gpiod_get_index: i2c i2c-ESSX8336:00: GPIO lookup for consumer speakers-enable
[    9.281414] gpiolib:gpiod_get_index: i2c

[2022-08-25 14:32] plbossart commented on #3831
that's a completely different issue to the initial gpio issue. This hints at a configuration issue where maybe the codec is not probed.

I don't have any bandwidth to help in the next two weeks, sorry.

[2022-08-25 16:23] gbuloz commented on #2990
@oder-chiou : I'm still unable to have the right channel working in line-in mode (left on IN1, right on IN3). The wiring seems OK on IN3 because if I redirect it to the left channel with "RECMIXL BST3 Switch" I get something. Any idea of what is missing/wrong ? I've attached tthe output of "amixer contents"
[amixercontents_lineinRfails.txt](https://github.com/thesofproject/linux/files/9426476/amix

[2022-08-25 17:40] filt3rek commented on #3336
@yangxiaohua2009
Could you please take a quick look at this, maybe you would know how to solve this ? https://github.com/junocomp/es8336-dkms-debian/issues/2
Thanks

[2022-08-25 20:30] IStranger commented on #3249
Same problem! I bought a Matebook to work on linux (

[2022-08-26 09:07] #3827 closed

[2022-08-26 09:08] #3823 closed

[2022-08-26 09:28] plbossart commented on #3729
@gimait the information on speaker protection came from Realtek, this was added at the request of the OEM.

This is not an SOF issue proper but a debate on amplifier configuration, closing this issue since there's nothing we can do for you. If you feel this is still a problem, you may want to file an issue on the kernel bugzilla. Thanks for your understanding.

[2022-08-26 09:28] #3729 closed

[2022-08-26 09:31] plbossart commented on #3088
closing, no update in 10 months and not an SOF issue proper

[2022-08-26 09:31] #3088 closed

[2022-08-26 09:34] plbossart commented on #3008
@keqiaozhang can you check if we've seen those issues on Helios Chromebook recently? it's almost been a year.

[2022-08-26 09:35] plbossart commented on #3120
@keqiaozhang can you check if this still happens? it's been about a year now since the last update.

[2022-08-26 09:37] plbossart commented on #3684
closing, this is implemented in PR #3757

[2022-08-26 09:37] #3684 closed

[2022-08-26 09:39] plbossart commented on #3647
re-opened to check if this still happens with cSOF

[2022-08-26 09:40] plbossart commented on #3633
re-opened to check if this still happens with cSOF

[2022-08-26 09:40] plbossart commented on #3626
reopened to see if this still happens with cSOF

[2022-08-26 15:20] changedsoul commented on #3777
Can we get this reopened? Im on 5.19.3 now too and seems patches are in place yet still no sound on boot up.
When I try to remove the module for reload I get this:

[code]

When I reload I get these warnings, but sound is working.

[code]

[2022-08-26 15:23] Grandfather-Paradox commented on #3777
@changedsoul Agreed. This bug is most definitely still present.

[2022-08-26 15:28] plbossart commented on #3777
@changedsoul @Grandfather-Paradox can you try with v6.0-rc2 and see what happens? It's not clear to me why this problem is only reported with archlinux.

[2022-08-26 15:30] plbossart commented on #3777
[code]

you can safely ignore all of these.

[2022-08-26 15:42] downeymj commented on #3777
FWIW, I have the same problem with this hardware model on Debian Testing with its included kernel (5.18.16-1). Using the `modprobe` commands earlier from @Grandfather-Paradox after signing in as a successful workaround for now.

Adding the `nomodeset` kernel option in grub config is also a valid workaround on the same system.

[2022-08-26 16:03] changedsoul commented on #3777
@plbossart

Where do I find v6.0-rc2?

[2022-08-26 17:39] paulmenzel opened #3837 "`ACPI: \_SB_.PC00.HDAS.IDA_.SNDW.SWD1.AF04.E001: Can't tag data node`"
On the Dell XPS 13 9315, Linux 6.0-rc2+

    $ git describe --tags
    v6.0-rc2-159-g4c612826bec14
    $ git log --oneline --no-decorate -2
    16120b1aa5e13 x86/sgx: Do not consider unsanitized pages an error
    4c612826bec14 Merge tag 'net-6.0-rc3' of git://git.kernel.org/pub/scm/linux/kernel/git/netdev/net

logs the warnings below:

    [    0.000000] bach kernel: microcode: microcode updated

[2022-08-26 17:45] paulmenzel opened #3838 "Graphical login manager hangs"
Building Linux myself with Debian’s Linux configuration, the graphical login manager does not start. The mouse cursor can move but switch TTYs does not work. Pressing the power button tries to shut down the system, but that hangs. No idea if it’s related to issue
https://github.com/thesofproject/linux/issues/3777. Please find the logs and configuration attached.

1.  [Output of `journalctl -b -1 -

[2022-08-27 01:18] tvelazquez commented on #3831
@plbossart What dumps do you need to do the analysis? acpidump? I would like to provide you with all the information you need. Thanks.

[2022-08-27 11:20] ameenjuz commented on #3831
@plbossart  hi guyz i appriciate your great work
I have huawei matebook 15d model BOHB_WAX9 intel cometlake i5-10210u sound essx8336
When i add quirk 0x30 into /etc/modeprob.d/alsabase.conf then only working headphone is not working speaker when i use quirk 0x20 the speaker is working
No headphone i don't know what issue i have
please help me
It is my alsa-info
[alsa-info.txt](https://github.com/t

[2022-08-27 15:14] Grandfather-Paradox commented on #3777
Bug is still present in `5.19.4.arch1-1`.

[2022-08-27 15:23] dezo4 commented on #3447
Guys no idea what this means but I can test whatever you have for a test :)

[2022-08-27 16:14] dezo4 commented on #3336
DKMS:
Successfully compiled and installed on
Linux deathstar 5.19.0-trunk-amd64 #1 SMP PREEMPT_DYNAMIC Debian 5.19-1~exp1 (2022-08-02) x86_64 GNU/Linux
aplay -l shows the device, everything looks like working but - no sound at all.
With custom kernel sound works for me

[2022-08-28 08:30] gingersamurai commented on #3249
Yeah, the same problem. Bought matebook 14 amd 2021 for using linux, still no sound

[2022-08-28 16:22] ghost commented on #4055
This issue seems to affect other Galaxy Book Models too

[2022-08-29 01:12] keqiaozhang commented on #3638
Observed this issue again in CI stress test:http://sof-ci.sh.intel.com/#/result/planresultdetail/14917?model=ADLP_BRYA_SDW_ZEPHYR&testcase=check-suspend-resume-with-capture-100

[2022-08-29 03:08] keqiaozhang commented on #3647
Closing this issue as it's not reproducible now.

[2022-08-29 03:08] #3647 closed

[2022-08-29 08:58] keqiaozhang commented on #3804
I have submitted https://github.com/thesofproject/sof-test/pull/953. Please help to review.

[2022-08-29 12:22] junocomp commented on #3336
@dezo4 It doesn't sound that it builded correctly.

Check that sof_es8336 is present

`lsmod | grep sof_es8336`

[2022-08-30 06:18] yangxiaohua2009 opened #3840 "No sound on KBL for ES8336"
After changing the dsp-cfg.c and soc-acpi-intel-kbl-match.c, the soundcard still cannot be seen.
The log shows

[    2.706127] sof-audio-pci-intel-skl 0000:00:1f.3: enabling device (0000 -> 0002)
[    2.706331] sof-audio-pci-intel-skl 0000:00:1f.3: error: missing mandatory ops
[    2.706340] sof-audio-pci-intel-skl: probe of 0000:00:1f.3 failed with error -22

[kbl.zip](https://github.com/thesofpr

[2022-08-30 13:07] dezo4 commented on #3336
Well there was no compilation error...
[code]
Maybe some already present es8336 stuff in the kernel is messing with dkms?

[2022-08-30 13:10] dezo4 commented on #3336
I also tried on linux-image-5.18.0-4-amd64 but there's that compilation error mentioned in https://github.com/junocomp/es8336-dkms-debian/issues/2

[2022-08-30 14:03] junocomp commented on #3336
I have the opposite issue, can compile on 5.18 but not on 5.19. Did you install the linux headers?

[2022-08-31 02:02] oder-chiou commented on #2990
@gbuloz Please try these controls to verify the path in the codec side 'IF1 ADC Swap Mux' 'RECMIXR BST1 Switch'.

[2022-08-31 17:34] dezo4 commented on #3336
Sure, without them it's uncompilable

[2022-08-31 17:52] gbuloz commented on #2990
@oder-chiou : thanks, but could you explain me a little bit more the procedure ?

[2022-09-01 01:36] oder-chiou commented on #2990
@gbuloz
'IF1 ADC Swap Mux' change to R/L to swap the I2S LR channel to make sure code side is OK.
'RECMIXR BST1 Switch' also could make sure the RECMIXR is working or not.

[2022-09-01 14:19] gbuloz commented on #2990
@oder-chiou : the controls work as expected, except that for having something to the right channel from lineinR (IN3 with 'RECMIXR BST3 Switch' on) I need to also enable lineinL (IN1 with 'RECMIXR BST1 Switch' on) or analogmic (IN2 with 'RECMIXR BST2 Switch' on)
[lr_1.txt](https://github.com/thesofproject/linux/files/9470526/lr_1.txt)
[lr_2.txt](https://github.com/thesofproject/linux/files/9470529

[2022-09-01 14:43] gbuloz commented on #2990
@oder-chiou : and also to have something to the left channel from lineinR (IN3 with 'RECMIXL BST3 Switch' on) I need to also enable lineinL (IN1 with 'RECMIXL BST1 Switch' on) or analogmic (IN2 with 'RECMIXL BST2 Switch' on)

[2022-09-01 18:39] dezo4 commented on #3336
I've managed to compile on 5.18, just renamed snd_soc_card_jack_new_pins -> snd_soc_card_jack_new (seem like 5.18 does not have the _pins variant).
The result is the same. Looks like everything is working but no sound at all.

[2022-09-01 21:35] wisbit opened #3842 "No sound at all - TECLAST F15 PLUS - Intel Corporation Celeron/Pentium Silver Processor High Definition Audio"
Hi guys,

I posted some time ago about this problem.
And I also followed a certain amount of forums treating this issue with other people as well.
I am still quite new to this type of in depth system manipulation and trials and errors. So when somebody tells me to try this or that, as most people do, I perform the action and report the results, not always knowing all the aspects of the action.
App

[2022-09-01 21:38] wisbit commented on #3842
what's up with "code"  tags ? that's not right, right ?

I ended up using the quote feature to make my command output readable

[2022-09-02 05:54] yangxiaohua2009 commented on #3336
I think modules `snd_sof_pci_intel_apl snd_intel_sdw_acpi` need to be included in the dkms.
@dezo4 Can you provide the dmesg with sof-dyndbg.conf?

[2022-09-02 16:18] hakanrw commented on #3249
matebook D15 AMD, same problem D:

even though i know it will change nothing, i will mail huawei to let them now there are more linux users who are affected by this problem. or to have them know there are more linux users using their products than they realize.

shame on huawei.

[2022-09-02 20:11] hakanrw commented on #3249
seems like there is some progress in the kernel about this
https://github.com/torvalds/linux/commit/02527c3f2300100a25524c8c020d98c7957e485e

[2022-09-02 23:55] jairaj-arava opened #3844 "[ADL]: DSP fw load failure due to memory alloc failure"
While running suspend stress test with a Youtube playback, randomly soon after system resume SOF fw load is failing due to memory alloc failure as shown below:

[  379.480206] sof-audio-pci-intel-tgl 0000:00:1f.3: loading firmware
[  379.480213] sof-audio-pci-intel-tgl 0000:00:1f.3: Debug PCIR: 00000002 at  00000048
[  379.480218] sof-audio-pci-intel-tgl 0000:00:1f.3: Debug PCIW: 00000000 at  0000

[2022-09-03 00:10] jairaj-arava commented on #3844
The same issue is seen on KBL Eve platform too. However @crojewsk has submitted the fix https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/3792265 which reduced the frequency of occurance of the issue.

@sathya-nujella @sathyap-chrome @cujomalainey @ranj063 @plbossart @kv2019i @Vamshigopal

[2022-09-03 09:08] miliekhin commented on #3249
matebook D16. Same problemaz.
Also screen brightness fall down after wake up on Linux Mint 21

System:
  Kernel: 5.15.0-47-generic x86_64 bits: 64 compiler: gcc v: 11.2.0 Desktop: Cinnamon 5.4.11
    tk: GTK 3.24.33 wm: Mutter dm: LightDM Distro: Linux Mint 21 Vanessa base: Ubuntu 22.04 jammy
Machine:
  Type: Laptop System: HUAWEI product: HVY-WXX9 v: M1040 serial: <superuser required>
  Mobo: HUA

[2022-09-03 10:19] andreaconsole commented on #3249
This is news from July, but I am not aware of any concrete progress since then. Apparently, the activity is about a different and older architecture. I don't know if newest processors will benefit from it. I hope I'm wrong.

[2022-09-03 14:50] joshuagrisham commented on #4055
Hi!

I have the Galaxy Book2 Pro (non-360) and have similar sound issues in Linux (multiple kernels and versions of SOF).

Maybe the 360 and non-360 have some kind of difference because the verb list from that Manjaro forum post never worked for me.

However I have succeeded in using QemuHDADump to get a (very long) list of verbs that actually do work -- now I can get sound on my Book2 Pro, but I

[2022-09-03 17:00] dezo4 commented on #3336
@yangxiaohua2009
[dmesg.gz](https://github.com/thesofproject/linux/files/9483031/dmesg.gz)
There might be some interference with the sof stuff present in the kernel.

[2022-09-03 17:42] #3842 closed

[2022-09-04 10:18] hakanrw commented on #3249
I received a call from Huawei today.

Like others mentioned, their team still has no plans on supporting Linux whatsoever.

However, they said AMD team is working on the issue. This combined with recent commits to the kernel from AMD, makes me hopeful

[2022-09-04 10:22] rhowe commented on #3777
I still haven't managed to build a signed kernel, but there's a new kernel in Debian unstable.

This has the [first patch](https://lore.kernel.org/alsa-devel/20220621225641.221170-2-pierre-louis.bossart@linux.intel.com/) in the linked patch series applied, but not the other two.

Sound is still not working, although the logs are slightly different. It still fails with this, however:

[code]
This i

[2022-09-05 13:30] junocomp commented on #3800
I still can't get the mic to work. I have the latest UCM and everything.

LSHW finds the mic but it wont enable it.

[code]

[2022-09-05 13:56] junocomp commented on #3824
I still can't get the mic to work. I have the latest UCM and everything.

LSHW finds the mic but it wont enable it.

[code]

[2022-09-05 17:07] kv2019i commented on #3844
FYI to @ujfalusi as well. It seems a snd_dma_alloc_pages() fails allocating memory that can fit the firmware. One option would of course be to cache the allocation. This would cut the available memory for use-cases, but ensure we have enough at each runtime resume.

[2022-09-05 17:13] kv2019i commented on #3844
I'll move this to Linux kernel as this is not a FW issue.

[2022-09-05 20:11] zebra-ok commented on #3777
On Fedora 36 (Kernel 5.19.6-200) I also get several

[code]
during boot with missing audio.

The mentioned module reloading workaround fixes it for me, too
[code]

[2022-09-06 01:54] miRoox opened #3847 "[BUG] ipc timed out for 0x13020003|0x0: GLB_SET_PIPELINE_STATE when multiple pause resume on TGLU_RVP_NOCODEC_CAVSIPC4"
**Describe the bug**
CI observed ipc timed out for 0x13020003|0x0: GLB_SET_PIPELINE_STATE when multiple pause resume on TGLU_RVP_NOCODEC_CAVSIPC4

CI report ID: 15143

**To Reproduce**
[code]

**Reproduction Rate**
Only twice.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/thesofproject/linu

[2022-09-06 04:45] yangxiaohua2009 commented on #3336
Yes everything looks fine. The modules, firmware and tolg are all loaded correctly.

[2022-09-06 21:08] lgirdwood commented on #4055
@ujfalusi @bardliao any idea how to reset the HDA register cache here ?

[2022-09-07 01:43] miRoox opened #3849 "[BUG][IPC4] failed to prepare widget gain.5.1 when playback with S32_LE format on TGLU"
**Describe the bug**
When playback with S32_LE format audio on Deep Buffer, it will failed to install hw params
[code]
and the dmesg shows it's "failed to prepare widget gain.5.1"

CI report ID: 15173

**To Reproduce**
For HDA mode
[code]

For Soundwire mode
[code]

**Reproduction Rate**
100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (

[2022-09-07 04:04] fredoh9 opened #3850 "[JSL] multiple-pause-resume fails with IPC timed out, etrace has many xrun"
Found the problem while doing internal test with SOF FW v2.2.
15146?model=JSL_ES8336_HDA&testcase=multiple-pause-resume-50

100% reproducible with below test command in JSL_ES8336_HDA,

test command: TPLG=/lib/firmware/intel/sof-tplg/sof-jsl-es8336-ssp1.tplg MODEL=JSL_ES8336_HDA ~/sof-test/test-case/multiple-pause-resume.sh -r 50

- Kernel Branch: topic/sof-dev
- Kernel Commit: 91a177700173
- SOF

[2022-09-07 06:07] ujfalusi commented on #4055
Once the right set of verbs identified for the device they can be integrated to `sound/pci/hda/patch_realtek.c` as quirk or fixup.
After that there will be no need for the script in user space.

[2022-09-07 06:20] miRoox opened #3851 "[BUG][IPC4] failed to bind modules mixin.5.1 -> mixout.2.1 when playback on HDA Analog and DeepBuffer simultaneously"
**Describe the bug**
CI caught this issue when testing multiple pause-resume. The scenario can be simplify to playback on HDA Analog and DeepBuffer simultaneously.

CI report ID: 15173

**To Reproduce**
For TGLU_UP_HDA, run
[code]
and
[code]

**Reproduction Rate**
100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Ke

[2022-09-07 13:27] tusharvidhani3 commented on #2955
I am facing issue of whispering sound/no system sound after waking the system from suspend in all the kernels in which sound works except the kernel named linux-image-5.16.0-rc1-apl which was compiled by yangxiaohua2009 in Jan. But in that kernel I was facing problem of inverted sound in speakers and headphones so I used to select the output device manually. Please help me in fixing this issue

[2022-09-07 17:05] Grandfather-Paradox commented on #3777
Been having issues with sound spontaneously stopping (fixed by restarting pipewire) and also full system crashes on all kernels since `5.19.5.arch1-1`. I downgraded back to `5.19.4.arch1-1` and haven't had any issues with that.

[2022-09-08 08:21] kv2019i commented on #3844
@jairaj-arava SOF driver is already using the snd_dma_alloc_pages() so that change for SKL doesn't help here. The options are not so great if free memory is low and fragmented. Let us try to reproduce this.

[2022-09-08 10:29] ujfalusi commented on #3844
Can you check the `sound/core/memalloc.c` in case you are missing some patches?
There were a regression which manifested like this caused by
2c95b92ecd92e784785b1db8cccc4f0f2bfa850c ALSA: memalloc: Unify x86 SG-buffer handling (take#3)

If I recall right this patch was fixing that issue
925ca893b4a65177394581737b95d03fea2660f2 ALSA: memalloc: Add fallback SG-buffer allocations for x86

and like th

[2022-09-08 10:39] zheksoon opened #3852 "KUU YoBook M (Gemini Lake N4020) ES8336 no sound"
Hello, trying to get sound working on KUU YoBook M (Gemini Lake N4020) with Kubuntu 22.04. I compiled the kernel with patches from https://github.com/thesofproject/linux/wiki/ES8336-support, added .tplg files from the archive, tried almost every combination of quirks and MCLK settings from the https://github.com/thesofproject/linux/issues/3336 issue, but still no success. Soundcard is detected, bu

[2022-09-08 10:55] kv2019i commented on #3844
I think I found a bug that can explain this. @jairaj-arava , can you try this https://github.com/thesofproject/linux/pull/3853

[2022-09-08 11:10] zheksoon commented on #3852
Update: was able to fix this using point 4.2 from https://github.com/yangxiaohua2009/custom-kernel:
[code]

[2022-09-08 11:10] #3852 closed

[2022-09-09 03:34] mengdonglin commented on #3850
@mengdonglin @keqiaozhang Maybe we can give a low priority to this issue as it has no impact on end user experience.  Pause & Release by FW is not used by Linux or Chrome.  So we're not likely to fix this.

[2022-09-10 12:30] zheksoon commented on #3824
Having the same story on KUU YoBook M (Gemini Lake N4020), no internal mic is detected, and `alsamixer` cannot enable the corresponding flag. But when I re-route MIC1 to headset using `SOC_ES8336_HEADSET_MIC1` quirk (`options snd-soc-sof-es8336 quirk=0x122`), I am able to capture internal microphone sound with `arecord -Dhw:0,0 -c2 -r48000 -d 10 -f S32_LE test.wav` (though of very bad quality with

[2022-09-10 13:51] zheksoon commented on #3824
Just checked again, without `SOC_ES8336_HEADSET_MIC1` quirk it's enough to switch Differential Mux to lin2-rin2 in `alsamixer` to capture internal microphone sound. So the problem is that no separate internal microphone device is available.

[2022-09-10 14:42] OlegSadJktu commented on #3249
after all the events of huawei and the usa, the company should be closer to open source than to a proprietary evil corporation... i don't understand why they don't add sound support after all this time

[2022-09-10 19:07] junocomp commented on #3824
@zheksoon Are you able to see your mic now on gnome-settings or is it picked up by any other apps?

Have you tried https://mictests.com/ ?

[2022-09-10 19:30] zheksoon commented on #3824
Nope, there is still no microphone device in pulse audio settings, so external applications don't recognize it's connected and pick up monitor device (which just replays output to the input)

[2022-09-10 19:32] junocomp commented on #3824
@zheksoon I tried your suggestion and I coudn't get the mic to detect at all, not even when create a wav file.

[2022-09-10 19:36] zheksoon commented on #3824
@junocomp both with the quirk and Differential Mux settings? Maybe try to play with different combinations in alsamixer, something should work for analog mic. And are you sure your mic isn't dmic?

[2022-09-11 13:01] zheksoon commented on #3824
@plbossart could you please elaborate on what should be done to make the internal microphone device to get detected and appear as input in Pulse Audio?

[2022-09-12 11:28] ujfalusi commented on #3838
@paulmenzel, audio is not even probed according to the log, usually what is not loaded can not make the login manager not start...
If no audio is present that I believe they should be able to handle that, if they need audio (which I'm not sure they do).

Can you check if it is working with newer rc? If I recall there were ACPI regressions which might got fixed after rc2. My 11th gen sdw laptop wor

[2022-09-12 11:30] paulmenzel commented on #3838
Thank you for your analysis. The device is used by a user in production now with the distribution Linux kernel, so I can’t test anymore.

[2022-09-12 11:30] #3838 closed

[2022-09-12 11:32] ujfalusi commented on #3838
@paulmenzel, I see, the laptop is working as expected with the distro kernel? Just out of curiosity.

[2022-09-12 11:42] ujfalusi commented on #3837
@paulmenzel, it is fixed upstream by 2ea3b19792dbe32287b0c48f3ff7e866f61967c7

[2022-09-12 11:52] paulmenzel commented on #3838
Sorry for not adding that information. There are also issues with the distribution kernel, but not the one described here.

[2022-09-12 11:52] #3837 closed

[2022-09-12 11:56] ujfalusi commented on #3850
Should this be moved to firmware? There is not much the kernel do if it does not get reply...

[2022-09-12 12:01] ujfalusi commented on #3850
Actually, we have an error coming back from the firmware before the timeout:
[code]
After this, all IPC message will time out. This indicates that the firmware might have locked up or crashed.

[2022-09-12 12:04] ujfalusi commented on #3847
A combination of https://github.com/thesofproject/linux/pull/3843 and https://github.com/thesofproject/sof/pull/6275 should fix most IPC timeouts with IPC4.

[2022-09-12 12:12] plbossart commented on #3824
There is no 'detection' of internal microphones. The only think that can interfere is the detection of the headset. If that is not working, then it's possible that you never see the internal mic.

One possibility is to comment out the 'conflicting device' in the UCM file, That should show you both inputs and give you the ability to select the relevant input.

[2022-09-12 12:29] plbossart commented on #2955
You need the patch for suspend-resume, see updated wiki  https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-09-12 12:53] plbossart commented on #3840
We don't support KBL with the SOF firmware, only closed-source. You would need to set the ipc_type=1 option, but if the hope is that we handle the ES8336 driver that's not going to work. We only support HDaudio on KBL and only for development. It is what it is.

If you have devices with KBL+ES8336 you would need to work with the AVS driver.

[2022-09-12 14:00] ethylmorphine opened #3899 "[BUG][JSL] Chuwi Hi10 Go - No sound output/input"

[2022-09-12 14:19] plbossart commented on #3831
@tvelazquez make sure snd-soc-es8316 is probed and provide the information shown in /sys/kernel/debug/asoc/components

[2022-09-12 17:39] tvelazquez commented on #3831
@plbossart added some printk at es8316_probe() and es8316_i2c_probe() but dmesg doesn't show it.

/sys/kernel/debug/asoc/components:
0000:00:1f.3
ehdaudio0D2
dmic-codec
snd-soc-dummy
snd-soc-dummy

[2022-09-12 17:44] plbossart commented on #3831
@tvelazquez can you share the DSDT and also verify that this codec driver is part of the build? Wondering if there is some sort of I2C configuration issue.

[2022-09-12 18:11] tvelazquez commented on #3831
@plbossart here you have the DSDT
https://github.com/tvelazquez/thesofproject/raw/main/dsdt.dat
https://github.com/tvelazquez/thesofproject/raw/main/dsdt.dsl

[2022-09-12 18:12] plbossart commented on #3899
https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-09-12 18:30] plbossart commented on #3831
I don't see anything blantantly wrong in the DSDT @tvelazquez but it's also on the rather convoluted side.

I don't see why e.g. there are two addresses for this codec
            Name (SBUF, ResourceTemplate ()
            {
                I2cSerialBusV2 (0x0010, ControllerInitiated, 0x00061A80,
                    AddressingMode7Bit, "\\_SB.PC00.I2C2",
                    0x00, ResourceConsumer

[2022-09-12 18:39] plbossart commented on #3804
can we close this issue @keqiaozhang ?

[2022-09-12 21:46] d3vv3 commented on #3777
This is also happening to me on debian testing (5.18.16-1~bpo11+1)

[code]

As @downeymj said, `sudo modprobe -r snd_sof_pci_intel_tgl` and `sudo modprobe snd_sof_pci_intel_tgl` after login solves the issue. Still no microphone though.

[2022-09-13 01:56] yangxiaohua2009 commented on #3840
I wrote a [machine driver](https://github.com/yangxiaohua2009/linux/pull/2/files) based on existing kbl i2s driver. The driver is successfully loaded but the tplg firmware is no loaded. Do you know how to get the correct tplg firmware like kbl_tplg.bin? Can I use the firmware for windows?

[2022-09-13 02:52] keqiaozhang commented on #3804
This issue is fixed by https://github.com/thesofproject/sof-test/pull/953. Closing this issue.

[2022-09-13 02:52] #3804 closed

[2022-09-13 03:21] yangxiaohua2009 commented on #3831
@tvelazquez
Do you know how to change [ACPI in Linux](https://docs.kernel.org/admin-guide/acpi/initrd_table_override.html)? Please remove the second I2C address.

You can verify it by install i2c-tools and dump the i2c by
`sudo i2cdump -f -y 1 0x10`
1 is your bus number, may be 0-10.
0x10 is your chip i2c address, 0x10 or 0x11.
![cc1e20a961e2af65cdde5303dcef824](https://user-images.githubuserconte

[2022-09-13 04:02] jthompson05 commented on #3612
@plbossart For the first time, everything is functional on my device under Linux!
![image](https://user-images.githubusercontent.com/96457853/189804201-85160973-67c9-421d-8878-c3edc7d6abf7.png)
I still have some questions however. I used Kernel 6.0 from [here](https://kernel.ubuntu.com/~kernel-ppa/mainline/?C=N;O=D), and installed your UCM files. Interestingly audio didn't work right away. My devi

[2022-09-13 07:10] hathvi commented on #3777
Not sure if my info is useful at this point or not.

I'm also on a Dell XPS 17 9720 running Arch and would receive multiple `sof_sdw sof_sdw: snd_soc_register_card failed -517` messages and the Intel card would not work while the Nvidia card would still show in pavucontrol ( although didn't actually test audio out the Nvidia devices ). Random reboots would result in no error and pavucontrol showin

[2022-09-13 07:25] plbossart commented on #3831
@andy-shev would you happen to know if there's a way to ignore one of the two addresses in ACPI? see above the DSDT contains two addresses for the same codec, this looks wrong?

[2022-09-13 07:34] plbossart commented on #3777
Humm, there is something odd here @hathvi . Can you re-run 'sudo dmidecode' and check what the SKU is?

We don't seem to support the version 0x0AFF. I am not sure if this is related to the -517 (-EPROBE_DEFER) issue but that would prevent the jack from working for sure.

[2022-09-13 07:40] plbossart commented on #3612
No idea @J0shuaT, it's likely that there are missing mixer values in the UCM file.

I would be cautious with the script you mentioned, it makes no sense to reduce the PGA volumes. The PGA parts are meant for developers, but for actual devices all PGA volumes should be set to 0dB/100%.

You will have to find out what's missing and suggest a change to the UCM file for a turn-key experience.

[2022-09-13 07:42] plbossart commented on #3840
For KBL support, you need to talk with @crojewsk @crojewsk-intel. we don't support SOF with I2S codecs on those platforms.

[2022-09-13 07:46] hathvi commented on #3777
@plbossart `dmidecode` shows `SKU Number: 0AFF` under System Information

[2022-09-13 07:59] plbossart commented on #3777
ok, so unsupported SKU. Gah,

Can you please run this command and report the results:
cd /sys/bus/acpi/devices
cat */adr | grep 025d

This should report what Realtek devices you have.

[2022-09-13 08:02] hathvi commented on #3777
[code]

[2022-09-13 08:13] plbossart commented on #3777
ok @hathvi I added a patch to set the correct quirks for jack detection and 4 speakers. Can you try PR #3856 please if you are able and willing to compile your own kernel?

[2022-09-13 08:15] hathvi commented on #3777
I haven't compiled a kernel in maybe years, but I'll give it a shot. What's the worst that can happen! :smile: Thank you @plbossart I'm working on this now, but may need to get back to you tomorrow.

[2022-09-13 08:18] plbossart commented on #3777
if this helps you can refer to the wiki https://thesofproject.github.io/latest/getting_started/setup_linux/install_locally.html

[2022-09-13 08:33] paulmenzel commented on #3777
Could a new issue be created for the last problem, that can also be referenced in the merge/pull request?

PS: Arch Linux has [instructions in the Wiki](https://wiki.archlinux.org/title/Kernel/Traditional_compilation). For RPM and DEB based distribution Linux provides “package targets”, for example, `make bindeb-pkg`. `make help` describes all targets.

[2022-09-13 08:46] plbossart commented on #3777
@paulmenzel I think the issues are related. If you don't have the quirks in the machine driver, then the default will be to expose a single amplifier but the topology refers to two amplifiers. That's an invalid configuration.

[2022-09-13 10:42] hathvi commented on #3777
@plbossart Sorry it took so long, I did a parallel build and didn't think it would take so long, and it failed. :smile:

I got it to build after installing a missing package, and everything is looking good. I'm not sure if I needed to do this or not, but I disabled the blacklisting of `snd_sof_pci_intel_tgl` and the systemd service to `modprobe snd_sof_pci_intel_tgl` and rebooted a couple of times

[2022-09-13 11:31] plbossart commented on #3777
Thanks @hathvi. Glad to hear things work now. If you have time, it would be interesting to revert the last patch with the quirk to see if it actually fixes anything, or if the fix in in the updated kernel already. I still don't get why we see those deferred probes only on some platforms, it'd help us a great deal to triangulate the problem.

[2022-09-13 12:47] jthompson05 commented on #3612
@plbossart Thanks for the quick reply. I guess only lines 14-48 of the script are useful. So would I have to submit a pull request [here](https://github.com/alsa-project/alsa-ucm-conf)? I don't believe the UCM files for GLK Chromebooks are included by default in any linux distributions yet.

[2022-09-13 13:05] plbossart commented on #3612
Right, only some UCM changes were merged recently by @perexg for GLK

[2022-09-13 15:34] zebra-ok commented on #3777
Actually, I have to admit, on my Dell 9320 with Fedora 36, it also loads the sound kernel module sometimes successfully – and often not. Plus, I see the sleep/shutdown issues, too, if there was the sound problem. I'm currently on `5.19.8-200.fc36.x86_64` but this issue persists since 5.18.11 - this was the last kernel, where sound worked on every boot.

[2022-09-14 00:37] tvelazquez commented on #3831
@plbossart Thanks for your analysis and support!

@yangxiaohua2009 I have never changed the ACPI and I have to study how to do it.
The same i2cdump output for all combinations of bus number 0 to 10 and i2c addresses 0x10 or 0x11.

No size specified (using byte-data access)
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f    0123456789abcdef
00: XX XX XX XX XX XX XX XX XX XX XX XX XX XX XX XX

[2022-09-14 07:15] hathvi commented on #3777
@plbossart I reverted the quirk commit and rebuilt, audio appears to be working great still without those changes. I'm sure this tells you a lot, but out of personal curiosity, what's the difference between the sof-dev branch and the tip of linux-5.19.y, does this just suggest either 5.19.8 should also work or that changes yet to be merged upstream for 5.19 will fix my problem?

[2022-09-14 07:16] callegar commented on #2955
As of kenel 6.0RC4 (does it include all patches?) and sof firmware/topology 2:2:0-57864 (should it be 3:23 with this kernel?) there is still no  sound on the Chuwi Hi10X.

- Speaker device is shown
- Internal speaker clicks at boot
- Trying to play audio results in no sound
- No internal microphone is shown
- Headphone detection does not work, plugging something in the headphone jack has no effect

[2022-09-14 07:25] hathvi commented on #3777
Oddly ( or perhaps not? ).. I just switched back to the 5.19.7-arch1-1 kernel I was on before, still w/ the blacklist + modprobe after boot fix disabled, and I've booted twice now without any audio issues.

[2022-09-14 08:05] plbossart commented on #2955
https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-09-14 08:08] plbossart commented on #3777
I think there's a mysterious combination of commits in the arch kernel that exposes the probe delay. We haven't been able to see this with the Ubuntu kernels or the topic/sof-dev. I think you still need the patch for this skew, otherwise jack detection and 4-speakers won't work.

[2022-09-14 08:23] Checho1192 commented on #3350
Anyone got a solution for at least working with wired headphones?

[2022-09-14 08:29] artsiomivanets commented on #3350
nope

[2022-09-14 08:35] AlexXanderGrib commented on #3350
For me solution is USB headphones - they work flawlessly

[2022-09-14 12:27] cringeops commented on #3899
Okay, that was quite a quest. I have compiled a kernel from the tag and finally got the real reason why there is no sound.
`sof-audio-pci-intel-icl 0000:00:1f.3: Overriding topology with MCLK mask 0x1 from NHLT`

Rather interesting is that I hear hissing from the left speaker when I switch from SSP0 to HDA link in UEFI. At least one of them gets powered on, yay.

[2022-09-14 12:49] changedsoul commented on #3777
I just gave this a try with sporadic success. This audio issue is very strange. First time I booted the patched kernel, sound worked. Rebooted a few time, then sound didn't work.
I also noticed that rebooting has a different affect than fully powering down and booting.
No matter the stock kernel or patched kernel, if I remove and reload the kernel module to get sound working, it will always work a

[2022-09-14 12:52] changedsoul commented on #3777
I just gave this a try with sporadic success. This audio issue is very strange. First time I booted the patched kernel, sound worked. Rebooted a few time, then sound didn't work.
I also noticed that rebooting has a different affect than fully powering down and booting.
No matter the stock kernel or patched kernel, if I remove and reload the kernel module to get sound working, it will always work a

[2022-09-14 13:22] plbossart commented on #3777
I would try to enable dynamic debug in the ASoC core @changedsoul. It's going to be extremely verbose but possibly point to which resource is missing for the card to be registered.

Please add this in /etc/modprobe.d/alsa-base.conf and attach the log when things go sideways

options snd-soc-core dyndbg=+pmf

[2022-09-14 13:32] plbossart commented on #3899
That statement  in the documentation is obsolete, the selection of MCLK is now supported. But in this case the default was already MCLK0, mask 0x1 means MCLK0...

I don't understand what you are referring to, this device can only support SSP, not HDaudio.

[2022-09-14 14:53] cringeops commented on #3899
My bad. I meant that the only thing I was able to get from speakers is hissing when I switched SSP0 to HDA link in UEFI. I do realize that HD audio is not supported by the platform.

At this point, I'm out of ides as to why there is no sound. `alsaucm reload` does not report any issues with configuration as well.

[2022-09-14 17:12] junocomp commented on #3824
@zheksoon have you had any luck?

[2022-09-14 17:17] zheksoon commented on #3824
@junocomp nope, I tried to mess with ALSA UCM settings, but removing all conditions and conflict devices from it doesn't make a microphone to appear as a device. Anyway I had only sport interest in enabling it, its quality is so bad it will be unusable in real life.

[2022-09-14 17:26] cihatertem commented on #3350
Almost we'll celebrate the topic's birthday and there is still no solution yet. I hope we'll see the bug is over :)

[2022-09-15 01:27] changedsoul commented on #3777
@plbossart Where do I find the log file at?
Edit, never mind, I was looking for a log file, didnt know it would dump into jounralctl.
Attached are two logs, one with working sound at boot, the other with non-working sound at boot.
Hope this helps root out this bugger.

[non-working_sound.txt](https://github.com/thesofproject/linux/files/9571111/non-working_sound.txt)
[working_sound.txt](https://gi

[2022-09-15 08:17] ujfalusi commented on #3847
The firmware likely crashed:
`Host IPC initiator: 0x93020003|0x0|0x0, target: 0x0|0x0|0x0, ctl: 0x3`

The kernel can not do much about this.

[2022-09-15 08:18] plbossart commented on #3727
@AlecJY I am told there's a tentative fix available made available by the Quanta BIOS team at https://drive.google.com/file/d/1ZjX-Gvb_Zy948t2f44D4gXIiiXVZbdfp/view.

If you are willing to give this update a try that would be appreciated. You may want to make sure you have a BIOS backup or something to go back to the previious solution should any problems occur.

[2022-09-15 08:28] plbossart commented on #3777
Yes, that was useful @changedsoul, now we see that's there's clearly an issue with the RT7111 resources not registered

[code]

The -517 means -EPROBE_DEFER, which means the machine driver tries multiple times to register the card, but every time it's missing the rt711 component.

Can you redo the test and add these options to trace the SoundWire enumeration parts:
options soundwire_bus dyndbg=+pm

[2022-09-15 08:38] ujfalusi opened #3861 "[IPC4] Suspend/resume support is broken"
**description**
Suspend resume does not work with IPC4 given if the buffer size (thus the stop_threshold) is small enough.
In this case we are going to get xrun before suspend and the xrun handling will do a TRIGGER_STOP (and because of this no TRIGGER_SUSPEND).
This will cause IPC errors and later the core use count is going to be off also which will lead unexpected core0 shutdown:
- The TRIGGER_

[2022-09-15 08:40] ujfalusi commented on #3861
@plbossart, @ranj063, @bardliao, @kv2019i, @lyakh FYI

[2022-09-15 11:21] ujfalusi commented on #3861
Can this be solved by implementing the `tear_down_all_pipelines` / `set_up_all_pipelines` callbacks for IPC4 as well, but I'm not sure how it should look like.

[2022-09-15 12:15] changedsoul commented on #3777
Here are the logs with the added log options.

[non-working_sound_MoreLogOptions.txt](https://github.com/thesofproject/linux/files/9575068/non-working_sound_MoreLogOptions.txt)
[working_sound_MoreLogOptions.txt](https://github.com/thesofproject/linux/files/9575069/working_sound_MoreLogOptions.txt)

[2022-09-15 13:25] plbossart commented on #3777
very interesting @changedsoul, in the working case, we see 4 logs of 'probe complete', which means that all needed resources have been created. In the non-working case, we only see 2 logs of 'probe complete', which means that it's normal that the card is not created: the codec drivers for RT711 and RT714 have not completed their probe.

can you apply this patch
[probe.diff.txt](https://github.com/

[2022-09-15 14:58] ranj063 commented on #3861
@ujfalusi is this IPC4 specific only? How is this different for IPC3?

[2022-09-15 16:05] AlecJY commented on #3727
@plbossart I tried to update the BIOS with the utility. However, it showed this.

![image](https://user-images.githubusercontent.com/9132996/190451333-6ea2af84-3676-4afe-9ca3-49fc2b18e7f8.png)

I also tried to install with recovery USB, but it showed another error message.

![image](https://user-images.githubusercontent.com/9132996/190452870-7bce4fba-d6bb-4138-9092-dd25a1e8fa0e.png)

[2022-09-15 18:59] crojewsk-intel commented on #3840
@plbossart thanks for the mention.

@yangxiaohua2009 I've included your request in out TODO list. There is an ongoing effort to share the tools and the topology examples for the avs-driver under SOF umbrella. It's not going to finish within a day or two, but we're just few weeks shy.

Could you provide alsa-info output and the model of your machine? I admit that KBL+ESXXXX is a configuration I hea

[2022-09-16 02:11] changedsoul commented on #3777
Here are the logs with the patch.

[non-working_sound_MoreLogOptions_WithPatch.txt](https://github.com/thesofproject/linux/files/9580056/non-working_sound_MoreLogOptions_WithPatch.txt)
[working_sound_MoreLogOptions_WithPatch.txt](https://github.com/thesofproject/linux/files/9580057/working_sound_MoreLogOptions_WithPatch.txt)

[2022-09-16 05:01] yangxiaohua2009 commented on #3840
@crojewsk-intel See alsainfo [here](http://alsa-project.org/db/?f=92efa3d855b32f56f4f8860c920b150aeb2f84a9).
The OEM uses KBL -R with ES8336 and ask for Linux support. I wrote a machine diver but don't know how to generate tplg.bin.
I do have IADK but didn't see KBL tplg included.

[2022-09-16 06:58] hathvi commented on #3777
Just an update.. oddly I haven't had any issues with audio since I moved back to the 5.19.7 arch kernel and now 5.19.8, and I do not have the old hack I had in place before to get audio working on the arch kernel. I've rebooted at least 30-40 times by now as I've been working on testing some other stuff, and each time I test the audio and it's working. It's almost like booting into the patched ker

[2022-09-16 07:10] hathvi commented on #3777
Sorry, I retract my last comment. Tonight's first boot resulted in no audio on the arch kernel without the quirk patch with the `snd_soc_register_card failed -517` error. Gotta love races..

[2022-09-16 08:19] plbossart commented on #3777
@changedsoul the additional logs show that the 'probe started' only shows up 2 times instead of 4. I don't have an explanation for this, this is very very odd. This could be a bug in the driver core, something we've never seen before.

But to be clear, this is with the Arch 5.19.8 kernel. I have no idea what this is. Can you please retry with our SOF development tree and re-check? I'd like to make

[2022-09-16 09:07] hathvi commented on #3777
Not sure if this is what you're referring to, and I'm sure you're already aware of this, but Arch appears to just rebase a series of commits on top of each stable kernel tag, of which https://github.com/archlinux/linux/commit/aaaa4d04d55ded0ec738ae5a6f927eeec66434e3 is one of those and has been getting pulled in since 5.19.2-arch1. https://github.com/archlinux/linux/commits/v5.19.8-arch1

Would pr

[2022-09-16 09:12] plbossart commented on #3727
Thanks @AlecJY. Quanta confirmed that end-users cannot install non 'formal' BIOS releases so they will have to do the validation. Sorry for the noise and thanks for your tests.

[2022-09-16 09:17] plbossart commented on #3777
well that's the point, we don't know what Arch does, the stable kernel moves all the time, and it'd be best to test with the bleeding edge SOF kernel so that we can focus on the problem. In general our team does not have bandwidth to track issues that cannot be reproduced with upstream code, thanks for your understanding.

[2022-09-16 11:13] basilbasilikum opened #3865 "Hang on boots with snd_sof_pci"
Very similar to #2066 and probably also #3838

On Fedora 36, with clean install, some boots will hang (will not get to login screen, or even if it does, it hangs shortly after).

If `options snd-intel-dspcfg dsp_driver=1` is added to `/etc/modprobe.d`, it'll boot fine with sound, but no mic.

`sudo journalctl -b -1 --no-hostname` after a force reboot is [here](https://bugzilla.redhat.com/attachmen

[2022-09-16 12:23] plbossart commented on #3865
@basilbasilikum can you share the output of 'alsa-info', it's not clear what hardware you are using. Thanks!

Can you also add a 'blacklist snd-sof-pci-intel-cnl', boot and then do a manual 'modprobe snd-sof-pci-intel-cnl'
that would help check if there's something blocking

better yet, add dynamic debug by copying this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/958390

[2022-09-16 12:50] basilbasilikum commented on #3865
`alsa-info.sh`: http://alsa-project.org/db/?f=d613e748b059dc93e8c761432a6be7e93f1d393c

I will try 'blacklist snd-sof-pci-intel-cnl' and `sof-dyndbg.conf.txt` and report back.

[2022-09-16 13:02] basilbasilikum commented on #3865
With `blacklist snd-sof-pci-intel-cnl`, and `sudo modprobe snd-sof-pci-intel-cnl` after boot, the command completed and exited without errors but immediately after exit the system hangs.

[2022-09-16 13:36] basilbasilikum commented on #3865
I have enabled dynamic debugging, but not sure how to get the logs file when it crash because:
1. it doesn't always crash immediately
2. when it crash, the logs are not synced to disk so I can't get it after a force reboot

I will try enabling dynamic debugging and boot without `blacklist snd-sof-pci-intel-cnl` and try to record the screen as it boots later today when I get home.

[2022-09-16 14:12] plbossart commented on #3865
ok, so
[code]
means a standard platform
[code]

Please make sure you remove the dsp_driver option, that will select snd-hda-intel only.

I am not aware of any specific issues with that platform, quite surprising.

[2022-09-16 14:14] changedsoul commented on #3777
The issue seems to be present only on cold starts for me. Once I kill the module and reload, it seems to work all the time between reboots. A shutdown to dark and power up will almost always most certainly result in failed sound, probably 99% of the time.

Ill give that a shot and report back.

[2022-09-16 14:21] crojewsk-intel commented on #3840
@yangxiaohua2009 thanks for the input. Will ping you back next week. Sharing binary version of the topology is less of a problem when compared to sharing the base (ADSP) firmware binary. Will sync with our folks regarding this.

Note: We do not posses device of yours (model) so we may need your help in testing the topology out. The base firmware is one for the entire platform family, but the topol

[2022-09-16 17:17] changedsoul commented on #3777
Ok, well I compiled the SOF kernel, 5.19.0-rc2-93967-gbe022083afd2
Started computer a few times and have had sound each time, so it seems maybe its in the arch config?
Where do we go from here?

Edit: I was also compiling using the Arch Build System where as the SOF kernel I manually compiled. I used the Arch default config found in `/proc/config.gz` and when prompted for new config entries, I jus

[2022-09-16 19:00] jairaj-arava commented on #3844
I still see the issue with the #3853.

[2022-09-16 20:40] basilbasilikum commented on #3865
https://youtu.be/OA8kGVxzN10 here is a video of the boot with dynamic debugging and without `dsp_driver` nor `blacklist snd-sof-pci-intel-cnl`

Could it be because it's specific to Dell or certain hardware more specific than just the platform? Or it's just a coincidence that #3838 is also on a Dell?

[2022-09-17 06:52] tusharvidhani3 commented on #2955
I am still facing the same issue even after compiling the kernel from your source and following the ES8336-support wiki and after you added suspend/resume support.

[2022-09-17 13:42] NikitaMarakushev commented on #3350
still not working, huawei matebook d14

[2022-09-18 06:59] BogdanovBogdan commented on #3350
on matebook d 15 not working too

[2022-09-18 07:02] BogdanovBogdan commented on #3350
Maybe there are alternative solutions like wireless headphones or an external sound card?

[2022-09-18 07:57] Scanode commented on #3350
That's been most peoples solution so far. I've been using a really low profile usb sound card for the time being, but its still a jank solution lol

[2022-09-19 01:57] keqiaozhang commented on #3847
Observed this issue again in inner test 15477.

[2022-09-19 02:08] keqiaozhang commented on #3715
@fredoh9  we haven't seen such issue in CI for months. Please @fredoh9 help to confirm it in recent stable-v2.2 tests.

[2022-09-19 05:34] ujfalusi commented on #3847
@keqiaozhang, that's OK, but the kernel still can not do much about. The firmware likely crashed as it is not even acked the message. A DSP power off / on cycle might be able to fix this.
What leads to a crash _might_ be caused by the kernel doing something unexpected, but never the less, the firmware must not crash int hat case.

Can this be moved to firmware?

[2022-09-19 08:10] plbossart commented on #3777
Thanks @changedsoul. You can use 'make olddefconfig' to avoid having to press enter dozens of time.

Your experiment points to the code used by the Arch kernel. Given the same Kconfig inputs (modulo an update of new definition), the results are different. This is very interesting and rather difficult to debug further since we can't do a straightforward git bisect.

I would try to redo the experime

[2022-09-19 08:12] plbossart commented on #2955
There's something still fishy with the suspend-resume patch, in our regression tests with the new kernels we found some I2C issues and reverted it locally to make progress. Don't expect a turn-key solution any time soon.

[2022-09-19 08:22] plbossart commented on #3865
Try this
blacklist snd-sof-pci-intel-cnl
reboot
dmesg -C
dmesg -w > log.txt
in another terminal sudo modprobe snd-sof-pci-intel-cnl

if this hangs again, reboot and check what the log says. If there are any issues please attach the file. thanks!

[2022-09-19 10:31] kv2019i opened #3867 "provide interface to query loaded firmware and topology to userspace via debugfs"
As the logic has got more complicated to select the SOF firmware and topology filenames to load,  it is getting more and more difficult to write robust test-cases that need to match test-content with the topology and firmware loaded.

To make test case development easier and more robust, the kernel should expose the firmware and topologies that have been loaded via debugfs or sysfs.

Example discu

[2022-09-19 10:45] sathyap-chrome commented on #3867
Thanks @kv2019i  for initiating. This helps in case of Chrome too as we have multiple diffferent path for FW and TPLG as below

eg1 : intel/sof/community/<fw>
eg2 : intel/sof/<board_name>/<fw>

We have multiple topology for same board name too:

eg1: intel/sof/board1/board1_2mic.tplg
eg2: intel/sof/board1/board1_4mic.tplg

So i was thinking we can either
(a) We get FW and TPLG path if we enable de

[2022-09-19 12:47] plbossart commented on #3867
@sathyap-chrome the Chrome case is inextricable, since you have overlays the name of the files can be ambiguous and point to different topologies or firmware files. You will need a MD5 signature to identify the files I am afraid....

[2022-09-19 14:03] plbossart commented on #3840
not an SOF issue or supported platform, closing

[2022-09-19 14:03] #3840 closed

[2022-09-19 14:06] plbossart commented on #3844
@jairaj-arava that would mean the platform is not able to allocate 4KB? Can you attach the latest logs with this #3853?

[2022-09-19 14:13] sathyap-chrome commented on #3867
@plbossart  The place where we request the final FW or TPLG to load has all the path information including the overlay names to be added. I can do some experiments and share more insights tomorrow.

[2022-09-19 15:57] basilbasilikum commented on #3865
The `log.txt` came out empty, probably because the file wasn't written to disk before the system hanged.

However, I tried using another PC to connect to the laptop via SSH to execute the `dmesg` commands and had some results: https://pastebin.com/KPQrp0Ka

[2022-09-19 16:13] plbossart commented on #3865
@basilbasilikum no real smoking gun, but the last thing that happens is to deal with a capture stream:

[code]

This typically happens when PulseAudio or PipeWire try to start streams on startup. Can you disable both and try just booting the kernel, with no streams in use. Thanks!

[2022-09-19 16:50] joshuagrisham commented on #4055
Hi @ujfalusi this sounds great to me but still having a bit of trouble with being able to quickly test which verbs are really needed vs not. The issue is it takes some time for the cache to reset/clear so trying to narrow down 1500 verbs to just a few (5-10??) with only one attempt per day is a bit tricky :laughing:

I have tried a bit with using some of the sysfs files (https://www.kernel.org/doc

[2022-09-19 17:10] basilbasilikum commented on #3865
Does running `systemctl --user disable pipewire-pulse.socket`, `systemctl --user disable pipewire-pulse.socket`, `systemctl --user disable pipewire.socket` and `systemctl --user disable pipewire.service` as non-root user, and boot without `blacklist snd-sof-pci-intel-cnl` suffice?

[2022-09-19 17:49] basilbasilikum commented on #3865
So apparently even if the services are disabled, they'll still start on boot. So I booted with `blacklist snd-sof-pci-intel-cnl`,  and then stopped the services, then only I run `sudo modprobe snd-sof-pci-intel-cnl`. I have done this for 10+ boots, so far it still hasn't crash yet. But might be too soon to tell. I will loop it overnight later to be sure.

My current `/etc/modprobe.d/blacklist_snd.

[2022-09-19 22:00] jairaj-arava commented on #3844
We tried the below scenarios and could still see the issue in all scenarios . For the step 3, attached the dmesg logs and couldn't see fw logs since fw boot is failed (Attached fw logs dump just before we hit the issue).
1. ADL-004 release
2. ADL-004 release + IMR
3. ADL-004 release + IMR + Kai's #3853  patch
[SOF_DMESG_logs.txt](https://github.com/thesofproject/linux/files/9602584/SOF_DMESG_logs.

[2022-09-20 06:42] keqiaozhang commented on #3847
We observed this issue with IPC4 tester, not SOF firmware.

[2022-09-20 07:39] ujfalusi commented on #3861
Fixed by: https://github.com/thesofproject/linux/pull/3862

[2022-09-20 07:39] #3861 closed

[2022-09-20 10:10] jthompson05 commented on #3612
@plbossart I noticed that the audio can only be fully functional on a distro with PulseAusio installed. PulseAudio cannot be installed on Pop OS 22.04, so I can’t get fully functional audio on there. Have you experienced this as well?

[2022-09-20 10:59] plbossart commented on #3612
@J0shuaT you need PulseAudio or PipeWire mainly to parse the UCM files and apply the relevant settings when the desired sink/source changes. I have no idea what PopOS does, but it would need a similar solution to deal with endpoint-specific settings. Alternatively the settings can be used with alsaucm in a terminal, e.g.
alsaucm -c bdw-rt5677  set _verb HiFi set _enadev Headphones

[2022-09-20 12:05] kv2019i commented on #3844
@jairaj-arava I've been trying to reproduce this on a local machine for couple of hours, but with no luck (I'll contact you separately to sync the details of the environment). This is running a bit older Cros (R100), but I thought to start with this. I've monitored /proc/meminfo and I can see "Slab" and "SUnreclaim" grow a bit, and also overall "Committed_AS", but nothing drastic and I've not been

[2022-09-20 12:37] jthompson05 commented on #3612
Thanks for the tip. However when I run the command, I get this:

[code]
I'm not sure what the issue is.

[2022-09-20 12:42] plbossart commented on #3612
@J0shuaT you need to have matching alsa-lib, alsa-utils and alsa-ucm-conf versions. If you have the latest of one and not the other things break.

[2022-09-20 12:45] ujfalusi commented on #3844
Locally tested workaround: https://github.com/thesofproject/linux/pull/3872

The buffer allocation for ICCMAX will be also skipped in case of IMR booting.

@jairaj-arava, can you test it on your system?

[2022-09-20 12:45] basilbasilikum commented on #3865
I have looped the actions (reboot, stop all pipewire services/sockets, modprobe snd-sof-pci-intel-cnl) every five minutes for 10 hours, and I can confirm that if pipewire is stopped before modprobing, it will indeed not hang. If I don't stop pipewire before modprobing, it will hang.

[2022-09-20 12:49] plbossart commented on #3865
@basilbasilikum thanks for the tests, what happens if you restart PipeWire e.g. 10s after the 'sudo modprobe snd-sof-pci-intel-cnl'

FWIW we have a similar sighting on a different platform, so chances are you were the first reporter of a problem we missed in our validation.

[2022-09-20 12:54] jthompson05 commented on #3612
Thanks for your help. I'll check the versions now.

[2022-09-20 14:05] basilbasilikum commented on #3865
It still hangs after PipeWire is started.

[2022-09-20 14:19] plbossart commented on #3865
Thanks @basilbasilikum, this really helps.

[2022-09-20 14:51] KekcuHa commented on #3350
Faced the same issue, Arch Linux on Honor MagicBook View 14 (CX8070).

[2022-09-20 15:31] plbossart commented on #3865
Sorry one more question @basilbasilikum. When you start pipewire, is the entire device stuck, or just the terminal where you issued the systemctl command? In the latter case, can you e.g. open another terminal and see the dmesg log?

[2022-09-20 17:02] jthompson05 commented on #3612
I gave up and stuck to Ubuntu 😅

[2022-09-20 17:20] basilbasilikum commented on #3865
The entire device is stuck, even REISUB doesn't work. So I can't see the dmesg log on that device. I can try using SSH from another device to get the dmesg log like before later.

[2022-09-20 19:50] faerics opened #3873 "[BUG] Infinix Inbook X2 no sound (both speakers and jack)"
Hello,

following [docs](https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support) and [wiki](https://github.com/thesofproject/linux/wiki/ES8336-support) I've compiled the [5.19.0 + fixes](https://github.com/thesofproject/linux/tree/es8336-v5.19) kernel. and see Dummy output instead of the sounding device.
New topology files added.
My laptop is Infinix Inb

[2022-09-20 20:17] basilbasilikum commented on #3865
Here's the dmesg log: https://pastebin.com/tq6Ych5X

10 seconds after I start PipeWire, it hangs.

[2022-09-20 20:41] basilbasilikum commented on #3865
Just to be clear, I connected to the device from another via SSH before I start PipeWire, and ran `dmesg -C` then `dmesg -w` before starting PipeWire. SSH does not work after it hangs.

[2022-09-20 20:47] linas opened #3874 "No sound ES8336 GeminiLake laptop (IPASON MaxBook)"
As reported on alsa mailing list. Cheap laptop with ES8336 chepset. Soundcard is detected, driver appears to function normally; but no sound, except for a faint pop when muted, or when driver turns off the i915 power.

Details:
Follow instructions at  https://github.com/thesofproject/linux/wiki/ES8336-support
More precisely, these are:

[code]

After reboot, the card is detected:
[code]
`aplay -l`

[2022-09-20 21:21] linas commented on #3874
Oh, this is interesting:
[code]

I assume that `hw:0,0` refers to the first etry from `aplay -l`:
[code]

I don't understand why speaker-test default is not hw0,0 ...
... but maybe this is a red herring?

[2022-09-20 21:27] linas commented on #3874
After a fresh reboot, `speaker-test -Dhw:0,0 -c2 -r48000` ***does***  work (but produces no sound)

here's info, before the speaker test:
http://alsa-project.org/db/?f=7fa7c59ef643c5ae28704e2b2bbbc84ff16c3c29

[2022-09-20 21:48] linas commented on #3874
per issue #3336 should I be trying quirk masks? perhaps SSP0 ? Per warnings, I don't want to blow up any hardware...

From what I can tell, the `Playback open error: -16,Device or resource busy` was because pulseaudio grabbed the device. After moving `/usr/bin/pulseaudio` out of the way, there's no longer any competition for the hardware. (but also, still no sound)

[2022-09-21 03:14] jairaj-arava commented on #3844
Hi @kv2019i ,
Attached is the memory info dump captured. I consistently see there is a good amount of memory available in the dump.

[Memory_dump_new.txt](https://github.com/thesofproject/linux/files/9613044/Memory_dump_new.txt)

[2022-09-21 05:47] ujfalusi commented on #3844
The blueprint of this is really similar to what we had not long ago within 5.17 cycle:
https://github.com/thesofproject/linux/issues/3609 , https://github.com/thesofproject/linux/issues/3530 , https://github.com/thesofproject/linux/issues/3584

In all cases we had good amount of memory available, yet the DMA memory allocation failed.
I have checked sound/core/memalloc.c, sgbuf.c for clues and patt

[2022-09-21 08:36] plbossart commented on #3865
Thanks @basilbasilikum. I think we'll have to try to reproduce this on our side to see what happens, this is a weird issue indeed.

[2022-09-21 08:39] plbossart commented on #3874
https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#es8336-support lists a set of quirks you can use. Do not touch SSP or DMIC quirks, only GPIO and headset ones.

All standard disclaimers apply when using quirks and exploring how the device is wired without documentation. Don't do it if you are not comfortable with such experiments.

[2022-09-21 12:44] andy-shev commented on #3831
Why do you think it's a **single** codec there? We already have an example of two or more codecs in the same device node in ACPI (see serial-multi-instantiate.c for the details). I.o.w. without schematic and datasheet to the codec itself it's hard to say if it's wrong table or driver or something else (might be a multi-functional device, e.g. camera sensor + motion coil + ... but for the audio cas

[2022-09-21 13:04] plbossart commented on #3831
@andy-shev we've never seen a form-factor device with e.g. two headset codecs and jacks. This sort of low-cost devices only rely on one codec, that's a safe assumption. Put differently, all the existing devices with this ES8336 rely on a single codec so there's no precedent with two.

[2022-09-21 17:17] linas commented on #3874
Setting either `Speakers GPIO1 quirk` or `quirk headphone GPIO` causes a brief but clearly audible zap/crackle when `speaker-test` is run. This did not use to be the case.

[2022-09-21 18:53] plbossart commented on #3874
oh, there could also be an issue with the mixer settings. I completely forgot to mention this in the wiki but there are settings that need to be applied. I think the UCM file that was started in https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/Intel/sof-essx8336/HiFi.conf has some settings that are useful but I am not sure if that's the latest.

@yangxiaohua2009 can you chime in on m

[2022-09-21 19:38] andy-shev commented on #3831
What about multifunction device then? Is it possible to find a schematic of the board?

[2022-09-21 20:40] linas commented on #3874
My distro Debian testing already had the ucm2 sof-essx8336 files installed, exactly as in github.

Playing with `alsaucm` gives errors (but maybe I'm using it wrong):
[code]

Next, I played with `alsamixergui` while speaker-test was running. There are a zillion things to control, but most are not adjustable or responsive. Some cause clicks and pops, and I can (inconsistently) alter the volume of t

[2022-09-22 01:52] yangxiaohua2009 commented on #3831
@plbossart lt's a longer story behind the two I2C address. We recommand less than two reflow soldering, but the OEM reflow soldering four times. The high temperature causes detachment between bonding wire and the lead frame, making CE pin (I2C address pin) float, so the I2C address becomes float. It may be either 0x10 or 0x11. When they found the problem, tens of thousands has been made so it's im

[2022-09-22 02:37] yangxiaohua2009 commented on #3874
@linas

From the alsa info I see your DAC volume and Headphone volume very low, can you play with `alsamixergui` or `alsamxier` and adjust them to 0dB (largest)? Apart from them, other mixers are okay.

When you plug in headset/jack, can you see the device in the sound setting change? If not, you may need to modify the mclk setting.

[2022-09-22 03:31] changedsoul commented on #3777
So I just compiled this: https://github.com/torvalds/linux/archive/refs/tags/v5.19.tar.gz
Im not sure if this is vanilla kernel or what, but its got no arch patches in it and its a fairly recent kernel version and I have no working sound in it.

[2022-09-22 08:24] plbossart commented on #3831
Thanks for the explanations @yangxiaohua2009.

"the codec works well" might be a true statement for the Windows drivers, it's not true for LInux, as measured by  es8316_probe() and es8316_i2c_probe() not being invoked (see results from @tvelazquez above), likely due to an earlier error handling in the ACPI or I2C subsystems.

[2022-09-22 08:41] ujfalusi commented on #3777
@changedsoul , it is better to take the latest stable : https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.19.10.tar.xz
These usually contain any fixes surfaced with the .0 (and .1), not caught during the rc cycle.

[2022-09-22 09:02] plbossart commented on #3874
Please keep those to 0dB. They are volume controls in the SOF firmware, unrelated to the codec settings. You can to change only the codec settings.

[2022-09-22 12:24] kv2019i commented on #3844
@jairaj-arava Please try this out: https://github.com/kv2019i/linux/commit/09ce62ecd724c02b6b434979b68fb071094b975d

[2022-09-22 14:59] jairaj-arava commented on #3844
sure @kv2019i. Will try this and update.

[2022-09-22 15:51] junocomp commented on #3824
Any updates on this?

[2022-09-23 02:24] keqiaozhang opened #3880 "[BUG] codec #0 probe error(ret: -5) on TGLH_SKU0A5E_SDW"
**Describe the bug**
Only observed this issue once in SOF CI(Test ID:15595). This error happens on TGLH_SKU0A5E_SDW_ZEPHYR when booting.
But this error does not affect audio function and following tests.

Kernel error:
[code]
**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-rt711-rt1308-rt715.tplg MODEL=TGLH_SKU0A5E_SDW_ZEPHYR ~/sof-test/test-case/verify-kernel-boot-log.sh

**Reproductio

[2022-09-23 04:03] changedsoul commented on #3777
Well I did the vanilla one from kernel.org and got mixed results. I compiled it the normal way and it seems to be working fine "so far", and I also compiled it the Arch Build System way, and got failed sound. Both same vanilla kernel from kernel.org with no patches.

So maybe its something in the Arch Build System?

[2022-09-23 04:32] marc-hb commented on #3867
Hopefully short digression: the https://www.kernel.org/doc/html/latest/driver-api/firmware/request_firmware.html API should really provide a list of all firmware names (not just audio FW and tplg) that were requested and successfully loaded somewhere in `/sys/`. A checksum would be ideal. Unlike the audio (or other) driver it could also report about `/lib/firmware/updates/` etc.

This seems like a

[2022-09-23 07:17] plbossart commented on #3880
@keqiaozhang is this really an error?

This is a dev_warn() in

[code]

and IIRC @kv2019i added code so that we can still recover later on.

[2022-09-23 07:33] keqiaozhang commented on #3880
@plbossart thanks for the information.

If it can recover later on after this error, then it's not a real issue to me.

Closing this bug.

[2022-09-23 07:33] #3880 closed

[2022-09-23 07:45] plbossart commented on #3777
I wouldn't be able to comment, never used Arch.

@ujfalusi any experience with this distro on your side?

[2022-09-23 07:49] paulmenzel commented on #3777
(Could this please be split into a separate issue?)

If it’s a race condition, the bug could still be in the Linux kernel built with the upstream build system. @changedsoul, just to be sure, the resulting config `.config` is exactly the same? Please share the output of the Arch build system. Maybe certain flags passed to the compiler differ. `make V=1` should help.

[2022-09-23 08:00] ujfalusi commented on #3777
@plbossart, I'm still more familiar with the Gentoo way of things, but using Artix Linux (Arch sans systemd) for some time. Since Arch moves close to mainline they don't tend to patch heavily like other distros do, see:
https://github.com/archlinux/linux/commits/v5.19.10-arch1

It is almost vanilla upstream with minimal amount of fixes picked from next.

I would guess it is a config issue, but har

[2022-09-23 09:43] kv2019i commented on #3880
Ack @plbossart @keqiaozhang . This is unexpected (thus the warning) but not a fatal error. This machine has no codec in address 0, but for some reason controller gets a report there is one connected, but when we try to initialize it, nothing is found (as expected) and we continue. Unless this becomes very frequenty (and happen son multiple devices), we can ignore this.

[2022-09-23 17:33] changedsoul commented on #3777
Ok, so I deleted all my test kernels, and started over. I downloaded source for vanilla 5.19.10 kernel from kernel.org.
`https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.19.10.tar.xz`
I ran this command to get my current config from my default arch build kernel.
`zcat /proc/config.gz > .config`

I compiled with no change to the config other than changing the name `CONFIG_LOCALVERSION=`
Install

[2022-09-23 22:34] jairaj-arava commented on #3844
So far with this fix no issue is observed in 2 boards with 10+ hours of testing and the other 4 boards running from 6+  hours.

[2022-09-24 11:46] andy-shev commented on #3831
@jwrdegoede, read above, very interesting case! It also might affect serial-multi-instantiate.c.

[2022-09-24 16:45] davekrh commented on #3777
I have a Dell XPS 9315 running Arch Linux and kernel 5.19.10-arch1-1. This issue was driving me bonkers due to its intermittent nature. Thanks to the suggestions here I can confirm unloading/loading the `snd_sof_pci_intel_tgl` module is an effective workaround and prevents the hang on shutdown.

[2022-09-25 17:54] omarabid commented on #3777
Beginner question: How do you unload/load this module? (like what are the commands to do that).

[2022-09-25 18:48] changedsoul commented on #3777
I use this when I get booted.
`sudo modprobe -r snd_sof_pci_intel_tgl; sudo modprobe snd_sof_pci_intel_tgl `

[2022-09-26 08:00] plbossart commented on #3777
@changedsoul thanks for all your experiments. While I am pleased to hear that there's no issue identified in the SOF driver, I am also at a loss as to what could be causing such an issue in the Arch distribution. Let's keep this issue open to track comments and suggestions, if any.

[2022-09-26 09:37] rhowe commented on #3777
The situation is the same on Debian unstable's linux-image-5.19.0-2-amd64 5.19.11-1 kernel package. dmesg and alsa-info attached,

[alsa-info.txt](https://github.com/thesofproject/linux/files/9644978/alsa-info.txt)
[dmesg.txt](https://github.com/thesofproject/linux/files/9644955/dmesg.txt)

and after rmmod/modprobe of snd-sof-pci-intel-tgl (which works)

[alsa-info-reload.txt](https://github.com/t

[2022-09-26 11:07] lgirdwood commented on #4055
Yeah, this sounds painful. Fwiw a lot of these 1500 could be volume ramps i.e. to prevent loud pops. I would check the verb list for writes of increasing values to the same verb ID and just use the last write for that verb. This should speed things up (but will pop atm). There may be increasing value writes to multiple verb IDs (e.g. for L/R spk or HP).

[2022-09-26 11:23] kv2019i commented on #3844
Test results are good and patch merged upstream, so closing the bug.

[2022-09-27 01:16] jorgev259 opened #3885 "[BUG] Tiger Lake Sound controller detected but cannot be switched on"
**Describe the bug**
Installed pipewire and the relevant sof packages after an Arch install. Before driver installs the controller wouldnt show as an audio device, and afterwards it shows up as Inactive and only has "Off" option in sound settings.

Other devices like bluetooth speakers and headphones work fine on the system.

**Environment**
1) Branch name and commit hash of the 2 repositories: so

[2022-09-27 08:02] plbossart commented on #3885
This is a Linux issue, transferring

[2022-09-27 08:11] plbossart commented on #3885
please see https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html and try at the hw: device level, this looks like a userspace issue.

[2022-09-27 11:49] jwrdegoede commented on #3831
Ugh, this is just so ugly (the 1 codec which will have 1 of 2 possible addresses thing).

So the only way I can come up with to solve this would be to

1. Add the ACPI HID for the codec to ignore_serial_bus_idsignore_serial_bus_ids in drivers/acpi/scan.c: acpi_device_enumeration_by_parent()
2. Write a new driver binding to the ACPI HID, which checks both addresses and instantiates a codec device f

[2022-09-27 11:56] omarabid commented on #3777
Thanks. That seems to resolve the dmesg error messages and I can also see the sound card on Alsa mixer. However, there is still no sound (and yes, I did unmute the speaker)

[2022-09-27 12:18] changedsoul commented on #3777
Might be a dumb question, but do you have the speakers selected? Im in KDE and it defaults to headphones sometimes.

[2022-09-28 02:09] omarabid commented on #3777
What do you figure. That turned out to be the problem. I'm not sure why this stuff is more complicated than how I think it should be...

Still, I can get good audio out now (and also video, though that's unrelated). However, the microphone is not working (it's detected and I made sure I selected the right one but still there doesn't seem to be any audio recorded). Any idea what this could be?

[2022-09-28 02:54] changedsoul commented on #3777
Sorry, I never use my mic. Never even tested it. For all i know mine doesn’t work either.
Ill test it later this week when I got more time.

Edit: Just tested my built in mic in the monitor and it works fine. Maybe your is muted?

[2022-09-28 08:14] andy-shev commented on #3831
@jwrdegoede, thanks for your ideas!  From hw perspective my understanding is that the floating pin can take any state at any time (especially taking into account temperature differences as cold start), the robust solution is to try two addresses for each transaction, and it sounds to me like a dirty hack in I2C core would be needed. But the more I think about this the more I tend to tell users tha

[2022-09-28 08:18] plbossart commented on #3831
I tend to agree with @andy-shev, what are the odds that the address used on startup remains functional during a typical 'day use' scenario. In addition I don't have *ANY* device to test, so can't really help.

[2022-09-28 08:22] jwrdegoede commented on #3831
@andy-shev you are right about the floating pin being able to take any value, but this is likely a dual-purpose bootstrap + other-purpose pin. So at power-on-reset it gets read once (the bootstrap) to determine the i2c address and that then gets latched and after that the pin switches to its other purpose which is unused in this design.

So the address can be different every boot, but it is stable

[2022-09-28 13:22] plbossart commented on #3873
@faerics Can you please attach the results of 'alsa-info'?
 it's likely that there's a missing entry in ACPI matching tables for your device since it defaults to the HDMI-only case.

[2022-09-28 13:23] plbossart commented on #3867
this enhancement request will be parked until we have more clarity on the ask.

[2022-09-28 13:26] plbossart commented on #3638
I am going to close this bug since we have fixes from Cirrus Logic that should solve the issue with more than one device per link. Of course if we see this problem again we can reopen as needed.

[2022-09-28 13:26] #3638 closed

[2022-09-28 13:27] plbossart commented on #3325
I am going to close this bug since we have fixes from Cirrus Logic that should solve the issue with more than one device per link. Of course if we see this problem again we can reopen as needed.

[2022-09-28 13:27] #3325 closed

[2022-09-28 13:38] kv2019i commented on #3867
@plbossart Isn't the sof-test need quite clear -> https://github.com/thesofproject/sof-test/pull/956#discussion_r970169343

[2022-09-28 13:45] plbossart commented on #3867
no it's not @kv2019i. I have no context and no desire to read pages of mtrace-related threads.

[2022-09-28 16:14] kv2019i commented on #3867
Let me retry then @plbossart . Maybe we need to also deepdive into the generic request_firmware() and why the information is not logged.

[2022-09-28 16:50] marc-hb commented on #3867
The kernel simply needs to tell userspace whether it loaded `sof-tgl.ri` or `community/sof-tgl.ri` or `cavs-whatever.dsp`. Same for the topology file. That's all, no need to read any sof-test pull request.

Anything still unclear?

[2022-09-28 17:07] marc-hb commented on #3867
No, parsing logs is slow and unreliable when switching `ipc_type` or using some overrides (sof-test already does it in some places).

[2022-09-28 17:11] ranj063 commented on #3867
@marc-hb dmesg already has this information doesnt it?

[2022-09-28 17:19] marc-hb commented on #3867
`dmesg` is a ring buffer in non-persistent RAM. So it wraps around and loses any information very quickly. `dmesg` is convenient in interactive use but totally useless in scripts  (it's also missing userspace logs, timestamps,... I digress). Let's forget `dmesg`. Rephrasing your question:

Yes and as I just mentioned above (we posted at almost the same time) we already have code in some sof-test p

[2022-09-28 19:22] jorgev259 commented on #3885
Did a fresh install only installing pulsewire and sof-firmware. Attempting to test the speakers throws the following:
[code]
The sound controller still appears as inactive and with only the Off option displayed

[2022-09-28 22:14] Itaig10 commented on #4055
@joshuagrisham I am struggling with extracting the needed verbs with the non 360 model, can you please upload somewhere the list of the verbs? thanks!

[2022-09-29 08:22] plbossart commented on #3867
I am not aware of any bugs or request to fix the existing solution. Seriously we've provided this firmware name forever and there's been no ask for any change for a very long time, and now we need a TDB interface to fix everything. Allow me to be reasonably suspicious on this one. We have to prioritize and that feels like a low low priority to me.

[2022-09-29 08:25] plbossart commented on #3885
well there you go, you have a kernel issue. As suggested, enable dynamic debug and attach the 'dmesg' results.

[2022-09-29 16:33] jorgev259 commented on #3885
[log.txt](https://github.com/thesofproject/linux/files/9676964/log.txt)

[2022-09-29 16:53] plbossart commented on #3885
there's nothing problematic @jorgev259

please attach the results of 'alsa-info'

[2022-09-29 17:01] jorgev259 commented on #3885
[alsa-info.txt](https://github.com/thesofproject/linux/files/9677207/alsa-info.txt)

[2022-09-29 18:26] faerics commented on #3873
@plbossart Hello, attaching `sudo alsa-info` result.
[alsa-info.txt](https://github.com/thesofproject/linux/files/9678100/alsa-info.txt)

[2022-09-29 19:37] JuanFcoMiranda opened #3896 "[BUG] Distorted sound from right speaker on Dell XPS 17 9710"
Describe the bug
Everytime I reproduce a sound or avideo, I can hear the sound distorted from the left speaker and even I can hear it if a switch back to Windows, and I have to flash my laptop bios from windows to restore the normal sound from the right speaker. I use debian with the kernel 5.19.x and the version 2.1.1-1 of this driver.

To Reproduce
Play any videos from youtube.

Reproduction Rat

[2022-09-29 22:57] fredoh9 commented on #3873
Another ES8326/ES8336 codec issue?

[code]

[2022-09-30 01:06] linas commented on #3874
Playing with these has minimal effect: no sound, only a click-pop when stopping a sound source. The loudness of the click-pop *is* controlled by the mixer settings (although it is relatively quiet, never really loud.)

I don't understand how to "see the device in the sound setting change". However, the clicks-pops do come out of the headphone, and the loudness of the clicks-pops are controlled by

[2022-09-30 07:58] plbossart commented on #3896
@JuanFcoMiranda in your topology you have a single amplifier which deals with both left and right channels.
I don't see what the BIOS would have to do with the audio subsystem and what reflashing it would do.

I would recommend creating two stereo files at 48kHz, one with a 440Hz sine wave on the left channel and one with the sine wave in the right channel. Try to record what happens then and prov

[2022-09-30 08:08] plbossart commented on #3873
Yes, it's a codec issue @faerics

/sys/bus/acpi/devices/ESSX8326:00/status 	 15

This points to the ES8326, NOT the ES8336. The required codec driver was upstreamed in August only, and it's certainly NOT in 5.19

As a courtesy I add the missing patches to https://github.com/thesofproject/linux/tree/es8336-v5.19 but this is not even compile-tested, and it's rather unlikely that you get sound. There

[2022-09-30 08:18] plbossart commented on #3885
Thanks @jorgev259 This model is an Intel NUC laptop: LAPBC710

this model is based on the SoundWire interface, NOT HDAudio, and we added support for this last year IIRC. see quirks below

[code]
We need to enable more dynamic debug, by copying this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/9682133/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf. reboot and att

[2022-09-30 15:07] jorgev259 commented on #3885
Where is that configuration supposed to be, not sure where i should put that second part

[2022-10-01 08:43] faerics commented on #3873
@plbossart Many thanks for your help. Okay then, let me clarify what my next steps should be.
(1) compile the new commit on branch es8336-v5.19 and see if something changes
(2) the required codec driver was upsteamed, so I need to compile newer kernel than 5.19. Which one?

By the way, am I right that your new commit for ES8326 does not break entire 8336 branch?
Cheers

[2022-10-01 13:13] plbossart commented on #3885
@jorgev259 The configuration of your kernel is usually kept in /boot/config-<version>

[2022-10-01 13:14] plbossart commented on #3873
The es8336-v5.19 branch contains the backported patches from upstream. No need to switch kernel versions.

[2022-10-01 23:57] jorgev259 commented on #3885
@plbossart i have no config folder/file inside /boot
![imagen](https://user-images.githubusercontent.com/19596334/193432371-a6ef8dfe-2655-4434-a8b4-cc5a5d1a854f.png)

[2022-10-02 00:04] jorgev259 commented on #3885
I used archinstall for the install process

[2022-10-02 05:33] faerics commented on #3873
@plbossart Compiled the new kernel, no changes :( Attaching updated alsa-info output. What else can we do here?
[alsa-info-new-kernel.txt](https://github.com/thesofproject/linux/files/9691835/alsa-info-new-kernel.txt)

[2022-10-02 17:25] JuanFcoMiranda commented on #3896
Hi, I have updated the info in the first post, attached the alsa-info and the bios version installed.

I don't know why, but if I reflash the bios, the distortioned sound disappears after reboot.

[2022-10-02 19:55] changedsoul commented on #3777
I have been trying different things with someone in the arch forums.
Nothing really helped yet, but something i tried made the situation change a bit.

When I boot up and log in, I unload and load the `snd_sof_pci_intel_tgl` module and this takes roughly 15 seconds to complete.
It will hang mostly on the unload portion for about 15 seconds before executing the load.

I placed `snd_sof_pci_intel_tg

[2022-10-03 00:36] davekrh commented on #3777
I've also tried adding modules to `/etc/mkinitcpio.conf` however I didn't notice any difference. I can always load and unload the `snd_sof_pci_intel_tgl` module without delay on my XPS 9315. Mind linking your Arch forum thread?

[2022-10-03 03:01] changedsoul commented on #3777
https://bbs.archlinux.org/viewtopic.php?pid=2060262#p2060262

[2022-10-03 08:21] plbossart commented on #3873
you should remove the option snd_intel_dspcfg: dsp_driver=3, that shouldn't be necessary.

also please double check if you see the e8326 driver probe and register ASoC components. You can double-check the latter by looking at /sys/kernel/debug/asoc/components and /sys/kernel/debug/asoc/dais. snd_soc_es8326 is loaded but it could very well be that the driver never probes or exits the probe with som

[2022-10-03 08:24] plbossart commented on #3896
@shumingfan do you know if the BIOS or UEFI layers configure the rt1308 amplifier with some presets? I don't have any explanation for the behavior reported by @JuanFcoMiranda other than the kernel drivers setting a state that can only be restored by re-executing basic configurations - but that's a theory only.

[2022-10-03 09:30] shumingfan commented on #3896
@plbossart Sorry, I have no idea if the BIOS or UEFI layers configure the rt1308 amplifier.
@JuanFcoMiranda May I ask if the normal status (left/right speaker are normal after BIOS updated) is temporary?
Could you also provide the kernel log when the distorted sound from the right speaker?
Please enable dynamic debug. Copy this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/file

[2022-10-03 15:14] plbossart commented on #3885
On 10/2/22 2:05 AM, jorgev259 wrote:

I'm sorry, you will have to find out by yourself how your distribution
configures the kernel and where it finds the configuration file.

[2022-10-03 18:09] JuanFcoMiranda commented on #3896
@shumingfan If I run only Windows, the speakers sound normal, always, but when I switch to debian, the distortioned sound starts on the right speaker. I have tried several kernels, 5.19.11, 5.19.12 and 6.0.0, and it happens in all of them.

I'll add the kernel logs ASAP.

I also reported this bug some time ago:
[https://github.com/thesofproject/sof/issues/5436](https://github.com/thesofproject/sof

[2022-10-04 04:05] jorgev259 commented on #3885
Ok my config was on /proc/config.gz.
The only difference is that my config does have CONFIG_SOUNDWIRE_QCOM set when yours doesnt

[2022-10-04 04:07] jorgev259 commented on #3885
[log2.txt](https://github.com/thesofproject/linux/files/9702678/log2.txt)

[2022-10-04 04:07] jorgev259 commented on #3885
Attached new dmesg log output

[2022-10-04 06:30] shumingfan commented on #3896
@JuanFcoMiranda I checked the https://github.com/thesofproject/sof/issues/5436 which is the popping noise issue, not the distorted sound problem. Do you have the distorted sound issue at that time after the popping noise fixes?

Another question is that you said

Does the distorted sound happen again after the cold reboot?

I also use the same machine with the same kernel version and SOF version t

[2022-10-04 07:32] plbossart commented on #3885
Thanks @jorgev259 the logs show the problem alright

[code]

I suspect the DMI quirk in drivers/soundwire/dmi-quirks.c is not applied properly.

You reported:

Manufacturer:      ADATA
Product Name:      XENIAXe15TI7G11GXELX
Product Version:   M23101-507
Firmware Version:  BCTGL357.0064.2021.0518.1820
System SKU:        XENIAXe15TI7G11GXELX-SGCMX
Board Vendor:      Intel Corporation
Board Name:

[2022-10-04 18:06] JuanFcoMiranda commented on #3896
No, with the patches from kernel 5.18.x and bios v1.12, I had no problems at all, both speakers sounded good.

 If I only reboot the laptop, the distortion persists, but, after the bios reflash, the sound becomes normal on the right speaker.

It's like the popping sound bug, it's pretty weird.

$ amixer cset name='rt1308-1 RX Channel Select' 'RR'
$ amixer cset name='rt1308-2 RX Channel Select' 'LL

[2022-10-04 18:06] linux-quest opened #3900 "[BUG] NO SOUND for GeminiLake with ES8336"
hi.
situation similar to that of "MisteryX" on Teclast X6Plus but with kernel 5.19.11-051911-generic
$ aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofessx8336 [sof-essx8336], device 0: ES8336 (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: sofessx8336 [sof-essx8336], device 5: HDMI 1 (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: sofessx8336 [sof-essx8

[2022-10-04 19:41] htot opened #3901 "sof-audio-pci-intel-tng I/O region is too small."
On `Linux yuna 6.0.0-rc7-edison-acpi-standard #1 SMP PREEMPT_DYNAMIC Sun Sep 25 21:01:02 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
I have:
[code]
I am loading firmware 2.2.1 `sof/sof-byt.ri` and `sof-tplg/sof-byt-nocodec.tplg`

[2022-10-04 21:15] plbossart commented on #3901
Thanks for the report @htot. The code reporting an issue hasn't changed in a very long time. I am not sure what happened here. Could you recheck if a less-recent kernel has the same issue?

[code]

[2022-10-04 21:16] cujomalainey opened #3902 "[BUG] IPC ops do not check upper bounds on hw windows"
**Describe the bug**
IPC security issue, hdr.size is only bounded on lower end but not upper, resulting in potential memory access issue. If FW has been corrupted through a TLV control or similar, this could be used to reverse the attack into the kernel.

**To Reproduce**
Code analysis
[code]

e.g. Intel, but all platforms are susceptible (no size check anywhere)
[code]

**Reproduction Rate**
N/A

[2022-10-04 21:22] cujomalainey commented on #3902
IPC4 appears to be safe as it has fixed size read backs in `sof_ipc4_rx_msg`

[2022-10-04 23:36] jorgev259 commented on #3885
![imagen](https://user-images.githubusercontent.com/19596334/193949498-c7bf987c-9515-45c3-a040-4d29b853623a.png)
Compiled kernel modules with the following change and reinstalled sof-firmware. It has reverted to only show Dummy Output instead of the Tiger Lake controoler

[2022-10-05 01:25] jorgev259 commented on #3885
Went back and installed the whole compiled kernel and it does show the tiger lake controller but cant activate it still

[2022-10-05 01:25] jorgev259 commented on #3885
Same error on dmesg

[2022-10-05 02:25] shumingfan commented on #3896
Could you use bios v1.12 + kernel 5.19.x to test?

You just bios reflash with the same version v1.13.1, right?

How about the test result? Does the right speaker still have the distorted sound?

sorry, typo.
$ sudo cat /sys/kernel/debug/regmap/sdw:1:025d:1308:00/registers
$ sudo cat /sys/kernel/debug/regmap/sdw:2:025d:1308:00/registers

[2022-10-05 04:51] fredoh9 opened #3903 "[Bug][KMOD] kernel oops when removing modules"
Kernel oops happened when removing modules in ADLP_RVP_NOCODEC. Found internal test 15892?model=ADLP_RVP_NOCODEC&testcase=check-kmod-load-unload-25

- Kernel Branch: topic/sof-dev
- Kernel Commit: 237b967b3bf4
- SOF Branch: stable-v2.2
- SOF Commit: afe466da0238

**To reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-adl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC ~/sof-test/test-case/check-kmod-load-unlo

[2022-10-05 15:20] plbossart commented on #3885
of course there's no change in behavior @jorgev259 , you kept the same fields for the match. They are different here.

	DMI_BOARD_VENDOR "Intel Corporation"
	DMI_BOARD_NAME "LAPBC710"

Try with this, it's often guesswork to find the mapping that works.

[2022-10-05 15:24] jorgev259 commented on #3885
I added a new entry not modified the existing one as shown in the screenshot

[2022-10-05 15:30] plbossart commented on #3885
The initial quirk was based on this dmidecode output:

Manufacturer:      Intel(R) Client Systems
Product Name:      LAPBC710
Product Version:   M13826-506
Firmware Version:  BCTGL357.0064.2021.0518.1820
System SKU:        BBC710ECB7B02
Board Vendor:      Intel Corporation
Board Name:        LAPBC710

You have

Manufacturer: ADATA
Product Name: XENIAXe15TI7G11GXELX
Product Version: M23101-507
Firm

[2022-10-05 15:36] jorgev259 commented on #3885
Thats exactly what i did
![imagen](https://user-images.githubusercontent.com/19596334/194101783-78db42b2-cbf3-494a-b7b8-22eb354ea39a.png)

[2022-10-05 15:42] plbossart commented on #3885
you have exactly the same DMI_SYS_VENDOR and DMI_PRODUCT_NAME macros used twice. Use **BOARD** instead

[2022-10-05 15:44] jorgev259 commented on #3885
OH ok will do

[2022-10-05 16:12] jorgev259 commented on #3885
Installed the kernel wth the suggested changes, it only shows Dummy Output now but the "soundwire machine not found" error no longer shows on logs
[log6.txt](https://github.com/thesofproject/linux/files/9717310/log6.txt)

[2022-10-05 16:32] plbossart commented on #3885
ok, that's good progress.

I forgot that there's an additional change needed in sound/soc/intel/boards/sof_sdw.c, there's a similar DMI quirk that needs to be duplicated to set the relevant number of HDMI outputs and the jack detection method.

[2022-10-05 16:48] jorgev259 commented on #3885
![imagen](https://user-images.githubusercontent.com/19596334/194116495-43ed3f06-ea9f-4ace-b5d1-45d5e5655b49.png)
Seems to work now!

[2022-10-05 16:52] plbossart commented on #3885
Great. Can you share the differences you added with a patch? I'd like this to go upstream quickly. If you're not using git, just attach the two files you modified and I'll do it. Thanks!

[2022-10-05 16:55] jorgev259 commented on #3885
[dmi-quirks.c.txt](https://github.com/thesofproject/linux/files/9717553/dmi-quirks.c.txt)
/drivers/soundwire/dmi-quirks.c

[2022-10-05 16:56] jorgev259 commented on #3885
[sof_sdw.c.txt](https://github.com/thesofproject/linux/files/9717562/sof_sdw.c.txt)

/sound/soc/intel/boards/sof_sdw.c

[2022-10-05 17:19] JuanFcoMiranda commented on #3896
I tried, but the bios downgrade does not work well.

Yes, correct.

Yes, the distorted sound is still here.

[registers1.txt](https://github.com/thesofproject/linux/files/9717690/registers1.txt)

[registers2.txt](https://github.com/thesofproject/linux/files/9717692/registers2.txt)

[2022-10-05 17:26] plbossart commented on #3885
Thanks @jorgev259, the changes are in https://github.com/thesofproject/linux/pull/3906

[2022-10-05 17:33] plbossart commented on #3900
please check this first: https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-10-05 17:35] plbossart commented on #3902
@ujfalusi this one is probably for you?

[2022-10-05 18:14] d3vv3 commented on #3777
Until now, I have been doing the `sudo modprobe -r snd_sof_pci_intel_tgl; sudo modprobe snd_sof_pci_intel_tgl`, that got my speakers working.
I got both (microphone and speakers) working by blacklisting `snd_sof_pci_intel_tgl` and loading it by hand on every boot: `sudo modprobe snd_sof_pci_intel_tgl`.

Go or create the file `/etc/modprobe.d/blacklist.conf` and add `blacklist snd_sof_pci_intel_tgl

[2022-10-05 20:53] htot commented on #3901
[code]
Just switching kernel, firmware is a bit too young. But no I/O region error.

[2022-10-05 21:57] plbossart commented on #3901
Thanks @htot, this looks like a regression in the last year or so, no idea where to start. I am afraid I won't be able to help much, I have too many things on my plate at the moment, maybe a git bisect could 'quickly' find the issue.

[2022-10-05 22:10] htot commented on #3901
Maybe @andy-shev has an idea?

[2022-10-06 03:05] shumingfan commented on #3896
Could you try to update BIOS manually?
Please check the Dell website (https://www.dell.com/support/kbdoc/zh-tw/000124211/dell-bios-updates?lang=en).
a. Download the BIOS update file (https://www.dell.com/support/home/en-ai/drivers/driversdetails?driverid=3gdt5&oscode=wt64a&productcode=xps-17-9710-laptop) and save it to the USB drive.
b. Power off the Dell computer.
c. Connect the USB drive and res

[2022-10-06 06:45] linux-quest commented on #3900
hi and thanks for replying.
I am relatively new on linux and I have a lot to learn but I have already followed, verified and done what is indicated here https://github.com/thesofproject/linux/wiki/ES8336-support before getting to the discussion https://github.com/thesofproject/linux/issues/3336
i also followed other advice given on other forums but nothing.
my ubuntu system 22.04.1 with kernel upd

[2022-10-06 11:00] shumingfan commented on #3896
@JuanFcoMiranda Could you also try to test with this patch (917d1053f65d4fd6ee7d359bc6cf92d5e70f3b5e)?
I checked with our hardware engineer, then there are some different settings between version C and D of rt1308.
This patch will check the chip version to set the different settings.

[2022-10-06 17:50] JuanFcoMiranda commented on #3896
Hi, @shumingfan, I tried the patch, but the distortion is still here.

[2022-10-07 05:22] linux-quest commented on #3900
hi and thanks for replying.
I am relatively new on linux and I have a lot to learn but I have already followed, verified and done what is indicated here https://github.com/thesofproject/linux/wiki/ES8336-support before getting to the discussion https://github.com/thesofproject/linux/issues/3336
i also followed other advice given on other forums but nothing.
my ubuntu system 22.04.1 with kernel upd

[2022-10-07 07:24] rhowe commented on #3777
Debian just pushed a 6.0 kernel to experimental. Similar behaviour as before. dmesg & alsa-info attached.
[alsa-info-6.0.txt](https://github.com/thesofproject/linux/files/9731567/alsa-info-6.0.txt)
[dmesg-6.0.txt](https://github.com/thesofproject/linux/files/9731568/dmesg-6.0.txt)

This is with the 2.2.2-1 release of the firmware-sof-signed package.

[2022-10-07 07:28] shumingfan commented on #3896
@JuanFcoMiranda Oh, that is bad news to me.
I discussed this with the hardware engineer, but we have no idea to figure out what's the root cause.
I want to do some experiments. That needs your help to test the scripts.
Please run the script while the right speaker outputs the distorted sound.
And check if the distorted sound becomes normal or not.
It needs to cold reboot the system if you will run

[2022-10-07 14:19] plbossart commented on #3777
Thanks @rhowe, this brings us back to the idea that there's **SOMETHING** interfering with the SoundWire probe on this device.

With 5.18, there was a timeout. That was corrected but now with 6.0 there's a deferred probe that waits forever.
That all seems to be the same root cause - I just don't know what that cause might be.

I would recommend recompiling the same kernel with our config
[config.t

[2022-10-07 15:26] junocomp commented on #3899
@ethylmorphine run `alsamixer` and press `F6` to select the card and raise the volumes for `Headphones` and `DAC`. See if it works

[2022-10-07 15:26] junocomp commented on #3824
No one?

[2022-10-07 18:19] linux-quest commented on #3336
hi.
situation similar on Teclast X6Plus with ubuntu 22.04 and kernel 5.19.11-051911-generic
$ aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofessx8336 [sof-essx8336], device 0: ES8336 () []
Subdevices: 1/1
Subdevice #0: subdevice #0
card 0: sofessx8336 [sof-essx8336], device 5: HDMI 1 () []
Subdevices: 1/1
Subdevice #0: subdevice #0
card 0: sofessx8336 [sof-essx8336], device 6: HDM

[2022-10-07 19:15] JuanFcoMiranda commented on #3896
I don't know either what is the cause, because I also tried a pendrive with the latest live version of Ubuntu, and the problem is still there even without install it.

With the first script the sound from right speaker is no more distortioned, although it seems the sound from the left one is a bit louder.
[New Recording 15.m4a.gz](https://github.com/thesofproject/linux/files/9737176/New.Recording.

[2022-10-08 03:18] keqiaozhang opened #3910 "[BUG][TGL] ipc tx error for 0x60040000(GLB_STREAM_MSG: TRIG_START) on TGL-HDA platform"
**Describe the bug**
This is a kernel regression and only observed on TGL-HDA platforms(TGLH_SKU0A70_HDA,TGLU_UP_HDA).  It's easy to reproduce with `check-signal-stop-start-capture-50.sh`. The reproduction rate is 100%.
Inner test ID:16009

Bisection result points to:
https://github.com/thesofproject/linux/commit/a3fcf6e998a54b888f1d91c8d9438bdcbceec650
[code]

**To Reproduce**
~/sof-test/test-cas

[2022-10-08 07:19] yangxiaohua2009 commented on #3336
@linux-quest Please provide your alsainfo.

This is ok since it's by default -1.

[2022-10-08 07:20] yangxiaohua2009 commented on #3840
@crojewsk-intel Any updates so far? Thanks.

[2022-10-08 09:17] shumingfan commented on #3896
@JuanFcoMiranda Could you please test each script? And please tell me the test result.
Each script has some different settings that I want to figure out what setting will make it sound normal. Thanks.

[2022-10-08 09:33] JuanFcoMiranda commented on #3896
I have tried all scripts, and the test1, test4 and test5 works almost the same way, the distortion is gone and it seems the left speaker is a bit louder than the right one, but with test2 and test3, the distortion persists on the right speaker.

[2022-10-08 18:28] linux-quest commented on #3336
first of all thanks for replying. unfortunately, however, I cannot understand where the problem is. i also tried with a 5.17 kernel as recommended here https://ubuntuhandbook.org/index.php/2022/07/fix-no-sound-issue-ubuntu-22-04-essx8336/ but nothing. no output and input.
in pavucontrol everything looks ok
![Captura desde 2022-10-08 20-24-42](https://user-images.githubusercontent.com/115033965/194

[2022-10-08 20:11] sjoerdsimons commented on #3777
For me #3911  fixes this ; It seems that while there are still deferred probes gets suspend which ended up in an endless loop due to the clk_stop_timeout field not being initialized:

For reference on a "successful" boot with this patch against linux master:
[code]
after this it seems the deferred probing succeeds and sound devices appears

[2022-10-08 21:50] htot commented on #3901
Checking blame this is likely caused by recent patch 5947b272 "ASoC: SOF: Intel: Check the bar size before remapping" landing in v5.19. From LKML it appears the patch was found by fuzzing and did not fix an actual issue.

[2022-10-08 22:33] changedsoul commented on #3777
From the Arch Forum,

INSTALL_MOD_STRIP, if defined, will cause modules to be stripped after they are installed. If INSTALL_MOD_STRIP is ‘1’, then the default option –strip-debug will be used.

The linux PKGBUILD disables stripping by makepkg through options array and uses INSTALL_MOD_STRIP=1 instead of it.
Knowing debug kernel has no issues and also that sound does work if you remove / reload ker

[2022-10-09 08:44] yangxiaohua2009 commented on #3336
I see from your alsamixer configuration that the headphone value is -48db. You need ucm to open it.

See https://github.com/thesofproject/linux/wiki/ES8336-support

Otherwise you need to  input manually

amixer cset name='Headphone Playback Volume' 3,3
amixer cset name='Right Headphone Mixer Right DAC Switch' on
amixer cset name='Left Headphone Mixer Left DAC Switch' on
amixer cset name='DAC Playb

[2022-10-09 12:05] htot commented on #3901
After revert of patch https://github.com/thesofproject/linux/commit/5947b2726beb61fe7911580f239222ec9c4f6967 I get:
[code]

[2022-10-09 16:20] linux-quest commented on #3336
hi.  I had already made a manual adjustment (result in the screen) but in the same way no input or autput from headphone and speakers. thanks for your help.
![Captura desde 2022-10-09 18-19-32](https://user-images.githubusercontent.com/115033965/194767921-8d41aa01-d30e-4e16-9982-264cf74c50c7.png)

[2022-10-09 16:51] htot commented on #3901
I see the problem, @plbossart I hope you will know what to do?
[code]
The driver is asking for index 3 here https://elixir.bootlin.com/linux/latest/source/sound/soc/sof/intel/pci-tng.c#L214

And indeed when I print out
[code]
I get `sof-audio-pci-intel-tng 0000:00:0d.0: error: I/O region is too small for index 3 LPE PHY base at 0xff200000 size 0x14000.`

So, to me it seems we are trying to remap t

[2022-10-09 19:12] htot commented on #3901
I believe now index 3 is correct (IRAM start), but we need to change PCI_BAR_SIZE to 80k. Correct?

[2022-10-10 00:46] keqiaozhang commented on #3636
No reproductions in CI for a long time. Closing this bug.

[2022-10-10 00:46] #3636 closed

[2022-10-10 08:04] andy-shev commented on #3901
I have no idea if that code was ever been tested by Intel. The resources that PCI provides has never been changed on the Intel Merrifield. If it's a firmware issue, it needs to be worked around, otherwise it's clear software bug. @plbossart Can you shed a light on this?

[2022-10-10 08:38] andy-shev commented on #3901
@htot The BAR is 2M, but the rest of the PCI resources are split from that BAR IIUC.

 * **ALL** (remapped by firmware?): Memory at 05e00000 (32-bit, non-prefetchable) [size=2M]
 * **LPE SHIM**: Memory at ff340000 (32-bit, non-prefetchable) [size=16K]
 * **Mailbox**: Memory at ff344000 (32-bit, non-prefetchable) [size=4K]
 * **IRAM**: Memory at ff2c0000 (32-bit, non-prefetchable) [size=80K]
 * **D

[2022-10-10 08:40] majosamaso commented on #4055
I have the same 360 laptop and I tried months ago get a patch to solve speaker problems in kernel bugzilla https://bugzilla.kernel.org/show_bug.cgi?id=216023

Unfortunately, there is multiple issues like the big quantity of verbs needed to make it work, being unable to use snd-hda-intel early patching and even then, only the left speaker works. Only both work if you try initialize from windows and

[2022-10-10 09:00] andy-shev commented on #3901
The **0xff2xxxxx** addresses are reserved up to Audio IPs start with the offset **0xff290000**. The _pci-tng.c_ is so broken, that simple fix as proposed by @htot does *not* seem correct. It needs the entire `->probe()` to be reworked. (Actually, why doesn't it use `hda_pci_intel_probe()` for the main `->probe()`?) @plbossart Who can fix that?

[2022-10-10 14:38] plbossart commented on #3901
The patch https://github.com/thesofproject/linux/commit/5947b2726beb61fe7911580f239222ec9c4f6967 only did this:

[code]

So essentially it removed a valid size of 2M, and introduced a dependency on something else that returns the size of the IRAM region (80K), but still compares it to 2M. Of course that fails 100% of the time. I would err on the side of reverting that patch since it's not adding a

[2022-10-10 14:51] htot commented on #3901
We are requesting index 3: `.resindex_lpe_base	= 3,	/* IRAM, but subtract IRAM offset */`)
And when I print the result, we get `index 3 LPE PHY base at 0xff200000 size 0x14000`
So we get what we request (IRAM), and it really is 80k.

In the past it seems we requested index 3, set an invalid size of 2M (and caused issues in another driver ` DMA-API: dwc3 dwc3.0.auto: cacheline tracking EEXIST, over

[2022-10-10 15:07] plbossart commented on #3901
the logic is that we request the start of the IRAM, but subtract the IRAM offset to map the ENTIRE BAR.

It makes no sense to request the size of the window based on the IRAM only. That patch 5947b27 was completely wrong IMHO.

[2022-10-10 17:40] crojewsk-intel commented on #3840
Hello @yangxiaohua2009,

Last Friday the publishing process for the topology configuration files and the dev tools has concluded. [thesoftproject/avs-topology-xml](https://github.com/thesofproject/avs-topology-xml) and [thesofproject/avsdk](https://github.com/thesofproject/avsdk) are available. With that done, the team is pushing [additional patches](https://lore.kernel.org/alsa-devel/202210101219

[2022-10-10 18:51] linux-quest commented on #3336
I apologize for my ignorance but I found this post that seems interesting to me (same sound card: intel sst audio device) could it be a valid solution? unfortunately I don't see a solution yet. thanks for your help.
https://askubuntu.com/questions/1034619/problem-with-audio-device-es8316-and-ubuntu-18-04

[2022-10-10 18:58] plbossart commented on #3336
Different hardware. GeminiLake is 2 or 3 generations newer that Baytrail/CherryTrail mentioned in this Ubuntu report.

[2022-10-10 21:20] marc-hb commented on #3910
Stupid Github auto-close, let's close AFTER the next daily test run.

[2022-10-11 02:36] keqiaozhang commented on #3910
Confirmed that this issue has been fixed on ADL-HDA and TGL-HDA platforms.

[2022-10-11 02:39] miRoox commented on #3910
#3912 seems incorrect and might be reverted later. Reopen and let's keep an eye on it.

[2022-10-11 04:55] linux-quest commented on #3336
ok. thank you so much for your help. you have spared me unnecessary work. however, unfortunately, I don't see a solution. i hope kernel version 6 can support my tablet pc sound. thank you

[2022-10-11 05:10] shumingfan commented on #3896
@JuanFcoMiranda Thanks for your testing.
Could you help to test another two test items below?
a. build Linux kernel with two patches and test again.
917d1053f65d4fd6ee7d359bc6cf92d5e70f3b5e and 3fd500da0b1597e006c581720c15d082b54e7063

b.  run the test6 script while the right speaker outputs the distorted sound
[rt1308_presetD_test6.sh.txt](https://github.com/thesofproject/linux/files/9751281/rt13

[2022-10-11 09:05] Vamshigopal opened #3915 "[BUG]ADL-N DSP firmware download failed due to DMA errors."
**Describe the bug**
During suspend resume cycling we saw DSP firmware boot failed and  DSP cannot come out of D3 during resume.

**To Reproduce**
run suspend_stress_test -c 1000

**Reproduction Rate**
Sporadic
2/10 boards and 1/500 cycles

**Expected behavior**
No issue on the suspend test.

**Actual result**
suspend test failes due to DSP firmware load failure

**Impact**
What impact does this i

[2022-10-11 09:21] kv2019i commented on #3915
Let's start on kernel side (moved the bug here from FW).

[2022-10-11 09:22] kv2019i commented on #3915
Discussed offline that issue not seen with chrome-5.10 kernel. @Vamshigopal  to continue bisect recent changes in the 5.15 tree.

[2022-10-11 09:25] kv2019i commented on #3915
@Vamshigopal  One thing to check (discussed with @ranj063 ) is to ensure the stop DMA patches are correctly backported:

[code]

[2022-10-11 09:45] Vamshigopal commented on #3915
@kv2019i  we have all the above mentioned patches in the chrome kernel 5.15.

[2022-10-11 11:36] ujfalusi commented on #3915
I believe this is not directly coming from the audio stack:
[code]

I don't know what DMAR is, but it is reporting an error `PTE Read access is not set` for the audio device (`00:1f.3`) and then we have firmware download timeout with the DMA...

[2022-10-11 11:41] Vamshigopal commented on #3915
iommu driver is throwing this error because audio device is requesting fault address, we need to understand couple of things
what is the address range for audio device
where this addr 0x10b6fa000 comes from and whether its falling in the given range for audio device.

[2022-10-11 11:43] Vamshigopal commented on #3915
Peter,
What DMA request we are doing suspend path ?

[2022-10-11 12:03] kv2019i commented on #3915
@Vamshigopal Before the error, the audio driver has kicked the audio (HDA) DMA to transfer the DSP image from host DDR, and is waiting for the ADSP ROM to signal boot completion (which it in normal case does after it has received the image, verified the signature and booted into the newly loaded FW). The address 0x10b6fa000 doesn't ring any immediate bells. ADSP should only be accessing the kernel

[2022-10-11 12:15] ujfalusi commented on #3915
@Vamshigopal, it looks like we are booting up the DSP just to send the PM_GATE message, I think:
[code]
Boot fail ^
[code]
And because of that the PM_GATE message is failed.

The PM_GATE is sent with no_pm flag, it should not wake up the DSP to boot, but the -19 is ENODEV, which is what is returned if the DSP is not in booted state or the IPC is disabled.

Something is waking up the device on susp

[2022-10-11 13:58] Vamshigopal commented on #3915
@ujfalusi

Seeing the logs, audio driver exited previous resumes cleanly.
[16390.288994] sof-audio-pci-intel-tgl 0000:00:1f.3: PM: pci_pm_resume+0x0/0xf3 returned 0 after 163732 usecs

I do agree that just before failure suspend, something is keeping the DSP busy.

[2022-10-11 14:13] junocomp commented on #3336
@linux-quest

Try this

[code]

Restart and see if it works.

[2022-10-11 17:27] linux-quest commented on #3336
thanks again for your help. I tried but nothing has changed.

[2022-10-11 17:58] JuanFcoMiranda commented on #3896
Hi @shumingfan,

I tried this last options, kernel with both patches only, the distortion is still present, but applying the test6 script, the distortion dissapears, but its a little difference with the other scripts, after applying it, there is no extrange sound before vanishing the distortioned sound, it's a more sweet transition, but I still believe the left speaker is a bit louder than the rig

[2022-10-12 01:24] cujomalainey commented on #3902
reply_size also needs the same restrictions

[2022-10-12 11:24] sathyap-chrome commented on #3915
Hi @ujfalusi / @kv2019i

I think the PM gate IPC failure is in the next cycle.

We might need to find the cause for this

2022-10-03T12:38:20.406293Z ERR kernel: [**16426.262584**] DMAR: [DMA Read NO_PASID] Request device [00:1f.3] fault addr 0x10b6fa000 [fault reason 0x06] PTE Read access is not set  >> What is audio device trying to read here ?

When this print comes, we are already in suspend p

[2022-10-12 14:50] Valeria commented on #3350
Having the same issue on a recently bought 14s from the Huawei store. Truly a shame as otherwise both the laptop and linux run wonderfully.

[2022-10-12 18:40] fredoh9 opened #3921 "[BUG][APL] Kernel RIP dev_watchdog NETDEV WATCHDOG"
APL_UP2_PCM512X has kernel RIP while testing check-playback-100sec.
Internal test: 16114?model=APL_UP2_PCM512X&testcase=check-playback-100sec

- Kernel Branch: topic/sof-dev
- Kernel Commit:  f048bf5646cc
- SOF Branch: stable-v2.2
- SOF Commit: afe466da0238

Note, this device has two internal ethernet ports, one of them is being used.

- enp2s0 : this is being used
- enp3s0 : not being used

[code

[2022-10-12 18:47] fredoh9 commented on #3921
After scanning journalctl, the same watchdog RIP happened twice in a week.

[code]

[2022-10-12 21:34] htot commented on #3901
I see. Could it be that the entire BAR was mapped to 05e00000 to prevent of overlaps?
[code]

[2022-10-12 22:13] fredoh9 commented on #3715
`ADLP_GMB_I2S*` is not part of stable-v2.2 nor `ADLP_GMB_I2S*` are actively being tested. Hard to tell

[2022-10-12 22:19] fredoh9 commented on #3748
daily stable-v2.2 test uses CML_RVP_SDW (XTOS, non ZEPHYR).
I don't see similar xrun with XTOS test.
CML_RVP_SDW_ZEPHYR is not actively being tested, so hard to tell.

[2022-10-13 01:16] mengdonglin commented on #3715
@sathyap-chrome Can you please ask Maxim engineer to check if there is some regression for max98390 codec in upstream?

[2022-10-13 01:48] mengdonglin commented on #3748
CML will park at https://github.com/thesofproject/sof/tree/stable-v2.2 with XTOS for product support. So we won't fix this issue.

[2022-10-13 01:48] #3748 closed

[2022-10-13 02:26] miRoox commented on #3910
#3912 is correct. It just brought the potential problem to light.

[2022-10-13 05:23] sathyap-chrome commented on #3715
Sure @mengdonglin

[2022-10-13 05:53] shumingfan commented on #3896
@JuanFcoMiranda
I checked this with the hardware engineer, and he said this model uses the tweeter speakers on the rt1308-1 amplifier.
The rt1308-2 amplifier uses woofer speakers. I think that's why you feel the left speaker is a bit louder than the right one.

I updated the patches. (08bc7cf294a79aafa8af904219074c158f451cc2 and eb1b283fe766692b0714dced696968db4de45cf0)
Could you help to test thes

[2022-10-13 15:56] plbossart commented on #3896
wow. Shouldn't this be handled at the machine driver level @shumingfan, with a property set before the rt1308 component probe?

It's likely that other 4-speaker models have this confusion and that UCM changes need to happen as well so that settings are applied knowing what amp1 and amp2 do, no?

[2022-10-13 16:59] kv2019i commented on #3915
The timing is also interesting. Last normal/expected call to SOF driver is here:
2022-10-03T12:38:20.405047Z INFO kernel: [**16426.173282**] sof-audio-pci-intel-tgl 0000:00:1f.3: PM: calling pci_pm_suspend+0x0/0x1f5 @ 17799, parent: pci0000:00

Next one is:
2022-10-03T12:38:20.406293Z ERR kernel: [**16426.262584**] DMAR: [DMA Read NO_PASID] Request device [00:1f.3] fault addr 0x10b6fa000 [fault re

[2022-10-13 18:28] marc-hb commented on #3910
I see an XRUN bug mentioned in #3912 but new issue filed yet. Let's keep this one open as a reminder to file a new issue.

[2022-10-13 23:16] plbossart opened #3924 "[SoundWire] Invalid register access for RT1308"
Internal Intel test result/planresultdetail/16234?model=TGLH_SKU0A5E_SDW_ZEPHYR&testcase=verify-kernel-boot-log

[code]

Dmesg:
[dmesg.txt](https://github.com/thesofproject/linux/files/9781184/dmesg.txt)

@bardliao FYI

[2022-10-13 23:24] plbossart commented on #3924
Could be a hardware issue. I see an 'enumeration_complete' and 'initialization_complete' only for one of the two amplifiers

[code]

and all we get on link2 is:
[code]

So I would think the device never showed up on the bus.

That said if that was the case there shouldn't be any register access. That's likely a corner case we didn't see before. Oh well, just what we needed, huh?

[2022-10-13 23:34] plbossart commented on #3924
@shumingfan any idea what this c070 register is?

it's part of the regmap apparently:

[code]

[2022-10-13 23:41] marc-hb commented on #3924
Last known good daily run: 16107

Start Time: 2022-10-11 21:36:57 UTC

Kernel Branch: topic/sof-dev
Kernel Commit: [f048bf5646cc](https://github.com/thesofproject/linux/commit/f048bf5646cc)
SOF Branch: main
SOF Commit: [5594ad351283](https://github.com/thesofproject/sof/commit/5594ad351283)
Zephyr Commit: [v3.2.0-rc1-2-g0956647aaf6b](https://github.com/zephyrproject-rtos/zephyr/commit/v3.2.0-rc1-2

[2022-10-13 23:52] plbossart commented on #3924
I don't see any PRs merged in the last few days that could explain this error.

Can we run a test with plain vanilla 6.0 kernel on this device to see how this goes?

[2022-10-14 01:43] shumingfan commented on #3924
@plbossart I checked the kernel log. I think the system wants to restore the control settings. The "RX Channel Select" control will access the 0xc070 register.
However, the sdw:2:025d:1308:00 device doesn't be enumerated yet.
I will try to add the default settings for 0xc070 register to avoid this issue.

[2022-10-14 02:05] shumingfan commented on #3896
@plbossart Do you mean that the BQ settings could be set in the sof_sdw_rt1308.c?
If yes, I will try to move the settings to the m/c driver level.
I checked with the hardware engineer about the BQ settings. He said each model has its own BQ settings if it needs to be set.
There are no common settings for all 4-speaker models. I am also not sure if the 4-speaker model all uses the tweeter/woofer sp

[2022-10-14 03:55] miRoox commented on #3924
This is a hardware issue. I've tried yesterday's daily kernel on this device and it can be still reproduced, and after a long power-off, this issue disappeared.

Anyway, it would be better if the system can restore the settings automatically.

[2022-10-14 06:52] shumingfan commented on #3924
@miRoox @plbossart
Could you please apply PR #3927 to check if the issue will disappear?

[2022-10-14 08:35] shumingfan commented on #3896
@plbossart @JuanFcoMiranda
I updated the patches. (81fd1096d6a82375d30b4c47173ae4988bfc40d1, 15b82d393b88b8829ed02a289a88376d8a009bbe, 94fb79b2afda3f426b3913512db11a15cd3e386b)
I tried to implement your concept at the machine driver level. If there is any suggestion, please let me know. Thanks.

[2022-10-14 08:43] miRoox commented on #3924
@shumingfan thanks, but sorry I don't know the way to reproduce it after the register got recovered, so I can only check the PR won't introduce other issues, but it's hard to say whether it really fixes this issue.

[2022-10-14 12:29] plbossart commented on #3924
Humm, what would adding the default value change @shumingfan? If userspace wants to restore a non-default value, then there will be an access generated.

I am wondering if we don't have a conceptual issue here. On boot, the card is registered when all required components are registered. That registration is done when we probe a driver, and that is done based on ACPI information. So it can very wel

[2022-10-14 12:50] plbossart commented on #3896
I don't know what BQ stands for.

My point is that we assume that the two amps are handled in symmetrical ways without any specific settings other than enabling DACs.

https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/sof-soundwire/rt1308-1.conf
https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/sof-soundwire/rt1308-2.conf

it seems obvious to me that if the two amps deal

[2022-10-14 17:31] JuanFcoMiranda commented on #3896
Hi, I tried all those patches with latest kernel, 6.0.2, and the distortion has disappeared.

Thank you very much for your help.

[2022-10-15 06:55] linux-quest commented on #3900
I have been looking for a solution for several days but no useful results. On windows 10 (which uses Intel SST drivers) everything works perfectly. Sad to have to go back to Win after solving all the Out of the Box problems (video, Accelerometer and rotation, etc). It was almost perfect, too bad for audio, essential for my work on the machine.
I am hoping for some support or more luck in the futur

[2022-10-15 06:56] linux-quest commented on #3336
I have been looking for a solution for several days but no useful results. On windows 10 (which uses Intel SST drivers) everything works perfectly. Sad to have to go back to Win after solving all the Out of the Box problems (video, Accelerometer and rotation, etc). It was almost perfect, too bad for audio, essential for my work on the machine.
I am hoping for some support or more luck in the futur

[2022-10-15 18:38] dezo4 commented on #3447
Hello, one more question @plbossart
On my other laptop I can nicely switch output to HDMI via gui:
![other](https://user-images.githubusercontent.com/110043557/196002743-69bf6086-153d-4d4c-af80-92ebe2215d0c.png)
But I cannot do the same on es8336:
![es](https://user-images.githubusercontent.com/110043557/196002760-81b68a96-3f0a-42d8-bae8-09e72f0b4913.png)
Is it a driver problem?

I can however pla

[2022-10-16 07:58] andy-shev commented on #3901
@plbossart Reverting is not the fix. The entire code assumes **wrong** start addresses, i.e. mapping of 2M starting at 0xff200000 is incorrect, and I think somebody who knows better what and how should be mapped for SOF should revisit the _pci-tng.c_. Perhaps changing the size to 80K is the solution, I dunno. But then how to access DMA controllers that are listed in another PCI device on Tangier a

[2022-10-16 08:23] andy-shev commented on #3901
@plbossart Ah, I just read your message before the revert. The BAR I guess should be changed to 0 and then simple `pcim_iomap_bar()` or equivalent should suffice. As for HDA, I have looked into the implementation of the `hda_pci_intel_probe()` and I found nothing HDA specific there, maybe I missed something...

[2022-10-16 10:47] SergBoyko commented on #3249
I bought  Matebook D15 AMD only  for Linux. Thank you Huawei! I really hope that the problem will be solved soon...

[2022-10-16 13:07] joshuagrisham commented on #4055
Hi @Itaig10 I just threw my list into pastebin so you can see if you like here: https://pastebin.com/45ksYAXX

Just to state again, this list I got by using the QEMU method to actually run a new Windows instance using QEMU from within Linux, then inside of Windows, installing the soundcard drivers, playing audio from the virtual Windows environment (which worked!), and capturing the verbs using so

[2022-10-16 17:08] junocomp commented on #3800
This has been closed but is still not fixed

[2022-10-16 19:29] TadeoDGAguilar commented on #3350
Hello everyone, I was trying all Linux's flavors but this problem persist, only in Ubuntu 22.04 the output show "fictitious output", also I was reading that problem will be repair with the Linux Kernel 5.19.0 but I'm not sure.

By the way, I have a Matebook 13 (2021)

What do you think?

[2022-10-16 19:38] lnicola commented on #3350
@TadeoDGAguilar probably not, it's broken on Fedora 37 and the linked kernel bug is still open. But you're on a different laptop so who knows?

[2022-10-16 21:49] TadeoDGAguilar commented on #3350
@lnicola Hi! A few minutes ago I tried Ubuntu 22.10 in a LIVE-USB, and this time the output changed, now show the device's name (I think that is good) but I don't have sound...

By the way, can you see this    https://github.com/intbyte-100/matebook-d15-linux-soundfix  ??

[2022-10-17 05:03] shumingfan commented on #3896
@plbossart
Sorry, there are some misunderstandings the with hardware engineer.
The correct tweeter/woofer arrangement is:
The left channel of rt1308-1/rt1308-2 connects to a woofer speaker.
The right channel of rt1308-1/rt1308-2 connects to a tweeter speaker.
The hardware engineer will use the crossover filter (biquad filter) to control the frequency for the woofer (left channel) and tweeter (righ

[2022-10-17 05:58] sathyap-chrome commented on #3915
@kv2019i  The bisect couldnt be started since the issue is very sporadic. like 1 in 10 boards. Unless we are able to repro consistently, we wont be able to bisect .

We tried driver load unload and the issue didnt come. I guess thats because DSP was in D0 when we try to shutdown.
I guess we need the D3->D0 ->D3 transition (runtime suspend to system suspend) scenario to hit the issue faster and con

[2022-10-17 06:36] bardliao commented on #3924
@plbossart Adding the default value can ensure that driver will not try to access the register and can get the cached value properly when the regmap is in cache only mode.
Currently, we set cache only = true in suspend and cache only = false in resume. My idea is to add cache only = true in the probe callback, and move cache only = false in the update_status callback when codec driver get the SDW_

[2022-10-17 07:41] yangxiaohua2009 commented on #3840
@crojewsk-intel
Hi I'm testing the new avs driver, and the error message says `Direct firmware load for intel/avs/skl/dsp_basefw.bin failed`

Do you know how can I get the closed sourced firmware dsp_basefw.bin? Thanks.

Also, I changed board_selection.c but the HDA is still loaded by default. Log, 8336.c and board_selection.c attached. [board_selection.zip](https://github.com/thesofproject/linux/

[2022-10-17 12:45] cihatertem commented on #3350
Has anyone tried this fixes with 5.19 kernel? I am on Ubuntu 22.04 with 5.15. If it works, I hope to see the fix with first hwe kernel :).

[2022-10-17 12:56] lnicola commented on #3350
To the best of my understanding, I'll try to make a quick summary (focusing on the Matebook 14s), sorry for being slightly out of topic:

 - the Conexant codec driver has some problems with CX8070, the most important one being the inverted jack detection
 - at least on the Matebook 14s, you need to plug some headphones in order for the internal speakers to work
 - even then, only two of the four s

[2022-10-17 13:35] junocomp commented on #3336
@linux-quest which Linux OS are you using?

[2022-10-17 13:55] plbossart commented on #3896
@shumingfan thanks for the explanations, this is what I was expected, it's also aligned with the SDCA definitions. So if we are in agreement on what amplifiers do, why do we need a set of DMI-dependent patches, what do they fix?

[2022-10-17 14:00] plbossart commented on #3924
That sounds like a good move @bardliao, we do need to prevent access to the registers until the initialization completes. The suspend-resume case is good but it doesn't cover the boot case.

[2022-10-17 14:07] plbossart commented on #3447
This is a userspace problem, HDMI and ES8336 handling are independent at the hardware level and in firmware they are treated as different pipelines. The fact that you can play at the ALSA level show the problem is at a higher level.

[2022-10-17 14:10] plbossart commented on #3901
I was suggesting a revert because the logic was flawed, the method to find the address and size are inconsistent and NEVER worked with 5947b27
Doing the right thing means having time and a working setup, I have neither.

[2022-10-17 15:31] dezo4 commented on #3447
@plbossart
Thank you. Any idea where should I look and dig? Can it be related to pulseaudio?

[2022-10-17 16:44] linux-quest commented on #3336
hi.
Ubuntu 22.04.1 LTS with kernel 5.19.11-051911-generic on Teclast X6plus, thanks for your help

[2022-10-17 16:47] junocomp commented on #3336
@linux-quest I am having the same issue with Ubuntu, but this is not a SOF issue but a pipewire.

https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/2154#note_1574487

So far I was only able to get the sound working on Debian and Manjaro.

[2022-10-17 17:00] junocomp opened #3932 "No Sound ESSX8336 Pipewire"
On Ubuntu 22.04 and 22.10 the es8336 sound card is detected on both alsamixer and Gnome Settings but no sound is coming out. I suspect this is related to Pipewire.

https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/2154#note_1574487

I was wondering if anyone has been able to get es8336 working with Pipewire specially on Ubuntu 22.04/22.10.

[2022-10-17 17:10] plbossart commented on #3932
Have you followed the recommended setup in the wiki?
What kernel, what setup have you used?

It's exhausting to have to reply the same basic questions.

[2022-10-17 17:32] junocomp commented on #3932
I do have es8336 and es8316 enabled on my kernel and the latest sof 2.2.2

The wiki doesnt mention anything about pipewire or wireplumber.

[2022-10-17 18:11] plbossart commented on #3932
Have you successfully played/captured to/from all existing endpoints at the hw: level and does jack detection work?

If not, you are not ready to even look at Pipewire/pulseaudio integration.

[2022-10-17 18:13] junocomp commented on #3932
I enabled everything on alsamixer and though is detected no sound comes out. I went back to Debian where is only running Pulseaudio (no pipewire/wireplumber installed) with the same settings and it works.

[2022-10-17 18:17] plbossart commented on #3932
what does 'it works' mean?

[2022-10-17 18:17] junocomp commented on #3932
Sound comes out

[2022-10-17 18:25] plbossart commented on #3932
I would recommend you try with Fedora. This will give you the latest and greatest integration of pipewire with UCM. All other platforms are behind.

[2022-10-17 18:28] junocomp commented on #3932
I will give it a try, thanks.

[2022-10-17 19:41] crojewsk-intel commented on #3840
Thank you for the update, @yangxiaohua2009.

I've prepared a candidate for avs+es8336 configuration, it's available at [crojewsk-intel/linux/tree/avs_es8336](https://github.com/crojewsk-intel/linux/tree/avs_es8336). Number of not-yet-upstreamed patches has been kept to a minimum. Total of 27 commits there, It's based on recent broonie/for-next plus the 15 patches I'd mentioned above.

**Note:** th

[2022-10-17 21:16] roworu commented on #3932
I'm also facing this issue on Matebook 14 Intel with ESSX8336 on 6.0 kernel version. Am I still need to apply setup from wiki?
I'm not quite sure I understand how to apply the settings from this guide as never applied any kernel patches or built kenrel myself :(

[2022-10-17 21:36] plbossart commented on #3932
you still need patches with v6.0, see updated wiki with additional pointers.

[2022-10-18 02:46] yangxiaohua2009 commented on #3447
@dezo4 You need a ucm.
[ucm.zip](https://github.com/thesofproject/linux/files/9805960/ucm.zip)
Or https://github.com/alsa-project/alsa-ucm-conf/tree/master/ucm2/Intel/sof-essx8336

Ucm lies in /usr/share/alsa/ucm or /usr/share/alsa/ucm2.
After modifying the ucm files, try `alsaucm reload` and `pulseaudio -k` to make the change work.

[2022-10-18 05:24] shumingfan commented on #3896
@plbossart The hardware engineer said that each model may have different speakers (different transducers), hence they will tune the different biquad settings for them.

[2022-10-18 08:00] victornoel commented on #3777
Hi, I just wanted to share here that with the Dell 9315, linux 6.0.2, sof-firmware 2.2.2 on archlinux, this is now working out of the box.

Two more actions are needed though: not forgetting to re-run mkinitcpio after installing the firmware package and using dell-headset-multi as model for snd-hda-intel module.

EDIT: this is completely wrong, it worked a few times and then stopped again, as expe

[2022-10-18 08:00] linux-quest commented on #3336
thank you for your suggestion. I will try as soon as possible and let you know.
thanks again for your help.

[2022-10-18 08:24] paulmenzel commented on #3777
@victornoel, what were the latest non-working versions? To my knowledge, the patches fixing the race condition should not be in Linux 6.0.2.

[2022-10-18 08:34] victornoel commented on #3777
@paulmenzel really? funny then, last version I tried was 5.19.13 and I had issues (basically the booting process would get stuck for 3mn with udevd waiting for something, I would see errors about some of the sof modules in the console and after that the sound card would not be visible at all by the system). But maybe it was already working and I just missed one of the step I mentioned above (such

[2022-10-18 09:11] guillaumedsde commented on #3777
Hi, I have an XPS 9315 (with 12th Gen Intel® Core™ i7-1250U) and it is not working out of the box for me:

[code]

I still get `Dummy Output` and the following errors:

[code]

For now I still workaround the issue by manually reloading the module

[code]

[2022-10-18 09:15] victornoel commented on #3777
@guillaumedsde and you did re-run `mkinitcpio -P` after installing the firmware?

[2022-10-18 09:29] guillaumedsde commented on #3777
@victornoel yes, I did

[2022-10-18 09:37] victornoel commented on #3777
hm :/ to be honest, I'm not even sure this is needed, since the firmwares are NOT included in the initramfs image… I also get this error (-517) once and then it seems to work:
[code]

[2022-10-18 12:00] junocomp commented on #3336
@linux-quest I've been doing a lot of testing and the issue is for sure with pipewire/wireplumber on Ubuntu. If you can find a way to fully disable them and just use pulseaudio it should work.

[2022-10-18 12:27] ejmarkow commented on #3336
Back on October 8th, I recently experienced the same issue (**pulseaudio** sound was lost) on my Debian Linux (Unstable / Sid) system after an upgrade for the packages **pipewire**, **wireplumber**, & **libwireplumber**.

What happened is the package upgrade created a conflict between pulseaudio & pipewire.

Here is how to fix it, works perfectly:

In the user prompt ($), **not** root (#), invoke

[2022-10-18 12:34] junocomp commented on #3336
@ejmarkow I tried that on Ubuntu 22.04 and 22.10 but I was not able to get sound. Would you mind testing it on Ubuntu and see if you get the same result?

[2022-10-18 12:41] ejmarkow commented on #3336
@junocomp Make sure you check the status of the system file units / services by listing the output in Systemd. Pipewire must be masked (disable did not work, mask must be used) and Pulseaudio must be enabled.

[code]
I don't use Ubuntu at all.

[2022-10-18 12:51] junocomp commented on #3336
Ill try again later

[2022-10-18 12:59] andy-shev commented on #3901
@plbossart OK, that's what I assumed when said that _Intel never tested this_. @htot It looks like your setup is closest to the real life, I can mock up a patch that I think should make it correct, but I can't test that right away.

[2022-10-18 13:13] changedsoul commented on #3777
Same with me, still no sound, `mkinitcpio -P` resolved nothing for me.
This is truly a strange issue. Seems digging into it has stopped. Looks like this may persist with this hardware on arch.
It could be worse, we could have no working sound no matter what we do, at least we can get sound working by reloading the module.

[2022-10-18 13:19] Grandfather-Paradox commented on #3777
Just wanted to chime in and say again how you can fully automate the workaround by creating a systemd service that runs at boot with the following contents:
`[Unit]`
`After=multi-user.target`

`[Service]`
`ExecStart=/usr/bin/modprobe snd_sof_pci_intel_tgl`

`[Install]`
`After=multi-user.target`

Work for me every time without any need to load the module by hand on every boot. I have the module bla

[2022-10-18 13:23] davekrh commented on #3777
I'm running Arch with kernel 6.0.2 and firmware 2.2.2 on my 9315 and unloading and reloading the module is still required. Also, I have made no changes to `/etc/modprobe.d/alsa-base.conf`. Should I be adding `options snd-hda-intel model=dell-headset-multi`?

I do have a new issue, where a recent update causes sound applications like mpv and firefox running Youtube to freeze. The workaround is agai

[2022-10-18 13:24] paulmenzel commented on #3777
Why are you writing that?

Everyone, please test merge/pull request https://github.com/thesofproject/linux/pull/3911.

[2022-10-18 13:25] paulmenzel commented on #3777
@davekrh, please create a separate issue for that. This issue is cluttered enough.

[2022-10-18 13:28] Grandfather-Paradox commented on #3777
@davekrh I have the module blacklisted in /etc/modprobe.d/blacklist.conf with this line:
`blacklist snd_sof_pci_intel_tgl`
That prevents the need to unload manually and prevents long boot time from the race condition occurring. To reload automatically, see my above post on using a systemd service.

[2022-10-18 13:33] changedsoul commented on #3777
Dont get me wrong, im not making a dig at the programmers working on this sound stuff.
I said that because it seems the issue is actually fixed....but not fixed.
If you compile kernel and install it manually, the sound works fine. It has since many kernel versions ago. Where the problem lies is when the kernel is made into a package and installed via `pacman -U`nor just installing from the arch re

[2022-10-18 13:58] davekrh opened #3937 "Dell XPS 13 9315 Sound Freezes with "UNATTACHED" and "clock stop" messages"
Hello, I'm running Arch Linux on a Dell XPS 13 9315. After reloading the `snd_sof_pci_intel_tgl` module per #3777 , sound works until a sound application is paused or exits. When this occurs, my logs show the following:
[code]
Until recently, merely reloading the `snd_sof_pci_intel_tgl` module would ensure proper audio until reboot. Now, reloading the module is required every time a sound applicat

[2022-10-18 14:00] davekrh commented on #3777
Affirmative @paulmenzel. Created #3937 for my freeze issue.

[2022-10-18 14:44] plbossart commented on #3937
SKU 0B14 is not know to the kernel, this is a new one we haven't seen before. Yay Dell for letting us know. It looks like you don't have a jack?

The log "UNATTACHED" essentially tells us that the device dealing with microphones went off the rails. That's not supposed to happen.

There were quite a few changes in the last kernel cycle, but they are only in 6.1-rc1. I don't have an explanation for

[2022-10-18 14:55] plbossart commented on #3896
Thanks @shumingfan that tuning should not be in the kernel but the values stored in UCM or other configuration files. It'll be an endless battle to get this right, i.e. we don't even have a description of all the SKUs, just today we learned about a new 0B14 that we didn't know about.

[2022-10-18 15:01] plbossart commented on #3777
It's not even a blank stare @changedsoul, we are not even looking since the problem seems to be distro-specific and packaging-specific. There is nothing we can do at this point on our side.

[2022-10-18 15:30] paulmenzel commented on #3777
I disagree, as Arch and Debian are affected, I am pretty sure it’s not distribution specific.

1.  If it’s a race condition, how can you be sure from the test results, that it’s distro packaging specific?
2.  @plbossart, could merge/pull request https://github.com/thesofproject/linux/pull/3911 fix the problems reported here?

[2022-10-18 15:56] plbossart commented on #3777
@paulmenzel our friend @changedsoul installed the kernel manually and things work fine. What other proof of a distro- or package-specific issue do you need.

[2022-10-18 15:58] davekrh commented on #3937
Ah, I did purchase this 9315 with Ubuntu pre-installed, so it might be slightly different model than the Windows 9315. Dell may have forgotten about us penguins ;)

Assuming you meant hardware jack, correct, I don't have a traditional physical hardware jack. At purchase time, it was hard to see what changes when I selected Linux as the OS for the 9315, but I recall "vPro" being disabled.

I can't

[2022-10-18 16:01] plbossart commented on #3937
It's also possible that Ubuntu have patches that are not upstream yet for some reason, or that things happen to work by accident. The other 'non-jack' device still have 2 amplifiers and you report one to UCM, so something isn't quite right still.

[2022-10-18 16:02] paulmenzel commented on #3777
If it’s a race condition, it does not proof anything.

[2022-10-18 16:45] plbossart commented on #3777
I cannot prove that there isn't a race condition when Pacman or the Arch build system is used. Now what?

To repeat: there is nothing our team can do to isolate and triangulate a problem that only appears in conditions that are distro and packaging specific. Unless there are additional findings shared, nothing will happen.

[2022-10-18 17:03] davekrh commented on #3937
Part of being an Arch Linux user is accepting the fact that we're often a factor in the QA of other distributions :)

Please see the attached dmesg, gathered after rebooting with your config.

[sof-dmesg-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/9813501/sof-dmesg-dyndbg.conf.txt)

[2022-10-18 17:06] plbossart commented on #3937
Humm, the log doesn't contain the parts I need. Can you put PipeWire and PulseAudio on ice and just give the start of the SOF probe, I need to check the SoundWire IDs reported as attached on the system.

I usually do this the brute-force way: sudo mv /usr/bin/pipewire /usr/bin/_pipewire but there are more elegant ways to do so :-)

[2022-10-18 17:27] davekrh commented on #3937
Iced pipewire and pulseaudio. Please see attached.
[sof-dmesg-dyndbg-pipe_pulse_disabled.conf.txt](https://github.com/thesofproject/linux/files/9813687/sof-dmesg-dyndbg-pipe_pulse_disabled.conf.txt)

[2022-10-18 17:48] htot commented on #3901
I can test although I don't have any codecs here. Last time I tested was using nocodec and recording the stream with oscilloscope. Would that do?

[2022-10-18 18:26] linux-quest commented on #3336
I followed your advice but nothing, no sound. thanks everyone for your help.

[2022-10-18 18:28] plbossart commented on #3937
Thanks @davekrh. The logs are interesting

[code]

That means you only one one amplifier (RT1316) on link 2 and a microphone codec (RT714) on link3. That probably works without any quirks then. One of those "one cannot always be unlucky" type of thing :-)

That means we need to root-cause the issue you're having by trying with a newer kernel and possibly bisect.

If you are not familiar with insta

[2022-10-18 18:35] plbossart commented on #3901
yes, that's the best way to test. I usually use a stream with 0xaaaa on the left and nothing on the right channel.

[2022-10-18 19:21] davekrh commented on #3937
Willing to give it a shot. To be clear, you're suggesting I try a sof kernel and not a newer normal kernel, correct? I don't suppose you've had users build sof kernels with [Arch's Build System](https://wiki.archlinux.org/title/Kernel/Arch_Build_System)?

[2022-10-18 20:16] simonlearnscoding commented on #3336
I am having the same issue on my chuwi gemini laptop please someone let me know if you found a solution to this

[2022-10-18 22:40] plbossart commented on #3937
I think @changedsoul tried and showed the Arch Build system added some issues

[2022-10-18 22:41] plbossart commented on #3937
I was suggesting the topic/sof-dev branch since it contains all the fixes, but it's still based on v6.0-rcX. It wouldn't be quite right to ask you to try with 6.1-rc1 which we haven't even tried ourselves.

[2022-10-19 00:58] davekrh commented on #3937
I did try the sof kernel with configs applied against Arch's kernel config. I was able to build modules but `make bzImage` failed. Arch of course updates kernels quite rapidly, so I'd be happy to report my findings as time goes on.

One tidbit, Arch had installed both pipewire and pulseaudio, and I can't replicate the issue after cold booting with pulseaudio removed. I didn't even have to remove t

[2022-10-19 01:36] plbossart commented on #3937
Humm, can you share what happens with the compilation and attach the logs? that's very odd that compilation fails.

I don't see any clear explanation as to why removing PulseAudio would change the results. The 'clock stop' mode is used when the audio device is not in use, and the suspend to D3 happens with a delay when all references are released.

Don't worry about 0B14, we could duplicate the qu

[2022-10-19 07:59] htot commented on #3901
At the time we did: https://github.com/edison-fw/meta-intel-edison/pull/112#issuecomment-651303135

[2022-10-19 10:28] ujfalusi commented on #3777
fwiw, I have only one laptop with SDW: Dell latitude 9520.
audio is probing just fine for me when using the distro kernel: `6.0.2-artix1-1.1` or `6.0.2.arch1-1`:
[code]
[dmesg-6.0.2-arch1-1.txt](https://github.com/thesofproject/linux/files/9819759/dmesg-6.0.2-arch1-1.txt)

Can you share (again)
1. the dmesg when booting before logging in to any DM (w/o blacklisting the snd_sof_pci_intel_tgl)
2. th

[2022-10-19 10:42] kv2019i commented on #3915
@sathyap-chrome The SOF kernel defconfig has IOMMU enabled, and at least some of the CI machines have VT-d enabled , so there is some coverage to this.

Given this is 1) first-ever IOMMU related bug and 2) reproduction rate is sporadic, this is going to be complicated to debug. One simple patch to include in kernel would be something like this:

[code]

The IOMMU driver is supposed to set up neede

[2022-10-19 12:53] guillaumedsde commented on #3777
hi @ujfalusi here you go:

1. [dmesg_before_de.txt](https://github.com/thesofproject/linux/files/9820581/dmesg_before_de.txt)
2. [dmesg_after_unload.txt](https://github.com/thesofproject/linux/files/9820583/dmesg_after_unload.txt)
3. [dmesg_after_load.txt](https://github.com/thesofproject/linux/files/9820586/dmesg_after_load.txt)

Steps 2 and 3 were collected with the following command:

[code]

Y

[2022-10-19 13:29] ujfalusi commented on #3777
@guillaumedsde, thank you!
The after load log is missing some lines, can you try injecting some sleep after modprobe?
`sudo modprobe snd_sof_pci_intel_tgl && sleep 3 && sudo dmesg > dmesg_after_load.txt`

[2022-10-19 13:32] ujfalusi commented on #3777
@guillaumedsde, another thing which might help:
after boot, before rmmod, the output of
[code]
and the output of the same after rmmod && modprobe

[2022-10-19 13:40] guillaumedsde commented on #3777
@ujfalusi np :)

I ran this

[code]

- [dmesg_after_unload.txt](https://github.com/thesofproject/linux/files/9820957/dmesg_after_unload.txt)
- [dmesg_after_load.txt](https://github.com/thesofproject/linux/files/9820960/dmesg_after_load.txt)

And here is for

[code]

Before unload and reload:
- [components_before_unload.txt](https://github.com/thesofproject/linux/files/9820970/components_before_unl

[2022-10-19 13:49] victornoel commented on #3777
On my side, I was too optimistic apparently because today it stopped working again with the `sof_sdw sof_sdw: snd_soc_register_card failed -517` error repeated at boot ^^

thank @guillaumedsde for taking the time to share all those details! If needed I can also do it

[2022-10-19 14:22] ujfalusi commented on #3777
All components and dais are in place right after boot but the card registration is still missing something, which I can not see.
After rmmod+modprobe the component and dais list order is different (and sort of matching the one I see locally).

The module unload generates quite a bit of noise regarding to SDW, like this:
[code]
Those are not healthy at all and points to probing and/or power issues

[2022-10-19 14:35] plbossart commented on #3777
Our modprobe tests use a much larger sleep time. It's been our experience that there's some weirdness when doing modprobe -r/modprobe in tight sequences. IIRC we wait 10 or 15s.

I don't think it's productive to focus on this sequence though, this is asking for trouble. The real issue is why things don't work in the INITIAL modprobe.

[2022-10-19 14:40] plbossart commented on #3777
@guillaumedsde there's a TIMEOUT in your logs

[code]

Have you applied the patch suggested in https://github.com/thesofproject/linux/pull/3911 ?

[2022-10-19 17:27] sathyap-chrome commented on #3915
Will try with the suggested change.

[2022-10-19 19:19] dezo4 commented on #3447
@yangxiaohua2009 Any hints what/which files I should modify? Looks quite complicated. Thanks
[code]

[2022-10-19 22:50] plbossart commented on #3896
@shumingfan would you happen to know how those filter coefficients are stored in Windows? Are they read from the DSDT/BIOS or from some .INI file?

[2022-10-20 02:05] yangxiaohua2009 commented on #3447
@dezo4
The script in ucm.zip should automaticaly copy the ucm files.
I can see all the devices, maybe you can use pavucontrol to set the output device?

[2022-10-20 03:05] shumingfan commented on #3896
@plbossart I checked with the Windows software engineer. Those filter coefficients are hard coding in the driver.

[2022-10-20 07:17] guillaumedsde commented on #3777
@ujfalusi

Here:

- [dmesg_after_unload.txt](https://github.com/thesofproject/linux/files/9827250/dmesg_after_unload.txt)
- [dmesg_after_load.txt](https://github.com/thesofproject/linux/files/9827251/dmesg_after_load.txt)

@plbossart no I haven't, I'll try find some time to build a kernel this weekend in order to test the patch

[2022-10-20 07:59] ujfalusi commented on #3777
@guillaumedsde, thanks, can you also share the initial boot log, up to dmesg with the dyndbg.conf?
Comparing that with the after load might give some hint.

[2022-10-20 08:10] ghost commented on #3777
@ujfalusi here you go, note: this is after logging into my DE (gnome)

[dmesg_after_de_login.txt](https://github.com/thesofproject/linux/files/9827713/dmesg_after_de_login.txt)

[2022-10-20 08:45] ujfalusi commented on #3777
@gdesusanne-prl, but based on this log you have audio after logging in to gnome, no?
`sof_sdw sof_sdw: snd_soc_register_card failed -517` keeps repeating in hand with `intel vsc not ready` and then suddenly you have:
`vsc_ace spi-INTC1094:00-5db76cf6-0a68-4ed6-9b78-0361635e2447: recv firmware id`
and the `intel vsc not ready` is gone, sdw starts to show some sign of life and the card probes, topol

[2022-10-20 09:15] ujfalusi commented on #3777
The 'vsc' is coming from out of tree driver: https://github.com/intel/ivsc-driver

[2022-10-20 09:48] ujfalusi commented on #3777
SDW initially scans the bus then it is powering down:
[code]
If I read it right it can see the codecs on the bus just fine, but the sdw remains in power down mode quite long and it is not even powering up when the sdw card tries to probe, then suddenly out of blue:
[code]
and again the bus is scanned, devices found (again), the card probes and audio works from this point onward.

Probably @plbossa

[2022-10-20 10:15] guillaumedsde commented on #3777
@ujfalusi

no: the soundcard does not seem to be detected, gnome shows a `Dummy Output` and no input (plugging in a USB-C DAC works as expected, but the internal soundcard doesn't)

[2022-10-20 11:11] ujfalusi commented on #3777
Hrm, in the `dmesg_after_de_login.txt` the sound card definitely got created
[code]
and there is even an audio and all PCM got tried for playback (PA or PW starting)
[code]
There are no errors, no module removal/insert no USB audio.
It would be really unexpected at this point if the `cat /proc/asound/cards` would not return with something...

[2022-10-20 11:11] bardliao commented on #3777
@ujfalusi I guess that's because the codecs are finally probed.

@guillaumedsde Can you "cat /proc/asound/pcm"? The sound card is detected.

[2022-10-20 11:40] guillaumedsde commented on #3777
@bardliao its empty:

[code]

After unloading and reloading the kernel module it populates:

[code]

[2022-10-20 13:09] plbossart commented on #3915
Maybe a red-herring, but why aren't we using the IMR during suspend-resume tests? This is the recommended configuration, I don't understand why we are attempting to download firmware in S3-S0 transitions.

[2022-10-20 14:59] plbossart commented on #3777
I don't understand the conclusions. If we look at the logs only, there is something that delays the SoundWire probe until

[code]

so all attempts to register an audio card before that time get a -517 PROBE_DEFER error. that's normal.

then the probe happens and the card IS created, as measured by all the transactions happening with the PCM devices.

[code]

So there's two unknows:
a) why is the S

[2022-10-20 15:10] plbossart commented on #3777
Actually this is very odd:

[code]

Nothing happens and the links suspend

[code]

then 10s later the machine driver is probed.

[code]

but it fails with -517 deferred probe errors until

[code]

What happens that causes the machine driver probe to be delayed that much isn't clear to me. There's got to be something in modprobe and access to that sof_sdw module to be loaded with a delay.

[2022-10-20 15:14] ujfalusi commented on #3777
@plbossart, the sdw is brought up twice.
First:
[code]
then for the second time:
[code]
The sof_sdw card's `snd_soc_register_card()` is deferring in between these three times.

[2022-10-20 15:14] plbossart commented on #3777
@guillaumedsde can you add this to /etc/modprobe.d/sof-dyndbg.conf

[code]

this will be super verbose but will let us see which resource is not found by the deferred probe.

[2022-10-20 15:17] plbossart commented on #3777
yes, because nothing happens so pm_runtime suspend happens. The card registration does not begin until 10s later, that's part of the issue.

so here it's possible that it takes time to resume and that's the reason why we get a deferred probe. Not sure. The point is that the transition to pm_runtime suspend is not expected, the machine driver should probe immediately.

[2022-10-20 15:19] guillaumedsde commented on #3777
@plbossart here you go:
- [dmesg_after_de_login.txt](https://github.com/thesofproject/linux/files/9831510/dmesg_after_de_login.txt)
- [dmesg_after_unload.txt](https://github.com/thesofproject/linux/files/9831512/dmesg_after_unload.txt)
- [dmesg_after_load.txt](https://github.com/thesofproject/linux/files/9831516/dmesg_after_load.txt)

Note: the last two are still gathered with the following comman

[2022-10-20 15:20] plbossart commented on #3777
@guillaumedsde unfortunately the initial logs are lost and the first line is when the sof_sdw probe is already happening:
[code]
Can you increase the buffer size?

[2022-10-20 15:23] ujfalusi commented on #3777
@plbossart, yes, this is really odd.
The platform device for the card is created:
`[   15.344180] sof-audio-pci-intel-tgl 0000:00:1f.3: created machine sof_sdw`
and the first time the platform driver's probe is called:
`[   28.396519] sof_sdw sof_sdw: Entry`

The creation of the platform device should trigger the probe of the platform driver if it is loaded already, if not then udev should be load

[2022-10-20 15:25] plbossart commented on #3896
Thanks @shumingfan, in that case we'll have to track the Windows changes and use your suggested solution with tables in the machine driver that are applied as codec properties. One day SDCA will solve all this but until then we have to handle such quirks manually. Gah.

[2022-10-20 15:43] plbossart commented on #3777
when we do a set_jack on card registration we do a pm_runtime_get_sync() on devices, so that wakes up the SoundWire links.

[2022-10-20 15:44] guillaumedsde commented on #3777
@plbossart here you go this should have all lines, I've set a buffer of 5M
- [dmesg_after_de_login.txt](https://github.com/thesofproject/linux/files/9831691/dmesg_after_de_login.txt)

[2022-10-20 15:57] plbossart commented on #3777
Thanks @guillaumedsde this helps a lot.
This confirms the trending conclusion that there is a problem with udev/modprobe.

We know what the sof_sdw machine drive probe is delayed by 13s, but we also see a problem with the soundwire devices.

[code]
->> nothing happens so the component and DAI are NOT registered.
[code]
->> that's normal, the rt1316 driver never probed.

[code]

--> now the driver

[2022-10-20 15:59] paulmenzel commented on #3777
It is my understanding that Arch *and* Debian are affected.

[2022-10-20 16:11] zebra-ok commented on #3777
Fedora is affected, too. I reported that in this issue some weeks ago.

[2022-10-20 16:37] victornoel commented on #3777
I don't know how relevant this is, I may be going on a limb, but when archlinux starts and the module `snd_sof_pci_intel_tgl` is not blacklisted, the following happens: systemd-udevd seems stuck at start waiting for the device/driver/whatever to init, it waits 3mn and then the boot continue.

Its log says:
[code]

Then if I completely disable `systemd-udev-settle.service` (because of the message I

[2022-10-20 17:21] marc-hb commented on #3819
I just found this by chance... is newer (and longer) #3867 a duplicate of this?

[2022-10-20 17:28] marc-hb commented on #3867
Here's the latest example of how brittle and hard to maintain is the current solution:
- https://github.com/thesofproject/sof-test/pull/973

There are many others in the sof-test git log and there will be more.

The brittleness of parsing debug logs seems pretty obvious to me (while 973 does something different, I can't even remember why. Good luck)

I'm lost sorry: who provided what?

IPC4 / `dsp

[2022-10-20 17:49] marc-hb commented on #3915
I didn't understand how tests had any choice here. @plbossart just explained to me (thx!) that they don't: the choice is made here:

[code]

[2022-10-20 18:02] plbossart commented on #3867
there's no dependency on options @marc-hb, the logs tell you exactly what was done.

[code]

[2022-10-20 21:09] afq984 commented on #3819
@marc-hb I gave #3867 a quick look. Indeed having the fw/tplg checksums on /sys helps us a lot

[2022-10-20 22:25] marc-hb commented on #3819
Thanks! could you please summarize why in #3867 while linking back to here?

Indeed, the [`request_firmware()`](https://www.kernel.org/doc/html/latest/driver-api/firmware/request_firmware.html) framework has that information and should ideally provide it to either each driver or to `/sys`

For the vast majority of people who have a single firmware directory this is enough. Even for people who have

[2022-10-21 01:03] keqiaozhang commented on #3924
This issue happened again in our daily test. Test ID:16577

[2022-10-21 02:25] afq984 commented on #3867
Chiming in from #3819. A checksum or full path of the active fw/tplg in /sys would definitively help us.
Partners working with us were confused by whether or not the udev rules we use to override the paths are working.
`cat /sys/module/snd_sof_*/parameters/*` does help, but the path is relative. And if the path is not overridden, it says null, in that case we need to dive back to the code to see w

[2022-10-21 02:30] miRoox commented on #3924
@shumingfan I just tested #3927 because this issue happened again, but looks like the issue is still there even with #3927.

[dmesg.txt](https://github.com/thesofproject/linux/files/9835209/dmesg.txt)

[2022-10-21 02:34] junocomp opened #3944 "No HDMI ES8336"
I have everything enabled as it mentions on the wiki, I tried compiling both 5.19 and 6.0 and have the same issue on both.

The HDMI is not detected when plugged in, the only way I can get it is by creating a modprobe conf and restarting the device.

options snd-intel-dspcfg dsp_driver=1

But then this disables my es8336 card.

[2022-10-21 02:46] shumingfan commented on #3924
@miRoox PR #3927 might solve a certain case. The solution for this issue is PR #3941.

[2022-10-21 05:22] shumingfan commented on #3896
@plbossart Hmm, I understand that pain. I think I send the PR here first. Thanks.

[2022-10-21 06:42] ujfalusi commented on #3777
Do you @guillaumedsde and other Arch (or Debian) users have `intel-ivsc-driver`* and/or `intel-ipu6`* installed (or any other out of tree drivers)?
`pacman  -Q | grep -E "intel-ipu6|intel-ivsc"`
if yes, can you try to remove them for a test to see if it makes any difference?
We can not test with out of tree drivers.

Since we are talking about 12th generation i7-1250U, over 10 seconds boot to logi

[2022-10-21 06:52] victornoel commented on #3777
I only have zfs ones. I would be expecting them not to interfere at all with intel-related stuff, but who knows. I can't test without them unfortunately because my root fs is using zfs :)

Once I disabled systemd-udev-settle.service, the boot time was hugely reduced, more like a few seconds. Even though that is not solving the problem. Today I booted and the sound card wasn't working again (even t

[2022-10-21 07:23] ujfalusi commented on #3777
@victornoel , thank you for the confirmation. Yes, I don't consider zfs as contender.
According to https://www.man7.org/linux/man-pages/man8/systemd-udev-settle.service.8.html : `Using this service is not recommended.`

Is there a chance that you might be able to collect similar sets of dmesg logs (content of /proc/asound/pcm, /sys/kernel/debug/asoc/components) as we have from @guillaumedsde ?

[2022-10-21 07:29] ujfalusi commented on #3777
One more thing: if the initrd is not regenerated after removing the external drivers: `sudo mkinitcpio -P` on Arch should do that.

[2022-10-21 07:32] rhowe commented on #3777
Debian unstable, no external modules

[code]

[2022-10-21 07:33] victornoel commented on #3777
@ujfalusi yep, for `systemd-udev-settle.service`, I have disabled it indeed, it's required by some zfs services but in my particular use case, I don't really need it (cf https://github.com/openzfs/zfs/issues/10891).

I will try to gather the logs after a boot that failed to make the soundcard work then.

[2022-10-21 07:50] sjoerdsimons commented on #3777
Fwiw there are multiple notes about audio not coming up and udev getting stuck and seeing long boot times; That's exactly the behaviour that #3911 should fix as it causes the relevant module (i can't remember which one) to be blocked indefinably. So it's worth making sure you have that applied when testing otherwise you're changing known issue.

Fwiw for me applying that on top of a standard Debia

[2022-10-21 07:52] victornoel commented on #3777
@sjoerdsimons and do we know with which version of the kernel #3911 will be released? 6.0.3?

[2022-10-21 07:58] sjoerdsimons commented on #3777
It's going through the motions:
  https://lore.kernel.org/stable/20221020015624.1703950-1-yung-chuan.liao@linux.intel.com/

So it's now up to the relevant kernel maintainers, so it's out of my hands :) ; Hopefully it'll land for  6.0.3 or 6.0.4 as well as 6.1

[2022-10-21 07:59] victornoel commented on #3777
@ujfalusi here they are, after booting with the modprobe conf you shared above for enabling more debug logs.
[dmesg_after_boot.txt](https://github.com/thesofproject/linux/files/9836917/dmesg_after_boot.txt)
[dais_after_boot.txt](https://github.com/thesofproject/linux/files/9836918/dais_after_boot.txt)
[components_after_boot.txt](https://github.com/thesofproject/linux/files/9836919/components_after

[2022-10-21 08:04] JuanFcoMiranda commented on #3896
Hi, I have tried the sound recorded from the mic, and seems it also sounds like distorted.

[2022-10-21 09:26] dezo4 commented on #3447
@yangxiaohua2009
unfornunatelly I cannot
![pavu](https://user-images.githubusercontent.com/110043557/197163043-c2c75b7c-2690-44cc-acc0-f5db47c46e71.png)

[2022-10-21 09:28] ujfalusi commented on #3777
@victornoel, thanks
wow:
[code]
There is a significant delay between the platform device creation and the probing of the driver for it:
[code]
Then the card is missing `sdw:3:025d:0714:01` and the components_after_boot.txt confirms this as well (thanks again for the logs).
What is interesting that the 0714 _was_ discovered earlier:
[code]
The RT714 should be handed by the rt715 codec driver but I

[2022-10-21 09:45] guillaumedsde commented on #3777
@ujfalusi

Yes I have both the IVSC and IPU6 driver installed

I'll try to find some time this weekend to test this along with the #3911 patch

[2022-10-21 09:52] victornoel commented on #3777
@ujfalusi the command (unload then load) does indeed makes the soundcard work. The logs follow. Note that I used sleep 5 instead of 3... not sure why, because I read above that sometimes 3 was too small maybe? :)

[dmesg_after_unload.txt](https://github.com/thesofproject/linux/files/9837902/dmesg_after_unload.txt)
[dmesg_after_load.txt](https://github.com/thesofproject/linux/files/9837903/dmesg_af

[2022-10-21 12:07] kv2019i commented on #3915
@plbossart IMR boot is not used due to lack of support in FW in this release. Kernel support is in place.

[2022-10-21 12:13] kv2019i commented on #3915
A new debug patch is at https://github.com/kv2019i/linux/commit/b993d5f067234c635510abf6020f0339dbabe982

A normal run (with fault injection disabled looks like):
[code]

When the fault happens, logs look like:
[code]

I had CONFIG_DMAR_DEBUG=y and CONFIG_INTEL_IOMMU_DEBUGFS=y enabled in above tests.

It would be very interesting to get logs from this issue with similar logging enabled (and DMAR_D

[2022-10-21 12:31] kv2019i commented on #3915
Patch to only print the programmed HDA DMA addresses -> https://github.com/kv2019i/linux/commit/d04dc9df95bbdab03523e687ce659ef337197c3f

Fault injection -> https://github.com/kv2019i/linux/commit/968d3efeba8486673dcf61944e64d9af6a981975

[2022-10-21 14:48] plbossart commented on #3944
at what level is this not detected?

The lowest-level is amixer, if you look at amixer -Dhw:0 contents and look for 'Jack' read-only mixers that would tell you if indeed there is something connected or not.

If PulseAudio/PipeWire don't detect, that could be a UCM problem. Who knows what happens at that level.

[2022-10-21 15:00] junocomp commented on #3944
@yangxiaohua2009 has helped me with this. Is related to `UCM`. For anyone that wants it here's the `HiFi.conf `file

needs to be placed inside `/usr/share/alsa/ucm2/Intel/sof-essx8336`

Closing the ticket.

[code]

[2022-10-21 15:11] plbossart commented on #3915
Where is the emoji for "team painting itself in a corner"....

[2022-10-21 15:16] plbossart commented on #3777
Yes it'll land probably in 5.19.x as well. The issue is that the stable folks only take what is in Linus' tree, so that patch will only be applied in stable when 6.2-rc1 is out, that is in ~6-8 weeks from now. I am not aware of a 'fast' path to stable.

[2022-10-21 15:47] paulmenzel commented on #3777
I’d imagine, a sof-fixes pull request be sent to Linus, so it can be added to Linux 6.1-rc2+.

[2022-10-21 16:15] marc-hb commented on #3867
BTW https://superuser.com/questions/677106/how-to-check-if-a-udev-rule-fired/ (again: logs)

[2022-10-21 18:22] linux-quest commented on #3336
~$ systemctl --user list-units | grep -i pipewire
~$ systemctl --user list-unit-files | grep -i pipewire
pipewire-media-session.service                                        enabled   enabled
pipewire-pulse.service                                                masked    enabled
pipewire-session-manager.service                                      alias     -
pipewire.service

[2022-10-21 19:28] junocomp commented on #3336
@linux-quest did you try it on Ubuntu?

[2022-10-21 21:58] davekrh commented on #3937
After a few more reboots and testing, I can confirm that I can't replicate the issue if I remove pulseaudio. I understand your point that "clock stop" shouldn't happen, however I do wonder if this issue is worth your time.

The kernel compile could well be my fault. I hadn't compiled a kernel outside of a package manager in more than a decade.

[2022-10-21 22:49] roworu commented on #3932
Thank you so much, finally able to use Linux on my laptop after compiling kernel on Fedora!
Also, is there any plans on implementing these patches in main Linux kernel?

[2022-10-21 23:34] heftig commented on #3777
Since Linux v6.0.3, my Dell XPS Plus 13 9320 consistently fails to probe the card with the following messages:

[code]

Applying #3911 does not help.

My system has no problems probing the card with Linux v6.0.2.

[2022-10-21 23:40] paulmenzel commented on #3777
@heftig, with what Linux kernel version did it start working.

[…]

It looks like a regression, and unrelated to the issue at hand? If you could bisect, that’d be great, and probably the fastest way to solve it. Maybe even create a new issue.

[2022-10-21 23:48] heftig commented on #3777
Looks like the new issue is https://github.com/thesofproject/linux/issues/3764, probably caused by stable backporting only the "Fix page fault" patch from the series, without the rest.

[2022-10-22 00:36] ejmarkow commented on #3336
You're very welcome, glad to be of help!

[2022-10-22 00:44] ranj063 commented on #3867
@kv2019i @marc-hb @aiChaoSONG we've got

with SOF:
[    3.394615] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: Loaded firmware library: ADSPFW, version: 2.0.0.1

with cavs_fw
[    3.432765] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: Loaded firmware library: ADSPFW, version: 10.29.0.5399

in the journalctl to make the decision between whether it is SOF or not. We can even writ this base FW libr

[2022-10-22 00:59] marc-hb commented on #3867
If we can have some firm promise, "user-ABI-like" commitment that these version numbers can be relied upon then sure, why not use them.

Off to a great start! :-) Sorry, could not resist.

debugfs will always have my preference compared to a slow, buggy and brittle logs parser. However what sof-test or similar need the most right now is a tiny bit of thought and design and some final decisions. Th

[2022-10-22 02:25] plbossart commented on #3777
Well, since I started to be annoyed by all these Arch reports, I installed it this afternoon and I have ZERO problems on a Dell TGL SKU 0A3E. Everything works well both at the command line and gnome level. I don't see any of these probe shenanigans, there is no delay at all.
this is with the latest Arch iso and kernel 6.0.2-arch1-1.

So it's not a broken-by-design issue, my take is that there is s

[2022-10-22 10:23] sathyap-chrome opened #3948 "ADL - N : Resume failures with IPC causing suspend failures in stress tests"
We have multiple reports of suspend failures due to audio driver failing to suspend. This is due to unsuccessful resume in previous cycle.

Sharing the 2 scenarios where the failure seems to be either same or similar.

Scenario #1: Seen in local testing when we tried to repro the https://github.com/thesofproject/linux/issues/3915 with debug enabled and ran suspend stess test. Here we found ipc err

[2022-10-22 14:02] katyo commented on #3900
I applied instructions from https://github.com/thesofproject/linux/wiki/ES8336-support but sound stopped work.

Machine: Teclast F5 (transformer notebook)
Intel Celeron N4100 (Gemini Lake)
Kernel: linux-6.0.y.

dmesg cut:
[code]

[dmesg-dbg.log](https://github.com/thesofproject/linux/files/9844560/dmesg-dbg.log)

[2022-10-23 18:12] rhowe commented on #3777
Debian just published a 6.0.3 kernel to unstable. removing and re-loading the `snd-sof-pci-intel-tgl` no longer brings audio up for me.

[alsa-info-6.0.3.txt](https://github.com/thesofproject/linux/files/9847224/alsa-info-6.0.3.txt)
[dmesg-6.0.3.txt](https://github.com/thesofproject/linux/files/9847225/dmesg-6.0.3.txt)

[2022-10-23 22:44] paulmenzel commented on #3777
@rhowe, see the comments by @heftig (https://github.com/thesofproject/linux/issues/3777#issuecomment-1287540454).

[2022-10-24 02:09] keqiaozhang commented on #3910
This issue is not reproducible on TGL-HDA and ADL-HDA. Closing this bug.
@marc-hb , I didn't observe the XRUN issue recently, if this is still a bug to you, please let me know.

[2022-10-24 02:09] #3910 closed

[2022-10-24 06:44] ujfalusi commented on #3777
@plbossart, this issue can not be reproduced on TGL as far as I'm aware. It is happening with ADL (only Dell XPS 9320?) and not Arch related.
I could not reproduce anything like this on my TGL Dell Latitude 9520 neither (https://github.com/thesofproject/linux/issues/3777#issuecomment-1283781709).

[2022-10-24 07:08] kv2019i commented on #3948
Note on kernel version:
- kernel is Linux 5.15.73 plus chromeos patches (other log had Linux 5.15.73-12723-g849d83202f61 )
- FW is 2:0:0-1153b

[2022-10-24 07:16] kv2019i commented on #3948
The failures seem to be IPC timeouts with no reported DSP crash.

In the first log (pipeline_ipc_fail.txt) the first error is timeout on TRIG_STOP for DMIC pipeline:

[code]

The suspend is done with error on CTX_SAVE (as DSP in unresponsive), and there are further errors on next resume.

In the other log (kernel_log_20221017.txt), SOF dynamic debug log are not enabled, so there is less to see, bu

[2022-10-24 07:36] yangxiaohua2009 commented on #3447
@dezo4 See https://github.com/thesofproject/linux/issues/3944#issuecomment-1287085405

[2022-10-24 08:31] paulmenzel commented on #3777
… and the variant Dell XPS 9315 (same as Dell XPS 13 9320 but without dGPU). (Maybe the issue title should be updated?)

[2022-10-24 08:47] ujfalusi commented on #3777
@paulmenzel, afaik the Dell XPS (plus) 9320 only ships with integrated GPU (Iris Xe)

[2022-10-24 09:53] kv2019i commented on #3948
Only similar bug (searched open and clossed, kernel + fw) is this one: https://github.com/thesofproject/sof/issues/6185  .. but this happens with playback (so different direction) and a different use-case  (multiple-pipeline-playback).

Given the kernel side flow looks ok, moving to firmware side.

[2022-10-24 14:48] plbossart commented on #3900
@katyo we need to enable more debug options to figure out what causes the errors:

[code]

Please add this in /etc/modprobe.d/sof-dyndbg.conf
[code]

This is very verbose so you will most likely need to increase the kernel log buffer size.

[2022-10-24 14:50] plbossart commented on #3777
The point I was trying to make @ujfalusi is that ADL has the same audio IP and audio codecs as TGL, so there's something external to audio getting in the way on ADL.

[2022-10-24 15:25] marc-hb commented on #3910
@ranj063 , @ujfalusi , happy with xruns magically fixing themselves?

[2022-10-24 15:39] plbossart commented on #3910
@marc-hb there's been a lot of changes on triggers with https://github.com/thesofproject/linux/pull/3917, it's likely that some issues no longer occur but others show up...

[2022-10-24 19:40] faerics commented on #3873
Hello, @plbossart, sorry for the delay, just got free time to continue trying things you suggest.

`snd_intel_dspcfg: dsp_driver=3` option is necessary, and when I remove it, the snd_hda_intel driver is used, which is not what we want. right?

Next,
[code]
`/sys/kernel/debug/asoc/dais` also contains string `i2c-ESSX8326:00`.

To the last step, I noticed that [ES8336 wiki](https://github.com/thesof

[2022-10-24 22:00] plbossart commented on #3873
Yes @faerics you need the branch listed in the wiki, with the two patches in https://github.com/thesofproject/linux/pull/3954 added on top

[2022-10-24 22:05] plbossart commented on #3932
All the patches will land in the mainline kernel, but there's a pipeline effect since the patches need to be sent first to maintainers. If I send a patch today, it will land in 6.2 at best.

[2022-10-25 04:36] katyo commented on #3900
@plbossart
Boot log with `snd-soc-core.dyndbg=+pmf`:
[dmesg.log](https://github.com/thesofproject/linux/files/9857136/dmesg.log)

[2022-10-25 12:10] kv2019i commented on #3915
@kv2019i wrote:

This seems to be related to iommu configuration. I now did experiments on a ADL_N chromebook with 5.15 kernel, applied my debug patch linked above and I can confirm the addresses iommu driver returns look a bit different than in my earlier tests (upstream kernel and different hw).

[code]

So fault address of 0x10b6fa000 can indeed be a perfectly valid address iommu driver assigns

[2022-10-25 12:47] changedsoul commented on #3777
Also the Dell XPS 17 9720

[2022-10-25 13:18] plbossart commented on #3900
@katyo this seems to be an HDMI issue, completely unrelated to ES8336 support.

[code]

Can you check the linux version, we have reports of issues with the 6.0.3 stable release, the 6.0.2 worked fine. Likely a backport issue somewhere.

[2022-10-25 13:21] plbossart opened #3960 "Linux-stable 6.0.3+: failure with edhaudio0D2 codec"
Forking a new issue, this has been reported in https://github.com/thesofproject/linux/issues/3900 and https://github.com/thesofproject/linux/issues/3777#issuecomment-1287540454

[code]

This looks like an upstream regression reported in https://github.com/thesofproject/linux/issues/3764 that isn't handled well.

[2022-10-25 14:08] plbossart commented on #3960
on a TGL Dell device, we even have a nice trace

[code]

[2022-10-25 14:22] plbossart commented on #3960
reverting commit 7494e2e6c55ed192f2b91c821fd6832744ba8741  "ALSA: hda: Fix page fault in snd_hda_codec_shutdown()" on linux-stable works fine.

@crojewsk-intel @crojewsk @tiwai something isn't quite right on linux-stable since that commit was added.

[2022-10-25 14:57] tiwai commented on #3960
The revert is on its way.  See the upstream bugzilla: https://bugzilla.kernel.org/show_bug.cgi?id=216613

[2022-10-25 16:48] plbossart commented on #3960
Thanks @tiwai. revert reference: https://lore.kernel.org/r/20221024143931.15722-1-tiwai@suse.de

[2022-10-25 16:48] #3960 closed

[2022-10-25 17:04] junocomp commented on #3900
@plbossart I am also having the same issue

[2022-10-25 17:20] plbossart commented on #3900
As mentioned in #3960, this is a linux-stable regression and you need to revert a commit. This fix is on its way to linux-stable.

[2022-10-25 20:26] webgtx commented on #3350
We found solution on 5.19 kernel

[2022-10-25 20:57] intbyte-100 commented on #3350
I have tested this fix on two laptops and it works. But now there is one bug in this fix that will be fixed soon.

[2022-10-25 21:55] greg-intel commented on #3924
Another instance of the issue, just for the record:
16815?model=TGLH_SKU0A5E_SDW_ZEPHYR&testcase=check-sof-logger
16815?model=TGLH_SKU0A5E_SDW_ZEPHYR&testcase=verify-kernel-boot-log

Also this causes failures in a handful of the following tests.

[2022-10-26 00:13] plbossart commented on #3885
code is upstream

[2022-10-26 00:13] #3885 closed

[2022-10-26 02:50] tusharvidhani3 commented on #2955
After recompiling the kernel version 6.0 with suspend and resume support, my suspend issue  is fixed. Thank You

[2022-10-26 04:56] katyo commented on #3900
@plbossart I reverted that commit but sound still missing.
I test on Linux 6.0.3. It reports that parent card not yet available.
[code]

[2022-10-26 05:19] Maximus905 commented on #3249
The same problem with sound on Linux(. There is really sad fro me.

[2022-10-26 09:21] Valeria commented on #3350
Could you elaborate a bit on this?

[2022-10-26 13:45] guillaumedsde commented on #3777
Hi, I have not managed to free some time for testing like [I said I would](https://github.com/thesofproject/linux/issues/3777#issuecomment-1286718114)

I have however tried the 6.0.3 kernel from the Arch testing repositories and it seems to improve the situation

[code]

I have no sound for a brief moment after boot (same symptom GDM/gnome both report "Dummy Ouput") but after a few seconds the spe

[2022-10-26 16:00] philipperoubert commented on #3350
Tried on Ubuntu without success.

Upgraded Ubuntu to 22.10 which has Kernel 5.19 - that didn't change anything on my side.

I also tried both https://github.com/webgtx/matebook-d15-linux-soundfix and https://github.com/intbyte-100/matebook-d15-linux-soundfix - but that gave me error:

`main.c:4:10: fatal error: spa/param/audio/format-utils.h: No such file or directory
    4 | #include <spa/param/a

[2022-10-26 20:44] plbossart commented on #3777
@guillaumedsde it's still the same problem that the SoundWire and machine driver probe happen with a really large delay

[code]

[2022-10-26 20:46] plbossart commented on #3900
[code]
is a misleading warning. add dynamic debug and see what happens. from the log above there is no issue.

[2022-10-26 22:24] marc-hb commented on #3867
Summarizing a short private chat "stolen" from @plbossart's busy schedule: while he didn't have the time to really understand the need (yet?), he has no strong opposition to some careful debugfs additions on principle.

[2022-10-27 01:40] yangxiaohua2009 commented on #3840
@crojewsk-intel

I tested the latest firmware and kernel. `aplay -l` can finally list soundcards, and there are I2S clocks while music playing.
However, there is no I2S data so no sound can be heard. Do you have any idea how to send the data out? Any additional information needed? Thanks.

conf file, dmesg and nhlt table included.

[es8336-tplg.zip](https://github.com/thesofproject/linux/files/987

[2022-10-27 09:12] lnicola commented on #3350
@philipperoubert you'll need `libpipewire-0.3-dev` or something similar for that. Arch doesn't split `-devel` packages.

But how did we end up talking about the D15 here?

[2022-10-27 11:17] tkefeli commented on #3350
Hi everybody. I want to inform you about similar situation that i am trying to cope with, especially related with matebook laptops. According to the forums i read, i think the 5.19 kernel has a tool or solution to identify sound card and related chips correctly. I'll try to explain more detail but a little bit long way:

I purchased a laptop a few days ago, Huawei Matebook 14, i5, 16GB, 512GB, W11

[2022-10-27 11:28] lnicola commented on #3350
@tkefeli on my D14s Fedora loads the tgl driver, but it works if I unmute the controls. Can you do the same thing in Mint? I didn't try a Ubuntu live image yet.

And does your laptop have four speakers? Do you get sound on all of them?

[2022-10-27 13:42] ejmarkow commented on #3336
I compiled Linux Kernel 6.1.0-rc2 and **sound output is fine** for driver ESSX8336 without any patches required (those in question have all been merged for this kernel).

However, I'm now getting a repetitive message in dmesg and not sure what triggers it.

Is this of any concern? Thanks.

[code]

[2022-10-27 13:55] plbossart commented on #3336
This was fixed upstream @ejmarkow, you need this "[PATCH] Revert "ASoC: soc-component: using pm_runtime_resume_and_get instead of pm_runtime_get_sync"

https://lore.kernel.org/alsa-devel/20221004115121.26180-1-peter.ujfalusi@linux.intel.com/

[2022-10-27 14:01] ejmarkow commented on #3336
Thank you @plbossart!  Will apply it now and recompile.

[2022-10-27 15:38] faerics commented on #3873
@plbossart should these commits be added on top of [es8336-v6.0](https://github.com/thesofproject/linux/tree/es8336-v6.0)?

[2022-10-27 16:23] plbossart commented on #3873
yes. I don't have the time to do it for now.

[2022-10-27 18:07] linux-quest commented on #3336
this is my situation:

~$ uname -a
Linux 5.19.11-051911-generic #202209231341 SMP PREEMPT_DYNAMIC Fri Sep 23 14:11:03 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

~$ lsmod | grep -i "^snd_soc_sof_es8336\|^snd_soc_es8316"
snd_soc_sof_es8336     20480  1
snd_soc_es8316         49152  1

~$ dmesg | grep -i "runtime pm"
dmesg: fallo al leer el «buffer» del núcleo: Operación no permitida

~$ sudo dmesg | g

[2022-10-28 03:43] ejmarkow commented on #3336
Patch applied, kernel recompiled and works perfectly, @plbossart.

No more ❝Runtime PM usage count underflow!❞ messages. Thanks again!

[2022-10-28 05:38] tkefeli commented on #3350
@lnicola, no, i haven't test it on mint at the moment. I will test it and if the speakers run, i will be very happy. At the moment, i am not sure, this sound problem can only be solved by switching the 5.19 kernel, or may be other method existed like make the current kernel use correct module. Because i don't know any idea for compiling kernel and want to use mint.

From the other way, I don't kno

[2022-10-28 13:13] NikitaMarakushev commented on #3350
So, i tried kubuntu 22.10, system detected sound card, but also no sound, kernel version is 5.19.0-23-generic
![sound1](https://user-images.githubusercontent.com/63608270/198601970-4f18d449-8f24-4b95-8623-538fa8f790f4.png)
![sound2](https://user-images.githubusercontent.com/63608270/198602008-f7cec902-6650-4a2d-956a-9fed2fbb56dc.png), also on kernel version 6.0.5 the same issue, but when i connect