[2021-01-15 15:53] sathya-nujella commented on #2561
Cross checked now with validation teams. This issue is no more reproduced.

'get caps error' issue in reboot scenario's was addressed by sof fw change (change came in sof branch: /tgl-011-drop-stable) . After that fix, we stopped seeing this problem.

Can we close this please?

[2021-01-15 16:25] #2561 closed

[2021-01-15 18:38] marc-hb commented on #1449
Well the test was supposedly not run at all.

To be honest I was surprised to see this bug explicitly pointed at because the above comments sound like this has been fixed for good a long time ago. So maybe this SKIP should point at a different/new bug? If correct let's not close this one until the SKIP points at the right one.

Is there some (internal?) git log / record of who added the SKIP and i

[2021-01-16 12:32] rogpeppe opened #2699 "[BUG] sof firmware appears to have caused Ubuntu laptop to fail wakeup"
**Describe the bug**
I just slept my X1 Carbon 7th Gen running stock Ubuntu 20.04 and it failed to wake up.

uname -a output:

[code]

I'm afraid I have no idea how to find out

Looking in the journalctl log, I saw the following log output, which includes some error messages
that mention "sof", so perhaps that's the underlying reason.

The laptop has been doing this relatively regularly (maybe onc

[2021-01-17 02:33] bardliao commented on #2606
I can see `CDNS_MCP_CONTROL` (0x4) is `0x711` before `cdns_config_update` when the `-61` issue happened.  `CDNS_MCP_CONTROL` will be `0x701` in the normal cases. I.e. `CDNS_MCP_CONTROL_HW_RST` is set before `cdns_config_update` which can explain why the codec loses sync.

[2021-01-17 03:50] bardliao commented on #2606
@plbossart A potential fix is https://github.com/thesofproject/linux/pull/2694. The test is on going.

[2021-01-17 06:51] cinerea0 opened #2697 "[BUG] Microphone fails to be detected on Thinkpad X1 Carbon 7th Generation"
**Describe the bug**
The built-in microphone in my Thinkpad X1 Carbon 7th Generation (X1C7) fails to be detected under PulseAudio even when using SOF firmware. Setting "options snd-intel-dspcfg dsp_driver=1" allows audio to be played but does not allow for microphone use. Setting "options snd-intel-dspcfg dsp_driver=3" does not allow either audio to be played or recorded.

**To Reproduce**
On a Th

[2021-01-17 11:54] bardliao commented on #2606
#2694 didn't solve the issue. The error became
[code]
[dmesg_0117.txt](https://github.com/thesofproject/linux/files/5825948/dmesg_0117.txt)

I am testing with below patch now, but I am not sure if it is the right way to fix the issue.
[code]

[2021-01-18 01:41] aiChaoSONG commented on #2693
Thanks @plbossart and @bardliao for answering my questions, now everything is resolved, close this.

[2021-01-18 01:41] #2693 closed

[2021-01-18 01:42] keqiaozhang commented on #1449
@marc-hb ,please refer to sof-framework/parameters/pm-known-issue.csv.
I checked the kmod test manually on BSW and passed the test, I think we can add this test back.

[2021-01-18 02:36] xiulipan commented on #1449
@marc-hb @keqiaozhang @plbossart The issue used to be confirmed as a BIOS issue on our BSW device. Not sure if this is fixed now with current code base. I think we can do a new round manually test on our BSW

@fredoh9 Could you help to manually check on BSW to see if the known issue is fixed on BSW DUT now?

[2021-01-18 03:01] keyonjie commented on #2649
@naveen-manohar please help to close it if verified.

[2021-01-18 03:04] mengdonglin commented on #2628
@plbossart Can we close this issue? CI daily test cannot reproduce this issue with sof-dev kernel and FW master branch.

[2021-01-18 03:11] aiChaoSONG commented on #1449
@marc-hb This issue is just as Xiuli described, is a known issue. the link you give just tells us that the test is skipped, just because of this #1449 issue. I guess you may misunderstand the information in the result page.

[2021-01-18 03:23] keqiaozhang commented on #1449
stress test failed on bsw-cyn-max98090:
[code]

[2021-01-18 06:04] bardliao commented on #2606
Unfortunately this didn't work.
[code]
Note that I removed the `return ret;` in https://github.com/thesofproject/linux/pull/2694 when I did the test.
[dmesg_0118.txt](https://github.com/thesofproject/linux/files/5828136/dmesg_0118.txt)

[2021-01-18 06:42] juimonen commented on #2697
@cinerea0 so in you dmesg logs you don't have sof driver loaded, but the legacy hda driver. Could you try to force sof and re-generate the logs?

[2021-01-18 06:43] juimonen commented on #2697
so that is  = options snd-intel-dspcfg dsp_driver=3

[2021-01-18 09:05] juimonen commented on #2699
@rogpeppe I have the X1 myself, and installed stock 20.04, but upgraded kernel and firmware many times, because doing development... could you try to upgrade your kernel etc? I just tried the suspend and didn't see problems, but yes I'm on different kernel than you.

[2021-01-18 10:16] bardliao commented on #2606
I am running test with https://github.com/thesofproject/linux/pull/2695. Hope we can get a positive result.

[2021-01-18 11:04] perexg opened #2696 "rt715-scda - controls coupling (FU02 Capture Volume, FU06 Capture Volume, FU0E Boost, FU0C Boost)"
I came from https://github.com/alsa-project/alsa-ucm-conf/pull/71 . It seems that this is another attempt to use stereo to four or eight channels / inputs / registers mapping just because the current UCM cannot control this. See my arguments in https://lore.kernel.org/alsa-devel/7d74544f-77f2-db01-db3d-d1d8a56d576d@linux.intel.com/T/#m9d8869261e4531f537336da6b81085c1567034a9 . In my opinion, the c

[2021-01-18 11:49] rogpeppe commented on #2699
@juimonen Which kernel version would you recommend that I install? I was looking at the installer [here](https://github.com/pimlie/ubuntu-mainline-kernel.sh) and concerned that it might install a kernel that's not stable yet.

[2021-01-18 12:03] juimonen commented on #2699
@rogpeppe maybe just try "apt-get upgrade" so it should be then some kind of official stable ubuntu kernel if it gets updated... you should probably get also other parts like firmware and topology files with that command. Or have you done that already?

@kv2019i any ideas about the kernel version?

[2021-01-18 12:11] juimonen commented on #2696
@perexg in sof driver I needed to override the kcontrol info callback to be able to show multi channel control in user space... don't know if it is needed here also? So I think there's still quite a lot of stereo "hardcoding" in asoc level, I remember if I just created multi channel control in sof, it showed up as 2 stereo controls in user space, or am I totally mixing things here?

[2021-01-18 12:24] perexg commented on #2696
Yes, I think that asoc can easily create only mono and stereo controls. The multi channel controls do not have helpers / macros in the asoc layer yet. But I'm perfectly fine with the exporting of multiple stereo controls, if the codec was designed in this way (and the digital microphones are just connected to multiple stereo inputs). I just don't like the situation where one stereo kcontrol contro

[2021-01-18 12:33] juimonen commented on #2696
@perexg yes I have the same opinion about coupling. So just for the one who is implementing this -> if you _want_ to have multi channel control, the way to achieve it without changing asoc is to override the info callback. I think you could do it only for this particular control.

I was looking at the asoc thing and it was not totally obvious how to change it easily to support > 2 channels. I mean

[2021-01-18 12:38] kv2019i commented on #2699
@rogpeppe Thanks for the report. I'd also recommend trying a system upgrade first. The newer SOF1.6 firwmare was updated to 20.04 in linux-firmware 1.187.6, you should get that via apt-get upgrade.

In case that still fails, next steps:
  - can you share/upload output of alsa-info.sh
  -  please try a newer kernel version -- you can do this as a one-off test to see whether latest upstream kernel a

[2021-01-18 13:49] rogpeppe commented on #2699
I just tried an `apt-get upgrade` and rebooting, but it doesn't seem to have updated the kernel version at all (`uname -a` reports the same as before).

This issue has always been very sporadic (and it may well not have been the audio driver at fault in other cases!). The last time it failed to wake up, I didn't have any messages in the log at all.

`alsa-info.sh` is this, presumably? https://wiki

[2021-01-18 14:13] sergiocaccamo opened #2698 "No microphone detected when using headphones on XPS 17 9700"
I have Ubuntu 20.10 kernel 5.10 oem, the speakers and the microphone now seem to work on the dell xps17 9700, which is good.
As soon as I plug the headphone in the jack the audio is correctly redirected to the headphones but the microphone stops responding.
If I look at the input, I can only select the input device "Soundwire microphone - sof-soundwire" but the microphone does nothing.
To make the

[2021-01-18 14:25] juimonen commented on #2698
Do you get any pop-up window when you plug in the headphones? With headphones I understand it is a just headphone without microphone? Dell devices usually can't detect if you plug in headset (with mic) or headphone, so it might happen here that the device thinks you have plugged in a headset and tries to use the "imaginary" microphone. So what I meant by pop-up is that usually dell devices ask you

[2021-01-18 14:27] juimonen commented on #2698
@bardliao FYI

[2021-01-18 14:28] juimonen commented on #2698
and @jason77-wang FYI also

[2021-01-18 14:31] lgirdwood commented on #2647
PATCH not really used that much as we have been in the rapid state of feature development as opposed to glibc where it's the opposite. @plbossart you can ignore PATCH for compatibility reasons, but we should still print it for reference.

[2021-01-18 14:35] sergiocaccamo commented on #2698
I have tried now 3 headphones.
1 beats : audio and microphone works
2 sony (bot wired, wh-1000xm3, wh-h910n): speaker working, microphone not.
the sony work on another laptop with ubuntu 14.04 and they work fine in bluetooth mode.

I have update ucm2 and tried to play a little with the configs, these are mine:

Speakers.conf
`#<sof-soundwire/RT700.conf>
<sof-soundwire/RT1308.conf>
#<sof-soundwire/

[2021-01-18 14:54] juimonen commented on #2698
at least the wh-h910n help guide reads that it doesn't route the microphone in the headset through the cable (I guess doesn't have 3 rings in it) -> so the use case should be as "connected headphone, using laptop microphone". So it is probably exactly the case I'm talking above...

[2021-01-18 14:56] juimonen commented on #2698
@sergiocaccamo but you're not getting any pop-ups when connecting the devices with cable?

[2021-01-18 15:03] kv2019i commented on #2699
@rogpeppe wrote:

Ack.

Ack, this is good info. There is a communication error in the screenshot you shared, so this is worth looking at in any case. I found one older bug where same error status code is seen, but this was fixed long time back and should be fixed in 20.04 kernel+fw for sure:
https://github.com/thesofproject/sof/issues/3752

Yes, exactly that. On Ubuntu, it's actually installed by

[2021-01-18 15:07] sergiocaccamo commented on #2698
@juimonen no, unfortunately no pop-ups when connecting the headphones.
Also, that's what I am trying to achieve, audio from headphones but microphone from laptop. The problem is that as soon as I plug it in the headphone the microphone dies.

[2021-01-18 15:11] juimonen commented on #2698
@sergiocaccamo ok good we are on the same page then 👍

Let's wait for the others to chime in, I might have quite similar device at hand, but I have not worked with soundwire too much.

[2021-01-18 15:16] sergiocaccamo commented on #2698
@juimonen thank you,sure let's wait.
I have used different ucm2 settings now but with little success. Googling around it seems I am not the only one having this issue.

[2021-01-18 16:16] kdknigga commented on #2631
I have a Spectre x360 15t-df000 (late 2018, Coffee Lake CPU, Cannon Lake/ALC285/"Bang & Olufsen" sound).  `hda_model=aspire-v5` gets my sound output working marginally and my digital mic working as well, but the `hda-verb` commands that are working for other HP Spectres aren't working for me.  In fact, the above listed commands make my left channel sound strong and good, but the right channel disa

[2021-01-18 20:42] aigilea opened #2700 "[BUG] No sound on HP Spectre x360 13-aw2022ur (2020, Tiger Lake)"
**Describe the bug**
Both legacy driver and SOF driver only create devices for HDMI outputs, no speakers or headphones (or microphones). I've tried 5.8, 5.10 and 5.11 kernels with the latest 1.6.1 SOF distribution, the only difference is wording changed from dmic-related to soundwire-related around SOF initialization in dmesg.
PulseAudio refuses to init the card when SOF driver is enabled, playing

[2021-01-19 00:45] bardliao commented on #2698
@sergiocaccamo Can you add `options snd_soc_rt711 dyndbg=+p` to `/etc/modprobe.d/alsa-base.conf` to enable the debug message of the rt711 codec driver and see if you can see `jack_type=0x1` or  `jack_type=0x3` in dmesg? It is supposed to be 0x1 in your case since your jack is a headphone.

Note that you will need to reboot your device after adding `options snd_soc_rt711 dyndbg=+p`.

@libinyang Wil

[2021-01-19 01:23] cinerea0 commented on #2697
Sure thing! In addition to the logs below I'll tell you that setting that option makes it so that my sound card isn't detected at all; an alsamixer screenshot showing that has been attached. I also enabled dynamic debugging as described [here](https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#enable-dynamic-debug).

![alsamixer](https://user-images.githubuserconte

[2021-01-19 02:26] libinyang commented on #2698
@bardliao It depends. If headset is plugged in, it will switch to headset mic. If  headphone is plugged in, nothing changes and ob board mic is used. In this case, I think it should be the second scenario.

@sergiocaccamo What do you mean by "the microphone stops responding"? Do you mean you can't record anything or the sound-setting record is inactive?

[2021-01-19 05:33] libinyang commented on #2696
@perexg We used one kcontrol to controls multiple channels because UCM didn't support multichannel controls before. It is great that the feature is already supported in pulseaudio. If we want to use this feature, should we update to the latest alsa-lib and pulseaudio? And could you please give some instructs how to use this feature? Is the below UCM code correct:
[code]
I would like to have a test

[2021-01-19 07:17] naveen-manohar commented on #2649
Validation Team verified on following Chrome Image & confirmed Issue was not observed - 2500 suspend-stress cycles completed on 2 SDW DUTs

OS: Google Chrome 89.0.4387.0(Platform 13731.0.0-21.01.16)
EC: RO version:    volteer_v2.0.6976-bca773799
CB: Google_Volteer2.13731.0.0

[2021-01-19 07:17] #2649 closed

[2021-01-19 07:38] juimonen commented on #2697
@cinerea0 so it still not loading sof driver at all... at least there's nothing related to sof in the logs, and there should be a lot of stuff....

@kv2019i again asking your help here... some config wrong here maybe?

[2021-01-19 08:05] kv2019i commented on #2697
@cinerea0 It seems this is a bug in Void Linux kernel packaging:

https://github.com/void-linux/void-packages/blob/196a3bba255bd37f47cb736548ea25b65f4954cb/srcpkgs/linux5.10/files/x86_64-dotconfig

... SOF support is enabled only for some platforms. Notably CONFIG_SND_SOC_SOF_COMETLAKE is not set:
[code]

... i.e. SOF is disabled for all 10th Gen Core (aka CometLake) based platforms on Void LInux,

[2021-01-19 11:08] hirnschmalz commented on #2700
I can confirm this, same issue here on my HP Spectre x360 13-aw2777ng

[2021-01-19 12:09] juimonen commented on #2700
@bardliao @libinyang this seems to be soundwire device... any idea why we don't have pcm devices?

[2021-01-19 12:43] bardliao commented on #2700
[code]
The issue is that SOF driver can't find a suitable machine driver for this device. The driver will look up eg. [snd_soc_acpi_intel_cml_sdw_machines[]](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/common/soc-acpi-intel-cml-match.c) to find a suitable machine driver.
So we have to add your device codec information to the corresponding acpi match table.
Please add

[2021-01-19 12:53] aigilea commented on #2700
Attaching full [dmesg](https://github.com/thesofproject/linux/files/5835920/dmesg.txt) with dyndbg.

`lspci | grep '00:1f.3'`
[code]

[2021-01-19 13:12] hirnschmalz commented on #2700
Here's my output of `lspci | grep '00:1f.3'`

[code]

and my [dmesg](https://github.com/thesofproject/linux/files/5836046/dmesg.txt).

[2021-01-19 14:27] bardliao commented on #2700
[code]
From above, the codecs on your device is rt711 and rt1308.
But from below, your codec's information is not listed in the acpi table.
[code]
So, we have to add the codec information to BIOS at first. We need to figure out who can help on it. @mengdonglin

It is a TGL device and the match table is [snd_soc_acpi_intel_tgl_sdw_machines[]](https://github.com/thesofproject/linux/blob/topic/sof-de

[2021-01-19 16:07] plbossart commented on #2628
not reproduced, closing

[2021-01-19 16:07] #2628 closed

[2021-01-19 16:09] plbossart commented on #1449
yes, there's a known coreboot issue that hasn't been fixed. I don't think we can keep any tests that re-downloads firmware, which rules out kmod tests unfortunately.

[2021-01-19 16:43] aigilea commented on #2700
There's some progress.
Now it looks better in dmesg, SOF initializes without errors, but the result is even stranger:
`ls /dev/snd`
[code]

I'm attaching the new [dmesg](https://github.com/thesofproject/linux/files/5837293/dmesg2.txt) and just in case [dsdt](https://github.com/thesofproject/linux/files/5837304/dsdt.zip).

upd.
I've re-checked if maybe I've somehow messed the particular kernel buil

[2021-01-19 17:04] plbossart commented on #2700
@aigilea thanks for testing. Can you try to add dynamic debug to sof_sdw ? when the probe remains silent, it's usually that the machine driver probe fails, and unfortunately we have no way to report this at a higher level.

[2021-01-19 17:05] plbossart commented on #2700
@bardliao I am wondering if we shouldn't add a hack where we use the adr for 701 for either RT711 or RT1308. The BIOS is broken, and if we don't get a fix we should have an indirection to the 'right' devices.

[2021-01-19 17:17] marc-hb commented on #1449
because of this #1449 issue. I guess you may misunderstand the information in the result page.

If this is a known issue that requires skipping tests then it's obviously not "fixed". Yet it was closed as "fixed" in May 2020, so something is wrong somewhere and that's why I re-opened it. No need to understand what exactly is wrong to re-open.

Are you saying this issue should have been closed as "w

[2021-01-19 17:45] plbossart commented on #1449
I think what happened is that we thought we had a fix and closed the issue, but then later on found the problem remained and the root cause so we disabled the tests without updating this Linux issue.

I am positive this kmod test cannot work reliably.

[2021-01-19 17:45] aigilea commented on #2700
@plbossart I've tried enabling dyndbg for [sof_sdw.c](https://github.com/thesofproject/linux/files/5837569/dmesg3.txt), [sof_sdw](https://github.com/thesofproject/linux/files/5837583/dmesg4.txt) and sof_sdw* (but forgot to save that dmesg, I can redo this one if it may be useful). I haven't found any new information in dmesgs.
I've enabled dyndbg via kernel options, this morning it worked that way

[2021-01-19 17:56] plbossart commented on #2700
@aigilea to be honest none of us on the Intel Linux team knew of the existence of HP devices with SoundWire, but that's indeed a real product. We can't expect everyone to override the DSDT, that's too invasive.

if you have spare cycles, can you try https://github.com/thesofproject/linux/pull/2701 without the DSDT override? It should at least find the right devices but may fail later on.

I still

[2021-01-19 18:00] plbossart commented on #2700
You can enable dynamic debug by copying this file
[ddebug.txt](https://github.com/thesofproject/linux/files/5837691/ddebug.txt) as /etc/modprobe.d/sof-dyndbg.conf (reboot required after adding the file)/

[2021-01-19 18:02] aigilea commented on #2700
@plbossart should I keep the bardliao's patch to soc-acpi-intel-tgl-match.c when applying your commit?

[2021-01-19 18:10] plbossart commented on #2700
no, you'd need to add this on top of your kernel without Bard's change. This is a proof of concept, so bear with me if there are some issues left and right. Only trying to make sure it's easier in the end for all users of this platform.

[2021-01-19 19:13] ranj063 commented on #1449
Agree with @plbossart. This issue should be closed as "wont fix"

[2021-01-19 19:14] marc-hb commented on #1449
Closing as wontfix, thanks everyone!

[2021-01-19 19:14] #1449 closed

[2021-01-19 22:30] aigilea commented on #2700
@plbossart I've bumped into build problems with dev_dbg calls and fixed them before I've seen you've updated the patch. I now see another difference in the latest patch with entry ordering in snd_soc_acpi_intel_tgl_sdw_machines, but it shouldn't affect me, right?

Anyway, it doesn't work out of the box, but it shows more information.
Here the [dmesg](https://github.com/thesofproject/linux/files/58

[2021-01-19 23:01] plbossart commented on #2700
thanks @aigilea I think there's something missing when the probe fails. I'll try locally on a device I have with similar BIOS issues, stay tuned. thanks!

[2021-01-20 00:58] bardliao commented on #2700
Right, we should fix the adr issue on BIOS. The hack or DSDT overwrite should only be used for testing on local machines before we get a proper BIOS.

[2021-01-20 01:02] bardliao commented on #2700
@aigilea Could you add `options snd_soc_core dyndbg=+p` to /etc/modprobe.d/sof-dyndbg.conf? It can help us to get more information why sound card is not probed.

[2021-01-20 01:12] cinerea0 commented on #2697
@kv2019i To clarify, changing the line in that file to `CONFIG_SND_SOC_SOF_COMETLAKE_LP_SUPPORT=y` and recompiling the kernel should fix the problem? I ask because the other CPU architectures have another line like this: `CONFIG_SND_SOC_SOF_ICELAKE=m`. If so, I'll file a PR in the void-packages repo and report back here after the change gets merged.

[2021-01-20 01:14] aigilea commented on #2700
@bardliao here's [dmesg](https://github.com/thesofproject/linux/files/5839535/dmesg7.txt) with this option from the kernel with acpi overlay.

[2021-01-20 02:02] RanderWang commented on #2700
@kv2019i  @libinyang please check this on ADL and report a bug to BIOS team. It is too late to report it after PV.

[2021-01-20 06:24] cinerea0 commented on #2697
One additional question: Where does `libsof_tplg_parser.so` come from? I ask because I'm the package maintainer for sof-bin for Void Linux (packaged there as sof-firmware) and our packaging system is complaining that it doesn't know where that library comes from when attempting to install the tools that comes with sof-bin.

[2021-01-20 09:49] bardliao commented on #2700
@aigilea I assume you have added `options snd_sof dyndbg=+p` to  /etc/modprobe.d/sof-dyndbg.conf, but I didn't see any log from sof_sdw.c. So I am wondering if `CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH` is selected in your .config file. Could you check if you can see `CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=m` or `CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=y` in your .config file?
If not, please selec

[2021-01-20 10:25] kv2019i commented on #2697
Ack @cinerea0 , CONFIG_SND_SOC_SOF_COMETLAKE_LP_SUPPORT=y is the user-visible option to set, that will then autoselect other needed options like CONFIG_SND_SOC_SOF_COMETLAKE_LP. Same pattern as for other platforms.

@cinerea0 That is a library built by sof/tools/tplg_parser and AFAIK is only used test tools used by CI and developers. This is not needed by end-users.

@xiulipan @ranj063 @lgirdwood

[2021-01-20 10:39] aigilea commented on #2700
@bardliao
`cat /etc/modprobe.d/sof-dyndbg.conf |grep "snd_sof"`
[code]
The config I use is from the ubuntu's build of 5.11-rc4 and you're right about the module
[code]
I have no such item on the [menu](https://github.com/thesofproject/linux/files/5841662/menu.txt), but `sound/soc/intel/boards/Makefile` handles it, so I'll just add it to the config.

Or should I re-try with the latest kernel from t

[2021-01-20 12:28] bardliao commented on #2700
@aigilea You can git clone https://github.com/thesofproject/kconfig and run `../kconfig-sof-default.sh` in your kernel tree. It should generate a kconfig for you.

[2021-01-20 12:41] aigilea commented on #2700
@bardliao now there are messages from sof_sdw in [dmesg](https://github.com/thesofproject/linux/files/5842419/dmesg8.txt).
No pcms though.

[2021-01-20 13:15] bardliao commented on #2700
[code]
The driver found rt1308 twice therefore [is_unique_device](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw.c#L547) return false while it is supposed to be true.
I guess you may do acpi-add twice or there are two rt1308 adr in your .asl file.
You can try to remove one of them or add the following hack in sof_sdw.c
[code]

[2021-01-20 13:22] aigilea commented on #2700
@bardliao that's strange. I'm using only your scripts to manage ACPI overrides.
`ls /usr/lib/firmware/acpi-upgrades/`
[code]
`cat ./acpi/dsdtmod.asl`
[code]
Building the patched kernel now.

[2021-01-20 14:17] aigilea commented on #2700
@bardliao ok, new [dmesg](https://github.com/thesofproject/linux/files/5842997/dmesg9.txt) in a nutshell:
[code]
And indeed, no such topology in 1.6.1.

[2021-01-20 15:00] bardliao commented on #2700
@aigilea Please rename [sof-tgl-rt711-rt1308-2ch.tplg](https://github.com/thesofproject/sof-bin/blob/stable-v1.6.1/lib/firmware/intel/sof-tplg-v1.6.1/sof-tgl-rt711-rt1308-2ch.tplg) to sof-tgl-rt711-rt1308.tplg and see what happen.

[2021-01-20 15:08] aigilea commented on #2700
@bardliao new [dmesg](https://github.com/thesofproject/linux/files/5843354/dmesga.txt), a lot of new messages, but still failed in the end.

[2021-01-20 17:45] marc-hb commented on #2697
I've been looking at sof-bin only recently so I don't know all the history, however it's not because something is in sof-bin that it must be distributed to all users, in other words I don't think we want multiple sof-bin git repos for different audiences.

On the other hand, maybe something like `sof-fuzzer` should be in some separate, "developers" or something directory? Any suggestion?

Or are y

[2021-01-20 19:58] sergiocaccamo commented on #2698
@bardliao dmesg shows `jack_type=0x1`. If I connect headset instead it reports `jack_type=0x3`.
I plugged the headphone in and out 5-6 times, got slightly different results the first few times. Some more info:
- `sof-audio-pci 0000:00:1f.3: Topology: ABI 3:17:0 Kernel ABI 3:17:0`
- the first 2-3 times it showed `jack_type=0x0`, then it started recognizing it with 1. Still it doesn't work
- At some

[2021-01-20 20:06] sergiocaccamo commented on #2698
Some more info. To make the audio and microphone work (except the headphone issue), I had to use the ucm settings nicely proposed in [this reddit thread.](https://www.reddit.com/r/Dell/comments/husu3r/how_to_get_fully_working_audio_in_ubuntu_2004_on/)

If I use the one from https://github.com/thesofproject/alsa-ucm-conf only the laptop speaker work. This assuming I am copying the right files in th

[2021-01-20 20:17] plbossart commented on #2700
@aigilea I updated https://github.com/thesofproject/linux/pull/2701. I can't test it directly so I asked my colleague @RanderWang to take a look tonight. With the update (it's a complicated work-around) you shouldn't need any ACPI initrd updates.

For the topology file, we have a problem with the dmic configuration, today it needs a manual rename of the topology file with the -2ch suffix removed.

[2021-01-20 21:37] aigilea commented on #2700
@plbossart I've copied the topology file as follows before last acpi attempt earlier today:
`cp /usr/lib/firmware/intel/sof-tplg-v1.6.1/sof-tgl-rt711-rt1308-2ch.tplg /usr/lib/firmware/intel/sof-tplg-v1.6.1/sof-tgl-rt711-rt1308.tplg`
workaround currently fails with
[code]
(full [dmesg](https://github.com/thesofproject/linux/files/5845423/dmesgb.txt))

upd.
I've copied `sof-tgl.ri` to `(null)` to wo

[2021-01-21 01:35] bardliao commented on #2700
@aigilea Please apply https://github.com/thesofproject/linux/pull/2705 and add `options snd_soc_sof_sdw dyndbg=+p` to sof-dyndbg.conf.
You will also need to add a quirk for your device, like.
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw.c#L80
I believe that you will need `SOF_SDW_PCH_DMIC` and probably `SOF_RT711_JD_SRC_JD2`

[2021-01-21 01:40] RanderWang commented on #2700
yes, you need some code like
[code]
you can use " dmidecode | grep vendor " to get VENDOR, and "dmidecode | grep Product" for PRODUCT NAME

[2021-01-21 02:15] plbossart commented on #2700
@aigilea if you can run alsa-info and give us the pointer that will give us all the information needed to add a quirk.

Still, @bardliao @RanderWang we should start thinking of stopping this endless addition of quirks. the PCH_DMIC info can come from NHLT tables, and the jack is always JD2. The HDMI could be added just by checking the chipset. there's nothing that really forces us to use a quirk h

[2021-01-21 04:10] jason77-wang commented on #2690
ODM confirmed it is a BIOS issue, and they provided testing BIOS, we already verified the testing BIOS worked well with current Linux driver.

close this issue now.

[2021-01-21 04:10] #2690 closed

[2021-01-21 05:32] cinerea0 commented on #2697
@kv2019i Thank you for the information! I've made a PR with the necessary changes to the void-packages repo, now I just have to see if it works.

@marc-hb I apologize for dragging the conversation off-topic. In the event that a Void user needs the sof tools, I'll package them from source.

[2021-01-21 06:33] libinyang commented on #2698
@sergiocaccamo Please have a try `sudo rm -r /usr/share/audio/ucm2 ; sudo cp -r ucm2 /usr/share/audio/ucm2` in the alsa-ucm-config folder from https://github.com/thesofproject/alsa-ucm-conf. It seems you missed the file ./ucm2/ucm.conf. I'm not sure if it is the root cause. And could please clone https://github.com/thesofproject/sof-test. And go into the folder test-case, and run `./verify-ucm-con

[2021-01-21 07:27] bardliao commented on #2698
@sergiocaccamo jack_type=0x1 for headphone and jack_type=0x3 for headset is the proper result.
@libinyang I think jack_type=0x0 is shown when the jack is plugged out. I.e. We will see jack_type=0x0 then jack_type=0x1 if we remove and insert the headphone and check dmesg after the headphone is inserted.

[2021-01-21 07:28] kv2019i commented on #2697
@cinerea0 Thanks a lot and good that it works now! The many Kconfig options is somewhat challenging for distributions -- we are doing some refactoring to the driverss and might potentially reduce the options a bit going forward. I'll close this now as the main issue is closed. Thanks all!

[2021-01-21 07:28] #2697 closed

[2021-01-21 08:52] bardliao commented on #2700
I am not sure if it is true. SOF_RT711_JD_SRC_JD1 is the default value now and we do have [.driver_data = (void *)(SOF_RT711_JD_SRC_JD1 ](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw.c#L126) for TGL RVP. But I agree that we should at least treat JD2 as the default.

[2021-01-21 09:36] aigilea commented on #2700
@bardliao @RanderWang @plbossart so here's my dmidecode [result](https://github.com/thesofproject/linux/files/5848200/dmi.txt). I've taken the "workaround" kernel as a base and added the following block to `sof_sdw_quirk_table[]` just before `{}`:
[code]
Still it wanted to load `intel/sof/(null)` as firmware and `sof-tgl-rt711-rt1308.tplg` as topology, so I've copied `sof-tgl.ri` and `sof-tgl-rt71

[2021-01-21 09:56] bardliao commented on #2700
@aigilea You didn't set quirk successfully.
[code]
I am not familiar with, but I think the DMI_PRODUCT_NAME is `HP Spectre x360 Convertible 13-aw2xxx/8709` or `HP Spectre x360 Convertible 13-aw2xxx`. Could you try it? Or remove `DMI_MATCH(DMI_PRODUCT_NAME, "8709"),` for now.

You should see below if you set quirk properly.
[code]

[2021-01-21 10:46] aigilea commented on #2700
@bardliao the correct one was `HP Spectre x360 Convertible 13-aw2xxx` and that resulted in a progress:

1. No errors in dmesg.
2. pcms are present.
3. pulseaudio starts.
4. Headphones output is working.

However speakers and microphones are still not usable. Speakers are visible in alsamixer, but they are get muted every time pulseaudio starts and no sink is created.
[dmesg](https://github.com/the

[2021-01-21 11:57] bardliao commented on #2700
@aigilea I think the missing part is UCM. @libinyang Can you help on it?

[2021-01-21 14:25] plbossart commented on #2700
@aigilea ok, that's good progress then, rather encouraging. Can you share the updated quirk, I will add it to the default and restrict the hacks I did to your machine.

For UCM to work, we need to report the number of microphones to userspace (UCM) via an ALSA info configuration string. We will need additional patches in the machine driver to make this work, and then we need additional patches to

[2021-01-21 14:38] aigilea commented on #2700
@plbossart
[code]

[2021-01-21 17:01] plbossart commented on #2700
@aigilea I updated PR #2701 with your quirk, and added autodetection for the DMIC.
You should now be able to run this directly (the sof-topology name now needs to be sof-tgl-rt711-rt1308-2ch.tplg, no rename)

If you try and type : amixer -Dhw:0 info, you should now see a cfg-dmics string that is needed by UCM. Can you confirm you see it? If yes, we can move on to the UCM fixes, should be rather ea

[2021-01-21 18:05] aigilea commented on #2700
@plbossart I've had to apply 2ad1b7a5c3624d265b487dc7a2fbf52a48f6ff71 first.
Now it properly chooses `sof-tgl-rt711-rt1308-2ch.tplg` and `intel/sof/sof-tgl.ri` but fails after that with `sof_sdw sof_sdw: snd_soc_register_card failed -517` ([dmesg](https://github.com/thesofproject/linux/files/5851214/dmesgg.txt)).
`sound/soc/sof/intel/hda.c` have changed a lot since 5.11-rc4, should I maybe just bu

[2021-01-21 18:58] plbossart commented on #2700
@aigilea yes, please start from my branch, I don't understand some of the errors reported.

[2021-01-21 19:54] aigilea commented on #2700
@plbossart with these 38dc8f0688634a6596aeb11f2656a9fef49772f9 1ffe680eb0fefcee7475b42ddfe329721cc9f42a reverted everything back to normal. I'll rebuild with both link_id check and quirk table check. I mean with the broken bios, isn't the link_id the only way for slave drivers to decide which driver attaches to which slave?

btw, it's the 2ad1b7a5c3624d265b487dc7a2fbf52a48f6ff71 that fixed (null)

[2021-01-21 20:13] plbossart commented on #2700
Thanks @aigilea I added a better DMI quirk with the link check re-added.

I have this commit 2ad1b7a in my branch already, that should work fine.

[2021-01-21 20:33] plbossart commented on #2700
@aigilea looking at UCM now, what do you see with arecord -l ?

I need DMIC PCM device, should be hw:0,3 for DMIC and hw:0,4 for the DMIC16kHz based on topology but better check. thanks!

[2021-01-21 20:47] aigilea commented on #2700
@plbossart yes, that was the cause, condition like `(id->part_id == 0x701 && (slave->bus->link_id != X || !dmi_id))` works ok.
I've checked it on the previous kernel as it was much faster to build, from now on I'm switching to your branch.

`amixer -Dhw:0 info`
[code]
`arecord -l`
[code]
but
`arecord -L`
[code]

[2021-01-21 20:51] plbossart commented on #2700
@aigilea can you re-run alsa-info now and upload the results on the alsa-project site? It'll be useful for the next step of UCM changes. Thanks!

[2021-01-21 21:39] aigilea commented on #2700
@plbossart done
[code]

[2021-01-21 22:11] plbossart commented on #2700
@bardliao @RanderWang the topology for rt711-rt1308 exposes the DMIC, but there isn't any control exposed for volume control:

http://alsa-project.org/db/?f=e4b82bf1b1e6b35a4e60dea8229b64b8cf4be809

Can you take a look?

[2021-01-22 00:16] plbossart commented on #2619
@mengdonglin I will close this since no one has reported any occurrence of this issue for 1+ month now

[2021-01-22 00:16] #2619 closed

[2021-01-22 00:17] plbossart commented on #2533
closing since there's been no occurrence of this issue for 1+ month

[2021-01-22 00:17] #2533 closed

[2021-01-22 00:18] plbossart commented on #2539
no technical solution to detect ME status, closing.

[2021-01-22 00:18] #2539 closed

[2021-01-22 00:20] plbossart commented on #2485
closing since @jwrdegoede is pushing all the code upstream already. Thanks Hans!

[2021-01-22 00:20] #2485 closed

[2021-01-22 00:21] #2451 closed

[2021-01-22 00:22] plbossart commented on #2103
@libinyang can we close this issue? It's been 6+ months without an update.

[2021-01-22 00:23] plbossart commented on #2249
@mengdonglin @keyonjie can we close this?

[2021-01-22 00:24] plbossart commented on #2242
@naveen-manohar @RanderWang no update since 6 months, can we close this?

[2021-01-22 00:26] plbossart commented on #1870
no update since April 2020, closing.

[2021-01-22 00:26] #1870 closed

[2021-01-22 00:27] plbossart commented on #1838
@sathyap-chrome @keyonjie @aiChaoSONG @kv2019i can we close this one?

[2021-01-22 00:28] plbossart commented on #1829
@aiChaoSONG is this still relevant or can we close?

[2021-01-22 00:30] plbossart commented on #1799
@juimonen can we close this?

[2021-01-22 00:31] plbossart commented on #990
@kv2019i anything missing here or can we close and open newer bugs as needed?

[2021-01-22 00:32] plbossart commented on #731
@kv2019i should we close this?

[2021-01-22 00:32] #454 closed

[2021-01-22 00:33] #285 closed

[2021-01-22 00:56] keyonjie commented on #1838
since thesofproject/sof#3476 already merged, so if either @sathyap-chrome or @aiChaoSONG re-check it with master firmware to confirm it, we can close it.

[2021-01-22 02:14] aiChaoSONG commented on #1829
This issue has not been seen for months, close

[2021-01-22 02:14] #1829 closed

[2021-01-22 02:16] aiChaoSONG commented on #1838
@keyonjie I remembered that I have tried to check this issue on master with the topology provided, no data recorded via feedback pipeline.

[2021-01-22 02:36] bardliao commented on #2700
@plbossart Aren't the volume controls for DMIC `PGA4.0 4 Master` and `PGA5.0 5 Master`?
[code]
See [PIPELINE_PCM_ADD(sof/pipe-volume-capture.m4,](https://github.com/thesofproject/sof/blob/master/tools/topology/sof-tgl-rt711-rt1308.m4#L68)

[2021-01-22 02:55] xiulipan commented on #2697
@kv2019i Good point, we recently add all tools binary to sof-bin, did not notice we have extra dependency for sof-fuzzer. I think we can remove this binary in sof-bin/tools

[2021-01-22 06:46] juimonen commented on #2700
hope I'm not confusing this issue anymore, but shouldn't we "unify" the dmic volume names as they are used by UI's? I think they are also defined in UCMs. Also "PGA4.0 4 Master" is kind of mystical to understand that it is the dmic volume? Like in the hda pipelines we have Dmic0 and Dmic1 etc...

[2021-01-22 06:50] juimonen commented on #1799
Yes this should be fixed, we might still get new similar issues when folks have mixed versions of kernel/fw/topology, but they can be treated separately.

[2021-01-22 06:50] #1799 closed

[2021-01-22 06:50] juimonen commented on #2700
sorry

[2021-01-22 07:26] bardliao commented on #2700
Yes, it would be better if we have a unify name for dmic volume. However, there is no volume controls defined by the dmic codec driver [dmic.c](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/dmic.c). Therefore we can only control dmic volume via a pga volume control. That is we may need a topology change if we want to have a unify dmic volume name.

[2021-01-22 12:57] kv2019i commented on #731
@plbossart Yes, let's close. I have not needed this during last year, and nobody has asked about the it.

[2021-01-22 12:57] #731 closed

[2021-01-22 15:03] plbossart commented on #2700
@bardliao the control names are defined in the topology file. What we need is align sof-tgl-rt711-rt1308.m4 with sof-hda-generic.m4.

[2021-01-22 15:04] plbossart commented on #2700
or alternatively, we get rid of the sof-tgl-rt711-rt1308.m4  and have a single file for all SoundWire configs. That may start to be complicated though.

[2021-01-22 17:56] perexg commented on #2696
I mean with the multichannel control one control which exports more than 2 values. The kcontrol driver API can pass up to 128 values per one kcontrol: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/include/uapi/sound/asound.h#n1051 .

The alsa-lib supports this by design. Only the PA code was restricted to stereo. My code was added to PA 14.0.

I meant one control where th

[2021-01-22 18:16] plbossart commented on #2696
I think there's two issues here.
One is the number of channels, and I agree with @perexg

But the second issue is that the RT715 can be configured to use different microphones and DACs. Do we actually want PulseAudio to know about all the cases where this configuration may vary? That was the main intent of having a common control, that we could in one shot mute the microphones, without PulseAudio

[2021-01-22 18:35] kv2019i commented on #990
It's true @plbossart  that progress on this has been slow for a long time now, and this has turned into a laundry list of TODO items in the SOF HDA code. So the question is whether we want to keep tickets like these open even if they can stay open potentially for many years. Some of the items are nice-to-have, but for instance "patch" support would enable new devices to use SOF. I don't really min

[2021-01-22 19:16] plbossart commented on #990
@kv2019i I would prefer keeping only issues whose status is clear and self-explanatory. When we have issues that have dragged on for more than one year, no one knows what's left to do.

My recommendation is close and re-open with a subset that makes sense.

[2021-01-24 03:36] miltonhowe commented on #2748
I am also having this issue on a fresh install of Ubuntu 20.10 on a Lenovo Ideapad s740.
The speakers and headphones do not work.

The output devices and sound bars show in the Settings panel
![image](https://user-images.githubusercontent.com/414414/105620407-c41ddb00-5dca-11eb-9a3b-f9581f56c042.png)
The sound works on an external DisplayPort monitor connected to USB-C port.

Everything works flaw

[2021-01-24 11:10] Kruayd opened #2713 "Failed to detect speakers and microphone on Dell Inspiron 7506 2n1"
**Describe the bug**
Speakers and microphone in my Dell Inspiron 7506 2n1 (which runs Void) fails to be detected under PulseAudio even when using SOF firmware. Using the old driver with "options snd-intel-dspcfg dsp_driver=1" allows audio to be played but does not allow for microphone use. I've also tried with hdmi audio, jack earphone and usb headset and only the latter seems to be detected.

**T

[2021-01-24 15:04] naveen-manohar commented on #2242
RT5682 only requires the following mixer controls & its reflecting in I2S TGL DUTs
[code]
May be the script used by the validator needs to be updated, I believe we can close this issue.

[2021-01-24 15:04] #2242 closed

[2021-01-25 03:13] libinyang commented on #2544
Jaroslav doesn't like our current codec driver solution. After discussing with Realtek, they will update the codec driver and I will update the UCM correspondingly.

[2021-01-25 05:04] mengdonglin commented on #2690
The old BIOS integrated a problematic NHLT table binary provided by FDK for Windows, the DMIC description is wrong for Linux.

[2021-01-25 05:23] libinyang commented on #2696
I talked with @jack-cy-yu last week. RT715 may be used as 2 channels or multiple channels for MIC array. We can make a kcontrol with 4 (or 8) channels. Even there is only two channel DMIC connected, we can also mute other channels. It should have no side effect.

[2021-01-25 08:17] jack-cy-yu commented on #2696
@libinyang A patch (#2670 ) has been submitted regarding this issue. Note that amixer command should be modified to below format, which allows different values for different channels.

amixer cset name='rt714 FU02 Capture Switch' 1,1,1,1
amixer cset name='rt714 FU0A Capture Switch' 0
amixer cset name='rt714 ADC 22 Mux' 'DMIC3'
amixer cset name='rt714 ADC 23 Mux' 'DMIC4'
amixer cset name='rt714 FU0

[2021-01-25 08:55] perexg commented on #2696
Thank you for this work. Just to make sure - RT715 is not supposed to handle multiple stereo inputs? The configuration above 2 channels assume only multichannel operation for this change. Which may be correct, but if RT715 can handle for example stereo microphone (internal) and stereo line input (external), then this code / abstraction is problematic.

[2021-01-25 10:17] bardliao commented on #2700
@plbossart Sorry I didn't get what did you mean by "have a single file for all SoundWire configs". Did you mean use a single m4 file for all SoundWire devices including different platforms and codecs? I can imagine the m4 will be a very complicated  one. Actually, I think [sof-icl-rt711-rt1308-rt715-hdmi.m4](https://github.com/thesofproject/sof/blob/master/tools/topology/sof-icl-rt711-rt1308-rt715

[2021-01-25 15:36] plbossart commented on #2690
no one knows what's wrong here...

[2021-01-25 15:43] plbossart commented on #2700
@bardliao yes I meant a single topology file. if we don't have a single topology file for SoundWire platforms, then the dmic and HDMI handling seems to be done in similar ways to other non-SoundWire topologies, in all the topologies we maintain for SoundWire.

[2021-01-25 19:47] #2678 closed

[2021-01-26 16:54] kv2019i opened #2714 "HDA: "patch" parameter support"
Implement capability to load custom HDA verbs for initialization from a file.

This is a feature implemented in the non-DSP snd-hda-intel driver and commonly used to address issues in codec programming (something missing in BIOS or a new variant). Example bug:
https://github.com/thesofproject/linux/issues/2631

[2021-01-26 16:54] kv2019i commented on #990
@plbossart Ack, will do.

[2021-01-26 16:54] kv2019i commented on #990
New items:
 - "patch" support moved to https://github.com/thesofproject/linux/issues/2714
 -  https://github.com/thesofproject/linux/issues/2716
 - https://github.com/thesofproject/linux/issues/2715

Rest of the todo items put on hold. Closing the item.

[2021-01-26 16:56] kv2019i opened #2715 "HDA: LCTL manual setup"
Add logic to program LCTL in case clocks are not set up.

Patch "ALSA: hda - set intel audio clock to a proper value" in non-DSP legacy driver

[2021-01-26 16:58] kv2019i opened #2716 "HDA: multiple external codec support"
Current SOF hda codec integration only support at max one external codec, while the legacy snd-hda-intel driver can support multiple codecs.

[2021-01-26 17:00] #990 closed

[2021-01-27 13:33] Kruayd commented on #2713
With the new update the problem solved itself

[2021-01-27 13:33] #2713 closed

[2021-01-27 15:52] Jbbs commented on #2700
Same issue here on my HP Spectre x360 15-eb1003nl (2020, Tiger Lake)

[2021-01-27 16:00] plbossart commented on #2700
@Jbbs can you share the result of 'sudo dmidecode', we may have to expand the quirk we just added for the '13-aw2022ur' sku.

[2021-01-27 16:07] Jbbs commented on #2700
This is the output on my machine, but I think that this is an issue common to all spectre tiger lake notebooks

# dmidecode 3.2
Getting SMBIOS data from sysfs.
SMBIOS 3.3.0 present.
# SMBIOS implementations newer than version 3.2.0 are not
# fully supported by this version of dmidecode.
Table at 0x59CA1000.

Handle 0x0000, DMI type 0, 26 bytes
BIOS Information
	Vendor: AMI
	Version: F.04
	Release

[2021-01-27 16:28] volfco commented on #2700
I also have this issue on 14t-ea000. I believe it affects all the 2020 Tiger Lake HP laptops. Good job with naming HP...

Here's my dmidecode: https://gist.github.com/volfco/5598325077c3b15b98210a36c968584f

[2021-01-27 16:31] plbossart commented on #2700
ok, so we've got

[code]
[code]

@aigilea can you add what you see on your device, and we'll take the intersection... It may be that the 'Family' is a better match than 'product name'

[2021-01-27 16:47] aigilea commented on #2700
[mine](https://github.com/thesofproject/linux/files/5881640/dmi.txt) has:
[code]
Family looks good on the first sight but I've googled and the "103C_5335KV" part is actually very common for HP laptops back to at least 2015. The "HP Spectre" part is used to look different on the older models but I haven't found 2019 Spectre dump to see if it differ from the tgl one.
So probably not a good idea.

[2021-01-27 16:56] plbossart commented on #2700
thanks @aigilea, let's use a partial match on 'HP Spectre x360 Convertible' then. I googled this string and it seems to point to recent devices.

The fun part is the suggestion by Google 'How much HP does a Spectre x360 have?'. Yay AI.

[2021-01-27 17:22] plbossart commented on #2700
@Jbbs and @volfco I just updated the fixes, if you take PR #2717 and PR #2718 and update your kernel you should see an audio device created (need also firmware and topology files). Still trying to figure out PulseAudio integration.

[2021-01-27 17:42] volfco commented on #2700
13t-aw200, 13-aw2004nr, 15-eb1097nr, 15t-eb100, 14-ea0047nr, 15t-eb100 seem to be the currently for sale 11th generation Intel laptops that should be affected by this issue.

[2021-01-27 17:44] Jbbs commented on #2700
ehmmm ... I am delighted with your speed in resolving issues, and would love to be able to help but I'm really sorry, I have no idea how to do it ...

[2021-01-28 02:28] keqiaozhang opened #2723 "[BUG] IO transfer timed out in kmod test on TGLU-SDW"
**Describe the bug**
This error happens when removing audio modules, but it won't impact audio functionality and sof can work after reloading.
Daily report ID:1867
Device:TGLU_SKU0A32_SDCA

**To Reproduce**
$ /sof-test/test-case/check-kmod-load-unload.sh

**Reproduction Rate**
100%.

**Expected behavior**
no errors during the kmod test

**Impact**
no functionality impact

**Environment**
     Kern

[2021-01-28 05:46] bardliao commented on #2700
Can HP or ODM ask AMI to solve the issue on BIOS? At least for future HP laptops, otherwise we will work with endless quirks.

[2021-01-28 07:10] bardliao commented on #2723
@shumingfan @plbossart This issue was fixed by https://github.com/thesofproject/linux/pull/2640. We use `regcache_cache_only` to avoid to access `SDW_SCP_SDCA_INTMASK1` and `SDW_SCP_SDCA_INTMASK2`. However, after https://github.com/thesofproject/linux/pull/2642/ uses sdw_write_no_pm directly, `regcache_cache_only` can't protect it anymore. What is your idea here?

[2021-01-28 08:21] shumingfan commented on #2723
@bardliao @plbossart Could we remove the sdw_write_no_pm when the jack disable?
The SDW_SCP_SDCA_INTMASK1/2 will be cleared by any reset anyway.

[code]

[2021-01-28 14:34] plbossart commented on #2723
I don't understand the issue, did we fix the problem or not? It seems we have the same report but a different error? Completely lost on what the problem is.

[2021-01-28 14:58] AndyLiao-wistron opened #2725 "[Dell] CyborgL TGL platform single mic no function by Intel NHTL bin file seeting"
Intel TGL single mic NHTL bin file setting no function on Linux platform
Intel sighting number #00587508
![TGL single mic setting 1](https://user-images.githubusercontent.com/78159159/106156095-193b6180-61bc-11eb-8415-56a3ad787a51.PNG)
![TGL single mic setting](https://user-images.githubusercontent.com/78159159/106156101-1b052500-61bc-11eb-9535-3657e10edad9.PNG)

[2021-01-29 00:12] libinyang commented on #2696
@jack-cy-yu Could you please answer @perexg 's concern?

[2021-01-29 02:16] bardliao commented on #2723
@plbossart The issue is that snd_soc_component_set_jack(component, NULL, NULL) will be called when asoc component is removed. SoundWire bus is suspended at that moment, and we use `sdw_write_no_pm()` which was `regmap_write()` to set the SDW_SCP_SDCA_INTMASK in rt711's set_jack callback function. In other words, we call `sdw_write_no_pm()` when sdw bus is suspended which result in  IO transfer tim

[2021-01-29 03:11] jack-cy-yu commented on #2696
Consider about sdca topology, kcontrol should be able to handle multiple stereo inputs.

[2021-01-29 14:13] aigilea commented on #2700
@plbossart so I've installed windows to another ssd to check if dmic gain is that different and the answer is no.
I have almost yell just next to it to make it clip and it's about the same now in linux. Maybe windows drivers behavior is a bad benchmark of course.

The only final question I have that belongs in this thread is do you have any suggestion how to make mute & mic mute keyboard leds work

[2021-01-29 14:19] juimonen commented on #2700
@aigilea we've added "boosting eq" in some topologies to the dmic path to increase the volume, not sure it is included here... @singalsu  FYI

[2021-01-29 15:12] plbossart commented on #2700
Ah the LED question... Always the last one to pop up. I forgot about that one but we had to deal with this for Dell platforms.
Since you don't have an HDaudio codec, the hda-verb stuff is not applicable.

@juimonen can you help remind us what needs to happen with the DMIC mute? IIRC the dmic control is already exposed and known to UCM.

For the speaker mute, I don't think we did anything specific.

[2021-01-29 17:50] singalsu commented on #2700
@aigilea @juimonen I don't think the SDW codec topologies have the boost EQ configured. The +20 dB gain has been used for direct attach digital microphone type. What SOF topology is used in this computer (check it from dmesg)? If the gain is not causing issues with other models we could add such. Though the codec driver is the first thing to check.

[2021-01-29 18:25] aigilea commented on #2700
@singalsu It uses `sof-tgl-rt711-rt1308-2ch.tplg`, but not the one from v1.6.1. @plbossart have made an updated/customized version ([discussion](https://github.com/alsa-project/alsa-ucm-conf/pull/75), [file](https://github.com/alsa-project/alsa-ucm-conf/files/5890375/sof-tgl-rt711-rt1308-2ch.tplg.gz)).

[2021-01-29 20:14] plbossart commented on #2700
@singalsu the updated topologies were merged this morning, we use the same macros as for HDaudio, see https://github.com/thesofproject/sof/blob/cb924991a58fcce5109bbc543347c3282a74119e/tools/topology/sof-tgl-rt711-rt1308.m4#L38

[2021-01-29 21:29] plbossart commented on #2725
@AndyLiao-wistron out of curiosity, what happens if you click on the 'Microphone Array' box shown in the first picture?

can you also provide the dmesg log for this issue with dynamic debug enabled? copy
[ddebug.txt](https://github.com/thesofproject/linux/files/5896394/ddebug.txt) as /etc/modprobe.d/sof-dyndbg.conf.

Thanks!

[2021-01-31 17:12] perexg commented on #2696
Ok, if there are stereo inputs which are independent (just dmic use two or more of those inputs in the coupled mode) then the driver should probably export all those controls as stereo only in the generic abstraction scheme.

If you like to have a separate mode for the digital microphones (export only the multichannel kcontrol), you should create those control conditionally (according the real har

[2021-01-31 20:45] marc-hb commented on #2647
https://semver.org/ is designed to version **releases**, _not_ to version interfaces. Not APIs, not ABIs. I think a lot of the confusion and/or misunderstandings on this page come from this.

At the top of https://semver.org/:

In other words: _increment the PATCH level when you make a release with absolutely zero API/ABI changes._
In yet other words: when "hijacking" semver.org to version an _int

[2021-02-01 02:40] mengdonglin commented on #2676
Set P3 and only reproduced once.

[2021-02-01 06:06] libinyang commented on #2696
@perexg Let's use FU02 as an example. FU02 is a mute/volume control for an audio PCM stream. (FU06 controls another audio stream). The audio stream can be 2 or 4 channels, and all the channels have already be merged into one stream. So we should control them in a kcontrol. The old codec driver exports 2 kcontrols, each kcontrols controls 2 channel in the same audio stream. This is not accurate. So

[2021-02-01 09:03] kv2019i commented on #2699
@rogpeppe any update?

[2021-02-01 09:22] rogpeppe commented on #2699
It hasn't happened again so far. When it was happening quite a bit, I was on battery power, but since then I've been mostly on external power, in case that makes a difference.

[2021-02-01 09:59] perexg commented on #2696
If this combination is not feasible for RT715 for FU02, then I'm fine:

<pre>
stereo line-in no1 ----+--------+                                      +---- ALSA stereo PCM device no 1
                       |  FU02  +--- PCM link --- PCM / DMA bridge ----+
stereo line-in no2 ----+--------+                                      +---- ALSA stereo PCM device no 2
</pre>

The identical question is for F

[2021-02-01 10:43] singalsu commented on #2700
![sof-tgl-rt711-rt1308-2ch](https://user-images.githubusercontent.com/28754793/106448133-027e5e80-648b-11eb-8e64-209552b1bf15.png)
@aigilea @plbossart @juimonen Thanks, there's a difference to sof-hda-generic topologies that the IIR filters in capture path are with 0 dB gain (vs. +20 dB).

The +20 dB gain could be done with Dmic0 and Dmic1 gains if UCM could set them. Or alternatively use the same

[2021-02-01 17:04] plbossart commented on #2700
@singalsu can you provide a pointer to the difference you mentioned? I used the same macros, so not sure what I missed?

[2021-02-02 07:42] juimonen commented on #2700
@plbossart @aigilea about the leds. How to enable leds with sof (hope I remember everything):
1) You need to have a switch in your topology on the desired path, topology has tuple 0 or 1 to enable led on this switch (so you can choose which switch toggles the led, and not all of your switches)
2) you need to have CONFIG_LEDS_TRIGGER_AUDIO set in kernel config as we use the generic led driver (sof

[2021-02-02 09:09] singalsu commented on #2700
@plbossart The gain is changed from the default 0 dB at CMakeLists.txt top level:

`        "sof-hda-generic\;sof-hda-generic-2ch\;-DCHANNELS=2\;-DHSPROC=volume\;-DDMICPROC_FILTER1=eq_iir_coef_highpass_40hz_20db_48khz.m4\;-DDMIC16KPROC_FILTER1=eq_iir_coef_highpass_40hz_20db_16khz.m4"
`

There could be also explicit DMIPROC=eq-iir-volume and DMIC16KPROC=eq-iir-volume definitions to call out what ha

[2021-02-02 17:04] plbossart commented on #2700
@aigilea can you try this topology file with the gain boost:
[sof-tgl-rt711-rt1308-2ch.tplg.gz](https://github.com/thesofproject/linux/files/5912926/sof-tgl-rt711-rt1308-2ch.tplg.gz)

[2021-02-02 17:05] plbossart commented on #2700
@singalsu Do I need the HSPROC? or is it HDAudio specific?

[2021-02-02 17:50] aigilea commented on #2700
@plbossart Works great now. Normal voice from 30cm starts to clip around 90%. Maybe it's a bit too loud, but it's much better to have to turn it down a bit than being unable to turn it up.

[2021-02-02 22:34] aigilea commented on #2700
@plbossart @juimonen So I've pocked into leds and that's what came out:
1. There's no obvious EC methods in DSDT like with Dells. Watching EC memory while turning them on and off on Windows doesn't show any relation. According to DSDT there's 3-bit register LEDM at 0x8B, writing any combination of bits to this offset doesn't result in anything.
2. They're not connected to the keyboard as booting w

[2021-02-02 22:43] plbossart commented on #2700
Just thinking aloud @aigilea. Usually LEDs are handled in the HDaudio codec drivers. Can you try booting with the legacy HDaudio driver only (add this to /etc/modprobe.d/alsa-base.conf: options snd_intel_dspconfig dsp_driver=1) to see if you get the speaker mute LED to work? For the DMIC you will need SOF but one thing at a time.

[2021-02-02 23:11] aigilea commented on #2700
@plbossart No, with legacy HDaudio drivers both leds just keep their state and speaker mute led is not exported like it should according to `create_mute_led_cdev` function in `sound/pci/hda/hda_generic.c:3899`, they both do not react to mute button or mute controls in alsamixer.

BUT I've mistaken in the previous post, only the speaker mute led is turned off during SOF driver initialization, micmu

[2021-02-02 23:40] plbossart commented on #2700
never mind @aigilea, that was a stupid idea from me since you only have HDMI in case you load the legacy driver only...

@juimonen @bardliao @libinyang can you remind me how we handled RT1308 speaker mute on SoundWire/Dell platforms? I don't see anything for playback, only this for capture:

[code]

[2021-02-03 00:25] plbossart opened #2730 "[SDW] [Volteer] arecord -i does not work"
Before we go in complicated tests, I tried to record from the echo reference without any playback, and get different results depending on whether the arecord -i option is used or not.

[code]

[2021-02-03 00:35] plbossart commented on #2730
Ironically 'aplay -vi -Dhw:0,2 -c2 -r48000 -fS16_LE /dev/zero' works fine and I can't seem to break it. This doesn't impact the recording of hw:0,3 in parallel.

[2021-02-03 02:44] bardliao commented on #2700
@plbossart Please see https://github.com/thesofproject/alsa-ucm-conf/blob/master/ucm2/sof-soundwire/rt1308-2.conf. It is
[code]

[2021-02-03 03:26] libinyang commented on #2696
@perexg From the HW spec, I don't think there is such scenario that the PCM will be divided into multiple PCM devices. It will be very strange. If customers want to have 2 PCM devices, they can use FU02 and FU06 for each. I checked Intel platforms, there is no such usage.
In theory, customer may be able to create such usage. Host divides the PCM stream from codec FU02 into 2 PCM devices. In case c

[2021-02-03 05:42] jack-cy-yu commented on #2696
My opinion is the same as before, as we consider about sdca topology, using latest kcontrols are more proper to describe sdca routing.

[2021-02-03 07:33] juimonen commented on #2700
@plbossart @bardliao I don't remember did we handle speaker mute... background: we kind of agreed on the dmic switch names only as many (most) of the device with led have only the "mic led" not for playback mute. In hda devices like X1 the playback was the hda named mixer (something like Master playback etc).

So I see 2 options: we try to name the sdw speaker path switch/volume similar as in hda,

[2021-02-03 11:01] torotil commented on #2375
It seems that the BIOS update from https://bugzilla.kernel.org/show_bug.cgi?id=205755 solved the issue for me (and also enabled the speakers).

I haven’t tested this for a while so there is a chance that updating my kernel to 5.10.10-gentoo (including the quirks also introduced in the linked issue) was enough to fix *this* problem.

[2021-02-03 11:37] perexg commented on #2696
No further objections then. I don't know the RT715 codec diagram which may make things clear.

[2021-02-03 12:59] keqiaozhang commented on #2723
This issue is fixed by https://github.com/thesofproject/linux/pull/2728

[2021-02-03 12:59] #2723 closed

[2021-02-03 18:21] plbossart commented on #2700
@juimonen I just checked on my Dell test devices and only see a mic mute LED. Nothing for speakers.

We would probably need a change in the UCM rt1308 to use PlaybackVolume and PlaybackSwitch, but more fundamentally we are missing the link from codec driver to LED. it's probably an RT1308 driver change that's needed?

@bardliao @shumingfan FYI

[2021-02-03 18:54] lyakh opened #2734 "[BUG] [CNL] error on `SNDRV_PCM_TRIGGER_SUSPEND` during weekly testing"
When running the suspend-resume-with-capture test on Mantis after more than 30 iterations an error occurred:
[code]
After which no further communication with the DSP was possible.
[dmesg.txt](https://github.com/thesofproject/linux/files/5920776/dmesg.txt)
[slogger.txt](https://github.com/thesofproject/linux/files/5920778/slogger.txt)

[2021-02-03 19:14] ranj063 commented on #2734
@lyakh the weird part is that after the STREAM_SD_OFFSET read timeout,2 other IPCs are still successful. So the DSP is clearly not dead. What did you mean by "no further communication was possible"? You couldnt start any stream after that?

[2021-02-03 19:18] lyakh commented on #2734
@ranj063 ok, you're right, sorry, missed those 2 IPCs. But that was suspending the DSP. But booting it again after that didn't work, as far as I can see:
[code]

[2021-02-03 20:51] ranj063 commented on #2734
The same error happens on the helios within 5 iterations of suspend-resume with capture.

[2021-02-03 21:16] plbossart commented on #2734
Weird, this is not reported by daily tests. Are we testing the same things?

[2021-02-03 21:32] ranj063 commented on #2734
hmm yes seems like we're not. I updated my FW to SOF master and I cant seem to reproduce it anymore.

[2021-02-03 21:41] fredoh9 commented on #2734
@lyakh do you have linux and sof SHA1s?

[2021-02-03 22:47] fredoh9 commented on #2734
I tested with CML Helios and CML_RVP_SDW. With two daily builds(below hash info). I couldn't reproduce the problem.

[code]

This is the test command I used,
`./check-suspend-resume-with-audio.sh -m capture -l 35`

[2021-02-04 08:24] lyakh commented on #2734
@fredoh9 the test ran last Friday, Jan 29.
kernel 6fa085f3d92278d1a9fd28b0c760e3e4ee6c4e61
Interestingly, due to a problem with my weekly testing, the firmware hasn't been updated  stayed at an earlier checkout, same as during the test a week before, when this issue hasn't occurred. This confirms @ranj063 's suggestion from an email, that this should be a kernel regression. But to verify whether i

[2021-02-04 08:24] #2734 closed

[2021-02-04 16:41] plbossart commented on #2730
@aiChaoSONG can you look into this? I don't understand how we can run complicated tests and my basic test fails.

[2021-02-05 02:14] aiChaoSONG commented on #2730
@plbossart  If the output file is specified, both arecord commands with/without -i work well.  I have the same behavior with you if output file is not specified. I also try some other record pipelines on different platforms(SDW-sku0a32/I2S-helios), I get the same result. Seems we have to specify the output file for arecord.

[2021-02-05 02:32] aiChaoSONG commented on #2730
@plbossart I guess you are debugging https://github.com/thesofproject/sof/issues/3714. To reproduce the issue faster, change
line 58 in multiple-pause-resume.sh from `func_pipeline_export "$tplg" "type:any"` to `func_pipeline_export "$tplg" "type:any & smart_amp:any"`

PS: we don't have issue in running `aplay -Dhw:0,2` and `arecord -Dhw:0,3`  in parallel, we have issue in doing pause/release to

[2021-02-05 02:46] plbossart commented on #2730
Humm, I recall copy/pasting the command from CI tests and not seeing a good result either.
Maybe I made a mistake, but to clear this can you clarify what command works for you?

[2021-02-05 02:52] plbossart commented on #2730
You have two pipelines and two states each, that's 4 combinations where you can test the state machine.
My take is that conceptually things are already broken because we have a component with two sources and another one with two sinks.

If we have timing issues with transitions on each pipeline tripping on each other that's a different problem.

[2021-02-05 03:09] aiChaoSONG commented on #2730
[code]
@plbossart Above two commands work for me, and can be run in parallel.

[2021-02-05 03:11] aiChaoSONG commented on #2730
@plbossart This is my previous finding, may give some hint?

[2021-02-05 20:57] plbossart opened #2745 "UpExtreme: suspend-resume checks cause reboot"
Tracking this as a Linux issue for now.

when running sof-test/test-case/run-all-tests.sh, the device will reboot during the suspend-resume check. There is no log or information that is reported for now.

This seems to only happen if we run audio tests first, i.e. just doing a modprobe snd-sof-pci and then the suspend-resume testsdoesn't seem problematic.

[2021-02-07 02:54] libinyang commented on #2696
@jack-cy-yu As we have aligned to your latest patch, would you send the patch to alsa or thesofproject? I have tested your patch on my platform, it works.

[2021-02-08 23:06] plbossart commented on #2637
@bardliao I don't really understand the revert. There is no explanation and we have not provided this upstream? Reopening since we don't have a solution for upstream.

[2021-02-09 03:19] bardliao commented on #2637
@plbossart The `regcache_sync()` will not take effect if we don't call `regcache_mark_dirty()`. Based on the test result, we need the `regcache_mark_dirty()` here. My theory is that some max98373 registers are changed. i.e. The regmap cache is out of sync. But we do need @ryans-lee's comment.

[2021-02-09 10:50] kv2019i commented on #2676
Caught in CI today:
https://sof-ci.01.org/linuxpr/PR2747/build5278/devicetest/?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-after-playback
Bumping to P2.

[2021-02-09 16:00] plbossart commented on #2637
Thanks @bardliao but why is this needed just for max98373? There's something very odd here. @ryans-lee can you take a look?

[2021-02-09 16:02] plbossart commented on #2676
This looks like a codec issue @kv2019i by looking at the trace?

[2021-02-09 16:04] plbossart commented on #2676
adding dmesg log here:
[dmesg.txt](https://github.com/thesofproject/linux/files/5952543/dmesg.txt)

[2021-02-09 17:53] plbossart commented on #2676
possible fix at https://github.com/thesofproject/linux/pull/2749

[2021-02-09 21:24] juimonen opened #2751 "multi-pipeline-capture test fails in dell xps 17 sdw device"
sof-test multiple-pipeline-capture.sh fails in sdw driver:
"rt711 sdw:0:25d:711:0: DPN_PortCtrl register write failed for port 4"

test itself tries to open multiple stream simultaneously (2 playback and 2 capture).

sof-dev kernel: 37d57e0e29a5f6703b5bbab73055239b7df4d43a
fw: 9d41d63ac79e551f4022c388284c2233606788a1
topology: sof-cml-rt711-rt1308-rt715.tplg

dmesg attached:
[sdw_fail.txt](https:/

[2021-02-09 21:25] juimonen commented on #2751
@bardliao @plbossart FYI

[2021-02-09 22:30] plbossart commented on #2751
@juimonen I don't see anything in the log that looks suspicious before that error message.

can you copy/paste the command used so that we can reproduce this? Is this 100% reproducible or just random.

I don't have this device (only the mono version) but we've not seen this in daily tests.

[2021-02-09 22:32] plbossart commented on #2751
What's odd is that there's a failure on playback as well

[code]

[2021-02-09 22:37] plbossart commented on #2751
I note however that the firmware is, well, was modified by you @juimonen ...

I have no idea what this commit "mux: enable playback of multiple simultaneous streams" does but we do use mux/demux on this device. Do you get this error with 1.6.1?

[2021-02-10 06:51] juimonen commented on #2751
@plbossart, so kernel and fw should be that time "main/masters" so no mods. I've compiled both myself of course. Command to reproduce is script multiple-pipeline-capture.sh in sof-tests. For me it fails always, not randomly. I've also not worked at all on sdw devices, so I might have some config issues etc? The mux patch you mention from me is in master and is totally for mux case, not _demux_ as

[2021-02-10 06:57] juimonen commented on #2751
@plbossart so the test is launching 4 separate user space processes with 2 starting playback and 2 starting recording, so the stream building and teardown may come in random order to kernel driver...

[2021-02-10 07:26] juimonen commented on #2751
and I get the same error with 1.6.1 fw...

[2021-02-10 07:32] juimonen commented on #2751
actually I get the error with just whatever aplay command. Do I need to use some different kernel config for this or am I possibly missing something else fundamental for this. fw loads ok, no errors.

[2021-02-11 14:50] mrhpearson commented on #2551
Apparently BIOS M1UKT62A fixes this issue. My colleague tested it with Fedora33 on the M720 and it worked.

The good news - the BIOS is available on the Lenovo support site and has an iso for creating a bootable image to do the update.
The bad news - the desktop team haven't commited to putting this on LVFS I'm afraid. Still working on that but I don't have an ETA for that to happen.

Let me know

[2021-02-12 11:59] kv2019i commented on #2573
Also related to https://github.com/alsa-project/alsa-lib/pull/118 and whether to make changes in snd-hda-intel driver side as well.

[2021-02-13 21:01] gbrdead commented on #2460
I am willing to take the role of a reporter. I have the same laptop (presumably).

I am using Debian Testing.

1. If the package firmware-sof-signed is not installed then there is no sound card detected.

2. After I installed firmware-sof-signed (https://packages.debian.org/bullseye/firmware-sof-signed), output worked fine but the microphone did not record any sound.

3. After I copied `/lib/firmw

[2021-02-14 16:57] gbrdead commented on #2460
I managed to do this:
1. Add the following two lines in `/etc/pulse/default.pa`:
[code]
2. Restart and use the input named "Comet Lake PCH-LP cAVS" (without "Multichannel") in KMix.

[2021-02-15 07:25] paulstelian97 commented on #2460
Yikes that's a long codec initialization time (for the noise part).

@juimonen Any clue how to compensate for the fact that this noise exists? @singalsu Does the volume component have an adjustable startup delay/volume curve?

[2021-02-15 09:42] singalsu commented on #2460
@gbrdead Seems that your device has two microphones those are connected to channels 3 and 4. There's no microphone in channels 1 and 2 and the not-connected microphones create the start transient that's seen.  (non-toggling PDM bus appears as full scale DC and then the stepped HW gain ramp and high-pass create the effect seen)

![image](https://user-images.githubusercontent.com/28754793/107928814-

[2021-02-15 13:07] singalsu commented on #2460
Based on the observation I created this pull request https://github.com/thesofproject/sof/pull/3847 . @gbrdead Can you please try this topology:

[sof-hda-generic-2ch-pdm1.zip](https://github.com/thesofproject/linux/files/5981682/sof-hda-generic-2ch-pdm1.zip)

Unzip and copy sof-hda-generic-2ch-pdm1.tplg over /lib/firmware/intel/sof-tplg/sof-hda-generic-2ch.tplg. I just tested with my 4 mic device

[2021-02-15 14:36] kv2019i commented on #2460
@gbrdead To make the topology selection automatic, can you help to capture the full NHLT dump from the laptop in question:

sudo cat /sys/firmware/acpi/tables/NHLT >NHLT.bin

... and attach "NHLT.bin" to this bug. If the FW fix in https://github.com/thesofproject/linux/issues/2460#issuecomment-779212719 help, we need to figure out how the kernel could automatically load this topology on affected s

[2021-02-15 18:29] singalsu commented on #477
I don't think this issue is relevant any more. Closing.

[2021-02-15 18:29] #477 closed

[2021-02-15 19:59] gbrdead commented on #2460
The microphone works much better with the patched topology:
1. Higher volume and sensitivity.
2. No noise in the beginning of the recording.

The modification to /etc/pulse/default.pa is still necessary for audacity et al.

[NHLT.zip](https://github.com/thesofproject/linux/files/5983815/NHLT.zip)

[2021-02-16 08:55] singalsu commented on #2460
@gbrdead Nice that it worked, now the low-level fix is known and need to figure out how to solve the upper level things. Can you still describe what is the issue with 48 kHz hw:0,6 device. Is the sound muted? Do you get errors from arecord?

The gains can be set via command line and alsamixer for 48 kHz device

[code]
For 16 kHz device there's control

[code]

[2021-02-16 09:10] gbrdead commented on #2460
Both hw:0,6 and hw0,7 work well with the patched topology.

[2021-02-16 15:13] kv2019i commented on #2647
Fixed and merged upstream.

[2021-02-16 15:13] #2647 closed

[2021-02-16 15:16] plbossart commented on #2460
I re-checked the NHLT document: https://01.org/sites/default/files/595976_intel_sst_nhlt.pdf

I don't see anything that would tell us how the microphones are connected. I only see channels and mic array geometry, nothing on which PDM wires are used.

It probably works in Windows because the mic configuration is hidden in binary blobs, so there's nothing that's exposed. It's actually a good example

[2021-02-16 15:38] singalsu commented on #2460
@plbossart This can be decoded from binary part of the blob, the blob that was shared here has the FIFO packer set up differently than in various 2ch NHLTs we quickly collected with @kv2019i , also we checked that 4ch can be detected from there. The PCM data FIFOs source is set to pdm1 instead of normal pdm0 in Thinkbook13S. It's then another matter if want to to decode this in the driver since we

[2021-02-16 15:45] plbossart commented on #2460
@singalsu do we only have 2 configurations for 2ch?

Also what would happen e.g. in the 1ch case, would we need to provide 4 topologies?

[2021-02-16 16:05] singalsu commented on #2460
@plbossart Yep, the same connection issue can be made with single microphone. So with the naming that I used in my SOF PR there could be need for sof-hda-generic-1ch-pdm1.tplg too.

[2021-02-16 16:18] plbossart commented on #2460
how would we pick ch0 or ch1 on that link though?

[2021-02-16 16:41] singalsu commented on #2460
@plbossart There's no need to select ch0 or ch1 in mono case, the single microphone data appears on both slots. It's available in firmware IPC (swapped mono) but it's not used currently.

We don't actually use mono PCM format for 1ch dmic. The capture data appears with the current topologies as dual mono. There's an unsolved DMA configuration issue with mono DMIC data.

[2021-02-16 21:33] fredoh9 commented on #2621
daily test 2190 reported same issue on CML_SKU0983_SDW.

[code]

[2021-02-19 19:50] patbakdev commented on #2748
I too have a Lenovo Ideapad s740 and have been struggling with this issue for over a year. Headphones, USB-C (HDMI) all work, but never the onboard speakers. Windows works perfectly. I am on Manjaro with Kernel 5.10.15.

I have no idea on how to fix it, but would be very willing to help test our any fix someone comes up with.

[2021-02-20 17:05] GFdevelop commented on #2764
I have the same issue on my laptop, the microphone is detected but in pavucontrol there isn't sound detection, the headset microphone work but when I plug it I have to manually switch to the headset microphone to disable the speaker output (speaker and headset output work at same time).

I have tried the module option `snd_hda_intel model=dual-codecs` but don't work.
How to solve?

[code]

[code]

[2021-02-22 01:54] keyonjie commented on #2556
@marc-hb I change this to P3 as it is not our driver related or at least nobody is actually looking into it, feel free to change it if needed.

[2021-02-22 03:05] keyonjie commented on #2689
set it to P3 as not easy to reproduce.

[2021-02-22 03:08] keyonjie commented on #2699
set to P3 as no reproduction here.

[2021-02-22 03:20] keyonjie commented on #2700
so is this already fixed with sof-dev kernel?

[2021-02-22 03:23] keyonjie commented on #2725
@AndyLiao-wistron @plbossart so do we expect the issue is fixed with the latest topic/sof-dev kernel?

[2021-02-22 03:25] keyonjie commented on #2730
so @plbossart this is not a valid issue? shall we close it?

[2021-02-22 06:25] bardliao commented on #2751
@juimonen I can't reproduce the issue on my side. I tested on Dell CML sdw laptop SKU 098F.
sof-test multiple-pipeline-capture.sh passed on my side and so does aplay.
[dmesg.txt](https://github.com/thesofproject/linux/files/6019834/dmesg.txt)
My kconfig is https://github.com/thesofproject/kconfig/commit/353642b3d5f53158ca4a822f405b559f5d3b2d3f

[2021-02-22 08:00] juimonen commented on #2751
@bardliao ok thanks, seems that my device has some hw issues, so it is not probably related to this issue at all.. I can't play anything with it.

[2021-02-22 11:33] singalsu commented on #2764
@GFdevelop Thanks for report! There's another case with  Thinkbook 13s https://github.com/thesofproject/linux/issues/2460 . Can you please try from there the custom topology https://github.com/thesofproject/linux/files/5981682/sof-hda-generic-2ch-pdm1.zip . It needs to be copied over the default sof-hda-generic-2ch.tplg.

This is a temporary quick fix, the final outcome will likely be a kernel opt

[2021-02-22 12:10] GFdevelop commented on #2764
After one week of attemps this fix work, but the internal microphone(s) aren't muted when I plug the jack (the automute is enabled in alsamixer), headphone input/output and internal input/output work together at same time, is this a related issue?

In pavucontrol I see:
- ...
- output: hdmi3, hdmi2, hdmi1 and speaker+headphones
- input: headphone microphone and digital microphone
- ...

(in output

[2021-02-22 12:21] singalsu commented on #2764
@juimonen Do you thoughts for the control issues?

There's a +20 dB gain added in topology. It could be built with 0 dB as well by editing the lines to build HDA generic topologies:

[code]
There's different  microphones sensitivites and the lower ones (those tolerate high SPL) sound rather silent in notebook usage. If you microphone is higher sensitivity the boost could be removed. An AGC or DRC

[2021-02-22 12:33] juimonen commented on #2764
@GFdevelop trying to decipher the info here...

It is kind of impossible that the inputs would be "on" at the same time (dmic & headset), simultaneous output routing is possible in hda devices.

AFAIK The "headphone mic" is something that should be visible only in Dell devices -> you should see "headset mic". I have not seen "headphone mic" ever in Lenovo devices.

So my guess is that you have som

[2021-02-22 13:08] juimonen commented on #2764
@GFdevelop hmm I don't see this "headphone mic" in the amixer list you provided. But it is probably present in UCM configs. But it's "existence" should be tied to its presence in amixer controls... so my explanation above doesn't seem to hold -> something must be incorrect in the user space configs. Could you try to update alsa-lib, alsa-ucm-conf and pulseaudio? These are quite new features, so no

[2021-02-22 13:51] GFdevelop commented on #2764
I don't have any customization, my system is updated with arch repository, I have deleted `~/.config/pulse/` , when the jack is plugged in and I speak I see sound detection on headphone microphone and internal microphone, in pavucontrol input:
- Comet Lake PCH-LP cAVS Headphones Stereo Microphone
 Port: Headphones Stereo Microphone (plugged in)
- Comet Lake PCH-LP cAVS Digital Microphone
 Port: Di

[2021-02-22 14:13] lyakh opened #2761 "[CML] [BUG] "suspend-resume-with-capture" test failed with kernel errors"
A weekly test failed on Mantis with:
[code]
after which the DSP failed to boot:
[code]
Attaching the firmware log but I haven't found anything obviously wrong there
[slogger.txt](https://github.com/thesofproject/linux/files/6022482/slogger.txt)

[2021-02-22 15:48] marc-hb commented on #2556
No, problem it was not P1 or P2 either :-)

One possible fix: fetching the PR commits directly:
https://docs.github.com/en/rest/reference/pulls#list-commits-on-a-pull-request

Github now allows fetching SHA1s directly , see https://github.com/zephyrproject-rtos/west/pull/475 and https://git-scm.com/docs/git-fetch-pack

[2021-02-22 15:53] plbossart commented on #2700
yes and no, we still have some fixes needed after the upstream reviews. See PR https://github.com/thesofproject/linux/pull/2754

[2021-02-22 15:55] plbossart commented on #2725
@keyonjie there was no reply so I don't know if the patch fixed the issue

@AndyLiao-wistron should chime in here, if not let's close this issue

[2021-02-26 00:45] cujomalainey opened #2766 "[Loader] Use fallback methodology when loading"
Now that devices are starting to support non-upstream-able firmware they will start specifying alternative paths for the topology. If the device does this via something like the AP firmware that generates kernel command line parameters then these paths will persist through to additional OSes. These args as a result will break audio since the driver will not find the firmware at the specified locat

[2021-02-26 00:47] cujomalainey opened #2767 "[Loader] allow alternative file names"
Currently we support alternative paths, would be nice to support alternative file names as well.

@plbossart FYI

[2021-03-01 02:29] keyonjie commented on #2700
Thanks, let's wait for merging in the ALSA.

[2021-03-01 02:31] keyonjie commented on #2725
let's close it since no reply for long time.

[2021-03-01 02:40] #2725 closed

[2021-03-01 02:41] keyonjie commented on #2730
@plbossart let's close it, please reopen if needed.

[2021-03-01 02:41] #2730 closed

[2021-03-01 02:44] keyonjie commented on #2751
let's close it @juimonen with hw specific, reopen it if needed.

[2021-03-01 02:44] #2751 closed

[2021-03-01 02:55] keqiaozhang commented on #2761
I didn't observe this issue in daily test.
@lyakh , what is the reproduction rate?

[2021-03-01 05:40] bardliao commented on #2606
This happens rarely and can be recovered in the next resume. So lower the priority.

[2021-03-03 00:53] NelsonJeppesen opened #2777 "[BUG] LG Gram laptop (2021 Tiger Lake) Internal speaker no sound"
**Describe the bug**
On LG Gram laptop (17z90p) (11th gen tiger lake) there is no output from internal speaker. Headphones and built-in microphone work just fine. As expected, all works in Windows

**To Reproduce**
Play any audio from any source without headphones connected

I checked `alsamixer` and everything is un-mutted with volumed maxed out

**Reproduction Rate**
100%

**Expected behavior**

[2021-03-03 08:59] kv2019i opened #2775 "Kernel oops at system reboot"
Following oops on TGL SDW platform with 5.12-rc1 based kernel when running system reboot:

[11022.028385] RIP: 0010:sdw_intel_enable_irq+0x9/0x20 [soundwire_intel]                                                              
[11022.038060] Code: c7 c7 c8 42 ba c0 e8 46 98 20 c8 4c 8b 65 f8 31 c0 c9 c3 66 2e 0f 1f 84 00 00 00 00 00 0f 1f 40 00 0f 1f 44 00 00
 55 48 89 e5 <8b> 47 10 89 c2 83 e0 df

[2021-03-03 17:57] plbossart commented on #2777
@NelsonJeppesen this is likely a codec driver bug. Can you check if you are able to check audio on your speakers with the SOF driver disabled?
see this link for details:

https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#disable-sof-on-pci-hdaudio-devices-to-test-audio-playback

[2021-03-03 18:22] NelsonJeppesen commented on #2777
@plbossart No change - audio from headphones but not built in speaker. When I plug/unplug headphones I can see headphones or speakers muted/unmuted correctly in alsamixer

To verify the driver changed:
[code]
[code]

[2021-03-03 20:15] plbossart commented on #2777
@NelsonJeppesen then this is indeed a Linux codec driver issue. Something is missing in the configuration of the HDaudio codec to enable speakers.

[2021-03-03 21:42] NelsonJeppesen commented on #2777
I see - thank you for your help @plbossart. I'll open a ticket with the Linux kernel

[2021-03-03 21:42] #2777 closed

[2021-03-03 22:06] plbossart commented on #2777
@NelsonJeppesen it could be easy or complicated to fix this
a) it's a simple configuration that's missing and can be fixed by a quirk (there are hundreds in ALSA so chances are there are similar devices with the same quirk)
b) it's more complicated if there are I2S amplifiers connected behind the HDaudio codec, in this case the sequence to program those amplifiers needs to be reverse-engineered. T

[2021-03-03 22:30] fredoh9 opened #2778 "[BUG][EHL] i915 ERROR Suspending crtc's failed with -22"
*Description
Found suspend/resume failure on `EHL_RVP_I2S`. All suspend/resume tests are failed with same error.
First time the problem is found in Daily test ID 2418(test with linux upstream PR 2772). As of today, topic/sof-dev doesn't have this problem.

[code]

*To reproduce the issue,
TPLG=sof-ehl-rt5660.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50

[2021-03-04 20:26] marc-hb commented on #2556
This different approach should fix it: https://github.com/thesofproject/sof/pull/3899

3899 is submitted to thesofproject/sof for now but I tested it locally with the large #2772 and it ran successfully in less than 10 minutes without trying to checkpatch every linux commit since the dawn of time. So 3899 could be copied (sorry) to thesofproject/linux later.

[2021-03-05 03:34] jason77-wang opened #2781 "[BUG][TGL] "power off/power on" stress test make the system hang randomly"
We have a LENOVO TGL laptop model, and  have 4 SKUs of this model.
We run "power off/power on" stress test on them, the "power off/power on" will repeat 30 times in a test round. we found the system will hang randomly during the power off process.

This  issue happened on all 4 SKUS. And we found if we blacklist snd-sof-pci, the system will not hang. And If we add snd_hda_intel.dmic_detect=0, the

[2021-03-05 03:40] jason77-wang commented on #2781
![webwxgetmsgimg](https://user-images.githubusercontent.com/7478860/110064158-889e0580-7da7-11eb-8949-4b18cfd08be7.jpeg)
When power off process hang, we could see the error log from monitor:

[2021-03-05 03:41] jason77-wang commented on #2781
![Uploading webwxgetmsgimg.jpeg…]()

[2021-03-05 03:46] jason77-wang commented on #2781
![webwxgetmsgimg](https://user-images.githubusercontent.com/7478860/110064645-78d2f100-7da8-11eb-901b-e58cf67bc6d9.jpeg)

[2021-03-05 03:48] jason77-wang commented on #2781
00:1f.3 Audio device [0403]: Intel Corporation Device [8086:a0c8] (rev 20) (prog-if 80)
	Subsystem: Lenovo Device [17aa:22d5]
	Control: I/O- Mem+ BusMaster+ SpecCycle- MemWINV- VGASnoop- ParErr- Stepping- SERR- FastB2B- DisINTx+
	Status: Cap+ 66MHz- UDF- FastB2B- ParErr- DEVSEL=fast >TAbort- <TAbort- <MAbort- >SERR- <PERR- INTx-
	Latency: 64
	Interrupt: pin A routed to IRQ 183
	Region 0: Memory at

[2021-03-05 05:34] keyonjie commented on #2781
Hi @jason77-wang can you upload the full dmesg with the fail case? We have a similar issue reported here: https://github.com/thesofproject/linux/issues/2775

@kv2019i @plbossart @ranj063 FYI.

@libinyang waiting for your PR to fix one more issue.

[2021-03-05 06:12] jason77-wang commented on #2781
@keyonjie, since this happens during the power off process, the error logs are not in the dmesg. This issue happens at the last step of power off, the dmesg daemon is already closed at the moment.

[2021-03-05 06:23] keyonjie commented on #2781
@jason77-wang thanks, so did you observe abnormal failure(e.g. dsp probing failed, sound card creating failed...) before initiating the reboot?

[2021-03-05 08:29] jason77-wang commented on #2781
@keyonjie no, the syslog could record the dmesg of booting process, we checked the syslog, there is no failure log during booting so far.

[2021-03-05 09:13] libinyang commented on #2781
@jason77-wang Could you have a try on https://github.com/thesofproject/linux/pull/2768 ?

[2021-03-05 09:16] jason77-wang commented on #2781
@libinyang OK, got it. The machine is in the office, we will test #2768 next Monday.  Thanks.

[2021-03-08 02:37] keyonjie commented on #2576
close it as no reproduction anymore

[2021-03-08 02:37] #2576 closed

[2021-03-08 02:57] mengdonglin commented on #2778
Libin will check if HDMI audio is impacted by this i915 failure, not high priority.

[2021-03-08 06:59] jason77-wang commented on #2781
@libinyang

I applied the patches of #2768 to topic/sof-dev branch, and built a kernel, our QA reported this kernel still hang when executing poweroff/poweron stress test. The test should repeat poweroff/poweron 30 times, and the system got hang at the 28th poweroff.

[2021-03-08 07:45] lyakh commented on #2761
@keqiaozhang I've seen it once, a later weekly test, run on 26.02 didn't reproduce it.

[2021-03-08 18:05] sathyap-chrome opened #2782 "KWD not detecting on ADL"
We are using the sof-tgl-max98373-rt5682.tplg    and the tglv011 based fw released for ADL.
When i run below command, i dont see clap / tap being recognised.
arecord -Dhw:0,100 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=96000 /home/root/tmp3.wav -d 10 -vvv

Attaching logs captured with S16 as well as S32.
[hotwording_s16.log](https://github.com/thesofproject/linux/files/6103259/hotwording_s16.log

[2021-03-08 18:05] sathyap-chrome commented on #2782
@kv2019i  let me know if you need more details

[2021-03-11 06:25] marc-hb commented on #2676
Observed again today: https://sof-ci.01.org/softestpr/PR628/build606/devicetest/?model=GLK_BOB_DA7219&testcase=check-kmod-load-unload-after-playback

[2021-03-11 14:55] singalsu opened #2849 "[BUG] Non-48 kHz rate playback via SRC pipeline into hda-generic headset wrong pitch and wrong length"
**Describe the bug**
Playback at 48 kHz rate sounds correct and playback time is as expected, e.g. 10s length clip takes 10s time to play. If 32 kHz rate clip is played it takes about 48/32 amount of time, 10s takes 15s. The pitch is lower.

The source and sink buffer parameters show e.g. correct 32 and 48 kHz in params(), prepare() and copy(). SRC seems to get correct configuration. The amount fr

[2021-03-11 18:24] singalsu commented on #2849
I just checked that this does not happen with sof-cml-rt1011-rt5682 platform with I2S headset and speaker codecs. It seems to be HDA specific, I haven't tried SDW. I wonder if the Linux HDA driver actually configures the HDA DAI to 32 kHz rate with topology with PCM capability other than min/max 48 kHz. The SRC pipeline sets PCM capability to 8 - 192 kHz.

[2021-03-11 18:34] plbossart commented on #2849
@singalsu I am confused, are you trying to change the output sample rate, or just allow for 32kHz input to be played at the fixed 48kHz rate?

[2021-03-12 00:40] fredoh9 commented on #2676
From test database, it is happening occasionally.
I'm trying with my GLK Bobba, but interestingly I couldn't reproduce this issue.

1. check-kmod-load-unload-with-playback.sh -l 50
2. check-kmod-load-unload.sh -l 50
3. check-kmod-load-unload-with-playback.sh -l 100

I'm using today's latest tip.
[code]

[2021-03-12 06:18] jason77-wang commented on #2781
[hang-config.txt](https://github.com/thesofproject/linux/files/6127974/hang-config.txt)

Please use this kconfig with topic/sof-dev, it  is easier to reproduce this issue.

[2021-03-12 06:25] cooper-chiou commented on #2781
@jason77-wang Could you share the impacted project names as we need to have discussion internally.

[2021-03-12 08:29] libinyang commented on #2696
@perexg Can we close this issue now as @jack-cy-yu 's patch has been merged.

[2021-03-12 09:39] singalsu commented on #2849
@plbossart  The latter, I was assuming HDA DAI runs at 48 kHz.

The purpose of the pipe-src-volume-playback.m4 is to provide a PCM that supports 8 - 192 kHz playback into a fixed rate 48 kHz DAI. If the HDA DAI is configured to stream rate by the Linux driver then this is not a bug. The SRC playback pipeline should not be used with HDA if it does internally the resampling or re-configuring of code

[2021-03-12 14:57] plbossart commented on #2676
It's indeed very very hard to reproduce, I ran 1000+ iterations of that test on a Bobba device and nothing bad happened.

[2021-03-12 16:00] plbossart commented on #2781
what's different about this?

[2021-03-12 16:42] plbossart commented on #2849
Now I am completely confused. I thought we could only play at 48kHz with HDaudio, it's been a recurring issue with e.g. HDMI.

[2021-03-15 02:53] keyonjie commented on #2761
could this be related with the capture DMI_L1 enable? related with https://github.com/thesofproject/linux/issues/2781?

[2021-03-15 03:05] keyonjie commented on #2775
@kv2019i  should already be fixed by PR#2768?

[2021-03-15 03:09] RanderWang commented on #2761
is it related with https://github.com/thesofproject/linux/pull/705.  I checked with our partner`s driver and found this solution was only applied to APL

[2021-03-15 05:06] libinyang commented on #2781
@jason77-wang There are 2 issues  in this bug as I can see from the symptom.
One issue can be fixed by https://github.com/thesofproject/linux/pull/2768.
Another issue is caused by DMI L1. Please de-select "SOF enable DMI Link L1 " in the menuconfig:  Device Drivers  ---> Sound card support  --->  Advanced Linux Sound Architecture  ---> ALSA for SoC audio support  ---> SOF enable DMI Link L1

[2021-03-15 06:37] jason77-wang commented on #2781
@libinyang
Thanks, I will test it.

[2021-03-15 14:06] kv2019i commented on #2775
Ack, this was confirmed to be fixed #2768 , closing.

[2021-03-15 14:06] #2775 closed

[2021-03-16 00:53] plbossart commented on #2781
FWIW we seen issues in reboot loops on WHL and TGL even with the fixes from @libinyang, something's still not quite right

[2021-03-16 03:42] KaiChuan-Hsieh commented on #2544
@jack-cy-yu
Hello,
May I know have you created PR for https://github.com/jack-cy-yu/linux/commit/6759435102afabae65cb1d5d43eeee3ec98f2b73?

Thanks,

[2021-03-16 03:44] KaiChuan-Hsieh commented on #2544
@jack-cy-yu

Hello,

May I know if https://github.com/jack-cy-yu/linux/commit/6759435102afabae65cb1d5d43eeee3ec98f2b73 is ready?
I'd like to validate https://github.com/alsa-project/alsa-ucm-conf/pull/71#issuecomment-797325185, it seems it has dependency of your change.

Thanks,

[2021-03-16 06:53] jack-cy-yu commented on #2544
@KaiChuan-Hsieh
The patch has been submitted to upstream for review, please refer

https://patchwork.kernel.org/project/alsa-devel/patch/a35835bae45f4f468dab8ad0df5ece10@realtek.com/

[2021-03-16 09:45] singalsu commented on #2849
I just did a new test. I dropped SRC from playback pipeline but preserved the PCM capability 8 - 192 kHz. I also added trace output to hda_get_hw_params() to print params->rate and params->channels.

If I attempt play 32 or 44.1 kHz 2ch content the hda_get_hw_params() reports 48 kHz 2ch DAI configuration. There's trace output:

[code]
This simple case didn't start playback as I suspected it might

[2021-03-16 10:25] singalsu commented on #2849
I commented out the -EINVAL return in line 309 in dai_verify_params() that stopped params() walk to above error. Now I can play cleanly without SRC 32 kHz to HDA codec headphone out while hda_get_hw_params() reports 48 kHz. Playback of 10s clip takes 10s real-time.

- 16 kHz plays and sounds OK
- 32 kHz plays and sounds OK
- 44.1 kHz results to "ERROR hda-dmac: 7 chan 0 - buffer not DMA aligned 0x

[2021-03-16 10:51] singalsu commented on #2849
@kv2019i @plbossart Kai suggested to check from hdac_hda.c the sample rate. I made this quick add:

[code]
When I play 16 kHz content I get now to kernel log:

`kernel: snd_hda_codec_realtek ehdaudio0D0: Hello HDA, rate=16000, ch=2, format=10, maxbps=24
`

Does it mean that HDA DMA is configured for resampling (can it do it?) or HDA codec is configured to 16 kHz?

If we'd like to let this happen w

[2021-03-16 13:52] anlar opened #2795 "[BUG] Unable to record sound using internal microphone (Thinkbook 13s IML)"
**Describe the bug**

After installing Fedora 33 on my laptop (Thinkbook 13s IML) I'm unable to use its internal microphone to record anything. It is recognized by system as "Digital Microphone - sof-hda-dsp", but there is no input from it.

I have tried to record using Sound Recorder (file attached to the ticket in Fedora bug-tracker, see below). There is a high noise in the beginning and after t

[2021-03-16 14:08] paulstelian97 commented on #2795
For additional context (I have pulled this from the logs) this is SKL firmware, i7-10510u.

[2021-03-16 15:59] plbossart commented on #2795
@anar @perexg

from the logs
[code]

So it's likely the same issue as on other Lenovo/Acer laptops where they used PDM1 instead of PDM0.

See https://github.com/thesofproject/linux/issues/2460#issuecomment-779212719 for a tentative solution (BTW issue #2460 is for Lenovo Thinkpad 13s so this bug is likely a duplicate).

If this is the same bug, we're trying to make the PDM1 handling better but thi

[2021-03-16 16:43] anlar commented on #2795
@plbossart Thank you for the link. I have tried to update topology using the one from your comment, and can confirm that my microphone is working now.

[2021-03-16 16:53] fredoh9 commented on #2778
should we ignore this i915 error for now?

[2021-03-16 19:11] plbossart commented on #2795
Thanks @anlar, good to know this is the same issue.
Like I said we don't have a clean way of handling this automatically, we don't have information in ACPI tables to select this configuration, the PDM1 setting is buried inside of a binary blob.  We might add a topology override with a kernel flag, or do a deeper surgery using those blobs. It'll take time to fix completely.

[2021-03-16 19:25] perexg commented on #2795
Can we use DMI / PCI ID matching to automate the topology selection for those devices? The kernel flag solution is just for debugging. The users are not expected to study things and set it for the normal operation.

[2021-03-16 19:33] plbossart commented on #2795
@perexg DMI quirks are a management nightmare. I'd rather spend time to make this fully automatic

[2021-03-17 07:22] lyakh commented on #2761
The same bug triggered again last Friday, kernel hash 578778fd0c84 ("ASoC: SOF: Intel: TGL: fix EHL ops") firmware fa35ee00f29c ("kpb: fix type for force_copy_type")

[2021-03-17 07:58] jason77-wang commented on #2781
After applied the patch of #2768 and disable the DMI L1, the system didn't hang anymore during 90 times poweroff stress test. Let us close this bug temporarily.
thanks.

[2021-03-17 07:58] #2781 closed

[2021-03-18 02:00] libinyang commented on #2761
@lyakh Could you attach your kernel config?

[2021-03-18 09:18] kv2019i commented on #2849
This is very interesting. I think we do have a gap here. Basicly we have no way to inform the kernel how the sampling rate is changed in the pipeline. This is a not a problem if the DAI/BE has a fixed rate. But if that rate can be programmed, then things will go wrong.

I was looking at how others do it in ASoC and there are not a lot of example. Closest matching is the "convert_rate" OF property

[2021-03-18 11:43] kv2019i opened #2798 "Only 2 external HDMI/DP display audio outputs when 3 DPMST audio monitors connected"
[ Via @sathya-nujella ]

With 3 DP-MST monitors connected to a TGL system, following error is seen:

[ 191.077924] snd_hda_codec_hdmi ehdaudio0D2: HDMI: pin NID 0xa not registered

This bug occur when there are four displays connected (one can be the eDP panel), and three of them connected to DP-MST hub (and all have audio capability).

[2021-03-18 12:28] plbossart commented on #2849
Yep, we have a gap in that the kernel doesn't know what the SRC does. the hw_params are either set to the FE values (i.e. defined by the PCM rate), or by the DAI configuration via the fixup. if the SRC does something else via its own control channels, then things can go sideways.

[2021-03-18 17:58] singalsu commented on #2849
@plbossart In this case SRC worked as pipeline instructed, no bug there. The problem is that kernel didn't update to FW DAI the actual sample rate. It wasn't the initialized 48 kHz that pipeline propagated. If SRC had got the correct rate from DAI in pipeline walk it would have configured itself to 1:1 copy.

You and Kai are right that there's no control from topology what should happen.

[2021-03-19 16:15] lyakh commented on #2761
@libinyang attached. However, I must confess: I just realised, that building the firmware failed last Friday because of the changed cmake command line... So, although the failure was real, it was testing a fresh kernel of March 12th, but the firmware was of February 26th.
[linux.config.txt](https://github.com/thesofproject/linux/files/6172645/linux.config.txt)

[2021-03-19 17:09] plbossart commented on #2761
@lyakh what cmake change are you referring to. I haven't changed anything on my side to wondering if I am also testing obsolete firmware...

[2021-03-19 17:41] kv2019i commented on #2782
@sathyap-chrome Can we close as config issue?

[2021-03-19 19:37] lyakh commented on #2761
@plbossart I'm talking about https://github.com/thesofproject/sof/commit/288e228c67ea312ee97d7900c3ae82b0538421f1 but if you're using the standard scripts, e.g. xtensa-build-all.sh then you should be fine...

[2021-03-19 19:37] lyakh commented on #2761
Test complete: no reproduction.

[2021-03-20 04:50] sathyap-chrome commented on #2782
Yes. lets close this.

[2021-03-20 04:50] #2782 closed

[2021-03-22 02:41] keyonjie commented on #2676
looks like DA codec snd_soc_da7219 issue? mark it as codec and change it to P3.

[2021-03-22 02:44] keyonjie commented on #2761
@lyakh so do you think we can close it now?

[2021-03-22 02:45] keyonjie commented on #2764
@juimonen @GFdevelop no update for 1 month, can we close it now?

[2021-03-22 02:48] libinyang commented on #2761
The config is OK. So the bug is not the DMI_L1 issue.

[2021-03-22 04:51] aiChaoSONG opened #2806 "[BUG][CML][SDW][v1.7] Unable to sync register on CML with RT700"
**Describe the bug**
on a CML_RVP_SDW device with RT700 codec, "Unable to sync register" is reported in check-suspend-resume-with-playback-100.sh test case.
Report ID: 2698

**To Reproduce**
run script: check-suspend-resume-with-audio.sh -l 100 -m playback

**Reproduction Rate**
at 94 of 100

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (k

[2021-03-22 07:00] lyakh commented on #2761
@keyonjie but that should work too, shouldn't it - newest kernel with a 3-week old firmware? Maybe that's what we should test to see if the bug can be reproduced that way?

[2021-03-22 08:00] libinyang commented on #2778
some update on this bug:
1. I can reproduce this bug. And this is i915 bug, not SOF bug.
2. the i915 has bugs. The GUI will hang when logging in.
3. Most times, there is no sound w/ or wo suspend/resume. aplay can run successfully on HDMI, but there is no sound.
4. Occasionally, if the screen is flashed automatically (It just flashed unaccountably), the sound is output from the HDMI.

So I think w

[2021-03-22 15:06] plbossart commented on #2764
@keyonjie please keep this open, we don't have a solution that automagically solves the problem for now, and we want people to know about the topology change that enables PDM1.

[2021-03-22 15:15] plbossart commented on #2806
This seems to be the same issue as https://github.com/thesofproject/linux/issues/2621

[2021-03-22 23:02] sathya-nujella opened #2805 "TGL: Chrome: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
DUT: TGL Chrome system
BIOS: Coreboot
Kernel: Google Chrome 5.4 kernel

Notes on error:
1)
Multiple reports of this error reported (at least saw 3~4 logs) showing this error
2)
Do not know how to repro, it is reported in random tests.
3)
Some times issue occurred at boot time, some times during suspend/resume

**Error snippet-1:**

[    5.809326] sof-audio-pci 0000:00:1f.3: error: cl_dsp_init: tim

[2021-03-22 23:47] plbossart commented on #2805
@sathya-nujella do you have a servo board or UART connection?

@ranj063 and I have seen similar issues while doing pm_runtime_resume() before a  shutdown/reboot. I have a 100% repro rate on my devices (not Chromebooks) in that sequence, whereas I have never seen such a failure during regular suspend/resume tests. Wondering if you can give it a try and check if the logs before the reboot look ok (n

[2021-03-22 23:55] sathya-nujella commented on #2805
Yes, I have servo connected DUT.

[2021-03-23 01:23] ranj063 commented on #2805
@plbossart the reproduction rate is very low for this issue. We might need to do some reboot stress tests to reproduce it

[2021-03-23 11:36] ronohara commented on #2700
Same kind of problem on a new HP Spectre x360 13-aw2025na (2021 purchase) ... but the lspci -v is different

0000:00:1f.3 Multimedia audio controller: Intel Corporation Device a0c8 (rev 20)
        Subsystem: Hewlett-Packard Company Device 8709
        Flags: bus master, fast devsel, latency 32, IRQ 195
        Memory at 603f290000 (64-bit, non-prefetchable) [size=16K]
        Memory at 603f000000

[2021-03-23 19:31] plbossart commented on #2700
@ronohara, the PCI ID still refers to TGL-LP (0xa0c8)

Please check that the same dmidecode information is reported, and if yes the quirks we upstreamed recently should work for you

[code]

[2021-03-24 06:17] mengdonglin commented on #2806
Add more dmesg, 'SDW_SCP_SYSTEMCTRL read failed' and 'clock stop deprepare failed' happens before 'Unable to sync register':
[code]

[2021-03-24 06:46] ronohara commented on #2700
Looks like it should work:

rono-HP-Spectre-x360-Convertible-13-aw2xxx kernelbuild # dmidecode |grep Spectre
	Product Name: HP Spectre x360 Convertible 13-aw2xxx
	Family: 103C_5335KV HP Spectre

[2021-03-24 08:32] libinyang commented on #2696
Let's close it as the PR has been merged.

[2021-03-24 08:32] #2696 closed

[2021-03-24 11:21] ronohara commented on #2700
[   44.803416] Adding 999420k swap on /dev/mapper/vgmint-swap_1.  Priority:-2 extents:1 across:999420k SSFS
[   44.804578] snd_hda_intel 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[   44.804601] snd_hda_intel 0000:00:1f.3: SoundWire enabled on CannonLake+ platform, using SOF driver
[   44.829512] sof-audio-pci-intel-tgl 0000:00:1f.3: DSP detected with PCI class/subcla

[2021-03-24 12:00] bardliao commented on #2700
@ronohara I think @plbossart meant the latest upstream kernel. Please apply the following patches to your kernel.
https://github.com/thesofproject/linux/commit/6558b667a7297418b8951ba54da68d551035ecc5
https://github.com/thesofproject/linux/commit/f6594cdfec4cde57484812271696fb9f40d125b7
https://github.com/thesofproject/linux/commit/bb85d7e120ed81affb7a7313ecbd76f4e430fc6d
https://github.com/thesof

[2021-03-24 12:35] joakim-tjernlund opened #3069 "Any plans for mircophone Noise supression?"

[2021-03-24 15:32] marc-hb commented on #2778
@kv2019i can we safely ignore this one? Only on EHL or on any platform? Only for now or forever?

[2021-03-24 15:53] plbossart commented on #2700
@ronohara with the delays in upstream the out-of-box experience will only happen with kernel 5.13. Backports of the quirks are required until they show up in Linus' tree. I think @bardliao 's list is good enough.

[2021-03-24 16:03] aigilea commented on #2700
@ronohara I'm currently running the 5.12-rc4 with two patches (cbc644101d7951e644290550b402f170e2ef3197 and 0752f7e734d7482aaaec6221d87f06489882b711), latest [UCM conf](https://github.com/alsa-project/alsa-ucm-conf) and the [topology file](https://github.com/thesofproject/linux/files/5912926/sof-tgl-rt711-rt1308-2ch.tplg.gz) from @plbossart.
Everything (but leds) works flawlessly.

If you're build

[2021-03-24 16:06] plbossart commented on #2700
@aigilea the two patches you use were slightly reworked, the two upstream versions merged this week in the SoundWire tree are 6558b66
f6594cd

[2021-03-24 17:02] kv2019i commented on #2778
@marc-hb and others -- if we can repeat the problem (as seems to be the case), the proper thing would be to file to i915 bugzilla:
https://gitlab.freedesktop.org/drm/intel/-/issues/

Before filing, one should test with DRM-intel tree (drm-intel-next branch at git://anongit.freedesktop.org/drm-intel) and see if bug reproduces (you'll be asked to do this in any case).

Then we can link to i915 here

[2021-03-24 18:21] fredoh9 commented on #2778
@kv2019i for drm-intel tree, what kernel config we should use? same as ours, nothing is to be specified for any drm for the build?

[2021-03-24 18:22] marc-hb commented on #2778
@kv2019i  my question was too vague sorry, let me rephrase it. We should of course report this bug on one hand. On the other hand, for our own, "selfish" and pure audio validation purposes can we add a sof-test filter that ignores this specific message and report audio tests as PASSing when there is no other error?

In other words, can this error have any sort of audio impact outside HDMI?

[2021-03-24 18:30] fredoh9 commented on #2778
for some reason, i can't access freedesktop git( git://anongit.freedesktop.org/drm-intel). I found a github mirror instead. I will try with drm-intel-next branch in this afternoon.

https://github.com/freedesktop/drm-intel

[2021-03-25 01:55] cujomalainey commented on #2766
Reducing priority since we found a work around locally

[2021-03-25 04:40] fredoh9 commented on #2778
I tried with drm-intel-next, SHA1=989634fb49ad, And SOF FW SHA1=041c2ef6d.
I couldn't reproduce this problem. I'm trying that again but I remember it was easy to reproduce the problem.
Most likely this is fixed in latest kernel upstream then.

[2021-03-25 13:47] tlunet commented on #2795
@plbossart Had the same issue on a Thinkbook 13s IML, confirm also that the microphone is working with the updated topology. Thanks a lot !

[2021-03-25 13:52] plbossart commented on #2795
@anlar @tlunet can you provide the 'dmidecode' output? I am not a big fan of DMI based quirks but our changes will likely take 3-4 kernel cycles whereas we could update the quirks in the stable kernel much faster. thanks

[2021-03-25 14:00] tlunet commented on #2795
Here you go @plbossart

[dmidecode.txt](https://github.com/thesofproject/linux/files/6205132/dmidecode.txt)

By the way, my first test was wrong since I had a headphone mic plugged in. Still I put the sof-hda-generic-2ch-pdm1.tplg file in /lib/firmware/intel/sof-tplg/, as described in the temporary solution, but internal mic still don't record sound.
Many thanks for looking into this !

[2021-03-25 14:30] lgirdwood commented on #3069
@joakim-tjernlund can you be more specific ? @singalsu fyi.

[2021-03-25 14:31] plbossart commented on #2795
@tlunet can you provide your dmesg log with this file added to /etc/modprobe.d/sof-dyndbg.conf

[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6205441/sof-dyndbg.conf.txt)

[2021-03-25 14:37] tlunet commented on #2795
Sure :
[dmesg.txt](https://github.com/thesofproject/linux/files/6205488/dmesg.txt)

EDIT : this file should be ignored, I forgot to remove the .txt extension from the sof-dyndbg.conf file ...

[2021-03-25 14:46] tlunet commented on #2795
And just in case, here is the dmesg output after removing /lib/firmware/intel/sof-tplg/sof-hda-generic-2ch-pdm1.tplg (got some weird new sound bugs after some time, so I removed it ...).

[dmesg.txt](https://github.com/thesofproject/linux/files/6205534/dmesg.txt)

EDIT : after removing the .txt extension from the sof-dyndbg.conf file, here is the correct dmesg output :

[dmesg_correct2.txt](https:

[2021-03-25 15:20] plbossart commented on #2795
D'oh? it seems nothing works here, you have tons of IPC errors. Can you try and capture the dmesg from the start of audio probe.
One way to do this is to blacklist snd-sof-pci and doing a dmesg -C; modprobe snd-sof-pci when ready. (if you use a more recent kernel you need to use snd-sof-pci-intel-cnl or -tgl depending on your hardware)

[2021-03-25 16:38] tlunet commented on #2795
@plbossart can you give me a little bit more detail on how to do it ? I'm still a little bit noob with all that ... I kinda guess what you want me to do, but not so sure ...
I'm using Ubuntu 20.04, latest update. Uname -a gives :
Linux clio 5.8.0-48-generic #54~20.04.1-Ubuntu SMP Sat Mar 20 13:40:25 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-03-25 16:49] joakim-tjernlund commented on #3069
Not really, I only know that on our new Lenovo T14 with SOF one can hear some noise(white?) when using the built-in mic.

[2021-03-25 16:55] tlunet commented on #2795
For now, I tried this (massively relying on google's explanations) :
- put "blacklist snd-sof-pci" at the end of /etc/modprobe.d/blacklist.conf
- run "sudo dmesg -C; sudo modprobe snd-sof-pci"
=> doesn't produce any output, audio out work (I don't have this "dummy" output device anymore), but internal mic still don't (even if I have this Digital Microphone - sof-hda-dsp input device)

[2021-03-25 18:03] plbossart commented on #3069
@joakim-tjernlund please file an issue in the Linux tree and add your dmesg log with the following file added as /etc/modprobe.d/sof-dyndng.sof
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof-bin/files/6206881/sof-dyndbg.conf.txt)

You may be experiencing known issues with the 2 mic support on some Lenovo platforms who use the PDM1 interface.

see e.g. https://github.com/thesofproject/l

[2021-03-26 09:59] ramonvermeulen commented on #2795
Having the same issue on Ubuntu 20.04 using a Thinkbook 13s.

I tried https://github.com/thesofproject/linux/issues/2460#issuecomment-779212719 but this solution did not work for me.

[2021-03-26 10:38] singalsu commented on #3069
@joakim-tjernlund There's a microphone beamformer and if properly set up it will attenuate a bit the noise but it also sets a fixed direction for microphones. Out-of-beam directions get attenuation. It's feasible with notebooks if the direction of interest is towards camera look direction. Currently that needs a custom topology for specific microphones distance and microphones count. If you are wi

[2021-03-29 02:23] keyonjie commented on #2764
@plbossart makes sense, thanks for information.

[2021-03-29 03:14] keyonjie commented on #2805
@plbossart @ranj063 This could have relationship with that we are using difference suspend/resume logic, comparing with the   cAVS FW/driver.

The state 0x6000021 means hang at WAIT_FOR_CSE_CSR(0x6) with _ROM_CSE_IPC_RESET_PHASE_1(0x21).

[2021-03-29 06:16] ronohara commented on #2700
Ok. I will take the simple approach. Wait for these patches work their way into the upstream.

I have a workaround by using some Bluetooth enabled speakers until the upstream catches up.  I am not allowed to travel at the moment, so I can live without the x360 speakers for a few months.

[2021-03-29 13:54] plbossart commented on #2795
then file a different bug with the results of alsa-info and the full dmesg log with dynamic debug enabled as described in https://github.com/thesofproject/linux/issues/2795#issuecomment-806856839

[2021-03-29 15:24] kv2019i commented on #2798
Merged upstream, closing.

[2021-03-29 15:24] #2798 closed

[2021-03-29 16:38] marian556 commented on #2700
The same problem https://bugzilla.kernel.org/show_bug.cgi?id=212465

[2021-03-30 05:13] marian556 commented on #2700
I merged soundwire patches git://git.kernel.org/pub/scm/linux/kernel/git/vkoul/soundwire.git with 5.12rc5 and built kernel:
https://drive.google.com/drive/folders/1WnotWnHgHe5EM7x49JmmZhNzxJiBW8AV/
I still don't have audio.  Do I need this too ? https://github.com/alsa-project/alsa-ucm-conf

[2021-03-31 01:26] marian556 commented on #2700
I built from here.
git clone https://github.com/thesofproject/linux.git
with
CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=m

Now I get sound only from headphones. Not from speakers. Also no recording (no skype,zoom,webex)
Aigilea , you suggested you updated https://github.com/alsa-project/alsa-ucm-conf. I am confused what to do with this.
Can you give me a hint? What in my kubuntu 21.04 system to repla

[2021-03-31 02:12] marian556 commented on #2700
Ok. I got it working.
marian@HPSpectre:~/dev$ git clone https://github.com/alsa-project/alsa-ucm-conf.git
sudo apt remove alsa-ucm-conf
cd /usr/share/alsa/
sudo ln -s /home/marian/dev/alsa-ucm-conf/ucm2  ucm2
reboot
I uploaded my kernel to https://drive.google.com/drive/folders/1L9DpjMamc37tZ19s5u_4RfmV221F4222?usp=sharing
Can you access it?
Spectre X360 users can install this kernel directly in t

[2021-03-31 13:36] plbossart commented on #2700
You're welcome.

[2021-03-31 16:19] marc-hb commented on #2778
Reproduced again in nightly run number 2935

[code]

[2021-03-31 16:19] marc-hb commented on #2778
@kv2019i  ping?

[2021-03-31 17:39] marian556 commented on #2700
Is it sarcasm? My 'sarcasm' detector often betrays me.  If you want to say I should be more grateful then be aware I am really grateful for what you are doing for this project and generally for open source community. I should have thanked you publicly in the email instead. So thanks you all very much for this.  Is there any reason you don't build and publish (deb and rpm) binaries automatically fo

[2021-03-31 18:03] fredoh9 commented on #2778
We should ignore this error, this only happens with suspend/resume. We can wait @kv2019i confirmation, but I don't have any concern on audio impact.

But more interesting thing is @libinyang was able to reproduce same problem with drm-intel-next branch whereas I wasn't. Libin please update your findings.

[2021-03-31 18:10] kv2019i commented on #2778
@fredoh9 @marc-hb I'm ok to ignore this if this no practical impact to operation of SOF CI. The follow-up to i915 can be done separately then.

[2021-03-31 20:29] aigilea commented on #2700
That's wow.

You either wait for the official kernel from your vendor or copy those few lines from the wiki and build your kernel yourself with all the bells and whistles you want, choice is yours.
Asking random people on the internet to build a kernel for you is some very bad practice even (or especially?) if they are kernel devs. That's not secure and is nowhere near anyone's responsibility on t

[2021-04-01 00:25] marian556 commented on #2700
Hi Aigilea . I don't want anyone to spend time to build the kernel for me manually ( I did it at the end with Pierre's email instructions, thanks for that), that is why I am asking why this project does not have a system in place where the kernel build is triggered and published automatically with every change committed to main dev git branch.  I don't understand security concerns. Eventually I ha

[2021-04-01 01:15] H-Park commented on #2748
Is there any update on this? Are there any contributors interested, but lacking information and can tell me what data they want pulled off my model?

[2021-04-01 06:53] juimonen commented on #2764
@GFdevelop sorry to come back this late... Can you still confirm couple of issues:
1) did the 1 channel dmic topology by @singalsu help in any way with this issue? (I can't easily see the result in the comments)
2) do you still need to manually switch to headset?

So this looks like an issue with detection and routing. I think in your device you should have the speaker and headset in the same code

[2021-04-04 06:39] hirnschmalz commented on #2700
Hi @aigilea

Can you provide a link to this patch? Since I'm building a custom kernel because of the sound problems it would be great to solve the keyboard initialization problems as well.

[2021-04-04 08:49] GFdevelop commented on #2764
@juimonen
1. yes, this help, the microphone work with this topology.
2. the manual switch help with the output device, I think is a different issue.

In alsamixer headset and speaker are both enabled: muting the headset output will automute the master output; muting the speaker will mute only the speaker output.
In pavucontrol: switching the from headset to speaker will mute the headset, then swit

[2021-04-05 15:34] arekmano commented on #2700
Quick Google search lead me to this post: https://bbs.archlinux.org/viewtopic.php?pid=1953190#p1953190. I believe it is what you're looking for @hirnschmalz.

[2021-04-05 19:41] aigilea commented on #2700
Sorry for not replying sooner, I'm at sea currently. The linked topic should have the link to the [patch](https://cpp.in/dev/hp_x360_tgl_kbd.patch).

[2021-04-05 22:41] plbossart opened #2820 "Fedora34/HDaudio/SOF: UCM endpoints not detected"
on a stock Fedora34 (kernel v5.11.10) with SOF enabled, UCM endpoints are not detected.
Gnome settings app does not show any output/input.
Spotify starts but there is nothing progressing/playing.
Updating the kernel to the SOF topic/sof-dev branch does not help
No issues with HDaudio legacy.

using alsaucm+speaker-test works fine.
The same platform with Ubuntu 20.04 worked fine.

@perexg @wtay any

[2021-04-05 22:48] plbossart commented on #2820
Forcing the parameter dmic_num=2 makes the UCM endpoints appear...
This is a machine where there are no DMICs but I still want to use SOF.

[2021-04-06 05:07] hirnschmalz commented on #2700
Thanks for the patch, I'll give it a try.

[2021-04-06 07:57] keqiaozhang opened #2821 "[BUG][TGL][SDW] playback failed on speaker: failed to find SOF DAI for: SDW2 Pin2"
**Describe the bug**
Looks like this is a regression on TGL SDW device when playing on speaker.
dmesg error:
[code]

**To Reproduce**
aplay -Dhw:0,2 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q

**Reproduction Rate**
10/10

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 138a5d76

SOF Branch: main
SOF Commit: 5aeb29b5546e

Device:TGLH_0A5E_SDW/TGLU_SKU0A32_SDCA

**Screenshots or conso

[2021-04-06 14:33] plbossart commented on #2821
@keqiaozhang can you confirm that this happened between Intel daily test 2935 and 3038? Please provide more context so that we can bisect configurations. Thanks!

[2021-04-07 08:34] keqiaozhang commented on #2821
@XiaoyunWu6666 , please help to do the bisection and update the result here.

[2021-04-07 10:50] keyonjie opened #2824 "SOF: Multicore support failed when _widget_free introduced."
We call sof_pipeline_core_enable() in sof_widget_setup() to power up the corresponding DSP cores,
https://github.com/thesofproject/linux/blob/9f92f3c89cd700bc386654034c5eef5c3f9a01f4/sound/soc/sof/sof-audio.c#L160
but not do the corresponding powering off Cores at sof_widget_free(), e.g. at runtime suspending,
https://github.com/thesofproject/linux/blob/9f92f3c89cd700bc386654034c5eef5c3f9a01f4/sou

[2021-04-07 13:38] kv2019i opened #2825 "HDMI monitor plug during S3 suspend is lost"
Reported on multiple Chromebook systems (issue reference 180070914):

Test sequence:

1. Put system to suspend
2. Wait until system is suspended
3. Plug in HDMI cable
4. Resume system
5. Check "amixer contents"

Expected results:

Mixer should show the monitor to be connected:

iface=CARD,name='HDMI/DP,pcm=X Jack'
  ; type=BOOLEAN,access=r-------,values=1
  : values=on

Actual result:

No HDMI/DP

[2021-04-07 13:57] plbossart commented on #2824
@keyonjie with all due respect, this is a terrible bug description...

Can you please reword it with code pointers so that we don't have to reverse-engineer your line of thought, or why it's TGL-specific, and whether this is for dynamic pipelines or not.

[2021-04-08 02:00] keyonjie commented on #2824
Thanks for feedback, only had 3 minutes to heads up this on github last night, now revised.

[2021-04-08 04:43] ranj063 commented on #2824
@keyonjie I agree we should power off cores properly depending on refcount with multicore. But we must be missing something in our suspend sequence too. We must not be updating the enabled cores mask when poering up secondary cores via IPC. Something to look into

[2021-04-08 05:14] keyonjie commented on #2824
It looks to me that the powering up of the secondary cores works fine (the enabled cores mask set correctly), but the widget free or runtime suspending not clearing this mask for us. Sorry I assigned this to you as I think you know this part best.

[2021-04-08 07:47] keqiaozhang opened #2828 "[BUG][EHL] Kernel boot failure on EHL with PINCTL enabled"
**Describe the bug**
This is a regression on EHL, system hang when enters to kernel and no logs are available.
Bisect result shows this issue is introduced by a kconfig change:
[code]

**To Reproduce**
Install the latest sof-dev kernel and reboot

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 138a5d76

SOF Branch: main
SOF Commit: 2c69afc5fdeb
Platform: EH

[2021-04-08 12:12] padmashree9110 opened #2829 "HDMI monitor connection not visible via ALSA on TGL NUC"
Description
SOF-HDA cards not getting listed

Platform
TIGER LAKE NUC

kernel log
[dmesg.log](https://github.com/thesofproject/linux/files/6278397/dmesg.log)

Firmware tag v1.6.1

steps to reproduce
1> Install ubuntu20.04 on TIGER LAKE NUC
2> install chrome kernel 5.4.76-cvhb
3> Rebuilt above kernel adding parameter "CONFIG_SND_SOC_SOF_TIGERLAKE_SUPPORT". .config file for this is attached

[config

[2021-04-08 14:31] plbossart commented on #2828
We had similar issues with TGL, where with the TGL pinctrl the touchpad wouldn't work on some Dell platforms. That was solved by @andy-shev.

A kernel that fails to boot is something else. @mengdonglin someone in your team will have to debug this, I don't have a platform to check.

[2021-04-08 15:25] hirnschmalz commented on #2700
Hi @aigilea

FYI: I tried your patches but I still have long delays after reboot/suspend until I can use the keyboard.

[2021-04-08 15:37] plbossart commented on #2829
@padmashree9110 if you want to force SOF to be used on a platform without DMIC or SoundWire, you have to use
added "options snd-intel-dspcfg dsp_driver=3" in /etc/modprobe.d/alsa-base.conf

[2021-04-08 22:21] plbossart commented on #2821
this bug is confirmed on all devices with 2 amps and likely related to the dynamic pipelines. @ranj063 is already looking into this.

[2021-04-09 02:24] keqiaozhang commented on #2821
Bisect result shows this issue is introduced by:
[code]

[2021-04-09 02:41] ranj063 commented on #2821
The issue was not introduced by but rather exposed by that commit. @keqiaozhang can you please check if my PR helps?

[2021-04-09 02:52] keqiaozhang commented on #2821
@ranj063 , confirmed that your PR#2832 can fix this issue.

[2021-04-09 03:07] keqiaozhang commented on #2821
@ranj063  I found another issue with your PR, If I run aplay on speaker pipeline and press ctrl+c to stop aplay randomly. it will run to below error:
[code]
How to reproduce:
1. $ aplay -Dhw:0,2 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
2. press ctrl +c randomly during the playback
3. repeat step 1 and 2.

The reproduction rate is high >20%.

[2021-04-09 05:52] keqiaozhang commented on #2821
@ranj063 , I found a easy way to reproduce the above issue I mentioned.
[code]
Then you can 100% reproduce the issue.

[2021-04-09 06:23] keqiaozhang opened #2835 "[TGL][SDW] IPC error when doing multiple pipeline test"
**Describe the bug**
We found this issue on TGL-chrome SDW device. when running arecord and aplay on several pipelines, it will failed with I/O error, check the dmesg, there's IPC error log: “error: ipc error for 0x60050000 size 12" and also some XRUN errors in dma trace.

**To Reproduce**
1. export TPLG=sof-tgl-sdw-max98373-rt5682-4ch.tplg
2.  $ ./sof-test/test-case/multiple-pipeline.sh -f c

**R

[2021-04-09 07:19] padmashree9110 commented on #2829
@plbossart Thanks for the suggestion. i am able to list sof sound card now. HDMI audio is not working whereas 3.5mm is working fine. Any suggestions?

[2021-04-09 08:40] XiaoyunWu6666 commented on #2835
It is elated to **commit 242d33837f6218c1db1a020d8069cdf85545b277**  too
[Please refer to another issue related to this commit : [BUG][TGL][SDW] playback failed on speaker: failed to find SOF DAI for: SDW2 Pin2 #2821 ]

To confirm this , I revert **commit 242d33837f6218c1db1a020d8069cdf85545b277** , builded kernel and installed it on ubuntu@sh-tglu-volt-sdw-02 . It appeared that after reverting th

[2021-04-09 13:23] padmashree9110 commented on #2829
@plbossart : i was able to list cad and also hear audio with 3.5mm initially. But I am facing issues after reboot. Sometimes it is not loading card only. and after " sudo alsa force-reload" it lists the card. But after this audio is not working and now in "settings->sound>output/input device" is not showing sof-snd cards.

But it lists the card

$cat /proc/asound/cards
  0 [sofhdadsp      ]: sof-h

[2021-04-09 14:09] ryanprescott commented on #2748
I have the same issue on the S740-15IRH, I would be more than happy to provide data to help get this fixed.

[2021-04-09 16:15] plbossart commented on #2829
@padmashree9110 I don't know what 'sudo alsa force-reload' is, never used it. I suggest you first try with a standard distribution, I don't know if the chrome kernel can support HDaudio platforms too well, Chromebooks do not use HDaudio w/ SOF

[2021-04-09 18:51] shining commented on #2460
Hello,

We have the following device on Levono P14s :
[code]

The internal mic works almost out of the box on Archlinux with kernel 5.11, after installing the sof firmware 1.7.

On Debian 10, it required more steps :

1. installing 5.10 kernel from backport + sof firmware 1.6 from testing (or even the last 1.7 version manually, not sure)
2. options snd-intel-dspcfg dsp_driver=3 to select SOF
3. ma

[2021-04-09 20:56] plbossart commented on #2460
no idea @shining, the autodetection of SOF should work the same. Assuming that you are testing the two distros on the SAME hardware, we should use the same information to select SOF v. legacy HDaudio.

Please try without step2 and provide the detailed dmesg log with the following file added to /etc/modprobe.d/sof-dyndbg.conf
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/628843

[2021-04-09 21:40] ranj063 commented on #2821
@keqiaozhang @XiaoyunWu6666 could you please try the PR #2832 again to see if both this isseu and #2835 are fixed with it?

[2021-04-10 20:58] andy-shev commented on #2828
EHL BIOS is not implementing pin control properly by some reason. So, communicate to EHL firmware team. I have heard that the same issue has been reported by another team.

[2021-04-11 14:17] miroslavkrysl commented on #2748
I have reported this bug on Red Hat Bugzilla about a half year ago:
[Bug 1886367 - No sound from speakers on Lenovo Yoga S740](https://bugzilla.redhat.com/show_bug.cgi?id=1886367)
There are unfortunately no updates since than.

[2021-04-11 19:53] ryanprescott commented on #2748
If anyone is willing to get this taken care of once and for all, I have a S740 running Pop_OS! and I have access to a Windows to Go disk so we can pull data from a Windows environment where the sound is working properly. I suspect this is related to [this issue](https://forums.lenovo.com/t5/Other-Linux-Discussions/Yoga-C930-audio-on-Linux/m-p/5042057) where Lenovo actually built a new BIOS to addr

[2021-04-12 02:03] keqiaozhang commented on #2821
@ranj063 , confirmed that PR #2832 can fix above 2 issues.

[2021-04-12 02:36] XiaoyunWu6666 commented on #2821
@ranj063 , confirmed that PR #2832  can fix both  this issue #2821 and issue #2835

[2021-04-12 03:04] mengdonglin commented on #2828
@plbossart Should we not add PINCTRL for EHL atm?

[2021-04-12 03:07] ranj063 commented on #2821
Thank you @keqiaozhang @XiaoyunWu6666

[2021-04-12 09:09] kv2019i commented on #2829
@padmashree9110 That sounds like mixer settings are not set correctly after the reload. Could you please try a recent Fedora or Ubuntu live image to confirm audio works on your system (including HDMI)? I recommend dumping "alsa-info" output on the live-image boot (once you've confirmed audio works), then boot with the Chrome kernel, run "alsa-info" again and compare the differences.

[2021-04-12 09:56] lgirdwood commented on #2748
@ryanprescott Fwiw there are a quite a few similar "speakers work on Windows but not Linux" type issues being logged on Redhat/Ubuntu/ALSA/SOF issue trackers for multiple different laptops from different vendors. We suspect that there is a speaker amplifier on each device that needs to be enabled by the kernel when speakers are in use. These amplifiers are usually easy enough to fix in the kernel

[2021-04-12 12:10] ryanprescott commented on #2748
@lgirdwood Hey Liam! I have a setup working where I'm able to pass the card through to a Windows VM and capture the traffic between the Windows driver and the card. After writing some quick Python to spam the captured HDA verbs at the chip, I was able to get at least one speaker working for a short amount of time. I think not only do the amps need to be enabled through HDA verbs, but some pins nee

[2021-04-12 12:26] ryanprescott commented on #2748
Current process for getting sound to work from the front left speaker:
- Spam HDA verbs at the sound card
- Kill pulseaudio
- Sound now plays from front left speaker, and Headphones entry in alsamixer controls volume.

By the way, the internal microphone array and the headphone jack have both been working fine even before any attempted testing or modification.

[2021-04-12 12:47] mrhpearson commented on #2748
Hi Liam & Ryan,

I have limited levers to pull on for platforms that aren't officially in the Lenovo Linux program - but if there's guidelines for what I should request from the HW team that would help for these exercises let me know. From experience the request has to be quite specific, I can't just ask for the HW spec - I won't get it.
Previously on one platform they did fixes in the BIOS, but t

[2021-04-12 12:58] ryanprescott commented on #2748
@mrhpearson

Hi Mark!

From my limited understanding of how the Intel multimedia controller is interacting with the Realtek amplifiers, I believe we need to know what sequence of HDA verbs the Windows driver is using to activate the amps for each speaker on the ALC285 chip, and also which GPIO pins need to be associated with which outputs. With that information I think it would be possible to put

[2021-04-12 13:12] ryanprescott commented on #2748
For reference, here's a dump of those CORB frames from my Windows VM if this would be useful to anyone. Through some conversation with @Conmanx360 it looks like the relevant bits are AC_VERB_SET_COEF_INDEX and AC_VERB_SET_PROC_COEF. The GPIO settings on pin 0x01 are worth looking at too.

[verbs.txt](https://github.com/thesofproject/linux/files/6296911/verbs.txt)

[2021-04-12 14:03] lgirdwood commented on #2748
@ryanprescott it sounds like you are onto something there. Can you dump the verbs being sent after removal of headphones e.g. to see which ones are being sent when the driver switches from HP -> SPK during audio playback.
@mrhpearson thanks Mark, I think this one can be fixed as an HDA driver quirk once we know the verb config. @plbossart fyi.

[2021-04-12 14:10] ryanprescott commented on #2748
@lgirdwood Here you go! This is the result of starting the VM, plugging in headphones, removing headphones, and shutting down the VM.
[headphone_insertion_removal.txt](https://github.com/thesofproject/linux/files/6297316/headphone_insertion_removal.txt)

[2021-04-12 14:14] lgirdwood commented on #2748
@ryanprescott thanks. fwiw it's doing a pinconfig 3 times. So this could be the AMP ?? (disclaimer I'm no HDA expert, it needs someone like @bardliao to comment)
[code]

[2021-04-12 14:24] ryanprescott commented on #2748
@lgirdwood I believe this is the driver setting up the speakers, but I think the amp activation happens here:
[code]

I however can't get this to work reliably. Even "replaying" the entire verb sequence only unreliably activates the front left speaker.

[2021-04-12 14:28] lgirdwood commented on #2748
@ryanprescott could the right speaker be an alsa mixer configuration ? i.e. the AMP is enabled but R channel is muted in mixer ?

[2021-04-12 14:35] plbossart commented on #2828
@mengdonglin please talk with the firmware team and provide their feedback. If this option is not working, then it should be documented clearly.

[2021-04-12 14:38] ryanprescott commented on #2748
Could be, but I have everything unmuted in the mixer. Looks like "Headphones" in the mixer controls that left speaker, and there's a "Speaker" entry that doesn't do anything. This is the point where I'm stuck so I'm going to wait for an expert to weigh in!

[2021-04-12 14:51] ryanprescott commented on #2748
Attaching another dump where I've unplugged / replugged the headphone three or four times.
Address before first plug: 0x00001184
Address after last unplug: 0x00003334
[multi_headphone.txt](https://github.com/thesofproject/linux/files/6297634/multi_headphone.txt)

[2021-04-12 23:17] cujomalainey commented on #2805
I see the IMR tag, what exactly is IMR?

[2021-04-13 02:56] bardliao commented on #2748
I think it is better to dump all verb for each node. @shumingfan Do you know how to dump?

[2021-04-13 09:19] akohta commented on #2485
I've been trying to enable the audio since I found this issue. I'm using Lenovo yoga tablet 2 model 1051F with archlinux. I tried three different kernels (5.11.10, 5.11.12, 5.12-rc6) and all gave the same kernel messages as follows.

[ 2267.016892] arizona spi-WM510204:00: supply AVDD not found, using dummy regulator
[ 2267.016958] arizona spi-WM510204:00: supply DBVDD1 not found, using dummy regu

[2021-04-13 09:30] jwrdegoede commented on #2485
@akohta you probably don't have the right kernel-config options set, as I mentioned higher up in this issue, you need to have the following options set:

CONFIG_GPIO_ARIZONA=m
CONFIG_MFD_ARIZONA=m
CONFIG_MFD_ARIZONA_SPI=m
CONFIG_REGULATOR_ARIZONA_LDO1=m
CONFIG_REGULATOR_ARIZONA_MICSUPP=m
CONFIG_SND_SOC_ARIZONA=m
CONFIG_EXTCON_ARIZONA=m
CONFIG_MFD_WM5102=y
CONFIG_SND_SOC_INTEL_BYTCR_WM5102_MACH=m
C

[2021-04-13 09:31] jwrdegoede commented on #2485
@akohta, the "LDO1: supplied by regulator-dummy" dmesg line should go away once you have the Kconfig which I suggest as long as you still have that line something is wrong.

[2021-04-13 13:44] akohta commented on #2485
@jwrdegoede, thank you for your quick reply. I checked kernel-config options carefully and I confirm the above mentioned. I think there is no particular problem. I will attach my kernel-config file and alsa-info.sh output. The patch file was obtained from https://github.com/HoshiYamazaki/linux-wm5102

[kernel_config.txt](https://github.com/thesofproject/linux/files/6304112/kernel_config.txt)
[alsa

[2021-04-13 14:30] plbossart commented on #2485
I didn't even know this existed, it could be quite useful for other areas.

[2021-04-13 20:35] lgirdwood commented on #2748
@bardliao thanks. The full dump is available in two of @ryanprescott comments above.

[2021-04-13 21:02] yongzhi1 commented on #2805
Isolated Memory Regions?

[2021-04-14 01:17] bardliao commented on #2748
@lgirdwood Did you mean multi_headphone.txt? It is more like a writing sequence. But anyway @shumingfan could you take a look?

[2021-04-14 01:24] RanderWang commented on #2748
this one https://github.com/thesofproject/linux/issues/2748#issuecomment-817800000

[2021-04-14 01:50] shumingfan commented on #2748
@bardliao Sorry, I'm not the right person to check this problem for ALC285.
There are other SW engineers who dedicated to developing the driver of HDA codec.
Could you contact the project manager of Realtek who is in charge of this project for help?

[2021-04-14 07:29] keyonjie commented on #2824
@plbossart since @ranj063 is in leave, I may take my old PR https://github.com/thesofproject/linux/pull/888 back to address this issue.

[2021-04-14 08:53] libinyang opened #2843 "[TGL][SDW][codec]mute 'rt711 FU0F Capture Switch' doesn't work"
'rt711 FU0F Capture Switch' is used to control the RT711 headset MIC mute/unmute.
When I set this kcontrol to 0, I can still capture the sound from headset MIC.

[2021-04-14 10:16] padmashree9110 commented on #2829
@kv2019i : Thanks for the suggestion.
Problem of sound card getting detected with chrome kernel solved by reloading pulse audio modules after reboot. But this needs to be done every time after reboot.

So to check hdmi issue if it exists on linux kernel also, i tried loading sof-hda on linux with default kernel.

I have ubuntu 20.04 with kernel "5.4.0-42-generic". Here sof-hda card only not gettin

[2021-04-14 14:34] shining commented on #2460
It was two laptops from my colleagues that should have exactly the same specs.
I just received mine which comes with Windows 10 preinstalled. Is there anything useful to get from it (firmware and stuff) before replacing it by Debian ?

[2021-04-14 15:38] plbossart commented on #2829
@padmashree9110 you will need to update your Ubuntu version, SOF can only work with versions 5.5.11+

[2021-04-14 18:06] #2821 closed

[2021-04-15 03:21] ryanprescott commented on #2748
Hey everyone! Thanks to the help of @Conmanx360 I have a full list of verbs that enable both speakers. However, when a sink closes, these verbs need to be reapplied. I am attaching the verbs below in hopes that someone can help further refine them (i.e. remove the unnecessary ones) and help me turn this into a patch that will be reliable and consistent.

For everyone who is struggling with this at

[2021-04-15 05:00] patbakdev commented on #2748
It works! This so awesome. I had all but given up on the idea I would ever get sound out of these speakers. You rock!

[2021-04-15 07:42] paulstelian97 commented on #2460
Should just be able to install Debian directly. Ensure you have backup media (f.e. don't bust the recovery partition) so you can return to Windows in the future if you need to.

[2021-04-15 09:11] padmashree9110 commented on #2829
@plbossart @kv2019i  I tried with ubuntu 20.04 with kernel '5.6.0-050600-generic'. i was able to list sound card and also 3.5mm worked fine. But again HDMI audio is not working.

[2021-04-15 09:39] keqiaozhang opened #2844 "[BUG] IPC flood test caused IPC error on TGLU_RVP_NOCODEC"
**Describe the bug**
CI detected this issue on TGL_RVP_NOCODEC device when testing ipc flood.  Looks like this is a kernel regression, will try to bisect it next.

**To Reproduce**
$ /sof-test/test-case/check-ipc-flood.sh

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: f8e3b2bc
SOF Branch: main
SOF Commit: 095d1d48ee3c
Platform: tgl_rvp nocodec mode
tplg:so

[2021-04-15 11:46] plbossart commented on #2748
Nice job @ryanprescott

I am far from an HDaudio expert but the table looks like a fixup similar to what can be found in sound/pci/hda/patch_realtek.c

[code]

@tiwai, would you concur that this is the 'right' way of adding the missing verbs at the kernel level?

[2021-04-15 11:57] stakaz commented on #2748
Could you please provide the steps to achieve this? I have a similar problem with Acer Travelmate 614 and I dont know ho to get the verbs from Windows. It would be great to see how it can be done. Thanks.

[2021-04-15 11:58] plbossart commented on #2829
@padmashree9110 how did you test HDMI? The driver exposes 3 PCM devices but only the ones that are actually connected will generate sound.

Please clarify your test (alsa hw device or PulseAudio?) and share dmesg/alsa-info results.

[2021-04-15 13:33] EmilyRobotics commented on #2748
I can also confirm that the fix posted works for my lenovo S740 running manjaro!

It lasts a varying amounts of time, doesn't seem vary consistent when it decides to stop, but this does work as a temporary fix.

Thank you all so much for all the work you do.

[2021-04-15 14:02] plbossart opened #2845 "[TGL][SDW][Volteer] Compute bus params failed"
Internal test 3264, check-capture-all-formats

[code]

[code]

[2021-04-15 14:03] plbossart commented on #2845
@bardliao @RanderWang this is the first time I see this one?

[2021-04-15 14:55] ryanprescott commented on #2748
@stakaz Can you run "sudo alsa-info" and attach the contents of that file?

[2021-04-15 15:03] tiwai commented on #2748
Yes, but there are lots of verbs there, so I'd rather factor it out to another file, something like below.
(Why the heck can't github attach a text patch file with *.patch extension...?)
[0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt](https://github.com/thesofproject/linux/files/6318983/0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt)

[2021-04-15 15:05] ryanprescott commented on #2748
To keep the sound going, comment out this line in /etc/pulse/default.pa:
load-module module-suspend-on-idle

[2021-04-15 15:07] ryanprescott commented on #2748
@tiwai We are going to need a way to send these verbs again on resume. Whenever the sink gets suspended the amps turn off again. Is that possible?

[2021-04-15 15:10] tiwai commented on #2748
The init verb is performed on each resume including runtime PM.

[2021-04-15 15:13] ryanprescott commented on #2748
Beautiful! This is where my experience ends so how do I go about patching this into my kernel to test that it's all working as it should?

[2021-04-15 15:45] plbossart commented on #2748
@ryanprescott do you have any experience rebuilding your own kernel? if you have the source tree you add do a 'patch -p1 < 0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt' and recompile/install. if you have a git tree, 'git am 0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt' and recompile/install.

[2021-04-15 16:39] Elinvynia commented on #2460
Update from Fedora 34 which switches to pipewire and promises to fix some sound issues in the kernel: broken by default without the patched topology file mentioned above.
Relevant fedora discussion: https://ask.fedoraproject.org/t/internal-microphone-does-not-work-on-thinkbook-13s-iml/12881/2

[2021-04-15 16:49] ryanprescott commented on #2748
@plbossart Building the patched kernel as we speak. I'll report back on whether or not the patch works consistently!

[2021-04-15 17:27] ryanprescott commented on #2748
@plbossart @tiwai The kernel patch does in fact work perfectly! I have sound from both speakers without any further intervention.

[2021-04-15 17:59] plbossart commented on #2748
Thanks @ryanprescott, you're going to make a lot of people feel less miserable with their devices :-)

You may want to provide a Tested-by tag to @tiwai ?

Also would you mind expanding on how you managed to find the needed settings so that we provide the same recipe to others that are missing this sort of speaker configurations. It's been a recurring issue reported mid 2020

[2021-04-15 18:15] ryanprescott commented on #2748
@plbossart I'm going to put together some Python scripts that make this process simpler, and then I'll post those instructions here.
How do I provide the tag you mentioned?

[2021-04-15 18:42] plbossart commented on #2748
Ack, thank you

It's just
[code]

[2021-04-15 18:44] plbossart commented on #2844
@keyonjie didn't you change something in the nocodec topology?

[2021-04-15 18:50] ryanprescott commented on #2748
Patch with tag:
[0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt](https://github.com/thesofproject/linux/files/6320467/0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt)
Coming back soon with the Python scripts and the instructions.

[2021-04-15 20:30] ryanprescott commented on #2748
Instructions on how to sniff verbs, clean them up and test them:
https://github.com/ryanprescott/realtek-verb-tools/wiki/How-to-sniff-verbs-from-a-Windows-sound-driver

These might be incomplete or require minor corrections, so anyone who runs into issues please just file an issue under my repo and we will get it sorted for you!

[2021-04-15 21:23] plbossart commented on #2748
this is awesome @ryanprescott, thanks for sharing your solution.

[2021-04-16 00:47] ryanprescott commented on #2748
You're welcome! I have to thank you @plbossart, as well as @Conmanx360 and @tiwai for helping us arrive at a solution so quickly. Without Connor's knowledge of HDA verbs I would not have been able to come close to performing the necessary testing or writing a tool that would filter out the proper verbs. Again @tiwai thanks for coming forward with a kernel patch so quickly. How do these things usua

[2021-04-16 05:45] libinyang commented on #2843
Debugged with Shuming. It shows to be the codec driver issue.
The FU0F is used as the DAPM node, which will automatically switch on when capture. So setting this kcontrol doesn't take effect. Shuming will remove FU0F kcontrol with a patch.

[2021-04-16 06:50] bardliao commented on #2845
@plbossart I saw this long time ago. There was something wrong with clock setting. I will try to reproduce it on my side.

[2021-04-16 07:53] bardliao commented on #2845
@plbossart I can't reproduce it on my Volteer. I ran the test with commit ecf25bbcc569b1330b5f6c24790fc6e9e7718268

[2021-04-16 08:10] shining commented on #2460
Looks like step 2 was not needed on my machine, so the autodetection of SOF works indeed.

What about step 3 ?

I still don't undestand what the HDA Analog and HDA Digital devices are for, and why there are 4 capture devices ?

On my other laptop there is only one recording device and it works :
[code]

[2021-04-16 08:14] tiwai commented on #2748
The patch was submitted to the upstream ML and merged now to my tree, destined for 5.13 kernel.

[2021-04-16 08:40] singalsu commented on #2849
Could someone familiar with HDA driver take a look. See my debug print add to hdac_hda.c, This actual rate should be updated to DSP DAI so it would pass to pipeline walk the correct rate.

[2021-04-16 10:38] padmashree9110 commented on #2829
@plbossart
I was verifying with UI only. I connected HDMI and selected "sof -hda-dsp Stereo" in settings-> sound->output device. So audio was not heard in HDMI, it was falling back to 3.5mm, though 3.5mm is not connected to the device.

I tried with alsa command, out of 3 PCM devices in pc3p hdmi audio is coming properly. Verified with the command
$aplay -D plughw:0,3 Sine_440_10min.wav

But with

[2021-04-16 11:17] keyonjie commented on #2824
Hi @plbossart @ranj063 I managed to figure out solution for this in my PR https://github.com/thesofproject/linux/pull/2850, please help to review.

[2021-04-16 13:39] kv2019i commented on #2829
Hey @padmashree9110 . Thanks, the attachments are very useful. Basicly they shows i915 driver working as expected, the audio driver makes the connection to i915 driver and that the HDMI/DP codec driver is correctly loaded. So far so good.

But then a problem is that no audio-capable monitor/receiver is listed as being available:
[code]

So something in detecting the display has gone wrong. Could y

[2021-04-16 14:45] padmashree9110 commented on #2829
@kv2019i Thank you for the confirmation that  driver side everything seems fine. But hdmi monitor is working one only and even it worked fine with alsa command.

CONNECTOR:301:DP-3 shows the above mentioned details properly. I have attached the full logs of /sys/kernel/debug/dri/0/i915_display_info:
[i915_display.txt](https://github.com/thesofproject/linux/files/6325927/i915_display.txt)

[2021-04-16 16:14] plbossart commented on #2460
I don't know what 'make hw_0_7' refers to.  Never used it.

Yes, that may be a bit confusing. Some HDaudio devices have an analog and a SPDIF digital output, but we can't know this at the SOF level. So we expose two separate streams, knowing that one of them may or may not work.

Can you share more information on what the other recording devices are? e.g. share the results of alsa-info.

Also if y

[2021-04-16 16:48] H-Park commented on #2748
Open source software in full display here. Awesome work!

[2021-04-16 18:01] kv2019i commented on #2829
Hmm, this looks like an issue in either i915 driver or the ALSA HDMI codec driver. The i915 log indeed shows an audio capable monitor, so the negotiation towards the monitor has been succesful. The problem is now on the notification send from i915 to audio driver. The ALSA mixer control value is used to driver the GUI logic. E.g. if the notification is lost, the GUI doesn't know there's a HDMI mon

[2021-04-16 18:22] ryanprescott opened #2851 "[BUG] No sound from speakers on Acer Travelmate 614"
Could you please provide the steps to achieve this? I have a similar problem with Acer Travelmate 614 and I dont know ho to get the verbs from Windows. It would be great to see how it can be done. Thanks.

_Originally posted by @stakaz in https://github.com/thesofproject/linux/issues/2748#issuecomment-820366778_

[2021-04-16 18:27] ryanprescott commented on #2851
@stakaz Would you be able to follow my instructions [here](https://github.com/ryanprescott/realtek-verb-tools/wiki/How-to-sniff-verbs-from-a-Windows-sound-driver) and let me know if you're able to get a set of working verbs?

[2021-04-16 20:05] stakaz commented on #2851
Yeah, I already started. Thanks for this great tutorial. However, right now I cannot pass step 4. Because I first have to run `.configure` and that gies me a `-Werror:

[code]

I am on Arch Linux so maybe some dependencies are missing. Have to check that further.

But I will try my best and will post my results here.

Thanks for opening this issue ;)

[2021-04-16 20:06] stakaz commented on #2851
Ah, using `--disable-werror` still ended up in an error in compilation.

[2021-04-16 20:07] shining commented on #2460
See https://github.com/thesofproject/linux/issues/2460#issuecomment-778805723

Ok so looks like you confirm that it's necessary to configure pulse default depending on the hardware for now ?
No hope for a solution ?

Exactly the same as in the first post, except it's card 0 and not card 1.

It's a P14s, overriding the default topology file does not seem necessary.

[alsa-info.txt.S6gge5ZXkr.gz](ht

[2021-04-16 20:08] ryanprescott commented on #2851
What error are you getting?

[2021-04-16 20:13] stakaz commented on #2851
Many similar things like this last one:

[code]

[2021-04-16 20:17] ryanprescott commented on #2851
Check out this link, you'll probably have to patch this in:
https://lore.kernel.org/qemu-devel/20210320041854.68668-1-gshan@redhat.com/T/

[2021-04-16 20:31] ryanprescott commented on #2851
Here's another link that provides flags that might need to be set:
https://github.com/apertus-open-source-cinema/axiom-beta-qemu/issues/6

[2021-04-16 20:38] plbossart commented on #2460
why is this necessary? if you use alsa-ucm-conf, you don't need to tweak PulseAudio. the Linux Arch information seems to be completely outdated.

not at all, this information seems completely wrong. Device 0,7 is the DMIC at 16kHz, not the one you want at all

Your local mic is device hw:0,6 and the headset mic is device hw:0,0

card 0: sofhdadsp [sof-hda-dsp], device 0: HDA Analog (*) []
card 0:

[2021-04-16 20:45] stakaz commented on #2851
Yeah, the build finished successfully now. Will see when I can work on it further and write here if further problems will occur.

[2021-04-16 22:15] plbossart opened #2853 "[SDW][TGLU_SKU0A32_SDCA] clock stop prepare timeout"
The following warning appeared with recent code changes.
[code]

Initially reported by Intel daily test 3289 but reproduced locally on my test device.

[2021-04-16 22:20] plbossart commented on #2853
git bisect shows this

[code]

[2021-04-16 22:46] plbossart commented on #2853
Instrumenting the code shows that this is not a regression but rather that the clock stop sequence NEVER worked properly. The commit above just forces the use of the Prepare/wait for NotFinished to be clear, and that does not happen for RT715-sdca

See https://github.com/thesofproject/linux/pull/2854, it seems that we skip the wait for the NotFinished bits for all links.

[2021-04-16 22:46] plbossart commented on #2853
@bardliao @RanderWang FYI

[2021-04-16 22:56] plbossart commented on #2853
this issue does not seem to happen with the SoundWire 1.1 version of RT715 on TGL Dell SKU 0A3E, so I am leaning to think it's any issue with the RT715-SDCA only.

@jack-cy-yu @shumingfan, can you please try on your devices? You should be able to reproduce the problem with our topic/sof-dev branch. Thanks!

[2021-04-17 11:43] stakaz commented on #2851
Now,  I cannot start the installation process:

[code]

[2021-04-17 15:29] ryanprescott commented on #2851
Install seabios and add `-L /usr/share/seabios` to your qemu command.

[2021-04-17 19:50] shining commented on #2460
Yes, as I explained, this is on Debian 10.
To get local mic working I already had to install kernel and sof firmware from testing (future Debian 11).
alsa-ucm-conf also only exists in testing and this looks harder to backport.

So it's awesome if everything works well already with the future Debian 11, I will test it to confirm, and let's hope it will be released this year.
But I would also would

[2021-04-17 22:41] stakaz commented on #2851
Hey, this was not the solution. Bur running from original build directory was ok. Now, I am at this point:

[code]

[2021-04-17 22:47] ryanprescott commented on #2851
Hey @stakaz!

If you get that, you need to bind each device in the 0000:00:1f group. You'll want to run:
`lspci -nn | grep 00\:1f`
and use vfio-bind.sh to bind the remaining devices. Do not rebind 0000:00:1f.3, only bind the others. For my setup I had to run:
`./vfio-bind.sh 0000:00:1f.0 0000:00:1f.4 0000:00:1f.5`
Your mileage may vary :)

[2021-04-17 23:46] stakaz commented on #2851
Its amazing! AMAZING! I have a verb sequence which enables the sound, finally. Many many thanks for it. Here it is:

[final_verbs.txt](https://github.com/thesofproject/linux/files/6330241/final_verbs.txt)

[2021-04-17 23:47] stakaz commented on #2851
It is quite large but I was not able to cut it at the beginning or the end any more. But still probably there is stuff unimportant inbetween.

[2021-04-18 00:06] ryanprescott commented on #2851
Were you getting errors from the codec when trying to cut it down or did you just lose sound from one or more speakers? You shouldn't need that many verbs to enable the sound, so I think it's worth trying to trim them down further if possible.

[2021-04-18 00:25] ryanprescott commented on #2851
[final_verbs.txt](https://github.com/thesofproject/linux/files/6330286/final_verbs.txt)
Let me know if this sequence gives you sound and if so what line number?

[2021-04-18 09:08] shining commented on #2460
I confirm it works well with Debian 11, without any hack. :+1:

The default mic switches from local mic to headset mic when I plug a headset and vice versa.
This can be seen in pavucontrol or with the following command :
`pacmd list-sources | grep -e 'index:' -e device.string -e 'name:'`

[2021-04-18 22:14] stakaz commented on #2851
Hey, unfortunately your provided final_verbs.txt did not worked. However, from my cleanverbs fie I was able to use a later sequence and reduce the number of verbs to 548. Here it is:

[final_verbs.txt](https://github.com/thesofproject/linux/files/6332309/final_verbs.txt)

Hope, that this is enough...

[2021-04-18 22:14] stakaz commented on #2851
By the way, I have used the speakers for a one hour video and they did not become silent at all...

[2021-04-18 23:17] ryanprescott commented on #2851
Awesome! I can take this and turn it into a patch based on the solution that @tiwai put together. Give me a few hours and I should have something for you.

[2021-04-19 02:14] ryanprescott commented on #2851
@stakaz Hey! I need one more thing before I can get this patch going. Just need the output of the following command:
`cat /sys/bus/pci/devices/0000:00:1f.3/uevent | grep SUBSYS`

[2021-04-19 02:51] XiaoyunWu6666 opened #2855 "[ADL] display audio is not supported on ADL platform since i915 driver is not ready in mainline kernel v5.12"
**Describe the bug**
i915 display driver support for ADL-S and ADL-P is not ready in upstream mainline kernel and not available in sof-dev kernel.  ADL-S i915 support is available in drm-intel tree and will be submitted to 5.13 merge window. 

When testing with sof-dev kernel, there will be a 60sec delay in audio driver probe as system waits for i915 initialization to complete . This leads display

[2021-04-19 03:09] mengdonglin commented on #2853
Set to P1 as it blocks us to add device TGLU_SKU0A32_SDCA to PR test.

[2021-04-19 06:22] RanderWang commented on #2845
I remember we have such issue for link1 with 2 max98373, but it is hard to reproduce it.

[2021-04-19 06:52] padmashree9110 commented on #2829
**@kv2019i Reconnecting hdmi didn't fix the issue for me. But  HDMI/DP, pcm3 Jack value is always "true" .  Below are the logs for the same.

$cat alsa-info.txt |grep -C2 HDMI/DP
control.11 {
iface CARD
name 'HDMI/DP,pcm=3 Jack'
value true
comment {

control.17 {
iface CARD
name 'HDMI/DP,pcm=4 Jack'
value false
comment {

control.23 {
iface CARD
name 'HDMI/DP,pcm=5 Jack'
value false
comment {

[2021-04-19 07:27] stakaz commented on #2851
Hey, unfortunately this sequence did not worked for me after a reboot. The first one still works...

I will come up with a new (hopefully short one) soon. Here it the information from `cat /sys/bus/pci/devices/0000:00:1f.3/uevent | grep SUBSYS`:

[code]

[2021-04-19 10:42] bardliao commented on #2853
@plbossart I saw `rt715_dev_suspend` is called before `sdw_bus_prep_clk_stop`. It may not cause the issue, but is it expected?

[2021-04-19 11:54] jack-cy-yu commented on #2853
@plbossart @mengdonglin We've found the possible root cause for this timeout issue but still need some time to verify. I'll update it tommorrow.

[2021-04-19 13:11] stakaz commented on #2851
Hello, here a slightly shorter sequence but it is still ~3000 long. I cannot bring it to a shorter from. The problem is, that sometimes I can cut things from the middle and it works but after a reboot the longer sequence is needed again.

[final_verbs_3.txt](https://github.com/thesofproject/linux/files/6336273/final_verbs_3.txt)

[2021-04-19 13:13] stakaz commented on #2851
And one more thing, I will not have the time right now to go into compiling the kernel and check the patch. Would it be possible to add it first and I will conform that it works once it is updated on my arch linux system?

[2021-04-19 14:02] fredoh9 opened #2857 "[BUG][SDW] KASAN error, use-after-free in sdw_intel_exit"
Internal testing #3314. Found KASAN error while kmod test on TGLU_RVP_SDW, TGLH_RVP_HDA, CML_RVP_SDW

- "kernelBranch" : "topic/sof-dev",
- "kernelCommit" : "3043605a",
- "sofBranch" : "main",
- "sofCommit" : "be065e55a87b"

To reproduce the problem,
./check-kmod-load-unload.sh

[code]
[kasan_dmesg.txt](https://github.com/thesofproject/linux/files/6336604/kasan_dmesg.txt)

[2021-04-19 15:02] plbossart commented on #2853
I think it's expected. The parent-child model will require all children to be suspended before the master device can suspend and stop the clock.

[2021-04-19 17:00] plbossart commented on #2857
Good catch @fredoh9, I can reproduce this on my local device.

[2021-04-19 18:55] ranj063 commented on #2805
@keyonjie and what is the difference you're talking about here? Is it in terms of the fw boot sequence or just the fact that runtime PM resume doesnt involve FW authentication?

[2021-04-20 02:16] XiaoyunWu6666 commented on #2844
Looks like caused by tplg , I'll do bisecting this morning

[2021-04-20 03:09] jack-cy-yu commented on #2853
@plbossart @mengdonglin  Please check #2861 for the fix.

[2021-04-20 04:18] XiaoyunWu6666 commented on #2844
Confirmed that [https://github.com/thesofproject/sof/commit/cd2444adbf8821d33e098b071b40dab2931d6a8e](url) is the commit that causes this issue.

[test on ubuntu@sh-tglu-rvp-nocodec-02]

**Commit Details**
commit cd2444adbf8821d33e098b071b40dab2931d6a8e
Author: Keyon Jie <yang.jie@linux.intel.com>
Date:   Tue Apr 13 16:27:35 2021 +0800

    topology: sof-tgl-nocodec-ci: change to run smart_amp on

[2021-04-20 04:20] keyonjie commented on #2844
yes, I changed to use core one on the TGL nocodec platform, so this issue is under expected, working on this these days.

[2021-04-20 08:01] keyonjie commented on #2805
I meant just the runtime PM resume case, but @sathya-nujella told me that this happened on the boot case also, so it looks more miracle to me now, not saying that we have never reproduce it at our end.

[2021-04-20 11:42] ryanprescott commented on #2851
@stakaz 3000 verbs is still a bit much to try to get into the upstream kernel. If your current combination is persisting across reboots then I think you should keep using that until the Intel guys figure out how and why Realtek is using HDA verbs to control their amplifiers. With that knowledge they should be able to work to either find shorter verb sequences, or communicate with the amplifiers di

[2021-04-20 11:42] libinyang commented on #2843
An updated patch is submitted: https://github.com/thesofproject/linux/pull/2860

[2021-04-20 11:49] stakaz commented on #2851
Unfortunately, it was not persistent after a complete shutdown and restart. However, I could live with the temporary solution of using a script. Btw, could you tell me if I can apply the verbs before login after the boot process? I do not know how to run a sudo code without asking for password after I login.

[2021-04-20 11:51] stakaz commented on #2851
Possibly, at some point I could try to bring it down to less verbs but the problem is, that after I run the whole clean-verbs.txt, I end up in possible sequences of verbs which give me the sound back but which do not work after reboot... So, it is a time consuming thing to text one verb sequence at each booting time.

[2021-04-20 11:52] ryanprescott commented on #2851
@stakaz See the following:
https://wiki.archlinux.org/index.php/Systemd#Writing_custom_.service_files

[2021-04-20 11:59] stakaz commented on #2851
Thanks, am I correctly understand that it should be possible to use a service to apply the verbs at start?

[2021-04-20 12:03] ryanprescott commented on #2851
Yes, the daemon should be able to run those processes as root so you will
have sound immediately at startup.

On Tue, Apr 20, 2021 at 8:00 AM Stanislav ***@***.***> wrote:

[2021-04-20 12:21] kv2019i commented on #2825
Merged upstream, closing.

[2021-04-20 12:21] #2825 closed

[2021-04-20 15:07] plbossart commented on #2844
@keyonjie it's not a good practice to break CI while you are working on a fix. You need to use separate commits for topology/firmware and driver, and only ask that both are committed when the solution actually works.
@lgirdwood please consider reverting the commit above until we have a clear and agreed on solution.

[2021-04-20 17:55] plbossart opened #2862 "PGA Master Capture Switch off leaves the right channel go through unmodified."
Found during development of https://github.com/thesofproject/linux/pull/2827, somehow we can only get left and right channels with this setting.
[code]

With this switch off we are still able to capture the right channel, so something is not quite right here. This may be a SoundWire only issue or a more generic one, to be determined.

[2021-04-20 21:23] plbossart commented on #2857
fixed

[2021-04-20 21:23] #2857 closed

[2021-04-20 21:24] plbossart commented on #2853
fixed.

[2021-04-20 21:24] #2853 closed

[2021-04-20 21:30] plbossart commented on #2805
well we have to split the variables here.
a) if there is a problem on a cold boot, it's squarely a CSE issue
b) if there is a problem on a D3 exit, it may be because CSE assumes the authentication is done only once. That said I don't see how we could change the flows at this point, TGL FW is past the PV point and having the firmware save/restore its own context in IMR (DDR not visible to the Linux

[2021-04-20 21:32] plbossart commented on #2761
@lyakh I would suggest we close this bug if no one has been able to reproduce it?

[2021-04-20 21:37] plbossart commented on #2699
let's close for now. Hopefully the combination of SOF 1.7 and ubuntu updates solved this.

[2021-04-20 21:37] #2699 closed

[2021-04-21 08:02] padmashree9110 commented on #2829
@kv2019i @plbossart Any update on this issue?

[2021-04-21 09:04] keyonjie commented on #2844
@plbossart to this multi-core support specific, we committed and did release that multi-core had been supported from half a year back(tgl-010), it is basic feature and should be verified at least daily, but since we are lack of CI coverage, regression was introduced after that.

IMHO, bug drives the development sometimes, if we don't prioritize it, we could keep wandering there for some more month

[2021-04-21 11:29] kv2019i commented on #2829
@padmashree9110 wrote:

Now you lost me a bit. In the log you shared earlier, the "HDMI/DP,pcm=3 Jack" definitely was "false" (= sound driver has not detected the monitor and it is not shown in the GUI). But now you state it's "always true". So what changed?

I'd expect if you hit one of the bugs I mentioned, the value would be "false" after system boot, but if you reconnect the HDMI monitor, the

[2021-04-21 11:51] mwasko commented on #2805
@ranj063 @keyonjie it look like we are reading ROM & FW status too late - the DSP is probably already power off and that is why we get 0xFFFFF. We should fix that to gather more information about FW load failure reason

[2021-04-21 11:57] bardliao commented on #2862
@plbossart I think the switch value before you set `amixer cset name='PGA2.0 2 Master Capture Switch' 1` was off,on.
[code]
That's the reason you are able to capture the right channel.
Discussed with @juimonen we think the issue is not seen in a real product is because we set `'PGA2.0 2 Master Capture Switch' 1` in https://github.com/thesofproject/alsa-ucm-conf/blob/master/ucm2/sof-soundwire/rt711

[2021-04-21 14:31] plbossart commented on #2844
NAK. This impact CI and the work in your team. CI results shall pass, or everyone will stop looking at the results.

If you detected a bug somewhere that can only be exposed by a change, then fix whatever this change exposes *BEFORE* committing this change.

We have enough surprises already with CI, the last thing we need is a developer trying to prove a point. If you do, then mark your PR as [TES

[2021-04-21 14:45] plbossart commented on #2862
@bardliao I am quite sure it was "off,off". that's why I added this issue. I'll redo the test to confirm.

[2021-04-21 16:41] paapu88 commented on #2748
`sudo python3 applyverbs.py alc285.txt` given above works for me with Ubuntu 20.04 and Lenovo S740 laptop after `sudo apt install alsa-tools` and reboot and again `sudo python3 applyverbs.py alc285.txt` . FANTASTIC!!!!

[2021-04-21 16:46] ryanprescott commented on #2748
Hey paapu88,
For a more permanent solution you should get @tiwai's patch above and rebuild your kernel. Your mileage may vary depending on distro. I have sound working on my S740 using his kernel patch on Pop_OS!, kernel version 5.11.0-7612-generic.

[2021-04-21 16:48] ryanprescott commented on #2851
@plbossart Any luck with getting in touch with Realtek to help narrow the coefficients down?

[2021-04-21 17:09] plbossart commented on #2851
@bardliao can you try and see who supports HDaudio codecs at Realtek (Kailang?)

@ryanprescott it's a long shot, it could very well be that the amplifiers are not from Realtek. I think the idea of creating an I2C bus master to use i2c-detect would help solve this sort of support question, so that we can ask the right vendor for support.

[2021-04-21 17:13] plbossart commented on #2851
I also agree with @ryanprescott that the verb sequence is probably too verbose. There are lots of repeats, e.g.  the last ones

[code]
are not particularly self-explanatory...

[2021-04-21 23:27] marc-hb commented on #2844
You can use pull requests or any other branch than main to share work in progress and have tests run on it. Don't dump it on the main branch, negatively affect others' work and slow everyone else down. Others have priorities too and I'm tired of having to look at problems that are completely unrelated to what I'm supposed to work on (assuming we're lucky and they fail in our too limited test cover

[2021-04-22 01:56] bardliao commented on #2851
Yes, it should be @kailangyang.

ALC285 supports I2C master, so the amplifier's I2C could possibly be connected to ALC285. @ryanprescott @stakaz Do you happen to know which amplifier module it is and where is its I2C port connected to?

[2021-04-22 07:08] padmashree9110 commented on #2829
@kv2019i This value is being unstable. Sometimes it shows true and sometimes it is false.

[2021-04-22 07:31] padmashree9110 commented on #2829
yesterday when i checked it showed "false" for 10/10 trails. Today i checked again and  it showed "true" for 9/10 trials and one time it showed false.

[2021-04-22 07:49] stakaz commented on #2851
Hello, I think it is the ALC295, not ALC285. Here the alsa-info.sh output: [alsa-info_output.txt](https://github.com/thesofproject/linux/files/6356494/alsa-info_output.txt)

[2021-04-22 10:30] keyonjie commented on #2844
@plbossart @marc-hb the sof-tgl-nocodec-ci.m4 was added with intention of experiment and development only, but yes, let me submit a reversion if that really impact you, considering the multi-core support won't be merged in several working days.

Here it is: https://github.com/thesofproject/sof/pull/4075

[2021-04-22 14:44] realfossy commented on #2748
From the postings above I created a shell script that simply throws the relevant verbs to the kernel. It works on my LENOVO Yoga S740 15IRH. But it is only a patch that has be re-runned whenever you restart the computer. Maybe this is a little help for other users. My setup is a Ubuntu Mate 20.4 with kernel  5.4.0-72-generic.
1) start a player like VLC, Rhythmbox or whatever
2) download attached s

[2021-04-22 15:43] patbakdev commented on #2748
This is what I did. My first time rebuilding a patch for a kernel module. Was actually relatively easy and so far as worked flawlessly. Now I only need to do something (rebuild) when my system's kernel gets updated. I'm running Manjaro.

[2021-04-22 19:44] plbossart commented on #2862
I need a vacation, the behavior is as expected.

[2021-04-22 19:44] #2862 closed

[2021-04-22 19:51] plbossart commented on #2829
maybe a red-herring @padmashree9110, even if your tests include a reboot by the time you can see those mixer values it could be that the audio drivers suspended and somehow the connection information is lost. maybe disabling power management would help see what happens on startup, without any further transitions?

[2021-04-24 02:33] shumingfan commented on #2843
@libinyang The updated patch was merged to upstream.
https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?id=ca5118c0c00f6bc8b7d0c82c95485159db3a5584
This patch is a little bit different from #2860. The functionality will be the same.

[2021-04-24 13:54] libinyang commented on #2843
@shumingfan Got it. Thanks.

@bardliao Maybe we need to port the patch to our SOF.

[2021-04-26 02:13] bardliao commented on #2843
@libinyang https://github.com/thesofproject/linux/pull/2868 or we can wait for the regular rebase which will merge the upstream patches.

[2021-04-26 14:03] kv2019i commented on #2829
@padmashree9110 Can you describe how are you testing when you say "showed "false" for 10/10 trails". Is this 10 reboot, 10 reconnects of the monitor?

[2021-04-26 14:04] fredoh9 opened #2869 "[KASAN][BDW] null pointer dereference in intel_ipc_msg_data"
Found KASAN errors in `BDW_WSB_RT286`, while doing simultaneous-playback-capture.sh. Internal test 3508 has weekly kasan build/test.

Command to run: TPLG=sof-bdw-rt286.tplg ~/sof-test/test-case/simultaneous-playback-capture.sh

Build configuration (kconfig with KASAN enabled)
- Kernel Branch: topic/sof-dev
- Kernel Commit: 74d194d9
- SOF Branch: main
- SOF Commit: d5c779918c0f

[code]

Attached t

[2021-04-26 15:20] plbossart commented on #2843
better to use regular rebase, patches in SOF topic/sof-dev generate extra work for us.

[2021-04-26 15:30] plbossart commented on #2869
@fredoh9 is this for Broadwell (BDW) or Baytrail (BYT)?

[2021-04-26 19:26] plbossart commented on #2869
Wondering if there is a possible race condition if intel_pcm_close() in parallel with intel_ipc_msg_data(). We could end-up testing

intel_ipc_msg_data: if (stream) // non NULL value
intel_pcm_close: kfree(stream)
intel_ipc_msg_data: sof_mailbox_read(sdev, stream->posn_offset, p, sz); // WHAMO

Alternatively, maybe it's substream->runtime that's also been freed already. I can't recall who allocate

[2021-04-26 19:29] plbossart commented on #2869
also wondering if we need to explicitly zero-out the struct hdr here

[code]

[2021-04-26 19:40] fredoh9 commented on #2869
@plbossart it's BDW(BDW_WSB_RT286), sorry for the confusion. my eyes are becoming blurry...

[2021-04-26 21:51] fredoh9 commented on #2844
thesofproject/sof#4075 merged, unblocked

[2021-04-26 21:51] #2844 closed

[2021-04-27 00:35] marc-hb commented on #2844
Test failures impact every single developer because every single developer looks at test results all the time to make sure they did not break anything recently. If some feature or configuration stops working for some random reason then no one can tell whether they just broke it because it's already broken.

[2021-04-27 11:36] padmashree9110 commented on #2829
@plbossart I disabled power management things using the command
$sudo systemctl mask sleep.target suspend.target hibernate.target hybrid-sleep.target
and now also value of HDMI is random only.
Sometimes after reboot it showed value as "true" and sometimes it showed false.
   Even when the value is "true", hdmi audio is not working with UI. So does this value really has any impact on HDMi playback?

[2021-04-27 11:46] padmashree9110 commented on #2829
@kv2019i Those tests were not with reboot..just with a couple of minutes gap i checked the value.

[2021-04-27 12:04] kv2019i commented on #2829
@padmashree9110 This is very strange now. The value reflects the state of HDMI connection. On Ubuntu, Pulseaudio will monitor this value and HDMI/DP is only when it is true, the option to route audio to HDMI/DP is shown in audio settings.

I.e. normal sequence is that when you plug in a HDMI monitor, the i915 driver sets up the HDMI display part and if the monitor reports to have audio capability,

[2021-04-27 14:54] padmashree9110 commented on #2829
@kv2019i yes. I am able to see HDMI status change from "connected to disconnected" and also "disconnected to connected" several times in drm logs . I have attached the full logs also.
[kernel-log-with-drm.txt](https://github.com/thesofproject/linux/files/6385471/kernel-log-with-drm.txt)

[2021-04-27 15:05] kv2019i commented on #2829
@padmashree9110 Ok, that explains. Do you see anything on the display? It's the whole display that is getting disconnected and connected all the time. This can be a problem in the monitor, the cables and/or an issue in i915 driver. Basicly audio is just reacting to the display continuously disappearing and then coming back.

[2021-04-27 19:30] plbossart opened #2875 "[SDW] DSP panic w/ sof-test suspend-resume on Dell SKU 09C6 (CML single amp)"
I was running some tests on SoundWire and started getting a DSP panic during suspend/resume tests

[log.txt](https://github.com/thesofproject/linux/files/6387141/log.txt)

kernel: b7cd5a3826b6 ASoC: SOF: ops: print out the polling register
SOF: b5b244f11 (HEAD -> main, origin/main) math: remove path.h dependency
sof-test: f93a3c8 (HEAD -> main, origin/main) multiple-pipeline: remove initial sleep

[2021-04-27 20:56] plbossart commented on #2875
This seems to be a kernel regression, if I go back to the sound/upstream-20210426 tag things are fine.

[2021-04-27 21:15] plbossart commented on #2875
sof-dev-rebase-20210426 is broken, bisecting now

[2021-04-27 21:20] plbossart commented on #2875
patch to sof-test to speed-up the tests.
[sof-test.diff.txt](https://github.com/thesofproject/linux/files/6387713/sof-test.diff.txt)

This seems to occur after either a playback/capture or module load/unload. If I do a suspend only things are fine. I don't know which exact sequence causes the issue.

[2021-04-27 21:21] plbossart commented on #2875
git bisect tests on topic/sof-dev-rebase branch

[code]

@bardliao @RanderWang @ranj063 @fredoh9 FYI

[2021-04-27 23:17] plbossart commented on #2875
Removing PulseAudio removes the IPC error and DSP panic. We're probably missing something in the resume sequence after the dynamic pipeline rework.

[2021-04-28 01:27] plbossart commented on #2875
Well, the "good news" is that I can reproduce this problem on a TGL Dell device (SKU 0A3E), using SOF v1.7 however since it's using an Intel signed key.

Same DSP panic with PulseAudio doing weird things. It's not a case of broken hardware but more a broken state machine.

@ranj063 I think given the correlation with dynamic pipeline changes you may want to setup your device and take a look.

[2021-04-28 01:31] plbossart commented on #2875
TGL dmesg log for reference
[dmesg.txt](https://github.com/thesofproject/linux/files/6388497/dmesg.txt)

[2021-04-28 01:39] bardliao commented on #2875
I can also see the issue on TGL Dell device (SKU 0A3E)
[dmesg.txt](https://github.com/thesofproject/linux/files/6388519/dmesg.txt)

[2021-04-28 07:37] kv2019i commented on #2824
This is impacting a key feature in sof-dev, so applying P1.

[2021-04-28 08:43] libinyang commented on #2843
Let's close it as Shuming's patch is merged in the community.

[2021-04-28 08:43] #2843 closed

[2021-04-28 08:48] keqiaozhang opened #2877 "[bug] suspend/resume test failed with warning on TGLU-SDCA"
**Describe the bug**
CI detected this issue on TGLU-SDCA(SDW 0.6) device. kernel warning:

===========================>>
[ 6293.883414] kernel: rt711-sdca sdw:0:25d:711:1: Unable to sync register 0x40400f09. -61
<<===========================
[code]
But audio still can work after this warning and no errors in sof-logger

**To Reproduce**
./check-suspend-resume.sh -l 50

**Reproduction Rate**
100%

[2021-04-28 09:41] padmashree9110 commented on #2829
Checked monitor and cable on other device, both are working fine only. And also display  on this device is also fine, it is not disconnecting and connecting back again. It is stable.

[2021-04-28 12:40] plbossart commented on #2877
@keqiaozhang please attach the entire dmesg/slogger log, it's not possible to check if that happens on suspend or resume. Or at least a daily test ID for reference. Thank you.

[2021-04-28 14:23] plbossart commented on #2877
This comes from daily test 3577
[dmesg.txt](https://github.com/thesofproject/linux/files/6392440/dmesg.txt)

the sequence looks like a Command_Ignored reply, as if the register is not implemented.

[code]

@shumingfan can you please take a look? This doesn't look like a bus issue, the device never lost sync here.

[2021-04-28 14:34] plbossart commented on #2877
In case this register is actually implemented in the device, this could be a problem with the paging management and we access the right offset but in the wrong page. That'd be tricky to debug :-(

[2021-04-28 15:47] plbossart commented on #2805
Not following the comment and not getting what the suggestion is @mwasko. we are not turning the DSP off, it's on boot/resume that the problem happens.

[2021-04-28 20:51] kv2019i commented on #2829
@padmashree9110 Thanks. So this starts to seem like a i915 driver issue. I suggest reporting this to https://gitlab.freedesktop.org/drm/intel/-/issues

If possible, I'd also try an even newer kernel, just to see if there is any change. Debugging the pulseaudio configuration issue is pretty impossible if the monitor audio setup is not reliable.

[2021-04-28 21:13] plbossart opened #2881 "[SDW] page registers should only reset when needed"
The current SoundWire code has a very conservative approach, where the Slave device page registers are reset after EVERY transaction on the bus. For every byte transferred to imp-def or class registers, this adds two transactions.

An alternative value would be a lazy-reset, where the page register is reset only when needed, i.e. when dealing with page0 for standard registers, or when jumping to a

[2021-04-29 01:31] astromatt42 opened #2882 "sof-audio-pci seems to prevent wake from sleep"
sof-audio-pci intermittently throws a series of errors, preventing wake from sleep. Usually I need to do a alt + sysreq + B to kill the kernel, however very occasionally it does wake up after struggling for 5min or so, which is how I obtained the dmesg output below. Please let me know if you require a more detailed error log.

[10206.820178] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x8

[2021-04-29 07:03] mwasko commented on #2805
@plbossart  my point is that below error & status registers are probably read by the driver (after load FW failure) when DSP is put back to D3 state and that is why we got 0xFFFF instead of actual codes. I may be wrong, but recommend to check it - similar problem was in skl/cAVS driver.
[ 5.809361] sof-audio-pci 0000:00:1f.3: ROM error=0xffffffff: FW status=0xffffffff

[2021-04-29 13:56] plbossart commented on #2882
@astromatt42 can you provide a pointer to the results of the 'alsa-info' script, it'd help understand what platform this happens on. If you can also enable dynamic debug by copying this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/linux/files/6399125/sof-dyndbg.conf.txt)
 as /etc/modprobe.d/sof-dyndbg.conf, that would help check in which configuration this happens

Also please clari

[2021-04-30 06:16] lyakh commented on #2869
@plbossart yes, looks very much like a race. Do we have an idea whether that's a real IPC message from the DSP or a spurious interrupt? Either way we have to handle the "stream already closed" case there too.

[2021-04-30 06:18] lyakh commented on #2869
Zero or not - it won't tell you whether the data has been read out successfully. I think we need a return value from `snd_sof_ipc_msg_data()` to know, that only if it returns 0, the data is valid.

[2021-04-30 15:32] plbossart commented on #2869
Sounds like a good idea indeed.

[2021-05-02 05:07] astromatt42 commented on #2882
Ok, I have tried to reproduce this, however it hasn't glitched again yet. It was a regular suspend/resume not hibernate, essentially closing the laptop lid and taking it somewhere else. It may be related to connecting/disconnecting to my docking station (which does show up as an additional audio device when connected), but I don't quite remember what the sequence of events was - it did this numero

[2021-05-02 09:40] astromatt42 commented on #2882
It crashed again just now, dmesg attached with full debug messages.
[dmesg_sof-audio-pci.txt](https://github.com/thesofproject/linux/files/6411087/dmesg_sof-audio-pci.txt)

I should also mention that the sound card is unavailable post crash (only showing a dummy device) until I reboot.

[2021-05-03 14:13] plbossart commented on #2882
Thanks @astromatt42. This is pretty bad, this is a firmware authentication issue on a CometLake-LP device. It's the first report of such a problem that I am aware of on CML.
@kv2019i @ranj063 @keyonjie FYI.

[code]

[2021-05-03 14:15] plbossart commented on #2882
extracted information: kernel 5.8.0-50-generic

[2021-05-03 17:15] fredoh9 commented on #2676
Internal daily test 3669 found this NULL pointer dereference again.
Kernel Commit: da1f1790

[2021-05-03 19:46] plbossart commented on #2676
@fredoh9 is this test 3669 with KASAN enabled? I see an address "dead000000000100", that's weird otherwise...

[2021-05-03 20:20] fredoh9 commented on #2676
@plbossart No this is default build.
I'm running with KASAN enabled kernel build also, but so far working fine.

[2021-05-03 22:34] plbossart commented on #2877
This is reproduced in Intel daily tests 3673, so not an isolated incident.

[2021-05-04 00:22] plbossart commented on #2877
Unless I am mistaken, this register address decodes as Function 1, entity 0x1E, control selector 1, control num 1?
that should be USER_FU1E and the mute control.

That looks inconsistent, the function 0x01 is JACK_CODEC, but the defaults are

[code]

for MIC_ARRAY which should be function 0x02...

	{ SDW_SDCA_CTL(FUNC_NUM_MIC_ARRAY, RT711_SDCA_ENT_USER_FU1E, RT711_SDCA_CTL_FU_VOLUME, CH_L), 0x00 }

[2021-05-04 02:04] shumingfan commented on #2877
@plbossart Sorry, I missed your message. I checked this issue that the problem comes from ca5118c0c00f6bc8b7d0c82c95485159db3a5584. It is a copy/paste error by my fault.

The SDCA control should use Function 1 in the rt711_sdca_set_fu1e_capture_ctl function.
I will send the patch to upstream soon.

[code]

[2021-05-04 06:13] fredoh9 opened #2908 "[BUG] The volume of RT711 codec does not match the actual setting"
100% reproducible on `TGLU_SKU0A32_SDCA`. Found in Internal daily test 3634, 3669, 3673, 3691. [worked well on 2021-04-26 Daily but began to fail since 2021-04-27 Daily (http://sof-ci.sh.intel.com/#/result/planresultdetail/3577)]

Test command to reproduce,
TPLG=sof-tgl-rt711-rt1316-rt714.tplg ~/sof-test/test-case/check-alsabat.sh -p hw:sofsoundwire,0 -c hw:Device,0

[code]

Using audacity to anal

[2021-05-04 16:28] plbossart commented on #2908
This might be linked to https://github.com/thesofproject/linux/issues/2877 which doesn't do the mute management correctly.

[2021-05-04 17:06] plbossart commented on #2908
could also be that the controls changed with a previous commit so the capture may not be enabled.

https://github.com/thesofproject/linux/commit/ca5118c0c00f6bc8b7d0c82c95485159db3a5584

we'd need to make sure the mixer settings are updated, @libinyang should be able to help here.

[2021-05-04 19:44] plbossart commented on #2877
fixed

[2021-05-04 19:44] #2877 closed

[2021-05-04 20:15] plbossart commented on #2828
@mengdonglin any progress here, or should we revert and remove this PINCTRL for EHL in our test config?

[2021-05-05 14:23] lgirdwood opened #2890 "[FEATURE] driver should limit FW crash reports to single reports"
Currently if the FW crashes we get multiple copies of the crash dump in dmesg (i.e. one dump per tried IPC). Kernel should limit this to one dump until next FW boot. i.e. today we have poor dmesg SNR as dmesg can overflow with the same message
[code]

[2021-05-05 14:28] plbossart commented on #2890
The SNR isn't going to be fundamentally better if we remove the crash information, the ASoC core will continue doing a lot of error handling and throw repeated IPC errors. You would e.g. still get this as a result

[code]

[2021-05-05 16:18] ghost commented on #2748
Ok, I don't know if this is the place but I'm looking to finally end my troubles with audio on this particular computer and I would like to patch my kernel. I've done kernel upgrades (currently on 5.9.16 on Ubuntu 18.04) but no kernel patching.
I have a couple questions. What is the file/repository link that I should be looking for this patch? Are those the 2 .c files on tiwai's commit link or a d

[2021-05-05 16:45] plbossart commented on #2748
@AndreM-rbtcs you may want to take a look at the Ubuntu wiki https://wiki.ubuntu.com/Kernel/BuildYourOwnKernel

Once you've managed to install the kernel yourself, then you can patch it using either
'patch -p1 < 0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt' or 'git am 0001-ALSA-hda-realtek-Add-quirk-for-Lenovo-Ideapad-S740.patch.txt'
and reinstall again.

Hope this helps!

[2021-05-05 17:17] H-Park commented on #2748
Another option if you don't want to mess with patching the kernel (and re-patching for every new kernel update), is to make a service file that follows: https://github.com/thesofproject/linux/issues/2748#issuecomment-820028060

[2021-05-05 20:41] ghost commented on #2748
Thank you, both @plbossart and @H-Park. I'll try the script to see if it actually works in my case and then decide between the service and the kernel patch. You've been very helpful.

Edit: Not even the script worked for me, so probably not my issue and the kernel patch won't be a solution for me. Still get a dummy output and no input. Only fix I have found is disabling the mic with "options snd-h

[2021-05-06 05:22] ronohara commented on #2700
Installed the 5.12.1 kernel via normal Ubuntu "update_ubuntu_kernel.sh"  script (part of linux-kernel-utilities) on my x360

Has the same long delays mentioned by @hirnschmalz  ... but that can be sorted out separately.

This kernel does detect the HP sound card ... nice ... full alsa-info output is here: https://pastebin.com/nuzh58Lx

But - the Control Panel - Sound widget does not see the hardwa

[2021-05-06 06:03] libinyang commented on #2700
From the alsa-info, only hdmi and PCH dmic are probed successfully. Seem the kernel is something wrong to enable the audio driver. Please check the acpi table is correct or not.

[2021-05-06 08:58] ronohara commented on #2700
x360 tmp # acpidump >acpidump.txt
Wrong checksum for FADT!

I have the dump, but at over 2Mb it is too large for pastebin.com

Any suggestions for tools to inspect or check if the 'acpi table is correct or not'  ?

[2021-05-06 14:33] plbossart commented on #2700
@ronohara the card that's detected is for plain vanilla HDMI support (hda-dsp)

As @libinyang correctly pointed out, this HP device has an incorrect DSDT table, and the SoundWire codecs are not exposed in the DSDT, thus the kernel fails to detect SoundWire hardware.

You are missing the quirks that are needed to detect the SoundWire configuration, and these quirks will be in 5.13. Until then, thin

[2021-05-06 15:59] memegauste commented on #2485
It appears that the issue still persists in official 5.12.1 kernel in Arch Linux repository, I think the WM5102 driver should be enabled by default. Also bunch of dmesg debug logs probably are slowing the whole device.

[2021-05-06 16:21] ronohara commented on #2700
@elbossart  I could build the kernel, but when I did that it has issues with the touchpad. I don't know what Ubuntu does with their config, but theirs works.  So the simplest thing will be to wait for 5.13.

Thanks for your feedback

FYI the touchpad problem happens even when I import their .config into my build - so it is probably something else.

[2021-05-06 16:25] plbossart commented on #2700
@ronohara did you start from their kernel code? You've probably applying the Ubuntu config on a non-Ubuntu kernel, they have all kinds of backports to fix issues, they don't use a plain vanilla linux-stable.

[2021-05-06 16:36] sathya-nujella commented on #2805
sorry, by mistake labels got updated. put back the original label.

[2021-05-06 17:08] aigilea commented on #2700
@ronohara
`make menuconfig` in the root of kernel source tree
device drivers -> hid support -> i2c hid support -> check

[2021-05-06 18:59] plbossart opened #2894 "[SDW] sof_sdw machine driver BE IDs assumes order in tables"
the sof_sdw machine driver allocates BE IDs with a specific order assumed in the descriptors, we need to have headset, amp and mic, in this order. This is typically using link 0, 1/2 and 3.

But on a Dell  TGL SKU 0A3E, the devices are swapped, and the code still assumed a fixed order in the descriptor. Changing the descriptor with the following patch to list the SoundWire parts by link number (mi

[2021-05-06 21:00] plbossart commented on #2824
@keyonjie isn't this issue solved by PR #2880 already? Please close if this is the case, thank you.

[2021-05-06 21:53] plbossart commented on #2805
Thanks @mwasko, I need to backpedal and indeed your suggestion is correct. We do turn off the cores in cl_dsp_init() and read the status in the caller, I added a PR to fix this

https://github.com/thesofproject/linux/pull/2896

[2021-05-07 01:18] bardliao commented on #2894
The BE IDs order is based on the order in `snd_soc_acpi_link_adr` array.  That's why we have the link adr order in `tgl_sdw_rt711_link1_rt1308_link2_rt715_link0[]` for Dell TGL SKU 0A3E.

Agree, adding a BE ID property can help us to specific any BE ID that we want.